﻿@using Online.Registration.Web.Helper

@{
    ViewBag.Title = "Error";
}

<table>
    <tr>
        <td>
            <p class='alerttitle'>@Html.Raw(Util.SessionErrMsg.Replace(Environment.NewLine, "<br />"))</p>
            @{ Util.SessionErrMsg = ""; }

        </td>
    </tr>    
</table>
