﻿@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "Maxis E-Customer Service Tools";
}

<div class="vwHeader">
    <table width="100%">
        <tr>
            <td>
                <div>@ViewBag.Title</div>
                <div class="vwSubHeader">@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<div class="viewInnerBody">
    <div class="button-menuType">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "frmHome" }))
        { 
            @Html.Hidden("submit1")
            <table>
                <tr>
                    <td>
                        @if (Roles.IsUserInRole("MREG_C") || Roles.IsUserInRole("MREG_W") || Roles.IsUserInRole("MREG_U") || Roles.IsUserInRole("MREG_R")
                            || Roles.IsUserInRole("MREG_RA"))
                        { 
                            <button class="menuTypeConsumer button-menuType" type="submit" value="" onclick="$('#submit1').val('plan');">
                            </button>
                        
                            @*@Html.ActionLink("Plan", "BlacklistChecking", "Registration", new { type = (int)MobileRegType.PlanOnly }, new { @class = "menuTypeConsumer button-menuType" })*@
                        }
                    </td>
                    <td>
                        @if (Roles.IsUserInRole("HREG_C") || Roles.IsUserInRole("HREG_W") || Roles.IsUserInRole("HREG_U") || Roles.IsUserInRole("HREG_R")
                            || Roles.IsUserInRole("HREG_RA") || Roles.IsUserInRole("HREG_LOGC"))
                        { 
                            <button class="menuTypeHome button-menuType" type="submit" value="" onclick="$('#submit1').val('home');">
                            </button>
                        
                            @*@Html.ActionLink("Home", "BlacklistChecking", "HomeRegistration", null, new { @class = "menuTypeHome button-menuType" })*@
                        }
                    </td>
                    <td colspan="2" align="center">
                        @if (Roles.IsUserInRole("INQ_R") || Roles.IsUserInRole("COM_C"))
                        { 
                            <button class="menuTypeCustService button-menuType" type="submit" value="" onclick="$('#submit1').val('inquiry');">
                            </button>
                        
                            @*@Html.ActionLink("Inquiry", "Index", "Inquiry", null, new { @class = "menuTypeCustService button-menuType" })*@
                        }
                    </td>
                </tr>
            </table>
        }
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        //        $(document).ready(function () {
        //            $('#menuHome').css("background-image", $('#menuHome').css("background-image").replace(".png", "_hover.png"));
        //        });
    </script>
}
