﻿@using Online.Registration.Web.ViewModels;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.ExtraTenAccounts
@{
    var check = Session["ExtraTenUpdate"].ToBool();  
    var isDealer = Session["IsDealer"].ToBool();
    var idCardTypeName = Session["PPIDSearchIDType"].ToString2();
    var dealerMsidnSearch = System.Web.Configuration.WebConfigurationManager.AppSettings["DealerMsidnSearch"].ToString2() + " Manage Extra Ten";
    string CurMsisdn = Session[Online.Registration.Web.CommonEnum.SessionKey.IDCardMSiSDNNew.ToString()].ToString2();
 }           
<style type="text/css">
 input.submitETButton {
  /*margin-top: 13px;
  padding: 14px 30px;*/
  background-color: #77bf53;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: normal;
  font-family: 'frutigerroman';
  
}
input.submitETButton:hover {
  cursor: pointer;
  background-color: #343434;
  color: #fff;
}
</style>
<div id="center">
    <div class="center_box">
        <div class="content_white">
        <div id="dvDealers" style="display: none; width: 100%; azimuth: center;">
                <div class="content search-header">
                    <div id="dvMsisdnSearch" class="search-hdr-body" style="width: 100%">
                        <table width="100%">
                            <tr>
                                <td align="center">
                                    <b>@(dealerMsidnSearch)</b>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <b>MSISDN:</b>
                                    @Html.TextBox("MSISDN")
                                    <button class="cancel" type="button" value="Search" style="cursor: pointer;background-image: url(@(Url.Content("~/Content/img/shared/iSELL-Search-Button.jpg")));background-repeat: none;width: 38px;height: 35px;border: medium none;vertical-align: middle;margin-left: 8px;border-radius:8px" onclick="showdivAccDtls();">
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="content_white">
                <div id="Dealer_Error" class="ErrorClass">
                </div>
            </div>    
             <div id="DVResultDisplay">                 
        <div class="content search-header">
                    <div class="search-header-box">
                        <div class="search-hdr-title">Manage Extra Ten</div>
                    </div>
                </div>
                <div style="clear: both;">
                </div>
       
             <div class="content_white">
                <div class="search-result-wrapper">
                   <div class="SDiv">
                        <div style="padding: 10px 0 10px 10px">
                            <div style="width: 250px; float: left">
                                <b>Name </b>
                            </div>
                            
                            <div style="width: 250px; float: left">
                                <b>ID Number </b>
                            </div>
                            
                            <div style="width: 250px; float: left;">
                                <b>MSISDN </b>
                            </div>
                             @if (isDealer.ToString2() == "False")
                             {
                            <div>
                                <b>Account Number</b></div>
                             }
                            <div style="clear: both">
                            </div>
                        </div>  
                    @if (!ReferenceEquals(Model.ExtraTenAccounts1, null) && Model.ExtraTenAccounts1.Count > 0)
                    {       
                        
                        <div class="ui-search">
                            @foreach (var item in Model.ExtraTenAccounts1)
                            {
                                string hstyle = string.Empty;
                                if (isDealer)
                                {
                                    hstyle = "style=display:none";
                                }
                                 <h3 id="h3-@item.ExternalId" @hstyle>                                                                  
                                    <div style="width: 250px; float: left">@item.Customer.CustomerName</div>
                                    
                                    <div style="width: 250px; float: left">@item.Account.IDNumber</div>
                                    
                                    <div id="divMSISDN" style="width: 250px; float: left">@item.ExternalId</div>
                                     @if (isDealer.ToString2() == "False")
                                     {
                                    <div>@item.Account.AccountNumber</div>
                                     }                                
                                     </h3>
                                
                                <div style="padding: 10px;" align="right" class="account" id='divAccount-@item.ExternalId'>
                                <div id="divErrors" class="ErrorClass">
                </div>
                                    <div id="divStatus-@item.ExternalId" >
                                    </div>
                                    <table cellpadding="0" cellspacing="0" class="table table-bordered table-hover" style="width: 50%"
                                        id="tblExtraTenAccounts">
                                        @if (!ReferenceEquals(item.ExtraTenMSISDNDetails, null) && !ReferenceEquals(item.ExtraTenMSISDNDetails.RetrivedMSISDNList, null) && (item.ExtraTenMSISDNDetails.RetrivedMSISDNList.Count > 0))
                                        {

                                            foreach (var msisdn in item.ExtraTenMSISDNDetails.RetrivedMSISDNList)
                                            {
                                            <tr id='@msisdn' class="msisdninfo">
                                                <td>
                                                    @msisdn &nbsp;&nbsp;
                                                </td>
                                                <td>
                                                    <img title="Edit" src='@Url.Content("~/Content/images/edit.png")' alt="edit" msisdn="@msisdn" extnlId="@item.ExternalId" class="EditExtraTen"/>
                                                    &nbsp;&nbsp;
                                                    <img title="Delete" src='@Url.Content("~/Content/images/delete-14.png")' alt="delete" msisdn="@msisdn" extnlId="@item.ExternalId"
                                                        class="DeleteExtraTen" />
                                                    &nbsp;&nbsp;
                                                </td>
                                            </tr>
                                            <tr id='divEdit-@msisdn' class="EditOptions" style="display:none" msisdn="@msisdn">
                                                <td colspan="2">
                                                    <div align="center">
                                                        <div style="padding: 15px">
                                                            <b>Change Number</b></div>
                                                        <div style="padding: 15px">
                                                            6
                                                            <input type="text" maxlength="2" tabindex="2" style="width: 30px" id="newNum1" onkeyup="moveFocus(this)" />
                                                            -
                                                            <input type="text" style="width: 80px" tabindex="3" maxlength="10" id="newNum2" onkeyup="moveFocus(this)" />
                                                        </div>
                                                        <div style="padding: 15px">
                                                            <input type="button" class="saveChanges submitETButton" title="Save" value="Save"  msisdn="@msisdn" extnlId="@item.ExternalId" ETCounter='@item.ExtraTenMSISDNDetails.Counter'/>&nbsp;&nbsp;<input
                                                                type="button" class="cancelChanges submitETButton" title="Cancel" value="cancel" />
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="2">
                                                    MSISDNs doesn`t exist.
                                                </td>
                                            </tr>
                                        }
                                        @if (!ReferenceEquals(item.ExtraTenMSISDNDetails, null) && !ReferenceEquals(item.ExtraTenMSISDNDetails.RetrivedMSISDNList, null) && (item.ExtraTenMSISDNDetails.RetrivedMSISDNList.Count >= 0) && (item.ExtraTenMSISDNDetails.RetrivedMSISDNList.Count <= 9))
                                        {

                                            <tr>
                                                 <td colspan="2">
                                                    <div align="right">
                                                        <input type="button" id="addNewItem" class="submitETButton" value="Add Number" title="Add new number" />
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                            <tr id='newMsisdn' style="display: none" extnlId="@item.ExternalId">
                                                <td colspan="2">
                                                    <div align="center">
                                                        <div style="padding: 15px">
                                                            6
                                                            <input type="text" maxlength="2" tabindex="2" style="width: 30px" id="newNum1" onkeyup="moveFocus(this)" />
                                                            -
                                                            <input type="text" style="width: 80px" tabindex="3" maxlength="10" id="newNum2" onkeyup="moveFocus(this)"  />
                                                        </div>
                                                        <div style="padding: 15px">
                                                            <input type="button" id="addNew"  title="Add" class="submitETButton" value="Add" extnlId="@item.ExternalId" ETCounter='@item.ExtraTenMSISDNDetails.Counter'/>&nbsp;&nbsp;<input
                                                                type="button" title="Cancel" class="cancelChanges submitETButton" value="cancel" />
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                    </table>
                                </div>
                            }
                        </div>
                    }                  
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</div>
<form action="@Url.Action("UpdateExtraTenDetails", "ExtraTen")" method="post" id="frmAccountsList" class="overlayonsubmit" processmsg="Loading">
<input type="hidden" id="hdnExtMsisdn" name="extMsisdn" value="" />
<input type="hidden" id="hdnoldMSISDN" name="oldMSISDN" value="" />
<input type="hidden" id="hdnnewMSISDN" name="newMSISDN" value="" />
<input type="hidden" id="hdnOperationType" name="OperationType" value="" />
</form>

<script type="text/javascript">
function moveFocus(t) {

if (/\D/g.test(t.value))
{
 t.value = t.value.replace(/\D/g,'')
}
if ( t.value.length == 2) {
$('input#newNum2').focus();
}
}


 function showdivAccDtls() {
            debugger;
            //var msisdnno = $('#divMSISDN').html().trim();            
            var msisdnno = $('#MSISDN').val()            
            var mobregex = /^60[0-9]{8,10}$/;
            $('#Dealer_Error').hide();

            if (msisdnno == "") {
                $('#Dealer_Error').show();
                $('#Dealer_Error').html('Please Enter MSISDN.');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            else if (msisdnno != "") {                            
                if (!mobregex.test(msisdnno)) {                                
                    $('#Dealer_Error').show();
                    $('#Dealer_Error').html("Please enter valid MSISDN number");
                    return false;
                }
            }
            if ($('#h3-'+msisdnno).length > 0) {
                $('#dvDealers').hide();
                $('#DVResultDisplay').show();
                $('#tblprin tr').hide();

                $('#tblheader').show();
              
                $('#divHeader').show();

                $('h3[id^="h3-"]').each(function()
                {
                 $(this).hide();

                });
                  $('#h3-' + msisdnno).show();
                  currentDivID = msisdnno;
                //$('#' + msisdnno).find('#SelectAccountDtls').prop('checked', 'checked')         
            }
            else {
                $('#Dealer_Error').show();
                $('#Dealer_Error').html("Please enter Valid Principal/Primary MSISDN");
                return false;
            }
        }

    $(document).ready(function () {
//    if ('@(isDealer)' == "False") {
//                $("#SelectAccountDtls:first").prop('checked', 'checked');
//            } 
            $('#Dealer_Error').hide();                        
            if ('@(isDealer)' == "True") {                                    
                if ('@(idCardTypeName)' != "MSISDN" && '@(check)' == "False") {
                     $('#DVResultDisplay').hide();
                    $('#dvDealers').show();
                    $('#divHeader').hide();
                }
                else if('@(idCardTypeName)' == "MSISDN" && '@CurMsisdn' != '')
                {
                     $('#MSISDN').val('@CurMsisdn');
                        showdivAccDtls();
                }
            }

        $('#tblExtraTenAccounts img.EditExtraTen').click(function () {
         
            var msisdn = $(this).parents('tr').attr('id');
           var acctId = $(this).attr('extnlId');
           $('#divStatus-' + acctId).hide();
            //$('#tblExtraTenAccounts tr.EditOptions').find('tr[id^="divEdit-"]').hide();
             $('tr#newMsisdn').hide();
            $('#tblExtraTenAccounts tr.EditOptions').hide();
            $(this).parents('tr').next('tr#divEdit-' + msisdn).show();
        });
        $('#tblExtraTenAccounts img.DeleteExtraTen').click(function () {
        var acctId = $(this).attr('extnlId');
           $('#divStatus-' + acctId).hide();
            $('#tblExtraTenAccounts tr.EditOptions').hide();
            $('tr#newMsisdn').hide();
            var acctId = $(this).attr('extnlId');
            var msisdn = $(this).attr('msisdn');
            if (confirm("Are you sure want to delete ?"))
                PerformAction('delete', acctId, msisdn, '');
        });
        $('input.saveChanges').click(function () {

            var acctId = $(this).attr('extnlId');
            var currRow = $(this).parents('tr');
            var msisdn = $(this).attr('msisdn');
            var ETCounter =$(this).attr('ETCounter');

            if(ETCounter=='' || ETCounter=='undefined')
            {
                ETCounter = 0;
            }

            var validateNewid =currRow.find('input#newNum1').val() + currRow.find('input#newNum2').val();
            if(validateNewid=='' || validateNewid=='undefined')
            {
             $('#divStatus-' + acctId).removeClass('SuccessClass');
            $('#divStatus-' + acctId).html('MSISDN cannot be empty').addClass('ErrorClass').show();
                //alert('MSISDN cannot be empty');
                return;
            }
            var newid = '6' + currRow.find('input#newNum1').val() + currRow.find('input#newNum2').val();

            var mobregex = /^60[0-9]{8,12}$/;
            if (!mobregex.test(newid))
            {
             $('#divStatus-' + acctId).removeClass('SuccessClass');
            $('#divStatus-' + acctId).html('Please enter valid MSISDN number').addClass('ErrorClass').show();
                return;
            }

            if (msisdn == newid) {
             $('#divStatus-' + acctId).removeClass('SuccessClass');
            $('#divStatus-' + acctId).html('No changes performed').addClass('ErrorClass').show();
                //alert('No changes performed');
                return;
            }
            var IDs = [];
            $(this).parents('#tblExtraTenAccounts').find('tr.msisdninfo').each(function () { IDs.push($(this).attr('id')); });
            IDs.push(acctId);
            if (IDs.indexOf(newid) != -1) {
             $('#divStatus-' + acctId).removeClass('SuccessClass');
            $('#divStatus-' + acctId).html('MSISDN already exists with this value').addClass('ErrorClass').show();
                //alert('An MSISDN already exists with this value');
                return;
            }
            $("#mydiv").find("span").each(function () { IDs.push(this.id); });

            if(ETCounter > 10)
            {
                if (confirm("Additional charges will be applicable. Do you want to continue?"))
                    PerformAction('update', acctId, msisdn, newid);
            }
            else{
                PerformAction('update', acctId, msisdn, newid);
            }
        });
        $('input.cancelChanges').click(function () {
        $(this).parents('tr').find('input#newNum1').val('');
          $(this).parents('tr').find('input#newNum2').val('');
          $('.ErrorClass').hide();
            $(this).parents('tr').hide();
        });
        $('input#addNewItem').click(function () {
        var acctId = $(this).attr('extnlId');
           $('#divStatus-' + acctId).hide();
            $('tr.EditOptions').hide();
            var count = $(this).parents('div.account').find('tr.msisdninfo').length;
            if(count < 10)
            {
                 $(this).parents('div.account').find('tr#newMsisdn').show();
            }
            else
            {
                alert('Extra Ten Maximum Count Reached, Cannot Add more');
            }

        });

        $('input#addNew').click(function () {
            var acctId = $(this).attr('extnlId');
            var currRow = $(this).parents('div.account').find('tr#newMsisdn[extnlId="' + acctId + '"]');
            var validateNewid =currRow.find('input#newNum1').val() + currRow.find('input#newNum2').val();
            var ETCounter =$(this).attr('ETCounter');

            if(ETCounter=='' || ETCounter=='undefined')
            {
                ETCounter = 0;
            }

            if(validateNewid=='' || validateNewid=='undefined')
            {
             $('#divStatus-' + acctId).removeClass('SuccessClass');
            $('#divStatus-' + acctId).html('MSISDN cannot be empty').addClass('ErrorClass').show();
                //alert('MSISDN cannot be empty');
                return;
            }
            var newid = '6' + currRow.find('input#newNum1').val() + currRow.find('input#newNum2').val();
            var mobregex = /^60[0-9]{8,12}$/;
            if (!mobregex.test(newid))
            {
             $('#divStatus-' + acctId).removeClass('SuccessClass');
            $('#divStatus-' + acctId).html('Please enter valid MSISDN number').addClass('ErrorClass').show();
               // alert('Please enter valid MSISDN number');
                return;
            }
            var IDs = [];
            $(this).parents('#tblExtraTenAccounts').find('tr.msisdninfo').each(function () { IDs.push($(this).attr('id')); });
            IDs.push(acctId);
            if (IDs.indexOf(newid) != -1) {
            $('#divStatus-' + acctId).removeClass('SuccessClass');
            $('#divStatus-' + acctId).html('MSISDN already exists with this value').addClass('ErrorClass').show();
                return;
            }

            if(ETCounter > 10)
            {   
                if (confirm("Additional charges will be applicable. Do you want to continue?"))
                    PerformAction('add', acctId, '', newid);
            }
            else
            {
                PerformAction('add', acctId, '', newid);
            }
        });
        setTimeout(extraTenCallBack, 300);

    });

    var extranTenObj = function () {
        this.OperationType = "";
        this.OldMSISDN = "";
        this.NewMSISDN = "";
        this.ExtraTenMSISDN = "";
    }



    function PerformAction(actionType, acctId, oldMdisdn, newMsisdn) {
        var obj = new extranTenObj();
        obj.OperationType = actionType;
        obj.ExtraTenMSISDN = acctId;
        obj.OldMSISDN = oldMdisdn;
        obj.NewMSISDN = newMsisdn;
        var extraTen = [obj];
        $("#hdnExtMsisdn").val(acctId);
        $("#hdnoldMSISDN").val(oldMdisdn);
        $("#hdnnewMSISDN").val(newMsisdn);
        $("#hdnOperationType").val(actionType);                
        $('#frmAccountsList').submit();                
    }

    function extraTenCallBack() {
            var status = @Html.Raw(Json.Encode(TempData["Result"]));            
            if(status != undefined)
            { 
            $('#h3-'+status.ExternalMsisdn).show();
            if (status.status != 0) {                
                //$('#divStatus-' + status.ExternalMsisdn).html('Unable to '+ status.OperationType+','+status.statusReason).addClass('ErrorClass').show();
                
                if(status.ErrorMsg!=null || status.ErrorMsg!=''){
                    $('#divStatus-' + status.ExternalMsisdn).html(status.ErrorMsg).addClass('ErrorClass').show();
                }
                else
                {
                    $('#divStatus-' + status.ExternalMsisdn).html('Provided number is not supported to add in Extra 10 ').addClass('ErrorClass').show();
                }
                $('#h3-' + status.ExternalMsisdn).trigger('click');
                if (status.OperationType == "add") {
                    $('#divAccount-' + status.ExternalMsisdn).find('input#addNewItem').trigger('click');
                    $('#divAccount-' + status.ExternalMsisdn + ' #newMsisdn #newNum1').val(status.NewMSISDN.substr(1, 2));
                    $('#divAccount-' + status.ExternalMsisdn + ' #newMsisdn #newNum2').val(status.NewMSISDN.substring(3));
                }
                else if (status.OperationType == "update") {
                    $('img.EditExtraTen[extnlId="' + status.ExternalMsisdn + '"][msisdn="' + status.OldMSISDN + '"]').trigger('click');
                    $('#divAccount-' + status.ExternalMsisdn + ' tr#divEdit-' + status.OldMSISDN).find('#newNum1').val(status.NewMSISDN.substr(1, 2));
                    $('#divAccount-' + status.ExternalMsisdn + ' tr#divEdit-' + status.OldMSISDN).find('#newNum2').val(status.NewMSISDN.substring(3));
                }
            }
            else {                   
                if (status.OperationType == "delete") {
                    $('#divStatus-' + status.ExternalMsisdn).html("Record Deleted Successfully.").addClass('SuccessClass').show();
                    $('#h3-' + status.ExternalMsisdn).trigger('click');
                    var delimg = $('img.DeleteExtraTen[extnlid="' + status.ExternalMsisdn + '"][msisdn="' + status.OldMSISDN + '"] ');
                    delimg.parents('tr.msisdninfo').remove();
                }
                else if(status.OperationType == "update")
                {
                     $('#divStatus-' + status.ExternalMsisdn).html("Record Updated Successfully.").addClass('SuccessClass').show();
                     $('#h3-' + status.ExternalMsisdn).trigger('click');                     
                }
                else
                {
                     $('#divStatus-' + status.ExternalMsisdn).html("Record Added Successfully.").addClass('SuccessClass').show();
                     $('#h3-' + status.ExternalMsisdn).trigger('click');
                }
            }
        }


    }

</script>
