﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using Online.Registration.Admin.Models

@model ItemPriceViewModel

@{
    ViewBag.Title = "Add Item Price";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Add:</legend>
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ItemPrice.BdlPkgID)
                </td>
                <td>
                    @if (Model.BundlePackageID == 0)
                    { 
                        @(Html.Telerik().DropDownListFor(model => model.ItemPrice.BdlPkgID).BindTo(Util.GetPkgCompList(Settings.Default.Bundle_Package, defaultValue:"")))
                        @Html.ValidationMessageFor(model => model.ItemPrice.BdlPkgID)
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.BundlePackageID, new { @disabled = true, @Value = Util.GetNameByID(RefType.PgmBdlPkgComp, Model.BundlePackageID), @style = "width:250px" }) 
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ItemPrice.PkgCompID)
                </td>
                <td>
                    @if (Model.PackageCompID == 0)
                    { 
                        @(Html.Telerik().DropDownListFor(model => model.ItemPrice.PkgCompID).BindTo(Util.GetPkgCompList(Settings.Default.Package_Component, defaultValue:"")))
                        @Html.ValidationMessageFor(model => model.ItemPrice.PkgCompID)
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.PackageCompID, new { @disabled = true, @Value = Util.GetNameByID(RefType.PgmBdlPkgComp, Model.PackageCompID), @style = "width:250px" }) 
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.ItemPrice.ModelID)
                    </div>
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => model.ItemPrice.ModelID).BindTo(Util.GetList(RefType.Model, defaultValue:"")))
                    @Html.ValidationMessageFor(model => model.ItemPrice.ModelID)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.ItemPrice.Price)
                    </div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ItemPrice.Price, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.ItemPrice.Price)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" name="submit" value="Save">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
}