﻿@using Online.Registration.Admin.Models;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;

@model ItemPriceViewModel

@{
    ViewBag.Title = "Edit Item Price";
}
           
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />           
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Add:</legend>
        @Html.HiddenFor(model => model.ItemPrice.ID)
        <table>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.ItemPrice.ID)
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(model => model.ItemPrice.ID)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ItemPrice.BdlPkgID)
                </td>
                <td>
                    @if (Model.Type == Settings.Default.Bundle_Package)
                    { 
                        @Html.TextBoxFor(model => model.ItemPrice.BdlPkgID, new { @disabled = true, @Value = Util.GetNameByID(RefType.PgmBdlPkgComp, Model.ItemPrice.BdlPkgID), @style = "width:250px" }) 
                        @Html.HiddenFor(model => model.ItemPrice.BdlPkgID)
                    }
                    else
                    {
                        @(Html.Telerik().DropDownListFor(model => model.ItemPrice.BdlPkgID).BindTo(Util.GetPkgCompList(Settings.Default.Bundle_Package)))
                        @Html.ValidationMessageFor(model => model.ItemPrice.BdlPkgID)
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ItemPrice.PkgCompID)
                </td>
                <td>
                    @if (Model.Type == Settings.Default.Package_Component)
                    { 
                        @Html.TextBoxFor(model => model.ItemPrice.PkgCompID, new { @disabled = true, @Value = Util.GetNameByID(RefType.PgmBdlPkgComp, Model.ItemPrice.PkgCompID), @style = "width:250px" }) 
                        @Html.HiddenFor(model => model.ItemPrice.PkgCompID)
                    }
                    else
                    {
                        @(Html.Telerik().DropDownListFor(model => model.ItemPrice.PkgCompID).BindTo(Util.GetPkgCompList(Settings.Default.Package_Component)))
                        @Html.ValidationMessageFor(model => model.ItemPrice.PkgCompID)
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.ItemPrice.ModelID)
                    </div>
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => model.ItemPrice.ModelID).BindTo(Util.GetList(RefType.Model)))
                    @Html.ValidationMessageFor(model => model.ItemPrice.ModelID)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.ItemPrice.Price)
                    </div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ItemPrice.Price, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.ItemPrice.Price)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.ItemPrice.CreateDT)
                    </div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ItemPrice.CreateDT, new { @style = "width:250px", @disabled = true })
                    @Html.ValidationMessageFor(model => model.ItemPrice.CreateDT)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.ItemPrice.LastUpdateDT)
                    </div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ItemPrice.LastUpdateDT, new { @style = "width:250px", @disabled = true })
                    @Html.ValidationMessageFor(model => model.ItemPrice.LastUpdateDT)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.ItemPrice.LastAccessID)
                    </div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ItemPrice.LastAccessID, new { @style = "width:250px", @disabled = true })
                    @Html.ValidationMessageFor(model => model.ItemPrice.LastAccessID)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ItemPrice.Active)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.ItemPrice.Active) 
                    @Html.ValidationMessageFor(model => model.ItemPrice.Active)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" name="submit" value="Save">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
}