﻿@using Online.Registration.Admin.Models;
@using Online.Registration.Web.Helper;
@using Online.Registration.DAL.Models;

@model SearchViewModelItemPrice

@{
    ViewBag.Title = "ItemPrice";
    string strForm = "frmItemPrice";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
    <a class="t-button t-button-icontext" href="@Url.Action("Create")"><span class="t-icon t-add">
    </span>Add New</a>
</div>
<br />
@using (Html.BeginForm("Index", "Model", FormMethod.Post, new { id = strForm, name = strForm }))
{
    <fieldset runat="server">
        <legend style="margin-right: 500px">Search:</legend>
        <table>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(m => m.SearchCriterias.BdlPkgID)</div>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.SearchCriterias.BdlPkgID, new { @style = "width:100px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.SearchCriterias.PkgCompID)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.SearchCriterias.PkgCompID, new { @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.SearchCriterias.Model)
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(m => m.SearchCriterias.Model)
            .BindTo(Util.GetList(RefType.Model, defaultText: "ALL"))
                        )
                </td>
            </tr>
        </table>
    </fieldset>
@*</div>*@
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icontext" type="submit" value="Search" name="Search">
            <span class="t-icon t-search"></span>Search</button>
            <button class="t-button t-button-icontext" type="button" value="Reset" onclick="Reset();">
            <span class="t-icon t-cancel"></span>Reset
        </button>
    </div>
    <br />
    @*if (Model == null || Model.SearchResults == null || Model.SearchResults.Count() == 0)
    { 
    <p>
        No Record Found!</p>
    }*@
    //if (Model != null && Model.SearchResults != null && Model.SearchResults.Count() > 0)
    //{
    <text><b>Search Result:</b></text>
        Html.Telerik().Grid<ItemPriceSearchResults>(Model.SearchResults).Name("gvwItemPrice")
            .Sortable()
        .Columns(cols =>
        {
            cols.Command(command => command
            .Custom("Edit")
            .Text("Edit")
            .DataRouteValues(route => route.Add(a => a.ItemPriceID).RouteKey("id"))
            .SendState(false)
            .Action("Edit", "ItemPrice"))
            .HtmlAttributes(new { style = "text-align: center" })
            .Width(90)          
            .Title("Action");
            cols.Bound(m => m.PkgCompID).Title("Package Component").Width(80);
            cols.Bound(m => m.BdlPkgID).Title("Bundle Package").Width(200);
            cols.Bound(m => m.Model).Title("Model").Width(200);
            cols.Bound(m => m.ActiveCheckBox).Title("Active").Width(50).Encoded(false);
            cols.Bound(m => m.CreateDT).Title("Created On");
            cols.Bound(m => m.LastUpdateDT).Title("Last Updated");
            cols.Bound(m => m.LastAccessID).Title("Last Access");
        }).DataBinding(databinding => databinding.Ajax().Select("IndexPaging", "Model", new
        {
            code = Model.SearchCriterias.PkgCompID,
            name = Model.SearchCriterias.BdlPkgID,
            model = Model.SearchCriterias.Model,
        }))
        .Pageable(paging => paging.PageSize(Util.GridRowsPerPage))
            .Render();
    //}
}
@section scripts
{
    <script type="text/javascript">
        function brandList(categoryID) {
            var categoryDDL = $('#CategoryID').data('tDropDownList');
            var selectedCategoryID = categoryID.value
            var brandDDL = $('#BrandID').data('tDropDownList');
            brandDDL.dataBind([{ Text: "All", Value: "0"}]);
            brandDDL.select(0);

            if (selectedCategoryID == "" || selectedCategoryID == "0")
                return;
            var brandURL = '@(Url.Content("~/Model/GetBrandList"))';
            $.ajax
            (
                {
                    type: "POST",
                    url: brandURL,
                    data: { CategoryID: categoryID, defaultText: "All" },
                    datatype: "JSON",
                    success: function (result) {
                        var brandDDL = $('#BrandID').data('tDropDownList');
                        brandDDL.dataBind(result);
                        brandDDL.select(0);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('error!' + jqXHR + textStatus + errorThrown);
                    }
                }
            );
        }

        function resetBrandDDL() {
            bindBrandDDL();
        }
        function bindBrandDDL() {
            var brandDDL = $('#BrandID').data('tDropDownList');
            brandDDL.dataBind([{ Text: "All", Value: "0"}]);
            brandDDL.select(0);
        }
        function populateBrandDDL(result) {
            var brandDDL = $('#BrandID').data('tDropDownList');
            brandDDL.dataBind(result);
            brandDDL.select(0);
        }
        function getBrandList(categoryID, defaultText) {
            var brandURL = '@(Url.Content("~/Model/GetBrandList"))';
            $.ajax
            (
                {
                    type: "POST",
                    url: brandURL,
                    data: { CategoryID: categoryID, defaultText: defaultText },
                    datatype: "JSON",
                    success: function (result) {
                        populateBrandDDL(result);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('error!' + jqXHR + textStatus + errorThrown);
                    }
                }
            );
        }
        function Reset() {
            var code = $('#SearchCriterias_Code');
            var name = $('#SearchCriterias_Name');
            var brandID = $('#SearchCriterias_BrandID').data('tDropDownList');
            code.val('');
            name.val('');
            brandID.select(0);
        }
    </script>
}

