﻿@using Online.Registration.Admin.Models;
@using Online.Registration.Web.Helper;
@using SNT.Utility;

@model UpdateViewUserGroupModel

@{
    ViewBag.Title = "Edit User Group";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Edit:</legend>
        @Html.HiddenFor(model => model.UserGroup.ID)
        <table>
            <tr>
                <td>@Html.LabelFor(model => model.UserGroup.ID)</td>
                <td>@Html.DisplayFor(model => model.UserGroup.ID)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.UserGroup.OrgID)
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => Model.UserGroup.OrgID).BindTo(Util.GetList(RefType.Organization, defaultValue:"")))
                    @Html.ValidationMessageFor(model => model.UserGroup.OrgID)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.UserGroup.Code)
                    </div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.UserGroup.Code, new { @style = "width:100px" })
                    @Html.ValidationMessageFor(model => model.UserGroup.Code)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.UserGroup.Name)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.UserGroup.Name, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.UserGroup.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.UserGroup.CreateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.UserGroup.CreateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.UserGroup.CreateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.UserGroup.LastUpdateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.UserGroup.LastUpdateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.UserGroup.LastUpdateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.UserGroup.LastAccessID)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.UserGroup.LastAccessID, new { @readonly = true, @disabled = true, @style="width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.UserGroup.Active)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.UserGroup.Active) 
                    @Html.ValidationMessageFor(model => model.UserGroup.Active)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" name="submit" value="Save">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
    <br />
    if (Model.UserGroup.Active == true)
    {
        <div class="header">
        <h3>User Group Access List</h3>
        </div>       
        <a class="t-button t-button-icontext" href="@Url.Action("Create", "UserGroupAccess", new { userGroupID = Model.UserGroup.ID, type = RefType.UserGroup })">
        <span class="t-icon t-add"></span>Add New</a>
        <br /><br />
        Html.Telerik().Grid<UserGroupAccessSearchResults>(Model.UserGroupAccess).Name("gvwUserGrpAccess")
            .Sortable()
            .Columns(cols =>
            {
                cols.Command(command => command
                    .Custom("Edit")
                    .Text("Edit")
                    .DataRouteValues(route => route.Add(a => a.UserGroupAccessID).RouteKey("id"))
                    .DataRouteValues(route => route.Add(a => RefType.UserGroup).RouteKey("type"))
                    .SendState(false)
                    .Action("Edit", "UserGroupAccess"))
                    .HtmlAttributes(new { style = "text-align: center" })
                    .Width(90)
                    .Title("Action");
                cols.Bound(m => m.Access).Title("Access");
                cols.Bound(m => m.ActiveCheckBox).Title("Active").Width(8).Encoded(false);
                cols.Bound(m => m.CreateDT).Title("Created On");
                cols.Bound(m => m.LastUpdateDT).Title("Last Updated");
                cols.Bound(m => m.LastAccessID).Title("Last Access");
            })
            .DataBinding(binding => binding.Ajax().OperationMode(GridOperationMode.Client))
            .Pageable(paging => paging.PageSize(Util.GridRowsPerPage))
            .Render();
         
        <br /><br />           
        <div class="header">
        <h3>User Group Role List</h3>
        </div>       
        <a class="t-button t-button-icontext" href="@Url.Action("Create", "UserGroupRole", new { userGroupID = Model.UserGroup.ID, type = RefType.UserGroup })">
        <span class="t-icon t-add"></span>Add New</a>
        <br /><br />
        Html.Telerik().Grid<UserGroupRoleSearchResults>(Model.UserGroupRole).Name("gvwUserGrpRole")
            .Sortable()
            .Columns(cols =>
            {
                cols.Command(command => command
                    .Custom("Edit")
                    .Text("Edit")
                    .DataRouteValues(route => route.Add(a => a.UserGroupRoleID).RouteKey("id"))
                    .DataRouteValues(route => route.Add(a => RefType.UserGroup).RouteKey("type"))
                    .SendState(false)
                    .Action("Edit", "UserGroupRole"))
                    .HtmlAttributes(new { style = "text-align: center" })
                    .Width(90)
                    .Title("Action");
                cols.Bound(m => m.UserRole).Title("User Role");
                cols.Bound(m => m.ActiveCheckBox).Title("Active").Width(8).Encoded(false);
                cols.Bound(m => m.CreateDT).Title("Created On");
                cols.Bound(m => m.LastUpdateDT).Title("Last Updated");
                cols.Bound(m => m.LastAccessID).Title("Last Access");
            })
            .DataBinding(binding => binding.Ajax().OperationMode(GridOperationMode.Client))
            .Pageable(paging => paging.PageSize(Util.GridRowsPerPage))
            .Render();
    }
}

    