﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.SubscriberICService;
@using Telerik.Web.Mvc.UI;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Controllers;
@model Online.Registration.Web.Models.SupplementaryListAccounts
@{
    ViewBag.Title = "Bill Delivery Options";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    var isBlacklisted = ViewBag.isBlacklisted;
    var resultMsg = Session["RegMobileReg_ResultMessage"].ToString2();
    bool newUser = true;
    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        newUser = false;
    }
    if (ReferenceEquals(Model, null))
    {
        newUser = true;
    }

    var idCardTypeName = Session["PPIDSearchIDType"].ToString2();
    var isDealer = Session["IsDealer"].ToBool();
    var dealerMsidnSearch = System.Web.Configuration.WebConfigurationManager.AppSettings["DealerMsidnSearch"].ToString2() + " Bill Delivery Options";

    List<string> allowedPrefixes = new List<string>();
    if (System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"] != null)
    {
        allowedPrefixes = System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"].ToString2().Split(',').ToList();
    }
    
    retrieveAcctListByICResponse AcctListByICResponse = null;
    if (SessionManager.Get("PPIDInfo") != null)
    {
        AcctListByICResponse = (retrieveAcctListByICResponse)SessionManager.Get("PPIDInfo");
    }
 }

<div class="container ipad-container">
    <div class="isell-base">
        <div class="row">
            <div class="col-sm-10">
                <h2 style="padding-left:15px;">
                    Update Bill Delivery Options:
                </h2>
                <h4 style="padding-left:15px;"><span>@AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList().FirstOrDefault().Customer.Title</span> @AcctListByICResponse.itemList.Where(c => c.Account != null).ToList().FirstOrDefault().Account.Holder</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 green-bg">
                <p class="font-24">@ViewBag.Title</p>
            </div>
        </div>
        <div class="row">
        @using (Html.BeginForm("AccountsList", "BillDelivery", FormMethod.Post, new { id = "frmCAccounts", defaultbutton = "Continue", onSubmit = "return fnValidateAccountSelection();", @class = "overlayonsubmit", processmsg = "Loading" }))
        {
            <div id="dvDealers" class="tab-content" style="display: none; width: 100%; azimuth: center;">
                <div class="content search-header">
                    <div id="dvMsisdnSearch" class="search-hdr-body" style="width: 100%">
                        <table width="100%">
                            <tr>
                                <td align="center">
                                    <b>@(dealerMsidnSearch)</b>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <b>MSISDN:</b>
                                    @Html.TextBox("MSISDN")
                                    <button class="cancel" type="button" value="Search" style="cursor: pointer;background-image: url(@(Url.Content("~/Content/img/shared/iSELL-Search-Button.jpg")));background-repeat: none;width: 38px;height: 35px;border: medium none;vertical-align: middle;margin-left: 8px;border-radius:8px" onclick="showdivAccDtls();">
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="content_white">
                <div id="Dealer_Error" class="ErrorClass">
                </div>
            </div>
            
            <div class="col-sm-12">
                @Html.ValidationSummary()
                <div id="DVResultDisplay" class="tab-content">
                    <div class="content search-header">
                        <div class="search-header-box">
                            <div class="search-hdr-title"><p class="device-title">Choose customer account</p></div>
                        </div>
                    </div>
                    <div class="tab-content font-16">
                        <div id="dvError" class="ErrorClass" style="padding-bottom: 10px; color: Red;">
                        </div>
                        @if (!newUser && Model.SuppListAccounts.Count > 0)
                        {
                            var icount = 0;
                            <div id="Grid" class="crp-wrapper">
                                @if (isDealer==true)
                                {
                                    if (idCardTypeName != "MSISDN")
                                    {
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td>
                                                <b>ID No :</b>
                                                @foreach (var Acd in Model.SuppListAccounts)
                                                {
                                                    @Acd.IDNumber
                                               break;
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                    }
                                }
                                else
                                {
                                     <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td>
                                                <b>ID No :</b>
                                                @foreach (var Acd in Model.SuppListAccounts)
                                                {
                                                    @Acd.IDNumber
                                               break;
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                }
                                <table width="100%" cellpadding="0" cellspacing="0" border="0" id="tblprin" style="margin-top: 20px;">
                                    <tbody>
                                        <tr class="row-bold-header" id="tblheader">
                                            <td align="center">
                                                Action
                                            </td>
                                            <td>
                                                Name
                                            </td>
                                            <td>
                                                MSISDN
                                            </td>                                         
                                            @if (isDealer.ToString2() == "False")
                                            {
                                                <td>
                                                Account Number
                                            </td>
                                                <td>
                                                    Prin/Primary MSISDN
                                                </td>
                                                <td>
                                                    Account Type
                                                </td>                                            
                                                <td>
                                                    Status
                                                </td>
                                            }
                                        
                                        </tr>
                                        @foreach (var Acd in Model.SuppListAccounts)
                                        {
                                            var itemval = string.Empty;
                                            if (Acd.IsMISM)
                                            {
                                                itemval = Acd.PrinMsisdn == string.Empty || Acd.externalId == null ? Acd.externalId : Acd.PrinMsisdn;
                                            }
                                            else
                                            {
                                                itemval = Acd.externalId;
                                            }

                                            bool checkedState = (icount == 0 && idCardTypeName == "MSISDN") ? true : false;
                                            icount++;
                                            if (allowedPrefixes.Contains(Acd.externalId.Substring(0, 3)))
                                            {
                                                string curSimType = " - " + Acd.AccountType;
                                                if (!Acd.IsMISM)
                                                {
                                                    curSimType = Acd.AccountName + curSimType;
                                                }
                                                else
                                                {
                                                    curSimType = "MISM" + curSimType;
                                                }
                                                string AccountStatuses = "Not Available";
                                                switch (Acd.AccountStatus)
                                                {
                                                    case "B":
                                                        AccountStatuses = "Barred";
                                                        break;
                                                    case "S":
                                                        AccountStatuses = "Suspended";
                                                        break;
                                                    case "T":
                                                        AccountStatuses = "Terminated";
                                                        break;
                                                    case "A":
                                                        AccountStatuses = "Active";
                                                        break;
                                                    case "D":
                                                        AccountStatuses = "Deactive";
                                                        break;
                                                    default:
                                                        AccountStatuses = "Active";
                                                        break;
                                                }
                                        
                                            <tr class="row-body" id="div-@itemval">
                                                <td align="center">@Html.RadioButton("SelectAccountDtls", Acd.AccountNumber + "," + Acd.externalId + "," + Acd.SubscribeNo + "," + Acd.SubscribeNoResets + "," + Acd.AccountStatus + "," + Acd.IsMISM + "," + Acd.AccountType + "," + Acd.WriteOffAmount.ToString() + "," + Acd.PrinMsisdn + "," + Acd.Category + "," + Acd.MarketCode, checkedState)
                                                </td>
                                                <td>@Acd.Holder
                                                </td>
                                                <td>@*@Acd.externalId*@
                                                    @if (curSimType.ToUpper() != "MISM - S")
                                                    {
                                                        @Acd.externalId
                                                    }
                                                    else
                                                    {
                                                        @:&nbsp;
                                                                                                                                                }
                                                </td>                                      
                                                @if (isDealer.ToString2() == "False")
                                                {
                                                    <td>@Acd.AccountNumber
                                                </td>
                                                    <td>@Acd.PrinMsisdn
                                                    </td>
                                                    <td>
                                                        @curSimType
                                                    </td>                                                
                                                    <td>
                                                        @AccountStatuses
                                                    </td>
                                                }
                                            
                                            </tr>
                                    
                                            }
                                        }
                                    </tbody>
                                </table>
                                <br />
                            </div> 
                        }
                        else
                        {
                            <div id="DVShowNewUSerMsg">
                                No Principal accounts exists for the user</div>
                        }
                    </div>
                </div>
            </div>
        }
        </div>
        <div class="row">
            <div style="height: 40px;" class="border-top">
                <div style="float: right; padding: 20px 30px" id="divHeader">
                    <input class="btn isell-next" style="width: 100%" type="submit" value="Continue" onclick="$('#frmCAccounts').submit();"
                        id="Continue" name="Continue" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script src="@Url.Content("~/Scripts/js/tablefilter_all_min.js")" type="text/javascript"></script>

    <script type="text/javascript" language="javascript">
        $(document).ready(function () {

            if ('@(isDealer)' == "False") {
                $("#SelectAccountDtls:first").prop('checked', 'checked');
            }
            $('#Dealer_Error').hide();
            if ('@(isDealer)' == "True") {
                if ('@(idCardTypeName)' != "MSISDN") {
                    $('#DVResultDisplay').hide();
                    $('#dvDealers').show();
                    $('#divHeader').hide();
                }
            }

        });
        function showdivAccDtls() {
            debugger;
            var msisdnno = $('#MSISDN').val().replace(/\s/g, "");
            var mobregex = /^60[0-9]{8,10}$/;
            $('#Dealer_Error').hide();

            if (msisdnno == "") {
                $('#Dealer_Error').show();
                $('#Dealer_Error').html('Please Enter MSISDN.');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            else if (msisdnno != "") {
                if (!mobregex.test(msisdnno)) {
                    $('#Dealer_Error').show();
                    $('#Dealer_Error').html("Please enter valid MSISDN number");
                    return false;
                }
            }
            //            if ($('#' + msisdnno).length > 0) {
            //                $('#dvDealers').hide();
            //                $('#DVResultDisplay').show();
            //                $('#tblprin tr').hide();

            //                $('#tblheader').show();
            //                $('#' + msisdnno).show();
            //                $('#divHeader').show();
            //                $('#' + msisdnno).find('#SelectAccountDtls').prop('checked', 'checked')         
            //            }
            if ($('tr#div-' + msisdnno).length > 0) {
                $('#dvDealers').hide();
                $('#DVResultDisplay').show();
                $('#tblprin tr').hide();

                $('#tblheader').show();
                $('tr#div-' + msisdnno).show();
                $('#divHeader').show();
                $('tr:first#div-' + msisdnno).find('#SelectAccountDtls').prop('checked', 'checked')
            }
            else {
                $('#Dealer_Error').show();
                $('#Dealer_Error').html("Please enter Valid Principal/Primary MSISDN");
                return false;
            }
        }

        function Validation() {
            if (!$("input:radio[name='SelectAccountDtls']").is(":checked")) {
                $('#dvError').html("Please select an account to proceed further.");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            var selectedVal = "";
            var selectedVal = $('input[name=SelectAccountDtls]:checked').val();
            var valNew = [];
            valNew = selectedVal.split(',');
            if (valNew.length == 7) {
                if (valNew[4] != "A" && valNew[4] != "") {

                    var status = "";
                    if (valNew[4].toString() == "S") {
                        status = 'Suspend';
                    }
                    else if (valNew[4].toString() == "B") {
                        status = 'Barred';
                    }
                    else if (valNew[4].toString() == "D") {
                        status = 'Deactive';
                    }
                    $('#dvError').html("Your Number is on " + status + " status");
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                }
                if (parseInt(valNew[6]) > 0) {
                    $('#dvError').html("The selected MSISDN is classified under Writeoff Account, CRP is not allowed");
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                }
            }
            //if (valNew.length == 8) {
            if (valNew[4] != "A" && valNew[4] != "") {

                var status = "";
                if (valNew[4].toString() == "S") {
                    status = 'Suspend';
                }
                else if (valNew[4].toString() == "B") {
                    status = 'Barred';
                }
                else if (valNew[4].toString() == "D") {
                    status = 'Deactive';
                }
                $('#dvError').html("Your Number is on " + status + " status");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }

            if (parseInt(valNew[7]) > 0) {
                $('#dvError').html("The selected MSISDN is classified under Writeoff Account, CRP is not allowed");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            //}
            return true;
        }
        function fnValidateAccountSelection() {
            var selectedAccount = '';
            $('input[name=SelectAccountDtls]').each(function () {
                if (this.checked) {
                    selectedAccount = $(this).val();
                }
            });
            if (selectedAccount != '')
                return true;
            else {
                $('#dvError').html("Please select an Account");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }

        }
        var table_Props = {
            stylesheet: '@Url.Content("~/Content/css/filtergrid.css")',
            on_keyup: true, 
            on_keyup_delay: 100, 
            col_0: "none",
            col_1: "none",
            col_3: "select",
            col_4: "select",
            col_5: "select",
            col_6: "select",
            display_all_text: "[All]"
        };
        var tf = setFilterGrid("tblprin", table_Props);
        $('.flt').addClass('flt_old');
    </script>
}
