﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.Properties;
<script type="text/javascript">
<!--
    if (window.history.forward(1) != null) {
        window.history.forward(1);
    }
//-->  
</script>
@{
    ViewBag.Title = "Bill Delivery Options";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div>
    <div class="row">
        <div class="col-sm-12 green-bg">
            <p class="font-24">@ViewBag.Title</p>
        </div>
    </div>
</div>
<div align="center">
    <h4>Registration has been submitted successfully.</h4><br />
    <h3>
        Click
       
            @Html.ActionLink("HERE", "BillDeliveryOptionsConfirm", new { regID = Session["RegID"] }, new { style = "color:#5fb848;font-weight:bold;text-decoration:none" }) 
       
        to view registration or <a href="@(Url.Content("~/BillDelivery/PrintMobileRF?id=" + Session["RegID"]))" target="_blank" style="text-decoration:none" >
            <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
            Print </a>the registration form.
    </h3>
</div>
