﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.SubscriberICService;
@using Telerik.Web.Mvc.UI;
@using Online.Registration.Web.CommonEnum;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Controllers;
@model Online.Registration.Web.ViewModels.BillDeliveryVM
@{
    ViewBag.Title = "Bill Delivery Options";
    Layout = "~/Views/Shared/_NewLayout.cshtml";

    retrieveAcctListByICResponse AcctListByICResponse = null;
    if (SessionManager.Get("PPIDInfo") != null)
    {
        AcctListByICResponse = (retrieveAcctListByICResponse)SessionManager.Get("PPIDInfo");
    }
}

<div class="container ipad-container">
    <div class="isell-base">
        <div class="row">
            <div class="col-sm-10">
                <h2 style="padding-left:15px;">
                    Update Bill Delivery Options:
                </h2>
                <h4 style="padding-left:15px;"><span>@AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList().FirstOrDefault().Customer.Title</span> @AcctListByICResponse.itemList.Where(c => c.Account != null).ToList().FirstOrDefault().Account.Holder</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 green-bg">
                <p class="font-24">@ViewBag.Title</p>
            </div>
        </div>
        <div class="row font-16">
        @using (Html.BeginForm("BillDeliveryOptionsList", "BillDelivery", FormMethod.Post, new { id = "frmBillDeliveryOptionsList", defaultbutton = "Submit", onSubmit = "", @class = "overlayonsubmit", processmsg = "Loading" }))
        {
            @Html.HiddenFor(model => model.TabNumber)
            <div id="DVResultDisplay">
                <div class="content_white" style="padding: 20px;">
                    <div id="dvError" class="ErrorClass" style="color: Red;">
                    @Html.ValidationSummary()
                    </div>
                    <table width="90%" cellpadding="0" cellspacing="0" border="0" id="tblprin" style="margin-top: 20px;">
                        <tbody>
                            <tr class="row-bold-header" id="tblheader">
                                <td align="left" colspan="3">
                                    * Please note the current options selected for Bill Delivery for this account.
                                </td>
                            </tr>
                            <tr class="row-body">
                                <td align="left">Deliver via *</td>
                                <td>:</td>
                                <td>
                                @Html.RadioButtonFor(model => model.BillDeliveryDetails.EmailBillSubscription, "Y", new { onchange = "toggleEmailAddress(this);", id = "rbDeliverViaEmail" }) @Constants.BILLDELIVERY_EMAIL <br />
                                @Html.RadioButtonFor(model => model.BillDeliveryDetails.EmailBillSubscription, "N", new { onchange = "toggleEmailAddress(this);", id = "rbDeliverViaPost" }) @Constants.BILLDELIVERY_POST
                                </td>   
                            </tr>
                            <tr class="row-body" id="trEmailAddress">
                                <td align="left">Email to *</td>
                                <td>:</td>
                                <td>@Html.TextBoxFor(model => model.BillDeliveryDetails.EmailAddress, new { id = "ebillEmailAddress" })
                                </td>   
                            </tr>
                            <tr class="row-body">
                                <td align="left">SMS Notification * 
                                <a href="#" class="callBackTip exampleTip" title="@Constants.TOOLTIP_BILLDELIVERY_SMSNOTIF">
                                    <img alt="Simple_tooltip_help_icon" src='@Url.Content("~/Content/images/simple_tooltip_help_icon.png")' title="@Constants.TOOLTIP_BILLDELIVERY_SMSNOTIF"/>
                                </a>
                                </td>
                                <td>:</td>
                                <td>
                                    @Html.RadioButtonFor(model => model.BillDeliveryDetails.SmsAlertFlag, "Y", new { onchange = "toggleMobileNumber(this);", id = "rbSmsAlertFlagYes" }) @Constants.OPTION_YES
                                    @Html.RadioButtonFor(model => model.BillDeliveryDetails.SmsAlertFlag, "N", new { onchange = "toggleMobileNumber(this);", id = "rbSmsAlertFlagNo" }) @Constants.OPTION_NO
                                </td>   
                            </tr>
                            <tr class="row-body" id="trSmsNo">
                                <td align="left">Mobile Number * 
                                <a href="#" class="callBackTip exampleTip" title="@Constants.TOOLTIP_BILLDELIVERY_MOBILENO">
                                    <img alt="Simple_tooltip_help_icon" src='@Url.Content("~/Content/images/simple_tooltip_help_icon.png")' title="@Constants.TOOLTIP_BILLDELIVERY_MOBILENO"/>
                                </a>
                                </td>
                                <td>:</td>
                                <td>@{
                                    List<SelectListItem> msisdnList = new List<SelectListItem>();
                                    foreach (string msisdn in Model.AvailableMsisdn)
                                    {
                                        if (msisdn == Model.BillDeliveryDetails.SmsNo)
                                        {
                                            msisdnList.Add(new SelectListItem() { Text = msisdn, Value = msisdn, Selected = true });
                                        }
                                        else
                                        {
                                            msisdnList.Add(new SelectListItem() { Text = msisdn, Value = msisdn, Selected = false });
                                        }
                                    }
                                }
                                @Html.DropDownListFor(model => model.BillDeliveryDetails.SmsNo, msisdnList)
                                </td>   
                            </tr>
                            <tr><td colspan="3">&nbsp;</td></tr>
                            <tr><td colspan="3">
                            @Html.Partial("_BillNotification")
                            </td></tr>
                        </tbody>
                    </table>
                </div> 
            </div>
        
        }
        </div>
        <div class="row border-top" style="padding: 20px 30px">
            <table width="100%">
				<tr>
					<td><input class="btn isell-btn" type="submit" value="< Back" onclick="$('#TabNumber').val(2); $('#frmBillDeliveryOptionsList').submit();" style="background-color: transparent;" /></td>
                    <td align="right">
                        @if (Session[SessionKey.billDelivery_ableToSubmit.ToString()] != null && Session[SessionKey.billDelivery_ableToSubmit.ToString()].ToBool())
                        {
                        <input class="btn isell-next" type="submit" value="Continue" onclick="$('#frmBillDeliveryOptionsList').submit();" id="Continue" name="Continue >" style="width:120px;" />
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript">
    function toggleMobileNumber(flag) {
        if (flag.checked && flag.value == "Y") {
            $("#trSmsNo").show("highlight");
        }
        else {
            $("#trSmsNo").hide();
        }
    }

    function toggleEmailAddress(flag) {
        if (flag.checked && flag.value == "Y") {
            $("#trEmailAddress").show("highlight");
            $("#eBillNotification").show("highlight");
        }
        else {
            $("#trEmailAddress").hide();
            $("#eBillNotification").hide();
        }
    }

    $(document).ready(function () {
        toggleEmailAddress(document.getElementById("rbDeliverViaEmail"));
        toggleMobileNumber(document.getElementById("rbSmsAlertFlagYes"));
    });

    $(function () {
        try {
            $('a.callBackTip').aToolTip({
                onShow: function () { },
                clickIt: true
            });
        } catch (e)
            { }
    }); 
</script>