﻿@using Online.Registration.Web.ViewModels 
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@using System.Configuration;
@using Online.Registration.Web.SubscriberICService;
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
@{
    ViewBag.Title = "Bill Delivery Options";
    Layout = "~/Views/Shared/_NewLayout.cshtml";

    retrieveAcctListByICResponse AcctListByICResponse = null;
    if (SessionManager.Get("PPIDInfo") != null)
    {
        AcctListByICResponse = (retrieveAcctListByICResponse)SessionManager.Get("PPIDInfo");
    }
}


<div class="container ipad-container">
    <div class="isell-base">
        @if (Model.RegID == 0)
        {
        <div class="row">
            <div class="col-sm-10">
                <h2 style="padding-left:15px;">
                    Update Bill Delivery Options:
                </h2>
                <h4 style="padding-left:15px;">
                    <span>@AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList().FirstOrDefault().Customer.Title</span> @AcctListByICResponse.itemList.Where(c => c.Account != null).ToList().FirstOrDefault().Account.Holder
                </h4>
            </div>
        </div>
        }
        <div class="row">
            <div class="col-sm-12 green-bg">
                <p class="font-24">@ViewBag.Title</p>
            </div>
        </div>
        <div class="row font-16">
        @using (Html.BeginForm("BillDeliveryOptionsConfirm", "BillDelivery", FormMethod.Post, new { id = "frmBillDeliveryOptionsConfirm", @class = "overlayonsubmit", processmsg = "Loading" }))
        { 
            @Html.HiddenFor(model => model.TabNumber)
            <div class="tab-content">
                <div class="content_white">
                    <div id="Plan_Error" style="color: #ff0000; font-weight: bold; text-align: left;
                        padding-left: 20px; padding-bottom: 5px">
                        @Html.ValidationSummary(true)
                    </div>
                    
                    <div style="display: block; padding-left: 20px;" class="border-top even">
                        <p class="details-title">Customer Information</p>
                        <div style="width: 100%; margin: 0 auto; padding: 20px;">
                            <table width="100%">
                                @if (Model.RegID != 0)
                                { 
                                    <tr valign="top">
                                        <td width="20%">@Html.LabelFor(model => model.RegID)</td>
                                        <td>:</td>
                                        <td colspan="4">
                                            @(Model.RegID == 0 ? string.Empty : Model.RegID.ToString2())
                                        </td>
                                    </tr>
                            
                                }
                                <tr valign="top">
                                    <td width="20%">@Html.LabelFor(model => model.Customer.FullName)</td>
                                    <td>:</td>
                                    <td>
                                        @if (Model.Customer.CustomerTitleID != null && !string.IsNullOrEmpty(Model.Customer.FullName))
                                        {
                                            @Util.GetNameByID(RefType.CustomerTitle, Model.Customer.CustomerTitleID)
                                            @Model.Customer.FullName
                                        }
                                    </td>
                                    <td>@Html.LabelFor(model => model.Customer.IDCardNo)</td>
                                    <td>:</td>
                                    <td>@Model.Customer.IDCardNo</td>
                                </tr>
                                <tr valign="top">
                                    <td>@Html.LabelFor(model => model.Customer.IDCardType)</td>
                                    <td>:</td>
                                    <td>@Util.GetNameByID(RefType.IDCardType, Model.Customer.IDCardTypeID)</td>
                                    <td>@Html.LabelFor(model => model.Customer.ContactNo)</td>
                                    <td>:</td>
                                    <td>@Model.Customer.ContactNo.ToString2()</td>
                                </tr>
                                <tr valign="top">
                                    <td>@Html.LabelFor(model => model.Customer.DateOfBirth)</td>
                                    <td>:</td>
                                    <td>
                                        @if ((Model.DOBDay == 0 && Model.DOBMonth == 0 && Model.DOBYear == 0) || (Model.DOBDay == null && Model.DOBMonth == null && Model.DOBYear == null))
                                        {
                                            if (DateTime.MinValue != Model.Customer.DateOfBirth)
                                            {
                                            @Util.FormatDate(Model.Customer.DateOfBirth)
                                            }
                                        }
                                        else
                                        {
                                            @Html.Raw(Model.DOBDay + "/" + Model.DOBMonth + "/" + Model.DOBYear)
                                        }
                                    </td>
                                    <td>@Html.LabelFor(model => model.Customer.NationalityID)</td>
                                    <td>:</td>
                                    <td>@Util.GetNameByID(RefType.Nationality, Model.Customer.NationalityID)</td>
                                </tr>
                                <tr valign="top" style="display: none;">
                                    <td>@Html.LabelFor(model => model.Customer.LanguageID)</td>
                                    <td>:</td>
                                    <td>@Util.GetNameByID(RefType.Language, Model.Customer.LanguageID)</td>
                                    <td>@Html.LabelFor(model => model.Customer.Race)</td>
                                    <td>:</td>
                                    <td>@Util.GetNameByID(RefType.Race, Model.Customer.RaceID)</td>
                                </tr>
                                <tr valign="top" style="display: none;">
                                    @if (Model.Customer.Gender.ToString2() != "")
                                    {
                                        <td>@Html.LabelFor(model => model.Customer.Gender)</td>
                                        <td>:</td>
                                        <td>@(Model.Customer.Gender.ToString2() == "M" ? "Male" : "Female")</td>
                                    }
                                    @if (Model.Customer.EmailAddr != null && Model.Customer.EmailAddr != "")
                                    {
                                        <td id="summary-label">@Html.LabelFor(model => model.Customer.EmailAddr)</td>
                                        <td>:</td>
                                        <td>@Model.Customer.EmailAddr.ToString2()</td>
                                    }
                                </tr>
                                <tr valign="top">
                                    <td>@Html.LabelFor(model => model.MOCStatus)</td>
                                    <td>:</td>
                                    <td>@Model.MOCStatus.ToString2()</td>
                                    <td>@Html.LabelFor(model => model.Liberlization_Status)</td>
                                    <td>:</td>
                                    <td>@Model.Liberlization_Status.ToString2()</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div style="display: block; padding-left: 20px;" class="border-top">
                        <p class="details-title">Billing Address</p>
                        <div style="width: 100%; margin: 0 auto; padding: 20px;">
                            <table width="100%">
                                <tr valign="top">
                                    <td width="20%">@Html.LabelFor(model => model.Address.Line1)</td>
                                    <td>:</td>
                                    <td>@Html.Raw(Model.Address.Line1)
                                        @if (!string.IsNullOrEmpty(Model.Address.Line2))
                                        { 
                                            <br />@Html.Raw(Model.Address.Line2)
                                        }
                                        @if (!string.IsNullOrEmpty(Model.Address.Line3))
                                        { 
                                            <br />@Html.LabelFor(model => model.Address.Line3)
                                        }
                                    </td>
                                </tr>
                                <tr valign="top">
                                    <td>@Html.LabelFor(model => model.Address.Postcode)</td>
                                    <td>:</td>
                                    <td>@Html.Raw(Model.Address.Postcode)</td>
                                </tr>
                                <tr valign="top">
                                    <td>@Html.LabelFor(model => model.Address.StateID)</td>
                                    <td>:</td>
                                    <td>@Html.Raw(Util.GetNameByID(RefType.State, Model.Address.StateID))</td>
                                </tr>
                                <tr valign="top">
                                    <td>@Html.LabelFor(model => model.Address.Town)</td>
                                    <td>:</td>
                                    <td>@Html.Raw(Model.Address.Town)</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div style="display: block; padding-left: 20px;" class="border-top even">
                        <p class="details-title">Bill Delivery Options</p>
                        <div style="width: 100%; margin: 0 auto; padding: 20px;">
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td align="left" width="20%"><label>Deliver via</label></td>
                                    <td>:</td>
                                    <td>@if (Model.EmailBillSubscription == "Y")
                                        { @Constants.BILLDELIVERY_EMAIL }
                                        else
                                        { @Constants.BILLDELIVERY_POST }
                                    </td>   
                                </tr>
                                @if (Model.EmailBillSubscription == "Y")
                                {
                                <tr id="trEmailAddress">
                                    <td align="left"><label>Deliver eBill to</label></td>
                                    <td>:</td>
                                    <td>@Html.Raw(Model.EmailAddress)</td>   
                                </tr>
                                }
                                <tr>
                                    <td align="left"><label>SMS Notification</label></td>
                                    <td>:</td>
                                    <td>
                                        @if (Model.SmsAlertFlag == "Y")
                                        { @Constants.OPTION_YES }
                                        else
                                        { @Constants.OPTION_NO}
                                    </td>   
                                </tr>
                                @if (Model.SmsAlertFlag == "Y")
                                {
                                <tr id="trSmsNo">
                                    <td align="left"><label>Mobile Number</label></td>
                                    <td>:</td>
                                    <td>@Html.Raw(Model.SmsNo)</td>   
                                </tr>
                                }
                            </table>
                        </div>
                    </div>
                    <div style="display: block; padding-left: 20px;" class="border-top">
                        <p class="details-title">Justification</p>
                        <div style="width: 100%; margin: 0 auto; padding: 20px;">
                            <table style="padding: 0px">
                                <tr>
                                @{
                                string tdhtml1 = string.Empty;

                                if (Model.RegID == 0)
                                {
                                    tdhtml1 = "<td  valign='top'  id='tdJustfication'><textarea name='txtJustfication' maxlength='200' id='txtJustfication' style='width: 480px; height: 75px;resize: none;'></textarea></td>";

                                }
                                else
                                {
                                    if (Model.Justification.ToString2().Length > 0)
                                    {

                                        tdhtml1 = "<td  valign='top'  id='tdJustfication'><textarea name='txtJustfication' maxlength='200' id='txtJustfication' style='width: 480px; height: 75px;resize: none;' readonly>" + Model.Justification + "</textarea></td>";

                                    }
                                    else
                                    {
                                        tdhtml1 = "<td  valign='top'  id='tdJustfication'><textarea name='txtJustfication' maxlength='200' id='txtJustfication' style='width: 480px; height: 75px;resize: none;' readonly></textarea></td>";
                                    }

                                }
                                 
                           
                                }
                                @Html.Raw(tdhtml1)
                                </tr>
                                <tr>
                                    <td class="txt-14-black-normal">
                                        (Max. limit is 200 characters)
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div style="display: block; padding-left: 20px;" class="border-top even">
                        <p class="details-title">Signature</p>
                        <div style="width: 100%; margin: 0 auto; padding: 20px;">
                            <div style="color: #7F7E7E;">
                                @if (Model.RegID > 0)
                                { <input type="checkbox" id="cbTnC" checked="checked" disabled="disabled" /> }
                                else
                                { <input type="checkbox" id="cbTnC" /> }
                                I confirm that the information I have provided is accurate and correct. I have read,
                                agreed and hereby consent to the collection and processing of my Personal Information/Personal Data and agree to
                                the <a href="@Url.Content(Model.DocumentUrl)" style="color:Green; font-weight:bold" onclick="window.open(this.href, 'Terms and Conditions', 'width=700, height=400, left=24, top=24, scrollbars, resizable'); return false;">
                                    Terms and Conditions</a> of the service.
                            </div>
                            <br />
                            <div style="width: 100%; margin: 0 auto; padding: 0px 0px 0px 20px;">
                        
                                @if (Model.RegID == 0)
                                { 
                                    @Html.HiddenFor(model => model.SignatureSVG)
                                    <div class="signature-box">
                                        <div id="signature" style="width: 100%; margin: 0 auto; height: 180px;">
                                        </div>
                                    </div>     
                                
                                }
                                else
                                { 
                                    <div class="signature-box">
                                      <div align="center"  class="signatureDiv">
                                        @Html.Raw(Model.SignatureSVG)
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        @if (Model.RegID == 0)
                        { 
                           
                            <div class="content_white" style="height: 80px;">
                                <div style="float: left; padding-left: 20px;">
                                    <input class="submitButton" type="button" value="Reset" onclick="ClearSign()" id="btnClear" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        </div>
        @if (Model.RegID == 0)
        {
        <div class="row border-top" style="padding: 20px 30px">
            <table width="100%">
				<tr>
					<td><input class="btn isell-btn" type="submit" value="< Back" onclick="$('#TabNumber').val(3); $('#frmBillDeliveryOptionsConfirm').submit();" style="background-color: transparent;" /></td>
                    <td align="right"><input class="btn isell-next" type="submit" value="Submit" onclick="return SubmitRegForm();" style="width:120px;" />
                    </td>
                </tr>
            </table>
        </div>
        }
    </div>
</div>

@{                    
    Html.Telerik()
        .ScriptRegistrar()
        .DefaultGroup(grp => grp
            .Add("jquery.validate.min.js")
            .Add("jquery.validate.unobtrusive.min.js")
            .Add("jquery.unobtrusive-ajax.js")
            .Add("jquery-ui-1.8.20.min.js")
            .Add("ZeroClipboard.js")
            .Add("jquery.blockUI.js")
            .Add("modernizr-2.5.3.js")
            .Add("jquery-ui-timepicker-addon.js")
            .Add("flashcanvas.js")
            .Add("jSignature.min.js")
            .Add("jquery.ui.core.js")
            .Add("jquery.ui.widget.js")
            .Add("jquery.ui.rcarousel.js")
            .Add("jquery.tabletojson.min.js")
            .Add("scripts.js")
            .Add("core.js")
        ).Render();
}
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#signature").jSignature({ 'height': 200, 'width': 400 });
    });

    function ClearSign() {
        var $sigdiv = $("#signature");
        $sigdiv.jSignature("reset");
    }

    function SubmitRegForm() {
        /*Active PDPA Commented*/
        /*Changes by chetan related to PDPA implementation*/
        if ($(cbTnC).attr("checked") != "checked") {
            $('#Plan_Error').show();
            $('#Plan_Error').html("Please select the declaration in the ‘Signature’ section");
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        }
        var $sigdiv = $("#signature");
        //var datapair = $sigdiv.jSignature("getData", "svg");
        var datapair = $sigdiv.jSignature("getData", "svg");
        //Murali v : this condition is added to avoid going default value to the database here added by chetan 
        //var isSignatureProvided = $sigdiv.jSignature('getData', 'svg')[1].length > 235 ? true : false;
        var isSignatureProvided = $sigdiv.jSignature("getData", "svg")[1].length > 235 ? true : false;
        if (isSignatureProvided) {
            $('#SignatureSVG').val(datapair[1]);
        }
        $('#frmBillDeliveryOptionsConfirm').submit();
    }

</script>