﻿@using Online.Registration.Web.CustomExtension
@using Newtonsoft.Json
@using System.Linq
@using Online.Registration.DAL.Models.ServiceRequest.Enums

@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.Common.SRViewOrderListVM
<table id="results" class="compact cell-border default-border" cellspacing="0" width="100%">
    <thead>
        <tr style="text-align: left;">
            <th>SR No</th>
            <th>SR Type</th>
            <th>ID Card No</th>
            <th>MSISDN</th>
            <th>Customer Name</th>
            <th>Created Date</th>
            <th>Created By</th>
            <th>Last Updated Date</th>
            <th>Last Updated By</th>
            <th>Queue No</th>
            <th>Status</th>
            <th>Lock By</th>
        </tr>
    </thead>
</table>

<script type="text/javascript">
    var isQSearch=false;
    function performQSearch(){
        isQSearch=true;
        $('#results').DataTable().draw(true);
    };
    function performASearch(){
        isQSearch=false;
        $('#results').DataTable().draw(true);
    };
    function changeLock(e,orderId){
        $.post("@Url.Action("ChangeLockFromList", "Common")/"+orderId, function( data ) {
            if(data.ErrorMsg)
                alert(String.format("Error to change lock. {0}",data.ErrorMsg));
        });
        $('#results').DataTable().draw(false);
    };
    function getFormObject(){
        //Diff search type use different criteria
        if(isQSearch){
            return $("form #qsearch-content :input").serializeObject();
        }else{
            return $("form #asearch-content :input").serializeObject();
        }
    };
    $(document).ready(function () {
        $('#results')
            .on('click', 'tr', function (e) {
                if($(e.toElement).is(':checkbox') || $(e.toElement).hasClass("lockby"))return;//Skip checkbox click
                var dt=$('#results').DataTable().row( this ).data();
                if(dt){
                    injectFormSubmit($("form"),"@Url.Action("ViewOrder","Common")/" +dt.OrderId,function(){
                        $("form").submit();
                    },"get");
                    //window.location.href = "@Url.Action("ViewOrder","Common")/" +dt.OrderId;
                }
            } )
            .on('xhr.dt', function ( e, settings, json, xhr ) {
                //alert('finish load');
            } )
            .dataTable({
            "processing": false,
            "serverSide": true,
            "info": true,
            "stateSave": false,
            "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
            "ajax": {
                "url": "@Url.Action("AjaxGetJsonData")",
                "type": "POST",
                "data": function (d) {
                    var newD=$.extend("{}",getFormObject(), d)
                    var json = "json=" + JSON.stringify(newD);
                    return json;
                }
            },
            "drawCallback": function( settings ) {
                $("#results tr").each(function() {
                    $(this).find('th:eq(9),td:eq(9)').addClass("hidden-sm hidden-xs");
                    $(this).find('th:eq(7),td:eq(7)').addClass("hidden-sm hidden-xs");
                    $(this).find('th:eq(8),td:eq(8)').addClass("hidden-xs");
                });
            },
            "columns":@Html.Raw(JsonConvert.SerializeObject(Model.GetColumnNames().Select(n=>new {data=n,orderable=true }).ToList())),
            "order": [[5, "asc"]],
            'columnDefs': [{
                'targets': 11,
                'searchable': false,
                'orderable': true,
                'className': 'dt-body-center lockby',
                'render': function (data, type, full, meta){
                    if(full.Status==@((int)SRStatus.New) && !full.LockBy)
                        return String.format('<input type="checkbox" name="lockBy_{0}" onchange="changeLock(event,\'{0}\')" value="',full.OrderId) + $('<div/>').text(data).html() + '">';
                    return full.LockBy;
                }
            }]
        });
    });
</script>