﻿@using Online.Registration.Web.CustomExtension
@using Online.Registration.Web.ViewModels.Common

@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.Common.SRViewOrderListVM

<style>
    .dropdown-menu[display-id='@Html.IdFor(n=>n.CreatedBy)Txt'] {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }
</style>
<div class="panel">
    <h3 align="left" class="header-title collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#asearch-content">
        <span class="arrow-collapse"></span>
        Advance Search
    </h3>
    <div id="asearch-content" class="collapse content">
        <div class="row">
            <div class="col-sm-2 inner-label">
                ID Card No
            </div>
            <div class="col-sm-3">
                @Html.TextBoxFor(n => n.IdNo, new { @class = "form-control" })
            </div>
            <div class="col-sm-1 inner-label">
                SR Type.
            </div>
            <div class="col-sm-3">
                <div class="inner-content">
                    <div class="input-group-btn"">
                        @Html.CustomDropDownListFor(n => n.RequestType, StaticListVM.GetSRRequestTypes(), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-sm-1 inner-label">
                Status
            </div>
            <div class="col-sm-2">
                <div class="inner-content">
                    <div class="input-group-btn"">
                        @Html.CustomDropDownListFor(n => n.Status, StaticListVM.GetSRStatus(), new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 inner-label">
                MSISDN
            </div>
            <div class="col-sm-3">
                @Html.TextBoxFor(n => n.MSISDN, new { @class = "form-control" })
            </div>
            <div class="col-sm-1 inner-label text-wrap">
                Created By
            </div>
            <div class="col-sm-3">
                <div class="inner-content">
                    <div class="input-group-btn"">
                        @Html.CustomDropDownListFor(n => n.CreatedBy, Model.CreateByList.ToSelectList2(), new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 inner-label">
                Created Date Start
            </div>
            <div class="col-sm-3">
                <div style="display: inline-flex;">
                    @Html.TextBoxFor(n => n.CreateDateStart, new { @class = "form-control" })
                    <label for="CreateDateStart">
                        <span class="calender-icon"></span>
                    </label>
                </div>
            </div>
            <div class="col-sm-1 inner-label text-wrap">
                Created Date End
            </div>
            <div class="col-sm-3">
                <div style="display: inline-flex;">
                    @Html.TextBoxFor(n => n.CreateDateEnd, new { @class = "form-control" })
                    <label for="CreateDateEnd">
                        <span class="calender-icon"></span>
                    </label>
                </div>
            </div>
            <div class="col-sm-1">
                <p class="stock-checkbox-container">
                @Html.CheckBoxFor(n => n.IsToday, new { @class = "stock-checkbox" })
                <label for="@Html.IdFor(n => n.IsToday)" class="stock-label">Today</label>
                </p>
            </div>
            <div class="col-sm-2">
                <div class="btn isell-submit" onclick="performASearch()">Search</div>
                <input type="submit" id="asearch" value="submit" style="display: none;" />
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#@Html.IdFor(n => n.IsToday)').click(function () {
            var elDate = $("#@Html.IdFor(n=>n.CreateDateStart),#@Html.IdFor(n=>n.CreateDateEnd)");
            //use datepicker set date to consistent date format
            if ($(this).prop("checked")) {
                elDate.attr('disabled', 'disabled').datepicker("setDate", new Date());
            }
            else {
                elDate.removeAttr("disabled").val('');
            }
        });
    });
    $(function () {
        $("#@Html.IdFor(n => n.CreateDateStart),#@Html.IdFor(n => n.CreateDateEnd)").datepicker().mask('99-99-9999');
        $.datepicker.setDefaults({
            showOn: "both",
            buttonImageOnly: true,
            maxDate: new Date(),
            dateFormat: "@Model.DateFormatClient"
        });
    });
</script>