﻿@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "_Billing";
}

@model Online.Registration.Web.ViewModels.PersonalDetailsVM
               
<table width="500px">
    <tr>
        <td><b>@Html.LabelFor(model => model.Customer.PayModeID)</b></td>
        <td>@(Html.Telerik().DropDownListFor(model => model.Customer.PayModeID).BindTo(Util.GetList(RefType.PaymentMode, defaultValue: "")).ClientEvents(events => events.OnChange("paymodeChanged")))</td> 
    </tr>
    @*<tr>
        <td><div class="autoBilling"><b>@Html.LabelFor(model => model.Customer.CardTypeID)</b></div></td>
        <td><div class="autoBilling">@(Html.Telerik().DropDownListFor(model => model.Customer.CardTypeID).BindTo(Util.GetList(RefType.CardType, defaultValue: "")))</div></td> 
    </tr>
    <tr>
        <td><div class="autoBilling"><b>@Html.LabelFor(model => model.Customer.CardNo)</b></div></td>
        <td><div class="autoBilling">@Html.TextBoxFor(model => model.Customer.CardNo)&nbsp;&nbsp;eg.4234990256302271 </div></td>
    </tr>
    <tr>
        <td><div class="autoBilling"><b>@Html.LabelFor(model => model.Customer.CardExpiryDate)</b></div></td>
        <td><div class="autoBilling">@Html.TextBoxFor(model => model.Customer.CardExpiryDate)&nbsp;&nbsp;eg. MMYY</div></td>
    </tr>
    <tr>
        <td><div class="autoBilling"><b>@Html.LabelFor(model => model.Customer.NameOnCard)</b></div></td>
        <td><div class="autoBilling">@Html.TextBoxFor(model => model.Customer.NameOnCard, new { @class = "uppercase", onchange = "toUpperCase(this)" })</div></td>
    </tr>*@
</table>