﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@using Online.Registration.Web.SubscriberICService;
@{
    ViewBag.Title = "Customer";
    var idCardTypeID = Model.Customer.IDCardTypeID;

    var minAge = Session["RegMobileReg_ProgramMinAge"].ToInt();
    int CustomerTitleIDfromConfig = System.Configuration.ConfigurationManager.AppSettings["CustomerTitleID"] != null ? Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CustomerTitleID"]) : 0;
    var NRICType = Util.GetIDCardTypeID(IDCARDTYPE.NRIC);
    string idCardTypeName = "";
    var msisdn = Session["ExternalID"].ToString2();
    if (!ReferenceEquals(Session["ExternalID"], null))
    {
        msisdn = Session["ExternalID"].ToString();
    }
    if (Model.Customer != null && string.IsNullOrEmpty(Model.Customer.ContactNo))
    {
        msisdn = Model.Customer.ContactNo;
    }
    ///GET THE retrieveAcctListByICResponse TYPE OF OBJECT FROM SESSION IF PPID="E" FOLLOWING SHOULD BE AVAILABLE    
    ///Check Session["PPID"] IF IT CONTAINS 'E' IF EXISTING SET IsExistingUser TO TRUE AGAIN CHECK IF AcctListByICResponse IS NULL THEN SET IT TO FALSE AS NO DATA TO DISPLAY
    CustomizedCustomer CustomerPersonalInfo = null;
    bool IsExistingUser = false;
    //if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        if (!ReferenceEquals(Session["AllServiceDetails"], null))
        {
            ///CHECK IF EXISTING USER THEN ONLY RETRIEVE CUSTOMER INFORMATION
            CustomerPersonalInfo = WebHelper.Instance.constructPersonalInformationForView(msisdn);
            if (!ReferenceEquals(CustomerPersonalInfo, null))
            {
                idCardTypeID = WebHelper.Instance.determineIDCardTypeID(CustomerPersonalInfo);
                idCardTypeName = WebHelper.Instance.getStringFromIDType(CustomerPersonalInfo);
                IsExistingUser = true;
            }
        }
    }

    string hyphen = " - ";
    if (CustomerPersonalInfo != null)
    {
        if (!string.IsNullOrEmpty(CustomerPersonalInfo.NewIC) || !string.IsNullOrEmpty(CustomerPersonalInfo.OldIC))
        {
            Model.Customer.NationalityID = 1;
            Model.InputNationalityID = 1;
        }
        else
        {
            Model.Customer.NationalityID = 132;
            Model.InputNationalityID = 132;
        }
    }
    }
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
<div class="form-row">
    <div class="form-label">
        Title
    </div>
    <div>
        :
      
        @if (CustomerPersonalInfo != null && CustomerPersonalInfo.Title.ToString2() != "")
        {
            //if (CustomerPersonalInfo.CustomerTitleID != null && CustomerPersonalInfo.CustomerTitleID != 0) 
            if (!string.IsNullOrWhiteSpace(CustomerPersonalInfo.Title))
            {
                if (CustomerPersonalInfo.Title.ToString().EndsWith("."))
                {
                 CustomerPersonalInfo.Title = CustomerPersonalInfo.Title.Substring(0,CustomerPersonalInfo.Title.Length - 1); 
                }
                Online.Registration.Web.RegistrationSvc.RegistrationServiceClient client = new Online.Registration.Web.RegistrationSvc.RegistrationServiceClient();
                int titleID = client.GetIdByTitleName(CustomerPersonalInfo.Title);
                Model.Customer.CustomerTitleID = titleID;
                  @Html.Raw(CustomerPersonalInfo.Title)
            }

            else
            {

                Model.Customer.CustomerTitleID = CustomerTitleIDfromConfig;
            }
        }
        else
        {
            Model.Customer.CustomerTitleID = CustomerTitleIDfromConfig;
        }
        @Html.HiddenFor(model => model.Customer.CustomerTitleID)
    </div>
    <div style="display: none;">
        @if (Model.Customer.Gender.ToString2() != "")
        {
            @Html.Label("Male") @Html.RadioButtonFor(model => model.Customer.Gender, "M", new { onclick = "setGender(this);", display = "none" })
            @Html.Label("Female") @Html.RadioButtonFor(model => model.Customer.Gender, "F", new { onclick = "setGender(this);", display = "none" })
        }
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        Full Name
    </div>
    <div>
        :
        @CustomerPersonalInfo.CustomerName
    </div>
    <div style="display: none;">
        @if (CustomerPersonalInfo != null)
        {
            if (CustomerPersonalInfo.CustomerName != null)
            {
            @Html.HiddenFor(model => model.Customer.FullName, new { @Value = CustomerPersonalInfo.CustomerName })
                // @Html.TextBoxFor(model => model.Customer.FullName, new { style = "width:300px;",  @class = "uppercase", onchange = "toUpperCase(this)", @Value = CustomerPersonalInfo.CustomerName })
            }
            else
            {
            @Html.HiddenFor(model => model.Customer.FullName)
            }
        }
        else
        {
            @Html.HiddenFor(model => model.Customer.FullName)
        }
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        ID No</div>
    <div>
        : @idCardTypeName @hyphen
        @{
            if ((CustomerPersonalInfo.NewIC).ToString2() != string.Empty)
            {
            @CustomerPersonalInfo.NewIC
            }
            else if ((CustomerPersonalInfo.OldIC).ToString2() != string.Empty)
            {
            @CustomerPersonalInfo.OldIC
            }
            else if ((CustomerPersonalInfo.PassportNo).ToString2() != string.Empty)
            {
            @CustomerPersonalInfo.PassportNo
            }
            else if ((CustomerPersonalInfo.OtherIC).ToString2() != string.Empty)
            {
            @CustomerPersonalInfo.OtherIC
            }
                    
                   
        }
    </div>
    @Html.HiddenFor(model => model.InputIDCardTypeID)
    @Html.HiddenFor(model => model.InputIDCardNo)
    @Html.HiddenFor(model => model.InputNationalityID)
    @if (idCardTypeID != 0)
    {
        @Html.HiddenFor(model => model.Customer.IDCardTypeID, new { @Value = idCardTypeID })
    }
    else
    {
        @Html.HiddenFor(model => model.Customer.IDCardTypeID)
    }
    <div style="float: left; padding-left: 2px; display: none;">
        @if (idCardTypeID != 0)
        {
            if (CustomerPersonalInfo.NewIC == string.Empty)
            {
                CustomerPersonalInfo.NewIC = null;
            }
            @Html.HiddenFor(model => model.Customer.IDCardNo, new { @Value = CustomerPersonalInfo.NewIC ?? CustomerPersonalInfo.OldIC })
        }
        else
        {
            @Html.HiddenFor(model => model.Customer.IDCardNo)
        }
        @Html.HiddenFor(model => model.Customer.NationalityID)
        @*@(!string.IsNullOrEmpty(CustomerPersonalInfo.NewIC) || !string.IsNullOrEmpty(CustomerPersonalInfo.OldIC)) ? Html.HiddenFor(model => model.Customer.NationalityID, new { @Value = "1" }) : Html.HiddenFor(model => model.Customer.NationalityID, new { @Value = "132" }))*@
    </div>
</div>
@try
{
    string dd = CustomerPersonalInfo.Dob.Substring(6, 2);
    string mm = CustomerPersonalInfo.Dob.Substring(4, 2);
    string yy = CustomerPersonalInfo.Dob.Substring(0, 4);
    
    <div class="form-row">
        <div class="form-label">
            DOB
        </div>
        <div>
            :
            @CustomerPersonalInfo.Dob.Substring(6, 2) -
            @CustomerPersonalInfo.Dob.Substring(4, 2) -
            @CustomerPersonalInfo.Dob.Substring(0, 4)
            <div style="display: none">
                @if (CustomerPersonalInfo != null)
                {
                    //Changes made by chetan
                    if ((CustomerPersonalInfo.Dob != null) && (CustomerPersonalInfo.Dob != "") && CustomerPersonalInfo.Dob.Length >= 8)
                    {
                        /*@(Html.Telerik().DropDownListFor(model => model.DOBDay).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetDayList(selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(6, 2)).ToString())).Enable(false))  
                                                @(Html.Telerik().DropDownListFor(model => model.DOBMonth).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetMonthList(selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(4, 2)).ToString())).Enable(false))   
                                                @(Html.Telerik().DropDownListFor(model => model.DOBYear).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetYearList(18, selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(0, 4)).ToString())).Enable(false))   */
                        Model.DOBDay = (CustomerPersonalInfo.Dob.Substring(6, 2)).ToInt();
                        Model.DOBMonth = (CustomerPersonalInfo.Dob.Substring(4, 2)).ToInt();
                        Model.DOBYear = (CustomerPersonalInfo.Dob.Substring(0, 4)).ToInt();

                    }

                    if (CustomerPersonalInfo.Dob.Length >= 8)
                    {
                        Model.DOBDay = (CustomerPersonalInfo.Dob.Substring(6, 2)).ToInt();
                        Model.DOBMonth = (CustomerPersonalInfo.Dob.Substring(4, 2)).ToInt();
                        Model.DOBYear = (CustomerPersonalInfo.Dob.Substring(0, 4)).ToInt();
                    }
                    else
                    {
                        if (!string.IsNullOrEmpty(CustomerPersonalInfo.NewIC))
                        {
                            CustomerPersonalInfo.Dob = CustomerPersonalInfo.NewIC;
                            int year = Session["IDCardNo"].ToString().Substring(0, 2).ToInt();
                            int CurrYear = DateTime.Now.Year;
                            string PreYear = "19" + year.ToString();

                            if (CurrYear - PreYear.ToInt() <= 100)
                            {
                                Model.DOBYear = PreYear.ToInt();
                            }
                            else
                            {
                                PreYear = "20" + year.ToString();
                                Model.DOBYear = PreYear.ToInt();
                            }


                            Model.DOBDay = (CustomerPersonalInfo.Dob.Substring(4, 2)).ToInt();
                            Model.DOBMonth = (CustomerPersonalInfo.Dob.Substring(2, 2)).ToInt();
                            //Model.DOBYear = (CustomerPersonalInfo.Dob.Substring(0, 4)).ToInt();

                            /*@(Html.Telerik().DropDownListFor(model => model.DOBDay).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetDayList(selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(6, 2)).ToString())).Enable(false))  
                                                    @(Html.Telerik().DropDownListFor(model => model.DOBMonth).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetMonthList(selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(4, 2)).ToString())).Enable(false))   
                                                    @(Html.Telerik().DropDownListFor(model => model.DOBYear).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetYearList(18, selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(0, 4)).ToString())).Enable(false))   */
                        }
                    }


                    Model.Customer.CustomerTitleID = CustomerPersonalInfo.CustomerTitleID;


                }

            </div>
            @Html.HiddenFor(model => model.DOBDay)
            @Html.HiddenFor(model => model.DOBMonth)
            @Html.HiddenFor(model => model.DOBYear)
        </div>
    </div>
    
}
catch
{
    <div class="form-row">
        <div class="form-label">DOB</div>
        <div>:</div>
    </div>
}
<div class="form-row">
    <div class="form-label">
        Contact No
    </div>
    <div>
        :
        @Html.Raw(CustomerPersonalInfo.Cbr.ToString2() != string.Empty ? (CustomerPersonalInfo.Cbr.ToString2().StartsWith("6") ? CustomerPersonalInfo.Cbr.ToString2() : "6" + CustomerPersonalInfo.Cbr) : string.Empty)
        <div style="display: none;">
            @if (CustomerPersonalInfo != null)
            {
                if (CustomerPersonalInfo.Cbr != null && CustomerPersonalInfo.Cbr.Length > 0)
                {
                    if (!CustomerPersonalInfo.Cbr.StartsWith("6"))
                    {
                        CustomerPersonalInfo.Cbr = "6" + CustomerPersonalInfo.Cbr;
                    }

                }
                else
                {
                    CustomerPersonalInfo.Cbr = Session["MSISDN"].ToString2();
                }
                @(CustomerPersonalInfo.Cbr != null ? Html.HiddenFor(model => model.Customer.ContactNo, new { @Value = CustomerPersonalInfo.Cbr.Replace("-", "") }) : Html.HiddenFor(model => model.Customer.ContactNo, new { @Readonly = "Readonly" }))
            }
            else
            {
                @Html.HiddenFor(model => model.Customer.ContactNo)      
            }
        </div>
    </div>
</div>
<div id="divCreditCheckMsg" style="display: none;">
    <div id="lblCreditCheck" style="font-weight: bold; color: Red; display: none;">
        Credit Check Failed.</div>
</div>
<script language="javascript" type="text/javascript">
    //Function added by ravi on 18 APR 2014 for entering valid date
    var m = parseInt($('#DOBMonth').val(), 10);
    var d = parseInt($('#DOBDay').val(), 10);
    var y = parseInt($('#DOBYear').val(), 10);
    var date = new Date(y, m - 1, d);

    if (date.getFullYear() == y && date.getMonth() + 1 == m && date.getDate() == d) {
        //alert('Valid date');
    } else {
        if ('@(idCardTypeID)' == 1) {

            var ICNum = $('#Customer_IDCardNo').val();
            ICNum = ICNum.toString();

            var year = ICNum.substring(0, 2);
            var month = 0;
            month = ICNum.substring(2, 4);
            var day = ICNum.substring(4, 6);
            $('#DOBMonth').val(month)
            $('#DOBDay').val(day)
            $('#DOBYear').val("19" + year)
        }
        else {
            $('#DOBMonth').val(01)
            $('#DOBDay').val(01)
            $('#DOBYear').val("1996")
        }

    }
    //Function added by ravi on 18 APR 2014 for entering valid date ends here


</script>
