﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.SubscriberICService;
@using Telerik.Web.Mvc.UI;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Controllers;
@model Online.Registration.Web.Models.SupplementaryListAccounts
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "Customer Account";
    var isBlacklisted = ViewBag.isBlacklisted;
    var resultMsg = Session["RegMobileReg_ResultMessage"].ToString2();
    bool newUser = true;
    var isUserCCCAbove = WebHelper.Instance.IsUserCCCAbove();
    
    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        newUser = false;
    }
    if (ReferenceEquals(Model, null))
    {
        newUser = true;
    }

    var idCardTypeName = Session["PPIDSearchIDType"].ToString2();
    var isDealer = Session["IsDealer"].ToBool();
    var dealerMsidnSearch = System.Web.Configuration.WebConfigurationManager.AppSettings["DealerMsidnSearch"].ToString2() + " CRP";

    List<string> allowedPrefixes = new List<string>();
    if (System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"] != null)
    {
        allowedPrefixes = System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"].ToString2().Split(',').ToList();
    }
    
    bool CRPPopUpSharingSupp = Session["CRPPopUpSharingSupp"].ToBool();
    if (CRPPopUpSharingSupp && Util.SessionAccess.User.isDealer)
    {
        idCardTypeName = "";
    }
    string tableHide = "";
    if (isDealer  && idCardTypeName != "MSISDN") 
    {
        tableHide = "hide";
    }       

    var fromIpad = Request.Headers["User-Agent"].ToLower().Contains("ipad");
    var containerClass = fromIpad ? "container-fluid ipad-container" : "container";
}

<div class="@containerClass">
    <div class="isell-base">
        @{
            var viewBagValue = new ViewDataDictionary();
            viewBagValue.Add("headerLabel", "Change Rate Plan / Device Contract:");
            Html.RenderPartial("_AccountHolderName", viewBagValue);
        }
        <div class="row">
            <div class="col-sm-12 green-bg">
                <p class="font-24">
                    Change Rate Plan / Device Contract
                </p>
            </div>
        </div>
        @using (Html.BeginForm("Accounts", "CRP", FormMethod.Post, new { id = "frmCAccounts", defaultbutton = "Continue", onSubmit = "return fnValidateAccountSelection();", @class = "overlayonsubmit", processmsg = "Loading" }))
        {
            @Html.Hidden("SelectAccountDtls");
            <div class="row">
                <div id="dvDealers" class="col-sm-12 col-xs-12" style="display: none; ">
                    <div class="col-sm-12 col-xs-12">
                        <div class="search-hdr-title device title" style="padding-bottom: 1%" ><h2>@(dealerMsidnSearch)</h2></div>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-group">
                            <input type="text" class="form-control search-box" id="MSISDN" onkeydown="if (event.keyCode == 13) return showdivAccDtls();"/>
                            <button type="button" class="btn btn-defadivt search-icon" value="Search" onclick="return showdivAccDtls();"></button>
                        </div>
                    </div>     
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="col-sm-12 col-xs-12">
                        <div id="Dealer_Error" class="validation-summary-errors"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="content_white">
                        <div id="ValidationSummary_Error" class="ErrorClass" style="font-size: 16px; color: Red;">@Html.ValidationSummary(false)</div>
                    </div>
                    <div class="content_white">
                        <div id="Plan_Error" class="ErrorClass" style="font-size: 16px"></div>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12">
                    <div id="DVResultDisplay" class="tab-content @tableHide">
                        <div class="content search-header">
                            <div class="search-header-box">
                                <div class="search-hdr-title"><p class="device-title">Select customer account</p></div>
                            </div>
                        </div>

                        <div class="tab-content font-16">
                        <div id="dvError" class="ErrorClass" style="padding-bottom: 10px; color: Red; display:none"> </div>

                        @if (!newUser && Model.SuppListAccounts.Count > 0)
                        {
                            var icount = 0;
                            <div id="Grid" class="crp-wrapper">
                                @if (isDealer == true)
                                {
                                    if (idCardTypeName != "MSISDN")
                                    {
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr style="font-size:15px;">
                                            <td>
                                                <b>ID No :</b>
                                                @foreach (var Acd in Model.SuppListAccounts)
                                                {
                                                    @Acd.IDNumber
                                                    break;
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                    }
                                }
                                else
                                {
                                     <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr style="font-size:15px;">
                                            <td>
                                                <b>ID No :</b>
                                                @foreach (var Acd in Model.SuppListAccounts)
                                                {
                                                    @Acd.IDNumber
                                                    break;
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                }
                                <table width="100%" border="0" id="tblprin" class="tbl-acc-list">
                                    <tbody>
                                        <tr class="row-bold-header" id="tblheader">
                                            <td style="padding-left: 1%">
                                                Name
                                            </td>
                                            <td>
                                                MSISDN
                                            </td>  
                                            @if (isDealer.ToString2() == "False")
                                            {
                                                <td>
                                                Account Number
                                            </td>
                                                <td>
                                                    Prin/Primary MSISDN
                                                </td>
                                                <td>
                                                    Service Type
                                                </td>                                            
                                                <td>
                                                    Status
                                                </td>
                                            }
                                        
                                        </tr>
                                        @foreach (var Acd in Model.SuppListAccounts)
                                        {
                                            var itemval = string.Empty;
                                            if (Acd.IsMISM)
                                            {
                                                itemval = Acd.PrinMsisdn == string.Empty || Acd.externalId == null ? Acd.externalId : Acd.PrinMsisdn;
                                            }
                                            else
                                            {
                                                itemval = Acd.externalId;
                                            }

                                            bool checkedState = (icount == 0 && idCardTypeName == "MSISDN" && (isDealer == true || isUserCCCAbove == false)) ? true : false;
                                            icount++;

                                            checkedState = Model.SuppListAccounts.Count > 1 ? false : checkedState;

                                            if (allowedPrefixes.Contains(Acd.externalId.Substring(0, 3)))
                                            {
                                                string curSimType = " - " + Acd.AccountType;
                                                if (!Acd.IsMISM)
                                                {
                                                    curSimType = Acd.AccountName + curSimType;
                                                }
                                                else
                                                {
                                                    curSimType = "MISM" + curSimType;
                                                }
                                                string AccountStatuses = "Not Available";
                                                switch (Acd.AccountStatus)
                                                {
                                                    case "B":
                                                    AccountStatuses = "Barred";
                                                    break;
                                                    case "S":
                                                    AccountStatuses = "Suspended";
                                                    break;
                                                    case "T":
                                                    AccountStatuses = "Terminated";
                                                    break;
                                                    case "A":
                                                    AccountStatuses = "Active";
                                                    break;
                                                    case "D":
                                                    AccountStatuses = "Deactive";
                                                    break;
                                                    default:
                                                    AccountStatuses = "Active";
                                                    break;
                                                }
                                        
                                            <tr class="tbl-acc-list-row" id="div-@itemval" onclick="selectAccount(this);" data-checkedState="@checkedState" data-value="@Acd.AccountNumber,@Acd.externalId,@Acd.SubscribeNo,@Acd.SubscribeNoResets,@Acd.AccountStatus,@Acd.IsMISM,@Acd.AccountType,@Acd.WriteOffAmount.ToString(),@Acd.PrinMsisdn,@Acd.Category,@Acd.MarketCode">
                                                <td>@Acd.Holder
                                                </td>
                                                <td>@*@Acd.externalId*@
                                                    @if (curSimType.ToUpper() != "MISM - S")
                                                    {
                                                        @Acd.externalId
                                                    }
                                                    else
                                                    {
                                                        @:&nbsp;
                                                    }
                                                </td>                                          
                                                @if (isDealer.ToString2() == "False")
                                                {
                                                    <td>@Acd.AccountNumber
                                                </td>
                                                    <td>@Acd.PrinMsisdn
                                                    </td>
                                                    <td>
                                                        @curSimType
                                                    </td>                                                
                                                    <td>
                                                        @AccountStatuses
                                                    </td>
                                                }
                                            
                                            </tr>
                                    
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div> 
                        }
                        else
                        {
                            <div id="DVShowNewUSerMsg">
                                No Principal accounts exists for the user</div>
                        }


                        </div>

                    </div> 
                </div>
            </div>
            
            <div class="row">
                <div style="height: 40px;" class="border-top">                    
                    <div id="divHeader" style="float: right; padding: 20px 30px">
                        @if (!newUser && Model.SuppListAccounts.Count > 0)
                        {
                            <div class="btn isell-next" id="btnNext" onclick="return Validation();" >Next <span>></span></div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
<script src="@Url.Content("~/Scripts/js/tablefilter_all_min.js")" type="text/javascript"></script>
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('#Dealer_Error').hide();
            if ('@(isDealer)' == "True") {
                if ('@(idCardTypeName)' != "MSISDN") {
                    $('#DVResultDisplay').hide();
                    $('#dvDealers').show();
                    $('#divHeader').hide();
                }
            }
            checkPreSelected();
        });

        function selectAccount(obj) {
            var id = $(obj).attr('id');
            var value = $(obj).attr('data-value');
            
            $('td').removeClass('selected-account-row');
            $('td').removeClass('acc-row-first-child');
            $('td').removeClass('acc-row-last-child');

            $('#' + id + ' td').addClass('selected-account-row');
            $('#' + id + ' td:first-child').addClass('acc-row-first-child');
            $('#' + id + ' td:last-child').addClass('acc-row-last-child');
            hideError();
            $('#SelectAccountDtls').val(value);
        }

        function checkPreSelected() {
            var accRowIds = $('[id^=div-]');
            for (var i = 0; i < accRowIds.length; i++) {
                var accRowId = accRowIds[i].id;
                if ( $('#' + accRowId).attr('data-checkedState')== 'True')
                {
                    var value = $('#' + accRowId).attr('data-value');
                    selectAccount(accRowIds[i]);
                    $('#SelectAccountDtls').val(value);
                }
            }
        }


        function showdivAccDtls() {
            //debugger;
            var msisdnno = $('#MSISDN').val();
            var mobregex = /^60[0-9]{8,10}$/;
            $('#Dealer_Error').hide();

            if (msisdnno == "") {
                $('#Dealer_Error').show();
                $('#Dealer_Error').html('Please Enter MSISDN.');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            else if (msisdnno != "") {
                if (!mobregex.test(msisdnno)) {
                    $('#Dealer_Error').show();
                    $('#Dealer_Error').html("Please enter valid MSISDN number");
                    return false;
                }
            }

            if ($('tr#div-' + msisdnno).length > 0) {
                $('#dvDealers').hide();
                $('#DVResultDisplay').show();
                $('#DVResultDisplay').removeClass('hide');
                $('#tblprin tr').hide();

                $('#tblheader').show();
                $('tr#div-' + msisdnno).show();
                $('#divHeader').show();
                //$('tr:first#div-' + msisdnno).find('#SelectAccountDtls').prop('checked', 'checked')
                selectAccount($('tr#div-' + msisdnno));
                return false;
            }
            else {
                $('#Dealer_Error').show();
                $('#Dealer_Error').html("Please enter Valid Principal/Primary MSISDN");
                return false;
            }
        }

        function Validation() {
            if ($('#SelectAccountDtls').val() == '') {
                showError("Please select an account to proceed further.");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            var selectedVal = "";
            var selectedVal = $('#SelectAccountDtls').val();
            var valNew = [];
            valNew = selectedVal.split(',');
            if (valNew.length == 7) {
                if (valNew[4] != "A" && valNew[4] != "") {

                    var status = "";
                    if (valNew[4].toString() == "S") {
                        status = 'Suspend';
                    }
                    else if (valNew[4].toString() == "B") {
                        status = 'Barred';
                    }
                    else if (valNew[4].toString() == "D") {
                        status = 'Deactive';
                    }
                    showError("Your Number is on " + status + " status");
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                }
                if (parseInt(valNew[6]) > 0) {
                    showError("The selected MSISDN is classified under Writeoff Account, CRP is not allowed");
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                }
            }
            //if (valNew.length == 8) {
            if (valNew[4] != "A" && valNew[4] != "") {

                var status = "";
                if (valNew[4].toString() == "S") {
                    status = 'Suspend';
                }
                else if (valNew[4].toString() == "B") {
                    status = 'Barred';
                }
                else if (valNew[4].toString() == "D") {
                    status = 'Deactive';
                }
                showError("Your Number is on " + status + " status");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }

            if (parseInt(valNew[7]) > 0) {
                showError("The selected MSISDN is classified under Writeoff Account, CRP is not allowed");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            //}
            $('#frmCAccounts').submit();

            return true;
        }
        function fnValidateAccountSelection() {
            var selectedAccount = $('#SelectAccountDtls').val();
//            $('input[name=SelectAccountDtls]').each(function () {
//                if (this.checked) {
//                    selectedAccount = $(this).val();
//                }
//            });
            if (selectedAccount != '')
                return true;
            else {
                showError("Please select an Account");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }

        }
        
        function showError(msg) {
            $('#dvError').show();
            $('#dvError').html(msg);
        }

        function hideError() {
            $('#dvError').hide();
            $('#dvError').html('');
        }


            var table_Props = {
            stylesheet: '@Url.Content("~/Content/css/filtergrid.css")',
            on_keyup: true,
            on_keyup_delay: 100,
            col_0: "none",
            col_1: "none",
            col_4: "select",
            col_5: "select",
            col_6: "select",
            col_7: "select",
            display_all_text: "[All]"
        };
        var tf = setFilterGrid("tblprin", table_Props);
    
    </script>
}
