﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.SubscriberICService;
@using Telerik.Web.Mvc.UI;
@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.CommonEnum;
@model Online.Registration.Web.ViewModels.ContractCheckVM
@{
    retrieveAcctListByICResponse AcctListByICResponse = null;
    List<BreStatusDetails> breStatusLists = (List<BreStatusDetails>)HttpContext.Current.Session["BreStatusDetails"];
    var isHardStop = false;
    if (SessionManager.Get("PPIDInfo") != null)
    {
        AcctListByICResponse = (retrieveAcctListByICResponse)SessionManager.Get("PPIDInfo");
    }
    ViewBag.Title = "Select CRP option";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    var nextButtonDevice = CRPDeviceRegSteps.DevicePlan.ToInt();
    var nextButtonAccessory = CRPDeviceRegSteps.Accesories.ToInt();
    string contractExtend = string.Empty;
    string contractTerimnate = string.Empty;
    string ErrMsg = Session["ErrMsg"] == null ? string.Empty : Session["ErrMsg"].ToString();
    decimal penalty = Session["Penalty"] == null || Session["Penalty"] == string.Empty || Session["Penalty"] == "0" ? Convert.ToDecimal("0.00") : Convert.ToDecimal(Session["Penalty"].ToString());
    string isTerminate = string.Empty;
    var contracts = Model.contracts;
    decimal ContractPenalty = Model.contracts.Where(a => a.Penalty > 0).Select(a => a.Penalty).FirstOrDefault();

    decimal ContractPenaltyWaiveOff = Model.contracts.Where(a => a.PenaltyWaiveOff > 0).Select(a => a.PenaltyWaiveOff).FirstOrDefault();
    bool currentRoll = Roles.IsUserInRole("MREG_NEW");

    List<int> waivedContractDurations = new List<int>();
    int NoOfContracts = 0;
    int NoOfContractsWaived = 0;
    int CDuration = 0;

    if (contracts != null && contracts.Count > 0)
    {
        NoOfContracts = contracts.Count();
        NoOfContractsWaived = contracts.Where(c => c.PenaltyWaiveOff > 0).Count();
        waivedContractDurations = contracts.Where(c => c.PenaltyWaiveOff > 0).Select(c => c.ContractDuration).Distinct().ToList();
        if (waivedContractDurations.Count > 0) { CDuration = waivedContractDurations[0]; }
        string msisdn = Session[SessionKey.RegMobileReg_MSISDN.ToString()].ToString2();

        if (string.IsNullOrEmpty(ErrMsg))
        {
            ErrMsg = string.Format("{0} {1}", "Active contract exists for the MSISDN:", msisdn);
        }
    }

    List<Online.Registration.Web.Controllers.AddRemoveVASController.ARVASPackageComponentModel> packages = (List<Online.Registration.Web.Controllers.AddRemoveVASController.ARVASPackageComponentModel>)Session["Package"];

    bool hascontracts = false;
    bool hasContractsKenan = false;
    bool othercontracts = false;
    //{ var temp = packages.GroupBy(a => a.PackageID).ToList(); }
    RegistrationServiceProxy proxy = new RegistrationServiceProxy();
    IEnumerable<string> lstContracts = proxy.GetContractsList().ToList().Select(c => c.KenanCode);
    IEnumerable<string> lstContractsKenan = proxy.GetContractsList().Where(c => c.IsDeviceContract == 1).ToList().Select(c => c.KenanCode);

    List<Online.Registration.DAL.Models.RestrictedComponent> restrictcomps = new List<Online.Registration.DAL.Models.RestrictedComponent>();
    using (CatalogServiceProxy prox = new CatalogServiceProxy())
    {
        restrictcomps = prox.GetAllRestrictedComponents();
    }
    if (packages != null && packages.Any())
    {
        foreach (var contract in packages)
        {

            for (int i = 0; i < contract.compList.Count; i++)
            {

                if (lstContracts.Contains(contract.compList[i].componentId) && contracts.Any())
                {
                    hascontracts = true;
                }
                else
                {
                    othercontracts = true;
                }
                if (lstContractsKenan.Contains(contract.compList[i].componentId))
                {
                    hasContractsKenan = true;
                }

                if (hascontracts && othercontracts && hasContractsKenan)
                {
                    Session["HasContract"] = "Yes"; // maintaing for Plan configurations in select plan page
                    goto ExitNestedLoop;//doesn't need to check again
                }
            }
        }
    }
ExitNestedLoop:
    if (hasContractsKenan)
    {
        Session["IsExistingK2"] = "1";
    }
    else
    {
        Session["IsExistingK2"] = "0";
    }

    bool contractK2DFExist = false;
    bool contractAFExist = false;

    if (Model.contractGroupDetails != null)
    {
        var k2DFContractType = new List<string>(new string[] { "AF","DF" });
        contractK2DFExist = Model.contractGroupDetails.Where(x => x.contractGroup == "DF").Any();
        contractAFExist = Model.contractGroupDetails.Where(x => x.contractGroup == "AF").Any();

        contractK2DFExist = contractK2DFExist == false ? Model.contractGroupDetails.Where(x => !k2DFContractType.Contains(x.contractGroup)).Any() : contractK2DFExist;
    }

    bool bothContractExist = contractK2DFExist && contractAFExist;

    string assignOrTerminateDeviceOnly = Constants.TERMINATEASSIGN_DEVICE_ONLY;
    string assignOrTerminateAccOnly = Constants.TERMINATEASSIGN_ACC_ONLY;
    string assignOrTerminateAll = Constants.TERMINATEASSIGN_ALL;

    var fromIpad = Request.Headers["User-Agent"].ToLower().Contains("ipad");
    var containerClass = fromIpad ? "container-fluid ipad-container" : "container";

    var IsDealer = Session["IsDealer"].ToBool();
    var IsCDPU = Util.isCDPUUser();
    var hideAccOnly = IsDealer && !IsCDPU;
}

<div class="@containerClass">
    <div class="isell-base">
        @{
            var viewBagValue = new ViewDataDictionary();
            viewBagValue.Add("headerLabel", "Change Rate Plan / Device Contract:");
            Html.RenderPartial("_AccountHolderName", viewBagValue);
        }
        <div class="row">
            <div class="col-sm-12 col-xs-12 green-bg">
                <p class="font-24">
                    Change Rate Plan / Device Contract
                </p>
            </div>
        </div>
        @using (Html.BeginForm("ContractCheck", "CRP", FormMethod.Post, new { id = "frmContractCheck", defaultbutton = "Continue", @class = "overlayonsubmit", processmsg = "Loading" }))
        {
            @Html.Hidden("Continue")
            @Html.Hidden("CrpClicked", "none")
            @Html.Hidden("CrpBillPlan")
            @Html.Hidden("hasK2Contracts", hasContractsKenan)
            @Html.Hidden("hdnIsDeviceRequired")
            @Html.Hidden("FormAction")
            @Html.Hidden("TabNumber")
            @Html.HiddenFor(a => a.ParentAction)
            @Html.HiddenFor(a => a.SubAction)
            
            @Html.HiddenFor(m => m.contractExtend)
            for (var i = 0; i < Model.contracts.Count; i++)
            {
                @Html.HiddenFor(m => m.contracts[i].ActiveDate)
                @Html.HiddenFor(m => m.contracts[i].CMSSID)
                @Html.HiddenFor(m => m.contracts[i].ComponentDesc)
                @Html.HiddenFor(m => m.contracts[i].ContractDuration)
                @Html.HiddenFor(m => m.contracts[i].ContractEndDate)
                @Html.HiddenFor(m => m.contracts[i].ContractExtend)
                @Html.HiddenFor(m => m.contracts[i].ContractExtendType)
                @Html.HiddenFor(m => m.contracts[i].ContractRemaining)
                @Html.HiddenFor(m => m.contracts[i].ContractStartDate)
                @Html.HiddenFor(m => m.contracts[i].ContractTerimnate)
                @Html.HiddenFor(m => m.contracts[i].EndDate)
                @Html.HiddenFor(m => m.contracts[i].Penalty)
                @Html.HiddenFor(m => m.contracts[i].PenaltyWaiveOff)
                @Html.HiddenFor(m => m.contracts[i].Waived)
                @Html.HiddenFor(m => m.contracts[i].isellContractGroup)

                if (Model.contracts[i].paramLists != null)
                {
                    for (var j = 0; j < Model.contracts[i].paramLists.Count; j++)
                    {
                        @Html.HiddenFor(m => m.contracts[i].paramLists[j].paramID)
                        @Html.HiddenFor(m => m.contracts[i].paramLists[j].paramName)
                        @Html.HiddenFor(m => m.contracts[i].paramLists[j].paramValue)
                    }
                }
            }
            
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="content search-header">
                        <div class="search-header-box">
                            <div class="search-hdr-title"><p class="device-title">@ViewBag.Title</p></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="content_white">
                        <div id="ValidationSummary_Error" class="ErrorClass" style="font-size: 15px; color: Red;">@Html.ValidationSummary(false)</div>
                    </div>
                    <div class="content_white">
                        <div id="Plan_Error" class="ErrorClass" style="font-size: 15px">@ErrMsg</div>
                    </div>
                    <div class="content_white">
                        <div id="Select_Error" class="ErrorClass" style="font-size: 15px; color: Red;"></div>
                    </div>
                </div>

                
                @if (contracts != null && contracts.Count > 0)
                {
                    string hideTableClass = (Session["ContractType"] == "StoPrinciple" || Session["ContractType"] == "PtoSupline" || Session["ContractType"] == "TerimnateOnly") && ContractPenalty > 0 ? "" : "hidden";

                    if ((Session["ContractType"] == "TerimnateOnly" || Session["ContractType"] == "Terimnate" || Session["ContractType"] == "StoPrinciple" || Session["ContractType"] == "PtoSupline") && ContractPenalty > 0)
                    {
                        foreach (var currContract in Model.contractGroupDetails)
                        {
                            if (currContract.contractGroup == "DF")
                            {
                                var totalPenalty = currContract.contracts.Sum(od => od.Penalty);
                                <div class="col-sm-12 col-xs-12 kill-padding">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="content_white">
                                            <div id="contract_label" style="font-size: 15px; font-weight: bold">@Constants.SUBHEADER_K2</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-xs-12">
                                        @{
                                        Html.Telerik().Grid(currContract.contracts)
                                        .Name("gvwcontractcheck")
                                        .Footer(false).Scrollable(a => a.Enabled(false).Height("auto"))
                                        .TableHtmlAttributes(new { style = "" })
                                        .NoRecordsTemplate("No records to display")
                                        .Columns(cols =>
                                        {
                                            cols.Bound(m => m.ComponentDesc).Title("Contract Name").Width("25%");
                                            cols.Bound(m => m.ContractStartDate).Title("Start Date").Width("15.5%");
                                            cols.Bound(m => m.ContractEndDate).Title("End Date").Width("15.5%");
                                            cols.Bound(m => m.ContractRemaining).Title("Contract Remaining").Width("17%");
                                            cols.Bound(m => m.Penalty).Title("Remaining Payment").Width("15.5%");
                                        }).Render();   
                                         }
                                    </div>
                                    <table width="100%" id="table-penalty-DF" @hideTableClass>
                                        @if (totalPenalty > 0)
                                        {
                                        <tr>
                                            <td style="color: #ff0000; font-weight: bold; padding-left:15px; font-size: 14px;">@Constants.TERMINATION_MSG_DF</td>
                                        </tr>
                                        <tr style="font-size: 15px;">
                                            <td colspan="2" style="padding-left: 15px">
                                               <b>Remaining device instalment amount is
                                                    @if (totalPenalty == 0)
                                                    {   <b>RM 0.00</b> }
                                                    else
                                                    {
                                                        <b>RM @(totalPenalty)</b>
                                                    }, which has to be paid in full. Do you want to continue?</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <table class="iselltable" style="width: 600px">
                                                    <tr>
                                                        <th>
                                                            <b>Device Model:</b>
                                                        </th>
                                                        <th>
                                                            <b>IMEI:</b>
                                                        </th>
                                                        <th>
                                                            <b>Upgrade Fee:</b>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td>@Session["PenaltyDeviceModel"].ToString2()
                                                        </td>
                                                        <td>@Session["PenaltyDeviceIMEI"].ToString2()
                                                        </td>
                                                        @if (!string.IsNullOrEmpty(Session["PenaltyUpgradeFee"].ToString2()))
                                                        {
                                                            <td>
                                                                RM @Session["PenaltyUpgradeFee"].ToString2().ToDecimal().ToString("0.00")
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                RM 0.00
                                                            </td>
                                                        }
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        }

                                    </table>
                                </div>
                            }
                            else if (currContract.contractGroup == "AF")
                            {
                                var totalPenalty = currContract.contracts.Sum(od => od.Penalty);
                                <div class="col-sm-12 col-xs-12 kill-padding">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="content_white">
                                            <div id="contract_label" style="font-size: 15px; font-weight: bold">@Constants.SUBHEADER_AF</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-xs-12">
                                        @{
                                        Html.Telerik().Grid(currContract.contracts)
                                        .Name("gvwcontractcheck")
                                        .Footer(false).Scrollable(a => a.Enabled(false).Height("auto"))
                                        .TableHtmlAttributes(new { style = "" })
                                        .NoRecordsTemplate("No records to display")
                                        .Columns(cols =>
                                        {
                                            cols.Bound(m => m.ComponentDesc).Title("Contract Name").Width("25%");
                                            cols.Bound(m => m.ContractStartDate).Title("Start Date").Width("15.5%");
                                            cols.Bound(m => m.ContractEndDate).Title("End Date").Width("15.5%");
                                            cols.Bound(m => m.ContractRemaining).Title("Contract Remaining").Width("17%");
                                            cols.Bound(m => m.Penalty).Title("Remaining Payment").Width("15.5%");
                                        }).Render();   
                                         }
                                    </div>
                                    @if (totalPenalty > 0 && Session["ContractType"] != "StoPrinciple" && Session["ContractType"] != "PtoSupline")
                                    {
                                    <table width="100%" id="table-penalty-AF" @hideTableClass>
                                        
                                        <tr>
                                            <td style="color: #ff0000; font-weight: bold; padding-left:15px; font-size: 14px;">@Constants.TERMINATION_MSG_DF</td>
                                        </tr>
                                        <tr style="font-size: 15px;">
                                            <td colspan="2" style="padding-left: 15px">
                                               <b>Remaining accessories instalment amount is
                                                    @if (totalPenalty == 0)
                                                    {   <b>RM 0.00</b> }
                                                    else
                                                    {
                                                        <b>RM @(totalPenalty)</b>
                                                    }, which has to be paid in full. Do you want to continue?</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <table class="iselltable">
                                                    <tr>
                                                        <th>
                                                            <b>No.</b>
                                                        </th>
                                                        <th>
                                                            <b>Accessories Details</b>
                                                        </th>
                                                    </tr>
                                                    @{
                                                        if(currContract != null && currContract.contracts != null && currContract.contracts.Where(x => x.paramLists != null).Any())
                                                        {
                                                            int number = 1;
                                                            var extendedData = currContract.contracts.Where(x => x.paramLists != null).ToList().FirstOrDefault().paramLists;

                                                            for (var i = 0; i < extendedData.Count(); i++)
                                                            { 
                                                                <tr>
                                                                    <td>
                                                                        @number
                                                                    </td>
                                                
                                                                    <td>
                                                                        @extendedData[i].paramValue
                                                                    </td>
                                                                </tr>
                                                                number++;
                                                            }  
                                                        }
                                                    }
                                                    
                                                </table>
                                            </td>
                                        </tr>
                                        
                                    </table>    
                                    }

                                </div>
                            }
                            else
                            {
                                var totalPenalty = currContract.contracts.Sum(od => od.Penalty);
                                var totalPenaltyWaiveOff = currContract.contracts.Sum(od => od.PenaltyWaiveOff);
                                <div class="col-sm-12 col-xs-12 kill-padding">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="content_white">
                                            <div id="contract_label" style="font-size: 15px; font-weight: bold">@Constants.SUBHEADER_K2</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-xs-12">
                                        @{
                                        Html.Telerik().Grid(currContract.contracts)
                                            .Name("gvwcontractcheck")
                                            .Footer(false).Scrollable(a => a.Enabled(false).Height("auto"))
                                            .NoRecordsTemplate("No records to display")
                                            .Columns(cols =>
                                            {
                                                cols.Bound(m => m.ComponentDesc).Title("Contract Name").Width("18%");
                                                cols.Bound(m => m.ContractStartDate).Title("Start Date").Width("15.5%");
                                                cols.Bound(m => m.ContractEndDate).Title("End Date").Width("15.5%");
                                                cols.Bound(m => m.ContractRemaining).Title("Contract Remaining").Width("17%");
                                                cols.Bound(m => m.Penalty).Title("Early Termination Fee").Width("19%");
                                                cols.Bound(m => m.PenaltyWaiveOff).Title("Early Termination Fee Waive Off").Width("20%");
                                                cols.Template(
                                                    @<text>
                                                        @if (@item.Waived == true)
                                                        {
                                                            <input type="checkbox" checked="checked" disabled="disabled"/> 
                                                        }
                                                        else
                                                        {
                                                        <input type="checkbox" disabled="disabled"/> 
                                                        }
                                                        </text>).Title("Waived");
                                            }).Render();
                                         }
                                    </div>
                                    <table width="100%" id="table-penalty-other" @hideTableClass>
                                        @if (totalPenalty > 0)
                                        {
                                        <tr>
                                            <td style="color: #ff0000; font-weight: bold; padding-left:15px; font-size: 14px;">@Constants.TERMINATION_MSG_K2</td>
                                        </tr>
                                        <tr style="font-size: 15px;">
                                            <td colspan="2" style="padding-left: 15px">
                                               <b>The Early Termination Fee Amount is
                                                    @if (totalPenalty == 0)
                                                    { <b>RM 0.00</b> }
                                                    else
                                                    {
                                                        if (Session["ContractType"] == "StoPrinciple" || Session["ContractType"] == "PtoSupline")
                                                        {
                                                            <b>RM @(totalPenalty)</b>
                                                        }
                                                        else
                                                        { 
                                                            <b>RM @((totalPenalty - totalPenaltyWaiveOff))</b>
                                                        }
                                                    }, do you want to continue?</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <table class="iselltable" style="width: 600px">
                                                    <tr>
                                                        <th>
                                                            <b>Phone Model:</b>
                                                        </th>
                                                        <th>
                                                            <b>RRP:</b>
                                                        </th>
                                                        <th>
                                                            <b>Upfront Payment:</b>
                                                        </th>
                                                        <th>
                                                            <b>Admin Fee:</b>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td>@Session["PenaltyPhoneModel"].ToString2()
                                                        </td>
                                                        @if (!string.IsNullOrEmpty(Session["PenaltyRRP"].ToString2()))
                                                        {
                                                            <td>
                                                                RM @Session["PenaltyRRP"].ToString2().ToDecimal().ToString("0.00")
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                RM 0.00
                                                            </td>
                                                        }
                                                        @if (!string.IsNullOrEmpty(Session["Upfrontpayment"].ToString2()))
                                                        {
                                                            <td>
                                                                RM @Session["Upfrontpayment"].ToString2().ToDecimal().ToString("0.00")
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                RM 0.00
                                                            </td>
                                                        }
                                                        <td>
                                                            RM @Session["PenaltyAdminFee"].ToString2()
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        }

                                    </table>
                                
                                </div>
                            }

                        }

                    }
                    else
                    {// this is for no action
                        foreach (var currContract in Model.contractGroupDetails)
                        {
                            if (currContract.contractGroup == "DF")
                            {
                                <div class="col-sm-12 col-xs-12 kill-padding">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="content_white">
                                            <div id="contract_label" style="font-size: 15px; font-weight: bold">@Constants.SUBHEADER_K2</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-xs-12">
                                        @{
                                        Html.Telerik().Grid(currContract.contracts)
                                        .Name("gvwcontractcheck")
                                        .Footer(false).Scrollable(a => a.Enabled(false))
                                        .TableHtmlAttributes(new { style = "" })
                                        .NoRecordsTemplate("No records to display")
                                        .Columns(cols =>
                                        {
                                            cols.Bound(m => m.ComponentDesc).Title("Contract Name").Width("25%");
                                            cols.Bound(m => m.ContractStartDate).Title("Start Date").Width("15.5%");
                                            cols.Bound(m => m.ContractEndDate).Title("End Date").Width("15.5%");
                                            cols.Bound(m => m.ContractRemaining).Title("Contract Remaining").Width("17%");
                                            cols.Bound(m => m.Penalty).Title("Remaining Payment").Width("15.5%");

                                        })
                                        .Render();
                                         }
                                     </div>
                                </div>
                            }
                            else if (currContract.contractGroup == "AF")
                            {
                                <div class="col-sm-12 col-xs-12 kill-padding">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="content_white">
                                            <div id="contract_label" style="font-size: 15px; font-weight: bold">@Constants.SUBHEADER_AF</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-xs-12">
                                        @{
                                        Html.Telerik().Grid(currContract.contracts)
                                        .Name("gvwcontractcheck")
                                        .Footer(false).Scrollable(a => a.Enabled(false))
                                        .TableHtmlAttributes(new { style = "" })
                                        .NoRecordsTemplate("No records to display")
                                        .Columns(cols =>
                                        {
                                            cols.Bound(m => m.ComponentDesc).Title("Contract Name").Width("25%");
                                            cols.Bound(m => m.ContractStartDate).Title("Start Date").Width("15.5%");
                                            cols.Bound(m => m.ContractEndDate).Title("End Date").Width("15.5%");
                                            cols.Bound(m => m.ContractRemaining).Title("Contract Remaining").Width("17%");
                                            cols.Bound(m => m.Penalty).Title("Remaining Payment").Width("15.5%");
                                        })
                                        .Render();
                                         }
                                     </div>
                                </div>
                            }
                            else
                            { 
                                <div class="col-sm-12 col-xs-12 kill-padding">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="content_white">
                                            <div id="contract_label" style="font-size: 15px; font-weight: bold">@Constants.SUBHEADER_K2</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-xs-12">
                                        @{
                                        Html.Telerik().Grid(currContract.contracts)
                                        .Name("gvwcontractcheck")
                                        .Footer(false).Scrollable(a => a.Enabled(false))
                                        .TableHtmlAttributes(new { style = "" })
                                        .NoRecordsTemplate("No records to display")
                                        .Columns(cols =>
                                        {
                                            cols.Bound(m => m.ComponentDesc).Title("Contract Name").Width("25%");
                                            cols.Bound(m => m.ContractStartDate).Title("Start Date").Width("15.5%");
                                            cols.Bound(m => m.ContractEndDate).Title("End Date").Width("15.5%");
                                            cols.Bound(m => m.ContractRemaining).Title("Contract Remaining").Width("17%");
                                            cols.Bound(m => m.Penalty).Title("Remaining Payment").Width("15.5%");
                                        })
                                        .Render();
                                         }
                                     </div>
                                </div>    
                            
                            }

                        }
                    }

                }

                <!-- end div -->

                 @if (!(Session["AccountType"].ToString2() == "S" && Session["CRPIsMism"].ToString2() == "True"))
                 {
                     var contractTypeAction = new List<string>(new string[] { "Terimnate", "TerminateAccOnly", "TerminateAll" });
                     var selected = Session["ContractType"].ToString2() != "" && contractTypeAction.Contains(Session["ContractType"].ToString2()) ? "selected-action" : "";
                     string terminationLabel = "Assign Contract";
                     string terminationID = "AssignContract";
                     if (Model != null && contracts != null && contracts.Count > 0 && contracts[contracts.Count - 1].ComponentDesc != null)
                     {
                         isTerminate = "1";
                         //terminationLabel = "Terminate & Assign New";
                         terminationID = "";
                     }

                     var assignContractLabel = "Assign Contract";
                     var terminateContractLabel = "Terminate & Assign New";
                     var parentActionAssign = Model.ParentAction == "Assign" && !string.IsNullOrEmpty(selected) ? "selected-action" : "";
                     var parentActionTerminate = Model.ParentAction == "Terminate" && !string.IsNullOrEmpty(selected) ? "selected-action" : "";

                     if (contractK2DFExist == false || contractAFExist == false)
                     {
	                    <ul class="col-sm-12 col-xs-12">
                            @if (!hideAccOnly)
                            {
                                <li class="col-sm-3 col-xs-3 action-button acc-action @parentActionAssign" data-ParentAction="Assign" data-action="Termination" id="@terminationID" data-addDevice="@(isHardStop)">@assignContractLabel</li>
                            }
                            else
                            {
                                if ((contractK2DFExist == false && contractAFExist == true) || (contractK2DFExist == false && contractAFExist == false))
                                {
                                    <li class="col-sm-3 col-xs-3 action-button acc-action @parentActionAssign" data-ParentAction="Assign" data-action="Termination" id="@terminationID" data-addDevice="@(isHardStop)">@assignContractLabel</li>
                                }
                            }

		                    @if (!string.IsNullOrEmpty(parentActionAssign))
                      {
                          if (contractK2DFExist == false)
                          {
                              string deviceOnlySelected = Session["ContractType"].ToString2() == Constants.TERMINATEASSIGN_DEVICE_ONLY ? "selected-action" : "";
				                    <li class="col-sm-1 col-xs-1 action-button acc-action glyphicon glyphicon-chevron-right" style="border: none; width: 2%;"></li>
				                    <li class="col-sm-3 col-xs-3 action-button acc-action @deviceOnlySelected" data-SubAction="@Constants.TERMINATEASSIGN_DEVICE_ONLY">Device (with/without Accessories)</li>
                          }
                          else if (contractAFExist == false && !hideAccOnly)
                          {
                              string accOnlySelected = Session["ContractType"].ToString2() == Constants.TERMINATEASSIGN_ACC_ONLY ? "selected-action" : "";
				                    <li class="col-sm-1 col-xs-1 arrowButtonContractCheck glyphicon glyphicon-chevron-right"></li>
				                    <li class="col-sm-3 col-xs-3 action-button acc-action @accOnlySelected" data-SubAction="@Constants.TERMINATEASSIGN_ACC_ONLY">Accessories Only</li>
                          }
                      }
	                    </ul>
                      if (!string.IsNullOrEmpty(parentActionAssign) && contractK2DFExist == false && contractAFExist == false && !hideAccOnly)
                      {
                          string accOnlySelected = Session["ContractType"].ToString2() == Constants.TERMINATEASSIGN_ACC_ONLY ? "selected-action" : "";
		                    <ul class="col-sm-12 col-xs-12">
			                    <li class="col-sm-3 col-xs-3"></li>
			                    <li class="col-sm-1 col-xs-1 arrowButtonContractCheck glyphicon glyphicon-chevron-right"></li>
			                    <li class="col-sm-3 col-xs-3 action-button acc-action @accOnlySelected" data-SubAction="@Constants.TERMINATEASSIGN_ACC_ONLY">Accessories Only</li>
		                    </ul>
                      }
                     }

                     if (contractK2DFExist == true || contractAFExist == true)
                     {
                         if (contractK2DFExist == true && contractAFExist == true)
                         {
		                    <ul class="col-sm-12 col-xs-12">
			                    <li class="col-sm-3 col-xs-3 action-button acc-action @parentActionTerminate" data-ParentAction="Terminate" data-action="Termination" id="@terminationID" data-addDevice="@(isHardStop)">@terminateContractLabel</li>
			                    @if (!string.IsNullOrEmpty(parentActionTerminate))
                       {
                           string deviceOnlySelected = Session["ContractType"].ToString2() == Constants.TERMINATEASSIGN_DEVICE_ONLY ? "selected-action" : "";
				                    <li class="col-sm-1 col-xs-1 action-button acc-action glyphicon glyphicon-chevron-right" style="border: none; width: 2%;"></li>
				                    <li class="col-sm-3 col-xs-3 action-button acc-action @deviceOnlySelected" data-SubAction="@Constants.TERMINATEASSIGN_DEVICE_ONLY">Device Only</li>
                       }
		                    </ul>
                       if (!string.IsNullOrEmpty(parentActionTerminate))
                       {
                           string accOnlySelected = Session["ContractType"].ToString2() == Constants.TERMINATEASSIGN_ACC_ONLY ? "selected-action" : "";
                           string bothSelected = Session["ContractType"].ToString2() == Constants.TERMINATEASSIGN_ALL ? "selected-action" : "";

                           if (!hideAccOnly)
                           { 
                                <ul class="col-sm-12 col-xs-12">
				                    <li class="col-sm-3 col-xs-3"></li>
				                    <li class="col-sm-1 col-xs-1 action-button acc-action glyphicon glyphicon-chevron-right" style="border: none; width: 2%;"></li>
				                    <li class="col-sm-3 col-xs-3 action-button acc-action @accOnlySelected" data-SubAction="@Constants.TERMINATEASSIGN_ACC_ONLY">Accessories Only</li>
			                    </ul>
                           }
                                
			                    <ul class="col-sm-12 col-xs-12">
				                    <li class="col-sm-3 col-xs-3"></li>
				                    <li class="col-sm-1 col-xs-1 action-button acc-action glyphicon glyphicon-chevron-right" style="border: none; width: 2%;"></li>
				                    <li class="col-sm-3 col-xs-3 action-button acc-action @bothSelected" data-SubAction="@Constants.TERMINATEASSIGN_ALL">Both</li>
			                    </ul>
                       }
                         }
                         else if (contractK2DFExist == true || contractAFExist == true)
                         {
		                    <ul class="col-sm-12 col-xs-12">
                            @if (!hideAccOnly)
                            {
                                <li class="col-sm-3 col-xs-3 action-button acc-action @parentActionTerminate" data-ParentAction="Terminate" data-action="Termination" id="@terminationID" data-addDevice="@(isHardStop)">@terminateContractLabel</li>
                            }
                            else
                            {
                                if ((contractK2DFExist && contractAFExist) || (contractK2DFExist && !contractAFExist))
                                { 
                                    <li class="col-sm-3 col-xs-3 action-button acc-action @parentActionTerminate" data-ParentAction="Terminate" data-action="Termination" id="@terminationID" data-addDevice="@(isHardStop)">@terminateContractLabel</li>
                                }

                            }
			                    
			                    @if (!string.IsNullOrEmpty(parentActionTerminate))
                       {
                           if (contractK2DFExist == true)
                           {
                               string deviceOnlySelected = Session["ContractType"].ToString2() == Constants.TERMINATEASSIGN_DEVICE_ONLY ? "selected-action" : "";
					                    <li class="col-sm-1 col-xs-1 action-button acc-action glyphicon glyphicon-chevron-right" style="border: none; width: 2%;"></li>
					                    <li class="col-sm-3 col-xs-3 action-button acc-action @deviceOnlySelected" data-SubAction="@Constants.TERMINATEASSIGN_DEVICE_ONLY">Device (with/without Accessories)</li>
                           }
                           else if (contractAFExist == true && !hideAccOnly)
                           {
                               string accOnlySelected = Session["ContractType"].ToString2() == Constants.TERMINATEASSIGN_ACC_ONLY ? "selected-action" : "";
					                    <li class="col-sm-1 col-xs-1 action-button acc-action glyphicon glyphicon-chevron-right" style="border: none; width: 2%;"></li>
					                    <li class="col-sm-3 col-xs-3 action-button acc-action @accOnlySelected" data-SubAction="@Constants.TERMINATEASSIGN_ACC_ONLY">Accessories Only</li>
                           }
                       }
		                    </ul>
                         }
                     }
                    
                    @*<ul class="col-sm-12 col-xs-12">
                        <li class="col-sm-3 col-xs-3 action-button acc-action @selected" data-action="Termination" id="@terminationID" data-addDevice="@(isHardStop)">@terminationLabel</li>
                        @if (terminationLabel == "Assign Contract" && contractAFExist == true)
                        { 
                            <li class="col-sm-1 col-xs-1 action-button acc-action glyphicon glyphicon-chevron-right" style="border: none; width: 2%;"></li>
                            <li class="col-sm-3 col-xs-3 action-button acc-action @selected" data-action="Termination" id="@terminationID" data-addDevice="@(isHardStop)">Device</li>
                        }
                        else
                        {
                            if (terminationLabel == "Terminate & Assign New" && selected == "selected-action" && (bothContractExist == true || (contractK2DFExist == true && contractAFExist == false)))
                            {
                                selected = Session["ContractType"].ToString2() == "" && "TerminateAccOnly,TerminateAll".Contains(Session["ContractType"].ToString2()) ? "" : selected;
                                string actionTerminateLabel = bothContractExist ? "Device Only" : (contractK2DFExist == true && contractAFExist == false) ? "Device" : "";
                                <li class="col-sm-1 col-xs-1 action-button acc-action glyphicon glyphicon-chevron-right" style="border: none; width: 2%;"></li>
                                <li class="col-sm-3 col-xs-3 action-button acc-action @selected" data-action="Termination" id="@terminationID" data-addDevice="@(isHardStop)">@actionTerminateLabel</li>
                            }
                        }
                    </ul>
                    if (terminationLabel == "Terminate & Assign New" && selected == "selected-action" && (bothContractExist == true || (contractK2DFExist == false && contractAFExist == true)))
                    {
                        var selectedAccOnlyClass = Session["ContractType"].ToString2() == "TerminateAccOnly" ? "selected-action" : "";
                        var selectedBothClass = Session["ContractType"].ToString2() == "TerminateAll" ? "selected-action" : "";
                        <ul class="col-sm-12 col-xs-12">
                            <li class="col-sm-3 col-xs-3"></li>
                            <li class="col-sm-1 col-xs-1 action-button acc-action" style="border: none; width: 2%;"></li>
                            <li class="col-sm-3 col-xs-3 action-button acc-action @selectedAccOnlyClass" data-action="TerminateAccOnly" id="btnTerminateAccOnly" data="unchecked">Accessories Only</li>
                        </ul>
                        <ul class="col-sm-12 col-xs-12">
                            <li class="col-sm-3 col-xs-3"></li>
                            <li class="col-sm-1 col-xs-1 action-button acc-action" style="border: none; width: 2%;"></li>
                            <li class="col-sm-3 col-xs-3 action-button acc-action @selectedBothClass" data-action="TerminateAll" id="btnTerminateBothContract" data="unchecked">Both</li>
                        </ul>
                    }*@

                     if (AcctListByICResponse.itemList.Where(c => c.Account != null && c.ServiceInfoResponse != null && c.ServiceInfoResponse.lob == "POSTGSM" && c.ExternalId == Session[SessionKey.ExternalID.ToString()].ToString2() && c.IsMISM == true).Count() <= 0)
                     {
                        <ul class="col-sm-12 col-xs-12">
                        @if (Session["AccountType"].ToString2() == "P")
                        {
                            selected = Session["ContractType"].ToString2() == "PtoSupline" ? "selected-action" : "";
                            <li class="col-sm-3 col-xs-3 action-button acc-action @selected" data-action="PtoSupline" id="ConvertToSupp">Convert to Supplementary</li>
                        }
                        else
                        {
                            selected = Session["ContractType"].ToString2() == "StoPrinciple" ? "selected-action" : "";
                            <li class="col-sm-3 col-xs-3 action-button acc-action @selected" data-action="StoPrinciple" id="ConvertToPrin">Convert to Principal</li>
                        }
                        @if ("PtoSupline,StoPrinciple".Contains(Session["ContractType"].ToString2()) && !string.IsNullOrEmpty(Session["ContractType"].ToString2()))
                        { 
                            <li class="col-sm-1 col-xs-1 action-button acc-action glyphicon glyphicon-chevron-right" style="border: none; width: 2%;"></li>
                            <li class="col-sm-3 col-xs-3 action-button acc-action" id="btnYes" data="unchecked">With Device (with/without Accessories)</li>
                        }
                        </ul>
                        if ("PtoSupline,StoPrinciple".Contains(Session["ContractType"].ToString2()) && !string.IsNullOrEmpty(Session["ContractType"].ToString2()))
                        { 
                            <ul class="col-sm-12 col-xs-12">
                                <li class="col-sm-3 col-xs-3"></li>
                                <li class="col-sm-1 col-xs-1 action-button acc-action" style="border: none; width: 2%;"></li>
                                <li class="col-sm-3 col-xs-3 action-button acc-action" id="btnNo" data="unchecked">Without Device</li>
                            </ul>
                        }
                     }

                     //Ricky - Open menu for all users
                     //if (!Roles.IsUserInRole("MREG_NEW"))
                     //{
                         if (contracts.Count > 0 && !(Session["AccountType"].ToString2() == "S" && Session["CRPIsMism"].ToString2() == "True"))
                         {
                            <ul class="col-sm-12 col-xs-12">
                                <li class="col-sm-3 col-xs-3 action-button acc-action" id="RPC" data="unchecked">Change Rate Plan</li>
                                <div id="divCRP" style="display: none">
                                    <li class="col-sm-1 col-xs-1 action-button acc-action glyphicon glyphicon-chevron-right" style="border: none; width: 2%;"></li>
                                    <li class="col-sm-3 col-xs-3 action-button acc-action" id="ContinueWSC" data="unchecked">Continue With Existing Contract</li>
                                </div>
                            </ul>
                            <ul id="divCRP1" class="col-sm-12 col-xs-12" style="display: none">
                                <li class="col-sm-3 col-xs-3"></li>
                                <li class="col-sm-1 col-xs-1 action-button acc-action" style="border: none; width: 2%;"></li>
                                <li class="col-sm-3 col-xs-3 action-button acc-action" id="Terminate" data="unchecked">Terminate Existing Contract</li>
                            </ul>
                         }
                         else
                         {
                             selected = Session["ContractType"].ToString2() == "CRP" ? "selected-action" : "";
                            <ul class="col-sm-12 col-xs-12">
                                <li class="col-sm-3 col-xs-3 action-button acc-action @selected" id="RPC">Change Rate Plan</li>
                            </ul>
                         }
                         Session["FromCRPupgrade"] = Session["ContractType"].ToString2() == "CRP";
                     //}

                 }


            </div>
        
            <div class="row">
                <div style="height: 40px;" class="border-top">   
                    <div id="divHeader" style="float: left; padding: 20px 30px">
                        <div class="btn isell-btn" id="btnCancel" data-toggle="modal" data-target="#cancel-pop" style="background-color: transparent;">< Cancel</div>
                    </div>
                    <div id="divHeader" style="float: right; padding: 20px 30px">
                        <div class="btn isell-next" id="btnNext" onclick="return Validation();" >Next <span>></span></div>
                    </div>
                </div>
            </div>   
        }

    </div>
</div>



@section Scripts{
    <script type="text/javascript">

        $('#tdError').html('');
        $('#tdPenaltyWaiveOff').html('');
//        if (@(penalty) > 0 )
//        {
//            $('#tdError').html('Early Termination Fee amount indicated is an estimated amount. Please refer to Kenan CC for the correct Early Termination Fee amount');
//            $('#tdErrorDF').html('No Early Termination Fee applicable, only remaining instalment fees applies');
//        }
        if((@(penalty) > 0) && (@(ContractPenaltyWaiveOff)>0) && ('@Session["ContractType"].ToString2()' == 'Terimnate') && (@(penalty) != @(ContractPenaltyWaiveOff)))
        {
           if((@(NoOfContractsWaived) > 0) && ( @(NoOfContracts) > @(NoOfContractsWaived)))
            {
                if(@(CDuration)==12)
                {
                    $('#tdErrorPenaltyWaiveOff').html('Early Termination Fee is waived off only for contract with remaining 2 months for 12 month contract');
                }
                else if(@(CDuration)==24)
                {
                    $('#tdErrorPenaltyWaiveOff').html('Early Termination Fee is waived off only for contract with remaining 4 months for 24 month contract');
                }
            }
        }
        if (('@Session["ContractType"].ToString2()' == 'StoPrinciple' || '@Session["ContractType"].ToString2()' == 'PtoSupline') && '@isTerminate' == '1') 
        {
            if (@(penalty) > 0  && @(ContractPenaltyWaiveOff) > 0)
            {
                $('#tdPenaltyWaiveOff').html('Early Termination Fee waiver will be given if New Device Contract is selected');
            }
        }

        $(document).ready(function () {
            $('form li').click(function () {
                //debugger;
                if ($(this).attr('data-action') != undefined)
                {
                    //debugger;
                    if ( $(this).attr('data-ParentAction') != undefined )
                    {
                        $('#ParentAction').val( $(this).attr('data-ParentAction') );
                    }
                    $('#SubAction').val('');

                    var action = $(this).attr('data-action');
                    //submitform(action);
                    //clearContractType();
                    $('#FormAction').val(action);
                    ClearDeviceRequiredBox();
                    $("#frmContractCheck").submit();
                }
                else if ($(this).attr('data-SubAction') != undefined)
                {
                    if($(this).hasClass('selected-action') )
                    {
                        $('[data-subaction]').removeClass('selected-action');
                        $(this).addClass('selected-action');
                        $('#SubAction').val( $(this).attr('data-SubAction'));
                        if ($('#ContractType').val() != ''){
                            expandPenaltyTable( $(this).attr('data-SubAction') );
                        }   
                    }
                    else
                    {
                        $('[id^=table-penalty]').hide();
                        $('#SubAction').val('');
                    }
                }
            });

            $("#btnYes").click(function () {
                AssignDeviceRequiredBox(this);
                $('#hdnIsDeviceRequired').val('Yes');
                $('#Continue').val('DeviceReq');
            });
            $("#RPC").click(function () {
                ClearDeviceRequiredBox();
                if ($('#RPC').attr('data') == 'unchecked') {
                    //alert("unchecked");
                    $('[data-parentaction]').removeClass('selected-action');
                    $("#CrpBillPlan").val('True');
                    $('#RPC').addClass('selected-action');
                    $('#divCRP, #divCRP1').show();         
                    $('#RPC').attr('data', 'checked');
                    CRPClick();
                }
                else {
                    $("#CrpBillPlan").val('false');
                    $('#RPC').removeClass('selected-action');
                    $('#RPC').attr('data', 'unchecked')
                    $('#divCRP, #divCRP1').hide();
                    //document.forms['frmContractCheck'].submit();
                    $("#frmContractCheck").submit();
                }
            });

            $("#Terminate").click(function () {
                //alert(document.getElementById("Terminate").name);
                if ($('#Terminate').attr('data') == 'unchecked') {
                    $('#Terminate').addClass('selected-action');
                    $("#CrpClicked").val('TerimnateOnly');
                    //$('#Terminate').name.val('Terminate');
                    //document.forms['frmContractCheck'].submit();
                    $("#frmContractCheck").submit();
                }

            });
            $("#ContinueWSC").click(function () {
                //alert(document.getElementById("Terminate").name);
                //if ( $('#ContinueWSC').hasClass('selected-action') ) {
                    $("#CrpClicked").val('ContinueWSC');
                    //$('#Terminate').name.val('Terminate');
                    //document.forms['frmContractCheck'].submit();
                    $("#frmContractCheck").submit();
                //}

            });

            $("#btnNo").click(function () {
                AssignDeviceRequiredBox(this);
                $('#hdnIsDeviceRequired').val('No');
                $('#Continue').val('DeviceNotReq');
            });

            if ('@Session["ContractType"].ToString2()' == "CRP" || '@Session["ContractType"].ToString2()' == "TerimnateOnly") {

                $('#RPC').addClass('selected-action');
                $('#divCRP, #divCRP1').show();
                $('#RPC').attr('data', 'checked')
                if ('@Session["ContractType"].ToString2()' == "CRP") {
                    $('#ContinueWSC').addClass('selected-action');
                    $('#ContinueWSC').attr('data', 'checked');
                    $('#Terminate').attr('data', 'unchecked');
                }
                else {
                    $('#Terminate').attr('data', 'checked');
                    $('#ContinueWSC').removeClass('selected-action');
                    $('#ContinueWSC').attr('data', 'unchecked')
                    $('#Terminate').addClass('selected-action');
                }
            }

        });
        var ButtonKeys = { "EnterKey": 13 }; $(function () {
            $("#frmContractCheck").keypress(function (e) {
                if (e.which == ButtonKeys.EnterKey) {
                    var defaultButtonId = $(this).attr("defaultbutton"); $("#" + defaultButtonId).click(); return false;
                }
            });
        });

        function Validation() {
            debugger;
            var type = '@Session["ContractType"].ToString2()';
            var addDevice = $('#AssignContract').attr('data-addDevice');//15032015 - Anthony
            if(type == "Terimnate" && addDevice == "True")
            {
                alert("Contract Check failed. You cannot proceed with the Registration");
                return false;
            }
            else
            {
                if (type == "PtoSupline" || type == "StoPrinciple"){
                    if ( !$('#btnYes').hasClass('selected-action') && !$('#btnNo').hasClass('selected-action') )
                    {
                        $('#Select_Error').html('Please check your selection');
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                        return false;
                    }

                    // Convert with Device
                    if ( $('#btnYes').hasClass('selected-action')){ 
                        CheckBRE_HS_CRP('CRP + contract');
                        $('#Continue').val('DeviceReq');  
                        $('#hdnIsDeviceRequired').val('Yes'); 
                        $("#frmContractCheck").submit();
                        return true;
                    }

                    // Convert without Device
                    if ( $('#btnNo').hasClass('selected-action')){
                        CheckBRE_HS_CRP('CRP');
                        $('#Continue').val('DeviceNotReq');
                        $('#hdnIsDeviceRequired').val('No');
                        $("#frmContractCheck").submit();
                        return true;
                    }
                }
                else if (type == "CRP" || type == "TerimnateOnly")
                {
                    CheckBRE_HS_CRP('CRP');
                    $('#Continue').val('Yes')
                    $("#frmContractCheck").submit();
                }
            }
            
            // Assign Contract, Terminate & Assign New
            if (type == "Terimnate")
            {
                if ( $('#SubAction').val() == '' )
                {
                    $('#Plan_Error').html('Please check your selection');
                    $('html, body').animate({ scrollTop: 0 }, "slow");
                    return false;
                }
                else
                {
                    if ($('#SubAction').val() != '' && $('#SubAction').val() == '@(Constants.TERMINATEASSIGN_ACC_ONLY)')
                    {
                        $('#TabNumber').val('@nextButtonAccessory');
                    }
                    else
                    {
                        $('#TabNumber').val('@nextButtonDevice');
                    }
                    $('#Plan_Error').html('');
                    CheckBRE_HS_CRP('CRP + contract');
                    $('#ContractType').val('Terminate');
                    $('#Continue').val('Yes')
                    $("#frmContractCheck").submit();
                }
            }

            return true;
        }

        function CRPClick() {
            if ($('#ContinueWSC').attr('data') == 'unchecked') {
                //alert("checked ContinueWSC");
                $('#ContinueWSC').addClass('selected-action');
                $('#ContinueWSC').attr('data', 'checked')
                //document.forms['frmContractCheck'].submit();
                $("#frmContractCheck").submit();
            }
            else {
                //alert("Unchecked ContinueWSC");
                $("#CrpClicked").val('none');
                $('#ContinueWSC').removeClass('selected-action');
                $('#ContinueWSC').attr('data', 'unchecked')
                $('#Terminate').addClass('selected-action');
                $('#Terminate').attr('data', 'checked')
                //document.forms['frmContractCheck'].submit();
                //expandPenaltyTable('@assignOrTerminateAll');
                $("#frmContractCheck").submit();
            }
        }

        function BackAction()
        {
            $('#FormAction').val('back');
            $("#frmContractCheck").submit();
        }

        function AssignDeviceRequiredBox(obj)
        {
            $('#btnYes').removeClass('selected-action');
            $('#btnNo').removeClass('selected-action');
            $(obj).addClass('selected-action');
        }

        function ClearDeviceRequiredBox()
        {
            $('#btnYes').removeClass('selected-action');
            $('#btnNo').removeClass('selected-action');
            $('#hdnIsDeviceRequired').val('');
            $('#Continue').val('');
        }

        function expandPenaltyTable(subaction)
        {
            switch(subaction) {
                case '@assignOrTerminateDeviceOnly':
                    $('[id^=table-penalty]').hide();
                    $('#table-penalty-DF').show();
                    $('#table-penalty-other').show();
                    break;
                case '@assignOrTerminateAccOnly':
                    $('[id^=table-penalty]').hide();
                    $('#table-penalty-AF').show();
                    break;
                case '@assignOrTerminateAll':
                    $('[id^=table-penalty]').show();
                    break;
                default:
                    break;
            }
        }

		function CheckBRE_HS_CRP(button, redirectURL, validateDataValue1, validateDataValue2) {
		    var postUrl = '@(Url.Content("~/Home/CheckBRE_HS"))';
		    $.ajax({
		        type: "POST",
		        dataType: "json",
		        url: postUrl,
		        async: false,
		        data: { button: button, id: validateDataValue1, msisdn: validateDataValue2, redirectURL: redirectURL },
		        success: function (data) {
		            // BRE Check
		            if (data.CheckBREHS == "True") {

		                // Triggering Hard Stop Message
		                if (data.HSList != "") {
		                    alert(data.HSList + " failed. You cannot proceed with the Registration");
		                    return;
		                };

		                // Triggering Approval Pop-up
		                if (data.ApprovalList != "") {
		                    $('#approval-popup').modal('show');
		                    $('#approvalList_ID').html(data.ApprovalList);
		                    return;
		                };
		            }
		        }
		    });
		};


    </script>
}
