﻿@using Online.Registration.Web.ViewModels
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
<script type="text/javascript">
<!--
    if (window.history.forward(1) != null) {
        window.history.forward(1);
    }
//-->  
</script>
<script type="text/javascript">
    function AlertPrint() {
    }
</script>
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Model == null)
    {
        return;
    }
    ViewBag.Title = "Customer Order Summary";

    var isCopy = Session["RegMobileReg_FromSearch"] == null ? false : (bool)Session["RegMobileReg_FromSearch"];
    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" : string.Empty;
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var hasSIM = string.IsNullOrEmpty(Model.RegSIMSerial) ? false : true;
    var hasIMEI = !string.IsNullOrEmpty(Model.RegIMEINumber);
    var simOnly = Model.RegTypeID == Util.GetIDByCode(RefType.RegType, Settings.Default.RegType_PlanOnly) ? true : false;
    Online.Registration.Web.UserSvc.GetAPIStatusMessagesResp ApiMessages = null;
    string sessionStatusCodeDescription = string.Empty;
    bool MNPPrinted = false;
    bool IsSImRequired_Smart = Model.IsSImRequired_Smart;
    if (!ReferenceEquals(Session["ApiMessages"], null))
    {
        ApiMessages = (Online.Registration.Web.UserSvc.GetAPIStatusMessagesResp)Session["ApiMessages"];
    }

    #region Need to remove after this UAT(24/07/2013) to Controller
    var regtemp = new Online.Registration.DAL.Models.Registration();

    if (Model != null && Model.RegID > 0)
    {

        using (var proxy = new RegistrationServiceProxy())
        {
            regtemp = proxy.RegistrationGet(Model.RegID);
        }
        if (regtemp != null)
        {
            Model.PenaltyAmount = regtemp.PenaltyAmount;
        }
    }
    #endregion
    var printsuccess = Session["printsuccess"].ToString2();
    Session["printsuccess"] = null;
    var selectedPrinter = Session["selectedPrinter"].ToString2();
    Session["selectedPrinter"] = null;
    var printErrorMsg = Session[Online.Registration.Web.CommonEnum.SessionKey.PrintErrorMsg.ToString()].ToString2();
    Session[Online.Registration.Web.CommonEnum.SessionKey.PrintErrorMsg.ToString()] = null;
    var isMISM = Session["SimType"].ToString2();
    var simType = string.Empty;
    if (isMISM.ToString().ToLower() == "false")
    {
        simType = "Normal";
    }
    else
    {
        simType = "MISM";
    }
    var simTitleDisplayAddOn = "";
    if (simType == "MISM")
    {
        simTitleDisplayAddOn = "MISM SIM Serial";
    }
    else
    {
        simTitleDisplayAddOn = "SIM Serial";
    } 
    
}
<!-- Centre column area -->
<div id="center">
    @using (Html.BeginForm("SK_MobileRegSummary", "CRP", FormMethod.Post, new { id = "frmMobileRegSummary" }))
    { 
        @Html.Hidden("hdnReasonCancel")
        @Html.Hidden("submit1")
        @Html.HiddenFor(a => a.TabNumber)
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.RegIMEINumber)
        @Html.HiddenFor(model => model.RegSIMSerial)
        @Html.HiddenFor(model => model.Customer.FullName)
        @Html.HiddenFor(model => model.Customer.Gender)
        @Html.HiddenFor(model => model.Customer.IDCardNo)
        @Html.HiddenFor(model => model.Customer.ContactNo)
        @Html.HiddenFor(model => model.Customer.EmailAddr)
        @Html.HiddenFor(model => model.MOCStatus)
        @Html.HiddenFor(model => model.Liberlization_Status)
        @Html.HiddenFor(model => model.RegID)
        <div class="header-title">
            Customer Order Summary
        </div>
    
        <div class="center_box">
            <div class="content_white">
                <label runat="server" id="lblErrMsg" style="color: Red">
                </label>
                <div style="display: block;">
                    <div class="summary-title-bar">
                        A. Customer Information
                        @if (Model.RegID != 0)
                        {
@* <a href="@(Url.Content("~/Storekeeper/Storekeeper/PrintContractDetails?id=" + Model.RegID))" target="_blank" style="text-decoration:none; border:0;" >
                                            <img alt="" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                                            Print </a>  *@                                     
                            //if (Roles.IsUserInRole("MREG_SK"))
                            if (Roles.IsUserInRole("MREG_SK") || Roles.IsUserInRole("MREG_CH") || Roles.IsUserInRole("MREG_DAI"))
                            {
     

                            <a id="printPreviewURL" href="@(Url.Content("~/CRP/PrintContractDetails?id=" + Model.RegID + "&status=" + Model.StatusID))" target="_blank" style="text-decoration:none; border:0;" >
                                <img alt="" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                                Print </a>
                                            
                                var url = "CRP/PrintContractDetails?id=" + Model.RegID + "&status=" + Model.StatusID + "";
                            @Html.Partial("_NetworkPrintPartial", url)
                            }
                            else
                            {
                                if (Model.IMPOSFileName != null)
                                {
                            <a id="printPreviewURL" href="@(Url.Content("~/CRP/PrintMobileRF?id=" + Model.RegID + "&barcode=" + Model.IMPOSFileName + "&barcode_subtype=code128b"))" target="_blank" style="text-decoration:none; border:0;" >
                                <img alt="" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                                Print </a>
                                    var url = "CRP/PrintMobileRF?id=" + Model.RegID + "&barcode=" + Model.IMPOSFileName + "&barcode_subtype=code128b";
                            @Html.Partial("_NetworkPrintPartial", url)
                                }
                                else
                                {
                            <a id="printPreviewURL" href="@(Url.Content("~/CRP/PrintMobileRF?id=" + Model.RegID))" target="_blank" style="text-decoration:none; border:0;" >
                                <img alt="" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                                Print </a>
                                    var url = "CRP/PrintMobileRF?id=" + Model.RegID + "";
                                                
                            @Html.Partial("_NetworkPrintPartial", url)

                                        
                                }
                            }

                            if (Model.StatusCode != Settings.Default.Status_RegCan && Model.StatusCode != Settings.Default.Status_RegClosed)
                            {
                                //Changes made by chetan as IMEI is only for SK role
                                if (Roles.IsUserInRole("MREG_SK") || Roles.IsUserInRole("MREG_DAI"))
                                {

                                    if (System.Configuration.ConfigurationManager.AppSettings["ePetrolStatus"].ToString() == "ON" && Model.StatusID == 30)
                                    {
@*  <button id="btnIMEI" type="button">
                                            IMEI</button>*@
                            <input class="buttongr" type="button" value="IMEI" id="btnIMEI" />
                                    }
                                    else if (System.Configuration.ConfigurationManager.AppSettings["ePetrolStatus"].ToString() == "OFF" && Model.StatusID < 22 && Model.IsDeviceCRP!=null)
                                    {
@* <button id="btnIMEI" type="button">
                                            IMEI</button>*@
                            <input class="buttongr" type="button" value="IMEI" id="btnIMEI" />
                                    }

                                }
                                if (Roles.IsUserInRole("MREG_SK") || Roles.IsUserInRole("MREG_DAI") && sessionRegType != (int)MobileRegType.DeviceOnly && Model.StatusCode == Settings.Default.Status_RegNew)
                                {
@*if (System.Configuration.ConfigurationManager.AppSettings["ePetrolStatus"].ToString() == "ON" && Model.StatusID == 30 && IsSImRequired_Smart)
                                                                {
                                        <button id="btnSIM" type="button">
                                            SIM</button>
                                                                }
                                                                else if (System.Configuration.ConfigurationManager.AppSettings["ePetrolStatus"].ToString() == "OFF" && Model.StatusID < 22 && IsSImRequired_Smart)
                                                                {
                                        <button id="btnSIM" type="button">
                                            SIM</button>
                                                                }
                                                                else*@ 
                                    if (IsSImRequired_Smart)
                                    {
@*  <button id="btnSIM" type="button">
                                            SIM</button>*@
                            <input class="buttongr" type="button" value="SIM" id="btnSIM" />
                                    }
                                    else
                                    { 
                            <input class="buttongr" type="button" value="SIM" id="btnSIM" style="display: none;"  />
                                           
                                    }
                                }
                            }
                        }
                    </div>
                    <div style="width: 95%; margin: 0 auto; padding: 20px;">
                        <table align="center">
                            @if (Model.RegID != 0)
                            { 
                               
                                <tr valign="top">
                                    <td id="summary-label">@Html.LabelFor(model => model.RegID)
                                    </td>
                                    <td id="summary-seperator">
                                        :
                                    </td>
                                    <td id="summary-data">
                                        @(Model.RegID == 0 ? string.Empty : Model.RegID.ToString2())
                                    </td>
                                    <td id="summary-label">@Html.LabelFor(model => model.QueueNo)
                                    </td>
                                    <td id="summary-seperator">
                                        :
                                    </td>
                                    <td id="summary-data-nowidth">@Model.QueueNo
                                    </td>
                                </tr>
                                
                            
                            }
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => model.Customer.FullName)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@Util.GetNameByID(RefType.CustomerTitle, Model.Customer.CustomerTitleID)
                                    @Model.Customer.FullName
                                </td>
                                <td id="summary-label">@Html.LabelFor(model => model.Customer.IDCardNo)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data-nowidth">@Model.Customer.IDCardNo
                                </td>
                            </tr>
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => model.Customer.IDCardType)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@Util.GetNameByID(RefType.IDCardType, Model.Customer.IDCardTypeID)
                                </td>
                                <td id="summary-label">@Html.LabelFor(model => model.Customer.ContactNo)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data-nowidth">@Model.Customer.ContactNo.ToString2()
                                </td>
                            </tr>
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => model.Customer.DateOfBirth)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">
                                    @if ((Model.DOBDay == 0 && Model.DOBMonth == 0 && Model.DOBYear == 0) || (Model.DOBDay == null && Model.DOBMonth == null && Model.DOBYear == null))
                                    {
                                        if (DateTime.MinValue != Model.Customer.DateOfBirth)
                                        {
                                        @Util.FormatDate(Model.Customer.DateOfBirth)
                                        }
                                    }
                                    else
                                    {
                                        @Html.Raw(Model.DOBDay + "/" + Model.DOBMonth + "/" + Model.DOBYear)
                                    }
                                </td>
                                <td id="summary-label">@Html.LabelFor(model => model.Customer.NationalityID)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data-nowidth">@Util.GetNameByID(RefType.Nationality, Model.Customer.NationalityID)
                                </td>
                            </tr>
                            <tr valign="top" style="display: none;">
                                <td id="summary-label">@Html.LabelFor(model => model.Customer.Gender)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@(Model.Customer.Gender.ToString2() == "M" ? "Male" : "Female")
                                </td>
                                <td id="summary-label">@Html.LabelFor(model => model.Customer.EmailAddr)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@Model.Customer.EmailAddr.ToString2()
                                </td>
                            </tr>
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => model.MOCStatus)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@Model.MOCStatus.ToString2()
                                </td>
                                <td id="summary-label">@Html.LabelFor(model => model.Liberlization_Status)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data-nowidth">@Model.Liberlization_Status.ToString2()
                                </td>
                            </tr>
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => model.StatusID)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@Util.GetNameByID(RefType.Status, Model.StatusID)
                                </td>
                                <td id="summary-label">
                                </td>
                                <td id="summary-seperator">
                                </td>
                                <td>
                                </td>
                            </tr>
                            @if (!ReferenceEquals(Model.MessageCode, string.Empty))
                            {
                                if (!ReferenceEquals(Model.MessageDesc, null))
                                {
                                <tr valign="top">
                                    @if (Model.StatusID == 21)
                                    {
                                         
                                        <td id="summary-label">@Html.LabelFor(model => model.MessageDesc)
                                        </td>
                                        <td id="summary-seperator">
                                            :
                                        </td>
                                        <td id="summary-data">
                                            <div style="width:150px; word-wrap:break-word;" title="@Model.MessageDesc">
                                                @if (@Model.MessageDesc.ToString().Length > 45)
                                                {
                                                    @Model.MessageDesc.Substring(0, 45) @Html.Raw("..")
                                                }
                                                else
                                                {
                                                    @Model.MessageDesc
                                                }</div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td id="summary-label">
                                            <b>@Html.LabelFor(model => model.MessageDesc)</b>
                                        </td>
                                        <td id="summary-seperator">
                                            :
                                        </td>
                                        <td id="summary-data">@Model.MessageDesc.Split('|')[0]
                                        </td>
                                    }
                                </tr>
                                }
                            }
                            @if (Model.RegID != 0)
                            { 
                                <tr valign="top">
                                    <td id="summary-label">@Html.LabelFor(model => model.Remarks)
                                    </td>
                                    <td id="summary-seperator">
                                        :
                                    </td>
                                    <td id="summary-data">
                                        <div style="word-wrap: break-word; width: 231px;">
                                            @Model.Remarks
                                        </div>
                                    </td>
                                    <td id="summary-label">
                                    </td>
                                    <td id="summary-seperator">
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div class="summary-title-bar">
                        B. Billing Address
                    </div>
                    <div style="width: 100%; margin: 0 auto; padding: 20px;">
                        <table align="center">
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => model.Address.Line1)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td colspan="4" id="summary-data-nowidth">@Html.Raw(Model.Address.Line1)
                                    @if (!string.IsNullOrEmpty(Model.Address.Line2))
                                    { 
                                        <br />@Html.Raw(Model.Address.Line2)
                                    }
                                    @if (!string.IsNullOrEmpty(Model.Address.Line3))
                                    { 
                                        <br />@Html.LabelFor(model => model.Address.Line3)
                                        
                                    }
                                </td>
                            </tr>
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => model.Address.Postcode)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@Html.Raw(Model.Address.Postcode)
                                </td>
                                <td id="summary-label">
                                </td>
                                <td id="summary-seperator">
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => model.Address.StateID)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@Html.Raw(Util.GetNameByID(RefType.State, Model.Address.StateID))
                                </td>
                                <td id="summary-label"><div style="width: inherit;">@Html.LabelFor(model=>model.Address.Town)</div>
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data-nowidth">@Html.Raw(Model.Address.Town)
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="summary-title-bar" style="display: none;">
                        C. Month Bill Settlement Preference
                        @Html.HiddenFor(model => model.Customer.PayModeID)
                    </div>
                    <div style="width: 100%; margin: 0 auto; padding: 20px; display: none;">
                        <table align="center">
                            <tr valign="top">
                                @if (Model.Customer.PayModeID == Util.GetPaymentModeID(PAYMENTMODE.Cash))
                                { 
                                        
                                    <td id="summary-label">@Html.LabelFor(model => model.Customer.PayModeID)
                                    </td>
                                    <td id="summary-seperator">
                                        :
                                    </td>
                                    <td id="summary-data">@Html.Raw(Util.GetNameByID(RefType.PaymentMode, Model.Customer.PayModeID))
                                    </td>
                           
								
                                }
                                else if (Model.Customer.PayModeID == Util.GetPaymentModeID(PAYMENTMODE.AutoBilling))
                                { 
                                        
                                    <td id="summary-label">@Html.LabelFor(model => model.Customer.CardTypeID)
                                    </td>
                                    <td id="summary-seperator">
                                        :
                                    </td>
                                    <td id="summary-data">@Html.Raw(Util.GetNameByID(RefType.CardType, Model.Customer.CardTypeID.Value))
                                    </td>
@*  <tr>
                                    <td>
                                        <b></b>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        @if (false)
                                        { 
                                            @Html.Hidden("CardType", Util.GetNameByID(RefType.CardType, Model.Customer.CardTypeID.Value))
                                            <button id="btnCopy_CardTypeID" type="button" class="button-copy">
                                            </button>
                                        }
                                    </td>
                                    <td>
                                        <b>@Html.LabelFor(model => model.Customer.CardNo)</b>
                                    </td>
                                    <td>@Html.Raw(Model.Customer.CardNo)
                                    </td>
                                    <td>
                                        @if (false)
                                        { 
                                            @Html.HiddenFor(model => model.Customer.CardNo)
                                            <button id="btnCopy_CardNo" type="button" class="button-copy">
                                            </button>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>@Html.LabelFor(model => model.Customer.CardExpiryDate)</b>
                                    </td>
                                    <td>@Html.Raw(Model.Customer.CardExpiryDate)
                                    </td>
                                    <td>
                                        @if (false)
                                        { 
                                            @Html.HiddenFor(model => model.Customer.CardExpiryDate)
                                            <button id="btnCopy_CardExpiryDate" type="button" class="button-copy">
                                            </button>
                                        }
                                    </td>
                                    <td>
                                        <b>@Html.LabelFor(model => model.Customer.NameOnCard)</b>
                                    </td>
                                    <td>@Html.Raw(Model.Customer.NameOnCard)
                                    </td>
                                    <td>
                                        @if (false)
                                        { 
                                            @Html.HiddenFor(model => model.Customer.NameOnCard)
                                            <button id="btnCopy_NameOnCard" type="button" class="button-copy">
                                            </button>
                                        }
                                    </td>
                                </tr>*@
                                }
                                <td id="summary-label">
                                </td>
                                <td id="summary-seperator">
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="summary-title-bar">
                        C. Waiver
                    </div>
                    <div style="width: 100%; margin: 0 auto; padding: 20px;">
                        <table style="padding: 0px">
                            <tr>
                                <td>
                                    @{
                                //string tdhtml = "<td  valign='top'  style='display:none;'  id='tdJustfication'><b>Justification *</b> <br/><textarea name='txtJustfication' maxlength='200' id='txtJustfication' style='width: 220px; height: 75px;resize: none;'></textarea></td>";

                                if (Model.RegID == 0)
                                {
                                    if (Model.InputNationalityID.ToInt() == 1)
                                    {
                                        @Html.Raw(Util.FormWaiverTable(Session["RegMobileReg_Type"].ToInt(), Session["RegMobileReg_PkgPgmBdlPkgCompID"].ToInt(), Session["RegMobileReg_MalayPlanAdv"].ToInt(), Session["RegMobileReg_MalyPlanDeposit"].ToInt(), Session["RegMobileReg_MalyDevAdv"].ToInt(), Session["RegMobileReg_MalayDevDeposit"].ToInt()));

                                    }
                                    else
                                    {
            
                                        @Html.Raw(Util.FormWaiverTable(Session["RegMobileReg_Type"].ToInt(), Session["RegMobileReg_PkgPgmBdlPkgCompID"].ToInt(), Session["RegMobileReg_OthPlanAdv"].ToInt(), Session["RegMobileReg_OthPlanDeposit"].ToInt(), Session["RegMobileReg_OthDevAdv"].ToInt(), Session["RegMobileReg_OthDevDeposit"].ToInt()));
                                    }

                                }
                                else
                                {
                                        @Html.Raw(Util.FormWaiverTable(0, 0, 0, 0, 0, 0, Model.RegID));

                                                                                                      if (Model.Justification.ToString2().Length > 0)
                                                                                                      {
                                                                                                          // tdhtml = "<td  valign='top'  id='tdJustfication'> <b>Justification *</b> <br/> <div style='border-style: solid; border-width: 1px; border-radius: 4px; margin: 1px;padding: 1px 1px 1px 1px; width:260px; height:auto;word-wrap:break-word;'>" + Model.Justification + "</div></td>";
                                                                                                      }

                                }
                                 
                           
                                    }
                                </td>
                                @*  @Html.Raw(tdhtml)*@
                            </tr>
                        </table>
                    </div>
                    <div class="summary-title-bar">
                        D. Justification
                    </div>
                    <div style="width: 100%; margin: 0 auto; padding: 20px;">
                        <table style="padding: 0px">
                            <tr>
                                @* <td>*@
                                @{
                                string tdhtml1 = "";

                                if (Model.RegID == 0)
                                {
                                    tdhtml1 = "<td  valign='top'  id='tdJustfication'><textarea name='txtJustfication' maxlength='200' id='txtJustfication' style='width: 480px; height: 75px;resize: none;'></textarea></td>";

                                }
                                else
                                {
                                    if (Model.Justification.ToString2().Length > 0)
                                    {
                                        //tdhtml1 = "<td  valign='top'  id='tdJustfication'><div style='width: 480px; height: 75px;resize: none;'>" + Model.Justification + "</div></td>";

                                        tdhtml1 = "<td  valign='top'  id='tdJustfication'><textarea name='txtJustfication' maxlength='200' id='txtJustfication' style='width: 480px; height: 75px;resize: none;' readonly>" + Model.Justification + "</textarea></td>";

                                    }
                                    else
                                    {
                                        tdhtml1 = "<td  valign='top'  id='tdJustfication'><textarea name='txtJustfication' maxlength='200' id='txtJustfication' style='width: 480px; height: 75px;resize: none;' readonly></textarea></td>";
                                    }

                                }
                                 
                           
                                }
                                @*  </td>*@
                                @Html.Raw(tdhtml1)
                            </tr>
                            <tr>
                                <td class="txt-14-black-normal">
                                    (Max. limit is 200 characters)
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="summary-title-bar">
                        E. Customer ID
                    </div>
                    <div style="width: 100%; margin: 0 auto; padding: 20px;">
                        @*SUTAN ADDED CODE 5Th March 2013*@
                        <div id="divFrontImageMsg" style="display: none;">
                            <label id="lblFrontImage" style="font-weight: bold; color: Red;">
                                File type not supported.</label>
                        </div>
                        @*END SUTAN ADDED CODE 5Th March 2013*@
                        @if (Model.RegID == 0)
                        {
                            @Html.HiddenFor(model => model.CustomerPhoto)
                            @Html.HiddenFor(model => model.AltCustomerPhoto)

                            <div style="width: 45%; float: left;">
                                <div>
                                    <span id="summary-label">@Html.LabelFor(model => model.CustomerPhoto)</span>
                                    <input id="CustImageUpload" type="file" accept="image/*;capture=camera" class="cancel" /></div>
                                <div class="image-box">
                                    <img id="imgCustPhoto" alt="" />
                                </div>
                            </div>
                            <div style="width: 45%; float: left;">
                                <div>
                                    <span id="summary-label">@Html.LabelFor(model => model.AltCustomerPhoto)</span>
                                    <input id="CustImageUpload2" type="file" accept="image/*;capture=camera" class="cancel" /></div>
                                <div class="image-box">
                                    <img id="imgAltCustPhoto" alt="" />
                                </div>
                            </div>

                            
                        }
                        else
                        { 
                           
                            <div style="width: 45%; float: left;">
                                <div>
                                    <span id="summary-label">@Html.LabelFor(model => model.CustomerPhoto)</span>
                                </div>
                                <div class="image-box">
                                    <img alt="" src="@Html.Raw(Model.CustomerPhoto)" width="230px" height="200px" />
                                </div>
                            </div>
                            <div style="width: 45%; float: left;">
                                <div>
                                    <span id="summary-label">@Html.LabelFor(model => model.AltCustomerPhoto)</span>
                                </div>
                                <div class="image-box">
                                    <img alt="" src="@Html.Raw(Model.AltCustomerPhoto)" width="230px" height="200px" />
                                </div>
                            </div>
                            	
                            
                        }
                        <div style="clear: both;">
                        </div>
                    </div>
                    <div class="summary-title-bar">
                        F. Other Documents
                    </div>
                    <div style="width: 100%; margin: 0 auto; padding: 20px;">
                        <div style="width: 45%; float: left;">
                            @if (Model.RegID == 0)
                            {
                                @Html.HiddenFor(model => model.Photo)
                                <div>
                                    <input id="CustImageUpload3" type="file" accept="image/*;capture=camera" class="cancel" /></div>
                                <div class="image-box">
                                    <img id="imgPhoto" alt="" />
                                </div>
                            }

                            else
                            {
                               
                                <div class="image-box">
                                    <img alt="" src="@Html.Raw(Model.Photo)" width="230px" height="200px" />
                                </div>
                            }
                        </div>
                        <div style="clear: both;">
                        </div>
                    </div>

                    
                     

                    <div class="summary-title-bar">
                        G. Signature
                    </div>
                    <div style="width: 100%; margin: 0 auto; padding: 20px;">
                    @*Commented code for PDPA*@  
                    @*Changes by chetan related to PDPA implementation*@
                    @*@if (Model.RegID > 0)
                    {
                        if (!ReferenceEquals(Model.PDPAVersionStatus, null))
                        {
                        <div style="color: #7F7E7E;font-family: 'frutigerlight';font-size: 14px;">
                        <input type="checkbox" id="cbTnC" checked="checked" disabled="disabled"/>
                        I confirm that the information I have provided is accurate and correct. 
                        I have read, agreed and hereby consent to the <br /> collection and processing 
                        of my Personal Information/Personal Data and agree to the
                        <a href="@Model.DocumentUrl" style="color:Green; font-weight:bold" onclick="window.open(this.href, 'Terms and Conditions', 'width=700, height=400, left=24, top=24, scrollbars, resizable'); return false;">Terms and Conditions</a> 
                        of the service.</div><br />
                        }
                    }
                    else
                    {
                        <div style="color: #7F7E7E;font-family: 'frutigerlight';font-size: 14px;">
                        <input type="checkbox" id="cbTnC"/>
                        I confirm that the information I have provided is accurate and correct. 
                        I have read, agreed and hereby consent to the <br /> collection and processing 
                        of my Personal Information/Personal Data and agree to the
                        <a href="@Model.DocumentUrl" style="color:Green; font-weight:bold" onclick="window.open(this.href, 'Terms and Conditions', 'width=700, height=400, left=24, top=24, scrollbars, resizable'); return false;">Terms and Conditions</a> 
                        of the service.</div><br />
                    }*@
                    @*Commented code for PDPA*@  


                        @Html.HiddenFor(model => model.SignatureSVG)
                        @if (Model.RegID == 0)
                        { 
                            <div class="signature-box">
                                <div id="signature" style="width: 90%; margin: 0 auto; height: 180px;">
                                </div>
                            </div>     
                                
                        }
                        else
                        { 
                            <div class="signature-box">
                                @* <div id="signature" style="width: 90%; margin: 0 auto; height: 180px;">*@
                                <div style="background-image: url('@Url.Content("~/Content/images/maxis_use_only_s.png")'); float: left; width: 400px;">@Html.Raw(Model.SignatureSVG)</div>
                                @*</div>*@
                            </div>     
                                      
                                   
                        }
                        <div style="clear: both;">
                        </div>
                    </div>
                    @if (!ReferenceEquals(Model.KenanAccountNo, null) && Model.KenanAccountNo != "0")
                    {
                        <div class="summary-title-bar">
                            H. Other Details
                        </div>
                        <div style="width: 100%; margin: 0 auto; padding: 20px;" class="txt-14-black-normal">
                            <table align = "center">
                            <tr>
                                <td id="summary-label" style = "width: 211px">
                                    Kenan Account Number
                                </td>
                                <td id="summary-separator" style = "width: 40px">
                                    :
                                </td>
                                <td id="summary-data">
                                    @Html.Raw(Model.KenanAccountNo)
                                </td>
                            </tr>
                            <tr>@Html.Partial("_EnterSalesCodes", Model)</tr>
                            </table>
                        </div>
                    }
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>   
        <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
            <div style="float: right; padding-right: 20px;">
                @if (Model.RegID == 0)
                {
@*<button class="button-back cancel" type="submit" value="Back" onclick="$('#TabNumber').val(5);">
                        </button>
                        <button class="button-continue" type="button" value="Next" onclick="SubmitRegForm();">
                        </button>
                        *@
                    <input class="submitButton" type="submit" value="<" onclick="$('#TabNumber').val(5);" />
                    <input class="submitButton" type="button" value="Submit" onclick="SubmitRegForm();" />
                         
                }

                else if (System.Configuration.ConfigurationManager.AppSettings["ePetrolStatus"].ToString() == "ON" && Roles.IsUserInRole("MREG_SK") || Roles.IsUserInRole("MREG_DAI"))
                {
                    if (Model.StatusCode == Settings.Default.Status_RegNew)
                    { 
@*  <button id="btnCancelEon" class="button-cancel" type="submit" value="Next" onclick="">
                        </button>*@
                    <input class="submitButton" type="submit" value="Cancel" id="btnCancelEon" />
                          

                    }
                    if (Model.StatusCode == Settings.Default.Status_RegPaymentSuccess)
                    {
@*   <button id="btnCancelSuccessEon" class="button-cancel" type="submit" value="Next"
                            onclick="">
                        </button>*@
                        
                    <input class="submitButton" type="submit" value="Cancel" id="btnCancelSuccessEon" />
                        
                        if (Model.RegTypeID == Util.GetIDByCode(RefType.RegType, Settings.Default.RegType_DevicePlan))
                        {
                    <div id="divAccEon" style="float: right; padding-left: 5px; display: none;">
                        @* <button class="button-createAccount" type="submit" value="Create Kenan Account" onclick="return createKenanAcc();">
                            </button>*@
                        <input class="submitButton" type="submit" value="Create Kenan Account" onclick="return createKenanAcc();" />
                    </div>
                        }
                        else
                        {
                    <div id="divAccEon" style="float: right; padding-left: 5px; display: none;">
                        @* <button class="button-createAccount" type="submit" value="Create Kenan Account" onclick="$('#submit1').val('createAcc');">
                            </button>*@
                        <input class="submitButton" type="submit" value="Create Kenan Account" onclick="$('#submit1').val('createAcc');" />
                    </div>
                        }
                    }

                    if (Model.StatusCode == Settings.Default.Status_RegPaymentFailed)
                    {
@*    <button id="btnCancelFailedEon" class="button-cancel" type="submit" value="Next"
                            onclick="">
                        </button>*@
                    <input class="submitButton" type="submit" value="Cancel" id="btnCancelFailedEon" />
                      
                    }

                    if (Model.StatusCode == Settings.Default.Status_SvcActivated)
                    { 
@* <button class="button-close" type="submit" value="Next" onclick="$('#submit1').val('close');">
                        </button>*@
                    <input class="submitButton" type="submit" value="Close" onclick="$('#submit1').val('close');" />
                    }
                    if (Model.StatusCode == Settings.Default.Status_SvcPendingActivate && !string.IsNullOrEmpty(Model.ServiceActivateErrMsg))
                    { 
                    <div id="divSvcEon" style="float: right; padding-left: 5px; display: none;">
                        @*  <button class="button-activateService" type="submit" value="Activate Kenan Service"
                                onclick="$('#submit1').val('activateSvc');">
                            </button>*@
                        <input class="submitButton" type="submit" value="Activate Kenan Service" onclick="$('#submit1').val('activateSvc');" />
                    </div>
                    }
                }
                else if (System.Configuration.ConfigurationManager.AppSettings["ePetrolStatus"].ToString() == "OFF" && Roles.IsUserInRole("MREG_SK") || Roles.IsUserInRole("MREG_DAI"))
                {
                    if (Model.StatusCode == Settings.Default.Status_RegNew)
                    { 
@*   <button id="btnCancelEoff" class="button-cancel" type="submit" value="Next" onclick="">
                        </button>*@
                    <input class="submitButton" type="submit" value="Cancel" id="btnCancelEoff" />
@*    <button id="btnChangePackage" class="button-submit" type="submit" onclick="$('#submit1').val('createpackage');">
                        </button> *@
                        
                    <input class="submitButton" type="submit" value="Submit" id="btnChangePackage" onclick="$('#submit1').val('createpackage');" />

                    }
@*if (Model.StatusCode == Settings.Default.Status_RFP)
                        {
                        <button id="btnMakePaymentS" style="display: none" type="submit" onclick="makepayment()">
                            Make Payment</button>
                        }*@
                    if (Model.StatusCode == Settings.Default.Payment_Recived)
                    { 
@*   <button class="button-close" type="submit" value="Next" onclick="$('#submit1').val('close');">
                        </button>*@
                    <input class="submitButton" type="submit" value="Close" onclick="$('#submit1').val('close');" />
                    }
                    if (Session["MenuType"] != null && Convert.ToInt32((Session["MenuType"].ToString())) == 7)
                    {

                        if (Model.StatusCode == Settings.Default.Payment_Recived || Model.StatusCode == Settings.Default.Status_RegClosed || Model.StatusCode == Settings.Default.Status_SvcPendingActivate || Model.StatusCode == Settings.Default.Status_RegFail)
                        {

                        }
                        else
                        {
                            if (Model.PaymentStatus != "1")
                            {
                                    
@* <button class="button-PaymentRecived" type="submit" value="Next" onclick="$('#submit1').val('PaymentRecived');">
                        </button> *@
                    <input class="submitButton" type="submit" value="Payment Recived" onclick="$('#submit1').val('PaymentRecived');" />
                            }
                            else
                            {
@*   <button class="button-close" type="submit" value="Next" onclick="$('#submit1').val('close');">
                        </button>*@
                    <input class="submitButton" type="submit" value="Close" onclick="$('#submit1').val('close');" />
                            }
                        }
                    }
@*if (Model.StatusCode == Settings.Default.Status_SvcPendingActivate && !string.IsNullOrEmpty(Model.ServiceActivateErrMsg))
                        { 
                        <div id="divSvcEoff" style="float: right; padding-left: 5px; display: none;">
                            <button class="button-activateService" type="submit" value="Activate Kenan Service"
                                onclick="$('#submit1').val('activateSvc');">
                            </button>
                              <input class="submitButton" type="submit" value="Activate Kenan Service"  onclick="$('#submit1').val('activateSvc');" />
                        </div>
                        }*@
                }
            </div>
        </div>
        @Html.Partial("_footer")
    }
</div>
<!-- Right column area -->
<div id="right">
<div id="right-box">
    @{
        #region SUTAN ADDED CODE 19ThFeb2013
        Online.Registration.Web.ViewModels.OrderSummaryVM MobileRegOrderSummary = (OrderSummaryVM)Session["RegMobileReg_OrderSummary"];
        MobileRegOrderSummary.PersonalDetailsVM = Model;
        #endregion SUTAN ADDED CODE 19ThFeb2013
    }
    @Html.Partial("_OrderSummary", MobileRegOrderSummary)
</div></div>
@{
    Html.Telerik().Window()
        .Name("imeiWindow")
        .Title("IMEI Number")
        .Width(380).Height(150)
        .Content(@<text>
    @using (Html.BeginForm("MobileRegSummary", "Storekeeper", FormMethod.Post, new { onSubmit = "return PoputateIMEI(this);" }))
    {
        <div class="ErrorClass" style="display: block; white-space: nowrap;" id="tdImei_Error">
        </div>
        <table>
            <tr>
                <td colspan="2" class="ErrorClass">
                    @Html.ValidationMessageFor(model => model.CapturedIMEINumber)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.CapturedIMEINumber)
                </td>
                <td>@Html.TextBoxFor(model => model.CapturedIMEINumber)
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input class="submitButton" type="submit" value="Save" id="btnSaveIMEI" />
                </td>
            </tr>
        </table>
    }
    </text>)
        .Modal(true)
        .Visible(false)
        .ClientEvents(events => events.OnOpen("IMEIWindowOnOpen"))
        .Render();


    Html.Telerik().Window()
.Name("SelectPrinterWindow")
.Title("Printer Window")
.Width(325).Height(120)
.Content(@<text>
    @using (Html.BeginForm("PrintMobileRegSummary", "CRP", FormMethod.Post, new { id = "frmMobileRegSummaryPrint" }))
    {
        <table>
            <tr>
                <td>
                    <b>@Html.LabelFor(model => model.Printers)</b>
                </td>
                <td>
                    @Html.Telerik().DropDownListFor(model => model.Printers).BindTo(Util.GetPrinters()).HtmlAttributes(new { @style = "width:200px" })
                    @Html.HiddenFor(model => model.RegID)
                    @Html.HiddenFor(model => model.StatusID)
                    @Html.HiddenFor(a => a.PrintMobileRegsummary)
                    @Html.HiddenFor(a => a.PrintURL)
                    @Html.HiddenFor(model => model.PrintName)
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    @*  <button id="btnNwPrint" type="button" onclick="Print();">
                    </button>*@
                    <input class="submitButton" type="button" value="Print" id="btnNwPrint" onclick="Print();" />
                </td>
            </tr>
        </table>
    }
    </text>)
.Modal(true)
.Visible(false)
.Render();


    Html.Telerik().Window()
            .Name("simWindow")
            .Title(simTitleDisplayAddOn)
            .Width(380).Height(150)
            .Content(@<text>
    @using (Html.BeginForm("MobileRegSummary", "Storekeeper", FormMethod.Post, new { onSubmit = "return PoputateSIM(this);" }))
    {
        <div class="ErrorClass" style="display: block; white-space: nowrap;" id="tdSimSerial_Error">
        </div>
        <table>
            <tr>
                <td class="ErrorClass" colspan="2">
                 @*   @Html.ValidationMessageFor(model => model.CapturedSIMSerial)*@
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.SimType)
                </td>
                <td>
                    @Html.DisplayFor(model => model.SimType)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.SIMModel)
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => model.SIMModel).BindTo(Util.GetList(RefType.SimModelType, simType: Model.SimType, selectedValue: Model.SIMModel)).ClientEvents(events => events.OnChange("SimModelChange")).HtmlAttributes(new { style = string.Format("font-size:12px;width:{0}px", 250) }))
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.CapturedSIMSerial)
                </td>
                <td>
                    @if (Model.IsSImRequired_Smart && !string.IsNullOrEmpty(Model.SIMModel))
                    {   
                        @Html.TextBoxFor(model => model.CapturedSIMSerial, new { style = string.Format("width:{0}px", 240) })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.CapturedSIMSerial, new { disabled = "disabled", style = string.Format("width:{0}px", 240) })
                    }
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    @*  <button id="btnSaveSIM" class="button-SaveSim" type="submit" onclick="return validateSimModel();">
                    </button>*@
                    <input class="submitButton" type="submit" value="Save" id="btnSaveSIM" onclick="return validateSimModel();" />
                </td>
            </tr>
        </table>
    }
    </text>)
            .Modal(true)
            .Visible(false)
            .ClientEvents(events => events.OnOpen("SIMWindowOnOpen"))
            .Render();



    Html.Telerik().Window()
   .Name("AlertPrint")
   .Title("Network Printing")
   .Width(325).Height(135)
   .Content(@<text>
    <table style="width: 100%">
        <tr>
            <td>
                <b>Print Status</b>
            </td>
        </tr>
        <tr>
            <td id="Success" style="display: none; width: 100%">
                <label id="lblsucess" />
            </td>
        </tr>
        <tr>
            <td id="Fail" style="display: none">
                <div>
                    <span id="lblFail">If you want to print via </span><a id="ancfail" target="_blank">Print
                        Preview </a><span id="lblFail1">, please click here </span>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @* <button id="btnClose" type="button" onclick="closealert()">
                </button>*@
                <input id="btnClose" type="button" onclick="closealert()" value="Close" class="submitButton" />
            </td>
        </tr>
    </table>
    </text>)
   .Modal(true)
   .Visible(false)
   .ClientEvents(events => events.OnOpen("AlertPrint"))
   .Render();



    Html.Telerik().ScriptRegistrar()
        .OnDocumentReady(@<text>  
        $('#btnIMEI').click(function(e) { e.preventDefault();
         $('#tdImei_Error').html("");
         $('#tdImei_Error').hide();
         $('#imeiWindow').data('tWindow').center().open();});
        $('#btnSIM').click(function(e) { e.preventDefault();
         $('#tdSimSerial_Error').html("");
           $('#tdSimSerial_Error').hide();
          $('#CapturedSIMSerial').removeClass("input-validation-error");
         $('#simWindow').data('tWindow').center().open();});
    </text>); 
}
@section Scripts{
    <script type="text/javascript">
    var reason=null;


       $(document).ready(function () {
         
        var Success = 'Successfully Printed at ' + '@(selectedPrinter)';
        var Fail = 'Printing was unsuccessful at ' + '@(selectedPrinter)' + ' – @(printErrorMsg)';
        if ('@(printsuccess)' == 'PrintSuccessfullyCompleted') {
            $('#lblsucess').text(Success);
            $('#Success').attr('style', 'display: block');
            $('#Success').attr('style', 'color: #7CB44F');
            $('#Fail').attr('style', 'display: none');
            $('#AlertPrint').data('tWindow').center().open();
        }
        else if ('@(printErrorMsg)' != '') {

            $('#lblsucess').text(Fail);
            $('#Success').attr('style', 'display: block');
            $('#Fail').attr('style', 'display: block');
            $('#Fail').attr('style', 'color: #FF0000');
            $('#Success').attr('style', 'color: #FF0000');
            $('#AlertPrint').data('tWindow').center().open();
            $('#ancfail').attr('href', $('#printPreviewURL').attr('href'));
        }

         var pageName = '@Request.QueryString["pageName"]';
         if(pageName=='supwavoff')
         {
       
          $('#btnCancelEoff').hide();
          $('#btnSIM').hide();
          }
          else
          {
          $('#btnCancelEoff').show();
          //$('#btnSIM').show();
          }
    $("#QueueNo").keypress(function (e) {
        if(e.keyCode == 13)
        {
            return false;
        }
        else
        {
            return numbersonly(e, false);
        }
        });
        $("#Remarks").keypress(function (e) {
        if(e.keyCode == 13)
        {
            return false;
        }
        });

          
           if('@Model.RegID'!='0' && (parseInt($('.clsWaiver').size())>0))
{
   var totalPayable=0;
   var checkedAmt =0;
        //WAIVER Table
 var strWavierTable="";
  $('.clsWaiver').each(function()
  {
     var curValuve=$(this).attr("value");
     var curAmt =curValuve.toString().split('~')[2];
     if(curValuve.toString().split('~')[1]!='0')
     {
     
        if($(this).attr("checked")=="checked")
        {
            checkedAmt +=parseFloat(curAmt);
        }
        else
        {
           strWavierTable+="<div class='txt-11-grey-bold'><span class='service-payable-label'>"+curValuve.toString().split('~')[0]+" </span><span class='service-payable-devider'>:</span><span class='txt-11-grey-normal PriceClass'>"+curValuve.toString().split('~')[2]+"</span></div>";
        }
        totalPayable +=parseFloat(curAmt);
      }
   
  });
  var finalTotal =totalPayable-checkedAmt;
  $('#lblTotalPay').html((parseFloat($('#lblTotalPay').html())+finalTotal));
 // strWavierTable+="</div>";
 $('#tdWaiverTable').html(strWavierTable);
  }  
   if ($("#lblTotalPay").html()==  "") {
            $("#lblTotalPay").html("0.00");
        }
        else
        {
            $('#lblTotalPay').html(parseFloat($('#lblTotalPay').html()).toFixed(2));
            
        }
//        $("#QueueNo").keypress(function (e) {
//                return numbersonly(e, false);
//            });
            var path = '@(Util.GetAbsoluteAppPath("/Flash/ZeroClipboard.swf"))';
            ZeroClipboard.setMoviePath(path);
            
            $("#signature").jSignature({'height':200, 'width':400});

            var btns = $('button[id^="btnCopy_"]');

            $.each(btns, function (index, btn) {

                var clip = new ZeroClipboard.Client();

                clip.addEventListener('mousedown', function () {
                    clip.setText($(btn).prev().val());
                });

                clip.glue($(btn).attr("id"));

            });

             $("#btnCancelEoff").click(function () {
                if (confirm("Are you sure you wish to Cancel?"))
                {
                   // var reason=prompt("Please enter the reason for cancelation","No reason provided.");
                    reason=prompt("Please enter the reason for cancelation. \n (Maximum Length 150 Characters)","No reason provided.");
                    if(reason==null){   
                            return false;
                            }   
                    if(reason.length>150)
                    {
                    alert('Enterd Cancel reason length exceeds \n more than 150 characters');
                    reason=prompt("Please enter the reason for cancelation. \n (Maximum Length 150 Characters)","No reason provided.");
                     
                    }
                    if (reason){
                           $('#hdnReasonCancel').val(reason);
                           $('#submit1').val('cancel');
                            }
                            else if(reason==''){
                             $('#submit1').val('cancel');
                            }
                            else if(reason==null){   
                            return false;
                            }
                }
                else{
                return false;
                }
                });


            $("#btnCancelEon").click(function () {
                if (confirm("Are you sure you wish to Cancel?")) {
                    $('#submit1').val('cancel');
                    return true;
                }
                else {
                    return false;
                }
            });
            $("#btnCancelFailedEon").click(function () {
                if (confirm("Are you sure you wish to Cancel?")) {
                    $('#submit1').val('cancel');
                    return true;
                }
                else {
                    return false;
                }
            });
            $("#btnCancelSuccessEon").click(function () {
                if (confirm("Are you sure you wish to Cancel?")) {
                    $('#submit1').val('cancel');
                    return true;
                }
                else {
                    return false;
                }
            });

            if('@(hasSIM)' == 'True' || ('@(simOnly)' == 'False' && '@(hasIMEI)' == 'True')){
                $('#divAccEon').show();
                $('#divAccEoff').show();
                $('#divSvcEon').show();
                $('#divSvcEoff').show();
            }

              $('#IsSImRequired_Smart').click(function () {
                if ($(this).attr("checked") == "checked")
                {
                    $('#btnSIM').show();
                    $('#btnChangePackage').hide();
                } 
                else 
                {
                    $('#btnSIM').hide();
                     if($('#btnIMEI').length > 0)
                    {
                        if($('#RegIMEINumber').val() == '')
                        {
                            $('#btnChangePackage').hide();
                        }
                        else{
                            $('#btnChangePackage').show();
                        }
                    }
                }

                return true;
            });

            
            checkIMEIAndSIM();
            if ($('#lblSIM').length != 0 && $('#lblSIM').text() != 'Not available') {
                if($("#IsSImRequired_Smart").length > 0){
                        $("#IsSImRequired_Smart").attr("checked", "checked");
                        $("#IsSImRequired_Smart").attr("disabled", "disabled");
                        $('#btnSIM').show();
                    }
            }

            $('a:first-child').focus();
        });

        function closealert() {
            $('#AlertPrint').data('tWindow').close();
        }
        function makepayment(){
            var regID = $('#RegID').val();
            window.location="../PaymentDetails?id="+regID;
        }

        function SubmitForm(sequenceNo) {

            $('#submit1').val(sequenceNo);
            document.forms['frmMobileRegSummary'].submit();

        }
        
        function ClearSign(){
            var $sigdiv = $("#signature");
            $sigdiv.jSignature("reset");
        }

        function SubmitRegForm()
        {
            var $sigdiv = $("#signature");
            var datapair = $sigdiv.jSignature("getData","svg"); 
            //Murali v : this condition is added to avoid going default value to the database here added by chetan 
            var isSignatureProvided=$sigdiv.jSignature("getData","svg")[1].length > 317 ? true : false;
            if( isSignatureProvided )
            {
                $('#SignatureSVG').val(datapair[1]);
            }

            $('#TabNumber').val(7);

            document.forms['frmMobileRegSummary'].submit();
        }

        $("#CapturedIMEINumber").keypress(function(e){
            //key code 13 is "enter", 
            if(e.keyCode==13){  
                PoputateIMEI();
            }
        });

        $("#CapturedSIMSerial").keypress(function(e){
            //key code 13 is "enter", 
            if(e.keyCode==13){  
                PoputateSIM(null);
            }
        });

        function IMEIWindowOnOpen(){
            $('#imeiWindow').data('tWindow').refresh();
            $('#CapturedIMEINumber').val('');
        }
        
        function SIMWindowOnOpen(){
            $('#imeiWindow').data('tWindow').refresh();
            $('#CapturedSIMSerial').val('');
        }

        function createKenanAcc()
        {
            var inputIMEI = $('#CapturedIMEINumber').val();
            var inputSIM = $('#CapturedSIMSerial').val();
         
            if(inputIMEI == '' || inputSIM == '')
            {
                alert('Insert IMEI & SIM Number !');
                return false;
            }
            $('#submit1').val('createAcc');
            return true;
        }
         function SimModelChange()
    {
       var selSimModlVal=$("#SIMModel").data("tDropDownList").value();
    
        var url = '@(Url.Content("~/CRP/SimModelsCount"))';
        $.post(url, {strArticleId:selSimModlVal }, function (data) {      
            if(data != "0")
            {
               $("#CapturedSIMSerial").attr('disabled', false);
            }
            else
            {
                $('#tdSimSerial_Error').html("Selected Sim Model is not Available.Please select another Sim Model");
            }
        });
    }

    function validateSimModel()
    {
        var selSimModlVal=$("#SIMModel").data("tDropDownList").value();
        if(selSimModlVal == 0 )
        {
            alert("Please Select SIM Model");
            return false;
        }
        else
        {
            return true;
        }        
    }
        function PoputateIMEI(form){
             $('#tdImei_Error').html("");
            if (form != null && $(form).valid() == false) {
                return false;
            }
            var inputIMEI = $('#CapturedIMEINumber').val();
            if(inputIMEI == '')
            {
             $('#tdImei_Error').html("The IMEI field is required.");
             $('#tdImei_Error').show();
             $('#CapturedIMEINumber').val('');
             $('#CapturedIMEINumber').focus();
             return false;
            }
            else
            {
             $('#tdImei_Error').html("");
            }
            var regID = $('#RegID').val();
            var url ='@(Url.Content("~/Registration/CheckIMEIStatus"))';
            $.post(url,{regID:regID, imei:inputIMEI},function(data){
            if(data.toString() == "False"){
            $('#tdImei_Error').html("IMEI not valid for the selected device");
            $('#tdImei_Error').show();
            $('#CapturedIMEINumber').val('');
            $('#CapturedIMEINumber').focus();
            return false;

            }
            else
            {
            url = '@(Url.Content("~/CRP/UpdateIMEI"))';
            $.post(url, { regID: regID, imei:inputIMEI }, function (data) {

                if(data=='')
                {
                    $('#RegIMEINumber').val(inputIMEI);
                    $('#IMEINumber').val(inputIMEI);
                    $('#lblIMEI').text(inputIMEI);
                    $('#lblErrMsg').val('');
                     if ($('#lblSIM').length != 0 && $('#lblSIM').text() != 'Not available') {
                        $("#IsSImRequired_Smart").attr("disabled", "disabled");
                        }

                    if(inputIMEI != '' && $('#RegSIMSerial').val() != ''){
                        $('#divAccEon').show();
                        $('#divAccEoff').show();
                    }
                    else{
                        $('#divAccEon').hide();
                        $('#divAccEoff').hide();
                    }
                }
                else
                {
                    $('#lblErrMsg').val(data);
                }
                checkIMEIAndSIM();
            });
            
            var window = $('#imeiWindow').data('tWindow');
            window.close();
            }
            });
            return false;
        }
        function PoputateSIM(form){
             $('#tdSimSerial_Error').html("");
        $('#tdSimSerial_Error').hide();
            if (form != null && $(form).valid() == false) {
             var inputSIM = $('#CapturedSIMSerial').val();
           if(inputSIM == '')
            {
             $('#tdSimSerial_Error').html("The SIM Serial field is required.");
             $('#tdSimSerial_Error').show();
             $('#CapturedSIMSerial').val('');
             $('#CapturedSIMSerial').focus();
          
             return false;
            }
            else
            {
             $('#tdSimSerial_Error').html("");
            }
                return false;
            }
            var inputSIM = $('#CapturedSIMSerial').val();
           if(inputSIM == '')
            {
             $('#tdSimSerial_Error').html("The SIM Serial field is required.");
             $('#tdSimSerial_Error').show();
             $('#CapturedSIMSerial').val('');
             $('#CapturedSIMSerial').focus();
             return false;
            }
            else
            {
             $('#tdSimSerial_Error').html("");
            }
            var regID = $('#RegID').val();
            var selSimModlVal=$("#SIMModel").data("tDropDownList").value();
//           if(inputSIM != '' && inputSIM.length < 15)
//           {
//               $('#tdSimSerial_Error').html("Sim serial length must be greater than or equal to 15");
//               $('#tdSimSerial_Error').show();
//               $('#CapturedSIMSerial').val('');
//               $('#CapturedSIMSerial').focus();
//                return false;
//           }
            var url = '@(Url.Content("~/CRP/CheckSimSerial"))';
            $.post(url, {sim:inputSIM, simmodel:selSimModlVal  }, function (data) {
            if(data.toString()=="False")
            {
            if(inputSIM.length < 15)
            {
               $('#tdSimSerial_Error').html("Sim serial length must be greater than or equal to 15");
            }
            else
            {
              $('#tdSimSerial_Error').html("Sim Serial not valid for the selected sim model");
            }
            $('#tdSimSerial_Error').show();
            $('#CapturedSIMSerial').val('');
            $('#CapturedSIMSerial').focus();
            return false;
            }
            else
            { 

            //Calling the Update Method if the Sim is Valid
            url = '@(Url.Content("~/CRP/UpdateSIM"))';
            $.post(url, { regID: regID, sim:inputSIM }, function (data) {
                
                if(data=='')
                {
                    $('#RegSIMSerial').val(inputSIM);
                    $('#SIMSerial').val(inputSIM);
                    $('#lblSIM').text(inputSIM);
                    $('#lblErrMsg').val('');

                    if(inputSIM != '' || ($('#RegIMEINumber').val() != '' && '@(simOnly)' == 'False')){
                        $('#divAccEon').show();
                        $('#divAccEoff').show();
                    }
                    else{
                        $('#divAccEon').hide();
                        $('#divAccEoff').hide();
                    }
                    checkIMEIAndSIM();
                }
                else
                {
                    $('#lblErrMsg').val(data);
                }
            });
            
            var window = $('#simWindow').data('tWindow');
            window.close();

            }
           });

            return false;
        }
        function PoputateSIM1(form){
        
            if (form != null && $(form).valid() == false) {
                return false;
            }
            var inputSIM = $('#CapturedSIMSerial').val();
            var regID = $('#RegID').val();

            var url = '@(Url.Content("~/Storekeeper/Storekeeper/UpdateSIM"))';
            
            $.post(url, { regID: regID, sim:inputSIM }, function (data) {
                
                if(data=='')
                {
                    $('#RegSIMSerial').val(inputSIM);
                    $('#SIMSerial').val(inputSIM);
                    $('#lblSIM').text(inputSIM);
                    $('#lblErrMsg').val('');

                    if(inputSIM != '' || ($('#RegIMEINumber').val() != '' && '@(simOnly)' == 'False')){
                        $('#divAccEon').show();
                        $('#divAccEoff').show();
                    }
                    else{
                        $('#divAccEon').hide();
                        $('#divAccEoff').hide();
                    }
                    checkIMEIAndSIM();
                }
                else
                {
                    $('#lblErrMsg').val(data);
                }
            });
            
            var window = $('#simWindow').data('tWindow');
            window.close();

            return false;
        }

             /********** CAPTURE  **********/
//        Sutan Added code 6Th March 2013
		$(function() {

        var url = '@(Url.Content("~/CRP/UploadImage"))';
        var formdata = false;

//		  $("#CustImageUpload").change(function(ev) {          
//			var reader = new FileReader();
//			reader.onload = (function(ev) {
//			  $("#imgCustPhoto").attr("src", ev.target.result).fadeIn();
//              $("#CustomerPhoto").val(ev.target.result);
//			});
//            debugger
//			var file = this.files[0];
//			$("#imgCustPhoto").data("name", file.name);
//			reader.readAsDataURL(file);
//		  });     

        $("#CustImageUpload").change(function() {
        ///CHECK WHETHER THE BROWSER SUPPORTS HTML 5, FormData AND FileReader Object.
        ///FIREFOX DOES SUPPORT FileReader OBJECT. IE SUPPORTS BUT VERSION 10 ONWARDS. SO IF IE IS GETTING USED TO INTEGRATE PLEASE USE IE 10

        if( window.FormData !== undefined )
        {
            var i = 0, len = this.files.length, img, reader, file;
            //debugger
            formdata = false;
            ///Check for FormData support in browser
            if (window.FormData) {
                formdata = new FormData();
            }
            ///Check if length greater than 0 then only proceed
            if(len>0)
            {
                file = this.files[0]; 

                if ( window.FileReader) 
                {         
                    ///Check the filetype if not image show alert and exit
                    if(file.type.indexOf("image") == -1)
                    {
                        $('#divFrontImageMsg').show("slow");
                        return;
                    }      
                     else
                    {
                        $('#divFrontImageMsg').hide();
                    }         
                    ///Append the file object to post the file request to server side
                    if (formdata) 
                    {
                        formdata.append("default_export_filename", file);
                    } 

                        ///Post the file details to server side script
                    if (formdata) 
                    {
                        $.ajax({
                            url: url,
                            type: "POST",
                            data: formdata,
                            processData: false,
                            contentType: false,
                            success: function (Data) {                        
                                    //Assign the processed imageUrl returned from the server side to imgCustPhoto img
                                    $("#imgCustPhoto").attr("src", Data.imageUrl).fadeIn();
                                    $("#imgCustPhoto").data("name", file.name);
                                    $("#CustomerPhoto").val(Data.imageUrl);
                            },
                            error:function(xhr,err){
                                ///WHOEVER INTEGRATES THE CODE PLEASE UNCOMMENT THE BELOW CODE IN CASE OF UNEXPECTED RESULTS.                        
                                //alert("readyState: "+xhr.readyState+"\nstatus: "+xhr.status);
                                //alert("responseText: "+xhr.responseText);
                        }
                        });
                    }            
                 }                     
            }          
           
        }///undefined
            
        });

//          $("#CustImageUpload2").change(function(ev) {

//			var reader = new FileReader();
//			reader.onload = (function(ev) {
//			  $("#imgAltCustPhoto").attr("src", ev.target.result).fadeIn();
//              $("#AltCustomerPhoto").val(ev.target.result);
//			});

//			var file = this.files[0];
//			$("#imgAltCustPhoto").data("name", file.name);
//			reader.readAsDataURL(file);
//		  });

            $("#CustImageUpload2").change(function() {
                ///CHECK WHETHER THE BROWSER SUPPORTS HTML 5, FormData AND FileReader Object.
                ///FIREFOX DOES SUPPORT FileReader OBJECT. IE SUPPORTS BUT VERSION 10 ONWARDS. SO IF IE IS GETTING USED TO INTEGRATE PLEASE USE IE 10

                if( window.FormData !== undefined )
                {
                    var i = 0, len = this.files.length, img, reader, file;
                    //debugger
                    formdata = false;
                    ///Check for FormData support in browser
                    if (window.FormData) {
                        formdata = new FormData();
                    }
                    ///Check if length greater than 0 then only proceed
                    if(len>0)
                    {
                        file = this.files[0]; 

                        if ( window.FileReader) 
                        {         
                            ///Check the filetype if not image show alert and exit
                            if(file.type.indexOf("image") == -1)
                            {
                                $('#divFrontImageMsg').show("slow");
                                return;
                            }  
                            else
                            {
                                $('#divFrontImageMsg').hide();
                            }            
                            ///Append the file object to post the file request to server side
                            if (formdata) 
                            {
                                formdata.append("default_export_filename", file);
                            } 

                                ///Post the file details to server side script
                            if (formdata) 
                            {
                                $.ajax({
                                    url: url,
                                    type: "POST",
                                    data: formdata,
                                    processData: false,
                                    contentType: false,
                                    success: function (Data) {                        
                                            //Assign the processed imageUrl returned from the server side to imgCustPhoto img
                                            $("#imgAltCustPhoto").attr("src", Data.imageUrl).fadeIn();
                                            $("#imgAltCustPhoto").data("name", file.name);
                                            $("#AltCustomerPhoto").val(Data.imageUrl);
                                    },
                                    error:function(xhr,err){
                                        ///WHOEVER INTEGRATES THE CODE PLEASE UNCOMMENT THE BELOW CODE IN CASE OF UNEXPECTED RESULTS.                        
                                        //alert("readyState: "+xhr.readyState+"\nstatus: "+xhr.status);
                                        //alert("responseText: "+xhr.responseText);
                                }
                                });
                            }            
                         }                     
                    }          
           
                }///undefined
            
            });

//          $("#CustImageUpload3").change(function(ev) {

//			var reader = new FileReader();
//			reader.onload = (function(ev) {
//			  $("#imgPhoto").attr("src", ev.target.result).fadeIn();
//              $("#Photo").val(ev.target.result);
//			});

//			var file = this.files[0];
//			$("#imgPhoto").data("name", file.name);
//			reader.readAsDataURL(file);
//		  });

          $("#CustImageUpload3").change(function() {
            ///CHECK WHETHER THE BROWSER SUPPORTS HTML 5, FormData AND FileReader Object.
            ///FIREFOX DOES SUPPORT FileReader OBJECT. IE SUPPORTS BUT VERSION 10 ONWARDS. SO IF IE IS GETTING USED TO INTEGRATE PLEASE USE IE 10

                if( window.FormData !== undefined )
                {
                    var i = 0, len = this.files.length, img, reader, file;
                    //debugger
                    formdata = false;
                    ///Check for FormData support in browser
                    if (window.FormData) {
                        formdata = new FormData();
                    }
                    ///Check if length greater than 0 then only proceed
                    if(len>0)
                    {
                        file = this.files[0]; 

                        if ( window.FileReader) 
                        {         
                            ///Check the filetype if not image show alert and exit
                            if(file.type.indexOf("image") == -1)
                            {
                                $('#divFrontImageMsg').show("slow");
                                return;
                            }
                            else
                            {
                                $('#divFrontImageMsg').hide();
                            }
                            ///Append the file object to post the file request to server side
                            if (formdata) 
                            {
                                formdata.append("default_export_filename", file);
                            } 

                                ///Post the file details to server side script
                            if (formdata) 
                            {
                                $.ajax({
                                    url: url,
                                    type: "POST",
                                    data: formdata,
                                    processData: false,
                                    contentType: false,
                                    success: function (Data) {                        
                                            //Assign the processed imageUrl returned from the server side to imgCustPhoto img
                                            $("#imgPhoto").attr("src", Data.imageUrl).fadeIn();
                                            $("#imgPhoto").data("name", file.name);
                                            $("#Photo").val(Data.imageUrl);
                                    },
                                    error:function(xhr,err){
                                        ///WHOEVER INTEGRATES THE CODE PLEASE UNCOMMENT THE BELOW CODE IN CASE OF UNEXPECTED RESULTS.                        
                                        //alert("readyState: "+xhr.readyState+"\nstatus: "+xhr.status);
                                        //alert("responseText: "+xhr.responseText);
                                }
                                });
                            }            
                         }                     
                    }          
           
                }///undefined
            
            });

		});

        

 



//      End Sutan Added code 6Th March 2013
		/********** GENERIC FUNCTIONALITY **********/

		$.fn.replace= function() {
		  var $el = $(this).fadeOut();
		  $el.clone().insertBefore($el).fadeIn();
		  $el.remove();
		}

		$.fn.fly = function(target, callback) {
		  var callback = callback || function() {};
		  var $target = $(target);
		  target=$target.get(0);
		  return $(this).each(function(i, el) {
			var $el = $(el);
			var $clone = $el
						 .clone()
						 .css({position: "absolute",
							   left: el.offsetLeft, top: el.offsetTop,
							   width: el.offsetWidth, height: el.offsetHeight,
							   padding: 0, margin: 0 })
						.appendTo("body");
			var targetStyle = target ?
			  { width: target.offsetWidth, height: target.offsetHeight,
				top: target.offsetTop, left: target.offsetLeft } :
			  { width: 0, height: 0, opacity: 0.4, top: 0, };

			var isLast = (i == $(this).length-1);
			$clone.animate(targetStyle, function() {
			  $clone.remove();
			  if (isLast) callback();
			});
		  });
		}

		$.fn.disappear = function() { $(this).css("visibility", "hidden"); }
		$.fn.appear = function() { $(this).css("visibility", "visible"); }

		// http://ejohn.org/blog/javascript-array-remove/
		Array.prototype.remove = function(from, to) {
		  var rest = this.slice((to || from) + 1 || this.length);
		  this.length = from < 0 ? this.length + from : from;
		  return this.push.apply(this, rest);
		};           
        if (window.history.forward(1) != null) {
        window.history.forward(1);       
    }   
      function checkIMEIAndSIM()
    {
        $('#btnChangePackage').hide();
        
//        if ($('#IsSImRequired_Smart').attr("checked") == "checked")
//            {     
//                if($('#RegSIMSerial').val() == '')
//                {
//                 
//                    return false;
//                }
//                else
//                {
//                    $("#IsSImRequired_Smart").attr("disabled", "disabled");
//                }
//            }
        
        if($('#btnSIM').length > 0)
        {
            if($('#RegSIMSerial').val() == '' && '@(IsSImRequired_Smart)' == 'True')
            {
                 return false;
            }
        }
        if($('#btnIMEI').length > 0)
        {
            if($('#RegIMEINumber').val() == '')
            {
                 return false;
            }
        }
        
        $('#btnChangePackage').show();
        return false;
    } 
    </script>
}
@section Styles{
    <style type="text/css">
        .title
        {
            text-transform: uppercase;
            width: 500px;
            border-bottom: 1px solid lightgray;
            font-weight: bold;
            color: #7cb44f;
            padding: 10px 0px 5px 0px;
        }
    </style>
}
