﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Controllers;
@model Online.Registration.Web.Models.PrincipalAndSupplementaryDetails
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "Change Rate Plan";
    var isBlacklisted = ViewBag.isBlacklisted;
    var resultMsg = Session["RegMobileReg_ResultMessage"].ToString2();
    bool newUser = true;
    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        newUser = false;
    }
    if (ReferenceEquals(Model, null))
    {
        newUser = true;
    }
    List<string> allowedPrefixes = new List<string>();
    if (System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"] != null)
    {
        allowedPrefixes = System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"].ToString2().Split(',').ToList();
    }
    
    bool currentRoll = Roles.IsUserInRole("MREG_NEW");

    var fromIpad = Request.Headers["User-Agent"].ToLower().Contains("ipad");
    var containerClass = fromIpad ? "container-fluid ipad-container" : "container";
}

<div class="@containerClass">
    <div class="isell-base">
        @{
            var viewBagValue = new ViewDataDictionary();
            viewBagValue.Add("headerLabel", "Change Rate Plan / Device Contract:");
            Html.RenderPartial("_AccountHolderName", viewBagValue);
        }
        <div class="row">
            <div class="col-sm-12 green-bg">
                <p class="font-24">
                    Change Rate Plan / Device Contract
                </p>
            </div>
        </div>

        @using (Html.BeginForm("GetPrinPlanDetails", "CRP", FormMethod.Post, new { id = "frmGetPrinPlanDetails", @class = "overlayonsubmit", processmsg = "Loading" }))
        {
            <input type="hidden" name="principalDetails" value='@Model.principalDetails.Count' />
            @Html.Hidden("hdnIsDeviceRequired")
            <input type="hidden" name="hdnSelectedValue" />
            @Html.Hidden("SelectAccountPrinDtls")
            
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="col-sm-12 col-xs-12">
                        <div id="Dealer_Error" class="validation-summary-errors"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="content_white">
                        <div id="ValidationSummary_Error" class="ErrorClass" style="font-size: 16px; color: Red;">@Html.ValidationSummary(false)</div>
                    </div>
                    <div class="content_white">
                        <div id="Plan_Error" class="ErrorClass" style="font-size: 16px"></div>
                    </div>
                </div>

                <div class="col-sm-12 col-xs-12">
                    <div id="DVResultDisplay" class="tab-content">
                        <div class="content search-header">
                           
                            <div class="search-header-box">
                                <div class="search-hdr-title"><p class="device-title">Select the Principal line for this Supplementary line</p></div>
                                <div class="search-hdr-title"><h2>Selected MSISDN: @Html.Label(Session["ExternalID"].ToString2())</h2></div>
                            </div>
                        </div>

                        <div class="tab-content font-16">
                        <div id="dvError" class="ErrorClass" style="padding-bottom: 10px; color: Red; display:none"> </div>
                                @if (!newUser && Model.principalDetails.Count > 0)
                                {
                                    <div id="Grid" class="crp-wrapper">
                                        <table width="100%" border="0" id="tblprin" class="tbl-acc-list">
                                            <tbody>
                                                <tr class="row-bold-header" id="tblheader">
                                                    <td style="padding-left: 1%">
                                                        Name
                                                    </td>
                                                    <td>
                                                        ID No
                                                    </td>
                                                    <td>
                                                        MSISDN
                                                    </td>
                                                    <td>
                                                        Account Number
                                                    </td>
                                                    <td>
                                                        MISM
                                                    </td>
                                                </tr>
                                                @{int rowCount = 0;}
                                                @foreach (var Acd in Model.principalDetails)
                                                {
                                                    if (allowedPrefixes.Contains(Acd.externalId.Substring(0, 3)))
                                                    {

                                                        if (Convert.ToDecimal(Acd.outstandingAmount.Replace("RM", "")) == 0)
                                                        {
                                                            var itemval = string.Empty;
                                                            if (Acd.IsMISM)
                                                            {
                                                                itemval = string.IsNullOrEmpty(Acd.PrinMsisdn) ? Acd.externalId : Acd.PrinMsisdn;
                                                            }
                                                            else
                                                            {
                                                                itemval = Acd.externalId;
                                                            }
                                                            int suppliCount = Model.supplementaryDetails.Where(a => a.Category == Acd.externalId).Count();
                                                            rowCount = rowCount + 1;  
                                                    <tr class="tbl-acc-list-row" id="div-@itemval" onclick="selectAccount(this);" data-value="@Acd.accountIntId,@Acd.externalId,@Acd.accountExtId,@Acd.AccountNumber,@Acd.outstandingAmount,@Acd.AccountStatus,@Convert.ToInt16(Acd.Plan),@Acd.SubscribeNo.ToString2(),@Acd.SubscribeNoResets.ToString2(),@Acd.IsMISM.ToString2(),@suppliCount">
                                                        <td>@Acd.Holder
                                                        </td>
                                                        <td>@Acd.IDNumber
                                                        </td>
                                                        <td>@Acd.externalId
                                                        </td>
                                                        <td>@Acd.accountExtId
                                                        </td>
                                                        @{if (Acd.IsMISM == true)
                                                          {
                                                            <td>
                                                                Yes
                                                            </td>
                                                          }
                                                          else
                                                          {
                                                            <td>
                                                                No
                                                            </td>  
                                                          }
                                                        }
                                                    </tr>
                                       
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }
                                else
                                {
                                    <div id="DVShowNewUSerMsg" style="color: Red; font-weight: bold; font-size: 14px;">
                                        No other principal accounts exists for this customer</div>
                                }
                            
                        </div>
                    </div>
                </div>
            
            </div>
            
            <br />
            
            <div class="row">
                <div style="height: 40px;" class="border-top">
                    <div id="col-sm-1" style="float: left; padding: 20px">
                        <div class="btn isell-btn" id="btnBack" onclick="BackAction();" >< Back</div>
                    </div>   
					<div class="col-sm-9" id="cancel" style="padding: 20px">
						<div class="btn isell-btn" id="btnCancel" data-toggle="modal" data-target="#cancel-pop" style="background-color: transparent;">< Cancel</div>
					</div>                  
                    @if (!newUser && Model.principalDetails.Count > 0)
                    {
                        <div id="col-sm-2" style="float: right; padding: 20px">
                            <div class="btn isell-next" id="btnNext" onclick="return Validation();" >Next <span>></span></div>
                        </div>
                    }
                </div>
            </div>
        }


    </div>
</div>

@section Scripts{
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            
        });

        function selectAccount(obj) {
            var id = $(obj).attr('id');
            var value = $(obj).attr('data-value');

            $('td').removeClass('selected-account-row');
            $('td').removeClass('acc-row-first-child');
            $('td').removeClass('acc-row-last-child');

            $('#' + id + ' td').addClass('selected-account-row');
            $('#' + id + ' td:first-child').addClass('acc-row-first-child');
            $('#' + id + ' td:last-child').addClass('acc-row-last-child');
            hideError();
            $('#SelectAccountPrinDtls').val(value);
        }

        function showError(msg) {
            $('#dvError').show();
            $('#dvError').html(msg);
        }

        function hideError() {
            $('#dvError').hide();
            $('#dvError').html('');
        }

        function BackAction() {
            window.location = '@(Url.Action("ContractCheck", "CRP"))';
        }

        function Validation() {
            if ($('#SelectAccountPrinDtls').val() == '') {
                showError("Please select an account to proceed further.");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }

            $("#frmGetPrinPlanDetails").submit();
        }
   
    </script>
}
