﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Controllers;
@model Online.Registration.Web.Models.PrincipalAndSupplementaryDetails
@{
    ViewBag.Title = "Change Rate Plan";
    var isBlacklisted = ViewBag.isBlacklisted;
    var resultMsg = Session["RegMobileReg_ResultMessage"].ToString2();
    bool newUser = true;
    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        newUser = false;
    }
    if (ReferenceEquals(Model, null))
    {
        newUser = true;
    }
    List<string> allowedPrefixes = new List<string>();
    if (System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"] != null)
    {
        allowedPrefixes = System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"].ToString2().Split(',').ToList();
    }
    int SuppMSISDNsCount = @Session["SuppAccounts"].ToString2().TrimEnd(',').Split(',').Count();
}
<div id="center">
    <div class="center_box">
        @using (Html.BeginForm("GetSupplementaryPlanDetails", "CRP", FormMethod.Post, new { id = "frmGetSupplementaryPlanDetails", @class = "overlayonsubmit", processmsg = "Loading" }))
        { 
            <input type="hidden" name="principalDetails" value='@Model.principalDetails.Count' />
            <input type="hidden" id="hdnSelectedValue" name="hdnSelectedValue" />
            <div class="content search-header">
                <div class="search-header-box">
                    <div class="search-hdr-title">@ViewBag.Title</div>
                </div>
            </div>
            <div style="clear: both;">
            </div>
    
            <div class="content_white">
                <div id="DVResultDisplay">
                    @Html.ValidationSummary()
                    <div style="font-size: small; font-weight: bold; white-space: nowrap; padding-left: 20px;
                        padding-top: 5px;">
                        Selected principal account has below supplementary line(s): 
                                @Html.Label(Session["SuppAccounts"].ToString2().TrimEnd(','))
                    </div>
                    <br />
                    <div style="font-size: small; font-weight: bold; padding-left: 20px;">
                        Select a principal account to map supplementary account(s)
                    </div>
                    <table width="100%" style="text-align: center;">
                        <tr>
                            <td>
                                @if (!newUser && Model.principalDetails.Count > 0)
                                {
                                    <div id="Grid" class="crp-wrapper">
                                        <table width="100%" cellpadding="0" cellspacing="0" border="0" id="search-table">
                                            <tbody>
                                                <tr class="row-header">
                                                    <td align="center">
                                                        Action
                                                    </td>
                                                    <td>
                                                        Name
                                                    </td>
                                                    <td>
                                                        ID No
                                                    </td>
                                                    <td>
                                                        MSISDN
                                                    </td>
                                                    <td>
                                                        Account Number
                                                    </td>
                                                    <td>
                                                        IS MISM
                                                    </td>
                                                     <td>
                                                        Exist SuppLines
                                                    </td>
                                                </tr>
                                                @{int rowCount = 0;}
                                                @foreach (var Acd in Model.principalDetails)
                                                {
                                                    if (Acd.AccountName == "None")
                                                    {
                                                     <tr class="row-body">
                                                        <td align="center">
                                                        @Html.RadioButton("SelectAccountPrinDtls", Acd.accountIntId + "," + Acd.externalId + "," + Acd.accountExtId + "," + Acd.AccountNumber + "," + Acd.outstandingAmount + "," + Acd.AccountStatus + "," + Convert.ToInt16(Acd.Plan) + "," + Acd.SubscribeNo.ToString2() + "," + Acd.SubscribeNoResets.ToString2() + "," + Acd.IsMISM.ToString2() + "," + Model.supplementaryDetails.Where(a => a.Category == Acd.externalId).Count().ToString2(), rowCount == 1 ? true : false)
                                                        </td>
                                                        <td>
                                                        @Html.Label(Acd.AccountName)
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td></td>
                                                         <td>
                                                         </td>
                                                        
                                                    </tr>
                                                    }
                                                    else if (allowedPrefixes.Contains(Acd.externalId.Substring(0, 3)))
                                                    {
                                                        if (Convert.ToDecimal(Acd.outstandingAmount.Replace("RM", "")) == 0)
                                                        {
                                                    <tr class="row-body">
                                                        @{  rowCount = rowCount + 1;
                                                        }
                                                        @*<td>@Html.RadioButton("SelectAccountPrinDtls", Acd.accountIntId + "," + Acd.externalId + "," + Acd.accountExtId + "," + Acd.AccountNumber + "," + Acd.outstandingAmount + "," + Acd.AccountStatus, rowCount == 1 ? true : false, new { id = "SelectRadioButton" })</td>*@
                                                        <td align="center">
                                                        @*<input type="radio" name="SelectAccountPrinDtls" value=*@
                                                        @Html.RadioButton("SelectAccountPrinDtls", Acd.accountIntId + "," + Acd.externalId + "," + Acd.accountExtId + "," + Acd.AccountNumber + "," + Acd.outstandingAmount + "," + Acd.AccountStatus + "," + Convert.ToInt16(Acd.Plan) + "," + Acd.SubscribeNo.ToString2() + "," + Acd.SubscribeNoResets.ToString2() + "," + Acd.IsMISM.ToString2() + "," + Model.supplementaryDetails.Where(a => a.Category == Acd.externalId).Count().ToString2(), rowCount == 1 ? true : false)
                                                        </td>
                                                        <td>@Html.Label(Acd.Holder)
                                                        </td>
                                                        <td>@Html.Label(Acd.IDNumber)
                                                        </td>
                                                        <td>@Html.Label(Acd.externalId)
                                                        </td>
                                                        <td>@Html.Label(Acd.accountExtId)
                                                        </td>
                                                        @{if (Acd.IsMISM == true)
                                                          {
                                                            <td>
                                                                Yes
                                                            </td>
                                                          }
                                                          else
                                                          {
                                                            <td>
                                                                No
                                                            </td>  
                                                          }
                                                          <td>
                                                          @Html.Label(Model.supplementaryDetails.Where(a => a.Category == Acd.externalId).Count().ToString2())
                                                          </td>
                                                        }
                                                    </tr>
                                       
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }
                                else
                                {
                                    <div id="DVShowNewUSerMsg">
                                        No Principal accounts exists for the user</div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
                @if (!newUser && Model.principalDetails.Count > 0)
                {
                           
                    <div style="height: 80px;" class="content_white" id="DVResultButtonDisplay">
                        <div style="float: right; padding-right: 30px" id="divHeader">
                            <input class="submitButton" type="button" value="Next" onclick="ValidatePrincipleSupplies(this);" />
                        </div>
                    </div>
                }
            </div>
   
            <div id="jqxgrid">
            </div>
            
        }
                             </div>  
    @Html.Partial("_footer")
         </div>  
@section Scripts{
<script type="text/javascript" language="javascript" >
    $(document).ready(function () {

    });

    function ValidatePrincipleSupplies() {
        var data = $('input[name="SelectAccountPrinDtls"]:checked').val();
        //alert(data);
        if (data.split(',')[0] == '' || data.split(',')[0] == null || data.split(',')[0] == 'undefined' || data.split(',')[0] == undefined) {
            $('#hdnSelectedValue').val('None');
        }
        else {
            $('#hdnSelectedValue').val(data.split(',')[1]);
        }
        var RCount = data.split(',')[10];
        var DCount = '@SuppMSISDNsCount';
        //alert(DCount);
        if (RCount > 5 || DCount > 5 || (RCount + DCount) > 5) {
            alert("Principle lines should not exceed 5 supplines. Please select other principle line to map.");
        }
        else {
            //document.forms['frmGetSupplementaryPlanDetails'].submit();
            $("#frmGetSupplementaryPlanDetails").submit();
        }

        

    }
    
   
</script>
}
