﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@{
    ViewBag.Title = "Activate Service";
    Layout = "~/Views/Shared/_SubmitLayout.cshtml";

    string sharingSuppMsg = System.Configuration.ConfigurationManager.AppSettings["NonShareToShareSubmitMessage"];
    bool sharingSuppFlag = !ReferenceEquals(Session["QuotaShareSubmitMessage"], null) ? (bool)Session["QuotaShareSubmitMessage"] : false;
}
@model int
<div>
    <table width="100%">
        <tr>
            <td style="width: 580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<div>
    <h3 style="font-size: 22px;">
        Service activation request has been sent successfully.</h3>
        @if (sharingSuppFlag)
        { 
            <h3>@sharingSuppMsg</h3>
        }
    <h4 style="font-size: 22px;">
        Click
        @Html.ActionLink("HERE", "SK_MobileRegSummary", new { regID = Html.DisplayForModel() }, new { Area = "CRP", style = "color:#5fb848;font-weight:bold;text-decoration:none" })
        to view registration or <a href="@(Url.Content("~/CRP/PrintContractDetails?id=" + Model))" target="_blank" style="text-decoration:none" >
            <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
            Print </a>the registration form.
    </h4>
        @if (@TempData["CMSSCaseStatus"].ToString2() != string.Empty && @TempData["CMSSCaseStatus"].ToString2() == "Success")
         {
          <h5 style="color:#CC1122">CMSS case has been created successfully. CMSS Case Id: @TempData["CMSSCaseID"].ToString2() </h5>
         }
          else if (@TempData["CMSSCaseStatus"].ToString2() != string.Empty && @TempData["CMSSCaseStatus"].ToString2() == "Fail")
          {
          <h5 style="color:#CC1122">CMSS case creation failed.</h5>
          }
</div>
