﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.Properties;
@model int
@*@model Online.Registration.Web.RegistrationSvc.LnkRegDetailsReq*@
@{
    ViewBag.Title = "Submit Registration";
    Layout = "~/Views/Shared/_NewLayout.cshtml";

    string sharingSuppMsg = System.Configuration.ConfigurationManager.AppSettings["NonShareToShareSubmitMessage"];
    bool sharingSuppFlag = !ReferenceEquals(Session["QuotaShareSubmitMessage"], null) ? (bool)Session["QuotaShareSubmitMessage"] : false;
    
    var fromIpad = Request.Headers["User-Agent"].ToLower().Contains("ipad");
    var containerClass = fromIpad ? "container-fluid ipad-container" : "container";

    var viewOrderURL = Url.Action("SK_MobileRegSummary", "CRP", new { regID = Model });
    var printOrderURL = Url.Content("~/CRP/PrintContractDetails?id=" + Model);
    var homeURL = Url.Action("IndexNew", "Home");

    var IsDealer = Session["IsDealer"].ToBool();
    var IsCDPU = false;

    if (Util.isCDPUUser())
    {
        IsDealer = false;
        IsCDPU = true;
    }
}

@*
@model int*@

<div class="@containerClass">
        <div class="isell-base">
        @{
            var viewBagVal = new ViewDataDictionary();
            viewBagVal.Add("headerLabel", "Change Rate Plan / Device Contract:");
            Html.RenderPartial("_AccountHolderName", viewBagVal);
        }
        <div class="row">
            <div class="col-sm-12 green-bg">
                <p class="font-24">Change Rate Plan / Device Contract</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 success">
                <h1>Service activation request has been sent successfully</h1>
                @if (@TempData["CMSSCaseStatus"].ToString2() != string.Empty && @TempData["CMSSCaseStatus"].ToString2() == "Success")
                {
                    <h5 style="color:#CC1122">CMSS case has been created successfully. CMSS Case Id: @TempData["CMSSCaseID"].ToString2() </h5>
                }
                else if (@TempData["CMSSCaseStatus"].ToString2() != string.Empty && @TempData["CMSSCaseStatus"].ToString2() == "Fail")
                {
                    <h5 style="color:#CC1122">CMSS case creation failed.</h5>
                }
                @if (sharingSuppFlag)
                { 
                    <h5 style="color:#CC1122">@sharingSuppMsg</h5>
                }

            </div>
            <ul class="col-sm-11 home">
                <li id="viewOrder" class="col-sm-4">
                    <div class="option-box">
                        <div class="view-order"></div>
                        <h2 style="margin-bottom: 10px">View Order</h2>
                    </div>
                </li>
                <li id="printOrder" class="col-sm-4">
                    <div class="option-box">
                        <div class="print"></div>
                        <h2 style="margin-bottom: 10px">Print Order</h2>
                    </div>
                </li>
                <li id="home" class="col-sm-4">
                    <div class="option-box">
                        <div class="back-home"></div>
                        <h2 style="margin-bottom: 10px">Home</h2>
                    </div>
                </li>
            </ul>
        </div>

        
        </div>
    </div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#viewOrder').click(function (e) {
            e.preventDefault();
            window.location.href = '@viewOrderURL';
        });
        $('#printOrder').click(function (e) {
            e.preventDefault();
            var win = window.open('@printOrderURL', '_blank');
            win.focus();
        });
        $('#home').click(function (e) {
            e.preventDefault();
            if ('@IsDealer' == 'True' || '@IsCDPU' == 'True') {
                window.location.href = '@homeURL';
            }
            else {
                cancelTransaction();
            }
        });
    });
</script>