﻿@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "Registration Failed";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    var fromIpad = Request.Headers["User-Agent"].ToLower().Contains("ipad");
    var containerClass = fromIpad ? "container-fluid ipad-container" : "container";
    var cancelURL = Url.Action("IndexNew", "Home");
}
@model int

<div class="@containerClass">
    <div class="isell-base">
    @{
        var viewBagValue = new ViewDataDictionary();
        viewBagValue.Add("headerLabel", "Change Rate Plan / Device Contract:");
        Html.RenderPartial("_AccountHolderName", viewBagValue);
    }
    <div class="row">
        <div class="col-sm-12 green-bg">
            <p class="font-24">Change Rate Plan / Device Contract</p>
        </div>
    </div>
    @using (Html.BeginForm("MobileRegFail", "CRP", FormMethod.Post, new { id = "frmMobileRegFail", @class = "overlayonsubmit", processmsg = "Loading" }))
    {
        @Html.Hidden("TabNumber")
        <div class="container" id="new-cus">
            <div class="row">
                <div class="col-sm-12 success">
                    @*<h2>Registration was not successful due to data inconsistency. Please retry to register by clicking back button</h2>*@
                    <h2>Technical issue encountered, please click cancel button and try again. If the issue persists, please contact ISDHDESK@maxis.com.my.</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div style="height: 40px;" class="border-top">
                <div id="divHeader" style="float: left; padding: 20px 30px">
                    @*<input class="btn isell-btn" value="< Back" onclick="$('#TabNumber').val(6);" />*@
                    <input type="button" class="btn isell-btn" id="btnCancel" value="< Cancel" style="background-color: transparent;" />
                </div>
            </div>
        </div>
    }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnCancel').click(function (e) {
            e.preventDefault();
            window.location.href = '@cancelURL';
        });
    });
</script>
