﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@{
    ViewBag.Title = "Payment Received";
    Layout = "~/Views/Shared/_SubmitLayout.cshtml";
}
@model int
<div>
    <table width="100%">
        <tr>
            <td style="width: 580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<div>
  @*  @Html.ValidationSummary(true, string.Empty)
    @using (Html.BeginForm())
    {*@
        <h3>
            Payment Received Successfully !<br />
            @if (Convert.ToBoolean(Session["isCreatedIMPOS"]) == true)
            {
                <text>IMPOS file Created Successfully</text> <br />
                <text>Barcode is :</text>

                @Html.Raw(Online.Registration.Web.Helper.Util.Barcodes(Session["BarCodFfileName"].ToString()));
            }
        </h3>
        
         <h4>
        Click
            @Html.ActionLink("HERE", "SK_CashierSummary", new { regID = Html.DisplayForModel() }, new { style = "color:#5fb848;font-weight:bold;text-decoration:none" }) 
           
        to view registration or <a href="@(Url.Content("~/CRP/PrintContractDetails?id=" +  Model))" target="_blank" style="text-decoration:none" >
            <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
            Print </a>the registration form.
    </h4>
      
        
        
  @*  }*@
</div>
