﻿@using Online.Registration.Web.ViewModels
@using Online.Registration.Web;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@model  Online.Registration.Web.Areas.CRP.CRPViewModels.CRPModelPenalty
@{
    ViewBag.Title = "Penalty amount";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" : "";
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    decimal penalty = Session["Penalty"] == null || Session["Penalty"] == string.Empty ? Convert.ToDecimal("0.00") : Convert.ToDecimal(Session["Penalty"].ToString());
    
}
<style type="text/css">
    #table-2
    {
        border: 1px solid #e3e3e3;
        background-color: #f2f2f2;
        width: 100%;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
    }
    #table-2 td, #table-2 th
    {
        padding: 5px;
        color: #333;
    }
    #table-2 thead
    {
        font-family: "Lucida Sans Unicode" , "Lucida Grande" , sans-serif;
        padding: .2em 0 .2em .5em;
        text-align: left;
        color: #4B4B4B;
        background-color: #C8C8C8;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e3e3e3), color-stop(.6,#B3B3B3));
        background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
        border-bottom: solid 1px #999;
    }
    #table-2 th
    {
        font-family: 'Helvetica Neue' , Helvetica, Arial, sans-serif;
        font-size: 17px;
        line-height: 20px;
        font-style: normal;
        font-weight: normal;
        text-align: left;
        text-shadow: white 1px 1px 1px;
    }
    #table-2 td
    {
        line-height: 20px;
        font-family: 'Helvetica Neue' , Helvetica, Arial, sans-serif;
        font-size: 14px;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
    }
</style>
<style type="text/css">
    #table-3
    {
        border: 1px solid #e3e3e3;
        background-color: #f2f2f2;
        width: 100%;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
    }
    #table-3 td, #table-2 th
    {
        padding: 5px;
        color: #333;
    }
    #table-3 thead
    {
        font-family: "Lucida Sans Unicode" , "Lucida Grande" , sans-serif;
        padding: .2em 0 .2em .5em;
        text-align: left;
        color: #4B4B4B;
        background-color: #C8C8C8;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e3e3e3), color-stop(.6,#B3B3B3));
        background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
        border-bottom: solid 1px #999;
    }
    #table-3 th
    {
        font-family: 'Helvetica Neue' , Helvetica, Arial, sans-serif;
        font-size: 17px;
        line-height: 20px;
        font-style: normal;
        font-weight: normal;
        text-align: left;
        text-shadow: white 1px 1px 1px;
    }
    #table-3 td
    {
        line-height: 20px;
        font-family: 'Helvetica Neue' , Helvetica, Arial, sans-serif;
        font-size: 14px;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
    }
</style>
<style type="text/css">
    #table-4
    {
        border: 1px solid #e3e3e3;
        background-color: #f2f2f2;
       width:80%;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;        
    }
    #table-4 td, #table-2 th
    {
        padding: 5px;
        color: #333;
    }
    #table-4 thead
    {
        font-family: "Lucida Sans Unicode" , "Lucida Grande" , sans-serif;
        padding: .2em 0 .2em .5em;
        text-align: left;
        color: #4B4B4B;
        background-color: #C8C8C8;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e3e3e3), color-stop(.6,#B3B3B3));
        background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
        border-bottom: solid 1px #999;
    }
    #table-4 th
    {
        font-family: 'Helvetica Neue' , Helvetica, Arial, sans-serif;
        font-size: 17px;
        line-height: 20px;
        font-style: normal;
        font-weight: normal;
        text-align: left;
        text-shadow: white 1px 1px 1px;
    }
    #table-4 td
    {
        line-height: 20px;
        font-family: 'Helvetica Neue' , Helvetica, Arial, sans-serif;
        font-size: 14px;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
    }
</style>
@using (Html.BeginForm("PenaltyWaiver", "CRP", FormMethod.Post, new { id = "frmPV", @class = "overlayonsubmit", processmsg = "Loading" }))
{ 
    <div class="vwHeader">
        <table width="100%">
            <tr>
                <td style="width: 580px">
                    <div>@ViewBag.Title</div>
                    <div class="vwSubHeader">
                        @*<label style="font-weight:bold;font-size:12px;">
                        @if(sessionRegType == (int)MobileRegType.DevicePlan){ <text> Select Preferred Device > </text> }
                        Select a Maxis Plan > Select a Contract and Optional VAS > @ViewBag.Title</label> > Customer Details > Customer Order Summary *@
                        @if (sessionRegType == (int)MobileRegType.DevicePlan)
                        {
                            <text>
                             @Html.Raw(string.Format(@"<ul class='breadcrumb_container'>
                                        <li class='breadcrumb_e breadcrumb_before'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step 1</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {0}</li>   
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>                                                                                 
                                        <li class='breadcrumb_e breadcrumb_item'>Step {1}</li>    
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>                                                   
                                        <li class='breadcrumb_e breadcrumb_item'>Step {2}</li>                                                                                                                                          
                                        <li class='breadcrumb_e breadcrumb_divider breadcrumb_divider_right'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item breadcrumb_item_hover'>Step {3}</li>
                                        <li class='breadcrumb_e breadcrumb_divider breadcrumb_divider_left'>&nbsp;</li>                                                                                                                                                                                             
                                        <li class='breadcrumb_e breadcrumb_item'>Step {4}</li>       
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>                                        
                                        <li class='breadcrumb_e breadcrumb_item'>Step {5}</li>                                                                                                                                                       
                                        <li class='breadcrumb_e breadcrumb_end'>&nbsp;</li>
                                     </ul>",
                                           CRPDeviceRegSteps.Plan.ToInt(),
                                                CRPDeviceRegSteps.SelectComponent.ToInt(),
                                                CRPDeviceRegSteps.Vas.ToInt(),
                                                CRPDeviceRegSteps.Penalty.ToInt(),
                                                CRPDeviceRegSteps.PersonalDetails.ToInt(),
                                                CRPDeviceRegSteps.Summary.ToInt()))
                            @*@Html.Raw(string.Format("Step 1 > Step {0} > Step {1} > <label style='font-weight:bold;font-size:12px;'>Step {2}</label> > Step {3} > Step {4}",
                                   MobileRegistrationSteps.Plan.ToInt(),
                                   MobileRegistrationSteps.Vas.ToInt(),
                                   MobileRegistrationSteps.MobileNo.ToInt(),
                                   MobileRegistrationSteps.PersonalDetails.ToInt(),
                                   MobileRegistrationSteps.Summary.ToInt()))*@
                            </text>
                            
                        }
                        else
                        {
                            <text>
                            @Html.Raw(string.Format(@"<ul class='breadcrumb_container'>
                                        <li class='breadcrumb_e breadcrumb_before'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step 1</li> 
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>                                                                               
                                        <li class='breadcrumb_e breadcrumb_item'>Step {0}</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>                                        
                                        <li class='breadcrumb_e breadcrumb_item'>Step {1}</li>
                                        <li class='breadcrumb_e breadcrumb_divider breadcrumb_divider_right'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item breadcrumb_item_hover'>Step {}</li>
                                        <li class='breadcrumb_e breadcrumb_divider breadcrumb_divider_left'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {5}</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {5}</li>
                                        <li class='breadcrumb_e breadcrumb_end'>&nbsp;</li>
                                     </ul>",
                                         CRPDeviceRegSteps.Plan.ToInt(),
                                                      CRPDeviceRegSteps.SelectComponent.ToInt(),
                                                      CRPDeviceRegSteps.Vas.ToInt(),
                                                      CRPDeviceRegSteps.Penalty.ToInt(),
                                                      CRPDeviceRegSteps.PersonalDetails.ToInt(),
                                                      CRPDeviceRegSteps.Summary.ToInt()))
                            @*@Html.Raw(string.Format("Step {0} > Step {1} > <label style='font-weight:bold;font-size:12px;'>Step {2}</label> > Step {3} > Step {4}",
                                       SmartMobileRegistrationSteps.Plan.ToInt() - 1,
                                       SmartMobileRegistrationSteps.Vas.ToInt() - 1,
                                       SmartMobileRegistrationSteps.MobileNo.ToInt() - 1,
                                       SmartMobileRegistrationSteps.PersonalDetails.ToInt() - 1,
                                       SmartMobileRegistrationSteps.Summary.ToInt() - 1))*@
                            </text>
                        }
                    </div>
                </td>
                <td align="right">
                    <button class="button-back cancel" type="submit" value="Back" onclick="$('#TabNumber').val(4);">
                    </button>
                    @*<button class="button-continue" type="submit" value="Next" onclick="return checkElementExistance();">
                    </button>*@

                    <button class="button-continue" type="submit" value="Next" >
                    </button>
                    

                </td>
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
        <div style="float: left;">
            @*<div style="font-size:x-large;padding:10px 0px 10px 0px;">Step @(Session["RegStepNo"].ToInt()): @ViewBag.Title</div>*@
            @*@Html.HiddenFor(a => a.TabNumber)
            @Html.Hidden("submit1")            *@

            @*@if (Session["ContractType"].ToString().ToUpper() != "EXTEND" && penalty > 0 )*@
            @*{*@
                <table cellpadding="0" cellspacing="0" width="100%" id="table-4">
                    <tr>
                        <td align="left" width="100%" valign="top">
                            <table>
                                <tr valign="top">
                                    <td width="40%">
                                        @Html.Label("Early Termination Fee Amount")
                                    </td>
                                    <td>
                                    @if (Session["Penalty"].ToString2() == "")
                                    {
                                        var s = string.Format("{0:0.00}", 0);
                                        @Html.Label("Early Termination Fee Amount", s)
                                    }
                                    else
                                    {
                                        var s = string.Format("{0:0.00}", Session["Penalty"].ToDouble());
                                        @Html.Label("Early Termination Fee Amount", s)
                                    }  
                                    </td>
                                </tr>                               
                               
                                <tr valign="top">
                                    <td>@Html.RadioButton("penalty", "fullpenaltywaiver", true, new { id = "fpen", name = "penalty" })
                                    </td>
                                    <td>
                                        @Html.Label("penaltywaiver", "Full Early Termination Fee Waiver")
                                    </td>
                                </tr>
                                <tr valign="top">
                                    <td>@Html.RadioButton("penalty", "nopenaltywaiver", false, new { id = "npen", name = "penalty" })
                                    </td>
                                    <td>
                                        @Html.Label("penaltywaiver", "No Early Termination Fee Waiver")
                                    </td>
                                </tr>  
                                
                                <tr>
                                <td colspan="2">
                                @*<input type="submit" id="cc" value="Continue" />*@
                                </td>
                                </tr> 
                                </table></td></tr></table>                         
                          
                                
                                                
                                            
                                            
                            @*}*@
        </div>
        <div style="float: right;">
            @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
        </div>
    </div>
    
    
       Html.Telerik().Window()
           .Name("sublineWindow")
           .Title("Supplementary Lines")
           .Width(320)
           .Content(@<text>
    @Html.Partial("_Subline")
    </text>)
           .Modal(true)
           .Visible(false)
           .Render();
}
@{
    Html.Telerik().Window()
        .Name("vasWindow")
        .Title("Value Added Services")
        .Width(325)
        .Content(@<text>
    @{var vasNames = (List<string>)Session["RegMobileReg_SelectedContracts"]; }
    @if (vasNames != null)
    {
        foreach (var name in vasNames)
        { 
        <div style="border-style: solid; border-width: 1px; border-radius: 5px; margin: 1px;
            padding: 3px 3px 3px 3px; margin: 0px 0px 1px 0px; width: 300px;">
            @name
        </div>
        }
    }
    </text>)
        .Modal(true)
        .Visible(false)
        .Render();

    Html.Telerik().ScriptRegistrar()
           .OnDocumentReady(@<text> // open the initially hidden window when the button is clicked
     $('#btnVwVAS') .click(function(e) { e.preventDefault(); $('#vasWindow').data('tWindow').center().open();
    }); $('#btnVwSubline') .click(function(e) { e.preventDefault(); $('#sublineWindow').data('tWindow').center().open();
    });
    </text>); 
}

@section Styles{
<style type="text/css">
input[type="text"],input[type="password"]{width: 365px;}
</style>
}


@section Scripts{
    
    <script type="text/javascript">

        $('#cc').onclick({function(){
        
        alert('hi');

        });
    
    </script>
}
