﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.CommonEnum;
@using Online.Registration.DAL.Models;
@using Online.Registration.Web.Models;
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
@{
    Html.EnableClientValidation(false);
    ViewBag.Title = "Please key in your details";
    Layout = Url.Content("~/Views/Shared/_NewLayout.cshtml");
    var prevButton = CRPDeviceRegSteps.SelectComponent.ToInt();
    var nextButton = CRPDeviceRegSteps.Summary.ToInt();
    var fromIpad = Request.Headers["User-Agent"].ToLower().Contains("ipad");
    var containerClass = fromIpad ? "container-fluid ipad-container" : "container";
    var viewBagValue = new ViewDataDictionary();
    var GSTnotif = ViewData["GSTnotif"].ToString2();
    var dropObj = (DropFourObj)Session[SessionKey.DropFourObj.ToString()];//09042015 - Anthony - Drop 5: Waiver for non-Drop 4 Flow
    //var personalDetails = Model.PersonalDetails;
    var autoBillingID = Util.GetPaymentModeID(PAYMENTMODE.AutoBilling);
    var malaysianID = Util.GetNationalityID(NATIONALITY.Malaysian);
    var NRICType = Util.GetIDCardTypeID(IDCARDTYPE.NRIC);

    var minAge = Session["RegMobileReg_ProgramMinAge"].ToInt();
    var idCardTypeID = Model.Customer.IDCardTypeID;
    var MalAdvDeposit = Session["RegMobileReg_MalAdvDeposit"].ToInt();
    var OtherAdvDeposit = Session["RegMobileReg_OtherAdvDeposit"].ToInt();
    
    var upfrontPayment1 = Session["RegMobileReg_UpfrontPayment"] != null ? Convert.ToDecimal(Session["RegMobileReg_UpfrontPayment"].ToString2()) : 0;
    
    /*Added by chetan for split adv & deposit*/
    var MalyDevAdv = Session["RegMobileReg_MalyDevAdv"].ToInt();
    var MalayPlanAdv = Session["RegMobileReg_MalayPlanAdv"].ToInt();
    var MalayDevDeposit = Session["RegMobileReg_MalayDevDeposit"].ToInt();
    var MalyPlanDeposit = Session["RegMobileReg_MalyPlanDeposit"].ToInt();
    var OthDevAdv = Session["RegMobileReg_OthDevAdv"].ToInt();
    var OthPlanAdv = Session["RegMobileReg_OthPlanAdv"].ToInt();
    var OthDevDeposit = Session["RegMobileReg_OthDevDeposit"].ToInt();
    var OthPlanDeposit = Session["RegMobileReg_OthPlanDeposit"].ToInt();

    Model.MalyDevAdv = MalyDevAdv;
    Model.MalayPlanAdv = MalayPlanAdv;
    Model.MalayDevDeposit = MalayDevDeposit;
    Model.MalyPlanDeposit = MalyPlanDeposit;
    Model.OthDevAdv = OthDevAdv;
    Model.OthPlanAdv = OthPlanAdv;
    Model.OthDevDeposit = OthDevDeposit;
    Model.OthPlanDeposit = OthPlanDeposit;
    Model.UpfrontPayment = upfrontPayment1;
    /*upto here*/

    //Session["ExternalID"] = Model.MSISDN;
    /*Added by Rajeswari on 24th March to disable nationality*/
    var idCardNoForNewUser = Session["IDCardNo"].ToString();
    var idCardTypeForNewUser = Session["IDCardTypeID"].ToString();
        /*upto here */
    //Apply waive on advances and deposits based on Liberization     
    //WaiverRules waiverRule = HttpContext.Current.Session[SessionKey.WaiverRules.ToString()] != null ? (WaiverRules)HttpContext.Current.Session["WaiverRules"] : new WaiverRules();
    //WebHelper.ApplyDepositWaiveOffsOnModel(Model.PersonalDetails, waiverRule);
    bool isDealer = Online.Registration.Web.Helper.Util.SessionAccess.User.isDealer;
    var idCardType = Session[SessionKey.IDCardTypeID.ToString()];
    var biometricCheck = Session["RegMobileReg_BiometricVerify"].ToString2().ToLower();
    bool fromMobileDevice = Request.Headers["User-Agent"].ToLower().Contains("ipad");
    var isUploadRequired = WebHelper.Instance.isUploadRequired();
}
<style type="text/css">
    #divMalaysian .form-label, #divNonMalaysian .form-label
    {
        width:200px;
    }
</style>

@{
    viewBagValue.Add("headerLabel", "Change Rate Plan / Device Contract:");
    viewBagValue.Add("containerClass", containerClass);
    viewBagValue.Add("ViewBagBackButton", prevButton);
    viewBagValue.Add("PostbackControllerName", "CRP");
    viewBagValue.Add("PostbackActionName", "PersonalDetails");
    viewBagValue.Add("CreditCardError", Html.ValidationMessage("CreditCardError"));
    viewBagValue.Add("GSTnotif", ViewBag.GSTnotif);
    viewBagValue.Add("GSTMark", ViewBag.GSTMark);
    //Html.RenderPartial("_PersonalDetailsNewPV", Model.PersonalDetails, viewBagValue);
}

@using (Html.BeginForm("PersonalDetails", "CRP", FormMethod.Post, new { id = "frmPersonalDetails", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    @Html.HiddenFor(a => a.TabNumber)
    @Html.HiddenFor(a => a.AccountType)
    @Html.HiddenFor(a => a.KenanAccountNo)
    @Html.HiddenFor(a => a.SimType)
    @Html.Hidden("hdnApproverID")
    @Html.Hidden("hdnback", "")
    @Html.Hidden("tacRequested")
    @Html.HiddenFor(a => a.TacSmsMsisdn)

    <div class="@containerClass">
        <div class="isell-base">

            @{
    Html.RenderPartial("_AccountHolderName", viewBagValue);
            }
            <div class="row">
                <div class="col-sm-12 green-bg">
                    <p class="font-24">Change Rate Plan / Device Contract</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="steps">
                        <li class="shownum">
                            <div class="num">1</div>
                            <p>My Order</p>
                        </li>
                        <li>
                            <div class="line"></div>
                        </li>
                        <li class="shownum">
                            <div class="selected">2</div>
                            <p>My Details</p>
                        </li>
                        <li>
                            <div class="line"></div>
                        </li>
                        <li class="shownum">
                            <div class="num">3</div>
                            <p>Order Summary</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 border-top">
                    <p class="details-title" style="margin:0px;">
                        @ViewBag.Title
                    </p>
                    <p class="details-title" id="Plan_Error" style="color:Red; margin:0px;"></p>
                    <p class="details-title" id="WarningMessage" style="color:Red; margin:0px;"></p>
                    <div id="divError" style="color: Red;">
                        @Html.ValidationSummary(true)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="font-16">@(GSTnotif)</p>
                </div>
            </div>
            <div class="clearfix"></div>

            @{
    Html.RenderPartial("_PersonalDetails", Model, viewBagValue);
    Html.RenderPartial("_TacValidation", Model, viewBagValue);
            }
            <div class="row">
            <div class="col-sm-12 process-btn" style="margin-top: 0px;">
          <div class="container-fluid">
            <div class="row">
                    <div id="back" class="col-sm-1">
					    <button type="button" class="btn isell-btn" id="btnPrev" onclick="backAction()" style="background-color: transparent;">< Back</button>
				    </div>
				    <div id="cancel" class="col-sm-9">
					    <input type="button" class="btn isell-btn" id="btnCancel" value="< Cancel" data-toggle="modal" data-target="#cancel-pop" style="background-color: transparent;" />
				    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn isell-next" id="btnContinue" >Next <span>></span></button>
                    </div>
                
            </div>
            </div>
            </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js2/Html5ImageUpload.js")"></script>
    <script type="text/javascript" language="javascript" >
        var strWavier = "";
        
        $(document).ready(function() {
            
            //$('[disabled="disabled"] span').each(function(){
            //    if ($(this).hasClass('drop-arrow'))
            //    {
            //        $(this).removeClass('drop-arrow');
            //        $(this).addClass('drop-arrow-disable');
            //    }
            //});

        });
        //debugger;
            $('#surveyAnswer').val('@Model.SurveyAnswer');
            $('#surveyFeedback').val('@Model.SurveyFeedBack');
            $('#surveyAnswerRate').val('@Model.SurveyAnswerRate');
            $('#SingleSignOnValue').val('@Model.SingleSignOnValue');
            $('#SingleSignOnEmailAddress').val('@Model.SingleSignOnEmailAddress');

        function setBack() {
            $('#hdnback').val("true");
        }

        jQuery(function () {

            $('#btnContinue').click(function () {
            
                $('#Plan_Error').hide();

                // Make Exceptional BRE Approval checkbox as mandatory
                var approval_error_msg = $('#SV_BREApproval_Error').text().trim();
                if (approval_error_msg.toLowerCase().indexOf("approval") >= 0 && !$('#bre-exceptional').is(':checked'))
                {
                    $('.validation-summary-errors').empty();
                    $('#Plan_Error').show();
                    $('#Plan_Error').html(approval_error_msg);
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                };
                
                // Make Justification as mandatory
                var justification_error_msg = $('#Justification_Error').text().trim();
                if (justification_error_msg.toLowerCase().indexOf("justification") >= 0 && $('#Justification').val().trim() == '')
                {
                    $('.validation-summary-errors').empty();
                    $('#Plan_Error').show();
                    $('#Plan_Error').html(justification_error_msg);
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                }

                $('#TabNumber').val('@nextButton');
                                
                if (!validateImageUpload()){return false;}

                // for maxis app survey
                if ('@isDealer'!='True')
                {
                    if ( !validateMyMaxisAppSurvey() )
                    {
                        return false;
                    }
                }
                
                if (!validateSSOSection()){return false;}
                if (!validateBillDelivery()){return false;}
                if (!ValidateSalesCode()){return false;}

                $('#hdnWaiverInfo').val('');
                $('.clsWaiver, .clsDirectDebitWaiver').each(function()
                {
                    //debugger;
			        var curValuve=$(this).attr("value");
                    if($(this).attr("checked") == "checked" || $(this).is(":checked"))
                    {
                        curValuve = curValuve + "~1";
                    }
                    else
                    {
                        curValuve = curValuve + "~0";
                    }

                    if($('#hdnWaiverInfo').val() == '')
                    {
                        $('#hdnWaiverInfo').val(curValuve);
                    }
                    else
                    {
                        $('#hdnWaiverInfo').val($('#hdnWaiverInfo').val() + "+" + curValuve);
                    }
                });
                //debugger;
                $('#hdnChanges').val('false');
                //$('#CustImageUpload').removeAttr("accept");
                //$('#CustImageUpload2').removeAttr("accept");
                //$('#CustImageUpload3').removeAttr("accept");
                //document.forms["frmPersonalDetails"].submit();

                if ('@Session["AllowSimReplacement"]' == 'True') {
                    if ($('#CBRNo').val().trim() == '')
                    {
                        $('#Plan_Error').html("Please Enter value for new cbr number");
                        $('#Plan_Error').show();
                        $("html, body").animate({ scrollTop: 0 }, "slow")
                        $('#CBRNo').val('');
                        $('#CBRNo').focus();
                        return false;
                    }
                    else if(isNaN($('#CBRNo').val()) && $('#CBRNo').length>0)
                    {
                        $('#Plan_Error').html("New CBR Number must be numbers only");
                        $('#Plan_Error').show();
                        $("html, body").animate({ scrollTop: 0 }, "slow")
                        $('#CBRNo').val('');
                        $('#CBRNo').focus();
                        return false;
                    }
                    else if ($('#CBRNo').val().substring(0, 2) != "60" || $('#CBRNo').val().length < 10 || $('#CBRNo').val().length > 12) {
                        $('#Plan_Error').show();
                        $('#Plan_Error').html("Please enter valid CBR Number ");
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                        $('#CBRNo').val('');
                        $('#CBRNo').focus();
                        return false;
                    }
                }
                
                $("#frmPersonalDetails").submit();

                
            });
            
            if($('#Customer_NationalityID').val() == "")
            {                
                $("#divMalaysian").show();
                $("#divNonMalaysian").hide();

                if(@(Session["IDCardTypeID"]) == "2")
                {
                    if($('#Customer_NationalityID').val() == "1")
                    {
                        $("#divMalaysian").hide();
                        $("#divNonMalaysian").show();
                    }
                }
            }
            else
            {            
                $("#divMalaysian").hide();
                $("#divNonMalaysian").show();
                
                if($('#Customer_NationalityID').val() == "1")
                {                      
                    $("#divMalaysian").show();
                    $("#divNonMalaysian").hide();
                }
            }
        });
        
        $(document).keypress(function (e) {
            if (e.keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });
        
    </script>


    <script type="text/javascript" language="javascript" >

        $(document).ready(function () {
            //debugger;
            var customerName = $('#Customer_FullName').val();
            $('#Customer_FullName').val(customerName);

            var ddlNationality = $("#Customer_NationalityID");
            
            if($('#Customer_NationalityID').val() == "")
            {                
                ddlNationality.val(@(malaysianID));
                    
                $("#divMalaysian").show();
                $("#divNonMalaysian").hide();

                if(@(Session["IDCardTypeID"]) == "2")
                {
                    if($('#Customer_NationalityID').val() == "1")
                    {
                        $("#Customer_NationalityID").prop("readOnly",true);
                        ddlNationality.value("NONMALAYSIAN");
                        $("#divMalaysian").hide();
                        $("#divNonMalaysian").show();
                    }
                }               
                else
                {
                    ddlNationality.val("MALAYSIAN");
                }  
            }
            else
            {            
                    $("#divMalaysian").hide();
                    $("#divNonMalaysian").show();    
                   
                if($('#Customer_NationalityID').val() == "1")
                {                      
                        $("#divMalaysian").show();
                        $("#divNonMalaysian").hide();
                }
            }
                
            IDCardTypeonfill();
            var payModeID = $('#Customer_PayModeID').val();

            if(payModeID != '' && payModeID != 0){
                setDiv(payModeID);
            }
            else{
                setDivDefault();
            }

            var idCardType = @(idCardTypeForNewUser);
            var nric = $('#Customer_IDCardNo').val();
            //var ddlIDCardType = $("#Customer_IDCardTypeID").data("tDropDownList");
            var ddlIDCardType = $("#Customer_IDCardTypeID");
            ddlIDCardType.val(idCardType);

            if($('#Customer_IDCardTypeID').val() == '')
            {              
                idCardType=@(idCardTypeForNewUser);
                    
                $('#Customer_IDCardTypeID').val(idCardType);
                    
                if(idCardType == "1")
                {                  
                    idCardType="New IC";
                }
                else if(idCardType == "2")
                {
                    idCardType="Passport";
                }
                else if(idCardType == "3")
                {
                    idCardType="Old IC";
                }
                else
                {
                    idCardType="Other ID";
                } 
               
                ddlIDCardType.val(idCardType);
            }
                       
            if($('#Customer_IDCardNo').val() == '')
            {
                nric='@(idCardNoForNewUser)';
                $('#Customer_IDCardNo').val(nric);
            }          
          
            $('#InputIDCardTypeID').val($("#Customer_IDCardTypeID").val());
            $('#InputIDCardNo').val($("#Customer_IDCardNo").val());
            $('#InputNationalityID').val($('#Customer_NationalityID').val());

            var year = nric.substr(0, 2);
            var month = nric.substr(2, 2);
            var day = nric.substr(4, 2);
            var currentYear = (new Date).getFullYear();
            if(currentYear - ("19" + year) <= 100)
            {
                year = "19" + year;
            }
            else
            {
                year = "20" + year;
            }

            var dob = Date.parse(year + "/" + month + "/" + day);

            dob = new Date(dob);
            var dateNow = new Date();
            var age = dateNow.getFullYear() - dob.getFullYear();
              
            if(age < @(minAge) && (@(idCardTypeID) == @(NRICType)))
            {
                alert("Invalid NRIC! Minimum required @(minAge) years old." );
                return;
            }

            if ((@(idCardTypeID) == @(NRICType)))
            {
                $("#DOBDay").val(parseInt(day,10));
                $("#DOBMonth").val(parseInt(month));
                $("#DOBYear").val(year);
                $('#Customer_DateOfBirth').val(month + '/' + day + '/' + year);
            }

            if ('@TempData["ErrorMessage"]' != '')
            {
                // var waiverString = strWavier.substring(0, strWavier.length - 1);
                $('#Plan_Error').show();
                $('#Plan_Error').html('@TempData["ErrorMessage"]');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }

            if ('@TempData["WarningMessage"]' != '')
            {
                // var waiverString = strWavier.substring(0, strWavier.length - 1);
                $('#WarningMessage').show();
                $('#WarningMessage').html('@TempData["WarningMessage"]');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
        });

        //Begin Code added by VLT on 21 Apr 2013
        var selGener="";
        
        $(".gender").click(function(){ 
            if( $(this).is(":checked") ){ 
                selGener = $(this).val(); 
            }
        });

        function populateDOB()
        {
            var currentTime = new Date();
            var month = currentTime.getMonth()+1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            
            if($('#DOBDay').val() != '')
            {
                day = $('#DOBDay').val();
            }

            if($('#DOBMonth').val()!='')
            {
                month = $('#DOBMonth').val();
            }

            if($('#DOBYear').val()!='')
            {
                year = $('#DOBYear').val();
            }

            $('#Customer_DateOfBirth').val(month + '/' + day + '/' + year);
        }
        
        function SubmitForm(sequenceNo)
        { 
            $('#submit1').val(sequenceNo);
            //document.forms['frmPersonalDetails'].submit();
            $("#frmPersonalDetails").submit();
        }

        function paymodeChanged() 
        {
            var paymodeID = 0;

            if($('#Customer_PayModeID').val() == @(autoBillingID))
            {
                paymodeID = @(autoBillingID)
            }
            setDiv(paymodeID);
        }

        function toUpperCase(txt)
        {
            $(txt).val($(txt).val().toUpperCase());
        }

        function setDiv(paymodeID)
        {
            if (paymodeID == @(autoBillingID))
            { 
                $(".autoBilling").show();
                enableAutoBillingDiv();
            }
            else
            {
                setDivDefault();
            }
        }

        function setDivDefault()
        {
            $(".autoBilling").hide();
            disableAutoBillingDiv();
        }

        function enableAutoBillingDiv()
        {
            $(".autoBilling :input").removeAttr("disabled");
        }

        function disableAutoBillingDiv()
        {
            $(".autoBilling :input").attr("disabled", true);
        }

        function RetrieveMyKadInfo()
        {
            //Code added by VLT ON APRIL 05 2013
            var strKenanData="";
            strKenanData+=$('#Customer_FullName').val();
            //strKenanData+="╚"+$("#Customer_IDCardTypeID").data("tDropDownList").value();
            strKenanData+="╚"+$("#Customer_IDCardTypeID").val();
            strKenanData+="╚"+$('#Customer_IDCardNo').val();
            strKenanData+="╚"+$('#Customer_NationalityID').val();
            //strKenanData+="╚"+$("#Customer_NationalityID").data("tDropDownList").value();
            strKenanData+="╚"+$('#Address_Line1').val();
            strKenanData+="╚"+$('#Address_Line2').val();
            strKenanData+="╚"+$('#Address_Line3').val();
            strKenanData+="╚"+$('#Address_Town').val();
            strKenanData+="╚"+$('#Address_Postcode').val();
            strKenanData+="╚"+$('#Address_StateID').val();
            // strKenanData+="╚"+$("#Address_StateID").data("tDropDownList").value();
            //End of code added by VLT

            var icno =$('#Customer_IDCardNo'); 
            var url = '@(Url.Content("~/CRP/RetrieveMyKadInfo"))';
            $.post(url, { icno:icno.val(),strKenanCustomerInfo:strKenanData}, function (data) {
                
                if(data.FingerMatch==false && data.FingerThumb==null)
                { 
                    $('#dvError').html('Biometric check is not performed !');
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                }
                else if(data.FingerThumb==true)
                {
                    $('#dvError').html('Biometric check is performed, thumb impression matched !');
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                }
                else if(data.FingerMatch==false && data.FingerThumb==0)
                { 
                    $('#dvError').html('Biometric check is performed, but thumb impression not matched !');
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                }
                else
                { 
                    $('#dvError').html('Biometric check is not performed !');
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                }
            });
        }
          
        //Code Added by VLT
        function CompareData(jsnonData,kenanData)
        {
            //Name
            if(jsnonData.Name!=kenanData.split('╚')[0])
            {
                return false;
            }
                    
            //Ic No
            if(kenanData.split('╚')[1]=="Old IC" && isValid==true)
            {
                if(jsnonData.OldIC!=kenanData.split('╚')[2])
                {
                    return false;
                }
            }
            else if(kenanData.split('╚')[1]=="New IC")
            {
                if(jsnonData.NewIC!=kenanData.split('╚')[2])
                {
                    return false;
                }
            }
            //Nationality
            if(jsnonData.Nationality!=kenanData.split('╚')[3])
            {
                return false;
            }

            //AddressLine1
            if(jsnonData.Address1!=kenanData.split('╚')[4])
            {
                return false;
            }

            //AddressLine2
            if(jsnonData.Address2!=kenanData.split('╚')[5])
            {
                return false;
            }

            //AddressLine3
            if(jsnonData.Address3!=kenanData.split('╚')[6])
            {
                return false;
            }
            //City
            if(jsnonData.City!=kenanData.split('╚')[7])
            {
                return false;
            }

            //Postal Code
            if(jsnonData.Postcode!=kenanData.split('╚')[8])
            {
                return false;
            }

            //State
            if(jsnonData.State!=kenanData.split('╚')[9])
            {
                return false;
            }

            return true;
        }

        function setGender(rdbGender)
        {
            var hdfGender = $("#Customer_Gender");
            hdfGender.val($(rdbGender).val());
        }

        function IDCardTypeChanged()
        {
            $('#Customer_IDCardNo').val('');
        }

        function IDCardTypeonfill()
        {
            if($("#Customer_IDCardTypeID").val() > 0 && $("#Customer_IDCardNo").val() != '')
            {
                if($('#InputIDCardNo').val() == $("#Customer_IDCardNo").val()||$('#InputIDCardNo').val() != $("#Customer_IDCardNo").val() || $('#InputIDCardTypeID').val() != $("#Customer_IDCardTypeID").val()||$('#InputNationalityID').val() != $("#Customer_NationalityID").val() || $('#InputNationalityID').val() != $("#Customer_NationalityID").val())
                {
                    var url = '@(Url.Content("~/CRP/CreditCheck"))';


                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: url,
                        async: false,
                        data: { idCardNo:$("#Customer_IDCardNo").val(), idCardTypeID:$("#Customer_IDCardTypeID").val(),malaysianID: $("#Customer_NationalityID").val()},
                        success: function (data) {
                 
                            if(data.isBlacklisted)
                            {
                                //$('#divCreditCheckMsg').show();
                                //disable IDCardType and IDCardNo
                                //$('#Customer_IDCardNo').css({"background-color": '#F2F2F2'});
                                $('#Customer_IDCardNo').attr('readonly', true);
                            }
                            else
                            {
                                //$('#divCreditCheckMsg').hide();
                                //disable IDCardType and IDCardNo
                                //$('#Customer_IDCardNo').css({"background-color": '#F2F2F2'});
                                $('#Customer_IDCardNo').attr('readonly', true);
                            }                                     
                        },
                        error: function (err, result, thrownError) {}
                    });
          
                    $('#InputIDCardTypeID').val($("#Customer_IDCardTypeID").val());
                    $('#InputIDCardNo').val($("#Customer_IDCardNo").val());
                    $('#InputNationalityID').val($('#Customer_NationalityID').val());
                }
            }        
        }

        function backAction() {
            $('#TabNumber').val('@prevButton');
            $('#hdnback').val('true');
            $('#frmPersonalDetails').submit();
        }

    </script>
    
}
