﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.ValueAddedServicesVM
@{
    ViewBag.Title = "Select an Offer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" : "";
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var deviceFlag = (int)MobileRegType.DevicePlan;
    var dataContractGroupId = string.Empty;
    bool deviceFinancingFlag = Session["DF_Eligibility"].ToBool();
    var isDealer = (bool)Session["IsDealer"];

    //RST GST
    string tradeUpID = string.Empty;
    string displayTradeUp = string.Empty;
    bool? isTradeUp = false;
    bool displayTradeUpSection = false;
    string tradeUpAmount = string.Empty;
    tradeUpAmount = (Session["TradeUpAmount"].ToInt() != 0) ? Session["TradeUpAmount"].ToString() : string.Empty;

    if (Model.ContractOffers != null && Model.ContractOffers.Count > 0)
    {
        foreach (var contract in Model.ContractOffers)
        {
            if (true == contract.isTradeUp)
            {
                displayTradeUpSection = true;
                break;
            }
        }
    }
    //end RST GST 
    if (System.Configuration.ConfigurationManager.AppSettings["DataContractGroupId"] != null)
    {
        dataContractGroupId = System.Configuration.ConfigurationManager.AppSettings["DataContractGroupId"].ToString();
    }
    var bundleGroupId = string.Empty;
    if (System.Configuration.ConfigurationManager.AppSettings["BundleGroupId"] != null)
    {
        bundleGroupId = System.Configuration.ConfigurationManager.AppSettings["BundleGroupId"];
    }

    var bundleGroupComponentId = string.Empty;
    if (System.Configuration.ConfigurationManager.AppSettings["BundleGroupComponentId"] != null)
    {
        bundleGroupComponentId = System.Configuration.ConfigurationManager.AppSettings["BundleGroupComponentId"];
    }

    var dataContractGroupComponentId = string.Empty;
    if (System.Configuration.ConfigurationManager.AppSettings["DatacontractGroupComponentId"] != null)
    {
        dataContractGroupComponentId = System.Configuration.ConfigurationManager.AppSettings["DataContractGroupComponentId"];
    }
    var selCompIds = Session["SelectedComponents"].ToString2();
    var selContr = Session["RegMobileReg_ContractID"].ToString2();
    var selectedPrice = Session["RegMobileReg_OfferDevicePrice"].ToString2();
    //var ContractDet = (ContractDetails)Session["ContractDet"];
    string CurSelKenanCode = string.Empty;

    bool preSelectedPlan = false;
    string SelectedbtnConVASID = "";
    string SelectedofferId = "";
    string SelectedofferPrice = "";
    string SelectedofferUOMCode = "";
    
    var selectedVASkenanCodes = (string[]) Session["selectedValsSession"] ;
    var selectedVASIds = (string[]) Session["selectedCompIdsSession"] ;
    var dfEligibilityCheck = Session["DF_Eligibility"].ToBool();
    var dfException = Session["df_showOffer"].ToString2() == "show" ? true : false;
    bool oneTimeFeeSelected = false;
    bool dfValidation = false;
    if (dfEligibilityCheck || dfException || Roles.IsUserInRole("MREG_CUSR")) {
        oneTimeFeeSelected = selectedVASkenanCodes.Contains("46041");
        dfValidation = true;
    }
    
}
<div id="center">
    @using (Html.BeginForm("SelectVAS", "CRP", FormMethod.Post, new { id = "frmSelectVAS", @class = "overlayonsubmit", processmsg = "Loading" }))
    { 
        <input type="hidden" id="hdnContractAssociatedVASID" />
        <input type="hidden" id="hdnContractkenanVASID" name="hdnContractkenanVASID" />
        
        @Html.HiddenFor(a => a.TabNumber)
        @Html.HiddenFor(a => a.OfferId)
        @Html.HiddenFor(a => a.SelectedVasIDs)
        @Html.HiddenFor(a => a.SelectedContractID)
        @Html.HiddenFor(a => a.SelectedContractName)
        @Html.HiddenFor(a => a.uomCode)
        @Html.HiddenFor(a => a.price)
        @Html.HiddenFor(a => a.SelectedKenanCodes)
        @Html.Hidden("hdnGroupIds")   
        @Html.HiddenFor(a => a.hdnTradeUpAmount)
        @Html.Hidden("df_showOffer");
                                    /*Added by Chetan for hiding the contrats & vas in planonly*/
                                    if (Model.AvailableVASes.Count() > 0)
                                    {

                                        for (int i = 0; i < Model.AvailableVASes.Count(); i++)
                                        {
        @Html.HiddenFor(model => model.AvailableVASes[i].PgmBdlPkgCompID)
                                        }
                                    }
        <div class="header-title">
            @ViewBag.Title</div>
        <div class="row top=border">
            <div class="col-sm-12">
                <p class="font-16 gst-notif">@(ViewBag.GSTnotif)</p>
            </div>
        </div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        @*<li style="display: table-cell; float: none;">Brand</li>*@
                        <li style="display: table-cell; float: none;">Device</li>
                        <li style="display: table-cell; float: none;">Plan</li>
                        <li style="display: table-cell; float: none;" class="preselected">Components</li>
                        <li style="display: table-cell; float: none;" class="selected">Offer</li>
                        <li style="display: table-cell; float: none;">Customer</li>
                        <li style="display: table-cell; float: none;">Summary</li>
                    </ul>
                </div>
            </div>
            <div class="content_white" style="padding: 1px 1px 10px 40px">
                @Html.ValidationSummary(false)
                <div id="Plan_Error" class="ErrorClass" >
                </div>
            </div>
            <div class="content_white">
               <div style="display: block; padding: 0px 20px; margin: 0px auto;">
                <div id="ui-plan">
                    <h3>
                        Offers</h3>
                <div style="width: 100%; border-left: 1px solid #ccc;">
                        @if (Model.ContractOffers != null && Model.ContractOffers.Count > 0)
                        {
                            foreach (var offer in Model.ContractOffers)
                            {
                                string kenanCode = offer.KenanComponent1Id != null ? offer.KenanComponent1Id : "-1";
                                var btnConVASID = "btnConVAS_" + offer.Id + "_" + kenanCode;
                                string oneTime = "";
                                if (offer.isDeviceFinancing && Model.df_offerOneTimeFee.ContainsKey(offer.UOMCode))
                                {
                                    oneTime = Model.df_offerOneTimeFee[offer.UOMCode].ToString2();
                                }
                                if (offer.Id.ToString2() == Session["OfferId"].ToString2())
                                {
                                    CurSelKenanCode = kenanCode;
                                    preSelectedPlan = true;
                                    SelectedbtnConVASID = btnConVASID;
                                    SelectedofferId = offer.Id.ToString2();
                                    SelectedofferPrice = offer.Price.ToString2();
                                    SelectedofferUOMCode = offer.UOMCode;
                                    
                                  <div class="plan-outerbox">
                                 <div  class="plan-innerbox focus" data-oneTime="@oneTime" data-dfOffer="@offer.isDeviceFinancing" data-istradeUp="@offer.isTradeUp" style="font-size:13px;cursor:pointer" id="@btnConVASID" onclick="SelectedOfferVAS('@btnConVASID','@offer.Id','@offer.Price','@offer.UOMCode');showHideTradeUp('@btnConVASID');" >
                                    <p class="contract-title" >@offer.OfferName.ToString2().Replace("-", "- ").Replace("+", "+ ")</p>
                                </div>
                                </div>
                                }
                                else
                                {
                                 <div class="plan-outerbox">
                                 <div  class="plan-innerbox" data-oneTime"@oneTime" data-dfOffer="@offer.isDeviceFinancing" data-istradeUp="@offer.isTradeUp" style="font-size:13px;cursor:pointer" id="@btnConVASID" onclick="SelectedOfferVAS('@btnConVASID','@offer.Id','@offer.Price','@offer.UOMCode');showHideTradeUp('@btnConVASID');" >
                                    <p class="contract-title" >@offer.OfferName.ToString2().Replace("-", "- ").Replace("+", "+ ")</p>
                                </div>
                            </div>
                                }


                            }
                        }
                        else
                        {
                            <div>
                                &nbsp;Not Available</div>
                        }
                        @if (!isDealer && Model.exceptionalAvailable)
                        { 
                            <div style="clear: both;">
                                <h3>
                                    <input id="df-exceptional" class="stock-checkbox" type="checkbox" />
                                    <label for="df-exceptional" class="stock-label">Device Financing Offer</label>
                                </h3>
                            </div>
                        }
                        <div style="clear: both;">
                        </div>
                    </div>
                    @*//RST GST*@
            
                        @if (Model.ContractOffers != null && Model.ContractOffers.Count > 0)
                        {
                            if (displayTradeUpSection)
                            { 
                                <h3 id="tradeUpSection">
                                Trade-In Amount
                                </h3>
                                <div style="width: 100%; border-left: 1px solid #ccc;" id="tradeUpSection">
                                    @foreach (var tradeUpOffer in Model.ContractOffers)
                                    {
                                        if (tradeUpOffer.isTradeUp.ToBool())
                                        {
                                            //var tradeUpOfferID = Model.TradeUpList.Select(x => x.OfferId).Distinct();
                                            var tradeUpComponents = Model.TradeUpList.Where(x => x.OfferId == tradeUpOffer.Id).ToList();
                                            tradeUpID = "tradeUpSection_" + tradeUpOffer.Id;
                                            if (tradeUpOffer.Id == Session["OfferID"].ToInt())
                                            {
                                                displayTradeUp = "display:block";
                                            }
                                            else
                                            {
                                                displayTradeUp = "display:none";
                                            }
                                            <div style="@displayTradeUp" id="@tradeUpID">
                                                @foreach (var tradeUpComponent in tradeUpComponents)
                                                {
                                                    var componentPrice = tradeUpComponent.Price.ToString2();
                                                    var componentId = "btnTradeUp_" + tradeUpOffer.Id + "_" + componentPrice;
                                                
                                                    <div class="plan-outerbox">
                                                        @if (!string.IsNullOrEmpty(tradeUpAmount) && componentPrice.Equals(tradeUpAmount))
                                                        {
                                                            <div class="plan-innerbox focus" style="font-size:13px;cursor:pointer" id="@componentId" onclick="selectTradeUpVAS('@componentId')">
                                                                <p class="contract-title">@tradeUpComponent.Name</p>
                                                            </div> 
                                                        }
                                                        else
                                                        {
                                                            <div class="plan-innerbox" style="font-size:13px;cursor:pointer" id="@componentId" onclick="selectTradeUpVAS('@componentId')">
                                                                <p class="contract-title">@tradeUpComponent.Name</p>
                                                            </div> 
                                                        }    
                                                    </div>
                                                }
                                            </div>
                                        }
                                    }
                                </div>
                            }
                        }
                    
            @*//end RST*@
                </div>
                <div style="clear: both;"></div>
                </div>
                <div style="height: 20px;">
                </div>
            </div>
            <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
                <div style="float: right; padding-right: 20px;">
                    @if (Session["GuidedSales_Type"].ToString2() != string.Empty)
                    {
                        if (Convert.ToInt32(Session["GuidedSales_Type"]) != MobileRegType.PlanOnly.ToInt())
                        {
                        <input class="button-back cancel backButton" type="submit" value="<" onclick="$('#TabNumber').val(10);" />
                        }
                    }
                    else
                    {                
                        <input class="button-back cancel backButton" type="submit" value="<" onclick="setBack();" />
                        @Html.Hidden("hdnback", "")
                    }
                    @if (sessionRegType != (int)MobileRegType.PlanOnly)
                    {
                        <input class="button-continue submitButton" type="button" value="Next Step: Customer" onclick="$('#TabNumber').val(@MobileRegistrationSteps.MobileNo.ToInt());getDependencyComponents();" />
                       
                    }
                    else
                    {
                        <input class="button-continue submitButton" type="button" value="Next Step: Customer"
                            onclick="$('#TabNumber').val(5);getDependencyComponents();" />
                    }
                </div>
            </div>
        </div>
        
        
    
                    Html.Telerik().Window()
                        .Name("sublineWindow")
                        .Title("Supplementary Lines")
                        .Width(320)
                        .Content(@<text>
        @Html.Partial("_Subline")
        </text>)
                        .Modal(true)
                        .Visible(false)
                        .Render();
        @Html.Partial("_footer")
    }
</div>
<div id="right">
<div id="right-box">
    @{
        var viewBagValue = new ViewDataDictionary();
        viewBagValue.Add("GSTMark", ViewBag.GSTMark);
        viewBagValue.Add("ApprovalType", "DF");
        viewBagValue.Add("FromCustomerSearch", "False");
        viewBagValue.Add("ModalID", "df-approval-popup");
        viewBagValue.Add("ControllerName", "CRP");
    }
    @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"], viewBagValue)
    @Html.Partial("_SpvApproval", viewBagValue)
    @Html.Partial("_VASPromptDeselect", viewBagValue)
</div>
</div>

@section Scripts{
    <script type="text/javascript" language="javascript">
        jQuery(function () {
            jQuery("#ui-plan").accordion({
                autoHeight: false
            });
            $("#ui-plan").accordion("option", "icons",
        		{ 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });
        });

        $(document).ready(function () {

            // Clearing back
            $('#hdnback').val("false");
            //RST GST TradeUP
            if (null == '@tradeUpAmount' || '@tradeUpAmount' == '') {
                if ('@(CurSelKenanCode)' == '') {
                    $('#tradeUpSection').hide();
                }
            }

            if ('@deviceFinancingFlag' == 'True') {
                $('#df-exceptional').attr('checked', true);
                $('#df-exceptional').attr('disabled', true);
            }

            $('#df-exceptional').click(function () {
                if ($('#df-exceptional').is(':checked')) {
                    $('#df-approval-popup').modal('show');
                }
            });

            $('div[id^="btnConVAS_"]').each(function () {
                if ($(this).hasClass('focus')) {
                    var btnID = $(this).attr('id');
                    showHideTradeUp(btnID);
                }
            });

            if ('@preSelectedPlan' == 'True') {
                SelectedOfferVAS('@SelectedbtnConVASID', '@SelectedofferId', '@SelectedofferPrice', '@SelectedofferUOMCode');
            }

        });

        //RST GST
        if ('@(tradeUpAmount)' != '') {
            $('#hdnTradeUpAmount').val('@(Session["TradeUpAmount"].ToString2())');
        }
        //End RST
       

     

        //function onOfferSubmit()
        //{

        //var window = $('#offerWindow').data('tWindow');
        //window.close();
        //document.forms['frmSelectVAS'].submit();


        //}

        function SelectedOffer() {
            var selOfferVal = $("#tlkddlDetOffers").data("tDropDownList").value();
            if (selOfferVal != "-1") {
                $('#OfferId').val(selOfferVal.toString().split(',')[0]);
                $('#price').val(selOfferVal.toString().split(',')[1]);
                $('#uomCode').val(selOfferVal.toString().split(',')[2]);
            }
        }

        function callcantract() {
            //get dependency components and add them to the final list
            var compIds = $('#SelectedVasIDs').val();
            //alert(compIds);
            //            if(compIds!=null && compIds.trim() != "")
            //            {

            if (compIds == null) {
                compIds = ""
            }
            var url = '@(Url.Content("~/CRP/GetDepenedencyComponents"))';
            $.post(url, { componentIds: compIds }, function (data) {
                if (data.toString() != "") {
                    $('#SelectedVasIDs').val(data);
                    //alert(data);
                }

            });
            //}
            //alert($('#SelectedVasIDs').val());
            //get dependency components and add them to the final list

            var contractID = $('#SelectedContractID').val();
            if (contractID == '' || contractID == ' ' || contractID == undefined) {
                alert('Please Select a Contract');
                $('#TabNumber').val(3);
                return false;
            }
            else if (contractID != '') {
                $('#TabNumber').val(4);
            }
            var offersUrl = '@(Url.Content("~/CRP/OfferByDevicePlanAndContractNoId"))';
            $.post(offersUrl, { contractId: contractID }, function (data) {

                var dropDownList = $('#tlkddlDetOffers').data('tDropDownList');
                dropDownList.dataBind(data);
                //alert($('#tlkddlDetOffers').val());
                dropDownList.select(0);
                //alert($('#tlkddlDetOffers').val());
                //$("select#tlkddlDetOffers")[0].selectedIndex = 0;
            }, "json");
            //           var dropDownList = $('#tlkddlDetOffers').data('tDropDownList');
            //            dropDownList.dataBind([
            //                { Text: "Product 1", Value: "1" },
            //                { Text: "Product 2", Value: "2", Selected: true },
            //                { Text: "Product 3", Value: "3" },
            //                { Text: "Product 4", Value: "4" },
            //                { Text: "Product 5", Value: "5" },
            //                { Text: "Product 6", Value: "6" },
            //                { Text: "Product 7", Value: "7" },
            //                { Text: "Product 8", Value: "8" },
            //                { Text: "Product 9", Value: "9" },
            //                { Text: "Product 10", Value: "10" },
            //                { Text: "Product 11", Value: "11" },
            //                { Text: "Product 12", Value: "12" },
            //                { Text: "Product 13", Value: "13" },
            //                { Text: "Product 14", Value: "14" },
            //                { Text: "Product 15", Value: "15" },
            //                { Text: "Product 16", Value: "16" },
            //                { Text: "Product 17", Value: "17" },
            //                { Text: "Product 18", Value: "18" },
            //                { Text: "Product 19", Value: "19" },
            //                { Text: "Product 20", Value: "20" }]);
            // Load the Offer details into the PopUp Windows.
            //$('#offerListingDiv').load(offersUrl);
            $('#offerDetailsWindow').data('tWindow').center().open();
            //$('#offerWindow').data('tWindow').center().open();


            //Added by VLT ON APR 08 2013
            //Post the Url
            //            var isValid=true;
            //            var url = '@(Url.Content("~/CRP/K2ContractCheck"))';
            //            $.post(url, function (data) {
            //            if(data.toString()=="False")
            //            {
            //            alert("Sorry. You are not eligible to choose a contract.");
            //            window.location.href="../Home/Index";
            //            }
            //           
            //            });

            //End by VLT ON APR 08 2013

        }
        //    function callcantract()
        //        {
        //            var contractID = $('#SelectedContractID').val();
        //            if(contractID == '' || contractID ==' ' || contractID == undefined)
        //            {
        //                alert('Please Select a Contract');
        //                $('#TabNumber').val(3);
        //                return false;
        //            }
        //            else if(contractID != '')
        //            {            
        //                $('#TabNumber').val(4);
        //            }            
        //            return true;
        //        }

        function SubmitForm(sequenceNo) {

            $('#submit1').val(sequenceNo);
            //document.forms['frmSelectVAS'].submit();
            $("#frmSelectVAS").submit();
        }

        function SelectedVAS(btnVasID, vasID) {
            //alert("hi");
            //alert(vasID);
            var vasFound = false;
            var arrVasID = $('#SelectedVasIDs').val().split(',');

            if ($.isArray(arrVasID)) {
                arrVasID = jQuery.grep(arrVasID, function (value) {
                    if (value == vasID) {
                        vasFound = true;
                    }
                    return value != vasID;
                });
            }
            // alert(vasFound);
            if (vasFound) {

                $(btnVasID).css("border-style", "none");

                var newVasIDs = '';
                $.each(arrVasID, function (index, value) {
                    if (value != ' ' || value != ',') {
                        newVasIDs = newVasIDs + value + ',';
                    }
                });
                //alert(newVasIDs);
                $('#SelectedVasIDs').val(newVasIDs);
            }
            else {
                $('#SelectedVasIDs').val($('#SelectedVasIDs').val() + vasID + ',');
                $(btnVasID).css("border-style", "solid");
            }
        }

        function SelectedConVAS(btnConVASID, vasID) {

            if ($('#SelectedContractID').val() == vasID) {
                $('#SelectedContractID').val('');
                $(btnConVASID).css("border-style", "none");
                $('#hdnContractAssociatedVASID').val('');
            }
            else {


                var url = '@(Url.Content("~/CRP/GetGroupIdForAutoBoundContractComponent"))';
                $.post(url, { contractId: vasID }, function (data) {
                    if (data.toString() != "") {

                        var CurGroupIds = $('#hdnGroupIds').val();
                        if (CurGroupIds != '') {
                            if (CurGroupIds.indexOf(data) == -1) {

                                $('#SelectedContractID').val(vasID);
                                $('button[id^="btnConVAS_"]').css("border-style", "none");
                                $(btnConVASID).css("border-style", "solid");
                                $('#hdnContractAssociatedVASID').val(data);


                            }
                            else {
                                //  alert("Contract has an associated VAS which belongs to same group of the components selected.")
                                alert("Please first select the contract and then the data component.");
                                return;
                            }
                        }
                        else {
                            $('#SelectedContractID').val(vasID);
                            $('button[id^="btnConVAS_"]').css("border-style", "none");
                            $(btnConVASID).css("border-style", "solid");
                            $('#hdnContractAssociatedVASID').val(data);



                        }





                    }
                    else {
                        $('#SelectedContractID').val(vasID);
                        $('button[id^="btnConVAS_"]').css("border-style", "none");
                        $(btnConVASID).css("border-style", "solid");
                        $('#hdnContractAssociatedVASID').val(data);



                    }




                });




            }


        }

        function SelectedOfferVAS(btnConVASID, vasID, price, uomCode) {
            $('#OfferId').val(vasID);
            $('#price').val(price);
            $('#uomCode').val(uomCode);

            var curKenanCode = btnConVASID.toString().split('_')[2];
            $('#hdnContractkenanVASID').val(curKenanCode);
            //***Need to recheck below condition
            if ($('#SelectedContractID').val() == vasID) {
                $('#SelectedContractID').val('');
               // $(btnConVASID).css("border-style", "none");
                $('div[id^="btnConVAS_"]').removeClass("focus");
                $('#hdnContractAssociatedVASID').val('');
            } //con1 if
            else {
                var url = '@(Url.Content("~/CRP/GetContractsForOffer"))';
                $.post(url, { OfferKenanCodes: curKenanCode.toString(), offerid: vasID.toString() },
                    function (data) {
                        if (data.toString() != "") {
                            // alert("success1:" + data);
                            $('#SelectedContractID').val(data);
                            // alert("SelectedContractID:" +  $('#SelectedContractID').val());
                            $('div[id^="btnConVAS_"]').removeClass("focus");
                            // $(btnConVASID).css("border-style", "solid");
                            $('#' + btnConVASID).addClass('focus');
                            $('#hdnContractAssociatedVASID').val(data);
                            //alert("hdnContractAssociatedVASID:" + $('#hdnContractAssociatedVASID').val());
                            //var contrts = data.toString();
                            //var url1 = '@(Url.Content("~/CRP/GetGroupIdForAutoBoundContractComponent"))';
                            //$.post(url1,{contractId:contrts},
                            //function(dataGroupIds)
                            //   { //});
                        }
                        else {
                            $('#Plan_Error').html("Contract does not exists for this Offer");
                            $("html, body").animate({ scrollTop: 0 }, "slow");
                            return;
                        }
                    });
                }
                debugger;
                if ('@oneTimeFeeSelected' == 'False' && '@dfValidation' == 'True') {
                    checkDisabledOffer_CRP(btnConVASID);
                }

                $('#SelectedContractName').val($('#' + btnConVASID).text());

        }


        if ('@(selCompIds)' != '') {
            $('#SelectedVasIDs').val('@(selCompIds)');
        }
        if ('@(selContr)' != '') {
            $('#SelectedContractID').val('@(selContr)');
            if ('@(selectedPrice)' != '') {
                $('#price').val('@(selectedPrice)');
            }
            var url = '@(Url.Content("~/CRP/GetGroupIdForAutoBoundContractComponent"))';
            $.post(url, { contractId: $('#SelectedContractID').val() }, function (data) {
                if (data.toString() != "") {
                    $('#hdnContractAssociatedVASID').val(data);
                }
            });
        }


        if ('@(selCompIds)' != '') {
            $('#SelectedVasIDs').val('@(selCompIds)');
        }
        if ('@(selContr)' != '') {
            $('#SelectedContractID').val('@(selContr)');
            if ('@(selectedPrice)' != '') {
                $('#price').val('@(selectedPrice)');
            }
            var url = '@(Url.Content("~/CRP/GetGroupIdForAutoBoundContractComponent"))';
            $.post(url, { contractId: $('#SelectedContractID').val() }, function (data) {
                if (data.toString() != "") {
                    $('#hdnContractAssociatedVASID').val(data);
                }
            });
        }


        function getDependencyComponents() {
            //        var compIds=$('#SelectedVasIDs').val();
            //          alert(compIds)
            //            var url = '@(Url.Content("~/CRP/GetDepenedencyComponents"))';
            //            $.post(url,{componentIds:compIds},function (data) {
            //            if(data.toString()!="")
            //            {
            //            $('#SelectedVasIDs').val(data);
            //           
            //            }
            //            alert("kotesh")
            //            //$('#offerWindow').data('tWindow').center().open();
            //           
            //            });

            var contractid = $('#SelectedContractID').val();

            if (contractid != "") {
                //document.forms["frmSelectVAS"].submit();
                $("#frmSelectVAS").submit();
                $('#Plan_Error').html('');
            }
            else {
                $('#Plan_Error').html("Please Select Offer");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
        }

        //New Javascript Function By VLT For Grouping of Components Check on APR 21 2013
        function SelectedNewVAS(objBtnId, objvasID, objGroupId) {


            // alert(objvasID);
            var vasFound = false;
            //alert($('#SelectedVasIDs').val());
            var arrVasID = $('#SelectedVasIDs').val().split(',');

            if ($.isArray(arrVasID)) {
                arrVasID = jQuery.grep(arrVasID, function (value) {
                    if (value == objvasID) {
                        vasFound = true;
                    }
                    return value != objvasID;
                });
            }
            //alert(vasFound);
            if (vasFound) {

                $(objBtnId).css("border-style", "none");
                var modGroupIds = $('#hdnGroupIds').val().toString().replace(objGroupId + ",", "");
                $('#hdnGroupIds').val(modGroupIds);
                var newVasIDs = '';
                $.each(arrVasID, function (index, value) {
                    // alert(value);
                    if (value != "" && value != ',') {
                        newVasIDs = newVasIDs + value + ',';
                    }
                });

                $('#SelectedVasIDs').val(newVasIDs);
                //alert(newVasIDs);
            }
            else {

                if ($('#hdnContractAssociatedVASID').val().indexOf(objGroupId) != -1) {
                    $('#Plan_Error').html("Dependency Check Fail: Duplicate of Product Mobile – APN=UNET/3G Found, please unselect it from the Data Components section.")
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return;

                }
                // $('#SelectedVasIDs').val($('#SelectedVasIDs').val() + vasID + ',');
                // $(objBtnId).css("border-style", "solid");

                var curbtnBorder = $(objBtnId).css('border-style');

                if (objGroupId == -1) {
                    if (curbtnBorder == "solid") {
                        $(objBtnId).css("border-style", "none");

                        //Remove Vas Ids
                        var curVasIds = $('#SelectedVasIDs').val();
                        curVasIds = curVasIds.toString().replace(objvasID + ",", "");
                        $('#SelectedVasIDs').val(curVasIds);

                        //alert("hh"+curVasIds);
                    }
                    else {
                        $(objBtnId).css("border-style", "solid");
                        $('#SelectedVasIDs').val($('#SelectedVasIDs').val() + objvasID + ',');
                        //alert("hh"+curVasIds);
                    }

                    return;
                }

                var CurGroupIds = $('#hdnGroupIds').val();
                if (curbtnBorder == "solid") {
                    $(objBtnId).css("border-style", "none");

                    //Remove Group Ids
                    CurGroupIds = CurGroupIds.toString().replace(objGroupId + ",", "");
                    $('#hdnGroupIds').val(CurGroupIds);

                    //Remove Vas Ids
                    var curVasIds = $('#SelectedVasIDs').val();
                    curVasIds = curVasIds.toString().replace(objvasID + ",", "");
                    $('#SelectedVasIDs').val(curVasIds);
                    return;
                }
                if (CurGroupIds != '') {
                    if (CurGroupIds.indexOf(objGroupId) == -1) {
                        CurGroupIds += objGroupId + ",";
                    }
                    else {
                        $('#Plan_Error').html("Please Select only one Component from Each Group")
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                        return;
                    }
                }
                else {
                    CurGroupIds = objGroupId + ",";
                }
                $(objBtnId).css("border-style", "solid");
                $('#hdnGroupIds').val(CurGroupIds);

                //alert($('#SelectedVasIDs').val());
                if (!checkDuplicate($('#SelectedVasIDs').val(), objvasID)) {
                    $('#SelectedVasIDs').val($('#SelectedVasIDs').val() + objvasID + ',');
                }


            }
        }


        function checkDuplicate(arrVasID, objvasID) {
            //alert(arrVasID +"_"+objvasID);
            if ($.isArray(arrVasID)) {
                arrVasID = jQuery.grep(arrVasID, function (value) {
                    if (value == objvasID) {
                        return true;
                    }
                    return value != objvasID;
                });
            }
        }

        function setBack() {
            $('#hdnback').val("true");
        }
        //End of New Javascript Function By VLT For Grouping of Components Check on APR 21 2013

        if ('@(CurSelKenanCode)' != '') {

            $('#hdnContractkenanVASID').val('@(CurSelKenanCode)');

            //assign offerid,uomcode and price
            $('#price').val('@(Session["RegMobileReg_MainDevicePrice"].ToString2())');
            $('#OfferId').val('@(Session["OfferId"].ToString2())');
            $('#uomCode').val('@(Session["RegMobileReg_UOMCode"].ToString2())');

            if ('@(selectedPrice)' != '') {
                $('#price').val('@(selectedPrice)');
            }

        }

   
    </script>
}
