﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.Properties;
@model Online.Registration.Web.ViewModels.PackageVM

@{
    ViewBag.Title = "Select a Maxis Plan";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    var orderVM = new OrderSummaryVM();
    if ((OrderSummaryVM)Session["RegMobileReg_OrderSummary"] != null)
    {
        orderVM = (OrderSummaryVM)Session["RegMobileReg_OrderSummary"];
    }
    bool IsDelar = Convert.ToBoolean(Session["IsDealer"]);
    Session["GuidedSales_Type"] = string.Empty;
    var planId = Session["SelectedPlanID"].ToString2();
    var planName = Session[Online.Registration.Web.CommonEnum.SessionKey.ActivePackageName.ToString2()].ToString2();//03072015 - Anthony - Back Button - CRP Bill Plan Change - Plan Selection [Bug# 1012]
    var check = Session["ContractType"].ToString2();
    var chec2 = Session["FromCRPupgrade"].ToString2();
    var pgmBdls = (orderVM.BrandID <= 0) ? Model.AvailablePackages.Where(a => a.BundleName.Contains("iV").Equals(false)).Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList() : Model.AvailablePackages.Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList();
    var bundleNames = (orderVM.BrandID <= 0) ? Model.AvailablePackages.Where(a => a.BundleName.Contains("iV").Equals(false)).Select(a => a.BundleName).Distinct().ToList() : Model.AvailablePackages.Select(a => a.BundleName).Distinct().ToList();

    var contractType = Session["ContractType"].ToString2();
    bool isK2Contract = Session["IsExistingK2"].ToString2() == "1" ? true : false;
    string[] contractTypeArray = new string[] { "CRP", "EXTEND", "TERIMNATEONLY" };

    if ((contractType == "StoPrinciple" && Session["isDeviceFinancingUser"].ToBool() == true) || (contractType == "StoPrinciple" && orderVM.BrandID > 0))
    {
        bundleNames = Model.AvailablePackages.Select(a => a.BundleName).Distinct().ToList();
        pgmBdls = Model.AvailablePackages.Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList();
    }

    if (!string.IsNullOrEmpty(contractType))
    {
        if (contractTypeArray.Contains(contractType.ToUpper()))
        {
            pgmBdls = (orderVM.BrandID <= 0) ? Model.AvailablePackages.Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList() : Model.AvailablePackages.Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList();
            bundleNames = (orderVM.BrandID <= 0) ? Model.AvailablePackages.Select(a => a.BundleName).Distinct().ToList() : Model.AvailablePackages.Select(a => a.BundleName).Distinct().ToList();
        }
    }

    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" : string.Empty;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    bool isDeviceReqd = !Session["IsDeviceRequire"].ToString2().Equals("No");
    bool noEligiblePlan = true;
    string msisdn = Session["ExternalID"].ToString2();

    var fromIpad = Request.Headers["User-Agent"].ToLower().Contains("ipad");
    var containerClass = fromIpad ? "container-fluid ipad-container" : "container";

    bool currentIValue = (planId.Contains("iV") || planName.Contains("iV"));
    bool skipIValue = false;

    // crp rule
    if (Session["ContractType"].ToString2() == "Terimnate" || Session["ContractType"].ToString2() == "StoPrinciple")
    {
        noEligiblePlan = false;

    }
    else if (Session["isDeviceFinancingUser"].ToBool() == false || (Session["ContractType"].ToString2() != "CRP"))
    {
        noEligiblePlan = false;
        if (!planName.Contains("iV"))
        {
            skipIValue = true;
        }
    }
    //Ricky 2015.03.14 - Bugzilla #114 - iValue Plans can be changed to both iValue and Postpaid Plans
    else if (Session["ContractType"].ToString2() == "CRP" && (planId.Contains("iV") || planName.Contains("iV")))
    {
        noEligiblePlan = false;

    }
    else if (Session["ContractType"].ToString2() == "CRP" && (!planId.Contains("iV") || !planName.Contains("iV")))
    {
        noEligiblePlan = false;

    }
    else
    {
        noEligiblePlan = true;
    }

    // to test no eligible message
    //noEligiblePlan = true;
    var simCardSizeList = Util.GetList(RefType.SIMCardType);
}

<div class="@containerClass">
    <div class="isell-base">
        @{
            var viewBagValue = new ViewDataDictionary();
            viewBagValue.Add("headerLabel", "Change Rate Plan / Device Contract:");
            Html.RenderPartial("_AccountHolderName", viewBagValue);
        }
        <div class="row">
            <div class="col-sm-12 col-xs-12 green-bg">
                <p class="font-24">
                    Change Rate Plan / Device Contract
                </p>
            </div>
        </div>
        @{
            Html.RenderPartial("_OrderFlow");
        }

        @using (Html.BeginForm("SelectPlan", "CRP", FormMethod.Post, new { id = "frmSelectPlan", @class = "overlayonsubmit", processmsg = "Loading" }))
        {
            <input type="hidden" id="hdnSelectedPlans" value='@planId' />
            @Html.Hidden("SIMModelSelected", string.Empty)
            @Html.Hidden("SimCardTypeSelected", "")
            @Html.Hidden("PrimarySimSerial", "")
            @Html.Hidden("SecondarySimSerial", "")
            @Html.Hidden("SimSerialSelected", "")
            @Html.Hidden("IsSimDisplayed", "")
            @Html.HiddenFor(a => a.TabNumber)
            @Html.HiddenFor(a => a.SelectedPgmBdlPkgCompID)
            @Html.HiddenFor(a => a.SimSize)
            @Html.HiddenFor(a => a.isSimRequired)

            <div class="row">
                <div class="col-sm-12 col-xs-12 grey-bg">
                    <ul class="nav nav-tabs line-tab" role="tablist" id="line-type">
                        <li class="active" style="width: 8%">
                            <a href="#CRP" role="tab" data-toggle="tab">
                                CRP<span class="active-green-arrow" style="left: 40% !important"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="tab-content">
                        <div class="tab-pane active" id="principle">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <p class="device-title">
                                        <span>Step 01:</span> Please select a plan
                                    </p>
                                </div>
                                @if (bundleNames.Count > 0)
                                {
                                    <div class="col-sm-12 col-xs-12" style="margin-left: -3%">
                                        @Html.ValidationSummary(false, "", new { @class = "errorClass" })
                                    </div>
                                }
                                <div class="col-sm-12 col-xs-12">
                                    <p class="device-title" style="font-size:18px" id="Plan_Error"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <p class="font-16">@(ViewBag.GSTnotif)</p>
                                </div>
                            </div>
                            <div class="row border-top">
                                <div class="col-sm-9 col-xs-9 del-left-pad" id="show-plan">

                                    @if (bundleNames.Count() > 0 && !noEligiblePlan)
                                    {
                                        int index = 0;
                                        <div class="panel-group margin-top" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                @foreach (var bundleName in bundleNames)
                                                {
                                                    if (skipIValue && bundleName.Contains("iV"))
                                                    {
                                                        continue;
                                                    }

                                                    string collapseID = bundleName + index;
                                                    string collapseOpen = index == 0 ? "collapse in" : "collapse";
                                                    string chevronClass = collapseOpen == "collapse in" ? "glyphicon-chevron-up" : "glyphicon-chevron-down";
                                                    var packages = Model.AvailablePackages.Where(a => a.BundleName == bundleName).ToList();
                                                    string headerName = string.Format("{0}: {1}", pgmBdls.Where(a => a.bundleName == bundleName).SingleOrDefault().programName.ToUpper(), bundleName);

                                                    <div class="panel-heading panel-heading-color" role="tab" id="@bundleName" data-toggle="collapse" data-parent="#accordion" href="#@collapseID" aria-expanded="true" aria-controls="@collapseID">
                                                        <h4 class="panel-title ">
                                                            @headerName
                                                            @*<i class="indicator glyphicon @chevronClass pull-right"></i>*@
                                                        </h4>
                                                    </div>

                                                    <div id="@collapseID" class="panel-collapse @collapseOpen" role="tabpanel" aria-labelledby="@bundleName">
                                                        <div class="panel-body">
                                                            <ul class="col-sm-12 col-xs-12 plan-list">
                                                                @{
                                                                    string packageName = "";
                                                                    foreach (var package in packages)
                                                                    {
                                                                        var btnPlanID = package.PgmBdlPkgCompID;
                                                                        var btnPlanDetails = "btnPlnDetails_" + package.PackageCode;
                                                                        packageName = package.PackageName.Contains("-") ?
                                                                            package.PackageName.Trim().Split('-')[0] : package.PackageName;
                                                                        <li class="col-sm-12 col-xs-12 plan-details" onclick="SelectedPackage(this,'@btnPlanID');" id="@btnPlanID">
                                                                            <ul class="col-sm-12 col-xs-12">
                                                                                <li class="col-sm-10 col-xs-10">
                                                                                    <h2>@packageName</h2>
                                                                                </li>
                                                                                <li class="col-sm-1 col-xs-1 kill-padding">
                                                                                    <button data-target="#plan-more" onclick="detailsPlans_OnClick('@btnPlanDetails')" data-toggle="modal" class="btn-info">
                                                                                        <span>i</span>
                                                                                    </button>
                                                                                </li>
                                                                                <li class="col-sm-1 col-xs-1 kill-padding">
                                                                                    <div class="checkbox-plan">
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                    }
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                                        index += 1;
                                                                    }

                                            </div>
                                        </div>
                                                                    }

                                    @if (noEligiblePlan == true)
                                    {
                                        <div class="col-sm-12 col-xs-12" style="margin-top: 5%">
                                            <p class="font-16 text-center">There are no eligible plans available.</p>
                                        </div>
                                    }

                                </div>
                                <div class="col-sm-3 col-xs-3" style="width:28%;">
                                    @{
                                        viewBagValue.Add("FxInternalCheckMessage", ViewBag.FxInternalCheckMessage == null ? "" : ViewBag.FxInternalCheckMessage);
                                        viewBagValue.Add("SearchBy", ViewBag.SearchBy == null ? "" : ViewBag.SearchBy);
                                        viewBagValue.Add("SearchValue", ViewBag.SearchValue == null ? "" : ViewBag.SearchValue);
                                        viewBagValue.Add("GSTMark", ViewBag.GSTMark);
                                        viewBagValue.Add("ControllerName", "CRP");
                                        Html.RenderPartial("_OrderSummaryNew", orderVM, viewBagValue);

                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div style="height: 40px;" class="border-top">
                    <div id="divHeader" style="float: left; padding: 20px 30px">
                        @if (Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan)
                        {
                            <div class="btn isell-btn" id="btnNext" onclick="$('#TabNumber').val(1);">< Back</div>
                        }
                        else
                        {
                            <div class="btn isell-btn" id="btnNext" onclick="BackAction();">< Back</div>
                        }
                    </div>
                    <div id="divHeader" style="float: left; padding: 20px">
                        <div class="btn isell-btn" data-toggle="modal" data-target="#cancel-pop" id="btnCancel">< Cancel</div>
                    </div>
                    <div id="divHeader" style="float: right; padding: 20px 30px">
                        <div class="btn isell-next" id="btnContinue">Next <span>></span></div>
                    </div>
                </div>
            </div>
                                        }
        <div class="modal" id="plan-more" tabindex="-1" role="dialog" aria-labelledby="plan-details" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span class="close-btn">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-sm-12">
                            <h4 class="modal-title" id="phone-details"></h4>
                        </div>
                        <div class="col-sm-12">
                            <img alt="" src="@Url.Content("~/Content/images/Plan/MobileReg_.gif")" id="imgPlanDetails" />
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>


        @{
            var viewBagValue2 = new ViewDataDictionary();
            viewBagValue2.Add("SimType", Session["CRPIsMism"].ToString2());
            Html.RenderPartial("_SimRequiredWindow", viewBagValue2);
            //Html.RenderPartial("_SpvApproval", viewBagValue2);
        }

    </div>
</div>


@section Scripts{
    <script type="text/javascript" language="javascript">
        $.validator.methods.number = function (n, t) {
            return true;
        };

        $(document).ready(function () {
            // this is to keep panel open if only 1 panel exist
            $('#show-plan .panel-heading').on('click', function (e) {
                if ($('#show-plan .panel-heading').length == 1) {
                    if ($(this).parents('.panel').children('.panel-collapse').hasClass('in')) {
                        e.preventDefault();
                        e.stopPropagation();
                    }
                }
            });
            $('#show-plan #accordion').on('hidden.bs.collapse', toggleChevron);
            $('#show-plan #accordion').on('shown.bs.collapse', toggleChevron);


            $('#btnContinue').click(function () {
                var planId = $('#SelectedPgmBdlPkgCompID').val();
                if (isNaN(planId) == true || planId == '0' || planId == '') {
                    $('#Plan_Error').html('Please Select a Plan');
                    //$("html, body").animate({ scrollTop: 0 }, "slow");
                    $("html, body").animate({ scrollTop: $('#line-type').offset().top }, "fast");
                    $('#Plan_Error').show();
                    return false;
                } else {
                    //$('#approval-popup').modal('show');
                    $('#simRequired-pop').modal('show');
                }
            });

            //Highlight selected plan
            if ('@planId' != '0') {
                $('#SelectedPgmBdlPkgCompID').val('@planId')
                $('#' + '@planId').addClass('selected-vas');
            }
            else {
                $('#SelectedPgmBdlPkgCompID').val('@planId')
            }

            // end ready
        });

        function toggleChevron(e) {
            $(e.target)
            .prev('#show-plan .panel-heading')
            .find("i.indicator")
            .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
        }


        function SelectedPackage(target, planID) {
            $('#SelectedPgmBdlPkgCompID').val(planID);
            $('#Plan_Error').html('');
        }

        function detailsPlans_OnClick(btnPlanDetails) {
            var code = btnPlanDetails.substring(14);
            var src = $('#imgPlanDetails').attr("src");
            var indexFrom = src.indexOf("MobileReg_") + 10;
            var indexTo = src.indexOf(".gif");
            var oldCode = src.substring(indexFrom, indexTo);

            src = src.replace(oldCode, "");
            src = src.replace("MobileReg_", "MobileReg_" + code);
            $('#imgPlanDetails').attr("src", src);

            $('#planDetailsWindow').data('tWindow').center().open();
        }

        function submitForm() {
            $('#Plan_Error').html('');
            $('#TabNumber').val(3);
            $('#frmSelectPlan').submit();
            return true;
        }

        function BackAction() {
            window.location = '@(Url.Action("ContractCheck", "CRP"))';
        }

    </script>
}
