﻿@using Online.Registration.Web.ViewModels
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using System.Configuration;
@using Online.Registration.DAL.Models;
@using Online.Registration.Web.Models;
@model Online.Registration.Web.ViewModels.ComponentViewModel
@{ 
    ViewBag.Title = "Select Component";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var ContractDet = (ContractDetails)Session["ContractDet"];
    var dropObj = (DropFourObj)Session["DropFourObj"];
    bool _checkedDC = false;
    bool AlreadyBuiltOCFlag = false;
    bool isDeviceReqd = !Session["IsDeviceRequire"].ToString2().Equals("No");
    var fromBack = Session["fromBackbutton"].ToBool();
    string DCPKGID = "0";
    string dataGroupIds = string.Empty;
    var DC = Model.NewPackagesList.Where(a => a.NewPackageName == "Data Components").FirstOrDefault();
    bool isTerminate = false;
    string contractKenancode = string.Empty;
    bool hasMDP = false;
    var MDPpackageId = "";

    int modelStateErrors = ViewData.ModelState.Values.SelectMany(m => m.Errors).Count();
    
    SmartRegistrationServiceProxy smartProxy = new SmartRegistrationServiceProxy();
    List<string> lstContracts = smartProxy.GetContractsList().ToList().Where(cd => cd.Active == true).Select(c => c.KenanCode.ToString()).ToList();

    foreach (var comp in Model.OldComponentsList)
    {

        if (lstContracts.Contains(comp.OldComponentId))
        {
            contractKenancode = comp.OldComponentId;
        }

    }

    //contractKenancode = Model.OldComponentsList.Where(c => c.OldComponentName.ToLower().Contains("12 months") || c.OldComponentName.ToLower().Contains("24 months")).FirstOrDefault().OldComponentId;

    if (Session["ContractType"].ToString2().ToUpper() == "TERIMNATE" || Session["ContractType"].ToString2().ToUpper() == "TERIMNATEONLY")
    {
        isTerminate = true;
    }
    if (DC != null && DC.NewPackageId != null)
    {
        DCPKGID = DC.NewPackageId;
    }
    var DC_CheckedList = Model.NewComponentsList.Where(b => b.NewPackageId == DCPKGID && b.IsChecked == true).ToList();
    if (DC_CheckedList != null && DC_CheckedList.Count > 0)
    {
        _checkedDC = true;
    }

    #region Other component
    List<NewComponents> OCCmpntList = new List<NewComponents>();
    if (Model.NewPackagesList != null && Model.NewPackagesList.Where(a => a.Type == "OC").ToList() != null)
    {

        string[] OCPkgIds = Model.NewPackagesList.Where(a => a.Type == "OC").Select(a => a.NewPackageId).ToArray();
        if (OCPkgIds != null)
        {
            OCCmpntList = Model.NewComponentsList.Where(a => OCPkgIds.Contains(a.NewPackageId)).ToList();
        }
        else
        {
            OCCmpntList = null;
        }

    }
    List<NewComponents> PramotionalList = new List<NewComponents>();
    if (Model.NewPackagesList != null && Model.NewPackagesList.Where(a => a.Type == "RC" || a.Type == "CR").ToList() != null)
    {
        string[] OCPkgIds = Model.NewPackagesList.Where(a => a.Type == "RC" || a.Type == "CR").Select(a => a.NewPackageId).ToArray();
        if (OCPkgIds != null)
        {
            PramotionalList = Model.NewComponentsList.Where(a => OCPkgIds.Contains(a.NewPackageId) && (a.Type == "RC" || a.Type == "CR")).ToList();
            if (isDeviceReqd || Session["ShowDComp"].ToString2() == "False" || !isTerminate)
            {
                if (isDeviceReqd)
                {
                    PramotionalList = Model.NewComponentsList.Where(a => OCPkgIds.Contains(a.NewPackageId) && (a.Type == "RC" || a.Type == "CR")).ToList();
                }
                var removeDC = PramotionalList.Where(x => x.NewComponentKenanCode == ConfigurationManager.AppSettings["ExclueSM30KenanId"].ToString2()).SingleOrDefault();

                if (removeDC != null)
                {
                    PramotionalList.Remove(removeDC);
                }


            }
        }
        else
        {
            PramotionalList = null;
        }

    }
    List<NewComponents> DataComponentList = new List<NewComponents>();
    if (Model.NewComponentsList != null && Model.NewComponentsList.Where(a => a.Type == "MD" || a.Type == "DM" || a.Type == "DC").ToList() != null)
    {
        DataComponentList = Model.NewComponentsList.Where(a => a.Type == "MD" || a.Type == "DM" || a.Type == "DC").ToList();
    }
    else
    {
        DataComponentList = null;
    }
    List<NewComponents> DeviceInsuranceComp = new List<NewComponents>();
    string[] MDPKenanCode = Constants.MDP_KENAN_CODE.Split(',');
    var MDP_decision = Session["mdp_decision"].ToString2();
    
    //isDeviceReqd = true;
    if (isDeviceReqd)
    {
        if (Model.NewComponentsList != null && Model.NewComponentsList.Where(a => a.Type == "IC").ToList() != null)
        {
            DeviceInsuranceComp = Model.NewComponentsList.Where(a => a.Type == "IC").ToList();
        }
        else
        {
            DeviceInsuranceComp = null;
        }
    }
    else
    {
        string oldMDPKenanCode = Model.OldComponentsList.Where(x => x.OldComponentId == MDPKenanCode[0] || x.OldComponentId == MDPKenanCode[1]).Select(a => a.OldComponentId).FirstOrDefault();

        DeviceInsuranceComp = Model.NewComponentsList.Where(a => a.Type == "IC" && a.NewComponentKenanCode == oldMDPKenanCode).ToList();
    }

    if (Model.OldPackagesList.Where(a => a.OldPackageId == "41766").ToList().Any())
    {
        hasMDP = true;
        MDPpackageId = "41766";
    }
    
    List<string> dataCompIdsList = new List<string>();
    using (var proxy = new RegistrationServiceProxy())
    {
        dataCompIdsList = proxy.GetDataPlanComponentsForMISM();
    }
    var dataCompIds = string.Empty;
    foreach (string item in dataCompIdsList)
    {
        dataCompIds += item + ',';
    }
    var dcGroupID = string.Empty;
    var dcGroupIDs = string.Empty;
    var simtype = Session["SimType"].ToString2();
    var OCList = Session["OCCmpntList"].ToString2();
    #endregion

    List<RestrictedComponent> restrictcomps = new List<RestrictedComponent>();
    using (CatalogServiceProxy prox = new CatalogServiceProxy())
    {
        restrictcomps = prox.GetAllRestrictedComponents();
    }

    //GTM e-Billing CR - Ricky - 2014.11.21
    var mutualExclusiveList = @Html.Raw(Json.Encode(Model.MutualExclusiveComponents));
    string shareSuppErrorMsg = Model.ShareSuppErrorMessage;

    List<string> DealerHiddenComps = ConfigurationManager.AppSettings["RestrictComponentsForDealer"].ToString2().Split(',').ToList();
    if (Model.OldPackagesList != null && Model.OldPackagesList.Count > 0)
    {
        List<OldPackages> packageList = Model.OldPackagesList;
        Model.OldPackagesList = Model.OldPackagesList.Where(p => p.OldPackageName.Contains("-")).OrderBy(p => p.OldPackageName.ToString().Split('-')[1]).ToList();
        Model.OldPackagesList.AddRange(packageList.Where(p => p.OldPackageName.Contains("-") == false).ToList());
    }

    // device offer - start
    //RST GST
    string tradeUpID = string.Empty;
    string displayTradeUp = string.Empty;
    bool? isTradeUp = false;
    bool displayTradeUpSection = false;
    string tradeUpAmount = string.Empty;
    string CurSelKenanCode = string.Empty;

    bool preSelectedPlan = false;
    string SelectedbtnConVASID = "";
    string SelectedofferId = "";
    string SelectedofferPrice = "";
    string SelectedofferUOMCode = "";

    var selectedVASkenanCodes = (string[])Session["selectedValsSession"];
    var selectedVASIds = (string[])Session["selectedCompIdsSession"];
    var isDealer = (bool)Session["IsDealer"];
    bool deviceFinancingFlag = Session["DF_Eligibility"].ToBool();
    var upgradeFeeKenanCode = WebHelper.Instance.getDFLOV(Constants.DF_UPGRADEFEE);
    var dfUpgradeFeeVas = "";
    var dfEligibilityCheck = Session["DF_Eligibility"].ToBool();
    var dfException = !dropObj.DFcustomerEligibility && deviceFinancingFlag ? true : false;
    //var dfException = Session["df_showOffer"].ToString2() == "show" ? true : false;
    bool oneTimeFeeSelected = false;
    bool dfValidation = false;

    tradeUpAmount = (Session["TradeUpAmount"].ToInt() != 0) ? Session["TradeUpAmount"].ToString() : string.Empty;

    if (Model.ValueAddedServicesVM.ContractOffers != null && Model.ValueAddedServicesVM.ContractOffers.Count > 0)
    {
        foreach (var contract in Model.ValueAddedServicesVM.ContractOffers)
        {
            if (true == contract.isTradeUp)
            {
                displayTradeUpSection = true;
                break;
            }
        }
    }
    
    var selCompIds = Session["SelectedComponents"].ToString2();
    var selContr = Session["RegMobileReg_ContractID"].ToString2();
    var selectedPrice = Session["RegMobileReg_OfferDevicePrice"].ToString2();
    
    // device offer - end
    var fromIpad = Request.Headers["User-Agent"].ToLower().Contains("ipad");
    var containerClass = fromIpad ? "container-fluid ipad-container" : "container";

    WebHelper.Instance.clearApprovalCheckboxes();
    
}

<div class="@containerClass">
    <div class="isell-base">
        @{
            var viewBagValue = new ViewDataDictionary();
            viewBagValue.Add("headerLabel", "Change Rate Plan / Device Contract:");
            Html.RenderPartial("_AccountHolderName", viewBagValue);
        }
        <div class="row">
            <div class="col-sm-12 col-xs-12 green-bg">
                <p class="font-24">
                    Change Rate Plan / Device Contract
                </p>
            </div>
        </div>
        @{ 
            Html.RenderPartial("_OrderFlow");
        }
        @using (Html.BeginForm("SelectComponent", "CRP", FormMethod.Post, new { id = "frmSelectComponent", @class = "overlayonsubmit", processmsg = "Loading" }))
        { 
            @Html.Hidden("SelectedKenanCodes")
            @Html.Hidden("SelectedCompIds")
            @Html.HiddenFor(a => a.TabNumber)
            @Html.HiddenFor(a => a.GroupIds)
            @Html.Hidden("mdp_decision")
            @Html.Hidden("hasMDP")

            <div class="row">
                <div class="col-sm-12 col-xs-12 grey-bg">
                    <ul class="nav nav-tabs line-tab" role="tablist" id="line-type">
                        <li class="active" style="width: 8%"><a href="#CRP" role="tab" data-toggle="tab">CRP<span
                            class="active-green-arrow" style="left: 40% !important"></span></a></li>
                    </ul>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="tab-content">
                        <div class="tab-pane active" id="principle">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <p class="device-title">
                                        <span>Step 02:</span> Choose the Value-Added Services you want to add to your plan
                                    </p>
                                </div>
                                <div class="col-sm-12 col-xs-12" style="margin-left: -3%">
                                    @Html.ValidationSummary(false, "", new { @class = "errorClass" })  
                                </div>              
                                <div class="col-sm-12 col-xs-12">
                                    <p class="device-title" style="font-size:18px" id="Plan_Error"></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <p class="font-16">@(ViewBag.GSTnotif)</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row border-top">
                <div class="col-sm-9 col-xs-9 del-left-pad scroll-panel" id="show-plan" style="max-height: 750px; overflow-y: scroll">
                    <div class="col-sm-12 col-xs-12 kill-padding" style="margin-left: -1%">
                        <div class="col-sm-12 col-xs-12 kill-padding">
                            @if (isDeviceReqd)
                            {
                                <input type="hidden" id="hdnContractAssociatedVASID" />
                                <input type="hidden" id="hdnContractkenanVASID" name="hdnContractkenanVASID" />
                                @Html.HiddenFor(a => a.ValueAddedServicesVM.OfferId)
                                @Html.HiddenFor(a => a.ValueAddedServicesVM.SelectedVasIDs)
                                @Html.HiddenFor(a => a.ValueAddedServicesVM.SelectedContractID)
                                @Html.HiddenFor(a => a.ValueAddedServicesVM.SelectedContractName)
                                @Html.HiddenFor(a => a.ValueAddedServicesVM.uomCode)
                                @Html.HiddenFor(a => a.ValueAddedServicesVM.price)
                                @Html.HiddenFor(a => a.ValueAddedServicesVM.SelectedKenanCodes)
                                @Html.Hidden("hdnGroupIds")   
                                @Html.HiddenFor(a => a.ValueAddedServicesVM.hdnTradeUpAmount)
                                @Html.Hidden("df_showOffer")
                                @Html.Hidden("OfferName")
                                   
                                if (Model.ValueAddedServicesVM.AvailableVASes.Count() > 0)
                                {

                                    for (int i = 0; i < Model.ValueAddedServicesVM.AvailableVASes.Count(); i++)
                                    {
                                        @Html.HiddenFor(model => model.ValueAddedServicesVM.AvailableVASes[i].PgmBdlPkgCompID);
                                    }

                                }
                                if (Model.ValueAddedServicesVM.ContractOffers != null && Model.ValueAddedServicesVM.ContractOffers.Count > 0)
                                {
                                        
                                        <ul class="col-sm-12 col-xs-12 other-list" >
                                            @foreach (var offer in Model.ValueAddedServicesVM.ContractOffers)
                                            {
                                                string kenanCode = offer.KenanComponent1Id != null ? offer.KenanComponent1Id : "-1";
                                                var btnConVASID = "btnConVAS_" + offer.Id + "_" + kenanCode;
                                                string oneTime = "";
                                                string selectedClass = "";
                                                if (offer.isDeviceFinancing && Model.ValueAddedServicesVM.df_offerOneTimeFee.ContainsKey(offer.UOMCode))
                                                {
                                                    oneTime = Model.ValueAddedServicesVM.df_offerOneTimeFee[offer.UOMCode].ToString2();
                                                }
                                                if (offer.Id.ToString2() == Session["OfferId"].ToString2())
                                                {
                                                    selectedClass = "selected-vas";
                                                    CurSelKenanCode = kenanCode;
                                                    preSelectedPlan = true;
                                                    SelectedbtnConVASID = btnConVASID;
                                                    SelectedofferId = offer.Id.ToString2();
                                                    SelectedofferPrice = offer.Price.ToString2();
                                                    SelectedofferUOMCode = offer.UOMCode;
                                                }  
                                                <li style="width: 150px; font-size: 16px" class="col-sm-2 @selectedClass" id="@btnConVASID" value="" data-oneTime="@oneTime" data-dfOffer="@offer.isDeviceFinancing" data-istradeUp="@offer.isTradeUp" data-is-selectable="true" data-method="SelectedOfferVAS('@btnConVASID','@offer.Id','@offer.Price','@offer.UOMCode'); showHideTradeUp('@btnConVASID');" >
                                                    @offer.OfferName.ToString2().Replace("-", "- ").Replace("+", "+ ")
                                                </li>
                                            }
                                        </ul>
                                        
                                }

                            }
                                
                        </div>
                        
                        @if (!isDealer && Model.ValueAddedServicesVM.exceptionalAvailable)
                        { 
                            <div style="clear: both; margin-bottom: 1%;">
                                <h3>
                                    <input id="df-exceptional" class="stock-checkbox" type="checkbox" />
                                    <label for="df-exceptional" class="stock-label">Device Financing Offer</label>
                                </h3>
                            </div>
                        }

                        @*RST GST*@
                @if (Model.ValueAddedServicesVM.ContractOffers != null && Model.ValueAddedServicesVM.ContractOffers.Count > 0 && displayTradeUpSection)
                {
                    <div style="width:100%; display:block;">
                        <h2 id="tradeUpSection">
                            <b>Trade-In Amount</b>
                        </h2>
                        <div class="col-sm-12 col-xs-12 kill-padding">
                            @foreach (var tradeUpOffer in Model.ValueAddedServicesVM.ContractOffers)
                            {
                                if (tradeUpOffer.isTradeUp.ToBool())
                                {
                                    //var tradeUpOfferID = Model.TradeUpList.Select(x => x.OfferId).Distinct();
                                    var tradeUpComponents = Model.ValueAddedServicesVM.TradeUpList.Where(x => x.OfferId == tradeUpOffer.Id).ToList();
                                    tradeUpID = "tradeUpSection_" + tradeUpOffer.Id;
                                    if (tradeUpOffer.Id == Session["OfferID"].ToInt())
                                    {
                                        displayTradeUp = "display:block";
                                    }
                                    else
                                    {
                                        displayTradeUp = "display:none";
                                    }
                                    <div style="@(displayTradeUp)" id="@tradeUpID">
                                    <ul class="col-sm-12 other-list">
                                        @foreach (var tradeUpComponent in tradeUpComponents)
                                        {
                                            var componentPrice = tradeUpComponent.Price;
                                            var componentId = "btnTradeUp_" + tradeUpOffer.Id + "_" + componentPrice;

                                            <li class="col-sm-2" style="width: 145px; height: 50px !important; font-size:13px;cursor:pointer" id="@componentId" onclick="selectTradeUpVAS('@componentId','Yes')">
                                                    @tradeUpComponent.Name
                                            </li> 
                                        }
                                    </ul>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
                @*End RST*@

                        <div class="col-sm-6 col-xs-6 kill-padding">
                            <div class="panel-group margin-top" id="current-plan-accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <h2 style="font-weight: bold; margin-bottom: 1%">Current Bill Plan</h2>
                                    @for (int p = 0; p < Model.OldPackagesList.Count; p++)
                                    {
                                        string panelID = "current-panel-" + p;
                                        string collapseID = "current-collapse-" + p;
                                        //string chevronClass = p == 0 ? "glyphicon-chevron-down" : "glyphicon-chevron-up";
                                        // this is to take out empty vas inside package
                                        bool componentExistinPackage = Model.OldComponentsList.Where(x => x.OldPackageId == Model.OldPackagesList[p].OldPackageId).Any();
                                        if (!string.IsNullOrEmpty(Model.OldPackagesList[p].OldPackageName) && componentExistinPackage)
                                        {
                                            <div class="panel-heading panel-heading-color kill-padding" role="tab" id="@panelID" data-toggle="collapse" data-parent="#accordion" href="#@collapseID" aria-expanded="true" aria-controls="@collapseID">
                                                <h4 class="panel-title" style="padding: 10px 15px">
                                                    @Model.OldPackagesList[p].OldPackageName 
                                                   @* <i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>*@
                                                </h4>
                                            </div>
                                            if (Model.OldComponentsList != null)
                                            {
                                                Model.OldComponentsList = Model.OldComponentsList.OrderBy(c => c.OldComponentName).ToList();

                                                <div id="@collapseID" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="@panelID">
                                                    <div class="panel-body">
                                                        <ul class="col-sm-12 col-xs-12 current-plan-list kill-padding">
                                                        
                                                        @for (int i = 0; i < Model.OldComponentsList.Count; i++)
                                                        {
                                                            if (Model.OldPackagesList[p].OldPackageId == Model.OldComponentsList[i].OldPackageId)
                                                            {
                                                                if (!string.IsNullOrEmpty(Model.OldComponentsList[i].OldComponentName))
                                                                {
                                                                    <li class="col-sm-12 col-xs-12 current-plan-details-crp">
                                                                            <h2>@Model.OldComponentsList[i].OldComponentName</h2>
                                                                    </li>
                                                                }
                                                            }

                                                        }
                                                        </ul>
                                                    </div>
                                                </div>
                                            }

                                        }

                                    }
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xs-6 kill-padding" style="padding-left: 0.4% !important">
                            <div class="panel-group margin-top" id="tobe-plan-accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <h2 style="font-weight: bold; margin-bottom: 1%">New Bill Plan</h2>
                                    @for (int p = 0; p < Model.NewPackagesList.Count; p++)
                                    {
                                        string panelID = "tobe-panel-" + p;
                                        string collapseID = "tobe-collapse-" + p;

                                        if (!string.IsNullOrEmpty(Model.NewPackagesList[p].NewPackageName))
                                        {
                                            if (DeviceInsuranceComp.Any() && @Model.NewPackagesList[p].NewPackageName.Contains("Device Insurance"))
                                            {
                                                // do nothing
                                            }
                                            else
                                            {
                                                if (@Model.NewPackagesList[p].Type != "OC" && @Model.NewPackagesList[p].Type != "RC" && @Model.NewPackagesList[p].Type != "CR" && @Model.NewPackagesList[p].Type != "MD" && @Model.NewPackagesList[p].Type != "DC" && @Model.NewPackagesList[p].Type != "IC" && (@Model.NewPackagesList[p].NewPackageName != null && !(@Model.NewPackagesList[0].NewPackageName.ToLower().Contains("ivalue") && @Model.NewPackagesList[p].NewPackageName == "Data Components")))
                                                {
                                                    string collapseStyle = Model.NewPackagesList[p].NewPackageName.Contains("Device Insurance") || Model.NewPackagesList[p].NewPackageName.Contains("Zerolution") ? "collapse in" : "collapse";
                                                    string chevronClass = collapseStyle == "collapse in" ? "glyphicon-chevron-up" : "glyphicon-chevron-down";
                                                    <div class="panel-heading panel-heading-color kill-padding" role="tab" id="@panelID" data-toggle="collapse" data-parent="#accordion" href="#@collapseID" aria-expanded="true" aria-controls="@collapseID">
                                                        <h4 class="panel-title" style="padding: 10px 15px">
                                                            @Model.NewPackagesList[p].NewPackageName 
                                                            @*<i class="indicator glyphicon @chevronClass pull-right"></i>*@
                                                        </h4>
                                                    </div>
                                                    if (Model.NewComponentsList != null)
                                                    {
                                                        Model.NewComponentsList = Model.NewComponentsList.OrderBy(c => c.NewComponentName).ToList();

                                                        <div id="@collapseID" class="panel-collapse @collapseStyle" role="tabpanel" aria-labelledby="@panelID">
                                                            <div class="panel-body">
                                                                
                                                                @for (int i = 0; i < Model.NewComponentsList.Count; i++)
                                                                {
                                                                    var count = DealerHiddenComps.Where(a => a.ToString2() == Model.NewComponentsList[i].NewComponentKenanCode).Count();

                                                                    if (Model.NewPackagesList[p].NewPackageId == Model.NewComponentsList[i].NewPackageId && Model.NewComponentsList[i].Type != "MD" && Model.NewComponentsList[i].Type != "DM")
                                                                    {
                                                                        if (!string.IsNullOrEmpty(Model.NewComponentsList[i].NewComponentName))
                                                                        {
                                                                            bool status = Model.NewComponentsList[i].IsChecked;
                                                                            bool ReassignIsmandatory = Model.NewComponentsList[i].ReassignIsmandatory;
                                                                            var value = Model.NewComponentsList[i].NewComponentId + "_" + Model.NewComponentsList[i].NewComponentKenanCode;
                                                                            var rowId = "tr_" + value;
                                                                            bool isHidden = Model.NewComponentsList[i].isHidden;
                                                                            string mandatoryVasList = "40090";
                                                                            string mandatoryvas = (ReassignIsmandatory || mandatoryVasList.Contains(Model.NewComponentsList[i].NewComponentKenanCode)) ? "mandatory-vas" : "";
                                                                            string disabledDealer = (Session["IsDealer"].ToBool() && count > 0) ? "vas-disabled" : "";
                                                                            bool isDefault = Model.NewComponentsList[i].isDefault == 1;
                                                                            string defaultedClass = isDefault ? "selected-vas" : "";
                                                                            if (Model.NewComponentsList[i].NewComponentKenanCode == upgradeFeeKenanCode) { 
                                                                                dfUpgradeFeeVas = value; }

                                                                            if (ReassignIsmandatory == true)
                                                                            {
                                                                                <ul id="@rowId" class="col-sm-12 col-xs-12 tobe-plan-list kill-padding">
                                                                                    <li class="col-sm-12 col-xs-12 tobe-plan-details @mandatoryvas" value="@value" id="@Model.NewComponentsList[i].NewPackageKenanCode" name="chkbxComponent" data-groupID="@Model.NewComponentsList[i].ComponentGroupId" data-ishidden="@isHidden" data-compid-kenan="@value" data-oneTime="@Model.NewComponentsList[i].oneTimeUpgrade">
                                                                                            <h2>@Model.NewComponentsList[i].NewComponentName</h2>
                                                                                    </li>
                                                                                </ul>
                                                                            }
                                                                            else if (status == true && Model.NewPackagesList[p].NewPackageName == "Data Components")
                                                                            {
                                                                                string groupId = Model.NewComponentsList[i].ComponentGroupId;
                                                                                
                                                                                <ul id="@rowId" class="col-sm-12 col-xs-12 tobe-plan-list kill-padding">
                                                                                    <li class="col-sm-12 col-xs-12 tobe-plan-details selected-vas @disabledDealer" value="@value" id="@Model.NewComponentsList[i].NewPackageKenanCode" name="chkbxComponent" data-groupID="@Model.NewComponentsList[i].ComponentGroupId" data-ishidden="@isHidden" data-compid-kenan="@value" data-oneTime="@Model.NewComponentsList[i].oneTimeUpgrade">
                                                                                            <h2>@Model.NewComponentsList[i].NewComponentName</h2>
                                                                                    </li>
                                                                                </ul>
                                                                                if (!string.IsNullOrEmpty(groupId) && groupId != "0")
                                                                                {
                                                                                    dataGroupIds = dataGroupIds + "," + groupId + ",";
                                                                                }

                                                                            }
                                                                            else if (status == true)
                                                                            {
                                                                                <ul id="@rowId" class="col-sm-12 col-xs-12 tobe-plan-list kill-padding">
                                                                                    <li class="col-sm-12 col-xs-12 tobe-plan-details selected-vas @disabledDealer " value="@value" id="@Model.NewComponentsList[i].NewPackageKenanCode" name="chkbxComponent" data-groupID="@Model.NewComponentsList[i].ComponentGroupId" data-ishidden="@isHidden" data-compid-kenan="@value" data-oneTime="@Model.NewComponentsList[i].oneTimeUpgrade">
                                                                                            <h2>@Model.NewComponentsList[i].NewComponentName</h2>
                                                                                    </li>
                                                                                </ul>
                                                                            }
                                                                            else
                                                                            {
                                                                                if (Model.NewPackagesList[p].NewPackageName == "Data Components")
                                                                                {
                                                                                    <ul id="@rowId" class="col-sm-12 col-xs-12 tobe-plan-list kill-padding">
                                                                                        <li class="col-sm-12 col-xs-12 tobe-plan-details @disabledDealer " value="@value" id="@Model.NewComponentsList[i].NewPackageKenanCode" name="chkbxComponent" data-groupID="@Model.NewComponentsList[i].ComponentGroupId" data-ishidden="@isHidden" data-compid-kenan="@value" data-oneTime="@Model.NewComponentsList[i].oneTimeUpgrade">
                                                                                                <h2>@Model.NewComponentsList[i].NewComponentName</h2>
                                                                                        </li>
                                                                                    </ul>  
                                                                                
                                                                                }
                                                                                else
                                                                                {
                                                                                    if (!Model.NewComponentsList[i].isHidden)
                                                                                    {
                                                                                        <ul id="@rowId" class="col-sm-12 col-xs-12 tobe-plan-list kill-padding">
                                                                                            <li class="col-sm-12 col-xs-12 tobe-plan-details @disabledDealer " value="@value" id="@Model.NewComponentsList[i].NewPackageKenanCode" name="chkbxComponent" data-groupID="@Model.NewComponentsList[i].ComponentGroupId" data-ishidden="@isHidden" data-compid-kenan="@value" data-oneTime="@Model.NewComponentsList[i].oneTimeUpgrade">
                                                                                                    <h2>@Model.NewComponentsList[i].NewComponentName</h2>
                                                                                            </li>
                                                                                        </ul> 
                                                                                    }

                                                                                }
                                                                            }

                                                                        }
                                                                    }



                                                                }

                                                                
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    @if ((isDeviceReqd || (!isDeviceReqd && hasMDP)) && DeviceInsuranceComp != null && DeviceInsuranceComp.Count > 0)
                                    {
                                        <div class="panel-heading panel-heading-color kill-padding" role="tab" id="tobe-panel-IC" data-toggle="collapse" data-parent="#accordion" href="#collapseIC" aria-expanded="true" aria-controls="collapseIC">
                                            <h4 class="panel-title" style="padding: 10px 15px">
                                                @*Device Insurance Components*@
                                                @*<i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>*@
                                                Mobile SafeDevice
                                            </h4>
                                        </div>
                                        <div id="collapseIC" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="tobe-panel-IC">
                                            <div class="panel-body">
                                                @foreach (NewComponents DCcomp in DeviceInsuranceComp)
                                                {
                                                    if (!string.IsNullOrEmpty(DCcomp.NewComponentName))
                                                    {
                                                        bool status = DCcomp.IsChecked;
                                                        bool ReassignIsmandatory = DCcomp.ReassignIsmandatory;

                                                        var groupId = DCcomp.ComponentGroupId;
                                                        var kenanCode = ""; //= @Model.SubscribedComponents[p].compList[i].componentId;
                                                        var vasName = ""; //= @Model.SubscribedComponents[p].compList[i].componentDesc + " (RM " + Model.SubscribedComponents[p].compList[i].Price + ")";
                                                        var pbpcId = DCcomp.NewComponentId; //= @Model.SubscribedComponents[p].compList[i].lnkpgmbdlpkgcompId;
                                                        var price = 0;
                                                        var compId = 0;
                                                        var value = DCcomp.NewComponentId + "_" + DCcomp.NewComponentKenanCode;
                                                        var isDefault = DCcomp.isDefault;
                                                        isDefault = 0;
                                                        if (ReassignIsmandatory == true)
                                                        {
                                                            <ul class="col-sm-12 col-xs-12 tobe-plan-list kill-padding">
                                                                <li class="col-sm-12 col-xs-12 tobe-plan-details selected-vas mandatory-vas" data-groupID="@DCcomp.ComponentGroupId" data-autoselect="autoselect" data-isDefault="@isDefault" value="@value" id="@DCcomp.NewPackageKenanCode" name="chkbxComponent" data-compid-kenan="@value" onclick="noMultipleSelection(this);">
                                                                        <h2>@DCcomp.NewComponentName</h2>
                                                                </li>
                                                            </ul>
                                                        }
                                                        else if (Session["ContractType"].ToString2().ToUpper() == "TERIMNATEONLY" && DCcomp.NewComponentKenanCode == contractKenancode)
                                                        {
                                                            <ul class="col-sm-12 col-xs-12 tobe-plan-list kill-padding">
                                                                <li class="col-sm-12 col-xs-12 tobe-plan-details" data-groupID="@DCcomp.ComponentGroupId" data-autoselect="autoselect" data-isDefault="@isDefault" value="@value" id="@DCcomp.NewPackageKenanCode" name="chkbxComponent" data-compid-kenan="@value" onclick="noMultipleSelection(this);">
                                                                        <h2>@DCcomp.NewComponentName</h2>
                                                                </li>
                                                            </ul>
                                                        }
                                                        else if (status == true)
                                                        {
                                                            <ul class="col-sm-12 col-xs-12 tobe-plan-list kill-padding">
                                                                <li class="col-sm-12 col-xs-12 tobe-plan-details selected-vas" data-groupID="@DCcomp.ComponentGroupId" data-autoselect="autoselect" data-isDefault="@isDefault" name="chkbxComponent" value="@value" id="@DCcomp.NewPackageKenanCode" name="chkbxComponent" >
                                                                        <h2>@DCcomp.NewComponentName</h2>
                                                                </li>
                                                            </ul>
                                                        }
                                                        else
                                                        { 
                                                            <ul class="col-sm-12 col-xs-12 tobe-plan-list kill-padding">
                                                                <li class="col-sm-12 col-xs-12 tobe-plan-details" data-groupID="@DCcomp.ComponentGroupId" data-isDefault="@isDefault" data-autoselect="autoselect" value="@value" id="@DCcomp.NewPackageKenanCode" name="chkbxComponent">
                                                                        <h2>@DCcomp.NewComponentName</h2>
                                                                </li>
                                                            </ul>
                                                        }


                                                    }

                                                }
                                            </div>
                                        </div>
                                        
                                    }

                                    @if (DataComponentList != null && DataComponentList.Count > 0)
                                    {
                                        string chevronClass = true ? "glyphicon-chevron-down" : "glyphicon-chevron-up";
                                        <div class="panel-heading panel-heading-color kill-padding" role="tab" id="tobe-panel-DataComp" data-toggle="collapse" data-parent="#accordion" href="#collapseDataComp" aria-expanded="true" aria-controls="collapseDataComp">
                                            <h4 class="panel-title" style="padding: 10px 15px">
                                                Data Components
                                                @*<i class="indicator glyphicon @chevronClass pull-right"></i>*@
                                            </h4>
                                        </div>
                                        <div id="collapseDataComp" class="panel-collapse collapse" role="tabpanel" aria-labelledby="tobe-panel-DataComp">
                                            <div class="panel-body">
                                            @if (DataComponentList != null && DataComponentList.Count > 0)
                                            {
                                                DataComponentList = DataComponentList.OrderBy(c => c.NewComponentName).ToList();
                                                foreach (NewComponents DCcomp in DataComponentList)
                                                {
                                                    if (!string.IsNullOrEmpty(DCcomp.NewComponentName))
                                                    {
                                                        dcGroupID = "dc_" + DCcomp.ComponentGroupId;
                                                        if (!dcGroupIDs.Contains(dcGroupID))
                                                        {
                                                            dcGroupIDs = dcGroupIDs + dcGroupID + ",";
                                                        }
                                                        bool status = DCcomp.IsChecked;
                                                        bool ReassignIsmandatory = DCcomp.ReassignIsmandatory;

                                                        var groupId = DCcomp.ComponentGroupId;
                                                        var kenanCode = ""; //= @Model.SubscribedComponents[p].compList[i].componentId;
                                                        var vasName = ""; //= @Model.SubscribedComponents[p].compList[i].componentDesc + " (RM " + Model.SubscribedComponents[p].compList[i].Price + ")";
                                                        var pbpcId = DCcomp.NewComponentId; //= @Model.SubscribedComponents[p].compList[i].lnkpgmbdlpkgcompId;
                                                        var price = 0;
                                                        var compId = 0;
                                                        var value = DCcomp.NewComponentId + "_" + DCcomp.NewComponentKenanCode;
                                                        var isDefault = DCcomp.isDefault;

                                                        if (ReassignIsmandatory == true)
                                                        {
                                                            <ul class="col-sm-12 col-xs-12 tobe-plan-list kill-padding">
                                                                <li class="col-sm-12 col-xs-12 tobe-plan-details selected-vas mandatory-vas" data-groupID="@DCcomp.ComponentGroupId" data-autoselect="autoselect" data-isDefault="@isDefault" data-isDC="@dcGroupID" data-isChecked="@status" value="@value" id="@DCcomp.NewPackageId" name="chkbxComponent" onclick="noMultipleSelection(this);">
                                                                        <h2>@DCcomp.NewComponentName</h2>
                                                                </li>
                                                            </ul>
                                                        }
                                                        else if (Session["ContractType"].ToString2().ToUpper() == "TERIMNATEONLY" && DCcomp.NewComponentKenanCode == contractKenancode)
                                                        {
                                                            <ul class="col-sm-12 col-xs-12 tobe-plan-list kill-padding">
                                                                <li class="col-sm-12 col-xs-12 tobe-plan-details" data-groupID="@DCcomp.ComponentGroupId" data-autoselect="autoselect" data-isDefault="@isDefault" data-isDC="@dcGroupID" data-isChecked="@status" value="@value" id="@DCcomp.NewPackageId" name="chkbxComponent" onclick="noMultipleSelection(this);">
                                                                        <h2>@DCcomp.NewComponentName</h2>
                                                                </li>
                                                            </ul>       
                                                        }
                                                        else if (status == true)
                                                        {
                                                            <ul class="col-sm-12 col-xs-12 tobe-plan-list kill-padding">
                                                                <li class="col-sm-12 col-xs-12 tobe-plan-details selected-vas" data-groupID="@DCcomp.ComponentGroupId" data-autoselect="autoselect" data-isDefault="@isDefault" data-isDC="@dcGroupID" data-isChecked="@status" value="@value" id="@DCcomp.NewPackageId" name="chkbxComponent" onclick="noMultipleSelection(this);">
                                                                        <h2>@DCcomp.NewComponentName</h2>
                                                                </li>
                                                            </ul>
                                                        }
                                                        else
                                                        {
                                                            <ul class="col-sm-12 col-xs-12 tobe-plan-list kill-padding">
                                                                <li class="col-sm-12 col-xs-12 tobe-plan-details" data-groupID="@DCcomp.ComponentGroupId" data-autoselect="autoselect" data-isDefault="@isDefault" data-isDC="@dcGroupID" data-isChecked="@status" value="@value" id="@DCcomp.NewPackageId" name="chkbxComponent" onclick="noMultipleSelection(this);">
                                                                        <h2>@DCcomp.NewComponentName</h2>
                                                                </li>
                                                            </ul>
                                                        }

                                                    }
                                                }
                                            }
                                            </div>
                                        </div>
                                    }
                                    
                                    @if (PramotionalList != null && PramotionalList.Count > 0)
                                    {
                                        string chevronClass = true ? "glyphicon-chevron-down" : "glyphicon-chevron-up";
                                        <div class="panel-heading panel-heading-color kill-padding" role="tab" id="tobe-panel-Promo" data-toggle="collapse" data-parent="#accordion" href="#collapsePromo" aria-expanded="true" aria-controls="collapsePromo">
                                            <h4 class="panel-title" style="padding: 10px 15px">
                                                Promotional Components
                                                @*<i class="indicator glyphicon @chevronClass pull-right"></i>*@
                                            </h4>
                                        </div>
                                        <div id="collapsePromo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="tobe-panel-Promo">
                                            <div class="panel-body">
                                                @foreach (NewComponents PC in PramotionalList)
                                                {
                                                    if (sessionRegType == (int)MobileRegType.DevicePlan)
                                                    {
                                                        if (PC.ComponentGroupId == "13" && PC.Type.ToUpper() == "CR")
                                                        {
                                                            continue;
                                                        }
                                                    }
                                                    if (!string.IsNullOrEmpty(PC.NewComponentName))
                                                    {
                                                        bool status = PC.IsChecked;
                                                        bool ReassignIsmandatory = PC.ReassignIsmandatory;

                                                        var groupId = PC.ComponentGroupId;
                                                        var kenanCode = ""; //= @Model.SubscribedComponents[p].compList[i].componentId;
                                                        var vasName = ""; //= @Model.SubscribedComponents[p].compList[i].componentDesc + " (RM " + Model.SubscribedComponents[p].compList[i].Price + ")";
                                                        var pbpcId = 0; //= @Model.SubscribedComponents[p].compList[i].lnkpgmbdlpkgcompId;
                                                        var price = 0;
                                                        var compId = 0;
                                                        var value = PC.NewComponentId + "_" + PC.NewComponentKenanCode;
                                                        var isDefault = PC.isDefault;

                                                        if (ReassignIsmandatory == true)
                                                        {
                                                            <ul class="col-sm-12 col-xs-12 tobe-plan-list kill-padding">
                                                                <li class="col-sm-12 col-xs-12 tobe-plan-details selected-vas mandatory-vas" data-groupID="@PC.ComponentGroupId" data-autoselect="autoselect" data-isDefault="@isDefault" value="@value" id="@PC.NewPackageId" name="chkbxComponent" data-compid-kenan="@value" onclick="noMultipleSelection(this);">
                                                                        <h2>@PC.NewComponentName</h2>
                                                                </li>
                                                            </ul>
                                                        }
                                                        else if (Session["ContractType"].ToString2().ToUpper() == "TERIMNATEONLY" && PC.NewComponentKenanCode == contractKenancode)
                                                        {  
                                                            <ul class="col-sm-12 col-xs-12 tobe-plan-list kill-padding">
                                                                <li class="col-sm-12 col-xs-12 tobe-plan-details" data-groupID="@PC.ComponentGroupId" data-autoselect="autoselect" data-isDefault="@isDefault" value="@value" id="@PC.NewPackageId" name="chkbxComponent" data-compid-kenan="@value" onclick="noMultipleSelection(this);">
                                                                        <h2>@PC.NewComponentName</h2>
                                                                </li>
                                                            </ul> 
                                                        }
                                                        else if (status == true)
                                                        {
                                                            <ul class="col-sm-12 col-xs-12 tobe-plan-list kill-padding">
                                                                <li class="col-sm-12 col-xs-12 tobe-plan-details selected-vas" data-groupID="@PC.ComponentGroupId" data-autoselect="autoselect" data-isDefault="@isDefault" name="chkbxComponent" value="@value" id="@PC.NewPackageId" name="chkbxComponent" >
                                                                        <h2>@PC.NewComponentName</h2>
                                                                </li>
                                                            </ul>
                                                        }
                                                        else if (!ReferenceEquals(Model.Reassign, null) && !ReferenceEquals(Model.ReassignOPKenanCodes, null) && !ReferenceEquals(Model.ReassignOCKenanCodes, null) && Model.Reassign.Contains(PC.NewPackageKenanCode) && Model.ReassignOPKenanCodes.Contains(PC.NewPackageKenanCode) && Model.ReassignOCKenanCodes.Contains(PC.NewComponentKenanCode))
                                                        {
                                                            <ul class="col-sm-12 col-xs-12 tobe-plan-list kill-padding">
                                                                <li class="col-sm-12 col-xs-12 tobe-plan-details selected-vas" data-groupID="@PC.ComponentGroupId" data-autoselect="autoselect" data-isDefault="@isDefault" name="chkbxComponent" value="@value" id="@PC.NewPackageId" name="chkbxComponent" >
                                                                        <h2>@PC.NewComponentName</h2>
                                                                </li>
                                                            </ul>
                                                        }
                                                        else
                                                        {
                                                            <ul class="col-sm-12 col-xs-12 tobe-plan-list kill-padding">
                                                                <li class="col-sm-12 col-xs-12 tobe-plan-details" data-groupID="@PC.ComponentGroupId" data-autoselect="autoselect" data-isDefault="@isDefault" name="chkbxComponent" value="@value" id="@PC.NewPackageId" name="chkbxComponent" >
                                                                        <h2>@PC.NewComponentName</h2>
                                                                </li>
                                                            </ul>
                                                        }
                                                    }


                                                }
                                            </div>
                                        </div>
                                        
                                    }
                                    @if (OCCmpntList != null && OCCmpntList.Count > 0)
                                    {
                                        OCCmpntList = OCCmpntList.OrderBy(c => c.NewComponentName).ToList();
                                        string chevronClass = true ? "glyphicon-chevron-down" : "glyphicon-chevron-up";
                                        <div class="panel-heading panel-heading-color kill-padding" role="tab" id="tobe-panel-OC" data-toggle="collapse" data-parent="#accordion" href="#collapseOC" aria-expanded="true" aria-controls="collapseOC">
                                            <h4 class="panel-title" style="padding: 10px 15px">
                                                Other Components
                                                @*<i class="indicator glyphicon @chevronClass pull-right"></i>*@
                                            </h4>
                                        </div>
                                        <div id="collapseOC" class="panel-collapse collapse" role="tabpanel" aria-labelledby="tobe-panel-OC">
                                            <div class="panel-body">
                                            @foreach (NewComponents OC in OCCmpntList)
                                            {
                                                List<RestrictedComponent> oldrestrictedcomp = restrictcomps.Where(rc => rc.KenanCode == OC.NewComponentId).ToList();
                                                if (OC.NewComponentName != string.Empty && oldrestrictedcomp.Count == 0)
                                                {
                                                    if (OC.ComponentGroupId == "13" && OC.Type.ToUpper() == "CR")
                                                    {
                                                        continue;
                                                    }
                                                    bool status = OC.IsChecked;
                                                    bool ReassignIsmandatory = OC.ReassignIsmandatory;
                                                    var value = OC.NewComponentId + "_" + OC.NewComponentKenanCode;

                                                    if (ReassignIsmandatory == true)
                                                    {
                                                        <ul class="col-sm-12 col-xs-12 tobe-plan-list kill-padding">
                                                            <li class="col-sm-12 col-xs-12 tobe-plan-details selected-vas mandatory-vas" data-groupID="@OC.ComponentGroupId" value="@value" id="@OC.NewPackageKenanCode" name="chkbxComponent">
                                                                    <h2>@OC.NewComponentName</h2>
                                                            </li>
                                                        </ul>
                                                    }
                                                    else if (Session["ContractType"].ToString2().ToUpper() == "TERIMNATEONLY" && OC.NewComponentKenanCode == contractKenancode)
                                                    {                                                
                                                        <ul class="col-sm-12 col-xs-12 tobe-plan-list kill-padding">
                                                            <li class="col-sm-12 col-xs-12 tobe-plan-details" data-groupID="@OC.ComponentGroupId" value="@value" id="@OC.NewPackageKenanCode" name="chkbxComponent">
                                                                    <h2>@OC.NewComponentName</h2>
                                                            </li>
                                                        </ul>
                                                    }
                                                    else if (status == true)
                                                    {
                                                        <ul class="col-sm-12 col-xs-12 tobe-plan-list kill-padding">
                                                            <li class="col-sm-12 col-xs-12 tobe-plan-details selected-vas" data-groupID="@OC.ComponentGroupId" value="@value" id="@OC.NewPackageKenanCode" name="chkbxComponent">
                                                                    <h2>@OC.NewComponentName</h2>
                                                            </li>
                                                        </ul>                                              
                                                    }
                                                    else
                                                    {                                                
                                                        <ul class="col-sm-12 col-xs-12 tobe-plan-list kill-padding">
                                                            <li class="col-sm-12 col-xs-12 tobe-plan-details" data-groupID="@OC.ComponentGroupId" value="@value" id="@OC.NewPackageKenanCode" name="chkbxComponent">
                                                                    <h2>@OC.NewComponentName</h2>
                                                            </li>
                                                        </ul> 
                                                    }
                                                }
                                            }
                                            </div>
                                        </div>

                                    }
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-3 kill-padding" style="width:28%">
                @{
                                    viewBagValue.Add("FxInternalCheckMessage", ViewBag.FxInternalCheckMessage == null ? "" : ViewBag.FxInternalCheckMessage);
                                    viewBagValue.Add("SearchBy", ViewBag.SearchBy == null ? "" : ViewBag.SearchBy);
                                    viewBagValue.Add("SearchValue", ViewBag.SearchValue == null ? "" : ViewBag.SearchValue);
                                    viewBagValue.Add("GSTMark", ViewBag.GSTMark);
                                    viewBagValue.Add("ControllerName", "CRP");
                                    Html.RenderPartial("_OrderSummaryNew", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"], viewBagValue);
                                    viewBagValue.Add("ApprovalType", "DF");
                                    viewBagValue.Add("FromCustomerSearch", "False");
                                    viewBagValue.Add("ModalID", "df-approval-popup");
                                    
                    }
                </div>
                
                                    @Html.Partial("_SpvApproval", viewBagValue)
                                    @Html.Partial("_VASPromptDeselect", viewBagValue)
            </div> 
            <div class="row">
            <div class="col-sm-12 process-btn">
          <div class="container-fluid">
            <div class="row">
                  
                    <div id="back" class="col-sm-1">
                        <div class="btn isell-btn" id="btnBack" onclick="BackAction();" >< Back</div>
                    </div>
                    <div id="cancel" class="col-sm-9">
                        <div class="btn isell-btn" data-toggle="modal" data-target="#cancel-pop" id="btnCancel" >< Cancel</div>
                    </div>                       
                    <div class="col-sm-2">
                        <div class="btn isell-next" id="btnContinue" >Next <span>></span></div>
                    </div>
                </div>
            </div>
            </div> 
            </div>
        }
    </div>
</div>

<div class="modal fade" id="PenaltyWindow" tabindex="-1" role="dialog" aria-labelledby="PenaltyWindow" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="col-sm-12 col-xs-12 modal-content">
            <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size:19px" ><span aria-hidden="true">Close</span></button>
                <h4 class="modal-title pega-header">Early Termination Fee</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 col-xs-12" style="font-size : 18px" id="dvPenaltyValue"></div>
            </div>
            <div class="col-sm-12 col-xs-12 modal-footer">
                <div class="btn isell-btn" style="width: 100px" id="btnSavePenalty" >Yes</div>  
                <div class="btn isell-btn" style="width: 100px; float:right" id="btnCancelPenalty" >No</div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CRPWarningSharingSupp" tabindex="-1" role="dialog" aria-labelledby="plan-details" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="col-sm-12 col-xs-12 modal-content">
            <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size:19px" ><span aria-hidden="true">Close</span></button>*@
                <h4 class="modal-title pega-header">Sharing Supplementary Detected</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 col-xs-12" style="font-size : 18px">@Model.ShareSuppErrorMessage</div>
            </div>
            <div class="col-sm-12 col-xs-12 modal-footer">
                <div class="btn isell-btn" style="width: 100px" id="btnCRP" >CRP</div>  
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdp-popup" tabindex="-1" role="dialog" aria-labelledby="plan-details" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="col-sm-12 col-xs-12 modal-content">
            <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size:19px" ><span aria-hidden="true">Close</span></button>*@
                <h4 class="modal-title pega-header">Maxis Device Protection (MDP)</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 col-xs-12" style="font-size : 18px">Maxis Device Protection will be updated with the new device details</div>
            </div>
            <div class="col-sm-12 col-xs-12 modal-footer">
                <div class="btn isell-btn" style="width: 100px" id="btnYes" >Proceed</div>  
                <div class="btn isell-btn" style="width: 120px; float:right" id="btnNo" >Unsubscribe</div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

<script type="text/javascript" language="javascript">
    if ('@(dataGroupIds)' != '') {

        $('#GroupIds').val('@(dataGroupIds)');

    }
    var datacompcount = 0;

    $(document).ready(function() {

        $('#mdp_decision').val('@MDP_decision');
        $('#hasMDP').val('@hasMDP');

        if ('@preSelectedPlan' == 'True') {
            SelectedOfferVAS('@SelectedbtnConVASID', '@SelectedofferId', '@SelectedofferPrice', '@SelectedofferUOMCode');
        }

        if ('' != '@shareSuppErrorMsg') {
            $('#CRPWarningSharingSupp').modal('show');
        }

        if ('@hasMDP' == 'True' && '@modelStateErrors' == 0 && '@dfException' == 'False' && '@fromBack' == 'False') {
                $('#mdp-popup').modal('show');
            }

        $('#btnCRP').on('click', function(e) {
            e.preventDefault();
            window.location = '@(Url.Action("Accounts", "CRP", new RouteValueDictionary(new { type = 24 })))';
        });

        $('[id$="plan-accordion"]').on('hidden.bs.collapse', toggleChevron);
        $('[id$="plan-accordion"]').on('shown.bs.collapse', toggleChevron);   

        var datacompcount = 0;
        var listitems = $("[data-autoselect='autoselect']");
        for (var i = 0; i < listitems.length; i++) {
            var isdefault = $(listitems[i]).attr('data-isDefault')
            if (isdefault == '1') {
                //$(listitems[i]).attr('checked', 'checked');
                if ( !$(listitems[i]).hasClass('selected-vas') ){
                    $(listitems[i]).addClass('selected-vas');    
                }
                noMultipleSelection(listitems[i]);
            }
        }

        if ('@_checkedDC' == "True") {
            datacompcount++
        }

        var listhiddenitems = $("[data-ishidden='True']");
        for (var i = 0; i < listhiddenitems.length; i++) {
            var rowId = $(listhiddenitems[i]).attr('data-compid-kenan');
            if (rowId != null) $('#tr_' + rowId).addClass('hidden');
        }

        //debugger;
        var DCList = $('[data-isDC^=dc_]');
        var DCListCount = DCList.length;
        var DCComp = DCList.attr('data-isDC');
        var DCCompIDs = '@(dcGroupIDs)';
        if ('@dcGroupIDs' != '') {
            var DCSplit = DCCompIDs.split(',');
            var dc0 = DCSplit.length;
            for (var x = 0; x < DCSplit.length - 1; x++) {
                var checkedCount = 0;
                var DClistitems = $("[data-isDC=" + DCSplit[x] + "]");
                for (var i = 0; i < DClistitems.length; i++) {
                    var isChecked = $(DClistitems[i]).attr('data-isChecked');
                    if (isChecked == "False") {
                        $(DClistitems[i]).removeClass('selected-vas');
                        checkedCount++;
                    }
                    if (isChecked == "True") {
                        //debugger;
                        $(DClistitems[i]).addClass('selected-vas');
                    }
                }

                if (checkedCount == DClistitems.length) {
                    for (var i = 0; i < DClistitems.length; i++) {
                        var isdefault = $(DClistitems[i]).attr('data-isDefault')
                        if (isdefault == '1') {
                            $(DClistitems[i]).addClass('selected-vas');
                            //noMultipleSelection(listitems[i]);
                        }
                    }
                }
            }
        }

        if ('@deviceFinancingFlag' == 'True') {
            $('#df-exceptional').attr('checked', true);
            $('#df-exceptional').attr('disabled', true);
        }

        $('#df-exceptional').click(function () {
            if ($('#df-exceptional').is(':checked')) {
                $('#df-approval-popup').modal('show');
            }
        });

        getSelectedKenanCodeVasIDs();

        //RST GST
        if ('@(tradeUpAmount)' != '') {
            $('#ValueAddedServicesVM_hdnTradeUpAmount').val('@(Session["TradeUpAmount"].ToString2())');
        }
        //End RST
    });

    $('#btnContinue').click(function() {
        $('#TabNumber').val(4);
        fnSaveSelectedComponents(this)
    });

    $(function () {

            $('li[name=chkbxComponent]').click(function () {
            //debugger;
                $('li[name=chkbxComponent]').removeClass('samegroup');

                if ($(this).hasClass('selected-vas')) {

                    var SelectedFromGroup = '';
                    var selectedValue = $(this).attr('value');

                    var className = $.trim($(this).attr("data-groupID"));
                    if (className != '') {
                        $('.selected-vas').each(function () {
                            if ($(this).attr("data-groupID") == className) {
                                if (selectedValue != $(this).attr('value')) {
                                    $(this).removeClass('selected-vas');
                                }
                                else {
                                    SelectedFromGroup += $(this).first().next("label").text() + '\\n';
                                }
                                $(this).addClass('samegroup');
                            }

                        });

                    }
                }else
                {
                    checkDisabledVAS_CRP($(this).attr('value'));
                }
                getSelectedKenanCodeVasIDs();
                

                return true;

            });

        });

    function fnSaveSelectedComponents() {

        var sKenanCodes = "";
        var sCompIds = "";
        var sValue = ""

        $('li[name=chkbxComponent]').each(function() {
            if ($(this).hasClass('selected-vas') || $(this).hasClass('mandatory-vas') ) {
                sValue = $(this).attr('value');
                var Ids = sValue.split('_');
                sCompIds += Ids[0] + ",";
                sKenanCodes += Ids[1] + ",";
            }
        });

        if (sCompIds.length > 0) {
            sCompIds = sCompIds.substring(0, sCompIds.length - 1);
        }

        if (sKenanCodes.length > 0) {
            sKenanCodes = sKenanCodes.substring(0, sKenanCodes.length - 1);
        }
        $('#SelectedCompIds').val(sCompIds);
        $('#SelectedKenanCodes').val(sKenanCodes);
        var List = '@(OCList)';
        var result = 0;
        if ('@(simtype)' == 'True' && '@Session["AccountType"].ToString2()' != 'S') {
            //alert('@Session["AccountType"].ToString2()')
            var dataCompids = '@(dataCompIds)'.split(',');
            var things = dataCompids;
            for (var i = 0; i < things.length - 1; i++) {
                //Do things with things[i]
                result = checkDataComponent(things[i]);
                if (result)
                    break;
            }
            if (!result && $('#TabNumber').val() == '4') {

                $('#Plan_Error').html("Please select more than or equal to 2GB data component");
                //$("html, body").animate({ scrollTop: 0 }, "slow");
                $("html, body").animate({ scrollTop: $('#line-type').offset().top }, "fast");
                return false;
            } else {
                $("#frmSelectComponent").submit();
            }
        } else {
            checkDataContractPenalty(sKenanCodes, List, true);
            //return true;
        }
    }


    function noMultipleSelection(chk) {
        var arrMutualExclusive = @(mutualExclusiveList);
        var mutualExclusiveComp = "";
        var objGroupId1 = $(chk).attr("data-groupID");
        var objGroupId = objGroupId1.match(/\d/g);
        objGroupId = (objGroupId == null ? "" : objGroupId.join(""));

        var compIdKenan = $(chk).attr("data-compid-kenan");

        if ($.isArray(arrMutualExclusive)) {
            if (arrMutualExclusive.indexOf(compIdKenan) >= 0) {
                //mutual exclusive has to contains 2 records only
                arrMutualExclusive.splice(arrMutualExclusive.indexOf(compIdKenan), 1);
                mutualExclusiveComp = arrMutualExclusive[0];
                if ($(chk).hasClass('selected-vas')) {
                    $('li[data-compid-kenan="' + mutualExclusiveComp + '"]').removeClass('selected-vas');
                    $(chk).addClass('selected-vas');
                } else {
                    $('li[data-compid-kenan="' + mutualExclusiveComp + '"]').addClass('selected-vas');
                    $(chk).removeClass('selected-vas');
                }
                return;
            }
        }

        if ($(chk).hasClass('selected-vas')) {
	        // datacompcount++;
	        if (objGroupId != 0) {
		        if ($('#GroupIds').val().indexOf(objGroupId) != -1) {
			        $('#Plan_Error').html("Please select one component from each group");
			        $("html, body").animate({ scrollTop: $('#line-type').offset().top }, "fast");
			        $(chk).removeClass('selected-vas')
			        return;
		        }
	        }
	        if (objGroupId != '0') {
		        $('#GroupIds').val($('#GroupIds').val() + "," + objGroupId + ",");
		        return true;
	        }
        } else {
	        if (objGroupId != '0') {
		        var modGroupIds = $('#GroupIds').val().toString().replace(objGroupId, "");
		        $('#GroupIds').val(modGroupIds);
	        }
        }

    }

    function checkDataComponent(objvasID) {
        var count = 0;
        var mandatoryDataKenanCodes = $('#SelectedKenanCodes').val();
        var things = mandatoryDataKenanCodes.split(',');
        for (var i = 0; i < things.length; i++) {
            if (things[i] == objvasID) {
                count++;
            }
        }
        if (count > 0) {
            return true;
        } else {
            return false;
        }
    }

    function checkDataContractPenalty(inputAddVas, inputRemoveVas, inputChangeFlag) {
        var url = '@(Url.Content("~/CRP/retrievePenalty"))';
        $.post(url, {
                addedVas: inputAddVas,
                removedVas: inputRemoveVas,
                changeFlag: inputChangeFlag
            },
            function(data) {
                if (data != null && data.toString() != '0.00') {
                    $('#dvPenaltyValue').html('The Early Termination Fee amount is RM ' + data + '. Do you want to continue?<br/><br/><span style="color:red">Note:Early Termination Fee amount indicated is an estimated amount. Actual amount will be calculated upon bill cycle</span>');
                    $('#PenaltyWindow').modal('show');
                    return false;
                } else {
                    //document.forms["frmSelectComponents"].submit();
                    //return true;
                    $("#btnSavePenalty").click();
                }
            });

    }
    $('#btnSavePenalty').click(function() {
        $("#frmSelectComponent").submit();
    });

    $('#btnCancelPenalty').click(function() {
        $('#PenaltyWindow').modal('hide');
    });

    $('#btnYes').click(function() {
        $('#mdp_decision').val("Yes");

        debugger;

        if ($('#' + '@(MDPpackageId)').hasClass('selected-vas') == false) {
            $('#' + '@(MDPpackageId)').addClass('selected-vas');
        }

        if ('@deviceFinancingFlag' == 'True') {
            $('[value=' + '@(dfUpgradeFeeVas)' + ']').removeClass('selected-vas');
        }

        getSelectedKenanCodeVasIDs();
        $('#mdp-popup').modal('hide');
    });

    $('#btnNo').click(function() {
        debugger;
        $('#mdp_decision').val("No");
        $('#' + '@(MDPpackageId)').removeClass('selected-vas');
        getSelectedKenanCodeVasIDs();
        $('#mdp-popup').modal('hide');
    });

    function toggleChevron(e) {
        $(e.target)
        .prev('#show-plan .panel-heading')
        .find('i.indicator')
        .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
    }

    function BackAction(){
        if ('@isDeviceReqd' == 'True'){
        // 10 = acc page, 11 = device page
            $('#TabNumber').val(10);
        }else
        {
            $('#TabNumber').val(2);
        }
        $('#frmSelectComponent').submit();
    }

    function getSelectedKenanCodeVasIDs(){    
        var selectedKenanCodes = '';
        var selectedVasIds = '';
        var selectedGroupIds = '';
        var selectedValues = $('.selected-vas, .mandatory-vas').map(function() {
            if ($(this).attr('value') != undefined && $(this).attr('value') != ''){
                return $(this).attr('value');
            }
        }).get().join(',');

        var selectedGroupId = $('.selected-vas, .mandatory-vas').map(function() {
            if ($(this).attr('data-groupid') != undefined && $(this).attr('data-groupid') != ''){
                return $(this).attr('data-groupid');
            }
        }).get().join(',');

        $.each(selectedValues.split(','), function (index, value) {
            selectedVasIds += value.split('_')[0] + ',';
            selectedKenanCodes += value.split('_')[1] + ',';
        });

        $.each(selectedGroupId.split(','), function (index, value) {
            selectedGroupIds += value.split('_')[0] + ',';
        });
        
        $('#ValueAddedServicesVM_SelectedKenanCodes').val(selectedKenanCodes);
        $('#ValueAddedServicesVM_SelectedVasIDs').val(selectedVasIds);
        $('#SelectedKenanCodes').val(selectedKenanCodes);
        $('#SelectedCompIds').val(selectedVasIds);
        $('#GroupIds').val(selectedGroupIds);
    }

    function SelectedOfferVAS(btnConVASID, vasID, price, uomCode) {
        $('#ValueAddedServicesVM_OfferId').val(vasID);
        $('#ValueAddedServicesVM_price').val(price);
        $('#ValueAddedServicesVM_uomCode').val(uomCode);
        $('#OfferName').val($('#' + btnConVASID).text().trim());

        var curKenanCode = btnConVASID.toString().split('_')[2];
        $('#hdnContractkenanVASID').val(curKenanCode);
        //***Need to recheck below condition
        //debugger;
        if ($('#ValueAddedServicesVM_SelectedContractID').val() == vasID) {
            $('#ValueAddedServicesVM_SelectedContractID').val('');
            $('li[id^="btnConVAS_"]').removeClass("selected-vas");
            $('#hdnContractAssociatedVASID').val('');
        } //con1 if
        else {
            var url = '@(Url.Content("~/CRP/GetContractsForOffer"))';
            $.post(url, { OfferKenanCodes: curKenanCode.toString(), offerid: vasID.toString() },
                function (data) {
                    if (data.toString() != "") {
                        $('#ValueAddedServicesVM_SelectedContractID').val(data);
                        $('li[id^="btnConVAS_"]').removeClass("selected-vas");
                        $('#' + btnConVASID).addClass('selected-vas');
                        $('#hdnContractAssociatedVASID').val(data);
                        checkOfferAgainstVAS_CRP(btnConVASID);
                    }
                    else {
                        $('#Plan_Error').html("Contract does not exists for this Offer");
                        //$("html, body").animate({ scrollTop: 0 }, "slow");
                        $("html, body").animate({ scrollTop: $('#line-type').offset().top }, "fast");
                        return;
                    }
                });
            }
            
//            if ('@oneTimeFeeSelected' == 'False' && '@dfValidation' == 'True') {
//                checkDisabledOffer_CRP(btnConVASID);
//            }

            $('#ValueAddedServicesVM_SelectedContractName').val($('#' + btnConVASID).text());

    }

</script>

}
