﻿@using System.Configuration;
@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.CommonEnum;
@using System.Web.UI.WebControls;
@model Online.Registration.Web.ViewModels.InventoryDashBoardVM
@{
    ViewBag.Title = "Device Availability";
    Layout = "~/Views/Shared/_NewLayout.cshtml";

    var interval = ConfigurationManager.AppSettings["TimerInterval"].ToString();
    bool isDealer = Session["IsDealer"].ToBool();
    List<SelectListItem> listOfAvailableBrand = Util.GetList(RefType.Brand, defaultValue: string.Empty, defaultText: "All Brand");
    List<SelectListItem> listOfCapacity = Util.GetList(RefType.Capacity, defaultValue: string.Empty, defaultText: "All");
    Dictionary<string, int> lowestDeviceContractPrice = (Dictionary<string, int>)Session["DeviceLowestContractPrice"];
    List<int> modelList = new List<int>();
    string availabletype = string.Empty;

    //19052015 - Enhance to keep the query filter in UI - Lus
    string brandSelectedName = !string.IsNullOrEmpty(Model.BrandSelected) ? Model.BrandSelected : "Select a brand";
    string modelSelectedName = !string.IsNullOrEmpty(Model.ModelSelected) ? Model.ModelSelected : "All model";
    string CapacitySelectedName = !string.IsNullOrEmpty(Model.CapacitySelected) ? Model.CapacitySelected : "All";
    string regionStoreName = !string.IsNullOrEmpty(Model.regionStoreName) ? Model.regionStoreName : "Select a store";

    int inputBrandSelected = Model.inputBrandSelected;
    int inputCapacitySelected = Model.inputCapacitySelected;
    int inputDeviceTypeSelected = Model.inputDeviceTypeSelected;
    string inputModelSelected = Model.inputModelSelected;

}


@using (Html.BeginForm("DeviceAvailability", "InventoryDashboard", FormMethod.Post, new { id = "frmInventoryDashboard", @class = "overlayonsubmit", processmsg = "Loading" }))
{    
    @Html.Hidden("StoreNameSelected");
    @Html.Hidden("deviceTypeSelected");
                                      // filter part
    @Html.Hidden("brandFilter");
    @Html.Hidden("modelFilter");
    @Html.Hidden("capacityFilter");
    @Html.Hidden("submitType");
    @Html.Hidden("availableChecked");
    @Html.Hidden("limitedStockChecked");
    @Html.Hidden("sellingFastChecked");
    @Html.Hidden("outOfStockChecked");
    @Html.HiddenFor(m => m.regionStoreName);
                                    
             <div class="container ipad-container">
<div class="isell-base">
	<div class="row">
		<div class="col-sm-12">
			<p class="font-24">Device Availability</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane active" id="principle"><div class="row">
					<div class="col-sm-3">
						<div class="row device-type">
							<div class="col-sm-12">
								<h5>Filter Options</h5>
								<p>Device type</p>
                                <ul class="nav nav-tabs" role="tablist" id="device">
                                    <li class="active"><a href="#phone" role="tab" data-toggle="tab" onclick="SetDeviceType(1)">
                                        <div class="phone-type phone-type-selected" id="the-phone"></div>
                                    </a></li>
                                    <li><a href="#tablet" role="tab" data-toggle="tab" onclick="SetDeviceType(2)">
                                        <div class="tablet" id="the-tablet"></div>
                                    </a></li>
                                </ul>
								<div class="row">
									<div class="col-sm-12">
										<!-- Tab panes -->
										<!-- filter by brand -->
										<p>Brand</p>
										<div class="input-group drop-down">
											<!-- dropdown select brand -->
											<div class="input-group-btn">
												<button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby filter-device" type="button"><span id="btnBrandSelected">@brandSelectedName</span><span class="drop-arrow"></span></button>
												<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    @{
                                           foreach (var brand in listOfAvailableBrand)
                                           { 
                                                            <li><a onclick="SetDropdown('btnBrandSelected', '@brand.Value', '@brand.Text'); return false" href="">@brand.Text</a></li>
                                           }
                                                    }    
												</ul>
											</div>
										</div>
										<!-- dropdown select model -->
										<div class="input-group-btn  drop-down">
											<button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby filter-device model disable-select" type="button" id="btnModel"><span id="btnModelSelected">@modelSelectedName</span><span id="selectModelDDL" class="drop-arrow-disable"></span></button>
											<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="modelUL" style="top:initial">
												@*<li><a href="#">xx</a></li>*@
											</ul>
										</div>
										<!-- filter by capacity -->
										<p>Capacity</p>
										<div class="input-group drop-down">
											<!-- dropdown select capacity -->
											<div class="input-group-btn">
												<button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby filter-device" type="button"><span id="all-capacity">@CapacitySelectedName</span><span class="drop-arrow"></span></button>
												<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
													@{
                                           foreach (var capacity in listOfCapacity)
                                           {
                                               string btnCapacity = "CP_" + capacity.Value;
                                                            <li><a onclick="SetDropdown('all-capacity', '@capacity.Value', '@capacity.Text'); return false" href="" id="@btnCapacity">@capacity.Text</a></li>
                                           }
                                                    }    
												</ul>
											</div>
										</div>
										<!-- check stock -->
										<p>In-stock status</p>
										<!-- dropdown select base on in-stock --> 
										<ul class="col-sm-12 kill-padding">
											<li>
                                                <input id="type-stock-1" class="stock-checkbox" type="checkbox" />
												<label for="type-stock-1" name="stock-lbl-1" class="stock-label available">Available <span>(7 and above units)</span></label>
                                            </li>
											<li>
                                                <input id="type-stock-2" class="stock-checkbox" type="checkbox" />
												<label for="type-stock-2" name="stock-lbl-2" class="stock-label selling-fast">Selling Fast <span>(5 to 7 units)</span></label>
											</li>
											<li>
                                               <input id="type-stock-3" class="stock-checkbox" type="checkbox" />
											   <label for="type-stock-3" name="stock-lbl-3" class="stock-label limited">Limited <span>(1 to 4 units)</span></label>
											</li>
											<li>
                                                <input id="type-stock-4" class="stock-checkbox" type="checkbox" />
												<label for="type-stock-4" name="stock-lbl-4" class="stock-label">Show out of stock <span>(0 unit)</span></label>
                                            </li>
										</ul>
										<!-- filter by store -->
                                        @{
                                            if (!Util.SessionAccess.User.isDealer)
                                            {
                                            <p>Store</p>
										    <div class="input-group drop-down">
											    <!-- dropdown select price -->
											    <div class="input-group-btn">
												    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby filter-device" type="button"><span id="storeName">@regionStoreName</span><span class="drop-arrow"></span></button>
												    <ul class="dropdown-menu paddingLeft" role="menu" aria-labelledby="dLabel" style="max-height : 250px; overflow-y: auto">
                                                        @{
                                                List<string> regionName = new List<string>();
                                                foreach (var storeRegion in Model.regionStores)
                                                {
                                                    string btnStore = "Store_" + storeRegion.storeID;
                                                    if (!regionName.Contains(storeRegion.regionName))
                                                    {
                                                        regionName.Add(storeRegion.regionName);
                                                                    
                                                                                <li>@storeRegion.regionName</li>
                                                    }
                                                                        <li><a onclick="SetDropdown('storeName', '@storeRegion.storeID', '@storeRegion.storeName'); return false"href="">@storeRegion.storeName</a></li>
                                                }
                                                          }
												    </ul>
											    </div>
										    </div>
                                            }
                                         }
										
										<!-- filter button -->
										<div class="col-sm-12">
                                            <div class="btn filter-btn2" id="btnFilter" >Filter <span>&gt;</span></div>
										</div>
									</div>
								</div>
							</div>
						</div>	</div>
						<div class="col-sm-9 border-top" id="show-device">
							<ul class="device-list" id="phone">
                            @{
                                            int currIndex = 0;
                                            if (Model.PhoneVM != null)
                                            {
                                                foreach (var modelImage in Model.PhoneVM.ModelImages)
                                                {
                                                    string curDeviceName = Util.GetNameByID(RefType.Model, modelImage.BrandArticle.ModelID);
                                                    Int32 rrpPrice = (int)modelImage.RetailPrice;

                                                    if (!modelList.Contains(modelImage.BrandArticle.ModelID))
                                                    {
                                                        modelList.Add(modelImage.BrandArticle.ModelID);
                                                        var articleId = modelImage.BrandArticle.ArticleID;
                                                        var modelId = modelImage.BrandArticle.ModelID;
                                                        var btnModelImageID = "btnModelImageID_" + articleId;
                                                        int stock_qty = modelImage.Count;
                                            <li class="devices_av" id="@stock_qty">
									        <div class="device-stock_av">
										    <div class="row">
											    <div class="col-sm-12">
												    <img height="176px" alt="@curDeviceName" src="@Url.Content(modelImage.BrandArticle.ImagePath)" />
											    </div>
											    <div class="col-sm-10 phone-details">
												    <h2>@curDeviceName</h2>
											    </div>
                                                <div class="col-sm-2 kill-padding">
												    <button data-url='@Url.Content(string.Format("~/Registration/DevicePlanDetails/?articleId={0}&modelId={1}", @articleId, @modelId))' data-target="#ViewDeviceDetails" data-toggle="modal" class="btn-info btn-info-device-detail">
                                                    <span>i</span> 
                                                    </button>
											    </div>
											    <div class="col-sm-12 color-stock">
                                                @{
                                                        string stockStatus = string.Empty;
                                                        foreach (var modelImages in Model.PhoneVM.ModelImages.Where(a => a.ModelCode == modelImage.ModelCode))
                                                        {
                                                            if (modelImages.Count <= 0)
                                                            {
                                                                //stockStatus = Constants.NOT_AVAILABLE;
                                                                stockStatus = Constants.INV_DASH_OOS;//Anthony: [#2456] - Change from "Not Available" to "Out of Stock"
                                                             <p id="@modelImages.Count">@modelImages.ColorCode - <span class="out-of-stock">@stockStatus</span></p>
                                                            }
                                                            else if (modelImages.Count >= 1 && modelImages.Count <= 4)
                                                            {
                                                                stockStatus = Constants.LIMITED_STOCK;
                                                             <p id="@modelImages.Count">@modelImages.ColorCode - <span class="limited">@stockStatus</span></p>
                                                            }
                                                            else if (modelImages.Count >= 5 && modelImages.Count <= 7)
                                                            {
                                                                stockStatus = Constants.SELLING_FAST;
                                                             <p id="@modelImages.Count">@modelImages.ColorCode - <span class="selling-fast">@stockStatus</span></p>
                                                            }
                                                            else if (modelImages.Count > 7)
                                                            {
                                                                stockStatus = Constants.AVAILABLE;
                                                            <p id="@modelImages.Count">@modelImages.ColorCode - <span class="available">@stockStatus</span></p>
                                                            }
                                                        }
                                                 }

												    
											    </div>
											    <div class="col-sm-10">
												    <p class="rrp">RRP RM @rrpPrice</p>
											    </div>
										    </div>
                                        </div>
								            </li>
                                                    }
                                                }
                                            }
                                            if (Model.PhoneVM.ModelImages.Count == 0)
                                            {
                                                <div class="device-nan"><b>Product Not Found</b></div>
                                            } 
                            }									
							</ul>
                                                    </div>
												</div>
											</div>
										</div>
									</div>
								</div>            
                            </div>
						</div>
    
    <div class="modal fade" id="ViewDeviceDetails" tabindex="-1" role="dialog" aria-labelledby="ViewDeviceDetails"
    aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span class="close-btn">Close</span></button>
            </div>
            <div class="modal-body ViewDeviceDetails">
                <div class="ViewDeviceDetails-list" style="overflow: auto; -webkit-overflow-scrolling: touch;">
                    <div id="deviceIframe"></div>
                </div>
            </div>
        </div>
    </div>
</div>

}

@section Scripts{
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/js/jquery.colorbox.js")" ></script>

    <script type="text/javascript">
        $(document).ready(function () {
        
            $('a#popup-message').colorbox({ iframe: true, innerWidth: 1020, innerHeight: 500 });

            $('#capacityFilterUL li a').click(function (e) {
                e.preventDefault();
                $('#all-capacity').text($(this).text());
            });
                        
            //21052015 - Use cookie to retain stock checkbox after refresh page - Lus
            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for(var i=0; i<ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0)==' ') c = c.substring(1);
                    if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
                }
                return "";
            }

            var stock1 = getCookie("availablestock");
            document.cookie = "availablestock=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
            var stock2 = getCookie("sellingfaststock");
            document.cookie = "sellingfaststock=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
            var stock3 = getCookie("limitedstock");
            document.cookie = "limitedstock=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
            var stock4 =getCookie("outofstock");
            document.cookie = "outofstock=; expires=Thu, 01 Jan 1970 00:00:00 UTC";

            if(stock1 != null && stock1 != "")
            {
                if(stock1 == "false")
                {
                    $('#type-stock-1').removeAttr('checked');
                }
                else
                {
                    $('#type-stock-1').prop( 'checked', true );
                }
            }
            else{
                $('#type-stock-1').prop('checked', true);
            }

            if(stock2 != null && stock2 != "")
            {
                if(stock2 == "false")
                {
                    $('#type-stock-2').removeAttr('checked');
                }
                else
                {
                    $('#type-stock-2').prop( 'checked', true );
                }
            }
            else{
                $('#type-stock-2').prop('checked', true);
            }

            if(stock3 != null && stock3 != "")
            {
                if(stock3 == "false")
                {
                    $('#type-stock-3').removeAttr('checked');
                }
                else
                {
                    $('#type-stock-3').prop( 'checked', true );
                }
            }
            else{
                $('#type-stock-3').prop('checked', true);
            }
//            debugger;
            if(stock4 != null && stock4 != "")
            {
                if(stock4 == "false")
                {
                    $('#type-stock-4').removeAttr('checked');
                }
                else
                {
                    $('#type-stock-4').prop( 'checked', true );
                }
            }
            else{
                $('#type-stock-4').removeAttr('checked');
            }

            $('#deviceTypeSelected').val(1); // start with SmartPhone

            $('#btnModel').attr('disabled', true);

            $('.btn-info-device-detail').click(function (e) {
                e.preventDefault();
                $('#deviceIframe').html('<iframe src="' + $(this).data('url') + ' "width="840" height="567"></iframe>');
            });
            var storeName = $('#regionStoreName').val();
            if (storeName != null && storeName != '') {
                $('#storeName').text(storeName);
            }

	        $('#StoreNameSelected').val(@(Model.OrganizationSelected));
	        $('#storeName').val(@(Model.OrganizationSelected));

            if ('@inputBrandSelected' != '0') {
                $('#selectModelDDL').removeClass().addClass('drop-arrow');
                $('#btnModel').removeClass('disable-select');
                getModelName('@inputBrandSelected');
            }

            retainFilterValue();
           
//            var showOutOfStock = $('#type-stock-4').is(":checked");
//            $('#phone li').each(function (index) {
//            debugger;
//                var currentID = $(this).attr('id'),
//                    showDevice = (parseInt(currentID) <= 0);
//                $(this).toggle(showDevice == showOutOfStock);
//            });
        });

        function SetDeviceType(deviceType) {
            // smartphone = 1 ; tablet = 2
            $('#deviceTypeSelected').val(deviceType);
            return false;
        }

        function getModelName(selectedValue) {
            var deviceTypeID = $('#deviceTypeSelected').val();
            if (selectedValue != 0) {
                $.ajax({
                    url: '@Url.Action("GetModelFromBrand", "Registration")',
                    type: 'POST',
                    data: { "brandSelected": selectedValue, "deviceTypeID": deviceTypeID },
                    dataType: 'json',
                    success: function (response) {
                        var items = "";
                        $('#modelUL').html('');
                        $('#btnModel').attr('disabled', false)
                        $('#modelFilter').val('');
                        $.each(response.ModelList, function (i, item) {
                        
                            $('#modelUL').append('<li><a href="" onclick="SetDropdown(\'btnModelSelected\',\'' + item.modelID + '\',\'' + item.modelName + '\');return false">' + item.modelName + '</a></li>');
                        });
                    },
                    error: function (error) {
                    }
                });
            }
        }

        function SetDropdown(dropDownID, value, displayText) {
            $('#' + dropDownID).html(displayText);
            $('#' + dropDownID).val(value);
            if (dropDownID == "btnBrandSelected") {
                getModelName(value);
                $('#btnModelSelected').html('Select a model');
                $('#btnModelSelected').val('');
            }
            SetFilterCriteria(dropDownID, value);

            if (value != '') {
                $('#selectModelDDL').removeClass().addClass('drop-arrow');
                $('#btnModel').removeClass('disable-select');
            } else {
                $('#selectModelDDL').removeClass().addClass('drop-arrow-disable');
                $('#btnModel').addClass('disable-select');
                $('#btnModel').attr('disabled', 'disabled');
            }

            return false;
        }

        function SetFilterCriteria(type, value) {
            if ("btnBrandSelected" == type) {
                $('#brandFilter').val(value);
            }
            if ("btnModelSelected" == type) {
                $('#modelFilter').val(value);
            }
            if ("all-capacity" == type) {
                $('#capacityFilter').val(value);
            }
            if ("storeName" == type) {
                $('#StoreNameSelected').val(value);
            }
            return false;
        }

        $('#btnFilter').click(function () {
            // need mandatory checking ?
            // var brand = $('#brandFilter').val();
            // var model = $('#modelFilter').val();
            // check all stock filter
            
            populateCheckbox();
            var brandID = $('#DeviceOptionVM_SelectedDeviceOption').val();
            var storeName = $('#storeName').val();
            var regionID = $('#RegionSelected').val();

            $('#StoreNameSelected').val(storeName);
            $('#frmInventoryDashboard').submit();

        });


        function checkMandatoryBrandRegionStore(storeName) {
            if ('@(isDealer)' == "False") {
                if (storeName) {
                    alert('Check Store Name');
                    return false;
                }
            }
            return true;
        }

        function populateCheckbox() {
            $('#outOfStockChecked').val($('#type-stock-4').is(":checked"));
            $('#availableChecked').val($('#type-stock-1').is(":checked"));
            $('#limitedStockChecked').val($('#type-stock-3').is(":checked"));
            $('#sellingFastChecked').val($('#type-stock-2').is(":checked"));

            document.cookie = "outofstock" + "=" + $('#type-stock-4').is(":checked");
            document.cookie = "availablestock" + "=" +  $('#type-stock-1').is(":checked");
            document.cookie = "limitedstock" + "=" + $('#type-stock-3').is(":checked");
            document.cookie = "sellingfaststock" + "=" + $('#type-stock-2').is(":checked");
        }

        var checkboxes = $("input[type='checkbox']");
        checkboxes.click(function () {
            var showOutOfStock = $('#type-stock-4').is(":checked");
            var showAvailable = $('#type-stock-1').is(":checked");
            var showLimitedStock = $('#type-stock-3').is(":checked");
            var showSellingFast = $('#type-stock-2').is(":checked");

            if (!checkboxes.is(":checked")) {
                alert("Please select at least 1 filter");
                return false;
            }

        });

        function retainFilterValue()
        {
//        debugger;
            var modelTrimmed = $.trim('@inputModelSelected');
            SetFilterCriteria('btnBrandSelected', $.trim('@inputBrandSelected') );
            SetFilterCriteria('btnModelSelected', modelTrimmed );
            SetFilterCriteria('all-capacity', $.trim('@inputCapacitySelected') );
            
            // 1 phone, 2 tablet
            if ('@inputDeviceTypeSelected' == '2')
            {
                SetDeviceType('@inputDeviceTypeSelected');
                $('#the-tablet').click();
            }
            if ('@inputDeviceTypeSelected' == '1')
            {
                SetDeviceType('@inputDeviceTypeSelected');
                $('#the-phone').click();
            }

        }

        function resetFilter()
        {
            $('#btnBrandSelected').val('');
            $('#btnBrandSelected').html('Select a brand');
            $('#btnModel').val('');
            $('#btnModel').html('All model');
            $('#all-capacity').val('');
            $('#all-capacity').html('All');
            
        }


    </script>
}