﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.DAL.Models;
@using Online.Registration.Admin.Models;

@model UpdateViewComponentModel

@{
    ViewBag.Title = "Edit Component";
    string Code = ViewBag.Code;
    string Message = ViewBag.Message;
    string StackTrace = ViewBag.Strace;
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Edit:</legend>
        @Html.HiddenFor(model => model.Component.ID)
        <table>
            <tr>
                <td>
                    <div style="width: 140px">
                        @Html.LabelFor(model => model.Component.ID)
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Component.ID)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Component.Code)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Component.Code, new { @style = "width:100px" })
                    @Html.ValidationMessageFor(model => model.Component.Code)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Component.Name)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Component.Name, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Component.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Component.Description)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Component.Description, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Component.Description)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Component.MinModelGroup)
                </td>
                <td>
                    @Html.Telerik().IntegerTextBoxFor(model => model.Component.MinModelGroup).InputHtmlAttributes(new { @style = "width:50px" })
                    @Html.ValidationMessageFor(model => model.Component.MinModelGroup)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Component.ComponentTypeID)
                </td>
                <td>
                    @Html.Telerik().DropDownListFor(model => model.Component.ComponentTypeID).BindTo(Util.GetList(RefType.ComponentType))
                    @Html.ValidationMessageFor(model => model.Component.ComponentTypeID)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Component.IsMandatory)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Component.IsMandatory)
                    @Html.ValidationMessageFor(model => model.Component.IsMandatory)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Component.CreateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Component.CreateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.Component.CreateDT), @style = "width:250px" })
                </td>
            </tr> 
            <tr>
                <td>
                    @Html.LabelFor(model => model.Component.LastUpdateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Component.LastUpdateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.Component.LastUpdateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Component.LastAccessID)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Component.LastAccessID, new { @readonly = true, @disabled = true, @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Component.Active)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Component.Active)
                    @Html.ValidationMessageFor(model => model.Component.Active)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <input type="hidden" id="submit" name="submit" />
        <button class="t-button t-button-icon" type="submit" value="Save" onclick="$('#submit').val('Save');">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" onclick="$('#submit').val('Cancel');">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
    <br />
    if (Model.Component.Active == true)
    {
        <div class="header">
            <h3>Package Component List </h3>
        </div>
        <a class="t-button t-button-icontext" href="@Url.Action("AddPkgComp", "PgmBdlPkgComp", new { componentID = Model.Component.ID, type = RefType.Component })">
            <span class="t-icon t-add"></span>Add New</a>
        <br /><br />
        @Html.HiddenFor(model => model.Component.ID)
        Html.Telerik().Grid<PgmBdlPckComponentSearchResults>(Model.PgmBdlPckComponents)
            .Name("gvwPgmBdlPckComponent")
            .Sortable()
            .Columns(cols =>
            {
                cols.Command(command => command
                    .Custom("Edit")
                    .Text("Edit")
                    .DataRouteValues(route => route.Add(a => a.PgmBdlPckComponentID).RouteKey("id"))
                    .DataRouteValues(route => route.Add(a => a.Type).RouteKey("type"))
                    .SendState(false)
                    .Action("EditPkgComp", "PgmBdlPkgComp"))
                    .HtmlAttributes(new { style = "text-align: center" })
                    .Width(90)
                    .Title("Action");
                cols.Bound(m => m.Package);
                cols.Bound(m => m.StartDate).Title("Start Date");
                cols.Bound(m => m.EndDate).Title("End Date");
                cols.Bound(m => m.ActiveCheckBox).Title("Active").Encoded(false);
                cols.Bound(m => m.CreateDT).Title("Created On");
                cols.Bound(m => m.LastUpdateDT).Title("Last Updated");
                cols.Bound(m => m.LastAccessID).Title("Last Access");
            })
            .DataBinding(binding => binding.Ajax().OperationMode(GridOperationMode.Client))
            .Pageable(paging => paging.PageSize(Util.GridRowsPerPage))
            .Render();
    }
}
