﻿@using Online.Registration.Admin.Models;
@using Online.Registration.Web.Helper;
@using Online.Registration.DAL.Models;

@model SearchViewComponentModel

@{
    ViewBag.Title = "Component";
    string strForm = "frmComponent";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
    <a class="t-button t-button-icontext" href="@Url.Action("Create")"><span class="t-icon t-add">
    </span>Add New</a>
</div>
<br />
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = strForm, name = strForm }))
{
    <fieldset runat="server">
        <legend style="margin-right: 500px">Search:</legend>
        <table>
            <tr>
                <td>
                    <div style="width: 110px">
                        @Html.LabelFor(m => m.SearchCriterias.Code)</div>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.SearchCriterias.Code, new { @style = "width:200px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.SearchCriterias.Name)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.SearchCriterias.Name, new { @style = "width:200px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.SearchCriterias.ComponentTypeID)
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(m => m.SearchCriterias.ComponentTypeID).BindTo(Util.GetList(RefType.ComponentType, true, "0", "ALL")))
                </td>
            </tr>
        </table>
    </fieldset>
@*</div>*@
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icontext" type="submit" value="Search" name="Search">
            <span class="t-icon t-search"></span>Search</button>
            <button class="t-button t-button-icontext" type="button" value="Reset" onclick="Reset();">
            <span class="t-icon t-cancel"></span>Reset
        </button>
    </div>
    <br />
    
    <text><b>Search Result:</b></text>
        Html.Telerik().Grid<ComponentSearchResults>(Model.SearchResults).Name("gvwComponent")
        .Sortable()            
        .Columns(cols =>
        {
            cols.Command(command => command
             .Custom("Edit")
             .Text("Edit")
             .DataRouteValues(route => route.Add(a => a.ComponentID).RouteKey("id"))
             .SendState(false)
             .Action("Edit", "Component"))
             .HtmlAttributes(new { style = "text-align: center" })
             .Width(90)
             .Title("Action");
            cols.Bound(m => m.Code).Title("Code").Width(80);
            cols.Bound(m => m.Name).Title("Name").Width(200);
            cols.Bound(m => m.ActiveCheckBox).Title("Action").Encoded(false);
            cols.Bound(m => m.CreateDT).Title("Created On");
            cols.Bound(m => m.LastUpdateDT).Title("Last Updated");
            cols.Bound(m => m.LastAccessID).Title("Last Access");
        })
        .DataBinding(binding => binding.Ajax().OperationMode(GridOperationMode.Client))
        .Pageable(paging => paging.PageSize(Util.GridRowsPerPage))
        .Render();
}
@section Scripts
{
<script type = "text/javascript">

    function Reset() {
        var code = $('#SearchCriterias_Code');
        var name = $('#SearchCriterias_Name');
        var componentTypeID = $('#SearchCriterias_ComponentTypeID').data('tDropDownList'); ;

        code.val('');
        name.val('');
        componentTypeID.select(0);
    }
</script>
}