﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;

@model Online.Registration.DAL.Models.Model

@{
    ViewBag.Title = "Add Model";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Add:</legend>
        <table>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.Code)
                    </div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Code, new { @style = "width:100px" })
                    @Html.ValidationMessageFor(model => model.Code)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Name)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Name, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.IsMandatory)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.IsMandatory) 
                    @Html.ValidationMessageFor(model => model.IsMandatory)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.BrandID)
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => Model.BrandID).BindTo(Util.GetList(RefType.Brand,defaultValue:"")))
                    @Html.ValidationMessageFor(model => model.BrandID)
                </td>
            </tr>
            @*<tr>
                <td>
                    @Html.LabelFor(model => model.DistOrgID)
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => Model.DistOrgID).BindTo(Util.GetWarehouseOrg()).HtmlAttributes(new { @style = "width:300px" }))
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.FulfillerOrgID)
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => Model.FulfillerOrgID).BindTo(Util.GetWarehouseOrg()).HtmlAttributes(new { @style = "width:300px" }))
                </td>
            </tr>*@
            <tr>
                <td>
                    @Html.LabelFor(model => model.RepairOrgID)
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => Model.RepairOrgID).BindTo(Util.GetList(RefType.Organization, defaultValue: "")).HtmlAttributes(new { @style = "width:250px" }))
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ChargeType)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ChargeType, new { @style = "width:250px", @maxlength = "50" })
                    @Html.ValidationMessageFor(model => model.ChargeType)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ChargeTo)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ChargeTo, new { @style = "width:50px", @maxlength = "3" })
                    @Html.ValidationMessageFor(model => model.ChargeTo)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Unit)
                </td>
                <td>
                    @Html.Telerik().IntegerTextBoxFor(model => Model.Unit).InputHtmlAttributes(new { @style = "width:50px" })
                    @Html.ValidationMessageFor(model => model.Unit)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.HasSerial)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.HasSerial) 
                    @Html.ValidationMessageFor(model => model.HasSerial)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.HasIMEI)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.HasIMEI) 
                    @Html.ValidationMessageFor(model => model.HasIMEI)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.HasPIN)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.HasPIN) 
                    @Html.ValidationMessageFor(model => model.HasPIN)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.IsSerialized)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.IsSerialized) 
                    @Html.ValidationMessageFor(model => model.IsSerialized)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.NeedToDeclare)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.NeedToDeclare) 
                    @Html.ValidationMessageFor(model => model.NeedToDeclare)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.CanReturn)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.CanReturn) 
                    @Html.ValidationMessageFor(model => model.CanReturn)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.CanReplace)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.CanReplace) 
                    @Html.ValidationMessageFor(model => model.CanReplace)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.CanReserve)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.CanReserve) 
                    @Html.ValidationMessageFor(model => model.CanReserve)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.CanScan)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.CanScan) 
                    @Html.ValidationMessageFor(model => model.CanScan)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" name="submit" value="Save">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
}