﻿@using Online.Registration.Admin.Models;
@using Online.Registration.Web.Helper;
@using SNT.Utility;

@model UpdateViewModel

@{
    ViewBag.Title = "Edit Model";
            //Model.BrandID = Model.BrandID.ToInt();
            //int BrandID = Model.BrandID.ToInt();
            //bool CanReplace = Model.CanReplace.ToBool();
            //bool CanReturn = Model.CanReturn.ToBool();
            //bool CanScan = Model.CanScan.ToBool();
            //bool HasIMEI = Model.HasIMEI.ToBool();
            //bool HasPIN = Model.HasPIN.ToBool();
            //bool HasSerial = Model.HasSerial.ToBool();
            //Model.Unit = Model.Unit.ToInt();
            //Model.DistOrgID = Model.DistOrgID.ToInt();
            //Model.FulfillerOrgID = Model.FulfillerOrgID.ToInt();
            //Model.RepairOrgID = Model.RepairOrgID.ToInt(); 
    
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Edit:</legend>
        @Html.HiddenFor(model => model.Model.ID)
        <table>
            <tr>
                <td>@Html.LabelFor(model => model.Model.ID)</td>
                <td>@Html.DisplayFor(model => model.Model.ID)</td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.Model.Code)
                    </div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Model.Code, new { @style = "width:100px" })
                    @Html.ValidationMessageFor(model => model.Model.Code)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Model.Name)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Model.Name, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Model.IsMandatory)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Model.IsMandatory) 
                    @Html.ValidationMessageFor(model => model.Model.IsMandatory)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Model.BrandID)
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => Model.Model.BrandID).BindTo(Util.GetList(RefType.Brand, defaultValue:"")))
                    @Html.ValidationMessageFor(model => model.Model.BrandID)
                </td>
            </tr>
            @*<tr>
                <td>
                    @Html.LabelFor(model => model.Model.DistOrgID)
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => Model.Model.DistOrgID).BindTo(Util.GetWarehouseOrg()).HtmlAttributes(new { @style = "width:300px" }))
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Model.FulfillerOrgID)
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => Model.Model.FulfillerOrgID).BindTo(Util.GetWarehouseOrg()).HtmlAttributes(new { @style = "width:300px" }))
                </td>
            </tr>*@
            <tr>
                <td>
                    @Html.LabelFor(model => model.Model.RepairOrgID)
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => Model.Model.RepairOrgID).BindTo(Util.GetList(RefType.Organization, defaultValue: "")).HtmlAttributes(new { @style = "width:300px" }))
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Model.ChargeType)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Model.ChargeType, new { @style = "width:250px", @maxlength = "50" })
                    @Html.ValidationMessageFor(model => model.Model.ChargeType)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Model.ChargeTo)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Model.ChargeTo, new { @style = "width:50px", @maxlength = "3" })
                    @Html.ValidationMessageFor(model => model.Model.ChargeTo)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Model.Unit)
                </td>
                <td>
                    @Html.Telerik().IntegerTextBoxFor(model => Model.Model.Unit).InputHtmlAttributes(new { @style = "width:50px" })
                    @Html.ValidationMessageFor(model => model.Model.Unit)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Model.HasSerial)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Model.HasSerial) 
                    @Html.ValidationMessageFor(model => model.Model.HasSerial)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Model.HasIMEI)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Model.HasIMEI) 
                    @Html.ValidationMessageFor(model => model.Model.HasIMEI)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Model.HasPIN)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Model.HasPIN) 
                    @Html.ValidationMessageFor(model => model.Model.HasPIN)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Model.IsSerialized)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Model.IsSerialized) 
                    @Html.ValidationMessageFor(model => model.Model.IsSerialized)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Model.NeedToDeclare)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Model.NeedToDeclare) 
                    @Html.ValidationMessageFor(model => model.Model.NeedToDeclare)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Model.CanReturn)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Model.CanReturn) 
                    @Html.ValidationMessageFor(model => model.Model.CanReturn)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Model.CanReplace)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Model.CanReplace) 
                    @Html.ValidationMessageFor(model => model.Model.CanReplace)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Model.CanReserve)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Model.CanReserve) 
                    @Html.ValidationMessageFor(model => model.Model.CanReserve)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Model.CanScan)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Model.CanScan) 
                    @Html.ValidationMessageFor(model => model.Model.CanScan)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Model.CreateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Model.CreateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.Model.CreateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Model.LastUpdateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Model.LastUpdateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.Model.LastUpdateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Model.LastAccessID)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Model.LastAccessID, new { @readonly = true, @disabled = true, @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Model.Active)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Model.Active) 
                    @Html.ValidationMessageFor(model => model.Model.Active)
                </td>
            </tr>
            @*<tr>
                <td>
                </td>
                <td>
                    <button class="t-button t-button-icon" type="submit" name="submit" value="Save"><span class="t-icon t-update"></span>Save</button>
                    <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit"><span class="t-icon t-cancel"></span>Cancel</button>
                </td>
            </tr>*@
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" name="submit" value="Save">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
    if (Model.Model.Active == true)
    {
    <br />
    <div class="header">
        <h3>Model Group Model List</h3>
    </div>
    <a class="t-button t-button-icontext" href="@Url.Action("Create", "ModelGroupModel", new { modelID = Model.Model.ID, type = RefType.Model })">
        <span class="t-icon t-add"></span>Add New</a>
    <br /><br />
    @Html.HiddenFor(model => model.Model.ID)
        Html.Telerik().Grid<ModelGroupModelSearchResults>(Model.ModelGroupModel).Name("gvwMGM")
            .Sortable()
            .Columns(cols =>
            {
                cols.Command(command => command
                    .Custom("Edit")
                    .Text("Edit")
                    .DataRouteValues(route => route.Add(a => a.ModelGroupModelID).RouteKey("id"))
                    .DataRouteValues(route => route.Add(a => a.Type).RouteKey("type"))
                    .SendState(false)
                    .Action("Edit", "ModelGroupModel"))
                    .HtmlAttributes(new { style = "text-align: center" })
                    .Width(90)
                    .Title("Action");
                cols.Bound(m => m.Name).Title("Name").Width(200);
                cols.Bound(m => m.ModelGroup).Title("Model Group");
                cols.Bound(m => m.ActiveCheckBox).Title("Active").Width(8).Encoded(false);
                cols.Bound(m => m.CreateDT).Title("Created On");
                cols.Bound(m => m.LastUpdateDT).Title("Last Updated");
                cols.Bound(m => m.LastAccessID).Title("Last Access");
            })
            .DataBinding(binding => binding.Ajax().OperationMode(GridOperationMode.Client))
            .Pageable(paging => paging.PageSize(Util.GridRowsPerPage))
            .Render();
                
       <br />
    <div class="header">
        <h3>Model Image List</h3>
    </div>
    <a class="t-button t-button-icontext" href="@Url.Action("Create", "ModelImage", new { modelID = Model.Model.ID, type = RefType.Model })">
        <span class="t-icon t-add"></span>Add New</a>
    <br /><br />
    @Html.HiddenFor(model => model.Model.ID)
        Html.Telerik().Grid<ModelImageSearchResults>(Model.ModelImage).Name("gvwMI")
            .Sortable()
            .Columns(cols =>
            {
                cols.Command(command => command
                    .Custom("Edit")
                    .Text("Edit")
                    .DataRouteValues(route => route.Add(a => a.ModelImageID).RouteKey("id"))
                    .DataRouteValues(route => route.Add(a => a.Type).RouteKey("type"))
                    .SendState(false)
                    .Action("Edit", "ModelImage"))
                    .HtmlAttributes(new { style = "text-align: center" })
                    .Width(90)
                    .Title("Action");
                cols.Bound(m => m.Colour).Title("Colour").Width(150);
                cols.Bound(m => m.ImagePath).Title("Image Path").Width(200);
                cols.Bound(m => m.ActiveCheckBox).Title("Active").Width(8).Encoded(false);
                cols.Bound(m => m.CreateDT).Title("Created On");
                cols.Bound(m => m.LastUpdateDT).Title("Last Updated");
                cols.Bound(m => m.LastAccessID).Title("Last Access");
            })
            .DataBinding(binding => binding.Ajax().OperationMode(GridOperationMode.Client))
            .Pageable(paging => paging.PageSize(Util.GridRowsPerPage))
            .Render();
    }
}
