﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.SubscriberICService;
@using SNT.Utility;
@{
    ViewBag.Title = "Address";
    #region VLT ADDED CODE
    ///GET THE retrieveAcctListByICResponse TYPE OF OBJECT FROM SESSION IF PPID="E" FOLLOWING SHOULD BE AVAILABLE    
    ///Check Session["PPID"] IF IT CONTAINS 'E' IF EXISTING SET IsExistingUser TO TRUE AGAIN CHECK IF AcctListByICResponse IS NULL THEN SET IT TO FALSE AS NO DATA TO DISPLAY
    retrieveAcctListByICResponse AcctListByICResponse = null;
    CustomizedCustomer CustomerPersonalInfo = null;
    bool IsExistingUser = false;
    string strState = string.Empty;
    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        if (!ReferenceEquals(Session["PPIDInfo"], null))
        {
            ///CHECK IF EXISTING USER THEN ONLY RETRIEVE CUSTOMER INFORMATION
            AcctListByICResponse = (retrieveAcctListByICResponse)Session["PPIDInfo"];
            ///CHECK IF CUSTOMER INFORMATION IS THERE OR NOT
            if (!ReferenceEquals(AcctListByICResponse, null) && !ReferenceEquals(AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList(), null))
            {
                if (AcctListByICResponse.itemList.Any(c => c.Customer != null))
                {
                    CustomerPersonalInfo = AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList().FirstOrDefault().Customer;
                    IsExistingUser = true;
                }
            }
            }
        }
    #endregion VLT ADDED CODE
    }
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
    <div class="form-row">
        <div class="form-label" style="width: 20%">
            Address *
        </div>
       <div>
       :
            @if (CustomerPersonalInfo != null)
            {
                if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address1))
                {
                @Html.TextBoxFor(model => model.Address.Line1, new { style = "width:300px", @Value = CustomerPersonalInfo.Address1 })
                }
                else if (Session["Condition"] != null)
                {
                    if (Session["Condition"].ToString() == "1" || Session["Condition"].ToString() == "2" || Session["Condition"].ToString() == "3" || Session["Condition"].ToString() == "4")
                    {
                @Html.TextBoxFor(model => model.Address.Line1, new { style = "width:300px", @Value = "44 JALAN MANGGA" })
                    }
                }
                else
                {
                @Html.TextBoxFor(model => model.Address.Line1, new { style = "width:300px" })
                }
            }
            else
            {
                @Html.TextBoxFor(model => model.Address.Line1, new { style = "width:300px" })
            }
       </div>
    </div>
    <div class="form-row">
        <div class="form-label" style="width: 20%">
            
        </div>
        <div style="padding-left: 20%;">
        :
            @if (CustomerPersonalInfo != null)
            {
                if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address2))
                {
                @Html.TextBoxFor(model => model.Address.Line2, new { style = "width:300px", @Value = CustomerPersonalInfo.Address2 })
                }
                else
                {
                @Html.TextBoxFor(model => model.Address.Line2, new { style = "width:300px" })
                }
            }
            else
            {
                @Html.TextBoxFor(model => model.Address.Line2, new { style = "width:300px" })
            }
        </div>
    </div>
    <div class="form-row">
   <div class="form-label" style="width: 20%">
            
        </div>
       <div style="padding-left: 20%;">
       :
            @if (CustomerPersonalInfo != null)
            {
                if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address3))
                {
                @Html.TextBoxFor(model => model.Address.Line3, new { style = "width:300px", @Value = CustomerPersonalInfo.Address3 })
                }
                else
                {
                @Html.TextBoxFor(model => model.Address.Line3, new { style = "width:300px" })
                }
            }
            else
            {
                @Html.TextBoxFor(model => model.Address.Line3, new { style = "width:300px" })
            }
        </div>
    </div>
    <div class="form-row">
        <div class="form-label" style="width: 20%">
            Postcode *
        </div>
        <div>
        :
            @if (CustomerPersonalInfo != null)
            {
                if (!string.IsNullOrEmpty(CustomerPersonalInfo.PostCode))
                {
                @Html.TextBoxFor(model => model.Address.Postcode, new { @Value = CustomerPersonalInfo.PostCode })
                }
                else if (Session["Condition"] != null)
                {
                    if (Session["Condition"].ToString() == "1" || Session["Condition"].ToString() == "2" || Session["Condition"].ToString() == "3" || Session["Condition"].ToString() == "4")
                    {
                @Html.TextBoxFor(model => model.Address.Postcode, new { @Value = "41200" })
                    }
                }
                else
                {
                @Html.TextBoxFor(model => model.Address.Postcode)
                }
            }
            else
            {
                @Html.TextBoxFor(model => model.Address.Postcode)
            }
        </div>
    </div>
    <div class="form-row">
        <div class="form-label" style="width: 20%">
            Town/City Name *
        </div>
        <div>
        :
            @if (CustomerPersonalInfo != null)
            {
                if (!string.IsNullOrEmpty(CustomerPersonalInfo.City))
                {
                @Html.TextBoxFor(model => model.Address.Town, new { @Value = CustomerPersonalInfo.City })
                }
                else if (Session["Condition"] != null)
                {
                    if (Session["Condition"].ToString() == "1" || Session["Condition"].ToString() == "2" || Session["Condition"].ToString() == "3" || Session["Condition"].ToString() == "4")
                    {
                        @Html.TextBoxFor(model => model.Address.Town, new { @Value = "KLANG" })
                    }
                }
                else
                {
                    @Html.TextBoxFor(model => model.Address.Town)
                }
            }
            else
            {
                @Html.TextBoxFor(model => model.Address.Town)
            }
        </div>
    </div>
    <div class="form-row">
        <div class="form-label" style="width: 20%">
            State/Province *
        </div>
        <div>
        :
            @if (CustomerPersonalInfo != null)
            {
                if (!string.IsNullOrEmpty(CustomerPersonalInfo.State))
                {
                    @Html.DropDownListFor(model => model.Address.StateID, Util.GetList(RefType.State, defaultValue: "", selectedValue: IsExistingUser ? CustomerPersonalInfo.State : ""))
                    strState = IsExistingUser ? CustomerPersonalInfo.State : string.Empty;
                }
                else if (Session["Condition"] != null)
                {
                    if (Session["Condition"].ToString() == "1" || Session["Condition"].ToString() == "2" || Session["Condition"].ToString() == "3" || Session["Condition"].ToString() == "4")
                    {
                        Model.Address.StateID = 2;
                        @Html.DropDownListFor(model => model.Address.StateID, Util.GetList(RefType.State, defaultValue: "", selectedValue: IsExistingUser ? CustomerPersonalInfo.State : ""))
                        strState = IsExistingUser ? CustomerPersonalInfo.State : string.Empty;
                    }
                }
                else
                {
                    @Html.DropDownListFor(model => model.Address.StateID, Util.GetList(RefType.State, defaultValue: ""))
                }
            }
            else
            {
                @Html.DropDownListFor(model => model.Address.StateID, Util.GetList(RefType.State, defaultValue: ""))
            }
        </div>
    </div>

<script language="javascript" type="text/javascript">
var state ='@strState';
if(state!='')
{
    var ddl = document.getElementById('Address_StateID');
    if (ddl != null)
    {
for (i = 0; i < ddl.options.length; i++) {
    if (ddl.options[i].text == state) {
        ddl.options[i].setAttribute("selected", "selected")
        break;
    }
   }
}
}
</script>
