﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.SubscriberICService;
@{
    ViewBag.Title = "_Billing";
    var paymentModeList = Util.GetList(RefType.PaymentMode, defaultValue: "0", selectedValue: "1");
    var cardTypeList = Util.GetList(RefType.CardType);

    List<SelectListItem> yearList = new List<SelectListItem>();
    List<SelectListItem> monthList = new List<SelectListItem>();
    
    int currYear = DateTime.Now.Year;
    int maxYear = 15;

    yearList.Add(new SelectListItem
    {
        Text = "YYYY",
        Value = "YYYY"
    });
    
    for( int i = 0 ; i <= maxYear ; i++){
        yearList.Add(new SelectListItem
        {
            Text = (i + currYear).ToString(),
            Value = (i + currYear).ToString()
        });
    }

    monthList.Add(new SelectListItem
    {
        Text = "MM",
        Value = "MM"
    });

    for (int i = 1; i <= 12; i++)
    {
        monthList.Add(new SelectListItem
        {
            Text = (i).ToString("0#"),
            Value = (i).ToString("0#")
        });
    }
    
}
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
<div class="form-row">
    <div class="form-label">
        Payment Mode *
    </div>
    <div>
        : @Html.DropDownListFor(model => model.Customer.PayModeID, Util.GetList(RefType.PaymentMode, defaultValue: "0", selectedValue: "1"), new { onchange = "paymodeChanged();" })
        @{
            int index = 0;
            foreach (var pm in paymentModeList)
            {
                if (index == 0)
                {
                    @Html.RadioButtonFor(model => model.Customer.PayModeID, pm.Value, new Dictionary<string, object>
                                                                                        {
                                                                                            { "onchange", "resetAllDiv(" + pm.Value + ");" }, 
                                                                                            { "checked", "checked" }
                                                                                        }); @(pm.Text);                    
                }
                else
                {
                    @Html.RadioButtonFor(model => model.Customer.PayModeID, pm.Value, new Dictionary<string, object>
                                                                                        {
                                                                                            { "onchange", "resetAllDiv(" + pm.Value + ");" }
                                                                                        } ); @(pm.Text);
                }
                index++;
            }
        }
    </div>
    <div class="div div1">
        <p>
            cash</p>
    </div>
    <div class="div div2">
        Cardholder Name @Html.TextBoxFor(m => m.Customer.NameOnCard)
        <br />
        Card type @Html.DropDownListFor(model => model.Customer.CardTypeID, Util.GetList(RefType.CardType)) @Html.TextBoxFor(m => m.Customer.CardNo)
        <br />
        Expiry date @Html.DropDownList("yearDDL", yearList, new { onchange = "yearChanged();" }) @Html.DropDownList("monthDDL", monthList, new { onchange = "monthChanged();" })

        @Html.HiddenFor(m => m.Customer.CardExpiryDate)
    </div>  
</div>
<script type="text/javascript">

    var monthSelected = false;
    var yearSelected = false;

    function resetAllDiv(e) {
        console.log(e);
        $('.div').hide();
        $('.div' + e).show();
    }

    function yearChanged() {
        var selectedValue = $('#yearDDL').val();
        if (selectedValue != 'YYYY') {
            yearSelected = true;
            composeCreditCardExpiryDate();
        }
    }

    function monthChanged() {
        var selectedValue = $('#monthDDL').val();
        if (selectedValue != 'YYYY') {
            monthSelected = true;
            composeCreditCardExpiryDate();
        }
    }

    function composeCreditCardExpiryDate() {
        if (monthSelected && yearSelected) {
            var yearValue = $('#yearDDL').val();
            var monthValue = $('#monthDDL').val();
        }
        $('#Customer_CardExpiryDate').val( monthValue +'/' + yearValue );
    }

    $(document).ready(function () {
        resetAllDiv(1);
    });
</script>
