﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.SubscriberICService;
@using SNT.Utility;
@{
    ViewBag.Title = "Customer";
    var idCardTypeID = Model.Customer.IDCardTypeID;

    var minAge = Session["RegMobileReg_ProgramMinAge"].ToInt();
    var NRICType = Util.GetIDCardTypeID(IDCARDTYPE.NRIC);
    var msisdn = Session["ExternalID"].ToString2();
    string idCardTypeName = string.Empty;
    ///GET THE retrieveAcctListByICResponse TYPE OF OBJECT FROM SESSION IF PPID="E" FOLLOWING SHOULD BE AVAILABLE    
    ///Check Session["PPID"] IF IT CONTAINS 'E' IF EXISTING SET IsExistingUser TO TRUE AGAIN CHECK IF AcctListByICResponse IS NULL THEN SET IT TO FALSE AS NO DATA TO DISPLAY
    retrieveAcctListByICResponse AcctListByICResponse = null;
    CustomizedCustomer CustomerPersonalInfo = null;
    bool IsExistingUser = false;
    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        if (!ReferenceEquals(Session["PPIDInfo"], null))
        {
            ///CHECK IF EXISTING USER THEN ONLY RETRIEVE CUSTOMER INFORMATION
            AcctListByICResponse = (retrieveAcctListByICResponse)Session["PPIDInfo"];
            ///CHECK IF CUSTOMER INFORMATION IS THERE OR NOT
            if (!ReferenceEquals(AcctListByICResponse, null) && !ReferenceEquals(AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList(), null))
            {
                //CustomerPersonalInfo = AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList().FirstOrDefault().Customer;
                CustomerPersonalInfo = Util.GetCustomerList(AcctListByICResponse, Session["ExternalID"] != null ? Session["ExternalID"].ToString() : "0");

                if (!String.IsNullOrEmpty(CustomerPersonalInfo.NewIC))
                {
                    idCardTypeID = 1; idCardTypeName = "New IC";
                }
                else if (!String.IsNullOrEmpty(CustomerPersonalInfo.PassportNo))
                {
                    idCardTypeID = 2; idCardTypeName = "Passport";
                }
                else if (!String.IsNullOrEmpty(CustomerPersonalInfo.OldIC))
                {
                    idCardTypeID = 3; idCardTypeName = "Old IC";
                }
                else if (!String.IsNullOrEmpty(CustomerPersonalInfo.OtherIC))
                {
                    idCardTypeID = 4; idCardTypeName = "Other IC";
                }
                IsExistingUser = true;
            }

        }
    }
    string hyphen = " - ";   
    
 
}
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
<div style="width: 100%;">
    <div style="padding: 20px 15px 50px 15px;">
        <div class="form-row">
            <div class="form-label">
                Title</div>
            <div>
                :
                @CustomerPersonalInfo.Title
                @{
                    //if (CustomerPersonalInfo != null && CustomerPersonalInfo.Title != "")
                    if (CustomerPersonalInfo != null && !string.IsNullOrWhiteSpace(CustomerPersonalInfo.Title))
                    {
                        //Online.Registration.Web.RegistrationSvc.RegistrationServiceClient client = new Online.Registration.Web.RegistrationSvc.RegistrationServiceClient();
                        //int titleID = client.GetIdByTitleName(CustomerPersonalInfo.Title);
                        //Online.Registration.Web.RegistrationSvc.RegistrationServiceClient client = new Online.Registration.Web.RegistrationSvc.RegistrationServiceClient();
                        //int titleID = client.GetIdByTitleName(CustomerPersonalInfo.Title);

                        List<SelectListItem> objTitleLst = new List<SelectListItem>();
                        objTitleLst = Util.GetList(RefType.CustomerTitle, defaultValue: string.Empty);
                        string customerTitle = CustomerPersonalInfo.Title;
                        if (!customerTitle.EndsWith("."))
                        {
                            CustomerPersonalInfo.Title = CustomerPersonalInfo.Title + ".";
                        }
                        else
                        {
                            customerTitle = customerTitle.Substring(0, customerTitle.LastIndexOf('.'));

                        }
                        objTitleLst = objTitleLst.Where(a => a.Text == CustomerPersonalInfo.Title || a.Text == customerTitle).ToList();
                        int titleID = objTitleLst.FirstOrDefault().Value.ToInt();
                        Model.Customer.CustomerTitleID = titleID;
                        Html.HiddenFor(model => model.Customer.CustomerTitleID);
                        Session["cTitleID"] = titleID;
                    }
                    else
                    {
                        Session["cTitleID"] = 102;
                    }
                    }

                    @*@{Model.Customer.CustomerTitleID = 1;}*@
                    @(Html.HiddenFor(model => model.Customer.CustomerTitleID))
            </div>
        </div>
        <div class="form-row">
            <div class="form-label">
                Full Name
            </div>
            <div>
                :
                @CustomerPersonalInfo.CustomerName
            </div>
        </div>
        <div class="form-row">
            <div class="form-label">
                ID No</div>
            <div style="vertical-align: top;">
                : @idCardTypeName @hyphen
                @{
                    if ((CustomerPersonalInfo.NewIC).ToString2() != string.Empty)
                    {
                    @CustomerPersonalInfo.NewIC
                    }
                    else if ((CustomerPersonalInfo.OldIC).ToString2() != string.Empty)
                    {
                    @CustomerPersonalInfo.OldIC
                    }
                    else if ((CustomerPersonalInfo.PassportNo).ToString2() != string.Empty)
                    {
                    @CustomerPersonalInfo.PassportNo
                    }
                    
                   
                }
                @*@if (Session["IDCardTypeID"].ToInt() == 1)
                {
                    <input id="divBiometrics" class="biometric-button" type="button"  onclick="RetrieveMyKadInfo();" style="background-image:url(@(Url.Content("~/Content/img/shared/iSELL-Biometric_Button.png")));cursor:pointer;cursor:pointer;height:39px;width:59px;margin-top:-10px;" />
                }*@
            </div>
        </div>
        <div class="form-row">
            <div class="form-label">
                DOB
            </div>
            <div>
                :
                @if (CustomerPersonalInfo.Dob != null && CustomerPersonalInfo.Dob != string.Empty)
                {
                    @CustomerPersonalInfo.Dob.Substring(6, 2) @hyphen @CustomerPersonalInfo.Dob.Substring(4, 2) @hyphen @CustomerPersonalInfo.Dob.Substring(0, 4);
                }
            </div>
        </div>
        <div class="form-row">
            <div class="form-label">
                Contact No</div>
            <div>
                :  @Html.Raw(CustomerPersonalInfo.Cbr.ToString2()!=""?CustomerPersonalInfo.Cbr.ToString2():"") 
                
                                                  
            </div>
        </div>
    </div>
</div>
<div style="display: none;">
    @if (CustomerPersonalInfo != null)
    {

        if (CustomerPersonalInfo.CustomerName != null)
        {
            Model.Customer.FullName = CustomerPersonalInfo.CustomerName;
        @Html.TextBoxFor(model => model.Customer.FullName, new { style = "width:300px;display:none", @class = "uppercase", onchange = "toUpperCase(this)" })
        }
        else
        {
        @Html.TextBoxFor(model => model.Customer.FullName, new { style = "width:300px;display:none", @class = "uppercase", onchange = "toUpperCase(this)" })
        }




        if (idCardTypeID != null && idCardTypeID != 0)
        {
                                                  
                   
                 
        @Html.DropDownListFor(model => model.Customer.IDCardTypeID, Util.GetList(RefType.IDCardType, defaultValue: string.Empty, selectedValue: Convert.ToString(idCardTypeID)))
        }
        else
        {
              
                 
        @Html.DropDownListFor(model => model.Customer.IDCardTypeID, Util.GetList(RefType.IDCardType, defaultValue: string.Empty))
        }


        if (idCardTypeID != null && idCardTypeID != 0)
        {
        @Html.TextBoxFor(model => model.Customer.IDCardNo, new { @value = (CustomerPersonalInfo.NewIC != null) ? CustomerPersonalInfo.NewIC : CustomerPersonalInfo.OldIC })
        }
        else
        {
        @Html.TextBoxFor(model => model.Customer.IDCardNo)
        }



    }
    else
    {
        @Html.TextBoxFor(model => model.Customer.FullName, new { style = "width:300px;display:none", @class = "uppercase", onchange = "toUpperCase(this)" })

                 
             
                 
        @Html.DropDownListFor(model => model.Customer.IDCardTypeID, Util.GetList(RefType.IDCardType, defaultValue: string.Empty))
        @Html.TextBoxFor(model => model.Customer.IDCardNo)
                         
    }
    @Html.HiddenFor(model => model.InputIDCardTypeID, new { @value = idCardTypeID })
    @{
        if (idCardTypeID == 1)
        {
        @Html.HiddenFor(model => model.InputIDCardNo, new { @value = CustomerPersonalInfo.NewIC })
        }
        else if (idCardTypeID == 2)
        {@Html.HiddenFor(model => model.InputIDCardNo, new { @value = CustomerPersonalInfo.PassportNo })}
        else if (idCardTypeID == 3)
        {@Html.HiddenFor(model => model.InputIDCardNo, new { @value = CustomerPersonalInfo.OldIC })}
        else if (idCardTypeID == 4)
        {   @Html.HiddenFor(model => model.InputIDCardNo, new { @value = CustomerPersonalInfo.OtherIC })}
    }
    @*Added by Rajeswari on 24th March to disable nationality*@
    @Html.HiddenFor(model => model.InputNationalityID)
    @if (CustomerPersonalInfo.Gender != null)
    {
        Model.Customer.Gender = CustomerPersonalInfo.Gender.ToString2() == "M" ? "Male" : "Female";
    }
    @*else
    {
        Model.Customer.Gender = "N";
    }*@
    @Html.HiddenFor(model => model.Customer.Gender)
    @if (CustomerPersonalInfo == null)
    {
        var currentTime = new DateTime();
        var month = currentTime.Month + 1;
        var day = currentTime.Day;
        var year = currentTime.Year;

        <input type="hidden" id="DOBDay" name="DOBDay" value='@day' />
        <input type="hidden" id="DOBMonth" name="DOBMonth" value='@month' />
        <input type="hidden" id="DOBYear" name="DOBYear" value='@year' />
                       
    }
    else if (CustomerPersonalInfo != null)
    {
        //Changes made by chetan
        if ((CustomerPersonalInfo.Dob != null) && (CustomerPersonalInfo.Dob != ""))
        {


        <input type="hidden" id="DOBDay" name="DOBDay" value='@Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(6, 2)).ToString2()' />
        <input type="hidden" id="DOBMonth" name="DOBMonth" value='@Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(4, 2)).ToString2()' />
        <input type="hidden" id="DOBYear" name="DOBYear" value='@Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(0, 4)).ToString2()' />
        }
        //Added by Patanjali to Support missing DOB for Existing users
        else
        {

            var currentTime = new DateTime();
            var month = currentTime.Month + 1;
            var day = currentTime.Day;
            var year = currentTime.Year;
        <input type="hidden" id="DOBDay" name="DOBDay" value='@day' />
        <input type="hidden" id="DOBMonth" name="DOBMonth" value='@month' />
        <input type="hidden" id="DOBYear" name="DOBYear" value='@year' />
        }
        //Added by Patanjali to Support missing DOB for Existing users
    }
    @if (CustomerPersonalInfo.RaceID.ToInt() > 0)
    {
        Model.Customer.RaceID = CustomerPersonalInfo.RaceID;
    }
    else
    {
        Model.Customer.RaceID = 0;
    }
    @Html.TextBoxFor(model => model.Customer.RaceID)
    @if (CustomerPersonalInfo != null)
    {
        if ((CustomerPersonalInfo.Cbr != null)&&(CustomerPersonalInfo.Cbr != ""))
        {
            //added by Nreddy for add prefix mobileno
            if (CustomerPersonalInfo.Cbr.Length > 0)
            {
                //if (CustomerPersonalInfo.Cbr.Contains('|'))
                //{
                //    CustomerPersonalInfo.Cbr="603"+CustomerPersonalInfo.Cbr.Split('|')[0].ToString();

                //}
                if (!CustomerPersonalInfo.Cbr.StartsWith("6"))
                {
                    CustomerPersonalInfo.Cbr = "6" + CustomerPersonalInfo.Cbr;
                }

            }
            Model.Customer.ContactNo = CustomerPersonalInfo.Cbr.Replace("-", "");
        @Html.TextBoxFor(model => model.Customer.ContactNo, new { maxlength = 15 })
        }
        else
        {
            Model.Customer.ContactNo = @msisdn;
        @Html.TextBoxFor(model => model.Customer.ContactNo, new { maxlength = 15 })      
        }
    }
    else
    {
        Model.Customer.ContactNo = @msisdn;
        @Html.TextBoxFor(model => model.Customer.ContactNo, new { maxlength = 15 })      
    }
    @if (CustomerPersonalInfo.LanguageID.ToInt() > 0)
    {

        Model.Customer.LanguageID = CustomerPersonalInfo.LanguageID;
    }
    else
    {
        Model.Customer.LanguageID = 0;
    }
    @if (CustomerPersonalInfo.PayModeID.ToInt() > 0)
    {

        Model.Customer.PayModeID = CustomerPersonalInfo.PayModeID;
    }
    else
    {
        Model.Customer.PayModeID = 1;
    }
    @Html.HiddenFor(model => Model.Customer.PayModeID)
    @Html.HiddenFor(model => model.Customer.LanguageID)
    @Html.DropDownListFor(model => model.Customer.NationalityID, Util.GetList(RefType.Nationality))
</div>
<div id="divCreditCheckMsg" style="display: none;">
    <div id="lblCreditCheck" style="font-weight: bold; color: Red; display: none;">
        Credit Check Failed.
    </div>
</div>
