﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@using Online.Registration.Web.SubscriberICService;
@{
    ViewBag.Title = "Customer";
    var idCardTypeID = Model.Customer.IDCardTypeID;

    var minAge = Session["RegMobileReg_ProgramMinAge"].ToInt();
    var NRICType = Util.GetIDCardTypeID(IDCARDTYPE.NRIC);

    ///GET THE retrieveAcctListByICResponse TYPE OF OBJECT FROM SESSION IF PPID="E" FOLLOWING SHOULD BE AVAILABLE    
    ///Check Session["PPID"] IF IT CONTAINS 'E' IF EXISTING SET IsExistingUser TO TRUE AGAIN CHECK IF AcctListByICResponse IS NULL THEN SET IT TO FALSE AS NO DATA TO DISPLAY
    retrieveAcctListByICResponse AcctListByICResponse = null;
    CustomizedCustomer CustomerPersonalInfo = null;
    bool IsExistingUser = false;
    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        if (!ReferenceEquals(Session["PPIDInfo"], null))
        {
            ///CHECK IF EXISTING USER THEN ONLY RETRIEVE CUSTOMER INFORMATION
            AcctListByICResponse = (retrieveAcctListByICResponse)Session["PPIDInfo"];
            ///CHECK IF CUSTOMER INFORMATION IS THERE OR NOT
            if (!ReferenceEquals(AcctListByICResponse, null) && !ReferenceEquals(AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList(), null))
            {
                if(AcctListByICResponse.itemList.Any(c => c.Customer != null))
                {
                CustomerPersonalInfo = AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList().FirstOrDefault().Customer;

                if (!String.IsNullOrEmpty(CustomerPersonalInfo.NewIC))
                {
                    idCardTypeID = 1;
                }
                else if (!String.IsNullOrEmpty(CustomerPersonalInfo.PassportNo))
                {
                    idCardTypeID = 2;
                }
                else if (!String.IsNullOrEmpty(CustomerPersonalInfo.OldIC))
                {
                    idCardTypeID = 3;
                }
                else if (!String.IsNullOrEmpty(CustomerPersonalInfo.OtherIC))
                {
                    idCardTypeID = 4;
                }
                IsExistingUser = true;
                }
            }

        }
    }
    if (CustomerPersonalInfo != null)
    {
        if (!string.IsNullOrEmpty(CustomerPersonalInfo.NewIC) || !string.IsNullOrEmpty(CustomerPersonalInfo.OldIC))
        {
            Model.Customer.NationalityID = 1;
            Model.InputNationalityID = 1;
        }
        else
        {
            Model.Customer.NationalityID = 132;
            Model.InputNationalityID = 132;
        }
    }
    int quantity;
}
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
<div class="form-row">
    <div class="form-label">
        Title *</div>
    <div>
        :
        @if (CustomerPersonalInfo != null)
        {

            if (CustomerPersonalInfo.CustomerTitleID != null)
            {
            @Html.DropDownListFor(model => model.Customer.CustomerTitleID, Util.GetList(RefType.CustomerTitle, defaultValue: string.Empty, selectedValue: IsExistingUser ? CustomerPersonalInfo.CustomerTitleID.ToString2() : ""))
                //@(Html.Telerik().DropDownListFor(model => model.Customer.CustomerTitleID).BindTo(Util.GetList(RefType.CustomerTitle, defaultValue: string.Empty, selectedValue: IsExistingUser ? CustomerPersonalInfo.CustomerTitleID.ToString2() : "")))
            }
            else
            {
            @Html.DropDownListFor(model => model.Customer.CustomerTitleID, Util.GetList(RefType.CustomerTitle, defaultValue: string.Empty))
                //@(Html.Telerik().DropDownListFor(model => model.Customer.CustomerTitleID).BindTo(Util.GetList(RefType.CustomerTitle, defaultValue: string.Empty)))        
            }
        }
        else
        {
            @Html.DropDownListFor(model => model.Customer.CustomerTitleID, Util.GetList(RefType.CustomerTitle, defaultValue: string.Empty))
            //@(Html.Telerik().DropDownListFor(model => model.Customer.CustomerTitleID).BindTo(Util.GetList(RefType.CustomerTitle, defaultValue: string.Empty)))        
        }
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        Full Name *</div>
    <div>
        :
        @if (CustomerPersonalInfo != null)
        {
            if (CustomerPersonalInfo.CustomerName != null)
            {
            @Html.TextBoxFor(model => model.Customer.FullName, new { style = "width:300px", @class = "uppercase", onchange = "toUpperCase(this)", @Value = CustomerPersonalInfo.CustomerName })
            }
            else
            {
            @Html.TextBoxFor(model => model.Customer.FullName, new { style = "width:300px", @class = "uppercase", onchange = "toUpperCase(this)" })
            }
        }
        else
        {
            @Html.TextBoxFor(model => model.Customer.FullName, new { style = "width:300px", @class = "uppercase", onchange = "toUpperCase(this)" })
        }
    </div>
</div>
<div class="form-row">
    <div class="form-label" style="padding-top: 10px">
        ID No *</div>
    <div class="form-field">
        :
        @if (CustomerPersonalInfo != null)
        {
            if (idCardTypeID != null && idCardTypeID != 0)
            {
                   
            @Html.DropDownListFor(model => model.Customer.IDCardTypeID, Util.GetList(RefType.IDCardType, defaultValue: "", selectedValue: Convert.ToString(idCardTypeID)))
@*@(Html.Telerik().DropDownListFor(model => model.Customer.IDCardTypeID)
                            .ClientEvents(events => events.OnChange("IDCardTypeChanged"))
                                .BindTo(Util.GetList(RefType.IDCardType, defaultValue: "", selectedValue: Convert.ToString(idCardTypeID)))
                                    )*@
                          
            }
            else
            {
            @Html.DropDownListFor(model => model.Customer.IDCardTypeID, Util.GetList(RefType.IDCardType, defaultValue: ""))
@*@(Html.Telerik().DropDownListFor(model => model.Customer.IDCardTypeID)
                            .ClientEvents(events => events.OnChange("IDCardTypeChanged"))
                            .BindTo(Util.GetList(RefType.IDCardType, defaultValue: "")).HtmlAttributes(new { }))*@
            }
        }
        else
        {
            @Html.DropDownListFor(model => model.Customer.IDCardTypeID, Util.GetList(RefType.IDCardType, defaultValue: ""))
@*@(Html.Telerik().DropDownListFor(model => model.Customer.IDCardTypeID)
                            .ClientEvents(events => events.OnChange("IDCardTypeChanged"))
                            .BindTo(Util.GetList(RefType.IDCardType, defaultValue: "")).HtmlAttributes(new { }))*@
        }
    </div>
    <div class="form-field">
        @if (CustomerPersonalInfo != null)
        {
            if (idCardTypeID != null && idCardTypeID != 0)
            {
            @Html.TextBoxFor(model => model.Customer.IDCardNo, new { @Value = (CustomerPersonalInfo.NewIC != null) ? CustomerPersonalInfo.NewIC : CustomerPersonalInfo.OldIC })
            }
            else
            {
            @Html.TextBoxFor(model => model.Customer.IDCardNo)
            }
        }
        else
        {
            @Html.TextBoxFor(model => model.Customer.IDCardNo)
        }
        @Html.HiddenFor(model => model.InputIDCardTypeID)
        @Html.HiddenFor(model => model.InputIDCardNo)
        @Html.HiddenFor(model => model.InputNationalityID)
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        DOB * @*@Html.HiddenFor(model => model.DOBDay) @Html.HiddenFor(model => model.DOBMonth)
        @Html.HiddenFor(model => model.DOBYear)*@
    </div>
    <div class="form-field">
        :
        @if (CustomerPersonalInfo == null)
        {
            @Html.DropDownListFor(model => model.DOBDay, Util.GetDayList(), new { onChange = "populateDOB()" })
            <input type="hidden" id="CustDobDay" name="CustDobDay" value='' />
                
        }
        else if (CustomerPersonalInfo != null)
        {
            //Changes made by chetan
            if ((CustomerPersonalInfo.Dob != null) && (CustomerPersonalInfo.Dob != string.Empty) && (CustomerPersonalInfo.Dob.Length >= 8) && (int.TryParse(CustomerPersonalInfo.Dob.Substring(6, 2), out quantity) == true))
            {
            @Html.DropDownListFor(model => model.DOBDay, Util.GetDayList(selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(6, 2)).ToString()))
@*@(Html.Telerik().DropDownListFor(model => model.DOBDay).HtmlAttributes(new { style = "width: 60px;" })
            .BindTo(Util.GetDayList(selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(6, 2)).ToString())))*@  
            <input type="hidden" id="CustDobDay" name="CustDobDay" value='@CustomerPersonalInfo.Dob.Substring(6, 2).ToString2()' />
            }
            //Added by Patanjali to Support missing DOB for Existing users
            else
            {
            @Html.DropDownListFor(model => model.DOBDay, Util.GetDayList(), new { onChange = "populateDOB()" })
            <input type="hidden" id="CustDobDay" name="CustDobDay" value='' />
               
            }
            //Added by Patanjali to Support missing DOB for Existing users
        }
    </div>
    <div class="form-field">
        @if (CustomerPersonalInfo == null)
        {
                
            @Html.DropDownListFor(model => model.DOBMonth, Util.GetMonthList(), new { onChange = "populateDOB()" })
            <input type="hidden" id="CustDobMon" name="CustDobMon" value='' />
               
        }
        else if (CustomerPersonalInfo != null)
        {
            //Changes made by chetan
            if ((CustomerPersonalInfo.Dob != null) && (CustomerPersonalInfo.Dob != string.Empty) && (CustomerPersonalInfo.Dob.Length >= 6) && (int.TryParse(CustomerPersonalInfo.Dob.Substring(4, 2), out quantity) == true))
            {
            @Html.DropDownListFor(model => model.DOBMonth, Util.GetMonthList(selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(4, 2)).ToString()))
@*@(Html.Telerik().DropDownListFor(model => model.DOBMonth).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetMonthList(selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(4, 2)).ToString())))   *@
            <input type="hidden" id="CustDobMon" name="CustDobMon" value='@CustomerPersonalInfo.Dob.Substring(4, 2).ToString2()' />
            }
            //Added by Patanjali to Support missing DOB for Existing users
            else
            {
                    
            @Html.DropDownListFor(model => model.DOBMonth, Util.GetMonthList(), new { onChange = "populateDOB()" })
            <input type="hidden" id="CustDobMon" name="CustDobMon" value='' />
                
            }
            //Added by Patanjali to Support missing DOB for Existing users
        }
    </div>
    <div class="form-field">
        @if (CustomerPersonalInfo == null)
        {
            @Html.DropDownListFor(model => model.DOBYear, Util.GetYearList(18), new { onChange = "populateDOB()" })
            <input type="hidden" id="CustDobYear" name="CustDobYear" value='' />
        }
        else if (CustomerPersonalInfo != null)
        {
            //Changes made by chetan
            if ((CustomerPersonalInfo.Dob != null) && (CustomerPersonalInfo.Dob != string.Empty) && (CustomerPersonalInfo.Dob.Length >= 4) && (int.TryParse(CustomerPersonalInfo.Dob.Substring(0, 4), out quantity) == true))
            {
            <input type="hidden" id="CustDobYear" name="CustDobYear" value='@CustomerPersonalInfo.Dob.Substring(0, 4).ToString2()' />
            @Html.DropDownListFor(model => model.DOBYear, Util.GetYearList(18, selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(0, 4)).ToString()))
            
                
            }
            //Added by Patanjali to Support missing DOB for Existing users
            else
            {
            @Html.DropDownListFor(model => model.DOBYear, Util.GetYearList(18), new { onChange = "populateDOB()" })
            <input type="hidden" id="CustDobYear" name="CustDobYear" value='' />
            }
            //Added by Patanjali to Support missing DOB for Existing users
        }
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        Gender *</div>
    <div class="form-field">
        :
        @if (Session["Condition"].ToString2() == "1" || Session["Condition"].ToString2() == "2" || Session["Condition"].ToString2() == "3" || Session["Condition"].ToString2() == "4")
        {
            <div style="display: none">
                Male @Html.RadioButtonFor(model => model.Customer.Gender, "M", new { onclick = "setGender(this);", @class = "gender", id = "rdbMale", Checked = "checked" })
                Female @Html.RadioButtonFor(model => model.Customer.Gender, "F", new { onclick = "setGender(this);", @class = "gender", id = "rdbFemale" })
                @Html.HiddenFor(model => model.Customer.Gender)
            </div>
           
        }
        else
        {
               
            @:Male @Html.RadioButtonFor(model => model.Customer.Gender, "M", new { onclick = "setGender(this);", @class = "gender", id = "rdbMale" })
            @:Female @Html.RadioButtonFor(model => model.Customer.Gender, "F", new { onclick = "setGender(this);", @class = "gender", id = "rdbFemale" })
            @Html.HiddenFor(model => model.Customer.Gender)
        }
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        Contact No *</div>
    <div class="form-field">
        :
        @if (CustomerPersonalInfo != null)
        {
            if (CustomerPersonalInfo.Cbr != null)
            {
                //added by Nreddy for add prefix mobileno
                if (CustomerPersonalInfo.Cbr.Length > 0)
                {

                    if (!CustomerPersonalInfo.Cbr.StartsWith("6"))
                    {
                        CustomerPersonalInfo.Cbr = "6" + CustomerPersonalInfo.Cbr;
                    }

                }
            @Html.TextBoxFor(model => model.Customer.ContactNo, new { @Value = CustomerPersonalInfo.Cbr.Replace("-", ""), maxlength = 12 })
            }
            else
            {
            @Html.TextBoxFor(model => model.Customer.ContactNo, new { maxlength = 12 })      
            }
        }
        else
        {
            @Html.TextBoxFor(model => model.Customer.ContactNo, new { maxlength = 12 })
               
        }
        <em>(Example: 60xxxxxxx</em>)
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        Language *</div>
    <div class="form-field">
        : @Html.DropDownListFor(model => model.Customer.LanguageID, Util.GetList(RefType.Language, selectedValue: Model.Customer.LanguageID.ToString()))
        @*@(Html.Telerik().DropDownListFor(model => model.Customer.LanguageID).BindTo(Util.GetList(RefType.Language, defaultValue: "")).Value(Model.Customer.LanguageID.ToString()).Effects(f => f.Toggle()))*@
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        Nationality *</div>
    <div class="form-field">
        : @Html.DropDownListFor(model => model.Customer.NationalityID, Util.GetList(RefType.Nationality, defaultValue: string.Empty))
        @*@(Html.Telerik().DropDownListFor(model => model.Customer.NationalityID).BindTo(Util.GetList(RefType.Nationality, defaultValue: string.Empty)))*@
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        Race *</div>
    <div class="form-field">
        : @Html.DropDownListFor(model => model.Customer.RaceID, Util.GetList(RefType.Race, defaultValue: string.Empty))
        @*@(Html.Telerik().DropDownListFor(model => model.Customer.RaceID).BindTo(Util.GetList(RefType.Race, defaultValue: string.Empty)))*@
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        Email</div>
    <div>
        : @Html.TextBoxFor(model => model.Customer.EmailAddr)
    </div>
</div>
