﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.SubscriberICService;
@{
    ViewBag.Title = "Address";
    #region VLT ADDED CODE
    ///GET THE retrieveAcctListByICResponse TYPE OF OBJECT FROM SESSION IF PPID="E" FOLLOWING SHOULD BE AVAILABLE    
    ///Check Session["PPID"] IF IT CONTAINS 'E' IF EXISTING SET IsExistingUser TO TRUE AGAIN CHECK IF AcctListByICResponse IS NULL THEN SET IT TO FALSE AS NO DATA TO DISPLAY
    retrieveAcctListByICResponse AcctListByICResponse = null;
    CustomizedCustomer CustomerPersonalInfo = null;
    bool IsExistingUser = false;
    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        if (!ReferenceEquals(Session["PPIDInfo"], null))
        {
            ///CHECK IF EXISTING USER THEN ONLY RETRIEVE CUSTOMER INFORMATION
            AcctListByICResponse = (retrieveAcctListByICResponse)Session["PPIDInfo"];
            ///CHECK IF CUSTOMER INFORMATION IS THERE OR NOT
            if (!ReferenceEquals(AcctListByICResponse, null) && !ReferenceEquals(AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList(), null))
            {
                //CustomerPersonalInfo = AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList().FirstOrDefault().Customer;
                CustomerPersonalInfo = Util.GetCustomerList(AcctListByICResponse, Session["ExternalID"] != null ? Session["ExternalID"].ToString() : "0");
                IsExistingUser = true;
            }
        }
    }
    #endregion VLT ADDED CODE  
}
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
<div class="form-row">
    <div class="form-label" style="width: 20%">
        Address
    </div>
    <div>
        :
        @{
            if (string.IsNullOrEmpty(CustomerPersonalInfo.Address1) && Session["Condition"] != null)
            {
                if (Session["Condition"].ToString() == "1" || Session["Condition"].ToString() == "2" || Session["Condition"].ToString() == "3" || Session["Condition"].ToString() == "4")
                {
            @Html.Raw("44 JALAN MANGGA")
                }
            }
            else
            {
            @Html.Raw(CustomerPersonalInfo.Address1)
            }
        }
    </div>
    @if (CustomerPersonalInfo != null)
    {
        if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address1))
        {@Html.HiddenFor(model => model.Address.Line1, new { style = "width:300px", @readonly = "readonly", @Value = CustomerPersonalInfo.Address1 })
        }
        else
        {@Html.HiddenFor(model => model.Address.Line1, new { style = "width:300px", @readonly = "readonly" })
        }
    }
    else
    {@Html.HiddenFor(model => model.Address.Line1, new { style = "width:300px", @readonly = "readonly" })
    }
</div>
@if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address2))
{
    <div class="form-row">
        <div class="form-label" style="width: 20%">
        </div>
        <div style="padding-left: 20%;">
            :
            @Html.Raw(CustomerPersonalInfo.Address2)
        </div>
        @if (CustomerPersonalInfo != null)
        {
            if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address2))
            {@Html.HiddenFor(model => model.Address.Line2, new { style = "width:300px", @readonly = "readonly", @Value = CustomerPersonalInfo.Address2 })
            }
            else
            {@Html.HiddenFor(model => model.Address.Line2, new { style = "width:300px", @readonly = "readonly" })
            }
        }
        else
        {@Html.HiddenFor(model => model.Address.Line2, new { style = "width:300px", @readonly = "readonly" })
        }
    </div>
}
@if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address3))
{
    <div class="form-row">
        <div class="form-label" style="width: 20%">
        </div>
        <div style="padding-left: 20%;">
            :
            @Html.Raw(CustomerPersonalInfo.Address3)
        </div>
        @if (CustomerPersonalInfo != null)
        {
            if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address3))
            {
            @Html.HiddenFor(model => model.Address.Line3, new { style = "width:300px", @readonly = "readonly", Value = CustomerPersonalInfo.Address3 })
            }
            else
            {
            @Html.HiddenFor(model => model.Address.Line3, new { style = "width:300px", @readonly = "readonly" })
            }
        }
        else
        {
            @Html.HiddenFor(model => model.Address.Line3, new { style = "width:300px", @readonly = "readonly" })
        }
    </div>
}
<div class="form-row">
    <div class="form-label" style="width: 20%">
        Postcode
    </div>
    <div>
        :
        @Html.Raw(CustomerPersonalInfo.PostCode)
    </div>
    <div style="display: none">
        @if (CustomerPersonalInfo != null)
        {
            if (!string.IsNullOrEmpty(CustomerPersonalInfo.PostCode))
            {
            @Html.TextBoxFor(model => model.Address.Postcode, new { @readonly = "readonly", @Value = CustomerPersonalInfo.PostCode })
            }
            else
            {
            @Html.TextBoxFor(model => model.Address.Postcode, new { @readonly = "readonly" })
            }
        }
        else
        {
            @Html.TextBoxFor(model => model.Address.Postcode, new { @readonly = "readonly" })
        }
    </div>
</div>
<div class="form-row">
    <div class="form-label" style="width: 20%">
        Town/City Name
    </div>
    <div>
        :
        @Html.Raw(CustomerPersonalInfo.City)
    </div>
    <div style="display: none">
        @if (CustomerPersonalInfo != null)
        {
            if (!string.IsNullOrEmpty(CustomerPersonalInfo.City))
            {
            @Html.TextBoxFor(model => model.Address.Town, new { @readonly = "readonly", @Value = CustomerPersonalInfo.City })
            }
            else
            {
            @Html.TextBoxFor(model => model.Address.Town, new { @readonly = "readonly" })
            }
        }
        else
        {
            @Html.TextBoxFor(model => model.Address.Town, new { @readonly = "readonly" })
        }
    </div>
</div>
<div class="form-row">
    <div class="form-label" style="width: 20%">
        State/Province
    </div>
    <div>
        :
        @Html.Raw(CustomerPersonalInfo.State)
    </div>
    <div style="display: none">
        @if (CustomerPersonalInfo != null)
        {
            if (!string.IsNullOrEmpty(CustomerPersonalInfo.State) && CustomerPersonalInfo.State != "DEFAULT_STATE")
            {
            <input type="hidden" id="hdnStateIDExists" value="Y" />
                // @(Html.Telerik().DropDownList().Name("tlkStateID").BindTo(Util.GetList(RefType.State, defaultValue: "", selectedValue: IsExistingUser ? CustomerPersonalInfo.State : "")))
                //@Html.HiddenFor(model => model.Address.StateID, new { @Value = 3 })
                //@(Html.Telerik().DropDownListFor(model => model.Address.StateID).BindTo(Util.GetList(RefType.State, defaultValue: "", selectedValue: IsExistingUser ? CustomerPersonalInfo.State : "")))
@*@Html.DropDownListFor(model => model.Address.StateID, Util.GetList(RefType.State, defaultValue: string.Empty, selectedValue: IsExistingUser ? CustomerPersonalInfo.State : string.Empty))*@
@*@Html.DropDownListFor(model => model.Address.StateID, Util.GetList(RefType.State, defaultValue: string.Empty, selectedValue: IsExistingUser ? CustomerPersonalInfo.State : string.Empty))*@
                List<SelectListItem> objStates = Util.GetList(RefType.State);
                if (objStates != null && objStates.Count > 0)
                {
                    objStates = objStates.Where(s => s.Text == CustomerPersonalInfo.State).ToList();

                    if (objStates.Count > 0)
                    {
                        Model.Address.StateID = Convert.ToInt32(objStates[0].Value);
                    }
                    else
                    {
                        Model.Address.StateID = 3;
                    }
                }
                else
                {
                    Model.Address.StateID = 3;
@* @Html.TextBoxFor(model => model.Address.StateID, new { @Value = 3 })*@
               
                }
            @Html.HiddenFor(model => model.Address.StateID)
            }
            else
            {
@* @(Html.Telerik().DropDownListFor(model => model.Address.StateID).BindTo(Util.GetList(RefType.State, defaultValue: "20")))   *@
            
            
            
                Model.Address.StateID = 3;
@* @Html.TextBoxFor(model => model.Address.StateID, new { @Value = 3 })*@
            @Html.HiddenFor(model => model.Address.StateID)
            }

        }
        else
        {
@*@Html.DropDownListFor(model => model.Address.StateID, Util.GetList(RefType.State, defaultValue: "20"))*@
@*@(Html.Telerik().DropDownListFor(model => model.Address.StateID).BindTo(Util.GetList(RefType.State, defaultValue: "20")))  *@
@*@Html.TextBoxFor(model => model.Address.StateID, new { @Value = 3 })*@
@*  @Html.HiddenFor(model => model.Address.StateID, new { @Value = 3 })*@
            Model.Address.StateID = 3;
            @Html.HiddenFor(model => model.Address.StateID)
        }
    </div>
</div>
