﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.PromotionalOffers
@{
    ViewBag.Title = "Select a Promotional Offer";
    var orderVM = new OrderSummaryVM();
    Layout = null;
    if ((OrderSummaryVM)Session["RegMobileReg_OrderSummary"] != null)
    {
        orderVM = (OrderSummaryVM)Session["RegMobileReg_OrderSummary"];
    }

    Session["GuidedSales_Type"] = string.Empty;

    //var bundleNames = Model.OffersList;
    List<string> bundleNames = new List<string>();
    bundleNames.Add("Plan");
    bundleNames.Add("Device Plan");
    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" : string.Empty;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var vasPrimary = Session["SimType"].ToString2() == "MISM" ? "Value Added Services-Primary" : "Value Added Services";
    var vasSecondary = Session["SimType"].ToString2() == "MISM" ? "Value Added Services-Secondary" : "Value Added Services";

    var planList = Model.OffersList.Where(plan => plan.ArticleId == "P").ToList();
    var deviceList = Model.OffersList.Where(device => device.ArticleId != "P").ToList();
}
@using (Html.BeginForm("PromoOffers", "Registration", FormMethod.Post, new { id = "frmPromoOffers", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    <div class="vwHeader" style="width: 96%; white-space: nowrap;">
        <table style="width: 104%;">
            <tr>
                <td>
                    <div>@ViewBag.Title</div>
                </td>
                @if (Model.OffersList.Count > 0)
                {
                    <td style="text-align: right ! Important; padding-right: 4%;">
                        <button class="button-continue" type="submit" value="Next" onclick="javascript:return CheckValidationPromo();">
                        </button>
                    </td>
                }
            </tr>
        </table>
    </div>
    <div class="viewInnerBody" style="width: 96%; height: 50%; min-height: 670px!important;">
        <input type="hidden" name="TabNumber" id="TabNumber" />
        <input type="hidden" name="SelectedPgmBdlPkgCompID" id="SelectedPgmBdlPkgCompID" />
        <input type="hidden" name="SimType" id="SimType" />
        <input type="hidden" name="hdnUOMCode" id="hdnUOMCode" />
        <input type="hidden" name="hdnArticleId" id="hdnArticleId" />
        <input type="hidden" name="hdnOfferPrice" id="hdnOfferPrice" />
        <input type="hidden" name="hdnMarketCode" id="hdnMarketCode" />
        <input type="hidden" name="hdnMarketCode" id="hdnDevice" />
        <input type="hidden" name="hdnKenanPackageId" id="hdnKenanPackageId" />
        
        <div>
            <div id="Plan_Error" style="color: Red; font-weight: bold; font-size: 16px;">
            </div>
            <table width="750px">
                <tr>
                    @if (Model.OffersList.Count > 0)
                    {
                        <td valign="middle">
                            @{ var i = 0; }
                            @{int Pckcnt = 0;}
                            @Html.ValidationSummary(false)
                            @foreach (var bundleName in bundleNames)
                            {
                                Pckcnt = planList.Count;
                                if (bundleName != "Plan")
                                {
                                    Pckcnt = deviceList.Count;
                                }
                                if (Pckcnt != 0)
                                {
                                    if (Pckcnt <= 4)
                                    {
                                        i = 0;
                                        var containerName1 = "container1_" + i;
                                        var carouselName1 = "carousel1_" + i;
                                        if (sessionRegType == (int)MobileRegType.DevicePlan)
                                        { 
                                <table width="100%">
                                <tr>
                                <td>
                                
                                <label style="font-size: large; font-weight: bold;">@bundleName.ToUpper()
                                            </label>
                                </td>
                                </tr>
                                    <tr>
                                        <td>
                                            
                                            <div align="center">
                                                    <div id="@(carouselName1)" class="carousel">
                                                        @{
                                            int k = 0;
                                            var offrList = planList;
                                            if (bundleName != "Plan")
                                            {
                                                offrList = deviceList;
                                            }

                                            foreach (var offer in offrList)
                                            {
                                                var btnPlanID = "btnPlanPromo_" + offer.Id;
                                                var btnPlanDetails = "btnPlnPromoDetails_" + offer.UOMCode.ToString2();
                                                var btnDvcOptID = "btnDvcOpt_" + (int)MobileRegDeviceOption.Promotion + "_" + offer.brandid;
                                                if (k == 0)
                                                {                           
                                                 
                                                    <div class="container boxborder" id="@(containerName1)">
                                                                    <div class="well">
                                                                <div id="@btnPlanID" style="display:block;"  onclick="SelectedPromoPlan('@btnPlanID','@offer.Id','@offer.UOMCode','@offer.Price','@offer.ArticleId','@offer.KenanComponent1Id','@btnDvcOptID','@offer.KenanPackageId')" >
                                                                    
                                                                     <div class="ProductImg">
                                                                        <img alt="" src="@Url.Content(offer.ImagePath)" />
                                                                     </div>
                                                                     <div class="ProductInfo">
                                                                        <div class="Price">RM @offer.Price.ToString2()</div>
                                                                        <div class="PlanName"> @offer.UOMCode.ToString2()</div>
                                                                        <div class="Time">@offer.OfferName.ToString2()</div>
                                                                        <div class="ViewLnk btnOption">
                                                                            <a id="@btnPlanDetails" onclick="detailsPlans_OnClick('@btnPlanDetails')">+ View Details</a>
                                                                        </div>
                                                                     </div>
                                                                </div>
                                                                </div>
                                                                </div>
                                                    k = 1;

                                                }
                                                else
                                                {
                                                    <div class="container boxborder" id="@(containerName1)">
                                                            <div class="well">
                                                                <div id="@btnPlanID" style="display:block;"  onclick="SelectedPromoPlan('@btnPlanID','@offer.Id','@offer.UOMCode','@offer.Price','@offer.ArticleId','@offer.KenanComponent1Id','@btnDvcOptID','@offer.KenanPackageId')" >
                                                                    <div class="ProductImg">
                                                                        <img alt="" src="@Url.Content(offer.ImagePath)" />
                                                                     </div>
                                                                     <div class="ProductInfo">
                                                                        <div class="Price">RM @offer.Price.ToString2()</div>
                                                                        <div class="PlanName"> @offer.UOMCode.ToString2()</div>
                                                                        <div class="Time">@offer.OfferName.ToString2()</div>
                                                                        <div class="ViewLnk btnOption">
                                                                            <a id="@btnPlanDetails" onclick="detailsPlans_OnClick('@btnPlanDetails')">+ View Details</a>
                                                                        </div>
                                                                     </div>
                                                                </div>
                                                            </div>
                                                            </div>                                                            
                                                    k = 0;

                                                }


                                                containerName1 = "container_" + i;
                                                carouselName1 = "carousel_" + i;
                                            }
                                                                
                                                            

                                                        }
                                                    </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>                                        
                                        }

                                    }
                                    else
                                    {
                                        var containerName = "container_" + i;
                                        var carouselName = "carousel_" + i;


                                        if (sessionRegType == (int)MobileRegType.PlanOnly)
                                        {
                                        <table>
                                    <tr>
                                        <td>
                                            <label style="font-size: large; font-weight: bold;">@bundleName.ToUpper()
                                            </label>
                                            <div id="@(containerName)" style="width:100%;" >
                                                <div id="@(carouselName)" class="carousel">
                                                    @{
                                            int s = 0;
                                            var offrList = planList;
                                            if (bundleName != "Plan")
                                            {
                                                offrList = deviceList;
                                            }
                                        <div>
                                                                <div>
                                                            
                                        @foreach (var offer in offrList)
                                        {
                                            var btnPlanID = "btnPromoPlan_" + offer.Id;
                                            var btnPlanDetails = "btnPlnPromoDetails_" + offer.UOMCode.ToString2();
                                            if (s == 0)
                                            {

                                                
                                                   <div class="container boxborder PlanDetails" id="@(containerName)">
                                                                    <div class="well">
                                                                <div id="@btnPlanID" style="display:block;"  onclick="SelectedPromoPlan('@btnPlanID','@offer.Id','@offer.UOMCode','@offer.Price','@offer.ArticleId','@offer.KenanComponent1Id','','@offer.KenanPackageId')" >
                                                                    
                                                                     
                                                                     <div class="ProductInfo">
                                                                        <div class="Price">RM @offer.Price.ToString2()</div>
                                                                        <div class="PlanName"> @offer.UOMCode.ToString2()</div>
                                                                        <div class="Time">@offer.OfferName.ToString2()</div>
                                                                        <div class="ViewLnk btnOption">
                                                                            <a id="@btnPlanDetails" onclick="detailsPlans_OnClick('@btnPlanDetails')">+ View Details</a>
                                                                        </div>
                                                                     </div>
                                                                </div>
                                                                </div>
                                                                </div>
                                            

                                              
                                                s = 1;

                                            }
                                            else
                                            {
                                               <div class="container boxborder PlanDetails" id="@(containerName)">
                                                                    <div class="well">
                                                                <div id="@btnPlanID" style="display:block;"  onclick="SelectedPromoPlan('@btnPlanID','@offer.Id','@offer.UOMCode','@offer.Price','@offer.ArticleId','@offer.KenanComponent1Id','','@offer.KenanPackageId')" >
                                                                    
                                                                     
                                                                     <div class="ProductInfo">
                                                                        <div class="Price">RM @offer.Price.ToString2()</div>
                                                                        <div class="PlanName"> @offer.UOMCode.ToString2()</div>
                                                                        <div class="Time">@offer.OfferName.ToString2()</div>
                                                                        <div class="ViewLnk btnOption">
                                                                            <a id="@btnPlanDetails" onclick="detailsPlans_OnClick('@btnPlanDetails')">+ View Details</a>
                                                                        </div>
                                                                     </div>
                                                                </div>
                                                                </div>
                                                                </div>
                                                s = 0;

                                            }

                                            containerName = "container_" + i;
                                            carouselName = "carousel_" + i;
                                        }
                                        </div></div>
                                                    }
                                                </div>
                                            </div>
                                                                                        <br />
                                            <br />
                                        </td>
                                    </tr>
                                </table>

                                        }
                                        i++;
                                        if (Pckcnt <= 4)
                                        {
                                            i = 0;
                                        }
                                    }
                                }
                            }
                        </td>
                    }
                    else
                    {
                        <td style="padding-right: 30px; text-align: center; color: Red" valign="middle">
                            <div>
                                <b>No Plans Available</b>
                            </div>
                        </td> 
                    }
                </tr>
            </table>
        </div>
    </div>
    
                        
}
<script type="text/javascript" language="javascript">

    $.validator.methods.number = function (n, t) {
        return true;
    }

    function SelectedPromoPlan(btnPlanID, offerId, uomCode, offerPrice, articleId, marketCode, btnDvcOptID,PackageID) {
        $('#SelectedPgmBdlPkgCompID').val(offerId);
        $('#hdnUOMCode').val(uomCode);
        $('#hdnArticleId').val(articleId);
        $('#hdnOfferPrice').val(offerPrice);
        $('#hdnMarketCode').val(marketCode);
        $('#hdnKenanPackageId').val(PackageID);
        

        //$('a[id^="btnPromoPlan_"]').parent().parent().css("border", "1px solid #eeeeee");
        $("div[id^='btnPlanPromo_']").parent().parent().css("border-color", "#EEEEEE");
        $('div[id^="btnPromoPlan_"]').parent().parent().css("border-color", "#EEEEEE");
        $('#' + btnPlanID).parent().parent().css("border-color", "#7CB44F");
        

        if (btnDvcOptID != '') {
            $('#SelectedDeviceOption').val(btnDvcOptID);
            $('#hdnDevice').val(1); 
        }
        $('#Plan_Error').hide();
    }

    function CheckValidationPromo() {    
        if ($('#SelectedPgmBdlPkgCompID').val() == '') {
            $('#Plan_Error').html("Please select an offer.");
            return false;
        }
        else {
            $('#TabNumber').val('@MobileRegistrationSteps.MobileNo.ToInt()')


            var url = '@Url.Action("PromoOffers", "Registration")';
            if ($('#hdnDevice').val() == '1') {

                $("#frmSelectDevice").attr("action", url);
            }
            else {

                $("#frmSelectPlan").attr("action", url);
            }
        }

    }

    function detailsPlans_OnClick(btnPlanDetails) {
        var code = btnPlanDetails.substring(14);
        var src = $('#imgPlanDetails').attr("src");
        var indexFrom = src.indexOf("MobileReg_") + 10;
        var indexTo = src.indexOf(".gif");
        var oldCode = src.substring(indexFrom, indexTo);

        src = src.replace(oldCode, "");
        src = src.replace("MobileReg_", "MobileReg_" + code);
        $('#imgPlanDetails').attr("src", src);

        $('#planDetailsWindow').data('tWindow').center().open();
    }
    function validateSimType() {
        var simTypeVal = $("#ddlSimType").val();
        if (simTypeVal == -1) {
            alert("Please Select Sim Type");
            return false;
        }
        else {
            var simType = $('#ddlSimType :selected').text();
            if (simType == 'MISM') {
                alert('Please select more than or equal to 2GB data component');
            }
            $('#SimType').val(simType);
            //document.forms['frmSelectPlan'].submit();
            $("#frmSelectPlan").submit();
        }
    }

      
</script>
