﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "Credit Check Result";
    var isBlacklisted = ViewBag.isBlacklisted;
    var resultMsg = Session["RegMobileReg_ResultMessage"].ToString2();
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
}

@using (Html.BeginForm("BlacklistResult", "Registration", FormMethod.Post, new { id = "frmBlacklistResult", @class = "overlayonsubmit", processmsg = "Loading" }))
{ 
    <div class="vwHeader">
        <table width="100%">
            <tr>
                <td>
                    <div>@ViewBag.Title</div>
                    <div class="vwSubHeader">@ViewBag.Title</div>
                </td>
                @*<td align="right">
                    <button class="button-continue" type="submit" value="Next">
                    </button>
                </td>*@
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
            <div style="font-size:x-large;padding:10px 0px 10px 0px;">@ViewBag.Title</div>
            <table width="100%" style="text-align:center;">
                @if (isBlacklisted)
                {
                    <tr>
                        <td style="font-weight:bold;">
                            @Html.Raw(resultMsg)
                            
                        </td>
                        <td>@Html.Hidden("isBlacklisted", true)</td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Hidden("submit")
                            <button class="button-back2" type="submit" value="Back" onclick="$('#submit').val('back');">
                            </button>
                        
                            <button class="button-skip" type="submit" value="Skip" onclick="$('#submit').val('skip');">
                            </button>
                        </td>
                    </tr>
                }
                else
                {
                    @*<tr>
                        <td style="font-size:large;font-weight:bold;">Clean!</td>
                    </tr>*@
                    <tr>
                        <td style="font-weight:bold;">
                            No outstanding amount has been found.<br />
                            Would you like to proceed to register?
                            @Html.Hidden("isBlacklisted", false)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Hidden("submit")
                            <button class="button-back2" type="submit" value="Back" onclick="$('#submit').val('back');">
                            </button>
                            <button class="button-continue2" type="submit" value="Next" onclick="$('#submit').val('next');">
                            </button>
                        </td>
                    </tr>
                }
            </table>
    </div>
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            if ( @(sessionRegType) == @(PlanOnly)) {
                if($('#menuPlan').length > 0) {$('#menuPlan').css("background-image", $('#menuPlan').css("background-image").replace(".png", "_hover.png"));}
            }
            else if ( @(sessionRegType) == @(DeviceOnly)) {
                $('#menuDevice').css("background-image", $('#menuDevice').css("background-image").replace(".png", "_hover.png"));
            }
            else {
                $('#menuDevicePlan').css("background-image", $('#menuDevicePlan').css("background-image").replace(".png", "_hover.png"));
            }
        });
    </script>
}