﻿@using System.Configuration;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@using Online.Registration.Web.Models;

@using Online.Registration.Web.Helper;
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    if (Roles.IsUserInRole("MREG_TL"))
    {
        ViewBag.Title = "Mobility Cashier - TL";
    }
    else
    {
        ViewBag.Title = "Mobility Cashier";
    }

    bool isSPV = Roles.IsUserInRole("MREG_SV") ? true : false;

    bool VIPmsg = false;
    VIPmsg = Session["VIPFailMsg"].ToBool();
    Session["VIPFailMsg"] = null;
    
    var interval = ConfigurationManager.AppSettings["TimerInterval"].ToString();
    bool isDealer = Session["IsDealer"].ToBool();
    }
@model Online.Registration.Web.ViewModels.CashierVM

<head>
    
</head>

@using (Html.BeginForm("Cashier", "Registration", FormMethod.Post, new { id = "frmCashier", @class = "overlayonsubmit", processmsg = "Loading" }))
{ 
    <div id="wrapper">
        <div id="maincontentcontainer">
            <div id="center">
                <div class="center_box">                    
                    <div id="invHeader" class="content inventory-header">                                                           
                          <div class="inventory-header-box">
                            <div class="inventory-hdr-title">
                                Mobility Cashier</div>
                            <div class="inventory-hdr-body">
                                <table>
                                    <tr>
                                        <td><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.RegID)</b></td>
                                        <td  width="200px"><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.IDCardNo)</b></td>
                                         @if(isDealer)
                                        {                                                                             
                                            <td><b><label>Customer</label></b></td>
                                            <td><b><label>MSISDN</label></b></td>                                                                                                                                                                    
                                        }
                                        <td  width="200px"><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.StatusID)</b></td>
                                        <td  width="200px"><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.Criteria)</b></td>
                                        <td  width="200px"><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.SimSerial)</b></td>
                                        <td  width="200px"><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.ImeiNumber)</b></td>                                    
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td  width="200px">@Html.TextBoxFor(model => model.RegistrationSearchCriteria.RegID, new { style = "width:120px" })</td>
                                        <td width="200px">@Html.TextBoxFor(model => model.RegistrationSearchCriteria.IDCardNo, new { style = "width:120px" })</td>
                                         @if(isDealer)
                                        {                                                                                                                
                                            <td width="200px">@Html.TextBoxFor(model => model.RegistrationSearchCriteria.CustName, new { style = "width:120px" })</td>
                                            <td width="200px">@Html.TextBoxFor(model => model.RegistrationSearchCriteria.MSISDN, new { style = "width:120px" })</td>                                    
                                        }

                                        <td width="200px" valign="bottom">@Html.Telerik().DropDownListFor(model => model.RegistrationSearchCriteria.StatusID).BindTo(Util.GetCashierList(STATUSTYPE.Registration).Where(e => e.Text != "Account Pending Create"))</td>
                                        <td width="200px" valign="bottom">@Html.Telerik().DropDownListFor(model => model.RegistrationSearchCriteria.Criteria).BindTo(Util.GetCriteriaList(isDealer))</td>
                                        
                                        <td  width="200px">@Html.TextBoxFor(model => model.RegistrationSearchCriteria.SimSerial, new { style = "width:120px" })</td>
                                        <td width="200px">@Html.TextBoxFor(model => model.RegistrationSearchCriteria.ImeiNumber, new { style = "width:120px" })</td>

                                        <td width="200px" valign="bottom">
                                            <img alt="Search" title="Search" id="btnSearch" src='@Url.Content("~/Content/img/shared/iSELL-Search-Button.jpg")' style="cursor:pointer;" onclick="validateInput();"/>
                                        </td>                                    
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both;">
                    </div>
                    <div class="content_white">
                        <div class="inventory-result-wrapper">
                                @{
    //var URL = "~/Registration/WebPos/";
    Html.Telerik().Grid(Model.RegistrationSearchResults)
        .Name("gvwRegistration")
        .Footer(false).Scrollable(a => a.Enabled(true).Height(380))
        .TableHtmlAttributes(new { style = "border-radius:10px;" })
        .Selectable().DataKeys(a => a.Add("RegID"))
        .ClientEvents(events => events.OnRowSelect("onRowSelected"))
        .NoRecordsTemplate("No records to display")
                                        @*VLT ADDED CODE by Rajeswari on 22nd Feb FOR SORTING REGDATE DESC ORDER *@
.Sortable(sorting => sorting
        .OrderBy(sortOrder => sortOrder.Add(m => m.RegDate).Descending()))
                                        @*VLT ADDED CODE ENDS by Rajeswari on 22nd Feb FOR SORTING REGDATE DESC ORDER *@
.Columns(cols =>
{
    cols.Bound(m => m.RegType).Hidden();
    cols.Bound(m => m.RegTypeDescription).Title("Reg Type ").Width("100px");
    cols.Bound(m => m.RegID).Title("ID").Width("80px");
    cols.Bound(m => m.CustomerName).Title("Customer").Width("120px");
    cols.Bound(m => m.IDCardNo).Title("ID Card <br/>No").Width("80px");
    if (isDealer == false  )
    { 
    cols.Bound(m => m.QueueNo).Title("Queue <br/>No").Width("70px");
    }
    cols.Bound(m => m.RegDate).Title("Created<br/> Date").Width("115px"); @* Added by VLT for RegDate Sorting *@
    cols.Bound(m => m.Status).Title("Status").Width("100px");
    cols.Bound(m => m.LastAccessID).Title("Last <br/>Access ID").Width("100px");
    if (Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("MREG_DCH") || Roles.IsUserInRole("MREG_DAC") || Roles.IsUserInRole("MREG_DIC"))
    {
        cols.Bound(m => m.MSISDN).Title("MSISDN").Width("120px");
    }
    
    cols.Bound(m => m.CriteriaType).Hidden();
    cols.Template(@<span>@Util.GetCriteriaTypeName(item.CriteriaType)    
    
@*    @if (isDealer == true  )
    {         
      
        if (item.Status == "Ready For Payment")
        {
            <a href='../Registration/WebPos?regid=@item.RegID.ToString2()'>
            <img src= "../Content/images/ledgreen.png" alt="WebPos" style="width: 16px; height: 16px;" />
            </a>
        }                       
                  
    }*@

    </span>).Title("Trans <br/>Type").Width("80px");
    cols.Bound(m => m.CRPType).Hidden().HtmlAttributes(new { @id = "crpType" });
    cols.Bound(m => m.IsVIP).Hidden();
})
        .Render();
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}

@section Scripts{
    <script type="text/javascript" language="javascript" >
  
        //javascript added by ravi when pressed enter key on Feb 12 2014
        $(document).keypress(function (e) {
            if (e.which == 13) {
                document.getElementById('btnSearch').click();
                return false;
            } else {
                return true;
            }
        });
        //javascript added by ravi when pressed enter key on Feb 12 2014 ends here


        // VLT ADDED CODE by Rajeswari on 22nd Feb to refresh the grid for every 1 min
        $(function () {
            setInterval(loadTable, '@interval');  // invoke load every second
            loadTable(); // load on initial page loaded
        });

        function loadTable() {
            $('#viewInnerBody').load('/Registration/SearchRegistration');
        }
        // VLT ADDED CODE ENDS here by Rajeswari on 22nd Feb to refresh the grid for every 1 min


        $(document).ready(function () {
            if ($('#menuPlanSearch').length > 0) {
                $('#menuPlanSearch').css("background-image", $('#menuPlanSearch').css("background-image").replace(".png", "_hover.png"));
            }

            if ('@(VIPmsg)' == "True") {
                alert("You are trying to view order for VIP Customer. Redirect back to inventory page");
            }
        });

        function onRowSelected(e) {
            var ordersGrid = $('#gvwRegistration').data('tGrid');
            regTypeID = e.row.cells[0].innerHTML;
            //alert(regTypeID);
            regID = e.row.cells[2].innerHTML;
            
            vipcust = e.row.cells[e.row.cells.length - 1].innerHTML;

            if (vipcust != null && vipcust != "" && vipcust == "1" && '@(isSPV)' == "False") {
                alert("This is VIP customer, for details contact your supervisor");
            }
            else {
                isDSP = e.row.cells['crpType'].innerHTML;
                var trans_type = e.row.cells[9].innerHTML;
                if (regTypeID == 8)
                    window.location.href = '@(Url.Content("~/SuppLine/MobileRegSummary/"))' + regID;

                else if (regTypeID == 6)
                    window.location.href = '@(Url.Content("~/DeviceSales/CustomerSummary/"))' + regID;

                else if (regTypeID == 9)
                    window.location.href = '@(Url.Content("~/NewLine/MobileRegSummary/"))' + regID;
                else if (regTypeID == 11)
                    window.location.href = '@(Url.Content("~/SuppLine/MobileRegSummary/"))' + regID
                else if (regTypeID == 12)
                    window.location.href = '@(Url.Content("~/NewLine/MobileRegSummary/"))' + regID;
                else if (regTypeID == 13)
                    window.location.href = '@(Url.Content("~/AddRemoveVAS/MobileRegSummary/"))' + regID;
                else if (regTypeID == 14)
                    window.location.href = '@(Url.Content("~/QSimReplacement/CustomerSummary/"))' + regID;
                else if (regTypeID == 19)
                    window.location.href = '@(Url.Content("~/Registration/MobileRegSummary/"))' + regID;
                else if (regTypeID == 24)
                    window.location.href = '@(Url.Content("~/CRP/SK_CashierSummary?regid="))' + regID;
                else if (regTypeID == 27)
                    window.location.href = '@(Url.Content("~/SuppLine/SecondaryLineRegSummary?regid="))' + regID;
                else if (regTypeID == 36)
                    window.location.href = '@(Url.Content("~/AddContract/MobileRegSummary?regid="))' + regID;
                else if (regTypeID == 41)
                    window.location.href = '@(Url.Content("~/Accessory/CustomerSummary/"))' + regID;
                else if (trans_type == "S")
                    window.location.href = '@(Url.Content("~/Cashier/Cashier/MobileRegSummary?regid="))' + regID;
                else if (isDSP == "DSP")
                    window.location.href = '@(Url.Content("~/SuppLine/MobileRegSummary/"))' + regID;
                else
                    window.location.href = '@(Url.Content("~/Registration/MobileRegSummary/"))' + regID;
            }
        }

        function validateInput() {

            $('#RegistrationSearchCriteria_RegID').val($.trim($("#RegistrationSearchCriteria_RegID").val()));
            $('#RegistrationSearchCriteria_IDCardNo').val($.trim($("#RegistrationSearchCriteria_IDCardNo").val()));
            $('#RegistrationSearchCriteria_QueueNo').val($.trim($("#RegistrationSearchCriteria_QueueNo").val()));
            //document.forms['frmCashier'].submit();
            $("#frmCashier").submit();
        }
</script>  
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/html5reset.css")" media="all" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/responsivegridsystem.css")" media="all" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/col.css")" media="all" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/4cols.css")" media="all" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/tabcontent.css")" media="all" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/jquery-ui/jquery.ui.all.css")" />
<link type="text/css" href="@Url.Content("~/Content/2012.2.607/telerik.common.min.css")" rel="stylesheet" />
<link type="text/css" href="@Url.Content("~/Content/2012.2.607/telerik.office2010silver.min.css")" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.css")" />
@{                    
        Html.Telerik()
            .ScriptRegistrar()
            .DefaultGroup(grp => grp
                .Add("jquery.validate.min.js")
                .Add("jquery.validate.unobtrusive.min.js")
                .Add("jquery.unobtrusive-ajax.js")
                .Add("jquery-ui-1.8.20.min.js")
                .Add("ZeroClipboard.js")
                .Add("jquery.blockUI.js")
                .Add("modernizr-2.5.3.js")
                .Add("jquery-ui-timepicker-addon.js")
                .Add("flashcanvas.js")
                .Add("jSignature.min.js")
                .Add("jquery.ui.core.js")
                .Add("jquery.ui.widget.js")
                .Add("jquery.ui.rcarousel.js")
                .Add("jquery.tabletojson.min.js")
                .Add("scripts.js")
                .Add("core.js")
            ).Render();
    }
