﻿@using System.Configuration;
@using Online.Registration.Web.Helper;
@using System.Web.Security;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.SuperVisonforWaiverOffVM
@{
     
    var interval = ConfigurationManager.AppSettings["TimerInterval"].ToString();

    int RecordsCount=0;
    
    var currentTab = Model.RegistrationSearchCriteria.TabNo;
    
    if (currentTab==1)
    {
        RecordsCount = Model.RegistrationSearchResults == null ? 0 : Model.RegistrationSearchResults.Count();
    }
    else
    {
        RecordsCount = Model.RegistrationSearchResultsFO == null ? 0 : Model.RegistrationSearchResultsFO.Count();
        Model.RegistrationSearchCriteria.RegID = string.Empty;
    }
    bool IsHQUser = false;
    ViewBag.Title = "CDPU Approval Dashboard";
    string Username = Util.SessionAccess.UserName;
    
}
<!-- Centre column area -->
@**@
<div class="wrapper">
    <div id="maincontentcontainer">
        <div id="center">
            @using (Html.BeginForm("CDPUDashBoard", "Registration", FormMethod.Post, new { id = "frmSupervisor", @class = "overlayonsubmit", processmsg = "Loading" }))
            {
                <div class="header-title">
                    @ViewBag.Title
                </div>
                <div class="center_box" style="border-top: 1px solid #cccccc;">
                    @Html.HiddenFor(model => model.RegistrationSearchCriteria.TabNo)
                    @Html.HiddenFor(model => model.RegistrationSearchCriteria.SearchType)
                    @Html.HiddenFor(model => model.RegistrationSearchCriteria.SelectedRecs)
                    @Html.HiddenFor(model => model.RegistrationSearchCriteria.RegID)
                    @Html.HiddenFor(model => model.RegistrationSearchCriteria.ServiceTypeDescription)
                    @Html.Hidden("hdnPagger")
                    @Html.Hidden("AccessName", Username)
                    <div class="content_white">
                        <div id="divError" style="color: Red; padding: 0px 20px;">
                        </div>
                        @if (TempData["DashBoardSucess"] != null && TempData["DashBoardSucess"].ToString2().Length > 0)
                        {
                            <div style='text-align: center; color: Green; font-weight: bold;'>
                                @TempData["DashBoardSucess"].ToString()
                            </div>                       
                        }
                        else if (TempData["DashBoardError"] != null && TempData["DashBoardError"].ToString2().Length > 0)
                        {
                            <div style='color: Red; font-weight: bold'>
                                @TempData["DashBoardError"].ToString()
                            </div>
                        }
                    </div>
                    @{
                        TempData["DashBoardSucess"] = string.Empty;
                        TempData["DashBoardError"] = string.Empty;
                    }
                    <div class="content_white" style="padding: 0px 20px;">
                        <ul class="tabs" id="tabSVdash" style="background: #fff; text-align: left;">
                            @if (currentTab == 1)
                            {
                                <li class="selected" ><a id="ancWaiveBre" href="#view1"><b>BRE Failed</b></a></li>
                                //<li><a href="#view2" id="ancFail" ><b>Failed Orders</b></a></li>
                            }
                            else
                            {
                                <li><a href="#view1" id="ancWaiveBre" ><b>BRE Failed</b></a></li>
                                //<li class="selected"  id="ancFail" ><a href="#view2"><b>Failed Orders</b></a></li>
                            }
                        </ul>
                        <div class="tabcontents">
                            <!-- Tab1 Start-->
                            <div id="view1">
                                <table border="0" cellpadding="0" cellspacing="0" class="waiver">
                                    <tr>
                                        <td style="padding: 0px;">
                                            <div id="accordion" class="ui-search">
                                                <h3 align="left">
                                                    Quick Search</h3>
                                                <div>
                                                    <table cellpadding="0" cellspacing="0" border="0">
                                                        <tr>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.RegistrationSearchCriteria.RegID)</b>
                                                            </td>
                                                            <td>
                                                            <input type="text" id="txtWaiverRegId"    name="RegistrationSearchCriteria.RegID" />
                                                            </td>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.RegistrationSearchCriteria.MSISDN)</b>
                                                            </td>
                                                            <td>
                                                            <input type="text" id="RegistrationSearchCriteria_MSISDN" name="RegistrationSearchCriteria.MSISDN" />
                                                            </td>
                                                            <td>

                                                            <img alt="Search" title="Search" id="btnSearch" src='@Url.Content("~/Content/img/shared/iSELL-Search-Button.jpg")' style="cursor:pointer;" onclick="validateInputForQuickSearchForTab1(0);" />
                                                               
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <h3 align="left">
                                                    Advance Search</h3>
                                                <div>
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.RegistrationSearchCriteria.ServiceType)</b>
                                                            </td>
                                                            <td>@Html.Telerik().DropDownListFor(model => model.RegistrationSearchCriteria.ServiceType).BindTo(Util.GetList(RefType.RegTypeWaiveOff, defaultValue: Model.RegistrationSearchCriteria.ServiceType == null ? "0" : Model.RegistrationSearchCriteria.ServiceType, defaultText: Model.RegistrationSearchCriteria.ServiceTypeDescription == null ? "Please Select" : Model.RegistrationSearchCriteria.ServiceTypeDescription)).HtmlAttributes(new { style = "width: 200px;", @id = "serviceTypeSelected" })
                                                            </td>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.RegistrationSearchCriteria.SelectedOrganization)</b>
                                                            </td>
                                                            <td>@Html.Telerik().DropDownListFor(model => model.RegistrationSearchCriteria.SelectedOrganization).BindTo(Util.GetList_CDPU_OrgID()).HtmlAttributes(new { style = "width: 300px;" })
                                                            </td>
                                                            <td>
                                                                <b>@*@Html.LabelFor(model => model.RegistrationSearchCriteria.AcknowledgedBy)*@</b>
                                                            </td>
                                                            <td>@*@Html.Telerik().DropDownListFor(model => model.RegistrationSearchCriteria.AcknowledgedBy).BindTo(Util.GetAcknowledgedUsersForWaiveOff()).HtmlAttributes(new { style = "width: 150px;" })*@
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.RegistrationSearchCriteria.RegDateFrom)</b>
                                                            </td>
                                                            <td>@Html.Telerik().DatePickerFor(model => model.RegistrationSearchCriteria.RegDateFrom).Max(new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day)).Format("dd/MM/yyyy")
                                                            </td>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.RegistrationSearchCriteria.RegDateTo)</b>
                                                            </td>
                                                            <td>@Html.Telerik().DatePickerFor(model => model.RegistrationSearchCriteria.RegDateTo).Max(new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day)).Format("dd/MM/yyyy")
                                                            </td>
                                                            <td>@Html.CheckBox("chktoday")<b>Today</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.RegistrationSearchCriteria.TransactionStatus)</b>
                                                            </td>
                                                            <td>@Html.Telerik().DropDownListFor(model => model.RegistrationSearchCriteria.TransactionStatus).BindTo(Util.GetCDPUApprovalStatus()).HtmlAttributes(new { style = "width: 200px;" })
                                                            </td>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.RegistrationSearchCriteria.Approver)</b>
                                                            </td>
                                                            <td colspan="2">@Html.Telerik().DropDownListFor(model => model.RegistrationSearchCriteria.Approver).BindTo(Util.GetAcknowledgedUsersForWaiveOff()).HtmlAttributes(new { style = "width: 300px;" })
                                                            </td>
                                                            @if (IsHQUser)
                                                            {
                                                                <td>
                                                                    <b>@Html.LabelFor(model => model.RegistrationSearchCriteria.SelectedOrganization)</b>
                                                                </td>
                                                                <td colspan="2">@Html.Telerik().DropDownListFor(model => model.RegistrationSearchCriteria.SelectedOrganization).BindTo(Util.GetAllOrganizationsForWaiveOff()).HtmlAttributes(new { style = "width: 300px;" })
                                                                </td>
                                                    
                                                                <td>
                                                                    <img alt="Search" title="Search" id="btnAdvSearch" src='@Url.Content("~/Content/img/shared/iSELL-Search-Button.jpg")' style="cursor:pointer;" onclick="validateInputForAdvancedSearchForTab1(1);" />
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                    
                                                                <td>
                                                                    <img alt="Search" title="Search" id="btnAdvSearch" src='@Url.Content("~/Content/img/shared/iSELL-Search-Button.jpg")' style="cursor:pointer;" onclick="validateInputForAdvancedSearchForTab1(1);" />
                                                                </td>
                                                                @*<td>
                                                                </td>
                                                                <td>
                                                                </td>
                                                                <td>
                                                                </td>*@
                                                            }
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td align="right">
                                                        <input class="submitButton" type="button" value="Export to Excel" onclick="exportToExcelForTab1();" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                @{
                                                            Html.Telerik().Grid(Model.RegistrationSearchResults)
                                                                .Name("gvwRegistrationBreFail")
                                                                .Footer(true).Scrollable(a => a.Enabled(true).Height(380))
                                                                .HtmlAttributes(new { style = "width:100%;" })
                                                                .TableHtmlAttributes(new { id = "tblResults", style = "border-radius:10px;" })
                                                                .Selectable().DataKeys(a => a.Add("RegID"))
                                                                .ClientEvents(events => events.OnRowSelect("onRowSelected"))
                                                                .NoRecordsTemplate("No records to display")
                                                                .Sortable(sorting => sorting
                                                                .OrderBy(sortOrder => sortOrder.Add(m => m.RegID).Descending()))
                                                                .Pageable(pager => pager.PageSize(10))
                                                                .Columns(cols =>
                                                                {
                                                                    cols.Bound(m => m.RegTypeID).Hidden();
                                                                    cols.Bound(m => m.TranType).Hidden();
                                                                    cols.Bound(m => m.RegID).Title("Registration ID").Width("8%");
                                                                    cols.Bound(m => m.RegDate).Title("Date").Width("6%");
                                                                    cols.Bound(m => m.CustomerName).Title("Name").Width("6%");
                                                                    cols.Bound(m => m.IC).Title("IC").Width("6%");
                                                                    cols.Bound(m => m.MSISDN).Title("MSISDN").Width("6%");
                                                                    cols.Bound(m => m.ServiceType).Title("Service Type").Width("8%");
                                                                    cols.Bound(m => m.DealerName).Title("Dealer Name").Width("6%");
                                                                    cols.Bound(m => m.DealerCode).Title("Dealer Code").Width("6%");
                                                                    cols.Bound(m => m.SalesStaffCode).Title("Sales staff code").Width("6%");
                                                                    //cols.Bound(m => m.FailedBREDetails).Title("BRE failure type").Width("13%");
                                                                    cols.Bound(m => m.FailedBREDetails).Title("BRE failure/Exceptional Case").Width("13%");
                                                                    cols.Bound(m => m.Justification).Title("Justification").Width("6%");
                                                                    cols.Bound(m => m.TransactionStatus).Title("Approval status").Width("6%");
                                                                    cols.Bound(m => m.TransactionDT).Title("Approved Date").Width("7%");
                                                                    cols.Bound(m => m.TransactionBy).Title("Approver").Width("6%");
                                                                    cols.Bound(m => m.IsLockedBy).Title("Lock").Width("4%").Template(@<text>
                                    @if (item.TransactionStatus == Constants.StatusCDPUPending)
                                    {
                                        if (!string.IsNullOrEmpty(item.IsLockedBy))
                                        { 
                                            <p id="@item.RegID">Locked By @item.IsLockedBy</p>
                                        @*<input id="@item.RegID+'checkedOperations'" name="checkedOperations" type="checkbox" class='chkapproved' value="@item.RegID"
                                        title="Approved" disabled='disabled' checked="checked" />*@
                                        }
                                        else
                                        { 
                                            <p id="@item.RegID">@item.IsLockedBy</p>
                                        <input id="@item.RegID" name="checkedOperations" type="checkbox" class='chkapproved' value="@item.RegID"
                                        title="Approve" />
                                        }

                                    }
                                    @*else
                                    {

                                        if (!ReferenceEquals(item.TransactionBy, null))
                                        { 
                                            <label id="@item.RegID+'label'">kucing</label>
                                        <input id="@item.RegID+'checkedOperations'" name="checkedOperations" type="checkbox" class='chkapproved' value="@item.RegID"
                                        title="Approved" disabled='disabled' checked="checked" />                                                                                                                                                                       
                                        }

                                        else
                                        {
                                            <label id="@item.RegID+'label'">kucing</label>
                                        <input id="@item.RegID+'checkedOperations'" name="checkedOperations" type="checkbox" class='chkapproved' value="@item.RegID"
                                    title="Approve" />
                                        }
                                    }*@
                                    </text>).Width("100px");
                                                                    cols.Bound(m => m.CRPType).Hidden();
                                                                })
                                                                //.ClientEvents(events => events.OnLoad("gridAjaxBound"))
                                                                                        .Resizable(resizing => resizing.Columns(true))
                                                                                        .Render();
                                                                
                                }
                                @*@if (RecordsCount > 0 && (IsHQUser == false))
                                {
                                    <table width="100%">
                                        <tr>
                                            <td align="right">
                                                <input id="btnApprove" class="submitButton" type="submit" value="Approve" onclick="return SaveRecords();" />
                                            </td>
                                        </tr>
                                    </table>
                                }*@
                            </div>
                            <!-- Tab1 End-->
                            <!-- Tab2 Start-->
                           @* <div id="view2">
                                <table cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td style="padding: 0px;">
                                            <div id="" class="ui-search">
                                                <h3 align="left">
                                                    Quick Search</h3>
                                                <div>
                                                    <table cellpadding="0" cellspacing="0" border="0">
                                                        <tr>
                                                            <td style="white-space: nowrap;">
                                                                <b>@Html.LabelFor(model => model.RegistrationSearchCriteria.RegID)</b>
                                                            </td>
                                                            <td>
                                                                <input type="text" id="RegIDFO" name="" />
                                                                
                                                            </td>
                                                            <td>
                                                                <b>
                                                                @Html.LabelFor(model => model.RegistrationSearchCriteria.MSISDN)
                                                                </b>
                                                            </td>
                                                            <td>

                                                                <input type="text" id="MSISDNFO" />

                                                            
                                                            </td>
                                                            <td style="white-space: nowrap;">
                                                                <b>@Html.LabelFor(model => model.RegistrationSearchCriteria.IDNO)
                                                                </b>
                                                            </td>
                                                            <td>
                                                            <input type="text" id="IDNOFO" />
                                                            
                                                            </td>
                                                            <td>
                                                            <img alt="Search" title="Search" id="btnQuickSearchFO" src='@Url.Content("~/Content/img/shared/iSELL-Search-Button.jpg")' style="cursor:pointer;" onclick="validateInputForQuickSearchForTab2(0);" />
                                                             
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <h3 align="left">
                                                    Advance Search</h3>
                                                <div>
                                                    <table cellpadding="0" cellspacing="0" border="0">
                                                        <tr>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.RegistrationSearchCriteria.ServiceType)</b>
                                                            </td>
                                                            <td>@Html.Telerik().DropDownListFor(model => model.RegistrationSearchCriteria.ServiceTypeFo).BindTo(Util.GetAllRegistrationTypes()).HtmlAttributes(new { style = "width: 180px;" })
                                                            </td>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.RegistrationSearchCriteria.CreatedBy)</b>
                                                            </td>
                                                            <td>@Html.Telerik().DropDownListFor(model => model.RegistrationSearchCriteria.CreatedByFo).BindTo(Util.GetCreatedByUsersForWiveOff()).HtmlAttributes(new { style = "width: 150px;" })
                                                            </td>
                                                            @if (IsHQUser)
                                                            {
                                                                <td>
                                                                    <b>@Html.LabelFor(model => model.RegistrationSearchCriteria.SelectedOrganization)</b>
                                                                </td>
                                                                <td>@Html.Telerik().DropDownListFor(model => model.RegistrationSearchCriteria.SelectedOrganization).BindTo(Util.GetAllOrganizationsForWaiveOff()).HtmlAttributes(new { style = "width: 270px;" }).Name("RegistrationSearchCriteria.SelectedOrganizationFo")
                                                                </td>
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.RegistrationSearchCriteria.RegDateFrom)</b>
                                                            </td>
                                                            <td>@Html.Telerik().DatePickerFor(model => model.RegistrationSearchCriteria.RegDateFromFo).Max(new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day)).Format("dd/MM/yyyy")
                                                            </td>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.RegistrationSearchCriteria.RegDateTo)</b>
                                                            </td>
                                                            <td>@Html.Telerik().DatePickerFor(model => model.RegistrationSearchCriteria.RegDateToFo).Max(new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day)).Format("dd/MM/yyyy")
                                                            </td>
                                                            <td>@Html.CheckBox("chktodayfo")<b>Today</b>
                                                            </td>
                                                            <td>
                                                             <img alt="Search" title="Search" id="btnAdvSearchFO" src='@Url.Content("~/Content/img/shared/iSELL-Search-Button.jpg")' style="cursor:pointer;" onclick="validateInputForAdvancedSearchForTab2(1);" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            
                                        </td>
                                    </tr>
                                </table>
                                @{
                                                            Html.Telerik().Grid(Model.RegistrationSearchResultsFO)
                                                                .Name("gvwRegistrationFO")
                                                                .Footer(true).Scrollable(a => a.Enabled(true).Height(380))
                                                                        .HtmlAttributes(new { style = "width:996px;" })
                                                                        .Selectable().DataKeys(a => a.Add("RegID"))
                                                                        .ClientEvents(events => events.OnRowSelect("onRowSelected"))
                                                                        .TableHtmlAttributes(new { style = "border-radius:10px;" })
                                                                        .NoRecordsTemplate("No records to display")
                                                                        .Pageable(pager => pager.PageSize(10))
                                                                        .Sortable(sorting => sorting
                                                                        .OrderBy(sortOrder => sortOrder.Add(m => m.RegID).Descending()))
                                                                        .Columns(cols =>
                                                                        {
                                                                            cols.Bound(m => m.RegTypeID).Hidden();
                                                                            cols.Bound(m => m.TranType).Hidden();
                                                                            cols.Bound(m => m.RegID).Title("Registration ID").Width("85px");
                                                                            cols.Bound(m => m.RegDate).Title("Date").Width("70px");
                                                                            cols.Bound(m => m.CustomerName).Title("Name").Width("150px");
                                                                            cols.Bound(m => m.IC).Title("IC").Width("80px");
                                                                            cols.Bound(m => m.MSISDN).Title("MSISDN").Width("80px");
                                                                            cols.Bound(m => m.ServiceType).Title("Service Type").Width("100px");
                                                                            cols.Bound(m => m.CreatedBy).Title("Created By").Width("60px");
                                                                        })
                                                                        .Render();
                                }
                            </div> 
                *@
                            <!-- Tab2 End-->
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var timerinstance;
        var counttimer;
        var baseUrl = '@Url.Content("~/")';
        if (baseUrl == '') {
            baseUrl = '/';
        }

        function loadTable() {
            clearInterval(timerinstance);
            var pageloc = $('#gvwRegistrationBreFail .t-grid-pager .t-pager .t-numeric .t-state-active').html();
            window.location.assign('@(string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Registration/CDPUDashBoard?RefreshSession=1&gvwRegistrationBreFail-page=")))'+pageloc);
            timerinstance = setInterval(loadTable, '@interval');
        }
        function refreshGrid() {
            $(".t-grid .t-refresh").trigger('click');
        }

        //code for row select
        function onRowSelected(e) {
            var ordersGrid = $('#gvwRegistration').data('tGrid');
            regTypeID = e.row.cells[0].innerHTML;
            var trans_type = e.row.cells[1].innerHTML;
            regID = e.row.cells[2].innerHTML;
            isDSP = e.row.cells[e.row.cells.length - 1].innerHTML;
            debugger;
            var page = 'cdpudashboard';
            if (regTypeID == 8)
                window.location.href = '@(Url.Content("~/SuppLine/MobileRegSummary/"))' + regID + '?pageName=' + page;
            else if (regTypeID == 9)
                window.location.href = '@(Url.Content("~/NewLine/MobileRegSummary/"))' + regID + '?pageName=' + page;
            else if (regTypeID == 11)
                window.location.href = '@(Url.Content("~/SuppLine/MobileRegSummary/"))' + regID + '?pageName=' + page;
            else if (regTypeID == 12)
                window.location.href = '@(Url.Content("~/NewLine/MobileRegSummary/"))' + regID + '?pageName=' + page;
            else if (regTypeID == 13)
                window.location.href = '@(Url.Content("~/AddRemoveVAS/MobileRegSummary/"))' + regID + '?pageName=' + page;

            else if (regTypeID == 14)
                window.location.href = '@(Url.Content("~/QSIMReplacement/CustomerSummary/"))' + regID + '?pageName=' + page;
            else if (regTypeID == 19)
            // RegTypeID 19 is being used only for CRP Plan only. Please dont change below line and recommand to use another ID. Kotesh on 02/July/2013 1.00 AM.
                window.location.href = '@(Url.Content("~/Registration/MobileRegSummary/"))' + regID + '?pageName=' + page;
            else if (regTypeID == 24)
                window.location.href = '@(Url.Content("~/CRP/SK_MobileRegSummary/"))' + regID + '?pageName=' + page;
            else if (regTypeID == 25)
                window.location.href = '@(Url.Content("~/SuppLine/SecondaryLineRegSummary/"))' + regID + '?pageName=' + page;
            else if (regTypeID == 27)
                window.location.href = '@(Url.Content("~/SuppLine/SecondaryLineRegSummary?regid="))' + regID + '?pageName=' + page;
//            else if (trans_type == "S")
//                window.location.href = '(Url.Content("~/Storekeeper/Storekeeper/MobileRegSummary?regid="))' + regID + '&page=' + page;
            else if (isDSP == "DSP")
                window.location.href = '@(Url.Content("~/SuppLine/MobileRegSummary/"))' + regID + '?pageName=' + page;
            else if (regTypeID == 36)
                window.location.href = '@(Url.Content("~/AddContract/MobileRegSummary/"))' + regID;
            else
                window.location.href = '@(Url.Content("~/Registration/MobileRegSummary/"))' + regID + '?pageName=' + page;
               
            return false;
        }
        //completed

        function LockRegID(regID) {
            var AccessName = $('#AccessName').val();
            var postUrl = '@(Url.Content("~/Registration/LockRegID"))';
            $.post(postUrl, { regID: regID, AccessName: AccessName },
                function (data) {
                    if (data == "Success") {
                        //refreshGrid();
                        location.reload(true);
                        //document.location.href = '@(Url.Content("~/Registration/CDPUDashbBoard/"))';
                        //alert("Success");
                        return false;
                    }
                    else {
                        alert(data);
                    }
                }
            );
            return false;
        };

        gridAjaxBound = function (evt) {
            //            var grid = $(evt.target);
            //console.log("data bound on telerik");
            //var grid = $("#gvwRegistrationBreFail");
            //debugger;
            //$("#hdnPagger").val($("#gvwRegistrationBreFail .t-grid-pager .t-pager .t-numeric .t-state-active").val());
        };

        $(document).ready(function () {
            $('.chkapproved').click(function (i, e) {
                debugger;
                var dataValue = $(this).val();
                var isChecked = $(this).attr('checked');
                if (isChecked == 'checked') {
                    $("input['.chkapproved'][value=dataValue]").attr('Disabled', true);
                    $("input['.chkapproved'][value=dataValue]").attr('ReadOnly', true);
                    $("input['.chkapproved'][value='dataValue']").attr('style', 'display: none');
                    $(this).prop('checked', true);
                    LockRegID(dataValue);
                    //                    $("input[.chkapproved'][value='dataValue']").attr('checked', 'checked');

                }
                else { /*loadTable();*/ }
            });
            $("#accordion").accordion({ autoHeight: false, navigation: true, collapsible: true });
            $("#accordionFailOrder").accordion({ autoHeight: false, navigation: true, collapsible: true });

            $('#RegistrationSearchCriteria_RegDateFrom').attr('readonly', true)
            $('#RegistrationSearchCriteria_RegDateTo').attr('readonly', true)
            $('div.htmltabs div.tabsContent').hide();

            $('div.htmltabs ul li a').click(function () {
                var thisClass = this.className.slice(0, 4);

                if (thisClass == "tab2") {
                    $('div.' + "tab1").hide();
                    $('#RegistrationSearchCriteria_TabNo').val("2")
                    $('div.htmltabs ul.tabs li a').removeClass('tab-current');
                    $(this).addClass('tab-current');
                }
                else {
                    $('div.' + "tab2").hide();
                    $('#RegistrationSearchCriteria_TabNo').val("1")
                    $('div.htmltabs ul.tabs li a').removeClass('tab-current');
                    $(this).addClass('tab-current');
                }

                $('div.htmltabs div.tabsContent').hide();
                $('div.' + thisClass).show();


                // Reset position of flash for those previously display: none buttons
                $.each(ZeroClipboard.clients, function (index, clip) {
                    clip.reposition();
                });

                debugger;
                var url = '@(Url.Content("~/Registration/CDPUTabNavigation"))';
                var tabNo = $('#RegistrationSearchCriteria_TabNo').val();
                $.post(url, { TabNo: tabNo }, function (data) {
                    top.location.href = top.location.href;
                })

            });

            if ($('#RegistrationSearchCriteria_TabNo').val() == "1") {
                $('div.tab1').show();
                $('div.htmltabs ul.tabs li a').removeClass('tab-current');
                $('div.htmltabs ul.tabs li a.tab1').addClass("tab-current");

            }
            else if ($('#RegistrationSearchCriteria_TabNo').val() == "2") {
                $('div.tab2').show();
                $('div.htmltabs ul.tabs li a').removeClass('tab-current');
                $('div.htmltabs ul.tabs li a.tab2').addClass("tab-current");

            }
            debugger;
            timerinstance = setInterval(loadTable, '@interval');
        });


        $(document).keypress(function (e) {

            if (e.which == 13) {
                var activeid = $(document.activeElement).attr("id");
                if (activeid == 'txtWaiverRegId' || activeid == 'RegistrationSearchCriteria_MSISDN') {
                    $("#btnSearch").click();
                    return false;
                }
                
                else if (activeid == 'chktoday') {
                    $("#btnAdvSearch").click();
                    return false;
                }

                else if (activeid == 'RegIDFO' || activeid == 'MSISDNFO' || activeid == 'IDNOFO') {
                    $("#btnQuickSearchFO").click();
                    return false;
                }
               
                else if (activeid == 'chktodayfo') {
                    $("#btnAdvSearchFO").click();
                    return false;
                }

                else if (activeid == 'btnApprove') {
                    $("#btnApprove").click();
                    return false;
                }

                else {
                    $("#divError").html("");
                    return false;

                }
            }
        });

        $("#chktoday").click(function () {
            if ($('#chktoday').is(':checked')) {
                $('#RegistrationSearchCriteria_RegDateFrom').attr('readonly', true)
                .next('span.t-select')
                .children('span.t-icon-calendar').css('visibility', 'hidden')
                $('#RegistrationSearchCriteria_RegDateTo').attr('readonly', true)
                .next('span.t-select')
                .children('span.t-icon-calendar').css('visibility', 'hidden')
                
                var today = new Date()
                var curMon = today.getMonth();
                var curDay = today.getDate();
                var curYear = today.getFullYear();
                var todayDate = curDay + "/" + (parseInt(curMon) + 1) + "/" + curYear;
                $('#RegistrationSearchCriteria_RegDateFrom').val(todayDate);
                $('#RegistrationSearchCriteria_RegDateTo').val(todayDate);
            }
            else {
                $('#RegistrationSearchCriteria_RegDateFrom').val('');
                $('#RegistrationSearchCriteria_RegDateTo').val('');
                $('#RegistrationSearchCriteria_RegDateFrom').attr('readonly', true)
                .next('span.t-select')
                   .children('span.t-icon-calendar').css('visibility', 'visible')
                $('#RegistrationSearchCriteria_RegDateTo').attr('readonly', true)
                .next('span.t-select')
                .children('span.t-icon-calendar').css('visibility', 'visible')
            }
        })


        $("#chktodayfo").click(function () {
            if ($('#chktodayfo').is(':checked')) {
                $('#RegistrationSearchCriteria_RegDateFromFo').attr('readonly', true)
                .next('span.t-select')
                .children('span.t-icon-calendar').css('visibility', 'hidden')
                $('#RegistrationSearchCriteria_RegDateToFo').attr('readonly', true)
                .next('span.t-select')
                .children('span.t-icon-calendar').css('visibility', 'hidden')
            
                var today = new Date()
                var curMon = today.getMonth();
                var curDay = today.getDate();
                var curYear = today.getFullYear();
                var todayDate = curDay + "/" + (parseInt(curMon) + 1) + "/" + curYear;
                $('#RegistrationSearchCriteria_RegDateFromFo').val(todayDate);
                $('#RegistrationSearchCriteria_RegDateToFo').val(todayDate);

            }
            else {
                $('#RegistrationSearchCriteria_RegDateFromFo').val('');
                $('#RegistrationSearchCriteria_RegDateToFo').val('');
                $('#RegistrationSearchCriteria_RegDateFromFo').attr('readonly', true)
                .next('span.t-select')
                   .children('span.t-icon-calendar').css('visibility', 'visible')
                $('#RegistrationSearchCriteria_RegDateToFo').attr('readonly', true)
                .next('span.t-select')
                .children('span.t-icon-calendar').css('visibility', 'visible')
            }
        })


        function validateInputForQuickSearchForTab1(searchtype) {
            $('#divError').html("")
            if ($('#txtWaiverRegId').val() == '' && $('#RegistrationSearchCriteria_MSISDN').val() == '') {

                $('#divError').html("Please provide values for Registration ID or MSISDN")
                return false;
            }
            $('#divError').html("")
            $('#RegistrationSearchCriteria_RegID').val($('#txtWaiverRegId').val())
            $('#RegistrationSearchCriteria_SelectedRecs').val('');
            $('#RegistrationSearchCriteria_TabNo').val("1");
            $('#RegistrationSearchCriteria_SearchType').val(searchtype);
            $("#frmSupervisor").submit();
        }

        function validateInputForAdvancedSearchForTab1(searchtype) {
            $('#divError').html("")
            var todateArray = $('#RegistrationSearchCriteria_RegDateTo').val().split("/");
            var fromdateArray = $('#RegistrationSearchCriteria_RegDateFrom').val().split("/");
            var toMonth = todateArray[1];
            var fromMonth = fromdateArray[1];

            var toDate = new Date(todateArray[2], toMonth - 1, todateArray[0]);
            var fromDate = new Date(fromdateArray[2], fromMonth - 1, fromdateArray[0]);

            if (fromDate > toDate) {
                $('#divError').html("End date should be greater than start date.")
                return false;
            }
            $('#divError').html("")
            $('#RegistrationSearchCriteria_SelectedRecs').val('');
            $('#RegistrationSearchCriteria_TabNo').val("1");
            $('#RegistrationSearchCriteria_SearchType').val(searchtype);
            var serviceTypeSelected = $('#serviceTypeSelected');
            if (serviceTypeSelected != '') {
                serviceTypeSelected = serviceTypeSelected.text().replace('select', '');
            }
            $('#RegistrationSearchCriteria_ServiceTypeDescription').val(serviceTypeSelected);

            $("#frmSupervisor").submit();
        }

        function validateInputForQuickSearchForTab2(searchtype) {

            $('#divError').html("")
            if ($('#RegIDFO').val() == '' && $('#MSISDNFO').val() == '' && $('#IDNOFO').val() == '') {
                $('#divError').html("Please provide values for Registration ID or MSISDN or IDNo")
                return false;
            }
            $('#divError').html("")

            $('#RegistrationSearchCriteria_RegID').val($('#RegIDFO').val())
            $('#RegistrationSearchCriteria_MSISDN').val($('#MSISDNFO').val())
            $('#RegistrationSearchCriteria_IDNO').val($('#IDNOFO').val())

            $('#RegistrationSearchCriteria_SelectedRecs').val('');
            $('#RegistrationSearchCriteria_TabNo').val("2");
            $('#RegistrationSearchCriteria_SearchType').val(searchtype);

            $("#frmSupervisor").submit();
        }

        function validateInputForAdvancedSearchForTab2(searchtype) {
            var todateArray = $('#RegistrationSearchCriteria_RegDateToFo').val().split("/");
            var fromdateArray = $('#RegistrationSearchCriteria_RegDateFromFo').val().split("/");
            var toMonth = todateArray[1];
            var fromMonth = fromdateArray[1];

            var toDate = new Date(todateArray[2], toMonth - 1, todateArray[0]);
            var fromDate = new Date(fromdateArray[2], fromMonth - 1, fromdateArray[0]);
            $('#divError').html("")
            if (fromDate > toDate) {
                $('#divError').html("End date should be greater than start date.")
                return false;
            }
            $('#divError').html("")
            $('#RegistrationSearchCriteria_RegDateFromFo').val($('#RegistrationSearchCriteria_RegDateFromFo').val());
            $('#RegistrationSearchCriteria_RegDateTo').val($('#RegistrationSearchCriteria_RegDateToFo').val());
            $('#RegistrationSearchCriteria_CreatedBy').val($('#RegistrationSearchCriteria_CreatedByFo').val());


            $('#RegistrationSearchCriteria_SelectedRecs').val('');
            $('#RegistrationSearchCriteria_TabNo').val("2");
            $('#RegistrationSearchCriteria_SearchType').val(searchtype);
            $("#frmSupervisor").submit();
        }

        function exportToExcelForTab1() {
            var reccount = '@(RecordsCount)';
            $('#divError').html("")
            if (parseInt(reccount) <= 0) {
                $('#divError').html("No Records Found to Export")
                return false;
            }
            $('#divError').html("")
            $.ajax({
                url: baseUrl + 'Registration/ExportToExcelForTab1',
                type: 'POST',
                data: { isDefault:1}
            }).done(function (data) {

                window.open(baseUrl + "temp/" + data);
            });

        }

        function exportToExcelForTab2() {

            var reccount = '@(RecordsCount)';
            $('#divError').html("")
            if (parseInt(reccount) <= 0) {
                $('#divError').html("No Records Found to Export")
                return false;
            }
            $('#divError').html("")
            $.ajax({
                url: baseUrl + 'Registration/ExportToExcelForTab2',
                type: 'POST',
                data: {}
            }).done(function (data) {

                window.open(baseUrl + "temp/" + data);
            });

        }

        function SaveRecords() {

            var sCompIds = "";
            var sValue = "";
            var chkcount = 0;
            $('input[name=checkedOperations]').each(function () {
                if (this.checked) {
                    sValue = $(this).val();
                    chkcount = parseInt(chkcount) + 1
                    sCompIds += sValue + ",";

                }
            });

            $('#RegistrationSearchCriteria_SelectedRecs').val(sCompIds);


            if (parseInt(chkcount) <= 0) {
                $('#divError').html("")
                $('#divError').html("Please select registrations to Approve")
                return false;
            }
            else {
                $('#divError').html("")
                $("#frmSupervisor").submit();
            }

        }
        // Numeric only control handler
        jQuery.fn.ForceNumericOnly =
            function () {
                return this.each(function () {
                    $(this).keydown(function (e) {
                        var key = e.charCode || e.keyCode || 0;
                        // allow backspace, tab, delete, arrows, numbers and keypad numbers ONLY
                        // home, end, period, and numpad decimal
                        return (
                            key == 8 ||
                            key == 9 ||
                            key == 46 ||
                            key == 110 ||
                            key == 190 ||
                            (key >= 35 && key <= 40) ||
                            (key >= 48 && key <= 57) ||
                            (key >= 96 && key <= 105));
                    });
                });
            };

        var urlDashTab = '@(Url.Content("~/Registration/SetCDPUDashBordTab"))';

        $('#ancWaiveBre').click(function () {
            $.post(urlDashTab,
            { dashTab: '1' }, function (data) {
                return false;
            });
        });

        $('#ancFail').click(function () {
            $.post(urlDashTab,
            { dashTab: '2' }, function (data) {
                return false;
            });
        });

    </script>
}
