@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using System.Configuration;
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/colorbox.css")" />
    <style>
    .body
    {
        overflow-x: hidden;
    }
    
    </style>
</head>
<body>
    @*<object width="100%" height="100%" data="@(ConfigurationManager.AppSettings["CoverageCheckURL"])" ></object>*@
    <iframe frameborder="0" style="height:800px; width:100%;" src="@(ConfigurationManager.AppSettings["CoverageCheckURL"])" name="coverageCheck_iFrame"></iframe>
</body>
</html>