﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.SubscriberICService;
@using Telerik.Web.Mvc.UI;
@using Online.Registration.Web.Areas.CRP.CRPViewModels;

@model Online.Registration.Web.Areas.CRP.CRPViewModels.ContractDetails
@{    
    ViewBag.Title = "Contract Check";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string contractExtend = string.Empty;
    string contractTerimnate = string.Empty;
    string ErrMsg = Session["ErrMsg"] == null ? string.Empty : Session["ErrMsg"].ToString();
    decimal penalty = Session["CRPPenalty"] == null || Session["CRPPenalty"] == string.Empty || Session["CRPPenalty"] == "0" ? Convert.ToDecimal("0.00") : Convert.ToDecimal(Session["CRPPenalty"].ToString());
    if (Model != null && Model.ComponentDesc != null)
    {
        contractExtend = Model.ContractExtend.ToString();
    }
    ///BUG FIX  AGAINST PV'S MAIL - SUTAN DAN
    ///2.Continue with current Contract option should not be displayed for P2S flow
    ///GET THE ShowExtendButton FROM TempData IF NULL THEN EXTEND BUTTON WOULD BE DISPLAYED BY DEFAULT.
    Boolean showExtendButton = true;
    TempData.Keep("ShowExtendButton");
    showExtendButton = !ReferenceEquals(TempData["ShowExtendButton"], null) ? Convert.ToBoolean(TempData["ShowExtendButton"]) : true;
    if ( Session["Condition"].ToString2()!="" && Convert.ToInt32(Session["Condition"].ToString2()) == (int)CrpType.SuplementaryToPrincipal)
    {
        showExtendButton = false;
    }
    
}
<style type="text/css">
    .divmain
    {
        width: 886px;
        height: 650px;
        overflow-y: auto;
        overflow-x: hidden;
        float: left;
        font-family: arial;
        font-size: 12px;
    }
    .innerdiv
    {
        border: 1px solid #CCC;
        margin: 20px;
        float: left;
        border-radius: 10px;
    }
    .divsecrow
    {
        margin: 10px 20px 10px 20px;
        float: left;
        width: 100%;
    }
    .innerrow
    {
        border-bottom: 1px solid #CCC;
        height: 40px;
    }
    .innercell
    {
        width: 250px;
        float: left;
        padding-left: 10px;
    }
    .divSecCell
    {
        float: left;
        width: 130px;
        text-align: center;
    }
    .divimg
    {
        width: 80px;
        float: left;
    }
    .divText
    {
        width: 110px;
        float: left;
    }
    .divButton
    {
        width: 80px;
        float: left;
    }
    #Wrapper
    {
        width: 900px;
        margin: 20px auto 0;
    }
    .Box
    {
        background-color: #E0E0E0;
        border: 1px solid #BBBBBB;
        width: 195px;
        padding: 10px;
        text-align: center;
        float: left;
        height: 270px;
    }
    .Box:hover
    {
        background-color: #eee;
    }
    .Box img
    {
    }
    .Box b
    {
        float: left;
        clear: both;
        font-weight: bold;
        font-size: 13px;
        color: #000;
        margin-top: 20px;
        text-align: left;
    }
    .Box p
    {
        float: left;
        clear: both;
        margin: 5px 0px;
    }
</style>
<style type="text/css">
    #table-2
    {
        border: 1px solid #e3e3e3;
        background-color: #f2f2f2;
        width: 100%;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
    }
    #table-2 td, #table-2 th
    {
        padding: 5px;
        color: #333;
    }
    #table-2 thead
    {
        font-family: "Lucida Sans Unicode" , "Lucida Grande" , sans-serif;
        padding: .2em 0 .2em .5em;
        text-align: left;
        color: #4B4B4B;
        background-color: #C8C8C8;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e3e3e3), color-stop(.6,#B3B3B3));
        background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
        border-bottom: solid 1px #999;
    }
    #table-2 th
    {
        font-family: 'Helvetica Neue' , Helvetica, Arial, sans-serif;
        font-size: 17px;
        line-height: 20px;
        font-style: normal;
        font-weight: normal;
        text-align: left;
        text-shadow: white 1px 1px 1px;
    }
    #table-2 td
    {
        line-height: 20px;
        font-family: 'Helvetica Neue' , Helvetica, Arial, sans-serif;
        font-size: 14px;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
    }
</style>
<style type="text/css">
    #table-3
    {
        border: 1px solid #e3e3e3;
       /* background-color: #f2f2f2;*/
        width: 100%;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
    }
    #table-3 td, #table-2 th
    {
        padding: 5px;
        color: #333;
    }
    #table-3 thead
    {
        font-family: "Lucida Sans Unicode" , "Lucida Grande" , sans-serif;
        padding: .2em 0 .2em .5em;
        text-align: left;
        color: #4B4B4B;
        background-color: #C8C8C8;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e3e3e3), color-stop(.6,#B3B3B3));
        background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
        border-bottom: solid 1px #999;
    }
    #table-3 th
    {
        font-family: 'Helvetica Neue' , Helvetica, Arial, sans-serif;
        font-size: 17px;
        line-height: 20px;
        font-style: normal;
        font-weight: normal;
        text-align: left;
        text-shadow: white 1px 1px 1px;
    }
    #table-3 td
    {
        line-height: 20px;
        font-family: 'Helvetica Neue' , Helvetica, Arial, sans-serif;
        font-size: 14px;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
    }
</style>
<div id="center">
 <div class="center_box">
    @using (Html.BeginForm("CRPContractCheck", "Registration", FormMethod.Post, new { id = "frmCRPContractCheck", defaultbutton = "Continue", @class = "overlayonsubmit", processmsg = "Loading" }))
    {
    
        <div class="content search-header">
                <div class="search-header-box">
                    <div class="search-hdr-title">@ViewBag.Title</div>
                </div>
            </div>
            <div style="clear: both;">
            </div>
       
       
            <div class="content_white" >
                <table width="100%">
                    <tr>
                        <td style="color: Red">
                            <b>@ErrMsg</b>
                        </td>
                    </tr>
                </table>
                <div style="clear: both; height: 0px;">
                </div>
                  <div style="padding-left:20px;" >
                @{
                          bool hasContractsKenan = true;

                          #region Display total Contracts(PN) by Raj

                          if (Session[Online.Registration.Web.CommonEnum.SessionKey.ContractDetails.ToString()] != null)
                          {
                              List<ContractDetails> ContractsList = (List<ContractDetails>)(Session[Online.Registration.Web.CommonEnum.SessionKey.ContractDetails.ToString()]);
                              if (ContractsList.Count() > 0)
                              {
                                  Html.Telerik().Grid(ContractsList)
                                                          .Name("gvwcontracts")
                                                          .Footer(false).Scrollable(a => a.Enabled(false))
                                                          .HtmlAttributes(new { style = "width:880px;height : auto !important ;" })
                                                          .TableHtmlAttributes(new { style = "border-radius:10px;" })
                                                          .NoRecordsTemplate("No records to display")
                          .Columns(cols =>
                          {
                              cols.Bound(m => m.ComponentDesc).Title("Contract Name");
                              cols.Bound(m => m.ContractStartDate).Title("Start Date");
                              cols.Bound(m => m.ContractEndDate).Title("End Date");
                              cols.Bound(m => m.ContractRemaining).Title("Contract Remaining");

                          })
                                                          .Render();
                              }

                          }

                          #endregion
            
            
     
            
    
                }
                </div>
                @Html.Hidden("hasK2Contracts", hasContractsKenan)
                @* End of Package, contract info*@
                <table width="100%" id="table-3">
                    @if (Model != null && Model.ComponentDesc != null)
                    {

                    }
                    @if (Session["CRPPenalty"] != null)
                    {
                       
                        <tr>
                            <td colspan="2">
                                <b>The Early Termination Fee amount is
                                    @if (Session["CRPPenalty"] == null || Session["CRPPenalty"] == string.Empty)
                                    { <b>RM 0.00</b> }
                                    else
                                    {<b>RM @Convert.ToDecimal(penalty).ToString("0.00")</b>}, do you want to continue?</b>
                            </td>
                        </tr>

                    }
                    @{
        if (Session["CRPPenalty"].ToString2() != string.Empty && Session["PenaltyPhoneModel"].ToString2().Length > 0)
                    {

                        if (Session["CRPPenalty"].ToString2() != string.Empty)
                        {
                            if (Convert.ToDecimal(Session["CRPPenalty"].ToString2()) > 0)
                            {
        
                        <tr>
                            <td colspan="2">
                                <table style="border: medium solid gray; width: 600px;">
                                    <tr>
                                        <td style="width: 200px">
                                            <b>Phone Model:</b>
                                        </td>
                                        <td style="width: 200px">
                                            <b>RRP:</b>
                                        </td>
                                        <td style="width: 200px">
                                            <b>Upfront Payment:</b>
                                        </td>
                                        <td style="width: 200px">
                                            <b>Admin Fee:</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@Session["PenaltyPhoneModel"].ToString2()
                                        </td>
                                        @if (!string.IsNullOrEmpty(Session["PenaltyRRP"].ToString2()))
                                        {
                                            <td>
                                                RM @Session["PenaltyRRP"].ToString2().ToDecimal().ToString("0.00")
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                RM 0.00
                                            </td>
                                        }
                                        @if (!string.IsNullOrEmpty(Session["Upfrontpayment"].ToString2()))
                                        {
                                            <td>
                                                RM @Session["Upfrontpayment"].ToString2().ToDecimal().ToString("0.00")
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                RM 0.00
                                            </td>
                                        }
                                        <td>
                                            RM @Session["PenaltyAdminFee"].ToString2()
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                            }

                        }
                    }
                    }
                    <tr>
                        <td class="txt-14-black-normal">
                            @*@if (contractExtend == "Y")*@ @*allowing for all who have contract*@
                            @if (Model != null && Model.ComponentDesc != null)
                            {
                                ///BUG FIX  AGAINST PV'S MAIL - SUTAN DAN
                                ///2.Continue with current Contract option should not be displayed for P2S flow
                                @*if (showExtendButton)
                                {
                                    if (Session["ContractType"].ToString2() == "Extend")
                                    {
                                <div class="content_white" style="float: left">
                                    <button type="submit" name="Extend" style="border-style: none;background: none repeat scroll 0% 0% transparent;">
                                        <img src="../content/images/checked.jpg" width="30px" alt="" /></button></div>
                                <div class="content_white" style="float: left; padding-top: 10px; padding-right: 50px;">
                                    Continue With Same Contract</div>                        
                                    }
                                    else
                                    {
                                <div class="content_white" style="float: left">
                                    <button type="submit" name="Extend" style=" border-style: none;background: none repeat scroll 0% 0% transparent;">
                                        <img src="../content/images/uncheck.jpg" width="30px" alt="" /></button></div>
                                <div class="content_white" style="float: left; padding-top: 10px; padding-right: 50px;">
                                    Continue With Same Contract</div>
                                    }
                                    
                                }*@

                                if (Session["ContractType"].ToString2() == "Terimnate")
                                {
                                <div  class="content_white" style="float: left">
                                    <button type="submit" name="Termination" style=" border-style: none;background: none repeat scroll 0% 0% transparent;">
                                        <img src="../content/images/checked.jpg" width="30px" alt="" /></button></div>
                                <div  class="content_white" style="float: left; padding-top: 10px;">
                                    Terminate Existing Contract</div>
                                <div style="clear: both">
                                </div>
                                }
                                else
                                {
                                <div style="float: left" class="content_white" >
                                    <button type="submit" name="Termination" style=" border-style: none;background: none repeat scroll 0% 0% transparent;">
                                        <img src="../content/images/uncheck.jpg" width="30px" alt="" /></button></div>
                                <div style="float: left; padding-top: 10px;" class="content_white" >
                                    Terminate Existing Contract</div>
                                <div style="clear: both">
                                </div>
                                }
                            }
                           
                        </td>
                    </tr>
                    <tr >
               <td id="tdError" style="color: #ff0000; font-weight: bold; text-align: center;font-size:14px;">
                
                </td>
                </tr>
                </table>
            </div>
            <div style="height: 80px;" class="content_white">
                <div style="float: right; padding-right: 30px">
                    <input class="submitButton" type="submit" id="Continue" value="Continue" name="Continue" />
                </div>
            </div>
        
    
   
    }
    </div>
     @Html.Partial("_footer")
</div>
}
@section Scripts{
    <script type="text/javascript" language="javascript">

        if ('@Session["ContractType"].ToString2()' == 'Terimnate') {
            $('#tdError').html('Early Termination Fee amount indicated is an estimated amount. Please refer to Kenan CC for the correct Early Termination Fee amount.');
        }
        else {
            $('#tdError').html('');
        }
        $(document).ready(function () {


        });
        var ButtonKeys = { "EnterKey": 13 }; $(function () {
            $("#frmContractCheck").keypress(function (e) {
                if (e.which == ButtonKeys.EnterKey) {
                    var defaultButtonId = $(this).attr("defaultbutton"); $("#" + defaultButtonId).click(); return false;
                }
            });
        }); </script>
}
