﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.CommonEnum;
@using Online.Registration.DAL.Models;
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
@{
    Html.EnableClientValidation(false);
    ViewBag.Title = "Customer Details";
    var autoBillingID = Util.GetPaymentModeID(PAYMENTMODE.AutoBilling);
    var malaysianID = Util.GetNationalityID(NATIONALITY.Malaysian);
    var NRICType = Util.GetIDCardTypeID(IDCARDTYPE.NRIC);

    var minAge = Session["RegMobileReg_ProgramMinAge"].ToInt();
    var idCardTypeID = Model.Customer.IDCardTypeID;
    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" : string.Empty;
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var MalAdvDeposit = Session["RegMobileReg_MalAdvDeposit"].ToInt();
    var OtherAdvDeposit = Session["RegMobileReg_OtherAdvDeposit"].ToInt();
    Model.MalayAdvDeposit = MalAdvDeposit;
    Model.OtherAdvDeposit = OtherAdvDeposit;

    /*Added by chetan for split adv & deposit*/
    var MalyDevAdv = Session["RegMobileReg_MalyDevAdv"].ToInt();
    var MalayPlanAdv = Session["RegMobileReg_MalayPlanAdv"].ToInt();
    var MalayDevDeposit = Session["RegMobileReg_MalayDevDeposit"].ToInt();
    var MalyPlanDeposit = Session["RegMobileReg_MalyPlanDeposit"].ToInt();
    var OthDevAdv = Session["RegMobileReg_OthDevAdv"].ToInt();
    var OthPlanAdv = Session["RegMobileReg_OthPlanAdv"].ToInt();
    var OthDevDeposit = Session["RegMobileReg_OthDevDeposit"].ToInt();
    var OthPlanDeposit = Session["RegMobileReg_OthPlanDeposit"].ToInt();

    Model.MalyDevAdv = MalyDevAdv;
    Model.MalayPlanAdv = MalayPlanAdv;
    Model.MalayDevDeposit = MalayDevDeposit;
    Model.MalyPlanDeposit = MalyPlanDeposit;
    Model.OthDevAdv = OthDevAdv;
    Model.OthPlanAdv = OthPlanAdv;
    Model.OthDevDeposit = OthDevDeposit;
    Model.OthPlanDeposit = OthPlanDeposit;
    /*upto here*/


    /*Added by Rajeswari on 24th March to disable nationality*/
    var idCardNoForNewUser = Session["IDCardNo"].ToString();
    var idCardTypeForNewUser = Session["IDCardTypeID"].ToString();
    /*upto here */
    bool IsFromMNP = false;

    ///CHECK IF THE Session["FromMNP"] IS SET
    if (!ReferenceEquals(Session["FromMNP"], null))
    {
        IsFromMNP = Convert.ToBoolean(Session["FromMNP"]);
    }

    var listPrevExtraTenMSISDNs = Session["ExtratenMobilenumbers"].ToString2();

    var extraTenCount = 0;

    if ((Session["IDCardTypeID"].ToString2()) == "2")
    {
        Model.Customer.NationalityID = 132;

    }
    else
    {
        Model.Customer.NationalityID = 1;

    }
    //Apply waive on advances and deposits based on Liberization     
    WaiverRules waiverRule = HttpContext.Current.Session[SessionKey.WaiverRules.ToString()] != null ? (WaiverRules)HttpContext.Current.Session["WaiverRules"] : new WaiverRules();
    WebHelper.ApplyDepositWaiveOffsOnModel(Model, waiverRule);
}
<style type="text/css">
       
        /*label
        {
            font-weight:bold;
        }*/
        #divMalaysian .form-label, #divNonMalaysian .form-label
        {
            width:235px;
        }
    </style>
<div id="center">
    @using (Html.BeginForm("CRPPersonalDetails", "Registration", FormMethod.Post, new { id = "frmCRPPersonalDetails", @class = "overlayonsubmit", processmsg = "Loading" }))
    { 
       
        @Html.HiddenFor(a => a.TabNumber)
        @Html.HiddenFor(a => a.ExtraTenMobileNumbers)
        <div class="header-title">
            CRP Plan Only
        </div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        <li style="display: table-cell; float: none;">Plan</li>
                        <li style="display: table-cell; float: none;" class="preselected">Components</li>
                        <li style="display: table-cell; float: none;" class="selected">Customer</li>
                        <li style="display: table-cell; float: none;">Summary</li>
                    </ul>
                </div>
                <div id="divValidateSummary" style="color: Red">
                    @Html.ValidationSummary(false)
                </div>
            </div>
            <div class="content_white">
             
                <div style="display: block; padding: 0px 20px; margin: 0px auto;">
                <div id="dvError" class="ErrorClass" >
                   
                </div>
                    <div id="ui-plan">
                        <h3>
                            Customer Information</h3>
                        <div style="width: 100%; border-left: 1px solid #ccc;">
                            <div style="padding: 20px 15px 0px 15px;">
                                @Html.Partial("_CustomerCRP", Model)
                            </div>
                            <div style="clear: both;">
                            </div>
                        </div>
                        <h3>
                            Billing Address</h3>
                        <div style="width: 100%; border-left: 1px solid #ccc;">
                            <div style="padding: 20px 15px 50px 15px;">
                                @Html.Partial("_ExistingAddress", Model)
                                <div style="clear: both;">
                                </div>
                            </div>
                        </div>
                        <h3 style="display: none;">
                            Monthly Bill Settlement Preference</h3>
                        <div style="padding: 20px 15px 50px 15px; display: none;">
                            @Html.Partial("_Billing", Model)
                        </div>
                        <h3>
                            Additional Charges</h3>
                        <div style="width: 100%; border-left: 1px solid #ccc;">
                            <div style="padding: 20px 15px 50px 15px;">
                             
                                            @if (Model.Customer.NationalityID == 0 || Model.Customer.NationalityID == 1)
                                            {
                                                <div id="divMalaysian" style="width: 600px;">



                                                    <div style="">
                                                        @if (Session["MobileRegType"].ToString2().ToUpper() == "OTHER")
                                                        {
                                                            
                                                             <div class="form-row">
            <div class="form-label">
                Device Advance for Malaysians
            </div>
            <div>
                :
                @if (Model.MalyDevAdv != null && Model.MalyDevAdv != 0)
                {
                                                                        @Html.Raw(Model.MalyDevAdv.ToDecimal() > 0 ? Model.MalyDevAdv.ToString() : "0.00")
                                                                        <div style="display: none;">
                                                                            @Html.TextBoxFor(model => model.MalyDevAdv, new { @Value = Model.MalyDevAdv.ToDecimal() > 0 ? Model.MalyDevAdv.ToString() : "0.00", disabled = "disable" })
                                                                        </div>
                }
                else
                {
                                                                        @Html.Raw(Model.MalyDevAdv.ToDecimal() > 0 ? Model.MalyDevAdv.ToString() : "0.00")
                                                                        <div style="display: none;">
                                                                            @Html.TextBoxFor(model => model.MalyDevAdv, new { @Value = Model.MalyDevAdv.ToDecimal() > 0 ? Model.MalyDevAdv.ToString() : "0.00", disabled = "disable" })
                                                                        </div>
                }
               
            </div>
        </div>
                                                           
                                                        }
                                                        

                                                          <div class="form-row">
            <div class="form-label">
                Plan Advance for Malaysians
            </div>
            <div>
                :
                @if (Model.MalayPlanAdv != null && Model.MalayPlanAdv != 0)
                {
                    var result = (DateTime.Now - Convert.ToDateTime(Session["ActivationDate"].ToString())).TotalDays;
                    if (result < 182.5)
                    {
                                                                    @Html.Raw(Model.MalayPlanAdv.ToDecimal() > 0 ? Model.MalayPlanAdv.ToString() : "0.00")
                                                                    <div style="display: none;">
                                                                        @Html.TextBoxFor(model => model.MalayPlanAdv, new { @Value = Model.MalayPlanAdv.ToDecimal() > 0 ? Model.MalayPlanAdv.ToString() : "0.00", disabled = "disable" })
                                                                    </div>
                    }
                    else
                    {
                        Model.MalayPlanAdv = ("0.00").ToDecimal();
                                                                    @Html.Raw(Model.MalayPlanAdv.ToDecimal() > 0 ? Model.MalayPlanAdv.ToString() : "0.00")
                                                                    <div style="display: none;">
                                                                        @Html.TextBoxFor(model => model.MalayPlanAdv, new { @Value = Model.MalayPlanAdv.ToDecimal() > 0 ? Model.MalayPlanAdv.ToString() : "0.00", disabled = "disable" })
                                                                    </div>
                    }
                }
                else
                {
                                                                    @Html.Raw(Model.MalayPlanAdv.ToDecimal() > 0 ? Model.MalayPlanAdv.ToString() : "0.00")
                                                                    <div style="display: none;">
                                                                        @Html.TextBoxFor(model => model.MalayPlanAdv, new { @Value = Model.MalayPlanAdv.ToDecimal() > 0 ? Model.MalayPlanAdv.ToString() : "0.00", disabled = "disable" })
                                                                    </div>
                }
               
            </div>
        </div>
                                                      
                                                        @if (Session["MobileRegType"].ToString2().ToUpper() == "OTHER")
                                                        {
                                                            
                                                             <div class="form-label" >
       Device Deposit for Malaysians
    </div>
    <div>
        :
        @if (Model.MalayDevDeposit != null && Model.MalayDevDeposit != 0)
        {
                                                                        @Html.Raw(Model.MalayDevDeposit.ToDecimal() > 0 ? Model.MalayDevDeposit.ToString() : "0.00")
                                                                        <div style="display: none;">
                                                                            @Html.TextBoxFor(model => model.MalayDevDeposit, new { @Value = Model.MalayDevDeposit.ToDecimal() > 0 ? Model.MalayDevDeposit.ToString() : "0.00", disabled = "disable" })
                                                                        </div> }
        else
        {
                                                                        @Html.Raw(Model.MalayDevDeposit.ToDecimal() > 0 ? Model.MalayDevDeposit.ToString() : "0.00")
                                                                        <div style="display: none;">
                                                                            @Html.TextBoxFor(model => model.MalayDevDeposit, new { @Value = Model.MalayDevDeposit.ToDecimal() > 0 ? Model.MalayDevDeposit.ToString() : "0.00", disabled = "disable" })
                                                                        </div>
        }
    </div>
                                                        }
                                                        
                                                         <div class="form-label" >
       Plan Deposit for Malaysians
    </div>
    <div>
        :
       @if (Model.MalyPlanDeposit != null && Model.MalyPlanDeposit != 0)
       {
                                                                    @Html.Raw(Model.MalyPlanDeposit.ToDecimal() > 0 ? Model.MalyPlanDeposit.ToString() : "0.00")
                                                                    <div style="display: none;">
                                                                        @Html.TextBoxFor(model => model.MalyPlanDeposit, new { @Value = Model.MalyPlanDeposit.ToDecimal() > 0 ? Model.MalyPlanDeposit.ToString() : "0.00", disabled = "disable" })
                                                                    </div>                           
       }
       else
       {
                                                                    @Html.Raw(Model.MalyPlanDeposit.ToDecimal() > 0 ? Model.MalyPlanDeposit.ToString() : "0.00")
                                                                    <div style="display: none;">
                                                                        @Html.TextBoxFor(model => model.MalyPlanDeposit, new { @Value = Model.MalyPlanDeposit.ToDecimal() > 0 ? Model.MalyPlanDeposit.ToString() : "0.00", disabled = "disable" })
                                                                    </div> 
       }
    </div>


                                                       
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div id="divNonMalaysian" style="width: 600px;">
                                                    <div style="" >
                                                        @if (Session["MobileRegType"].ToString2().ToUpper() == "OTHER")
                                                        {
                                                             <div class="form-label">
        Device Advance for Non Malaysians
    </div>
    <div>
        :
        @if (Model.OthDevAdv != null && Model.OthDevAdv != 0)
        {
                                                                        @Html.Raw(Model.OthDevAdv.ToDecimal() > 0 ? Model.OthDevAdv.ToString() : "0.00")
                                                                        <div style="display: none;">
                                                                            @Html.TextBoxFor(model => model.OthDevAdv, new { @Value = Model.OthDevAdv.ToDecimal() > 0 ? Model.OthDevAdv.ToString() : "0.00", disabled = "disable" })
                                                                        </div> }
        else
        {@Html.Raw(Model.OthDevAdv.ToDecimal() > 0 ? Model.OthDevAdv.ToString() : "0.00")
                                                                        <div style="display: none;">
                                                                            @Html.TextBoxFor(model => model.OthDevAdv, new { @Value = Model.OthDevAdv.ToDecimal() > 0 ? Model.OthDevAdv.ToString() : "0.00", disabled = "disable" })
                                                                        </div> }
    </div>
                                                           
                                                        }
                                                        
                                                         <div class="form-label">
        Plan Advance for Non Malaysians
    </div>
    <div>
        :
        @if (Model.OthPlanAdv != null && Model.OthPlanAdv != 0)
        {
                                                                    @Html.Raw(Model.OthPlanAdv.ToDecimal() > 0 ? Model.OthPlanAdv.ToString() : "0.00")
                                                                    <div style="display: none;">
                                                                        @Html.TextBoxFor(model => model.OthPlanAdv, new { @Value = Model.OthPlanAdv.ToDecimal() > 0 ? Model.OthPlanAdv.ToString() : "0.00", disabled = "disable" })
                                                                    </div> }
        else
        {@Html.Raw(Model.OthPlanAdv.ToDecimal() > 0 ? Model.OthPlanAdv.ToString() : "0.00")
                                                                    <div style="display: none;">
                                                                        @Html.TextBoxFor(model => model.OthPlanAdv, new { @Value = Model.OthPlanAdv.ToDecimal() > 0 ? Model.OthPlanAdv.ToString() : "0.00", disabled = "disable" })
                                                                    </div> }
    </div>

                                                      
                                                        @if (Session["MobileRegType"].ToString2().ToUpper() == "OTHER")
                                                        {
                                                            
                                                             <div class="form-label">
        Device Deposit for Non Malaysians
    </div>
    <div>
        :
        @if (Model.OthDevDeposit != null && Model.OthDevDeposit != 0)
        {@Html.Raw(Model.OthDevDeposit.ToDecimal() > 0 ? Model.OthDevDeposit.ToString() : "0.00")
                                                                        <div style="display: none;">
                                                                            @Html.TextBoxFor(model => model.OthDevDeposit, new { @Value = Model.OthDevDeposit.ToDecimal() > 0 ? Model.OthDevDeposit.ToString() : "0.00", disabled = "disable" })
                                                                        </div> }
        else
        {@Html.Raw(Model.OthDevDeposit.ToDecimal() > 0 ? Model.OthDevDeposit.ToString() : "0.00")
                                                                        <div style="display: none;">
                                                                            @Html.TextBoxFor(model => model.OthDevDeposit, new { @Value = Model.OthDevDeposit.ToDecimal() > 0 ? Model.OthDevDeposit.ToString() : "0.00", disabled = "disable" })
                                                                        </div>   }
    </div>
                                                            
                                                            
                                                        }
                                                        <div class="form-label">
       Plan Deposit for Non Malaysians
    </div>
    <div>
        :
        @if (Model.OthPlanDeposit != null && Model.OthPlanDeposit != 0)
        {@Html.Raw(Model.OthPlanDeposit.ToDecimal() > 0 ? Model.OthPlanDeposit.ToString() : "0.00")
                                                                    <div style="display: none;">
                                                                        @Html.TextBoxFor(model => model.OthPlanDeposit, new { @Value = Model.OthPlanDeposit.ToDecimal() > 0 ? Model.OthPlanDeposit.ToString() : "0.00", disabled = "disable" })
                                                                    </div>   }
        else
        {@Html.Raw(Model.OthPlanDeposit.ToDecimal() > 0 ? Model.OthPlanDeposit.ToString() : "0.00")
                                                                    <div style="display: none;">
                                                                        @Html.TextBoxFor(model => model.OthPlanDeposit, new { @Value = Model.OthPlanDeposit.ToDecimal() > 0 ? Model.OthPlanDeposit.ToString() : "0.00", disabled = "disable" })
                                                                    </div>    }
    </div>
                                                      
                                                    </div>
                                                </div>
                                            }
                                       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="content_white" style="height: 80px;">
                <div style="float: right; padding-right: 20px;">
                    <input type="submit" onclick="$('#TabNumber').val(2);" value="&lt;" class="cancel backButton" />
                    <input type="submit" id="btnContinue" onclick="$('#TabNumber').val(4);"
                        value="Next Step: Summary" class="submitButton" />
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
        
    
    }
     @Html.Partial("_footer")
</div>
<div id="right">
    @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
</div>
@{


    Html.Telerik().Window()
.Name("extraTenWindow")
.Title("Extra Ten")
.Width(360)
   .Height(470)

.Content(@<text>
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td>
                <div style="color: Red; font-weight: bold; font-size: 16px; display: block;" id="ExtratenPlan_Error">
                </div>
                <div id="divExtraTen">
                    @for (int i = 0; i < 10; i++)
                    {

                        var divId = "divExtraTen_" + i;
                        var txtId = "txtExtraTen_" + i;
                        var delbtnId = "btnDeleteExtraTen_" + i;

                        var lblSnoId = "lblSno_" + i;

                        extraTenCount++;
                    
                        <div id='@divId' style="padding-bottom:10px;" >
                            @* <label class="NumL" id=@lblSnoId>@extraTenCount</label>*@ <span style="width: 20px;
                                display: inline-block; text-align: center;">@extraTenCount.ToString()</span>
                            <input class="TxtBox" type="text" id=@txtId />
                            <input class="DelBtn" type="button" onclick='deleteExtraTen(this);' id=@delbtnId value="" />
                        </div>
                    
                    }
                </div>
                <div class="Controller">
                    <input type="button" class="AddMoreBtn" id="btnAddMore" onclick="addExtraTenDiv();"
                        value="" />
                </div>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td align="center">
                <input id="btnSaveExtraTen" type="button" class="submitButton" value="Save" onclick="return validateExtraTen();" />
                <input type="button" class="submitButton" id="btnCancelExtraTen" onclick="cancelExtraTen();"
                    value="Canel" />
            </td>
        </tr>
    </table>
    </text>)
.Modal(true)
.Visible(false)
.ClientEvents(events => events.OnOpen("extraTenWindowOnOpen"))
.Render();


    Html.Telerik().ScriptRegistrar()
          .OnDocumentReady(@<text> $('#btnExtraTen') .click(function(e) { e.preventDefault();
    $('#extraTenWindow').data('tWindow').center().open();}); 
    </text>); 
}
@section Scripts{
    <script type="text/javascript">
        
         function tooltips(target) {
            jQuery(".tooltip2").removeClass('focus');
            jQuery(".tooltip2." + target).addClass('focus');
            jQuery(".wrappers").removeClass('focus');
            jQuery(".wrappers." + target).addClass('focus');

        }

        jQuery(function() {
            jQuery("#ui-accordion").accordion({
                autoHeight: false
            });
            $("#ui-accordion").accordion("option", "icons",
                { 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });
        });

        jQuery(function() {
            jQuery("#ui-plan").accordion({
                autoHeight: false
            });
            $("#ui-plan").accordion("option", "icons",
                { 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });
        });
    
        $(document).ready(function () {
        $('#ExtratenPlan_Error').hide();

        /*Added by Rajeswari on 24th March to disable nationality and IDcardNo and IDCardType */
      //  $('#Customer_IDCardNo').css({"background-color": '#F2F2F2'});  
       // $('#Customer_IDCardNo').attr('readonly', true);
       // $('#Customer_IDCardTypeID').css({"background-color": '#F2F2F2'});        
      //  $("#Customer_IDCardTypeID").data("tDropDownList").disable();
       // $('#Customer_NationalityID').css({"background-color": '#F2F2F2'});        
       // $("#Customer_NationalityID").data("tDropDownList").disable();


         //  var ddlNationality = $("#Customer_NationalityID").data("tDropDownList");
            var ddlNationality = $("#Customer_NationalityID").val();
                if($('#Customer_NationalityID').val() == "")
                {                
                    //ddlNationality.value(@(malaysianID));
                       ddlNationality.val(@(malaysianID));
                    
                    $("#divMalaysian").show();
                    $("#divNonMalaysian").hide();

                    if(@(Session["IDCardTypeID"]) == "2"){
                        if($('#Customer_NationalityID').val() == "1")
                        {
                           // $("#Customer_NationalityID").prop("readOnly",true);
                            //ddlNationality.val("NONMALAYSIAN");
                            ddlNationality.val("132");
                            $("#divMalaysian").hide();
                            $("#divNonMalaysian").show();
                        }
                     }               
                    else
                    {
                        //ddlNationality.value("MALAYSIAN");
                    
                    // ddlNationality.val("MALAYSIAN");
                      ddlNationality.val("1");
                     }  

                }
                else
                {            
                     $("#divMalaysian").hide();
                     $("#divNonMalaysian").show();    
                   
                    if($('#Customer_NationalityID').val() == "1")
                    {                      
                         $("#divMalaysian").show();
                         $("#divNonMalaysian").hide();
                    }
                }
                
            IDCardTypeonfill();
            var payModeID = $('#Customer_PayModeID').val();

            if(payModeID != '' && payModeID != 0){
                setDiv(payModeID);
            }
            else{
                setDivDefault();
            }


                    
    if('@(listPrevExtraTenMSISDNs)'!='')
    {

   $('#ExtraTenMobileNumbers').val('@(listPrevExtraTenMSISDNs)');

    var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        var objListMSISDNs=$('#ExtraTenMobileNumbers').val().split(',');
        $('#hdnExtraTenCount').val(childDivs.length);
        if(objListMSISDNs.length<=childDivs.length)
        {

        for(var i=0;i<childDivs.length;i++)
        {

         var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
         if(txtElement!=null)
         txtElement.val(objListMSISDNs[i]);
         
        }

        }
        else
        {
        
        for(var i=0;i<(objListMSISDNs.length-childDivs.length);i++)
        {
        var index=parseInt($('#hdnExtraTenCount').val())+1;
        var divId = "divExtraTen_"+ index ;
        var txtId = "txtExtraTen_" + index ;
        var delbtnId = "btnDeleteExtraTen_" + index;
         var lblSnoId = "lblSno_" + childDivs.length+1;
        // $("#divExtraTen").append("<div id='"+divId+"' ><input type='text' id='"+txtId+"' /> <input type='button' value='X' onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");;
         $("#divExtraTen").append("<div class='Controller Row' id='"+divId+"' ><label class='NumL' id='"+lblSnoId+"'>"+(parseInt(childDivs.length+1))+"</label><input class='TxtBox' type='text' id='"+txtId+"' /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");
        $('#hdnExtraTenCount').val(index+1);
        
        }
        childDivs = panel.find("div");
        for(var i=0;i<childDivs.length;i++)
        {

         var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
         if(txtElement!=null)
         txtElement.val(objListMSISDNs[i]);
         
        }
        
        
        }

    }




//            var idCardType = $('#Customer_IDCardTypeID').val();

            var idCardType=@(idCardTypeForNewUser);
            var nric = $('#Customer_IDCardNo').val();
            //var ddlIDCardType = $("#Customer_IDCardTypeID").data("tDropDownList");
           // ddlIDCardType.value(idCardType);


            var ddlIDCardType = $("#Customer_IDCardTypeID");
            ddlIDCardType.val(idCardType);

              if($('#Customer_IDCardTypeID').val() == '')
              {              
                     idCardType=@(idCardTypeForNewUser);
                    
                     $('#Customer_IDCardTypeID').val(idCardType);
                    
                    if(idCardType == "1")
                    {                  
                        idCardType="New IC";
                    }
                    else if(idCardType == "2")
                    {
                        idCardType="Passport";
                    }
                    else if(idCardType == "3")
                    {
                        idCardType="Old IC";
                    }
                    else
                    {
                        idCardType="Other ID";
                    } 
               
                ddlIDCardType.value(idCardType);
              }
                       
              if($('#Customer_IDCardNo').val() == ''){
             
                     nric='@(idCardNoForNewUser)';
                     $('#Customer_IDCardNo').val(nric);
              }          
          
            $('#InputIDCardTypeID').val($("#Customer_IDCardTypeID").val());
            $('#InputIDCardNo').val($("#Customer_IDCardNo").val());
            $('#InputNationalityID').val($('#Customer_NationalityID').val());

              var year = nric.substr(0, 2);
              var month = nric.substr(2, 2);
              var day = nric.substr(4, 2);
              var currentYear = (new Date).getFullYear();
              if(currentYear - ("19" + year) <= 100){
                  year = "19" + year;
              }
              else{
                  year = "20" + year;
              }

              var dob = Date.parse(year + "/" + month + "/" + day);

              dob = new Date(dob);
              var dateNow = new Date();
              var age = dateNow.getFullYear() - dob.getFullYear();
              
              if(age < @(minAge) && (@(idCardTypeID) == @(NRICType))){
                  alert("Invalid NRIC! Minimum required @(minAge) years old." );

                  return;
              }

              if ((@(idCardTypeID) == @(NRICType)))
              {
                  $("#DOBDay").val(parseInt(day,10));
                  $("#DOBMonth").val(parseInt(month));
                  $("#DOBYear").val(year);

                  $('#Customer_DateOfBirth').val(month + '/' + day + '/' + year);
              }
              enableordisable();              
        });




               function addExtraTenDiv()
        {
        var index=parseInt($('#hdnExtraTenCount').val())+1;
        var divId = "divExtraTen_"+ index;
        var txtId = "txtExtraTen_" + index ; 
        var delbtnId = "btnDeleteExtraTen_" + index ;
        //$("#divExtraTen").append("<div id='"+divId+"' ><input type='text' id='"+txtId+"' /> <input type='button' value='X' onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");;

        var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        var lblSnoId = "lblSno_" + childDivs.length+1;
        $("#divExtraTen").append("<div class='Controller Row' id='"+divId+"' ><label class='NumL' id='"+lblSnoId+"'>"+(childDivs.length+1)+"</label><input class='TxtBox' type='text' id='"+txtId+"' /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");
        $('#hdnExtraTenCount').val(parseInt(index)+1);
        
        }

       function deleteExtraTen(delbtn)
        {
        var delbtnId=delbtn.id;


         var panel= $("#divExtraTen");
         var childDivs = panel.find("div");

         if(childDivs.length>1)
         {
          $('#'+delbtnId).parent().remove();

         }
        else
        {
        alert("Atleast one mobile number has to be entered for Extra Ten");
        return false;
        }
//        if(parseInt($('#hdnExtraTenCount').val())>1)
//        {
//        $('#'+delbtnId).parent().remove();
//        $('#hdnExtraTenCount').val((parseInt($('#hdnExtraTenCount').val())-1));
//        }
//        else
//        {
//        alert("Atleast one mobile number has to be entered for Extra Ten");
//        return false;
//        }
//        alert($('#hdnExtraTenCount').val());

        ResetSerialNo();
        
        }
         function extraTenWindowOnOpen()
        {
        
        
        
        }
         function ResetSerialNo()
        {
        var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        for(var i=0;i<childDivs.length;i++)
        {
          //alert($('#'+childDivs[i].id).children(':first-child').html());
          var curDivId=childDivs[i].id;
          $('#'+curDivId).children(':first-child').html(i+1)

//           $('#'+curDivId).removeAttr('class');
//           if(i%2==0)
//           {
//            $('#'+curDivId).addClass('Controller AltRow');
//              
//           }
//           else
//           {
//             $('#'+curDivId).addClass('Controller Row');
//           }


        }
        }

        function validateExtraTen()
        {

        var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        var objListMSISDNs="";
        var mobregex = /^60[0-9]{8,10}$/;
        for(var i=0;i<childDivs.length;i++)
        {
        
        var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
         if(txtElement.val() !="")
         {
         if (!mobregex.test(txtElement.val())) 
         {
         $('#ExtratenPlan_Error').show();
                        $('#ExtratenPlan_Error').html("Please enter valid MSISDN number");
         return false;
         }
         }

        if(txtElement.val() !="")
        {
         if(objListMSISDNs.indexOf(txtElement.val()) ==-1)
         {
        if(objListMSISDNs!="")
        objListMSISDNs=objListMSISDNs+","+txtElement.val();
        else
        objListMSISDNs=txtElement.val();
          }
        else
         {
         $('#ExtratenPlan_Error').show();
                        $('#ExtratenPlan_Error').html("Please enter unique mobile numbers");
         return false;
         }




        }
       


        
        }
        
//         $('#ExtraTenMobileNumbers').val(objListMSISDNs);
//         
////            var url = '@(Url.Content("~/Registration/validateExtraTenMSISDN"))';
////           
////            $.post(url,{arrMSISDNs:objListMSISDNs},function (data) {

////            if(data.toString()=='false')
////            {
////            alert("Please enter valid maxis mobile number");
////            return false;
////            }
////            else   if(data.toString()=='true')
////            {
////              
////              $('#ExtraTenMobileNumbers').val(objListMSISDNs);
////            
////               $('#extraTenWindow').data('tWindow').close();
////            }
////            
////            });

//          

//        $('#extraTenWindow').data('tWindow').close();


//Validation

         var url = '@(Url.Content("~/Registration/validateExtraTenMSISDN"))';
           
            $.post(url,{arrMSISDNs:objListMSISDNs},function (data) {

            if(data.toString()!='')
            {
            $('#ExtratenPlan_Error').show();
                        $('#ExtratenPlan_Error').html("Please enter valid maxis mobile number for "+data.toString());
            return false;
            }
            else  if(data.toString()=='')
            {
              
             // $('#ExtraTenMobileNumbers').val(objListMSISDNs);


  var url1 = '@(Url.Content("~/Registration/validateExtraTenMSISDNAgainstAccount"))';
           
            $.post(url1,{arrMSISDNs:objListMSISDNs},function (data) {

            if(data.toString()!='')
            {
            $('#ExtratenPlan_Error').show();
                        $('#ExtratenPlan_Error').html("Please renter "+data.toString()+" as these are already part of your account");
            return false;
            }
            else if(data.toString()=='')
            {
              
              $('#ExtraTenMobileNumbers').val(objListMSISDNs);
            
               $('#extraTenWindow').data('tWindow').close();

               
            }
            
            });
            
              // $('#extraTenWindow').data('tWindow').close();
            }
            
            });
        
        }


         function ResetSerialNo()
        {
        var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        for(var i=0;i<childDivs.length;i++)
        {
          //alert($('#'+childDivs[i].id).children(':first-child').html());
          var curDivId=childDivs[i].id;
          $('#'+curDivId).children(':first-child').html(i+1)

//           $('#'+curDivId).removeAttr('class');
//           if(i%2==0)
//           {
//            $('#'+curDivId).addClass('Controller AltRow');
//              
//           }
//           else
//           {
//             $('#'+curDivId).addClass('Controller Row');
//           }


        }
        }

        function enableordisable()
        {
            if($('#Customer_FullName').val() != "")
            {
              $('#Customer_FullName').css({"background-color": '#F2F2F2'});
              $('#Customer_FullName').attr('readonly', true);
            }
       
       if($('#Customer_Gender').attr('checked') != "undefined" && $('#Customer_Gender').attr('checked') == "checked")
       {
            $(':radio:not(:checked)').attr('disabled', true);
       }              
             if($('#Customer_ContactNo').val() != "")
            {
              $('#Customer_ContactNo').css({"background-color": '#FFFFFF'});
              $('#Customer_ContactNo').attr('readonly', false);
            }
                if($('#Customer_AlternateContactNo').val() != "")
            {
              $('#Customer_AlternateContactNo').css({"background-color": '#FFFFFF'});
              $('#Customer_AlternateContactNo').attr('readonly', false);
            }
                 if($('#Customer_EmailAddr').val() != "")
            {
              $('#Customer_EmailAddr').css({"background-color": '#FFFFFF'});
              $('#Customer_EmailAddr').attr('readonly', false);
            }
                 if($('#Address_Line1').val() != "")
            {
              $('#Address_Line1').css({"background-color": '#FFFFFF'});
              $('#Address_Line1').attr('readonly', false);
            }
              if($('#Address_Line2').val() != "")
            {
              $('#Address_Line2').css({"background-color": '#FFFFFF'});
              $('#Address_Line2').attr('readonly', false);
            }
             if($('#Address_Line3').val() != "")
            {
              $('#Address_Line3').css({"background-color": '#FFFFFF'});
              $('#Address_Line3').attr('readonly', false);
            }
              if($('#Address_Town').val() != "")
            {
              $('#Address_Town').css({"background-color": '#FFFFFF'});
              $('#Address_Town').attr('readonly', false);
            }
              if($('#Address_Postcode').val() != "")
            {
              $('#Address_Postcode').css({"background-color": '#FFFFFF'});
              $('#Address_Postcode').attr('readonly', false);
            }
               if($('#MalayAdvDeposit').val() >0)
            {
              $('#MalayAdvDeposit').css({"background-color": '#F2F2F2'});
              $('#MalayAdvDeposit').attr('readonly', true);
            }
             if($('#OtherAdvDeposit').val() >0)
            {
              $('#OtherAdvDeposit').css({"background-color": '#F2F2F2'});
              $('#OtherAdvDeposit').attr('readonly', true);
            }
        }

        //        Begin Code added by VLT on 21 Apr 2013
        var selGener="";
        
        $(".gender").click(function(){ 
                    if( $(this).is(":checked") ){ 
                    selGener = $(this).val(); 
                }
            });

        function ValidateICNum()
        {
            var ContactNo=$('#Customer_ContactNo').val();
        
            $('#TabNumber').val(4);
           if('@(idCardTypeForNewUser)'==1)
           {
            var ICNum = $('#Customer_IDCardNo').val();
            ICNum=ICNum.toString(); 

            var year=ICNum.substring(0,2);
            var month = 0;
            month = ICNum.substring(2,4);
            var day = ICNum.substring(4,6);
            var gender = ICNum.substring(ICNum.length,ICNum.length-1);

            //var selGener=$('#Customer_Gender').val();
            if(parseInt(year,10) != parseInt($('#DOBYear').val().substring(2,4)))
            {                    
//                alert("DOB Year does not match with IC number");
//                return true;
            }
            if(parseInt(month,10) != parseInt($('#DOBMonth').val()))
            //if(month != $('#DOBMonth').val())
            {   
//                alert("DOB Month does not match with IC number");
//                return true;
            }
            if(parseInt(day,10) != parseInt($('#DOBDay').val()))
            {                    
//                alert("DOB Day does not match with IC number");
//                return true;
            }
            var IsMale="";
            if(parseInt(gender)%2==0)
            {
                //even Female
                IsMale="F";
            }
            else
            {
                //Odd //Male
                IsMale="M";
            }
            if(selGener != "")
            {
                if(selGener.toString()!=IsMale)
                {
//                    alert("Gender is mismatched with IC number");
//                    return true;
                }
            }
            else
            {
                selGener = $('#Customer_Gender').val();
            }
//           
//            if(ContactNo != "" && ContactNo != "60322331234")
//            {
//                if(ContactNo.substring(0,2)!="60" || ContactNo.length < 10 || ContactNo.length > 12)
//                {
//                    alert("Please enter valid Contact Number ");
//                    return false;
//                }
//            }
            }
             var genderVal="";
 $("input[type=radio][name=Customer.Gender]").each(function() {
 if($(this).attr("checked")=="checked")
 {
selGener=$(this).val();
 genderVal = selGener;
 }

 });

// if($("#Customer_CustomerTitleID").data("tDropDownList").value()=="")
// {
// alert("Please Select Title");
// return false;
// }
// if(genderVal=="")
// {
// alert("Please Select Gender");
// return false;
// }
 if($("#Customer_LanguageID").data("tDropDownList").value()=="")
 {
// alert("Please Select Language");
// return false;
 }
 if($("#Customer_RaceID").data("tDropDownList").value()=="")
 {
// alert("Please Select Race");
// return false;
 }
if($("#Customer_ContactNo").val()=="")
 {
//alert("Please Enter Contact No");
// $("#Customer_ContactNo").focus();
// return false;
 }
            return true;
            
        }
//        End Code added by VLT on 21 Apr 2013

        function populateDOB(){
            
            var currentTime = new Date();
            var month = currentTime.getMonth()+1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            
            if($('#DOBDay').val() != '')
            {
                day = $('#DOBDay').val();
            }

            if($('#DOBMonth').val()!='')
            {
                month = $('#DOBMonth').val();
            }

            if($('#DOBYear').val()!='')
            {
                year = $('#DOBYear').val();
            }

            $('#Customer_DateOfBirth').val(month + '/' + day + '/' + year);
        }
        
        function SubmitForm(sequenceNo) {            
            $('#submit1').val(sequenceNo);
            document.forms['frmPersonalDetails'].submit();
        }

        function paymodeChanged() {
            var paymodeID = 0;

            if($('#Customer_PayModeID').val() == @(autoBillingID)){
                paymodeID = @(autoBillingID)
            }
            setDiv(paymodeID);
        }

        function toUpperCase(txt){
            $(txt).val($(txt).val().toUpperCase());
        }

        function setDiv(paymodeID) {
            if (paymodeID == @(autoBillingID)) { 
                $(".autoBilling").show();
                enableAutoBillingDiv();
            }
            else {
                setDivDefault();
            }
        }

        function setDivDefault() {
            $(".autoBilling").hide();
            disableAutoBillingDiv();
        }

        function enableAutoBillingDiv() {
            $(".autoBilling :input").removeAttr("disabled");
        }

        function disableAutoBillingDiv() {
            $(".autoBilling :input").attr("disabled", true);
        }

        String.prototype.toProperCase = function () {
        return this.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
        };

         function RetrieveMyKadInfo(){
          var stateName = $("#Address_StateID")[0].options[$("#Address_StateID")[0].options.selectedIndex].text;
         var strKenanData="";
         //Code added by VLT ON APRIL 05 2013
         strKenanData+=$('#Customer_FullName').val();
        // strKenanData+="╚"+$("#Customer_IDCardTypeID").data("tDropDownList").value();
        strKenanData+="╚"+$("#Customer_IDCardTypeID").val();
         strKenanData+="╚"+$('#Customer_IDCardNo').val();
         strKenanData+="╚"+$('#Customer_NationalityID').val();
         //strKenanData+="╚"+$("#Customer_NationalityID").data("tDropDownList").value();
         strKenanData+="╚"+$("#Customer_NationalityID").val();
         strKenanData+="╚"+$('#Address_Line1').val();
         strKenanData+="╚"+$('#Address_Line2').val();
         strKenanData+="╚"+$('#Address_Line3').val();
         strKenanData+="╚"+$('#Address_Town').val();
         strKenanData+="╚"+$('#Address_Postcode').val();
        //strKenanData+="╚"+$('#Address_StateID').val();
         strKenanData += "╚" + stateName;
         //strKenanData+="╚"+$("#Address_StateID").data("tDropDownList").value();
         //End of code added by VLT
        
            var icno =$('#Customer_IDCardNo'); 
            var url = '@(Url.Content("~/Registration/RetrieveMyKadInfo"))';
            $.post(url, { icno:icno.val(),strKenanCustomerInfo:strKenanData}, function (data) {
                
                if(data.FingerMatch==false && data.FingerThumb==null)
                {$('#dvError').html('Biometric check is not performed !');
                $("html, body").animate({ scrollTop: 0 }, "slow");}      
               else if(data.FingerMatch==true)
                {
                    $('#dvError').html('Biometric check is performed, thumb impression matched !');
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    ////Comparison code by VLT
                    //var isValid=CompareData(data,strKenanData);
                    ////End Comparison code by VLT
                    //if(isValid==false)
                    //{
                    //if(confirm("Do you want to overwrite the existing data with Biometric data ?")==true)
                    //{
                    //$('#Customer_FullName').val(data.Name);
                    //$('#Customer_IDCardNo').val(data.NewIC);
                    //var year = data.DOB.substr(0, 4);
                    //var month = data.DOB.substr(5, 2);
                    //var day = data.DOB.substr(8, 2);
                    //$("#DOBDay").val(parseInt(day,10));
                    //$("#DOBMonth").val(parseInt(month));
                    //$("#DOBYear").val(year);
                    //$('#Customer_DateOfBirth').val(data.DOB);
                    //$('#Customer_Gender').val(data.Gender);
                    //$("input[id='rdbGender'][value='"+data.Gender+"']").attr("checked", true);
                    ////$('#Customer_NationalityID').val(data.Nationality);
                    //$("#Customer_NationalityID").data("tDropDownList").text(data.Nationality);
                    ////Commented by chetan since we are not geting always MALAYSIAN as nationality
                    ////if(data.Nationality=='MALAYSIAN')
                    ////{
                    ////$('#Customer_LanguageID').val('Malay');
                    ////}
                    ////else if(data.Nationality!='MALAYSIAN')
                    ////{
                    ////$('#Customer_LanguageID').val('English');
                    ////} 
                    ////else 
                    ////{
                    ////$('#Customer_LanguageID').val(data.Language);
                    ////}
                    ////if(data.Nationality=='MALAYSIAN')
                    ////{
                    ////   $('#Customer_RaceID').val('MALAY');
                    ////}
                    ////else if(data.Nationality!='CHINESE'){
                    ////   $('#Customer_RaceID').val('CHINESE');
                    ////} 
                    ////else {
                    ////   $('#Customer_RaceID').val(data.Race);
                    ////}                    
                    //$('#Address_Line1').val(data.Address1);
                    //$('#Address_Line2').val(data.Address2);
                    //$('#Address_Postcode').val(data.Postcode);
                    //$('#Address_StateID').val(data.State);
                    ////Code Added by VLT ON APR 05
                    //$('#Address_Town').val(data.City);
                    ////var combo = $('#Address_StateID').data('tDropDownList');
                    ////fill in the combo
                    ////$.each(combo.data, function (key, value) {
                    ////if (value.Text.toLowerCase() == data.State.toLowerCase()) {
                    ////combo.select(key);
                    ////return;
                    ////}
                    ////}); 
                    ////CHANGE TO PROPER CASE
                    //var state = data.State.toProperCase();                   
                    ////GET THE INSTANCE OF DROPDOWN
                    //var comboBox = $("#Address_StateID").data("tDropDownList");
                    ////CONVERT FROM JSON
                    //var Mydata = $("#Address_StateID").data("tDropDownList").data; 
                    ////LOOP THROUGH AND SET MATCHING ONE
                    //for (var i=0;i<Mydata.length-1;i++)
                    //{                        
                    //if(Mydata[i].Text==state)
                    //{
                    //comboBox.select(i);
                    //break;
                    //}
                    //}
                    //// $("#Address_StateID").data("tDropDownList").text(data.State)
                    //$('#Address_Line3').val(data.Address3);
                    ////Code Added by VLT ON APR 05
                    ////$('#Race').val(data.Religion);
                    ////$('#NewIC').val(data.OldIC);
                    ////$('#Gender').val(data.Gender);
                    ////$('#FullName').val(data.City);
                    ////$('#Address2').val(data.Address3);
                    //$('#IDCardNoValidate').val(true);
                    //$("#failedValiadate").show();
                    //}
                    //}
                }
                 else if(data.FingerMatch==false && data.FingerThumb==0)
                {$('#dvError').html('Biometric check is performed, but thumb impression not matched !');
                $("html, body").animate({ scrollTop: 0 }, "slow");}
                else
                {$('#dvError').html('Biometric check is not performed !');
                $("html, body").animate({ scrollTop: 0 }, "slow");}  
                
                
            });
        }
        //Code Added by VLT
           function CompareData(jsnonData,kenanData){
                    //Name
                     if(jsnonData.Name.toUpperCase()!=kenanData.split('╚')[0].toUpperCase())
                     {
                      return false;
                     }
                    
                     //Ic No
                      if(kenanData.split('╚')[1]=="Old IC" && isValid==true)
                     {
                        if(jsnonData.OldIC!=kenanData.split('╚')[2])
                        {
                             return false;
                        }
                     }
                     else if(kenanData.split('╚')[1]=="New IC")
                     {
                         if(jsnonData.NewIC!=kenanData.split('╚')[2])
                        {
                             return false;
                        }
                     }
                     //Nationality
//                     if(jsnonData.Nationality!=kenanData.split('╚')[3])
//                     {
//                          return false;
//                     }

                     //AddressLine1
                     if((jsnonData.Address1 == undefined? "":jsnonData.Address1.toUpperCase()) != kenanData.split('╚')[4].toUpperCase())
                     {
                          return false;
                     }

                      //AddressLine2
                     if((jsnonData.Address2 == undefined? "":jsnonData.Address2.toUpperCase()) != kenanData.split('╚')[5].toUpperCase())
                     {
                          return false;
                     }

                      //AddressLine3
                     if((jsnonData.Address3 == undefined? "":jsnonData.Address3.toUpperCase()) != kenanData.split('╚')[6].toUpperCase())
                     {
                          return false;
                     }
                     //City
                     if((jsnonData.City == undefined? "":jsnonData.City.toUpperCase()) != kenanData.split('╚')[7].toUpperCase())
                     {
                          return false;
                     }

                     //Postal Code
                     if(jsnonData.Postcode!=kenanData.split('╚')[8])
                     {
                          return false;
                     }

                     //State
                     if((jsnonData.State == undefined? "":jsnonData.State.toUpperCase()) != kenanData.split('╚')[9].toUpperCase())
                     {
                          return false;
                     }

                     return true;
           }
        function setGender(rdbGender) {
            var hdfGender = $("#Customer_Gender");
            hdfGender.val($(rdbGender).val());
        }

        function IDCardTypeChanged(){
            $('#Customer_IDCardNo').val('');
        }

         function IDCardTypeonfill(){
             
            if($("#Customer_IDCardTypeID").val() > 0 && $("#Customer_IDCardNo").val() != '')
            {
                if($('#InputIDCardNo').val() == $("#Customer_IDCardNo").val()||$('#InputIDCardNo').val() != $("#Customer_IDCardNo").val() || $('#InputIDCardTypeID').val() != $("#Customer_IDCardTypeID").val()||$('#InputNationalityID').val() != $("#Customer_NationalityID").val() || $('#InputNationalityID').val() != $("#Customer_NationalityID").val())
                {
                    var url = '@(Url.Content("~/Registration/CreditCheck"))';


                     $.ajax({
                type: "POST",
                dataType: "json",
                url: url,
                async: false,
                data: { idCardNo:$("#Customer_IDCardNo").val(), idCardTypeID:$("#Customer_IDCardTypeID").val(),malaysianID: $("#Customer_NationalityID").val()},
                success: function (data) {
                 
                     if(data.isBlacklisted){
                    
                            //$('#divCreditCheckMsg').show();

                            //disable IDCardType and IDCardNo
                            $('#Customer_IDCardNo').css({"background-color": '#F2F2F2'});
                            $('#Customer_IDCardNo').attr('readonly', true);
                            //$("#Customer_IDCardTypeID").data("tDropDownList").disable();
                        }
                   else{
                            //$('#divCreditCheckMsg').hide();

                            //disable IDCardType and IDCardNo
                            $('#Customer_IDCardNo').css({"background-color": '#F2F2F2'});
                            $('#Customer_IDCardNo').attr('readonly', true);
                            //$("#Customer_IDCardTypeID").data("tDropDownList").disable();
                        }                                     
                },
                error: function (err, result, thrownError) {
                            }
            });
          
                    $('#InputIDCardTypeID').val($("#Customer_IDCardTypeID").val());
                    $('#InputIDCardNo').val($("#Customer_IDCardNo").val());
                     $('#InputNationalityID').val($('#Customer_NationalityID').val());

                }
            }        
        }

        $("#Customer_IDCardNo").focusout(function() {
            if($("#Customer_IDCardTypeID").val() > 0 && $("#Customer_IDCardNo").val() != '')
            {
                if($('#InputIDCardNo').val() == $("#Customer_IDCardNo").val()||$('#InputIDCardNo').val() != $("#Customer_IDCardNo").val() || $('#InputIDCardTypeID').val() != $("#Customer_IDCardTypeID").val())
                {
                    var url = '@(Url.Content("~/Registration/CreditCheck"))';
                     $.ajax({
                type: "POST",
                dataType: "json",
                url: url,
                async: false,
                data: { idCardNo:$("#Customer_IDCardNo").val(), idCardTypeID:$("#Customer_IDCardTypeID").val() },
                success: function (data) {
                     if(data.isBlacklisted){
                    
                            //$('#divCreditCheckMsg').show();
                            
                        }
                   else{
                            //$('#divCreditCheckMsg').hide();

                            
                            //disable IDCardType and IDCardNo
                            $('#Customer_IDCardNo').css({"background-color": '#F2F2F2'});
                            $('#Customer_IDCardNo').attr('readonly', true);
                           // $("#Customer_IDCardTypeID").data("tDropDownList").disable();                          
                        }                                     
                },
                error: function (err, result, thrownError) {
                alert('error');                }
            });
            /*
                    $.post(url, { idCardNo:$("#Customer_IDCardNo").val(), idCardTypeID:$("#Customer_IDCardTypeID").val() }, function (data) {
                    
                        if(data.isBlacklisted){
                            $('#divCreditCheckMsg').show();
                        }
                        else{
                            $('#divCreditCheckMsg').hide();

                            //disable IDCardType and IDCardNo
                            $('#Customer_IDCardNo').css({"background-color": '#F2F2F2'});
                            $('#Customer_IDCardNo').attr('readonly', true);
                            $("#Customer_IDCardTypeID").data("tDropDownList").disable();
                        }
                        
                    });
 */
                    $('#InputIDCardTypeID').val($("#Customer_IDCardTypeID").val());
                    $('#InputIDCardNo').val($("#Customer_IDCardNo").val());
                    $('#InputNationalityID').val($('#Customer_NationalityID').val());

                }
            }
        });
    </script>
    <script type="text/javascript">
        $(document).keypress(function (e) {
            if (e.keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });
    </script>
}

