﻿@{
    ViewBag.Title = "CustomerImage";
}

<style type="text/css">
			#container {
				width: 450px;
				height: 280px;
				position:absolute;
			}
			
			#carousel {
				position: absolute;
				top: 30px;
			}

			#carousel img {
				border: 0;
			}

			#ui-carousel-next, #ui-carousel-prev {
				width: 450px;
				height: 27px;
				background: url(/Content/images/arrow_down.png) #64ca4a center center no-repeat;
				display: block;
				position: absolute;
				left: 0
				z-index: 100;
			}

			#ui-carousel-next {
				top: 0;
				background-image: url(/Content/images/arrow_up.png);
			}

			#ui-carousel-prev {
				bottom: 0;
			}
			
			#ui-carousel-next > span, #ui-carousel-prev > span {
				display: none;
			}	
		</style>
<h2>CustomerImage</h2>
		<div id="header">
			<p>
				This is an example of <em>rcarousel</em> – a jQuery UI continuous carousel.
				Go back to the <a href="http://ryrych.github.com/rcarousel/">documentation</a>
			</p>
		</div>
		
		<div id="content">
			<h1>vertical carousel</h1>
			
			<div id="container">
				<div id="carousel">
                    <div>
                        <div style="float:left">
                            <button class="cancel btnPlanSelection" style="width:420px;height:55px; padding:0" type="button" >
                                Plan 1
                            </button>
                        </div>
                        <div style="float:right">
                            <button style="width:30px;height:55px; padding:0" type="button" class="button-plan-details">
                            </button>
                        </div>
                    </div>
                    <div>
                        <div style="float:left">
                            <button class="cancel btnPlanSelection" style="width:420px;height:55px; padding:0" type="button" >
                                Plan 2
                            </button>
                        </div>
                        <div style="float:right">
                            <button style="width:30px;height:55px; padding:0" type="button" class="button-plan-details">
                            </button>
                        </div>
                    </div>
                    <div>
                        <div style="float:left">
                            <button class="cancel btnPlanSelection" style="width:420px;height:55px; padding:0" type="button" >
                                Plan 3
                            </button>
                        </div>
                        <div style="float:right">
                            <button style="width:30px;height:55px; padding:0" type="button" class="button-plan-details">
                            </button>
                        </div>
                    </div>
                    <div>
                        <div style="float:left">
                            <button class="cancel btnPlanSelection" style="width:420px;height:55px; padding:0" type="button" >
                                Plan 4
                            </button>
                        </div>
                        <div style="float:right">
                            <button style="width:30px;height:55px; padding:0" type="button" class="button-plan-details">
                            </button>
                        </div>
                    </div>
                    <div>
                        <div style="float:left">
                            <button class="cancel btnPlanSelection" style="width:420px;height:55px; padding:0" type="button" >
                                Plan 5
                            </button>
                        </div>
                        <div style="float:right">
                            <button style="width:30px;height:55px; padding:0" type="button" class="button-plan-details">
                            </button>
                        </div>
                    </div>
				</div>
				<a href="#" id="ui-carousel-next"><span>next</span></a>
				<a href="#" id="ui-carousel-prev"><span>prev</span></a>
			</div>
		</div>

@section Scripts{
    <script type="text/javascript">
        jQuery(function ($) {
            $("#carousel").rcarousel({
                orientation: "vertical", step: 3, speed: 500, visible: 4, width: 450, height: 55
            });

            $("#ui-carousel-next")
					.add("#ui-carousel-prev")
					.hover(
						function () {
						    $(this).css("opacity", 0.7);
						},
						function () {
						    $(this).css("opacity", 1.0);
						}
					);
        });
    </script>
}