@using Online.Registration.Web.Helper;
@using SNT.Utility;
@model Online.Registration.Web.CatalogSvc.GetDeviceImageDetailsResp
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/colorbox.css")" />
    @{Html.Telerik().StyleSheetRegistrar()
        .DefaultGroup(g => g
            .Add("telerik.common.css")
            .Add("telerik.office2010silver.min.css")
        ).Render();
    }
    <style>
        h1
        {
            background-color: #7B7D7A;
            color: #FFFFFF;
            float: left;
            font-size: 15px;
            padding: 5px 50px 5px 10px;
        }
        
        p
        {
            clear: both;
            float: left;
            margin: 5px 0;
        }
        p, ul
        {
            line-height: 1.6em;
            margin-bottom: 20px;
        }
        
        #wrapper
        {
            margin: 20px auto 0;
            width: 1000px;
        }
        .img img
        {
            left: 0px;
            position: absolute;
        }
    </style>
</head>
<body>
    <div id="wrapper">
    <table>
        <tr>
            <td style="vertical-align: top;">
                @if (Model.deviceDetails != null && Model.deviceDetails.BrandArticle != null)
                {
                    if (Model.deviceDetails.BrandArticle.ModelImage != null && Model.deviceDetails.BrandArticle.ModelImage != string.Empty)
                    {
                        <img src="@Url.Content(Model.deviceDetails.BrandArticle.ModelImage)" alt="Image unavailable" width="200";/>
                    }
                    else if (Model.deviceDetails.BrandArticle.ImagePath != null && Model.deviceDetails.BrandArticle.ImagePath != string.Empty)
                    {
                        <img src="@Url.Content(Model.deviceDetails.BrandArticle.ImagePath)" alt="Image unavailable" width="200"/>
                    }
                    else
                    {
                        <div style="float: middle; font-weight: bold; padding-top: 50px">
                            Image Unavailable<br />
                            @Html.Raw(Util.GetNameByID(RefType.Model, Model.deviceDetails.BrandArticle.ModelID))<br />
                            @Html.Raw(Model.deviceDetails.BrandArticle.ColourID > 0 ? Util.GetNameByID(RefType.Colour, Model.deviceDetails.BrandArticle.ColourID) : "")<br />
                        </div>
                    }
                }
            </td>
            <td>
                @if (Model.deviceDetails != null && Model.deviceDetails.BrandArticle != null && Model.deviceDetails.BrandArticle.Description != null && Model.deviceDetails.BrandArticle.Description != string.Empty)
                {
                    @Html.Raw(Model.deviceDetails.BrandArticle.Description)

                }
                else
                {
                    <h2>
                        No description available !</h2>    
                }
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @if (Request.UrlReferrer.ToString2().Contains("DeviceSales") == false)
                {
                <div class="TableData">
                    @{
                    Html.Telerik().Grid(Model.deviceDetails.DevicePlanData)
                        .Name("gvwDeviceDetails")
                        .HtmlAttributes(new { style = "width:970px;" })
                        .TableHtmlAttributes(new { style = "border-radius:0px;" })
                        .NoRecordsTemplate("No records to display")
                        .Columns(cols =>
                        {
                            cols.Bound(m => m.PlanName).Title("Rate Plan").Width(100);
                            cols.Bound(m => m.ContractName).Title("Contract").Width(120);
                            cols.Bound(m => m.DataPlan).Title("Data Plan");
                            cols.Bound(m => m.ContractTerm).Title("Contract Term").Width(90);
                            cols.Bound(m => m.RRP).Title("RRP");
                            cols.Bound(m => m.Price).Title("Price");
                            cols.Bound(m => m.MalayDeviceAdvance).Title("Device Advance").Width(110);
                            cols.Bound(m => m.MalayDeviceDeposit).Title(Constants.IVALUE_ADVANCE).Width(140);

                        })
                                               .Render();
                    }
                </div>
                }
            </td>
        </tr>
        </table>
    </div>
</body>
</html>
