﻿@{
    ViewBag.Title = "DME Print Orders";
}
@model Online.Registration.Web.ViewModels.DMEPrintVM
@*<script src="@Url.Content("~/Scripts/cordova-2.1.0.js")" type="text/javascript"></script>*@
@using (Html.BeginForm("GetDMEPrintList", "Registration", FormMethod.Post, new { id = "frmGetDMEPrintList" }))
{
    <div id="wrapper">
        @*<div id="maincontentcontainer">
            <div id="center">
                <div class="center_box">
                    <div class="content inventory-header">
                        <div class="inventory-header-box">
                            <div class="inventory-hdr-title">
                               @ViewBag.Title</div>
                          
                            </div>
                            </div>
                            </div>
                         </div>
                            </div>
                            *@
                <div id="maincontentcontainer">
                 <div id="center">
                 <div class="center_box">
                <div class="content search-header">
                <div class="inventory-header-box">
                    <div class="search-hdr-title">@ViewBag.Title</div>
                </div>
                </div>
            </div>
            
           
   <div class="content_white">
    <div class="inventory-result-wrapper">
        @{
        Html.Telerik().Grid(Model.DMEUserPrint)
        .Name("gvwRegistration")
        .Footer(false).Scrollable(a => a.Enabled(true).Height(380))
        .HtmlAttributes(new { style = "width:800px;" })
        .TableHtmlAttributes(new { style = "border-radius:10px;" })
        .Selectable().DataKeys(a => a.Add("RegID"))
        .ClientEvents(events => events.OnRowSelect("onRowSelected"))
        .NoRecordsTemplate("No records to display").Sortable(sorting => sorting.OrderBy(sortOrder => sortOrder.Add(m => m.id).Descending()))
        .Columns(cols =>
        {
            cols.Bound(m => m.id).Title("ID");
            cols.Bound(m => m.RegID).Title("Order Id");
            cols.Bound(m => m.CreatedDate).Title("Created Date");
        }).Render();
        }       
    </div>
    </div>
     </div>
     </div>
      </div>
}
@section Scripts{
    <script type="text/javascript">
        function onRowSelected(e) {
            var ordersGrid = $('#gvwRegistration').data('tGrid');
            regID = e.row.cells[1].innerHTML;
            window.location.href = '@(Url.Content("~/Registration/PrintMobileRF?id="))' + regID + "&barcode=" + "" + "&barcode_subtype=code128b"; 
        }
    </script>
  
}