﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Controllers;
@model Online.Registration.Web.Models.PrincipalAndSupplementaryDetails
@{
    ViewBag.Title = "Change Rate Plan";
    var isBlacklisted = ViewBag.isBlacklisted;
    var resultMsg = Session["RegMobileReg_ResultMessage"].ToString2();
    bool newUser = true;
    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        newUser = false;
    }
    if (ReferenceEquals(Model, null))
    {
        newUser = true;
    }
    List<string> allowedPrefixes = new List<string>();
    if (System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"] != null)
    {
        allowedPrefixes = System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"].ToString2().Split(',').ToList();
    }
}
<div id="center">
    <div class="center_box">
        @using (Html.BeginForm("PrincipalPlan", "Registration", FormMethod.Post, new { id = "frmChangeRatePlan1", @class = "overlayonsubmit", processmsg = "Loading" }))
        { 
            <input type="hidden" name="principalDetails" value='@Model.principalDetails.Count' />
            @Html.Hidden("submit")
            <input type="hidden" name="hdnSelectedValue" />
  
            <div class="content search-header">
                <div class="search-header-box">
                    <div class="search-hdr-title">@ViewBag.Title</div>
                </div>
            </div>
            <div style="clear: both;">
            </div>
    
            <div class="content_white">
                <div id="DVResultDisplay">
                    @Html.ValidationSummary()
                    <div style="font-size: small; font-weight: bold; white-space: nowrap; padding-left: 20px;
                        padding-top: 5px;">
                        Selected principal account: @Html.Label(Session["ExternalID"].ToString2())
                    </div>
                    <br />
                    <div style="font-size: small; font-weight: bold; padding-left: 20px;">
                        Select a principal account to map supplementary account
                    </div>
                    <table width="100%" style="text-align: center;">
                        <tr>
                            <td>
                                @if (!newUser && Model.principalDetails.Count > 0)
                                {
                                    <div id="Grid" class="crp-wrapper">
                                        <table width="100%" cellpadding="0" cellspacing="0" border="0" id="search-table">
                                            <tbody>
                                                <tr class="row-header">
                                                    <td align="center">
                                                        Action
                                                    </td>
                                                    <td>
                                                        Name
                                                    </td>
                                                    <td>
                                                        ID No
                                                    </td>
                                                    <td>
                                                        MSISDN
                                                    </td>
                                                    <td>
                                                        Account Number
                                                    </td>
                                                    <td>
                                                        IS MISM
                                                    </td>
                                                </tr>
                                                @{int rowCount = 0;}
                                                @foreach (var Acd in Model.principalDetails)
                                                {
                                                    if (allowedPrefixes.Contains(Acd.externalId.Substring(0, 3)))
                                                    {
                                                        if (Convert.ToDecimal(Acd.outstandingAmount.Replace("RM", "")) == 0)
                                                        {
                                                    <tr class="row-body">
                                                        @{  rowCount = rowCount + 1;
                                                        }
                                                        @*<td>@Html.RadioButton("SelectAccountPrinDtls", Acd.accountIntId + "," + Acd.externalId + "," + Acd.accountExtId + "," + Acd.AccountNumber + "," + Acd.outstandingAmount + "," + Acd.AccountStatus, rowCount == 1 ? true : false, new { id = "SelectRadioButton" })</td>*@
                                                        <td align="center">@Html.RadioButton("SelectAccountPrinDtls", Acd.accountIntId + "," + Acd.externalId + "," + Acd.accountExtId + "," + Acd.AccountNumber + "," + Acd.outstandingAmount + "," + Acd.AccountStatus + "," + Convert.ToInt16(Acd.Plan) + "," + Acd.SubscribeNo.ToString2() + "," + Acd.SubscribeNoResets.ToString2() + "," + Acd.IsMISM.ToString2(), rowCount == 1 ? true : false, new { id = "SelectRadioButton" })
                                                        </td>
                                                        <td>@Html.Label(Acd.Holder)
                                                        </td>
                                                        <td>@Html.Label(Acd.IDNumber)
                                                        </td>
                                                        <td>@Html.Label(Acd.externalId)
                                                        </td>
                                                        <td>@Html.Label(Acd.accountExtId)
                                                        </td>
                                                        @{if (Acd.IsMISM == true)
                                                          {
                                                            <td>
                                                                Yes
                                                            </td>
                                                          }
                                                          else
                                                          {
                                                            <td>
                                                                No
                                                            </td>  
                                                          }
                                                        }
                                                    </tr>
                                       
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }
                                else
                                {
                                    <div id="DVShowNewUSerMsg" style="color:Red;" >
                                        No Principal accounts exists for the user</div>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
                @if (!newUser && Model.principalDetails.Count > 0)
                {
                           
                    <div style="height: 80px;" class="content_white" id="DVResultButtonDisplay">
                        <div style="float: right; padding-right: 30px" id="divHeader">
                            <input class="submitButton" type="submit" value="Next" onclick="$('#submit').val('next,2');" />
                        </div>
                    </div>
                }
            </div>
   
            <div id="jqxgrid">
            </div>

   
        }
    </div>
    @Html.Partial("_footer")
</div>
}
@section Scripts{
}
