﻿@{
    ViewBag.Title = "IsSupplimentaryRequired";
}



<div id="wrapper">
    <div id="maincontentcontainer">
        <div id="center">
        <h2>IsSupplimentaryRequired</h2>
            
              @using (Html.BeginForm("IsSupplimentaryReq", "Registration", FormMethod.Post))
              {
                   @Html.Hidden("submit")

                 // @Html.DropDownList("SupplementaryLines" IEnumerable<String>); 

             <div id="divContinue" style="display:block;">
                <input class="submitButton" type="submit" value="Continue" />

            </div>
              }
            <div class="footer-text">
                @Html.Partial("_footer")
            </div> 
        </div>
         
    </div>
</div>