﻿@{
    ViewBag.Title = "Media Gallery";
}

<div class="vwHeader">
    <table width="100%">
        <tr>
            <td>
                <div>@ViewBag.Title</div>
                <div class="vwSubHeader">@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<div class="viewInnerBody">
    <div style="font-size:x-large;padding:10px 0px 10px 0px;">Apple iPhone 4S Official Commercial</div>
    <iframe width="640" height="360" src="http://www.youtube.com/embed/KxvRvry09Yo" frameborder="0" ></iframe>
</div>
