﻿@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.SubscriberICService;
@using Online.Registration.Web.Models;
@model Online.Registration.Web.Models.MNPSelectPlanForSuppline
@{
    ViewBag.Title = "Add Supplementary line details";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    bool showContinueButton = false;

    if (!ReferenceEquals(Model, null) && (!ReferenceEquals(Model.SupplimentaryMSISDNs, null)) && ((Model.SupplimentaryMSISDNs.Count > 0)))
    {
        if (!Model.SupplimentaryMSISDNs.Exists(i => i.Status == MNPSupplimentaryDetailsAddState.PROCESSING.ToInt() || i.Status == MNPSupplimentaryDetailsAddState.NOTINITIALIZED.ToInt()))
        {
            ///SET IT TO TRUE ONLY WHEN ALL SUPPLIMENTARY MSISDN'S ARE PROCESSED OR RATHER POPULATED WITH NEEDED INFORMATION
            showContinueButton = true;
        }
    }
}

<!-- Centre column area -->

<div class="container ipad-container">
   <div class="isell-base">
   
        <div class="row">
            @{
                Html.RenderPartial("_AccountHolderName");
            }
        </div>
           
        <div class="row">
            <div class="col-sm-12 green-bg">
                <p class="font-24">@ViewBag.Title</p>
            </div>
        </div>

        <div id="center">            
        @using (Html.BeginForm("MNPSelectSuppLine", "Registration", FormMethod.Post, new { id = "frmAddSuppline", @class = "overlayonsubmit", processmsg = "Loading" }))
        {
         <div class="center_box">
            <div class="content_white" style="padding:70px 10px 100px 10px" >
                @if (Model.SupplimentaryMSISDNs.Count > 0)
                {
                    <div id="Grid" class="t-widget t-grid">
                        <table width="100%" cellspacing="1" border="1" cellpadding="1">
                           <colgroup>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>

                              
                            </colgroup>
                            <thead class="t-grid-header" style="border-color: #a4abb2;background: #d2d5d9;">
                                <tr style="font-size: 21px;">
                                <th scope="col" style="word-break; break-all;word-wrap: break-word;white-space: normal;">
                                    <span style="height:auto;line-height:normal;margin:0;padding:0;">Supplementary MSISDN</span>
                                </th>
                                <th scope="col" style="word-break; break-all;word-wrap: break-word;white-space: normal;">
                                    <span style="height:auto;line-height:normal;margin:0;padding:0;">Action</span>
                                    @Html.Hidden("submit")
                                </th>
                            </tr>
                            </thead>

                            <tbody style="font-size: 21px;">
                                @if (!ReferenceEquals(Model, null) && !ReferenceEquals(Model.SupplimentaryMSISDNs, null))
                                {
                                    if (Model.SupplimentaryMSISDNs.Count > 0)
                                    {
                                        string ProcessingMsisdn = string.Empty;
                                        ///CHECK IF ALREADY ANY MSISDN IN PROCESSING MODE. IF SO GET THE MSISDN NAME
                                        if (Model.SupplimentaryMSISDNs.Where(i => i.Status == MNPSupplimentaryDetailsAddState.PROCESSING.ToInt()).ToList().Count > 0)
                                        {
                                            ProcessingMsisdn = Model.SupplimentaryMSISDNs.Where(i => i.Status == MNPSupplimentaryDetailsAddState.PROCESSING.ToInt()).ToList().FirstOrDefault().Msisdn;
                                        }
                                        foreach (var SuppLine in Model.SupplimentaryMSISDNs)
                                        {
                                         <tr style="height: 54px;">
                                            <td style="padding: 8px;">
                                            @Html.Label(SuppLine.Msisdn)
                                            </td>
                                            <td style="padding: 8px;">                                        
                                                @if (SuppLine.Status == MNPSupplimentaryDetailsAddState.PROCESSED.ToInt())
                                                {///IF THE MSISDN IS ALREADY IN PROCESSED MODE THEN STRAIGHT AWAY DISABLE IT
                                                     <button value="@SuppLine.Msisdn" type="submit" id="Msisdn" name="Msisdn" style="width: 250px;" class="btn isell-next" disabled="disabled">ADD SUPPLEMENTARY LINE</button>
                                                }
                                                else if (!string.IsNullOrWhiteSpace(ProcessingMsisdn))
                                                {///CHECK WHETHER THE ProcessingMsisdn CONTAINS ANY MSISDN IF SO ENABLE IT FOR RESELECT
                                                    if (SuppLine.Msisdn.Equals(ProcessingMsisdn))
                                                    {///ENABLE FOR RESELECT
                                                        <button value="@SuppLine.Msisdn" type="submit" id="Msisdn" name="Msisdn" style="width: 250px;" class="btn isell-next">ADD SUPPLEMENTARY LINE</button>
                                                    }
                                                    else
                                                    {///DISABLE ALL OTHERS
                                                        <button value="@SuppLine.Msisdn" type="submit" id="Msisdn" name="Msisdn" style="width: 250px;" class="btn isell-next" disabled="disabled">ADD SUPPLEMENTARY LINE</button>
                                                    }
                                                }
                                                else
                                                {
                                                   <button value="@SuppLine.Msisdn" type="submit" id="Msisdn" name="Msisdn" style="width: 250px;" class="btn isell-next">ADD SUPPLEMENTARY LINE</button>  
                                                }
                                            </td>
                                        </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                { 
                    <div id="DVShowNewUSerMsg">
                        <span>No Suppline accounts exists for the user</span>
                    </div>
                }

                 <div style="float: right; padding-right: 20px;">
                    @if (showContinueButton)
                    {
                        <div id="divContinue" style="display:block;">
                            <input class="submitButton" type="button" value="Continue" onclick="submitNumpad()"/>
                        </div>
                    }
                    else
                    {
                        <div id="divContinue" style="display:none;">
                        <input class="submitButton" type="button" value="Continue" onclick="submitNumpad()"/>
                        </div>
                    }
                </div>
            </div>
            @*<div class="content_white" style="padding:10px 10px 10px 10px">
                <div style="float: right; padding-right: 20px;">
                    @if (showContinueButton)
                    {
                        <div id="divContinue" style="display:block;">
                            <input class="submitButton" type="button" value="Continue" onclick="submitNumpad()"/>
                        </div>
                    }
                    else
                    {
                        <div id="divContinue" style="display:none;">
                        <input class="submitButton" type="button" value="Continue" onclick="submitNumpad()"/>
                        </div>
                    }
                </div>
            </div>*@
        </div>                                       
                                                         
        }                 
       </div>
                                                         </div>
                                                           @*<div class="footer-text">
        @Html.Partial("_footer")
    </div>*@
                                                         </div>
                                                         
@section Scripts{
    <script type="text/javascript">
        function submitNumpad() {
            window.location.href = '@(Url.Content("~/Registration/PersonalDetailsNew"))';
            return false;
        }
        function addSuppline(suppMSISDN) {


        }
        $(document).ready(function () {

        });  

        

    </script>
}