﻿@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "Cancel Registration";
    Layout = "~/Views/Shared/_SubmitLayout.cshtml";
}
@model int
<div>
    <table width="100%">
        <tr>
            <td style="width: 580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<div>
    <h3>
        Registration has been cancelled successfully.</h3>
    <h4>
        Click
        @Html.ActionLink("HERE", "MobileRegSummary", new { regID = Html.DisplayForModel() }, new { style = "color:#5fb848;font-weight:bold;text-decoration:none" })
        to view registration.
    </h4>
</div>
