﻿@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "Activate Service";
    Layout = "~/Views/Shared/_SubmitLayout.cshtml";
}
@model int
<div>
    <table width="100%">
        <tr>
            <td style="width: 580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<div>
    <h3>
        Service activation request has been sent successfully.</h3>
    <h4>
        Click
        @Html.ActionLink("HERE", "MobileRegSummary", new { regID = Html.DisplayForModel() }, new { style = "color:#5fb848;font-weight:bold;text-decoration:none" })
        to view registration or <a href="@(Url.Content("~/Registration/PrintContractDetails?id=" + Model))" target="_blank" style="text-decoration:none" >
            <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' />
            Print </a>the registration form.
    </h4>
</div>
