﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.Properties;
@using System.Configuration;
@{
    if (Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DSV"))
    {
        ViewBag.Title = "Submit Registration";
    }
    else
    {
        ViewBag.Title = "Create Account";
    }
    Layout = "~/Views/Shared/_SubmitLayout.cshtml";
    int ReadyForPaymentStatusID = ConfigurationManager.AppSettings["ReadyForPaymentStatusID"].ToInt();
    int RegFailStatusID = ConfigurationManager.AppSettings["RegFailStatusID"].ToInt();

    bool isDealer = Session["IsDealer"].ToBool();
    var interval = ConfigurationManager.AppSettings["DealerTimerIntervel"].ToString();
}
@model int
           
           @using (Html.BeginForm("MobileRegAccCreated", "Registration", FormMethod.Post, new { id = "frmMobileRegAccCreated", @class = "overlayonsubmit", processmsg = "Loading" }))
           {
<div class="success-header">
    <table width="100%">
        <tr>
            <td style="width: 580px">            
                <div>@ViewBag.Title</div>                        
            </td>
        </tr>
    </table>
</div>

//if (isDealer == true)
//if(User.IsInRole("MREG_DAC") || User.IsInRole("MREG_DIC") || User.IsInRole("MREG_DSV") || User.IsInRole("MREG_DCH"))
               if (isDealer == true && (Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DIC") || Roles.IsUserInRole("MREG_DAPP")))
{
    @Html.Hidden("OrderId",Model.ToString2())
    <div id="dvDealer" class="success-body">
    <div id="divRegSubInProgress">
        <h4>
    @if(Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DSV"))
    {
        @ConfigurationManager.AppSettings["DealerRegSubInProgress"].ToString() <img src= "@Url.Content("~/Content/img/shared/processing.gif")" alt="....." class="inprogressimg" />
    }
    else
    {
        @ConfigurationManager.AppSettings["DealerAccInProgress"].ToString() <img src= "@Url.Content("~/Content/img/shared/processing.gif")" alt="....." class="inprogressimg" />
    }
     </h4>
    </div>
    <div id="divRegSuccess" class="success-body" style="display:none;">
        
        <h4>
         @if (Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DSV"))
         {
             @ConfigurationManager.AppSettings["DealerRegSubmitSuccess"].ToString()
         }
         else
         {
             @ConfigurationManager.AppSettings["DealerAccCreatedSuccess"].ToString()
         }
             </h4>
        <h4>
            Click
            @Html.ActionLink("HERE", "MobileRegSummary", new { regID = Html.DisplayForModel() }, new { style = "color:#5fb848;font-weight:bold;text-decoration:none" })
            to view registration or <a href="@(Url.Content("~/Registration/PrintContractDetails?id=" + Model))" target="_blank" style="text-decoration:none" >
                <img alt="Print"  src='@Url.Content("~/Content/images/Print.gif")'  />
                Print </a>the registration form.
        </h4>
    </div>
    <div id="divRegFail" class="success-body" style="display:none; text-align:center;">
        <h4 style="color:Red">
    @if (Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DSV"))
    {
        @ConfigurationManager.AppSettings["DealerRegUnSuccess"].ToString()
    }
    else
    {
        @ConfigurationManager.AppSettings["DealerAccCreationUnSuccess"].ToString()
    }
     </h4>
    </div>
    
    @*<div id="divLoading" style="text-align: center;">
        <img id="imgloading" src="../../Content/img/shared/loading.gif" width="50" height="50" /></div>*@
    <div style="text-align: right; padding: 20px;">

    @*@if (User.IsInRole("MREG_DAC") || User.IsInRole("MREG_DIC") || User.IsInRole("MREG_DSV") || User.IsInRole("MREG_DCH"))*@
    @if (User.IsInRole("MREG_DAC") || User.IsInRole("MREG_DIC") || User.IsInRole("MREG_DSV") || User.IsInRole("MREG_DCH"))
    {
        <input id="btnReadyforpayment" type="button" class="submitButton" value="Back To Inventory" onclick="redirectToPage('@(string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Registration/StoreKeeper")))')" />
    }
    </div>
    </div>
}
else
{
    <div class="success-body">
    <h3>
        Create account request has been sent successfully.</h3>
    <h4>
        Click
        @Html.ActionLink("HERE", "MobileRegSummary", new { regID = Html.DisplayForModel() }, new { style = "color:#5fb848;font-weight:bold;text-decoration:none" })
        to view registration or <a href="@(Url.Content("~/Registration/PrintContractDetails?id=" + Model))" target="_blank" style="text-decoration:none" >
            <img alt="Print"  src='@Url.Content("~/Content/images/Print.gif")'  />
            Print </a>the registration form.
    </h4>
</div>
}
           }

@section Scripts{
    <script type="text/javascript" language="javascript">
//        if ('@(isDealer)' == "True") {
            $(document).ready(function () {
                $("#divRegSuccess").hide();
                $("#divRegFail").hide();
                ajaxcall();
            });
            var url = '@(Url.Content("~/Registration/GetRegStatus"))';
            var WEBPOSurl = '@(Url.Content("~/Registration/GetRegStatus"))';
            function ajaxcall() {
                $.ajax({
                    url: url,
                    data: { 'regId': '@Model' },
                    type: 'GET',
                    dataType: 'json',
                    success: function (result) {
                        if (result != '@ReadyForPaymentStatusID' && result != '@RegFailStatusID') {
                         
                         if (result == -500) {
                            window.location.href = '@(Url.Content("~/Registration/MobileRegSvcActivated/"))' + '@Model';
                            }

                            setTimeout(ajaxcall, '@interval');
                        }
                        else if (result == '@RegFailStatusID') {
                            $("#divRegSubInProgress").hide();
                            $('#btnReadyforpayment').hide();
                            $("#divRegFail").show();
                        }
                        
                        else {
                            $("#divRegSubInProgress").hide();
                            $("#divRegSuccess").show();
//                            $("#btnReadyforpayment").removeAttr("disabled");
//                            $('#btnReadyforpayment').removeClass('disabled');
//                            $('#btnReadyforpayment').addClass('submitButton');

                        }
                    }
                });
            }
          
            $("#btnReadyforpayment").click(function () {
                //alert("submit");
            });
//        }
    </script>
}
