﻿@using System.Configuration;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@using Online.Registration.Web.Models;

@using Online.Registration.Web.Helper;
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    //if (Roles.IsUserInRole("MREG_TL"))                
    //{
    //    ViewBag.Title = "Mobility  Order Status Report - TL";
    //}
    //else
    //{
        ViewBag.Title = "Mobility Order Status Report";
    //}
    var interval = ConfigurationManager.AppSettings["TimerInterval"].ToString();
    bool isDealer = Session["IsDealer"].ToBool();
    }
@model Online.Registration.Web.ViewModels.CashierVM

<head>

</head>
@using (Html.BeginForm("OrderStatusReport", "Registration", FormMethod.Post, new { id = "frmOrderStatusReport", @class = "overlayonsubmit", processmsg = "Loading" }))
{ 
    <div id="wrapper">
        <div id="maincontentcontainer">
            <div id="center">
                <div class="center_box">                    
                    <div id="invHeader" class="content inventory-header">                                                           
                          <div class="inventory-header-box">
                            <div class="inventory-hdr-title">
                                Order Status Report</div>
                            <div class="inventory-hdr-body">
                                <table>
                                    <tr>
                                        <td><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.RegID)</b></td> 
                                            <td><b><label>MSISDN</label></b></td> 
                                        <td  width="200px"><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.IDCardNo)</b></td> 
                                        <td  width="200px"><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.StatusID)</b></td>                                   
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td  width="200px">@Html.TextBoxFor(model => model.RegistrationSearchCriteria.RegID, new { style = "width:120px" })</td>
                                        <td width="200px">@Html.TextBoxFor(model => model.RegistrationSearchCriteria.MSISDN, new { style = "width:120px" })</td>
                                        <td width="200px">@Html.TextBoxFor(model => model.RegistrationSearchCriteria.IDCardNo, new { style = "width:120px" })</td>
                                        <td width="200px" valign="bottom">@Html.Telerik().DropDownListFor(model => model.RegistrationSearchCriteria.StatusID).BindTo(Util.GetCashierList(STATUSTYPE.Registration).Where(e => e.Text != "Account Pending Create"))</td>
                                        <td width="200px" valign="bottom">
                                            <img alt="Search" title="Search" id="btnSearch" src='@Url.Content("~/Content/img/shared/iSELL-Search-Button.jpg")' style="cursor:pointer;" onclick="validateInput();"/>
                                        </td>                                    
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both;">
                    </div>
                    <div class="content_white">
                        <div class="inventory-result-wrapper">
                                @{
    //var URL = "~/Registration/WebPos/";
    Html.Telerik().Grid(Model.RegistrationSearchResults)
        .Name("gvwRegistration")
        .Footer(false).Scrollable(a => a.Enabled(true).Height(380))
        .TableHtmlAttributes(new { style = "border-radius:10px;" })
        .Selectable().DataKeys(a => a.Add("RegID"))
        .ClientEvents(events => events.OnRowSelect("onRowSelected"))
        .NoRecordsTemplate("No records to display")
.Sortable(sorting => sorting
        .OrderBy(sortOrder => sortOrder.Add(m => m.RegDate).Descending()))
.Columns(cols =>
{
    cols.Bound(m => m.RegID).Title("Registration ID").Width("90px");
    cols.Bound(m => m.RegDate).Title("Date").Width("75px");
    cols.Bound(m => m.CustomerName).Title("Name").Width("120px");
    cols.Bound(m => m.IDCardNo).Title("IC").Width("80px");
    cols.Bound(m => m.MSISDN).Title("MSISDN").Width("120px");
    cols.Bound(m => m.RegType).Hidden();
    cols.Bound(m => m.RegTypeDescription).Title("Service Type").Width("100px");
    cols.Bound(m => m.Status).Title("Status").Width("100px");
    cols.Bound(m => m.LastAccessID).Title("Last Access ID").Width("100px");
    cols.Bound(m => m.CriteriaType).Hidden();
    cols.Bound(m => m.CRPType).Hidden().HtmlAttributes(new { @id = "crpType" });
})
        .Render();
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}

@section Scripts{
    <script type="text/javascript" language="javascript" >
        $(document).keypress(function (e) {
            if (e.which == 13) {
                document.getElementById('btnSearch').click();
                return false;
            } else {
                return true;
            }
        });

        $(function () {
            setInterval(loadTable, '@interval');  // invoke load every second
            loadTable(); // load on initial page loaded
        });

        function loadTable() {
            $('#viewInnerBody').load('/Registration/SearchRegistration');
        }


        $(document).ready(function () {
            if ($('#menuPlanSearch').length > 0) {
                $('#menuPlanSearch').css("background-image", $('#menuPlanSearch').css("background-image").replace(".png", "_hover.png"));
            }
        });

        function onRowSelected(e) {
            var ordersGrid = $('#gvwRegistration').data('tGrid');
            regTypeID = e.row.cells[5].innerHTML;
            regID = e.row.cells[0].innerHTML;
            isDSP = e.row.cells['crpType'].innerHTML;
            debugger;
            var trans_type = e.row.cells[9].innerHTML;

            if (regTypeID == 8)
                window.location.href = '@(Url.Content("~/SuppLine/MobileRegSummary/"))' + regID;

            else if (regTypeID == 6)
                window.location.href = '@(Url.Content("~/DeviceSales/CustomerSummary/"))' + regID;

            else if (regTypeID == 9)
                window.location.href = '@(Url.Content("~/NewLine/MobileRegSummary/"))' + regID;
            else if (regTypeID == 11)
                window.location.href = '@(Url.Content("~/SuppLine/MobileRegSummary/"))' + regID
            else if (regTypeID == 12)
                window.location.href = '@(Url.Content("~/NewLine/MobileRegSummary/"))' + regID;
            else if (regTypeID == 13)
                window.location.href = '@(Url.Content("~/AddRemoveVAS/MobileRegSummary/"))' + regID;
            else if (regTypeID == 14)
                window.location.href = '@(Url.Content("~/QSimReplacement/CustomerSummary/"))' + regID;
            else if (regTypeID == 19)
                window.location.href = '@(Url.Content("~/Registration/MobileRegSummary/"))' + regID;
            else if (regTypeID == 24)
                window.location.href = '@(Url.Content("~/CRP/SK_CashierSummary?regid="))' + regID;
            else if (regTypeID == 27)
                window.location.href = '@(Url.Content("~/SuppLine/SecondaryLineRegSummary?regid="))' + regID;
            else if (regTypeID == 36)
                window.location.href = '@(Url.Content("~/AddContract/MobileRegSummary?regid="))' + regID;
            else if (isDSP == "DSP")
                window.location.href = '@(Url.Content("~/SuppLine/MobileRegSummary/"))' + regID;
            else
                window.location.href = '@(Url.Content("~/Registration/MobileRegSummary/"))' + regID;

        }

        function validateInput() {

            $('#RegistrationSearchCriteria_RegID').val($.trim($("#RegistrationSearchCriteria_RegID").val()));
            $('#RegistrationSearchCriteria_IDCardNo').val($.trim($("#RegistrationSearchCriteria_IDCardNo").val()));
            $('#RegistrationSearchCriteria_QueueNo').val($.trim($("#RegistrationSearchCriteria_QueueNo").val()));
            $("#frmOrderStatusReport").submit();
        }
</script>  
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/html5reset.css")" media="all" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/responsivegridsystem.css")" media="all" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/col.css")" media="all" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/4cols.css")" media="all" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/tabcontent.css")" media="all" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/jquery-ui/jquery.ui.all.css")" />
<link type="text/css" href="@Url.Content("~/Content/2012.2.607/telerik.common.min.css")" rel="stylesheet" />
<link type="text/css" href="@Url.Content("~/Content/2012.2.607/telerik.office2010silver.min.css")" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.css")" />
@{                    
        Html.Telerik()
            .ScriptRegistrar()
            .DefaultGroup(grp => grp
                .Add("jquery.validate.min.js")
                .Add("jquery.validate.unobtrusive.min.js")
                .Add("jquery.unobtrusive-ajax.js")
                .Add("jquery-ui-1.8.20.min.js")
                .Add("ZeroClipboard.js")
                .Add("jquery.blockUI.js")
                .Add("modernizr-2.5.3.js")
                .Add("jquery-ui-timepicker-addon.js")
                .Add("flashcanvas.js")
                .Add("jSignature.min.js")
                .Add("jquery.ui.core.js")
                .Add("jquery.ui.widget.js")
                .Add("jquery.ui.rcarousel.js")
                .Add("jquery.tabletojson.min.js")
                .Add("scripts.js")
                .Add("core.js")
            ).Render();
    }
