﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "Payment Received";
    Layout = "~/Views/Shared/_SubmitLayout.cshtml";
    var isDealer = Session["IsDealer"].ToBool();
}
<div>
    <table width="100%">
        <tr>
            <td style="width: 580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<div>
    @Html.ValidationSummary(true, string.Empty)
    @using (Html.BeginForm())
    {
        if (true)
        {
         <h3>
            Payment Received Successfully !<br />           
        </h3>
        }
        else
        {
            <h3>
            Payment Received Successfully !<br />
            @if (Convert.ToBoolean(Session["isCreatedIMPOS"]) == true)
            {
                <text>IMPOS file Created Successfully</text> <br />
                <text>Barcode is :</text>

                @Html.Raw(Online.Registration.Web.Helper.Util.Barcodes(Session["BarCodFfileName"].ToString()));
            }
            else
            {
                <text>IMPOS file Creation Failed</text>

            }
        </h3>
        }
                
    }
</div>
