﻿@using System.Configuration;
@using Online.Registration.Web.Helper;
@using System.Web.Security;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.PegaRecommendationsVM
@{
     
    ViewBag.Title = "Smart Recommendations Dashboard";
    var interval = ConfigurationManager.AppSettings["TimerInterval"].ToString();

    int RecordsCount = 0;
    RecordsCount = Model.PegaRecommendationsSearchResult == null ? 0 : Model.PegaRecommendationsSearchResult.Count();

    string notif1 = "You have selected ";
    string notif2 = " row(s) to be updated. Please click 'Confirm' to proceed.";
    string notif3 = "If you click 'Cancel', no changes will be saved.";
}
<!-- Centre column area -->
@*<div class="wrapper">
    <div id="maincontentcontainer">*@
<div class="isell-base-2" id="center" style="border: none; padding-top: 0;">
@*<div class="wrapper" >*@
            
        <div>
            @using (Html.BeginForm("PegaRecommendationDashboard", "Registration", FormMethod.Post, new { id = "frmPega", @class = "overlayonsubmit", processmsg = "Loading" }))
            {    
      
                <div class="center_box" style="border-top: 1px solid #cccccc;">
                    @Html.HiddenFor(model => model.PegaRecommendationsSearchCriteria.MSISDN)
                    @Html.HiddenFor(model => model.PegaRecommendationsSearchCriteria.IDCardNo)   
                    @Html.HiddenFor(model => model.PegaRecommendationsSearchCriteria.SelectedId)  
                    @Html.HiddenFor(model => model.PegaRecommendationsSearchCriteria.SelectedIdTotalRec)
                    @Html.HiddenFor(model => model.PegaRecommendationsSearchCriteria.SelectedRecs)
                    @Html.HiddenFor(model => model.PegaRecommendationsSearchCriteria.Status)
                    @Html.HiddenFor(model => model.PegaRecommendationsSearchCriteria.Response)
                    @Html.HiddenFor(model => model.PegaRecommendationsSearchCriteria.CapturedBy)
                    @Html.HiddenFor(model => model.PegaRecommendationsSearchCriteria.LastUpdatedBy)

                    <div class="content_white">
                        <div class="col-sm-12 green-bg" style="font-size: 24px;">
                            @ViewBag.Title
                        </div>
                        <div id="divError" style="text-align: center; color: Red; padding: 0px 20px; font-weight: bold; font-size: 15px;">
                        </div>
                        @if (TempData["DashBoardSucess"] != null && TempData["DashBoardSucess"].ToString2().Length > 0)
                        {
                            <div style='text-align: center; color: Green; font-weight: bold;font-size: 15px;'>
                                @TempData["DashBoardSucess"].ToString()
                            </div>                       
                        }
                        else if (TempData["DashBoardError"] != null && TempData["DashBoardError"].ToString2().Length > 0)
                        {
                            <div style='text-align: center;color: Red; font-weight: bold ;font-size: 15px;'>
                                @TempData["DashBoardError"].ToString()
                            </div>
                        }
                    </div>
                    @{
                        TempData["DashBoardSucess"] = string.Empty;
                        TempData["DashBoardError"] = string.Empty;
                    }
                    <div class="content_white" style="padding: 1%; padding-bottom: 6%; padding-right: 2%">
                        
                        
                          
                                <table border="0" cellpadding="0" cellspacing="0" class="waiver">
                                    <tr>
                                        <td style="padding: 0px;">
                                            <div id="accordion" class="ui-pega ui-accordion-header" style="margin-top: 15px; margin-bottom: 15px;">
                                                <h3 align="left">
                                                    Quick Search</h3>
                                                <div>
                                                    <table cellpadding="0" cellspacing="0" border="0">
                                                        <tr>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.PegaRecommendationsSearchCriteria.IDCardNo)</b>
                                                            </td>
                                                            <td>
                                                                <input type="text" id="PegaRecommendationsSearchCriteria_IDCardNoQuick"    name="PegaRecommendationsSearchCriteria.IDCardNo" />
                                                            </td>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.PegaRecommendationsSearchCriteria.MSISDN)</b>
                                                            </td>
                                                            <td>
                                                                <input type="text" id="PegaRecommendationsSearchCriteria_MSISDNQuick"/>
                                                            </td>
                                                            <td>

                                                            <img alt="Search" title="Search" id="btnSearch" src='@Url.Content("~/Content/img/shared/iSELL-Search-Button.jpg")' style="cursor:pointer;" onclick="validateInputForQuickSearch();" />
                                                              
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <h3 align="left" >
                                                    Advance Search</h3>
                                                <div>
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.PegaRecommendationsSearchCriteria.IDCardNo)</b>
                                                            </td>
                                                            <td>
                                                                <input type="text" id="PegaRecommendationsSearchCriteria_IDCardNoAdv" />
                                                            </td>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.PegaRecommendationsSearchCriteria.Response)</b>
                                                            </td>
                                                            <td>@Html.DropDownListFor(model => model.PegaRecommendationsSearchCriteria.Response, Util.GetList(RefType.PegaResponse, defaultText: Model.PegaRecommendationsSearchCriteria.Response == null ? "Please Select" : Model.PegaRecommendationsSearchCriteria.Response), new { style = "font-size: 14px;", @id = "responseSelected", @class = "dashboard-dropdown" })
                                                            </td>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.PegaRecommendationsSearchCriteria.Status)</b>
                                                            </td>
                                                            <td>@Html.DropDownListFor(model => model.PegaRecommendationsSearchCriteria.Status, Util.GetList(RefType.PegaStatus, defaultText: Model.PegaRecommendationsSearchCriteria.Status == null ? "Please Select" : Model.PegaRecommendationsSearchCriteria.Status), new { style = "font-size: 14px;", @id = "statusSelected", @class = "dashboard-dropdown" })
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.PegaRecommendationsSearchCriteria.MSISDN)</b>
                                                            </td>
                                                            <td>
                                                                <input type="text" id="PegaRecommendationsSearchCriteria_MSISDNAdv" />
                                                            </td>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.PegaRecommendationsSearchCriteria.CapturedBy)</b>
                                                            </td>
                                                            <td>@Html.DropDownListFor(model => model.PegaRecommendationsSearchCriteria.CapturedBy, Util.GetList(RefType.AccessUserByOrg, defaultValue: string.Empty, defaultText: "Please Select"), new { style = "font-size: 14px;", @id = "capturedBySelected", @class = "dashboard-dropdown" })
                                                            </td>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.PegaRecommendationsSearchCriteria.LastUpdatedBy)</b>
                                                            </td>
                                                            <td>@Html.DropDownListFor(model => model.PegaRecommendationsSearchCriteria.LastUpdatedBy, Util.GetList(RefType.AccessUserByOrg, defaultValue: string.Empty, defaultText: "Please Select"), new { style = "font-size: 14px;", @id = "updatedBySelected", @class = "dashboard-dropdown" })
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.PegaRecommendationsSearchCriteria.Recommendation)</b>
                                                            </td>
                                                            <td>
                                                                <input type="text" id="PegaRecommendationsSearchCriteria_Recommendation" name="PegaRecommendationsSearchCriteria.Recommendation" />
                                                            </td>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.PegaRecommendationsSearchCriteria.CapturedStartDt)</b>
                                                            </td>
                                                            <td>@Html.Telerik().DatePickerFor(model => model.PegaRecommendationsSearchCriteria.CapturedStartDt).Max(new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day)).Format("dd/MM/yyyy")
                                                            </td>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.PegaRecommendationsSearchCriteria.CapturedEndtDt)</b>
                                                            </td>
                                                            <td>@Html.Telerik().DatePickerFor(model => model.PegaRecommendationsSearchCriteria.CapturedEndtDt).Max(new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day)).Format("dd/MM/yyyy")
                                                            </td>
                                                            <td>@Html.CheckBox("chktoday")<b>Today</b>
                                                            </td>
                                                            <td align="right">
                                                               <img alt="Search" title="Search" id="btnAdvSearch" src='@Url.Content("~/Content/img/shared/iSELL-Search-Button.jpg")' style="cursor:pointer;" onclick="validateInputForAdvancedSearch();" />
                                                            </td>
                                                        </tr>
                                                        
                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div align="right" style="font-size:13px">
                                    <img alt="Tick" id="btnTickInfo" src='@Url.Content("~/Content/images/checked.jpg")' style="height:15px" />  Tick rows to be updated 
                                </div>
                                </ br>
                                @{
                        Html.Telerik().Grid(Model.PegaRecommendationsSearchResult)
                            .Name("smartpegarecommendation")
                            .Footer(true).Scrollable(a => a.Enabled(true).Height(380))
                .HtmlAttributes(new { style = "width:100%; margin-top: 10px;" })
                .TableHtmlAttributes(new { id = "tblResults", style = "border-radius:10px; font-size:13px; " })
                .Selectable().DataKeys(a => a.Add("ID"))
                //.ClientEvents(events => events.OnRowDataBound("OnRowDataBound"))
                .NoRecordsTemplate("No records to display")
                .Sortable(sorting => sorting
                .OrderBy(sortOrder => sortOrder.Add(m => m.AcceptedDate).Descending()))
                .Pageable(pager => pager.PageSize(10))
                .Columns(cols =>
                {
                    cols.Bound(m => m.ID).Hidden();
                    cols.Bound(m => m.IDCardNo).Title("ID Card No").Width("6%").HeaderHtmlAttributes(new { style = "font-size:15px; font-weight: bold;" });
                    cols.Bound(m => m.MSISDN).Title("MSISDN").Width("5%").HeaderHtmlAttributes(new { style = "font-size:15px; font-weight: bold;" });
                    cols.Bound(m => m.Response).Title("Response").Width("5%").HeaderHtmlAttributes(new { style = "font-size:15px; font-weight: bold;" });
                    cols.Bound(m => m.ProductName).Title("Recommendation").Width("8%").HeaderHtmlAttributes(new { style = "font-size:15px; font-weight: bold;" });
                    cols.Bound(m => m.AcceptedDate).Title("Captured Date").Width("8%").Format("{0:dd/MM/yyyy hh:mm:ss tt}").HeaderHtmlAttributes(new { style = "font-size:15px; font-weight: bold;" });
                    cols.Bound(m => m.CapturedById).Title("Captured By").Width("5%").HeaderHtmlAttributes(new { style = "font-size:15px; font-weight: bold;" });
                    cols.Bound(m => m.LastUpdDate).Title("Last Updated Date").Width("8%").Format("{0:dd/MM/yyyy hh:mm:ss tt}").HeaderHtmlAttributes(new { style = "font-size:15px; font-weight: bold;" });
                    cols.Bound(m => m.LastUpdId).Title("Last Updated By").Width("6%").HeaderHtmlAttributes(new { style = "font-size:15px; font-weight: bold;" });
                    cols.Bound(m => m.Status).Title("Status").Width("10%").HeaderHtmlAttributes(new { style = "font-size:15px; font-weight: bold;" }).
                        Template(
                            @<text>
                                @Html.DropDownListFor(x => item.Status, Util.GetList(RefType.PegaStatusRule, defaultText: item.Status), new { id = "row-" + @item.ID, @disabled = true, @onchange = "GetStatusUpdated(this)", @class = "dashboard-dropdown", @style = "background-color: #F2F2F2" })
                            </text>
                        );
                    cols.Bound(m => m.ID).Title("").Width("2%").Template(@<text>
                        <p >
                            <input name="checkedOperations" id="@item.ID" type="checkbox" class='chksaved' value="@item.ID" onclick="return EnableStatus(this);"
                                        title="Approve" /></p>
                        </text>);
                })

                            .Resizable(resizing => resizing.Columns(false))
                            .Render();
                                                                
                                }
                                    <div class="sm-col-12">
                                        <div class="col-sm-11" align="right">
                                                <input class="submitButton" type="button" value="Export to Excel" onclick="return exportToExcel();" style="background-color: #77dd00;"/>
                                            </div>
                                        <div class="col-sm-1" align="right">
                                                <input id="btnApprove" class="submitButton" type="button" value="Save" onclick="return populateCountSave();" style="background-color: #77dd00;"/>
                                        </div>
                                    </div>
                                    @*<table border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td align="right">
                                                        <input class="submitButton" type="button" value="Export to Excel" onclick="return exportToExcel();" />
                                                    </td>
                                                    <td align="right">
                                                        <input id="btnApprove" class="submitButton" type="button" value="Save" onclick="return populateCountSave();" />
                                                    </td>
                                                </tr>
                                    </table>*@
                            
                            </div>
                        </div>
                    
                        <div class="modal fade" id="confirmsave-pop" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content ">
                                    <div class="modal-header" style="font-weight:bold">
                                        <h3>Confirm Saved?</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                                <div class="col-sm-12 usage-title">
                                                    <p class="usage-title">@notif1 <text id="prompt_total" style="display:inline-block; font-weight:bold"></text> @notif2</p>
                                                </div>
                                            <div class="col-sm-12" style="margin-bottom: 10px;">
                                                <br />
                                                <p class="usage-title">@notif3</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="sm-col-12 kill-padding">
                                            <div class="row">
                                                <div class="col-sm-9" id="Prompt_confirm">
												    <div class="btn isell-submit center-block" style="width: 25%; margin-right: 0px;" onclick="return SaveRecords();">Confirm</div>
											    </div>
                                                <div class="col-sm-3" id="Prompt_cancel">
												    <div class="btn isell-submit center-block" data-dismiss="modal">Cancel</div>
											    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            }
        </div>
    @*</div>*@
</div>


@section Scripts{
    <script type="text/javascript">
        var timerinstance;
        var counttimer;
        var baseUrl = '@Url.Content("~/")';
        if (baseUrl == '') {
            baseUrl = '/';
        }

        function loadTable() {
            clearInterval(timerinstance);
            var pageloc = $('#smartpegarecommendation .t-grid-pager .t-pager .t-numeric .t-state-active').html();
            window.location.assign('@(string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Registration/PegaRecommendationDashboard")))');
            timerinstance = setInterval(loadTable, '@interval');
        }

        var selectedRec = '';
        var countArray = 0;
        var sCompIds = "";
        var sValue = "";
        var chkcount = 0;

        $(document).ready(function () {
            $("#accordion").accordion({ autoHeight: false, navigation: true, collapsible: true });
            $('.t-status').hide();
            timerinstance = setInterval(loadTable, '@interval');
        });


        $(document).keypress(function (e) {

            if (e.which == 13) {
                var activeid = $(document.activeElement).attr("id");
                if (activeid == 'PegaRecommendationsSearchCriteria_IDCardNo' || activeid == 'PegaRecommendationsSearchCriteria_MSISDN') {
                    $("#btnSearch").click();
                    return false;
                }

                else if (activeid == 'chktoday') {
                    $("#btnAdvSearch").click();
                    return false;
                }


                else if (activeid == 'btnApprove') {
                    $("#btnApprove").click();
                    return false;
                }

                else {
                    $("#divError").html("");
                    return false;

                }
            }
        });

        $("#chktoday").click(function () {
            if ($('#chktoday').is(':checked')) {

                $('#PegaRecommendationsSearchCriteria_CapturedStartDt').attr('readonly', true)
                .next('span.t-select')
                .children('span.t-icon-calendar').css('visibility', 'hidden')
                $('#PegaRecommendationsSearchCriteria_CapturedEndtDt').attr('readonly', true)
                .next('span.t-select')
                .children('span.t-icon-calendar').css('visibility', 'hidden')


                var today = new Date()
                var curMon = today.getMonth();
                var curDay = today.getDate();
                var curYear = today.getFullYear();
                var todayDate = curDay + "/" + (parseInt(curMon) + 1) + "/" + curYear;
                $('#PegaRecommendationsSearchCriteria_CapturedStartDt').val(todayDate);
                $('#PegaRecommendationsSearchCriteria_CapturedEndtDt').val(todayDate);
            }
            else {
                $('#PegaRecommendationsSearchCriteria_CapturedStartDt').val('');
                $('#PegaRecommendationsSearchCriteria_CapturedEndtDt').val('');
                $('#PegaRecommendationsSearchCriteria_CapturedStartDt').attr('readonly', false)
                .next('span.t-select')
                   .children('span.t-icon-calendar').css('visibility', 'visible')
                $('#PegaRecommendationsSearchCriteria_CapturedEndtDt').attr('readonly', false)
                .next('span.t-select')
                .children('span.t-icon-calendar').css('visibility', 'visible')
            }
        });

        function GetStatusUpdated(obj) {
            var recordID = obj.id;
            var IDsplit = recordID.split("-");
            //var currentStatusID = IDsplit[2];
            var currentStatus = $("#" + recordID).val();
            var updateStatus = $("#" + recordID + " :selected").text();

            selectedRec = selectedRec + '|' + countArray + ',' + recordID + ',' + currentStatus + ',' + updateStatus;
            countArray = countArray + 1;
        }

        function validateInputForQuickSearch() {
            $('#divError').html("");
            $('#PegaRecommendationsSearchCriteria_MSISDN').val($('#PegaRecommendationsSearchCriteria_MSISDNQuick').val());
            $('#PegaRecommendationsSearchCriteria_IDCardNo').val($('#PegaRecommendationsSearchCriteria_IDCardNoQuick').val());
            if ($('#PegaRecommendationsSearchCriteria_IDCardNo').val() == '' && $('#PegaRecommendationsSearchCriteria_MSISDN').val() == '') {

                $('#divError').html("Please provide values for ID Card No or MSISDN");
                return false;
            }
            $('#divError').html("");
            $('#PegaRecommendationsSearchCriteria_SelectedId').val('');
            $('#PegaRecommendationsSearchCriteria_SelectedRecs').val('');
            countArray = 1;
            //$("#frmPega").submit();
            document.forms["frmPega"].submit();
        }

        function validateInputForAdvancedSearch() {
            $('#divError').html("");
            var todateArray = $('#PegaRecommendationsSearchCriteria_CapturedEndtDt').val().split("/");
            var fromdateArray = $('#PegaRecommendationsSearchCriteria_CapturedStartDt').val().split("/");

            var toMonth = todateArray[1];
            var fromMonth = fromdateArray[1];

            var toDate = new Date(todateArray[2], toMonth - 1, todateArray[0]);
            var fromDate = new Date(fromdateArray[2], fromMonth - 1, fromdateArray[0]);

            if (fromDate > toDate) {
                // alert("End date should be greater than start date.");
                $('#divError').html("End date should be greater than start date.")
                return false;
            }
            $('#divError').html("")
            $('#PegaRecommendationsSearchCriteria_SelectedId').val('');
            $('#PegaRecommendationsSearchCriteria_SelectedRecs').val('');
            $('#PegaRecommendationsSearchCriteria_IDCardNo').val($('#PegaRecommendationsSearchCriteria_IDCardNoAdv').val());
            $('#PegaRecommendationsSearchCriteria_MSISDN').val($('#PegaRecommendationsSearchCriteria_MSISDNAdv').val());
            
            var ResponseDescription = $('#responseSelected :selected').text();
            var StatusDescription = $('#statusSelected :selected').text();
            var capturedBy = $('#capturedBySelected').val();
            var updatedBy = $('#updatedBySelected').val();

            $('#PegaRecommendationsSearchCriteria_Response').val(ResponseDescription);
            $('#PegaRecommendationsSearchCriteria_Status').val(StatusDescription);
            $('#PegaRecommendationsSearchCriteria_CapturedBy').val(capturedBy);
            $('#PegaRecommendationsSearchCriteria_LastUpdatedBy').val(updatedBy);

            countArray = 1;
            //$("#frmPega").submit();
            document.forms["frmPega"].submit();
        }


        function exportToExcel() {
            var reccount = '@(RecordsCount)';
            $('#divError').html("")
            if (parseInt(reccount) <= 0) {
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $('#divError').html("No Records Found to Export");
                return false;
            }
            $('#divError').html("")
            $.ajax({
                url: baseUrl + 'Registration/ExportToExcelforPegaRecommendation',
                type: 'POST',
                data: { isDefault: 1 }
            }).done(function (data) {

                window.open(baseUrl + "temp/" + data);
            });

        }

        function EnableStatus(obj) {
            var recId = "row-" + obj.id;
            if (obj.checked) {
                $("#" + recId).removeAttr("disabled");
                $("#" + recId).css({ "background-color": 'white' });
            }
            else {
                $("#" + recId).attr("disabled", true);
                $("#" + recId).css({ "background-color": '#F2F2F2' });
            }
        }

        function populateCountSave() {
            chkcount = 0;
            sCompIds = "";
            $('input[name=checkedOperations]').each(function () {
                if (this.checked) {
                    sValue = $(this).val();
                    chkcount = parseInt(chkcount) + 1;
                    sCompIds += sValue + ",";
                }
            });
            $('#PegaRecommendationsSearchCriteria_SelectedIdTotalRec').val(chkcount);

            if (parseInt(chkcount) <= 0) {
                $('#divError').html("");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $('#divError').html("Please select record to update");
                return false;
            }
            else {
                $('#prompt_total').html(chkcount);
                $('#confirmsave-pop').modal('show');
            }
        }

        function SaveRecords() {
            $('#PegaRecommendationsSearchCriteria_SelectedId').val(sCompIds);
            $('#PegaRecommendationsSearchCriteria_SelectedRecs').val(selectedRec);

            $('#divError').html("");
            //$("#frmPega").submit();
            document.forms["frmPega"].submit();
        }

        // Numeric only control handler
        jQuery.fn.ForceNumericOnly =
function () {
    return this.each(function () {
        $(this).keydown(function (e) {
            var key = e.charCode || e.keyCode || 0;
            // allow backspace, tab, delete, arrows, numbers and keypad numbers ONLY
            // home, end, period, and numpad decimal
            return (
                key == 8 ||
                key == 9 ||
                key == 46 ||
                key == 110 ||
                key == 190 ||
                (key >= 35 && key <= 40) ||
                (key >= 48 && key <= 57) ||
                (key >= 96 && key <= 105));
        });
    });
};


    </script>
}
