﻿@{
    ViewBag.Title = "PlanDetails";
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Maxis - Plan & Device</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=0.8,, maximum-scale=0.8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script src="@Url.Content("~/Content/assets/js/vendor/jquery-1.10.2.min.js")"></script>
    <script>        window.jQuery || document.write('<script src="@Url.Content("~/Content/assets/js/vendor/jquery-1.10.2.min.js")"><\/script>')</script>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/stylesheets/normalize.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/stylesheets/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/stylesheets/styles.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/colorbox.css")" />
    <script src="@Url.Content("~/Content/assets/js/vendor/modernizr-2.6.2.min.js")"></script>
</head>

<body>
<div class="modal fade" id="plan-more" tabindex="-1" role="dialog" aria-labelledby="plan-details">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="close-btn">Close</span></button>
                                                    
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <h4 class="modal-title" id="phone-details">MaxisONE<sup>TM</sup> Plan</h4>
                </div>
                <div class="col-sm-5">
                    <div class="col-sm-12 border-right border-bottom">
                        <p class="label-data-pop">Call</p>
                    </div>
                    <div class="col-sm-12 border-right">
                        <p class="label-data-pop">SMS</p>
                    </div>
                </div>
                <div class="col-sm-7">
                    <h3>Limitless</h3>
                    <p>to all networks</p>
                </div>
                <div class="col-sm-12 plain-line"></div>
                <div class="col-sm-5">
                    <div class="col-sm-12 border-right">
                        <p class="label-data-pop">Data</p>
                    </div>
                </div>
                <div class="col-sm-7">
                    <h3>2GB</h3>
                </div>
                <div class="col-sm-12 plain-line">  </div>
                <div class="col-sm-5">
                    <div class="col-sm-12 border-right">
                        <p class="label-data-pop">Monthly</p>
                    </div>
                </div>
                <div class="col-sm-7">
                    <h3>RM128</h3>
                </div>
            </div>
            <div class="modal-footer">  </div>
        </div>
    </div>
</div>
</body>
</html>