﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Models;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using Online.Registration.DAL.Models;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.RegistrationFormVM
@{
    ViewBag.Title = "PrintCRPMobileRF";
    Layout = string.Empty;
    int crpPlan = Model.Registration.RegTypeID;
    decimal _penalty = 0;

    if (Model.Registration != null && Model.Registration.PenaltyAmount != null && Model.Registration.PenaltyAmount > 0)
    {
        _penalty = Model.Registration.PenaltyAmount;

    }
    else
    {
        _penalty = 0;
    }
    //Waiver CR Total Payable by ravi on 1 Oct 2013
    decimal totalPayable = 0;
    decimal checkedAmt = 0;
    String SalesStoreCode = String.Empty;
    System.Text.StringBuilder strWaiverTbl = new System.Text.StringBuilder();
    System.Text.StringBuilder strWaiverTblSec = new System.Text.StringBuilder();
    bool isMsim = false;
    List<Online.Registration.DAL.Models.WaiverComponents> objWaiverComponents = new List<Online.Registration.DAL.Models.WaiverComponents>();
    List<Online.Registration.DAL.Models.WaiverComponents> objWaiverCompsMultiMnp = new List<Online.Registration.DAL.Models.WaiverComponents>();

    var isDealer = Util.SessionAccess.User.isDealer;
    string dealerCodeLabel = string.Empty;
    string salescodelabel = string.Empty;
    string staffCodelabel = string.Empty;
    dealerCodeLabel = isDealer ? "*Dealer Outlet Code" : "*Sales Code - Dealer Outlet";
    salescodelabel = isDealer ? "Dealer Sales Code *" : "Sales Code - On Behalf *";
    staffCodelabel = isDealer ? "Sales Staff Code" : " *Sales Staff Code";

    using (var proxy = new Online.Registration.Web.Helper.RegistrationServiceProxy())
    {
        objWaiverComponents = proxy.GetWaiverComponentsbyRegID(Model.Registration.ID.ToInt());
        var objWaiverComps = objWaiverComponents.Where(e => e.ComponentID != 0).ToList();

        objWaiverCompsMultiMnp = objWaiverComps.Where(e => (e.MismType.ToUpper().Contains("MP") || e.MismType.ToUpper().Contains("MS"))).ToList();

        if (Model.Registration.RegTypeID == (int)MobileRegType.RegType_MNPPlanWithMultiSuppline)
        {
            objWaiverComps = objWaiverComponents;
        }

        foreach (var comp in objWaiverComps)
        {
            string price = comp.price.ToString();
            if (comp.IsWaived == true)
            {
                checkedAmt += comp.price;
                price = "Waived";
            }
            // else
            // {
            if (objWaiverCompsMultiMnp.Count > 0)
            {
                isMsim = true;
                if (comp.MismType.ToUpper() == "MP")
                {
                    if (strWaiverTbl.Length <= 0)
                    {
                        strWaiverTbl.Append("<tr class='title'><td style='color: Black; font-weight: bolder; font-size: small;'>Primary MSISDN</td></tr>");
                    }
                    strWaiverTbl.Append("<tr><td><B>" + comp.ComponentName + " (RM) </b></td><td>" + price + "</td></tr>");
                }
                else
                {
                    //Supplementary Lines
                    for (int supleMsisdnsCnt = 1; supleMsisdnsCnt <= 4; supleMsisdnsCnt++)
                    {
                        //bool isHeaderAdded = false
                        var curMsisdn = "MS" + supleMsisdnsCnt.ToString();

                        if (comp.MismType.ToUpper() == curMsisdn)
                        {
                            if (strWaiverTblSec.ToString().Contains("Supp MSISDN " + supleMsisdnsCnt.ToString()) == false)
                            {
                                strWaiverTblSec.Append("<tr class='title'><td style='color: Black; font-weight: bolder; font-size: small;'>Supp MSISDN " + supleMsisdnsCnt.ToString() + "</td></tr>");
                            }
                            strWaiverTblSec.Append("<tr><td><B>" + comp.ComponentName + " (RM) </b></td><td>" + price + "</td></tr>");
                            break;
                        }
                    }
                }
            }
            else
            {
                switch (comp.MismType.ToUpper())
                {
                    case "P":
                        strWaiverTbl.Append("<tr><td valign='top'><B>" + comp.ComponentName + " (RM) </B></td><td colspan='3' valign='top'>" + price + "</td></tr>");
                        break;
                    case "S":
                        strWaiverTblSec.Append("<tr><td valign='top'><B>" + comp.ComponentName + " (RM) </B></td><td colspan='3' valign='top'>" + price + "</td></tr>");
                        break;
                    default:
                        isMsim = true;
                        strWaiverTbl.Append("<tr><td valign='top'><B>" + comp.ComponentName + " (RM) </B></td><td colspan='3' valign='top'>" + price + "</td></tr>");
                        break;
                }
            }

            // }
            totalPayable += comp.price;
        }


    }
    string strFinalTbl = string.Empty;
    if (strWaiverTbl.Length > 0)
    {
        if (isMsim == false)
        {
            strFinalTbl += "<tr ><td colspan='4' style='color: Black; font-weight: bolder; font-size: small;'>Primary</td></tr>";
        }
        strFinalTbl += strWaiverTbl;
    }
    if (strWaiverTblSec.Length > 0)
    {
        if (isMsim == false)
        {
            strFinalTbl += "<tr ><td colspan='4' style='color: Black; font-weight: bolder; font-size: small;'>Secondary</td></tr>";
        }
        strFinalTbl += strWaiverTblSec;
    }
    strFinalTbl += "<tr ><td colspan='4'>&nbsp;</td></tr>";
    bool isRegDepositWaived = (objWaiverComponents.Where(e => (((e.ComponentName.ToUpper() == "PRIMARY PLAN REGISTRATION DEPOSIT" || e.ComponentName.ToUpper() == "REGISTRATION DEPOSIT") && e.ComponentID == 0)) && (e.IsWaived == true)).ToList()).Count > 0 ? true : false;
    bool isPlanAdvanceWaived = (objWaiverComponents.Where(e => (((e.ComponentName.ToUpper() == "PLAN ADVANCE" || e.ComponentName.ToUpper() == "PRIMARY PLAN ADVANCE") && e.ComponentID == 0)) && (e.IsWaived == true)).ToList()).Count > 0 ? true : false;
    bool isDevDepositWaived = (objWaiverComponents.Where(e => (((e.ComponentName.ToUpper() == "FOREIGN DEPOSIT") && e.ComponentID == 0)) && (e.IsWaived == true)).ToList()).Count > 0 ? true : false;
    bool isDevAdvanceWaived = (objWaiverComponents.Where(e => (((e.ComponentName.ToUpper() == "DEVICE ADVANCE") && e.ComponentID == 0)) && (e.IsWaived == true)).ToList()).Count > 0 ? true : false;
    bool isRegDepositSecWaived = (objWaiverComponents.Where(e => (((e.ComponentName.ToUpper() == "SECONDARY PLAN REGISTRATION DEPOSIT") && e.ComponentID == 0)) && (e.IsWaived == true)).ToList()).Count > 0 ? true : false;
    bool isPlanAdvSecWavied = (objWaiverComponents.Where(e => (((e.ComponentName.ToUpper() == "SECONDARY PLAN ADVANCE") && e.ComponentID == 0)) && (e.IsWaived == true)).ToList()).Count > 0 ? true : false;

    decimal _rebatePenalty = 0;

    if (Session["RebatePenalty"] != null)
    {
        _rebatePenalty = Convert.ToDecimal(Session["RebatePenalty"].ToString());
    }
    else
    {
        //_penalty = 0;
        if (Model.Registration.ID.ToInt() != null)
        {
            if (Model.Registration.ID.ToInt() > 0)
            {
                using (var proxy = new RegistrationServiceProxy())
                {

                    var resultPenaltyAmount = proxy.getRebateDatacontractPenalty(Model.Registration.ID.ToInt());
                    foreach (var v in resultPenaltyAmount)
                    {
                        _rebatePenalty = _rebatePenalty + Convert.ToDecimal(v.Penalty);
                    }
                }
            }
        }
    }



        //Waiver CR Total Payable by ravi on 1 Oct 2013 ends here
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @{
        Html.Telerik().StyleSheetRegistrar()
            .DefaultGroup(g => g
                .Add("telerik.common.css")
                .Add("telerik.office2010silver.min.css")
            //.Add("Site.css")
            ).Render();
    }
    <style type="text/css">
   


        .rfTable
        {
            width: 670px;
            border-spacing: 0px;
            page-break-after: always;
        }
        .rfTable td
        {
            vertical-align: top;
            font-size:x-small;
             font-family:Arial, Tahoma, sans-serif;
        }
        
        .rfTable .tdHeader
        {
            background-color: Black;
            color: White;
            text-transform: uppercase;
        }
        
          .rfTermsTable
        {
            width: 670px;
            border-spacing: 0px;
            page-break-after: always;
          
           
        }
        
         .rfTermsTable td
        {
            vertical-align: top;
            /*font-size:0.7em;*/
            /* font-size:x-small;*/
            font-size:0.7em;
            /*font-family: Arial, Tahoma, sans-serif;*/
            font-family:Arial;
            padding:0;
        }
    </style>


    
 @*Code Added by VLT*@
    <link rel="Stylesheet" type="text/css" href="../../Content/BarCode.css" />
    <script type="text/javascript" src="http://base2.googlecode.com/svn-history/r309/trunk/lib/base2-jsb-fp.js"></script>
    @*<script language="javascript" type="text/javascript" src="../../Scripts/Code128.js"></script>
    <script language="javascript" type="text/javascript" src="../../Scripts/Get.js"></script>*@
@*    <script>
        new jsb.Rule(".barcode, .barcode2", base2.Barcode.code128behaviour);
    </script>*@
    @*End of Code *@
</head>
<body>

       <table align="center" class="rfTable" width="670px">
       <tr><td colspan="4" style="width:100%;" align="right">Page 1</td></tr>
        <tr>
            <td colspan="4">
                <div style="font-size:large; font-weight: bolder;text-align:center;padding:0;">
                    POST-PAID CHANGE RATE PLAN FORM &nbsp;&nbsp;&nbsp;&nbsp;
                    <img alt="" src='@Url.Content("~/Content/images/maxislogo.png")' width="70px" height="30px" /></div>
            </td>
        </tr>
     <tr>
            <td colspan="4">
                &nbsp;
            </td>
        </tr>
                    <tr>                       
                        <td style="background-color: Black; color: White; text-transform: uppercase; font-weight: bolder;
                            font-size: small;" colspan="4">A. Individual</td>
                            
                    </tr>
                  <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td  style="width:15%">
                            <b>Full Name*</b>
                        </td>
                        <td style="width:35%">@Util.GetNameByID(RefType.CustomerTitle, Model.Customer.CustomerTitleID) @Model.Customer.FullName
                        </td>
                        <td></td><td></td>
                      @*  <td style="width:15%">
                            <b>@Html.LabelFor(model => model.Customer.Gender)</b>
                        </td>
                        <td>@(Model.Customer.Gender == "M" ? "Male" : "Female")
                        </td>*@
                    </tr>
                    <tr>
                        <td>
                            <b>ID Card Type</b>
                        </td>
                        <td>@Util.GetNameByID(RefType.IDCardType, Model.Customer.IDCardTypeID)
                        </td>
                        <td>
                            <b>@Html.LabelFor(model => model.Customer.IDCardNo)</b>
                        </td>
                        <td>@Model.Customer.IDCardNo
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>@Html.LabelFor(model => model.Customer.DateOfBirth)</b>
                        </td>
                        <td>@Util.FormatDate(Model.Customer.DateOfBirth)
                        </td>
                       @* <td>
                            <b>@Html.LabelFor(model => model.Customer.LanguageID)</b>
                        </td>
                        <td>@Util.GetNameByID(RefType.Language, Model.Customer.LanguageID)
                        </td>*@
                        <td></td><td></td>
                    </tr>
                    <tr>
                        <td>
                            <b>@Html.LabelFor(model => model.Customer.ContactNo)</b>
                        </td>
                        <td>@Model.Customer.ContactNo
                        </td>
                        <td>
                            <b>@Html.LabelFor(model => model.Customer.NationalityID)</b>
                        </td>
                        <td>@Util.GetNameByID(RefType.Nationality, Model.Customer.NationalityID)
                        </td>
                    </tr>
                    <tr>
                        @*<td>
                            <b>@Html.LabelFor(model => model.Customer.AlternateContactNo)</b>
                        </td>
                        <td>@Model.Customer.AlternateContactNo
                        </td>*@
                        @*<td>
                            <b>@Html.LabelFor(model => model.Customer.Race)</b>
                        </td>
                        <td>@Util.GetNameByID(RefType.Race, Model.Customer.RaceID)
                        </td>
                        <td>*@
                           <td valign="top" style="width: 100px">
                                        <b>@Constants.KENAN_ACCOUNT_NUMBER</b>
                                    </td>
                                    <td valign="top" colspan="3">
                                        @if (!ReferenceEquals(Model.Registration.KenanAccountNo, null) && Model.Registration.KenanAccountNo != "0")
                                        {
                                            <text>
                                           @* @Html.Raw(Util.Barcodes(Model.Registration.KenanAccountNo))
                                            <br />*@
                                            @Html.Raw(Model.Registration.KenanAccountNo)
                                            </text>
                                            
                                        }
                                        else
                                        {

                                            <text>Not Available</text>
                                        }
                                    </td>
                       
                    </tr>
                      
                    <tr>

                     <td>
                            <b>@Html.LabelFor(model => model.Customer.EmailAddr)</b>
                        </td>
                        @if (Model.Customer.EmailAddr.ToString2() != "")
                        {
                        <td>@Model.Customer.EmailAddr
                        </td>
                        }
                        else
                        {
                            <td>Not Available
                        </td> 
                        }
                    </tr>
                      
                  
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                     <td colspan="4" style="background-color: Black; color: White; text-transform: uppercase; font-weight: bolder;
                                            font-size: small;">B. Address</td>
                    
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                       @foreach (var address in Model.Addresses)
                       {
                            <tr>
                            <td style="width: 120px">
                                <b>@Html.LabelFor(model => model.Addresses[0].Line1)</b>
                            </td>
                            <td>@Html.Raw(address.Line1)
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 120px">
                                <b>@Html.LabelFor(model => model.Addresses[0].Line2)</b>
                            </td>
                            <td>@Html.Raw(address.Line2)
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 120px">
                                <b>@Html.LabelFor(model => model.Addresses[0].Line3)</b>
                            </td>
                            <td>@Html.Raw(address.Line3)
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 120px">
                                <b>@Html.LabelFor(model => model.Addresses[0].Postcode)</b>
                            </td>
                            <td>@Html.Raw(address.Postcode)
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 120px">
                                <b>@Html.LabelFor(model => model.Addresses[0].Town)</b>
                            </td>
                            <td>@Html.Raw(address.Town)
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 120px">
                                <b>@Html.LabelFor(model => model.Addresses[0].StateID)</b>
                            </td>
                            <td>@Html.Raw(Util.GetNameByID(RefType.State, address.StateID))
                            </td>
                        </tr>
                       }
                       <tr><td>&nbsp;</td></tr>
@* <tr>
                     <td colspan="4" style="background-color: Black; color: White; text-transform: uppercase; font-weight: bolder;
                                            font-size: small;">C. Monthly Bill Settlement Preference </td>
                    
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                      <tr>
                        <td style="width: 120px">
                            <b>@Html.LabelFor(model => model.Customer.PayModeID)</b>
                        </td>
                        <td colspan="3">@Html.Raw(Util.GetNameByID(RefType.PaymentMode, Model.Customer.PayModeID))
                        </td>
                    </tr>
                    @if (Model.Customer.PayModeID == Util.GetPaymentModeID(PAYMENTMODE.AutoBilling))
                    { 
                        <tr>
                            <td>
                                <b>@Html.LabelFor(model => model.Customer.CardNo)</b>
                            </td>
                            <td>@Html.Raw(Model.Customer.CardNo)
                            </td>
                            <td>
                                <b>@Html.LabelFor(model => model.Customer.NameOnCard)</b>
                            </td>
                            <td>@Html.Raw(Model.Customer.NameOnCard)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>@Html.LabelFor(model => model.Customer.CardTypeID)</b>
                            </td>
                            <td>@Html.Raw(Util.GetNameByID(RefType.CardType, Model.Customer.CardTypeID.Value))
                            </td>
                            <td>
                                <b>@Html.LabelFor(model => model.Customer.CardExpiryDate)</b>
                            </td>
                            <td>@Html.Raw(Model.Customer.CardExpiryDate)
                            </td>
                        </tr>
                    }
                    <tr><td>&nbsp;</td></tr>*@
                    <tr>
                                    <td colspan="4" style="background-color: Black; color: White; text-transform: uppercase; font-weight: bolder;
                                        font-size: small;">
                                            C. Service Package
                                    </td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                                  @if (Model.BundlePackages.Count() > 0)
                                  {
                                      
                                       <tr> 
                                        <td colspan="3" style="color:Black;font-weight:bolder;font-size:small;">
                                       
                                         Plan Details :                                        
                                     
                                        </td>
                                    </tr>
                                      
                                    <tr>
                                        
                                        <td>
                                            &nbsp;
                                        </td>
                                        <td colspan="3"> <b>Components</b></td>
                                     
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            <b>Plan</b>
                                        </td>
                                        <td valign="top" >
                                            <div style="float: left; border-style: solid; border-width: 1px; border-radius: 5px;
                                               padding: 1px 1px 1px 1px; width: 240px;">
                                                @Util.GetNameByID(RefType.Package, Model.BundlePackages[0].ChildID)
                                            </div>
                                        </td>
                                        @foreach (var suppLineForm in Model.SuppLineForms)
                                        { 
                                            <td valign="top" colspan="2">
                                                <div style="float: left; border-style: solid; border-width: 1px; border-radius: 5px;
                                                    padding: 1px 1px 1px 1px; width: 240px;">
                                                    @suppLineForm.SuppLineBdlPkgName
                                                </div>
                                            </td>
                                        }
                                    </tr>
                                        if (Model.Registration.RegTypeID == Util.GetIDByCode(RefType.RegType, Settings.Default.RegType_DevicePlan))
                                        {
                                         <tr>
                                        <td valign="top">
                                            <b>Contract(s)</b>
                                        </td>
                                        <td valign="top" >
                                            <div style="float: left; border-style: solid; border-width: 1px; border-radius: 5px;
                                                padding: 1px 1px 1px 1px; width: 240px;">                                                 
                                                 @if (Session["SelectedContractName"] != null)
                                                 {
                                                     List<string> contracts = (List<string>)Session["SelectedContractName"];
                                                     string allContracts = string.Empty;

                                                     foreach (var item in contracts)
                                                     {
                                                         if (allContracts.Length > 0)
                                                         {
                                                          <br />                                                 
                                                         }
                                                     @Html.Label("lblContractNamebyId", item.ToString2())                                                    
                                                         allContracts = item.ToString2();
                                                     }
                                                 }
                                                 else
                                                 {
                                        
                                         <text>Not Available</text>
                                                 }
                                            </div>
                                        </td>
                                         <td colspan="2">
                                            &nbsp;
                                        </td>
                                       </tr>
                                        }
                                  }
                                @if (Model.PackageComponents != null)
                                { 
                                    <tr>
                                        <td valign="top">
                                            <b>VAS</b>
                                        </td>
                                        <td valign="top">
                                      <table style="vertical-align:top;">

                                       @if (Convert.ToInt16(Model.Registration.RegTypeID) == (int)MobileRegType.CRP)
                                       {
                                           var vasNames = (List<Online.Registration.Web.Models.VasesWithPkg>)Session["RegMobileReg_VasNamesWithPackages"];

                                           var mandatoryComps = vasNames.Where(a => a.LinkType.ToUpper() == "PC");
                                           var mainComps = vasNames.Where(a => a.LinkType.ToUpper() == "MA");
                                           var dataComps = vasNames.Where(a => a.LinkType.ToUpper() == "DC");
                                           var extraComps = vasNames.Where(a => a.LinkType.ToUpper() == "EC");
                                           var otherComps = vasNames.Where(a => a.LinkType.ToUpper() == "OC");

                                           if (mandatoryComps.Count() > 0)
                                           {
                                                <tr>
                                                <td valign="top"><b>Mandatory Package</b></td>
                                                </tr>
                                                
                                               
                                                <tr>
                                                    <td style="float: left; border-style: solid; border-width: 1px; border-radius: 5px;
                                                        padding: 1px 1px 1px 1px; width: 240px; ">
                                                            @foreach (var vas in mandatoryComps)
                                                            {
                                                                @vas.VASName.ToString2()<br />
                                                            } 
                                                    </td>
                                                </tr>
                                                   
                                                                                        
                                           }

                                           if (mainComps.Count() > 0)
                                           {
                                                <tr>
                                                <td valign="top"><b>Main Package</b></td>
                                                </tr>
                                               
                                                <tr>
                                                    <td style="float: left; border-style: solid; border-width: 1px; border-radius: 5px;
                                                        padding: 1px 1px 1px 1px; width: 240px; ">
                                                            @foreach (var vas in mainComps)
                                                            {
                                                                @vas.VASName.ToString2()<br />
                                                            }
                                                    </td>
                                               </tr>
                                           }

                                           if (dataComps.Count() > 0)
                                           {
                                                <tr>
                                                <td valign="top"><b>Data Package</b></td>
                                                </tr>
                                               
                                                <tr>
                                                    <td style="float: left; border-style: solid; border-width: 1px; border-radius: 5px;
                                                        padding: 1px 1px 1px 1px; width: 240px; ">
                                                        @foreach (var vas in dataComps)
                                                        {
                                                            @vas.VASName.ToString2()<br />
                                                        }
                                                    </td>
                                               </tr>
                                           }

                                           if (extraComps.Count() > 0)
                                           {
                                                <tr>
                                                <td valign="top"><b>Extra Package</b></td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left; border-style: solid; border-width: 1px; border-radius: 5px;
                                                        padding: 1px 1px 1px 1px; width: 240px; ">
                                                            @foreach (var vas in extraComps)
                                                            {
                                                                @vas.VASName.ToString2()<br />
                                                            }
                                                    </td>
                                                </tr>
                                           }

                                           if (otherComps.Count() > 0)
                                           {
                                                <tr>
                                                <td valign="top" > <b>Other Package</b></td>
                                                </tr>
                                                <tr>
                                                    <td style="float: left; border-style: solid; border-width: 1px; border-radius: 5px;
                                                        padding: 1px 1px 1px 1px; width: 240px; ">
                                                        @foreach (var vas in otherComps)
                                                        {
                                                            @vas.VASName.ToString2()<br />
                                                        }
                                                    </td>
                                                </tr>
                                           }

                                       }
                                       else
                                       {

                                           if (Model.PackageComponents.Count() > 0)
                                           {


                                               foreach (var pbpc in Model.PackageComponents)
                                               {
                                            <tr>
                                                <td style="float: left; border-style: solid; border-width: 1px; border-radius: 5px;
                                                    padding: 1px 1px 1px 1px; width: 240px; ">
                                                    @Util.GetNameByID(RefType.Component, pbpc.ChildID)
                                                </td>
                                               </tr>
                                               }
                                           }
                                           else
                                           {
                                                <tr><td>&nbsp;</td></tr>
                                           }
                                       }
                                               
                                         </table>   
                                        </td>
                                      
                                        @foreach (var suppLineForm in Model.SuppLineForms)
                                        {
                                            <td valign="top"  colspan="2">
                                                @foreach (var vasName in suppLineForm.SuppLineVASNames)
                                                {
                                                    <div style="float: left; border-style: solid; border-width: 1px; border-radius: 5px;
                                                        margin: 1px; padding: 1px 1px 1px 1px; width: 240px;">
                                                        @vasName
                                                    </div>
                                                }
                                            </td>
                                        }
                                    </tr>
                                }
                                @* <tr><td colspan="4" >&nbsp;</td></tr>*@
                                
                                </table>
                                <table align="center" class="rfTable" width="670px" id="tblPage2">
                                <tr><td colspan="4" style="width:100%;" align="right" >Page 2</td></tr>
                                @if (Model.Registration.ID != null && Model.Registration.ID != 0)
                                { 
                                    <tr>
                                        <td valign="top" style="width: 100px">
                                            <b>Registration ID</b>
                                        </td>
                                        <td valign="top" >
                                           @* @Html.Raw(Util.Barcodes(Model.Registration.ID.ToString()))
                                            <br />*@
                                            @Model.Registration.ID
                                        </td>                                        
                                    </tr>                              
                                }
                                @if (Model.Registration.ID != null && Model.Registration.ID != 0 && (!ReferenceEquals(Model.Registration.IMPOSFileName, null)))
                                {
                                    if (Model.Registration.IMPOSFileName != "" && Model.Registration.IMPOSFileName.ToString().ToUpper().Trim() != "NOT AVIALABLE")
                                    {
                                    <tr>
                                        <td valign="top" style="width: 100px">
                                            <b>IMPOS File Name</b>
                                        </td>
                                        <td valign="top" style="width: 400px" colspan="3">
                                            <text>
                                            @Html.Raw(Util.Barcodes(Model.Registration.IMPOSFileName))
                                               @*<input style="display:none;" name="barcode" id="barcode_input"  value="@Model.Registration.IMPOSFileName" />*@
                                
                                             @*@Html.Hidden("barcode_subtype", "code128b")*@
                                             @*<div   id="dvImposBarCode" style="white-space:nowrap;float:left;margin-left:-10px;"></div>*@

                                           <br />
                                            @Model.Registration.IMPOSFileName
                                            </text>
                                        </td>
                                       
                                    </tr>
                                    }
                                }
                                @if (!string.IsNullOrEmpty(Model.Registration.MSISDN1))
                                { 
                                    <tr>
                                        <td valign="top" style="width: 100px">
                                            <b>MSISDN</b>
                                        </td>
                                        <td valign="top">
                                            @Model.Registration.MSISDN1
                                        </td>
                                        @foreach (var suppLineForm in Model.SuppLineForms)
                                        {
                                            <td valign="top" colspan="2">
                                                @suppLineForm.MSISDN
                                            </td>
                                        }
                                    </tr>
                                }
                                @if (_rebatePenalty > 0)
                                {
                                    <tr>
                                        <td valign="top" style="width: 100px">
                                            @*<b>Rebate Penalty</b>*@
                                            <b>*Estimated Early Termination Fee amount (RM)</b>
                                        </td>
                                        <td valign="top">
                                           @(_rebatePenalty.ToString("0.00"))
                                        </td>
                                        
                                    </tr>
                                }
@*Sutan Added Code 10Th March 2013*@
                               @* <tr>
                                    <td valign="top" style="width: 100px">
                                        <b>@Constants.KENAN_ACCOUNT_NUMBER</b>
                                    </td>
                                    <td valign="top" colspan="3">
                                        @if (!ReferenceEquals(Model.Registration.KenanAccountNo, null) && Model.Registration.KenanAccountNo != "0")
                                        {
                                            <text>
                                            @Html.Raw(Util.Barcodes(Model.Registration.KenanAccountNo))
                                            <br />
                                            @Html.Raw(Model.Registration.KenanAccountNo)
                                            </text>
                                            
                                        }
                                        else
                                        {

                                            <text>Not Available</text>
                                        }
                                    </td>
                                </tr>*@
                                @*End Sutan Added Code 10Th March 2013*@
                                @if (Model.DeviceForms.Count() > 0)
                                { 
                                    <tr>
                                        <td valign="top" style="width: 100px">
                                            <b>Device</b>
                                        </td>
                                        <td valign="top" colspan="3">
                                            @Model.DeviceForms[0].Brand - @Model.DeviceForms[0].Model - RM@(Model.DeviceForms[0].Price.ToString("0.00"))
                                          
                                        </td>
                                    </tr>
                                }
                                @if (Model.DeviceForms.Count() > 0)
                                {
                                    <tr>
                                        <td valign="top" style="width: 100px">
                                            <b>Plan Advance&nbsp;(RM) </b>
                                        </td>
                                        <td valign="top" colspan="3">
                                            @((Model.Registration.PlanAdvance).ToString("0.00"))
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" style="width: 100px">
                                            <b>Registration Deposit&nbsp;(RM) </b>
                                        </td>
                                        <td valign="top" colspan="3">
                                            @((Model.Registration.PlanDeposit).ToString("0.00"))
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td valign="top" style="width: 100px">
                                            <b>Device Advance&nbsp;(RM) </b>
                                        </td>
                                        <td valign="top" colspan="3">
                                            @((Model.Registration.DeviceDeposit + Model.Registration.DeviceAdvance).ToString("0.00"))
                                        </td>
                                    </tr>
                                      @Html.Raw(strFinalTbl.ToString2())
                                    <tr>
                                        <td valign="top" style="width: 100px">
                                            <b>Total Payable&nbsp;(RM) </b>
                                        </td>
                                        <td valign="top" colspan="3">
                                            @(((Model.Registration.PlanDeposit + Model.Registration.PlanAdvance + Model.Registration.DeviceDeposit + Model.Registration.DeviceAdvance + Model.DeviceForms[0].Price - Convert.ToDecimal(Model.Registration.Discount)) + (totalPayable - checkedAmt)).ToString("0.00"))
                                        </td>
                                    </tr>
                                     <tr>
                <td valign="top" style="width: 100px">
                    <b>* For info only. Pls refer to bill for actual amount payable </b>
                </td>
            </tr>
                                }
                                else
                                {

                                    if ((isMsim == false && isRegDepositWaived == true) || isRegDepositWaived == true)
                                    {
                                             <tr>
                                        <td valign="top" style="width: 60px">
                                            <b>Registration Deposit&nbsp;(RM) </b>
                                        </td>
                                        <td valign="top" colspan="3">
                                           Waived
                                        </td>
                                       </tr>
                                    }
                                    else if (Model.Registration.PlanDeposit > 0)
                                    {
                                         <tr>
                                        <td valign="top" style="width: 60px">
                                            <b>Registration Deposit&nbsp;(RM) </b>
                                        </td>
                                        <td valign="top" colspan="3">
                                            @((Model.Registration.PlanDeposit).ToString("0.00"))
                                        </td>
                                       </tr>
                                    }

                                    if ((isMsim == false && isPlanAdvanceWaived == true) || isPlanAdvanceWaived == true)
                                    {
                                         <tr>
                                        <td valign="top" style="width: 60px">
                                            <b>Plan Advance&nbsp;(RM) </b>
                                        </td>
                                        <td valign="top" colspan="3">
                                           Waived
                                        </td>
                                       </tr>
                                    }
                                    else if (Model.Registration.PlanAdvance > 0)
                                    {
                                    
                                    <tr>
                                        <td valign="top" style="width: 60px">
                                            <b>Plan Advance&nbsp;(RM) </b>
                                        </td>
                                        <td valign="top" colspan="3">
                                            @((Model.Registration.PlanAdvance).ToString("0.00"))
                                        </td>
                                    </tr>}
                                    if (_penalty > 0)
                                    {
                                        <tr>
                                        <td valign="top" style="width: 60px">
                                            @*<b>Penalty </b>*@
                                            <b>*Estimated Early Termination Fee amount (RM)</b>
                                        </td>
                                        <td valign="top" colspan="3">
                                            @(_penalty.ToString("0.00"))
                                        </td>
                                    </tr>
                                    }
                                     @Html.Raw(strFinalTbl.ToString2())
                                    <tr>
                                        <td valign="top" style="width: 100px">
                                            <b>Total Payable&nbsp;(RM) </b>
                                        </td>
                                        <td valign="top" colspan="3">
                                            @*@(((_penalty + Model.Registration.PlanDeposit + Model.Registration.PlanAdvance) + (totalPayable - checkedAmt)).ToString("0.00"))*@
                                             @(((Model.Registration.PlanDeposit + Model.Registration.PlanAdvance) + (totalPayable - checkedAmt)).ToString("0.00"))
                                        </td>
                                    </tr>
                                     <tr>
                <td valign="top" style="width: 100px">
                    <b>* For info only. Pls refer to bill for actual amount payable </b>
                </td>
            </tr>
                                }
                                <tr>
                                    
                                     @if (string.IsNullOrEmpty(Model.Registration.IMEINumber))
                                     {
                                     }
                                     else
                                     {
                                         <td valign="top" style="width: 100px">
                                        <b>IMEI Number</b>
                                    </td>
                                    <td valign="top" colspan="3">

                                        @if (string.IsNullOrEmpty(Model.Registration.IMEINumber))
                                        {
                                            <text>Not Available</text>
                                        }
                                        else
                                        {
                                            <text>
                                          @*  @Html.Raw(Util.Barcodes(Model.Registration.IMEINumber))
                                            <br />*@
                                            @Model.Registration.IMEINumber
                                            </text>
                                        }
                                         </td>
                                     }
                                   
                                </tr>
                                <tr>
                                    
                                     @if (string.IsNullOrEmpty(Model.Registration.SIMSerial))
                                     {
                                     }
                                     else
                                     {
                                         <td valign="top" style="width: 100px">
                                        <b>SIM Serial</b>
                                    </td>
                                    <td valign="top" colspan="3">
                                        @if (string.IsNullOrEmpty(Model.Registration.SIMSerial))
                                        {
                                            <text>Not Available</text>
                                        }
                                        else
                                        {
                                            <text>
                                           @* @Html.Raw(Util.Barcodes(Model.Registration.SIMSerial))
                                            <br />*@
                                            @Model.Registration.SIMSerial
                                            </text>
                                        }
                                        </td>
                                     }
                                    
                                </tr>
                                <tr><td>&nbsp;</td></tr>

                                @if (Model.VoiceContractDetails.Count() > 0)
                                {
            <tr>
                <td colspan="4">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="4">@Html.Raw(Model.VoiceContractDetails[0].ContractDetails)
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="4" style="background-color: Black; color: White; text-transform: uppercase;
                    font-weight: bolder; font-size: small;">
                    <div>
                        D. Declaration</div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    I have read the terms above and agree to be bound by these terms which shall form
                    part of the Principal Terms and Conditions (as stated in the MMSSB Registration
                    Form).
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    I agree that MMSSB has the right to impose a pre-termination charge, as stipulated
                    herein above, for which I will be responsible to pay if I decide to terminate the
                    PlanOffer or in the event any of the events and/or actions as stipulated in clause
                    8 occurs anytime within the Commitment Period (Commitment Period as stipulated under
                    Section A in Appendix A).
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    I understand and acknowledge that I have committed to the Commitment Period (as
                    stipulated in Appendix A) that I have signed on to a rate plan with the same amount
                    of monthly commitment as stipulated under Clause 4 (PlanPlan and Offer structure)
                    of the terms by accepting this Offer
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    I understand and acknowledge that in event I terminate the planOffer/Plan within
                    twelve (12) or twenty four (24) months from the date of execution of these terms
                    and conditions, I shall pay to Maxis a pre-termination charge as stipulated under
                    Clause 9 of the terms by accepting this Offer.
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="2" align="left">
                    <br />
                    <div style="background-image: url('@Url.Content("~/Content/images/maxis_use_only_s.png")'); float: left; width: 400px;height: 200px; overflow: hidden">@Html.Raw(Model.Registration.SignatureSVG)</div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    ____________________________________
                    <br />
                    Applicant's Signature 
                <br />
                @Html.Raw("Date ")@Util.FormatDateTime(Model.Registration.RFSalesDT)
                </td>
                @*<td colspan="2">
                    ____________________________________
                    <br />
                    Date
                </td>*@
                </tr>
                <tr>
                    <td colspan="4">
                        &nbsp;
                    </td>
                </tr>
            </tr>
            <tr >
                <td align="center" style="font-size: large; font-weight: bolder; width: 670px" colspan="4">
                    <u>APPENDIX A</u>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td align="left" style="font-size: large; font-weight: bolder; width: 670px" colspan="2">
                    <u>SECTION A: OFFER DETAILS </u>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <table border="1" cellpadding="0" cellspacing="0" width="264%">
                        <tr>
                            <td>
                                Offer (Tick One)
                            </td>
                            <td>
                                 SurfMore 50 (12 months Contract)
                                <br />
                                 SurfMore 50 (24 months Contract)
                                <br />
                                 SurfMore 75 (12 months Contract)
                                <br />
                                 SurfMore 75 (24 months Contract)
                                <br />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <table border="1" cellpadding="0" cellspacing="0" width="264%">
                        <tr>
                            <td>
                                Name (as per NRIC/Passport)
                            </td>
                            <td>
                                @Model.Customer.FullName
                            </td>
                        </tr>
                        <tr>
                            <td>
                                NRIC No/Passport No.
                            </td>
                            <td>
                          
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Address
                            </td>
                            <td>
                                 <br /><br /><br /><br />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Maxis Billing Address (If different from above)
                            </td>
                            <td>
                               <br /><br />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Account No
                            </td>
                            <td>
                      
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Mobile No (MSISDN)
                            </td>
                            <td>
                               @Model.Customer.ContactNo
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            

                                }



                                else
                                {
                                 <tr>
                                    <td colspan="4" style="background-color: Black; color: White; text-transform: uppercase; font-weight: bolder;
                                        font-size: small;">
                                        <div>
                                            D. Declaration</div>
                                    </td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                                 <tr>
                                    <td colspan="4">
                                       (a) I/We hereby declare that I/we wish to subscribe for the Services provided by Maxis Mobile Services Sdn Bhd.



                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">(b) That the above information provided is true and correct.</td></tr>
                                     <tr>
                                    <td colspan="4">(c) That I/we have read and agree to be bound by the contract terms herewith and all other terms & conditions printed and/or attached hereto and any amendments made thereto.</td></tr>
                                     <tr>
                                    <td colspan="4">(d) that I/we hereby consent to the collection and processing of my personal information in accordance with the Maxis Privacy Statement (at www.maxis.com.my/pdpa). I/we further agree and accept that the terms and conditions in the Maxis Privacy Statement forms an integral part of the terms and conditions for use of the Services.</td></tr>
                                    
                              
                                @*<tr>
                                
                                    <td colspan="2">
                                         <br />
                                         <br />
                                        
                                        ____________________________________
                                        <br />
                                        Applicant's Signature
                                      
                                        <br />
                                        <br />
                                       
                                        
                                    </td>
                                    <td colspan="2">  

                                    <br />
                                         <br />
                                     ____________________________________
                                      <br />
                                     Date:
                                    </td>
                                   
                                </tr>*@
                                @*Changed by chetan to display signature of applicant   *@
                                <tr>
                                <td colspan="4" align="left">
                                <br />
                                <div style="background-image: url('@Url.Content("~/Content/images/maxis_use_only_s.png")'); float: left; width: 400px;height: 200px; overflow: hidden">@Html.Raw(Model.Registration.SignatureSVG)</div>
                                </td>
                                </tr>
                                
                                <tr>
                                    <td colspan ="2">
                                    ____________________________________
                                    <br />
                                    Applicant's Signature  
                                    <br />
                                    @Html.Raw("Date ")@Util.FormatDateTime(Model.Registration.RFSalesDT)
                                    </td>
                                                                
                                   @* <td colspan="2">  
                                    ____________________________________
                                    <br />
                                    Date
                                    </td>*@
                                   
                                </tr>
                                @*Changed upto here*@


                                 @*<tr>
                                    <td colspan="2">
                                         <br />
                                         <br />
                                        ____________________________________
                                       
                                      
                                       
                                        
                                    </td>
                                    <td colspan="2"> 
                                    <br />
                                         <br />  ____________________________________
                                          <br />
                                          Date:
                                                    
                                    </td>
                                   
                                </tr>*@
                                }
                                <tr><td colspan="4">&nbsp;</td></tr>

                                  <tr>
                                    <td  colspan="4" style="background-color: Black; color: White; text-transform: uppercase; font-weight: bolder;
                                        font-size: small;">
                                        <div>
                                           E. For Office Use Only</div>
                                    </td>
                                </tr>
                                <tr><td colspan="4">&nbsp;</td></tr>
                                <tr>
                                    <td colspan="2" >
                                    @*<table>
                                    <tr><td><b>Dealer/Sales Code</b></td><td>
                                    @if (!ReferenceEquals(Model.Registration.ApprovedBlacklistPerson, null))
                                    {
                                        @Html.Raw(Model.Registration.ApprovedBlacklistPerson);
                                    }
                                    else
                                    {
                                        <text>_____________________________________</text>
                                    }
                                    </td></tr>
                                    <tr><td><b>Salesman ID No</b></td><td>_____________________________________</td></tr>
                                    <tr><td><b>Task Completion Date</b></td><td>_____________________________________</td></tr>
                                    </table>*@ 
                                    <table>
                                        <tr>
                                            <td style="width:175px">
                                                <b>@dealerCodeLabel</b>
                                            </td>
                                            <td>
                                                @if (!ReferenceEquals(Model.Registration, null) && !ReferenceEquals(Model.Registration.CenterOrg, null))
                                                {
                                                    @Html.Raw(!String.IsNullOrEmpty(Model.Registration.CenterOrg.Name) ?
                                                    (Model.Registration.CenterOrg.Name + " " + (!String.IsNullOrEmpty(Model.Registration.CenterOrg.DealerCode) ? "(" + Model.Registration.CenterOrg.DealerCode + ")" : String.Empty))
                                                    : !String.IsNullOrEmpty(Model.Registration.CenterOrg.DealerCode) ? Model.Registration.CenterOrg.DealerCode : String.Empty);
                                                }
                                                else
                                                {
                                                    @Html.Raw(String.Empty);
                                                }
                                            </td>
                                        </tr>
                                        @if (@isDealer)
                                        {
                                            <tr>
                                                <td>
                                                    <b>@salescodelabel</b>
                                                </td>
                                                <td>
                                                    @if (!ReferenceEquals(Model.RegAttributes, null) &&
                                                        WebHelper.Instance.InitiateSalesCode(ref SalesStoreCode, Model.RegAttributes, RegAttributes.ATTRIB_KENAN_SALESCODE.ToString2()))
                                                    {
                                                        @Html.Raw(SalesStoreCode);
                                                    }
                                                    else
                                                    {
                                                        @Html.Raw(String.Empty);
                                                    }
                                                    @(SalesStoreCode = String.Empty)
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td>
                                                <b>@staffCodelabel</b>
                                            </td>
                                            <td>
                                                @if ((!ReferenceEquals(Model.RegAttributes, null) &&
                                                    WebHelper.Instance.InitiateSalesCode(ref SalesStoreCode, Model.RegAttributes, RegAttributes.ATTRIB_KENAN_SALESSTAFFCODE.ToString2())) ||
                                                    !ReferenceEquals(Model.Registration, null))
                                                {
                                                    @Html.Raw(!ReferenceEquals(Model.Registration, null) && !String.IsNullOrEmpty(Model.Registration.SalesPerson) && !String.IsNullOrEmpty(SalesStoreCode) ?
                                                    (Model.Registration.SalesPerson + " (" + SalesStoreCode + ")") : (!ReferenceEquals(Model.Registration, null) && !String.IsNullOrEmpty(Model.Registration.SalesPerson) ?
                                                    Model.Registration.SalesPerson : SalesStoreCode));
                                                }
                                                else
                                                {
                                                    @Html.Raw(String.Empty);
                                                }
                                                @(SalesStoreCode = String.Empty)
                                            </td>
                                        </tr>
                                    </table>   
                                    </td>
                                     
                                </tr>
                                <tr><td colspan="4">&nbsp;</td></tr>
                               
                               
                </table>
              
                         
                             
                          
                           
                            

      <script language="javascript" type="text/javascript">
          var qs = new getParameter();
          if (qs.barcode) {
              var cls = qs.bigger ? 'barcode2' : 'barcode';
              if (qs.type) cls += ' ' + qs.type;
              // document.write('<div class="' + cls + '">' + qs.barcode + '</div>');
              document.getElementById("dvImposBarCode").innerHTML = '<div class="' + cls + '">' + qs.barcode + '</div>';
              new jsb.Rule("#barcode_input", {
                  ondocumentready: function () {
                      document.getElementById('barcode_input').value = qs.barcode;
                      if (qs.type) document.getElementById('barcode_subtype').value = qs.type;
                      //if (qs.bigger) document.getElementById('bigger').checked = true;
                  }
              });
          }

          if ('@crpPlan' == '19') {
              document.getElementById('tblPage2').style.pageBreakAfter = 'auto';
          }
    </script>

</body>

</html>
