﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.PromotionalOffers
@{
    ViewBag.Title = "Select a Promotional Offer";
    var orderVM = new OrderSummaryVM();
    Layout = null;
    if ((OrderSummaryVM)Session["RegMobileReg_OrderSummary"] != null)
    {
        orderVM = (OrderSummaryVM)Session["RegMobileReg_OrderSummary"];
    }

    Session["GuidedSales_Type"] = string.Empty;

    //var bundleNames = Model.OffersList;
    List<string> bundleNames = new List<string>();
    bundleNames.Add("Plan");
    bundleNames.Add("Device Plan");
    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" :string.Empty;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var vasPrimary = Session["SimType"].ToString2() == "MISM" ? "Value Added Services-Primary" : "Value Added Services";
    var vasSecondary = Session["SimType"].ToString2() == "MISM" ? "Value Added Services-Secondary" : "Value Added Services";

    var planList = Model.OffersList.Where(plan => plan.ArticleId == "P").ToList();
    var deviceList = Model.OffersList.Where(device => device.ArticleId != "P").ToList();
}
@using (Html.BeginForm("PromoOffers", "Registration", FormMethod.Post, new { id = "frmPromoOffers", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    <div class="vwHeader" style="width:96%;white-space:nowrap;">
        <table style="width:104%;">
            <tr>
                <td >
                    <div>@ViewBag.Title</div>
                   
                </td>
                 @if (Model.OffersList.Count > 0)
                 {
                <td style="text-align: right ! Important;padding-right: 4%;">                   
                          <button class="button-continue" type="submit" value="Next" onclick="javascript:return CheckValidation();">
                    </button>
                </td>
                 }
            </tr>
        </table>
    </div>
    <div class="viewInnerBody"  style="width:96%;height:50%;min-height: 670px!important;">
     <input type="hidden" name="TabNumber" id="TabNumber" />
                            <input type="hidden" name="SelectedPgmBdlPkgCompID" id="SelectedPgmBdlPkgCompID" />
                            <input type="hidden" name="SimType" id="SimType" />
                             <input type="hidden" name="hdnUOMCode" id="hdnUOMCode" />
                              <input type="hidden" name="hdnArticleId" id="hdnArticleId" />
                               <input type="hidden" name="hdnOfferPrice" id="hdnOfferPrice" />
                               <input type="hidden" name="hdnMarketCode" id="hdnMarketCode" />
        <div style="padding-left: 4%;">
            <div id="Plan_Error" style="color: Red; font-weight: bold; font-size: 16px;">
            </div>

             <table width="500px">
                <tr>
                    @if (Model.OffersList.Count > 0)
                    {
                        <td style="padding-right: 30px" valign="middle">
                            @{ var i = 0; }
                            @{int Pckcnt = 0;}
                            @Html.ValidationSummary(false)
                           
                            @foreach (var bundleName in bundleNames)
                            {
                                Pckcnt =  planList.Count; 
                                if (bundleName != "Plan")
                                {
                                    Pckcnt = deviceList.Count;
                                }
                                if (Pckcnt != 0)
                                {
                                    if (Pckcnt <= 4)
                                    {
                                        i = 0;
                                        var containerName1 = "container1_" + i;
                                        var carouselName1 = "carousel1_" + i;
                                <table>
                                    <tr>
                                        <td>
                                            <label style="font-size: large; font-weight: bold;">@bundleName.ToUpper()
                                            </label>
                                            
                                            <div align="center"  @if (i % 2 == 0)
                                                                 { <text>style="float: right; width:455px;"</text> }>
                                              <a href="#" id='@("next_" + i)' class="ui-carousel-next" style="float: left">
                                                 <span></span></a>
                                                <div class="container" id="@(containerName1)">
                                                    <div id="@(carouselName1)" class="carousel">
                                                        @{
                                                                 var offrList = planList;
                                                                 if (bundleName != "Plan")
                                                                 {
                                                                     offrList = deviceList;
                                                                 }
                                                                 foreach (var offer in offrList)
                                                                 {
                                                                     var btnPlanID = "btnPlan_" + offer.Id;
                                                                     var btnPlanDetails = "btnPlnDetails_" + offer.UOMCode.ToString2();
                                                                 
                                                           <div style="float: left !important">
                    <button id="@btnPlanID" class="cancel btnPlanSelection" style="width:420px;height:55px;float:left !important" type="button" onclick="SelectedPlan('@btnPlanID','@offer.Id','@offer.UOMCode','@offer.Price','@offer.ArticleId','@offer.KenanComponent1Id');" >
                                                                    @offer.OfferName.ToString2()
                                                                </button>
                                                            </div>
                                                              <div style="float: right; height:30px;">
                                                                <button id="@btnPlanDetails" style="width:30px;height:55px;float:right !important" type="button" onclick="detailsPlans_OnClick('@btnPlanDetails')"class="button-plan-details">
                                                                </button>
                                                            </div>
                                                          
                                                                 }
                                                        }
                                                    </div>
                                                </div>
                                                <a href="#" id='@("prev_" + i)' class="ui-carousel-prev" style="float: left"><span></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                    }
                                    else
                                    {
                                        var containerName = "container_" + i;
                                        var carouselName = "carousel_" + i;
                                <table>
                                    <tr>
                                        <td>
                                            <label style="font-size: large; font-weight: bold;">@bundleName.ToUpper()
                                            </label>
                                           
                                            <a href="#" id='@("next_" + i)' class="ui-carousel-next"><span></span></a>
                                            <div id="@(containerName)" >
                                                <div id="@(carouselName)" class="carousel">
                                                    @{
                                        var offrList = planList;
                                        if (bundleName != "Plan")
                                        {
                                            offrList = deviceList;
                                        }
                                        foreach (var offer in offrList)
                                        {
                                            var btnPlanID = "btnPlan_" + offer.Id;
                                            var btnPlanDetails = "btnPlnDetails_" + offer.UOMCode.ToString2();

                                                        <div>
                                                            <div style="float: inherit !important">
                                                                                                                                <button id="@btnPlanID" class="cancel btnPlanSelection" style="width:420px;height:55px;float:left !important" type="button" onclick="SelectedPlan('@btnPlanID','@offer.Id','@offer.UOMCode','@offer.Price','@offer.ArticleId','@offer.KenanComponent1Id');" >
                                                                   @offer.OfferName.ToString2()
                                                                </button>
                                                            </div>
                                                            <div style="float: right !important">
                                                                <button id="@btnPlanDetails" style="float: inherit !important;width:30px;height:55px;" type="button" onclick="detailsPlans_OnClick('@btnPlanDetails')" class="button-plan-details">
                                                                </button>
                                                            </div>
                                                        </div>
                                        }
                                                    }
                                                </div>
                                            </div>
                                            <a href="#" id='@("prev_" + i)' class="ui-carousel-prev"><span></span></a>
                                            <br />
                                            <br />
                                        </td>
                                    </tr>
                                </table>
                                        i++;
                                        if (Pckcnt <= 4)
                                        {
                                            i = 0;
                                        }
                                    }
                                }
                            }
                        </td>
                    }
                    else
                    {
                        <td style="padding-right: 30px; text-align: center;color:Red" valign="middle">
                            <div>
                                <b>No Plans Available</b>
                            </div>
                        </td> 
                    }
                </tr>
            </table>
        </div>
      
    </div>
    
                        
}


@{
    Html.Telerik().Window()
        .Name("planDetailsWindow")
        .Title("Plan Details")
        .Width(750)
        .Height(600)
        .ClientEvents(events => events.OnActivate("PlanWindow_popup"))
        .Content(@<text>
    <table width="100%">
        <tr>
            <td>
                <img alt="" id="imgPlanDetails" src="@Url.Content("~/Content/images/Plan/MobileReg_.gif")" />
            </td>
        </tr>
    </table>
    </text>)
        .Modal(true)
        .Visible(false)
        .Render();
}

    <script type="text/javascript"  language="javascript">

        $.validator.methods.number = function (n, t) {
        return true;
        }

        function SelectedPlan(btnPlanID, offerId,uomCode,offerPrice,articleId,marketCode) {
            $('#SelectedPgmBdlPkgCompID').val(offerId);
            $('#hdnUOMCode').val(uomCode);
            $('#hdnArticleId').val(articleId);
            $('#hdnOfferPrice').val(offerPrice);
            $('#hdnMarketCode').val(marketCode);
           $('button[id^="btnPlan_"]').css("border-style", "none");
            $('#'+btnPlanID).css("border-style", "solid");
          $('#Plan_Error').hide();
        }
    
        function PlanWindow_popup() {
            $('#planDetailsWindow').data('t-window').center();
        }

        function CheckValidation()
        {
             if($('#SelectedPgmBdlPkgCompID').val()=='')
             {
              $('#Plan_Error').html("Please select an offer.");
              return false;
             }
             else
             {
              $('#TabNumber').val('@MobileRegistrationSteps.MobileNo.ToInt()')
              return true;
             }
         
        }
      
        function detailsPlans_OnClick(btnPlanDetails) {
            var code = btnPlanDetails.substring(14);
            var src = $('#imgPlanDetails').attr("src");
            var indexFrom = src.indexOf("MobileReg_") + 10;
            var indexTo = src.indexOf(".gif");
            var oldCode = src.substring(indexFrom, indexTo);

            src = src.replace(oldCode, "");
            src = src.replace("MobileReg_", "MobileReg_" + code);
            $('#imgPlanDetails').attr("src", src);
            
            $('#planDetailsWindow').data('tWindow').center().open();
        }
        function validateSimType(){
        var simTypeVal=$("#ddlSimType").val();
            if(simTypeVal ==-1 )
            {
            alert("Please Select Sim Type");
            return false;
            }
            else
            {
            var simType=$('#ddlSimType :selected').text();
            if(simType=='MISM')
            {
            alert('Please select more than or equal to 2GB data component');
            }
             $('#SimType').val(simType);
             document.forms['frmSelectPlan'].submit();
            }
        }

        jQuery(function ($) {

           var total = @(bundleNames.Count());
            for (var i = 0; i < total; i++) {
                $('#carousel_' + i).rcarousel({
                    orientation: "vertical", step: 3, speed: 200, visible: 4, width: 450, height: 55,
                    navigation: { prev: "#next_" + i, next: "#prev_" + i }
                });


            }

            $(".ui-carousel-next")
			    .add(".ui-carousel-prev")
			    .hover(
				    function () {
				        $(this).css("opacity", 0.7);
				    },
				    function () {
				        $(this).css("opacity", 1.0);
				    }
			    );
        });

    </script>
