﻿
@* VLT ADDED CODE ON 22nd Feb by Rajeswari*@
@using System.Configuration;
@* VLT ADDED CODE ENDS HERE ON 22nd Feb by Rajeswari*@
@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "Search Registration";
    @* VLT ADDED CODE ON 22nd Feb by Rajeswari*@
    var interval = ConfigurationManager.AppSettings["TimerInterval"].ToString();
    @* VLT ADDED CODE ENDS HERE ON 22nd Feb by Rajeswari*@
}
@model Online.Registration.Web.ViewModels.SearchRegistrationVM

@using (Html.BeginForm("SearchRegistration", "Registration", FormMethod.Post, new { id = "frmSearchRegistration", @class = "overlayonsubmit", processmsg = "Loading" }))
{    
    <div class="vwHeader">
        <table width="100%">
            <tr>
                <td>
                    <div>@ViewBag.Title</div>
                    <div class="vwSubHeader">@ViewBag.Title</div>
                </td>
                <td align="right">
                    @*<button class="button-back cancel" type="submit" value="Back" onclick="$('#TabNumber').val(4);">
                    </button>
                    <button class="button-continue" type="submit" value="Next" onclick="$('#TabNumber').val(6);">
                    </button>*@
                </td>
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
        <div style="font-size:x-large;padding:10px 0px 10px 0px;">@ViewBag.Title</div>
        <table>
            <tr>
                <td><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.RegID)</b></td>
                <td><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.IDCardNo)</b></td>
               @* <td><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.QueueNo)</b></td>*@
             @*  <td>@Html.LabelFor(model => model.RegistrationSearchCriteria.RegType)</td>*@
                <td><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.StatusID)</b></td>
                
                <td></td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(model => model.RegistrationSearchCriteria.RegID)</td>
              @*   <td>@Html.TextBoxFor(model => model.RegistrationSearchCriteria.RegType)</td>*@
                <td>@Html.TextBoxFor(model => model.RegistrationSearchCriteria.IDCardNo)</td>
               @* <td>@Html.TextBoxFor(model => model.RegistrationSearchCriteria.QueueNo)</td>*@
               @* <td>@Html.TextBoxFor(model => model.RegistrationSearchCriteria.RegType)</td>*@
                <td>@Html.Telerik().DropDownListFor(model => model.RegistrationSearchCriteria.StatusID).BindTo(Util.GetStatusList(STATUSTYPE.Registration))</td>
                <td>
                    <button class="" type="submit" value="Search" style=" text-align:center;width:50px;height:45px;border-style:none;background-color:White;cursor:pointer">
                        <img alt="" src='@Url.Content("~/Content/images/icon_srch.png")' width="40px" height="40px" />
                    </button>
                </td>
            </tr>
        </table>
        <br /> 
            @*<div style="width:719px;height:380px;overflow-y:auto;border:1px solid lightgray;">*@
                @{
                                    Html.Telerik().Grid(Model.RegistrationSearchResults)
                                        .Name("gvwRegistration")
                                        .Footer(false).Scrollable(a => a.Enabled(true).Height(380))
                                        .HtmlAttributes(new { style = "width:800px;" })
                                        .TableHtmlAttributes(new { style = "border-radius:10px;" })
                                        .Selectable().DataKeys(a => a.Add("RegID"))
                                        .ClientEvents(events => events.OnRowSelect("onRowSelected"))
                                        .NoRecordsTemplate("No records to display")
                                        @*VLT ADDED CODE by Rajeswari on 22nd Feb FOR SORTING REGDATE DESC ORDER *@
                                        .Sortable(sorting => sorting
                                        .OrderBy(sortOrder => sortOrder.Add(m => m.RegDate).Descending()))
                                        @*VLT ADDED CODE ENDS by Rajeswari on 22nd Feb FOR SORTING REGDATE DESC ORDER *@
                                        .Columns(cols =>
                                        {
                                            cols.Bound(m => m.RegType).Title("RegType");
                                            cols.Bound(m => m.RegTypeDescription).Title("Regtype Description");
                                            cols.Bound(m => m.RegID).Title("ID");                                         
                                            cols.Bound(m => m.CustomerName).Title("Customer");
                                            cols.Bound(m => m.IDCardNo).Title("ID Card No");
                                            cols.Template(@<text>@Util.FormatDate(item.RegDate)</text>).Title("Create Date");
                                            cols.Bound(m => m.Status).Title("Status");
                                            cols.Bound(m => m.LastAccessID).Title("Last Access ID");
                                                                                      
                                        })
                                        .Render();
                }
            @*</div>*@
    </div>
    
    
    
}

@section Scripts{
    <script type="text/javascript">
            
        // VLT ADDED CODE by Rajeswari on 22nd Feb to refresh the grid for every 1 min
        $(function () {
            setInterval(loadTable, '@interval');  // invoke load every second
            loadTable(); // load on initial page loaded
        });

        function loadTable() {    
            $('#viewInnerBody').load('/Registration/SearchRegistration');
        }
        // VLT ADDED CODE ENDS here by Rajeswari on 22nd Feb to refresh the grid for every 1 min


        $(document).ready(function () {
            $('#menuPlanSearch').css("background-image", $('#menuPlanSearch').css("background-image").replace(".png", "_hover.png"));
        });
       
        function onRowSelected(e) {
            var ordersGrid = $('#gvwRegistration').data('tGrid');
            regTypeID = e.row.cells[0].innerHTML;
            regID = e.row.cells[2].innerHTML;          
            if (regTypeID == 8)
                window.location.href = '@(Url.Content("~/SuppLine/MobileRegSummary/"))' + regID;
            else if (regTypeID == 9)
                window.location.href = '@(Url.Content("~/NewLine/MobileRegSummary/"))' + regID;
                else
                    window.location.href = '@(Url.Content("~/Registration/MobileRegSummary/"))' + regID;
        }
     
</script>
  
}
