﻿@{
    ViewBag.Title = "SelectPrimarySuppLine";
}

@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.SubscriberICService;
@using Online.Registration.Web.Models;
@model Online.Registration.Web.Models.SelectPlanForSuppline
@{
    ViewBag.Title = "Add Supplementary line details";
    bool showContinueButton = false;

    if (!ReferenceEquals(Model, null) && (!ReferenceEquals(Model.PrimarySupplimentaryMSISDNs, null)) && ((Model.PrimarySupplimentaryMSISDNs.Count > 0)))
    {
        if (!Model.PrimarySupplimentaryMSISDNs.Exists(i => i.Status == PrimarySupplimentaryDetailsAddState.PROCESSING.ToInt() || i.Status == PrimarySupplimentaryDetailsAddState.NOTINITIALIZED.ToInt()))
        {
            ///SET IT TO TRUE ONLY WHEN ALL SUPPLIMENTARY MSISDN'S ARE PROCESSED OR RATHER POPULATED WITH NEEDED INFORMATION
            showContinueButton = true;
        }
    }
}

<!-- Centre column area -->
<div id="center">
    @using (Html.BeginForm("SelectPrimarySuppLine", "Registration", FormMethod.Post, new { id = "frmAddSuppline", @class = "overlayonsubmit", processmsg = "Loading" }))
    {
       @Html.Hidden("submit")
       
        <div class="header-title">
           Multiple Supplementary Plan Only
        </div>
        <div class="center_box">
            <div class="content_white" style="padding:70px 10px 100px 10px" >
                @if (Model.PrimarySupplimentaryMSISDNs.Count > 0)
                {
                    <div id="Grid" class="t-widget t-grid">
                        <table cellspacing="0">
                           <colgroup>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                                <col/>
                            </colgroup>
                            <thead class="t-grid-header">
                                <tr>
                                <th scope="col" class="t-header">
                                    <span class="t-link">Supplementary MSISDN</span>
                                </th>
                                <th scope="col" class="t-header">
                                    <span class="t-link">Action</span>
                                    @Html.Hidden("submit")
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                @if (!ReferenceEquals(Model, null) && !ReferenceEquals(Model.PrimarySupplimentaryMSISDNs, null))
                                {
                                    if (Model.PrimarySupplimentaryMSISDNs.Count > 0)
                                    {
                                        string ProcessingMsisdn = string.Empty;
                                        ///CHECK IF ALREADY ANY MSISDN IN PROCESSING MODE. IF SO GET THE MSISDN NAME
                                        if (Model.PrimarySupplimentaryMSISDNs.Where(i => i.Status == PrimarySupplimentaryDetailsAddState.PROCESSING.ToInt()).ToList().Count > 0)
                                        {
                                            ProcessingMsisdn = Model.PrimarySupplimentaryMSISDNs.Where(i => i.Status == PrimarySupplimentaryDetailsAddState.PROCESSING.ToInt()).ToList().FirstOrDefault().ProcessingId;
                                        }
                                        foreach (var SuppLine in Model.PrimarySupplimentaryMSISDNs)
                                        {
                                         <tr class="">
                                            <td>
                                             @Html.Label(SuppLine.ProcessingId)
                                             @if (!ReferenceEquals(SuppLine.Msisdn, null))
                                             {
                                                 @Html.Label(SuppLine.Msisdn)
                                             }
                                            </td>
                                            <td>                                        
                                                @if (SuppLine.Status == PrimarySupplimentaryDetailsAddState.PROCESSED.ToInt())
                                                {///IF THE MSISDN IS ALREADY IN PROCESSED MODE THEN STRAIGHT AWAY DISABLE IT
                                                    @*<input value="@SuppLine.Msisdn" type="submit" id="Msisdn" name="Msisdn" class="button-SuppLineDisable" disabled="disabled" />*@
                                                     @* <input  value="@SuppLine.Msisdn" type="submit" id="Msisdn" name="Msisdn" class="button-SuppLineDisable" disabled="disabled"/>*@
                                                     @*<button value="@SuppLine.Msisdn" type="submit" id="Msisdn" name="Msisdn" class="button-SuppLineDisable" disabled="disabled"></button>*@
                                                    <button value="@SuppLine.ProcessingId" type="submit" id="ProcessingId" name="ProcessingId" class="button-SuppLineDisable" disabled="disabled"></button>
                                                }
                                                else if (!string.IsNullOrWhiteSpace(ProcessingMsisdn))
                                                {///CHECK WHETHER THE ProcessingMsisdn CONTAINS ANY MSISDN IF SO ENABLE IT FOR RESELECT
                                                    if (SuppLine.ProcessingId.Equals(ProcessingMsisdn))
                                                    {///ENABLE FOR RESELECT
                                                        @*<button value="@SuppLine.Msisdn" type="submit" id="Msisdn" name="Msisdn" class="button-SuppLine"></button>*@
                                                      <button value="@SuppLine.ProcessingId" type="submit" id="ProcessingId" name="ProcessingId" class="button-SuppLine"></button>
                                                        @*<input type="submit" value="@SuppLine.Msisdn" id="Msisdn" name="Msisdn"  class="button-SuppLine"  />*@
                                                        @*<input value="@SuppLine.Msisdn" type="submit" id="Msisdn" name="Msisdn" class="button-SuppLine"/>*@
                                                    }
                                                    else
                                                    {///DISABLE ALL OTHERS
                                                        @*<button value="@SuppLine.Msisdn" type="submit" id="Msisdn" name="Msisdn" class="button-SuppLineDisable" disabled="disabled"></button>*@
                                                    <button value="@SuppLine.ProcessingId" type="submit" id="ProcessingId" name="ProcessingId" class="button-SuppLineDisable" disabled="disabled"></button>
                                                        @*<input type="submit" value="@SuppLine.Msisdn"  id="Msisdn" name="Msisdn" class="button-SuppLineDisable" disabled="disabled" />*@
                                                       @* <input value="@SuppLine.Msisdn" type="submit" id="Msisdn" name="Msisdn"   class="button-SuppLineDisable" disabled="disabled"/>*@
                                                    }
                                                }
                                                else
                                                {
                                                    @*<input value="@SuppLine.Msisdn" type="submit" id="Msisdn" name="Msisdn" class="button-SuppLine" />*@
                                                    @*<input value="@SuppLine.Msisdn" type="submit" id="Msisdn" name="Msisdn" class="button-SuppLine"/>*@
                                                    <input value="@SuppLine.ProcessingId" type="submit" id="ProcessingId" name="ProcessingId" class="button-SuppLine"/>
                                                }
                                            </td>
                                        </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                { 
                    <div id="DVShowNewUSerMsg">
                        <span>No Suppline accounts exists for the user</span>
                    </div>
                }

                 <div style="float: right; padding-right: 20px;">
                    @if (showContinueButton)
                    {
                        <div id="divContinue" style="display:block;">
                            <input class="submitButton" type="button" value="Continue" onclick="submitNumpad()"/>
                        </div>
                    }
                    else
                    {
                        <div id="divContinue" style="display:none;">
                        <input class="submitButton" type="button" value="Continue" onclick="submitNumpad()"/>
                        </div>
                    }
                </div>
            </div>
           
        </div>
    }   
    <div class="footer-text">
        @Html.Partial("_footer")
    </div>     
</div>

@section Scripts{
    <script type="text/javascript">
        function submitNumpad() {
            window.location.href = '@(Url.Content("~/Registration/PersonalDetails"))';
            return false;
        }
        function addSuppline(suppMSISDN) {


        }
        $(document).ready(function () {

        });  

        

    </script>
}