﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using System.Configuration;
@model Online.Registration.Web.ViewModels.ComponentViewModel
@{ 
    ViewBag.Title = "Select Component";
    // Layout = "~/Areas/Retention/Views/Shared/_Layout.cshtml";
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    //var ContractDet = (ContractDetails)Session["ContractDet"];
    var addedVas = string.Empty;
    string arVasGroupIds = string.Empty;

    if (Session["ARVasGroupIds"] != null)
    {
        arVasGroupIds = Session["ARVasGroupIds"].ToString();
    }

    #region Other component
    List<NewComponents> OCCmpntList = new List<NewComponents>();
    if (Model.NewPackagesList != null && Model.NewPackagesList.Where(a => a.Type == "OC").ToList() != null)
    {

        string[] OCPkgIds = Model.NewPackagesList.Where(a => a.Type == "OC").Select(a => a.NewPackageId).ToArray();
        if (OCPkgIds != null)
        {
            OCCmpntList = Model.NewComponentsList.Where(a => OCPkgIds.Contains(a.NewPackageId)).ToList();
        }
        else
        {
            OCCmpntList = null;
        }

    }
    List<NewComponents> PramotionalList = new List<NewComponents>();
    if (Model.NewPackagesList != null && Model.NewPackagesList.Where(a => a.Type == "RC" || a.Type == "CR").ToList() != null)
    {

        string[] OCPkgIds = Model.NewPackagesList.Where(a => a.Type == "RC" || a.Type == "CR").Select(a => a.NewPackageId).ToArray();
        if (OCPkgIds != null)
        {
            PramotionalList = Model.NewComponentsList.Where(a => OCPkgIds.Contains(a.NewPackageId) && a.Type == "RC" || a.Type == "CR").ToList();
            if (Session["ShowDComp"].ToString2() == "False")
            {
                var removeDC = PramotionalList.Where(x => x.NewComponentKenanCode == ConfigurationManager.AppSettings["ExclueSM30KenanId"].ToString2()).SingleOrDefault();
                if (removeDC != null)
                {
                    PramotionalList.Remove(removeDC);
                }
            }
        }
        else
        {
            PramotionalList = null;
        }

    }
    List<NewComponents> DataComponentList = new List<NewComponents>();
    if (Model.NewComponentsList != null && Model.NewComponentsList.Where(a => a.Type == "MD" || a.Type == "DM" || a.Type == "DC").ToList() != null)
    {
        DataComponentList = Model.NewComponentsList.Where(a => a.Type == "MD" || a.Type == "DM" || a.Type == "DC").ToList();
    }
    List<string> dataCompIdsList = new List<string>();
    using (var proxy = new RegistrationServiceProxy())
    {
        dataCompIdsList = proxy.GetDataPlanComponentsForMISM();
    }
    var dataCompIds = string.Empty;
    foreach (string item in dataCompIdsList)
    {
        dataCompIds += item + ',';
    }
    var simtype = Session["SimType"].ToString2();
    var OCList = Session["OCCmpntList"].ToString2();
    var removevas = string.Empty;

    //CR for auto selection for Discount/Promotion component implementation by chetan
    //string _PackageName = string.Empty;
    //string _PackageId = string.Empty;
    //string _ComponentName = string.Empty;
    //string _ComponentId = string.Empty;
    //for (int p = 0; p < @Model.OldPackagesList.Count; p++)
    //{
    //    //40788
    //    if (@Model.OldPackagesList[p].OldPackageName != null && @Model.OldPackagesList[p].OldPackageName == "MOBILE DATA DISCOUNT PACKAGE" && @Model.OldPackagesList[p].OldPackageId == "40788")
    //    {
    //        _PackageName = @Model.OldPackagesList[p].OldPackageName;
    //        _PackageId = @Model.OldPackagesList[p].OldPackageId;

    //        for (int i = 0; i < Model.OldComponentsList.Count; i++)
    //        {
    //            //45308,45310
    //            if (@Model.OldPackagesList[p].OldPackageId == @Model.OldComponentsList[i].OldPackageId)
    //            {
    //                if (@Model.OldComponentsList[i].OldComponentId == "45308")
    //                {
    //                    if (@Model.OldComponentsList[i].OldComponentName != string.Empty)
    //                    {
    //                        _ComponentName = @Model.OldComponentsList[i].OldComponentName;
    //                        _ComponentId = @Model.OldComponentsList[i].OldComponentId;
    //                    }
    //                }
    //                else if (@Model.OldComponentsList[i].OldComponentId == "45310")
    //                {
    //                    if (@Model.OldComponentsList[i].OldComponentName != string.Empty)
    //                    {
    //                        _ComponentName = @Model.OldComponentsList[i].OldComponentName;
    //                        _ComponentId = @Model.OldComponentsList[i].OldComponentId;
    //                    }
    //                }

    //            }
    //        }
    //    }

    //}
    
    #endregion
}
<!-- Centre column area -->
<div id="center">
    @using (Html.BeginForm("SelectComponents", "Registration", FormMethod.Post, new { id = "frmSelectComponents", @class = "overlayonsubmit", processmsg = "Loading" }))
    { 
        @Html.Hidden("SelectedCompIds")
        @Html.Hidden("SelectedKenanCodes")
        @Html.HiddenFor(a => a.GroupIds)
        @Html.HiddenFor(a => a.TabNumber)
        @Html.Hidden("removevas")
        @Html.Hidden("addedvas")
        <input type="hidden" id="hdnExtraTenFlag" />
        <input type="hidden" id="hdnExtraTenMSISDNs" />
        <input type="hidden" id="hdnExtraTenCount" value="10" />
        <div class="header-title">
            CRP Plan Only
        </div>
    
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        <li style="display: table-cell; float: none;" class="preselected">Plan</li>
                        <li style="display: table-cell; float: none;" class="selected">Components</li>
                        <li style="display: table-cell; float: none;">Customer</li>
                        <li style="display: table-cell; float: none;">Summary</li>
                    </ul>
                </div>
            </div>
            <div class="content_white" style="padding: 1px 1px 10px 40px">
                @Html.ValidationSummary(true)
            </div>
            <div class="content_white" style="padding: 0px 20px;">
            <div id="dvError" class="ErrorClass" style="padding-bottom:2px;" >
                    </div>
                <div style="display: block;">
                    <div style="display: block;">
                        <div style="width: 100%; margin: 0 auto;">
                            <div style="width: 50%; float: left;">
                                <span class="component-bill-plan">Current Bill Plan</span>
                                <div style="width: 95%;">
                                    @for (int p = 0; p < @Model.OldPackagesList.Count; p++)
                                    {
                                        if (@Model.OldPackagesList[p].OldPackageName != null)
                                        {  
                                        <div class="ui-current-bill">
                                        <h3>@Model.OldPackagesList[p].OldPackageName</h3>
                                            @if (Model.OldComponentsList != null)
                                            {
                                                <div class="crp-comp-wrapper">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" id="">
                                                        @for (int i = 0; i < Model.OldComponentsList.Count; i++)
                                                        {
                                                            if (@Model.OldPackagesList[p].OldPackageId == @Model.OldComponentsList[i].OldPackageId)
                                                            {
                                                                if (@Model.OldComponentsList[i].OldComponentName != string.Empty)
                                                                {
                                                            <tr class="row-body">
                                                                <td align="left" valign="top">
                                                                    <input checked="checked" disabled="disabled" type='checkbox' name="chkbxComponentOld" value="@Model.OldComponentsList[i].OldComponentId" id="@Model.OldComponentsList[i].OldPackageId">
                                                                </td>
                                                                <td align="left">@Model.OldComponentsList[i].OldComponentName
                                                                </td>
                                                            </tr>
                                                                }
                                                            }

                                                        }
                                                    </table>
                                                </div> 
                                            }
                                        </div> 
                                        }
                                    }
                                </div>
                            </div>
                            <div style="width: 50%; float: left;">
                                <span class="component-bill-plan">New Bill Plan</span>
                                <div style="width: 95%;">
                                    @for (int p = 0; p < @Model.NewPackagesList.Count; p++)
                                    {
                                        if (@Model.NewPackagesList[p].Type != "OC" && @Model.NewPackagesList[p].Type != "RC" && @Model.NewPackagesList[p].Type != "CR" && @Model.NewPackagesList[p].NewPackageName != null)
                                        {
                                        <div class="ui-new-bill">
                                            <h3>@Model.NewPackagesList[p].NewPackageName</h3>
                                            <div class="crp-comp-wrapper">
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" id="">
                                                    @if (Model.NewComponentsList != null)
                                                    {
                                                        for (int i = 0; i < Model.NewComponentsList.Count; i++)
                                                        {

                                                            if (@Model.NewPackagesList[p].NewPackageId == @Model.NewComponentsList[i].NewPackageId)
                                                            {
                                                                //if (@Model.NewComponentsList[i].NewComponentName != string.Empty && Model.NewComponentsList[i].NewComponentKenanCode != "40090")
                                                                if (@Model.NewComponentsList[i].NewComponentName != string.Empty)
                                                                {

                                                                    bool status = @Model.NewComponentsList[i].IsChecked;
                                                                    bool ReassignIsmandatory = @Model.NewComponentsList[i].ReassignIsmandatory;
                                                                    bool isDepComponent = false;
                                                                    var groupId = @Model.NewComponentsList[i].ComponentGroupId;
                                                                    var kenanCode = ""; //= @Model.SubscribedComponents[p].compList[i].componentId;
                                                                    var vasName = ""; //= @Model.SubscribedComponents[p].compList[i].componentDesc + " (RM " + Model.SubscribedComponents[p].compList[i].Price + ")";
                                                                    var pbpcId = 0; //= @Model.SubscribedComponents[p].compList[i].lnkpgmbdlpkgcompId;
                                                                    var price = 0;
                                                                    var compId = 0;
                                                                    var value = @Model.NewComponentsList[i].NewComponentId + "_" + @Model.NewComponentsList[i].NewComponentKenanCode;
                                                                    var isDefault=@Model.NewComponentsList[i].isDefault;
                                            
                                                        <tr class="row-body">
                                                            <td>
                                                                @if (Model.NewComponentsList[i].NewComponentKenanCode == "40090")
                                                                {
                                                                    ReassignIsmandatory = true;
                                                                }
                                                                @if (ReassignIsmandatory == true)
                                                                {
                                                                    <td align="left" valign="top">
                                                                        <input checked="checked" type='checkbox' disabled="disabled" name="chkbxComponent" value="@value" id="@Model.NewComponentsList[i].NewPackageId" />
                                                                    </td> 
                                                                    <td align="left">
                                                                        @Model.NewComponentsList[i].NewComponentName
                                                                    </td> 
                                                                }
                                                                else if (status == true)
                                                                {
                                                                    if (Convert.ToInt16(groupId) > 0)
                                                                    {
                                                                    <td align="left" valign="top">
                                                                        <input checked="checked" class="vas-innerbox" type='checkbox' name="chkbxComponent" data-price="@(price)" data-groupid="@(groupId)"  data-method="removeVas(this,'@(vasName)','@(price)','@(groupId)');" data-isDefault="@isDefault"  onclick="return removeVas(this,'@(vasName)','@(price)','@(groupId)');"  value="@value" id="@Model.NewComponentsList[i].NewPackageId" />
                                                                    </td> 
                                                                    <td align="left">
                                                                        @Model.NewComponentsList[i].NewComponentName
                                                                    </td> 
                                                                    }
                                                                    else
                                                                    {
                                                                    <td align="left" valign="top">
                                                                        <input checked="checked" type='checkbox' class="vas-innerbox" name="chkbxComponent"  data-price="@(price)" data-groupid="@(groupId)"  data-method="removeVas(this,'@(vasName)','@(price)','@(groupId)');" data-isDefault="@isDefault" value="@value" id="@Model.NewComponentsList[i].NewPackageId" />
                                                                    </td> 
                                                                    <td align="left">
                                                                        @Model.NewComponentsList[i].NewComponentName
                                                                    </td> 
                                                                    }
                                                                }
                                                                //CR for auto selection for Discount/Promotion component implementation by chetan
                                                                else if (!ReferenceEquals(Model.Reassign, null) && !ReferenceEquals(Model.ReassignOPKenanCodes, null) && !ReferenceEquals(Model.ReassignOCKenanCodes, null) && Model.Reassign.Contains(Model.NewComponentsList[i].NewPackageKenanCode) && Model.ReassignOPKenanCodes.Contains(Model.NewComponentsList[i].NewPackageKenanCode) && Model.ReassignOCKenanCodes.Contains(Model.NewComponentsList[i].NewComponentKenanCode))
                                                                {
                                                                    <td align="left" valign="top">
                                                                        <input checked="checked" type='checkbox' class="vas-innerbox" data-price="@(price)" data-groupid="@(groupId)"  data-method="removeVas(this,'@(vasName)','@(price)','@(groupId)');" data-isDefault="@isDefault" name="chkbxComponent" value="@value" id="@Model.NewComponentsList[i].NewPackageId" />
                                                                    </td> 
                                                                    <td align="left">
                                                                        @Model.NewComponentsList[i].NewComponentName
                                                                    </td> 
                                                                }
                                                                else
                                                                {
                                                                    <td align="left" valign="top">
                                                                        <input type='checkbox' name="chkbxComponent"  class="vas-innerbox"  data-price="@(price)" data-groupid="@(groupId)"  data-method="removeVas(this,'@(vasName)','@(price)','@(groupId)');" data-isDefault="@isDefault" onclick="return removeVas(this,'@(vasName)','@(price)','@(groupId)');" value="@value" id="@Model.NewComponentsList[i].NewPackageId" />
                                                                    </td> 
                                                                    <td align="left">
                                                                        @Model.NewComponentsList[i].NewComponentName
                                                                    </td> 

                                                                }
                                                                
                                                            </td>
                                                        </tr>
                                                                }
                                                            }
                                                        }
                                                    }
                                                </table>
                                            </div>
                                        </div> 
                                        }
                                    }
                                    @if (OCCmpntList != null && OCCmpntList.Count > 0)
                                    {
                                        <div class="ui-current-bill">
                                            <h3>
                                                Other Components</h3>
                                            <div class="crp-comp-wrapper">
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" id="">
                                                    @foreach (NewComponents OC in OCCmpntList)
                                                    {

                                                        if (OC.NewComponentName != string.Empty)
                                                        {

                                                            bool status = OC.IsChecked;
                                                            bool ReassignIsmandatory = OC.ReassignIsmandatory;
                                                            var value = OC.NewComponentId + "_" + OC.NewComponentKenanCode;   
                                                        <tr class="row-body">
                                                            @if (ReassignIsmandatory == true)
                                                            {
                                                                <td align="left" valign="top">
                                                                    <input checked="checked" type='checkbox' disabled="disabled" name="chkbxComponent" value="@value" id="@OC.NewPackageKenanCode" class="@OC.ComponentGroupId" />
                                                                    @OC.NewComponentName
                                                                </td> 
                                                            }
                                                            else if (status == true)
                                                            {
                                                                <td align="left" valign="top">
                                                                    <input checked="checked" type='checkbox' name="chkbxComponent" value="@value" id="@OC.NewPackageKenanCode" class="@OC.ComponentGroupId" />
                                                                    @OC.NewComponentName
                                                                </td> 
                                                            }
                                                            //CR for auto selection for Discount/Promotion component implementation by chetan
                                                            else if (!ReferenceEquals(Model.Reassign, null) && !ReferenceEquals(Model.ReassignOPKenanCodes, null) && !ReferenceEquals(Model.ReassignOCKenanCodes, null) && Model.Reassign.Contains(OC.NewPackageKenanCode) && Model.ReassignOPKenanCodes.Contains(OC.NewPackageKenanCode) && Model.ReassignOCKenanCodes.Contains(OC.NewComponentKenanCode))
                                                            {
                                                                    <td align="left" valign="top">
                                                                    <input checked="checked" type='checkbox' name="chkbxComponent" value="@value" id="@OC.NewPackageKenanCode" class="@OC.ComponentGroupId" />
                                                                    @OC.NewComponentName
                                                                </td>  
                                                            }
                                                            else
                                                            {                                                
                                                                <td align="left" valign="top">
                                                                    <input type='checkbox' name="chkbxComponent" value="@value" id="@OC.NewPackageKenanCode" class="@OC.ComponentGroupId" />
                                                                    @OC.NewComponentName
                                                                </td> 
                                                            }
                                                        </tr>
                                                        }
                                                    }
                                                </table>
                                            </div>
                                        </div> 
                                    
                                    }
                                     @if (PramotionalList != null && PramotionalList.Count > 0)
                                     {
                                        <div class="ui-new-bill">
                                            <h3>
                                                Promotional Components</h3>
                                            <div class="crp-comp-wrapper">
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" id="">
                                                    @if (PramotionalList != null && PramotionalList.Count > 0)
                                                    {
                                                        foreach (NewComponents PC in PramotionalList)
                                                        {
                                                            //if (PC.NewComponentKenanCode != ConfigurationManager.AppSettings["ExclueSM30KenanId"].ToString2())
                                                            //{
                                                            if (PC.NewPackageId == PC.NewPackageId)
                                                            {
                                                                //if (@Model.NewComponentsList[i].NewComponentName != string.Empty && Model.NewComponentsList[i].NewComponentKenanCode != "40090")
                                                                if (PC.NewComponentName != string.Empty)
                                                                {

                                                                    bool status = PC.IsChecked;
                                                                    bool ReassignIsmandatory = PC.ReassignIsmandatory;

                                                                    var groupId = PC.ComponentGroupId;
                                                                    var kenanCode = ""; //= @Model.SubscribedComponents[p].compList[i].componentId;
                                                                    var vasName = ""; //= @Model.SubscribedComponents[p].compList[i].componentDesc + " (RM " + Model.SubscribedComponents[p].compList[i].Price + ")";
                                                                    var pbpcId = 0; //= @Model.SubscribedComponents[p].compList[i].lnkpgmbdlpkgcompId;
                                                                    var price = 0;
                                                                    var compId = 0;
                                                                    var value = PC.NewComponentId + "_" + PC.NewComponentKenanCode;
                                            
                                                        <tr class="row-body">
                                                            <td>
                                                                @if (ReassignIsmandatory == true)
                                                                {
                                                                    <td align="left" valign="top">
                                                                        <input checked="checked" type='checkbox' disabled="disabled" name="chkbxComponent" value="@value" id="@PC.NewPackageId" />
                                                                    </td> 
                                                                    <td align="left">
                                                                        @PC.NewComponentName
                                                                    </td> 
                                                                }
                                                                else if (status == true)
                                                                {
                                                                    if (Convert.ToInt16(groupId) > 0)
                                                                    {
                                                                    <td align="left" valign="top">
                                                                        <input checked="checked" type='checkbox' name="chkbxComponent"  onclick="return removeVas(this,'@(vasName)','@(price)','@(groupId)');"  value="@value" id="@PC.NewPackageId" />
                                                                    </td> 
                                                                    <td align="left">
                                                                        @PC.NewComponentName
                                                                    </td> 
                                                                    }
                                                                    else
                                                                    {
                                                                    <td align="left" valign="top">
                                                                        <input checked="checked" type='checkbox' name="chkbxComponent" value="@value" id="@PC.NewPackageId" />
                                                                    </td> 
                                                                    <td align="left">
                                                                        @PC.NewComponentName
                                                                    </td> 
                                                                    }
                                                                }
                                                                //CR for auto selection for Discount/Promotion component implementation by chetan
                                                                else if (!ReferenceEquals(Model.Reassign, null) && !ReferenceEquals(Model.ReassignOPKenanCodes, null) && !ReferenceEquals(Model.ReassignOCKenanCodes, null) && Model.Reassign.Contains(PC.NewPackageKenanCode) && Model.ReassignOPKenanCodes.Contains(PC.NewPackageKenanCode) && Model.ReassignOCKenanCodes.Contains(PC.NewComponentKenanCode))
                                                                {
                                                                     <td align="left" valign="top">
                                                                        <input checked="checked" type='checkbox' name="chkbxComponent" value="@value" id="@PC.NewPackageId" />
                                                                    </td> 
                                                                    <td align="left">
                                                                        @PC.NewComponentName
                                                                    </td> 
                                                                }
                                                                else
                                                                {
                                                                    <td align="left" valign="top">
                                                                        <input type='checkbox' name="chkbxComponent" onclick="return removeVas(this,'@(vasName)','@(price)','@(groupId)');" value="@value" id="@PC.NewPackageId" />
                                                                    </td> 
                                                                    <td align="left">
                                                                        @PC.NewComponentName
                                                                    </td> 

                                                                }
                                                            </td>
                                                        </tr>
                                                                }
                                                            }
                                                            // }
                                                        }
                                                    }
                                                </table>
                                            </div>
                                        </div> 
                                    
                                     }
                                    @*CR for auto selection for Discount/Promotion component implementation by chetan*@
                                    @*@if (@Model.NewPackagesList[0].NewPackageName == "Mobile SurfMore 75 - 01 Mandatory Package")
                                    {
                                        if (!string.IsNullOrEmpty(_PackageId) && !string.IsNullOrEmpty(_PackageName) && !string.IsNullOrEmpty(_ComponentId) && !string.IsNullOrEmpty(_ComponentName))
                                        {
                                            <div class="ui-current-bill">
                                                <h3>@_PackageName</h3>
                                                <div class="crp-comp-wrapper">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" id="">
                                                    <tr class="row-body">
                                                            <td valign="top" align="left">
                                                            <input id="@_PackageId" type="checkbox" value="@_ComponentId" name="chkbx" disabled="disabled" checked="checked"/>
                                                            </td>
                                                            <td align="left">
                                                            @_ComponentName
                                                            </td>
                                                            </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="space">
                                            </div>
                                        }
                                    }*@


                                </div>
                            </div>
                        </div>
                        <div style="clear: both;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
                <div style="float: right; padding-right: 20px;">
                    <input class="cancel backButton" type="submit" value="<" onclick="$('#TabNumber').val(1);" />
                    <input class="submitButton" type="button" onclick="validate();" value="Next Step: Customer" />
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
        @Html.Partial("_footer")
   Html.Telerik().Window()
                          .Name("PenaltyWindow")
                          .Title("Early Termination Fee")
                          .Width(500).Height(150)
                          .Content(@<text>
        <div id="dvPenaltyValue">
        </div>
        <div style="clear: both; text-align: center;">
            <input id="btnSavePenalty" type="button" class="submitButton" value="Yes" tabindex="1" />
            <input id="btnCancelPenalty" type="button" class="submitButton" value="No" tabindex="1" />
        </div>
        </text>)
                          .Modal(true)
                          .Visible(false)
                          .Render();


    }
</div>
<div id="right">
    @Html.Partial("_OrderSummary", (Online.Registration.Web.ViewModels.OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
</div>
@section Scripts{
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {

         var listitems = $('.vas-innerbox');
            for (var i = 0; i < listitems.length; i++) {
                var method = $(listitems[i]).attr('data-method')
                var isdefault = $(listitems[i]).attr('data-isDefault')
                var price = $(listitems[i]).attr('data-price')
                var groupid = $(listitems[i]).attr('data-groupId')
                if (isdefault == '1') {
                    $(listitems[i]).attr('checked', 'checked');
                    removeVas(listitems[i], '', price, groupid);
                }
            if ('@(arVasGroupIds)' != '') {

                $('#GroupIds').val('@(arVasGroupIds)');

            }

        });
        function fnSaveSelectedComponents(form) {
            if (form != null && $(form).valid() == false) {
                return false;
            }

            var sKenanCodes = "";
            var sCompIds = "";
            var sValue = ""

            $('input[name=chkbxComponent]').each(function () {
                if (this.checked) {
                    sValue = $(this).val();

                    var Ids = sValue.split('_');
                    sCompIds += Ids[0] + ",";
                    sKenanCodes += Ids[1] + ",";

                }
            });

            if (sCompIds.length > 0) {
                sCompIds = sCompIds.substring(0, sCompIds.length - 1);
            }

            if (sKenanCodes.length > 0) {
                sKenanCodes = sKenanCodes.substring(0, sKenanCodes.length - 1);
            }
            $('#SelectedCompIds').val(sCompIds);
            $('#SelectedKenanCodes').val(sKenanCodes);
            var List = '@(OCList)';
            var vasesRemoved = $('#removevas').val();
            if (vasesRemoved.length > 0) {
                var vasesRemovedArr = vasesRemoved.split(',');
                for (var i = 0; i < vasesRemovedArr.length; i++) {
                    var rem = parseInt(vasesRemovedArr[i]);
                    var removelist = List.toString().replace(rem, "");
                }
            }
            else {
                var removelist = List;
            }
            var result = 0;
            if ('@(simtype)' == 'True') {
                var dataCompids = '@(dataCompIds)'.split(',');
                var things = dataCompids;
                for (var i = 0; i < things.length - 1; i++) {
                    //Do things with things[i]
                    result = checkDataComponent(removelist, things[i]);
                    if (result)
                        break;
                }
                if (!result) {
                    $('#dvError').html('Please select more than or equal to 2GB data component');
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                }
                else {
                    checkDataContractPenalty(sKenanCodes, List, true);
                    // return true;
                }
            }
            else {
                checkDataContractPenalty(sKenanCodes, List, true);
                //return true;
            }
        }

        //kotesh start
        function addedVas(addchkBox, objGroupId, vasName, price) {

            $('#ChangeFlag').val('true');
            if (addchkBox.checked) {
                if (objGroupId != 0) {
                    if ($('#GroupIds').val().indexOf(objGroupId) != -1) {

                        $('#dvError').html("Please select one component from each group");
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                        addchkBox.checked = false;
                        return;
                    }
                }

                if (objGroupId != 0)
                    $('#GroupIds').val($('#GroupIds').val() + "," + objGroupId + ",");

                if ($(addchkBox).val() == '41389') {
                    //alert("You have selected an extra component");
                    $('#hdnExtraTenFlag').val('true');
                }

            }
            else {
                var value = $(addchkBox).val();
                if (objGroupId != 0) {
                    var modGroupIds = $('#GroupIds').val().toString().replace(objGroupId, "");
                    $('#GroupIds').val(modGroupIds);
                }

                if ($(addchkBox).val() == '41389') {
                    //alert("You have unselected an extra component");
                    $('#hdnExtraTenFlag').val('');

                }

            }
        }

        function removeVas(removechkBox, vasName, price, groupId) {
            if (removechkBox.checked) {
                if (groupId != 0) {
                    if ($('#GroupIds').val().indexOf(groupId) != -1) {

                        $('#dvError').html("Please select only one component from each group");
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                        removechkBox.checked = false;
                        return;
                    }
                }


                var value = $(removechkBox).val().split('_')[1];
                $('#addedvas').val(value);
                if (groupId != 0)
                    $('#GroupIds').val($('#GroupIds').val() + "," + groupId + ",");

            }
            else {
                var value = $(removechkBox).val().split('_')[1];
                $('#removevas').val(value);
                if (groupId != null && groupId != "") {

                    $('#GroupIds').val('');
                }


            }
        }

        function validate() {



            $('#TabNumber').val(3);
            fnSaveSelectedComponents(document.forms["frmSelectComponents"]);
            //          if (fnSaveSelectedComponents(document.forms["frmSelectComponents"]))
            //                document.forms["frmSelectComponents"].submit();



        } // end kotesth 
        function checkDataComponent(List, objvasID) {
            var count = 0;
            var mandatoryDataKenanCodes = $('#SelectedKenanCodes').val();
            var things = mandatoryDataKenanCodes.split(',');
            for (var i = 0; i < things.length; i++) {
                if (things[i] == objvasID) {
                    count++;
                }
            }
            if (count > 0) {
                return true;
            }
            else {
                return false;
            }

        }
        function checkDataContractPenalty(inputAddVas, inputRemoveVas, inputChangeFlag) {
            var url = '@(Url.Content("~/Registration/retrievePenalty"))';
            $.post(url, { addedVas: inputAddVas, removedVas: inputRemoveVas, changeFlag: inputChangeFlag },
            function (data) {
                if (data != null  && data.toString() != '0.00') {
                    $('#dvPenaltyValue').html('The Early Termination Fee amount is RM ' + data + '. Do you want to continue?<br/>Note:Early Termination Fee amount indicated is an estimated amount. Actual amount will be calculated upon bill cycle');
                    $('#PenaltyWindow').data('tWindow').center().open();
                }
                else {
                    //document.forms["frmSelectComponents"].submit();
                    $("#frmSelectComponents").submit();
                }
            });
        }
        $('#btnSavePenalty').click(function () {
            //document.forms["frmSelectComponents"].submit();
            $("#frmSelectComponents").submit();
        });
        $('#btnCancelPenalty').click(function () {
            $('#PenaltyWindow').data('tWindow').center().close();
        }); 
    </script>
    <script type="text/javascript">
        jQuery(function () {
            jQuery("#ui-accordion").accordion({
                autoHeight: false
            });
            $("#ui-accordion").accordion("option", "icons",
        		{ 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });
        });
        jQuery(function () {
            jQuery(".ui-current-bill").accordion({
                autoHeight: false,
                collapsible: true
            });
            $(".ui-current-bill").accordion("option", "icons",
        		{ 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });
        });

        jQuery(function () {
            jQuery(".ui-new-bill").accordion({
                autoHeight: false,
                collapsible: true
            });
            $(".ui-new-bill").accordion("option", "icons",
        		{ 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });
        });
    </script>
}
@section Styles{
    <style type="text/css">
        .packagetitle
        {
            padding: 3px;
            font-weight: bold;
            border: 1px solid #CCC;
            background-color: #E8E3E5;
        }
    </style>}
