﻿@using Online.Registration.Web.SmartViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@model Online.Registration.Web.SmartViewModels.PackageVM
@{
    ViewBag.Title = "Select a Maxis Plan";
    Layout = "~/Areas/Retention/Views/Shared/_Layout.cshtml";
    var orderVM = new OrderSummaryVM();
    if ((OrderSummaryVM)Session["RegMobileReg_OrderSummary"] != null)
    {
        orderVM = (OrderSummaryVM)Session["RegMobileReg_OrderSummary"];
    }

    Session["GuidedSales_Type"] = "";

    var pgmBdls = (orderVM.BrandID <= 0) ? Model.AvailablePackages.Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList() : Model.AvailablePackages.Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList();
    var bundleNames = (orderVM.BrandID <= 0) ? Model.AvailablePackages.Select(a => a.BundleName).Distinct().ToList() : Model.AvailablePackages.Select(a => a.BundleName).Distinct().ToList();
    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" : "";
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
}
@using (Html.BeginForm("SelectPlan", "retention", FormMethod.Post, new { id = "frmSelectPlan", @class = "overlayonsubmit", processmsg = "Loading" }))
{
   
    <div class="vwHeader">
        <table width="100%">
            <tr>
                <td style="width: 580px">
                    <div>@ViewBag.Title</div>
                    @*<div class="vwSubHeader">Home >@devicePath @ViewBag.Title</div>*@
                    <div class="vwSubHeader">
                        @*<label style="font-weight:bold;font-size:12px;">
                        @if (sessionRegType == (int)MobileRegType.DevicePlan)
                        { <text> Select Preferred Device > </text> }
                        @ViewBag.Title</label> > Select a Contract and Optional VAS > Select a Preferred Number > Customer Details > Customer Order Summary *@
                        @if (sessionRegType == (int)MobileRegType.DevicePlan)
                        {
                            <text>
                            @Html.Raw(string.Format(@"<ul class='breadcrumb_container'>
                                        <li class='breadcrumb_e breadcrumb_before'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step 1</li>
                                        <li class='breadcrumb_e breadcrumb_divider breadcrumb_divider_right'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item breadcrumb_item_hover'>Step {0}</li>
                                        <li class='breadcrumb_e breadcrumb_divider breadcrumb_divider_left'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {1}</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {2}</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {3}</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {4}</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {5}</li>
                                        <li class='breadcrumb_e breadcrumb_end'>&nbsp;</li>
                                     </ul>",
                                   MobileRegistrationSteps.Plan.ToInt(),
                                   MobileRegistrationSteps.SelectComponent.ToInt(),
                                   MobileRegistrationSteps.Vas.ToInt(),                                   
                                   MobileRegistrationSteps.MobileNo.ToInt(),
                                   MobileRegistrationSteps.PersonalDetails.ToInt(),
                                   MobileRegistrationSteps.Summary.ToInt()))
                            @*@Html.Raw(string.Format("Step 1 > <label style='font-weight:bold;font-size:12px;'>Step {0}</label> > Step {1} > Step {2} > Step {3} > Step {4}",
                                   MobileRegistrationSteps.Plan.ToInt(),
                                   MobileRegistrationSteps.Vas.ToInt(),
                                   MobileRegistrationSteps.MobileNo.ToInt(),
                                   MobileRegistrationSteps.PersonalDetails.ToInt(),
                                   MobileRegistrationSteps.Summary.ToInt()))*@
                            </text>
                        }
                        else
                        {
                            <text>
                            @Html.Raw(string.Format(@"<ul class='breadcrumb_container'>
                                        <li class='breadcrumb_e breadcrumb_before breadcrumb_before_hover'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item breadcrumb_item_hover'>Step {0}</li>
                                        <li class='breadcrumb_e breadcrumb_divider breadcrumb_divider_left'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {1}</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {2}</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {3}</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {4}</li>
                                        <li class='breadcrumb_e breadcrumb_end'>&nbsp;</li>
                                     </ul>",
                                    MobileRegistrationSteps.Plan.ToInt() - 1,
                                    MobileRegistrationSteps.Vas.ToInt() - 1,
                                    MobileRegistrationSteps.SelectComponent.ToInt() - 1,
                                    MobileRegistrationSteps.MobileNo.ToInt() - 1,
                                    MobileRegistrationSteps.PersonalDetails.ToInt() - 1,
                                    MobileRegistrationSteps.Summary.ToInt() - 1))
                            @*@Html.Raw(string.Format("<label style='font-weight:bold;font-size:12px;'>Step {0}</label> > Step {1} > Step {2} > Step {3} > Step {4}",
                                       MobileRegistrationSteps.Plan.ToInt() - 1,
                                       MobileRegistrationSteps.Vas.ToInt() - 1,
                                       MobileRegistrationSteps.MobileNo.ToInt() - 1,
                                       MobileRegistrationSteps.PersonalDetails.ToInt() - 1,
                                       MobileRegistrationSteps.Summary.ToInt() - 1))*@
                            </text>
                        }
                    </div>
                </td>
                <td align="right">
                    @if (Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan)
                    {
                        <button class="button-back cancel" type="submit" value="Back" onclick="$('#TabNumber').val(1);">
                        </button>
                    }
                    @if (Model.AvailablePackages.Count > 0)
                    {
                        <button class="button-continue" type="submit" value="Next" onclick="$('#TabNumber').val(3);">
                        </button>
                    }
                    else
                    {
                        <button class="button-continue" type="submit" value="Next" onclick="javascript:alert('Please select a Plan'); return false;">
                        </button>
                        
                    }
                    @*  <button class="button-continue" type="submit" value="Next" onclick="$('#TabNumber').val(3);">
                    </button>*@
                </td>
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
        <div style="float: left;">
            @*<div style="font-size:x-large;padding:10px 0px 10px 0px;">Step @(Session["RegStepNo"].ToInt()): @ViewBag.Title</div>*@
            <table>
                <tr>
                    <td align="left" width="80%">
                        <b>Name:</b>&nbsp;@Session["AccountHolder"].ToString2()
                    </td>
                    <td align="right">
                        <b>MSISDN:</b>&nbsp;@Session["MSISDN"].ToString2()
                    </td>
                </tr>
            </table>
            <table width="500px">
                <tr>
                    @if (Model.AvailablePackages.Count > 0)
                    {
                        <td style="padding-right: 30px" valign="middle">
                            @{ var i = 0; }
                            @{int Pckcnt = 0;}
                            @Html.ValidationSummary(false)
                            @Html.HiddenFor(a => a.TabNumber)
                            @Html.HiddenFor(a => a.SelectedPgmBdlPkgCompID)
                            @foreach (var bundleName in bundleNames)
                            {
                                Pckcnt = Model.AvailablePackages.Where(a => a.BundleName == bundleName).ToList().Count();
                                if (Pckcnt <= 4)
                                {
                                    i = 0;
                                    var containerName1 = "container1_" + i;
                                    var carouselName1 = "carousel1_" + i;
                                <table>
                                    <tr>
                                        <td>
                                            <label style="font-size: large; font-weight: bold;">@pgmBdls.Where(a => a.bundleName == bundleName).SingleOrDefault().programName.ToUpper():
                                            </label>
                                            <label style="font-size: larger; font-weight: bold;">@bundleName</label>
                                            <div align="center"  @if (i % 2 == 0)
                                                                 { <text>style="float: right; width:455px;"</text> }>
                                                @* <div class="ui-carousel-next" style="height: 45px">
                                             </div>*@ <a href="#" id='@("next_" + i)' class="ui-carousel-next" style="float: left">
                                                 <span></span></a>
                                                <div class="container" id="@(containerName1)">
                                                    <div id="@(carouselName1)" class="carousel">
                                                        @{
                                                         foreach (var package in Model.AvailablePackages.Where(a => a.BundleName == bundleName).ToList())
                                                         {
                                                             var btnPlanID = "btnPlan_" + package.PgmBdlPkgCompID;
                                                             var btnPlanDetails = "btnPlnDetails_" + package.PackageCode;
                                                            <div style="float: left !important">
                                                                <button id="@btnPlanID" class="cancel btnPlanSelection" style="width:420px;height:55px;float:left !important" type="button" onclick="SelectedPlan('@btnPlanID',@package.PgmBdlPkgCompID);" >
                                                                    @package.PackageName
                                                                </button>
                                                            </div>
                                                            <div style="float: left">
                                                                <button id="@btnPlanDetails" style="width:30px;height:55px;float:left !important" type="button" onclick="detailsPlans_OnClick('@btnPlanDetails')"class="button-plan-details">
                                                                </button>
                                                            </div>
                                                         }
                                                        }
                                                    </div>
                                                </div>
                                                <a href="#" id='@("prev_" + i)' class="ui-carousel-prev" style="float: left"><span></span>
                                                </a>@*<div class="ui-carousel-prev" style="height: 45px; float:left;"> </div>*@
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                }
                                else
                                {
                                    var containerName = "container_" + i;
                                    var carouselName = "carousel_" + i;
                                <table>
                                    <tr>
                                        <td>
                                            <label style="font-size: large; font-weight: bold;">@(pgmBdls.Where(a => a.bundleName == bundleName).SingleOrDefault().programName.ToUpper()):
                                            </label>
                                            <label style="font-size: larger; font-weight: bold;">@(bundleName)</label>
                                            <a href="#" id='@("next_" + i)' class="ui-carousel-next"><span></span></a>
                                            <div id="@(containerName)" >
                                                <div id="@(carouselName)" class="carousel">
                                                    @{
                                                     foreach (var package in Model.AvailablePackages.Where(a => a.BundleName == bundleName).ToList())
                                                     {
                                                         var btnPlanID = "btnPlan_" + package.PgmBdlPkgCompID;
                                                         var btnPlanDetails = "btnPlnDetails_" + package.PackageCode;

                                                        <div>
                                                            <div style="float: inherit !important">
                                                                <button id="@btnPlanID" class="cancel btnPlanSelection" style="float:left !important;width:420px;height:55px; padding:0" type="button" onclick="SelectedPlan(@btnPlanID,@package.PgmBdlPkgCompID);" >
                                                                    @package.PackageName
                                                                </button>
                                                            </div>
                                                            <div style="float: right !important">
                                                                <button id="@btnPlanDetails" style="float: inherit !important;width:30px;height:55px;" type="button" onclick="detailsPlans_OnClick('@btnPlanDetails')" class="button-plan-details">
                                                                </button>
                                                            </div>
                                                        </div>
                                                     }
                                                    }
                                                </div>
                                            </div>
                                            <a href="#" id='@("prev_" + i)' class="ui-carousel-prev"><span></span></a>
                                            <br />
                                            <br />
                                        </td>
                                    </tr>
                                </table>
                                                        i++;
                                                        if (Pckcnt <= 4)
                                                        {
                                                            i = 0;
                                                        }
                                }
                            }
                        </td>
                    }
                    else
                    {
                        <td style="padding-right: 30px; text-align: center;color:Red" valign="middle">
                            <div>
                                <b>No Plans Available</b>
                            </div>
                        </td> 
                    }
                </tr>
            </table>
        </div>
        <div style="float: right;">
            @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
        </div>
    </div>
    
       Html.Telerik().Window()
           .Name("sublineWindow")
           .Title("Supplementary Lines")
           .Width(320)
           .Content(@<text>
    @Html.Partial("_Subline")
    </text>)
           .Modal(true)
           .Visible(false)
           .Render();
}
@{
    Html.Telerik().Window()
        .Name("vasWindow")
        .Title("Value Added Services")
        .Width(325)
        .Content(@<text>
    @{var vasNames = (List<string>)Session["RegMobileReg_VasNames"]; }
    @if (vasNames != null)
    {
        foreach (var name in vasNames)
        { 
        <div style="border-style: solid; border-width: 1px; border-radius: 5px; margin: 1px;
            padding: 3px 3px 3px 3px; margin: 0px 0px 1px 0px; width: 300px;">
            @name
        </div>
        }
    }
    </text>)
        .Modal(true)
        .Visible(false)
        .Render();

    Html.Telerik().ScriptRegistrar()
        .OnDocumentReady(@<text> // open the initially hidden window when the button is clicked 
        $('#btnVwVAS') .click(function(e) { e.preventDefault(); $('#vasWindow').data('tWindow').center().open();
    }); $('#btnVwSubline') .click(function(e) { e.preventDefault(); $('#sublineWindow').data('tWindow').center().open();
    });
    </text>); 
}
@{
    Html.Telerik().Window()
        .Name("planDetailsWindow")
        .Title("Plan Details")
        .Width(700)
        .Height(600)
        .ClientEvents(events => events.OnActivate("PlanWindow_popup"))
        .Content(@<text>
    <table width="100%">
        <tr>
            <td>
                <img alt="" id="imgPlanDetails" src="@Url.Content("~/Content/images/Plan/MobileReg_.gif")" />
            </td>
            @*<td><img alt="" id="imgPlanDetails" src="../../Content/images/Plan/MobileReg_.gif" /></td>*@
        </tr>
    </table>
    </text>)
        .Modal(true)
        .Visible(false)
        .Render();
}
@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            //Highlight selected plan
            var planID = $('#SelectedPgmBdlPkgCompID').val();
            if (planID != 0) {
                $('#btnPlan_' + planID).css("border-style", "solid");
            }

//            if ( @(sessionRegType) == @(PlanOnly)) {
//                if($('#menuPlan').length > 0) {$('#menuPlan').css("background-image", $('#menuPlan').css("background-image").replace(".png", "_hover.png"));}
//            }
//            else if ( @(sessionRegType) == @(DeviceOnly)) {
//                $('#menuDevice').css("background-image", $('#menuDevice').css("background-image").replace(".png", "_hover.png"));
//            }
//            else {
//                $('#menuDevicePlan').css("background-image", $('#menuDevicePlan').css("background-image").replace(".png", "_hover.png"));
//            }
        });

        function PlanWindow_popup() {
            $('#planDetailsWindow').data('t-window').center();
        }

        function SelectedPlan(btnPlanID, planID) {
        //alert('');
            $('#SelectedPgmBdlPkgCompID').val(planID);
           $('button[id^="btnPlan_"]').css("border-style", "none");
           var id="#"+btnPlanID;
            $(id).css("border-style", "solid");
        }

        function SubmitForm(sequenceNo) {

            $('#submit1').val(sequenceNo);
            //document.forms['frmSelectPlan'].submit();
            $("#frmSelectPlan").submit();
        }

        function detailsPlans_OnClick(btnPlanDetails) {
            var code = btnPlanDetails.substring(14);
            var src = $('#imgPlanDetails').attr("src");
            var indexFrom = src.indexOf("MobileReg_") + 10;
            var indexTo = src.indexOf(".gif");
            var oldCode = src.substring(indexFrom, indexTo);

            src = src.replace(oldCode, "");
            src = src.replace("MobileReg_", "MobileReg_" + code);
            $('#imgPlanDetails').attr("src", src);
            
            $('#planDetailsWindow').data('tWindow').center().open();
        }

        jQuery(function ($) {

            var total = @(bundleNames.Count());
            
            for(var i = 0; i< total; i++){

                $('#carousel_'+i).rcarousel({
                    orientation: "vertical", step: 3, speed:200, visible: 4, width: 450, height: 55, 
                    navigation: { prev: "#next_"+i, next: "#prev_"+i }
                });


            }
            
            $(".ui-carousel-next")
			    .add(".ui-carousel-prev")
			    .hover(
				    function () {
					    $(this).css("opacity", 0.7);
				    },
				    function () {
					    $(this).css("opacity", 1.0);
				    }
			    );
        });

    </script>
}
