﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using System.Configuration;
@model Online.Registration.Web.ViewModels.ValueAddedServicesVM
@{
    ViewBag.Title = "Select Components";
    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" : "";
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt(); 
    var dataContractGroupId = string.Empty;
    if (System.Configuration.ConfigurationManager.AppSettings["DataContractGroupId"] != null)
    {
        dataContractGroupId = System.Configuration.ConfigurationManager.AppSettings["DataContractGroupId"].ToString();
    }
    var bundleGroupId = string.Empty;
    if (System.Configuration.ConfigurationManager.AppSettings["BundleGroupId"] != null)
    {
        bundleGroupId = System.Configuration.ConfigurationManager.AppSettings["BundleGroupId"];
    }

    var bundleGroupComponentId = string.Empty;
    if (System.Configuration.ConfigurationManager.AppSettings["BundleGroupComponentId"] != null)
    {
        bundleGroupComponentId = System.Configuration.ConfigurationManager.AppSettings["BundleGroupComponentId"];
    }

    var dataContractGroupComponentId = string.Empty;
    if (System.Configuration.ConfigurationManager.AppSettings["DatacontractGroupComponentId"] != null)
    {
        dataContractGroupComponentId = System.Configuration.ConfigurationManager.AppSettings["DataContractGroupComponentId"];
    }
    var selCompIds = Session["SelectedComponents"].ToString2();


    var extraTenCount = 0;
    var listPrevExtraTenMSISDNs = Session["ExtratenMobilenumbers"].ToString2();

    string arVasGroupIds = string.Empty;

    if (Session["ARVasGroupIds"] != null)
    {
        arVasGroupIds = Session["ARVasGroupIds"].ToString();
    }
    var simtype = Session["SimType"].ToString2();
    string[] componentsArray = new string[] { "Main Components", "Data Components", "Extra Components", "Promotional Components" };
}
<!-- Centre column area -->
<div id="center">
    @using (Html.BeginForm("SelectCRPVAS", "Registration", FormMethod.Post, new { id = "frmSelectCRPVAS", @class = "overlayonsubmit", processmsg = "Loading" }))
    { 
    
        <input type="hidden" id="hdnExtraTenFlag" />
        <input type="hidden" id="hdnExtraTenMSISDNs" />
        <input type="hidden" id="hdnExtraTenCount" value="10" />
        @Html.HiddenFor(a => a.TabNumber)
        @Html.HiddenFor(a => a.SelectedVasIDs)
        @Html.HiddenFor(a => a.SelectedContractID)
        @Html.HiddenFor(a => a.ExtraTenMobileNumbers)
        @Html.HiddenFor(a => a.hdnGroupIds)

    
    
        <div class="header-title">
            @ViewBag.Title
        </div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        <li style="display: table-cell; float: none;" class="preselected">Plan</li>
                        <li style="display: table-cell; float: none;" class="selected">VAS</li>
                        <li style="display: table-cell; float: none;">Customer</li>
                        <li style="display: table-cell; float: none;">Summary</li>
                    </ul>
                </div>
            </div>
             <div class="content_white" style="padding: 1px 1px 10px 40px">
               
                    @Html.ValidationSummary(false)
               
            </div>
            <div class="content_white">
                <div style="display: block; padding: 0px 20px; margin: 0px auto;">

                    <div id="Plan_Error" class="ErrorClass" >
                    </div>
                    <div id="ui-plan">
                        @{string strSelArray = Session["SelectedComponents"].ToString2();}
                        @foreach (var component in componentsArray)
                        {

                            List<AvailableVAS> components = new List<AvailableVAS>();
                            string curComponent = component.ToString();
                            switch (curComponent)
                            {
                                case "Main Components":
                                    components = Model.AvailableVASes;
                                    break;
                                case "Data Components":
                                    components = Model.DataVASes;
                                    break;
                                case "Extra Components":
                                    components = Model.ExtraComponents;
                                    break;
                                case "Promotional Components":
                                    components = Model.PramotionalComponents;
                                    if (Session["ShowDComp"].ToString2() == "False")
                                    {
                                        var removeDC = components.Where(x => x.KenanCode == ConfigurationManager.AppSettings["ExclueSM30KenanId"].ToString2()).SingleOrDefault();
                                        if (removeDC != null)
                                        {
                                            Model.PramotionalComponents.Remove(removeDC);
                                        }
                                    }
                                    break;
                                default: break;
                            }
                        
                       
                            <h3>@curComponent</h3>
                            <div style="width: 100%; border-left: 1px solid #ccc;">
                                @if (components != null && components.Count > 0)
                                {
                                    foreach (var comp in components)
                                    {
                                        //if(comp.KenanCode!=ConfigurationManager.AppSettings["ExclueSM30KenanId"].ToString2())
                                        //{
                                        var groupId = (comp.GroupId != null ? comp.GroupId : -1);
                                        string kenanCode = (comp.KenanCode != null ? comp.KenanCode : "-1");
                                        string compId = comp.PgmBdlPkgCompID.ToString();
                                        var btnVASID = "btnVAS_" + compId + "_" + kenanCode;
                                       
                                    <div class="plan-outerbox">
                                        @if (strSelArray.Contains(compId) == true)
                                        {
                                            <div   class="plan-innerbox focus" id='@btnVASID' onclick="SelectedNewVAS('@btnVASID','@comp.PgmBdlPkgCompID','@groupId');"  style="cursor:pointer;">
                                                <p class="contract-title" style="word-wrap:break-word;width:128px">@comp.ComponentName</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div   class="plan-innerbox" id='@btnVASID' onclick="SelectedNewVAS('@btnVASID','@comp.PgmBdlPkgCompID','@groupId');"  style="cursor:pointer;">
                                                <p class="contract-title" style="word-wrap:break-word;width:128px">@comp.ComponentName</p>
                                            </div>
                                        }
                                    </div>
                                          
                                    //}                                    
                                    }
                                }
                                else
                                {
                                    <div>
                                        &nbsp;Not Available</div>
                                }
                                <div style="clear: both;">
                                </div>
                            </div>
                        
                    
                        }
                    </div>
                </div>
                <div style="height: 20px;">
                </div>
            </div>
            <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
                <div style="float: right; padding-right: 20px;">
                    <input class="cancel backButton" type="submit" value="<" onclick="$('#TabNumber').val(1);" />
                    <input class="submitButton" type="button" value="Next Step: Customer" onclick="$('#TabNumber').val(3);getDependencyComponents();" />
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
     @Html.Partial("_footer")
    
                      
    }
</div>
<!-- Right column area -->
<div id="right">
    @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
</div>
@{
    

    Html.Telerik().Window()
   .Name("extraTenWindow")
   .Title("Extra Ten")
   .Width(360)
   .Height(470)

   .Content(@<text>
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td colspan="2">
                <div id="divExtraTen">
                    @for (int i = 0; i < 10; i++)
                    {

                        var divId = "divExtraTen_" + i;
                        var txtId = "txtExtraTen_" + i;
                        var delbtnId = "btnDeleteExtraTen_" + i;

                        var lblSnoId = "lblSno_" + i;

                        extraTenCount++;
                        //var rowClass = "Controller Row";

                        // if(i%2==0)
                        // {
                        //     rowClass ="Controller AltRow";
                        // }
                        //else
                        // {
                        //     rowClass = "Controller Row";
                        // }    
                    
           
                        
                    
                        <div class="Controller Row" id=@divId>
                            <label class="NumL" id=@lblSnoId>@extraTenCount</label>
                            <input class="TxtBox" type="text" id=@txtId />
                            <input class="DelBtn" type="button" onclick='deleteExtraTen(this);' id=@delbtnId value="" />
                        </div>
                    
                    }
                </div>
                <div class="Controller">
                    <input type="button" class="AddMoreBtn" id="btnAddMore" onclick="addExtraTenDiv();"
                        value="" />
                </div>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <input id="btnSaveExtraTen" type="button" class="SaveBtn" value="" onclick="return validateExtraTen();" />
                <input type="button" class="CancelBtn" id="btnCancelExtraTen" onclick="cancelExtraTen();"
                    value="" />
                <br />
            </td>
        </tr>
    </table>
    </text>
  )
   .Modal(true)
   .Visible(false)
   .ClientEvents(events => events.OnOpen("extraTenWindowOnOpen"))
   .Render();

    Html.Telerik().ScriptRegistrar()
        .OnDocumentReady(@<text> $('#btnVwSubline') .click(function(e) { e.preventDefault();
    $('#sublineWindow').data('tWindow').center().open(); $('#btnExtraTen') .click(function(e)
    { e.preventDefault(); $('#extraTenWindow').data('tWindow').center().open(); });
    });
    </text>); 
}
@section Scripts{
    <script type="text/javascript" language="javascript">

        jQuery(function () {
            jQuery("#ui-plan").accordion({
                autoHeight: false
            });
            $("#ui-plan").accordion("option", "icons",
        		{ 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });
        });


        $(document).ready(function () {
            //Highlight selected VAS
            var arrVasID = $('#SelectedVasIDs').val().split(',');
            $.each(arrVasID, function (index, value) {
                if (value != ' ' || value != ',') {
                    $('#btnVAS_' + value).css("border-style", "solid");
                }

                if ('@(arVasGroupIds)' != '') {

                    $('#hdnGroupIds').val('@(arVasGroupIds)');
                }
            });

            var contractID = $('#SelectedContractID').val();
            if (contractID != ' ' || contractID != '') {
                $('#btnConVAS_' + contractID).css("border-style", "solid");
            }

        });




        if ('@(listPrevExtraTenMSISDNs)' != '') {

            $('#ExtraTenMobileNumbers').val('@(listPrevExtraTenMSISDNs)');

            var panel = $("#divExtraTen");
            var childDivs = panel.find("div");
            var objListMSISDNs = $('#ExtraTenMobileNumbers').val().split(',');
            $('#hdnExtraTenCount').val(childDivs.length);
            if (objListMSISDNs.length <= childDivs.length) {

                for (var i = 0; i < childDivs.length; i++) {

                    var txtElement = $('#' + childDivs[i].id).find('input[type="text"]');
                    if (txtElement != null)
                        txtElement.val(objListMSISDNs[i]);

                }

            }
            else {

                for (var i = 0; i < (objListMSISDNs.length - childDivs.length); i++) {
                    var index = parseInt($('#hdnExtraTenCount').val()) + 1;
                    var divId = "divExtraTen_" + index;
                    var txtId = "txtExtraTen_" + index;
                    var delbtnId = "btnDeleteExtraTen_" + index;
                    var lblSnoId = "lblSno_" + childDivs.length + 1;
                    //$("#divExtraTen").append("<div id='"+divId+"' ><input type='text' id='"+txtId+"' /> <input type='button'  onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");;
                    $("#divExtraTen").append("<div class='Controller Row' id='" + divId + "' ><label class='NumL' id='" + lblSnoId + "'>" + (parseInt(childDivs.length + 1)) + "</label><input class='TxtBox' type='text' id='" + txtId + "' /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='" + delbtnId + "' /></div>");
                    $('#hdnExtraTenCount').val(index + 1);

                }
                childDivs = panel.find("div");
                for (var i = 0; i < childDivs.length; i++) {

                    var txtElement = $('#' + childDivs[i].id).find('input[type="text"]');
                    if (txtElement != null)
                        txtElement.val(objListMSISDNs[i]);

                }


            }

        }

        function addExtraTenDiv() {
            var index = parseInt($('#hdnExtraTenCount').val()) + 1;
            var divId = "divExtraTen_" + index;
            var txtId = "txtExtraTen_" + index;
            var delbtnId = "btnDeleteExtraTen_" + index;
            //$("#divExtraTen").append("<div id='"+divId+"' ><input type='text' id='"+txtId+"' /> <input type='button' value='X' onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");;

            var panel = $("#divExtraTen");
            var childDivs = panel.find("div");
            var lblSnoId = "lblSno_" + childDivs.length + 1;
            $("#divExtraTen").append("<div class='Controller Row' id='" + divId + "' ><label class='NumL' id='" + lblSnoId + "'>" + (childDivs.length + 1) + "</label><input class='TxtBox' type='text' id='" + txtId + "' /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='" + delbtnId + "' /></div>");
            $('#hdnExtraTenCount').val(parseInt(index) + 1);

        }

        function deleteExtraTen(delbtn) {
            var delbtnId = delbtn.id;


            var panel = $("#divExtraTen");
            var childDivs = panel.find("div");

            if (childDivs.length > 1) {
                $('#' + delbtnId).parent().remove();

            }
            else {
                alert("Atleast one mobile number has to be entered for Extra Ten");
                return false;
            }

            ResetSerialNo();

        }



        function ResetSerialNo() {
            var panel = $("#divExtraTen");
            var childDivs = panel.find("div");
            for (var i = 0; i < childDivs.length; i++) {
                //alert($('#'+childDivs[i].id).children(':first-child').html());
                var curDivId = childDivs[i].id;
                $('#' + curDivId).children(':first-child').html(i + 1)



            }
        }


        function cancelExtraTen() {

            if (confirm("Are you sure you want to cancel Extra Ten")) {
                var value = '2239';

                var objGroupId = $('#hdnExtraTenGroupId').val();
                $("#btnVAS_2239").css("border-style", "none");
                var modGroupIds = $('#hdnGroupIds').val().toString().replace(objGroupId + ",", "");
                $('#hdnGroupIds').val(modGroupIds);
                var arrVasID = $('#SelectedVasIDs').val().split(',');
                var newVasIDs = '';
                for (var i = 0; i < arrVasID.length; i++) {

                    if (arrVasID[i].toString() != "") {
                        if (arrVasID[i].toString() != value) {
                            if (newVasIDs == "")
                                newVasIDs = arrVasID[i];
                            else
                                newVasIDs = newVasIDs + "," + arrVasID[i];
                        }
                    }

                }


                $('#SelectedVasIDs').val(newVasIDs);
                $('#ExtraTenMobileNumbers').val("");
                $('#hdnExtraTenFlag').val('false');
                $('#extraTenWindow').data('tWindow').close();

            }

        }



        function extraTenWindowOnOpen() {

        }

        function validateExtraTen() {

            var panel = $("#divExtraTen");
            var childDivs = panel.find("div");
            var objListMSISDNs = "";
            var mobregex = /^60[0-9]{8,10}$/;
            for (var i = 0; i < childDivs.length; i++) {

                var txtElement = $('#' + childDivs[i].id).find('input[type="text"]');
                if (txtElement.val() != "") {
                    if (!mobregex.test(txtElement.val())) {
                        alert("Please enter valid MSISDN number");
                        return false;
                    }
                }

                if (txtElement.val() != "") {
                    if (objListMSISDNs.indexOf(txtElement.val()) == -1) {
                        if (objListMSISDNs != "")
                            objListMSISDNs = objListMSISDNs + "," + txtElement.val();
                        else
                            objListMSISDNs = txtElement.val();
                    }
                    else {
                        alert("Please enter unique mobile numbers");
                        return false;
                    }
                }

            }
            //Validation
            var url = '@(Url.Content("~/Registration/validateExtraTenMSISDN"))';

            $.post(url, { arrMSISDNs: objListMSISDNs }, function (data) {

                if (data.toString() != '') {
                    alert("Please enter valid maxis mobile number for " + data.toString());
                    return false;
                }
                else if (data.toString() == '') {




                    var url1 = '@(Url.Content("~/Registration/validateExtraTenMSISDNAgainstAccount"))';

                    $.post(url1, { arrMSISDNs: objListMSISDNs }, function (data) {

                        if (data.toString() != '') {
                            alert("Please renter " + data.toString() + " as these are already part of your account");
                            return false;
                        }
                        else if (data.toString() == '') {

                            $('#ExtraTenMobileNumbers').val(objListMSISDNs);

                            $('#extraTenWindow').data('tWindow').close();

                            //document.forms["frmSelectVAS"].submit();
                            $("#frmSelectVAS").submit();
                        }

                    });

                    // $('#extraTenWindow').data('tWindow').close();
                }

            });

        }

        function SubmitForm(sequenceNo) {

            $('#submit1').val(sequenceNo);
            //document.forms['frmSelectVAS'].submit();
            $("#frmSelectVAS").submit();
        }

        function SelectedVAS(btnVasID, vasID) {

            var vasFound = false;
            var arrVasID = $('#SelectedVasIDs').val().split(',');

            if ($.isArray(arrVasID)) {
                arrVasID = jQuery.grep(arrVasID, function (value) {
                    if (value == vasID) {
                        vasFound = true;
                    }
                    return value != vasID;
                });
            }

            if (vasFound) {

                $(btnVasID).css("border-style", "none");

                var newVasIDs = '';
                $.each(arrVasID, function (index, value) {
                    if (value != ' ' || value != ',') {
                        newVasIDs = newVasIDs +','+ value + ',';
                    }
                });

                $('#SelectedVasIDs').val(newVasIDs);
            }
            else {
                $('#SelectedVasIDs').val($('#SelectedVasIDs').val() +','+ vasID + ',');

                $(btnVasID).css("border-style", "solid");
            }
        }


        function getDependencyComponents() {
            var simtype = '@Session["SimType"].ToString2()';
            //        if (simtype == "False") {
            //            return false;
            //        }
            var compIds = $('#SelectedVasIDs').val();
            var url = '@(Url.Content("~/Registration/GetDepenedencyComponents"))';
            $.post(url, { componentIds: compIds }, function (data) {
                if (data.toString() != "") {
                    $('#SelectedVasIDs').val(data);

                }

                var vasFound = false;
                var arrVasID = $('#SelectedVasIDs').val().split(',');
                if ($.isArray(arrVasID)) {
                    arrVasID = jQuery.grep(arrVasID, function (value) {
                        if (value == '2239') {
                            vasFound = true;
                        }
                        return value != '2239';
                    });
                }

                if (vasFound)
                    $('#hdnExtraTenFlag').val('true');

                //            if($('#hdnExtraTenFlag').val()=='true')
                //             {
                //              $('#extraTenWindow').data('tWindow').center().open();        
                //             }
                //             else
                //$('#offerWindow').data('tWindow').center().open();
                //document.forms["frmSelectCRPVAS"].submit();
                $("#frmSelectCRPVAS").submit();
            }, "text");
        }
        if ('@(selCompIds)' != '') {
            // selCompIds
            $('#SelectedVasIDs').val('@(selCompIds)');
        }

        //New Javascript Function By VLT For Grouping of Components Check on APR 21 2013
        function SelectedNewVAS(objBtnId, objvasID, objGroupId) {
            // alert(objvasID);
            var vasFound = false;
            //alert($('#SelectedVasIDs').val());
            var arrVasID = $('#SelectedVasIDs').val().split(',');

            if ($.isArray(arrVasID)) {
                arrVasID = jQuery.grep(arrVasID, function (value) {
                    if (value == objvasID) {
                        vasFound = true;
                    }
                    return value != objvasID;
                });
            }
            //alert(vasFound);
            if (vasFound) {
                if (objvasID == '2239') {
                    //alert("You have unselected an extra component");
                    $('#hdnExtraTenFlag').val('');

                }
                // $(objBtnId).css("border-style", "none");
                $('#' + objBtnId).removeClass('focus');
                var modGroupIds = $('#hdnGroupIds').val().toString().replace(objGroupId + ",", "");
                $('#hdnGroupIds').val(modGroupIds);
                var newVasIDs = '';
                $.each(arrVasID, function (index, value) {
                    // alert(value);
                    if (value != "" && value != ',') {
                        newVasIDs = newVasIDs +','+ value + ',';
                    }
                });

                $('#SelectedVasIDs').val(newVasIDs);
                //alert(newVasIDs);
            }
            else {

                if (objvasID == '2239') {
                    //alert("You have selected an extra component");
                    $('#hdnExtraTenFlag').val('true');

                }
                // $('#SelectedVasIDs').val($('#SelectedVasIDs').val() + vasID + ',');
                // $(objBtnId).css("border-style", "solid");

                var curbtnBorder = $(objBtnId).css('border-style');

                if (objGroupId == -1) {
                    if ($('#' + objBtnId).hasClass("focus").toString() == "true") {
                        //$(objBtnId).css("border-style", "none");
                        $('#' + objBtnId).removeClass('focus');

                        //Remove Vas Ids
                        var curVasIds = $('#SelectedVasIDs').val();
                        curVasIds = curVasIds.toString().replace(objvasID + ",", "");
                        $('#SelectedVasIDs').val(curVasIds);

                        //alert("hh"+curVasIds);
                    }
                    else {

                        // $(objBtnId).css("border-style", "solid");
                        $('#' + objBtnId).addClass('focus');
                        var VasId = $('#SelectedVasIDs').val();
                        if (VasId.length > 0) {
                            if (VasId.substring(VasId.length, VasId.length - 1) == ',') {
                                $('#SelectedVasIDs').val($('#SelectedVasIDs').val() +','+ objvasID + ',');
                            }
                            else {
                                $('#SelectedVasIDs').val($('#SelectedVasIDs').val() + ',' + objvasID + ',');
                            }
                        }
                        else {
                            $('#SelectedVasIDs').val($('#SelectedVasIDs').val() +','+ objvasID + ',');
                        }
                    }

                    return;
                }

                var CurGroupIds = $('#hdnGroupIds').val();
                if ($('#' + objBtnId).hasClass("focus").toString() == "true") {
                   // $(objBtnId).css("border-style", "none");
                    $('#' + objBtnId).removeClass('focus');
                    //Remove Group Ids
                    CurGroupIds = CurGroupIds.toString().replace(objGroupId + ",", "");
                    $('#hdnGroupIds').val(CurGroupIds);


                    //Remove Vas Ids
                    var curVasIds = $('#SelectedVasIDs').val();
                    curVasIds = curVasIds.toString().replace(objvasID + ",", "");
                    $('#SelectedVasIDs').val(curVasIds);
                    return;
                }

                if (CurGroupIds != '') {
                    if (CurGroupIds.indexOf(objGroupId) == -1) {
                        CurGroupIds += objGroupId + ",";
                    }
                    else {
                        $('#Plan_Error').html("Please Select only one Component from Each Group")
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                        return;
                    }
                }
                else {
                    CurGroupIds = objGroupId + ",";
                }
                // $(objBtnId).css("border-style", "solid");
                $('#' + objBtnId).addClass('focus');
                $('#hdnGroupIds').val(CurGroupIds);

                //alert($('#SelectedVasIDs').val());
                if (!checkDuplicate($('#SelectedVasIDs').val(), objvasID)) {
                    $('#SelectedVasIDs').val($('#SelectedVasIDs').val() +','+ objvasID + ',');
                }
               


            }
        }


        function checkDuplicate(arrVasID, objvasID) {
            //alert(arrVasID +"_"+objvasID);
            if ($.isArray(arrVasID)) {
                arrVasID = jQuery.grep(arrVasID, function (value) {
                    if (value == objvasID) {
                        return true;
                    }
                    return value != objvasID;
                });
            }
        }
        //End of New Javascript Function By VLT For Grouping of Components Check on APR 21 2013
    
    </script>
}
