﻿@using Online.Registration.Web.ViewModels
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@{
    ViewBag.Title = "Select Preferred Device - Secondary";
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var vasPrimary = Session["SimType"].ToString2() == "MISM" ? "Value Added Services-Primary" : "Value Added Services";
    var vasSecondary = Session["SimType"].ToString2() == "MISM" ? "Value Added Services-Secondary" : "Value Added Services";
    var extraTenCount = 0;
    var listPrevExtraTenMSISDNs = Session["ExtratenMobilenumbers"].ToString2();
}
@model Online.Registration.Web.ViewModels.PhoneVM


@using (Html.BeginForm("SelectDeviceCatalogSeco", "Registration", FormMethod.Post, new { id = "frmSelectDeviceCatalog", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    <div class="vwHeader">
      @Html.HiddenFor(a => a.ExtraTenMobileNumbers)
        <table width="100%">
            <tr>
                <td>
                    <div>@ViewBag.Title</div>
                    <div class="vwSubHeader">
                        @*<label style="font-weight:bold;font-size:12px;">@ViewBag.Title</label> > Select a Maxis Plan > Select a Contract and Optional VAS > Select a Preferred Number > Customer Details > Customer Order Summary *@
                        @*<label style="font-weight:bold;font-size:12px;">Step 1</label> > Step 2 > Step 3 > Step 4 > Step 5 > Step 6 <br />*@
                        @if (sessionRegType == (int)MobileRegType.DeviceOnly)
                        {
                            <text>
                            @Html.Raw(string.Format(@"<ul class='breadcrumb_container'>
                                        <li class='breadcrumb_e breadcrumb_before'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step 1</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step 2</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step 3</li>
                                        <li class='breadcrumb_e breadcrumb_divider breadcrumb_divider_right'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item breadcrumb_item_hover'>Step {0}</li>
                                        <li class='breadcrumb_e breadcrumb_divider breadcrumb_divider_left'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {1}</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {2}</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {3}</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {4}</li>
                                        <li class='breadcrumb_e breadcrumb_end'>&nbsp;</li>
                                     </ul>",
                                   RegistrationSteps.SecoPlan.ToInt(),
                                   RegistrationSteps.SecoVas.ToInt(),
                                   RegistrationSteps.MobileNo.ToInt(),
                                   RegistrationSteps.PersonalDetails.ToInt(),
                                   RegistrationSteps.Summary.ToInt()))
                            </text>
                        }
                        else if (sessionRegType == (int)MobileRegType.DevicePlan && Session["DeviceType"].ToString2() == "Seco_WithDevice")
                        {
                            <text>
                            @Html.Raw(string.Format(@"<ul class='breadcrumb_container'>
                                        <li class='breadcrumb_e breadcrumb_before'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step 1</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step 2</li>
										<li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step 3</li>
                                        <li class='breadcrumb_e breadcrumb_divider breadcrumb_divider_right'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item breadcrumb_item_hover'>Step {0}</li>
                                        <li class='breadcrumb_e breadcrumb_divider breadcrumb_divider_left'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {1}</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {2}</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {3}</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {4}</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
										<li class='breadcrumb_e breadcrumb_item'>Step {5}</li>
                                        <li class='breadcrumb_e breadcrumb_end'>&nbsp;</li>
                                     </ul>",
                                         RegistrationSteps.DeviceSeco.ToInt() - 9,
                                         RegistrationSteps.SecoPlan.ToInt() + 1,
                                         RegistrationSteps.SecoVas.ToInt() + 1,
                                         RegistrationSteps.MobileNo.ToInt() + 1,
                                         RegistrationSteps.PersonalDetails.ToInt() + 1,
                                         RegistrationSteps.Summary.ToInt() + 1))
                            </text>
                        }
                        else if (sessionRegType == (int)MobileRegType.DevicePlan && Session["DeviceType"].ToString2() == "Seco_NoDevice")
                        {
                            <text>
                            @Html.Raw(string.Format(@"<ul class='breadcrumb_container'>
                                        <li class='breadcrumb_e breadcrumb_before'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step 1</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step 2</li>
										<li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step 3</li>
                                        <li class='breadcrumb_e breadcrumb_divider breadcrumb_divider_right'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item breadcrumb_item_hover'>Step {0}</li>
                                        <li class='breadcrumb_e breadcrumb_divider breadcrumb_divider_left'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {1}</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {2}</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {3}</li>
                                        <li class='breadcrumb_e breadcrumb_divider'>&nbsp;</li>
										<li class='breadcrumb_e breadcrumb_item'>Step {4}</li>
                                        <li class='breadcrumb_e breadcrumb_end'>&nbsp;</li>
                                     </ul>",
                                         RegistrationSteps.SecoPlan.ToInt(),
                                         RegistrationSteps.SecoVas.ToInt(),
                                         RegistrationSteps.MobileNo.ToInt(),
                                         RegistrationSteps.PersonalDetails.ToInt(),
                                         RegistrationSteps.Summary.ToInt()))
                            </text>
                        }
                    </div>
                </td>
                <td align="right">
                    <button class="button-back cancel" type="submit" value="Back" causesvalidation="false" disableValidation="true" onclick="$('#TabNumber').val(13);">
                    </button>
                    @if (Model != null)
                    {
                        if (Model.ModelImages.Count > 0)
                        {
                        <button class="button-continue" type="submit" value="Next" onclick="$('#TabNumber').val(4);">
                        </button>
                        }
                    }

                </td>
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
        <div style="float: left;">
            @*<div style="font-size:x-large;padding:10px 0px 10px 0px;">Step @(Session["RegStepNo"].ToInt()): @ViewBag.Title</div>*@
            <table width="520px">
                <tr>
                    <td valign="top">
                        @Html.ValidationSummary(false)
                        @Html.HiddenFor(a => a.TabNumber)
                        @Html.HiddenFor(a => a.SelectedModelImageIDSeco)
                        @{  if (Model != null)
                            {
                                int count = 1;
                                if (Model.ModelImages.Count > 0)
                                {
                                    foreach (var modelImage in Model.ModelImages)
                                    {
                                        //var btnModelImageID = "btnModelImageID_" + modelImage.ModelImage.ID;
                                        //var btnModelDetails = "btnModelDetails_" + modelImage.ModelCode;
                                        var articleId = modelImage.BrandArticle.ArticleID;
                                        var modelId = modelImage.BrandArticle.ModelID;
                                        var btnModelImageID = "btnModelImageID_" + modelImage.BrandArticle.ID;
                                        var btnModelDetails = "btnModelDetails_" + modelImage.ModelCode;

                                <div style="float:left;padding-bottom:30px">
                                @* VLT CHANGED CODE by Rajeswari on 26th Feb changed the padding-bottom from 3px to 6px*@
									<div style="height:auto;width:145px;float:left;padding-bottom:6px;">
										@*<button class="cancel btnSelection" style="background-size:170px 175px; margin:0px;" type="button" id="@btnModelImageID" onclick="SelectedModelImage(@btnModelImageID,@modelImage.ModelImage.ID);" >*@
                                        <button class="cancel btnSelection" style="background-size:170px 175px; margin:0px;" type="button" id="@btnModelImageID" onclick="SelectedModelImage(@btnModelImageID,@modelImage.BrandArticle.ID);" >
											<table>
												<tr>
													<td style="font-weight:bold;" align="center" valign="top">@*style="border:1px solid #eaebed;"*@
                                                        <div style="float:left">
														    @*<img alt="Image Not Available" src="@Url.Content(modelImage.ModelImage.ImagePath)" width="120px" height="120px" /><br />*@
                                                            <img alt="Image Not Available" src="@Url.Content(modelImage.BrandArticle.ImagePath)" width="120px" height="120px" /><br />
														    @*@Html.Raw(Util.GetNameByID(RefType.Model, modelImage.ModelImage.ModelID))<br />*@
                                                            @Html.Raw(Util.GetNameByID(RefType.Model, modelImage.BrandArticle.ModelID))<br />
														    @*@Html.Raw(modelImage.ModelImage.ColourID.HasValue ? Util.GetNameByID(RefType.Colour, modelImage.ModelImage.ColourID.Value) : "")<br />*@
                                                            @Html.Raw(modelImage.BrandArticle.ColourID > 0 ? Util.GetNameByID(RefType.Colour, modelImage.BrandArticle.ColourID) : "")<br />
                                                             
                                                        </div>
                                                    </td>
												</tr>
                                                
											</table>
                                             @* Commented by Narayanareddy*@ 
                                             
                                           @* @if (modelImage.Count < System.Configuration.ConfigurationManager.AppSettings["Inventry_OutOfStockHigher"].ToInt())
                                            {
                                                <table><tr><td>Out Of Stock</td></tr></table>
                                            }
                                            else if (modelImage.Count >= System.Configuration.ConfigurationManager.AppSettings["Inventry_LimitedStockLower"].ToInt() && modelImage.Count <= System.Configuration.ConfigurationManager.AppSettings["Inventry_LimitedStockHigher"].ToInt())
                                            {
                                                <table><tr><td>Limited Stock</td></tr></table>
                                            }
                                            else if (modelImage.Count >= System.Configuration.ConfigurationManager.AppSettings["Inventry_AvailableStockLower"].ToInt())
                                            {
                                                <table><tr><td>Available</td></tr></table>   
                                            }*@
                                            
                                            @* Start Added by Narayanareddy*@

                                            @if (modelImage.Count < Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockHigher)
                                            {
                                            <table><tr><td style="color:Red;font-weight:bold;">Fast Selling</td></tr></table>
                                            }
                                            else if (modelImage.Count >= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_LimitedStockLower && modelImage.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_LimitedStockHigher)
                                            {
                                            <table><tr><td style="color:Orange;font-weight:bold;">Limited Stock</td></tr></table>
                                            }
                                            else if (modelImage.Count >= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_AvailableStockLower)
                                            {
                                            <table><tr><td style="color:Green;font-weight:bold;">Available</td></tr></table>
                                            }
                                            @* End Added by Narayanareddy*@


										</button>

                                        
									</div>
                                     
                                    
                                        
                                         
									<div style="width:170px">
                                   
										<button id="@btnModelDetails" style="width:145px;height:40px;" type="button" onclick="detailsDevices_OnClick('@articleId','@modelId')"
											class="button-device-details"> <b>View Details</b>
										</button>
									</div>
                                </div>
                                            if (count == 3)
                                            {
                                                count = 1;
									<div style="float:left;height:100px;clear:both;"></div>
									<br /><br />
                                    @*<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />*@
                                            }
                                            else
                                            {
                                                count++;
                                            }
                                    }
                                }
                                else
                                {
                                    <h2> No devices available !</h2>
                                }

                            }
}
                    </td>
                </tr>
            </table>
        </div>
        <div style="float: right;">
            @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
        </div>
    </div>
}

@{
    Html.Telerik().Window()
        .Name("vasWindow")
        .Title(@vasPrimary)
        .Width(325)
        .Content(@<text>
                    @{var vasNames = (List<string>)Session["RegMobileReg_VasNames_Seco"]; }
                    @if (vasNames != null)
                    {
                        foreach (var name in vasNames)
                        { 
                            <div style="border-style:solid;border-width:1px;border-radius:5px;margin:1px;padding:3px 3px 3px 3px;margin:0px 0px 1px 0px;width:300px;">
                                @name
                            </div>
                        }
                    }
                </text>)
        .Modal(true)
        .Visible(false)
        .Render();

   Html.Telerik().Window()
.Name("extraTenWindow")
.Title("Extra Ten")
.Width(360)
   .Height(470)

.Content(@<text>
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td colspan="2">
                <div id="divExtraTen">
                    @for (int i = 0; i < 10; i++)
                    {

                        var divId = "divExtraTen_" + i;
                        var txtId = "txtExtraTen_" + i;
                        var delbtnId = "btnDeleteExtraTen_" + i;

                        var lblSnoId = "lblSno_" + i;

                        extraTenCount++;
                                           
                        <div class="Controller Row" id=@divId>
                            <label class="NumL" id=@lblSnoId>@extraTenCount</label>
                            <input class="TxtBox" type="text" id=@txtId tabindex="1" />
                            <input class="DelBtn" style="display:none;" type="button" onclick='deleteExtraTen(this);'  id=@delbtnId value="" />
                        </div>
                    
                    }
                </div>
                <div class="Controller" style="display:none;">
                    <input type="button" class="AddMoreBtn" tabindex="1" id="btnAddMore" onclick="addExtraTenDiv();"
                        value="" />
                </div>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <input id="btnSaveExtraTen" type="button" class="SaveBtn" value="" tabindex="1" onclick="return validateExtraTen();" />
                <input type="button" class="CancelBtn" id="btnCancelExtraTen" tabindex="1" onclick="cancelExtraTen();"
                    value="" />
                <br />
            </td>
        </tr>
    </table>
    </text>)
.Modal(true)
.Visible(false)
.ClientEvents(events => events.OnOpen("extraTenWindowOnOpen"))
.Render();

    Html.Telerik().ScriptRegistrar()
        .OnDocumentReady(@<text>
            // open the initially hidden window when the button is clicked
            $('#btnVwVAS')
                .click(function(e) {
                    e.preventDefault();
                    $('#vasWindow').data('tWindow').center().open();
                });

            $('#btnVwSubline')
                .click(function(e) {
                    e.preventDefault();
                    $('#sublineWindow').data('tWindow').center().open();
                });
 $('#btnExtraTen') .click(function(e) { e.preventDefault(); $('#extraTenWindow').data('tWindow').center().open();});
              
        </text>); 
    

    }

@{
    Html.Telerik().Window()
        .Name("devicesDetailsWindow")
        .Title("Devices Details")
        .Width(850)
        .Height(700)
        .Content(@<text>
                    <table width="100%">
                        <tr>
                            <td><img alt="" id="imgDevicesDetails" src="@Url.Content("~/Content/images/devices/Devices_.jpg")" /></td>
                        </tr>
                    </table>
                    
                </text>)
        .Modal(true)
        .Visible(false)
        .Render();



    Html.Telerik().Window()
        .Name("devicePlanDetailsWindow")
        .Title("Device Details")


        .Width(1000)
.Height(600)
        .Content(@<text>

   
    </text>)
        .Modal(true)
        .Visible(false)


        .Render();
}

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            //Highlight selected plan
            var modelImageID = $('#SelectedModelImageIDSeco').val();
            if (modelImageID != 0) {
                $('#btnModelImageID_' + modelImageID).css("border-style", "solid");
            }

            if ( @(sessionRegType) == @(PlanOnly)) {
                if($('#menuPlan').length > 0) {$('#menuPlan').css("background-image", $('#menuPlan').css("background-image").replace(".png", "_hover.png"));}
            }
            else if ( @(sessionRegType) == @(DeviceOnly)) {
                $('#menuDevice').css("background-image", $('#menuDevice').css("background-image").replace(".png", "_hover.png"));
            }
            else {
                $('#menuDevicePlan').css("background-image", $('#menuDevicePlan').css("background-image").replace(".png", "_hover.png"));
            }

            $('.t-icon t-close').click(function(e) {
                    //e.preventDefault();
                    $('#devicePlanDetailsWindow').data('tWindow').center().close();
                });



        });

        function SelectedModelImage(btnModelImageID, modelImageID) {
            $('#SelectedModelImageIDSeco').val(modelImageID);
            $('button[id^="btnModelImageID_"]').css("border-style", "none");
            $(btnModelImageID).css("border-style", "solid");
        }

        function SubmitForm(sequenceNo) {

            $('#submit1').val(sequenceNo);
            //document.forms['frmSelectDeviceCatalog'].submit();
            $("#frmSelectDeviceCatalog").submit();
        }

        function detailsDevices_OnClick(articleId,modelId) {
//            var code = btnModelDetails.substring(16);
//            var src = $('#imgDevicesDetails').attr("src");
//            var indexFrom = src.indexOf("Devices_") + 8;
//            var indexTo = src.indexOf(".jpg");
//            var oldCode = src.substring(indexFrom, indexTo);
//            
//            src = src.replace(oldCode, "");
//            src = src.replace("Devices_", "Devices_" + code);
//            $('#imgDevicesDetails').attr("src", src);

//            $('#devicesDetailsWindow').data('tWindow').center().open();

            var window123 = $('#devicePlanDetailsWindow').data('tWindow');

            var url ='@(Url.Content("~/Registration/DevicePlanDetails"))';
            window123.ajaxRequest(url,{articleId:articleId , modelId:modelId});
            window123.center().open();
            



        }

        function cancelExtraTen()
        {

//        if(confirm("Are you sure you want to cancel Extra Ten"))
//        {
//          var value='2239';

//          var objGroupId=$('#hdnExtraTenGroupId').val();
//             $("#btnVAS_2239").css("border-style", "none");
//               var  modGroupIds =$('#hdnGroupIds').val().toString().replace(objGroupId+",","");
//            $('#hdnGroupIds').val(modGroupIds);
//            var arrVasID = $('#SelectedVasIDs').val().split(',');
//            var newVasIDs='';
//                for(var i=0;i<arrVasID.length;i++)
//                {

//                if(arrVasID[i].toString()!="")
//                {
//                  if(arrVasID[i].toString()!=value)
//                   {
//                     if(newVasIDs=="")
//                      newVasIDs=arrVasID[i];
//                     else
//                      newVasIDs=newVasIDs+","+arrVasID[i];
//                    }
//                }
//                

//                
//                }
//               

//                 $('#SelectedVasIDs').val(newVasIDs);
                 // $('#ExtraTenMobileNumbers').val("");
                 // $('#hdnExtraTenFlag').val('false');
                   $('#extraTenWindow').data('tWindow').close();
        
       // }

        }

         function validateExtraTen()
        {

        var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        var objListMSISDNs="";
        var mobregex = /^60[0-9]{8,10}$/;
        for(var i=0;i<childDivs.length;i++)
        {
        
        var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
         if(txtElement.val() !="")
         {
         if (!mobregex.test(txtElement.val())) 
         {
         alert("Please enter valid MSISDN number");
         return false;
         }
         }

        if(txtElement.val() !="")
        {
         if(objListMSISDNs.indexOf(txtElement.val()) ==-1)
         {
        if(objListMSISDNs!="")
        objListMSISDNs=objListMSISDNs+","+txtElement.val();
        else
        objListMSISDNs=txtElement.val();
          }
        else
         {
         alert("Please enter unique mobile numbers");
         return false;
         }




        }
       


        
        }
//         if(parseInt(objListMSISDNs.split(',').length)>10)
//            {
//            if(confirm("Extra Ten limit has exceeded. You will have to pay additional charges.")==false)
//            {
//              return false;
//            }
//            }


//Validation

         var url = '@(Url.Content("~/Registration/validateExtraTenMSISDN"))';
           
            $.post(url,{arrMSISDNs:objListMSISDNs},function (data) {

            if(data.toString()!='')
            {
            alert("Please enter valid maxis mobile number for "+data.toString());
            return false;
            }
            else  if(data.toString()=='')
            {
              
             // $('#ExtraTenMobileNumbers').val(objListMSISDNs);


  var url1 = '@(Url.Content("~/Registration/validateExtraTenMSISDNAgainstAccount"))';
           
            $.post(url1,{arrMSISDNs:objListMSISDNs},function (data) {

            if(data.toString()!='')
            {
           alert(data.toString()+ " is already part of your account !");
            return false;
            }
            else if(data.toString()=='')
            {
              
              $('#ExtraTenMobileNumbers').val(objListMSISDNs);
            
               $('#extraTenWindow').data('tWindow').close();

               
            }
            
            }, "text");
            
              // $('#extraTenWindow').data('tWindow').close();
            }
            
            }, "text");
        
        }


        function extraTenWindowOnOpen()
        {
        
        
        
        }

         if('@(listPrevExtraTenMSISDNs)'!='')
    {

   $('#ExtraTenMobileNumbers').val('@(listPrevExtraTenMSISDNs)');

    var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        var objListMSISDNs=$('#ExtraTenMobileNumbers').val().split(',');
        $('#hdnExtraTenCount').val(childDivs.length);
        if(objListMSISDNs.length<=childDivs.length)
        {

        for(var i=0;i<childDivs.length;i++)
        {

         var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
         if(txtElement!=null)
         txtElement.val(objListMSISDNs[i]);
         
        }

        }
        else
        {
        
        for(var i=0;i<(objListMSISDNs.length-childDivs.length);i++)
        {
        var index=parseInt($('#hdnExtraTenCount').val())+1;
        var divId = "divExtraTen_"+ index ;
        var txtId = "txtExtraTen_" + index ;
        var delbtnId = "btnDeleteExtraTen_" + index;
         var lblSnoId = "lblSno_" + childDivs.length+1;
         //$("#divExtraTen").append("<div id='"+divId+"' ><input type='text' id='"+txtId+"' /> <input type='button'  onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");;
         $("#divExtraTen").append("<div class='Controller Row' id='"+divId+"' ><label class='NumL' id='"+lblSnoId+"'>"+(parseInt(childDivs.length+1))+"</label><input class='TxtBox' type='text' id='"+txtId+"' /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");
        $('#hdnExtraTenCount').val(index+1);
        
        }
        childDivs = panel.find("div");
        for(var i=0;i<childDivs.length;i++)
        {

         var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
         if(txtElement!=null)
         txtElement.val(objListMSISDNs[i]);
         
        }
        
        
        }

    }

    </script>
}
 