﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;                    
@using Online.Registration.Web.Properties;
@model Online.Registration.Web.ViewModels.PackageVM
@{
    ViewBag.Title = "Select a Maxis Plan";
    var orderVM = new OrderSummaryVM();

    if ((OrderSummaryVM)Session["RegMobileReg_OrderSummary"] != null)
    {
        orderVM = (OrderSummaryVM)Session["RegMobileReg_OrderSummary"];
    }
    Session["GuidedSales_Type"] = string.Empty;
    var planId = Session["SelectedPlanID"].ToString2();
    var IsDelar = Convert.ToBoolean(Session["IsDealer"]);
    var personalDetails = Model.PersonalDetailsVM;
    var pgmBdls = (orderVM.BrandID <= 0) ? Model.AvailablePackages.Where(a => a.BundleName.Contains("iV").Equals(false)).Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList() : Model.AvailablePackages.Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList();
    var bundleNames = (orderVM.BrandID <= 0) ? Model.AvailablePackages.Where(a => a.BundleName.Contains("iV").Equals(false)).Select(a => a.BundleName).Distinct().ToList() : Model.AvailablePackages.Select(a => a.BundleName).Distinct().ToList();

    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" : string.Empty;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var vasPrimary = Session["SimType"].ToString2() == "MISM" ? "Value Added Services-Primary" : "Value Added Services";
    var vasSecondary = Session["SimType"].ToString2() == "MISM" ? "Value Added Services-Secondary" : "Value Added Services";
    bool IsMNPWithMultpleLines = ReferenceEquals(Session["IsMNPWithMultpleLines"], null) ? false : Convert.ToBoolean(Session["IsMNPWithMultpleLines"]);
}
<!-- Centre column area -->
<div id="center">
    @using (Html.BeginForm("SelectPlan", "Registration", FormMethod.Post, new { id = "frmSelectPlan", @class = "overlayonsubmit", processmsg = "Loading" }))
    { 
        @Html.Hidden("SIMModelSelected", string.Empty)
        @Html.Hidden("SimCardTypeSelected", "")
        @Html.Hidden("PrimarySimSerial", "")
        @Html.Hidden("SecondarySimSerial", "")
        @Html.Hidden("SimSerialSelected", "")
        @Html.HiddenFor(a => a.TabNumber)
        @Html.HiddenFor(a => a.SelectedPgmBdlPkgCompID)
        @Html.HiddenFor(a => a.SimType)
        <div class="header-title">
            @if (!ReferenceEquals(Session["FromMNP"], null) && Convert.ToBoolean(Session["FromMNP"]))
            {
                if (IsMNPWithMultpleLines)
                {
                @:Multiple MNP Plan Only
                }
                else
                {
                @:MNP Plan Only
                }
            }

            else
            {
                if (Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan)
                {
                @:Devices + Plan
            }
                else
                {
                @:Plan Only
                        }
            }
        </div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        @if (!ReferenceEquals(Session["FromMNP"], null) && Convert.ToBoolean(Session["FromMNP"]))
                        { 
                            <li style="display: table-cell; float: none;" class="selected">Plan</li>
                            <li style="display: table-cell; float: none;">Contract/VAS</li>
                            <li style="display: table-cell; float: none;">Customer</li>
                            <li style="display: table-cell; float: none;">Summary</li>
                        }
                        else
                        {
                            if (Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan)
                            {
                            <li style="display: table-cell; float: none;" class="preselected">Device</li>
                            }
                            <li style="display: table-cell; float: none;" class="selected">Plan</li>
                            <li style="display: table-cell; float: none;">Contract/VAS</li>
                            <li style="display: table-cell; float: none;">Number</li>
                            <li style="display: table-cell; float: none;">Customer</li>
                            <li style="display: table-cell; float: none;">Summary</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="content_white" style="padding: 1px 1px 10px 40px">
                <div id="divError" style="color: Red;">
                    @Html.ValidationSummary(false)
                </div>
            </div>
            <div class="content_white">
                <div style="display: block; padding: 0px 20px; margin: 0px auto;">
                    <div id="Plan_Error" class="ErrorClass" style="padding:0px 0px 10px 10px">
                    </div>
                    <div id="ui-plan">
                        @foreach (var bundleName in bundleNames)
                        {
                            int index = 0;
                            var packages = Model.AvailablePackages.Where(a => a.BundleName == bundleName).ToList();
                            <h3>@pgmBdls.Where(a => a.bundleName == bundleName).SingleOrDefault().programName.ToUpper():
                                <span class="txt-18-black-normal">@bundleName</span></h3>
                            <div style="width: 100%; border-left: 1px solid #ccc;">
                                @foreach (var package in packages)
                                {
                                    var btnPlanID = package.PgmBdlPkgCompID;
                                    var btnPlanDetails = "btnPlnDetails_" + package.PackageCode;

                                        <div  id="@btnPlanID" class="planList" onclick="SelectedPackage(this,'@btnPlanID');" style="cursor:pointer; border-bottom: 1px solid #ccc;">
                                            @if (package.PackageName.Contains("-"))
                                            {
                                                string[] curPackage = package.PackageName.Trim().Split('-');
                                                <p class="plan-title">@curPackage[0].Trim()
                                                <a href="javascript:detailsPlans_OnClick('@btnPlanDetails')" id="popup-message" class="cboxElement">
                                                    <img alt="" height="16px" width="16px" title="Information" src="@Url.Content("~/Content/images/InfoIcon.png")" />
                                                </a>
                                                </p>
                                            }
                                            else
                                            {
                                                <p class="plan-title">@package.PackageName
                                                <a href="javascript:detailsPlans_OnClick('@btnPlanDetails')" id="popup-message" class="cboxElement">
                                                    <img alt="" height="16px" width="16px" title="Information" src="@Url.Content("~/Content/images/InfoIcon.png")" />
                                                </a>
                                                </p>
                                            }
                                                
                                        </div>
                                            index += 1;
                                            if (index == packages.Count())
                                            { 
                                    <div style="clear: both;">
                                    </div>
                                            }
                                }
                            </div>
                        
                        }
                    </div>
                </div>
                <div style="height: 20px;">
                </div>
            </div>
            <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
                <div style="float: right; padding-right: 20px;">
                    @if (ReferenceEquals(Session["FromMNP"], null) && Convert.ToBoolean(Session["FromMNP"]) == false)
                    {
                     @:Sim Type :
                        <select id="ddlSimType" name="SimType">
                            <option value="-1" selected="selected">Select Sim Type</option>
                            <option value="0">Normal</option>
                            <option value="1">MISM</option>
                        </select>@:&nbsp;
                    }
                    
                    @if (Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan)
                    {
                        <input class="cancel backButton" type="submit" value="<"  onclick="$('#TabNumber').val(@MobileRegistrationSteps.DeviceCatalog.ToInt());"  /> 
                    }
                    
                    @if (Roles.IsUserInRole("MREG_DIC") || Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("DSupervisor") || Roles.IsUserInRole("DREG_SV"))
                    {
                        if (!ReferenceEquals(Session["FromMNP"], null) && Convert.ToBoolean(Session["FromMNP"]))
                        {
                            <input id="btnSIM" class="submitButton" type="button" value="SIM" />
                        }
                        else
                        { 
                             <input id="btnSIM" class="submitButton" type="button" value="SIM" style="display:none;" />
                        }
                    }
                    
                    @if (!ReferenceEquals(Session["FromMNP"], null) && Convert.ToBoolean(Session["FromMNP"]))
                    {
                        <input class="submitButton" type="button" value="Next Step: Contract/VAS" onclick="$('#TabNumber').val(@MobileRegistrationSteps.Vas.ToInt());getDependenciesMNP()" />
                    }
                    else
                    {
                        <input class="submitButton" type="button" value="Next Step: Contract/VAS" onclick="$('#TabNumber').val(@MobileRegistrationSteps.Vas.ToInt());getDependencies();" />
                    }
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
        @Html.Partial("_footer")
      
   
         

    }
</div>
<!-- Right column area -->
<div id="right">
    @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
</div>
@{
    Html.Telerik().Window()
        .Name("planDetailsWindow")
        .Title("Plan Details")
        .Width(750)
        .Height(600)
        .ClientEvents(events => events.OnActivate("PlanWindow_popup"))
        .Content(@<text>
    <table width="100%">
        <tr>
            <td>
                <img alt="" id="imgPlanDetails" src="@Url.Content("~/Content/images/Plan/MobileReg_.gif")" />
            </td>
        </tr>
    </table>
    </text>)
        .Modal(true)
        .Visible(false)
        .Render();
}
@{
    Html.Telerik().Window()
            .Name("simWindow")
            .Title("SIM Serial")
            .Width(350).Height(120)
            .ClientEvents(events => events.OnActivate("WindowSim_onActivate"))
            .Content(@<text>
    @using (Html.BeginForm("SelectPlan", "Registration", FormMethod.Post, new { onSubmit = "return UpdateSIMData(this);" }))
    {
           <div class="ErrorClass" id="dvSimSerial_Error"></div>
        <table>
            <tr>
                <td colspan="2" class="ErrorClass" >
                    @Html.ValidationMessageFor(model => model.PersonalDetailsVM.CapturedSIMSerial)
                </td>
            </tr>

             <tr>
                <td>@Html.LabelFor(model => model.PersonalDetailsVM.SIMCardType)
                </td>
                <td>
                    @Html.DropDownListFor(model => model.PersonalDetailsVM.SIMCardType, Util.GetList(RefType.SIMCardType, selectedValue: Model.PersonalDetailsVM.SIMCardType), new { style = string.Format("font-size:15px;width:{0}px", 250) })
                </td>
             </tr>

            <tr>
                <td>@Html.LabelFor(model => model.PersonalDetailsVM.CapturedSIMSerial)
                </td>
                <td>
                   
                    <input type="text" id="CapturedSIMSerial" name="CapturedSIMSerial" style="width:238px;" />
                
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center" >
                    <input id="btnSaveSIM" type="submit" value="Save"  class="submitButton" />
                </td>
            </tr>
        </table>
       
    }
    </text>)
            .Modal(true)
            .Visible(false)
            .ClientEvents(events => events.OnOpen("SIMWindowOnOpen"))
            .Render();

    Html.Telerik().ScriptRegistrar()
        .OnDocumentReady(@<text>$('#btnSIM')
    .click(function(e) {$('#Plan_Error').html(""); $('#dvSimSerial_Error').text(''); $('#simWindow').data('tWindow').center().open();});
    </text>);
}
@section Scripts{
    <script type="text/javascript" language="javascript">

        $("#PersonalDetailsVM_SIMCardType").live("change", function () {
            SimCardTypeChange();
        });

        function PlanWindow_popup() {
            $('#planDetailsWindow').data('t-window').center();
        }

        function SimCardTypeChange() {

            var selSimTypeVal = $("#PersonalDetailsVM_SIMCardType").val();

            $("#SimCardTypeSelected").val(selSimTypeVal);
            $('#CapturedSIMSerial').val('');
        }

        function SIMWindowOnOpen() {

        }

        function UpdateSIMData(form) {

            if (form != null && $(form).valid() == false) {
                return false;
            }
            var inputSIM = $('#CapturedSIMSerial').val();
            var regID = $('#RegID').val();

            var selSimTypeValue = $("#PersonalDetailsVM_SIMCardType").val();


            if (selSimTypeValue == 0) {
                $('#dvSimSerial_Error').html("Please Select SIM Type");
                $('#dvSimSerial_Error').show();
                return false;
            }

            $('#dvSimSerial_Error').html('');
            var inputSIM = $('#CapturedSIMSerial').val();
            var simType = $('#ddlSimType :selected').text();

            if (inputSIM == '') {
                $('#dvSimSerial_Error').html("Please enter SIM Serial");
                $('#dvSimSerial_Error').show();
                return false;
            }

            else if (inputSIM != '') {
                $('#SimSerialSelected').val('Clicked');
                var url = '@(Url.Content("~/StoreKeeper/StoreKeeper/CheckSimModel"))';
                var tempregid = 0;

                $.post(url, { sim: inputSIM, simCardType: selSimTypeValue, SIMType: simType }, function (data) {

                    if (data != '') {

                        var url = '@(Url.Content("~/Registration/UpdateSIMModelDataForDelear"))';

                        $.post(url, { sim: inputSIM, simCardType: selSimTypeValue }, function (data) {

                            var window = $('#simWindow').data('tWindow');
                            window.close();
                        });

                    }
                    else {

                        $('#IsError').val('true');
                        $('#dvSimSerial_Error').html('@(Settings.Default.SimSerialGenericError.ToString2())');
                        $('#SimSerialSelected').val('');
                        return false;
                    }

                }, "text");
            }

            return false;

        }

        function SelectedPackage(target, planID) {
            $(".planList").removeClass('focus');
            $(target).addClass('focus');
            $('#SelectedPgmBdlPkgCompID').val(planID);
            $('#Plan_Error').hide();
        }

        jQuery(function () {
            jQuery("#ui-plan").accordion({
                autoHeight: false
            });
            $("#ui-plan").accordion("option", "icons",
        		{ 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });
        });

        $.validator.methods.number = function (n, t) {

            return true;
        }

        $(document).ready(function () {
            $('#Plan_Error').hide();
            jQuery("#popup-message").colorbox({ iframe: true, innerWidth: 988, innerHeight: 500 });

        });

        //Highlight selected plan
        if ('@planId' != '0') {
            $('#SelectedPgmBdlPkgCompID').val('@planId')

            $('#' + '@planId').addClass('focus');
        }
        function plan(target4) {
            jQuery(".plan-outerbox").removeClass('focus');
            jQuery(target4).addClass('focus');
        }

        function detailsPlans_OnClick(btnPlanDetails) {
            var code = btnPlanDetails.substring(14);
            var src = $('#imgPlanDetails').attr("src");
            var indexFrom = src.indexOf("MobileReg_") + 10;
            var indexTo = src.indexOf(".gif");
            var oldCode = src.substring(indexFrom, indexTo);

            src = src.replace(oldCode, "");
            src = src.replace("MobileReg_", "MobileReg_" + code);
            $('#imgPlanDetails').attr("src", src);

            $('#planDetailsWindow').data('tWindow').center().open();
        }

        function getDependencies() {
            var planID = $('#SelectedPgmBdlPkgCompID').val();

            if (planID != 0 & planID != '/') {
                var simTypeVal = $("#ddlSimType").val();
                if (simTypeVal == -1) {
                    $('#Plan_Error').show();
                    $('#Plan_Error').html("Please Select Sim Type");
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                }
                else if ((($('#SimSerialSelected').val()) == '') && ('@(Roles.IsUserInRole("DREG_SV"))' == 'True' || '@(Roles.IsUserInRole("DSupervisor"))' == 'True' || '@(Roles.IsUserInRole("MREG_DIC"))' == 'True' || '@Roles.IsUserInRole("MREG_DSV")' == 'True' || '@(Roles.IsUserInRole("MREG_DAI"))' == 'True')) {
                    $('#Plan_Error').html("Please select the Sim Serial No.");
                    $('#Plan_Error').show();
                    return false;
                }
                else {
                    var simType = $('#ddlSimType :selected').text();

                    $('#SimType').val(simType);
                    $("#frmSelectPlan").submit();
                }
            }
            else {
                $('#Plan_Error').html("Please select a Plan.");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $('#Plan_Error').show();
                $('#TabNumber').val(3);
                return false;
            }
        }

        function WindowSim_onActivate() {
            var containerwidth = $("#simWindow .t-content").width();
            $("#simWindow .t-content #dvSimSerial_Error").width(containerwidth);
        }

        function getDependenciesMNP() {
            $('#Plan_Error').html("");
            var planID = $('#SelectedPgmBdlPkgCompID').val();
            if (planID != 0 & planID != '/') {
                if ((($('#SimSerialSelected').val()) == '') && ('@(Roles.IsUserInRole("DREG_SV"))' == 'True' || '@(Roles.IsUserInRole("DSupervisor"))' == 'True' || '@(Roles.IsUserInRole("MREG_DIC"))' == 'True' || '@Roles.IsUserInRole("MREG_DSV")' == 'True' || '@(Roles.IsUserInRole("MREG_DAI"))' == 'True')) {
                    $('#Plan_Error').html("Please select the Sim Serial No.");
                    $('#Plan_Error').show();
                    return false;
                }
                else {
                    //document.forms['frmSelectPlan'].submit();
                    $("#frmSelectPlan").submit();
                    return true;
                }
            }
            else {
                $('#Plan_Error').html("Please select a Plan.");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $('#TabNumber').val(3);
                $('#Plan_Error').show();
                return false;
            }
        }

        $('#ddlSimType').change(function () {
            if ($(this).val() == "1") {
                $('#Plan_Error').show();
                $('#Plan_Error').html("Please select more than or equal to 2GB data component");
                $("html, body").animate({ scrollTop: 0 }, "slow");
            }
            else {
                $('#Plan_Error').hide();
                $('#Plan_Error').html("");
            }
            if ($(this).val() >= 0) {
                $('#btnSIM').show();
            }
            else {
                $('#btnSIM').hide();
            }
        });

    </script>
}
