﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.PackageVM
@{
    ViewBag.Title = "Select a Maxis Plan";
    var orderVM = new OrderSummaryVM();
    if ((OrderSummaryVM)Session["RegMobileReg_OrderSummary"] != null)
    {
        orderVM = (OrderSummaryVM)Session["RegMobileReg_OrderSummary"];
    }

    Session["GuidedSales_Type"] = string.Empty;

    var planId = Session["SelectedPlanID"].ToString2();
    var pgmBdls = (orderVM.BrandID <= 0) ? Model.AvailablePackages.Where(a => a.BundleName.Contains("iV").Equals(false)).Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList() : Model.AvailablePackages.Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList();
    var bundleNames = (orderVM.BrandID <= 0) ? Model.AvailablePackages.Where(a => a.BundleName.Contains("iV").Equals(false)).Select(a => a.BundleName).Distinct().ToList() : Model.AvailablePackages.Select(a => a.BundleName).Distinct().ToList();
    if (Session["ContractType"] != null && Session["ContractType"].ToString2().Length > 0 && Session["ContractType"].ToString().ToUpper() == "EXTEND")
    {

        pgmBdls = (orderVM.BrandID <= 0) ? Model.AvailablePackages.Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList() : Model.AvailablePackages.Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList();
        bundleNames = (orderVM.BrandID <= 0) ? Model.AvailablePackages.Select(a => a.BundleName).Distinct().ToList() : Model.AvailablePackages.Select(a => a.BundleName).Distinct().ToList();
    }

    

    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" : string.Empty;
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    string activePlanId = string.Empty;
}
<style type="text/css">
    .plan-outerbox .plan-title
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #505865;
        font-weight: normal;
        text-align: center;
        width: 100%;
    }
    .plan-innerbox.focus .plan-title
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #ffffff;
        font-weight: normal;
        text-align: center;
        width: 100%;
    }
</style>
<!-- Centre column area -->
<div id="center">
    @using (Html.BeginForm("SelectCRPlan", "Registration", FormMethod.Post, new { id = "frmSelectCRPlan", @class = "overlayonsubmit", processmsg = "Loading" }))
    {
        <input type="hidden" id="hdnSelectedPlans"  value='@planId' />
        @Html.HiddenFor(a => a.TabNumber)
        @Html.HiddenFor(a => a.SelectedPgmBdlPkgCompID)
                       
                         
        <div class="header-title">
            CRP Plan Only
        </div>
    
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        <li style="display: table-cell; float: none;" class="selected">Plan</li>
                        <li style="display: table-cell; float: none;">Components</li>
                        <li style="display: table-cell; float: none;">Customer</li>
                        <li style="display: table-cell; float: none;">Summary</li>
                    </ul>
                </div>
            </div>
             <div class="content_white" style="padding: 1px 1px 10px 40px">
               
                    @Html.ValidationSummary(false)
               
            </div>
            <div class="content_white">
                


                <div style="display: block; padding: 0px 20px; margin: 0px auto;">
                <table width="500px">
                    <tr>
                        <td align="left" width="50%">
                            <b>Name:</b>&nbsp;@Session["AccountHolder"].ToString2()
                        </td>
                        <td align="right" width="50%">
                            <b>MSISDN:</b>&nbsp;@Session["ExternalID"].ToString2()
                        </td>
                    </tr>

                </table>
                    <div id="Plan_Error" class="ErrorClass" >
                    </div>
                    <div id="ui-plan">
                        @foreach (var bundleName in bundleNames)
                        {
                            if (Model.ActivePackages.Count > 0)
                            {
                                activePlanId = Model.ActivePackages[0].PackageID;
                            }
                            int index = 0;
                            var packages = Model.AvailablePackages.Where(a => a.BundleName == bundleName).ToList();
                            <h3>@pgmBdls.Where(a => a.bundleName == bundleName).SingleOrDefault().programName.ToUpper():
                                <span class="txt-18-black-normal">@bundleName</span></h3>
                            <div style="width: 100%; border-left: 1px solid #ccc;">
                                @foreach (var package in packages)
                                {
                                    if (package.KenanCode != activePlanId)
                                    {
                                        var btnPlanID = package.PgmBdlPkgCompID;
                                        var btnPlanDetails = "btnPlnDetails_" + package.PackageCode;
                                    <div class="plan-outerbox">
                                        <div  id="@btnPlanID" class="plan-innerbox" onclick="SelectedPackage(this,'@btnPlanID');" style="cursor:pointer;">
                                            @if (package.PackageName.Contains("-") == true)
                                            {
                                                string[] curPackage = package.PackageName.Trim().Split('-');
                                                <p class="plan-title" style="word-wrap:break-word;">@curPackage[0].Trim()</p>
                                                <p class="plan-status">@curPackage[1].Trim()</p>
                                            }
                                            else
                                            {
                                                <p class="plan-title" style="word-wrap:break-word;">@package.PackageName</p>
                                            }
                                             <div class="plan-viewmore">
                                                <a href="javascript:detailsPlans_OnClick('@btnPlanDetails')" id="popup-message" class="cboxElement">
                                                    View Plan</a></div>
                                        </div>
                                    </div>
                                            index += 1;
                                            if (index == packages.Count())
                                            { 
                                    <div style="clear: both;">
                                    </div>
                                            }


                                    }
                                }
                            </div>
                        }
                    </div>
                </div>
                <div style="height: 20px;">
                </div>
            </div>
            <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
                <div style="float: right; padding-right: 20px;">
                    <input class="submitButton" type="submit" value="Next Step: Components" onclick="$('#TabNumber').val(2);" />
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
         @Html.Partial("_footer")
    }
</div>
<div id="right">
    @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
</div>
@{
    Html.Telerik().Window()
        .Name("planDetailsWindow")
        .Title("Plan Details")
        .Width(700)
        .Height(600)
        .ClientEvents(events => events.OnActivate("PlanWindow_popup"))
        .Content(@<text>
    <table width="100%">
        <tr>
            <td>
                <img alt="" id="imgPlanDetails" src="@Url.Content("~/Content/images/Plan/MobileReg_.gif")" />
            </td>
        </tr>
    </table>
    </text>)
        .Modal(true)
        .Visible(false)
        .Render();
}
@section Scripts{
    <script type="text/javascript" language="javascript">

        function PlanWindow_popup() {
            $('#planDetailsWindow').data('t-window').center();
        }

        function SelectedPackage(target, planID) {
            $(".plan-innerbox").removeClass('focus');
            $(target).addClass('focus');
            $('#SelectedPgmBdlPkgCompID').val(planID);
            $('#Plan_Error').hide();
        }

        jQuery(function () {
            jQuery("#ui-plan").accordion({
                autoHeight: false
            });
            $("#ui-plan").accordion("option", "icons",
        		{ 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });
        });




        $.validator.methods.number = function (n, t) {
            return true;
        }

        $(document).ready(function () {

            //jQuery("#popup-message").colorbox({ iframe: true, innerWidth: 988, innerHeight: 500 });
            

        });
        //Highlight selected plan
        if ('@planId' != '0') {
            $('#SelectedPgmBdlPkgCompID').val('@planId')

            $('#' + '@planId').addClass('focus');
        }

        function detailsPlans_OnClick(btnPlanDetails) {

            var code = btnPlanDetails.substring(14);
            var src = $('#imgPlanDetails').attr("src");
            var indexFrom = src.indexOf("MobileReg_") + 10;
            var indexTo = src.indexOf(".gif");
            var oldCode = src.substring(indexFrom, indexTo);

            src = src.replace(oldCode, "");
            src = src.replace("MobileReg_", "MobileReg_" + code);
            $('#imgPlanDetails').attr("src", src);

            $('#planDetailsWindow').data('tWindow').center().open();
        }

       

    </script>
}
