﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.SubscriberICService;
@model Online.Registration.Web.ViewModels.ValueAddedServicesVM
@{
    ViewBag.Title = "Select a Contract and Optional VAS - Secondary";
    var extraTenCount = 0;
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    string arVasGroupIds = string.Empty;
    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" : "";
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var deviceFlag = (int)MobileRegType.DevicePlan;
    var dataContractGroupId = string.Empty;
    string extraTenKenanCode = System.Configuration.ConfigurationManager.AppSettings["ExtraTenKenanCode"].ToString2();
    if (System.Configuration.ConfigurationManager.AppSettings["DataContractGroupId"] != null)
    {
        dataContractGroupId = System.Configuration.ConfigurationManager.AppSettings["DataContractGroupId"].ToString();
    }
    var bundleGroupId = string.Empty;
    if (System.Configuration.ConfigurationManager.AppSettings["BundleGroupId"] != null)
    {
        bundleGroupId = System.Configuration.ConfigurationManager.AppSettings["BundleGroupId"];
    }

    var bundleGroupComponentId = string.Empty;
    if (System.Configuration.ConfigurationManager.AppSettings["BundleGroupComponentId"] != null)
    {
        bundleGroupComponentId = System.Configuration.ConfigurationManager.AppSettings["BundleGroupComponentId"];
    }

    var dataContractGroupComponentId = string.Empty;
    if (System.Configuration.ConfigurationManager.AppSettings["DatacontractGroupComponentId"] != null)
    {
        dataContractGroupComponentId = System.Configuration.ConfigurationManager.AppSettings["DataContractGroupComponentId"];
    }
    string selCompIds = Session["SelectedComponents_Seco"].ToString2();
    var selContr = Session["RegMobileReg_ContractID_Seco"].ToString2();
    var listPrevExtraTenMSISDNs = Session["ExtratenMobilenumbers"].ToString2();
    if (Session["VasGroupIds_Seco"] != null)
    {
        arVasGroupIds = Session["VasGroupIds_Seco"].ToString();
    }
    var vasPrimary = Session["SimType"].ToString2() == "MISM" ? "Value Added Services-Primary" : "Value Added Services";
    var vasSecondary = Session["SimType"].ToString2() == "MISM" ? "Value Added Services-Secondary" : "Value Added Services";

    string[] componentsArray = new string[] { "Offers", "Data Boosters", "Main", "Promotional", "Extra" };
    if (sessionRegType != (int)MobileRegType.PlanOnly && Session["DeviceType"].ToString2() == "Seco_WithDevice")
    {
        componentsArray = new string[] { "Offers", "Data Boosters", "Main", "Promotional", "Extra" };
    }
}

 @using (Html.BeginForm("SelectSecondaryVasNew", "Registration", FormMethod.Post, new { id = "frmSelectVAS", @class = "overlayonsubmit", processmsg = "Loading" }))
 { 
        <input type="hidden" id="hdnExtraTenGroupId" />
        <input type="hidden" id="hdnContractAssociatedVASID" />
        @Html.HiddenFor(a => a.TabNumberSeco)
        
        @Html.HiddenFor(a => a.TabNumber)
        @Html.HiddenFor(a => a.OfferIdSeco)
        @Html.HiddenFor(a => a.SelectedVasIDs)
        @Html.HiddenFor(a => a.ExtraTenMobileNumbers)
        @Html.HiddenFor(a => a.SelectedContractID)
        @Html.HiddenFor(a => a.uomCodeSeco)
        @Html.HiddenFor(a => a.priceSeco)
        @Html.HiddenFor(a => a.hdnGroupIds)

            
            <div class="container ipad-container">
		<div class="isell-base">
			<div class="row">
				<div class="col-sm-12">
					<h2>New registration: </h2>
					<h4> 
                    @if (SessionManager.Get("AcctAllDetails") != null)
                    {
                        retrieveAcctListByICResponse AcctListByICResponse = null;
                        AcctListByICResponse = (retrieveAcctListByICResponse)SessionManager.Get("AcctAllDetails");

                        if (AcctListByICResponse != null)
                        {
                            if (AcctListByICResponse.itemList != null)
                            {
                                           @AcctListByICResponse.itemList.Where(c => c.Account != null).ToList().FirstOrDefault().Account.Holder
                            }
                        }
                    }
                     </h4>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 green-bg">
					<p class="font-24">
                     @if (Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan)
                     {
                            @:Devices + Plan
                     }
                     else
                     {
                            @:Plan Only
                      }
                   </p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<ul class="steps">
						<li class="shownum">
							<div class="selected">1</div>
							<p>My Order</p>
						</li>
						<li>
							<div class="line"></div>
						</li>
						<li class="shownum">
							<div class="num">2</div>
							<p>My Details</p>
						</li>
						<li>
							<div class="line"></div>
						</li>
						<li class="shownum">
							<div class="num">3</div>
							<p>Order Summary</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 grey-bg">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs line-tab" role="tablist" id="line-type">
						<li  class="active"><a href="#principle" role="tab" data-toggle="tab">Principle Line<span class="active-green-arrow"></span></a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="principle"><div class="row">
							<div class="col-sm-12">
								<p class="back-prev"><a href="#"><span>&lt;</span> Back to select VAS</a></p>
							</div>
						</div>
						<div class="row top=border">
							<div class="col-sm-12">
								<p class="device-title"><span>Step 03:</span> Choose the Value-Added Services you want to add to your plan</p>
							</div>
						</div>
						<div class="row border-top">
                         <div id="divError" style="color: Red;">
                            @Html.ValidationSummary(false)
                        </div>
                         <div id="Plan_Error" class="ErrorClass">
                         </div>
							<div class="col-sm-9 del-left-pad" id="show-plan">
								<div class="col-sm-12 vas-list">

                                        @foreach (var component in componentsArray)
                                        {

                                            List<AvailableVAS> components = new List<AvailableVAS>();
                                            string curComponent = component.ToString();
                                            switch (curComponent)
                                            {
                                                case "Main":
                                                    components = Model.AvailableVASes;
                                                    break;
                                                case "Data Boosters":
                                                    components = Model.DataVASes;
                                                    break;
                                                case "Extra":
                                                    components = Model.ExtraComponents;
                                                    break;
                                                case "Promotional":
                                                    components = Model.PramotionalComponents;
                                                    break;
                                                default: break;
                                            }
                                            String outerClass = String.Empty;
                                            if (curComponent.ToString() == "Data Boosters")
                                            {
                                                outerClass = "col-sm-12 data-list";
                                            }
                                            else
                                            {
                                                outerClass = "col-sm-12 other-list";
                                            }
                                            <div class="@outerClass">
                                             <h3>@curComponent</h3>
                                             <ul class="@outerClass">
                                             

                                             @if (curComponent.ToString() == "Offers")
                                             {
                                                 if (Model.ContractOffers != null && Model.ContractOffers.Count > 0)
                                                 {

                                                     foreach (var offer in Model.ContractOffers)
                                                     {
                                                         string kenanCode = offer.KenanComponent1Id != null ? offer.KenanComponent1Id : "-1";
                                                         var btnConVASID = "btnConVAS_" + offer.Id + "_" + kenanCode;
                                                         var btnPlanID = offer.Id;
                                                         
                                                        <li class="col-sm-2" id="@btnConVASID" onclick="SelectedOfferVAS('@btnConVASID','@offer.Id','@offer.Price','@offer.UOMCode');">
												            @offer.OfferName.ToString2().Replace("-", "- ").Replace("+", "+ ")
											            </li>
                                                     }

                                                 }
                                                 else
                                                 {
                                                    <li class="col-sm-2">
                                                        &nbsp;Not Available</li>
                                                 }

                                             }
                                             else
                                             {
                                                 if (components != null && components.Count > 0 && !(curComponent.ToLower() == "Extra".ToLower()))
                                                 {

                                                     if (curComponent.ToString() == "Data Boosters")
                                                     {
                                                         foreach (var comp in components)
                                                         {
                                                             var groupId = (comp.GroupId != null ? comp.GroupId : -1);
                                                             string kenanCode = (comp.KenanCode != null ? comp.KenanCode : "-1");
                                                             var btnVASID = "btnVAS_" + comp.PgmBdlPkgCompID + "_" + kenanCode;
                                                             string compId = comp.PgmBdlPkgCompID.ToString();
                                                             if (selCompIds.Contains(compId) == true)
                                                             {
                                                                    <li class="col-sm-2 included" id='@btnVASID' onclick="SelectedNewVAS('@btnVASID','@comp.PgmBdlPkgCompID','@groupId');">
												                       @comp.ComponentName<span>(Included)</span>
											                        </li>
                                                             }
                                                             else
                                                             {
                                                                    <li class="col-sm-2" id='@btnVASID'  onclick="SelectedNewVAS('@btnVASID','@comp.PgmBdlPkgCompID','@groupId');">
												                       @comp.ComponentName
											                        </li>
                                                             }

                                                         }
                                                     }
                                                     else
                                                     {
                                                         foreach (var comp in components)
                                                         {
                                                             string ListExtraComponents = System.Configuration.ConfigurationManager.AppSettings["ExcludeMainComponentListForMISM"].ToString2();
                                                             var ExtraComponent = ListExtraComponents.Split(',');
                                                             if (!ExtraComponent.Contains(comp.KenanCode))
                                                             {
                                                                 var groupId = (comp.GroupId != null ? comp.GroupId : -1);
                                                                 string kenanCode = (comp.KenanCode != null ? comp.KenanCode : "-1");
                                                                 var btnVASID = "btnVAS_" + comp.PgmBdlPkgCompID + "_" + kenanCode;
                                                                 string compId = comp.PgmBdlPkgCompID.ToString();
                                                                    if (selCompIds.Contains(compId) == true)
                                                                    {
                                                                        <li class="col-sm-2 included" id='@btnVASID' onclick="SelectedNewVAS('@btnVASID','@comp.PgmBdlPkgCompID','@groupId');" >
												                           @comp.ComponentName<span>(Included)</span>
											                            </li>
                                                                    }
                                                                    else
                                                                    {
                                                                         <li class="col-sm-2 " id='@btnVASID' onclick="SelectedNewVAS('@btnVASID','@comp.PgmBdlPkgCompID','@groupId');" >
												                           @comp.ComponentName
											                            </li>
                                                                    }
                                                             }

                                                         }
                                                     }
                                                 }
                                                 else
                                                 {
                                                        <li class="col-sm-2">
                                                            &nbsp;Not Available</li>
                                                 }
                                             }
                                                </ul>
                                                </div>
                                        }
								</div>
                              	</div>
								
								<div class="col-sm-3" id="order-summary">
                                    @{
                                        var orderVM = new OrderSummaryVM();

                                        if ((OrderSummaryVM)Session["RegMobileReg_OrderSummary"] != null)
                                        {
                                            orderVM = (OrderSummaryVM)Session["RegMobileReg_OrderSummary"];
                                        }
                                        var viewBagValue = new ViewDataDictionary();
                                        viewBagValue.Add("FxInternalCheckMessage", ViewBag.FxInternalCheckMessage == null ? "" : ViewBag.FxInternalCheckMessage);
                                        viewBagValue.Add("SearchBy", ViewBag.SearchBy == null ? "" : ViewBag.SearchBy);
                                        viewBagValue.Add("SearchValue", ViewBag.SearchValue == null ? "" : ViewBag.SearchValue);
                                        Html.RenderPartial("_NewOrderSummary", orderVM, viewBagValue);
                                    }
                                </div>
								</div>
								<div class="row">
									<div class="col-sm-6">
									</div>
									<div class="col-sm-6">
									</div>
								</div>   </div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 process-btn">
							<footer>
								<navi>
									<div class="container-fluid">
										<div class="row">

                                             @if (Session["GuidedSales_Type"] != null && Session["GuidedSales_Type"] != "")
                                            {
                                                if (Convert.ToInt32(Session["GuidedSales_Type"]) != MobileRegType.PlanOnly.ToInt())
                                                {
                                                  <div class="col-sm-1" id="back">
												    <div class="btn isell-btn" id="btnNext" onclick="$('#TabNumber').val(@MobileRegistrationSteps.CustomerPersonalDetails.ToInt());">< Back</div>
											    </div>
                                                }
                                            }
                                             else
                                             {
                                                 <div class="col-sm-1" id="back">
												    <div class="btn isell-btn" id="btnNext" onclick="$('#TabNumber').val(@RegistrationSteps.SecoPlan.ToInt());getDependencyComponents();">< Back</div>
											    </div>
                                             }
                                            @if (sessionRegType == (int)MobileRegType.DevicePlan && Convert.ToString(Session["SimType"]) == "MISM" && Session["DeviceType"].ToString2() == "Seco_NoDevice")
                                            {
                                                <div class="btn isell-next" id="btnNext" onclick="$('#TabNumber').val(@RegistrationSteps.MobileNo.ToInt());getDependencyComponents();" >Next Step: Number <span>></span></div>   
                                            }
                                            else if (sessionRegType == (int)MobileRegType.DevicePlan && Convert.ToString(Session["SimType"]) == "MISM")
                                            {
                                                <div class="btn isell-next" id="btnNext" onclick="callcantract();"  >Next Step: Number <span>></span></div>   
                                            }
                                            else if (sessionRegType == (int)MobileRegType.PlanOnly && Convert.ToString(Session["SimType"]) == "MISM")
                                            {
                                                 <div class="btn isell-next" id="btnNext" onclick="$('#TabNumber').val(@RegistrationSteps.MobileNo.ToInt());getDependencyComponents();"  >Next Step: Number <span>></span></div> 
                                            }
                                            else if (sessionRegType != (int)MobileRegType.PlanOnly)
                                            {
                                                <div class="btn isell-next" id="btnNext" onclick="callcantract();"  >Next Step: Number <span>></span></div> 
                                            }
                                            else
                                            {
                                                 <div class="btn isell-next" id="btnNext" onclick="$('#TabNumber').val(@MobileRegistrationSteps.MobileNo.ToInt());getDependencyComponents();" >Next Step: Number <span>></span></div> 
                                            }
                                           
											</div>


										</div>
									</navi>
								</footer>
							</div>
						</div>
					</div>

                              <!-- Modal Extra Ten-->
								<div class="modal fade" id="extraTen-pop" tabindex="-1" role="dialog" aria-labelledby="plan-details" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content cancel-step">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span class="close-btn">Close</span></button>
											</div>
											<div class="modal-body">
                                            <div class="sm-col-12">Extra Ten</div>
                                            <div class="ErrorClass" style="display: block;" id="ExtratenPlan_Error">
                                             </div>
                                             <div id="divExtraTen">
                                                    @for (int i = 0; i < 10; i++)
                                                    {

                                                        var divId = "divExtraTen_" + i;
                                                        var txtId = "txtExtraTen_" + i;
                                                        var delbtnId = "btnDeleteExtraTen_" + i;

                                                        var lblSnoId = "lblSno_" + i;

                                                        extraTenCount++;
                    
                                                        <div id='@divId' style="padding-bottom:10px;" >
                                                            <span style="width: 20px;
                                                                 display: inline-block; text-align: center;">@extraTenCount.ToString()</span>
                                                           <input class="TxtBox" type="text" id=@txtId tabindex="1" />
                                                            <input class="DelBtn" style="display:none;" type="button" onclick='deleteExtraTen(this);' id=@delbtnId value="" />
                                                        </div>
                    
                                                    }
                                                </div>
												<div class="Controller" style="display: none;">
                                                    <input type="button" class="AddMoreBtn" id="btnAddMore" tabindex="1" onclick="addExtraTenDiv();"
                                                        value="" />
                                                </div>

                                                <ul class="sm-col-12 kill-padding">
													    <a href="#" class="pop-btn" >
														<li class="sm-col-6" id="btnSaveExtraTen" onclick="return validateExtraTen();">
															Save
														</li>
													</a>
													<a href="#" class="pop-btn">
														<li class="sm-col-6" onclick="cancelExtraTen();" id="btnCancelExtraTen">
															Cancel
														</li>
													</a>
												</ul>
											</div>
											<div class="modal-footer">  </div>
										</div>
									</div>
								</div>
				        </div>
               
 }

  <script type="text/javascript">

      $(document).ready(function () {

          if ('@(arVasGroupIds)' != '') {

              $('#hdnGroupIds').val('@(arVasGroupIds)');

          }
          //Highlight selected VAS
          var arrVasID = $('#SelectedVasIDs').val().split(',');
          $.each(arrVasID, function (index, value) {
              if (value != ' ' || value != ',') {
                  $('#btnVAS_' + value).css("border-style", "solid");
              }
          });


          if ('@(listPrevExtraTenMSISDNs)' != '') {

              $('#ExtraTenMobileNumbers').val('@(listPrevExtraTenMSISDNs)');

              var panel = $("#divExtraTen");
              var childDivs = panel.find("div");
              var objListMSISDNs = $('#ExtraTenMobileNumbers').val().split(',');
              $('#hdnExtraTenCount').val(childDivs.length);
              if (objListMSISDNs.length <= childDivs.length) {

                  for (var i = 0; i < childDivs.length; i++) {

                      var txtElement = $('#' + childDivs[i].id).find('input[type="text"]');
                      if (txtElement != null)
                          txtElement.val(objListMSISDNs[i]);

                  }

              }
              else {

                  for (var i = 0; i < (objListMSISDNs.length - childDivs.length); i++) {
                      var index = parseInt($('#hdnExtraTenCount').val()) + 1;
                      var divId = "divExtraTen_" + index;
                      var txtId = "txtExtraTen_" + index;
                      var delbtnId = "btnDeleteExtraTen_" + index;
                      var lblSnoId = "lblSno_" + childDivs.length + 1;
                      $("#divExtraTen").append("<div class='Controller Row' id='" + divId + "' ><label class='NumL' id='" + lblSnoId + "'>" + (parseInt(childDivs.length + 1)) + "</label><input class='TxtBox' type='text' id='" + txtId + "' /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='" + delbtnId + "' /></div>");
                      $('#hdnExtraTenCount').val(index + 1);

                  }
                  childDivs = panel.find("div");
                  for (var i = 0; i < childDivs.length; i++) {

                      var txtElement = $('#' + childDivs[i].id).find('input[type="text"]');
                      if (txtElement != null)
                          txtElement.val(objListMSISDNs[i]);

                  }


              }

          }

          var contractID = $('#SelectedContractID').val();
          if (contractID != ' ' || contractID != '') {
              $('#btnConVAS_' + contractID).css("border-style", "solid");
          }
      });


      function addExtraTenDiv() {
          var index = parseInt($('#hdnExtraTenCount').val()) + 1;
          var divId = "divExtraTen_" + index;
          var txtId = "txtExtraTen_" + index;
          var delbtnId = "btnDeleteExtraTen_" + index;

          var panel = $("#divExtraTen");
          var childDivs = panel.find("div");
          var lblSnoId = "lblSno_" + childDivs.length + 1;
          $("#divExtraTen").append("<div class='Controller Row' id='" + divId + "' ><label class='NumL' id='" + lblSnoId + "'>" + (childDivs.length + 1) + "</label><input class='TxtBox' type='text' id='" + txtId + "' /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='" + delbtnId + "' /></div>");
          $('#hdnExtraTenCount').val(parseInt(index) + 1);

      }

      function deleteExtraTen(delbtn) {
          var delbtnId = delbtn.id;


          var panel = $("#divExtraTen");
          var childDivs = panel.find("div");

          if (childDivs.length > 1) {
              $('#' + delbtnId).parent().remove();

          }
          else {
              alert("Atleast one mobile number has to be entered for Extra Ten");
              return false;
          }
          ResetSerialNo();
      }

      function ResetSerialNo() {
          var panel = $("#divExtraTen");
          var childDivs = panel.find("div");
          for (var i = 0; i < childDivs.length; i++) {
              var curDivId = childDivs[i].id;
              $('#' + curDivId).children(':first-child').html(i + 1);
          }
      }


      function cancelExtraTen() {
          //$('#extraTenWindow').data('tWindow').close();
          $('#extraTen-pop').modal('hide');
      }



      function extraTenWindowOnOpen() {
      }

      function validateExtraTen() {

          var panel = $("#divExtraTen");
          var childDivs = panel.find("div");
          var objListMSISDNs = "";
          var mobregex = /^60[0-9]{8,10}$/;
          for (var i = 0; i < childDivs.length; i++) {

              var txtElement = $('#' + childDivs[i].id).find('input[type="text"]');
              if (txtElement.val() != "") {
                  if (!mobregex.test(txtElement.val())) {
                      $('#ExtratenPlan_Error').show();
                      $('#ExtratenPlan_Error').html("Please enter valid MSISDN number");
                      return false;
                  }
              }

              if (txtElement.val() != "") {
                  if (objListMSISDNs.indexOf(txtElement.val()) == -1) {
                      if (objListMSISDNs != "")
                          objListMSISDNs = objListMSISDNs + "," + txtElement.val();
                      else
                          objListMSISDNs = txtElement.val();
                  }
                  else {
                      $('#ExtratenPlan_Error').show();
                      $('#ExtratenPlan_Error').html("Please enter unique mobile numbers");
                      return false;
                  }


              }



          }

          var url = '@(Url.Content("~/Registration/validateExtraTenMSISDN"))';

          $.post(url, { arrMSISDNs: objListMSISDNs }, function (data) {
              if (data.toString() != '') {
                  $('#ExtratenPlan_Error').show();
                  $('#ExtratenPlan_Error').html("Please enter valid maxis mobile number for " + data.toString());
                  return false;
              }
              else if (data.toString() == '') {
                  var url1 = '@(Url.Content("~/Registration/validateExtraTenMSISDNAgainstAccount"))';

                  $.post(url1, { arrMSISDNs: objListMSISDNs }, function (data) {

                      if (data.toString() != '') {
                          $('#ExtratenPlan_Error').show();
                          $('#ExtratenPlan_Error').html("Please renter " + data.toString() + " as these are already part of your account");
                          return false;
                      }
                      else if (data.toString() == '') {
                          $('#ExtraTenMobileNumbers').val(objListMSISDNs);
                          //$('#extraTenWindow').data('tWindow').close();
                          $('#extraTen-pop').modal('hide');
                      }
                  }, "text");
              }

          }, "text");



      }

      function OfferWindowOnOpen() {
          $('#OrderId').val('');
      }

      function validateOffer() {
          var selOfferVal = $("#tlkddlDetOffers").data("tDropDownList").value();
          if (selOfferVal == -1) {
              alert("Please Select Offer");
              return false;
          }
          else {
              SetComponentIds();
              var compIds = $('#SelectedVasIDs').val();
              var url = '@(Url.Content("~/Registration/GetDepenedencyComponents"))';
              $.post(url, { componentIds: compIds }, function (data) {

                  if (data.toString() != "") {
                      $('#SelectedVasIDs').val(data);
                  }
                  $("#frmSelectVAS").submit();

                  return true;
              }, "text");
          }
      }

      function SetComponentIds() {
          $('#SelectedVasIDs').val('');
          $('li[id^="btnVAS_"]').each(function (i) {
              var curBtnId = $(this).attr("id");
              var curbtnBorder = document.getElementById(curBtnId).style.borderStyle;
              var curKenanCode = curBtnId.toString().split('_')[2];
              var curCompId = curBtnId.toString().split('_')[1];
              if ($('#' + curBtnId).hasClass("selected-vas").toString() == "true") {
                  $('#SelectedVasIDs').val($('#SelectedVasIDs').val() + curCompId + ",");
                  if (curKenanCode == '@(extraTenKenanCode)') {
                      $('#hdnExtraTenFlag').val('true');
                  }
              }

          });
      }
      function SelectedOffer() {

          var selOfferVal = $("#tlkddlDetOffers").data("tDropDownList").value();

          if (selOfferVal != "-1") {
              $('#OfferIdSeco').val(selOfferVal.toString().split(',')[0]);
              $('#priceSeco').val(selOfferVal.toString().split(',')[1]);
              $('#uomCodeSeco').val(selOfferVal.toString().split(',')[2]);

          }
      }

      function callcantract() {
          debugger;
          var contractID = $('#SelectedContractID').val();

          if (contractID == '' || contractID == ' ' || contractID == undefined) {
              console.log('Testing');
              alert('Please Select a Contract');
              $('#TabNumber').val(3);
              return false;
          }
          else if (contractID != '') {
              $('#TabNumber').val(4);
              $('#TabNumberSeco').val(6);
          }
          var offersUrl = '@(Url.Content("~/Registration/OfferByDevicePlanAndContractNoIdSeco"))';
          $.post(offersUrl, { contractId: contractID }, function (data) {

              var dropDownList = $('#tlkddlDetOffers').data('tDropDownList');
              dropDownList.dataBind(data);

              dropDownList.select(0);

          }, "json");

          $('#offerDetailsWindow').data('tWindow').center().open();
      }



      function SelectedVAS(btnVasID, vasID) {
          var vasFound = false;
          var arrVasID = $('#SelectedVasIDs').val().split(',');

          if ($.isArray(arrVasID)) {
              arrVasID = jQuery.grep(arrVasID, function (value) {
                  if (value == vasID) {
                      vasFound = true;
                  }
                  return value != vasID;
              });
          }
          if (vasFound) {

              $(btnVasID).css("border-style", "none");

              var newVasIDs = '';
              $.each(arrVasID, function (index, value) {
                  if (value != ' ' || value != ',') {
                      newVasIDs = newVasIDs + value + ',';
                  }
              });
              $('#SelectedVasIDs').val(newVasIDs);
          }
          else {
              $('#SelectedVasIDs').val($('#SelectedVasIDs').val() + vasID + ',');
              $(btnVasID).css("border-style", "solid");
          }
      }



      if ('@(selCompIds)' != '') {
          $('#SelectedVasIDs').val('@(selCompIds)');
      }
      if ('@(selContr)' != '') {
          $('#SelectedContractID').val('@(selContr)');
          var url = '@(Url.Content("~/Registration/GetGroupIdForAutoBoundContractComponent"))';
          $.post(url, { contractId: $('#SelectedContractID').val() }, function (data) {
              if (data.toString() != "") {
                  $('#hdnContractAssociatedVASID').val(data);
              }
          });
      }
      function getDependencyComponents() {
          SetComponentIds();
          var compIds = $('#SelectedVasIDs').val();
          var url = '@(Url.Content("~/Registration/GetDepenedencyComponents"))';
          $.post(url, { componentIds: compIds }, function (data) {
              if (data.toString() != "") {
                  $('#SelectedVasIDs').val(data);

              }
              var vasFound = false;
              var arrVasID = $('#SelectedVasIDs').val().split(',');
              if ($.isArray(arrVasID)) {
                  arrVasID = jQuery.grep(arrVasID, function (value) {
                      if (value == '2239') {
                          vasFound = true;
                      }
                      return value != '2239';
                  });
              }

              if (vasFound)
                  $('#hdnExtraTenFlag').val('true');

              if ($('#hdnExtraTenFlag').val() == 'true') {
                 // $('#extraTenWindow').data('tWindow').center().open();
                  $('#extraTen-pop').modal('show');
              }
              else
              //$('#offerWindow').data('tWindow').center().open();
              //document.forms["frmSelectVAS"].submit();
                  $("#frmSelectVAS").submit();
          });
      }



      //New Javascript Function By VLT For Grouping of Components Check on APR 21 2013
      function SelectedNewVAS(objBtnId, objvasID, objGroupId) {
          if (objvasID == '2239') {
              $("#hdnExtraTenGroupId").val(objGroupId);
          }

          var vasFound = false;

          var arrVasID = $('#SelectedVasIDs').val().split(',');

          if ($.isArray(arrVasID)) {
              arrVasID = jQuery.grep(arrVasID, function (value) {
                  if (value == objvasID) {
                      vasFound = true;
                  }
                  return value != objvasID;
              });
          }

          if (vasFound) {

              if (objvasID == '2239') {
                  $('#hdnExtraTenFlag').val('');

              }

              $('#' + objBtnId).removeClass('selected-vas');
              $('#' + objBtnId).removeClass('included');
              var modGroupIds = $('#hdnGroupIds').val().toString().replace(objGroupId + ",", "");
              $('#hdnGroupIds').val(modGroupIds);
              var newVasIDs = '';
              $.each(arrVasID, function (index, value) {
                  if (value != "" && value != ',') {
                      newVasIDs = newVasIDs + value + ',';
                  }
              });

              $('#SelectedVasIDs').val(newVasIDs);
          }
          else {

              if (objvasID == '2239') {
                  $('#hdnExtraTenFlag').val('true');

              }

              if ($('#hdnContractAssociatedVASID').val().indexOf(objGroupId) != -1) {
                  $('#Plan_Error').html("Dependency Check Fail: Duplicate of Product Mobile – APN=UNET/3G Found, please unselect it from the Data Components section.")
                  $("html, body").animate({ scrollTop: 0 }, "slow");
                  return;

              }

              var curbtnBorder = $('#' + objBtnId).css('border-style');

              if (objGroupId == -1) {
                  if ($('#' + objBtnId).hasClass("selected-vas").toString() == "true") {
                      $('#' + objBtnId).removeClass('selected-vas');

                      //Remove Vas Ids
                      var curVasIds = $('#SelectedVasIDs').val();
                      curVasIds = curVasIds.toString().replace(objvasID + ",", "");
                      $('#SelectedVasIDs').val(curVasIds);
                  }
                  else {
                      $('#' + objBtnId).addClass('selected-vas');
                      $('#SelectedVasIDs').val($('#SelectedVasIDs').val() + objvasID + ',');
                  }

                  return;
              }

              var CurGroupIds = $('#hdnGroupIds').val();
              if ($('#' + objBtnId).hasClass("selected-vas").toString() == "true") {
                  $('#' + objBtnId).removeClass('selected-vas');
                  //Remove Group Ids
                  CurGroupIds = CurGroupIds.toString().replace(objGroupId + ",", "");
                  $('#hdnGroupIds').val(CurGroupIds);

                  //Remove Vas Ids
                  var curVasIds = $('#SelectedVasIDs').val();
                  curVasIds = curVasIds.toString().replace(objvasID + ",", "");
                  $('#SelectedVasIDs').val(curVasIds);
                  return;
              }
              if (CurGroupIds != '') {
                  if (CurGroupIds.indexOf(objGroupId) == -1) {
                      CurGroupIds += objGroupId + ",";
                  }
                  else {
                      $('#Plan_Error').html("Please Select only one Component from Each Group")
                      $("html, body").animate({ scrollTop: 0 }, "slow");
                      return;
                  }
              }
              else {
                  CurGroupIds = objGroupId + ",";
              }

              $('#' + objBtnId).addClass('selected-vas');
              $('#hdnGroupIds').val(CurGroupIds);

              if (!checkDuplicate($('#SelectedVasIDs').val(), objvasID)) {
                  $('#SelectedVasIDs').val($('#SelectedVasIDs').val() + objvasID + ',');
              }
          }
      }


      function checkDuplicate(arrVasID, objvasID) {
          if ($.isArray(arrVasID)) {
              arrVasID = jQuery.grep(arrVasID, function (value) {
                  if (value == objvasID) {
                      return true;
                  }
                  return value != objvasID;
              });
          }
      }
    </script>