﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.SubscriberICService;
@model Online.Registration.Web.ViewModels.MobileNoVM
@{
    ViewBag.Title = Session["SimType"].ToString2() == "MISM" ? "Select a Preferred Number - Primary" : "Select a Preferred Number";
    /*For checking the MSISDN whether valid or not valid by chetan*/
    var invchk = !ReferenceEquals(Request.QueryString["invchk"], null) ? Request.QueryString["invchk"] : "True";
    var extraTenCount = 0;
    var listPrevExtraTenMSISDNs = Session["ExtratenMobilenumbers"].ToString2();
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    WebHelper.Instance.clearApprovalCheckboxes();
    
}
<div class="container ipad-container">
    @using (Html.BeginForm("SelectMobileNoNew", "Registration", FormMethod.Post, new { id = "frmSelectMobileNo", processmsg = "Loading" }))
    {
        @Html.HiddenFor(a => a.TabNumber)
        @Html.HiddenFor(a => a.ExtraTenMobileNumbers)
        @Html.Hidden("submit1")
        @Html.Hidden("DesireNo")
        @Html.Hidden("ddlPrefix")
        @Html.Hidden("validateAgentCode", null)
        @Html.Hidden("salesAgentCode")

         <input type="hidden" name="hdnNumberType" id="hdnNumberType" value="n" />
         <input type="hidden" name="SimSize" id="SimSize" />
        <div class="isell-base">
             @{
                var viewBagVal = new ViewDataDictionary();
                viewBagVal.Add("Flow", "Registration");
                
                Html.RenderPartial("_MobileNoHeader", Model, viewBagVal);
                viewBagVal.Add("SearchError", Html.ValidationSummary(false));
                viewBagVal.Add("GSTnotif", ViewBag.GSTnotif);
                viewBagVal.Add("GSTMark", ViewBag.GSTMark);
                Html.RenderPartial("_MobileNoDetails", Model, viewBagVal);
                
               }
               
            <div class="row">
                <div class="col-sm-12 process-btn">
                    <footer>
                       <navi>
                          <div class="container-fluid">
                              <div class="row">
                                <div class="col-sm-1" id="back">
                                    <div class="btn isell-btn" onclick="$('#TabNumber').val(3);submitForm()">< Back</div>
                                </div>
                               @if (Session["FromPromoOffer"].ToString2() != "1")
                               { 
                                    <div class="col-sm-9" id="cancel">
                                        <div class="btn isell-btn"  data-toggle="modal" data-target="#cancel-pop" >< Cancel</div>
                                    </div>    
                               }
           
                                 @if (Model != null && Model.AvailableMobileNos.Count > 0)
                                 {
                                    <div class="col-sm-2">
                                        <div class="btn isell-next" data-target="#sim-type" data-toggle="modal">Next <span>></span></div>
                                    </div>   
                                 }  
         
                                <input type="hidden" name="flowHidden" id="flowHidden" value="None" />                
                          </div>
                       </navi>   
                    </footer>
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    function SelectedSimType(simSize) {
        $('#SimSize').val(simSize)
    }

    var numberType = '@Request.QueryString["numberType"].ToString2()';

    function SelectedMobile(target, mobileNo) {
        $(".number-innerbox").removeClass('focus');
        $(target).addClass('focus');
        $('#SelectedMobileNo').val(mobileNo);
    }

    function SelectedFlow(target, str) {
        $('#flowHidden').val(str);
        submitFormData();
    }


    $(document).ready(function() {

        $('#overlay').click(function(e) {
            $(this).hide();
        });

        $('#nestedOverlay').click(function(e) {
            e.preventDefault();
            return false;
        });

        if ($("#tdPrefix").show()) {
            $("#DesireNoSelected").attr("maxlength", "7");
        }
        $("#reserveNumber").attr("maxlength", "12");

//        if (numberType == "r" || numberType == "g") {
//            $("#DesireNoSelected").attr("maxlength", "12");
//            $('#spnDesireTitle').html('Desire MSISDN (10-12 digits):');
//            $('#tdPrefix').hide();

//            $('.number-outerbox:first div').click();
//        }
        $("#DesireNo").val('@Request.QueryString["desireNo"].ToString2()');

        var noPrefix = '@Request.QueryString["prefix"].ToString2()';
        $('#ddlPrefix').val(noPrefix);


        //Code added by vlt for selecting Mobile No
        $('#btnContinue').click(function() {
            if ($('#SelectedMobileNo').val().length == 0) {
                $('#dvError').html('Please select a number.');
                $("html, body").animate({
                    scrollTop: 0
                }, "slow");
                $('#dvMSISDNErr').hide();
                return false;
            }
            $('#dvError').html('');
            var curReserSrc = $('#reserveNumber').val();

            if (($('#reserveNumber').val() != '')) {
                desire = $('#reserveNumber').val();
                $('#hdnNumberType').val('r');
            } else {
                $('#hdnNumberType').val('n');
            }
            $('#TabNumber').val(@(Convert.ToString(Session["SimType"]) == "MISM" ? RegistrationSteps.PersonalDetails.ToInt() : MobileRegistrationSteps.PersonalDetails.ToInt()));
            $('#frmSelectMobileNo').submit();
            return true;

        });
        //End of Code added by vlt for selecting Mobile No

    });
    // end document.ready


    function submitFormData() {
        var popUpShown = $('#sim-type').data('bs.modal').isShown;
        if ($('#SelectedMobileNo').val().length == 0) {
            if (popUpShown == true)
                $('#sim-type').modal('hide');

            $('#dvError').html('Please select a number.');
            $("html, body").animate({
                scrollTop: 0
            }, "slow");
            $('#dvMSISDNErr').hide();
            return false;
        }

        if ($('#SimSize').val().length == 0) {
            if (popUpShown == true)
                $('#sim-type').modal('hide');

            $('#dvError').html('Please select Sim Size.');
            $("html, body").animate({
                scrollTop: 0
            }, "slow");
            $('#dvMSISDNErr').hide();
            return false;
        }

        $('#dvError').html('');
        var curReserSrc = $('#reserveNumber').val();

        if (($('#reserveNumber').val() != '')) {
            desire = $('#reserveNumber').val();
            $('#hdnNumberType').val('r');
        } else {
            $('#hdnNumberType').val('n');
        }

        $("#hdnNumberType").val('@Request.QueryString["numberType"].ToString2()');
        if($("#hdnNumberType").val() == ''){
            $("#hdnNumberType").val('n');
        }

        $('#TabNumber').val(@(Convert.ToString(Session["SimType"]) == "MISM" ? RegistrationSteps.PersonalDetails.ToInt() : MobileRegistrationSteps.PersonalDetails.ToInt()));
        $('#frmSelectMobileNo').submit();
        return true;

    }



    // Begin Code added by VLT on 12 apr 2013
    function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                $('#dvError').html("Please Enter Only Numbers.");
                $("html, body").animate({
                    scrollTop: 0
                }, "slow");
                return false;
            }
            $('#dvError').html('');
            return true;
        }
        // End Code added by VLT on 12 apr 2013


    function ValidateDesireNo() { debugger;
        var length = $("#DesireNoSelected").val().length;
        var desire = '';
        //Number type changes on Mar 27 2014 by ravi 
        var curReserSrc = $('#reserveNumber').val();
        // var curGoldSrc =$('#btnGolden:first img').val();
        if (($('#reserveNumber').val() != '')) {
            desire = $('#reserveNumber').val();
            $('#hdnNumberType').val('r');
        } else {
            desire = $("#DesireNoSelected").val();
            $('#hdnNumberType').val('n');
        }

        $('#validateAgentCode').val('false');
        var isValidMsisdn = true;
        var errorMessage = "";

        if ($('#hdnNumberType').val().toString() == "r" || $('#hdnNumberType').val().toString() == "g") {
            if (desire.length < 10 || desire.length > 12) {
                isValidMsisdn = false;
                errorMessage = "Please Enter Complete MSISDN Number."
            }
        } else {
            isValidMsisdn = ((length < 3 && length != 0) ? false : true);
            errorMessage = 'Desire No must have at least 3 digits.'
        }
        if (isValidMsisdn == false) {
            $('#dvError').html(errorMessage);
            $("#DesireNoSelected").focus();
            $("html, body").animate({
                scrollTop: 0
            }, "slow");
            return false;
        } else {
            $('#submit1').val('search');
            $('#dvError').html('');
            $('#DesireNo').val(desire);
            $("#frmSelectMobileNo").submit();
        }
    }


    $("#DesireNoSelected").keypress(function(e) {
        if (e.keyCode == 13) {
            $('#submit1').val('search');
        }
    });

    if (parseInt('@Model.AvailableMobileNos.Count') <= 0 && (numberType == "n" || numberType == "")) {
        $('#dvError').html('No MSISDN(s) found for the below criteria.');
        $("html, body").animate({
            scrollTop: 0
        }, "slow");
    }

    $('#ddlPrefixlist li a').click(function(e) {
        e.preventDefault();
        $('#ddlPrefixSelected').text($(this).text());
        $('#ddlPrefix').val($(this).data('value'));
    });

    $('#reserveNumber').keyup(function(e) {
        if (e.keyCode == 13) {
            ValidateDesireNo();
        }
    });

    function CancelPopUp() {
        $('#cancel-pop').modal('hide');
    }

    function submitForm() {
        $("#frmSelectMobileNo").submit();
    }
</script>
