﻿@using Online.Registration.Web.Helper;
@model Online.Registration.Web.ViewModels.AccessoriesVM

@{
    ViewBag.Title = "Maxis iSELL Portal - Accessory";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    var fromIpad = Request.Headers["User-Agent"].ToLower().Contains("ipad");
    var containerClass = fromIpad ? "container-fluid ipad-container" : "container";
    var viewBagAccessory = new ViewDataDictionary();
    viewBagAccessory.Add("imageURLForAccessory", ViewBag.imageURLForAccessory);
    viewBagAccessory.Add("ErrorMessage", ViewBag.ErrorMessage);
    viewBagAccessory.Add("HardStopMessage", ViewBag.HardStopMessage);
}

@using (Html.BeginForm("SelectAccessory", "Registration", FormMethod.Post, new { id = "frmSelectAccessory", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    @Html.Hidden("TabNumber");
    @Html.Hidden("ButtonClicked");
    <div class="@containerClass">
        <div class="isell-base">
            @{
                Html.RenderPartial("_AccountHolderName");
            }
            <div class="row">
                <div class="col-sm-12 green-bg">
                    <p class="font-24">
                        Select Accessory
                    </p>
                </div>
            </div>
            @{ 
                Html.RenderPartial("_OrderFlow");
            }
            <div class="row">
                <div class="col-sm-12 grey-bg">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs line-tab" role="tablist">
                        <li class="active">
                            <a href="#principle" role="tab" data-toggle="tab">@Constants.PRINCIPAL_LINE</a>
                            <span class="active-green-arrow"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="principle">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="device-title">
                                        <span>Step 01b:</span> Choose the accessories to go with your device
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="font-16">@(ViewBag.GSTnotif)</p>
                                </div>
                            </div>
                            <div class="col-sm-10 error-msg">
                                <p id="errorMsgPanel" style="padding-left:15px;color:#ff0000;">@(ViewBag.SelectDevicePlanError)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-top">
                <div class="col-sm-9 col-xs-9" style="display:inline-block; height:100%; font-size:16px; padding-right:0px;">
                    @Html.Partial("_SearchAccessory", Model, viewBagAccessory)
                </div>
                <div class="col-sm-3 col-xs-3" style="width:28%;">
                    @{
                        var viewBagValue = new ViewDataDictionary();
                        viewBagValue.Add("GSTMark", ViewBag.GSTMark);
                        Html.RenderPartial("_OrderSummaryNew",viewBagValue);
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 process-btn">
                    <footer>
                        <navi>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-1" id="back">
									    <div class="btn isell-btn" id="btnNext" onclick="$('#TabNumber').val(0);$('#frmSelectAccessory').submit();">< Back</div>
								    </div>
							        <div class="col-sm-9" id="cancel">
								        <div class="btn isell-btn"  id="btnNext" data-toggle="modal" data-target="#cancel-pop">< Cancel</div>
							        </div>
                                    <div class="col-sm-2">
                                        <div class="btn isell-next" id="btnNextPage">Next <span>></span></div>
                                    </div>
                                </div>
                            </div>
                        </navi>
                    </footer>
                    
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    var searchAccessoryURL = '@(Url.Content("~/Registration/SearchAccessory"))';
    var addAccessoryURL = '@(Url.Content("~/Registration/AddAccessory"))';
    var removeAccessoryURL = '@(Url.Content("~/Registration/removeAccessory"))';
    var loadAccessoryURL = '@(Url.Content("~/Registration/LoadAccessory"))';

    $('#btnNextPage').click(function () {
        debugger;
        $('#TabNumber').val(3);
        $('#submitType').val('');

        if (validateAccessoryFinancingPrice()) {
            $('#frmSelectAccessory').submit();
        }
    });
</script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js2/accessory.js")"></script>
