﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.MobileNoVM
@{
    ViewBag.Title = Session["SimType"].ToString2() == "MISM" ? "Select a Preferred Number - Primary" : "Select a Preferred Number";
    /*For checking the MSISDN whether valid or not valid by chetan*/
    var invchk = !ReferenceEquals(Request.QueryString["invchk"], null) ? Request.QueryString["invchk"] : "True";
    var extraTenCount = 0;
    var listPrevExtraTenMSISDNs = Session["ExtratenMobilenumbers"].ToString2();
}


<style type="text/css">
    .t-window-content
    {
        height: auto !important;
    }
    
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index: 10000;
        display:none;
    }
    
    #nestedOverlay
    {
        width: 50%;
        height: 80%;
        margin: auto auto;
        background-color: #ffffff;
    }
    
    .flow-innerbox
    {
        display: table-cell;
        vertical-align: middle;
        height: 50px;
        text-align: center;
        width: inherit;
    }
    
</style>

<!-- Centre column area -->
<div id="center">
    @using (Html.BeginForm("SelectMobileNo", "Registration", FormMethod.Post, new { id = "frmSelectMobileNo", @class = "overlayonsubmit", processmsg = "Loading" }))
    { 
       
        @Html.HiddenFor(a => a.TabNumber)
        @Html.HiddenFor(a => a.ExtraTenMobileNumbers)
        <input type="hidden" name="hdnExtraTenCount" id="hdnExtraTenCount" value="10" />
        @Html.Hidden("submit1")
        <input type="hidden" name="hdnNumberType" id="hdnNumberType" value="n" />
        <div class="header-title">
            @if (Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan)
            {
                @:Devices + Plan
            }
            else
            {
                @:Plan Only
                                                                                                                         }
        </div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        @if (Convert.ToString(Session["SimType"]) == "MISM")
                        {
                            if (Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan)
                            {
                            <li style="display: table-cell; float: none;">Device</li>
                            }
                            <li style="display: table-cell; float: none;">Plan</li>
                            <li style="display: table-cell; float: none;">Contract / VAS</li>
                            <li style="display: table-cell; float: none;">Secondary Plan</li>
                            <li style="display: table-cell; float: none;" class="preselected">Secondary VAS</li>
                            <li style="display: table-cell; float: none;" class="selected">Number</li>
                            <li style="display: table-cell; float: none;">Customer</li>
                            <li style="display: table-cell; float: none;">Summary</li>
                        }
                        else
                        {
                            if (Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan)
                            {
                            <li style="display: table-cell; float: none;">Device</li>
                            }
                            <li style="display: table-cell; float: none;">Plan</li>
                            <li style="display: table-cell; float: none;" class="preselected">Contract/VAS</li>
                            <li style="display: table-cell; float: none;" class="selected">Number</li>
                            <li style="display: table-cell; float: none;">Customer</li>
                            <li style="display: table-cell; float: none;">Summary</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="content_white" style="padding: 1px 1px 10px 40px">
                @Html.ValidationSummary(false)
            </div>
            <div class="content_white">
                <div id="dvError" class="ErrorClass" style="display: block; padding: 0px 20px; margin: 0px auto;">
                </div>
                @if (invchk == "False")
                {
                    <text>
                    <div id="dvMSISDNErr" class="ErrorClass" style="display: block; margin-left: 30px;">
                        Selected MSISDN is already reserved, please select an another number !</div></text>
                }
                <div class="number-search" style="padding-left: 20px; padding-right: 20px;">
                    <table>
                        <tr>
                            <td id="tdPrefix" style="white-space: nowrap;">
                                <span class="txt-16-grey-normal" style="font-size: 14px">Prefix</span> &nbsp;
                                <select id="ddlPrefix" name="ddlPrefix" style="height: 31px">
                                    <option value="-1">&nbsp;&nbsp;</option>
                                    <option value="11">011</option>
                                    <option value="12">012</option>
                                    <option value="14">014</option>
                                    <option value="17">017</option>
                                </select>
                            </td>
                            <td>
                                <span id="spnDesireTitle" class="txt-16-grey-normal" style="font-size: 14px">Desire
                                    No (3-7 digits):</span>&nbsp;
                                <input type="text" onkeypress="return isNumberKey(event);" name="DesireNo" class="search-number"
                                    id="DesireNo" style="width: 113px; font-size: 11px" />
                                <img  onclick="return ValidateDesireNo();"  src='@Url.Content("~/Content/img/shared/iSELL-Search-Button.jpg")' title="Search" id="btnSearch" alt="Search" style="cursor:pointer; vertical-align:top; margin-top:0px ! important;" />
                            </td>
                            <td style="padding: 0 0 0 0 !important; width: 40px;">
                                <button type="button" id="btnReserved" name="btnReserved" style="border-style: none;
                                    background: none repeat scroll 0% 0% transparent;">
                                    <img src='@Url.Content("~/content/images/uncheck.jpg")'  alt="" /></button>
                            </td>
                            <td style="vertical-align: middle; padding: 0 0 0 0 !important">
                                <span class="txt-16-grey-normal" style="font-size: 14px">Reserved</span>
                            </td>
                            <td style="padding: 0 0 0 0 !important; width: 40px;">
                                <button type="button" id="btnGolden" name="btnGolden" style="border-style: none;
                                    background: none repeat scroll 0% 0% transparent;">
                                    <img src='@Url.Content("~/content/images/uncheck.jpg")' alt="" /></button>
                            </td>
                            <td style="vertical-align: middle; padding-right: 15px;">
                                <span class="txt-16-grey-normal" style="font-size: 14px">Golden / Special</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="height: 20px;">
                </div>
                <div style="display: block; padding: 0px 20px; margin: 0px auto;" id="dvMsisdnPnl">
                    <div style="width: 100%; border-left: 1px solid #ccc; max-height: 500px; overflow: auto;">
                        @Html.HiddenFor(model => model.SelectedMobileNo)
                        @{
                            foreach (var mobileNo in Model.AvailableMobileNos)
                            {
                                        <div class="number-outerbox">
                                            <div class="number-innerbox" onclick="SelectedMobile(this,'@mobileNo');" style="cursor: pointer;">
                                                <p class="number">@mobileNo</p>
                                            </div>
                                        </div>
                         
                            }
                        }
                        <div style="clear: both;">
                        </div>
                    </div>
                </div>
                <div style="clear: both;">
                </div>
            </div>
            <div class="content_white" style="height: 80px;">
                <div style="float: right; padding-right: 20px;">
                    @if (Session["SimType"].ToString2() == "MISM")
                    {
                        <input class="cancel backButton" type="submit"  value="<"  disableValidation="true" onclick="$('#TabNumber').val(@RegistrationSteps.SecoVas.ToInt());" />
                       
                    }
                    else
                    {
                        if (Session["FromPromoOffer"].ToString2() != "1")
                        {
                        <input class="cancel backButton" type="submit" value="<" onclick="$('#TabNumber').val(3);" />
                       
                        }
                    }
                    @if (Model != null && Model.AvailableMobileNos.Count > 0)
                    {
                        <input class="submitButton" type="submit" value="Next Step: Customer" id="btnContinue" />
                    }
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>   
        @Html.Partial("_footer")

        <input type="hidden" name="flowHidden" id="flowHidden" value="None" />
    }
</div>
<div id="right">
    @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
</div>
@{
   

    Html.Telerik().Window()
    .Name("extraTenWindow")
    .Title("Extra Ten")
    .Width(360)

    .Content(@<text>
    <div class="ErrorClass" style="display: block;" id="ExtratenPlan_Error">
    </div>
    <div id="divExtraTen">
        @for (int i = 0; i < 10; i++)
        {

            var divId = "divExtraTen_" + i;
            var txtId = "txtExtraTen_" + i;
            var delbtnId = "btnDeleteExtraTen_" + i;

            var lblSnoId = "lblSno_" + i;

            extraTenCount++;
                                           
            <div id='@divId' style="padding-bottom:10px;" >
                <span style="width: 20px; display: inline-block; text-align: center;">@extraTenCount.ToString()</span>
                <input class="TxtBox" type="text" id=@txtId tabindex="1" />
                <input class="DelBtn" style="display:none;" type="button" onclick='deleteExtraTen(this);'  id=@delbtnId value="" />
            </div>
                    
        }
    </div>
    <div class="Controller" style="display: none;">
        <input type="button" class="AddMoreBtn" tabindex="1" id="btnAddMore" onclick="addExtraTenDiv();"
            value="" />
    </div>
    <div style="clear: both; text-align: center;">
        <input id="btnSaveExtraTen" type="button" class="submitButton" value="Save" tabindex="1"
            onclick="return validateExtraTen();" />
        <input type="button" class="submitButton" id="btnCancelExtraTen" tabindex="1" onclick="cancelExtraTen();"
            value="Cancel" />
    </div>
    </text>)
    .Modal(true)
    .Visible(false)
    .ClientEvents(events => events.OnOpen("extraTenWindowOnOpen"))
    .Render();

    Html.Telerik().ScriptRegistrar()
        .OnDocumentReady(@<text> $('#btnExtraTen').click(function(e) { e.preventDefault();
    $('#extraTenWindow').data('tWindow').center().open();$('#ExtratenPlan_Error').html('');});
    </text>); 
}

<div id="overlay"  >
    <div id="nestedOverlay">
        <br />
        <p>Do you want to add a supplementary or MSIM?</p>
        <br />
        <p>Add a Supplementary Line</p>
        <div class="number-outerbox">
            <div class="flow-innerbox" onclick="SelectedFlow(this,'PlanNDevice');" style="cursor: pointer;">
                <p class="number">Plan & Device</p>
            </div>
        </div>

        <div class="number-outerbox">
            <div class="flow-innerbox" onclick="SelectedFlow(this,'Plan');" style="cursor: pointer;">
                <p class="number">Plan</p>
            </div>
        </div>
        <br /><br /><br />
        <p>Add a Multi-SIM</p>
        <div class="number-outerbox">
            <div class="flow-innerbox" onclick="SelectedFlow(this,'NanoSim');" style="cursor: pointer;">
                <p class="number">Nano SIM</p>
            </div>
        </div>

        <div class="number-outerbox">
            <div class="flow-innerbox" onclick="SelectedFlow(this,'MicroSim');" style="cursor: pointer;">
                <p class="number">Micro SIM</p>
            </div>
        </div>
        <div class="number-outerbox">
            <div class="flow-innerbox" onclick="SelectedFlow(this,'NormalSim');" style="cursor: pointer;">
                <p class="number">Normal SIM</p>
            </div>
        </div>
        <br /><br /><br />
        <p>OR</p>
        <div class="number-outerbox">
            <div class="flow-innerbox" onclick="SelectedFlow(this,'None');" style="cursor: pointer;">
                <p class="number">None</p>
            </div>
        </div>
        <br /><br /><br />
        <button id="nextButton">Next</button>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
    
       var numberType ='@Request.QueryString["numberType"].ToString2()'; 
       function SelectedMobile(target,mobileNo) {
            $(".number-innerbox").removeClass('focus');
            $(target).addClass('focus');
            $('#SelectedMobileNo').val(mobileNo);
        }
        
        function SelectedFlow(target, str){
            $('.flow-innerbox').removeClass('focus');
            $(target).addClass('focus');
            $('#flowHidden').val(str);

            return false;
        }

        function triggerOverlay(){
            $('#overlay').show();
        }

        $(document).ready(function () {
            $('#overlay').hide();

            $('#btnContinue').click(function(e){
                e.preventDefault();
                triggerOverlay();
                return false;
            });

            $('#overlay').click(function(e){
                $(this).hide();
            });

            $('#nestedOverlay').click(function(e){
                e.preventDefault();
                return false;
            });

            $('#nextButton').click(function(e){
                $('#frmSelectMobileNo').submit();
            });

            if($("#tdPrefix").show())
            {
                $("#DesireNo").attr("maxlength","7");
            }

        if(numberType=="r" || numberType=="g")
        {
            $("#DesireNo").attr("maxlength","12");
            $('#spnDesireTitle').html('Desire MSISDN (10-12 digits):');
            $('#tdPrefix').hide();
            if(numberType=="r")
            {
                setImageSource('btnReserved');
            }
            else
            {
                setImageSource('btnGolden');
            }
            $('.number-outerbox:first div').click();
        }
         $("#DesireNo").val('@Request.QueryString["desireNo"].ToString2()');

         var noPrefix ='@Request.QueryString["prefix"].ToString2()'; 
          $('#ddlPrefix').val(noPrefix);

            
    if('@(listPrevExtraTenMSISDNs)'!='')
    {
        $('#ExtraTenMobileNumbers').val('@(listPrevExtraTenMSISDNs)');
        var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        var objListMSISDNs=$('#ExtraTenMobileNumbers').val().split(',');
        $('#hdnExtraTenCount').val(childDivs.length);
        if(objListMSISDNs.length<=childDivs.length)
        {
            for(var i=0;i<childDivs.length;i++)
            {
                 var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
                 if(txtElement!=null)
                 txtElement.val(objListMSISDNs[i]);
            }
        }
        else
        {
        
        for(var i=0;i<(objListMSISDNs.length-childDivs.length);i++)
        {
        var index=parseInt($('#hdnExtraTenCount').val())+1;
        var divId = "divExtraTen_"+ index ;
        var txtId = "txtExtraTen_" + index ;
        var delbtnId = "btnDeleteExtraTen_" + index;
         var lblSnoId = "lblSno_" + childDivs.length+1;
          $("#divExtraTen").append("<div class='Controller Row' id='"+divId+"' ><label class='NumL' id='"+lblSnoId+"'>"+(parseInt(childDivs.length+1))+"</label><input class='TxtBox' type='text' id='"+txtId+"' tabindex='1' /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");
        $('#hdnExtraTenCount').val(index+1);
        
        }
        childDivs = panel.find("div");
        for(var i=0;i<childDivs.length;i++)
        {

         var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
         if(txtElement!=null)
         txtElement.val(objListMSISDNs[i]);
         
        }
        
        
        }

    }

            //Code added by vlt for selecting Mobile No
             $('#btnContinue').click(function()
            {
               if($('#SelectedMobileNo').val().length==0)
               {
                  $('#dvError').html('Please select a number.');
                  $("html, body").animate({ scrollTop: 0 }, "slow");
                  $('#dvMSISDNErr').hide();
                  return false;
               }
                $('#dvError').html('');
            var curReserSrc =$('#btnReserved:first img').attr('src');
            var curGoldSrc =$('#btnGolden:first img').attr('src');

            if((curReserSrc.toString().indexOf('checked.jpg')!=-1))
            {
                $('#hdnNumberType').val('r');
            }
            else if(curGoldSrc.toString().indexOf('checked.jpg')!=-1)
            {
              $('#hdnNumberType').val('g');
            }
            else
            {
                $('#hdnNumberType').val('n');
            }
               $('#TabNumber').val(@(Convert.ToString(Session["SimType"]) == "MISM" ? RegistrationSteps.PersonalDetails.ToInt() : MobileRegistrationSteps.PersonalDetails.ToInt()));
               return true;
            });
            //End of Code added by vlt for selecting Mobile No

        });


         function addExtraTenDiv()
        {
        var index=parseInt($('#hdnExtraTenCount').val())+1;
        var divId = "divExtraTen_"+ index;
        var txtId = "txtExtraTen_" + index ; 
        var delbtnId = "btnDeleteExtraTen_" + index ;

        var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        var lblSnoId = "lblSno_" + childDivs.length+1;
        $("#divExtraTen").append("<div class='Controller Row' id='"+divId+"' ><label class='NumL' id='"+lblSnoId+"'>"+(childDivs.length+1)+"</label><input class='TxtBox' type='text' id='"+txtId+"' tabindex='1' /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");
        $('#hdnExtraTenCount').val(parseInt(index)+1);
        
        }

       function deleteExtraTen(delbtn)
        {
        var delbtnId=delbtn.id;


         var panel= $("#divExtraTen");
         var childDivs = panel.find("div");

         if(childDivs.length>1)
         {
          $('#'+delbtnId).parent().remove();

         }
        else
        {
        alert("Atleast one mobile number has to be entered for Extra Ten");
        return false;
        }


        ResetSerialNo();
        
        }
        function extraTenWindowOnOpen()
        {
        
        
        
        }


        function cancelExtraTen()
        {
           $('#extraTenWindow').data('tWindow').close();
        }

        function validateExtraTen()
        {

        var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        var objListMSISDNs="";
        var mobregex = /^60[0-9]{8,10}$/;
        for(var i=0;i<childDivs.length;i++)
        {
        
        var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
         if(txtElement.val() !="")
         {
         if (!mobregex.test(txtElement.val())) 
         {
         $('#ExtratenPlan_Error').show();
                        $('#ExtratenPlan_Error').html("Please enter valid MSISDN number");
         return false;
         }
         }

        if(txtElement.val() !="")
        {
        if(objListMSISDNs.indexOf(txtElement.val()) ==-1)
         {
        if(objListMSISDNs!="")
        objListMSISDNs=objListMSISDNs+","+txtElement.val();
        else
        objListMSISDNs=txtElement.val();

         }
        else
         {
                        $('#ExtratenPlan_Error').show();
                        $('#ExtratenPlan_Error').html("Please enter unique mobile numbers");
         return false;
         }


        }

         
        
        }

         var url = '@(Url.Content("~/Registration/validateExtraTenMSISDN"))';
           
            $.post(url,{arrMSISDNs:objListMSISDNs},function (data) {

            if(data.toString()!='')
            {
            $('#ExtratenPlan_Error').show();
                        $('#ExtratenPlan_Error').html("Please enter valid maxis mobile number for "+data.toString());
            return false;
            }
            else  if(data.toString()=='')
            {

  var url1 = '@(Url.Content("~/Registration/validateExtraTenMSISDNAgainstAccount"))';
           
            $.post(url1,{arrMSISDNs:objListMSISDNs},function (data) {

            if(data.toString()!='')
            {
            $('#ExtratenPlan_Error').show();
                        $('#ExtratenPlan_Error').html(data.toString()+ " is already part of your account !");
            return false;
            }
            else if(data.toString()=='')
            {
              
              $('#ExtraTenMobileNumbers').val(objListMSISDNs);
            
               $('#extraTenWindow').data('tWindow').close();

               
            }
            
             }, "text");
            }
            
            }, "text");
       
        
        }



 function ResetSerialNo()
        {
        var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        for(var i=0;i<childDivs.length;i++)
        {
          var curDivId=childDivs[i].id;
          $('#'+curDivId).children(':first-child').html(parseInt(i)+1);


        }
        }


        // Begin Code added by VLT on 12 apr 2013
        function isNumberKey(evt)
          {
             var charCode = (evt.which) ? evt.which : event.keyCode
             if (charCode > 31 && (charCode < 48 || charCode > 57))
             {
                 $('#dvError').html("Please Enter Only Numbers.");
                 $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
             }
              $('#dvError').html('');
             return true;
          }
        // End Code added by VLT on 12 apr 2013

       
        function ValidateDesireNo()
        {
            var length = $("#DesireNo").val().length;
            //Number type changes on Mar 27 2014 by ravi 
            var curReserSrc =$('#btnReserved:first img').attr('src');
            var curGoldSrc =$('#btnGolden:first img').attr('src');

            if((curReserSrc.toString().indexOf('checked.jpg')!=-1))
            {
                $('#hdnNumberType').val('r');
            }
            else if(curGoldSrc.toString().indexOf('checked.jpg')!=-1)
            {
              $('#hdnNumberType').val('g');
            }
            else
            {
                $('#hdnNumberType').val('n');
            }

            var isValidMsisdn = true;
            var errorMessage = "";
            
              if($('#hdnNumberType').val().toString()=="r" || $('#hdnNumberType').val().toString()=="g")
              {
                if(length<10 || length>12)
                {
                  isValidMsisdn= false;
                  errorMessage="Please Enter Complete MSISDN Number."
                }
              }
              else
              {
               isValidMsisdn =((length < 3 && length != 0)?false:true);
                errorMessage ='Desire No must have at least 3 digits.' 
              }
            //Number type changes on Mar 27 2014 by ravi 
            if(isValidMsisdn==false)
            {
                 $('#dvError').html(errorMessage);
                 $("#DesireNo").focus();
                 $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            else
            {
                $('#submit1').val('search');
                $('#dvError').html('');
                //document.forms['frmSelectMobileNo'].submit();
                $("#frmSelectMobileNo").submit();
            }
        }
      

        $("#DesireNo").keypress(function(e){
            if(e.keyCode==13){  
                $('#submit1').val('search');
            }
        });     

        $('#btnReserved').click(function()
        {
         setImageSource('btnReserved');
         CheckImgSource('btnGolden');
         ChangeLabelTitle();

        });
        $('#btnGolden').click(function()
        {
          setImageSource('btnGolden');
          CheckImgSource('btnReserved');
          ChangeLabelTitle();
        });

        function setImageSource(objBtnId)
        {
        var curSrc =$('#' + objBtnId + ':first img').attr('src');
        if(curSrc.toString().indexOf('checked.jpg')==-1)
        {
          curSrc = curSrc.toString().replace('uncheck.jpg','checked.jpg');
        }
        else
        {
        curSrc = curSrc.toString().replace('checked.jpg','uncheck.jpg');
        }
        $('#' + objBtnId + ':first img').attr('src',curSrc)

        }

        function CheckImgSource(objBtnId)
        {
            var curSrc =$('#' + objBtnId + ':first img').attr('src');
            if(curSrc.toString().indexOf('checked.jpg')!=-1)
            {
              curSrc = curSrc.toString().replace('checked.jpg','uncheck.jpg');
               $('#' + objBtnId + ':first img').attr('src',curSrc)
            }
        }

        function ChangeLabelTitle()
        {
            var curReserSrc =$('#btnReserved:first img').attr('src');
            var curGoldSrc =$('#btnGolden:first img').attr('src');
            var noPrefix ='@Request.QueryString["prefix"].ToString2()'; 
            if(noPrefix=='' || noPrefix==null || noPrefix=='undefined')
            {
              noPrefix ="";
            }
            if((curReserSrc.toString().indexOf('checked.jpg')!=-1)||(curGoldSrc.toString().indexOf('checked.jpg')!=-1))
            {
                $('#DesireNo').attr('maxlength','12');
                $('#DesireNo').val('');
                $('#spnDesireTitle').html('Desire MSISDN (10-12 digits):');
                $('#tdPrefix').hide();
                $('#ddlPrefix').val(noPrefix);
                $('#dvMsisdnPnl').hide();
            }
            else
            {
                $('#DesireNo').attr('maxlength','7');
                $('#DesireNo').val('');
                $('#spnDesireTitle').html('Desire No (3-7 digits):');
                $('#tdPrefix').show();
                $('#ddlPrefix').val('');
                $('#ddlPrefix').val(noPrefix);
                $('#dvMsisdnPnl').show();
            }
              $('#dvError').html('');
        }
        if(parseInt('@Model.AvailableMobileNos.Count')<=0 && (numberType=="n" || numberType==""))
        {
           $('#dvError').html('No MSISDN(s) found for the below criteria.');
           $("html, body").animate({ scrollTop: 0 }, "slow");
        }

    </script>
}
