﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.ValueAddedServicesVM
@{
    ViewBag.Title = "Select a Contract and Optional VAS - Secondary";
    var extraTenCount = 0;
    string arVasGroupIds = string.Empty;
    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" : "";
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var deviceFlag = (int)MobileRegType.DevicePlan;
    var dataContractGroupId = string.Empty;
    string extraTenKenanCode = System.Configuration.ConfigurationManager.AppSettings["ExtraTenKenanCode"].ToString2();
    if (System.Configuration.ConfigurationManager.AppSettings["DataContractGroupId"] != null)
    {
        dataContractGroupId = System.Configuration.ConfigurationManager.AppSettings["DataContractGroupId"].ToString();
    }
    var bundleGroupId = string.Empty;
    if (System.Configuration.ConfigurationManager.AppSettings["BundleGroupId"] != null)
    {
        bundleGroupId = System.Configuration.ConfigurationManager.AppSettings["BundleGroupId"];
    }

    var bundleGroupComponentId = string.Empty;
    if (System.Configuration.ConfigurationManager.AppSettings["BundleGroupComponentId"] != null)
    {
        bundleGroupComponentId = System.Configuration.ConfigurationManager.AppSettings["BundleGroupComponentId"];
    }

    var dataContractGroupComponentId = string.Empty;
    if (System.Configuration.ConfigurationManager.AppSettings["DatacontractGroupComponentId"] != null)
    {
        dataContractGroupComponentId = System.Configuration.ConfigurationManager.AppSettings["DataContractGroupComponentId"];
    }
    string selCompIds = Session["SelectedComponents_Seco"].ToString2();
    var selContr = Session["RegMobileReg_ContractID_Seco"].ToString2();
    var listPrevExtraTenMSISDNs = Session["ExtratenMobilenumbers"].ToString2();
    if (Session["VasGroupIds_Seco"] != null)
    {
        arVasGroupIds = Session["VasGroupIds_Seco"].ToString();
    }
    var vasPrimary = Session["SimType"].ToString2() == "MISM" ? "Value Added Services-Primary" : "Value Added Services";
    var vasSecondary = Session["SimType"].ToString2() == "MISM" ? "Value Added Services-Secondary" : "Value Added Services";

    string[] componentsArray = new string[] { "Main Components", "Data Components", "Extra Components", "Promotional Components" };
    if (sessionRegType != (int)MobileRegType.PlanOnly && Session["DeviceType"].ToString2() == "Seco_WithDevice")
    {
        componentsArray = new string[] { "Offers", "Main Components", "Data Components", "Extra Components", "Promotional Components" };
    }
}
<div id="center">
    @using (Html.BeginForm("SelectSecondaryVas", "Registration", FormMethod.Post, new { id = "frmSelectVAS", @class = "overlayonsubmit", processmsg = "Loading" }))
    { 
        <input type="hidden" id="hdnExtraTenGroupId" />
        <input type="hidden" id="hdnContractAssociatedVASID" />
        @Html.HiddenFor(a => a.TabNumberSeco)
        
        @Html.HiddenFor(a => a.TabNumber)
        @Html.HiddenFor(a => a.OfferIdSeco)
        @Html.HiddenFor(a => a.SelectedVasIDs)
        @Html.HiddenFor(a => a.ExtraTenMobileNumbers)
        @Html.HiddenFor(a => a.SelectedContractID)
        @Html.HiddenFor(a => a.uomCodeSeco)
        @Html.HiddenFor(a => a.priceSeco)
        @Html.HiddenFor(a => a.hdnGroupIds)
        <div class="header-title">
            @if (Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan)
            {
                @:Devices + Plan
         }
            else
            {
                @:Plan Only
                                                                                 }
        </div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        @if (Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan)
                        {
                            <li style="display: table-cell; float: none;">Device</li>
                        }
                        <li style="display: table-cell; float: none;">Plan</li>
                        <li style="display: table-cell; float: none;">Contract/VAS</li>
                        <li style="display: table-cell; float: none;" class="preselected">Secondary Plan</li>
                        <li style="display: table-cell; float: none;" class="selected">Secondary VAS</li>
                        <li style="display: table-cell; float: none;">Number</li>
                        <li style="display: table-cell; float: none;">Customer</li>
                        <li style="display: table-cell; float: none;">Summary</li>
                    </ul>
                </div>
            </div>
            <div class="content_white" style="padding: 1px 1px 10px 40px">
                @Html.ValidationSummary(false)
            </div>
            <div class="content_white">
                <div style="display: block; padding: 0px 20px; margin: 0px auto;">
                    <div id="Plan_Error" class="ErrorClass">
                    </div>
                    <div id="ui-plan">
                        @foreach (var component in componentsArray)
                        {

                            List<AvailableVAS> components = new List<AvailableVAS>();
                            string curComponent = component.ToString();
                            switch (curComponent)
                            {
                                case "Main Components":
                                    components = Model.AvailableVASes;
                                    break;
                                case "Data Components":
                                    components = Model.DataVASes;
                                    break;
                                case "Extra Components":
                                    components = Model.ExtraComponents;
                                    break;
                                case "Promotional Components":
                                    components = Model.PramotionalComponents;
                                    break;
                                default: break;
                            }
                        
                       
                            <h3>@curComponent</h3>
                            <div style="width: 100%; border-left: 1px solid #ccc;">
                                @if (curComponent.ToString() == "Offers")
                                {
                                    if (Model.ContractOffers != null && Model.ContractOffers.Count > 0)
                                    {
                                        foreach (var offer in Model.ContractOffers)
                                        {
                                            string kenanCode = offer.KenanComponent1Id != null ? offer.KenanComponent1Id : "-1";
                                            var btnConVASID = "btnConVAS_" + offer.Id + "_" + kenanCode;
                                            var btnPlanID = offer.Id;
                                
                                    <div class="plan-outerbox">
                                        <div  class="plan-innerbox" id="@btnConVASID" onclick="SelectedOfferVAS('@btnConVASID','@offer.Id','@offer.Price','@offer.UOMCode');" style="cursor:pointer;">
                                            <p class="contract-title">@offer.OfferName</p>
                                        </div>
                                    </div>
                                        }
                                    }
                                    else
                                    {
                                    <div>
                                        &nbsp;Not Available</div>
                                    }

                                }
                                else
                                {

                                    if (components != null && components.Count > 0 && !(curComponent.ToLower() == "Extra Components".ToLower()))
                                    {
                                        if (curComponent.ToString() == "Data Components")
                                        {
                                            foreach (var comp in components)
                                            {
                                                var groupId = (comp.GroupId != null ? comp.GroupId : -1);
                                                string kenanCode = (comp.KenanCode != null ? comp.KenanCode : "-1");
                                                var btnVASID = "btnVAS_" + comp.PgmBdlPkgCompID + "_" + kenanCode;
                                                string compId = comp.PgmBdlPkgCompID.ToString();
                                    <div class="plan-outerbox">
                                        @if (selCompIds.Contains(compId) == true)
                                        {
                                            <div   class="plan-innerbox focus" id='@btnVASID' onclick="SelectedNewVAS('@btnVASID','@comp.PgmBdlPkgCompID','@groupId');"  style="cursor:pointer;">
                                                <p class="contract-title" style="word-wrap: break-word; width: 128px">@comp.ComponentName</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div   class="plan-innerbox" id='@btnVASID' onclick="SelectedNewVAS('@btnVASID','@comp.PgmBdlPkgCompID','@groupId');"  style="cursor:pointer;">
                                                <p class="contract-title" style="word-wrap: break-word; width: 128px">@comp.ComponentName</p>
                                            </div>
                                        }
                                    </div>
                                                                              
                                            }
                                        }
                                        else
                                        {
                                            foreach (var comp in components)
                                            {
                                                string ListExtraComponents = System.Configuration.ConfigurationManager.AppSettings["ExcludeMainComponentListForMISM"].ToString2();
                                                var ExtraComponent = ListExtraComponents.Split(',');
                                                if (!ExtraComponent.Contains(comp.KenanCode))
                                                {
                                                    var groupId = (comp.GroupId != null ? comp.GroupId : -1);
                                                    string kenanCode = (comp.KenanCode != null ? comp.KenanCode : "-1");
                                                    var btnVASID = "btnVAS_" + comp.PgmBdlPkgCompID + "_" + kenanCode;
                                                    string compId = comp.PgmBdlPkgCompID.ToString();
                                    <div class="plan-outerbox">
                                        @if (selCompIds.Contains(compId) == true)
                                        {
                                            <div   class="plan-innerbox focus" id='@btnVASID' onclick="SelectedNewVAS('@btnVASID','@comp.PgmBdlPkgCompID','@groupId');"  style="cursor:pointer;">
                                                <p class="contract-title">@comp.ComponentName</p>
                                            </div>
                                        }
                                        else
                                        {
                                            <div   class="plan-innerbox" id='@btnVASID' onclick="SelectedNewVAS('@btnVASID','@comp.PgmBdlPkgCompID','@groupId');"  style="cursor:pointer;">
                                                <p class="contract-title">@comp.ComponentName</p>
                                            </div>
                                        }
                                    </div>
                                                }

                                            }
                                        }
                                    }
                                    else
                                    {
                                    <div>
                                        &nbsp;Not Available</div>
                                    }

                                }
                                <div style="clear: both;">
                                </div>
                            </div>
                        
                    
                        }
                    </div>
                </div>
                <div style="height: 20px;">
                </div>
            </div>
            <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
                <div style="float: right; padding-right: 20px;">
                    @if (Session["GuidedSales_Type"] != null && Session["GuidedSales_Type"] != "")
                    {
                        if (Convert.ToInt32(Session["GuidedSales_Type"]) != MobileRegType.PlanOnly.ToInt())
                        {
                            <input class="cancel backButton"  type="submit" value="<"  onclick="$('#TabNumber').val(@MobileRegistrationSteps.CustomerPersonalDetails.ToInt());" />
                        }
                    }
                    else
                    {
                        <input class="cancel backButton" id="btnsubmit" type="submit" value="<" onclick="$('#TabNumber').val(@RegistrationSteps.SecoPlan.ToInt());getDependencyComponents();"/>
                    }
                    @if (sessionRegType == (int)MobileRegType.DevicePlan && Convert.ToString(Session["SimType"]) == "MISM" && Session["DeviceType"].ToString2() == "Seco_NoDevice")
                    {
                        <input class="submitButton" type="button" value="Next Step: Number" onclick="$('#TabNumber').val(@RegistrationSteps.MobileNo.ToInt());getDependencyComponents();" />
                    }
                    else if (sessionRegType == (int)MobileRegType.DevicePlan && Convert.ToString(Session["SimType"]) == "MISM")
                    {
                        <input class="submitButton" type="button" value="Next Step: Number" onclick="callcantract();" />
                       
                    }
                    else if (sessionRegType == (int)MobileRegType.PlanOnly && Convert.ToString(Session["SimType"]) == "MISM")
                    {
                        <input class="submitButton" type="button" value="Next Step: Number" onclick="$('#TabNumber').val(@RegistrationSteps.MobileNo.ToInt());getDependencyComponents();"/>
                    }
                    else if (sessionRegType != (int)MobileRegType.PlanOnly)
                    {
                        <input class="submitButton" type="button" value="Next Step: Number" onclick="callcantract();" />
                    }
                    else
                    {
                        <input class="submitButton" type="button" value="Next Step: Number" onclick="$('#TabNumber').val(@MobileRegistrationSteps.MobileNo.ToInt());getDependencyComponents();"/>
                    }
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
        @Html.Partial("_footer")
    }
</div>
<div id="right">
    @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
</div>
@{

    Html.Telerik().Window()
        .Name("offerWindow")
        .Title("Offers")
        .Width(325).Height(120)
        .Content(@<text>
    <table>
        <tr>
            <td colspan="2">
                @if (Model.Offers != null)
                {
                    List<SelectListItem> objCurOffers = new List<SelectListItem>();
                    if (Model.Offers != null && Model.Offers.Count > 0)
                    {
                        objCurOffers = Model.Offers.Select(t => new SelectListItem { Text = t.Name, Value = t.ID.ToString() }).ToList();
                    }
                    objCurOffers.Insert(0, new SelectListItem { Text = "Please Select", Value = "-1" });
                  
                    @Html.Telerik().DropDownList().Name("tlkddlOffers").ClientEvents(events => events.OnChange("SelectedOffer")).HtmlAttributes(new { id = "ddlOffers", style = "width: 200px; height:auto; " }).BindTo(objCurOffers)
                 
                }
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button id="btnSaveOffer" type="submit" onclick="return validateOffer();">
                    Save
                </button>
                <br />
            </td>
        </tr>
    </table>
    </text>)
        .Modal(true)
        .Visible(false)
        .ClientEvents(events => events.OnOpen("OfferWindowOnOpen"))
        .Render();

    Html.Telerik().ScriptRegistrar()
        .OnDocumentReady(@<text> $('#btnExtraTen').click(function(e) { e.preventDefault();
    $('#extraTenWindow').data('tWindow').center().open();$('#ExtratenPlan_Error').html('');});
    </text>);

    Html.Telerik().Window()
        .Name("offerDetailsWindow")
        .Title("Offers")
        .Width(325).Height(120)
        .Content(@<text>
    <table>
        <tr>
            <td colspan="2">
                @Html.Telerik().DropDownList().Name("tlkddlDetOffers").ClientEvents(events => events.OnChange("SelectedOffer")).HtmlAttributes(new { id = "ddlOffersDetails", style = "width: 200px; height:auto; " })
            </td>
        </tr>
        <tr>
            <td>
                <button id="btnSaveOfferDet" type="submit" class="SaveBtn" onclick="return validateOffer();">
                </button>
                <br />
            </td>
        </tr>
    </table>
    </text>)
        .Modal(true)
        .Visible(false)
        .ClientEvents(events => events.OnOpen("OfferWindowOnOpen"))
        .Render();


    Html.Telerik().Window()
.Name("extraTenWindow")
.Title("Extra Ten")
.Width(360)

.Content(@<text>
    <div class="ErrorClass" style="display: block;" id="ExtratenPlan_Error">
    </div>
    <div id="divExtraTen">
        @for (int i = 0; i < 10; i++)
        {

            var divId = "divExtraTen_" + i;
            var txtId = "txtExtraTen_" + i;
            var delbtnId = "btnDeleteExtraTen_" + i;

            var lblSnoId = "lblSno_" + i;

            extraTenCount++;
                    
            <div  id='@divId' style="padding-bottom:10px;" >
                <span style="width: 20px; display: inline-block; text-align: center;">@extraTenCount.ToString()</span>
                <input class="TxtBox" type="text" id='@txtId' />
                <input class="DelBtn" style="display:none;" type="button" onclick='deleteExtraTen(this);' id=@delbtnId value="" />
            </div>
                    
        }
    </div>
    <div class="Controller" style="display: none;">
        <input type="button" class="AddMoreBtn" id="btnAddMore" onclick="addExtraTenDiv();"
            value="" />
    </div>
    <div style="clear: both; text-align: center;">
        <input id="btnSaveExtraTen" type="button" class="submitButton" value="Save" onclick="return validateExtraTen();" />
        <input type="button" class="submitButton" id="btnCancelExtraTen" onclick="cancelExtraTen();"
            value="Cancel" />
    </div>
    </text>
)
.Modal(true)
.Visible(false)
.ClientEvents(events => events.OnOpen("extraTenWindowOnOpen"))
.Render();
}
<style type="text/css">
    .t-window-content
    {
        height: auto !important;
    }
</style>
@section Scripts{
    <script type="text/javascript">

        jQuery(function () {
            jQuery("#ui-plan").accordion({
                autoHeight: false
            });
            $("#ui-plan").accordion("option", "icons",
        		{ 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });
        });

        $(document).ready(function () {

            if ('@(arVasGroupIds)' != '') {

                $('#hdnGroupIds').val('@(arVasGroupIds)');

            }
            //Highlight selected VAS
            var arrVasID = $('#SelectedVasIDs').val().split(',');
            $.each(arrVasID, function (index, value) {
                if (value != ' ' || value != ',') {
                    $('#btnVAS_' + value).css("border-style", "solid");
                }
            });


            if ('@(listPrevExtraTenMSISDNs)' != '') {

                $('#ExtraTenMobileNumbers').val('@(listPrevExtraTenMSISDNs)');

                var panel = $("#divExtraTen");
                var childDivs = panel.find("div");
                var objListMSISDNs = $('#ExtraTenMobileNumbers').val().split(',');
                $('#hdnExtraTenCount').val(childDivs.length);
                if (objListMSISDNs.length <= childDivs.length) {

                    for (var i = 0; i < childDivs.length; i++) {

                        var txtElement = $('#' + childDivs[i].id).find('input[type="text"]');
                        if (txtElement != null)
                            txtElement.val(objListMSISDNs[i]);

                    }

                }
                else {

                    for (var i = 0; i < (objListMSISDNs.length - childDivs.length); i++) {
                        var index = parseInt($('#hdnExtraTenCount').val()) + 1;
                        var divId = "divExtraTen_" + index;
                        var txtId = "txtExtraTen_" + index;
                        var delbtnId = "btnDeleteExtraTen_" + index;
                        var lblSnoId = "lblSno_" + childDivs.length + 1;
                        $("#divExtraTen").append("<div class='Controller Row' id='" + divId + "' ><label class='NumL' id='" + lblSnoId + "'>" + (parseInt(childDivs.length + 1)) + "</label><input class='TxtBox' type='text' id='" + txtId + "' /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='" + delbtnId + "' /></div>");
                        $('#hdnExtraTenCount').val(index + 1);

                    }
                    childDivs = panel.find("div");
                    for (var i = 0; i < childDivs.length; i++) {

                        var txtElement = $('#' + childDivs[i].id).find('input[type="text"]');
                        if (txtElement != null)
                            txtElement.val(objListMSISDNs[i]);

                    }


                }

            }

            var contractID = $('#SelectedContractID').val();
            if (contractID != ' ' || contractID != '') {
                $('#btnConVAS_' + contractID).css("border-style", "solid");
            }
        });


        function addExtraTenDiv() {
            var index = parseInt($('#hdnExtraTenCount').val()) + 1;
            var divId = "divExtraTen_" + index;
            var txtId = "txtExtraTen_" + index;
            var delbtnId = "btnDeleteExtraTen_" + index;

            var panel = $("#divExtraTen");
            var childDivs = panel.find("div");
            var lblSnoId = "lblSno_" + childDivs.length + 1;
            $("#divExtraTen").append("<div class='Controller Row' id='" + divId + "' ><label class='NumL' id='" + lblSnoId + "'>" + (childDivs.length + 1) + "</label><input class='TxtBox' type='text' id='" + txtId + "' /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='" + delbtnId + "' /></div>");
            $('#hdnExtraTenCount').val(parseInt(index) + 1);

        }

        function deleteExtraTen(delbtn) {
            var delbtnId = delbtn.id;


            var panel = $("#divExtraTen");
            var childDivs = panel.find("div");

            if (childDivs.length > 1) {
                $('#' + delbtnId).parent().remove();

            }
            else {
                alert("Atleast one mobile number has to be entered for Extra Ten");
                return false;
            }
            ResetSerialNo();
        }

        function ResetSerialNo() {
            var panel = $("#divExtraTen");
            var childDivs = panel.find("div");
            for (var i = 0; i < childDivs.length; i++) {
                var curDivId = childDivs[i].id;
                $('#' + curDivId).children(':first-child').html(i + 1);
            }
        }


        function cancelExtraTen() {
            $('#extraTenWindow').data('tWindow').close();
        }



        function extraTenWindowOnOpen() {
        }

        function validateExtraTen() {

            var panel = $("#divExtraTen");
            var childDivs = panel.find("div");
            var objListMSISDNs = "";
            var mobregex = /^60[0-9]{8,10}$/;
            for (var i = 0; i < childDivs.length; i++) {

                var txtElement = $('#' + childDivs[i].id).find('input[type="text"]');
                if (txtElement.val() != "") {
                    if (!mobregex.test(txtElement.val())) {
                        $('#ExtratenPlan_Error').show();
                        $('#ExtratenPlan_Error').html("Please enter valid MSISDN number");
                        return false;
                    }
                }

                if (txtElement.val() != "") {
                    if (objListMSISDNs.indexOf(txtElement.val()) == -1) {
                        if (objListMSISDNs != "")
                            objListMSISDNs = objListMSISDNs + "," + txtElement.val();
                        else
                            objListMSISDNs = txtElement.val();
                    }
                    else {
                        $('#ExtratenPlan_Error').show();
                        $('#ExtratenPlan_Error').html("Please enter unique mobile numbers");
                        return false;
                    }


                }



            }

            var url = '@(Url.Content("~/Registration/validateExtraTenMSISDN"))';

            $.post(url, { arrMSISDNs: objListMSISDNs }, function (data) {
                if (data.toString() != '') {
                    $('#ExtratenPlan_Error').show();
                    $('#ExtratenPlan_Error').html("Please enter valid maxis mobile number for " + data.toString());
                    return false;
                }
                else if (data.toString() == '') {
                    var url1 = '@(Url.Content("~/Registration/validateExtraTenMSISDNAgainstAccount"))';

                    $.post(url1, { arrMSISDNs: objListMSISDNs }, function (data) {

                        if (data.toString() != '') {
                            $('#ExtratenPlan_Error').show();
                            $('#ExtratenPlan_Error').html("Please renter " + data.toString() + " as these are already part of your account");
                            return false;
                        }
                        else if (data.toString() == '') {
                            $('#ExtraTenMobileNumbers').val(objListMSISDNs);
                            $('#extraTenWindow').data('tWindow').close();
                        }
                    }, "text");
                }

            }, "text");



        }

        function OfferWindowOnOpen() {
            $('#OrderId').val('');
        }

        function validateOffer() {
            var selOfferVal = $("#tlkddlDetOffers").data("tDropDownList").value();
            if (selOfferVal == -1) {
                alert("Please Select Offer");
                return false;
            }
            else {
                SetComponentIds();
                var compIds = $('#SelectedVasIDs').val();
                var url = '@(Url.Content("~/Registration/GetDepenedencyComponents"))';
                $.post(url, { componentIds: compIds }, function (data) {

                    if (data.toString() != "") {
                        $('#SelectedVasIDs').val(data);
                    }
                    $("#frmSelectVAS").submit();

                    return true;
                }, "text");
            }
        }

        function SetComponentIds() {
            $('#SelectedVasIDs').val('');
            $('div[id^="btnVAS_"]').each(function (i) {
                var curBtnId = $(this).attr("id");
                var curbtnBorder = document.getElementById(curBtnId).style.borderStyle;
                var curKenanCode = curBtnId.toString().split('_')[2];
                var curCompId = curBtnId.toString().split('_')[1];
                if ($('#' + curBtnId).hasClass("focus").toString() == "true") {
                    $('#SelectedVasIDs').val($('#SelectedVasIDs').val() + curCompId + ",");
                    if (curKenanCode == '@(extraTenKenanCode)') {
                        $('#hdnExtraTenFlag').val('true');
                    }
                }

            });
        }
        function SelectedOffer() {

            var selOfferVal = $("#tlkddlDetOffers").data("tDropDownList").value();

            if (selOfferVal != "-1") {
                $('#OfferIdSeco').val(selOfferVal.toString().split(',')[0]);
                $('#priceSeco').val(selOfferVal.toString().split(',')[1]);
                $('#uomCodeSeco').val(selOfferVal.toString().split(',')[2]);

            }
        }

        function callcantract() {
            debugger;
            var contractID = $('#SelectedContractID').val();

            if (contractID == '' || contractID == ' ' || contractID == undefined) {
                console.log('Testing');
                alert('Please Select a Contract');
                $('#TabNumber').val(3);
                return false;
            }
            else if (contractID != '') {
                $('#TabNumber').val(4);
                $('#TabNumberSeco').val(6);
            }
            var offersUrl = '@(Url.Content("~/Registration/OfferByDevicePlanAndContractNoIdSeco"))';
            $.post(offersUrl, { contractId: contractID }, function (data) {

                var dropDownList = $('#tlkddlDetOffers').data('tDropDownList');
                dropDownList.dataBind(data);

                dropDownList.select(0);

            }, "json");

            $('#offerDetailsWindow').data('tWindow').center().open();
        }



        function SelectedVAS(btnVasID, vasID) {
            var vasFound = false;
            var arrVasID = $('#SelectedVasIDs').val().split(',');

            if ($.isArray(arrVasID)) {
                arrVasID = jQuery.grep(arrVasID, function (value) {
                    if (value == vasID) {
                        vasFound = true;
                    }
                    return value != vasID;
                });
            }
            if (vasFound) {

                $(btnVasID).css("border-style", "none");

                var newVasIDs = '';
                $.each(arrVasID, function (index, value) {
                    if (value != ' ' || value != ',') {
                        newVasIDs = newVasIDs + value + ',';
                    }
                });
                $('#SelectedVasIDs').val(newVasIDs);
            }
            else {
                $('#SelectedVasIDs').val($('#SelectedVasIDs').val() + vasID + ',');
                $(btnVasID).css("border-style", "solid");
            }
        }



        if ('@(selCompIds)' != '') {
            $('#SelectedVasIDs').val('@(selCompIds)');
        }
        if ('@(selContr)' != '') {
            $('#SelectedContractID').val('@(selContr)');
            var url = '@(Url.Content("~/Registration/GetGroupIdForAutoBoundContractComponent"))';
            $.post(url, { contractId: $('#SelectedContractID').val() }, function (data) {
                if (data.toString() != "") {
                    $('#hdnContractAssociatedVASID').val(data);
                }
            });
        }
        function getDependencyComponents() {
            SetComponentIds();
            var compIds = $('#SelectedVasIDs').val();
            var url = '@(Url.Content("~/Registration/GetDepenedencyComponents"))';
            $.post(url, { componentIds: compIds }, function (data) {
                if (data.toString() != "") {
                    $('#SelectedVasIDs').val(data);

                }
                var vasFound = false;
                var arrVasID = $('#SelectedVasIDs').val().split(',');
                if ($.isArray(arrVasID)) {
                    arrVasID = jQuery.grep(arrVasID, function (value) {
                        if (value == '2239') {
                            vasFound = true;
                        }
                        return value != '2239';
                    });
                }

                if (vasFound)
                    $('#hdnExtraTenFlag').val('true');

                if ($('#hdnExtraTenFlag').val() == 'true') {
                    $('#extraTenWindow').data('tWindow').center().open();
                }
                else
                //$('#offerWindow').data('tWindow').center().open();
                    //document.forms["frmSelectVAS"].submit();
                    $("#frmSelectVAS").submit();
            });
        }



        //New Javascript Function By VLT For Grouping of Components Check on APR 21 2013
        function SelectedNewVAS(objBtnId, objvasID, objGroupId) {
        debugger;
            if (objvasID == '2239') {
                $("#hdnExtraTenGroupId").val(objGroupId);
            }

            var vasFound = false;

            var arrVasID = $('#SelectedVasIDs').val().split(',');

            if ($.isArray(arrVasID)) {
                arrVasID = jQuery.grep(arrVasID, function (value) {
                    if (value == objvasID) {
                        vasFound = true;
                    }
                    return value != objvasID;
                });
            }

            if (vasFound) {

                if (objvasID == '2239') {
                    $('#hdnExtraTenFlag').val('');

                }

                $('#' + objBtnId).removeClass('focus');
                var modGroupIds = $('#hdnGroupIds').val().toString().replace(objGroupId + ",", "");
                $('#hdnGroupIds').val(modGroupIds);
                var newVasIDs = '';
                $.each(arrVasID, function (index, value) {
                    if (value != "" && value != ',') {
                        newVasIDs = newVasIDs + value + ',';
                    }
                });

                $('#SelectedVasIDs').val(newVasIDs);
            }
            else {

                if (objvasID == '2239') {
                    $('#hdnExtraTenFlag').val('true');

                }

                if ($('#hdnContractAssociatedVASID').val().indexOf(objGroupId) != -1) {
                    $('#Plan_Error').html("Dependency Check Fail: Duplicate of Product Mobile – APN=UNET/3G Found, please unselect it from the Data Components section.")
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return;

                }

                var curbtnBorder = $('#' + objBtnId).css('border-style');

                if (objGroupId == -1) {
                    if ($('#' + objBtnId).hasClass("focus").toString() == "true") {
                        $('#' + objBtnId).removeClass('focus');

                        //Remove Vas Ids
                        var curVasIds = $('#SelectedVasIDs').val();
                        curVasIds = curVasIds.toString().replace(objvasID + ",", "");
                        $('#SelectedVasIDs').val(curVasIds);
                    }
                    else {
                        $('#' + objBtnId).addClass('focus');
                        $('#SelectedVasIDs').val($('#SelectedVasIDs').val() + objvasID + ',');
                    }

                    return;
                }

                var CurGroupIds = $('#hdnGroupIds').val();
                if ($('#' + objBtnId).hasClass("focus").toString() == "true") {
                    $('#' + objBtnId).removeClass('focus');
                    //Remove Group Ids
                    CurGroupIds = CurGroupIds.toString().replace(objGroupId + ",", "");
                    $('#hdnGroupIds').val(CurGroupIds);

                    //Remove Vas Ids
                    var curVasIds = $('#SelectedVasIDs').val();
                    curVasIds = curVasIds.toString().replace(objvasID + ",", "");
                    $('#SelectedVasIDs').val(curVasIds);
                    return;
                }
                if (CurGroupIds != '') {
                    if (CurGroupIds.indexOf(objGroupId) == -1) {
                        CurGroupIds += objGroupId + ",";
                    }
                    else {
                        $('#Plan_Error').html("Please Select only one Component from Each Group")
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                        return;
                    }
                }
                else {
                    CurGroupIds = objGroupId + ",";
                }

                $('#' + objBtnId).addClass('focus');
                $('#hdnGroupIds').val(CurGroupIds);

                if (!checkDuplicate($('#SelectedVasIDs').val(), objvasID)) {
                    $('#SelectedVasIDs').val($('#SelectedVasIDs').val() + objvasID + ',');
                }
            }
        }


        function checkDuplicate(arrVasID, objvasID) {
            if ($.isArray(arrVasID)) {
                arrVasID = jQuery.grep(arrVasID, function (value) {
                    if (value == objvasID) {
                        return true;
                    }
                    return value != objvasID;
                });
            }
        }
    </script>
}
