﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "Supplementary Line Package Details";
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = (int)Session["RegMobileReg_Type"];
}
@model Online.Registration.Web.ViewModels.SublineVASVM

@using (Html.BeginForm("SubLineVAS", "Registration", FormMethod.Post, new { id = "frmSubLineVAS", @class = "overlayonsubmit", processmsg = "Loading" }))
{ 
    <div class="vwHeader">
        @Html.Hidden("submit1")
        <table width="100%">
            <tr>
                <td>
                    <div>@ViewBag.Title</div>
                    <div class="vwSubHeader">Supplementary Line Plan > @ViewBag.Title</div>
                </td>
                <td align="right">
                    <button class="button-back cancel" type="submit" value="Back" onclick="$('#submit1').val('Back');">
                    </button>
                    <button class="button-continue" type="submit" value="Next" onclick="$('#submit1').val('Next');">
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
        <div style="float: left;">
            <div style="font-size:x-large;padding:10px 0px 10px 0px;">@ViewBag.Title</div>
            <table>
                <tr>
                    <td valign="top">
                        @Html.ValidationSummary(false)
                        @Html.HiddenFor(a => a.VasVM.SelectedVasIDs)
                        @{
                            
    for (int i = 0; i < Model.VasVM.AvailableVASes.Count(); i++)
    {
                                    @Html.HiddenFor(model => model.VasVM.AvailableVASes[i].PgmBdlPkgCompID)
    }
                                
                                <div class="divSelection">
                                    @if (Model.VasVM.AvailableVASes.Count() > 0)
                                    {
                                        int count = 1;
                                        foreach (var vas in Model.VasVM.AvailableVASes)
                                        {
                                            var btnVASID = "btnVAS_" + vas.PgmBdlPkgCompID;
                                            <button class="cancel btnSelection" style="width:186px;height:50px" type="button" id="@btnVASID" onclick="SelectedVAS(@btnVASID,@vas.PgmBdlPkgCompID);" >
                                                @vas.ComponentName
                                            </button>
                                            if (count == 3)
                                            {
                                                count = 1;
                                                <br /><br />
                                            }
                                            else
                                            {
                                                count++;
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <text>Not Available</text>
                                    }
                                </div>
                            }
                        }
                    </td>
                </tr>
            </table>
        </div>
        <div style="float: right;">
            @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_SublineSummary"])
        </div>
    </div>
}

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            //Highlight selected VAS
            var arrVasID = $('#VasVM_SelectedVasIDs').val().split(',');
            $.each(arrVasID, function (index, value) {
                if (value != ' ' || value != ',') {
                    $('#btnVAS_' + value).css("border-style", "solid");
                }
            });

            if ( @(sessionRegType) == @(PlanOnly)) {
                if($('#menuPlan').length > 0) {$('#menuPlan').css("background-image", $('#menuPlan').css("background-image").replace(".png", "_hover.png"));}
            }
            else if ( @(sessionRegType) == @(DeviceOnly)) {
                $('#menuDevice').css("background-image", $('#menuDevice').css("background-image").replace(".png", "_hover.png"));
            }
            else {
                $('#menuDevicePlan').css("background-image", $('#menuDevicePlan').css("background-image").replace(".png", "_hover.png"));
            }
        });

        function SelectedVAS(btnVasID, vasID) {

            var vasFound = false;
            var arrVasID = $('#VasVM_SelectedVasIDs').val().split(',');

            if ($.isArray(arrVasID)) {
                arrVasID = jQuery.grep(arrVasID, function (value) {
                    if (value == vasID) {
                        vasFound = true;
                    }
                    return value != vasID;
                });
            }

            if (vasFound) {

                $(btnVasID).css("border-style", "none");

                var newVasIDs = '';
                $.each(arrVasID, function (index, value) {
                    if (value != ' ' || value != ',') {
                        newVasIDs = newVasIDs + value + ',';
                    }
                });

                $('#VasVM_SelectedVasIDs').val(newVasIDs);
            }
            else {
                $('#VasVM_SelectedVasIDs').val($('#VasVM_SelectedVasIDs').val() + vasID + ',');
                $(btnVasID).css("border-style", "solid");
            }
        }
    
    </script>
}