﻿@using Online.Registration.Web.Helper;
@using System.Configuration;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.WEBPosVM
@{
    ViewBag.Title = "POS";
    Layout = "";
    var POSURL = System.Configuration.ConfigurationManager.AppSettings["WebPosURL"].ToString2();
 }
 <!DOCTYPE html>
<html>
<head>
    
    <script type="text/javascript">
        window.history.forward();
        function noBack() { window.history.forward(); }
    </script>
        
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/html5reset.css")"  media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/responsivegridsystem.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/col.css")"  media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/4cols.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/tabcontent.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/jquery-ui/jquery.ui.all.css")" />
    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/owl.carousel.css")" />
    <!-- Default Theme -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/owl.theme.css")" />
    
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.css")"/>
    
     
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/js/jquery-1.8.2.min.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/jquery-ui-1.8.21.min.js")" ></script>
    @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>*@
    <script type="text/javascript" language="javascript"  src="@Url.Content("~/scripts/js/ui/jquery.ui.core.js")" ></script>
    <script type="text/javascript" language="javascript"  src="@Url.Content("~/scripts/js/ui/jquery.ui.widget.js")" ></script>
    <script type="text/javascript" language="javascript"  src="@Url.Content("~/scripts/js/ui/jquery.ui.accordion.js")" ></script>
    
    
    
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/jquery.validate.min.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/jquery.validate.unobtrusive.min.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/jquery.blockUI.js")" ></script>
    <script type="text/javascript" language="javascript">

        $(document).ready(function () {

            var LoadImgPath = '@Url.Content("~/Content/img/shared/iSELL-loading.gif")';
            var isonformsubmit = "False";

            $(document).ajaxStart(function () {
                $.blockUI({
                    baseZ: 11000,
                    message: '<div class="LoderDiv"><img id="imgloading" src=' + LoadImgPath + ' /><br><span style="font-family: Verdana,Geneva,sans-serif;font-size: 20px;">Loading...</span></div>'
                });
                setTimeout("$('#imgloading').attr('src', '" + LoadImgPath + "' );", 1);
            }).ajaxStop(function () {
                if (isonformsubmit == "False") {                    
                    $.unblockUI();
                }
            });

            $(".overlayonsubmit").on("submit", function () {
                if ($(this).valid()) {
                    $.blockUI({
                        baseZ: 11000,
                        message: '<div class="LoderDiv"><img id="imgloading" src=' + LoadImgPath + ' /><br><span style="font-family: Verdana,Geneva,sans-serif;font-size: 20px;">' + $(this).attr("processmsg") + '</span></div>'
                    });
                    setTimeout("$('#imgloading').attr('src', '" + LoadImgPath + "' );", 1);
                    isonformsubmit = "True";
                }
            });         
                   
            $("#frmWebPos").submit();
            //$("#POSdiv").hide();         
            //$('#SubmitPos').click();
        });     
    </script> 
</head>
<body>

<form id="frmWebPos" processmsg="Processing to WebPOS" class="overlayonsubmit" method="post" action='@POSURL' name="form1">
 
<div style="display:none">

userid:<input type="text" name="userid" value= '@Model.UserId'><br>
StoreID: <input type="text" name="storeID" value='@Model.StoreID'><br>
iSellDeviceID:  <input type="text" name="iSellDeviceID" value='@Model.iSellDeviceID'><br>
iSellOrderID:<input type="text" name="iSellOrderID" value='@Model.iSellOrderID'><br>
iSellOrderDate: <input type="text" name="iSellOrderDate" value='@Model.iSellOrderDate'><br>
iSellContent:<textarea rows="4" cols="50" name="iSellContent">@Model.iSellContent</textarea><br>
<button type="submit" id="SubmitPos">Submit</button> 
</div>
</form>       
</body>
 <script type="text/javascript" language="javascript">
     $(document).ready(function () {
         $('#SubmitPos').click();
     });
    </script> 
</html>


