﻿<html>
<body>
<h1>iSell Page</h1>
<form action="http://10.201.128.45/WebPos/Login.aspx" name="form1">
 
<div style="display:none">
userid: <input type="text" name="userid" value="1"><br>
StoreID: <input type="text" name="storeID" value="600"><br>
iSellDeviceID: <input type="text" name="iSellDeviceID" value="1"><br>
iSellOrderID: <input type="text" name="iSellOrderID" value="2"><br>
iSellOrderDate: <input type="text" name="iSellOrderDate" value="20140602"><br>
iSellContent:<textarea rows="4" cols="50" name="iSellContent">
NonBilling|20046799|60122143548|1700123514|CS|singleport|3423|3454|3432432|city|46000|893456789087653608|EA|||NonBilling|70000005|60122143548|1700123514|CS|singleport|3423|3454|3432432|city|46000||EA|||NonBilling|70000067|60122143548|1700123514|CS|singleport|3423|3454|3432432|city|46000||ZD1|||NonBilling|70000100|60122143548|1700123514|CS|singleport|3423|3454|3432432|city|46000||ZD1|||NonBilling|70000065|60122143548|1700123514|CS|singleport|3423|3454|3432432|city|46000||ZD1|||
</textarea><br>
<button type="submit" id="btn1">Submit</button> 
</div>
</form>       
</body>
 <script type="text/javascript" language="javascript">
     $(document).ready(function () {
         $('#btn1').click();         
     });
    </script> 
</html>



