﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Admin.Models;
@using SNT.Utility;

@model UserGroupAccessViewModel

@{
    ViewBag.Title = "Add User Group Access";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Add:</legend>
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.UserGroupAccess.UserGrpID)
                </td>
                <td>
                    @if (Model.UserGroupID == 0)
                    {
                        @(Html.Telerik().DropDownListFor(model => model.UserGroupAccess.UserGrpID).BindTo(Util.GetList(RefType.UserGroup, defaultValue:"")))
                        @Html.ValidationMessageFor(model => model.UserGroupAccess.UserGrpID)
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.UserGroupID, new { @disabled = true, @Value = Util.GetNameByID(RefType.UserGroup, Model.UserGroupID), @style="width:250px" }) 
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.UserGroupAccess.AccessID)
                </td>
                <td>
                    @if (Model.AccessID == 0)
                    {
                        @(Html.Telerik().DropDownListFor(model => model.UserGroupAccess.AccessID).BindTo(Util.GetList(RefType.Access, defaultValue: "")))
                        @Html.ValidationMessageFor(model => model.UserGroupAccess.AccessID)
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.AccessID, new { @disabled = true, @Value = Util.GetNameByID(RefType.Access, Model.AccessID), @style = "width:250px" }) 
                    }
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" name="submit" value="Save">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
}

    