﻿
.reportHeader th
{
    color : White;
    background-color: #009900;
    font-family : Sans-Serif;
    font-size : 11pt;
}

.tabletitle
{
    font-family : Tahoma;font-size : 10pt; font-weight: bolder;
}

.tabletxt 
{
    font-family : Tahoma;font-size : 9pt
}

.reporttitle 
{
    font-family : Tahoma;font-size : 15pt; font-weight: bolder; color:black;
}

.tabletd
{
    font-family : sans-serif; font-size : 10pt;
}

.tabletdsmall
{
    font-family : sans-serif ; font-size : 10pt;
}

.tableheader
{
    font-family : Verdana ; font-size : 13pt; font-weight: bolder;
}