﻿/* RESET */
/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; } article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;} body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; } 
*/
header {
	margin: 0;
}

html   
{
    background-image : url(images/pattern.gif);
    background-repeat: repeat; 
    margin: 0; padding: 0; border: 0;  vertical-align: baseline;
}

body 
{
    color: #666; 
    font: 12px Arial, Tahoma,sans-serif;
    margin: 0; padding: 0; border: 0; vertical-align: baseline;
    width: 920px;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a.k-link 
{
    text-decoration: none;   
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page 
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
}

#main {
    padding: 30px 30px 15px 30px;
    /*background-color: #fff;*/
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    min-height: 350px;
}

footer, 
#footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU   
----------------------------------------------------------*/
#topmenu {
	padding: 30px 0 0 0;
	text-transform: uppercase;
	margin: 0;
}

#topmenu ul li {
	 text-align: left;
}

#topmenu ul li a:link {
	 text-decoration: none;
}

ul#menu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 150px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table {
    /*border: solid 1px #e8eef4;*/
    border-collapse: collapse;
}

table td {
    padding: 5px;
    /*border: solid 1px #e8eef4;*/
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    /*border: solid 1px #e8eef4;*/
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 40px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 0;
    margin: 0;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 0;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 0px;
}

#logindisplay a:link {
    text-decoration: underline;
}

#logindisplay a:visited {
    text-decoration: underline;
}

#logindisplay a:hover {
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
    width:500px;
}

.validation-summary-valid {
    display: none;
}

.mandatory-star {
	color: Red;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

/* Grid Style */
.gridDiv
{
    overflow-x: scroll; 
    position: relative;
}

.btnSelection
{
    vertical-align:top;
    white-space:normal;
    border-color:#00FF40;
    cursor:pointer;
    border-style:none;
    border-width:3px;
    background-image:url(images/greybg.gif);
    background-repeat:repeat-x;
    background-position: left bottom; 
    background-color:#fff;
}
.btnSelection:hover
{
    background-image:url(images/greybg3_hover.gif);
    -webkit-box-shadow: inset 1px 2px 20px 2px rgba(100, 100, 100, 10);
    box-shadow: inset 1px 2px 20px 2px rgba(100, 100, 100, 10);
}

.btnPlanSelection
{
    vertical-align:top;
    white-space:normal;
    border-color:#00FF40;
    cursor:pointer;
    border-style:none;
    border-width:3px;
    background-image:url(images/greybg.gif);
    background-repeat:repeat-x;
}
.btnPlanSelection:hover
{
    background-image:url(images/plangreybg_hover.gif);
}

.btnMobileNo
{
    border-radius:7px;
    white-space:normal;
    font-weight:bold;
    border-color:#00FF40;
    cursor:pointer;
    width:113px;
    height:40px;
    border-style:none;
    border-width:3px;
    background-image:url(images/greybg.gif);
    background-repeat:no-repeat;
}
.btnMobileNo:hover
{
    background-image:url(images/greybg_hover.gif);
}

.vwHeader
{
    color:#488e74;
    font-size:large;
    font-weight:bolder;
    /*text-transform: uppercase;*/
    padding: 0px 10px 0px 10px;
    border:1px solid #c8c8c8;
    background-color:#e8e8e8;
    background-image:url(images/Headerbg.png);
    background-position:left top;
    background-repeat:repeat-x;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    /*added by VLT*/
    width:880px;
}

.vwHeader table { width: 100%; }
.vwHeaderButtonsCell 
{ 
    text-align: right; 
    position: relative;
    top: -1px;
}

.vwSubHeader
{
    color:#0d3b76;
    font-size:xx-small;
    text-transform: none;
}

.menuBar
{
    width:136px;
    background-image:url(images/MenuBg.jpg);
    background-repeat:no-repeat;
    min-height:500px;
    border-bottom:1px solid #e6e6e6;
}

.divSelection
{
    overflow-x:auto;
    white-space:nowrap;
    padding: 10px 10px 10px 10px; 
    border-width:1px;
    border-color:Silver;
    border-style:solid;
    border-radius: 3px;
    box-shadow: 10px 10px 5px #888888;
    height:400px;
    min-width:480px;
    max-width:480px;
}

.divContractSelection
{
    overflow-x:auto;
    white-space:nowrap;
    padding: 10px 10px 10px 10px; 
    border-width:1px;
    border-color:Silver;
    border-style:solid;
    border-radius: 3px;
    box-shadow: 10px 10px 5px #888888;
    height:220px;
    width:480px;
    overflow-y:auto;
    overflow-x:hidden;
}

.divMobileSelection
{
    overflow-y: auto;
    white-space:nowrap;
    padding: 10px 10px 10px 10px; 
    border-width:1px;
    border-color:Silver;
    border-style:solid;
    border-radius: 3px;
    box-shadow: 10px 10px 5px #888888;
    height:300px;
    width:480px;
}

.button-continue {
	cursor:pointer;
    border-style:none;
    background-image:url(images/btn_continue.png);
    background-repeat:no-repeat;
    width:83px;
    height:34px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-continue:hover {
	background-image:url(images/btn_continue_hover.png);
}

.button-continue2 {
	cursor:pointer;
    border-style:none;
    background-image:url(images/btn_continue2.png);
    background-repeat:no-repeat;
   /* background-color:White;*/
    width:84px;
    height:32px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-continue2:hover {
	background-image:url(images/btn_continue2_hover.png);
}

.button-skip {
	cursor:pointer;
    border-style:none;
    background-image:url(images/btn_skip.png);
    background-repeat:no-repeat;
    background-color:#FFF;
    width:83px;
    height:34px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-skip:hover {
	background-image:url(images/btn_skip_hover.png);
}

.button-submit {
	cursor:pointer;
    border-style:none;
    background-image:url(images/btn_submit.png);
    background-repeat:no-repeat;
    width:83px;
    height:34px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-submit:hover {
	background-image:url(images/btn_submit_hover.png);
}

.button-Coverage {
	cursor:pointer;
    border-style:none;
    background-image:url(images/Btn_coverage.png);
    background-repeat:no-repeat;
    background-color:White;
    width:160px;
    height:38px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-Coverage:hover {
	background-image:url(images/Btn_coverage_hover.png);
}

.button-cancel {
	cursor:pointer;
    border-style:none;
    background-image:url(images/btn_Cancel.png);
    background-repeat:no-repeat;
    width:83px;
    height:34px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-cancel:hover {
	background-image:url(images/btn_Cancel_hover.png);
}

.button-account {
	cursor:pointer;
    border-style:none;
    background-image:url(images/btn_AccSum.png);
    background-repeat:no-repeat;
    width:147px;
    height:31px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-account:hover {
	background-image:url(images/btn_AccSum_hover.png);
}

.button-account-selected {
    border-style:none;
    background-image:url(images/btn_AccSum_active.png);
    background-repeat:no-repeat;
    width:147px;
    height:31px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-service {
	cursor:pointer;
    border-style:none;
    background-image:url(images/btn_Service.png);
    background-repeat:no-repeat;
    width:81px;
    height:31px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-service:hover {
	background-image:url(images/btn_Service_hover.png);
}

.button-service-selected {
    border-style:none;
    background-image:url(images/btn_service_active.png);
    background-repeat:no-repeat;
    width:81px;
    height:31px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-signatureClear {
	background-image:url(images/btn_reset2.png);
	background-position:center;
	width:55px;
	height:20px;
	border:0;
	cursor:pointer;
}

.button-copy {
	background-image:url(images/btn_Copy.png);
	background-position:center;
	width:24px;
	height:24px;
	border:0;
	cursor:pointer;
}

.button-copy-full {
	background-image:url(images/btn_Copy_Full.png);
	background-position:center;
	width:86px;
	height:20px;
	border:0;
	cursor:pointer;
}

.button-copy-all {
	background-image:url(images/btn_Copy_All.png);
	background-position:center;
	width:86px;
	height:20px;
	border:0;
	cursor:pointer;
}

.button-SuppLine {
	cursor:pointer;
    border-style:none;
    background-image:url(images/Btn_AddLine.png);
    background-repeat:no-repeat;
    background-color:White;
    width:187px;
    height:32px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-SuppLine:hover {
	background-image:url(images/Btn_AddLine_hover.png);
}

.button-SuppLineDisable {
	cursor:pointer;
    border-style:none;
    background-image:url(images/Btn_AddLine_disable.png);
    background-repeat:no-repeat;
    background-color:White;
    width:187px;
    height:32px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-SuppLineDisable:hover {
	cursor:pointer;
    border-style:none;
    background-image:url(images/Btn_AddLine_disable_hover.png);
    background-repeat:no-repeat;
    background-color:White;
    width:187px;
    height:32px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-close {
	cursor:pointer;
    border-style:none;
    background-image:url(images/btn_close_reg.png);
    background-repeat:no-repeat;
    width:150px;
    height:34px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-close:hover {
	background-image:url(images/btn_close_reg_hover.png);
}

.button-createAccount{
	cursor:pointer;
    border-style:none;
    background-image:url(images/btn_create_acc.png);
    background-repeat:no-repeat;
    width:150px;
    height:34px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-createAccount:hover {
	background-image:url(images/btn_create_acc_hover.png);
}

.button-activateService{
	cursor:pointer;
    border-style:none;
    background-image:url(images/btn_activate_serv.png);
    background-repeat:no-repeat;
    width:150px;
    height:34px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-activateService:hover {
	background-image:url(images/btn_activate_serv_hover.png);
}

.button-remove
{
    cursor:pointer;
    border-style:none;
    background-image:url(images/close.png);
    background-repeat:no-repeat;
    background-color:White;
    width:30px;
    height:30px;
    border-radius: 3px;
}

.button-back
{
    cursor:pointer;
    border-style:none;
    background-image:url(images/btn_back.png);
    background-repeat:no-repeat;
    width:36px;
    height:34px;
    border-radius: 3px;
}
.button-back:hover
{
    background-image:url(images/btn_back_hover.png);
}

.button-back2
{
    cursor:pointer;
    border-style:none;
    background-image:url(images/btn_back2.png);
    background-repeat:no-repeat;
    background-color:White;
    width:83px;
    height:32px;
    border-radius: 3px;
}
.button-back2:hover
{
    background-image:url(images/btn_back2_hover.png);
}

.button-plan-details {
	background-image:url(images/Plan/more.png);
	background-position:center;
	width:33px;
	height:55px;
	border:0;
	cursor:pointer;
}
.button-plan-details:hover {
	background-image:url(images/Plan/more_hover.png);
	background-position:center;
	width:33px;
	height:55px;
	border:0;
	cursor:pointer;
}

.button-device-details {
	background-image:url(images/devices/more2.png);
	background-position:center;
	width:170px;
	height:200px;
	border:0;
	cursor:pointer;
}
.button-device-details:hover {
	background-image:url(images/devices/more2_hover.png);
	background-position:center;
	width:170px;
	height:200px;
	border:0;
	cursor:pointer;
}

#viewBody {
	width: 750px;
	display: block;
	float: right;
	padding: 5px 20px 5px 5px;
}

.viewInnerBody {
	padding:10px 10px 0px 10px;
	background-color: White;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    min-height: 800px;
    /*added by VLT*/
    width:880px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-color: LightGray;
    border-width: 1px;
}

.viewFormTitle {
    font-size: 2em;
    color: Black;
    padding-left: 10px;
}

#leftMenuBar
{
    width: 145px;
    background-image: url(images/MenuBg.png);
    background-repeat: no-repeat;
    float: left;
    height: 870px;
}

/* Numpad Styles */

.numpad {
	background-image: url(images/numpad/bg.png);
	background-repeat: no-repeat;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 310px;
    height: 370px;
    padding-top: 10px;
    padding-left: 6px;
}

.numpad table {
    text-align: center;
    padding: 0;
    letter-spacing: 5px;
}

.numpad .textHolder {
	width: 286px;
	height: 56px;
	background: url(images/numpad/TextField.png) no-repeat;
}

.numpad .textInput {
	background: none;
	border: none;
	font-size:xx-large;
    margin-top: 10px;
    height: 30px;
    width: 255px;
}

.numpad .tooltip {
    font-weight: bold;
    color: LightGray;
}

.numpad .button-submit {
	background: url(images/numpad/Btn_Submit.png) no-repeat;
	border-style:none;
	width: 281px;
	height: 41px;
}
.numpad .button-submit:hover {
	background: url(images/numpad/Btn_Submit_hover.png) no-repeat;
}

.numpad .button-number {
	border-style:none;
	width: 89px;
	height: 47px;
}

.numpad .button-cancel {
	border-style:none;
	width: 89px;
	height: 47px;
	background: url(images/numpad/cancel.png) no-repeat;
	/*position: absolute;
	left: 5%;*/
}
.numpad .button-cancel:hover {
	background: url(images/numpad/cancel_hover.png) no-repeat;
}

.numpad .button-x {
	border-style:none;
	width: 89px;
	height: 32px;
	background: url(images/numpad/del.png) no-repeat;
	/*position: absolute;
	left: 67%;
	margin: 70% 0 0 0%;*/
}
.numpad .button-x:hover {
	background: url(images/numpad/del_hover.png) no-repeat;
}

.numpad .button-0 {
	background: url(images/numpad/0.png) no-repeat;
	/*position: absolute;
	left: 36%;*/
}
.numpad .button-0:hover {
	background: url(images/numpad/0_hover.png) no-repeat;
}

.numpad .button-1 {
	background: url(images/numpad/1.png) no-repeat;
}
.numpad .button-1:hover {
	background: url(images/numpad/1_hover.png) no-repeat;
}

.numpad .button-2 {
	background: url(images/numpad/2.png) no-repeat;
}
.numpad .button-2:hover {
	background: url(images/numpad/2_hover.png) no-repeat;
}

.numpad .button-3 {
	background: url(images/numpad/3.png) no-repeat;
}
.numpad .button-3:hover {
	background: url(images/numpad/3_hover.png) no-repeat;
}

.numpad .button-4 {
	background: url(images/numpad/4.png) no-repeat;
}
.numpad .button-4:hover {
	background: url(images/numpad/4_hover.png) no-repeat;
}

.numpad .button-5 {
	background: url(images/numpad/5.png) no-repeat;
}
.numpad .button-5:hover {
	background: url(images/numpad/5_hover.png) no-repeat;
}

.numpad .button-6 {
	background: url(images/numpad/6.png) no-repeat;
}
.numpad .button-6:hover {
	background: url(images/numpad/6_hover.png) no-repeat;
}

.numpad .button-7 {
	background: url(images/numpad/7.png) no-repeat;
}
.numpad .button-7:hover {
	background: url(images/numpad/7_hover.png) no-repeat;
}

.numpad .button-8 {
	background: url(images/numpad/8.png) no-repeat;
}
.numpad .button-8:hover {
	background: url(images/numpad/8_hover.png) no-repeat;
}

.numpad .button-9 {
	background: url(images/numpad/9.png) no-repeat;
}
.numpad .button-9:hover {
	background: url(images/numpad/9_hover.png) no-repeat;
}

/* Numpad Styles End */

.complaintCustomerDetails {
	display: none; 
	width: 250px; 
	position: relative; 
	margin-top: -15px; 
    margin-right: -15px;
    left: 26px;
}

.complaintCustomerDetails table {
	width: 100%; 
	border: 0;
	border-spacing: 0;
}

.complaintCustomerDetails .header {
	height: 60px; 
	color: #7cb44f; 
	background: url(images/HeaderBg_grey.gif) repeat-x;
	text-align: center;
	font-weight: bold;
	padding: 0;
}

.complaintCustomerDetails .content {
	background-color: #f5f5f5;
	width: 100%;
	height: 470px;
	vertical-align: top;
}

.complaintCustomerDetails .content td {
	padding: 18px;
	text-align: left;
	vertical-align: top;
}

.complaintCustomerDetails .content .first {
	width: 80px; 
	height: 80px;
}

.complaintCustomerDetails .content .others {
	height: 50px;
}

.complaintCustomerDetails .content .label {
	color: Blue;
	font-weight: bold;
	width: 60px;
}

.complaintCustomerDetails .content .value {
	text-align: left;
	font-weight: bold;
}

.complaintCustomerDetails .content .last td 
{
    width: 80px; 
	height: 80px;
	text-align: center; 
	vertical-align: top;
}

.complaintCustomerDetails .content .last button {
	color: #db8322; 
	width: 100px; 
	height: 40px;
}

.orderSummary {
	width: 200px; 
	position: relative; 
	margin-top: -10px; 
    margin-right: -10px;
    
}

.orderSummary table {
	width: 100%; 
	border: 0;
	border-spacing: 0;
}

.orderSummary .header {
	height: 60px; 
	color: #7cb44f; 
	background: url(images/HeaderBg_grey.gif) repeat-x;
	text-align: center;
	font-weight: bold;
	padding: 0;
}

.orderSummary .content {
	background-color: #f5f5f5;
	width: 100%;
	height: 760px;
	vertical-align: top;
	font:-webkit-small-control;
	line-height:18px;
}

.planContent
{
    float:left;
    width:220px;
    background-image:url(images/PlanHeader.png);
    background-repeat:no-repeat;
    box-shadow: 10px 10px 5px #888888;    
}
.planContent .header
{
    color:White;
    font-weight:lighter;
}
.planContent .subheader
{
    color:White;
    font-size:large;
    font-weight:bold;
    
}

.left-inner-menu a
{
    display: block;
    width: 135px;
    height: 75px;
    text-indent: -9999px; /* hides the link text */
    background-repeat:no-repeat; 
    background-position: top left;  
}

#menuHomeReg
{
    background-image: url(images/menu/Home.png);
    
}
#menuHomeReg:hover
{
    background: url(images/menu/Home_hover.png) no-repeat top left;
}

#menuPlan
{
    background-image: url(images/menu/plan.png);
    
}
#menuPlan:hover
{
    background: url(images/menu/plan_hover.png) no-repeat top left;
}

#menuDevice
{
    background-image: url(images/menu/Device.png);
    
}
#menuDevice:hover
{
    background: url(images/menu/Device_hover.png) no-repeat top left;
}

#menuPlanSearch
{
    background-image: url(images/menu/search.png);
    
}
#menuPlanSearch:hover
{
    background: url(images/menu/search_hover.png) no-repeat top left;
}

#menuHomeSearch
{
    background-image: url(images/menu/search.png);
    
}
#menuHomeSearch:hover
{
    background: url(images/menu/search_hover.png) no-repeat top left;
}

#menuDevicePlan
{
    background-image: url(images/menu/DevicePlan.png);
    
}
#menuDevicePlan:hover
{
    background: url(images/menu/DevicePlan_hover.png) no-repeat top left;
}

#menuGuidedSales
{
    background-image: url(images/menu/GuidedSales.png);
    
}
#menuGuidedSales:hover
{
    background: url(images/menu/GuidedSales_hover.png) no-repeat top left;
}

#menuPlanMNP
{
    background-image: url(images/menu/PlanMNP.png);
    
}
#menuPlanMNP:hover
{
    background: url(images/menu/PlanMNP_hover.png) no-repeat top left;
}

#menuNewExisting
{
    background-image: url(images/menu/NewExisting.png);
    
}
#menuNewExisting:hover
{
    background: url(images/menu/NewExisting_hover.png) no-repeat top left;
}

#menuSuppline
{
    background-image: url(images/menu/AddSuppSecondaryLine.png);
    
}
#menuSuppline:hover
{
    background: url(images/menu/AddSuppSecondaryLine_hover.png) no-repeat top left;
}

#menuUpDowngrade
{
    background-image: url(images/menu/updowngrade.png);
}

#menuUpDowngrade:hover
{
    background-image: url(images/menu/updowngrade_hover.png);
}

#menuVAS
{
    background-image: url(images/menu/VAS2.png);
}

#menuVAS:hover
{
    background-image: url(images/menu/VAS2_hover.png);
}

#menuComplaint
{
    background-image: url(images/menu/complaint.png);
    
}
#menuComplaint:hover
{
    background: url(images/menu/complaint_hover.png) no-repeat top left;
}

#menuInquiry
{
    background-image: url(images/menu/inquiry.png);
    
}
#menuInquiry:hover
{
    background: url(images/menu/inquiry_hover.png) no-repeat top left;
}

#menuComplaintList
{
    background-image: url(images/menu/complaint_list.png);
    
}
#menuComplaintList:hover
{
    background: url(images/menu/complaint_list_hover.png) no-repeat top left;
}

#menuHomeAgingReport
{
    background-image: url(images/menu/AgingReport.png);
    
}
#menuHomeAgingReport:hover
{
    background: url(images/menu/AgingReport_hover.png) no-repeat top left;
}

#menuAdminConfig
{
    background-image: url(images/menu/Configuration.png);
    
}
#menuAdminConfig:hover
{
    background: url(images/menu/Configuration_hover.png) no-repeat top left;
}

#menuMediaGallery
{
    background-image: url(images/menu/MediaGallery.png);
    
}
#menuMediaGallery:hover
{
    background: url(images/menu/MediaGallery_hover.png) no-repeat top left;
}

#menuLogout
{
    background-image: url(images/menu/logout.png); margin:10px 0 0 22px;
    
}
#menuLogout:hover
{
    background-image: url(images/menu/logout_hover.png);
    
}
#menuNewLine
{
    background-image: url(images/menu/AddNewline-btn.png);
    
}
#menuNewLine:hover
{
    background: url(images/menu/AddNewline-btn_hover.png) no-repeat top left;
}
.button-menuType
{
    cursor:pointer;
    display: block;
    width: 170px;
    height: 170px;
    border: 0px;
    border-radius: 10px;
    text-indent: -9999px; /* hides the link text */
    background-repeat:no-repeat; 
    background-position: top left; 
}

.menuGuidedDeviceSales
{
    background-image: url(images/menu/GuidedDevice.png);
}
.menuGuidedDeviceSales:hover
{
    background: url(images/menu/GuidedDevice_hover.png) no-repeat top left;
}

.menuGuidedPlanSales
{
    background-image: url(images/menu/GuidedPlanSales.png);
}
.menuGuidedPlanSales:hover
{
    background: url(images/menu/GuidedPlanSales_hover.png) no-repeat top left;
}
/*Added by VLT*/
.menuTypeGuidedSales
{
    background-image: url(images/menu/GuidedSalesMenu.png);
}
.menuTypeGuidedSales:hover
{
    background-image: url(images/menu/GuidedSalesMenu_hover.png);
}
.menuTypeConsumer
{
    background-image: url(images/menu/ConsumerReg.png);
}
.menuTypeConsumer:hover
{
    background: url(images/menu/ConsumerReg_hover.png) no-repeat top left;
}

.menuTypeMNP
{
    background-image: url(images/menu/MNPMenu.png);
}
.menuTypeMNP:hover
{
    background: url(images/menu/MNPMenu_hover.png) no-repeat top left;
}
.menuTypeWL
{
    background-image: url(images/menu/WLMenu.png);
}
.menuTypeWL:hover
{
    background: url(images/menu/WLMenu_hover.png) no-repeat top left;
}
.menuTypeReports
{
    background-image: url(images/menu/reports.png);
}
.menuTypeReports:hover
{
    background: url(images/menu/reports_hover.png) no-repeat top left;
}

.menuTypeHome
{
    background-image: url(images/menu/HomeReg.png);
}
.menuTypeHome:hover
{
    background: url(images/menu/HomeReg_hover.png) no-repeat top left;
}

.menuTypeCustService
{
    background-image: url(images/menu/CustomerService.png);
}
.menuTypeCustService:hover
{
    background: url(images/menu/CustomerService_hover.png) no-repeat top left;
}

.menuTypeSearchOrder
{
    background-image: url(images/menu/SrchOrder.png);
}
.menuTypeSearchOrder:hover
{
    background: url(images/menu/SrchOrder_hover.png) no-repeat top left;
}

/* Added by Patanjali on 30-03-2013 for store keeper and cashier */
.menuTypeStoreKeeper
{
    background-image: url(images/menu/storekeeper.png);
}
.menuTypeStoreKeeper:hover
{
    background: url(images/menu/storekeeper_hover.png) no-repeat top left;
}

.menuTypeCashier
{
    background-image: url(images/menu/cashier.png);
}
.menuTypeCashier:hover
{
    background: url(images/menu/cashier_hover.png) no-repeat top left;
}

/* Added by Patanjali on 30-03-2013 for store keeper and cashier Ends here*/

/*Begin code added by sindhu on 28th Aug 2013 for view orders */
.menuTypeTL
{
    background-image: url(images/menu/Vieworder.png);
}
.menuTypeTL:hover
{
    background: url(images/menu/Vieworder_hover.png) no-repeat top left;
}
/*End code added by sindhu on 28th Aug 2013 for view orders */
.menuTypeDealerReg
{
    background-image: url(images/menu/DealerServices_grey.png);
}

#menuHome
{
    background-image: url(images/logo.png);
}

.uppercase {text-transform: uppercase;}

.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;    } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.latest { width: 200px; height: 200px; border-style: none; border-width: 0; position: relative; cursor: pointer; float:left; margin-bottom:20px; }
.latest img { width: 100%; height: 100%; }

.latestSimRepl { width: 0px; height: 0px; border-style: none; border-width: 0; position: relative; cursor: pointer; float:left; margin-bottom:20px; }
.latestSimRepl img { width: 100%; height: 100%; }

.container {
	width: 450px;
	height: 220px;
	border: 1px solid #eeeeee
}
			
.carousel {
	top: 0px;
}

.ui-carousel-next, .ui-carousel-prev {
	width: 452px;
	height: 50px;
	background: url(images/arrow_down.png) #5fb848 center center no-repeat;
	display: block;
	border:1px solid #5fb848;
	z-index: 100;
}

.ui-carousel-next {
	top: 0;
	background-image: url(images/arrow_up.png);
}

.ui-carousel-prev 
{
    top: 50;
	bottom: 0;
}
			
.ui-carousel-next > span, #ui-carousel-prev > span {
	display: none;
}	

.box
{
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:#08088A;
    padding:5px 0px 5px 0px;
    text-align:center;
    color:#fff;
    margin:15px;
    font-size:16px;
    font-weight:bold;
}

.boxContent
{
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size:18px;
    margin:15px;
   
}

.CheckBoxClass{  
        display: none;  
    }
.CheckBoxLabelClass{
    background: url(images/uncheck.jpg) no-repeat;
    margin-left: 20px;
    height: 35px;   
    width: 35px; 
    display: inline-block;
    clear:both; 
    margin-bottom:-10px;
}
.CheckBoxLabelClass:hover{
    text-decoration: underline;
}
.LabelSelected{
    background: url(images/checked.jpg) no-repeat; 
    margin-left: 20px;
    height: 35px;   
    width: 35px;
    display: inline-block;
}

.Srch_button 
{
    cursor:pointer;
  font-size: 14px;
 color: #333333;
 padding: 10px 20px;
 background: -moz-linear-gradient(
  top,
  #ffffff 0%,
  #d1d1d1);
 background: -webkit-gradient(
  linear, left top, left bottom, 
  from(#ffffff),
  to(#d1d1d1));
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 border-radius: 10px;
 border: 1px solid #a3a3a3;
 -moz-box-shadow:
  0px 1px 3px rgba(000,000,000,0.2),
  inset 0px 0px 9px rgba(255,255,255,1);
 -webkit-box-shadow:
  0px 1px 3px rgba(000,000,000,0.2),
  inset 0px 0px 9px rgba(255,255,255,1);
 box-shadow:
  0px 1px 3px rgba(000,000,000,0.2),
  inset 0px 0px 9px rgba(255,255,255,1);
 text-shadow:
  0px -1px 0px rgba(125,125,125,1),
  0px 1px 0px rgba(255,255,255,0.2);
}

.breadcrumb_container {
    display: block;
    height: 34px;
    margin: 0px;
    padding: 0px;
    font-size: 10pt;
    color: #404040;
}
.breadcrumb_e {
    height: 34px;
    line-height: 34px;
    display: inline-block;
    float: left;
    min-width: 4px;
    color: #333;
    background-repeat: no-repeat;
    background-image: url(images/bc-sprite-full.png);
}
.breadcrumb_before {
    width: 17px;
}
.breadcrumb_item {
    background-image: url(images/bc-mid.png);
    background-repeat: repeat-x;
    padding: 0px 8px 0px 8px;
}
.breadcrumb_divider {
    /*width: 24px;
    background-position: -28px 0px;*/
     width:20px;
     background-position: -38px 0px;
}
.breadcrumb_end {
    width: 24px;
    background-position: -57px 0px;
}
.breadcrumb_before_hover {
    background-position: 0px -34px;
}
.breadcrumb_item_hover {
    background-position: 0px -34px;
    color: #fff;
}
.breadcrumb_end_hover {
    background-position: -57px -34px;
}
.breadcrumb_divider_right {
    /*background-position: -86px 0px;*/
    background-position: -94px 0px;
}
.breadcrumb_divider_left {
    /*background-position: -86px -34px;*/
    background-position: -94px -34px;
}
.button-PaymentRecived {
	cursor:pointer;
    border-style:none;
    background-image:url(images/btn_payment_received.png);
    background-repeat:no-repeat;
    width:130px;
    height:34px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-AddRemoveVasReqProcess:hover {
	background-image:url(images/ProcessAddRemoveVas-btn_hover.png);
}
.button-AddRemoveVasReqProcess {
	cursor:pointer;
    border-style:none;
    background-image:url(images/ProcessAddRemoveVas-btn.png);
    background-repeat:no-repeat;
    width:190px;
    height:34px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-PaymentRecived:hover {
	background-image:url(images/btn_payment_received_hover.png);
}
.button-MakePayment {
	cursor:pointer;
    border-style:none;
    background-image:url(images/btn_MakePayment.png);
    background-repeat:no-repeat;
    width:150px;
    height:34px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-MakePayment:hover {
	background-image:url(images/btn_MakePayment_Hover.png);
}

#menuSIMRelacement
{
    background-image: url(images/menu/SIM-replacement-btn.png);
    
}
#menuSIMRelacement:hover
{
    background: url(images/menu/SIM-replacement-btn_hover.png) no-repeat top left;
}
#menuMISM
{
    background-image: url(images/menu/MISM.png);
    
}
#menuMISM:hover
{
    background: url(images/menu/MISM_hover.png) no-repeat top left;
}

#menuTypeStatusTracking
{
    background-image: url(images/menu/StatusTracking.png);
}
#menuTypeStatusTracking:hover
{
    background: url(images/menu/StatusTracking_hover.png) no-repeat top left;
}

#menuMNPPortIn
{
    background-image: url(images/menu/MNP-btn.png);
}
#menuMNPPortIn:hover
{
    background: url(images/menu/MNP-btn_hover.png) no-repeat top left;
}

.menuTypeSmart {
    background-image: url("images/menu/retention-normal.png");
}
.menuTypeSmart:hover {
    background: url("images/menu/retention-over.png") no-repeat scroll left top transparent;
}

#menuTypeAddRemoveVas
{
    background-image: url(images/menu/Add-remove-vas.png);
}
#menuTypeAddRemoveVas:hover
{
    background: url(images/menu/Add-remove-vas_hover.png) no-repeat top left;
}
#divExtraTen
{
    float:left;
    width:340px;
}
.Controller
{
   float:left;
   width:332px;
   padding:4px;
   -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.Controller .NumL
{
    float:left;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
    background-color:#f9f9f9;
    color:#000;
    padding:3px;
    width:15px;
    text-align:center;
    margin-top:2px;
    margin-left:3px;
    margin-right:3px;
}
.Controller .TxtBox
{
    width:200px;
    float:left;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin-left:2px;
}
.Controller .DelBtn
{
    float:left;
}
.AltRow
{
    background-color:#EBEBEB;
   
}
.Row
{
    background-color:#fff;
   
}
.DelBtn
{
    background: url(images/delete-14.png) no-repeat bottom right;
    border:0px;
    padding:0px;
    width:18px;
    height:21px;
}
.AddMoreBtn
{
   background: url(images/AddMore-btn.png) no-repeat top left;
   border:0px;
   padding:0px;
   width:90px;
   height:32px;
   float:right;
   cursor:pointer;
}
.AddMoreBtn:hover
{
    background: url(images/AddMore-btn_hover.png) no-repeat top left;
}
.SaveBtn
{
   background: url(images/save-btn.png) no-repeat top left;
   border:0px;
   padding:0px;
   width:90px;
   height:32px;
   cursor:pointer;
}
.SaveBtn:hover
{
    background: url(images/save-btn_hover.png) no-repeat top left;
}
.PackagesBtn
{
   background: url(images/Packages-btn.png) no-repeat top left;
   border:0px;
   padding:0px;
   width:90px;
   height:32px;
   cursor:pointer;
}
.PackagesBtn:hover
{
    background: url(images/Packages-btn_hover.png) no-repeat top left;
}
.SuppleBtn
{
   background: url(images/SuppleAC-btn.png) no-repeat top left;
   border:0px;
   padding:0px;
   width:90px;
   height:32px;
   cursor:pointer;
}
.SuppleBtn:hover
{
    background: url(images/SuppleAC-btn_hover.png) no-repeat top left;
}
.SecondaryBtn
{
   background: url(images/sec-ac-btn.png) no-repeat top left;
   border:0px;
   padding:0px;
   width:95px;
   height:32px;
   cursor:pointer;
}
.SecondaryBtn:hover
{
    background: url(images/sec-ac-btn_hover.png) no-repeat top left;
}
.YesBtn
{
   background: url(images/yes-btn.png) no-repeat top left;
   border:0px;
   padding:0px;
   width:50px;
   height:32px;
   cursor:pointer;
}
.YesBtn:hover
{
    background: url(images/yes-btn_hover.png) no-repeat top left;
}
.NoBtn
{
   background: url(images/No-btn.png) no-repeat top left;
   border:0px;
   padding:0px;
   width:50px;
   height:32px;
   cursor:pointer;
}
.NoBtn:hover
{
    background: url(images/No-btn_hover.png) no-repeat top left;
}
.CancelBtn
{
   background: url(images/cancel-btn.png) no-repeat top left;
   border:0px;
   padding:0px;
   width:90px;
   height:32px;
   cursor:pointer;
}
.CancelBtn:hover
{
    background: url(images/cancel-btn_hover.png) no-repeat top left;

}
.VPlans
{
    background-color:#EBEBEB; 
    margin-bottom:5px; 
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding: 3px 3px 5px 3px; 
    width: 317px;
    border:1px solid #c6c6c6;
}
.Brdr
{
    border:1px solid #c6c6c6;
}
.DvdrBrdr
{
    border-right:1px solid #fff;
}
.MH
{
    background-color:#EBEBEB;
}
.InfoBox
{
    background-color:#F8F8F8;
    margin-bottom:5px;
}
.BrdrBtm
{
    border-bottom:1px solid #c6c6c6;
}
.TopGap5
{
    margin-top:4px;
}
#menuCRPDevice
{
    background-image: url(images/menu/changerateplan-device.png);
    
}
#menuCRPDevice:hover
{
    background: url(images/menu/changerateplan-device_hover.png) no-repeat top left;
}

#menuCRP
{
    background-image: url(images/menu/changerateplan.png);
    
}
#menuCRP:hover
{
    background: url(images/menu/changerateplan_hover.png) no-repeat top left;
}
.button-Sim {
	cursor:pointer;
    border-style:none;
    background-image:url(images/SIM-btn.png);
    background-repeat:no-repeat;
    background-color:White;
    width:50px;
    height:32px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-Sim:hover {
	background-image:url(images/SIM-btn_hover.png);
}

.button-Sim-Primary {
	cursor:pointer;
    border-style:none;
    background-image:url(images/Primary-SIM-btn.png);
    background-repeat:no-repeat;
    background-color:White;
    width:95px;
    height:32px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-Sim-Primary:hover {
	background-image:url(images/Primary-SIM-btn-hover.png);
}

.button-Sim-Secondary {
	cursor:pointer;
    border-style:none;
    background-image:url(images/Secondary-SIM-btn.png);
    background-repeat:no-repeat;
    background-color:White;
    width:110px;
    height:32px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-Sim-Secondary:hover {
	background-image:url(images/Secondary-SIM-btn-hover.png);
}

.button-Sim-Supp {
	cursor:pointer;
    border-style:none;
    background-image:url(images/SIM-btn.png);
    background-repeat:no-repeat;
    background-color:White;
    width:50px;
    height:32px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-Sim_Supp:hover {
	background-image:url(images/SIM-btn_hover.png);
}

.button-IMEI {
	cursor:pointer;
    border-style:none;
    background-image:url(images/IMEI-btn.png);
    background-repeat:no-repeat;
    background-color:White;
    width:50px;
    height:32px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-IMEI:hover {
	background-image:url(images/IMEI-btn_hover.png);
}
.button-IMEI-Secondary {
	cursor:pointer;
    border-style:none;
    background-image:url(images/Secondary-IMEI-btn.png);
    background-repeat:no-repeat;
    background-color:White;
    width:110px;
    height:32px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-IMEI-Secondary:hover {
	background-image:url(images/Secondary-IMEI-btn-hover.png);
}
.button-IMEI-Primary {
	cursor:pointer;
    border-style:none;
    background-image:url(images/Primary-IMEI-btn.png);
    background-repeat:no-repeat;
    background-color:White;
    width:95px;
    height:32px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-IMEI-Primary:hover {
	background-image:url(images/Primary-IMEI-btn-hover.png);
}
.button-SaveSim {
	cursor:pointer;
    border-style:none;
    background-image:url(images/SaveSIM-btn.png);
    background-repeat:no-repeat;
    background-color:White;
    width:83px;
    height:32px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-SaveSim:hover {
	background-image:url(images/SaveSIM-btn_hover.png);
}
.button-SaveIMEI {
	cursor:pointer;
    border-style:none;
    background-image:url(images/SaveIMEI-btn.png);
    background-repeat:no-repeat;
    background-color:White;
    width:83px;
    height:32px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-SaveIMEI:hover {
	background-image:url(images/SaveIMEI-btn_hover.png);
}
.ST .InfoText
{
    background-color:#EBEBEB;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    display:block;
    padding:5px;
    border:1px solid #C6C6C6;
}
.Controls
{
    float:left;
}
.Controls label
{
    float:left;
    width:100px;
    margin-top:6px;
}
.Controls select
{
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
 }

.AcrdnHdr
{
    background:#EDEDED !important;
    padding:5px 0px;
    color:#488e74;
    font-weight:bold;
}
.t-widget table tr td
{
    text-align:left !important;
}
.ActPanel
{
    clear:both;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background-color:#EBEBEB;
    float:left;
    margin-top:10px;
    width:90%;
}
.ActPanel .InPan
{
    clear:both; 
    float: left;
    border-bottom: 1px solid #fff;
    padding: 10px;
    width: 100%;
    text-align: left;
}
.Divh
{
    padding:10px 20px !important;
}
.TopGap5
{
    margin-top:5px !important;

}

.button-PrincipalToPrincipalPlan {
	cursor:pointer;
    border-style:none;
    background-image:url(images/menu/Principal-to-principal-btn.png);
    background-repeat:no-repeat;
    width:181px;
    height:34px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-PrincipalToPrincipalPlan:hover {
	background-image:url(images/menu/Principal-to-principal-btn_hover.png);
}
.button-Principal-to-Supplimentary {
	cursor:pointer;
    border-style:none;
    background-image:url(images/menu/PrincipaltoSupplementary-btn.png);
    background-repeat:no-repeat;
    width:210px;
    height:34px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-Principal-to-Supplimentary:hover {
	background-image:url(images/menu/PrincipaltoSupplementary-btn_hover.png);
}
.button-Supplimentary-to-Principal {
	cursor:pointer;
    border-style:none;
    background-image:url(images/menu/SupplementarytoPrincipal-btn.png);
    background-repeat:no-repeat;
    width:210px;
    height:34px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-Supplimentary-to-Principal:hover {
	background-image:url(images/menu/SupplementarytoPrincipal-btn_hover.png);
}

.button-Supplimentary-to-Supplimentary-Plan {
	cursor:pointer;
    border-style:none;
    background-image:url(images/menu/SupplementarytoSupplementary-btn.png);
    background-repeat:no-repeat;
    width:270px;
    height:34px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-Supplimentary-to-Supplimentary-Plan:hover {
	background-image:url(images/menu/SupplementarytoSupplementary-btn_hover.png);

}

.button-Secondary {
	cursor:pointer;
    border-style:none;
    background-image:url(images/SecondaryPlan-btn.png);
    background-repeat:no-repeat;
    width:114px;
    height:34px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-Secondary:hover {
	background-image:url(images/SecondaryPlan-btn_hover.png);

}

.button-SecondaryPlan {
	cursor:pointer;
    border-style:none;
    background-image:url(images/SecondaryPlan-btn.png);
    background-repeat:no-repeat;
    width:114px;
    height:34px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-SecondaryPlan:hover {
	background-image:url(images/SecondaryPlan-btn_hover.png);

}

.button-export2Excel {
	cursor:pointer;
    border-style:none;
    background-image:url(images/EXPORTTOEXCEL_normal.png);
    background-repeat:no-repeat;
    width:150px;
    height:34px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}


.button-export2Excel:hover {
	background-image:url(images/EXPORTTOEXCEL_mouseover.png);
}

.button-Approve {
	cursor:pointer;
    border-style:none;
    background-image:url(images/btn_approve.png);
    background-repeat:no-repeat;
    width:82px;
    height:34px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.button-Approve:hover {
	background-image:url(images/btn_approve_hover.png);
}

.ReportTitle
{
    color:Black;
    font-size:large;
    font-weight:bolder;    
    padding: 0px 10px 0px 10px;
    border:0px;       
    background-position:left top;
    background-repeat:repeat-x;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;            
}

ul.tabs
    {
        margin-left: -40px !important;
    }
    .ui-widget
    {
        font: 12px Arial,Tahoma,sans-serif;
        color: #666666;
    }
    .ui-widget-content
    {
        color: #666666;
    }
    #accordion, #accordionFailOrder
    {
        width: 855px; margin-top:20px;
    }
    #accordion div.scrDv, #accordionFailOrder div.scrDv
    {
        border: 1px solid #AAAAAA;
        width: auto;
        overflow: auto;
    }
    .ui-accordion .ui-accordion-content{ padding:0px; }
    
    #accordion h3, #accordionFailOrder h3{border-radius:0px !important;}
    .title
    {
        text-transform: uppercase;
        width: 470px;
        border-bottom: 1px solid lightgray;
        font-weight: bold;
        color: #7cb44f;
        padding: 10px 0px 5px 0px;
    }
        
        
    .htmltabs
    {
        margin-top: 25px;
    }
        
    .tabs li
    {
        display: inline;
        margin-right: 3px;
        text-align: center;
        list-style-type:none;
            
    }
        
    .tabs li a
    {
        cursor: pointer;
        padding: 10px;
        border: 1px solid #ccc;
        font-family: 'PT Sans' ,sans-serif;
        font-size: 13px;
        color: #666;
        font-weight: 400;
        -moz-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
        text-align: center;
    }
        
    .tabs .tab-current
    {
        background: green;
        color: #FFF;
    }
        
    .tabsContent
    {
        border: 1px solid #CCC;
        -moz-box-shadow: 3px 3px 5px #CCC;
        -webkit-box-shadow: 3px 3px 5px #CCC;
        box-shadow: 3px 3px 5px #CCC;
        background: #FFF;
        padding: 20px 00px 20px 10px;
        color: #666;
    }
        
    ul.tabs
    {
        margin: 0 0 8px 0px;
    }
        
.menuTypedashboard
{
    background-image: url(images/menu/Dashboard.png);
}
.menuTypedashboard:hover
{
    background: url(images/menu/Dashboard_hover.png) no-repeat top left;
}

#btnNwPrint
{
    background-image: url(images/btn_print.png); margin:10px 0 0 22px;    
    width: 56px;
height: 36px;
}
#btnNwPrint:hover
{
    background-image: url(images/btn_print_hover.png);
    width: 56px;
    height: 36px;
    
}

#btnClose
{
    background-image: url(images/btn_close.png); margin:10px 0 0 22px;    
    width: 59px;
    height: 39px;
}
#btnClose:hover
{
    background-image: url(images/btn_close_hover.png);
    width: 59px;
    height: 39px;
    
}

#wrapper
{
    font-family: 'frutigerlight';font-size:14px;color:#4d4d4d;
}
#wrapper p
{
    margin-bottom:0px;
}
/*
@font-face {
    font-family: 'frutigerlight';
    src: url('css/fonts/ftl____.pfb-webfont.eot');
    src: url('css/fonts/ftl____.pfb-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/ftl____.pfb-webfont.woff') format('woff'),
         url('css/fonts/ftl____.pfb-webfont.ttf') format('truetype'),
         url('css/fonts/ftl____.pfb-webfont.svg#frutigerlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'frutigerroman';
    src: url('css/fonts/ftr____.pfb-webfont.eot');
    src: url('css/fonts/ftr____.pfb-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/ftr____.pfb-webfont.woff') format('woff'),
         url('css/fonts/ftr____.pfb-webfont.ttf') format('truetype'),
         url('css/fonts/ftr____.pfb-webfont.svg#frutigerroman') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'frutigerblack';
    src: url('css/fonts/ftbl___.eot');
    src: url('css/fonts/ftbl___.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/ftbl___.woff') format('woff'),
         url('css/fonts/ftbl___.ttf') format('truetype'),
         url('css/fonts/ftbl___.svg#frutigerroman') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/