body {font-family:'Noto Sans', sans-serif; font-size:12px; color:#Q000; background:url(images/bg-new.jpg)left top repeat-x #3fb945; padding:0px; margin:0px; background-color:#3eb945;}

#main-wrapper {width:100%; height:auto; margin:0 auto;}
.maxis-logo {padding:28px 22px 0px 0px; height:45px; width:110px; float:right;}

/* About Us css */
#hc2 {padding-top:20px;}	
.haccordion li {position:relative;}
.haccordion li .aboutus { right:0px; top:0px; z-index:1000; position:absolute;}
.aboutus-inn {border:1px solid #2c8607; background:url(images/aboutus-bg.jpg) right top repeat-y #f4fccc; width:473px; height:238px; float:left; padding:15px 10px 15px 20px; font-size:12px; line-height:14px;}
.aboutus-inn ul li{ float:none !important;}
#hc2 li .aboutus-inn ul li{width:auto; height:auto; display:list-item;}
#hc2 li .aboutus-inn ul ul li {float:left; width:auto!important;}
#hc2 li .aboutus-inn ul ul li { display: list-item; float: left !important; padding-right:35px; width: auto !important;}
.haccordion ul .aboutus-inn ul{margin:5px 0px; padding:0px 20px;  list-style:disc;}
.aboutus-content{background:url(images/about-shadow.png) bottom left repeat-x; padding-bottom:5px; float:left; font-size:14px; position:absolute;}


/* Login section css */
.login-pannel {margin-top:10px;}
.loing-pannel-cnt{width:730px; background:url(images/line.png) 335px top no-repeat; overflow:hidden; margin:0 auto;}
.isell-retail-logo {background:url(images/isellretail-logo.png) left 55px no-repeat; width:290px; height:140px; float:left; }
.isell-form {float:right; width:333px; padding-top:41px;}
.grey{display:none!important;}
.isell-form label,
.isell-form input[type="text"], .isell-form input[type="password"] {background:url(images/input-bg.gif) right top repeat-y #fff; width:318px; height:43px; line-height:43px; border:0px; margin-bottom:1px; font-size:19px; color:#999; padding-left:15px;}
.isell-form input.username, .isell-form .user label{border-top-left-radius:5px;border-top-right-radius:5px;}
.isell-form input.password, .isell-form .pswd label {border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
.login-button {float:left; padding-top:17px; width:100%;}
.login-button .password a{color:#036f36; float:left; font-size:16px; text-decoration:none;}
.login-button .login a{background:url(images/login-button.png) left top no-repeat; width:70px; height:45px; color:#fff; line-height:45px; display:block; font-size:20px; padding-left:60px; font-family:'Noto Sans',sans-serif; 
text-decoration:none;}
.form-inputs .feild{position:relative;}
.form-inputs .feild label{position:absolute;top:0;left:0;}
.erromessage {color:#ff0000; padding:5px 0px; }
.flt {float:left;}
.frt {float:right;}

/* Leaf css */
.leaf-bg {position:fixed; background:url(images/bg-leaf.png) left top no-repeat; width:530px; height:560px; right:0px; bottom:0px;z-index:-1;}

/* Footer css*/
.footer {position:absolute; bottom:15px; width:99%;}
.copyrights {float:right; padding-right:22px; font-size:11px; color:#000000;}

/* media queries css*/
@media all and (max-width: 768px){
.login-pannel {margin-top:30px;} 
}

@media all and (max-width: 640px){
.loing-pannel-cnt{width:300px;  background:none;}
.isell-retail-logo{float:none; background:url(images/isellretail-logo.png) left top no-repeat; height:100px;}
.login-pannel{margin-top:0px;}
.isell-form{float:left; padding-top:0px;}
.frt{float:left; margin-left:10px;}
}

@media all and (min-width: 401px) and (max-width: 640px){
.loing-pannel-cnt{width:350px;}
}



.login-button input[type="submit"]{background:url(images/login-button.png) left top no-repeat; width:130px; height:45px; color:#fff; line-height:45px; display:block; font-size:20px; padding-left:48px; font-family:'Noto Sans',sans-serif; float:left; border:0px;
text-decoration:none; }