/* About Us css */
.Announcement1
{
    color: rgb(102, 102, 102);
    border: 1px solid #dddddd;
    border-collapse: separate;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: 'frutigerbold';
}
#hc2
{
    padding-top: 20px;
}
.haccordion li
{
    position: relative;
}
.haccordion li .aboutus
{
    right: 0px;
    top: 0px;
    z-index: 1000;
    position: absolute;
}
.aboutus-inn
{
    border: 1px solid #2c8607;
    background: url(images/aboutus-bg.jpg) right top repeat-y #f4fccc;
    width: 473px;
    height: 238px;
    float: left;
    padding: 15px 10px 15px 20px;
    font-size: 12px;
    line-height: 14px;
}
.aboutus-inn ul li
{
    float: none !important;
}
.aboutus-inn li .aboutus-inn ul li
{
    width: auto;
    height: auto;
    display: list-item;
}
.aboutus-inn li .aboutus-inn ul ul li
{
    float: left;
    width: auto !important;
}
.aboutus-inn li .aboutus-inn ul ul li
{
    display: list-item;
    float: left !important;
    padding-right: 35px;
    width: auto !important;
}
.aboutus-inn ul .aboutus-inn ul
{
    margin: 5px 0px;
    padding: 0px 20px;
    list-style: disc;
}
.aboutus-content
{
    background: url(images/about-shadow.png) bottom left repeat-x;
    padding-bottom: 5px;
    float: left;
    font-size: 14px;
    position: absolute;
}

.erromessage
{
    color: #FF0000;
}
.validation-summary-errors
{
    color: rgb(255, 0, 0);
    font-weight: bold;
    text-align: left;
    font-size: 14px;
}
ul.listItem
{
    float: left;
    padding: 0;
    margin: 10px 0 10px 10px;
}
ul.listItem li
{
    background: url(images/bullet-icon.jpg) no-repeat left 5px;
    float: left;
    list-style-type: none;
    clear: both;
    padding-left: 10px;
}
.Type
{
    float: left;
    clear: both;
    margin-top: -10px;
    font-size: 11px;
}
.TopGap20
{
    margin-top: 20px;
}
.TableData
{
    float: left;
    clear: both;
    width: 980px;
    
}
.TableData table
{
    font-size: 12px;
    text-align: center;
}
.TableData table tr th
{
    background-color: #c8c8c8;
}
.TableData table tr.NoPadding td
{
    padding-top: 0px;
}
.TableData table tr td
{
    background-color: #edebeb;
}
.img
{
    float: left;
    height: 346px;
    position: relative;
    width: 250px;
}
.success-header
{
    background: none repeat scroll 0 0 #CCCCCC;
    border-top: 1px solid #A7A7A7;
    height: 50px;
    color: #57575B;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 23px;
    font-weight: bold;
    padding-right: 50px;
}
.success-body
{
    padding: 10px 10px 10px 10px;
}
.success-body h3
{
    font-size: 22px;
}
.success-body h4
{
    font-size: 18px;
}
.LoderDiv {
    color: #FFFFFF;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 20px;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
}
.LoderDiv img {
    width: 130px;
}

.statusload
{
    background-image:url(../../Content/img/shared/loading.gif);
    background-position:center;
    background-repeat:no-repeat; 
    background-size:50px;   
}

.inprogressimg
{
    height:13px;
    margin-left:-5px;
    vertical-align:bottom;
}
.removeImg
{
    float:right;
    cursor: pointer;
    width:20px;
    height:20px;
}
.ImgUploadlabel
{
    color:#333; 
    font-family:frutigerlight,Arial,Helvetica,sans-serif;
}
.divChoosefile
{
    width: 78%; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 1em; 
    padding: 5px;
    float:left;
}
.btnBrowse{
 border:1px solid #999999; -webkit-border-radius: 42px; -moz-border-radius: 42px;border-radius: 42px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 15px 5px 15px !important; text-decoration:none; display:inline-block;text-shadow: 1px 1px 0 rgba(255,255,255,0.3);font-weight:bold; color: #000000;
 background-color: #FFFFFF; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
 background-image: -webkit-linear-gradient(top, #FFFFFF, #CFCFCF);
 background-image: -moz-linear-gradient(top, #FFFFFF, #CFCFCF);
 background-image: -ms-linear-gradient(top, #FFFFFF, #CFCFCF);
 background-image: -o-linear-gradient(top, #FFFFFF, #CFCFCF);
 background-image: linear-gradient(to bottom, #FFFFFF, #CFCFCF);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#CFCFCF);
 width:80px;
}

.btnBrowse:hover{
 border:1px solid #7A7A7A;
 background-color: #EEEEEE; background-image: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#C7C7C7));
 background-image: -webkit-linear-gradient(top, #EEEEEE, #C7C7C7);
 background-image: -moz-linear-gradient(top, #EEEEEE, #C7C7C7);
 background-image: -ms-linear-gradient(top, #EEEEEE, #C7C7C7);
 background-image: -o-linear-gradient(top, #EEEEEE, #C7C7C7);
 background-image: linear-gradient(to bottom, #EEEEEE, #C7C7C7);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#EEEEEE, endColorstr=#C7C7C7);
 width:80px;
}