﻿@*-----------------------------------------------------------------------------------
//  Developer   : Jazz Tong
//  File Name   : SignatureBox.cshtml
//  Purpose     : Editor template for SignatureVM type to capture signature info
//  Version Control:
//  Version     Date         Change Made
//  1.0         22 Oct 2015  Init
//---------------------------------------------------------------------------------*@
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.CustomExtension;

@model Online.Registration.Web.ViewModels.Common.SignatureVM

@Html.HiddenFor(n=>n.SignDate)
@Html.HiddenFor(n=>n.SignSvg)
<div class="white-space" id="digitalSignatureBox">
    <table border="0px">
        <tr>
            <td>
                <div class="signature-box" id="@Html.IdFor(n=>n)signaturebox">
                    <div id="@Html.IdFor(n=>n)_SignBox" style="margin: 0 auto; height: 180px; background-image: url('@Url.Content("~/Content/images/maxis_use_only_s.png")'); float: left; width: 400px;border-bottom:solid 1px black;">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="summary-label" align="left" class="signaturefooter">
                    <span>Applicant's Signature</span><br />
                    <span>@Html.Raw("Date ")@Util.FormatDate(DateTime.Now)</span>
                </div>
            </td>
        </tr>
    </table>
    <div class="col-sm-12">
        <p class="back-prev" id="btnClear"><a href="#" onclick="@Html.IdFor(n=>n)_ClearSign(); return false;"><span>></span> Reset</a></p>
    </div>
</div>
<script type="text/javascript">
    function @Html.IdFor(n=>n)_ClearSign() {
        $("#@Html.IdFor(n=>n)_SignBox").jSignature("reset");
        $("#@Html.IdFor(n=>n.SignSvg)").val('');
        $("#@Html.IdFor(n=>n.SignDate)").val('');
    }
    $(function () {
        var signBoxId = "#@Html.IdFor(n=>n)_SignBox";
        var signDtId = "#@Html.IdFor(n=>n.SignDate)";
        var signSvgId = "#@Html.IdFor(n=>n.SignSvg)";
        $(signBoxId).jSignature({
            'height': 180,
            'width': 400,
            'decor-color':'transparent'
        });
        $(signBoxId).bind('change', function (e) {
            var svg = $(signBoxId).jSignature("getData", "image/svg+xml;base64")[1]
            $(signSvgId).val(svg);
            $(signDtId).val(toMvcDtFmt(new Date()));
        });
    });
</script>