/* line 10, ../sass/bootstrap/_grid.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 15, ../sass/bootstrap/mixins/_clearfix.scss */
.container:before, .container:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/bootstrap/mixins/_clearfix.scss */
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  /* line 10, ../sass/bootstrap/_grid.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 10, ../sass/bootstrap/_grid.scss */
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 10, ../sass/bootstrap/_grid.scss */
  .container {
    width: 1170px;
  }
}

/* line 30, ../sass/bootstrap/_grid.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 15, ../sass/bootstrap/mixins/_clearfix.scss */
.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/bootstrap/mixins/_clearfix.scss */
.container-fluid:after {
  clear: both;
}

/* line 39, ../sass/bootstrap/_grid.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}
/* line 15, ../sass/bootstrap/mixins/_clearfix.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/bootstrap/mixins/_clearfix.scss */
.row:after {
  clear: both;
}

/* line 11, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 27, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-1 {
  width: 8.33333%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-2 {
  width: 16.66667%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-3 {
  width: 25%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-4 {
  width: 33.33333%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-5 {
  width: 41.66667%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-6 {
  width: 50%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-7 {
  width: 58.33333%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-8 {
  width: 66.66667%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-9 {
  width: 75%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-10 {
  width: 83.33333%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-11 {
  width: 91.66667%;
}

/* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-12 {
  width: 100%;
}

/* line 55, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-0 {
  right: auto;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-1 {
  right: 8.33333%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-2 {
  right: 16.66667%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-4 {
  right: 33.33333%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-5 {
  right: 41.66667%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-7 {
  right: 58.33333%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-8 {
  right: 66.66667%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-10 {
  right: 83.33333%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-11 {
  right: 91.66667%;
}

/* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 45, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-0 {
  left: auto;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-1 {
  left: 8.33333%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-2 {
  left: 16.66667%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-4 {
  left: 33.33333%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-5 {
  left: 41.66667%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-7 {
  left: 58.33333%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-8 {
  left: 66.66667%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-10 {
  left: 83.33333%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-11 {
  left: 91.66667%;
}

/* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-0 {
  margin-left: 0%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-1 {
  margin-left: 8.33333%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-2 {
  margin-left: 16.66667%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-4 {
  margin-left: 33.33333%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-5 {
  margin-left: 41.66667%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-7 {
  margin-left: 58.33333%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-8 {
  margin-left: 66.66667%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-10 {
  margin-left: 83.33333%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-11 {
  margin-left: 91.66667%;
}

/* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  /* line 27, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-1 {
    width: 8.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-2 {
    width: 16.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-4 {
    width: 33.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-5 {
    width: 41.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-6 {
    width: 80%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-7 {
    width: 58.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-8 {
    width: 66.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-10 {
    width: 83.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-11 {
    width: 91.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 55, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-0 {
    right: auto;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-1 {
    right: 8.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-2 {
    right: 16.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-4 {
    right: 33.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-5 {
    right: 41.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-7 {
    right: 58.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-8 {
    right: 66.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-10 {
    right: 83.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-11 {
    right: 91.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 45, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-0 {
    left: auto;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-1 {
    left: 8.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-2 {
    left: 16.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-4 {
    left: 33.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-5 {
    left: 41.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-7 {
    left: 58.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-8 {
    left: 66.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-10 {
    left: 83.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-11 {
    left: 91.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-0 {
    margin-left: 0%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  /* line 27, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-1 {
    width: 8.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-2 {
    width: 16.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-4 {
    width: 33.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-5 {
    width: 41.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-7 {
    width: 58.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-8 {
    width: 66.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-10 {
    width: 83.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-11 {
    width: 91.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 55, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-0 {
    right: auto;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-1 {
    right: 8.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-2 {
    right: 16.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-4 {
    right: 33.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-5 {
    right: 41.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-7 {
    right: 58.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-8 {
    right: 66.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-10 {
    right: 83.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-11 {
    right: 91.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 45, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-0 {
    left: auto;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-1 {
    left: 8.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-2 {
    left: 16.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-4 {
    left: 33.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-5 {
    left: 41.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-7 {
    left: 58.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-8 {
    left: 66.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-10 {
    left: 83.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-11 {
    left: 91.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-0 {
    margin-left: 0%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 27, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-1 {
    width: 8.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-2 {
    width: 16.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-4 {
    width: 33.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-5 {
    width: 41.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-7 {
    width: 58.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-8 {
    width: 66.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-10 {
    width: 83.33333%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-11 {
    width: 91.66667%;
  }

  /* line 35, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 55, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-0 {
    right: auto;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-1 {
    right: 8.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-2 {
    right: 16.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-4 {
    right: 33.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-5 {
    right: 41.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-7 {
    right: 58.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-8 {
    right: 66.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-10 {
    right: 83.33333%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-11 {
    right: 91.66667%;
  }

  /* line 50, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 45, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-0 {
    left: auto;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-1 {
    left: 8.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-2 {
    left: 16.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-4 {
    left: 33.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-5 {
    left: 41.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-7 {
    left: 58.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-8 {
    left: 66.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-10 {
    left: 83.33333%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-11 {
    left: 91.66667%;
  }

  /* line 40, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-0 {
    margin-left: 0%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }

  /* line 60, ../sass/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
/* line 15, ../sass/bootstrap/mixins/_clearfix.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/bootstrap/mixins/_clearfix.scss */
.clearfix:after {
  clear: both;
}

/* line 12, ../sass/bootstrap/_utilities.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 15, ../sass/bootstrap/_utilities.scss */
.pull-right {
  float: right !important;
}

/* line 18, ../sass/bootstrap/_utilities.scss */
.pull-left {
  float: left !important;
}

/* line 27, ../sass/bootstrap/_utilities.scss */
.hide {
  display: none !important;
}

/* line 30, ../sass/bootstrap/_utilities.scss */
.show {
  display: block !important;
}

/* line 33, ../sass/bootstrap/_utilities.scss */
.invisible {
  visibility: hidden;
}

/* line 36, ../sass/bootstrap/_utilities.scss */
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 45, ../sass/bootstrap/_utilities.scss */
.hidden {
  display: none !important;
  visibility: hidden !important;
}

/* line 54, ../sass/bootstrap/_utilities.scss */
.affix {
  position: fixed;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@-ms-viewport {
  width: device-width;
}

/* line 18, ../sass/bootstrap/mixins/_responsive-visibility.scss */
.visible-xs, .visible-sm, .visible-md, .visible-lg {
  display: none !important;
}

/* line 42, ../sass/bootstrap/_responsive-utilities.scss */
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  /* line 7, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  .visible-xs {
    display: block !important;
  }

  /* line 10, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  table.visible-xs {
    display: table;
  }

  /* line 11, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  tr.visible-xs {
    display: table-row !important;
  }

  /* line 13, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  /* line 49, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-xs-block {
    display: block !important;
  }
}

@media (max-width: 767px) {
  /* line 54, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-xs-inline {
    display: inline !important;
  }
}

@media (max-width: 767px) {
  /* line 59, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 7, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  .visible-sm {
    display: block !important;
  }

  /* line 10, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  table.visible-sm {
    display: table;
  }

  /* line 11, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  tr.visible-sm {
    display: table-row !important;
  }

  /* line 13, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 68, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-sm-block {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 73, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 78, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 7, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  .visible-md {
    display: block !important;
  }

  /* line 10, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  table.visible-md {
    display: table;
  }

  /* line 11, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  tr.visible-md {
    display: table-row !important;
  }

  /* line 13, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 87, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-md-block {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 92, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-md-inline {
    display: inline !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 97, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1200px) {
  /* line 7, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  .visible-lg {
    display: block !important;
  }

  /* line 10, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  table.visible-lg {
    display: table;
  }

  /* line 11, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  tr.visible-lg {
    display: table-row !important;
  }

  /* line 13, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  /* line 106, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-lg-block {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  /* line 111, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1200px) {
  /* line 116, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {
  /* line 18, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 18, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 18, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  /* line 18, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  .hidden-lg {
    display: none !important;
  }
}
/* line 18, ../sass/bootstrap/mixins/_responsive-visibility.scss */
.visible-print {
  display: none !important;
}

@media print {
  /* line 7, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  .visible-print {
    display: block !important;
  }

  /* line 10, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  table.visible-print {
    display: table;
  }

  /* line 11, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  tr.visible-print {
    display: table-row !important;
  }

  /* line 13, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
/* line 150, ../sass/bootstrap/_responsive-utilities.scss */
.visible-print-block {
  display: none !important;
}
@media print {
  /* line 150, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-print-block {
    display: block !important;
  }
}

/* line 157, ../sass/bootstrap/_responsive-utilities.scss */
.visible-print-inline {
  display: none !important;
}
@media print {
  /* line 157, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-print-inline {
    display: inline !important;
  }
}

/* line 164, ../sass/bootstrap/_responsive-utilities.scss */
.visible-print-inline-block {
  display: none !important;
}
@media print {
  /* line 164, ../sass/bootstrap/_responsive-utilities.scss */
  .visible-print-inline-block {
    display: inline-block !important;
  }
}

@media print {
  /* line 18, ../sass/bootstrap/mixins/_responsive-visibility.scss */
  .hidden-print {
    display: none !important;
  }
}

/* line 78, ../sass/elements/_global.scss */
body {
  background: #eee;
  font-family: 'aaux_nextmedium', Arial,sans-serif;
  font-size: 14px;
  color: #09442e;
  font-size: 12px;
}
/* line 86, ../sass/elements/_global.scss */
body img {
  margin: 0 auto;
  max-width: 100%;
}
/* line 90, ../sass/elements/_global.scss */
body ul {
  margin: auto;
  list-style-type: none;
  float: left;
}
/* line 98, ../sass/elements/_global.scss */
body a, body a:active, body a:visited, body a:focus, body a:hover, body .btn:hover {
  color: #464646;
  text-decoration: none;
}

/* line 104, ../sass/elements/_global.scss */
.isell-base, .isell-base-2 {
  background: white;
  border: 1px solid #c7c7c7;
  width: 100%;
  padding: 15px;
  min-height: 76px;
  height: auto;
  padding: 15px;
}

/* line 114, ../sass/elements/_global.scss */
.container {
  margin-right: auto;
  margin-left: auto;
}

/* line 119, ../sass/elements/_global.scss */
h1, h2, h3, h4, p {
  margin: 0;
  font-family: "aaux_nextbold", Arial, sans-serif;
}

/* line 124, ../sass/elements/_global.scss */
.font-24 {
  font-size: 24px;
}

/* line 127, ../sass/elements/_global.scss */
.font-20, .device-title {
  font-size: 24px;
}

/* line 130, ../sass/elements/_global.scss */
.font-16, .active-green {
  font-size: 16px;
}

/* line 134, ../sass/elements/_global.scss */
.left-float, .steps li {
  display: inline-block;
  float: left;
  margin: 0 10px;
}

/* line 140, ../sass/elements/_global.scss */
.kill-margin {
  margin: 0;
}

/* line 144, ../sass/elements/_global.scss */
.kill-padding, .search-bar div, .grey-bg, .phone-name div, .summry-line, .home, .view-accounts .acc-sum, .panel-odd, .panel-even {
  padding: 0;
}

/* line 148, ../sass/elements/_global.scss */
.active, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background: #77dd00;
}

/* line 154, ../sass/elements/_global.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  border-color: #77dd00;
  color: white;
  background: #77dd00;
}

/* line 161, ../sass/elements/_global.scss */
.tab-content > li.active > a, .tab-content > li.active > a:hover, .tab-content > li.active > a:focus {
  color: #999999;
}

/* line 165, ../sass/elements/_global.scss */
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  background: #fff;
  border-color: #77dd00;
}

/* line 169, ../sass/elements/_global.scss */
.nav-tabs > li > a {
  background-color: #898989;
  border-color: none;
  color: white;
  border-radius: 0;
  border: 0;
  font-size: 16px;
  box-shadow: 0;
}

/* line 178, ../sass/elements/_global.scss */
.nav-tabs > li.active, .nav-tabs {
  border: 0;
}

/* line 182, ../sass/elements/_global.scss */
.tab-content .active {
  background: none;
}

/* line 187, ../sass/elements/_global.scss */
.drop-down {
  font-family: "aaux_nextmedium_italic", Arial, sans-serif;
  font-size: 14px;
  margin: 10px auto;
}
/* line 191, ../sass/elements/_global.scss */
.drop-down a {
  color: #464646;
}

/* line 197, ../sass/elements/_global.scss */
.selectby, .disable-select {
  border: 1px solid #77dd00;
  border-radius: 20px !important;
  width: 100% !important;
  padding: 8px 15px;
  text-align: left;
}

/* line 205, ../sass/elements/_global.scss */
.disable-select {
  color: #b7b7b7;
  border: 1px solid #b7b7b7;
}

/* line 211, ../sass/elements/_global.scss */
.drop-arrow, .drop-arrow-disable {
  background: url("../img/isell-icons.png") -16px -15px no-repeat;
  border: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5px;
  top: 4px;
}

/* line 220, ../sass/elements/_global.scss */
.drop-arrow-disable {
  background: url("../img/isell-icons.png") -16px -49px no-repeat;
}

/* line 227, ../sass/elements/_global.scss */
input[type=checkbox].stock-checkbox {
  swidth: 100%;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px -5px;
  padding: 0;
  border: 0;
}

/* line 239, ../sass/elements/_global.scss */
input[type=checkbox].stock-checkbox + label.stock-label {
  padding-left: 20px;
  height: 16px;
  display: inline-block;
  line-height: 15px;
  background-repeat: no-repeat;
  background-position: -544px -28px;
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
  font-family: "aaux_nextmedium_italic", Arial, sans-serif;
  font-weight: normal;
  margin: 5px 0;
}

/* line 254, ../sass/elements/_global.scss */
input[type=checkbox].stock-checkbox:checked + label.stock-label {
  background-position: -544px -4px;
}

/* line 258, ../sass/elements/_global.scss */
.stock-label {
  background-image: url("../img/isell-icons.png");
}

/* line 262, ../sass/elements/_global.scss */
input[type=checkbox].device-checkbox {
  swidth: 100%;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* line 274, ../sass/elements/_global.scss */
input[type=checkbox].device-checkbox + label.stock-label {
  padding-left: 20px;
  height: 32px;
  width: 32px;
  display: inline-block;
  line-height: 15px;
  background-repeat: no-repeat;
  background-position: -527px -87px;
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
  font-family: "aaux_nextmedium_italic", Arial, sans-serif;
  font-weight: normal;
  margin: 0;
}

/* line 290, ../sass/elements/_global.scss */
input[type=checkbox].device-checkbox:checked + label.stock-label {
  background-position: -527px -52px;
}

/* line 294, ../sass/elements/_global.scss */
.stock-label {
  background-image: url("../img/isell-icons.png");
}

/* line 298, ../sass/elements/_global.scss */
.modal-header, .modal-body, .modal-footer {
  border: 0;
}

/* line 301, ../sass/elements/_global.scss */
.modal-content {
  border-radius: 0;
}
/* line 303, ../sass/elements/_global.scss */
.modal-content img {
  max-width: none;
}

/* line 307, ../sass/elements/_global.scss */
.modal-title {
  color: #6edc00;
}

/* line 311, ../sass/elements/_global.scss */
.modal-dialog {
  z-index: 9999999;
}

/* line 314, ../sass/elements/_global.scss */
.close {
  font-family: "aaux_nextmedium_italic", Arial, sans-serif;
  font-size: 16px;
}
/* line 317, ../sass/elements/_global.scss */
.close .close-btn {
  color: #004430 !important;
}

/* line 321, ../sass/elements/_global.scss */
button.close {
  color: #004430 !important;
  opacity: 1;
}

/* line 326, ../sass/elements/_global.scss */
.isell-btn {
  border: 1px solid #77dd00;
  color: #77dd00;
  border-radius: 25px;
  width: auto;
  font-family: "aaux_nextbold", Arial, sans-serif;
  font-size: 16px;
}

/* line 335, ../sass/elements/_global.scss */
.isell-next {
  border: 1px solid #77dd00;
  color: #004430;
  background: #77dd00;
  border-radius: 25px;
  width: auto;
  font-family: "aaux_nextbold", Arial, sans-serif;
  font-size: 16px;
  width: 80%;
}
/* line 344, ../sass/elements/_global.scss */
.isell-next span {
  color: white;
  margin: 0 25px;
}

/* line 357, ../sass/elements/_global.scss */
.isell-base-2 {
  margin: 10px 0;
  padding-bottom: 0;
}

/* line 363, ../sass/elements/_global.scss */
.panel-default > .panel-isell {
  background: #77dd00;
  border: 1px solid #e2e2e2;
  position: relative;
}
/* line 367, ../sass/elements/_global.scss */
.panel-default > .panel-isell h4 {
  font-family: "aaux_nextbold", Arial, sans-serif;
  font-size: 25px;
  color: white;
}

/* line 375, ../sass/elements/_global.scss */
.panel-default {
  border: 0;
}

/* line 379, ../sass/elements/_global.scss */
.panel-group .panel {
  box-shadow: 0;
  border-radius: 0;
}

/* line 383, ../sass/elements/_global.scss */
.panel {
  box-shadow: none;
}

/* line 386, ../sass/elements/_global.scss */
.arrow-collapse, .arrow-expand {
  background: url("../img/isell-icons.png") -523px -164px no-repeat;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 6px;
  top: 6px;
  display: block;
}

/* line 396, ../sass/elements/_global.scss */
.arrow-expand {
  background: url("../img/isell-icons.png") -524px -208px no-repeat;
}

/* line 1, ../sass/elements/_header.scss */
header {
  height: 60px;
  margin: 10px;
}

/* line 10, ../sass/elements/_header.scss */
.navi {
  position: absolute;
  left: 0;
  padding-left: 0;
}

/* line 16, ../sass/elements/_header.scss */
.navi li {
  display: inline-block;
  margin: 0 -20px;
  float: right;
  height: 56px;
}

/* line 23, ../sass/elements/_header.scss */
.logo {
  background: url("../img/maxis-logo.png") center no-repeat white;
  width: 140px;
  padding: 15px;
  border-radius: 30px;
  z-index: 999;
  padding: 0 20px;
}

/* line 32, ../sass/elements/_header.scss */
.menu {
  background: #77dd00;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  z-index: 9999;
  padding: 10px  20px 10px 48px;
}

/* line 41, ../sass/elements/_header.scss */
.breadcrumb {
  background: #898989;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  z-index: 9999;
  padding: 10px 40px;
}
/* line 48, ../sass/elements/_header.scss */
.breadcrumb h3 {
  font-size: 20px;
  margin: 5px 10px;
}

/* line 56, ../sass/elements/_header.scss */
.megamenu-btn {
  background: url("../img/isell-icons.png") -108px -15px no-repeat;
  width: 30px;
  height: 30px;
  display: block;
}

/* line 1, ../sass/elements/_search-bar.scss */
.search-bar {
  font-size: 16px;
  font-family: "aaux_nextbold", Arial, sans-serif;
}
/* line 4, ../sass/elements/_search-bar.scss */
.search-bar p {
  margin: 10px 0;
}
/* line 10, ../sass/elements/_search-bar.scss */
.search-bar .find-cus {
  padding-left: 15px;
}
/* line 12, ../sass/elements/_search-bar.scss */
.search-bar .find-cus p {
  width: 120px;
}
/* line 16, ../sass/elements/_search-bar.scss */
.search-bar #srch-txt {
  padding: 0 15px;
  margin-left: -85px;
}
@media (max-width: 991px) {
  /* line 16, ../sass/elements/_search-bar.scss */
  .search-bar #srch-txt {
    margin-left: 0;
  }
}
/* line 22, ../sass/elements/_search-bar.scss */
.search-bar #srch-txt p {
  text-align: right;
}

/* line 28, ../sass/elements/_search-bar.scss */
.search-box {
  border: 1px solid #77dd00;
  border-radius: 20px;
  padding: 10px;
  padding-right: 30px;
  height: 40px;
  width: 230px !important;
}

/* line 37, ../sass/elements/_search-bar.scss */
.form-group {
  position: relative;
  width: 230px !important;
}

/* line 41, ../sass/elements/_search-bar.scss */
.search-icon {
  background: url("../img/isell-icons.png") -65px -15px no-repeat;
  border: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 6px;
  top: 6px;
}

/* line 52, ../sass/elements/_search-bar.scss */
h2 {
  font-size: 16px;
}

/* line 56, ../sass/elements/_search-bar.scss */
h4 {
  font-size: 25px;
  color: #ff1ca2;
  margin: 0;
}

/* line 61, ../sass/elements/_search-bar.scss */
.navbar-form {
  margin-top: 0;
}

/* line 64, ../sass/elements/_search-bar.scss */
.search-drop {
  background: white;
}

/* line 1, ../sass/elements/_plan-device.scss */
.green-bg, .order-details {
  background: #004430;
  padding: 10px 0;
  color: white;
  text-align: center;
  margin: 10px auto;
}

/* line 10, ../sass/elements/_plan-device.scss */
.steps {
  margin: 0 auto;
  text-align: center;
  color: #959595;
  float: none;
  width: 480px;
}
/* line 16, ../sass/elements/_plan-device.scss */
.steps li {
  margin: 0;
}
/* line 20, ../sass/elements/_plan-device.scss */
.steps li p {
  margin: 10px -25px;
  margin-left: -30px;
  font-size: 16px;
  width: 115px;
}
/* line 27, ../sass/elements/_plan-device.scss */
.steps .shownum {
  width: 40px;
}

/* line 32, ../sass/elements/_plan-device.scss */
.num, .selected {
  padding: 7px 2px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  color: white;
  background: #d7d7d7;
  font-size: 18px;
  margin: 0 auto;
}

/* line 43, ../sass/elements/_plan-device.scss */
.selected {
  background: #77dd00;
}

/* line 48, ../sass/elements/_plan-device.scss */
.line {
  width: 115px;
  height: 3px;
  background: #959595;
  margin: 20px 0;
}

/* line 55, ../sass/elements/_plan-device.scss */
.grey-bg {
  background: #d7d7d7;
  color: white;
  text-align: center;
  margin: 10px auto;
  margin-bottom: 0;
}

/* line 64, ../sass/elements/_plan-device.scss */
.active-green {
  background: #77dd00;
  padding: 10px 0;
  margin: 0 auto;
  height: 100%;
  width: 120px;
}

/* line 73, ../sass/elements/_plan-device.scss */
.active-green-arrow {
  background: url("../img/isell-icons.png") -143px -16px no-repeat;
  width: 20px;
  height: 10px;
  display: block;
  position: absolute;
  left: 46%;
  bottom: -10px;
}

/* line 83, ../sass/elements/_plan-device.scss */
.line-tab {
  width: 280px;
  margin: 0 auto;
  float: none;
}

/* line 91, ../sass/elements/_plan-device.scss */
.device-title {
  margin: 10px 0;
}
/* line 94, ../sass/elements/_plan-device.scss */
.device-title span {
  color: #464646;
}

/* line 99, ../sass/elements/_plan-device.scss */
.device-type, .summary-bg {
  background: #f4f4f4;
  color: #666666;
}
/* line 102, ../sass/elements/_plan-device.scss */
.device-type h5, .summary-bg h5 {
  font-family: "aaux_nextmedium_italic", Arial, sans-serif;
  font-size: 16px;
}
/* line 106, ../sass/elements/_plan-device.scss */
.device-type p, .summary-bg p {
  font-family: "aaux_nextmedium", Arial, sans-serif;
  font-size: 14px;
  margin: 10px 0;
}
/* line 111, ../sass/elements/_plan-device.scss */
.device-type .active, .summary-bg .active, .device-type a, .summary-bg a, .device-type a:hover, .summary-bg a:hover, .device-type a:focus, .summary-bg a:focus {
  background: none !important;
  border: 1px #f4f4f4 !important;
}
/* line 115, ../sass/elements/_plan-device.scss */
.device-type li, .summary-bg li {
  background: none !important;
  border: 1px #f4f4f4;
}

/* line 121, ../sass/elements/_plan-device.scss */
.phone-type, .phone-type-selected, .tablet-selected {
  background: url("../img/isell-icons.png") -185px -6px no-repeat;
  width: 32px;
  height: 52px;
}

/* line 127, ../sass/elements/_plan-device.scss */
.phone-type-selected {
  background: url("../img/isell-icons.png") -185px -66px no-repeat;
}

/* line 132, ../sass/elements/_plan-device.scss */
.tablet {
  background: url("../img/isell-icons.png") -238px -6px no-repeat;
  width: 71px;
  height: 50px;
}

/* line 138, ../sass/elements/_plan-device.scss */
.tablet-selected {
  background: url("../img/isell-icons.png") -239px -66px no-repeat;
}

/* line 143, ../sass/elements/_plan-device.scss */
#device {
  margin: 0 auto;
  width: 82%;
  float: none;
}
@media (max-width: 991px) {
  /* line 143, ../sass/elements/_plan-device.scss */
  #device {
    width: 110%;
    margin: 0;
  }
}

/* line 153, ../sass/elements/_plan-device.scss */
.filter-btn, .back-btn {
  float: right;
  text-decoration: underline;
  color: #77dd00 !important;
  font-size: 16px;
  margin: 10px 0;
}

/* line 161, ../sass/elements/_plan-device.scss */
.device-select {
  width: 200px;
  height: 320px;
  border: 2px solid #c2c2c2;
  padding: 10px;
  background: white;
}
/* line 167, ../sass/elements/_plan-device.scss */
.device-select img {
  float: none;
  margin: 0 26%;
}
/* line 172, ../sass/elements/_plan-device.scss */
.device-select span {
  display: block;
}

/* line 177, ../sass/elements/_plan-device.scss */
.device-list {
  padding-left: 0;
  height: 660px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 10%;
}
@media (max-width: 1199px) {
  /* line 177, ../sass/elements/_plan-device.scss */
  .device-list {
    margin-left: 0;
  }
}
@media (max-width: 991px) {
  /* line 177, ../sass/elements/_plan-device.scss */
  .device-list {
    text-align: center;
    margin-left: 15%;
  }
}
/* line 190, ../sass/elements/_plan-device.scss */
.device-list li {
  float: left;
  display: inline-block;
  margin: 5px;
  position: relative;
}
/* line 196, ../sass/elements/_plan-device.scss */
.device-list .devices {
  width: 200px;
  height: 320px;
  position: relative;
  list-style-type: none;
}

/* line 203, ../sass/elements/_plan-device.scss */
.device-list::-webkit-scrollbar, .phone-specs::-webkit-scrollbar {
  width: 5px;
  background-color: #898989;
}

/* line 207, ../sass/elements/_plan-device.scss */
.device-list::-webkit-scrollbar-thumb, .phone-specs::-webkit-scrollbar-thumb {
  background-color: #77dd00;
  border-radius: 10px;
}

/* line 211, ../sass/elements/_plan-device.scss */
.device-list::-webkit-scrollbar-thumb:hover, .phone-specs::-webkit-scrollbar-thumb:hover {
  background-color: #77dd00;
  border-radius: 10px;
}

/* line 215, ../sass/elements/_plan-device.scss */
.device-list::-webkit-scrollbar-thumb:active, .phone-specs::-webkit-scrollbar-thumb:active {
  background-color: #77dd00;
  border-radius: 10px;
}

/* line 219, ../sass/elements/_plan-device.scss */
.btn-info {
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: #898989;
  color: white;
  border: 0;
  border-color: 0;
  font-weight: bold;
  font-size: 14px;
  padding: 0;
  text-align: center;
  float: right;
  margin-right: 10px;
}
/* line 233, ../sass/elements/_plan-device.scss */
.btn-info span {
  margin: -2px 0 0 -1px;
  display: block;
}

/* line 239, ../sass/elements/_plan-device.scss */
.btn-info:hover, .btn-info:active, .btn-info:focus, .btn-info:visited {
  background: #898989;
  color: white;
}

/* line 244, ../sass/elements/_plan-device.scss */
.phone-details {
  height: 25%;
  padding: 5px 15px 0 15px;
}
/* line 247, ../sass/elements/_plan-device.scss */
.phone-details h2 {
  font-size: 18px;
  font-family: "aaux_nextbold", Arial, sans-serif;
  color: #464646;
}
/* line 252, ../sass/elements/_plan-device.scss */
.phone-details .out-stock {
  color: #b7b7b7;
}

/* line 256, ../sass/elements/_plan-device.scss */
.frm-price {
  color: #898989;
  font-size: 14px;
  font-family: "aaux_nextmedium", Arial, sans-serif;
}

/* line 261, ../sass/elements/_plan-device.scss */
.startprice {
  color: #004430;
  font-family: "aaux_nextbold", Arial, sans-serif;
  font-size: 20px;
}

/* line 266, ../sass/elements/_plan-device.scss */
.rrp {
  color: #464646;
  font-family: "aaux_nextmedium_italic", Arial, sans-serif;
  font-size: 14px;
}

/* line 272, ../sass/elements/_plan-device.scss */
.adjust-checkbox {
  margin-top: -15px !important;
  margin-left: -5px !important;
}

/* line 277, ../sass/elements/_plan-device.scss */
.device-details {
  background: #004430;
  width: 200px;
  height: 320px;
  border: 2px solid #c2c2c2;
  padding: 10px;
  color: white;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 290, ../sass/elements/_plan-device.scss */
.back-btn {
  float: left;
  margin: 0 0 10px 0;
  text-decoration: none;
  font-size: 14px;
  font-family: "aaux_nextbold", Arial, sans-serif;
}

/* line 299, ../sass/elements/_plan-device.scss */
.back-btn a {
  background: none;
}

/* line 305, ../sass/elements/_plan-device.scss */
.device-details li {
  display: block;
  float: none;
}

/* line 310, ../sass/elements/_plan-device.scss */
.in-stock {
  color: #77dd00;
}

/* line 313, ../sass/elements/_plan-device.scss */
.notes {
  float: right;
}
/* line 315, ../sass/elements/_plan-device.scss */
.notes p, .notes button {
  display: inline-block;
  float: left;
}
/* line 319, ../sass/elements/_plan-device.scss */
.notes p {
  margin-right: 5px;
  font-size: 12px;
  font-family: "aaux_nextmedium", Arial, sans-serif;
}
/* line 324, ../sass/elements/_plan-device.scss */
.notes .btn-info {
  background: white;
  color: #77dd00;
  font-family: "aaux_nextmedium", Arial, sans-serif;
}

/* line 330, ../sass/elements/_plan-device.scss */
.spec {
  font-size: 16px;
}
/* line 332, ../sass/elements/_plan-device.scss */
.spec li {
  list-style-image: url("../img/list-dash.png");
}

/* line 337, ../sass/elements/_plan-device.scss */
.border-top, .process-btn, .title-box, .new-user-error, .new-user, .account {
  border-top: 1px solid #c2c2c2;
}

/* line 340, ../sass/elements/_plan-device.scss */
.border-right {
  border-right: 1px solid #c2c2c2;
}

/* line 343, ../sass/elements/_plan-device.scss */
.border-bottom, .summry-line, .plain-line, .new-user-error, .account {
  border-bottom: 1px solid #c2c2c2;
}

/* line 346, ../sass/elements/_plan-device.scss */
.border-left {
  border-left: 1px solid #c2c2c2;
}

/* line 350, ../sass/elements/_plan-device.scss */
.margin-top-10 {
  margin-top: 10px;
}

/* line 354, ../sass/elements/_plan-device.scss */
.phone-only {
  height: 232px;
  border-right: 1px solid #c2c2c2;
}
/* line 357, ../sass/elements/_plan-device.scss */
.phone-only img {
  margin: 20px -20px;
}

/* line 361, ../sass/elements/_plan-device.scss */
.phone-name {
  padding: 15px 0;
}

/* line 368, ../sass/elements/_plan-device.scss */
.phone-specs {
  overflow-y: scroll;
  border-left: 1px solid #c2c2c2;
  margin-top: 10px;
}

/* line 374, ../sass/elements/_plan-device.scss */
.cancel-step {
  font-size: 18px;
}
/* line 376, ../sass/elements/_plan-device.scss */
.cancel-step p {
  font-size: 18px;
  color: #004430;
}
/* line 380, ../sass/elements/_plan-device.scss */
.cancel-step li {
  float: left;
  font-size: 20px;
  display: inline-block;
  margin: 20px;
  width: 200px;
  border: 1px solid #c2c2c2;
  padding: 20px;
}
/* line 389, ../sass/elements/_plan-device.scss */
.cancel-step li:first-child {
  margin-left: 0;
}

/* line 394, ../sass/elements/_plan-device.scss */
.summary-bg {
  background: #d7d7d7;
  margin-top: 0;
  padding: 5px;
}
/* line 399, ../sass/elements/_plan-device.scss */
.summary-bg .more {
  background: white;
}
/* line 402, ../sass/elements/_plan-device.scss */
.summary-bg h3 {
  color: #77dd00;
  font-size: 20px;
  font-family: "aaux_nextmedium", Arial, sans-serif;
  border-bottom: 1px solid #c2c2c2;
  padding: 10px 0;
}
/* line 409, ../sass/elements/_plan-device.scss */
.summary-bg h5 {
  font-family: "aaux_nextmedium", Arial, sans-serif;
  font-size: 14px;
  margin: 5px 0;
  margin-bottom: 0;
  color: #999999;
}
/* line 416, ../sass/elements/_plan-device.scss */
.summary-bg h6, .summary-bg .price {
  font-family: "aaux_nextbold", Arial, sans-serif;
  font-size: 14px;
}
/* line 420, ../sass/elements/_plan-device.scss */
.summary-bg .price {
  margin: 5px 0;
  margin-bottom: 0;
}
/* line 425, ../sass/elements/_plan-device.scss */
.summary-bg p {
  margin: 0 auto;
  color: #999999;
}

/* line 431, ../sass/elements/_plan-device.scss */
.order-details {
  margin: 0;
  font-size: 16px;
  font-family: "aaux_nextbold", Arial, sans-serif;
}

/* line 437, ../sass/elements/_plan-device.scss */
.del-left-pad {
  padding-right: 0;
}

/* line 441, ../sass/elements/_plan-device.scss */
.plan-more {
  height: 300px;
}

/* line 447, ../sass/elements/_plan-device.scss */
.summry-line {
  margin: 10px 0;
}

/* line 452, ../sass/elements/_plan-device.scss */
.order-total {
  background: #ebebeb;
  padding: 15px 25px;
  margin-left: -10px;
  width: 110%;
}
/* line 458, ../sass/elements/_plan-device.scss */
.order-total h5 {
  font-family: "aaux_nextmedium", Arial, sans-serif;
  font-size: 20px;
  color: #464646;
}
/* line 463, ../sass/elements/_plan-device.scss */
.order-total .price {
  font-family: "aaux_nextmedium", Arial, sans-serif;
  font-size: 20px;
  color: #004430;
}
@media (max-width: 1199px) {
  /* line 463, ../sass/elements/_plan-device.scss */
  .order-total .price {
    margin-left: -15px;
  }
}

/* line 474, ../sass/elements/_plan-device.scss */
.process-btn {
  margin: 15px 0;
  padding: 25px;
  background: white;
}

/* line 483, ../sass/elements/_plan-device.scss */
.card {
  position: absolute;
  perspective: 800px;
}

/* line 489, ../sass/elements/_plan-device.scss */
.card div {
  display: block;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  z-index: 10;
}

/* line 501, ../sass/elements/_plan-device.scss */
.card .back {
  z-index: 0;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* line 506, ../sass/elements/_plan-device.scss */
.card.flip .front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 0;
  display: none;
}

/* line 512, ../sass/elements/_plan-device.scss */
.card.flip .back {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
  z-index: 1000 !important;
}

/* line 518, ../sass/elements/_plan-device.scss */
.plain-line {
  margin: 10px auto;
}

/* line 523, ../sass/elements/_plan-device.scss */
.label-data-pop {
  font-size: 16px;
  font-family: "aaux_nextmedium", Arial, sans-serif;
  color: #666666;
}

/* line 529, ../sass/elements/_plan-device.scss */
.subtotal {
  padding-bottom: 15px;
}

/* line 2, ../sass/elements/_search-result.scss */
#new-cus h2 {
  font-size: 20px;
  margin: 5px 0 10px 0;
}
/* line 6, ../sass/elements/_search-result.scss */
#new-cus h3 {
  color: #898989;
  font-size: 18px;
  font-family: "aaux_nextmedium", Arial, sans-serif;
  margin: 10px 0;
}

/* line 13, ../sass/elements/_search-result.scss */
.title-box, .new-user-error {
  margin: 10px 0;
  padding: 10px 15px;
  padding-bottom: 0;
}
/* line 18, ../sass/elements/_search-result.scss */
.title-box h2, .new-user-error h2 {
  color: #004430;
  margin: 10px 0;
}

/* line 24, ../sass/elements/_search-result.scss */
.new-user {
  background: #f4f4f4;
  color: #666666;
}

/* line 29, ../sass/elements/_search-result.scss */
.home {
  float: none;
  margin: 0 2%;
}

/* line 34, ../sass/elements/_search-result.scss */
.option-box {
  margin: 15px;
  background: #ebebeb;
  text-align: center;
  border: 1px solid #c2c2c2;
  padding: 15px;
  pointer: cursor;
  width: 100%;
}
/* line 42, ../sass/elements/_search-result.scss */
.option-box h1 {
  color: #363636;
  font-size: 20px;
}
/* line 47, ../sass/elements/_search-result.scss */
.option-box h2 {
  color: #004430;
  font-size: 20px;
}

/* line 52, ../sass/elements/_search-result.scss */
.white-space {
  height: 250px;
}
@media (max-width: 991px) {
  /* line 52, ../sass/elements/_search-result.scss */
  .white-space {
    height: 350px;
  }
}

/* line 58, ../sass/elements/_search-result.scss */
.white-space-2 {
  height: 150px;
}
@media (max-width: 991px) {
  /* line 58, ../sass/elements/_search-result.scss */
  .white-space-2 {
    height: 150px;
  }
}

/* line 64, ../sass/elements/_search-result.scss */
.new-user-error {
  padding-bottom: 15%;
}
/* line 68, ../sass/elements/_search-result.scss */
.new-user-error h1 {
  color: #004430;
  font-size: 25px;
  font-family: "aaux_nextmedium_italic", Arial, sans-serif;
}
/* line 74, ../sass/elements/_search-result.scss */
.new-user-error h2 {
  color: #898989;
  font-size: 20px;
  font-family: "aaux_nextmedium", Arial, sans-serif;
}

/* line 81, ../sass/elements/_search-result.scss */
.details-lbl {
  font-family: "aaux_nextmedium", Arial, sans-serif;
  font-size: 14px;
  color: #464646;
}

/* line 86, ../sass/elements/_search-result.scss */
.details {
  font-family: "aaux_nextbold", Arial, sans-serif;
  font-size: 16px;
  color: #004430;
}

/* line 91, ../sass/elements/_search-result.scss */
.last {
  padding: 0 15px 0 0;
}

/* line 94, ../sass/elements/_search-result.scss */
.existing-user {
  background: #ccc;
}
/* line 96, ../sass/elements/_search-result.scss */
.existing-user p {
  font-family: "aaux_nextbold", Arial, sans-serif;
  font-size: 20px;
  color: #363636;
  vertical-align: middle;
  display: inline-block;
}
/* line 103, ../sass/elements/_search-result.scss */
.existing-user .single {
  margin: 15px 0;
}
/* line 106, ../sass/elements/_search-result.scss */
.existing-user .option-box {
  height: 95px;
}

/* line 111, ../sass/elements/_search-result.scss */
.choose-account {
  background: #a8a8a8;
  font-family: "aaux_nextmedium", Arial, sans-serif;
  font-size: 20px;
  color: white;
  padding: 10px 15px;
  margin: 10px 0;
}

/* line 119, ../sass/elements/_search-result.scss */
.account {
  background: #f4f4f4;
  margin: 5px 0;
  padding: 10px 15px;
  position: relative;
}

/* line 128, ../sass/elements/_search-result.scss */
.view-accounts li:first-child {
  font-family: "aaux_nextbold", Arial, sans-serif;
  font-size: 68px;
  color: #adadad;
}
/* line 134, ../sass/elements/_search-result.scss */
.view-accounts .details-lbl {
  font-size: 16px;
}
/* line 137, ../sass/elements/_search-result.scss */
.view-accounts .details {
  font-size: 30px;
}
/* line 142, ../sass/elements/_search-result.scss */
.view-accounts .acc-sum li:first-child, .view-accounts .acc-sum li {
  font-family: "aaux_nextbold", Arial, sans-serif;
  font-size: 22px;
  color: #004430;
}

/* line 149, ../sass/elements/_search-result.scss */
.details-2 {
  font-size: 16px;
}
/* line 151, ../sass/elements/_search-result.scss */
.details-2 span {
  font-family: "aaux_nextbold", Arial, sans-serif;
}

/* line 155, ../sass/elements/_search-result.scss */
.details-3 {
  font-size: 22px;
}

/* line 158, ../sass/elements/_search-result.scss */
.details-sts, .details-sts-grey {
  background: #77dd00;
  color: white;
  padding: 10px;
  border-radius: 25px;
  font-size: 16px;
  position: relative;
}

/* line 166, ../sass/elements/_search-result.scss */
.waiver-green, .waiver-grey {
  background: url("../img/isell-icons.png") -530px -252px no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 6px;
  top: 9px;
  display: block;
}

/* line 175, ../sass/elements/_search-result.scss */
.status-red, .status-grey {
  background: url("../img/isell-icons.png") -337px -65px no-repeat;
  width: 42px;
  height: 42px;
  display: block;
  cursor: pointer;
}

/* line 182, ../sass/elements/_search-result.scss */
.waiver-grey {
  background: url("../img/isell-icons.png") -530px -284px no-repeat;
}

/* line 186, ../sass/elements/_search-result.scss */
.details-sts-grey {
  background: #a8a8a8;
}

/* line 190, ../sass/elements/_search-result.scss */
.status-grey {
  background: url("../img/isell-icons.png") -388px -65px no-repeat;
}

/* line 194, ../sass/elements/_search-result.scss */
.status-grey {
  background: url("../img/isell-icons.png") -388px -65px no-repeat;
}

/* line 199, ../sass/elements/_search-result.scss */
.more-details {
  background: url("../img/isell-icons.png") -443px -65px no-repeat;
  width: 42px;
  height: 42px;
  position: absolute;
  right: 90px;
  bottom: -3px;
  display: block;
}
@media (max-width: 991px) {
  /* line 199, ../sass/elements/_search-result.scss */
  .more-details {
    bottom: 45px;
  }
}

/* line 211, ../sass/elements/_search-result.scss */
.view-tabs {
  margin-left: 25%;
}
@media (max-width: 991px) {
  /* line 211, ../sass/elements/_search-result.scss */
  .view-tabs {
    margin-left: 15%;
  }
}
/* line 217, ../sass/elements/_search-result.scss */
.view-tabs li a {
  background-color: #f4f4f4;
  border-color: none;
  color: #a8a8a8;
  border-radius: 0;
  border: 0;
  font-size: 20px;
  box-shadow: 0;
}
/* line 228, ../sass/elements/_search-result.scss */
.view-tabs .active {
  background: #a8a8a8;
  color: white;
}

/* line 234, ../sass/elements/_search-result.scss */
.view-tabs > li.active > a, .view-tabs > li.active > a:hover, .view-tabs > li.active > a:focus, .view-tabs > li > a:hover, .view-tabs > li > a:focus {
  background: #a8a8a8;
  color: white;
  border: 0;
}

/* line 240, ../sass/elements/_search-result.scss */
.usagePatternWrap {
  width: 965px;
}

/* line 243, ../sass/elements/_search-result.scss */
.usagePattern {
  background: #e1e1e1;
  padding: 10px;
}

/* line 247, ../sass/elements/_search-result.scss */
.usagePattern .modal-header {
  border-bottom: 1px solid #ccc;
}

/* line 251, ../sass/elements/_search-result.scss */
.date, .phone-num {
  color: #363636;
  font-family: "aaux_nextmedium_italic", Arial, sans-serif;
  font-size: 14px;
}

/* line 256, ../sass/elements/_search-result.scss */
.phone-num {
  font-family: "aaux_nextmedium", Arial, sans-serif;
  font-size: 16px;
}

/* line 261, ../sass/elements/_search-result.scss */
.usage-title {
  color: #004430;
  font-family: "aaux_nextbold", Arial, sans-serif;
  font-size: 18px;
}

/* line 266, ../sass/elements/_search-result.scss */
.usage-info {
  background: #fff;
  padding: 5px 10px;
}

/* line 270, ../sass/elements/_search-result.scss */
.opacity-none {
  opacity: 1 !important;
}

/* line 273, ../sass/elements/_search-result.scss */
.usage-more-info {
  padding: 10px 0 0 0;
}

/* line 276, ../sass/elements/_search-result.scss */
.usage-more-info-2 {
  padding: 0;
}

/* line 279, ../sass/elements/_search-result.scss */
.usage-remove-list {
  list-style-type: none;
}

/* line 282, ../sass/elements/_search-result.scss */
.usage-details {
  padding: 5px;
  background: #fff;
  border: 1px solid #ccc;
  margin: 5px;
  min-height: 95px;
  height: auto;
  color: #363636;
}
/* line 290, ../sass/elements/_search-result.scss */
.usage-details p {
  font-size: 16px;
  font-family: "aaux_nextmedium", Arial, sans-serif;
}

/* line 295, ../sass/elements/_search-result.scss */
.usage-boxes {
  padding: 15px 0;
}
/* line 297, ../sass/elements/_search-result.scss */
.usage-boxes p {
  margin: 0 10px;
  font-size: 16px;
  font-family: "aaux_nextmedium", Arial, sans-serif;
  color: #363636;
}
/* line 303, ../sass/elements/_search-result.scss */
.usage-boxes li:first-child {
  margin-left: 0;
}
/* line 306, ../sass/elements/_search-result.scss */
.usage-boxes li:last-child {
  margin-right: 0;
}
/* line 309, ../sass/elements/_search-result.scss */
.usage-boxes .col-sm-3 {
  padding: 0 5px;
}

/* line 314, ../sass/elements/_search-result.scss */
.green-box {
  background: #004430;
  color: #fff;
  padding: 5px 15px;
  width: 100%;
  border: 1px solid #004430;
  margin: 5px auto;
  color: white;
  font-size: 14px;
  font-family: "aaux_nextmedium", Arial, sans-serif;
}

/* line 325, ../sass/elements/_search-result.scss */
.green-box-title {
  text-align: center;
}

/* line 328, ../sass/elements/_search-result.scss */
.usage-summary-btn {
  background: #f0f0f0;
  color: #666;
  padding: 15px;
  border-top: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
  font-family: "aaux_nextmedium", Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
}

/* line 339, ../sass/elements/_search-result.scss */
.usage-summary-btn span {
  float: right;
  position: relative;
  top: 10px;
}

/* line 344, ../sass/elements/_search-result.scss */
.usage-summary-list {
  background: #fff;
  border: 1px solid #b2b2b2;
  border-top: 0;
  height: auto;
  margin-left: 15px;
  width: 97%;
  display: block;
}
@media (max-width: 991px) {
  /* line 344, ../sass/elements/_search-result.scss */
  .usage-summary-list {
    width: 95%;
  }
}
/* line 357, ../sass/elements/_search-result.scss */
.usage-summary-list li:last-child .details-num {
  margin-top: -5px;
}

@media (max-width: 991px) {
  /* line 362, ../sass/elements/_search-result.scss */
  .modal-usage {
    width: 730px;
  }
}

/* line 369, ../sass/elements/_search-result.scss */
.usage-summary-more {
  height: 150px;
  height: auto;
  border: none;
  padding: 0;
  vertical-align: center;
}

/* line 376, ../sass/elements/_search-result.scss */
.margin-top {
  margin: 10px 0;
}

/* line 379, ../sass/elements/_search-result.scss */
.icon {
  text-align: right;
}

/* line 382, ../sass/elements/_search-result.scss */
.details-num {
  font-weight: bold;
  color: #363636;
  font-size: 20px;
}

/* line 390, ../sass/elements/_search-result.scss */
.usage-more-info {
  padding: 0;
  margin-bottom: 0;
}

/* line 394, ../sass/elements/_search-result.scss */
.usage-details {
  margin: 5px 0;
  height: 120px;
}

/* line 398, ../sass/elements/_search-result.scss */
.usage-summary-more {
  height: auto;
}
/* line 400, ../sass/elements/_search-result.scss */
.usage-summary-more img {
  float: right;
}

/* line 405, ../sass/elements/_search-result.scss */
.usage-summary-list li {
  border: 0;
  margin: 0;
}

/* line 409, ../sass/elements/_search-result.scss */
.summary-details {
  height: auto;
}

/* line 412, ../sass/elements/_search-result.scss */
.icon {
  text-align: right;
  vertical-align: middle;
}

/* line 416, ../sass/elements/_search-result.scss */
.summary-details {
  margin-top: 10px;
}

/* line 421, ../sass/elements/_search-result.scss */
.status-check {
  position: relative;
}

/* line 424, ../sass/elements/_search-result.scss */
.tooltips-error {
  display: none;
  background: #ff0000;
  font-size: 14px;
  font-family: "aaux_nextmedium", Arial, sans-serif;
  color: white;
  position: absolute;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.5);
  width: 425px;
  right: 70px;
  z-index: 1000;
  padding: 15px;
  top: 10px;
}
/* line 437, ../sass/elements/_search-result.scss */
.tooltips-error li:first-child {
  font-size: 14px;
  font-family: "aaux_nextmedium", Arial, sans-serif;
  color: white;
}
/* line 442, ../sass/elements/_search-result.scss */
.tooltips-error h1 {
  font-size: 16px;
  font-family: "aaux_nextbold", Arial, sans-serif;
}
/* line 446, ../sass/elements/_search-result.scss */
.tooltips-error .err-list {
  float: left;
}
/* line 449, ../sass/elements/_search-result.scss */
.tooltips-error .tooltips-arrow {
  position: absolute;
  height: 18px;
  width: 10px;
  top: 0;
  right: -10px;
  background: url("../img/isell-icons.png") -337px -37px no-repeat;
}

/* line 461, ../sass/elements/_search-result.scss */
.panel-default > .odd, .panel-default > .add-principle, .panel-default > .label-title {
  height: 120px;
}

/* line 465, ../sass/elements/_search-result.scss */
.panel-default > .even {
  height: 90px;
}

/* line 469, ../sass/elements/_search-result.scss */
.type-lbl, .panel-even .even-lbl {
  color: white;
  font-size: 16px;
  font-family: "aaux_nextmedium", Arial, sans-serif;
}

/* line 474, ../sass/elements/_search-result.scss */
.type-details, .type-details-sup {
  color: #18971d;
  font-size: 21px;
  font-family: "aaux_nextbold", Arial, sans-serif;
}

/* line 479, ../sass/elements/_search-result.scss */
.odd, .panel-default > .odd, .add-principle, .label-title {
  background: #ccc;
}

/* line 482, ../sass/elements/_search-result.scss */
.even, .panel-default > .even {
  background: #ebebeb;
}

/* line 487, ../sass/elements/_search-result.scss */
.add-principle .title {
  color: #696969;
  font-size: 20px;
  font-family: "aaux_nextmedium", Arial, sans-serif;
  margin: 0 0 0 7%;
  padding-top: 15px;
}
/* line 496, ../sass/elements/_search-result.scss */
.add-principle .home li:first-child .single {
  margin-top: -30px;
}

/* line 503, ../sass/elements/_search-result.scss */
.type-num {
  color: #898989;
  font-size: 22px;
  font-family: "aaux_nextbold", Arial, sans-serif;
}

/* line 509, ../sass/elements/_search-result.scss */
.type-default {
  color: #09442e;
  font-size: 16px;
  font-family: "aaux_nextbold", Arial, sans-serif;
  text-align: center;
}
/* line 514, ../sass/elements/_search-result.scss */
.type-default a {
  color: #003663;
  font-size: 14px;
  font-family: "aaux_nextmedium", Arial, sans-serif;
  text-decoration: underline;
}

/* line 521, ../sass/elements/_search-result.scss */
.line-type {
  padding: 10px 0;
  clear: both;
}
/* line 524, ../sass/elements/_search-result.scss */
.line-type li {
  float: left;
  display: inline-block;
  padding: 0 5px 10px 10px;
}
/* line 529, ../sass/elements/_search-result.scss */
.line-type .only-type {
  width: 140px;
}
/* line 532, ../sass/elements/_search-result.scss */
.line-type .link-more {
  position: relative;
  width: 80px;
}

/* line 539, ../sass/elements/_search-result.scss */
.panel-odd .home {
  float: left;
  margin-left: -20px;
}
/* line 543, ../sass/elements/_search-result.scss */
.panel-odd .title {
  margin-left: 25px;
}

/* line 550, ../sass/elements/_search-result.scss */
.panel-even .home {
  float: left;
  margin-left: -20px;
}
/* line 554, ../sass/elements/_search-result.scss */
.panel-even .title {
  margin-left: 25px;
}
/* line 560, ../sass/elements/_search-result.scss */
.panel-even .even-lbl {
  color: #959595;
}

/* line 565, ../sass/elements/_search-result.scss */
.panel-default > .odd + .panel-collapse > .panel-odd, .panel-default > .add-principle + .panel-collapse > .panel-odd, .panel-default > .label-title + .panel-collapse > .panel-odd, .panel-default > .even + .panel-collapse > .panel-even {
  border-top: 0;
}

/* line 570, ../sass/elements/_search-result.scss */
.label-title {
  margin-left: -16px;
}
/* line 573, ../sass/elements/_search-result.scss */
.label-title li {
  float: left;
  display: inline-block;
  padding: 10px 15px;
}
/* line 579, ../sass/elements/_search-result.scss */
.label-title li:first-child {
  padding-left: 0;
}

/* line 583, ../sass/elements/_search-result.scss */
.type {
  width: 125px;
}

/* line 586, ../sass/elements/_search-result.scss */
.number {
  width: 160px;
}

/* line 589, ../sass/elements/_search-result.scss */
.plan {
  width: 168px;
}

/* line 592, ../sass/elements/_search-result.scss */
.status {
  width: 70px;
}

/* line 595, ../sass/elements/_search-result.scss */
.sim {
  width: 100px;
}

/* line 598, ../sass/elements/_search-result.scss */
.sim-2 {
  width: 100px;
}

/* line 601, ../sass/elements/_search-result.scss */
.clear-grey {
  background: #ccc;
  height: 5px;
}

/* line 606, ../sass/elements/_search-result.scss */
.view-more-checkbox {
  background: url("../img/isell-icons.png") -358px -8px no-repeat;
  width: 42px;
  height: 42px;
  position: absolute;
  right: -35px;
  bottom: 0;
  top: 0;
  display: block;
}
@media (max-width: 991px) {
  /* line 606, ../sass/elements/_search-result.scss */
  .view-more-checkbox {
    bottom: 45px;
  }
}

/* line 619, ../sass/elements/_search-result.scss */
.activation-date {
  color: #898989;
  font-size: 15px;
  font-family: "aaux_nextmedium", Arial, sans-serif;
  font-style: italic;
}

/* line 625, ../sass/elements/_search-result.scss */
.type-rebate {
  color: #474747;
  font-size: 16px;
  font-family: "aaux_nextbold", Arial, sans-serif;
}

/* line 631, ../sass/elements/_search-result.scss */
.type-details-sup {
  color: #474747;
}

/* line 635, ../sass/elements/_search-result.scss */
.panel-group .panel + .panel {
  margin-top: 0;
}

/* line 639, ../sass/elements/_search-result.scss */
.user-profile {
  padding: 15px 0;
}

/* line 642, ../sass/elements/_search-result.scss */
.float-right {
  margin-left: 190px;
}

/* line 646, ../sass/elements/_search-result.scss */
.view-more {
  background: red;
}

/* line 652, ../sass/elements/_search-result.scss */
.view-accounts {
  position: relative;
}

/* line 1, ../sass/elements/_plan-only.scss */
.plan-list {
  padding: 15px;
}
/* line 4, ../sass/elements/_plan-only.scss */
.plan-list .view-more-checkbox, .plan-list .view-more-checkbox-active {
  position: relative;
}
/* line 7, ../sass/elements/_plan-only.scss */
.plan-list h2 {
  padding: 10px 0;
}
/* line 10, ../sass/elements/_plan-only.scss */
.plan-list button {
  margin: 10px;
  float: right;
  display: inline-block;
}

/* line 16, ../sass/elements/_plan-only.scss */
.plan-details {
  border: 1px solid #c2c2c2;
  padding: 5px;
  margin: 5px auto;
  height: 50px;
  cursor: pointer;
}

/* line 28, ../sass/elements/_plan-only.scss */
.checkbox-plan {
  background: url("../img/isell-icons.png") -527px -124px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

/* line 35, ../sass/elements/_plan-only.scss */
.checkbox-plan-active {
  background-position: -527px -52px;
}

/* line 38, ../sass/elements/_plan-only.scss */
.vas-list {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 20px auto;
  height: 660px;
  color: #898989;
  font-size: 16px;
  font-family: "aaux_nextmedium", Arial, sans-serif;
  margin: 5px 0;
}
/* line 48, ../sass/elements/_plan-only.scss */
.vas-list h3 {
  color: #555;
  font-size: 16px;
  font-family: "aaux_nextbold", Arial, sans-serif;
  margin: 5px 0;
}

/* line 55, ../sass/elements/_plan-only.scss */
.data-list {
  margin-left: -5px;
}
/* line 58, ../sass/elements/_plan-only.scss */
.data-list li {
  text-align: center;
  margin: 0 5px;
  padding: 10px;
  cursor: pointer;
}

/* line 70, ../sass/elements/_plan-only.scss */
.other-list {
  margin: 10px 0;
  margin-left: -5px;
}
/* line 74, ../sass/elements/_plan-only.scss */
.other-list li {
  text-align: center;
  height: 130px;
  margin: 5px;
  padding: 15px 10px;
  cursor: pointer;
}
/* line 81, ../sass/elements/_plan-only.scss */
.other-list li span {
  font-size: 14px;
  font-family: "aaux_nextmedium_italic", Arial, sans-serif;
}

/* line 90, ../sass/elements/_plan-only.scss */
.default-border, .data-list li, .other-list li {
  border: 1px solid #c2c2c2;
}

/* line 95, ../sass/elements/_plan-only.scss */
.included {
  background: #ebebeb;
  cursor: default;
  border: 0;
}

/* line 100, ../sass/elements/_plan-only.scss */
.selected-vas {
  border: 2px solid #77dd00 !important;
  color: #004430 !important;
  font-family: "aaux_nextbold", Arial, sans-serif;
}

.error-msg {
    color: #ff0000;
}