﻿@using Online.Registration.Admin.Models;
@using Online.Registration.Web.Helper;
@using Online.Registration.DAL.Models;
@using SNT.Utility;

@model UpdateViewAccessModel

@{
    ViewBag.Title = "Edit Access";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Edit:</legend>
        @Html.HiddenFor(model => model.Access.ID)
        <table>
            <tr>
                <td>@Html.LabelFor(model => model.Access.ID)</td>
                <td>@Html.DisplayFor(model => model.Access.ID)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Access.UserID)
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => Model.Access.UserID).BindTo(Util.GetList(RefType.User,defaultValue:"")))
                    @Html.ValidationMessageFor(model => model.Access.UserID)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.Access.UserName)
                    </div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Access.UserName, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Access.UserName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Access.Description)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Access.Description, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Access.Description)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Access.CreateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Access.CreateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.Access.CreateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Access.LastUpdateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Access.LastUpdateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.Access.LastUpdateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Access.LastAccessID)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Access.LastAccessID, new { @readonly = true, @disabled = true, @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Access.Active)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Access.Active) 
                    @Html.ValidationMessageFor(model => model.Access.Active)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" name="submit" value="Save">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
    <br />
    if (Model.Access.Active == true)
    {
        <div class="header">
        <h3>User Group Access List</h3>
        </div>
        <a class="t-button t-button-icontext" href="@Url.Action("Create", "UserGroupAccess", new { accessID = Model.Access.ID, type = RefType.Access })">
        <span class="t-icon t-add"></span>Add New</a>
        <br /><br />
        Html.Telerik().Grid<UserGroupAccessSearchResults>(Model.UserGroupAccess).Name("gvwUserGrpAccess")
            .Sortable()
            .Columns(cols =>
            {
                cols.Command(command => command
                    .Custom("Edit")
                    .Text("Edit")
                    .DataRouteValues(route => route.Add(a => a.UserGroupAccessID).RouteKey("id"))
                    .DataRouteValues(route => route.Add(a => RefType.Access).RouteKey("type"))
                    .SendState(false)
                    .Action("Edit", "UserGroupAccess"))
                    .HtmlAttributes(new { style = "text-align: center" })
                    .Width(90)
                    .Title("Action");
                cols.Bound(m => m.UserGroup).Title("User Group");
                cols.Bound(m => m.ActiveCheckBox).Title("Active").Width(8).Encoded(false);
                cols.Bound(m => m.CreateDT).Title("Created On");
                cols.Bound(m => m.LastUpdateDT).Title("Last Updated");
                cols.Bound(m => m.LastAccessID).Title("Last Access");
            })
            .DataBinding(binding => binding.Ajax().OperationMode(GridOperationMode.Client))
            .Pageable(paging => paging.PageSize(Util.GridRowsPerPage))
            .Render();
    }
}

    