﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@using Online.Registration.Web.SubscriberICService;
@{
    ViewBag.Title = "Customer";
    var idCardTypeID = Model.Customer.IDCardTypeID;

    var minAge = Session["RegMobileReg_ProgramMinAge"].ToInt();
    var NRICType = Util.GetIDCardTypeID(IDCARDTYPE.NRIC);
    var msisdn = Session["ExternalID"].ToString2();
    string idCardTypeName = "";
    ///GET THE retrieveAcctListByICResponse TYPE OF OBJECT FROM SESSION IF PPID="E" FOLLOWING SHOULD BE AVAILABLE    
    ///Check Session["PPID"] IF IT CONTAINS 'E' IF EXISTING SET IsExistingUser TO TRUE AGAIN CHECK IF AcctListByICResponse IS NULL THEN SET IT TO FALSE AS NO DATA TO DISPLAY
    retrieveAcctListByICResponse AcctListByICResponse = null;
    CustomizedCustomer CustomerPersonalInfo = null;
    bool IsExistingUser = false;
    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {

        if (!ReferenceEquals(Session["AllServiceDetails"], null))
        {
            ///CHECK IF EXISTING USER THEN ONLY RETRIEVE CUSTOMER INFORMATION
            CustomerPersonalInfo = WebHelper.Instance.constructPersonalInformationForView(msisdn);
            if (!ReferenceEquals(CustomerPersonalInfo, null))
            {
                idCardTypeID = WebHelper.Instance.determineIDCardTypeID(CustomerPersonalInfo);
                idCardTypeName = WebHelper.Instance.getStringFromIDType(CustomerPersonalInfo);
                IsExistingUser = true;
            }
        }
    }
    
    if (CustomerPersonalInfo != null)
    {
        if (!string.IsNullOrEmpty(CustomerPersonalInfo.NewIC) || !string.IsNullOrEmpty(CustomerPersonalInfo.OldIC))
        {
            Model.Customer.NationalityID = 1;
            Model.InputNationalityID = 1;
        }
        else
        {
            Model.Customer.NationalityID = 132;
            Model.InputNationalityID = 132;
        }
    }
 
}
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
<table width="500px">
    <tr>
        <td>
            <b>@Html.LabelFor(model => model.Customer.CustomerTitleID)</b>
        </td>
        <td>
        @{
            string title = CustomerPersonalInfo.Title;
            
            @Html.Raw(title)
             if (CustomerPersonalInfo != null)
             {
                 if (CustomerPersonalInfo.CustomerTitleID != null)
                 {
                     //Online.Registration.Web.RegistrationSvc.RegistrationServiceClient client = new Online.Registration.Web.RegistrationSvc.RegistrationServiceClient();
                     //int titleID = client.GetIdByTitleName(CustomerPersonalInfo.Title);

                     List<SelectListItem> objTitleLst = new List<SelectListItem>();
                     objTitleLst = Util.GetList(RefType.CustomerTitle, defaultValue: string.Empty);
                     string customerTitle = CustomerPersonalInfo.Title;
                     if (!customerTitle.EndsWith("."))
                     {
                         CustomerPersonalInfo.Title = CustomerPersonalInfo.Title + ".";
                     }
                     else
                     {
                         customerTitle = customerTitle.Substring(0, customerTitle.LastIndexOf('.'));

                     }
                     objTitleLst = objTitleLst.Where(a => a.Text == CustomerPersonalInfo.Title || a.Text == customerTitle).ToList();
                     int titleID = objTitleLst.FirstOrDefault().Value.ToInt();
                     Model.Customer.CustomerTitleID = titleID;
                 }
             }
        @Html.HiddenFor(model => model.Customer.CustomerTitleID)
         }
        <div style="display:none;">
           @* @if (CustomerPersonalInfo != null)
            {
                if (string.IsNullOrEmpty(CustomerPersonalInfo.Title))
                {

                    //@(Html.Telerik().DropDownListFor(model => model.Customer.CustomerTitleID).BindTo(Util.GetList(RefType.CustomerTitle, defaultValue: "", selectedValue: IsExistingUser ? CustomerPersonalInfo.Title : "")).Enable(true))
                  @(Html.TextBoxFor(model => model.Customer.CustomerTitleID, new { @Value = "0" }))    
                }
                else if (CustomerPersonalInfo.CustomerTitleID != null)
                {
                @(Html.Telerik().DropDownListFor(model => model.Customer.CustomerTitleID).BindTo(Util.GetList(RefType.CustomerTitle, defaultValue: "", selectedValue: IsExistingUser ? CustomerPersonalInfo.Title : "")).Enable(false))
                }

                else
                {
                    //@(Html.Telerik().DropDownListFor(model => model.Customer.CustomerTitleID).BindTo(Util.GetList(RefType.CustomerTitle, defaultValue: "")).Enable(false))        
                    @(Html.TextBoxFor(model => model.Customer.CustomerTitleID))  
                }
            }
            else
            {
                //@(Html.Telerik().DropDownListFor(model => model.Customer.CustomerTitleID).BindTo(Util.GetList(RefType.CustomerTitle, defaultValue: "")).Enable(false))        
                @(Html.TextBoxFor(model => model.Customer.CustomerTitleID))  
            }*@
            </div>
        </td>
        <td style="display:none;">
        @if (Model.Customer.Gender.ToString2() != "")
        {
            <b>@Html.LabelFor(model => model.Customer.Gender)</b>
        }
        </td>
        <td>
            
            <div style="display:none">
           @* @Html.Label("Male") @Html.RadioButtonFor(model => model.Customer.Gender, "M", new { onclick = "setGender(this);", @class = "gender", id = "rdbMale", display = "none" })
            @Html.Label("Female") @Html.RadioButtonFor(model => model.Customer.Gender, "F", new { onclick = "setGender(this);", @class = "gender", id = "rdbFemale", display = "none" })
           *@
            </div>
             @Html.HiddenFor(model => model.Customer.Gender)
            @*@Html.Label("Female") @Html.RadioButton("rdbGender", "F", new { onclick = "setGender(this);" })*@
            @*@Html.HiddenFor(model => model.Customer.Gender)*@
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.LabelFor(model => model.Customer.FullName)</b>
        </td>
        <td colspan="3">
        @Html.Label(CustomerPersonalInfo.CustomerName)
        
        
            @if (CustomerPersonalInfo != null)
            {
                if (CustomerPersonalInfo.CustomerName != null)
                {
                @Html.TextBoxFor(model => model.Customer.FullName, new { style = "width:300px;display:none;", @readonly = "readonly", @class = "uppercase", onchange = "toUpperCase(this)", @Value = CustomerPersonalInfo.CustomerName })
                }
                else
                {
                @Html.TextBoxFor(model => model.Customer.FullName, new { style = "width:300px;display:none;", @readonly = "readonly", @class = "uppercase", onchange = "toUpperCase(this)" })
                }
            }
            else
            {
                @Html.TextBoxFor(model => model.Customer.FullName, new { style = "width:300px;display:none;", @readonly = "readonly", @class = "uppercase", onchange = "toUpperCase(this)" })
                
            }
        </td>
    </tr>
    <tr>
        <td valign="top">
            <b>@Html.LabelFor(model => model.Customer.IDCardNo)</b>
        </td>
        <td colspan="3" valign="top">
            
            <div>
                <div style="float: left;">

                @Html.Label(idCardTypeName)

                    @if (CustomerPersonalInfo != null)
                    {
                        if (idCardTypeID != null && idCardTypeID != 0)
                        {
                                                  
                        @(Html.Telerik().DropDownListFor(model => model.Customer.IDCardTypeID)
                            .ClientEvents(events => events.OnChange("IDCardTypeChanged"))
                                .BindTo(Util.GetList(RefType.IDCardType, defaultValue: "", selectedValue: Convert.ToString(idCardTypeID)))
                                .HtmlAttributes(new { @style = "display:none;" })
                                    )
                          
                        }
                        else
                        {
                        @(Html.Telerik().DropDownListFor(model => model.Customer.IDCardTypeID)
                            .ClientEvents(events => events.OnChange("IDCardTypeChanged"))
                            .BindTo(Util.GetList(RefType.IDCardType, defaultValue: ""))
                            .HtmlAttributes(new { @style = "display:none;" }))
                        }
                    }
                    else
                    {
                        @(Html.Telerik().DropDownListFor(model => model.Customer.IDCardTypeID)
                            .ClientEvents(events => events.OnChange("IDCardTypeChanged"))
                            .BindTo(Util.GetList(RefType.IDCardType, defaultValue: ""))
                            .HtmlAttributes(new { @style = "display:none;" }))
                    }
                </div>
                
                &nbsp;@Html.Label(" - ")&nbsp;
                @{
                    if ((CustomerPersonalInfo.NewIC).ToString2() != "")
                    {
                         @Html.Label(CustomerPersonalInfo.NewIC)
                    }
                    else if ((CustomerPersonalInfo.OldIC).ToString2() != "")
                    {
                         @Html.Label(CustomerPersonalInfo.OldIC)
                    }
                    else if ((CustomerPersonalInfo.PassportNo).ToString2() != "")
                    {
                         @Html.Label(CustomerPersonalInfo.PassportNo)
                    }
                    else if ((CustomerPersonalInfo.OtherIC).ToString2() != "")
                    {
                         @Html.Label(CustomerPersonalInfo.OtherIC)
                    }
                   
                    
                }
                
                
                <div style="float: left; padding-left: 2px;display:none;">
                    @if (CustomerPersonalInfo != null)
                    {
                        if (idCardTypeID != null && idCardTypeID != 0)
                        {
                        @Html.TextBoxFor(model => model.Customer.IDCardNo, new { @Value = (CustomerPersonalInfo.NewIC != null) ? CustomerPersonalInfo.NewIC : CustomerPersonalInfo.OldIC })
                        }
                        else
                        {
                        @Html.TextBoxFor(model => model.Customer.IDCardNo)
                        }
                    }
                    else
                    {
                          @Html.TextBoxFor(model => model.Customer.IDCardNo)
                    }
                    @Html.HiddenFor(model => model.InputIDCardTypeID)
                    @Html.HiddenFor(model => model.InputIDCardNo)
                       
                    @*Added by Rajeswari on 24th March to disable nationality*@
                    @Html.HiddenFor(model => model.InputNationalityID)
                </div>

                 @*   <div id="divBiometrics" style="float: right; display: block;">*@
                    @*Only for ID Card Type: New IC biometric button will be displayed by chetan *@
                    @*@if (Model.Customer.IDCardTypeID == NRICType)*@
                    @if (Session["IDCardTypeID"].ToInt() == 1)
                    {
                  @*  <button type="button" value="Vaidate" onclick="RetrieveMyKadInfo()" 
                        style="background-image:url(@(Url.Content("~/Content/images/btn_retrieve.png")));background-position:center;width:80px;height:23px;border-style:none;cursor:pointer;">
                    </button>*@
                    }
                    </div>
                    <div id="divCreditCheckMsg" style="display: none;">
                    <br />
                    <br />
                    <label id="lblCreditCheck" style="font-weight: bold; color: Red;display:none;">
                        Credit Check Failed.</label>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.LabelFor(model => model.Customer.DateOfBirth)</b>
        </td>
        <td colspan="3">

        @if (CustomerPersonalInfo.Dob != null && CustomerPersonalInfo.Dob != "")
        {
        @Html.Label(CustomerPersonalInfo.Dob.Substring(6, 2))@Html.Label("-")

        @Html.Label(CustomerPersonalInfo.Dob.Substring(4, 2))@Html.Label("-") 

        @Html.Label(CustomerPersonalInfo.Dob.Substring(0, 4))
        }
        <div style="display:none">

            @if (CustomerPersonalInfo == null)
            {
                @Html.DropDownListFor(model => model.DOBDay, Util.GetDayList(), new { @readonly = "readonly" })
                @Html.DropDownListFor(model => model.DOBMonth, Util.GetMonthList(), new { @readonly = "readonly" })
                @Html.DropDownListFor(model => model.DOBYear, Util.GetYearList(18), new { @readonly = "readonly" })
            }
            else if (CustomerPersonalInfo != null)
            {
                //Changes made by chetan
                if ((CustomerPersonalInfo.Dob != null) && (CustomerPersonalInfo.Dob != "") && CustomerPersonalInfo.Dob.Length >= 8)
                {
                @(Html.Telerik().DropDownListFor(model => model.DOBDay).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetDayList(selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(6, 2)).ToString())).Enable(false))  
                @(Html.Telerik().DropDownListFor(model => model.DOBMonth).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetMonthList(selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(4, 2)).ToString())).Enable(false))   
                @(Html.Telerik().DropDownListFor(model => model.DOBYear).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetYearList(18, selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(0, 4)).ToString())).Enable(false))   
                    Model.DOBDay = (CustomerPersonalInfo.Dob.Substring(6, 2)).ToInt();
                    Model.DOBMonth = (CustomerPersonalInfo.Dob.Substring(4, 2)).ToInt();
                    Model.DOBYear = (CustomerPersonalInfo.Dob.Substring(0, 4)).ToInt();
                }


                if (CustomerPersonalInfo.Dob.Length >= 8)
                {
                    Model.DOBDay = (CustomerPersonalInfo.Dob.Substring(6, 2)).ToInt();
                    Model.DOBMonth = (CustomerPersonalInfo.Dob.Substring(4, 2)).ToInt();
                    Model.DOBYear = (CustomerPersonalInfo.Dob.Substring(0, 4)).ToInt();
                }
                else
                {
                    // given fix for min date if no date is avail.
                    if (Session["IDCardNo"] != null)
                    {
                        int OutPut;
                        if (int.TryParse(Session["IDCardNo"].ToString2().Substring(0, 2), out OutPut))
                        {
                            CustomerPersonalInfo.Dob = Session["IDCardNo"].ToString2();


                            int year = Session["IDCardNo"].ToString2().Substring(0, 2).ToInt();

                            int CurrYear = DateTime.Now.Year;
                            string PreYear = "19" + year.ToString2();

                            if (CurrYear - PreYear.ToInt() <= 100)
                            {
                                Model.DOBYear = PreYear.ToInt();
                            }
                            else
                            {
                                PreYear = "20" + year.ToString2();
                                Model.DOBYear = PreYear.ToInt();
                            }
                            Model.DOBDay = (CustomerPersonalInfo.Dob.Substring(4, 2)).ToInt();
                            Model.DOBMonth = (CustomerPersonalInfo.Dob.Substring(2, 2)).ToInt();
                                 
                            @(Html.Telerik().DropDownListFor(model => model.DOBDay).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetDayList(selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(6, 2)).ToString())).Enable(false))  
                            @(Html.Telerik().DropDownListFor(model => model.DOBMonth).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetMonthList(selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(4, 2)).ToString())).Enable(false))   
                            @(Html.Telerik().DropDownListFor(model => model.DOBYear).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetYearList(18, selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(0, 4)).ToString())).Enable(false))   
              
                               
                        }
                        else
                        {
                            //Model.DOBDay = DateTime.MinValue.Day;
                            //Model.DOBMonth = DateTime.MinValue.Month;
                            //Model.DOBYear = DateTime.MinValue.Year;
                            Model.Customer.DateOfBirth = DateTime.MinValue;
                            @(Html.Telerik().DropDownListFor(model => model.DOBDay).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetDayList(selectedValue: Convert.ToInt32(Model.DOBDay).ToString())).Enable(false))  
                            @(Html.Telerik().DropDownListFor(model => model.DOBMonth).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetMonthList(selectedValue: Convert.ToInt32(Model.DOBMonth).ToString())).Enable(false))   
                            @(Html.Telerik().DropDownListFor(model => model.DOBYear).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetYearList(18, selectedValue: Convert.ToInt32(Model.DOBYear).ToString())).Enable(false))   
                
                
                        }

                    }



                }


                Model.Customer.CustomerTitleID = CustomerPersonalInfo.CustomerTitleID;
            }
            </div>

            @Html.HiddenFor(model => model.DOBDay) @Html.HiddenFor(model => model.DOBMonth)
            @Html.HiddenFor(model => model.DOBYear)
            @{
                //Html.Telerik().DatePickerFor(model => model.Customer.DateOfBirth)
                //    .HtmlAttributes(new { style="width:150px" })
                //    .InputHtmlAttributes(new { @readonly = "readonly" })
                //    .Format(Util.GetDateFormatString())
                //    .Max(DateTime.Now.AddYears(-minAge))
                //    .Render();
            }
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.LabelFor(model => model.Customer.ContactNo)</b>
        </td>
        <td>
        @Html.Label(msisdn)
        <div style="display:none;">
            @if (CustomerPersonalInfo != null)
            {
                if (CustomerPersonalInfo.Cbr.Length > 0)
                {
                    //added by Nreddy for add prefix mobileno
                    //if (CustomerPersonalInfo.Cbr.Length > 0)
                    //{
                    //if (CustomerPersonalInfo.Cbr.Contains('|'))
                    //{
                    //    CustomerPersonalInfo.Cbr="603"+CustomerPersonalInfo.Cbr.Split('|')[0].ToString();

                    //}
                    if (CustomerPersonalInfo.Cbr.Length >= 10 && CustomerPersonalInfo.Cbr.Length <= 12)
                    {
                        if (!CustomerPersonalInfo.Cbr.StartsWith("6"))
                        {
                            CustomerPersonalInfo.Cbr = "6" + CustomerPersonalInfo.Cbr;
                        }

                        // }
                    @Html.TextBoxFor(model => model.Customer.ContactNo, new { @Readonly = "Readonly", @Value = CustomerPersonalInfo.Cbr.Replace("-", ""), maxlength = 12 })
                    }
                    else
                    {
                      @Html.TextBoxFor(model => model.Customer.ContactNo, new { @Readonly = "Readonly", @Value = msisdn })      
                    }
                }
                else
                {
                    if (msisdn != "" && msisdn != null)
                    {
                        @Html.TextBoxFor(model => model.Customer.ContactNo, new { @Readonly = "Readonly", @Value = msisdn })      
                    }
                }
            }
            else
            {
                @Html.TextBoxFor(model => model.Customer.ContactNo, new { @Readonly = "Readonly", @Value = msisdn })
               
            }

            </div>

        </td>
        @*<td>
            <b>@Html.LabelFor(model => model.Customer.LanguageID)</b>
        </td>
        <td>
            @(Html.Telerik().DropDownListFor(model => model.Customer.LanguageID).BindTo(Util.GetList(RefType.Language, defaultValue: "")).Value(Model.Customer.LanguageID.ToString()).Effects(f => f.Toggle()))
        </td>*@
    </tr>
    <tr style="display:none;">
             
            <td>
                <b>@Html.LabelFor(model => model.Customer.NationalityID)</b>
            </td>
            <td>
                @(Html.Telerik().DropDownListFor(model => model.Customer.NationalityID).BindTo(Util.GetList(RefType.Nationality, defaultValue: "")))

            </td>
        
    </tr>
 
</table>
