﻿@using Online.Registration.Web.Helper; 
@using SNT.Utility;
@using Online.Registration.Web.CommonEnum;
@using Online.Registration.DAL.Models;
@model Online.Registration.Web.ViewModels.OrderSummaryVM
@{
    var GSTMark = ViewData["GSTMark"] != null ? ViewData["GSTMark"].ToString2() : "";
    Online.Registration.Web.UserSvc.GetAPIStatusMessagesResp ApiMessages = null;
    string sessionStatusCodeDescription = string.Empty;
    bool PrincipleTotalLinePrinted = false;
    bool MNPPrinted = false;
    if (Session["RegMobileReg_MainDevicePrice"] != null)
    {
        Model.TotalPrice = Convert.ToDecimal(Session["RegMobileReg_MainDevicePrice"]);
        Model.ModelPrice = Convert.ToDecimal(Session["RegMobileReg_MainDevicePrice"]);
        Model.ItemPrice = Convert.ToInt32(Session["RegMobileReg_MainDevicePrice"]);
    }
    if (!ReferenceEquals(Session["ApiMessages"], null))
    {
        ApiMessages = (Online.Registration.Web.UserSvc.GetAPIStatusMessagesResp)Session["ApiMessages"];
    }
    var DisplayMocdiscount = "MOC and Whitelist discount available" + Convert.ToString(Session["MocDefault"]);
    #region SUTAN ADDED CODE 19ThFeb2013
    Online.Registration.Web.ViewModels.PersonalDetailsVM MobileRegOrderSummary = null;
    if (!ReferenceEquals(Model.PersonalDetailsVM, null))
    {
        MobileRegOrderSummary = Model.PersonalDetailsVM;
    }

    #endregion SUTAN ADDED CODE 19ThFeb2013

    #region ADDED CODE BY RAJESWARI
    string failedIds = string.Empty;

    if (!ReferenceEquals(Session["FailedAcctIds"], null))
    {
        if (Session["FailedAcctIds"].ToString().Length != 0)
        {
            failedIds = Session["FailedAcctIds"].ToString();
        }
    }
    #endregion
    var listPrevExtraTenMSISDNs = string.Empty;
    if (Session["ExtratenMobilenumbers"] != null)
    {
        listPrevExtraTenMSISDNs = Session["ExtratenMobilenumbers"].ToString();
    }

    //14052015 - Anthony - Remove old method, because the autowaiver rule is not accurate
    //Apply waive on advances and deposits based on Liberization     
    //WaiverRules waiverRule = HttpContext.Current.Session[SessionKey.WaiverRules.ToString()] != null ? (WaiverRules)HttpContext.Current.Session["WaiverRules"] : new WaiverRules();
    //WebHelper.ApplyDepositWaiveOffsOnModel(Model, waiverRule);
    decimal _penalty = 0;
    if (Session["RebatePenalty"] != null)
    {
        _penalty = Convert.ToDecimal(Session["RebatePenalty"].ToString());
    }
    else
    {
        //_penalty = 0;
        if (Model.PersonalDetailsVM != null)
        {
            if (Model.PersonalDetailsVM.RegID.ToInt() > 0)
            {
                using (var proxy = new RegistrationServiceProxy())
                {

                    var resultPenaltyAmount = proxy.getRebateDatacontractPenalty(Model.PersonalDetailsVM.RegID.ToInt());
                    foreach (var v in resultPenaltyAmount)
                    {
                        _penalty = _penalty + Convert.ToDecimal(v.Penalty);
                    }
                }
            }
        }
    }


}
@{
	<div id="right-box-frame">
    <div id="wrapper">
        <div id="maincontentcontainer">
            <div id="right">
                <ul class="tabs">
                   @if (Session["SelectedTab"] == null)
                   {
                    <li><a id="aValidation" href="#view1">Validation</a></li>
                    <li><a id="aOrder" href="#view2">Order Summary</a></li>
                   }
                   else if (Session["SelectedTab"].ToString2() == "Validation")
                   {
                        <li class="selected" ><a id="aValidation" href="#view1">Validation</a></li>
                        <li><a id="aOrder" href="#view2">Order Summary</a></li>
                   }
                   else if (Session["SelectedTab"].ToString2() == "OrderSummary")
                   {
                        <li><a id="aValidation" href="#view1">Validation</a></li>
                        <li class="selected"><a id="aOrder" href="#view2">Order Summary</a></li>
                   }
                </ul>
                <div class="tabcontents">
                    <div id="view1">
                        @* 05052015 Remove age check if check is not performed - Lus*@

                            @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0 && (MobileRegOrderSummary.AgeCheckStatus.ToString2() != "AN" && MobileRegOrderSummary.AgeCheckStatus.ToString2() != "DN"))
                            {
                                sessionStatusCodeDescription = MobileRegOrderSummary.AgeCheckStatus.ToString();
                                if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                {
                                    <div style="padding: 10px 0px 10px 20px">
                                    <span class="txt-16-grey-normal">Age Check:</span><br />
                                    @if (sessionStatusCodeDescription == "AF")
                                    {
                                <label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                    }
                                    else if (sessionStatusCodeDescription == "AS")
                                    {
                                <label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                    }
                                    else
                                    {
                                <label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                    }
                                    </div>
                                }
                            }
                            else
                            {
                                if (!ReferenceEquals(Session["RegMobileReg_AgeCheckStatusCode"], null) && !ReferenceEquals(ApiMessages, null) && (Session["RegMobileReg_AgeCheckStatusCode"].ToString2() != "AN" && Session["RegMobileReg_AgeCheckStatusCode"].ToString2() != "DN"))
                                {
                                    sessionStatusCodeDescription = Session["RegMobileReg_AgeCheckStatusCode"].ToString2();
                                    if (ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                    {
                                        <div style="padding: 10px 0px 10px 20px">
                                        <span class="txt-16-grey-normal">Age Check:</span><br />
                                        @if (sessionStatusCodeDescription == "AF")
                                        {                                      
                                <label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                        }
                                        else if (sessionStatusCodeDescription == "AS")
                                        {
                                <label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                        }
                                        else
                                        {
                                <label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                        }
                                        </div>
                                    }
                                }
                            }
                       
                        @*29042015 Remove DDMF from UI if the check is not performed - Lus*@
                        
                            @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0 && MobileRegOrderSummary.DDMFCheckStatus.ToString2() != "DN")
                            {
                                sessionStatusCodeDescription = MobileRegOrderSummary.DDMFCheckStatus.ToString2();
                                if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                {
                                    <div style="padding: 10px 0px 10px 20px">
                                    <span class="txt-16-grey-normal">DDMF Check:</span><br />
                                    @if (sessionStatusCodeDescription == "DF")
                                    {
                                <label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                    }
                                    else if (sessionStatusCodeDescription == "DS")
                                    {
                                <label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                    }
                                    else
                                    {
                                <label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                </label>
                                    }
                                    </div>
                                }
                            }
                            else
                            {
                                if (!ReferenceEquals(Session["RegMobileReg_DDMFCheckStatusCode"], null) && !ReferenceEquals(ApiMessages, null) && Session["RegMobileReg_DDMFCheckStatusCode"].ToString2() != "DN")
                                {
                                    sessionStatusCodeDescription = Session["RegMobileReg_DDMFCheckStatusCode"].ToString2();
                                    if (ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                    {
                                        <div style="padding: 10px 0px 10px 20px">
                                        <span class="txt-16-grey-normal">DDMF Check:</span><br />
                                        @if (sessionStatusCodeDescription == "DF")
                                        {
                                <label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                        }
                                        else if (sessionStatusCodeDescription == "DS")
                                        {
                                <label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                        }
                                        else
                                        {
                                <label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                </label>
                                        }
                                        </div>
                                    }
                                }
                            }

                        @*24042015 Remove Address Check from UI - Lus
                        <div style="padding: 10px 0px 10px 20px">
                            <span class="txt-16-grey-normal">Address Check:</span><br />
                            @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0)
                            {
                                sessionStatusCodeDescription = MobileRegOrderSummary.AddressCheckStatus.ToString();
                                if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                {
                                    if (sessionStatusCodeDescription == "ADF")
                                    {
                                <label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                    }
                                    else if (sessionStatusCodeDescription == "ADS")
                                    {
                                <label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                    }
                                    else
                                    {
                                <label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                </label>
                                    }
                                }
                            }
                            else
                            {
                                if (!ReferenceEquals(Session["RegMobileReg_AddressCheckStatusCode"], null) && !ReferenceEquals(ApiMessages, null))
                                {
                                    sessionStatusCodeDescription = Session["RegMobileReg_AddressCheckStatusCode"].ToString();

                                    if (ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                    {
                                        if (sessionStatusCodeDescription == "ADF")
                                        {
                                <label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                        }
                                        else if (sessionStatusCodeDescription == "ADS")
                                        {
                                <label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                        }
                                        else
                                        {
                                <label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                </label>
                                        }
                                    }
                                }
                            }
                        </div>*@
                        <div style="padding: 10px 0px 10px 20px">
                            <span class="txt-16-grey-normal">Outstanding Check:</span><br />
                            @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0)
                            {
                                sessionStatusCodeDescription = MobileRegOrderSummary.OutStandingCheckStatus.ToString();
                                if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                {
                                    if (sessionStatusCodeDescription == "OF")
                                    {
                                <label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                    }
                                    else if (sessionStatusCodeDescription == "OS")
                                    {
                                <label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                    }
                                    else
                                    {
                                <label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                </label>
                                    }

                                }

                                if (MobileRegOrderSummary.OutstandingAcs != "" && MobileRegOrderSummary.OutstandingAcs != null)
                                {   
                                <div class="txt-16-grey-normal">
                                    Account(s): -<br />
                                    @((MobileRegOrderSummary.OutstandingAcs.ToString().Replace("(", "(RM ")).Replace(",", " , ").TrimEnd(','))</div>
                                }
                            }
                            else
                            {
                                if (!ReferenceEquals(Session["RegMobileReg_IsOutstandingCreditCheckStatusCode"], null) && !ReferenceEquals(ApiMessages, null))
                                {
                                    sessionStatusCodeDescription = Session["RegMobileReg_IsOutstandingCreditCheckStatusCode"].ToString();

                                    if (ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                    {
                                        if (sessionStatusCodeDescription == "OF")
                                        {
                                <label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                        }
                                        else if (sessionStatusCodeDescription == "OS")
                                        {
                                <label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                        }
                                        else
                                        {
                                <label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                </label>
                                        }

                                    }
                                }
                                if (failedIds != "")
                                {  
                                <div class="txt-16-grey-normal">
                                    Account(s): -<br />
                                    @((failedIds.Replace("(", "(RM ")).Replace(",", " , ").TrimEnd(','))</div>
                                }
                            }
                        </div>
                        @if ((!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"]))))
                        {
                            PrincipleTotalLinePrinted = true;
                            <div style="padding: 10px 0px 10px 20px">
                                <span class="txt-16-grey-normal">Total Line Check:</span><br />
                                @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0)
                                {
                                    sessionStatusCodeDescription = MobileRegOrderSummary.TotalLineCheckStatus.ToString();
                                    var totalExistingLine = " (" + Model.PersonalDetailsVM.TotalLineCheckCount.ToInt() + ")";
                                    if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                    {
                                        if (sessionStatusCodeDescription == "TLF")
                                        {
                                    <label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                        }
                                        else if (sessionStatusCodeDescription == "TLS")
                                        {
                                    <label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                        }
                                        else
                                        {
                                    <label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                    </label>
                                        }

                                    }
                                }
                                else
                                {
                                    var totalExistingLine = " (" + Session["existingTotalLine"].ToInt() + ")";
                                    if (!ReferenceEquals(Session["RegMobileReg_TotalLineCheckStatusCode"], null) && !ReferenceEquals(ApiMessages, null))
                                    {
                                        sessionStatusCodeDescription = Session["RegMobileReg_TotalLineCheckStatusCode"].ToString();

                                        if (ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                        {
                                            if (sessionStatusCodeDescription == "TLF")
                                            {
                                            <label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString() + totalExistingLine)</label>
                                            }
                                            else if (sessionStatusCodeDescription == "TLS")
                                            {
                                            <label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString() + totalExistingLine)</label>
                                            }
                                            else
                                            {
                                            <label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString() + totalExistingLine)</label>
                                            }
                                        }
                                    }
                                }
                            </div>
                            @*24042015 Remove Principle Line Check from UI - Lus
                            <div style="padding: 10px 0px 10px 20px">
                                <span class="txt-16-grey-normal">Principle Line Check:</span><br />
                                @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0)
                                {
                                    sessionStatusCodeDescription = MobileRegOrderSummary.PrincipleLineCheckStatus.ToString();
                                    if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                    {
                                        if (sessionStatusCodeDescription == "PLF")
                                        {
                                    <label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                        }
                                        else if (sessionStatusCodeDescription == "PLS")
                                        {
                                    <label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                        }
                                        else
                                        {
                                    <label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                    </label>
                                        }

                                    }
                                }
                                else
                                {
                                    if (!ReferenceEquals(Session["RegMobileReg_PrincipalLineCheckStatusCode"], null) && !ReferenceEquals(ApiMessages, null))
                                    {
                                        sessionStatusCodeDescription = Session["RegMobileReg_PrincipalLineCheckStatusCode"].ToString();

                                        if (ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                        {
                                            if (sessionStatusCodeDescription == "PLF")
                                            {
                                    <label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                            }
                                            else if (sessionStatusCodeDescription == "PLS")
                                            {
                                    <label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                            }
                                            else
                                            {
                                    <label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                    </label>
                                            }
                                        }
                                    }
                                }
                            </div>*@
                            
                        }
                        @if (!ReferenceEquals(MobileRegOrderSummary, null) && (MobileRegOrderSummary.RegID > 0) && (MobileRegOrderSummary.RegTypeID >= 10) && (MobileRegOrderSummary.RegTypeID <= 12) && (!MNPPrinted))
                        {
                            <div style="padding: 10px 0px 10px 20px">
                                @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0)
                                {
                                    sessionStatusCodeDescription = !ReferenceEquals(MobileRegOrderSummary.PrePortInCheckStatus, null) ? MobileRegOrderSummary.PrePortInCheckStatus.ToString() : string.Empty;
                                    <span class="txt-16-grey-normal">MNP Pre-port In Check Status:</span><br />
                                    if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                    {
                                        if (sessionStatusCodeDescription == "MPPF")
                                        {
                                    <label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                        }
                                        else if (sessionStatusCodeDescription == "MPPS")
                                        {
                                    <label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                        }
                                        else
                                        {
                                    <label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                    </label>
                                        }

                                    }
                                }
                                else
                                {
                                    if (!ReferenceEquals(Session["RegMobileReg_IsPortInStatusCode"], null) && !ReferenceEquals(ApiMessages, null))
                                    {
                                        sessionStatusCodeDescription = Session["RegMobileReg_IsPortInStatusCode"].ToString();

                                        if (ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                        {
                                            if (sessionStatusCodeDescription == "MPPF")
                                            {
                                    <label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                            }
                                            else if (sessionStatusCodeDescription == "MPPS")
                                            {
                                    <label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                            }
                                            else
                                            {
                                    <label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                    </label>
                                            }
                                        }
                                    }
                                }
                            </div>
                            <div style="padding: 10px 0px 10px 20px">
                                @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0)
                                {
                                    sessionStatusCodeDescription = !ReferenceEquals(MobileRegOrderSummary.MNPServiceIdCheckStatus, null) ? MobileRegOrderSummary.MNPServiceIdCheckStatus.ToString() : string.Empty;
                                    <span class="txt-16-grey-normal">MNP Service Id Check Status: </span>
                                    <br />
                                    if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                    {
                                        if (sessionStatusCodeDescription == "MSIF")
                                        {
                                    <label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                        }
                                        else if (sessionStatusCodeDescription == "MSIS")
                                        {
                                    <label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                        }
                                        else
                                        {
                                    <label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                    </label>
                                        }
                                    }
                                }
                                else
                                {
                                    if (!ReferenceEquals(Session["RegMobileReg_IsMNPServiceIdCheckStatusCode"], null) && !ReferenceEquals(ApiMessages, null))
                                    {
                                        sessionStatusCodeDescription = Session["RegMobileReg_IsMNPServiceIdCheckStatusCode"].ToString();

                                        if (ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                        {
                                            if (sessionStatusCodeDescription == "MSIF")
                                            {
                                    <label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                            }
                                            else if (sessionStatusCodeDescription == "MSIS")
                                            {
                                    <label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                            }
                                            else
                                            {
                                    <label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                    </label>
                                            }
                                        }
                                    }
                                }
                            </div>
                        }
                        @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0 && !ReferenceEquals(MobileRegOrderSummary.UserType, null) && (MobileRegOrderSummary.UserType.ToUpper() == "E" || MobileRegOrderSummary.UserType.ToUpper() == "N") && !PrincipleTotalLinePrinted)
                        {
                            if (MobileRegOrderSummary.UserType != "N" || MobileRegOrderSummary.RegTypeID == 12)
                            {
                            <div style="padding: 10px 0px 10px 20px">
                                @if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                {
                                    sessionStatusCodeDescription = MobileRegOrderSummary.TotalLineCheckStatus.ToString();
                                    var totalExistingLine = " (" + Model.PersonalDetailsVM.TotalLineCheckCount.ToInt() + ")";
                                    <span class="txt-16-grey-normal">Total Line Check: </span>
                                    <br />
                                    if (sessionStatusCodeDescription == "TLF")
                                    {
                                    <label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString() + totalExistingLine)</label>
                                    }
                                    else if (sessionStatusCodeDescription == "TLS")
                                    {
                                    <label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString() + totalExistingLine)</label>
                                    }
                                    else
                                    {
                                    <label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString() + totalExistingLine)
                                    </label>
                                    }

                                }
                            </div>
                            @* 03062015 - Remove PPL from UI
                            <div style="padding: 10px 0px 10px 20px">
                                @if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                {
                                    sessionStatusCodeDescription = MobileRegOrderSummary.PrincipleLineCheckStatus.ToString();
                                    <span class="txt-16-grey-normal">Principal Line Check: </span>
                                    <br />
                                    if (sessionStatusCodeDescription == "PLF")
                                    {
                                    <label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                    }
                                    else if (sessionStatusCodeDescription == "PLS")
                                    {
                                    <label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                    }
                                    else
                                    {
                                    <label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                    </label>
                                    }
                                }
                            </div> *@
                            }
                            @*if (MobileRegOrderSummary.RegTypeID == 2 && MobileRegOrderSummary.UserType != "N")
                            {
                            <div style="padding: 10px 0px 10px 20px">
                                @if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                {
                                    sessionStatusCodeDescription = MobileRegOrderSummary.ContractCheckStatus.ToString();
                                    <span class="txt-16-grey-normal">Principal Line Check: </span>
                                    <br />
                                    if (sessionStatusCodeDescription == "CF")
                                    {
                                    <label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                    }
                                    else if (sessionStatusCodeDescription == "CS")
                                    {
                                    <label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                    }
                                    else
                                    {
                                    <label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                    </label>
                                    }
                                }
                            </div>
                            }*@
                        }
                        
                        <div style="padding: 10px 0px 10px 20px; display: none">
                            <span class="txt-16-grey-normal">Whitelist Status: </span>
                            <br />
                            @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0)
                            {

                                if (!ReferenceEquals(MobileRegOrderSummary.Whitelist_Status, null))
                                {
                                    if (MobileRegOrderSummary.Whitelist_Status.ToString().ToLower() == "true")
                                    {
                                @MobileRegOrderSummary._WhiteListDetails.Description.ToString()
                                    }
                                    else
                                    {
                                @Html.Raw("No")                                              
                                    }
                                }
                                else
                                {
                                @Html.Raw("No")
                                }

                            }
                            else
                            {
                                if (!ReferenceEquals(Session["MocandwhitelistSstatus"], null))
                                {
                                    if (Session["MocandwhitelistSstatus"] == "true")
                                    {                                                
                                @Html.Raw("Yes")
                                    }
                                    else
                                    {
                                @Html.Raw("No")
                                    }
                                }
                            }
                        </div>
                        <div style="padding: 10px 0px 10px 20px; display: none">
                            <span class="txt-16-grey-normal">MOC Status: </span>
                            <br />
                            @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0)
                            {
                                if (!ReferenceEquals(MobileRegOrderSummary.MOC_Status, null))
                                {
                                @MobileRegOrderSummary.MOC_Status.ToString()
                                }
                                else
                                {
                                @Html.Raw("No")
                                }
                            }
                            else
                            {
                                if (!ReferenceEquals(Session["MOCIDs"], null))
                                {
                                    if (Session["MOCIDs"].ToString().Length > 0)
                                    {                                                
                                @Html.Raw(Session["MOCIDs"].ToString())
                                    }
                                    else
                                    {
                                                 
                                @Html.Raw("No")
                                    }
                                }
                            }
                        </div>
                    </div>
                    <div id="view2">
                        <div id="ui-accordion">
                            @if (!string.IsNullOrEmpty(Model.PlanName))
                            {
                               
                               
                                <h3>
                                    Plan</h3>
                                <div>
                                    <div style="float: left; padding-right: 15px">
                                        <img alt="" src='@Url.Content("~/Content/images/simcard.png")' width="46px" height="42px" />
                                    </div>
                                    <div style="float: left; width: 178px;">
                                        @if (Model.PlanBundle != null)
                                        {
                                            @*<span class="txt-11-grey-normal">@Model.PlanBundle:</span><br /> *@
                                        
                        }
                                        <span class="txt-14-black-normal">@Model.PlanName</span><br />
                                        <br />
                                        <span class="txt-11-grey-normal">Monthly Charges: </span>
                                        <br />
                                        <span class="txt-12-black-bold">RM@(Model.MonthlySubscription)</span><br />
                                    </div>
                                    <div style="clear: both;">
                                    </div>
                                </div>  
                            }
                            @if (Model.VasVM.VASesName.Count() > 0)
                            {
                                <h3>
                                    VAS</h3>
                                <div>
                                    <div style="azimuth: center; padding-right: 10px;">
                                        @{var vasNames = (List<string>)Session["RegMobileReg_VasNames"];}
                                        @if (vasNames != null)
                                        {
                                            foreach (var name in vasNames)
                                            { 
                                            <div class="VPlans txt-14-grey-normal">
                                                <span class="caret-right" style="width: 8px; float: left;"></span><span style="display: table-cell;">
                                                    @name</span></div>
                                            }
                                        }
                                    </div>
                                    <div style="clear: both;">
                                    </div>
                                </div>
                            }
                            <h3 id="h3PayableSec" >
                                Payable</h3>
                            <div>
                                <div class="txt-14-black-normal RM" >
                                    RM
                                </div>
                                <br />
                                 @{
                                     if (_penalty > 0)
                                     {
                                                    <div class="txt-11-grey-bold">
                                                        <span class="service-payable-label">Rebate Early Termination Fee</span> <span class="service-payable-devider">
                                                            :</span> <span class="txt-11-grey-normal PriceClass">@(_penalty.ToString("0.00"))</span>
                                                    </div>
                                     }
                                                }
                                <div style="float: left;">
                                <div id="tdWaiverTable"></div>
                                                    <div class="txt-12-black-bold section">
                                                        <span class="service-payable-label">Total Upfront</span> 
                                                        <span class="service-payable-devider">:</span> 
                                                        <span class="txt-12-black-bold PriceClass"><span id="lblTotalPay" class="ResetLabel">0</span></span><span class="service-gst-label">@(GSTMark.ToString2())</span>
                                                    </div>


                                   
                                   
                                    
                                    <br />
                                </div>
                                <div style="clear: both;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @{
                    if (ReferenceEquals(MobileRegOrderSummary, null) || MobileRegOrderSummary.RegID == 0)
                    {
                        var viewBagAcceptedOffer = new ViewDataDictionary();
                        viewBagAcceptedOffer.Add("_MSISDN", Session[SessionKey.MSISDN.ToString()].ToString2());
                        viewBagAcceptedOffer.Add("_OutRightDevice", false);
                        viewBagAcceptedOffer.Add("_ServiceFlow", true);
                        Html.RenderPartial("_PegaAcceptedOffer", viewBagAcceptedOffer);
                    }
                  }
            </div>
        </div>
    </div>
	</div>
}

