﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Controllers;
@model Online.Registration.Web.Models.SupplementaryListAccounts
@{
    ViewBag.Title = "Customer Account";
    var isBlacklisted = ViewBag.isBlacklisted;
    var resultMsg = Session["RegMobileReg_ResultMessage"].ToString2();    
    bool newUser = true;
    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        newUser = false;
    }
    if (ReferenceEquals(Model, null))
    {
        newUser = true;
    }
}

<h2>AddRemoveVAS</h2>


@using (Html.BeginForm("AddRemoveVAS", "AddRemoveVAS", FormMethod.Post, new { id = "frmAddSupple", @class = "overlayonsubmit", processmsg = "Loading" }))
{ 
    <div class="vwHeader">
        <table width="100%">
            <tr>
                <td>
                    <div>@ViewBag.Title</div>
                    <div class="vwSubHeader">Found Account</div>
                </td>
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
            <div id="DVResultDisplay">
            @Html.ValidationSummary()
            <table width="100%" style="text-align:center;">
                <tr>
                    <td>                       
                        @if (!newUser && Model.SuppListAccounts.Count > 0)
                        {
                             <div id="Grid" class="t-widget t-grid">
                                <table cellspacing="0">
                                    <colgroup>
                                    <col><col><col><col><col>
                                    </colgroup>
                                    <thead class="t-grid-header">
                                    <tr>
                                        <th scope="col" class="t-header">
                                        <span class="t-link">Action</span>
                                        </th>
                                        <th scope="col" class="t-header">
                                        <span class="t-link">Name</span>
                                        </th>
                                        <th scope="col" class="t-header">
                                        <span class="t-link">IC No</span>
                                        </th><th scope="col" class="t-header">
                                        <span class="t-link">MSISDN</span>
                                        </th><th scope="col" class="t-header">
                                        <span class="t-link">Account External Id</span>
                                        </th>
                                     </tr>
                                     </thead>
                                     <tbody>
                                         @if(Model.SuppListAccounts != null )
                                         {
                                             if (Model.SuppListAccounts.Count > 0)
                                             {
                                                 foreach (var Acd in Model.SuppListAccounts)
                                                 {
                                                     <tr class="">
                                                        <td>@Html.RadioButton("SelectAccountDtls", Acd.accountIntId + "," + Acd.externalId + "," + Acd.accountExtId + "," + Acd.AccountNumber)</td>
                                                        <td>@Html.Label(Acd.Holder)</td><td>@Html.Label(Acd.IDNumber)</td>
                                                        <td>@Html.Label(Acd.externalId)</td><td>@Html.Label(Acd.AccountNumber)</td>                                                
                                                    </tr>
                                                 }
                                             }
                                             
                                         }
                           
                                        @*<tr class="t-alt"><td><input type="radio" name="SelectAc" value="2" checked="checked"/></td><td>Tan Kok Wai</td><td>801010031234</td><td>60123456009</td><td>108472942</td></tr>*@
                                     </tbody>
                                 </table>
                             </div>
                        }
                        else
                        {
                            <div id="DVShowNewUSerMsg">No Principle accounts exists for the user</div>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>&nbsp;</p>
                        @Html.Hidden("submit")
                        @*<button class="button-skip" type="submit" value="Skip" onclick="$('#submit').val('skip');">*@
                         @if (!newUser && Model.SuppListAccounts.Count > 0)
                         {
                            <div id="DVResultButtonDisplay">
                                <button class="button-continue2" type="submit" value="Next" onclick="$('#submit').val('next');"></button>
                                @*<button class="button-continue2" type="submit" value="Next" onclick="return Validation();"></button>*@
                            </div>
                         }
                    </td>
                </tr>
            </table>
            </div>
    </div>
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            if ($('#menuAddService').length) {
                $('#menuAddService').css("background-image", $('#menuAddService').css("background-image").replace(".png", "_hover.png"));
            }
        });
        function Validation() {
            if (!$("input:radio[name='SelectAc']").is(":checked")) {
                alert('Select your option');
                return false;
            }
            $('#submit').val('next');
            return true;
        }
    </script>
}
