﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Controllers;
@using Online.Registration.Web.SubscriberICService;
@using Online.Registration.Web.Models;
@model Online.Registration.Web.Models.SupplementaryListAccounts
@{
    ViewBag.Title = "Customer Accounts";
    var isBlacklisted = ViewBag.isBlacklisted;
    var resultMsg = Session["RegMobileReg_ResultMessage"].ToString2();
    int accountsCount = 0;
    bool newUser = true;
    var isUserCCCAbove = WebHelper.Instance.IsUserCCCAbove();
    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        newUser = false;
    }
    if (ReferenceEquals(Model, null))
    {
        newUser = true;
    }

    var idCardTypeName = Session["PPIDSearchIDType"].ToString2();
    var isDealer = Session["IsDealer"].ToBool();
    var dealerMsidnSearch = System.Web.Configuration.WebConfigurationManager.AppSettings["DealerMsidnSearch"].ToString2() + " Add/Remove VAS";

    List<string> accountMsisdns = new List<string>();
    List<string> allowedPrefixes = new List<string>();
    if (System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"] != null)
    {
        allowedPrefixes = System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"].ToString2().Split(',').ToList();
    }
    string emfConfigId = string.Empty;
    emfConfigId = System.Configuration.ConfigurationManager.AppSettings["MISMEmfConfigId"].ToString2();
    string AccountStatuses = "Not Available";
    string AccountStatuses1 = "Not Available";
    string AccountStatuses2 = "Not Available";
    string AccountStatuses3 = "Not Available";
    string CurMsisdn = Session[Online.Registration.Web.CommonEnum.SessionKey.IDCardMSiSDNNew.ToString()].ToString2();
    
}
<div id="center">
    <div class="center_box">
        @using (Html.BeginForm("Index", "AddRemoveVAS", FormMethod.Post, new { id = "frmAddRemoveVAS", @class = "overlayonsubmit", processmsg = "Loading" }))
        {
            retrieveAcctListByICResponse AcctListByICResponse = null;
            
            <div class="content_white">
                <div id="dvDealers" style="display: none; width: 100%; azimuth: center;">
                    <div class="content search-header">
                        <div id="dvMsisdnSearch" class="search-hdr-body" style="width: 100%">
                            <table width="100%">
                                <tr>
                                    <td align="center">
                                        <b>@(dealerMsidnSearch)</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <b>MSISDN:</b>
                                        @Html.TextBox("MSISDN")


                                        <button class="cancel" type="button" value="Search" style="cursor: pointer;background-image: url(@(Url.Content("~/Content/img/shared/iSELL-Search-Button.jpg")));background-repeat: none;width: 38px;height: 35px;border: medium none;vertical-align: middle;margin-left: 8px;border-radius:8px" onclick="showdivAccDtls();">
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="content_white">
                    <div id="Dealer_Error" class="ErrorClass" style="padding-left: 20px;">
                    </div>
                </div>
                <div id="dvContent">
                    <div class="content search-header">
                        <div class="search-header-box">
                            <div class="search-hdr-title">@ViewBag.Title</div>
                        </div>
                    </div>
                    <div style="clear: both;">
                    </div>
                    <div id="dvError" class="ErrorClass">
                    </div>
                    <div class="ErrorClass">
                        @Html.ValidationSummary()
                    </div>
                    <div id="divNoRecords" style="display: none">
                        No accounts to display.
                    </div>
                    <div id="DVResultDisplay" class="crp-wrapper">
                        @if ((!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"]))) && !ReferenceEquals(Session["AllServiceDetails"], null))
                        {
                            ///GET PPIDInfo FROM SESSION
                            //AcctListByICResponse = new retrieveAcctListByICResponse();

                            AcctListByICResponse = (retrieveAcctListByICResponse)Session["AllServiceDetails"];

                            if (isDealer == true)
                            {
                                if (idCardTypeName != "MSISDN")
                                {
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tr style="font-size:15px;">
                                    <td>
                                        <b>ID No :</b>
                                        @foreach (var Acd in AcctListByICResponse.itemList.Where(c => c.Account != null && c.ServiceInfoResponse != null && c.ServiceInfoResponse.prinSuppInd != "" && c.ServiceInfoResponse.lob == "POSTGSM").ToList())
                                        {
                                            @Acd.Account.IDNumber
                                       break;
                                        }
                                    </td>
                                </tr>
                            </table>
                                }
                            }
                            else
                            {
                                 <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tr style="font-size:15px;">
                                    <td>
                                        <b>ID No :</b>
                                        @foreach (var Acd in AcctListByICResponse.itemList.Where(c => c.Account != null && c.ServiceInfoResponse != null && c.ServiceInfoResponse.prinSuppInd != "" && c.ServiceInfoResponse.lob == "POSTGSM").ToList())
                                        {
                                            @Acd.Account.IDNumber
                                       break;
                                        }
                                    </td>
                                </tr>
                            </table>
                            }
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" id="search-table">
                                <tbody>
                                    <tr class="row-bold-header" id="tblheader">
                                        <td align="center">
                                            Action
                                        </td>
                                        <td>
                                            Name
                                        </td>
                                        <td>
                                            MSISDN
                                        </td>
                                         <td>
                                        SIM Serial
                                    </td>  
                                        @if (isDealer.ToString2() == "False")
                                        {
                                            <td>
                                                Account Number
                                            </td>
                                            <td>
                                                Prin/Primary MSISDN
                                            </td>
                                      
                                            <td>
                                                Account Type
                                            </td>
                                            
                                       
                                            <td>
                                                Status
                                            </td>
                                        }
                                    </tr>
                                    @if (AcctListByICResponse.itemList.Where(c => c.Account != null && c.ServiceInfoResponse != null && c.ServiceInfoResponse.lob == "POSTGSM").Count() > 0)
                                    {
                                        var icount = 0;
                                        foreach (var principal in AcctListByICResponse.itemList.Where(c => c.Account != null && c.ServiceInfoResponse != null && c.ServiceInfoResponse.prinSuppInd != "" && c.ServiceInfoResponse.lob == "POSTGSM").ToList())
                                        {
                                            //2015.07.27 - Ricky - Bugzilla 1152 - To block SMEI/CI for MEPS - Start
                                            if (isDealer && principal.AccountDetails != null && (
                                                principal.AccountDetails.MktCode == System.Configuration.ConfigurationManager.AppSettings["CIParentMarketCode"].ToString2() ||
                                                principal.AccountDetails.MktCode == System.Configuration.ConfigurationManager.AppSettings["SMEIParentMarketCode"].ToString2()))
                                            {
                                                continue;
                                            }
                                            //2015.07.27 - Ricky - Bugzilla 1152 - To block SMEI/CI for MEPS - End

                                            bool checkedState = (icount == 0 && idCardTypeName == "MSISDN" && (isDealer == true || isUserCCCAbove == false)) ? true : false;
                                            icount++;

                                            checkedState = AcctListByICResponse.itemList.Count > 1 ? false : checkedState;
                                            
                                            List<string> lst = new List<string>();
                                            lst = accountMsisdns.Where(m => m.ToString() == principal.ExternalId).ToList();
                                            if (lst == null || lst.Count <= 0)
                                            {

                                                if ((principal.ServiceInfoResponse.prinSuppInd == "P") && principal.IsMISM == false && principal.EmfConfigId != emfConfigId)
                                                {
                                                    if (principal.ExternalId != null && principal.ExternalId.Length > 3)
                                                    {
                                                        if (allowedPrefixes.Contains(principal.ExternalId.Substring(0, 3)))
                                                        {
                                                            accountsCount++;
                                                            accountMsisdns.Add(principal.ExternalId);

                                                            switch (principal.ServiceInfoResponse.serviceStatus)
                                                            {
                                                                case "B":
                                                                    AccountStatuses = "Barred";
                                                                    break;
                                                                case "S":
                                                                    AccountStatuses = "Suspended";
                                                                    break;
                                                                case "T":
                                                                    AccountStatuses = "Terminated";
                                                                    break;
                                                                case "A":
                                                                    AccountStatuses = "Active";
                                                                    break;
                                                                case "D":
                                                                    AccountStatuses = "Deactive";
                                                                    break;
                                                                default:
                                                                    AccountStatuses = "Active";
                                                                    break;
                                                            }
                                                            string divId = "div-" + principal.ExternalId;
                                        <tr class="row-body" id="@divId">
                                            <td align="center">
                                                @Html.RadioButton("SelectAccountDtls", principal.AcctIntId + "," + principal.ExternalId + "," + principal.AcctExtId + "," + principal.Account.AccountNumber + "," + principal.Account.Holder.Replace(",", "") + "," + principal.ServiceInfoResponse.serviceStatus + "," + principal.SusbcrNo + "," + principal.SusbcrNoResets + "," + "Primary" + "," + (principal.Customer != null ? principal.Customer.TotalWriteOff.ToInt() : 0), checkedState)
                                            </td>
                                            <td>
                                                @{string strName = principal.Customer != null ? !string.IsNullOrEmpty(principal.Customer.CustomerName) ? principal.Customer.CustomerName : principal.Account != null ? principal.Account.Holder : string.Empty : principal.Account != null ? principal.Account.Holder : string.Empty;
                                        
                                                }
                                                @Html.Raw(strName)
                                            </td>
                                            <td>@principal.ExternalId
                                            </td>
                                            <td>
                                                    &nbsp;
                                                </td>
                                            @*  <td>No
                                                </td>*@
                                            @if (isDealer.ToString2() == "False")
                                            {                                                
                                                <td>@principal.AcctExtId
                                                </td>
                                                <td>
                                                </td>
                                              
                                                <td>
                                                    POSTGSM-P
                                                </td>
                                                
                                         
                                                <td>
                                                    @AccountStatuses
                                                </td>
                                            }
                                        </tr>
                                                        }
                                                    }
                                                }
                                                if ((principal.ServiceInfoResponse.prinSuppInd == "S") && principal.IsMISM == false && principal.EmfConfigId != emfConfigId)
                                                {
                                                    if (principal.ExternalId != null && principal.ExternalId.Length > 3)
                                                    {
                                                        if (allowedPrefixes.Contains(principal.ExternalId.Substring(0, 3)))
                                                        {
                                                            accountsCount++;
                                                            accountMsisdns.Add(principal.ExternalId);
                                                            switch (principal.ServiceInfoResponse.serviceStatus)
                                                            {
                                                                case "B":
                                                                    AccountStatuses = "Barred";
                                                                    break;
                                                                case "S":
                                                                    AccountStatuses = "Suspended";
                                                                    break;
                                                                case "T":
                                                                    AccountStatuses = "Terminated";
                                                                    break;
                                                                case "A":
                                                                    AccountStatuses = "Active";
                                                                    break;
                                                                case "D":
                                                                    AccountStatuses = "Deactive";
                                                                    break;
                                                                default:
                                                                    AccountStatuses = "Active";
                                                                    break;
                                                            }
                                                            string divId = "div-" + principal.ExternalId;
                                    <tr class="row-body" id="@divId" >
                                        <td align="center">

                                        @Html.RadioButton("SelectAccountDtls", principal.AcctIntId + "," + principal.ExternalId + "," + principal.AcctExtId + "," + principal.Account.AccountNumber + "," + principal.Account.Holder.Replace(",","") + "," + principal.ServiceInfoResponse.serviceStatus + "," + principal.SusbcrNo + "," + principal.SusbcrNoResets + "," + "Suppline" + "," + principal.ExternalId)
                                        </td>
                                        <td>
                                            @{string strName = principal.Customer != null ? !string.IsNullOrEmpty(principal.Customer.CustomerName) ? principal.Customer.CustomerName : principal.Account != null ? principal.Account.Holder : string.Empty : principal.Account != null ? principal.Account.Holder : string.Empty;
                                        
                                            }
                                            @Html.Raw(strName)
                                        </td>
                                        <td>@principal.ExternalId
                                        </td>
                                        <td>
                                                    &nbsp;
                                                </td>
                                         @if (isDealer.ToString2() == "False")
                                         {     
                                        <td>@principal.AcctExtId
                                        </td>
                                        <td>
                                        
                                        </td>
                                        <td>
                                            POSTGSM-S
                                        </td>
                                        <td>
                                            @AccountStatuses
                                        </td>
                                         }
                                    </tr>
                                                        }
                                                    }
                                                }
                                                if (principal.ServiceInfoResponse.prinSuppInd == "P" && principal.IsMISM == false && principal.EmfConfigId != emfConfigId)
                                                {
                                                    string supAccountStatus = string.Empty;
                                                    if (principal.PrinSuppResponse != null && principal.PrinSuppResponse.itemList.Count > 0)
                                                    {
                                                        foreach (var itemsdata in principal.PrinSuppResponse.itemList)
                                                        {
                                                            if (itemsdata.prinsupp_indField.ToString().ToUpper() == "S")
                                                            {
                                                                //Added by Rajender
                                                                if (!string.IsNullOrEmpty(itemsdata.subscr_statusField))
                                                                {
                                                                    if (itemsdata.subscr_statusField.ToLower().Contains("suspend"))
                                                                    {
                                                                        supAccountStatus = "S";
                                                                    }
                                                                    else if (itemsdata.subscr_statusField.ToLower().Contains("deactive"))
                                                                    {
                                                                        supAccountStatus = "D";
                                                                    }
                                                                    else if (itemsdata.subscr_statusField.ToLower().Contains("terminated"))
                                                                    {
                                                                        supAccountStatus = "T";
                                                                    }
                                                                    else if (itemsdata.subscr_statusField.ToLower().Contains("barred"))
                                                                    {
                                                                        supAccountStatus = "B";
                                                                    }
                                                                    else
                                                                    {
                                                                        supAccountStatus = "A";
                                                                    }

                                                                    //string AccountStatuses1 = "Not Available";
                                                                    switch (supAccountStatus)
                                                                    {
                                                                        case "B":
                                                                            AccountStatuses1 = "Barred";
                                                                            break;
                                                                        case "S":
                                                                            AccountStatuses1 = "Suspended";
                                                                            break;
                                                                        case "T":
                                                                            AccountStatuses1 = "Terminated";
                                                                            break;
                                                                        case "A":
                                                                            AccountStatuses1 = "Active";
                                                                            break;
                                                                        case "D":
                                                                            AccountStatuses1 = "Deactive";
                                                                            break;
                                                                        default:
                                                                            AccountStatuses1 = "Active";
                                                                            break;
                                                                    }
                                                                }
                                                                //ends

                                                                lst = accountMsisdns.Where(m => m.ToString() == itemsdata.msisdnField).ToList();

                                                                if (lst == null || lst.Count <= 0)
                                                                {
                                                                    if (itemsdata.msisdnField != null && itemsdata.msisdnField.Length > 3)
                                                                    {
                                                                        if (allowedPrefixes.Contains(itemsdata.msisdnField.Substring(0, 3)))
                                                                        {
                                                                            accountsCount++;
                                                                            accountMsisdns.Add(itemsdata.msisdnField);
                                                                            string accountNumber = string.Empty;
                                                                            var suppAccount = AcctListByICResponse.itemList.Where(i => i.ExternalId == itemsdata.msisdnField && i.ServiceInfoResponse != null && i.ServiceInfoResponse.prinSuppInd == "S" && !i.IsMISM).FirstOrDefault();
                                                                            accountNumber = suppAccount != null && !string.IsNullOrEmpty(suppAccount.AcctExtId) ? suppAccount.AcctExtId : principal.AcctExtId;
                                                                            string divId = "div-" + itemsdata.msisdnField;
                                    <tr class="row-body"  id="@divId">
                                        <td align="center">
                                            @*@Html.RadioButton("SelectAccountDtls", principal.AcctIntId + "," + itemsdata.msisdnField + "," + accountNumber + "," + itemsdata.acct_noField + "," + itemsdata.cust_nmField + "," + supAccountStatus)*@
                                            @Html.RadioButton("SelectAccountDtls", suppAccount.AcctIntId + "," + itemsdata.msisdnField + "," + accountNumber + "," + itemsdata.acct_noField + "," + itemsdata.cust_nmField.Replace(",", "") + "," + supAccountStatus + "," + itemsdata.subscr_noField + "," + itemsdata.subscr_no_resetsField + ",Suppline" + "," + principal.ExternalId)
                                        </td>
                                        <td>
                                            @{string strName = !string.IsNullOrEmpty(itemsdata.cust_nmField) ? itemsdata.cust_nmField : principal.Account != null ? principal.Account.Holder : string.Empty;
                                        
                                            }
                                            @Html.Raw(strName)
                                        </td>
                                        @*  <td>@principal.Account.IDNumber
                                        </td>*@
                                        <td>@itemsdata.msisdnField
                                        </td>
                                        <td>
                                                    &nbsp;
                                                </td>
                                        @if (isDealer.ToString2() == "False")
                                        {
                                        <td>@accountNumber
                                        </td>
                                        @*   <td>Yes
                                                </td>*@
                                        <td>@principal.ExternalId
                                        </td>
                                            
                                        <td>
                                            POSTGSM-S
                                        </td>
                                       
                                        <td>
                                            @AccountStatuses1
                                        </td>
                                        }
                                    </tr>
                                                                        }
                                                                    }
                                                                }


                                                            }
                                                        }

                                                    }
                                                }
                                            }
                                        }

                                        //MSIM Lines incorporation by ravi on 11/07/2013
                                        var mismPrimaryList = AcctListByICResponse.itemList.Where(i => i.IsMISM == true && i.Account != null && i.ServiceInfoResponse.prinSuppInd != "" && i.EmfConfigId != emfConfigId).ToList();
                                        if (mismPrimaryList != null)
                                        {
                                            for (int counter = 0; counter < mismPrimaryList.Count; counter++)
                                            {
                                                //2015.07.27 - Ricky - Bugzilla 1152 - To block SMEI/CI for MEPS - Start
                                                if (Util.SessionAccess.User.isDealer && mismPrimaryList[counter].AccountDetails != null && (
                                                    mismPrimaryList[counter].AccountDetails.MktCode == System.Configuration.ConfigurationManager.AppSettings["CIParentMarketCode"].ToString2() ||
                                                    mismPrimaryList[counter].AccountDetails.MktCode == System.Configuration.ConfigurationManager.AppSettings["SMEIParentMarketCode"].ToString2()))
                                                {
                                                    continue;
                                                }
                                                //2015.07.27 - Ricky - Bugzilla 1152 - To block SMEI/CI for MEPS - End
                                                
                                                if (mismPrimaryList[counter].Account != null)
                                                { 
                                                    accountsCount++;
                                                    var Acd = mismPrimaryList[counter];
                                                    string divId = "div-" + Acd.ExternalId;
                                                
                                            <tr class="row-body" id="@divId">
                                                <td align="center">
                                                    @{ 
                                                                string strName = Acd.Customer != null ? !string.IsNullOrEmpty(Acd.Customer.CustomerName) ? Acd.Customer.CustomerName : Acd.Account != null ? Acd.Account.Holder : string.Empty : Acd.Account != null ? Acd.Account.Holder : string.Empty;

                                                                switch (Acd.ServiceInfoResponse.serviceStatus.ToString2())
                                                                {
                                                                    case "B":
                                                                        AccountStatuses2 = "Barred";
                                                                        break;
                                                                    case "S":
                                                                        AccountStatuses2 = "Suspended";
                                                                        break;
                                                                    case "T":
                                                                        AccountStatuses2 = "Terminated";
                                                                        break;
                                                                    case "A":
                                                                        AccountStatuses2 = "Active";
                                                                        break;
                                                                    case "D":
                                                                        AccountStatuses2 = "Deactive";
                                                                        break;
                                                                    default:
                                                                        AccountStatuses2 = "Active";
                                                                        break;
                                                                }
                                                                string msimLine = Acd.ServiceInfoResponse.prinSuppInd.ToString2().ToUpper() == "S" ? "MISMSec" : "MISMPrimary";
                                                        @Html.RadioButton("SelectAccountDtls", Acd.AcctIntId + "," + Acd.ExternalId + "," + Acd.AcctExtId + "," + Acd.Account.AccountNumber + "," + strName.Replace(",","") + "," + Acd.ServiceInfoResponse.serviceStatus.ToString2() + "," + Acd.SusbcrNo + "," + Acd.SusbcrNoResets + "," + msimLine)
                                           
                                                    }
                                                </td>
                                                <td>
                                                    @Html.Raw(strName)
                                                    @*  @Acd.Account.Holder*@
                                                </td>
                                                @*   <td>@Acd.Account.IDNumber
                                            </td>*@
                                                <td>
                                                    @if (Acd.ServiceInfoResponse.prinSuppInd.ToString().ToUpper() != "S")
                                                    {
                                                        @Acd.ExternalId
                                                    }
                                                </td>
                                                 <td>
                                                        &nbsp;
                                                    </td>
                                                @if (isDealer.ToString2() == "False")
                                                {
                                                    <td>@Acd.AcctExtId
                                                    </td>
                                                   if (Acd.ServiceInfoResponse.prinSuppInd.ToString().ToUpper() == "S")
                                                   {
                                                    <td>
                                                        @Acd.ExternalId
                                                    </td>
                                                   }
                                                   else
                                                   { 
                                                    @*<td>
                                                        &nbsp;
                                                    </td>*@
                                                       if (isDealer.ToString2() == "False")
                                                       {
                                                           if (Acd.ServiceInfoResponse.prinSuppInd.ToString().ToUpper() == "S")
                                                           {
                                                    <td>
                                                        @Acd.ExternalId
                                                    </td>
                                                           }
                                                           else
                                                           { 
                                                    <td>
                                                        &nbsp;
                                                    </td>
                                                           }
                                                       }
                                                   }

                                                   if (Acd.ServiceInfoResponse.prinSuppInd.ToString().ToUpper() == "S")
                                                   {
                                                    <td>
                                                        MISM-S
                                                    </td>
                                                   }
                                                   else
                                                   {
                                                    <td>
                                                        MISM-P
                                                    </td>
                                                   }
                                                
                                                    <td>
                                                        @AccountStatuses2
                                                    </td>
                                                }
                                            </tr>
                                            
                                                if (Acd.SecondarySimList != null && Acd.SecondarySimList.Count() > 0)
                                                {
                                                    for (int j = 0; j < Acd.SecondarySimList.Count(); j++)
                                                    {
                                                        divId = "div-" + Acd.ExternalId;
                                            <tr class="row-body" id="@divId">
                                                <td align="center">
                                                    @{ 
                                                                string strMismName = Acd.Customer != null ? !string.IsNullOrEmpty(Acd.Customer.CustomerName) ? Acd.Customer.CustomerName : Acd.Account != null ? Acd.Account.Holder : string.Empty : Acd.Account != null ? Acd.Account.Holder : string.Empty;

                                                                switch (Acd.ServiceInfoResponse.serviceStatus.ToString2())
                                                                {
                                                                    case "B":
                                                                        AccountStatuses3 = "Barred";
                                                                        break;
                                                                    case "S":
                                                                        AccountStatuses3 = "Suspended";
                                                                        break;
                                                                    case "T":
                                                                        AccountStatuses3 = "Terminated";
                                                                        break;
                                                                    case "A":
                                                                        AccountStatuses3 = "Active";
                                                                        break;
                                                                    case "D":
                                                                        AccountStatuses3 = "Deactive";
                                                                        break;
                                                                    default:
                                                                        AccountStatuses3 = "Active";
                                                                        break;
                                                                }

                                                                string msecsimLine = Acd.SecondarySimList[j].PrimSecInd.ToString2().ToUpper() == "S" ? "MISMSec" : "MISMPrimary";
                                                        @Html.RadioButton("SelectAccountDtls", Acd.AcctIntId + "," + Acd.SecondarySimList[j].Msisdn + "," + Acd.AcctExtId + "," + Acd.Account.AccountNumber + "," + strMismName.Replace(",", "") + "," + Acd.ServiceInfoResponse.serviceStatus.ToString2() + "," + Acd.SecondarySimList[j].FxSubscrNo.ToString2() + "," + Acd.SecondarySimList[j].FxSubscrNoResets.ToString2() + "," + msecsimLine + "," + (Acd.Customer != null ? Acd.Customer.TotalWriteOff.ToInt() : 0))
                                                    }
                                                </td>
                                                <td>
                                                    @Html.Raw(strMismName)
                                                </td>
                                                <td>
                                                    @*  @Acd.SecondarySimList[j].Msisdn*@
                                                </td>
                                               @if (Acd.SecondarySimList[j].PrimSecInd.ToString().ToUpper() == "S")
                                                   {

                                                       string SIMSerial = string.Empty;
                                                       Online.Registration.Web.SubscriberICService.retrieveSimDetlsResponse objRetrieveSimDetlsResponse = null;
                                                       Online.Registration.Web.ViewModels.SimDetlsList objSimDetlsList = null;
                                                       objRetrieveSimDetlsResponse = new Online.Registration.Web.SubscriberICService.retrieveSimDetlsResponse();
                                                       using (var proxy = new retrieveServiceInfoProxy())
                                                       {
                                                           objRetrieveSimDetlsResponse = proxy.retreiveSIMDetls(Acd.SecondarySimList[j].Msisdn);
                                                       }

                                                       if (objRetrieveSimDetlsResponse != null)
                                                       {
                                                           List<Online.Registration.Web.SubscriberICService.SimDetails> simDetlsFiltered = objRetrieveSimDetlsResponse.itemList.Where(c => c.InactiveDt == null || c.InactiveDt == string.Empty).ToList();
                                                           if (!ReferenceEquals(simDetlsFiltered, null) && simDetlsFiltered.Count > 0)
                                                           {
                                                               objSimDetlsList = new Online.Registration.Web.ViewModels.SimDetlsList(
                                                               simDetlsFiltered[0].ExternalID.ToString2(),
                                                               simDetlsFiltered[0].ExternalIDType.ToString2(),
                                                               simDetlsFiltered[0].InventoryTypeID.ToString2(),
                                                               simDetlsFiltered[0].InventoryDisplayValue,
                                                               simDetlsFiltered[0].Reason,
                                                               simDetlsFiltered[0].ActiveDt,
                                                               simDetlsFiltered[0].InactiveDt
                                                              );

                                                           }
                                                       }
                                                   
                                                       SIMSerial = objSimDetlsList.ExteranalId;
                                                   
                                                   
                                                       <td>
                                                       @SIMSerial
                                                       </td>
                                               
                                                   }
                                                @if (isDealer.ToString2() == "False")
                                                {
                                                    <td>@Acd.AcctExtId
                                                    </td>
                                                   if (Acd.SecondarySimList[j].PrimSecInd.ToString().ToUpper() == "S")
                                                   {
                                                    <td>
                                                        @Acd.ExternalId
                                                    </td>
                                                   }
                                                   else
                                                   { 
                                                    <td>
                                                    </td>
                                                       if (isDealer.ToString2() == "False")
                                                       {
                                                           if (Acd.SecondarySimList[j].PrimSecInd.ToString().ToUpper() == "S")
                                                           {
                                                    <td>
                                                        @Acd.ExternalId
                                                    </td>
                                                           }
                                                           else
                                                           { 
                                                    <td>
                                                    </td>
                                                             
                                                           }
                                                       }
                                                   }

                                               
                                                   if (Acd.SecondarySimList[j].PrimSecInd.ToString().ToUpper() == "S")
                                                   {
                                                    <td>
                                                        MISM-S
                                                    </td>
                                                   }
                                                   else
                                                   {
                                                    <td>
                                                        MISM-P
                                                    </td>
                                                   }
                                                
                                                    <td>
                                                        @AccountStatuses3
                                                    </td>
                                                }
                                            </tr>
                                                    }

                                                }

                                                if (Acd.PrinSupplimentaryResponse != null && Acd.PrinSupplimentaryResponse.itemList.Count() > 0)
                                                {
                                                    for (int j = 0; j < Acd.PrinSupplimentaryResponse.itemList.Count(); j++)
                                                    {
                                                        divId = "div-" + Acd.ExternalId;
                                                        if (Acd.PrinSupplimentaryResponse.itemList[j].prinsupp_indField.ToString2().ToUpper() == "S")
                                                        {
                                                            divId = "div-" + Acd.PrinSupplimentaryResponse.itemList[j].msisdnField;
                                                        }
                                                   
                                            <tr class="row-body"  id="@divId">
                                                <td align="center">
                                                    @{ 
                                                                 string strMismName = Acd.Customer != null ? !string.IsNullOrEmpty(Acd.Customer.CustomerName) ? Acd.Customer.CustomerName : Acd.Account != null ? Acd.Account.Holder : string.Empty : Acd.Account != null ? Acd.Account.Holder : string.Empty;

                                                                 switch (Acd.PrinSupplimentaryResponse.itemList[j].subscr_statusField.ToString2())
                                                                 {
                                                                     case "B":
                                                                         AccountStatuses3 = "Barred";
                                                                         break;
                                                                     case "S":
                                                                         AccountStatuses3 = "Suspended";
                                                                         break;
                                                                     case "T":
                                                                         AccountStatuses3 = "Terminated";
                                                                         break;
                                                                     case "A":
                                                                         AccountStatuses3 = "Active";
                                                                         break;
                                                                     case "D":
                                                                         AccountStatuses3 = "Deactive";
                                                                         break;
                                                                     case "Barred":
                                                                         AccountStatuses3 = "B";
                                                                         break;
                                                                     case "Suspend":
                                                                         AccountStatuses3 = "S";
                                                                         break;
                                                                     case "Terminated":
                                                                         AccountStatuses3 = "T";
                                                                         break;
                                                                     case "Active":
                                                                         AccountStatuses3 = "A";
                                                                         break;
                                                                     case "Deactive":
                                                                         AccountStatuses3 = "D";
                                                                         break;
                                                                     default:
                                                                         AccountStatuses3 = "A";
                                                                         break;
                                                                 }


                                                                 string msecsimLine = Acd.PrinSupplimentaryResponse.itemList[j].prinsupp_indField.ToString().ToUpper() == "S" ? "Suppline" : "MISMPrimary";
                                                        @Html.RadioButton("SelectAccountDtls", Acd.PrinSupplimentaryResponse.itemList[j].acct_noField + "," + Acd.PrinSupplimentaryResponse.itemList[j].msisdnField + "," + Acd.AcctExtId + "," + Acd.Account.AccountNumber + "," + Acd.PrinSupplimentaryResponse.itemList[j].cust_nmField.Replace(",","") + "," + AccountStatuses3.ToString2() + "," + Acd.PrinSupplimentaryResponse.itemList[j].subscr_noField.ToString2() + "," + Acd.PrinSupplimentaryResponse.itemList[j].subscr_no_resetsField.ToString2() + "," + msecsimLine + "," + (Acd.Customer != null ? Acd.Customer.TotalWriteOff.ToInt() : 0))
                                               
                                                    }
                                                </td>
                                                <td>
                                                    @Html.Raw(Acd.PrinSupplimentaryResponse.itemList[j].cust_nmField)
                                                </td>
                                                <td>
                                                    @Acd.PrinSupplimentaryResponse.itemList[j].msisdnField
                                                </td>
                                                <td>
                                                        &nbsp;
                                                    </td>
                                                @if (isDealer.ToString2() == "False")
                                                {
                                                <td>@Acd.AcctExtId
                                                </td>
                                                @* <td>No</td>*@
                                               if (Acd.PrinSupplimentaryResponse.itemList[j].prinsupp_indField.ToString().ToUpper() == "S")
                                               {
                                                    <td>
                                                        @Acd.ExternalId
                                                    </td>
                                               }
                                               else
                                               { 
                                                    <td>
                                                    </td>
                                                             
                                               }

                                               if (Acd.PrinSupplimentaryResponse.itemList[j].prinsupp_indField.ToString().ToUpper() == "S")
                                               {
                                                    <td>
                                                        POSTGSM-S
                                                    </td>
                                               }
                                               else
                                               {
                                                    <td>
                                                        MISM-P
                                                    </td>
                                               }
                                                
                                                <td>
                                                    @Acd.PrinSupplimentaryResponse.itemList[j].subscr_statusField
                                                </td>
                                                }
                                            </tr>
                                                    }

                                                }
                                            }
                                            }
                                        }

                                        //end of MSIM Lines incorporation by ravi on 11/07/2013
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
                <div style="height: 80px;" class="content_white">
                    <div style="float: right; padding-right: 20px" id="divHeader">
                        @Html.Hidden("submit")
                        <input class="submitButton" type="submit" value="Continue" onclick="return Validation();" />
                    </div>
                </div>
            </div>
        }
    </div>
    @Html.Partial("_footer")
</div>
@section Scripts{
<script src="@Url.Content("~/Scripts/js/tablefilter_all_min.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(

        function () {
            //if ('@(isDealer)' == "False") {
            //    if ('@(idCardTypeName)' != "MSISDN") {
            //        $("#SelectAccountDtls:first").prop('checked', 'checked');
            //    }
            //    else {
            //        $('input[name=SelectAccountDtls]').each(function () {
            //            var strValue = $(this).val().split(',');
            //            var currentMSISDN = '@(CurMsisdn)';
            //            if (strValue[1] == currentMSISDN) {
            //                $(this).prop('checked', 'checked');
            //            }
            //        });
            //    }
            //}
            if ('@(isDealer)' == "True") {
                if ('@(idCardTypeName)' != "MSISDN") {
                    $('#DVResultDisplay').hide();
                    $('#dvContent').hide();
                    $('#dvDealers').show();
                    $('#divHeader').hide();
                }
                else {
                    if ('@CurMsisdn' != '') {
                        $('#MSISDN').val('@CurMsisdn');
                        showdivAccDtls();
                    }
                }
            }

        });

        function showdivAccDtls() {
            var msisdnno = $('#MSISDN').val();
            var mobregex = /^60[0-9]{8,10}$/;
            $('#Dealer_Error').hide();

            if (msisdnno == "") {
                $('#Dealer_Error').show();
                $('#Dealer_Error').html('Please Enter MSISDN.');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            else if (msisdnno != "") {
                if (!mobregex.test(msisdnno)) {
                    $('#Dealer_Error').show();
                    $('#Dealer_Error').html("Please enter valid MSISDN number");
                    return false;
                }
            }
            if ($('tr#div-' + msisdnno).length > 0) {
                $('#dvDealers').hide();
                $('#DVResultDisplay').show();
                $('#dvContent').show();
                $('#search-table tr').hide();

                $('#tblheader').show();
                $('tr#div-' + msisdnno).show();
                $('#divHeader').show();
                //$('tr#div-' + msisdnno).find('#SelectAccountDtls').prop('checked', 'checked')
                $('tr#div-' + msisdnno+' input[name=SelectAccountDtls]:first').prop('checked', 'checked');
            }
            else {
                $('#Dealer_Error').show();
                $('#Dealer_Error').html("Please enter Valid Principal/Primary MSISDN");
               // $('#dvContent').hide();
                //$('#dvDealers').hide();
                $('#MSISDN').val('');
                $('#MSISDN').focus();
                return false;
            }
        }

        if ('@(accountsCount)' == "0") {

            $('#DVResultDisplay').hide();
            $('#divNoRecords').show();
            $('#divHeader').hide();

        }
        else {
            $('#DVResultDisplay').show();
            $('#divNoRecords').hide();
            $('#divHeader').show();
        }
        function Validation() {

            if (!$("input:radio[name='SelectAccountDtls']").is(":checked")) {
                $('#dvError').html('Please select an account to proceed further.');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }

            var selectedVal = "";
            var selectedVal = $('input[name=SelectAccountDtls]:checked').val();
            var valNew = [];
            valNew = selectedVal.split(',');

            if (valNew.length > 5) {
                if (valNew[5] != "A" && valNew[5] != "") {

                    var status = "";
                    if (valNew[5].toString() == "S") {
                        status = 'Suspend';
                    }
                    else if (valNew[5].toString() == "B") {
                        status = 'Barred';
                    }
                    else if (valNew[5].toString() == "D") {
                        status = 'Deactive';
                    }
                    $('#dvError').html("Your Number is on " + status + " status");
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                }
            }
            //            if (parseInt(valNew[9]) > 0) {
            //                $('#dvError').html("The selected MSISDN is classified under Writeoff Account, Add/Remove VAS is not allowed");
            //                $("html, body").animate({ scrollTop: 0 }, "slow");
            //                return false;
            //            }

            $('#submit').val('next');
            //document.forms['frmAddRemoveVAS'].submit();
            $("#frmAddRemoveVAS").submit();
            return true;
        }
        var table_Props = {
            stylesheet: '@Url.Content("~/Content/css/filtergrid.css")',
            on_keyup: true, 
            on_keyup_delay: 100, 
            col_0: "none",
            col_1: "none",
            col_4: "select",
            col_5: "select",
            col_6: "select",
            col_7: "select",
            display_all_text: "[All]"
        };
        var tf = setFilterGrid("search-table", table_Props);
        $('.flt').addClass('flt_old');
    </script>
}
