﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.Properties;
@model Online.Registration.Web.ViewModels.RegDetailsObjVM
<script type="text/javascript">
<!--
    if (window.history.forward(1) != null) {
        window.history.forward(1);
    }
//-->  
</script>
@{
    if (TempData["PageFrom"].ToString2() == "SalesAgent")
    {
        ViewBag.Title = "Reassign VAS Request";
    }
    else if (TempData["PageFrom"].ToString2() == "Cashier")
    {
        ViewBag.Title = "Payment Received";
    }
    else
    {
        ViewBag.Title = "Reassign VAS Request";
    }
    Layout = "~/Views/Shared/_SubmitLayout.cshtml";

    int KenanCommitedStatusId = 558;
    int FailStatusId = 28;
    //bool isDealer = false;// Session["IsDealer"].ToBool(); 
    var interval = System.Configuration.ConfigurationManager.AppSettings["DealerTimerIntervel"].ToString();

    string sharingSuppMsg = System.Configuration.ConfigurationManager.AppSettings["NonShareToShareSubmitMessage"];
    bool sharingSuppFlag = !ReferenceEquals(Session["QuotaShareSubmitMessage"], null) ? (bool)Session["QuotaShareSubmitMessage"] : false;

    var IsDealer = Session["IsDealer"].ToBool();
    var IsCDPU = false;

    if (Util.isCDPUUser())
    {
        IsDealer = false;
        IsCDPU = true;
    }
      
}


<div>
    <table width="100%">
        <tr>
            <td style="width: 580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<div>
    @if (System.Configuration.ConfigurationManager.AppSettings["ToEmail"].ToString2() == "Y")
    {
        <h4>
            Registration has been submitted successfully and an email has been sent to you…</h4>
    }
    else
    {
        if (@TempData["PageFrom"].ToString2() == "StoreKeeper")
        {
        <h4>
            Reassign VAS request processed successfully</h4>
        <h4>
            Click
            @Html.ActionLink("HERE", "MobileRegSummary", new { regID = Model.RegID }, new { style = "color:#5fb848;font-weight:bold;text-decoration:none" })
            to view registration or <a href="@(Url.Content("~/AddRemoveVAS/PrintAddRemoveVas?id=" + Model.RegID))" target="_blank" style="text-decoration:none" >
                <img  alt="Print" src='@Url.Content("~/Content/images/Print.gif")' />
                Print </a>the registration form.
        </h4>
        }
        if (@TempData["PageFrom"].ToString2() == "Cashier")
        {
        <h4>
            Payment received successfully</h4>
        <h4>
        Click
            @Html.ActionLink("HERE", "MobileRegSummary", new { regID = Model.RegID }, new { style = "color:#5fb848;font-weight:bold;text-decoration:none" })
            to view registration or <a href="@(Url.Content("~/AddRemoveVAS/PrintAddRemoveVas?id=" + Model.RegID))" target="_blank" style="text-decoration:none" >
                <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                Print </a>the registration form.
        </h4>
        }
        if (@TempData["PageFrom"].ToString2() == "RegFail")
        {
        <h3>
            Reassign VAS request has been submitted successfully</h3>
        
            if (sharingSuppFlag)
            { 
            <h4>@sharingSuppMsg</h4>
            }
        
        <h4>
            Click
            @Html.ActionLink("HERE", "MobileRegSummary", new { regID = Model.RegID }, new { style = "color:#5fb848;font-weight:bold;text-decoration:none" })
            to view registration or <a href="@(Url.Content("~/AddRemoveVAS/PrintAddRemoveVas?id=" + Model.RegID))" target="_blank" style="text-decoration:none" >
                <img  alt="Print" src='@Url.Content("~/Content/images/Print.gif")'  style="border:0" />
                Print </a>the registration form.
        </h4>
            if (@TempData["CMSSCaseStatus"].ToString2() != string.Empty && @TempData["CMSSCaseStatus"].ToString2() == "Success")
            {
          <h4 style="color:#CC1122">CMSS case has been created successfully. CMSS Case Id: @TempData["CMSSCaseID"].ToString2() </h4>
            }
            else if (@TempData["CMSSCaseStatus"].ToString2() != string.Empty && @TempData["CMSSCaseStatus"].ToString2() == "Fail")
            {
          <h4 style="color:#CC1122">CMSS case creation failed.</h4>
            }

        }
        if (@TempData["PageFrom"].ToString2() == "RegSuccess")
        {
        <h4>
            Reassign VAS request closed successfully</h4>
        }
        else if (@TempData["PageFrom"].ToString2() == "SalesAgent")
        {
            //Save the User TransactionLog
            WebHelper.Instance.SaveUserTransactionLogs(Model.RegID);
        <h3>
            Reassign VAS request has been submitted successfully</h3>
        <h4>
            Click
            @Html.ActionLink("HERE", "MobileRegSummary", new { regID = Model.RegID }, new { style = "color:#5fb848;font-weight:bold;text-decoration:none" })
            to view registration or <a href="@(Url.Content("~/AddRemoveVAS/PrintAddRemoveVas?id=" + Model.RegID))" target="_blank" style="text-decoration:none" >
                <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                Print </a>the registration form.
        </h4>
        
            if (@TempData["CMSSCaseStatus"].ToString2() != string.Empty && @TempData["CMSSCaseStatus"].ToString2() == "Success")
            {
          <h4 style="color:#CC1122">CMSS case has been created successfully. CMSS Case Id: @TempData["CMSSCaseID"].ToString2() </h4>
            }
            else if (@TempData["CMSSCaseStatus"].ToString2() != string.Empty && @TempData["CMSSCaseStatus"].ToString2() == "Fail")
            {
          <h4 style="color:#CC1122">CMSS case creation failed.</h4>
            }

        }

    }
</div>

@{
    if (!IsDealer && !IsCDPU) { 
        var viewBagValue = new ViewDataDictionary();
        viewBagValue.Add("regID", Model.RegID);
        Html.RenderPartial("_PegaRecommendationMiniDashboard_2", Model.PegaVM, viewBagValue);
    }
} 

<div id="dvLoading" style="background:url('@Url.Content("~/Content/img/shared/iSELL-loading.gif")') no-repeat center center;
height: 100px;
width: 80%;
position: fixed;
z-index: 1000;
">
<div id="dvloadtxt"
style="font-family: Verdana,Geneva,sans-serif;font-size: 20px;
color: #FFFFFF;
text-align: center;
margin-top:100px;
">
 Loading...
</div>
</div>

@section Scripts{
    <script type="text/javascript" language="javascript">


        $(window).load(function () {
            $('#dvLoading').fadeOut(1000);
            $('#dvloadtxt').fadeOut(1000);
        });


    </script>
}