﻿@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "Reassign VAS-Cancelled";
    Layout = "~/Views/Shared/_SubmitLayout.cshtml";
}
@model int
<div>
    <table width="100%">
        <tr>
            <td style="width: 580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<div>
    <h3>
        Reassign VAS has been cancelled successfully.</h3>
</div>
