﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.CommonEnum;
@using Online.Registration.DAL.Models;
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
@{
    ViewBag.Title = "Customer Details";
    var autoBillingID = Util.GetPaymentModeID(PAYMENTMODE.AutoBilling);
    var malaysianID = Util.GetNationalityID(NATIONALITY.Malaysian);
    var NRICType = Util.GetIDCardTypeID(IDCARDTYPE.NRIC);

    var minAge = Session["RegMobileReg_ProgramMinAge"].ToInt();
    var idCardTypeID = Model.Customer.IDCardTypeID;
    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" : "";
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var MalAdvDeposit = Session["RegMobileReg_MalAdvDeposit"].ToInt();
    var OtherAdvDeposit = Session["RegMobileReg_OtherAdvDeposit"].ToInt();
    Model.MalayAdvDeposit = MalAdvDeposit;
    Model.OtherAdvDeposit = OtherAdvDeposit;

    /*Added by chetan for split adv & deposit*/
    var MalyDevAdv = Session["RegMobileReg_MalyDevAdv"].ToInt();
    var MalayPlanAdv = Session["RegMobileReg_MalayPlanAdv"].ToInt();
    var MalayDevDeposit = Session["RegMobileReg_MalayDevDeposit"].ToInt();
    var MalyPlanDeposit = Session["RegMobileReg_MalyPlanDeposit"].ToInt();
    var OthDevAdv = Session["RegMobileReg_OthDevAdv"].ToInt();
    var OthPlanAdv = Session["RegMobileReg_OthPlanAdv"].ToInt();
    var OthDevDeposit = Session["RegMobileReg_OthDevDeposit"].ToInt();
    var OthPlanDeposit = Session["RegMobileReg_OthPlanDeposit"].ToInt();

    Model.MalyDevAdv = MalyDevAdv;
    Model.MalayPlanAdv = MalayPlanAdv;
    Model.MalayDevDeposit = MalayDevDeposit;
    Model.MalyPlanDeposit = MalyPlanDeposit;
    Model.OthDevAdv = OthDevAdv;
    Model.OthPlanAdv = OthPlanAdv;
    Model.OthDevDeposit = OthDevDeposit;
    Model.OthPlanDeposit = OthPlanDeposit;
    /*upto here*/


    /*Added by Rajeswari on 24th March to disable nationality*/
    var idCardNoForNewUser = Session["IDCardNo"].ToString();
    var idCardTypeForNewUser = Session["IDCardTypeID"].ToString();
    /*upto here */
    bool IsFromMNP = false;

    ///CHECK IF THE Session["FromMNP"] IS SET
    if (!ReferenceEquals(Session["FromMNP"], null))
    {
        IsFromMNP = Convert.ToBoolean(Session["FromMNP"]);
    }

    var listPrevExtraTenMSISDNs = Session["ExtratenMobilenumbers"].ToString2();

    var extraTenCount = 0;
    //Apply waive on advances and deposits based on Liberization     
    WaiverRules waiverRule = HttpContext.Current.Session[SessionKey.WaiverRules.ToString()] != null ? (WaiverRules)HttpContext.Current.Session["WaiverRules"] : new WaiverRules();
    WebHelper.ApplyDepositWaiveOffsOnModel(Model, waiverRule);
}

@using (Html.BeginForm("PersonalDetails", "AddRemoveVas", FormMethod.Post, new { id = "frmPersonalDetails", @class = "overlayonsubmit", processmsg = "Loading" }))
{ 
    <div class="vwHeader">
        <table width="100%">
            <tr>
                <td style="width: 580px">
                    <div>@ViewBag.Title</div>
                    <div class="vwSubHeader">

                            @Html.Raw(string.Format(@"<ul class='breadcrumb_container'>
                                        <li class='breadcrumb_e breadcrumb_before'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {0}</li>
                                        <li class='breadcrumb_e breadcrumb_divider breadcrumb_divider_right'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item breadcrumb_item_hover'>Step {1}</li>
                                        <li class='breadcrumb_e breadcrumb_divider breadcrumb_divider_left'>&nbsp;</li>
                                        <li class='breadcrumb_e breadcrumb_item'>Step {2}</li>
                                        <li class='breadcrumb_e breadcrumb_end'>&nbsp;</li>
                                       
                                     </ul>",
                MobileRegistrationSteps.Plan.ToInt() - 1,
                 MobileRegistrationSteps.Vas.ToInt() - 1,
                 MobileRegistrationSteps.MobileNo.ToInt() - 1,
                 MobileRegistrationSteps.PersonalDetails.ToInt() - 1,
                 MobileRegistrationSteps.Summary.ToInt() - 1))
                          
                           
                       
                    </div>
                </td>
                <td align="right">
                 
                       <button class="button-back cancel" type="submit" value="Back" onclick="$('#TabNumber').val(4);">
                        </button>
                  
                    <button class="button-continue" type="submit" value="Next" onclick="javascript:return ValidateICNum();" id="btnContinue">
                    </button>
                </td>
            </tr>
        </table>
    </div>    
    <div class="viewInnerBody">
        <div style="float: left;">
            @*<div style="font-size:x-large;padding:10px 0px 10px 0px;">Step @(Session["RegStepNo"].ToInt()): @ViewBag.Title</div>*@
            <table>
                <tr>
                    <td valign="top">
                        @Html.ValidationSummary(false)
                        @Html.HiddenFor(a => a.TabNumber)
                         @Html.HiddenFor(a => a.ExtraTenMobileNumbers)
                        @*@Html.HiddenFor(a => a.CapturedIMEINumber, new { })
                        @Html.HiddenFor(a => a.CapturedSIMSerial)*@
                        <br />
                        @{
                   Html.Telerik().PanelBar()
                       .Name("pnlPersonalDetails")
                       .ExpandAll(false).ExpandMode(Telerik.Web.Mvc.UI.PanelBarExpandMode.Single)
                       .Items(pbItem =>
                       {
                           pbItem.Add()
                               .Expanded(true)
                               .Text("CUSTOMER INFORMATION")
                               .LinkHtmlAttributes(new { @class = "panel-header" })
                               .ContentHtmlAttributes(new { @class = "panel-content" })
                               .HtmlAttributes(new { width = "400px" })
                               .Content(
                       @<text>
                            @Html.Partial("_Customer", Model)
                            </text>);
                           pbItem.Add()
                                .Expanded(true)
                               .Text("BILLING ADDRESS")
                               .LinkHtmlAttributes(new { @class = "panel-header" })
                               .ContentHtmlAttributes(new { @class = "panel-content" })
                               .HtmlAttributes(new { width = "400px" })
                               .Content(
                       @<text>
                            @Html.Partial("_Address", Model)
                            </text>);

                       }).Render(); 
                        }
                    </td>
                </tr>
            </table>
        </div>
        <div style="float: right;">
            @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
        </div>
    </div>
    

}
@{
    Html.Telerik().Window()
        .Name("vasWindow")
        .Title("Value Added Services")
        .Width(325)
        .Content(@<text>
    @{var vasNames = (List<string>)Session["RegMobileReg_VasNames"]; }
    @if (vasNames != null)
    {
        foreach (var name in vasNames)
        { 
        <div style="border-style: solid; border-width: 1px; border-radius: 5px; margin: 1px;
            padding: 3px 3px 3px 3px; margin: 0px 0px 1px 0px; width: 300px;">
            @name
        </div>
        }
    }
    </text>)
        .Modal(true)
        .Visible(false)
        .Render();

    Html.Telerik().Window()
.Name("extraTenWindow")
.Title("Extra Ten")
.Width(360)
   .Height(470)

.Content(@<text>
            

          <table width="100%" cellpadding="0" cellspacing="0" border="0">
           
            <tr>
                
                <td colspan="2">

                <div id="divExtraTen">
                
               
               
                @for(int i=0;i<10;i++)
                {
                    
                    var divId = "divExtraTen_"+i ;
                    var txtId = "txtExtraTen_" +i ;
                    var delbtnId = "btnDeleteExtraTen_" + i;

                    var lblSnoId = "lblSno_" + i;
                    
                    extraTenCount++;
                    //var rowClass = "Controller Row";
                
               // if(i%2==0)
               // {
               //     rowClass ="Controller AltRow";
               // }
               //else
               // {
               //     rowClass = "Controller Row";
               // }    
                    
           
                        
                    
               <div class="Controller Row" id=@divId>
               <label class="NumL" id=@lblSnoId>@extraTenCount</label>
               <input class="TxtBox" type="text" id=@txtId /> 
             
                                        
                                        <input class="DelBtn" type="button" onclick='deleteExtraTen(this);' id=@delbtnId value="" />   

               </div>
                    
                }

                 </div>
                 <div class="Controller">
                <input type="button" class="AddMoreBtn" id="btnAddMore" onclick="addExtraTenDiv();" value="" /> 
                </div>
               
             
                 &nbsp;
                 
              
                
                </td>
               

            </tr>

            <tr>
                <td >
                  <input id="btnSaveExtraTen" type="button" class="SaveBtn" value="" onclick="return validateExtraTen();" />
                         
                 
                                                            <input type="button" class="CancelBtn" id="btnCancelExtraTen" onclick="cancelExtraTen();" value="" />   

           
                   
                   
                    <br />
                </td>
            </tr>
        </table>
        </text>)
.Modal(true)
.Visible(false)
.ClientEvents(events => events.OnOpen("extraTenWindowOnOpen"))
.Render();


    Html.Telerik().ScriptRegistrar()
          .OnDocumentReady(@<text>
            // open the initially hidden window when the button is clicked
            $('#btnVwVAS').click(function(e) {e.preventDefault();$('#vasWindow').data('tWindow').center().open();});

                  $('#btnExtraTen') .click(function(e) { e.preventDefault(); $('#extraTenWindow').data('tWindow').center().open();});

  

            $('#btnVwSubline').click(function(e) {e.preventDefault();$('#sublineWindow').data('tWindow').center().open();});
        </text>); 
}
@section Scripts{
    <script type="text/javascript">

    
        $(document).ready(function () {
         $('#menuTypeAddRemoveVas').css("background-image", $('#menuTypeAddRemoveVas').css("background-image").replace(".png", "_hover.png"));
       
        /*Added by Rajeswari on 24th March to disable nationality and IDcardNo and IDCardType */
        $('#Customer_IDCardNo').css({"background-color": '#F2F2F2'});  
        $('#Customer_IDCardNo').attr('readonly', true);
        $('#Customer_IDCardTypeID').css({"background-color": '#F2F2F2'});        
        $("#Customer_IDCardTypeID").data("tDropDownList").disable();
        $('#Customer_NationalityID').css({"background-color": '#F2F2F2'});        
        $("#Customer_NationalityID").data("tDropDownList").disable();

        if( $("#hdnStateIDExists") != null )
            {
                if( $("#hdnStateIDExists").val() == "Y")
                {
                    $("#tlkStateID").data("tDropDownList").disable();
                }
            }
           var ddlNationality = $("#Customer_NationalityID").data("tDropDownList");
                if($('#Customer_NationalityID').val() == "")
                {                
                    ddlNationality.value(@(malaysianID));
                    
                    $("#divMalaysian").show();
                    $("#divNonMalaysian").hide();

                    if(@(Session["IDCardTypeID"]) == "2"){
                        if($('#Customer_NationalityID').val() == "1")
                        {
                            $("#Customer_NationalityID").prop("readOnly",true);
                            ddlNationality.value("NONMALAYSIAN");
                            $("#divMalaysian").hide();
                            $("#divNonMalaysian").show();
                        }
                     }               
                    else
                    {
                        ddlNationality.value("MALAYSIAN");
                    }  
                }
                else
                {            
                     $("#divMalaysian").hide();
                     $("#divNonMalaysian").show();    
                   
                    if($('#Customer_NationalityID').val() == "1")
                    {                      
                         $("#divMalaysian").show();
                         $("#divNonMalaysian").hide();
                    }
                }
                
            IDCardTypeonfill();
            var payModeID = $('#Customer_PayModeID').val();

            if(payModeID != '' && payModeID != 0){
                setDiv(payModeID);
            }
            else{
                setDivDefault();
            }
                    
    if('@(listPrevExtraTenMSISDNs)'!='')
    {

   $('#ExtraTenMobileNumbers').val('@(listPrevExtraTenMSISDNs)');

    var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        var objListMSISDNs=$('#ExtraTenMobileNumbers').val().split(',');
        $('#hdnExtraTenCount').val(childDivs.length);
        if(objListMSISDNs.length<=childDivs.length)
        {

        for(var i=0;i<childDivs.length;i++)
        {

         var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
         if(txtElement!=null)
         txtElement.val(objListMSISDNs[i]);
         
        }

        }
        else
        {
        
        for(var i=0;i<(objListMSISDNs.length-childDivs.length);i++)
        {
        var index=parseInt($('#hdnExtraTenCount').val())+1;
        var divId = "divExtraTen_"+ index ;
        var txtId = "txtExtraTen_" + index ;
        var delbtnId = "btnDeleteExtraTen_" + index;
         var lblSnoId = "lblSno_" + childDivs.length+1;
        // $("#divExtraTen").append("<div id='"+divId+"' ><input type='text' id='"+txtId+"' /> <input type='button' value='X' onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");;
         $("#divExtraTen").append("<div class='Controller Row' id='"+divId+"' ><label class='NumL' id='"+lblSnoId+"'>"+(parseInt(childDivs.length+1))+"</label><input class='TxtBox' type='text' id='"+txtId+"' /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");
        $('#hdnExtraTenCount').val(index+1);
        
        }
        childDivs = panel.find("div");
        for(var i=0;i<childDivs.length;i++)
        {

         var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
         if(txtElement!=null)
         txtElement.val(objListMSISDNs[i]);
         
        }
        
        
        }

    }




//            var idCardType = $('#Customer_IDCardTypeID').val();

            var idCardType=@(idCardTypeForNewUser);
            var nric = $('#Customer_IDCardNo').val();
            var ddlIDCardType = $("#Customer_IDCardTypeID").data("tDropDownList");
            ddlIDCardType.value(idCardType);

              if($('#Customer_IDCardTypeID').val() == '')
              {              
                     idCardType=@(idCardTypeForNewUser);
                    
                     $('#Customer_IDCardTypeID').val(idCardType);
                    
                    if(idCardType == "1")
                    {                  
                        idCardType="New IC";
                    }
                    else if(idCardType == "2")
                    {
                        idCardType="Passport";
                    }
                    else if(idCardType == "3")
                    {
                        idCardType="Old IC";
                    }
                    else
                    {
                        idCardType="Other ID";
                    } 
               
                ddlIDCardType.value(idCardType);
              }
                       
              if($('#Customer_IDCardNo').val() == ''){
             
                     nric='@(idCardNoForNewUser)';
                     $('#Customer_IDCardNo').val(nric);
              }          
          
            $('#InputIDCardTypeID').val($("#Customer_IDCardTypeID").val());
            $('#InputIDCardNo').val($("#Customer_IDCardNo").val());
            $('#InputNationalityID').val($('#Customer_NationalityID').val());

              var year = nric.substr(0, 2);
              var month = nric.substr(2, 2);
              var day = nric.substr(4, 2);
              var currentYear = (new Date).getFullYear();
              if(currentYear - ("19" + year) <= 100){
                  year = "19" + year;
              }
              else{
                  year = "20" + year;
              }

              var dob = Date.parse(year + "/" + month + "/" + day);

              dob = new Date(dob);
              var dateNow = new Date();
              var age = dateNow.getFullYear() - dob.getFullYear();
              
              if(age < @(minAge) && (@(idCardTypeID) == @(NRICType))){
                  alert("Invalid NRIC! Minimum required @(minAge) years old." );

                  return;
              }

              if ((@(idCardTypeID) == @(NRICType)))
              {
                  $("#DOBDay").val(parseInt(day,10));
                  $("#DOBMonth").val(parseInt(month));
                  $("#DOBYear").val(year);

                  $('#Customer_DateOfBirth').val(month + '/' + day + '/' + year);
              }
              enableordisable();              
        });




               function addExtraTenDiv()
        {
        var index=parseInt($('#hdnExtraTenCount').val())+1;
        var divId = "divExtraTen_"+ index;
        var txtId = "txtExtraTen_" + index ; 
        var delbtnId = "btnDeleteExtraTen_" + index ;
        //$("#divExtraTen").append("<div id='"+divId+"' ><input type='text' id='"+txtId+"' /> <input type='button' value='X' onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");;

        var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        var lblSnoId = "lblSno_" + childDivs.length+1;
        $("#divExtraTen").append("<div class='Controller Row' id='"+divId+"' ><label class='NumL' id='"+lblSnoId+"'>"+(childDivs.length+1)+"</label><input class='TxtBox' type='text' id='"+txtId+"' /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");
        $('#hdnExtraTenCount').val(parseInt(index)+1);
        
        }

       function deleteExtraTen(delbtn)
        {
        var delbtnId=delbtn.id;


         var panel= $("#divExtraTen");
         var childDivs = panel.find("div");

         if(childDivs.length>1)
         {
          $('#'+delbtnId).parent().remove();

         }
        else
        {
        alert("Atleast one mobile number has to be entered for Extra Ten");
        return false;
        }
//        if(parseInt($('#hdnExtraTenCount').val())>1)
//        {
//        $('#'+delbtnId).parent().remove();
//        $('#hdnExtraTenCount').val((parseInt($('#hdnExtraTenCount').val())-1));
//        }
//        else
//        {
//        alert("Atleast one mobile number has to be entered for Extra Ten");
//        return false;
//        }
//        alert($('#hdnExtraTenCount').val());

        ResetSerialNo();
        
        }
         function extraTenWindowOnOpen()
        {
        
        
        
        }
         function ResetSerialNo()
        {
        var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        for(var i=0;i<childDivs.length;i++)
        {
          //alert($('#'+childDivs[i].id).children(':first-child').html());
          var curDivId=childDivs[i].id;
          $('#'+curDivId).children(':first-child').html(i+1)

//           $('#'+curDivId).removeAttr('class');
//           if(i%2==0)
//           {
//            $('#'+curDivId).addClass('Controller AltRow');
//              
//           }
//           else
//           {
//             $('#'+curDivId).addClass('Controller Row');
//           }


        }
        }
function cancelExtraTen()
{

if(confirm("Are you sure you want to cancel Extra Ten"))
{

$('#ExtraTenMobileNumbers').val("");
$('#extraTenWindow').data('tWindow').close();

}

}
        function validateExtraTen()
        {

        var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        var objListMSISDNs="";
        var mobregex = /^60[0-9]{8,10}$/;
        for(var i=0;i<childDivs.length;i++)
        {
        
        var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
         if(txtElement.val() !="")
         {
         if (!mobregex.test(txtElement.val())) 
         {
         alert("Please enter valid MSISDN number");
         return false;
         }
         }

        if(txtElement.val() !="")
        {
         if(objListMSISDNs.indexOf(txtElement.val()) ==-1)
         {
        if(objListMSISDNs!="")
        objListMSISDNs=objListMSISDNs+","+txtElement.val();
        else
        objListMSISDNs=txtElement.val();
          }
        else
         {
         alert("Please enter unique mobile numbers");
         return false;
         }




        }
       


        
        }
        
//         $('#ExtraTenMobileNumbers').val(objListMSISDNs);
//         
////            var url = '@(Url.Content("~/Registration/validateExtraTenMSISDN"))';
////           
////            $.post(url,{arrMSISDNs:objListMSISDNs},function (data) {

////            if(data.toString()=='false')
////            {
////            alert("Please enter valid maxis mobile number");
////            return false;
////            }
////            else   if(data.toString()=='true')
////            {
////              
////              $('#ExtraTenMobileNumbers').val(objListMSISDNs);
////            
////               $('#extraTenWindow').data('tWindow').close();
////            }
////            
////            });

//          

//        $('#extraTenWindow').data('tWindow').close();


//Validation

         var url = '@(Url.Content("~/Registration/validateExtraTenMSISDN"))';
           
            $.post(url,{arrMSISDNs:objListMSISDNs},function (data) {

            if(data.toString()!='')
            {
            alert("Please enter valid maxis mobile number for "+data.toString());
            return false;
            }
            else  if(data.toString()=='')
            {
              
             // $('#ExtraTenMobileNumbers').val(objListMSISDNs);


  var url1 = '@(Url.Content("~/Registration/validateExtraTenMSISDNAgainstAccount"))';
           
            $.post(url1,{arrMSISDNs:objListMSISDNs},function (data) {

            if(data.toString()!='')
            {
            alert("Please renter "+data.toString()+" as these are already part of your account");
            return false;
            }
            else if(data.toString()=='')
            {
              
              $('#ExtraTenMobileNumbers').val(objListMSISDNs);
            
               $('#extraTenWindow').data('tWindow').close();

               
            }
            
            }, "text");
            
              // $('#extraTenWindow').data('tWindow').close();
            }
            
            }, "text");
        
        }


         function ResetSerialNo()
        {
        var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        for(var i=0;i<childDivs.length;i++)
        {
          //alert($('#'+childDivs[i].id).children(':first-child').html());
          var curDivId=childDivs[i].id;
          $('#'+curDivId).children(':first-child').html(i+1)

//           $('#'+curDivId).removeAttr('class');
//           if(i%2==0)
//           {
//            $('#'+curDivId).addClass('Controller AltRow');
//              
//           }
//           else
//           {
//             $('#'+curDivId).addClass('Controller Row');
//           }


        }
        }

        function enableordisable()
        {
//            if($('#Customer_FullName').val() != "")
//            {
//              $('#Customer_FullName').css({"background-color": '#F2F2F2'});
//              $('#Customer_FullName').attr('readonly', true);
//            }
//       
//       if($('#Customer_Gender').attr('checked') != "undefined" && $('#Customer_Gender').attr('checked') == "checked")
//       {
//            $(':radio:not(:checked)').attr('disabled', true);
//       }              
//             if($('#Customer_ContactNo').val() != "")
//            {
//              $('#Customer_ContactNo').css({"background-color": '#FFFFFF'});
//              $('#Customer_ContactNo').attr('readonly', false);
//            }
//                if($('#Customer_AlternateContactNo').val() != "")
//            {
//              $('#Customer_AlternateContactNo').css({"background-color": '#FFFFFF'});
//              $('#Customer_AlternateContactNo').attr('readonly', false);
//            }
//                 if($('#Customer_EmailAddr').val() != "")
//            {
//              $('#Customer_EmailAddr').css({"background-color": '#FFFFFF'});
//              $('#Customer_EmailAddr').attr('readonly', false);
//            }
//                 if($('#Address_Line1').val() != "")
//            {
//              $('#Address_Line1').css({"background-color": '#FFFFFF'});
//              $('#Address_Line1').attr('readonly', false);
//            }
//              if($('#Address_Line2').val() != "")
//            {
//              $('#Address_Line2').css({"background-color": '#FFFFFF'});
//              $('#Address_Line2').attr('readonly', false);
//            }
//             if($('#Address_Line3').val() != "")
//            {
//              $('#Address_Line3').css({"background-color": '#FFFFFF'});
//              $('#Address_Line3').attr('readonly', false);
//            }
//              if($('#Address_Town').val() != "")
//            {
//              $('#Address_Town').css({"background-color": '#FFFFFF'});
//              $('#Address_Town').attr('readonly', false);
//            }
//              if($('#Address_Postcode').val() != "")
//            {
//              $('#Address_Postcode').css({"background-color": '#FFFFFF'});
//              $('#Address_Postcode').attr('readonly', false);
//            }
//               if($('#MalayAdvDeposit').val() >0)
//            {
//              $('#MalayAdvDeposit').css({"background-color": '#F2F2F2'});
//              $('#MalayAdvDeposit').attr('readonly', true);
//            }
//             if($('#OtherAdvDeposit').val() >0)
//            {
//              $('#OtherAdvDeposit').css({"background-color": '#F2F2F2'});
//              $('#OtherAdvDeposit').attr('readonly', true);
//            }
        }

        //        Begin Code added by VLT on 21 Apr 2013
        var selGener="";
        
        $(".gender").click(function(){ 
                    if( $(this).is(":checked") ){ 
                    selGener = $(this).val(); 
                }
            });

        function ValidateICNum()
        {
            var ContactNo=$('#Customer_ContactNo').val();
          $('#rdbMale').attr("checked",true);
            $('#TabNumber').val(6);
           if('@(idCardTypeForNewUser)'==1)
           {
            var ICNum = $('#Customer_IDCardNo').val();
            ICNum=ICNum.toString(); 

            var year=ICNum.substring(0,2);
            var month = 0;
            month = ICNum.substring(2,4);
            var day = ICNum.substring(4,6);
            var gender = ICNum.substring(ICNum.length,ICNum.length-1);

            //var selGener=$('#Customer_Gender').val();
//            if(parseInt(year,10) != parseInt($('#DOBYear').val().substring(2,4)))
//            {                    
//                alert("DOB Year does not match with IC number");
//                return false;
//            }
//            if(parseInt(month,10) != parseInt($('#DOBMonth').val()))
//            //if(month != $('#DOBMonth').val())
//            {   
//                alert("DOB Month does not match with IC number");
//                return false;
//            }
//            if(parseInt(day,10) != parseInt($('#DOBDay').val()))
//            {                    
//                alert("DOB Day does not match with IC number");
//                return false;
//            }
            var IsMale="";
            if(parseInt(gender)%2==0)
            {
                //even Female
                IsMale="F";
                $('#Customer_Gender').val("F");
                 $('#rdbMale').attr("checked",true);
            }
            else
            {
                //Odd //Male
                 $('#Customer_Gender').val("M");
                   $('#rdbFemale').attr("checked",true);
                IsMale="M";
            }
//            if(selGener != "")
//            {
//                if(selGener.toString()!=IsMale)
//                {
//                    alert("Gender is mismatched with IC number");
//                    return false;
//                }
//            }
//            else
//            {
//                selGener = $('#Customer_Gender').val();
//            }
           
            if(ContactNo != "" && ContactNo != "60322331234")
            {
                if(ContactNo.substring(0,2)!="60" || ContactNo.length < 10 || ContactNo.length > 12)
                {
                    alert("Please enter valid Contact Number ");
                    return false;
                }
            }
            }
             var genderVal="";
 $("input[type=radio][name=Customer.Gender]").each(function() {
 if($(this).attr("checked")=="checked")
 {
selGener=$(this).val();
 genderVal = selGener;
 }

 });

 if($("#Customer_CustomerTitleID").data("tDropDownList").value()=="")
 {
 alert("Please Select Title");
 return false;
 }
 if(genderVal=="")
 {
 alert("Please Select Gender");
 return false;
 }
 if($("#Customer_LanguageID").length > 0 && $("#Customer_LanguageID").data("tDropDownList").value()=="")
 {
 alert("Please Select Language");
 return false;
 }
 if($("#Customer_RaceID").data("tDropDownList").value()=="")
 {
 alert("Please Select Race");
 return false;
 }
if($("#Customer_ContactNo").val()=="")
 {
alert("Please Enter Contact No");
 $("#Customer_ContactNo").focus();
 return false;
 }
            return true;
            
        }
//        End Code added by VLT on 21 Apr 2013

        function populateDOB(){
            
            var currentTime = new Date();
            var month = currentTime.getMonth()+1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            
            if($('#DOBDay').val() != '')
            {
                day = $('#DOBDay').val();
            }

            if($('#DOBMonth').val()!='')
            {
                month = $('#DOBMonth').val();
            }

            if($('#DOBYear').val()!='')
            {
                year = $('#DOBYear').val();
            }

            $('#Customer_DateOfBirth').val(month + '/' + day + '/' + year);
        }
        
        function SubmitForm(sequenceNo) {            
            $('#submit1').val(sequenceNo);
            //document.forms['frmPersonalDetails'].submit();
            $("#frmPersonalDetails").submit();
        }

        function paymodeChanged() {
            var paymodeID = 0;

            if($('#Customer_PayModeID').val() == @(autoBillingID)){
                paymodeID = @(autoBillingID)
            }
            setDiv(paymodeID);
        }

        function toUpperCase(txt){
            $(txt).val($(txt).val().toUpperCase());
        }

        function setDiv(paymodeID) {
            if (paymodeID == @(autoBillingID)) { 
                $(".autoBilling").show();
                enableAutoBillingDiv();
            }
            else {
                setDivDefault();
            }
        }

        function setDivDefault() {
            $(".autoBilling").hide();
            disableAutoBillingDiv();
        }

        function enableAutoBillingDiv() {
            $(".autoBilling :input").removeAttr("disabled");
        }

        function disableAutoBillingDiv() {
            $(".autoBilling :input").attr("disabled", true);
        }

        String.prototype.toProperCase = function () {
        return this.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
        };

         function RetrieveMyKadInfo(){
         var stateName = $("#Address_StateID")[0].options[$("#Address_StateID")[0].options.selectedIndex].text;
         var strKenanData="";
         //Code added by VLT ON APRIL 05 2013
         strKenanData+=$('#Customer_FullName').val();
         strKenanData+="╚"+$("#Customer_IDCardTypeID").data("tDropDownList").value();
         strKenanData+="╚"+$('#Customer_IDCardNo').val();
         //strKenanData+="╚"+$('#Customer_NationalityID').val();
         strKenanData+="╚"+$("#Customer_NationalityID").data("tDropDownList").value();
         strKenanData+="╚"+$('#Address_Line1').val();
         strKenanData+="╚"+$('#Address_Line2').val();
         strKenanData+="╚"+$('#Address_Line3').val();
         strKenanData+="╚"+$('#Address_Town').val();
         strKenanData+="╚"+$('#Address_Postcode').val();
         //strKenanData+="╚"+$('#Address_StateID').val();
        // strKenanData+="╚"+$("#Address_StateID").data("tDropDownList").value();
         strKenanData += "╚" + stateName;
         //End of code added by VLT
        
            var icno =$('#Customer_IDCardNo'); 
            var url = '@(Url.Content("~/Registration/RetrieveMyKadInfo"))';
            $.post(url, { icno:icno.val(),strKenanCustomerInfo:strKenanData}, function (data) {
                
                if(data.FingerThumb==null)
                {alert('Biometric check is not performed !');}
                else if(data.FingerThumb==true)
                {
                     //Comparison code by VLT
                     var isValid=CompareData(data,strKenanData);
                     //End Comparison code by VLT
                    
                     if(isValid==false)
                     {
                     if(confirm("Do you want to overwrite the existing data with Biometric data ?")==true)
                     {

                        $('#Customer_FullName').val(data.Name);
                        $('#Customer_IDCardNo').val(data.NewIC);

                        var year = data.DOB.substr(0, 4);
                        var month = data.DOB.substr(5, 2);
                        var day = data.DOB.substr(8, 2);
                        $("#DOBDay").val(parseInt(day,10));
                        $("#DOBMonth").val(parseInt(month));
                        $("#DOBYear").val(year);
                        $('#Customer_DateOfBirth').val(data.DOB);
                    
                        $('#Customer_Gender').val(data.Gender);
                        $("input[id='rdbGender'][value='"+data.Gender+"']").attr("checked", true);
                        //$('#Customer_NationalityID').val(data.Nationality);
                         $("#Customer_NationalityID").data("tDropDownList").text(data.Nationality);
                         //Commented by chetan since we are not geting always MALAYSIAN as nationality
                         //if(data.Nationality=='MALAYSIAN')
                         //{
                         //$('#Customer_LanguageID').val('Malay');
                         //}
                         //else if(data.Nationality!='MALAYSIAN')
                         //{
                         //$('#Customer_LanguageID').val('English');
                         //} 
                         //else 
                         //{
                         //$('#Customer_LanguageID').val(data.Language);
                         //}

                         //if(data.Nationality=='MALAYSIAN')
                         //{
                         //   $('#Customer_RaceID').val('MALAY');
                         //}
                         //else if(data.Nationality!='CHINESE'){
                         //   $('#Customer_RaceID').val('CHINESE');
                         //} 
                         //else {
                         //   $('#Customer_RaceID').val(data.Race);
                         //}                    
                    
                    $('#Address_Line1').val(data.Address1);
                    $('#Address_Line2').val(data.Address2);
                    $('#Address_Postcode').val(data.Postcode);
                    $('#Address_StateID').val(data.State);

                    //Code Added by VLT ON APR 05
                    $('#Address_Town').val(data.City);
                 
                    //                    var combo = $('#Address_StateID').data('tDropDownList');
                    //  
                    ////fill in the combo
                    //$.each(combo.data, function (key, value) {
                    //    if (value.Text.toLowerCase() == data.State.toLowerCase()) {
                    //        combo.select(key);
                    //        
                    //        return;
                    //    }
                    //}); 
                    //CHANGE TO PROPER CASE
                    if(data.State=="W. PERSEKUTUAN(KL)")
                    { 
                        $("#Address_StateID").data("tDropDownList").select(16);
                    }
                    else
                    {
                        var state = data.State.toProperCase();                   
                        //GET THE INSTANCE OF DROPDOWN
                        var comboBox = $("#Address_StateID").data("tDropDownList");
                        //CONVERT FROM JSON
                        var Mydata = $("#Address_StateID").data("tDropDownList").data; 
                        //LOOP THROUGH AND SET MATCHING ONE
                        for (var i=0;i<Mydata.length-1;i++)
                        {                        
                            if(Mydata[i].Text==state)
                            {
                            comboBox.select(i);
                            break;
                            }
                        }
                    }
                   // $("#Address_StateID").data("tDropDownList").text(data.State)
                     $('#Address_Line3').val(data.Address3);
                     //Code Added by VLT ON APR 05

                    //$('#Race').val(data.Religion);
                    //$('#NewIC').val(data.OldIC);
                    //$('#Gender').val(data.Gender);
                    //$('#FullName').val(data.City);
                    //$('#Address2').val(data.Address3);

                    $('#IDCardNoValidate').val(true);
                    $("#failedValiadate").show();
                    }
                    }
                }
                else if(data.FingerThumb==false)
                {alert('Biometric check is performed, but thumb impression not matched !');}
                else
                {alert('Biometric check is not performed !');}
            });
        }
        //Code Added by VLT
           function CompareData(jsnonData,kenanData){
                    //Name
                     if(jsnonData.Name.toUpperCase()!=kenanData.split('╚')[0].toUpperCase())
                     {
                      return false;
                     }
                    
                     //Ic No
                      if(kenanData.split('╚')[1]=="Old IC" && isValid==true)
                     {
                        if(jsnonData.OldIC!=kenanData.split('╚')[2])
                        {
                             return false;
                        }
                     }
                     else if(kenanData.split('╚')[1]=="New IC")
                     {
                         if(jsnonData.NewIC!=kenanData.split('╚')[2])
                        {
                             return false;
                        }
                     }
                     //Nationality
//                     if(jsnonData.Nationality!=kenanData.split('╚')[3])
//                     {
//                          return false;
//                     }

                     //AddressLine1
                     if((jsnonData.Address1 == undefined? "":jsnonData.Address1.toUpperCase()) != kenanData.split('╚')[4].toUpperCase())
                     {
                          return false;
                     }

                      //AddressLine2
                     if((jsnonData.Address2 == undefined? "":jsnonData.Address2.toUpperCase()) != kenanData.split('╚')[5].toUpperCase())
                     {
                          return false;
                     }

                      //AddressLine3
                     if((jsnonData.Address3 == undefined? "":jsnonData.Address3.toUpperCase()) != kenanData.split('╚')[6].toUpperCase())
                     {
                          return false;
                     }
                     //City
                     if((jsnonData.City == undefined? "":jsnonData.City.toUpperCase()) != kenanData.split('╚')[7].toUpperCase())
                     {
                          return false;
                     }

                     //Postal Code
                     if(jsnonData.Postcode!=kenanData.split('╚')[8])
                     {
                          return false;
                     }

                     //State
                     if((jsnonData.State == undefined? "":jsnonData.State.toUpperCase()) != kenanData.split('╚')[9].toUpperCase())
                     {
                          return false;
                     }

                     return true;
           }
        function setGender(rdbGender) {
            var hdfGender = $("#Customer_Gender");
            hdfGender.val($(rdbGender).val());
        }

        function IDCardTypeChanged(){
            $('#Customer_IDCardNo').val('');
        }

         function IDCardTypeonfill(){
             
            if($("#Customer_IDCardTypeID").val() > 0 && $("#Customer_IDCardNo").val() != '')
            {
                if($('#InputIDCardNo').val() == $("#Customer_IDCardNo").val()||$('#InputIDCardNo').val() != $("#Customer_IDCardNo").val() || $('#InputIDCardTypeID').val() != $("#Customer_IDCardTypeID").val()||$('#InputNationalityID').val() != $("#Customer_NationalityID").val() || $('#InputNationalityID').val() != $("#Customer_NationalityID").val())
                {
                    var url = '@(Url.Content("~/Registration/CreditCheck"))';


                     $.ajax({
                type: "POST",
                dataType: "json",
                url: url,
                async: false,
                data: { idCardNo:$("#Customer_IDCardNo").val(), idCardTypeID:$("#Customer_IDCardTypeID").val(),malaysianID: $("#Customer_NationalityID").val()},
                success: function (data) {
                 
                     if(data.isBlacklisted){
                    
                            //$('#divCreditCheckMsg').show();
                            
                            //disable IDCardType and IDCardNo
                            $('#Customer_IDCardNo').css({"background-color": '#F2F2F2'});
                            $('#Customer_IDCardNo').attr('readonly', true);
                            $("#Customer_IDCardTypeID").data("tDropDownList").disable();
                        }
                   else{
                            //$('#divCreditCheckMsg').hide();

                            // show biometrics retrieve button

                            //disable IDCardType and IDCardNo
                            $('#Customer_IDCardNo').css({"background-color": '#F2F2F2'});
                            $('#Customer_IDCardNo').attr('readonly', true);
                            $("#Customer_IDCardTypeID").data("tDropDownList").disable();
                        }                                     
                },
                error: function (err, result, thrownError) {
                            }
            });
          
                    $('#InputIDCardTypeID').val($("#Customer_IDCardTypeID").val());
                    $('#InputIDCardNo').val($("#Customer_IDCardNo").val());
                     $('#InputNationalityID').val($('#Customer_NationalityID').val());

                }
            }        
        }

        $("#Customer_IDCardNo").focusout(function() {
            if($("#Customer_IDCardTypeID").val() > 0 && $("#Customer_IDCardNo").val() != '')
            {
                if($('#InputIDCardNo').val() == $("#Customer_IDCardNo").val()||$('#InputIDCardNo').val() != $("#Customer_IDCardNo").val() || $('#InputIDCardTypeID').val() != $("#Customer_IDCardTypeID").val())
                {
                    var url = '@(Url.Content("~/Registration/CreditCheck"))';
                     $.ajax({
                type: "POST",
                dataType: "json",
                url: url,
                async: false,
                data: { idCardNo:$("#Customer_IDCardNo").val(), idCardTypeID:$("#Customer_IDCardTypeID").val() },
                success: function (data) {
                     if(data.isBlacklisted){
                    
                            //$('#divCreditCheckMsg').show();
                        }
                   else{
                            //$('#divCreditCheckMsg').hide();

                            //disable IDCardType and IDCardNo
                            $('#Customer_IDCardNo').css({"background-color": '#F2F2F2'});
                            $('#Customer_IDCardNo').attr('readonly', true);
                            $("#Customer_IDCardTypeID").data("tDropDownList").disable();                          
                        }                                     
                },
                error: function (err, result, thrownError) {
                alert('error');                }
            });
            /*
                    $.post(url, { idCardNo:$("#Customer_IDCardNo").val(), idCardTypeID:$("#Customer_IDCardTypeID").val() }, function (data) {
                    
                        if(data.isBlacklisted){
                            $('#divCreditCheckMsg').show();
                        }
                        else{
                            $('#divCreditCheckMsg').hide();

                            //disable IDCardType and IDCardNo
                            $('#Customer_IDCardNo').css({"background-color": '#F2F2F2'});
                            $('#Customer_IDCardNo').attr('readonly', true);
                            $("#Customer_IDCardTypeID").data("tDropDownList").disable();
                        }
                        
                    });
 */
                    $('#InputIDCardTypeID').val($("#Customer_IDCardTypeID").val());
                    $('#InputIDCardNo').val($("#Customer_IDCardNo").val());
                    $('#InputNationalityID').val($('#Customer_NationalityID').val());

                }
            }
        });
    </script>
    <script type="text/javascript">
        $(document).keypress(function (e) {
            if (e.keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });
    </script>
}
@section Styles{
    <style type="text/css">
        #pnlPersonalDetails .panel-header
        {
            line-height: 30px;
            text-transform: uppercase;
            color: #7cb44f;
            font-weight: bold;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));
        }
        
        #pnlPersonalDetails .panel-content
        {
            padding: 5px;
            background-color: #f5f5f5;
        }
        
        #pnlPersonalDetails .panel-content fieldset
        {
            border-radius: 5px;
            padding: 0;
            background-color: White;
            border-color: Grey;
        }
        
        #pnlPersonalDetails .panel-content fieldset table
        {
            width: 100%;
        }
        
        #pnlPersonalDetails .panel-content fieldset table td
        {
            padding: 10px;
            border-bottom: 1px solid LightGrey;
        }
        
        #pnlPersonalDetails .panel-content .label
        {
            width: 150px;
            font-weight: bold;
        }
        
        #pnlPersonalDetails .panel-content .last
        {
            border-bottom: none;
        }
        
        .personalDetails-table .td
        {
            vertical-align: top;
        }
    </style>
}
