﻿@using Online.Registration.Web.SubscriberICService;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.CommonEnum;
@using SNT.Utility;
@{
    retrieveAcctListByICResponse AcctListByICResponse = null;
    bool IsExistingUser = false;
    string VIP = string.Empty;
    List<string> ErrorList = new List<string>();
    var fromOutrightPurchase = ViewData["FromOutrightPurchase"].ToBool();
    var biometricResp = (Online.Registration.Web.AMRSvc.RetrieveMyKadInfoRp)Session[SessionKey.BiometricResponse.ToString()];

    if (SessionManager.Get("PPIDInfo") != null)
    {
        AcctListByICResponse = (retrieveAcctListByICResponse)SessionManager.Get("PPIDInfo");
    }
    if (SessionManager.Get("PPID") != null && !string.IsNullOrWhiteSpace(Convert.ToString(SessionManager.Get("PPID"))))
    {
        IsExistingUser = "E".Equals(Convert.ToString(SessionManager.Get("PPID"))) ? true : false;
    }
    if (Session["VIP"] != null && Session["VIP"].ToString2() != string.Empty)
    {
        VIP = Session["VIP"].ToString2();
    }
    ErrorList = WebHelper.Instance.RetrieveErrorMessage();
    var headerLabel = !string.IsNullOrEmpty(ViewData["headerLabel"].ToString2()) ? ViewData["headerLabel"].ToString2() : "New registration:";
    var AcctListByICResponseLists = !ReferenceEquals(AcctListByICResponse, null) && !ReferenceEquals(AcctListByICResponse.itemList, null) ? AcctListByICResponse.itemList.Where(x => x.ServiceInfoResponse != null).ToList() : null;
    var ActiveAccLists = !ReferenceEquals(AcctListByICResponseLists, null) ? AcctListByICResponseLists.Where(x => x.IsActive).ToList() : null;
    bool ShowValidationSession = !ReferenceEquals(ViewData["ShowValidation"], null) ? ViewData["ShowValidation"].ToBool() : true;
 }

<div class="row">
    <div class="col-sm-10">
        <h2 style="padding-left:15px;">
            @headerLabel
        </h2>
        @if (IsExistingUser)
        {
            if (!string.IsNullOrEmpty(VIP))
            {
                if (!ReferenceEquals(AcctListByICResponse, null))
                {
                    if (AcctListByICResponse.itemList.Any(c => c.Account != null))
                    {
                        if (AcctListByICResponse.itemList.Where(c => c.Account != null && c.IsActive).Any())
                        { 
                            <h4 style="padding-left:15px;">@AcctListByICResponse.itemList.Where(c => c.Account != null && c.IsActive).ToList().FirstOrDefault().Account.Holder</h4>
                        }
                    }
                }
            }
            else if (!ReferenceEquals(ActiveAccLists, null) && ActiveAccLists.Any(x => x.Customer != null))
            {
                if (ActiveAccLists.Any(x => x.ServiceInfoResponse.postPreInd == "POST"))
                {
                    <h4 style="padding-left:15px;"><span>@ActiveAccLists.FirstOrDefault(a => a.ServiceInfoResponse.postPreInd == "POST").Customer.Title</span> @ActiveAccLists.FirstOrDefault(x => x.ServiceInfoResponse.postPreInd == "POST").Customer.CustomerName</h4>
                }
                else
                { 
                   <h4 style="padding-left:15px;"><span>@ActiveAccLists.FirstOrDefault().Customer.Title</span> @ActiveAccLists.FirstOrDefault().Customer.CustomerName</h4>
                }
            }
            else
            {
                if (!ReferenceEquals(AcctListByICResponse, null))
                {
                    if (AcctListByICResponse.itemList.Any(c => c.Account != null))
                    {
                        if (AcctListByICResponse.itemList.Where(c => c.Account != null && c.IsActive).Any())
                        { 
                           <h4 style="padding-left:15px;">@AcctListByICResponse.itemList.Where(c => c.Account != null && c.IsActive).ToList().FirstOrDefault().Account.Holder</h4>
                        }
                    }
                }
            }
            @*if (!ReferenceEquals(AcctListByICResponse, null) && AcctListByICResponse.itemList.Any(c => c.Account != null))
            {
                   <h4 style="padding-left:15px;">@AcctListByICResponse.itemList.Where(c => c.Account != null).ToList().FirstOrDefault().Account.Holder</h4>
            }*@
        }
        else
        {
            if (biometricResp != null)
            {
                if (!string.IsNullOrWhiteSpace(biometricResp.Name))
                {
            <h4 style="padding-left: 15px;">@biometricResp.Name</h4>
                }
                else
                {
            <h4 style="padding-left: 15px;">@Constants.NEW_USER_ALIAS</h4>
                }
            }
            else
                {
            <h4 style="padding-left: 15px;">@Constants.NEW_USER_ALIAS</h4>
                }
        }
    </div>
     @*@if (Request.RawUrl != @Url.Content("~/SuppLine/MobileRegSummaryNew") && Request.RawUrl != @Url.Content("~/Registration/MobileRegSummaryNew") && Request.RawUrl != @Url.Content("~/NewLine/MobileRegSummaryNew"))
     {*@
    @if (ShowValidationSession)
    { 
        <div class="col-sm-1">
            @if (!fromOutrightPurchase)
            {
                if (!ErrorList.IsEmpty())
                {             
                <div class="status-red" id="status-red">
                </div>
                <div class="tooltips-error" id="tooltips-error">
                    <h1>
                        Validation Error</h1>
                    <ol class="err-list col-sm-6">
                    @foreach (string ErrorMsg in ErrorList)
                    {
                    <li>@Html.Raw(ErrorMsg)</li>
                    }
                    </ol>
                    <div class="tooltips-arrow">
                    </div>
                </div>
                }
            }
        </div>
    }
     @*}*@
</div>
