﻿@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "_BillDeliveryOptionsPrint";
}

@model Online.Registration.Web.ViewModels.RegistrationFormVM

@if (Model.Registration.billDeliveryViaEmail != null)
{
    <tr>
        <td colspan="4" style="color: Black; font-weight: bolder; font-size: small;">
            Bill Delivery Details :
        </td>
    </tr>

    <tr>
        <td valign="top"><b>Deliver via</b></td>
        <td valign="top">
        @if ((bool)Model.Registration.billDeliveryViaEmail)
        { @Constants.BILLDELIVERY_EMAIL }
        else
        { @Constants.BILLDELIVERY_POST }
        </td>
        <td colspan="2">&nbsp;</td>
    </tr>
}
@if ((bool)Model.Registration.billDeliveryViaEmail && !string.IsNullOrEmpty(Model.Registration.billDeliveryEmailAddress))
{
    <tr>
        <td valign="top"><b>Deliver eBill to</b></td>
        <td valign="top">@Model.Registration.billDeliveryEmailAddress</td>
        <td colspan="2">&nbsp;</td>
    </tr>
}
@if (Model.Registration.billDeliverySmsNotif != null)
{
    <tr>
        <td valign="top"><b>SMS Notification</b></td>
        <td valign="top">
        @if ((bool)Model.Registration.billDeliverySmsNotif)
        { @Constants.OPTION_YES }
        else
        { @Constants.OPTION_NO }
        </td>
        <td colspan="2">&nbsp;</td>
    </tr>
}
@if ((bool)Model.Registration.billDeliverySmsNotif && !string.IsNullOrEmpty(Model.Registration.billDeliverySmsNo))
{
    <tr>
        <td valign="top"><b>Mobile Number</b></td>
        <td valign="top">@Model.Registration.billDeliverySmsNo</td>
        <td colspan="2">&nbsp;</td>
    </tr>
}
<tr>
    <td colspan="4">&nbsp;</td>
</tr>