﻿<div id="eBillNotification" class="font-16" style="background:none;">
Notice:<br />
1. eBill (bill to be sent via your email address) request must be submitted no later than 48 hours before the date of the official bill statement.<br />
2. Request made on or after the date of your official bill statement will be applicable for the following month's official bill statement.<br />
3. No bill will be sent via post. Please perform verification via your email address within 5 days upon eBill service request.<br />
</div>



