﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.SubscriberICService;
@using Online.Registration.Web.CommonEnum;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Controllers;
@using SNT.Utility;
@using Online.Registration.Web.Models;

@model Online.Registration.Web.ViewModels.PersonalDetailsVM
@{
    ViewBag.Title = "_Billing";
    var paymentModeList = Util.GetList(RefType.PaymentMode, defaultValue: "0", selectedValue: "1");
    //paymentModeList = paymentModeList.Where(x => x.Value == "2").ToList();
    var paymentModeIDDirectDebit = paymentModeList[1].Value;
    var paymentModeIDCash = paymentModeList[0].Value;

    //Dropfour session variable
    var dropObj = (DropFourObj)Session[SessionKey.DropFourObj.ToString()];
    var custLib = Model.Liberlization_Status;
    var idCardType = Session["IDCardTypeID"].ToString();

    List<SelectListItem> yearList = new List<SelectListItem>();
    List<SelectListItem> monthList = new List<SelectListItem>();

    int currYear = DateTime.Now.Year;
    int maxYear = 15;

    yearList.Add(new SelectListItem
    {
        Text = "YYYY",
        Value = "YYYY"
    });

    for (int i = 0; i <= maxYear; i++)
    {
        yearList.Add(new SelectListItem
        {
            Text = (i + currYear).ToString(),
            Value = (i + currYear).ToString()
        });
    }

    monthList.Add(new SelectListItem
    {
        Text = "MM",
        Value = "MM"
    });

    for (int i = 1; i <= 12; i++)
    {
        monthList.Add(new SelectListItem
        {
            Text = (i).ToString("0#"),
            Value = (i).ToString("0#")
        });
    }
    var card_Expire = Model.Customer.CardExpiryDate;
    string card_Expire_Months = "";
    string card_Expire_Years = "";
    if (Model.Customer.CardExpiryDate != null){
        if (card_Expire != "")
        {
            card_Expire_Years = Model.Customer.CardExpiryDate.Substring(3, 4);
            card_Expire_Months = Model.Customer.CardExpiryDate.Substring(0, 2);
        }
    }


    // habs - hide direct debit section if direct debit is already set in the account - start

    String currentAccNumber = HttpContext.Current.Session[SessionKey.KenanACNumber.ToString()].ToString2();

    retrieveAcctListByICResponse AcctListByICResponse = null;

    var directDebit = "-100";
    Session["directDebit"] = "-100"; // to be used for existing customer and update tblcustomer later in NewLine & SuppLine

    if (!ReferenceEquals(Session["PPIDInfo"], null))
    {
        AcctListByICResponse = (retrieveAcctListByICResponse)Session["PPIDInfo"];

        if (!ReferenceEquals(AcctListByICResponse, null) && !ReferenceEquals(AcctListByICResponse.itemList, null))
        {
            Items items = AcctListByICResponse.itemList.Where(c => c.Customer != null && c.AcctExtId == currentAccNumber).ToList().FirstOrDefault();

            if (!ReferenceEquals(items, null))
            {
                directDebit = items.AccountDetails.DirectDebit;
                Session["directDebit"] = directDebit; // to be used for existing customer and update tblcustomer later in NewLine & SuppLine
            }
        }

    }

    String directDebitDisabled = "";

    if (directDebit == "1")
    {
        //creditCardDetailsDisplay = "none";
        directDebitDisabled = "disabled='true'";        
    }
    // habs - hide direct debit section if direct debit is already set in the account - end    

    string currentPaymentSelection = directDebit == "1" ? "2" : Model.Customer.PayModeID.ToString2();

    Session["RegMobileReg_paymentModeIDDirectDebit"] = paymentModeIDDirectDebit;
    Session["RegMobileReg_paymentModeIDCash"] = paymentModeIDCash;
}
<div class="col-sm-12 form ">
<div class="row">
    <div class="col-sm-12 border-top">
        <p class="details-title">
            Payment preferences</p>
    </div>
    <div class="col-sm-12 paddingOverall">
    <div class="row">
        <div class="col-sm-4">
            <p class="inner-label">
                Monthly Payment</p>
        </div>
        <div class="col-sm-8">
            <input type="checkbox"  checked="checked" class="form-checkbox directDebit" id="db-card" @directDebitDisabled />
            <label class="stock-label" name="fill-add" for="db-card">Direct debit</label>
            @Html.HiddenFor(model => model.Customer.PayModeID)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 dDebit">
            <p class="inner-label">
                Card used</p>
        </div>
        <div class="col-sm-4 dDebit">
            <input type="checkbox" checked="checked" class="form-checkbox creditCard" data-value="own-credit-card"
                id="db">
            <label class="stock-label" name="fill-add" for="db">
                Own credit card</label>
        </div>
        <div class="col-sm-4 dDebit" id="thirdPartyCard">
            <input type="checkbox" class="form-checkbox creditCard" id="cc" data-value="third-party-credit-card">
            <label class="stock-label" name="fill-add" for="cc">
                Third-party credit card</label>

        </div>

        <input type="hidden" id="hiddenCreditCard" />
    </div>
        <div class="col-sm-4 third-party" >
        </div>
        <div class="col-sm-3 third-party">
            <label class="fileLabel">
                <div class="upload-btn" style="display:none">
                    @Html.TextBoxFor(m => m.thirdPartyFile, new { type = "file", @onchange = "picUpload(this.files[0],'THIRD');", @accept = "image/jpg, image/png, image/gif, image/jpeg, image/bmp, image/tiff;capture=camera" })
                    Upload
                </div>
                <div class="upload-btn" id="btnThirdPartyUpload">
                Upload
                </div>
            </label>
              @if (Model.thirdPartyFile == null)
            {
            <input type="hidden" id="hiddenCreditCardUploadDocument" />
            }
            else
            {
            <input type="hidden" id="hiddenCreditCardUploadDocument" value="uploaded"/>    
            }
            
        </div>
        
        <div class="col-sm-5" id="third-party-upload-files">
            <p class="file-label" id="thirdPartyFileName-container" style="display:none">
                <label id="thirdPartyFileNameLabel"></label>
                <img onclick="clearThirdPartyUpload();" class="removeUploadedDoc" id="btnClearThirdPartyDoc"/> 
            </p>
        </div>

        <div class="clearfix">
        </div>
        <div class="row">
        <div class="col-sm-4 dDebit">
            <p class="inner-label">
                *Cardholder name</p>
        </div>
        <div class="col-sm-8 dDebit">
            <p class="inner-content">
                @Html.TextBoxFor(m => m.Customer.NameOnCard, new { @class = "form-control search-num" })
            </p>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-4 dDebit">
            <p class="inner-label">
                *Card type</p>
        </div>
        <div class="col-sm-3 dDebit">
            <div class="input-group-btn number-type">
                @{
                var cardTypeList = Util.GetList(RefType.CardType, selectedValue : Model.Customer.CardTypeID.ToString());
                }
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby form-dropdown"
                    type="button">

                    @if (Model.Customer.CardExpiryDate == null)
                    {
                        <span id="creditCardTypeSpan">Please Select</span>
                    }
                    else{
                        <span id="creditCardTypeSpan">@cardTypeList[Convert.ToInt32(Model.Customer.CardTypeID)].Text</span>
                    }
                    <span class="drop-arrow"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                @{
                
                    for (var cardIndex = 1; cardIndex < cardTypeList.Count; cardIndex++)
                    {
                        <li><a href="#" class="cardIdItem" data-value='@cardTypeList[cardIndex].Value' data-selected='@cardTypeList[cardIndex].Selected'>@cardTypeList[cardIndex].Text</a></li>
                    }
                }   
                </ul>
                @Html.HiddenFor(model => model.Customer.CardTypeID)
            </div>
        </div>
        <div class="col-sm-1 dDebit">
            <p class="inner-label">
                *Number</p>
        </div>
        <div class="col-sm-4 dDebit">
            <p class="inner-content">

                @if (!ReferenceEquals(dropObj, null) && !ReferenceEquals(dropObj.tempCardNumber, null))
                {
                    
                  @Html.TextBoxFor(m => m.Customer.CardNo, new { @class = "form-control search-num", @Value = dropObj.tempCardNumber })

                }
                else
                {
                      @Html.TextBoxFor(m => m.Customer.CardNo, new { @class = "form-control search-num" })
                }
            </p>
        </div>
        </div>
        <div class="row">
        <div class="col-sm-4 dDebit">
            <p class="inner-label">
                *Expiry date</p>
        </div>
        <div class="col-sm-2 dDebit">
            <div class="input-group-btn number-type">
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby form-dropdown"
                    type="button">
                    @if (string.IsNullOrEmpty(Model.Customer.CardExpiryDate))
                    {
                        <span id="creditCardYearSpan">YYYY</span>
                    }
                    else
                    {
                        <span id="creditCardYearSpan">@card_Expire_Years</span>
                    }
                    <span class="drop-arrow"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    @for (var yearIndex = 1; yearIndex < yearList.Count; yearIndex++)
                    {
                        <li><a href="#" class="yearIdItemCd" data-value='@yearList[yearIndex].Value' data-selected='@yearList[yearIndex].Selected'>@yearList[yearIndex].Text</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-sm-2 dDebit">
            <div class="input-group-btn number-type">
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby form-dropdown"
                    type="button">
                    @if (string.IsNullOrEmpty(Model.Customer.CardExpiryDate))
                    {
                        <span id="creditCardMonthSpan">MM</span>
                    }
                    else
                    {
                        <span id="creditCardMonthSpan">@card_Expire_Months</span>
                    }
                    <span class="drop-arrow"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    @for (var monthIndex = 1; monthIndex < monthList.Count; monthIndex++)
                    {
                        <li><a href="#" class="monthIdItemCd" data-value='@monthList[monthIndex].Value' data-selected='@monthList[monthIndex].Selected'>@monthList[monthIndex].Text</a></li>
                    }
                </ul>
            </div>
        </div>
        @Html.HiddenFor(model => model.Customer.CardExpiryDate)
        <div class="col-sm-4"></div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">

    var monthSelected = false;
    var yearSelected = false;
    var paymentModeIDDirectDebit = '@(paymentModeIDDirectDebit)';
    var paymentModeIDCash = '@(paymentModeIDCash)';
    var isCheckedDirectDebit = true;
    

    function yearChanged() {
        var selectedValue = $('#creditCardYearSpan').text();
        if (selectedValue != 'YYYY') {
            yearSelected = true;
            composeCreditCardExpiryDate();
        }
    }

    function monthChanged() {
        var selectedValue = $('#creditCardMonthSpan').text();
        if (selectedValue != 'MM') {
            monthSelected = true;
            composeCreditCardExpiryDate();
        }
    }

    function composeCreditCardExpiryDate() {
        if (monthSelected && yearSelected) {
            var yearValue = $('#creditCardYearSpan').text();
            var monthValue = $('#creditCardMonthSpan').text();
            $('#Customer_CardExpiryDate').val(monthValue + '/' + yearValue);
        }
    }

    function clearThirdPartyUpload() {
        $('#thirdPartyFileNameLabel').html('');
        $('#thirdPartyFile').val('');
        $('#thirdPartyPhoto').val('');
        $('#thirdPartyFileName').val('');
        $('#thirdPartyFileName-container').css('display', 'none');
    }

    function showThirdParty() {
        $('.third-party').show();
    }

    function hideThirdParty() {
        $('.third-party').hide();
        clearThirdPartyUpload();
    }

    function clearCreditCardButton(index) {
        $('.creditCard').each(function (i, e) {
            if (index != i) {
                $(this).prop('checked', false);
            } else {
                $(this).prop('checked', true);
            }
        });
    }
    //RST

    function hideDirectDebitSection(){

        if( 1 == @directDebit ){

            $('.db-card').prop('checked', true);
            $('.db-card').prop('disabled', true);
            $('#Customer_PayModeID').val(paymentModeIDCash);
            $('.dDebit').hide();
        }

        return;
    }

    function checkCurrentPaymentSelection(){
        if (paymentModeIDCash == @currentPaymentSelection){
            $('#db-card').prop('checked', false);
            $('.dDebit').hide();
            $('#Customer_PayModeID').val(paymentModeIDCash);
        }
    }


    function directdebitautowaive() {
    //debugger;
        var dbcheck = $('#db-card').is(':checked');
        var custlib = '@(custLib)';
        var idcardtype = '@(idCardType)';

        if (dbcheck == false || ((custlib == null || custlib == "" ||custlib == "Not Available") && idcardtype == '2')) {
            //$('#exceptional').prop('checked', false);
            //$('.clsWaiver').prop('checked', false);
            $('.clsDirectDebitWaiver').prop('checked', false);
            $('.clsDirectDebitWaiver').prop('disabled', false);
            $('.clsDirectDebitWaiverHidden').prop('disabled', true);

            @* Habs - fix enable/disable of the waiver checkboxes - start*@
            var check = $('#exceptional').is(':checked');
            checkboxes = document.getElementsByClassName("clsDirectDebitWaiver");

            for (var i in checkboxes) {
                if (check) {
                    //alert("checkclose1: "+checkclose);
                    checkboxes[i].disabled = false;
                } else {
                    //alert("checkclose2: "+checkclose);
                    checkboxes[i].checked = false;
                    checkboxes[i].disabled = true;
                }
            }
            @* Habs - fix enable/disable of the waiver checkboxes - end*@

        }
        else {

            //$('#exceptional').prop('checked', true);
            //$('.clsWaiver').prop('checked', true);
            $('.clsDirectDebitWaiver').prop('checked', true);
            $('.clsDirectDebitWaiver').prop('disabled', true);
            $('.clsDirectDebitWaiverHidden').prop('disabled', false);
        }

    }//end RST

    //initiate click direct debit
    //can be called by other function at standalone supp
    function directdebittrigger(){
        //debugger;
        directdebitautowaive(); //RST
        //isCheckedDirectDebit = !isCheckedDirectDebit;
        isCheckedDirectDebit = $('#db-card').is(':checked');
        if (isCheckedDirectDebit) {
            $('#Customer_PayModeID').val(paymentModeIDDirectDebit);
            $('.dDebit').show();
        } else {
            $('#Customer_PayModeID').val(paymentModeIDCash);
            $('.dDebit').hide();
            clearThirdPartyUpload();
        }
    }

    $(document).ready(function () {

      //called when key is pressed in textbox
      $("#Customer_CardNo").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
         if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
       });

        if ($('#creditCardYearSpan').text() != 'YYYY') {
            yearSelected = true;
        }

        if ($('#creditCardMonthSpan').text() != 'MM') {
            monthSelected = true;
        }


        //$('.dDebit').hide();
        //$('#Customer_PayModeID').val(paymentModeIDCash);
        $('#Customer_PayModeID').val(paymentModeIDDirectDebit);
         checkCurrentPaymentSelection();
        hideDirectDebitSection();
        directdebitautowaive(); //RST

        $('.directDebit').click(function (e) {

            debugger;
            directdebittrigger();
        });



        $('#thirdPartyCard').click(function (e) {
            $('.third-party').show();

        });

        hideThirdParty();
        $('.creditCard').each(function (i, e) {
            $(this).click(function (e) {
                clearCreditCardButton(i);
                var val = $(this).data('value');
                $('#hiddenCreditCard').val(val);
                if (val == 'own-credit-card') {
                    hideThirdParty();
                }
                else {
                    showThirdParty();
                }
            });
        });

        $('.cardIdItem').each(function (i, e) {
            $(this).click(function (e) {
                e.preventDefault();
                $('#Customer_CardTypeID').val($(this).data('value'));
                $('#creditCardTypeSpan').text($(this).text());
            });
        });
        $('.yearIdItemCd').each(function () {
            $(this).click(function (e) {
                e.preventDefault();
                $('#creditCardYearSpan').text($(this).data('value'));
                yearChanged();
            });
        });
        $('.monthIdItemCd').each(function () {
            $(this).click(function (e) {
                e.preventDefault();
                $('#creditCardMonthSpan').text($(this).data('value'));
                monthChanged();
            });
        });
});

</script>
