﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.SubscriberICService;
@using SNT.Utility;
@using Online.Registration.Web.CommonEnum;
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
@{
    bool AddSuppToExistingUser = false;
    var dropObj = (Online.Registration.Web.Models.DropFourObj)Session[Online.Registration.Web.CommonEnum.SessionKey.DropFourObj.ToString()];
    if (dropObj != null)
    {
        if (dropObj.suppIndex > 0)
        {
            AddSuppToExistingUser = true;
        }
    }


    ViewBag.Title = "Address";
    retrieveAcctListByICResponse AcctListByICResponse = null;
    CustomizedCustomer CustomerPersonalInfo = null;
    bool IsExistingUser = false;
    string strState = string.Empty;
    var stateID = 0;
    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        if (!ReferenceEquals(Session["AllServiceDetails"], null))
        {
            var msisdn = Session["ExternalID"].ToString2();
            ///CHECK IF EXISTING USER THEN ONLY RETRIEVE CUSTOMER INFORMATION
            CustomerPersonalInfo = WebHelper.Instance.constructPersonalInformationForView(msisdn);
            if (!ReferenceEquals(CustomerPersonalInfo, null))
            {
                IsExistingUser = true;
            }
        }
    }
    Session["IsExistingUser"] = IsExistingUser;
    string controllerName = ViewData["ControllerName"].ToString();
    bool isDedicatedFlowSupp = Session[SessionKey.DedicatedSuppFlow.ToString()].ToBool();

    //19012015 - Anthony - Fix bug for Back button in Address Section - Start
    if (!ReferenceEquals(Model.Address, null))
    {
        stateID = Model.Address.StateID;
    }
    var state = Util.GetNameByID(RefType.State, stateID);

    //19012015 - Anthony - Fix bug for Back button in Address Section - End
    bool addressTypeNew = Session[SessionKey.IsSuppleNewAccount.ToString()].ToBool();

    bool sharingSuppAdded = Model.sharingSuppAdded;
    string sharingSuppExistingAccountErrorMsg = Model.sharingSuppErrorMsg;
}
<div class="row">
    <div class="col-sm-12 border-top">
        <p class="details-title">
            Billing address</p>
    </div>
    <div class="col-sm-12 ">
        <div class="row">
            <div class="col-sm-12 form paddingOverall">
                    @{
                        if ("SuppLine".Equals(controllerName) && isDedicatedFlowSupp)
                        {
                            string principal_checked = addressTypeNew ? string.Empty : "checked='checked'";
                            string new_checked = addressTypeNew ? "checked='checked'" : string.Empty;
                            
                            if (sharingSuppAdded && !string.IsNullOrEmpty(sharingSuppExistingAccountErrorMsg))
                            {
                                <div class="row">
                                    <div class="col-sm-3">
                                        <input type="checkbox" @principal_checked class="form-checkbox address3" data-value="principal"
                                            id="type-add-3" onclick="return(false);"/>
                                        <label class="stock-label" name="fill-add" for="type-add-3">
                                            Same as principal</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="checkbox" @new_checked class="form-checkbox address3" id="type-add-4" data-value="new" onclick="return(sharingSuppError());"/>
                                        <label class="stock-label" name="fill-add" for="type-add-4">
                                            Add new address</label>
                                    </div>
                                </div>

                            }
                            else
                            { 
                                <div class="row">
                                    <div class="col-sm-3">
                                        <input type="checkbox" @principal_checked class="form-checkbox address" data-value="principal"
                                            id="type-add-1"></input>
                                        <label class="stock-label" name="fill-add" for="type-add-1">
                                            Same as principal</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="checkbox" @new_checked class="form-checkbox address" id="type-add-2" data-value="new" />
                                        <label class="stock-label" name="fill-add" for="type-add-2">
                                            Add new address</label>
                                    </div>
                                </div>
                            }
                        }
                     }
                    @Html.Hidden("addressType")
                
                <div id="principal">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="inner-label">
                                *Address</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="inner-content">
                                @if (CustomerPersonalInfo != null)
                                {
                                    if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address1))
                                    {
                                        //RST BRE CR

                                        //@Html.TextBoxFor(model => model.Address.Line1, new { style = "width:300px", @class = "form-control search-num", @Value = CustomerPersonalInfo.Address1 })
                                        @Html.TextBoxFor(model => model.Address.Line1, new
                                   {
                                       style = "width:300px",
                                       @Value = addressTypeNew ? !string.IsNullOrEmpty(Model.Address.Line1)
                                              ? Model.Address.Line1 : ""
                                              : CustomerPersonalInfo.Address1,
                                       @class = "form-control search-num"
                                   });
                                        //End RST
                                    }
                                    else if (Session["Condition"] != null)
                                    {
                                        if (Session["Condition"].ToString() == "1" || Session["Condition"].ToString() == "2" || Session["Condition"].ToString() == "3" || Session["Condition"].ToString() == "4")
                                        {
                                    @Html.TextBoxFor(model => model.Address.Line1, new { style = "width:300px", @class = "form-control search-num" })
                                        }
                                    }
                                    else
                                    {
                                    @Html.TextBoxFor(model => model.Address.Line1, new { style = "width:300px", @class = "form-control search-num" })
                                    }
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.Address.Line1, new { style = "width:300px", @class = "form-control search-num" })
                                }
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-9">
                            <p class="inner-content">
                                @if (CustomerPersonalInfo != null)
                                {
                                    if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address2))
                                    {
                                        //RST BRE CR
                                        //@Html.TextBoxFor(model => model.Address.Line2, new { style = "width:300px", @class = "form-control search-num", @Value = CustomerPersonalInfo.Address2 })
                                        @Html.TextBoxFor(model => model.Address.Line2, new
                                   {
                                       style = "width:300px",
                                       @Value = addressTypeNew ?
                                                    !string.IsNullOrEmpty(Model.Address.Line2) ? Model.Address.Line2 : ""
                                                :
                                                    !string.IsNullOrEmpty(Model.Address.Line2) ? Model.Address.Line2 : CustomerPersonalInfo.Address2,
                                       @class = "form-control search-num"
                                   });
                                        //End RST
                                    }
                                    else
                                    {
                                    @Html.TextBoxFor(model => model.Address.Line2, new { style = "width:300px", @class = "form-control search-num" })
                                    }
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.Address.Line2, new { style = "width:300px", @class = "form-control search-num" })
                                }
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                @if (CustomerPersonalInfo != null)
                                {
                                    if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address3))
                                    {
                                        //RST BRE CR
                                        //Html.TextBoxFor(model => model.Address.Line3, new { style = "width:300px", @class = "form-control search-num", @Value = CustomerPersonalInfo.Address3 })
                                        @Html.TextBoxFor(model => model.Address.Line3, new
                                   {
                                       @Value = addressTypeNew ?
                                                    !string.IsNullOrEmpty(Model.Address.Line3) ? Model.Address.Line3 : ""
                                              :
                                                    !string.IsNullOrEmpty(Model.Address.Line3) ? Model.Address.Line3 : CustomerPersonalInfo.Address3,
                                       @class = "form-control search-num"
                                   });
                                        //End RST


                                    }
                                    else
                                    {
                                    @Html.TextBoxFor(model => model.Address.Line3, new { style = "width:300px", @class = "form-control search-num" })
                                    }
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.Address.Line3, new { style = "width:300px", @class = "form-control search-num" })
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="inner-label">
                                *Postcode</p>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                @if (CustomerPersonalInfo != null)
                                {
                                    if (!string.IsNullOrEmpty(CustomerPersonalInfo.PostCode))
                                    {
                                        //19012015 - Anthony - Fix bug for Back button in Address Section - Start
                                        @Html.TextBoxFor(model => model.Address.Postcode, new
                                   {
                                       maxlength = 5,
                                       @Value = addressTypeNew ?
                                                    !string.IsNullOrEmpty(Model.Address.Postcode) ? Model.Address.Postcode : "0"
                                               :
                                                    !string.IsNullOrEmpty(Model.Address.Postcode) ? Model.Address.Postcode : CustomerPersonalInfo.PostCode,
                                       @class = "form-control search-num"
                                   });
                                        //Html.TextBoxFor(model => model.Address.Postcode, new { @Value = CustomerPersonalInfo.PostCode, @class = "form-control search-num" });

                                        //19012015 - Anthony - Fix bug for Back button in Address Section - End
                                    }
                                    else if (Session["Condition"] != null)
                                    {
                                        if (Session["Condition"].ToString() == "1" || Session["Condition"].ToString() == "2" || Session["Condition"].ToString() == "3" || Session["Condition"].ToString() == "4")
                                        {
                                    @Html.TextBoxFor(model => model.Address.Postcode, new { maxlength = 5, @Value = "41200", @class = "form-control search-num" });
                                        }
                                    }
                                    else
                                    {
                                    @Html.TextBoxFor(model => model.Address.Postcode, new { maxlength = 5, @class = "form-control search-num" });
                                    }
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.Address.Postcode, new { maxlength = 5, @class = "form-control search-num" });
                                }
                                
                            </div>
                        
                        </div>
                        <div class="col-sm-2">
                            <div id="PostcodeValidationMessage"></div>
                        </div>
                            
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="inner-label">
                                *City</p>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                @if (CustomerPersonalInfo != null)
                                {
                                    if (!string.IsNullOrEmpty(CustomerPersonalInfo.City))
                                    {
                                        //RST BRE CRE
                                        //@Html.TextBoxFor(model => model.Address.Town, new { @Value = CustomerPersonalInfo.City, @class = "form-control search-num" })
                                    @Html.TextBoxFor(model => model.Address.Town, new
                                        {
                                            @Value = addressTypeNew ?
                                                        !string.IsNullOrEmpty(Model.Address.Town) ? Model.Address.Town : ""
                                                    :
                                                        !string.IsNullOrEmpty(Model.Address.Town) ? Model.Address.Town : CustomerPersonalInfo.City,
                                            @class = "form-control search-num"
                                        }
                                    );
                                        //End RST
                                    }
                                    else if (Session["Condition"] != null)
                                    {
                                        if (Session["Condition"].ToString() == "1" || Session["Condition"].ToString() == "2" || Session["Condition"].ToString() == "3" || Session["Condition"].ToString() == "4")
                                        {
                                    @Html.TextBoxFor(model => model.Address.Town, new { @Value = "KLANG", @class = "form-control" })
                                        }
                                    }
                                    else
                                    {
                                    @Html.TextBoxFor(model => model.Address.Town, new { @class = "form-control" })
                                    }
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.Address.Town, new { @class = "form-control" })
                                }
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="inner-label">
                                *State</p>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                
                                @{
                                    var stateDDLList = new List<SelectListItem>();
                                }
                                @if (CustomerPersonalInfo != null)
                                {
                                    if (!string.IsNullOrEmpty(CustomerPersonalInfo.State))
                                    {
                                        //19012015 - Anthony - Fix bug for Back button in Address Section - Start
                                        stateDDLList = Util.GetList(RefType.State, defaultValue: "", selectedValue: IsExistingUser
                                            ? !string.IsNullOrEmpty(state)
                                                    ? state
                                                    : CustomerPersonalInfo.State
                                            : "");
                                        //stateDDLList = Util.GetList(RefType.State, defaultValue: "", selectedValue: IsExistingUser ? CustomerPersonalInfo.State : "");

                                        //19012015 - Anthony - Fix bug for Back button in Address Section - End

                                        strState = IsExistingUser ? CustomerPersonalInfo.State : string.Empty;
                                    }
                                    else if (Session["Condition"] != null)
                                    {
                                        if (Session["Condition"].ToString() == "1" || Session["Condition"].ToString() == "2" || Session["Condition"].ToString() == "3" || Session["Condition"].ToString() == "4")
                                        {
                                            Model.Address.StateID = 2;
                                            stateDDLList = Util.GetList(RefType.State, defaultValue: "", selectedValue: IsExistingUser ? CustomerPersonalInfo.State : "");
                                            strState = IsExistingUser ? CustomerPersonalInfo.State : string.Empty;
                                        }
                                    }
                                    else
                                    {
                                        stateDDLList = Util.GetList(RefType.State, defaultValue: "");
                                    }
                                }
                                else
                                {
                                    stateDDLList = Util.GetList(RefType.State, defaultValue: "", selectedValue: Model.Address.StateID.ToString2());
                                }
                                
                                @{
                                    int state_ID = Model.Address.StateID;
                                    string stateID_text = string.Empty;

                                    if (state_ID == 0)
                                    {
                                        <input id = "AddressState_Txt" type = "text" class = "form-control" value = "" readonly = "readonly"/>
                                        @*Html.TextBoxFor(model => model.Address.StateID, new { @class = "form-control search-num" })*@
                                    }
                                    else
                                    {
                                        stateID_text = stateDDLList.Where(x => x.Value == Model.Address.StateID.ToString2()).FirstOrDefault().Text;
                                        <input id = "AddressState_Txt" type = "text" class = "form-control" value = "@stateID_text" readonly = "readonly"/>
                                    }
                                }
                                
                                @*<input type = "text" id = "Address_State_Txt" class = "form-control search-num" value = "@stateID_text"/> </input>*@
                                @*@Html.TextBoxFor(model => model.Address.StateID, new { @class = "form-control search-num" })*@
                                @Html.HiddenFor(m => m.Address.StateID)
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function clearAddressButton(index) {
        $('.address').each(function (i, e) {
            if (index != i) {
                $(this).prop('checked', false);
            } else {
                $(this).prop('checked', true);
            }
        });
    }

    function emptyAddress() {
        $('#Address_Line1').val('');
        $('#Address_Line2').val('');
        $('#Address_Line3').val('');
        $('#Address_Town').val('');
        $('#Address_StateID').val('');
        $('#Address_Postcode').val('');
        //$('#stateSpan').text('Please Select');
        $('#addressType').val('new-address');
        $('#AddressState_Txt').val('');
        $('#Address_Line1').removeAttr('readonly disabled');
        $('#Address_Line2').removeAttr('readonly disabled');
        $('#Address_Line3').removeAttr('readonly disabled');
        //$('#Address_Town').removeAttr('readonly');
        //$('.form-state').removeAttr('disabled');
        $('#Address_Postcode').removeAttr('readonly disabled');

        $('#Address_Line1').css({ "background-color": '#FFFFFF' });
        $('#Address_Line2').css({ "background-color": '#FFFFFF' });
        $('#Address_Line3').css({ "background-color": '#FFFFFF' });
        //$('#Address_Town').css({ "background-color": '#FFFFFF' });
        //$('.form-state').css({ "background-color": '#FFFFFF' });
        $('#Address_Postcode').css({ "background-color": '#FFFFFF' });
    }

    function resetAddress() {
        @{
            var Address1 = "";
            var Address2 = "";
            var Address3 = "";
            var City = "";
            var State = "";
            var StateId = 0;//19012015 - Anthony - Fix bug for Back button in Address Section
            var PostCode = "";
            var StateId_Txt = "";
            if (CustomerPersonalInfo != null)
            {
                Address1 = CustomerPersonalInfo.Address1;
                Address2 = CustomerPersonalInfo.Address2;
                Address3 = CustomerPersonalInfo.Address3;
                City = CustomerPersonalInfo.City;
                State = CustomerPersonalInfo.State;
                StateId = stateID;//19012015 - Anthony - Fix bug for Back button in Address Section
                PostCode = CustomerPersonalInfo.PostCode;
                StateId_Txt = stateID_text;
            }
        }
        var address1 = '@Address1';
        var address2 = '@Address2';
        var address3 = '@Address3';
        var city = '@City';
        var state = '@State';
        var stateID = '@StateId';
        var postcode = '@PostCode';
        var StateId_Txt = '@StateId_Txt';
        
        $('#Address_Line1').val(address1);
        $('#Address_Line2').val(address2);
        $('#Address_Line3').val(address3);

        $('#Address_Town').val(city);
        
        $('#Address_StateID').val(stateID);
        $('#AddressState_Txt').val(StateId_Txt);
//        $('.stateIdItem').each(function (i, e) {
//            var selectedValue = $(this).data('text');
//            if (selectedValue == state) {
//                $('#stateSpan').text($(this).text());
//            }
//        });

        $('#Address_Postcode').val(postcode);
        $('#addressType').val('principal');

        if('@(IsExistingUser)' == 'True' && '@(controllerName)' != 'Registration')
        {
            $('#Address_Line1').attr('readonly',true);
            $('#Address_Line1').attr('disabled',true);
            $('#Address_Line2').attr('readonly',true);
            $('#Address_Line2').attr('disabled',true);
            $('#Address_Line3').attr('readonly',true);
            $('#Address_Line3').attr('disabled',true);
            $('#Address_Town').attr('readonly',true);
            $('.form-state').attr('disabled',true);
            $('#Address_Postcode').attr('readonly',true);
            $('#Address_Postcode').attr('disabled',true);


            $('#Address_Line1').css({ "background-color": '#F2F2F2' });
            $('#Address_Line2').css({ "background-color": '#F2F2F2' });
            $('#Address_Line3').css({ "background-color": '#F2F2F2' });
            $('#Address_Town').css({ "background-color": '#F2F2F2' });
            $('.form-state').css({ "background-color": '#F2F2F2' });
            $('#Address_Postcode').css({ "background-color": '#F2F2F2' });
        }
        $('#Address_Town').css({ "background-color": '#F2F2F2' });
        $('.form-state').css({ "background-color": '#F2F2F2' });
        $('.form-state').attr('disabled',true);
        $('#Address_Town').attr('readonly',true);
    }

    function sharingSuppError()
    {
        if ( '@sharingSuppAdded' == 'True' && '' != '@sharingSuppExistingAccountErrorMsg')
        {
            $('#Plan_Error').show();
            $('#Plan_Error').html('@sharingSuppExistingAccountErrorMsg');
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        }
    }

    function AutoPopulate() {
        var postcode = $('#Address_Postcode').val();
        var IsReadOnly = $('#Address_Postcode').is('[readonly]');
        
        if (postcode != "" && IsReadOnly.toString() == 'false') {
            var url = '@(Url.Content("~/Home/GenerateStateCityByPostCode"))';
            $.post(url, { postcode: postcode }, function (data) {
            
                    
                if (data.postCode != "") {
                    $("#PostcodeValidationMessage").css("color", "green");
                    $('#PostcodeValidationMessage').text('Valid Postcode');
                    $('#PostcodeValidationMessage').attr('style', 'display: block; color: green');
                    $('#Address_Town').val(data.city);
                    $('#Address_StateID').attr('value',data.stateID);
                    $('#Address_StateID').val(data.stateID);
                    $('#AddressState_Txt').attr('value',data.state);
                    $('#AddressState_Txt').val(data.state);
                }
                else{
                    $("#PostcodeValidationMessage").css("color", "red");
                    $('#PostcodeValidationMessage').text('Invalid Postcode');
                    $('#PostcodeValidationMessage').attr('style', 'display: block; color: red');
                    $('#Address_Town').val('');
                    $('#Address_State_Txt').val('');
                    $('#Address_StateID').attr('value','');
                    $('#Address_StateID').val('');
                    $('#AddressState_Txt').attr('value','');
                    $('#AddressState_Txt').val('');
                }
            });
        }
        $('#ValidatedPostcode').val(postcode);
    }


    $(document).ready(function () {

        $("#Address_Postcode").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
        });

        // disabled city and state
        $('#Address_Town').css({ "background-color": '#F2F2F2' });
        $('#Address_Town').attr('readonly',true);
        $('#Address_StateID').attr('readonly',true);
        $('#Address_StateID').css({ "background-color": '#F2F2F2' });
        if (@state_ID == 0) 
        {
            $('#Address_StateID').attr('value',"");
        }
        $('#PostcodeValidationMessage').attr('readonly',true);
        $('#PostcodeValidationMessage').attr('style', 'display: none');
//        $('.stateIdItem').each(function (i, e) {
//            var selectedValue = $(this).data('selected');
//            if (selectedValue == 'True') {
//                $('#stateSpan').text($(this).text());
//                $('#Address_StateID').val($(this).data('value'));
//            }
//            $(this).click(function (e) {
//                e.preventDefault();
//                $('#stateSpan').text($(this).text());
//                $('#Address_StateID').val($(this).data('value'));
//            });
//        });

        $('.address').each(function (i, e) {
            $(this).click(function (e) {
                clearAddressButton(i);
                var val = $(this).data('value');
                if (val == 'principal') {
                    resetAddress();
                } else {
                    emptyAddress();
                }
                $('#PostcodeValidationMessage').attr('style', 'display: none');
            });
        });

        if( '@IsExistingUser' == 'True' && '@addressTypeNew' != 'True'){
            $('#addressType').val('principal');
        }else{
            $('#addressType').val('new-address');
        }
    
        $('#Address_Postcode').blur(function(){
            AutoPopulate();
            }
        );
        if ($('#Address_Postcode').val() != ""){
            AutoPopulate();
        }
    });

</script>
