﻿@using Online.Registration.Web.SubscriberICService;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Controllers;
@using SNT.Utility;
@using Online.Registration.Web.CommonEnum;
@using Online.Registration.Web.ContentRepository;

@{
IList<Online.Registration.Web.SubscriberICService.PackageModel> packages = null;
if (ViewData["_Package"] != null)
{
    packages = (IList<Online.Registration.Web.SubscriberICService.PackageModel>)ViewData["_Package"];
}
var _ViewID = ViewData["_ViewID"];
var _ExtID = ViewData["_ExtID"];

var lstContractsAll = MasterDataCache.Instance.AllContractList.ToList();
IEnumerable<string> lstContracts = lstContractsAll.Select(c => c.KenanCode);
IEnumerable<string> objAllContracts = lstContractsAll.Select(c => c.KenanCode);

bool hascontracts = false;
bool othercontracts = false;

int contractMonths = 0;

foreach (var contract in packages)
{

    for (int i = 0; i < contract.compList.Count; i++)
    {
        if (lstContracts.Contains(contract.compList[i].componentId))
        {

            DateTime InactDate;
            if (string.IsNullOrEmpty(contract.compList[i].componentInactiveDt))
            {
                DateTime ActiveDate = DateTime.ParseExact(contract.compList[i].componentActiveDt.Substring(0, 8), "yyyyMMdd", System.Globalization.CultureInfo.InvariantCulture);
                contractMonths = lstContractsAll.Where(c => c.KenanCode == contract.compList[i].componentId).Select(cd => cd.Duration).FirstOrDefault();
                //InactDate =
                InactDate = ActiveDate.AddMonths(contractMonths);
            }
            else
            {
                InactDate = DateTime.ParseExact(contract.compList[i].componentInactiveDt.ToString(), "yyyyMMdd", System.Globalization.CultureInfo.InvariantCulture);
            }
            if (DateTime.Compare(InactDate, DateTime.Now) > 0)
            { hascontracts = true; }

        }
        else
        {
            othercontracts = true;
        }


        //For contract check count
        if (objAllContracts.Contains(contract.compList[i].componentId))
        {

            DateTime InactDate;
            if (string.IsNullOrEmpty(contract.compList[i].componentInactiveDt))
            {
                DateTime ActiveDate = DateTime.ParseExact(contract.compList[i].componentActiveDt.Substring(0, 8), "yyyyMMdd", System.Globalization.CultureInfo.InvariantCulture);
                contractMonths = lstContractsAll.Where(c => c.KenanCode == contract.compList[i].componentId).Select(cd => cd.Duration).FirstOrDefault();
                //InactDate =
                InactDate = ActiveDate.AddMonths(contractMonths);
            }
            else
            {
                InactDate = DateTime.ParseExact(contract.compList[i].componentInactiveDt.ToString(), "yyyyMMdd", System.Globalization.CultureInfo.InvariantCulture);
            }
            //if (DateTime.Compare(InactDate, DateTime.Now) > 0)
            //{ //contractCheckCount++; 
            //    //contractcheckflag = true;
            //}

        }

    }
}

<div class="modal fade" id="@_ViewID" tabindex="-1" role="dialog" aria-labelledby="VasComponent" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">Close</button>
            <h4 class="modal-title" id="myModalLabel">Packages / VAS Details (@_ExtID)</h4>
            </div>
            <div class="modal-body">
			@if (!ReferenceEquals(packages, null) && packages.Count > 0)
            {                             
                <h3>
                    Packages</h3>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <div>
        <div style="padding: 10px;">
            <table cellpadding="0" cellspacing="0" class="table table-bordered table-hover">
                <tr>
                    <th>
                        Packages
                    </th>
                    <th width="120px">
                        Activation Date
                    </th>
                </tr>
                @{
                        
                        
    IList<PackageModel> uniqeList1 = packages.GroupBy(a => a.PackageID).Select(a => a.Last()).ToList();

    for (int i = 0; i <= uniqeList1.Count - 1; i++)
    {
        <tr>
            <td>@uniqeList1[i].PackageDesc</td>
            <td>@DateTime.ParseExact(uniqeList1[i].packageActiveDt.Substring(0, 8), "yyyyMMdd", System.Globalization.CultureInfo.InvariantCulture).ToString("dd-MMM-yyyy")</td>
        </tr>
    }
    if (packages.Count == 0)
    {
                    <pre>
<br />No Contracts Available for this User </pre>
                                                                        
    }
                                                    
                }
            </table>
                                                                    

            <table cellpadding="0" cellspacing="0" class="table table-bordered table-hover">
                @if (hascontracts)
                {
                    <tr>
                        <th>
                            Device Contracts
                        </th>
                        <th width="120px">
                            Activation Date
                        </th>
                    </tr>
                                                                      
                    IList<PackageModel> uniqeList2 = packages.GroupBy(a => a.PackageID).Select(a => a.Last()).ToList();
                    foreach (var contract in packages)
                    {

                        for (int i = 0; i < contract.compList.Count; i++)
                        {
                            if (lstContracts.Contains(contract.compList[i].componentId))
                            {
                                DateTime InactDate;
                                if (string.IsNullOrEmpty(contract.compList[i].componentInactiveDt))
                                {
                                    DateTime ActiveDate = DateTime.ParseExact(contract.compList[i].componentActiveDt.Substring(0, 8), "yyyyMMdd", System.Globalization.CultureInfo.InvariantCulture);
                                    contractMonths = lstContractsAll.Where(c => c.KenanCode == contract.compList[i].componentId).Select(cd => cd.Duration).FirstOrDefault();
                                    //InactDate =
                                    InactDate = ActiveDate.AddMonths(contractMonths);
                                }
                                else
                                {
                                    InactDate = DateTime.ParseExact(contract.compList[i].componentInactiveDt.ToString(), "yyyyMMdd", System.Globalization.CultureInfo.InvariantCulture);
                                }
                                if (DateTime.Compare(InactDate, DateTime.Now) > 0)
                                { 
                    <tr>
                        <td>@contract.compList[i].componentDesc
                        </td>
                        <td>@DateTime.ParseExact(contract.compList[i].componentActiveDt.Substring(0, 8), "yyyyMMdd",
System.Globalization.CultureInfo.InvariantCulture).ToString("dd-MMM-yyyy")
                        </td>
                    </tr>
                                                              
                                }

                            }
                        }

                    }
                }</table>
            <table cellpadding="0" cellspacing="0" class="table table-bordered table-hover">
                @if (othercontracts)
                {
                    <tr>
                        <th>
                            VAS Components
                        </th>
                        <th width="120px">
                            Activation Date
                        </th>
                    </tr>
                                                              
                                                                        
                    List<Components> UniqComponents = new List<Components>();
                    foreach (var item1 in packages)
                    {
                        for (int i = 0; i < item1.compList.Count; i++)
                        {
                            UniqComponents.Add(item1.compList[i]);

                        }

                    }
                    UniqComponents = UniqComponents.GroupBy(a => a.componentId).Select(a => a.Last()).ToList();

                    foreach (var item3 in UniqComponents)
                    {
                        if (!lstContracts.Contains(item3.componentId))
                        {
                    <tr>
                        <td>@item3.componentDesc
                        </td>
                        <td>@DateTime.ParseExact(item3.componentActiveDt.Substring(0, 8), "yyyyMMdd",System.Globalization.CultureInfo.InvariantCulture).ToString("dd-MMM-yyyy")
                        </td>
                    </tr>
                                                              
                        }
                    }
                }</table>
                                                                    
        </div>
        <div style="clear: both;">
        </div>
    </div>
            }
            </div>
		</div>
	</div>
</div>

}