﻿@using Online.Registration.Web.Models;
@using Online.Registration.Web.ViewModels
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.CommonEnum;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.OrderSummaryVM
@{
    var prevButton = DeviceSaleSteps.PersonalDetails.ToInt();
    var nextButton = DeviceSaleSteps.CustomerSummary.ToInt();
    var dropObj = (DropFourObj)Session[SessionKey.DropFourObj.ToString()];
    decimal subTotal = 0;
    var viewBagValue = new ViewDataDictionary();
    var GSTnotif = ViewData["GSTnotif"].ToString2();
    var GSTMark = ViewData["GSTMark"].ToString2();
    viewBagValue.Add("GSTMark", GSTMark);
    viewBagValue.Add("FromOutrightPurchase", true);
}

@using (Html.BeginForm("CustomerSummary", "Accessory", FormMethod.Post, new { id = "frmRegSummary", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    @Html.Hidden("TabNumber");
    @Html.Hidden("submit1");
    @Html.HiddenFor(model => model.PersonalDetailsVM.OutletCode)
    @Html.HiddenFor(model => model.PersonalDetailsVM.OutletChannelId)
    @Html.HiddenFor(model => model.PersonalDetailsVM.SalesCode)
    @Html.HiddenFor(model => model.PersonalDetailsVM.SalesStaffCode)
    <div class="container">
        <div class="isell-base">
            @{
                Html.RenderPartial("_AccountHolderName", viewBagValue);
            }
            <div class="row">
                <div class="col-sm-12 green-bg">
                    <p class="font-24">
                        Outright Accessories
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="steps">
                        <li class="shownum">
                            <div class="num">
                                1</div>
                            <p>
                                My Order</p>
                        </li>
                        <li>
                            <div class="line">
                            </div>
                        </li>
                        <li class="shownum">
                            <div class="num">
                                2</div>
                            <p>
                                My Details</p>
                        </li>
                        <li>
                            <div class="line">
                            </div>
                        </li>
                        <li class="shownum">
                            <div class="selected">
                                3</div>
                            <p>
                                Order Summary</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 border-top">
                    <p class="summary-title">
                        Summary</p>
                </div>
            </div>
            <div class="row details">
                <div class="col-sm-6">
                    <div class="col-sm-12 kill-padding">
                        <p class="inner-title">Customer information</p>
                    </div>
                    <div class="col-sm-4 kill-padding">
                        <p class="inner-label">Name</p>
                    </div>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-7 kill-padding">
                        <p class="inner-content">
                            @Util.GetNameByID(RefType.CustomerTitle, Model.PersonalDetailsVM.Customer.CustomerTitleID)  @Model.PersonalDetailsVM.Customer.FullName
                        </p>
                    </div>
                    <div class=" clearfix"></div>
                    <div class="col-sm-4 kill-padding">
                        <p class="inner-label">Identification</p>
                    </div>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-7 kill-padding">
                        <p class="inner-content">
                            @Util.GetNameByID(RefType.IDCardType, Model.PersonalDetailsVM.Customer.IDCardTypeID) @Model.PersonalDetailsVM.Customer.IDCardNo
                        </p>
                    </div>
                    <div class=" clearfix"></div>
                    <div class="col-sm-4 kill-padding">
                        <p class="inner-label">Email</p>
                    </div>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-7 kill-padding">
                        <p class="inner-content">
                            @(!string.IsNullOrEmpty(Model.PersonalDetailsVM.Customer.EmailAddr.ToString2()) ? Model.PersonalDetailsVM.Customer.EmailAddr.ToString2() : "Not Available")
                        <br/>
                        </p>
                    </div>
                    <div class=" clearfix"></div>
                    <div class="col-sm-4 kill-padding">
                        <p class="inner-label">Contact No.</p>
                    </div>
                    <div class="col-sm-1">:</div>
                    <div class="col-sm-7 kill-padding">
                        <p class="inner-content">
                            @Model.PersonalDetailsVM.Customer.ContactNo.ToString2()
                        </p>
                    </div>
                    <div class=" clearfix"></div>
                </div>
                <div class="col-sm-6">
                    <!-- right details -->
                    <div class="col-sm-12 kill-padding">
                        <p class="inner-title">Billing Address</p>
                    </div>
                    <div class="col-sm-4 kill-padding">
                        <p class="inner-label">Primary Line</p>
                    </div>
                    <div class="col-sm-1">
                        <span>:</span>
                    </div>
                    <div class="col-sm-7 kill-padding">
                        <p class="inner-content">
                            @Html.Raw(Model.PersonalDetailsVM.Address.Line1)<br/>
                            @if (!string.IsNullOrEmpty(Model.PersonalDetailsVM.Address.Line2))
                            { 
                            @Html.Raw(Model.PersonalDetailsVM.Address.Line2)<br />
                            }
                            @if (!string.IsNullOrEmpty(Model.PersonalDetailsVM.Address.Line3))
                            { 
                                @Html.Raw(Model.PersonalDetailsVM.Address.Line3)<br />
                            }
                            @Html.Raw(Model.PersonalDetailsVM.Address.Town)<br />
                            @Html.Raw(Model.PersonalDetailsVM.Address.Postcode + " ")
                            @Html.Raw(Util.GetNameByID(RefType.State, Model.PersonalDetailsVM.Address.StateID) + " ")
                            
                        </p>
                    </div>
                    <div class=" clearfix"></div>
                </div>
            </div>
            <br />
            <div class="row border-top">
                <div class="col-sm-6" style="width:70%!important;">
                    <div class="col-sm-10 kill-padding">
                        <p class="inner-title">
                            Order Summary
                        </p>
                    </div>
                    @if (dropObj.mainFlow != null && dropObj.mainFlow.SelectedAccessory != null && dropObj.mainFlow.SelectedAccessory.Count > 0)
                    {
                        <div class="col-sm-4 kill-padding" style="width:23.66667%!important;">
                            <p class="inner-label">
                                Accessories
                            </p>
                        </div>
                        <div class="col-sm-1" style="width:6%!important;">
                            :
                        </div>
                        <div class="col-sm-7 kill-padding" style="width:70%!important">
                            <p class="inner-content">
                                @foreach (var accessory in dropObj.mainFlow.SelectedAccessory)
                                {
                                    var offerAccessory = accessory.offerDetail.Where(x => x.isSelected == true).ToList();
                                    if (offerAccessory != null && offerAccessory.Count > 0)
                                    {
                                        var offerAccessoryPrice = offerAccessory.FirstOrDefault().offerPrice * accessory.quantity;
                                        var attributeName = !string.IsNullOrEmpty(accessory.AttributeName)
                                                                ? " - " + accessory.AttributeName.ToString2()
                                                                : accessory.AttributeName.ToString2();
                            
                                        @(accessory.Name + attributeName + " (" + accessory.quantity + ") (RM" + offerAccessory.FirstOrDefault().offerPrice + ")")
                                    <br />
                                    }
                                }
                            </p>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-sm-12" style="width: 99%;">
                        <ul class="all-orders">                    
                            @if (dropObj.mainFlow.SelectedAccessory != null && dropObj.mainFlow.SelectedAccessory.Count > 0)
                            {
                                var lastRecord = dropObj.mainFlow.SelectedAccessory.Last();
                                
                                foreach (var accessory in dropObj.mainFlow.SelectedAccessory)
                                {
                                    var offerAccessory = accessory.offerDetail.Where(x => x.isSelected == true).ToList();
                                    if (offerAccessory != null && offerAccessory.Count > 0)
                                    {
                                        var offerAccessoryPrice = offerAccessory.FirstOrDefault().offerPrice * accessory.quantity;
                                        subTotal += offerAccessoryPrice;
                                        <li>
                                            <p class="inner-label">
                                                @(accessory.Name) (@accessory.quantity)
                                            </p>
                                
                                            @if (!string.IsNullOrEmpty(accessory.AttributeName.ToString2()))
                                            { 
                                                <p class="inner-content">
                                                    @(accessory.AttributeName)
                                                </p>
                                            }
                                
                                            <p class="inner-content">
                                                @("(RM" + offerAccessoryPrice + ")")
                                            </p>
                                        </li>
                                        
                                        if (accessory != lastRecord)
                                        { 
                                            <li>
                                                <p class="inner-label">+</p>
                                            </li>
                                        }
                                    }
                                }
                            }
                            <li>
                                <span>
                                    <p class="inner-subtotal">SUBTOTAL :</p>
                                    <div class="inner-subtotal">RM <span class="inner-price">@subTotal</span></div>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row border-top">
                <ul class="supplimentary-order">
                    <li>
                        <p class="font-16">@(ViewBag.GSTnotif)</p>
                    </li>
                    <li>
                        <span>
                            <p class="inner-subtotal">TOTAL UPFRONT : RM 
                                <span class="inner-price" id="totalDisplay">@subTotal</span>
                                @(ViewBag.GSTMark)
                            </p>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-sm-12 process-btn">
                    <footer>
                        <navi>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-1" id="back">
									    <div class="btn isell-btn" id="btnNext" onclick="$('#TabNumber').val(@(prevButton));$('#frmRegSummary').submit();">< Back</div>
								    </div>
							        <div class="col-sm-9" id="cancel">
								        <div class="btn isell-btn"  id="btnNext" data-toggle="modal" data-target="#cancel-pop">< Cancel</div>
							        </div>
                                    <div class="col-sm-2">
                                        <div class="btn isell-next" id="btnNextPage" onclick="SubmitRegForm();">Submit <span>></span></div>
                                    </div>
                                </div>
                            </div>
                        </navi>
                    </footer>
                </div>
            </div>
        </div>
    </div>
}