﻿@using Online.Registration.Web.Models;
@using Online.Registration.Web.ViewModels
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.OrderSummaryVM

<div id="center"> 
    @using (Html.BeginForm("CustomerSummary", "Accessory", FormMethod.Post, new { id = "frmRegSummary", @class = "overlayonsubmit", processmsg = "Loading" }))
    {
        <input type="hidden" name="hdnReasonCancel" id="hdnReasonCancel" />
        <input type="hidden" name="submit1" id="submit1" />
        <input type="hidden" name="RegIMEINumber" id="RegIMEINumber" />
        <input type="hidden" name="RegistrationId" id="RegistrationId" value='@Model.PersonalDetailsVM.RegID' />
        <div class="header-title">
            @ViewBag.Title
        </div>
        <div class="row top=border">
            <div class="col-sm-12">
                <p class="font-16 gst-notif">@(ViewBag.GSTnotif)</p>
            </div>
        </div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc;">
                @Html.ValidationSummary(false)
                <div style="display: block;">
                    <div class="summary-title-bar">
                        A. Customer Information
                        @if (Model.PersonalDetailsVM.RegID != 0)
                        {
                            if (Request.Headers["User-Agent"].ToLower().Contains("ipad"))
                            {                     
                            <a href="#" style="text-decoration: none; border: 0;" onclick="DMESAVE()">
                                <img alt="" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                                Print Queue</a>
                                                
                                         
                                var print = "Accessory/PrintAccessoryDetails?id=" + Model.PersonalDetailsVM.RegID + "&status=" + Model.PersonalDetailsVM.StatusID + "";
                            @Html.Partial("_NetworkPrintPartial", print)
                            }
                            else
                            {
                                <a id="printPreviewURL" href="@(Url.Content("~/Accessory/PrintAccessoryDetails?id=" + Model.PersonalDetailsVM.RegID + "&status=" + Model.PersonalDetailsVM.StatusID))" target="_blank" style="text-decoration:none; border:0;" >
                                <img alt="" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                                Print </a>
                                                
                                         
                                var print = "Accessory/PrintAccessoryDetails?id=" + Model.PersonalDetailsVM.RegID + "&status=" + Model.PersonalDetailsVM.StatusID + "";
                            @Html.Partial("_NetworkPrintPartial", print)
                            }
                        }
                    </div>
                    <div style="width: 95%; margin: 0 auto; padding: 20px;">
                        <table align="center">
                            @if (Model.PersonalDetailsVM.RegID != 0)
                            { 
                                <tr valign="top">
                                    <td id="summary-label">@Html.LabelFor(model => Model.PersonalDetailsVM.RegID)
                                    </td>
                                    <td id="summary-seperator">
                                        :
                                    </td>
                                    <td id="summary-data">
                                        @(Model.PersonalDetailsVM.RegID == 0 ? string.Empty : Model.PersonalDetailsVM.RegID.ToString2())
                                    </td>

                                    <td id="summary-label">@Html.LabelFor(model => Model.PersonalDetailsVM.QueueNo)
                                    </td>
                                    <td id="summary-seperator">
                                        :
                                    </td>
                                    <td id="summary-data-nowidth">
                                        @(string.IsNullOrEmpty(Model.PersonalDetailsVM.QueueNo) ? "-" : Model.PersonalDetailsVM.QueueNo)
                                    </td>
                                </tr>
                            }

                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => Model.PersonalDetailsVM.Customer.FullName)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@Util.GetNameByID(RefType.CustomerTitle, Model.PersonalDetailsVM.Customer.CustomerTitleID)
                                    @Model.PersonalDetailsVM.Customer.FullName
                                </td>
                                <td id="summary-label">@Html.LabelFor(model => Model.PersonalDetailsVM.Customer.IDCardNo)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data-nowidth">@Model.PersonalDetailsVM.Customer.IDCardNo
                                </td>
                            </tr>
                            <tr valign="top">
                                <td id="summary-label">
                                    @Html.LabelFor(model => Model.PersonalDetailsVM.Customer.IDCardType)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">
                                    @Util.GetNameByID(RefType.IDCardType, Model.PersonalDetailsVM.Customer.IDCardTypeID)
                                </td>
                                <td id="summary-label">
                                    @Html.LabelFor(model => Model.PersonalDetailsVM.Customer.ContactNo)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data-nowidth">
                                    @if (!string.IsNullOrEmpty(Model.PersonalDetailsVM.Customer.ContactNo.ToString2()))
                                    { 
                                        @Model.PersonalDetailsVM.Customer.ContactNo.ToString2()
                                    }
                                    else
                                    { 
                                        @Model.PersonalDetailsVM.MSISDN1.ToString2();
                                    }
                                </td>
                            </tr>
                            <tr valign="top">
                                <td id="summary-label">
                                    @Html.LabelFor(model => Model.PersonalDetailsVM.Customer.EmailAddr)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data-nowidth">
                                    @if (!string.IsNullOrEmpty(Model.PersonalDetailsVM.Customer.EmailAddr.ToString2()))
                                    { 
                                        @Model.PersonalDetailsVM.Customer.EmailAddr.ToString2()
                                    }
                                    else if (!string.IsNullOrEmpty(Model.PersonalDetailsVM.EmailAddress.ToString2()))
                                    { 
                                        @Model.PersonalDetailsVM.EmailAddress.ToString2();
                                    }
                                    else
                                    { 
                                        @("Not Available")
                                    }
                                </td>
                            </tr>
                            @*<tr valign="top">
                                <td id="summary-label">
                                    @Html.LabelFor(model => Model.PersonalDetailsVM.Customer.DateOfBirth)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">
                                    @if ((Model.PersonalDetailsVM.DOBDay == 0 && Model.PersonalDetailsVM.DOBMonth == 0 && Model.PersonalDetailsVM.DOBYear == 0) || (Model.PersonalDetailsVM.DOBDay == null && Model.PersonalDetailsVM.DOBMonth == null && Model.PersonalDetailsVM.DOBYear == null))
                                    {
                                        if (DateTime.MinValue != Model.PersonalDetailsVM.Customer.DateOfBirth)
                                        {
                                        @Util.FormatDate(Model.PersonalDetailsVM.Customer.DateOfBirth)
                                        }
                                    }
                                    else
                                    {
                                        @Html.Raw(Model.PersonalDetailsVM.DOBDay + "/" + Model.PersonalDetailsVM.DOBMonth + "/" + Model.PersonalDetailsVM.DOBYear)
                                    }
                                </td>
                            </tr>*@
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => Model.PersonalDetailsVM.StatusID)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@Util.GetNameByID(RefType.Status, Model.PersonalDetailsVM.StatusID)
                                </td>
                            </tr>
                            @if (!ReferenceEquals(Model.PersonalDetailsVM.MessageCode, string.Empty))
                            {
                                if (!ReferenceEquals(Model.PersonalDetailsVM.MessageDesc, null))
                                {
                                <tr valign="top">
                                    @if (Model.PersonalDetailsVM.StatusID == 21)
                                    {
                                        <td id="summary-label">@Html.LabelFor(model => Model.PersonalDetailsVM.MessageDesc)
                                        </td>
                                        <td id="summary-seperator">
                                            :
                                        </td>
                                        <td id="summary-data">
                                            <div style="width:150px; word-wrap:break-word;" title="@Model.PersonalDetailsVM.MessageDesc">
                                                @if (@Model.PersonalDetailsVM.MessageDesc.ToString().Length > 45)
                                                {
                                                    @Model.PersonalDetailsVM.MessageDesc.Substring(0, 45) @Html.Raw("..")
                                                }
                                                else
                                                {
                                                    @Model.PersonalDetailsVM.MessageDesc
                                                }</div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td id="summary-label">
                                            <b>@Html.LabelFor(model => Model.PersonalDetailsVM.MessageDesc)</b>
                                        </td>
                                        <td id="summary-seperator">
                                            :
                                        </td>
                                        <td id="summary-data">@Model.PersonalDetailsVM.MessageDesc.Split('|')[0]
                                        </td>
                                    }
                                </tr>
                                }
                            }
                        </table>
                    </div>
                    <div class="summary-title-bar">
                        B. Billing Address
                    </div>
                    <div style="width: 95%; margin: 0 auto; padding: 20px;">
                        <table align="center">
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => Model.PersonalDetailsVM.Address.Line1)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td colspan="4" id="summary-data-nowidth">@Html.Raw(Model.PersonalDetailsVM.Address.Line1)
                                    @if (!string.IsNullOrEmpty(Model.PersonalDetailsVM.Address.Line2))
                                    { 
                                        <br />@Html.Raw(Model.PersonalDetailsVM.Address.Line2)
                                    }
                                    @if (!string.IsNullOrEmpty(Model.PersonalDetailsVM.Address.Line3))
                                    { 
                                        <br />@Html.LabelFor(model => Model.PersonalDetailsVM.Address.Line3)
                                        
                                    }
                                </td>
                            </tr>
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => Model.PersonalDetailsVM.Address.Postcode)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@Html.Raw(Model.PersonalDetailsVM.Address.Postcode)
                                </td>
                                <td id="summary-label">
                                </td>
                                <td id="summary-seperator">
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => Model.PersonalDetailsVM.Address.StateID)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@Html.Raw(Util.GetNameByID(RefType.State, Model.PersonalDetailsVM.Address.StateID))
                                </td>
                                <td id="summary-label" style="white-space:nowrap; ">@Html.LabelFor(model => Model.PersonalDetailsVM.Address.Town)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data-nowidth">@Html.Raw(Model.PersonalDetailsVM.Address.Town)
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="summary-title-bar">
                        C. Other Details
                    </div>
                    <div style="width: 95%; margin: 0 auto; padding: 20px;">
                        <table style="width:100%;">
                            <tr>
                                <td style="width:21%;"></td>
                                <td style="width:1%;"></td>
                                <td></td>
                            </tr>
                            @Html.Partial("_EnterSalesCodes", Model.PersonalDetailsVM)
                        </table>
                    </div>
                </div>
                <div style="clear: both;">
                </div>
            </div>
            @if (Model.PersonalDetailsVM.StatusCode == Settings.Default.Status_ReadyForPayment && Roles.IsUserInRole("MREG_CH"))
            {
                <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
                    <div style="float: right; padding-right: 20px;">
                        <input class="submitButton" type="submit" value="Close" onclick="$('#submit1').val('close');" />
                    </div>
                </div>
            }
        </div>
        @Html.Partial("_footer")
    }
</div>
<div id="right">
    <div id="right-box">
        @{
            var viewBagValue = new ViewDataDictionary();
            viewBagValue.Add("GSTMark", ViewBag.GSTMark);
        }
        @Html.Partial("_OrderSummary", Model, viewBagValue)
    </div>
</div>