﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@using Online.Registration.Web.SubscriberICService;
@using Online.Registration.Web.Models;
@{
    ViewBag.Title = "Customer";
    var idCardTypeID = Model.Customer.IDCardTypeID;

    var minAge = Session["RegMobileReg_ProgramMinAge"].ToInt();
    var NRICType = Util.GetIDCardTypeID(IDCARDTYPE.NRIC);
    var defaultLangID = "1";

    CustomizedCustomer CustomerPersonalInfo = null;
    bool IsExistingUser = false;
    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        if (!ReferenceEquals(Session["AllServiceDetails"], null))
        {
            string processingMSISDN = HttpContext.Current.Session["ExternalID"].ToString2();

            CustomerPersonalInfo = WebHelper.Instance.constructPersonalInformationForView(processingMSISDN);
            if (!ReferenceEquals(CustomerPersonalInfo, null))
            {
                idCardTypeID = WebHelper.Instance.determineIDCardTypeID(CustomerPersonalInfo);
                IsExistingUser = true;
                Session["RegMobileReg_IDCardType"] = idCardTypeID;
            }
        }
    }

    if (CustomerPersonalInfo != null)
    {
        if (!string.IsNullOrEmpty(CustomerPersonalInfo.NewIC) || !string.IsNullOrEmpty(CustomerPersonalInfo.OldIC) || !string.IsNullOrEmpty(CustomerPersonalInfo.OtherIC))
        {
            Model.Customer.NationalityID = 1;
            Model.InputNationalityID = 1;
        }
        else
        {
            Model.Customer.NationalityID = 132;
            Model.InputNationalityID = 132;
        }

    } Model.Customer.LanguageID = 1;
    int quantity;
    //Session["RegMobileReg_PersonalDetailsVM"] = Model;
    string controllerName = ViewData["ControllerName"].ToString();
    var mnpName = Session["MNPName"];
}
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
<div class="col-sm-9 form paddingOverall">
    <div class="row">
        <!-- This is salutation -->
        <div class="col-sm-4">
            <p class="inner-label">
                Salutation</p>
        </div>
        <div class="col-sm-4">

        <div class="input-group-btn number-type">
           @{
               //24022015 - Anthony - to retrieve default value for existing customer - Start
               var customerTitleList = Online.Registration.Web.ContentRepository.MasterDataCache.Instance.CustomerTitle;
               Online.Registration.DAL.Models.CustomerTitle customerTitle = new Online.Registration.DAL.Models.CustomerTitle();

               if (CustomerPersonalInfo != null)
               {
                   if (!string.IsNullOrEmpty(CustomerPersonalInfo.Title))
                   {
                       if (!CustomerPersonalInfo.Title.EndsWith(".") && customerTitleList.CustomerTitles.Where(x => x.Name.ToLower().Equals(CustomerPersonalInfo.Title.ToLower())).Any())
                       {
                           customerTitle = customerTitleList.CustomerTitles.Where(x => x.Name.ToLower().Equals(CustomerPersonalInfo.Title.ToLower())).FirstOrDefault();
                       }
                       else
                       {
                           if (customerTitleList.CustomerTitles.Where(x => x.Name.ToLower().Equals(CustomerPersonalInfo.Title.ToLower())).Any())
                           {
                               customerTitle = customerTitleList.CustomerTitles.Where(x => x.Name.ToLower().Equals(CustomerPersonalInfo.Title.ToLower())).FirstOrDefault();
                           }
                       }

                       if (customerTitle != null)
                       {
                           Model.Customer.CustomerTitleID = customerTitle.ID;
                       }
                   }
               }
               //24022015 - Anthony - to retrieve default value for existing customer - End
               var existingGender = string.Empty;
               var listOfTitles = Util.GetList(RefType.CustomerTitle, defaultValue: IsExistingUser ? CustomerPersonalInfo.CustomerTitleID.ToString2() : "0", selectedValue: IsExistingUser ? CustomerPersonalInfo.CustomerTitleID.ToString2() : "");
               listOfTitles.Remove(listOfTitles.Where(a => a.Text == "-- Please Select --").ToArray()[0]);

               <button data-toggle="dropdown"  class="btn btn-default dropdown-toggle selectby form-dropdown"
                            type="button" id="idTitles" style="height: 44px;">

                         
                             @if (Model.Customer.CustomerTitleID > 0)
                             {
                                 existingGender = customerTitleList.CustomerTitles.Where(x => x.ID == Model.Customer.CustomerTitleID).Select(x => x.ForGender).FirstOrDefault();
                                 // <span id="CustomerTitle">@listOfTitles[Convert.ToInt32(Model.Customer.CustomerTitle)].Text</span><span class="drop-arrow"></span>
                       <span id="CustomerTitle"> @listOfTitles.Where(a => a.Value == (Model.Customer.CustomerTitleID).ToString2()).SingleOrDefault().Text</span><span class="drop-arrow"></span>
                             }





                             else
                             {
                                 
                             <span id="CustomerTitle">Please Select</span><span class="drop-arrow"></span>
                             }
                    
                           
                        </button>
                        <ul class="dropdown-menu" style="height: auto; max-height: 200px; overflow-x: hidden" role="menu" aria-labelledby="dLabel">
                            @for (var index = 0; index < listOfTitles.Count; index++)
                            {
                                var gender = customerTitleList.CustomerTitles.Where(x => x.ID == listOfTitles[index].Value.ToInt()).Select(x => x.ForGender).FirstOrDefault();
                                // var isSelected = Model.Customer.CustomerTitle;
                                <li><a class="CssCustomerTitle" href="#" data-value='@listOfTitles[index].Value' data-for-gender = '@gender' data-selected='@listOfTitles[index].Selected'>@listOfTitles[index].Text</a></li>
                            }
                                
                        </ul>   
           }
                  @Html.HiddenFor(model => model.Customer.CustomerTitleID)
                  @Html.Hidden("customerTitleGender", existingGender)
               }
        </div>
    </div>
        @*<div class="col-sm-8 form-radio">
            @{
                var listOfTitles = Util.GetList(RefType.CustomerTitle, defaultValue: string.Empty, selectedValue: IsExistingUser ? CustomerPersonalInfo.CustomerTitleID.ToString2() : "");
                listOfTitles = listOfTitles.Where(x => x.Value == "1" || x.Value == "2" || x.Value == "7").ToList();

                for (var index = 0; index < listOfTitles.Count; index++)
                {
                    var indexName = "type-form-" + (index + 1).ToString();
                
                <div class="col-sm-3">
                    <input type="checkbox" class="form-checkbox salutation" id='@indexName' data-value='@listOfTitles[index].Value' />
                    <label class="stock-label" name="salutation" for='@indexName'>@listOfTitles[index].Text</label>
                </div>
                }
            }
            @Html.HiddenFor(model => model.Customer.CustomerTitleID)
        </div>*@
    </div>
    <div class="row">
        <!-- This is full name -->
        <div class="col-sm-4">
            <p class="inner-label">
                *Full name as per ID</p>
        </div>
        <div class="col-sm-8">
            <p class="inner-content">
                @if (CustomerPersonalInfo != null)
                {
                    if (CustomerPersonalInfo.CustomerName != null)
                    {
                    @Html.TextBoxFor(model => model.Customer.FullName, new { style = "width:300px", @class = "form-control search-num", @Value = CustomerPersonalInfo.CustomerName })
                    }
                    else
                    {
                    @Html.TextBoxFor(model => model.Customer.FullName, new { style = "width:300px", @class = "form-control search-num" })
                    }
                }
                else if (CustomerPersonalInfo == null && Model != null && Model.Customer != null && Model.Customer.FullName != null)
                {
                      @Html.TextBoxFor(model => model.Customer.FullName, new { style = "width:300px", @class = "form-control search-num" })
                }
                else
                {
                    @Html.TextBoxFor(model => model.Customer.FullName, new { style = "width:300px", @class = "form-control search-num", @Value = mnpName })
                }
            </p>
        </div>
    </div>
    <div class="row">
        <!-- This is identification -->
        <div class="col-sm-4">
            <p class="inner-label">
                *Identification</p>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group-btn number-type">
                        @{
                            List<SelectListItem> idCardTypeList;
                            if (CustomerPersonalInfo != null)
                            {
                                if (idCardTypeID != null && idCardTypeID != 0)
                                {
                                    idCardTypeList = Util.GetList(RefType.IDCardType, defaultValue: "", selectedValue: Convert.ToString(idCardTypeID));
                                }
                                else
                                {
                                    idCardTypeList = Util.GetList(RefType.IDCardType, defaultValue: "");
                                }
                            }
                            else
                            {
                                idCardTypeList = Util.GetList(RefType.IDCardType, defaultValue: "");
                            }    
                        }
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby form-dropdown"
                            type="button" id="idCardButton" style="height: 44px;">
                            <span id="idCardTxt"></span><span class="drop-arrow"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            @for (var index = 0; index < idCardTypeList.Count; index++)
                            {
                                var isSelected = idCardTypeList[index].Selected;
                                <li><a class="idCardTypeItem" href="#" data-value='@idCardTypeList[index].Value' data-selected='@isSelected'>@idCardTypeList[index].Text</a></li>
                            }
                        </ul>
                        @Html.HiddenFor(model => model.Customer.IDCardTypeID)
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="inner-label">
                                Number</p>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                @if (CustomerPersonalInfo != null)
                                {
                                    if (idCardTypeID != null && idCardTypeID != 0)
                                    {
                                        string IDCardNumber = string.Empty;
                                        if (idCardTypeID == 1) { IDCardNumber = (CustomerPersonalInfo.NewIC != null) ? CustomerPersonalInfo.NewIC : CustomerPersonalInfo.OldIC; }
                                        else if (idCardTypeID == 2) { IDCardNumber = CustomerPersonalInfo.PassportNo; }
                                    @Html.TextBoxFor(model => model.Customer.IDCardNo, new { disabled = "disabled", @class = "form-control search-num", @Value = IDCardNumber })
                                    }
                                    else
                                    {
                                    @Html.TextBoxFor(model => model.Customer.IDCardNo, new { @class = "form-control search-num" })
                                    }
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.Customer.IDCardNo, new { @class = "form-control search-num" })
                                }
                                @Html.HiddenFor(model => model.InputIDCardTypeID)
                                @Html.HiddenFor(model => model.InputIDCardNo)
                                @Html.HiddenFor(model => model.InputNationalityID)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Date of birth -->
        <div class="col-sm-4">
            <p class="inner-label">
                *Date of birth</p>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group-btn number-type">
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby form-dropdown form-dob"
                            type="button">
                            <span id="yearSpan">Year</span><span class="drop-arrow"></span></button>
                        @{
                            List<SelectListItem> yearDDLList = new List<SelectListItem>();
                        }
                        @if (CustomerPersonalInfo == null)
                        {
                            yearDDLList = Util.GetYearList(18);
                            <input type="hidden" id="CustDobYear" name="CustDobYear" value='' />
                        }
                        else if (CustomerPersonalInfo != null)
                        {
                            if ((CustomerPersonalInfo.Dob != null) && (CustomerPersonalInfo.Dob != string.Empty) && (CustomerPersonalInfo.Dob.Length >= 4) && (int.TryParse(CustomerPersonalInfo.Dob.Substring(0, 4), out quantity) == true))
                            {
                                yearDDLList = Util.GetYearList(18, selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(0, 4)).ToString());
                            <input type="hidden" id="CustDobYear" name="CustDobYear" value='@CustomerPersonalInfo.Dob.Substring(0, 4).ToString2()' /> 
                            }
                            else
                            {
                                yearDDLList = Util.GetYearList(18);
                            <input type="hidden" id="CustDobYear" name="CustDobYear" value='' />
                            }
                        }
                        <ul class="dropdown-menu" style="height: auto; max-height: 200px; overflow-x: hidden" role="menu" aria-labelledby="dLabel">
                            @for (var yearIndex = 1; yearIndex < yearDDLList.Count; yearIndex++)
                            {
                                <li><a href="#" class="yearIdItem" data-value='@yearDDLList[yearIndex].Value' data-selected='@yearDDLList[yearIndex].Selected'>@yearDDLList[yearIndex].Text</a></li>
                            }
                        </ul>
                        @Html.HiddenFor(model => model.DOBYear)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group-btn number-type">
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby form-dropdown form-dob"
                            type="button">
                            <span id="monthSpan">Month</span><span class="drop-arrow"></span></button>
                        @{
                            List<SelectListItem> monthDDLList = new List<SelectListItem>();
                        }
                        @if (CustomerPersonalInfo == null)
                        {
                            monthDDLList = Util.GetMonthList();
                            <input type="hidden" id="CustDobMon" name="CustDobMon" value='' />
                        }
                        else if (CustomerPersonalInfo != null)
                        {
                            if ((CustomerPersonalInfo.Dob != null) && (CustomerPersonalInfo.Dob != string.Empty) && (CustomerPersonalInfo.Dob.Length >= 6) && (int.TryParse(CustomerPersonalInfo.Dob.Substring(4, 2), out quantity) == true))
                            {
                                monthDDLList = Util.GetMonthList(selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(4, 2)).ToString());
                            <input type="hidden" id="CustDobMon" name="CustDobMon" value='@CustomerPersonalInfo.Dob.Substring(4, 2).ToString2()' />
                            }
                            else
                            {
                                monthDDLList = Util.GetMonthList();
                            <input type="hidden" id="CustDobMon" name="CustDobMon" value='' />
                            }
                        }
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            @for (var monthIndex = 1; monthIndex < monthDDLList.Count; monthIndex++)
                            {
                                <li><a href="#" class="monthIdItem" data-value='@monthDDLList[monthIndex].Value' data-selected='@monthDDLList[monthIndex].Selected'>@monthDDLList[monthIndex].Text</a></li>
                            }
                        </ul>
                        @Html.HiddenFor(model => model.DOBMonth)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group-btn number-type">
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby form-dropdown form-dob"
                            type="button">
                            <span id="daySpan">Day</span><span class="drop-arrow"></span></button>
                        @{
                            List<SelectListItem> dayDDLList = new List<SelectListItem>();
                        }
                        @if (CustomerPersonalInfo == null)
                        {
                            dayDDLList = Util.GetDayList();
                            <input type="hidden" id="CustDobDay" name="CustDobDay" value='' />
                        }
                        else if (CustomerPersonalInfo != null)
                        {
                            if ((CustomerPersonalInfo.Dob != null) && (CustomerPersonalInfo.Dob != string.Empty) && (CustomerPersonalInfo.Dob.Length >= 8) && (int.TryParse(CustomerPersonalInfo.Dob.Substring(6, 2), out quantity) == true))
                            {
                                dayDDLList = Util.GetDayList(selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(6, 2)).ToString());
                            <input type="hidden" id="CustDobDay" name="CustDobDay" value='@CustomerPersonalInfo.Dob.Substring(6, 2).ToString2()' />
                            }
                            else
                            {
                                dayDDLList = Util.GetDayList();
                            <input type="hidden" id="CustDobDay" name="CustDobDay" value='' />
                            }
                        }
                        <ul class="dropdown-menu" style="height: auto; max-height: 200px; overflow-x: hidden" role="menu" aria-labelledby="dLabel">
                            @for (var dayIndex = 1; dayIndex < dayDDLList.Count; dayIndex++)
                            {
                                <li><a href="#" class="dayIdItem" data-value='@dayDDLList[dayIndex].Value' data-selected='@dayDDLList[dayIndex].Selected'>@dayDDLList[dayIndex].Text</a></li>
                            }
                        </ul>
                        @Html.HiddenFor(model => model.DOBDay)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- This is gender -->
        <div class="col-sm-4">
            <p class="inner-label">
                *Gender</p>
        </div>
        <div class="col-sm-8 form-radio">
            <div class="row">
                <div class="col-sm-6">
                    @{
                        bool isMale = false;
                        if (Session["Condition"].ToString2() == "1" || Session["Condition"].ToString2() == "2" || Session["Condition"].ToString2() == "3" || Session["Condition"].ToString2() == "4")
                        {
                            isMale = true;
                        }
                    }
                    <input type="checkbox" class="form-checkbox gender" data-value="M" id="type-gender-1"/>
                    <label class="stock-label" name="gender" for="type-gender-1">
                        Male</label>
                </div>
                <div class="col-sm-6">
                    <input type="checkbox" class="form-checkbox gender" data-value="F" id="type-gender-2"/>
                    <label class="stock-label" name="gender" for="type-gender-2">
                        Female</label>
                </div>
                @Html.HiddenFor(model => model.Customer.Gender)
            </div>
        </div>
    </div>
    <div class="row">
        <!-- This is language -->
        <div class="col-sm-4">
            <p class="inner-label">
                *Prefered language</p>
        </div>
        <div class="col-sm-4">
            <div class="input-group-btn number-type">
                    if (Model.Customer.LanguageID == 1)
                    {
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby form-dropdown form-language" type="button" id="btnLanguage">
                    <span id="languageSpan">English</span><span class="drop-arrow"></span></button>
                }
               @* @{q
                    List<SelectListItem> languageDDLList = Util.GetList(RefType.Language, defaultValue: "English");
                }
                <ul class="btn btn-default dropdown-toggle selectby form-dropdown" aria-labelledby="dLabel">
                    @for (var languageIndex = 1; languageIndex < languageDDLList.Count; languageIndex++)
                    {
                        <li><a href="#" class="languageIdItem" data-value='@languageDDLList[languageIndex].Value' data-selected='@languageDDLList[languageIndex].Selected'>@languageDDLList[languageIndex].Text</a></li>
                    }
                </ul>*@
                @Html.HiddenFor(model => model.Customer.LanguageID)     
            </div>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="row">
        <!-- This is nationality -->
        <div class="col-sm-4">
            <p class="inner-label">
                *Nationality</p>
        </div>
        <div class="col-sm-4">
            <div class="input-group-btn number-type">
                @{
                    if (Model.Customer.NationalityID == 132)
                    {
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby form-dropdown"
                        type="button" id="btnNationality">
                        <span id="nationalitySpan">NonMalaysian</span><span class="drop-arrow"></span></button>
                    }
                    else
                    {
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby form-dropdown"
                        type="button" id="btnNationality">
                        <span id="nationalitySpan">Malaysian</span><span class="drop-arrow"></span></button>
                    }
                    List<SelectListItem> nationalityDDLList = Util.GetList(RefType.Nationality, defaultValue: string.Empty);
                }
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    @for (var nationalityIndex = 1; nationalityIndex < nationalityDDLList.Count; nationalityIndex++)
                    {
                        <li><a href="#" class="nationalityIdItem" data-value='@nationalityDDLList[nationalityIndex].Value' data-selected='@nationalityDDLList[nationalityIndex].Selected'>@nationalityDDLList[nationalityIndex].Text</a></li>
                    }
                </ul>
                @Html.HiddenFor(model => model.Customer.NationalityID)
            </div>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="row"><!-- This is race -->
    <div class="col-sm-4">
        <p class="inner-label">
            *Race</p>
    </div>
    <div class="col-sm-4">
        <div class="input-group-btn number-type">
            @{
                //24022015 - Anthony - to retrieve default value for existing customer - Start
                if (CustomerPersonalInfo != null)
                {
                    if (CustomerPersonalInfo.Races != null && CustomerPersonalInfo.Races != "")
                    {
                        var kenanRaceID = CustomerPersonalInfo.Races.ToInt();
                        Model.Customer.RaceID = Online.Registration.Web.ContentRepository.MasterDataCache.Instance.Race.Races.Where(x => x.KenanCode == kenanRaceID.ToString2()).Select(x => x.ID).FirstOrDefault();
                    }
                }
                //24022015 - Anthony - to retrieve default value for existing customer - End     
            }

            @if (Model.Customer.RaceID != 0)
            {
                string customerRace = Util.GetNameByID(RefType.Race, Model.Customer.RaceID);
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby form-dropdown form-race"
                    type="button">
                    <span id="raceSpan">@customerRace</span><span class="drop-arrow"></span></button>
            }
            else
            {
                     <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby form-dropdown form-race"
                    type="button">
                    <span id="raceSpan">Please Select</span><span class="drop-arrow"></span></button>

            }

            @{
                //roleback customer race, because it should be set in controller
                List<SelectListItem> raceDDLList = Util.GetList(RefType.Race, defaultValue: string.Empty, selectedValue: Model.Customer.RaceID.ToString2());
                    //List<SelectListItem> raceDDLList = Util.GetList(RefType.Race, defaultValue: string.Empty, selectedValue: Model.Customer.RaceID.ToString2(), kenanRaceId: Session["RaceKenanCodeId"].ToString(), defaultSelected: false);
            }
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                @for (var raceIndex = 1; raceIndex < raceDDLList.Count; raceIndex++)
                {
                    <li><a href="#" class="raceIdItem" data-value='@raceDDLList[raceIndex].Value' data-selected='@raceDDLList[raceIndex].Selected'>@raceDDLList[raceIndex].Text</a></li>
                }
            </ul>
            @Html.HiddenFor(model => model.Customer.RaceID)
        </div>
    </div>
    <div class="col-sm-4"></div>
    </div>
    <div class="row"><!-- This is email -->
        <div class="col-sm-4">
            <p class="inner-label">
                Email</p>
        </div>
        <div class="col-sm-4">
            <p class="inner-content">
                @if (CustomerPersonalInfo != null)
                {
                    if (CustomerPersonalInfo.EmailAddrs != null)
                    {
                        @Html.TextBoxFor(model => model.Customer.EmailAddr, new { @class = "form-control search-num", @Value = CustomerPersonalInfo.EmailAddrs })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.Customer.EmailAddr, new { @class = "form-control search-num" })
                    }
                }
                else
                {
                    @Html.TextBoxFor(model => model.Customer.EmailAddr, new { @class = "form-control search-num" })
                }
            </p>
        </div>
        <div class="col-sm-4" id="email-validation-container">&nbsp;</div>
    </div>
    <div class="row"><!-- This is contact number -->
    <div class="col-sm-4">
        <p class="inner-label">
            *Contact number</p>
    </div>
    <div class="col-sm-4">
        <p class="inner-content" id="txtContactN">
            @if (CustomerPersonalInfo != null)
            {
                if (!string.IsNullOrEmpty(CustomerPersonalInfo.Cbr))
                {
                    if (CustomerPersonalInfo.Cbr.Length > 0)
                    {
                        CustomerPersonalInfo.Cbr = @Util.FormatContactNumber(CustomerPersonalInfo.Cbr);
                    }
                @Html.TextBoxFor(model => model.Customer.ContactNo, new { @Value = CustomerPersonalInfo.Cbr.Replace("-", ""), maxlength = 12, @class = "form-control search-num" })
                }
                else
                {
                @Html.TextBoxFor(model => model.Customer.ContactNo, new { maxlength = 12, @class = "form-control search-num" })      
                }
            }
            else
            {
                @Html.TextBoxFor(model => model.Customer.ContactNo, new { maxlength = 12, @class = "form-control search-num" })
            }
            @Html.HiddenFor(model => model.InputContactNo)
        </p>
    </div>
    <div class="col-sm-4"></div>
    </div>
    <div class="row"><!-- This is alternative number -->
    <div class="col-sm-4">
        <p class="inner-label">
            Alternative number</p>
    </div>
    <div class="col-sm-4">
        <p class="inner-content">
            @Html.TextBoxFor(model => model.Customer.AlternateContactNo, new { maxlength = 12, @class = "form-control search-num" })
        </p>
    </div>
    <div class="col-sm-4"></div>
    </div>
</div>
<script type="text/javascript">

    function clearSalutationButton(index) {
        $('.salutation').each(function (i, e) {
            if (index != i) {
                $(this).prop('checked', false);
            } else {
                $(this).prop('checked', true);
            }
        });
    }

    function clearGenderButton(index) {
        $('.gender').each(function (i, e) {
            if (index != i) {
                $(this).prop('checked', false);
            } else {
                $(this).prop('checked', true);
            }
        });
    }

    function setSalutationValue(value) {
        $('#Customer_CustomerTitleID').val(value);
    }

    function setGenderValue(value) {
        $('#Customer_Gender').val(value);
    }

    $(document).ready(function () {
        ////        $('.salutation').each(function (i, e) {
        ////            var dataValue = $(this).data('value');
        ////            if (i == 0) {
        ////                setSalutationValue(dataValue);
        ////                $(this).prop('checked', true);
        ////            }

        ////            $(this).click(function (e) {
        ////                clearSalutationButton(i);
        ////                setSalutationValue(dataValue);
        ////            });
        ////        });


        $('.CssCustomerTitle').each(function (i, e) {

            $(this).click(function (e) {

                // e.preventDefault();
                var selectedValue = $(this).data('selected');
                var selectedCustID = $(this).data('value');
                var forGender = $(this).data('for-gender');
                setSalutationValue(selectedCustID);
                if (selectedValue == 'False') {
                    // $("CustomerTitle").text($(this).text());
                    $('#CustomerTitle').text($(this).text());
                    $('#customerTitleGender').val(forGender);
                    validateTitleAndGender();
                }
            });
        });

        $('.idCardTypeItem').each(function (i, e) {
            var selectedValue = $(this).data('selected');
            if (selectedValue == 'True') {
                $('#idCardTxt').text($(this).text());
            }
        });

        $('.yearIdItem').each(function (i, e) {


            var selectedValue = $(this).data('selected');
            if (selectedValue == 'True') {
                $('#yearSpan').text($(this).text());
                $('#DOBYear').val($(this).data('value'));
            }
            $(this).click(function (e) {
                e.preventDefault();
                $('#yearSpan').text($(this).text());
                $('#DOBYear').val($(this).data('value'));
            });
        });

        $('.monthIdItem').each(function (i, e) {
            var selectedValue = $(this).data('selected');
            if (selectedValue == 'True') {
                $('#monthSpan').text($(this).text());
                $('#DOBMonth').val($(this).data('value'));
            }
            $(this).click(function (e) {
                e.preventDefault();
                $('#monthSpan').text($(this).text());
                $('#DOBMonth').val($(this).data('value'));
            });
        });

        $('.dayIdItem').each(function (i, e) {
            var selectedValue = $(this).data('selected');
            if (selectedValue == 'True') {
                $('#daySpan').text($(this).text());
                $('#DOBDay').val($(this).data('value'));
            }
            $(this).click(function (e) {
                e.preventDefault();
                $('#daySpan').text($(this).text());
                $('#DOBDay').val($(this).data('value'));
            });
        });
        debugger;
        $('.gender').each(function (i, e) {
            debugger;
            var dataValue = $(this).data('value');
            if ('@isMale' == 'True') {
                setGenderValue(dataValue);
                $(this).prop('checked', true);
            }

            $(this).click(function (e) {
                clearGenderButton(i);
                setGenderValue(dataValue);
                validateTitleAndGender();
            });
        });

        $('.languageIdItem').each(function (i, e) {
            var selectedValue = $(this).data('selected');
            if (selectedValue == 'True') {
                $('#languageSpan').text($(this).text());
                $('#Customer_LanguageID').val($(this).data('value'));
            }
            $(this).click(function (e) {
                e.preventDefault();
                $('#languageSpan').text($(this).text());
                $('#Customer_LanguageID').val($(this).data('value'));
            });
        });

        $('.nationalityIdItem').each(function (i, e) {
            var selectedValue = $(this).data('selected');
            if (selectedValue == 'True') {
                $('#nationalitySpan').text($(this).text());
                $('#Customer_NationalityID').val($(this).data('value'));
            }
            $(this).click(function (e) {
                e.preventDefault();
                $('#nationalitySpan').text($(this).text());
                $('#Customer_NationalityID').val($(this).data('value'));
            });
        });

        $('.raceIdItem').each(function (i, e) {
            var selectedValue = $(this).data('selected');
            if (selectedValue == 'True') {
                $('#raceSpan').text($(this).text());
                $('#Customer_RaceID').val($(this).data('value'));
            }
            $(this).click(function (e) {
                e.preventDefault();
                $('#raceSpan').text($(this).text());
                $('#Customer_RaceID').val($(this).data('value'));
            });
        });

        function validateTitleAndGender() {
            var genderFromTitle = $('#customerTitleGender').val();
            var genderFromGender = $('#Customer_Gender').val();

            if (genderFromTitle != "" && genderFromTitle != "Y" && genderFromGender != "") {
                if (genderFromTitle != genderFromGender) {
                    $('#Plan_Error').show();
                    $('#Plan_Error').html("Salutation does not match with gender");
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                }
                else {
                    $('#Plan_Error').html("");
                    $('#Plan_Error').hide();
                }
            }
            else {
                $('#Plan_Error').html("");
                $('#Plan_Error').hide();
            }
        }
    });
</script>
