﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.Models;
@using Online.Registration.Web.CommonEnum;
@using Online.Registration.DAL.Models;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.SubscriberICService;
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
@{
    var isDealer = Util.SessionAccess.User.isDealer;
    string dealerCodeLabel = string.Empty;
    string salescodelabel = string.Empty;
    string staffCodelabel = string.Empty;
    string containerStyle = string.Empty;
    string wrapperStyle = string.Empty;
    string headerStyle = string.Empty;
    string labelStyle = string.Empty;
    bool isOldSkin = ViewData["IsOldSkin"].ToBool();
    string rootClass = string.Empty;
    string autoPopulateOnBehalfSalesAgent = HttpContext.Current.Session[SessionKey.CDPU_onBehalf.ToString()].ToString2();
    var SalesStoreCode = String.Empty;
    
    if (isOldSkin)
    {
        if (Model.RegID > 0)
        {
            dealerCodeLabel = isDealer ? "Dealer Outlet Code" : "Sales Code - Dealer Outlet";
            salescodelabel = isDealer ? "Dealer Sales Code" : "Sales Code - On Behalf";
            staffCodelabel = isDealer ? "Sales Staff Code" : " Sales Staff Code";
        }
        else
        {
            dealerCodeLabel = isDealer ? "Dealer Outlet Code *" : "Sales Code - Dealer Outlet *";
            salescodelabel = isDealer ? "Dealer Sales Code *" : "Sales Code - On Behalf *";
            staffCodelabel = isDealer ? "Sales Staff Code" : " Sales Staff Code *";
        }

        wrapperStyle = "class='col-sm-8'";
        headerStyle = "class='col-sm-12' style='font-family:frutigerblack;font-weight:normal;font-size:18px;color:#57575b'";
        labelStyle = "id='summary-label' style='width:300px;'";
    }
    else
    {
        if (Model.RegID > 0)
        {
            dealerCodeLabel = isDealer ? "Dealer Outlet Code" : "Sales Code - Dealer Outlet";
            salescodelabel = isDealer ? "Dealer Sales Code" : "Sales Code - On Behalf";
            staffCodelabel = isDealer ? "Sales Staff Code" : "Sales Staff Code";
        }
        else 
        {
            dealerCodeLabel = isDealer ? "*Dealer Outlet Code" : "*Sales Code - Dealer Outlet";
            salescodelabel = isDealer ? "*Dealer Sales Code" : "*Sales Code - On Behalf";
            staffCodelabel = isDealer ? "Sales Staff Code" : "*Sales Staff Code";
        }

        wrapperStyle = "class='col-sm-12 form'";
        headerStyle = "class='details-title' style='height:5px;margin-top:19px;'";
        labelStyle = "class='inner-label' style='width:300px;'";

        rootClass = "class='row border-top' style='padding-left:12px'";
    }        
    
    
    if(!isDealer) 
    {
        rootClass = "style='display:none;'";
    }
    }
@if (!isDealer || Model.RegID == 0)
{
    if (Model.RegAttributes != null && Model.RegID > 0)
    {
        if (!string.IsNullOrEmpty(Model.OutletCode))
        { 
            <tr>
                <td id="summary-label">
                    @dealerCodeLabel
                </td>
                <td id="summary-separator">
                    :
                </td>
                <td id="summary-data">
                    @*if (!ReferenceEquals(Model.Registration, null) && !ReferenceEquals(Model.Registration.CenterOrg, null))
                    {
                        @Html.Raw(!String.IsNullOrEmpty(Model.Registration.CenterOrg.Name) ?
                        (Model.Registration.CenterOrg.Name + " " + (!String.IsNullOrEmpty(Model.Registration.CenterOrg.DealerCode) ? "(" + Model.Registration.CenterOrg.DealerCode + ")" : String.Empty))
                        : !String.IsNullOrEmpty(Model.Registration.CenterOrg.DealerCode) ? Model.Registration.CenterOrg.DealerCode : String.Empty);
                    }
                    else
                    {
                        @Html.Raw(String.Empty);
                    }*@
                    @Html.Raw(Model.OutletCode)
                </td>
            </tr>
        }

        if (!string.IsNullOrEmpty(Model.SalesCode))
        { 
            <tr>
                <td id="summary-label">
                    @staffCodelabel
                </td>
                <td id="summary-separator" style = "width: 40px">
                    :
                </td>
                <td id="summary-data">
                    @*if ((!ReferenceEquals(Model.RegAttributes, null) && 
                        WebHelper.Instance.InitiateSalesCode(ref SalesStoreCode, Model.RegAttributes, RegAttributes.ATTRIB_KENAN_SALESSTAFFCODE.ToString2())) || 
                        !ReferenceEquals(Model.Registration, null))
                    {
                        @Html.Raw(!ReferenceEquals(Model.Registration, null) && !String.IsNullOrEmpty(Model.Registration.SalesPerson) && !String.IsNullOrEmpty(SalesStoreCode) ? 
                        (Model.Registration.SalesPerson + " (" + SalesStoreCode + ")") : (!ReferenceEquals(Model.Registration, null) && !String.IsNullOrEmpty(Model.Registration.SalesPerson) ? 
                        Model.Registration.SalesPerson : SalesStoreCode));
                    }
                    else
                    {
                        @Html.Raw(String.Empty);
                    }
                    @(SalesStoreCode = String.Empty)*@
                    @Html.Raw(Model.SalesCode)
                </td>
            </tr>
        }
    }
    else
    {
        <div @Html.Raw(rootClass)>
            <div @Html.Raw(headerStyle)>Please enter the following</div>
            <div @Html.Raw(wrapperStyle)>
                <table>
                    <tr>
                        <td @Html.Raw(labelStyle)>@dealerCodeLabel</td>
                        <td>
                        @if (isDealer == true)
                        {
                            @Html.TextBoxFor(model => model.OutletCode, new { maxlength = 12, @class = "form-control search-num", @readonly = "readonly", Style = "background:#eee; margin-top: 5px; min-width: 155px;" })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.OutletCode, new { maxlength = 12, @class = "form-control search-num", @readonly = "readonly", Style = "background:#eee; margin-top: 5px; min-width: 155px;" })
                        }
                        </td>
                    </tr>
                    @if (isDealer == true)
                    {
                    <tr>
                        <td @Html.Raw(labelStyle)>@salescodelabel</td>

                        @if (!string.IsNullOrWhiteSpace(autoPopulateOnBehalfSalesAgent))
                        {
                            <td>
                                @Html.TextBoxFor(model => model.SalesCode, new { maxlength = 12, @class = "form-control search-num", @readonly = "readonly", Style = "background:#eee; margin-top: 5px;" })
                            </td>
                        }
                        else
                        { 
                            <td>
                                @Html.TextBoxFor(model => model.SalesCode, new { maxlength = 12, @class = "form-control search-num", Style = "margin-top: 5px;" })
                            </td>
                        }
                
                    </tr>
                    }
                    else
                    {
                    <tr style="display:none">
                        <td @Html.Raw(labelStyle)>@salescodelabel</td>
                        <td>
                            @Html.TextBoxFor(model => model.SalesCode, new { maxlength = 12, @class = "form-control search-num", Style = "margin-top: 5px;display: none; min-width: 155px;" })
                        </td>
                    </tr>
                    }
                    <tr>
                        <td @Html.Raw(labelStyle)>@staffCodelabel</td>
                        <td>
                        @if (isDealer == true)
                        {
                            @Html.TextBoxFor(model => model.SalesStaffCode, new { maxlength = 12, @class = "form-control search-num", Style = "margin-top: 5px; min-width: 155px;" })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.SalesStaffCode, new { maxlength = 12, @class = "form-control search-num", @readonly = "readonly", Style = "background:#eee;margin-top: 5px; min-width: 155px;" })
                        }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>    
                    </tr>
                </table>
            </div>
        </div>
    }
}

<script type="text/javascript">

    $(document).ready(function () {

        $('#OutletCode, #SalesCode, #SalesStaffCode').keypress(function (e) {
            var key = window.event ? e.keyCode : e.which;
            var keychar = String.fromCharCode(key);
            var reg = /^[A-Za-z0-9 .\b]+$/;
            if (key == 8) {
                keychar = String.fromCharCode(key);
            }
            if (key == 13) {
                key = 8;
                keychar = String.fromCharCode(key);
            }
            return reg.test(keychar);

        });


    });

    function ValidateSalesCode()
    {
        if ($("#OutletCode").val() == '')
        {
            if ('@isDealer' == 'True') {
                $('#Plan_Error').html("Please Enter the Dealer Outlet Code");
            }
            else {
                $('#Plan_Error').html("Please Enter the Sales Code - Dealer Outlet");
            }
            $("#Plan_Error").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            $("#OutletCode").focus();
            return false;
        }

        if($("#SalesCode").val() == '')
        {
            if ('@isDealer' == 'True') {
                $('#Plan_Error').html("Please Enter the Dealer Sales Code");
            }
            else {
                $('#Plan_Error').html("Please Enter the Sales Code - On Behalf");
            }
            $("#Plan_Error").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            $("#SalesCode").focus();
            return false;
        }

        if ($("#SalesStaffCode").val() == '')
        {
            if ('@isDealer' != 'True') {
                $('#Plan_Error').html("Please Enter the Sales Staff Code");
                $("#Plan_Error").show();
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $("#SalesStaffCode").focus();
                return false;
            }
        }

        return true;
    }
</script>
