﻿ @{
     var extraTenCount = 0;

 <div class="modal fade" id="extraTen-pop" tabindex="-1" role="dialog" aria-labelledby="plan-details"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content cancel-step">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span class="close-btn">Close</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="sm-col-12">
                            Extra Ten</div>
                        <div class="ErrorClass" style="display: block;" id="ExtratenPlan_Error">
                        </div>
                        <div id="divExtraTen">
                            @for (int i = 0; i < 10; i++)
                            {

                                var divId = "divExtraTen_" + i;
                                var txtId = "txtExtraTen_" + i;
                                var delbtnId = "btnDeleteExtraTen_" + i;

                                var lblSnoId = "lblSno_" + i;

                                extraTenCount++;
                    
                                <div id='@divId' style="padding-bottom:10px;" >
                                    <span style="width: 20px; display: inline-block; text-align: center;">@extraTenCount.ToString()</span>
                                    <input class="TxtBox" type="text" id=@txtId tabindex="1" />
                                    <input class="DelBtn" style="display:none;" type="button" onclick='deleteExtraTen(this);' id=@delbtnId value="" />
                                </div>
                    
                            }
                        </div>
                        <div class="Controller" style="display: none;">
                            <input type="button" class="AddMoreBtn" id="btnAddMore" tabindex="1" onclick="addExtraTenDiv();"
                                value="" />
                        </div>
                        <ul class="sm-col-12 kill-padding">
                            <a href="#" class="pop-btn">
                                <li class="sm-col-6" id="btnSaveExtraTen" onclick="return validateExtraTen();">Save
                                </li>
                            </a><a href="#" class="pop-btn">
                                <li class="sm-col-6" onclick="cancelExtraTen();" id="btnCancelExtraTen">Cancel </li>
                            </a>
                        </ul>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
   }