﻿@model Online.Registration.Web.ViewModels.PersonalDetailsVM

@{
    var accIndex = 1;
    var hasSerializeAccessory = false;
    var hasSerialNumber = false;
    @Html.Hidden("serialNumberVault")
    @Html.Hidden("serialNumberAndIDVault")
	<table width="100%">
		<tr>
			<td colspan="6">
				<div id="divAccessoryError" class="ErrorClass"></div>
			</td>
		</tr>
		<tr>
			<td width="40px">
				<label>No</label>
			</td>
			<td width="80px">
				<label>Article ID</label>
			</td>
			<td width="100px">
				<label>EAN Code</label>
			</td>
			<td width="220px">
				<label>Name</label>
			</td>
			<td width="145px">
				<label>Serial No.</label>
			</td>
			<td width="235px">
				&nbsp;
			</td>
		</tr>
					
		@foreach (var regAccessories in Model.objRegAccessory)
        {
            if (regAccessories.isKnockOffRequired)
            {
                hasSerializeAccessory = true;
                foreach (var regAccessory in regAccessories.regAccessoryDetails)
                {
                    var serialNum = "serialNumber_" + regAccessory.regAccessoryID + "-" + regAccessory.sequenceID;
                    var labelErrMsg = "labelErrMsg_" + regAccessory.regAccessoryID + "-" + regAccessory.sequenceID;

                    if (!string.IsNullOrEmpty(regAccessory.serialNumber))
                    {
                        hasSerialNumber = true;
                    }
                    
                    <tr>
						<td>
							@(accIndex++)
						</td>
                        <td>
                            @regAccessories.articleID
                        </td>
                        <td>
                            @regAccessories.EANCode
                        </td>
                        <td>
                            @regAccessories.Name
                        </td>
                        <td>
                            @*Html.TextBox(serialNum, regAccessory.serialNumber, new { style = "width:120px;" })*@
                            <input type="text" id="@(serialNum)" name="@(serialNum)" value="@(regAccessory.serialNumber)" data-articleID="@(regAccessories.articleID)" data-isSerialize="@(regAccessories.isKnockOffRequired)" style="width:140px;" autocomplete="off" autocompletetype="disable" class="valid">
                        </td>
                        <td>
                            <label id="@(labelErrMsg)" for="@(serialNum)" style="color: red"></label>
                        </td>
					</tr>
                }
            }
            else
            {
                for (var i = 0; i < regAccessories.quantity; i++)
                {
                    <tr>
				        <td>
					        @(accIndex++)
				        </td>
                        <td>
                            @regAccessories.articleID
                        </td>
                        <td>
                            @regAccessories.EANCode
                        </td>
                        <td>
                            @regAccessories.Name
                        </td>
                        <td>
                            @*Html.TextBox("nonSerialize", string.Empty, new { style = "width:120px; cursor:no-drop;", disabled = "disabled" })*@
                            <input type="text" id="nonSerialize" name="nonSerialize" value="" style="background: #c4c4c4" disabled = "disabled" data-articleID="@(regAccessories.articleID)" data-isSerialize="@(regAccessories.isKnockOffRequired)" style="width:140px;" autocomplete="off" autocompletetype="disable" class="valid" />
                        </td>
                        <td>
                            &nbsp;
                        </td>
			        </tr>
                }
            }
        }
		@Html.Hidden("hasSerializeAccessory", hasSerializeAccessory)
        @Html.Hidden("hasSerialNumber", hasSerialNumber)		
		<tr>
			<td colspan="6" align="right">
				<input id="btnSaveAccessory" value="Save" class="submitButton" type="submit" />
			</td>
		</tr>
	</table>
}

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('label[id^=labelErrMsg_]').hide();
        $('input[id^=serialNumber_]').focusout(function () {
            //debugger;
            var url = '@(Url.Content("~/Registration/CheckSerialNumberStatusForAccessory"))';
            var regID = $('#RegID').val();
            var componentID = $(this).attr("id");
            var accessoryID = componentID.split('_')[1];
            var componentValue = $(this).attr("value").trim();
            var articleID = $(this).attr("data-articleID");

            if (componentValue != "") {
                $.post(url, {
                    regID: regID,
                    articleID: articleID,
                    serialNumber: componentValue
                }, function (data) {
                    //debugger;
                    if (data.toString() == "False") {
                        $('#labelErrMsg_' + accessoryID).text("Invalid serial number");
                        $('#labelErrMsg_' + accessoryID).attr("style", "color:red;");
                        $('#labelErrMsg_' + accessoryID).show();
                        //return false;
                    }
                    else {
                        $('#labelErrMsg_' + accessoryID).text("");
                        $('#labelErrMsg_' + accessoryID).hide();
                        //$('#labelErrMsg_' + accessoryID).text("Valid serial number");
                        //$('#labelErrMsg_' + accessoryID).attr("style", "color:green;");
                        //$('#labelErrMsg_' + accessoryID).show();
                    }
                });
            }
        });

        $('input[id^=serialNumber_]').keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
    });

    function validateAccessory(form) {
        //debugger;
        var hasSerializedAcc = $('#hasSerializeAccessory').val();
        if (hasSerializedAcc != null && hasSerializedAcc != "False") {
            var url = '@(Url.Content("~/Registration/CheckSerialNumberStatusForAccessory"))';
            var updateUrl = '@(Url.Content("~/Registration/UpdateSerialNumberStatusForAccessory"))';
            var regID = $('#RegID').val();
            $('#serialNumberVault').val("");
            $('#serialNumberAndIDVault').val("");
            $('#divAccessoryError').html("");
            var index = 0;

            if (form != null && $(form).valid() == false) {
                return false;
            }

            $('input[id^=serialNumber_]').each(function () {
                //debugger;
                var componentID = $(this).attr("id");
                var accessoryID = componentID.split('_')[1];
                var articleID = $(this).attr("data-articleID");
                var componentValue = $(this).attr("value").trim();
                var isSerializable = $(this).attr("data-isSerialize");

                if (isSerializable == "True") {
                    if (componentValue == "") {
                        $('#labelErrMsg_' + accessoryID).text("Cannot be blank");
                        $('#labelErrMsg_' + accessoryID).show();
                        //$('#' + componentID).focus();
                        //return false;
                    }
                    else {
                        $('#labelErrMsg_' + accessoryID).text("");
                        $('#labelErrMsg_' + accessoryID).hide();

                        var snVault = $('#serialNumberVault').val();
                        var snAndIDVault = $('#serialNumberAndIDVault').val();

                        if (snVault == "") {
                            $('#serialNumberVault').val(componentValue + "|");
                            $('#serialNumberAndIDVault').val(accessoryID + "," + componentValue + "|");
                        }
                        else {
                            var currentVault = $('#serialNumberVault').val().split("|");
                            var totalCurrentVault = currentVault.length;

                            for (var i = 0; i < totalCurrentVault; i++) {
                                if (currentVault[i] != "") {
                                    if (currentVault[i] == componentValue) {
                                        $('#labelErrMsg_' + accessoryID).text("Please enter unique serial numbers");
                                        $('#labelErrMsg_' + accessoryID).show();
                                    }
                                }
                            }
                        }

                        if ($('#labelErrMsg_' + accessoryID).text() == "") {
                            $('#serialNumberVault').val(snVault + componentValue + "|");
                            $('#serialNumberAndIDVault').val(snAndIDVault + accessoryID + "," + componentValue + "|");

                            $.post(url, {
                                regID: regID,
                                articleID: articleID,
                                serialNumber: componentValue
                            }, function (data) {
                                //debugger;
                                if (data.toString() == "False") {
                                    $('#labelErrMsg_' + accessoryID).text("Invalid serial number");
                                    $('#labelErrMsg_' + accessoryID).show();
                                    index++;
                                    //return false;
                                }
                                else {
                                    index++;
                                    //$('#labelErrMsg_' + accessoryID).text("");
                                    //$('#labelErrMsg_' + accessoryID).hide();
                                }

                                //debugger;
                                var errorMessages = $('label[id^=labelErrMsg_]');
                                var errorMessagesCount = errorMessages.length;

                                if (errorMessages != null && errorMessagesCount > 0 && index == errorMessagesCount) {
                                    var errMessage = "";
                                    for (var i = 0; i < errorMessagesCount; i++) {
                                        var currentErrMsg = $(errorMessages[i]).text();
                                        if (currentErrMsg != "") {
                                            errMessage = $(errorMessages[i]).text();
                                        }
                                    }

                                    if (errMessage == "") {
                                        var serialNumberList = $('#serialNumberAndIDVault').val();
                                        //update serial number
                                        $.post(updateUrl, {
                                            regID: regID,
                                            serialNumber: serialNumberList
                                        }, function (data) {
                                            if (data.toString() == "success") {
                                                var window = $('#accessoryWindow').data('tWindow');
                                                $('#hasSerialNumber').val("True");
                                                if (typeof checkIMEIAndSIM == 'function') {
                                                    checkIMEIAndSIM();
                                                }
                                                window.close();
                                            }
                                            else {
                                                $('#divAccessoryError').html("Internal server error, please try after some time..");
                                            }
                                        });
                                    }
                                }
                            });
                        }
                    }
                }
            });
        }
        else {
            var window = $('#accessoryWindow').data('tWindow');
            window.close();
        }
        return false;
    }

    function accessoryWindowOnOpen() {
        $('#accessoryWindow').data('tWindow').refresh();
        var currentStyle = $('#accessoryWindow').attr('style') + "font-size: 10px;";
        $('#accessoryWindow').attr('style', currentStyle);
        //$('#CapturedIMEINumber').val('');
        //$('#CapturedIMEINumber').val($('#RegIMEINumber').val());
    }
</script>