﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.CommonEnum;
<!DOCTYPE html>
<html>
<head>
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/images/Retail-logo.png")"/>
    <link rel="apple-touch-startup-image" href="@Url.Content("~/Content/images/loading.jpg")" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no"/>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <script type="text/javascript">
        window.history.forward();
        function noBack() { window.history.forward(); }
    </script>
    <link rel="icon" 
      type="image/png" 
      href= "@Url.Content("~/Content/images/maxis_s.png")" />
    @{
        var menuType = Session["MenuType"] == null ? 0 : Session["MenuType"].ToInt();
        var isDealer = Session["IsDealer"].ToBool();      
    }
    @RenderSection("Styles", false)
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="This is the Responsive Grid System, a quick, easy and flexible way to create a responsive web site." />
    <meta name="keywords" content="responsive, grid, system, web design" />
    <meta name="author" content="" />
    <meta http-equiv="cleartype" content="on" />
   <link rel="shortcut icon" href="/favicon.ico" />
    <!-- Responsive and mobile friendly stuff -->
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Stylesheets -->
    <!--[if lt IE 9]>
<link rel="stylesheet" href="@Url.Content("~/Content/css/ie.css")" media="screen" />
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/html5reset.css")"  media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/responsivegridsystem.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/col.css")"  media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/4cols.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/tabcontent.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/jquery-ui/jquery.ui.all.css")" />
    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/owl.carousel.css")" />
    <!-- Default Theme -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/owl.theme.css")" />
    <!-- Responsive Stylesheets -->
     <link rel="stylesheet" type="text/css" media="only screen and (max-width: 1024px)" href="@Url.Content("~/Content/css/1024.css")" />
    <link rel="stylesheet" type="text/css" media="only screen and (max-width: 768px)" href="@Url.Content("~/Content/css/768.css")" >

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/colorbox.css")" />
    @{Html.Telerik().StyleSheetRegistrar()
        .DefaultGroup(g => g
            .Add("telerik.common.css")
            .Add("telerik.office2010silver.min.css")
        ).Render();
    }
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.css")"/>
    <script language="javascript" type="text/javascript">
        // iOS viewport scaling bug fix, by mathias, cheeaun and jdalton
        (function (doc) { var addEvent = 'addEventListener', type = 'gesturestart', qsa = 'querySelectorAll', scales = [1, 1], meta = qsa in doc ? doc[qsa]('meta[name=viewport]') : []; function fix() { meta.content = 'width=device-width,minimum-scale=' + scales[0] + ',maximum-scale=' + scales[1]; doc.removeEventListener(type, fix, true); } if ((meta = meta[meta.length - 1]) && addEvent in doc) { fix(); scales = [.25, 1.6]; doc[addEvent](type, fix, true); } } (document));
    </script>
    <script src="@Url.Content("~/scripts/js/modernizr-2.5.3-min.js")" language="javascript" type="text/javascript" ></script>
    <style type="text/css">    
        a[href^=tel]    
        {
            color: inherit;
            text-decoration: inherit;
            font-size: inherit;
            font-style: inherit;
            font-weight: inherit;
        }
    </style>

    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/js/jquery-1.8.2.min.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/jquery-ui-1.8.21.min.js")" ></script>
    <script type="text/javascript" language="javascript"  src="@Url.Content("~/scripts/js/ui/jquery.ui.core.js")" ></script>
    <script type="text/javascript" language="javascript"  src="@Url.Content("~/scripts/js/ui/jquery.ui.widget.js")" ></script>
    <script type="text/javascript" language="javascript"  src="@Url.Content("~/scripts/js/ui/jquery.ui.accordion.js")" ></script>
    <!--[if (lt IE 9) & (!IEMobile)]>
	<script src="@Url.Content("~/scripts/js/selectivizr-min.js")" type="text/javascript" language="javascript" ></script>
	<![endif]-->
    <!-- More Scripts-->
    <script src="@Url.Content("~/scripts/js/responsivegridsystem.js")" type="text/javascript" language="javascript" ></script>
    <!-- optionally include helper plugins -->
    <script type="text/javascript" language="javascript"   src="@Url.Content("~/scripts/js/helper-plugins/jquery.mousewheel.min.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/js/helper-plugins/jquery.touchSwipe.min.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/js/helper-plugins/jquery.transit.min.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/js/helper-plugins/jquery.ba-throttle-debounce.min.js")" ></script>
    <script type="text/javascript" language="javascript">
       
			
    </script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/js/tabcontent.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/js/jquery.horizontalNav.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/js/jquery.colorbox.js")" ></script>
    
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/jquery.validate.min.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/jquery.validate.unobtrusive.min.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/jquery.blockUI.js")" ></script>

</head>
<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">
    @{string url = "~/Home/Index";}
    <div id="wrapper">
        <div id="headcontainer">
            <div class="isell-logo" tabindex="0" >
            @if (User.Identity.IsAuthenticated == false)
            {
                Response.Redirect("~/Account/LogOff");
            }
                @if ((Roles.IsUserInRole("MREG_CH") && Roles.IsUserInRole("MREG_SK")) || (Roles.IsUserInRole("MREG_C") || Roles.IsUserInRole("MREG_W") || Roles.IsUserInRole("MREG_U") || Roles.IsUserInRole("MREG_R")
                  || Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DAC") || Roles.IsUserInRole("MREG_DIC") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("MREG_DN") || Roles.IsUserInRole("MREG_DC") || Roles.IsUserInRole("MREG_RA") || Roles.IsUserInRole("MREG_TL") || Roles.IsUserInRole("SMRT_USER")))
                {
                    <img class="iSELL-Logo" src="@Url.Content("~/content/img/shared/iSELL-Logo.png")" alt="Maxis" />
                    <a class="HomeLogo"  onclick="SetMenuOption('@Url.Content(url)','ancMenu_Search');"  href="javascript:void(0)"  >
                    
                    <img src="@Url.Content("~/content/img/shared/home_icon.png")" alt="Home" title="Click Here to go to Home Page" />
                </a>
                }
                else
                {
                    if (Roles.IsUserInRole("MREG_CH") || Roles.IsUserInRole("MREG_DCH"))
                    {
                        Session["MenuType"] = Convert.ToInt32(MenuType.Cashier);


                        url = "~/Registration/Cashier";
                         <img class="iSELL-Logo" src="@Url.Content("~/content/img/shared/iSELL-Logo.png")" alt="Maxis" />
                        <a  class="HomeLogo" @*onclick="SetMenuOption('@Url.Content(url)','ancMenu_Search');"*@  href="@Url.Content("~/Registration/Cashier")"   >
                   
                    <img src="@Url.Content("~/content/img/shared/home_icon.png")" alt="Home" title="Click Here to go to Home Page" />
                </a>
                    }
                    if (Roles.IsUserInRole("MREG_SK") || Roles.IsUserInRole("MREG_DSK"))
                    {

                        Session["MenuType"] = Convert.ToInt32(MenuType.StoreKeeper);

                        url = "~/Registration/StoreKeeper";
                         <img class="iSELL-Logo" src="@Url.Content("~/content/img/shared/iSELL-Logo.png")" alt="Maxis" />
                        <a class="HomeLogo"  @*onclick="SetMenuOption('@Url.Content(url)','ancMenu_Search');"*@  href="@Url.Content("~/Registration/StoreKeeper")"  >
                   
                    <img src="@Url.Content("~/content/img/shared/home_icon.png")" alt="Home" title="Click Here to go to Home Page" />
                </a>
                    }
                }
            </div>
            <div class="topbar-menu">
                <div class="about-txt">
                    <img src="@Url.Content("~/content/img/shared/iSELL-Icon-About.png")" alt="About Maxis" />
                      <a href="javascript:void(0);" id="ancInfo">About</a></div>
                <div class="account-txt">
                    <img src="@Url.Content("~/content/img/shared/iSELL-Icon-Account.png")" alt="Account" />
                    @Html.ActionLink("Logout", "LogOff", "Account", new { Area = "" }, new { id = "menuLogout" })
                   
                    </div>
                    
            </div>
        </div>
        <div id="maincontentcontainer">
            <!-- Left column area - main menu -->
            <div id="left">
                <ul class="is-menu">
                  
                        @if (Roles.IsUserInRole("MREG_CH") && Roles.IsUserInRole("MREG_SK"))
                        {
                              <li>
                          <a href="javascript:void(0)"  id="ancMenu_Search"  onclick="SetMenuOption('@Url.Content(url)','ancMenu_Search');" >
                            <span class="is-icon search"></span>
                            <div class="is-content">
                                Search</div>
                        </a></li>
                        }
                        else if (Roles.IsUserInRole("MREG_C") || Roles.IsUserInRole("MREG_W") || Roles.IsUserInRole("MREG_U") || Roles.IsUserInRole("MREG_R") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("MREG_DC")
                                        || Roles.IsUserInRole("MREG_RA") || Roles.IsUserInRole("MREG_TL") || Roles.IsUserInRole("SMRT_USER") || Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DAC"))
                        {
                              <li>
                          <a href="javascript:void(0)"  id="ancMenu_Search"  onclick="SetMenuOption('@Url.Content(url)','ancMenu_Search');" >
                            <span class="is-icon search"></span>
                            <div class="is-content">
                                Search</div>
                        </a></li>
                        }
                        else
                        {

                            if (Roles.IsUserInRole("MREG_CH"))
                            {
                                Session["MenuType"] = Convert.ToInt32(MenuType.Cashier);


                                url = "~/Registration/Cashier";
                            }
                            if (Roles.IsUserInRole("MREG_SK"))
                            {

                                Session["MenuType"] = Convert.ToInt32(MenuType.StoreKeeper);

                                url = "~/Registration/StoreKeeper";


                            }

                        }
                      
                     @if (Roles.IsUserInRole("MREG_C") || Roles.IsUserInRole("MREG_W") || Roles.IsUserInRole("MREG_U") || Roles.IsUserInRole("MREG_R") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("MREG_DC")
                        || Roles.IsUserInRole("MREG_RA") || Roles.IsUserInRole("MREG_SIMR") || Roles.IsUserInRole("MREG_CRP") || Roles.IsUserInRole("MREG_ARVAS") || Roles.IsUserInRole("MREG_TL") || Roles.IsUserInRole("CCC") || Roles.IsUserInRole("EOMC") || Roles.IsUserInRole("HOMC") || Roles.IsUserInRole("MREG_DAC") || Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DAC"))
                     {
                        
                        <li><a href="javascript:void(0)" id="ancMenu_Mobility"><span class="is-icon mobilty-service">
                        </span>
                            <div class="is-content">
                                Mobility Services</div>
                        </a>
                            <ul>
                            @if (Session["isOnlyPREGSMSIMReplace"].ToString2() == "Y" && Session["SR_PPIDCheck"].ToString2() == "E" && !Roles.IsUserInRole("MREG_NEW"))
                            {

                                if (Session[Online.Registration.Web.CommonEnum.SessionKey.FxInternalCheckMessage.ToString()].ToString2() == "One or more acct have been written off. Please collect outstanding amount.")
                                {
                                    if (Session["AllowSimReplacementForWriteOff"].ToString2() == "True" || Session["AllowSimReplacement"].ToString2() == "True")
                                    {
                                    <li class="is-submenu" style="height:auto;"><a parentid="ancMenu_Mobility" href="javascript:void(0);" data="@Url.Content("~/QSimReplacement/AccountDetails?type=" + ((int)MobileRegType.SimReplacement))">
                                        <div class="is-submenu-text">
                                           Prepaid / Postpaid SIM Replacement</div>
                                    </a></li>
                                    }

                                    if (Session["WriteOffHardstop"].ToString2() != "True" && Session["AllowSimReplacement"].ToString2() == "True" && Session["HasActivePostGSMLines"].ToString2() == "True")
                                    {
                                
                                    <li class="is-submenu" style="height:auto;"><a parentid="ancMenu_Mobility" href="javascript:void(0);" data="@Url.Content("~/AddRemoveVAS/Index?type=" + ((int)MobileRegType.AddRemoveVAS))">
                                        <div class="is-submenu-text">
                                            Add/Remove VAS</div>
                                    </a></li>
                                         
                                    <li class="is-submenu" style="height:auto;"><a parentid="ancMenu_Mobility" href="javascript:void(0);" data="@Url.Content("~/CRP/Accounts?type=" + ((int)MobileRegType.DeviceCRP))" >
                                        <div class="is-submenu-text">
                                            CRP</div>
                                    </a></li>
                                    }
                                    if (Session["IsDealer"].ToString2() == "False")
                                    {
                                        <li class="is-submenu" style="height:auto;"><a parentid="ancMenu_Mobility" href="javascript:void(0);" data="@Url.Content("~/DeviceSales/Accounts")">
                                            <div class="is-submenu-text">
                                                Outright Device</div>
                                        </a></li>
                                    }
                                }
                            }
                            else
                            {
                                if (Session[Online.Registration.Web.CommonEnum.SessionKey.FxInternalCheckMessage.ToString()].ToString2() == "Active" || Session[Online.Registration.Web.CommonEnum.SessionKey.FxInternalCheckMessage.ToString()].ToString2() == "Account has outstanding amount. To proceed, please collect outstanding amount." || Session[Online.Registration.Web.CommonEnum.SessionKey.FxInternalCheckMessage.ToString()].ToString2() == string.Empty)
                                {
                                    if (Session["PPID"].ToString2() != string.Empty && Session["PPID"].ToString2() != "IU")
                                    {
                                    <li class="is-submenu" style="height:auto;"><a isMnp="1" isMultipleMNP="2"  parentid="ancMenu_Mobility"  href="javascript:void(0)" data="@Url.Content("~/Registration/SelectPlan?type=" + ((int)MobileRegType.PlanOnly))" >
                                        <div class="is-submenu-text">
                                            Plan</div>
                                    </a></li>
                                    <li class="is-submenu" style="height:auto;"><a parentid="ancMenu_Mobility" href="javascript:void(0)" data="@Url.Content("~/Registration/SelectDevice?type=" + ((int)MobileRegType.DevicePlan))">
                                        <div class="is-submenu-text">
                                            Device + Plan</div>
                                    </a></li>
                                
                              
                                    }
                                    if (Session["PPID"].ToString2() == "E")
                                    {
                                    <li class="is-submenu" style="height:auto;"><a isMnp="1"  parentid="ancMenu_Mobility" href="javascript:void(0)" data="@Url.Content("~/Suppline/AddSuppline?type=" + ((int)MobileRegType.SuppPlan))">
                                        <div class="is-submenu-text">
                                            Add Supp./Secon Line</div>
                                    </a></li>
                                    <li class="is-submenu" style="height:auto;"><a  parentid="ancMenu_Mobility" href="javascript:void(0);" data="@Url.Content("~/AddContract/Index?type=" + ((int)MobileRegType.Contract))">
                                        <div class="is-submenu-text">
                                            Add Contract</div>
                                    </a></li>
                                    <li class="is-submenu" style="height:auto;"><a isMnp="1" parentid="ancMenu_Mobility" href="javascript:void(0);" data="@Url.Content("~/Newline/AddNewLine?type=" + ((int)MobileRegType.NewLine))">
                                        <div class="is-submenu-text">
                                            Add New Line</div>
                                    </a></li>
                                    }
                                    if (!Roles.IsUserInRole("MREG_NEW"))
                                    {
                                        if (Session["SR_PPIDCheck"].ToString2() == "E" && Session["HSDPA"].ToString2() != "H")
                                        {
                             
                                    <li class="is-submenu" style="height:auto;"><a parentid="ancMenu_Mobility" href="javascript:void(0)" data="@Url.Content("~/QSimReplacement/AccountDetails?type=" + ((int)MobileRegType.SimReplacement))">
                                        <div class="is-submenu-text">
                                            Prepaid / Postpaid SIM Replacement</div>
                                    </a></li>
                              
                                        }
                                        if (Session["PPID"].ToString2() == "E")
                                        {                                                                               
                                    <li class="is-submenu" style="height:auto;"><a parentid="ancMenu_Mobility" href="javascript:void(0)" data="@Url.Content("~/AddRemoveVAS/Index?type=" + ((int)MobileRegType.AddRemoveVAS))">
                                        <div class="is-submenu-text">
                                            Add/Remove VAS</div>
                                    </a></li>
                                        }
                                    }
                                    if (Session["PPID"].ToString2() == "E")
                                    {
                                    <li class="is-submenu" style="height:auto;"><a parentid="ancMenu_Mobility" href="javascript:void(0);" data="@Url.Content("~/CRP/Accounts?type=" + ((int)MobileRegType.DeviceCRP))">
                                        <div class="is-submenu-text">
                                            CRP</div>
                                    </a></li>
                                    }
                                    if (Session["PPID"].ToString2() == "E")
                                    {
                                    //26022015 - Anthony - Extra Ten Decommission + Remove Manage Extra Ten Menu
                                    /*
                                    <li class="is-submenu" style="height:auto;"><a  parentid="ancMenu_Mobility" href="javascript:void(0);" data="@Url.Content("~/ExtraTen/AccountsList")">
                                        <div class="is-submenu-text">
                                            Manage Extra TEN</div>
                                    </a></li>
                                    */
                                    }
                                    if (Session["PPID"].ToString2() != string.Empty && Session["PPID"].ToString2() != "IU")
                                    {
                                    <li class="is-submenu" style="height:auto;"><a isMnp="1" isMultipleMNP="2" parentid="ancMenu_Mobility" href="javascript:void(0)" data="@Url.Content("~/MNP/EnterDetails")">
                                        <div id="mnpSubMenu" class="is-submenu-text">
                                            MNP</div>
                                    </a></li>
                                    <li class="is-submenu" style="height:auto;"><a isMnp="1" isMultipleMNP="2" parentid="ancMenu_Mobility" href="javascript:void(0);" data="@Url.Content("~/MNP/StatusTracking")">
                                        <div class="is-submenu-text">
                                            Status Tracking</div>
                                    </a></li>
                                    }

                                }
                                if (Session["SR_PPIDCheck"].ToString2() == "E" || Session["isOnlyPREGSMSIMReplace"].ToString2() == "Y")
                                {

                                    //OutRight Device Sales
                                    if (Session["HardStop"].ToString2() != "True" && Session["IsDealer"].ToString2() == "False")
                                    {
                                    <li class="is-submenu" style="height:auto;"><a parentid="ancMenu_Mobility" href="javascript:void(0);" data="@Url.Content("~/DeviceSales/Accounts")">
                                        <div class="is-submenu-text">
                                            Outright Device</div>
                                    </a></li>
                                    }
                                }
                                if (Roles.IsUserInRole("MREG_TL"))
                                {

                                    string dashUrl = "~/Registration/StoreKeeper";
                      
                                     
                                    <li class="is-submenu" style="height:auto;"><a data=""  onclick="SetMenuOption('@Url.Content(dashUrl)','ancMenu_Mobility');" href="javascript:void(0)" >
                                        <div class="is-submenu-text">
                                            View Orders</div>
                                    </a></li>
                                }
                            }                                
                            </ul>
                        </li>
                            <li>
                            <a href="javascript:void(0)" id="ancMenu_SMEI"><span class="is-icon mobilty-service"></span>
                            <div class="is-content">SMEI/CI Services</div>
                            </a>
                            @if (Session[Online.Registration.Web.CommonEnum.SessionKey.FxInternalCheckMessage.ToString()].ToString2() == "Active" || Session[Online.Registration.Web.CommonEnum.SessionKey.FxInternalCheckMessage.ToString()].ToString2() == "Account has outstanding amount. To proceed, please collect outstanding amount." || Session[Online.Registration.Web.CommonEnum.SessionKey.FxInternalCheckMessage.ToString()].ToString2() == string.Empty)
                            {

                            <ul>
                                @*@if (Session[SessionKey.CompanyInfoResponse.ToString2()] != null && ((Online.Registration.Web.ViewModels.BRNVm)Session[SessionKey.CompanyInfoResponse.ToString2()]).CorpParentID.ToString2() != string.Empty && Session["PPID"].ToString2() != string.Empty)*@
                                @if (Session["PPID"].ToString2() != string.Empty && Session["PPID"].ToString2() != "IU" && Session["WriteOffHardstop"].ToString2() != "True" && Session["AllowSimReplacementForWriteOff"].ToString2() != "True" && !(Session["PPID"].ToString2() == "N" && (Session["PPIDSearchIDType"] == "ACCT")) && Session[Online.Registration.Web.CommonEnum.SessionKey.FxInternalCheckMessage.ToString()].ToString2() != "One or more acct have been written off. Please collect outstanding amount.")
                                {
                                <li class="is-submenu" style="height:auto;">
                                    <a isMnp="1" isMultipleMNP="2"  parentid="ancMenu_SMEI"  href="javascript:void(0)" data="@Url.Content("~/Home/BRNSearch?type=" + ((int)MobileRegType.PlanOnly))" >
                                    <div class="is-submenu-text">Plan</div>
                                    </a>
                                </li>
                                <li class="is-submenu" style="height:auto;">
                                    <a parentid="ancMenu_SMEI" href="javascript:void(0)" data="@Url.Content("~/Home/BRNSearch?type=" + ((int)MobileRegType.DevicePlan))" >
                                    <div class="is-submenu-text">Device + Plan</div>
                                    </a>
                                </li>
                                <li class="is-submenu" style="height:auto;">
                                    <a isMnp="1" isMultipleMNP="2" parentid="ancMenu_SMEI" href="javascript:void(0)" data="@Url.Content("~/Home/BRNSearch?type=" + ((int)MobileRegType.MNPPlanOnly))"  >
                                        <div id="mnpSubMenu" class="is-submenu-text">MNP</div>
                                    </a>
                                </li>
                                   
                                }
                                 @if (Roles.IsUserInRole("MREG_TL"))
                                 {
                                       <li class="is-submenu" style="height:auto;"><a data=""  onclick="SetMenuOption('@Url.Content("~/Home/SMEIViewOrders")','ancMenu_Mobility');" href="javascript:void(0)" >
                                    <div class="is-submenu-text"  >
                                        View Orders</div>
                                </a></li>
                                 }
                            </ul>
                            }
                        </li>
                            if (Roles.IsUserInRole("CMSS_USR"))
                            {


                        <li>
                        @{
                                string strOnClick = string.Empty;
                                if (Session["PPID"].ToString2() == "E")
                                {
                                    strOnClick = "SetMenuOption('" + Url.Content("~/Complaint/Create") + "','ancMenu_Customer');";
                                }
                          }
                          <a href="javascript:void(0)"  id="ancMenu_Customer"   onclick="@strOnClick" >
                            <span class="is-icon CustomerSer"></span>
                            <div class="is-content">
                               Customer Service</div>
                        </a>
                        </li>
                            }
                            if (Roles.IsUserInRole("MREG_HQ") || Roles.IsUserInRole("MREG_DAB"))
                            {


                                string dashUrl = "~/Registration/SuperVisorForWaiveOff?RefreshSession=1";
                        <li>
                          <a href="javascript:void(0)"  id="ancMenu_DashBoard"   onclick="SetMenuOption('@Url.Content(dashUrl)','ancMenu_DashBoard');" >
                            <span class="is-icon DashBoard"></span>
                            <div class="is-content">
                                Dash Board</div>
                        </a></li>
                            }

                            if ((Roles.IsUserInRole("SMRT_USER") || Roles.IsUserInRole("SMRT_MANAGER")))
                            {
                                if (Session["isDealer"].ToString2() != "True")
                                {
                             
                             <li><a href="javascript:void(0)" id="ancMenu_Smart"><span class="is-icon smart">
                        </span>
                            <div class="is-content">
                                Smart</div>
                        </a>
                         @if (Session["PPID"].ToString2() != string.Empty && Session["PPID"].ToString2() != "IU" && Session["isOnlyPREGSMSIMReplace"] == null)
                         {
                             
                            <ul>
                                <li class="is-submenu" style="height:auto;"><a parentid="ancMenu_Smart" href="javascript:void(0)" data="@Url.Content("~/Retention/Retention/Accounts?type=" + ((int)MobileRegType.DeviceCRP))">
                                    <div id="smartServices" class="is-submenu-text">
                                        Smart Services</div>
                                </a></li>
                            </ul>
                             
                         }
                        </li>
                                }
                            }

                            if (Roles.IsUserInRole("SMRT_MANAGER") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("MREG_SV") || Roles.IsUserInRole("SMRT_SK") || Roles.IsUserInRole("MREG_SK") || Roles.IsUserInRole("MREG_DIC") || Roles.IsUserInRole("MREG_DSK") || Roles.IsUserInRole("MREG_DAI"))
                            {
                                url = "~/Registration/StoreKeeper";
                        <li><a href="javascript:void(0);" onclick="SetMenuOption('@Url.Content(url)','ancMenu_Sk');"  id="ancMenu_Sk">
                            <span class="is-icon inventory"></span>
                            <div class="is-content">
                                Inventory</div>
                        </a></li>

                            }

                            if (Roles.IsUserInRole("SMRT_MANAGER") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("SMRT_CAS") || Roles.IsUserInRole("MREG_CH") || Roles.IsUserInRole("MREG_DIC") || Roles.IsUserInRole("MREG_DAC") || Roles.IsUserInRole("MREG_DCH"))
                            {
                                url = "~/Registration/Cashier";
                        <li><a href="javascript:void(0);"  onclick="SetMenuOption('@Url.Content(url)','ancMenu_Cash');"  id="ancMenu_Cash" >
                            <span class="is-icon cashier"></span>
                            <div class="is-content">
                                Cashier</div>
                        </a></li>
                            }

                     }
                     else if (Roles.IsUserInRole("SMRT_USER") || Roles.IsUserInRole("SMRT_MANAGER"))
                     {
                    
                      <li><a href="javascript:void(0)" id="ancMenu_Smart"><span class="is-icon smart">
                        </span>
                            <div class="is-content">
                                Smart</div>
                        </a>
                         @if (Session["PPID"].ToString2() != string.Empty && Session["PPID"].ToString2() != "IU" && Session["isOnlyPREGSMSIMReplace"] == null)
                         {
                            <ul>
                                <li class="is-submenu" style="height:auto;"><a parentid="ancMenu_Smart" href="javascript:void(0)" data="@Url.Content("~/Retention/Retention/Accounts?type=" + ((int)MobileRegType.DeviceCRP))">
                                    <div class="is-submenu-text">
                                        Smart Services</div>
                                </a></li>
                            </ul>
                         }
                        </li>
                         
                         if (Roles.IsUserInRole("SMRT_MANAGER") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("MREG_SV") || Roles.IsUserInRole("SMRT_SK") || Roles.IsUserInRole("MREG_SK") || Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DIC") || Roles.IsUserInRole("MREG_DSK"))
                         {
                             url = "~/Registration/StoreKeeper";
                        <li><a href="javascript:void(0)" onclick="SetMenuOption('@Url.Content(url)','ancMenu_Sk');"  id="ancMenu_Sk">
                            <span class="is-icon inventory"></span>
                            <div class="is-content">
                                Inventory</div>
                        </a></li>

                         }

                         if (Roles.IsUserInRole("SMRT_MANAGER") || Roles.IsUserInRole("SMRT_CAS") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("MREG_CH") || Roles.IsUserInRole("MREG_DIC") || Roles.IsUserInRole("MREG_DAC") || Roles.IsUserInRole("MREG_DCH"))
                         {
                             url = "~/Registration/Cashier";
                        <li><a href="javascript:void(0)"  onclick="SetMenuOption('@Url.Content(url)','ancMenu_Cash');"  id="ancMenu_Cash" >
                            <span class="is-icon cashier"></span>
                            <div class="is-content">
                                Cashier</div>
                        </a></li>
                         }
                     }
                     else
                     {

                         if (Roles.IsUserInRole("SMRT_MANAGER") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("MREG_SV") || Roles.IsUserInRole("SMRT_SK") || Roles.IsUserInRole("MREG_SK") || Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DIC") || Roles.IsUserInRole("MREG_DSK"))
                         {
                             url = "~/Registration/StoreKeeper";
                        <li><a href="javascript:void(0)" onclick="SetMenuOption('@Url.Content(url)','ancMenu_Sk');" class="selected" id="ancMenu_Sk">
                            <span class="is-icon inventory"></span>
                            <div class="is-content">
                                Inventory</div>
                        </a></li>

                         }
                         if (Roles.IsUserInRole("SMRT_MANAGER") || Roles.IsUserInRole("SMRT_CAS") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("MREG_CH") || Roles.IsUserInRole("MREG_DIC") || Roles.IsUserInRole("MREG_DAC") || Roles.IsUserInRole("MREG_DCH"))
                         {
                             url = "~/Registration/Cashier";
                        <li><a href="javascript:void(0)"  onclick="SetMenuOption('@Url.Content(url)','ancMenu_Cash');" class="selected" id="ancMenu_Cash" >
                            <span class="is-icon cashier"></span>
                            <div class="is-content">
                                Cashier</div>
                        </a></li>
                         }


                     }

                      @if (Session["IsDealer"].ToBool())
                      {
                            <li class="is-submenu" style="height:auto;"><a  target="_blank"  href="https://dealernet.maxis.com.my" >
                            <span class="is-icon cashier"></span>
                             <div class="is-content">
                              Miscellaneous</div>
                              </a></li>
                      }
                              
                </ul>
                <ul id="ulMenuTab" class="is-menu-tab">
                   @{url = "~/Home/Index";}
                   @if (Roles.IsUserInRole("MREG_CH") && Roles.IsUserInRole("MREG_SK"))
                   {
                        <li class="wrappers search" id="liMenu_Search" onclick="tooltips('search');"><span
                            class="is-icon-tab search"></span></li>
                        <div class="tooltip2 search">
                            <a href="javascript:void(0)"  parentid="liMenu_Search"  onclick="SetMenuOption('@Url.Content(url)','liMenu_Search');">
                                <div class="is-submenu-text">
                                    Search</div>
                            </a>
                        </div>
                   }
                   else if (Roles.IsUserInRole("MREG_C") || Roles.IsUserInRole("MREG_W") || Roles.IsUserInRole("MREG_U") || Roles.IsUserInRole("MREG_R")
                                       || Roles.IsUserInRole("MREG_RA") || Roles.IsUserInRole("MREG_TL") || Roles.IsUserInRole("SMRT_USER") || Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DAC") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("MREG_DC"))
                   {
                        <li class="wrappers search" id="liMenu_Search" onclick="tooltips('search');"><span
                            class="is-icon-tab search"></span></li>
                        <div class="tooltip2 search">
                            <a href="javascript:void(0)"  parentid="liMenu_Search"  onclick="SetMenuOption('@Url.Content(url)','liMenu_Search');">
                                <div class="is-submenu-text">
                                    Search</div>
                            </a>
                        </div>
                   }
                   else
                   {

                       if (Roles.IsUserInRole("MREG_CH"))
                       {
                           Session["MenuType"] = Convert.ToInt32(MenuType.Cashier);


                           url = "~/Registration/Cashier";
                       }
                       if (Roles.IsUserInRole("MREG_SK"))
                       {

                           Session["MenuType"] = Convert.ToInt32(MenuType.StoreKeeper);

                           url = "~/Registration/StoreKeeper";


                       }

                   }
                    @if (Roles.IsUserInRole("MREG_C") || Roles.IsUserInRole("MREG_W") || Roles.IsUserInRole("MREG_U") || Roles.IsUserInRole("MREG_R") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("MREG_DC")
                        || Roles.IsUserInRole("MREG_RA") || Roles.IsUserInRole("MREG_SIMR") || Roles.IsUserInRole("MREG_CRP") || Roles.IsUserInRole("MREG_ARVAS") || Roles.IsUserInRole("MREG_TL") || Roles.IsUserInRole("CCC") || Roles.IsUserInRole("EOMC") || Roles.IsUserInRole("HOMC") || Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DAC"))
                    {
                         
                       <li class="wrappers services" id="liMenu_Mobility" onclick="tooltips('services');"><span class="is-icon-tab services">
                        </span></li> 
                         
                      <ul>
                        @if (Session["isOnlyPREGSMSIMReplace"].ToString2() == "Y" && Session["SR_PPIDCheck"].ToString2() == "E" && !Roles.IsUserInRole("MREG_NEW"))
                        {

                            if (Session[Online.Registration.Web.CommonEnum.SessionKey.FxInternalCheckMessage.ToString()].ToString2() == "One or more acct have been written off. Please collect outstanding amount.")
                            {
                                if (Session["AllowSimReplacementForWriteOff"].ToString2() == "True" || Session["AllowSimReplacement"].ToString2() == "True")
                                {
                                            <div class="tooltip2 services" style="height:auto">
                                    <a class="anMenucls" parentid="liMenu_Mobility" href="javascript:void(0)" data="@Url.Content("~/QSimReplacement/AccountDetails?type=" + ((int)MobileRegType.SimReplacement))">
                                        <div class="is-submenu-text">
                                         @*QSIM Replacement</div>*@
                                         Prepaid / Postpaid SIM Replacement</div>
                                    </a>
                                </div>
                                }
                                if (Session["WriteOffHardstop"].ToString2() != "True" && Session["AllowSimReplacement"].ToString2() == "True" && Session["HasActivePostGSMLines"].ToString2() == "True")
                                {
                                    <div class="tooltip2 services">
                                    <a class="anMenucls" parentid="liMenu_Mobility" href="javascript:void(0)" data="@Url.Content("~/AddRemoveVAS/Index?type=" + ((int)MobileRegType.AddRemoveVAS))">
                                        <div class="is-submenu-text">
                                            Add/Remove VAS</div>
                                    </a>
                                </div>
                        
                                <div class="tooltip2 services">
                                    <a class="anMenucls" parentid="liMenu_Mobility" href="javascript:void(0);" data="@Url.Content("~/CRP/Accounts?type=" + ((int)MobileRegType.DeviceCRP))" >
                                        <div class="is-submenu-text">
                                            CRP</div>
                                    </a>
                                </div>
                                }
                                if (Session["IsDealer"].ToString2() == "False")
                                {
                                    //OutRight Device Sales
                                      <div class="tooltip2 services">
                                        <a class="anMenucls" parentid="liMenu_Mobility" href="javascript:void(0);" data="@Url.Content("~/DeviceSales/Accounts")" >
                                            <div class="is-submenu-text">
                                
                                            Outright Device</div>
                                        </a>
                                     </div>
                                }
                            }
                        }
                        else
                        {
                            if (Session[Online.Registration.Web.CommonEnum.SessionKey.FxInternalCheckMessage.ToString()].ToString2() == "Active" || Session[Online.Registration.Web.CommonEnum.SessionKey.FxInternalCheckMessage.ToString()].ToString2() == "Account has outstanding amount. To proceed, please collect outstanding amount." || Session[Online.Registration.Web.CommonEnum.SessionKey.FxInternalCheckMessage.ToString()].ToString2() == string.Empty)
                            {
                                if (Session["PPID"].ToString2() != string.Empty && Session["PPID"].ToString2() != "IU")
                                {
                        <div class="tooltip2 services">
                            <a class="anMenucls" isMnp="1"  parentid="liMenu_Mobility" href="javascript:void(0)" data="@Url.Content("~/Registration/SelectPlan?type=" + ((int)MobileRegType.PlanOnly))" >
                                <div class="is-submenu-text">
                                    Plan</div>
                            </a>
                        </div>
                        <div class="tooltip2 services">
                            <a class="anMenucls" parentid="liMenu_Mobility" href="javascript:void(0)" data="@Url.Content("~/Registration/SelectDevice?type=" + ((int)MobileRegType.DevicePlan))" >
                                <div class="is-submenu-text">
                                    Device + Plan</div>
                            </a>
                        </div>
                                }
                                if (Session["PPID"].ToString2() == "E")
                                {
                        <div class="tooltip2 services" style="height:auto">
                            <a class="anMenucls" isMnp="1" parentid="liMenu_Mobility" href="javascript:void(0)" data="@Url.Content("~/Suppline/AddSuppline?type=" + ((int)MobileRegType.SuppPlan))" >
                                <div class="is-submenu-text">
                                    Add Supplementary/ Secondary Line</div>
                            </a>
                        </div>
                        <div class="tooltip2 services">
                            <a class="anMenucls"  parentid="liMenu_Mobility" href="javascript:void(0);" data="@Url.Content("~/AddContract/Index?type=" + ((int)MobileRegType.Contract))" >
                                <div class="is-submenu-text">
                                     Add Contract</div>
                            </a>
                        </div>
                        <div class="tooltip2 services">
                            <a  class="anMenucls" isMnp="1" parentid="liMenu_Mobility"  href="javascript:void(0);" data="@Url.Content("~/Newline/AddNewLine?type=" + ((int)MobileRegType.NewLine))">
                                <div class="is-submenu-text">
                                    Add New Line</div>
                            </a>
                        </div>
                                }
                                if (!Roles.IsUserInRole("MREG_NEW"))
                                {
                                    if (Session["SR_PPIDCheck"].ToString2() == "E" && Session["HSDPA"].ToString2() != "H")
                                    {
                                    <div class="tooltip2 services" style="height:auto" >
                            <a class="anMenucls" parentid="liMenu_Mobility" href="javascript:void(0)" data="@Url.Content("~/QSimReplacement/AccountDetails?type=" + ((int)MobileRegType.SimReplacement))">
                                <div class="is-submenu-text">
                                 Prepaid / Postpaid SIM Replacement</div>
                            </a>
                        </div>
                                    }
                                    if (Session["PPID"].ToString2() == "E")
                                    {
                                    <div class="tooltip2 services">
                                        <a class="anMenucls" parentid="liMenu_Mobility" href="javascript:void(0)" data="@Url.Content("~/AddRemoveVAS/Index?type=" + ((int)MobileRegType.AddRemoveVAS))">
                                            <div class="is-submenu-text">
                                                Add/Remove VAS</div>
                                        </a>
                                    </div>
                                    }
                                }
                                if (Session["PPID"].ToString2() == "E")
                                {
                                    <div class="tooltip2 services">
                                    <a class="anMenucls" parentid="liMenu_Mobility" href="javascript:void(0);" data="@Url.Content("~/CRP/Accounts?type=" + ((int)MobileRegType.DeviceCRP))" >
                                        <div class="is-submenu-text">
                                            CRP</div>
                                    </a>
                                </div>
                                }
                                if (Session["PPID"].ToString2() == "E")
                                {
                                //26022015 - Anthony - Extra Ten Decommission + Remove Manage Extra Ten Menu
                                /*
                                <div class="tooltip2 services">
                                    <a  parentid="liMenu_Mobility" href="javascript:void(0);" data="@Url.Content("~/ExtraTen/AccountsList")">
                                        <div class="is-submenu-text">
                                            Manage Extra TEN</div>
                                    </a>
                                </div>
                                */
                                }
                                if (Session["PPID"].ToString2() != string.Empty && Session["PPID"].ToString2() != "IU")
                                {
                                <div class="tooltip2 services">
                                    <a isMnp="1" class="anMenucls" parentid="liMenu_Mobility" href="javascript:void(0)" data="@Url.Content("~/MNP/EnterDetails")" >
                                        <div class="is-submenu-text">
                                            MNP</div>
                                    </a>
                                </div>
                                <div class="tooltip2 services">
                                    <a isMnp="1" class="anMenucls" parentid="liMenu_Mobility" href="javascript:void(0)" data="@Url.Content("~/MNP/StatusTracking")" >
                                        <div class="is-submenu-text">
                                            Status Tracking</div>
                                    </a>
                                </div>
                                }
                            }
                            if (Session["SR_PPIDCheck"].ToString2() == "E" || Session["isOnlyPREGSMSIMReplace"].ToString2() == "Y")
                            {
                                if (Session["HardStop"].ToString2() != "True" && Session["IsDealer"].ToString2() == "False")
                                {

                                    //OutRight Device Sales
                                  <div class="tooltip2 services">
                                    <a  class="anMenucls" parentid="liMenu_Mobility" href="javascript:void(0);" data="@Url.Content("~/DeviceSales/Accounts")" >
                                        <div class="is-submenu-text">
                                            Outright Device</div>
                                    </a>
                                </div>
                        
                                }
                            }
                            if (Roles.IsUserInRole("MREG_TL"))
                            {

                                string dashUrl = "~/Registration/StoreKeeper";
                                                          
                                <div class="tooltip2 services">
                                <a class="anMenucls" parentid="liMenu_Mobility" href="javascript:void(0)" data=""   onclick="SetMenuOption('@Url.Content(dashUrl)','liMenu_Mobility');">
                                    <div class="is-submenu-text">
                                        View Orders</div>
                                </a>
                            </div>
                            }
                        }

                         </ul>   
                         <li class="wrappers smeiservices" id="liMenu_SMEI" onclick="tooltips('smeiservices');"><span class="is-icon-tab smeiservices">
                    </span></li>
                        
                        <ul>
                        @if (Session["PPID"].ToString2() != string.Empty && Session["WriteOffHardstop"].ToString2() != "True" && Session[Online.Registration.Web.CommonEnum.SessionKey.FxInternalCheckMessage.ToString()].ToString2() != "One or more acct have been written off. Please collect outstanding amount.")
                            {
                        <div class="tooltip2 smeiservices">
                            <a class="anMenucls" isMnp="1"  parentid="liMenu_SMEI" href="javascript:void(0)" data="@Url.Content("~/Home/BRNSearch?type=" + ((int)MobileRegType.PlanOnly))" >
                                <div class="is-submenu-text">
                                    Plan</div>
                            </a>
                        </div>
                        <div class="tooltip2 smeiservices">
                            <a class="anMenucls" parentid="liMenu_SMEI" href="javascript:void(0)" data="@Url.Content("~/Home/BRNSearch?type=" + ((int)MobileRegType.DevicePlan))"  >
                                <div class="is-submenu-text">
                                    Device + Plan</div>
                            </a>
                        </div>
                                                                                                 <div class="tooltip2 smeiservices">
                            <a isMnp="1" class="anMenucls" parentid="liMenu_SMEI" href="javascript:void(0)" data="@Url.Content("~/Home/BRNSearch?type=" + ((int)MobileRegType.MNPPlanOnly))" >
                                <div class="is-submenu-text">
                                    MNP</div>
                            </a>
                        </div>
                         
                            }
                            @if (Roles.IsUserInRole("MREG_TL"))
                            {
                                string dashUrl = "~/Registration/StoreKeeper";
                        
                                <div class="tooltip2 services">
                                    <a class="anMenucls" parentid="liMenu_Mobility" href="javascript:void(0)" data=""   onclick="SetMenuOption('@Url.Content(dashUrl)','liMenu_Mobility');">
                                        <div class="is-submenu-text">
                                            View Orders</div>
                                    </a>
                                </div>
                            }
                        </ul>

                        if (Roles.IsUserInRole("MREG_HQ") || Roles.IsUserInRole("MREG_DAB"))
                        {

                            string dashUrl = "~/Registration/SuperVisorForWaiveOff?RefreshSession=1";
                    
                      <li class="wrappers DashBoard" id="liMenu_DashBoard" onclick="tooltips('DashBoard');"><span class="is-icon-tab DashBoard">
                    </span></li>
                    <div class="tooltip2 DashBoard">
                        <a href="javascript:void(0)"  parentid="liMenu_DashBoard"  onclick="SetMenuOption('@Url.Content(dashUrl)','liMenu_DashBoard');">
                            <div class="is-submenu-text">
                                Dash Board</div>
                        </a>
                    </div>
                        }

                        if ((Roles.IsUserInRole("SMRT_USER") || Roles.IsUserInRole("SMRT_MANAGER")))
                        {
                             <li class="wrappers smart" id="limenu_Smart" onclick="tooltips('smart');"><span class="is-icon-tab smart">
                        </span></li> 
                            if (Session["PPID"].ToString2() != string.Empty && Session["PPID"].ToString2() != "IU" && Session["isOnlyPREGSMSIMReplace"] == null)
                            {
                        <div class="tooltip2 smart">
                            <a class="anMenucls" id="anclimenu_Smart"  parentid="limenu_Smart" href="javascript:void(0)" data="@Url.Content("~/Retention/Retention/Accounts?type=" + ((int)MobileRegType.DeviceCRP))" >
                                <div class="is-submenu-text">
                                    Smart Services</div>
                            </a>
                        </div>
                            }

                        }

                        string urlprint = "~/Registration/GetDMEPrintList";
                            
                        <li class="wrappers printDME" id="liMenu_Search2" onclick="tooltips('printDME');"><span
                            class="is-icon-tab printDME"></span></li>
                        <div class="tooltip2 printDME">
                            <a href="javascript:void();" parentid="liMenu_Search" onclick="SetMenuOption('@Url.Content(urlprint)','liMenu_Search2');"  id="liMenu_Search2">
                                <div class="is-submenu-text">
                                    Print</div>
                            </a>
                        </div>
                        //end of joshi

                        if (Roles.IsUserInRole("SMRT_MANAGER") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("MREG_SV") || Roles.IsUserInRole("SMRT_SK") || Roles.IsUserInRole("MREG_SK") || Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DIC") || Roles.IsUserInRole("MREG_DSK"))
                        {
                                                                                                      
                         <li class="wrappers inventory"  id="liMenu_Sk" onclick="tooltips('inventory');"><span class="is-icon-tab inventory">
                        </span></li>
                        <div class="tooltip2 inventory">
                            <a href="javascript:void(0)"  onclick="SetMenuOption('@Url.Content("~/Registration/StoreKeeper")','liMenu_Sk');"  >
                                <div class="is-submenu-text">
                                    Inventory</div>
                            </a>
                        </div>

                        }

                        if (Roles.IsUserInRole("SMRT_MANAGER") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("SMRT_CAS") || Roles.IsUserInRole("MREG_CH") || Roles.IsUserInRole("MREG_DIC") || Roles.IsUserInRole("MREG_DAC") || Roles.IsUserInRole("MREG_DCH"))
                        {
                                                                                                      
                        <li class="wrappers cashier" id="liMenu_Cashier"  onclick="tooltips('cashier');"><span class="is-icon-tab cashier">
                        </span></li>   
                        <div class="tooltip2 cashier">
                            <a href="javascript:void(0)"   onclick="SetMenuOption('@Url.Content("~/Registration/Cashier")','liMenu_Cashier');"  >
                                <div class="is-submenu-text">
                                    Cashier</div>
                            </a>
                        </div>	
                        }
                        if (Session["IsDealer"].ToBool() == true)
                        {
                                                                                                          
                       <li class="wrappers miscellaneous" id="liMenu_Misce"  onclick="tooltips('miscellaneous');" >
                       <span class="is-icon-tab miscellaneous"></span>
                       </li>   
                        <div class="tooltip2 miscellaneous">
                            <a href="https://dealernet.maxis.com.my"   target="_blank" >
                                <div class="is-submenu-text">
                                    Miscellaneous</div>
                            </a>
                        </div>	
                                                                                                          
                                                                                                           
                        }
                    }

                    else
                    {


                        if (Roles.IsUserInRole("SMRT_MANAGER") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("MREG_SV") || Roles.IsUserInRole("SMRT_SK") || Roles.IsUserInRole("MREG_SK") || Roles.IsUserInRole("MREG_DAI"))
                        {
                        <li class="wrappers inventory selected" id="liMenu_Sk" onclick="tooltips('inventory');"><span class="is-icon-tab inventory" >
                        </span></li>
                        <div class="tooltip2 inventory">
                            <a href="javascript:void(0)"  onclick="SetMenuOption('@Url.Content("~/Registration/StoreKeeper")','liMenu_Sk');"  >
                                <div class="is-submenu-text">
                                    Inventory</div>
                            </a>
                        </div>
                     
                        }
                        if (Roles.IsUserInRole("SMRT_MANAGER") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("SMRT_CAS") || Roles.IsUserInRole("MREG_CH") || Roles.IsUserInRole("MREG_DIC") || Roles.IsUserInRole("MREG_DCH"))
                        {
                        <li class="wrappers cashier selected" id="liMenu_Cashier"  onclick="tooltips('cashier');"><span class="is-icon-tab cashier">
                        </span></li>   
                        <div class="tooltip2 cashier">
                            <a href="javascript:void(0)"    onclick="SetMenuOption('@Url.Content("~/Registration/Cashier")','liMenu_Cashier');"  >
                                <div class="is-submenu-text">
                                    Cashier</div>
                            </a>
                        </div>	
                        }
                    }
                </ul>
            </div>
            @RenderBody()
        </div>
    </div>
    @{
        Html.Telerik().Window()
               .Name("infoWindow")
               .Title("iSELL V1.1b.0")
               .Width(505)
               .Content(@<text>
        <div class="aboutus-content">
            <div class="aboutus-inn">
                <p>
                    iSELL Retail is an initiative from Maxis ISD for equipping the Maxis retail centers
                    with software that eases and speeds up the process of registrations. The feature
                    list for first release V1.1b.0 is:</p>
                <ul>
                    <li>New Registrations</li>
                    <ul>
                        <li>Plan</li>
                        <li>Plan with Device</li>
                        <li>New Lines</li>
                    </ul>
                    <li>Eligibility Checks</li>
                    <li>Personal identification checks</li>
                    <li>Retention Services</li>
                </ul>
                <p>
                    iSELL has been designed and developed by Maxis ISD in partnership with ValueLabs</p>
                    <br />
                    <p>
                    Build Number: @System.Configuration.ConfigurationManager.AppSettings["BuildNumber"]
                    </p>
            </div>
        </div>
        </text>)
           .Modal(true)
           .Visible(false)
           .Height(270)
           .Render();  
        }
    <script type="text/javascript" language="javascript">
        function tooltips(target) {
            jQuery(".tooltip2").removeClass('focus');
            jQuery(".tooltip2." + target).addClass('focus');
            setTimeout(function () {
                jQuery(".tooltip2").removeClass('focus');
            }, 5000);

            jQuery(".wrappers").removeClass('focus');
            jQuery(".wrappers." + target).addClass('focus');
            setTimeout(function () {
                jQuery(".wrappers").removeClass('focus');
            }, 5000);
        }
        
	 
	 
    </script>
    <script type="text/javascript" language="javascript" >

        jQuery(function () {
            jQuery("#ui-accordion").accordion({
                autoHeight: false
            });
            $("#ui-accordion").accordion("option", "icons",
        		{ 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });

            jQuery(".ui-search").accordion({
                autoHeight: false,
                collapsible: true,
                active: false
            });
            $(".ui-search").accordion("option", "icons",
        		{ 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });

            if (document.getElementById('h3PayableSec') != null) {
                $('h3#h3PayableSec').click();
            }

        });
    </script>
    <script type="text/javascript" language="javascript">

        jQuery(document).ready(function () {

            $('#ancInfo').click(function () {
                $('#infoWindow').data('tWindow').center().open();
            });
            var urlSession = '@(Url.Content("~/Home/SetVariable"))';

            $('#aValidation').click(function () {
                $.post(urlSession,
           { value: 'Validation' }, function (data) {
               return false;
           });

            });


            $('#aOrder').click(function () {
                $.post(urlSession,
            { value: 'OrderSummary' }, function (data) {
                //alert("Success " + data.success);
                return false;
            });

            });
        });
   
    </script>
    @{                    
        Html.Telerik()
            .ScriptRegistrar()
            .DefaultGroup(grp => grp
                .Add("jquery.validate.min.js")
                .Add("jquery.validate.unobtrusive.min.js")
                .Add("jquery.unobtrusive-ajax.js")
                .Add("jquery-ui-1.8.20.min.js")
                .Add("ZeroClipboard.js")
                .Add("jquery.blockUI.js")
                .Add("modernizr-2.5.3.js")
                .Add("jquery-ui-timepicker-addon.js")
                .Add("flashcanvas.js")
                .Add("jSignature.min.js")
                .Add("jquery.ui.core.js")
                .Add("jquery.ui.widget.js")
                .Add("jquery.ui.rcarousel.js")
                .Add("jquery.tabletojson.min.js")
                .Add("scripts.js")
                .Add("core.js")
            ).Render();
    }
    <script type="text/javascript">
        function numbersonly(e, decimal) {
            var key;
            var keychar;

            if (window.event) {
                key = window.event.keyCode;
            }
            else if (e) {
                key = e.which;
            }
            else {
                return true;
            }
            keychar = String.fromCharCode(key);

            if ((key == null) || (key == 0) || (key == 8) || (key == 9) || (key == 13) || (key == 27)) {
                return true;
            }
            else if ((("0123456789").indexOf(keychar) > -1)) {
                return true;
            }
            else if (decimal && (keychar == ".")) {
                return true;
            }
            else {
                return false;
            }
        }

        function isNumber(s) {
            return /^-?\d+$/.test(s);
        }

        $(document).ready(function () {
            var LoadImgPath = '@Url.Content("~/Content/img/shared/iSELL-loading.gif")';
            var isonformsubmit = "False";
            $(document).ajaxStart(function () {
                $.blockUI({
                    baseZ: 11000,
                    message: '<div class="LoderDiv"><img id="imgloading" src=' + LoadImgPath + ' /><br><span style="font-family: Verdana,Geneva,sans-serif;font-size: 20px;">Loading...</span></div>'
                });
                setTimeout("$('#imgloading').attr('src', '" + LoadImgPath + "' );", 1);
            }).ajaxStop(function () {
                if (isonformsubmit == "False") {
                    $.unblockUI();
                }
            });

            $(".overlayonsubmit").on("submit", function () {
                if ($(this).valid()) {
                    $.blockUI({
                        baseZ: 11000,
                        message: '<div class="LoderDiv"><img id="imgloading" src=' + LoadImgPath + ' /><br><span style="font-family: Verdana,Geneva,sans-serif;font-size: 20px;">' + $(this).attr("processmsg") + '</span></div>'
                    });
                    setTimeout("$('#imgloading').attr('src', '" + LoadImgPath + "' );", 1);
                    isonformsubmit = "True";
                }
            });

            $('.cancel').click(function () {
                $.data($(this).parents('form')[0], 'validator', null);
            });

            if ($("#viewBody").length > 0 && $(".viewInnerBody").length > 0) {
                $('.viewInnerBody').height($('#viewBody').height() + 90);

                if ($(".orderSummary .content").length > 0) {
                    $('.orderSummary .content').height($('.viewInnerBody').height() - 50);
                }
            }



            $(".is-submenu a").click(function () {

                var curUrl = $(this).attr("data");
                if (curUrl.toString().indexOf('dealernet.maxis') > 0) {
                    return true;
                    //window.open(curUrl,  '_blank');
                }
                var PPID = '@(SessionManager.Get("PPID"))';
                if ('@(SessionManager.Get("Fraudmessage"))' == "One or more accounts have been tagged as In-Fraud.") {
                    // alert("One or more accounts have been tagged as In-Fraud.");
                    if (curUrl.toString().indexOf("DeviceSales/Accounts") == -1) {
                        return false;
                    }

                }

                if ('@Session["PPID"].ToString2()' != "E" && $(this).attr("parentid").toString().indexOf('_Smart') != -1) {
                    alert("Please Select an Account.");
                    return false;
                }
                if ('@menuType' == '@((int)MenuType.MNPRegistration)') {
                    var isMnp = $(this).attr("isMnp");
                    if (isMnp == null) {
                        alert("Not Allowed.");
                        return false;
                    }

                }
                else if ('@menuType' == '@((int)MenuType.MNPPlanWithMultiSuppline)') {
                    var isMultipleMnp = $(this).attr("isMultipleMNP");
                    if (isMultipleMnp == null) {
                        alert("Not Allowed.");
                        return false;
                    }
                }
                var VIP = ''
                if (curUrl != '') {
                    if (PPID == '') {
                        if (curUrl.toString().indexOf("DeviceSales") == -1) {
                            alert("Identity check is not performed.");

                        }
                        else {
                            alert("Customer Information not found Please proceed with another .");
                        }
                        return false;
                    }

                    else if ('@(SessionManager.Get("VIP"))' != null && '@(SessionManager.Get("VIP"))' != '') {
                        VIP = '@(SessionManager.Get("VIP"))';
                    }

                    if (VIP == '*****') {
                        //alert("VIP account needs approval, please proceed with another account.");
                        return false;
                    }


                    else {
                        //Post the menu id
                        var postUrl = '@(Url.Content("~/Home/SaveMenuOption"))';
                        $.post(postUrl, { curMenu: $(this).attr("parentid").toString() }, function (data) {
                            //alert(curUrl);
                            //return true;
                            if ('@isDealer' == "True") {
                                if (!data.BREStatus && data.isMenuSuccess) {
                                    window.location = curUrl;
                                }
                                else if (data.BREStatus) {
                                    var BREFailedRules = data.BREFailedRules;
                                    alert( BREFailedRules + " failed. You cannot proceed with the Registration");
                                    var postUrl1 = '@(Url.Content("~/Home/Index"))';
                                    window.location = postUrl1;
                                }
                            }
                            else if (data.isMenuSuccess) {
                                window.location = curUrl;
                            }

                        });
                    }
                }
                return false;
            });


            $(".anMenucls").click(function () {
                var curUrl = $(this).attr("data");
                if ('@Session["PPID"].ToString2()' != "E" && $(this).attr("id") != null && $(this).attr("id").toString().indexOf('_Smart') != -1) {
                    alert("Please Select an Account.");
                    return false;
                }
                if ('@menuType' == '@((int)MenuType.MNPRegistration)') {
                    var isMnp = $(this).attr("isMnp");
                    if (isMnp == null) {
                        alert("Not Allowed.");
                        return false;
                    }

                }
                var VIP = ''
                if (curUrl != '') {
                    var PPID = '@(SessionManager.Get("PPID"))';
                    if (PPID == '') {
                        alert("Identity check is not performed.");
                        return false;
                    }
                    else if ('@(SessionManager.Get("VIP"))' != null && '@(SessionManager.Get("VIP"))' != '') {
                        VIP = '@(SessionManager.Get("VIP"))';
                    }
                    if (VIP == '*****') {
                        //alert("VIP account needs approval, please proceed with another account.");
                        return false;
                    }
                    else {
                        //Post the menu id
                        var postUrl = '@(Url.Content("~/Home/SaveMenuOption"))';
                        $.post(postUrl, { curMenu: $(this).attr("parentid").toString() }, function (data) {
                            //return true;
                            if (data.isMenuSuccess) {
                                window.location = curUrl;
                            }
                        });
                    }
                }
                return false;
            });
            $('.isell-logo').focus();
        });

        window.history.forward();
        function noBack() { window.history.forward(); }


        function SetMenuOption(navUrl, objCurParentMenu) {
            //Post the menu id
            var postUrl = '@(Url.Content("~/Home/SaveMenuOption"))';
            $.post(postUrl, { curMenu: objCurParentMenu }, function (data) {
                if (data.isMenuSuccess) {
                    window.location = navUrl;
                }
                // window.location = navUrl;
            });

        }

        var curMenu = '@Session["SaveMenuOption"].ToString2()';
        if (curMenu == '') {

            if ($('#ulMenuTab').css('display') == 'none') {
                if ($('#ancMenu_Sk').hasClass("selected").toString() == "true") {
                    curMenu = "ancMenu_Sk";
                }
                else if ($('#ancMenu_Cash').hasClass("selected").toString() == "true") {
                    curMenu = "ancMenu_Cash";


                }
                else {
                    curMenu = "ancMenu_Search";
                }
            }
            else {
                if ($('#liMenu_Sk').hasClass("selected").toString() == "true") {
                    curMenu = "liMenu_Sk";
                }
                else if
                ($('#liMenu_Cashier').hasClass("selected").toString() == "true") {
                    curMenu = "liMenu_Cashier";

                }
                else {
                    curMenu = "liMenu_Search";
                }
            }

        }
        if ($('#ulMenuTab').css('display') == 'none') {
            $('a[id^="ancMenu_"]').removeClass('selected');
        }
        else {
            $(".anMenucls").removeClass('selected');
        }
        if (document.getElementById(curMenu) != null) {
            $('#' + curMenu).addClass('selected');
        }



        $("#ancMenu_Mobility").live("click", function () {
            isPPIdCheckPerformed();
        });

        $("#ancMenu_Smart").live("click", function () {
            isPPIdCheckPerformed();
        });


        $("#liMenu_Mobility").live("click", function () {
            isPPIdCheckPerformed();
        });
        $("#liMenu_SMEI").live("click", function () {
            isPPIdCheckPerformed();
        });

        $("#limenu_Smart").live("click", function () {
            isPPIdCheckPerformed();
        });

        $("#ancMenu_SMEI").live("click", function () {
            isPPIdCheckPerformed();
        });

        function isPPIdCheckPerformed() {
            var PPIdCheck = '@Session["PPID"].ToString2()';
            if (PPIdCheck == '') {
                alert("Identity check is not performed.");
                return false;
            }
            else {
                return true;
            }
        }
       
      
    </script>
    @RenderSection("Scripts", false)
</body>
</html>
