﻿@using SNT.Utility;

@{
    
    string modalID = ViewData["ModalIDmdp"] != null ? ViewData["ModalIDmdp"].ToString2() : "mdp-popup";
    string currentMDP = ViewData["CurrentMDP"] != null ? ViewData["CurrentMDP"].ToString2() : null;
    string allowedMDP = ViewData["AllowedMDP"] != null ? ViewData["AllowedMDP"].ToString2() : null;
    string deviceModelId = ViewData["deviceModelId"] != null ? ViewData["deviceModelId"].ToString2() : null;
    string dfUpgradeFeeVas = ViewData["dfUpgradeFeeVas"] != null ? ViewData["dfUpgradeFeeVas"].ToString2() : null;
    bool deviceFinancingFlag = ViewData["deviceFinancingFlag"].ToBool();
}


<div class="modal fade" id="mdp-popup" tabindex="-1" role="dialog" aria-labelledby="plan-details" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="col-sm-12 col-xs-12 modal-content">
            <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size:19px" ><span aria-hidden="true">Close</span></button>*@
                <h4 class="modal-title pega-header">Maxis Device Protection (MDP)</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 col-xs-12" style="font-size : 18px">Maxis Device Protection will be updated with the new device details</div>
            </div>
            <div class="col-sm-12 col-xs-12 modal-footer">
                <div class="btn isell-btn" style="width: 100px" id="btnYes" >Proceed</div>  
                <div class="btn isell-btn" style="width: 120px; float:right" id="btnNo" >Unsubscribe</div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        

    });

    var currentMDPCompId = "";
    var currentMDPKenanCode = "";
    var allowedMDPCompId = "";
    var allowedMDPKenanCode = "";
    var dfCompId = "";
    var dfKenanCode = "";

    currentMDPCompId = '@(currentMDP)'.split('_')[0];
    currentMDPKenanCode = '@(currentMDP)'.split('_')[1];
    if ('@(allowedMDP)' != null) {
        allowedMDPCompId = '@(allowedMDP)'.split('_')[0];
        allowedMDPKenanCode = '@(allowedMDP)'.split('_')[1];
    }
    if ('@(dfUpgradeFeeVas)' != null) {
        dfCompId = '@(dfUpgradeFeeVas)'.split('_')[0];
        dfKenanCode = '@(dfUpgradeFeeVas)'.split('_')[1];
    }

    $('#btnYes').click(function () {
        debugger;
        $('#mdp_decision').val("Yes");
        if (allowedMDPCompId != "") {

            //remove existing MDP
            var price = $('#' + currentMDPCompId).attr('data-price');
            var objGroupId = $('#' + currentMDPCompId).attr('data-objGroupId');
            var componentName = $('#' + currentMDPCompId).attr('data-ComponentName');
            var thisObj = $('#' + currentMDPCompId)[0];

            removeVas(currentMDPCompId, thisObj, componentName, price, objGroupId);

            //add new MDP
            var allowprice = $('#' + allowedMDPCompId).attr('data-price');
            var allowobjGroupId = $('#' + allowedMDPCompId).attr('data-objGroupId');
            var allowcomponentName = $('#' + allowedMDPCompId).attr('data-ComponentName');
            var allowthisObj = $('#' + allowedMDPCompId)[0];
            allowthisObj.checked = true;

            addedVas(allowedMDPCompId, allowthisObj, allowobjGroupId, allowcomponentName, allowprice, allowedMDPKenanCode);
        }

        if ('@deviceFinancingFlag' == 'True' && dfCompId != "") {
            // remove df
            //$('#' + dfCompId).prop("checked", false);
            var dfprice = $('#' + dfCompId).attr('data-price');
            var dfobjGroupId = $('#' + dfCompId).attr('data-objGroupId');
            var dfcomponentName = $('#' + dfCompId).attr('data-ComponentName');
            var dfthisObj = $('#' + dfCompId)[0];

            addedVas(dfCompId, dfthisObj, dfobjGroupId, dfcomponentName, dfprice, dfKenanCode);
        }

        $('#' + '@modalID').modal('hide');

    });


    $('#btnNo').click(function () {
        debugger;
        $('#mdp_decision').val("No");
        //$('#' + currentMDPCompId).prop("checked", false);

        var price = $('#' + currentMDPCompId).attr('data-price');
        var objGroupId = $('#' + currentMDPCompId).attr('data-objGroupId');
        var componentName = $('#' + currentMDPCompId).attr('data-ComponentName');
        var thisObj = $('#' + currentMDPCompId)[0];

        removeVas(currentMDPCompId, thisObj, componentName, price, objGroupId);

        var allowprice = $('#' + allowedMDPCompId).attr('data-price');
        var allowobjGroupId = $('#' + allowedMDPCompId).attr('data-objGroupId');
        var allowcomponentName = $('#' + allowedMDPCompId).attr('data-ComponentName');
        var allowthisObj = $('#' + allowedMDPCompId)[0];

        if (allowedMDPCompId != "" && $('#' + allowedMDPCompId).hasClass('selected-vas')) {
            addedVas(allowedMDPCompId, allowthisObj, allowobjGroupId, allowcomponentName, allowprice, allowedMDPKenanCode);
        }

        $('#' + '@modalID').modal('hide');

    });

    

</script>
