﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.SubscriberICService;
@model Online.Registration.Web.ViewModels.MobileNoVM


            @{
              Html.RenderPartial("_AccountHolderName");
             }

            <div class="row">
                <div class="col-sm-12 green-bg">
                    <p class="font-24">
                        @if (Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan)
                        {
                            @: Add a Plan & Device
                        }
                        else
                        {
                            @:Add a Plan

                        }
                      
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="steps">
                        <li class="shownum">
                            <div class="selected">
                                1</div>
                            <p>
                                My Order</p>
                        </li>
                        <li>
                            <div class="line">
                            </div>
                        </li>
                        <li class="shownum">
                            <div class="num">
                                2</div>
                            <p>
                                My Details</p>
                        </li>
                        <li>
                            <div class="line">
                            </div>
                        </li>
                        <li class="shownum">
                            <div class="num">
                                3</div>
                            <p>
                                Order Summary</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 grey-bg">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs line-tab" role="tablist">
                        <li class="active"><a href="#principle" role="tab" data-toggle="tab">
                          @if (@Convert.ToString(ViewBag.Flow) == "Registration" || @Convert.ToString(ViewBag.Flow) == "Newline")
                          {
                              @Constants.PRINCIPAL_LINE
                          }
                          else if(@Convert.ToString(ViewBag.Flow) == "Suppline" )
                          {
                              @Constants.SUPPLEMENTARY_LINE
                          }
                        </a><span
                            class="active-green-arrow"></span></li>
                    </ul>
                </div>
            </div>
