﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.SubscriberICService;
@model Online.Registration.Web.ViewModels.MobileNoVM
<meta content="telephone=no" name="format-detection">
@{
    var invchk = !ReferenceEquals(Request.QueryString["invchk"], null) ? Request.QueryString["invchk"] : "True";
    var orderVM = new OrderSummaryVM();
    if ((OrderSummaryVM)Session["RegMobileReg_OrderSummary"] != null)
    {
        orderVM = (OrderSummaryVM)Session["RegMobileReg_OrderSummary"];
    }

    bool isMsimSelected = false;
    string msismType = "";
    var dropObj = (Online.Registration.Web.Models.DropFourObj)Session[Online.Registration.Web.CommonEnum.SessionKey.DropFourObj.ToString()];
    if (dropObj != null && dropObj.msimIndex > 0)
    {
        isMsimSelected = true;
        msismType = dropObj.msimFlow[0].simSize;
    }
    bool eligibleForMISM = Session["eligibleForMISM"].ToBool();

    // 20141202 - Implement number of lines + contract validation - start
    dropObj.allCustomerDetails = (retrieveAcctListByICResponse)SessionManager.Get("AllServiceDetails");
    // 20141202 - Implement number of lines + contract validation - end
    bool allowedAnotherSupp = true;
    if (dropObj != null)
    {
        // if suppline already at maximum supp number then prevent them to add another supp.
        if (dropObj.maxSupp == dropObj.suppIndex)
        {
            allowedAnotherSupp = false;
        }
    }
    var simCardSizeList = Util.GetList(RefType.SIMCardType);
    
    
    <div class="row">
        <div class="col-sm-12">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="principle">
                    <div class="row">
                        <div class="col-sm-12">
                            @{
                                if (@Convert.ToString(ViewBag.Flow) == "Registration" || @Convert.ToString(ViewBag.Flow) == "Newline")
                                {
                                <p class="device-title">
                                    <span>Step 03:</span> Please select a Number</p>
                                }
                                else if (@Convert.ToString(ViewBag.Flow) == "Suppline")
                                {
                                <p class="device-title">
                                    <span>Step 03:</span> Please select a Number</p>
                                }  
                            }
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-sm-12">
                            @{
                                var GSTnotif = ViewData["GSTnotif"] != null ? ViewData["GSTnotif"].ToString() : null;
                            }
                                <p class="font-16">@(GSTnotif)</p>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="dvErrorSearch" class="ErrorClass" style="color: #ff0000; font-weight: bold;">
                                @ViewBag.SearchError
                            </div>
                        </div>
                    </div>
                    <div class="content_white" style="padding: 1px 1px 10px 40px">
                        @Html.ValidationSummary(false)
                        <div id="dvError" class="ErrorClass" style="color: #ff0000; font-weight: bold;">
                            @(ViewBag.errReserve)
                        </div>
                        @if (invchk == "False")
                        {
                            <text>
                            <div id="dvMSISDNErr" style="display: block; color: #ff0000; font-weight: bold; margin-left: 30px;">
                                Selected MSISDN is already reserved, please select another number !</div></text>
                        }
                        
                    </div>
                    <div class="row border-top">
                        <div class="col-sm-3" style="width:22%;">
                            <div class="row sel-num">
                                <div class="col-sm-12">
                                    <h5>
                                        Filter Options</h5>
                                    <p>
                                        Desired Number</p>
                                </div>
                                <div class="col-sm-12">
                                    <div class="input-group drop-down-num">
                                        <!-- dropdown select brand -->
                                        <div class="input-group-btn number-type">
                                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby filter-device"
                                                type="button" id="ddlPrefixSelected">
                                                Prefix<span class="drop-arrow"></span></button>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="ddlPrefixlist">
                                                <li><a href="#" data-value="11">011</a></li>
                                                <li><a href="#" data-value="12">012</a></li>
                                                <li><a href="#" data-value="14">014</a></li>
                                                <li><a href="#" data-value="17">017</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <form role="search" class="navbar-form search-number">
                                    <div class="form-group" style="width: 100% !important">
                                        <input id="DesireNoSelected" type="text" placeholder="Enter Number" class="form-control search-box search-num"
                                            onkeypress="return isNumberKey(event);" style="width: 100% !important">
                                        <button id="btnSearch" class="btn btn-defadivt search-icon" type="submit" onclick="$('#reserveNumber').val('');return ValidateDesireNo();">
                                        </button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 del-left-pad" style="width:48%;">
                            <div class="col-sm-12 choose-num">
                                <ul class="number-list" style="padding-left: 0px">
                                    @Html.HiddenFor(model => model.SelectedMobileNo)
                                    @{
                                        int countID = 0;
                                        foreach (var mobileNo in Model.AvailableMobileNos)
                                        {
                                            string selectno = "selectNo_" + countID.ToString();
                                        <li class="col-sm-6">
                                            <div id=@selectno value=@mobileNo class="no-list" style="padding-left: 3px !important" onclick="SelectedMobile(this,'@mobileNo');">@mobileNo</div>
                                        </li>
                                            countID++;
                                        }
                                        countID = 0;
                                    }
                                </ul>
                            </div>
                            <div class="col-sm-12 reserved"> 
                                <p class="reserve-txt">
                                    I have a reserved number:</p>
                            </div>
                            <div class="col-sm-12">
                                @{
                                    if (Roles.IsUserInRole("MREG_CUSR"))
                                    { 
                                        <div class="col-sm-5">
                                            <input id="reserveNumberCDPU" type="text" placeholder="Enter Number" class="form-control search-box search-num"
                                                    onkeypress="return isNumberKey(event);" style="width: 100% !important">
                                        </div>
                                        <div class="col-sm-4">
                                            <input id="salesChannelIDCDPU" type="text" placeholder="Agent Code" class="form-control search-box search-num" style="width: 100% !important">
                                        </div>
                                        
                                        <div class="col-sm-3">
                                            <button id="btnSearchReservedCDPU" class="btn isell-next" type="submit" onclick="$('#DesireNoSelected').val('');" >Search</button>
                                        </div>    
                                    
                                    }
                                    else
                                    { 
                                    
                                    <div class="form-group">
                                        <input id="reserveNumber" type="text" placeholder="Enter Number" class="form-control search-box search-num"
                                                onkeypress="return isNumberKey(event);" style="width: 100% !important">
                                            <button id="btnSearchReserved" class="btn btn-defadivt search-icon" type="submit" onclick="$('#DesireNoSelected').val('');return ValidateDesireNo();">
                                            </button>
                                    </div>
                                    
                                    }
                                }

                                
                                
                            </div>
                            <div class="col-sm-12 reserved">
                                <p class="reserve-txt">
                                    Select SIM Type:</p>
                            </div>
                            <div class="col-sm-12" style="margin-top: 20px">
                                <ul class="select-sim" style="padding-left: 0px">
                                @if (simCardSizeList != null && simCardSizeList.Where(x => x.Value == "Nano").Any())
                                {
                                    <li class="col-sm-6" onclick="SelectedSimType('Nano');"><a>
                                        <div style="padding-left: 0px; padding-right: 0px; height:auto" class="sim-list">
                                            <div class="nanosim">
                                            </div>
                                            Nano-SIM</div>
                                    </a></li>
                                }
                                @if (simCardSizeList != null && simCardSizeList.Where(x => x.Value == "Micro").Any())
                                {
                                    <li class="col-sm-6" onclick="SelectedSimType('Micro');"><a>
                                        <div style="padding-left: 0px; padding-right: 0px; height:auto" class="sim-list">
                                            <div class="microsim">
                                            </div>
                                            Micro-SIM</div>
                                    </a></li>
                                }
                                
                                @if (simCardSizeList != null && simCardSizeList.Where(x => x.Value == "Normal").Any())
                                {
                                    <li class="col-sm-6" onclick="SelectedSimType('Normal');"><a>
                                        <div style="padding-left: 0px; padding-right: 0px; height:auto" class="sim-list">
                                            <div class="normalsim">
                                            </div>
                                            Normal-SIM</div>
                                    </a></li>
                                }
                                
                                @if (simCardSizeList != null && simCardSizeList.Where(x => x.Value == "TriSIM").Any())
                                {
                                    <li class="col-sm-6" onclick="SelectedSimType('TriSIM');"><a>
                                        <div style="padding-left: 0px; padding-right: 35px; height:auto" class="sim-list">
                                            <div class="trisim">
                                            </div>
                                            Tri-SIM</div>
                                    </a></li>
                                }   
                                    
                                </ul>
                            </div>
                            <!-- pop up details -->
                            <!-- Modal plan details-->
                            <div class="modal fade" id="sim-type" tabindex="-1" role="dialog" aria-labelledby="sim-type"
                                aria-hidden="true">
                                <div class="modal-dialog  modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span class="close-btn">Close</span></button>
                                                @{
                                        if (eligibleForMISM)
                                        { 
                                                        <h4 class="modal-title usage-title">Do you want a share / supplementary or MISM?</h4>
                                        }
                                        else
                                        {
                                            if (allowedAnotherSupp)
                                            { 
                                                            <h4 class="modal-title usage-title">Do you want a share / supplementary ?</h4>
                                            }
                                            else
                                            { 
                                                             
                                                             <h4 class="modal-title usage-title">Do you want a MISM?</h4>
                                            }
                                        }
                                                 }                        
                                        </div>

                                        <div class="modal-body login-box">
                                            @{
                                        if (eligibleForMISM)
                                        { 
                                                
                                            <div class="sm-col-12 multisim">
                                                <p class="popup-title">
                                                    Add a Multisim</p>
                                            </div>
                                            <div class="sm-col-12">
                                                <ul class="select-sim multisim">
                                                    <li class="col-sm-4">
                                                        <div id="mism_nano" class="sim-list" style="margin-left: 0px; margin-right: 0px; padding-right: 0px;
                                                            padding-left: 0px; width: 140px;" onclick="selectedMsism('Nano');">
                                                            <div class="microsim">
                                                            </div>
                                                            Nano-SIM</div>
                                                    </li>
                                                    <li class="col-sm-3" style="padding-left: 0px;">
                                                        <div id="mism_micro" class="sim-list" style="margin-left: 0px; margin-right: 0px; padding-right: 0px;
                                                            padding-left: 0px; width: 140px;" onclick="selectedMsism('Micro');">
                                                            <div class="microsim">
                                                            </div>
                                                            Micro-SIM</div>
                                                    </li>
                                                    <li class="col-sm-3" style="padding-left: 0px;">
                                                        <div id="mism_normal" class="sim-list" style="margin-left: 0px; margin-right: 0px; padding-right: 0px;
                                                            padding-left: 0px; width: 160px;" onclick="selectedMsism('Normal');">
                                                            <div class="normalsim" style="margin-left: 6px; margin-right: 12px">
                                                            </div>
                                                            Normal-SIM</div>
                                                    </li>
                                                </ul>
                                                @Html.Hidden("MsismType")
                                            </div>
                                            
                                        }
                                             }
                                            <div class="clearfix">
                                            </div>

                                            <div class="sm-col-12">
                                            
                                                    </div>
                                                    <div class="sm-col-12 multisim-active">
                                            
                                            <p class="popup-title">
                                                        You have selected a <span id="simType"></span> for MISM</p>
                                                       
                                                
                                                   
                                            </div>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" width="54%"></td>
    <td align="right"><div class="sm-col-12 multisim-active">
                                                <div class="col-sm-4">
                                                    @* <p class="popup-title">
                                                        You have selected a <span id="simType"></span> for MISM</p>*@
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="btn isell-next" style="width:160px" id="removeMsimButton">
                                                        Remove
                                                    </div>
                                                </div>
                                            </div></td>
  </tr>
</table>

                                            <div class="sm-col-12">
                                            
                                            @{
                                        if (eligibleForMISM)
                                        {
                                            if (allowedAnotherSupp)
                                            {
                                                        <p class="popup-title">or add a share / supplementary line</p> 
                                            }
                                        }   
                                             }
                                              
                                                   
                                            </div>
                                            @{
                                        if (allowedAnotherSupp)
                                        { 
                                                    <div class="sm-col-12">
                                                        <ul class="popup-list">
                                                            <li class="col-sm-6">
                                                                <div class="no-list" onclick="SelectedFlow(this,'PlanNDevice');">
                                                                    Plan & device</div>
                                                            </li>
                                                            <li class="col-sm-6">
                                                                <div class="no-list" onclick="SelectedFlow(this,'Plan');">
                                                                    Plan only</div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                        }    
                                            }

                                            <div class="sm-col-12 multisim-active">
                                                
                                              @*  <div class="col-sm-4">
                                                    <div class="btn isell-next" id="removeMsimButton">
                                                        Remove
                                                    </div>
                                                </div>*@
                                            </div>
                                            <div class="clearfix">
                                            </div>
                                            <div class="sm-col-12">
                                                <p class="popup-title">
                                                    or</p>
                                            </div>
                                            <div class="sm-col-12">
                                                <ul class="popup-list">
                                                    <li class="col-sm-6">
                                                        <div class="no-list" onclick="SelectedFlow(this,'None');">
                                                            Continue</div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="clearfix">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3" style="padding-left: 5px; padding-right: 0px; width:28%;">
                            @{
                                        var GSTMark = ViewData["GSTMark"] != null ? ViewData["GSTMark"].ToString2() : "";
                                        var viewBagValue = new ViewDataDictionary();
                                        viewBagValue.Add("FxInternalCheckMessage", ViewBag.FxInternalCheckMessage == null ? "" : ViewBag.FxInternalCheckMessage);
                                        viewBagValue.Add("SearchBy", ViewBag.SearchBy == null ? "" : ViewBag.SearchBy);
                                        viewBagValue.Add("SearchValue", ViewBag.SearchValue == null ? "" : ViewBag.SearchValue);
                                        viewBagValue.Add("GSTMark", GSTMark);
                                        Html.RenderPartial("_OrderSummaryNew", orderVM, viewBagValue);       
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                    }
<script type="text/javascript">

    var isMsismSelected = '@(isMsimSelected)';
    var selectedMsismType = '@(msismType)';

    function selectedMsism(type) {
        $('#MsismType').val(type);
        $('#simType').html(type);
        $('.multisim').hide();
        $('.multisim-active').show();
    }


    function removeMsism() {
        $('#MsismType').val('');
        $('.multisim').show();
        $('.multisim-active').hide();
        $('div[id^="mism_"]').removeClass('clicked');
    }

    $(document).ready(function () {

        if (isMsismSelected == 'False') {
            $('.multisim-active').hide();
        } else {
            selectedMsism(selectedMsismType);
        }

        $('#removeMsimButton').click(function (e) {
            e.preventDefault();
            removeMsism();
        });

        $("#salesChannelIDCDPU").attr("maxlength", "12");
    });

    $('#btnSearchReservedCDPU').click(function (e) {
        e.preventDefault();
        var reserveNumber = $.trim($('#reserveNumberCDPU').val());
        var salesChannelID = $.trim($('#salesChannelIDCDPU').val());

        if (reserveNumber == '' || salesChannelID == '') {
            
            $("html, body").animate({
                scrollTop: 0
            }, "slow");

            if (reserveNumber == '') {
                $("#reserveNumberCDPU").focus();
                $('#dvError').html('Please check the reserved number');
                return false;
            }

            if (salesChannelID == '') {
                $("#salesChannelIDCDPU").focus();
                $('#dvError').html('Please check the Agent Code');
                return false;
            }
        }

        ValidateDesireNoCDPU();
    });

    function ValidateDesireNoCDPU() {
        var length = $("#DesireNoSelected").val().length;
        var reserveNumber = $.trim($('#reserveNumberCDPU').val());
        var salesChannelID = $.trim($('#salesChannelIDCDPU').val());
        
        var desire = '';
        var curReserSrc = $('#reserveNumberCDPU').val();
        if (reserveNumber != '') {
            desire = reserveNumber;
            $('#hdnNumberType').val('r');
        } else {
            desire = $("#DesireNoSelected").val();
            $('#hdnNumberType').val('n');
        }
        $('#validateAgentCode').val('true');
        $('#salesAgentCode').val(salesChannelID);
        
        var isValidMsisdn = true;
        var errorMessage = "";

        if ($('#hdnNumberType').val().toString() == "r" || $('#hdnNumberType').val().toString() == "g") {
            if (desire.length < 10 || desire.length > 12) {
                isValidMsisdn = false;
                errorMessage = "Please Enter Complete MSISDN Number."
            }
        } else {
            isValidMsisdn = ((length < 3 && length != 0) ? false : true);
            errorMessage = 'Desire No must have at least 3 digits.'
        }
        if (isValidMsisdn == false) {
            $('#dvError').html(errorMessage);
            $("#DesireNoSelected").focus();
            $("html, body").animate({
                scrollTop: 0
            }, "slow");
            return false;
        } else {
            $('#submit1').val('search');
            $('#dvError').html('');
            $('#DesireNo').val(desire);
            $("#frmSelectMobileNo").submit();
        }
    }


</script>
