﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.CommonEnum;
@model string 
          @{
              var isDealer = Convert.ToBoolean(Session["IsDealer"]);
          } 
          
<a style="text-decoration: none; border: 0;" href='javascript:void(0)' onclick="ShowPrinters('@Model')">
    <img alt="" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
    Network Print </a>
          

<script type="text/javascript">
    var baseUrl = '@Url.Content("~/")';
    if (baseUrl == '') {
        baseUrl = '/';
    }
    $(document).ready(function () {
    });

    function ShowPrinters(url) {
        if ('@(isDealer)' == "False")
        {
            $('#PrintURL').val(url);
            $('#SelectPrinterWindow').data('tWindow').center().open();
        }
    }

    function Print() {
        var StatusID = $('#StatusID').val();
        var regId = $('#RegID').val();
        var html;
        
        var PrinterName = $('#Printers :selected').text();
        if ($('#Printers :selected').text() != "-- Please Select --") {

            $("#PrintName").val(PrinterName);
            var Url = baseUrl + $('#PrintURL').val();
            $.ajax({
                url: Url,
                success: function (data) {
                    $('#PrintMobileRegsummary').val(data).html();
                    document.forms['frmMobileRegSummaryPrint'].submit();
                }
            });
        } else {
            alert('Please select the printer')
        }
    }
    function closealert() {
        $('#AlertPrint').data('tWindow').close();
    }
  
</script>
