﻿<div class="row">
    <div class="col-sm-12 col-xs-12">
        <ul class="steps">
            <li class="shownum">
                <div class="selected">
                    1</div>
                <p>
                    My Order</p>
            </li>
            <li>
                <div class="line">
                </div>
            </li>
            <li class="shownum">
                <div class="num">
                    2</div>
                <p>
                    My Details</p>
            </li>
            <li>
                <div class="line">
                </div>
            </li>
            <li class="shownum">
                <div class="num">
                    3</div>
                <p>
                    Order Summary</p>
            </li>
        </ul>
    </div>
</div>
