﻿@model Online.Registration.Web.ViewModels.PegaVM
@using SNT.Utility;
@using Online.Registration.Web.CommonEnum;
@using Online.Registration.Web.ContentRepository;
@using Online.Registration.Web.Helper;

@{
    Layout = null;
    var _ExtID = ViewData["_ExtID"];
    var _ViewID = ViewData["_ViewID"];

    List<SelectListItem> othRecList = new List<SelectListItem>();
    othRecList = Util.GetList(RefType.NBAOthRecommendations, defaultValue: Model.defaultCaseCategoryValue, selectedValue: Model.defaultCaseCategoryValue);

    var modalContentID = "modal-pega-content" + _ExtID;
    var offerListID = "pega-offer-list-" + _ExtID;
    var errorOfferListID = "pega-offer-list-error-" + _ExtID;
    var fullOfferListID = "full-pega-offer-list-" + _ExtID;
    var subscriberID = "pega-offer-" + Model.subscriberNo;
    
    // button id 
    var btnAcceptID = "pega-btn-accept-" + _ExtID;
    var btnRejectID = "pega-btn-reject-" + _ExtID;
    var btnLaterID = "pega-btn-later-" + _ExtID;
    
 }

<link rel="stylesheet" href="@Url.Content("~/Content/css/magnific-popup.css")" />

<div class="modal-dialog" style="width: 70%" id="@_ViewID">
	<div class="modal-content" style="border-radius: 10px;">
        <div class="modal-header">
            <button type="button" id="btnClose" class="close" aria-label="Close" style="font-size:19px" ><span aria-hidden="true">Close</span></button>
            <h4 class="modal-title pega-header" id="myModalLabel">
                SMART Recommendations for @_ExtID
            </h4>
        </div>
        <div class="modal-body">
            @if (Model.executeAssessmentResponse.Code != "0")
            {
                @Html.HiddenFor(m => m.subscriberNo, new { id = @subscriberID });
                <div id="@errorOfferListID">
                    @if (Model.executeAssessmentResponse.Code == "-1" && Model.executeAssessmentResponse.Message.ToUpper() == "TIMEOUT")
                    {
                        <h3 style="color: Red; font-size: 18px">System timeout when retrieving SMART recommendations.</h3>
                        <h3 style="color: Red; font-size: 18px">Please close this pop-up and proceed with order.</h3>
                    }
                    else
                    {
                        <h3 style="color: Red; font-size: 18px">@Model.executeAssessmentResponse.Message</h3>
                    }
                    <br /><br /><br />
                </div>
            }
            else
            { // get success response
                <div id="@offerListID" class="pega-offer-list" data-caseCategory="@Model.defaultCaseCategory" data-decisionid="@Model.executeAssessmentResponse.DecisionResultId">
                    @{
                        Html.RenderPartial("_PegaOfferList", Model);   
                    }
                </div>

                if (Model.executeAssessmentResponse.productList.Where(x=> x.Category == "ALL").Count() > 0)
                { 
                    <div>
                        <h3 id="@fullOfferListID" class="pega-sub-header-show-all" onclick="showAllOffer('@offerListID','@fullOfferListID')">
                            <u>See full list of recommendations</u>
                        </h3>
                    </div>    
                } 
                
            }
            
        </div>
        @if ( Model.executeAssessmentResponse.Code == "0")
        {
            if (Model.executeAssessmentResponse.productList.Count() > 0)
            {
                <div class="modal-footer">
				    <button class="btn loginBtn pegabtn" style="width: 90px" id="@btnAcceptID" data-msisdn-selected="@_ExtID" data-action="accepted">Accept</button>
				    <button class="btn isell-btn pegabtn" style="width: 90px; background: none" id="@btnRejectID" data-msisdn-selected="@_ExtID" data-action="declined">Decline</button>
				    <button class="btn isell-btn pegabtn" style="width: 90px; background: none" id="@btnLaterID" data-msisdn-selected="@_ExtID" data-action="later">Later</button>
                </div>
            }
            
            <div class="modal-body" style="padding-left:0">
                <div class="clearfix">
                    <div class="col-sm-4" style="margin-top:10px">
                        <h3 class="pega-sub-header">
                            Other Recommendations
                        </h3>
                    </div>
                    <div class="col-sm-7">
                        @*<div id="selectedOfferList-container" class="input-select-pegapopup css-select-moz">
                            @Html.DropDownListFor(m => m.defaultCaseCategory, othRecList, new { @class = "dashboard-dropdown", style = "color:#09442e; cursor:pointer; margin-top:3px", id = "selectedOfferList", @data_msisdn = @_ExtID })
                        <button class="search-icon pegabtn" type="button" style="right: -10%;" data-action="Reassess" data-msisdn-selected="@_ExtID"></button>
                        </div>*@
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby form-dropdown" type="button" id="othRecList-btn" style="height: 40px;">
                            <span id="othRecList"> @othRecList.Where(a => a.Selected == true).SingleOrDefault().Text</span>
                            <span class="drop-arrow" style="right:5%; top: 15%"></span>
                        </button>   
                        <ul class="dropdown-menu pega-rec-list-dropdown" role="menu" aria-labelledby="dLabel" id="selectedOfferList">
                            @for (var index = 0; index < othRecList.Count; index++)
                            {
                                <li><a class="cssOthRecList" href="#" data-value='@othRecList[index].Value' data-selected='@othRecList[index].Selected'>@othRecList[index].Text</a></li>
                            }
                            @Html.Hidden("selectedRecommendationsVal") 
                        </ul>
                        <button class="search-icon pegabtn" type="button" style="right: -6%;" data-action="Reassess" data-msisdn-selected="@_ExtID"></button> 
                    </div>                    

                    <div class="col-sm-1">
                    </div>
                </div>
                <div class="clearfix"><br /></div>
            </div>
        }

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#btnClose').click(function () {
            $.magnificPopup.close()
        });
        $('.pegabtn').click(function (e) {
            e.preventDefault();
            var actionButton = $(this).attr('data-action');
            var extID = $(this).attr('data-msisdn-selected');

            if (actionButton == 'Reassess') {
                refreshOfferList(this, extID);
            } else {
                responseOfferList(this, extID, actionButton);
            }
        });

        $('.cssOthRecList').each(function (i, e) {
            $(this).click(function (e) {
                e.preventDefault();
                var selectedValue = $(this).data('selected');
                var selectedCustID = $(this).data('value');
                $('#othRecList').text($(this).text());
            });
        });


    });

</script>