﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.ViewModels;
@using System.Configuration;

@{
    Layout = null;
    var isDealer = Session["IsDealer"].ToBool();
    bool IsCDPU = Util.isCDPUUser();
    string _msisdn = ViewData["_MSISDN"].ToString2();
    bool _fromOutright = ViewData["_OutRightDevice"].ToBool();
    bool _ServiceFlow = ViewData["_ServiceFlow"].ToBool();
    
    var pegaOfferList = (PegaOfferVM)Session["PegaOfferList"];
    string boxHeader = "SMART";
    string noRecommendations = "No recommendations accepted";
    bool pegaRecommendationFlag = ConfigurationManager.AppSettings["PegaRecommendationFlag"].ToBool();
}

@if (!isDealer && !IsCDPU && pegaRecommendationFlag)
{

    if (_ServiceFlow)
    {
        if (_fromOutright)
        { 
        <div style="background: #90c74d; margin-top:-10px; height:40px;">
            <h3 style="text-align:center; color:white; padding-top:10px;">SMART</h3>
        </div>
        }
        else
        {
        <ul class="tabs">
            <li style="background:#eeeeee;"><a id="SMART" style="background: #90c74d; color: white; padding: 4% 40%;">@boxHeader</a></li>
        </ul> 
        }

        <div class="tabcontents">
        @if (pegaOfferList != null && !string.IsNullOrEmpty(_msisdn) && pegaOfferList.customerOfferDetailsList.Where(x => x.msisdn == _msisdn && x.action.ToLower() == Constants.ACCEPT.ToLower()).Any())
        {
            <div style="padding: 10px 0px 10px 20px">
                <span class="txt-17-grey-normal" style="font-weight: bolder">Accepted</span>
            </div>
            foreach (var offer in pegaOfferList.customerOfferDetailsList.Where(x => x.msisdn == _msisdn && x.action.ToLower() == Constants.ACCEPT.ToLower()))
            { 
                <div style="padding: 0px 0px 10px 20px">
                    <span class="txt-16-grey-normal">@offer.offerName</span>
                </div>
            }
        }
        else
        {
            <div style="padding: 10px 0px 10px 20px">
                <span class="txt-17-grey-normal"><b>@noRecommendations</b></span>
            </div>
        }
        </div>
    }
    else
    { // this is for registration flow
        <div class="col-sm-12 order-total" style="margin-top:8%">
            <div class="col-sm-12 kill-padding" style="background:none">
                <h3 class="greenFont" style="font-size: 20px">@boxHeader</h3>
            </div>
            <div class="col-sm-12 kill-padding">
                @if (pegaOfferList != null && !string.IsNullOrEmpty(_msisdn) && pegaOfferList.customerOfferDetailsList.Where(x => x.msisdn == _msisdn && x.action.ToLower() == Constants.ACCEPT.ToLower()).Any())
                {
                    <h5 style="font-size: 18px"><b>Accepted</b></h5>
                    foreach (var offer in pegaOfferList.customerOfferDetailsList.Where(x => x.msisdn == _msisdn && x.action.ToLower() == Constants.ACCEPT.ToLower()))
                    { 
                        <h5 style="font-size: 16px">@offer.offerName</h5>
                    }
                }
                else
                { 
                    <h5 style="font-size: 16px"><b>@noRecommendations</b></h5>
                }
            
            </div>
        </div>
    }
}