﻿@model Online.Registration.Web.ViewModels.PegaVM
@using SNT.Utility;
@using Online.Registration.Web.CommonEnum;
@using Online.Registration.Web.ContentRepository;
@using Online.Registration.Web.Helper;

@{
    Layout = null;
    var _ExtID = ViewData["_ExtID"];
 }

@{
    if (!string.IsNullOrEmpty(Model.updateResponseResponse.Code) && Model.updateResponseResponse.Code != "0")
    { 
        <h3 style="color: Red !important; font-size: 18px">Technical problem occured. Failed to update to PEGA. Please try again.</h3>
    }
    if (Model.executeAssessmentResponse.productList.Count() > 0)
    {
        var topProductList = Model.executeAssessmentResponse.productList.Where(x => x.Category == "TOP").ToList();
        var allProductList = Model.executeAssessmentResponse.productList.Where(x => x.Category == "ALL").ToList();
        
        <div id="topOfferRbList">
        @if (topProductList.Count() == 0)
        { 
            <h3 id="noOfferText">There are no Top Offer exist</h3>
            
        }
        else
        { 
            for (var i = 0; i < topProductList.Count(); i++)
            {
                string rbId = "rbOffer" + "-" + _ExtID + "-" + topProductList[i].KenanCode;
                if (i == 0)
                {
                    @Html.RadioButtonFor(m => m.selectedOfferValue, topProductList[i].PrepositionID, new { @checked = "checked", @class = "form-radio firstOffer", data_displayCategory = @topProductList[i].Category, data_prepID = @topProductList[i].PrepositionID, data_offerName = @topProductList[i].Name, id = @rbId })
                    <label for="@rbId" class="stock-label" style="font-size: 18px">@topProductList[i].Name</label>
                }
                else
                { 
                    @Html.RadioButtonFor(m => m.selectedOfferValue, topProductList[i].PrepositionID, new { @class = "form-radio", data_displayCategory = @topProductList[i].Category, data_prepID = @topProductList[i].PrepositionID, data_offerName = @topProductList[i].Name, id = @rbId })
                    <label for="@rbId" class="stock-label" style="font-size: 18px">@topProductList[i].Name</label>
                }
            <br />
            }
        }
        </div>
    
        <div id="allOfferRbList">
        @for (var i = 0; i < allProductList.Count(); i++)
        {
            string rbId = "rbOffer" + "-" + _ExtID + "-" + allProductList[i].KenanCode;
            if (i == 0 && topProductList.Count() == 0)
            {
                @Html.RadioButtonFor(m => m.selectedOfferValue, allProductList[i].PrepositionID, new { @checked = "checked", @class = "form-radio firstOffer", data_displayCategory = @allProductList[i].Category, data_prepID = @allProductList[i].PrepositionID, data_offerName = @allProductList[i].Name, id = @rbId })
                <label for="@rbId" class="stock-label" style="font-size: 18px">@allProductList[i].Name</label>
            }
            else
            { 
                @Html.RadioButtonFor(m => m.selectedOfferValue, allProductList[i].PrepositionID, new { @class = "form-radio", data_displayCategory = @allProductList[i].Category, data_prepID = @allProductList[i].PrepositionID, data_offerName = @allProductList[i].Name, id = @rbId })
                <label for="@rbId" class="stock-label" style="font-size: 18px">@allProductList[i].Name</label>
            }
        <br />
        }
        </div>
    }
    else
    { 
        <h3>There are no recommended products for the current Reason Code.</h3>
        <h3>Try another Reason Code from the list below.</h3>
    }
    
}
