﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.CommonEnum;
@using Online.Registration.Web.SubscriberICService;
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
@{
    var adjustColumn = ViewData["adjustColumn"].ToString2();
    var columnClass = adjustColumn + " form paddingOverall";
    var dropObj = (Online.Registration.Web.Models.DropFourObj)Session[SessionKey.DropFourObj.ToString()];
    var kadInfoResp = (Online.Registration.Web.AMRSvc.RetrieveMyKadInfoRp)Session[SessionKey.BiometricResponse.ToString()];
    var idCardTypeID = Model.Customer.IDCardTypeID;
    var isExistingCustomer = Session[SessionKey.PPID.ToString()].ToString2() == "E";
    var salutation = isExistingCustomer ? "Salutation" : "*Salutation";
    var biometricCheck = Session["RegMobileReg_BiometricVerify"].ToBool();
    var idCardNoFromSession = Session[SessionKey.IDCardNo.ToString()].ToString2();
    var idCardTypeIDFromSession = Session[SessionKey.IDCardTypeID.ToString()].ToInt();
    var idCardTypeNameFromSession = Session[SessionKey.IDCardTypeName.ToString2()].ToString2();
    var NRICType = Util.GetIDCardTypeID(IDCARDTYPE.NRIC);
    var isLocalNewCustomer = idCardTypeIDFromSession == NRICType;
    var stateID = Model.Address != null ? Model.Address.StateID : 0;
    var disablePersonalDetails = Model.disablePersonalDetails;
}
<div class="@adjustColumn form paddingOverall">
    <div class="row">
        <div class="col-sm-4">
            <p class="inner-label">
                @(salutation)
            </p>
        </div>
        <div class="col-sm-4">
            <div class="input-group-btn number-type">
                @{
                    var listOfTitles = Util.GetList(RefType.CustomerTitle, defaultValue: isExistingCustomer ? Model.Customer.CustomerTitleID.ToString2() : "0", selectedValue: isExistingCustomer ? Model.Customer.CustomerTitleID.ToString2() : "");
                    var selectedTitle = "Please Select";
                    listOfTitles.Remove(listOfTitles.Where(a => a.Text == "-- Please Select --").ToArray()[0]);
                    //listOfTitles = listOfTitles.OrderBy(x => x.Text).ToList();

                    if (Model.Customer.CustomerTitleID > 0)
                    {
                        selectedTitle = listOfTitles.Where(a => a.Value == (Model.Customer.CustomerTitleID).ToString2()).FirstOrDefault().Text;
                    }
                    else if (dropObj.personalInformation.Customer.CustomerTitleID > 0)
                    {
                        selectedTitle = listOfTitles.Where(a => a.Value == (dropObj.personalInformation.Customer.CustomerTitleID).ToString2()).FirstOrDefault().Text;
                    }

                    <button data-toggle="dropdown"  class="btn btn-default dropdown-toggle selectby form-dropdown" type="button" id="idTitles" style="height: 40px;">         
                        <span id="CustomerTitle">@selectedTitle</span>
                        <span class="drop-arrow"></span>
                    </button>
                    <ul class="dropdown-menu" style="height: auto; max-height: 200px; overflow-x: hidden" role="menu" aria-labelledby="dLabel">
                        @for (var index = 0; index < listOfTitles.Count; index++)
                        {
                            <li>
                                <a class="CssCustomerTitle" href="#" data-value='@listOfTitles[index].Value' data-selected='@listOfTitles[index].Selected'>
                                    @listOfTitles[index].Text
                                </a>
                            </li>
                        }
                    </ul>   
                }
                @Html.HiddenFor(model => model.Customer.CustomerTitleID)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p class="inner-label">
                *Full name as per ID
            </p>
        </div>
        <div class="col-sm-8">
            <p class="inner-content">
                @if (!string.IsNullOrEmpty(Model.Customer.FullName))
                {
                    @Html.TextBoxFor(model => model.Customer.FullName, new { style = "width:300px", @class = "form-control search-num", @Value = Model.Customer.FullName.ToString2() })
                }
                else
                {
                    @Html.TextBoxFor(model => model.Customer.FullName, new { style = "width:300px", @class = "form-control search-num", @Value = dropObj.personalInformation.Customer.FullName.ToString2() })
                }
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p class="inner-label">
                *Identification
            </p>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group-btn number-type">
                        @{
                            var strIDCardTypeID = Model.Customer.IDCardTypeID != 0 
                                                    ? Model.Customer.IDCardTypeID.ToString2() 
                                                    : "";
                            List<SelectListItem> idCardTypeList = null;

                            if (!string.IsNullOrEmpty(strIDCardTypeID))
                            {
                                idCardTypeList = Util.GetList(RefType.IDCardType, defaultValue: "", selectedValue: strIDCardTypeID);
                            }
                            else
                            {
                                idCardTypeList = Util.GetList(RefType.IDCardType, defaultValue: "");
                            }
                        }
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby form-dropdown" type="button" id="idCardButton" disabled="disabled" style="height:40px; background-color:#F2F2F2;">
                            <span id="idCardTxt"></span>
                            <span class="drop-arrow"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            @for (var index = 0; index < idCardTypeList.Count; index++)
                            {
                                var isSelected = idCardTypeList[index].Selected;
                                <li>
                                    <a class="idCardTypeItem" href="#" data-value='@idCardTypeList[index].Value' data-selected='@isSelected'>
                                        @idCardTypeList[index].Text
                                    </a>
                                </li>
                            }
                        </ul>
                        @Html.HiddenFor(model => model.InputIDCardTypeID)
                        @Html.HiddenFor(model => model.Customer.IDCardTypeID)
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="inner-label">
                                Number</p>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                @{
                                    @Html.TextBoxFor(model => model.Customer.IDCardNo, new { @class = "form-control search-num", @readonly = "readonly", disabled = "disabled" })
                                }
                                @Html.HiddenFor(model => model.InputIDCardNo)
                                @Html.HiddenFor(model => model.InputNationalityID)
                                @Html.HiddenFor(model => model.Customer.NationalityID)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-sm-4">
        <p class="inner-label">
            Email
        </p>
    </div>
    <div class="col-sm-4">
        <p class="inner-content">
            @if (!string.IsNullOrEmpty(Model.Customer.EmailAddr))
            { 
                @Html.TextBoxFor(model => model.Customer.EmailAddr, new { @class = "form-control search-num" })
            }
            else
            { 
                @Html.TextBoxFor(model => model.Customer.EmailAddr, new { @class = "form-control search-num", @Value = dropObj.personalInformation.Customer.EmailAddr })
            }
        </p>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p class="inner-label">
                *Contact number
            </p>
        </div>
        <div class="col-sm-4">
            <p class="inner-content" id="txtContactN">
                @if (!string.IsNullOrEmpty(Model.Customer.ContactNo))
                {
                    @Html.TextBoxFor(model => model.Customer.ContactNo, new { maxlength = 12, @class = "form-control search-num" })
                }
                else
                { 
                    @Html.TextBoxFor(model => model.Customer.ContactNo, new { maxlength = 12, @class = "form-control search-num", @Value = dropObj.personalInformation.Customer.ContactNo })
                }
                @Html.HiddenFor(model => model.InputContactNo)
            </p>
        </div>
    </div>
</div>
<div class="col-sm-12 border-top" style="padding-left:10px;">
    <p class="details-title">
        Billing address
    </p>
</div>
<div class="@adjustColumn form paddingOverall">
    <div class="row">
        <div class="col-sm-4">
            <p class="inner-label">
                *Address
            </p>
        </div>
        <div class="col-sm-8">
            <p class="inner-content">
                @{
                    @Html.TextBoxFor(model => model.Address.Line1, new { style = "width:300px", @class = "form-control search-num" })
                }
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-8">
            <p class="inner-content">
                @{
                    @Html.TextBoxFor(model => model.Address.Line2, new { style = "width:300px", @class = "form-control search-num" })
                }
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-8">
            <div class="form-group">
                @{
                    @Html.TextBoxFor(model => model.Address.Line3, new { style = "width:300px", @class = "form-control search-num" })
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p class="inner-label">
                *Postcode</p>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                @{
                    @Html.TextBoxFor(model => model.Address.Postcode, new { maxlength = 5, @class = "form-control search-num" });
                }
            </div>
        </div>
        <div class="col-sm-3" style="margin-top:8px;">
            <div id="PostcodeValidationMessage"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p class="inner-label">
                *City</p>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                @{
                    @Html.TextBoxFor(model => model.Address.Town, new { @class = "form-control search-num", @readonly = "readonly", disabled = "disabled" })
                }
            </div>
        </div>
                        
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p class="inner-label">
                *State</p>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                @{
                    var strState = Model.Address.StateID != 0 ? Model.Address.StateID.ToString2() : "";
                    List<SelectListItem> stateDDLList = Util.GetList(RefType.State, defaultValue: "", selectedValue: strState);
                    string stateID_text = string.Empty;

                    if (Model.Address.StateID != 0)
                    {
                        stateID_text = stateDDLList.Where(x => x.Value == Model.Address.StateID.ToString2()).FirstOrDefault().Text;
                    }
                    <input id = "AddressState_Txt" type = "text" class = "form-control search-num" value = "@stateID_text" readonly = "readonly"/>
                }
                @Html.HiddenFor(m => m.Address.StateID)
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 border-top" style="padding-left:10px;"></div>
<div class="@adjustColumn form paddingOverall">
    <div class="row">
        <div class="col-sm-4">
            <p class="inner-label">
                Queue Number
            </p>
        </div>
        <div class="col-sm-8">
            <p class="inner-content">
                @Html.TextBoxFor(model => model.QueueNo, new { maxlength = 10, style = "width:230px", @class = "form-control search-num", @Value = dropObj.personalInformation.QueueNo.ToString2(), placeholder = "Enter" })
            </p>
        </div>
    </div>
</div>
<script>
    var existingCustomer = "@(isExistingCustomer)";
    var isLocalAndNewCustomer = "@(isLocalNewCustomer)";
    var customerIDCardNo = $('#Customer_IDCardNo').val();
    var biometricInfoData;

    $(document).ready(function () {
        $('.CssCustomerTitle').each(function (i, e) {
            $(this).click(function (e) {
                var selectedValue = $(this).data('selected');
                var selectedCustID = $(this).data('value');
                $('#Customer_CustomerTitleID').val(selectedCustID);
                if (selectedValue == 'False') {
                    $('#CustomerTitle').text($(this).text());
                }
            });
        });

        $('.idCardTypeItem').each(function (i, e) {
            var selectedValue = $(this).data('selected');
            if (selectedValue == 'True') {
                $('#idCardTxt').text($(this).text());
            }
        });

        /*
        $('.yearIdItem').each(function (i, e) {
            var selectedValue = $(this).data('selected');
            if (selectedValue == 'True') {
                $('#yearSpan').text($(this).text());
                $('#DOBYear').val($(this).data('value'));
            }
            $(this).click(function (e) {
                e.preventDefault();
                $('#yearSpan').text($(this).text());
                $('#DOBYear').val($(this).data('value'));
            });
        });

        $('.monthIdItem').each(function (i, e) {
            var selectedValue = $(this).data('selected');
            if (selectedValue == 'True') {
                $('#monthSpan').text($(this).text());
                $('#DOBMonth').val($(this).data('value'));
            }
            $(this).click(function (e) {
                e.preventDefault();
                $('#monthSpan').text($(this).text());
                $('#DOBMonth').val($(this).data('value'));
            });
        });

        $('.dayIdItem').each(function (i, e) {
            var selectedValue = $(this).data('selected');
            if (selectedValue == 'True') {
                $('#daySpan').text($(this).text());
                $('#DOBDay').val($(this).data('value'));
            }
            $(this).click(function (e) {
                e.preventDefault();
                $('#daySpan').text($(this).text());
                $('#DOBDay').val($(this).data('value'));
            });
        });
        */
    
        $("#Address_Postcode").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });

        $(document).keypress(function (e) {
            if (e.keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });

        $("#btnOverwriteYes").click(function () {
            OverWriteBiometricInfo();
            $('#BiometricInfoOverwrite').modal('hide');
        });

        $("#QueueNo").keypress(function (e) {
         //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
        
        initializePage();
    });

    function RetrieveMyKadInfo() {
        var Customer_IDCardTypeID = '';
        var value1 = $('#Customer_IDCardTypeID').val();
        $('.idCardTypeItem').each(function (i, e) {
            var selectedValue = $(this).data('value');
            if (selectedValue == value1 ) {
                Customer_IDCardTypeID = $(this).text();
            }
        });

        var Address_StateID = '';
        var stateID = $('#Address_StateID').val();
        $('.stateIdItem').each(function (i, e) {
            var selectedValue = $(this).data('value');
            if (selectedValue == stateID) {
                Address_StateID = $(this).text().toUpperCase();
            }
        });

        var kenanData= {
            Name:$('#Customer_FullName').val().toUpperCase(),
            IDCardTypeID:Customer_IDCardTypeID,
            IDCardNo:$('#Customer_IDCardNo').val(),
            Nationality:Customer_NationalityID,
            Address1 :$('#Address_Line1').val().toUpperCase(),
            Address2 :$('#Address_Line2').val().toUpperCase(),
            Address3 :$('#Address_Line3').val().toUpperCase(),
            City: $('#Address_Town').val().toUpperCase(),
            Postcode: $('#Address_Postcode').val(),
            State: Address_StateID
        };

        biometricInfoData = @(Html.Raw(Json.Encode(kadInfoResp)));

        if (existingCustomer == "False")
        {
            OverWriteBiometricInfo();
        }
        else
        {
            if (biometricInfoData.FingerMatch == true) {
                var isValid = CompareData(biometricInfoData, kenanData);

                if (isValid == false) {
                    $('#BiometricInfoOverwrite').modal('show');
                }
            }
        }
    }

    function CompareData(jsnonData, kenanData) {
        if (jsnonData.Name.toUpperCase() != kenanData.Name) {
            return false;
        }

        if (kenanData.IDCardTypeID == "Old IC" && isValid == true) {
            if (jsnonData.OldIC != kenanData.IDCardNo) {
                return false;
            }
        } else if (kenanData.IDCardTypeID == "New IC") {
            if (jsnonData.NewIC != kenanData.IDCardNo) {
                return false;
            }
        }

        if ((jsnonData.Address1 == undefined? "":jsnonData.Address1.toUpperCase()) != kenanData.Address1.toUpperCase()) {
            return false;
        }

        if ((jsnonData.Address2 == undefined? "":jsnonData.Address2.toUpperCase()) != kenanData.Address2.toUpperCase()) {
            return false;
        }

        if ((jsnonData.Address3 == undefined? "":jsnonData.Address3.toUpperCase()) != kenanData.Address3.toUpperCase()) {
            return false;
        }
        
        if (jsnonData.Postcode != kenanData.Postcode) {
            return false;
        }
           
        if ((jsnonData.City == undefined? "":jsnonData.City.toUpperCase()) != kenanData.City.toUpperCase()) {
            return false;
        }
            
        if ((jsnonData.State == undefined? "":jsnonData.State.toUpperCase()) != kenanData.State.toUpperCase()) {
            return false;
        }

        return true;
    }

    function OverWriteBiometricInfo() {
        debugger;
        var postCode = $('#Address_Postcode').val();
        var data = biometricInfoData;
        $('#Customer_FullName').val(data.Name);
        //var year = data.DOB.substr(0, 4);
        //var month = data.DOB.substr(4, 2);
        //var day = data.DOB.substr(6, 2);
        //updateDayDDL(parseInt(day, 10));
        //updateMonthDDL(parseInt(month));
        //updateYearDDL(year);

        $('#Address_Line1').val(data.Address1);
        $('#Address_Line2').val(data.Address2);
        $('#Address_Line3').val(data.Address3);
        $('#Address_Postcode').val(data.Postcode);
        AutoPopulate(true);
    }

    function generateICNo() {
        var idCardNo = "@(idCardNoFromSession)";
        var idCardTypeID = "@(idCardTypeIDFromSession)";

        $('#InputIDCardTypeID').val(idCardTypeID);

        if ($('#Customer_IDCardNo').val() == '') {
            $('#Customer_IDCardNo').val(idCardNo);
            $('#InputIDCardNo').val(idCardNo);
        }

        $('#Customer_IDCardTypeID').val(idCardTypeID);
        $('#InputIDCardTypeID').val(idCardTypeID);

        $('.idCardTypeItem').each(function (i, e) {
            var selectedValue = $(this).data('value');
            if (selectedValue == idCardTypeID ) {
                $('#idCardTxt').text($(this).text());
            }
        });
    }

    function generateDOB() {
        var IDCardNo = $('#Customer_IDCardNo').val();
        var year = IDCardNo.substr(0, 2);
        var month = IDCardNo.substr(2, 2);
        var day = IDCardNo.substr(4, 2);

        var currentYear = (new Date).getFullYear();
        if (currentYear - ("19" + year) <= 100) {
            year = "19" + year;
        } else {
            year = "20" + year;
        }

        var dob = Date.parse(year + "/" + month + "/" + day);

        dob = new Date(dob);
        var dateNow = new Date();
        var age = dateNow.getFullYear() - dob.getFullYear();

        if (isLocalAndNewCustomer == "True") {
            updateDayDDL(parseInt(day, 10));
            updateMonthDDL(parseInt(month));
            updateYearDDL(year);
        }

        if ($('#CustDobDay').val() != '') {
            $('#DOBDay').val(parseInt($('#CustDobDay').val()));
        }
        if ($('#CustDobMon').val() != '') {
            $('#DOBMonth').val(parseInt($('#CustDobMon').val()));
        }
        if ($('#CustDobYear').val() != '') {
            $('#DOBYear').val($('#CustDobYear').val());
        }
    }

    function updateDayDDL(value) {
        $('#daySpan').text(value);
        $('#DOBDay').val(value);
    }

    function updateMonthDDL(value) {
        $('.monthIdItem').each(function (i, e) {
            var selectedValue = $(this).data('value');
            if (selectedValue == value) {
                $('#monthSpan').text($(this).text());
            }
        });
        $('#DOBMonth').val(value);
    }

    function updateYearDDL(value) {
        $('#yearSpan').text(value);
        $('#DOBYear').val(value);
    }

    function AutoPopulate(isOverwrited) {
        var postcode = $('#Address_Postcode').val();
        var IsReadOnly = $('#Address_Postcode').is('[readonly]');
        debugger;
        if (postcode != "" && (IsReadOnly.toString() == 'false' || isOverwrited == true)) {
            var url = '@(Url.Content("~/Home/GenerateStateCityByPostCode"))';
            $.post(url, { postcode: postcode }, function (data) {
                if (data.postCode != "") {
                    $("#PostcodeValidationMessage").css("color", "green");
                    $('#PostcodeValidationMessage').text('Valid Postcode');
                    $('#PostcodeValidationMessage').attr('style', 'display: block; color: green');
                    $('#Address_Town').val(data.city);
                    $('#Address_StateID').attr('value',data.stateID);
                    $('#Address_StateID').val(data.stateID);
                    $('#AddressState_Txt').attr('value',data.state);
                    $('#AddressState_Txt').val(data.state);
                }
                else {
                    $("#PostcodeValidationMessage").css("color", "red");
                    $('#PostcodeValidationMessage').text('Invalid Postcode');
                    $('#PostcodeValidationMessage').attr('style', 'display: block; color: red');
                    $('#Address_Town').val('');
                    $('#Address_State_Txt').val('');
                    $('#Address_StateID').attr('value','');
                    $('#Address_StateID').val('');
                    $('#AddressState_Txt').attr('value','');
                    $('#AddressState_Txt').val('');
                }
            });
        }
        $('#ValidatedPostcode').val(postcode);
    }

    function validatePersonalData() {
        debugger;
        var customerTitleID = $('#Customer_CustomerTitleID').val();
        var customerName = $('#Customer_FullName').val().trim();
        var idCardType = $('#Customer_IDCardTypeID').val();
        var idCardNo = $('#Customer_IDCardNo').val();
        var email = $('#Customer_EmailAddr').val().trim();
        var contactNo = $('#Customer_ContactNo').val().trim();
        var addressLine1 = $('#Address_Line1').val().trim();
        var addressLine2 = $('#Address_Line2').val().trim();
        var addressLine3 = $('#Address_Line3').val().trim();
        var postCode = $('#Address_Postcode').val().trim();
        var postCodeMessage = $('#PostcodeValidationMessage').text();
        var city = $('#Address_Town').val();
        var stateID = $('#Address_StateID').val();
        var state = $('#AddressState_Txt').val();
        var queueNum = $('#QueueNo').val().trim();

        $('#InputContactNo').val(contactNo);
        $('#QueueNo').val(queueNum);

        if(existingCustomer == "False") {
            if (customerTitleID == "" || customerTitleID == 0) {
                $('#Plan_Error').show();
                $('#Plan_Error').html("Please Select Title");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }

            if (customerName == "") {
                $('#Plan_Error').show();
                $('#Plan_Error').html("Please Enter FullName");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                //$("#Customer_FullName").focus();
                return false;
            }

            //if(idCardType == "1")
            //    validateDOB(idCardNo);

            if (email != "" && !isValidEmail(email)) {
                $('#Plan_Error').show();
                $('#Plan_Error').html("Please Enter a Valid Email Address");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                //$('#Customer_EmailAddr').focus();
                return false;
            }
            else {
                $('#Customer_EmailAddr').val(email);
            }

            if (contactNo == "") {
                $('#Plan_Error').show();
                $('#Plan_Error').html("Please Enter Contact No");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                //$("#Customer_ContactNo").focus();
                return false;
            }
            else if(!isValidContactNo(contactNo)) {
                $('#Plan_Error').show();
                $('#Plan_Error').html("Please Enter a Valid Contact Number, i.e : 60xxxxx");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                //$("#Customer_ContactNo").focus();
                return false;
            }

            if(addressLine1 == "") {
                $('#Plan_Error').show();
                $('#Plan_Error').html("Please Enter Billing Address");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                //$('#Address_Line1').focus();
                return false;
            }

            if(postCode == "") {
                $('#Plan_Error').show();
                $('#Plan_Error').html("Please Enter Postcode");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                //$('#Address_Postcode').focus();
                return false;
            }
        
            if(city == "" || stateID == "" || postCodeMessage != "Valid Postcode") {
                $('#Plan_Error').show();
                $('#Plan_Error').html("Please Enter Valid Postcode");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                //$('#Address_Postcode').focus();
                return false;
            }
        }
        else {
            /*if(contactNo != '' && !isValidContactNo(contactNo)) {
                $('#Plan_Error').show();
                $('#Plan_Error').html("Please Enter a Valid Contact Number, i.e : 60xxxxx");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                //$("#Customer_ContactNo").focus();
                return false;
            }*/

            if (email != "" && !isValidEmail(email)) {
                $('#Plan_Error').show();
                $('#Plan_Error').html("Please Enter a Valid Email Address");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                //$('#Customer_EmailAddr').focus();
                return false;
            }
            else {
                $('#Customer_EmailAddr').val(email);
            }
        }

        if(queueNum != '' && !isValidQueueNo(queueNum)) {
            $('#Plan_Error').show();
            $('#Plan_Error').html("Queue must be a number.");
            $("html, body").animate({ scrollTop: 0 }, "slow");
            //$("#QueueNo").focus();
            return false;
        }

        return true;
    }

    function isValidEmail(emailAddr){
        var emailFormat = /^([0-9a-zA-Z]([\+\-_\.][0-9a-zA-Z]+)*)+@@(([0-9a-zA-Z][-\w]*[0-9a-zA-Z]*\.)+[a-zA-Z0-9]{2,17})$/;
        if (emailFormat.test(emailAddr)){
            return true;
        }
        return false;
    }

    function validateDOB(idCardNumber) {
        var idCardYear = idCardNumber.substring(0,2);
        var idCardMonth = idCardNumber.substring(2, 4);
        var idCardDate = idCardNumber.substring(4, 6);
        var DOBYear = parseInt($('#DOBYear').val().substring(2, 4));
        var DOBMonth = parseInt($('#DOBMonth').val());
        var DOBDay = parseInt($('#DOBDay').val());

        if (idCardYear != DOBYear) {
                $('#Plan_Error').show();
                $('#Plan_Error').html("DOB Year does not match with IC number");
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
        }

        if (idCardMonth != DOBMonth)
        {
            $('#Plan_Error').show();
            $('#Plan_Error').html("DOB Month does not match with IC number");
                $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        }

        if (idCardDate != DOBDay) {
            $('#Plan_Error').show();
            $('#Plan_Error').html("DOB Day does not match with IC number");
                $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        }

        if (!isValidDate(idCardDate + '/' + idCardMonth + '/' + idCardYear)) {
            $('#Plan_Error').show();
            $('#Plan_Error').html("Please Select DOB");
                $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        }

        $('#CustDobYear').val(DOBYear);
        $('#CustDobMon').val(DOBMonth);
        $('#CustDobDay').val(DOBDay);
    }

    function isValidDate(dateString) {
        var dateFormat = /^\d{1,4}[\.|\/|-]\d{1,2}[\.|\/|-]\d{1,4}$/;

        if (dateFormat.test(dateString)) {
            dateString = dateString.replace(/0*(\d*)/gi, "$1");
            var dateArray = s.split(/[\.|\/|-]/);
            dateArray[1] = dateArray[1] - 1;
            if (dateArray[2].length < 4) {
                dateArray[2] = (parseInt(dateArray[2]) < 50) ? 2000 + parseInt(dateArray[2]) : 1900 + parseInt(dateArray[2]);
            }

            var testDate = new Date(dateArray[2], dateArray[1], dateArray[0]);
            if (testDate.getDate() != dateArray[0] || testDate.getMonth() != dateArray[1] || testDate.getFullYear() != dateArray[2]) {
                return false;
            } else {
                return true;
            }
        } else {
            return false;
        }
    }

    function isValidContactNo(s){
        var contactNoFormat = /^60[0-9]{8,10}$/;
        if (contactNoFormat.test(s)){
            return true;
        }
        return false;
    }

    function isValidQueueNo(s){
        var QueueNoFormat = /^[0-9]{0,}$/;
        if (QueueNoFormat.test(s)){
            return true;
        }
        return false;
    }

    function initializePage() {
        generateICNo();
        //generateDOB();

        if (@(stateID) == 0) 
        {
            $('#Address_StateID').attr('value',"");
        }

        $('#PostcodeValidationMessage').attr('readonly',true);
        $('#PostcodeValidationMessage').attr('style', 'display: none');

        $('#Address_Postcode').blur(function(){
            AutoPopulate();
            }
        );
        if ($('#Address_Postcode').val() != ""){
            AutoPopulate();
        }

        if("@(idCardTypeNameFromSession)" == "NEWIC" &&  "@(biometricCheck)" == "True")
        {
            RetrieveMyKadInfo();
        }
        
        enableOrDisableField();
    }

    function enableOrDisableField() {
        var disableTitle = '@(disablePersonalDetails.disableSalutaion)';
        var disableEmailAddr = '@(disablePersonalDetails.disableEmail)';
        var disableContactNumber = '@(disablePersonalDetails.disableContactNumber)';
        var hasTitle = $('#idTitles').text().trim() != "Please Select";
        var hasEmail = $('#Customer_EmailAddr').val().trim() != "";
        var hasContactNo = $('#Customer_ContactNo').val().trim() != "";
        
        if(existingCustomer == "True") {
            disableCustomerName();
            disableAddress();

            if(hasTitle == true && disableTitle == "True") {
                disableSalutation();
            }

            if(hasEmail == true && disableEmailAddr == "True") {
                disableEmail();
            }
            
            if(hasContactNo == true && disableContactNumber == "True") {
                disableContactNo();
            }
        }
    }

    function enableSalutation() {
        $('#idTitles').css({ "background-color": '#FFFFFF' });
        $('#idTitles').removeAttr('disabled');
    }

    function enableCustomerName() {
        $('#Customer_FullName').css({ "background-color": '#FFFFFF' });
        $('#Customer_FullName').attr('readonly', false);
    }
    
    function enableEmail() {
        $('#Customer_EmailAddr').css({ "background-color": '#FFFFFF' });
        $('#Customer_EmailAddr').attr('readonly', false);
    }

    function enableDOB() {
        $('.form-dob').css({ "background-color": '#FFFFFF' });
        $('.form-dob').removeAttr('disabled');
    }
    
    function enableContactNo(){
        $('input#Customer_ContactNo').css({ "background-color": '#FFFFFF' });
        $('input#Customer_ContactNo').removeAttr('disabled');
    }
    
    function enableAddress() {
        $('#Address_Line1').css({ "background-color": '#FFFFFF' });
        $('#Address_Line1').attr('readonly', false);
        $('#Address_Line2').css({ "background-color": '#FFFFFF' });
        $('#Address_Line2').attr('readonly', false);
        $('#Address_Line3').css({ "background-color": '#FFFFFF' });
        $('#Address_Line3').attr('readonly', false);
        $('#Address_Postcode').css({ "background-color": '#FFFFFF' });
        $('#Address_Postcode').attr('readonly', false);
    }

    function disableSalutation() {
        $('#idTitles').css({ "background-color": '#F2F2F2' });
        $('#idTitles').attr('disabled', 'disabled');
    }

    function disableCustomerName() {
        $('#Customer_FullName').css({ "background-color": '#F2F2F2' });
        $('#Customer_FullName').attr('readonly', true);
    }

    function disableEmail() {
        $('#Customer_EmailAddr').css({ "background-color": '#F2F2F2' });
        $('#Customer_EmailAddr').attr('readonly', true);
    }

    function disableDOB() {
        $('.form-dob').css({ "background-color": '#F2F2F2' });
        $('.form-dob').attr('disabled', 'disabled');
    }

    function disableContactNo() {
        $('input#Customer_ContactNo').css({ "background-color": '#F2F2F2' });
        $('input#Customer_ContactNo').attr('disabled','disabled');
    }

    function disableAddress() {
        $('#Address_Line1').css({ "background-color": '#F2F2F2' });
        $('#Address_Line1').attr('readonly',true);
        $('#Address_Line2').css({ "background-color": '#F2F2F2' });
        $('#Address_Line2').attr('readonly',true);
        $('#Address_Line3').css({ "background-color": '#F2F2F2' });
        $('#Address_Line3').attr('readonly',true);
        $('#Address_Postcode').css({ "background-color": '#F2F2F2' });
        $('#Address_Postcode').attr('readonly',true);
    }
</script>