﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.CommonEnum;
@model Online.Registration.Web.ViewModels.AccessoriesVM

@{
    var viewBagValue = new ViewDataDictionary();
    var imageURL = ViewData["imageURLForAccessory"] as string;
    var fromOutrightPurchase = ViewData["FromOutrightPurchase"] as bool?;
    var isDealer = (bool)Session["IsDealer"];
    var errorMessage = ViewData["ErrorMessage"] as string;
    var hardStopMessage = isDealer == true ? errorMessage + ViewData["HardStopMessage"] as string : "";
    //var eligibleForDealer = string.IsNullOrEmpty(hardStopMessage) ? true : false;
    var minimumPriceForAF = System.Configuration.ConfigurationManager.AppSettings["minPriceForAF"].ToInt();
    var maximumPriceForAF = System.Configuration.ConfigurationManager.AppSettings["maxPriceForAF"].ToInt();
    var isEligibleForAF = Session[SessionKey.AF_Eligibility.ToString()].ToBool();
    
    var AccessoryDropdown = new List<SelectListItem>();
    AccessoryDropdown.Add(new SelectListItem() { Text = "Please Select", Value = ((int)AccessoryDropDownList.PleaseSelect).ToString(), Selected = true });
    AccessoryDropdown.Add(new SelectListItem() { Text = "EAN ID", Value = ((int)AccessoryDropDownList.EANID).ToString(), Selected = false });
    AccessoryDropdown.Add(new SelectListItem() { Text = "Article ID", Value = ((int)AccessoryDropDownList.ArticleID).ToString(), Selected = false });

    if (fromOutrightPurchase.ToBool() == false)
    { 
        AccessoryDropdown.Add(new SelectListItem() { Text = "Name", Value = ((int)AccessoryDropDownList.Name).ToString(), Selected = false });    
    }

    if (isDealer == false && fromOutrightPurchase.ToBool() == false)
    {
        AccessoryDropdown.Add(new SelectListItem() { Text = "Serial Number", Value = ((int)AccessoryDropDownList.Serial).ToString(), Selected = false });
    }
}

@Html.Hidden("af_showOffer")
@Html.Hidden("totalAccSelected", 0)
@Html.Hidden("totalAccFinancingSelected", 0)
@Html.Hidden("totalAccFinancingPrice", 0)
@Html.Hidden("serialNumber")

<div class="col-sm-12 col-xs-12 kill-padding" style="display:block;">
    <div id="Plan_Error" style="color:Red; margin-left:5px; margin-top:5px; font-size:16px;">@hardStopMessage</div>
</div>

@if (!isDealer || (isDealer && string.IsNullOrEmpty(hardStopMessage)))
{ 
    if (!string.IsNullOrEmpty(imageURL))
    {
        var imgUrl = Url.Content(imageURL);
        <div class="col-sm-12 col-xs-12 kill-padding" style="display:block; height:200px;border: 1px solid #77dd00;">
            <img src="@imgUrl" alt="" id="imgDevice" style="max-height:100%; max-width:100%; " />
        </div>
    }
    <div class="col-sm-12 col-xs-12 kill-padding" style="margin-top:5px; color:#898989;">
        <div style="display:inline-block; width:100%; ">
            <span style=" float:left; margin-top:13px; margin-left:10px; margin-right:5px; color:#09442e;">
                Enter the EAN code / article ID of the accessory to be added: 
            </span><br />
            <div class="input-select-accessory css-select-moz" style="margin-left: 10px; margin-top:20px; ">
                @Html.DropDownListFor(model => model.searchBy, AccessoryDropdown, new { @class = "dropdown-accessory", style = "color:#09442e;" })
            </div>
            @Html.TextBoxFor(x => x.searchText, new { style = "height:40px; width:300px; float:left; margin-left:10px; border-radius:34px; font-size:16px; color:#09442e;", @class = "form-control search-box search-num", @Value = Model.searchText })
            <button class="btn btn-defadivt search-accessory2" id="btnSearch" type="button" onclick=""></button>
        </div>

        @if (!isDealer && fromOutrightPurchase.ToBool() == false)
        { 
            <div class="col-sm-12 col-xs-12" style="margin-top:10px;">
	            <h3>
		            <input id="af-exceptional" class="stock-checkbox" type="checkbox" autocomplete="off" autocompletetype="disable">
		            <label for="af-exceptional" class="stock-label">Accessory Financing Offer</label>
	            </h3>
            </div>
        }
        
        @if (!isDealer && !string.IsNullOrEmpty(errorMessage))
        { 
            <div class="col-sm-12 col-xs-12" style="display:block;">
                <div id="ErrorMessage" style="color:Red; font-size:16px;">@errorMessage</div>
            </div>
        }
        <table style="width: 100%;">
            <tr style="border-bottom:1px solid black;">
                <td width="45%" valign="top"></td>
                <td width="10%" style="text-align:center; white-space:nowrap;">Please select quantity</td>
                <td width="45%" colspan="2" valign="top" style="text-align:center; white-space:nowrap;">Please Select an Offer</td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="accessory-list kill-padding" id="searchResult"></div>
                </td>
            </tr>
        </table>
        <hr/>
        <span style="color:#09442e;">Selected Accessories:</span><br />
        <table style="width: 100%;">
            <tr style="border-bottom:1px solid black;">
                <td width="45%" valign="top"></td>
                <td width="10%" style="text-align:center; white-space:nowrap;">Quantity</td>
                <td width="45%" colspan="2" valign="top" style="text-align:center; white-space:nowrap;">Selected Offer</td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="accessory-list kill-padding" id="tempResult"></div>
                </td>
            </tr>
        </table>
    </div>
}

@{
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString2();
    viewBagValue.Add("ApprovalType", "AF");
    viewBagValue.Add("FromCustomerSearch", "False");
    viewBagValue.Add("ModalID", "af-approval-popup");
    viewBagValue.Add("ControllerName", controllerName);
    Html.RenderPartial("_SpvApproval", viewBagValue);
}

<script type="text/javascript">
    var minPrice = @(minimumPriceForAF);
    var maxPrice = @(maximumPriceForAF);
    
    if ('@isEligibleForAF' == 'True') {
        $('#af-exceptional').attr('checked', true);
        $('#af-exceptional').attr('disabled', true);
    }

    $('#af-exceptional').click(function () {
        if ($('#af-exceptional').is(':checked')) {
            $('#af-approval-popup').modal('show');
        }
    });
</script>
