﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@{
    var simCardSizeList = Util.GetList(RefType.SIMCardType);
    var isMISM = ViewBag.SimType;
    // var isMISMAddC = Session["CRPIsMism"].ToString2();
    
    var simType = "";
    if (isMISM != null) {
        if (isMISM.ToLower() == "true")
        {
            simType = "MISM";
        }
    }
  }

<div class="modal fade" id="simRequired-pop" tabindex="-1" role="dialog" aria-labelledby="plan-details" aria-hidden="true">
    <div class="modal-dialog">
        <div class="col-sm-12 col-xs-12 modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span class="close-btn">Close</span></button>
            </div>
            <div class="modal-body">
            @if (simType == "MISM")
            { 
                <div class="col-sm-12 col-xs-12" style="font-size : 18px">Is a replacement MISM required by customer?</div>
            }
            else
            {
                <div class="col-sm-12 col-xs-12" style="font-size : 18px">Is a new SIM card required by customer?</div>
            }
            </div>
            <div class="col-sm-12 col-xs-12 modal-footer">
                <div class="btn isell-btn" style="width: 100px" id="btnSimYes" onclick="$('#simRequired-simType').show()" >Yes</div>  
                <div class="btn isell-btn" style="width: 100px; float:right" id="btnSimNo" onclick="submitForm();" >No</div>
            </div>
                    
            <div class="col-sm-12 col-xs-12 border-top" id="simRequired-simType" style="margin-bottom: 2%; display:none">
                <p style="margin-top: 10px; font-size: 18px">Select SIM Type :</p>
                <ul class="popup-list" style="margin-bottom: 2%">
                    @if (simCardSizeList != null && simCardSizeList.Where(x => x.Value == "Nano").Any())
                    {
                        <li class="col-sm-6">
                            <div class="no-list" style="padding:10px !important; width: 100%" onclick="SelectedSimType('Nano');">
                                <div class="nanosim"></div>
                                    Nano-SIM
                            </div>
                        </li>
                    }
                    @if (simCardSizeList != null && simCardSizeList.Where(x => x.Value == "Micro").Any())
                    {
                        <li class="col-sm-6">
                            <div class="no-list" style="padding:10px !important; width: 100%" onclick="SelectedSimType('Micro');">
                                <div class="microsim"></div>
                                    Micro-SIM
                            </div>
                        </li>
                    }
                            
                    @if (simCardSizeList != null && simCardSizeList.Where(x => x.Value == "Normal").Any())
                    {
                        <li class="col-sm-6">
                            <div class="no-list" style="padding:10px !important; width: 100%" onclick="SelectedSimType('Normal');">
                                <div class="normalsim"></div>
                                    Normal-SIM
                            </div>
                        </li>
                    }
                            
                    @if (simCardSizeList != null && simCardSizeList.Where(x => x.Value == "TriSIM").Any())
                    {
                        <li class="col-sm-6">
                            <div class="no-list" style="padding-left:0px; padding-right:26px !important; width: 100%" onclick="SelectedSimType('TriSIM');">
                                <div class="trisim"></div>
                                    Tri-SIM
                            </div>
                        </li>
                    }
                </ul>  
                    
                <div class="col-sm-12 col-xs-12 border-top"; style="margin-bottom: 2%">
                    <div class="btn isell-next" style="width: 100px; float:right; margin-top: 1%" id="btnConfirmSimType" onclick="validateSimType();" >Next</div>  
                    <p id="simRequired-errorMsg" style="font-size: 16px; color: Red"></p>
                </div>
                         
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" language="javascript" >

    function SelectedSimType(simSize) {
        $('#SimSize').val(simSize);
        $('#simRequired-errorMsg').html('');
    }

    function validateSimType() {
        if ($('#SimSize').val() == '') {
            $('#simRequired-errorMsg').html('Please confirm Sim Type selection');
        } else {
            $('#isSimRequired').val(true);
            submitForm();
        }
    }


</script>