﻿<div class="row border-top even">
    <div class="col-sm-12 ">
        <p class="details-title">Single Sign On (SSO)</p>
    </div>
    <div class="col-sm-8 form">
        <div class="col-sm-11">
            <label class="inner-label">Is customer interested to sign-up for Single Sign On Online ID?</label>
        </div>
    </div>
    
    <div class="col-sm-12 form" style="margin-top: 0px !important">
        <div class="col-sm-9">
            <input type="checkbox" class="form-checkbox sso" id="sso-yes" data-value="yes"/>
            <label class="stock-label" name="fill-add" for="sso-yes">Yes.</label>
        </div>
        
        <div class="col-sm-12 form ssoEmail">
            <div class="col-sm-4">
                <input type="text" class="form-control search-num" id="ssoEmailAddress" style="width:300px" value="" />
            </div>
            <div class="col-sm-8 validation-container">&nbsp;</div>
        </div>
            
        <div class="col-sm-9">
            <input type="checkbox" class="form-checkbox sso" id="sso-no" data-value="no"/>
            <label class="stock-label" name="fill-add" for="sso-no">No. (already registered / not interested)</label>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var currentState = $('#SingleSignOnValue').val();

        //debugger;
        $("input[id^='sso-']").each(function (i, e) {
            $(this).click(function (e) {
                //debugger;
                resetSSOButton(i);
                var thisID = this.id;
                var thisValue = $(this).data("value");

                if (thisValue == "yes") {
                    var sso_email = $('#SingleSignOnEmailAddress').val();
                    var emailForSSO = $('#Customer_EmailAddr').val();
                    var currentEmailAddress = $('#ssoEmailAddress').val();

                    if (currentEmailAddress != "") {
                        $('#ssoEmailAddress').val(currentEmailAddress);
                    }
                    else if (sso_email != "") {
                        $('#ssoEmailAddress').val(sso_email);
                    }
                    else if (typeof emailForSSO != "undefined" && emailForSSO != "") {
                        $('#ssoEmailAddress').val(emailForSSO);
                    }

                    $('.ssoEmail').show();
                }
                else {
                    $('.ssoEmail').hide();
                }
            });
        });
        //debugger;
        if (currentState == "" && currentState != "no" && currentState != "yes") {
            resetSSOButton();
            $('.ssoEmail').hide();
        }
        else if (currentState == "no") {
            $('#sso-no').click();
            $('#sso-no').prop('checked', true);
        }
        else if (currentState == "yes") {
            $('#sso-yes').click();
            $('#sso-yes').prop('checked', true);
        }
    });

    function resetSSOButton(index) {
        $('.sso').each(function (i, e) {
            if (index != i) {
                $(this).prop('checked', false);
            } else {
                $(this).prop('checked', true);
            }
        });
    }

    function validateSSOSection() {
        var ssoResult = "";

        $('.sso').each(function (i, e) {
            if ($(this).is(":checked")) {
                ssoResult = $(this).data("value");
                $('#SingleSignOnValue').val(ssoResult);
            }
        });

        //debugger;
        if (ssoResult == "") {
            $('#Plan_Error').show();
            $('#Plan_Error').html("Please select Single Sign On (SSO) option");
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        }
        else if (ssoResult == "yes") {
            var ssoEmailAddr = $('#ssoEmailAddress').val();

            if (ssoEmailAddr == "") {
                $('#Plan_Error').show();
                $('#Plan_Error').html("Please enter email for Single Sign On (SSO)");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            else if (ssoEmailAddr != "" && !isValidEmail(ssoEmailAddr)) {
                $('#Plan_Error').show();
                $('#Plan_Error').html("Please enter a valid email address for Single Sign On (SSO)");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            else {
                $('#SingleSignOnEmailAddress').val(ssoEmailAddr);
            }
        }

        return true;
    }
</script>


