﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.CommonEnum;
@using Online.Registration.Web.SubscriberICService;
@using System.Configuration;
<!DOCTYPE html>
<html>
<head>
    <link rel="apple-touch-icon" href="@Url.Content("~/Content/images/Retail-logo.png")"/>
    <link rel="apple-touch-startup-image" href="@Url.Content("~/Content/images/loading.jpg")" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
     <script type="text/javascript">
         window.history.forward();
         function noBack() { window.history.forward(); }

         function GetPath(url) {
             return '@Url.Content("~/")' + url.replace(/^\//, '');
         }
    </script>
    <link rel="icon" 
      type="image/png" 
      href= "@Url.Content("~/Content/images/maxis_s.png")" />
         @{
             var menuType = Session["MenuType"] == null ? 0 : Session["MenuType"].ToInt();
             var isDealer = Session["IsDealer"].ToBool();
             var userLogin = Util.SessionAccess.UserName;
             retrieveAcctListByICResponse AcctListByICResponse = null;
             retrieveAcctListByICResponse AcctListByICResponseSIM = null;
             string dealerCode = string.Empty;
             string storeName = string.Empty;
             var searchNumber = Session["cardNumber"].ToString2();
             var searchBy = Session[SessionKey.SearchBy.ToString()].ToString2();
             var searchByPrePaidNumber = false;
             Session["HasActivePostGSMLines"] = "False";
             Session["HasActivePreGSMLines"] = "False";
             Session["HasActiveHSDPALines"] = "False";
             int preGSMCount = 0;
             int postGSMCount = 0;
             isDealer = !ReferenceEquals(Session["IsDealer"], null) ? Session["IsDealer"].ToBool() : false;

             if (!ReferenceEquals(Util.SessionAccess.User, null))
             {
                 dealerCode = string.Format("{0}", Util.SessionAccess.User.Org.DealerCode);
                 storeName = string.Format("({0})", Util.SessionAccess.User.Org.Name);
             }

             if (Session[SessionKey.SR_PPID.ToString()] != null && Session[SessionKey.SR_PPID.ToString()].GetType() == typeof(retrieveAcctListByICResponse))
             {
                 AcctListByICResponseSIM = (retrieveAcctListByICResponse)Session[SessionKey.SR_PPID.ToString()];

                 if (AcctListByICResponseSIM != null && AcctListByICResponseSIM.itemList != null && AcctListByICResponseSIM.itemList.Any())
                 {
                     foreach (var item in AcctListByICResponseSIM.itemList)
                     {
                         if (item.ServiceInfoResponse != null && item.IsActive)
                         {
                             if (item.ServiceInfoResponse.lob == "PREGSM")
                             {
                                 preGSMCount++;

                             }
                             else if (item.ServiceInfoResponse.lob == "POSTGSM")
                             {
                                 postGSMCount++;
                             }
                             else if (item.ServiceInfoResponse.lob == "HSDPA" || item.ServiceInfoResponse.lob == "FWBB")
                             {
                                 Session["HasActiveHSDPALines"] = "True";
                             }
                         }
                     }

                     //10062015 - Anthony - to hide the order creation if search by Prepaid MSISDN - Start
                     if (AcctListByICResponseSIM.itemList != null)
                     {
                         if (Session["SearchBy"].ToString2() == "MSISDN")
                         {
                             var preGSMItemList = AcctListByICResponseSIM.itemList.Where(x => x.ExternalId == searchNumber && x.ServiceInfoResponse != null).ToList();
                             if (preGSMItemList.Count > 0)
                             {
                                 var MSISDNList = preGSMItemList.Select(x => x.ServiceInfoResponse).ToList();
                                 if (MSISDNList.Where(x => x.lob == "PREGSM").Any())
                                 {
                                     searchByPrePaidNumber = true;
                                 }
                             }
                         }
                         else if (Session["SearchBy"].ToString2() == "ACCT")
                         {
                             var preGSMItemList = AcctListByICResponseSIM.itemList.Where(x => x.AcctExtId == searchNumber && x.ServiceInfoResponse != null).ToList();
                             if (preGSMItemList.Count > 0)
                             {
                                 var MSISDNList = preGSMItemList.Select(x => x.ServiceInfoResponse).ToList();
                                 if (MSISDNList.Where(x => x.lob == "PREGSM").Any())
                                 {
                                     searchByPrePaidNumber = true;
                                 }
                             }
                         }
                     }
                     //10062015 - Anthony - to hide the order creation if search by Prepaid MSISDN - End

                     if (preGSMCount > 0)
                     {
                         Session["AllowSimReplacementForWriteOff"] = "True";
                         Session["isOnlyPREGSMSIMReplace"] = "Y";
                         Session["HasActivePreGSMLines"] = "True";
                     }
                     if (postGSMCount > 0)
                     {
                         Session["HasActivePostGSMLines"] = "True";
                     }
                 }
             }

             string dealerNetUrl = "https://dealernet.maxis.com.my";
             string VIP = string.Empty;
             bool blockVIP = false;
             bool isDDMFfail = false;

             if (Session["VIP"] != null && Session["VIP"].ToString2() != string.Empty)
             {
                 VIP = Session["VIP"].ToString2();
             }
             if (VIP.Equals("*****"))
             {
                 blockVIP = true;
             }
             if (Session["RegMobileReg_DDMFCheckStatusCode"].ToString2() == "DF")
             {
                 isDDMFfail = true;
             }

             bool isWrittenOff = false;
             bool showPegaDashBoard = ConfigurationManager.AppSettings["PegaRecommendationFlag"].ToBool();
        }
    @RenderSection("Styles", false)
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="This is the Responsive Grid System, a quick, easy and flexible way to create a responsive web site." />
    <meta name="keywords" content="responsive, grid, system, web design" />
    <meta name="author" content="" />
    <meta http-equiv="cleartype" content="on" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <!-- Responsive and mobile friendly stuff -->
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Stylesheets -->
    <!--[if lt IE 9]>
<link rel="stylesheet" href="@Url.Content("~/Content/css/ie.css")" media="screen" />
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/html5reset.css")"  media="all" />
    
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/col.css")"  media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/4cols.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/tabcontent.css")" media="all" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/jquery-ui/jquery.ui.all.css")" />
    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/owl.carousel.css")" />
    <!-- Default Theme -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/owl.theme.css")" />
    <!-- Responsive Stylesheets -->
    <link rel="stylesheet" type="text/css" media="only screen and (max-width: 1024px)" href="@Url.Content("~/Content/css/1024.css")" />
    <link rel="stylesheet" type="text/css" media="only screen and (max-width: 768px)" href="@Url.Content("~/Content/css/768.css")" >
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.css")" >
    @{Html.Telerik().StyleSheetRegistrar()
        .DefaultGroup(g => g
            .Add("telerik.common.css")
            .Add("telerik.office2010silver.min.css")
        ).Render();
    }
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.css")"/>
    <script language="javascript" type="text/javascript">
        // iOS viewport scaling bug fix, by mathias, cheeaun and jdalton
        (function (doc) { var addEvent = 'addEventListener', type = 'gesturestart', qsa = 'querySelectorAll', scales = [1, 1], meta = qsa in doc ? doc[qsa]('meta[name=viewport]') : []; function fix() { meta.content = 'width=device-width,minimum-scale=' + scales[0] + ',maximum-scale=' + scales[1]; doc.removeEventListener(type, fix, true); } if ((meta = meta[meta.length - 1]) && addEvent in doc) { fix(); scales = [.25, 1.6]; doc[addEvent](type, fix, true); } } (document));
    </script>
    <script src="@Url.Content("~/scripts/js/modernizr-2.5.3-min.js")" language="javascript" type="text/javascript" ></script>
    <style type="text/css">
        a[href^=tel]
        {
            color: inherit;
            text-decoration: inherit;
            font-size: inherit;
            font-style: inherit;
            font-weight: inherit;
        }
    </style>
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"
        language="javascript"></script>*@ @*<script>          window.jQuery || document.write('<script src="js/jquery-1.8.2.min.js"><\/script>')</script>*@
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/js/jquery-1.8.2.min.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/jquery-ui-1.8.21.min.js")" ></script>
    @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>*@
    <script type="text/javascript" language="javascript"  src="@Url.Content("~/scripts/js/ui/jquery.ui.core.js")" ></script>
    <script type="text/javascript" language="javascript"  src="@Url.Content("~/scripts/js/ui/jquery.ui.widget.js")" ></script>
    <script type="text/javascript" language="javascript"  src="@Url.Content("~/scripts/js/ui/jquery.ui.accordion.js")" ></script>
    <!--[if (lt IE 9) & (!IEMobile)]>
	<script src="@Url.Content("~/scripts/js/selectivizr-min.js")" type="text/javascript" language="javascript" ></script>
	<![endif]-->
    <!-- More Scripts-->
    <script src="@Url.Content("~/scripts/js/responsivegridsystem.js")" type="text/javascript" language="javascript" ></script>
    <!-- optionally include helper plugins -->
    <script type="text/javascript" language="javascript"   src="@Url.Content("~/scripts/js/helper-plugins/jquery.mousewheel.min.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/js/helper-plugins/jquery.touchSwipe.min.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/js/helper-plugins/jquery.transit.min.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/js/helper-plugins/jquery.ba-throttle-debounce.min.js")" ></script>
    <script type="text/javascript" language="javascript">
       
			
    </script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/js/tabcontent.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/js/jquery.horizontalNav.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/js/jquery.colorbox.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/jquery.validate.min.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/jquery.validate.unobtrusive.min.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/jquery.blockUI.js")" ></script>

    <link rel="stylesheet" href="@Url.Content("~/Content/assets/stylesheets/normalize.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/stylesheets/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/stylesheets/panel.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/stylesheets/styles.css")">

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/responsivegridsystem.css")" />
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js2/aToolTip.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js2/collapse.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js2/plugins.js")"></script>
    
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js2/DropFour.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js2/select-number.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js2/acc-create.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Content/assets/js/sel-plan-device.js")"></script>
    <style type="text/css">
        .submenu
        {
            display:block;
            color : #ffffff !important;
        }
    </style>
</head>

<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">
 @{string navUrl = "~/Home/Index";}

 <header>
    <navi>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <ul class="navi">
              <li class="breadcrumb">
                <h3>Main Menu</h3>
              </li>
              <a href="#" data-toggle="modal" data-target="#mega-menu"><li class="menu">
                <span class="megamenu-btn"></span>
              </li></a>
              <li class="logo"></li>
            </ul>
          </div>
        </div>
      </div>
    </navi>
  </header>
    
    <div class="modal fade main-menu" id="mega-menu" tabindex="-1" role="dialog" aria-labelledby="mega-menu"
        aria-hidden="true">
        <header>
      <navi>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <ul class="navi">
                <li class="breadcrumb">
                  <h3>Main Menu</h3>
                </li>
                <a data-target="#mega-menu" data-toggle="modal" href="#"><li class="menu">
                  <span class="megamenu-btn"></span>
                </li></a>
                <li class="logo"></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="navi-session col-sm-10">
                <a href="@Url.Content("~/Account/LogOff")"><li class="col-sm-4 logout">
                  Logout
                </li></a>
                <li class="col-sm-8 user-name">
                @*Klcc_ccc – 13443.36455 (MEPS KLANG)*@
                  <b>@string.Format("{0}-{1} {2}", userLogin, dealerCode, storeName)</b>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </navi>
    </header>
        @{string indexUrl = "~/Home/IndexNew";}
        <div class="modal-dialog modal-lg" id="main-nav">
            <div class="modal-body" id="megaMenu">
                <ul class="menu-open">
                  @if (Roles.IsUserInRole("MREG_CH") && Roles.IsUserInRole("MREG_SK"))
                  {
                    <a onclick="SetMenuOption('@Url.Content(indexUrl)','ancMenu_Search');"  href="javascript:void(0)">
                    
                        <li class="col-sm-12">SEARCH</li></a>
                  }
                  else if (Roles.IsUserInRole("MREG_C") || Roles.IsUserInRole("MREG_W") || Roles.IsUserInRole("MREG_U") || Roles.IsUserInRole("MREG_R")
                                   || Roles.IsUserInRole("MREG_RA") || Roles.IsUserInRole("MREG_TL") || Roles.IsUserInRole("SMRT_USER") || Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DAC") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("MREG_DC"))
                  {
                       <a onclick="SetMenuOption('@Url.Content(indexUrl)','ancMenu_Search');"  href="javascript:void(0)">
                    
                        <li class="col-sm-12">SEARCH</li></a>
                  }
                      @if (Roles.IsUserInRole("MREG_C") || Roles.IsUserInRole("MREG_W") || Roles.IsUserInRole("MREG_U") || Roles.IsUserInRole("MREG_R") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("MREG_DC")
                        || Roles.IsUserInRole("MREG_RA") || Roles.IsUserInRole("MREG_SIMR") || Roles.IsUserInRole("MREG_CRP") || Roles.IsUserInRole("MREG_ARVAS") || Roles.IsUserInRole("MREG_TL") || Roles.IsUserInRole("CCC") || Roles.IsUserInRole("EOMC") || Roles.IsUserInRole("HOMC") || Roles.IsUserInRole("MREG_DAC") || Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DAC") || Session["HasActivePreGSMLines"] == "True")
                      {
                          <a href="#mobile" id="mobile">
                            <li class="col-sm-12" id="ancMenu_Mobility">MOBILITY SERVICES</li></a>
                          <a href="#mobile-sme" id="mobile-sme">
                             <li class="col-sm-12" id="ancMenu_SMEI">SMEI/CI SERVICES</li></a>
                      }
                            

                           @* @if (Session["isOnlyPREGSMSIMReplace"].ToString2() == "Y" && Session["SR_PPIDCheck"].ToString2() == "E" && !Roles.IsUserInRole("MREG_NEW"))
                            {
                                if (Session[Online.Registration.Web.CommonEnum.SessionKey.FxInternalCheckMessage.ToString()].ToString2() == "One or more acct have been written off. Please collect outstanding amount." || Session["AllowSimReplacementForWriteOff"].ToString2() == "True" || Session["AllowSimReplacement"].ToString2() == "True")
                                {
                                        if (!blockVIP)
                                        { 
                                        <a parentid="ancMenu_Mobility" href="@Url.Content("~/QSimReplacement/AccountDetails?type=" + ((int)MobileRegType.SimReplacement))">
                            <li class="col-sm-12 is-submenu">Prepaid / Postpaid SIM Replacement<span>></span></li></a>  
                                        }
                                }
                            }*@
                               
                    @if ((Roles.IsUserInRole("SMRT_USER") || Roles.IsUserInRole("SMRT_MANAGER")))
                    {
                        if (Session["isDealer"].ToString2() != "True")
                        {
                            if (Session["PPID"].ToString2() != string.Empty && Session["PPID"].ToString2() == "E")
                            {
                                if (!blockVIP)
                                {
                                    if (postGSMCount > 0)
                                    { //Anthony: [#2110] Prepaid GSM Should only display SIM Replacement
                        <a class="submenu" onclick="CheckBRE_HS('SMART','@Url.Content("~/Retention/Retention/Accounts?type=" + ((int)MobileRegType.DeviceCRP))')" href="#">
                            <li class="col-sm-12" id="ancMenu_Smart">SMART SERVICES</li></a>
                                    }
                                }
                            }
                        }
                    }
                    @if (Roles.IsUserInRole("SMRT_MANAGER") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("MREG_SV") || Roles.IsUserInRole("SMRT_SK") || Roles.IsUserInRole("MREG_SK") || Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DIC") || Roles.IsUserInRole("MREG_DSK"))
                    {
                        <a href="@Url.Content("~/Registration/StoreKeeper")">
                            <li class="col-sm-12">INVENTORY</li></a>
                    }
                    @if (!Session["IsDealer"].ToBool())
                    {
                        if (Roles.IsUserInRole("SMRT_MANAGER") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("SMRT_CAS") || Roles.IsUserInRole("MREG_CH") || Roles.IsUserInRole("MREG_DIC") || Roles.IsUserInRole("MREG_DAC") || Roles.IsUserInRole("MREG_DCH"))
                        {
                            <a href="@Url.Content("~/Registration/Cashier")">
                                <li class="col-sm-12">CASHIER</li></a>
                        }
                    }
                    else
                    {
                        //need to be updated into new role access
                        if (Roles.IsUserInRole("SMRT_MANAGER") || Roles.IsUserInRole("MREG_DSA") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("SMRT_CAS") || Roles.IsUserInRole("MREG_CH") || Roles.IsUserInRole("MREG_DIC") || Roles.IsUserInRole("MREG_DAC") || Roles.IsUserInRole("MREG_DCH"))
                        {
                            <a href="@Url.Content("~/Registration/OrderStatusReport")">
                                <li class="col-sm-12">ORDER STATUS REPORT</li></a>
                        }
                    }
                    @if (Roles.IsUserInRole("MREG_HQ") || Roles.IsUserInRole("MREG_DAB"))
                    {
                        string dashUrl = "~/Registration/SuperVisorForWaiveOff?RefreshSession=1";
                        <a href="javascript:void(0)"  parentid="liMenu_DashBoard"  onclick="SetMenuOption('@Url.Content(dashUrl)','liMenu_DashBoard');">
                            <li class="col-sm-12">DASHBOARD</li>
                        </a>
                    }
                    @if (Roles.IsUserInRole("MREG_DAPP"))
                    {
                        string dashUrl = "~/Registration/CDPUDashBoard?RefreshSession=1";
                        <a href="javascript:void(0)"  parentid="liMenu_DashBoard"  onclick="SetMenuOption('@Url.Content(dashUrl)','liMenu_DashBoard');">
                            <li class="col-sm-12">CDPU DASHBOARD</li>
                        </a>
                    }
                    @if (Session["isDealer"].ToString2() != "True" && !Roles.IsUserInRole("MREG_CUSR") && showPegaDashBoard)
                    { 
                    <a id="pega_dashboard" href="@Url.Content("~/Registration/PegaRecommendationDashboard")" > 
                        <li class="col-sm-12">SMART RECOMMENDATION DASHBOARD</li>
                    </a>
                    }
                    @*22052015 - Remove Status Tracking to Mega menu - Lus *@
                        @if (Roles.IsUserInRole("MREG_C") || Roles.IsUserInRole("MREG_W") || Roles.IsUserInRole("MREG_U") || Roles.IsUserInRole("MREG_R") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("MREG_DC") || Roles.IsUserInRole("MREG_HQ") || Roles.IsUserInRole("MREG_DAB")
                        || Roles.IsUserInRole("MREG_RA") || Roles.IsUserInRole("MREG_SIMR") || Roles.IsUserInRole("MREG_CRP") || Roles.IsUserInRole("MREG_ARVAS") || Roles.IsUserInRole("MREG_TL") || Roles.IsUserInRole("CCC") || Roles.IsUserInRole("EOMC") || Roles.IsUserInRole("HOMC") || Roles.IsUserInRole("MREG_DAC") || Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DAC") || Roles.IsUserInRole("MREG_CUSR") || Session["HasActivePreGSMLines"] == "True")
                        {
                    <a id="status_tracking" href="@Url.Content("~/MNP/StatusTrackingNew")" > 
                        <li class="col-sm-12">MNP STATUS TRACKING</li>
                    </a>
                        }
                    <a  target="_blank"  href="@dealerNetUrl" > 
                        <li class="col-sm-12">MISCELLANEOUS</li>
                    </a>
                    @if (!isDealer && (AccessUtil.IsCCC() || AccessUtil.IsSupervisor()))
                    {
                    <!--Service Request Main Menu-->
                    <a href="#service" id="service">
                        <li class="col-sm-12" id="ancMenu_Service">SERVICE REQUESTS</li>
                    </a>
                    }
                </ul>
                <div class="clearfix">
                </div>
                <ul class="col-sm-10 home">
                @if (Session["isDealer"].ToString2() != "True")
                {
                    <li class="col-sm-3" id="coverage-check-overlay"><a href='@(ConfigurationManager.AppSettings["CoverageCheckURL"])' class="coverage-overlay" id="coverageLink" target="_blank">
                        <div class="coverage-sm">
                        </div>
                        <h2>
                            Coverage Check</h2>
                    </a></li>
                }
                    <li class="col-sm-3" id="inventory-dashboard-overlay"><a>@*/*23012015 - Anthony - Add HTML Attribute to fix the inconsistency color*/*@
                        <div class="dashboard-sm">
                        </div>
                        <h2>
                            Inventory Dashboard</h2>
                    </a>
                    </li>
                    <li class="col-sm-3" id="icatalogue-overlay"><a href="@(ConfigurationManager.AppSettings["iCatalogueURL"])" target="_blank">
                        <div class="icatalogue-sm">
                        </div>
                        <h2>
                            iCatalogue</h2></a>
                    </li>
                    @if ((Session["AllCustomerDetails"] != null || (!string.IsNullOrEmpty(searchBy) && !string.IsNullOrEmpty(searchNumber))) && Session["isDealer"].ToString2() != "True" && !Util.isCDPUUser())
                    {
                        <li class="col-sm-3" id="backHome-overlay" onclick="cancelTransaction();"><a>
                            <div class="megamenu-home-back-sm"></div>
                            <h2>Back to Home</h2></a>
                        </li>
                    }
                    @*<li class="col-sm-3" id="irecommender-overlay">
            <div class="recommender-sm"></div>
            <h2>iRecommender</h2>
          </li>*@
                </ul>
            </div>
        </div>
        <div class="modal-dialog modal-lg" id="sub-nav">
            <ul class="sub-header col-sm-8">
                <li class="sub-menu-back col-sm-2" id="sub-nav-mobility-header"><span><</span></li>
                <li class="col-sm-10 sub-menu-title">MOBILITY SERVICES</li>
            </ul>
            <div class="clearfix">
            </div>
            <div class="col-sm-8">
                <ul class="sub-menu col-sm-6">
                    @if (Session[Online.Registration.Web.CommonEnum.SessionKey.FxInternalCheckMessage.ToString()].ToString2() == "Active" || Session[Online.Registration.Web.CommonEnum.SessionKey.FxInternalCheckMessage.ToString()].ToString2() == "Account has outstanding amount. To proceed, please collect outstanding amount." || Session[Online.Registration.Web.CommonEnum.SessionKey.FxInternalCheckMessage.ToString()].ToString2() == string.Empty)
                    {
                        /* CR1234 - Hide from Mega Menu
                        if (Session["PPID"].ToString2() != string.Empty && Session["PPID"].ToString2() != "IU")
                        {//Anthony: [#2110] Prepaid GSM Should only display SIM Replacement
                            if (!blockVIP)
                            {
                            <li class="col-sm-12 is-submenu" id="sub-nav-mobility-plan">
                            <a class="submenu" href="#" onclick="CheckBRE_HS('add plan w/o device','@Url.Content("~/Registration/SelectPlanNew")')">Plan<span>></span></a> 
                            </li>
                        
                            <li class="col-sm-12 is-submenu" id="sub-nav-mobility-plandevice">
                            <a class="submenu" href="#" onclick="CheckBRE_HS('add plan w/o device','@Url.Content("~/Registration/SelectDevicePlan?type=" + ((int)MobileRegType.DevicePlan))')">Device + Plan<span>></span></a>
                            </li>
                            }
                        }
                        if (Session["PPID"].ToString2() == "E" && Session["HasActivePostGSMLines"] == "True")
                        {
                            if (!blockVIP)
                            { 
                            <li class="col-sm-12 is-submenu" id="sub-nav-mobility-addcontract">
                            <a class="submenu" href="#" onclick="CheckBRE_HS('add contract','@Url.Content("~/AddContract/Index?type=" + ((int)MobileRegType.Contract))')">Add Contract / Zerolution<span>></span></a>
                            </li>
                            }
                        }

                        if (Session["PPID"].ToString2() == "E" && (Session["HasActivePostGSMLines"] == "True" || Session["HasActiveHSDPALines"] == "True"))
                        { 
                            <li class="col-sm-12 is-submenu" id="sub-nav-mobility-newline">
                            <a class="submenu" href="#" onclick="CheckBRE_HS('new princ line','@Url.Content("~/Newline/AddNewLine?type=" + ((int)MobileRegType.NewLine))')">Add New Line<span>></span></a>
                            </li>
                        }

                        if (Session["PPID"].ToString2() == "E" && Session["HasActivePostGSMLines"] == "True")
                        {
                            if (!blockVIP)
                            {
                            <li class="col-sm-12 is-submenu" id="sub-nav-mobility-suppline">
                            <a class="submenu" href="#" onclick="CheckBRE_HS('supline','@Url.Content("~/SuppLine/AccountsList?type=" + ((int)MobileRegType.SuppPlan))')">Add Supplementary Line<span>></span></a>
                            </li>
                            <li class="col-sm-12 is-submenu" id="sub-nav-mobility-secline">
                            <a class="submenu" href="#" onclick="CheckBRE_HS('add supp/secon line','@Url.Content("~/SuppLine/AccountsListMISM?type=" + ((int)MobileRegType.SecPlan))')">Add MISM<span>></span></a>
                            </li>
                            }
                        }
                        */
                        
                        if (!Roles.IsUserInRole("MREG_NEW"))
                        {
                            if (!blockVIP)
                            {
                                if (Session["PPID"].ToString2() == "E")
                                {
                                    if (Session["HasActiveHSDPALines"] == "True" || Session["HasActivePreGSMLines"] == "True" || Session["HasActivePostGSMLines"] == "True")
                                    {
                                        <li class="col-sm-12 is-submenu" id="sub-nav-mobility-simreplacement">
                                        @*<a class="submenu" href="#" onclick="CheckBRE_HS('sim replace','@Url.Content("~/QSimReplacement/AccountDetails?type=" + ((int)MobileRegType.SimReplacement))')">HSDPA / FWBB / Prepaid / Postpaid / MISM SIM Replacement<span>></span></a>*@
                                        <a class="submenu" href="#" onclick="CheckBRE_HS('sim replace','@Url.Content("~/QSimReplacement/AccountDetails?type=" + ((int)MobileRegType.SimReplacement))')">SIM Replacement<span>></span></a>
                                        </li>
                                    }
                                }
                            }
                        }
                        if (!blockVIP)
                        {
                            if (Session["PPID"].ToString2() == "E")
                            {
                                if (Session["HasActivePostGSMLines"] == "True")
                                {
                                    <li class="col-sm-12 is-submenu" id="sub-nav-mobility-addremovevas">
                                    <a class="submenu" href="#" onclick="CheckBRE_HS('VAS','@Url.Content("~/AddRemoveVAS/Index?type=" + ((int)MobileRegType.AddRemoveVAS))')">Add/Remove VAS<span>></span></a>
                                    </li>
                                }
                            }
                        }

                        /* CR1234 - Hide from Mega Menu
                        if (Roles.IsUserInRole("MREG_CRP"))
                        {
                            if (!blockVIP)
                            {
                                if (Session["PPID"].ToString2() == "E" && Session["HasActivePostGSMLines"] == "True")
                                {
                            
                                <li class="col-sm-12 is-submenu" id="sub-nav-mobility-crp">
                                <a class="submenu" href="#" onclick="CheckBRE_HS('CRP','@Url.Content("~/CRP/Accounts?type=" + ((int)MobileRegType.DeviceCRP))')">CRP<span>></span></a>
                                </li>
                                }
                            }
                        }
                        */
                    }
                </ul>
                <ul class="sub-menu col-sm-6">
                    @if (Session["PPID"].ToString2() == "E" && Session["HasActivePreGSMLines"] != "True")
                    {
                        if (!blockVIP)
                        {
                            //26022015 - Anthony - Extra Ten Decommission + Remove Manage Extra Ten Menu
                            /*
                            <li class="col-sm-12 is-submenu" id="sub-nav-mobility-extraten">
                            <a class="submenu" href="#" onclick="CheckBRE_HS('extra ten','@Url.Content("~/ExtraTen/AccountsList")')">Manage Extra TEN<span>></span></a>
                            </li>
                            */
                        }
                    }
                    
                    @if (Session["PPID"].ToString2() == "E" && Session["HasActivePostGSMLines"] == "True")
                    {
                        if (!blockVIP)
                        { 
                            <li class="col-sm-12 is-submenu" id="sub-nav-mobility-billdelivery">
                            <a class="submenu" href="@Url.Content("~/BillDelivery/AccountsList")">Bill Delivery Options<span>></span></a>
                            </li>
                        }
                    }
                    
                    @if (Session["PPID"].ToString2() != string.Empty && Session["PPID"].ToString2() != "IU" || Session["HasActivePreGSMLines"] == "True")
                    {
                        /* CR1234 - Hide from Mega Menu
                        if (!blockVIP)
                        {
                            if (Session[Online.Registration.Web.CommonEnum.SessionKey.FxInternalCheckMessage.ToString()].ToString2() == "Active" || Session[Online.Registration.Web.CommonEnum.SessionKey.FxInternalCheckMessage.ToString()].ToString2() == "Account has outstanding amount. To proceed, please collect outstanding amount." || Session[Online.Registration.Web.CommonEnum.SessionKey.FxInternalCheckMessage.ToString()].ToString2() == string.Empty)
                            {
                            <li class="col-sm-12 is-submenu" id="sub-nav-mobility-mnp">
                            <a class="submenu" onclick="CheckBRE_HS('MNP','@Url.Content("~/MNP/EnterDetailsNew")')" href="#">MNP<span>></span></a>
                            </li> 
                                
                            }
                            @*22052015 Remove Status Tracking to from sub-menu to outside - Lus 
                            <li class="col-sm-12 is-submenu" id="sub-nav-mobility-statustracking">
                            <a class="submenu" onclick="checkBRElayout('ancMenu_Mobility'); return true;" href="@Url.Content("~/MNP/StatusTrackingNew")">Status Tracking<span>></span></a>
                            </li> *@
                        }
                        */
                        if (Session["SR_PPIDCheck"].ToString2() == "E" || Session["isOnlyPREGSMSIMReplace"].ToString2() == "Y")
                        {
                            if (Session["HardStop"].ToString2() != "True" && Session["IsDealer"].ToString2() == "False")
                            {

                                //OutRight Device Sales
                                <li class="col-sm-12" id="sub-nav-mobility-outright-device">
                                    <a class="submenu" href="#" onclick="CheckBRE_HS('outright device','@Url.Content("~/DeviceSales/DeviceBrand")')">
                                        Outright Device<span>></span>
                                    </a>
                                </li>
                        
                                <li class="col-sm-12" id="sub-nav-mobility-outright-accessory">
                                    <a class="submenu" href="#" onclick="CheckBRE_HS('outright device','@Url.Content("~/Accessory/SelectAccessory")')">
                                        Outright Accessories<span>></span>
                                    </a>
                                </li>
                            }
                        }
                        else if (Session["PPID"].ToString2() == "N")
                        {
                            //OutRight Device Sales
                                <li class="col-sm-12" id="sub-nav-mobility-outright-device">
                                    <a class="submenu" href="#" onclick="CheckBRE_HS('outright device','@Url.Content("~/DeviceSales/DeviceBrand")')">
                                        Outright Device<span>></span>
                                    </a>
                                </li>
                                
                                <li class="col-sm-12" id="sub-nav-mobility-outright-accessory">
                                    <a class="submenu" href="#" onclick="CheckBRE_HS('outright device','@Url.Content("~/Accessory/SelectAccessory")')">
                                        Outright Accessories<span>></span>
                                    </a>
                                </li>
                        }

                        if (Roles.IsUserInRole("MREG_TL"))
                        {

                                        <li class="col-sm-12" id="sub-nav-mobility-vieworder">
                                        <a class="submenu" href="@Url.Content("~/Registration/StoreKeeper")">View Orders<span>></span></a>
                                        </li>
                        }
                    }
@*<a href="#irecommender"><li class="col-sm-12">iRecommender<span>></span></li></a>
          <a href="#inventory"><li class="col-sm-12">Inventory Dashboard<span>></span></li></a>
          <a href="#cashier"><li class="col-sm-12">CASHIER<span>></span></li></a>*@
                </ul>
            </div>
        </div>
        <div class="modal-dialog modal-lg" id="sub-nav-sme">
            <ul class="sub-header col-sm-6">
                <li class="sub-menu-back col-sm-2" id="sub-nav-sme-header"><span><</span></li>
                <li class="col-sm-10 sub-menu-title">SMEI/CI SERVICES</li>
            </ul>
            <div class="clearfix">
            </div>
            @if (Session["FxInternalCheckMessage"].ToString2() == "Active" || Session["FxInternalCheckMessage"].ToString2() == "Account has outstanding amount. To proceed, please collect outstanding amount." || Session["FxInternalCheckMessage"].ToString2() == string.Empty)
            {
                if (Session["PPID"].ToString2() != string.Empty && Session["PPID"].ToString2() != "IU" && Session["WriteOffHardstop"].ToString2() != "True" && Session["AllowSimReplacementForWriteOff"].ToString2() != "True" && !(Session["PPID"].ToString2() == "N" && (Session["PPIDSearchIDType"] == "ACCT")) && Session[Online.Registration.Web.CommonEnum.SessionKey.FxInternalCheckMessage.ToString()].ToString2() != "One or more acct have been written off. Please collect outstanding amount.")
                {
                    if (!blockVIP)
                    {
                <div class="col-sm-8">
                    <ul class="sub-menu col-sm-6">
                        
                            <li class="col-sm-12 is-submenu" >
                            <a class="submenu" href="#" onclick="CheckBRE_HS('add plan w/o device','@Url.Content("~/Home/BRNSearchNew?type=" + ((int)MobileRegType.PlanOnly))')" >Plan<span>></span></a>
                            </li>
                        
                            <li class="col-sm-12 is-submenu">
                            <a class="submenu" onclick="CheckBRE_HS('add plan w/o device','@Url.Content("~/Home/BRNSearchNew?type=" + ((int)MobileRegType.DevicePlan))')" href="#">Device + Plan<span>></span></a>
                            </li>
                        
                            <li class="col-sm-12 is-submenu">
                            <a class="submenu" onclick="CheckBRE_HS('MNP','@Url.Content("~/Home/BRNSearchNew?type=" + ((int)MobileRegType.MNPPlanOnly))')" href="#">MNP<span>></span></a>
                            </li>
                    </ul>
                </div>
                    }
                }
            }
        </div>
        
        <div class="modal-dialog modal-lg" id="sub-nav-smart"> 
            <ul class="sub-header col-sm-6">
                <li class="sub-menu-back col-sm-2" id="sub-nav-smart-header"><span><</span></li>
                <li class="col-sm-10 sub-menu-title">SMART</li>
            </ul>
            <div class="clearfix">
            </div>
            @if ((Roles.IsUserInRole("SMRT_USER") || Roles.IsUserInRole("SMRT_MANAGER")))
            {
                if (Session["isDealer"].ToString2() != "True")
                {
                    if (Session["PPID"].ToString2() != string.Empty && Session["PPID"].ToString2() == "E")
                    {
                        if (!blockVIP)
                        { 
                <div class="col-sm-8">
                    <ul class="sub-menu col-sm-6">
                        
                            <li class="col-sm-12 is-submenu" >
                            <a class="submenu" onclick="CheckBRE_HS('SMART','@Url.Content("~/Retention/Retention/Accounts?type=" + ((int)MobileRegType.DeviceCRP))')" href="#">Smart Services<span>></span></a></li>
                            
                            <li class="col-sm-12 is-submenu">
                            <a class="submenu" href="@Url.Content("~/BillDelivery/AccountsList")">Bill Delivery Options<span>></span></a>
                            </li>
                    </ul>
                </div>
                        }
                    }
                }
            }
        </div>
        <div class="modal fade" id="coverageCheck1" role="dialog" aria-labelledby="coverageCheck1"
            aria-hidden="true">
            <div class="modal-dialog  modal-lg">
                <div class="modal-content" style="width: 110%; height: 900px; overflow-x: hidden">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span class="close-btn">Close</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="coverageCheck-list">
                            <div id="coverageIframe1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Service Request Sub Menu-->
        @MegaMenu.GenerateServiceRequestMenu()
    </div>

    @{
        //var _vd = new ViewDataDictionary();
        //_vd.Add("ApprovalType", "WO");
        //_vd.Add("FromCustomerSearch", "True");
        //Html.RenderPartial("_SpvApproval", _vd);
     }

    <div id="wrapper">
        <div id="headcontainer">
           
        </div>
        <div id="maincontentcontainer">
            <!-- Left column area - main menu -->
            <div id="">
            </div>
            <div id="center">
                <div class="center_box">
                    <div class="content_white">
                        @RenderBody()
                    </div>
                </div>
                <div class="footer-text">
                    Copyright &copy; 2013 Maxis. All Rights Reserved.</div>
            </div>
            @* <div id="right">&nbsp;</div>*@
        </div>
    </div>
    

    @{
        Html.Telerik().Window()
               .Name("infoWindow")
               .Title("iSELL V1.1b.0")
               .Width(505)
               .Content(@<text>
        <div class="aboutus-content">
            <div class="aboutus-inn">
                <p>
                    iSELL Retail is an initiative from Maxis ISD for equipping the Maxis retail centers
                    with software that eases and speeds up the process of registrations. The feature
                    list for first release V1.1b.0 is:</p>
                <ul>
                    <li>New Registrations</li>
                    <ul>
                        <li>Plan</li>
                        <li>Plan with Device</li>
                        <li>New Lines</li>
                    </ul>
                    <li>Eligibility Checks</li>
                    <li>Personal identification checks</li>
                    <li>Retention Services</li>
                </ul>
                <p>
                    iSELL has been designed and developed by Maxis ISD in partnership with ValueLabs</p>
            </div>
        </div>
        </text>)
           .Modal(true)
           .Visible(false)
           .Height(270)
           .Render();  
        }

    <script type="text/javascript" language="javascript">
        jQuery(document).ready(function () {
            $('#ancInfo').click(function () {
                $('#infoWindow').data('tWindow').center().open();
            });
        });
   
    </script>
    @{                    
        Html.Telerik()
            .ScriptRegistrar()
            .DefaultGroup(grp => grp
                .Add("jquery.validate.min.js")
                .Add("jquery.validate.unobtrusive.min.js")
                .Add("jquery.unobtrusive-ajax.js")
                .Add("jquery-ui-1.8.20.min.js")
                .Add("ZeroClipboard.js")
                .Add("jquery.blockUI.js")
                .Add("modernizr-2.5.3.js")
                .Add("jquery-ui-timepicker-addon.js")
                .Add("flashcanvas.js")
                .Add("jSignature.min.js")
                .Add("jquery.ui.core.js")
                .Add("jquery.ui.widget.js")
                .Add("jquery.ui.rcarousel.js")
                .Add("jquery.tabletojson.min.js")
                .Add("scripts.js")
            ).Render();
    }

       

    <script type="text/javascript" language="javascript">

        function cancelTransaction() {
            var form = document.createElement("form");
            form.method = "POST";
            form.action = '@(Url.Action("IndexNew", "Home", new { area = ""}, ""))';
            document.body.appendChild(form);
            form.submit();
        }

        $(document).ready(function () {
            var LoadImgPath = '@Url.Content("~/Content/img/shared/iSELL-loading.gif")';
            var isonformsubmit = "False";

            $(document).ajaxStart(function () {
                $.blockUI({
                    baseZ: 11000,
                    message: '<div class="LoderDiv"><img id="imgloading" src=' + LoadImgPath + ' /><br><span style="font-family: Verdana,Geneva,sans-serif;font-size: 20px;">Loading...</span></div>'
                });
                setTimeout("$('#imgloading').attr('src', '" + LoadImgPath + "' );", 1);
            }).ajaxStop(function () {
                if (isonformsubmit == "False") {
                    $.unblockUI();
                }
            });

            $(".overlayonsubmit").on("submit", function () {

                if ($(this).valid()) {
                    $.blockUI({
                        baseZ: 11000,
                        message: '<div class="LoderDiv"><img id="imgloading" src=' + LoadImgPath + ' /><br><span style="font-family: Verdana,Geneva,sans-serif;font-size: 20px;">' + $(this).attr("processmsg") + '</span></div>'
                    });
                    setTimeout("$('#imgloading').attr('src', '" + LoadImgPath + "' );", 1);
                    isonformsubmit = "True";
                }
            });

            $('.cancel').click(function () {
                //$("#frmSelectMobileNo").validate({ignore: ".cancel"}).cancelSubmit = true;
                $.data($(this).parents('form')[0], 'validator', null);
            });

            if ($("#viewBody").length > 0 && $(".viewInnerBody").length > 0) {
                $('.viewInnerBody').height($('#viewBody').height() + 90);

                if ($(".orderSummary .content").length > 0) {
                    $('.orderSummary .content').height($('.viewInnerBody').height() - 50);
                }
            }

            //To filter the menu for Dealers
            if ('@isDealer' == 'True') {
                //hidden
                $('#sub-nav-mobility-plandevice').css("display", "none");
                $('#sub-nav-mobility-plan').css("display", "none");
                $('#sub-nav-mobility-addcontract').css("display", "none");
                $('#sub-nav-mobility-newline').css("display", "none");
                $('#sub-nav-mobility-crp').css("display", "none");
                $('#sub-nav-mobility-mnp').css("display", "none");
                $('#sub-nav-mobility-outright-device').css("display", "none");
                $('#sub-nav-mobility-outright-accessory').css("display", "none");
                $('#sub-nav-mobility-vieworder').css("display", "none");
                $('#sub-nav-mobility-suppline').css("display", "none");
                $('#sub-nav-mobility-secline').css("display", "none");

                //no need to modify for below sub-menu
                //$('#sub-nav-mobility-simreplacement').css("display", "block");
                //$('#sub-nav-mobility-addremovevas').css("display", "block");
                //$('#sub-nav-mobility-extraten').css("display", "block");
                //$('#sub-nav-mobility-billdelivery').css("display", "block");
                //$('#sub-nav-mobility-statustracking').css("display", "block");
            }
            window.scrollTo(0, 0);
        });
        
        $(".is-submenu a").click(function () {
            var curUrl = $(this).attr("data");
            var PPID = '@(SessionManager.Get("PPID"))';
            if ('@Session["PPID"].ToString2()' != "E" && $(this).attr("parentid").toString().indexOf('_Smart') != -1) {
                alert("Please Select an Account.");
                return false;
            }
            if ('@menuType' == '@((int)MenuType.MNPRegistration)') {
                var isMnp = $(this).attr("isMnp");
                if (isMnp == null) {
                    alert("Not Allowed.");
                    return false;
                }

            }
            else if ('@menuType' == '@((int)MenuType.MNPPlanWithMultiSuppline)') {
                var isMultipleMnp = $(this).attr("isMultipleMNP");
                if (isMultipleMnp == null) {
                    alert("Not Allowed.");
                    return false;
                }
            }
            var VIP = ''
            if (curUrl != '') {
                if (PPID == '') {
                    alert("Identity check is not performed.");
                    return false;
                }

                else if ('@(SessionManager.Get("VIP"))' != null && '@(SessionManager.Get("VIP"))' != '') {
                    VIP = '@(SessionManager.Get("VIP"))';
                }

                if (VIP == '*****') {
                    //alert("VIP account needs approval, please proceed with another account.");
                    return false;
                }


                else {
                    //Post the menu id
                    var postUrl = '@(Url.Content("~/Home/SaveMenuOption"))';
                    $.post(postUrl, { curMenu: $(this).attr("parentid").toString() }, function (data) {
                        //return true;
                        window.location = curUrl;
                    });
                }
            }
            return false;
        });

        $('#ancMenu_Mobility').click(function () {
            isPPIdCheckPerformed();
        });



        $("#ancMenu_Smart").click(function () {
            isPPIdCheckPerformed();
        });

        $("#liMenu_Mobility").click(function () {
            isPPIdCheckPerformed();
        });
        $("#liMenu_SMEI").click(function () {
            isPPIdCheckPerformed();
        });

        $("#limenu_Smart").click(function () {
            isPPIdCheckPerformed();
        });

        $("#ancMenu_SMEI").click(function () {
            isPPIdCheckPerformed();
        });

        $("#ancMenu_Customer").live("click", function () {
            isPPIdCheckPerformed();
        });

        function isPPIdCheckPerformed() {
            var PPIdCheck = '@Session["PPID"].ToString2()';
            if (PPIdCheck == '') {
                alert("Identity check is not performed.");
                return false;
            }
            var writtenOff = '@Session["isWrittenOff"].ToString2()';
//            if (writtenOff == 'True') {
//                alert("One or more acct have been written off. Please collect outstanding amount");
//                return false;
//            }
            var VIPuser = '@Session["VIP"].ToString2()';
            if (VIPuser == 'True') {
                alert("VIP account needs approval, please proceed with another account.");
                return false;
            }
            return true;
        }

        //RST new layout
        function CheckBRE_HS(button, redirectURL) {
            debugger;
            var postUrl = '@(Url.Content("~/Home/CheckBRE_HS"))';
            $.post(postUrl, {
                button: button,
                id: '',
                msisdn: '',
                redirectURL: redirectURL
            },
                function (data) {
                    if (data.CheckBREHS == "True") {

                        if (data.HSList != "") {
                            alert(data.HSList + " failed. You cannot proceed with the Registration");
                        }
//                        if (data.WriteOffTreatment == "A") {
//                            $('#approval-popup').modal('show');
//                        }

                        return false;
                    }
                    else {
                        window.location = redirectURL;
                    }
                }
            );
            return false;
        };
        //End RST

        function checkBRElayout(menu) {
            //Post the menu id
            debugger;
            var postUrl = '@(Url.Content("~/Home/SaveMenuOption"))';
            $.post(postUrl, { curMenu: menu }, function (data) {
                debugger;
                //alert(curUrl);
                //return true;
                if ('@isDealer' == "True") {
                    if (!data.BREStatus && data.isMenuSuccess) {
                        return true;
                    }
                    else if (data.BREStatus) {
                        var BREFailedRules = data.BREFailedRules;
                        alert(BREFailedRules + " failed. You cannot proceed with the Registration");
                        var postUrl1 = '@(Url.Content("~/Home/Index"))';
                        return false;
                    }
                }
                else if (data.isMenuSuccess) {
                    return true;
                }
            });
            return true;
        };

        //VLT Code For Disable Back  on  Apr 04 2013
        window.history.forward();
        function noBack() { window.history.forward(); }
        //End of VLT Code For Disable Back on  Apr 04 2013


        $(function () {
            $('div.content_white>div:first').addClass('success-header');
            $('div.content_white>div:eq(1)').addClass('success-body');
        });

        function SetMenuOption(navUrl, objCurParentMenu) {
            //Post the menu id
            var postUrl = '@(Url.Content("~/Home/SaveMenuOption"))';
            $.post(postUrl, { curMenu: objCurParentMenu }, function (data) {

                window.location = navUrl;
            });

        }

        var curMenu = '@Session["SaveMenuOption"].ToString2()';
        if (curMenu == '') {

            if ($('#ulMenuTab').css('display') == 'none') {
                if ($('#ancMenu_Sk').hasClass("selected").toString() == "true") {
                    curMenu = "ancMenu_Sk";
                
                }
                else if ($('#ancMenu_Cash').hasClass("selected").toString() == "true") {
                    curMenu = "ancMenu_Cash";
                }
                else {
                    curMenu = "ancMenu_Search";
                }
            }
            else {
                if ($('#liMenu_Sk').hasClass("selected").toString() == "true") {
                    curMenu = "liMenu_Sk";
   
                }
                else if ($('#liMenu_Cashier').hasClass("selected").toString() == "true") {
                    curMenu = "liMenu_Cashier";
                }
                else {
                    curMenu = "liMenu_Search";
                }
            }

        }

        if ($('#ulMenuTab').css('display') == 'none') {
            $('a[id^="ancMenu_"]').removeClass('selected');
        }
        else {
            $(".anMenucls").removeClass('selected');
        }
        if (document.getElementById(curMenu) != null) {
            $('#' + curMenu).addClass('selected');
        }


    </script>
    
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js2/vendor/bootstrap.min.js")"></script>     
    @RenderSection("Scripts", false)
</body>
</html>
