﻿@using Online.Registration.Web.ViewModels
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@using Online.Registration.Web.Models;
@using Online.Registration.Web.SubscriberICService;
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
@{  
    Online.Registration.DAL.Models.BrandArticle brandArticleImage = null;
    Online.Registration.DAL.Models.Model deviceModel = null;
    var bundlePackage = new Online.Registration.DAL.Models.PgmBdlPckComponent();
    string isIMEIeligibleInDevicePage = "0";
    if (Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("DSupervisor") || Roles.IsUserInRole("MREG_DIC") ||
        Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_SK") || Roles.IsUserInRole("MREG_DSK") || Roles.IsUserInRole("DREG_SK"))
    {
        isIMEIeligibleInDevicePage = "1";
    }

    var dropFourObj = (DropFourObj)Session["DropFourObj"];
    var sublineVMs = (List<SublineVM>)Session["RegMobileSub_SublimeVM_Session"];
    string selectedNo = "";

    bool isDedicatedSuppFlow = Session[Online.Registration.Web.CommonEnum.SessionKey.DedicatedSuppFlow.ToString()].ToBool();
    var backColor = "";
    if (isDedicatedSuppFlow)
    {
        backColor = "background-color:#ebebeb;";
    }
    else
    {
        backColor = "";
    }
    
    if (dropFourObj.suppFlow.Count > 0 || (sublineVMs != null && sublineVMs.Count > 0))
    {
        var totalObjCount = sublineVMs != null && sublineVMs.Count > 0 ? sublineVMs.Count : dropFourObj.suppFlow.Count;

        for (int i = 0; i < totalObjCount; i++)
        {
            decimal subTotal = 0;
            Flow suppFlow = null;
            SublineVM sublineVM = null;
            decimal tradeUpPrice = 0;//14012015 - Anthony - GST Trade Up
            decimal tradeUpPriceView = 0;//14012015 - Anthony - GST Trade Up

            if (sublineVMs != null && i < sublineVMs.Count)
            {
                sublineVM = sublineVMs[i];
            }
            else
            {
                suppFlow = dropFourObj.suppFlow[i];
                if (suppFlow.mobile != null)
                {
                    selectedNo = suppFlow.mobile.SelectedMobileNo.ToString2();
                }
                else if (suppFlow.orderSummary != null && suppFlow.orderSummary.MNPSupplinesList.Count > 0)
                {
                    selectedNo = suppFlow.orderSummary.MNPSupplinesList.FirstOrDefault().RegMobileReg_MSISDN.ToString2();
                }
            }


            OrderSummaryVM secondFlow = null;
            if (suppFlow != null)
            {
                secondFlow = dropFourObj.suppFlow[i].orderSummary;

                //14012015 - Anthony - GST Trade Up - Start
                if (dropFourObj.suppFlow[i].isTradeUp.ToBool())
                {
                    var deviceOfferPrice = dropFourObj.suppFlow[i].OfferDevicePrice.ToDouble();
                    var deviceOfferPriceAfterTax = WebHelper.Instance.GetOfferPriceAfterTax(deviceOfferPrice).ToDecimal();

                    tradeUpPrice = secondFlow.SelectedTradeUpComp.Price;
                    tradeUpPriceView = tradeUpPrice * -1;

                    if (tradeUpPriceView > deviceOfferPriceAfterTax)
                    {
                        tradeUpPriceView = deviceOfferPriceAfterTax;
                        tradeUpPrice = deviceOfferPriceAfterTax * -1;
                    }
                }
                //14012015 - Anthony - GST Trade Up - End
            }

            var hiddenName = "SuppSimSerial" + i.ToString();
            var hiddenImeiName = "SuppIMeiSerial" + i.ToString();

            if (secondFlow != null)
            {
                subTotal = secondFlow.UpFrontPayment;
            }
    <div class="col-sm-12">
        @if (isIMEIeligibleInDevicePage == "0")
        {
            <div class="col-sm-12 kill-padding">
                <p class="inner-title">
                    Order Summary (Supplementary Line)</p>
            </div>
        }
        else
        { 
            <div class="col-sm-12 kill-padding">
                <p class="inner-title">
                    Order Summary (Supplementary Line)</p>
            </div>
        }

        @if (!string.IsNullOrEmpty(selectedNo))
        { 
            <div class="col-sm-2 kill-padding">
                <p class="inner-label">
                    MSISDN</p>
            </div>
            <div class="col-sm-1" style="width: 4%!important;">
                :</div>
            <div class="col-sm-9 kill-padding">
                <p class="inner-content">
                    @selectedNo
                </p>
            </div>
        }

        @if (secondFlow != null && !string.IsNullOrEmpty(secondFlow.ModelName))
        {
            <div class="col-sm-2 kill-padding">
                <p class="inner-label">
                    Device</p>
            </div>
            <div class="col-sm-1" style="width:4%!important;">
                :</div>
            <div class="col-sm-9 kill-padding">
                <p class="inner-content">
                    @secondFlow.ModelName
                </p>
            </div>
        }
        else if (sublineVM != null && !string.IsNullOrEmpty(sublineVM.ModelName))
        {

            <div class="col-sm-2 kill-padding">
                <p class="inner-label">
                    Device</p>
            </div>
            <div class="col-sm-1" style="width:4%!important;">
                :</div>
            <div class="col-sm-9 kill-padding">
                <p class="inner-content">
                    @sublineVM.ModelName
                </p>
            </div>
        }
        
        @if (dropFourObj.suppFlow[i].SelectedAccessory != null && dropFourObj.suppFlow[i].SelectedAccessory.Count > 0)
        {
            <div class="col-sm-2 kill-padding">
                <p class="inner-label">
                    Accessories
                </p>
            </div>
            <div class="col-sm-1" style="width:4%!important;">
                :
            </div>
            <div class="col-sm-9 kill-padding">
                <p class="inner-content">
                    @foreach (var accessory in dropFourObj.suppFlow[i].SelectedAccessory)
                    {
                        var offerAccessory = accessory.offerDetail.Where(x => x.isSelected == true).ToList();
                        if (offerAccessory != null && offerAccessory.Count > 0)
                        {
                            var isAccFinancing = offerAccessory.FirstOrDefault().isAccFinancing;
                            var tenure = offerAccessory.FirstOrDefault().tenure;
                            var rrpPrice = offerAccessory.FirstOrDefault().rrpPrice;
                            var offerPrice = rrpPrice - offerAccessory.FirstOrDefault().discount_amount;

                            var offerAccessoryPrice = offerAccessory.FirstOrDefault().offerPrice * accessory.quantity;
                            var attributeName = !string.IsNullOrEmpty(accessory.AttributeName)
                                                        ? " - " + accessory.AttributeName.ToString2()
                                                        : accessory.AttributeName.ToString2();
                            
                            if (isAccFinancing)
                            {
                                @(accessory.Name + attributeName + " - " + offerAccessory.FirstOrDefault().description + " (" + tenure + "mths) - (RM" + offerPrice + ") (" + accessory.quantity + ")")
                            }
                            else
                            {
                                @(accessory.Name + attributeName + " - " + offerAccessory.FirstOrDefault().description + " - (RM" + offerAccessory.FirstOrDefault().offerPrice + ") (" + accessory.quantity + ")")
                            }
                            <br />
                        }
                    }
                </p>
            </div>
        }
            
        <div class="col-sm-2 kill-padding">
            <p class="inner-label">
                Plan</p>
        </div>
        <div class="col-sm-1" style="width:4%!important;">
            :</div>
        <div class="col-sm-9 kill-padding">
            <p class="inner-content">
                @if (secondFlow != null)
                {
                    <span>@secondFlow.PlanName</span>
                }
                else if (sublineVM != null)
                {
                    <span>@sublineVM.PackageName</span>
                }
            </p>
        </div>
        <div class="col-sm-2 kill-padding">
            <p class="inner-label">
                VAS</p>
        </div>
        <div class="col-sm-1" style="width:4%!important;">
            :</div>
        <div class="col-sm-9 kill-padding">
            <p class="inner-content">
                @{
                var vasNames = suppFlow != null ? suppFlow.VasNames : sublineVM.SelectedVasNames;
                if (vasNames != null)
                {
                    foreach (var name in vasNames)
                    {
                    @name<br />
                    }
                }
                }
            </p>
        </div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
        <div class="row">
            @{
                if (Session["RegID"] != null)
                {
                    var size = dropFourObj.suppFlow[i].simSize;
                    if (sublineVM != null && !string.IsNullOrEmpty(sublineVM.ModelName))
                    {
                <div class="col-sm-12">
                    <button class="btn orderSummBtn MarginTop MarginBottom open-imei-window" type="button" data-regid="@(Session["RegID"].ToString2())" data-msisdn="@(sublineVM.MSISDN1)" data-suppid="@(sublineVM.SupplineID)" data-suppindex="@(i.ToString())" data-flow="supp" data-toggle="modal" data-target="#imei-window">
                        Enter IMEI no.</button></div>
                @Html.Hidden(hiddenImeiName)
                    }

                    if (suppFlow != null)
                    {          
                <div class="col-sm-12">
                    <button class="btn orderSummBtn MarginTop MarginBottom open-sim-window" type="button" data-suppindex="@(i.ToString())" data-flow="supp" data-simmodel="@dropFourObj.suppFlow[i].simSize"  data-toggle="modal" data-target="#sim-window">
                        Enter Supplementary SIM Card serial no.</button></div>
                @Html.Hidden(hiddenName)
                    }
                    else if (sublineVM != null)
                    {
                        
                <div class="col-sm-12">
                    <button class="btn orderSummBtn MarginTop MarginBottom open-sim-window" type="button" data-simsize="@sublineVM.SimTypeID" data-msisdn="@(sublineVM.MSISDN1)" data-suppid="@(sublineVM.SupplineID)"  data-suppindex="@(i.ToString())" data-flow="supp" data-simmodel="@sublineVM.SimType"  data-toggle="modal" data-target="#sim-window">
                        Enter Supplementary SIM Card serial no.</button></div>
                @Html.Hidden(hiddenName)
                    }
                }
     
            }
        </div>
    </div>
        
    
    <div class="row">
        <div class="col-sm-12">
            <ul class="supplimentary-order" style="margin-bottom:0px; @backColor">
            <p class="inner-label">
                        MONTHLY</p>
                @if (secondFlow != null && !string.IsNullOrEmpty(secondFlow.ModelName))
                {
                    if (suppFlow.isDeviceFinancingOrder)
                    { 
                    <li>
                        <p class="inner-label">
                            Device Offer Price</p>
                        <p class="inner-content">@string.Format("({0}{1}{2})", "RM", suppFlow.monthlyDevicePrice, "/month")</p>
                    </li>
                    <li>
                        <p class="inner-label">
                            +</p>
                    </li>
                    }
                }
                    
                @if (suppFlow.isAccFinancingOrder)
                {
                    <li>
                        <p class="inner-label">Accessory Offer Price</p>
                        <p class="inner-content">@string.Format("({0}{1}{2})", "RM", suppFlow.monthlyAccPrice, "/month")</p>
                    </li>
                    <li>
                        <p class="inner-label">+</p>
                    </li>
                }

                    <li>
                    <p class="inner-label">
                        @if (secondFlow != null)
                        {
                            //18052015 Add split (-) for plan name - Lus
                            if (!string.IsNullOrEmpty(secondFlow.PlanName))
                            {
                                if (secondFlow.PlanName.Contains("-"))
                                {
                                    var currPlan = secondFlow.PlanName.Split('-');
                                    <p class="inner-label">@currPlan[0]</p>
                                }
                                else
                                { 
                                <p class="inner-label">@secondFlow.PlanName</p>
                                }
                            }
                        }
                        else if (sublineVM != null)
                        {
                            <span>@sublineVM.PackageName</span>}
                    </p>
                    <p class="inner-content">
                        (RM @if (secondFlow != null)
                            {
                            <span>@secondFlow.MonthlySubscription</span>}
                            else if (sublineVM != null)
                            {
                                using (var proxy = new CatalogServiceProxy())
                                {
                                    if (sublineVM.SelectedVasIDs.Count() > 0)
                                    {
                                        var vases = proxy.PgmBdlPckComponentGet(sublineVM.SelectedVasIDs).ToList();
                                        var totalPrices = vases.Sum(x => x.Price);
                            <span>@(totalPrices)</span>}
                                }
                            }/month)
                    </p>

                    <li></li>

                </li>
                   </ul> 
                    <ul class="supplimentary-order" style="@backColor">
                    <p class="inner-label">
                        UPFRONT</p>
                    @if (secondFlow != null && !string.IsNullOrEmpty(secondFlow.ModelName))
                    {
                    <li>
                        <p class="inner-label">
                            @suppFlow.orderSummary.ModelName</p>
                        @if (!string.IsNullOrEmpty(suppFlow.orderSummary.ColourName))
                        {
                            if (suppFlow != null && !suppFlow.isDeviceFinancingOrder)
                            {
                                subTotal += suppFlow.OfferDevicePrice.ToDecimal();
                            }

                            if (suppFlow.isDeviceFinancingOrder)
                            {
                                <p class="inner-content">@secondFlow.ColourName @string.Format("({0}{1})", "RM", "0.00")</p>
                            }
                            else
                            {
                                <p class="inner-content">@secondFlow.ColourName @string.Format("({0}{1:0.00})", "RM", suppFlow.OfferDevicePrice)</p> 
                            }
                        }
                    </li>
                    <li>
                        <p class="inner-label">
                            +</p>
                    </li>
                }
                else if (sublineVM != null && !string.IsNullOrEmpty(sublineVM.ModelName))
                {
                    <li style="height: 40px;">
                        <p class="inner-label">
                            @sublineVM.ModelName</p>
                        @if (!string.IsNullOrEmpty(sublineVM.ColourName))
                        {
                            subTotal += sublineVM.ModelPrice;
                            <p class="inner-content">@sublineVM.ColourName (@sublineVM.ModelPrice)</p>
                        }
                    </li>
                    <li style="height: 40px;">
                        <p class="inner-label">
                            +</p>
                    </li>
                }
                
                @if (dropFourObj.suppFlow[i].SelectedAccessory != null && dropFourObj.suppFlow[i].SelectedAccessory.Count > 0)
                {
                    foreach (var accessory in dropFourObj.suppFlow[i].SelectedAccessory)
                    {
                        var offerAccessory = accessory.offerDetail.Where(x => x.isSelected == true).ToList();
                        if (offerAccessory != null && offerAccessory.Count > 0)
                        {
                            var offerAccessoryPrice = offerAccessory.FirstOrDefault().offerPrice * accessory.quantity;
                            subTotal += offerAccessoryPrice;
                        <li style="height: 40px;">
                            <p class="inner-label">
                                @(accessory.Name) (@accessory.quantity)
                            </p>
                                
                            @if (!string.IsNullOrEmpty(accessory.AttributeName.ToString2()))
                            { 
                                <p class="inner-content">
                                    @(accessory.AttributeName)
                                </p>
                            }
                                
                            <p class="inner-content">
                                @("(RM" + offerAccessoryPrice + ")")
                            </p>
                        </li>
                    
                        <li style="height: 40px;">
                            <p class="inner-label">+</p>
                        </li>
                        }
                    }
                }

                
                
                <li style="height: 40px;">
                    <p class="inner-label">
                        Plan Advance</p>
                    <p class="inner-content">
                        (RM @if (Model.Customer.NationalityID.ToInt() == 1)
                            {
                                if (secondFlow != null)
                                {
                                    subTotal += secondFlow.MalayPlanAdv;
                            <span>@(string.Format("{0:0.00}", secondFlow.MalayPlanAdv))</span>}
                                else if (sublineVM != null)
                                {
                                    subTotal += sublineVM.MalayPlanAdv;
                            <span>@(string.Format("{0:0.00}", sublineVM.MalayPlanAdv))</span>}
                            }
                            else
                            {
                                if (secondFlow != null)
                                {
                                    subTotal += secondFlow.OthPlanAdv;
                            <span>@(string.Format("{0:0.00}", secondFlow.OthPlanAdv))</span>}
                                else if (sublineVM != null)
                                {
                                    subTotal += sublineVM.OthPlanAdv;
                            <span>@(string.Format("{0:0.00}", sublineVM.OthPlanAdv))</span>}
                            })
                    </p>
                </li>
                <li style="height: 40px;">
                    <p class="inner-label">+</p>
                </li>
                <li style="height: 40px;">
                    <p class="inner-label">
                        Registration Deposit</p>
                    <p class="inner-content">
                        (RM @if (Model.Customer.NationalityID.ToInt() == 1)
                            {
                                if (secondFlow != null)
                                {
                                    subTotal += secondFlow.MalyPlanDeposit;
                            <span>@(string.Format("{0:0.00}", secondFlow.MalyPlanDeposit))</span>}
                                else if (sublineVM != null)
                                {
                                    subTotal += sublineVM.MalyPlanDeposit;
                            <span>@(string.Format("{0:0.00}", sublineVM.MalyPlanDeposit))</span>}
                            }
                            else
                            {
                                if (secondFlow != null)
                                {
                                    subTotal += secondFlow.OthPlanDeposit;
                            <span>@(string.Format("{0:0.00}", secondFlow.OthPlanDeposit))</span>}
                                else if (sublineVM != null)
                                {
                                    subTotal += sublineVM.OthPlanDeposit;
                            <span>@(string.Format("{0:0.00}", sublineVM.OthPlanDeposit))</span>}
                            })
                    </p>
                </li>
                <li style="height: 40px;">
                    <p class="inner-label">
                        +</p>
                </li>
                <li style="height: 40px;">
                    <p class="inner-label">
                        Device Advance</p>
                    <p class="inner-content">
                        (RM @if (Model.Customer.NationalityID.ToInt() == 1)
                            {
                                if (secondFlow != null)
                                {
                                    subTotal += secondFlow.MalyDevAdv;
                            <span>@(string.Format("{0:0.00}", secondFlow.MalyDevAdv))</span>}
                                else if (sublineVM != null)
                                {
                                    subTotal += sublineVM.MalyDevAdv;
                            <span>@(string.Format("{0:0.00}", sublineVM.MalyDevAdv))</span>}
                            }
                            else
                            {
                                if (secondFlow != null)
                                {
                                    subTotal += secondFlow.OthDevAdv;
                            <span>@(string.Format("{0:0.00}", secondFlow.OthDevAdv))</span>}
                                else if (sublineVM != null)
                                {
                                    subTotal += sublineVM.OthDevAdv;
                            <span>@(string.Format("{0:0.00}", sublineVM.OthDevAdv))</span>}
                            })
                    </p>
                </li>
                <li style="height: 40px;">
                    <p class="inner-label">
                        +</p>
                </li>
                <li style="height: 40px;">
                    <p class="inner-label">
                        iValue Advance</p>
                    <p class="inner-content">
                        (RM @if (Model.Customer.NationalityID.ToInt() == 1)
                            {
                                if (secondFlow != null)
                                {
                                    subTotal += secondFlow.MalayDevDeposit;
                            <span>@(string.Format("{0:0.00}", secondFlow.MalayDevDeposit))</span>}
                                else if (sublineVM != null)
                                {
                                    subTotal += sublineVM.MalayDevDeposit;
                            <span>@(string.Format("{0:0.00}", sublineVM.MalayDevDeposit))</span>}
                            }
                            else
                            {
                                if (secondFlow != null)
                                {
                                    subTotal += secondFlow.OthDevDeposit;
                            <span>@(string.Format("{0:0.00}", secondFlow.OthDevDeposit))</span>}
                                else if (sublineVM != null)
                                {
                                    subTotal += sublineVM.OthDevDeposit;
                            <span>@(string.Format("{0:0.00}", sublineVM.OthDevDeposit))</span>}
                            })
                    </p>
                </li>

                @if (dropFourObj.suppFlow[i].isTradeUp.ToBool())
                {
                    <li style="height: 40px;">
                        <p class="inner-label">
                            -</p>
                    </li>
                    <li style="height: 40px;">
                        <p class="inner-label">
                            Trade-In Amount</p>
                        <p class="inner-content">
                            (RM @(tradeUpPriceView.ToString("0.00")))
                        </p>
                    </li>
                    subTotal += tradeUpPrice;
                }
                <script type="text/javascript">
                    $('#hdnGrandTotal').val(parseFloat($('#hdnGrandTotal').val()) + @subTotal);
                </script>
                
                <li><span>
                    <p class="inner-subtotal">SUBTOTAL :</p>
                    <div class="inner-subtotal">RM <span class="inner-price">@(string.Format("{0:0.00}", subTotal))</span></div>
                </span>
                </li>
            </ul>
        </div>
    </div>
        }

    }
}
