﻿@using Online.Registration.Web.ViewModels
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@using Online.Registration.Web.Models;
@using Online.Registration.Web.CommonEnum;
@using Online.Registration.Web.SubscriberICService;

@model Online.Registration.Web.ViewModels.PersonalDetailsVM
@{
    bool isDedicatedSuppFlow = Session[SessionKey.DedicatedSuppFlow.ToString()].ToBool();
    var controllerName = ViewData["controllerName"].ToString2();
    }

      @Html.ValidationSummary(false)
        <div class="col-sm-6">
          <!-- left details -->
          <div class="col-sm-12 kill-padding">
            <p class="inner-title">Customer information</p>
          </div>

           @if (Model.RegID != 0)
           {
               var isMNPMultiple = false;
               bool imeiLoad1 = false;
               bool imeiLoad2 = false;
               bool simLoad1 = false;
               bool simLoad2 = false;
               bool SecDeivceExists = Session["SecDeviceExists"].ToBool();
               MNPPrimaryPlanStorage MNPPrimaryPlanStorage = null;
               MNPPrimaryPlanStorage = (MNPPrimaryPlanStorage)Session["mNPPrimaryPlanStorage"];
               var sessionRegType = @ViewBag.IsMNPWithMultpleLines ? MNPPrimaryPlanStorage.RegMobileReg_Type : Session["RegMobileReg_Type"].ToInt();

               if (Roles.IsUserInRole("MREG_SK") || Roles.IsUserInRole("MREG_CH") || Roles.IsUserInRole("DREG_SK") || Roles.IsUserInRole("MREG_DSK") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("DREG_CH") || Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DIC"))
               {
                   if (Request.Headers["User-Agent"].ToLower().Contains("ipad"))
                   {
                            
                            <a href="#" style="text-decoration: none; border: 0;" onclick="DMESAVE()">
                                <img alt="" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                                Print Queue</a>
                                                
                       var print = "Registration/PrintContractDetails?id=" + Model.RegID + "&status=" + Model.StatusID + "";
                            @Html.Partial("_NetworkPrintPartial", print)

                   }
                   else
                   {
                                         
                            <a id="printPreviewURL" href="@(Url.Content("~/Registration/PrintContractDetails?id=" + Model.RegID + "&status=" + Model.StatusID))" target="_blank" style="text-decoration:none; border:0;" >
                                <img alt="" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                                Print </a>
                                                
                       var print = "Registration/PrintContractDetails?id=" + Model.RegID + "&status=" + Model.StatusID + "";
                            @Html.Partial("_NetworkPrintPartial", print)
                   }
               }
               else
               {
                   if (!string.IsNullOrEmpty(Model.IMPOSFileName))
                   {
                       if (Request.Headers["User-Agent"].ToLower().Contains("ipad"))
                       {
                            <a href="#" style="text-decoration: none; border: 0;" onclick="DMESAVE()">
                                <img alt="" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                                Print Queue</a>
                           var print = "Registration/PrintMobileRF?id=" + Model.RegID + "&barcode=" + Model.IMPOSFileName + "&barcode_subtype=code128b";
                            @Html.Partial("_NetworkPrintPartial", print)
                       }
                       else
                       {
                            <a id="printPreviewURL" href="@(Url.Content("~/Registration/PrintMobileRF?id=" + Model.RegID + "&barcode=" + Model.IMPOSFileName + "&barcode_subtype=code128b"))" target="_blank" style="text-decoration:none; border:0;" >
                                <img alt="" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                                Print </a>
                           var print = "Registration/PrintMobileRF?id=" + Model.RegID + "&barcode=" + Model.IMPOSFileName + "&barcode_subtype=code128b";
                            @Html.Partial("_NetworkPrintPartial", print)
                       }
                   }
                   else
                   {
                       if (Request.Headers["User-Agent"].ToLower().Contains("ipad"))
                       {
                            <a href="#" style="text-decoration: none; border: 0;" onclick="DMESAVE()">
                                <img alt="" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                                Print Queue</a>
                           var print = "Registration/PrintMobileRF?id=" + Model.RegID + "";
                            @Html.Partial("_NetworkPrintPartial", print)
                       }
                       else
                       {
                            <a id="printPreviewURL" href="@(Url.Content("~/Registration/PrintContractDetails?id=" + Model.RegID + "&status=" + Model.StatusID))" target="_blank" style="text-decoration:none; border:0;" >
                                <img alt="" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                                Print </a>
                           var print = "Registration/PrintMobileRF?id=" + Model.RegID + "";
                            @Html.Partial("_NetworkPrintPartial", print)
                       }
                   }
               }
           }



          <div class="col-sm-4 kill-padding">
            <p class="inner-label">Name</p>
          </div>
          <div class="col-sm-1">:</div>
          <div class="col-sm-7 kill-padding">
            <p class="inner-content">
           @Util.GetNameByID(RefType.CustomerTitle, Model.Customer.CustomerTitleID)  @Model.Customer.FullName
            </p>
          </div>
          <div class=" clearfix"></div>
          <div class="col-sm-4 kill-padding">
            <p class="inner-label">ID Card Type</p>
          </div>
          <div class="col-sm-1">:</div>
          <div class="col-sm-7 kill-padding">
            <p class="inner-content">
                @Util.GetNameByID(RefType.IDCardType, Model.Customer.IDCardTypeID)
            </p>
          </div>
          <div class=" clearfix"></div>
          <div class="col-sm-4 kill-padding">
            <p class="inner-label">ID No</p>
          </div>
          <div class="col-sm-1">:</div>
          <div class="col-sm-7 kill-padding">
            <p class="inner-content">
                @Model.Customer.IDCardNo
            </p>
          </div>
          <div class=" clearfix"></div>
          <div class="col-sm-4 kill-padding">
            <p class="inner-label">DOB</p>
          </div>
          <div class="col-sm-1">:</div>
          <div class="col-sm-7 kill-padding">
            <p class="inner-content">
            @if ((Model.DOBDay == 0 && Model.DOBMonth == 0 && Model.DOBYear == 0) || (Model.DOBDay == null && Model.DOBMonth == null && Model.DOBYear == null))
            {
                if (DateTime.MinValue != Model.Customer.DateOfBirth)
                {
                @Util.FormatDate(Model.Customer.DateOfBirth)
                }
            }
            else
            {
                @Html.Raw(Model.DOBDay + "/" + Model.DOBMonth + "/" + Model.DOBYear)
            }
            </p>
          </div>
          <div class=" clearfix"></div>

          @if (Convert.ToInt16(Model.RegTypeID) == (int)MobileRegType.CRP)
          {
          }
          else
          {
              if (Model.Customer.Gender.ToString2() != "")
              {
                  if (Model.Customer.Gender.ToString2() != "N")
                  {
                      <div class="col-sm-4 kill-padding">
                        <p class="inner-label">Gender</p>
                      </div>
                        <div class="col-sm-1">:</div>
                       <div class="col-sm-7 kill-padding">
                            <p class="inner-content">
                             @if (Model.Customer.Gender.ToString2() == "N")
                             {
                                    @:Not Available
                            }
                             else
                             {
                                    @(Model.Customer.Gender.ToString2() == "M" ? "Male" : "Female")
                             }
                            </p>
                      </div>
                  }
              }
          }
            <div class=" clearfix"></div>
             @{
                 string language = Util.GetNameByID(RefType.Language, Model.Customer.LanguageID);
                }
                @if (language.ToString2() != string.Empty)
                {
                      <div class="col-sm-4 kill-padding">
                        <p class="inner-label">Prefered Language</p>
                      </div>
                      <div class="col-sm-1">:</div>
                      <div class="col-sm-7 kill-padding">
                        <p class="inner-content">
                            @{
                    if (language.ToString2() == string.Empty)
                    {
                        language = "Not Available";
                    }
                                    
                            }
                                @language
                        </p>
                      </div>
                    
                }
                
                 @{
                     string raceName = Util.GetNameByID(RefType.Race, Model.Customer.RaceID);

                     if (raceName.ToString2() != string.Empty)
                     {
                      <div class=" clearfix"></div>
                      <div class="col-sm-4 kill-padding">
                        <p class="inner-label">Race</p>
                      </div>
                      <div class="col-sm-1">:</div>
                      <div class="col-sm-7 kill-padding">
                        <p class="inner-content">
                        @{
                         if (raceName.ToString2() == string.Empty)
                         {
                             raceName = "Not Available";
                         }
                                    
                            }
                            @raceName
                        </p>
                      </div>
                     }
                    }
          <div class=" clearfix"></div>
          <div class="col-sm-4 kill-padding">
            <p class="inner-label">Nationality</p>
          </div>
          <div class="col-sm-1">:</div>
          <div class="col-sm-7 kill-padding">
            <p class="inner-content">
            @Util.GetNameByID(RefType.Nationality, Model.Customer.NationalityID)
            </p>
          </div>

           
              <div class=" clearfix"></div>
              <div class="col-sm-4 kill-padding">
                <p class="inner-label">Email</p>
              </div>
              <div class="col-sm-1">:</div>
              <div class="col-sm-7 kill-padding">
              @if (Model.Customer.EmailAddr != null && Model.Customer.EmailAddr != "")
           {
                <p class="inner-content">
                @Model.Customer.EmailAddr.ToString2()
                <br/>
                </p>
                  }
              else
              {
                <p class="inner-content">
                Not Available
                <br/>
                </p>
              }    
              </div>
           
           <div class=" clearfix"></div>
          <div class="col-sm-4 kill-padding">
            <p class="inner-label">Contact No.</p>
          </div>
          <div class="col-sm-1">:</div>
          <div class="col-sm-7 kill-padding">
            <p class="inner-content">
           (P) @Model.Customer.ContactNo.ToString2()<br/>
           (S) @Model.Customer.AlternateContactNo.ToString2()<br/>
            </p>
          </div>
          <div class=" clearfix"></div>
          <div class="col-sm-4 kill-padding">
            <p class="inner-label">Account Bill Cycle</p>
          </div>
          <div class="col-sm-1">:</div>
          <div class="col-sm-7 kill-padding">
            <p class="inner-content">
           @Model.BillingCycle<br/>
            </p>
          </div>
          
            
            @if (controllerName == "AddContract" || controllerName == "CRP")
            {
                <div class=" clearfix"></div>
                <div class="col-sm-4 kill-padding">
                    <p class="inner-label">Bill Payment Mode</p>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-7 kill-padding">
                    <p class="inner-content">
                        @(Model.Customer.PayModeID == 1 ? "Cash" : "Direct Debit")
                    </p>
                </div>

                <div class=" clearfix"></div>
                <div class="col-sm-4 kill-padding">
                    <p class="inner-label">Liberalization</p>
                </div>
                <div class="col-sm-1">:</div>
                if (Session["CustomerLiberalisation"].ToString2() != null)
                { 
                <div class="col-sm-7 kill-padding">
                    <p class="inner-content">
                        @Session["CustomerLiberalisation"].ToString2()
                    </p>
                </div>
                }
                else
                { 
                <div class="col-sm-7 kill-padding">
                    <p class="inner-content">
                        @ViewBag.customerLiberalisation
                    </p>
                </div>
                }

                <div class=" clearfix"></div>
                <div class="col-sm-4 kill-padding">
                    <p class="inner-label">MOC Status</p>
                </div>
                <div class="col-sm-1">:</div>
                <div class="col-sm-7 kill-padding">
                    <p class="inner-content">
                        @ViewBag.customerMOC
                    </p>
                </div>
            }
            
        @if (ViewBag.hideBillDeliveryInfo == null)
        {   
            <div class="col-sm-12 kill-padding"><br />
            <p class="inner-title">Bill Delivery Options</p>
            </div>

            <div class="col-sm-4 kill-padding">
            <p class="inner-label">Deliver via</p>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-7 kill-padding">
            <p class="inner-content">
            @if (Model.EmailBillSubscription == "Y")
            { @Constants.BILLDELIVERY_EMAIL }
            else
            { @Constants.BILLDELIVERY_POST }
            </p>
            </div>
          
            if (Model.EmailBillSubscription == "Y")
            {
            <div class="col-sm-4 kill-padding">
            <p class="inner-label">Deliver eBill to</p>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-7 kill-padding">
            <p class="inner-content">@Html.Raw(Model.EmailAddress)</p>
            </div>
            }
            
            <div class="col-sm-4 kill-padding">
            <p class="inner-label">SMS Notification</p>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-7 kill-padding">
            <p class="inner-content">
            @if (Model.SmsAlertFlag == "Y")
            { @Constants.OPTION_YES }
            else
            { @Constants.OPTION_NO }
            </p>
            </div>
          
            if (Model.SmsAlertFlag == "Y")
            {
            <div class="col-sm-4 kill-padding">
            <p class="inner-label">Mobile Number</p>
            </div>
            <div class="col-sm-1">:</div>
            <div class="col-sm-7 kill-padding">
            <p class="inner-content">@Html.Raw(Model.SmsNo)</p>
            </div>
            }
            <div class=" clearfix">&nbsp;</div>
        }
            
        </div>
        <div class="col-sm-6">
          <!-- right details -->
          <div class="col-sm-12 kill-padding">
            <p class="inner-title">Billing Address</p>
          </div>
          <div class="col-sm-4 kill-padding">
            @{
                if (!isDedicatedSuppFlow)
                { 
                     <p class="inner-label">Primary Line</p>
                }  
              }
          </div>

          <div class="col-sm-1">
            @{
                if (!isDedicatedSuppFlow)
                { 
                     <span>:</span>
                }  
              }
          </div>

          <div class="col-sm-7 kill-padding">
            <p class="inner-content">
            @{
                if (!isDedicatedSuppFlow)
                {
                   @Html.Raw(Model.Address.Line1)<br/>
                    if (!string.IsNullOrEmpty(Model.Address.Line2))
                    { 
                    @Html.Raw(Model.Address.Line2)<br />
                    }
                    if (!string.IsNullOrEmpty(Model.Address.Line3))
                    { 
                        @Html.Raw(Model.Address.Line3)<br />           
                    }
                    @Html.Raw(Model.Address.Postcode + " ")
                    @Html.Raw(Util.GetNameByID(RefType.State, Model.Address.StateID) + " ")
                    @Html.Raw(Model.Address.Town)
                    
                }
             }
            </p>
          </div>
          <div class=" clearfix"></div>
          @{
              if (isDedicatedSuppFlow)
              { 
                <div class="col-sm-4 kill-padding">
            <p class="inner-label">Supplementary Line</p>
          </div>
              }
            
          }
          
          <div class="col-sm-1">
            @{
                if (isDedicatedSuppFlow)
                { 
                     <span>:</span>
                }  
              }
          </div>


          <div class="col-sm-7 kill-padding">
            <p class="inner-content">
            @{
                if (isDedicatedSuppFlow)
                {
                    @Html.Raw(Model.Address.Line1)<br/>
                    if (!string.IsNullOrEmpty(Model.Address.Line2))
                    { 
                        @Html.Raw(Model.Address.Line2)<br />
                    }
                    if (!string.IsNullOrEmpty(Model.Address.Line3))
                    { 
                        @Html.Raw(Model.Address.Line3)<br />                   
                    }
                    @Html.Raw(Model.Address.Postcode + " ")
                    @Html.Raw(Util.GetNameByID(RefType.State, Model.Address.StateID) + " ")
                    @Html.Raw(Model.Address.Town)
                }
                else
                { 
                   <br />
                   <br />
                }
             }
            </p>
          </div>
          <div class=" clearfix"></div>
          @if (Model.Customer.PayModeID == Util.GetPaymentModeID(PAYMENTMODE.AutoBilling))
          {
              <div class="col-sm-4 kill-padding">
                <p class="inner-label">Direct Debit</p>
              </div>
              <div class="col-sm-1">:</div>
              <div class="col-sm-7 kill-padding">
                <p class="inner-content">
                @*Model.Customer.FullName<br />*@
                @Model.Customer.NameOnCard<br />
                @Html.Raw(Util.GetNameByID(RefType.CardType, Model.Customer.CardTypeID.Value)) <br />

                Expiry Date : @Model.Customer.CardExpiryDate
                 <br />
                </p>
              </div>
          }
        </div>
