﻿@using SNT.Utility;
@{
    bool isOldSkin = ViewData["IsOldSkin"].ToBool();
}

<div class="row border-top even">
    <div class="col-sm-12 ">
        <p class="details-title">MyMaxis App Survey</p>
    </div>
    <div class="col-sm-8 form">
        <div class="col-sm-9">
            <label class="inner-label">Are you currently using MyMaxis App ?</label>
        </div>
    </div>
    
    <div class="col-sm-12 form" style="margin-top: 0px !important">
        <div class="col-sm-9">
            <input type="checkbox" class="form-checkbox survey" id="survey-yes" data-value="yes"/>
            <label class="stock-label" name="fill-add" for="survey-yes">Yes.</label>
        </div>
        
        <div class="col-sm-12 form surveyrating">
        
            <div class="col-sm-12">
                <label class="inner-label">How do you rate this App ?</label>
            </div>
            
            <div class="col-sm-3">
                <input type="checkbox" class="form-checkbox surveyrate" id="survey-great" data-value="great"/>
                <label class="stock-label" name="fill-add" for="survey-great">Great</label>
            </div>
            <div class="col-sm-3">
                <input type="checkbox" class="form-checkbox surveyrate" id="survey-average" data-value="average"/>
                <label class="stock-label" name="fill-add" for="survey-average">Average</label>
            </div>
            <div class="col-sm-3">
                <input type="checkbox" class="form-checkbox surveyrate" id="survey-improve" data-value="need improvement"/>
                <label class="stock-label" name="fill-add" for="survey-improve">Needs Improvement</label>
            </div>

            <div class="col-sm-6">
                <textarea id="feedbackID" class="form-control search-box search-num" style="resize: none; height: 80px; width: 100% !important; border-radius: 15px" maxlength='200' 
                onkeypress="getFeedBack();" onkeyup="getFeedBack();"  placeholder="Enter Feedback ( max 200 char )"></textarea> 
            </div>

        </div>
            
        <div class="col-sm-9">
            <input type="checkbox" class="form-checkbox survey" id="survey-no" data-value="no"/>
            <label class="stock-label" name="fill-add" for="survey-no">No, sign me up and tell me more!</label>
        </div>

    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        //enableSurvey();
        retainAnswer();
        $('.survey').each(function (i, e) {
            $(this).click(function (e) {
                clearSurveyButton(i);
                var val = $(this).data('value');
                $('#surveyAnswer').val(val);
                if (val == 'yes') {
                    enableSurvey();
                } else {
                    clearSurvey();
                }
            });
        });

        $('.surveyrate').each(function (i, e) {
            $(this).click(function (e) {
                surveyRateButton(i);
                var valRate = $(this).data('value');
                $('#surveyAnswerRate').val(valRate);
                if (valRate != '') {
                    $('#surveyAnswer').val('yes');
                }
            });
        });

    });

    function getFeedBack() {
        var textValue = $.trim($("#feedbackID").val());
        $('#surveyFeedback').val(textValue);
    }

    function clearSurvey() {
        //$('#feedbackID').attr('disabled', 'disabled');
        $('#feedbackID').val('');
        $('#surveyFeedback').val('');
        $('#surveyAnswerRate').val('');
        $('.surveyrating').hide();
    }

    function enableSurvey() {
        //$('#feedbackID').removeAttr('disabled');
        $('#feedbackID').val('');
        $('#surveyAnswerRate').val('');
        $('.surveyrating').show();
        setTimeout(function () {
            $('#feedbackID').focus();
        }, 1);
    }

    function clearSurveyButton(index) {
        $('.survey').each(function (i, e) {
            if (index != i) {
                $(this).prop('checked', false);
            } else {
                $(this).prop('checked', true);
            }
        });
    }

    function surveyRateButton(index) {
        $('.surveyrate').each(function (i, e) {
            if (index != i) {
                $(this).prop('checked', false);
            } else {
                $(this).prop('checked', true);
            }
        });
    }

    function retainAnswer() {
        //debugger;
        if ($('#surveyFeedback').val() != '' || $('#surveyAnswerRate').val() != '') {
            var surveyFeedbackVal = $('#surveyFeedback').val();
            $('#feedbackID').val(surveyFeedbackVal);
            getFeedBack();

            $('.surveyrate').each(function (i, e) {
                var surveyrateVal = $(this).data('value');
                debugger;
                if (surveyrateVal == $('#surveyAnswerRate').val()) {
                    $(this).prop('checked', true);
                    $('#survey-yes').prop('checked', true);
                }
                else {
                    $(this).prop('checked', false);
                }
            });

        } else {
            if ($('#surveyAnswer').val() == 'no') {
                clearSurvey();
                $('#survey-no').prop('checked', true);
                $('#survey-yes').prop('checked', false);
            }

            if($('#surveyAnswer').val() == '') {
                clearSurvey();
                $('#survey-no').prop('checked', false);
                $('#survey-yes').prop('checked', false);
            }
            
        }
        
    }


</script>


