﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.CommonEnum;
@using Online.Registration.DAL.Models;
@using Online.Registration.Web.Models;
@model Online.Registration.Web.ViewModels.OrderSummaryVM

@{
    bool PrincipleTotalLinePrinted = false;
    bool MNPPrinted = false;
    Online.Registration.Web.ViewModels.PersonalDetailsVM MobileRegOrderSummary = null;
    if (!ReferenceEquals(Model.PersonalDetailsVM, null))
    {
        MobileRegOrderSummary = Model.PersonalDetailsVM;
    }
    Online.Registration.Web.UserSvc.GetAPIStatusMessagesResp ApiMessages = null;
    string sessionStatusCodeDescription = string.Empty;

    if (!ReferenceEquals(Session["ApiMessages"], null))
    {
        ApiMessages = (Online.Registration.Web.UserSvc.GetAPIStatusMessagesResp)Session["ApiMessages"];
    }
    #region ADDED CODE BY RAJESWARI
    string failedIds = string.Empty;

    if (!ReferenceEquals(Session["FailedAcctIds"], null))
    {
        if (Session["FailedAcctIds"].ToString().Length != 0)
        {
            failedIds = Session["FailedAcctIds"].ToString();
        }
    }
    #endregion

    bool havRegID = (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0);
    string userType = havRegID ? MobileRegOrderSummary.UserType : Session["PPID"].ToString2();
    bool sessionNotNull = false;
    int regType = havRegID ?
        MobileRegOrderSummary.RegTypeID :
        !ReferenceEquals(Session[SessionKey.RegMobileReg_Type.ToString()], null) && Session[SessionKey.RegMobileReg_Type.ToString()].ToInt() > 0 ?
            Session[SessionKey.RegMobileReg_Type.ToString()].ToInt() : 0;
    bool isCRP = Session["OrderType"].ToInt() == (int)MobileRegType.CRP || Session[SessionKey.RegMobileReg_Type.ToString()].ToInt() == (int)MobileRegType.DeviceCRP;
    bool CRPDevice = Session[SessionKey.RegMobileReg_Type.ToString()].ToInt() == (int)MobileRegType.DevicePlan;
}

@{
    sessionNotNull = !ReferenceEquals(Session["RegMobileReg_AgeCheckStatusCode"], null);
    sessionStatusCodeDescription = havRegID ? MobileRegOrderSummary.AgeCheckStatus.ToString2() : sessionNotNull ? Session["RegMobileReg_AgeCheckStatusCode"].ToString2() : string.Empty;
    if (!string.IsNullOrEmpty(sessionStatusCodeDescription) && (userType != "E" || (userType == "E" && sessionStatusCodeDescription != "AN" && sessionStatusCodeDescription != "DN")))
    {
        if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
        {
			<div style="padding: 10px 0px 10px 20px">
				<span class="txt-16-grey-normal">Age Check:</span><br/>
				@if (sessionStatusCodeDescription == "AF")
    {
			<label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
    }
    else if (sessionStatusCodeDescription == "AS")
    {
			<label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
    }
    else
    {
			<label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
    }
			</div>
        }
    }
}

@{
    sessionNotNull = !ReferenceEquals(Session["RegMobileReg_DDMFCheckStatusCode"], null);
    sessionStatusCodeDescription = havRegID ? MobileRegOrderSummary.DDMFCheckStatus.ToString2() : sessionNotNull ? Session["RegMobileReg_DDMFCheckStatusCode"].ToString2() : string.Empty;
    if (!string.IsNullOrEmpty(sessionStatusCodeDescription) && (userType != "E" || (userType == "E" && sessionStatusCodeDescription != "DN")))
    {
        if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
        {
			<div style="padding: 10px 0px 10px 20px">
				<span class="txt-16-grey-normal">DDMF Check:</span><br/>
				@if (sessionStatusCodeDescription == "DF")
    {
			<label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
    }
    else if (sessionStatusCodeDescription == "DS")
    {
			<label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
    }
    else
    {
			<label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
    }
			</div>
        }
    }
}

@*
    // Bugzilla 1058 - To remove redundant address BRE check (29-Oct Drop) - Ricky
    sessionNotNull = !ReferenceEquals(Session["RegMobileReg_AddressCheckStatusCode"], null);
	sessionStatusCodeDescription = havRegID ? MobileRegOrderSummary.AddressCheckStatus.ToString2() : sessionNotNull ? Session["RegMobileReg_AddressCheckStatusCode"].ToString2() : string.Empty;
	if (!string.IsNullOrEmpty(sessionStatusCodeDescription) && (userType != "E" && userType != ""))
	{
		if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
		{
			<div style="padding: 10px 0px 10px 20px">
				<span class="txt-16-grey-normal">Address Check:</span><br/>
				@if (sessionStatusCodeDescription == "ADF")
				{
			<label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
				}
				else if (sessionStatusCodeDescription == "ADS")
				{
			<label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
				}
				else
				{
			<label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
				}
			</div>
		}
	}
*@

@{
    sessionNotNull = !ReferenceEquals(Session["RegMobileReg_IsOutstandingCreditCheckStatusCode"], null);
    sessionStatusCodeDescription = havRegID ? MobileRegOrderSummary.OutStandingCheckStatus.ToString2() : sessionNotNull ? Session["RegMobileReg_IsOutstandingCreditCheckStatusCode"].ToString2() : string.Empty;
    if (!string.IsNullOrEmpty(sessionStatusCodeDescription))
    {
        if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
        {
			<div style="padding: 10px 0px 10px 20px; font-family: 'frutigerlight'; color: #4d4d4d;font-size: 16px;">
				<span class="txt-16-grey-normal">Outstanding Check:</span><br/>
				@if (sessionStatusCodeDescription == "OF")
    {
			<label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
    }
    else if (sessionStatusCodeDescription == "OS")
    {
			<label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
    }
    else
    {
			<label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
    }
				@{
    string OutstandingAcs = havRegID ? MobileRegOrderSummary.OutstandingAcs : failedIds;
    if (!string.IsNullOrWhiteSpace(OutstandingAcs))
    {   
					<div class="txt-16-grey-normal">
						Account(s): -<br />
						@((OutstandingAcs.Replace("(", "(RM ")).Replace(",", " , ").TrimEnd(','))</div>
    }
				}
			</div>
        }
    }
}

@{
    sessionNotNull = !ReferenceEquals(Session["RegMobileReg_TotalLineCheckStatusCode"], null);
    sessionStatusCodeDescription = havRegID ? MobileRegOrderSummary.TotalLineCheckStatus.ToString2() : sessionNotNull ? Session["RegMobileReg_TotalLineCheckStatusCode"].ToString2() : string.Empty;
    int totalLineCount = havRegID ?
        !ReferenceEquals(MobileRegOrderSummary.TotalLineCheckCount, null) ? MobileRegOrderSummary.TotalLineCheckCount.ToInt() : 0
        : (!ReferenceEquals(Session["existingTotalLine"], null) && !ReferenceEquals(Session["existingTotalLine"], string.Empty)) ? Session["existingTotalLine"].ToInt() : 0;
    if (!string.IsNullOrEmpty(sessionStatusCodeDescription))
    {
        if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
        {
			<div style="padding: 10px 0px 10px 20px; font-family: 'frutigerlight'; color: #4d4d4d;font-size: 16px;">
				<span class="txt-16-grey-normal">Total Line Check:</span><br/>
				@if (sessionStatusCodeDescription == "TLF")
    {
			<label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString() + " (" + totalLineCount + ")")</label>
    }
    else if (sessionStatusCodeDescription == "TLS")
    {
			<label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString() + " (" + totalLineCount + ")")</label>
    }
    else
    {
			<label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString() + " (" + totalLineCount + ")")</label>
    }
			</div>
        }
    }
}

@{
    sessionNotNull = !ReferenceEquals(Session["RegMobileReg_ContractCheckStatusCode"], null);
    sessionStatusCodeDescription = havRegID ? MobileRegOrderSummary.ContractCheckStatus.ToString2() : sessionNotNull ? Session["RegMobileReg_ContractCheckStatusCode"].ToString2() : string.Empty;
    int totalContractCount = havRegID ?
        !ReferenceEquals(MobileRegOrderSummary.ContractCheckCount, null) ? MobileRegOrderSummary.ContractCheckCount.ToInt() : 0
        : (!ReferenceEquals(Session["AccountswithContractCount"], null) && !ReferenceEquals(Session["AccountswithContractCount"], string.Empty)) ? Session["AccountswithContractCount"].ToInt() : 0;
    
    if (!string.IsNullOrEmpty(sessionStatusCodeDescription) && regType != 14 && (!isCRP || (isCRP && CRPDevice)))
    {
        if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
        {
			<div style="padding: 10px 0px 10px 20px">
				<span class="txt-16-grey-normal">Contract Check:</span>
				@if (totalContractCount >= 2 && totalContractCount <= 5)
    { 
				<a href="#" class="callBackTip exampleTip" title="@Online.Registration.Web.Properties.Settings.Default.ToolTipHelpMessage">
				<img alt="Simple_tooltip_help_icon" src='@Url.Content("~/Content/images/simple_tooltip_help_icon.png")' title="@Online.Registration.Web.Properties.Settings.Default.ToolTipHelpMessage"/></a>
    }
				<br/>
				@if (sessionStatusCodeDescription == "CF")
    {
			<label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString() + " (" + totalContractCount + ")")</label>
    }
    else if (sessionStatusCodeDescription == "CS")
    {
			<label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString() + " (" + totalContractCount + ")")</label>
    }
    else
    {
			<label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
    }
			</div>
        }
    }
}

@{
    if (!ReferenceEquals(Session["FromMNP"], null) || havRegID && regType >= 10 && regType <= 12)
    {
        sessionNotNull = !ReferenceEquals(Session["RegMobileReg_IsPortInStatusCode"], null);
        sessionStatusCodeDescription = havRegID ? MobileRegOrderSummary.PrePortInCheckStatus.ToString2() : sessionNotNull ? Session["RegMobileReg_IsPortInStatusCode"].ToString2() : string.Empty;
        if (!string.IsNullOrEmpty(sessionStatusCodeDescription))
        {
            if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
            {
				<div style="padding: 10px 0px 10px 20px">
					<span class="txt-16-grey-normal">MNP Pre-port In Check Status:</span><br />
					@if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
     {
         if (sessionStatusCodeDescription == "MPPF")
         {
							<label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
         }
         else if (sessionStatusCodeDescription == "MPPS")
         {
							<label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
         }
         else
         {
							<label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
         }
     }
				</div>
            }
        }

        sessionNotNull = !ReferenceEquals(Session["RegMobileReg_IsMNPServiceIdCheckStatusCode"], null);
        sessionStatusCodeDescription = havRegID ? MobileRegOrderSummary.MNPServiceIdCheckStatus.ToString2() : sessionNotNull ? Session["RegMobileReg_IsMNPServiceIdCheckStatusCode"].ToString2() : string.Empty;
        if (!string.IsNullOrEmpty(sessionStatusCodeDescription))
        {
            if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
            {
				<div style="padding: 10px 0px 10px 20px">
				<span class="txt-16-grey-normal">MNP Service Id Check Status: </span>
				<br />
				@if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
    {
        if (sessionStatusCodeDescription == "MSIF")
        {
					<label class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
        }
        else if (sessionStatusCodeDescription == "MSIS")
        {
					<label class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
        }
        else
        {
					<label class="txt-16-orange-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
        }
    }
			</div>
            }
        }
    }
}

<div style="padding: 10px 0px 10px 20px">
	<span class="txt-16-grey-normal">Biometric Verification: </span>
	<br />
	@if (MobileRegOrderSummary != null)
 {
     if (MobileRegOrderSummary.RegID == 0)
     {
			@Html.Raw(WebHelper.Instance.BiometricStatus())
         Session["BiometricStatusCheck"] = WebHelper.Instance.BiometricStatus();
     }
     else
     {
			@Html.Raw(WebHelper.Instance.BiometricStatusWithRegId(MobileRegOrderSummary.BiometricVerify, MobileRegOrderSummary.IsVerified, MobileRegOrderSummary.Customer.IDCardTypeID))
         Session["BiometricStatusCheck"] = WebHelper.Instance.BiometricStatusWithRegId(MobileRegOrderSummary.BiometricVerify, MobileRegOrderSummary.IsVerified, MobileRegOrderSummary.Customer.IDCardTypeID);
     }
 }
 else
 {
		@Html.Raw(WebHelper.Instance.BiometricStatus())
     Session["BiometricStatusCheck"] = WebHelper.Instance.BiometricStatus();
 }
</div>
<div style="padding: 10px 0px 10px 20px; display: none">
	<span class="txt-16-grey-normal">Whitelist Status: </span>
	<br />
	@if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0)
 {
     if (!ReferenceEquals(MobileRegOrderSummary.Whitelist_Status, null))
     {
         if (MobileRegOrderSummary.Whitelist_Status.ToString().ToLower() == "true")
         {
		@MobileRegOrderSummary._WhiteListDetails.Description.ToString()
         }
         else
         {
		@Html.Raw("No")                                              
         }
     }
     else
     {
		@Html.Raw("No")
     }
 }
 else
 {
     if (!ReferenceEquals(Session["MocandwhitelistSstatus"], null))
     {
         if (Session["MocandwhitelistSstatus"] == "true")
         {                                                
		@Html.Raw("Yes")
         }
         else
         {
		@Html.Raw("No")
         }
     }
 }
</div>
<div style="padding: 10px 0px 10px 20px; display: none">
	<span class="txt-16-grey-normal">MOC Status: </span>
	<br />
	@if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0)
 {
     if (!ReferenceEquals(MobileRegOrderSummary.MOC_Status, null))
     {
		@MobileRegOrderSummary.MOC_Status.ToString()
     }
     else
     {
		@Html.Raw("No")
     }
 }
 else
 {
     if (!ReferenceEquals(Session["MOCIDs"], null))
     {
         if (Session["MOCIDs"].ToString().Length > 0)
         {                                                
		@Html.Raw(Session["MOCIDs"].ToString())
         }
         else
         {
												 
		@Html.Raw("No")
         }
     }
 }
</div>