﻿@using Online.Registration.Web.SubscriberICService;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.CommonEnum;
@using SNT.Utility;
@using System.Configuration;
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
@{
    // initializing
    string idCardNoFromSession = HttpContext.Current.Session[SessionKey.IDCardNo.ToString()].ToString2();
    bool isDealer = HttpContext.Current.Session["IsDealer"].ToBool() == true ? true : false ;
    bool isLocalCustomer = (HttpContext.Current.Session[SessionKey.IDCardTypeName.ToString2()].ToString2() == "NEWIC" || HttpContext.Current.Session["IDCardTypeID"].ToString2() == "1");
    bool isBiometricPass = HttpContext.Current.Session["RegMobileReg_BiometricVerify"].ToBool() == true ? true : false;
    bool isTacExceptional = HttpContext.Current.Session["IsTacExceptional"].ToBool() == true ? true : false;

    bool TacUseDummyNumber = ConfigurationManager.AppSettings["TacUseDummyNumber"].ToBool();
}

@Html.Hidden("tacExceptionalFlag")

@{
    if (WebHelper.Instance.IsTacRequired() && !Online.Registration.Web.Properties.Settings.Default.DevelopmentModeOnForTacCheck)
    {
        <div class="row border-top even">
            <div class="col-sm-12">
                    <p class="details-title">
                        Transaction Authorisation Code (TAC) Validation
                    </p>
            </div>
            <div class="col-sm-10 form">
                <div class="col-sm-12">
                    <div class="col-sm-3" style="margin-top: 10px; ">
                        <p class="inner-label">*MSISDN</p>
                    </div>
                    <div class="col-sm-3" style="margin-top: 8px; ">
                        <input type="text" class="form-control search-num" id="msisdnInput" name="msisdnInput" autocomplete="off" autocompletetype="disable" maxlength="12" style="border-radius: 15px; border: 1px solid #898989; color: #464646; " />
                    </div>
                    <div class="col-sm-3">
                        <input type="button" value="Request for TAC" class="upload-btn" id="requestTacBtn" style="font-weight: bold; border: none; width: 100%; margin: 8px 0; " />
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-3" style="margin-top: 10px; ">
                        <p class="inner-label">*TAC</p>
                    </div>
                    <div class="col-sm-3" style="margin-top: 8px; ">
                        <input type="text" class="form-control search-num text-center" id="tacInput" name="tacInput" autocomplete="off" autocompletetype="disable" maxlength="6" style="border-radius: 15px; font-weight: bold; letter-spacing: 5px; border: 1px solid #898989; color: #464646; " />
                    </div>
                </div>
                <div class="col-sm-12" style="margin-top: 10px; margin-left: 15px; ">
                    @{
                        if (!isDealer && isLocalCustomer && isBiometricPass)
                        {
                    <input id="tac-exceptional" class="stock-checkbox" type="checkbox" />
                    <label for="tac-exceptional" class="stock-label">TAC Exceptional Approval</label>
                        }
                    }
                </div>
                <div class="col-sm-12">
                    <p class="inner-label" style="font-weight: normal;">
                        <i id="TacSentMsg"></i>
                    </p>
                </div>
                <div class="col-sm-12" >
                    <p id="tryAgainMsg" style="color: Red; font-size: 18px; ">
                        Please try again after @(Online.Registration.Web.Properties.Settings.Default.TacCookieExpiryPeriod.ToString()) minutes.
                    </p>
                    <p class="inner-label" id="backendErrorMsg" style="color: Red;">
                        Unable to process due to unavailability of SMS backend system. Please try again later.
                    </p>
                </div>
                <div class="col-sm-12" id="msisdn-error-div">
                    <p class="inner-label" id="noMsisdnError" style="color: Red;">
                        MSISDN field cannot be empty. Please enter Customer MSISDN.
                    </p>
                    <p class="inner-label" id="invalidMsisdnFormatError" style="color: Red;">
                        Invalid format for MSISDN. Please enter the correct MSISDN.
                    </p>
                    <p class="inner-label" id="failMsisdnError" style="color: Red;">
                        MSISDN does not belong to customer. Please provide another MSISDN.
                    </p>    
                    <p class="inner-label" id="notPostpaidMsisdnError" style="color: Red;">
                        Invalid MSISDN. Please enter a Postpaid MSISDN.
                    </p>
                    <p class="inner-label" id="inactiveMsisdnError" style="color: Red;">
                        Please enter an active MSISDN.
                    </p>
                </div>
            </div>
        </div>
    }    
}

<script type="text/javascript">

    $(document).ready(function () {

        // hide exceptional messages & reset disabled buttons
        resetMsisdnMsg();
        resetTacMsg();
        resetTacButtons();

        // restrict inputs to number-only
        $('#tacInput, #msisdnInput').keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            };
        });

        // when "Request For TAC" button is clicked
        $('#requestTacBtn').click(function () {
            if (checkTacCookie()) {
                if (validateMsisdn()) {
                    requestTac();
                };
            };
        });

        // when "Exceptional TAC Approval" button is clicked
        $('#tac-exceptional').click(function () {
            if ($('#tac-exceptional').is(':checked')) {
                $('#tac-approval-popup').modal('show');
                clearErrorMessage('TAC');
            };
        });

        // disable buttons upon exceptional approval
        if ('@isTacExceptional' == 'True') {
            $('#tac-exceptional').attr('checked', true);
            $('#tac-exceptional').attr('disabled', true);
            disableTacButton();
        };

    });

    function resetMsisdnMsg() {
        $('#failMsisdnError').hide();
        $('#noMsisdnError').hide();
        $('#inactiveMsisdnError').hide();
        $('#notPostpaidMsisdnError').hide();
        $('#invalidMsisdnFormatError').hide();
    };

    function resetTacMsg() {
        $('#TacSentMsg').hide();
        $('#tryAgainMsg').hide();
        $('#backendErrorMsg').hide();
    };

    function resetTacButtons() {
        $('#msisdnInput').removeAttr('disabled');
        $('#requestTacBtn').removeAttr('disabled');
        $('#tacInput').removeAttr('disabled');
    };

    function disableTacButton() {
        $('#msisdnInput').attr('disabled', 'disabled');
        $('#requestTacBtn').attr('disabled', 'disabled');
        $('#tacInput').attr('disabled', 'disabled');
    };

    function checkTacCookie() {
        resetTacMsg();
        var TacCookieExpiryPeriod = '@(Online.Registration.Web.Properties.Settings.Default.TacCookieExpiryPeriod.ToString())';
        var url = '@(Url.Content("~/Registration/checkTacCookie"))';
        var response = false;
        $.ajax({
            type: "GET",
            dataType: "json",
            url: url,
            async: false,
            success: function (data) {
                if (data.hasCookie) {
                    // repeated tac request
                    $('#tacRequested').val('true');
                    $('#TacSentMsg').html("TAC has been sent at " + data.sendDt + " and will expire in " + TacCookieExpiryPeriod + " minutes.");
                    $('#TacSentMsg').show();
                    $('#tryAgainMsg').show();
                }
                else {
                    response = true;
                };
            }
        });
        return response;
    };

    function validateMsisdn() {
        // initializing
        resetMsisdnMsg();
        var msisdn = $('#msisdnInput').val();
        var validationSuccess = false;

        // empty field validation
        if ($.trim(msisdn) == '') {
            $('#noMsisdnError').show();
            return validationSuccess;
        };

        // msisdn format validation
        if (msisdn.substring(0, 2) != "60" || msisdn.length < 10 || msisdn.length > 12) {
            $('#invalidMsisdnFormatError').show();
            return validationSuccess;
        };

        // backend validation (kenan, postpaid, active)
        var url = '@(Url.Content("~/Registration/validateMsisdnForTac"))';
        $.ajax({
            type: "POST",
            dataType: "json",
            url: url,
            async: false,
            data: { msisdn: msisdn },
            success: function (data) {
                if ( '@TacUseDummyNumber' == 'True' && msisdn == '6019999999') {
                    validationSuccess = true;
                }
                else if (data.result == "0") {
                    validationSuccess = true;
                }
                else {
                    validationSuccess = false;
                    if (data.result == "1" || data.result == "2") {
                        $('#failMsisdnError').show();
                    }
                    else if (data.result == "3") {
                        $('#notPostpaidMsisdnError').show();
                    }
                    else if (data.result == "4") {
                        $('#inactiveMsisdnError').show();
                    };
                };
            }
        });

        return validationSuccess;
    };

    function requestTac() {
        var msisdn = $('#msisdnInput').val();
        var url = '@(Url.Content("~/Registration/requestTac"))';
        var TacCookieExpiryPeriod = '@(Online.Registration.Web.Properties.Settings.Default.TacCookieExpiryPeriod.ToString())';
        $.ajax({
            type: "POST",
            dataType: "json",
            url: url,
            async: false,
            data: { msisdn: msisdn, CustomerID: "@(idCardNoFromSession)" },
            success: function (data) {
                if('@TacUseDummyNumber' == 'True' && msisdn == '6019999999')
                {
                    $('#tacRequested').val('true');
                    $('#TacSentMsg').html("TAC has been sent at " + data.sendDt + " and will expire in " + TacCookieExpiryPeriod + " minutes.");
                    $('#TacSentMsg').show();
                }
                else if (data.msgDesc == "0" || msisdn == '6019999999') {
                    $('#tacRequested').val('true');
                    $('#TacSentMsg').html("TAC has been sent at " + data.sendDt + " and will expire in " + TacCookieExpiryPeriod + " minutes.");
                    $('#TacSentMsg').show();
                }
                else if (data.msgDesc == "error") {
                    $('#backendErrorMsg').show();
                };
            },
            error: function () {
                $('#backendErrorMsg').show();
            }
        });
    };

    // called in _SvpApproval.cshtml if saveApprovalInformation() is successful
    function flagTacExceptional() {
        var response = false;
        var tacExceptionalFlag = $.trim($('#tacExceptionalFlag').val());
        var url = '@(Url.Content("~/Registration/flagTacExceptional"))';
        $.ajax({
            type: "POST",
            dataType: "json",
            url: url,
            async: false,
            data: { flag: tacExceptionalFlag },
            success: function (data) {
                if (data.result) {
                    response = true;
                }
                else {
                    response = false;
                };
            }
        });
        return response;
    };

</script>

@*
    // retrieving phone number to receive TAC SMS
    retrieveAcctListByICResponse AcctListByICResponse = null;
    if (SessionManager.Get("PPIDInfo") != null)
    {
        AcctListByICResponse = (retrieveAcctListByICResponse)SessionManager.Get("PPIDInfo");
    }
    var dropObj = (Online.Registration.Web.Models.DropFourObj)HttpContext.Current.Session[Online.Registration.Web.CommonEnum.SessionKey.DropFourObj.ToString()];
    String mainFlowMsisdn = string.Empty;
    String smsMsisdn = string.Empty;
    String oldestActiveService = string.Empty;
    DateTime oldestActiveDt = new DateTime();
    if (dropObj.mainFlow.RegType != null)
    {
        // for CRP and Add Contract
        if (Model.TacSmsMsisdn != null)
        {
            smsMsisdn = Model.TacSmsMsisdn;
            //if (dropObj.personalInformation.MSISDN1 != null)
            //{
            //    var SelectedMobileNo = dropObj.mainFlow.mobile.SelectedMobileNo;
            //    var SelectedMobileNumber = dropObj.mainFlow.mobile.SelectedMobileNumber;
            //    mainFlowMsisdn = dropObj.personalInformation.MSISDN1;
            //    smsMsisdn = mainFlowMsisdn;
            //}
        }
        // for New Plan + Device, Add New Line + Device, Add Supp Line + Device
        else
        {
            if (AcctListByICResponse != null && AcctListByICResponse.itemList != null)
            {
                if (AcctListByICResponse.itemList.ToList().Where(x => x.ServiceInfoResponse != null).ToList().Count > 0)
                {
                    oldestActiveDt = AcctListByICResponse.itemList.Select(a => a.ServiceInfoResponse.serviceActiveDt).ToList().Min();
                    oldestActiveService = AcctListByICResponse.itemList.Where(a => a.ServiceInfoResponse.prinSuppInd == "P" && a.ServiceInfoResponse.serviceActiveDt == oldestActiveDt).Select(a => a.ExternalId).FirstOrDefault().ToString();
                    smsMsisdn = oldestActiveService;
                }
            }
        }
    }
*@