﻿@using Online.Registration.Web.ViewModels
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@using Online.Registration.Web.Models;
@using Online.Registration.Web.SubscriberICService;
@using Online.Registration.Web.ContentRepository;
@using System;
@using System.Text;
@model Online.Registration.Web.ViewModels.PersonalDetailsVM

@{
    ViewBag.Title = "CDPU Approval";
    var StatusCode = Model.StatusCode.ToString2();
    //var isLockedBy = string.IsNullOrEmpty(Model.IsLockedBy)? "-" : Model.IsLockedBy.ToString2();
    var OrderStatus = Util.GetNameByID(RefType.Status, Model.StatusID).ToString2();
    bool isDealer = Session["IsDealer"].ToBool();
    var Login = Util.SessionAccess.UserName;
    var reg_id = Model.RegID.ToString2();
}

@if (StatusCode == Settings.Default.Status_RegCDPUPendingApp && Login != Model.IsLockedBy && !string.IsNullOrEmpty(Model.IsLockedBy) && Roles.IsUserInRole("MREG_DAPP"))
{
    @Html.Hidden("Login")
    <div class="col-sm-12">
        <p>
            <div class="font-16 cdpu-takelock" style="color: red; display: block;">This order is locked by @Model.IsLockedBy </div>
            <div class="font-16 cdpu-takelock" ><div style="z-index:5;position:relative;float:left;padding-right:5px;" ><input id="takeLock" type="checkbox" data-value="@reg_id" /></div><label style="color:red;padding-top:2px;position:relative;z-index:4">Take Lock</label></div>
        </p>
                
    </div>
}

<script>
    // take over lock
    function LockRegID(regID) {
        var Accessname = $('#Login').val();
        var postUrl = '@(Url.Content("~/Registration/LockRegID"))';
        $.post(postUrl, { regID: regID, AccessName: Accessname },
            function (data) {
                if (data == "Success") {
                    location.reload(true);
                    return false;
                }
                else {
                    alert(data);
                }
            }
        );
        return false;
    }
</script>