﻿@{
    string orderId = ViewData["orderId"] != null ? ViewData["orderId"].ToString() : null;
}         
<div class="modal-dialog  modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span class="close-btn">Close</span></button>
            <h4 class="modal-title usage-title">e-Billing T&C</h4>
        </div>

        <div class="modal-body tnc">
            <div class="tnc-list">
            <label style="cursor:pointer"><input type="checkbox" id="tncEBillingChk" @if (orderId != null) {@Html.Raw("checked='checked' disabled='disabled'")} /> Agreed Terms and Conditions</label>
                <p>E-BILLING TERMS AND CONDITIONS</p>
                <p>TO BE UPDATED</p>
            </div>
        </div>
    </div>
</div>

