﻿@{
    string orderId = ViewData["orderId"] != null ? ViewData["orderId"].ToString() : null;
}

<div class="modal-dialog  modal-lg">
<div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span class="close-btn">Close</span></button>
    <h4 class="modal-title usage-title">Direct Debit T&C</h4>
    </div>
    <div class="modal-body tnc">
                
    <div class="tnc-list">
    <label style="cursor:pointer"><input type="checkbox" id="tncDebit" @if (orderId != null) {@Html.Raw("checked='checked' disabled='disabled'")} /> Agreed Terms and Conditions</label>
        <p><strong>MAXIS PAY: TERMS &amp; CONDITIONS</strong></p>
        <p>PLEASE READ AND UNDERSTAND THE FOLLOWING TERMS AND CONDITIONS WHICH GOVERN YOUR
        ACCESS AND USE OF THE MAXIS PAY SERVICE (“THE SERVICES”) VIA MOBILE, INTERNET OR ANY
        OTHER CHANNELS IN WHICH THESE SERVICES MAY BE MADE AVAILABLE BY MAXIS IN THE FUTURE.
        BY ACCESSING AND USING THE SERVICES, YOU AGREE TO BE BOUND BY THESE TERMS AND CONDITIONS
        INCLUDING ANY AMENDMENTS MADE THERETO AND ANY OTHER ADDITIONAL OPERATING POLICIES WHICH WE,
        AT OUR SOLE DISCRETION, MAY IMPOSE FROM TIME TO TIME. IF AT ANY TIME YOU DO NOT ACCEPT ANY
        OR ALL OF THESE TERMS AND CONDITIONS, YOU MUST IMMEDIATELY DISCONTINUE ALL ACCESS AND USE
        OF THE SERVICES. WE ALSO RESERVE THE SOLE RIGHT AND DISCRETION TO MAKE ANY AMENDMENTS TO
        THESE TERMS AND CONDITIONS FROM TIME TO TIME, IN WHICH CASE WE WILL POST THE REVISED TERMS
        AND CONDITIONS ON OUR WEBSITE AT <a href="http://www.pay.maxis.com.my">www.pay.maxis.com.my</a>
        IF YOU CHOOSE TO CONTINUE USING THE SERVICES SUBSEQUENT TO ANY SUCH AMENDMENTS MADE,
        SUCH USE SHALL CONSTITUTE YOUR AGREEMENT AND BINDING ACCEPTANCE OF ALL AMENDMENTS MADE</p>
                  
        <br />
        <p><strong>DESCRIPTION OF THE SERVICES</strong></p>
        <p>This Service provides you with the ability to register for and use a Maxis Pay
        account which will enable you to make payments for Maxis products and services
        whether through your computer or mobile device or any other channels in which these
        Services may be made available by Maxis in the future.</p>
        <p>You can use the Services for the following transactions: <br>
        </p><ol>
        <li>To make payment for any of Maxis’ products or services;</li>
        <li>Fund transfers to another Maxis Pay account; and payment for any other products or services as may be introduced by Maxis from time to time.</li>
        </ol>
        <p></p>
                  
        <p>Maxis or its subsidiaries or affiliates may expand the scope of the Transactions from time to time. By using these new Services as they become available, you agree to be bound by this terms and conditions so far as it is applicable.</p>
        <p> For the avoidance of doubt and notwithstanding anything contained in these terms and conditions, you agree and acknowledge that Maxis reserves the sole right and discretion to limit, cancel or suspend any or all of the Services or available Transactions herein in whole or in part at any time without giving any reason or explanation of the same and without incurring any liability whatsoever to you for doing so.</p>
        <p>By conducting any Transactions through the Service, you are authorizing Maxis to charge your credit/ debit card or to instruct your bank/ financial institution to obtain the funds on your behalf, or accept funds on your behalf, and to send the funds to the recipient that you designate. You shall ensure that there are sufficient funds at all times available in your accounts to perform any of your instructions for the Transactions.</p>
        <p>You may fund your Maxis Pay account using channels and processes authorized by Maxis.</p>
        <p>No statement of account will be provided by Maxis in respect of the Maxis Pay account. You will be responsible to track and keep records of all of your Transactions using the Maxis Pay account via Maxis’ Customer Call Centre or your credit/debit card or bank account</p>
                  
        <br />
        <p><strong>APPLICABLE TERMS &amp; CONDITIONS</strong></p>
        <p>The use of the Service shall be subject to these terms and conditions (as updated by Maxis from time to time). Your use of the Services by you will constitute your acceptance of these Terms and Conditions as well as to any inherent risks in conducting any transaction via the Maxis Pay account. </p>
        <p>These Terms and Conditions shall be in force from the date your application/ registration for a Maxis Pay account is approved by Maxis, which will be signified by availability of the Maxis Pay account to you. Approval of your application for Service shall be at Maxis’ absolute discretion and shall be in force unless terminated in accordance with these Terms and Conditions. Where Maxis has rejected your application, Maxis is not be obliged to provide any reason for such rejection or to respond to any request for information.    </p>
        <p>Where applicable, access and use of the Service shall also be subject to our
        <a href="http://www.maxis.com.my/personal/general/tnc_main.asp">General Terms and Conditions</a>
        (which include terms and conditions for <a href="http://www.maxis.com.my/personal/general/tnc_general.asp#wu">Website Use</a>,
        the <a href="http://www.maxis.com.my/personal/general/tnc_general.asp#aur">Rules of Acceptable Use</a> and the <a href="http://www.maxis.com.my/personal/general/tnc_general.asp#aur">Privacy Statement</a>) and terms and conditions
        for Postpaid Service and Prepaid Service at <a href="http://www.maxis.com.my">www.maxis.com.my</a>, which may be updated
        by Maxis from time to time. </p>
                  
        <br />
        <p><strong>USE OF SERVICE</strong></p>
        <p>To use the Service, you will have to register and open a Maxis Pay account through <a href="http://www.pay.maxis.com.my">www.pay.maxis.com.my</a> .</p>
        <p>To use the Maxis Pay account, you are required to create a Maxis Pay login credential bearing a username, password, email address, mobile no, identification and PIN. Each time you use your Maxis Pay account to do a Transaction, you will need to authorize and validate the Transaction using the email address and PIN which you had registered with Maxis when you created your Maxis Pay account. </p>
        <p>In registering for the Service you warrant, agree and undertake: <br>
                  
        </p><ol>
        <li>that the information provided by you when registering for the Maxis Pay account is true and accurate; </li>
        <li>that you shall not fraudulently register or use the Services or the Maxis Pay account;</li>
        <li>that you shall not use the Service, including the Maxis Pay account, in breach of these Terms and Conditions; </li>
        <li>to comply with all applicable laws, ordinances, codes, rules, regulations, notices, instructions and/or directives of the relevant authorities or any notices, instructions, directives or guidelines given by Maxis in connection with Services and Maxis Pay account; </li>
        <li>not to use the Service, including the Maxis Pay account, for any illegal or fraudulent activities; </li>
        <li>that you shall safeguard and protect the Maxis Pay account Password or PIN and that you shall not at any time and under any circumstances reveal or disclose or in any way facilitate access of the Maxis Pay account Password or PIN to any party and shall take all steps to protect the confidentiality of and prevent the disclosure of the Maxis Pay account Password or PIN; </li>
        <li>not to pledge the Maxis Pay account as any form of security for any purposes whatsoever; and</li>
        <li>to immediately notify Maxis upon receipt of any incomplete, garbled or inaccurate data or information or any data or information which is not intended from Maxis or any doubtful information or message. You agree to delete all such data or information from your mobile phone/ device.</li>
        </ol>
        <p></p>
        <p>You are responsible to check and verify Transactions conducted under or via the Maxis Pay account. Maxis shall not be obliged to act on any request to cancel, revoke, reverse or amend any instructions after it has been transmitted to Maxis.</p>
        <p>You are responsible to check and verify Transactions conducted under or via the Maxis Pay account. Maxis shall not be obliged to act on any request to cancel, revoke, reverse or amend any instructions after it has been transmitted to Maxis.</p>
        <p>In the event that Maxis decides to act upon or carry out any instructions, Maxis shall be allowed such amount of time to act upon and implement any instructions as may be reasonable having regard to the systems and operations of Maxis and any other circumstances then prevailing accordingly, Maxis shall not be responsible or liable for any loss arising from any delay on the part of Maxis in acting upon and carrying out any such instructions.</p>
        <p>The Maxis Pay account is personal to you and is not transferable and shall be used exclusively by you. The access to any item of the Maxis Pay account through entry of PIN shall be deemed as correct, complete and binding upon you as if such Maxis Pay account had been accessed for each transaction by you.  Any instructions sent to Maxis using your user name, email or PIN shall be deemed to have been issued by you and is regular and genuine, notwithstanding that such instructions may have been issued by a third party, either authorized or otherwise, and you shall be bound by such confirmation. You agree that Maxis is not further obliged to check the authenticity of such instructions but Maxis may, at its sole right and discretion, do so for its own purposes. Maxis shall not be responsible or liable for any losses which you may suffer, whether directly or indirectly, as a result of the same.</p>
        <p>You hereby authorize Maxis to accept and act upon any instructions made by you in respect of Maxis Pay in respect of the Services or to otherwise deal with your Maxis Pay Account without any further authority. </p>
        <p>Maintaining the confidentiality of the Maxis Pay account Password or PIN is your responsibility and it is up to you not to divulge this information to anyone else. You are responsible for ensuring that you logged off the Service at the end of each session. If you have lost your password or suspect that someone else has obtained your password, it is your responsibility to notify Maxis of this problem immediately. Maxis shall not be responsible for any losses incurred by you as a result of misuse or lost passwords.</p>
        <p>Anyone caught impersonating any customer, whether an individual or another legal entity, will be responsible for any costs and/or losses incurred as a result of their fraudulent activity. Abusing the Maxis Pay account may result in immediate termination/suspension of the said Maxis Pay account. Maxis reserves the right, from time to time, to request from you additional information in which case you shall provide the information so required failing which the Maxis Pay account may be barred by Maxis at its sole discretion.</p>
        <p>The use Maxis Pay account is subject to such other applicable terms, conditions, rules and regulations of Bank Negara Malaysia and/or any other regulatory or governmental authority.</p>
                  
        <br />
        <p><strong>BILL PAYMENT </strong></p>
        <p>You agree that payments are not final upon receipt of your instructions. Maxis may at its sole right and discretion, request for additional verification or information prior to the execution of any transfer or payment. Maxis shall not be responsible nor liable for any loss which you may suffer whether directly or indirectly, as a result of Maxis’ failure, neglect, omission or otherwise option not to request for such additional verification and/or information. </p>
        <p> Maxis shall not be liable for any payments or any failure to complete or execute a transfer or payment instruction where-<br>
        </p><ol>
        <li>you have insufficient balance in your Maxis Pay Account;</li>
        <li>you have provided Maxis with inaccurate or incomplete instructions or information;</li>
        <li>there is an error in the information or instructions given by you during the course of transmission;</li>
        <li>Maxis knows or has reason to believe that a fraud, criminal act, offence or violation of any law or regulation has been or will be committed</li>
                    
        </ol>
        <p></p>
        <p>You agree that Maxis may specify limits on the number of transactions you may make using the Services and the amounts to be so transferred or paid under the same. </p>
        <p>Maxis shall not be under any duty to ensure punctual payments of any bills by you and neither shall Maxis be under any duty to monitor payment of any bills or to notify any person of the late payment for any bills.</p>
                  
        <br />
        <p><strong>CHARGES FOR THE SERVICE  </strong></p>
        <p>You agree to pay: <br>
        </p><ol>
        <li>Maxis for any prevailing mobile service charges for standard data and traffic charges (e.g. SMS charges);</li>
        <li>Maxis for any fees or charges at such rates and in such manner as Maxis may impose or stipulate from time to time with respect to the Services; and </li>
        <li>bank/ financial institution or government for any applicable charges imposed by the bank/ financial institution or government, in connection with your access and use of the Service </li>
        </ol>
        <p></p>
        <p>You are advised to check the specific details of the charges involved prior to the registration and use of the Service. </p>
        <p>You agree and acknowledge that Maxis reserves the right to debit your Maxis Pay Account for the payment of any fees, charges and/or penalties imposed pursuant to this Agreement including any bank / financial institution or government charges, stamp duties or taxes payable as a result of the use of the Services provided thereunder. </p>
        <p>Please note that you will be charged for the Service even if it was used by a third party using your mobile device and/or the simcard registered to you. If the mobile device does not belong to you or if someone else is paying the mobile phone bill; please obtain that person's consent prior to using the Service.</p>
        <p>You agree to promptly pay all amounts due to Maxis as reflected in your official monthly bill statement and for all charges whatsoever occasioned by the use of the Service irrespective of whether such charges were authorized by you or has arisen from any other causes whatsoever. </p>
        <p><strong>VALIDITY AND ACCESS TO INFORMATION </strong></p>
        <p>You warrant and undertake that all information pertaining to your identity and your personal circumstances are true and correct and up-to-date. Maxis shall request for identification to verify the information and reserves the right to request for further validation of information and to reject the request if the information cannot be validated or is found incorrect. </p>
        <p>You shall promptly notify Maxis in writing of any changes of variations in your personal particulars and Maxis shall be entitled to assume that there have been no changes or variations until Maxis has received notice thereof given by you. </p>
        <p>You also consent and agree to allow Maxis to make available your name, your MSISDN, email and such other personal information which you provide on registration of the Maxis Pay account to any bank/financial institution solely for the purpose of creation of the Maxis Pay account and to enable Maxis to provide the Service. </p>
                  
        <br />
        <p><strong>INDEMNITY </strong></p>
        <p>You agree to indemnify and keep indemnified Maxis and/or any of its subsidiaries or related corporations as defined under the Companies Act, 1965 and its respective employees, agents, officers, and directors from any and all claims, losses, liabilities, cost and expenses (including but not limited to any legal fees) arising directly or indirectly or which may arise out of your instructions to Maxis in use of the Services or breach or violation of these Terms and Conditions or any third party rights or with respect to acceptance, receipt, use or misuse of any product or service as a result of purchases through Maxis Pay account and/or the Service or due to the delay and/or failure of the Services.</p>
        <p><strong>TERMINATION AND SUSPENSION</strong></p>
        <p>Without derogation to the above, Maxis reserves the right, at its absolute discretion and at any time, to immediately suspend/terminate your use of the Maxis Pay account and/or the Service for any reason, including without limitation in the following circumstances:<br>
        </p><ol>
        <li>in Maxis’ opinion, you indulged or participated in anything which is dishonest, fraudulent, illegal, and/or criminal in nature;</li>
        <li>you are in breach of any of the provisions of these Terms and Conditions or engage in any conduct which Maxis deems to be prejudicial to its interest; </li>
        <li>you are in breach of any acts, statutes, laws, by-laws, rules and/or regulations imposed by any party, regulatory body or government agency;</li>
        <li>you had misrepresented to Maxis or had submitted false documents or declared false information in relation to the application/ registration of Maxis Pay account.</li>
                    
        </ol>
        <p></p>
        <p>Any termination of the Service or your use of the Maxis Pay account pursuant to these Terms and Conditions shall be without prejudice to any of Maxis’ other rights and remedies under these Terms and Conditions or at law.</p>
                  
        <br />
        <p><strong>DISCLAIMER</strong></p>
        <p>The Service and the Maxis Pay account are provided on an “AS IS” basis without any representations or warranties of any kind whether express or implied to the fullest extent permitted by law. You agree and acknowledge that you shall use the Maxis Pay account and the Service at your own risk.</p>
        <p>Although Maxis will use reasonable endeavours to ensure that the Maxis Pay account is secure and cannot be accessed by unauthorized third parties, Maxis does not warrant the security or confidentiality of any information transmitted through the system/ platform or such other equivalent system in any jurisdiction via Maxis Pay account.    </p>
        <p>It is expressly agreed and declared by all parties hereto that Maxis shall not be liable or responsible to you and/or any other person(s) for any losses, damages, costs or expenses whatsoever suffered by you or such other person(s) arising out of or in connection with the issue, use, withdrawal and/or termination of the Maxis Pay account resulting from or in consequence of any act or omission by Maxis, except in the case of willful default by Maxis for which such liability shall be limited to the amount of actual loss only.</p>
        <p>Maxis shall not for any reason whatsoever be liable for loss or damages suffered by you under any circumstances whatsoever whether or not such circumstances relate to or arise out of these Terms and Conditions including but not limited to non-acceptance for any reasons whatsoever of Maxis Pay account by any person or body, restriction or cancellation of the Maxis Pay account, or under any other circumstances.   </p>
        <p>Maxis, its related and affiliated corporations shall not be liable to you or anyone else for any loss or any direct, indirect, special, exemplary, consequential damages or any other damages whatsoever, including for loss of any revenue or profits, whether in action of contract or tort, arising out of or in connection with your access, use of or inability to use, the Service and the Applications provided under it.</p>
        <p>Without  limiting the generality of this clause, Maxis shall not be liable for any loss caused by or arising from one or more of the following events or matters howsoever caused or incurring-<br>
        </p><ol>
        <li>Any malfunction, defect in and/or any breakdown, disruption or failure of any telecommunications, computer, terminal, server or other device or system whether or not owned, operated or maintained by you, Maxis or any other person, including but not limited to the failure of any such equipment or system to accept, recognize or process any instruction or username and password, and a PIN;</li>
        <li>Any malfunction, breakdown, disruption and/or unavailability of the Services or any portion thereof, howsoever arising;</li>
        <li>Any of the Services not being accessible, available or functioning;</li>
        <li>Any failure or delay caused by your internet browser or the software, computer virus or related problems;</li>
        <li>The corruption, destruction, alteration , loss of or error in your instructions or any data or information in the course of transmission;</li>
        <li>Any loss, theft or unauthorized use of your username, password, PIN and mobile phone bearing your MSISDN;</li>
        <li>Any inaccuracy or incompleteness of information, data or instructions given by you in relation to any transactions or the performance of any transactions or otherwise in relation to the provision of any of the Services;</li>
        <li>Your failure, neglect or omission to maintain sufficient funds in the relevant accounts to perform any of your instructions;</li>
        <li>You inability to perform any transactions due to limits set by Maxis from time to time;</li>
        <li>Your failure, neglect or omission to act in accordance with these terms and conditions and any other rules, regulations, policies and guidelines currently in force;</li>
        <li>Any event, the occurrence of which is beyond Maxis’ reasonable control, including but not limited to fire, earthquake, flood, lightning, riots, strikes, lockouts, government action, war, disruption of electrical or power supply; or</li>
        <li>Any loss caused by third parties.</li>
        </ol>
        <p></p>
        <p>The Service and the website where the Service is hosted or made available may contain links to 3rd party websites and services that are not owned, controlled by or connected to Maxis and Maxis assumes no responsibility whatsoever for the content, privacy policies and practices of these 3rd party websites and/or services. In addition, Maxis shall also not be responsible for any data/ information, including any of your personal information (such as name, telephone number, age, etc), that you share with anyone through any communication or interaction with any third party in connection with this Service. Please read the terms and conditions of these 3rd parties or 3rd parties websites carefully prior to sharing any such information. </p>
                  
        <br />
        <p><strong>EVIDENCE</strong></p>
        <p>You agree and acknowledge not to dispute the validity, accuracy or authenticity of any evidence of your instructions and/or communications transmitted between Maxis and you, including but not limited to any evidence in the form of Maxis’ computer records which may take the form of, among others, telephone logs, transaction logs, magnetic tapes, cartridges, computer printouts of any communication and any other form of information and data storage, all of which having been produced by Maxis’ computers in the course of their ordinary use.</p>
        <p>You further agree and acknowledge that it shall refer and at all times, treat all of the said computer records of Maxis therein as conclusive evidence of your instructions and/or communications received or sent by Maxis.</p>
        <p>Notwithstanding anything contained in this Agreement, you agree and acknowledge that all your said instructions and/or communications which are sent to Maxis and meet the operating standards and requirements of Maxis shall be deemed to be as good as, and given the same effect as, written and/or signed documentary communications .</p>
                  
        <br />
        <p><strong>WAIVER</strong></p>
        <p>You agree that the failure of Maxis, whether continuous or otherwise, to exercise any rights, power, privileges, remedies or provisions of these Terms and Conditions or Maxis’ failure or delay to insist on compliance with any of these clauses shall not constitute a waiver by Maxis of any such rights, power, privileges, remedies or provisions of these Terms and Conditions</p>
        <p><strong>SEVERABILITY  </strong></p>
        <p>If any of the provision herein contained should be invalid, illegal or unenforceable under any applicable law, the legality and enforceability of the remaining provisions shall not be affected or impaired in any way and such invalid, illegal or unenforceable provision shall be deemed deleted.</p>
                  
        <br />
        <p><strong>GOVERNING LAW</strong></p>
        <p>The Agreement shall be governed by and construed in accordance with the laws of Malaysia, excluding its conflict of law rules. Parties agree to submit to the exclusive jurisdiction of the Malaysian courts.</p>
        <p>Where any claims, proceedings, actions, suits or disputes arising or in connection with this Agreement is to be commenced or adjudicated in the High Court of Malaya, the parties agree that it shall be adjudicated in the High Court in Kuala Lumpur, Malaysia.</p>
        <p><br></p>
        <p><br></p>
    </div>
    </div>
</div>
</div>