﻿@using Online.Registration.Web.Helper;
@{
    string orderId = ViewData["orderId"] != null ? ViewData["orderId"].ToString() : null;
    Online.Registration.DAL.Models.PrintVersion objPrintVersionDetails = new Online.Registration.DAL.Models.PrintVersion();
    string termAndConditions = string.Empty;
    using (var proxyReg = new RegistrationServiceProxy())
    {
        termAndConditions = proxyReg.GetPrintTsCsInfo("V3.0", 2, "", "", "").TsCs;
    }
}         
			<div class="modal-dialog  modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="close-btn">Close</span></button>
                <h4 class="modal-title usage-title">General T&C</h4>
              </div>
              <div class="modal-body tnc">
              <div class="tnc-list">
              @Html.Raw(termAndConditions) 
                    <table>
                        <tr>
                            <td><input type="checkbox" style="margin-top:23px" id="tncGeneralCheck" @if (orderId != null) {@Html.Raw("checked='checked' disabled='disabled'")} /></td>
                            <td>
                                <label for="tncGeneralCheck" style="cursor:pointer; margin-left:20px; margin-top:40px; width:780px">
                                    I acknowledge that I have been provided with and have read and understood the Agreement in its entirety, and I agree to the terms and conditions of the Agreement.
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
              </div>
            </div>
          </div>

