﻿@using System.Configuration;
@using SNT.Utility;
@{
    Layout = null;   
}
<div class="row">
      <div class="col-sm-12 title-home">
        <h2>How can we help you today?</h2>
      </div>
      <div class="col-sm-12">
        
        <ul class="col-sm-11 home">
         @if (Session["isDealer"].ToString2() != "True")
         {  
          <li class="col-sm-3" id="coverage-check">
                <div class="option-box" id="btnCoverage"><a href="@(ConfigurationManager.AppSettings["CoverageCheckURL"])" target="_blank">
                  <div class="coverage" cursor:pointer;></div>
                   <h2>Coverage</h2> 
                   <h2>Check</h2>
                   </a>
                </div>
          </li>
         }
          <li class="col-sm-3" id="inventory-dashboard">
            <div class="option-box" id="btnDashboard" cursor:pointer;>
              <div class="dashboard"></div>
              <h2>Inventory</h2> 
              <h2>Dashboard</h2>
            </div>
          </li>
          <li class="col-sm-3" id="icatalogue">
            <div class="option-box" id="btnCatalogue"><a href="@(ConfigurationManager.AppSettings["iCatalogueURL"])" target="_blank">
              <div class="icatalogue"></div>
              <h2>&nbsp;</h2>
              <h2>iCatalogue</h2>
            </div></a>
        </li>
@*          <li class="col-sm-3" id="irecommender">
            <div class="option-box" id="btnIrecommender">
              <div class="recommender"></div>
              <h2>iRecommender</h2>
            </div>
          </li>*@
        </ul>
      </div>
      <div class="col-sm-12">
        <div class="white-space">&nbsp;</div>
      </div>
</div>

<div class="modal fade" id="coverageCheck" tabindex="-1" role="dialog" aria-labelledby="coverageCheck"
    aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content" style="width:110%; height:900px; overflow-x:hidden">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span class="close-btn">Close</span></button>
            </div>
            <div class="modal-body coverageCheck">
                <div class="coverageCheck-list">
                    <div id="coverageIframe"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/js/jquery.colorbox.js")" ></script>
<script type="text/javascript">
    $(document).ready(function () {
//        $('a#coverageCheck').colorbox({ iframe: true, innerWidth: "90%", innerHeight: "90%", closeButton: true });

        $('#btnDashboard').click(function (e) {
            e.preventDefault();
            window.location = '@(Url.Action("DeviceAvailability", "InventoryDashboard"))';
        });

        $('#btnIrecommender').click(function (e) {
            e.preventDefault();
            window.location = '@(Url.Action("SelectDevicePlan", "Registration", new RouteValueDictionary(new { type = 2 })))';
        });
    });

    
</script>