﻿@using SNT.Utility;
@{
	string notif1 = "Customer has selected Device Financing offer, but Device upgrade has not been selected. A one-time-charge of ";
	string notif2 = " is applicable upon upgrading device in month 12 onwards of device financing contract.";
	string notif3 = "Please confirm to proceed without Device Upgrade VAS.";

    var vas_price = ViewData["VAS_price"];
    var controllerName = ViewData["ControllerName"];
    var classButton = "btn isell-submit center-block";
}
<div class="modal fade" id="deselectPromptWindow" tabindex="-1" role="dialog" hidden="true" data-backdrop="static" data-keyboard="false">
    @Html.Hidden("prompt_objBtnId")
    @Html.Hidden("prompt_objvasID")
    @Html.Hidden("prompt_objGroupId")
    @Html.Hidden("prompt_selectedKenanCodes")
    @Html.Hidden("prompt_vasName")
    @Html.Hidden("prompt_vasPrice")
    @Html.Hidden("prompt_checkbox")
    @Html.Hidden("prompt_action")
    
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="dfPrompt_close" type="button" class="close"><span class="close-btn">Close</span></button>
            </div>
            <div class="modal-body">
                <div class="row">  
                        <div class="col-sm-12 usage-title">
                            <p class="usage-title">@notif1 RM <text id="prompt_price" style="display:inline-block; font-weight:bold"></text>@vas_price @notif2</p>
                        </div>
                        <div class="col-sm-12">
                            <br />
                            <p class="usage-title">@notif3</p>
                        </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">  
                        <div class="col-sm-12">
                                <div class="control-group">
                                    <input type="submit" name="dfPrompt_confirm" id="dfPrompt_confirm" class="@classButton" style="width:45% ; margin-left:auto ; margin-right:auto ; text-shadow:none" value="Confirm" onkeypress="return false;" onclick="return false;" ></input>
                                </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#dfPrompt_confirm').click(function () {
            $('#deselectPromptWindow').modal('hide');
        });

        $('#dfPrompt_close').click(function () {
            if ('@controllerName' == 'CRP') {
                $('#SelectedContractID').val('');
                $('div[id^="btnConVAS_"]').removeClass("focus");
                $('#deselectPromptWindow').modal('hide');

            }
            if ('@controllerName' == 'AddContract') {
                //var addchkBox = $('#prompt_checkbox');
                debugger;
                var currID = $('#prompt_objvasID').val();
                var chkBox = $('#' + currID);
                var objGroupId = $('#prompt_objGroupId').val();
                var vasName = $('#prompt_vasName').val();
                var price = $('#prompt_vasPrice').val();
                var curKenanCode = $('#prompt_selectedKenanCodes').val();
                var action = $('#prompt_action').val();

                if (action = 'add') {
                    //$('#' + currID).prop('checked', true);
                    //chkBox.checked = true;
                    $('#' + currID).addClass('selected-vas');
                    addedVas(currID, objGroupId, vasName, price, curKenanCode);
                    $('#deselectPromptWindow').modal('hide');
                }
                if (action = 'remove') {
                    //$('#' + currID).prop('checked', true);
                    $('#' + currID).addClass('selected-vas');
                    $('#deselectPromptWindow').modal('hide');
                    removeVas(currID, vasName, price, objGroupId);
                    $('#deselectPromptWindow').modal('hide');
                }
            }
            else if ('@controllerName' == 'CRP') {
                var btnID = $('#prompt_objBtnId').val();
                $('[value=' + btnID + ']').addClass('selected-vas');
                getSelectedKenanCodeVasIDs();
            }
            else {
                var objBtnId = $('#prompt_objBtnId').val();
                var objvasID = $('#prompt_objvasID').val();
                var objGroupId = $('#prompt_objGroupId').val();
                var selectedKenanCodes = $('#prompt_selectedKenanCodes').val();
                SelectedNewVAS(objBtnId, objvasID, objGroupId);
                $('#deselectPromptWindow').modal('hide');
            }

        });
    });

    
</script>