﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.Models;
@using Online.Registration.Web.SubscriberICService;
@model Online.Registration.Web.ViewModels.ValueAddedServicesVM

@{
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();

    
<div class="row">
<div class="col-sm-12 process-btn">
            <footer>
				<navi>
					<div class="container-fluid">
						<div class="row">
                            <div class="col-sm-1" id="back">
									<div class="btn isell-btn" id="btnNext" onclick="$('#TabNumber').val(@ViewBag.BackButton);$('#frmSelectVAS').submit();">< Back</div>
								</div>
							<div class="col-sm-9" id="cancel">
								<div class="btn isell-btn"  id="btnNext" data-toggle="modal" data-target="#cancel-pop">< Cancel</div>
							</div>

							<div class="col-sm-2">
                                <div class="btn isell-next" id="btnNext" onclick="$('#TabNumber').val(@MobileRegistrationSteps.MobileNo.ToInt());getDependencyComponents();" >Next <span>></span></div>   
							</div>
						</div>
					</navi>
				</footer>
    </div>
 </div>
    }
