﻿
@using Online.Registration.Web.ViewModels
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@using Online.Registration.Web.Models;
@using Online.Registration.Web.SubscriberICService;
@using Online.Registration.Web.ContentRepository;


@model Online.Registration.Web.ViewModels.PersonalDetailsVM           

@{
    
    // 20141204 - Display waiver details - Habs - start
    using (var regProxy = new RegistrationServiceProxy())
    {
        Model.waiverComponents = regProxy.GetWaiverComponentsbyRegID(Model.RegID);
    }
    // 20141204 - Display waiver details - Habs - end    

    
}

@if (Model != null && Model.waiverComponents != null)
{

    if (Model.RegSupplineList == null || Model.RegSupplineList.Count() == 0)
    {
        // this is an Add MNP Supplementary Line to an existing account use case  - Habs - start                   
        foreach (var waiver in Model.waiverComponents)
        {
            @Html.Raw(Util.FormTableRowNewWaiverDisplay(waiver.ComponentName, waiver.price, waiver.IsWaived));
        }
        // this is an Add MNP Supplementary Line to an existing account use case  - Habs - end
        
    }
    else if (Model.MSISDN1 != null)
    {
        if (Model.waiverComponents.Where(w => !w.MismType.StartsWith("S") && !w.MismType.StartsWith("MS")).Count() > 0)
        { 
            <div class='summary-data' style="font-family:frutigerblack;font-size:12px;"><h4>Principal Line - @Model.MSISDN1</h4></div>
        }
                            
        foreach (var waiver in Model.waiverComponents.Where(w => !w.MismType.StartsWith("S") && !w.MismType.StartsWith("MS")))
        {
            
            @Html.Raw(Util.FormTableRowNewWaiverDisplay(waiver.ComponentName, waiver.price, waiver.IsWaived));
        }
                            
        <br />                            
    }


    int suppLineCounter = 1;

    if (Model.RegSupplineList != null && Model.RegSupplineList.Count() > 0)
    {

        foreach (var suppLine in Model.RegSupplineList)
        {
            if (Model.waiverComponents.Where(w => w.MismType == suppLine.MismType).Count() > 0)
            {     
                <div class='summary-data' style="font-family:frutigerblack;font-size:12px;"><h4>Supplementary Line - @suppLine.MSISDN1</h4></div>
            }
                            
            // assume that the mismType is populated
            foreach (var waiver in Model.waiverComponents.Where(w => w.MismType == suppLine.MismType))
            {
                    @Html.Raw(Util.FormTableRowNewWaiverDisplay(waiver.ComponentName, waiver.price, waiver.IsWaived));
            }

            // assume that the supplementary line is ordered - this is just a workaround
            /*
            foreach (var waiver in Model.waiverComponents.Where(w => w.MismType != null && w.MismType.EndsWith(suppLineCounter.ToString())))
            {
                @Html.Raw(Util.FormTableRowNewWaiverDisplay(waiver.ComponentName, waiver.price, waiver.IsWaived));
            } 
            */
                               
            <br />
            suppLineCounter++;
        }                
    }
    
    
}
