﻿@using Online.Registration.Web.CommonEnum
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Models
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.OrderSummaryVM
@{
    var dropObj = (DropFourObj)Session[SessionKey.DropFourObj.ToString()];
    var personalInformation = dropObj.personalInformation;
    var nationality = WebHelper.Instance.determineNationality().ToInt();
    var nationalityText = string.Empty;
    decimal planAdvance = 0;
    decimal planDeposit = 0;
    decimal deviceAdvance = 0;
    decimal deviceDeposit = 0;
    
    if(personalInformation != null)
    {
        Model.UpFrontPayment = personalInformation.UpfrontPayment;
    }
    
    if(nationality == 1)
    {
        nationalityText = "Malaysians";
        planAdvance = Model.MalayPlanAdv;
        planDeposit = Model.MalyPlanDeposit;
        deviceAdvance = Model.MalyDevAdv;
        deviceDeposit = Model.MalayDevDeposit;
    }
    else if(nationality == 2)
    {
        nationalityText = "Non Malaysians";
        planAdvance = Model.OthPlanAdv;
        planDeposit = Model.OthPlanDeposit;
        deviceAdvance = Model.OthDevAdv;
        deviceDeposit = Model.OthDevDeposit;
    }
}
<div id="WaiverPersonalDetails" style="width: 400px;">
	<div>
        @if (planAdvance > 0)
		{
		<div class="form-row">
			<div class="form-label form-waiver-label">
				Plan Advance for @(nationalityText)
			</div>
			<div>
				: @(planAdvance)
			</div>
		</div>
		}

        @if (planDeposit > 0)
        {
        <div class="form-row">
			<div class="form-label form-waiver-label">
				Registration Deposit for @(nationalityText)
			</div>
			<div>
				: @(planDeposit)
			</div>
		</div>
        }

        @if (deviceAdvance > 0)
		{
		<div class="form-row">
			<div class="form-label form-waiver-label">
				Device Advance for @(nationalityText)
			</div>
			<div>
				: @(deviceAdvance)
			</div>
		</div>
		}

        @if (deviceDeposit > 0)
		{
		<div class="form-row">
			<div class="form-label form-waiver-label">
				iValue Advance for @(nationalityText)
			</div>
			<div>
				: @(deviceDeposit)
			</div>
		</div>
		}

        @if (Model.UpFrontPayment > 0)
		{
		<div class="form-row">
			<div class="form-label form-waiver-label">
				Upfront Payment
			</div>
			<div>
				: @Html.TextBoxFor(model => model.UpFrontPayment, new { @Value = Model.UpFrontPayment > 0 ? Model.UpFrontPayment.ToString() : "0.00", disabled = "disable" })
			</div>
		</div>
		}
	</div>
</div>

<style type="text/css">
    .form-waiver-label
    {
        width:62%;
    }
</style>