﻿@using Online.Registration.Web.CommonEnum;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@model Online.Registration.Web.Models.DropFourObj
@{
    var isMalaysian = false;

    if (Model.personalInformation != null)
    {
        var customer = Model.personalInformation.Customer;
        if (customer != null)
        {
            isMalaysian = customer.NationalityID == 1 ? true : false;
        }
    }

    if (!isMalaysian)
    {
        isMalaysian = WebHelper.Instance.determineNationality() == "1" ? true : false;
    }
}
<table align="center">
    <tr>
        <td>
            @if (Model.personalInformation.RegID == 0)
            {
                var mainF = Model.mainFlow;
                if (isMalaysian)
                {
                    @Html.Raw(Util.FormWaiverTable(
                                        mainF.RegType, 
                                        mainF.PkgPgmBdlPkgCompID, 
                                        mainF.orderSummary.MalayPlanAdv.ToInt(), 
                                        mainF.orderSummary.MalyPlanDeposit.ToInt(), 
                                        mainF.orderSummary.MalyDevAdv.ToInt(), 
                                        mainF.orderSummary.MalayDevDeposit.ToInt(),
                                        orderSummary: mainF.orderSummary));
                }
                else
                {
                    @Html.Raw(Util.FormWaiverTable(
                                        mainF.RegType, 
                                        mainF.PkgPgmBdlPkgCompID, 
                                        mainF.orderSummary.OthPlanAdv.ToInt(), 
                                        mainF.orderSummary.OthPlanDeposit.ToInt(), 
                                        mainF.orderSummary.OthDevAdv.ToInt(), 
                                        mainF.orderSummary.OthDevDeposit.ToInt(),
                                        orderSummary: mainF.orderSummary));
                }
            }
            else
            {
                @Html.Raw(Util.FormWaiverTable(0, 0, 0, 0, 0, 0, Model.personalInformation.RegID));
            }
        </td>
    </tr>
</table>

<script type="text/javascript" language="javascript" >

    var strWavier = "";

    $(document).ready(function () {
        var waiverInfo = $("input[class^='clsWaiver']");

        if (waiverInfo.size() > 0) {
            for (var x = 0; x < waiverInfo.size(); x++) {
                var currentValue = $(waiverInfo[x]).attr("value");
                var valueName = currentValue.split('~')[0];
                var waiverCheckbox = $('#hdnWaiverInfo').val().split('+');
                var waiverCount = waiverCheckbox.length;

                for (var i = 0; i < waiverCount; i++) {
                    if (waiverCheckbox[i].split('~').length > 4) {
                        if (valueName == waiverCheckbox[i].split('~')[0] && waiverCheckbox[i].split('~')[4] == "1" && waiverCheckbox[i].split('~')[2] != "0.00") {
                            waiverInfo[x].checked = true;
                        }
                    }
                }
            }
        }

        $('.clsWaiver').each(function () {
            var curValuve = $(this).attr("value");
            if ($(this).attr("checked") == "checked") {
                var price = parseInt(curValuve.toString().split('~')[2].toString());
                if (price > 0) {
                    strWavier = strWavier + curValuve.toString().split('~')[0].toString() + ",";
                }
            }

        });
    });
</script>
