﻿@using Online.Registration.Web.CommonEnum;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@model Online.Registration.Web.Models.DropFourObj
@{
    var isMalaysian = false;
    bool isDealer = false;
    isDealer = !ReferenceEquals(Session["IsDealer"], null) ? Session["IsDealer"].ToBool() : false;
    if (Model.personalInformation != null)
    {
        var customer = Model.personalInformation.Customer;
        if (customer != null)
        {
            isMalaysian = customer.NationalityID == 1 ? true : false;
        }
    }

    if (!isMalaysian)
    {
        isMalaysian = WebHelper.Instance.determineNationality() == "1" ? true : false;
    }
}
@if (!isDealer)
{
<div class="exc-col">
            @{
    var disableStr = "disabled=disabled";
    var onclickJsFunc = "";

    if (!Util.SessionAccess.User.isDealer)
    {
        disableStr = "";
        onclickJsFunc = "toggle(this)";
    }
            }

            <input id="exceptional" class="exc-waiver-checkbox" type="checkbox" @(disableStr) onclick="@(onclickJsFunc)" />
            <label for="exceptional" class="exc-waiver-label">
                Exceptional Waiver</label>
        </div>
}
        <div class='exc-col-sel'>
<table align="center">
    <tr>
        <td>
            @if (Model.personalInformation.RegID == 0)
            {
                var mainF = Model.mainFlow;
                if (isMalaysian)
                {
                    @Html.Raw(Util.FormWaiverTable(
                                        mainF.RegType,
                                        mainF.PkgPgmBdlPkgCompID, 
                                        mainF.orderSummary.MalayPlanAdv.ToInt(), 
                                        mainF.orderSummary.MalyPlanDeposit.ToInt(), 
                                        mainF.orderSummary.MalyDevAdv.ToInt(), 
                                        mainF.orderSummary.MalayDevDeposit.ToInt(),
                                        orderSummary: mainF.orderSummary));
                }
                else
                {
                    @Html.Raw(Util.FormWaiverTable(
                                        mainF.RegType,
                                        mainF.PkgPgmBdlPkgCompID,
                                        mainF.orderSummary.OthPlanAdv.ToInt(),
                                        mainF.orderSummary.OthPlanDeposit.ToInt(),
                                        mainF.orderSummary.OthDevAdv.ToInt(),
                                        mainF.orderSummary.OthDevDeposit.ToInt(),
                                        orderSummary: mainF.orderSummary));
                }
            }
            else
            {
                @Html.Raw(Util.FormWaiverTable(0, 0, 0, 0, 0, 0, Model.personalInformation.RegID));
            }
        </td>
    </tr>
</table>
</div>

<script type="text/javascript" language="javascript" >

    var strWavier = "";

    $(document).ready(function () {
        initExtraCharges();
        var waiverInfo = $("input[class^='clsWaiver']");

        if (waiverInfo.size() > 0) {
            for (var x = 0; x < waiverInfo.size(); x++) {
                var currentValue = $(waiverInfo[x]).attr("value");
                var valueName = currentValue.split('~')[0];
                var waiverCheckbox = $('#hdnWaiverInfo').val().split('+');
                var waiverCount = waiverCheckbox.length;

                for (var i = 0; i < waiverCount; i++) {
                    if (waiverCheckbox[i].split('~').length > 4) {
                        if (valueName == waiverCheckbox[i].split('~')[0] && waiverCheckbox[i].split('~')[4] == "1" && waiverCheckbox[i].split('~')[2] != "0.00") {
                            waiverInfo[x].checked = true;
                        }
                    }
                }
            }
        }

        $('.clsWaiver').each(function () {
            var curValuve = $(this).attr("value");
            if ($(this).attr("checked") == "checked") {
                var price = parseInt(curValuve.toString().split('~')[2].toString());
                if (price > 0) {
                    strWavier = strWavier + curValuve.toString().split('~')[0].toString() + ",";
                }
            }

        });
    });
    function initExtraCharges(){
        toggleWaiverCheckboxes();
        $('#hdnApproverID').val('0');
        $('#waiver-pop').attr('autocomplete', 'off');
        $('#waiver-pop').attr('autoCompleteType', 'disable');
		 debugger;
        $('.input-approval').keyup(function( event ) {
            code=event.which;
            if(code==13)event.preventDefault();
            if(code==13){
                setSession();
            }
        });
            $('#exceptional').click(function () {debugger;
            if($('#exceptional').is(':checked')){
                    $('#ew-approval-popup').modal('show');
                    clearErrorMessage('EW');
                }
            toggleWaiverCheckboxes();
            //$('.clsWaiver').attr('checked', 'checked');
        });

        $('#hdnWaiverInfo').val('');
    }

    function setEraseAppDate(setvalue){
        var url = '@(Url.Content("~/Registration/setApprovalTime"))';
        $.ajax({
            url: url,
            async: false,
            type: "POST",
            dataType: "json",
            data: { set: setvalue },
            success: function () {
            },
        error: function (xhr, err) {
            debugger;
            }
        });
    }

    function toggle(source) {
        //checkboxes = document.getElementsByClassName("clsDirectDebitWaiver");
        debugger;
        checkboxes = document.getElementsByClassName("clsWaiver");

        $('#hdnWaiverInfo').val('');

        for (var i in checkboxes) {

            @*start - i think the following codes have no purpose at all :p - Habs*@            
            var value = checkboxes[i].value;

            if (value !== undefined)
            {
                value = value + "~1";
            }

            if ($('#hdnWaiverInfo').val() == '' && source.checked) {
                $('#hdnWaiverInfo').val(value);
            }

            else {
                if (source.checked && value !== undefined) {
                    $('#hdnWaiverInfo').val($('#hdnWaiverInfo').val() + "+" + value);
                }
            }
            @*end - i think the following codes have no purpose at all :p - Habs*@            
        }

    }

    function toggleWaiverCheckboxes() {
        debugger;
        var check = $('#exceptional').is(':checked');
        $('#hdnWaiverInfo').val('');
        //checkboxes = document.getElementsByClassName("clsDirectDebitWaiver");
        checkboxes = document.getElementsByClassName("clsWaiver");
        
        for (var i in checkboxes) {

            if (check) {
            debugger;
                checkboxes[i].disabled = false;
            } else {
            debugger;
                checkboxes[i].checked = false;
                checkboxes[i].disabled = true;
            }
        }

        /*if (check) {
        debugger;
                checkboxes.disabled = false;
            } else {
            debugger;
                checkboxes.checked = false;
                checkboxes.disabled = true;
            }
        */
        var dbcheck = $('#db-card').is(':checked');

        if (dbcheck == false) {
            checkboxes = document.getElementsByClassName("clsDirectDebitWaiver");

            for (var j in checkboxes) {
                if (check) {
                debugger;
                    checkboxes[j].disabled = false;
                } else {
                debugger;
                    checkboxes[j].checked = false;
                    checkboxes[j].disabled = true;
                }
            }
          /*  if (check) {
            debugger;
                checkboxes.disabled = false;
            } else {
            debugger;
                checkboxes.checked = false;
                checkboxes.disabled = true;
            }*/
        }


        return;
    }
</script>
