﻿@*-----------------------------------------------------------------------------------
    Date Created: 11 October 2015
    Developer   : Ashley Ow
    View Name   : TransferOwnership.cshtml
    Purpose     : To capture the details for Transfer Ownership Service Request
    Version Control:
    Version     Date        Change Made
    1.0         11 Oct 2015  View created
    -----------------------------------------------------------------------------------*@

@using Online.Registration.Web.ViewModels.Common
@using Online.Registration.Web.CustomExtension
@using Newtonsoft.Json
@using Online.Registration.Web.Helper;
@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.TransferOwnershipNewOrderVM

@functions{
    object getTbHtmlAttribute()
    {
        return new { @class = "form-control search-num" };
    }
    object getReadOnlyTbHtmlAttribute()
    {
        return new { @class = "form-control search-num readonly", @readonly = "readonly" };
    }
}
<style>
    .dropdown-menu[display-id='@Html.IdFor(n=>n.New_DOBDay)Txt'],
    .dropdown-menu[display-id='@Html.IdFor(n=>n.New_DOBYear)Txt'],
    .dropdown-menu[display-id='@Html.IdFor(n=>n.New_CustSalutation)Txt'] {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }
</style>
<!-- Start New Acc section -->
<div class="row" id="trNewAcc" style="padding-top:0">
    <div class="col-sm-12 form paddingOverall" >
        <!-- Start New Address ID Number -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Identification</p>
            </div>
            <div class="col-sm-3">
                <div class="input-group-btn number-type">
                    @Html.CustomDropDownListFor(model => model.New_CustIDTypeId, StaticListVM.Instance.IdTypList)
                </div>
            </div>
            <div class="col-sm-2">
                <p class="inner-label">*Number</p>
            </div>
            <div class="col-sm-3">
                <p class="inner-content">
                    @Html.TextBoxFor(model => model.New_CustIDNumber, getTbHtmlAttribute())
                    <button type="button" id="@Html.IdFor(n=>n.New_CustIDNumber)" class="btn btn-defadivt search-icon"></button>
                </p>
            </div>
            <div class="col-sm-1" id="@Html.IdFor(n=>n.NewCustBreErrors)">
                @Html.DisplayFor(n => n.NewCustBreErrors, "BreTooltip")
            </div>
        </div>

        <!-- Start New Address Salutation -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">Salutation</p>
            </div>
            <div class="col-sm-4">
                <div class="input-group-btn number-type">
                    @Html.CustomDropDownListFor(model => model.New_CustSalutation, StaticListVM.Instance.SalutationList)
                </div>
            </div>
        </div>

        <!-- Start New Address Account Name -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Full name as per ID</p>
            </div>
            <div class="col-sm-4">
                <p class="inner-content lock-if-maxiscust">@Html.TextBoxFor(model => model.New_CustName, getTbHtmlAttribute())</p>
            </div>
        </div>

        <!-- Start New Address Account DOB -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Date Of Birth</p>
            </div>
            <!-- DOB (Year) -->
            <div class="col-sm-2">
                <p class="inner-label">Year</p>
                <div class="input-group-btn number-type lock-if-maxiscust">
                    @Html.CustomDropDownListFor(model => model.New_DOBYear, Util.GetYearList(18))
                </div>
            </div>
            <!-- DOB (Month) -->
            <div class="col-sm-2">
                <p class="inner-label">Month</p>
                <div class="input-group-btn number-type lock-if-maxiscust">
                    @Html.CustomDropDownListFor(model => model.New_DOBMonth, Util.GetMonthList())
                </div>
            </div>
            <!-- DOB (Day) -->
            <div class="col-sm-2">
                <p class="inner-label">Day</p>
                <div class="input-group-btn number-type lock-if-maxiscust">
                    @Html.CustomDropDownListFor(model => model.New_DOBDay, Util.GetDayList())
                </div>
            </div>
        </div>

        <!-- Start New Address Account Gender -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Gender</p>
            </div>
            <div class="col-sm-4 lock-if-maxiscust">
                @Html.RadioButtonFor(model => model.New_CustGender, "M", new { id = "rbGenderMale", @checked = "True", @class = "form-radio alert" }) <label for="rbGenderMale" class="stock-label">Male</label>
                @Html.RadioButtonFor(model => model.New_CustGender, "F", new { id = "rbGenderFemale", @class = "form-radio alert" }) <label for="rbGenderFemale" class="stock-label">Female</label>
            </div>
        </div>

        <!-- Start New Address Account Language -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Preferred Language</p>
            </div>
            <div class="col-sm-4">
                <div class="input-group-btn number-type lock-if-maxiscust">
                    @Html.CustomDropDownListFor(model => model.New_CustLanguageID, StaticListVM.Instance.LanguageList)
                </div>
            </div>
        </div>

        <!-- Start New Address Account Nationality -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Nationality</p>
            </div>
            <div class="col-sm-4">
                <div class="input-group-btn number-type lock-if-maxiscust">
                    @Html.CustomDropDownListFor(model => model.New_CustNationalityID, StaticListVM.Instance.NationalityList)
                </div>
            </div>
        </div>

        <!-- Start New Address Account Race -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Race</p>
            </div>
            <div class="col-sm-4">
                <div class="input-group-btn number-type lock-if-maxiscust">
                    @Html.CustomDropDownListFor(model => model.New_CustRaceID, StaticListVM.Instance.RaceList)
                </div>
            </div>
        </div>

        <!-- Start New Address Account Email -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">Email</p>
            </div>
            <div class="col-sm-4">
                <p class="inner-content">@Html.TextBoxFor(model => model.New_CustEmail, getTbHtmlAttribute())</p>
            </div>
        </div>

        <!--Start New Address Account Contact Number -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Contact Number</p>
            </div>
            <div class="col-sm-4">
                <p class="inner-content">@Html.TextBoxFor(model => model.New_CustContactNumber, getTbHtmlAttribute())</p>
            </div>
        </div>

        <!-- Start New Address Account Alternate Contact Number -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">Alternate Contact Number</p>
            </div>
            <div class="col-sm-4">
                <p class="inner-content">@Html.TextBoxFor(model => model.New_CustAlternateNumber, getTbHtmlAttribute())</p>
            </div>
        </div>
    </div>

    <div class="col-sm-12 form border-top even paddingOverall" style="margin-bottom: 0;">
            <p class="device-title">Billing Address</p>
            <!-- Start New Address Line 1 -->
            <div class="row">
                <div class="col-sm-3">
                    <p class="inner-label">*Address</p>
                </div>
                <div class="col-sm-4">
                    <p class="inner-content">@Html.TextBoxFor(model => model.New_CustAddressLine1, getTbHtmlAttribute())</p>
                </div>
            </div>

            <!-- Start New Address Line 2 -->
            <div class="row">
                <div class="col-sm-3">
                    <p class="inner-label"></p>
                </div>
                <div class="col-sm-4">
                    <p class="inner-content">@Html.TextBoxFor(model => model.New_CustAddressLine2, getTbHtmlAttribute())</p>
                </div>
            </div>

            <!-- Start New Address Line 3 -->
            <div class="row">
                <div class="col-sm-3">
                    <p class="inner-label"></p>
                </div>
                <div class="col-sm-4">
                    <p class="inner-content">@Html.TextBoxFor(model => model.New_CustAddressLine3, getTbHtmlAttribute())</p>
                </div>
            </div>

            <!-- Start New Address Postcode -->
            <div class="row">
                <div class="col-sm-3">
                    <p class="inner-label">*Postcode</p>
                </div>
                <div class="col-sm-3">
                    <p class="inner-content">@Html.TextBoxFor(model => model.New_CustPostCode, getTbHtmlAttribute())</p>
                </div>
                <div class="col-sm-3">
                    <p class="inner-content" id="PostcodeValidationMessage"></p>
                </div>
            </div>

            <!-- Start New Address City -->
            <div class="row">
                <div class="col-sm-3">
                    <p class="inner-label">*City</p>
                </div>
                <div class="col-sm-4">
                    <p class="inner-content">@Html.TextBoxFor(model => model.New_CustCity, getReadOnlyTbHtmlAttribute())</p>
                </div>
            </div>

            <!-- Start New Address State -->
            <div class="row">
                <div class="col-sm-3">
                    <p class="inner-label">*State</p>
                </div>
                <div class="col-sm-4">
                    <p class="inner-content">@Html.TextBoxFor(model => model.New_CustState, getReadOnlyTbHtmlAttribute())</p>
                </div>
            </div>
    </div>
</div>