﻿@*-----------------------------------------------------------------------------------
    Date Created: 11 October 2015
    Developer   : Ashley Ow
    View Name   : TransferOwnership.cshtml
    Purpose     : To capture the details for Transfer Ownership Service Request
    Version Control:
    Version     Date        Change Made
    1.0         11 Oct 2015  View created
    -----------------------------------------------------------------------------------*@

@using Online.Registration.Web.ViewModels.Common
@using Online.Registration.Web.CustomExtension
@using Newtonsoft.Json
@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.TransferOwnershipNewOrderVM

@functions{
    object getTbHtmlAttribute()
    {
        return new { @class = "form-control search-num" };
    }
    object getReadOnlyTbHtmlAttribute()
    {
        return new { @class = "form-control search-num readonly",@readonly="readonly" };
    }
}
@Html.HiddenFor(n=>n.ExistQueryCustomer)
@Html.HiddenFor(n=>n.NewQueryCustomer)
@Html.HiddenFor(n=>n.ValidMaxisCustomer)
<div class="row border-top even">
    <div class="col-sm-12 form paddingOverall">
        <p class="details-title">Current Owner Details</p>
        <!-- Start Customer Name -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Name</p>
            </div>
            <div class="col-sm-4">
                <p class="inner-content">@Html.TextBoxFor(model => model.CustName, @getReadOnlyTbHtmlAttribute())</p>
            </div>
        </div>

        <!-- Start Identification Number -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Identification</p>
            </div>
            <div class="col-sm-3">
                <div class="input-group-btn number-type">
                    @Html.CustomDropDownListFor(model => model.IdType, StaticListVM.Instance.IdTypList, new { disabled = "disabled" })
                </div>
            </div>
            <div class="col-sm-2">
                <p class="inner-label">*Number</p>
            </div>
            <div class="col-sm-3">
                <p class="inner-content">
                    @Html.TextBoxFor(model => model.IdNum, @getReadOnlyTbHtmlAttribute())
                </p>
            </div>
        </div>


        <!-- Start Customer MSISDN -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*MSISDN</p>
            </div>
            <div class="col-sm-4">
                <div class="input-group-btn number-type">
                    @Html.CustomDropDownListFor(model => model.Msisdn, Model.MSISDNList.ToSelectList())
                </div>
            </div>
        </div>

        <!-- Start Account Number -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Account No</p>
            </div>
            <div class="col-sm-4">
                <p class="inner-content">@Html.TextBoxFor(model => model.AccNum, @getReadOnlyTbHtmlAttribute())</p>
            </div>
        </div>
    </div>
</div>

<!-- Start billing address type -->
<div class="row border-top">
    <div class="col-sm-12 form paddingOverall" style="padding-bottom:0;margin-bottom:0">
        <p class="details-title">New Owner Details</p>
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Transfer To</p>
            </div>
            <div class="col-sm-9">
                @Html.RadioButtonFor(model => model.IsTransferNewAcc, false, new { onchange = "toggleAccountType(this.value);", id = "rbExistingFlag", @checked = "True", @class = "form-radio alert" })
                <label for="rbExistingFlag" class="stock-label">Existing Account</label>
                @Html.RadioButtonFor(model => model.IsTransferNewAcc, true, new { onchange = "toggleAccountType(this.value);", id = "rbNewFlag", @class = "form-radio alert" })
                <label for="rbNewFlag" class="stock-label">New Account</label>
                @Html.HiddenFor(n => n.IsTransferNewAcc)
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
@Html.Partial("_NewOrderDetailExistingAcc",Model)
@Html.Partial("_NewOrderDetailNewAcc",Model)
<div class="row border-top">
    @Html.EditorFor(model => model.UploadDoc, "UploadDocuments")
</div>

<script type="text/javascript">
    var msisdnServiceInfo = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.MsisdnServiceInfoMap))');
    var existMsisdnServiceInfo = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.TransfereeMsisdnServiceInfoMap))');;
    var idIsTransferNewAcc = "#@Html.IdFor(n=>n.IsTransferNewAcc)";
    var idExistCustAccountNumber = '#@Html.IdFor(m=>m.Exist_CustAccountNumber)';
    var idExistCustMSISDN = '#@Html.IdFor(m=>m.Exist_CustMSISDN)';
    var idExistCustMSISDNTxt = "#@Html.IdFor(m=>m.Exist_CustMSISDN)Txt";
    var isNewCustIsExistingCust="@Model.NewCustIsExistCust"=="True";
    //reset hidden section
    toggleAccountType($("#@Html.IdFor(n=>n.IsTransferNewAcc)").val());
    //lock field for new cust info
    lockFields(isNewCustIsExistingCust);

    function toggleAccountType(flag) {
        $(idIsTransferNewAcc).val(flag);
        if (flag == "False") {
            $("#trExistingAcc").show();
            $("#trNewAcc").hide();
            //displayNewCustInfo({});
        }
        else {
            $("#trExistingAcc").hide();
            $("#trNewAcc").show();
            //displayExistCustInfo({});
            AutoPopulate();
        }
    }

    function AutoPopulate() {
        var postcode = $('#@Html.IdFor(n=>n.New_CustPostCode)').val();
        var IsReadOnly = $('#@Html.IdFor(n=>n.New_CustPostCode)').is('[readonly]');

        if (postcode != "" && IsReadOnly.toString() == 'false') {
            var url = '@(Url.Content("~/Home/GenerateStateCityByPostCode"))';
            $.post(url, { postcode: postcode }, function (data) {
                if (data.postCode != "") {
                    $("#PostcodeValidationMessage").css("color", "green");
                    $('#PostcodeValidationMessage').text('Valid Postcode');
                    $('#PostcodeValidationMessage').attr('style', 'display: block; color: green');
                    $('#@Html.IdFor(n=>n.New_CustCity)').val(data.city);
                    $('#@Html.IdFor(n=>n.New_CustState)').val(data.state);
                }
                else {
                    $("#PostcodeValidationMessage").css("color", "red");
                    $('#PostcodeValidationMessage').text('Invalid Postcode');
                    $('#PostcodeValidationMessage').attr('style', 'display: block; color: red');
                    $('#@Html.IdFor(n=>n.New_CustCity)').val('');
                    $('#@Html.IdFor(n=>n.New_CustState)').val('');
                }
            });
        }
        $('#ValidatedPostcode').val(postcode);
    }

    $(document).ready(function () {
        $('form').on('keyup keypress', function (e) {
            //prevent form submit on key enter
            var code = e.keyCode || e.which;
            if (code == 13) {
                e.preventDefault();
                return false;
            }
        });
        //Check existing id from server
        $('button#@Html.IdFor(n=>n.Exist_CustIDNumber)').click(function () { checkExistCustomerIdNumber(); });
        //reset existing id when type change
        $('#@Html.IdFor(n=>n.Exist_CustIDTypeId)').change(function () {
            $('#@Html.IdFor(n=>n.Exist_CustIDNumber)').val('');
            resetSearchExistCust();
        });
        //Clear existinfo when text change
        $('#@Html.IdFor(n=>n.Exist_CustIDNumber)').on('input', function () {
            resetSearchExistCust();
        }).keyup(function (event) {
            if (event.keyCode == 13) {
                $('button#@Html.IdFor(n=>n.Exist_CustIDNumber)').click();
            }
        });
        //Check new cust id from server
        $('button#@Html.IdFor(n=>n.New_CustIDNumber)').click(function () { checkNewCustomerIdNumber(); });
        //reset existing id when type change
        $('#@Html.IdFor(n=>n.New_CustIDTypeId)').change(function () {
            $('#@Html.IdFor(n=>n.New_CustIDNumber)').val('');
            resetSearchNewCust();
        });
        //clear newCustInfo when text change
        $('#@Html.IdFor(n=>n.New_CustIDNumber)').on('input', function () {
            resetSearchNewCust();
        }).keyup(function (event) {
            if (event.keyCode == 13) {
                $('button#@Html.IdFor(n=>n.New_CustIDNumber)').click();
            }
        });
        
        //ChangeAccount num when change msisdn num
        $('#@Html.IdFor(m=>m.Msisdn)').change(function () {
            $("#@Html.IdFor(m=>m.AccNum)").val(msisdnServiceInfo[this.value].AccNum);
        });
        //ChangeAccount num when change existing msisdn
        $('#@Html.IdFor(m=>m.Exist_CustMSISDN)').change(function () {
            if (existMsisdnServiceInfo) {
                var find = existMsisdnServiceInfo[this.value];
                if (find) {
                    $("#@Html.IdFor(m=>m.Exist_CustAccountNumber)").val(find.AccNum);
                }
            }
        });
        $('#@Html.IdFor(n=>n.New_CustPostCode)').blur(function () { AutoPopulate(); });
        // disable post code validation message
        clearAddMsg();
    });

    function resetSearchExistCust() {
        $("#@Html.IdFor(n=>n.ExistQueryCustomer)").val(false);//clear flag
        displayExistCustInfo({});//clear info
        displayBreErrors({}, '@Html.IdFor(n => n.TransfereeBreErrors)');//hide error
    };

    function resetSearchNewCust() {
        $("#@Html.IdFor(n=>n.NewQueryCustomer)").val(false);//clear flag
        displayNewCustInfo({});//clear info
        displayBreErrors({}, '@Html.IdFor(n => n.NewCustBreErrors)');//hide error
        lockFields(false);
    };

    function checkExistCustomerIdNumber() {
        var url = '@Url.Action("AjaxVerifyCustomer")';
        var getData = {
            idType: $("#@Html.IdFor(n=>n.Exist_CustIDTypeId)").val(),
            idNo: $("#@Html.IdFor(n=>n.Exist_CustIDNumber)").val()
        };
        $.get(url, getData, function (data) {
            $("#@Html.IdFor(n=>n.ExistQueryCustomer)").val(true);//set flag
            clearModelError();
            if (data.Error) {
                displayModelError(data.Error);
                return;
            }
            if (data[0] == null || data[0].MsisdnServiceInfoMap == null) {
                $("#@Html.IdFor(n=>n.ValidMaxisCustomer)").val(false);
                displayModelError("Transferee's Identification Number does not have valid Kenan account for transfer");
                return;
            }
            $("#@Html.IdFor(n=>n.ValidMaxisCustomer)").val(true);
            displayExistCustInfo(data[0]);
            if (data[1]) displayBreErrors(data[1], '@Html.IdFor(n => n.TransfereeBreErrors)');
        });
    }
    function checkNewCustomerIdNumber() {
        var url = '@Url.Action("AjaxVerifyCustomer")';
        var getData = {
            idType: $("#@Html.IdFor(n=>n.New_CustIDTypeId)").val(),
            idNo: $("#@Html.IdFor(n=>n.New_CustIDNumber)").val(),
            isNew:true
        };
        $.get(url, getData, function (data) {
            $("#@Html.IdFor(n=>n.NewQueryCustomer)").val(true);//set flag
            clearModelError();
            if (data.Error) {
                displayModelError(data.Error);
                return;
            }
            displayNewCustInfo(data[0]);
            if (data[1]) displayBreErrors(data[1], '@Html.IdFor(n => n.NewCustBreErrors)');
        });
    }
    function displayNewCustInfo(d) {
        if (d == null) {
            lockFields(false);
            return;
        }
        $("#@Html.IdFor(n=>n.New_CustSalutation)").val(d.Salutation);
        $("#@Html.IdFor(n=>n.New_CustName)").val(d.Name);
        selectDropdown('@Html.IdFor(n=>n.New_DOBMonth)', d.DobM);
        selectDropdown('@Html.IdFor(n=>n.New_DOBYear)', d.DobY);
        selectDropdown('@Html.IdFor(n=>n.New_DOBDay)', d.DobD);
        checkCheckbox('@Html.IdFor(n=>n.New_CustGender)',d.Gender);
        selectDropdown('@Html.IdFor(n=>n.New_CustLanguageID)', d.LanguageId);
        selectDropdown('@Html.IdFor(n=>n.New_CustNationalityID)', d.NationalityId);
        selectDropdown('@Html.IdFor(n=>n.New_CustRaceID)', d.RaceId);
        $("#@Html.IdFor(n=>n.New_CustEmail)").val(d.Email);
        $("#@Html.IdFor(n=>n.New_CustContactNumber)").val(d.ContactNum);
        $("#@Html.IdFor(n=>n.New_CustAlternateNumber)").val(d.AltContactNum);
        $("#@Html.IdFor(n=>n.New_CustAddressLine1)").val(d.BillAddLine1);
        $("#@Html.IdFor(n=>n.New_CustAddressLine2)").val(d.BillAddLine2);
        $("#@Html.IdFor(n=>n.New_CustAddressLine3)").val(d.BillAddLine3);
        $("#@Html.IdFor(n=>n.New_CustPostCode)").val(d.BillPostCode);
        $("#@Html.IdFor(n=>n.New_CustCity)").val(d.BillCity);
        $("#@Html.IdFor(n=>n.New_CustState)").val(d.BillState);
        $("#@Html.IdFor(n=>n.New_CustStateID)").val(d.BillStateId);
        AutoPopulate();
        lockFields(true);
    };
    function lockFields(lock) {
        var tbEls = $(".lock-if-maxiscust input[type='text']");
        var ddEls = $(".lock-if-maxiscust button[type='button']");
        var rbEls = $(".lock-if-maxiscust input[type='radio']");
        var rbLblEls = $(".lock-if-maxiscust input[type='radio'] + label");
        if (lock) {
            tbEls.attr("readonly", "readonly");
            lockIfHasValue(ddEls);
            rbEls.attr("disabled", "disabled");
            rbLblEls.addClass("disabled");
        } else {
            tbEls.removeAttr("readonly");
            ddEls.removeAttr("disabled");
            rbEls.removeAttr("disabled");
            rbLblEls.removeClass("disabled");
        }
    };
    function lockIfHasValue(els) {
        $.each(els, function (index, value) {
            var id = $(this).attr("id").replace("Button", "");
            if($("#"+id).val()!="0" && $("#"+id).val()!="")
                $(this).attr("disabled", "disabled");
        });
    };
    function checkCheckbox(id, value) {
        $(String.format("[name='{0}'][value='{1}']", id, value)).attr('data-val', true).attr('checked', 'checked');
    };
    function selectDropdown(id, value) {
        var func = String.format("select{0}Value",id);
        var el = $(String.format("a.{0}TypeItem[data-value='{1}']", id, value));
        if (el.length == 0)
            el = $($(String.format("a.{0}TypeItem", id)).first());
        window[func](el);
    };
    function displayExistCustInfo(d) {
        var idExist_CustMSISDN = "@Html.IdFor(n => n.Exist_CustMSISDN)";
        var elExist_CustName = $("#@Html.IdFor(n=>n.Exist_CustName)");
        var elExist_CustAccountNumber = $("#@Html.IdFor(n=>n.Exist_CustAccountNumber)");
        var elExist_CustMSISDN = $("#@Html.IdFor(n=>n.Exist_CustMSISDN)");
        var elExist_CustMSISDNLI = $("[display-id='@Html.IdFor(n=>n.Exist_CustMSISDN)Txt']");
        
        existMsisdnServiceInfo = d!=null?d.MsisdnServiceInfoMap:null;
        var msisdnList = existMsisdnServiceInfo != null ? Object.keys(existMsisdnServiceInfo) : null;
        //reset data
        elExist_CustMSISDNLI.empty();
        elExist_CustName.val('').removeAttr('readonly');
        elExist_CustAccountNumber.val('').removeAttr('readonly');
        elExist_CustMSISDN.val('');
        $("#" + idExist_CustMSISDN + "Txt").text('');
        if (d) {
            elExist_CustName.val(d.Name).attr('readonly', true);
            elExist_CustAccountNumber.attr('readonly', true);
            if (msisdnList && msisdnList.length>0) {
                $.each(msisdnList, function (index, value) {
                    elExist_CustMSISDNLI.append(String.format("<li><a class=\"{0}TypeItem\" href=\"javascript:void(0)\" data-value=\"{1}\" onclick=\"select{0}Value($(this))\">{1}</a></li>", idExist_CustMSISDN, value));
                });
            }
            //select first item
            selectExist_CustMSISDNValue($("[display-id='" + idExist_CustMSISDN + "Txt'] a").first());
        }
    };

    function clearAddMsg() {
        $('#PostcodeValidationMessage').attr('readonly', true);
        $('#PostcodeValidationMessage').attr('style', 'display: none');
    };
    function setAddressInfo(d) {
        $('#@Html.IdFor(n=>n.New_CustAddressLine1)').val(d.BillAddLine1);
        $('#@Html.IdFor(n=>n.New_CustAddressLine2)').val(d.BillAddLine2);
        $('#@Html.IdFor(n=>n.New_CustAddressLine3)').val(d.BillAddLine3);
        $('#@Html.IdFor(n=>n.New_CustPostCode)').val(d.BillAddPostCode);
        $('#@Html.IdFor(n=>n.New_CustCity)').val(d.BillAddCity);
        $('#@Html.IdFor(n=>n.New_CustState)').val(d.BillAddState);
        $('#@Html.IdFor(n=>n.New_CustStateID)').val(d.BillAddStateId);
        //Trigger postcode change to validate postcode
        clearAddMsg();
        AutoPopulate();
    };
</script>

