﻿@*-----------------------------------------------------------------------------------
    Date Created: 11 October 2015
    Developer   : Ashley Ow
    View Name   : TransferOwnership.cshtml
    Purpose     : To capture the details for Transfer Ownership Service Request
    Version Control:
    Version     Date        Change Made
    1.0         11 Oct 2015  View created
    -----------------------------------------------------------------------------------*@

@using Online.Registration.Web.ViewModels.Common
@using Online.Registration.Web.CustomExtension
@using Newtonsoft.Json
@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.TransferOwnershipNewOrderVM

@functions{
    object getTbHtmlAttribute()
    {
        return new { @class = "form-control search-num" };
    }
    object getReadOnlyTbHtmlAttribute()
    {
        return new { @class = "form-control search-num readonly",@readonly="readonly" };
    }
}
<!-- Start Existing Address -->
<div class="row" id="trExistingAcc" style="padding-top:0">
    <div class="col-sm-12 form paddingOverall">
        <!-- Start Existing Address Identification -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Identification</p>
            </div>
            <div class="col-sm-3">
                <div class="input-group-btn number-type">
                    @Html.CustomDropDownListFor(model => model.Exist_CustIDTypeId, StaticListVM.Instance.IdTypList)
                </div>
            </div>
            <div class="col-sm-2">
                <p class="inner-label">*Number</p>
            </div>
            <div class="col-sm-3">
                <p class="inner-content">
                    @Html.TextBoxFor(model => model.Exist_CustIDNumber, getTbHtmlAttribute())
                    <button type="button" id="@Html.IdFor(n=>n.Exist_CustIDNumber)" class="btn btn-defadivt search-icon"></button>
                </p>
            </div>
            <div class="col-sm-1" id="@Html.IdFor(n=>n.TransfereeBreErrors)">
                @Html.DisplayFor(n => n.TransfereeBreErrors, "BreTooltip")
            </div>
        </div>

        <!-- Start Existing Address Name -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Name</p>
            </div>
            <div class="col-sm-4">
                <p class="inner-content">@Html.TextBoxFor(model => model.Exist_CustName, getReadOnlyTbHtmlAttribute())</p>
            </div>
        </div>

        <!-- Start Existing Address MSISDN -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*MSISDN</p>
            </div>
            <div class="col-sm-4">
                <div class="input-group-btn number-type">
                    @Html.CustomDropDownListFor(model => model.Exist_CustMSISDN,Model.TransfereeMsisdnList.ToSelectList())
                </div>
            </div>
        </div>

        <!-- Start Existing Address Account Number-->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Account No</p>
            </div>
            <div class="col-sm-4">
                <p class="inner-content">@Html.TextBoxFor(model => model.Exist_CustAccountNumber, getReadOnlyTbHtmlAttribute())</p>
            </div>
        </div>
    </div>
</div>