﻿@using Online.Registration.Web.Helper
@using Online.Registration.Web.CustomExtension

@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.TransferOwnershipPrintOrderVM

<!--Start _TransferOwnershipPrintOrderDetail -->
<div>
    <table align="center" class="rfTable" width="670px">
        <tbody>
            <tr>
                <td colspan="4">
                    <div style="font-size: large; font-weight: bolder; text-align: center; padding: 0;">
                        TRANSFER OWNERSHIP FORM
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <img alt="" src="@Url.Content("~/Content/images/maxislogo.png")" width="70px" height="30px">
                    </div>
                </td>
            </tr>
            <tr class="trSectionGap">
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
                <td style="background-color: Black; color: White; text-transform: uppercase; font-weight: bolder; font-size: small;" colspan="4">
                    A. CUSTOMER INFORMATION
                </td>
            </tr>
            <tr>
                <td style="width: 18%;">
                    <b>Full Name *</b>
                </td>
                <td style="width: 32%">
                    @Html.DisplayFor(n => n.CustName)
                </td>
                <td style="width: 18%">
                    <b>Gender *</b>
                </td>
                <td style="width: 32%">@Model.CustGender.ToGenderDesc()</td>
            </tr>
            <tr>
                <td>
                    <b>ID Card Type *</b>
                </td>
                <td>@Model.CustIDTypeId.ToIdCardTypeDesc()</td>
                <td>
                    <b>ID No *</b>
                </td>
                <td>@Html.DisplayFor(n => n.CustIDCardNumber)</td>
            </tr>
            <tr>
                <td>
                    <b>DOB*</b>
                </td>
                <td>@Util.FormatDate(Model.CustDateOfBirth)</td>
                <td>
                    <b>Language *</b>
                </td>
                <td>@Model.CustLanguageId.ToLangaugeDesc()</td>
            </tr>
            <tr>
                <td>
                    <b>Contact No *</b>
                </td>
                <td>@Html.DisplayFor(n => n.CustContactNumber)</td>
                <td>
                    <b>Nationality *</b>
                </td>
                <td>@Model.CustNationalityId.ToNationalityDesc()</td>
            </tr>
            <tr>
                <td>
                    <b>Race *</b>
                </td>
                <td>@Model.CustRaceId.ToRaceDesc()</td>
                <td>
                    <b>Email</b>
                </td>
                <td>@Html.DisplayFor(n => n.CustEmail)</td>
            </tr>
            <tr>
                <td>
                    <b><label for="Customer_Race">Biometric Verification</label></b>
                </td>
                <td>@Model.BiometricPass.ToBiometricResult()</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr></tr>
            <tr class="trSectionGap">
                <td colspan="4">&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <table align="center" class="rfTable" width="670px">
        <tbody>
            <tr>
                <td colspan="4" style="background-color: Black; color: White; text-transform: uppercase; font-weight: bolder; font-size: small;">
                    B. ADDRESS
                </td>
            </tr>
            <tr>
                <td style="width: 120px">
                    <b>Address *</b>
                </td>
                <td>
                    @CustomHtmlHelper.RenderAddress(
                    Html,
                    Model.CustAddressLine1,
                    Model.CustAddressLine2,
                    Model.CustAddressLine3,
                    Model.CustAddressPostCode,
                    Model.CustAddressCity,
                    Model.CustAddressState)
                </td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</t>
            </tr>
        </tbody>
    </table>
    <table align="center" class="rfTable" width="670px">
        <tbody>
            <tr>
                <td colspan="4" style="background-color: Black; color: White; text-transform: uppercase; font-weight: bolder; font-size: small;">
                    C. NEW OWNER INFORMATION
                </td>
            </tr>
            <tr>
                <td style="width: 18%;">
                    <b>Full Name *</b>
                </td>
                <td style="width: 32%">
                    @Html.DisplayFor(n => n.NewOwnerName)
                </td>
                <td style="width: 18%">
                    <b>Gender *</b>
                </td>
                <td style="width: 32%">@Model.NewOwnerGender.ToGenderDesc()</td>
            </tr>
            <tr>
                <td>
                    <b>ID Card Type *</b>
                </td>
                <td>@Model.NewOwnerIDTypeId.ToIdCardTypeDesc()</td>
                <td>
                    <b>ID No *</b>
                </td>
                <td>@Html.DisplayFor(n => n.NewOwnerIDCardNumber)</td>
            </tr>
            <tr>
                <td>
                    <b>DOB*</b>
                </td>
                <td>@Util.FormatDate(Model.NewOwnerDateOfBirth)</td>
                <td>
                    <b>Language *</b>
                </td>
                <td>@Model.NewOwnerLanguageId.ToLangaugeDesc()</td>
            </tr>
            <tr>
                <td>
                    <b>Contact No *</b>
                </td>
                <td>@Html.DisplayFor(n => n.NewOwnerContactNumber)</td>
                <td>
                    <b>Nationality *</b>
                </td>
                <td>@Model.NewOwnerLanguageId.ToNationalityDesc()</td>
            </tr>
            <tr>
                <td>
                    <b>Race *</b>
                </td>
                <td>@Model.NewOwnerRaceId.ToRaceDesc()</td>
                <td>
                    <b>Email</b>
                </td>
                <td>@Html.DisplayFor(n => n.NewOwnerEmail)</td>
            </tr>
            <tr>
                <td>
                    <b><label for="Customer_Race">Biometric Verification</label></b>
                </td>
                <td>@Model.NewOwnerBiometricPass.ToBiometricResult()</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr></tr>
            <tr class="trSectionGap">
                <td colspan="4">&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <table align="center" class="rfTable" width="670px">
        <tbody>
            <tr>
                <td colspan="4" style="background-color: Black; color: White; text-transform: uppercase; font-weight: bolder; font-size: small;">
                    D. NEW OWNER ADDRESS
                </td>
            </tr>
            <tr>
                <td style="width: 120px">
                    <b>Address *</b>
                </td>
                <td>
                    @CustomHtmlHelper.RenderAddress(
                    Html,
                    Model.NewOwnerAddressLine1,
                    Model.NewOwnerAddressLine2,
                    Model.NewOwnerAddressLine3,
                    Model.NewOwnerAddressPostCode,
                    Model.NewOwnerAddressCity,
                    Model.NewOwnerAddressState)
                </td>
            </tr>
            <tr><td colspan="2">&nbsp;</td></tr>
        </tbody>
    </table>
    <table align="center" class="rfTable" width="670px">
        <tbody>
            <tr>
                <td colspan="4" style="background-color: Black; color: White; text-transform: uppercase; font-weight: bolder; font-size: small;">
                    <div>E. SERVICE DETAILS</div>
                </td>
            </tr>
            <tr>
                <td style="width: 120px">
                    <b>Msisdn *</b>
                </td>
                <td>@Html.DisplayFor(n => n.Service_MSISDN)</td>
            </tr>
            <tr>
                <td style="width: 120px">
                    <b>From Account *</b>
                </td>
                <td>@Html.DisplayFor(n => n.Service_AccountNumber)</td>
            </tr>
            <tr>
                <td style="width: 120px">
                    <b>To Account *</b>
                </td>
                <td>@Html.DisplayFor(n => n.NewAccountNo)</td>
            </tr>
            <tr>
                <td style="width: 120px">
                    <b>Plan</b>
                </td>
                <td>@Html.DisplayFor(n => n.Service_Plan)</td>
            </tr>
            <tr>
                <td style="width: 120px">
                    <b>VAS</b>
                </td>
                <td>
                    @foreach (var vas in Model.Service_VAS)
                    {
                        @vas<br />
                    }
                    
                </td>
            </tr>
            <tr class="trSectionGap">
                <td colspan="4">&nbsp;</td>
            </tr>
        </tbody>
    </table>

    <table align="center" class="rfTable" width="670px">
        <tbody>
            <tr>
                <td colspan="4" style="background-color: Black; color: White; text-transform: uppercase; font-weight: bolder; font-size: small;">
                    <div>F. DECLARATION</div>
                </td>
            </tr>
            <tr>
                <td style="width: 4%;">
                    <b>I.</b>
                </td>
                <td>
                    I hereby authorize the person named above to act on my behalf in respoect of the Account No. and maxis mobile number mentioned above.
                </td>
            </tr>
            <tr>
                <td>
                    <b>II.</b>
                </td>
                <td>
                    I understand that the transactions below are NOT ALLOWED to be carried out by the below authorized 3rd party: Change of address, Suspension/Termination request, reset password for MOA, print bill, and new registration.
                </td>
            </tr>
            <tr>
                <td>
                    <b>III.</b>
                </td>
                <td>
                    I acknowledge and accept that the terms &amp; conditions in the Maxis Privacy Statement forms an integral part of the terms and conditions of the Agreement and/or the Privacy Statement by submitting my personal information for purposes of this letter of authorization and for usage of the Services/ I hereby consent to the use of my personal information in the manner set out in the Maxis.
                </td>
            </tr>
            <tr>
                <td>
                    <b>IV.</b>
                </td>
                <td>
                    The the above information provided is true and correct.
                </td>
            </tr>
            <tr>
                <td>
                    <b>V.</b>
                </td>
                <td>
                    That I/We have read and agree to be bound by the contract erms herewith and all othe terms &amp; conditions printed and/or attached here to and any ammendments make thereto.
                </td>
            </tr>
            <tr class="trSectionGap">
                <td colspan="4">
                    &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
    @Html.Partial("_PrintOrderDetailSignature", Model, new ViewDataDictionary { { "OrderLabel", "G" } })
</div>
<!--End _BillSeparationPrintOrderDetail -->
