﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.CustomExtension;

@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.TransferOwnershipViewOrderVM

@Html.Partial("_ViewOrderDetailCustInfo", Model)

<div class="row details paddingbtm">
    <div class="col-sm-12">
        <div class="col-sm-12 kill-padding">
            <p class="inner-title">Service Information</p>
        </div>
        <!--Start MSISDN-->
        <div class="col-sm-2 kill-padding">
            <p class="inner-label">MSISDN</p>
        </div>
        <div class="col-sm-1 hidden-xs">:</div>
        <div class="col-sm-9 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.Service_MSISDN)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start From Account number-->
        <div class="col-sm-2 kill-padding">
            <p class="inner-label">From Account No.</p>
        </div>
        <div class="col-sm-1 hidden-xs">:</div>
        <div class="col-sm-9 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.Service_AccountNumber)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start To Account Number-->
        <div class="col-sm-2 kill-padding">
            <p class="inner-label">To Account No.</p>
        </div>
        <div class="col-sm-1 hidden-xs">:</div>
        <div class="col-sm-9 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.NewAccountNo)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Plan-->
        <div class="col-sm-2 kill-padding">
            <p class="inner-label">Plan</p>
        </div>
        <div class="col-sm-1 hidden-xs">:</div>
        <div class="col-sm-9 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.Service_Plan)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start VAS-->
        <div class="col-sm-2 kill-padding">
            <p class="inner-label">VAS</p>
        </div>
        <div class="col-sm-1 hidden-xs">:</div>
        <div class="col-sm-9 kill-padding">
            @foreach (var vas in Model.Service_VAS)
            {
                <p class="inner-content">@vas</p>
            }
        </div>
        <div class=" clearfix"></div>
    </div>
</div>