﻿@using Online.Registration.Web.CustomExtension;
@using Online.Registration.Web.Helper;
@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.TransferOwnershipNewOrderSmVM

<!--Start New Owner-->
<div class="col-sm-12 kill-padding">
    <p class="inner-title">New Owner</p>
</div>

<div class="row details">
    <div class="col-sm-6">
        <div class="col-sm-12 kill-padding">
            <p class="inner-title">Customer Information</p>
            <!--Start Customer's Name-->
            <div class="col-sm-4 kill-padding">
                <p class="inner-label">Name</p>
            </div>
            <div class="col-sm-2 hidden-xs">:</div>
            <div class="col-sm-6 kill-padding">
                <p class="inner-content">@Html.DisplayFor(n => n.New_CustName)</p>
            </div>
            <div class="clearfix"></div>
            <!--Start Id Type-->
            <div class="col-sm-4 kill-padding">
                <p class="inner-label">ID Card Type</p>
            </div>
            <div class="col-sm-2 hidden-xs">:</div>
            <div class="col-sm-6 kill-padding">
                <p class="inner-content">@Model.New_CustIDTypeId.ToIdCardTypeDesc()</p>
            </div>
            <div class="clearfix"></div>
            <!--Start Id Number-->
            <div class="col-sm-4 kill-padding">
                <p class="inner-label">ID Number</p>
            </div>
            <div class="col-sm-2 hidden-xs">:</div>
            <div class="col-sm-6 kill-padding">
                <p class="inner-content">@Html.DisplayFor(n => n.New_CustIDNumber)</p>
            </div>
            <div class="clearfix"></div>
            <!--Start DOB-->
            <div class="col-sm-4 kill-padding">
                <p class="inner-label">DOB</p>
            </div>
            <div class="col-sm-2 hidden-xs">:</div>
            <div class="col-sm-6 kill-padding">
                <p class="inner-content">@Util.FormatDate(Model.New_CustDOB)</p>
            </div>
            <div class="clearfix"></div>
            <!--Start Gender-->
            <div class="col-sm-4 kill-padding">
                <p class="inner-label">Gender</p>
            </div>
            <div class="col-sm-2 hidden-xs">:</div>
            <div class="col-sm-6 kill-padding">
                <p class="inner-content">@Model.New_CustGender.ToGenderDesc()</p>
            </div>
            <div class="clearfix"></div>
            <!--Start Language-->
            <div class="col-sm-4 kill-padding">
                <p class="inner-label">Preferred Language</p>
            </div>
            <div class="col-sm-2 hidden-xs">:</div>
            <div class="col-sm-6 kill-padding">
                <p class="inner-content">@Model.New_CustLanguageID.ToLangaugeDesc()</p>
            </div>
            <div class="clearfix"></div>
            <!--Start Race-->
            <div class="col-sm-4 kill-padding">
                <p class="inner-label">Race</p>
            </div>
            <div class="col-sm-2 hidden-xs">:</div>
            <div class="col-sm-6 kill-padding">
                <p class="inner-content">@Model.New_CustRaceID.ToRaceDesc()</p>
            </div>
            <div class="clearfix"></div>
            <!--Start Nationality-->
            <div class="col-sm-4 kill-padding">
                <p class="inner-label">Nationality</p>
            </div>
            <div class="col-sm-2 hidden-xs">:</div>
            <div class="col-sm-6 kill-padding">
                <p class="inner-content">@Model.New_CustNationalityID.ToNationalityDesc()</p>
            </div>
            <div class="clearfix"></div>
            <!--Start Email-->
            <div class="col-sm-4 kill-padding">
                <p class="inner-label">Email</p>
            </div>
            <div class="col-sm-2 hidden-xs">:</div>
            <div class="col-sm-6 kill-padding">
                <div class="inner-content">@Html.DisplayFor(n => n.New_CustEmail)</div>
            </div>
            <div class="clearfix"></div>
            <!--Start Contact Number Primary-->
            <div class="col-sm-4 kill-padding">
                <p class="inner-label">Contact Number</p>
            </div>
            <div class="col-sm-2 hidden-xs">:</div>
            <div class="col-sm-6 kill-padding">
                <div class="inner-content">(P) @Html.DisplayFor(n => n.New_CustContactNumber)</div>
            </div>
            <div class="clearfix"></div>
            <!--Start Contact Number Secondary-->
            <div class="col-sm-4 kill-padding"></div>
            <div class="col-sm-2 hidden-xs">:</div>
            <div class="col-sm-6 kill-padding">
                <div class="inner-content">(S) @Html.DisplayFor(n => n.New_CustAlternateNumber)</div>
            </div>
            <div class="clearfix"></div>
            <br />
        </div>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-12 kill-padding">
            <p class="inner-title">Billing Address</p>
        </div>
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Primary Address</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">
                @CustomHtmlHelper.RenderAddress(
                    Html,
                    Model.New_CustAddressLine1,
                    Model.New_CustAddressLine2,
                    Model.New_CustAddressLine3,
                    Model.New_CustPostCode,
                    Model.New_CustCity,
                    Model.New_CustState
                )
            </p>
        </div>
    </div>
</div>
      
<div class="row details paddingbtm">
    <div class="col-sm-6">
        <div class="col-sm-12 kill-padding">
            <p class="inner-title">Service Information</p>
        </div>
            
        <!--Start MSISDN-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">MSISDN</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.NewOrder.Msisdn)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start From Account number-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">From Account No</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.NewOrder.AccNum)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start To Account Number-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">To Account No</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.New_CustAccountNumber)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Current Customer Plan-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Plan</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.NewOrder.Plan)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Current Customer VAS-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">VAS</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            @foreach (var vas in Model.NewOrder.VasList)
        {
                <p class="inner-content">@vas</p>
            }
        </div>
        <div class=" clearfix"></div>
        <br />
    </div>
</div>
