﻿@using Online.Registration.Web.CustomExtension

@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.TransferOwnershipViewOrderVM
<!--Start Request detail-->
<div class="row">
    <div class="col-sm-12 border-top">
        <p class="details-title">Order Details</p>
    </div>
</div>
@Html.Partial("_TransferOnwershipViewOrderDetail", Model)
<!--End Request detail-->
<!--Start Term and condition-->
<div class="row border-top">
    @Html.DisplayFor(n=>n.TermAndCondition,"TermAndCondition")
</div>
<!--End Term and condition-->
<!--Start Signature box-->
<div class="row">
    <div class="col-sm-12">
        @Html.DisplayFor(n => n.Signature, "SignatureBox")
    </div>
</div>
<!--End Signature box-->

<!--Start Transferee Information-->
<!--Start Request detail-->
<div class="row">
    <div class="col-sm-12 border-top">
        <p class="details-title">New Owner</p>
    </div>
</div>
@Html.Partial("_TransferOnwershipViewOrderDetail2", Model)
<!--End Request detail-->
<!--Start Term and condition-->
<div class="row border-top">
    @Html.DisplayFor(n=>n.TermAndCondition,"TermAndCondition")
</div>
<!--End Term and condition-->
<!--Start Signature box-->
<div class="row">
    <div class="col-sm-12">
        @Html.DisplayFor(n => n.NewOwnerSignature, "SignatureBox")
    </div>
</div>
<!--End Signature box-->
<!--End Transferee information-->
