﻿@*-----------------------------------------------------------------------------------
    Date Created: 12 October 2015
    Developer   : Ashley Ow
    View Name   : NewOrderSummary.cshtml
    Purpose     : View to display the summary for Transfer Ownership Summary Service Request
    Version Control:
    Version     Date        Change Made
    1.0         12 Oct 2015  View created
    -----------------------------------------------------------------------------------*@

@using Online.Registration.Web.Helper
@using Online.Registration.Web.CustomExtension
@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.TransferOwnershipNewOrderSmVM

@using (Html.BeginForm("NewOrderSummary", "TransferOwnership", FormMethod.Post, new { id = "frmTransferOwnershipNewOrderSummary", enctype = "multipart/form-data", autocomplete = "off", autoCompleteType = "disable", @class = "overlayonsubmit", processmsg = "Loading" }))
{
<div class="container ipad-container">
    <div class="isell-base">
        <div class="row">
            <div class="col-sm-10">
                <h2 style="padding-left: 15px;">New Service Request Form:</h2>
                <h4 style="padding-left: 15px;">@Html.DisplayFor(n => n.HeaderCustName)</h4>
            </div>
            <div class="col-sm-1" style="right: 5px;">
                @Html.DisplayFor(n => n.NewOrder.BreErrors, "BreTooltip")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 green-bg">
                <p class="font-24">Transfer Ownership</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="steps" style="width: 300px;">
                    <li class="shownum">
                        <div class="num">1</div>
                        <p>My Details</p>
                    </li>
                    <li>
                        <div class="line"></div>
                    </li>
                    <li class="shownum">
                        <div  class="selected">2</div>
                        <p>Summary</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 border-top">
                <p class="summary-title">Summary</p>
                @Html.Partial("_ValidationSummary")
            </div>
        </div>
        <div class="row"></div>
        <!--Start Summary Detail-->
        @Html.Partial("_NewOrderSummaryDetailCustInfo", Model.NewOrder)
        <!--Start Term and condition-->
        <div class="row border-top">
            @Html.EditorFor(n=>n.TermAndCondition,"TermAndCondition")
        </div>
        <!--Start SignatureBox-->
        <div class="row border-bottom">
            <div class="col-sm-12">
                @Html.EditorFor(n => n.Signature, "SignatureBox")
            </div>
        </div>

        <!--Start New Owner Detail-->
        @Html.Partial("_TransferOwnershipNewOrderSummary2", Model)
        <!--Start Term and condition-->
        <div class="row border-top">
            @Html.EditorFor(n=>n.TermAndCondition_ForNewOwner,"TermAndCondition")
        </div>
        <!--Start SignatureBox-->
        <div class="row border-bottom">
            <div class="col-sm-12">
                @Html.EditorFor(n => n.Signature_ForNewOwner, "SignatureBox")
            </div>
        </div>

        <!--Start Navigation-->
        <footer class="nav-footer">
            <navi>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-1" id="back">
                            <div class="btn isell-btn" onclick="window.location.href='@Url.Action("NewOrderSummaryBack")'">&lt; Back</div>
                        </div>
                        <div class="col-sm-9" id="cancel">
                            <div class="btn isell-btn" data-toggle="modal" data-target="#cancel-pop">&lt; Cancel</div>
                        </div>
                        <div class="col-sm-2">
                            <div class="btn isell-next" id="nextButton" onclick="$('#submitBtn').click()">Submit<span>&gt;</span></div>
                            <input type="submit" value="Next" id="submitBtn" class="btn btn-default" style="display:none;" />
                        </div>
                    </div>
                </div>
            </navi>
        </footer>
    </div>
</div>
<!--Start modal section-->

@Html.Partial("_SummaryCancelModel")

<!--End modal section-->
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/col.css")" media="all" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/4cols.css")" media="all" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/tabcontent.css")" media="all" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/jquery-ui/jquery.ui.all.css")" />