﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;


@model Online.Registration.Web.Models.ComplaintCreateModel
@{
    ViewBag.Title = "Customer Complaint";
    var MSISDNs = Util.GetList(RefType.Msisdn, defaultText: "-- Select MSISDN --", defaultValue: "");
    var DefaultMsisdn = string.Empty;
    if (MSISDNs != null && MSISDNs.Any())
    {
     DefaultMsisdn = MSISDNs[0].Text;
    }
//    Model.DynamicFormText = String.Format(@"<p><span style=""color: #ffcc99; font-size: small;""><strong>Note:Please provide the below details in Feedback/Comments section:</strong></span></p>
//<p><strong><span style=""color: #ffcc99;"">1.Type of problem</span></strong></p>
//<p><strong><span style=""color: #ffcc99;"">2.Problem since</span></strong></p>
//<p><strong><span style=""color: #ffcc99;"">3.Tones or noise Heard</span></strong></p>
//<p><strong><span style=""color: #ffcc99;"">4.Handphone Model</span></strong></p>
//<p><strong><span style=""color: #ffcc99;"">5.Party a number</span></strong></p>");
}
<div id="center">
@using (Html.BeginForm("Create", "Complaint", FormMethod.Post, new { id = "frmComplaint", @class = "overlayonsubmit", processmsg = "Loading" }))
{ 
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.MSISDN)
    @Html.HiddenFor(model => model.AccountNo)
    @Html.HiddenFor(model => model.IDNumber)
    @Html.HiddenFor(model => model.IDType)
    @Html.HiddenFor(model => model.Address)
    @Html.HiddenFor(model => model.ComplaintIssueGrpID)
    @Html.HiddenFor(model => model.Product)
    @Html.HiddenFor(model => model.Reason1)
    @Html.HiddenFor(model => model.Reason2)
    @Html.HiddenFor(model => model.Reason3)
    @Html.HiddenFor(model => model.DispatchQ)
    
    <div class="header-title">
            @ViewBag.Title</div>
    <div class="content_white">
        <table style="width: 100%">
            <tr>
                <td valign="top" style="padding-left:30px">
                @Html.ValidationSummary(false)               
                <div id="Validation_Error" class="ErrorClass">
                </div>
                    <table>
                        <tr>
                            <td>
                                <img alt="" src="@Url.Content("~/Content/images/Circle_01.png")" />
                            </td>
                            
                            <td>
                                @(Html.Telerik().DropDownListFor(model => model.ComplaintIssuesID)
                                    .HtmlAttributes(new { style = "width: 357px;" })
                                    .ClientEvents(events => events.OnChange("populateReason1"))
                                .BindTo(Util.GetList(RefType.ComplaintIssues, defaultText: "-- Select Product --", defaultValue: "", orgID: 0, complaintIssueCode: Settings.Default.ComplaintIssues_Product)))
                            </td>
                           
                        </tr>
                        <tr>
                            <td>
                                <br />
                            </td>
                            <td>
                                @(Html.Telerik().DropDownListFor(model => model.Reason1ID)
                                .HtmlAttributes(new { style = "width: 357px;" })
                                .ClientEvents(events => events.OnChange("populateReason2"))
                                .BindTo(Util.GetList(RefType.ComplaintIssues, defaultText: "-- Select Reason 1 --", defaultValue: "", orgID: 0, complaintIssueCode: Settings.Default.ComplaintIssues_Reason2)))
                            </td>
                            
                        </tr>
                        <tr>
                            <td>
                                <br />
                            </td>
                            <td>
                                @(Html.Telerik().DropDownListFor(model => model.Reason2ID)
                                    .HtmlAttributes(new { style = "width: 357px;" })
                                    .ClientEvents(events => events.OnChange("populateReason3"))
                                    .BindTo(Util.GetList(RefType.ComplaintIssues, defaultText: "-- Select Reason 2 --", defaultValue: "", orgID: 0, complaintIssueCode: Settings.Default.ComplaintIssues_Reason2)))
                            </td>
                           
                        </tr>
                        <tr>
                            <td>
                                <br />
                            </td>
                            <td>
                                @(Html.Telerik().DropDownListFor(model => model.Reason3ID)
                                     .HtmlAttributes(new { style = "width: 357px;" })
                                    .ClientEvents(events => events.OnChange("populateGrpDispatchQ"))
                                    .BindTo(Util.GetList(RefType.ComplaintIssues, defaultText: "-- Select Reason 3 --", defaultValue: "", orgID: 0, complaintIssueCode: Settings.Default.ComplaintIssues_Reason3)))
                            </td>
                           
                        </tr>
                        <tr>
                            <td>
                                <br />
                            </td>
                            <td>
                                @(Html.Telerik().DropDownListFor(model => model.DispatchQID)
                                    .HtmlAttributes(new { style = "width: 357px;" })
                                    .ClientEvents(events => events.OnChange("ChangeGrpDispatchQ"))
                                    .BindTo(Util.GetList(RefType.ComplaintIssues, defaultText: "--Select Group Dispatch Queue--", defaultValue: "", orgID: 0, complaintIssueCode: Settings.Default.ComplaintIssues_DispatchQ)))
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;">
                                <img alt="" src="@Url.Content("~/Content/images/Circle_02.png")" />
                            </td>
                            <td class="search-hdr-title">
                                Your Feedback / comment
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                @Html.TextAreaFor(model => model.Comments, new { style = "width: 350px; height: 240px;" })
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                            <div id="DynamicFormTextID" style="border:solid 1px black;width:70%;color: #ffcc99;padding-left:16px;display:none" > 
                            </div>                                                         
                            </td>
                        </tr>
                    </table>   
                </td>
                <td valign="top"  style="padding-left:60px;padding-top:8px">
                    
                    <div id="divCustomerDetails" class="table table-bordered table">
                        <table>
                            <tr>
                                <td class="summary-title-bar">
                                    CUSTOMER DETAILS
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0;">
                                    <table class="content">
                                        <tr class="first">
                                            <td>
                                                <img alt="" src='@Url.Content("~/Content/images/activeHead.png")' />
                                            </td>
                                            <td id="summary-data">
                                                <b><div id="divName"></div></b>
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td id="summary-label">
                                                MSISDN
                                            </td>
                                            <td id="summary-data">
                                                <div id="divMSISDN">
                                                
                                                 @(Html.Telerik().DropDownList().Name("tlkMsisdn")
                                                 .ClientEvents(events => events.OnChange("populateCustomerData"))
                                                 .HtmlAttributes(new { style = "width: 165px;" })
                                                 .BindTo(MSISDNs))
                                                </div>
                                            </td>
                                        </tr>
                                        <tr valign="top">
                                            <td id="summary-label">
                                                Account No
                                            </td>
                                            <td id="summary-data"  >
                                                <div id="divAccountNo"></div>
                                            </td>
                                        </tr>
                                        <tr valign="top">
                                            <td id="summary-label">
                                                ID Type
                                            </td>
                                            <td id="summary-data" valign="top">
                                                <div id="divIDType"></div>
                                            </td>
                                        </tr>
                                        <tr valign="top">
                                            <td id="summary-label">
                                                ID Number
                                            </td>
                                            <td id="summary-data">
                                                <div id="divIDNumber"></div>
                                            </td>
                                        </tr>                                        
                                        <tr>
                                            <td id="summary-label">
                                                Address
                                            </td>
                                            <td id="summary-data">
                                                <div id="divAddress"></div>
                                            </td>
                                        </tr>
                                        
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div> 
        <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
                <div style="float: right; padding-right: 20px;">
                    <input class="cancel backButton" id="btnEdit" type="button" value="Back to Search"/>  
                                  
                    <input class="button-continue submitButton" type="button" value="Continue" id="btnsubmit"/>
                </div>
                <div style="clear: both;">
                </div>
            </div>
}
</div> 
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".numbersonly").keypress(function (e) {
                return numbersonly(e, false);
            });

            $(".button-continue").css("display", "none");
            if ('@(SessionManager.Get("MSISDN"))' != null) {
                var MSISDN = '@(DefaultMsisdn)';
                getCustomerInfo(MSISDN);
            }
            $("#btnEdit").click(function(){
                window.location.href = "@Url.Action("Index", "Home")";
            });
//            $('#menuComplaint').css("background-image", $('#menuComplaint').css("background-image").replace(".png", "_hover.png"));
        });

        function disableSubmit(form) {
            if ($(form).valid()) {
                $('input[type="submit"]').addClass("t-state-disabled").attr('disabled', true);
            }
        }

         function populateCustomerData() {
                var msisdnDropDown = $(this).data('tDropDownList');
                var msisdn = msisdnDropDown.value();
                getCustomerInfo(msisdn);                
        }

        function getCustomerInfo(msisdn) {
            var url = '@(Url.Action("GetCustomerInfo", "Complaint"))';
            var data = { msisdn: msisdn };

            $.ajax({
                url: url,
                type: 'GET',
                data: data,
                dataType: 'json',
                error: function (xhr, status, e) {
                    alert('Failed to get Customer Info.');
                },
                success: function (result) {
                    populateCustomerInfo(result);
                }
            });
        }

        function populateCustomerInfo(customerInfo) {
            $("#Name").val(customerInfo.Name);
            $("#AccountNo").val(customerInfo.AccountNo);
            $("#IDNumber").val(customerInfo.IDNumber);
            $("#IDType").val(customerInfo.IDType);
            $("#Address").val(customerInfo.Address);

            $("#divName").html(customerInfo.Name);
            $("#divAccountNo").html(customerInfo.AccountNo);
            $("#divIDNumber").html(customerInfo.IDNumber);
            $("#divIDType").html(customerInfo.IDType);
            $("#divAddress").html(customerInfo.Address);
            //$("#divMSISDN").html(customerInfo.MSISDN);

            $("#MSISDN").val(customerInfo.MSISDN);

            $("#divNumpad").hide();
            $("#divCustomerDetails").show();
            $(".button-continue").css("display", "");
        }

        function clearForm() {
            $('.field-validation-error')
                .removeClass('field-validation-error')
                .addClass('field-validation-valid');

            $('.input-validation-error')
                .removeClass('input-validation-error')
                .addClass('valid');

            $('#frmMain')[0].reset();
        }

        // _Numpad function
        function submitNumpad(numpadInput) {
            var msisdn = numpadInput.val();

            if (!isNumber(msisdn)) {
                alert("Invalid MSISDN.");
                numpadInput.focus();

                return;
            }            
            
            getCustomerInfo(msisdn);
        }

        function editMSISDN() {
            $("#divNumpad").show();
            $("#divCustomerDetails").hide();

            $("#MSISDN").val("");
            $(".button-continue").css("display", "none");
        }

        function populateReason1() {
            var productDropDown = $(this).data('tDropDownList');
            var productID = productDropDown.value();
            document.getElementById("Product").value=productDropDown.text();
            //alert($('#Reason1').value());
            var ddlReason1 = $('#Reason1ID').data('tDropDownList');
            var lstReason1 = $('#lstReason1');

            //select nothing for Product
            if (productID == "" || productID == 0) {
                var dataSource =
                [
                    { Text: "-- Select Reason 1 --", Value: "" }
                ];

                ddlReason1.dataBind(dataSource);
                ddlReason1.select(0);
                
            }
            else {
                var url = '@(Url.Content("~/Complaint/GetReason1ByIssue"))';
                $.post(url, { productID: productID }, function (data) {
                    var ddlReason1 = $('#Reason1ID').data('tDropDownList');

                    var dataSource = $.map(data, function (item) {
                        return { Text: item.Text, Value: item.Value }
                    });
                  

                    ddlReason1.dataBind(dataSource);
                    ddlReason1.select(0);
                });
            }
        }

        function populateReason2() {
            var productID = $('#ComplaintIssuesID').data('tDropDownList');
            var reason1DropDown = $(this).data('tDropDownList');
            var reason1ID = reason1DropDown.value();
             document.getElementById("Reason1").value=reason1DropDown.text();
            var reason1=reason1DropDown.text();
            var ddlReason2 = $('#Reason2ID').data('tDropDownList');
            var lstReason2 = $('#lstReason2');

            //select nothing for Reason 1
            if (reason1ID == "" || reason1ID == 0) {
                var dataSource =
                [
                    { Text: " -- Select Reason 2 --", Value: "" }
                ];

                ddlReason2.dataBind(dataSource);
                ddlReason2.select(0);
            }
            else {
                var url = '@(Url.Content("~/Complaint/GetReason2ByReason1"))';
                $.post(url, { reason1ID: reason1ID, productID: productID.value() }, function (data) {
                    var ddlReason2 = $('#Reason2ID').data('tDropDownList');

                    var dataSource = $.map(data, function (item) {
                        return { Text: item.Text, Value: item.Value }
                    });

                    ddlReason2.dataBind(dataSource);
                    ddlReason2.select(0);
                });
            }
        }

        function populateReason3() {
            var productID = $('#ComplaintIssuesID').data('tDropDownList');
            var reason1ID = $('#Reason1ID').data('tDropDownList');
            var reason2DropDown = $(this).data('tDropDownList');
            var reason2ID = reason2DropDown.value();
            document.getElementById("Reason2").value=reason2DropDown.text();
            var ddlReason3 = $('#Reason3ID').data('tDropDownList');
            var lstReason3 = $('#lstReason3');

            //select nothing for Reason 2
            if (reason2ID == "" || reason2ID == 0) {
                var dataSource =
                [
                    { Text: " -- Select Reason 3 --", Value: "" }
                ];

                ddlReason3.dataBind(dataSource);
                ddlReason3.select(0);
            }
            else {
                var url = '@(Url.Content("~/Complaint/GetReason3ByReason2"))';
                $.post(url, { productID: productID.value(), reason1ID: reason1ID.value(), reason2ID: reason2ID }, function (data) {
                    var ddlReason3 = $('#Reason3ID').data('tDropDownList');

                    var dataSource = $.map(data, function (item) {
                        return { Text: item.Text, Value: item.Value }
                    });

                    ddlReason3.dataBind(dataSource);
                    ddlReason3.select(0);
                });
            }
        }

        function populateGrpDispatchQ() {
            var reason3DropDown = $(this).data('tDropDownList');
            var productID = $('#ComplaintIssuesID').data('tDropDownList');
            var reason1ID = $('#Reason1ID').data('tDropDownList');
            var reason2ID = $('#Reason2ID').data('tDropDownList');
            var reason3ID = reason3DropDown.value();
            document.getElementById("Reason3").value=reason3DropDown.text();
            var ddlDispatchQ = $('#DispatchQID').data('tDropDownList');
            var lstDispatchQ = $('#lstDispatchQ');
            //alert(productID.value());
            //select nothing for Reason 3
            if (reason3ID == "" || reason3ID == 0) {
                var dataSource =
                [
                    { Text: " -- Select Group Dispatch Queue --", Value: "" }
                ];

                ddlDispatchQ.dataBind(dataSource);
                ddlDispatchQ.select(0);
            }
            else {
                var url = '@(Url.Content("~/Complaint/GetDispatchQ"))';
                $.post(url, { productID: productID.value(), reason1ID: reason1ID.value(), reason2ID: reason2ID.value(), reason3ID: reason3ID }, function (data) {
                    var ddlDispatchQ = $('#DispatchQID').data('tDropDownList');

                    var dataSource = $.map(data, function (item) {
                        return { Text: item.Text, Value: item.Value }
                    });
                                       

                    ddlDispatchQ.dataBind(dataSource);                   
                    ddlDispatchQ.select(0); 
                                        
                    PopulateDynamicText(productID,reason1ID,reason2ID,reason3ID);
                });
            }
           
        }
        function PopulateDynamicText(productID,reason1ID,reason2ID,reason3ID)
        {
         var url = '@(Url.Content("~/Complaint/GetDynamicText"))';
                $.post(url, { productID: productID.value(), reason1ID: reason1ID.value(), reason2ID: reason2ID.value(), reason3ID: reason3ID }, function (data) {
                  //alert(data);
                  alert(data);
                 var text=JSON.stringify(data);
                  alert(text);    
                 var textArea = $('#DynamicFormTextID'); //select the textarea to append to 
                     text= text.replace(/(?:\\[rn])+/g,"");  
                                               
                     textArea.html(text);
                     document.getElementById("DynamicFormTextID").style.display = "block";
//                     $('#DynamicFormTextID').style.display = "block";
                      //alert(text);
                      //document.getElementById("DynamicFormText").value=text;                      
                });

        }
        function ChangeGrpDispatchQ()
        {
            var DispatchQDropDown = $(this).data('tDropDownList');
            document.getElementById("DispatchQ").value=DispatchQDropDown.text();
        }
        $('#btnsubmit').click(function(e)
        {
        ValidateReq(e);
        });
       function ValidateReq(e)
       {
      
       if ($("#ComplaintIssuesID").val() == "" || $("#ComplaintIssuesID").val() == "0") {
                $('#Validation_Error').show();
                    $('#Validation_Error').html("<li>Please Select Product</li>");
                     $("html, body").animate({ scrollTop: 0 }, "slow");
                //return false;
                e.preventdefault();
            }

            if ($("#Reason1ID").val() == "" || $("#Reason1ID").val() == "0") {
                $('#Validation_Error').show();
                    $('#Validation_Error').html("<li>Please Select Reason1</li>");
                     $("html, body").animate({ scrollTop: 0 }, "slow");
                e.preventdefault();
            }
            if ($("#Reason2ID").val() == "" || $("#Reason2ID").val() == "0") {
                $('#Validation_Error').show();
                    $('#Validation_Error').html("<li>Please Select Reason2</li>");
                     $("html, body").animate({ scrollTop: 0 }, "slow");
                e.preventdefault();
            }
            if ($("#Reason3ID").val() == "" || $("#Reason3ID").val() == "0") {
                $('#Validation_Error').show();
                    $('#Validation_Error').html("<li>Please Select Reason3</li>");
                     $("html, body").animate({ scrollTop: 0 }, "slow");
                e.preventdefault();
            }
            if ($("#DispatchQID").val() == "" || $("#DispatchQID").val() == "0" ) {
                $('#Validation_Error').show();
                    $('#Validation_Error').html("<li>Please Select DispatchQ</li>");
                     $("html, body").animate({ scrollTop: 0 }, "slow");
                e.preventdefault();
            }
            if ($("#Comments").val() == '' ) {
                $('#Validation_Error').show();
                    $('#Validation_Error').html("<li>Please provide comments</li>");
                     $("html, body").animate({ scrollTop: 0 }, "slow");
                e.preventdefault();
            }
            //document.forms['frmComplaint'].submit();              
            $("#frmComplaint").submit();
       }

    </script>
}