﻿@using System.Configuration;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@{
    ViewBag.Title = "CMSS List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Online.Registration.Web.ComplainSvc.ComplaintGetResp
@using (Html.BeginForm("GetCmssListPage", "Complaint", FormMethod.Post, new { id = "frmCmssList", @class = "overlayonsubmit", processmsg = "Loading" }))
{    
    <div class="vwHeader">
        <table width="100%">
            <tr>
                <td>
                    <div>@ViewBag.Title</div>
                    @*<div class="vwSubHeader">@ViewBag.Title</div>*@
                    <div class="vwSubHeader">
                    </div>
                </td>
                <td align="right">
                </td>
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
        <table>
            <tr>
                <td>
                    <b>MSISDN </b>
                </td>
                <td>
                    <b>CMSSCase ID </b>
                </td>
               @* <td>
                    <b>From Date </b>
                </td>
                <td>
                    <b>To Date </b>
                </td>*@
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="txtMsisdn" name="txtMsisdn" value='@TempData["SearchMsisdn"].ToString2()' />
                </td>
                <td>
                    <input type="text" id="txtCmssCaseId" name="txtCmssCaseId"  value='@TempData["SearchCmssCaseId"].ToString2()'/>
                </td>
               @* <td>
                    @(Html.Telerik().DatePickerFor(model => Model.CMSSComplainIssues.LastOrDefault().CreateDt))
                </td>
                <td>
                    @(Html.Telerik().DatePickerFor(model => Model.CMSSComplainIssues.FirstOrDefault().CreateDt))
                </td>*@
                <td>
                    <button type="submit" value="Search" style="text-align: center; width: 50px; height: 45px;
                        border-style: none; background-color: White; cursor: pointer">
                        <img alt="" src='@Url.Content("~/Content/images/icon_srch.png")' width="40px" height="40px" />
                    </button>
                </td>
            </tr>
        </table>
        <br />
        @{
                                    Html.Telerik().Grid(Model.CMSSComplainIssues)
                                        .Name("gvwComplaints")
                                        .Footer(false).Scrollable(a => a.Enabled(true).Height(380))
                                        .HtmlAttributes(new { style = "width:800px;" })
                                        .TableHtmlAttributes(new { style = "border-radius:10px;" })
                                        //.Selectable().DataKeys(a => a.Add("CMSSCaseID"))
                                        //.ClientEvents(events => events.OnRowSelect("onRowSelected"))
                                        .NoRecordsTemplate("No records to display")
                                        .Sortable(sorting => sorting
                                        .OrderBy(sortOrder => sortOrder.Add(m => m.CMSSCaseID).Descending()))
                                        .Columns(cols =>
                                        {
                                            cols.Bound(m => m.MSISDN).Title("MSISDN");
                                            cols.Bound(m => m.CMSSCaseID).Title("CMSSCase ID");
                                            cols.Bound(m => m.CreateDt).Title("Created Date");
                                            cols.Bound(m => m.IDNumber).Title("ID Number");
                                            cols.Bound(m => m.CustomerName).Title("Customer Name");

                                        })
                                        .Render();
        }
    </div>
    
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#menuComplaintList').css("background-image", $('#menuComplaintList').css("background-image").replace(".png", "_hover.png"));
        });

      

    </script>
}

@section Styles{
    <style type="text/css">
        #DatePicker_wrapper, #TimePicker_wrapper, #DateTimePicker_wrapper
        {
            margin: 0 150px 230px 0;
            float: left;
            width: 100px;
        }
        
        #TimePicker_wrapper, #DateTimePicker_wrapper
        {
            clear: both;
        }
        
        #DateTimePicker_wrapper
        {
            margin-right: 100px;
            width: 150px;
        }
        
        .example .configurator
        {
            width: 500px;
            float: left;
            margin: 0;
            display: inline;
        }
        
        #TimePickerAttributes_Interval .t, #DateTimePickerAttributes_Interval .t
        {
            width: 40px;
        }
        
        .configurator p
        {
            margin: 0;
            padding: .7em 0;
        }
    </style>
}
}