﻿@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_SubmitLayout.cshtml";
}

    <div>
    <table width="100%">
        <tr>
            <td style="width: 580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
    </div>
    <div>
    <h3>
        Complaint has been submitted successfully. The Case reference number is :<br /> @ViewBag.caseID </h3>
    </div> 