﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.ViewModels;

@model Online.Registration.Web.ViewModels.CustomerDetailsVM


@*<div style="border-style:solid;border-width:1px;border-radius:5px;margin:5px;padding:3px 3px 5px 3px;width:400px;float:left">*@
    <table width="100%">
        <tr>
            <td><b>@Html.LabelFor(model => model.RegStatus.StatusID)</b></td>
            <td>@Html.Telerik().DropDownListFor(model => model.RegStatus.StatusID).BindTo(Util.GetStatusList(STATUSTYPE.Home))</td>
        </tr>
        <tr>
            <td valign="top"><b>@Html.LabelFor(model => model.RegStatus.Remark)</b></td>
            <td>@Html.TextAreaFor(model => model.RegStatus.Remark, new { style="width:270px" })</td>
        </tr>
        <tr>
            <td></td>
            <td align="right">
                <button class="button-submit" type="submit" onclick="SubmitForm();">Submit
                    </button>
            </td>
        </tr>
    </table>
@*</div>*@
