﻿@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "Address";
    var aqa = Model.AddressVM.InstallationAddress.Line1;
}
@model Online.Registration.Web.ViewModels.CustomerDetailsVM
                  
<table width="500px">
    @Html.HiddenFor(model => model.AddressVM.InstallationAddress.UnitNo)
    @Html.HiddenFor(model => model.AddressVM.InstallationAddress.Street)
    @Html.HiddenFor(model => model.AddressVM.InstallationAddress.BuildingNo)
    @Html.HiddenFor(model => model.AddressVM.InstallationAddress.Line1)
    @Html.HiddenFor(model => model.AddressVM.InstallationAddress.Line2)
    @Html.HiddenFor(model => model.AddressVM.InstallationAddress.Town)
    @Html.HiddenFor(model => model.AddressVM.InstallationAddress.Postcode)
    @Html.HiddenFor(model => model.AddressVM.InstallationAddress.StateID)
    @Html.HiddenFor(model => model.AddressVM.InstallationAddress.AddressTypeID)
    @Html.HiddenFor(model => model.AddressVM.Registration.InstallationDT)
    @*@Html.HiddenFor(model => model.AddressVM.Registration.IsBlacklisted)*@
    <tr>
        <td colspan="4"><b>Billing Address:</b></td>
    </tr>
    <tr>
        <td colspan="4">
            @Html.CheckBox("cbsBillingSame", new { onCLick = "return populateBillingAddress(this);" }) @Html.Label("Same as installation address")
        </td>
    </tr>
    <tr>
        <td><b>@Html.LabelFor(model => model.AddressVM.BillingAddress.Line1)</b></td>
        <td colspan="3">@Html.TextBoxFor(model => model.AddressVM.BillingAddress.Line1, new { style = "width:200px", @class = "uppercase", onchange = "toUpperCase(this)" })</td>
    </tr>
    <tr>
        <td><b>@Html.LabelFor(model => model.AddressVM.BillingAddress.Line2)</b></td>
        <td colspan="3">@Html.TextBoxFor(model => model.AddressVM.BillingAddress.Line2, new { style = "width:200px", @class = "uppercase", onchange = "toUpperCase(this)" })</td>
    </tr>
    <tr>
        <td><b>@Html.LabelFor(model => model.AddressVM.BillingAddress.Town)</b></td>
        <td>@Html.TextBoxFor(model => model.AddressVM.BillingAddress.Town, new { @class = "uppercase", onchange = "toUpperCase(this)" })</td>
        <td align="left"><b>@Html.LabelFor(model => model.AddressVM.BillingAddress.Postcode)</b></td>
        <td align="left">@Html.TextBoxFor(model => model.AddressVM.BillingAddress.Postcode)</td>
    </tr>
    <tr>
        <td><b>@Html.LabelFor(model => model.AddressVM.BillingAddress.StateID)</b></td>
        <td>
            @(Html.Telerik().DropDownListFor(model => model.AddressVM.BillingAddress.StateID).BindTo(Util.GetList(RefType.State, defaultValue: "")))
            @Html.HiddenFor(model => model.AddressVM.BillingAddress.AlternateStateID)
        </td> 
        <td></td>
        <td></td>
    </tr>
    @*****************************************************************************************************************************************@
    <tr>
        <td colspan="4"><b>Permanent Address:</b></td>
    </tr>
    <tr>
        <td colspan="4">
            @Html.CheckBox("cbsPermanentSame", new { onCLick = "return populatePermanentAddress(this);" }) @Html.Label("Same as installation address")
        </td>
    </tr>
    <tr>
        <td><b>@Html.LabelFor(model => model.AddressVM.PermanentAddress.Line1)</b></td>
        <td colspan="3">@Html.TextBoxFor(model => model.AddressVM.PermanentAddress.Line1, new { style = "width:200px", @class = "uppercase", onchange = "toUpperCase(this)" })</td>
    </tr>
    <tr>
        <td><b>@Html.LabelFor(model => model.AddressVM.PermanentAddress.Line2)</b></td>
        <td colspan="3">@Html.TextBoxFor(model => model.AddressVM.PermanentAddress.Line2, new { style = "width:200px", @class = "uppercase", onchange = "toUpperCase(this)" })</td>
    </tr>
    <tr>
        <td><b>@Html.LabelFor(model => model.AddressVM.PermanentAddress.Town)</b></td>
        <td>@Html.TextBoxFor(model => model.AddressVM.PermanentAddress.Town, new { @class = "uppercase", onchange = "toUpperCase(this)" })</td>
        <td><b>@Html.LabelFor(model => model.AddressVM.PermanentAddress.Postcode)</b></td>
        <td>@Html.TextBoxFor(model => model.AddressVM.PermanentAddress.Postcode)</td>
    </tr>
    <tr>
        <td><b>@Html.LabelFor(model => model.AddressVM.PermanentAddress.StateID)</b></td>
        <td>
            @(Html.Telerik().DropDownListFor(model => model.AddressVM.PermanentAddress.StateID).BindTo(Util.GetList(RefType.State, defaultValue: "")))
            @Html.HiddenFor(model => model.AddressVM.PermanentAddress.AlternateStateID)
        </td> 
        <td></td>
        <td></td>
    </tr>
</table>