﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@{
    ViewBag.Title = "Corporate";
}
@model Online.Registration.Web.ViewModels.CustomerDetailsVM
           
<table width="500px">
    <tr>
        <td><b>@Html.LabelFor(model => model.Customer.BizRegName)</b></td>
        <td>@Html.TextBoxFor(model => model.Customer.BizRegName, new { style = "width:200px", @class = "uppercase", onchange = "toUpperCase(this)" })</td>

        <td><b>@Html.LabelFor(model => model.Customer.BizRegNo)</b></td>
        <td>@Html.TextBoxFor(model => model.Customer.BizRegNo, new { style = "width:200px" })</td>
    </tr>
    <tr>
        <td><b>@Html.LabelFor(model => model.Customer.SignatoryName)</b></td>
        <td>@Html.TextBoxFor(model => model.Customer.SignatoryName, new { style = "width:200px", @class = "uppercase", onchange = "toUpperCase(this)" })</td>
    </tr>
</table>