﻿@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@{
    ViewBag.Title = "Customer";
    var minAge = Session["RegHomeReg_ProgramMinAge"].ToInt();
    var idCardTypeID = Model.Customer.IDCardTypeID;
    var NRICType = Util.GetIDCardTypeID(IDCARDTYPE.NRIC);
    
}
@model Online.Registration.Web.ViewModels.CustomerDetailsVM
           
<table width="500px">
    <tr>
        <td><b>@Html.LabelFor(model => model.Customer.CustomerTitleID)</b></td>
        <td>@(Html.Telerik().DropDownListFor(model => model.Customer.CustomerTitleID).BindTo(Util.GetList(RefType.CustomerTitle, defaultValue: "")))</td> 
        <td><b>@Html.LabelFor(model => model.Customer.Gender)</b></td>
        <td>
            @Html.Label("Male") @Html.RadioButton("rdbGender", "M", new { onclick = "setGender(this);" })
            @Html.Label("Female") @Html.RadioButton("rdbGender", "F", new { onclick = "setGender(this);" })
            @Html.HiddenFor(model => model.Customer.Gender)
        </td>
    </tr>
    <tr>
        <td><b>@Html.LabelFor(model => model.Customer.FullName)</b></td>
        <td colspan="3">@Html.TextBoxFor(model => model.Customer.FullName, new { style = "width:300px", @class = "uppercase", onchange = "toUpperCase(this)" })</td>
    </tr>
    <tr>
        <td><b>@Html.LabelFor(model => model.Customer.IDCardNo)</b></td>
        <td valign="top" colspan="3">
            <div style="float:left;padding:0px 0px 0px 10px">
                
                @Html.Raw(Util.GetNameByID(RefType.IDCardType, idCardTypeID))
                &nbsp; - 
                @Html.Raw(Model.Customer.IDCardNo)
                &nbsp;
                @if (Model.Customer.IDCardTypeID == NRICType)
                {
                    

                    <button type="button" value="Vaidate" onclick="RetrieveMyKadInfo()" 
                        style="background-image:url(@(Url.Content("~/Content/images/btn_retrieve.png")));background-position:center;width:80px;height:23px;border-style:none;cursor:pointer;">
                    </button>
                }
                
                @Html.HiddenFor(model => model.IDCardNoValidate)
                @Html.HiddenFor(model => model.Customer.IDCardNo)
                @Html.HiddenFor(model => model.Customer.IDCardTypeID)
                
            </div>
        </td>
    </tr>
    <tr>
        <td><b>@Html.LabelFor(model => model.Customer.DateOfBirth)</b></td>
        <td colspan="3">
            @*@{
                Html.Telerik().DatePickerFor(model => model.Customer.DateOfBirth)
                    .HtmlAttributes(new { style="width:150px" })
                    .InputHtmlAttributes(new { @readonly = "readonly" })
                    .Format(Util.GetDateFormatString())
                    .Max(DateTime.Now.AddYears(-minAge))
                    .Render();
            }*@
                
                @Html.DropDownListFor(model => model.DOBDay, Util.GetDayList(), new { onChange = "populateDOB()" })
                @Html.DropDownListFor(model => model.DOBMonth, Util.GetMonthList(), new { onChange = "populateDOB()" })
                @Html.DropDownListFor(model => model.DOBYear, Util.GetYearList(18), new { onChange = "populateDOB()" })
                @Html.HiddenFor(model => model.Customer.DateOfBirth)
            
        </td>
    </tr>
    <tr>
        <td><b>@Html.LabelFor(model => model.Customer.ContactNo)</b></td>
        <td>@Html.TextBoxFor(model => model.Customer.ContactNo)</td> 
        <td><b>@Html.LabelFor(model => model.Customer.LanguageID)</b></td>
        <td>@(Html.Telerik().DropDownListFor(model => model.Customer.LanguageID).BindTo(Util.GetList(RefType.Language, defaultValue: "")))</td>
    </tr>
    <tr>
        <td><b>@Html.LabelFor(model => model.Customer.AlternateContactNo)</b></td>
        <td>@Html.TextBoxFor(model => model.Customer.AlternateContactNo)</td>
        <td><b>@Html.LabelFor(model => model.Customer.NationalityID)</b></td>
        <td>@(Html.Telerik().DropDownListFor(model => model.Customer.NationalityID).BindTo(Util.GetList(RefType.Nationality, defaultValue: "")))</td>
    </tr>
    <tr>
        <td><b>@Html.LabelFor(model => model.Customer.PostpaidMobileNo)</b></td>
        <td>@Html.TextBoxFor(model => model.Customer.PostpaidMobileNo)</td>
        <td><b>@Html.LabelFor(model => model.Customer.RaceID)</b></td>
        <td>@(Html.Telerik().DropDownListFor(model => model.Customer.RaceID).BindTo(Util.GetList(RefType.Race, defaultValue: "")))</td> 
    </tr>
        <td><b>@Html.LabelFor(model => model.Customer.EmailAddr)</b></td>
        <td>@Html.TextBoxFor(model => model.Customer.EmailAddr)</td>
    <tr>
    </tr>
</table>
