﻿@model Online.Registration.Web.ViewModels.HomeOrderSummaryVM

@{
<div class="orderSummary">
    @if (!string.IsNullOrEmpty(Model.ModelImageUrl) || !string.IsNullOrEmpty(Model.PlanName))
    { 
        <table>
            <tr>
                <td class="header">
                    Order Summary
                </td>
            </tr>
            <tr>
                <td style="padding: 0;">
                    <table class="content">
                        @*@if (!string.IsNullOrEmpty(Model.ModelImageUrl))
                        { 
                            <tr><td colspan="2" valign="top" style="height:10px;font-size:larger;font-weight:bold">Device</td></tr>
                            <tr style="border-bottom: 1px solid silver;height:90px;">
                                <td colspan="2" valign="top">
                                    <div style="float: left;">
                                        <img alt="" src="@Url.Content(Model.ModelImageUrl)" width="80px" height="80px" />
                                    </div>
                                    <div style="float:left;">
                                        <br /><br /><br />
                                        @Model.ModelName<br />
                                        @Model.ColourName<br />
                                    </div>
                                </td>
                            </tr>
                        }*@
        
                        @*@if (!string.IsNullOrEmpty(Model.PlanName))
                        {*@
                            <tr><td colspan="2" valign="top" style="height:20px;font-size:larger;font-weight:bold">Plan</td></tr>
                            <tr style="height:20px;">
                                <td colspan="2" valign="top">
                                    <div style="float: left;">
                                        <img alt="" src='@Url.Content("~/Content/images/HomeFibre.png")' width="80px" height="80px" />
                                    </div>
                                    <div style="float:left;padding:0px 0px 0px 10px">
                                        <br /><br />
                                        <b>@Model.PlanBundle</b><br />@Model.PlanName
                                    </div>
                                    <div style="float:left;padding:0px 0px 0px 10px">
                                        <b>Price: </b>RM@(Model.MonthlySubscription)
                                    </div>
                                </td>
                            </tr>
                        @*}*@

                        @if (!string.IsNullOrEmpty(Model.OptPlanName))
                        {
                            <tr><td colspan="2" valign="top" style="height:20px;font-size:larger;font-weight:bold">WBB Plan</td></tr>
                            <tr style="height:20px;">
                                <td colspan="2" valign="top">
                                    <div style="float: left;">
                                        <img alt="" src='@Url.Content("~/Content/images/HomeFibre.png")' width="80px" height="80px" />
                                    </div>
                                    <div style="float:left;padding:0px 0px 0px 10px">
                                        <br /><br />
                                        <b>@Model.OptPlanBundle</b><br />
                                        @Model.OptPlanName
                                    </div>
                                </td>
                            </tr>
                        }
        
                        @if (Model.MobileNumbers.Count() > 0)
                        {
                            for (int i = 0; i < Model.MobileNumbers.Count(); i++)
                            {
                                if (!string.IsNullOrEmpty(Model.MobileNumbers[i]))
                                {
                                    <tr style="height:20px;">
                                        <td valign="top"><b>@string.Format("Desire No {0}: ", i + 1)</b>XXX-XXX@(Model.MobileNumbers[i])</td>
                                    </tr>
                                }
                            }
                            <tr style="border-bottom: 1px solid silver;height:20px;">
                                <td colspan="2"></td>
                            </tr>
                        }
                        else
                        {
                            if (!string.IsNullOrEmpty(Model.PlanName) && Model.MobileNumbers.Count() == 0 && Model.VasVM.VASesName.Count() > 0)
                            { 
                                <tr style="border-bottom: 1px solid silver;height:20px;">
                                    <td valign="top"></td>
                                    <td valign="top"></td>
                                </tr>
                            }
                        }
                        @*<tr>
                            <td colspan="2" valign="top">
                                <div style="float:left">
                                    <b>Total Price: </b>RM@(Model.TotalPrice)
                                </div>
                            </td>
                        </tr>*@
                        <tr>
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>   
    }
</div> 
}

