﻿@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Helper;

@model Online.Registration.Web.ViewModels.CustomerDetailsVM
@{
    ViewBag.Title = "Credit and Coverage Check";
    var NewICCardTypeID = Util.GetIDByCode(RefType.IDCardType, Settings.Default.IDCardType_NRIC);
}

@using (Html.BeginForm("BlacklistChecking", "HomeRegistration", FormMethod.Post, new { id = "frmBlacklistChecking", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    <div class="vwHeader">
        <table width="100%">
            <tr>
                <td>
                    <div>@ViewBag.Title</div>
                    <div class="vwSubHeader">@ViewBag.Title</div>
                </td>
                @*<td align="right">
                    <button class="button-continue" type="submit" value="Next">
                    </button>
                </td>*@
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
            <div style="float: left;">
            <div style="font-size:x-large;padding:10px 0px 10px 0px;float:left;">@ViewBag.Title</div>
            @*<div class="divNumpad">*@
            &nbsp;&nbsp;&nbsp;&nbsp;
            @if (!Settings.Default.BlockCoverageCheck.Split(',').Contains(Util.SessionOrgTypeCode))
            { 
                <a href="@Url.Action("CoverageCheck")" target="_new" >
                    <img alt="" src='@Url.Content("~/Content/images/Btn_coverage.png")' style="border:0" />
                </a>
            }
            @Html.ValidationSummary(false)
            <table>
                <tr>
                    <td><b>@Html.LabelFor(model => model.Customer.IDCardTypeID)</b></td>
                    <td>@(Html.Telerik().DropDownListFor(model => model.Customer.IDCardTypeID).BindTo(Util.GetList(RefType.IDCardType, defaultValue: "")))</td> 
                </tr>
                <tr>
                    <td><b>@Html.LabelFor(model => model.Customer.IDCardNo)</b></td>
                    <td>@Html.TextBoxFor(model => model.Customer.IDCardNo)</td>
                </tr>
                <tr>
                    <td>
                        <button value="Submit" type="button" onclick="submitNumpad()">Submit
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}

@section Scripts{
    <script type="text/javascript">

        var isNumpadTooltipOn;
        var tooltip = "Enter IC Number";

        $(document).ready(function () {
            $(".numbersonly").keypress(function (e) {
                return numbersonly(e, false);
            });

            var numpadInput = $("#numpadText");

            isNumpadTooltipOn = true;
            numpadInput.val(tooltip);
            numpadInput.addClass("tooltip");

            numpadInput.focus(function () {
                if (numpadInput.val() == tooltip) {
                    numpadInput.val("");
                    numpadInput.removeClass("tooltip");
                    isNumpadTooltipOn = false;
                }
            });

            numpadInput.focusout(function () {
                if (numpadInput.val() == "") {
                    numpadInput.val(tooltip);
                    numpadInput.addClass("tooltip");
                    isNumpadTooltipOn = true;
                }
            });

            $(".numpad button").click(function () {
                if (numpadInput.val() == "") {
                    numpadInput.val(tooltip);
                    numpadInput.addClass("tooltip");
                    isNumpadTooltipOn = true;
                }
                else if (isNumpadTooltipOn) {
                    numpadInput.val(numpadInput.val().replace(tooltip, ''));
                    numpadInput.removeClass("tooltip");
                    isNumpadTooltipOn = false;
                }

                if (numpadInput.val() == "") {
                    numpadInput.val(tooltip);
                    numpadInput.addClass("tooltip");
                    isNumpadTooltipOn = true;
                }
            });

            $(".button-continue").css("display", "none");
            $('.divIsICDuplicate').hide();

            $('#menuHomeReg').css("background-image", $('#menuHomeReg').css("background-image").replace(".png", "_hover.png"));
        });

        function submitNumpad() {
            var idCardNo = $('#Customer_IDCardNo').val();
            var idCardTypeID = $('#Customer_IDCardTypeID').val();

            var form = $("#frmBlacklistChecking");
            form.validate();

            if (form.valid()) {
                if(@(NewICCardTypeID) == idCardTypeID){
                
                    if($('#Customer_IDCardNo').val().length != 12){
                        alert('New IC must be 12 number.');
                        return false;
                    }
                }

                var url = '@(Url.Content("~/HomeRegistration/BlacklistChecking"))';
                $.post(url, { idCardNo: idCardNo, idCardTypeID: idCardTypeID }, function (data) {
                    window.location.href = '@(Url.Content("~/HomeRegistration/BlacklistResult?isBlacklisted="))' + data.isBlacklisted + '&isDuplicate=' + data.isDuplicate;
                });
            }
        }
    </script>
}

@section Styles{
    <style type="text/css">
        .divNumpad
        {
            position: relative;
            left: 50%;   
            top: 40%;
            margin-left: -20%;
            margin-top: 5%;
        }
        
    </style>
}
