﻿@{
    ViewBag.Title = "CoverageCheck";
    Layout = "";
}

<html>
<head>
<script>
<!--
    function login() {
        document.form1.action = "http://maxis.tuxuri.com/user/login";
        document.form1.submit();
    }
//-->
</script>
</head>
<body onLoad="login()">

<form name="form1" id=form1 method="POST">

<input type="hidden" name="username" value="RFPortal">
<input type="hidden" name="password" value="MaxisHome!234">
</form>
</body>
</html>

