﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.Properties;

@model Online.Registration.Web.ViewModels.CustomerDetailsVM
@{
    ViewBag.Title = "Customer Details";
    var malaysianID = Util.GetNationalityID(NATIONALITY.Malaysian);
    var autoBillingID = Util.GetPaymentModeID(PAYMENTMODE.AutoBilling);
    var NRICType = Util.GetIDCardTypeID(IDCARDTYPE.NRIC);
    var regTypeHP = Util.GetIDByCode(RefType.RegType, Settings.Default.RegType_HomePersonal);
    var regTypeHC = Util.GetIDByCode(RefType.RegType, Settings.Default.RegType_HomeCorporate);
    var minAge = Session["RegHomeReg_ProgramMinAge"].ToInt();
    var idCardTypeID = Model.Customer.IDCardTypeID;
    
}

@using (Html.BeginForm("CustomerDetails", "HomeRegistration", FormMethod.Post, new { id = "frmCustomerDetails", @class = "overlayonsubmit", processmsg = "Loading" }))
{   
    <div class="vwHeader">
        <table width="100%">
            <tr>
                <td>
                    <div>@ViewBag.Title</div>
                    <div class="vwSubHeader">
                        <div style="float:left;font-weight:bold;font-size:small;">Home > Address > Customer  </div>
                        <div style="float:left;margin-top:2px;padding-left:2px;">> Plan > Optional Package > Summary </div>
                    </div>
                </td>
                <td align="right">
                    <button class="button-back cancel" type="submit" value="Back" onclick="$('#TabNumber').val(0);">
                    </button>
                    @*<button class="button-continue" type="submit" value="Next" onclick="$('#TabNumber').val(2);">*@
                    <button class="button-continue" type="button" value="Next" onclick="SubmitCustForm();">
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
        <div style="float: left;">
            <div style="font-size:x-large;padding:10px 0px 0px 0px;">
                <table width="520px">
                    <tr>
                        <td align="left">Step @(Session["RegHomeStepNo"].ToInt()): @ViewBag.Title</td>
                        <td align="right">
                            @Html.HiddenFor(model => Model.RegTypeID)
                            @if (!Settings.Default.BlockCorporateReg.Split(',').Contains(Util.SessionOrgTypeCode))
                            { 
                                <button type="button" value="ind" onclick="RegTypeSelect(1)">Individual</button>
                                <button type="button" value="corp" onclick="RegTypeSelect(2)">Corporate</button>
                            }
                        </td>
                    </tr>
                </table>
            </div>
            <table>
                <tr>
                    <td valign="top" style="padding:0">
                        @Html.ValidationSummary(false)
                        @Html.HiddenFor(a => a.TabNumber)
                        
                        @{
                            Html.Telerik().PanelBar()
                                .Name("pnlPersonalDetails")
                                .ExpandAll(false).ExpandMode(Telerik.Web.Mvc.UI.PanelBarExpandMode.Single)
                                .Items(pbItem =>
                                {
                                    pbItem.Add()
                                        .Expanded(true)
                                        .Text("CUSTOMER INFORMATION")
                                        .LinkHtmlAttributes(new { @class = "panel-header" })
                                        .ContentHtmlAttributes(new { @class = "panel-content" })
                                        .HtmlAttributes(new { width = "400px", id = "indv" })
                                        .Content(
                                        @<text>
                                            @Html.Partial("_Customer", Model)          
                                        </text>);
                                    pbItem.Add()
                                        .Text("CORPORATE INFORMATION")
                                        .LinkHtmlAttributes(new { @class = "panel-header" })
                                        .ContentHtmlAttributes(new { @class = "panel-content" })
                                        .HtmlAttributes(new { width = "400px", id = "corp" })
                                        .Content(
                                        @<text>
                                            @Html.Partial("_Corporate", Model)          
                                        </text>);
                                    pbItem.Add()
                                        .Text("ADDRESS")
                                        .LinkHtmlAttributes(new { @class = "panel-header" })
                                        .ContentHtmlAttributes(new { @class = "panel-content" })
                                        .HtmlAttributes(new { width = "400px" })
                                        .Content(
                                        @<text>
                                            @Html.Partial("_Address", Model)          
                                        </text>);
                                    pbItem.Add()
                                        .Text("MONTHLY BILL SETTLEMENT PREFERENCE")
                                        .LinkHtmlAttributes(new { @class = "panel-header" })
                                        .ContentHtmlAttributes(new { @class = "panel-content" })
                                        .HtmlAttributes(new { width = "400px" })
                                        .Content(
                                        @<text>
                                            @Html.Partial("_Billing", Model)          
                                        </text>);
                                    pbItem.Add()
                                        .Text("FOR OFFICE USE")
                                        .LinkHtmlAttributes(new { @class = "panel-header" })
                                        .ContentHtmlAttributes(new { @class = "panel-content" })
                                        .HtmlAttributes(new { width = "400px" })
                                        .Content(
                                        @<text>
                                            @Html.Partial("_ForOfficeUse", Model)          
                                        </text>);
                                }).Render(); 
                        }
                    </td>
                </tr>
            </table>
        </div>
        <div style="float: right;">
            @Html.Partial("_OrderSummary", (HomeOrderSummaryVM)Session["RegHomeReg_OrderSummary"])
        </div>
    </div>    
}

@{
    Html.Telerik().Window()
        .Name("vasWindow")
        .Title("Value Added Services")
        .Width(325)
        .Content(@<text>
                    @{var vasNames = (List<string>)Session["RegHomeReg_VasNames"]; }
                    @if (vasNames != null)
                    {
                        foreach (var name in vasNames)
                        { 
                            <div style="border-style:solid;border-width:1px;border-radius:5px;margin:1px;padding:3px 3px 3px 3px;margin:0px 0px 1px 0px;width:300px;">
                                @name
                            </div>
                        }
                    }
                </text>)
        .Modal(true)
        .Visible(false)
        .Render();

    Html.Telerik().ScriptRegistrar()
        .OnDocumentReady(@<text>
            // open the initially hidden window when the button is clicked
            $('#btnVwVAS')
                .click(function(e) {
                    e.preventDefault();
                    $('#vasWindow').data('tWindow').center().open();
                });
        </text>); 
}

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            var payModeID = $('#Customer_PayModeID').val();

            if(payModeID != '' && payModeID != 0){
                setDiv(paymodeID);
            }
            else{
                setDivDefault();
            }

            $('#corp').hide();

            var currentSalesTime = new Date();
            var salesMonth = currentSalesTime.getMonth()+1;
            var salesDay = currentSalesTime.getDate();
            var salesYear = currentSalesTime.getFullYear();
            $('#RFSalesDateDay').val(parseInt(salesDay));
            $('#RFSalesDateMonth').val(parseInt(salesMonth));
            $('#RFSalesDateYear').val(salesYear);
             
             $('#AddressVM_Registration_RFSalesDT').val(salesMonth + '/' + salesDay + '/' + salesYear);

              var idCardType = $('#Customer_IDCardTypeID').val();
              var nric = $('#Customer_IDCardNo').val();
              var year = nric.substr(0, 2);
              var month = nric.substr(2, 2);
              var day = nric.substr(4, 2);
              var currentYear = (new Date).getFullYear();
              if(currentYear - ("19" + year) <= 100){
                  year = "19" + year;
              }
              else{
                  year = "20" + year;
              }

              var dob = Date.parse(year + "/" + month + "/" + day);
//              if(isNaN(dob)){
//                  alert("Invalid NRIC! Invalid Date of Birth.");
//                  txtIDCardNo.val("");

//                  return;
//              }

              dob = new Date(dob);
              var dateNow = new Date();
              var age = dateNow.getFullYear() - dob.getFullYear();
              
              if(age < @(minAge) && (@(idCardTypeID) == @(NRICType))){
                  alert("Invalid NRIC! Minimum required @(minAge) years old." );
                  //txtIDCardNo.val("");

                  return;
              }

              if ((@(idCardTypeID) == @(NRICType)))
              {
                  $("#DOBDay").val(parseInt(day,10));
                  $("#DOBMonth").val(parseInt(month,10));
                  $("#DOBYear").val(year);
                  
                  $('#Customer_DateOfBirth').val(month + '/' + day + '/' + year);
              }

              if($('#Customer_NationalityID').val() == "")
              {
                var ddlNationality = $("#Customer_NationalityID").data("tDropDownList");
                ddlNationality.value(@(malaysianID));
              }

              $('#menuHomeReg').css("background-image", $('#menuHomeReg').css("background-image").replace(".png", "_hover.png"));
        });

        function toUpperCase(txt){
            $(txt).val($(txt).val().toUpperCase());
        }

        function populateDOB(){
            
            var currentTime = new Date();
            var month = currentTime.getMonth()+1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            
            if($('#DOBDay').val() != '')
            {
                day = $('#DOBDay').val();
            }

            if($('#DOBMonth').val()!='')
            {
                month = $('#DOBMonth').val();
            }

            if($('#DOBYear').val()!='')
            {
                year = $('#DOBYear').val();
            }

            $('#Customer_DateOfBirth').val(month + '/' + day + '/' + year);
        }

        function populateRFSalesDate(){
            
            var currentTime = new Date();
            var month = currentTime.getMonth()+1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            
            if($('#RFSalesDateDay').val() != '')
            {
                day = $('#RFSalesDateDay').val();
            }

            if($('#RFSalesDateMonth').val()!='')
            {
                month = $('#RFSalesDateMonth').val();
            }

            if($('#RFSalesDateYear').val()!='')
            {
                year = $('#RFSalesDateYear').val();
            }

            $('#AddressVM_Registration_RFSalesDT').val(month + '/' + day + '/' + year);

            //alert($('#AddressVM_Registration_RFSalesDT').val());
        }

        function paymodeChanged() {
            var paymodeID = 0;

            if($('#Customer_PayModeID').val() == @(autoBillingID)){
                paymodeID = @(autoBillingID)
            }

            setDiv(paymodeID);
        }

        function RegTypeSelect(regTypeID) {
            //var btns = $('#test');
            var panel = $("#pnlPersonalDetails").data("tPanelBar");

            if(regTypeID == 2){
                $('#corp').css('display','');
                $('#RegTypeID').val(@(regTypeHC));

                //var domElement = $("li:first", panel.element)[1]; //second <li> element
                //panel.expand(domElement);
            }
            else if (regTypeID == 1){
                $('#corp').css('display','none');
                $('#RegTypeID').val(@(regTypeHP));
                $('#indv').show();
                //var domElement = $("li:first", panel.element)[0]; //first <li> element
                //panel.expand(domElement);
            }
        }

        function setDiv(paymodeID) {
            if (paymodeID == @(autoBillingID)) { 
                $(".autoBilling").show();
                enableAutoBillingDiv();
            }
            else {
                setDivDefault();
            }
        }

        function setDivDefault() {
            $(".autoBilling").hide();
            disableAutoBillingDiv();
        }

        function enableAutoBillingDiv() {
            $(".autoBilling :input").removeAttr("disabled");
        }

        function disableAutoBillingDiv() {
            $(".autoBilling :input").attr("disabled", true);
        }

        function RetrieveMyKadInfo(){

            var icno =$('#Customer_IDCardNo'); 
            var url = '@(Url.Content("~/HomeRegistration/RetrieveMyKadInfo"))';
            $.post(url, { icno:icno.val() }, function (data) {

                if(data.FingerMatch==true){

                    $('#Customer_FullName').val(data.Name);
                    $('#Customer_IDCardNo').val(data.NewIC);

                    var year = data.DOB.substr(0, 4);
                    var month = data.DOB.substr(5, 2);
                    var day = data.DOB.substr(8, 2);
                    $("#DOBDay").val(parseInt(day,10));
                    $("#DOBMonth").val(parseInt(month));
                    $("#DOBYear").val(year);
                    $('#Customer_DateOfBirth').val(data.DOB);

                    $('#Customer_Gender').val(data.Gender);
                    $("input[id='rdbGender'][value='"+data.Gender+"']").attr("checked", true);
                    $('#Customer_NationalityID').val(data.Nationality);
                    $('#Customer_RaceID').val(data.Race);
                    $('#Address_Line1').val(data.Address1);
                    $('#Address_Line2').val(data.Address2);

                    $('#Address_Postcode').val(data.Postcode);
                    $('#Address_StateID').val(data.State);
                    //$('#Race').val(data.Religion);
                    //$('#NewIC').val(data.OldIC);
                    //$('#Gender').val(data.Gender);
                    //$('#FullName').val(data.City);
                    //$('#Address2').val(data.Address3);

                    $('#IDCardNoValidate').val(true);
                    $("#failedValiadate").show();
                }
            });
        }

        function setGender(rdbGender) {
            var hdfGender = $("#Customer_Gender");
            hdfGender.val($(rdbGender).val());
        }

        function IDCardTypeChanged(){
            
            if($("#Customer_IDCardTypeID").val() == NRICType){

            }
        }

        function populateBillingAddress(cbx) {
            var isValid = false;
            if ($(cbx).attr("checked") == "checked") {
                
                isValid = $('#frmCustomerDetails').validate().element($('#AddressVM_InstallationAddress_Line1 '));
                isValid = ($('#frmCustomerDetails').validate().element($('#AddressVM_InstallationAddress_Postcode'))) ? isValid : false;
                isValid = ($('#frmCustomerDetails').validate().element($('#AddressVM_InstallationAddress_StateID'))) ? isValid : false;
                //isValid = ($('#frmCustomerDetails').validate().element($('#InstallationAddress_CountryID'))) ? isValid : false;

                if (isValid) {
                    $('#AddressVM_BillingAddress_Line1').val($('#AddressVM_InstallationAddress_Line1').val());
                    $('#AddressVM_BillingAddress_Line2').val($('#AddressVM_InstallationAddress_Line2').val());
                    $('#AddressVM_BillingAddress_Town').val($('#AddressVM_InstallationAddress_Town').val());
                    $('#AddressVM_BillingAddress_Postcode').val($('#AddressVM_InstallationAddress_Postcode').val());
                    $('#AddressVM_BillingAddress_StateID').data('tDropDownList').value($('#AddressVM_InstallationAddress_StateID').val());
                    //$('#BillingAddress_CountryID').data('tDropDownList').value($('#InstallationAddress_CountryID').val());

                    $('input[id^="AddressVM_BillingAddress_"]').css({"background-color": '#F2F2F2'});
                    $('input[id^="AddressVM_BillingAddress_"]').attr('readonly', true);
                    $('#AddressVM_BillingAddress_AlternateStateID').val($("#AddressVM_BillingAddress_StateID").data("tDropDownList").value());
                    $("#AddressVM_BillingAddress_StateID").data("tDropDownList").disable();

                    return true;
                }
                else {
                    return false;
                }
            }
            else {
                $('#AddressVM_BillingAddress_Line1').val('');
                $('#AddressVM_BillingAddress_Line2').val('');
                $('#AddressVM_BillingAddress_Town').val('');
                $('#AddressVM_BillingAddress_Postcode').val('');
                $('#AddressVM_BillingAddress_StateID').data('tDropDownList').value('');
                //$('#BillingAddress_CountryID').data('tDropDownList').value('');

                $('input[id^="AddressVM_BillingAddress_"]').css("background-color", "");
                $('input[id^="AddressVM_BillingAddress_"]').attr("readonly", false);
                $("#AddressVM_BillingAddress_StateID").data("tDropDownList").enable();
            }
        }

        function populatePermanentAddress(cbx) {
            var isValid = false;
            if ($(cbx).attr("checked") == "checked") {

//                var isValid = false;
//                
//                isValid = $('#frmCustomerDetails').validate().element($('#AddressVM_InstallationAddress_Line1 '));
//                isValid = ($('#frmCustomerDetails').validate().element($('#AddressVM_InstallationAddress_Postcode'))) ? isValid : false;
//                isValid = ($('#frmCustomerDetails').validate().element($('#AddressVM_InstallationAddress_StateID'))) ? isValid : false;
//                isValid = ($('#frmCustomerDetails').validate().element($('#AddressVM_InstallationAddress_CountryID'))) ? isValid : false;
//                
//                if (isValid) {
                    $('#AddressVM_PermanentAddress_Line1').val($('#AddressVM_InstallationAddress_Line1').val());
                    $('#AddressVM_PermanentAddress_Line2').val($('#AddressVM_InstallationAddress_Line2').val());
                    $('#AddressVM_PermanentAddress_Town').val($('#AddressVM_InstallationAddress_Town').val());
                    $('#AddressVM_PermanentAddress_Postcode').val($('#AddressVM_InstallationAddress_Postcode').val());
                    $('#AddressVM_PermanentAddress_StateID').data('tDropDownList').value($('#AddressVM_InstallationAddress_StateID').val());
                    //$('#PermanentAddress_CountryID').data('tDropDownList').value($('#InstallationAddress_CountryID').val());
//                    return true;

                    $('input[id^="AddressVM_PermanentAddress_"]').css({"background-color": '#F2F2F2'});
                    $('input[id^="AddressVM_PermanentAddress_"]').attr('readonly', true);
                    $('#AddressVM_PermanentAddress_AlternateStateID').val($("#AddressVM_PermanentAddress_StateID").data("tDropDownList").value());
                    $("#AddressVM_PermanentAddress_StateID").data("tDropDownList").disable();
//                }
//                else {
//                    return false;
//                }
            }
            else {
                $('#AddressVM_PermanentAddress_Line1').val('');
                $('#AddressVM_PermanentAddress_Line2').val('');
                $('#AddressVM_PermanentAddress_Town').val('');
                $('#AddressVM_PermanentAddress_Postcode').val('');
                $('#AddressVM_PermanentAddress_StateID').data('tDropDownList').value('');
                //$('#PermanentAddress_CountryID').data('tDropDownList').value('');

                $('input[id^="AddressVM_PermanentAddress_"]').css("background-color", "");
                $('input[id^="AddressVM_PermanentAddress_"]').attr("readonly", false);
                $("#AddressVM_PermanentAddress_StateID").data("tDropDownList").enable();
            }
        }

        function SubmitCustForm(){
            
            $('#TabNumber').val(2);

            //var dob = Date.parse($('#AddressVM_Registration_RFSalesDT').val());
            //var dob = $('#AddressVM_Registration_RFSalesDT').val();
            //dob = dobArr[1] + "/" + dobArr[0] + "/" + dobArr[2].substr(0, 4);
            var dobArr = $('#AddressVM_Registration_RFSalesDT').val().split('/');
            
            var fullDate = new Date();
            var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? '0' + (fullDate.getMonth()+1) : (fullDate.getMonth()+1);
            var currentDate = fullDate.getDate() + "/" + twoDigitMonth + "/" + fullDate.getFullYear();
            var currentDTArr = currentDate.split('/');

            //alert(dob+','+new Date(dobArr[2], dobArr[0] - 1, dobArr[1])+','+currentDate+','+new Date(currentDTArr[2], currentDTArr[1] - 1, currentDTArr[0]));
            if (new Date(dobArr[2], dobArr[0] - 1, dobArr[1]) <= new Date(currentDTArr[2], currentDTArr[1] - 1, currentDTArr[0]))
            {
                //document.forms['frmCustomerDetails'].submit();     
                $("#frmCustomerDetails").submit();
            }
            else
            {
                alert('Customer Signed Date must not later than current date.');
            }
        }
    </script>
}

@section Styles{
    <style type="text/css">
        
        #pnlPersonalDetails .panel-header
        {
            line-height: 30px;
            text-transform: uppercase;
            color: #7cb44f;
            font-weight: bold;   
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));  
        }
        
        #pnlPersonalDetails .panel-content
        {
            padding: 5px;
            background-color: #f5f5f5;
        }
        
        #pnlPersonalDetails .panel-content fieldset 
        { 
            border-radius: 5px; 
            padding: 0;
            background-color: White;
            border-color: Grey;
        }
        
        #pnlPersonalDetails .panel-content fieldset table { width: 100%; }
        
        #pnlPersonalDetails .panel-content fieldset table td
        {   
            padding: 10px;
            border-bottom: 1px solid LightGrey;
        }
        
        #pnlPersonalDetails .panel-content .label
        {
            width: 150px;
            font-weight: bold;
        }
        
        #pnlPersonalDetails .panel-content .last { border-bottom: none; }
        
        .personalDetails-table .td
        {
            vertical-align:top;
        }
    </style>
}
