﻿@using Online.Registration.Web.ViewModels
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.Properties;

@model Online.Registration.Web.ViewModels.CustomerDetailsVM
@{
    ViewBag.Title = "Home Registration Summary";
    var isSearch = Session["RegHomeReg_FromSearch"] == null ? false : (bool)Session["RegHomeReg_FromSearch"];
    var isCopy = Session["RegHomeReg_FromSearch"] == null ? false : (bool)Session["RegHomeReg_FromSearch"];
    var regTypeHC = Util.GetIDByCode(RefType.RegType, Settings.Default.RegType_HomeCorporate);
    var statusReject = Util.GetIDByCode(RefType.Status, Settings.Default.Status_HomeReject);
    var statusCancel = Util.GetIDByCode(RefType.Status, Settings.Default.Status_HomeCancelled);
    var statusComplete = Util.GetIDByCode(RefType.Status, Settings.Default.Status_HomeComplete);
    var statusConfirm = Util.GetIDByCode(RefType.Status, Settings.Default.Status_HomeConfirmed);
}

@using (Html.BeginForm("HomeRegSummary", "HomeRegistration", FormMethod.Post, new { id = "frmHomeRegSummary", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    
    <div class="vwHeader">
        <table width="100%">
            <tr>
                <td>
                    <div>@ViewBag.Title</div>
                    @if (Model.RegID == 0)
                    { 
                        <div class="vwSubHeader">
                            <div style="float:left;font-weight:bold;font-size:small;">Home > Address > Customer > Plan > Optional Package > Summary</div>
                        </div>
                    }
                </td>
                <td align="right">
                @Html.Hidden("submit1")
                @Html.HiddenFor(a => a.TabNumber)
                @Html.HiddenFor(model => model.RegTypeID)
                @Html.HiddenFor(model => model.AddressVM.Registration.InstallationDT)
                @*@Html.HiddenFor(a => a.AddressVM.Registration.IsBlacklisted)*@
                @if (Model.RegID == 0)
                {
                    <button class="button-back cancel" type="submit" value="Back" onclick="$('#TabNumber').val(3);">
                    </button>
                    <button class="button-continue" type="submit" value="Next" onclick="$('#TabNumber').val(5);">
                    </button>
                }
                else
                {
                    if (!Model.IsRegClosed)
                    { 
                        @*<button class="button-cancel" type="submit" value="Next" onclick="$('#submit1').val('cancel');">
                        </button>
                        <button class="button-close" type="submit" value="Next" onclick="$('#submit1').val('close');">
                        </button>*@
                    }
                }
                </td>
            </tr>
        </table>
    </div>
    <div class="viewInnerBody clearfix">
        <div style="float: left; width: 516px;">
            <div >
                <div style="font-size:x-large;float:left;">@ViewBag.Title</div>
                <div style="float:right;">
                    @if (Model.RegID != 0)
                    {
                        @*<a href="@(Url.Content("~/HomeRegistration/PrintHomeRF?id=" + Model.RegID))" target="_blank" style="text-decoration:none" >
                            <img alt="" src="../../Content/images/Print.gif" style="border:0"/> Print
                        </a>*@
                    }
                </div>
            </div>
            <table width="100%">
                <tr>
                    <td>
                    @Html.ValidationSummary(false)
                        <div>
                            <div class="title">A. Customer Information
                                @if (Model.RegID == 0)
                                { 
                                    @*<div style="float:right;margin:-5px 0px 0px 0px;">
                                        @Html.LabelFor(model => model.QueueNo) 
                                        @Html.TextBoxFor(model => model.QueueNo, new { style = "width:80px" })
                                    </div>*@
                                }
                            </div>
                        </div>
                        <table style="padding:0px">
                            @if (Model.RegID != 0)
                            { 
                                <tr>
                                    <td><b>@Html.LabelFor(model => model.RegID)</b></td>
                                    <td>
                                        @(Model.RegID == 0 ? "" : Model.RegID.ToString2())
                                    </td>
                                    <td>
                                    @Html.HiddenFor(model => model.RegID)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_RegID" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                    </td>
                                    @*<td><b>@Html.LabelFor(model => model.QueueNo)</b></td>
                                    <td>
                                        @Model.QueueNo 
                                    </td>
                                    <td>
                                    @Html.HiddenFor(model => model.QueueNo)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_QueueNo" type="button"
                                            class="button-copy">
                                        </button>
                                    }
                                    </td>*@
                                </tr>
                            }
                            <tr>
                                <td><b>@Html.LabelFor(model => model.Customer.FullName)</b></td>
                                <td>@Util.GetNameByID(RefType.CustomerTitle, Model.Customer.CustomerTitleID) @Model.Customer.FullName</td>
                                <td>
                                @Html.HiddenFor(model => model.Customer.FullName)
                                @Html.HiddenFor(model => model.Customer.CustomerTitleID)
                                @if (isCopy)
                                {   
                                    <button id="btnCopy_FullName" type="button" 
                                        class="button-copy">
                                    </button>
                                }
                                </td>
                                <td><b>@Html.LabelFor(model => model.Customer.Gender)</b></td>
                                <td>@(Model.Customer.Gender == "M" ? "Male" : "Female")</td>
                                <td>
                                    @Html.HiddenFor(model => model.Customer.Gender)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_Gender" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(model => model.Customer.IDCardTypeID)</b></td>
                                <td>@Util.GetNameByID(RefType.IDCardType, Model.Customer.IDCardTypeID)</td>
                                <td>
                                    @Html.HiddenFor(model => model.Customer.IDCardTypeID)
                                    @if (isCopy)
                                    {   
                                        <button id="btnCopy_IDCardType" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                                <td><b>@Html.LabelFor(model => model.Customer.IDCardNo)</b></td>
                                <td>@Model.Customer.IDCardNo</td>
                                <td>
                                    @Html.HiddenFor(model => model.Customer.IDCardNo)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_IDCardNo" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(model => model.Customer.DateOfBirth)</b></td>
                                <td>@Util.FormatDate(Model.Customer.DateOfBirth)</td>
                                <td>
                                    @Html.HiddenFor(model => model.Customer.DateOfBirth)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_DateOfBirth" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                                <td><b>@Html.LabelFor(model => model.Customer.LanguageID)</b></td>
                                <td>@Util.GetNameByID(RefType.Language, Model.Customer.LanguageID)</td>
                                <td>
                                    @Html.HiddenFor(model => model.Customer.LanguageID)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_LanguageID" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(model => model.Customer.ContactNo)</b></td>
                                <td>@Model.Customer.ContactNo</td>
                                <td>
                                    @Html.HiddenFor(model => model.Customer.ContactNo)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_ContactNo" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                                <td><b>@Html.LabelFor(model => model.Customer.NationalityID)</b></td>
                                <td>@Util.GetNameByID(RefType.Nationality, Model.Customer.NationalityID)</td>
                                <td>
                                    @Html.HiddenFor(model => model.Customer.NationalityID)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_NationalityID" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(model => model.Customer.AlternateContactNo)</b></td>
                                <td>@Model.Customer.AlternateContactNo</td>
                                <td>
                                    @Html.HiddenFor(model => model.Customer.AlternateContactNo)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_AlternateContactNo" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                                <td><b>@Html.LabelFor(model => model.Customer.Race)</b></td>
                                <td>@Util.GetNameByID(RefType.Race, Model.Customer.RaceID)</td>
                                <td>
                                    @Html.HiddenFor(model => model.Customer.RaceID)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_RaceID" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(model => model.Customer.PostpaidMobileNo)</b></td>
                                <td>@Model.Customer.PostpaidMobileNo</td>
                                <td>
                                    @Html.HiddenFor(model => model.Customer.PostpaidMobileNo)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_PostpaidMobileNo" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                                <td><b>@Html.LabelFor(model => model.StatusID)</b></td>
                                <td>@Util.GetNameByID(RefType.Status, Model.StatusID)</td>
                                <td>
                                    @Html.HiddenFor(model => model.StatusID)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_Status" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(model => model.Customer.EmailAddr)</b></td>
                                <td>@Model.Customer.EmailAddr</td>
                                <td>
                                    @Html.HiddenFor(model => model.Customer.EmailAddr)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_Email" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                            </tr>
                            @if (Model.RegTypeID == regTypeHC)
                            {
                                <tr>
                                    <td><b>@Html.LabelFor(model => model.Customer.BizRegNo)</b></td>
                                    <td>@Model.Customer.BizRegNo</td>
                                    <td>
                                        @Html.HiddenFor(model => model.Customer.BizRegNo)
                                        @if (isCopy)
                                        { 
                                            <button id="btnCopy_BizRegNo" type="button" 
                                                class="button-copy">
                                            </button>
                                        }
                                    </td>
                                    <td><b>@Html.LabelFor(model => model.Customer.BizRegName)</b></td>
                                    <td>@Model.Customer.BizRegName</td>
                                    <td>
                                        @Html.HiddenFor(model => model.Customer.BizRegName)
                                        @if (isCopy)
                                        { 
                                            <button id="btnCopy_BizRegName" type="button" 
                                                class="button-copy">
                                            </button>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>@Html.LabelFor(model => model.Customer.SignatoryName)</b></td>
                                    <td>@Model.Customer.SignatoryName</td>
                                    <td>
                                        @Html.HiddenFor(model => model.Customer.SignatoryName)
                                        @if (isCopy)
                                        { 
                                            <button id="btnCopy_SignatoryName" type="button" 
                                                class="button-copy">
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                            
                        </table>
                        <div class="title">B. Billing Address</div>
                        <table>
                            <tr>
                                <td><b>@Html.LabelFor(model => model.AddressVM.BillingAddress.Line1)</b></td>
                                <td colspan="4">@Html.Raw(Model.AddressVM.BillingAddress.Line1)</td>
                                <td>
                                    @Html.HiddenFor(model => model.AddressVM.BillingAddress.AddressTypeID)
                                    @Html.HiddenFor(model => model.AddressVM.BillingAddress.Line1)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_Line1" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                            </tr>
                            @if (!string.IsNullOrEmpty(Model.AddressVM.BillingAddress.Line2))
                            { 
                                <tr>
                                    <td><b>@Html.LabelFor(model => model.AddressVM.BillingAddress.Line2)</b></td>
                                    <td colspan="4">@Html.Raw(Model.AddressVM.BillingAddress.Line2)</td>
                                    <td>
                                        @Html.HiddenFor(model => model.AddressVM.BillingAddress.Line2)
                                        @if (isCopy)
                                        { 
                                            <button id="btnCopy_Line2" type="button" 
                                                class="button-copy">
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td><b>@Html.LabelFor(model => model.AddressVM.BillingAddress.Town)</b></td>
                                <td>@Html.Raw(Model.AddressVM.BillingAddress.Town)</td>
                                <td>
                                    @Html.HiddenFor(model => model.AddressVM.BillingAddress.Town)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_Town" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                                <td><b>@Html.LabelFor(model => model.AddressVM.BillingAddress.Postcode)</b></td>
                                <td>@Html.Raw(Model.AddressVM.BillingAddress.Postcode)</td>
                                <td>
                                    @Html.HiddenFor(model => model.AddressVM.BillingAddress.Postcode)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_Postcode" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(model => model.AddressVM.BillingAddress.StateID)</b></td>
                                <td>@Html.Raw(Util.GetNameByID(RefType.State, Model.AddressVM.BillingAddress.StateID))</td> 
                                <td>
                                    @Html.HiddenFor(model => model.AddressVM.BillingAddress.StateID)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_StateID" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                            </tr>
                        </table>
                        <div class="title">C. Installation Address</div>
                        <table>
                            <tr>
                                <td><b>@Html.LabelFor(model => model.AddressVM.InstallationAddress.UnitNo)</b></td>
                                <td colspan="4">@Html.Raw(Model.AddressVM.InstallationAddress.UnitNo)</td>
                                <td>
                                    @Html.HiddenFor(model => model.AddressVM.InstallationAddress.AddressTypeID)
                                    @Html.HiddenFor(model => model.AddressVM.InstallationAddress.Line1)
                                    @Html.HiddenFor(model => model.AddressVM.InstallationAddress.UnitNo)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_UnitNo" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(model => model.AddressVM.InstallationAddress.Street)</b></td>
                                <td colspan="4">@Html.Raw(Model.AddressVM.InstallationAddress.Street)</td>
                                <td>
                                    @Html.HiddenFor(model => model.AddressVM.InstallationAddress.Street)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_Street1" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(model => model.AddressVM.InstallationAddress.BuildingNo)</b></td>
                                <td colspan="4">@Html.Raw(Model.AddressVM.InstallationAddress.BuildingNo)</td>
                                <td>
                                    @Html.HiddenFor(model => model.AddressVM.InstallationAddress.BuildingNo)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_BuildingNo1" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(model => model.AddressVM.InstallationAddress.Town)</b></td>
                                <td>@Html.Raw(Model.AddressVM.InstallationAddress.Town)</td>
                                <td>
                                    @Html.HiddenFor(model => model.AddressVM.InstallationAddress.Town)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_Town1" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                                <td><b>@Html.LabelFor(model => model.AddressVM.InstallationAddress.Postcode)</b></td>
                                <td>@Html.Raw(Model.AddressVM.InstallationAddress.Postcode)</td>
                                <td>
                                    @Html.HiddenFor(model => model.AddressVM.InstallationAddress.Postcode)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_Postcode1" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(model => model.AddressVM.InstallationAddress.StateID)</b></td>
                                <td>@Html.Raw(Util.GetNameByID(RefType.State, Model.AddressVM.InstallationAddress.StateID))</td> 
                                <td>
                                    @Html.HiddenFor(model => model.AddressVM.InstallationAddress.StateID)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_StateID1" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                                <td>
                                    @Html.HiddenFor(model => model.AddressVM.InstallationFullAddress)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_InstallationFullAddress" type="button" 
                                            class="button-copy-full">
                                        </button>
                                    }
                                </td>
                            </tr>
                        </table>
                        <div class="title">D. Permanent Address</div>
                        <table>
                            <tr>
                                <td><b>@Html.LabelFor(model => model.AddressVM.PermanentAddress.Line1)</b></td>
                                <td colspan="4">@Html.Raw(Model.AddressVM.PermanentAddress.Line1)</td>
                                <td>
                                    @Html.HiddenFor(model => model.AddressVM.PermanentAddress.AddressTypeID)
                                    @Html.HiddenFor(model => model.AddressVM.PermanentAddress.Line1)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_Line12" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                            </tr>
                            @if (!string.IsNullOrEmpty(Model.AddressVM.PermanentAddress.Line2))
                            { 
                                <tr>
                                    <td><b>@Html.LabelFor(model => model.AddressVM.PermanentAddress.Line2)</b></td>
                                    <td colspan="4">@Html.Raw(Model.AddressVM.PermanentAddress.Line2)</td>
                                    <td>
                                        @Html.HiddenFor(model => model.AddressVM.PermanentAddress.Line2)
                                        @if (isCopy)
                                        { 
                                            <button id="btnCopy_Line22" type="button" 
                                                class="button-copy">
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td><b>@Html.LabelFor(model => model.AddressVM.PermanentAddress.Town)</b></td>
                                <td>@Html.Raw(Model.AddressVM.PermanentAddress.Town)</td>
                                <td>
                                    @Html.HiddenFor(model => model.AddressVM.PermanentAddress.Town)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_Town2" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                                <td><b>@Html.LabelFor(model => model.AddressVM.PermanentAddress.Postcode)</b></td>
                                <td>@Html.Raw(Model.AddressVM.PermanentAddress.Postcode)</td>
                                <td>
                                    @Html.HiddenFor(model => model.AddressVM.PermanentAddress.Postcode)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_Postcode2" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(model => model.AddressVM.PermanentAddress.StateID)</b></td>
                                <td>@Html.Raw(Util.GetNameByID(RefType.State, Model.AddressVM.PermanentAddress.StateID))</td> 
                                <td>
                                    @Html.HiddenFor(model => model.AddressVM.PermanentAddress.StateID)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy_StateID2" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                            </tr>
                        </table>
                        <div class="title">E. Monthly Bill Settlement Preference</div>
                        <table>
                            @Html.HiddenFor(model => model.Customer.PayModeID)
                            @if (Model.Customer.PayModeID == Util.GetPaymentModeID(PAYMENTMODE.Cash))
                            { 
                                <tr>
                                    <td><b>@Html.LabelFor(model => model.Customer.PayModeID)</b></td>
                                    <td>@Html.Raw(Util.GetNameByID(RefType.PaymentMode, Model.Customer.PayModeID))</td> 
                                    <td>
                                        
                                        @if (isCopy)
                                        { 
                                            <button id="btnCopy_PayModeID" type="button" 
                                                class="button-copy">
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                            else if (Model.Customer.PayModeID == Util.GetPaymentModeID(PAYMENTMODE.AutoBilling))
                            { 
                                <tr>
                                    <td><b>@Html.LabelFor(model => model.Customer.CardTypeID)</b></td>
                                    <td>@Html.Raw(Util.GetNameByID(RefType.CardType, Model.Customer.CardTypeID.Value))</td> 
                                    <td>
                                        @Html.HiddenFor(model => model.Customer.CardTypeID)
                                        @if (isCopy)
                                        { 
                                            <button id="btnCopy_CardTypeID" type="button" 
                                                class="button-copy">
                                            </button>
                                        }
                                    </td>
                                    <td><b>@Html.LabelFor(model => model.Customer.CardNo)</b></td>
                                    <td>@Html.Raw(Model.Customer.CardNo)</td>
                                    <td>
                                        @Html.HiddenFor(model => model.Customer.CardNo)
                                        @if (isCopy)
                                        { 
                                            <button id="btnCopy_CardNo" type="button" 
                                                class="button-copy">
                                            </button>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>@Html.LabelFor(model => model.Customer.CardExpiryDate)</b></td>
                                    <td>@Html.Raw(Model.Customer.CardExpiryDate)</td>
                                    <td>
                                        @Html.HiddenFor(model => model.Customer.CardExpiryDate)
                                        @if (isCopy)
                                        { 
                                            <button id="btnCopy_CardExpiryDate" type="button" 
                                                class="button-copy">
                                            </button>
                                        }
                                    </td>
                                    <td><b>@Html.LabelFor(model => model.Customer.NameOnCard)</b></td>
                                    <td>@Html.Raw(Model.Customer.NameOnCard)</td>
                                    <td>
                                        @Html.HiddenFor(model => model.Customer.NameOnCard)
                                        @if (isCopy)
                                        { 
                                            <button id="btnCopy_NameOnCard" type="button" 
                                                class="button-copy">
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                        <div class="title">F. Validation</div>
                        <table  style="padding:0px">
                            <tr>
                                <td><b>@Html.LabelFor(model => model.BlacklistInternal)</b></td>
                                @if (Model.RegID == 0)
                                {
                                    if (Session["RegHomeReg_InternalBlacklist"].ToBool())
                                    { 
                                        <td>Failed</td>
                                    }
                                    else
                                    { 
                                        <td>Passed</td>
                                    }
                                }
                                else
                                {
                                    if (Model.BlacklistInternal)
                                    {
                                        <td>Failed</td>
                                    }
                                    else
                                    {
                                        <td>Passed</td>
                                    }
                                }
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(model => model.BlacklistExternal)</b></td>
                                @if (Model.RegID == 0)
                                {
                                    if (Session["RegHomeReg_ExternalBlacklist"].ToBool())
                                    { 
                                        <td>Failed</td>
                                    }
                                    else
                                    {
                                        <td>Passed</td>
                                    }
                                }
                                else
                                {
                                    if (Model.BlacklistExternal)
                                    {
                                        <td>Failed</td>
                                    }
                                    else
                                    {
                                        <td>Passed</td>
                                    }
                                }
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(model => model.BiometricVerify)</b></td>
                                @if (Model.RegID == 0)
                                {
                                    if (Session["RegHomeReg_BiometricVerify"].ToBool())
                                    { 
                                        <td>Passed</td>
                                    }
                                    else
                                    { 
                                        <td>Failed</td>
                                    }
                                }
                                else
                                {
                                    if (Model.BiometricVerify)
                                    {
                                        <td>Passed</td>
                                    }
                                    else
                                    {
                                        <td>Failed</td>
                                    }
                                }
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(model => model.DuplicateCheck)</b></td>
                                @if (Model.RegID == 0)
                                {
                                    if (Session["RegHomeReg_SkipDuplicate"].ToBool())
                                    { 
                                        <td>True</td>
                                    }
                                    else
                                    { 
                                        <td>False</td>
                                    }
                                }
                                else
                                {
                                    if (Model.DuplicateCheck)
                                    {
                                        <td>True</td>
                                    }
                                    else
                                    {
                                        <td>False</td>
                                    }
                                }
                            </tr>
                        </table>
                        @*<table  style="padding:0px">
                            <tr>
                                <td><b>Blacklist Internal</b></td>
                                <td>Passed</td>
                            </tr>
                            <tr>
                                <td><b>Blacklist External</b></td>
                                <td>Passed</td>
                            </tr>
                            <tr>
                                <td><b>Biometric Verification</b></td>
                                <td>Passed</td>
                            </tr>
                        </table>*@

                        <div class="title">F. For Office Use</div>
                        <table  style="padding:0px">
                            <tr>
                                <td><b>@Html.LabelFor(model => model.AddressVM.Registration.SalesPerson)</b></td>
                                <td>@Html.Raw(Model.AddressVM.Registration.SalesPerson)</td>
                                <td>
                                    @Html.HiddenFor(model => model.AddressVM.Registration.SalesPerson)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy2_SalesPerson" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(model => model.AddressVM.Registration.RFSalesDT)</b></td>
                                <td>@Html.Raw(Util.FormatDate(Model.AddressVM.Registration.RFSalesDT))</td>
                                <td>
                                    @Html.HiddenFor(model => model.AddressVM.Registration.RFSalesDT)
                                    @if (isCopy)
                                    { 
                                        <button id="btnCopy2_RFSalesDT" type="button" 
                                            class="button-copy">
                                        </button>
                                    }
                                </td>
                            </tr>
                        </table>

                        @if (Model.RegStatusResult.Count() > 0)
                        {
                            if (isSearch)
                            {
                                <div class="title">G. Status Log
                                    @if (Roles.IsUserInRole("HREG_LOGC"))
                                    {
                                        if (Model.StatusID != statusCancel && Model.StatusID != statusComplete && Model.StatusID != statusReject)
                                        {
                                        <div style="float:right;margin:-5px 0px 0px 0px;">
                                            <button id="btnAddStatus" type="button">Add
                                            </button>
                                        </div>
                                        }
                                    }
                                    
                                </div>
                                <br />
                            <div style="width:500px;height:350px;overflow-y:auto;border:1px solid lightgray;">
                            @{
                                Html.Telerik().Grid(Model.RegStatusResult)
                                    .Name("gvwRegStatus")
                                    .Footer(false)
                                    .HtmlAttributes(new { style = "width:900px" })
                                    //.TableHtmlAttributes(new { style = "border-radius:10px" })
                                    //.Selectable().DataKeys(a => a.Add("RegStatusID"))
                                    //.ClientEvents(events => events.OnRowSelect("onRowSelected"))
                                    //.Scrollable()
                                    .Columns(cols =>
                                    {
                                        cols.Bound(m => m.RegStatus).Title("Status");
                                        cols.Bound(m => m.ReasonCode).Title("Reason Code");
                                        cols.Bound(m => m.Remark).Title("Remark");
                                        cols.Template(@<text>@Util.FormatDate(item.StatusLogDT)</text>).Title("Scheduled Date");
                                        cols.Template(@<text>@Util.FormatDateTime(item.CreateDT)</text>).Title("Create Date");
                                        cols.Bound(m => m.LastAccessID).Title("Last Access ID");
                                        cols.Bound(m => m.ModemID).Title("Modem ID");
                                        cols.Bound(m => m.KenanAccountNo).Title("Kenan Account No.");
                                    })
                                    .Render();
                                }
                                </div>
                            }
                        }
                    </td>
                </tr>
            </table>
        </div>        
        <div style="float: right;">
            @Html.Partial("_OrderSummary", (HomeOrderSummaryVM)Session["RegHomeReg_OrderSummary"])
        </div>
    </div>
}


@{
    Html.Telerik().Window()
            .Name("addStatusWindow")
            .Title("ADD STATUS LOG")
            .Width(500)
            .Height(250)
            .Content(@<text>
                        @using (Html.BeginForm("StatusLog", "HomeRegistration", FormMethod.Post, new { id = "frmStatusLog", @class = "overlayonsubmit", processmsg = "Loading" }))
                        { 
                            @Html.HiddenFor(a => a.RegID)
                            <table width="100%">
                                <tr>
                                    @if (Model.StatusID != 0)
                                    {
                                        <td><b>@Html.LabelFor(model => model.RegStatusID)</b></td>
                                        <td>
                                            @Html.Telerik().DropDownListFor(model => model.RegStatusID).ClientEvents(events => events.OnChange("populateReasonCode")).BindTo(Util.GetLogStatusList(Model.StatusID))
                                            @Html.ValidationMessageFor(model => model.RegStatusID)
                                        </td>
                                    }
                                    
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div id="divReasonCode" style=" display:none;">
                                           <table>
                                            <tr>
                                                <td><b>@Html.LabelFor(model => model.RegStatus.ReasonCodeID)</b></td>
                                                <td></td><td></td>
                                                <td>@Html.Telerik().DropDownListFor(model => model.RegStatus.ReasonCodeID).DropDownHtmlAttributes(new { style = "width:300px" })</td>
                                            </tr>
                                           </table>
                                        </div>
                                    </td>
                                </tr>
                                @*<div id="divRegistration" style=" display:none;">
                                    <tr>
                                        <td><b>@Html.LabelFor(model => model.AddressVM.Registration.ModemID)</b></td>
                                        <td>@Html.TextBoxFor(model => model.AddressVM.Registration.ModemID)</td>
                                    </tr>
                                    <tr>
                                        <td><b>@Html.LabelFor(model => model.AddressVM.Registration.KenanAccountNo)</b></td>
                                        <td>@Html.TextBoxFor(model => model.AddressVM.Registration.KenanAccountNo)</td>
                                    </tr>
                                </div>*@
                                <tr>
                                    <td colspan="2">
                                        <div id="divRegistration" style=" display:none;">
                                           <table>
                                            <tr>
                                                <td><b>@Html.LabelFor(model => model.ModemID)</b></td>
                                                <td>@Html.TextBoxFor(model => model.ModemID)</td>
                                            </tr>
                                            <tr>
                                                <td><b>@Html.LabelFor(model => model.KenanAccountNo)</b></td>
                                                <td>@Html.TextBoxFor(model => model.KenanAccountNo)</td>
                                            </tr>
                                           </table>
                                        </div>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td = colspan="2">
                                        <div id="divStatusLogDT" style="display:none;">
                                            <table>
                                                <tr>
                                                    <td><b>@Html.LabelFor(model => model.RegStatus.StatusLogDT)</b></td>
                                                    <td>
                                                        @{
                                    Html.Telerik().DatePickerFor(model => model.RegStatus.StatusLogDT)
                                    .HtmlAttributes(new { style = "width:300px" })
                                    .InputHtmlAttributes(new { @readonly = "readonly" })
                                        .Format(Util.GetDateFormatString())
                                        //.Min(DateTime.Now.AddDays(7))
                                    .Render();
                                                        }
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top"><b>@Html.LabelFor(model => model.RegStatus.Remark)</b></td>
                                    <td>@Html.TextAreaFor(model => model.RegStatus.Remark, new { style = "width:270px" })</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td align="right">
                                        <button type="submit" >Submit
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        }
                        </text>)
            .Modal(true)
            .Visible(false)
            .Render();

    Html.Telerik().ScriptRegistrar()
            .OnDocumentReady(@<text>
            // open the initially hidden window when the button is clicked
            $('#btnAddStatus')
                .click(function(e) {
                    e.preventDefault();
                    $('#addStatusWindow').data('tWindow').center().open();
                });
        </text>); 
}

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            var path = '@(Util.GetAbsoluteAppPath("/Flash/ZeroClipboard.swf"))';
            ZeroClipboard.setMoviePath(path);


            var btns = $('button[id^="btnCopy_"]');

            $.each(btns, function (index, btn) {

                var clip = new ZeroClipboard.Client();

                clip.addEventListener('mousedown', function () {
                    clip.setText($(btn).prev().val());
                });

                clip.glue($(btn).attr("id"));

            });
            $('#menuHomeReg').css("background-image", $('#menuHomeReg').css("background-image").replace(".png", "_hover.png"));
        });

        function SubmitForm() {

            $('#submit1').val('addStatus');
            //document.forms['frmHomeRegSummary'].submit();
            $("#frmHomeRegSummary").submit();
            //alert($(document.forms['frmHomeRegSummary']).attr("id"));
                
        }

        function populateReasonCode() {
            var statusDropDown = $(this).data('tDropDownList');
            var statusID = statusDropDown.value();
            var ddlReasonCode = $('#RegStatus_ReasonCodeID').data('tDropDownList');
            var lstReasonCode = $('#lstReasonCode');
            
            //select nothing for Status
            if (statusID == "" || statusID == 0) {
                var dataSource =
                [
                    { Text: "Non Applicable", Value: "" }
                ];

//                ddlReason1.dataBind(dataSource);
//                ddlReason1.select(0);
                ddlReasonCode.dataBind(dataSource);
                ddlReasonCode.select(0);
                $("#divReasonCode").hide();
            }
            else {
                var url = '@(Url.Content("~/HomeRegistration/GetReasonCodeByStatus"))';
                $.post(url, { statusID: statusID }, function (data) {
                    
                    if (data.length > 1) {
                        $("#divReasonCode").show();
                    }
                    else {
                        $("#divReasonCode").hide();
                    }
                    var ddlReasonCode = $('#RegStatus_ReasonCodeID').data('tDropDownList');

                    var dataSource = $.map(data, function (item) {
                        return { Text: item.Text, Value: item.Value }
                        
                    });

                    ddlReasonCode.dataBind(dataSource);
                    ddlReasonCode.select(0);
                });
                var url1 = '@(Url.Content("~/HomeRegistration/GetHasStatusDate"))';
                $.post(url1, { statusID: statusID }, function (data) {

                    if (data == true) {
                        $("#divStatusLogDT").show();
                    }
                    else {
                        $("#divStatusLogDT").hide();
                    }
                    
                });
                if (statusID == @(statusConfirm)) {
                        $("#divRegistration").show();
                        
                        enableRegistrationDiv();
                    }
                    else {
                        $("#divRegistration").hide();
                        disableRegistrationDiv();
                };
            }
        }

        function enableRegistrationDiv() {
            $("#divRegistration :input").removeAttr("disabled");
        }

        function disableRegistrationDiv() {
            $("#divRegistration :input").attr("disabled", true);
        }
    </script>
}


@section Styles{
    <style type="text/css">
    
        .title
        {
            text-transform:uppercase;
            width:500px;
            border-bottom: 1px solid lightgray;
            font-weight:bold;
            color: #7cb44f;
            padding: 10px 0px 5px 0px;
        }
    </style>
}
