﻿@{
    ViewBag.Title = "HomeRegCanceled";
}


@model int
           
<h2>Registration has been canceled successfully.</h2>
<h4>
    Click 
        @Html.ActionLink("HERE", "HomeRegSummary", new { regID = Html.DisplayForModel() }, new { style = "color:red;font-weight:bold;text-decoration:none" }) 
    to view registration.
</h4>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#menuHomeReg').css("background-image", $('#menuHomeReg').css("background-image").replace(".png", "_hover.png"));
        });
    </script>
}