﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web;
@using SNT.Utility;
@using Online.Registration.Web.Properties;
@model Online.Registration.Web.ViewModels.AddressVM

@{
    ViewBag.Title = "Installation Address";
    var isDevelopmentMode = Settings.Default.DevelopmentModeOn;
    var mxxx = Model;
}

@using (Html.BeginForm("InstallationAddress", "HomeRegistration", FormMethod.Post, new { id = "frmInstallationAddress", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    <div class="vwHeader">
        <table width="100%">
            <tr>
                <td>
                    <div>@ViewBag.Title</div>
                    <div class="vwSubHeader">
                        <div style="float:left;font-weight:bold;font-size:small;">Home > Address  </div>
                        <div style="float:left;margin-top:2px;padding-left:2px;">> Customer > Plan > Optional Package > Summary </div>
                    </div>
                </td>
                <td align="right">
                    @*<button class="button-back cancel" type="submit" value="Back" onclick="$('#TabNumber').val(1);">
                    </button>*@
                    <button class="button-continue" type="submit" value="Next" onclick="$('#TabNumber').val(1);">
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
        <div style="float: left;">
            <div style="font-size:x-large;padding:10px 0px 10px 0px;">Step @(Session["RegHomeStepNo"].ToInt()): @ViewBag.Title</div>
            @Html.ValidationSummary(false)
            
            @Html.Hidden("submit")
            <table>
                @Html.HiddenFor(a => a.TabNumber)
                
                @*<tr>
                    <td><b>@Html.LabelFor(model => model.Address.Line1)</b></td>
                    <td>@Html.TextBoxFor(model => model.Address.Line1, new { style = "width:300px" })</td>
                </tr>
                <tr>
                    <td><b>@Html.LabelFor(model => model.Address.Line2)</b></td>
                    <td>@Html.TextBoxFor(model => model.Address.Line2, new { style = "width:300px" })</td>
                </tr>*@
                <tr>
                    <td><b>@Html.LabelFor(model => model.InstallationAddress.UnitNo)</b></td>
                    <td>@Html.TextBoxFor(model => model.InstallationAddress.UnitNo)</td>
                </tr>
                <tr>
                    <td><b>@Html.LabelFor(model => model.InstallationAddress.InstallBuildingNo)</b></td>
                    <td>@Html.TextBoxFor(model => model.InstallationAddress.InstallBuildingNo, new { maxlength = "50" })</td>
                </tr>
                <tr>
                    <td><b>@Html.LabelFor(model => model.InstallationAddress.InstallStreet)</b></td>
                    <td>@Html.TextBoxFor(model => model.InstallationAddress.InstallStreet, new { maxlength = "50" })</td>
                </tr>
                <tr>
                    <td><b>@Html.LabelFor(model => model.InstallationAddress.Town)</b></td>
                    <td>@Html.TextBoxFor(model => model.InstallationAddress.Town)</td>
                </tr>
                <tr>
                    <td><b>@Html.LabelFor(model => model.InstallationAddress.Postcode)</b></td>
                    <td style="vertical-align:bottom">
                        @Html.TextBoxFor(model => model.InstallationAddress.Postcode)
                        @Html.HiddenFor(a => a.ValidatedPostcode)
                        <label id="PostcodeValidationMessage"></label>
                    </td>
                </tr>
                <tr>
                    <td><b>@Html.LabelFor(model => model.InstallationAddress.StateID)</b></td>
                    <td>@(Html.Telerik().DropDownListFor(model => model.InstallationAddress.StateID).BindTo(Util.GetList(RefType.State, defaultValue: "")))</td> 
                </tr>
                <tr>
                    <td><b>@Html.LabelFor(model => model.Registration.InstallationDT)</b></td>
                    <td>
                        @*@{
                            Html.Telerik().DateTimePickerFor(model => model.Registration.InstallationDT)
                                .HtmlAttributes(new { style="width:200px" })
                                .InputHtmlAttributes(new { @readonly = "readonly" })
                                .StartTime("09:00 AM")
                                .EndTime("6:00 PM")
                                .Interval(60)
                                //.Format(Util.GetDateFormatString())
                                .Min(DateTime.Now.AddDays(7))
                                //.ClientEvents(events => events.OnOpen("dtOnOpen"))
                                .ClientEvents(events => events.OnLoad("dtOnLoad"))
                                .Render();
                        }*@
                        @Html.TextBoxFor(model => model.Registration.InstallationDT, new { @class = "installDT" })
                        @*@Html.EditorFor(model => model.Registration.InstallationDT)*@
                    </td>
                </tr>
                <tr>
                    <td><b>@Html.LabelFor(model => model.PreferredInstallationTime)</b></td>
                    <td>@{
                            var minTime = new TimeSpan();
                            var maxTime = new TimeSpan();
                            TimeSpan.TryParse("09:00", out minTime);
                            TimeSpan.TryParse("18:00", out maxTime);
                            //Html.Telerik().DropDownListFor(model => model.PreferredInstallationTime).BindTo(Util.GetList(RefType.State, defaultValue: ""))
                            Html.Telerik().TimePickerFor(model => model.PreferredInstallationTime)
                                .InputHtmlAttributes(new { @readonly = "readonly" })
                                .Min(minTime)
                                .Max(maxTime)
                                .Value("")
                                .Interval(30)
                                .Render();
                        }
                    </td> 
                </tr>
            </table>
        </div>
        <div style="float: right;">
            @Html.Partial("_OrderSummary", (HomeOrderSummaryVM)Session["RegHomeReg_OrderSummary"])
        </div>
    </div>
}

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#menuHomeReg').css("background-image", $('#menuHomeReg').css("background-image").replace(".png", "_hover.png"));
            $('.installDT').datepicker({
                dateFormat: "dd/mm/yy",
                beforeShowDay: noSunday,
                minDate: 7,
                showOn: "button",
                buttonImage: '@(Url.Content("~/Content/images/cal.gif"))',
                buttonImageOnly: true
            });

            function noSunday(date) {
                var day = date.getDay();
                return [(day > 0), ''];
            }; 

        });

        $('#InstallationAddress_Postcode').blur(function () {
            var postcode = $('#InstallationAddress_Postcode').val();

            if ('@(isDevelopmentMode)' == 'False')
            {
                if (postcode != $('#ValidatedPostcode').val()) {
                    var url = '@(Url.Content("~/HomeRegistration/PostcodeValidation"))';
                    $.post(url, { postcode: postcode }, function (data) {
                        if (data != '') {
                            $("#PostcodeValidationMessage").css("color", "red");
                            $('#PostcodeValidationMessage').text(data);
                        }
                        else{
                            $("#PostcodeValidationMessage").css("color", "green");
                            $('#PostcodeValidationMessage').text('Valid Postcode');
                        }
                    });
                }
            }
            $('#ValidatedPostcode').val(postcode)
        });

    </script>
}
