﻿@using Online.Registration.Web.ViewModels
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.RegistrationFormVM
@{
    ViewBag.Title = "PrintMobileHomeRF";
    Layout = "";

    var addrTypeInst = Util.GetIDByCode(RefType.AddressType, Settings.Default.AddressType_Installation);
    var addrTypePerm = Util.GetIDByCode(RefType.AddressType, Settings.Default.AddressType_Residential);
    var addrTypeBill = Util.GetIDByCode(RefType.AddressType, Settings.Default.AddressType_Billing);
    
    var instAddress = Model.Addresses.Where(a => a.AddressTypeID == addrTypeInst).SingleOrDefault();
    var permanentAddress = Model.Addresses.Where(a => a.AddressTypeID == addrTypePerm).SingleOrDefault();
    var billingAddress = Model.Addresses.Where(a => a.AddressTypeID == addrTypeBill).SingleOrDefault();
    }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @{
        Html.Telerik().StyleSheetRegistrar()
            .DefaultGroup(g => g
                .Add("telerik.common.css")
                .Add("telerik.office2010silver.min.css")
            //.Add("Site.css")
            ).Render();
    }
    <style type="text/css">
        
        .rfTable
        {
            width:670px;
            border-spacing:0px;
        }
        .rfTable td
        {
            vertical-align:top;
            font-size:0.8em;
        }
        
        .rfTable .tdHeader
        {
            background-color:Black;
            color:White;
            text-transform:uppercase;
        }
    </style>
</head>
<body>
    <table align="center" width="500px">
        <tr>
            <td>
                <div style="font-size:x-large;font-weight:bolder;float:left;">HOME REGISTRATION FORM</div>
                <div style ="font-size:medium;">&nbsp;&nbsp;&nbsp;RFID: @Model.Registration.ID</div>
                <div style="float:right"><img alt="" src='@Url.Content("~/Content/images/maxislogo.png")' width="70px" height="30px" /></div>
            </td>
        </tr>
        <tr>
            <td style="width:100%">
                <table class="rfTable" width="670px">
                    <tr>
                        <td colspan="4">
                            <table class="rfTable">
                                <tr>
                                    <td style="background-color:Black;color:White;text-transform:uppercase;font-weight:bolder;font-size:small;"><div>A. Individual</div></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td><b>@Html.LabelFor(model => model.Customer.FullName)</b></td>
                        <td>@Util.GetNameByID(RefType.CustomerTitle, Model.Customer.CustomerTitleID) @Model.Customer.FullName</td>
                        <td><b>@Html.LabelFor(model => model.Customer.Gender)</b></td>
                        <td>@(Model.Customer.Gender == "M" ? "Male" : "Female")</td>
                    </tr>
                    <tr>
                        <td><b>@Html.LabelFor(model => model.Customer.IDCardType)</b></td>
                        <td>@Util.GetNameByID(RefType.IDCardType, Model.Customer.IDCardTypeID)</td>
                        <td><b>@Html.LabelFor(model => model.Customer.IDCardNo)</b></td>
                        <td>@Model.Customer.IDCardNo</td>
                    </tr>
                    <tr>
                        <td><b>@Html.LabelFor(model => model.Customer.DateOfBirth)</b></td>
                        <td>@Util.FormatDate(Model.Customer.DateOfBirth)</td>
                        <td><b>@Html.LabelFor(model => model.Customer.LanguageID)</b></td>
                        <td>@Util.GetNameByID(RefType.Language, Model.Customer.LanguageID)</td>
                    </tr>
                    <tr>
                        <td><b>@Html.LabelFor(model => model.Customer.ContactNo)</b></td>
                        <td>@Model.Customer.ContactNo</td>
                        <td><b>@Html.LabelFor(model => model.Customer.NationalityID)</b></td>
                        <td>@Util.GetNameByID(RefType.Nationality, Model.Customer.NationalityID)</td>
                    </tr>
                    <tr>
                        <td><b>@Html.LabelFor(model => model.Customer.AlternateContactNo)</b></td>
                        <td>@Model.Customer.AlternateContactNo</td>
                        <td><b>@Html.LabelFor(model => model.Customer.Race)</b></td>
                        <td>@Util.GetNameByID(RefType.Race, Model.Customer.RaceID)</td>
                    </tr>
                    <tr>
                        <td><b>@Html.LabelFor(model => model.Customer.PostpaidMobileNo)</b></td>
                        <td>@Model.Customer.PostpaidMobileNo</td>
                        <td><b>@Html.LabelFor(model => model.Customer.EmailAddr)</b></td>
                        <td>@Model.Customer.EmailAddr</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <br />
                @*@foreach (var address in Model.Addresses)
                { *@
                    
                    <table class="rfTable" width="670px">
                        <tr>
                            <td colspan="2">
                                <table class="rfTable">
                                    <tr>
                                        <td style="background-color:Black;color:White;text-transform:uppercase;font-weight:bolder;font-size:small;"><div>B. Address</div></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        
                            <tr>
                                <td style="width:120px"><b>@Html.LabelFor(model => model.Addresses[0].Line1)</b></td>
                                <td>@Html.Raw(permanentAddress.Line1)</td>
                            </tr>
                            <tr>
                                <td style="width:120px"><b>@Html.LabelFor(model => model.Addresses[0].Line2)</b></td>
                                <td>@Html.Raw(permanentAddress.Line2)</td>
                            </tr>
                            <tr>
                                <td style="width:120px"><b>@Html.LabelFor(model => model.Addresses[0].Town)</b></td>
                                <td>@Html.Raw(permanentAddress.Town)</td>
                            </tr>
                            <tr>
                                <td style="width:120px"><b>@Html.LabelFor(model => model.Addresses[0].Postcode)</b></td>
                                <td>@Html.Raw(permanentAddress.Postcode)</td>
                            </tr>
                            <tr>
                                <td style="width:120px"><b>@Html.LabelFor(model => model.Addresses[0].StateID)</b></td>
                                <td>@Html.Raw(Util.GetNameByID(RefType.State, permanentAddress.StateID))<br /><br /></td> 
                            </tr>
                    </table>
                @*}*@
                <br />
                <table class="rfTable" width="670px">
                        <tr>
                            <td colspan="2">
                                <table class="rfTable">
                                    <tr>
                                        <td style="background-color:Black;color:White;text-transform:uppercase;font-weight:bolder;font-size:small;"><div>C. Installation Address</div></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        
                            <tr>
                                <td style="width:120px"><b>@Html.LabelFor(model => model.Addresses[0].Line1)</b></td>
                                <td>@Html.Raw(instAddress.Line1)</td>
                            </tr>
                            <tr>
                                <td style="width:120px"><b>@Html.LabelFor(model => model.Addresses[0].Line2)</b></td>
                                <td>@Html.Raw(instAddress.Line2)</td>
                            </tr>
                            <tr>
                                <td style="width:120px"><b>@Html.LabelFor(model => model.Addresses[0].Town)</b></td>
                                <td>@Html.Raw(instAddress.Town)</td>
                            </tr>
                            <tr>
                                <td style="width:120px"><b>@Html.LabelFor(model => model.Addresses[0].Postcode)</b></td>
                                <td>@Html.Raw(instAddress.Postcode)</td>
                            </tr>
                            <tr>
                                <td style="width:120px"><b>@Html.LabelFor(model => model.Addresses[0].StateID)</b></td>
                                <td>@Html.Raw(Util.GetNameByID(RefType.State, instAddress.StateID))<br /><br /></td> 
                            </tr>
                    </table>
                <br />
                <table class="rfTable" width="670px">
                    <tr>
                        <td colspan="2">
                            <table class="rfTable">
                                <tr>
                                    <td style="background-color:Black;color:White;text-transform:uppercase;font-weight:bolder;font-size:small;"><div>D. Billing Address</div></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                        
                        <tr>
                            <td style="width:120px"><b>@Html.LabelFor(model => model.Addresses[0].Line1)</b></td>
                            <td>@Html.Raw(billingAddress.Line1)</td>
                        </tr>
                        <tr>
                            <td style="width:120px"><b>@Html.LabelFor(model => model.Addresses[0].Line2)</b></td>
                            <td>@Html.Raw(billingAddress.Line2)</td>
                        </tr>
                        <tr>
                            <td style="width:120px"><b>@Html.LabelFor(model => model.Addresses[0].Town)</b></td>
                            <td>@Html.Raw(billingAddress.Town)</td>
                        </tr>
                        <tr>
                            <td style="width:120px"><b>@Html.LabelFor(model => model.Addresses[0].Postcode)</b></td>
                            <td>@Html.Raw(billingAddress.Postcode)</td>
                        </tr>
                        <tr>
                            <td style="width:120px"><b>@Html.LabelFor(model => model.Addresses[0].StateID)</b></td>
                            <td>@Html.Raw(Util.GetNameByID(RefType.State, billingAddress.StateID))<br /><br /></td> 
                        </tr>
                </table>
                <br />
                <table class="rfTable" width="670px">
                    <tr>
                        <td colspan="4">
                            <table class="rfTable">
                                <tr>
                                    <td style="background-color:Black;color:White;text-transform:uppercase;font-weight:bolder;font-size:small;"><div>E. Monthly Bill Settlement Preference</div></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:120px;"><b>@Html.LabelFor(model => model.Customer.PayModeID)</b></td>
                        <td>@Html.Raw(Util.GetNameByID(RefType.PaymentMode, Model.Customer.PayModeID))</td> 
                        <td></td>
                        <td></td>

                    </tr>
                    @if (Model.Customer.PayModeID == Util.GetPaymentModeID(PAYMENTMODE.AutoBilling))
                    { 
                        <tr>
                            <td><b>@Html.LabelFor(model => model.Customer.CardNo)</b></td>
                            <td>@Html.Raw(Model.Customer.CardNo)</td>
                            <td><b>@Html.LabelFor(model => model.Customer.NameOnCard)</b></td>
                            <td>@Html.Raw(Model.Customer.NameOnCard)</td>
                        </tr>
                        <tr>
                            <td><b>@Html.LabelFor(model => model.Customer.CardTypeID)</b></td>
                            <td>@Html.Raw(Util.GetNameByID(RefType.CardType, Model.Customer.CardTypeID.Value))</td>
                            <td><b>@Html.LabelFor(model => model.Customer.CardExpiryDate)</b></td>
                            <td>@Html.Raw(Model.Customer.CardExpiryDate)</td>
                        </tr>
                    }
                </table>
                <br />
                <table class="rfTable" width="670px">
                    <tr>
                        <td colspan="4">
                            <table class="rfTable">
                                <tr>
                                    <td style="background-color:Black;color:White;text-transform:uppercase;font-weight:bolder;font-size:small;"><div>F. Service Package</div></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" colspan="4">
                            <table>
                                <tr>
                                    <td valign="top"><b>Plan</b></td>
                                    <td valign="top">
                                        <div style="float:left;border-style:solid;border-width:1px;border-radius:5px;padding:3px 3px 3px 3px;width:200px;">
                                            @Util.GetNameByID(RefType.Package, Model.BundlePackages[0].ChildID)
                                        </div>
                                    </td>
                                    @*@foreach (var suppLineForm in Model.SuppLineForms)
                                    { 
                                        <td valign="top">
                                            <div style="float:left;border-style:solid;border-width:1px;border-radius:5px;padding:3px 3px 3px 3px;width:200px;">
                                                @suppLineForm.SuppLineBdlPkgName
                                            </div>
                                        </td>
                                    }*@
                                </tr>
                                @*<tr>
                                    <td valign="top"><b>VAS</b></td>
                                    <td valign="top">
                                        @if (Model.PackageComponents.Count() > 0)
                                        {
                                            foreach (var pbpc in Model.PackageComponents)
                                            {
                                                <div style="float:left;border-style:solid;border-width:1px;border-radius:5px;margin:1px;padding:3px 3px 3px 3px;width:200px;">
                                                    @Util.GetNameByID(RefType.Component, pbpc.ChildID)
                                                </div>
                                            }
                                        }
                                    </td>
                                    @foreach (var suppLineForm in Model.SuppLineForms)
                                    {
                                        <td valign="top">
                                            @foreach (var vasName in suppLineForm.SuppLineVASNames)
                                            {
                                                <div style="float:left;border-style:solid;border-width:1px;border-radius:5px;margin:1px;padding:3px 3px 3px 3px;width:200px;">
                                                    @vasName
                                                </div>
                                            }
                                        </td>
                                    }
                                </tr>*@
                            </table>
                        </td>
                    </tr>
                </table>
                <br />
                <table class="rfTable" width="670px">
                    <tr>
                        <td colspan="4">
                            <table class="rfTable">
                                <tr>
                                    <td style="background-color:Black;color:White;text-transform:uppercase;font-weight:bolder;font-size:small;"><div>G. Declaration</div></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        I/We hereby declare: <br />
                                        (a) that I/we wish to subscribe for the Services provided by MMSSB; <br />
                                        (b) that the above information provided is true and correct; <br />
                                        @*(c) that I/we have read and agree to be bound by the Terms & Conditions (version 01122011) printed and/or attached hereto and any amendments made thereto. (Compulsory for Individual & Corporate/Company application)*@
                                        (c) that I/we have read and agree to be bound by the following contract terms and all other Terms and Conditions printed and/or attached hereto and any amendments made thereto.
                                    </td>
                                </tr>
                                <tr><td></td></tr>
                                <tr><td></td></tr>
                                <tr><td></td></tr>
                                <tr><td></td></tr>
                                <tr><td></td></tr>
                                <tr><td></td></tr>
                                <tr>
                                    <td>
                                        <div style="float:left">
                                            _________________________ &nbsp;&nbsp;&nbsp; <br />
                                            (a) Applicant's Signature
                                        </div>
                                        <div style="float:left">
                                            _________________________  <br />
                                            Date
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <br />
                <table class="rfTable" width="670px">
                    <tr>
                        <td colspan="4">
                            <table class="rfTable">
                                <tr>
                                    <td style="background-color:Black;color:White;text-transform:uppercase;font-weight:bolder;font-size:small;"><div>H. For Office Use Only</div></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <div><b>Dealer/Sales Code</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            @if(!ReferenceEquals(Model.Registration.ApprovedBlacklistPerson,null))
                                            {
                                                @Html.Raw(Model.Registration.ApprovedBlacklistPerson); 
                                            }
                                            else
                                            {
                                                <text>_____________________________________</text>
                                            }
                                            
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <b>Salesman ID No</b>&nbsp;&nbsp;&nbsp;
                                            ___________________________<br />
                                            <b>Task Completion Date</b>&nbsp;&nbsp;&nbsp;
                                            ___________________________<br /><br />
                                        </div>
                                    </td>
                                </tr>
                                @*<tr>
                                    <td>
                                        <div style="float:left;border-style:solid;border-width:1px;border-radius:5px;padding:3px 3px 3px 3px;width:200px; height:100px;">
                                            For Maxis Centre's/Dealer Stamp
                                        </div>
                                    </td>
                                </tr>*@
                            </table>
                        </td>
                    </tr>
                </table>
                <br />
                <table class="rfTable" width="670px">
                    <tr>
                        <td colspan="4">
                            <table class="rfTable">
                                <tr>
                                    <td style="background-color:Black;color:White;text-transform:uppercase;font-weight:bolder;font-size:small;"><div>I. Terms & Conditions</div></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>GENERAL TERMS AND CONDITIONS</strong><br />
                            This page provides a summary of Our Customer Terms for the Maxis Service and/or Maxis
                            Broadband Services subscribed by you (“Services”) and gives you some important information
                            about what those term cover and your rights and obligations. Please read the information
                            below carefully, as there are some important consequences for you.<br />
                            Please visit our website at http://maxis.com.my/tnc or visit your nearest Maxis Centre to
                            obtain a full copy of Our Customer Terms and the Maxis Privacy Statement. The full customer
                            terms will also be displayed when you log onto the Maxis Services and/or the Maxis Broadband
                            Services. In the event of any inconsistency or conflict between the Terms &amp; Conditions in the
                            summary and that on the website, the full-fledge Terms &amp; Conditions on the website will take
                        prevail.<br />
                        <br />
                        <strong>OTHER TERMS YOU SHOULD BE AWARE OF:</strong><br />
                        What we will do: We are committed to providing the Services to you on an &quot;as is&quot; basis and<br />
                        within a reasonable timeframe only if the Services are available in your area or is technically<br />
                        feasible, if you meet our credit policy requirements and comply with our registration
                        requirements and Our Customer Terms.<br />
                        <br />
                        <strong>What you must do to get the Service:</strong> You will need to:<br />
                        • provide us with accurate and complete information at all times as may be required for<br />
                        availing our Services.<br />
                        • consent to your personal information being used by us in accordance with the Maxis Privacy<br />
                        Statement for provision of the Services.<br />
                        • read and accept Our Customer Terms<br />
                        • ensure that you have the necessary equipment to use the Services.<br />
                        • consent to us and/or our agents to gain access to your premises with prior notice to place<br />
                        our equipment and install our Services.<br />
                        • promptly pay for the monthly service charges and other charges relating to the Services.<br />
                        You will be responsible for all service charges of the Services, whether or not you were the<br />
                        one using the Services.<br />
                        • make sure that payments to us are in full, without any deductions. At our discretion, we can<br />
                        offset, consolidate or combine accounts or transfer monies outstanding in any of your<br />
                        accounts with Maxis or its related companies towards reducing any amounts you owe us<br />
                        for the Services.<br />
                    <br />
                    <strong>Your personal information</strong>: We collect, use and otherwise “process” your personal information
                    as set out in the Maxis Privacy Statement, which also sets out your rights in relation to this
                    information. Please read this carefully. You can find this on our website www.maxis.com.my or
                    visit your nearest Maxis Service Centre. Alternatively, call us on 1800 82 1123 and we can send you
                    a copy<br />
                    <br />
                    Your obligations when you use the Service: You must:<br />
                    • not disclose your log on details to anyone else, or share your Services.<br />
                    • comply with the below terms which can be found on http://maxis.com.my/tnc:<br />
                    - Maxis Fair Usage Policy,<br />
                    - Maxis Service Terms and Conditions as applicable for the services or value added services
                    as may be subscribed by you,<br />
                    - Maxis Broadband Terms & Conditions;<br />
                    - Maxis Home Terms and conditions; and<br />
                    - General Terms and Conditions (collectively 'Our Customer Terms').<br />
                    • not use the Service:<br />
                    - to send spam or unsolicited email messages, and against public interest;<br />
                    - for commercial business purpose or resell Services unless permitted by Maxis; and<br />
                    - for any unlawful purpose such as vice or gambling, infringement of other people's<br />
                    intellectual property, publishing any defamatory or abusive material;<br />
                    - not exceed a total stipulated data volume transmitted per month. If you do so, Maxis
                    reserves the right to take any action if deemed fit.<br />
                    <br />
                    <strong>Upgrade of service plan:</strong> Request for a change of plan is allowed with our approval and with
                    you bearing all related charges.<br />
                    <br />
                    <strong>When we can suspend or cancel your Service:</strong> We may suspend or cancel your Service in a
                    number of circumstances,
                    such as where you breach Our Customer Terms, you do not pay your bill on time, where it is
                    necessary to restore or maintain our network, there is an emergency, the law allows or requires
                    us to do so, you leave your premises, or you become bankrupt or insolvent. If the Service(s)
                    is/are cancelled or suspended, you are required to pay charges outstanding as at
                    cancellation/suspension date. A reconnection charge is payable before we reconnect a
                    cancelled/ suspended Service.<br /><br />
                    <strong>When we can alter the Service:</strong> Maxis reserves the right from time to time to make any
                    changes deemed necessary and/or required either to its services or the Terms & Conditions. End
                    user will be notified of such changes via Maxis portal. Continued usage of the service by the
                    end user will be deemed as acceptance by the end user of the changed or revised Terms &
                    Conditions.<br /><br />
                    <strong>Our/Your liability:</strong> We aim to provide but do not guarantee continuous or fault free services.
                    We are not liable to you in contract, tort (including negligence), or otherwise for any loss or
                    damage [e.g. lost profits or business or consequential losses that you may suffer in connection
                    with the Services (or a failure to provide the Services)]. You agree to indemnify and keep us
                    indemnified against any loss, damage, liability or expenses arising from any claims whatsoever
                    including for libel, invasion of privacy, infringement of intellectual property rights or breach of any
                    law or regulation arising from the use of your Services, whether by you or any other person.<br />
                    <br />
                    <strong>CUSTOMERS TERMS FOR MAXIS SERVICES</strong>
                    <br /><br />A. FIBRE INTERNET SERVICES<br />
                    1. There is a minimum subscription period for the Maxis Services subscribed herein unless
                    specifically stated otherwise by Maxis for a particular service (hereafter the ”Service”).<br />
                    2. The Service is only available in certain coverage areas. Call 123 (from your mobile) or 1800
                    82 1123 or log onto www.maxis.com.my/home to check if you are within the Service
                    coverage area.<br />
                    3. We will call you within seven (7) days of your application for the Services to inform you of
                    our acceptance or rejection of your application. Provision of the Services is at Maxis’ sole
                    discretion.<br />
                    4. You consent for us and/or our agents to gain access to your premises with prior notice to
                    place our equipment and install the Services in your premises;<br />
                    5. The Services will be installed at the address provided. If you need to relocate from the
                    premises stated herein, you shall provide us prior notice. Any such relocation shall be
                    subject to our Service coverage area and relocation charge as may be charged by us. We
                    also have an option to terminate the Services with notice to you if the Services cannot be
                    provided at your relocated premises.<br />
                    6. You are responsible for the safety of our equipment in your premises at all times. Upon
                    termination of the Service, our equipment must be returned in good condition, failing
                    which you may be charged for any loss or damage.<br />
                    7. Services are offered as a package. Suspension, barring or termination of a particular service
                    from the package will cause the other services in the package to be suspended, barred or
                    terminated (as the case may be) as well.<br />
                    8. You may receive a bill for each of the services subscribed for in the package (up to 3 bills).
                    Non-payment for any one of the services may result in suspension or barring of all the
                    services until the outstanding amount is paid.<br />
                    9. Maxis reserves the right to introduce and deliver new services over a shared infrastructure.
                    You may subscribe to such new services or to additional services from Maxis by way of a
                    request to us and the relevant service terms and conditions shall be deemed to be
                    accepted by you upon your acceptance and/or usage of such new and/or additional
                    services. This applies to services that may be provided as a package by Maxis as well.<br />
                    10. The Services as subscribed by you and/or the introduction and delivery of new services over
                    a shared infrastructure are subject to Our Customer Terms made available on our website
                    at http://maxis.com.my/tnc.<br /><br />
                    <strong>B. IMPORTANT TERMS & CONDITIONS TO NOTE BEFORE SIGNING
                    UP FOR SERVICES</strong><br /> 1. These Important Terms & Conditions shall apply for services under Part [A].
                    2. The modem/ONT (Optical Network Terminal) provided at Customers’ premises is the
                    property of Maxis. Upon discontinuation of the service, you must return the complete ONT
                    to Maxis in good working condition, failing which you will be charged. For rate charges,
                    log on to www.maxis.com.my/home.<br />
                    3. The Residential WiFi Modem and DECT phone belongs to the Customer and has a
                    warranty of 12 months (warranty is only for manufacturing defects). Should there be any
                    damage or loss of device, the Customer may purchase another unit from Maxis. Please call
                    1800 82 1123 or 123 from your Maxis Mobile for assistance on technical issues.<br />
                    4. The installation process will take approximately 6-7 hours. You will receive a call from us
                    within 7 days upon registration to confirm your appointment date and time. For any
                    rescheduling or cancellation of the installation appointment date, customers are required
                    to inform Maxis 3 days prior to the appointment date. Maxis reserves the right to charge
                    the Customer RM200 for any late rescheduling or cancellation request.<br />
                    5. A one-time installation fee of RM200 for standard installation is applicable. This
                    installation fee may be subject to change from time to time (as updated on the Home
                    Services website) and covers the first 85 metres (outside your home) from the nearest Fibre
                    Distribution Panel to the Termination Box and the first 15 metres (inside your home) from
                    the Termination Box to the Access Termination Box. Should the length required at the
                    Customer’s premises exceed the said allocated amount, the extra charges will be borne
                    by the Customer. The installation provided is of standard specifications (over wall with
                    clip or cable casing only), cost for any non-standard type of installations, such as over the
                    ceiling, underground ducts, concealed wiring and so on will be borne by the Customer. For
                    rate table guide, please log on to www.maxis.com.my/home.<br />
                    6. You will need to approve the drilling area agreement before Maxis starts any installation.<br />
                    7. You will need to agree on the phone number assigned to you before Maxis activates the
                    service.<br />
                    8. You are allocated free minutes in your package, should you exceed the allocated minutes,
                    you will be charged according to the prevailing rates. For rate charges, log on to
                    www.maxis.com.my/home.<br />
                    9. Speed of service is on best effort basis. Maxis reserves the right to reduce your speed
                    should you exceed the stipulated data volume quota.<br />
                    10. This package comes with a 24-month contract. A penalty of RM500 is applicable should
                    you terminate the service before the end of the 24 months.<br />
                    11. A deposit of RM75 is applicable for Malaysians. For non-Malaysians the deposit is RM500.<br />
                    12. Maxis will not bear any penalty fees that may be charged by your current service provider
                    should you terminate the service before the end of your contract.<br />
                    13. All value added services offered with the respective plans will be available for Customers
                    as long as they subscribe to the Fibre Internet service.<br />
                    14. Balance of quota or unused services are not refundable/returnable and cannot be
                    converted into monetary value.<br />15. To discontinue the service, walk-in to any Maxis Service Centre.<br />
                    The above terms are supplemental to the Our Customer Terms on http://maxis.com.my/tnc.
                    </td>
                        </tr>
  </table>
            </td>
        </tr>
    </table>   

</body>
</html>
