﻿@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "Search Registration";
    var userCenterOrgTypeID = Util.SessionAccess.User.Org.OrgTypeID;
    var dealerCenterOrgTypeID = Util.GetOrgTypeID(ORGTYPE.Dealer);
    var oi = Model;
}
@model Online.Registration.Web.ViewModels.SearchHomeRegistrationVM

@using (Html.BeginForm("SearchRegistration", "HomeRegistration", FormMethod.Post, new { id = "frmSearchRegistration", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    <div class="vwHeader">
        <table width="100%">
            <tr>
                <td>
                    <div>@ViewBag.Title</div>
                    <div class="vwSubHeader">@ViewBag.Title</div>
                </td>
                <td align="right">
                    @*<button class="button-back cancel" type="submit" value="Back" onclick="$('#TabNumber').val(4);">
                    </button>
                    <button class="button-continue" type="submit" value="Next" onclick="$('#TabNumber').val(6);">
                    </button>*@
                </td>
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
        <div style="font-size:x-large;padding:10px 0px 10px 0px;">@ViewBag.Title</div>
        <table>
            <tr>
                <td><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.RegDateFrom)</b></td>
                <td>
                    @{
                        @Html.TextBoxFor(model => model.RegistrationSearchCriteria.RegDateFrom, new { @class = "RegDateFromDT", @Value = Model.RegistrationSearchCriteria == null ? "" : Util.FormatDate(Model.RegistrationSearchCriteria.RegDateFrom) })
                        //Html.Telerik().DatePickerFor(model => model.RegistrationSearchCriteria.RegDateFrom)
                        //.HtmlAttributes(new { style = "width:150px" })
                        //.InputHtmlAttributes(new { @readonly = "readonly" })
                        //.Format(Util.GetDateFormatString())
                        //.Render();
                    }
                </td>

                <td><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.RegDateTo)</b></td>
                <td>
                    @{
                        @Html.TextBoxFor(model => model.RegistrationSearchCriteria.RegDateTo, new { @class = "RegDateToDT", @Value =Model.RegistrationSearchCriteria == null ? "" : Util.FormatDate(Model.RegistrationSearchCriteria.RegDateTo) })
                        //Html.Telerik().DatePickerFor(model => model.RegistrationSearchCriteria.RegDateTo)
                        //.HtmlAttributes(new { style = "width:150px" })
                        //.InputHtmlAttributes(new { @readonly = "readonly" })
                        //.Format(Util.GetDateFormatString())
                        //.Render();
                    }
                </td>
            </tr>
            <tr>
                <td><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.RegID)</b></td>
                <td>@Html.TextBoxFor(model => model.RegistrationSearchCriteria.RegID)</td>

                <td><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.IDCardNo)</b></td>
                <td>@Html.TextBoxFor(model => model.RegistrationSearchCriteria.IDCardNo)</td>

                <td>
                    <button class="" type="submit" value="Search" style="width:40px;height:40px;border-style:none;background-color:White;cursor:pointer">
                        <img alt="" src='@Url.Content("~/Content/images/icon_srch.png")' width="40px" height="40px" />
                    </button>
                </td>
            </tr>
            <tr>
                <td><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.CustName)</b></td>
                <td>@Html.TextBoxFor(model => model.RegistrationSearchCriteria.CustName)</td>
                
                <td><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.StatusID)</b></td>
                <td>@Html.Telerik().DropDownListFor(model => model.RegistrationSearchCriteria.StatusID).BindTo(Util.GetStatusList(STATUSTYPE.Home))</td>
            </tr>
            <tr>
                <td><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.MSISDN)</b></td>
                <td>@Html.TextBoxFor(model => model.RegistrationSearchCriteria.MSISDN)</td>

                @if (userCenterOrgTypeID != dealerCenterOrgTypeID)
                {
                    <td><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.CenterOrgID)</b></td>
                    <td>@Html.Telerik().DropDownListFor(model => model.RegistrationSearchCriteria.CenterOrgID).BindTo(Util.GetList(RefType.Organization, defaultValue: ""))</td>
                }
            </tr>
        </table>
        <br />
        @*@if (Model.RegistrationSearchResults.Count() > 0)
        { *@
            <div style="width:719px;height:380px;overflow-y:auto;border:1px solid lightgray;">
                @{
                Html.Telerik().Grid(Model.RegistrationSearchResults)
                    .Name("gvwRegistration")
                    .Footer(false)
                    .HtmlAttributes(new { style = "width:810px;" })
                    .TableHtmlAttributes(new { style = "border-radius:10px" })
                    .Selectable().DataKeys(a => a.Add("RegID"))
                    .ClientEvents(events => events.OnRowSelect("onRowSelected"))
                    .NoRecordsTemplate("No records to display")
                    .Columns(cols =>
                    {
                        cols.Bound(m => m.RegID).Title("ID");
                        cols.Bound(m => m.RegDate).Title("Date");
                        cols.Bound(m => m.CustomerName).Title("Name");
                        cols.Bound(m => m.CenterOrg).Title("Organization");
                        cols.Bound(m => m.IDCardNo).Title("ID Card No");
                        cols.Bound(m => m.MSISDN).Title("Contact Number");
                        //cols.Template(@<text>@Util.FormatDate(item.RegDate)</text>).Title("Create Date");
                        cols.Bound(m => m.Status).Title("Status");
                        cols.Bound(m => m.LastAccessID).Title("Created By");
                        cols.Bound(m => m.LastUpdateID).Title("Last Updated By");
                    })
                    .Render();
                    }
            </div>
        @*}*@

    </div>
}

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $('.RegDateFromDT').datepicker({
                dateFormat: "dd/mm/yy",
                showOn: "button",
                buttonImage: '@(Url.Content("~/Content/images/cal.gif"))',
                buttonImageOnly: true
            });

            $('.RegDateToDT').datepicker({
                dateFormat: "dd/mm/yy",
                showOn: "button",
                buttonImage: '@(Url.Content("~/Content/images/cal.gif"))',
                buttonImageOnly: true
            });

            $('#menuHomeSearch').css("background-image", $('#menuHomeSearch').css("background-image").replace(".png", "_hover.png"));
        });

        function onRowSelected(e) {
            var ordersGrid = $('#gvwRegistration').data('tGrid');
            regID = e.row.cells[0].innerHTML;

            window.location.href = '@(Url.Content("~/HomeRegistration/HomeRegSummary/"))' + regID;
        }

    </script>
}
