﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.HomePackageVM
@{
    ViewBag.Title = "Select a Plan";
    var pgmBdls = Model.AvailableHomePackages.Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList();
    var bundleNames = Model.AvailableHomePackages.Select(a => a.BundleName).Distinct().ToList();
}

@using (Html.BeginForm("SelectPlan", "HomeRegistration", FormMethod.Post, new { id = "frmSelectPlan", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    <div class="vwHeader">
        <table width="100%">
            <tr>
                <td>
                    <div>@ViewBag.Title</div>
                    <div class="vwSubHeader">
                        <div style="float:left;font-weight:bold;font-size:small;">Home > Address > Customer > Plan  </div>
                        <div style="float:left;margin-top:2px;padding-left:2px;">> Optional Package > Summary </div>
                    </div>
                </td>
                <td align="right">
                    <button class="button-back cancel" type="submit" value="Back" onclick="$('#TabNumber').val(1);">
                        </button>
                    <button class="button-continue" type="submit" value="Next" onclick="$('#TabNumber').val(3);">
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
        <div style="float: left;">
            <div style="font-size:x-large;padding:10px 0px 10px 0px;">Step @(Session["RegHomeStepNo"].ToInt()): @ViewBag.Title</div>
            <table width="500px">
                <tr>
                    <td style="padding-right:30px" valign="middle">
                        @{
                            var i = 1;
                        }
                        @Html.ValidationSummary(false)
                        @Html.HiddenFor(a => a.TabNumber)
                        @Html.HiddenFor(a => a.SelectedPgmBdlPkgCompID)
                        @foreach (var bundleName in bundleNames)
                        { 
                            <div align="center" class="planContent" @if(i % 2 == 0){ <text>style="float: right;"</text> }>
                                <div style="height:70px">
                                    <br />
                                    <div class="header">@pgmBdls.Where(a=>a.bundleName==bundleName).SingleOrDefault().programName</div>
                                    <div class="subheader">@bundleName</div>
                                </div>
                                @{
                            foreach (var package in Model.AvailableHomePackages.Where(a => a.BundleName == bundleName).ToList())
                                    {
                                        var btnPlanID = "btnPlan_" + package.PgmBdlPkgCompID;
                                        var btnPlanDetails = "btnPlnDetails_" + package.PackageCode;
                                        <div style="float:left">
                                            <button id="@btnPlanID" class="cancel btnSelection" style="width:187px;height:55px;" type="button" onclick="SelectedPlan(@btnPlanID,@package.PgmBdlPkgCompID);" >
                                                @package.PackageName
                                            </button>
                                        </div>
                                        <div style="float:right">
                                            <button id="@btnPlanDetails" style="width:33px;height:55px;" type="button" onclick="detailsPlans_OnClick('@btnPlanDetails')"
                                                class="button-plan-details">
                                            </button>
                                        </div>
                                    }
                                }
                            </div>
                            
                            if (i % 2 == 0)
                            { <br /><br /> }
                            i++;
                        }
                    </td>
                </tr>
            </table>
        </div>
        <div style="float: right;">
            @Html.Partial("_OrderSummary", (HomeOrderSummaryVM)Session["RegHomeReg_OrderSummary"])
        </div>
    </div>
}

@{
    Html.Telerik().Window()
        .Name("planDetailsWindow")
        .Title("Plan Details")
        .Width(850)
        .Height(550)
        .ClientEvents(events => events.OnActivate("PlanWindow_popup"))
        .Content(@<text>
                    <table width="100%">
                        <tr>
                            <td><img alt="" id="imgPlanDetails" src="@Url.Content("~/Content/images/Plan/HomeReg_.gif")" /></td>
                            @*<td><img alt="" id="imgPlanDetails" src="../../Content/images/Plan/HomeReg_.gif" /></td>*@
                        </tr>
                    </table>
                    
                </text>)
        .Modal(true)
        .Visible(false)
        .Render();
}

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            //Highlight selected plan
            var planID = $('#SelectedPgmBdlPkgCompID').val();
            if (planID != 0) {
                $('#btnPlan_' + planID).css("border-style", "solid");
            }
            $('#menuHomeReg').css("background-image", $('#menuHomeReg').css("background-image").replace(".png", "_hover.png"));
        });

        function SelectedPlan(btnPlanID, planID) {
            $('#SelectedPgmBdlPkgCompID').val(planID);
            $('button[id^="btnPlan_"]').css("border-style", "none");
            $(btnPlanID).css("border-style", "solid");
        }

        function detailsPlans_OnClick(btnPlanDetails) {
            var code = btnPlanDetails.substring(14);
            var src = $('#imgPlanDetails').attr("src");
            var indexFrom = src.indexOf("HomeReg_") + 8;
            var indexTo = src.indexOf(".gif");
            var oldCode = src.substring(indexFrom, indexTo);
            
            src = src.replace(oldCode, "");
            src = src.replace("HomeReg_", "HomeReg_" + code);
            $('#imgPlanDetails').attr("src", src);
            
            $('#planDetailsWindow').data('tWindow').center().open();
        }
        function PlanWindow_popup() {
            $('#planDetailsWindow').data('t-window').center();
        }
    </script>
}