@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>ISELL</title>
<style type="text/css">

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px; /*background:url(images/error_body.jpg) left top repeat-x;*/ font:bold 22px/26px Arial; color:#444444;
}
p.foot{font:bold 12px/18px Arial; color:#222222;}
p.p2{font:normal 14px/20px Arial; color:#222222; padding:1px 0;}
span{color:#fe0003;}
a img{ border:none;}
a{color:#fe0003; text-decoration:none;}
.logoHolder 
{
	 /* BEGIN  Commented By Performance Tuning Team on 19 Nov 2013 to fix 404 errors*/
	/*background:url(images/headerar.png) left bottom repeat-x;*/
	 /* END  Commented By Performance Tuning Team on 19 Nov 2013 to fix 404 errors*/
	}
-->
</style></head>
<body>
<table width="984" height="363" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="98" align="center" valign="middle" class="logoHolder"><a href="/"><img src="../../Content/images/logo.png" alt="Logo" /></a></td>
  </tr>
  <tr>
    <td height="141" align="center" valign="middle"><p><img src="../../Content/images/error_icon.png" alt="Image" width="120" height="89" /><br />
      The service you are looking for is<br />
    currently not available !  </p>    
    @*<p>@Model.Exception.Message</p>*@
    </td>
  </tr>
  

  <tr>
    <td height="60" align="center" valign="middle">
        <p class="p2">Click 
            <span><a href="../">Here</a></span> to go back<br /> 
        </p>
   </td>
  </tr>

  <tr>
    <td height="18" align="center" valign="middle"><p class="foot"></p></td>
  </tr>
  <tr>
    <td height="26" align="center" valign="middle">&nbsp;</td>
  </tr>
</table>
</body>
</html>

