﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.SubscriberICService;
@{
    ViewBag.Title = "Address";
    string strState = string.Empty;
    #region VLT ADDED CODE
    ///GET THE retrieveAcctListByICResponse TYPE OF OBJECT FROM SESSION IF PPID="E" FOLLOWING SHOULD BE AVAILABLE    
    ///Check Session["PPID"] IF IT CONTAINS 'E' IF EXISTING SET IsExistingUser TO TRUE AGAIN CHECK IF AcctListByICResponse IS NULL THEN SET IT TO FALSE AS NO DATA TO DISPLAY
    retrieveAcctListByICResponse AcctListByICResponse = null;
    CustomizedCustomer CustomerPersonalInfo = null;
    bool IsExistingUser = false;
    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        if (!ReferenceEquals(Session["PPIDInfo"], null))
        {
            ///CHECK IF EXISTING USER THEN ONLY RETRIEVE CUSTOMER INFORMATION
            AcctListByICResponse = (retrieveAcctListByICResponse)Session["PPIDInfo"];
            ///CHECK IF CUSTOMER INFORMATION IS THERE OR NOT
            if (!ReferenceEquals(AcctListByICResponse, null) && !ReferenceEquals(AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList(), null))
            {
                //CustomerPersonalInfo = AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList().FirstOrDefault().Customer;
                CustomerPersonalInfo = Util.GetCustomerList(AcctListByICResponse, Session["ExternalID"] != null ? Session["ExternalID"].ToString() : "0");
                IsExistingUser = true;
            }
        }
    }
    #endregion VLT ADDED CODE  
}
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
<div class="form-row">
    <div class="form-label">
        Address *
    </div>
    <div>
        :
        @if (CustomerPersonalInfo != null)
        {
            if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address1))
            {
            @Html.TextBoxFor(model => model.Address.Line1, new { style = "width:300px", @Value = CustomerPersonalInfo.Address1 })
            }
            else
            {
            @Html.TextBoxFor(model => model.Address.Line1, new { style = "width:300px" })
            }
        }
        else
        {
            @Html.TextBoxFor(model => model.Address.Line1, new { style = "width:300px" })
        }
    </div>
</div>
<div class="form-row">
    <div class="form-label">
    </div>
    <div style="padding-left: 20%;">
        :
        @if (CustomerPersonalInfo != null)
        {
            if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address2))
            {
            @Html.TextBoxFor(model => model.Address.Line2, new { style = "width:300px", @Value = CustomerPersonalInfo.Address2 })
            }
            else
            {
            @Html.TextBoxFor(model => model.Address.Line2, new { style = "width:300px" })
            }
        }
        else
        {
            @Html.TextBoxFor(model => model.Address.Line2, new { style = "width:300px" })
        }
    </div>
</div>
<div class="form-row">
    <div class="form-label">
    </div>
   <div style="padding-left: 20%;">
        :
        @if (CustomerPersonalInfo != null)
        {
            if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address3))
            {
            @Html.TextBoxFor(model => model.Address.Line3, new { style = "width:300px", @Value = CustomerPersonalInfo.Address3 })
            }
            else
            {
            @Html.TextBoxFor(model => model.Address.Line3, new { style = "width:300px" })
            }
        }
        else
        {
            @Html.TextBoxFor(model => model.Address.Line3, new { style = "width:300px" })
        }
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        Postcode *
    </div>
    <div>
        :
        @if (CustomerPersonalInfo != null)
        {
            if (!string.IsNullOrEmpty(CustomerPersonalInfo.PostCode))
            {
            @Html.TextBoxFor(model => model.Address.Postcode, new { @Value = CustomerPersonalInfo.PostCode })
            }
            else
            {
            @Html.TextBoxFor(model => model.Address.Postcode)
            }
        }
        else
        {
            @Html.TextBoxFor(model => model.Address.Postcode)
        }
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        Town/City Name *
    </div>
    <div>
        :
        @if (CustomerPersonalInfo != null)
        {
            if (!string.IsNullOrEmpty(CustomerPersonalInfo.City))
            {
            @Html.TextBoxFor(model => model.Address.Town, new { @Value = CustomerPersonalInfo.City })
            }
            else
            {
            @Html.TextBoxFor(model => model.Address.Town)
            }
        }
        else
        {
            @Html.TextBoxFor(model => model.Address.Town)
        }
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        State/Province *
    </div>
    <div>
        :
        @if (CustomerPersonalInfo != null)
        {
            if (!string.IsNullOrEmpty(CustomerPersonalInfo.State))
            {
@*@(Html.Telerik().DropDownListFor(model => model.Address.StateID).BindTo(Util.GetList(RefType.State, defaultValue: "", selectedValue: IsExistingUser ? CustomerPersonalInfo.State : "")))*@
            @Html.DropDownListFor(model => model.Address.StateID, Util.GetList(RefType.State, defaultValue: "", selectedValue: IsExistingUser ? CustomerPersonalInfo.State : ""))
       strState = IsExistingUser ? CustomerPersonalInfo.State : string.Empty;
            }
            else
            {
            @Html.DropDownListFor(model => model.Address.StateID, Util.GetList(RefType.State, defaultValue: ""))
@*@(Html.Telerik().DropDownListFor(model => model.Address.StateID).BindTo(Util.GetList(RefType.State, defaultValue: "")))   *@
            }
        }
        else
        {
@*@(Html.Telerik().DropDownListFor(model => model.Address.StateID).BindTo(Util.GetList(RefType.State, defaultValue: "")))   *@
            @Html.DropDownListFor(model => model.Address.StateID, Util.GetList(RefType.State, defaultValue: ""))
        }
    </div>
</div>
<script language="javascript" type="text/javascript">
    var state = '@strState';

    if (state != '') {
        var ddl = document.getElementById('Address_StateID');
        //alert(ddl.options.length);
        if (ddl != null) {
            for (i = 0; i < ddl.options.length; i++) {
                // alert(ddl.options[i].value);
                //alert(ddl.options[i].text + " " + ddl.options[i].value)
                if (ddl.options[i].text == state) {
                    // $(this).attr("selected", "selected");
                    //return false;
                    ddl.options[i].setAttribute("selected", "selected")
                    break;
                }
            }
        }
    }
</script>
