﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.SubscriberICService;
@using SNT.Utility;
@{
    ViewBag.Title = "Customer";
    var idCardTypeID = Model.Customer.IDCardTypeID;
    int CustomerTitleIDfromConfig = System.Configuration.ConfigurationManager.AppSettings["CustomerTitleID"] != null ? Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CustomerTitleID"]) : 0;
    var minAge = Session["RegMobileReg_ProgramMinAge"].ToInt();
    var NRICType = Util.GetIDCardTypeID(IDCARDTYPE.NRIC);
    var msisdn = Session["ExternalID"].ToString();
    string idCardTypeName = "";
    ///GET THE retrieveAcctListByICResponse TYPE OF OBJECT FROM SESSION IF PPID="E" FOLLOWING SHOULD BE AVAILABLE    
    ///Check Session["PPID"] IF IT CONTAINS 'E' IF EXISTING SET IsExistingUser TO TRUE AGAIN CHECK IF AcctListByICResponse IS NULL THEN SET IT TO FALSE AS NO DATA TO DISPLAY
    retrieveAcctListByICResponse AcctListByICResponse = null;
    CustomizedCustomer CustomerPersonalInfo = null;
    bool IsExistingUser = false;
    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        if (!ReferenceEquals(Session["PPIDInfo"], null))
        {
            ///CHECK IF EXISTING USER THEN ONLY RETRIEVE CUSTOMER INFORMATION
            AcctListByICResponse = (retrieveAcctListByICResponse)Session["PPIDInfo"];
            ///CHECK IF CUSTOMER INFORMATION IS THERE OR NOT
            if (!ReferenceEquals(AcctListByICResponse, null) && !ReferenceEquals(AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList(), null))
            {
                //CustomerPersonalInfo = AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList().FirstOrDefault().Customer;
                CustomerPersonalInfo = Util.GetCustomerList(AcctListByICResponse, Session["ExternalID"] != null ? Session["ExternalID"].ToString() : "0");

                if (!String.IsNullOrEmpty(CustomerPersonalInfo.NewIC))
                {
                    idCardTypeID = 1; idCardTypeName = "New IC";
                }
                else if (!String.IsNullOrEmpty(CustomerPersonalInfo.PassportNo))
                {
                    idCardTypeID = 2; idCardTypeName = "Passport";
                }
                else if (!String.IsNullOrEmpty(CustomerPersonalInfo.OldIC))
                {
                    idCardTypeID = 3; idCardTypeName = "Old IC";
                }
                else if (!String.IsNullOrEmpty(CustomerPersonalInfo.OtherIC))
                {
                    idCardTypeID = 4; idCardTypeName = "Other IC";
                }
                IsExistingUser = true;
            }

        }
    }    
 
}
@model Online.Registration.Web.ViewModels.PersonalDetailsVM

            <div class="form-row">
                <div class="form-label">Title</div>
                <div >
                    :
                    @Html.Raw(CustomerPersonalInfo.Title)
@*
        @if (CustomerPersonalInfo != null && CustomerPersonalInfo.Title != "")
        {
            
            if (CustomerPersonalInfo.CustomerTitleID != null)
            {
                
                //Model.Customer.CustomerTitleID = CustomerPersonalInfo.CustomerTitleID.ToInt()>0?CustomerPersonalInfo.CustomerTitleID:1;
                
                //Online.Registration.Web.RegistrationSvc.RegistrationServiceClient client = new Online.Registration.Web.RegistrationSvc.RegistrationServiceClient();
                //int titleID = client.GetIdByTitleName(CustomerPersonalInfo.Title);

                List<SelectListItem> objTitleLst = new List<SelectListItem>();
                objTitleLst = Util.GetList(RefType.CustomerTitle, defaultValue: string.Empty);
                string customerTitle = CustomerPersonalInfo.Title;
                if (!customerTitle.EndsWith("."))
                {
                    CustomerPersonalInfo.Title = CustomerPersonalInfo.Title + ".";
                }
                else
                {
                    customerTitle = customerTitle.Substring(0, customerTitle.LastIndexOf('.'));

                }
                objTitleLst = objTitleLst.Where(a => a.Text.ToUpper() == CustomerPersonalInfo.Title.ToUpper() || a.Text.ToUpper() == customerTitle.ToUpper()).ToList();
                int titleID = objTitleLst.FirstOrDefault().Value.ToInt();
                Model.Customer.CustomerTitleID = titleID;
                  
            }
            else
            {
           Model.Customer.CustomerTitleID = 102;
                  
            }
        }
        else
        {
          Model.Customer.CustomerTitleID = 102;
                       
        }*@

        @*if (CustomerPersonalInfo != null && CustomerPersonalInfo.Title.ToString2() != "")*@
        @if (CustomerPersonalInfo != null && !string.IsNullOrWhiteSpace(CustomerPersonalInfo.Title))
        {
            if (CustomerPersonalInfo.CustomerTitleID != null)
            {
                Online.Registration.Web.RegistrationSvc.RegistrationServiceClient client = new Online.Registration.Web.RegistrationSvc.RegistrationServiceClient();
                int titleID = client.GetIdByTitleName(CustomerPersonalInfo.Title);
                Model.Customer.CustomerTitleID = titleID;
            }
            else
            {
                Model.Customer.CustomerTitleID = CustomerTitleIDfromConfig;
            }
        }
        else
        {
            Model.Customer.CustomerTitleID = CustomerTitleIDfromConfig;
        }

          @(Html.HiddenFor(model => model.Customer.CustomerTitleID))  
          
       

                          
                </div>
            </div>
        
            <div class="form-row">
                <div class="form-label">Full Name</div>
                <div >
                    :
                    @Html.Raw(CustomerPersonalInfo.CustomerName)
                    @if (CustomerPersonalInfo.CustomerName != null)
                    {
                        Model.Customer.FullName = CustomerPersonalInfo.CustomerName;
                    }
                    @Html.HiddenFor(model => model.Customer.FullName)
                </div>
            </div>
        
            <div class="form-row">
                <div class="form-label">ID CardNo</div>
                <div style="vertical-align:top">
                    :
                    @Html.Raw(idCardTypeName) - 
                    @{
                        if ((CustomerPersonalInfo.NewIC).ToString2() != "")
                        {
                        @Html.Raw(CustomerPersonalInfo.NewIC)
                        }
                        else if ((CustomerPersonalInfo.OldIC).ToString2() != "")
                        {
                        @Html.Raw(CustomerPersonalInfo.OldIC)
                        }
                        else if ((CustomerPersonalInfo.PassportNo).ToString2() != "")
                        {
                        @Html.Raw(CustomerPersonalInfo.PassportNo)
                        }
                        else if ((CustomerPersonalInfo.OtherIC).ToString2() != "")
                        {
                        @Html.Raw(CustomerPersonalInfo.OtherIC)
                        }
                    
                    }
                    @*<input type="image"  src="@Url.Content("~/content/img/shared/iSELL-Biometric_Button.png")"  onclick="RetrieveMyKadInfo();"  class="biometric-button"/>*@
                    @*@if (Session["IDCardTypeID"].ToInt() == 1)
                    {
                
                        <input id="divBiometrics" class="biometric-button" type="button"  onclick="RetrieveMyKadInfo();" style="margin-top:-11px;width:59px;height:39px;background-image:url(@(Url.Content("~/Content/img/shared/iSELL-Biometric_Button.png")));cursor:pointer;" />
                    }*@
                </div>
            </div>
       
            <div class="form-row">
                <div class="form-label">
                    DOB 
                </div>
                <div style="vertical-align:top">:
                    @if (CustomerPersonalInfo.Dob != null && CustomerPersonalInfo.Dob != "")
                    {
                        <div id="dvDob" style=" display: inline; ">   
                        @{
                            try
                            {                     
                                @Html.Raw(CustomerPersonalInfo.Dob.Substring(6, 2))@Html.Raw("-")

                                @Html.Raw(CustomerPersonalInfo.Dob.Substring(4, 2))@Html.Raw("-") 

                                @Html.Raw(CustomerPersonalInfo.Dob.Substring(0, 4))
                             }
                             catch
                             {
                                @*@Html.Raw(CustomerPersonalInfo.Dob)*@
                                 //Model.DOBDay = DateTime.Now.Day.ToInt();
                                 //Model.DOBMonth = DateTime.Now.Month.ToInt();
                                 //Model.DOBYear = DateTime.Now.Year - 20.ToInt();
                             }
                        }
                            </div>

                    }
                </div>
            </div>
        
            <div class="form-row">
                <div class="form-label">Contact No
                </div>
                <div >:
                    @if (CustomerPersonalInfo != null)
                    {
                        if (CustomerPersonalInfo.Cbr != null && CustomerPersonalInfo.Cbr.Length > 0)
                        {

                            if (!CustomerPersonalInfo.Cbr.StartsWith("6"))
                            {
                                CustomerPersonalInfo.Cbr = "6" + CustomerPersonalInfo.Cbr;
                            }

                           
                        @Html.Raw(CustomerPersonalInfo.Cbr.Replace("-", ""))
                            Model.Customer.ContactNo = CustomerPersonalInfo.Cbr.Replace("-", "");
                        @(Html.HiddenFor(model => model.Customer.ContactNo))
                        }
                        else
                        {
                            @Html.Raw(msisdn)
                            Model.Customer.ContactNo = msisdn;
                        @(Html.HiddenFor(model => model.Customer.ContactNo))
                        }

                    }
                    else
                    {
                        @Html.Raw(msisdn)
                        Model.Customer.ContactNo = msisdn;
                        @(Html.HiddenFor(model => model.Customer.ContactNo))
                    }
                </div>
            </div>
       
    <div style="display: none;">
       @if (Model.Customer.Gender.ToString2() != "")
         {
           Model.Customer.Gender = CustomerPersonalInfo.Gender.ToString2() == "M" ? "Male" : "Female";
       }
       @*else
       {
           Model.Customer.Gender = "N";
       }*@
     @Html.HiddenFor(model => model.Customer.Gender)
        @if (CustomerPersonalInfo != null)
        {
            if (idCardTypeID != null && idCardTypeID != 0)
            {
                Model.Customer.IDCardTypeID = idCardTypeID;
                  @Html.HiddenFor(model => model.Customer.IDCardTypeID)
                
            }
            else
            {
                Model.Customer.IDCardTypeID = idCardTypeID;
                  @Html.HiddenFor(model => model.Customer.IDCardTypeID)
            }
        }
        else
        {
            Model.Customer.IDCardTypeID = idCardTypeID;
                  @Html.HiddenFor(model => model.Customer.IDCardTypeID)
        }
       
        @Html.HiddenFor(model => model.InputIDCardTypeID, new { @Value = idCardTypeID })
        @{
            if (idCardTypeID == 1)
            {
            @Html.HiddenFor(model => model.InputIDCardNo, new { @Value = CustomerPersonalInfo.NewIC })
                Model.Customer.IDCardNo = CustomerPersonalInfo.NewIC;

            }
            else if (idCardTypeID == 2)
            {
                @Html.HiddenFor(model => model.InputIDCardNo, new { @Value = CustomerPersonalInfo.PassportNo })
                Model.Customer.IDCardNo = CustomerPersonalInfo.PassportNo;
            }
            else if (idCardTypeID == 3)
            {
                @Html.HiddenFor(model => model.InputIDCardNo, new { @Value = CustomerPersonalInfo.OldIC })
                Model.Customer.IDCardNo = CustomerPersonalInfo.OldIC;
            }
            else if (idCardTypeID == 4)
            {  
                 @Html.HiddenFor(model => model.InputIDCardNo, new { @Value = CustomerPersonalInfo.OtherIC })
                Model.Customer.IDCardNo = CustomerPersonalInfo.OtherIC;
            }
        }
        @Html.HiddenFor(model => model.Customer.IDCardNo)

        @Html.HiddenFor(model => model.InputNationalityID, new { @Value = CustomerPersonalInfo.NationalityID })
        @if (CustomerPersonalInfo == null)
        {
            @Html.HiddenFor(model => model.DOBDay)
             @Html.HiddenFor(model => model.DOBMonth)
              @Html.HiddenFor(model => model.DOBYear)
        }
        else if (CustomerPersonalInfo != null)
        {
            if ((CustomerPersonalInfo.Dob != null) && (CustomerPersonalInfo.Dob != string.Empty))
            {
                try
                {
                    Model.DOBDay = CustomerPersonalInfo.Dob.Substring(6, 2).ToInt();
                    Model.DOBMonth = CustomerPersonalInfo.Dob.Substring(4, 2).ToInt();
                    Model.DOBYear = CustomerPersonalInfo.Dob.Substring(0, 4).ToInt();
                }
                catch
                {
                    Model.DOBDay = DateTime.Now.Day;
                    Model.DOBMonth = DateTime.Now.Month;
                    Model.DOBYear = DateTime.Now.Year-20;
                   // CustomerPersonalInfo.Dob = Model.DOBDay.ToString() + "-" + Model.DOBMonth.ToString() + "-" + Model.DOBYear.ToString();
                }
            @Html.HiddenFor(model => model.DOBDay)
             @Html.HiddenFor(model => model.DOBMonth)
              @Html.HiddenFor(model => model.DOBYear)
            
            }
            else
            {
                 @Html.HiddenFor(model => model.DOBDay)
             @Html.HiddenFor(model => model.DOBMonth)
              @Html.HiddenFor(model => model.DOBYear)
           
            }
        }
       
        @if (CustomerPersonalInfo.LanguageID.ToInt() > 0)
        {

            Model.Customer.LanguageID = CustomerPersonalInfo.LanguageID;
        }
        else
        {
            Model.Customer.LanguageID = 0;
        }
        @Html.HiddenFor(model => model.Customer.LanguageID)
     

       @if ((Session["IDCardTypeID"].ToString2()) == "2")
       {
           Model.Customer.NationalityID = 132;
            @Html.HiddenFor(model => model.Customer.NationalityID)
       }
       else
       {
           Model.Customer.NationalityID = 1;
            @Html.HiddenFor(model => model.Customer.NationalityID)
       }
        @if (CustomerPersonalInfo.RaceID.ToInt() > 0)
        {
            Model.Customer.RaceID = CustomerPersonalInfo.RaceID;
        }
        else
        {
            Model.Customer.RaceID = 0;
        }
        @Html.HiddenFor(model => model.Customer.RaceID)
    </div>

