﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.SubscriberICService;
@{
    ViewBag.Title = "Address";
    #region VLT ADDED CODE
    ///GET THE retrieveAcctListByICResponse TYPE OF OBJECT FROM SESSION IF PPID="E" FOLLOWING SHOULD BE AVAILABLE    
    ///Check Session["PPID"] IF IT CONTAINS 'E' IF EXISTING SET IsExistingUser TO TRUE AGAIN CHECK IF AcctListByICResponse IS NULL THEN SET IT TO FALSE AS NO DATA TO DISPLAY
    retrieveAcctListByICResponse AcctListByICResponse = null;
    CustomizedCustomer CustomerPersonalInfo = null;
    bool IsExistingUser = false;
    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        if (!ReferenceEquals(Session["PPIDInfo"], null))
        {
            ///CHECK IF EXISTING USER THEN ONLY RETRIEVE CUSTOMER INFORMATION
            AcctListByICResponse = (retrieveAcctListByICResponse)Session["PPIDInfo"];
            ///CHECK IF CUSTOMER INFORMATION IS THERE OR NOT
            if (!ReferenceEquals(AcctListByICResponse, null) && !ReferenceEquals(AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList(), null))
            {
                //CustomerPersonalInfo = AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList().FirstOrDefault().Customer;
                CustomerPersonalInfo = Util.GetCustomerList(AcctListByICResponse, Session["ExternalID"] != null ? Session["ExternalID"].ToString() : "0");
                IsExistingUser = true;
            }
        }
    }
    #endregion VLT ADDED CODE  
}
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
<div class="form-row">
    <div class="form-label">Address</div>
    <div>
    :
    @Html.Raw(CustomerPersonalInfo.Address1)</div>
</div>
@if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address2))
{
    
    <div class="form-row">
        <div class="form-label"></div>
        <div style="padding-left: 20%;" >
        :
        @Html.Raw(CustomerPersonalInfo.Address2)</div>
    </div>
       
}
@if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address3))
{
   
    <div class="form-row">
        <div class="form-label"></div>
        <div style="padding-left: 20%;">
        :

        @Html.Raw(CustomerPersonalInfo.Address3)</div>
    </div>
       
}
<div class="form-row">
    <div class="form-label">Postcode</div>
    <div>
    :
    @Html.Raw(CustomerPersonalInfo.PostCode)</div>
</div>
<div class="form-row">
    <div class="form-label">Town / City</div>
    <div>
    :
    @Html.Raw(CustomerPersonalInfo.City)</div>
</div>
<div class="form-row">
    <div class="form-label">State/Province</div>
   <div> 
   :
   @Html.Raw(CustomerPersonalInfo.State)</div>
</div>
<div style="display: none;">
    @if (CustomerPersonalInfo != null)
    {
        if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address1))
        {
            Model.Address.Line1 = CustomerPersonalInfo.Address1;
        @Html.HiddenFor(model => model.Address.Line1)
        }
        if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address2))
        {
            Model.Address.Line2 = CustomerPersonalInfo.Address2;
        @Html.HiddenFor(model => model.Address.Line2)
        }
        if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address3))
        {
            Model.Address.Line3 = CustomerPersonalInfo.Address3;
        @Html.HiddenFor(model => model.Address.Line3)
        }
        if (!string.IsNullOrEmpty(CustomerPersonalInfo.PostCode))
        {
            Model.Address.Postcode = CustomerPersonalInfo.PostCode;
        @Html.HiddenFor(model => model.Address.Postcode)
        }
        if (!string.IsNullOrEmpty(CustomerPersonalInfo.City))
        {
            Model.Address.Town = CustomerPersonalInfo.City;
        @Html.HiddenFor(model => model.Address.Town)
        }
        if (!string.IsNullOrEmpty(CustomerPersonalInfo.State))
        {
            List<SelectListItem> objStateList = Util.GetList(RefType.State);
            List<SelectListItem> curStateId = objStateList.Where(e => e.Text == CustomerPersonalInfo.State).ToList();
            if (curStateId.Count() > 0)
            {
                Model.Address.StateID = Convert.ToInt32(curStateId[0].Value);

            }
            else
            {
                Model.Address.StateID = 20;
            }
              
        @Html.HiddenFor(model => model.Address.StateID);
        }
        else
        {
            Model.Address.StateID = 20;
        @Html.HiddenFor(model => model.Address.StateID);

        }

    }
</div>
