﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.SubscriberICService;
@using Telerik.Web.Mvc.UI;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Controllers;
@model Online.Registration.Web.Models.SupplementaryListAccounts
@{
    ViewBag.Title = "Customer Account";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    
    var isDealer = Util.SessionAccess.User.isDealer;
    bool newUser = false;
    string status = string.Empty;
    retrieveAcctListByICResponse AcctListByICResponse = null;
    var principlesExist = true;
    var idCardTypeName = Session["PPIDSearchIDType"].ToString2();
    List<string> allowedPrefixes = new List<string>();
    var isUserCCCAbove = WebHelper.Instance.IsUserCCCAbove();
    
    if (SessionManager.Get("PPIDInfo") != null)
    {
        AcctListByICResponse = (retrieveAcctListByICResponse)SessionManager.Get("PPIDInfo");
    }
    
    var principleList = Model.SuppListAccounts.Where(i => i.IsMISM == false).ToList();
    var mismPrimaryList = Model.SuppListAccounts.Where(i => i.IsMISM == true).ToList();
    
    principlesExist = principleList.Any();

    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        newUser = false;
    }
    if (ReferenceEquals(Model, null))
    {
        newUser = true;
    }

    if (System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"] != null)
    {
        allowedPrefixes = System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"].ToString2().Split(',').ToList();
    }
    else
    {
        allowedPrefixes = new List<string>() { "601" };
    }
    
}

<div class="container ipad-container">
    <div class="isell-base">
        <div class="row">
            <div class="col-sm-10">
                <h2 style="padding-left:15px;">
                    Add Multi-SIM
                </h2>
                <h4 style="padding-left:15px;"><span>@AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList().FirstOrDefault().Customer.Title</span> @AcctListByICResponse.itemList.Where(c => c.Account != null).ToList().FirstOrDefault().Account.Holder</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 green-bg">
                <p class="font-24">@ViewBag.Title</p>
            </div>
        </div>

        <div class="row">
        @using (Html.BeginForm("AccountsListMISM", "SuppLine", FormMethod.Post, new { id = "frmCAccounts", defaultbutton = "Continue", onSubmit = "return fnValidateAccountSelection();", @class = "overlayonsubmit", processmsg = "Loading" }))
        {
            @Html.Hidden("hdnMISMLines")

            <div class="col-sm-12">
                <div class="content_white">
                    <div id="ValidationSummary_Error" class="ErrorClass" style="font-size: 16px; color: Red;">@Html.ValidationSummary(false)</div>
                </div>
                <div class="content_white">
                    <div id="Plan_Error" class="ErrorClass" style="font-size: 16px"></div>
                </div>
            </div>
            
            <div class="col-sm-12">
                <div id="DVResultDisplay" class="tab-content">
                    <div class="content search-header">
                        <div class="search-header-box">
                            <div class="search-hdr-title"><p class="device-title">Choose customer account</p></div>
                        </div>
                    </div>
                    <div class="tab-content font-16">
                        <div id="dvError" class="ErrorClass" style="padding-bottom: 10px; color: Red;">
                        </div>
                        @if (!newUser && Model.SuppListAccounts.Count > 0)
                        {
                            var icount = 0;
                            <div id="Grid" class="crp-wrapper">
                                @if (isDealer == true)
                                {
                                    if (idCardTypeName != "MSISDN")
                                    {
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td>
                                                <b>ID No :</b>
                                                @foreach (var Acd in Model.SuppListAccounts)
                                                {
                                                    @Acd.IDNumber
                                                    break;
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                    }
                                }
                                else
                                {
                                     <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td>
                                                <b>ID No :</b>
                                                @foreach (var Acd in Model.SuppListAccounts)
                                                {
                                                    @Acd.IDNumber
                                                    break;
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                }
                                
                                <table width="100%" style="text-align: center;" id="tblSuppList">
                                    <tr>
                                        <td>
                                            @if (!newUser && mismPrimaryList != null && mismPrimaryList.Count > 0)
                                            {
                                    
                                                @Html.Hidden("hdnPrimaryList", mismPrimaryList.Count())

                                                @Html.Hidden("hdnIsSeclineNew")
                                                <div id="dvSecondary" class="crp-wrapper">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="margin-top: 20px;"
                                                        id="tblSecondaryList">
                                                        <tbody>
                                                            <tr style="font-weight:bold" id="tblMismheader">
                                                                <td>
                                                                    Action
                                                                </td>
                                                                <td>
                                                                    Name
                                                                </td>
                                                                @* <td >
                                                                ID No
                                                            </td>*@
                                                                <td>
                                                                    MSISDN
                                                                </td>
                                                                @if (isDealer.ToString2() == "False")
                                                                {
                                                                    <td>
                                                                        Account Number
                                                                    </td>
                                                                    <td>
                                                                        Account Type
                                                                    </td>                                                                    
                                                                    <td>
                                                                    Status
                                                                </td>
                                                                }
                                                                
                                                            </tr>
                                                            @for (int counter = 0; counter < mismPrimaryList.Count; counter++)
                                                            {
                                                                bool checkedState = false;
                                                                var Acd = mismPrimaryList[counter];
                                                                
                                                                if (isDealer == true)
                                                                {
                                                                    checkedState = (counter == 0 ? true : false);
                                                                }
                                                                else
                                                                {
                                                                    //06062015 - Anthony - to preselect the MSISDN for MSIM account list
                                                                    string CurMsisdn = Session[Online.Registration.Web.CommonEnum.SessionKey.IDCardMSiSDNNew.ToString()].ToString2();
                                                                    if (Acd.externalId == CurMsisdn)
                                                                    {
                                                                        checkedState = true;
                                                                    }
                                                                }

                                                                checkedState = mismPrimaryList.Count > 1 ? false : checkedState;
                                                                
                                                                string AccountStatuses3 = "";
                                                                string str = AcctListByICResponse.itemList.Find(a => a.ExternalId == Acd.externalId).ExternalId;

                                                                if (str.Length > 0)
                                                                {
                                                                    status = AcctListByICResponse.itemList.Find(a => a.ExternalId == Acd.externalId).ServiceInfoResponse.serviceStatus;
                                                                }

                                                                bool result = false;
                                                                if (Acd.SecondarySimList != null)
                                                                {
                                                                    List<int> UniqComponents = new List<int>();
                                                                    if (Model.packageModelDictionary.ContainsKey(Acd.externalId))
                                                                    {
                                                                        var packages = Model.packageModelDictionary[Acd.externalId];
                                                                        
                                                                        foreach (var item1 in packages)
                                                                        {
                                                                            for (int i = 0; i < item1.compList.Count; i++)
                                                                            {
                                                                                UniqComponents.Add(item1.compList[i].componentId.ToInt());
                                                                            }

                                                                        }
                                                                    }

                                                                    List<string> dataCompIds = Model.dataComponentIDMISM;
                                                                    
                                                                    foreach (string compid in dataCompIds)
                                                                    {
                                                                        if (UniqComponents.Contains(compid.ToInt()))
                                                                        {
                                                                            result = true;
                                                                            break;
                                                                        }
                                                                        else
                                                                        {
                                                                            result = false;
                                                                        }
                                                                    }
                                                                }

                                                                if (result)
                                                                {
                                                                <tr class="row-body"  id="@Acd.externalId">
                                                                    <td>
                                                                        @{ 

                                                                    var mismSecondaryListCount = 0;
                                                                    if (Acd.SecondarySimList != null)
                                                                    {
                                                                        //06062015 - Anthony - Block for additional MISM line if the count already reach the max line
                                                                        //List<int> lstMISMComponets = new List<int>();
                                                                        //for (int i = 0; i < Acd.SecondarySimList.Count; i++)
                                                                        //{
                                                                        //    if (Model.packageModelDictionary.ContainsKey(Acd.externalId))
                                                                        //    {
                                                                        //        var packages = Model.packageModelDictionary[Acd.externalId];

                                                                        //        foreach (var item1 in packages)
                                                                        //        {
                                                                        //            for (int j = 0; j < item1.compList.Count; j++)
                                                                        //            {
                                                                        //                lstMISMComponets.Add(item1.compList[j].componentId.ToInt());
                                                                        //            }

                                                                        //        }
                                                                        //        if (lstMISMComponets.Contains("44884".ToInt()))
                                                                        //        {
                                                                        //            mismSecondaryListCount = mismSecondaryListCount + 1;
                                                                        //        }
                                                                        //    }
                                                                        //}
                                                                        mismSecondaryListCount = Acd.SecondarySimList.Count;
                                                                    }
                                                                    switch (Acd.AccountStatus)
                                                                    {
                                                                        case "B":
                                                                        AccountStatuses3 = "Barred";
                                                                        break;
                                                                        case "S":
                                                                        AccountStatuses3 = "Suspended";
                                                                        break;
                                                                        case "T":
                                                                        AccountStatuses3 = "Terminated";
                                                                        break;
                                                                        case "A":
                                                                        AccountStatuses3 = "Active";
                                                                        break;
                                                                        case "D":
                                                                        AccountStatuses3 = "Deactive";
                                                                        break;
                                                                        default:
                                                                        AccountStatuses3 = "Active";
                                                                        break;
                                                                    }
                                                                    string curSimType = " - " + Acd.AccountType;
                                                                    if (!Acd.IsMISM)
                                                                    {
                                                                        curSimType = Acd.AccountName + curSimType;
                                                                    }
                                                                    else
                                                                    {
                                                                        curSimType = "MISM" + curSimType;
                                                                    }
                                                                    if (mismSecondaryListCount < Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["MISMMaxCount"].ToString()))
                                                                    {
                                                                            @Html.RadioButton("SelectSecoAccountDtls", Acd.accountIntId + "," + Acd.externalId + "," + Acd.accountExtId + "," + Acd.AccountNumber + "," + Acd.IsMISM + ",SeconList," + status + "," + Acd.Category + "," + Acd.MarketCode, checkedState, new { onclick = "enableContinue()" })
                                                                    }
                                                                    else
                                                                    {
                                                            
                                                                            @Html.RadioButton("SelectSecoAccountDtls", Acd.accountIntId + "," + Acd.externalId + "," + Acd.accountExtId + "," + Acd.AccountNumber + "," + Acd.IsMISM + ",SeconList," + status + "," + Acd.Category + "," + Acd.MarketCode, checkedState, new { onclick = "ExceededMaxMismCount()" })
                                                                    }
                                                                        }
                                                                    </td>
                                                                    <td>@Acd.Holder
                                                                    </td>
                                                                    @*<td>@Acd.IDNumber
                                                                </td>*@
                                                                    <td>@Acd.externalId
                                                                    </td>
                                                                    @if (isDealer.ToString2() == "False")
                                                                    {
                                                                        <td>@Acd.AccountNumber
                                                                        </td>
                                                                        <td>
                                                                            @curSimType
                                                                        </td>                                                                        
                                                                        <td>@AccountStatuses3
                                                                    </td>
                                                                    }
                                                                    
                                                                </tr>
                                                                }
                                                                else
                                                                {
                                                                <tr class="row-body"  id="@Acd.externalId">
                                                                    <td>
                                                                        @{ 

                                                                    var mismSecondaryListCount = 0;
                                                                    if (Acd.SecondarySimList != null)
                                                                    {
                                                                        List<int> lstMISMComponets = new List<int>();
                                                                        for (int i = 0; i < Acd.SecondarySimList.Count; i++)
                                                                        {

                                                                            if (Model.packageModelDictionary.ContainsKey(Acd.externalId))
                                                                            {
                                                                                var packages = Model.packageModelDictionary[Acd.externalId];

                                                                                foreach (var item1 in packages)
                                                                                {

                                                                                    for (int j = 0; j < item1.compList.Count; j++)
                                                                                    {
                                                                                        lstMISMComponets.Add(item1.compList[j].componentId.ToInt());
                                                                                    }

                                                                                }
                                                                                if (lstMISMComponets.Contains("44884".ToInt()))
                                                                                {
                                                                                    mismSecondaryListCount = mismSecondaryListCount + 1;
                                                                                }
                                                                                
                                                                            }
                                                                        }

                                                                        //mismSecondaryListCount = Acd.SecondarySimList.Count();
                                                                    }
                                                                    switch (Acd.AccountStatus)
                                                                    {
                                                                        case "B":
                                                                        AccountStatuses3 = "Barred";
                                                                        break;
                                                                        case "S":
                                                                        AccountStatuses3 = "Suspended";
                                                                        break;
                                                                        case "T":
                                                                        AccountStatuses3 = "Terminated";
                                                                        break;
                                                                        case "A":
                                                                        AccountStatuses3 = "Active";
                                                                        break;
                                                                        case "D":
                                                                        AccountStatuses3 = "Deactive";
                                                                        break;
                                                                        default:
                                                                        AccountStatuses3 = "Active";
                                                                        break;
                                                                    }
                                                                    string curSimType = " - " + Acd.AccountType;
                                                                    if (!Acd.IsMISM)
                                                                    {
                                                                        curSimType = Acd.AccountName + curSimType;
                                                                    }
                                                                    else
                                                                    {
                                                                        curSimType = "MISM" + curSimType;
                                                                    }
                                                                    if (mismSecondaryListCount < Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["MISMMaxCount"].ToString()))
                                                                    {
                                                                            @Html.RadioButton("SelectSecoAccountDtls", Acd.accountIntId + "," + Acd.externalId + "," + Acd.accountExtId + "," + Acd.AccountNumber + "," + Acd.IsMISM + ",SeconList," + status + "," + Acd.Category + "," + Acd.MarketCode, new { onclick = "chk2GBData()" })

                                                                    }
                                                                    else
                                                                    {
                                                                            @Html.RadioButton("SelectSecoAccountDtls", Acd.accountIntId + "," + Acd.externalId + "," + Acd.accountExtId + "," + Acd.AccountNumber + "," + Acd.IsMISM + ",SeconList," + status + "," + Acd.Category + "," + Acd.MarketCode, new { disabled = "disabled", onclick = "chk2GBData()" })
                                                             
                                                                    }
                                                                        }
                                                                    </td>
                                                                    <td>@Acd.Holder
                                                                    </td>
                                                                    @*<td>@Acd.IDNumber
                                                                </td>*@
                                                                    <td>@Acd.externalId
                                                                    </td>
                                                                    @if (isDealer.ToString2() == "False")
                                                                    {
                                                                        <td>@Acd.AccountNumber
                                                                        </td>
                                                                        <td>
                                                                            @curSimType
                                                                        </td>
                                                                    <td>@AccountStatuses3
                                                                </td>    
                                                                    }
                                                                    
                                                                </tr>
                                                                }

                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            }
                                            else
                                            {
                                                <div id="DVShowNewUSerMsgForsecondary">
                                                    No MISM Primary Lines Available for this User</div>
                                            }
                                        </td>
                                    </tr>
                                </table>


                                <br />
                            </div> 
                        }
                        else
                        {
                            <div id="DVShowNewUSerMsg">
                                No Principal accounts exists for the user</div>
                        }
                    </div>
                </div>
            </div>
        }
        </div>
        @if (!newUser && (principleList != null || mismPrimaryList != null) && mismPrimaryList.Any())
        { 
            <div class="row">
            <div style="height: 40px;" class="border-top">
                <div style="float: right; padding: 20px 30px" id="divHeader">
                    <input class="btn isell-next" style="width: 100%" type="submit" value="Continue" id="btnContinue" name="Continue" />
                </div>
            </div>
        </div>
        }
        
    </div>
</div>

@section Scripts{
<script src="@Url.Content("~/Scripts/js/tablefilter_all_min.js")" type="text/javascript"></script>

    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('#Plan_Error').hide();
            $('#Dealer_Error').hide();

            $("#btnContinue").click(function () {
                if (fnValidateAccountSelection()) {
                    if (CheckValidations()) {
                        $('#frmCAccounts').submit();
                    };
                }

            });

            $('input[name=SelectSecoAccountDtls]').each(function () {
                if (this.checked) {
                    $(this).click();
                }
            });
        });      //end document.Ready

        function fnValidateAccountSelection() {
            var selectedAccount = '';
            $('input[name=SelectSecoAccountDtls]').each(function () {
                if (this.checked) {
                    selectedAccount = $(this).val();
                }
            });
            if (selectedAccount != '')
                return true;
            else {
                $('#dvError').html("Please select an account to proceed further.");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
        }

        function CheckValidations() {
            var msisdnno;
            var secoList;
            var rowCount = $('#tblSuppList tr').length;
            if (rowCount > 1) {
                $("#tblSuppList").each(function () {
                    var TRID = $(this).attr("id");
                    msisdnno = $(this).find("input:radio:checked").val();
                });
            }
            if (msisdnno != null && msisdnno != '0' && msisdnno != 'undefined') {
                var selectedVal = "";
                var selectedVal = $('input[name=SelectSecoAccountDtls]:checked').val();
                if (selectedVal != null && selectedVal != '0' && selectedVal != 'undefined') {
                    var valNew = [];
                    valNew = selectedVal.split(',');
                    if (valNew.length >= 6) {
                        if (valNew[6] != "A" && valNew[4] != "") {
                            var status = "";
                            if (valNew[6].toString() == "S") {
                                status = 'Suspend';
                            }
                            else if (valNew[6].toString() == "B") {
                                status = 'Barred';
                            }
                            else if (valNew[6].toString() == "D") {
                                status = 'Deactive';
                            }
                            //alert("Your Number is on " + status + " status");
                            $('#Plan_Error').show();
                            $('#Plan_Error').html("Your Number is on " + status + " status");
                            $("html, body").animate({ scrollTop: 0 }, "slow");
                            return false;
                        }
                        else {
                            return true;
                        }
                    }
                }
            }
        }

        function chk2GBData() {
            //alert('Package contain less than 2GB data can not proceed ');
            $('#Plan_Error').show();
            $('#dvError').html('');
            $('#Plan_Error').html("Package contains less than 2GB data cannot proceed further");
            $("html, body").animate({ scrollTop: 0 }, "slow");
            document.getElementById('btnContinue').style.display = 'none';
            return false;
        }

        function enableContinue() {
            //alert('enableContinue');
            $('#Plan_Error').hide();
            $('#dvError').html('');
            document.getElementById('btnContinue').style.display = 'block';
            return true;
        }

        function ExceededMaxMismCount() {
            //alert('Secondary lines count reached maximum of 5, Cannot proceed');
            $('#Plan_Error').show();
            $('#dvError').html('');
            $('#Plan_Error').html("Maximum secondary lines count reached, cannot proceed further");
            $("html, body").animate({ scrollTop: 0 }, "slow");
            document.getElementById('btnContinue').style.display = 'none';
            return true;
        }
        var table_Props = {
            stylesheet: '@Url.Content("~/Content/css/filtergrid.css")',
            on_keyup: true, 
            on_keyup_delay: 100, 
            col_0: "none",
            col_1: "none",
            col_3: "select",
            col_4: "select",
            col_5: "select",
            display_all_text: "[All]"
        };
        var tf = setFilterGrid("tblSecondaryList", table_Props);

    </script>
}