﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.SubscriberICService;
@using Telerik.Web.Mvc.UI;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Controllers;
@model Online.Registration.Web.Models.SupplementaryListAccounts
@{
    ViewBag.Title = "Customer Account";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    
    var isDealer = Util.SessionAccess.User.isDealer;
    bool newUser = false;
    string status = string.Empty;
    retrieveAcctListByICResponse AcctListByICResponse = null;
    var principlesExist = true;
    var idCardTypeName = Session["PPIDSearchIDType"].ToString2();
    List<string> allowedPrefixes = new List<string>();
    bool iscdpuUser = Roles.IsUserInRole("MREG_CUSR") ? true : false;
    var isUserCCCAbove = WebHelper.Instance.IsUserCCCAbove();
    
    if (SessionManager.Get("PPIDInfo") != null)
    {
        AcctListByICResponse = (retrieveAcctListByICResponse)SessionManager.Get("PPIDInfo");
    }
    
    var principleList = Model.SuppListAccounts.Where(i => i.IsMISM == false).ToList();
    principlesExist = principleList.Any();

    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        newUser = false;
    }
    if (ReferenceEquals(Model, null))
    {
        newUser = true;
    }

    if (System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"] != null)
    {
        allowedPrefixes = System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"].ToString2().Split(',').ToList();
    }
    else
    {
        allowedPrefixes = new List<string>() { "601" };
    }
    
}

<div class="container ipad-container">
    <div class="isell-base">
        <div class="row">
            <div class="col-sm-10">
                <h2 style="padding-left:15px;">
                    Add Supplementary Line
                </h2>
                <h4 style="padding-left:15px;"><span>@AcctListByICResponse.itemList.Where(a => a.Customer != null).ToList().FirstOrDefault().Customer.Title</span> @AcctListByICResponse.itemList.Where(c => c.Account != null).ToList().FirstOrDefault().Account.Holder</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 green-bg">
                <p class="font-24">@ViewBag.Title</p>
            </div>
        </div>

        <div class="row">
        @using (Html.BeginForm("AccountsList", "SuppLine", FormMethod.Post, new { id = "frmCAccounts", defaultbutton = "Continue", onSubmit = "return fnValidateAccountSelection();", @class = "overlayonsubmit", processmsg = "Loading" }))
        {
            @Html.Hidden("hdnIsDeviceRequired")
            
            <div class="col-sm-12">
                <div class="content_white">
                    <div id="ValidationSummary_Error" class="ErrorClass" style="font-size: 16px; color: Red;">@Html.ValidationSummary(false)</div>
                </div>
                <div class="content_white">
                    <div id="Plan_Error" class="ErrorClass" style="font-size: 16px"></div>
                </div>
            </div>
            
            <div class="col-sm-12">
                <div id="DVResultDisplay" class="tab-content">
                    <div class="content search-header">
                        <div class="search-header-box">
                            <div class="search-hdr-title"><p class="device-title">Choose customer account</p></div>
                        </div>
                    </div>
                    <div class="tab-content font-16">
                        <div id="dvError" class="ErrorClass" style="padding-bottom: 10px; color: Red;">
                        </div>
                        @if (!newUser && Model.SuppListAccounts.Count > 0)
                        {
                            var icount = 0;
                            <div id="Grid" class="crp-wrapper">
                                @if (isDealer == true)
                                {
                                    if (idCardTypeName != "MSISDN")
                                    {
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td>
                                                <b>ID No :</b>
                                                @foreach (var Acd in Model.SuppListAccounts)
                                                {
                                                    @Acd.IDNumber
                                                    break;
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                    }
                                }
                                else
                                {
                                     <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td>
                                                <b>ID No :</b>
                                                @foreach (var Acd in Model.SuppListAccounts)
                                                {
                                                    @Acd.IDNumber
                                                    break;
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                }
                                <table width="100%" cellpadding="0" cellspacing="0" border="0" id="tblSuppList" style="margin-top: 20px;">
                                    <tbody>
                                        <tr style="font-weight:bold" id="tblheader">
                                            <td align="center">
                                                Action
                                            </td>
                                            <td>
                                                Name
                                            </td>
                                            <td>
                                                MSISDN
                                            </td>                                         
                                            @if (isDealer.ToString2() == "False")
                                            {
                                                <td>
                                                Account Number
                                                </td>
                                                <td>
                                                    Account Type
                                                </td>                                            
                                                <td>
                                                    Status
                                                </td>
                                            }
                                        
                                        </tr>
                                        @for (int counter = 0; counter < principleList.Count; counter++)
                                        {
                                            var Acd = principleList[counter];
                                            string str = AcctListByICResponse.itemList.Find(a => a.ExternalId == Acd.externalId).ExternalId;

                                            if (str.Length > 0)
                                            {
                                                status = AcctListByICResponse.itemList.Find(a => a.ExternalId == Acd.externalId).ServiceInfoResponse.serviceStatus;
                                            }
                                            string curSimType = " - " + Acd.AccountType;
                                            if (!Acd.IsMISM)
                                            {
                                                curSimType = Acd.AccountName + curSimType;
                                            }
                                            else
                                            {
                                                curSimType = "MISM" + curSimType;
                                            }
                                            string AccountStatuses = "";
                                            switch (Acd.AccountStatus)
                                            {
                                                case "B":
                                                AccountStatuses = "Barred";
                                                break;
                                                case "S":
                                                AccountStatuses = "Suspended";
                                                break;
                                                case "T":
                                                AccountStatuses = "Terminated";
                                                break;
                                                case "A":
                                                AccountStatuses = "Active";
                                                break;
                                                case "D":
                                                AccountStatuses = "Deactive";
                                                break;
                                                default:
                                                AccountStatuses = "Active";
                                                break;
                                            }
                                            if (allowedPrefixes.Contains(Acd.externalId.Substring(0, 3)))
                                            {
                                                int supplineCount = Acd.SupplinesCount;
                                                bool checkedState = false;
                                                if (isDealer == true || isUserCCCAbove == false)
                                                {
                                                    checkedState = (counter == 0 && idCardTypeName == "MSISDN") ? true : false;
                                                }
                                            <tr class="row-body"  id="@Acd.externalId">
                                                <td align="center">@Html.RadioButton("SelectAccountDtls", Acd.accountIntId + "," + Acd.externalId + "," + Acd.accountExtId + "," + Acd.AccountNumber + "," + Acd.IsMISM + "," + status + "," + supplineCount + "," + Acd.Category + "," + Acd.MarketCode, checkedState)
                                                </td>
                                                <td>@Acd.Holder
                                                </td>
                                                <td>@Acd.externalId
                                                </td>
                                                @if (isDealer.ToString2() == "False")
                                                {
                                                    <td>@Acd.AccountNumber
                                                    </td>
                                                    <td>
                                                        @curSimType
                                                    </td>
                                                <td>
                                                    @AccountStatuses
                                                </td>    
                                                }
                                                                
                                            </tr>
                                                            
                                            }
                                        }
                                    </tbody>
                                </table>
                                <br />
                            </div> 
                        }
                        else
                        {
                            <div id="DVShowNewUSerMsg">
                                No Principal accounts exists for the user</div>
                        }
                    </div>
                </div>
            </div>
        }
        </div>
        @if (!newUser && Model.SuppListAccounts.Count > 0)
        { 
            <div class="row">
            <div style="height: 40px;" class="border-top">
                <div style="float: right; padding: 20px 30px" id="divHeader">
                    <input class="btn isell-next" style="width: 100%" type="submit" value="Continue" id="btnContinue" name="Continue" />
                </div>
            </div>
        </div>
        }
        
    </div>
</div>

<div class="modal fade" id="isDeviceReqWindow" tabindex="-1" role="dialog" aria-labelledby="isDeviceReqWindow" aria-hidden="true">
	<div class="modal-dialog  modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span class="close-btn">Close</span></button>
				<h4 class="modal-title usage-title">Is Device Required?</h4>
			</div>
			<div class="modal-body login-box">
				<div class="sm-col-12">
					<ul class="select-sim">
						<li class="col-sm-3">
							<div class="sim-list" id="btnYes"><div style="width:60px; height: 10px"></div>Yes</div>
						</li>
						<li class="col-sm-3">
							<div class="sim-list"id="btnNo"><div style="width:60px; height: 10px"></div>No</div>
						</li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>

@section Scripts{
<script src="@Url.Content("~/Scripts/js/tablefilter_all_min.js")" type="text/javascript"></script>

    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('#Plan_Error').hide();
            //if ('@(isDealer)' == "False") {
            //    $("#SelectAccountDtls:first").prop('checked', 'checked');
            //}

            $('#Dealer_Error').hide();

            if ('@(isDealer)' == "True") {
                if ('@(idCardTypeName)' != "MSISDN") {
                    $('#DVResultDisplay').hide();
                    $('#dvDealers').show();
                    $('#divHeader').hide();
                }
            }

            $("#btnContinue").click(function () {
                if (!$("input:radio[name='SelectAccountDtls']").is(":checked")) {
                    $('#dvError').html("Please select an account to proceed further.");
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                }

                if (CheckValidations()) {
                    if ('@(iscdpuUser)' == "True")
                    {
                        $('#hdnIsDeviceRequired').val('Yes');
                        $("#frmCAccounts").submit();
                    }
                    else
                    {
                        $('#isDeviceReqWindow').modal('show');
                    }
                }
            });

            $("#btnYes").click(function () {
                $('#hdnIsDeviceRequired').val('Yes');
                $("#frmCAccounts").submit();
            });

            $("#btnNo").click(function () {
                $('#hdnIsDeviceRequired').val('No');
                $("#frmCAccounts").submit();
            });

        });

        function fnValidateAccountSelection() {
            var selectedAccount = '';
            $('input[name=SelectAccountDtls]').each(function () {
                if (this.checked) {
                    selectedAccount = $(this).val();
                }
            });
            if (selectedAccount != '')
                return true;
            else {
                $('#dvError').html("Please select an Account");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
        }

        function CheckValidations() {
            var msisdnno;
            var secoList;
            var rowCount = $('#tblSuppList tr').length;
            if (rowCount > 1) {
                $("#tblSuppList").each(function () {
                    var TRID = $(this).attr("id");
                    msisdnno = $(this).find("input:radio:checked").val();
                });
            }
            if (msisdnno != null && msisdnno != '0' && msisdnno != 'undefined') {
                var selectedVal = "";
                var selectedVal = $('input[name=SelectAccountDtls]:checked').val();
                if (selectedVal != null && selectedVal != '0' && selectedVal != 'undefined') {
                    var valNew = [];
                    valNew = selectedVal.split(',');
                    if (valNew.length >= 6) {
                        if (valNew[5] != "A" && valNew[4] != "") {
                            var status = "";
                            if (valNew[5].toString() == "S") {
                                status = 'Suspend';
                            }
                            else if (valNew[5].toString() == "B") {
                                status = 'Barred';
                            }
                            else if (valNew[5].toString() == "D") {
                                status = 'Deactive';
                            }
                            //alert("Your Number is on " + status + " status");
                            $('#Plan_Error').show();
                            $('#Plan_Error').html("Your Number is on " + status + " status");
                            $("html, body").animate({ scrollTop: 0 }, "slow");
                            return false;
                        }
                        else{
                            return true;
                        }
                    }
                }
            }
        }
        var table_Props = {
            stylesheet: '@Url.Content("~/Content/css/filtergrid.css")',
            on_keyup: true, 
            on_keyup_delay: 100, 
            col_0: "none",
            col_1: "none",
            col_3: "select",
            col_4: "select",
            col_5: "select",
            display_all_text: "[All]"
        };
        var tf = setFilterGrid("tblSuppList", table_Props);
    </script>
}