﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Controllers;
@using Online.Registration.Web.SubscriberICService;
@using SNT.Utility;
@model Online.Registration.Web.Models.SupplementaryListAccounts
@{
    ViewBag.Title = "Customer Account";

    var isBlacklisted = ViewBag.isBlacklisted;
    var resultMsg = Session["RegMobileReg_ResultMessage"].ToString2();
    bool newUser = true;

    var idCardTypeName = Session["PPIDSearchIDType"].ToString2();
    var isDealer = Session["IsDealer"].ToBool();
    var dealerMsidnSearch = System.Web.Configuration.WebConfigurationManager.AppSettings["DealerMsidnSearch"].ToString2() + " Add Supplementary / Secondary Line";
    
    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        newUser = false;
    }
    if (ReferenceEquals(Model, null))
    {
        newUser = true;
    }
    var menuType = Session["MenuType"].ToString2();
    retrieveAcctListByICResponse AcctListByICResponse = null;
    string status = string.Empty;
    if (!ReferenceEquals(SessionManager.Get("PPIDInfo"), null))
    {
        AcctListByICResponse = (retrieveAcctListByICResponse)SessionManager.Get("PPIDInfo");
    }
    List<string> allowedPrefixes = new List<string>();
    if (System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"] != null)
    {
        allowedPrefixes = System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"].ToString2().Split(',').ToList();
    }
    else
    {
        allowedPrefixes = new List<string>() { "601" };
    }
    var principlesExist = "true";
    int supliAcctConfig = System.Configuration.ConfigurationManager.AppSettings.Get("totalSupplimentaryLinesAllowed").ToInt();
}
@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"
    language="javascript"></script>*@
<div id="center">
 <div class="center_box">
    @using (Html.BeginForm("AddSuppLine", "SuppLine", FormMethod.Post, new { id = "frmAddSupple", @class = "overlayonsubmit", processmsg = "Loading" }))
    {
        var principleList = Model.SuppListAccounts.Where(i => i.IsMISM == false).ToList();
        if (!principleList.Any())
        {
            principlesExist = "false";
        }
        var mismPrimaryList = Model.SuppListAccounts.Where(i => i.IsMISM == true).ToList();
        @Html.ValidationSummary()
        @Html.Hidden("hdnMISMLines")

        <div class="content_white">
        <div id="dvDealers" style="display: none; width: 100%; azimuth: center;">
                    <div class="content search-header">
                        <div id="dvMsisdnSearch" class="search-hdr-body" style="width: 100%">
                            <table width="100%">
                                <tr>
                                    <td align="center">
                                        <b>@(dealerMsidnSearch)</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <b>MSISDN:</b>
                                        @Html.TextBox("MSISDN")
                                        <button class="cancel" type="button" value="Search" style="cursor: pointer;background-image: url(@(Url.Content("~/Content/img/shared/iSELL-Search-Button.jpg")));background-repeat: none;width: 38px;height: 35px;border: medium none;vertical-align: middle;margin-left: 8px;border-radius:8px" onclick="showdivAccDtls(this.value);">
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
        <div class="content_white">
                    <div id="Dealer_Error" class="ErrorClass">
                    </div>
                </div>
        <div id="DVResultDisplay">
                    <div class="content search-header">
                        <div class="search-header-box">
                            <div class="search-hdr-title">@ViewBag.Title</div>
                        </div>
                    </div>
                    <div style="clear: both;">
                    </div>
                    <div class="content_white">
                        @{
                                                     if (principleList.Count > 0)
                                                     {
                            <div id="divNote" class="ErrorClass" style="padding: 10px 2px 10px 2px">
                                Adding supplementary for MISM line is not supported in iSell currently. Please proceed
                                to transact in Kenan.
                            </div>
                                                     }
                        }
                    </div>
                    <div class="content_white" style="height: 15px;">
                        <div id="Plan_Error" class="ErrorClass" style="padding: 0px 1px 5px 1px">
                        </div>
                    </div>
                    <span style="display: none; color: Red; font-weight: bold" id="errormsg">Please select
                        an account</span>
                    <div id="ui-plan">
                        <h3>
                            Normal Principal Lines</h3>
                        <div>
                            @if (isDealer == true)
                            {
                                if (idCardTypeName != "MSISDN")
                                {
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td>
                                            <b>ID No :</b>
                                            @foreach (var Acd in Model.SuppListAccounts)
                                            {
                                                @Acd.IDNumber
                                           break;
                                            }
                                        </td>
                                    </tr>
                                </table>
                                }
                            }
                            else
                            {
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td>
                                            <b>ID No :</b>
                                            @foreach (var Acd in Model.SuppListAccounts)
                                            {
                                                @Acd.IDNumber
                                           break;
                                            }
                                        </td>
                                    </tr>
                                </table>
                            }
                            <table width="100%" style="text-align: center;">
                                <tr>
                                    <td>
                                        @if (!newUser && principleList != null && principleList.Count > 0)
                                        {
                                            @Html.Hidden("hdnIsSupplineNew")
                                            @Html.Hidden("hdnIsDeviceRequired")
                                            <div id="Grid" class="crp-wrapper">
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" id="tblSuppList" style="margin-top: 20px;">
                                                    <tbody>
                                                        <tr class="row-bold-header" id="tblheader">
                                                            <td>
                                                                Action
                                                            </td>
                                                            <td>
                                                                Name
                                                            </td>
                                                            @* <td >
                                                            ID No
                                                        </td>*@
                                                            <td>
                                                                MSISDN
                                                            </td>
                                                            @if (isDealer.ToString2() == "False")
                                                            {
                                                                <td>
                                                                    Account Number
                                                                </td>
                                                                <td>
                                                                    Account Type
                                                                </td>
                                                                <td>
                                                                Status
                                                            </td>
                                                            }
                                                            
                                                        </tr>
                                                        @for (int counter = 0; counter < principleList.Count; counter++)
                                                        {
                                                            var Acd = principleList[counter];
                                                            string str = AcctListByICResponse.itemList.Find(a => a.ExternalId == Acd.externalId).ExternalId;

                                                            if (str.Length > 0)
                                                            {
                                                                status = AcctListByICResponse.itemList.Find(a => a.ExternalId == Acd.externalId).ServiceInfoResponse.serviceStatus;
                                                            }
                                                            string curSimType = " - " + Acd.AccountType;
                                                            if (!Acd.IsMISM)
                                                            {
                                                                curSimType = Acd.AccountName + curSimType;
                                                            }
                                                            else
                                                            {
                                                                curSimType = "MISM" + curSimType;
                                                            }
                                                            string AccountStatuses = "";
                                                            switch (Acd.AccountStatus)
                                                            {
                                                                case "B":
                                                                    AccountStatuses = "Barred";
                                                                    break;
                                                                case "S":
                                                                    AccountStatuses = "Suspended";
                                                                    break;
                                                                case "T":
                                                                    AccountStatuses = "Terminated";
                                                                    break;
                                                                case "A":
                                                                    AccountStatuses = "Active";
                                                                    break;
                                                                case "D":
                                                                    AccountStatuses = "Deactive";
                                                                    break;
                                                                default:
                                                                    AccountStatuses = "Active";
                                                                    break;
                                                            }
                                                            if (allowedPrefixes.Contains(Acd.externalId.Substring(0, 3)))
                                                            {
                                                                int supplineCount = Acd.SupplinesCount;
                                                                bool checkedState = false;
                                                                if (isDealer == true)
                                                                {
                                                                    checkedState = (counter == 0 && idCardTypeName == "MSISDN") ? true : false;
                                                                }
                                                            <tr class="row-body"  id="@Acd.externalId">
                                                                <td>@Html.RadioButton("SelectAccountDtls", Acd.accountIntId + "," + Acd.externalId + "," + Acd.accountExtId + "," + Acd.AccountNumber + "," + Acd.IsMISM + "," + status + "," + supplineCount + "," + Acd.Category + "," + Acd.MarketCode, checkedState, new { onclick = "enableContinue()" })
                                                                </td>
                                                                <td>@Acd.Holder
                                                                </td>
                                                                @* <td>@Acd.IDNumber
                                                            </td>*@
                                                                <td>@Acd.externalId
                                                                </td>
                                                                @if (isDealer.ToString2() == "False")
                                                                {
                                                                    <td>@Acd.AccountNumber
                                                                    </td>
                                                                    <td>
                                                                        @curSimType
                                                                    </td>
                                                                <td>
                                                                    @AccountStatuses
                                                                </td>    
                                                                }
                                                                
                                                            </tr>
                                                            
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="ActPanel">
                                                @* In Case of MNP radio button disabled *@
                                                @if (!ReferenceEquals(Session["FromMNP"], null) && Convert.ToBoolean(Session["FromMNP"]))
                                                {
                                                    <div class="InPan" style="display: none">
                                                        <input type="radio" id="rdbtnExist" name="AccountGroup" value="0" checked="checked" />Add
                                                        to principal with same account
                                                    </div>
                                                    <div class="InPan" style="display: none">
                                                        <input type="radio" id="rdbtnNew" name="AccountGroup" value="1" />Add to principal
                                                        with new billing address
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="InPan" style="text-align: left; margin-left: 35%;">
                                                        <input type="radio" id="rdbtnExist" name="AccountGroup" value="0" checked="checked" />
                                                        Add to principal with same account
                                                    </div>
                                                    <div class="InPan" style="text-align: left; margin-left: 35%;">
                                                        <input type="radio" id="rdbtnNew" name="AccountGroup" value="1" />
                                                        Add to principal with new billing address
                                                    </div>
                                                }
                                            </div>
                                        }
                                        else
                                        { 
                                            <div>
                                                No principal accounts exists for the user</div>
                                        }
                                       
                                            <div id="DVShowNewUSerMsg" style="display:none">
                                                No principal accounts exists for the user</div>
                                      
                                    </td>
                                </tr>
                            </table>
                        </div>
                        @if (!ReferenceEquals(Session["FromMNP"], null) && Convert.ToBoolean(Session["FromMNP"]))
                        {
                        }
                        else
                        {
                            <h3>
                                MISM Primary Lines</h3>
                            <div style="height: auto;">
                                @if (isDealer == true)
                                {
                                    if (idCardTypeName != "MSISDN")
                                    {
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td>
                                                <b>ID No :</b>
                                                @foreach (var Acd in Model.SuppListAccounts)
                                                {
                                                    @Acd.IDNumber
                                                    break;
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                    }
                                }
                                else
                                {
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td>
                                                <b>ID No :</b>
                                                @foreach (var Acd in Model.SuppListAccounts)
                                                {
                                                    @Acd.IDNumber
                                                    break;
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                }
                                <table width="100%" style="text-align: center;">
                                    <tr>
                                        <td>
                                            @if (!newUser && mismPrimaryList != null && mismPrimaryList.Count > 0)
                                            {
                                    
                                                @Html.Hidden("hdnPrimaryList", mismPrimaryList.Count())

                                                @Html.Hidden("hdnIsSeclineNew")
                                                <div id="dvSecondary" class="crp-wrapper">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="margin-top: 20px;"
                                                        id="tblSecondaryList">
                                                        <tbody>
                                                            <tr class="row-bold-header" id="tblMismheader">
                                                                <td>
                                                                    Action
                                                                </td>
                                                                <td>
                                                                    Name
                                                                </td>
                                                                @* <td >
                                                                ID No
                                                            </td>*@
                                                                <td>
                                                                    MSISDN
                                                                </td>
                                                                @if (isDealer.ToString2() == "False")
                                                                {
                                                                    <td>
                                                                        Account Number
                                                                    </td>
                                                                    <td>
                                                                        Account Type
                                                                    </td>                                                                    
                                                                    <td>
                                                                    Status
                                                                </td>
                                                                }
                                                                
                                                            </tr>
                                                            @for (int counter = 0; counter < mismPrimaryList.Count; counter++)
                                                            {
                                                                bool checkedState = false;
                                                                if (isDealer == true)
                                                                {
                                                                    checkedState = (counter == 0 ? true : false);
                                                                }
                                                                string AccountStatuses3 = "";
                                                                var Acd = mismPrimaryList[counter];
                                                                string str = AcctListByICResponse.itemList.Find(a => a.ExternalId == Acd.externalId).ExternalId;

                                                                if (str.Length > 0)
                                                                {
                                                                    status = AcctListByICResponse.itemList.Find(a => a.ExternalId == Acd.externalId).ServiceInfoResponse.serviceStatus;
                                                                }

                                                                bool result = false;
                                                                if (Acd.SecondarySimList != null)
                                                                {
                                                                    Online.Registration.Web.SubscriberICService.SubscriberICServiceClient
                                                                            icserviceobj = new
                                                                                            Online.Registration.Web.SubscriberICService.SubscriberICServiceClient();
                                                                    IList<Online.Registration.Web.SubscriberICService.PackageModel>
                                                                    packages = icserviceobj.retrievePackageDetls(Acd.externalId,
                                                                    System.Configuration.ConfigurationManager.AppSettings["KenanMSISDN"],
                                                                    userName:
                                                                    Online.Registration.Web.Properties.Settings.Default.retrieveAcctListByICResponseUserName, password: Online.Registration.Web.Properties.Settings.Default.retrieveAcctListByICResponsePassword, postUrl:
                                                                    string.Empty);
                                                                    List<int> UniqComponents = new List<int>();
                                                                    foreach (var item1 in packages)
                                                                    {
                                                                        for (int i = 0; i < item1.compList.Count; i++)
                                                                        {
                                                                            UniqComponents.Add(item1.compList[i].componentId.ToInt());
                                                                        }

                                                                    }

                                                                    List<string> dataCompIds = new List<string>();
                                                                    using (var proxy = new RegistrationServiceProxy())
                                                                    {
                                                                        dataCompIds = proxy.GetDataPlanComponentsForMISM();
                                                                    }
                                                                    foreach (string compid in dataCompIds)
                                                                    {
                                                                        if (UniqComponents.Contains(compid.ToInt()))
                                                                        {
                                                                            result = true;
                                                                            break;
                                                                        }
                                                                        else
                                                                        {
                                                                            result = false;
                                                                        }
                                                                    }
                                                                }

                                                                if (result)
                                                                {
                                                                <tr class="row-body"  id="@Acd.externalId">
                                                                    <td>
                                                                        @{ 

                                                                    var mismSecondaryListCount = 0;
                                                                    if (Acd.SecondarySimList != null)
                                                                    {
                                                                        List<int> lstMISMComponets = new List<int>();
                                                                        for (int i = 0; i < Acd.SecondarySimList.Count; i++)
                                                                        {
                                                                            Online.Registration.Web.SubscriberICService.SubscriberICServiceClient
                                                                            icserviceobj = new
                                                                                            Online.Registration.Web.SubscriberICService.SubscriberICServiceClient();
                                                                            IList<Online.Registration.Web.SubscriberICService.PackageModel>
                                                                            packages = icserviceobj.retrievePackageDetls(Acd.SecondarySimList[i].Msisdn,
                                                                            System.Configuration.ConfigurationManager.AppSettings["KenanMSISDN"],
                                                                            userName:
                                                                            Online.Registration.Web.Properties.Settings.Default.retrieveAcctListByICResponseUserName, password: Online.Registration.Web.Properties.Settings.Default.retrieveAcctListByICResponsePassword, postUrl:
                                                                            string.Empty);
                                                                            foreach (var item1 in packages)
                                                                            {
                                                                                for (int j = 0; j < item1.compList.Count; j++)
                                                                                {
                                                                                    lstMISMComponets.Add(item1.compList[j].componentId.ToInt());
                                                                                }

                                                                            }
                                                                            if (lstMISMComponets.Contains("44884".ToInt()))
                                                                            {
                                                                                mismSecondaryListCount = mismSecondaryListCount + 1;
                                                                            }

                                                                        }


                                                                        //mismSecondaryListCount = Acd.SecondarySimList.Count();
                                                                    }
                                                                    switch (Acd.AccountStatus)
                                                                    {
                                                                        case "B":
                                                                            AccountStatuses3 = "Barred";
                                                                            break;
                                                                        case "S":
                                                                            AccountStatuses3 = "Suspended";
                                                                            break;
                                                                        case "T":
                                                                            AccountStatuses3 = "Terminated";
                                                                            break;
                                                                        case "A":
                                                                            AccountStatuses3 = "Active";
                                                                            break;
                                                                        case "D":
                                                                            AccountStatuses3 = "Deactive";
                                                                            break;
                                                                        default:
                                                                            AccountStatuses3 = "Active";
                                                                            break;
                                                                    }
                                                                    string curSimType = " - " + Acd.AccountType;
                                                                    if (!Acd.IsMISM)
                                                                    {
                                                                        curSimType = Acd.AccountName + curSimType;
                                                                    }
                                                                    else
                                                                    {
                                                                        curSimType = "MISM" + curSimType;
                                                                    }
                                                                    if (mismSecondaryListCount < Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["MISMMaxCount"].ToString()))
                                                                    {
                                                                            @Html.RadioButton("SelectSecoAccountDtls", Acd.accountIntId + "," + Acd.externalId + "," + Acd.accountExtId + "," + Acd.AccountNumber + "," + Acd.IsMISM + ",SeconList," + status + "," + Acd.Category + "," + Acd.MarketCode, checkedState, new { onclick = "enableContinue()" })
                                                                    }
                                                                    else
                                                                    {
                                                            
                                                                            @Html.RadioButton("SelectSecoAccountDtls", Acd.accountIntId + "," + Acd.externalId + "," + Acd.accountExtId + "," + Acd.AccountNumber + "," + Acd.IsMISM + ",SeconList," + status + "," + Acd.Category + "," + Acd.MarketCode, checkedState, new { onclick = "ExceededMaxMismCount()" })
                                                                    }
                                                                        }
                                                                    </td>
                                                                    <td>@Acd.Holder
                                                                    </td>
                                                                    @*<td>@Acd.IDNumber
                                                                </td>*@
                                                                    <td>@Acd.externalId
                                                                    </td>
                                                                    @if (isDealer.ToString2() == "False")
                                                                    {
                                                                        <td>@Acd.AccountNumber
                                                                        </td>
                                                                        <td>
                                                                            @curSimType
                                                                        </td>                                                                        
                                                                        <td>@AccountStatuses3
                                                                    </td>
                                                                    }
                                                                    
                                                                </tr>
                                                                }
                                                                else
                                                                {
                                                                <tr class="row-body"  id="@Acd.externalId">
                                                                    <td>
                                                                        @{ 

                                                                    var mismSecondaryListCount = 0;
                                                                    if (Acd.SecondarySimList != null)
                                                                    {
                                                                        List<int> lstMISMComponets = new List<int>();
                                                                        for (int i = 0; i < Acd.SecondarySimList.Count; i++)
                                                                        {
                                                                            Online.Registration.Web.SubscriberICService.SubscriberICServiceClient
                                                                            icserviceobj = new
                                                                                            Online.Registration.Web.SubscriberICService.SubscriberICServiceClient();
                                                                            IList<Online.Registration.Web.SubscriberICService.PackageModel>
                                                                            packages = icserviceobj.retrievePackageDetls(Acd.SecondarySimList[i].Msisdn,
                                                                            System.Configuration.ConfigurationManager.AppSettings["KenanMSISDN"],
                                                                            userName:
                                                                            Online.Registration.Web.Properties.Settings.Default.retrieveAcctListByICResponseUserName, password: Online.Registration.Web.Properties.Settings.Default.retrieveAcctListByICResponsePassword, postUrl:
                                                                            string.Empty);
                                                                            foreach (var item1 in packages)
                                                                            {

                                                                                for (int j = 0; j < item1.compList.Count; j++)
                                                                                {
                                                                                    lstMISMComponets.Add(item1.compList[j].componentId.ToInt());
                                                                                }

                                                                            }
                                                                            if (lstMISMComponets.Contains("44884".ToInt()))
                                                                            {
                                                                                mismSecondaryListCount = mismSecondaryListCount + 1;
                                                                            }

                                                                        }

                                                                        //mismSecondaryListCount = Acd.SecondarySimList.Count();
                                                                    }
                                                                    switch (Acd.AccountStatus)
                                                                    {
                                                                        case "B":
                                                                            AccountStatuses3 = "Barred";
                                                                            break;
                                                                        case "S":
                                                                            AccountStatuses3 = "Suspended";
                                                                            break;
                                                                        case "T":
                                                                            AccountStatuses3 = "Terminated";
                                                                            break;
                                                                        case "A":
                                                                            AccountStatuses3 = "Active";
                                                                            break;
                                                                        case "D":
                                                                            AccountStatuses3 = "Deactive";
                                                                            break;
                                                                        default:
                                                                            AccountStatuses3 = "Active";
                                                                            break;
                                                                    }
                                                                    string curSimType = " - " + Acd.AccountType;
                                                                    if (!Acd.IsMISM)
                                                                    {
                                                                        curSimType = Acd.AccountName + curSimType;
                                                                    }
                                                                    else
                                                                    {
                                                                        curSimType = "MISM" + curSimType;
                                                                    }
                                                                    if (mismSecondaryListCount < Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["MISMMaxCount"].ToString()))
                                                                    {
                                                                            @Html.RadioButton("SelectSecoAccountDtls", Acd.accountIntId + "," + Acd.externalId + "," + Acd.accountExtId + "," + Acd.AccountNumber + "," + Acd.IsMISM + ",SeconList," + status + "," + Acd.Category + "," + Acd.MarketCode, new { onclick = "chk2GBData()" })

                                                                    }
                                                                    else
                                                                    {
                                                                            @Html.RadioButton("SelectSecoAccountDtls", Acd.accountIntId + "," + Acd.externalId + "," + Acd.accountExtId + "," + Acd.AccountNumber + "," + Acd.IsMISM + ",SeconList," + status + "," + Acd.Category + "," + Acd.MarketCode, new { disabled = "disabled", onclick = "chk2GBData()" })
                                                             
                                                                    }
                                                                        }
                                                                    </td>
                                                                    <td>@Acd.Holder
                                                                    </td>
                                                                    @*<td>@Acd.IDNumber
                                                                </td>*@
                                                                    <td>@Acd.externalId
                                                                    </td>
                                                                    @if (isDealer.ToString2() == "False")
                                                                    {
                                                                        <td>@Acd.AccountNumber
                                                                        </td>
                                                                        <td>
                                                                            @curSimType
                                                                        </td>
                                                                    <td>@AccountStatuses3
                                                                </td>    
                                                                    }
                                                                    
                                                                </tr>
                                                                }

                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            }
                                            else
                                            {
                                                <div id="DVShowNewUSerMsgForsecondary">
                                                    No MISM Primary Lines Available for this User</div>
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        }
                    </div>
                </div>
        <div style="height: 80px;" class="content_white">
                <div style="float: right; padding-right: 30px" id="divHeader">
                    @if (!newUser && (principleList != null || mismPrimaryList != null))
                    {

                        <input class="submitButton" value="Continue" id="btnContinue" type="button"  onclick="$('#submit').val('next');return CheckValidations();" />
                    }
                </div>
            </div>
        </div>
      
                    Html.Telerik().Window()
                        .Name("isDeviceReqWindow")
                        .Title("Device")
                        .Width(275).Height(100)
                        .Content(@<text>
        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="ST">
            <tr>
                <td align="center" >
                    Is Device Required?
                </td>
            </tr>
            <tr>
                <td align="center" >
                    <input class="submitButtonSmall" value="Yes" type="button" id="btnYes" />
                    <input class="submitButtonSmall" value="No" type="button" id="btnNo" />
                   @* <button id="btnYes" class="YesBtn" type="submit">
                    </button>*@
                    @*<button id="btnNo" class="NoBtn" type="submit">
                    </button>*@
                    <br />
                </td>
            </tr>
        </table>
        </text>)
                        .Modal(true)
                        .Visible(false)
                        .Render();
    }
    </div>
    @Html.Partial("_footer")
</div>
@*<script type="text/javascript" language="javascript">
    $(function () {
        $("#accordion").accordion({ autoHeight: false, navigation: true, collapsible: true });
        var rowCount = $('#tblSuppList tr').length;
        if (rowCount <= 1) {
            $("#accordion").accordion({ active: "h3:last" })
        }
    });
</script>*@
@section Scripts{

    <script type="text/javascript" language="javascript">



        jQuery(function () {
            jQuery("#ui-plan").accordion({
                autoHeight: false
            });
            $("#ui-plan").accordion("option", "icons",
        		{ 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });

            var rowCount = $('#tblSuppList tr').length;
            if (rowCount <= 1) {
                $("#ui-plan").accordion({ active: "h3:last" })
            }
        });

        $(document).ready(function () {

            $('#Plan_Error').hide();
            $('#Dealer_Error').hide();
            $("#btnYes").click(function () {
                $('#hdnIsDeviceRequired').val('Yes');
                //document.forms['frmAddSupple'].submit();
                $("#frmAddSupple").submit();
            });

            $("#btnNo").click(function () {
                $('#hdnIsDeviceRequired').val('No');
                //document.forms['frmAddSupple'].submit();
                $("#frmAddSupple").submit();
            });
            if ('@(isDealer)' == "False") {
                if ('@(principlesExist)' == "true")
                    $("#SelectAccountDtls:first").prop('checked', 'checked');
                if ('@(principlesExist)' == "false")
                    $("#SelectSecoAccountDtls:first").prop('checked', 'checked');
                $('#SelectSecoAccountDtls').live('change', function () {
                    $('#SelectAccountDtls').attr('checked', false);
                });
                $('#SelectAccountDtls').live('change', function () {
                    $('#SelectSecoAccountDtls').attr('checked', false);
                });
            }

            if ('@(isDealer)' == "True") {

                if ('@(idCardTypeName)' != "MSISDN") {
                    $('#DVResultDisplay').hide();
                    $('#dvDealers').show();
                    $('#divHeader').hide();
                }
            }

        });

        function showdivAccDtls() {
            debugger;
            var msisdnno = $('#MSISDN').val();
            var mobregex = /^60[0-9]{8,10}$/;
            $('#Dealer_Error').hide();
            if (msisdnno == "") {
                $('#Dealer_Error').show();
                $('#Dealer_Error').html('Please Enter MSISDN.');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            else if (msisdnno != "") {
                if (!mobregex.test(msisdnno)) {
                    $('#Dealer_Error').show();
                    $('#Dealer_Error').html("Please enter valid MSISDN number");
                    return false;
                }
            }


            var rowSuppCount = $('#tblSuppList tr').length;
            var rowMismCount = $('#tblSecondaryList tr').length;
            $('#tblSuppList tr').hide();
            $('#tblSecondaryList tr').hide();
            debugger;
            if ($('#' + msisdnno).parent(":first").parent(":first").attr("id") != "tblSecondaryList") {

                if ($('#' + msisdnno).length > 0) {
                    $('#dvDealers').hide();
                    $('#divHeader').show();
                    $('#DVResultDisplay').show();
                    $('#tblheader').show();
                    $('#ui-plan h3 :first').click();
                }
                else {
                    $('#Dealer_Error').show();
                    $('#Dealer_Error').html("Please enter Valid Principal/Primary MSISDN");
                    return false;
                }
            }
            else {
                //tblMismheader
                if ($('#' + msisdnno).length > 0) {
                    $('#dvDealers').hide();
                    $('#divHeader').show();
                    $('#DVResultDisplay').show();
                    $('#tblMismheader').show();
                    $('.ActPanel').hide();
                    $('#DVShowNewUSerMsg').show();
                    $('#ui-plan h3 :last').click();

                   
                }
                else {
                    $('#DVShowNewUSerMsg').show();
                    $('#Dealer_Error').show();
                    $('#Dealer_Error').html("Please enter Valid Principal/Primary MSISDN");
                    return false;
                }
            }
            debugger;
            $('#' + msisdnno).show();
            
            
            $('#dvMsisdnSearch').show();

            $('#' + msisdnno).find('#SelectAccountDtls').prop('checked', 'checked')

        }
        function SecondaryLineWindowOnOpen() {
        }

        function Validation() {
            if (!$("input:radio[name='SelectAc']").is(":checked")) {
                //alert('Select your option');
                $('#Plan_Error').show();
                $('#Plan_Error').html('Select your option');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            $('#submit').val('next');
            return true;
        }

        function SubmitForm() {
            $('#submit').val('next');
            $('#Plan_Error').hide();
        }
        function CheckValidations() {
            debugger;
            $('#Plan_Error').hide();
            var IsMism = false;
            if (!$("input:radio[name='SelectAccountDtls']").is(":checked") && !$("input:radio[name='SelectSecoAccountDtls']").is(":checked")) {
                $('#Plan_Error').show();
                $('#Plan_Error').html("Please select an account to proceed further");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                //alert('Please select an account to proceed further.');
                return false;
            }
            if ($('#rdbtnExist').attr("checked") == "checked") {

                $('#hdnIsSupplineNew').val(0);
            }
            else {
                $('#hdnIsSupplineNew').val(1);
            }
            $('#errormsg').attr('style', 'visibility:hidden');
            var msisdnno;
            var secoList;
            var rowCount = $('#tblSuppList tr').length;
            if (rowCount > 1) {
                $("#tblSuppList").each(function () {
                    var TRID = $(this).attr("id");
                    msisdnno = $(this).find("input:radio:checked").val();
                });
            }
            rowCount = $('#tblSecondaryList tr').length;
            if (rowCount > 1) {
                if (msisdnno == null || msisdnno == '0' || msisdnno == 'undefined') {
                    $("#tblSecondaryList").each(function () {
                        var TRID = $(this).attr("id");
                        msisdnno = $(this).find("input:radio:checked").val();
                        secoList = true;
                    });
                }
            }

            if (msisdnno != null && msisdnno != '0' && msisdnno != 'undefined') {
                var selectedVal = "";
                var selectedVal = $('input[name=SelectAccountDtls]:checked').val();
                if (selectedVal != null && selectedVal != '0' && selectedVal != 'undefined') {
                    var valNew = [];
                    valNew = selectedVal.split(',');
                    if (valNew.length >= 6) {
                        if (valNew[5] != "A" && valNew[4] != "") {
                            var status = "";
                            if (valNew[5].toString() == "S") {
                                status = 'Suspend';
                            }
                            else if (valNew[5].toString() == "B") {
                                status = 'Barred';
                            }
                            else if (valNew[5].toString() == "D") {
                                status = 'Deactive';
                            }
                            //alert("Your Number is on " + status + " status");
                            $('#Plan_Error').show();
                            $('#Plan_Error').html("Your Number is on " + status + " status");
                            $("html, body").animate({ scrollTop: 0 }, "slow");
                            return false;
                        }

                        if (valNew[6] != null && valNew[6] != '' && valNew[6] != 'undefined') {
                            //alert(valNew[6]);
                            var suppCount = parseInt(valNew[6]);
                            var maxSuppCount = parseInt('@supliAcctConfig');
                            //alert(typeof(suppCount));
                            //alert(typeof(maxSuppCount));

                            if (suppCount >= maxSuppCount) {
                                //alert('yes');
                                $('#Plan_Error').show();
                                $('#Plan_Error').html("Selected Principal Account has more than or equal to " + maxSuppCount + " supplementary Account Lines, you cannot proceed further.");
                                $("html, body").animate({ scrollTop: 0 }, "slow");
                                //alert('yes1');
                                return false;
                            }
                        }
                    }
                }

                var Mism = msisdnno.split(',');
                IsMism = Mism[4];
                if (IsMism == true) {
                    var url = '@(Url.Content("~/SuppLine/GetComponentid"))';
                    $.post(url, { msisdn: msisdnno }, function (data) {
                        if (data == "false") {
                            $('#Plan_Error').show();
                            $('#Plan_Error').html("cannot proceed further");
                            $("html, body").animate({ scrollTop: 0 }, "slow");
                            //alert('cannot proceed further');
                            return false;
                        }
                        else {
                            //document.forms['frmAddSupple'].submit();
                            $("#frmAddSupple").submit();
                            return true;
                        }
                    });
                }
                else {

                    var selectedVal = "";
                    var selectedVal = $('input[name=SelectSecoAccountDtls]:checked').val();
                    if (selectedVal != null && selectedVal != '0' && selectedVal != 'undefined') {
                        var valNew = [];
                        valNew = selectedVal.split(',');

                        if (valNew.length >= 7) {
                            if (valNew[6] != "A" && valNew[4] != "") {
                                var status = "";
                                if (valNew[6].toString() == "S") {
                                    status = 'Suspend';
                                }
                                else if (valNew[6].toString() == "B") {
                                    status = 'Barred';
                                }
                                else if (valNew[6].toString() == "D") {
                                    status = 'Deactive';
                                }
                                $('#Plan_Error').show();
                                $('#Plan_Error').html("Your Number is on " + status + " status");
                                $("html, body").animate({ scrollTop: 0 }, "slow");
                                //alert("Your Number is on " + status + " status");
                                return false;
                            }
                        }
                    }
                    if ((IsMism.toString().toLowerCase() == "true" || '@(menuType)' == '5')) {
                        //document.forms['frmAddSupple'].submit();
                        $("#frmAddSupple").submit();
                    }
                    else {
                        $('#isDeviceReqWindow').data('tWindow').center().open();
                    }
                    return true;
                }
            }
        }

        function chk2GBData() {
            //alert('Package contain less than 2GB data can not proceed ');
            $('#Plan_Error').show();
            $('#Plan_Error').html("Package contains less than 2GB data can`t proceed further");
            $("html, body").animate({ scrollTop: 0 }, "slow");
            document.getElementById('btnContinue').style.display = 'none';
            return false;

        }

        function enableContinue() {
            //alert('enableContinue');
            $('#Plan_Error').hide();
            document.getElementById('btnContinue').style.display = 'block';
            return true;
        }

        function ExceededMaxMismCount() {
            //alert('Secondary lines count reached maximum of 5, Cannot proceed');
            $('#Plan_Error').show();
            $('#Plan_Error').html("Secondary lines count reached Maximum,Cannot proceed further");
            $("html, body").animate({ scrollTop: 0 }, "slow");
            document.getElementById('btnContinue').style.display = 'none';
            return true;
        }
     
    </script>
}
