﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Controllers;
@{
    ViewBag.Title = "Customer Account";
    var isBlacklisted = ViewBag.isBlacklisted;
    var resultMsg = Session["RegMobileReg_ResultMessage"].ToString2();
    var accounts = (List<FoundAccounts>)ViewBag.Accounts;
}

@using (Html.BeginForm("BlacklistResult", "SuppLine", FormMethod.Post, new { id = "frmBlacklistResult", @class = "overlayonsubmit", processmsg = "Loading" }))
{ 
    <div class="vwHeader">
        <table width="100%">
            <tr>
                <td>
                    <div>@ViewBag.Title</div>
                    <div class="vwSubHeader">Found Account</div>
                </td>
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
            <table width="100%" style="text-align:center;">
                <tr>
                    <td>
                        @(Html.Telerik().Grid(accounts)
                                .Name("Grid").Selectable().DataKeys(a => a.Add("Name"))
                                .Columns(columns =>
                                {
                                    columns.Bound(o => o.Name);
                                    columns.Bound(o => o.ICNo);
                                    columns.Bound(o => o.MSISDN);
                                    columns.Bound(o => o.AccountNo);
                                })
                                .Footer(false)
) 
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>&nbsp;</p>
                        @Html.Hidden("submit")
                        <button class="button-back2" type="submit" value="Back" onclick="$('#submit').val('back');">
                        </button>
                        
                        @*<button class="button-skip" type="submit" value="Skip" onclick="$('#submit').val('skip');">*@
                        <button class="button-continue2" type="submit" value="Next" onclick="$('#submit').val('next');">
                        </button>
                    </td>
                </tr>
            </table>
    </div>
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#menuAddService').css("background-image", $('#menuAddService').css("background-image").replace(".png", "_hover.png"));
        });
    </script>
}