﻿@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "Registration Failed";
    Layout = "~/Views/Shared/_SubmitLayout.cshtml";
    var cancelURL = Url.Content("~/Home/IndexNew");
}
@model int
<div>
    <table width="100%">
        <tr>
            <td style="width: 580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
@using (Html.BeginForm("MobileRegFail", "SuppLine", FormMethod.Post, new { id = "frmMobileRegFail", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    <div>
        @Html.Hidden("TabNumber")
        <h3>&nbsp;&nbsp;Technical issue encountered, please click cancel button and try again. If the issue persists, please contact ISDHDESK@maxis.com.my.</h3>
        <table width="100%">
            <tr>
                <td align="right" valign="bottom">
                    @*<input class="cancel backButton" type="submit" value="<" onclick="$('#TabNumber').val(6);" />*@
                    <input type="button" class="cancel backButton" id="btnCancel" value="< Cancel" />
                </td>
            </tr>
        </table>
        @*<h3>
            Registration was not successful due to data inconsistency. Please retry to register
            by clicking back button</h3>*@
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnCancel').click(function (e) {
            e.preventDefault();
            window.location.href = '@cancelURL';
        });
    });
</script>
