﻿@using Online.Registration.Web.ViewModels
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@{
    ViewBag.Title = "Payment Details";
}
@model Online.Registration.Web.ViewModels.CustomerPaymentDetailsInfo
@{Online.Registration.Web.ViewModels.OrderSummaryVM MobileRegOrderSummary = (OrderSummaryVM)Session["RegMobileReg_OrderSummary"];}
<div class="vwHeader">
    <table width="100%">
        <tr>
            <td style="width: 580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<div class="viewInnerBody">
    @Html.ValidationSummary(true, "")
    @using (Html.BeginForm("PaymentDetails", "SuppLine", FormMethod.Post, new { id = "frmPaymentDetails", @class = "overlayonsubmit", processmsg = "Loading" }))
    {

        string OrderId = string.Empty;
        string Amount = string.Empty;
        if (!ReferenceEquals(ViewBag.OrderId, null))
        {
            OrderId = Convert.ToString(ViewBag.OrderId);
            Session["OrderId"] = ViewBag.OrderId;
        }
        if (!ReferenceEquals(ViewBag.Amount, null))
        {
            Amount = ViewBag.Amount;
            Session["Amount"] = ViewBag.Amount;
        }
        <table width="500px">
            <tr>
                <td>
                    <b>@Html.LabelFor(model => model.CustomerInfo.PayModeID)</b>
                </td>
                <td>@(Html.Telerik().DropDownListFor(model => model.CustomerInfo.PayModeID).BindTo(Util.GetList(RefType.CustomerInfoPaymentMode, defaultValue: "")))
                </td>
            </tr>
            @*<tr style="display:none;">
                <td>
                    <div class="autoBilling">
                        <b>@Html.LabelFor(model => model.CustomerInfo.CardTypeID)</b></div>
                </td>
                <td>
                    <div class="autoBilling">@(Html.Telerik().DropDownListFor(model => model.CustomerInfo.CardTypeID).BindTo(Util.GetList(RefType.CustomerInfoCardType, defaultValue: "")))</div>
                </td>
            </tr>
            <tr style="display:none;">
                <td>
                    <div class="autoBilling">
                        <b>@Html.LabelFor(model => model.CustomerInfo.CardNo)</b></div>
                </td>
                <td>
                    <div class="autoBilling">@Html.TextBoxFor(model => model.CustomerInfo.CardNo)&nbsp;&nbsp;eg.4234990256302271
                    </div>
                </td>
            </tr>
            <tr style="display:none;">
                <td>
                    <div class="autoBilling">
                        <b>@Html.LabelFor(model => model.CustomerInfo.CardExpiryDate)</b></div>
                </td>
                <td>
                    <div class="autoBilling">@Html.TextBoxFor(model => model.CustomerInfo.CardExpiryDate)&nbsp;&nbsp;eg.
                        MMYY</div>
                </td>
            </tr>
            <tr style="display:none;">
                <td>
                    <div class="autoBilling">
                        <b>@Html.LabelFor(model => model.CustomerInfo.NameOnCard)</b></div>
                </td>
                <td>
                    <div class="autoBilling">@Html.TextBoxFor(model => model.CustomerInfo.NameOnCard, new { @class = "uppercase", onchange = "toUpperCase(this)" })</div>
                </td>
            </tr>
            <tr style="display:none;">
                <td>
                    <div class="autoBilling">
                        <b>@Html.LabelFor(model => model.CustomerInfo.CVV)</b></div>
                </td>
                <td>
                    <div class="autoBilling">@Html.TextBoxFor(model => model.CustomerInfo.CVV)</div>
                </td>
            </tr>*@
            <tr>
                <td>
                    <div class="autoBilling">
                        <b>@Html.LabelFor(model => model.CustomerInfo.OrderID)</b></div>
                </td>
                <td>
                    <div class="autoBilling">@OrderId</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="autoBilling">
                        <b>@Html.LabelFor(model => model.CustomerInfo.Amount)</b></div>
                </td>
                <td>
                    <div class="autoBilling">
                        RM@(Amount)
                    </div>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <div class="autoBilling">
                        <button type="button" class="button-cancel" onclick="navigate();" />
                    </div>
                </td>
                <td>
                    @if (Convert.ToInt32(Amount) != 0)
                    {
                        <div class="autoBilling">
                            <input type="submit" value="" onclick="return submitform();" class="button-submit" />
                        </div>
                    }
                </td>
            </tr>
        </table>
    }
</div>
@section Scripts{
    <script type="text/javascript">

        function submitform() { 
        var PaymentID = $('#CustomerInfo_PayModeID').val();

        if (PaymentID == "") {
            alert("The Payment Mode * field is required.");
            return false;
        }
        
        else {
            return true;
        }
        }

        function navigate() {
            window.location = "MobileRegSummary/" + @(ViewBag.OrderId);
        }
    </script>
    }
