﻿@{
    ViewBag.Title = "Payment Details Success";
}
<div class="vwHeader">
    <table width="100%">
        <tr>
            <td style="width: 580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<div class="viewInnerBody">
    @Html.ValidationSummary(true, "")
    @using (Html.BeginForm())
    {

        string Paymentstatus = string.Empty;
        if (!ReferenceEquals(ViewBag.Paymentstatus, null))
        {
            Paymentstatus = Convert.ToString(ViewBag.Paymentstatus);
        }
         
        <h2>
        @if (Paymentstatus == "Success")
        {
            <text> Payment Success ! </text>
        }
        else if (Paymentstatus == "Failed")
        {
            <text> Payment Failed !</text>
        }
        
        </h2>
        <p class="p2">Click <span><a href="../">Here</a></span> to go back<br /></p>
    }
</div>
