﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.CommonEnum;
@using Online.Registration.DAL.Models;
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
@{
    ViewBag.Title = "Supplementary Details";
    var autoBillingID = Util.GetPaymentModeID(PAYMENTMODE.AutoBilling);
    var malaysianID = Util.GetNationalityID(NATIONALITY.Malaysian);
    var NRICType = Util.GetIDCardTypeID(IDCARDTYPE.NRIC);
    var minAge = Session["RegMobileReg_ProgramMinAge"].ToInt();
    var idCardTypeID = Model.Customer.IDCardTypeID;
    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" : "";
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var MalAdvDeposit = Session["RegMobileReg_MalAdvDeposit"].ToInt();
    var OtherAdvDeposit = Session["RegMobileReg_OtherAdvDeposit"].ToInt();
    Model.MalayAdvDeposit = MalAdvDeposit;
    Model.OtherAdvDeposit = OtherAdvDeposit;
    var upfrontPayment1 = Session["RegMobileReg_UpfrontPayment"] != null ? Convert.ToDecimal(Session["RegMobileReg_UpfrontPayment"].ToString2()) : 0;
    Model.UpfrontPayment = upfrontPayment1;
    /*Added by chetan for split adv & deposit*/
    var MalyDevAdv = Session["RegMobileReg_MalyDevAdv"].ToInt();
    var MalayPlanAdv = Session["RegMobileReg_MalayPlanAdv"].ToInt();
    var MalayDevDeposit = Session["RegMobileReg_MalayDevDeposit"].ToInt();
    var MalyPlanDeposit = Session["RegMobileReg_MalyPlanDeposit"].ToInt();
    var OthDevAdv = Session["RegMobileReg_OthDevAdv"].ToInt();
    var OthPlanAdv = Session["RegMobileReg_OthPlanAdv"].ToInt();
    var OthDevDeposit = Session["RegMobileReg_OthDevDeposit"].ToInt();
    var OthPlanDeposit = Session["RegMobileReg_OthPlanDeposit"].ToInt();

    Model.MalyDevAdv = MalyDevAdv;
    Model.MalayPlanAdv = MalayPlanAdv;
    Model.MalayDevDeposit = MalayDevDeposit;
    Model.MalyPlanDeposit = MalyPlanDeposit;
    Model.OthDevAdv = OthDevAdv;
    Model.OthPlanAdv = OthPlanAdv;
    Model.OthDevDeposit = OthDevDeposit;
    Model.OthPlanDeposit = OthPlanDeposit;
    /*upto here*/

    /*Added by Rajeswari on 24th March to disable nationality*/
    var idCardNoForNewUser = "";
    if (Session["IDCardNo"].ToString() != null)
    {
        idCardNoForNewUser = Session["IDCardNo"].ToString();
    }
    var idCardTypeForNewUser = Session["IDCardTypeID"].ToString();
    var idCardTypeName = Session[Online.Registration.Web.CommonEnum.SessionKey.IDCardTypeName.ToString2()].ToString2();
    var kadInfoResp = (Online.Registration.Web.AMRSvc.RetrieveMyKadInfoRp)Session[Online.Registration.Web.CommonEnum.SessionKey.BiometricResponse.ToString()];
    var biometricCheck = Session["RegMobileReg_BiometricVerify"].ToString2().ToLower();
    /*upto here */
    var extraTenCount = 0;
    var listPrevExtraTenMSISDNs = Session["ExtratenMobilenumbers"].ToString2();


    int minSpendLimit = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["MinSpendLimit"]);
    int maxSpendLimit = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["MaxSpendLimit"]);

    string selectedMSISDN = Session["ExternalID"].ToString2();
    var IsSuppleNewAccount = Session["IsSuppleNewAccount"].ToBool();

    if (Convert.ToBoolean(Session["IsSuppleNewAccount"]))
    {
        if ((Session["IDCardTypeID"].ToString2()) == "2")
        {
            Model.Customer.NationalityID = 132;

        }
        else
        {
            Model.Customer.NationalityID = 1;

        }
    }
    //Apply waive on advances and deposits based on Liberization     
    WaiverRules waiverRule = HttpContext.Current.Session[SessionKey.WaiverRules.ToString()] != null ? (WaiverRules)HttpContext.Current.Session["WaiverRules"] : new WaiverRules();
    WebHelper.ApplyDepositWaiveOffsOnModel(Model, waiverRule);
}
<style type="text/css">
    #divMalaysian .form-label, #divNonMalaysian .form-label
    {
        width: 185px;
    }
</style>
<div id="center">
    @using (Html.BeginForm("PersonalDetails", "SuppLine", FormMethod.Post, new { id = "frmPersonalDetails", @class = "overlayonsubmit", processmsg = "Loading" }))
    {   
      
        @Html.HiddenFor(a => a.ExtraTenMobileNumbers)
        @Html.HiddenFor(a => a.TabNumber)
        <div class="header-title">
            @if (!ReferenceEquals(Session["FromMNP"], null) && Convert.ToBoolean(Session["FromMNP"]))
            {
                @:MNP Supplementary Plan
                }
            else
            {
                @:Supplementary Plan
                                                                }
        </div>
        <div class="center_box">
            <div id="divMenuDtls" class="content_white" style="border-top: 1px solid #cccccc;
                height: 30px; padding: 20px;">
                <div class="steps-nav">
                    @if (sessionRegType == (int)MobileRegType.DevicePlan)
                    { 
                        <ul id="table">
                            <li style="display: table-cell; float: none;">Device </li>
                            <li style="display: table-cell; float: none;">Plan </li>
                            <li style="display: table-cell; float: none;">Contract/VAS </li>
                            <li class="preselected" style="display: table-cell; float: none;">Number</li>
                            <li class="selected" style="display: table-cell; float: none;">Customer </li>
                            <li style="display: table-cell; float: none;">Summary </li>
                        </ul>
                    }
                    else
                    {
                        if (!ReferenceEquals(Session["FromMNP"], null) && Convert.ToBoolean(Session["FromMNP"]))
                        {
                        <ul id="table">
                            <li style="display: table-cell; float: none;">Plan </li>
                            <li class="preselected" style="display: table-cell; float: none;">Contract/VAS </li>
                            <li class="selected" style="display: table-cell; float: none;">Customer </li>
                            <li style="display: table-cell; float: none;">Summary </li>
                        </ul>
                        }
                        else
                        {
                        <ul id="table">
                            <li style="display: table-cell; float: none;">Plan </li>
                            <li style="display: table-cell; float: none;">Contract/VAS </li>
                            <li class="preselected" style="display: table-cell; float: none;">Number</li>
                            <li class="selected" style="display: table-cell; float: none;">Customer </li>
                            <li style="display: table-cell; float: none;">Summary </li>
                        </ul>
                        }
                    }
                </div>
            </div>
            <div class="content_white" style="padding: 1px 1px 10px 40px">
                @Html.ValidationSummary(false)
            </div>
            <div class="content_white">
                <div id="mainBox" style="display: block; padding: 0px 20px; margin: 0px auto;">
                    <div id="dvError" class="ErrorClass">
                    </div>
                    <div id="ui-plan">
                        <h3>
                            Customer Information</h3>
                        <div style="width: 100%; border-left: 1px solid #ccc;">
                            <div style="padding: 20px 15px 50px 15px;">
                                @if (Convert.ToBoolean(Session["IsSuppleNewAccount"]))
                                {
                                    @Html.Partial("_Customer", Model)
                                }
                                else
                                { 
                                    @Html.Partial("_ExistingCustomer", Model) 
                                }
                            </div>
                            <div style="clear: both;">
                            </div>
                        </div>
                        <h3>
                            Billing Address</h3>
                        <div style="width: 100%; border-left: 1px solid #ccc;">
                            <div style="padding: 20px 15px 50px 15px;">
                                @if (Convert.ToBoolean(Session["IsSuppleNewAccount"]))
                                { 
                                    @Html.Partial("_Address", Model) 
                                }
                                else
                                {
                                    @Html.Partial("_ExistingAddress", Model) 
                                }
                            </div>
                            <div style="clear: both">
                            </div>
                        </div>
                        <h3>
                            Additional Charges</h3>
                        <div style="width: 100%; border-left: 1px solid #ccc;">
                            <div style="padding: 20px 15px 50px 15px;">
                                @if (!ReferenceEquals(Model.Customer, null))
                                {
                                    if (Model.Customer.NationalityID == 0 || Model.Customer.NationalityID == 1)
                                    {
                                    <div id="divMalaysian" style="width: 600px;">
                                        <div>
                                            @if (Convert.ToInt32(Session["RegMobileReg_Type"]) == 1)
                                            {
                                                <div class="form-row">
                                                    <div class="form-label">
                                                        Device Advance for Malaysians
                                                    </div>
                                                    <div>
                                                        :
                                                        @if (Model.MalyDevAdv != null && Model.MalyDevAdv != 0)
                                                        {
                                                            @Html.TextBoxFor(model => model.MalyDevAdv, new { @Value = Model.MalyDevAdv.ToDecimal() > 0 ? Model.MalyDevAdv.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.MalyDevAdv, new { @Value = Model.MalyDevAdv.ToDecimal() > 0 ? Model.MalyDevAdv.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                    </div>
                                                </div>
                                                       
                                            }
                                            <div class="form-row">
                                                <div class="form-label">
                                                    Plan Advance for Malaysians
                                                </div>
                                                <div>
                                                    :
                                                    @if (Model.MalayPlanAdv != null && Model.MalayPlanAdv != 0)
                                                    {
                                                        @Html.TextBoxFor(model => model.MalayPlanAdv, new { @Value = Model.MalayPlanAdv.ToDecimal() > 0 ? Model.MalayPlanAdv.ToString() : "0.00", disabled = "disable" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(model => model.MalayPlanAdv, new { @Value = Model.MalayPlanAdv.ToDecimal() > 0 ? Model.MalayPlanAdv.ToString() : "0.00", disabled = "disable" })
                                                    }
                                                </div>
                                            </div>
                                            @if (Convert.ToInt32(Session["RegMobileReg_Type"]) == 1)
                                            {
                                                        
                                                <div class="form-row">
                                                    <div class="form-label">
                                                        Device Deposit for Malaysians
                                                    </div>
                                                    <div>
                                                        :
                                                        @if (Model.MalayDevDeposit != null && Model.MalayDevDeposit != 0)
                                                        {
                                                            @Html.TextBoxFor(model => model.MalayDevDeposit, new { @Value = Model.MalayDevDeposit.ToDecimal() > 0 ? Model.MalayDevDeposit.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.MalayDevDeposit, new { @Value = Model.MalayDevDeposit.ToDecimal() > 0 ? Model.MalayDevDeposit.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                    </div>
                                                </div>
                                                        
                                                       
                                            }
                                            <div class="form-row">
                                                <div class="form-label">
                                                    Plan Deposit for Malaysians
                                                </div>
                                                <div>
                                                    :
                                                    @if (Model.MalyPlanDeposit != null && Model.MalyPlanDeposit != 0)
                                                    {
                                                        @Html.TextBoxFor(model => model.MalyPlanDeposit, new { @Value = Model.MalyPlanDeposit.ToDecimal() > 0 ? Model.MalyPlanDeposit.ToString() : "0.00", disabled = "disable" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(model => model.MalyPlanDeposit, new { @Value = Model.MalyPlanDeposit.ToDecimal() > 0 ? Model.MalyPlanDeposit.ToString() : "0.00", disabled = "disable" })
                                                    }
                                                </div>
                                            </div>
                                            @if (Model.UpfrontPayment != null && Model.UpfrontPayment != 0)
                                            {
                                                <div class="form-row">
                                                    <div class="form-label">
                                                        Upfront Payment
                                                    </div>
                                                    <div>
                                                        : @*  @Html.Raw(Model.UpfrontPayment.ToDecimal() > 0 ? Model.UpfrontPayment.ToString() : "0.00")
                            <div style="display:none;">*@
                                                        @Html.TextBoxFor(model => model.UpfrontPayment, new { @Value = Model.UpfrontPayment.ToDecimal() > 0 ? Model.UpfrontPayment.ToString() : "0.00", disabled = "disable" })
                                                        @* </div>*@
                                                    </div>
                                                </div>
                                            }
                                            @if (Session["SimType"].ToString2() == "MISM")
                                            {
                                                if (Session["MobileRegType"].ToString2() == "Other")
                                                {
                                                <div class="form-row">
                                                    <div class="form-label">
                                                        Secondary Device Advance for Malaysians
                                                    </div>
                                                    <div>
                                                        :
                                                        @if (Model.MalyDevAdvSeco != null && Model.MalyDevAdvSeco != 0)
                                                        {
                                                            @Html.TextBoxFor(model => model.MalyDevAdvSeco, new { @Value = Model.MalyDevAdvSeco.ToDecimal() > 0 ? Model.MalyDevAdvSeco.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.MalyDevAdvSeco, new { @Value = Model.MalyDevAdvSeco.ToDecimal() > 0 ? Model.MalyDevAdvSeco.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                    </div>
                                                </div>
                                                       
                                                }
                                                <div class="form-row">
                                                    <div class="form-label">
                                                        Secondary Plan Advance for Malaysians
                                                    </div>
                                                    <div>
                                                        :
                                                        @if (Model.MalayPlanAdvSeco != null && Model.MalayPlanAdvSeco != 0)
                                                        {
                                                            @Html.TextBoxFor(model => model.MalayPlanAdvSeco, new { @Value = Model.MalayPlanAdvSeco.ToDecimal() > 0 ? Model.MalayPlanAdvSeco.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.MalayPlanAdvSeco, new { @Value = Model.MalayPlanAdvSeco.ToDecimal() > 0 ? Model.MalayPlanAdvSeco.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                    </div>
                                                </div>
                                                      
                                                        if (Session["MobileRegType"].ToString2() == "Other")
                                                        {
                                                <div class="form-row">
                                                    <div class="form-label">
                                                        Secondary Device Deposit for Malaysians
                                                    </div>
                                                    <div>
                                                        :
                                                        @if (Model.MalayDevDepositSeco != null && Model.MalayDevDepositSeco != 0)
                                                        {
                                                            @Html.TextBoxFor(model => model.MalayDevDepositSeco, new { @Value = Model.MalayDevDepositSeco.ToDecimal() > 0 ? Model.MalayDevDepositSeco.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.MalayDevDepositSeco, new { @Value = Model.MalayDevDepositSeco.ToDecimal() > 0 ? Model.MalayDevDepositSeco.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                    </div>
                                                </div>
                                                       
                                                        }
                                                              
                                                <div class="form-row">
                                                    <div class="form-label">
                                                        Secondary Plan Deposit for Malaysians
                                                    </div>
                                                    <div>
                                                        :
                                                        @if (Model.MalyPlanDepositSeco != null && Model.MalyPlanDepositSeco != 0)
                                                        {
                                                            @Html.TextBoxFor(model => model.MalyPlanDepositSeco, new { @Value = Model.MalyPlanDepositSeco.ToDecimal() > 0 ? Model.MalyPlanDepositSeco.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.MalyPlanDepositSeco, new { @Value = Model.MalyPlanDepositSeco.ToDecimal() > 0 ? Model.MalyPlanDepositSeco.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                    </div>
                                                </div>
                                                      
                                            }
                                        </div>
                                    </div>
                                    }
                                    else
                                    {
                                    <div id="divNonMalaysian" style="width: 600px;">
                                        <div>
                                            @if (Session["MobileRegType"].ToString2() == "Other")
                                            {
                                                <div class="form-row">
                                                    <div class="form-label">
                                                        Device Advance for Non Malaysians
                                                    </div>
                                                    <div>
                                                        :
                                                        @if (Model.OthDevAdv != null && Model.OthDevAdv != 0)
                                                        {
                                                            @Html.TextBoxFor(model => model.OthDevAdv, new { @Value = Model.OthDevAdv.ToDecimal() > 0 ? Model.OthDevAdv.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.OthDevAdv, new { @Value = Model.OthDevAdv.ToDecimal() > 0 ? Model.OthDevAdv.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                    </div>
                                                </div>
                                                      
                                            }
                                            <div class="form-row">
                                                <div class="form-label">
                                                    Plan Advance for Non Malaysians
                                                </div>
                                                <div>
                                                    :
                                                    @if (Model.OthPlanAdv != null && Model.OthPlanAdv != 0)
                                                    {
                                                        @Html.TextBoxFor(model => model.OthPlanAdv, new { @Value = Model.OthPlanAdv.ToDecimal() > 0 ? Model.OthPlanAdv.ToString() : "0.00", disabled = "disable" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(model => model.OthPlanAdv, new { @Value = Model.OthPlanAdv.ToDecimal() > 0 ? Model.OthPlanAdv.ToString() : "0.00", disabled = "disable" })
                                                    }
                                                </div>
                                            </div>
                                            @if (Session["MobileRegType"].ToString2() == "Other")
                                            {
                                                <div class="form-row">
                                                    <div class="form-label">
                                                        Device Deposit for Non Malaysians
                                                    </div>
                                                    <div>
                                                        :
                                                        @if (Model.OthDevDeposit != null && Model.OthDevDeposit != 0)
                                                        {
                                                            @Html.TextBoxFor(model => model.OthDevDeposit, new { @Value = Model.OthDevDeposit.ToDecimal() > 0 ? Model.OthDevDeposit.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.OthDevDeposit, new { @Value = Model.OthDevDeposit.ToDecimal() > 0 ? Model.OthDevDeposit.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                    </div>
                                                </div>
                                                    
                                            }
                                            <div class="form-row">
                                                <div class="form-label">
                                                    Plan Deposit for Non Malaysians
                                                </div>
                                                <div>
                                                    :
                                                    @if (Model.OthPlanDeposit != null && Model.OthPlanDeposit != 0)
                                                    {
                                                        @Html.TextBoxFor(model => model.OthPlanDeposit, new { @Value = Model.OthPlanDeposit.ToDecimal() > 0 ? Model.OthPlanDeposit.ToString() : "0.00", disabled = "disable" })
                                                    }
                                                    else
                                                    {
                                                        @Html.TextBoxFor(model => model.OthPlanDeposit, new { @Value = Model.OthPlanDeposit.ToDecimal() > 0 ? Model.OthPlanDeposit.ToString() : "0.00", disabled = "disable" })
                                                    }
                                                </div>
                                            </div>
                                            @if (Model.UpfrontPayment != null && Model.UpfrontPayment != 0)
                                            {
                                                <div class="form-row">
                                                    <div class="form-label">
                                                        Upfront Payment
                                                    </div>
                                                    <div>
                                                        : @*  @Html.Raw(Model.UpfrontPayment.ToDecimal() > 0 ? Model.UpfrontPayment.ToString() : "0.00")
                            <div style="display:none;">*@
                                                        @Html.TextBoxFor(model => model.UpfrontPayment, new { @Value = Model.UpfrontPayment.ToDecimal() > 0 ? Model.UpfrontPayment.ToString() : "0.00", disabled = "disable" })
                                                        @* </div>*@
                                                    </div>
                                                </div>
                                            
                                            }
                                            @if (Session["SimType"].ToString2() == "MISM")
                                            {
                                                if (Session["MobileRegType"].ToString2() == "Other")
                                                {
                                                <div class="form-row">
                                                    <div class="form-label">
                                                        Secondary Device Advance for Non Malaysians
                                                    </div>
                                                    <div>
                                                        :
                                                        @if (Model.OthDevAdvSeco != null && Model.OthDevAdvSeco != 0)
                                                        {
                                                            @Html.TextBoxFor(model => model.OthDevAdvSeco, new { @Value = Model.OthDevAdvSeco.ToDecimal() > 0 ? Model.OthDevAdvSeco.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.OthDevAdvSeco, new { @Value = Model.OthDevAdvSeco.ToDecimal() > 0 ? Model.OthDevAdvSeco.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                    </div>
                                                </div>
                                                       
                                                }
                                                <div class="form-row">
                                                    <div class="form-label">
                                                        Secondary Plan Advance for Non Malaysians
                                                    </div>
                                                    <div>
                                                        :
                                                        @if (Model.OthPlanAdvSeco != null && Model.OthPlanAdvSeco != 0)
                                                        {
                                                            @Html.TextBoxFor(model => model.OthPlanAdvSeco, new { @Value = Model.OthPlanAdvSeco.ToDecimal() > 0 ? Model.OthPlanAdvSeco.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.OthPlanAdvSeco, new { @Value = Model.OthPlanAdvSeco.ToDecimal() > 0 ? Model.OthPlanAdvSeco.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                    </div>
                                                </div>
                                                       
                                                        if (Session["MobileRegType"].ToString2() == "Other")
                                                        {
                                                <div class="form-row">
                                                    <div class="form-label">
                                                        Secondary Device Deposit for Non Malaysians
                                                    </div>
                                                    <div>
                                                        :
                                                        @if (Model.OthDevDepositSeco != null && Model.OthDevDepositSeco != 0)
                                                        {
                                                            @Html.TextBoxFor(model => model.OthDevDepositSeco, new { @Value = Model.OthDevDepositSeco.ToDecimal() > 0 ? Model.OthDevDepositSeco.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.OthDevDepositSeco, new { @Value = Model.OthDevDepositSeco.ToDecimal() > 0 ? Model.OthDevDepositSeco.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                    </div>
                                                </div>
                                                      
                                                        }
                                                <div class="form-row">
                                                    <div class="form-label">
                                                        Secondary Plan Deposit for Non Malaysians
                                                    </div>
                                                    <div>
                                                        :
                                                        @if (Model.OthPlanDepositSeco != null && Model.OthPlanDepositSeco != 0)
                                                        {
                                                            @Html.TextBoxFor(model => model.OthPlanDepositSeco, new { @Value = Model.OthPlanDepositSeco.ToDecimal() > 0 ? Model.OthPlanDepositSeco.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                        else
                                                        {
                                                            @Html.TextBoxFor(model => model.OthPlanDepositSeco, new { @Value = Model.OthPlanDepositSeco.ToDecimal() > 0 ? Model.OthPlanDepositSeco.ToString() : "0.00", disabled = "disable" })
                                                        }
                                                    </div>
                                                </div>
                                                      
                                            }
                                        </div>
                                    </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: none;">
                <h3>
                    Monthly Bill Settlement Preference</h3>
                <div style="width: 100%; border-left: 1px solid #ccc;">
                    <div style="padding: 20px 15px 50px 15px;">
                        @Html.Partial("_Billing", Model)</div>
                </div>
            </div>
            <div class="content_white" style="height: 80px;">
                <div style="float: right; padding-right: 20px;">
                    @if (!ReferenceEquals(Session["FromMNP"], null) && Convert.ToBoolean(Session["FromMNP"]))
                    {///MULTIPORT IN RELATED CHANGES
                        <input class="cancel backButton" type="submit" value="&lt;" onclick="$('#TabNumber').val(3);" />
                    }
                    else if (Convert.ToString(Session["SimType"]) == "MISM")
                    {
                        <input class="cancel backButton" type="submit" value="&lt;" onclick="$('#TabNumber').val(@RegistrationSteps.MobileNo.ToInt());" />
                    }
                    else
                    {
                        <input class="cancel backButton" type="submit" value="&lt;" onclick="$('#TabNumber').val(4);" />
                    }
                    @if (Convert.ToBoolean(Session["IsSuppleNewAccount"]))
                    {
                        <input class="submitButton" type="submit" value="Next Step: Summary" onclick="javascript:return ValidateICNum();"
                            id="btnContinue" />
                    }
                    else
                    {
@*<input class="submitButton" type="button" value="Next Step: Summary"  onclick="$('#TabNumber').val(6); $('#frmPersonalDetails').submit();" id="btnContinue" />*@
                        <input class="submitButton" type="button" value="Next Step: Summary" onclick="SubmitWihoutValidate();"
                            id="btnContinue" />
                    }
                </div>
            </div>
        </div>
        
        @Html.Partial("_footer")
      
    }
</div>
<div id="right">
    @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
</div>
@{
   

    Html.Telerik().Window()
                     .Name("BiometricInfoOverwrite")
                   .Title("Biometric Check")
                   .Width(275).Height(120)
                   .Content(@<text>
    <table width="100%" cellpadding="0" cellspacing="0" border="0" class="ST">
        <tr>
            <td align="center">
                Do you want to overwrite the existing data with Biometric data ?
            </td>
        </tr>
        <tr>
            <td align="center">
                <input class="submitButtonSmall" value="Yes" type="button" id="btnOverwriteYes" />
                <input class="submitButtonSmall" value="No" type="button" id="btnOverwriteNo" />
                <br />
            </td>
        </tr>
    </table>
    </text>)
                   .Modal(true)
                   .Visible(false)
                   .Render();




    //Spend Limit Commented by Ravi As per New Flow on June 15 2013
    Html.Telerik().Window()
                      .Name("SpendLimitWindow")
                      .Title("Spend Limit")
                      .Width(320)
                      .Content(@<text>
    <table>
        <tr>
            <td>
                Spend Limit :
            </td>
            <td>
                <input type="text" id="txtSpendLimit" value='@Session["SpendLimit"].ToString2()' />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="button" id="btnSave" name="btnSave" onclick="SaveSpendLimit();" class="submitButton"
                    value="Save" />
            </td>
        </tr>
    </table>
    </text>)
                      .Modal(true)
                      .Visible(false)
                      .Render();

    Html.Telerik().Window()
 .Name("extraTenWindow")
 .Title("Extra Ten")
 .Width(360)


 .Content(@<text>
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td colspan="2">
                <div class="ErrorClass" style="display: block;" id="ExtratenPlan_Error">
                </div>
                <div id="divExtraTen">
                    @for (int i = 0; i < 10; i++)
                    {

                        var divId = "divExtraTen_" + i;
                        var txtId = "txtExtraTen_" + i;
                        var delbtnId = "btnDeleteExtraTen_" + i;

                        var lblSnoId = "lblSno_" + i;

                        extraTenCount++;
                   
                        
                    
                        <div id='@divId' style="padding-bottom:10px;" >
                            @* <label class="NumL" id=@lblSnoId>@extraTenCount</label>*@
                            @extraTenCount.ToString()
                            <input class="TxtBox" type="text" id=@txtId tabindex="1" />
                            <input class="DelBtn" style="display:none;" type="button" onclick='deleteExtraTen(this);' id=@delbtnId value="" />
                        </div>
                    
                    }
                </div>
                <div class="Controller" style="display: none;">
                    <input type="button" class="AddMoreBtn" tabindex="1" id="btnAddMore" onclick="addExtraTenDiv();"
                        value="" />
                </div>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="white-space: nowrap;" align="center">
                <input id="btnSaveExtraTen" type="button" class="submitButton" tabindex="1" value="Save"
                    onclick="return validateExtraTen();" />
                <input type="button" tabindex="1" class="submitButton" id="btnCancelExtraTen" onclick="cancelExtraTen();"
                    value="Cancel" />
                <br />
            </td>
        </tr>
    </table>
    </text>
)
 .Modal(true)
 .Visible(false)
 .ClientEvents(events => events.OnOpen("extraTenWindowOnOpen"))
 .Render();

    Html.Telerik().ScriptRegistrar()
                .OnDocumentReady(@<text> @*//Spend Limit Commented by Ravi As per New Flow on June 15 2013*@
    $('#ancSpendLimit').click(function(e) {e.preventDefault();$('#SpendLimitWindow').data('tWindow').center().open();});
    $('#btnExtraTen') .click(function(e) { e.preventDefault(); $('#extraTenWindow').data('tWindow').center().open();$('#ExtratenPlan_Error').html('');});
    </text>); 
}
@section Scripts{
    <script type="text/javascript">

    $('#Customer_ContactNo').prop('disabled', true);
     //alert($('#dvDob').html());
     
     if(document.getElementById('dvDob')!=null)
     {
    //alert(parseInt($('#dvDob').html().toString().split('-')[0]));
       $('#DOBDay').val(parseInt($('#dvDob').html().toString().split('-')[0]))
        $('#DOBMonth').val(parseInt($('#dvDob').html().toString().split('-')[1]))
         $('#DOBYear').val(parseInt($('#dvDob').html().toString().split('-')[2]))
       
       //alert($('#DOBDay').val());
     }
     function tooltips(target) {
            jQuery(".tooltip2").removeClass('focus');
            jQuery(".tooltip2." + target).addClass('focus');
            jQuery(".wrappers").removeClass('focus');
            jQuery(".wrappers." + target).addClass('focus');

        }

        jQuery(function() {
            jQuery("#ui-accordion").accordion({
                autoHeight: false
            });
            $("#ui-accordion").accordion("option", "icons",
                { 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });
        });

        jQuery(function() {
            jQuery("#ui-plan").accordion({
                autoHeight: false
            });
            $("#ui-plan").accordion("option", "icons",
                { 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });
        });

        $(document).ready(function () {

         $("#btnOverwriteYes").click(function () {
                OverWriteBiometricInfo();
                $('#BiometricInfoOverwrite').data('tWindow').close();
            });

            $("#btnOverwriteNo").click(function () {
                $('#BiometricInfoOverwrite').data('tWindow').close();
            });
        
        /*Added by Rajeswari on 24th March to disable nationality and IDcardNo and IDCardType */
        $('#Customer_IDCardNo').css({"background-color": '#F2F2F2'});  
        $('#Customer_IDCardNo').attr('readonly', true);
        $('#Customer_IDCardTypeID').css({"background-color": '#F2F2F2'});  
        $('#Customer_IDCardTypeID').attr('disabled', 'disabled');
       // $("#Customer_IDCardTypeID").data("tDropDownList").disable();
        $('#Customer_NationalityID').css({"background-color": '#F2F2F2'});
        $('#Customer_NationalityID').attr('disabled', 'disabled');
//        $("#Customer_NationalityID").data("tDropDownList").disable();

        var ddlNationality = $("#Customer_NationalityID");
        if($('#Customer_NationalityID').val() == "")
        {               
            ddlNationality.val(@(malaysianID));
            $("#divMalaysian").show();
            $("#divNonMalaysian").hide();

            if(@(Session["IDCardTypeID"]) == "2"){
                if($('#Customer_NationalityID').val() == "1")
                { 
                    $("#Customer_NationalityID").attr('readonly', 'readonly');
                    ddlNationality.val("132");
                    $("#divMalaysian").hide();
                    $("#divNonMalaysian").show();
                }
            }
            else
            {
               ddlNationality.val("1");
            }  
        }
        else
        {            
                $("#divMalaysian").hide();
                $("#divNonMalaysian").show();    
                   
            if($('#Customer_NationalityID').val() == "1")
            {                      
                    $("#divMalaysian").show();
                    $("#divNonMalaysian").hide();
            }
        }               
            IDCardTypeonfill();
            var payModeID = $('#Customer_PayModeID').val();

            if(payModeID != '' && payModeID != 0){
                setDiv(payModeID);
            }
            else{
                setDivDefault();
            }


            //  var idCardType = $('#Customer_IDCardTypeID').val();
            var idCardType=@(idCardTypeForNewUser);
            var nric = $('#Customer_IDCardNo').val();
            var ddlIDCardType = $("#Customer_IDCardTypeID");
            //ddlIDCardType.value(idCardType);

              if($('#Customer_IDCardTypeID').val() == '')
              {              
                     idCardType=@(idCardTypeForNewUser);
                    
                     $('#Customer_IDCardTypeID').val(idCardType);
                    
                    if(idCardType == "1")
                    {                  
                        idCardType="New IC";
                    }
                    else if(idCardType == "2")
                    {
                        idCardType="Passport";
                    }
                    else if(idCardType == "3")
                    {
                        idCardType="Old IC";
                    }
                    else
                    {
                        idCardType="Other ID";
                    } 
               
               // ddlIDCardType.value(idCardType);
              }     
               if($('#Customer_IDCardNo').val() == ''){
             
                     nric='@(idCardNoForNewUser)';
                     $('#Customer_IDCardNo').val(nric);
              }
          
          
            $('#InputIDCardTypeID').val($("#Customer_IDCardTypeID").val());
            $('#InputIDCardNo').val($("#Customer_IDCardNo").val());
            $('#InputNationalityID').val($('#Customer_NationalityID').val());

              var year = nric.substr(0, 2);
              var month = nric.substr(2, 2);
              var day = nric.substr(4, 2);
              var currentYear = (new Date).getFullYear();
              if(currentYear - ("19" + year) <= 100){
                  year = "19" + year;
              }
              else{
                  year = "20" + year;
              }
              
              var dob = Date.parse(year + "/" + month + "/" + day);

              dob = new Date(dob);
              var dateNow = new Date();
              var age = dateNow.getFullYear() - dob.getFullYear();
              
              if(age < @(minAge) && (@(idCardTypeID) == @(NRICType))){
               $('#dvError').html("Invalid NRIC! Minimum required @(minAge) years old.");
                        $("html, body").animate({ scrollTop: 0 }, "slow");
              

                  return;
              }

              if ((@(idCardTypeID) == @(NRICType)))
              {
                  $("#DOBDay").val(parseInt(day,10));
                  $("#DOBMonth").val(parseInt(month));
                  $("#DOBYear").val(year);

                  $('#Customer_DateOfBirth').val(month + '/' + day + '/' + year);
              }
              enableordisable();   
              
            if('@(idCardTypeName)' == "NEWIC" && '@(SessionManager.Get("IsSuppleNewAccount"))' == 'True' &&  '@(biometricCheck)' == 'true')
            {
                RetrieveMyKadInfo();
            }           
        });



        if('@(listPrevExtraTenMSISDNs)'!='')
    {

   $('#ExtraTenMobileNumbers').val('@(listPrevExtraTenMSISDNs)');

   
    var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        var objListMSISDNs=$('#ExtraTenMobileNumbers').val().split(',');
        $('#hdnExtraTenCount').val(childDivs.length);
        if(objListMSISDNs.length<=childDivs.length)
        {

        for(var i=0;i<childDivs.length;i++)
        {

         var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
         if(txtElement!=null)
         txtElement.val(objListMSISDNs[i]);
         
        }

        }
        else
        {
        
        for(var i=0;i<(objListMSISDNs.length-childDivs.length);i++)
        {
        var index=parseInt($('#hdnExtraTenCount').val())+1;
        var divId = "divExtraTen_"+ index ;
        var txtId = "txtExtraTen_" + index ;
        var delbtnId = "btnDeleteExtraTen_" + index;
         var lblSnoId = "lblSno_" + childDivs.length+1;
         //$("#divExtraTen").append("<div id='"+divId+"' ><input type='text' id='"+txtId+"' /> <input type='button'  onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");;
         $("#divExtraTen").append("<div class='Controller Row' id='"+divId+"' ><label class='NumL' id='"+lblSnoId+"'>"+(parseInt(childDivs.length+1))+"</label><input class='TxtBox' type='text' id='"+txtId+"' tabindex='1' /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");
        $('#hdnExtraTenCount').val(index+1);
        
        }
        childDivs = panel.find("div");
        for(var i=0;i<childDivs.length;i++)
        {

         var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
         if(txtElement!=null)
         txtElement.val(objListMSISDNs[i]);
         
        }
        
        
        }

    }

      function addExtraTenDiv()
        {
        var index=parseInt($('#hdnExtraTenCount').val())+1;
        var divId = "divExtraTen_"+ index;
        var txtId = "txtExtraTen_" + index ; 
        var delbtnId = "btnDeleteExtraTen_" + index ;
        //$("#divExtraTen").append("<div id='"+divId+"' ><input type='text' id='"+txtId+"' /> <input type='button' value='X' onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");;

        var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        var lblSnoId = "lblSno_" + childDivs.length+1;
        $("#divExtraTen").append("<div class='Controller Row' id='"+divId+"' ><label class='NumL' id='"+lblSnoId+"'>"+(childDivs.length+1)+"</label><input class='TxtBox' type='text' id='"+txtId+"' tabindex='1' /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");
        $('#hdnExtraTenCount').val(parseInt(index)+1);
        
        }

        function deleteExtraTen(delbtn)
        {
        var delbtnId=delbtn.id;


         var panel= $("#divExtraTen");
         var childDivs = panel.find("div");

         if(childDivs.length>1)
         {
          $('#'+delbtnId).parent().remove();

         }
        else
        {
        alert("Atleast one mobile number has to be entered for Extra Ten");
        return false;
        }
//        if(parseInt($('#hdnExtraTenCount').val())>1)
//        {
//        $('#'+delbtnId).parent().remove();
//        $('#hdnExtraTenCount').val((parseInt($('#hdnExtraTenCount').val())-1));
//        }
//        else
//        {
//        alert("Atleast one mobile number has to be entered for Extra Ten");
//        return false;
//        }
//        alert($('#hdnExtraTenCount').val());

        ResetSerialNo();
        
        }


        
        function ResetSerialNo()
        {
        var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        for(var i=0;i<childDivs.length;i++)
        {
          //alert($('#'+childDivs[i].id).children(':first-child').html());
          var curDivId=childDivs[i].id;
          $('#'+curDivId).children(':first-child').html(i+1)

//           $('#'+curDivId).removeAttr('class');
//           if(i%2==0)
//           {
//            $('#'+curDivId).addClass('Controller AltRow');
//              
//           }
//           else
//           {
//             $('#'+curDivId).addClass('Controller Row');
//           }


        }
        }


        function cancelExtraTen()
        {

//        if(confirm("Are you sure you want to cancel Extra Ten"))
//        {
//         
//          var value='2239';

//          var objGroupId=$('#hdnExtraTenGroupId').val();
//             $("#btnVAS_2239").css("border-style", "none");
//               var  modGroupIds =$('#hdnGroupIds').val().toString().replace(objGroupId+",","");
//            $('#hdnGroupIds').val(modGroupIds);
//            var arrVasID = $('#SelectedVasIDs').val().split(',');
//            var newVasIDs='';
//                for(var i=0;i<arrVasID.length;i++)
//                {

//                if(arrVasID[i].toString()!="")
//                {
//                  if(arrVasID[i].toString()!=value)
//                   {
//                     if(newVasIDs=="")
//                      newVasIDs=arrVasID[i];
//                     else
//                      newVasIDs=newVasIDs+","+arrVasID[i];
//                    }
//                }
//                

//                
//                }
//               

//               //  $('#SelectedVasIDs').val(newVasIDs);
                 // $('#ExtraTenMobileNumbers').val("");
                 // $('#hdnExtraTenFlag').val('false');
                   $('#extraTenWindow').data('tWindow').close();
        
       // }

        }



        function extraTenWindowOnOpen()
        {
        
        
        
        }

        function validateExtraTen()
        {

        var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        var objListMSISDNs="";
        var mobregex = /^60[0-9]{8,10}$/;
        for(var i=0;i<childDivs.length;i++)
        {
        
        var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
         if(txtElement.val() !="")
         {
         if (!mobregex.test(txtElement.val())) 
         {
         $('#ExtratenPlan_Error').show();
                        $('#ExtratenPlan_Error').html("Please enter valid MSISDN number");
         return false;
         }
         }

         
         
         

        if(txtElement.val() !="")
        {
        if(objListMSISDNs.indexOf(txtElement.val()) ==-1)
         {
        if(objListMSISDNs!="")
        objListMSISDNs=objListMSISDNs+","+txtElement.val();
        else
        objListMSISDNs=txtElement.val();
        }
        else
         {
         $('#ExtratenPlan_Error').show();
                        $('#ExtratenPlan_Error').html("Please enter unique mobile numbers");
         return false;
         }


        }

       
        
        }

//         if(parseInt(objListMSISDNs.split(',').length)>10)
//            {
//            if(confirm("Extra Ten limit has exceeded. You will have to pay additional charges.")==false)
//            {
//              return false;
//            }
//            }
        // $('#ExtraTenMobileNumbers').val(objListMSISDNs);
         //Validation

         var url = '@(Url.Content("~/Registration/validateExtraTenMSISDN"))';
           
            $.post(url,{arrMSISDNs:objListMSISDNs},function (data) {

            if(data.toString()!='')
            {
            $('#ExtratenPlan_Error').show();
                        $('#ExtratenPlan_Error').html("Please enter valid maxis mobile number for "+data.toString());
            return false;
            }
            else  if(data.toString()=='')
            {
              
             


  var url1 = '@(Url.Content("~/Registration/validateExtraTenMSISDNAgainstAccount"))';
           
            $.post(url1,{arrMSISDNs:objListMSISDNs},function (data) {

            if(data.toString()!='')
            {
            $('#ExtratenPlan_Error').show();
                        $('#ExtratenPlan_Error').html(data.toString()+ " is already part of your account !");
            return false;
            }
            else if(data.toString()=='')
            {
            if ('@selectedMSISDN' != "") {

                    if (objListMSISDNs.toString().indexOf('@selectedMSISDN') != -1) {
                        $('#ExtratenPlan_Error').show();
                        $('#ExtratenPlan_Error').html('@selectedMSISDN' + " is already part of your account !");
                        return false;
                    }
                }
              
              $('#ExtraTenMobileNumbers').val(objListMSISDNs);
            
               $('#extraTenWindow').data('tWindow').close();

            }
            
           }, "text");
            
              
            }
            
           }, "text");

       
        
        }

        
        function enableordisable()
        {
        
            if($('#Customer_FullName').val() != "")
            {
              $('#Customer_FullName').css({"background-color": '#F2F2F2'});
              $('#Customer_FullName').attr('readonly', true);
            }
       
       if($('#Customer_Gender').attr('checked') != "undefined" && $('#Customer_Gender').attr('checked') == "checked")
       {
            $(':radio:not(:checked)').attr('disabled', true);
       }  
            
             if($('#Customer_ContactNo').val() != "")
            {
              $('#Customer_ContactNo').css({"background-color": '#FFFFFF'});
              $('#Customer_ContactNo').attr('readonly', false);
            }
                if($('#Customer_AlternateContactNo').val() != "")
            {
              $('#Customer_AlternateContactNo').css({"background-color": '#FFFFFF'});
              $('#Customer_AlternateContactNo').attr('readonly', false);
            }
                 if($('#Customer_EmailAddr').val() != "")
            {
              $('#Customer_EmailAddr').css({"background-color": '#FFFFFF'});
              $('#Customer_EmailAddr').attr('readonly', false);
            }
                 if($('#Address_Line1').val() != "")
            {
              $('#Address_Line1').css({"background-color": '#FFFFFF'});
              $('#Address_Line1').attr('readonly', false);
            }
              if($('#Address_Line2').val() != "")
            {
              $('#Address_Line2').css({"background-color": '#FFFFFF'});
              $('#Address_Line2').attr('readonly', false);
            }
             if($('#Address_Line3').val() != "")
            {
              $('#Address_Line3').css({"background-color": '#FFFFFF'});
              $('#Address_Line3').attr('readonly', false);
            }
              if($('#Address_Town').val() != "")
            {
              $('#Address_Town').css({"background-color": '#FFFFFF'});
              $('#Address_Town').attr('readonly', false);
            }
              if($('#Address_Postcode').val() != "")
            {
              $('#Address_Postcode').css({"background-color": '#FFFFFF'});
              $('#Address_Postcode').attr('readonly', false);
            }
               if($('#MalayAdvDeposit').val() >0)
            {
              $('#MalayAdvDeposit').css({"background-color": '#F2F2F2'});
              $('#MalayAdvDeposit').attr('readonly', true);
            }
             if($('#OtherAdvDeposit').val() >0)
            {
              $('#OtherAdvDeposit').css({"background-color": '#F2F2F2'});
              $('#OtherAdvDeposit').attr('readonly', true);
            }
        }
                //        Begin Code added by VLT on 21 Apr 2013
        var selGener="";
        
        $(".gender").click(function(){ 
                    if( $(this).is(":checked") ){ 
                    selGener = $(this).val(); 
                }
            });

        function ValidateICNum()
        {
        
            $('#TabNumber').val(6);

             var genderVal="";
      $("input[type=radio][name=Customer.Gender]").each(function() {
   if($(this).attr("checked")=="checked")
   {
        selGener=$(this).val();
        genderVal  = selGener;
   }

    });

    if ($("#Customer_CustomerTitleID").val() == "") {
                    $('#dvError').html("Please Select Title");
                     $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }

        if(genderVal=="")
        {
        
          $('#dvError').html("Please Select Gender");
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
        }



         if($("#Customer_LanguageID").length > 0 && $("#Customer_LanguageID").val()=="0")
         {
          
           $('#dvError').html("Please Select Language");
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
         }
        if($("#Customer_RaceID").val()=="")
         {
        
            $('#dvError').html("Please Select Race");
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
         }
         
        if($("#Customer_ContactNo").val()=="")
         {
         
            $('#dvError').html("Please Enter Contact No");
                        $("html, body").animate({ scrollTop: 0 }, "slow");
          $("#Customer_ContactNo").focus();
                return false;
         }
         if($.trim($("#Customer_FullName").val())=="")
         {
         
            $('#dvError').html("Please Enter FullName");
                        $("html, body").animate({ scrollTop: 0 }, "slow");
          $("#Customer_FullName").focus();
                return false;
         }
        

//Function added by ravi on 07 Nov 2013 for entering valid date
var m = parseInt($('#DOBMonth').val(), 10);
var d = parseInt($('#DOBDay').val(), 10);
var y = parseInt($('#DOBYear').val(), 10);
var date = new Date(y,m-1,d);

if (date.getFullYear() == y && date.getMonth() + 1 == m && date.getDate() == d) {
    //alert('Valid date');
} else {
      $('#dvError').html("Please select DOB");
                        $("html, body").animate({ scrollTop: 0 }, "slow");
               return false;
}
//Function added by ravi on 07 Nov 2013 for entering valid date ends here

            var ContactNo=$('#Customer_ContactNo').val();
           
            if('@(idCardTypeForNewUser)'==1 && '@Session["IsSuppleNewAccount"].ToBool()'=='True')
           {
            var ICNum = $('#Customer_IDCardNo').val();
            ICNum=ICNum.toString(); 

            var year=ICNum.substring(0,2);
            var month = ICNum.substring(2,4);
            var day = ICNum.substring(4,6);
            var gender = ICNum.substring(ICNum.length,ICNum.length-1);

            //var selGener=$('#Customer_Gender').val();
            if(parseInt(year,10) != parseInt($('#DOBYear').val().substring(2,4)))
            {                    
                 $('#dvError').html("DOB Year does not match with IC number");
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            if(parseInt(month,10) != parseInt($('#DOBMonth').val()))
            {                    
                 $('#dvError').html("DOB Month does not match with IC number");
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            if(parseInt(day,10) != parseInt($('#DOBDay').val()))
            {                    
                 $('#dvError').html("DOB Day does not match with IC number");
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            var IsMale="";

            if(parseInt(gender)%2==0)
            {
                //even Female
                IsMale="F";
            }
            else
            {
                //Odd //Male
                IsMale="M";
            }
            if(selGener != "")
            {
                if(selGener.toString()!=IsMale)
                {
                     $('#dvError').html("Gender is mismatched with IC number");
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                }
            }
            else
            {
                selGener = $('#Customer_Gender').val();
            }
            if(ContactNo != "" && ContactNo != "60322331234")
            {
            if(ContactNo.substring(0,2)!="60" || ContactNo.length < 10 || ContactNo.length > 12)
            {
//                 $('#dvError').html("Please enter valid ContactNo");
//                        $("html, body").animate({ scrollTop: 0 }, "slow");
//                return false;
            }
            }
            $('#dvError').html('');
            return true;
            }
            $('#dvError').html('');
        }
//        End Code added by VLT on 21 Apr 2013
        function populateDOB(){
            
            var currentTime = new Date();
            var month = currentTime.getMonth()+1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            
            if($('#DOBDay').val() != '')
            {
                day = $('#DOBDay').val();
            }

            if($('#DOBMonth').val()!='')
            {
                month = $('#DOBMonth').val();
            }

            if($('#DOBYear').val()!='')
            {
                year = $('#DOBYear').val();
            }

            $('#Customer_DateOfBirth').val(month + '/' + day + '/' + year);
        }
        
        function SubmitForm(sequenceNo) {
            
            $('#submit1').val(sequenceNo);
            //document.forms['frmPersonalDetails'].submit();
            $("#frmPersonalDetails").submit();
        }

        function paymodeChanged() {
            var paymodeID = 0;

            if($('#Customer_PayModeID').val() == @(autoBillingID)){
                paymodeID = @(autoBillingID)
            }
            setDiv(paymodeID);
        }
        function toUpperCase(txt){
            $(txt).val($(txt).val().toUpperCase());
        }

        function setDiv(paymodeID) {
            if (paymodeID == @(autoBillingID)) { 
                $(".autoBilling").show();
                enableAutoBillingDiv();
            }
            else {
                setDivDefault();
            }
        }

        function setDivDefault() {
            $(".autoBilling").hide();
            disableAutoBillingDiv();
        }

        function enableAutoBillingDiv() {
            $(".autoBilling :input").removeAttr("disabled");
        }

        function disableAutoBillingDiv() {
            $(".autoBilling :input").attr("disabled", true);
        }

        String.prototype.toProperCase = function () {
        return this.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
        };

       var biometricInfoData;
       function RetrieveMyKadInfo()
       {
        var stateName = $("#Address_StateID")[0].options[$("#Address_StateID")[0].options.selectedIndex].text;
            var strKenanData = "";
            //Code added by VLT ON APRIL 05 2013
            strKenanData += $('#Customer_FullName').val();
            strKenanData += "╚" + $("#Customer_IDCardTypeID").val();
            strKenanData += "╚" + $('#Customer_IDCardNo').val();
            //strKenanData+="+"+$('#Customer_NationalityID').val();
            strKenanData += "╚" + $("#Customer_NationalityID").val();
            strKenanData += "╚" + $('#Address_Line1').val();
            strKenanData += "╚" + $('#Address_Line2').val();
            strKenanData += "╚" + $('#Address_Line3').val();
            strKenanData += "╚" + $('#Address_Town').val();
            strKenanData += "╚" + $('#Address_Postcode').val();
            strKenanData += "╚" + stateName;
            //End of code added by VLT

            biometricInfoData=  @(Html.Raw(Json.Encode(kadInfoResp)));

              if (biometricInfoData.FingerMatch == true) {
                    //Comparison code by VLT
                    var isValid = CompareData(biometricInfoData, strKenanData);
                    //End Comparison code by VLT

                    if (isValid == false) {
                    $('#BiometricInfoOverwrite').data('tWindow').center().open();
                     }
                }
       }
        
        function OverWriteBiometricInfo()
        {
            var data=biometricInfoData;
            $('#Customer_FullName').val(data.Name);
            //$('#Customer_IDCardNo').val(data.NewIC);
            var year = data.DOB.substr(0, 4);
            var month = data.DOB.substr(4, 2);
            var day = data.DOB.substr(6, 2);
            $("#DOBDay").val(parseInt(day, 10));
            $("#DOBMonth").val(parseInt(month));
            $("#DOBYear").val(year);
            $('#Customer_DateOfBirth').val(data.DOB);

            $('#Customer_Gender').val(data.Gender);
            $("input[id='rdbGender'][value='" + data.Gender + "']").attr("checked", true);
            
            $('#Address_Line1').val(data.Address1);
            $('#Address_Line2').val(data.Address2);
            $('#Address_Postcode').val(data.Postcode);
            $('#Address_StateID').val(data.State);

            $('#Address_Town').val(data.City);
             if(data.State=="W. PERSEKUTUAN(KL)" || data.State=="Wilayah Persekutuan" || data.State=="W. PERSEKUTUAN(KL)" )
            { 
                       
                    $("#Address_StateID").val(19);
            }
            else{
            var state = data.State.toProperCase();
            if (state != null && state != '') {
                $("#Address_StateID > option").each(function() {
                    if (this.text == state) {
                        $("#Address_StateID").val(this.value);
                    }
                });
            }
            }
            // $("#Address_StateID").data("tDropDownList").text(data.State)
            $('#Address_Line3').val(data.Address3);
            //Code Added by VLT ON APR 05

            //$('#Race').val(data.Religion);
            //$('#NewIC').val(data.OldIC);
            //$('#Gender').val(data.Gender);
            //$('#FullName').val(data.City);
            //$('#Address2').val(data.Address3);

            $('#IDCardNoValidate').val(true);
            $("#failedValiadate").show();
        }

         
        function CompareData(jsnonData,kenanData){
                    //Name
                     if(jsnonData.Name.toUpperCase()!=kenanData.split('╚')[0].toUpperCase())
                     {
                      return false;
                     }
                    
                     //Ic No
                      if(kenanData.split('╚')[1]=="Old IC" && isValid==true)
                     {
                        if(jsnonData.OldIC!=kenanData.split('╚')[2])
                        {
                             return false;
                        }
                     }
                     else if(kenanData.split('╚')[1]=="New IC")
                     {
                         if(jsnonData.NewIC!=kenanData.split('╚')[2])
                        {
                             return false;
                        }
                     }
                     //Nationality
//                     if(jsnonData.Nationality!=kenanData.split('╚')[3])
//                     {
//                          return false;
//                     }

                     //AddressLine1
                     if((jsnonData.Address1 == undefined? "":jsnonData.Address1.toUpperCase()) != kenanData.split('╚')[4].toUpperCase())
                     {
                          return false;
                     }

                      //AddressLine2
                     if((jsnonData.Address2 == undefined? "":jsnonData.Address2.toUpperCase())  != kenanData.split('╚')[5].toUpperCase())
                     {
                          return false;
                     }

                      //AddressLine3
                     if((jsnonData.Address3 == undefined? "":jsnonData.Address3.toUpperCase()) != kenanData.split('╚')[6].toUpperCase())
                     {
                          return false;
                     }
                     //City
                     if((jsnonData.City == undefined? "":jsnonData.City.toUpperCase()) != kenanData.split('╚')[7].toUpperCase())
                     {
                          return false;
                     }

                     //Postal Code
                     if((jsnonData.Postcode == undefined? "":jsnonData.Postcode) != kenanData.split('╚')[8])
                     {
                          return false;
                     }

                     //State
                     if((jsnonData.State == undefined? "":jsnonData.State.toUpperCase()) != kenanData.split('╚')[9].toUpperCase())
                     {
                          return false;
                     }

                     return true;
           }
        function setGender(rdbGender) {
            var hdfGender = $("#Customer_Gender");
            hdfGender.val($(rdbGender).val());
        }

        function IDCardTypeChanged(){
            $('#Customer_IDCardNo').val('');
        }

         function IDCardTypeonfill(){
             
           if($("#Customer_IDCardTypeID").val() > 0 && $("#Customer_IDCardNo").val() != '')
           {
                if($('#InputIDCardNo').val() == $("#Customer_IDCardNo").val()||$('#InputIDCardNo').val() != $("#Customer_IDCardNo").val() || $('#InputIDCardTypeID').val() != $("#Customer_IDCardTypeID").val()||$('#InputNationalityID').val() != $("#Customer_NationalityID").val() || $('#InputNationalityID').val() != $("#Customer_NationalityID").val())
                {
                    var url = '@(Url.Content("~/Registration/CreditCheck"))';
                     $.ajax({
                type: "POST",
                dataType: "json",
                url: url,
                async: false,
                data: { idCardNo:$("#Customer_IDCardNo").val(), idCardTypeID:$("#Customer_IDCardTypeID").val(),malaysianID: $("#Customer_NationalityID").val()},
                success: function (data) {
                 
                     if(data.isBlacklisted){
                    
                            //$('#divCreditCheckMsg').show();

                         
                            //disable IDCardType and IDCardNo
                            $('#Customer_IDCardNo').css({"background-color": '#F2F2F2'});
                            $('#Customer_IDCardNo').attr('readonly', true);
                            $('#Customer_IDCardNo').attr('disabled', true);
                           // $("#Customer_IDCardTypeID").data("tDropDownList").disable();
                        }
                   else{
                            //$('#divCreditCheckMsg').hide();

                           

                            //disable IDCardType and IDCardNo
                            $('#Customer_IDCardNo').css({"background-color": '#F2F2F2'});
                            $('#Customer_IDCardNo').attr('readonly', true);
                            $('#Customer_IDCardTypeID').attr('disabled', true);
                            //$("#Customer_IDCardTypeID").data("tDropDownList").disable();
                        }
                                     
                },
                error: function (err, result, thrownError) {
                            }
            });
          
                    $('#InputIDCardTypeID').val($("#Customer_IDCardTypeID").val());
                    $('#InputIDCardNo').val($("#Customer_IDCardNo").val());
                    $('#InputNationalityID').val($('#Customer_NationalityID').val());
                }
            }        
        }

        $("#Customer_IDCardNo").focusout(function() {
            if($("#Customer_IDCardTypeID").val() > 0 && $("#Customer_IDCardNo").val() != '')
            {
                if($('#InputIDCardNo').val() == $("#Customer_IDCardNo").val()||$('#InputIDCardNo').val() != $("#Customer_IDCardNo").val() || $('#InputIDCardTypeID').val() != $("#Customer_IDCardTypeID").val())
                {
                    var url = '@(Url.Content("~/Registration/CreditCheck"))';

                     $.ajax({
                type: "POST",
                dataType: "json",
                url: url,
                async: false,
                data: { idCardNo:$("#Customer_IDCardNo").val(), idCardTypeID:$("#Customer_IDCardTypeID").val() },
                success: function (data) {
                       
                     if(data.isBlacklisted){
                    
                            //$('#divCreditCheckMsg').show();
                         
                        }
                   else{
                            //$('#divCreditCheckMsg').hide();

                         

                            //disable IDCardType and IDCardNo
                            $('#Customer_IDCardNo').css({"background-color": '#F2F2F2'});
                            $('#Customer_IDCardNo').attr('readonly', true);
                            $('#Customer_IDCardTypeID').attr('disabled', true);
                            //$("#Customer_IDCardTypeID").data("tDropDownList").disable();
                          
                        }
                                     
                },
                error: function (err, result, thrownError) {
                
                alert('error');                }
            });
            /*
                    $.post(url, { idCardNo:$("#Customer_IDCardNo").val(), idCardTypeID:$("#Customer_IDCardTypeID").val() }, function (data) {
                    
                        if(data.isBlacklisted){
                            $('#divCreditCheckMsg').show();
                        }
                        else{
                            $('#divCreditCheckMsg').hide();

                           

                            //disable IDCardType and IDCardNo
                            $('#Customer_IDCardNo').css({"background-color": '#F2F2F2'});
                            $('#Customer_IDCardNo').attr('readonly', true);
                            $("#Customer_IDCardTypeID").data("tDropDownList").disable();
                        }
                        
                    });
 */
                    $('#InputIDCardTypeID').val($("#Customer_IDCardTypeID").val());
                    $('#InputIDCardNo').val($("#Customer_IDCardNo").val());
                    $('#InputNationalityID').val($('#Customer_NationalityID').val());          
                }
            }
        });

//Spend Limit Commented by Ravi As per New Flow on June 15 2013
          //Code Changes for Spend Limit
        function SaveSpendLimit() {
            var spendLimitVal = $('#txtSpendLimit').val();
            if (spendLimitVal == "") {
                if(confirm("Are you sure you want to proceed with Default Spend Limit!?")==true)
                {
                     var limitVal = @WebHelper.MinSpendLimit;
                   SendSpendLimit(limitVal);
                }


                else
                {
                 alert("Please Enter Spend Limit");
                 $('#txtSpendLimit').focus();
                }

            }
             else if (spendLimitVal != "") {

                if (/^\d+(\.\d{1,2})?$/.test(spendLimitVal)) {

                       var SpendLower='@(minSpendLimit)';
                 var SpendUpper='@(maxSpendLimit)';
                 if (parseInt(spendLimitVal) < parseInt(SpendLower) || parseInt(spendLimitVal) > parseInt(SpendUpper)) {
                     alert("Please Enter Valid Spend Limit");
                     $('#txtSpendLimit').val('');
                     $('#txtSpendLimit').focus();
                 }
                 else {
                                         SendSpendLimit(spendLimitVal);

                 }
                }
                else {
                    alert("Please Enter Valid Spend Limit");
                    $('#txtSpendLimit').val('');
                    $('#txtSpendLimit').focus();
                }
            }
            else {
                SendSpendLimit(spendLimitVal);

            }

        }


         function SendSpendLimit(spendLimitVal) {

           //Post the Spend Limit
                                var url = '@(Url.Content("~/SuppLine/SendSpendLimt"))';
                                $.post(url, { spendLimit: spendLimitVal }, function (data) {
                                    $('#SpendLimitWindow').data('tWindow').close();
                              });

        }
        //End of Code Changes for Spend Limit

    </script>
    <script type="text/javascript" language="javascript">
        $(document).keypress(function (e) {
            if (e.keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });

        //Populate the DOB By ravi


        if ($('#CustDobDay').length && $('#CustDobDay').val() != '') {
            $('#DOBDay').val(parseInt($('#CustDobDay').val()));
        }
        if ($('#CustDobMon').length && $('#CustDobMon').val() != '') {
            $('#DOBMonth').val(parseInt($('#CustDobMon').val()));
        }
        if ($('#CustDobYear').length && $('#CustDobYear').val() != '') {
            $('#DOBYear').val($('#CustDobYear').val());
        }

        //end of populate dob by ravi

        function SubmitWihoutValidate() {
            $('#TabNumber').val(6);
            //document.forms["frmPersonalDetails"].submit();
            $("#frmPersonalDetails").submit();
            //            $('#DOBYear').prop('disabled', true);
            //            $('#DOBDay').prop('disabled', true);
            //            $('#DOBMonth').prop('disabled', true);         
            //            $("#frmPersonalDetails").submit();

        }

    </script>
}
@section Styles{
    <style type="text/css">
        #pnlPersonalDetails .panel-header
        {
            line-height: 30px;
            text-transform: uppercase;
            color: #7cb44f;
            font-weight: bold;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));
        }
        
        #pnlPersonalDetails .panel-content
        {
            padding: 5px;
            background-color: #f5f5f5;
        }
        
        #pnlPersonalDetails .panel-content fieldset
        {
            border-radius: 5px;
            padding: 0;
            background-color: White;
            border-color: Grey;
        }
        
        #pnlPersonalDetails .panel-content fieldset table
        {
            width: 100%;
        }
        
        #pnlPersonalDetails .panel-content fieldset table td
        {
            padding: 10px;
            border-bottom: 1px solid LightGrey;
        }
        
        #pnlPersonalDetails .panel-content .label
        {
            width: 150px;
            font-weight: bold;
        }
        
        #pnlPersonalDetails .panel-content .last
        {
            border-bottom: none;
        }
        
        .personalDetails-table .td
        {
            vertical-align: top;
        }
    </style>
}
