﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
@{
    ViewBag.Title = "Secondary Line Personal Details";
    var autoBillingID = Util.GetPaymentModeID(PAYMENTMODE.AutoBilling);
    var malaysianID = Util.GetNationalityID(NATIONALITY.Malaysian);
    var NRICType = Util.GetIDCardTypeID(IDCARDTYPE.NRIC);
    var minAge = Session["RegMobileReg_ProgramMinAge"].ToInt();
    var idCardTypeID = Model.Customer.IDCardTypeID;
    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" : string.Empty;
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var SecoLine = (int)MobileRegType.SecPlan;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var MalAdvDeposit = Session["RegMobileReg_MalAdvDeposit"].ToInt();
    var OtherAdvDeposit = Session["RegMobileReg_OtherAdvDeposit"].ToInt();
    Model.MalayAdvDeposit = MalAdvDeposit;
    Model.OtherAdvDeposit = OtherAdvDeposit;

    /*Added by chetan for split adv & deposit*/
    var MalyDevAdv = Session["RegMobileReg_MalyDevAdv"].ToInt();
    var MalayPlanAdv = Session["RegMobileReg_MalayPlanAdv"].ToInt();
    var MalayDevDeposit = Session["RegMobileReg_MalayDevDeposit"].ToInt();
    var MalyPlanDeposit = Session["RegMobileReg_MalyPlanDeposit"].ToInt();
    var OthDevAdv = Session["RegMobileReg_OthDevAdv"].ToInt();
    var OthPlanAdv = Session["RegMobileReg_OthPlanAdv"].ToInt();
    var OthDevDeposit = Session["RegMobileReg_OthDevDeposit"].ToInt();
    var OthPlanDeposit = Session["RegMobileReg_OthPlanDeposit"].ToInt();

    Model.MalyDevAdv = MalyDevAdv;
    Model.MalayPlanAdv = MalayPlanAdv;
    Model.MalayDevDeposit = MalayDevDeposit;
    Model.MalyPlanDeposit = MalyPlanDeposit;
    Model.OthDevAdv = OthDevAdv;
    Model.OthPlanAdv = OthPlanAdv;
    Model.OthDevDeposit = OthDevDeposit;
    Model.OthPlanDeposit = OthPlanDeposit;
    /*upto here*/

    /*Added by Rajeswari on 24th March to disable nationality*/
    var idCardNoForNewUser = Session["IDCardNo"].ToString();
    var idCardTypeForNewUser = Session["IDCardTypeID"].ToString();
    /*upto here */
    var extraTenCount = 0;
    var listPrevExtraTenMSISDNs = Session["ExtratenMobilenumbers"].ToString2();
}
<div id="center">
    @using (Html.BeginForm("SecondaryLinePersonalDetails", "SuppLine", FormMethod.Post, new { id = "frmPersonalDetails", @class = "overlayonsubmit", processmsg = "Loading" }))
    {
         @Html.HiddenFor(a => a.ExtraTenMobileNumbers)
         @Html.HiddenFor(a => a.TabNumber)
       
        <div class=""></div>
        <div class="header-title">
           Secondary Plan       
        </div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        <li style="display: table-cell; float: none;" >Plan</li>
                        <li style="display: table-cell; float: none;" class="preselected">VAS</li>
                        <li style="display: table-cell; float: none;" class="selected">Customer</li>
                        <li style="display: table-cell; float: none;">Summary</li>
                    </ul>
                </div>
            </div>
            <div class="content_white" style="padding: 1px 1px 10px 40px">
             <div id="dvError" class="ErrorClass" >
                   
                </div>
                @Html.ValidationSummary(false)
            </div>
            <div class="content_white">
                <div style="display: block; padding: 0px 20px; margin: 0px auto;">
                    <div id="ui-plan">
                        <h3>
                            Customer Information
                        </h3>
                        <div style="width: 100%; border-left: 1px solid #ccc;">
                        <div style="padding: 20px 15px 50px 15px;">
                            
                                @Html.Partial("_ExistingCustomer", Model) 
                        </div>
                        </div>
                        <h3>
                            Billing Address
                        </h3>
                        <div style="width: 100%; border-left: 1px solid #ccc;">
                        <div style="padding: 20px 15px 50px 15px;">
                         
                            @Html.Partial("_ExistingAddress", Model) 
                        </div>
                        </div>
                        <h3 style="display:none;">
                            Monthly Bill Settlement Preference
                        </h3>
                        <div style="padding: 20px 15px 50px 15px;display:none;">
                            @Html.Partial("_Billing", Model)
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="content_white" style="height: 80px;">
                <div style="float: right; padding-right: 20px;">
                    <input type="submit" onclick="$('#TabNumber').val(2);" value="&lt;" class="cancel backButton"/>
                    <input type="submit" onclick="$('#TabNumber').val(4);" id="btnContinue"  value="Next Step: Summary" class="submitButton"/>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
                       
    }
    @Html.Partial("_footer")
   
</div>
<div id="right">
    @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
</div>
@{
   


    Html.Telerik().Window()
     .Name("extraTenWindow")
     .Title("Extra Ten")
     .Width(360)
   .Height(470)

     .Content(@<text>
         <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td colspan="2">
                    <div id="divExtraTen">
                        @for (int i = 0; i < 10; i++)
                        {
                            var divId = "divExtraTen_" + i;
                            var txtId = "txtExtraTen_" + i;
                            var delbtnId = "btnDeleteExtraTen_" + i;
                            var lblSnoId = "lblSno_" + i;
                            extraTenCount++;
                            <div class="Controller Row" id=@divId>
                               <label class="NumL" id=@lblSnoId>@extraTenCount</label>
                               <input class="TxtBox" type="text" id=@txtId /> 
                               <input class="DelBtn" type="button" onclick='deleteExtraTen(this);' id=@delbtnId value="" />
                            </div>
                        }
                     </div>
                     <div class="Controller">
                        <input type="button" class="AddMoreBtn" id="btnAddMore" onclick="addExtraTenDiv();" value="" /> 
                    </div>
                     &nbsp;
                </td>
            </tr>
            <tr>
                <td >
                  <input id="btnSaveExtraTen" type="button" class="SaveBtn" value="" onclick="return validateExtraTen();" />
                  <input type="button" class="CancelBtn" id="btnCancelExtraTen" onclick="cancelExtraTen();" value="" />   
                <br />
                </td>
            </tr>
        </table>
</text>
    )
     .Modal(true)
     .Visible(false)
     .ClientEvents(events => events.OnOpen("extraTenWindowOnOpen"))
     .Render();

    Html.Telerik().ScriptRegistrar()
                .OnDocumentReady(@<text>
            // open the initially hidden window when the button is clicked
           

            @*//Spend Limit Commented by Ravi As per New Flow on June 15 2013*@
            @*$('#ancSpendLimit').click(function(e) {e.preventDefault();$('#SpendLimitWindow').data('tWindow').center().open();});*@

             $('#btnExtraTen') .click(function(e) { e.preventDefault(); $('#extraTenWindow').data('tWindow').center().open();});

        </text>); 
}
@section Scripts{
    <script type="text/javascript">

        function tooltips(target) {
            jQuery(".tooltip2").removeClass('focus');
            jQuery(".tooltip2." + target).addClass('focus');
            jQuery(".wrappers").removeClass('focus');
            jQuery(".wrappers." + target).addClass('focus');

        }
        jQuery(function() {
            jQuery("#ui-accordion").accordion({
                autoHeight: false
            });
            $("#ui-accordion").accordion("option", "icons",
                { 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });
        });
        jQuery(function() {
            jQuery("#ui-plan").accordion({
                autoHeight: false
            });
            $("#ui-plan").accordion("option", "icons",
                { 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });
        });

        $(document).ready(function () {

        /*Added by Rajeswari on 24th March to disable nationality and IDcardNo and IDCardType */
        $('#Customer_IDCardNo').css({"background-color": '#F2F2F2'});  
        $('#Customer_IDCardNo').attr('readonly', true);
       // $('#Customer_IDCardTypeID').css({"background-color": '#F2F2F2'});        
       // $("#Customer_IDCardTypeID").data("tDropDownList").disable();
       // $('#Customer_NationalityID').css({"background-color": '#F2F2F2'});        
        //$("#Customer_NationalityID").data("tDropDownList").disable();

        //var ddlNationality = $("#Customer_NationalityID").data("tDropDownList");
        var ddlNationality = $("#Customer_NationalityID");
        if($('#Customer_NationalityID').val() == "")
        {               
           // ddlNationality.value(@(malaysianID));
           ddlNationality.val(@(malaysianID));
            $("#divMalaysian").show();
            $("#divNonMalaysian").hide();

            if(@(Session["IDCardTypeID"]) == "2"){
                if ($('#Customer_NationalityID').val() == "1") {
                        $("#Customer_NationalityID").attr('readonly', 'readonly');
                        ddlNationality.val("132");
                        $("#divMalaysian").hide();
                        $("#divNonMalaysian").show();
                    }
            }
            else
            {
                ddlNationality.val("1");
            }  
        }
        else
        {            
                $("#divMalaysian").hide();
                $("#divNonMalaysian").show();    
                   
            if($('#Customer_NationalityID').val() == "1")
            {                      
                    $("#divMalaysian").show();
                    $("#divNonMalaysian").hide();
            }
        }               
            IDCardTypeonfill();
            var payModeID = $('#Customer_PayModeID').val();

            if(payModeID != '' && payModeID != 0){
                setDiv(payModeID);
            }
            else{
                setDivDefault();
            }

           
             var idCardType = $('#Customer_IDCardTypeID').val();
           // var idCardType=@(idCardTypeForNewUser);
            var nric = $('#Customer_IDCardNo').val();
           // var ddlIDCardType = $("#Customer_IDCardTypeID").data("tDropDownList");
           var ddlIDCardType = $("#Customer_IDCardTypeID");
            ddlIDCardType.val(idCardType);

              if($('#Customer_IDCardTypeID').val() == '')
              {              
                     idCardType=@(idCardTypeForNewUser);
                    
                     $('#Customer_IDCardTypeID').val(idCardType);
                    
                    if(idCardType == "1")
                    {                  
                        idCardType="New IC";
                    }
                    else if(idCardType == "2")
                    {
                        idCardType="Passport";
                    }
                    else if(idCardType == "3")
                    {
                        idCardType="Old IC";
                    }
                    else
                    {
                        idCardType="Other ID";
                    } 
               
                ddlIDCardType.value(idCardType);
              }     
               if($('#Customer_IDCardNo').val() == ''){
             
                     nric='@(idCardNoForNewUser)';
                     $('#Customer_IDCardNo').val(nric);
              }
          
          
            $('#InputIDCardTypeID').val($("#Customer_IDCardTypeID").val());
            $('#InputIDCardNo').val($("#Customer_IDCardNo").val());
            $('#InputNationalityID').val($('#Customer_NationalityID').val());

              var year = nric.substr(0, 2);
              var month = nric.substr(2, 2);
              var day = nric.substr(4, 2);
              var currentYear = (new Date).getFullYear();
              if(currentYear - ("19" + year) <= 100){
                  year = "19" + year;
              }
              else{
                  year = "20" + year;
              }

              var dob = Date.parse(year + "/" + month + "/" + day);

              dob = new Date(dob);
              var dateNow = new Date();
              var age = dateNow.getFullYear() - dob.getFullYear();
              
              if(age < @(minAge) && (@(idCardTypeID) == @(NRICType))){
                  alert("Invalid NRIC! Minimum required @(minAge) years old." );

                  return;
              }

              if ((@(idCardTypeID) == @(NRICType)))
              {
                  $("#DOBDay").val(parseInt(day,10));
                  $("#DOBMonth").val(parseInt(month));
                  $("#DOBYear").val(year);

                  $('#Customer_DateOfBirth').val(month + '/' + day + '/' + year);
              }
              enableordisable();              
        });



        if('@(listPrevExtraTenMSISDNs)'!='')
    {

   $('#ExtraTenMobileNumbers').val('@(listPrevExtraTenMSISDNs)');

    var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        var objListMSISDNs=$('#ExtraTenMobileNumbers').val().split(',');
        $('#hdnExtraTenCount').val(childDivs.length);
        if(objListMSISDNs.length<=childDivs.length)
        {

        for(var i=0;i<childDivs.length;i++)
        {

         var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
         if(txtElement!=null)
         txtElement.val(objListMSISDNs[i]);
         
        }

        }
        else
        {
        
        for(var i=0;i<(objListMSISDNs.length-childDivs.length);i++)
        {
        var index=parseInt($('#hdnExtraTenCount').val())+1;
        var divId = "divExtraTen_"+ index ;
        var txtId = "txtExtraTen_" + index ;
        var delbtnId = "btnDeleteExtraTen_" + index;
         var lblSnoId = "lblSno_" + childDivs.length+1;
         //$("#divExtraTen").append("<div id='"+divId+"' ><input type='text' id='"+txtId+"' /> <input type='button'  onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");;
         $("#divExtraTen").append("<div class='Controller Row' id='"+divId+"' ><label class='NumL' id='"+lblSnoId+"'>"+(parseInt(childDivs.length+1))+"</label><input class='TxtBox' type='text' id='"+txtId+"' /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");
        $('#hdnExtraTenCount').val(index+1);
        
        }
        childDivs = panel.find("div");
        for(var i=0;i<childDivs.length;i++)
        {

         var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
         if(txtElement!=null)
         txtElement.val(objListMSISDNs[i]);
         
        }
        
        
        }

    }

      function addExtraTenDiv()
        {
        var index=parseInt($('#hdnExtraTenCount').val())+1;
        var divId = "divExtraTen_"+ index;
        var txtId = "txtExtraTen_" + index ; 
        var delbtnId = "btnDeleteExtraTen_" + index ;
        //$("#divExtraTen").append("<div id='"+divId+"' ><input type='text' id='"+txtId+"' /> <input type='button' value='X' onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");;

        var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        var lblSnoId = "lblSno_" + childDivs.length+1;
        $("#divExtraTen").append("<div class='Controller Row' id='"+divId+"' ><label class='NumL' id='"+lblSnoId+"'>"+(childDivs.length+1)+"</label><input class='TxtBox' type='text' id='"+txtId+"' /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");
        $('#hdnExtraTenCount').val(parseInt(index)+1);
        
        }

        function deleteExtraTen(delbtn)
        {
        var delbtnId=delbtn.id;


         var panel= $("#divExtraTen");
         var childDivs = panel.find("div");

         if(childDivs.length>1)
         {
          $('#'+delbtnId).parent().remove();

         }
        else
        {
        alert("Atleast one mobile number has to be entered for Extra Ten");
        return false;
        }
//        if(parseInt($('#hdnExtraTenCount').val())>1)
//        {
//        $('#'+delbtnId).parent().remove();
//        $('#hdnExtraTenCount').val((parseInt($('#hdnExtraTenCount').val())-1));
//        }
//        else
//        {
//        alert("Atleast one mobile number has to be entered for Extra Ten");
//        return false;
//        }
//        alert($('#hdnExtraTenCount').val());

        ResetSerialNo();
        
        }


        
        function ResetSerialNo()
        {
        var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        for(var i=0;i<childDivs.length;i++)
        {
          //alert($('#'+childDivs[i].id).children(':first-child').html());
          var curDivId=childDivs[i].id;
          $('#'+curDivId).children(':first-child').html(i+1)

//           $('#'+curDivId).removeAttr('class');
//           if(i%2==0)
//           {
//            $('#'+curDivId).addClass('Controller AltRow');
//              
//           }
//           else
//           {
//             $('#'+curDivId).addClass('Controller Row');
//           }


        }
        }


        function cancelExtraTen()
        {

        if(confirm("Are you sure you want to cancel Extra Ten"))
        {
          var value='2239';

          var objGroupId=$('#hdnExtraTenGroupId').val();
             $("#btnVAS_2239").css("border-style", "none");
               var  modGroupIds =$('#hdnGroupIds').val().toString().replace(objGroupId+",","");
            $('#hdnGroupIds').val(modGroupIds);
            var arrVasID = $('#SelectedVasIDs').val().split(',');
            var newVasIDs='';
                for(var i=0;i<arrVasID.length;i++)
                {

                if(arrVasID[i].toString()!="")
                {
                  if(arrVasID[i].toString()!=value)
                   {
                     if(newVasIDs=="")
                      newVasIDs=arrVasID[i];
                     else
                      newVasIDs=newVasIDs+","+arrVasID[i];
                    }
                }
                

                
                }
               

                 $('#SelectedVasIDs').val(newVasIDs);
                  $('#ExtraTenMobileNumbers').val("");
                  $('#hdnExtraTenFlag').val('false');
                   $('#extraTenWindow').data('tWindow').close();
        
        }

        }



        function extraTenWindowOnOpen()
        {
        
        
        
        }

        function validateExtraTen()
        {

        var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        var objListMSISDNs="";
        var mobregex = /^60[0-9]{8,10}$/;
        for(var i=0;i<childDivs.length;i++)
        {
        
        var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
         if(txtElement.val() !="")
         {
         if (!mobregex.test(txtElement.val())) 
         {
         alert("Please enter valid MSISDN number");
         return false;
         }
         }

         
         
         

        if(txtElement.val() !="")
        {
        if(objListMSISDNs.indexOf(txtElement.val()) ==-1)
         {
        if(objListMSISDNs!="")
        objListMSISDNs=objListMSISDNs+","+txtElement.val();
        else
        objListMSISDNs=txtElement.val();
        }
        else
         {
         alert("Please enter unique mobile numbers");
         return false;
         }


        }

       
        
        }
        // $('#ExtraTenMobileNumbers').val(objListMSISDNs);
         //Validation

         var url = '@(Url.Content("~/Registration/validateExtraTenMSISDN"))';
           
            $.post(url,{arrMSISDNs:objListMSISDNs},function (data) {

            if(data.toString()!='')
            {
            alert("Please enter valid maxis mobile number for "+data.toString());
            return false;
            }
            else  if(data.toString()=='')
            {
              
             


  var url1 = '@(Url.Content("~/Registration/validateExtraTenMSISDNAgainstAccount"))';
           
            $.post(url1,{arrMSISDNs:objListMSISDNs},function (data) {

            if(data.toString()!='')
            {
            alert("Please renter "+data.toString()+" as these are already part of your account");
            return false;
            }
            else if(data.toString()=='')
            {
              
              $('#ExtraTenMobileNumbers').val(objListMSISDNs);
            
               $('#extraTenWindow').data('tWindow').close();

            }
            
           }, "text");
            
              
            }
            
           }, "text");

       
        
        }

        
        function enableordisable()
        {
            if($('#Customer_FullName').val() != "")
            {
              $('#Customer_FullName').css({"background-color": '#F2F2F2'});
              $('#Customer_FullName').attr('readonly', true);
            }
       
       if($('#Customer_Gender').attr('checked') != "undefined" && $('#Customer_Gender').attr('checked') == "checked")
       {
            $(':radio:not(:checked)').attr('disabled', true);
       }  
            
             if($('#Customer_ContactNo').val() != "")
            {
              $('#Customer_ContactNo').css({"background-color": '#FFFFFF'});
              $('#Customer_ContactNo').attr('readonly', false);
            }
                if($('#Customer_AlternateContactNo').val() != "")
            {
              $('#Customer_AlternateContactNo').css({"background-color": '#FFFFFF'});
              $('#Customer_AlternateContactNo').attr('readonly', false);
            }
                 if($('#Customer_EmailAddr').val() != "")
            {
              $('#Customer_EmailAddr').css({"background-color": '#FFFFFF'});
              $('#Customer_EmailAddr').attr('readonly', false);
            }
                 if($('#Address_Line1').val() != "")
            {
              $('#Address_Line1').css({"background-color": '#FFFFFF'});
              $('#Address_Line1').attr('readonly', false);
            }
              if($('#Address_Line2').val() != "")
            {
              $('#Address_Line2').css({"background-color": '#FFFFFF'});
              $('#Address_Line2').attr('readonly', false);
            }
             if($('#Address_Line3').val() != "")
            {
              $('#Address_Line3').css({"background-color": '#FFFFFF'});
              $('#Address_Line3').attr('readonly', false);
            }
              if($('#Address_Town').val() != "")
            {
              $('#Address_Town').css({"background-color": '#FFFFFF'});
              $('#Address_Town').attr('readonly', false);
            }
              if($('#Address_Postcode').val() != "")
            {
              $('#Address_Postcode').css({"background-color": '#FFFFFF'});
              $('#Address_Postcode').attr('readonly', false);
            }
               if($('#MalayAdvDeposit').val() >0)
            {
              $('#MalayAdvDeposit').css({"background-color": '#F2F2F2'});
              $('#MalayAdvDeposit').attr('readonly', true);
            }
             if($('#OtherAdvDeposit').val() >0)
            {
              $('#OtherAdvDeposit').css({"background-color": '#F2F2F2'});
              $('#OtherAdvDeposit').attr('readonly', true);
            }
        }
                //        Begin Code added by VLT on 21 Apr 2013
        var selGener="";
        
        $(".gender").click(function(){ 
                    if( $(this).is(":checked") ){ 
                    selGener = $(this).val(); 
                }
            });

        function ValidateICNum()
        {
            $('#TabNumber').val(4);
            var ContactNo=$('#Customer_ContactNo').val();
            if('@(idCardTypeForNewUser)'==1)
           {
            var ICNum = $('#Customer_IDCardNo').val();
            ICNum=ICNum.toString(); 
            var year=ICNum.substring(0,2);
            var month = ICNum.substring(2,4);
            var day = ICNum.substring(4,6);
            var gender = ICNum.substring(ICNum.length,ICNum.length-1);

            //var selGener=$('#Customer_Gender').val();
            if(parseInt(year) != parseInt($('#DOBYear').val().substring(2,4)))
            {                    
                alert("DOB Year does not match with IC number");
                return false;
            }
            if(parseInt(month) != parseInt($('#DOBMonth').val()))
            {                    
                alert("DOB Month does not match with IC number");
                return false;
            }
            if(parseInt(day) != parseInt($('#DOBDay').val()))
            {                    
                alert("DOB Day does not match with IC number");
                return false;
            }
            var IsMale="";
            if(parseInt(gender)%2==0)
            {
                //even Female
                IsMale="F";
            }
            else
            {
                //Odd //Male
                IsMale="M";
            }
            if(selGener != "")
            {
                if(selGener.toString()!=IsMale)
                {
                    alert("Gender is mismatched with IC number");
                    return false;
                }
            }
            else
            {
                selGener = $('#Customer_Gender').val();
            }
            if(ContactNo != "" && ContactNo != "60322331234")
            {
            if(ContactNo.substring(0,2)!="60" || ContactNo.length < 10 || ContactNo.length > 12)
            {
                alert("Please enter valid ContactNo ");
                return false;
            }
            }
             var genderVal="";
 $("input[type=radio][name=Customer.Gender]").each(function() {
 if($(this).attr("checked")=="checked")
 {
selGener=$(this).val();
 genderVal = selGener;
 }

 });
 //if($("#Customer_CustomerTitleID").data("tDropDownList").value()=="")
  if($("#Customer_CustomerTitleID").val()=="")
 {
 alert("Please Select Title");
 return false;
 }
 if(genderVal=="")
 {
 alert("Please Select Gender");
 return false;
 }
 //if($("#Customer_LanguageID").data("tDropDownList").value()=="")
 if($("#Customer_LanguageID").val()=="0")
 {
 alert("Please Select Language");
 return false;
 }
 //if($("#Customer_RaceID").data("tDropDownList").value()=="")
 if($("#Customer_RaceID").val()=="")
 {
 alert("Please Select Race");
 return false;
 }
if($("#Customer_ContactNo").val()=="")
 {
alert("Please Enter Contact No");
 $("#Customer_ContactNo").focus();
 return false;
 }
            return true;
            }
        }
//        End Code added by VLT on 21 Apr 2013
        function populateDOB(){
            
            var currentTime = new Date();
            var month = currentTime.getMonth()+1;
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            
            if($('#DOBDay').val() != '')
            {
                day = $('#DOBDay').val();
            }

            if($('#DOBMonth').val()!='')
            {
                month = $('#DOBMonth').val();
            }

            if($('#DOBYear').val()!='')
            {
                year = $('#DOBYear').val();
            }

            $('#Customer_DateOfBirth').val(month + '/' + day + '/' + year);
        }
        
        function SubmitForm(sequenceNo) {
            
            $('#submit1').val(sequenceNo);
            //document.forms['frmPersonalDetails'].submit();
            $("#frmPersonalDetails").submit();
        }

        function paymodeChanged() {
            var paymodeID = 0;

            if($('#Customer_PayModeID').val() == @(autoBillingID)){
                paymodeID = @(autoBillingID)
            }
            setDiv(paymodeID);
        }
        function toUpperCase(txt){
            $(txt).val($(txt).val().toUpperCase());
        }

        function setDiv(paymodeID) {
            if (paymodeID == @(autoBillingID)) { 
                $(".autoBilling").show();
                enableAutoBillingDiv();
            }
            else {
                setDivDefault();
            }
        }

        function setDivDefault() {
            $(".autoBilling").hide();
            disableAutoBillingDiv();
        }

        function enableAutoBillingDiv() {
            $(".autoBilling :input").removeAttr("disabled");
        }

        function disableAutoBillingDiv() {
            $(".autoBilling :input").attr("disabled", true);
        }

        String.prototype.toProperCase = function () {
        return this.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
        };

        function RetrieveMyKadInfo(){

        //Code added by VLT ON APRIL 05 2013
         var strKenanData="";
        strKenanData+=$('#Customer_FullName').val();
        // strKenanData+="╚"+$("#Customer_IDCardTypeID").data("tDropDownList").value();
        strKenanData+="╚"+$("#Customer_IDCardTypeID").val();
        strKenanData+="╚"+$('#Customer_IDCardNo').val();
       //strKenanData+="╚"+$("#Customer_NationalityID").data("tDropDownList").value();
       strKenanData+="╚"+$("#Customer_NationalityID").val();
        strKenanData+="╚"+$('#Address_Line1').val();
        strKenanData+="╚"+$('#Address_Line2').val();
        strKenanData+="╚"+$('#Address_Line3').val();
        strKenanData+="╚"+$('#Address_Town').val();
        strKenanData+="╚"+$('#Address_Postcode').val();
        strKenanData+="╚"+$('#Address_StateID').val();
         //strKenanData+="╚"+$("#Address_StateID").data("tDropDownList").value();
        //End of code added by VLT

            var icno =$('#Customer_IDCardNo'); 
            var url = '@(Url.Content("~/Registration/RetrieveMyKadInfo"))';
           $.post(url, { icno:icno.val(),strKenanCustomerInfo:strKenanData}, function (data) {
                  if(data.FingerMatch==false && data.FingerThumb==null)
                {$('#dvError').html('Biometric check is not performed !');
                 $("html, body").animate({ scrollTop: 0 }, "slow");}
              else  if(data.FingerMatch==true){

                     //Comparison code by VLT
                    var isValid=CompareData(data,strKenanData);
                     //End Comparison code by VLT
                      if(isValid==false)
                     {
                     if(confirm("Do you want to overwrite the existing data with Biometric data ?")==true)
                     {
                    $('#Customer_FullName').val(data.Name);
                    $('#Customer_IDCardNo').val(data.NewIC);

                    var year = data.DOB.substr(0, 4);
                    var month = data.DOB.substr(5, 2);
                    var day = data.DOB.substr(8, 2);
                    $("#DOBDay").val(parseInt(day,10));
                    $("#DOBMonth").val(parseInt(month));
                    $("#DOBYear").val(year);
                    $('#Customer_DateOfBirth').val(data.DOB);
                    
                    $('#Customer_Gender').val(data.Gender);
                    $("input[id='rdbGender'][value='"+data.Gender+"']").attr("checked", true);
                    $('#Customer_NationalityID').val(data.Nationality);
                    //$("#Customer_NationalityID").data("tDropDownList").text(data.Nationality);
                    //Commented by chetan since we are not geting always MALAYSIAN as nationality
                    //if(data.Nationality=='MALAYSIAN')
                    //{
                    //$('#Customer_LanguageID').val('Malay');
                    //}
                    //else if(data.Nationality!='MALAYSIAN'){
                    //      $('#Customer_LanguageID').val('English');
                    //} 
                    //else {
                    //$('#Customer_LanguageID').val(data.Language);
                    //}

                    //if(data.Nationality=='MALAYSIAN')
                    //{
                    //$('#Customer_RaceID').val('MALAY');
                    //}
                    //else if(data.Nationality!='CHINESE'){
                    //$('#Customer_RaceID').val('CHINESE');
                    //} 
                    //else {
                    //$('#Customer_RaceID').val(data.Race);
                    //}
                    
                    
                    $('#Address_Line1').val(data.Address1);
                    $('#Address_Line2').val(data.Address2);

                    $('#Address_Postcode').val(data.Postcode);
                    $('#Address_StateID').val(data.State);

                        //Code Added by VLT ON APR 05
                    $('#Address_Town').val(data.City);

                     //CHANGE TO PROPER CASE
                    var state = data.State.toProperCase();                   
                    //GET THE INSTANCE OF DROPDOWN
                    var comboBox = $("#Address_StateID").data("tDropDownList");
                    //CONVERT FROM JSON
                    var Mydata = $("#Address_StateID").data("tDropDownList").data; 
                    //LOOP THROUGH AND SET MATCHING ONE
                    for (var i=0;i<Mydata.length-1;i++)
                    {                        
                        if(Mydata[i].Text==state)
                        {
                            comboBox.select(i);
                            break;
                        }
                    }

                   // $("#Address_StateID").data("tDropDownList").text(data.State)
                     $('#Address_Line3').val(data.Address3);
                     //Code Added by VLT ON APR 05

                    //$('#Race').val(data.Religion);
                    //$('#NewIC').val(data.OldIC);
                    //$('#Gender').val(data.Gender);
                    //$('#FullName').val(data.City);
                    //$('#Address2').val(data.Address3);

                    $('#IDCardNoValidate').val(true);
                    $("#failedValiadate").show();
                }
                }
                }
               else if(data.FingerMatch==false && data.FingerThumb==0)
                {$('#dvError').html('Biometric check is performed, but thumb impression not matched !');
                 $("html, body").animate({ scrollTop: 0 }, "slow");}
                else
                {$('#dvError').html('Biometric check is not performed !');
                 $("html, body").animate({ scrollTop: 0 }, "slow");}
            });
        }
         //Code Added by VLT
           function CompareData(jsnonData,kenanData){
                    //Name
                     if(jsnonData.Name!=kenanData.split('╚')[0])
                     {
                      return false;
                     }
                    
                     //Ic No
                      if(kenanData.split('╚')[1]=="Old IC" && isValid==true)
                     {
                        if(jsnonData.OldIC!=kenanData.split('╚')[2])
                        {
                             return false;
                        }
                     }
                     else if(kenanData.split('╚')[1]=="New IC")
                     {
                         if(jsnonData.NewIC!=kenanData.split('╚')[2])
                        {
                             return false;
                        }
                     }
                     //Nationality
//                     if(jsnonData.Nationality!=kenanData.split('╚')[3])
//                     {
//                          return false;
//                     }

                     //AddressLine1
                     if(jsnonData.Address1!=kenanData.split('╚')[4])
                     {
                          return false;
                     }

                      //AddressLine2
                     if(jsnonData.Address2!=kenanData.split('╚')[5])
                     {
                          return false;
                     }

                      //AddressLine3
                     if(jsnonData.Address3!=kenanData.split('╚')[6])
                     {
                          return false;
                     }
                     //City
                     if(jsnonData.City!=kenanData.split('╚')[7])
                     {
                          return false;
                     }

                     //Postal Code
                     if(jsnonData.Postcode!=kenanData.split('╚')[8])
                     {
                          return false;
                     }

                     //State
                     if(jsnonData.State!=kenanData.split('╚')[9])
                     {
                          return false;
                     }

                     return true;
           }
        function setGender(rdbGender) {
            var hdfGender = $("#Customer_Gender");
            hdfGender.val($(rdbGender).val());
        }

        function IDCardTypeChanged(){
            $('#Customer_IDCardNo').val('');
        }

         function IDCardTypeonfill(){
             
           if($("#Customer_IDCardTypeID").val() > 0 && $("#Customer_IDCardNo").val() != '')
           {
                if($('#InputIDCardNo').val() == $("#Customer_IDCardNo").val()||$('#InputIDCardNo').val() != $("#Customer_IDCardNo").val() || $('#InputIDCardTypeID').val() != $("#Customer_IDCardTypeID").val()||$('#InputNationalityID').val() != $("#Customer_NationalityID").val() || $('#InputNationalityID').val() != $("#Customer_NationalityID").val())
                {
                    var url = '@(Url.Content("~/Registration/CreditCheck"))';
                     $.ajax({
                type: "POST",
                dataType: "json",
                url: url,
                async: false,
                data: { idCardNo:$("#Customer_IDCardNo").val(), idCardTypeID:$("#Customer_IDCardTypeID").val(),malaysianID: $("#Customer_NationalityID").val()},
                success: function (data) {
                 
                     if(data.isBlacklisted){
                    
                            //$('#divCreditCheckMsg').show();

                            //disable IDCardType and IDCardNo
                            $('#Customer_IDCardNo').css({"background-color": '#F2F2F2'});
                            $('#Customer_IDCardNo').attr('readonly', true);
                            //$("#Customer_IDCardTypeID").data("tDropDownList").disable();
                            $("#Customer_IDCardTypeID").attr('disabled', 'disabled');
                        }
                   else{
                            //$('#divCreditCheckMsg').hide();

                           
                            //disable IDCardType and IDCardNo
                            $('#Customer_IDCardNo').css({"background-color": '#F2F2F2'});
                            $('#Customer_IDCardNo').attr('readonly', true);
                           // $("#Customer_IDCardTypeID").data("tDropDownList").disable();
                           $("#Customer_IDCardTypeID").attr('disabled', 'disabled');
                        }
                                     
                },
                error: function (err, result, thrownError) {
                            }
            });
          
                    $('#InputIDCardTypeID').val($("#Customer_IDCardTypeID").val());
                    $('#InputIDCardNo').val($("#Customer_IDCardNo").val());
                    $('#InputNationalityID').val($('#Customer_NationalityID').val());
                }
            }        
        }

        $("#Customer_IDCardNo").focusout(function() {
            if($("#Customer_IDCardTypeID").val() > 0 && $("#Customer_IDCardNo").val() != '')
            {
                if($('#InputIDCardNo').val() == $("#Customer_IDCardNo").val()||$('#InputIDCardNo').val() != $("#Customer_IDCardNo").val() || $('#InputIDCardTypeID').val() != $("#Customer_IDCardTypeID").val())
                {
                    var url = '@(Url.Content("~/Registration/CreditCheck"))';

                     $.ajax({
                type: "POST",
                dataType: "json",
                url: url,
                async: false,
                data: { idCardNo:$("#Customer_IDCardNo").val(), idCardTypeID:$("#Customer_IDCardTypeID").val() },
                success: function (data) {
                     if(data.isBlacklisted){
                    
                        
                        }
                   else{
                            //$('#divCreditCheckMsg').hide();

                          

                            //disable IDCardType and IDCardNo
                            $('#Customer_IDCardNo').css({"background-color": '#F2F2F2'});
                            $('#Customer_IDCardNo').attr('readonly', true);
                            //$("#Customer_IDCardTypeID").data("tDropDownList").disable();
                          
                        }
                                     
                },
                error: function (err, result, thrownError) {
                alert('error');                }
            });
            /*
                    $.post(url, { idCardNo:$("#Customer_IDCardNo").val(), idCardTypeID:$("#Customer_IDCardTypeID").val() }, function (data) {
                    
                        if(data.isBlacklisted){
                            $('#divCreditCheckMsg').show();
                        }
                        else{
                            $('#divCreditCheckMsg').hide();

                           
                            //disable IDCardType and IDCardNo
                            $('#Customer_IDCardNo').css({"background-color": '#F2F2F2'});
                            $('#Customer_IDCardNo').attr('readonly', true);
                            $("#Customer_IDCardTypeID").data("tDropDownList").disable();
                        }
                        
                    });
 */
                    $('#InputIDCardTypeID').val($("#Customer_IDCardTypeID").val());
                    $('#InputIDCardNo').val($("#Customer_IDCardNo").val());
                    $('#InputNationalityID').val($('#Customer_NationalityID').val());          
                }
            }
        });

//Spend Limit Commented by Ravi As per New Flow on June 15 2013
//          //Code Changes for Spend Limit
//        function SaveSpendLimit() {
//            var spendLimitVal = $('#txtSpendLimit').val();
//            if (spendLimitVal == "") {
////                alert("Please Enter Spend Limit");
//                //$('#txtSpendLimit').focus();
//                if(confirm("Are you sure you want to proceed with Default Spend Limit!?")==true)
//                {
//                    SendSpendLimit(spendLimitVal);
//                }


//                else
//                {
//                 alert("Please Enter Spend Limit");
//                 $('#txtSpendLimit').focus();
//                }

//            }


//             else if (spendLimitVal != "") {

//                if (/^\d+(\.\d{1,2})?$/.test(spendLimitVal)) {

//                    SendSpendLimit(spendLimitVal);
//                }
//                else {
//                    alert("Please Enter Valid Spend Limit");
//                    $('#txtSpendLimit').val('');
//                    $('#txtSpendLimit').focus();
//                }
//            }
//            else {
//                SendSpendLimit(spendLimitVal);
//               
//              
//              

//            }

//        }


//         function SendSpendLimit(spendLimitVal) {

//           //Post the Spend Limit
//                                var url = '@(Url.Content("~/SuppLine/SendSpendLimt"))';
//                                $.post(url, { spendLimit: spendLimitVal }, function (data) {
//                                    $('#SpendLimitWindow').data('tWindow').close();
//                              });

//        }
//        //End of Code Changes for Spend Limit

    </script>
    <script type="text/javascript" language="javascript" >
        $(document).keypress(function (e) {
            if (e.keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });

        //Populate the DOB By ravi
        if ($('#CustDobDay').length && $('#CustDobDay').val() != '') {
            $('#DOBDay').val(parseInt($('#CustDobDay').val()));
        }
        if ($('#CustDobMon').length && $('#CustDobMon').val() != '') {
            $('#DOBMonth').val(parseInt($('#CustDobMon').val()));
        }
        if ($('#CustDobYear').length && $('#CustDobYear').val() != '') {
            $('#DOBYear').val($('#CustDobYear').val());
        }

        //end of populate dob by ravi
    </script>
}
@section Styles{
    <style type="text/css">
        #pnlPersonalDetails .panel-header
        {
            line-height: 30px;
            text-transform: uppercase;
            color: #7cb44f;
            font-weight: bold;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));
        }
        
        #pnlPersonalDetails .panel-content
        {
            padding: 5px;
            background-color: #f5f5f5;
        }
        
        #pnlPersonalDetails .panel-content fieldset
        {
            border-radius: 5px;
            padding: 0;
            background-color: White;
            border-color: Grey;
        }
        
        #pnlPersonalDetails .panel-content fieldset table
        {
            width: 100%;
        }
        
        #pnlPersonalDetails .panel-content fieldset table td
        {
            padding: 10px;
            border-bottom: 1px solid LightGrey;
        }
        
        #pnlPersonalDetails .panel-content .label
        {
            width: 150px;
            font-weight: bold;
        }
        
        #pnlPersonalDetails .panel-content .last
        {
            border-bottom: none;
        }
        
        .personalDetails-table .td
        {
            vertical-align: top;
        }
    </style>
}
