﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.Properties;
@model Online.Registration.Web.ViewModels.SublinePackageVM
@{
    ViewBag.Title = "Secondary Line Plan";
    var orderVM = new OrderSummaryVM();
    if ((OrderSummaryVM)Session["RegMobileReg_OrderSummary"] != null)
    {
        orderVM = (OrderSummaryVM)Session["RegMobileReg_OrderSummary"];
    }

    var pgmBdls = (orderVM.BrandID <= 0) ? Model.PackageVM.AvailablePackages.Where(a => a.BundleName.Contains("iV").Equals(false)).Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList() : Model.PackageVM.AvailablePackages.Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList();

    var bundleNames = (orderVM.BrandID <= 0) ? Model.PackageVM.AvailablePackages.Where(a => a.BundleName.Contains("iV").Equals(false)).Select(a => a.BundleName).Distinct().ToList() : Model.PackageVM.AvailablePackages.Select(a => a.BundleName).Distinct().ToList();
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var SecoLine = (int)MobileRegType.SecPlan;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var planId = Session["SelectedPlanID"].ToString2();
    var IsDelar = Convert.ToBoolean(Session["IsDealer"]);

}
<!-- Centre column area -->
<div id="center">
    @using (Html.BeginForm("SecondaryLinePlan", "SuppLine", FormMethod.Post, new { id = "frmSecondaryLinePlan", @class = "overlayonsubmit", processmsg = "Loading" }))
    { 
        @Html.Hidden("submit1")  
        @Html.HiddenFor(a => a.PackageVM.TabNumber)
        @Html.HiddenFor(a => a.PackageVM.SelectedPgmBdlPkgCompID)
         @Html.Hidden("SIMModelSelected", string.Empty)
        @Html.Hidden("SimCardTypeSelected", "")
        @Html.Hidden("PrimarySimSerial", "")
        @Html.Hidden("SecondarySimSerial", "")
         @Html.Hidden("SimSerialSelected", "")
        <input type="hidden" id="hdnSelectedPlans"  value='@planId' />
        <div class="header-title">
            Secondary Plan
        </div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        <li style="display: table-cell; float: none;" class="selected">Plan</li>
                        <li style="display: table-cell; float: none;">VAS</li>
                        <li style="display: table-cell; float: none;">Customer</li>
                        <li style="display: table-cell; float: none;">Summary</li>
                    </ul>
                </div>
            </div>
             <div class="content_white" style="padding-left:35px;padding-bottom:5px;" > @Html.ValidationSummary(false)</div>
            <div class="content_white">
                <div style="display: block; padding: 0px 20px; margin: 0px auto;">
                    <div id="Plan_Error" class="ErrorClass" >
                    </div>
                    <div id="ui-plan">
                        @foreach (var bundleName in bundleNames)
                        {
                            int index = 0;
                            var packages = Model.PackageVM.AvailablePackages.Where(a => a.BundleName == bundleName).ToList();
                            <h3>@pgmBdls.Where(a => a.bundleName == bundleName).SingleOrDefault().programName.ToUpper():
                                <span class="txt-18-black-normal">@bundleName</span></h3>
                            <div style="width: 100%; border-left: 1px solid #ccc;">
                                @foreach (var package in packages)
                                {
                                    var btnPlanID = package.PgmBdlPkgCompID;
                                    var btnPlanDetails = "btnPlnDetails_" + package.PackageCode;
                                    <div class="plan-outerbox">
                                        <div  id="@btnPlanID" class="plan-innerbox" onclick="SelectedPackage(this,'@btnPlanID');" style="cursor:pointer;">
                                            @if (package.PackageName.Contains("-") == true)
                                            {
                                                string[] curPackage = package.PackageName.Trim().Split('-');
                                                <p class="plan-title">@curPackage[0].Trim()</p>
                                                <p class="plan-status">@curPackage[1].Trim()</p>
                                            }
                                            else
                                            {
                                                <p class="plan-title">@package.PackageName</p>
                                            }
                                            @*  <div class="plan-viewmore">
                                                <a href="sample.html" id="popup-message">View Plan</a></div>*@

                                                <div class="plan-viewmore">
                                                <a href="javascript:detailsPlans_OnClick('@btnPlanDetails')" id="popup-message" class="cboxElement">
                                                    View Plan</a></div>
                                        </div>
                                    </div>
                                                                                     index += 1;
                                                                                     if (index == packages.Count())
                                                                                     { 
                                    <div style="clear: both;">
                                    </div>
                                                                                     }
                                }
                            </div>
                        
                        }
                    </div>
                </div>
                <div style="height: 20px;">
                </div>
            </div>
            <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
                <div style="float: right; padding-right: 20px;">
                    <input class="cancel backButton" type="submit" value="<" onclick="$('#submit1').val('Back');" />
                    @if (Roles.IsUserInRole("MREG_DIC") || Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("DSupervisor") || Roles.IsUserInRole("DREG_SV"))
                    {
                    <input id="btnSIM" class="submitButton" type="button" value="SIM" />
                    }
                    <input class="submitButton" type="submit" value="Next Step: VAS" onclick="$('#submit1').val('Next'); return SaveData();" />
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
    
       
          
        
      
    
                    Html.Telerik().Window()
                             .Name("sublineWindow")
                             .Title("Supplementary Lines")
                             .Width(320)
                             .Content(@<text>
        @Html.Partial("_Subline")
        </text>)
                             .Modal(true)
                             .Visible(false)
                             .Render();
    }
     @Html.Partial("_footer")
</div>
<!-- Right column area -->
<div id="right">
    @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_SublineSummary"])
</div>

@{
    Html.Telerik().Window()
        .Name("planDetailsWindow")
        .Title("Plan Details")
        .Width(700)
        .Height(600)
        .ClientEvents(events => events.OnActivate("PlanWindow_popup"))
        .Content(@<text>
    <table width="100%">
        <tr>
            <td>
                <img alt="" id="imgPlanDetails" src="@Url.Content("~/Content/images/Plan/MobileReg_.gif")" />
            </td>
            @*<td><img alt="" id="imgPlanDetails" src="../../Content/images/Plan/MobileReg_.gif" /></td>*@
        </tr>
    </table>
    </text>)
        .Modal(true)
        .Visible(false)
        .Render();
}
@{
   


     //Spend Limit Commented by Ravi As per New Flow on June 15 2013
@*   Html.Telerik().Window()
        .Name("spendLimitWindow")
        .Title("Spend Limit")
        .Width(300)
        .Height(80)
        .Content(@<text>
                   


        <table>
           <tr>
                            <td>Spend Limit :</td><td><input type="text" id="txtSpendLimit" /></td>
                        </tr>
            <tr>
                <td colspan="2" align="center">
                    

                    <input type="button" id="btnSave" name="btnSave" onclick="return SaveSpendLimit();" value="Save" />
                </td>
            </tr>
        </table>
                        
                        
                         

                    
                </text>)
        .Modal(true)
        .Visible(false)
        .Render();*@

}
 @{
     Html.Telerik().Window()
         .Name("simWindow")
         .Title("SIM Serial")
         .Width(350).Height(120)
         .ClientEvents(events => events.OnActivate("WindowSim_onActivate"))
         .Content(@<text>
    @using (Html.BeginForm("SuppLinePlan", "SuppLine", FormMethod.Post, new { onSubmit = "return UpdateSIMData(this);" }))
    {
           <div class="ErrorClass" id="dvSimSerial_Error1"></div>
        <table>
            <tr>
                <td colspan="2" class="ErrorClass" >
                    @Html.ValidationMessageFor(model => model.PersonalDetailsVM.CapturedSIMSerial)
                </td>
            </tr>

             <tr>
                <td>@Html.LabelFor(model => model.PersonalDetailsVM.SIMCardType)
                </td>
                <td>
                    @*@(Html.Telerik().DropDownListFor(model => model.PersonalDetailsVM.SIMCardType).BindTo(Util.GetList(RefType.SIMCardType, selectedValue: Model.PersonalDetailsVM.SIMCardType)).ClientEvents(events => events.OnChange("SimCardTypeChange")).HtmlAttributes(new { style = string.Format("font-size:12px;width:{0}px", 250) }))*@

                    @Html.DropDownListFor(model => model.PersonalDetailsVM.SIMCardType, Util.GetList(RefType.SIMCardType, defaultValue: Model.PersonalDetailsVM.SIMCardType), new { style = string.Format("font-size:15px;width:{0}px",250) })
                     
                </td>
             </tr>

            @*Added by VLT for Sim Model Type on 10 Apr 2013*@
            @if(!IsDelar){
            <tr>
                <td>@Html.LabelFor(model => model.PersonalDetailsVM.SIMModel)
                </td>
                <td>
                   
                    <label id="simModel">
                     </label>
                </td>
            </tr>}
            @*End by VLT for Sim Model Type on 10 Apr 2013*@
            <tr>
                <td>@Html.LabelFor(model => model.PersonalDetailsVM.CapturedSIMSerial)
                </td>
                <td>
                   
                    <input type="text" id="CapturedSIMSerial" name="CapturedSIMSerial" style="width:238px;" />
                
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center" >
                    <input id="btnSaveSIM" type="submit" value="Save"  class="submitButton" />
                </td>
            </tr>
        </table>
       
    }
    </text>)
         .Modal(true)
         .Visible(false)
         .ClientEvents(events => events.OnOpen("SIMWindowOnOpen"))
         .Render();

     Html.Telerik().ScriptRegistrar()
         .OnDocumentReady(@<text>$('#btnSIM')
    .click(function(e) { $('#CapturedSIMSerial').val(''); $('#dvSimSerial_Error').text(''); e.preventDefault(); $('#simWindow').data('tWindow').center().open()});
    </text>);
    }
@section Scripts{
    <script type="text/javascript" language="javascript">


        $("#PersonalDetailsVM_SIMCardType").live("change", function () {
            SimCardTypeChange();
        });

        function PlanWindow_popup() {
            $('#planDetailsWindow').data('t-window').center();
        }

        function SimCardTypeChange() {

            //var selSimTypeVal = $("#PersonalDetailsVM_SIMCardType").data("tDropDownList").value();
            var selSimTypeVal = $("#PersonalDetailsVM_SIMCardType").val();
            $("#SimCardTypeSelected").val(selSimTypeVal);
            $('#CapturedSIMSerial').val('');
        }

        function SIMWindowOnOpen() {

            $('#CapturedSIMSerial').val('');
            //$('#simModel').html('');
        }

        function WindowSim_onActivate() {
            var containerwidth = $("#simWindow .t-content").width();
            $("#simWindow .t-content #dvSimSerial_Error1").width(containerwidth);
        }

        function UpdateSIMData(form) {
            if (form != null && $(form).valid() == false) {
                return false;
            }
            var inputSIM = $('#CapturedSIMSerial').val();
            var regID = $('#RegID').val();

            //var selSimTypeValue = $("#PersonalDetailsVM_SIMCardType").data("tDropDownList").value();
            var selSimTypeValue = $("#PersonalDetailsVM_SIMCardType").val();


            if (selSimTypeValue == 0) {
                $('#dvSimSerial_Error1').html("Please Select SIM Type");
                $('#dvSimSerial_Error1').show();
                return false;
            }

            $('#dvSimSerial_Error1').html('');
            var inputSIM = $('#CapturedSIMSerial').val();
            var simType = "MISM";

            if (inputSIM == '') {
                $('#dvSimSerial_Error1').html("Please enter SIM Serial");
                $('#dvSimSerial_Error1').show();
                return false;
            }

            else if (inputSIM != '') {
                //var url = '@(Url.Content("~/Registration/CheckSimModel"))';
                var url = '@(Url.Content("~/StoreKeeper/StoreKeeper/CheckSimModel"))';

                var tempregid = 0;
                // $.post(url, { regID: tempregid, sim: inputSIM, simCardType: selSimTypeValue }, function (data) {
                $.post(url, { sim: inputSIM, simCardType: selSimTypeValue, SIMType: simType }, function (data) {
                    if (data != '') {
                        $('#SimSerialSelected').val('Clicked');
                        var url = '@(Url.Content("~/Registration/UpdateSIMModelDataForDelear"))';

                        $.post(url, { sim: inputSIM, simCardType: selSimTypeValue }, function (data) {
                            var window = $('#simWindow').data('tWindow');
                            window.close();
                        });

                    }
                    else {
                        $('#IsError').val('true');
                        //$('#simModel').html('');
                        $('#dvSimSerial_Error1').html('@(Settings.Default.SimSerialGenericError.ToString2())');
                        $('#dvSimSerial_Error1').show();
                        $('#SimSerialSelected').val('');
                        return false;
                    }

                }, "text");
            }

            return false;

            //            var window = $('#simWindow').data('tWindow');
            //            window.close();
            //            return false;

        }

       


        jQuery(function () {
            jQuery("#ui-plan").accordion({
                autoHeight: false
            });
            $("#ui-plan").accordion("option", "icons",
        		{ 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });
        });
        function SelectedPackage(target, planID) {
            $(".plan-innerbox").removeClass('focus');
            $(target).addClass('focus');
            $('#PackageVM_SelectedPgmBdlPkgCompID').val(planID);
            $('#Plan_Error').hide();
        }
        $.validator.methods.number = function (n, t) {
            return true;
        }
        var isSpend = false;
        $(document).ready(function () {

            //            jQuery("#popup-message").colorbox({ iframe: true, innerWidth: 988, innerHeight: 500 });

            //Highlight selected plan
            var planID = $('#PackageVM_SelectedPgmBdlPkgCompID').val();
            if (planID != 0) {
                $('#btnPlan_' + planID).css("border-style", "solid");

            }

            $('#TabValue').val($.trim($('#btnPlan_' + planID).text()));
            var planId = $('#hdnSelectedPlans').val();
            if (planId != "")
                $('#PackageVM_SelectedPgmBdlPkgCompID').val(planId);



        });

        //Highlight selected plan
        if ('@planId' != '0') {
            $('#PackageVM_SelectedPgmBdlPkgCompID').val('@planId')

            $('#' + '@planId').addClass('focus');
        }


        function detailsPlans_OnClick(btnPlanDetails) {
            var code = btnPlanDetails.substring(14);
            var src = $('#imgPlanDetails').attr("src");
            var indexFrom = src.indexOf("MobileReg_") + 10;
            var indexTo = src.indexOf(".gif");
            var oldCode = src.substring(indexFrom, indexTo);

            src = src.replace(oldCode, "");
            src = src.replace("MobileReg_", "MobileReg_" + code);
            $('#imgPlanDetails').attr("src", src);

            $('#planDetailsWindow').data('tWindow').center().open();
        }

        function SaveData() {
            if ((($('#SimSerialSelected').val()) == '') && ('@(Roles.IsUserInRole("DREG_SV"))' == 'True' || '@(Roles.IsUserInRole("DSupervisor"))' == 'True' || '@(Roles.IsUserInRole("MREG_DIC"))' == 'True' || '@Roles.IsUserInRole("MREG_DSV")' == 'True' || '@(Roles.IsUserInRole("MREG_DAI"))' == 'True')) {
                $('#Plan_Error').html("Please select the Sim Serial No.");
                $('#Plan_Error').show();
                return false;
            }
        }


        //Spend Limit Commented by Ravi As per New Flow on June 15 2013
        //Code Changes for Spend Limit
        //        function SaveSpendLimit() {
        //            var spendLimitVal = $('#txtSpendLimit').val();
        //            if (spendLimitVal == "") {
        //                if (confirm("Are you sure you want to proceed with Default Spend Limit!?") == true) {

        //                    SendSpendLimit(spendLimitVal);

        //                } 
        //                else {
        //                    alert("Please Enter Spend Limit");
        //                    $('#txtSpendLimit').focus();
        //                }

        //            }
        //            else if (spendLimitVal != "") {

        //                if (/^\d+(\.\d{1,2})?$/.test(spendLimitVal)) {

        //                    SendSpendLimit(spendLimitVal);
        //                }
        //                else {
        //                    alert("Please Enter Valid Spend Limit");
        //                    $('#txtSpendLimit').val('');
        //                    $('#txtSpendLimit').focus();
        //                }
        //            }
        //            else {

        //                SendSpendLimit(spendLimitVal);
        //            }

        //        }

        //        function SendSpendLimit(spendLimitVal) {

        //            $('#hdnSpendLimit').val(spendLimitVal);
        //            $('#submit1').val('Next');
        //            $('#spendLimitWindow').data('tWindow').close();
        //            document.forms["frmSuppLinePlan"].submit();

        //        }
        //        

        //        function SaveData()
        //        {
        //            if (isSpend == true) {

        //                $('#spendLimitWindow').data('tWindow').center().open();

        //                return false;

        //            }
        //            else {
        //                $('#submit1').val('Next');
        //                return true;
        //            }
        //        }
      
    
    </script>
}
