﻿@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "Close Registration";
    Layout = "~/Views/Shared/_SubmitLayout.cshtml";
}


@model int

<div >
    <table width="100%">
        <tr>
            <td style="width:580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<div >            
    <h2>Registration has been closed Successfully.</h2>
    <!--<h4>
        Click 
            @Html.ActionLink("HERE", "SecondaryLineRegSummary", new { regID = Html.DisplayForModel() }, new { style = "color:#5fb848;font-weight:bold;text-decoration:none" }) 
        to view registration or 
            <a href="@(Url.Content("~/Registration/PrintMobileRF?id=" + Model))" target="_blank" style="text-decoration:none" >
                <img alt="" src="../../Content/images/Print.gif" /> Print
            </a>
        the registration form.
    </h4>-->
</div>

