﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.Properties;
@{
    ViewBag.Title = "Submit Registration";
    Layout = "~/Views/Shared/_SubmitLayout.cshtml";
}
@model int
<div>
    <table width="100%">
        <tr>
            <td style="width: 580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<div>
    @if (System.Configuration.ConfigurationManager.AppSettings["ToEmail"].ToString2() == "Y" && !Roles.IsUserInRole("MREG_CUSR"))
    {
@*VLT CHANGED CODE 21stFEB *@
        <h3>
            Registration has been submitted successfully and an email has been sent to you…</h3>
@*VLT CHANGED CODE 21stFEB *@
    }
    else
    {
        <h3>
            Registration has been submitted successfully.</h3>
    }
    <h4>
        Click
        @Html.ActionLink("HERE", "SecondaryLineRegSummary", new { regID = Html.DisplayForModel() }, new { style = "color:#5fb848;font-weight:bold;text-decoration:none" })
        to view registration or <a href="@(Url.Content("~/Registration/PrintMobileRF?id=" + Model))" target="_blank" style="text-decoration:none" >
            <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
            Print </a>the registration form.
    </h4>
</div>
