﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Models;
@using SNT.Utility;
@using Online.Registration.Web.SubscriberICService;
@model Online.Registration.Web.ViewModels.MobileNoVM
@{
    ViewBag.Title = "Select a Preferred Number";
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    /*For checking the MSISDN whether valid or not valid by chetan*/
    var invchk = !ReferenceEquals(Request.QueryString["invchk"], null) ? Request.QueryString["invchk"] : "True";
    Layout = "~/Views/Shared/_NewLayout.cshtml";

    var extraTenCount = 0;
    var listPrevExtraTenMSISDNs = Session["ExtratenMobilenumbers"].ToString2();

    int minSpendLimit = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["MinSpendLimit"]);
    int maxSpendLimit = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["MaxSpendLimit"]);

    //Primary Supplementary Line Changes
    //List of Suppline attached to primary line changes
    SelectPlanForSuppline selectPlanForSuppline = null;
    List<SupplinePlanStorage> supplinePlanStorageList;
    SupplinePlanStorage supplinePlanStorage = null;
    string ProcessingMsisdn = string.Empty;
    Boolean primarySupplimentLines = (Session["IsSupplementaryRequired"] == null) ? false : Convert.ToBoolean(Session["IsSupplementaryRequired"]);

    if (primarySupplimentLines)
    {
        supplinePlanStorageList = (Session["supplinePlanStorageList"] != null) ? ((List<SupplinePlanStorage>)Session["supplinePlanStorageList"]) : null;

        if (!ReferenceEquals(Session["PrimarySupplimentaryLines"], null))
        {
            ///GET ALL SUPPLEMENTARY LINES STORED IN SESSION 
            selectPlanForSuppline = (SelectPlanForSuppline)Session["PrimarySupplimentaryLines"];
            ///CHECK IF THERE ARE ANY, IN PROCESS MSISDN'S
            if (selectPlanForSuppline.PrimarySupplimentaryMSISDNs.Where(i => i.Status == PrimarySupplimentaryDetailsAddState.PROCESSING.ToInt()).ToList().Count > 0)
            {
                ProcessingMsisdn = selectPlanForSuppline.PrimarySupplimentaryMSISDNs.Where(i => i.Status == PrimarySupplimentaryDetailsAddState.PROCESSING.ToInt()).ToList().FirstOrDefault().ProcessingId;
                ///GET THE SUPPLEMENTARY OBJECT CORRESPONDING TO ProcessingMsisdn
                supplinePlanStorage = (supplinePlanStorageList.Where(i => i.RegMobileReg_ProcessingId.Equals(ProcessingMsisdn)).ToList().FirstOrDefault());
            }
        }
    }
    string selectedMSISDN = Session["ExternalID"].ToString2();
    var orderVM = new OrderSummaryVM();

    if ((OrderSummaryVM)Session["RegMobileReg_OrderSummary"] != null)
    {
        orderVM = (OrderSummaryVM)Session["RegMobileReg_OrderSummary"];
    }
    bool isDedicatedSuppFlow = Session["DedicatedSuppFlow"].ToBool();

    WebHelper.Instance.clearApprovalCheckboxes();
    
}

 @using (Html.BeginForm("SelectMobileNoNew", "SuppLine", FormMethod.Post, new { id = "frmSelectMobileNo", @class = "overlayonsubmit", processmsg = "Loading" }))
 { 
        <input type="hidden" id="hdnExtraTenCount" value="10" />
        <input type="hidden" name="hdnNumberType" id="hdnNumberType" value="n" />
        @Html.HiddenFor(a => a.TabNumber)
        @Html.Hidden("submit1")
        @Html.HiddenFor(a => a.ExtraTenMobileNumbers)
        @Html.Hidden("DesireNo")
        @Html.Hidden("ddlPrefix")
        @Html.Hidden("validateAgentCode")
        @Html.Hidden("salesAgentCode")
        <input type="hidden" name="SimSize" id="SimSize" />

 <div class="container ipad-container">
            <div class="isell-base">

            @{
            var viewBagVal = new ViewDataDictionary();
            viewBagVal.Add("Flow", "Suppline");
            viewBagVal.Add("errReserve", ViewBag.errReserve);
                
            Html.RenderPartial("_MobileNoHeader", Model, viewBagVal);
            viewBagVal.Add("GSTnotif", ViewBag.GSTnotif);
            viewBagVal.Add("GSTMark", ViewBag.GSTMark);
            Html.RenderPartial("_MobileNoDetails", Model, viewBagVal);
                
            }

  <div class="row">
    <div class="col-sm-12 process-btn"> 
      <footer>
   <navi>
      <div class="container-fluid">
          <div class="row">
           
           @if (Session["SimType"].ToString2() == "MISM")
           {
               
                    <div class="col-sm-1" id="back">
                     <div class="btn isell-btn" onclick="backbutton();$('#TabNumber').val(@RegistrationSteps.SecoVas.ToInt());submitForm()">< Back</div>
                  </div>
                                  
           }
           else
           {
                 <div class="col-sm-1" id="back">
                     <div class="btn isell-btn" onclick="backbutton();$('#TabNumber').val(3);submitForm()">< Back</div>
                  </div>            
           }
           <div class="col-sm-9" id="cancel">
                <div class="btn isell-btn"  data-toggle="modal" data-target="#cancel-pop" >< Cancel</div>
            </div>    
           @if (Model != null && Model.AvailableMobileNos.Count > 0)
           {
                <div class="col-sm-2">
                @if (isDedicatedSuppFlow)
                { 
                    <div class="btn isell-next" onclick="SelectedFlow(this,'None')">Next <span>></span></div>
                }
                else
                {
                    <div class="btn isell-next" data-target="#sim-type" data-toggle="modal">Next <span>></span></div>
                }    
                </div>   
           }   
            <input type="hidden" name="flowHidden" id="flowHidden" value="None" />                   
      </div>
   </navi>   
</footer>
    </div>
  </div>
            </div>

        </div>
      
 } 

<script type="text/javascript">
    //RST - identifier for back
    function backbutton(){
    var flow_value = $('#flowHidden');
    $('#flowHidden').val(flow_value+";backbutton");}
    //end RST
    function SelectedSimType(simSize)
            {
                $('#SimSize').val(simSize)
            }
       var numberType ='@Request.QueryString["numberType"].ToString2()'; 
       function SelectedMobile(target,mobileNo) {
            $(".number-innerbox").removeClass('focus');
            $(target).addClass('focus');
            $('#SelectedMobileNo').val(mobileNo);
        }
        
        function SelectedFlow(target, str){
            $('#flowHidden').val(str);
            submitFormData();
        }

          function submitFormData()
            {
               if($('#SelectedMobileNo').val().length==0)
               {
                  $('#dvError').html('Please select a number.');
                  $("html, body").animate({ scrollTop: 0 }, "slow");
                  $('#dvMSISDNErr').hide();
                  return false;
               }
               if($('#SimSize').val().length==0)
               {

                  $('#dvError').html('Please select Sim Size.');
                  $("html, body").animate({ scrollTop: 0 }, "slow");
                  $('#dvMSISDNErr').hide();
                  return false;
               }


                $('#dvError').html('');
            var curReserSrc = $('#reserveNumber').val();

           if(($('#reserveNumber').val() != ''))
            {
                desire = $('#reserveNumber').val();
                $('#hdnNumberType').val('r');
            }
            else
            {
                $('#hdnNumberType').val('n');
            }

            $("#hdnNumberType").val('@Request.QueryString["numberType"].ToString2()');
            if($("#hdnNumberType").val() == ''){
                $("#hdnNumberType").val('n');
            }

               $('#TabNumber').val(@(Convert.ToString(Session["SimType"]) == "MISM" ? RegistrationSteps.PersonalDetails.ToInt() : MobileRegistrationSteps.PersonalDetails.ToInt()));
               $('#frmSelectMobileNo').submit();
               return true;
                
            }

        $(document).ready(function () {

            $('#overlay').click(function(e){
                $(this).hide();
            });

            $('#nestedOverlay').click(function(e){
                e.preventDefault();
                return false;
            });

            if($("#tdPrefix").show())
            {
                $("#DesireNoSelected").attr("maxlength","7");
            }

        if(numberType=="r" || numberType=="g")
        {
            $("#DesireNoSelected").attr("maxlength","12");
            $('#spnDesireTitle').html('Desire MSISDN (10-12 digits):');
            $('#tdPrefix').hide();
           
            $('.number-outerbox:first div').click();
        }
         $("#DesireNo").val('@Request.QueryString["desireNo"].ToString2()');

         var noPrefix ='@Request.QueryString["prefix"].ToString2()'; 
          $('#ddlPrefix').val(noPrefix);
            

            //Code added by vlt for selecting Mobile No
             $('#btnContinue').click(function()
            {
               if($('#SelectedMobileNo').val().length==0)
               {
                  $('#dvError').html('Please select a number.');
                  $("html, body").animate({ scrollTop: 0 }, "slow");
                  $('#dvMSISDNErr').hide();
                  return false;
               }
                $('#dvError').html('');
            var curReserSrc = $('#reserveNumber').val();

           if(($('#reserveNumber').val() != ''))
            {
                desire = $('#reserveNumber').val();
                $('#hdnNumberType').val('r');
            }
            else
            {
                $('#hdnNumberType').val('n');
            }

               $('#TabNumber').val(@(Convert.ToString(Session["SimType"]) == "MISM" ? RegistrationSteps.PersonalDetails.ToInt() : MobileRegistrationSteps.PersonalDetails.ToInt()));
               $('#frmSelectMobileNo').submit();
               return true;
                
            });
            //End of Code added by vlt for selecting Mobile No

        });


        // Begin Code added by VLT on 12 apr 2013
        function isNumberKey(evt)
          {
             var charCode = (evt.which) ? evt.which : event.keyCode
             if (charCode > 31 && (charCode < 48 || charCode > 57))
             {
                 $('#dvError').html("Please Enter Only Numbers.");
                 $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
             }
              $('#dvError').html('');
             return true;
          }
        // End Code added by VLT on 12 apr 2013

       
        function ValidateDesireNo()
        {
            var length = $("#DesireNoSelected").val().length;
            var desire = '';
            //Number type changes on Mar 27 2014 by ravi 
            var curReserSrc = $('#reserveNumber').val();
           // var curGoldSrc =$('#btnGolden:first img').val();
            if(($('#reserveNumber').val() != ''))
            {
                desire = $('#reserveNumber').val();
                $('#hdnNumberType').val('r');
            }
            else
            {
                desire = $("#DesireNoSelected").val();
                $('#hdnNumberType').val('n');
            }

            $('#validateAgentCode').val('false');
            var isValidMsisdn = true;
            var errorMessage = "";
            
              if($('#hdnNumberType').val().toString()=="r" || $('#hdnNumberType').val().toString()=="g")
              {
                if(desire.length<10 || desire.length>12)
                {
                  isValidMsisdn= false;
                  errorMessage="Please Enter Complete MSISDN Number."
                }
              }
              else
              {
               isValidMsisdn =((length < 3 && length != 0)?false:true);
                errorMessage ='Desire No must have at least 3 digits.' 
              }
            if(isValidMsisdn==false)
            {
                 $('#dvError').html(errorMessage);
                 $("#DesireNoSelected").focus();
                 $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            else
            {
                $('#submit1').val('search');
                $('#dvError').html('');
                $('#DesireNo').val(desire);
                $("#frmSelectMobileNo").submit();
            }
        }
      

        $("#DesireNoSelected").keypress(function(e){
            if(e.keyCode==13){  
                $('#submit1').val('search');
            }
        });     

        if(parseInt('@Model.AvailableMobileNos.Count')<=0 && (numberType=="n" || numberType==""))
        {
           $('#dvError').html('No MSISDN(s) found for the below criteria.');
           $("html, body").animate({ scrollTop: 0 }, "slow");
        }

        $('#ddlPrefixlist li a').click(function (e) {
            e.preventDefault();
            $('#ddlPrefixSelected').text($(this).text());
            $('#ddlPrefix').val($(this).data('value'));
        });
         
          $('#reserveNumber').keyup(function(e){
            if(e.keyCode == 13)
            {
                ValidateDesireNo();
            }
        });

        function CancelPopUp() {
        $('#cancel-pop').modal('hide');
        }

        function submitForm()
        {
            $("#frmSelectMobileNo").submit();
        }
    </script>
