﻿@using System.Configuration;
@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.CommonEnum;
@using System.Text.RegularExpressions;
@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Models;
@using Online.Registration.Web.SubscriberICService;
@model Online.Registration.Web.ViewModels.DevicePlanPackageVM
@{
    ViewBag.Title = "Maxis iSELL Portal - Plan & Device";
    Layout = "~/Views/Shared/_NewLayout.cshtml";

    bool isDealer = Session["IsDealer"].ToBool();
    bool isSupp = Session[SessionKey.IsSuppleNewAccount.ToString()].ToBool();
    List<SelectListItem> listOfAvailableBrand = Util.GetList(RefType.Brand, defaultValue: string.Empty, defaultText: "Select a brand");
    List<SelectListItem> listOfCapacity = Util.GetList(RefType.Capacity, defaultValue: string.Empty, defaultText: "All");
    List<SelectListItem> listOfPrice = Util.GetList(RefType.PriceRange, defaultValue: string.Empty, defaultText: "All");
    Dictionary<string, decimal> lowestDeviceContractPrice = (Dictionary<string, decimal>)Session["DeviceLowestContractPrice"];
    List<int> modelList = new List<int>();
    string btnPlanDetails = string.Empty;
    bool IsExistingUser = false;
    retrieveAcctListByICResponse AcctListByICResponse = null;
    var dropObj = (DropFourObj)Session[SessionKey.DropFourObj.ToString()];
    if (SessionManager.Get("PPIDInfo") != null)
    {
        AcctListByICResponse = (retrieveAcctListByICResponse)SessionManager.Get("PPIDInfo");
    }
    if (SessionManager.Get("PPID") != null && !string.IsNullOrWhiteSpace(Convert.ToString(SessionManager.Get("PPID"))))
    {
        IsExistingUser = "E".Equals(Convert.ToString(SessionManager.Get("PPID"))) ? true : false;
    }
    //Spend Limit Commented by Ravi As per New Flow on June 15 2013
    var isSpendLimit = false;
    int minSpendLimit = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["MinSpendLimit"]);
    int maxSpendLimit = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["MaxSpendLimit"]);

    string errorMsg = Model.errorMsg;

    //19052015 - Enhance to keep the query filter in UI - Lus
    string priceRangeSelected = !string.IsNullOrEmpty(Model.PriceRangeSelected) ? Model.PriceRangeSelected : "All";
    string priceRangeValue = !string.IsNullOrEmpty(Model.PriceRangeValue) ? Model.PriceRangeValue : "";
    string brandSelectedName = !string.IsNullOrEmpty(Model.BrandSelected) ? Model.BrandSelected : "Select a brand";
    string modelSelectedName = !string.IsNullOrEmpty(Model.ModelSelected) ? Model.ModelSelected : "Select a model";
    string capacitySelectedName = !string.IsNullOrEmpty(Model.CapacitySelected) ? Model.CapacitySelected : "All";

    int inputBrandSelected = Model.inputBrandSelected;
    int inputCapacitySelected = Model.inputCapacitySelected;
    int inputDeviceTypeSelected = Model.inputDeviceTypeSelected;
    string inputModelSelected = Model.inputModelSelected;
}
@using (Html.BeginForm("IndexNew", "Home", FormMethod.Post, new { id = "btnBackPage", @class = "overlayonsubmit", processmsg = "Loading" }))
        {
            var searchby = Session["SearchBy"].ToString2();
            var cardNum = Session["cardNumber"].ToString2();
            var accstat = Session["AcctStat"].ToString2();
            }
@using (Html.BeginForm("SelectDevicePlan", "SuppLine", FormMethod.Post, new { id = "frmSelectDevicePlan", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    @Html.Hidden("hdnSpendLimit");
    @Html.Hidden("deviceTypeSelected");
    @Html.Hidden("deviceRRP");
    @Html.Hidden("deviceOfferPrice");
    @Html.Hidden("selectedArticleID");
    @Html.Hidden("selectedModelID");
    @Html.Hidden("selectedPlan");
    @Html.Hidden("selectedKenanCode");
    @Html.Hidden("selectedPackageCode");
    @Html.HiddenFor(a => a.PackageVM.SelectedPgmBdlPkgCompID)
    @Html.HiddenFor(a => a.PhoneVM.SelectedModelImageID)
    @Html.Hidden("selectedPackageName");
    @Html.Hidden("selectedContractLength");
                                          
                                          // filter part
    @Html.Hidden("brandFilter");
    @Html.Hidden("modelFilter");
    @Html.Hidden("capacityFilter");
    @Html.Hidden("priceFilter");
    @Html.Hidden("submitType");
    @Html.Hidden("availableChecked");
    @Html.Hidden("limitedStockChecked");
    @Html.Hidden("sellingFastChecked");
    @Html.Hidden("outOfStockChecked");
                                    

    <div class="container">
        <div class="isell-base">
            @*<div class="row">
                <div class="col-sm-12">
                    <h2>
                        New registration:
                    </h2>
                    @{
                                     if (IsExistingUser)
                                     {
                                         if (!ReferenceEquals(AcctListByICResponse, null) && AcctListByICResponse.itemList.Any(c => c.Account != null))
                                         {
                        <h4>@AcctListByICResponse.itemList.Where(c => c.Account != null).ToList().FirstOrDefault().Account.Holder</h4>
                                         }
                                     }
                                     else
                                     { 
                        <h4>@Constants.NEW_USER_ALIAS</h4>
                                     }
                    }
                </div>
            </div>*@
            @Html.Partial("_AccountHolderName")
            <div class="row">
                <div class="col-sm-12 green-bg">
                    <p class="font-24">
                        Add a Plan & Device</p>
                </div>
            </div>
            @{ 
                                     Html.RenderPartial("_OrderFlow");
            }
            <div class="row">
                <div class="col-sm-12 grey-bg">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs line-tab" role="tablist">
                        <li class="active"><a href="#principle" role="tab" data-toggle="tab">@Constants.SUPPLEMENTARY_LINE</a><span
                            class="active-green-arrow"></span></li>
                        @*<li><a href="#suplimentary" role="tab" data-toggle="tab">Suplimentary Line</a></li>*@
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="principle">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="device-title">
                                        @if (isDealer)
                                        { 
                                            <span>Step 01:</span> 
                                        }
                                        else
                                        {
                                            <span>Step 01a:</span> 
                                        }
                                        Please select a device
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="font-16">@(ViewBag.GSTnotif)</p>
                                </div>
                                <div class="col-sm-12">
                                    <p id="Plan_Error" style="color: Red; font-weight: bold;">
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="row device-type">
                                        <div class="col-sm-12">
                                            <h5>
                                                Filter Options</h5>
                                            <p>
                                                Device type</p>
                                            <ul class="nav nav-tabs" role="tablist" id="device">
                                                <li class="active"><a href="#phone" role="tab" data-toggle="tab" onclick="SetDeviceType(1)">
                                                    <div class="phone-type phone-type-selected" id="the-phone">
                                                    </div>
                                                </a></li>
                                                <li><a href="#tablet" role="tab" data-toggle="tab" onclick="SetDeviceType(2)">
                                                    <div class="tablet" id="the-tablet">
                                                    </div>
                                                </a></li>
                                            </ul>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <!-- Tab panes -->
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="phone">
                                                            <!-- filter by brand -->
                                                            <p>
                                                                Brand</p>
                                                            <div class="input-group drop-down">
                                                                <!-- dropdown select brand -->
                                                                <div class="input-group-btn">
                                                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby filter-device"
                                                                        type="button">
                                                                        <span id="btnBrandSelected">@brandSelectedName</span><span class="drop-arrow"></span></button>
                                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                                        @{
                                        foreach (var brand in listOfAvailableBrand)
                                        {
                                            string btnBrand = "BR_" + brand.Value;
                                                                            <li><a onclick="SetDropdown('btnBrandSelected', '@brand.Value', '@brand.Text'); return false" href="" id="@btnBrand">@brand.Text</a></li>
                                        }
                                                                        }
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <!-- dropdown select model -->
                                                            <div class="input-group-btn drop-down" style="display:inline;">@*Anthony: [#2150] Firefox issue (version 24.x.x) in select model list*@
                                                                <button data-toggle="dropdown"  id="selectModelButton" class="btn btn-default dropdown-toggle selectby filter-device model" disabled="disabled"
                                                                    type="button">
                                                                    <span id="btnModelSelected">@modelSelectedName</span><span id="dropdownmodel" class="drop-arrow-disable"></span></button>
                                                                <select id="modelName" class="dropdown-menu">
                                                                </select>
                                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="modelUL">
                                                                </ul>
                                                            </div>
                                                            <!-- filter by capacity -->
                                                            <p>
                                                                Capacity</p>
                                                            <div class="input-group drop-down">
                                                                <!-- dropdown select capacity -->
                                                                <div class="input-group-btn">
                                                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby filter-device"
                                                                        type="button">
                                                                        <span id="all-capacity">@capacitySelectedName</span><span class="drop-arrow"></span></button>
                                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                                        @{
                                        foreach (var capacity in listOfCapacity)
                                        {
                                            string btnCapacity = "CP_" + capacity.Value;
                                                                            <li><a onclick="SetDropdown('all-capacity', '@capacity.Value', '@capacity.Text'); return false" href="" id="@btnCapacity">@capacity.Text</a></li>
                                        }
                                                                        }
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <!-- filter by price -->
                                                            <p>
                                                               Selling Price</p><!--Anthony-[#2153]-->
                                                            <div class="input-group drop-down">
                                                                <!-- dropdown select price -->
                                                                <div class="input-group-btn">
                                                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby filter-device"
                                                                        type="button">
                                                                        <span id="lowest-price">@priceRangeSelected</span><span class="drop-arrow"></span></button>
                                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                                        @{
                                        foreach (var price in listOfPrice)
                                        {
                                            string btnPriceRange = price.Value;
                                                                            <li><a onclick="SetDropdown('lowest-price', '@price.Value', '@price.Text'); return false" href="" id="@btnPriceRange">@price.Text</a></li>
                                        }
                                                                        }
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <!-- check stock -->
                                                            <p>
                                                                In-stock status</p>
                                                            <!-- dropdown select base on in-stock -->
                                                            <ul class="col-sm-12 kill-padding">
                                                                <li>
                                                                    <input id="type-stock-1" class="stock-checkbox" type="checkbox" checked="checked" />
                                                                    <label for="type-stock-1" name="stock-lbl-1" class="stock-label">@Constants.AVAILABLE</label>
                                                                </li>
                                                                <li>
                                                                    <input id="type-stock-2" class="stock-checkbox" type="checkbox" />
                                                                    <label for="type-stock-2" name="stock-lbl-2" class="stock-label">@Constants.SELLING_FAST</label>
                                                                </li>
                                                                <li>
                                                                    <input id="type-stock-3" class="stock-checkbox" type="checkbox" />
                                                                    <label for="type-stock-3" name="stock-lbl-3" class="stock-label">@Constants.LIMITED_STOCK</label>
                                                                </li>
                                                                <li>
                                                                    <input id="type-stock-4" class="stock-checkbox" type="checkbox" />
                                                                    <label for="type-stock-4" name="stock-lbl-4" class="stock-label">@Constants.OUT_OF_STOCK</label>
                                                                </li>
                                                            </ul>
                                                            <!-- filter button -->
                                                            <div class="col-sm-12">
                                                                <div class="btn filter-btn2" id="btnFilter" >Filter <span>&gt;</span></div>
                                                            </div>
                                                        </div>
                                                        @*
                                                    <div class="tab-pane" id="tablet">dddd</div>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 del-left-pad" style="width:47%;">
                                @if (Model.PhoneVM.ModelImages.Count == 0)
                                {
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h2 class="font-20">
                                                    We could not find any devices matching these criteria.</h2>
                                                <h2 class="font-20">
                                                    Please try again.</h2>
                                            </div>
                                        </div>
                                }
                                else
                                {
                                    <ul class="device-list">
                                        @{
                                    int currIndex = 0;
                                    foreach (var model in Model.PhoneVM.ModelImages)
                                    {
                                        string curDeviceName = Util.GetNameByID(RefType.Model, model.BrandArticle.ModelID);
                                        var rrpPrice = (decimal)model.RetailPrice;

                                        if (!modelList.Contains(model.BrandArticle.ModelID))
                                        {
                                            modelList.Add(model.BrandArticle.ModelID);
                                            currIndex++;
                                            string selDevice = "sel-device-" + currIndex;
                                            string device = "device-" + currIndex;
                                            string phoneMoreButton = "#phone-more" + currIndex;
                                            string planMoreButton = "#plan-more" + currIndex;
                                            string phoneMore = "phone-more" + currIndex;
                                            string planMore = "plan-more" + currIndex;
                                            string color = "color" + currIndex;
                                            string plan = "plan" + currIndex;
                                            string contractUL = "contractUL" + currIndex;
                                            string contract = "contract" + currIndex;
                                            string btnContract = "btnContract" + currIndex;
                                            Dictionary<string, int> deviceStock = new Dictionary<string, int>();
                                            
                                            <li class="devices">
                                                <div class="card">
                                                    <div class="front">
                                                        <div class="device-select">
                                                            <span class="row"><span style="text-align:center" class="col-sm-12">
                                                                @* <img height="176px" src="@Url.Content(model.BrandArticle.ImagePath)" />*@
                                                                    <label for="@selDevice" name="@device" onclick="ClearCardFlip('@selDevice','@color', '@plan','@contract','flip');">
                                                                        <img height="176px" src="@Url.Content(model.BrandArticle.ImagePath)" style="cursor:pointer;"/></label>
                                                            </span><span class="col-sm-10 phone-details">
                                                                <h2>@curDeviceName</h2>
                                                                @*<h2>16GB</h2>*@
                                                                @*<h2>
                                                                    &nbsp;</h2>*@
                                                            </span><span class="col-sm-2 kill-padding">
                                                                <button data-url='@Url.Content(string.Format("~/Registration/DevicePlanDetails/?articleId={0}&modelId={1}", @model.BrandArticle.ArticleID, @model.BrandArticle.ModelID))' data-target="#ViewDeviceDetails" data-toggle="modal" class="btn-info btn-info-device-detail">
                                                                    <span>i</span>
                                                                </button>
                                                            </span>
                                                            @if (model.dfdeviceEligibility)
                                                            { 
                                                                <span class="col-sm-8" style="padding-top: 5px">
                                                                    @*<p style="background-color:red; color:white" align="center">
                                                                        ZEROLUTION</p>*@
                                                                    <img alt="" src="@Url.Content("~/Content/images/zerolution_logo.jpg")" />
                                                                </span>
                                                            }
                                                            <span class="col-sm-12">
                                                                <p class="frm-price">
                                                                    From</p>
                                                            </span><span class="col-sm-12">
                                                                <p class="startprice">
                                                                    RM @(lowestDeviceContractPrice.ContainsKey(model.BrandArticle.ModelID.ToString2()) ? lowestDeviceContractPrice[model.BrandArticle.ModelID.ToString2()].ToString2() : "N/A")</p>
                                                            </span><span class="col-sm-10">
                                                                <p class="rrp">
                                                                    RRP RM @rrpPrice</p>
                                                            </span><span class="col-sm-2 kill-padding">
                                                                <input id="@selDevice" class="device-checkbox" type="checkbox"   name="sel-device"/>
                                                                @*Gregory PN 2484 Adding onclick*@
                                                                <label for="@selDevice" name="@device" class="stock-label adjust-checkbox" onclick="ClearCardFlip('@selDevice','@color', '@plan','@contract','noFlip');">
                                                                    &nbsp;</label>
                                                            </span></span>
                                                        </div>
                                                    </div>
                                                    <div class="back">
                                                        <span class="device-details"><span class="row"><span class="col-sm-12"><a href="#"
                                                            class="back-btn">< back</a> </span><span class="col-sm-12">
                                                                <!-- colours -->
                                                                <p>
                                                                    Colours</p>
                                                                <span class="input-group drop-down">
                                                                    <!-- dropdown select capacity -->
                                                                    <span class="input-group-btn">
                                                                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby filter-device"
                                                                            type="button">
                                                                            <span id="@color">Color <span class="in-stock" id="lblstockStatus"></span></span>
                                                                            <span class="drop-arrow"></span>
                                                                        </button>
                                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                                            @{
                                                            string stockStatus = "";
                                                            foreach (var modelImages in Model.PhoneVM.ModelImages.Where(a => a.ModelCode == model.ModelCode))
                                                            {
                                                                int btnStockStatus = modelImages.Count;
                                                                if (modelImages.Count <= 0)
                                                                {
                                                                    stockStatus = Constants.NOT_AVAILABLE;
                                                                                <li id="@modelImages.Count"><a href="#"> @modelImages.ColorCode - <span class="out-stock">@stockStatus</span> </a></li>
                                                                }
                                                                else if (modelImages.Count >= 1 && modelImages.Count <= 4)
                                                                {
                                                                    stockStatus = Constants.LIMITED_STOCK;
                                                                                <li id="@modelImages.Count"><a onclick="SetDropdownAndDevice('@color', '@modelImages.BrandArticle.ArticleID', '@modelImages.ColorCode','@(model.BrandArticle.ModelID)','@curDeviceName','@rrpPrice', '@(model.BrandArticle.ID)');return false" href="" id="btnColorStock">@modelImages.ColorCode
                                                                                    - <span class="limited">@stockStatus</span></a></li>
                                                                }
                                                                else if (modelImages.Count >= 5 && modelImages.Count <= 7)
                                                                {
                                                                    stockStatus = Constants.SELLING_FAST;
                                                                                <li id="@modelImages.Count"><a onclick="SetDropdownAndDevice('@color', '@modelImages.BrandArticle.ArticleID', '@modelImages.ColorCode','@(model.BrandArticle.ModelID)','@curDeviceName','@rrpPrice', '@(model.BrandArticle.ID)');return false" href="" id="btnColorStock">@modelImages.ColorCode
                                                                                    - <span class="selling-fast">@stockStatus</span></a></li>
                                                                }
                                                                else if (modelImages.Count > 7)
                                                                {
                                                                    stockStatus = Constants.AVAILABLE;
                                                                                <li id="@modelImages.Count"><a onclick="SetDropdownAndDevice('@color', '@modelImages.BrandArticle.ArticleID', '@modelImages.ColorCode','@(model.BrandArticle.ModelID)','@curDeviceName','@rrpPrice', '@(model.BrandArticle.ID)');return false" href="" id="btnColorStock">@modelImages.ColorCode
                                                                                    - <span class="in-stock">@stockStatus</span></a></li>
                                                                }
                                                            }                                                      
                                                                            }
                                                                        </ul>
                                                                    </span></span></span><span class="col-sm-12">
                                                                        <!-- plan -->
                                                                        <p>
                                                                            Plan</p>
                                                                        <span class="input-group drop-down">
                                                                            <!-- dropdown select capacity -->
                                                                            <span class="input-group-btn">
                                                                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby2 filter-device"
                                                                                    type="button" style="padding-bottom:0px;padding-top:0px;height:37px;">
                                                                                    <span id="@plan">Select Plan</span>
                                                                                    <span class="drop-arrow"></span>
                                                                                </button>
                                                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="planDropdown" style="min-width:212px; left:-32px;">
                                                                                    @{
                                                            var plan1 = Model.PackageVMList.Where(a => a.modelID == model.BrandArticle.ModelID).SelectMany(x => x.AvailablePackages).ToList();

                                                            foreach (var p in plan1)
                                                            {
                                                                var isSpendLmt = p.IsSpendLimit;
                                                                if (p.PackageName.Contains("-"))
                                                                {
                                                                    string[] curPackage = p.PackageName.Trim().Split('-');
                                                                    string packageDisplay = curPackage[0].Trim();

                                                                    //Cut String "Mobile"
                                                                    string mobileString = "mobile";
                                                                    if (packageDisplay.ToLower().Contains(mobileString))
                                                                    {
                                                                        packageDisplay = packageDisplay.Substring(mobileString.Length + 1);
                                                        
                                                                                        <li style="margin:0;">
                                                                                            <a onclick="loadPlanOnChange('@currIndex','@(model.BrandArticle.ArticleID)','@(model.BrandArticle.ModelID)','@(p.KenanCode)','@(p.PackageCode)','@(p.PgmBdlPkgCompID)','@plan', '@p.Price', '@packageDisplay', '@isSpendLmt');return false"href="" style="padding-left:15px; padding-right:15px;">
                                                                                                @packageDisplay
                                                                                            </a>
                                                                                        </li>
                                                                    }
                                                                    else
                                                                    {
                                                                                        <li style="margin:0;">
                                                                                            <a onclick="loadPlanOnChange('@currIndex','@(model.BrandArticle.ArticleID)','@(model.BrandArticle.ModelID)','@(p.KenanCode)','@(p.PackageCode)','@(p.PgmBdlPkgCompID)','@plan', '@p.Price', '@packageDisplay', '@isSpendLmt');return false"href="" style="padding-left:15px; padding-right:15px;">
                                                                                                @packageDisplay
                                                                                            </a>
                                                                                        </li> 
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                                        <li style="margin:0;">
                                                                                            <a onclick="loadPlanOnChange('@currIndex','@(model.BrandArticle.ArticleID)','@(model.BrandArticle.ModelID)','@(p.KenanCode)','@(p.PackageCode)','@(p.PgmBdlPkgCompID)','@plan', '@p.Price', '@p.PackageName', '@isSpendLmt');return false"href="" style="padding-left:15px; padding-right:15px;">
                                                                                                @(p.PackageName)
                                                                                            </a>
                                                                                        </li> 
                                                                }
                                                            }       
                                                                                    }
                                                                                </ul>
                                                                            </span></span></span><span class="col-sm-12"><span class="notes">
                                                                                <p>
                                                                                    View details</p>
                                                                                <a href="#" onclick="return false" id="popup-ViewDetails">
                                                                                    <button data-target="#ViewPlanDetailsModal" data-toggle="modal" class="btn-info">
                                                                                        <span>i</span>
                                                                                    </button>
                                                                                </a></span></span><span class="col-sm-12">
                                                                                    <!-- contract length -->
                                                                                    <p>
                                                                                        Contract Length</p>
                                                                                    <span class="input-group drop-down">
                                                                                        <!-- dropdown select price -->
                                                                                        <span class="input-group-btn">
                                                                                            <button id="@btnContract" data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby filter-device" type="button">
                                                                                                <span id="@contract">Contract</span><span class="drop-arrow"></span></button>
                                                                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="@contractUL">
                                                                                            </ul>
                                                                                        </span></span></span></span></span>
                                                    </div>
                                                </div>
                                            </li>
                                    
                                            <!-- Modal Phone details-->
                                            <div class="modal fade" id="@phoneMore" tabindex="-1" role="dialog" aria-labelledby="phone-details" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">
                                                                <span class="close-btn">Close</span></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="col-sm-3 phone-only">
                                                                <img src="@Url.Content(model.BrandArticle.ImagePath)" style="height: 172px"/>
                                                            </div>
                                                            <div class="col-sm-9">
                                                                <div class="col-sm-12 border-bottom">
                                                                    <h4 class="modal-title" id="phone-details">@curDeviceName</h4>
                                                                </div>
                                                                <div class="col-sm-3 phone-name">
                                                                    @*<div class="col-sm-12">
                                                            <p>Available</p>
                                                        </div>*@
                                                                    <div class="col-sm-12">
                                                                        <p class="frm-price">
                                                                            From</p>
                                                                    </div>
                                                                    <div class="col-sm-12">
                                                                        <p class="startprice">
                                                                            RM @(lowestDeviceContractPrice.ContainsKey(model.BrandArticle.ModelID.ToString2()) ? lowestDeviceContractPrice[model.BrandArticle.ModelID.ToString2()].ToString2() : "N/A")</p>
                                                                    </div>
                                                                    <div class="col-sm-10">
                                                                        <p class="rrp">
                                                                            RRP RM @rrpPrice</p>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-9 phone-specs">
                                                                    <ul class="spec">
                                                                    @{
                                                            string finaldesc = "";
                                                            foreach (var m in Model.deviceDetails)
                                                            {
                                                                if (model.BrandArticle.ArticleID == m.deviceDetails.BrandArticle.ArticleID)
                                                                {
                                                                    string description = m.deviceDetails.BrandArticle.Description;
                                                                    Match match = Regex.Match(description, "<li>.*?.*</li>");
                                                                    finaldesc = match.Success ? match.Value : description;
                                                                    break;
                                                                }
                                                            }
                                                                    }
                                                                    @Html.Raw(finaldesc);
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    
                                            <!-- Modal plan details-->
                                            <div class="modal fade" id="@planMore" tabindex="-1" role="dialog" aria-labelledby="plan-details" aria-hidden="true">
                                                <div class="modal-dialog modal-sm">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">
                                                                <span class="close-btn">Close</span></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="col-sm-12">
                                                                <h4 class="modal-title" id="phone-details">
                                                                    MaxisONE<sup>TM</sup> Plan</h4>
                                                            </div>
                                                            <div class="col-sm-5">
                                                                <div class="col-sm-12 border-right border-bottom">
                                                                    <p class="label-data-pop">
                                                                        Call</p>
                                                                </div>
                                                                <div class="col-sm-12 border-right">
                                                                    <p class="label-data-pop">
                                                                        SMS</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-7">
                                                                <h3>
                                                                    Limitless</h3>
                                                                <p>
                                                                    to all networks</p>
                                                            </div>
                                                            <div class="col-sm-12 plain-line">
                                                            </div>
                                                            <div class="col-sm-5">
                                                                <div class="col-sm-12 border-right">
                                                                    <p class="label-data-pop">
                                                                        Data</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-7">
                                                                <h3>
                                                                    2GB</h3>
                                                            </div>
                                                            <div class="col-sm-12 plain-line">
                                                            </div>
                                                            <div class="col-sm-5">
                                                                <div class="col-sm-12 border-right">
                                                                    <p class="label-data-pop">
                                                                        Monthly</p>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-7">
                                                                <h3>
                                                                    RM128</h3>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                        }
                                    </ul>
                                }
                                    <!-- pop up details -->
                                </div>
                                <div class="col-sm-3" style="width:28%">
                                    @{
                                var orderVM = new OrderSummaryVM();

                                if ((OrderSummaryVM)Session["RegMobileReg_OrderSummary"] != null)
                                {
                                    orderVM = (OrderSummaryVM)Session["RegMobileReg_OrderSummary"];
                                }
                                var viewBagValue = new ViewDataDictionary();
                                viewBagValue.Add("FxInternalCheckMessage", ViewBag.FxInternalCheckMessage == null ? "" : ViewBag.FxInternalCheckMessage);
                                viewBagValue.Add("SearchBy", ViewBag.SearchBy == null ? "" : ViewBag.SearchBy);
                                viewBagValue.Add("SearchValue", ViewBag.SearchValue == null ? "" : ViewBag.SearchValue);
                                viewBagValue.Add("GSTMark", ViewBag.GSTMark);
                                Html.RenderPartial("_OrderSummaryNew", orderVM, viewBagValue);
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-6">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="suplimentary">
                            ...</div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="spendLimit-pop" tabindex="-1" role="dialog" aria-labelledby="plan-details" aria-hidden="true">
	            <div class="modal-dialog">
		            <div class="modal-content cancel-step">
			            <div class="modal-header">
				            <button type="button" class="close" data-dismiss="modal"><span class="close-btn">Close</span></button>
			            </div>
			            <div class="modal-body">
                            <div id="divSpendLimitError" class="ErrorClass">
                            </div>
				            <div class="sm-col-12">Spend Limit :</div>
                            <input type="text" id="txtSpendLimit" value='@Session["SpendLimit"].ToString2()' />
				            <ul class="sm-col-12 kill-padding">
					            <a href="#" class="pop-btn" id="btnSave" onclick="SaveSpendLimit();">
						            <li class="sm-col-6">
							            Save
						            </li>
					            </a>
				            </ul>
			            </div>
			            <div class="modal-footer">  </div>
		            </div>
	            </div>
            </div>
            <div class="row">
                <div class="col-sm-12 process-btn">
                <span hidden id="getColorId"></span>
                <span hidden id="getPelanId"></span>
                <span hidden id="getContractId"></span>
                <span hidden id="colorSelected"></span>
                <span hidden id="pelanSelected"></span>
                <span hidden id="contractSelected"></span>
                    <footer>
                                <navi>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-1">
                                            @if (dropObj.mainFlow.mobile == null)
                                            { 
                                                <div class="btn isell-btn" id="btnBackPage" onclick="goback();">< Back</div>}
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="btn isell-btn"  data-toggle="modal" data-target="#cancel-pop">< Cancel</div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="btn isell-next" id="btnNextPage">Next <span>></span></div>
                                            </div>
                                        </div>
                                    </navi>
                                </footer>
                </div>
            </div>
        </div>
    </div>
}
<div class="modal fade" id="ViewPlanDetailsModal" tabindex="-1" role="dialog" aria-labelledby="ViewPlanDetailsModal"
    aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span class="close-btn">Close</span></button>
            </div>
            <div class="modal-body planViewDetail">
                <div class="planViewDetail-list">
                    <table width="100%">
                        <tr>
                            <td>
                                <img alt="" id="imgPlanDetails" src="@Url.Content("~/Content/images/Plan/MobileReg_.gif")" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ViewDeviceDetails" tabindex="-1" role="dialog" aria-labelledby="ViewDeviceDetails"
    aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span class="close-btn">Close</span></button>
            </div>
            <div class="modal-body ViewDeviceDetails">
                <div class="ViewDeviceDetails-list" style="overflow: auto; -webkit-overflow-scrolling: touch;">
                    <div id="deviceIframe">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        function goback(value) {
          $("#btnBackPage").submit();  
        }

        $(document).ready(function () {
            $('#deviceTypeSelected').val(1); // start with SmartPhone
            // check all stock filter
//            $('#type-stock-1').attr('checked', true);
//            $('#type-stock-2').attr('checked', true);
//            $('#type-stock-3').attr('checked', true);
//            $('#type-stock-4').attr('checked', false);
            // disabled all contact button at first.
            $('button[id^="btnContract"]').attr('disabled', true)
            //populateCheckbox();
            ClearPrice();

            $('.btn-info-device-detail').click(function (e) {
                e.preventDefault();
                $('#deviceIframe').html('<iframe src="' + $(this).data('url') + ' "width="100%" height="567"></iframe>');
            });

            if('@errorMsg'!='')
             {
                $('#Plan_Error').html('@errorMsg');
             }
             //21052015 - Use cookie to retain stock checkbox after refresh page - Lus
            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1);
                    if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
                }
                return "";
            }
            //debugger;
            var stock1 = getCookie("availablestock");
            document.cookie = "availablestock=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
            var stock2 = getCookie("sellingfaststock");
            document.cookie = "sellingfaststock=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
            var stock3 = getCookie("limitedstock");
            document.cookie = "limitedstock=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
            var stock4 = getCookie("outofstock");
            document.cookie = "outofstock=; expires=Thu, 01 Jan 1970 00:00:00 UTC";

            if (stock1 != null && stock1 != "") {
                if (stock1 == "false") {
                    $('#type-stock-1').removeAttr('checked');
                }
                else {
                    $('#type-stock-1').prop('checked', true);
                }
            }
            else {
                $('#type-stock-1').prop('checked', true);
            }

            if (stock2 != null && stock2 != "") {
                if (stock2 == "false") {
                    $('#type-stock-2').removeAttr('checked');
                }
                else {
                    $('#type-stock-2').prop('checked', true);
                }
            }
            else {
                $('#type-stock-2').prop('checked', true);
            }

            if (stock3 != null && stock3 != "") {
                if (stock3 == "false") {
                    $('#type-stock-3').removeAttr('checked');
                }
                else {
                    $('#type-stock-3').prop('checked', true);
                }
            }
            else {
                $('#type-stock-3').prop('checked', true);
            }
            //            debugger;
            if (stock4 != null && stock4 != "") {
                if (stock4 == "false") {
                    $('#type-stock-4').removeAttr('checked');
                }
                else {
                    $('#type-stock-4').prop('checked', true);
                }
            }
            else {
                $('#type-stock-4').removeAttr('checked');
            }

            if ('@inputBrandSelected' != '0') {
                $('#selectModelDDL').removeClass().addClass('drop-arrow');
                $('#btnModel').removeClass('disable-select');
                getModelName('@inputBrandSelected');
            }

            retainFilterValue();

        });

        $('#ViewPlanDetailsModal').on('show.bs.modal', function (e) {
            if (btnPlanDetails == "") return e.preventDefault() // stops modal from being shown if no plan selected
        })

        var checkboxes = $("input[type='checkbox']");
        checkboxes.click(function () {
            var showOutOfStock = $('#type-stock-4').is(":checked");
            var showAvailable = $('#type-stock-1').is(":checked");
            var showLimitedStock = $('#type-stock-3').is(":checked");
            var showSellingFast = $('#type-stock-2').is(":checked");

            if (!checkboxes.is(":checked")) {
                alert("Please select at least 1 filter");
                return false;
            }
        });

        $('#btnNextPage').click(function () {
            if (checkSelection()) {
                $('#submitType').val('');
                $('#frmSelectDevicePlan').submit();
            } else {
                alert("Please check your selection")
            }
        });

        function checkSelection() {
            if ($('#selectedContractLength').val() != '' && $('#selectedArticleID').val() != '') {
                return true;
            }
            return false;
        }

        $('#btnFilter').click(function () {
            // need mandatory checking ?
            // var brand = $('#brandFilter').val();
            // var model = $('#modelFilter').val();
            // check all stock filter
            populateCheckbox();

            $('#submitType').val('filter');
            $('#frmSelectDevicePlan').submit();
        });

        function retainFilterValue() {
            //        debugger;
            var modelTrimmed = $.trim('@inputModelSelected');
            SetFilterCriteria('btnBrandSelected', $.trim('@inputBrandSelected'));
            SetFilterCriteria('btnModelSelected', modelTrimmed);
            SetFilterCriteria('all-capacity', $.trim('@inputCapacitySelected'));
            SetFilterCriteria('lowest-price', $.trim('@priceRangeValue'));

            // 1 phone, 2 tablet
            if ('@inputDeviceTypeSelected' == '2') {
                SetDeviceType('@inputDeviceTypeSelected');
                $('#the-tablet').click();
            }
            if ('@inputDeviceTypeSelected' == '1') {
                SetDeviceType('@inputDeviceTypeSelected');
                $('#the-phone').click();
            }

        }

        function checkMandatoryBrandModel(brand, model) {
            if (brand == "" || model == "") {
                alert('Check Brand & Model');
                return false;
            }
            return true;
        }
        function populateCheckbox() {
            $('#outOfStockChecked').val($('#type-stock-4').is(":checked"));
            $('#availableChecked').val($('#type-stock-1').is(":checked"));
            $('#limitedStockChecked').val($('#type-stock-3').is(":checked"));
            $('#sellingFastChecked').val($('#type-stock-2').is(":checked"));

            document.cookie = "outofstock" + "=" + $('#type-stock-4').is(":checked");
            document.cookie = "availablestock" + "=" + $('#type-stock-1').is(":checked");
            document.cookie = "limitedstock" + "=" + $('#type-stock-3').is(":checked");
            document.cookie = "sellingfaststock" + "=" + $('#type-stock-2').is(":checked");
        }

        function getModelName(selectedValue) {
            var deviceTypeID = $('#deviceTypeSelected').val();
            if (selectedValue != 0) {
                $.ajax({
                    url: '@Url.Action("GetModelFromBrand", "Registration")',
                    type: 'POST',
                    data: { "brandSelected": selectedValue, "deviceTypeID": deviceTypeID },
                    dataType: 'json',
                    success: function (response) {
                        var items = "";
                        $('#modelUL').html('');
                        $('#modelFilter').val('');
                        $.each(response.ModelList, function (i, item) {
                            $('#modelUL').append('<li><a href="" onclick="SetDropdown(\'btnModelSelected\',\'' + item.modelID + '\',\'' + item.modelName + '\');return false">' + item.modelName + '</a></li>');
                        });
                    },
                    error: function (error) {
                    }
                });
            }
        }

        function loadPlanOnChange(currentIndex, articleID, modelID, kenanCode, packageCode, pgmBdlPkgCompID, idPlan, price, packageDisplay, spendLimit) {
            $.ajax({
                url: '@Url.Action("GetContractbyPlan", "SuppLine")',
                type: 'POST',
                data: { articleID: articleID, modelID: modelID, kenanCode: kenanCode, packageCode: packageCode, pgmBdlPkgCompID: pgmBdlPkgCompID, packageName: packageDisplay },
                dataType: 'json',
                success: function (response) {
                    var items = "";
                    $('#contractUL' + currentIndex).html('');
                    $.each(response.ContractList, function (i, item) {
                        $('#contractUL' + currentIndex).append('<li><a href="" onclick="SetContract(\'contract\',\'' + item + '\',\'' + item + ' Months' + '\',\'contract' + currentIndex + '\');return false">' + item + ' Months' + '</a></li>');
                    });
                    btnPlanDetails = "btnPlnDetails_" + packageCode;
                    // reset contract
                    $('#contract' + currentIndex).html('Contract');
                    setSummaryDevicePrice($('#deviceRRP').val());
                    SetDropdown(idPlan, price, packageDisplay);
                    setSummaryPlanPrice(response.PlanPrice);
                    $('#summaryPlan').html(packageDisplay);
                    $('#summaryPlan').val(packageDisplay);
                    $('#selectedModelID').val(modelID);
                    $('#selectedKenanCode').val(kenanCode);
                    $('#selectedPackageCode').val(packageCode);
                    $('#PackageVM_SelectedPgmBdlPkgCompID').val(pgmBdlPkgCompID);
                    $('#selectedPackageName').val(packageDisplay);
                    var btnContract = "btnContract" + currentIndex;
                    detailsPlans_OnClick(btnPlanDetails);
                    $('#selectedContractLength').val('');
                    $('#' + btnContract).attr('disabled', false);
                    if (spendLimit == "True") {
                        $('#spendLimit-pop').modal('show');
                    }
                    else {
                        $('#hdnSpendLimit').val('');
                    }
                },
                error: function (error) {
                    debugger;
                }
            });
            //for selection display
            $('#getPelanId').html(idPlan);
            $('#pelanSelected').html(packageDisplay);
        }

        function GetPriceFromContract(articleID, modelID, kenanCode, packageCode, pgmBdlPkgCompID, packageDisplay, contractLength) {
            $.ajax({
                url: '@Url.Action("GetPriceFromContract", "Registration")',
                type: 'POST',
                data: { articleID: articleID, modelID: modelID, kenanCode: kenanCode, packageCode: packageCode, pgmBdlPkgCompID: pgmBdlPkgCompID, packageName: packageDisplay, contractLength: contractLength },
                dataType: 'json',
                success: function (response) {
                    setSummaryDevicePrice(response.DevicePrice);
                    $('#summaryPlanAdvancePrice').val();
                    $('#summaryDepositPrice').val();
                    $('#summaryDeviceAdvancePrice').val();
                    $('#selectedContractLength').val(contractLength);
                    CalculatePrice();
                },
                error: function (error) {
                    debugger;
                }
            });
        }

        function detailsPlans_OnClick(btnPlanDetails) {
            console.log(btnPlanDetails);
            var code = btnPlanDetails.substring(14);
            var src = $('#imgPlanDetails').attr("src");
            var indexFrom = src.indexOf("MobileReg_") + 10;
            var indexTo = src.indexOf(".gif");
            var oldCode = src.substring(indexFrom, indexTo);
            src = src.replace(oldCode, "");
            src = src.replace("MobileReg_", "MobileReg_" + code);
            $('#imgPlanDetails').attr("src", src);
        }

        function SetMenuOption(navUrl, objCurParentMenu) {
            //Post the menu id
            var postUrl = '@(Url.Content("~/Home/SaveMenuOption"))';
            $.post(postUrl, { curMenu: objCurParentMenu }, function (data) {
                if (data.isMenuSuccess) {
                    window.location = navUrl;
                }
                // window.location = navUrl;
            });

        }
        function SetDropdown(dropDownID, value, displayText) {
            if (dropDownID.indexOf("plan") > -1) {
                $('#' + dropDownID).html("<marquee scrolldelay='125' style='height:auto;padding-top:4px;'>" + displayText + "</marquee>");
            }
            else {
                $('#' + dropDownID).html(displayText);
            }
            $('#' + dropDownID).val(value);
            if (dropDownID == "btnBrandSelected") {
                getModelName(value);
                $('#btnModelSelected').html('Select a model');
                $('#btnModelSelected').val('');
            }
            SetSummary(dropDownID, value, displayText);
            SetFilterCriteria(dropDownID, value);
            
            if (dropDownID == "btnBrandSelected") {
                if (value != '') {
                    $('#dropdownmodel').removeClass().addClass('drop-arrow');
                    $('#selectModelButton').removeAttr('disabled');
                }
                else {
                    $('#dropdownmodel').removeClass().addClass('drop-arrow-disable');
                    $('#selectModelButton').attr('disabled', true);
                    //$('#modelUL').html('');
                }
            }
            return false;
        }

        function SetFilterCriteria(type, value) {
            if ("btnBrandSelected" == type) {
                $('#brandFilter').val(value);
            }
            if ("btnModelSelected" == type) {
                $('#modelFilter').val(value);
            }
            if ("all-capacity" == type) {
                $('#capacityFilter').val(value);
            }
            if ("lowest-price" == type) {
                $('#priceFilter').val(value);
            }
            return false;
        }
        //SetContract('contract','12','12 Months','contractUL2');return false
        function SetContract(dropDownID, value, displayText, dropDownIDUL) {
            $('#' + dropDownIDUL).html(displayText);
            $('#' + dropDownIDUL).val(value);
            // get pricing here
            var articleID = $('#selectedArticleID').val();
            var modelID = $('#selectedModelID').val();
            var kenanCode = $('#selectedKenanCode').val();
            var packageCode = $('#selectedPackageCode').val();
            var pgmBdlPkgCompID = $('#PackageVM_SelectedPgmBdlPkgCompID').val();
            var packageDisplay = $('#selectedPackageName').val();
            var contractLength = value;
            //for selection display
            $('#getContractId').html(dropDownIDUL);
            $('#contractSelected').html(displayText);
            // do ajax call to get price
            GetPriceFromContract(articleID, modelID, kenanCode, packageCode, pgmBdlPkgCompID, packageDisplay, contractLength);

            //20151020 - Samuel Bug 1319 (Error while selecting colour)
            $('#selectedContractLength').val(contractLength);

            return false;
        }

        function SetDropdownAndDevice(dropDownColorID, articleID, colorDisplayText, modelID, deviceDisplayText, rrpPrice, modelImageID) {
            $('#' + dropDownColorID).html(colorDisplayText);
            $('#' + dropDownColorID).val(articleID);
            $('#summaryDevice').html(deviceDisplayText);
            $('#summaryDevice').val(modelID);
            SetSummary('color', articleID, colorDisplayText);
            // for pricing
            $('#selectedModelID').val(modelID);
            $('#selectedArticleID').val(articleID);
            setSummaryDevicePrice(rrpPrice);
            $('#deviceRRP').val(rrpPrice);
            $('#PhoneVM_SelectedModelImageID').val(modelImageID);
            //for selection display
            $('#colorSelected').html(colorDisplayText);
            $('#getColorId').html(dropDownColorID);
            updateDeviceOrderSummary(colorDisplayText, deviceDisplayText, rrpPrice);
            CalculatePrice();
            return false;
        }

        function SetDevice(deviceName, modelID) {
            $('#summaryDevice').html(deviceName);
            $('#summaryDevice').value(modelID);
            return false;
        }

        function SetSummary(dropDownID, value, displayText) {
            if (dropDownID == 'plan') {
                $('#summaryPlan').html(displayText);
                setSummaryPlanPrice(value);
            }
            if (dropDownID == 'color') {
                $('#summaryColor').html(displayText);
                $('#summaryColor').val(value);
            }
            return false;
        }

        function SetDeviceType(deviceType) {
            // smartphone = 1 ; tablet = 2
            $('#deviceTypeSelected').val(deviceType);
            return false;
        }

        function CalculatePrice() {
            var devicePrice = Number($('#summaryDevicePrice').val());
            var planPrice = Number($('#summaryPlanPrice').val());
            var planAdvancePrice = Number($('#summaryPlanAdvancePrice').val());
            var deposit = Number($('#summaryDepositPrice').val());
            var deviceAdvance = Number($('#summaryDeviceAdvancePrice').val());

            // exclude plan price, because plan price is recurring
            var subTotal = Number(devicePrice + planAdvancePrice + deposit + deviceAdvance);
            $('#summarySubTotalPrice').html('RM' + subTotal);
            $('#summarySubTotalPrice').val(subTotal);
            var total = Number(subTotal);
            $('#summaryGrandTotalPrice').html('RM' + total);
            $('#summaryGrandTotalPrice').val(total);

        }

        function setSummaryDevicePrice(value) {
            $('#summaryDevicePrice').val(value);
            $('#summaryDevicePrice').html('RM ' + value);
            $('#deviceOfferPrice').val(value);
            CalculatePrice();
        }
        function setSummaryPlanPrice(value) {
            $('#summaryPlanPrice').val(value);
            $('#summaryPlanPrice').html('RM ' + value);
            CalculatePrice();
        }
        function setSummaryPlanAdvancePrice(value) {
            $('#summaryPlanAdvancePrice').val(value);
            $('#summaryPlanAdvancePrice').html('RM ' + value);
            CalculatePrice();
        }
        function setSummaryRegistrationPrice(value) {
            $('#summaryRegistrationPrice').val(value);
            $('#summaryRegistrationPrice').html('RM ' + value);
            CalculatePrice();
        }
        function setSummaryDepositPrice(value) {
            $('#summaryDepositPrice').val(value);
            $('#summaryDepositPrice').html('RM ' + value);
            CalculatePrice();
        }
        function setSummaryDeviceAdvancePrice(value) {
            $('#summaryDeviceAdvancePrice').val(value);
            $('#summaryDeviceAdvancePrice').html('RM ' + value);
            CalculatePrice();
        }

        function ClearPrice() {
            $('#summaryDevicePrice').val('');
            $('#summaryDevicePrice').html('');
            $('#summaryPlanPrice').val('');
            $('#summaryPlanPrice').html('');
            $('#summaryPlanAdvancePrice').val('');
            $('#summaryPlanAdvancePrice').html('-');
            $('#summaryDepositPrice').val('');
            $('#summaryDepositPrice').html('-');
            $('#summaryDeviceAdvancePrice').val('');
            $('#summaryDeviceAdvancePrice').html('-');
            $('#summarySubTotalPrice').val('0');
            $('#summarySubTotalPrice').html('RM' + '0');
            $('#summaryGrandTotalPrice').val('0');
            $('#summaryGrandTotalPrice').html('RM' + '0');
        }


        $('#btnBrandSelected').change(function () {
            if ($('#btnBrandSelected').val() == '' || $('#btnBrandSelected').html() == 'Select a brand') {
                $('#btnModelSelected').html('Select a model');
                $('#btnModelSelected').val('');
                $('#modelUL').html('');
                $('#modelUL').val('');
            }
        });

        function SaveSpendLimit() {
        
            var spendLimitVal = $('#txtSpendLimit').val();
            if (spendLimitVal == "") {
                if (confirm("Are you sure you want to proceed with Default Spend Limit!?") == true) {
                     var limitVal = @WebHelper.MinSpendLimit;
                   SendSpendLimit(limitVal);
                }
                else {
                    //alert("Please Enter Spend Limit");
                    $('#divSpendLimitError').show();
                    $('#divSpendLimitError').html("Please Enter Spend Limit");
                    $('#txtSpendLimit').focus();
                }
            }
            else if (spendLimitVal != "") {

                if (/^\d+(\.\d{1,2})?$/.test(spendLimitVal)) {
                    var SpendLower = '@(minSpendLimit)';
                    var SpendUpper = '@(maxSpendLimit)';
                    if (parseInt(spendLimitVal) < parseInt(SpendLower) || parseInt(spendLimitVal) > parseInt(SpendUpper)) {
                        //alert("Please Enter Valid Spend Limit");
                        $('#divSpendLimitError').show();
                        $('#divSpendLimitError').html("Please Enter Valid Spend Limit");
                        $('#txtSpendLimit').val('');
                        $('#txtSpendLimit').focus();
                    }
                    else {
                        SendSpendLimit(spendLimitVal);
                    }
                }
                else {
                    //alert("Please Enter Valid Spend Limit");
                    $('#dvSimSerial_Error').show();
                    $('#dvSimSerial_Error').html("Please Enter Valid Spend Limit");
                    $('#txtSpendLimit').val('');
                    $('#txtSpendLimit').focus();
                }
            }
            else {
                SendSpendLimit(spendLimitVal);
            }
        }
        
        function SendSpendLimit(spendLimitVal) {
        
            $('#hdnSpendLimit').val(spendLimitVal);
            $('#submit1').val('Next');
//            $('#spendLimitWindow').data('tWindow').close();
            $('#spendLimit-pop').modal('hide');;
            //document.forms["frmSuppLinePlan"].submit();
//            $("#frmSuppLinePlan").submit();
        } 
                    

    </script>
}
