﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.ViewModels
@using SNT.Utility;
@{
    ViewBag.Title = "Select Preferred Device";
    Session["GuidedSales_Type"] = "";
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var vasPrimary = Session["SimType"].ToString2() == "MISM" ? "Value Added Services-Primary" : "Value Added Services";
    var vasSecondary = Session["SimType"].ToString2() == "MISM" ? "Value Added Services-Secondary" : "Value Added Services";
}
@model Online.Registration.Web.ViewModels.DeviceOptionVM
           
<!-- Centre column area -->
<div id="center">
@using (Html.BeginForm("SelectDevice", "SuppLine", FormMethod.Post, new { id = "frmSelectDevice", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    @Html.HiddenFor(a => a.TabNumber)
            @Html.HiddenFor(a => a.SelectedDeviceOption)
     <div class="header-title">
            Devices + Plan</div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        <li style="display: table-cell; float: none;" class="selected">Device</li>
                        <li style="display: table-cell; float: none;">Plan</li>
                        <li style="display: table-cell; float: none;">Contract/VAS</li>
                        <li style="display: table-cell; float: none;">Number</li>
                        <li style="display: table-cell; float: none;">Customer</li>
                        <li style="display: table-cell; float: none;">Summary</li>
                    </ul>
                </div>
            </div>
            <div class="content_white" style="padding-left:35px;padding-bottom:5px;" >
            @Html.ValidationSummary(false)
                <div id="Plan_Error" class="ErrorClass">
                </div>
            </div>
            <div class="content" style="border-top: 1px solid #cccccc; padding: 30px;">
                @if (Model != null)
                {
                    foreach (var brand in Model.AvailableBrands)
                    {
                        if (brand.Code != "APL")
                        {

                            var btnDvcOptID = "btnDvcOpt_" + (int)MobileRegDeviceOption.Brand + "_" + brand.ID;
                    <div class="device-wrap">
                        <div class="device-content" id='@btnDvcOptID' onclick="SelectBrand(this,'@btnDvcOptID');">
                            <img alt='@brand.Name' src="@Url.Content(brand.ImagePath)" />
                        </div>
                    </div>
                        }
                    }

                }
                <div style="clear: both;">
                </div>
            </div>
            <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
                <div style="float: right; padding-right: 20px;">
                 
                     <input class="cancel  backButton" type="submit" value="<" onclick="$('#submit1').val('Back');" />
                       
                    <input class="submitButton" type="submit" value="Continue" disableValidation="true" onclick="$('#TabNumber').val(1);" />
                   
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
      @Html.Partial("_footer")
    
}
</div>

<div id="right">
            @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
        </div>
        @{
   
     
     Html.Telerik().Window()
        .Name("ContractCheckWindow")
        .Title("Contract Check Info")
        .Width(350)
        .Height(100)
        .ClientEvents(events => events.OnActivate("ContractWindow_popup"))
        .Content(@<text>
        <br />
    @Online.Registration.Web.Properties.Settings.Default.ToolTipHelpMessage.ToString2()
    </text>)
        .Modal(true)
        .Visible(false)
        .Render();
        
  
}
@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            //Highlight selected plan
            $('#Plan_Error').hide();
            var btnDvcOptID = $('#SelectedDeviceOption').val();
            if (btnDvcOptID != '') {
                $('#' + btnDvcOptID).css("border-style", "solid");
            }

             if (@(Session["AccountswithContractCount"].ToInt()) >= 2 && @(Session["AccountswithContractCount"].ToInt()) <= 4) {
              if (@(Convert.ToInt16(Session["DeviceSelected"])) == 0){
                    $('#ContractCheckWindow').data('tWindow').center().open();
             }
           
            }
        });

        function SelectedDvcOpt(btnDvcOptID) {
            $('#SelectedDeviceOption').val(btnDvcOptID);
            $('button[id^="btnDvcOpt_"]').css("border-style", "none");
            $('#' + btnDvcOptID).css("border-style", "solid");
        }

        function SubmitForm(sequenceNo) {

            $('#submit1').val(sequenceNo);
            //document.forms['frmSelectDevice'].submit();
            $("#frmSelectDevice").submit();

        }
        function SelectBrand(target3, btnDvcOptID) {
            jQuery(".device-content").removeClass('focus');
            jQuery(target3).addClass('focus');
            $('#SelectedDeviceOption').val(btnDvcOptID);
        }
        function ContractWindow_popup(){
        $('#ContractCheckWindow').data('t-window').center();        
    }
    </script>
}
@section Styles{
    <style type="text/css">
        .deviceContent
        {
            border-radius: 10px;
            float:left;
            width:150px;
            background-image:url(@(Url.Content("~/Content/images/PlanHeader.png"))); 
            background-repeat:no-repeat;
            box-shadow: 10px 10px 5px #888888;    
        }
        .deviceContent .header
        {
            color:White;
            font-size:large;
            font-weight:bold;
        }
        
        .btnOption
        {
            border-radius: 3px;
            white-space:normal;
            border-color:#00FF40;
            cursor:pointer;
            border-style:none;
            border-width:3px;
            background-image:url(@(Url.Content("~/Content/images/greybg.gif")));
            background-repeat:no-repeat;
            background-position: left bottom; 
            background-color:#fff;
        }
        .btnOption:hover
        {
            background-image:url(@(Url.Content("~/Content/images/greybg3_hover.gif")));
            background-repeat: x;
            background-position: left bottom; 
            background-color:#ededed;
        }
    </style>
}
