﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.PackageVM
@{
    ViewBag.Title = "Select a Maxis Plan";
    var sessionRegType = Session["Reg_Type"].ToInt();
}

@using (Html.BeginForm("SelectPlan", "SuppLine", FormMethod.Post, new { id = "frmSelectPlan", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    <div class="vwHeader">
        <table width="100%">
            <tr>
                <td style="width:580px">
                    <div>@ViewBag.Title</div>
                    <div class="vwSubHeader">
                        <label style="font-weight:bold;font-size:12px;">
                        @ViewBag.Title</label> > Select a Contract and Optional VAS > Select Mobile Number > Customer Details > Customer Order Summary 
                    </div>
                </td>
                <td align="right">
                    <button class="button-continue" type="button" value="Next" onclick="checkForm()"></button>
                </td>
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
        <div style="float: left;">
            <div style="font-size:x-large;padding:10px 0px 10px 0px;">Step 1: @ViewBag.Title</div>
            <div id="Plan_Error" style="color:Red;font-weight:bold;font-size:16px;font-style:italic"></div>
            <table width="500px">
                <tr>
                    <td style="padding-right:30px" valign="middle">
                        <table>
                            <tr>
                                <td>
                                    <input type="hidden" name="TabNumber" id="TabNumber" value='@Session["TabNumber"].ToString2()' />
                                    <input type="hidden" name="TabValue" id="TabValue" value='@Session["TabValue"].ToString2()' />
                                    <input type="hidden" name="Bundle" id="Bundle" value="" />
                                    <input type="hidden" name="Page" id="Page" value="" />
                                    <label style=" font-size:large;font-weight:bold;">POSTPAID: Value Plans </label>
                                    <a href="#" id="next_0" class="ui-carousel-next"><span></span></a>
                                    <div id="container_0" class="container">
                                        <div id="carousel_0" class="carousel">
                                            <div>
                                                <div style="float:left">
                                                    <button id="btnPlan_0" class="cancel btnPlanSelection iValue" style="width:420px;height:55px; padding:0" type="button" onclick="SelectedPlan(0);" >
                                                        Mobile Employee Supp Line with No Monthly Commitment - 01 Mandatory Packlage
                                                    </button>
                                                </div>
                                                <div style="float:right">
                                                    <button id="btnPlnDetails_0" style="width:30px;height:55px;" type="button" onclick="detailsPlans_OnClick('btnPlnDetails_0')"
                                                        class="button-plan-details">
                                                    </button>
                                                </div>
                                            </div>
                                            <div>
                                                <div style="float:left">
                                                    <button id="btnPlan_1" class="cancel btnPlanSelection iValue" style="width:420px;height:55px; padding:0" type="button" onclick="SelectedPlan(1);" >
                                                        Mobile New  Standard Plan - 09 Supplementary Mandatory Package
                                                    </button>
                                                </div>
                                                <div style="float:right">
                                                    <button id="btnPlnDetails_1" style="width:30px;height:55px;" type="button" onclick="detailsPlans_OnClick('btnPlnDetails_1')"
                                                        class="button-plan-details">
                                                    </button>
                                                </div>
                                            </div>
                                            <div>
                                                <div style="float:left">
                                                    <button id="btnPlan_2" class="cancel btnPlanSelection iValue" style="width:420px;height:55px; padding:0" type="button" onclick="SelectedPlan(2);" >
                                                        Mobile New Standard Plan - 10 Employee Supplementary Mandatory Package
                                                    </button>
                                                </div>
                                                <div style="float:right">
                                                    <button id="btnPlnDetails_2" style="width:30px;height:55px;" type="button" onclick="detailsPlans_OnClick('btnPlnDetails_2')"
                                                        class="button-plan-details">
                                                    </button>
                                                </div>
                                            </div>
                                            <div>
                                                <div style="float:left">
                                                    <button id="btnPlan_3" class="cancel btnPlanSelection iValue" style="width:420px;height:55px; padding:0" type="button" onclick="SelectedPlan(3);" >
                                                        Mobile New Value Plus Family Supp 30 (VP150) - 01 Mandatory Package
                                                    </button>
                                                </div>
                                                <div style="float:right">
                                                    <button id="btnPlnDetails_3" style="width:30px;height:55px;" type="button" onclick="detailsPlans_OnClick('btnPlnDetails_3')"
                                                        class="button-plan-details">
                                                    </button>
                                                </div>
                                            </div>
                                            <div>
                                                <div style="float:left">
                                                    <button id="btnPlan_4" class="cancel btnPlanSelection iValue" style="width:420px;height:55px; padding:0" type="button" onclick="SelectedPlan(4);" >
                                                        Mobile New Value Plus Family Supp 30 (VP250/500) - 01 Mandatory Package
                                                    </button>
                                                </div>
                                                <div style="float:right">
                                                    <button id="btnPlnDetails_4" style="width:30px;height:55px;" type="button" onclick="detailsPlans_OnClick('btnPlnDetails_4')"
                                                        class="button-plan-details">
                                                    </button>
                                                </div>
                                            </div>
                                            <div>
                                                <div style="float:left">
                                                    <button id="btnPlan_5" class="cancel btnPlanSelection iValue" style="width:420px;height:55px; padding:0" type="button" onclick="SelectedPlan(5);" >
                                                        Mobile New Value Plus Family Supp 30 (VP80) - 01 Mandatory Package
                                                    </button>
                                                </div>
                                                <div style="float:right">
                                                    <button id="btnPlnDetails_5" style="width:30px;height:55px;" type="button" onclick="detailsPlans_OnClick('btnPlnDetails_5')"
                                                        class="button-plan-details">
                                                    </button>
                                                </div>
                                            </div>
                                            <div>
                                                <div style="float:left">
                                                    <button id="btnPlan_6" class="cancel btnPlanSelection iValue" style="width:420px;height:55px; padding:0" type="button" onclick="SelectedPlan(6);" >
                                                        Mobile Supp Line (Family Plus) 30 (VP80) - 01 Mandatory Package
                                                    </button>
                                                </div>
                                                <div style="float:right">
                                                    <button id="btnPlnDetails_6" style="width:30px;height:55px;" type="button" onclick="detailsPlans_OnClick('btnPlnDetails_6')"
                                                        class="button-plan-details">
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" id="prev_0" class="ui-carousel-prev"><span></span></a>
                                    <br /><br />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div style="float: right;">
            @if (Session["TabNumber"].ToString2() != "")
            {
                @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
            }
        </div>
    </div>
}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var total = 7;

            for (var i = 0; i < total; i++) {

                $('#carousel_' + i).rcarousel({
                    orientation: "vertical", step: 3, speed: 200, visible: 4, width: 450, height: 55,
                    navigation: { prev: "#next_" + i, next: "#prev_" + i }
                });
            }

            $(".ui-carousel-next")
			    .add(".ui-carousel-prev")
			    .hover(
				    function () {
				        $(this).css("opacity", 0.7);
				    },
				    function () {
				        $(this).css("opacity", 1.0);
				    }
			    );

            var planID = $('#TabNumber').val();
            $('#' + planID).css({ "border": "2px solid #14F24D" });

            $('#menuAddService').css("background-image", $('#menuAddService').css("background-image").replace(".png", "_hover.png"));
        });

        function checkForm() {
            var TabNumber = $('#TabNumber').val();
            var TabValue = $('#TabValue').val();
            var Bundle = $('#Bundle').val();

            if (TabNumber == '' || TabValue == '') {
                $('#Plan_Error').html("Please select a Plan.");
                return false;
            }

            $('#Page').val("SelectVAS");

            var Page = $('#Page').val();
            var url = '@(Url.Content("~/SuppLine/SelectPlan"))';
            $.post(url, { TabNumber: TabNumber, TabValue: TabValue, Page: Page, Bundle: Bundle }, function (data) {
                window.location.href = '@(Url.Content("~/SuppLine/SelectVAS"))';
            });
        }

        function SelectedPlan(planID) {
            $('button[id^="btnPlan_"]').css("border-style", "none");
            $('#btnPlan_' + planID).css({ "border": "2px solid #14F24D" });

            $('#TabNumber').val("btnPlan_" + planID);
            $('#TabValue').val($.trim($('#btnPlan_' + planID).text()));

            $('#Bundle').val('Value Plans');
        } 
    </script>
}