﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Models;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.MobileNoVM
@{
    ViewBag.Title = "Select a Preferred Number";
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    /*For checking the MSISDN whether valid or not valid by chetan*/
    var invchk = !ReferenceEquals(Request.QueryString["invchk"], null) ? Request.QueryString["invchk"] : "True";

    var extraTenCount = 0;
    var listPrevExtraTenMSISDNs = Session["ExtratenMobilenumbers"].ToString2();

    int minSpendLimit = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["MinSpendLimit"]);
    int maxSpendLimit = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["MaxSpendLimit"]);

    //Primary Supplementary Line Changes
    //List of Suppline attached to primary line changes
    SelectPlanForSuppline selectPlanForSuppline = null;
    List<SupplinePlanStorage> supplinePlanStorageList;
    SupplinePlanStorage supplinePlanStorage = null;
    string ProcessingMsisdn = string.Empty;
    Boolean primarySupplimentLines = (Session["IsSupplementaryRequired"] == null) ? false : Convert.ToBoolean(Session["IsSupplementaryRequired"]);

    if (primarySupplimentLines)
    {
        supplinePlanStorageList = (Session["supplinePlanStorageList"] != null) ? ((List<SupplinePlanStorage>)Session["supplinePlanStorageList"]) : null;

        if (!ReferenceEquals(Session["PrimarySupplimentaryLines"], null))
        {
            ///GET ALL SUPPLEMENTARY LINES STORED IN SESSION 
            selectPlanForSuppline = (SelectPlanForSuppline)Session["PrimarySupplimentaryLines"];
            ///CHECK IF THERE ARE ANY, IN PROCESS MSISDN'S
            if (selectPlanForSuppline.PrimarySupplimentaryMSISDNs.Where(i => i.Status == PrimarySupplimentaryDetailsAddState.PROCESSING.ToInt()).ToList().Count > 0)
            {
                ProcessingMsisdn = selectPlanForSuppline.PrimarySupplimentaryMSISDNs.Where(i => i.Status == PrimarySupplimentaryDetailsAddState.PROCESSING.ToInt()).ToList().FirstOrDefault().ProcessingId;
                ///GET THE SUPPLEMENTARY OBJECT CORRESPONDING TO ProcessingMsisdn
                supplinePlanStorage = (supplinePlanStorageList.Where(i => i.RegMobileReg_ProcessingId.Equals(ProcessingMsisdn)).ToList().FirstOrDefault());
            }
        }
    }
    string selectedMSISDN = Session["ExternalID"].ToString2();
}
<div id="center">
    @using (Html.BeginForm("SelectMobileNo", "SuppLine", FormMethod.Post, new { id = "frmSelectMobileNo", @class = "overlayonsubmit", processmsg = "Loading" }))
    { 
        <input type="hidden" id="hdnExtraTenCount" value="10" />
        <input type="hidden" name="hdnNumberType" id="hdnNumberType" value="n" />
        @Html.HiddenFor(a => a.TabNumber)
        @Html.Hidden("submit1")
        @Html.HiddenFor(a => a.ExtraTenMobileNumbers)
        <div class="header-title">
            Supplementary Plan 
        </div>
        <div class="center_box">
            <div id="" class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    @if (sessionRegType == (int)MobileRegType.DevicePlan)
                    { 
                        <ul id="table">
                            <li style="display: table-cell; float: none;">Device </li>
                            <li style="display: table-cell; float: none;">Plan </li>
                            <li class="preselected" style="display: table-cell; float: none;">Contract/VAS </li>
                            <li class="selected" style="display: table-cell; float: none;">Number</li>
                            <li style="display: table-cell; float: none;">Customer </li>
                            <li style="display: table-cell; float: none;">Summary </li>
                        </ul>
                    }
                    else if(primarySupplimentLines)
                    {
                        <ul id="table">
                            <li style="display: table-cell; float: none;">Plan </li>
                            <li class="preselected" style="display: table-cell; float: none;">Contract/VAS </li>
                            <li class="selected" style="display: table-cell; float: none;">Number</li>
                        </ul>
                    }
                    else
                    {
                        <ul id="table">
                            <li style="display: table-cell; float: none;">Plan </li>
                            <li class="preselected" style="display: table-cell; float: none;">Contract/VAS </li>
                            <li class="selected" style="display: table-cell; float: none;">Number</li>
                            <li style="display: table-cell; float: none;">Customer </li>
                            <li style="display: table-cell; float: none;">Summary </li>
                        </ul>
                    }
                </div>
            </div>
            <div class="content_white" style="padding: 1px 1px 10px 40px">
                @Html.ValidationSummary(false)
                  <div id="dvError" class="ErrorClass" >
                    </div>
                 @if (invchk == "False")
                {
                    <text>
                    <div id="dvMSISDNErr" style="display: block; color: #ff0000; font-weight: bold; margin-left: 30px;">
                        Selected MSISDN is already reserved, please select an another number !</div></text>
                }
            </div>
            <div id="" class="content_white">
              
                  
                      <div class="number-search"  style="padding-left:20px;" >
                    <table>
                            <tr>
                            <td id="tdPrefix" style="white-space:nowrap;"  >
                            <span class="txt-16-grey-normal" style="font-size:14px">Prefix</span>
                            &nbsp;<select id="ddlPrefix" name="ddlPrefix" style="height:31px" >
                                        <option value="-1">&nbsp;&nbsp;</option>
                                        <option value="11">011</option>
                                        <option value="12">012</option>
                                        <option value="14">014</option>
                                        <option value="17">017</option>
                                    </select>
                            </td>
                          
                                <td>
                                <span id="spnDesireTitle" class="txt-16-grey-normal" style="font-size:14px">Desire No (3-7 digits):</span>&nbsp;
                                    <input type="text" maxlength="12" onkeypress="return isNumberKey(event);" name="DesireNo"
                                        class="search-number" id="DesireNo" style="width:113px; font-size:11px" />
                                    <img  onclick="return ValidateDesireNo();"  src='@Url.Content("~/Content/img/shared/iSELL-Search-Button.jpg")' title="Search" id="btnSearch" alt="Search" style="cursor:pointer; vertical-align:top; margin-top:0px ! important;" />
                                </td>
                           
                                <td style="padding: 0 0 0 0 !important;width:50px;">
                                    <button type="button" id="btnReserved" name="btnReserved" style="border-style: none;
                                        background: none repeat scroll 0% 0% transparent;">
                                        <img src='@Url.Content("~/content/images/uncheck.jpg")'  alt="" /></button>
                                       
                                </td>
                                <td style="vertical-align: middle; padding: 0 0 0 0 !important">
                                    <span class="txt-16-grey-normal" style="font-size:14px">Reserved</span>
                                </td>
                                <td style="padding: 0 0 0 0 !important;width:50px;">
                                    <button type="button" id="btnGolden" name="btnGolden" style="border-style: none;
                                        background: none repeat scroll 0% 0% transparent;">
                                        <img src='@Url.Content("~/content/images/uncheck.jpg")' alt="" /></button>
                                         
                                </td>
                                <td style="vertical-align: middle; padding-right: 15px;">
                                    <span class="txt-16-grey-normal" style="font-size:14px">Golden / Special</span>
                                </td>
                            </tr>
                        </table>
                </div>
                    <div style="height: 20px;">
                    </div>
              
                 <div style="height: 20px;">
                </div>
                <div style="display: block; padding: 0px 20px; margin: 0px auto;" id="dvMsisdnPnl" >
                    <div style="width: 100%; border-left: 1px solid #ccc; max-height: 500px; overflow: auto;">
                        @Html.HiddenFor(model => model.SelectedMobileNo)
                        @{
                   foreach (var mobileNo in Model.AvailableMobileNos)
                   {
                            <div class="number-outerbox">
                                <div class="number-innerbox" onclick="SelectedMobile(this,'@mobileNo');" style="cursor: pointer;">
                                    <p class="number">@mobileNo</p>
                                </div>
                            </div>
                   }
                        }
                        <div style="clear: both;">
                        </div>
                    </div>
                </div>
                <div style="clear: both;">
                </div>
            </div>
            <div id="" class="content_white" style="height: 80px;">
                <div style="float: right; padding-right: 20px;">
                    @if (Session["SimType"].ToString2() == "MISM")
                    {
                        <input class="cancel backButton" type="submit"  value="<"  disableValidation="true" onclick="$('#TabNumber').val(@RegistrationSteps.SecoVas.ToInt());" />
                    }
                    else
                    {
                        if (Session["FromPromoOffer"].ToString2() != "1")
                        {
                        <input class="cancel backButton" type="submit" value="<" onclick="$('#TabNumber').val(3);" />
                        }
                    }
                    @if (Model!=null && Model.AvailableMobileNos.Count > 0)
                    {
                    <input class="submitButton" type="submit" value="Next Step: Customer" id="btnContinue" />
                    }
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
          @Html.Partial("_footer")

    }
</div>
<div id="right">
    @if(primarySupplimentLines)
    {
         @Html.Partial("_OrderSummary", supplinePlanStorage.RegMobileReg_OrderSummary)
    }
    else
    {
        @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
    }

</div>
<style type="text/css">
    .t-window-content
    {
        height: auto !important;
    }
</style>
@{
    

    //Spend Limit Commented by Ravi As per New Flow on June 15 2013
    //Spend Limit Window
    Html.Telerik().Window()
                     .Name("SpendLimitWindow")
                     .Title("Spend Limit")
                     .Width(320)
                     .Content(@<text>
                                <div id="divSpendLimitErrors" class="ErrorClass" style="display:none"></div>
                                <table>
                                    <tr>
                                        <td>
                                            Spend Limit :
                                        </td>
                                        <td>
                                            <input type="text" id="txtSpendLimit" value='@Session["SpendLimit"].ToString2()' />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="center">
                                            <input type="button" id="btnSave" name="btnSave" onclick="SaveSpendLimit();" class="submitButton"  value="Save" />
                                        </td>
                                    </tr>
                                </table>
                            </text>)
                     .Modal(true)
                     .Visible(false)
                     .Render();



    Html.Telerik().Window()
    .Name("extraTenWindow")
    .Title("Extra Ten")
    .Width(360)
    .Content(@<text>
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td>
                <div style="display: block;" class="ErrorClass" id="ExtratenPlan_Error">
                </div>
                <div id="divExtraTen">
                    @for (int i = 0; i < 10; i++)
                    {
                        var divId = "divExtraTen_" + i;
                        var txtId = "txtExtraTen_" + i;
                        var delbtnId = "btnDeleteExtraTen_" + i;
                        var lblSnoId = "lblSno_" + i;
                        extraTenCount++;
                        <div id='@divId' style="padding-bottom:10px;" >
                            @* <label class="NumL" id=@lblSnoId>@extraTenCount.ToString()</label>*@
                            @extraTenCount.ToString()
                            <input class="TxtBox" type="text" id=@txtId tabindex="1" />
                            <input style="display:none;" class="DelBtn" type="button" onclick='deleteExtraTen(this);' id=@delbtnId value="" />
                        </div>
                    }
                </div>
                <div class="Controller" style="display: none;">
                    <input type="button" class="AddMoreBtn" id="btnAddMore" tabindex="1" onclick="addExtraTenDiv();"
                        value="" />
                </div>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="white-space: nowrap;" align="center">
                <input id="btnSaveExtraTen" type="button" class="submitButton" tabindex="1" value="Save"
                    onclick="return validateExtraTen();" />
                <input type="button" tabindex="1" class="submitButton" id="btnCancelExtraTen" onclick="cancelExtraTen();"
                    value="Cancel" />
            </td>
        </tr>
    </table>
    </text>
    )
    .Modal(true)
    .Visible(false)
    .ClientEvents(events => events.OnOpen("extraTenWindowOnOpen"))
    .Render();
    Html.Telerik().ScriptRegistrar()
        .OnDocumentReady(@<text> $('#btnExtraTen') .click(function(e) { e.preventDefault();
    $('#extraTenWindow').data('tWindow').center().open();$('#ExtratenPlan_Error').html('');}); @*//Spend Limit Commented by Ravi As per New Flow on June 15 2013*@
    $('#ancSpendLimit').click(function(e) {e.preventDefault();$('#SpendLimitWindow').data('tWindow').center().open();});
    </text>); 
}
@section Scripts{
    <script type="text/javascript" language="javascript">
     var numberType ='@Request.QueryString["numberType"].ToString2()'; 

        function extraTenWindowOnOpen() {



        }


         $(document).ready(function () {

        if($("#tdPrefix").show())
        {
            $("#DesireNo").attr("maxlength","7");
        }                             
         if(numberType=="r" || numberType=="g")
        {
           $("#DesireNo").attr("maxlength","12");
         $('#spnDesireTitle').html('Desire MSISDN (10-12 digits):');
         $('#tdPrefix').hide();
         if(numberType=="r")
         {
          setImageSource('btnReserved');
         }
         else
         {
          setImageSource('btnGolden');
         }
         $('.number-outerbox:first div').click();
         
        }

         $("#DesireNo").val('@Request.QueryString["desireNo"].ToString2()');

         var noPrefix ='@Request.QueryString["prefix"].ToString2()'; 
         if(noPrefix=='')
         {
          //noPrefix ="12";
         }
          $('#ddlPrefix').val(noPrefix);
         });


        $('#btnContinue').click(function () {

            if ($('#SelectedMobileNo').val().length == 0) {
                $('#dvError').html("Please select a number.");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            $('#dvError').html('');
             var curReserSrc =$('#btnReserved:first img').attr('src');
            var curGoldSrc =$('#btnGolden:first img').attr('src');

            if((curReserSrc.toString().indexOf('checked.jpg')!=-1))
            {
                $('#hdnNumberType').val('r');
            }
            else if(curGoldSrc.toString().indexOf('checked.jpg')!=-1)
            {
              $('#hdnNumberType').val('g');
            }
            else
            {
                $('#hdnNumberType').val('n');
            }
            $('#TabNumber').val(5);
            return true;
        });

        //Spend Limit Commented by Ravi As per New Flow on June 15 2013
        //Code Changes for Spend Limit
        function SaveSpendLimit() {
            $('#divSpendLimitErrors').hide();
            var spendLimitVal = $('#txtSpendLimit').val();
            if (spendLimitVal == "") {
                if (confirm("Are you sure you want to proceed with Default Spend Limit!?") == true) {
                    var limitVal = @WebHelper.MinSpendLimit;
                   SendSpendLimit(limitVal);
                }
                else {
                    $('#divSpendLimitErrors').show();
                    $('#divSpendLimitErrors').html("Please Enter Spend Limit");
                    //alert("Please Enter Spend Limit");
                    $('#txtSpendLimit').focus();
                }
            }
            else if (spendLimitVal != "") {
                if (/^\d+(\.\d{1,2})?$/.test(spendLimitVal)) {
                    var SpendLower = '@(minSpendLimit)';
                    var SpendUpper = '@(maxSpendLimit)';
                    if (parseInt(spendLimitVal) < parseInt(SpendLower) || parseInt(spendLimitVal) > parseInt(SpendUpper)) {
                        //alert("Please Enter Valid Spend Limit");
                        $('#divSpendLimitErrors').show();
                        $('#divSpendLimitErrors').html("Please Enter Valid Spend Limit");
                        $('#txtSpendLimit').val('');
                        $('#txtSpendLimit').focus();
                    }
                    else {
                        SendSpendLimit(spendLimitVal);
                    }
                }
                else {
                    $('#divSpendLimitErrors').show();
                    $('#divSpendLimitErrors').html("Please Enter Valid Spend Limit");
                    //alert("Please Enter Valid Spend Limit");
                    $('#txtSpendLimit').val('');
                    $('#txtSpendLimit').focus();
                }
            }
            else {
                SendSpendLimit(spendLimitVal);
            }
        }

        function SendSpendLimit(spendLimitVal) {
            //Post the Spend Limit
            var url = '@(Url.Content("~/SuppLine/SendSpendLimt"))';
            $.post(url, { spendLimit: spendLimitVal }, function (data) {
                $('#SpendLimitWindow').data('tWindow').close();
            });
        }
        //End of Code Changes for Spend Limit
        if ('@(listPrevExtraTenMSISDNs)' != '') {
            $('#ExtraTenMobileNumbers').val('@(listPrevExtraTenMSISDNs)');
            var panel = $("#divExtraTen");
            var childDivs = panel.find("div");
            var objListMSISDNs = $('#ExtraTenMobileNumbers').val().split(',');
            $('#hdnExtraTenCount').val(childDivs.length);
            if (objListMSISDNs.length <= childDivs.length) {

                for (var i = 0; i < childDivs.length; i++) {
                    var txtElement = $('#' + childDivs[i].id).find('input[type="text"]');
                    if (txtElement != null)
                        txtElement.val(objListMSISDNs[i]);
                }
            }
            else {
                for (var i = 0; i < (objListMSISDNs.length - childDivs.length); i++) {
                    var index = parseInt($('#hdnExtraTenCount').val()) + 1;
                    var divId = "divExtraTen_" + index;
                    var txtId = "txtExtraTen_" + index;
                    var delbtnId = "btnDeleteExtraTen_" + index;
                    var lblSnoId = "lblSno_" + childDivs.length + 1;
                    $("#divExtraTen").append("<div class='Controller Row' id='" + divId + "' ><label class='NumL' id='" + lblSnoId + "'>" + (parseInt(childDivs.length + 1)) + "</label><input class='TxtBox' type='text' id='" + txtId + "'  tabindex='1' /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='" + delbtnId + "' /></div>");
                    $('#hdnExtraTenCount').val(index + 1);

                }
                childDivs = panel.find("div");
                for (var i = 0; i < childDivs.length; i++) {
                    var txtElement = $('#' + childDivs[i].id).find('input[type="text"]');
                    if (txtElement != null)
                        txtElement.val(objListMSISDNs[i]);
                }
            }
        }
        function addExtraTenDiv() {
            var index = parseInt($('#hdnExtraTenCount').val()) + 1;
            var divId = "divExtraTen_" + index;
            var txtId = "txtExtraTen_" + index;
            var delbtnId = "btnDeleteExtraTen_" + index;
            var panel = $("#divExtraTen");
            var childDivs = panel.find("div");
            var lblSnoId = "lblSno_" + childDivs.length + 1;
            $("#divExtraTen").append("<div class='Controller Row' id='" + divId + "' ><label class='NumL' id='" + lblSnoId + "'>" + (childDivs.length + 1) + "</label><input class='TxtBox' type='text'    id='" + txtId + "' tabindex='1'  /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='" + delbtnId + "' /></div>");
            $('#hdnExtraTenCount').val(parseInt(index) + 1);
        }

        function deleteExtraTen(delbtn) {
            var delbtnId = delbtn.id;
            var panel = $("#divExtraTen");
            var childDivs = panel.find("div");
            if (childDivs.length > 1) {
                $('#' + delbtnId).parent().remove();
            }
            else {
                //alert("Atleast one mobile number has to be entered for Extra Ten");
                $('#ExtratenPlan_Error').show();
                $('#ExtratenPlan_Error').html("Atleast one mobile number has to be entered for Extra Ten");
                return false;
            }
            ResetSerialNo();
        }

        function ResetSerialNo() {
            var panel = $("#divExtraTen");
            var childDivs = panel.find("div");
            for (var i = 0; i < childDivs.length; i++) {
                //alert($('#'+childDivs[i].id).children(':first-child').html());
                var curDivId = childDivs[i].id;
                $('#' + curDivId).children(':first-child').html(i + 1)
            }
        }

        function cancelExtraTen() {
            $('#extraTenWindow').data('tWindow').close();
        }

        function validateExtraTen() {
            var panel = $("#divExtraTen");
            var childDivs = panel.find("div");
            var objListMSISDNs = "";
            var mobregex = /^60[0-9]{8,10}$/;
            for (var i = 0; i < childDivs.length; i++) {
                var txtElement = $('#' + childDivs[i].id).find('input[type="text"]');
                if (txtElement.val() != "") {
                    if (!mobregex.test(txtElement.val())) {
                        $('#ExtratenPlan_Error').show();
                        $('#ExtratenPlan_Error').html("Please enter valid MSISDN number");
                        return false;
                    }
                }
                if (txtElement.val() != "") {
                    if (objListMSISDNs.indexOf(txtElement.val()) == -1) {
                        if (objListMSISDNs != "")
                            objListMSISDNs = objListMSISDNs + "," + txtElement.val();
                        else
                            objListMSISDNs = txtElement.val();
                    }
                    else {
                        $('#ExtratenPlan_Error').show();
                        $('#ExtratenPlan_Error').html("Please enter unique mobile numbers");
                        return false;
                    }
                }
            }
            //Validation
            var url = '@(Url.Content("~/Registration/validateExtraTenMSISDN"))';
            $.post(url, { arrMSISDNs: objListMSISDNs }, function (data) {
                if (data.toString() != '') {
                    $('#ExtratenPlan_Error').show();
                    $('#ExtratenPlan_Error').html("Please enter valid maxis mobile number for " + data.toString());
                    return false;
                }
                else if (data.toString() == '') {
                    var url1 = '@(Url.Content("~/Registration/validateExtraTenMSISDNAgainstAccount"))';
                    $.post(url1, { arrMSISDNs: objListMSISDNs }, function (data) {
                        if (data.toString() != '') {
                            $('#ExtratenPlan_Error').show();
                            $('#ExtratenPlan_Error').html(data.toString() + " is already part of your account !");
                            return false;
                        }
                        else if (data.toString() == '') {
                            if ('@selectedMSISDN' != "") {
                                if (objListMSISDNs.toString().indexOf('@selectedMSISDN') != -1) {
                                    $('#ExtratenPlan_Error').show();
                                    $('#ExtratenPlan_Error').html('@selectedMSISDN' + " is already part of your account !");
                                    return false;
                                }
                            }
                            $('#ExtraTenMobileNumbers').val(objListMSISDNs);
                            $('#extraTenWindow').data('tWindow').close();
                        }
                    }, "text");
                }
            }, "text");
        }
        function SubmitForm(sequenceNo) {

            $('#submit1').val(sequenceNo);
            //document.forms['frmSelectMobileNo'].submit();
            $("#frmSelectMobileNo").submit();
        }
        // Begin Code added by VLT on 13 apr 2013
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                $('#dvError').html("Please Enter Only Numbers");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            $('#dvError').html('');
            return true;
        }
        // End Code added by VLT on 13 apr 2013
        function SelectedMobile(target, mobileNo) {
            $(".number-innerbox").removeClass('focus');
            $(target).addClass('focus');
            $('#SelectedMobileNo').val(mobileNo);
        }
        //SUTAN ADDED CODE 7ThMarch 2013
        function ValidateDesireNo() {
            var length = $("#DesireNo").val().length;

            //Number type changes on Mar 27 2014 by ravi 
            var curReserSrc =$('#btnReserved:first img').attr('src');
            var curGoldSrc =$('#btnGolden:first img').attr('src');

           if((curReserSrc.toString().indexOf('checked.jpg')!=-1))
            {
                $('#hdnNumberType').val('r');
            }
            else if(curGoldSrc.toString().indexOf('checked.jpg')!=-1)
            {
              $('#hdnNumberType').val('g');
            }
            else
            {
                $('#hdnNumberType').val('n');
            }
            //Number type changes on Mar 27 2014 by ravi 

           var isValidMsisdn = true;
            var errorMessage = "";

             if($('#hdnNumberType').val().toString()=="r" || $('#hdnNumberType').val().toString()=="g")
              {
                if(length<10 || length>12)
                {
                  isValidMsisdn= false;
                  errorMessage="Please Enter Complete MSISDN Number."
                }
              }
              else
              {
               isValidMsisdn =((length < 3 && length != 0)?false:true);
                errorMessage ='Desire No must have at least 3 digits.' 
              }

               //Number type changes on Mar 27 2014 by ravi 
            if(isValidMsisdn==false)
            {
                 $('#dvError').html(errorMessage);
                 $("#DesireNo").focus();
                 $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            else
            {
                 $('#submit1').val('search');
                $('#dvError').html('');
                //document.forms['frmSelectMobileNo'].submit();
                $("#frmSelectMobileNo").submit();
            }

        }
        //END SUTAN ADDED CODE 7ThMarch 2013
        $("#DesireNo").keypress(function (e) {
            //key code 13 is "enter", 
            if (e.keyCode == 13) {
                $('#submit1').val('search');
            }
        });


        $('#btnReserved').click(function()
        {
         setImageSource('btnReserved');
         CheckImgSource('btnGolden');
         ChangeLabelTitle();

        });
        $('#btnGolden').click(function()
        {
          setImageSource('btnGolden');
          CheckImgSource('btnReserved');
          ChangeLabelTitle();
        });

        function setImageSource(objBtnId)
        {
        var curSrc =$('#' + objBtnId + ':first img').attr('src');
        if(curSrc.toString().indexOf('checked.jpg')==-1)
        {
          curSrc = curSrc.toString().replace('uncheck.jpg','checked.jpg');
        }
        else
        {
        curSrc = curSrc.toString().replace('checked.jpg','uncheck.jpg');
        }
        $('#' + objBtnId + ':first img').attr('src',curSrc)

        }

        function CheckImgSource(objBtnId)
        {
            var curSrc =$('#' + objBtnId + ':first img').attr('src');
            if(curSrc.toString().indexOf('checked.jpg')!=-1)
            {
              curSrc = curSrc.toString().replace('checked.jpg','uncheck.jpg');
               $('#' + objBtnId + ':first img').attr('src',curSrc)
            }
        }

        function ChangeLabelTitle()
        {
            var curReserSrc =$('#btnReserved:first img').attr('src');
            var curGoldSrc =$('#btnGolden:first img').attr('src');
            if((curReserSrc.toString().indexOf('checked.jpg')!=-1)||(curGoldSrc.toString().indexOf('checked.jpg')!=-1))
            {
                $('#DesireNo').attr('maxlength','12');
                $('#DesireNo').val('');
                $('#spnDesireTitle').html('Desire MSISDN (10-12 digits):');
                //document.getElementById('tdPrefix').style.visibility='hidden';
                 $('#tdPrefix').hide();
                 $('#dvMsisdnPnl').hide();
            }
            else
            {
                $('#DesireNo').attr('maxlength','7');
                $('#DesireNo').val('');
                $('#spnDesireTitle').html('Desire No (3-7 digits):');
                $('#tdPrefix').show();
                 $('#dvMsisdnPnl').show();
            }
             $('#dvError').html('');
        }


        if(parseInt('@Model.AvailableMobileNos.Count')<=0  && (numberType=="n" || numberType==""))
        {
           $('#dvError').html('No MSISDN(s) found for the below criteria.');
           $("html, body").animate({ scrollTop: 0 }, "slow");
          // $('#btnContinue').hide();
        }

    </script>
}
