﻿@using Online.Registration.Web.ViewModels
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@{
    ViewBag.Title = "Select Preferred Device";
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var vasPrimary = Session["SimType"].ToString2() == "MISM" ? "Value Added Services-Primary" : "Value Added Services";
    var vasSecondary = Session["SimType"].ToString2() == "MISM" ? "Value Added Services-Secondary" : "Value Added Services";
    string isIMEIeligibleInDevicePage = "0";
    
    string simType = string.Empty;
    //if (!ReferenceEquals(MNPPrimaryPlanStorage, null))
    //{
    //    MNPPrimaryPlanStorage.SimType = "Normal";
    //}
    //simType = IsMNPWithMultpleLines ? MNPPrimaryPlanStorage.SimType : Convert.ToString(Session["SimType"]);
    simType = Session["SimType"].ToString2();
    simType = "Normal";
}
@model Online.Registration.Web.ViewModels.PhoneVM

<!-- Centre column area -->
<html>
<head>
<title></title>

    @*<link href="../../Content/bootstrap2/bootstrap-switch.css" rel="stylesheet" type="text/css" />*@
    <link  href="@Url.Content("~/Content/bootstrap2/bootstrap-switch.css")" rel="stylesheet" type="text/css"/>

    <script src="@Url.Content("~/Scripts/jquery.js")" language="javascript" type="text/javascript"></script>

  
    <style type="text/css">
	.switch-wrapper {
            display: inline-block;
        position: relative;
        top: 3px;
        }
</style>

</head>

<body>

<div id="center">
@using (Html.BeginForm("SelectDeviceCatalog", "SuppLine", FormMethod.Post, new { id = "frmSelectDeviceCatalog", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    @Html.HiddenFor(a => a.TabNumber)
    @Html.HiddenFor(a => a.SelectedModelImageID)     
    if (Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("DSupervisor") || Roles.IsUserInRole("MREG_DIC") || Roles.IsUserInRole("MREG_DAI"))
    {
        isIMEIeligibleInDevicePage = "1";
    }
    else
    {
       isIMEIeligibleInDevicePage = "0";
    }
      <div class="header-title">
           Supplementary Devices + Plan</div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        <li style="display: table-cell; float: none;" class="selected">Device</li>
                        <li style="display: table-cell; float: none;">Plan</li>
                        <li style="display: table-cell; float: none;">Contract/VAS</li>
                        <li style="display: table-cell; float: none;">Number</li>
                        <li style="display: table-cell; float: none;">Customer</li>
                        <li style="display: table-cell; float: none;">Summary</li>
                    </ul>
                </div>
            </div>
            <div class="content_white" style="padding-left:35px;padding-bottom:5px;" > @Html.ValidationSummary(false)
            
            <div id="ValiadationErs" class="validation-summary-errors">
             
            </div>
            
            </div>            
            <div class="content" style="border-top: 1px solid #cccccc;" id="showAllDevicesDiv">
                <div class="list_carousel responsive">
                    <ul id="phones">
                        @if (Model != null)
                        {
                            foreach (var modelImage in Model.ModelImages)
                            {

                                var articleId = modelImage.BrandArticle.ArticleID;
                                var modelId = modelImage.BrandArticle.ModelID;
                                var btnModelImageID = "btnModelImageID_" + modelImage.BrandArticle.ID;
                                var btnModelDetails = "btnModelDetails_" + modelImage.ModelCode;
                                string clickEvent = "phone(this,'" + modelImage.BrandArticle.ID + "');";
                                if (modelImage.Count <= 0)
                                {
                                    clickEvent = string.Empty;
                                }
                                string curDeviceName = Util.GetNameByID(RefType.Model, modelImage.BrandArticle.ModelID);
                            <li>
                                <div style="position: relative;">
                                    <div class="carousel-content" id='@btnModelImageID' onclick="@clickEvent" >
                                    @if(modelImage.BrandArticle.ImagePath != string.Empty)
                                    {
                                        <img alt='@curDeviceName' src="@Url.Content(modelImage.BrandArticle.ImagePath)" />
                                    }
                                    else
                                    {
                                         <img alt='@curDeviceName' src="" />
                                    }
                                    </div>
                                    <div style="padding-top: 7px;">
                                        <a href="@Url.Content(string.Format("~/Registration/DevicePlanDetails/?articleId={0}&modelId={1}", articleId, modelId))" class="phone cboxElement" id="popup-message">@Html.Raw(curDeviceName)
                                            @Html.Raw(modelImage.BrandArticle.ColourID > 0 ? Util.GetNameByID(RefType.Colour, modelImage.BrandArticle.ColourID) : string.Empty)</a>
                                    </div>
                                    @if (modelImage.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockLower)
                                    {
                                        <div class="ribbon-wrapper-red">
                                            <div class="devices ribbon-red">
                                               Out of Stock</div>
                                        </div>
                                    }
                                    else if (modelImage.Count > Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockLower && modelImage.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockHigher)
                                    {
                                        <div class="ribbon-wrapper-yellow">
                                            <div class="devices ribbon-yellow">
                                                Fast Selling</div>
                                        </div>
                                    }
                                    else if (modelImage.Count > Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_LimitedStockLower && modelImage.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_LimitedStockHigher)
                                    {
                                        <div class="ribbon-wrapper-red">
                                            <div class="devices ribbon-red">
                                                Limited Stock</div>
                                        </div>
                                    }
                                    else if (modelImage.Count > Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_AvailableStockLower)
                                    {
                                        <div class="ribbon-wrapper-green">
                                            <div class="devices ribbon-green">
                                                Available</div>
                                        </div>
                                        
                                    }
                                </div>
                            </li>                               
                                //}
                            }

                        }
                    </ul>
                    <div class="clearfix">
                    </div>
                    <div class="arrow_position">
                        <a id="prev3" class="prev" href="#">
                            <img src="@Url.Content("~/content/img/shared/iSELL-Mobility-LeftGrey-Arrow.png")" alt="Previous" /></a>
                        <a id="next3" class="next" href="#">
                            <img src="@Url.Content("~/content/img/shared/iSELL-Mobility-RightGrey-Arrow.png")" alt="Next" /></a>
                    </div>
                </div>
    

            </div>
           @*  Added for displaying Avialable images. Added by sumit*@
            <div class="content" style="border-top: 1px solid #cccccc;" >
                <div class="list_carousel responsive">
                <div id="showAvailableDevicesDiv">
                    <ul id="phone">
                        @if (Model != null)
                        {
                            foreach (var modelImage in Model.ModelImages)
                            {
                                if (modelImage.Count > 0)
                                {
                                    var articleId = modelImage.BrandArticle.ArticleID;
                                    var modelId = modelImage.BrandArticle.ModelID;
                                    var btnModelImageID1 = "btnModelImageID1_" + modelImage.BrandArticle.ID;
                                    var btnModelDetails = "btnModelDetails_" + modelImage.ModelCode;
                                    string clickEvent = "phone(this,'" + modelImage.BrandArticle.ID + "');";
                                    if (modelImage.Count <= 0)
                                    {
                                        clickEvent = string.Empty;
                                    }
                                    string curDeviceName = Util.GetNameByID(RefType.Model, modelImage.BrandArticle.ModelID);
                            <li>
                                <div style="position: relative;">
                                    <div class="carousel-content" id='@btnModelImageID1' onclick="@clickEvent" >
                                        <img alt='@curDeviceName' src="@Url.Content(modelImage.BrandArticle.ImagePath)" />
                                    </div>
                                    <div style="padding-top: 7px;">
                                        <a href="@Url.Content(string.Format("~/Registration/DevicePlanDetails/?articleId={0}&modelId={1}", articleId, modelId))" class="phone cboxElement" id="popup-messages">@Html.Raw(curDeviceName)
                                            @Html.Raw(modelImage.BrandArticle.ColourID > 0 ? Util.GetNameByID(RefType.Colour, modelImage.BrandArticle.ColourID) : string.Empty)</a>
                                    </div>
                                    @if (modelImage.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockLower)
                                    {

                                        <div class="ribbon-wrapper-red">
                                            <div class="devices ribbon-red">
                                               Out of Stock</div>
                                        </div>
                                    }
                                    else if (modelImage.Count > Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockLower && modelImage.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockHigher)
                                    {

                                        
                                        <div class="ribbon-wrapper-yellow">
                                            <div class="devices ribbon-yellow">
                                                Fast Selling</div>
                                        </div>
                                    }
                                    else if (modelImage.Count > Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_LimitedStockLower && modelImage.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_LimitedStockHigher)
                                    {

                                        <div class="ribbon-wrapper-red">
                                            <div class="devices ribbon-red">
                                                Limited Stock</div>
                                        </div>
                                    }
                                    else if (modelImage.Count > Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_AvailableStockLower)
                                    {

                                        <div class="ribbon-wrapper-green">
                                            <div class="devices ribbon-green">
                                                Available</div>
                                        </div>
                                        
                                    }
                                </div>
                            </li>                               
                                    //}
                                }
                            }

                        }
                    </ul>
                    <div class="clearfix">
                    </div>
                    <div class="arrow_position">
                        <a id="prev4" class="prev" href="#">
                            <img src="@Url.Content("~/content/img/shared/iSELL-Mobility-LeftGrey-Arrow.png")" alt="Previous" /></a>
                        <a id="next4" class="next" href="#">
                            <img src="@Url.Content("~/content/img/shared/iSELL-Mobility-RightGrey-Arrow.png")" alt="Next" /></a>
                    </div>
                    </div>
                </div>
    

            </div>
           @* Added for displaying Avialable images. Added by sumit end*@
            <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
            <div style="float:left;">
     <br />
             <div  class="switch-wrapper" id="checkbox1">  Out of stock : <input type="checkbox" id="showAvailableDevicesCheckBox" name="showAvailableDevicesCheckBox"/></div>
           </div>
                <div style="float: right;">
                <input class="cancel backButton"  type="submit" value="<" causesvalidation="false" disableValidation="true"  onclick="$('#TabNumber').val(0);" />
                  
                    @if (Model != null)
                    {
                        //if (Model.ModelImages.Count > 0)
                        //{                    
                         if((from item in Model.ModelImages
                                where item.Count > 0
                                select item      ).Count() > 0 )
                        {  
                            if(isIMEIeligibleInDevicePage == "1")
                            {
                                <input class="button-continue submitButton" id="btnSubmitImei" type="button" value="IMEI" />
                            }
                            
                            <input class="submitButton" id="btnSubmit"  type="submit" value="Next Step: Plan"  onclick="$('#TabNumber').val(2);" />
                        }
                    }




                    
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
       @Html.Partial("_footer")
   
    
}
 </div>
<div id="right">
            @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
        </div>
@*commented by ravi kiran on oct 21 2013 as it was not required in Select DeviceCatalog page
and also it was throwing exception when navigated back*@
@*@{
    Html.Telerik().Window()
        .Name("vasWindow")
        .Title(@vasPrimary)
        .Width(325)
        .Content(@<text>
                    @{var vasNames = (List<string>)Session["RegMobileReg_VasNames"]; }
                    @if (vasNames != null)
                    {
                        foreach (var name in vasNames)
                        { 
                            <div style="border-style:solid;border-width:1px;border-radius:5px;margin:1px;padding:3px 3px 3px 3px;margin:0px 0px 1px 0px;width:300px;">
                                @name
                            </div>
                        }
                    }
                </text>)
        .Modal(true)
        .Visible(false)
        .Render();

    Html.Telerik().ScriptRegistrar()
        .OnDocumentReady(@<text>
            // open the initially hidden window when the button is clicked
            $('#btnVwVAS')
                .click(function(e) {
                    e.preventDefault();
                    $('#vasWindow').data('tWindow').center().open();
                });

            $('#btnVwSubline')
                .click(function(e) {
                    e.preventDefault();
                    $('#sublineWindow').data('tWindow').center().open();
                });

              
        </text>); 
    

    }*@

    @*commented by ravi kiran on oct 21 2013 as it was not required in Select DeviceCatalog page
and also it was throwing exception when navigated back ends here*@

@{
    Html.Telerik().Window()
        .Name("devicesDetailsWindow")
        .Title("Devices Details")
        .Width(850)
        .Height(700)
        .Content(@<text>
                    <table width="100%">
                        <tr>
                            <td><img alt="" id="imgDevicesDetails" src="@Url.Content("~/Content/images/devices/Devices_.jpg")" /></td>
                        </tr>
                    </table>
                    
                </text>)
        .Modal(true)
        .Visible(false)
        .Render();



    Html.Telerik().Window()
        .Name("devicePlanDetailsWindow")
        .Title("Device Details")


        .Width(1000)
.Height(600)
        .Content(@<text>

   
    </text>)
        .Modal(true)
        .Visible(false)


        .Render();
}

@{
 
    if (simType == "Normal")
    {
        Html.Telerik().Window()
            .Name("imeiWindow")
            .Title("IMEI Number")
            .Width(325).Height(120)
            .Content(@<text>
    @using (Html.BeginForm("SelectDeviceCatalog", "SuppLine", FormMethod.Post, new { onSubmit = "return PoputateIMEI(this);" }))
    {
        @*@Html.HiddenFor(a => a.TabNumber)*@
        <table width="100%">
            <tr>
                <td colspan="2">
                    <div id="dvIMEIError" class="ErrorClass">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="ErrorClass">
                        @*@Html.ValidationMessageFor(model => model.CapturedIMEINumber)*@
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.personalDetailsVM.CapturedIMEINumber)
                </td>
                <td>@Html.TextBoxFor(model => model.personalDetailsVM.CapturedIMEINumber)
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                   
                    <input id="btnSaveIMEI" value="Save" class="submitButton" type="button" onclick="return PoputateIMEI(this)" /> 
                </td>
            </tr>
        </table>
    }
    </text>)
            .Modal(true)
            .Visible(false)
            .ClientEvents(events => events.OnOpen("IMEIWindowOnOpen"))
            .Height(150)
            .Render();
    }
       
 }


@section Scripts{
    <script language="javascript" src="@Url.Content("~/scripts/bootstrap-switch.js")"  type="text/javascript"></script>
 <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/js/jquery.carouFredSel-6.2.1-packed.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/js/jquery.colorbox.js")" ></script>
    <script type="text/javascript" language="javascript" >
        $(document).ready(function () {
            jQuery(function () {
                //	Fuild layout, centering the items
                jQuery('#phones').carouFredSel({
                    width: '100%',
                    height: '350px',
                    prev: '#prev3',
                    next: '#next3',
                    auto: false,
                    swipe: {
                        onTouch: true,
                        onMouse: false
                    }

                });

            });
            $('a#popup-message').colorbox({ iframe: true, innerWidth: 1020, innerHeight: 500 });
            $("[name='showAvailableDevicesCheckBox']").bootstrapSwitch();
        });
        $(document).ready(function () {
            jQuery(function () {
                //	Fuild layout, centering the items
                jQuery('#phone').carouFredSel({
                    width: '100%',
                    height: '350px',
                    prev: '#prev4',
                    next: '#next4',
                    auto: false,
                    swipe: {
                        onTouch: true,
                        onMouse: false
                    }

                });

            });
            $('a#popup-messages').colorbox({ iframe: true, innerWidth: 1020, innerHeight: 500 });
        });
        function phone(target2, modelImageID) {
            jQuery(".carousel-content").removeClass('focus');
            jQuery(target2).addClass('focus');
            $('#SelectedModelImageID').val(modelImageID);
        }
        $(document).ready(function () {
           


            $('.t-icon t-close').click(function(e) {
                    //e.preventDefault();
                    $('#devicePlanDetailsWindow').data('tWindow').center().close();
                });

                $('#showAvailableDevicesCheckBox').on('switch-change', function (e, data) {
                    var chk = $('#showAvailableDevicesCheckBox').is(':checked');

                    if (chk == true) {

                        $("#showAllDevicesDiv").show();
                        $("#showAvailableDevicesDiv").hide();
                    }
                    else {
                        $("#showAllDevicesDiv").hide();
                        $("#showAvailableDevicesDiv").show();
                    }
                });



            });

            //Highlight selected plan
            var modelImageID = $('#SelectedModelImageID').val();
            if (modelImageID != 0) {
                $('#btnModelImageID_' + modelImageID).addClass('focus');
            }
       

        function detailsDevices_OnClick(articleId,modelId) {
//            var code = btnModelDetails.substring(16);
//            var src = $('#imgDevicesDetails').attr("src");
//            var indexFrom = src.indexOf("Devices_") + 8;
//            var indexTo = src.indexOf(".jpg");
//            var oldCode = src.substring(indexFrom, indexTo);
//            
//            src = src.replace(oldCode, "");
//            src = src.replace("Devices_", "Devices_" + code);
//            $('#imgDevicesDetails').attr("src", src);

//            $('#devicesDetailsWindow').data('tWindow').center().open();

            var window123 = $('#devicePlanDetailsWindow').data('tWindow');

            var url ='@(Url.Content("~/Registration/DevicePlanDetails"))';
            window123.ajaxRequest(url,{articleId:articleId , modelId:modelId});
            window123.center().open();
            



        }

        function IMEIWindowOnOpen() {
        }

        $('#btnSubmit').click(function () {
        
            if(@isIMEIeligibleInDevicePage == "1"){
                var inputIMEI = $('#personalDetailsVM_CapturedIMEINumber').val();
                if (inputIMEI == "") {
                    //alert('please enter IMEI for selected device.');
                    $('#ValiadationErs').html('Please enter IMEI for selected device.');
                    return false;
                }
                else {
                    $('#ValiadationErs').html('');
                }
            }

        });
        $('#btnSubmitImei').click(function () {

            var imageID = $('#SelectedModelImageID').val();
            if (imageID == "") {
                $('#ValiadationErs').html('Please choose a preferred device to enter IMEI.');
                //alert('Please choose a preferred device to enter IMEI.');
                return false;
            }
            else {
                $('#ValiadationErs').html('');
                $('#imeiWindow').data('tWindow').center().open()
            }

        });
        function PoputateIMEI(form) {
            $('#dvIMEIError').html('');
            $('#dvIMEIError').hide();
            if (form != null && $(form).valid() == false) {
                return false;
            }
            var inputIMEI = $('#personalDetailsVM_CapturedIMEINumber').val();
            var regex = /^[0-9]{0,}$/;
            if (inputIMEI == '') {
                $('#dvIMEIError').html("Please enter IMEI number.");
                $('#dvIMEIError').show();
                $('#personalDetailsVM_CapturedIMEINumber').val('');
                $('#personalDetailsVM_CapturedIMEINumber').focus();
                return false;
            }
            else if ($("#personalDetailsVM_CapturedIMEINumber").val().length < '@(System.Configuration.ConfigurationManager.AppSettings["IMEIMin"])') {
                $('#dvIMEIError').html("IMEI number length must be greater than " + '@(System.Configuration.ConfigurationManager.AppSettings["IMEIMin"])');
                $('#dvIMEIError').show();
                return false;
            }
            else if (!regex.test(inputIMEI)) {
            $('#dvIMEIError').html("IMEI Number must be a number.");
                $('#dvIMEIError').show();
                return false;
            }
            else {
                $('#dvIMEIError').html("");
            }
            var regID = $('#RegID').val();
            var modelID = $('#SelectedModelImageID').val();
            var url = '@(Url.Content("~/Registration/CheckIMEIStatusForDealer"))';
            $.post(url, {
                modelID: modelID,
                imei: inputIMEI
            }, function (data) {
                if (data.toString() == "False") {
                    $('#dvIMEIError').html("IMEI not valid for the selected device");
                    $('#dvIMEIError').show();
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    //alert("IMEI not valid for the selected device");
                    $('#personalDetailsVM_CapturedIMEINumber').val('');
                    $('#personalDetailsVM_CapturedIMEINumber').focus();
                    return false;

                }
                else {
                    // alert('Imei correct');
                    $('#imeiWindow').data('tWindow').close();
                }


            });



        }
        $(window).load(function () {
            $("#showAllDevicesDiv").hide();
        });


        


    </script>
}
</body>
</html>
 
