﻿@{
    ViewBag.Title = "Raw Dump Report";
    List<string> fileNames = ViewBag.FileNames;
}

<div class="vwHeader">
    <table>
        <tr>
            <td>
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<br />
<div style="width:719px;height:380px;overflow-y:auto;border:1px solid lightgray;">
        @*@{
            Html.Telerik().Grid(fileNames)
            .Name("gvwFileNames")
            .Footer(false)
            .HtmlAttributes(new { style = "width:717px;" })
            .TableHtmlAttributes(new { style = "border-radius:10px" })
            .Selectable().DataKeys(a => a.Add("RegID"))
            //.ClientEvents(events => events.OnRowSelect("onRowSelected"))
            .NoRecordsTemplate("No records to display")
            .Columns(col =>
            {
                col.Bound(m => m).Title("File Name");
            })
            .Render();
        }*@

        @{
            Html.Telerik().PanelBar()
        .Name("pnlFileNames")
        .ExpandAll(false)
        .ExpandMode(Telerik.Web.Mvc.UI.PanelBarExpandMode.Single)
        .HtmlAttributes(new { @class = "" })
        .Items(parent =>
        {
            parent.Add()
                .Expanded(true)
                .Text("FILE NAME")
                .LinkHtmlAttributes(new { @class = "panel-header" })
                //.SpriteCssClasses("icon-account-info")
                .ContentHtmlAttributes(new { @class = "panel-content" })
                .Content(
                @<text>
                    <fieldset>
                        <table>
                            @*<tr>
                                <td class="label">
                                    File Name
                                </td>
                            </tr>*@
                            @foreach (var name in fileNames) 
                            { 
                                <tr>
                                    <td>
                                        
                                        @Html.ActionLink(name, "DownloadReport", "RawDumpReport", new { fileName = name }, null)
                                    </td>
                                </tr>
                            }
                        </table>
                    </fieldset>
                </text>);
            }).Render(); 
        }
</div>
