﻿@*-----------------------------------------------------------------------------------
    Date Created: 6 October 2015
    Developer   : Ashley Ow
    View Name   : _PostpaidToPrepaid.cshtml
    Purpose     : To capture the details for Postpaid to Prepaid Service Request
    Version Control:
    Version     Date        Change Made
    1.0         6 Oct 2015  View created
    -----------------------------------------------------------------------------------*@

@using Online.Registration.Web.ViewModels.Common;
@using Online.Registration.Web.CustomExtension;
@using Newtonsoft.Json;

@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.PostpaidToPrepaidNewOrderVM
    
@functions{
    object getTbHtmlAttribute()
    {
        return new { @class = "form-control search-num" };
    }
    object getReadOnlyTbHtmlAttribute()
    {
        return new { @class = "form-control search-num readonly", @readonly = "readonly" };
    }
}
@Html.HiddenFor(n=>n.CustBillStateID)
<div class="row border-top even">
    <div class="col-sm-12 form paddingOverall">
        <!-- Start Customer Name -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Name</p>
            </div>
            <div class="col-sm-4">
                <p class="inner-content">@Html.TextBoxFor(model => model.CustName, @getReadOnlyTbHtmlAttribute())</p>
            </div>
        </div>
        <!-- Start Identity Type -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Identification</p>
            </div>
            <div class="col-sm-4">
                <div class="input-group-btn number-type">
                    @Html.CustomDropDownListFor(model => model.IdType, StaticListVM.Instance.IdTypList, new { disabled = "disabled" })
                </div>
            </div>
            <!-- Start Identity Number -->
            <div class="col-sm-2">
                <p class="inner-label">*Number</p>
            </div>
            <div class="col-sm-3">
                <p class="inner-content">
                    @Html.TextBoxFor(model => model.IdNum, @getReadOnlyTbHtmlAttribute())
                </p>
            </div>
        </div>
        <!-- Start MSISDN -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*MSISDN</p>
            </div>
            <div class="col-sm-4">
                <div class="input-group-btn number-type">
                    @Html.CustomDropDownListFor(model => model.Msisdn, Model.MSISDNList.ToSelectList())
                </div>
            </div>
        </div>
        <!-- Start Current Plan -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">Current Plan</p>
            </div>
            <div class="col-sm-9">
                <p class="inner-content">@Html.TextBoxFor(model => model.Plan, @getReadOnlyTbHtmlAttribute())</p>
            </div>
        </div>
        <!-- Start Account Number -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Account No</p>
            </div>
            <div class="col-sm-4">
                <p class="inner-content">@Html.TextBoxFor(model => model.AccNum, @getReadOnlyTbHtmlAttribute())</p>
            </div>
        </div>
        <!-- Start Prepaid SIM Serial Number -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Prepaid SIM Type</p>
            </div>
            <div class="col-sm-3">
                <div class="input-group-btn number-type">
                    @Html.CustomDropDownListFor(m => m.PrepaidSimTypeCode, StaticListVM.Instance.SimTypeList)
                </div>
            </div>
            <div class="col-sm-3">
                <p class="inner-label">*Prepaid SIM Number</p>
            </div>
            <div class="col-sm-3">
                    <p class="inner-content">@Html.TextBoxFor(model => model.PrepaidSIMNumber,@getTbHtmlAttribute())</p>
            </div>
        </div>
        <!-- Start Hotlink Plan -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Hotlink Plan</p>
            </div>
            <div class="col-sm-4">
                <p class="inner-label">@Html.DisplayFor(n=>n.PrepaidPlan)</p>
            </div>
        </div>

        <!-- Start static declaration -->
        <div class="row">
            <div class="col-sm-12">
                <p class="inner-label">
                    I hereby declare a) that I wish to subscribe for the Services provided by MMSSB; b) that the above information provided is true and correct; c) that I have read and agree to be bound by the Terms and Conditions printed hereto and any amendment made thereto.
                </p>
            </div>
        </div>

        <!-- Start Billing Address -->
        <div class="row">
            <div class="col-sm-12">
                <p class="device-title">Billing Address</p>
            </div>
        </div>
        <!-- Start billing address line 1-->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Address</p>
            </div>
            <div class="col-sm-4">
                    <p class="inner-content">@Html.TextBoxFor(model => model.CustBillAddLine1,@getTbHtmlAttribute())</p>
            </div>
        </div>

        <!-- Start billing address line 2-->
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-4">
                    <p class="inner-content">@Html.TextBoxFor(model => model.CustBillAddLine2,@getTbHtmlAttribute())</p>
            </div>
        </div>

        <!-- Start billing address line 3-->
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-4">
                    <p class="inner-content">@Html.TextBoxFor(model => model.CustBillAddLine3,@getTbHtmlAttribute())</p>
            </div>
        </div>

        <!-- Start billing post code-->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Postcode</p>
            </div>
            <div class="col-sm-3">
                    <p class="inner-content">@Html.TextBoxFor(model => model.CustBillPostCode,new {@class = "form-control" })</p>
            </div>
            <div class="col-sm-3">
                <p class="inner-content" id="PostcodeValidationMessage"></p>
            </div>
        </div>
                                    
        <!-- Start billing city-->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*City</p>
            </div>
            <div class="col-sm-4">
                    <p class="inner-content">@Html.TextBoxFor(model => model.CustBillCity, @getReadOnlyTbHtmlAttribute())</p>
            </div>
        </div>

        <!-- Start billing state-->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*State</p>
            </div>
            <div class="col-sm-4">
                    <p class="inner-content">@Html.TextBoxFor(model => model.CustBillState, @getReadOnlyTbHtmlAttribute())</p>
                </div>
            </div>
            </div>
</div>
<div class="row border-top">
    @Html.EditorFor(model=>model.UploadDoc,"UploadDocuments")
</div>

<script type="text/javascript">
    var msisdnServiceInfo = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.MsisdnServiceInfoMap))');
    AutoPopulate();
    $(document).ready(function () {
        $('#@Html.IdFor(m=>m.Msisdn)').change(function () {
            setMsisinfo(msisdnServiceInfo[this.value]);
        });
        $('#@Html.IdFor(m=>m.CustBillPostCode)').change(function () {
            AutoPopulate();
    });
    });

    function setMsisinfo(d) {
        $("#@Html.IdFor(m=>m.AccNum)").val(d.AccNum);
        $("#@Html.IdFor(m=>m.Plan)").val(d.Plan);
        $('#@Html.IdFor(n=>n.CustBillAddLine1)').val(d.BillAddLine1);
        $('#@Html.IdFor(n=>n.CustBillAddLine2)').val(d.BillAddLine2);
        $('#@Html.IdFor(n=>n.CustBillAddLine3)').val(d.BillAddLine3);
        $('#@Html.IdFor(n=>n.CustBillPostCode)').val(d.BillAddPostCode);
        $('#@Html.IdFor(n=>n.CustBillCity)').val(d.BillAddCity);
        $('#@Html.IdFor(n=>n.CustBillState)').val(d.BillAddState);
        $('#@Html.IdFor(n=>n.CustBillStateID)').val(d.BillAddStateId);
    };

    function AutoPopulate() {
        var postcode = $('#@Html.IdFor(n=>n.CustBillPostCode)').val();
        var IsReadOnly = $('#@Html.IdFor(n=>n.CustBillPostCode)').is('[readonly]');

        if (postcode != "" && IsReadOnly.toString() == 'false') {
            var url = '@(Url.Content("~/Home/GenerateStateCityByPostCode"))';
            $.post(url, { postcode: postcode }, function (data) {

                if (data.postCode != "") {
                    $("#PostcodeValidationMessage").css("color", "green");
                    $('#PostcodeValidationMessage').text('Valid Postcode');
                    $('#PostcodeValidationMessage').attr('style', 'display: block; color: green');
                    $('#@Html.IdFor(n=>n.CustBillCity)').val(data.city);
                    $('#@Html.IdFor(n=>n.CustBillState)').attr('value', data.state);
                    $('#@Html.IdFor(n=>n.CustBillState)').val(data.state);
                    $('#@Html.IdFor(n=>n.CustBillStateID)').val(data.stateID);
                }
                else {
                    $("#PostcodeValidationMessage").css("color", "red");
                    $('#PostcodeValidationMessage').text('Invalid Postcode');
                    $('#PostcodeValidationMessage').attr('style', 'display: block; color: red');
                    $('#@Html.IdFor(n=>n.CustBillCity)').val('');
                    $('#@Html.IdFor(n=>n.CustBillState)').val('');
                    $('#@Html.IdFor(n=>n.CustBillState)').attr('value', '');
                    $('#@Html.IdFor(n=>n.CustBillState)').val('');
                    $('#@Html.IdFor(n=>n.CustBillStateID)').val(data.stateID);
                }
            });
        }
        $('#ValidatedPostcode').val(postcode);
    }

    $(document).ready(function () {
        //Address
        $('#@Html.IdFor(n=>n.CustBillPostCode)').blur(function () {
            clearAddMsg();
            AutoPopulate();
        });
        // disable post code validation message
        clearAddMsg();
        $('#@Html.IdFor(m=>m.Msisdn)').change(function () {
            $("#@Html.IdFor(m=>m.AccNum)").val(msisdnServiceInfo[this.value].AccNum);
            $("#@Html.IdFor(m=>m.Plan)").val(msisdnServiceInfo[this.value].Plan);
        });
        $('#@Html.IdFor(m=>m.Msisdn)').change(function () {
            var d = msisdnServiceInfo[this.value];
            setAddressInfo(d);
        });
    });
    function clearAddMsg() {
        $('#PostcodeValidationMessage').attr('readonly', true);
        $('#PostcodeValidationMessage').attr('style', 'display: none');
    };
    function setAddressInfo(d) {
        $("#@Html.IdFor(m=>m.AccNum)").val(d.AccNum);
        $('#@Html.IdFor(n=>n.CustBillAddLine1)').val(d.BillAddLine1);
        $('#@Html.IdFor(n=>n.CustBillAddLine2)').val(d.BillAddLine2);
        $('#@Html.IdFor(n=>n.CustBillAddLine3)').val(d.BillAddLine3);
        $('#@Html.IdFor(n=>n.CustBillPostCode)').val(d.BillAddPostCode);
        $('#@Html.IdFor(n=>n.CustBillCity)').val(d.BillAddCity);
        $('#@Html.IdFor(n=>n.CustBillState)').val(d.BillAddState);
        $('#@Html.IdFor(n=>n.CustBillStateID)').val(d.BillAddStateId);
        //Trigger postcode change to validate postcode
        clearAddMsg();
        AutoPopulate();
    };

    function AutoPopulate() {
        var postcode = $('#@Html.IdFor(n=>n.CustBillPostCode)').val();
            var IsReadOnly = $('#@Html.IdFor(n=>n.CustBillPostCode)').is('[readonly]');
            if (postcode != "" && IsReadOnly.toString() == 'false') {
                var url = '@(Url.Content("~/Home/GenerateStateCityByPostCode"))';
                $.post(url, { postcode: postcode }, function (data) {
                if (data.postCode != "") {
                    $("#PostcodeValidationMessage").css("color", "green")
                        .text('Valid Postcode')
                        .attr('style', 'display: block; color: green');
                    $('#@Html.IdFor(n=>n.CustBillCity)').val(data.city);
                    $('#@Html.IdFor(n=>n.CustBillState)').val(data.state);
                }
                else {
                    $("#PostcodeValidationMessage").css("color", "red")
                        .text('Invalid Postcode')
                        .attr('style', 'display: block; color: red');
                    $('#@Html.IdFor(n=>n.CustBillCity)').val('');
                    $('#@Html.IdFor(n=>n.CustBillState)').val('');
                }
            });
        }
        $('#ValidatedPostcode').val(postcode);
    }
</script>

