﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.CustomExtension;

@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.PostpaidToPrepaidViewOrderVM

@Html.Partial("_ViewOrderDetailCustInfo", Model)

<div class="row details paddingbtm">
    <div class="col-sm-6">
        <div class="col-sm-12 kill-padding">
            <p class="inner-title">Service Information</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start MSISDN-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">MSISDN</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.Service_MSISDN)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Postpaid Account number-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Postpaid Account No.</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.Service_AccountNumber)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Prepaid Account number-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Prepaid Account No.</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.NewAccountNo)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Prepaid SIM Type-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Prepaid SIM Type.</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.Service_PrepaidSIMTypeCode)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Prepaid SIM Serial-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Prepaid SIM Serial No.</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.Service_PrepaidSIMSerialNumber)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Prepaid Plan-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Hotlink Plan</p>
        </div>
        <div class="col-sm-2">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">#@Html.DisplayFor(n => n.Service_PrepaidPlan)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Early Termination Fee-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Early Termination Fee</p>
        </div>
        <div class="col-sm-2">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-label redfront">RM @Html.DisplayFor(n => n.Service_EarlyTerminateFee)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Outstanding Bill Amount-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Outstanding Bill Amount</p>
        </div>
        <div class="col-sm-2">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-label redfront">RM @Html.DisplayFor(n => n.Service_OutstandingAmount)</p>
        </div>
        <div class=" clearfix"></div>
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>
</div>