﻿@using Online.Registration.Web.Helper;

@model Online.Registration.DAL.Models.Bundle

@{
    ViewBag.Title = "Add Bundle";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Add:</legend>
        <table>
            <tr>
                <td>
                    <div style="width: 80px">
                        @Html.LabelFor(model => model.Code)
                    </div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Code, new { @style = "width:100px" })
                    @Html.ValidationMessageFor(model => model.Code)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Name)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Name, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Description)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Description, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Description)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Program)
                </td>
                <td>
                    @Html.Telerik().DropDownListFor(model => model.ProgramID).BindTo(Util.GetList(RefType.Program,defaultValue:""))
                    @Html.ValidationMessageFor(model => model.ProgramID)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.MinPackage)
                </td>
                <td>
                    @Html.Telerik().IntegerTextBoxFor(model => model.MinPackage).InputHtmlAttributes(new { @style = "width:50px" })
                    @Html.ValidationMessageFor(model => model.MinPackage)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" value="Save" name="submit">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="button" value="Cancel" name="submit" onclick="javascript:history.go(-1);">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
}
