﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.DAL.Models;
@using Online.Registration.Admin.Models;

@model UpdateViewBundleModel

@{
    ViewBag.Title = "Edit Bundle";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Bundle.ID)

    <fieldset>
        <legend style="margin-right: 500px">Edit:</legend>
        <table>
            <tr>
                <td>
                    <div style="width: 80px">
                        @Html.LabelFor(model => model.Bundle.ID)
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(model => model.Bundle.ID)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Bundle.Code)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Bundle.Code, new { @style = "width:100px" })
                    @Html.ValidationMessageFor(model => model.Bundle.Code)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Bundle.Name)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Bundle.Name, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Bundle.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Bundle.Description)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Bundle.Description, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Bundle.Description)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Bundle.ProgramID)
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => model.Bundle.ProgramID).BindTo(Util.GetList(RefType.Program)))
                    @Html.ValidationMessageFor(model => model.Bundle.ProgramID)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Bundle.MinPackage)
                </td>
                <td>
                    @Html.Telerik().IntegerTextBoxFor(model => model.Bundle.MinPackage).InputHtmlAttributes(new { @style = "width:50px" })
                    @Html.ValidationMessageFor(model => model.Bundle.MinPackage)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Bundle.CreateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Bundle.CreateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.Bundle.CreateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Bundle.LastUpdateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Bundle.LastUpdateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.Bundle.LastUpdateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Bundle.LastAccessID)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Bundle.LastAccessID, new { @readonly = true, @disabled = true, @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Bundle.Active)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Bundle.Active) 
                    @Html.ValidationMessageFor(model => model.Bundle.Active)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" value="Save" name="submit">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="button" value="Cancel" name="submit" onclick="javascript:history.go(-1);">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
    <br />
    if(Model.Bundle.Active == true)
    {
        <div class="header">
            <h3>Program Bundle List </h3>
        </div>
        <a class="t-button t-button-icontext" 
            href='@(Url.Action("AddPgmBdl", "PgmBdlPkgComp", new { bundleID = Model.Bundle.ID, type = RefType.Bundle }))'>
            <span class="t-icon t-add"></span>Add New</a>
        <br /><br />

        Html.Telerik().Grid<PgmBdlPckComponentSearchResults>(Model.PgmBdl)
            .Name("gvwProgramBundle")
            .Sortable()
            .Columns(cols =>
            {
                cols.Command(commands => commands
                    .Custom("Edit")
                    .Text("Edit")
                    .DataRouteValues(route => route.Add(a => a.PgmBdlPckComponentID).RouteKey("id"))
                    .DataRouteValues(route => route.Add(a => a.Type).RouteKey("type"))
                    .SendState(false)
                    .Action("EditPgmBdl", "PgmBdlPkgComp"))
                    .HtmlAttributes(new { style = "text-align: center" })
                    .Width(90)
                    .Title("Action");
                cols.Bound(m => m.Program);
                cols.Bound(m => m.StartDate).Title("Start Date");
                cols.Bound(m => m.EndDate).Title("End Date");
                cols.Bound(m => m.ActiveCheckBox).Title("Active").Encoded(false);
                cols.Bound(m => m.CreateDT).Title("Created On");
                cols.Bound(m => m.LastUpdateDT).Title("Last Updated");
                cols.Bound(m => m.LastAccessID).Title("Last Access");
            })
            .DataBinding(binding => binding.Ajax().OperationMode(GridOperationMode.Client))
            .Pageable(paging => paging.PageSize(Util.GridRowsPerPage))
            .Render();
   
        <br />
        <div class="header">
            <h3>Bundle Package List </h3>
        </div>
        <a class="t-button t-button-icontext" 
            href='@(Url.Action("AddBdlPkg", "PgmBdlPkgComp", new { bundleID = Model.Bundle.ID, type = RefType.Bundle }))'>
            <span class="t-icon t-add"></span>Add New</a>
        <br /><br />

        Html.Telerik().Grid<PgmBdlPckComponentSearchResults>(Model.PgmBdlPckComponents).Name("gvwBundlePackage")
            .Sortable()
            .Columns(cols =>
            {
                cols.Command(command => command
                    .Custom("Edit")
                    .Text("Edit")
                    .DataRouteValues(route => route.Add(a => a.PgmBdlPckComponentID).RouteKey("id"))
                    .DataRouteValues(route => route.Add(a => a.Type).RouteKey("type"))
                    .SendState(false)
                    .Action("EditBdlPkg", "PgmBdlPkgComp"))
                    .HtmlAttributes(new { style = "text-align: center" })
                    .Width(90)
                    .Title("Action");
                cols.Bound(m => m.Package);
                cols.Bound(m => m.StartDate).Title("Start Date");
                cols.Bound(m => m.EndDate).Title("End Date");
                cols.Bound(m => m.ActiveCheckBox).Title("Active").Encoded(false);
                cols.Bound(m => m.CreateDT).Title("Created On");
                cols.Bound(m => m.LastUpdateDT).Title("Last Updated");
                cols.Bound(m => m.LastAccessID).Title("Last Access");
            })
            .DataBinding(binding => binding.Ajax().OperationMode(GridOperationMode.Client))
            .Pageable(paging => paging.PageSize(Util.GridRowsPerPage))
            .Render();
    }
}

