﻿@using Online.Registration.Web.Models;
@using Online.Registration.Web.ViewModels
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.OrderSummaryVM

@{
    ViewBag.Title = "Customer Order Summary";
    var viewBagValue = new ViewDataDictionary();
    viewBagValue.Add("GSTMark", ViewBag.GSTMark);
    viewBagValue.Add("Title", ViewBag.Title);
    viewBagValue.Add("GSTnotif", ViewBag.GSTnotif);
    
    var printsuccess = Session["printsuccess"].ToString2();
    Session["printsuccess"] = null;
    var selectedPrinter = Session["selectedPrinter"].ToString2();
    Session["selectedPrinter"] = null;
    var printErrorMsg = Session[Online.Registration.Web.CommonEnum.SessionKey.PrintErrorMsg.ToString()].ToString2();
    Session[Online.Registration.Web.CommonEnum.SessionKey.PrintErrorMsg.ToString()] = null;
}

@if (Model.PersonalDetailsVM.RegID > 0)
{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    @Html.Partial("_CustomerSummaryDetails", Model, viewBagValue)
}
else
{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    @Html.Partial("_CustomerSummaryDetailsNew", Model, viewBagValue)
}

<style type="text/css">
    .t-window-content
    {
        height: auto !important;
    }
</style>
<script type="text/javascript" language="javascript">
    
    function SubmitRegForm() {
        $('#submit1').val('submit');
        $('#frmRegSummary').submit();
    }

    function DMESAVE()
    {
        var postUrl = '@(Url.Content("~/Registration/PrintDMEOrder"))';
        $.post(postUrl, { regId: '@Model.PersonalDetailsVM.RegID' }, function (data) {
            if(data.toString()!="0") {
                alert("Order Id Saved Sucessfully");
            }
            else {
                alert("This order is already Saved for Print");
            }
        });
    }

    function SelectPrinterWindow() {
    }

    function AlertPrint() {
    }

    $(document).ready(function () {
        var Success = 'Successfully Printed at ' + '@(selectedPrinter)';
        var Fail = 'Printing was unsuccessful at ' + '@(selectedPrinter)' + ' – @(printErrorMsg)';
        if ('@(printsuccess)' == 'PrintSuccessfullyCompleted') {
            $('#lblsucess').text(Success);
            $('#Success').attr('style', 'display: block');
            $('#Success').attr('style', 'color: #7CB44F');
            $('#Fail').attr('style', 'display: none');
            $('#AlertPrint').data('tWindow').center().open();
        }
        else if ('@(printErrorMsg)' != '') {

            $('#lblsucess').text(Fail);
            $('#Success').attr('style', 'display: block');
            $('#Fail').attr('style', 'display: block');
            $('#Fail').attr('style', 'color: #FF0000');
            $('#Success').attr('style', 'color: #FF0000');
            $('#AlertPrint').data('tWindow').center().open();
            $('#ancfail').attr('href', $('#printPreviewURL').attr('href'));
        }
                        
        var pageName = '@Request.QueryString["pageName"]';
        if (pageName == 'supwavoff') {
            $('#btnCancelEoff').hide();
        }

        ///FOLLOWING LINE OF CODE SELECTS THE CONTENT OF THE INPUT WHENEVER FOCUS IS ON THE INPUT
        ///$("input:text").focus(function() { $(this).select(); } );
        
        $("#QueueNo").keypress(function (e) {
            if(e.keyCode == 13) {
                return false;
            }
            else {
                return numbersonly(e, false);
            }
        });

        $("#Remarks").keypress(function (e) {
            if(e.keyCode == 13)
            {
                return false;
            }
        });

     /*   var path = '@(Util.GetAbsoluteAppPath("/Flash/ZeroClipboard.swf"))';
        ZeroClipboard.setMoviePath(path);
        var btns = $('button[id^="btnCopy_"]');

        $.each(btns, function (index, btn) {

            var clip = new ZeroClipboard.Client();

            clip.addEventListener('mousedown', function () {
                clip.setText($(btn).prev().val());
            });

            clip.glue($(btn).attr("id"));

        });*/

        $("#btnCancelEoff").click(function () {
            if (confirm("Are you sure you wish to Cancel?")) {
                // var reason=prompt("Please enter the reason for cancelation","No reason provided.");
                reason = prompt("Please enter the reason for cancelation. \n (Maximum Length 150 Characters)", "No reason provided.");
                
                if (reason == null) {
                    return false;
                }

                if (reason.length > 150) {
                    alert('Enterd Cancel reason length exceeds \n more than 150 characters');
                    reason = prompt("Please enter the reason for cancelation. \n (Maximum Length 150 Characters)", "No reason provided.");
                }

                if (reason) {
                    $('#hdnReasonCancel').val(reason);
                    $('#submit1').val('cancel');
                } 
                else if (reason == '') {
                    $('#submit1').val('cancel');
                } 
                else if (reason == null) {
                    return false;
                }
            }
            else {
                return false;
            }
        });
    });

    //      End Sutan Added code 6Th March 2013
    /********** GENERIC FUNCTIONALITY **********/

    $.fn.replace = function () {
        var $el = $(this).fadeOut();
        $el.clone().insertBefore($el).fadeIn();
        $el.remove();
    }

    $.fn.fly = function (target, callback) {
        var callback = callback || function () {};
        var $target = $(target);
        target = $target.get(0);
        return $(this).each(function (i, el) {
            var $el = $(el);
            var $clone = $el
                .clone()
                .css({
                    position: "absolute",
                    left: el.offsetLeft,
                    top: el.offsetTop,
                    width: el.offsetWidth,
                    height: el.offsetHeight,
                    padding: 0,
                    margin: 0
                })
                .appendTo("body");
            var targetStyle = target ? {
                width: target.offsetWidth,
                height: target.offsetHeight,
                top: target.offsetTop,
                left: target.offsetLeft
            } : {
                width: 0,
                height: 0,
                opacity: 0.4,
                top: 0,
            };

            var isLast = (i == $(this).length - 1);
            $clone.animate(targetStyle, function () {
                $clone.remove();
                if (isLast) callback();
            });
        });
    }

    $.fn.disappear = function () {
        $(this).css("visibility", "hidden");
    }
    $.fn.appear = function () {
        $(this).css("visibility", "visible");
    }

    // http://ejohn.org/blog/javascript-array-remove/
    Array.prototype.remove = function (from, to) {
        var rest = this.slice((to || from) + 1 || this.length);
        this.length = from < 0 ? this.length + from : from;
        return this.push.apply(this, rest);
    };
    if (window.history.forward(1) != null) {
        window.history.forward(1);
    }
</script>


