﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.Models;
@using Online.Registration.Web.CommonEnum;
@using Online.Registration.DAL.Models;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.SubscriberICService;
@model Online.Registration.Web.ViewModels.PersonalDetailsVM

@{
    ViewBag.Title = "Personal Details";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    var prevButton = DeviceSaleSteps.Accessory.ToInt();
    var nextButton = DeviceSaleSteps.CustomerSummary.ToInt();
    var GSTnotif = ViewData["GSTnotif"].ToString2();
    var GSTMark = ViewData["GSTMark"].ToString2();
    var viewBagValue = new ViewDataDictionary();
    viewBagValue.Add("GSTMark", GSTMark);
    viewBagValue.Add("adjustColumn", "col-sm-11");
    viewBagValue.Add("FromOutrightPurchase", true);
    var dropObj = (DropFourObj)Session[SessionKey.DropFourObj.ToString()];
    var malaysianID = Util.GetNationalityID(NATIONALITY.Malaysian);
    var NRICType = Util.GetIDCardTypeID(IDCARDTYPE.NRIC);
    var minAge = Session["RegMobileReg_ProgramMinAge"].ToInt();
    var idCardNoForNewUser = Session[SessionKey.IDCardNo.ToString()].ToString2();
    var idCardTypeForNewUser = Session[SessionKey.IDCardTypeID.ToString()];
    var idCardTypeName = Session[Online.Registration.Web.CommonEnum.SessionKey.IDCardTypeName.ToString2()].ToString2();
    var kadInfoResp = (Online.Registration.Web.AMRSvc.RetrieveMyKadInfoRp)Session[Online.Registration.Web.CommonEnum.SessionKey.BiometricResponse.ToString()];
    var biometricCheck = Session["RegMobileReg_BiometricVerify"].ToString2().ToLower();
    var existingUser = Session[SessionKey.PPID.ToString()] == "E";
    var hasAccessory = false;
    
    if (dropObj.mainFlow != null)
    {
        hasAccessory = dropObj.mainFlow.SelectedAccessory != null && dropObj.mainFlow.SelectedAccessory.Count > 0;
    }
}

@using (Html.BeginForm("PersonalDetails", "Accessory", FormMethod.Post, new { id = "frmPersonalDetails", enctype = "multipart/form-data", autocomplete = "off", autoCompleteType = "disable" }))
{
    @Html.Hidden("TabNumber");
    @Html.HiddenFor(model => model.OutletCode)
    @Html.HiddenFor(model => model.OutletChannelId)
    @Html.HiddenFor(model => model.SalesCode)
    @Html.HiddenFor(model => model.SalesStaffCode)
    <div class="container">
        <div class="isell-base">
            @{
                Html.RenderPartial("_AccountHolderName", viewBagValue);
            }
            <div class="row">
                <div class="col-sm-12 green-bg">
                    <p class="font-24">
                        Outright Accessories
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="steps">
                        <li class="shownum">
                            <div class="num">
                                1</div>
                            <p>
                                My Order</p>
                        </li>
                        <li>
                            <div class="line">
                            </div>
                        </li>
                        <li class="shownum">
                            <div class="selected">
                                2</div>
                            <p>
                                My Details</p>
                        </li>
                        <li>
                            <div class="line">
                            </div>
                        </li>
                        <li class="shownum">
                            <div class="num">
                                3</div>
                            <p>
                                Order Summary</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 border-top">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="principle">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="device-title">
                                        <span>Please key in your details</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="font-16">@(ViewBag.GSTnotif)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-top">
                <div class="col-sm-9" style="display:inline-block; height:100%; font-size:16px;">
                    <div id="Plan_Error" style="color:#ff0000; font-weight:bold; text-align:left; font-size:16px; padding:10px 0px 0px 10px">
                        @ViewBag.ErrorMessage
                    </div>
                    @{
                        Html.RenderPartial("_PersonalDetailsForOutright", Model, viewBagValue);
                    }
                </div>
                <div class="col-sm-3" style="width:28%;">
                    @{
                        OrderSummaryVM objSummary = new OrderSummaryVM();
                        var orderSummary = dropObj.mainFlow.orderSummary;

                        if (dropObj.mainFlow != null && orderSummary != null)
                        {
                            objSummary = orderSummary;
                        }
                    }
                    @Html.Partial("_OrderCaptureSummary", objSummary, viewBagValue)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 process-btn">
                    <footer>
                        <navi>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-1" id="back">
									    <div class="btn isell-btn" id="btnNext" onclick="$('#TabNumber').val(@(prevButton));$('#frmPersonalDetails').submit();">< Back</div>
								    </div>
							        <div class="col-sm-9" id="cancel">
								        <div class="btn isell-btn"  id="btnNext" data-toggle="modal" data-target="#cancel-pop">< Cancel</div>
							        </div>
                                    <div class="col-sm-2">
                                        <div class="btn isell-next" id="btnNextPage">Next <span>></span></div>
                                    </div>
                                </div>
                            </div>
                        </navi>
                    </footer>

                    <div class="modal fade" id="BiometricInfoOverwrite" tabindex="-1" role="dialog" aria-labelledby="plan-details" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content cancel-step">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span class="close-btn">Close</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="sm-col-12">
                                        Do you want to overwrite the existing data with Biometric data ?</div>
                                    <ul class="sm-col-12 kill-padding">
                                        <a href="#" class="pop-btn" id="btnOverwriteYes">
                                            <li class="sm-col-6">Yes </li>
                                        </a>
                                        <a href="#" class="pop-btn" data-dismiss="modal">
                                            <li class="sm-col-6" class="close">No </li>
                                        </a>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        var hasAccessory = '@(hasAccessory)';

        if (hasAccessory == "False") {
            $('#h3accessoryHeader').hide();
            $('#h3accessoryDetails').hide();
        }

        $('#btnNextPage').click(function () {
            debugger;
            var result = validatePersonalData();

            if (result == true) {
                $('#TabNumber').val(@(nextButton));
                $('#submitType').val('');
                $('#frmPersonalDetails').submit();
            }
        });
    });
</script>


