﻿@using Online.Registration.Web.ViewModels
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.AccessoriesVM

@{
    ViewBag.Title = "SelectAccessory";
    Layout = "~/Views/Shared/_NewLayout.cshtml";

    var dropObj = (Online.Registration.Web.Models.DropFourObj)Session[Online.Registration.Web.CommonEnum.SessionKey.DropFourObj.ToString()];
    var GSTMark = ViewData["GSTMark"].ToString2();
    var viewBagValue = new ViewDataDictionary();
    viewBagValue.Add("GSTMark", ViewBag.GSTMark);
    viewBagValue.Add("FromOutrightPurchase", true);
}
@using (Html.BeginForm("SelectAccessory", "Accessory", FormMethod.Post, new { id = "frmSelectAccessory", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    @Html.Hidden("TabNumber");
    @Html.Hidden("ButtonClicked");
    @Html.Hidden("isOutrightAccessory", true);
    <div class="container">
        <div class="isell-base">
            @{
                Html.RenderPartial("_AccountHolderName", viewBagValue);
            }
            <div class="row">
                <div class="col-sm-12 green-bg">
                    <p class="font-24">
                        Outright Accessories
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="steps">
                        <li class="shownum">
                            <div class="selected">
                                1</div>
                            <p>
                                My Order</p>
                        </li>
                        <li>
                            <div class="line">
                            </div>
                        </li>
                        <li class="shownum">
                            <div class="num">
                                2</div>
                            <p>
                                My Details</p>
                        </li>
                        <li>
                            <div class="line">
                            </div>
                        </li>
                        <li class="shownum">
                            <div class="num">
                                3</div>
                            <p>
                                Order Summary</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 border-top">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="principle">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="device-title">
                                        <span>Select your Accessories</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="font-16">@(ViewBag.GSTnotif)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-top">
                <div class="col-sm-9" style="display:inline-block; height:100%; font-size:16px;">
                    @Html.Partial("_SearchAccessory", Model, viewBagValue)
                </div>
                <div class="col-sm-3" style="width:28%;">
                    @{
                        Html.RenderPartial("_OrderCaptureSummary", viewBagValue);
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 process-btn">
                    <footer>
                        <navi>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-1" id="back">
									    @*<div class="btn isell-btn" id="btnNext" onclick="$('#TabNumber').val(14);$('form').submit();">< Back</div>*@
								    </div>
							        <div class="col-sm-9" id="cancel">
								        @*<div class="btn isell-btn"  id="btnNext" data-toggle="modal" data-target="#cancel-pop">< Cancel</div>*@
							        </div>
                                    <div class="col-sm-2">
                                        <div class="btn isell-next" id="btnNextPage">Next <span>></span></div>
                                    </div>
                                </div>
                            </div>
                        </navi>
                    </footer>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    var searchAccessoryURL = '@(Url.Content("~/Registration/SearchAccessory"))';
    var addAccessoryURL = '@(Url.Content("~/Registration/AddAccessory"))';
    var removeAccessoryURL = '@(Url.Content("~/Registration/removeAccessory"))';
    var loadAccessoryURL = '@(Url.Content("~/Registration/LoadAccessory"))';
    var GSTMark = '@(GSTMark)';

    $('#btnNextPage').click(function () {
        debugger;
        var accessoryResult = $('#tempResult').html();

        if (accessoryResult === '') {
            $('#Plan_Error').html("Please select the accessories");
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        }
        $('#TabNumber').val(3);
        $('#submitType').val('');
        $('#frmSelectAccessory').submit();
    });
</script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js2/accessory.js")"></script>