﻿@*-----------------------------------------------------------------------------------
    //  Developer   : Ashley Ow
    //  File Name   : UploadDocuments.cshtml
    //  Purpose     : Editor template for UploadDocVM type to capture upload information
    //  Version Control:
    //  Version     Date         Change Made
    //  1.0         05 Nov 2015  Init
    //---------------------------------------------------------------------------------*@
@using Online.Registration.Web.CustomExtension
@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.ThirdPartyAuthUploadDocVM

@Html.HiddenFor(m => m.LOAIdFile)
@Html.HiddenFor(m => m.LOAIdFileName)
@Html.HiddenFor(m => m.FrontIdFile)
@Html.HiddenFor(m => m.FrontIdFileName)
@Html.HiddenFor(m => m.BackIdFile)
@Html.HiddenFor(m => m.BackIdFileName)
@Html.HiddenFor(m => m.ThirdPartyFrontIdFile)
@Html.HiddenFor(m => m.ThirdPartyFrontIdFileName)
@Html.HiddenFor(m => m.ThirdPartyBackIdFile)
@Html.HiddenFor(m => m.ThirdPartyBackIdFileName)


<div id="uploadDocs">
    <div class="col-sm-12">
        <p class="details-title">Upload required documents</p>
    </div>
    <div class="col-sm-6 form">
        <!--Start Justification-->
        <div class="col-sm-4">
            <p class="inner-label">Justification</p>
        </div>
        <div class="col-sm-8">
            @Html.TextAreaFor(m => m.Justification, new { @class = "form-control", placeholder = "Enter justification" })
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="col-sm-6 form">
        <!--Start Queue number-->
        <div class="col-sm-4">
            <p class="inner-label">Queue number</p>
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.QueueNum, new { @class = "form-control", placeholder = "Enter queue number" })
        </div>
        <div class="clearfix"></div>
        <!--Start Remarks-->
        <div class="col-sm-4">
            <p class="inner-label">Remarks</p>
        </div>
        <div class="col-sm-8">
            @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", placeholder = "Enter remarks" })
        </div>
        <div class="clearfix"></div>
    </div>

    <!--Start Letter Of Authorization-->
    <div class="col-sm-8 form">
        <div class="col-sm-4">
            <p class="inner-label">Letter Of Authorization</p>
        </div>
        <div class="col-sm-4">
            <label class="fileLabel">
                <div class="upload-btn" style="display: none">
                    <input accept="jpg|png|gif|jpeg|bmp|tiff;capture=camera"
                           id="UploadDoc_loaFileSelector"
                           file-store-id="@Html.IdFor(n=>n.LOAIdFile)" file-name-id="@Html.IdFor(n=>n.LOAIdFileName)" file-name-display-id="loaFileName"
                           name="UploadDoc.LOAIdFile" type="file">
                </div>
                <div class="upload-btn" id="btnLOAUpload">
                    Upload
                </div>
            </label>
        </div>
        <div class="col-sm-4" id="id-upload-filesLOA">
            <p class="file-label" id="loaFileName-container" style="display: none">
                <label id="loaFileName"></label>
                <img onclick="clearUploadDoc($('#UploadDoc_loaFileSelector'));" class="removeUploadedDoc" id="btnClearLOADoc" />
            </p>
        </div>
        <div class="clearfix"></div>

        <div class="col-sm-12">
            <p class="details-title">Owner's ID Image Upload</p>
        </div>

        <!--Start ID Front-->
        <div class="col-sm-4">
            <p class="inner-label">*ID (front)</p>
        </div>
        <div class="col-sm-4">
            <label class="fileLabel">
                <div class="upload-btn" style="display: none">
                    <input accept="jpg|png|gif|jpeg|bmp|tiff;capture=camera"
                           id="UploadDoc_frontIdFileSelector"
                           file-store-id="@Html.IdFor(n=>n.FrontIdFile)" file-name-id="@Html.IdFor(n=>n.FrontIdFileName)" file-name-display-id="frontFileName"
                           name="UploadDoc.FrontIdFile" type="file">
                </div>
                <div class="upload-btn" id="btnFrontUpload">
                    Upload
                </div>
            </label>
        </div>
        <div class="col-sm-4" id="id-upload-filesFront">
            <p class="file-label" id="frontFileName-container" style="display: none">
                <label id="frontFileName"></label>
                <img onclick="clearUploadDoc($('#UploadDoc_frontIdFileSelector'));" class="removeUploadedDoc" id="btnClearFrontDoc" />
            </p>
        </div>
        <div class="clearfix"></div>
        <!--Start ID Back-->
        <div class="col-sm-4">
            <p class="inner-label">*ID (back)</p>
        </div>
        <div class="col-sm-4">
            <label class="fileLabel">
                <div class="upload-btn" style="display: none">
                    <input accept="jpg|png|gif|jpeg|bmp|tiff;capture=camera"
                           id="UploadDoc_backIdFileSelector"
                           file-store-id="@Html.IdFor(n=>n.BackIdFile)" file-name-id="@Html.IdFor(n=>n.BackIdFileName)" file-name-display-id="backFileName"
                           name="UploadDoc.BackIdFile" type="file">
                    Upload
                </div>
                <div class="upload-btn" id="btnBackUpload">
                    Upload
                </div>
            </label>
        </div>
        <div class="col-sm-4" id="id-upload-filesBack">
            <p class="file-label" id="backFileName-container" style="display: none">
                <label id="backFileName"></label>
                <img onclick="clearUploadDoc($('#UploadDoc_backIdFileSelector'));" class="removeUploadedDoc" id="btnClearBackDoc" />
            </p>
        </div>
        <div class="clearfix"></div>

        <div class="col-sm-12">
            <p class="details-title">Authorized 3rd Party ID Image Upload</p>
        </div>
        <!--Start 3rd Party ID Front-->
        <div class="col-sm-4">
            <p class="inner-label">*ID (front)</p>
        </div>
        <div class="col-sm-4">
            <label class="fileLabel">
                <div class="upload-btn" style="display: none">
                    <input accept="jpg|png|gif|jpeg|bmp|tiff;capture=camera"
                           id="UploadDoc_thirdPartyfrontIdFileSelector"
                           file-store-id="@Html.IdFor(n=>n.ThirdPartyFrontIdFile)" file-name-id="@Html.IdFor(n=>n.ThirdPartyFrontIdFileName)" file-name-display-id="thirdpartyfrontFileName"
                           name="UploadDoc.ThirdPartyFrontIdFile" type="file">
                </div>
                <div class="upload-btn" id="btnThirdPartyFrontUpload">
                    Upload
                </div>
            </label>
        </div>
        <div class="col-sm-4" id="id-upload-filesFront">
            <p class="file-label" id="thirdpartyfrontFileName-container" style="display: none">
                <label id="thirdpartyfrontFileName"></label>
                <img onclick="clearUploadDoc($('#UploadDoc_thirdPartyfrontIdFileSelector'));" class="removeUploadedDoc" id="btnClearThirdPartyFrontDoc" />
            </p>
        </div>
        <div class="clearfix"></div>
        <!--Start 3rd Party ID Back-->
        <div class="col-sm-4">
            <p class="inner-label">*ID (back)</p>
        </div>
        <div class="col-sm-4">
            <label class="fileLabel">
                <div class="upload-btn" style="display: none">
                    <input accept="jpg|png|gif|jpeg|bmp|tiff;capture=camera"
                           id="UploadDoc_thirdpartybackIdFileSelector"
                           file-store-id="@Html.IdFor(n=>n.ThirdPartyBackIdFile)" file-name-id="@Html.IdFor(n=>n.ThirdPartyBackIdFileName)" file-name-display-id="thirdpartybackFileName"
                           name="UploadDoc.ThirdPartyBackIdFile" type="file">
                    Upload
                </div>
                <div class="upload-btn" id="btnThirdPartyBackUpload">
                    Upload
                </div>
            </label>
        </div>
        <div class="col-sm-4" id="id-upload-filesBack">
            <p class="file-label" id="thirdpartybackFileName-container" style="display: none">
                <label id="thirdpartybackFileName"></label>
                <img onclick="clearUploadDoc($('#UploadDoc_thirdpartybackIdFileSelector'));" class="removeUploadedDoc" id="btnClearThirdPartyBackDoc" />
            </p>
        </div>
    </div>
</div>


<script type="text/javascript">
    var docSelector = "#uploadDocs input[type='file']";
    $(document).ready(function () {
        $(function () {
            var url = '@(Url.Content("~/Registration/UploadImageNew"))';
            var formdata = false;
            $(docSelector).change(function (event) {
                debugger;
                var fileStoreElement = $("#" + $(this).attr("file-store-id"));
                var fileNameElement = $("#" + $(this).attr("file-name-id"));
                var fileNameDisplayElement = $("#" + $(this).attr("file-name-display-id"));
                var containerElement = $("#" + $(this).attr("file-name-display-id") + "-container");
                //validation for upload images -ram
                var ext = $(this).val().split('.').pop().toLowerCase();
                if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg', 'tiff', 'bmp']) == -1) {
                    event.preventDefault();
                    alert('Please upload valid image!');
                    clearUploadDoc($(this));
                    return false;
                }

                if (window.FormData !== undefined) {
                    var i = 0,
                        len = this.files.length,
                        img, reader, file;
                    formdata = false;
                    ///Check for FormData support in browser
                    if (window.FormData) {
                        formdata = new FormData();
                    }
                    ///Check if length greater than 0 then only proceed
                    if (len > 0) {
                        file = this.files[0];

                        if (window.FileReader) {
                            ///Append the file object to post the file request to server side
                            if (formdata) {
                                formdata.append("default_export_filename", file);
                            }

                            ///Post the file details to server side script
                            if (formdata) {
                                $.ajax({
                                    url: url,
                                    type: "POST",
                                    data: formdata,
                                    processData: false,
                                    contentType: false,
                                    success: function (Data) {
                                        //Assign the processed imageUrl returned from the server side to imgCustPhoto img
                                        $(this).attr("src", Data.imageUrl).fadeIn();
                                        fileStoreElement.val(Data.imageUrl);
                                        fileNameElement.val(file.name);
                                        fileNameDisplayElement.text(file.name);
                                        containerElement.css('display', 'block');
                                    },
                                    error: function (xhr, err) {
                                        ///WHOEVER INTEGRATES THE CODE PLEASE UNCOMMENT THE BELOW CODE IN CASE OF UNEXPECTED RESULTS.
                                        //alert("readyState: "+xhr.readyState+"\nstatus: "+xhr.status);
                                        //alert("responseText: "+xhr.responseText);
                                    }
                                });
                            }
                        }
                    }
                }
            }); // EOF
        });

    });
    function clearUploadDoc(e) {
        var fileStoreElement = $("#" + e.attr("file-store-id"));
        var fileNameElement = $("#" + e.attr("file-name-id"));
        var fileNameDisplayElement = $("#" + e.attr("file-name-display-id"));
        var containerElement = $("#" + e.attr("file-name-display-id") + "-container");
        fileStoreElement.val('');
        fileNameElement.val('');
        containerElement.css('display', 'none');
        fileNameDisplayElement.text('');
    }
    $(docSelector).each(function (index) {
        var fileNameElement = $("#" + $(this).attr("file-name-id"));
        var fileNameDisplayElement = $("#" + $(this).attr("file-name-display-id"));
        var containerElement = $("#" + $(this).attr("file-name-display-id") + "-container");
        //Display file name if hidden value shown value
        if (fileNameElement.val() != "") {
            fileNameDisplayElement.text(fileNameElement.val());
            containerElement.css('display', 'block');
        }
    });
</script>
