﻿@using Online.Registration.Web.SmartViewModels;

@{var sublines = (List<SublineVM>)Session["RegMobileReg_SublineVM"]; }
@if (sublines != null)
{
    foreach (var subline in sublines)
    { 
        <div style="border-style:solid;border-width:1px;border-radius:5px;margin:5px;padding:3px 3px 5px 3px;width:300px;float:left">
            <table width="100%">
                <tr>
                    <td>
                        <div style="float:left;font-size:large;">
                            <b>SUPPLEMENTARY LINE @subline.SequenceNo</b>
                        </div>
                        @if (subline.CanRemove)
                        { 
                            <div style="float:right">
                                <button class="button-remove" type="submit" value="Back" onclick="SubmitForm(@subline.SequenceNo);">
                                </button>
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td><b>Plan: </b>@subline.BundleName - @subline.PackageName</td>
                </tr>
                @if (subline.SelectedMobileNos.Count() > 0)
                {
                    for (int i = 0; i < subline.SelectedMobileNos.Count(); i++)
                    {
                        if (!string.IsNullOrEmpty(subline.SelectedMobileNos[i])) 
                        { 
                            <tr>
                                <td valign="top"><b>@string.Format("Desire No: ", i + 1)</b>@(subline.SelectedMobileNos[i])</td>
                            </tr>
                        }
                    }
                }
                @if (subline.SelectedVasNames != null)
                {
                    <tr>
                        <td valign="top"><b>Value Added Services:-</b>
                    @foreach (var name in subline.SelectedVasNames)
                    {
                        <br />@name
                    }
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
}