﻿@using Online.Registration.Web.SmartViewModels
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@using Telerik.Web.Mvc.UI;
<script type="text/javascript">
<!-- 
    if (window.history.forward(1) != null) {
        window.history.forward(1);
    }
//-->  
</script>
@model Online.Registration.Web.SmartViewModels.PersonalDetailsVM
@{
    if (Model == null)
    {
        return;
    }
    ViewBag.Title = "Customer Order Summary";
    //Layout = "~/Areas/Cashier/Views/Shared/_Layout.cshtml";
   // Layout = "~/Areas/Cashier/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_Layout.cshtml";


    var isCopy = Session["RegMobileReg_FromSearch"] == null ? false : (bool)Session["RegMobileReg_FromSearch"];
    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" : "";
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var hasSIM = string.IsNullOrEmpty(Model.RegSIMSerial) ? false : true;
    var hasIMEI = !string.IsNullOrEmpty(Model.RegIMEINumber);
    var simOnly = Model.RegTypeID == Util.GetIDByCode(RefType.RegType, Settings.Default.RegType_PlanOnly) ? true : false;
    Online.Registration.Web.UserSvc.GetAPIStatusMessagesResp ApiMessages = null;
    string sessionStatusCodeDescription = string.Empty;
    //List<string> cancelReasons = Util.GetCancellationReasons();
    if (!ReferenceEquals(Session["ApiMessages"], null))
    {
        ApiMessages = (Online.Registration.Web.UserSvc.GetAPIStatusMessagesResp)Session["ApiMessages"];
    }

    var isMISM = Session["SimType"].ToString2();
    var simType = string.Empty;
    if (isMISM.ToString().ToLower() == "false")
    {
        simType = "Normal";
    }
    else
    {
        simType = "MISM";
    }
    var simTitleDisplayAddOn = "";
    if (simType == "MISM")
    {
        simTitleDisplayAddOn = "MISM SIM Serial";
    }
    else
    {
        simTitleDisplayAddOn = "SIM Serial";
    }
    
    //string imposFileStatus = "";
    //bool isIMPOSFile = false;
    //string imposFileGetStatus = System.Configuration.ConfigurationManager.AppSettings["ImposFileStatus"].ToString();
    //string imposFileNotProcessed = System.Configuration.ConfigurationManager.AppSettings["ImposFileNotProcessed"].ToString();
    //if (Roles.IsUserInRole("MREG_CH") && Model.RegID > 0)
    //{
    //    isIMPOSFile = Util.IsImposFile(Model.RegID, Model.RegTypeID, out imposFileStatus);

    //    if (imposFileStatus == "A")
    //    {
    //        Model.StatusCode = Settings.Default.Status_RegCan;
    //        Model.StatusID = Util.GetIDByCode(RefType.Status, Settings.Default.Status_RegCan);
    //        Model.Remarks = System.Configuration.ConfigurationManager.AppSettings["ImposFileAborted"].ToString();
    //    }
    //}
}
<!-- Centre column area -->
<div id="center">
@using (Html.BeginForm("MobileRegSummary", "Cashier", FormMethod.Post, new { id = "frmMobileRegSummary", @class = "overlayonsubmit", processmsg = "Loading" }))
{ 
    @Html.Hidden("hdnReasonCancel")
    @Html.HiddenFor(a => a.TabNumber)
     @Html.ValidationSummary(true)
               @Html.Hidden("submit1")          
                        @Html.HiddenFor(model => model.RegIMEINumber)
                        @Html.HiddenFor(model => model.RegSIMSerial)
                        @Html.HiddenFor(model => model.Customer.FullName)
                        @Html.HiddenFor(model => model.Customer.Gender)
                        @Html.HiddenFor(model => model.Customer.IDCardNo)
                        @Html.HiddenFor(model => model.Customer.ContactNo)
                        @Html.HiddenFor(model => model.Customer.EmailAddr)
                        @Html.HiddenFor(model => model.MOCStatus)
                        @Html.HiddenFor(model => model.Liberlization_Status)
                        @Html.HiddenFor(model => model.RegID)
                        @Html.HiddenFor(model => model.Customer.LanguageID)
     <div class="header-title">
            Customer Order Summary
            <p class="font-16">@(ViewBag.GSTnotif)</p>
        </div>
        <div class="center_box">
            <div class="content_white">
                <label runat="server" id="lblErrMsg" style="color: Red">
                </label>
                <div style="display: block;">
                    <div class="summary-title-bar">
                        A. Customer Information
                        @if (Model.RegID != 0)
                        {
                            if (Request.Headers["User-Agent"].ToLower().Contains("ipad"))
                            {
                                    
                            
                            <a href="#" style="text-decoration: none; border: 0;" onclick="DMESAVE()">
                                <img alt="" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                                Print Queue</a>
                                                
                                            var print = "~/Registration/PrintContractDetails?id=" + Model.RegID + "&status=" + Model.StatusID + "";
                            @Html.Partial("_NetworkPrintPartial", print)

                            }
                            else
                            {
                                   
                            <a id="printPreviewURL" href="@(Url.Content("~/Cashier/Cashier/PrintContractDetails?id=" + Model.RegID + "&status=" + Model.StatusID))" target="_blank" style="text-decoration:none; border:0;" >
                                                    <img alt="" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                                                    Print </a>

                            }
                                                                if (Model.StatusCode != Settings.Default.Status_RegCan && Model.StatusCode != Settings.Default.Status_RegClosed && Model.StatusCode.ToUpper() != Settings.Default.Status_RegCan_SK.ToUpper())
                                                                {

                                                                    if (Roles.IsUserInRole("MREG_SK") && Model.RegTypeID == Util.GetIDByCode(RefType.RegType, Settings.Default.RegType_DevicePlan))
                                                                    {

                                                                        if (System.Configuration.ConfigurationManager.AppSettings["ePetrolStatus"].ToString() == "ON" && Model.StatusID == 30)
                                                                        {
                                                <button id="btnIMEI" type="button">
                                                    IMEI</button>
                                                                        }
                                                                        else if (System.Configuration.ConfigurationManager.AppSettings["ePetrolStatus"].ToString() == "OFF" && Model.StatusID < 22)
                                                                        {
                                                <button id="btnIMEI" type="button">
                                                    IMEI</button>
                                                                        }
                                                                    }
                                                                    if (Roles.IsUserInRole("MREG_SK") && sessionRegType != (int)MobileRegType.DeviceOnly)
                                                                    {
                                                                        if (System.Configuration.ConfigurationManager.AppSettings["ePetrolStatus"].ToString() == "ON" && Model.StatusID == 30)
                                                                        {
                                                <button id="btnSIM" type="button">
                                                    SIM</button>
                                                                        }
                                                                        else if (System.Configuration.ConfigurationManager.AppSettings["ePetrolStatus"].ToString() == "OFF" && Model.StatusID < 22)
                                                                        {
                                                <button id="btnSIM" type="button">
                                                    SIM</button>
                                                                        }
                                                                    }
                                                                }
                        }
                    </div>
                    <div style="width: 95%; margin: 0 auto; padding: 20px;">
                        <table align="center">
                            @if (Model.RegID != 0)
                            { 
                               
                                <tr valign="top">
                                    <td id="summary-label">@Html.LabelFor(model => model.RegID)
                                    </td>
                                    <td id="summary-seperator">
                                        :
                                    </td>
                                    <td id="summary-data">
                                        @(Model.RegID == 0 ? string.Empty : Model.RegID.ToString2())
                                    </td>
                                    <td id="summary-label">@Html.LabelFor(model => model.QueueNo)
                                    </td>
                                    <td id="summary-seperator">
                                        :
                                    </td>
                                    <td id="summary-data-nowidth">@Model.QueueNo
                                    </td>
                                </tr>
                               
                            
                            }
                              
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => model.Customer.FullName)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@Util.GetNameByID(RefType.CustomerTitle, Model.Customer.CustomerTitleID)
                                    @Model.Customer.FullName
                                </td>
                                <td id="summary-label">@Html.LabelFor(model => model.Customer.IDCardNo)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data-nowidth">@Model.Customer.IDCardNo
                                </td>
                            </tr>
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => model.Customer.IDCardType)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@Util.GetNameByID(RefType.IDCardType, Model.Customer.IDCardTypeID)
                                </td>
                                 <td id="summary-label">@Html.LabelFor(model => model.Liberlization_Status)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data-nowidth">@Model.Liberlization_Status.ToString2()
                                </td>
                            </tr>
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => model.Customer.DateOfBirth)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">
                                    @if ((Model.DOBDay == 0 && Model.DOBMonth == 0 && Model.DOBYear == 0) || (Model.DOBDay == null && Model.DOBMonth == null && Model.DOBYear == null))
                                    {
                                        if (DateTime.MinValue != Model.Customer.DateOfBirth)
                                        {
                                        @Util.FormatDate(Model.Customer.DateOfBirth)
                                        }
                                    }
                                    else
                                    {
                                        @Html.Raw(Model.DOBDay + "/" + Model.DOBMonth + "/" + Model.DOBYear)
                                    }
                                </td>
                                <td id="summary-label">@Html.LabelFor(model => model.Customer.NationalityID)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data-nowidth">@Util.GetNameByID(RefType.Nationality, Model.Customer.NationalityID)
                                </td>
                            </tr>
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => model.Customer.ContactNo)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@Model.Customer.ContactNo.ToString2()
                                </td>
                                @{
                                                 string raceName = Util.GetNameByID(RefType.Race, Model.Customer.RaceID);
                                      }
                                @if (raceName.ToString2() != string.Empty)
                                {
                                <td id="summary-label">@Html.LabelFor(model => model.Customer.Race)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data-nowidth">
                               

                               @raceName
                                </td>
                                }
                            </tr>
                            <tr valign="top" style="display:none;" >
                                <td id="summary-label">@Html.LabelFor(model => model.Customer.Gender)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@(Model.Customer.Gender.ToString2() == "M" ? "Male" : "Female")
                                </td>
                                @if (Model.Customer.EmailAddr != null && Model.Customer.EmailAddr != "")
                                {
                                <td id="summary-label">@Html.LabelFor(model => model.Customer.EmailAddr)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                
                                <td id="summary-data">@Model.Customer.EmailAddr.ToString2()
                                </td>
                                }
                                
                            </tr>
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => model.MOCStatus)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@Model.MOCStatus.ToString2()
                                </td>
                                @*<td id="summary-label">@Html.LabelFor(model => model.Liberlization_Status)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data-nowidth">@Model.Liberlization_Status.ToString2()
                                </td>*@
                                @if (Model.Customer.EmailAddr.ToString2() != "")
                                {
                                <td id="summary-label">
                                    @*@Html.LabelFor(model => model.Customer.LanguageID)*@
                                    Email
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>                                
                                <td id="summary-data-nowidth">
                                    @*@Util.GetNameByID(RefType.Language, Model.Customer.LanguageID)*@
                                    @Model.Customer.EmailAddr.ToString2()
                                </td>
                                }
                            </tr>
                            <tr valign="top">
                                <td id="summary-label">Account Bill Cycle
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@Model.BillingCycle
                                </td>
                                <td id="summary-label">
                                </td>
                                <td id="summary-seperator">
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => model.StatusID)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@Util.GetNameByID(RefType.Status, Model.StatusID)
                                </td>
                                <td id="summary-label">
                                </td>
                                <td id="summary-seperator">
                                </td>
                                <td>
                                </td>
                            </tr>
                            @if (!ReferenceEquals(Model.MessageCode, string.Empty))
                            {
                                if (!ReferenceEquals(Model.MessageDesc, null))
                                {
                                <tr valign="top">
                                    @if (Model.StatusID == 21)
                                    {
                                         
                                        <td id="summary-label">@Html.LabelFor(model => model.MessageDesc)
                                        </td>
                                        <td id="summary-seperator">
                                            :
                                        </td>
                                        <td id="summary-data">
                                            <div style="width:150px; word-wrap:break-word;" title="@Model.MessageDesc">
                                                @if (@Model.MessageDesc.ToString().Length > 45)
                                                {
                                                    @Model.MessageDesc.Substring(0, 45) @Html.Raw("..")
                                                }
                                                else
                                                {
                                                    @Model.MessageDesc
                                                }</div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td id="summary-label">
                                            <b>@Html.LabelFor(model => model.MessageDesc)</b>
                                        </td>
                                        <td id="summary-seperator">
                                            :
                                        </td>
                                        <td id="summary-data">@Model.MessageDesc.Split('|')[0]
                                        </td>
                                    }
                                </tr>
                                }
                            }
                             @if (Model.RegID != 0)
                             { 
                             <tr valign="top">
                                    <td id="summary-label">@Html.LabelFor(model => model.Remarks)
                                    </td>
                                    <td id="summary-seperator">
                                        :
                                    </td>
                                    <td id="summary-data">@Model.Remarks
                                    </td>
                                    <td id="summary-label">
                                    </td>
                                    <td id="summary-seperator">
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                             }
                            
                        </table>
                    </div>
                    <div class="summary-title-bar">
                        B. Billing Address
                    </div>
                    <div style="width: 100%; margin: 0 auto; padding: 20px;">
                        <table align="center">
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => model.Address.Line1)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td colspan="4" id="summary-data-nowidth">@Html.Raw(Model.Address.Line1)
                                    @if (!string.IsNullOrEmpty(Model.Address.Line2))
                                    { 
                                        <br />@Html.Raw(Model.Address.Line2)
                                    }
                                    @if (!string.IsNullOrEmpty(Model.Address.Line3))
                                    { 
                                        <br />@Html.LabelFor(model => model.Address.Line3)
                                        
                                    }
                                </td>
                            </tr>
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => model.Address.Postcode)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@Html.Raw(Model.Address.Postcode)
                                </td>
                                <td id="summary-label">
                                </td>
                                <td id="summary-seperator">
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => model.Address.StateID)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@Html.Raw(Util.GetNameByID(RefType.State, Model.Address.StateID))
                                </td>
                                <td id="summary-label"><div style="width: inherit;">@Html.LabelFor(model => model.Address.Town)</div>
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data-nowidth">@Html.Raw(Model.Address.Town)
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="summary-title-bar">
                        C. Justification
                    </div>
                    <div style="width: 100%; margin: 0 auto; padding: 20px;">
                        <table style="padding: 0px">
                            <tr>
                                @* <td>*@
                                @{
                                    string tdhtml1 = "";

                                    if (Model.RegID == 0)
                                    {
                                        tdhtml1 = "<td  valign='top'  id='tdJustfication'><textarea name='txtJustfication' maxlength='200' id='txtJustfication' style='width: 480px; height: 75px;resize: none;'></textarea></td>";

                                    }
                                    else
                                    {
                                        if (Model.Justification.ToString2().Length > 0)
                                        {
                                            //tdhtml1 = "<td  valign='top'  id='tdJustfication'><div style='width: 480px; height: 75px;resize: none;'>" + Model.Justification + "</div></td>";

                                            tdhtml1 = "<td  valign='top'  id='tdJustfication'><textarea name='txtJustfication' maxlength='200' id='txtJustfication' style='width: 480px; height: 75px;resize: none;' readonly>" + Model.Justification + "</textarea></td>";

                                        }
                                        else
                                        {
                                            tdhtml1 = "<td  valign='top'  id='tdJustfication'><textarea name='txtJustfication' maxlength='200' id='txtJustfication' style='width: 480px; height: 75px;resize: none;' readonly></textarea></td>";
                                        }

                                    }
                                 
                           
                                }
                                @*  </td>*@
                                @Html.Raw(tdhtml1)
                            </tr>
                            <tr>
                                <td class="txt-14-black-normal">
                                    (Max. limit is 200 characters)
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="summary-title-bar" style="display: none;">
                        D. Month Bill Settlement Preference
                        @Html.HiddenFor(model => model.Customer.PayModeID)
                    </div>
                    <div style="width: 100%; margin: 0 auto; padding: 20px; display: none;">
                        <table align="center">
                            <tr valign="top">
                                @if (Model.Customer.PayModeID == Util.GetPaymentModeID(PAYMENTMODE.Cash))
                                { 
                                        
                                    <td id="summary-label">@Html.LabelFor(model => model.Customer.PayModeID)
                                    </td>
                                    <td id="summary-seperator">
                                        :
                                    </td>
                                    <td id="summary-data">@Html.Raw(Util.GetNameByID(RefType.PaymentMode, Model.Customer.PayModeID))
                                    </td>
                           
								
                                }
                                else if (Model.Customer.PayModeID == Util.GetPaymentModeID(PAYMENTMODE.AutoBilling))
                                { 
                                        
                                    <td id="summary-label">@Html.LabelFor(model => model.Customer.CardTypeID)
                                    </td>
                                    <td id="summary-seperator">
                                        :
                                    </td>
                                    <td id="summary-data">@Html.Raw(Util.GetNameByID(RefType.CardType, Model.Customer.CardTypeID.Value))
                                    </td>

                                }
                                <td id="summary-label">
                                </td>
                                <td id="summary-seperator">
                                </td>
                                <td>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="summary-title-bar">
                        D. Customer ID
                    </div>
                    <div style="width: 100%; margin: 0 auto; padding: 20px;">
                        @*SUTAN ADDED CODE 5Th March 2013*@
                        <div id="divFrontImageMsg" style="display: none;">
                            <label id="lblFrontImage" style="font-weight: bold; color: Red;">
                                File format not supported.</label>
                        </div>
                        @*END SUTAN ADDED CODE 5Th March 2013*@
                        @if (Model.RegID == 0)
                        {
                            @Html.HiddenFor(model => model.CustomerPhoto)
                            @Html.HiddenFor(model => model.AltCustomerPhoto)

                            <div style="width: 45%; float: left;">                                
                                    <span id="summary-label">@Html.LabelFor(model => model.CustomerPhoto)</span>
                                    <div class="divChoosefile">                                    
                                        <input id="CustImageUpload" type="file" accept="image/*;capture=camera" class="cancel" style="display:none;" /> 
                                        <input id="btnCustImageUpload" class="btnBrowse" type="button" value="Browse" />
                                        <span id="lblCustImageUpload" class="ImgUploadlabel">No file selected.</span>
                                    </div>                                     
                                    <div class="image-box" style="line-height: 0; min-height: 100px; height: auto;float:left;">
                                        <img id="RemoveCustImageUpload" src="@Url.Content("~/Content/images/close.png")" alt="Remove" style="display:none;" class="removeImg" />
                                        <img id="imgCustPhoto" alt="" />
                                    </div>
                            </div>
                            <div style="width: 45%; float: left;">                                
                                    <span id="summary-label">@Html.LabelFor(model => model.AltCustomerPhoto)</span>
                                 <div class="divChoosefile">                                    
                                    <input id="CustImageUpload2" type="file" accept="image/*;capture=camera" class="cancel" style="display:none;"/>                                    
                                    <input id="btnCustImageUpload2" class="btnBrowse" type="button" value="Browse" />
                                    <span id="lblCustImageUpload2" class="ImgUploadlabel">No file selected.</span>
                                   </div>    
                                <div class="image-box" style="line-height: 0; min-height: 100px; height: auto;float:left;">
                                    <img id="RemoveCustImageUpload2" src="@Url.Content("~/Content/images/close.png")" alt="Remove" style="display:none;" class="removeImg" />
                                    <img id="imgAltCustPhoto" alt="" />
                                </div>
                            </div>

                            
                        }
                        else
                        { 
                           
                            <div style="width: 45%; float: left;">
                                <div>
                                    <span id="summary-label">@Html.LabelFor(model => model.CustomerPhoto)</span>
                                </div>
                                <div class="image-box">
                                    <img alt="" src="@Html.Raw(Model.CustomerPhoto)" width="230px" height="200px" />
                                </div>
                            </div>
                            <div style="width: 45%; float: left;">
                                <div>
                                    <span id="summary-label">@Html.LabelFor(model => model.AltCustomerPhoto)</span>
                                </div>
                                <div class="image-box">
                                    <img alt="" src="@Html.Raw(Model.AltCustomerPhoto)" width="230px" height="200px" />
                                </div>
                            </div>
                            	
                            
                        }
                        <div style="clear: both;">
                        </div>
                    </div>
                    <div class="summary-title-bar">
                        E. Other Documents
                    </div>
                    <div style="width: 100%; margin: 0 auto; padding: 20px;">
                        <div style="width: 45%; float: left;">
                            @if (Model.RegID == 0)
                            {
                                @Html.HiddenFor(model => model.Photo)
                                <div class="divChoosefile" >
                                        <input id="CustImageUpload3" type="file" accept="image/*;capture=camera" class="cancel" style="display:none;" />
                                        <input id="btnCustImageUpload3" class="btnBrowse" type="button" value="Browse" />
                                        <span id="lblCustImageUpload3" class="ImgUploadlabel">No file selected.</span>
                                    </div>                                                                    
                                    <div class="image-box" style="line-height: 0; min-height: 100px; height: auto;float:left;">
                                        <img id="RemoveCustImageUpload3" src="@Url.Content("~/Content/images/close.png")" alt="Remove" style="display:none;" class="removeImg" />
                                        <img id="imgPhoto" alt="" />
                                    </div>
                            }

                            else
                            {
                               
                                <div class="image-box">
                                    <img alt="" src="@Html.Raw(Model.Photo)" width="230px" height="200px" />
                                </div>
                            }
                        </div>
                        <div style="clear: both;">
                        </div>
                    </div>
                    <div class="summary-title-bar">
                        F. Signature
                    </div>
                    <div style="width: 100%; margin: 0 auto; padding: 20px;">
                        @Html.HiddenFor(model => model.SignatureSVG)
                        @if (Model.RegID == 0)
                        { 
                            <table>
                            <tr><td>
                                <div class="signature-box">
                                    <div id="signature" class="signature-before-sign">
                                    </div>
                                </div>
                            </td></tr>
                            <tr><td>
                                <div id="summary-label" align="left" class="signaturefooter">
                                    <span>Applicant's Signature</span><br />
                                    <span>@Html.Raw("Date ")@Util.FormatDateTime(Model.RFSalesDT)</span>
                                </div>
                            </td></tr> 
                            </table>    
                                
                        }
                        else
                        { 
                            <div align="center" class="signature-box">
                               <div align="center"  class="signatureDiv">
                                    <div class="signature-backgound">
                                        <img id="signatureImg" class="signature-after-sign" src="data:image/svg+xml;base64,@Html.Raw(Model.SignatureSVG)" />
                                    </div>
                                </div>
                            </div>   
                                      
                                   
                        }
                        <div style="clear: both;">
                        </div>
                    </div>
                    @if (!ReferenceEquals(Model.KenanAccountNo, null) && Model.KenanAccountNo != "0")
                    {
                        <div class="summary-title-bar">
                            G. Other Details
                        </div>
                        <div style="width: 100%; margin: 0 auto; padding: 20px;" class="txt-14-black-normal">
                            <table align = "center" style="width:100%;">
                                <tr>
                                    <td id="summary-label" style="width:21%;">
                                        Kenan Account Number
                                    </td>
                                    <td id="summary-separator" style="width:1%;">
                                        :
                                    </td>
                                    <td id="summary-data">
                                        @Html.Raw(Model.KenanAccountNo)
                                    </td>
                                </tr>
                                @Html.Partial("~/Areas/Retention/Views/Shared/_EnterSalesCodesSmart.cshtml", Model)
                            </table>
                        </div>
                    }
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>   
        <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
            <div style="float: right; padding-right: 20px;">
                  
                    @*VLT ADDED CODE*@
                    @if (!ReferenceEquals(Session["RegMobileReg_IsAddressCheckFailed"], null) && Session["RegMobileReg_IsAddressCheckFailed"].ToBool() && Model.RegID == 0)
                    {
                     
                        
                         <input class="cancel backButton" type="submit" value="<" onclick="$('#TabNumber').val(5);" />
                <input class="submitButton" type="submit" value="Close" onclick="$('#submit1').val('close');" />
                    }


                    else if (Model.RegID == 0)
                    {
                       
                         
                         <input class="cancel backButton" type="submit" value="<" onclick="$('#TabNumber').val(5);" />
                <input class="submitButton" type="button" value="Submit" onclick="SubmitRegForm();" />
                    }

                    else if (System.Configuration.ConfigurationManager.AppSettings["ePetrolStatus"].ToString() == "ON")
                    {
                        if (Model.StatusCode == Settings.Default.Status_RegNew)
                        { 
                        <input id="btnCancelEon" class="submitButton" type="submit" value="Cancel" onclick="" />
                      
                            if (Model.StatusCode != Settings.Default.Status_RegPaymentSuccess)
                            {
                        <input value="Make Payment" class="submitButton" id="btnMakePayment" type="button" style="display: none" onclick="makepayment()" />
                            
                            }

                        }
                        if (Model.StatusCode == Settings.Default.Status_RegPaymentSuccess)
                        {
                       
                           <input id="btnCancelSuccessEon" class="submitButton" type="submit" value="Cancel" onclick="" />
                            if (Model.RegTypeID == Util.GetIDByCode(RefType.RegType, Settings.Default.RegType_DevicePlan))
                            {
                        <div id="divAccEon" style="float: right; padding-left: 5px; display: none;">
                            <input class="submitButton" type="submit" value="Create Account" onclick="return createKenanAcc();" />
                           
                        </div>
                            }
                            else
                            {
                        <div id="divAccEon" style="float: right; padding-left: 5px; display: none;">
                            <input class="submitButton" type="submit" value="Create Account" onclick="$('#submit1').val('createAcc');" />
                           
                        </div>
                            }
                        }

                        if (Model.StatusCode == Settings.Default.Status_RegPaymentFailed)
                        {
                        
                          <input id="btnCancelFailedEon" class="submitButton" type="submit" value="Cancel" onclick="" />
                        <input value="Make Payment" id="btnMakePaymentFailed" type="button" onclick="makepayment()" />
                          
                        }

                        if (Model.StatusCode == Settings.Default.Status_SvcActivated)
                        { 
                        <input class="submitButton" type="submit" value="Close" onclick="$('#submit1').val('close');" />
                       
                        
                        }
                        if (Model.StatusCode == Settings.Default.Status_SvcPendingActivate && !string.IsNullOrEmpty(Model.ServiceActivateErrMsg))
                        { 
                        <div id="divSvcEon" style="float: right; padding-left: 5px; display: none;">
                            <input class="submitButton" type="submit" value="Activate Service"
                                onclick="$('#submit1').val('activateSvc');" />
                            
                        </div>
                        }
                    }
                    else if (System.Configuration.ConfigurationManager.AppSettings["ePetrolStatus"].ToString() == "OFF")
                    {
                        if (Model.StatusCode == Settings.Default.Status_RegNew)
                        { 
                        <input id="btnCancelEoff" class="submitButton" type="submit" value="Cancel" onclick="" />
                        
                    
                            if (Model.RegTypeID == Util.GetIDByCode(RefType.RegType, Settings.Default.RegType_DevicePlan))
                            {
                        <div id="divAccEoff" style="float: right; padding-left: 5px; display: none;">
                            <input class="submitButton" type="submit" value="Create Account" onclick="return createKenanAcc();" />
                           
                        </div>
                            }
                            else
                            {
                        <div id="divAccEoff" style="float: right; padding-left: 5px; display: none;">
                            <input class="submitButton" type="submit" value="Create Account" onclick="$('#submit1').val('createAcc');" />
                           
                        </div>
                            }
                        }
                        if (Model.StatusCode == Settings.Default.Status_SvcActivated)
                        { 
                    
                           
                        <input class="submitButton" type="submit" value="Close" onclick="$('#submit1').val('close');" />
                        }
                        if (Session["MenuType"] != null && Convert.ToInt32((Session["MenuType"].ToString())) == 7)
                        {
                            //code for implementing the epetrol changes
                            //if (Model.StatusCode == Settings.Default.Status_RegPaymentSuccess || Model.StatusCode == Settings.Default.Status_RegClosed)
                            if (Model.StatusCode == Settings.Default.Payment_Recived || Model.StatusCode == Settings.Default.Status_RegClosed || Model.StatusCode == Settings.Default.Status_RegFail)
                            {
@*<button class="button-close" type="submit" value="Next" onclick="$('#submit1').val('close');"></button>*@
                            }
                            else
                            {
                                if (Model.PaymentStatus != "1")
                                {
                                    if (Model.StatusCode != Settings.Default.Status_RegCan && Model.StatusCode != Settings.Default.Status_RegBreFail && Model.StatusCode != Settings.Default.Status_SvcPendingActivate && Model.StatusCode != Settings.Default.Status_SvcActivated && Model.StatusCode.ToUpper() != Settings.Default.Status_RegCan_SK.ToUpper() && Model.StatusCode.ToUpper() != Settings.Default.Status_RegCan_CK.ToUpper())
                                    {
                                          <input id="btnCancelEoff" class="submitButton" type="submit" value="Cancel" />
                           <input onclick="PaymentRecived();" class="submitButton" type="button" value="Payment Received" />
                                    
                                        
                                    }
                                }

                            }
                        }
                        if (Model.StatusCode == Settings.Default.Status_SvcPendingActivate && !string.IsNullOrEmpty(Model.ServiceActivateErrMsg))
                        { 
                        <div id="divSvcEoff" style="float: right; padding-left: 5px; display: none;">
                         
                               <input class="submitButton" type="submit" value="Activate Service" onclick="$('#submit1').val('activateSvc');" />
                        </div>
                        }
                    }
            </div>
        </div>
        @Html.Partial("_footer")
        if (Model.RegID > 0)
        { 
            <img id="signatureImgNat" class="signature-after-sign" src="data:image/svg+xml;base64,@Html.Raw(Model.SignatureSVG)" style="visibility:hidden;"/>
        }
}
</div>

<!-- Right column area -->
<div id="right">
<div id="right-box">
     @{
         #region SUTAN ADDED CODE 19ThFeb2013
         Online.Registration.Web.SmartViewModels.OrderSummaryVM MobileRegOrderSummary = (OrderSummaryVM)Session["RegMobileReg_OrderSummary"];
         MobileRegOrderSummary.PersonalDetailsVM = Model;
         #endregion SUTAN ADDED CODE 19ThFeb2013
         var viewBagValue = new ViewDataDictionary();
         viewBagValue.Add("GSTMark", ViewBag.GSTMark);
         viewBagValue.Add("EarlyTerminationFeeLabel", ViewBag.EarlyTerminationFeeLabel);
            }
            @*@Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])*@
            @Html.Partial("_OrderSummary", MobileRegOrderSummary)
</div></div>
@{
    Html.Telerik().Window()
        .Name("imeiWindow")
        .Title("IMEI Number")
        .Width(325).Height(120)
        .Content(@<text>
    @using (Html.BeginForm("MobileRegSummary", "Registration", FormMethod.Post, new { onSubmit = "return PoputateIMEI(this);" }))
    {
        <table>
            <tr>
                <td colspan="2">
                    <div class="ErrorClass">
                        @Html.ValidationMessageFor(model => model.CapturedIMEINumber)
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.CapturedIMEINumber)
                </td>
                <td>@Html.TextBoxFor(model => model.CapturedIMEINumber)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button id="btnSaveIMEI" type="submit">
                        Save IMEI
                    </button>
                </td>
            </tr>
        </table>
    }
    </text>)
        .Modal(true)
        .Visible(false)
        .ClientEvents(events => events.OnOpen("IMEIWindowOnOpen"))
        .Render();

    Html.Telerik().Window()
         .Name("cancellationWindow")
         .Title("Reason for cancellation")
         .Width(350).Height(150)
         .Content(@<text>
   
        <table>       
        <tr>
            <td colspan="2" id="tdReasonError" style="color: #ff0000;" >
               
            </td>
           
           
        </tr>     
            <tr>
                <td> <label>
                    Reason</label>
                    </td>
                <td>
                @Html.Telerik().DropDownListFor(model => model.CancelledReason).Name("CancelDropDown").BindTo(Util.GetCancellationReasons()).HtmlAttributes(new { style = string.Format("width:{0}%", 90) })
                </td>                
            </tr>
            
            <tr>
            <td>
            &nbsp;
            </td>
            <td>@Html.TextBoxFor(model => model.CancellationReason, new { style = "display:none;width:86%", id = "txtRemarks" })</td>
            </tr>
            <tr>
            <td colspan="2" align="center">
                <input id="btnSaveCancel" type="submit" onclick="CancellationClick();" value="Ok"
                    class="submitButton" />
                &nbsp;&nbsp;
                <input id="btnNoCancel" type="submit" onclick="CancellationForm();" value="Cancel"
                    class="submitButton" />
            </td>
        </tr>
            
        </table>
    
    </text>)
         .Modal(true)
         .Visible(false)
         .Render();


    Html.Telerik().Window()
        .Name("simWindow")
        .Title(simTitleDisplayAddOn)
        .Width(350).Height(120)
        .Content(@<text>
    @using (Html.BeginForm("MobileRegSummary", "Registration", FormMethod.Post, new { onSubmit = "return PoputateSIM(this);" }))
    {
        <table>
            <tr>
                <td colspan="2">
                    <div class="ErrorClass">
                        @Html.ValidationMessageFor(model => model.CapturedSIMSerial)
                    </div>
                </td>
            </tr>
            @*Added by VLT for Sim Model Type on 10 Apr 2013*@
            <tr>
                <td>@Html.LabelFor(model => model.SIMModel)
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => model.SIMModel).BindTo(Util.GetList(RefType.SimModelType)).ClientEvents(events => events.OnChange("SimModelChange")).HtmlAttributes(new { style = string.Format("font-size:12px;width:{0}px", 250) }))
                    
                </td>
            </tr>
            @*End by VLT for Sim Model Type on 10 Apr 2013*@
            <tr>
                <td>@Html.LabelFor(model => model.CapturedSIMSerial)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.CapturedSIMSerial, new { disabled = "disabled" })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button id="btnSaveSIM" type="submit" onclick="return validateSimModel();">
                        Save SIM
                    </button>
                    <br />
                </td>
            </tr>
        </table>
    }
    </text>)
        .Modal(true)
        .Visible(false)
        .ClientEvents(events => events.OnOpen("SIMWindowOnOpen"))
        .Render();


    Html.Telerik().Window()
    .Name("telConfirmWindow")
    .Title("Payment Confirmation")
    .Width(230)
    .Height(80)
    .Content(@<text>

<table>
<tr>
<td colspan="2">Is the payment collected at IMPOS?</td>
</tr>
<tr>
<td colspan="2"></td>
</tr>
<tr>
<td align="right">
<input class="submitButton"  type="button" id="btnOk" name="btnSave" onclick="SubmitForm();" value="Yes" />
</td>
<td align="left">
<input class="submitButton"  type="button"  id="btnCancel" name="btnSave" onclick="CancelForm();" value="No" />
</td>
</tr>
</table>


</text>)
    .Modal(true)
    .Visible(false)
    .Render();

    Html.Telerik().ScriptRegistrar()
        .OnDocumentReady(@<text> 
     $('#btnIMEI') .click(function(e) {$('#CapturedIMEINumber').val(''); $('#CapturedIMEINumber').attr('class', 'valid');$('#dvIMEIError').text(''); e.preventDefault(); $('#imeiWindow').data('tWindow').center().open();});
      $('#btnSIM') .click(function(e) {$('#CapturedSIMSerial').val('');$('#CapturedSIMSerial').attr('class', 'valid'); e.preventDefault(); $('#simWindow').data('tWindow').center().open();});
    </text>); 
}
@section Scripts{
    <script type="text/javascript">
//     window.onbeforeunload = function() {
//var changes=$('#hdnChanges').val();
//            if (changes!='false')
//            {
//                var message = "Are you sure you want to navigate away from this page?\n\nYou are about to place an order.\n\nPress OK to continue or Cancel to stay on the current page.";
//                return message;
//            }
//        }
     //Code Added by VLT On APR 09 2013 For SimCard Type Validation.
    function SimModelChange()
    {
       var selSimModlVal=$("#SIMModel").data("tDropDownList").value();
    
        var url = '@(Url.Content("~/Registration/SimModelsCount"))';
        $.post(url, {strArticleId:selSimModlVal }, function (data) {      
            if(data != "0")
            {
               $("#CapturedSIMSerial").attr('disabled', false);
            }
            else
            {
                alert("Selected SIM Model is not Available.Please select another SIM Model");
            }
        });
    }

    function validateSimModel()
    {
        var selSimModlVal=$("#SIMModel").data("tDropDownList").value();
        if(selSimModlVal == 0 )
        {
            alert("Please Select SIM Model");
            return false;
        }
        else
        {
            return true;
        }        
    }
     //End of Code Added by VLT On APR 09 2013 For SimCard Type Validation.


        $(document).ready(function () {
        $("#QueueNo").keypress(function (e) {
        if(e.keyCode == 13)
        {
            return false;
        }
        else
        {
            return numbersonly(e, false);
        }
        });
        $("#Remarks").keypress(function (e) {
        if(e.keyCode == 13)
        {
            return false;
        }
        });

        if('@Model.RegID' > 0 && $('#signatureImgNat').val() != undefined){
            var signimg = document.getElementById('signatureImg');
            var signimgnat = document.getElementById('signatureImgNat');
			var signSize = signimgnat.naturalWidth;
            var $signimg = $(signimg);
            var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);

            function signatureFitting() {
                if (/iPhone|iPad|iPod/i.test(navigator.userAgent) || isChrome) {
                    $signimg.css({
                        "min-width": (signSize).toString() + "px"
                    });
                }
            }

            if (signimg.complete && signimgnat.complete) {
                signatureFitting()
            }
            else {
                signimg.addEventListener('load', signatureFitting);
                signimgnat.addEventListener('load', signatureFitting);
            }
        }

            var path = '@(Util.GetAbsoluteAppPath("/Flash/ZeroClipboard.swf"))';
            ZeroClipboard.setMoviePath(path);
            
            $("#signature").jSignature({'height':200, 'width':400});

            var btns = $('button[id^="btnCopy_"]');

            $.each(btns, function (index, btn) {

                var clip = new ZeroClipboard.Client();

                clip.addEventListener('mousedown', function () {
                    clip.setText($(btn).prev().val());
                });

                clip.glue($(btn).attr("id"));

            });

//            $("#btnCancelEoff").click(function () {
//                if (confirm("Are you sure you wish to Cancel?")) {
//                    $('#submit1').val('cancel');
//                    return true;
//                }
//                else {
//                    return false;
//                }
//            });

             $('#CancelDropDown').bind('valueChange', function(e) {               
                                   
                    var text = $("#CancelDropDown").data("tDropDownList").text();
                    var value = $("#CancelDropDown").data("tDropDownList").value();
                    if (text == 'Others') {
                             $('#txtRemarks').show();
                        }
                    else {
                        $('#txtRemarks').hide();
                    }  
                    return false;
                });

            $("#btnCancelEoff").click(function () {
                if (confirm("Are you sure you wish to Cancel?"))
                {
                    $('#cancellationWindow').data('tWindow').center().open();  
                    return false;                                     
                }
                 else                 
                 {
                        return false;
                }
                });

            $("#btnCancelEon").click(function () {
                if (confirm("Are you sure you wish to Cancel?")) {
                    $('#submit1').val('cancel');
                    return true;
                }
                else {
                    return false;
                }
            });
            $("#btnCancelFailedEon").click(function () {
                if (confirm("Are you sure you wish to Cancel?")) {
                    $('#submit1').val('cancel');
                    return true;
                }
                else {
                    return false;
                }
            });
            $("#btnCancelSuccessEon").click(function () {
                if (confirm("Are you sure you wish to Cancel?")) {
                    $('#submit1').val('cancel');
                    return true;
                }
                else {
                    return false;
                }
            });


            if('@(hasSIM)' == 'True' || ('@(simOnly)' == 'False' && '@(hasIMEI)' == 'True')){
                $('#divAccEon').show();
                $('#divAccEoff').show();
                $('#divSvcEon').show();
                $('#divSvcEoff').show();
            }
        });

        function makepayment(){
            var regID = $('#RegID').val();
            window.location="../PaymentDetails?id="+regID;
        }

        
        function SubmitForm(sequenceNo) {

            $('#submit1').val(sequenceNo);
            //document.forms['frmMobileRegSummary'].submit();
            $("#frmMobileRegSummary").submit();

        }
        
       function CancellationClick(){
           var text=$("#CancelDropDown").data("tDropDownList").text()
            var val=$("#CancelDropDown").data("tDropDownList").value()
            
            $('#hdnReasonCancel').val(text);
            $('#submit1').val('cancel');
            
            if(val!="0" && text!='Others')
            {
                //document.forms['frmMobileRegSummary'].submit()
                $("#frmMobileRegSummary").submit();
            }
            else if(text=='Others')
                  {
                    
                     var remarks= $("#txtRemarks").val()
                       if(remarks!='')
                       {
                         $('#hdnReasonCancel').val(remarks);
                         //document.forms['frmMobileRegSummary'].submit();
                         $("#frmMobileRegSummary").submit();
                       }
                       else                       
                       {
                            $('#tdReasonError').html('Please enter the cancellation reason');
                            return false;
                       }
                  }
                  
            else
                {
                   $('#tdReasonError').html('Please select the cancellation reason');
                    return false;
                }            
        }

        function ClearSign(){
            var $sigdiv = $("#signature");
            $sigdiv.jSignature("reset");
        }

        function SubmitRegForm()
        {
            var $sigdiv = $("#signature");
            var datapair = $sigdiv.jSignature("getData","image/svg+xml;base64"); 
            //Murali v : this condition is added to avoid going default value to the database here added by chetan 
            var isSignatureProvided=$sigdiv.jSignature("getData","image/svg+xml;base64")[1].length > 317 ? true : false;
            if( isSignatureProvided )
            {
                $('#SignatureSVG').val(datapair[1]);
            }

            $('#TabNumber').val(7);
            $('#hdnChanges').val('false');
            //document.forms['frmMobileRegSummary'].submit();
            $("#frmMobileRegSummary").submit();
        }

        $("#CapturedIMEINumber").keypress(function(e){
            //key code 13 is "enter", 
            if(e.keyCode==13){  
                PoputateIMEI();
            }
        });

        $("#CapturedSIMSerial").keypress(function(e){
            //key code 13 is "enter", 
            if(e.keyCode==13){  
                PoputateSIM(null);
            }
        });

        function IMEIWindowOnOpen(){
            $('#imeiWindow').data('tWindow').refresh();
            $('#CapturedIMEINumber').val('');
        }
        
        function SIMWindowOnOpen(){
            $('#imeiWindow').data('tWindow').refresh();
            $('#CapturedSIMSerial').val('');
        }

        function createKenanAcc()
        {
            var inputIMEI = $('#CapturedIMEINumber').val();
            var inputSIM = $('#CapturedSIMSerial').val();
         
//            if(inputIMEI == '' || inputSIM == '')
//            {
//                alert('Insert IMEI & SIM Number !');
//                return false;
//            }

            //Code Added by VLT On Apr 12 2013
             if(inputIMEI == '')
            {
                alert('Insert IMEI Number !');
                return false;
            }
             if(inputSIM == '')
            {
                alert('Insert SIM Number !');
                return false;
            }
            //End of Code Added by VLT On Apr 12 2013


            $('#submit1').val('createAcc');
            return true;
        }

        function PoputateIMEI(form){
             $('#dvIMEIError').html('');
              $('#dvIMEIError').hide();
            if (form != null && $(form).valid() == false) {
                return false;
            }
            var inputIMEI = $('#CapturedIMEINumber').val();
            var regID = $('#RegID').val();
            var url ='@(Url.Content("~/Registration/CheckIMEIStatus"))';
            $.post(url,{regID:regID, imei:inputIMEI},function(data){
            if(data.toString() == "False"){
            alert("IMEI not valid for the selected device");
            $('#CapturedIMEINumber').val('');
            $('#CapturedIMEINumber').focus();
            return false;

            }
            else
            {
            url = '@(Url.Content("~/Registration/UpdateIMEI"))';
            $.post(url, { regID: regID, imei:inputIMEI }, function (data) {

                if(data=='')
                {
                    $('#RegIMEINumber').val(inputIMEI);
                    $('#IMEINumber').val(inputIMEI);
                    $('#lblIMEI').text(inputIMEI);
                    $('#lblErrMsg').val('');

                    if(inputIMEI != '' && $('#RegSIMSerial').val() != ''){
                        $('#divAccEon').show();
                        $('#divAccEoff').show();
                    }
                    else{
                        $('#divAccEon').hide();
                        $('#divAccEoff').hide();
                    }
                }
                else
                {
                    $('#lblErrMsg').val(data);
                }
            });
            
            var window = $('#imeiWindow').data('tWindow');
            window.close();
            }
            });
            return false;
        

        }

        function PoputateSIM(form){
            if (form != null && $(form).valid() == false) {
                return false;
            }
            var inputSIM = $('#CapturedSIMSerial').val();
            var regID = $('#RegID').val();
            var selSimModlVal=$("#SIMModel").data("tDropDownList").value();
            var url = '@(Url.Content("~/Registration/CheckSimSerial"))';
            $.post(url, {sim:inputSIM, simmodel:selSimModlVal  }, function (data) {
            if(data.toString()=="False")
            {
            alert("SIM Serial not valid for the selected SIM model");
            $('#CapturedSIMSerial').val('');
            $('#CapturedSIMSerial').focus();
            return false;
            }
            else
            { 

            //Calling the Update Method if the Sim is Valid
            url = '@(Url.Content("~/Registration/UpdateSIM"))';
            $.post(url, { regID: regID, sim:inputSIM }, function (data) {
                
                if(data=='')
                {
                    $('#RegSIMSerial').val(inputSIM);
                    $('#SIMSerial').val(inputSIM);
                    $('#lblSIM').text(inputSIM);
                    $('#lblErrMsg').val('');

                    if(inputSIM != '' || ($('#RegIMEINumber').val() != '' && '@(simOnly)' == 'False')){
                        $('#divAccEon').show();
                        $('#divAccEoff').show();
                    }
                    else{
                        $('#divAccEon').hide();
                        $('#divAccEoff').hide();
                    }
                }
                else
                {
                    $('#lblErrMsg').val(data);
                }
            });
            
            var window = $('#simWindow').data('tWindow');
            window.close();

            }
           });
           
            return false;
        }


        function PaymentRecived()
        {        
	       
//	        if (confirm("Is the payment collected at IMPOS?")){       
//               
//                    $('#submit1').val('PaymentRecived');
//                    	 
//                        // $('#submit1').submit();           
//                        document.forms["frmMobileRegSummary"].submit();
//	            }         
            $('#telConfirmWindow').data('tWindow').center().open();
        }

        function SubmitForm()
        {
         $('#submit1').val('PaymentRecived');
          //document.forms["frmMobileRegSummary"].submit();
          $("#frmMobileRegSummary").submit();
        }
         function CancelForm()
        {
        $('#telConfirmWindow').data('tWindow').close();
        }
        function CancellationForm()
        {
        $('#cancellationWindow').data('tWindow').close();
        }

             /********** CAPTURE  **********/
//        Sutan Added code 6Th March 2013
		$(function() {

        var url = '@(Url.Content("~/Registration/UploadImage"))';
        var formdata = false;

//		  $("#CustImageUpload").change(function(ev) {          
//			var reader = new FileReader();
//			reader.onload = (function(ev) {
//			  $("#imgCustPhoto").attr("src", ev.target.result).fadeIn();
//              $("#CustomerPhoto").val(ev.target.result);
//			});
//			var file = this.files[0];
//			$("#imgCustPhoto").data("name", file.name);
//			reader.readAsDataURL(file);
//		  });     

        $("#CustImageUpload").change(function() {
        ///CHECK WHETHER THE BROWSER SUPPORTS HTML 5, FormData AND FileReader Object.
        ///FIREFOX DOES SUPPORT FileReader OBJECT. IE SUPPORTS BUT VERSION 10 ONWARDS. SO IF IE IS GETTING USED TO INTEGRATE PLEASE USE IE 10

        if( window.FormData !== undefined )
        {
            var i = 0, len = this.files.length, img, reader, file;
            formdata = false;
            ///Check for FormData support in browser
            if (window.FormData) {
                formdata = new FormData();
            }
            ///Check if length greater than 0 then only proceed
            if(len>0)
            {
                file = this.files[0]; 

                if ( window.FileReader) 
                {         
                    ///Check the filetype if not image show alert and exit
                    if(file.type.indexOf("image") == -1)
                    {
                        $('#divFrontImageMsg').show("slow");
                        return;
                    }      
                     else
                    {
                        $('#divFrontImageMsg').hide();
                    }         
                    ///Append the file object to post the file request to server side
                    if (formdata) 
                    {
                        formdata.append("default_export_filename", file);
                    } 

                        ///Post the file details to server side script
                    if (formdata) 
                    {
                        $.ajax({
                            url: url,
                            type: "POST",
                            data: formdata,
                            processData: false,
                            contentType: false,
                            success: function (Data) {                        
                                    //Assign the processed imageUrl returned from the server side to imgCustPhoto img
                                    $("#imgCustPhoto").attr("src", Data.imageUrl).fadeIn();
                                    $("#imgCustPhoto").data("name", file.name);
                                    $("#CustomerPhoto").val(Data.imageUrl);
                                    $("#lblCustImageUpload").html(file.name);
                                    $("#RemoveCustImageUpload").show();
                            },
                            error:function(xhr,err){
                                ///WHOEVER INTEGRATES THE CODE PLEASE UNCOMMENT THE BELOW CODE IN CASE OF UNEXPECTED RESULTS.                        
                                //alert("readyState: "+xhr.readyState+"\nstatus: "+xhr.status);
                                //alert("responseText: "+xhr.responseText);
                        }
                        });
                    }            
                 }                     
            }          
           
        }///undefined
            
        });

//          $("#CustImageUpload2").change(function(ev) {

//			var reader = new FileReader();
//			reader.onload = (function(ev) {
//			  $("#imgAltCustPhoto").attr("src", ev.target.result).fadeIn();
//              $("#AltCustomerPhoto").val(ev.target.result);
//			});

//			var file = this.files[0];
//			$("#imgAltCustPhoto").data("name", file.name);
//			reader.readAsDataURL(file);
//		  });

            $("#CustImageUpload2").change(function() {
                ///CHECK WHETHER THE BROWSER SUPPORTS HTML 5, FormData AND FileReader Object.
                ///FIREFOX DOES SUPPORT FileReader OBJECT. IE SUPPORTS BUT VERSION 10 ONWARDS. SO IF IE IS GETTING USED TO INTEGRATE PLEASE USE IE 10

                if( window.FormData !== undefined )
                {
                    var i = 0, len = this.files.length, img, reader, file;
                    formdata = false;
                    ///Check for FormData support in browser
                    if (window.FormData) {
                        formdata = new FormData();
                    }
                    ///Check if length greater than 0 then only proceed
                    if(len>0)
                    {
                        file = this.files[0]; 

                        if ( window.FileReader) 
                        {         
                            ///Check the filetype if not image show alert and exit
                            if(file.type.indexOf("image") == -1)
                            {
                                $('#divFrontImageMsg').show("slow");
                                return;
                            }  
                            else
                            {
                                $('#divFrontImageMsg').hide();
                            }            
                            ///Append the file object to post the file request to server side
                            if (formdata) 
                            {
                                formdata.append("default_export_filename", file);
                            } 

                                ///Post the file details to server side script
                            if (formdata) 
                            {
                                $.ajax({
                                    url: url,
                                    type: "POST",
                                    data: formdata,
                                    processData: false,
                                    contentType: false,
                                    success: function (Data) {                        
                                            //Assign the processed imageUrl returned from the server side to imgCustPhoto img
                                            $("#imgAltCustPhoto").attr("src", Data.imageUrl).fadeIn();
                                            $("#imgAltCustPhoto").data("name", file.name);
                                            $("#AltCustomerPhoto").val(Data.imageUrl);
                                            $("#lblCustImageUpload2").html(file.name);
                                            $("#RemoveCustImageUpload2").show();
                                    },
                                    error:function(xhr,err){
                                        ///WHOEVER INTEGRATES THE CODE PLEASE UNCOMMENT THE BELOW CODE IN CASE OF UNEXPECTED RESULTS.                        
                                        //alert("readyState: "+xhr.readyState+"\nstatus: "+xhr.status);
                                        //alert("responseText: "+xhr.responseText);
                                }
                                });
                            }            
                         }                     
                    }          
           
                }///undefined
            
            });

//          $("#CustImageUpload3").change(function(ev) {

//			var reader = new FileReader();
//			reader.onload = (function(ev) {
//			  $("#imgPhoto").attr("src", ev.target.result).fadeIn();
//              $("#Photo").val(ev.target.result);
//			});

//			var file = this.files[0];
//			$("#imgPhoto").data("name", file.name);
//			reader.readAsDataURL(file);
//		  });

          $("#CustImageUpload3").change(function() {
            ///CHECK WHETHER THE BROWSER SUPPORTS HTML 5, FormData AND FileReader Object.
            ///FIREFOX DOES SUPPORT FileReader OBJECT. IE SUPPORTS BUT VERSION 10 ONWARDS. SO IF IE IS GETTING USED TO INTEGRATE PLEASE USE IE 10

                if( window.FormData !== undefined )
                {
                    var i = 0, len = this.files.length, img, reader, file;
                    formdata = false;
                    ///Check for FormData support in browser
                    if (window.FormData) {
                        formdata = new FormData();
                    }
                    ///Check if length greater than 0 then only proceed
                    if(len>0)
                    {
                        file = this.files[0]; 

                        if ( window.FileReader) 
                        {         
                            ///Check the filetype if not image show alert and exit
                            if(file.type.indexOf("image") == -1)
                            {
                                $('#divFrontImageMsg').show("slow");
                                return;
                            }
                            else
                            {
                                $('#divFrontImageMsg').hide();
                            }
                            ///Append the file object to post the file request to server side
                            if (formdata) 
                            {
                                formdata.append("default_export_filename", file);
                            } 

                                ///Post the file details to server side script
                            if (formdata) 
                            {
                                $.ajax({
                                    url: url,
                                    type: "POST",
                                    data: formdata,
                                    processData: false,
                                    contentType: false,
                                    success: function (Data) {                        
                                            //Assign the processed imageUrl returned from the server side to imgCustPhoto img
                                            $("#imgPhoto").attr("src", Data.imageUrl).fadeIn();
                                            $("#imgPhoto").data("name", file.name);
                                            $("#Photo").val(Data.imageUrl);
                                            $("#lblCustImageUpload3").html(file.name);
                                            $("#RemoveCustImageUpload3").show();
                                    },
                                    error:function(xhr,err){
                                        ///WHOEVER INTEGRATES THE CODE PLEASE UNCOMMENT THE BELOW CODE IN CASE OF UNEXPECTED RESULTS.                        
                                        //alert("readyState: "+xhr.readyState+"\nstatus: "+xhr.status);
                                        //alert("responseText: "+xhr.responseText);
                                }
                                });
                            }            
                         }                     
                    }          
           
                }///undefined
            
            });

		});
//      End Sutan Added code 6Th March 2013
		/********** GENERIC FUNCTIONALITY **********/

		$.fn.replace= function() {
		  var $el = $(this).fadeOut();
		  $el.clone().insertBefore($el).fadeIn();
		  $el.remove();
		}

		$.fn.fly = function(target, callback) {
		  var callback = callback || function() {};
		  var $target = $(target);
		  target=$target.get(0);
		  return $(this).each(function(i, el) {
			var $el = $(el);
			var $clone = $el
						 .clone()
						 .css({position: "absolute",
							   left: el.offsetLeft, top: el.offsetTop,
							   width: el.offsetWidth, height: el.offsetHeight,
							   padding: 0, margin: 0 })
						.appendTo("body");
			var targetStyle = target ?
			  { width: target.offsetWidth, height: target.offsetHeight,
				top: target.offsetTop, left: target.offsetLeft } :
			  { width: 0, height: 0, opacity: 0.4, top: 0, };

			var isLast = (i == $(this).length-1);
			$clone.animate(targetStyle, function() {
			  $clone.remove();
			  if (isLast) callback();
			});
		  });
		}

		$.fn.disappear = function() { $(this).css("visibility", "hidden"); }
		$.fn.appear = function() { $(this).css("visibility", "visible"); }

		// http://ejohn.org/blog/javascript-array-remove/
		Array.prototype.remove = function(from, to) {
		  var rest = this.slice((to || from) + 1 || this.length);
		  this.length = from < 0 ? this.length + from : from;
		  return this.push.apply(this, rest);
		};           
        if (window.history.forward(1) != null) {
        window.history.forward(1);       
    }    
            //Delete option for Browse file functionality
    $("#btnCustImageUpload").click(function () {
       $("#CustImageUpload").click();
    });
    $("#btnCustImageUpload2").click(function () {
       $("#CustImageUpload2").click();
    });
    $("#btnCustImageUpload3").click(function () {
       $("#CustImageUpload3").click();
    });

    $("#RemoveCustImageUpload").click(function () {  
        if($("#CustomerPhoto").val() != '')
        {                         
             $("#imgCustPhoto").attr("src", "");
             $("#imgCustPhoto").data("name", "");
             $("#CustomerPhoto").val('');  
             $("#lblCustImageUpload").html('No file selected.');    
             $("#RemoveCustImageUpload").hide();        
        }
    });
     $("#RemoveCustImageUpload2").click(function () {  
        if($("#AltCustomerPhoto").val() != '')
        {                         
             $("#imgAltCustPhoto").attr("src", "");
             $("#imgAltCustPhoto").data("name", "");
             $("#AltCustomerPhoto").val(""); 
             $("#lblCustImageUpload2").html('No file selected.'); 
             $("#RemoveCustImageUpload2").hide();  
        }
    });
     $("#RemoveCustImageUpload3").click(function () {  
        if($("#Photo").val() != '')
        {                           
             $("#imgPhoto").attr("src", "");
             $("#imgPhoto").data("name", "");
             $("#Photo").val('');
             $("#lblCustImageUpload3").html('No file selected.');  
             $("#RemoveCustImageUpload3").hide();          
        }
    });
    </script>
}
@section Styles{

    <style type="text/css">
        .t-window-content
        {
            height: auto !important;
        }
        .title
        {
            text-transform: uppercase;
            width: 500px;
            border-bottom: 1px solid lightgray;
            font-weight: bold;
            color: #7cb44f;
            padding: 10px 0px 5px 0px;
        }
    </style>
}
