﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@{
    ViewBag.Title = "Close Registration";
    Layout = "~/Views/Shared/_SubmitLayout.cshtml";
}


@model int

<div >
    <table width="100%">
        <tr>
            <td style="width:580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<div>            
    <h3>Registration has been closed Successfully.</h3>
</div>

