﻿@{
    ViewBag.Title = "Payment Received";
    Layout = "~/Views/Shared/_SubmitLayout.cshtml";
}
<div >
    <table width="100%">
        <tr>
            <td style="width: 580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<div>
    @Html.ValidationSummary(true, string.Empty)
    @using (Html.BeginForm())
    {
        <h3>
            Payment Received Successfully !<br />
            @if (Convert.ToBoolean(Session["isCreatedIMPOS"]) == true)
            {
                <text>IMPOS file Created Successfully</text> <br />
                <text>Barcode is :</text>

               @Html.Raw(Online.Registration.Web.Helper.Util.Barcodes(Session["BarCodFfileName"].ToString()));
            }
           
        </h3>
        
    }
</div>
