﻿@using System.Configuration;
@using Online.Registration.Web.Helper;
@using Telerik.Web.Mvc.UI;
@{
    ViewBag.Title = "iSELL Cashier";
    var interval = ConfigurationManager.AppSettings["TimerInterval"].ToString();
    Layout = "~/Areas/Cashier/Views/Shared/_Layout.cshtml";

}
@model Online.Registration.Web.SmartViewModels.SearchRegistrationVM 

@using (Html.BeginForm("SearchRegistration", "Cashier", FormMethod.Post, new { id = "frmCashier", @class = "overlayonsubmit", processmsg = "Loading" }))
{    
    <div class="vwHeader">
        <table width="100%">
            <tr>
                <td>
                    <div>@ViewBag.Title</div>
                    @*<div class="vwSubHeader">@ViewBag.Title</div>*@
                    <div class="vwSubHeader"></div>
                </td>
                <td align="right">
                </td>
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
        @*<div style="font-size:x-large;padding:10px 0px 10px 0px;">@ViewBag.Title</div>*@
        <table>
            <tr>
                <td><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.RegID)</b></td>
                <td><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.IDCardNo)</b></td>
               <td><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.QueueNo)</b></td>
             @*  <td>@Html.LabelFor(model => model.RegistrationSearchCriteria.RegType)</td>*@
                <td><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.StatusID)</b></td>
                <td><b>@Html.LabelFor(model => model.RegistrationSearchCriteria.Trans_Type)</b></td>
                
                <td></td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(model => model.RegistrationSearchCriteria.RegID)</td>
              @*   <td>@Html.TextBoxFor(model => model.RegistrationSearchCriteria.RegType)</td>*@
                <td>@Html.TextBoxFor(model => model.RegistrationSearchCriteria.IDCardNo)</td>
               <td>@Html.TextBoxFor(model => model.RegistrationSearchCriteria.QueueNo)</td>
               @* <td>@Html.TextBoxFor(model => model.RegistrationSearchCriteria.RegType)</td>*@
                <td>@Html.Telerik().DropDownListFor(model => model.RegistrationSearchCriteria.StatusID).BindTo(Util.GetCashierList(STATUSTYPE.Registration).Where(e => e.Text != "Account Pending Create"))</td>
                <td>@Html.Telerik().DropDownListFor(model => model.RegistrationSearchCriteria.Trans_Type).BindTo(Util.GetTransactionTypes())</td>
                <td>

                    <button class="" type="submit" value="Search" style=" text-align:center;width:50px;height:45px;border-style:none;background-color:White;cursor:pointer">
                        <img alt="" src='@Url.Content("~/Content/images/icon_srch.png")' width="40px" height="40px" />
                    </button>
                </td>
            </tr>
        </table>
        <br /> 
        
            @*<div style="width:719px;height:380px;overflow-y:auto;border:1px solid lightgray;">*@
                @{
                                    Html.Telerik().Grid(Model.RegistrationSearchResults)
                                        .Name("gvwRegistration")
                                        .Footer(false).Scrollable(a => a.Enabled(true).Height(380))
                                        .HtmlAttributes(new { style = "width:850px;" })
                                        .TableHtmlAttributes(new { style = "border-radius:10px;" })
                                        .Selectable().DataKeys(a => a.Add("RegID"))
                                        .ClientEvents(events => events.OnRowSelect("onRowSelected"))
                                        .NoRecordsTemplate("No records to display")
                                        @*VLT ADDED CODE by Rajeswari on 22nd Feb FOR SORTING REGDATE DESC ORDER *@
                                        .Sortable(sorting => sorting
                                        .OrderBy(sortOrder => sortOrder.Add(m => m.RegDate).Descending()))
                                        @*VLT ADDED CODE ENDS by Rajeswari on 22nd Feb FOR SORTING REGDATE DESC ORDER *@
                                        .Columns(cols =>
                                        {
                                            cols.Bound(m => m.RegType).Hidden();
                                            cols.Bound(m => m.RegTypeDescription).Title("Registration Type ").Width(110);
                                            cols.Bound(m => m.RegID).Title("Order Number").Width(100);
                                            cols.Bound(m => m.CustomerName).Title("Customer").Width(100);
                                            cols.Bound(m => m.IDCardNo).Title("ID Card No").Width(100);
                                            cols.Bound(m => m.QueueNo).Title("Queue No").Width(70);
                                            cols.Bound(m => m.RegDate).Title("Created Date").Width(105); @* Added by VLT for RegDate Sorting *@
                                            @*cols.Template(@<text>@Util.FormatDate(item.RegDate)</text>).Title("Create Date");*@ @* Commented by VLT*@
                                            cols.Bound(m => m.Status).Title("Status").Width(80);
                                            cols.Bound(m => m.LastAccessID).Title("Last Access ID").Width(105);
                                            cols.Bound(typeof(string), "Trn_Type").Title("Transaction Type").Width(105).Template(
                                                @<text>

                                                        @{if (item.Trn_Type == "S")
                                                          {
                                                                @: Smart
                                                        }
                                                          else
                                                          {
                                                                @: Retail
                                                        } }
                                                
                                                </text>);

                                        })
                                        .Render();
                }
            @*</div>*@
    </div>
    
    
    
}

@section Scripts{
    <script type="text/javascript">

        // VLT ADDED CODE by Rajeswari on 22nd Feb to refresh the grid for every 1 min
        $(function () {
            setInterval(loadTable, '@interval');  // invoke load every second
            loadTable(); // load on initial page loaded
        });

        function loadTable() {
            $('#viewInnerBody').load('/Registration/SearchRegistration');
        }
        // VLT ADDED CODE ENDS here by Rajeswari on 22nd Feb to refresh the grid for every 1 min


        $(document).ready(function () {
            $('#menuPlanSearch').css("background-image", $('#menuPlanSearch').css("background-image").replace(".png", "_hover.png"));
        });


        $("#QueueNo").keypress(function (e) {
            if (e.keyCode == 13) {
                return false;
            }            
        });       

        function onRowSelected(e) {
            var ordersGrid = $('#gvwRegistration').data('tGrid');
            regTypeID = e.row.cells[0].innerHTML;
            regID = e.row.cells[2].innerHTML;
            trn_type = e.row.cells[9].innerHTML;
            if (trn_type.toLowerCase().trim() == "retail") {
                if (regTypeID == 8)
                    window.location.href = '@(Url.Content("~/SuppLine/MobileRegSummary/"))' + regID;
                else if (regTypeID == 9)
                    window.location.href = '@(Url.Content("~/NewLine/MobileRegSummary/"))' + regID;
                else if (regTypeID == 11)
                    window.location.href = '@(Url.Content("~/SuppLine/MobileRegSummary/"))' + regID
                else if (regTypeID == 12)
                    window.location.href = '@(Url.Content("~/NewLine/MobileRegSummary/"))' + regID;
                else
                    window.location.href = '@(Url.Content("~/Registration/MobileRegSummary/?regID="))' + regID;
            }
            else {
                //alert('hi');
                window.location.href = '@(Url.Content("~/Cashier/Cashier/MobileRegSummary?regID="))' + regID;
            }
        }
     
</script>
  
}
