﻿@using Online.Registration.DAL.Models;
@using Online.Registration.Admin.Models;
@using Online.Registration.Web.Helper;
@using SNT.Utility;

@model UpdateViewUserRoleModel

@{
    ViewBag.Title = "Edit User Role";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Edit:</legend>
        @Html.HiddenFor(model => model.UserRole.ID)
        <table>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.UserRole.ID)
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(model => model.UserRole.ID)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.UserRole.Code)
                    </div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.UserRole.Code, new { @style = "width:100px" })
                    @Html.ValidationMessageFor(model => model.UserRole.Code)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.UserRole.Description)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.UserRole.Description, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.UserRole.Description)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.UserRole.CreateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.UserRole.CreateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.UserRole.CreateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.UserRole.LastUpdateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.UserRole.LastUpdateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.UserRole.LastUpdateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.UserRole.LastAccessID)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.UserRole.LastAccessID, new { @readonly = true, @disabled = true, @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.UserRole.Active)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.UserRole.Active) 
                    @Html.ValidationMessageFor(model => model.UserRole.Active)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" name="submit" value="Save">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
    <br />
    if (Model.UserRole.Active == true)
    {          
        <div class="header">
        <h3>User Group Role List</h3>
        </div>       
        <a class="t-button t-button-icontext" href="@Url.Action("Create", "UserGroupRole", new { userRoleID = Model.UserRole.ID, type = RefType.UserRole })">
        <span class="t-icon t-add"></span>Add New</a>
        <br /><br />
        Html.Telerik().Grid<UserGroupRoleSearchResults>(Model.UserGroupRole).Name("gvwUserGrpRole")
            .Sortable()
            .Columns(cols =>
            {
                cols.Command(command => command
                    .Custom("Edit")
                    .Text("Edit")
                    .DataRouteValues(route => route.Add(a => a.UserGroupRoleID).RouteKey("id"))
                    .DataRouteValues(route => route.Add(a => RefType.UserRole).RouteKey("type"))
                    .SendState(false)
                    .Action("Edit", "UserGroupRole"))
                    .HtmlAttributes(new { style = "text-align: center" })
                    .Width(90)
                    .Title("Action");
                cols.Bound(m => m.UserGroup).Title("User Group");
                cols.Bound(m => m.ActiveCheckBox).Title("Active").Width(8).Encoded(false);
                cols.Bound(m => m.CreateDT).Title("Created On");
                cols.Bound(m => m.LastUpdateDT).Title("Last Updated");
                cols.Bound(m => m.LastAccessID).Title("Last Access");
            })
        .DataBinding(binding => binding.Ajax().OperationMode(GridOperationMode.Client))
        .Pageable(paging => paging.PageSize(Util.GridRowsPerPage))
        .Render();
    }
}