﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.SubscriberICService;
@{
    ViewBag.Title = "Address";
    #region VLT ADDED CODE
    ///GET THE retrieveAcctListByICResponse TYPE OF OBJECT FROM SESSION IF PPID="E" FOLLOWING SHOULD BE AVAILABLE    
    ///Check Session["PPID"] IF IT CONTAINS 'E' IF EXISTING SET IsExistingUser TO TRUE AGAIN CHECK IF AcctListByICResponse IS NULL THEN SET IT TO FALSE AS NO DATA TO DISPLAY
    Online.Registration.Web.SubscriberICService.retrieveAcctListByICResponse AcctListByICResponse = null;
    Online.Registration.Web.SubscriberICService.CustomizedCustomer CustomerPersonalInfo = null;

    bool IsExistingUser = false;
    //if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        if (!ReferenceEquals(Session["AllServiceDetails"], null))
        {
            var msisdn = Session["ExternalID"].ToString2();
            CustomerPersonalInfo = WebHelper.Instance.constructPersonalInformationForView(msisdn);
            IsExistingUser = true;
        }
    }
    #endregion VLT ADDED CODE  
}
@model Online.Registration.Web.SmartViewModels.PersonalDetailsVM
<div class="form-row">
    <div class="form-label">
        Address
    </div>
    <div class="form-field">
        :
        @Html.Raw(CustomerPersonalInfo.Address1)</div>
    <div style="display: none">
        @if (CustomerPersonalInfo != null)
        {
            if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address1))
            {
            @Html.TextBoxFor(model => model.Address.Line1, new { style = "width:300px", @Value = CustomerPersonalInfo.Address1 })
            }
            else
            {
            @Html.TextBoxFor(model => model.Address.Line1, new { style = "width:300px" })
            }
        }
        else
        {
            @Html.TextBoxFor(model => model.Address.Line1, new { style = "width:300px" })
        }
    </div>
</div>
@if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address2))
{
    <div class="form-row">
        <div class="form-label">
        </div>
        <div style="padding-left: 20%;">
            :
            @CustomerPersonalInfo.Address2
        </div>
        <div style="display: none">
            @if (CustomerPersonalInfo != null)
            {
                if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address2))
                {
                @Html.TextBoxFor(model => model.Address.Line2, new { @readonly = "readonly", style = "width:300px;background-color: rgb(242, 242, 242);", @Value = CustomerPersonalInfo.Address2 })
                }
                else
                {
                @Html.TextBoxFor(model => model.Address.Line2, new { @readonly = "readonly", style = "width:300px;background-color: rgb(242, 242, 242);" })
                }
            }
            else
            {
                @Html.TextBoxFor(model => model.Address.Line2, new { @readonly = "readonly", style = "width:300px;background-color: rgb(242, 242, 242);" })
            }
        </div>
    </div>
}
@*@if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address3))
{
    <div class="form-row">
        <div class="form-label">
        </div>
        <div style="padding-left: 20%;">
            :
            @CustomerPersonalInfo.Address3
            <div style="display: none">
                @if (CustomerPersonalInfo != null)
                {
                    if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address3))
                    {
                    @Html.TextBoxFor(model => model.Address.Line3, new { style = "width:300px", @readonly = "readonly", @Value = CustomerPersonalInfo.Address3 })
                    }
                    else
                    {
                    @Html.TextBoxFor(model => model.Address.Line3, new { style = "width:300px", @readonly = "readonly" })
                    }
                }
                else
                {
                    @Html.TextBoxFor(model => model.Address.Line3, new { style = "width:300px", @readonly = "readonly" })
                }
            </div>
        </div>
    </div>
}*@

<div class="form-row">
    <div class="form-label">
        Town/City Name</div>
    <div class="form-field">
        :
        @Html.Raw(CustomerPersonalInfo.City)</div>
    <div style="display: none">
        @if (CustomerPersonalInfo != null)
        {
            if (!string.IsNullOrEmpty(CustomerPersonalInfo.City))
            {
            @Html.TextBoxFor(model => model.Address.Town, new { @readonly = "readonly", @Value = CustomerPersonalInfo.City })
            }
            else
            {
            @Html.TextBoxFor(model => model.Address.Town)
            }
        }
        else
        {
            @Html.TextBoxFor(model => model.Address.Town)
        }
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        Postcode</div>
    <div class="form-field">
        :
        @Html.Raw(CustomerPersonalInfo.PostCode)</div>
    <div style="display: none">
        @if (CustomerPersonalInfo != null)
        {
            if (!string.IsNullOrEmpty(CustomerPersonalInfo.PostCode))
            {
            @Html.TextBoxFor(model => model.Address.Postcode, new { @readonly = "readonly", @Value = CustomerPersonalInfo.PostCode })
            }
            else
            {
            @Html.TextBoxFor(model => model.Address.Postcode, new { @readonly = "readonly" })
            }
        }
        else
        {
            @Html.TextBoxFor(model => model.Address.Postcode, new { @readonly = "readonly" })
        }
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        State/Province</div>
    <div class="form-field">
        :
        @Html.Raw(CustomerPersonalInfo.State)
    </div>
</div>
<div style="display: none">
    @if (!string.IsNullOrEmpty(CustomerPersonalInfo.State))
    {
                    
@*@(Html.Telerik().DropDownListFor(model => model.Address.StateID).BindTo(Util.GetList(RefType.State, defaultValue: "", selectedValue: IsExistingUser ? CustomerPersonalInfo.State : "")))*@
@* @Html.DropDownListFor(model =>  model.Address.StateID, Util.GetList(RefType.State, defaultValue:string.Empty, selectedValue: IsExistingUser ? CustomerPersonalInfo.State :string.Empty))*@
        List<SelectListItem> objStateList = Util.GetList(RefType.State);
        List<SelectListItem> curStateId = objStateList.Where(e => e.Text == CustomerPersonalInfo.State).ToList();
        if (curStateId.Count() > 0)
        {
            Model.Address.StateID = Convert.ToInt32(curStateId[0].Value);

        }
        else
        {
            Model.Address.StateID = 20;
        }
              
        @Html.HiddenFor(model => model.Address.StateID);
    }
    else
    {
                
@* @(Html.Telerik().DropDownListFor(model => model.Address.StateID).BindTo(Util.GetList(RefType.State, defaultValue: "20")))*@
@*  @Html.DropDownListFor(model => model.Address.StateID, Util.GetList(RefType.State, defaultValue: "20"))*@
                
        Model.Address.StateID = 20;
        @Html.HiddenFor(model => model.Address.StateID);

    }
</div>
