﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@using Online.Registration.Web.SubscriberICService;
@using Online.Registration.Web.ContentRepository;
@{
    ViewBag.Title = "Customer";
    var idCardTypeID = Model.Customer.IDCardTypeID;

    var minAge = Session["RegMobileReg_ProgramMinAge"].ToInt();
    var NRICType = Util.GetIDCardTypeID(IDCARDTYPE.NRIC);
    string idCardTypeName = string.Empty;
    var msisdn = Session["ExternalID"].ToString2();
    ///GET THE retrieveAcctListByICResponse TYPE OF OBJECT FROM SESSION IF PPID="E" FOLLOWING SHOULD BE AVAILABLE    
    ///Check Session["PPID"] IF IT CONTAINS 'E' IF EXISTING SET IsExistingUser TO TRUE AGAIN CHECK IF AcctListByICResponse IS NULL THEN SET IT TO FALSE AS NO DATA TO DISPLAY
    Online.Registration.Web.SubscriberICService.retrieveAcctListByICResponse AcctListByICResponse = null;
    Online.Registration.Web.SubscriberICService.CustomizedCustomer CustomerPersonalInfo = null;
    bool IsExistingUser = false;
    string CustemailAddr = string.Empty;
    int CustomerTitleIDfromConfig = System.Configuration.ConfigurationManager.AppSettings["CustomerTitleID"] != null ? Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CustomerTitleID"]) : 0;
    //if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        if (!ReferenceEquals(Session["AllServiceDetails"], null))
        {
            ///CHECK IF EXISTING USER THEN ONLY RETRIEVE CUSTOMER INFORMATION
            CustomerPersonalInfo = WebHelper.Instance.constructPersonalInformationForView(msisdn);
            if (!ReferenceEquals(CustomerPersonalInfo, null))
            {
                idCardTypeID = WebHelper.Instance.determineIDCardTypeID(CustomerPersonalInfo);
                idCardTypeName = WebHelper.Instance.getStringFromIDType(CustomerPersonalInfo);
                IsExistingUser = true;
            }
        }
    }
    if (CustomerPersonalInfo != null)
    {
        if (!string.IsNullOrEmpty(CustomerPersonalInfo.NewIC) || !string.IsNullOrEmpty(CustomerPersonalInfo.OldIC))
        {
            Model.Customer.NationalityID = 1;
            Model.InputNationalityID = 1;
        }
        else
        {
            Model.Customer.NationalityID = 132;
            Model.InputNationalityID = 132;
        }
        CustemailAddr = CustomerPersonalInfo.EmailAddrs;
    }
       
 
}
@model Online.Registration.Web.SmartViewModels.PersonalDetailsVM
<div class="form-row">
    <div class="form-label">
        Title
    </div>
    <div>
        :
        @*if (CustomerPersonalInfo != null && CustomerPersonalInfo.Title.ToString2() != "")*@
        @if (CustomerPersonalInfo != null && !string.IsNullOrWhiteSpace(CustomerPersonalInfo.Title))
        {
            //if (CustomerPersonalInfo.CustomerTitleID != null && CustomerPersonalInfo.CustomerTitleID != 0) 
            if (!string.IsNullOrWhiteSpace(CustomerPersonalInfo.Title))
            {
       
                Online.Registration.Web.RegistrationSvc.RegistrationServiceClient client = new Online.Registration.Web.RegistrationSvc.RegistrationServiceClient();
                //int titleID = client.GetIdByTitleName(CustomerPersonalInfo.Title);
                var customerTitleList = MasterDataCache.Instance.CustomerTitle;
                int titleID = 0;
                if (customerTitleList.CustomerTitles.Where(x => x.Name.Equals(CustomerPersonalInfo.Title)).Any())
                { 
                    titleID = customerTitleList.CustomerTitles.Where(x => x.Name.Equals(CustomerPersonalInfo.Title)).FirstOrDefault().ID;
                }            
                Model.Customer.CustomerTitleID = titleID;
                Html.HiddenFor(model => model.Customer.CustomerTitleID);

            
                Session["cTitleID"] = titleID;
            }
        @*@{Model.Customer.CustomerTitleID = 1;}*@
        }
         else
        {
            Model.Customer.CustomerTitleID = CustomerTitleIDfromConfig;
        }
        @Html.Raw(CustomerPersonalInfo.Title)
        @(Html.HiddenFor(model => model.Customer.CustomerTitleID))
        
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        Full Name</div>
    <div>
        :
        @Html.Raw(CustomerPersonalInfo.CustomerName)
        @if (CustomerPersonalInfo.CustomerName != null)
        {
            Model.Customer.FullName = CustomerPersonalInfo.CustomerName;
        }
        @Html.HiddenFor(model => model.Customer.FullName)
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        ID No</div>
    <div style="vertical-align: top">
        :
        @Html.Raw(idCardTypeName) -
        @{
            if ((CustomerPersonalInfo.NewIC).ToString2() != string.Empty)
            {
            @Html.Raw(CustomerPersonalInfo.NewIC)
            }
            else if ((CustomerPersonalInfo.OldIC).ToString2() != string.Empty)
            {
            @Html.Raw(CustomerPersonalInfo.OldIC)
            }
            else if ((CustomerPersonalInfo.PassportNo).ToString2() != string.Empty)
            {
            @Html.Raw(CustomerPersonalInfo.PassportNo)
            }
                    
        }
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        DOB
    </div>
    <div style="vertical-align: top">
        :
        @if (CustomerPersonalInfo.Dob != null && CustomerPersonalInfo.Dob != string.Empty)
        {
            <div id="dvDob" style="display: inline;">
                @Html.Raw(CustomerPersonalInfo.Dob.Substring(6, 2))@Html.Raw("-")
                @Html.Raw(CustomerPersonalInfo.Dob.Substring(4, 2))@Html.Raw("-")
                @Html.Raw(CustomerPersonalInfo.Dob.Substring(0, 4))</div>

            Model.DOBDay = (CustomerPersonalInfo.Dob.Substring(6, 2)).ToInt();
            Model.DOBMonth = (CustomerPersonalInfo.Dob.Substring(4, 2)).ToInt();
            Model.DOBYear = (CustomerPersonalInfo.Dob.Substring(0, 4)).ToInt();
                        
            @Html.HiddenFor(model => model.DOBDay)
            @Html.HiddenFor(model => model.DOBMonth)
            @Html.HiddenFor(model => model.DOBYear)

            //Session["dobCusOrdSummary"] = Model.DOBDay + "/" + Model.DOBMonth + "/" + Model.DOBYear;
            Session["dobCusOrdSummary"] = Model.DOBMonth + "/" + Model.DOBDay + "/" + Model.DOBYear;
        }
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        Contact No
    </div>
    <div>
        :
        @if (CustomerPersonalInfo != null)
        {
            if (CustomerPersonalInfo.Cbr != null)
            {
                if (CustomerPersonalInfo.Cbr.Length > 0)
                {
                    CustomerPersonalInfo.Cbr = Util.FormatContactNumber(CustomerPersonalInfo.Cbr);
                }
            @Html.Raw(CustomerPersonalInfo.Cbr.Replace("-", ""))
                Model.Customer.ContactNo = CustomerPersonalInfo.Cbr.Replace("-", string.Empty);
            @(Html.HiddenFor(model => model.Customer.ContactNo))
            }

        }
        else
        {
            @Html.Raw(msisdn)
        }
    </div>
</div>
<div style="display: none;">
    @Html.Label("Male") @Html.RadioButtonFor(model => model.Customer.Gender, "M", new { onclick = "setGender(this);", @class = "gender", id = "rdbMale", @checked = "checked" })
    @Html.Label("Female") @Html.RadioButtonFor(model => model.Customer.Gender, "F", new { onclick = "setGender(this);", @class = "gender", id = "rdbMale" })
    @if (CustomerPersonalInfo != null)
    {
        if (idCardTypeID != null && idCardTypeID != 0)
        {
        @Html.DropDownListFor(model => model.Customer.IDCardTypeID, Util.GetList(RefType.IDCardType, defaultValue: string.Empty, selectedValue: Convert.ToString(idCardTypeID)))
        }
        else
        {
        @Html.DropDownListFor(model => model.Customer.IDCardTypeID, Util.GetList(RefType.IDCardType, defaultValue: string.Empty))
        }
    }
    else
    {
        @Html.DropDownListFor(model => model.Customer.IDCardTypeID, Util.GetList(RefType.IDCardType, defaultValue: string.Empty))
    }
    @if (CustomerPersonalInfo != null)
    {
        if (idCardTypeID != null && idCardTypeID != 0)
        {
            Model.Customer.IDCardNo = CustomerPersonalInfo.NewIC != null ? CustomerPersonalInfo.NewIC : CustomerPersonalInfo.OldIC;
        }
    }
    @Html.HiddenFor(model => model.InputIDCardTypeID, new { @Value = idCardTypeID })
    @{
        if (idCardTypeID == 1)
        {
        @Html.HiddenFor(model => model.InputIDCardNo, new { @Value = CustomerPersonalInfo.NewIC })
        @Html.HiddenFor(model => model.Customer.IDCardNo, new { @Value = CustomerPersonalInfo.NewIC })
        }
        else if (idCardTypeID == 2)
        {
        @Html.HiddenFor(model => model.InputIDCardNo, new { @Value = CustomerPersonalInfo.PassportNo })
        @Html.HiddenFor(model => model.Customer.IDCardNo, new { @Value = CustomerPersonalInfo.PassportNo })
        }
        else if (idCardTypeID == 3)
        {@Html.HiddenFor(model => model.InputIDCardNo, new { @Value = CustomerPersonalInfo.OldIC })
        @Html.HiddenFor(model => model.Customer.IDCardNo, new { @Value = CustomerPersonalInfo.OldIC })
        }
        else if (idCardTypeID == 4)
        {   @Html.HiddenFor(model => model.InputIDCardNo, new { @Value = CustomerPersonalInfo.OtherIC })@Html.HiddenFor(model => model.Customer.IDCardNo, new { @Value = CustomerPersonalInfo.OtherIC })}
    }
    @Html.HiddenFor(model => model.Customer.NationalityID)
    @Html.HiddenFor(model => model.InputNationalityID)
    @*@(!string.IsNullOrEmpty(CustomerPersonalInfo.NewIC) ? Html.HiddenFor(model => model.Customer.NationalityID, new { @Value = "1" }) : Html.HiddenFor(model => model.Customer.NationalityID, new { @Value = "132" }))
    @(!string.IsNullOrEmpty(CustomerPersonalInfo.NewIC) ? Html.HiddenFor(model => model.InputNationalityID, new { @Value = "1" }) : Html.HiddenFor(model => model.InputNationalityID, new { @Value = "132" }))*@
    @if (CustomerPersonalInfo == null)
    {
        @Html.DropDownListFor(model => model.DOBDay, Util.GetDayList())
        @Html.DropDownListFor(model => model.DOBMonth, Util.GetMonthList())
        @Html.DropDownListFor(model => model.DOBYear, Util.GetYearList(18))
    }
    else if (CustomerPersonalInfo != null)
    {
        if ((CustomerPersonalInfo.Dob != null) && (CustomerPersonalInfo.Dob != ""))
        {
        @Html.DropDownListFor(model => model.DOBDay, Util.GetDayList(selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(6, 2)).ToString())) 
        @Html.DropDownListFor(model => model.DOBMonth, Util.GetMonthList(selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(4, 2)).ToString()))
        @Html.DropDownListFor(model => model.DOBYear, Util.GetYearList(18, selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(0, 4)).ToString()))
        }
        else
        {
        @Html.DropDownListFor(model => model.DOBDay, Util.GetDayList())
        @Html.DropDownListFor(model => model.DOBMonth, Util.GetMonthList())
        @Html.DropDownListFor(model => model.DOBYear, Util.GetYearList(18))
        }
    }
    @Html.HiddenFor(model => model.DOBDay)
    @Html.HiddenFor(model => model.DOBMonth)
    @Html.HiddenFor(model => model.DOBYear)
    @if (CustomerPersonalInfo.LanguageID.ToInt() > 0)
    {

        Model.Customer.LanguageID = CustomerPersonalInfo.LanguageID;
    }
    else
    {
        Model.Customer.LanguageID = 1;
    }
    @Html.HiddenFor(model => model.Customer.LanguageID)
    @Html.DropDownListFor(model => model.Customer.NationalityID, Util.GetList(RefType.Nationality, defaultValue: string.Empty, selectedValue: "1"))
    @*@if (CustomerPersonalInfo.RaceID.ToInt() > 0)
        {
            Model.Customer.RaceID = CustomerPersonalInfo.RaceID;
        }
        else
        {
            Model.Customer.RaceID = 3;
        }*@
    @Html.HiddenFor(model => model.Customer.RaceID)
    Model.Customer.RaceID = CustomerPersonalInfo.RaceID;
</div>
<script type="text/javascript">

    $(document).ready(function () {
        debugger;
        $('#CustEmailAddress').val('@CustemailAddr');

    });
    
</script>
