﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.CommonEnum;
@using Online.Registration.DAL.Models;
@using Online.Registration.Web.Models;
@model Online.Registration.Web.SmartViewModels.PersonalDetailsVM
@{
    var idDocumentFront = string.Empty;
    var idDocumentBack = string.Empty;
    var idDocumentOther = string.Empty;
    var idDocumentFrontName = "No file selected.";
    var idDocumentBackName = "No file selected.";
    var idDocumentOtherName = "No file selected.";
    var inputJustification = string.Empty;

    if (!string.IsNullOrEmpty(Model.frontDocumentName))
    {
        idDocumentFront = Session["frontImage"].ToString2();
        idDocumentFrontName = Model.frontDocumentName;
    }

    if (!string.IsNullOrEmpty(Model.backDocumentName))
    {
        idDocumentBack = Session["backImage"].ToString2();
        idDocumentBackName = Model.backDocumentName;
    }

    if (!string.IsNullOrEmpty(Model.othDocumentName))
    {
        idDocumentOther = Session["otherImage"].ToString2();
        idDocumentOtherName = Model.othDocumentName;
    }

    if (!string.IsNullOrEmpty(Model.Justification))
    {
        inputJustification = Model.Justification;
    }
    else
    {
        inputJustification = null;
    }

    string sessionStatusFailMsg = string.Empty;
    string sessionStatusFailMsg_SV = string.Empty;
    string sessionStatusFailMsg_HS = string.Empty;
    bool isBREFail = false;
    WebHelper.Instance.BRECheckMessage(out sessionStatusFailMsg_HS, out sessionStatusFailMsg, out sessionStatusFailMsg_SV, out isBREFail);
    
}

@*Html.HiddenFor(a => a.hdnWaiverInfo)*@

    <div id="SV_BREApproval_Error" class="col-sm-12 ErrorClass" style="padding-left: 20px; padding-bottom: 5px; color: red; font-size: 15px;"></div>
    <div class="col-sm-12 form" id="SV_BREApproval">
        <div class="col-sm-12" style="margin-top: -5px; margin-bottom: 5px; margin-left: 15px; ">
            @{
            <input id="bre-exceptional" class="stock-checkbox" type="checkbox" />
            <label for="bre-exceptional" class="stock-label">Exceptional BRE Approval</label>
            }
        </div>
    </div>
    <div id="Justification_Error" class="ErrorClass" style="padding-left: 20px; padding-bottom: 5px; color:red; font-size:15px"></div>
    <div style="width: 100%; margin: 0 auto; padding: 20px;">
	    <table style="padding: 0px">
		    <tr>
			    <td valign='top' id='tdJustfication'>
                    @Html.TextAreaFor(m => m.Justification, new { maxlength = "200", placeholder = "Enter justification", style = "width:425px;height:100px;resize:none;" })
			    </td>
		    </tr>
		    <tr>
			    <td class="txt-14-black-normal">
				    (Max. limit is 200 characters)
			    </td>
		    </tr>
	    </table>
    </div>
    <div style="width: 100%; margin: 0 auto; padding: 0px 0px 0px 25px;">
        <div id="divFrontImageMsg" style="display: none;">
		    <label id="lblFrontImage" style="font-weight: bold; color: Red;">File format not supported.</label>
	    </div>
    <div style="width: 100%; margin: 0 auto; padding: 0px 0px 0px 5px;">
    <table style="margin: 0 auto;" >    
    <tr>
    <td>  @Html.HiddenFor(model => model.CustomerPhoto)
                @Html.HiddenFor(a => a.frontDocumentName)
		        <span id="summary-label">@Html.LabelFor(model => model.CustomerPhoto)</span>
			    <div class="divChoosefile">                                                                        
				    <input id="CustImageUpload" type="file" accept="image/*;capture=camera" class="cancel" style="display:none;" /> 
				    <input id="btnCustImageUpload" class="btnBrowse" type="button" value="Browse" />
				    <span id="lblCustImageUpload" class="ImgUploadlabel">@(idDocumentFrontName)</span>
			    </div></td>
       <td>
     @Html.HiddenFor(model => model.AltCustomerPhoto)
                @Html.HiddenFor(a => a.backDocumentName)
		        <span id="summary-label">@Html.LabelFor(model => model.AltCustomerPhoto)</span>
                <div class="divChoosefile">                                                                        
				    <input id="CustImageUpload2" type="file" accept="image/*;capture=camera" class="cancel" style="display:none;" />
				    <input id="btnCustImageUpload2" class="btnBrowse" type="button" value="Browse" />
				    <span id="lblCustImageUpload2" class="ImgUploadlabel">@(idDocumentBackName)</span>
			    </div>
    </td>
     </tr>
     <tr>
    <td>
    <div class="image-box" style="line-height: 0; height: auto;float:left;">
                    @if (!string.IsNullOrEmpty(idDocumentFront))
                    { 
				    <img id="RemoveCustImageUpload" src="@Url.Content("~/Content/images/close.png")" alt="Remove" style="display:block;" class="removeImg" />
				    <img id="imgCustPhoto" alt="" src="@(idDocumentFront)"/>
                    }
                    else
                    { 
                    <img id="RemoveCustImageUpload" src="@Url.Content("~/Content/images/close.png")" alt="Remove" style="display:none;" class="removeImg" />
				    <img id="imgCustPhoto" alt="" src="" />
                    }
			    </div>
    </td>
   
    <td>
    <div class="image-box" style="line-height: 0; height: auto;float:Center;">
                    @if (!string.IsNullOrEmpty(idDocumentBack))
                    { 
				    <img id="RemoveCustImageUpload2" src="@Url.Content("~/Content/images/close.png")" alt="Remove" style="display:block;" class="removeImg" />
				    <img id="imgAltCustPhoto" alt="" src="@(idDocumentBack)"/>
                    }
                    else
                    { 
                    <img id="RemoveCustImageUpload2" src="@Url.Content("~/Content/images/close.png")" alt="Remove" style="display:none;" class="removeImg" />
				    <img id="imgAltCustPhoto" alt="" src=""/>
                    }
			    </div>
    </td>
   </tr>

    <tr>
    <td>
     @Html.HiddenFor(model => model.Photo)
                @Html.HiddenFor(a => a.othDocumentName)
                <span id="summary-label">@Html.LabelFor(model => model.Photo)</span>
			    <div class="divChoosefile">                                    
				    <input id="CustImageUpload3" type="file" accept="image/*;capture=camera" class="cancel" style="display:none;" /> 
				    <input id="btnCustImageUpload3" class="btnBrowse" type="button" value="Browse" />
				    <span id="lblCustImageUpload3" class="ImgUploadlabel">@(idDocumentOtherName)</span>
			    </div>
    </td>
    </tr>
    <tr>
    <td>
    
			    <div class="image-box" style="line-height: 0; height: auto;float:left;">
                    @if (!string.IsNullOrEmpty(idDocumentOther))
                    { 
				    <img id="RemoveCustImageUpload3" src="@Url.Content("~/Content/images/close.png")" alt="Remove" style="display:block;" class="removeImg" />
				    <img id="imgPhoto" alt="" src="@(idDocumentOther)"/>
                    }
                    else
                    { 
                    <img id="RemoveCustImageUpload3" src="@Url.Content("~/Content/images/close.png")" alt="Remove" style="display:none;" class="removeImg" />
				    <img id="imgPhoto" alt="" src=""/>
                    }
			    </div>
    </td>
    </tr>

    </table>
    
   </div>
   
</div>
<div style="clear: both;"></div>

<script type="text/javascript" language="javascript" >
    $('#btnCaptureImage1').click(function () {
        $('#CaptureImageValue').val('imgCustPhoto');
    });

    $('#btnCaptureImage2').click(function () {
        $('#CaptureImageValue').val('imgAltCustPhoto');
    });

    $('#btnCaptureImage3').click(function () {
        $('#CaptureImageValue').val('imgPhoto');
    });

    $(function () {
        var url = '@(Url.Content("~/CRP/UploadImage"))';
        var formdata = false;

        $("#CustImageUpload").change(function () {
            if (window.FormData !== undefined) {
                var i = 0, len = this.files.length, img, reader, file;
                formdata = false;
                ///Check for FormData support in browser
                if (window.FormData) {
                    formdata = new FormData();
                }
                ///Check if length greater than 0 then only proceed
                if (len > 0) {
                    file = this.files[0];

                    if (window.FileReader) {
                        ///Check the filetype if not image show alert and exit
                        if (file.type.indexOf("image") == -1) {
                            $('#divFrontImageMsg').show("slow");
                            return;
                        }
                        else {
                            $('#divFrontImageMsg').hide();
                        }
                        ///Append the file object to post the file request to server side
                        if (formdata) {
                            formdata.append("default_export_filename", file);
                        }
                        if (window.FormData !== undefined) {
                            var img = new Image;
                            img.src = URL.createObjectURL(file);

                            img.onload = function () {
                                var result = startProcess(img, file, 'CRP_IMG_UPLOAD');
                                //debugger;
                            };
                        }
                    }
                }

            } ///undefined        
        });

        $("#CustImageUpload2").change(function () {
            if (window.FormData !== undefined) {
                var i = 0, len = this.files.length, img, reader, file;
                formdata = false;
                ///Check for FormData support in browser
                if (window.FormData) {
                    formdata = new FormData();
                }
                ///Check if length greater than 0 then only proceed
                if (len > 0) {
                    file = this.files[0];

                    if (window.FileReader) {
                        ///Check the filetype if not image show alert and exit
                        if (file.type.indexOf("image") == -1) {
                            $('#divFrontImageMsg').show("slow");
                            return;
                        }
                        else {
                            $('#divFrontImageMsg').hide();
                        }
                        ///Append the file object to post the file request to server side
                        if (formdata) {
                            formdata.append("default_export_filename", file);
                        }
                        if (window.FormData !== undefined) {
                            var img = new Image;
                            img.src = URL.createObjectURL(file);

                            img.onload = function () {
                                var result = startProcess(img, file, 'CRP_IMG_UPLOAD_2');
                                //debugger;
                            };
                        }
                    }
                }

            } ///undefined            
        });

        $("#CustImageUpload3").change(function () {
            if (window.FormData !== undefined) {
                var i = 0, len = this.files.length, img, reader, file;
                formdata = false;
                ///Check for FormData support in browser
                if (window.FormData) {
                    formdata = new FormData();
                }
                ///Check if length greater than 0 then only proceed
                if (len > 0) {
                    file = this.files[0];

                    if (window.FileReader) {
                        ///Check the filetype if not image show alert and exit
                        if (file.type.indexOf("image") == -1) {
                            $('#divFrontImageMsg').show("slow");
                            return;
                        }
                        else {
                            $('#divFrontImageMsg').hide();
                        }
                        ///Append the file object to post the file request to server side
                        if (formdata) {
                            formdata.append("default_export_filename", file);
                        }
                        if (window.FormData !== undefined) {
                            var img = new Image;
                            img.src = URL.createObjectURL(file);

                            img.onload = function () {
                                var result = startProcess(img, file, 'CRP_IMG_UPLOAD_3');
                                //debugger;
                            };
                        }
                    }
                }
            } ///undefined      
        });

    });

    $("#btnCustImageUpload").click(function () {
        $("#CustImageUpload").click();
    });
    $("#btnCustImageUpload2").click(function () {
        $("#CustImageUpload2").click();
    });
    $("#btnCustImageUpload3").click(function () {
        $("#CustImageUpload3").click();
    });

    $("#RemoveCustImageUpload").click(function () {
        if ($("#frontDocumentName").val() != '') {
            $("#imgCustPhoto").attr("src", "");
            $("#imgCustPhoto").data("name", "");
            $("#imgCustPhoto").hide();
            $("#CustomerPhoto").val("");
            $("#frontDocumentName").val("");
            $("#lblCustImageUpload").html('No file selected.');
            $("#RemoveCustImageUpload").hide();
        }
    });
    $("#RemoveCustImageUpload2").click(function () {
        if ($("#backDocumentName").val() != '') {
            $("#imgAltCustPhoto").attr("src", "");
            $("#imgAltCustPhoto").data("name", "");
            $("#imgAltCustPhoto").hide();
            $("#AltCustomerPhoto").val("");
            $("#backDocumentName").val("");
            $("#lblCustImageUpload2").html('No file selected.');
            $("#RemoveCustImageUpload2").hide();
        }
    });
    $("#RemoveCustImageUpload3").click(function () {
        if ($("#othDocumentName").val() != '') {
            $("#imgPhoto").attr("src", "");
            $("#imgPhoto").data("name", "");
            $("#imgPhoto").hide();
            $("#Photo").val("");
            $("#othDocumentName").val("");
            $("#lblCustImageUpload3").html('No file selected.');
            $("#RemoveCustImageUpload3").hide();
        }
    });

    $.fn.replace = function () {
        var $el = $(this).fadeOut();
        $el.clone().insertBefore($el).fadeIn();
        $el.remove();
    }

    $.fn.fly = function (target, callback) {
        var callback = callback || function () { };
        var $target = $(target);
        target = $target.get(0);
        return $(this).each(function (i, el) {
            var $el = $(el);
            var $clone = $el.clone()
						        .css({ position: "absolute", left: el.offsetLeft, top: el.offsetTop, width: el.offsetWidth, height: el.offsetHeight, padding: 0, margin: 0 })
					            .appendTo("body");
            var targetStyle = target
			                        ? { width: target.offsetWidth, height: target.offsetHeight, top: target.offsetTop, left: target.offsetLeft }
                                    : { width: 0, height: 0, opacity: 0.4, top: 0 };

            var isLast = (i == $(this).length - 1);
            $clone.animate(targetStyle, function () {
                $clone.remove();
                if (isLast) callback();
            });
        });
    }

    $(document).ready(function () {

        if ('@(sessionStatusFailMsg)' != '') {
            $('#Justification_Error').html('Please Enter Justification For - ' + '@(sessionStatusFailMsg)');
        };

        // 20160111 - BUG #1331 - w.loon - start
        $('#SV_BREApproval').hide();
        if ('@(sessionStatusFailMsg_SV)' != '') {
            $('#SV_BREApproval').show();
            $('#SV_BREApproval_Error').html('Please Provide Supervisor Approval For - ' + '@(sessionStatusFailMsg_SV)');
        };
        // 20160111 - BUG #1331 - w.loon - end

        var errorMessage = $('#Plan_Error').text();

        if (errorMessage != '') {
            $("html, body").animate({ scrolltop: 0 }, "slow");
        }

        function handleFileSelect(evt) {
            var files = evt.target.files;
            var smallImage
            if (this.id == "CustImageUpload")
                smallImage = document.getElementById('imgCustPhoto');
            if (this.id == "CustImageUpload2")
                smallImage = document.getElementById('imgAltCustPhoto');
            if (this.id == "CustImageUpload3")
                smallImage = document.getElementById('imgPhoto');
            smallImage.style.display = 'block';
            var f = files[0];
            if (!f.type.match("image.*")) { return; }
            var reader = new FileReader();
            reader.onload = function (e) {
                var src = e.target.result;
                smallImage.src = src;
            }
            reader.readAsDataURL(f);
        }

        //  CustImageUpload button checking available or not
        if ($("#CustImageUpload").length > 0) {
            document.getElementById('CustImageUpload').addEventListener('change', handleFileSelect, false);
        }
        if ($("#CustImageUpload2").length > 0) {
            document.getElementById('CustImageUpload2').addEventListener('change', handleFileSelect, false);
        }
        if ($("#CustImageUpload3").length > 0) {
            document.getElementById('CustImageUpload3').addEventListener('change', handleFileSelect, false);
        }
    });
</script>

