﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.SubscriberICService;
@using Telerik.Web.Mvc.UI;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Controllers;
@using Online.Registration.Web.SmartViewModels;
@model Online.Registration.Web.Models.SupplementaryListAccounts
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Customer Account";
    var isBlacklisted = ViewBag.isBlacklisted;
    var resultMsg = Session["RegMobileReg_ResultMessage"].ToString2();
    bool newUser = true;
    var isUserCCCAbove = WebHelper.Instance.IsUserCCCAbove();
    string supptoprin = "Supplementary-to-Prinicpal";
    string supptosupp = "Supplementary-to-Supplementary";
    var HasContract = false;
    if (Session["PPID"] == null)
    {
        Session.Abandon();
        Response.Redirect("~/Account/LogOn");
        // return RedirectToAction("../", true);
        //System.Web.Mvc.reRedirectToAction("LogOut", new { type = "loggedout" });
    }
    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        newUser = false;
    }
    if (ReferenceEquals(Model, null))
    {
        newUser = true;
    }
    retrieveAcctListByICResponse AcctListByICResponse = null;

    if (!ReferenceEquals(SessionManager.Get("PPIDInfo"), null))
    {
        AcctListByICResponse = (retrieveAcctListByICResponse)SessionManager.Get("PPIDInfo");

    }
    List<string> allowedPrefixes = new List<string>();
    if (System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"] != null)
    {
        allowedPrefixes = System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"].ToString2().Split(',').ToList();
    }

    //02062015 - Anthony - to pre-select the number if search by MSISDN
    var idCardTypeName = Session["PPIDSearchIDType"].ToString2();
    string CurMsisdn = Session[Online.Registration.Web.CommonEnum.SessionKey.IDCardMSiSDNNew.ToString()].ToString2();
      
}
<div id="center">
    <div class="center_box">
        @using (Html.BeginForm("Accounts", "Retention", FormMethod.Post, new { id = "frmCAccounts", defaultbutton = "Continue", @class = "overlayonsubmit", processmsg = "Loading", onSubmit = "return fnValidateAccountSelection();" }))
        {
            @Html.Hidden("submit1")
            @Html.Hidden("IsSupptoPrincipal")
            @Html.Hidden("SuppContract")
            @Html.Hidden("AccountType")
            @Html.Hidden("ActionType")
            
            <div class="content search-header">
                <div class="search-header-box">
                    <div class="search-hdr-title">@ViewBag.Title</div>
                </div>
            </div>
            <div style="clear: both;">
            </div>
            <div class="content_white">
                <div id="DVResultDisplay" class="crp-wrapper">
                    <div class="ErrorClass" style="display: block; white-space: nowrap;" id="tdSim_Error">
                    </div>
                    @Html.ValidationSummary()
                    @if (!newUser && Model.SuppListAccounts.Count > 0)
                    {
                         <table width="100%" cellpadding="0" cellspacing="0" border="0">
                      <tr style="font-size:15px;">
                            <td >
                                       <b> ID No :</b>
                                    
                                    @foreach (var Acd in Model.SuppListAccounts)
                                    {
                                        @Acd.IDNumber
                                        break;
                                    }
                                    </td>
                            </tr>
                    </table>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" id="search-table">
                            <tbody>
                                <tr class="row-bold-header">
                                    <td align="center">
                                        Action
                                    </td>
                                    <td>
                                        Name
                                    </td>
                                    @*<td>
                                        ID No
                                    </td>*@
                                    <td>
                                        MSISDN
                                    </td>
                                    <td>
                                        Account Number
                                    </td>
                                   @* <td>
                                        Is Principle
                                    </td>
                                    <td>
                                        Is MSIM
                                    </td>*@
                                    <td>
                                        Account Type
                                    </td>
                                    <td>
                                         Status
                                    </td>
                                </tr>
                                @foreach (var Acd in Model.SuppListAccounts)
                                {

                                    string status = string.Empty;
                                    if (AcctListByICResponse.itemList.Find(a => a.ExternalId == Acd.externalId.ToString2()) != null)
                                    {
                                        string str = AcctListByICResponse.itemList.Find(a => a.ExternalId == Acd.externalId.ToString2()).ExternalId;


                                        if (str.Length > 0)
                                        {
                                            status = AcctListByICResponse.itemList.Find(a => a.ExternalId == Acd.externalId && a.ServiceInfoResponse!=null).ServiceInfoResponse.serviceStatus;
                                        }
                                    }
                                    else
                                    {
                                        status = "Active";
                                    }
                                    string AccountStatuses = "Not Available";
                                    switch (Acd.AccountStatus)
                                    {
                                        case "B":
                                            AccountStatuses = "Barred";
                                            break;
                                        case "S":
                                            AccountStatuses = "Suspended";
                                            break;
                                        case "T":
                                            AccountStatuses = "Terminated";
                                            break;
                                        case "A":
                                            AccountStatuses = "Active";
                                            break;
                                        default:
                                            AccountStatuses = Acd.AccountStatus;
                                            break;
                                    }
                                    string curSimType = " - " + Acd.AccountType;
                                    if (!Acd.IsMISM)
                                    {
                                        curSimType = Acd.AccountName + curSimType;
                                    }
                                    else
                                    {
                                        curSimType = "MISM" + curSimType;
                                    }
                                    if (allowedPrefixes.Contains(Acd.externalId.Substring(0, 3)))
                                    {
                                    <tr class="row-body">
                                        <td align="center">@Html.RadioButton("SelectAccountDtls", Acd.AccountNumber + "," + Acd.externalId + "," + Acd.SubscribeNo + "," + Acd.SubscribeNoResets + "," + status + "," + Acd.IsMISM + "," + Acd.AccountType + "," + Acd.Holder+","+Acd.Category+","+Acd.MarketCode, new { onclick = "CheckAccount()" })
                                        </td>
                                        <td>@Acd.Holder
                                        </td>
                                       @* <td>@Acd.IDNumber
                                        </td>*@
                                        <td>@Acd.externalId
                                        </td>
                                        <td>@Acd.AccountNumber
                                        </td>
                                       @* @if (Acd.AccountType == "P" || (!(Acd.IsMISM) && Acd.AccountType != string.Empty))
                                        { 
                                            <td>
                                                YES
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                NO
                                            </td> 
                                        }
                                        @if (Acd.IsMISM)
                                        { 
                                            <td>
                                                YES
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                NO
                                            </td> 
                                        }*@
                                        <td>
                                            @curSimType
                                        </td>
                                         <td>
                                            @AccountStatuses
                                        </td>
                                    </tr>
                                    }

                                }
                                @{
                                var mismPrimaryList = AcctListByICResponse.itemList.Where(i => i.IsMISM == true && i.ServiceInfoResponse.prinSuppInd == "P").ToList();
                                if (mismPrimaryList != null)
                                {
                                    for (int counter = 0; counter < mismPrimaryList.Count; counter++)
                                    {

                                        var Acd = mismPrimaryList[counter];


                                    }
                                }
                                }
                            </tbody>
                        </table>
                       
                    }
                    else
                    {
                        <div id="DVShowNewUSerMsg">
                            No Principal accounts exists for the user</div>
                    }
                </div>
                <div style="height: 80px;" class="content_white">
                    <div style="float: right; padding-right: 32px">
                     <input class="submitButton" type="submit" value="Supplementary-to-Principal" onclick="return Validation('P');"
                            id="SupptoPrin" name="SupptoPrin" />
                        <input class="submitButton" type="submit" value="Continue" onclick="return Validation('');"
                            id="Continue" name="Continue" />
                    </div>
                </div>
            </div>
        
        }
    </div>
    @Html.Partial("_footer")
    @{
        
        Html.Telerik().Window()
   .Name("SuppLinewithContractAlert")
   .Title(" ")
   .Width(600)
   .Height(165)
   .Content(@<text>
        <table>
            <tr>
                <td colspan="2">
                    @*@Html.Label("lblMessage","If you want to 'Terminate & Assign New' contract on the Supp. line, click 'Yes' or click 'No' to proceed towards terminating the existing contract on the Supp. line and assign a new contract on the principal line")                    *@
                    <label runat="server" id="lblMsgwithContract">
                        <b>If you want to 'Terminate & Assign New' contract on the Supplementary line, click 'Yes' to<br />
                            assign new contract with Supplementary rate plans or click 'No' to assign new contract with<br />
                            Principal rate plans.</b>
                    </label>
                    <label runat="server" id="lblMsgwithoutContract">
                        <b>Do you want to convert your existing Supplementary line to be contracted with a Principal<br />
                            rate plan? Click 'Yes' to contract supplementary line with Principal rate plans or click 'No'<br />
                            to contract with Supplementary rate plans.</b>
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                </td>
            </tr>
            <tr>
                <td align="right">
                    <input class="submitButton" type="button" id="btnYes" name="btnSave" onclick="return SetSupplimentay();"
                        value="Yes" />
                </td>
                <td align="left">
                    <input class="submitButton" type="button" id="btnNo" name="btnSave" onclick="return SetPrincipal();"
                        value="No" />
                </td>
            </tr>
        </table>
        </text>)
   .Modal(true)
   .Visible(false)
   .ClientEvents(events => events.OnClose("ShowContinueButton"))
   .Render();
    }
</div>
@*<div id="right">
    @Html.Partial("_OrderSummary", orderVM)
</div>*@



@section Scripts{
<script src="@Url.Content("~/Scripts/js/tablefilter_all_min.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#SupptoPrin').hide();
            if('@(isUserCCCAbove)' == "False") {
                if ('@(idCardTypeName)' != "MSISDN") {
                    $("#SelectAccountDtls:first").prop('checked', 'checked');
                }
                else {
                    $('input[name=SelectAccountDtls]').each(function () {
                        var strValue = $(this).val().split(',');
                        var currentMSISDN = '@(CurMsisdn)';
                        if (strValue[1] == currentMSISDN) {
                            $(this).prop('checked', 'checked');
                        }
                    });
                }
            }
            CheckAccount();
//             if (@(Convert.ToInt16(Session["DeviceSelected"])) == 0){
//                    $('#ContractCheckWindow').data('tWindow').center().open();
//             }

            //Highlight selected plan
            var planID = $('#SelectedPgmBdlPkgCompID').val();
            if (planID != 0) {
                $('#btnPlan_' + planID).css("border-style", "solid");
            }
            var planId = $('#hdnSelectedPlans').val();
            if (planId != "")
                $('#SelectedPgmBdlPkgCompID').val(planId);

            if (planId != 0) {
                $('#btnPlan_' + planId).css("border-style", "solid");
            }

            $('#menuCRPDevice').css("background-image", $('#menuCRPDevice').css("background-image").replace(".png", "_hover.png"));

            $('#menuCRPDevice').attr("Title", "Change rate plan with device");
            $('#menuCRP').attr("Title", "Change rate plan");

        });
        function Validation(type) {
            //            if (!$("input:radio[name='SelectAc']").is(":checked")) {
            //                alert('Select your option');
            //                return false;
            //            }
            //            $('#submit').val('next');
            //            return true;

            if (!$("input:radio[name='SelectAccountDtls']").is(":checked")) {
                //alert('Please select an account to proceed further.');
                $('#tdSim_Error').html("Please select an account to proceed further.");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }

            var selectedVal = "";
            var selectedVal = $('input[name=SelectAccountDtls]:checked').val();
            var valNew = [];
            valNew = selectedVal.split(',');
            
            if (valNew.length == 7) {
                //alert(valNew[5]);
                if (valNew[4] != "A" && valNew[4] != "") {

                    var status = "";
                    if (valNew[4].toString() == "S") {
                        status = 'Suspend';
                    }
                    else if (valNew[4].toString() == "B") {
                        status = 'Barred';
                    }
                    else if (valNew[4].toString() == "D") {
                        status = 'Deactive';
                    }
                    //alert("Your Number is on " + status + " status");
                    $('#tdSim_Error').html("Your Number is on " + status + " status");
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                }
            }
            if (valNew.length >= 8) {
                //alert(valNew[5]);
                if (valNew[4] != "A" && valNew[5] != "") {

                    var status = "";
                    if (valNew[4].toString() == "S") {
                        status = 'Suspend';
                    }
                    else if (valNew[4].toString() == "B") {
                        status = 'Barred';
                    }
                    else if (valNew[4].toString() == "D") {
                        status = 'Deactive';
                    }
                    //alert("Your Number is on " + status + " status");
                    $('#tdSim_Error').html("Your Number is on " + status + " status");
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                }
            }

           
            if (type == '')
            {
                var btnValue = $('#Continue').val();
                $('#ActionType').val(btnValue);
                if(btnValue == 'Supplementary-to-Principal')
                {
                    $('#AccountType').val('P'); // tenure < 6 months
                    
                }
                else if (btnValue == 'Supplementary-to-Supplementary')
                {
                    $('#AccountType').val('S'); //tenure > 6 months & supp-to-supp button
                   
                }
                else if (btnValue == 'Continue') {
                    $('#AccountType').val('P'); //prin account
                    
                }
            }
            else
            {
                $('#AccountType').val('P'); // tenure > 6 months & supp-to-prin button
               
            }
            

            $('#submit1').val('next');
            //document.forms['frmAddRemoveVAS'].submit();
            $("#frmAddRemoveVAS").submit();
            return true;
        }
        function fnValidateAccountSelection() {
            var selectedAccount = '';
            $('input[name=SelectAccountDtls]').each(function () {
                if (this.checked) {
                    selectedAccount = $(this).val();
                }
            });
            if (selectedAccount != '')
                return true;
            else {
                alert('Please select an Account');
                return false;
            }

        }
        function CheckAccount() {
            
            var selectedAccount = [];
            $('input[name=SelectAccountDtls]').each(function () {
                if (this.checked) {
                    selectedAccount = $(this).val().split(',');
                }
            });

            if (selectedAccount.length > 0) {
                var kenanId = selectedAccount[0];
                var externalId = selectedAccount[1];
                var subscrNo = selectedAccount[2];
                var subscrNoResets = selectedAccount[3];
                var accountType = selectedAccount[6];
                if (accountType == 'S') {
                    var url = '@(Url.Content("~/Retention/Retention/GetSuppLineTenure"))';
                    $.post(url, { strexternalId: externalId, strsubscrNo: subscrNo, strsubscrNoResets: subscrNoResets }, function (data) {
                        if (data != "-1") {
                            if (data <= 6) {
                                $('#SupptoPrin').hide();
                                $('#IsSupptoPrincipal').val('false');
                                $('#Continue').val('Supplementary-to-Principal');
                                $('#tdSim_Error').html("The selected Supplementary Line tenure is <6 months, the supplementary line can only be contracted with Principal rate plans");
                                
                            }
                            else if (data > 6) {
                                $('#SupptoPrin').show();
                                $('#IsSupptoPrincipal').val('true');
                                $('#Continue').val('Supplementary-to-Supplementary');
                                
                                $('#tdSim_Error').html("The selected Supplementary Line tenure is >6 months, the supplementary line can be contracted with principal or supplementary rate plans");

//                                var url = '@(Url.Content("~/Retention/Retention/CheckContract"))';
//                                $.post(url, {ExternalID: externalId, KenanID:kenanId, SubscriberNo: subscrNo, SubscriberNoResets: subscrNoResets}, function (data) {

//                                    if (data == 'True') {

//                                        $('#lblMsgwithContract').show();
//                                        $('#lblMsgwithoutContract').hide();
//                                        $('#SuppLinewithContractAlert').data('tWindow').center().open();
//                                        $('#SuppContract').val('true');
//                                        @(HasContract)= true;
//                                        $('#Continue').hide();
//                                    }
//                                    else if (data == 'False') {

//                                        $('#lblMsgwithoutContract').show();
//                                        $('#lblMsgwithContract').hide();
//                                        $('#SuppLinewithContractAlert').data('tWindow').center().open();
//                                        $('#SuppContract').val('false');
//                                        @(HasContract) = false;
//                                        $('#Continue').hide();
//                                    }
//                                });
                            }
                        }
                    });

                }
                else if (accountType == 'P') {
                    $('#SupptoPrin').hide();
                    $('#IsSupptoPrincipal').val('false');
                    $('#Continue').val('Continue');                    
                    $('#tdSim_Error').html("");
                }
            }
            return true;
        }
//        function SetSupplimentay() {
//            
//            if (@(HasContract) == false) {
//                $('#AccountType').val('P');
//                
//            }
//            else if (@(HasContract) == true) {
//                $('#AccountType').val('S');
//               
//            }

//            $('#submit1').val('next');
//            document.forms['frmCAccounts'].submit();
//            return true;
//        }
//        function SetPrincipal() {
//            
//            if (@(HasContract) == true) {
//                $('#AccountType').val('P');
//            }
//            else if (@(HasContract) == false) {
//                $('#AccountType').val('S');
//            }
//            $('#submit1').val('next');
//            document.forms['frmCAccounts'].submit();
//            return true;
//        }
        function ShowContinueButton() {
            $('#Continue').show();
            return true;
        }
        var table_Props = {
            stylesheet: '@Url.Content("~/Content/css/filtergrid.css")',
            on_keyup: true, 
            on_keyup_delay: 100, 
            col_0: "none",
            col_1: "none",
            col_3: "select",
            col_4: "select",
            col_5: "select",
            display_all_text: "[All]"
        };
        var tf = setFilterGrid("search-table", table_Props);
        $('.flt').addClass('flt_old');
    </script>
}
