@using Online.Registration.Web.Helper;
@using SNT.Utility;

@model Online.Registration.Web.CatalogSvc.GetDeviceImageDetailsRespSmart
@{
    Layout = null;
 }


 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
 <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/colorbox.css")" />
    @{Html.Telerik().StyleSheetRegistrar()
        .DefaultGroup(g => g
            .Add("telerik.common.css")
            .Add("telerik.office2010silver.min.css")
        ).Render();
    }
    <style>
        h1
        {
            background-color: #7B7D7A;
            color: #FFFFFF;
            float: left;
            font-size: 15px;
            padding: 5px 50px 5px 10px;
        }
        
        p
        {
            clear: both;
            float: left;
            margin: 5px 0;
        }
        p, ul
        {
            line-height: 1.6em;
            margin-bottom: 20px;
        }
        
        #wrapper
        {
            margin: 20px auto 0;
            width: 1000px;
        }
        .img img
        {
            left: -80px;
            position: absolute;
        }
    </style>
</head>

<body>


@*<h2>DevicePlanDetail</h2>*@

<div id="wrapper">
    <table>
        <tr>
            <td style="vertical-align: top;">
		        @if (Model.deviceDetails.BrandArticle.ModelImage != null && Model.deviceDetails.BrandArticle.ModelImage != string.Empty)
                {
            
                <img src="@Url.Content(Model.deviceDetails.BrandArticle.ModelImage)" alt="Image unavailable" width="200" />
                }
               else if(Model.deviceDetails.BrandArticle.ImagePath != null && Model.deviceDetails.BrandArticle.ImagePath !=string.Empty)
               {
                   <img src="@Url.Content(Model.deviceDetails.BrandArticle.ImagePath)" alt="Image unavailable" width="200" />
               }
                else
                {
                  <div style="float:middle;font-weight:bold;padding-top:50px">
														            @*<img alt="Image Not Available" src="@Url.Content(modelImage.ModelImage.ImagePath)" width="120px" height="120px" /><br />*@
                                                                    Image Unavailable<br />
														            @*@Html.Raw(Util.GetNameByID(RefType.Model, modelImage.ModelImage.ModelID))<br />*@
                                                                    @Html.Raw(Util.GetNameByID(RefType.Model, Model.deviceDetails.BrandArticle.ModelID))<br />
														            @*@Html.Raw(modelImage.ModelImage.ColourID.HasValue ? Util.GetNameByID(RefType.Colour, modelImage.ModelImage.ColourID.Value) : "")<br />*@
                                                                    @Html.Raw(Model.deviceDetails.BrandArticle.ColourID > 0 ? Util.GetNameByID(RefType.Colour, Model.deviceDetails.BrandArticle.ColourID) : "")<br />
                  </div>
                }
            </td>
            <td>
		        @if (Model.deviceDetails.BrandArticle.Description != null && Model.deviceDetails.BrandArticle.Description != string.Empty)
                {
                  @Html.Raw(Model.deviceDetails.BrandArticle.Description)

                }
                else
                {
                     <h2> No description available !</h2>    
                }
			        @*<h1>Blackberry curve 9320</h1>
			        <h2>Your social life at your fingertips<br />Dedicated BBM shortcut key</h2>
			        <p>Get connected in an instant with the dedicated BBM&trade; shortcut key on BlackBerry&reg; Curve&trade; 9220/9320 smartphone. One touch launches the BBM app so you can chat in real time or share pictures, videos and files. Plan a night out with a group message or chat privately one-on-one.</p>
                    <ul class="listItem">
                        <li>Explore BBM</li>
                        <li>BBM connected apps</li>
                    </ul>
                    <p>BBM is built into your favourite apps like Facebook&reg; and Twitter&reg;, so you can share your Facebook status update or latest Tweet without ever leaving the app.</p>
                    <p>Find and download more apps by visiting BlackBerry App World&trade; storefront. Whenever you download a new app, announce it to your BBM contacts through your BBM profile. Your contacts can even choose to download it themselves.</p>
              *@
              </td>
        </tr>
        <tr>
              <td colspan="2">
                 @{
                     Html.Telerik().Grid(Model.deviceDetails.DevicePlanData)
                         .Name("gvwDeviceDetails")
                         .Footer(false).Scrollable(a => a.Enabled(true).Height(380))
                         .HtmlAttributes(new { style = "width:980px;" })
                         .TableHtmlAttributes(new { style = "border-radius:10px;" })
                         .NoRecordsTemplate("No records to display")
                                                @*VLT ADDED CODE by Rajeswari on 22nd Feb FOR SORTING REGDATE DESC ORDER *@
                         //.Sortable(sorting => sorting
                         //.OrderBy(sortOrder => sortOrder.Add(m => m.).Descending()))
                                                @*VLT ADDED CODE ENDS by Rajeswari on 22nd Feb FOR SORTING REGDATE DESC ORDER *@
                         .Columns(cols =>
                         {
                             cols.Bound(m => m.PlanName).Title("Rate Plan").Width(100);
                             cols.Bound(m => m.ContractName).Title("Contract").Width(120);
                             cols.Bound(m => m.DataPlan).Title("Data Plan");
                             cols.Bound(m => m.ContractTerm).Title("Contract Term").Width(100);
                             cols.Bound(m => m.RRP).Title("RRP");
                             cols.Bound(m => m.Price).Title("Price"); @* Added by VLT for RegDate Sorting *@
                                                    @*cols.Template(@<text>@Util.FormatDate(item.RegDate)</text>).Title("Create Date");*@ @* Commented by VLT*@
                                                    cols.Bound(m => m.MalayDeviceAdvance).Title("Device Advance").Width(110);
                                                    cols.Bound(m => m.MalayPlanAdvance).Title("Advance Payment").Width(110);
                                                    cols.Bound(m => m.MalayDeviceDeposit).Title("Deposit(Malaysian)").Width(110);
                                                    cols.Bound(m => m.OtherDeviceDeposit).Title("Deposit(Foreigner)").Width(110);

                                                })
                                                .Render();
                        }

        	        @*<table cellpadding="5" cellspacing="1" border="0" width="100%">
            	        <tr>
                	        <th rowspan="2">Rate Plan</th>
                            <th rowspan="2">BIS Package</th>
                            <th rowspan="2">Data</th>
                            <th rowspan="2">Contract Term</th>
                            <th rowspan="2">Device RRP(RM)</th>
                            <th rowspan="2">Device Price(RM)</th>
                            <th rowspan="2">Device advance payment (rebate will be given over 5 months) (RM)</th>
                            <th rowspan="2">Rate plan advance payment (RM)(Rebate will be given in the first month bill)</th>
                            <th colspan="2">Deposit (RM)</th>
                        </tr>
                        <tr>
                	        <th>Malaysian</th>
                            <th>Non Malaysian</th>
                        </tr>
                        <tr>
                	        <td>TalkMore28</td>
                            <td>BIS Entry (RM40/month)</td>
                            <td>250 MB</td>
                            <td>12</td>
                            <td>799</td>
                            <td>649</td>
                            <td>250</td>
                            <td>30</td>
                            <td>0</td>
                            <td>500</td>
                        </tr>
                        <tr>
                	        <td>TalkMore28</td>
                            <td>BIS Entry (RM40/month)</td>
                            <td>250 MB</td>
                            <td>24</td>
                            <td>799</td>
                            <td>399</td>
                            <td>1000</td>
                            <td>30</td>
                            <td>0</td>
                            <td>500</td>
                        </tr>
                        <tr>
                	        <td>TalkMore28</td>
                            <td>BIS Standard (RM55/month)</td>
                            <td>500 MB</td>
                            <td>12</td>
                            <td>799</td>
                            <td>499</td>
                            <td>250</td>
                            <td>30</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                        <tr>
                	        <td>TalkMore28</td>
                            <td>BIS Standard (RM55/month)</td>
                            <td>500 MB</td>
                            <td>24</td>
                            <td>799</td>
                            <td>99</td>
                            <td>1000</td>
                            <td>30</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                        <tr>
                	        <td>TextMore28</td>
                            <td>BIS Entry (RM40/month)</td>
                            <td>250 MB</td>
                            <td>12</td>
                            <td>799</td>
                            <td>649</td>
                            <td>250</td>
                            <td>30</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                        <tr>
                	        <td>TextMore28</td>
                            <td>BIS Entry (RM40/month)</td>
                            <td>250 MB</td>
                            <td>12</td>
                            <td>799</td>
                            <td>649</td>
                            <td>250</td>
                            <td>30</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                
                        <tr>
                	        <td>TextMore28</td>
                            <td>BIS Standard (RM55/month)</td>
                            <td>500 MB</td>
                            <td>12</td>
                            <td>799</td>
                            <td>499</td>
                            <td>250</td>
                            <td>30</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                        <tr>
                	        <td>TextMore28</td>
                            <td>BIS Standard (RM55/month)</td>
                            <td>500 MB</td>
                            <td>24</td>
                            <td>799</td>
                            <td>99</td>
                            <td>1000</td>
                            <td>30</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                        <tr>
                	        <td>Value First</td>
                            <td>BIS Standard (RM55/month)</td>
                            <td>500 MB</td>
                            <td>12</td>
                            <td>799</td>
                            <td>699</td>
                            <td>250</td>
                            <td>5</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                        <tr>
                	        <td>Value First</td>
                            <td>BIS Standard (RM55/month)</td>
                            <td>500 MB</td>
                            <td>24</td>
                            <td>799</td>
                            <td>499</td>
                            <td>1000</td>
                            <td>50</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                        <tr>
                	        <td>Value First</td>
                            <td>BIS Pro (RM90/month)</td>
                            <td>3 GB</td>
                            <td>12</td>
                            <td>799</td>
                            <td>499</td>
                            <td>250</td>
                            <td>50</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                        <tr>
                	        <td>Value First</td>
                            <td>BIS Pro (RM90/month)</td>
                            <td>3 GB</td>
                            <td>24</td>
                            <td>799</td>
                            <td>199</td>
                            <td>1000</td>
                            <td>50</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                        <tr>
                	        <td>Value Plus 50</td>
                            <td>BIS Standard (RM55/month)</td>
                            <td>500 MB</td>
                            <td>12</td>
                            <td>799</td>
                            <td>699</td>
                            <td>250</td>
                            <td>50</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                        <tr>
                	        <td>Value Plus 50</td>
                            <td>BIS Standard (RM55/month)</td>
                            <td>500 MB</td>
                            <td>24</td>
                            <td>799</td>
                            <td>499</td>
                            <td>1000</td>
                            <td>50</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                        <tr>
                	        <td>Value Plus 50</td>
                            <td>BIS Pro (RM90/month)</td>
                            <td>3 GB</td>
                            <td>12</td>
                            <td>799</td>
                            <td>499</td>
                            <td>250</td>
                            <td>50</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                        <tr>
                	        <td>Value Plus 50</td>
                            <td>BIS Pro (RM90/month)</td>
                            <td>3 GB</td>
                            <td>24</td>
                            <td>799</td>
                            <td>199</td>
                            <td>1000</td>
                            <td>50</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                        <tr>
                	        <td>Value Plus 50</td>
                            <td>BIS Pro (RM90/month)</td>
                            <td>3 GB</td>
                            <td>24</td>
                            <td>799</td>
                            <td>199</td>
                            <td>1000</td>
                            <td>50</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                        <tr>
                	        <td>Value Plus 80</td>
                            <td>BIS Standard (RM55/month)</td>
                            <td>500 MB</td>
                            <td>12</td>
                            <td>799</td>
                            <td>699</td>
                            <td>250</td>
                            <td>80</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                        <tr>
                	        <td>Value Plus 80</td>
                            <td>BIS Standard (RM55/month)</td>
                            <td>500 MB</td>
                            <td>24</td>
                            <td>799</td>
                            <td>499</td>
                            <td>1000</td>
                            <td>80</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                        <tr>
                	        <td>Value Plus 80</td>
                            <td>BIS Pro (RM90/month)</td>
                            <td>3 GB</td>
                            <td>12</td>
                            <td>799</td>
                            <td>499</td>
                            <td>250</td>
                            <td>80</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                        <tr>
                	        <td>Value Plus 80</td>
                            <td>BIS Pro (RM90/month)</td>
                            <td>3 GB</td>
                            <td>24</td>
                            <td>799</td>
                            <td>199</td>
                            <td>1000</td>
                            <td>80</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                        <tr>
                	        <td>Value Plus 150</td>
                            <td>BIS Standard (RM55/month)</td>
                            <td>500MB</td>
                            <td>12</td>
                            <td>799</td>
                            <td>699</td>
                            <td>250</td>
                            <td>150</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                        <tr>
                	        <td>Value Plus 150</td>
                            <td>BIS Standard (RM55/month)</td>
                            <td>500MB</td>
                            <td>24</td>
                            <td>799</td>
                            <td>499</td>
                            <td>1000</td>
                            <td>150</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                        <tr>
                	        <td>Value Plus 150</td>
                            <td>BIS Pro (RM90/month)</td>
                            <td>3GB</td>
                            <td>12</td>
                            <td>799</td>
                            <td>499</td>
                            <td>250</td>
                            <td>150</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                        <tr>
                	        <td>Value Plus 150</td>
                            <td>BIS Pro (RM90/month)</td>
                            <td>3GB</td>
                            <td>24</td>
                            <td>799</td>
                            <td>199</td>
                            <td>1000</td>
                            <td>150</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                        <tr>
                	        <td>Value Plus 250</td>
                            <td>BIS Standard (RM55/month)</td>
                            <td>500 MB</td>
                            <td>12</td>
                            <td>799</td>
                            <td>699</td>
                            <td>250</td>
                            <td>250</td>
                            <td >0</td>
                            <td >500</td>
                        </tr>
                        <tr>
                	        <td>Value Plus 500</td>
                            <td>BIS Standard (RM55/month)</td>
                            <td>500 MB</td>
                            <td>12</td>
                            <td>799</td>
                            <td>699</td>
                            <td>250</td>
                            <td>500</td>
                            <td >0</td>
                            <td >1300</td>
                        </tr>
                        <tr>
                	        <td>Value Plus 500</td>
                            <td>BIS Standard (RM55/month)</td>
                            <td>500 MB</td>
                            <td>24</td>
                            <td>799</td>
                            <td>499</td>
                            <td>1000</td>
                            <td>500</td>
                            <td >0</td>
                            <td >1300</td>
                        </tr>
                        <tr>
                	        <td>Value Plus 500</td>
                            <td>BIS Pro (RM90/month)</td>
                            <td>3GB</td>
                            <td>12</td>
                            <td>799</td>
                            <td>499</td>
                            <td>250</td>
                            <td>500</td>
                            <td >0</td>
                            <td >1300</td>
                        </tr>
                        <tr>
                	        <td>Value Plus 500</td>
                            <td>BIS Pro (RM90/month)</td>
                            <td>3GB</td>
                            <td>24</td>
                            <td>799</td>
                            <td>199</td>
                            <td>1000</td>
                            <td>500</td>
                            <td >0</td>
                            <td >1300</td>
                        </tr>
                    </table>*@
            </td>
        </tr>
    </table>
</div>
</body>
</html>






