﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.Properties;
@model Online.Registration.Web.SmartViewModels.PersonalDetailsVM
<script type="text/javascript">
<!--
    if (window.history.forward(1) != null) {
        window.history.forward(1);
    }
//-->  
</script>
@{
    Layout = "~/Views/Shared/_SubmitLayout.cshtml";
    ViewBag.Title = "Submit Registration";

    bool documentUploaded = ViewBag.documentUploaded != null ? ViewBag.documentUploaded : false;
    string sharingSuppMsg = System.Configuration.ConfigurationManager.AppSettings["NonShareToShareSubmitMessage"];
    bool sharingSuppFlag = !ReferenceEquals(Session["QuotaShareSubmitMessage"], null) ? (bool)Session["QuotaShareSubmitMessage"] : false;
}
<div>
    <table width="100%">
        <tr>
            <td style="width: 580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<div>
@using (Html.BeginForm("MobileRegSuccess", "Retention", FormMethod.Post, new { id = "frmMobileRegSummary", enctype = "multipart/form-data", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    @Html.Hidden("frontPhoto")
    @Html.Hidden("frontPhotoFileName")
    @Html.HiddenFor(m => m.RegID)

    if (documentUploaded)
    {
        <h3>Document has been successfully uploaded.</h3>
        <h4>
        Click
        @Html.ActionLink("HERE", "MobileRegSummary", new { regID = Model.RegID }, new { style = "color:#5fb848;font-weight:bold;text-decoration:none" })
        to view registration or <a href="@(Url.Content("~/Storekeeper/Storekeeper/PrintContractDetails?id=" + Model.RegID))" target="_blank" style="text-decoration:none" >
        <img alt="" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
        Print </a>the registration form.
        </h4>
        <div style="clear: both;">
        </div>
        <div class="infomsg">
            Please capture "ACCEPTED" response in SMART
        </div>
    }
    else
    {
        if (string.IsNullOrEmpty(Model.SignatureSVG))
        {
        <h3>Registration is missing signature. Please print and upload the registration form.</h3>
                <h4>
                    <a href="@(Url.Content("~/Storekeeper/Storekeeper/PrintContractDetails?id=" + Model.RegID))" target="_blank" style="text-decoration:none" >
                    <img alt="" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                    Print </a>the registration form.
                </h4>
                <h4>
                <div class="col-sm-3" style="padding-left:0;">
             <label class="fileLabel" style="display: block !important">
                <div class="upload-btn" style="display:none">
                    @Html.TextBoxFor(m => m.idDocumentFront, new { type = "file", @accept = "image/jpg, image/png, image/gif, image/jpeg, image/bmp, image/tiff;capture=camera" }) 
                </div>
                <div class="upload-btn" id="btnUpload">
                    <h4 style="font-size:18px;cursor: pointer;">
                        <img alt="Print" src='@Url.Content("~/Content/images/Upload.png")' style="border:0" />
                        <text style="color:#77dd00; cursor: pointer;">Upload </text>the registration form.
                    </h4>
                </div>
            </label>
            
                    @if (Model.idDocumentFront == null)
                    {
                        <input type="hidden" id="hiddenIDDocumentFront"/>
                    }
                    else
                    {
                        <input type="hidden" id="hiddenIDDocumentFront"/>
                        @Html.Hidden("submit1")
                        <input id="submitDocument" class="submitButton" type="button" value="Submit" onclick="submitRegForm();" style="display: inline-block; width: 5em;  margin-left: 21px;margin-top: 0;padding-left: 4%;padding-top: 2%;height: 2em;"/>
                    }
                    @Html.Hidden("submit1")
                        <input id="submitDocument" class="submitButton" type="button" value="Submit" onclick="submitRegForm();" style="display: inline-block; width: 5em;  margin-left: 21px;margin-top: 0;padding-left: 4%;padding-top: 2%;height: 2em;"/>
                </div>
                <div id="id-upload-filesFront" style="width: auto; padding-top: 5px;">
                    <p class="file-label" id="frontFileName-container" style="display: none; width: auto; white-space: nowrap;font-family: 'frutigerroman';font-size: 18px;">
                       <label id="frontFileName" style="display: inline-block;"></label>
                       <img onclick="clearFrontUploadDoc();" class="removeUploadedDoc" id="btnClearFrontDoc" style="/* margin-left:92px; */ /* margin-top:-41px; */"/>
                    </p>
                </div>
                 <div class="clearfix">
                </div>
                    
                </h4>
        }
        else
        {
            if (System.Configuration.ConfigurationManager.AppSettings["ToEmail"].ToString() == "Y")
            {
             @*VLT CHANGED CODE 21stFEB *@
            <h3>
                Registration has been submitted successfully and mail has been sent.</h3>
             @*VLT CHANGED CODE 21stFEB *@
            }
            else
            {
                <h3>Registration has been submitted successfully.</h3>
        
                if (sharingSuppFlag)
                {
                    <h3>@sharingSuppMsg</h3>
                }
            }
            <h4>
                Click
                @Html.ActionLink("HERE", "MobileRegSummary", new { regID = Model.RegID }, new { style = "color:#5fb848;font-weight:bold;text-decoration:none" })
                to view registration or <a href="@(Url.Content("~/Storekeeper/Storekeeper/PrintContractDetails?id=" + Model.RegID))" target="_blank" style="text-decoration:none" >
                    <img alt="" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                    Print </a>the registration form.
            </h4>
            <div style="clear: both;">
            </div>
            <div class="infomsg">
                Please capture "ACCEPTED" response in SMART
            </div>
        }
    }
}
</div>
@{
    var viewBagValue = new ViewDataDictionary();
    viewBagValue.Add("regID", Model.RegID);
    Html.RenderPartial("_PegaRecommendationMiniDashboard_Retention", Model.PegaVM, viewBagValue);
         }

@*20151405 - Edited By Samuel*@
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js2/Html5ImageUpload.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submitDocument").hide();
        function handleFileSelect(evt) {
            var files = evt.target.files;

            if (this.id == "idDocumentFront")
                var f = files[0];
            if (!f.type.match("image.*")) {
                return;
            }
            var reader = new FileReader();
            reader.onload = function (e) {
                var src = e.target.result;
            }
            reader.readAsDataURL(f);
        }

        if ($("#idDocumentFront").length > 0) {
            document.getElementById('idDocumentFront').addEventListener('change', handleFileSelect, false);
        }

        $(function () {

            var url = '@(Url.Content("~/Registration/UploadImageNew"))';
            var formdata = false;

            $("#idDocumentFront").change(function (event) {
                debugger;
                //validation for upload images -ram
                var ext = $('#idDocumentFront').val().split('.').pop().toLowerCase();
                if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg', 'tiff', 'bmp']) == -1) {
                    event.preventDefault();
                    alert('Please upload valid image!');
                    clearFrontUploadDoc.apply;
                    return false;
                }

                if (window.FormData !== undefined) {
                    var i = 0,
                        len = this.files.length,
                        img, reader, file;
                    formdata = false;
                    ///Check for FormData support in browser
                    if (window.FormData) {
                        formdata = new FormData();
                    }
                    ///Check if length greater than 0 then only proceed
                    if (len > 0) {
                        file = this.files[0];

                        if (window.FileReader) {
                            ///Append the file object to post the file request to server side
                            if (formdata) {
                                formdata.append("default_export_filename", file);
                            }

                            if (ext == 'pdf') {
                                ///Post the file details to server side script
                                if (formdata) {
                                    $.ajax({
                                        url: url,
                                        type: "POST",
                                        data: formdata,
                                        processData: false,
                                        contentType: false,
                                        success: function (Data) {
                                            //Assign the processed imageUrl returned from the server side to imgCustPhoto img
                                            $("#idDocumentFront").attr("src", Data.imageUrl).fadeIn();
                                            $("#idDocumentFront").data("name", file.name);
                                            $("#frontPhoto").val(Data.imageUrl);
                                            $('#frontFileName-container').css('display', 'block');
                                            $('#frontFileName').text(file.name);
                                            $('#frontPhotoFileName').val(file.name);
                                            $("#submitDocument").show();
                                        },
                                        error: function (xhr, err) {
                                            ///WHOEVER INTEGRATES THE CODE PLEASE UNCOMMENT THE BELOW CODE IN CASE OF UNEXPECTED RESULTS.                        
                                            //alert("readyState: "+xhr.readyState+"\nstatus: "+xhr.status);
                                            //alert("responseText: "+xhr.responseText);
                                        }
                                    });
                                }
                            }else {
                                if (window.FormData !== undefined) {
                                    var img = new Image;
                                    img.src = URL.createObjectURL(file);

                                    img.onload = function () {
                                        // hardcoded to FRONT since only 1 file applicable on this page.
                                        var result = startProcess(img, file, 'FRONT');
                                        //debugger;
                                    };
                                }
                            }   
                        }
                    }
                }
            }); // EOF

        });

    });
    function clearFrontUploadDoc() {
        $('#hiddenIDDocumentFront').val('');
        $('#idDocumentFront').val('');
        $('#frontFileName-container').css('display', 'none');
        $("#frontPhoto").val('');
        $('#frontFileName').text('');
        $('#submitDocument').css('display', 'none');
    }

    function submitRegForm() {

        document.getElementById('frmMobileRegSummary').submit();
    }

</script>

<style type="text/css">
    .infomsg
    {
        margin-top: 4px;
        padding: 5px;
        border: 1px solid #FAD9E4;
        font-size: 16px;
        background-color: #FCEDF2;
        text-align: center;
        width: 400px;
    }
</style>

