﻿@using Online.Registration.Web.SmartViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.CommonEnum;
@using Online.Registration.DAL.Models;
@model Online.Registration.Web.SmartViewModels.PersonalDetailsVM
@{
    Html.EnableClientValidation(false);
    ViewBag.Title = "Customer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var autoBillingID = Util.GetPaymentModeID(PAYMENTMODE.AutoBilling);
    var malaysianID = Util.GetNationalityID(NATIONALITY.Malaysian);
    var NRICType = Util.GetIDCardTypeID(IDCARDTYPE.NRIC);

    var minAge = Session["RegMobileReg_ProgramMinAge"].ToInt();
    var idCardTypeID = Model.Customer.IDCardTypeID;
    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" : "";
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var MalAdvDeposit = Session["RegMobileReg_MalAdvDeposit"].ToInt();
    var OtherAdvDeposit = Session["RegMobileReg_OtherAdvDeposit"].ToInt();
    Model.MalayAdvDeposit = MalAdvDeposit;
    Model.OtherAdvDeposit = OtherAdvDeposit;

    /*Added by chetan for split adv & deposit*/
    var MalyDevAdv = Session["RegMobileReg_MalyDevAdv"].ToInt();
    var MalayPlanAdv = Session["RegMobileReg_MalayPlanAdv"].ToInt();
    var MalayDevDeposit = Session["RegMobileReg_MalayDevDeposit"].ToInt();
    var MalyPlanDeposit = Session["RegMobileReg_MalyPlanDeposit"].ToInt();
    var OthDevAdv = Session["RegMobileReg_OthDevAdv"].ToInt();
    var OthPlanAdv = Session["RegMobileReg_OthPlanAdv"].ToInt();
    var OthDevDeposit = Session["RegMobileReg_OthDevDeposit"].ToInt();
    var OthPlanDeposit = Session["RegMobileReg_OthPlanDeposit"].ToInt();

    Model.MalyDevAdv = MalyDevAdv;
    Model.MalayPlanAdv = MalayPlanAdv;
    Model.MalayDevDeposit = MalayDevDeposit;
    Model.MalyPlanDeposit = MalyPlanDeposit;
    Model.OthDevAdv = OthDevAdv;
    Model.OthPlanAdv = OthPlanAdv;
    Model.OthDevDeposit = OthDevDeposit;
    Model.OthPlanDeposit = OthPlanDeposit;
    /*upto here*/


    /*Added by Rajeswari on 24th March to disable nationality*/
    var idCardNoForNewUser = Session["IDCardNo"].ToString();
    var idCardTypeForNewUser = Session["IDCardTypeID"].ToString();
    /*upto here */
    bool IsFromMNP = false;

    ///CHECK IF THE Session["FromMNP"] IS SET
    if (!ReferenceEquals(Session["FromMNP"], null))
    {
        IsFromMNP = Convert.ToBoolean(Session["FromMNP"]);
    }
    //Apply waive on advances and deposits based on Liberization     
    WaiverRules waiverRule = HttpContext.Current.Session[SessionKey.WaiverRules.ToString()] != null ? (WaiverRules)HttpContext.Current.Session["WaiverRules"] : new WaiverRules();
    WebHelper.ApplyDepositWaiveOffsOnModel(Model, waiverRule);
    bool isDealer = Online.Registration.Web.Helper.Util.SessionAccess.User.isDealer;
    var idCardType = Session[SessionKey.IDCardTypeID.ToString()];
    var biometricCheck = Session["RegMobileReg_BiometricVerify"].ToString2().ToLower();
    bool fromMobileDevice = Request.Headers["User-Agent"].ToLower().Contains("ipad");
}
<div id="center">
    @using (Html.BeginForm("PersonalDetails", "Retention", FormMethod.Post, new { id = "frmPersonalDetails", @class = "overlayonsubmit", processmsg = "Loading" }))
    { 
        @Html.HiddenFor(a => a.TabNumber)
        @Html.Hidden("surveyFeedback")
        @Html.Hidden("surveyAnswer")
        @Html.Hidden("surveyAnswerRate")
        @Html.HiddenFor(model => model.SingleSignOnValue)
        @Html.HiddenFor(model => model.SingleSignOnEmailAddress)
        @Html.Hidden("CustEmailAddress")
        <div class="header-title">
            @ViewBag.Title</div>
        <div class="row top=border">
            <div class="col-sm-12">
                <p class="font-16 gst-notif">@(ViewBag.GSTnotif)</p>
            </div>
        </div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        <li style="display: table-cell; float: none;">Brand</li>
                        <li style="display: table-cell; float: none;">Device</li>
                        <li style="display: table-cell; float: none;">Plan</li>
                        <li style="display: table-cell; float: none;">Components</li>
                        <li style="display: table-cell; float: none;">Contract</li>
                        <li style="display: table-cell; float: none;" class="preselected">Discount</li>
                        <li style="display: table-cell; float: none;" class="selected">Customer</li>
                        <li style="display: table-cell; float: none;">Summary</li>
                    </ul>
                </div>
            </div>
            <div class="content_white">
                <div style="display: block; padding: 0px 20px; margin: 0px auto;">
                    <div id="dvError" class="ErrorClass">
                        <div id="Plan_Error" class="ErrorClass" style="padding-left: 5px; padding-bottom: 5px;display: inline-block;">
                            @Html.ValidationSummary(true)
                        </div>
                    </div>
                    <table width="100%">
                        <tr>
                            <td align="left" style="font-size:15px;">
                                <b>Name: </b>@Session["AccountHolder"].ToString2().Trim()
                            </td>
                            <td align="right" style="font-size:15px;">
                                <b>MSISDN: </b>@Session["MSISDN"].ToString2()
                            </td>
                        </tr>
                    </table>
                    <div id="ui-plan">
                        <h3>
                            Customer Information</h3>
                        <div style="width: 100%; border-left: 1px solid #ccc;">
                            <div style="padding: 20px 15px 50px 15px;">
                                @Html.Partial("_Customer", Model)
                            </div>
                            <div style="clear: both;">
                            </div>
                        </div>
                        <h3>
                            Billing Address</h3>
                        <div style="width: 100%; border-left: 1px solid #ccc;">
                            <div style="padding: 20px 15px 50px 15px; border-left: 1px solid #ccc;">
                                @Html.Partial("_Address", Model)
                                <div style="clear: both;">
                                </div>
                            </div>
                        </div>
                        <h3 style="display: none; border-left: 1px solid #ccc;">
                            Monthly Bill Settlement Preference</h3>
                        <div style="width: 100%; border-left: 1px solid #ccc;">
                            <div style="padding: 20px 15px 50px 15px; display: none;">
                                @Html.Partial("_Billing", Model)
                            </div>
                        </div>
                        <h3 style="display: none;">
                            Additional Charges</h3>
                        <div style="width: 100%; border-left: 1px solid #ccc;">
                            <div style="padding: 20px 15px 50px 15px; border-left: 1px solid #ccc; display: none;">
                                <table width="500px">
                                    @*Added by Rajeswari to display the fields based on Nationality*@
                                    <tr>
                                        <td>
                                            <div id="divMalaysian" style="width: 400px;">
                                                <table style="float: left;">
                                                    @if (Session["MobileRegType"].ToString2().ToUpper() == "OTHER")
                                                    {
                                                        <tr>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.MalyDevAdv)</b>
                                                            </td>
                                                            <td>
                                                                @if (Model.MalyDevAdv != null && Model.MalyDevAdv != 0)
                                                                {
                                                                    @Html.Raw(Model.MalyDevAdv.ToDecimal() > 0 ? Model.MalyDevAdv.ToString() : "0.00")
                                                                    <div style="display: none;">
                                                                        @Html.TextBoxFor(model => model.MalyDevAdv, new { @Value = Model.MalyDevAdv.ToDecimal() > 0 ? Model.MalyDevAdv.ToString() : "0.00", disabled = "disable" })
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    @Html.Raw(Model.MalyDevAdv.ToDecimal() > 0 ? Model.MalyDevAdv.ToString() : "0.00")
                                                                    <div style="display: none;">
                                                                        @Html.TextBoxFor(model => model.MalyDevAdv, new { @Value = Model.MalyDevAdv.ToDecimal() > 0 ? Model.MalyDevAdv.ToString() : "0.00", disabled = "disable" })
                                                                    </div>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                    <tr>
                                                        <td>
                                                            <b>@Html.LabelFor(model => model.MalayPlanAdv)</b>
                                                        </td>
                                                        <td>
                                                            @if (Model.MalayPlanAdv != null && Model.MalayPlanAdv != 0)
                                                            {
                                                                @Html.Raw(Model.MalayPlanAdv.ToDecimal() > 0 ? Model.MalayPlanAdv.ToString() : "0.00")
                                                                <div style="display: none;">
                                                                    @Html.TextBoxFor(model => model.MalayPlanAdv, new { @Value = Model.MalayPlanAdv.ToDecimal() > 0 ? Model.MalayPlanAdv.ToString() : "0.00", disabled = "disable" })
                                                                </div>
                                                            }
                                                            else
                                                            {   
                                
                                                                @Html.Raw(Model.MalayPlanAdv.ToDecimal() > 0 ? Model.MalayPlanAdv.ToString() : "0.00")
                                                                <div style="display: none;">
                                                                    @Html.TextBoxFor(model => model.MalayPlanAdv, new { @Value = Model.MalayPlanAdv.ToDecimal() > 0 ? Model.MalayPlanAdv.ToString() : "0.00", disabled = "disable" })
                                                                </div>
                                                            }
                                                        </td>
                                                    </tr>
                                                    @if (Session["MobileRegType"].ToString2().ToUpper() == "OTHER")
                                                    {
                                                        <tr>
                                                            <td>
                                                                @if (!ReferenceEquals(Session["RegMobileReg_OrderSummary"], null))
                                                                {
                                                                    if (((OrderSummaryVM)Session["RegMobileReg_OrderSummary"]).BrandName.ToString2().ToUpper() == "APPLE")
                                                                    {
                                                                    <label>
                                                                        Advance Pymt (iValue) for Malaysians</label>
                                                                    }

                                                                    else
                                                                    {
                                                                    <b>@Html.LabelFor(model => model.MalayDevDeposit)</b>
                               
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <b>@Html.LabelFor(model => model.MalayDevDeposit)</b>
                               
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (Model.MalayDevDeposit != null && Model.MalayDevDeposit != 0)
                                                                {
                                
                                                                    @Html.Raw(Model.MalayDevDeposit.ToDecimal() > 0 ? Model.MalayDevDeposit.ToString() : "0.00")
                                                                    <div style="display: none;">
                                                                        @Html.TextBoxFor(model => model.MalayDevDeposit, new { @Value = Model.MalayDevDeposit.ToDecimal() > 0 ? Model.MalayDevDeposit.ToString() : "0.00", disabled = "disable" })
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                
                                                                    @Html.Raw(Model.MalayDevDeposit.ToDecimal() > 0 ? Model.MalayDevDeposit.ToString() : "0.00")
                                                                    <div style="display: none;">
                                                                        @Html.TextBoxFor(model => model.MalayDevDeposit, new { @Value = Model.MalayDevDeposit.ToDecimal() > 0 ? Model.MalayDevDeposit.ToString() : "0.00", disabled = "disable" })
                                                                    </div>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                    <tr>
                                                        <td>
                                                            <b>@Html.LabelFor(model => model.MalyPlanDeposit)</b>
                                                        </td>
                                                        <td>
                                                            @if (Model.MalyPlanDeposit != null && Model.MalyPlanDeposit != 0)
                                                            {
                                
                                                                @Html.Raw(Model.MalyPlanDeposit.ToDecimal() > 0 ? Model.MalyPlanDeposit.ToString() : "0.00")
                                                                <div style="display: none;">
                                                                    @Html.TextBoxFor(model => model.MalyPlanDeposit, new { @Value = Model.MalyPlanDeposit.ToDecimal() > 0 ? Model.MalyPlanDeposit.ToString() : "0.00", disabled = "disable" })
                                                                </div>
                                                            }
                                                            else
                                                            {
                                
                                                                @Html.Raw(Model.MalyPlanDeposit.ToDecimal() > 0 ? Model.MalyPlanDeposit.ToString() : "0.00")
                                                                <div style="display: none;">
                                                                    @Html.TextBoxFor(model => model.MalyPlanDeposit, new { @Value = Model.MalyPlanDeposit.ToDecimal() > 0 ? Model.MalyPlanDeposit.ToString() : "0.00", disabled = "disable" })
                                                                </div>
                                                            }
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div id="divNonMalaysian" style="width: 400px;">
                                                <table>
                                                    @if (Session["MobileRegType"].ToString2().ToUpper() == "OTHER")
                                                    {
                                                        <tr>
                                                            <td>
                                                                <b>@Html.LabelFor(model => model.OthDevAdv)</b>
                                                            </td>
                                                            <td>
                                                                @if (Model.OthDevAdv != null && Model.OthDevAdv != 0)
                                                                {
                                
                                                                    @Html.Raw(Model.OthDevAdv.ToDecimal() > 0 ? Model.OthDevAdv.ToString() : "0.00")
                                                                    <div style="display: none;">
                                                                        @Html.TextBoxFor(model => model.OthDevAdv, new { @Value = Model.OthDevAdv.ToDecimal() > 0 ? Model.OthDevAdv.ToString() : "0.00", disabled = "disable" })
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                
                                                                    @Html.Raw(Model.OthDevAdv.ToDecimal() > 0 ? Model.OthDevAdv.ToString() : "0.00")
                                                                    <div style="display: none;">
                                                                        @Html.TextBoxFor(model => model.OthDevAdv, new { @Value = Model.OthDevAdv.ToDecimal() > 0 ? Model.OthDevAdv.ToString() : "0.00", disabled = "disable" })
                                                                    </div>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                    <tr>
                                                        <td>
                                                            <b>@Html.LabelFor(model => model.OthPlanAdv)</b>
                                                        </td>
                                                        <td>
                                                            @if (Model.OthPlanAdv != null && Model.OthPlanAdv != 0)
                                                            {
                                
                                                                @Html.Raw(Model.OthPlanAdv.ToDecimal() > 0 ? Model.OthPlanAdv.ToString() : "0.00")
                                                                <div style="display: none;">
                                                                    @Html.TextBoxFor(model => model.OthPlanAdv, new { @Value = Model.OthPlanAdv.ToDecimal() > 0 ? Model.OthPlanAdv.ToString() : "0.00", disabled = "disable" })
                                                                </div>
                                                            }
                                                            else
                                                            {
                                
                                                                @Html.Raw(Model.OthPlanAdv.ToDecimal() > 0 ? Model.OthPlanAdv.ToString() : "0.00")
                                                                <div style="display: none;">
                                                                    @Html.TextBoxFor(model => model.OthPlanAdv, new { @Value = Model.OthPlanAdv.ToDecimal() > 0 ? Model.OthPlanAdv.ToString() : "0.00", disabled = "disable" })
                                                                </div>
                                                            }
                                                        </td>
                                                    </tr>
                                                    @if (Session["MobileRegType"].ToString2().ToUpper() == "OTHER")
                                                    {
                                                        <tr>
                                                            <td>
                                                                @if (!ReferenceEquals(Session["RegMobileReg_OrderSummary"], null))
                                                                {
                                                                    if (((OrderSummaryVM)Session["RegMobileReg_OrderSummary"]).BrandName.ToString2().ToUpper() == "APPLE")
                                                                    {
                                                                    <label>
                                                                        Advance Pymt (iValue) for Non Malaysians</label>
                                                                    }

                                                                    else
                                                                    {
                               
                                                                    <b>@Html.LabelFor(model => model.OthDevDeposit)</b>
                               
                                                                    }
                                                                }
                                                                else
                                                                {
                               
                                                                    <b>@Html.LabelFor(model => model.OthDevDeposit)</b>
                               
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (Model.OthDevDeposit != null && Model.OthDevDeposit != 0)
                                                                {
                                
                                                                    @Html.Raw(Model.OthDevDeposit.ToDecimal() > 0 ? Model.OthDevDeposit.ToString() : "0.00")
                                                                    <div style="display: none;">
                                                                        @Html.TextBoxFor(model => model.OthDevDeposit, new { @Value = Model.OthDevDeposit.ToDecimal() > 0 ? Model.OthDevDeposit.ToString() : "0.00", disabled = "disable" })
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    @Html.Raw(Model.OthDevDeposit.ToDecimal() > 0 ? Model.OthDevDeposit.ToString() : "0.00")
                                                                    <div style="display: none;">
                                                                        @Html.TextBoxFor(model => model.OthDevDeposit, new { @Value = Model.OthDevDeposit.ToDecimal() > 0 ? Model.OthDevDeposit.ToString() : "0.00", disabled = "disable" })
                                                                    </div>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                    <tr>
                                                        <td>
                                                            <b>@Html.LabelFor(model => model.OthPlanDeposit)</b>
                                                        </td>
                                                        <td>
                                                            @if (Model.OthPlanDeposit != null && Model.OthPlanDeposit != 0)
                                                            {
                                
                                                                @Html.Raw(Model.OthPlanDeposit.ToDecimal() > 0 ? Model.OthPlanDeposit.ToString() : "0.00")
                                                                <div style="display: none;">
                                                                    @Html.TextBoxFor(model => model.OthPlanDeposit, new { @Value = Model.OthPlanDeposit.ToDecimal() > 0 ? Model.OthPlanDeposit.ToString() : "0.00", disabled = "disable" })
                                                                </div>
                                                            }
                                                            else
                                                            {
                                
                                                                @Html.Raw(Model.OthPlanDeposit.ToDecimal() > 0 ? Model.OthPlanDeposit.ToString() : "0.00")
                                                                <div style="display: none;">
                                                                    @Html.TextBoxFor(model => model.OthPlanDeposit, new { @Value = Model.OthPlanDeposit.ToDecimal() > 0 ? Model.OthPlanDeposit.ToString() : "0.00", disabled = "disable" })
                                                                </div>
                                                            }
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    @*Upto here*@
                                </table>
                            </div>
                        </div>
                        <h3>Justification & Upload Required Documents</h3>
                        <div style="width: 100%; border-left: 1px solid #ccc;">
                            <div style="padding: 20px 15px 50px 15px; display: block;">
                                @Html.Partial("_UploadDocumentsAndJustificationSMART", Model)
                                
                            </div>
                        </div>
                        @{
                                                            if (!isDealer)
                                                            {
                                <h3>MyMaxis App Survey</h3>
                                <div style="width: 100%; border-left: 1px solid #ccc;">
                                    <div style="padding: 20px 15px 50px 15px;">
                                    @Html.Partial("~/Views/Shared/_SurveySection.cshtml", new ViewDataDictionary { { "IsOldSkin", "True" } })
                                    </div>
                                </div>
                                                            }
                         }
                         
                        <h3>Single Sign On (SSO)</h3>
                        <div style="width: 100%; border-left: 1px solid #ccc;">
                            <div style="padding: 0px 15px 0px 15px;">
                                @{
                                                            Html.RenderPartial("_SingleSignOnSection");
                                }
                            </div>
                        </div>
                    </div>
                    <div style="height: 20px;">
                    </div>
                </div>
            </div>
            <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
                <div style="float: right; padding-right: 20px;">
                    <input class="button-back cancel backButton" type="submit" value="<" onclick="$('#TabNumber').val(5);" />
                    @*@Html.Hidden("hdnback", "")*@
                    <input class="button-continue submitButton" type="submit" value="Next Step: Summary"
                        id="btnContinue" />
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
            
        
    
                                                            Html.Telerik().Window()
                                                                .Name("sublineWindow")
                                                                .Title("Supplementary Lines")
                                                                .Width(320)
                                                                .Content(@<text>
        @Html.Partial("_Subline")
        </text>)
                                                                .Modal(true)
                                                                .Visible(false)
                                                                .Render();
    }
    @{
        var viewBagValueForBRE = new ViewDataDictionary();
        viewBagValueForBRE.Add("ControllerName", "Retention");
        viewBagValueForBRE.Add("ApprovalType", "BRE");
        viewBagValueForBRE.Add("FromCustomerSearch", "False");
        viewBagValueForBRE.Add("ModalID", "bre-approval-popup");
        Html.RenderPartial("_SpvApproval", viewBagValueForBRE);
    }
    @Html.Partial("_footer")
</div>
<div id="right">
<div id="right-box">
    @{
        var viewBagValue = new ViewDataDictionary();
        viewBagValue.Add("GSTMark", ViewBag.GSTMark);
    }
    @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"], viewBagValue)
</div></div>
@section Scripts
{
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js2/Html5ImageUpload.js")"></script>
    <script type="text/javascript">
        $('#surveyAnswer').val('@Model.SurveyAnswer');
        $('#surveyAnswerRate').val('@Model.SurveyAnswerRate');

        jQuery(function () {
            jQuery("#ui-accordion").accordion({
                autoHeight: false
            });
            $("#ui-accordion").accordion("option", "icons",
                { 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });
        });
    </script>
    <script type="text/javascript">
        jQuery(function () {
            jQuery("#ui-plan").accordion({
                autoHeight: false
            });
            $("#ui-plan").accordion("option", "icons",
                { 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });

            $('#btnContinue').click(function () {

                $('#Plan_Error').hide();

                // Make Exceptional BRE Approval checkbox as mandatory
                var approval_error_msg = $('#SV_BREApproval_Error').text().trim();
                if (approval_error_msg.toLowerCase().indexOf("approval") >= 0 && !$('#bre-exceptional').is(':checked'))
                {
                    $('.validation-summary-errors').empty();
                    $('#Plan_Error').show();
                    $('#Plan_Error').html(approval_error_msg);
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                };
                
                // Make Justification as mandatory
                var justification_error_msg = $('#Justification_Error').text().trim();
                if (justification_error_msg.toLowerCase().indexOf("justification") >= 0 && $('#Justification').val().trim() == '')
                {
                    // var waiverString = strWavier.substring(0, strWavier.length - 1);
                    $('.validation-summary-errors').empty();
                    $('#Plan_Error').show();
                    $('#Plan_Error').html(justification_error_msg);
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                }

                $('#TabNumber').val(7);
                debugger;
                if ('@isDealer'!='True')
                {
	                if('@(biometricCheck)' != 'true')
	                {
		                if ('@(idCardType)' == 2 || '@(idCardType)' == 3 || '@(idCardType)' == 4)
		                {
			                if( $.trim($('#lblCustImageUpload').text()) == "" || $.trim($('#lblCustImageUpload').text()) == "No file selected.")
			                {
				                $('#Plan_Error').show();
				                 $('#Plan_Error').html("Please upload ID documents");
				                 $("html, body").animate({ scrollTop: 0 }, "slow");
				                 return false;
			                }
		                } 
		                else
		                {
			                if( $.trim($('#lblCustImageUpload').text()) == ""  || $.trim($('#lblCustImageUpload').text()) == "No file selected.")
			                {
				                $('#Plan_Error').show();
				                 $('#Plan_Error').html("Biometric is failed, please upload ID documents");
				                 $("html, body").animate({ scrollTop: 0 }, "slow");
				                 return false;
			                }

                            if( $.trim($('#lblCustImageUpload2').text()) == ""  || $.trim($('#lblCustImageUpload2').text()) == "No file selected.")
			                {
				                $('#Plan_Error').show();
				                $('#Plan_Error').html("Biometric is failed, please upload ID documents");
				                $("html, body").animate({ scrollTop: 0 }, "slow");
				                return false;
			                }
		                }
	                }
                }

                // for maxis app survey
                if ('@isDealer'!='True')
                {
                    if ( !validateMyMaxisAppSurvey() )
                    {
                        return false;
                    }
                }

                if(!validateSSOSection())
                {
                    return false;
                }

                var front = $.trim($('#lblCustImageUpload').text());
                var back = $.trim($('#lblCustImageUpload2').text());
                var other = $.trim($('#lblCustImageUpload3').text());
                debugger;
                if ((front != '' && front != "No file selected.") || (back != '' && back != "No file selected.") || (other != '' && other != "No file selected."))
                {
	                if ('@fromMobileDevice' != 'True')
	                {
		                $('#fromMobileDevice').val('false');
		                if (front != '' && back !=''  && (front == back) )
		                {
			                $('#Plan_Error').show();
			                $('#Plan_Error').html("Same document cannot be uploaded more than once");
			                $("html, body").animate({ scrollTop: 0 }, "slow");
			                return false;
		                }
	                }else{
		                $('#fromMobileDevice').val('true');
	                }

                }
                
                $('#hdnChanges').val('false');
                $('#CustImageUpload').removeAttr("accept");
                $('#CustImageUpload2').removeAttr("accept");
                $('#CustImageUpload3').removeAttr("accept");
                //document.forms["frmPersonalDetails"].submit();
                $("#frmPersonalDetails").submit();
            });
            
            if($('#Customer_NationalityID').val() == "")
                {                
                    
                    $("#divMalaysian").show();
                    $("#divNonMalaysian").hide();

                    if(@(Session["IDCardTypeID"]) == "2"){
                        if($('#Customer_NationalityID').val() == "1")
                        {
                            $("#divMalaysian").hide();
                            $("#divNonMalaysian").show();
                        }
                     }
                }
                else
                {            
                     $("#divMalaysian").hide();
                     $("#divNonMalaysian").show();
                    if($('#Customer_NationalityID').val() == "1")
                    {                      
                         $("#divMalaysian").show();
                         $("#divNonMalaysian").hide();
                    }
                }
        });
        
        function isValidEmail(s){
            var emailFormat = /^([0-9a-zA-Z]([\+\-_\.][0-9a-zA-Z]+)*)+@@(([0-9a-zA-Z][-\w]*[0-9a-zA-Z]*\.)+[a-zA-Z0-9]{2,17})$/;
            if (emailFormat.test(s)){
                return true;
            }

            return false;
        }

    </script>
}
