﻿@using Online.Registration.Web.SmartViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@model Online.Registration.Web.SmartViewModels.ComponentViewModel
@{
    ViewBag.Title = "Select Component";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var ContractDet = (ContractDetails)Session["ContractDet"];
    bool hasMDP = false;
    var MDPId = "";
    //bool _checkedDC = false;
    //string DCPKGID = "0";
    //var DC = Model.NewPackagesList.Where(a => a.NewPackageName == "Data Components").FirstOrDefault();

    List<NewComponents> DataComponentList = new List<NewComponents>();
    if (Model.NewComponentsList != null && Model.NewComponentsList.Where(a => a.Type == "MD" || a.Type == "DM" || a.Type == "DC").ToList() != null)
    {
        DataComponentList = Model.NewComponentsList.Where(a => a.Type == "MD" || a.Type == "DM" || a.Type == "DC").ToList();
    }
    else
    {
        DataComponentList = null; 
    }

    if (Model.OldPackagesList.Where(a => a.OldPackageId == "41766").ToList().Any())
    {
        hasMDP = true;
    }
    
    string contractKenancode = string.Empty;
    SmartRegistrationServiceProxy smartProxy = new SmartRegistrationServiceProxy();
    List<string> lstContracts = smartProxy.GetContractsList().ToList().Where(cd => cd.Active == true).Select(c => c.KenanCode.ToString()).ToList();
    foreach (var comp in Model.OldComponentsList)
    {

        if (lstContracts.Contains(comp.OldComponentId))
        {
            contractKenancode = comp.OldComponentId;
        }

    }
    //if (DC != null && DC.NewPackageId != null)
    //{
    //    DCPKGID = DC.NewPackageId;
    //}
    //var DC_CheckedList = Model.NewComponentsList.Where(b => b.NewPackageId == DCPKGID && b.IsChecked == true).ToList();
    //if (DC_CheckedList != null && DC_CheckedList.Count > 0)
    //{
    //    _checkedDC = true;
    //}
    string shareSuppErrorMsg = Model.ShareSuppErrorMessage;   
}
<div id="center">
    @using (Html.BeginForm("SelectComponent", "retention", FormMethod.Post, new { id = "frmSelectComponent", onSubmit = "return fnSaveSelectedComponents(this);", @class = "overlayonsubmit", processmsg = "Loading" }))
    { 
        <div class="header-title">
           Select Components
        </div>   
        <div class="row top=border">
            <div class="col-sm-12">
                <p class="font-16 gst-notif">@(ViewBag.GSTnotif)</p>
            </div>
        </div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        <li style="display: table-cell; float: none;">Brand</li>
                        <li style="display: table-cell; float: none;">Device</li>
                        <li style="display: table-cell; float: none;" class="preselected">Plan</li>
                        <li style="display: table-cell; float: none;" class="selected">Components</li>
                        <li style="display: table-cell; float: none;">Contract</li>
                        <li style="display: table-cell; float: none;">Discount</li>
                        <li style="display: table-cell; float: none;">Customer</li>
                        <li style="display: table-cell; float: none;">Summary</li>
                    </ul>
                </div>
            </div>
            <div class="content_white" style="padding: 1px 1px 10px 40px">
                @Html.ValidationSummary(true)
            </div>

            @Html.Hidden("SelectedValues")
            @Html.Hidden("SelectedCompIds")
            @Html.HiddenFor(a => a.TabNumber)
            @Html.Hidden("SelectedCkeckBoxIds")
            
             <div class="content_white" style="padding-bottom: 10px;padding-left:12px;">
             <div id="Plan_Error" class="ErrorClass" >
                </div>
                 <table width="100%">
                            <tr>
                                <td align="left"  style="font-size:15px;">
                                    <b>Name: </b>@Session["AccountHolder"].ToString2().Trim()
                                </td>
                                <td align="right" style="font-size:15px;">
                                    <b>MSISDN: </b>@Session["MSISDN"].ToString2()
                                </td>
                            </tr>
                            
                        </table>
            </div>
            <div class="content_white" style="padding: 0px 20px;">
                <div style="display: block;">
                    <div style="display: block;">
                        <div style="width: 100%; margin: 0 auto;">
                            <div style="width: 50%; float: left;">
                                <span class="component-bill-plan">Current Bill Plan</span>
                                <div style="width: 95%;">
                                    <div style="width: 95%;">
                                        @for (int p = 0; p < @Model.OldPackagesList.Count; p++)
                                        {
                                            if (@Model.OldPackagesList[p].OldPackageName != null)
                                            {
                                            <div class="ui-current-bill">
                                             @if (@Model.OldPackagesList[p].OldPackageName.ToString().ToLower().Contains("protection"))
                                                    {
                                                            <h3>@Model.OldPackagesList[p].OldPackageName
                                                                @*<a href="#" onclick="return false">
                                                                    <button data-target="#ViewDeviceProtection" data-toggle="modal" class="btn-info"
                                                                        style="float: none; margin-left:10px">
                                                                        <span>i</span>
                                                                    </button>
                                                                </a>*@
                                                            </h3>
                                                    }
                                                    else
                                                    {
                                                            <h3>@Model.OldPackagesList[p].OldPackageName</h3>
                                                    }
                                                @if (Model.OldComponentsList != null)
                                                {
                                                @*Karyne(28July2015):sort by alphabet*@
                                                    Model.OldComponentsList = Model.OldComponentsList.OrderBy(c => c.OldComponentName).ToList();
                                                    <div class="crp-comp-wrapper">
                                                        <table width="100%" cellpadding="0" cellspacing="0" border="0" id="">
                                                            @for (int i = 0; i < Model.OldComponentsList.Count; i++)
                                                            {
                                                                if (@Model.OldPackagesList[p].OldPackageId == @Model.OldComponentsList[i].OldPackageId)
                                                                {
                                                                    if (@Model.OldComponentsList[i].OldComponentName != string.Empty)
                                                                    {
                                        
                                                                <tr class="row-body">
                                                                    <td align="left" valign="top">
                                                                        <input checked="checked" disabled="disabled" type='checkbox' name="chkbxComponentOld" value="@Model.OldComponentsList[i].OldComponentId" id="@Model.OldComponentsList[i].OldPackageId" />
                                                                    </td>
                                                                    <td align="left">@Model.OldComponentsList[i].OldComponentName
                                                                    </td>
                                                                </tr>
                                          
                                                                    }
                                                                }

                                                            }
                                                        </table>
                                                    </div>
                                         
                                                }
                                            </div>
                                            <div class="space">
                                            </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div style="width: 50%; float: left;">
                                <span class="component-bill-plan">New Bill Plan</span>
                                <div style="width: 95%;">
                                    <div style="width: 95%;">
                                        @for (int p = 0; p < @Model.NewPackagesList.Count; p++)
                                        {
                                            //if (@Model.NewPackagesList[p].NewPackageName != null )
                                            //{
                                            if (@Model.NewPackagesList[p].Type != "OC" && @Model.NewPackagesList[p].Type != "RC" && @Model.NewPackagesList[p].Type != "CR" && @Model.NewPackagesList[p].Type != "MD" && @Model.NewPackagesList[p].Type != "DC" && (@Model.NewPackagesList[p].NewPackageName != null && !(@Model.NewPackagesList[0].NewPackageName.ToLower().Contains("ivalue") && @Model.NewPackagesList[p].NewPackageName == "Data Components")))
                                            {
                                            <div class="ui-new-bill">
                                            @if (@Model.NewPackagesList[p].NewPackageName.ToString().ToLower().Contains("protection"))
                                                    {
                                                            <h3>@Model.NewPackagesList[p].NewPackageName
                                                                @*<a href="#" onclick="return false">
                                                                    <button data-target="#ViewDeviceProtection" data-toggle="modal" class="btn-info"
                                                                        style="float: none; margin-left:10px">
                                                                        <span>i</span>
                                                                    </button>
                                                                </a>*@
                                                            </h3>
                                                    }
                                                    else
                                                    {
                                                            <h3>@Model.NewPackagesList[p].NewPackageName</h3>
                                                    }
                                                <div class="crp-comp-wrapper">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0" id="">
                                                        @if (Model.NewComponentsList != null)
                                                        {
                                                            @*Karyne(28July2015):sort by alphabet*@
                                                            Model.NewComponentsList = Model.NewComponentsList.OrderBy(c => c.NewComponentName).ToList();
                                                            for (int i = 0; i < Model.NewComponentsList.Count; i++)
                                                            {
                                                                //************************added on 13/06/14 *********//
                                                                if (@Model.NewPackagesList[p].NewPackageId == @Model.NewComponentsList[i].NewPackageId && @Model.NewComponentsList[i].Type != "MD" && @Model.NewComponentsList[i].Type != "DM")
                                                                {
                                                                    //if (@Model.NewComponentsList[i].NewComponentName != string.Empty && Model.NewComponentsList[i].NewComponentKenanCode != "40090")
                                                                    if (@Model.NewComponentsList[i].NewComponentName != string.Empty)
                                                                    {

                                                                        bool status = @Model.NewComponentsList[i].IsChecked;
                                                                        bool ReassignIsmandatory = @Model.NewComponentsList[i].ReassignIsmandatory;


                                                                        var value = @Model.NewComponentsList[i].NewComponentId + "_" + @Model.NewComponentsList[i].NewComponentKenanCode;
                                                                        if (@Model.NewComponentsList[i].Type == "IC")
                                                                        {
                                                                            MDPId = @Model.NewComponentsList[i].NewPackageId;
                                                                            status = true; // to force checked for MDP component
                                                                        }                                            
                                            
                                                                        <tr class="row-body">
                                                                        @if (Model.NewComponentsList[i].NewComponentKenanCode == "40090")
                                                                        {
                                                                            ReassignIsmandatory = true;
                                                                        }
                                                                        @if (ReassignIsmandatory == true)
                                                                        {
                                                                    <td align="left" valign="top">
                                                                        <input checked="checked" type='checkbox' disabled="disabled" name="chkbxComponent" value="@Model.NewComponentsList[i].NewComponentKenanCode" id="@Model.NewComponentsList[i].NewPackageId"  class="@Model.NewComponentsList[i].ComponentGroupId" group="@Model.NewComponentsList[i].ComponentGroupName"  compid="@Model.NewComponentsList[i].NewComponentId" />
                                                                    </td>
                                                                    <td align="left">@Model.NewComponentsList[i].NewComponentName
                                                                    </td>
                                                                           
                                                                        }
                                                                        else if (status)
                                                                        {
                                                                    <td>
                                                                        <input checked="checked" type='checkbox' name="chkbxComponent" value="@Model.NewComponentsList[i].NewComponentKenanCode" id="@Model.NewComponentsList[i].NewPackageId"  class="@Model.NewComponentsList[i].ComponentGroupId" group="@Model.NewComponentsList[i].ComponentGroupName"   compid="@Model.NewComponentsList[i].NewComponentId" />
                                                                    </td>
                                                                    <td align="left">@Model.NewComponentsList[i].NewComponentName
                                                                    </td>
                                                                        }
                                                                        else
                                                                        {
                                                                             
                                                                    <td>
                                                                        <input type='checkbox' name="chkbxComponent" value="@Model.NewComponentsList[i].NewComponentKenanCode" id="@Model.NewComponentsList[i].NewPackageId"  class="@Model.NewComponentsList[i].ComponentGroupId" group="@Model.NewComponentsList[i].ComponentGroupName"   compid="@Model.NewComponentsList[i].NewComponentId" />
                                                                    </td>
                                                                    <td align="left">@Model.NewComponentsList[i].NewComponentName
                                                                    </td>
                                                                        }
                                                            </tr>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="space">
                                            </div>
                                            }
                                        }

                                         @if (DataComponentList != null && DataComponentList.Count > 0)
                                         {

                                        <div class="ui-new-bill">
                                            <h3>
                                                Data Components</h3>
                                            <div class="crp-comp-wrapper">
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0" id="">
                                                    @if (DataComponentList != null && DataComponentList.Count > 0)
                                                    {@*Karyne(28July2015):sort by alphabet*@
                                                        DataComponentList = DataComponentList.OrderBy(c => c.NewComponentName).ToList();
                                                        foreach (NewComponents DCcomp in DataComponentList)
                                                        {


                                                            //if (@Model.NewComponentsList[i].NewComponentName != string.Empty && Model.NewComponentsList[i].NewComponentKenanCode != "40090")
                                                            if (DCcomp.NewComponentName != string.Empty)
                                                            {

                                                                bool status = DCcomp.IsChecked;
                                                                bool ReassignIsmandatory = DCcomp.ReassignIsmandatory;

                                                                var groupId = DCcomp.ComponentGroupId;
                                                                var kenanCode = ""; //= @Model.SubscribedComponents[p].compList[i].componentId;
                                                                var vasName = ""; //= @Model.SubscribedComponents[p].compList[i].componentDesc + " (RM " + Model.SubscribedComponents[p].compList[i].Price + ")";
                                                                var pbpcId = DCcomp.NewComponentId; //= @Model.SubscribedComponents[p].compList[i].lnkpgmbdlpkgcompId;
                                                                var price = 0;
                                                                var compId = 0;
                                                                var value = DCcomp.NewComponentId + "_" + DCcomp.NewComponentKenanCode;


                                                                var isDefault = DCcomp.isDefault;
                                                                   
                                                               
                                                        <tr class="row-body">
                                                            <td>
                                                                @if (ReassignIsmandatory == true)
                                                                {
                                                                    <td align="left" valign="top">
                                                                        <input checked="checked" type='checkbox' data-autoselect="autoselect" data-isDefault="@isDefault"  disabled="disabled" name="chkbxComponent" value="@DCcomp.NewComponentKenanCode" compid="@DCcomp.NewComponentId"  class="@DCcomp.ComponentGroupId"  onclick="noMultipleSelection(this);"/>
                                                                    </td> 
                                                                    <td align="left">
                                                                        @DCcomp.NewComponentName
                                                                    </td> 
                                                                }
                                                                else if (Session["ContractType"].ToString2().ToUpper() == "TERIMNATEONLY" && DCcomp.NewComponentKenanCode == contractKenancode)
                                                                {  
                                                                        <td align="left" valign="top">
                                                                        <input data-isDefault="@isDefault" data-autoselect="autoselect" type='checkbox' name="chkbxComponent" class="@DCcomp.ComponentGroupId"  onclick="noMultipleSelection(this);" value="@DCcomp.NewComponentKenanCode" compid="@DCcomp.NewComponentId"/>
                                                                    </td> 
                                                                    <td align="left">
                                                                        @DCcomp.NewComponentName
                                                                    </td> 
                                                                }
                                                                else if (status == true)
                                                                {
                                                                    if (Convert.ToInt16(groupId) > 0)
                                                                    {
                                                                    <td align="left" valign="top">
                                                                        <input checked="checked" type='checkbox' data-isDefault="@isDefault"  data-autoselect="autoselect"  name="chkbxComponent"    value="@DCcomp.NewComponentKenanCode" compid="@DCcomp.NewComponentId"  class="@DCcomp.ComponentGroupId"  onclick="noMultipleSelection(this);"/>
                                                                    </td> 
                                                                    <td align="left">
                                                                        @DCcomp.NewComponentName
                                                                    </td> 
                                                                    }
                                                                    else
                                                                    {
                                                                    <td align="left" valign="top">
                                                                        <input checked="checked" type='checkbox' data-isDefault="@isDefault" data-autoselect="autoselect"  name="chkbxComponent" value="@DCcomp.NewComponentKenanCode" compid="@DCcomp.NewComponentId"   class="@DCcomp.ComponentGroupId"  onclick="noMultipleSelection(this);"/>
                                                                    </td> 
                                                                    <td align="left">
                                                                        @DCcomp.NewComponentName
                                                                    </td> 
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <td align="left" valign="top">
                                                                        <input data-isDefault="@isDefault"  data-autoselect="autoselect" type='checkbox' name="chkbxComponent" class="@DCcomp.ComponentGroupId" id="@DCcomp.NewPackageId"  onclick="noMultipleSelection(this);" value="@DCcomp.NewComponentKenanCode" compid="@DCcomp.NewComponentId" group="@DCcomp.ComponentGroupName"/>

                                                                    </td> 
                                                                    <td align="left">
                                                                        @DCcomp.NewComponentName
                                                                    </td> 

                                                                }
                                                            </td>
                                                        </tr>
                                                               
                                                            }
                                                        }
                                                    }
                                                </table>
                                            </div>
                                        </div> 
                                    
                                         }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="modal fade" id="ViewDeviceProtection" tabindex="-1" role="dialog" aria-labelledby="ViewDeviceProtection"
                        aria-hidden="true">
                        <div class="modal-dialog  modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span class="close-btn">Close</span></button>
                                </div>
                                <div class="modal-body planViewDetail">
                                    <div class="planViewDetail-list">
                                        <table width="100%">
                                            <tr>
                                                <td>
                                                    <img alt="" id="imgPlanDetails" src="@Url.Content("~/Content/assets/img/mdp_benefit_popup.png")" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@

                    <div style="clear: both;">
                    </div>
                </div>
            </div>
        </div> 
        <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
            <div style="float: right; padding-right: 20px;">
                @if (Session["GuidedSales_Type"] != null && Session["GuidedSales_Type"] != string.Empty)
                {
                    if (Convert.ToInt32(Session["GuidedSales_Type"]) != MobileRegType.PlanOnly.ToInt())
                    {
                    <input class="cancel backButton" type="submit" value="<" onclick="$('#TabNumber').val(2);" />
                       
                    }
                }
                else
                {
                
                    <input class="cancel backButton" type="submit" value="<" onclick="$('#TabNumber').val(2);" />                       
                  
                }
                <input class="submitButton" type="submit" value="Next Step: Contract" onclick="$('#TabNumber').val(4);" />
            </div>
            <div style="clear: both;">
            </div>
        </div>
        
                Html.Telerik().Window()
                                            .Name("CRPWarningSharingSupp")
                                            .Title("Sharing Supplementary Detected")
                                            .Width(350)
                                            .Buttons(x => x.Clear())
                                            .Content(@<text>
                                    <br />
                                    <table>
                                        <tr>
                                            <td align="center" style="font-size:16px">
                                                @Model.ShareSuppErrorMessage
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center">
                                                <input class="submitButton" type="button" value="CRP" id="btnCRP" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            &nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                </text>)
                                            .Modal(true)
                                            .Visible(false)
                                            .Render();

    }

    <div class="modal" id="mdp-popup" hidden="true" >
    <div class="modal-dialog">
        <div class="t-widget t-window" style="top: 150px; left: 100px; z-index: 10011;">
			<div class="t-window-titlebar t-header" style="padding-bottom:40px">
                <span class="t-window-title"><h4>Maxis Device Protection (MDP)</h4></span>
            </div>
            <div class="t-window-content t-content">
                <table>
                    <tr style="font-size:15px">   
                        <td> Maxis Device Protection will be updated with the new device details</td>
                    </tr>
                    <tr> 
                        <td align="center">
                            <input class="submitButton" type="button" value="Proceed" id="btnYes" />
                            <input class="submitButton" type="button" value="Unsubscribe" id="btnNo" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    </div>

</div>
<div id="right">
<div id="right-box">
    @{
        var viewBagValue = new ViewDataDictionary();
        viewBagValue.Add("GSTMark", ViewBag.GSTMark);
    }
    @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"], viewBagValue)
</div></div>
@section Scripts{
    <script type="text/javascript" language="javascript">

        $('#btnContinue').click(function () {

            fnSaveSelectedComponents(this)
            //document.forms["frmPersonalDetails"].submit();
        });



        var datacompcount = 0;

        $(document).ready(function () {

            if ('' != '@shareSuppErrorMsg') {
                $('#CRPWarningSharingSupp').data('tWindow').center().open();
            }

            if ('@hasMDP' == 'True') {
                $('#mdp-popup').modal('show');
            }

            $('#btnCRP').on('click', function (e) {
                e.preventDefault();
                window.location = '@(Url.Content("~/CRP/Accounts?type=" + ((int)MobileRegType.DeviceCRP)))';
            });

            var datacompcount = 0;
            var listitems = $("[data-autoselect='autoselect']");

            for (var i = 0; i < listitems.length; i++) {
                var isdefault = $(listitems[i]).attr('data-isDefault')
                if (isdefault == '1') {

                    if ('@TempData["Error"]' == '') {
                        $(listitems[i]).attr('checked', 'checked');
                        //                    noMultipleSelection(listitems[i]);

                    }
                }
            }
            var SelectedCompId = '@Session["SelectedCompIdsForCheck"]';
            if (SelectedCompId != null) {
                var SelectedCompIdsForCheck = SelectedCompId.split(',');
                debugger;
                if (SelectedCompIdsForCheck != '') {

                    for (var i = 0; i < SelectedCompIdsForCheck.length; i++) {
                        var compid = "[compid=" + SelectedCompIdsForCheck[i] + "]";
                        $(compid).attr('checked', 'checked');

                    }
                }
            }

        });

        $('#btnYes').click(function () {
            $('#mdp-popup').modal('hide');
        });

        $('#btnNo').click(function () {
            debugger;
            $('#' + '@(MDPId)').prop('checked', false);
            $('#mdp-popup').modal('hide');
        });
        
        function fnSaveSelectedComponents(form) {
            if (form != null && $(form).valid() == false) {
                return false;
            }
            var sCompKenanIdsList = "";
            var sCompIdsList = "";

            $('input[name=chkbxComponent]').each(function () {
                if (this.checked) {
                    sCompKenanIdsList += $(this).val() + ",";
                    sCompIdsList += $(this).attr('compid') + ",";
                }
            });

            //Added for smart one plan CR
            var selectedIds = "";
            $('input[name=chkbxComponent]').each(function () {
                if (this.checked) {
                    
                    selectedIds += $(this).attr('compid') + ",";
                }
            });
            $('#SelectedCkeckBoxIds').val(selectedIds);
            //Added for smart one plan CR end

            if (sCompKenanIdsList.length > 0) {
                sCompKenanIdsList = sCompKenanIdsList.substring(0, sCompKenanIdsList.length - 1);
                sCompIdsList = sCompIdsList.substring(0, sCompIdsList.length - 1);

            }

            $('#SelectedValues').val(sCompKenanIdsList);
            $('#SelectedCompIds').val(sCompIdsList);
            
            return true;
        }

        $(function () {

            $('input[name="chkbxComponent"]').click(function () {
                $('input[name="chkbxComponent"]').removeClass('samegroup');
                if ($(this).is(':checked')) {
                    var className = $(this).attr('class');
                    var selectedComponent = $(this).val();
                    //alert(selectedComponent);
                    var i = 0;
                    if (className != undefined && className != '' && className != '0') {

                        $('input[class="' + className + '"]').each(function () {
                            var componentId = $(this).val();
                            if (componentId != selectedComponent && $(this).is(':checked')) {
                                i++;
                                //alert(componentId);
                            }
                        });

                    }
                    if (i > 0) {
                        $('input[name="chkbxComponent"]').filter('.' + className).addClass('samegroup');
                        var groupName = $(this).attr('group');

                        var msg = 'Please select one component from each group';
                        if (groupName != undefined && groupName != '') {
                            msg = 'Please select one component from the group ' + groupName;
                        }

                        //alert(msg);
                        $('#Plan_Error').html("Please select one component from each group");
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                        return false;
                    }
                    else
                        return true;
                }
                return true;
            });

        });

    </script>

    <script type="text/javascript" language="javascript" >
        jQuery(function () {
            jQuery(".ui-current-bill").accordion({
                autoHeight: false,
                collapsible: true
            });
            $(".ui-current-bill").accordion("option", "icons",
        		{ 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });
        });

        jQuery(function () {
            jQuery(".ui-new-bill").accordion({
                autoHeight: false,
                collapsible: true
            });
            $(".ui-new-bill").accordion("option", "icons",
        		{ 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });
        });

       
    </script>
}
