﻿@using Online.Registration.Web.SmartViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Telerik;

@model Online.Registration.Web.SmartViewModels.PackageVM
<style type="text/css">
    .plan-outerbox .plan-title
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #505865;
        font-weight: normal;
        text-align: center;
        width: 100%;
    }
    .plan-innerbox.focus .plan-title
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #ffffff;
        font-weight: normal;
        text-align: center;
        width: 100%;
    }
</style>
@{
    ViewBag.Title = "Select a Maxis Plan";
    Layout = Url.Content("~/Views/Shared/_NewLayout.cshtml");
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var orderVM = new OrderSummaryVM();
    if ((OrderSummaryVM)Session["RegMobileReg_OrderSummary"] != null)
    {
        orderVM = (OrderSummaryVM)Session["RegMobileReg_OrderSummary"];
    }

    Session["GuidedSales_Type"] = "";
    var planId = "";
    if (Session["SelectedPlanID"] != null)
    {
        planId = Session["SelectedPlanID"].ToString();
    }
    var pgmBdls = (orderVM.BrandID <= 0) ? Model.AvailablePackages.Where(a => a.BundleName.Contains("iV").Equals(false)).Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList() : Model.AvailablePackages.Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList();
    var bundleNames = (orderVM.BrandID <= 0) ? Model.AvailablePackages.Where(a => a.BundleName.Contains("iV").Equals(false)).Select(a => a.BundleName).Distinct().ToList() : Model.AvailablePackages.Select(a => a.BundleName).Distinct().ToList();

    //var pgmBdls = (orderVM.BrandID <= 0) ? Model.AvailablePackages.Where(a => a.BundleName.Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList() : Model.AvailablePackages.Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList();
    //var bundleNames = (orderVM.BrandID <= 0) ? Model.AvailablePackages.Where(a => a.BundleName.Select(a => a.BundleName).Distinct().ToList() : Model.AvailablePackages.Select(a => a.BundleName).Distinct().ToList();


    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" : "";
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var noEligiblePlan=true;
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/html5reset.css")"  media="all" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/responsivegridsystem.css")" media="all" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/tabcontent.css")" media="all" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/colorbox.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.css")"/>    

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/jquery-ui/jquery.ui.all.css")" />

<div id ="wrapper">
<div id = "maincontentcontainer">
<div id="center">

   @using (Html.BeginForm("SelectPlan", "retention", FormMethod.Post, new { id = "frmSelectPlan", @class = "overlayonsubmit", processmsg = "Loading" }))
    {
        <input type="hidden" id="hdnSelectedPlans"  value='@planId' />
        @Html.HiddenFor(a => a.TabNumber)
        @Html.HiddenFor(a => a.SelectedPgmBdlPkgCompID)
        

	
	    
            <div class="header-title">
                @ViewBag.Title
            </div>
            <div class="row top=border">
                <div class="col-sm-12">
                    <p class="font-16 gst-notif">@(ViewBag.GSTnotif)</p>
                </div>
            </div>  
    
        
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        <li style="display: table-cell; float: none;">Brand</li>
                        <li style="display: table-cell; float: none;" class="preselected">Device</li>
                        <li style="display: table-cell; float: none;" class="selected">Plan</li>
                        <li style="display: table-cell; float: none;">Components</li>
                        <li style="display: table-cell; float: none;">Contract</li>
                        <li style="display: table-cell; float: none;">Discount</li>
                        <li style="display: table-cell; float: none;">Customer</li>
                        <li style="display: table-cell; float: none;">Summary</li>
                    </ul>
                </div>
            </div>
            <div class="content_white" style="padding-left:35px; clear:both;"> 
            @if (bundleNames.Count > 0)
            {
            @Html.ValidationSummary(false)
            }
       </div>
            <div class="content_white">
                <div style="display: block; padding: 0px 20px; margin: 0px auto;">
                    <div>
                        <table width="100%">
                            <tr>
                                <td align="left" style="font-size:15px;">
                                    <b>Name: </b>@Session["AccountHolder"].ToString2().Trim()
                                </td>
                                <td align="right" style="font-size:15px;">
                                    <b>MSISDN: </b>@Session["MSISDN"].ToString2()
                                </td>
                            </tr>
                            @if (Session["AccountType"].ToString2() == "S")
                            {   
                                <tr>
                                    <td align="left" width="80%">
                                        <label style="font-size: large;">
                                            Supplementary Line Plan</label>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div id="Plan_Error" style="color: Red; font-weight: bold; font-size: 16px; font-style: italic">
                    </div>
                    <div id="ui-plan">
                        @foreach (var bundleName in bundleNames)
                        {
                            int index = 0;
                            var packages = Model.AvailablePackages.Where(a => a.BundleName == bundleName).ToList();
                            noEligiblePlan = false;
                            <h3>@pgmBdls.Where(a => a.bundleName == bundleName).SingleOrDefault().programName.ToUpper():
                                <span class="txt-18-black-normal">@bundleName</span></h3>
                            <div style="width: 100%; border-left: 1px solid #ccc;">
                                @foreach (var package in packages)
                                {
                                    var btnPlanID = package.PgmBdlPkgCompID;
                                    var btnPlanDetails = "btnPlnDetails_" + package.PackageCode;
                                    <div class="plan-outerbox">
                                        <div  id="@btnPlanID" class="plan-innerbox" onclick="SelectedPackage(this,'@btnPlanID');" style="cursor:pointer;">
                                            @if (package.PackageName.Contains("-") == true)
                                            {
                                                string[] curPackage = package.PackageName.Trim().Split('-');
                                                <p class="plan-title">@curPackage[0].Trim()</p>
                                                <p class="plan-status">@curPackage[1].Trim()</p>
                                            }
                                            else
                                            {
                                                <p class="plan-title">@package.PackageName</p>
                                            }
                                            <div class="plan-viewmore">
                                                <a href="javascript:detailsPlans_OnClick('@btnPlanDetails')" id="popup-message" class="cboxElement">
                                                    View Plan</a></div>
                                        </div>
                                    </div>
                                            index += 1;
                                            if (index == packages.Count())
                                            { 
                                    <div style="clear: both;">
                                    </div>
                                            }
                                }
                            </div>
                        
                        }
                    </div>
                </div>
                <div style="height: 20px;">
                @if (noEligiblePlan == true)
                {
                            <div class="list_carousel responsive">
                            <div style="position:relative;font-size:10px;Left:43%;">
                                &nbsp;There are no eligible plans available.</div></div>
                }
                </div>
            </div>
            <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
                <div style="float: right; padding-right: 20px;">
                    @if (Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan)
                    {
                        <input class="button-back cancel backButton" type="submit" value="<" onclick="$('#TabNumber').val(1);" />
                    }
                    else { 
                    <input class="cancel backButton" style="width:52.7969px;" value="<" onclick="$('#TabNumber').val(1);" />
                    }
                    @if (noEligiblePlan == false)
                    {
                    <input class="button-continue submitButton" type="submit" value="Next Step: Components" onclick="$('#TabNumber').val(3);" />
                    }
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
            
            @Html.Partial("_footer")
        
    

                                   
    }
    
</div>
<!-- Right column area -->
            <div id="right">
            <div id="right-box">
                @{
                    var viewBagValue = new ViewDataDictionary();
                    viewBagValue.Add("GSTMark", ViewBag.GSTMark);
                }
                @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"], viewBagValue)
            </div>
            </div>

            </div>
            </div>
@{
    Html.Telerik().Window()
        .Name("vasWindow")
        .Title("Value Added Services")
        .Width(325)
        .Content(@<text>
    @{var vasNames = (List<string>)Session["RegMobileReg_VasNames"]; }
    @if (vasNames != null)
    {
        foreach (var name in vasNames)
        { 
        <div style="border-style: solid; border-width: 1px; border-radius: 5px; margin: 1px;
            padding: 3px 3px 3px 3px; margin: 0px 0px 1px 0px; width: 300px;">
            @name
        </div>
        }
    }
    </text>)
        .Modal(true)
        .Visible(false)
        .Render();

    Html.Telerik().Window()
        .Name("sublineWindow")
        .Title("Supplementary Lines")
        .Width(320)
        .Content(@<text>
        @Html.Partial("_Subline")
        </text>)
        .Modal(true)
        .Visible(false)
        .Render();

    Html.Telerik().ScriptRegistrar()
        .OnDocumentReady(@<text>$('#btnVwVAS').click(function(e) { e.preventDefault();
    $('#vasWindow').data('tWindow').center().open(); }); $('#btnVwSubline') .click(function(e)
    { e.preventDefault(); $('#sublineWindow').data('tWindow').center().open(); });
    </text>); 
}
@{
    Html.Telerik().Window()
        .Name("planDetailsWindow")
        .Title("Plan Details")
        .Width(700)
        .Height(600)
        .ClientEvents(events => events.OnActivate("Window_onActivate"))
        .Content(@<text>
    <table width=100%>
        <tr>
            <td>
                <img alt="" id="imgPlanDetails" src="@Url.Content("~/Content/images/Plan/MobileReg_.gif")" />
            </td>
        </tr>
    </table>
    </text>)
        .Modal(true)
        .Visible(false)
        .Render();
}
@section Scripts{
    <script type="text/javascript">
        $.validator.methods.number = function(n, t) {
            return true;
        };
        jQuery(function () {
            jQuery("#ui-plan").accordion({
                autoHeight: false
            });
            $("#ui-plan").accordion("option", "icons",
        		{ 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });
        });

        $(document).ready(function () {
            //Highlight selected plan
//            var planID = $('#SelectedPgmBdlPkgCompID').val();
//            if (planID != 0) {
//                $('#btnPlan_' + planID).css("border-style", "solid");
//            }
            var planId= $('#hdnSelectedPlans').val();
            if(planId!="")
            $('#SelectedPgmBdlPkgCompID').val(planId);
            
            if (planId != 0) {
                //$('#btnPlan_' + planId).css("border-style", "solid");
                 $('#' + '@planId').addClass('focus');
            }
        });

        function SelectedPlan(btnPlanID, planID) {
            $('#SelectedPgmBdlPkgCompID').val(planID);
           $('button[id^="btnPlan_"]').css("border-style", "none");          
           $('#'+btnPlanID).css("border-style", "solid");
        }
         function SelectedPackage(target, planID) {
            $(".plan-innerbox").removeClass('focus');
            $(target).addClass('focus');
            $('#SelectedPgmBdlPkgCompID').val(planID);
            $('#Plan_Error').hide();
        }
        function highlightSelectedPlans()
        {
        alert("hi");
        var selectedPlanIds = $('#hdnSelectedPlans').val().split(',');

for (var i=0; i<selectedPlanIds.length; ++i) {
  $("#"+selectedPlanIds[i]).css("border-style", "solid");
}
        }
        function SubmitForm(sequenceNo) {
        alert('Submit Form');
            $('#submit1').val(sequenceNo);
            //document.forms['frmSelectPlan'].submit();
            $("#frmSelectPlan").submit();
        }

        function detailsPlans_OnClick(btnPlanDetails) {
        debugger;
            var code = btnPlanDetails.substring(14);
            var src = $('#imgPlanDetails').attr("src");
            var indexFrom = src.indexOf("MobileReg_") + 10;
            var indexTo = src.indexOf(".gif");
            var oldCode = src.substring(indexFrom, indexTo);

            src = src.replace(oldCode, "");
            src = src.replace("MobileReg_", "MobileReg_" + code);
            $('#imgPlanDetails').attr("src", src);            
            $('#planDetailsWindow').data('tWindow').center().open();
        }

        function Window_onActivate(){
            var container = $("#planDetailsWindow .t-content");
            var paddingTopBottom  = (container.innerHeight() - container.height())*2;
            var paddingLeftRight  = (container.innerWidth()  - container.width())*2;
            var content = $("#imgPlanDetails");
            var contentHeight = content.width(); 
            var contentWidth = content.height();
            $("#planDetailsWindow .t-content").width(content.width()+paddingLeftRight).height(content.height()+paddingTopBottom);
            $('#planDetailsWindow').data('t-window').center();
        }
        

        jQuery(function ($) {

            var total = @(bundleNames.Count());
            
            for(var i = 0; i< total; i++){

                $('#carousel_'+i).rcarousel({
                    orientation: "vertical", step: 3, speed:200, visible: 4, width: 450, height: 55, 
                    navigation: { prev: "#next_"+i, next: "#prev_"+i }
                });

                
            }
            
            $(".ui-carousel-next")
			    .add(".ui-carousel-prev")
			    .hover(
				    function () {
					    $(this).css("opacity", 0.7);
				    },
				    function () {
					    $(this).css("opacity", 1.0);
				    }
			    );
        });

    </script>

    @{                    
        Html.Telerik()
            .ScriptRegistrar()
            .DefaultGroup(grp => grp
                .Add("jquery.validate.min.js")
                .Add("jquery.validate.unobtrusive.min.js")
                .Add("jquery.unobtrusive-ajax.js")
                .Add("jquery-ui-1.8.20.min.js")
                .Add("ZeroClipboard.js")
                .Add("jquery.blockUI.js")
                .Add("modernizr-2.5.3.js")
                .Add("jquery-ui-timepicker-addon.js")
                .Add("flashcanvas.js")
                .Add("jSignature.min.js")
                .Add("jquery.ui.core.js")
                .Add("jquery.ui.widget.js")
                .Add("jquery.ui.rcarousel.js")
                .Add("jquery.tabletojson.min.js")
                .Add("scripts.js")
                .Add("core.js")
            ).Render();
    }
}
<link type="text/css" href="@Url.Content("~/Content/2012.2.607/telerik.common.min.css")" rel="stylesheet" />
<link type="text/css" href="@Url.Content("~/Content/2012.2.607/telerik.office2010silver.min.css")" rel="stylesheet" />