﻿@using Online.Registration.Web.SmartViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using System.Configuration;
@model Online.Registration.Web.SmartViewModels.ValueAddedServicesVM
@{
    ViewBag.Title = "Select a Contract";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" : "";
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var ContractDet = (ContractDetails)Session["ContractDet"];
    var selContr = Session["RegMobileReg_ContractID"].ToString2();
    if (ConfigurationManager.AppSettings["RestrictContractsforModelId"].Split(',').ToList().Contains(Session["SelectedModelID"].ToString2()))
    {
        Model.ContractVASes = Model.ContractVASes.Where(c => ConfigurationManager.AppSettings["ContractMonthsRestrictionForSmart"].Split(',').ToList().Contains(c.Value.ToString2())).ToList();
    }
}
<div id="center">
    @using (Html.BeginForm("SelectVAS", "retention", FormMethod.Post, new { id = "frmSelectVAS", @class = "overlayonsubmit", processmsg = "Loading" }))
    { 
        <div class="header-title">
            @ViewBag.Title</div>
        <div class="row top=border">
            <div class="col-sm-12">
                <p class="font-16 gst-notif">@(ViewBag.GSTnotif)</p>
            </div>
        </div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        <li style="display: table-cell; float: none;">Brand</li>
                        <li style="display: table-cell; float: none;">Device</li>
                        <li style="display: table-cell; float: none;">Plan</li>
                        <li style="display: table-cell; float: none;" class="preselected">Components</li>
                        <li style="display: table-cell; float: none;" class="selected">Contract</li>
                        <li style="display: table-cell; float: none;">Discount</li>
                        <li style="display: table-cell; float: none;">Customer</li>
                        <li style="display: table-cell; float: none;">Summary</li>
                    </ul>
                </div>
            </div>
            <div class="content_white">
              <div style="display: block; padding: 0px 20px; margin: 0px auto;">
               <div>
                        <table width="100%">
                            <tr>
                                <td align="left" style="font-size:15px;">
                                    <b>Name: </b>@Session["AccountHolder"].ToString2().Trim()
                                </td>
                                <td align="right" style="white-space:nowrap; font-size:15px;" >
                                    <b>MSISDN: </b>@Session["MSISDN"].ToString2()
                                </td>
                            </tr>
                            @if (Session["AccountType"].ToString2() == "S")
                            {   
                                <tr>
                                    <td align="left" width="80%">
                                        <label style="font-size: large;">
                                            Supplementary Line Plan</label>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
            <div id="Plan_Error" style="color: Red; font-weight: bold; font-size: 16px; ">
                    </div>
                <div id="ui-plan">
                    <h3>
                        Contract</h3>
                    <div style="width: 100%; border-left: 1px solid #ccc;">
                        @Html.ValidationSummary(false)
                        @Html.HiddenFor(a => a.TabNumber)
                        @Html.HiddenFor(a => a.SelectedVasIDs)
                        @Html.HiddenFor(a => a.SelectedContractID)
                        @Html.HiddenFor(a => a.SelectedContractName)
                        @{
                           
                            /*Added by Chetan for hiding the contrats & vas in planonly*/
                            if (Model.AvailableVASes.Count() > 0)
                            {

                                for (int i = 0; i < Model.AvailableVASes.Count(); i++)
                                {
                            @Html.HiddenFor(model => model.AvailableVASes[i].PgmBdlPkgCompID)
                                }
                            }


                            if (sessionRegType != (int)MobileRegType.PlanOnly)
                            {


                                if (Model.ContractVASes.Count() > 0)
                                {
                                    bool hascontracts = false;
                                    if (Session["ContractType"].ToString().ToUpper() == "EXTEND")
                                    {
                                        foreach (var vas in Model.ContractVASes)
                                        {
                                            if (ContractDet.ComponentDesc != vas.ComponentName && (30 - ContractDet.ContractDuration) >= Convert.ToInt32(vas.Value))
                                            {
                                                var btnConVASID = "btnConVAS_" + vas.PgmBdlPkgCompID;
                                   
                            <div class="plan-outerbox">
                                <div  class="plan-innerbox" id="@btnConVASID" onclick="SelectedConVAS('@btnConVASID',@vas.PgmBdlPkgCompID);" style="cursor:pointer;">
                                    <p class="contract-title" >@vas.ComponentName</p>
                                </div>
                            </div>     
                                                hascontracts = true;

                                            }
                                        }
                                        if (!hascontracts)
                                        {
                            <text>No Contracts available for extention</text>
                                        }
                                    }
                                    else
                                    {
                                        var restrictContractModels = @System.Configuration.ConfigurationManager.AppSettings["Restrict12MonthContractModels"].ToString2();
                                        var contractID12Months = @System.Configuration.ConfigurationManager.AppSettings["ContractID12Months"].ToString2();

                                        foreach (var vas in Model.ContractVASes)
                                        {
                       @* var btnConVASID = "btnConVAS_" + vas.PgmBdlPkgCompID;
                                
                            <div class="plan-outerbox">
                                <div  class="plan-innerbox" id="@btnConVASID" onclick="SelectedConVAS('@btnConVASID',@vas.PgmBdlPkgCompID);" style="cursor:pointer;">
                                    <p class="contract-title"  >@vas.ComponentName</p>
                                </div>
                            </div> 
                        hascontracts = true;*@
                        
                                            var contractKenanCode = "";
                                            if (restrictContractModels.Contains(Session["RegMobileReg_SelectedModelID"].ToString2()))
                                            {

                                                using (var proxy = new SmartCatelogServiceProxy())
                                                {
                                                    var PBPCs = proxy.PgmBdlPckComponentGetSmart(Model.ContractVASes.Select(a => @vas.PgmBdlPkgCompID).ToList()).ToList();
                                                    if (PBPCs.Count > 0)
                                                    {
                                                        var contractKenanCodes = PBPCs.Select(a => a.KenanCode).ToList();
                                                        if (contractKenanCodes.Count > 0)
                                                        {
                                                            contractKenanCode = contractKenanCodes[0].ToString2();
                                                        }
                                                    }

                                                }
                                            }

                                            if (contractKenanCode == contractID12Months)
                                            {
                                                //hide contract                            
                                            }
                                            else
                                            {
                                                var btnConVASID = "btnConVAS_" + vas.PgmBdlPkgCompID;
                                
                            <div class="plan-outerbox">
                                <div  class="plan-innerbox" id="@btnConVASID" onclick="SelectedConVAS('@btnConVASID',@vas.PgmBdlPkgCompID);" style="cursor:pointer;">
                                    <p class="contract-title"  >@vas.ComponentName</p>
                                </div>
                            </div> 
                                                hascontracts = true;
                                            }

                                        }
                                        if (!hascontracts)
                                        {
                        <div>&nbsp;No Contracts Available</div>                           
                                        }
                                    }
                                }
                                else
                                {
                            <div>&nbsp;Not Available</div>
                                }
                            }
                        }
                        <div style="clear: both;">
                        </div>
                    </div>
                </div>
                </div>
                <div style="height: 20px;">
                </div>
            </div>
            <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
                <div style="float: right; padding-right: 20px;">
                    @if (Session["GuidedSales_Type"].ToString2() != string.Empty)
                    {
                        if (Convert.ToInt32(Session["GuidedSales_Type"]) != MobileRegType.PlanOnly.ToInt())
                        {
                        <input class="button-back cancel backButton" type="submit" value="<" onclick="$('#TabNumber').val(10);" />
                        }
                    }
                    else
                    {                
                        <input class="button-back cancel backButton" type="submit" value="<" onclick="$('#TabNumber').val(3);" />
                        @Html.Hidden("hdnback", string.Empty)
                    }
                    @if (sessionRegType != (int)MobileRegType.PlanOnly)
                    {
                        <input class="button-continue submitButton" type="submit" value="Next Step: Discount" onclick="$('#TabNumber').val(5);return callcantract();" />
                       
                    }
                    else
                    {
                        <input class="button-continue submitButton" type="submit" value="Next Step: Discount"
                            onclick="$('#TabNumber').val(5);return callcantract();" />
                    }
                </div>
            </div>
        </div> 
    
                    Html.Telerik().Window()
                        .Name("sublineWindow")
                        .Title("Supplementary Lines")
                        .Width(320)
                        .Content(@<text>
        @Html.Partial("_Subline")
        </text>)
                        .Modal(true)
                        .Visible(false)
                        .Render();
        @Html.Partial("_footer")
    }
</div>
<div id="right">
<div id="right-box">
    @{
        var viewBagValue = new ViewDataDictionary();
        viewBagValue.Add("GSTMark", ViewBag.GSTMark);
    }
    @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"], viewBagValue)
</div></div>
@{
    Html.Telerik().Window()
        .Name("vasWindow")
        .Title("Value Added Services")
        .Width(325)
        .Content(@<text> @*  @{var vasNames = (List<string>)Session["RegMobileReg_VasNames"]; }*@
    @{var vasNames = (List<string>)Session["RegMobileReg_SelectedContracts"]; }
    @if (vasNames != null)
    {
        foreach (var name in vasNames)
        { 
        <div style="border-style: solid; border-width: 1px; border-radius: 5px; margin: 1px;
            padding: 3px 3px 3px 3px; margin: 0px 0px 1px 0px; width: 300px;">
            @name
        </div>
        }
    }
    </text>)
        .Modal(true)
        .Visible(false)
        .Render();

    Html.Telerik().ScriptRegistrar()
        .OnDocumentReady(@<text> $('#btnVwVAS') .click(function(e) { e.preventDefault();
    $('#vasWindow').data('tWindow').center().open(); }); $('#btnVwSubline') .click(function(e)
    { e.preventDefault(); $('#sublineWindow').data('tWindow').center().open(); });
    </text>); 
}
@section Scripts{
    <script type="text/javascript">
        jQuery(function () {
            jQuery("#ui-plan").accordion({
                autoHeight: false
            });
            $("#ui-plan").accordion("option", "icons",
        		{ 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });
        });
        $(document).ready(function () {
            //Highlight selected VAS
            var arrVasID = $('#SelectedVasIDs').val().split(',');
            $.each(arrVasID, function (index, value) {
                if (value != ' ' || value != ',') {
                    $('#btnConVAS_' + contractID).addClass('focus');
                }
            });

            if ('@(selContr)' != '') {
                $('#SelectedContractID').val('@(selContr)');
                $('#SelectedContractName').val($('#btnConVAS_' + '@(selContr)').text());
            }

            var contractID = $('#SelectedContractID').val();
            if (contractID != ' ' || contractID != '') {
                $('#btnConVAS_' + contractID).addClass('focus');
            }

            

        });


        function callcantract() {
            var contractID = $('#SelectedContractID').val();
            if (contractID == '' || contractID == ' ' || contractID == undefined) {
                $('#Plan_Error').html('Please Select a Contract');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $('#TabNumber').val(4);
                return false;
            }
            else if (contractID != '') {
                $('#TabNumber').val(5);
            }
            return true;
        }

        function SubmitForm(sequenceNo) {
            $('#submit1').val(sequenceNo);
            $("#frmSelectVAS").submit();
        }

        function SelectedVAS(btnVasID, vasID) {

            var vasFound = false;
            var arrVasID = $('#SelectedVasIDs').val().split(',');

            if ($.isArray(arrVasID)) {
                arrVasID = jQuery.grep(arrVasID, function (value) {
                    if (value == vasID) {
                        vasFound = true;
                    }
                    return value != vasID;
                });
            }

            if (vasFound) {
                $('#'+btnVasID).removeClass("focus");

                var newVasIDs = '';
                $.each(arrVasID, function (index, value) {
                    if (value != ' ' || value != ',') {
                        newVasIDs = newVasIDs + value + ',';
                    }
                });

                $('#SelectedVasIDs').val(newVasIDs);
            }
            else {
                $('#SelectedVasIDs').val($('#SelectedVasIDs').val() + vasID + ',');
                $('#' + btnConVASID).addClass('focus');
            }
        }

        function SelectedConVAS(btnConVASID, vasID) {
            if ($('#SelectedContractID').val() == vasID) {
                $('#SelectedContractID').val('');
                $('#' + btnConVASID).removeClass('focus');          
            }
            else {
                $('#SelectedContractID').val(vasID);
                $('div[id^="btnConVAS_"]').removeClass("focus");
                $('#' + btnConVASID).addClass('focus');
            }

            $('#SelectedContractName').val($('#' + btnConVASID).text());

        }
        function getDependencyComponents() {

            var compIds = $('#SelectedVasIDs').val();
            var url = '@(Url.Content("~/Retention/GetDepenedencyComponents"))';
            $.post(url, { componentIds: compIds }, function (data) {
                if (data.toString() != "") {
                    $('#SelectedVasIDs').val(data);

                }
                $("#frmSelectVAS").submit();
            });
        }
    
    </script>
}
