﻿@using Online.Registration.Web.Helper;
@using System.Collections.Generic;
@using Online.Registration.Web.SmartViewModels
@using SNT.Utility;
@{
    ViewBag.Title = "Select Preferred Device";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Session["GuidedSales_Type"] = "";
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var list = Session["list"] == null ? null : (IEnumerable<string>)Session["list"];
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    int excludeBrandCode = System.Configuration.ConfigurationManager.AppSettings["excludeBrandCodes"].ToInt();
}
@model Online.Registration.Web.SmartViewModels.DeviceOptionVMSmart
<div id="center">
@using (Html.BeginForm("SelectDevice", "retention", FormMethod.Post, new { id = "frmSelectDevice", @class = "overlayonsubmit", processmsg = "Loading" }))
{  
        @Html.HiddenFor(a => a.TabNumber)
        @Html.HiddenFor(a => a.SelectedDeviceOption)
        <div class="header-title">
            @ViewBag.Title</div>
        <div class="row top=border">
            <div class="col-sm-12">
                <p class="font-16 gst-notif">@(ViewBag.GSTnotif)</p>
            </div>
        </div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        <li style="display: table-cell; float: none;" class="selected">Brand</li>
                        <li style="display: table-cell; float: none;">Device</li>
                        <li style="display: table-cell; float: none;">Plan</li>
                        <li style="display: table-cell; float: none;">Components</li>
                        <li style="display: table-cell; float: none;">Contract</li>
                        <li style="display: table-cell; float: none;">Discount</li>
                        <li style="display: table-cell; float: none;">Customer</li>
                        <li style="display: table-cell; float: none;">Summary</li>
                    </ul>
                </div>
               
            </div>

            <div class="content_white" style="padding-bottom: 10px;padding-left:12px;">
                 <table width="100%">
                            <tr>
                                <td align="left" style="font-size:15px;">
                                    <b>Name: </b>@Session["AccountHolder"].ToString2().Trim()
                                </td>
                                <td align="right" style="font-size:15px;">
                                    <b>MSISDN: </b>@Session["MSISDN"].ToString2()
                                </td>
                            </tr>
                            
                        </table>
                <div class="content_white" style="padding: 1px 1px 10px 5px">
                    @Html.ValidationSummary(false)
                </div>
            </div>
            <div class="content" style="border-top: 1px solid #cccccc; padding: 30px;">
            @if (Model != null)
            {
                foreach (var brand in Model.AvailableBrands)
                {
                    if (Session["ContractType"].ToString2().ToUpper() == "EXTEND")
                    {
                        foreach (var item in list)
                        {
                            //if (brand.ID != excludeBrandCode)
                            //{
                            if (item == brand.Code)
                            {

                                var btnDvcOptID = "btnDvcOpt_" + (int)MobileRegDeviceOption.Brand + "_" + brand.ID;
                    <div class="device-wrap">
                        <div class="device-content" id='@btnDvcOptID' onclick="SelectBrand(this,'@btnDvcOptID');">
                            <img alt='@brand.Name' src="@Url.Content(brand.ImagePath)" />
                        </div>
                    </div>
                            }

                            //}
                        }
                    }
                    else if (Session["ContractType"].ToString2().ToUpper() == "TERIMNATE")
                    {
                        //if (brand.ID != excludeBrandCode)
                        //{

                        var btnDvcOptID = "btnDvcOpt_" + (int)MobileRegDeviceOption.Brand + "_" + brand.ID;
                    <div class="device-wrap">
                        <div class="device-content" id='@btnDvcOptID' onclick="SelectBrand(this,'@btnDvcOptID');">
                            <img alt='@brand.Name' src="@Url.Content(brand.ImagePath)" />
                        </div>
                    </div>
                        //}
                    }
                }
            }            
       <div style="clear: both;">
                </div>
            </div>
            <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
                <div style="float: right; padding-right: 20px;">
                    <input class="button-continue submitButton" type="submit" value="Next Step: Device"
                        onclick="$('#TabNumber').val(1);" />
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
        @Html.Partial("_footer")
          
            Html.Telerik().Window()
                .Name("sublineWindow")
                .Title("Supplementary Lines")
                .Width(320)
                .Content(@<text>
        @Html.Partial("_Subline")
        </text>)
                .Modal(true)
                .Visible(false)
                .Render();
}
    
</div>
<div id="right">
<div id="right-box">
    @{
        var viewBagValue = new ViewDataDictionary();
        viewBagValue.Add("GSTMark", ViewBag.GSTMark);
    }
    @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"], viewBagValue)
</div></div>
@{
   
    Html.Telerik().Window()
       .Name("ContractCheckWindow")
       .Title("Contract Check Info")
       .Width(350)
       .Height(100)
       .ClientEvents(events => events.OnActivate("ContractWindow_popup"))
       .Content(@<text>
        <br />
    @Online.Registration.Web.Properties.Settings.Default.ToolTipHelpMessage.ToString2()
    </text>)
       .Modal(true)
       .Visible(false)
       .Render();

    Html.Telerik().ScriptRegistrar()
        .OnDocumentReady(@<text> @*open the initially hidden window when the button is clicked*@
    $('#btnVwSubline') .click(function(e) { e.preventDefault(); $('#sublineWindow').data('tWindow').center().open();
    });
    </text>); 
}
@{
    Html.Telerik().ScriptRegistrar()
        .OnDocumentReady(@<text>  
         $('#btnVwSubline') .click(function(e) { e.preventDefault(); $('#sublineWindow').data('tWindow').center().open();});
    </text>); 
}

@{
    
    Html.Telerik().Window()
       .Name("ContractCheckWindow")
       .Title("Contract Check Info")
       .Width(350)
       .Height(100)
       .ClientEvents(events => events.OnActivate("ContractWindow_popup"))
       .Content(@<text>
        <br />
    @Online.Registration.Web.Properties.Settings.Default.ToolTipHelpMessage.ToString2()
    </text>)
       .Modal(true)
       .Visible(false)
       .Render();
    
    }

@section Scripts{
    <script type="text/javascript">

     $(document).ready(function () {


         if (@(Session["AccountswithContractCount"].ToString2().ToInt()) >= 2 && @(Session["AccountswithContractCount"].ToString2().ToInt()) <= 4)
         {//Anthony - [Regression-3] change Convert.ToInt16(Session["AccountswithContractCount"].ToString2()) to Session["AccountswithContractCount"].ToString2().ToInt()
                    $('#ContractCheckWindow').data('tWindow').center().open();
            
         }
            //Highlight selected Brand
            var btnDvcOptID = $('#SelectedDeviceOption').val();
            if (btnDvcOptID != '') {
                $('#' + btnDvcOptID).addClass('focus');
            }
            if (@(Session["AccountswithContractCount"].ToInt()) >= 2 && @(Session["AccountswithContractCount"].ToInt()) <= 4) {
            $('#ContractCheckWindow').data('tWindow').center().open();
            }
        });

        function SelectBrand(target3, btnDvcOptID) {
            jQuery(".device-content").removeClass('focus');
            jQuery(target3).addClass('focus');
            $('#SelectedDeviceOption').val(btnDvcOptID);
        }

        

        function SelectedDvcOpt(btnDvcOptID) {
            $('#SelectedDeviceOption').val(btnDvcOptID);
            $('button[id^="btnDvcOpt_"]').css("border-style", "none");
            $('#' + btnDvcOptID).css("border-style", "solid");
        }

     function ContractWindow_popup(){
        $('#ContractCheckWindow').data('t-window').center();        
    }  
    </script>
}
@section Styles{
    <style type="text/css">
        .deviceContent
        {
            border-radius: 10px;
            float:left;
            width:150px;
            background-image:url(@(Url.Content("~/Content/images/PlanHeader.png"))); 
            background-repeat:no-repeat;
            box-shadow: 10px 10px 5px #888888;    
        }
        .deviceContent .header
        {
            color:White;
            font-size:large;
            font-weight:bold;
        }
        
        .btnOption
        {
            border-radius: 3px;
            white-space:normal;
            border-color:#00FF40;
            cursor:pointer;
            border-style:none;
            border-width:3px;
            background-image:url(@(Url.Content("~/Content/images/greybg.gif")));
            background-repeat:no-repeat;
            background-position: left bottom; 
            background-color:#fff;
        }
        .btnOption:hover
        {
            background-image:url(@(Url.Content("~/Content/images/greybg3_hover.gif")));
            background-repeat: x;
            background-position: left bottom; 
            background-color:#ededed;
        }
    </style>
}
