﻿@using Online.Registration.Web.SmartViewModels;
@using Online.Registration.Web;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@model Online.Registration.Web.SmartViewModels.SmartModel
@{
    //ViewBag.Title = "Device Discount and " + (Settings.Default.EarlyTerminationFee).Substring(0, 1).ToUpper() + (Settings.Default.EarlyTerminationFee).Substring(1, (Settings.Default.EarlyTerminationFee.Length-1)).ToLower() + " Amount";
    ViewBag.Title = "Device Discount and " + Settings.Default.EarlyTerminationFee + " Amount";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" : "";
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    decimal penalty = Session["Penalty"] == null || Session["Penalty"] == string.Empty ? Convert.ToDecimal("0.00") : Convert.ToDecimal(Session["Penalty"].ToString());
    int RRPPRice = Session["RegMobileReg_RRPPrice"] == null ? 0 : Session["RegMobileReg_RRPPrice"].ToInt();
    //Commented by Kota Durga Prasad to hide penalty waiver option
    //bool isPenaltyChk = false;
    //if (Session["isPenaltyCheck"] != null)
    //{
    //    if (Session["isPenaltyCheck"].ToString().ToLower() == "true")
    //    {
    //        isPenaltyChk = true;
    //    }
    //    else
    //    {
    //        isPenaltyChk = false;
    //    }
    //}
    WebHelper.Instance.clearApprovalCheckboxes();
}

<div id="center">
@using (Html.BeginForm("SelectDiscount", "Retention", FormMethod.Post, new { id = "frmSelectDiscount", defaultbutton = "btnApprove", @class = "overlayonsubmit", processmsg = "Loading" }))
{ 
     <div class="header-title">
            @ViewBag.Title</div>
    <div class="row top=border">
        <div class="col-sm-12">
            <p class="font-16 gst-notif">@(ViewBag.GSTnotif)</p>
        </div>
    </div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        <li style="display: table-cell; float: none;">Brand</li>
                        <li style="display: table-cell; float: none;">Device</li>
                        <li style="display: table-cell; float: none;">Plan</li>
                        <li style="display: table-cell; float: none;">Components</li>
                        <li style="display: table-cell; float: none;" class="preselected">Contract</li>
                        <li style="display: table-cell; float: none;" class="selected">Discount</li>
                        <li style="display: table-cell; float: none;">Customer</li>
                        <li style="display: table-cell; float: none;">Summary</li>
                    </ul>
                </div>
            </div>
            <div class="content_white">
            <div id="Plan_Error" style="color: Red; font-weight: bold; font-size: 15px;padding: 0px 20px; margin: 0px auto; ">
                    </div>
                <div id="ui-plan">                    
                    <div style="width: 100%;">
            @Html.HiddenFor(a => a.TabNumber)
            @Html.Hidden("submit1")
                <div style="display: block; padding: 0px 20px; margin: 0px auto;">
            <table>
                @*<tr>
                <td valign="top">
                @Html.ValidationSummary(false)
                </td>
            </tr>*@
                <tr>
                    <td align="left" style="font-size:15px;" width="80%">
                        <b>Name:</b>&nbsp;@Session["AccountHolder"].ToString2()
                    </td>
                    <td align="right" style="font-size:15px;">
                        <b>MSISDN:</b>&nbsp;@Session["MSISDN"].ToString2()
                    </td>
                </tr>
                <tr>
                    <td>
                        @if (Session["DiscountStatus"] == null)
                        {
                            <table width="100%" id="table-2">
                                <tr>
                                    <td align="left" width="80%" valign="top">
                                        <table>
                                            <tr valign="top">
                                                <td style="font-family:frutigerblack;font-size: 15px;color: #4d4d4d;font-weight:bold">Phone Model
                                                </td>
                                                <td style="font-size:15px;">
                                                    @Html.TextBoxFor(Model => Model.PhoneModel, new { disabled = "disable" })
                                                </td>
                                            </tr>
                                            <tr valign="top">
                                                <td style="font-family:frutigerblack;font-size: 15px;color: #4d4d4d;font-weight:bold">Phone Color
                                                </td>
                                                <td style="font-size:15px;">
                                                    @Html.TextBoxFor(Model => Model.PhoneColor, new { disabled = "disable" })
                                                </td>
                                            </tr>
                                            <tr valign="top">
                                                <td style="font-family:frutigerblack;font-size: 15px;color: #4d4d4d;font-weight:bold">Device RRP (RM)
                                                </td>
                                                <td style="font-size:15px;">
                                                  @*  @Html.TextBoxFor(Model => Model.DevicePrice, new { disabled = "disable" })*@
                                                   @Html.TextBox("DevicePrice", RRPPRice.ToString("0.00"), new { disabled = "disabled" })
                                                </td>
                                            </tr>
                                            <tr valign="top">
                                                <td style="font-family:frutigerblack;font-size: 15px;color: #4d4d4d;font-weight:bold">Discount (RM)
                                                </td>
                                                <td style="font-size:15px;">
                                                    
                                                            @*<td>@Html.RadioButton("chkRebatel1000", "RebateL1000", Session["Rebate"] == null ? false : true)
                                                            </td>*@
                                                           @Html.RadioButton("chkRebatel1000", "RebateL1000", true, new { @class = "ClassRebate" })
                                                            
                                                                @Html.TextBox("Rebatel1000", "Rebate <= 1000", new { disabled = "disabled", style = "width : 205px" })
                                                            
                                                                @if (RRPPRice < 1000)
                                                                {
                                                                    @Html.DropDownList("ddlRebatel1000", Util.GetDiscountsLessThan1000(RRPPRice.ToString(), Session["DiscountPrice1"] == null ? string.Empty : Session["DiscountPrice1"].ToString()), new { @class = "ddlClass" })
                                                                }
                                                                else
                                                                {
                                                                    @Html.DropDownList("ddlRebatel1000", Util.GetDiscountsLessThan1000("1000", Session["DiscountPrice1"] == null ? string.Empty : Session["DiscountPrice1"].ToString()), new { @class = "ddlClass" })
                                                                }
                                                           
                                                </td>
                                            </tr>
                                            @if (RRPPRice > 1000)
                                            {
                                                <tr valign="top">
                                                    <td>
                                                    </td>
                                                    <td style="font-size:15px;">
                                                        
                                                                @*<td>@Html.RadioButton("chkRebatel1000", "RebateG1000", Session["Rebate1"] == null ? false : true)
                                                            </td>*@
                                                                @Html.RadioButton("chkRebatel1000", "RebateG1000", new { @class = "ClassRebate" })
                                                               
                                                                    @Html.TextBox("Rebatel1000", "Rebate > 1000", new { disabled = "disabled", style = "width : 205px" })
                                                               
                                                                    @Html.DropDownList("ddlRebateg1000", Util.GetDiscountsGreaterThan1000(RRPPRice.ToString(), Session["DiscountPrice2"] == null ? string.Empty : Session["DiscountPrice2"].ToString()), new { @class = "ddlClass" })
                                                               
                                                    </td>
                                                </tr>
                                            }
                                            <tr valign="top">
                                                <td>
                                                </td>
                                                <td style="font-size:15px;">
                                                    
                                                            @*<td>@Html.RadioButton("chkRebatel1000", "FreeDevice", Session["Rebate2"] == null ? false : true)
                                                            </td>*@
                                                            @Html.RadioButton("chkRebatel1000", "FreeDevice", new { @class = "ClassRebate" })
                                                            
                                                                @Html.TextBox("FreeHandSet", "Free Handset", new { disabled = "disabled", style = "width : 205px" })
                                                            
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>}
                        @if (Session["DiscountStatus"] != null)
                        {
                            if (Session["DiscountStatus"].ToString() == "R")
                            {
                            <table width="100%" id="table-3">
                                <tr>
                                    <td align="left" width="80%" valign="top">
                                        <table>
                                            <tr valign="top">
                                                <td style="font-family:frutigerblack;font-size: 15px;color: #4d4d4d;font-weight:bold">Phone Model
                                                </td>
                                                <td style="font-size: 15px;">
                                                    @Html.TextBoxFor(Model => Model.PhoneModel, new { disabled = "disable" })
                                                </td>
                                            </tr>
                                            <tr valign="top">
                                                <td style="font-family:frutigerblack;font-size: 15px;color: #4d4d4d;font-weight:bold">Phone Color
                                                </td>
                                                <td style="font-size: 15px;">
                                                    @Html.TextBoxFor(Model => Model.PhoneColor, new { disabled = "disable" })
                                                </td>
                                            </tr>
                                            <tr valign="top">
                                                <td style="font-family:frutigerblack;font-size: 15px;color: #4d4d4d;font-weight:bold">Device RRP (RM)
                                                </td>
                                                <td style="font-size: 15px;">                                               
                                                    @Html.TextBox("DevicePrice", RRPPRice.ToString("0.00"), new { @readonly = "readonly" })
                                                </td>
                                            </tr>
                                            <tr valign="top">
                                                <td style="font-family:frutigerblack;font-size: 15px;color: #4d4d4d;font-weight:bold">Discount (RM)
                                                </td>
                                                <td style="font-size: 15px;">
                                                   @* <table>
                                                        <tr>
                                                            <td>*@
                                                                @{
                                if (Session["DPrice"] != null)
                                {
                                    decimal dPrice = Session["DPrice"].ToDecimal();
                                                                    @Html.TextBox("Rebatel1000", dPrice.ToString("0.00"), new { disabled = "disable" })
                                }
                                else
                                {
                                                                    @Html.TextBox("Rebatel1000", string.Empty, new { disabled = "disable" })
                                }                                                                     
                                                                 
                                                                  
                                                                }
                                                                @* @Html.TextBox("Rebatel1000", Session["DPrice"] = Session["DPrice"] == null ? string.Empty : Session["DPrice"].ToString(), new { disabled = "disable" })*@
                                                            @*</td>
                                                        </tr>
                                                    </table>*@
                                                </td>
                                            </tr>
                                            <tr valign="top" style="display:none">
                                                <td>@*@Html.LabelFor(model => model.UserName)*@
                                                Penalty Waiver (RM)
                                                </td>
                                                <td> 
                                                @{
                                decimal _actualPenalty = 0;
                                if (Session["ActualPenalty"] != null && Session["ActualPenalty"].ToDecimal() > 0 && Session["FullPenalty"].ToString2() == "Y")
                                {
                                    _actualPenalty = Session["ActualPenalty"].ToDecimal();
                                }
                                else
                                {
                                    _actualPenalty = 0;
                                }
                                                
                                                }
                                                     
                                                  
                                                                @Html.TextBox("PenaltyWaiver", string.Format("{0:0.00}", _actualPenalty), new { disabled = "disable" })
                                                           
                                                </td>
                                            </tr>
                                            <tr valign="top">
                                                <td style="font-family:frutigerblack;font-size: 15px;color: #4d4d4d;font-weight:bold">Net Price (RM)
                                                </td>
                                                <td style="font-size: 15px;">
                                                    @{
                                if (Session["NetPrice"] != null)
                                {
                                    decimal netPrice = Session["NetPrice"].ToDecimal();
                                    //netPrice = netPrice + penalty;
                                                        @Html.TextBox("NetPrice", netPrice.ToString("0.00"), new { disabled = "disable" })
                                }
                                else
                                {
                                                        @Html.TextBox("NetPrice", string.Empty, new { disabled = "disable" })
                                }                                                                     
                                                                 
                                                                  
                                                    }
                                                    @*@Html.TextBox("NetPrice", Session["NetPrice"] == null ? string.Empty : Session["NetPrice"].ToString(), new { disabled = "disable" })*@
                                                </td>
                                            </tr>
                                             
                                            <tr valign="top">
                                                <td style="font-family:frutigerblack;font-size: 15px;color: #4d4d4d;font-weight:bold">@*@Html.LabelFor(model => model.UserName)*@
                                                Supervisor Approval
                                                </td>
                                                <td style="font-size: 15px;">
                                                                <input style="display:none" type="text" name="fakeusernameremembered"/>
                                                                <input style="display:none" type="password" name="fakepasswordremembered"/>
                                                                @Html.TextBox("Username", string.Empty)
                                                            
                                                </td>
                                            </tr>
                                            <tr valign="top">
                                                 <td style="font-family:frutigerblack;font-size: 15px;color: #4d4d4d;font-weight:bold">@*@Html.LabelFor(model => model.UserName)*@
                                                Password
                                                </td>
                                                <td style="font-size: 15px;">
                                                    
                                                                @Html.Password("Password", string.Empty)
                                                            
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input class="button-continue submitButton" type="button" name="btnApprove" id="btnApprove" value="Approve" onclick="return CheckApproval();" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>}
                        }
                    </td>
                </tr>
            </table>
            @if (Session["ContractType"].ToString().ToUpper() != "EXTEND" && penalty > 0)
            {
                <table cellpadding="0" cellspacing="0" width="100%" id="table-4">
                    <tr>
                        <td align="left" width="100%" valign="top">
                            <table>
                                <tr valign="top">
                                    <td style="font-family:frutigerblack;font-size: 15px;color: #4d4d4d;font-weight:bold">
                                        @(Settings.Default.EarlyTerminationFee) Amount
                                        @*Penalty Amount*@
                                    </td>
                                    <td style="font-size:15px;">
                                        RM @{var s = string.Format("{0:0.00}", Session["Penalty"].ToDouble());}
                                        <span style="font-size:15px;">@s</span>
                                        
                                    </td>
                                </tr>
                                <tr valign="top" style="display:none">
                                    <td>@Html.RadioButton("penalty", "fullpenaltywaiver", false)
                                    </td>
                                    <td>
                                        @Html.Label("penaltywaiver", "Full Penalty Waiver")
                                    </td>
                                </tr>
                                <tr valign="top" style="display:none">
                                    <td>@Html.RadioButton("penalty", "nopenaltywaiver", false)
                                    </td>
                                    <td>
                                        @Html.Label("penaltywaiver", "No Penalty Waiver")
                                    </td>
                                </tr>
                               @* <tr>
                                <td colspan="2">@System.Configuration.ConfigurationManager.AppSettings["PenaltyWaiverMsg"].ToString2()</td>
                                </tr>*@
                            </table>
                        </td>
                    </tr>
                </table>
            }
            </div>
            </div> 
        </div>        
    </div>  
            <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
                <div style="float: right; padding-right: 20px;">
                    @if (Session["GuidedSales_Type"].ToString2() != string.Empty)
                    {
                        if (Convert.ToInt32(Session["GuidedSales_Type"]) != MobileRegType.PlanOnly.ToInt())
                        {
                        <input class="button-back cancel backButton" type="submit" value="<" onclick="$('#TabNumber').val(10);" />
                        }
                    }
                    else
                    {                
                        <input class="cancel backButton" type="submit" value="<" onclick="$('#TabNumber').val(4);" />      
                        //@Html.Hidden("hdnback", "")
                    }
                    @if (sessionRegType != (int)MobileRegType.PlanOnly)
                    {
                        <input class="button-continue submitButton" type="submit" value="Next Step: Customer" onclick="return checkElementExistance();" />
                       
                    }
                    else
                    {
                        <input class="button-continue submitButton" type="submit" value="Next Step: Customer"
                            onclick="$('#TabNumber').val(5);return callcantract();" />
                    }
                </div>
            </div>
    </div> 
    
    
                    Html.Telerik().Window()
                        .Name("sublineWindow")
                        .Title("Supplementary Lines")
                        .Width(320)
                        .Content(@<text>
    @Html.Partial("_Subline")
    </text>)
                        .Modal(true)
                        .Visible(false)
                        .Render();
}
</div> 
<div id="right">
<div id="right-box">
    @{
        var viewBagValue = new ViewDataDictionary();
        viewBagValue.Add("GSTMark", ViewBag.GSTMark);
    }
    @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"], viewBagValue)
</div></div>
@{
    Html.Telerik().Window()
        .Name("vasWindow")
        .Title("Value Added Services")
        .Width(325)
        .Content(@<text>
    @{var vasNames = (List<string>)Session["RegMobileReg_SelectedContracts"]; }
    @if (vasNames != null)
    {
        foreach (var name in vasNames)
        { 
        <div style="border-style: solid; border-width: 1px; border-radius: 5px; margin: 1px;
            padding: 3px 3px 3px 3px; margin: 0px 0px 1px 0px; width: 300px;">
            @name
        </div>
        }
    }
    </text>)
        .Modal(true)
        .Visible(false)
        .Render();

    Html.Telerik().ScriptRegistrar()
           .OnDocumentReady(@<text> // open the initially hidden window when the button is clicked
     $('#btnVwVAS') .click(function(e) { e.preventDefault(); $('#vasWindow').data('tWindow').center().open();
    }); $('#btnVwSubline') .click(function(e) { e.preventDefault(); $('#sublineWindow').data('tWindow').center().open();
    });
    </text>); 
}

@section Styles{
<style type="text/css">
input[type="text"],input[type="password"]{width: 365px;}
</style>
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function (e) {
            $("#Username").attr('autocomplete', 'off');
            $("#Username").attr('autoCompleteType', 'disable');
            $("#Password").attr('autocomplete', 'off');
            $("#Password").attr('autoCompleteType', 'disable');
        });
        //        $(document).ready(function () {
        //            if ( @(sessionRegType) == @(PlanOnly)) {
        //                if($('#menuPlan').length > 0) {$('#menuPlan').css("background-image", $('#menuPlan').css("background-image").replace(".png", "_hover.png"));}
        //            }
        //            else if ( @(sessionRegType) == @(DeviceOnly)) {
        //                $('#menuDevice').css("background-image", $('#menuDevice').css("background-image").replace(".png", "_hover.png"));
        //            }
        //            else {
        //                $('#menuDevicePlan').css("background-image", $('#menuDevicePlan').css("background-image").replace(".png", "_hover.png"));
        //            }
        //        });


        var ButtonKeys = { "EnterKey": 13 };
        $(function () {
            $("#frmSelectDiscount").keypress(function (e) {
                if (e.keyCode === 13) {
                    e.preventDefault();
                    CheckApproval();
                }
            });
        });

        function SubmitForm(sequenceNo) {

            $('#submit1').val(sequenceNo);
            document.forms['frmSelectMobileNo'].submit();

        }


        function checkElementExistance() {
            $('#TabNumber').val(6);

            if ($("#Username").length && $("#Password").length) {
                $('#Plan_Error').html('Please click Approve button.');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            else if ($("#chkRebatel1000").length) {
                var myRadio = $('input[name=chkRebatel1000]');
                var checkedValue = myRadio.filter(':checked').val();

                switch (checkedValue) {
                    case "RebateL1000":
                        if ($("#ddlRebatel1000").val() == "") {
                            $('#Plan_Error').html('Please select value for Rebate <= 1000');
                            $("html, body").animate({ scrollTop: 0 }, "slow");
                            return false;
                        }
                        break;
                    case "RebateG1000":
                        if ($("#ddlRebateg1000").val() == "") {
                            $('#Plan_Error').html('Please select value for Rebate > 1000');
                            $("html, body").animate({ scrollTop: 0 }, "slow");
                            return false;
                        }
                        break;
                    case "FreeDevice":
                        if ($.trim($("#FreeHandSet").val()) == "Free Handset") {
                            //alert('Please enter value for Free Handset field');
                            //return false;

                            //return true;
                        }
                        break;
                }
            }
            //Commented by Kota Durga Prasad
            //            if ($("#penalty").length) {

            //                var myRadio = $('input[name=penalty]');
            //                var checkedValue = myRadio.filter(':checked').val();
            //                if (checkedValue == null) {
            //                    alert('Please check the Penalty Waiver');
            //                    return false;
            //                }

            //            }

            return true;
        }

        function CheckApproval() {
            var url = '@(Url.Content("~/Retention/Retention/isvalidSupervisor"))';
            //var redirectUrl="~/SmartRegistration/PersonalDetails";
            var redirectUrl = '@(Url.Content("~/Retention/Retention/PersonalDetails"))';
            var username;
            var password;

            $('#TabNumber').val(4);

            if ($.trim($("#Username").val()) == '' || $.trim($("#Password").val()) == '') {
                $('#Plan_Error').html('Please enter supervisor username and password.');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            else {
                username = $.trim($("#Username").val());
                password = $.trim($("#Password").val());
                $.ajax({
                    url: url,
                    async: false,
                    type: "POST",
                    dataType: "json",
                    data: { Username: username, Password: password },
                    success: function (Data) {
                        if (Data.isValidUser) {
                            window.location.href = redirectUrl;
                            //return true;
                        }
                        else {
                            $('#Plan_Error').html(Data.status);
                            $("html, body").animate({ scrollTop: 0 }, "slow");
                            //alert("testcall");
                            return false;
                        }
                    },
                    error: function (xhr, err) {
                        ///WHOEVER INTEGRATES THE CODE PLEASE UNCOMMENT THE BELOW CODE IN CASE OF UNEXPECTED RESULTS.                        
                        $('#Plan_Error').html("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                        $('#Plan_Error').html("responseText: " + xhr.responseText);
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                    }
                });
            }
            return false;
        }
        function SelectMobileNo(btnMobileNoID, mobileNo) {
            $('#SelectedMobileNo').val(mobileNo);
            $('button[id^="btnMobileNo_"]').css("border-style", "none");
            $(btnMobileNoID).css("border-style", "solid");
        }

        //SUTAN ADDED CODE 7ThMarch 2013
        function ValidateDesireNo() {
            var length = $("#DesireNo").val().length;
            if (length < 3 && length != 0) {
                $('#Plan_Error').html('Desire No must have at least 3 digits.');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            else {
                $('#submit1').val('search');
                return true;
            }
        }
        //END SUTAN ADDED CODE 7ThMarch 2013

        //        function ValidateDesireNo()
        //        {
        //            var length = $("#DesireNo").val().length;
        //            if (length < 3 && length != 0) 
        //            {
        //                alert('Desire No must have at least 3 digits.');
        //                return false;
        //            }
        //            else
        //            {
        //                $('#submit1').val('search');
        //                return true;
        //            }
        //        }

        $("#DesireNo").keypress(function (e) {
            //key code 13 is "enter", 
            if (e.keyCode == 13) {
                $('#submit1').val('search');
                // alert("13");
            }
        });

        //        $(':radio').click(function () {
        //           

        //        });


        $(".ClassRebate").click(function () {
            $('#ddlRebatel1000').val('');
            $('#ddlRebateg1000').val('');
        });

        $("#ddlRebatel1000").click(function () {
            $('#ddlRebateg1000').val('');
        });

        $("#ddlRebateg1000").click(function () {

            $('#ddlRebatel1000').val('');
        });
       
             
    </script>
}
