﻿@*-----------------------------------------------------------------------------------
    //  Developer   : Ashley Ow
    //  File Name   : UploadDocuments.cshtml
    //  Purpose     : Editor template for UploadDocVM type to capture upload information
    //  Version Control:
    //  Version     Date         Change Made
    //  1.0         06 Nov 2015  Init
    //---------------------------------------------------------------------------------*@
@using Online.Registration.Web.CustomExtension
@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.TransferOwnershipUploadDocVM

@Html.HiddenFor(m => m.OtherIdFile)
@Html.HiddenFor(m => m.OtherIdFileName)
@Html.HiddenFor(m => m.FrontIdFile)
@Html.HiddenFor(m => m.FrontIdFileName)
@Html.HiddenFor(m => m.BackIdFile)
@Html.HiddenFor(m => m.BackIdFileName)
@Html.HiddenFor(m => m.TransfereeFrontIdFile)
@Html.HiddenFor(m => m.TransfereeFrontIdFileName)
@Html.HiddenFor(m => m.TransfereeBackIdFile)
@Html.HiddenFor(m => m.TransfereeBackIdFileName)


<div id="uploadDocs">
    <div class="col-sm-12">
        <p class="details-title">Upload required documents</p>
    </div>
    <div class="col-sm-6 form">
        <!--Start Justification-->
        <div class="col-sm-4">
            <p class="inner-label">Justification</p>
        </div>
        <div class="col-sm-8">
            @Html.TextAreaFor(m => m.Justification, new { @class = "form-control", placeholder = "Enter justification" })
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="col-sm-6 form">
        <!--Start Queue number-->
        <div class="col-sm-4">
            <p class="inner-label">Queue number</p>
        </div>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.QueueNum, new { @class = "form-control", placeholder = "Enter queue number" })
        </div>
        <div class="clearfix"></div>
        <!--Start Remarks-->
        <div class="col-sm-4">
            <p class="inner-label">Remarks</p>
        </div>
        <div class="col-sm-8">
            @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", placeholder = "Enter remarks" })
        </div>
        <div class="clearfix"></div>
    </div>

    <!--Start Other documents-->
    <div class="col-sm-8 form">
        <div class="col-sm-4">
            <p class="inner-label">Other documents</p>
        </div>
        <div class="col-sm-4">
            <label class="fileLabel">
                <div class="upload-btn" style="display: none">
                    <input accept="jpg|png|gif|jpeg|bmp|tiff;capture=camera"
                           id="UploadDoc_otherIdFileSelector"
                           file-store-id="@Html.IdFor(n=>n.OtherIdFile)" file-name-id="@Html.IdFor(n=>n.OtherIdFileName)" file-name-display-id="otherFileName"
                           name="UploadDoc.OtherIdFile" type="file">
                </div>
                <div class="upload-btn" id="btnOtherUpload">
                    Upload
                </div>
            </label>
        </div>
        <div class="col-sm-4" id="id-upload-filesOther">
            <p class="file-label" id="otherFileName-container" style="display: none">
                <label id="otherFileName"></label>
                <img onclick="clearUploadDoc($('#UploadDoc_otherIdFileSelector'));" class="removeUploadedDoc" id="btnClearOtherDoc" />
            </p>
        </div>
        <div class="clearfix"></div>

        <div class="col-sm-12">
            <p class="details-title">Transferor's ID Image Upload</p>
        </div>

        <!--Start ID Front-->
        <div class="col-sm-4">
            <p class="inner-label">*ID (front)</p>
        </div>
        <div class="col-sm-4">
            <label class="fileLabel">
                <div class="upload-btn" style="display: none">
                    <input accept="jpg|png|gif|jpeg|bmp|tiff;capture=camera"
                           id="UploadDoc_transferorfrontIdFileSelector"
                           file-store-id="@Html.IdFor(n=>n.FrontIdFile)" file-name-id="@Html.IdFor(n=>n.FrontIdFileName)" file-name-display-id="transferorfrontFileName"
                           name="UploadDoc.TransferorFrontIdFile" type="file">
                </div>
                <div class="upload-btn" id="btnTransferorFrontUpload">
                    Upload
                </div>
            </label>
        </div>
        <div class="col-sm-4" id="id-upload-filesTransferorFront">
            <p class="file-label" id="transferorfrontFileName-container" style="display: none">
                <label id="transferorfrontFileName"></label>
                <img onclick="clearUploadDoc($('#UploadDoc_transferorfrontIdFileSelector'));" class="removeUploadedDoc" id="btnClearTransferorFrontDoc" />
            </p>
        </div>
        <div class="clearfix"></div>
        <!--Start ID Back-->
        <div class="col-sm-4">
            <p class="inner-label">*ID (back)</p>
        </div>
        <div class="col-sm-4">
            <label class="fileLabel">
                <div class="upload-btn" style="display: none">
                    <input accept="jpg|png|gif|jpeg|bmp|tiff;capture=camera"
                           id="UploadDoc_transferorbackIdFileSelector"
                           file-store-id="@Html.IdFor(n=>n.BackIdFile)" file-name-id="@Html.IdFor(n=>n.BackIdFileName)" file-name-display-id="transferorbackFileName"
                           name="UploadDoc.TransferorBackIdFile" type="file">
                    Upload
                </div>
                <div class="upload-btn" id="btnTransferorBackUpload">
                    Upload
                </div>
            </label>
        </div>
        <div class="col-sm-4" id="id-upload-filesTransferorBack">
            <p class="file-label" id="transferorbackFileName-container" style="display: none">
                <label id="transferorbackFileName"></label>
                <img onclick="clearUploadDoc($('#UploadDoc_transferorbackIdFileSelector'));" class="removeUploadedDoc" id="btnClearTransferorBackDoc" />
            </p>
        </div>
        <div class="clearfix"></div>

        <div class="col-sm-12">
            <p class="details-title">Transferee's ID Image Upload</p>
        </div>
        <!--Start 3rd Party ID Front-->
        <div class="col-sm-4">
            <p class="inner-label">*ID (front)</p>
        </div>
        <div class="col-sm-4">
            <label class="fileLabel">
                <div class="upload-btn" style="display: none">
                    <input accept="jpg|png|gif|jpeg|bmp|tiff;capture=camera"
                           id="UploadDoc_transfereefrontIdFileSelector"
                           file-store-id="@Html.IdFor(n=>n.TransfereeFrontIdFile)" file-name-id="@Html.IdFor(n=>n.TransfereeFrontIdFileName)" file-name-display-id="transfereefrontFileName"
                           name="UploadDoc.TransfereeFrontIdFile" type="file">
                </div>
                <div class="upload-btn" id="btnTransfereeFrontUpload">
                    Upload
                </div>
            </label>
        </div>
        <div class="col-sm-4" id="id-upload-filesTransfereeFront">
            <p class="file-label" id="transfereefrontFileName-container" style="display: none">
                <label id="transfereefrontFileName"></label>
                <img onclick="clearUploadDoc($('#UploadDoc_transfereefrontIdFileSelector'));" class="removeUploadedDoc" id="btnClearTransfereeFrontDoc" />
            </p>
        </div>
        <div class="clearfix"></div>
        <!--Start 3rd Party ID Back-->
        <div class="col-sm-4">
            <p class="inner-label">*ID (back)</p>
        </div>
        <div class="col-sm-4">
            <label class="fileLabel">
                <div class="upload-btn" style="display: none">
                    <input accept="jpg|png|gif|jpeg|bmp|tiff;capture=camera"
                           id="UploadDoc_transfereebackIdFileSelector"
                           file-store-id="@Html.IdFor(n=>n.TransfereeBackIdFile)" file-name-id="@Html.IdFor(n=>n.TransfereeBackIdFileName)" file-name-display-id="transfereebackFileName"
                           name="UploadDoc.TransfereeBackIdFile" type="file">
                    Upload
                </div>
                <div class="upload-btn" id="btnTransfereeBackUpload">
                    Upload
                </div>
            </label>
        </div>
        <div class="col-sm-4" id="id-upload-filesTransfereeBack">
            <p class="file-label" id="transfereebackFileName-container" style="display: none">
                <label id="transfereebackFileName"></label>
                <img onclick="clearUploadDoc($('#UploadDoc_transfereebackIdFileSelector'));" class="removeUploadedDoc" id="btnClearTransfereeBackDoc" />
            </p>
        </div>
    </div>
</div>


<script type="text/javascript">
    var docSelector = "#uploadDocs input[type='file']";
    $(document).ready(function () {
        $(function () {
            var url = '@(Url.Content("~/Registration/UploadImageNew"))';
            var formdata = false;
            $(docSelector).change(function (event) {
                debugger;
                var fileStoreElement = $("#" + $(this).attr("file-store-id"));
                var fileNameElement = $("#" + $(this).attr("file-name-id"));
                var fileNameDisplayElement = $("#" + $(this).attr("file-name-display-id"));
                var containerElement = $("#" + $(this).attr("file-name-display-id") + "-container");
                //validation for upload images -ram
                var ext = $(this).val().split('.').pop().toLowerCase();
                if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg', 'tiff', 'bmp']) == -1) {
                    event.preventDefault();
                    alert('Please upload valid image!');
                    clearUploadDoc($(this));
                    return false;
                }

                if (window.FormData !== undefined) {
                    var i = 0,
                        len = this.files.length,
                        img, reader, file;
                    formdata = false;
                    ///Check for FormData support in browser
                    if (window.FormData) {
                        formdata = new FormData();
                    }
                    ///Check if length greater than 0 then only proceed
                    if (len > 0) {
                        file = this.files[0];

                        if (window.FileReader) {
                            ///Append the file object to post the file request to server side
                            if (formdata) {
                                formdata.append("default_export_filename", file);
                            }

                            ///Post the file details to server side script
                            if (formdata) {
                                $.ajax({
                                    url: url,
                                    type: "POST",
                                    data: formdata,
                                    processData: false,
                                    contentType: false,
                                    success: function (Data) {
                                        //Assign the processed imageUrl returned from the server side to imgCustPhoto img
                                        $(this).attr("src", Data.imageUrl).fadeIn();
                                        fileStoreElement.val(Data.imageUrl);
                                        fileNameElement.val(file.name);
                                        fileNameDisplayElement.text(file.name);
                                        containerElement.css('display', 'block');
                                    },
                                    error: function (xhr, err) {
                                        ///WHOEVER INTEGRATES THE CODE PLEASE UNCOMMENT THE BELOW CODE IN CASE OF UNEXPECTED RESULTS.
                                        //alert("readyState: "+xhr.readyState+"\nstatus: "+xhr.status);
                                        //alert("responseText: "+xhr.responseText);
                                    }
                                });
                            }
                        }
                    }
                }
            }); // EOF
        });

    });
    function clearUploadDoc(e) {
        var fileStoreElement = $("#" + e.attr("file-store-id"));
        var fileNameElement = $("#" + e.attr("file-name-id"));
        var fileNameDisplayElement = $("#" + e.attr("file-name-display-id"));
        var containerElement = $("#" + e.attr("file-name-display-id") + "-container");
        fileStoreElement.val('');
        fileNameElement.val('');
        containerElement.css('display', 'none');
        fileNameDisplayElement.text('');
    }
    $(docSelector).each(function (index) {
        var fileNameElement = $("#" + $(this).attr("file-name-id"));
        var fileNameDisplayElement = $("#" + $(this).attr("file-name-display-id"));
        var containerElement = $("#" + $(this).attr("file-name-display-id") + "-container");
        //Display file name if hidden value shown value
        if (fileNameElement.val() != "") {
            fileNameDisplayElement.text(fileNameElement.val());
            containerElement.css('display', 'block');
        }
    });
</script>
