﻿@*-----------------------------------------------------------------------------------
    Date Created: 9 October 2015
    Developer   : Ashley Ow
    View Name   : _ThirdPartyAuthorizationNewOrderSummary.cshtml
    Purpose     : Partial view for 3rd Party Authorization Summary Service Request
    Version Control:
    Version     Date        Change Made
    1.0         9 Oct 2015  View created
    -----------------------------------------------------------------------------------*@
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.CustomExtension
@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.ThirdPartyAuthNewOrderSmVM

@Html.Partial("_NewOrderSummaryDetailCustInfo", Model.NewOrder)

<div class="row details paddingbtm">
    <div class="col-sm-12">

        <div class="row">
            <div class="col-sm-6">
                <p class="inner-title">Service Information</p>
            </div>
        </div>
        <!--Start MSISDN-->
        <div class="col-sm-2 kill-padding">
            <p class="inner-label">MSISDN</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-3 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n=>n.NewOrder.Msisdn)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Account number-->
        <div class="col-sm-2 kill-padding">
            <p class="inner-label">Account No.</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-3 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n=>n.NewOrder.AccNum)</p>
        </div>
        <div class=" clearfix"></div>
        <!-- Start authorize text -->
        <br />
        <div class="col-sm-12 kill-padding">
            <p class="inner-label">I hereby authorize the person named below to act on my behalf in respect of the Account No. and Maxis mobile number mentioned above</p>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-6">
                <p class="inner-title">Authorized 3rd Party</p>
            </div>
        </div>
        <!-- Start Third Party Name -->
        <div class="col-sm-2 kill-padding">
            <p class="inner-label">Name</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-3 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n=>n.NewOrder.ThirdPartyName)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Third Party ID Card Type-->
        <div class="col-sm-2 kill-padding">
            <p class="inner-label">ID Card Type</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-3 kill-padding">
            <p class="inner-content">@Model.NewOrder.ThirdPartyIDType.ToIdCardTypeDesc()</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Third Party ID Card Number-->
        <div class="col-sm-2 kill-padding">
            <p class="inner-label">ID Card Number</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-3 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.NewOrder.ThirdPartyIDNumber)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Third Party Authorization Type-->
        <div class="col-sm-2 kill-padding">
            <p class="inner-label">Third Party Authorization Type</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-3 kill-padding">
            <p class="inner-content">@Model.NewOrder.ThirdPartyAuthTypeId.ToIdCardTypeDesc()</p>
        </div>
        <div class=" clearfix"></div>
        <!-- Start Declaration -->
        <br />
        <div class="col-sm-12 kill-padding">
            <p class="inner-label">I) I understand that the transactions below are NOT ALLOWED to be carried out by the below authorized 3rd party: Change of address, Suspension/Termination request, reset password for MOA, print bill, and new registration.</p>
            <br />
            <p class="inner-label">II) I acknowledge and accept that the terms & conditions in the Maxis Privacy Statement forms an integral part of the terms and conditions of the Agreement and/or the Privacy Statement by submitting my personal information for purposes of this letter of authorization and for usage of the Services. I hereby consent to the use of my personal information in the manner set out in the Maxis.</p>
            <br />
        </div>
    </div>
</div>
<!--Start Term and condition-->
<div class="row border-top">
    @Html.EditorFor(n=>n.TermAndCondition,"TermAndCondition")
</div>
<!--Start SignatureBox-->
<div class="row border-bottom">
    <div class="col-sm-12">
        @Html.EditorFor(n => n.Signature, "SignatureBox")
    </div>
</div>