﻿@*-----------------------------------------------------------------------------------
    Date Created: 9 October 2015
    Developer   : Ashley Ow
    View Name   : _ThirdPartyAuthorization.cshtml
    Purpose     : Partial view for 3rd Party Authorization Service Request
    Version Control:
    Version     Date        Change Made
    1.0         9 Oct 2015  View created
    -----------------------------------------------------------------------------------*@

@using Online.Registration.Web.ViewModels.Common
@using Online.Registration.Web.CustomExtension
@using Newtonsoft.Json
@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.ThirdPartyAuthNewOrderVM

@functions{
    object getThirdPartyTbHtmlAttribute()
    {
        if (Model.ThirdPartyInfoReadOnly)
        {
            return new { @class = "form-control search-num", @readonly = "readonly" };
        }
        return new { @class = "form-control search-num" };
    }
}
@Html.HiddenFor(m => m.IdNum)
@Html.HiddenFor(m=>m.QueryCustomer)
<div class="row border-top even">
    <div class="col-sm-12 form paddingOverall">
        <!-- Start MSISDN -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*MSISDN</p>
            </div>
            <div class="col-sm-4">
                <div class="input-group-btn number-type">
                    @Html.CustomDropDownListFor(model => model.Msisdn, Model.MSISDNList.ToSelectList())
                </div>
            </div>
        </div>

        <!-- Start Account Number -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Account No</p>
            </div>
            <div class="col-sm-4">
                <p class="inner-content">
                    @Html.TextBoxFor(model => model.AccNum, new { @class = "form-control search-num", @readonly = "readonly" })
                </p>
            </div>
        </div>

        <!-- Authorization text -->
        <div class="row">
            <div class="col-sm-12">
                <p class="inner-label">
                    I hereby authorize the person named below to act on my behalf in respect of the Account No. and Maxis mobile number mentioned above.
                </p>
            </div>
        </div>
        <br />

        <!-- Start Identification Number -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Identification</p>
            </div>
            <div class="col-sm-3">
                <div class="input-group-btn number-type">
                    @Html.CustomDropDownListFor(model => model.ThirdPartyIDType, StaticListVM.Instance.IdTypList, new { disable = "disabled" })
                </div>
            </div>
            <div class="col-sm-2">
                <p class="inner-label">*Number</p>
            </div>
            <div class="col-sm-3">
                <p class="inner-content">
                    @Html.TextBoxFor(model => model.ThirdPartyIDNumber, new { @class = "form-control search-num" })
                    <button type="button" id="@Html.IdFor(n=>n.ThirdPartyIDNumber)" class="btn btn-defadivt search-icon"></button>
                </p>
            </div>
            <div class="col-sm-1" id="@Html.IdFor(n=>n.ThirdPartyBreErrors)">
                @Html.DisplayFor(n => n.ThirdPartyBreErrors, "BreTooltip")
            </div>
        </div>

        <!-- Start Authorized 3rd Party Name -->
        <div class="row">
            <div class="col-sm-6">
                <p class="inner-label">*Authorized permanent 3rd party (Name):</p>
            </div>
            <div class="col-sm-6">
                <p class="inner-content">
                    @Html.TextBoxFor(model => model.ThirdPartyName, getThirdPartyTbHtmlAttribute())
                </p>
            </div>
        </div>

        <!-- Start Third Party Authorization Type -->
        <div class="row">
            <div class="col-sm-6">
                <p class="inner-label">*Third Party Authorization Type :</p>
            </div>
            <div class="col-sm-6">
                <div class="input-group-btn">
                    @Html.CustomDropDownListFor(model => model.ThirdPartyAuthTypeId, StaticListVM.Instance.ThirdPartyAuthList)
                </div>
            </div>
        </div>

        <!-- Start T&C 1 -->
        <div class="row">
            <div class="col-sm-12">
                <p class="inner-label">
                    I) I understand that the transactions below are NOT ALLOWED to be carried out by the below authorized 3rd party: Change of address, Suspension/termination request, reset password for MOA, print bill & new registration.
                </p>
            </div>
        </div>
        <br />

        <!-- Start T&C 2 -->
        <div class="row">
            <div class="col-sm-12">
                <p class="inner-label">
                    II) I acknowledge and accept that the terms & conditions in the Maxis Privacy Statement forms an integral part of the terms and conditions of the Agreement and/or the Privacy Statement by submitting my personal information for purposes of this letter of authorization and for usage of the Services. I hereby consent to the use of my personal information in the manner set out in the Maxis.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row border-top">
    @Html.EditorFor(model => model.UploadDoc, "UploadDocuments")
</div>

<script type="text/javascript">
    var msisdnServiceInfo = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.MsisdnServiceInfoMap))');
    $(document).ready(function () {
        //Check third party id from server
        $('button#@Html.IdFor(n=>n.ThirdPartyIDNumber)').click(function () { checkThirdPartyIdNumber(); });
        $('#@Html.IdFor(n=>n.ThirdPartyIDType)').change(function () {
            //reset id value as search type change
            $('#@Html.IdFor(n=>n.ThirdPartyIDNumber)').val('');
            resetSearchThirdParty();
        });
        //Clear info when thirdparty id number change
        $('#@Html.IdFor(n=>n.ThirdPartyIDNumber)').on('input', function () {
            resetSearchThirdParty();
        });
        //ChangeAccount num when change msisdn num
        $('#@Html.IdFor(m=>m.Msisdn)').change(function () {
            $("#@Html.IdFor(m=>m.AccNum)").val(msisdnServiceInfo[this.value].AccNum);
        });
    });
    function resetSearchThirdParty() {
        $("#@Html.IdFor(n=>n.QueryCustomer)").val(false);//clear flag
        displayBreErrors({}, '@Html.IdFor(n => n.ThirdPartyBreErrors)');
        displayThirdPartyInfo({});
    };
    function checkThirdPartyIdNumber() {
        var url = '@Url.Action("AjaxVerifyCustomer")';
        var getData = {
            idType: $("#@Html.IdFor(n=>n.ThirdPartyIDType)").val(),
            idNo: $("#@Html.IdFor(n=>n.ThirdPartyIDNumber)").val()
        };
        $.get(url, getData, function (data) {
            $("#@Html.IdFor(n=>n.QueryCustomer)").val(true);//set flag
            clearModelError();
            if (data.Error) {
                displayModelError(data.Error);
            } else {
                displayThirdPartyInfo(data[0]);
                if (data[1]) displayBreErrors(data[1], '@Html.IdFor(n => n.ThirdPartyBreErrors)');
            }
        });
    };
    function displayThirdPartyInfo(d) {
        ThirdPartyNameEl = $("#@Html.IdFor(n=>n.ThirdPartyName)");
        if (d) {
            ThirdPartyNameEl.val(d.Name).attr('readonly', true);
        }
        else {
            ThirdPartyNameEl.val('').removeAttr('readonly');
        }
    };
</script>