﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.CustomExtension;

@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.ThirdPartyAuthViewOrderVM

@Html.Partial("_ViewOrderDetailCustInfo", Model)

<div class="row details paddingbtm">
    <div class="col-sm-6">
        <div class="col-sm-12 kill-padding">
            <p class="inner-title">Service Information</p>
        </div>
        <!--Start MSISDN-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">MSISDN</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.Service_MSISDN)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Account number-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Account No.</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.Service_AccountNumber)</p>
        </div>
        <div class=" clearfix"></div>
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>
</div>
<div class="row details border-top">
    <div class="col-sm-12">
        <div class="col-sm-12 kill-padding">
            <p class="inner-title">Authorized 3rd Party Information</p>
        </div>
        <div class="col-sm-12 kill-padding">
            <p class="inner-content">I hereby authorize the person named below to act on my behalf on the Account No. and Maxis mobile number mentioned above.</p>
        </div>
        <!--Start Third Party Name-->
        <div class="col-sm-2 kill-padding">
            <p class="inner-label">Name</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-3 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.ThirdParty_Name)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start ID Card Type ID-->
        <div class="col-sm-2 kill-padding">
            <p class="inner-label">ID Card Type</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-3 kill-padding">
            <p class="inner-content">@Model.ThirdParty_IDTypeId.ToIdCardTypeDesc()</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start ID Card Number-->
        <div class="col-sm-2 kill-padding">
            <p class="inner-label">ID No</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-3 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.ThirdParty_IDCardNumber)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Authorization Type-->
        <div class="col-sm-2 kill-padding">
            <p class="inner-label">Authorization Type</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-3 kill-padding">
            <p class="inner-content">@Model.ThirdParty_AuthorizationTypeId.ToThirdPartyTypeDesc()</p>
        </div>
        <div class=" clearfix"></div>
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>
</div>