﻿@using Online.Registration.Web.CustomExtension

@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.ChangeStatusNewOrderSmVM

@Html.Partial("_NewOrderSummaryDetailCustInfo", Model.NewOrder)

<div class="row details paddingbtm">
    <div class="col-sm-6">
        <div class="col-sm-12 kill-padding">
            <p class="inner-title">Service Information</p>
        </div>
        <!--Start Requested Status-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Requested Status</p>
        </div>
        <div class="col-sm-2">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Model.NewOrder.ChangeStatusTypeId.ToChangeStatusTypeDesc()</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Account number-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Account No.</p>
        </div>
        <div class="col-sm-2">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.NewOrder.AccNum)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start MSISDN-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">MSISDN</p>
        </div>
        <div class="col-sm-2">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.NewOrder.Msisdn)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Contract Pending Months-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Contract Pending Months</p>
        </div>
        <div class="col-sm-2">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content redfront"  style="font-weight:bold;">@Html.DisplayFor(n => n.NewOrder.ContractPendingMonths)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Contract Penalty-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Early Termination Fee</p>
        </div>
        <div class="col-sm-2">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content redfront" style="font-weight:bold;">RM @Html.DisplayFor(n => n.NewOrder.EarlyTerminationFee)</p>
        </div>
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>
</div>
<!--Start Term and condition-->
<div class="row border-top">
    @Html.EditorFor(n => n.TermAndCondition, "TermAndCondition")
</div>
