﻿@using Online.Registration.Web.ViewModels.Common
@using Online.Registration.Web.CustomExtension
@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.ChangeStatusNewOrderVM
@using Newtonsoft.Json

@functions{
    object getReadOnlyTbHtmlAttribute()
    {
        return new { @class = "form-control search-num", @readonly = "readonly" };
    }
}
<div class="row border-top even">
    <div class="col-sm-12 form paddingOverall">
        <!-- Start Name -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Name</p>
            </div>
            <div class="col-sm-4">
                <p class="inner-content">
                    @Html.TextBoxFor(model => model.CustName, @getReadOnlyTbHtmlAttribute())
                </p>
            </div>
        </div>
        <!-- Start Identity Type -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Identification</p>
            </div>
            <div class="col-sm-4">
                <div class="input-group-btn number-type">
                    @Html.CustomDropDownListFor(model => model.IdType, StaticListVM.Instance.IdTypList, new { @disabled = "disabled" })
                </div>
            </div>
            <div class="col-sm-2">
                <p class="inner-label">*Number</p>
            </div>
            <div class="col-sm-3">
                <p class="inner-content">
                    @Html.TextBoxFor(model => model.IdNum, @getReadOnlyTbHtmlAttribute())
                </p>
            </div>
        </div>
        <!-- Start MSISDN -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*MSISDN</p>
            </div>
            <div class="col-sm-4">
                <div class="input-group-btn number-type">
                    @Html.CustomDropDownListFor(model => model.Msisdn, Model.MSISDNList.ToSelectList())
                </div>
            </div>
        </div>
        <!-- Start Account Number -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">Account No</p>
            </div>
            <div class="col-sm-4">
                <p class="inner-content">
                    @Html.TextBoxFor(model => model.AccNum, @getReadOnlyTbHtmlAttribute())
                </p>
            </div>
        </div>
        <!-- Start Requested Status -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Requested Status</p>
            </div>
            <div class="col-sm-4 inner-content">
                @Html.CustomRadioButtonGroupFor(model => model.ChangeStatusTypeId, StaticListVM.Instance.ChangeStatusTypeList)
            </div>
        </div>
    </div>
</div>
<div class="row border-top">
    @Html.EditorFor(model => model.UploadDoc, "UploadDocuments")
</div>
<script type="text/javascript">
    var msisdnServiceInfo = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.MsisdnServiceInfoMap))');
    $("#@Html.IdFor(n => n.Msisdn)").change(function () {
        //Check contract penalty
        var url = '@Url.Action("AjaxVerifyPenaltyInfo")';
        var data={msisdn:$("#@Html.IdFor(n => n.Msisdn)").val()};
        $.get(url, data, function (data) {
            if (data[0] != "") {
                showModalPopup({
                    title: "Service Request",
                    message: data[0],
                    popupType:'@Convert.ToInt32(PopupInfoVM.PopupTypes.Error)'
                });
            }
        });
        //Change account num
        $("#@Html.IdFor(m=>m.AccNum)").val(msisdnServiceInfo[this.value].AccNum);
    });
</script>
