﻿@using Online.Registration.Web.CustomExtension;

@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.ChangeStatusViewOrderVM

<div class="row details">
    <div class="col-sm-6">
        <div class="col-sm-12 kill-padding">
            <p class="inner-title">Customer Information</p>
        </div>
        <!--Start Authorized Person's Name-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Name</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-7 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.CustName)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Id Card Type-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">ID Card Type</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-7 kill-padding">
            <p class="inner-content">@Model.CustIDTypeId.ToIdCardTypeDesc()</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Id No Type-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">ID No</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-7 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.CustIDCardNumber)</p>
        </div>
        <div class=" clearfix"></div>
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-12 kill-padding">
            <p class="inner-title">Billing Address</p>
        </div>
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Primary Address</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6">
            <p class="inner-content">
                @CustomHtmlHelper.RenderAddress(
                    Html,
                    Model.CustAddressLine1,
                    Model.CustAddressLine2,
                    Model.CustAddressLine3,
                    Model.CustAddressPostCode,
                    Model.CustAddressCity,
                    Model.CustAddressState
                )
            </p>
        </div>
    </div>
</div>
<div class="row details paddingbtm">
    <div class="col-sm-6">
        <div class="col-sm-12 kill-padding">
            <p class="inner-title">Service Information</p>
        </div>
        <!--Start Requested Status-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">New SIM Type</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-7 kill-padding">
            <p class="inner-content">@Model.ChangeStatusTypeId.ToChangeStatusTypeDesc()</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Account number-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Account No.</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-7 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.Service_AccountNumber)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start MSISDN-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">MSISDN</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-7 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n=>n.Service_MSISDN)</p>
        </div>
        <div class=" clearfix"></div>
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>
</div>