﻿@using Online.Registration.Web.CustomExtension

@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.Base.SRViewOrderVM
<!--Start Request detail-->
<div class="row">
    <div class="col-sm-12 border-top">
        <p class="details-title">Order Details</p>
    </div>
</div>
@Html.Partial("_ViewOrderDetail", Model)
<!--End Request detail-->
<!--Start Term and condition-->
<div class="row border-top" style="padding-bottom:10px;">
    @Html.DisplayFor(n=>n.TermAndCondition,"TermAndCondition")
</div>
<!--End Term and condition-->
