﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@using Online.Registration.Web.SubscriberICService;
@{
    ViewBag.Title = "Customer";
    int idCardTypeID = Model.Customer.IDCardTypeID;

    var minAge = Session["RegMobileReg_ProgramMinAge"].ToInt();
    var NRICType = Util.GetIDCardTypeID(IDCARDTYPE.NRIC);
    string idCardTypeName = string.Empty;
    var msisdn = Session["ExternalID"].ToString2();

    ///GET THE retrieveAcctListByICResponse TYPE OF OBJECT FROM SESSION IF PPID="E" FOLLOWING SHOULD BE AVAILABLE    
    ///Check Session["PPID"] IF IT CONTAINS 'E' IF EXISTING SET IsExistingUser TO TRUE AGAIN CHECK IF AcctListByICResponse IS NULL THEN SET IT TO FALSE AS NO DATA TO DISPLAY
    retrieveAcctListByICResponse AcctListByICResponse = null;
    CustomizedCustomer CustomerPersonalInfo = null;
    bool IsExistingUser = false;
    //if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        if (!ReferenceEquals(Session["PPIDInfo"], null))
        {
            ///CHECK IF EXISTING USER THEN ONLY RETRIEVE CUSTOMER INFORMATION
            AcctListByICResponse = (retrieveAcctListByICResponse)Session["PPIDInfo"];
            ///CHECK IF CUSTOMER INFORMATION IS THERE OR NOT
            if (!ReferenceEquals(AcctListByICResponse, null) && !ReferenceEquals(AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList(), null))
            {
                //CustomerPersonalInfo = AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList().FirstOrDefault().Customer;
                CustomerPersonalInfo = Util.GetCustomerList(AcctListByICResponse, Session["ExternalID"] != null ? Session["ExternalID"].ToString() : "0");
                if (!String.IsNullOrEmpty(CustomerPersonalInfo.NewIC))
                {
                    idCardTypeID = 1; idCardTypeName = "New IC";
                }
                else if (!String.IsNullOrEmpty(CustomerPersonalInfo.PassportNo))
                {
                    idCardTypeID = 2; idCardTypeName = "Passport";
                }
                else if (!String.IsNullOrEmpty(CustomerPersonalInfo.OldIC))
                {
                    idCardTypeID = 3; idCardTypeName = "Old IC";
                }
                else if (!String.IsNullOrEmpty(CustomerPersonalInfo.OtherIC))
                {
                    idCardTypeID = 4; idCardTypeName = "Other IC";
                }

                //if (CustomerPersonalInfo.Title != string.Empty)
                //{
                //    if (!CustomerPersonalInfo.Title.EndsWith("."))
                //    {
                //        CustomerPersonalInfo.Title = CustomerPersonalInfo.Title + ".";
                //    }
                //}
                Model.Customer.IDCardTypeID = idCardTypeID;
                IsExistingUser = true;
            }

        }
    }
    if (CustomerPersonalInfo != null)
    {
        if (!string.IsNullOrEmpty(CustomerPersonalInfo.NewIC) || !string.IsNullOrEmpty(CustomerPersonalInfo.OldIC))
        {
            Model.Customer.NationalityID = 1;
            Model.InputNationalityID = 1;
        }
        else
        {
            Model.Customer.NationalityID = 132;
            Model.InputNationalityID = 132;
        }
    }   
 
}
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
<div style="padding: 20px 15px 50px 15px;">
    <div class="form-row">
        <div class="form-label">
            Title
        </div>
        <div>
            :
            @if (Model.RegID > 0)
            {
                @Html.Raw(Util.GetNameByID(RefType.CustomerTitle, Model.Customer.CustomerTitleID))
           msisdn = Model.Customer.ContactNo.ToString2();

           switch (Model.Customer.IDCardTypeID)
           {
               case 1:
                   idCardTypeName = "New IC";
                   break;
               case 2:
                   idCardTypeName = "Passport";
                   break;
               case 3:
                   idCardTypeName = "Old IC";
                   break;
               case 4:
                   idCardTypeName = "Other IC";
                   break;
               default: break;
           }
           idCardTypeID = Model.Customer.IDCardTypeID;

            }
            else
            {
                @Html.Raw(CustomerPersonalInfo.Title.ToString2())
            //    if (CustomerPersonalInfo != null && CustomerPersonalInfo.Title != "")
            //    {
            //        if (CustomerPersonalInfo.CustomerTitleID != null)
            //        {
            //            // Online.Registration.Web.RegistrationSvc.RegistrationServiceClient client = new Online.Registration.Web.RegistrationSvc.RegistrationServiceClient();
            //            List<SelectListItem> objTitleLst = new List<SelectListItem>();
            //            objTitleLst = Util.GetList(RefType.CustomerTitle, defaultValue: string.Empty);
            //            string customerTitle = CustomerPersonalInfo.Title;
            //            if (!customerTitle.EndsWith("."))
            //            {
            //                CustomerPersonalInfo.Title = CustomerPersonalInfo.Title + ".";
            //            }
            //            else
            //            {
            //                customerTitle = customerTitle.Substring(0, customerTitle.LastIndexOf('.'));

            //            }
            //            if (objTitleLst != null && objTitleLst.Any())
            //            {
            //                objTitleLst = objTitleLst.Where(a => a.Text.ToUpper() == CustomerPersonalInfo.Title.ToUpper() || a.Text.ToUpper() == customerTitle.ToUpper()).ToList();
            //                int titleID = objTitleLst.FirstOrDefault().Value.ToInt();
            //                Model.Customer.CustomerTitleID = titleID;
            //                Session["QSimCustomertitleID"] = titleID;
            //            }
            //            else
            //            {
            //                Model.Customer.CustomerTitleID = 102;
            //                Session["QSimCustomertitleID"] = 102;
            //            }
            //        }
            //    }
            //    else
            //    {
            //        Model.Customer.CustomerTitleID = 102;
            //    }
            //}
        int CustomerTitleIDfromConfig = System.Configuration.ConfigurationManager.AppSettings["CustomerTitleID"] != null ? Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CustomerTitleID"]) : 0;  
        if (CustomerPersonalInfo != null && !string.IsNullOrWhiteSpace(CustomerPersonalInfo.Title))
        {
            if (CustomerPersonalInfo.CustomerTitleID != null)
            {
                Online.Registration.Web.RegistrationSvc.RegistrationServiceClient client = new Online.Registration.Web.RegistrationSvc.RegistrationServiceClient();
                int titleID = client.GetIdByTitleName(CustomerPersonalInfo.Title);
                Model.Customer.CustomerTitleID = titleID;
            }
            else
            {
                Model.Customer.CustomerTitleID = CustomerTitleIDfromConfig;
            }
        }
        else
        {
            Model.Customer.CustomerTitleID = CustomerTitleIDfromConfig;
        }
            
            @Html.HiddenFor(model => model.Customer.CustomerTitleID)
        </div>
        <div style="display: none;">
         @if (Model.Customer.Gender.ToString2() != "")
         {
            <b>@Html.LabelFor(model => model.Customer.Gender)</b>
            @Html.Raw("Male") @Html.RadioButtonFor(model => model.Customer.Gender, "M", new { onclick = "setGender(this);", display = "none" })
            @Html.Raw("Female") @Html.RadioButtonFor(model => model.Customer.Gender, "F", new { onclick = "setGender(this);", display = "none" })
         }
        </div>
    </div>
    <div class="form-row">
        <div class="form-label">
            Full Name
        </div>
        <div>
            :
            @if (Model.RegID > 0)
            {
                @Html.Raw(Model.Customer.FullName)
            }
            else
            {
                @Html.Raw(CustomerPersonalInfo.CustomerName)
                Model.Customer.FullName = CustomerPersonalInfo.CustomerName;
            }
            @Html.HiddenFor(model => model.Customer.FullName)
        </div>
    </div>
    <div class="form-row">
        <div class="form-label">
            ID No</div>
        <div style="vertical-align: top">
            :
            @Html.Raw(idCardTypeName) -
            @{
                if (Model.RegID > 0)
                {
                @Html.Raw(Model.Customer.IDCardNo)
                }
                else
                {
                    if ((CustomerPersonalInfo.NewIC).ToString2() != string.Empty)
                    {
                @Html.Raw(CustomerPersonalInfo.NewIC)
                        Model.Customer.IDCardNo = CustomerPersonalInfo.NewIC;

                    }
                    else if ((CustomerPersonalInfo.OldIC).ToString2() != string.Empty)
                    {
                @Html.Raw(CustomerPersonalInfo.OldIC)
                        Model.Customer.IDCardNo = CustomerPersonalInfo.OldIC;

                    }
                    else if ((CustomerPersonalInfo.PassportNo).ToString2() != string.Empty)
                    {
                @Html.Raw(CustomerPersonalInfo.PassportNo)
                        Model.Customer.IDCardNo = CustomerPersonalInfo.PassportNo;

                    }
                     else if ((CustomerPersonalInfo.OtherIC).ToString2() != string.Empty)
                    {
                @Html.Raw(CustomerPersonalInfo.OtherIC)
                        Model.Customer.IDCardNo = CustomerPersonalInfo.OtherIC;

                    }
                }
                   
            }
            @Html.HiddenFor(model => model.Customer.IDCardNo)
            @Html.HiddenFor(model => model.Customer.IDCardTypeID)
        </div>
        <div style="float: left; padding-left: 2px; display: none;">
            @Html.HiddenFor(model => model.InputIDCardTypeID)
            @Html.HiddenFor(model => model.InputIDCardNo)
            @Html.HiddenFor(model => model.InputNationalityID)
        </div>
        <div id="divCreditCheckMsg" style="display: none;">
            <br />
            <br />
            <label id="lblCreditCheck" style="font-weight: bold; color: Red; display: none;">
                Credit Check Failed.</label>
        </div>
    </div>
    @if (CustomerPersonalInfo != null)
    {
        if (CustomerPersonalInfo.Dob.Length > 0)
        {
        <div class="form-row">
            <div class="form-label">
                DOB
            </div>
            <div>
                :
                @Html.Raw(CustomerPersonalInfo.Dob.Substring(6, 2)) -
                @Html.Raw(CustomerPersonalInfo.Dob.Substring(4, 2)) -
                @Html.Raw(CustomerPersonalInfo.Dob.Substring(0, 4))
                <div style="display: none">
                    @*Changes made by chetan*@
                    @{
            if ((!string.IsNullOrEmpty(CustomerPersonalInfo.Dob)) && CustomerPersonalInfo.Dob.Length >= 8)
            {

                Model.DOBDay = (CustomerPersonalInfo.Dob.Substring(6, 2)).ToInt();
                Model.DOBMonth = (CustomerPersonalInfo.Dob.Substring(4, 2)).ToInt();
                Model.DOBYear = (CustomerPersonalInfo.Dob.Substring(0, 4)).ToInt();

            }

            if (CustomerPersonalInfo.Dob.Length >= 8)
            {
                Model.DOBDay = (CustomerPersonalInfo.Dob.Substring(6, 2)).ToInt();
                Model.DOBMonth = (CustomerPersonalInfo.Dob.Substring(4, 2)).ToInt();
                Model.DOBYear = (CustomerPersonalInfo.Dob.Substring(0, 4)).ToInt();
            }
            else
            {
                if (!string.IsNullOrEmpty(CustomerPersonalInfo.NewIC))
                {
                    CustomerPersonalInfo.Dob = CustomerPersonalInfo.NewIC;
                    int year = Session["IDCardNo"].ToString().Substring(0, 2).ToInt();
                    int CurrYear = DateTime.Now.Year;
                    string PreYear = "19" + year.ToString();

                    if (CurrYear - PreYear.ToInt() <= 100)
                    {
                        Model.DOBYear = PreYear.ToInt();
                    }
                    else
                    {
                        PreYear = "20" + year.ToString();
                        Model.DOBYear = PreYear.ToInt();
                    }


                    Model.DOBDay = (CustomerPersonalInfo.Dob.Substring(4, 2)).ToInt();
                    Model.DOBMonth = (CustomerPersonalInfo.Dob.Substring(2, 2)).ToInt();
                    //Model.DOBYear = (CustomerPersonalInfo.Dob.Substring(0, 4)).ToInt();


                }
            }


            Model.Customer.CustomerTitleID = CustomerPersonalInfo.CustomerTitleID;
                    }
                </div>
            </div>
        </div>
        }
    }
    @if (Model.RegID > 0)
    {
        if ((Model.DOBDay == 0 && Model.DOBMonth == 0 && Model.DOBYear == 0) || (Model.DOBDay == null && Model.DOBMonth == null && Model.DOBYear == null))
        {
            if (DateTime.MinValue != Model.Customer.DateOfBirth)
            {
        @Util.FormatDate(Model.Customer.DateOfBirth)
            }
        }
        else
        {
        @Html.Raw(Model.DOBDay + "/" + Model.DOBMonth + "/" + Model.DOBYear)
        }
    }
    @Html.HiddenFor(model => model.DOBDay)
    @Html.HiddenFor(model => model.DOBMonth)
    @Html.HiddenFor(model => model.DOBYear)
    <div class="form-row">
        <div class="form-label">
            Contact No
        </div>
        <div>
            :
            @Html.Raw(CustomerPersonalInfo.Cbr.ToString2() != "" ? CustomerPersonalInfo.Cbr.ToString2() : "")
            <div style="display: none;">
                @Html.DropDownListFor(model => model.Customer.NationalityID, Util.GetList(RefType.Nationality, defaultValue: string.Empty))
                @if (CustomerPersonalInfo != null)
                {
                    if (CustomerPersonalInfo.Cbr != null && CustomerPersonalInfo.Cbr.Length > 0)
                    {

                        if (!CustomerPersonalInfo.Cbr.StartsWith("6"))
                        {
                            CustomerPersonalInfo.Cbr = "6" + CustomerPersonalInfo.Cbr;
                        }

                        Model.Customer.ContactNo = CustomerPersonalInfo.Cbr.Replace("-", "");
                    @Html.HiddenFor(model => model.Customer.ContactNo, new { maxlength = 12 })
                    }
                    else
                    {
                        Model.Customer.ContactNo = @msisdn;
                    @Html.HiddenFor(model => model.Customer.ContactNo, new { maxlength = 12 })      
                    }
                }
                else
                {
                    Model.Customer.ContactNo = @msisdn;
                    @Html.HiddenFor(model => model.Customer.ContactNo, new { maxlength = 12 })      
                }
            </div>
        </div>
    </div>
</div>
