﻿@using Online.Registration.Web.CommonEnum;
@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Models;

@{
	var dropObj = (DropFourObj)Session[Online.Registration.Web.CommonEnum.SessionKey.DropFourObj.ToString()];
	var msisdn = dropObj.personalInformation.SimReplacementsVM.externalId;
	var GSTMark = ViewData["GSTMark"] != null ? ViewData["GSTMark"].ToString() : null;
	var totalUpfront = 0;
}
<div class="col-sm-12 order-details" >Order Summary</div>
<div class="panel-groupOS summary-bg" id="accordion">
	<div class="panelOS panel-defaultOS">
		<div class="panel-collapseOS collapse in" style="overflow-y: visible">
			<div class="panel-bodyOS">
            <div class="panel-headingOS">
            <h3 class="greenFont">
                            @msisdn
                        </h3>
                        </div>
				<div class="col-sm-12 more">
					<div class="col-sm-12 summry-line"></div>
					<div class="col-sm-12 kill-padding">
						<h5><b>Order Info</b></h5>
						@*<h5>MSISDN: @msisdn</h5>*@
					</div>
					<div class="col-sm-12 kill-padding">
						<h5>
							<b>@*Upfront Payment*@</b>
						</h5>
					</div>
					<div class="col-sm-12 kill-padding">
						<div class="col-sm-7 kill-padding">
							<h5>SIM Replacement charges</h5>
						</div>
						<div class="col-sm-2" style="text-align:right; padding-left:10px">
							<h5>RM</h5>
						</div>
						<div class="col-sm-3 kill-padding" style="text-align:right">
							<h5 class="price" id="spnSimCharge">@("0.00")</h5>
						</div>
					</div>
					<div class="col-sm-12 kill-padding subtotal">
						<p class="price">&nbsp;</p>
						<div class="col-sm-7 kill-padding">
							<h5><b>Subtotal Upfront</b></h5>
						</div>
						<div class="col-sm-2" style="text-align:right; padding-left:10px">
							<h5><b>RM</b></h5>
						</div>
						<div class="col-sm-3 kill-padding" style="text-align:right">
							<h5><b><span id="spnTotalPayable">@("0.00")</span></b></h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-sm-12 order-total">
	<div class="col-sm-6 kill-padding">
		<h5 class="kill-margin" id="total-upfront-title">Total Upfront</h5>
	</div>
	<div class="col-sm-6 kill-padding">
		<p class="price"><b>
		RM<span id="spnTotalUpfront">@("0.00")</span>@(GSTMark)</b></p>
	</div>
</div>


@{
	var viewBagAcceptedOffer = new ViewDataDictionary();
	viewBagAcceptedOffer.Add("_MSISDN", Session[SessionKey.ExternalID.ToString()].ToString2());
	viewBagAcceptedOffer.Add("_OutRightDevice", false);
	viewBagAcceptedOffer.Add("_ServiceFlow", false);
	Html.RenderPartial("_PegaAcceptedOffer", viewBagAcceptedOffer);
}


<script type="text/javascript">
	$(document).ready(function (e) {
		
	});
</script>