﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.SubscriberICService;
@{
    ViewBag.Title = "Address";
    #region VLT ADDED CODE
    ///GET THE retrieveAcctListByICResponse TYPE OF OBJECT FROM SESSION IF PPID="E" FOLLOWING SHOULD BE AVAILABLE    
    ///Check Session["PPID"] IF IT CONTAINS 'E' IF EXISTING SET IsExistingUser TO TRUE AGAIN CHECK IF AcctListByICResponse IS NULL THEN SET IT TO FALSE AS NO DATA TO DISPLAY
    //retrieveAcctListByICResponse AcctListByICResponse = null;
    CustomizedCustomer CustomerPersonalInfo = null;
    bool IsExistingUser = false;
    //if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    //{
    //    if (!ReferenceEquals(Session["PPIDInfo"], null))
    //    {
    //        ///CHECK IF EXISTING USER THEN ONLY RETRIEVE CUSTOMER INFORMATION
    //        AcctListByICResponse = (retrieveAcctListByICResponse)Session["PPIDInfo"];
    //        ///CHECK IF CUSTOMER INFORMATION IS THERE OR NOT
    //        if (!ReferenceEquals(AcctListByICResponse, null) && !ReferenceEquals(AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList(), null))
    //        {
    //            CustomerPersonalInfo = AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList().FirstOrDefault().Customer;
    //            IsExistingUser = true;
    //        }
    //    }
    //}

    //Himansu
  //  CustomerPersonalInfo = new CustomizedCustomer();
   // IsExistingUser = true;
    #endregion VLT ADDED CODE  
}
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
<table width="500px">
    <tr>
        <td>
            <b>@Html.LabelFor(model => model.Address.Line1)</b>
        </td>
        <td>
            @if (CustomerPersonalInfo != null)
            {
                if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address1))
                {
                @Html.TextBoxFor(model => model.Address.Line1, new { style = "width:300px", @Value = CustomerPersonalInfo.Address1, maxlength = 150, @class = "uppercase", onchange = "toUpperCase(this)" })
                }
                else
                {
                @Html.TextBoxFor(model => model.Address.Line1, new { style = "width:300px", maxlength = 150, @class = "uppercase", onchange = "toUpperCase(this)" })
                }
            }
            else
            {
                @Html.TextBoxFor(model => model.Address.Line1, new { style = "width:300px", maxlength = 150, @class = "uppercase", onchange = "toUpperCase(this)" })
            }
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.LabelFor(model => model.Address.Line2)</b>
        </td>
        <td>
            @if (CustomerPersonalInfo != null)
            {
                if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address2))
                {
                @Html.TextBoxFor(model => model.Address.Line2, new { style = "width:300px", @Value = CustomerPersonalInfo.Address2, maxlength = 150, @class = "uppercase", onchange = "toUpperCase(this)" })
                }
                else
                {
                @Html.TextBoxFor(model => model.Address.Line2, new { style = "width:300px", maxlength = 150, @class = "uppercase", onchange = "toUpperCase(this)" })
                }
            }
            else
            {
                @Html.TextBoxFor(model => model.Address.Line2, new { style = "width:300px", maxlength = 150, @class = "uppercase", onchange = "toUpperCase(this)" })
            }
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.LabelFor(model => model.Address.Line3)</b>
        </td>
        <td>
            @if (CustomerPersonalInfo != null)
            {
                if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address3))
                {
                @Html.TextBoxFor(model => model.Address.Line3, new { style = "width:300px", @Value = CustomerPersonalInfo.Address3, maxlength = 150, @class = "uppercase", onchange = "toUpperCase(this)" })
                }
                else
                {
                @Html.TextBoxFor(model => model.Address.Line3, new { style = "width:300px", maxlength = 150, @class = "uppercase", onchange = "toUpperCase(this)" })
                }
            }
            else
            {
                @Html.TextBoxFor(model => model.Address.Line3, new { style = "width:300px", maxlength = 150, @class = "uppercase", onchange = "toUpperCase(this)" })
            }
        </td>
    </tr>
    @*VLT CODE ENDS HERE*@
    <tr>
        <td>
            <b>@Html.LabelFor(model => model.Address.Postcode)</b>
        </td>
        <td>
            @if (CustomerPersonalInfo != null)
            {
                if (!string.IsNullOrEmpty(CustomerPersonalInfo.PostCode))
                {
                @Html.TextBoxFor(model => model.Address.Postcode, new { @Value = CustomerPersonalInfo.PostCode, maxlength = 5 })
                }
                else
                {
                @Html.TextBoxFor(model => model.Address.Postcode, new { maxlength = 5})
                }
            }
            else
            {
                @Html.TextBoxFor(model => model.Address.Postcode, new { maxlength = 5 })
            }
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.LabelFor(model => model.Address.Town)</b>
        </td>
        <td>
            @if (CustomerPersonalInfo != null)
            {
                if (!string.IsNullOrEmpty(CustomerPersonalInfo.City))
                {
                @Html.TextBoxFor(model => model.Address.Town, new { @Value = CustomerPersonalInfo.City, maxlength = 100, @class = "uppercase", onchange = "toUpperCase(this)" })
                }
                else
                {
                @Html.TextBoxFor(model => model.Address.Town, new { maxlength = 100, @class = "uppercase", onchange = "toUpperCase(this)" })
                }
            }
            else
            {
                @Html.TextBoxFor(model => model.Address.Town, new { maxlength = 100, @class = "uppercase", onchange = "toUpperCase(this)" })
            }
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.LabelFor(model => model.Address.StateID)</b>
        </td>
        <td>
            @Html.HiddenFor(model => model.Address.StateID)
            @if (CustomerPersonalInfo != null)
            {
                if (!string.IsNullOrEmpty(CustomerPersonalInfo.State) && CustomerPersonalInfo.State != "DEFAULT_STATE")
                {
                @(Html.Telerik().DropDownListFor(model => model.Address.StateID).BindTo(Util.GetList(RefType.State, defaultValue: "", selectedValue: IsExistingUser ? CustomerPersonalInfo.State : "")))
                }
                else
                {
                @(Html.Telerik().DropDownListFor(model => model.Address.StateID).BindTo(Util.GetList(RefType.State, defaultValue: "", selectedValue: "4")))
                }
            }
            else
            {
               @*  @(Html.Telerik().DropDownListFor(model => model.Address.StateID).BindTo(Util.GetList(RefType.State, defaultValue: ""))) *@ 
                @(Html.Telerik().DropDownList().Name("States").BindTo(Util.GetList(RefType.State, defaultValue: "", selectedValue: (Model.Address.StateID != null) ? Model.Address.StateID.ToString() : "")).ClientEvents(events => events.OnChange("SetState")))   
                @Html.HiddenFor(model => model.Address.StateID, new { @value="0"})
            }
        </td>
    </tr>
</table>

