﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@using Online.Registration.Web.SubscriberICService;
@{
    ViewBag.Title = "Customer";
    var idCardTypeID = Model.Customer.IDCardTypeID;

    var minAge = Session["RegMobileReg_ProgramMinAge"].ToInt();
    var NRICType = Util.GetIDCardTypeID(IDCARDTYPE.NRIC);

    ///GET THE retrieveAcctListByICResponse TYPE OF OBJECT FROM SESSION IF PPID="E" FOLLOWING SHOULD BE AVAILABLE    
    ///Check Session["PPID"] IF IT CONTAINS 'E' IF EXISTING SET IsExistingUser TO TRUE AGAIN CHECK IF AcctListByICResponse IS NULL THEN SET IT TO FALSE AS NO DATA TO DISPLAY
    retrieveAcctListByICResponse AcctListByICResponse = null;
    CustomizedCustomer CustomerPersonalInfo = null;
    //CustomizedCustomer CustomerPersonalInfo = new CustomizedCustomer();
    bool IsExistingUser = false;
    //if (!ReferenceEquals(Session["SR_PPID"], null))
    //{
    //    if (!ReferenceEquals(Session["SR_PPID"], null))
    //    {
    //        ///CHECK IF EXISTING USER THEN ONLY RETRIEVE CUSTOMER INFORMATION
    //        AcctListByICResponse = (retrieveAcctListByICResponse)Session["SR_PPID"];
    //        ///CHECK IF CUSTOMER INFORMATION IS THERE OR NOT
    //        //if (!ReferenceEquals(AcctListByICResponse, null) && !ReferenceEquals(AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList(), null))
    //        //{
    //            //CustomerPersonalInfo = AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList().FirstOrDefault().Customer;
    //       // CustomerPersonalInfo = new CustomizedCustomer();

    //            //if (!String.IsNullOrEmpty(CustomerPersonalInfo.NewIC))
    //            //{
    //            //    idCardTypeID = 1;
    //            //}
    //            //else if (!String.IsNullOrEmpty(CustomerPersonalInfo.PassportNo))
    //            //{
    //            //    idCardTypeID = 2;
    //            //}
    //            //else if (!String.IsNullOrEmpty(CustomerPersonalInfo.OldIC))
    //            //{
    //            //    idCardTypeID = 3;
    //            //}
    //            //else if (!String.IsNullOrEmpty(CustomerPersonalInfo.OtherIC))
    //            //{
    //            //    idCardTypeID = 4;
    //            //}
    //            IsExistingUser = true;
    //            idCardTypeID = 2;
    //        //}

    //    }
    //}
       
 
}
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
<table width="500px">
    <tr>
        <td>
            <b>@Html.LabelFor(model => model.Customer.CustomerTitleID)</b>
        </td>
        <td>
            @if (CustomerPersonalInfo != null)
            {
                if (CustomerPersonalInfo.CustomerTitleID != null)
                {
                @(Html.Telerik().DropDownListFor(model => model.Customer.CustomerTitleID).BindTo(Util.GetList(RefType.CustomerTitle, defaultValue: "", selectedValue: IsExistingUser ? CustomerPersonalInfo.Title : "")))
                }
                else
                {
                @(Html.Telerik().DropDownListFor(model => model.Customer.CustomerTitleID).BindTo(Util.GetList(RefType.CustomerTitle, defaultValue: "")))        
                }
            }
            else
            {
                @(Html.Telerik().DropDownListFor(model => model.Customer.CustomerTitleID).BindTo(Util.GetList(RefType.CustomerTitle, defaultValue: "")))        
            }
        </td>
        <td>
         <div style="display:none">
            <b>@Html.LabelFor(model => model.Customer.Gender)</b>
              </div>
        </td>
        <td>
           
            <div style="display:none">

            @Html.Label("Male") @Html.RadioButtonFor(model => model.Customer.Gender, "M", new { onclick = "setGender(this);", @class = "gender", id = "rdbMale" })
            @Html.Label("Female") @Html.RadioButtonFor(model => model.Customer.Gender, "F", new { onclick = "setGender(this);", @class = "gender", id = "rdbFemale" })
             @Html.HiddenFor(model => model.Customer.Gender)

@(Html.Telerik().DropDownListFor(model => model.Customer.RaceID).BindTo(Util.GetList(RefType.Race, defaultValue: "")))
@(Html.Telerik().DropDownListFor(model => model.Customer.LanguageID).BindTo(Util.GetList(RefType.Language, defaultValue: "")).Value(Model.Customer.LanguageID.ToString()).Effects(f => f.Toggle()))
             </div>
            @*@Html.Label("Female") @Html.RadioButton("rdbGender", "F", new { onclick = "setGender(this);" })*@
            @*@Html.HiddenFor(model => model.Customer.Gender)*@
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.LabelFor(model => model.Customer.FullName)</b>
        </td>
        <td colspan="3">
            @if (CustomerPersonalInfo != null)
            {
                if (CustomerPersonalInfo.CustomerName != null)
                {
                @Html.TextBoxFor(model => model.Customer.FullName, new { style = "width:300px", @class = "uppercase", onchange = "toUpperCase(this)", @Value = CustomerPersonalInfo.CustomerName, maxlength=200 })
                }
                else
                {
                @Html.TextBoxFor(model => model.Customer.FullName, new { style = "width:300px", @class = "uppercase", onchange = "toUpperCase(this)", maxlength=200 })
                }
            }
            else
            {
                @Html.TextBoxFor(model => model.Customer.FullName, new { style = "width:300px", @class = "uppercase", onchange = "toUpperCase(this)", maxlength=200 })
            }
        </td>
    </tr>
    <tr>
        <td valign="top">
            <b>@Html.LabelFor(model => model.Customer.IDCardNo)</b>
        </td>
        <td colspan="3" valign="top">
            @*<div style="float:left">
                @Html.HiddenFor(model => model.IDCardNoValidate)
                @Html.Raw(Util.GetNameByID(RefType.IDCardType, idCardTypeID)) 
                &nbsp; -
                @Html.Raw(Model.Customer.IDCardNo)
                &nbsp;

                @Html.HiddenFor(model => model.Customer.IDCardNo)
                @Html.HiddenFor(model => model.Customer.IDCardTypeID)
                @if (Model.Customer.IDCardTypeID == NRICType)
                {
                    <button type="button" value="Vaidate" onclick="RetrieveMyKadInfo()" 
                        style="background-image:url(@(Url.Content("~/Content/images/btn_retrieve.png")));background-position:center;width:80px;height:23px;border-style:none;cursor:pointer;">
                    </button>
                }
            </div>*@
            <div>
                <div style="float: left;">
                    @if (CustomerPersonalInfo != null)
                    {
                        if (idCardTypeID != null && idCardTypeID != 0)
                        {
                                                  
                        @(Html.Telerik().DropDownListFor(model => model.Customer.IDCardTypeID)
                            .ClientEvents(events => events.OnChange("IDCardTypeChanged"))
                                .BindTo(Util.GetList(RefType.IDCardType, defaultValue: "", selectedValue: Convert.ToString(idCardTypeID)))
                                    )
                          
                        }
                        else
                        {
                        @(Html.Telerik().DropDownListFor(model => model.Customer.IDCardTypeID)
                            .ClientEvents(events => events.OnChange("IDCardTypeChanged"))
                            .BindTo(Util.GetList(RefType.IDCardType, defaultValue: "")).HtmlAttributes(new { }))
                        }
                    }
                    else
                    {
                        @(Html.Telerik().DropDownListFor(model => model.Customer.IDCardTypeID)
                            .ClientEvents(events => events.OnChange("IDCardTypeChanged"))
                            .BindTo(Util.GetList(RefType.IDCardType, defaultValue: "")).HtmlAttributes(new { }))
                    }
                </div>
                <div style="float: left; padding-left: 2px;">
                    @if (CustomerPersonalInfo != null)
                    {
                        if (idCardTypeID != null && idCardTypeID != 0)
                        {
                        @Html.TextBoxFor(model => model.Customer.IDCardNo, new { @Value = (CustomerPersonalInfo.NewIC != null) ? CustomerPersonalInfo.NewIC : CustomerPersonalInfo.OldIC })
                        }
                        else
                        {
                        @Html.TextBoxFor(model => model.Customer.IDCardNo)
                        }
                    }
                    else
                    {
                          @Html.TextBoxFor(model => model.Customer.IDCardNo)
                    }
                    @Html.HiddenFor(model => model.InputIDCardTypeID)
                    @Html.HiddenFor(model => model.InputIDCardNo)
                       
                    @*Added by Rajeswari on 24th March to disable nationality*@
                    @Html.HiddenFor(model => model.InputNationalityID)
                </div>

                    @*<div id="divBiometrics" style="float: right; display: block;">*@
                    @*Only for ID Card Type: New IC biometric button will be displayed by chetan *@
                    @*@if (Model.Customer.IDCardTypeID == NRICType)*@
                    @if (Session["IDCardTypeID"].ToInt() == 1)
                    {
                    <button type="button" value="Vaidate" onclick="RetrieveMyKadInfo()" 
                        style="background-image:url(@(Url.Content("~/Content/images/btn_retrieve.png")));background-position:center;width:80px;height:23px;border-style:none;cursor:pointer;">
                    </button>
                    }
                    </div>
                    <div id="divCreditCheckMsg" style="display: none;">
                    <br />
                    <br />
                    <label id="lblCreditCheck" style="font-weight: bold; color: Red;display:none;">
                        Credit Check Failed.</label>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.LabelFor(model => model.Customer.DateOfBirth)</b>
        </td>
        <td colspan="3">
            @if (CustomerPersonalInfo == null)
            {
                @Html.DropDownListFor(model => model.DOBDay, Util.GetDayList(), new { onChange = "populateDOB()" })
                @Html.DropDownListFor(model => model.DOBMonth, Util.GetMonthList(), new { onChange = "populateDOB()" })
                @Html.DropDownListFor(model => model.DOBYear, Util.GetYearList(18), new { onChange = "populateDOB()" })
            }
            else if (CustomerPersonalInfo != null)
            {
                //Changes made by chetan
                if ((CustomerPersonalInfo.Dob != null) && (CustomerPersonalInfo.Dob != ""))
                {
                @(Html.Telerik().DropDownListFor(model => model.DOBDay).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetDayList(selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(6, 2)).ToString())))  
                @(Html.Telerik().DropDownListFor(model => model.DOBMonth).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetMonthList(selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(4, 2)).ToString())))   
                @(Html.Telerik().DropDownListFor(model => model.DOBYear).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetYearList(18, selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(0, 4)).ToString())))   
                }
                //Added by Patanjali to Support missing DOB for Existing users
                else
                {
                    @Html.DropDownListFor(model => model.DOBDay, Util.GetDayList(), new { onChange = "populateDOB()" })
                @Html.DropDownListFor(model => model.DOBMonth, Util.GetMonthList(), new { onChange = "populateDOB()" })
                @Html.DropDownListFor(model => model.DOBYear, Util.GetYearList(18), new { onChange = "populateDOB()" })
                }
                //Added by Patanjali to Support missing DOB for Existing users
            }
            @Html.HiddenFor(model => model.DOBDay) @Html.HiddenFor(model => model.DOBMonth)
            @Html.HiddenFor(model => model.DOBYear)
            @{
                //Html.Telerik().DatePickerFor(model => model.Customer.DateOfBirth)
                //    .HtmlAttributes(new { style="width:150px" })
                //    .InputHtmlAttributes(new { @readonly = "readonly" })
                //    .Format(Util.GetDateFormatString())
                //    .Max(DateTime.Now.AddYears(-minAge))
                //    .Render();
            }
        </td>
    </tr>
    <tr>
        <td>
            <b>@Html.LabelFor(model => model.Customer.ContactNo)</b>
        </td>
        <td>
            @if (CustomerPersonalInfo != null)
            {
                if (CustomerPersonalInfo.Cbr != null)
                {
                    //added by Nreddy for add prefix mobileno
                    if (CustomerPersonalInfo.Cbr.Length > 0)
                    {
                        //if (CustomerPersonalInfo.Cbr.Contains('|'))
                        //{
                        //    CustomerPersonalInfo.Cbr="603"+CustomerPersonalInfo.Cbr.Split('|')[0].ToString();

                        //}
                        if (!CustomerPersonalInfo.Cbr.StartsWith("6"))
                        {
                            CustomerPersonalInfo.Cbr = "6" + CustomerPersonalInfo.Cbr;
                        }

                    }
                @Html.TextBoxFor(model => model.Customer.ContactNo, new { @Value = CustomerPersonalInfo.Cbr.Replace("-", ""), maxlength = 12 })
                }
                else
                {
                @Html.TextBoxFor(model => model.Customer.ContactNo, new { maxlength = 12 })      
                }
            }
            else
            {
                @Html.TextBoxFor(model => model.Customer.ContactNo, new { maxlength = 12 })
               
            }

        </td>
@*        <td>
            <b>@Html.LabelFor(model => model.Customer.LanguageID)</b>
        </td>
        <td>
            @(Html.Telerik().DropDownListFor(model => model.Customer.LanguageID).BindTo(Util.GetList(RefType.Language, defaultValue: "")).Value(Model.Customer.LanguageID.ToString()).Effects(f => f.Toggle()))
        </td> 
*@

        <td>
            <b>@Html.LabelFor(model => model.Customer.NationalityID)</b>
        </td>
        <td>
            @(Html.Telerik().DropDownListFor(model => model.Customer.NationalityID).BindTo(Util.GetList(RefType.Nationality, defaultValue: "")))

        </td>

    </tr>
    <tr >
        @*<td style="display:none;">
            <b>@Html.LabelFor(model => model.Customer.AlternateContactNo)</b>
        </td>
        <td style="display:none;">
            @Html.TextBoxFor(model => model.Customer.AlternateContactNo)
        </td>*@
        <td colspan="2" align="center" valign="top" style="font-style:italic;azimuth:center-left;" >
           <label style="font-style:italic;">" Ex: 60xxxxxxxxx "</label> 
        </td>
        
@*        <td>
            <b>@Html.LabelFor(model => model.Customer.NationalityID)</b>
        </td>
        <td>
            @(Html.Telerik().DropDownListFor(model => model.Customer.NationalityID).BindTo(Util.GetList(RefType.Nationality, defaultValue: "")))

        </td>
*@        
    </tr>
    <tr>
    @if (Model.Customer.EmailAddr != null && Model.Customer.EmailAddr != "")
    {
        <td>
            <b>@Html.LabelFor(model => model.Customer.EmailAddr)</b>
        </td>
        <td>@Html.TextBoxFor(model => model.Customer.EmailAddr)
        </td>
    }
@*        <td>
            <b>@Html.LabelFor(model => model.Customer.RaceID)</b>
        </td>
        <td>@(Html.Telerik().DropDownListFor(model => model.Customer.RaceID).BindTo(Util.GetList(RefType.Race, defaultValue: "")))
        </td>
*@    </tr>
</table>
