﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@using Telerik.Web.Mvc.UI;
@using System.Text;

@model Online.Registration.Web.ViewModels.PersonalDetailsVM

@{
    int TabNumber = Model.TabNumber;
    int SIMReplacementType = Session["SimReplacementType"].ToInt();
    string LobType = Session["AccountType"].ToString2();
    string base64String = Model.SignatureSVG;
    bool isSignatureRequired = Model.RegID == 0 ? WebHelper.Instance.isSignatureRequired() : false;
    bool isDealer = Session["IsDealer"].ToBool();
    
}
<div class="row border-top">
    @if (SIMReplacementType != SimReplacementType.N2M.ToInt() && LobType != "PREGSM" && Model.RegID == 0)
    {
        <ul class="col-sm-12 tnc-check">
            <li>
                <input id="cbTnC" class="stock-checkbox" type="checkbox"/>
                <label style="cursor:pointer"for="cbTnC" name="stock-lbl-1" class="stock-label">I hereby agree that the services subscribed herein shall form part of the "Services" (as defined in the Agreement) and further agree to be bound by the terms and conditions of the Agreement.</label>
            </li>
        </ul>
        
    }
    else if (SIMReplacementType == SimReplacementType.N2M.ToInt())
    {
        <ul class="col-sm-12 tnc-check">
            <li>
                <input id="cbTnC" class="stock-checkbox" type="checkbox"/>
                <label for="cbTnC" name="stock-lbl-1" class="stock-label">I confirm that the information I have provided is accurate and correct. I have read, agreed and hereby consent to the
                <br />collection and processing of my Personal Information/Personal Data and agree to the <a href="@Url.Content(Model.DocumentUrl)" style="color:#b7b7b7; text-decoration:underline; font-weight:bold" onclick="window.open(this.href, 'Terms and Conditions', 'width=700, height=400, left=24, top=24, scrollbars, resizable'); return false;">Terms and Conditions</a> of the service.
                </label>
            </li>
        </ul>
        @Html.HiddenFor(model => model.PDPDVersion)                            
    }
    else if (LobType == "PREGSM" && Model.RegID == 0)
    {
        <ul class="col-sm-12 tnc-check">
            <li>
                <input id="cbTnC" class="tnc-checkbox" type="checkbox"/>
                <label for="cbTnC" name="stock-lbl-1" class="tnc-label">
                I hereby declare that I am the original owner of Hotlink number stated above, I hereby make a formal request to have the SIM card replaced to me immediately. In consideration of Maxis Mobile Services Sdn Bhd ("Maxis") agreeing to my request to replace me a new SIM card, I hereby undertake and agree as follows:
                <ol style="padding-left:20px;">
                <li style="margin:0px;">I shall indemnify and keep indemnified Maxis (including its affiliated and/or related corporations) against all actions, proceedings, claims, demands whatsoever brought or made against and/or suffered by Maxis and all losses, costs, damages and/or expenses whatsoever suffered and/or incurred by Maxis in connection with and as a result of the loss of the original SIM card and issue of the replacement SIM card.</li>
                <li style="margin:0px;">I shall also surrender and return Maxis the original SIM card should the same be found or recovered at any time.</li>
                <li style="margin:0px;">I shall continue to be bound by the Hotlink Service Terms and Conditions.</li>
                </ol>
                </label>
            </li>
        </ul>        
    }
</div>
<div class="row border-bottom"> 
    <div class="col-sm-12">                     
    <table>
        <tr>
            <td>
                <div class="signature-box" id="signaturebox">
                    <div id="signature" style="margin: 0 auto; height: 180px; background-image: url('@Url.Content("~/Content/images/maxis_use_only_s.png")'); float: left; width: 400px;">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="summary-label" align="left" class="signaturefooter"><span>Applicant's Signature</span><br />
                    <span>@Html.Raw("Date ")@Util.FormatDate(DateTime.Now)</span>
                </div>
            </td>
        </tr>
    </table>
    </div>
    <div class="col-sm-12">
        <p class="back-prev" id="btnClear" ><a href="#" onclick="ClearSign(); return false;"><span>></span> Reset</a></p>
    </div>
    @Html.HiddenFor(model => model.SignatureSVG)
                               
    <div style="clear: both;">
    </div>
</div>

<div style="clear: both;height: 30px;"></div>
    <div  style="@*height: 80px*@;display: table;">
    @{Html.RenderPartial("_EnterSalesCodes", Model, new ViewDataDictionary { { "IsOldSkin", "False" } });}
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1" id="back">
            <div class="btn isell-btn" onclick="$('#TabNumber').val(@TabNumber);$('#frmQSimReplacement').submit();"><span><</span> Back</div>
        </div>
        <div class="col-sm-9" id="cancel">
            <div class="btn isell-btn"  data-toggle="modal" data-target="#cancel-pop"><span><</span> Cancel</div>
        </div>
        <div class="col-sm-2" id="submitButtonForDealer">
            <div  class="btn isell-next1" onclick="SubmitRegForm();" >Submit <span>></span></div>
        </div>
    </div>
</div>




<script type="text/javascript" language="javascript">

</script>