﻿@using Online.Registration.Web.Helper;
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
@{
    Online.Registration.Web.UserSvc.GetAPIStatusMessagesResp ApiMessages = null;
    string sessionStatusCodeDescription = string.Empty;
    bool PrincipleTotalLinePrinted = false;
    bool MNPPrinted = false;
    var discount = 0.00;
    //if (Session["RegMobileReg_MainDevicePrice"] != null)
    //{
    //    Model.TotalPrice = Convert.ToDecimal(Session["RegMobileReg_MainDevicePrice"]);
    //    Model.ModelPrice = Convert.ToDecimal(Session["RegMobileReg_MainDevicePrice"]);
    //    Model.ItemPrice = Convert.ToInt32(Session["RegMobileReg_MainDevicePrice"]);
    //}
    if (!ReferenceEquals(Session["ApiMessages"], null))
    {
        ApiMessages = (Online.Registration.Web.UserSvc.GetAPIStatusMessagesResp)Session["ApiMessages"];
    }
    var DisplayMocdiscount = "MOC and Whitelist discount available" + Convert.ToString(Session["MocDefault"]);

    Online.Registration.Web.ViewModels.PersonalDetailsVM MobileRegOrderSummary = null;
    if (!ReferenceEquals(Model, null))
    {
        MobileRegOrderSummary = Model;
    }




    string failedIds = string.Empty;

    if (!ReferenceEquals(Session["FailedAcctIds"], null))
    {
        if (Session["FailedAcctIds"].ToString().Length != 0)
        {
            failedIds = Session["FailedAcctIds"].ToString().Remove(Session["FailedAcctIds"].ToString().Length - 1);
        }
    }

    var listPrevExtraTenMSISDNs = string.Empty;
    if (Session["ExtratenMobilenumbers"] != null)
    {
        listPrevExtraTenMSISDNs = Session["ExtratenMobilenumbers"].ToString();
    }


}
<ul class="tabs">
    <li class="selected"><a href="#view1">Validation</a></li>
    <li class=""><a href="#view2">Order</a></li>
</ul>
<div class="tabcontents">
    <div id="view1" style="display: block;">
        <div style="padding: 10px 0px 10px 20px">
            <span class="txt-16-grey-normal">Age Check:</span><br />
            @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0)
            {
                sessionStatusCodeDescription = MobileRegOrderSummary.AgeCheckStatus.ToString();
                if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                {
                    if (sessionStatusCodeDescription != "AF")
                    {
                <span class="txt-16-green-bold">@Html.Raw(@ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage)<br>
                </span>
                    }
                    else
                    {
                <span class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage)<br>
                </span>
                                        
                    }
                }
            }
            else
            {
                if (!ReferenceEquals(Session["RegMobileReg_AgeCheckStatusCode"], null) && !ReferenceEquals(ApiMessages, null))
                {
                    sessionStatusCodeDescription = Session["RegMobileReg_AgeCheckStatusCode"].ToString();
                    if (ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                    {
                        if (sessionStatusCodeDescription != "AF")
                        {                                       
                <span class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage)</span>
                        }
                        else
                        {
                <span class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</span>
                        }
                    }
                }
            }
            <br />
        </div>
        <div style="padding: 10px 0px 10px 20px">
            <span class="txt-16-grey-normal">DDMF Check:</span><br />
            @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0)
            {
                sessionStatusCodeDescription = MobileRegOrderSummary.DDMFCheckStatus.ToString();
                if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                {
                    if (sessionStatusCodeDescription != "DF")
                    {
                <span class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</span>
                    }
                    else
                    {
                <span class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                </span>
                    }
                }
            }
            else
            {
                if (!ReferenceEquals(Session["RegMobileReg_DDMFCheckStatusCode"], null) && !ReferenceEquals(ApiMessages, null))
                {
                    sessionStatusCodeDescription = Session["RegMobileReg_DDMFCheckStatusCode"].ToString();
                    if (ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                    {
                        if (sessionStatusCodeDescription != "DF")
                        {
                <span class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</span>
                        }
                        else
                        {
                <span class="txt-16-red-bold">
                    @Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                </span>
                        }
                    }

                }
            }
            <br />
        </div>
        <div style="padding: 10px 0px 10px 20px">
            <span class="txt-16-grey-normal">Address Check:</span><br />
            @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0)
            {
                sessionStatusCodeDescription = MobileRegOrderSummary.AddressCheckStatus.ToString();
                if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                {
                    if (sessionStatusCodeDescription != "ADF")
                    {
                <span class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</span>
                    }
                    else
                    {
                <span class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                </span>
                    }
                }
            }
            else
            {
                if (!ReferenceEquals(Session["RegMobileReg_AddressCheckStatusCode"], null) && !ReferenceEquals(ApiMessages, null))
                {
                    sessionStatusCodeDescription = Session["RegMobileReg_AddressCheckStatusCode"].ToString();

                    if (ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                    {
                        if (sessionStatusCodeDescription != "ADF")
                        {
                <span class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</span>
                        }
                        else
                        {
                <span class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                </span>
                        }
                    }
                }
            }
            <br />
        </div>
        <div style="padding: 10px 0px 10px 20px">
            <span class="txt-16-grey-normal">Outstanding Check:</span><br>
            @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0)
            {
                sessionStatusCodeDescription = MobileRegOrderSummary.OutStandingCheckStatus.ToString();
                if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                {
                    if (sessionStatusCodeDescription != "OF")
                    {
                <span class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</span>
                    }
                    else
                    {
                <span class="txt-16-red-bold">
                    @Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                </span>
                    }
                }

                if (MobileRegOrderSummary.OutstandingAcs != "" && MobileRegOrderSummary.OutstandingAcs != null)
                {   
                <div class="txt-16-grey-normal">
                    Account(s): -<br />
                    @((MobileRegOrderSummary.OutstandingAcs.ToString().Replace("(", "(RM ")).Replace(",", " , ").TrimEnd(','))</div>
                }
            }
            else
            {
                if (!ReferenceEquals(Session["RegMobileReg_IsOutstandingCreditCheckStatusCode"], null) && !ReferenceEquals(ApiMessages, null))
                {
                    sessionStatusCodeDescription = Session["RegMobileReg_IsOutstandingCreditCheckStatusCode"].ToString();

                    if (ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                    {
                        if (sessionStatusCodeDescription != "OF")
                        {
                <span class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</span>
                        }
                        else
                        {
                <span class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                </span>
                        }

                    }
                }
                if (failedIds != "")
                {  
                <div class="txt-16-grey-normal">
                    Account(s): -<br />
                    @((failedIds.Replace("(", "(RM ")).Replace(",", " , ").TrimEnd(','))</div>
                }
            }
            <br />
        </div>
        <div style="padding: 10px 0px 10px 20px">
            <span class="txt-16-grey-normal">Total Line Check:</span><br />
            @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0)
            {
                sessionStatusCodeDescription = MobileRegOrderSummary.TotalLineCheckStatus.ToString();
                if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                {
                    if (sessionStatusCodeDescription != "TLF")
                    {
                <span class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</span>
                    }
                    else
                    {
                <span class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                </span>
                    }
                }
            }
            else
            {
                if (!ReferenceEquals(Session["RegMobileReg_TotalLineCheckStatusCode"], null) && !ReferenceEquals(ApiMessages, null))
                {
                    sessionStatusCodeDescription = Session["RegMobileReg_TotalLineCheckStatusCode"].ToString();

                    if (ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                    {
                        if (sessionStatusCodeDescription != "TLF")
                        {
                <span class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</span>
                        }
                        else
                        {
                <span class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                </span>
                        }
                    }
                }
            }
            <br />
        </div>
        @if ((!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"]))))
        {
            <div style="padding: 10px 0px 10px 20px">
                <span class="txt-16-grey-normal">Principal Line Check:</span><br>
                @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0)
                {
                    sessionStatusCodeDescription = MobileRegOrderSummary.PrincipleLineCheckStatus.ToString();
                    if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                    {
                        if (sessionStatusCodeDescription != "PLF")
                        {
                    <span class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</span>
                        }
                        else
                        {
                    <span class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                    </span>
                        }
                    }
                }
                else
                {
                    if (!ReferenceEquals(Session["RegMobileReg_PrincipalLineCheckStatusCode"], null) && !ReferenceEquals(ApiMessages, null))
                    {
                        sessionStatusCodeDescription = Session["RegMobileReg_PrincipalLineCheckStatusCode"].ToString();

                        if (ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                        {
                            if (sessionStatusCodeDescription != "PLF")
                            {
                    <span class="txt-16-green-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</span>
                            }
                            else
                            {
                    <span class="txt-16-red-bold">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                    </span>
                            }
                        }
                    }
                }
                <br />
            </div>
        }
    </div>
    <div id="view2" style="display: none;">
    </div>
</div>
@*<div class="orderSummary">
        <table>
            <tr>
                <td class="header">
                    Validation Summary
                </td>
            </tr>
            <tr style="height: inherit; background-color: #f5f5f5;">
                <td valign="top">
                    <table>
                        @if ((!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"]))))
                        {
                            PrincipleTotalLinePrinted = true;
                            
                            
                            <tr style="height: 10px;">
                                <td valign="top">
                                    <div style="float: left">
                                        <b>Principal Line Check: </b>
                                        <br />
                                    </div>
                                    <br />
                                </td>
                            </tr>
                            
                            
                            
                            if (Convert.ToInt32(Session["RegMobileReg_Type"]) == (int)MobileRegType.DevicePlan)
                            {                
                            <tr style="height: 10px;">
                                <td valign="top">
                                    @if (!ReferenceEquals(Session["RegMobileReg_ContractCheckStatusCode"], null) && !ReferenceEquals(ApiMessages, null))
                                    {
                                        sessionStatusCodeDescription = Session["RegMobileReg_ContractCheckStatusCode"].ToString();
                                        <div style="float: left">
                                            <b>Contract Check: </b>
                                            <br />
                                            @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0)
                                            {
                                                sessionStatusCodeDescription = MobileRegOrderSummary.ContractCheckStatus.ToString();
                                                if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                                {
                                                    if (sessionStatusCodeDescription != "CF")
                                                    {
                                                @Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                                    }
                                                    else
                                                    { 
                                                <label style="color: Red">
                                                    @Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                                    }

                                                }
                                            }
                                            else
                                            {
                                                if (!ReferenceEquals(Session["RegMobileReg_ContractCheckStatusCode"], null) && !ReferenceEquals(ApiMessages, null))
                                                {
                                                    sessionStatusCodeDescription = Session["RegMobileReg_ContractCheckStatusCode"].ToString();

                                                    if (ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                                    {
                                                        if (sessionStatusCodeDescription != "CF")
                                                        {
                                                @Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                                        }
                                                        else
                                                        {
                                                <label style="color: Red">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                                </label>
                                                        }
                                                    }
                                                }
                                            }
                                        </div>
                                        <br />
                                        <br />
               
                                    }
                                </td>
                            </tr>
                            
                            
                            }

                        }
                        @if (!ReferenceEquals(Session["FromMNP"], null) && Convert.ToBoolean(Session["FromMNP"]))
                        {
                            MNPPrinted = true;
                            <tr style="height: 10px;">
                                <td valign="top">
                                    <div style="float: left">
                                        <b>MNP PreportIn Check: </b>
                                        <br />
                                        @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0)
                                        {
                                            sessionStatusCodeDescription = !ReferenceEquals(MobileRegOrderSummary.PrePortInCheckStatus, null) ? MobileRegOrderSummary.PrePortInCheckStatus.ToString() : string.Empty;
                                            if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                            {
                                                if (sessionStatusCodeDescription != "MPPF")
                                                {
                                            @Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                                }
                                                else
                                                {
                                            <label style="color: Red">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                            </label>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            if (!ReferenceEquals(Session["RegMobileReg_IsPortInStatusCode"], null) && !ReferenceEquals(ApiMessages, null))
                                            {
                                                sessionStatusCodeDescription = Session["RegMobileReg_IsPortInStatusCode"].ToString();

                                                if (ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                                {
                                                    if (sessionStatusCodeDescription != "MPPF")
                                                    {
                                            @Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                                    }
                                                    else
                                                    { 
                                            <label style="color: Red">
                                                @Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                                    }
                                                }
                                            }
                                        }
                                    </div>
                                    <br />
                                </td>
                            </tr>
                            
                            
                            <tr style="height: 10px;">
                                <td valign="top">
                                    <div style="float: left">
                                        <b>MNP ServiceId Check Status: </b>
                                        <br />
                                        @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0)
                                        {
                                            sessionStatusCodeDescription = !ReferenceEquals(MobileRegOrderSummary.MNPServiceIdCheckStatus, null) ? MobileRegOrderSummary.MNPServiceIdCheckStatus.ToString() : string.Empty;
                                            if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                            {
                                                if (sessionStatusCodeDescription != "MSIF")
                                                {
                                            @Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                                }
                                                else
                                                {
                                            <label style="color: Red">
                                                @Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            if (!ReferenceEquals(Session["RegMobileReg_IsMNPServiceIdCheckStatusCode"], null) && !ReferenceEquals(ApiMessages, null))
                                            {
                                                sessionStatusCodeDescription = Session["RegMobileReg_IsMNPServiceIdCheckStatusCode"].ToString();

                                                if (ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                                {
                                                    if (sessionStatusCodeDescription != "MSIF")
                                                    {
                                            @Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                                    }
                                                    else
                                                    {
                                            <label style="color: Red">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                            </label>
                                                    }
                                                }
                                            }
                                        }
                                    </div>
                                    <br />
                                </td>
                            </tr>
                        }
                        @if (!ReferenceEquals(MobileRegOrderSummary, null) && (MobileRegOrderSummary.RegID > 0) && (MobileRegOrderSummary.RegTypeID >= 10) && (MobileRegOrderSummary.RegTypeID <= 12) && (!MNPPrinted))
                        {
                            <tr style="height: 10px;">
                                <td valign="top">
                                    <div style="float: left">
                                        <b>MNP PreportIn Check Status: </b>
                                        <br />
                                        @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0)
                                        {
                                            sessionStatusCodeDescription = !ReferenceEquals(MobileRegOrderSummary.PrePortInCheckStatus, null) ? MobileRegOrderSummary.PrePortInCheckStatus.ToString() : string.Empty;
                                            if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                            {
                                                if (sessionStatusCodeDescription != "MPPF")
                                                {
                                            @Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                                }
                                                else
                                                {
                                            <label style="color: Red">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                            </label>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            if (!ReferenceEquals(Session["RegMobileReg_IsPortInStatusCode"], null) && !ReferenceEquals(ApiMessages, null))
                                            {
                                                sessionStatusCodeDescription = Session["RegMobileReg_IsPortInStatusCode"].ToString();

                                                if (ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                                {
                                                    if (sessionStatusCodeDescription != "MPPF")
                                                    {
                                            @Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                                    }
                                                    else
                                                    {
                                            <label style="color: Red">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())</label>
                                                    }
                                                }
                                            }
                                        }
                                    </div>
                                    <br />
                                </td>
                            </tr>
                            
                            
                            <tr style="height: 10px;">
                                <td valign="top">
                                    <div style="float: left">
                                        <b>MNP ServiceId Check Status: </b>
                                        <br />
                                        @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0)
                                        {
                                            sessionStatusCodeDescription = !ReferenceEquals(MobileRegOrderSummary.MNPServiceIdCheckStatus, null) ? MobileRegOrderSummary.MNPServiceIdCheckStatus.ToString() : string.Empty;
                                            if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                            {
                                                if (sessionStatusCodeDescription != "MSIF")
                                                {
                                            @Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                                }
                                                else
                                                {
                                            
                                            <label style="color: Red">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                            </label>                                        
                                                }
                                            }
                                        }
                                        else
                                        {
                                            if (!ReferenceEquals(Session["RegMobileReg_IsMNPServiceIdCheckStatusCode"], null) && !ReferenceEquals(ApiMessages, null))
                                            {
                                                sessionStatusCodeDescription = Session["RegMobileReg_IsMNPServiceIdCheckStatusCode"].ToString();

                                                if (ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                                {
                                                    if (sessionStatusCodeDescription != "MSIF")
                                                    {
                                            @Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                                    }
                                                    else
                                                    {
                                            <label style="color: Red">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                            </label>                                        
                                                    }
                                                }
                                            }
                                        }
                                    </div>
                                    <br />
                                </td>
                            </tr>
                        }


                        else if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0 && !ReferenceEquals(MobileRegOrderSummary.UserType, null) && MobileRegOrderSummary.UserType.ToUpper() == "E" && !PrincipleTotalLinePrinted)
                        {
                              
                            <tr style="height: 10px;">
                                <td valign="top">
                                    <div style="float: left">
                                        <b>Total Line Check: </b>
                                        <br />
                                        @if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                        {
                                            sessionStatusCodeDescription = MobileRegOrderSummary.TotalLineCheckStatus.ToString();
                                            if (sessionStatusCodeDescription != "TLF")
                                            {
                                            @Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                            }
                                            else
                                            {
                                            <label style="color: Red">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                            </label>                                        
                                            }
                                        }
                                    </div>
                                    <br />
                                </td>
                            </tr>
                            
                            <tr style="height: 10px;">
                                <td valign="top">
                                    <div style="float: left">
                                        <b>Principal Line Check: </b>
                                        <br />
                                        @if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                        {
                                            sessionStatusCodeDescription = MobileRegOrderSummary.PrincipleLineCheckStatus.ToString();
                                            if (sessionStatusCodeDescription != "PLF")
                                            {
                                            @Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                            }
                                            else
                                            {
                                            <label style="color: Red">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                            </label>                                        
                                            }
                                        }
                                    </div>
                                    <br />
                                </td>
                            </tr>
                            
                            
                                        if (MobileRegOrderSummary.RegTypeID == 2)
                                        {                
                            <tr style="height: 10px;">
                                <td valign="top">
                                    <div style="float: left">
                                        <b>Contract Check: </b>
                                        <br />
                                        @if (!ReferenceEquals(ApiMessages, null) && ApiMessages.tblAPIStatusMessageslst.ToList().Exists(c => c.StatusCode == sessionStatusCodeDescription))
                                        {
                                            sessionStatusCodeDescription = MobileRegOrderSummary.ContractCheckStatus.ToString();
                                            if (sessionStatusCodeDescription != "CF")
                                            {
                                            @Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                            }
                                            else
                                            {
                                            <label style="color: Red">@Html.Raw(ApiMessages.tblAPIStatusMessageslst.SingleOrDefault(c => c.StatusCode == sessionStatusCodeDescription).StatusMessage.ToString())
                                            </label>                                        
                                            }
                                        }
                                    </div>
                                    <br />
                                </td>
                            </tr>
                                        }

                        }
                        <tr style="display: none">
                            <td>
                                <div style="float: left;">
                                    <b>Whitelist Status: </b>
                                    <br />
                                    @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0)
                                    {

                                        if (!ReferenceEquals(MobileRegOrderSummary.Whitelist_Status, null))
                                        {
                                            if (MobileRegOrderSummary.Whitelist_Status.ToString().ToLower() == "true")
                                            {
                                        @MobileRegOrderSummary._WhiteListDetails.Description.ToString()
                                            }
                                            else
                                            {
                                        @Html.Raw("No")
                                              
                                            }
                                        }
                                        else
                                        {
                                        @Html.Raw("No")
                                        }

                                    }
                                    else
                                    {
                                        if (!ReferenceEquals(Session["MocandwhitelistSstatus"], null))
                                        {
                                            if (Session["MocandwhitelistSstatus"] == "true")
                                            {                                                
                                        @Html.Raw("Yes")
                                            }
                                            else
                                            {
                                        @Html.Raw("No")
                                            }
                                        }
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr style="display: none">
                            <td>
                                <div style="float: left;">
                                    <b>MOC Status: </b>
                                    <br />
                                    @if (!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0)
                                    {
                                        if (!ReferenceEquals(MobileRegOrderSummary.MOC_Status, null))
                                        {
                                        @MobileRegOrderSummary.MOC_Status.ToString()
                                        }
                                        else
                                        {
                                        @Html.Raw("No")
                                        }
                                    }
                                    else
                                    {
                                        if (!ReferenceEquals(Session["MOCIDs"], null))
                                        {
                                            if (Session["MOCIDs"].ToString().Length > 0)
                                            {                                                
                                        @Html.Raw(Session["MOCIDs"].ToString())
                                            }
                                            else
                                            {
                                                 
                                        @Html.Raw("No")
                                            }
                                        }
                                    }
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>*@ 
