﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Controllers;
@using Online.Registration.Web.SubscriberICService;
@using Online.Registration.Web.CommonEnum;
@model Online.Registration.Web.Models.SupplementaryListAccounts
@{
	Layout = "~/Views/Shared/_NewLayout.cshtml";

	bool newUser = true;
	var isUserCCCAbove = WebHelper.Instance.IsUserCCCAbove();
	string strTemp = string.Empty;

	if (!ReferenceEquals(Session["SR_PPID"], null))
	{
		newUser = false;
	}
	if (ReferenceEquals(Model, null))
	{
		newUser = true;
	}


	List<string> allowedPrefixes = new List<string>();
	if (System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"] != null)
	{
		allowedPrefixes = System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"].ToString2().Split(',').ToList();
	}


	string CurMsisdn = Session[SessionKey.IDCardMSiSDNNew.ToString()].ToString2();

	var fromIpad = Request.Headers["User-Agent"].ToLower().Contains("ipad");
	var containerClass = fromIpad ? "container-fluid ipad-container" : "container";

	var isDealer = Session["IsDealer"].ToBool();
	//var dealerMsidnSearch = System.Web.Configuration.WebConfigurationManager.AppSettings["DealerMsidnSearch"].ToString2() + " Prepaid / Postpaid SIM Replacement";
    var dealerMsidnSearch = System.Web.Configuration.WebConfigurationManager.AppSettings["DealerMsidnSearch"].ToString2() + " SIM Replacement";
    
	var idCardTypeName = Session["PPIDSearchIDType"].ToString2();
	string tableHide = "";
	if (isDealer && idCardTypeName != "MSISDN")
	{
		tableHide = "hide";
	}
    string msisdn = string.Empty;
    if (!string.IsNullOrEmpty(ViewBag.MSISDN))
    {
        msisdn = ViewBag.MSISDN;
    }

    WebHelper.Instance.clearApprovalCheckboxes();
    
}
<div class="@containerClass">
	<div class="isell-base">
		@{
            var viewBagValue = new ViewDataDictionary();
            viewBagValue.Add("headerLabel", "SIM Replacement:");
            Html.RenderPartial("_AccountHolderName", viewBagValue);
		}
		<div class="row">
			<div class="col-sm-12 green-bg">
				<p class="font-24">
					SIM Replacement
				</p>
			</div>
		</div>
		@using (Html.BeginForm("AccountDetails", "QSimReplacement", FormMethod.Post, new { id = "frmAccounts", @class = "overlayonsubmit", processmsg = "Loading" }))
        {
			@Html.Hidden("SelectedAccountDtls");
			@Html.Hidden("SimReplacementType");
			
										  
			<div class="row">
				<div id="dvDealers" class="col-sm-12 col-xs-12" style="display: none; ">
					<div class="col-sm-12 col-xs-12">
						<div class="search-hdr-title device title" style="padding-bottom: 1%" ><h2>@(dealerMsidnSearch)</h2></div>
					</div>
					<div class="col-sm-12 col-xs-12">
						<div class="form-group">
							<input type="text" class="form-control search-box" id="MSISDN" value="@msisdn" onkeydown="if (event.keyCode == 13) return showdivAccDtls();"/>
							<button type="button" class="btn btn-defadivt search-icon" value="Search" onclick="return showdivAccDtls();"></button>
						</div>
					</div>
                    <div id="Dealer_Error" class="ErrorClass" style="color: Red; padding-left: 20px; padding-top: 10px"></div>
				</div>
				
				<div class="col-sm-12 col-xs-12">
					<div id="DVResultDisplay" class="tab-content" @tableHide>
						<div class="content search-header">
							<div class="search-header-box">
								<div class="search-hdr-title"><p class="device-title">Select customer account</p></div>
							</div>
						</div>
						<div class="tab-content font-16">
							<div id="ValidationSummary_Error" class="ErrorClass" style="font-size: 16px; color: Red;">@Html.ValidationSummary(false, "", new { @class = "errorClass" })</div>
							<div id="Plan_Error" class="ErrorClass" style="font-size: 16px"></div>
							<div id="dvError" class="ErrorClass" style="color: Red; padding-left: 20px; padding-top: 10px"></div>
							<div id="dv2GBCompMsg" class="ErrorClass" style="padding-left: 20px; padding-top: 10px"></div>
							
							@if (!newUser && Model.SuppListAccounts.Count > 0)
                            {
                                var counter = 0;
								<div id="Grid">
									@if ((isDealer == true && idCardTypeName != "MSISDN") || isDealer == false)
                                    {
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr style="font-size: 15px;">
												<td>
													<b>ID No :</b>
													@foreach (var Acd in Model.SuppListAccounts)
                                                    {
														@Acd.IDNumber
                                                        break;
                                                    }
												</td>
											</tr>
										</table>
                                    }
									
									<table width="100%" border="0" id="search-table" class="tbl-acc-list">
										<tbody>
											<tr class="row-bold-header" id="tblheader">
                                               @* <td style="padding-left: 1%">Name</td> @*01Dec2015_Karyne: name removed from list*@
												<td width="147px;">MSISDN</td>
												<td width="191px;">SIM Serial Number</td>
												@if (isDealer.ToString2() == "False")
                                                {
													<td style="width:155px;">Account Number</td>
													<td>Prin/Primary MSISDN</td>
													<td>Service Type</td>
													<td>Status</td>
                                                }
											</tr>
										    @foreach (var Acd in Model.SuppListAccounts)
                                            {
                                                var itemval = string.Empty;
                                                string curSimType = "";
                                                if (Acd.IsMISM) { itemval = Acd.PrinMsisdn == string.Empty || Acd.externalId == null ? Acd.externalId : Acd.PrinMsisdn; }
                                                else { itemval = Acd.externalId; }

                                                if (allowedPrefixes.Contains(Acd.externalId.Substring(0, 3)))
                                                {
                                                    ++counter;
                                                    if (Acd.AccountName == "HSDPA" || Acd.AccountName == "FWBB")
                                                    {
                                                        curSimType = Acd.AccountName;
                                                    }
                                                    else
                                                    {
                                                        curSimType = "-" + Acd.AccountType;
                                                        if (!Acd.IsMISM)
                                                        {
                                                            curSimType = Acd.AccountName + curSimType;
                                                        }
                                                        else
                                                        {
                                                            curSimType = "MISM" + curSimType;
                                                        }
                                                    }
                                                    string AccountStatuses = "Not Available";
                                                    switch (Acd.AccountStatus)
                                                    {
                                                        case "B":
                                                            AccountStatuses = "Barred";
                                                            break;
                                                        case "S":
                                                            AccountStatuses = "Suspended";
                                                            break;
                                                        case "T":
                                                            AccountStatuses = "Terminated";
                                                            break;
                                                        case "A":
                                                            AccountStatuses = "Active";
                                                            break;
                                                        case "Recycle":
                                                            AccountStatuses = "Recycle";
                                                            break;
                                                        case "Grace":
                                                            AccountStatuses = "Grace";
                                                            break;
                                                        default:
                                                            AccountStatuses = Acd.AccountStatus;
                                                            break;
                                                    }
                                                    var val =
                                                    Acd.externalId + "," + //0
                                                    Acd.AccountType + "," + //1
                                                    Acd.IsMISM + "," + //2
                                                    Acd.AccountStatus + "," + //3
                                                    Acd.AccountName + "," + //4
                                                    Acd.AccountNumber + "," + //5
                                                    Acd.SubscribeNo + "," + //6
                                                    Acd.SubscribeNoResets + "," + //7
                                                    Acd.IsGreater2GBCompExists + "," + //8
                                                    Acd.AccountKenanCode + "," + //9
                                                    Acd.AccountPackageName + "," + //10
                                                    Acd.IsPackagesExistsOnAccountLine + "," + //11
                                                    Acd.HasSupplyAccounts + "," + //12
                                                    Acd.WriteOffAmount + "," + //13
                                                    Acd.DataCompsExistOnAccount + "," + //14
                                                    Acd.Category + "," + //15
                                                    Acd.MarketCode + "," + //16
                                                    Acd.accountIntId; //17
												    <tr class="tbl-acc-list-row" id="div-@itemval-@Acd.AccountType-@Acd.SimSerial" onclick="selectAccount(this)" data-value="@val">
													   @* <td>@Acd.Holder</td>  @*01Dec2015_Karyne: name removed from list*@
													    
														@if (curSimType.ToUpper() != "MISM-S")
                                                        {
															<td>@Acd.externalId</td>
                                                        }
                                                        else
                                                        {
                                                            // BUG #1591 - [w.loon] - show secondary MISM when filter with primary MISM number
															<td><span style="display:none; ">@Acd.PrinMsisdn</span></td>
                                                        }
													    
													    <td style="width:176px;">@Acd.SimSerial</td>
													    @if (isDealer.ToString2() == "False")
                                                        {
														    <td style="width:134px;">@Acd.AccountNumber</td>
														    <td>@Acd.PrinMsisdn</td>
														    <td>@curSimType</td>
														    <td>@AccountStatuses</td>
                                                        }
												    </tr>
                                                }
                                            }
										</tbody>
									</table>
								</div>
                            }
       else
       {
							    <div id="DVShowNewUSerMsg">No accounts exists for the user</div>
       }
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div style="height: 40px;" class="border-top">
					
				</div>
                
                <div class="col-sm-10" id="cancel">
                    <div class="btn isell-btn"  data-toggle="modal" data-target="#cancel-pop"><span><</span> Cancel</div>
                </div>
                <div class="col-sm-2">
                    @if (!newUser && Model.SuppListAccounts.Count > 0)
                    {
						<div class="btn isell-next" id="PopUP" onclick="return Next_GeneratePopUp();">Next <span>></span></div>
                    }
                </div>
			</div>
        }
	</div>
</div>


<div class="modal fade modal-centering" id="ChooseSIMReplacementType" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" style="width: 37%">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span class="close-btn">Close</span></button>
				<h4 class="modal-title usage-title">
					Please choose SIM replacement type</h4>
				<h3>
					MSISDN: <span id="selectedMSISDN"></span>
				</h3>
			</div>
			<div class="modal-body login-box" style="padding-top: 0px;">
				<div class="sm-col-12">
					<div id="TypeNormal">
						<ul class="col-sm-12 col-xs-12">
							<li class="sr-sim-button col-sm-6 col-xs-2" id="SIM_@(SimReplacementType.N2N.ToInt())">Normal to Normal</li>
						</ul>
						<ul class="col-sm-12 col-xs-12">
							<li class="sr-sim-button col-sm-6 col-xs-2" id="SIM_@(SimReplacementType.N2M.ToInt())">Normal to MISM</li>
						</ul>
					</div>
					<div id="TypeMISM2N">
						<ul class="col-sm-12 col-xs-12">
							<li class="sr-sim-button col-sm-6 col-xs-2" id="SIM_@(SimReplacementType.M2N.ToInt())">MISM to Normal</li>
						</ul>
					</div>
					<div id="TypeMISM2M">
						<ul class="col-sm-12 col-xs-12">
							<li class="sr-sim-button col-sm-6 col-xs-2" id="SIM_@(SimReplacementType.M2M.ToInt())">MISM to MISM</li>
						</ul>
					</div>
				</div>
				<div class="sm-col-12">
					<ul class="col-sm-12 col-xs-12">
						<li id="Notification"></li>
						<li id="Notification_Error"></li>
					</ul>
				</div>
				<div style="float: right;">
					<div class="btn isell-next" id="Next" onclick="return Next();" disabled="disabled">
						Next <span>></span></div>
				</div>
				<div class="clearfix">
				</div>
			</div>
		</div>
	</div>
</div>


@section Scripts{
	<script src="@Url.Content("~/Scripts/js/tablefilter_all_min.js")" type="text/javascript"></script>
	<script type="text/javascript">

		function Next_GeneratePopUp() {
		    var SelectedAccDetails = $('#SelectedAccountDtls').val();
		    var SplitData = SelectedAccDetails.split(',');
		    var msisdn = SplitData[0];
		    var AccountType = SplitData[1];
		    var AccountStatus = SplitData[3];
		    var isMISM = SplitData[2];
		    var LobType = SplitData[4]; // POSTGSM/PREGSM
            var status = '';

			if (typeof SelectedAccDetails === 'undefined' || SelectedAccDetails == "") {
			    $('#ValidationSummary_Error').html("Please select an account to proceed further.");
			    $('#ValidationSummary_Error').show();
			    $("html, body").animate({ scrollTop: 0 }, "slow");
			}
			else if (AccountStatus != 'A' && LobType != "PREGSM") {
			    if (AccountStatus == 'S' ) {
			        status = "Suspend";
			    }
			    else if (AccountStatus == 'B') {
			        status = "Barred";
			    }
			    else if (AccountStatus == 'D') {
			        status = "Deactive";
			    }
			    if (status !== "") {
			        $('#ValidationSummary_Error').html("Your Number is on " + status + " status");
			        $('#ValidationSummary_Error').show();
			        $("html, body").animate({ scrollTop: 0 }, "slow");
			    }
			}
			else {

                // Hardstop/Approval Check
			    if (LobType == "PREGSM") {
			        if (CheckBRE_HS_SR('sim replace PREGSM')) return;
			    }
			    else {
			        if (CheckBRE_HS_SR('sim replace POSTGSM')) return;
                }

			    if (LobType == "PREGSM") {
			        var valid = prepaidValidate();
			        if (valid == "1") {
			            $('#SimReplacementType').val('5');
			            $('#frmAccounts').submit();
			        }
			        else {
			            $('#dvError').show();
			            $("html, body").animate({ scrollTop: 0 }, "slow");
			        }
			    }
			    else if (LobType == "FWBB" || LobType == "HSDPA") {
			        if (LobType == "FWBB") {
			            $('#SimReplacementType').val('7');
			        }
			        else if (LobType == "HSDPA") {
			            $('#SimReplacementType').val('6');
			        }
			        $('#frmAccounts').submit();
			    }
			    else if (LobType == "POSTGSM" && isMISM === 'True' && AccountType == 'S') {
			        $('#SimReplacementType').val('3');
			        $('#frmAccounts').submit();
			    }
			    else {
			        if (isMISM === 'False') {
			            $('#TypeNormal').attr('style', 'display: block');
			            $('#TypeMISM2M').attr('style', 'display: none');
			            $('#TypeMISM2N').attr('style', 'display: none');
			        }
			        else if (isMISM === 'True') {
			            if (AccountType == 'P') {
			                $('#TypeNormal').attr('style', 'display: none');
			                $('#TypeMISM2M').attr('style', 'display: block');
			                $('#TypeMISM2N').attr('style', 'display: block');
			            }
			        }

			        ClearSIMReplacementType();
			        hideError();
			        $('#selectedMSISDN').text(msisdn);
			        disableEnableNextButton();
			        $('#ChooseSIMReplacementType').modal('show');
			    }
			}
		}

		function Next() {
		    generateMessage();
		    $('li[id^="SIM_"]').each(function () {
		        if ($(this).hasClass('selected-sim')) {
		            $('#frmAccounts').submit();
		        }
		    });
			//$('form').submit();
		}
		
		function selectAccount(obj) {
			var id = $(obj).attr('id');
			var value = $(obj).attr('data-value');

			$('td').removeClass('selected-account-row');
			$('td').removeClass('acc-row-first-child');
			$('td').removeClass('acc-row-last-child');

			$('#' + id + ' td').addClass('selected-account-row');
			$('#' + id + ' td:first-child').addClass('acc-row-first-child');
			$('#' + id + ' td:last-child').addClass('acc-row-last-child');
			hideError();
			$('#SelectedAccountDtls').val(value);
		}

		function hideError() {
			$('#dvError').hide();
			$('#dvError').html('');
			$('#ValidationSummary_Error').hide();
			$('#ValidationSummary_Error').html('');
			$('#Plan_Error').hide();
			$('#Plan_Error').html('');
			$('#Dealer_Error').hide();
			$('#Dealer_Error').html('');
			$('#dv2GBCompMsg').hide();
			$('#dv2GBCompMsg').html('');
			$('#Notification').html('');
			$('#Notification').css('color', '');
			$('#Notification_Error').html('');
			$('#Notification_Error').css('color', '');
			$('#PopUP').show();
		}


		function ClearSIMReplacementType() {
			
			$('li[class^="sr-sim-button"]').removeClass('selected-sim');
		}

		function generateMessage() {
			// Dealer Message
			var Dealer_noMSISDN = "Please Enter MSISDN.";
			var Dealer_InvalidMSISDN = "Please enter valid MSISDN number";

			var Msg_SupN2M = "Please perform CRP to a Principal Plan before Replacing the SIM";
			var Msg_M2N = "Secondary MISM line will become Inactive";
			var Msg_M2N1 = "(MISM Secondary will be deactived)";
			var Msg_N2M = "(MISM Secondary will be created)";
			var Msg_NotActiveAcc = "The selected MSISDN is classified as Pre-Active/Recycle, Sim replacement is not allowed";
			var Msg_NoSelectedSimReplacementType = "Select SIM Replacement Type";
			var Msg_WriteOff = "The selected MSISDN is classified under Writeoff Account, Sim replacement is not allowed";
			var Msg_AcctPkgsExists = "Packages doesn`t exists on this Account Line, cannot proceed further";
			var Msg_Comp2GBExists = "Current Bill Plan is not eligible for MISM as the default data plan is not more than 2GB. Kindly perform CRP.";
			var groupIDs = $('[id^=SIM_]');

			var SelectedAccDetails = $('#SelectedAccountDtls').val();
			var SplitData = SelectedAccDetails.split(',');
			var AccountType = SplitData[1]; // P/S
			var isMISM = SplitData[2]; // True/False
			var AccountStatus = SplitData[3]; // B/S/T/A/Recycle/G/
			var LobType = SplitData[4]; // POSTGSM/PREGSM
			var IsGreater2GBCompExists = SplitData[8]; // True/False
			var AcctPkgsExists = SplitData[11]; // True/False
			var writeoff = SplitData[13]; // int
			var DataCompsExistOnAccount = SplitData[14]; // True/False

			hideError();

			if (writeoff > 0) {
				$('#Notification_Error').html(Msg_WriteOff);
				$('#Notification_Error').css('color', 'red');
				return false;
			}

			if (AccountStatus != 'A') {
				if ((AccountStatus != "A") && (AccountStatus != "G") && LobType == "PREGSM") {
					$('#Notification_Error').html(Msg_NotActiveAcc);
					$('#Notification_Error').css('color', 'red');
					return false;
				}
				else if (LobType == "PREGSM") {
					var status = "";
					if (AccountStatus == "S") {
						status = 'Suspend';
					}
					else if (AccountStatus == "B") {
						status = 'Barred';
					}
					else if (AccountStatus == "D") {
						status = 'Deactive';
					}
					else if (AccountStatus == "T") {
						status = 'Terminated';
					}

					if (status !=="") {
						$('#ValidationSummary_Error').html("Your Number is on " + status + " status");
						$('#ValidationSummary_Error').show();
						$("html, body").animate({ scrollTop: 0 }, "slow");
						return false;
					}
				}
			}


			if (LobType == "POSTGSM") {
				if (!$('li[id^="SIM_"]').hasClass('selected-sim')) {
					$('#Notification_Error').html(Msg_NoSelectedSimReplacementType);
					$('#Notification_Error').css('color', 'red');
					return false;
				}
				else {
					$('li[id^="SIM_"]').each(function () {
						
						if ($(this).hasClass('selected-sim')) {
							var type = $(this).attr("id").substring(4);
							// refer to utils.cs simreplacementtype
							//N2N = 1
							//N2M = 2
							//M2M = 3
							//M2N = 4
							//PREPAID = 5
							$('#SimReplacementType').val(type);

							if (AcctPkgsExists != null && AcctPkgsExists != '') {

								if (type == 2) {

									if (AcctPkgsExists == "False") {
										$('#Notification_Error').html(Msg_AcctPkgsExists);
										$('#Notification_Error').css('color', 'red');
										return false;
									}
									else if (DataCompsExistOnAccount != null && DataCompsExistOnAccount != '' && LobType == "POSTGSM" && AccountType == "P") {
										if (DataCompsExistOnAccount == 'False' && IsGreater2GBCompExists == "False") {
											$('#Notification_Error').html(Msg_Comp2GBExists);
											$('#Notification_Error').css('color', 'red');
											$('#PopUP').hide();
											return false;
										}
									}

								}
							}

							if (isMISM === 'True') {
								if (type == 4) {
									// Multi to Normal
									
									$('#Notification').html(Msg_M2N1);
									$('#Notification').css('color', '');
									return true;
								}
							}
							else {
								if (AccountType == 'S' && type == 2) {
									// Suppline Normal to MISM
									$('#Notification_Error').html(Msg_SupN2M);
									$('#Notification_Error').css('color', 'red');
									return true;
								}
								if (AccountType == 'P' && type == 2) {
									// Normal to MISM
									$('#Notification').html(Msg_N2M);
									$('#Notification').css('color', '');
									return true;
								}
							}
						}
					});
				}
			}
		}

		function disableEnableNextButton() {
		    var Notification_Error = $('#Notification_Error').text();
		    var disabled = $('#Next').attr('disabled');
		    
			if (Notification_Error == '') {
				$('#Next').attr("disabled", false);
			}
			else {
			    if (disabled != "disabled") {
					$('#Next').attr("disabled", true);
				}
			}
		}

		function showdivAccDtls() {debugger;

			var msisdnno = $('#MSISDN').val();
			var mobregex = /^60[0-9]{8,10}$/;
			$('#Dealer_Error').hide();
			if (msisdnno == "") {
				$('#Dealer_Error').show();
				$('#Dealer_Error').html('Please Enter MSISDN.');
				$("html, body").animate({ scrollTop: 0 }, "slow");
				return false;
			}
			else if (msisdnno != "") {
				if (!mobregex.test(msisdnno)) {
					$('#Dealer_Error').show();
					$('#Dealer_Error').html("Please enter valid MSISDN number");
					return false;
				}
			}
			if ($('tr[id*="' + msisdnno + '"]').length > 0) {
				$('#dvDealers').hide();
				$('#DVResultDisplay').show();
				$('#search-table tr').hide();
				$('#tblheader').show();
				$('tr[id*="' + msisdnno + '"]').show();
				$('#divHeader').show();
				$('tr#div-' + msisdnno + ' input[name=SelectedAccountDtls]:first').prop('checked', 'checked');
				selectAccount($('tr[id*="' + msisdnno + '"]'));
			}
			else {
				$('#Dealer_Error').show();
				$('#Dealer_Error').html("Please enter Valid Principal/Primary MSISDN");
				return false;
			}
		}

		function prepaidValidate() {
		    debugger;
			var url = '@(Url.Content("~/QSimReplacement/prepaidStatusCheck"))';
			var value = 0;

			$.ajax({
			    type: "POST",
			    dataType: "json",
			    url: url,
			    async: false,
			    data: { Details: $('#SelectedAccountDtls').val() },
			    success: function (data) {
			        debugger;
			        if (data == "0") {
			            $('#dvError').html("The selected MSISDN is classified as Pre-Active/Recycle, SIM Replacement is not allowed.");
			            value = "0";
			        }
			        else if (data == "1") {
			            $('#dvError').html("Error occurred while retrieving the Prepaid MSISDN status, please try after sometime");
			            value = "0";
			        }
			        else if (data == "2") {
			            $('#dvError').html("Error occurred while retrieving the Prepaid MSISDN status, please try after sometime");
			            value = "0";
			        }
			        else if (data == "") {
			            value = "1";
			        }
			    }
			});
			return value;
		}

		$(document).ready(function () {
		    //hideError();

		    var msisdnno = $('#MSISDN').val();
		    if (msisdnno != "") showdivAccDtls();

		    $('#Dealer_Error').hide();
		    if ('@(isDealer)' == "True") {
		        if ('@(idCardTypeName)' != "MSISDN") {
		            $('#DVResultDisplay').hide();
		            $('#dvDealers').show();
		            $('#divHeader').hide();
		        }
		        else {
		            if ('@CurMsisdn' != '') {
		                $('#MSISDN').val('@CurMsisdn');
		                showdivAccDtls();
		            }
		        }
		    }

		    $('li[class^="sr-sim-button"]').click(function () {
		        generateMessage();
		        disableEnableNextButton();
		    });

		    var table_Props = {
		        stylesheet: '@Url.Content("~/Content/css/filtergrid.css")',
		        on_keyup: true,
		        on_keyup_delay: 100,
		        col_1: "none",
		        col_2: "select",
		        col_3: "select",
		        col_4: "select",
		        col_5: "select",
		        display_all_text: "[All]"
		    };
		    if ('@(isDealer)' == "False") {
		        var tf = setFilterGrid("search-table", table_Props);
		        // put msisdn number in filter
		        var msisdn = '@(msisdn)';
		        if (msisdn !== '') $('#flt0_search-table').val(msisdn);
		    };

		});

		function CheckBRE_HS_SR(button, redirectURL, validateDataValue1, validateDataValue2) {
		    var postUrl = '@(Url.Content("~/Home/CheckBRE_HS"))';
		    var isHardstop = false;
		    $.ajax({
		        type: "POST",
		        dataType: "json",
		        url: postUrl,
		        async: false,
		        data: { button: button, id: validateDataValue1, msisdn: validateDataValue2, redirectURL: redirectURL },
		        success: function (data) {

		            // Fraud Check
		            if (data.isFraud == "True" && data.FraudTreatment == "HS") {
		                alert("One or more accounts have been tagged as In-Fraud.");
		                isHardstop = true;
		            }
		            // BRE Check
		            else if (data.CheckBREHS == "True") {

		                // Triggering Hard Stop Message
		                if (data.HSList != "") {
		                    if (data.HSList.indexOf("Writeoff") > -1) {
		                        alert("Unable to proceed with transaction. Please clear the written-off amount and legal fees (if any).");
		                    }
		                    else {
		                        alert(data.HSList + " failed. You cannot proceed with the Registration");
		                    }
		                    isHardstop = true;
		                }

		                // Triggering Approval Pop-up
                        // TODO: Check the hardstop point for Supervisor Approval once approval given
		                if (data.ApprovalList != "") {
		                    $('#approval-popup').modal('show');
		                    $('#approvalList_ID').html(data.ApprovalList);
		                    isHardstop = true;
		                }
		            }
		        }
		    });

		    return isHardstop;
		}

	</script>
}
