﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@using Telerik.Web.Mvc.UI;
@using System.Text;
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
<script type="text/javascript">

    var thirdSIMCardTypeID = '';
    var ThirdParty = false;
    var idType = '';
    var idTypeID = '';
    var icThirdPartyVerified = '';
    var ThirdPartyJustification = '';

    if (window.history.forward(1) != null) {
        window.history.forward(1);
    }

    function AlertPrint() {
    }
</script>

@{
	Layout = "~/Views/Shared/_NewLayout.cshtml";
	var fromIpad = Request.Headers["User-Agent"].ToLower().Contains("ipad");
	var containerClass = fromIpad ? "container-fluid ipad-container" : "container";
	var OSWidth = fromIpad ? "70%" : "65%";
	if (Model == null)
	{
		return;
	}

	var SIMType = Session["SimType"] == null ? "Normal" : Session["SimType"].ToString();
	var userLogin = Util.SessionAccess.UserName;
	ViewBag.Title = "SIM Replacement";
	var isDealer = Session["IsDealer"].ToBool();
	var idCardType = Session[Online.Registration.Web.CommonEnum.SessionKey.IDCardTypeID.ToString()];
	var biometricCheck = Session["RegMobileReg_BiometricVerify"].ToString2().ToLower();
	bool fromMobileDevice = Request.Headers["User-Agent"].ToLower().Contains("ipad");
	var OutstandingCreditCheck = string.Empty;
	var TotalLineCheck = string.Empty;
	var isJustification = false;
	var userIds = (IEnumerable<int>)Session["UserGroupId"];
	var BRECheckDetails = new List<Online.Registration.DAL.Models.BRECheck>();
	if (!ReferenceEquals(userIds, null))
	{
		BRECheckDetails = Util.GetBRECheckDetails(userIds.ToList()).ToList();
	}


	var fxAcctNo = Model.fxAcctNo;
	var FxSubscrNo = Model.FxSubscrNo;
	var FxSubScrNoResets = Model.FxSubScrNoResets;
	var newexternalIdTypeField = Model.SIMModel;
	var Msisdn = Session["ExternalID"].ToString2();
	var accountType = Session["AccountType"].ToString2();
	var cmss = "0";
	var iswaiver = true;
	var penalty = 0;
	var reasonId = 0;
	var waiverAmt = 0;
	decimal initialCharges = 0;
	var simModelId = 0;
	var simArticalId = 0;
	var sessionStatusDescription = string.Empty;
	string sessionStatusFailMsg = string.Empty;
	var hasSIM = string.IsNullOrEmpty(Model.RegSIMSerial) ? false : true;
	var simOnly = Model.RegTypeID == Util.GetIDByCode(RefType.RegType, Settings.Default.RegType_PlanOnly) ? true : false;
	Online.Registration.Web.UserSvc.GetAPIStatusMessagesResp ApiMessages = null;
	string sessionStatusCodeDescription = string.Empty;
	string simAccountType = Session["AccountType"].ToString2();
	if (!ReferenceEquals(Session["ApiMessages"], null))
	{
		ApiMessages = (Online.Registration.Web.UserSvc.GetAPIStatusMessagesResp)Session["ApiMessages"];
	}
	Online.Registration.DAL.Models.SimReplacementReasons objSimReplacementReasons = null;
	if (Session["RegMobileReg_SimReplacementReasons"] != null)
	{
		objSimReplacementReasons = (Online.Registration.DAL.Models.SimReplacementReasons)Session["RegMobileReg_SimReplacementReasons"];
	}
	SimReplacementReasonDetails objSimReplacementReasonDetails = new SimReplacementReasonDetails();
	if (Session["SimReplacement_WaiverDetails"] != null)
	{
		objSimReplacementReasonDetails = (SimReplacementReasonDetails)Session["SimReplacement_WaiverDetails"];
		simModelId = objSimReplacementReasonDetails.SimModelId;
		simArticalId = objSimReplacementReasonDetails.SimArticalId;
	}
	#region "SimReplacement Waiver Off"
	var isWaiverOpted = false;
   // if (!ReferenceEquals(Model.isWaiverOff, null) && (Model.AccountType == "POSTGSM" || Model.AccountType == "FWBB")) //10-12-2015 Karyne:FWBB uses HSDPA sim
	if (!ReferenceEquals(Model.isWaiverOff, null) && (Model.AccountType == "POSTGSM"))
    {
		isWaiverOpted = Model.isWaiverOff;
	}
	#endregion
	string imposFileStatus = string.Empty;
	bool isIMPOSFile = false;
	string imposFileGetStatus = System.Configuration.ConfigurationManager.AppSettings["ImposFileStatus"].ToString2();
	string imposFileNotProcessed = System.Configuration.ConfigurationManager.AppSettings["ImposFileNotProcessed"].ToString2();
	if (Roles.IsUserInRole("MREG_CH") && Model.RegID > 0)
	{
		isIMPOSFile = Util.IsImposFile(Model.RegID, Model.RegTypeID, out imposFileStatus);

		if (imposFileStatus == "A")
		{
			Model.StatusCode = Settings.Default.Status_RegCan;
			Model.StatusID = Util.GetIDByCode(RefType.Status, Settings.Default.Status_RegCan);
			Model.Remarks = System.Configuration.ConfigurationManager.AppSettings["ImposFileAborted"].ToString2();
		}
	}
	var printsuccess = Session["printsuccess"].ToString2();
	Session["printsuccess"] = null;
	var selectedPrinter = Session["selectedPrinter"].ToString2();
	Session["selectedPrinter"] = null;
	var printErrorMsg = Session[Online.Registration.Web.CommonEnum.SessionKey.PrintErrorMsg.ToString()].ToString2();
	Session[Online.Registration.Web.CommonEnum.SessionKey.PrintErrorMsg.ToString()] = null;


	var simSerialLen = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["SIMSerialMin"]);
	int SimReplaceType = Session["SimReplacementType"].ToInt();
	Online.Registration.Web.ViewModels.SimDetlsList objSimDetails = null;
	if (Session["Old_SimDetails"] != null)
	{
		objSimDetails = (SimDetlsList)Session["Old_SimDetails"];
	}
	bool isRegSubmitted = Model.RegID > 0 ? true : false;

	decimal lblStaticPrice = 0;
	if (simAccountType == "PREGSM")
	{
		lblStaticPrice = System.Configuration.ConfigurationManager.AppSettings.Get("pregsmStaticPrice").ToDecimal();
	}
    else if (simAccountType == "POSTGSM" || simAccountType == "FWBB" || simAccountType == "HSDPA")
	{
		lblStaticPrice = System.Configuration.ConfigurationManager.AppSettings.Get("postgsmStaticPrice").ToDecimal();
	}

	var isSignatureRequired = Model.RegID == 0 ? WebHelper.Instance.isSignatureRequired() : false;
	var isUploadRequired = Model.RegID == 0 ? WebHelper.Instance.isUploadRequired() : false;

    var NewICCardTypeID = Settings.Default.IDCardType_NRIC;
    var Passport = Settings.Default.IDCardType_NRPP;
    var OldICCardTypeID = Settings.Default.IDCardType_NROIC;
	
}

<div class="@containerClass">
	<div class="isell-base">
	   
		<div class="row">
			@{
				var viewBagValue = new ViewDataDictionary();
				viewBagValue.Add("headerLabel", "SIM Replacement:");
				Html.RenderPartial("_AccountHolderName", viewBagValue);
			}
		</div>
		<div class="row">
			<div class="col-sm-12 green-bg">
				<p class="font-24">
					SIM Replacement</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
			@{
                Boolean haveVASSelection = SimReplaceType == (int)SimReplacementType.N2M && isRegSubmitted == false && Session["Comp2GBExists"].ToInt() == 1;
				string width = haveVASSelection ? string.Empty : "width: 290px";
			}
				<ul class="steps" style="@width">
					<li class="shownum">
						<div class="num">1</div>
						<p>Account & SIM Type Selection</p>
					</li>
					<li>
						<div class="line"></div>
					</li>
					@if (haveVASSelection)
					{
						<li class="shownum">
							<div class="num">2</div>
							<p>Primary VAS</p>
						</li>
						<li>
							<div class="line"></div>
						</li>
						<li class="shownum">
							<div class="selected">3</div>
							<p>Order Summary</p>
						</li>
					}
					else
					{ 
						<li class="shownum">
							<div class="selected">2</div>
							<p>Order Summary</p>
						</li>
					}
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 grey-bg">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs line-tab" role="tablist">
					<li class="active"><a href="#principle" role="tab" data-toggle="tab">
						SIM Replacement
					</a><span
						class="active-green-arrow"></span></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<p class="device-title" style="margin-top: 0px; margin-bottom: 0px;">
				@{
					switch (SimReplaceType)
					{
						case (int)SimReplacementType.N2N:
							<span>SIM Replacement - Normal to Normal</span>            
							break;
						case (int)SimReplacementType.N2M:
							<span>SIM Replacement - Normal to MISM</span>            
							break;
						case (int)SimReplacementType.M2M:
							<span>SIM Replacement - MISM to MISM</span>            
							break;
						case (int)SimReplacementType.M2N:
							<span>SIM Replacement - MISM to Normal</span>            
							break;
						case (int)SimReplacementType.HSDPA:
							<span>SIM Replacement - HSDPA</span>            
							break;
						case (int)SimReplacementType.FWBB:
							<span>SIM Replacement - FWBB</span>            
							break;
						case (int)SimReplacementType.PREPAID:
							<span>SIM Replacement - Prepaid</span>            
							break;
						default:
							<span>SIM Replacement</span>
							break;
					}
				}</p>

				<div id="Plan_Error" class="details-title" style="color:Red; margin:0px; padding-left:20px; padding-bottom:5px; font-size:14px; font-weight: bold; ">
					@Html.ValidationSummary(true)
				</div>
				@*<div id="divError" style="color: Red;">
					@Html.ValidationSummary(false)
				</div>*@
				<p class="font-16">@(ViewBag.GSTnotif)</p>
			</div>
			
		</div>
	
	@using (Html.BeginForm("CustomerSummaryNew", "QSimReplacement", FormMethod.Post, new { id = "frmQSimReplacement", @class = "overlayonsubmit", processmsg = "Loading" }))
	{        
		@Html.Hidden("hdnReasonCancel")
		@Html.Hidden("CaptureImageValue")
		@Html.Hidden("DealerSecondarySimSerial")
		@Html.Hidden("hdnChanges")
		@Html.Hidden("hdnWaiverInfo")
		@Html.Hidden("hdnSimModelSec")
		@Html.Hidden("hdnTotalPayable")
		@Html.Hidden("submit1")
		<input type="hidden" id="hdnUserRole" value=@Roles.IsUserInRole("MREG_SK") />
		<input type="hidden" id="hdnStatusId" value=@Model.StatusID />
		@Html.HiddenFor(a => a.TabNumber)
		@Html.HiddenFor(a => a.ExtraTenMobileNumbers)
		@Html.HiddenFor(model => model.RegIMEINumber)
		@Html.HiddenFor(model => model.RegSIMSerial)
		@Html.HiddenFor(model => model.Customer.FullName)
		@Html.HiddenFor(model => model.Customer.Gender)
		@Html.HiddenFor(model => model.Customer.IDCardNo)
		@Html.HiddenFor(model => model.Customer.ContactNo)
		@Html.HiddenFor(model => model.Customer.EmailAddr)
		@Html.HiddenFor(model => model.ExtraTenLimitConfirmation)
		@Html.HiddenFor(model => model.ExtraTenConfirmation)
		@Html.HiddenFor(model => model.hdnExtraTenCount)
		@Html.HiddenFor(model => model.MOCStatus)
		@Html.HiddenFor(model => model.Liberlization_Status)
		@Html.HiddenFor(model => model.RegID)
		@Html.HiddenFor(model => model.AccountType)
		@Html.HiddenFor(model => model.frontDocumentName)
		@Html.HiddenFor(model => model.backDocumentName)
		@Html.HiddenFor(model => model.othDocumentName)
		<input type="hidden" id="hdnfxAcctNo" name="hdnfxAcctNo" value="@fxAcctNo" />
		<input type="hidden" id="hdnFxSubscrNo" name="hdnFxSubscrNo" value="@FxSubscrNo" />
		<input type="hidden" id="hdnFxSubScrNoResets" name="hdnFxSubScrNoResets" value="@FxSubScrNoResets" />
		<input type="hidden" id="hdnnewexternalIdTypeField" name="hdnnewexternalIdTypeField" value="@newexternalIdTypeField" />
		<input type="hidden" id="hdnBackcmss"  value='@cmss' />
		<input type="hidden" id="hdnBackiswaiver"  value='@iswaiver' />
		<input type="hidden" id="hdnBackpenalty"  value='@penalty' />
		<input type="hidden" id="hdnwaiver" name="hdniswaiver" value="false" />
		<input type="hidden" id="hdnReason"  value='@reasonId' />
		<input type="hidden" id="hdnwaiverAmt"  value='@waiverAmt' />
		<input type="hidden" id="hdninitialCharges"  value='@initialCharges' />
		<input type="hidden" id="hdnisPartialwaiver" name="hdnisPartialwaiver" value="No" />
		<input type="hidden" id="hdnCmssIds" name="hdnCmssIds" value="" />
		<input type="hidden" id="hdnwaiverAmount" name="hdnwaiverAmount" value="0" />
		<input type="hidden" id="hdnInitialPenaltyCharges" name="hdnInitialPenaltyCharges" value="0" />
		<input type="hidden" id="hdnvalsimSerial" value="" />
		<input type="hidden" id="hdnSimModel" name="hdnSimModel" value="" />
		<input type="hidden" id="hdnActvdt" name="hdnActvdt" value="" />
		<input type="hidden" id="hdnsimModelId"  value='@simModelId' />
		<input type="hidden" id="hdnsimArticalId"  value='@simArticalId' />
		<input type="hidden" id="hdnSelectedSimType"  name="hdnSelectedSimType" value='@SIMType' />
		<input type="hidden" id="hdnConfigIsWaiver"  value='@System.Web.Configuration.WebConfigurationManager.AppSettings["IsWaiverApply"].ToString2()' />

		<div class="row" >
			<div class="col-sm-12 border-top">
				<p class="details-title">SIM Type and Reason Selection</p>
			</div>
			<div class="col-sm-12">
				<div class="col-sm-9 form paddingOverall">

					<div class="row">
						<div class="col-sm-4 sr-inner-label">Current SIM Serial Number</div>
						<div class="col-sm-4 sr-inner-content">
							@(objSimDetails != null ? objSimDetails.ExteranalId : string.Empty)</div>
						<div class="col-sm-4"></div>
					</div>
					<div class="row">
						<div class="col-sm-4 sr-inner-label">Current SIM Type</div>
						<div class="col-sm-4 sr-inner-content">
							@(objSimDetails != null ? objSimDetails.InventoryDisplayValue : string.Empty)</div>
						<div class="col-sm-4"></div>
					</div>
					<div class="row">
						<div class="col-sm-4 sr-inner-label">MSISDN</div>
						<div class="col-sm-4 sr-inner-content">
							@Msisdn</div>
						<div class="col-sm-4"></div>
					</div>
					<div class="row">
						<div class="col-sm-4 sr-inner-label">Activation Date</div>
						<div class="col-sm-4 sr-inner-content" id="activeDate">
							@*@(objSimDetails != null ? objSimDetails.ActiveDt : string.Empty)*@
                            <input type="hidden" id="hdnActiveDt" name="hdnActiveDt" value= '@(objSimDetails != null ? objSimDetails.ActiveDt : string.Empty)' />
                        </div>
						<div class="col-sm-4"></div>
					</div>
					<div class="row">
						<div class="col-sm-4 sr-inner-label">Reason for SIM replacement</div>
						@{
							List<SelectListItem> ReasonList = new List<SelectListItem>();
                            //if (accountType == "POSTGSM" || accountType == "FWBB") //10-12-2015 Karyne:FWBB uses HSDPA sim
                            if (accountType == "POSTGSM")
                            {
								ReasonList = Util.GetList(RefType.SimReplacementReason, defaultValue: string.Empty, simreplaceType: SimReplaceType.ToInt());
							}
							else
							{
								ReasonList = Util.GetList(RefType.SimReplacementprePaidReason, defaultValue: string.Empty);
							}
						}
                        <div class="col-sm-6 sr-inner-content" style="width:370px">
						    <div class="input-select-accessory css-select-moz">
                                <div class="dropdown-accessory">
                                </div>
							    @Html.DropDownListFor(x => x.SimReplReasonCode, Util.GetList(RefType.SimReplacementReason, defaultValue: string.Empty, simreplaceType: SimReplaceType.ToInt()), new
                                {
                                    @class = "sr-inner-content green-border-dropdown dropdown-accessory",
	                                @style = "height: 38px;font-size:18px",
	                                @onchange = "SimReplacementReasonChange();"
                                
                                })
							    <div class="input-group-btn number-type"></div>
						    </div>
                        </div>
						<div class="col-sm-4"></div>
					</div>
					<div class="row">
						<div class="col-sm-4 sr-inner-label">
						@{
							switch (SimReplaceType)
							{
								case (int)SimReplacementType.N2N:
									<span>New SIM Serial Number*</span>            
									break;
								case (int)SimReplacementType.N2M:
									<span>Primary MISM Serial Number*</span>            
									break;
								case (int)SimReplacementType.M2M:
									<span>New MISM Serial Number*</span>            
									break;
								case (int)SimReplacementType.M2N:
									<span>New SIM Serial Number*</span>            
									break;
								default:
									<span>New SIM Serial Number*</span>
									break;
							}
						}
						</div>
						<div class="col-sm-6 sr-inner-content" style="width:370px"><input class="form-control green-border-input" id="txtSIMSerial" name="simSerial"style="height: 38px;font-size:18px;width: 100%" value="@(Model.SimReplacementsVM.PrimarySimSerial)" /></div>
						<div class="col-sm-4"></div>
					</div>
					@if (!isDealer)
					{
						<div class="row">
							<div class="col-sm-4 sr-inner-label">
							@{
								switch (SimReplaceType)
								{
									case (int)SimReplacementType.N2M:
										<span>Primary MISM Model*</span>            
										break;
									default:
										<span>SIM Model*</span>
										break;
								}
							}
							</div>
							<div class="col-sm-4 sr-inner-content"><label id="simModel"></label></div>
							<div class="col-sm-4"></div>
						</div>
					}
					@if (SimReplaceType == (int)SimReplacementType.N2M && (string.IsNullOrEmpty(Session["DelearSecondarySim"].ToString2())))
					{ 
						<div class="row">
							<div class="col-sm-4 sr-inner-label">Secondary MISM Serial Number*</div>
							<div class="col-sm-6 sr-inner-content" style="width:370px">
								<input class="form-control green-border-input" id="txtSIMSerialSeco" name="simSerialSec"style="height: 38px;font-size:18px;width: 100%" value="@(Model.SimReplacementsVM.SecondarySimSerial)" /></div>
							<div class="col-sm-4"></div>
						</div>
                        if (!isDealer)
                        {
						    <div class="row">
							    <div class="col-sm-4 sr-inner-label">Secondary MISM Model*</div>
							    <div class="col-sm-4 sr-inner-content"><label id="simModelSeco"></label></div>
							    <div class="col-sm-4"></div>
						    </div>
                        }
					}
					@if (!isDealer && Session["AccountType"].ToString2().ToUpper() == "PREGSM")
					{
						<div class="row" id="tutpregsm">
							<div class="col-sm-4 sr-inner-label">TUT Serial*</div>
							<div class="col-sm-6 sr-inner-content" style="width:370px">
								<input class="form-control green-border-input" id="txtTUTSIMSerial" name="tutSimSerial"style="height: 38px;font-size:18px;width: 100%" /></div>
							<div class="col-sm-4"></div>
						</div>
					}
					<div class="row">
						<div class="col-sm-4 sr-inner-label">Charges Applicable</div>
						<div class="col-sm-4 sr-inner-content"><span id="Price"></span><input type="hidden" id="hdnprice" name="initialCharges" /> @ViewBag.GSTMark</div>
						<div class="col-sm-4">
						@*if (Session["AccountType"].ToString2().ToUpper() == "POSTGSM" || Session["AccountType"].ToString2().ToUpper() == "FWBB") //10-12-2015 Karyne:FWBB uses HSDPA sim *@
						@if (Session["AccountType"].ToString2().ToUpper() == "POSTGSM")
                        {
							<div id="DivChkClick" style="display: none">
								<input type="checkbox" id="chkWaiver" onclick="onChkClick();" disabled="disabled" />&nbsp;&nbsp;Waived
							</div> 
						}
						</div>
					</div>
					

					@if (System.Web.Configuration.WebConfigurationManager.AppSettings["IsWaiverApply"].ToString2() == "Yes")
					{
						<div class="row">
							<div class="col-sm-4">Waiver Applied*</div>
							<div class="col-sm-4">
								<div id="summary-data">
									No Early Termination Fee Waiver
									<input type="radio" value="No" name="rdbWaiverOpitons" id="rdbNo" checked="checked" />
								</div>
								<div id="summary-data">
									Full Early Termination Fee Waiver
									<input type="radio" id="rdbYes" value="Yes" name="rdbWaiverOpitons" />
								</div>
							</div>
							<div class="col-sm-4"></div>
						</div>
					}
					<div class="row">
						<div class="col-sm-4"></div>
						<div class="col-sm-4">
							<b><span id="spnWaiverMessage" class="ErrorClass" style="display:none"></span></b>
							<input type="hidden" id="hdnMsg" value="Please perform SIM Replacement fee waiver in Kenan CC (if required)" />
							<input type="hidden" id="hdnAccountType"  value='@accountType.ToString2()' /></div>
						<div class="col-sm-4"></div>
					</div>
								
					@if (Session["AllowSimReplacement"].ToString2() == "True" && Model.RegID <= 0 && !isDealer)
					{
						<div class="row">
							<div class="col-sm-4 sr-inner-label">New CBR No*</div>
							<div class="col-sm-6 sr-inner-content" style="width:370px"><input class="form-control green-border-input" style="height: 38px;font-size:18px;width: 100%; margin:0px; border-radius:20px" type="text" id="txtNewCBR" name="NewCBR" maxlength="12" /></div>
							<div class="col-sm-4"></div>
						</div>
					}
				</div>

				<div class="col-sm-3" style="width:30%; position:absolute; left:@(OSWidth); z-index:1;">
					@{
						viewBagValue = new ViewDataDictionary();
						viewBagValue.Add("GSTMark", ViewBag.GSTMark);
					}
                    @Html.Partial("_OrderSummaryNew", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"], viewBagValue)
				</div>
			</div>

		</div>
		<div class="row details even">
			<div class="col-sm-12 border-top"><p class="details-title">Customer Information</p></div>
			@{
				var viewBagVal = new ViewDataDictionary();
				viewBagVal.Add("simType", "Normal");
				viewBagVal.Add("IsMNPWithMultpleLines", false);
				viewBagVal.Add("ControllerName", "SIM Replacement");
				Html.RenderPartial("_CustomerDetailsNew", Model, viewBagVal);
			}
		</div>

		Html.RenderPartial("_BillingAddressNew", Model, viewBagVal);
		Html.RenderPartial("_UploadDocuments", Model);
		Html.RenderPartial("_SummaryTnC", Model);
				
		@*<div style="height: 80px;" class="content_white">
			<div style="float: right; padding-right: 20px;"></div>
			<div style="clear: both;">
			</div>
		</div>*@
	}
	</div>
</div>


@section Scripts{
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/jSignature.min.js")"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js2/Html5ImageUpload.js")"></script>
<script type="text/javascript" language="javascript">
	
	$('#Customer_ContactNo').prop('disabled', true);
	$('#Customer_ContactNo').css({ "background-color": '#F2F2F2' });
	$('#btnCaptureImage1').click(function()
	{
	  $('#CaptureImageValue').val('imgCustPhoto');
	});

	$('#btnCaptureImage2').click(function()
	{
	  $('#CaptureImageValue').val('imgAltCustPhoto');
	});

	$('#btnCaptureImage3').click(function()
	{
	  $('#CaptureImageValue').val('imgPhoto');
	});
		  

	function DMESAVE()
	{
		var postUrl = '@(Url.Content("~/Registration/PrintDMEOrder"))';
		$.post(postUrl, { regId: '@Model.RegID' }, function (data) {
			if(data.toString()!="0") {
				alert("Order Id Saved Sucessfully");
			}
			else {
				alert("This order is already Saved for Print");
			}
		});
	}

	var reason = null;
	var totalPrice = 0;
	var SimModelDtls = '';
	var SimModelDtls_Sec = '';
	var SimArticleID = '';
	
	function getGender(){
		return $('#Customer_Gender').val();
	}

	function updateGender(value){
		$('#Customer_Gender').val(value);
		$('.gender').each(function (i, e) {
			var selectedValue = $(this).data('value');
			if (selectedValue == value ) {
				clearGenderButton(i);
			}
		});
	}

    initCheckMandetoryFields('@(Passport)', '@(OldICCardTypeID)', '@(NewICCardTypeID)');
    $("#searchOptions li a").click(function (e) {
        e.preventDefault();
        $('#filterText').text($(this).text());
        thirdSIMCardTypeID = $(this).data('value');
        idType = thirdSIMCardTypeID.split(',')[0];
        idTypeID = thirdSIMCardTypeID.split(',')[1];
        $('#ThirdSIMType').val(idType);
        $('#ThirdSIMTypeID').val(idTypeID);
        console.log(idTypeID);
        IdTypeChange('errorMsgPanel', idType);
        $('#idCardTypeIDSTR').val(idType);
        $('#idCardTypeIDINT').val(idTypeID);
        $('#authorizedName').val('');
        $('#authorizedID').val('');
        $('#authorizedContact').val('');
        
        $("#statusRedCheck").hide();
        var idCardNo = $('#authorizedID').val();
        var RetrieveMyKadInfo = '@(Url.Content("~/QSimReplacement/getBreValidation"))';
        $.post(RetrieveMyKadInfo, { ruleOverride: 'ThirdPartySIM' }, function (data) {
            var dataJson = jQuery.parseJSON(data);
            if (dataJson != "")
            {
                $('#Justification_Error').html('Please Enter Justification For - ' + dataJson);
            }
            else
            {
                $('#Justification_Error').html('');
            }
        }, "text");

        if(idTypeID == "2" || idTypeID == "4")
        {
            $("#checkThirdID").hide();
            $('#authorizedName').css({ "background-color": '#FFFFFF' });
            $('#authorizedName').attr('readonly', false);
        }
        if(idTypeID == "1")
        {
            $("#checkThirdID").show();
            $('#authorizedName').css({ "background-color": '#F2F2F2' });
            $('#authorizedName').attr('readonly', true);
        }
    });

	$(document).ready(function () {
        $("#ThirdPartyCheckBox").val(false);

		if (getGender() != '')
				updateGender(getGender());

//		$('span').each(function(){
//			if ($(this).hasClass('drop-arrow'))
//			{
//				$(this).removeClass('drop-arrow');
//				$(this).addClass('drop-arrow-disable');
//			}
//		});

		$("#signature").jSignature({
			'height': 180,
			'width': 400
		});

		if('@isWaiverOpted'.toLowerCase()=='true') {
			$('#chkWaiver').attr('checked','checked');
		}

		totalPrice =parseFloat($('#spnTotalPayable').text());
		if ($('#hdnActiveDt').val() != '' && $('#hdnActiveDt').val() != undefined && $('#hdnActiveDt').val() != '\t' && $('#hdnActiveDt').val() != '/') {
			var actvdt = $('#hdnActiveDt').val().substr(0, 4) + '-' +
							$('#hdnActiveDt').val().substr(5, 2) + '-' +
							$('#hdnActiveDt').val().substr(8, 2);
			$('#activeDate').html(actvdt);
		}

        preValidateSIMSerial();
	});

	$('#btnCancel').click(function () {
		window.location = '@(Url.Content("~/QSimReplacement/SelectSecondaryVAS"))';
	});
		
	var strWavier="";
	$('.clsWaiver').click(function() {
		strWavier="";
		$('.clsWaiver').each(function() {
			var curValuve = $(this).attr("value");
			if($(this).attr("checked")=="checked") {
				var curType =curValuve.toString().split('~')[3].toString();
				var curText = curValuve.toString().split('~')[0].toString();
				switch (curType.toUpperCase()) {
					case "P":
						if (curValuve.toString().split('~')[1] != '0') {
							strWavier = strWavier + "Primary " + curText + ", ";
						}
						else {
							strWavier = strWavier + curText + ", ";
						}
						break;
					case "S":
						if (curValuve.toString().split('~')[1] != '0') {
							strWavier = strWavier + "Secondary " + curText + ", ";
						}
						else {
							strWavier = strWavier + curText + ", ";
						}
						break;
					default:
						strWavier = strWavier + curText + ", ";
						break;
				}
			}
		});
	});
	
	$("#txtSIMSerial").focusout(function() {
		var inputSIM = $('#txtSIMSerial').val();
		var testiem = @(SimReplaceType);
		  
		if(inputSIM != '') {
			if($.trim(inputSIM) == $.trim($('.tdSimOldSerial').html())) {
				$('#Plan_Error').html('@(Settings.Default.SimSerialGenericError.ToString2())');
				$('#Plan_Error').show();
				$('#txtSIMSerial').val('');
				$('#simModel').html('');
				$("html, body").animate({ scrollTop: 0 }, "slow")
				$('#txtSIMSerial').focus();
				return;
			}
			var url = '@(Url.Content("~/QSimReplacement/CheckSimModel"))';
			var simSerialModel= "";
			$.post(url, { sim:inputSIM }, function (data) {
				if(data != '') {
					$('#Plan_Error').html('');
					var _isDealer= '@Session["IsDealer"].ToBool()';                
					$('#simModel').html(data.toString().split('ä')[0]);
					SimModelDtls = data.toString().split('ä')[1];
					SimArticleID = SimModelDtls.split(',')[0];
					SimReplacementReasonChange('false');

                  /*  if ('@Session["IsDealer"].ToBool()' == "False"){
                        if (($('#txtSIMSerial').length > 0 && ('@Session["AccountType"].ToString2().ToUpper()' == "HSDPA") && SimArticleID != '163') || 
                        ($('#txtSIMSerial').length > 0 && ('@Session["AccountType"].ToString2().ToUpper()' != "HSDPA") && SimArticleID == '163')) {
				            $('#Plan_Error').html('@(Settings.Default.SimSerialGenericError.ToString2())');
				            $('#Plan_Error').show();
				            $('#txtSIMSerial').val('');
				            $('#simModel').html('');
				            $("html, body").animate({ scrollTop: 0 }, "slow")
				            $('#txtSIMSerial').focus();
                         }
                     } */
				}
				else {
					var testiem2 = @(SimReplaceType);
					$('#Plan_Error').html('@(Settings.Default.SimSerialGenericError.ToString2())');
					$('#Plan_Error').show();
					$('#txtSIMSerial').val('');
					$('#simModel').html('');
					$("html, body").animate({ scrollTop: 0 }, "slow")
					document.getElementById("txtSIMSerial").focus();
					return;
				}
			}, "text");
		}
		else if (inputSIM == '') {
			$('#simModel').html('');
		}
	});

		  
	
	$("#txtSIMSerialSeco").focusout(function() {
		var inputSIMSec = $('#txtSIMSerialSeco').val();
		if(inputSIMSec != '') {
			var url = '@(Url.Content("~/QSimReplacement/CheckSimModel"))';
			$.post(url, { sim:inputSIMSec }, function (data) {
				if(data != '') {
					$('#simModelSeco').html(data.toString().split('ä')[0]);
					SimModelDtls_Sec = data.toString().split('ä')[1];
				}
				else {
					var testiem2 = @(SimReplaceType);
					$('#Plan_Error').html('@(Settings.Default.SimSerialGenericError.ToString2())');
					$('#Plan_Error').show();
					$('#txtSIMSerialSeco').val('');
					$('#simModelSeco').html('');
					$("html, body").animate({ scrollTop: 0 }, "slow")
					$('#txtSIMSerialSeco').focus();
				}
			}, "text");
		}
		else {
			$('#simModelSeco').html('');
			return;
		}
	});

    $("#tutpregsm").focusout(function() {
        var inputTUT = $('#txtTUTSIMSerial').val();
        if(inputTUT != '') {
            var inputSIM = $('#txtSIMSerial').val();
		    if( inputSIM == '' || inputSIM == '\t') {
			    if('@SimReplaceType' == 2) {
				    $('#Plan_Error').html('Please Enter Primary SIM Serial Number');
			    }
			    else {
				    $('#Plan_Error').html('Please Enter SIM Serial Number');
			    }
			    $('#Plan_Error').show();
                $('#txtTUTSIMSerial').val('');
                $('#txtSIMSerial').focus();
			    $("html, body").animate({ scrollTop: 0 }, "slow")
			    return false;
		    }
		    var url = '@(Url.Content("~/QSimReplacement/CheckSimSerialAndTUT"))';
            var testinputSIM = inputSIM;
            var testSimModelDtls = SimModelDtls;
		    $.post(url, { sim:inputSIM, simmodel:SimModelDtls,simtut:inputTUT }, function (data) {
			    if('@Session["AccountType"].ToString2().ToUpper()' == "PREGSM" && data.toString()=="TUT") {
				    $('#Plan_Error').html('TUT Serial is not valid');
				    $('#Plan_Error').show();
				    $('#txtTUTSIMSerial').val('');
				    $("html, body").animate({ scrollTop: 0 }, "slow")
				    return;
			    }
                else {
                    $('#Plan_Error').html('');
                }
		    }, "text");
		}
	});

    function preValidateSIMSerial() {
    
        // primary SIM
		var inputSIM = $('#txtSIMSerial').val();
		var testiem = @(SimReplaceType);
		if(inputSIM != '') {
			if($.trim(inputSIM) == $.trim($('.tdSimOldSerial').html())) {
				$('#Plan_Error').html('@(Settings.Default.SimSerialGenericError.ToString2())');
				$('#Plan_Error').show();
				$('#txtSIMSerial').val('');
				$('#simModel').html('');
				$("html, body").animate({ scrollTop: 0 }, "slow")
				$('#txtSIMSerial').focus();
				return;
			}
			var url = '@(Url.Content("~/QSimReplacement/CheckSimModel"))';
			var simSerialModel= "";
			$.post(url, { sim:inputSIM }, function (data) {
				if(data != '') {
					$('#Plan_Error').html('');
					var _isDealer= '@Session["IsDealer"].ToBool()';                
					$('#simModel').html(data.toString().split('ä')[0]);
					SimModelDtls = data.toString().split('ä')[1];
					SimArticleID = SimModelDtls.split(',')[0];
					SimReplacementReasonChange('false');
				}
				else {
					var testiem2 = @(SimReplaceType);
					$('#Plan_Error').html('@(Settings.Default.SimSerialGenericError.ToString2())');
					$('#Plan_Error').show();
					$('#txtSIMSerial').val('');
					$('#simModel').html('');
					$("html, body").animate({ scrollTop: 0 }, "slow")
					document.getElementById("txtSIMSerial").focus();
					return;
				}
			}, "text");
		}
		else if (inputSIM == '') {
			$('#simModel').html('');
		}
        
        // secondary SIM
		var inputSIMSec = $('#txtSIMSerialSeco').val();
		if(inputSIMSec != '' && typeof inputSIMSec != 'undefined') {
			var url = '@(Url.Content("~/QSimReplacement/CheckSimModel"))';
			$.post(url, { sim:inputSIMSec }, function (data) {
				if(data != '') {
					$('#simModelSeco').html(data.toString().split('ä')[0]);
					SimModelDtls_Sec = data.toString().split('ä')[1];
				}
				else {
					var testiem2 = @(SimReplaceType);
					$('#Plan_Error').html('@(Settings.Default.SimSerialGenericError.ToString2())');
					$('#Plan_Error').show();
					$('#txtSIMSerialSeco').val('');
					$('#simModelSeco').html('');
					$("html, body").animate({ scrollTop: 0 }, "slow")
					$('#txtSIMSerialSeco').focus();
				}
			}, "text");
		}
		else {
			$('#simModelSeco').html('');
			return;
		}

    };

    function errorBiometric(dataThumb, dataMatch)
    {
        if ((dataThumb != '' && dataThumb != null)&& dataMatch)
        {
            $("#statusRedCheck").hide();
            $('#sessionStatusFailMsg').show();
            ThirdPartyJustification = false;
        }
        else if (dataThumb != '' && dataThumb != null)
        {
            $("#statusRedCheck").show();
            $('#sessionStatusFailMsg').show();
            ThirdPartyJustification = true;
        }
        else
        {
            $("#statusRedCheck").show();
            $('#authorizedName').val('');
            $('#authorizedName').css({ "background-color": '#FFFFFF' });
            $('#authorizedName').attr('readonly', false);
            $('#sessionStatusFailMsg').hide();
            ThirdPartyJustification = true;
        }
    }

    function performThirdPartyBiometric()
    {
        var performThirdPartyBiometric = '@(Url.Content("~/QSimReplacement/performThirdPartyBiometric"))';
        var getBreValidation = '@(Url.Content("~/QSimReplacement/getBreValidation"))';
        var idCardNo = $('#authorizedID').val();
        var ValidationType = 'performThirdPartyBiometric';
        var Justification = '';
        var thirdParty = '';
        $('#authorizedName').val('');
        var PPIDSearchErrorMsg = '@System.Web.Configuration.WebConfigurationManager.AppSettings["PPIDCountAlertMsg"].ToString2()';
        if(thirdSIMCardTypeID != '' && idCardNo != '' && idTypeID == "1")
        {
            if (checkThirdPartyFields($('#authorizedName').val(), $('#authorizedID').val(), thirdSIMCardTypeID, $('#authorizedContact').val(), ValidationType))
            {
                $.post(performThirdPartyBiometric, { IDCardNo:idCardNo, IDType:idTypeID, thirdParty:true }, function (data)
                {
                    var dataThirdPartyBiometric = jQuery.parseJSON(data);
                    var count = 0;
                    for(var items in data)
                    {
                        if(dataThirdPartyBiometric.hasOwnProperty(items))
                        {
                            ++count;
                        }
                    }
                    if(count == 0)
                    {
                        if (parseInt(data.toString()) == 1)
                        {
                            alert(PPIDSearchErrorMsg);
                            return false;
                        }
                        else
                        {
                            var dataJson = jQuery.parseJSON(data);
                            if(dataJson.NewIC != null)
                            {
                                icThirdPartyVerified = dataJson.NewIC;
                                Justification = dataJson.FingerThumb;
                            }
                            else
                            {
                                icThirdPartyVerified = $('#authorizedID').val();
                            }

                            $('#authorizedName').val(dataJson.Name);
                            $('#authorizedName').css({ "background-color": '#F2F2F2' });
                            $('#authorizedName').attr('readonly', true);
                            errorBiometric(dataJson.FingerThumb, dataJson.FingerMatch);
                        }
                        if(Justification == "")
                        {
                            thirdParty = true;
                            $('#ThirdBiometricDesc').html("3rd Party - No biometric data found");
                        }
                        else if (!dataJson.FingerMatch)
                        {
                            thirdParty = true;
                            $('#ThirdBiometricDesc').html("3rd Party - Biometric check is performed, but thumb impression not matched!");
                        }
                        else
                        {
                            thirdParty = false;
                        }
                        var getBreValidation = '@(Url.Content("~/QSimReplacement/getBreValidation"))';
                        $.post(getBreValidation, {icno:idCardNo, thirdParty:thirdParty, ruleOverride: 'ThirdPartySIM'}, function (data) {
                            var dataJson = jQuery.parseJSON(data);
                            if (dataJson != '')
                            {
                                $('#Justification_Error').html('Please Enter Justification For - ' + dataJson);
                            }
                            else
                            {
                                $('#Justification_Error').html('');
                            }
                        }, "text");
                    }
                    else
                    {
                        $('#Plan_Error').show();
				        $('#Plan_Error').html(dataThirdPartyBiometric);
				        $("html, body").animate({ scrollTop: 0 }, "slow");
                        $("#authorizedID").focus();
				        return false;
                    }
                }, "text");
            }
        }
        return false;
    };

	var varTotalPayable = parseFloat($('#spnTotalPayable').html());
    varTotalPayable = varTotalPayable || 0;
	if (varTotalPayable != "0") {
		$("#spnTotalPayable").html(varTotalPayable.toFixed(2));
	}
	else {
		$('#spnTotalPayable').html(parseFloat($('#spnTotalPayable').html()).toFixed(2));		
	}
		
					 
	function disableAll() {
		$('#idTitles').attr('disabled', 'disabled');
		$('input#Customer_FullName').attr('disabled', 'disabled');
		$('#idCardButton').attr('disabled', 'disabled');
		$('input#Customer_IDCardNo').attr('disabled','disabled');
		$('.form-dob').attr('disabled', 'disabled');
		$('.gender').attr('disabled', 'disabled');
        $('[name="gender"]').css({ "opacity": '0.65' });
		$('#btnLanguage').attr('disabled', 'disabled');
		$('#btnNationality').attr('disabled', 'disabled');
		$('.form-race').attr('disabled', 'disabled');
		$('input#Customer_EmailAddr').attr('disabled','disabled');
		$('input#Customer_ContactNo').attr('disabled','disabled');
		$('input#Customer_AlternateContactNo').attr('disabled','disabled');

		$('#Address_Line1').attr('disabled','disabled');
		$('#Address_Line2').attr('disabled','disabled');
		$('#Address_Line3').attr('disabled','disabled');
		$('#Address_Postcode').attr('disabled','disabled');
		$('#Address_Town').attr('disabled','disabled');
		$('#AddressState_Txt').attr('disabled','disabled');
	}

	$(document).ready(function () {
		var Success = 'Successfully Printed at ' + '@(selectedPrinter)';
		var Fail = 'Printing was unsuccessful at ' + '@(selectedPrinter)' + ' – @(printErrorMsg)';
		
		if ('@(printsuccess)' == 'PrintSuccessfullyCompleted') {
			$('#lblsucess').text(Success);
			$('#Success').attr('style', 'display: block');
			$('#Success').attr('style', 'color: #7CB44F');
			$('#Fail').attr('style', 'display: none');
			$('#AlertPrint').data('tWindow').center().open();
		}
		else if ('@(printErrorMsg)' != '') {
			$('#lblsucess').text(Fail);
			$('#Success').attr('style', 'display: block');
			$('#Fail').attr('style', 'display: block');
			$('#Fail').attr('style', 'color: #FF0000');
			$('#Success').attr('style', 'color: #FF0000');
			$('#AlertPrint').data('tWindow').center().open();
			$('#ancfail').attr('href', $('#printPreviewURL').attr('href'));
		}
		
		if( $("#hdnUserRole").val()=='True' &&  $("#hdnStatusId").val() =="1")
		{
			$("#SIMModel").data("tDropDownList").value($("#hdnsimModelId").val() + ',' + $("#hdnsimArticalId").val());
			SimModelChange();
		}

		$("#QueueNo").keypress(function (e) {
			if(e.keyCode == 13) {
				return false;
			}
			else {
				return numbersonly(e, false);
			}
		});
		$("#Remarks").keypress(function (e) {
			if(e.keyCode == 13) {
				return false;
			}
		});
		$('#cbTnC').keypress(function (e) {
			if(e.keyCode == 13) {
				return false;
			}
		});
		
		disableAll();
	});

	function ClearSign(){
		var $sigdiv = $("#signature");
		$sigdiv.jSignature("reset");
	}


//      End Sutan Added code 6Th March 2013
		/********** GENERIC FUNCTIONALITY **********/

	$.fn.replace= function() {
		var $el = $(this).fadeOut();
		$el.clone().insertBefore($el).fadeIn();
		$el.remove();
	}

	$.fn.fly = function(target, callback) {
		var callback = callback || function() {};
		var $target = $(target);
		target=$target.get(0);
		return $(this).each(function(i, el) {
		var $el = $(el);
		var $clone = $el
						.clone()
						.css({position: "absolute",
							left: el.offsetLeft, top: el.offsetTop,
							width: el.offsetWidth, height: el.offsetHeight,
							padding: 0, margin: 0 })
					.appendTo("body");
		var targetStyle = target ?
			{ width: target.offsetWidth, height: target.offsetHeight,
			top: target.offsetTop, left: target.offsetLeft } :
			{ width: 0, height: 0, opacity: 0.4, top: 0, };

		var isLast = (i == $(this).length-1);
		$clone.animate(targetStyle, function() {
			$clone.remove();
			if (isLast) callback();
		});
		});
	}

	$.fn.disappear = function() { $(this).css("visibility", "hidden"); }
	$.fn.appear = function() { $(this).css("visibility", "visible"); }

	// http://ejohn.org/blog/javascript-array-remove/
	Array.prototype.remove = function(from, to) {
		var rest = this.slice((to || from) + 1 || this.length);
		this.length = from < 0 ? this.length + from : from;
		return this.push.apply(this, rest);
	};           
	if (window.history.forward(1) != null) {
	window.history.forward(1);       
	}    

	function SubmitRegForm()
	{
		if (!ValidateSalesCode()) return false;
  
			if ($("#hdnvalsimSerial").val() == '/') {
				$('#Plan_Error').show();
				$('#Plan_Error').html("The SIM details Should not be empty.");
				$("html, body").animate({ scrollTop: 0 }, "slow");
				return false;
			}
			$('#hdnInitialPenaltyCharges').val($('#hdnprice').val());
			var selReasonVal = $('#SimReplReasonCode>option:selected').val();
			if (selReasonVal.trim() == '' || selReasonVal == '\t') {
				$('#Plan_Error').show();
				$('#Plan_Error').html('SIM Replacement reason is mandatory.');
				$("html, body").animate({ scrollTop: 0 }, "slow");
				return false;
			}

			if( $('#txtSIMSerial').val() == '' || $('#txtSIMSerial').val() == '\t') {
				if('@SimReplaceType' == 2) {
					$('#Plan_Error').html('Please Enter Primary SIM Serial Number');
				}
				else {
					$('#Plan_Error').html('Please Enter SIM Serial Number');
				}
				$('#Plan_Error').show();
				$("html, body").animate({ scrollTop: 0 }, "slow")
				$('#txtSIMSerial').focus();
				return false;
			}
			if('@SimReplaceType' == 2 && ($('#txtSIMSerialSeco').val() == '' || $('#txtSIMSerialSeco').val() == '\t')) {
				$('#Plan_Error').html("Please Enter Secondary SIM Serial Number");
				$('#Plan_Error').show();
				$("html, body").animate({ scrollTop: 0 }, "slow")
				$('#txtSIMSerialSeco').focus();
				return false;
			}  

			if('@SimReplaceType' == 2 && ($('#txtSIMSerial').val() != '' || $('#txtSIMSerial').val() != '\t')&& ($('#txtSIMSerialSeco').val() != '' || $('#txtSIMSerialSeco').val() != '\t')&& ($('#txtSIMSerial').val() == $('#txtSIMSerialSeco').val())) {
				$('#Plan_Error').html("Please Enter Different Secondary SIM Serial Number");
				$('#Plan_Error').show();
				$("html, body").animate({ scrollTop: 0 }, "slow")
				$('#txtSIMSerialSeco').focus();
				return false;
			} 

			var _isDealer= '@Session["IsDealer"].ToBool()';
            var SIMSerialSecond = $('#txtSIMSerialSeco').val();
			if (_isDealer == 'True' && SIMSerialSecond != '') {
                $('#DealerSecondarySimSerial').val(SIMSerialSecond);
				if('@SimReplaceType' == 2 && ($('#txtSIMSerial').val() != '' || $('#txtSIMSerial').val() != '\t')&& ($('#txtSIMSerial').val() == SIMSerialSecond))
				{
					$('#Plan_Error').html("Please Enter Different Secondary SIM Serial Number");
					$('#Plan_Error').show();
					$("html, body").animate({ scrollTop: 0 }, "slow")
					$('#txtSIMSerialSeco').focus();
					return false;
				} 
			}

			if ((SimModelDtls == '' || SimModelDtls == '\t' || SimModelDtls == '0')) {
				$('#Plan_Error').show();
			   
				if('@SimReplaceType' == 2) {
				   $('#Plan_Error').html('Primary SIM Model is mandatory.');
				}
				else {
					$('#Plan_Error').html('SIM Model is mandatory.');
				}
				$("html, body").animate({ scrollTop: 0 }, "slow");
				return false;
			}
		   


			$('#hdnSimModel').val(SimModelDtls);
			$('#hdnSimModelSec').val(SimModelDtls_Sec);
			if('@Session["AccountType"].ToString2().ToUpper()' == "PREGSM" && selReasonVal!='25' && selReasonVal!='22' && ($('#txtTUTSIMSerial').val() == '' || $('#txtTUTSIMSerial').val() == '\t')) {
				$('#Plan_Error').html("Please Enter TUT Serial Number");
				$('#Plan_Error').show();
				$("html, body").animate({ scrollTop: 0 }, "slow")
				$('#txtTUTSIMSerial').focus();
				return false;
			}
			if(isNaN($('#txtTUTSIMSerial').val()) && $('#txtTUTSIMSerial').length>0 && '@Session["AccountType"].ToString2().ToUpper()' == "PREGSM") {
				$('#Plan_Error').html("TUT Serial Number must be numbers only");
				$('#Plan_Error').show();
				$("html, body").animate({ scrollTop: 0 }, "slow")
				$('#txtTUTSIMSerial').val('');
				$('#txtTUTSIMSerial').focus();
				return false;
			}
			if($('#txtTUTSIMSerial').length > 0 && '@Session["AccountType"].ToString2().ToUpper()' == "PREGSM") {
				if('@Session["AccountType"].ToString2().ToUpper()' == "PREGSM" && selReasonVal!='25') {
					if($('#txtTUTSIMSerial').val().length < 1) {
						$('#Plan_Error').html("Please enter valid TUT Serial Number");
						$('#Plan_Error').show();
						$("html, body").animate({ scrollTop: 0 }, "slow")
						$('#txtTUTSIMSerial').val('');
						$('#txtTUTSIMSerial').focus();
						return false;
					}
				}
			}

			var isWaiverJustified = true;
			var iswaiverOpted = false;
			//if(('@accountType'.toLowerCase() == "POSTGSM".toLowerCase() || '@accountType'.toLowerCase() == "FWBB".toLowerCase()) && ($('#chkWaiver').attr('checked'))) //10-12-2015 Karyne:FWBB uses HSDPA sim
            if(('@accountType'.toLowerCase() == "POSTGSM".toLowerCase()) && ($('#chkWaiver').attr('checked')))
            {
				iswaiverOpted = true;
				var _sessionStatusDescription = '@(sessionStatusDescription)';
				if(_sessionStatusDescription == '') {
					isWaiverJustified=false; 
				}
			}
			
		   
			if ('@Session["AllowSimReplacement"]' == 'True' && !_isDealer) {
				if ($('#txtNewCBR').val().trim() == '') {
					$('#Plan_Error').html("Please Enter value for new cbr number");
					$('#Plan_Error').show();
					$("html, body").animate({ scrollTop: 0 }, "slow")
					$('#txtNewCBR').val('');
					$('#txtNewCBR').focus();
					return false;
				}
				else if (isNaN($('#txtNewCBR').val()) && $('#txtNewCBR').length > 0) {
					$('#Plan_Error').html("New CBR Number must be numbers only");
					$('#Plan_Error').show();
					$("html, body").animate({ scrollTop: 0 }, "slow")
					$('#txtNewCBR').val('');
					$('#txtNewCBR').focus();
					return false;
				}
				else if ($('#txtNewCBR').val().substring(0, 2) != "60" || $('#txtNewCBR').val().length < 10 || $('#txtNewCBR').val().length > 12) {
					$('#Plan_Error').show();
					$('#Plan_Error').html("Please enter valid CBR Number ");
					$("html, body").animate({ scrollTop: 0 }, "slow");
					$('#txtNewCBR').val('');
					$('#txtNewCBR').focus();
					return false;
				}
			}

            if(ThirdParty != '')
            {
                var ValidationType = 'SubmitRegForm';

                var isValidInput = checkThirdPartyFields($('#authorizedName').val(), $('#authorizedID').val(), thirdSIMCardTypeID, $('#authorizedContact').val(), ValidationType);
                if(!isValidInput) return false;

                if(idTypeID == "1")
                {
                    if ($('#authorizedID').val() != icThirdPartyVerified)
                    {
                        $('#Plan_Error').show();
                        $('#Plan_Error').html('IC Not Matched. Please perform biometric validation');
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                        return false;
                    }
                }
            }
            var retainJustification = $('#Justification_Error').html();
            if (retainJustification != '' || '@(sessionStatusFailMsg)' != '' || $('#Justification_Error').html().indexOf("3rd") > -1 || !isWaiverJustified || strWavier != '' || ThirdParty != '' && idTypeID == "1" && ThirdPartyJustification)
            {
		   
				if ($('#Justification').val().trim() == '')
                {
					var statusMsg = '';
                    if (ThirdParty != '' || $('#Justification_Error').html().indexOf("3rd") > -1)
                    {
                        var idCardNo = $('#authorizedID').val();
                        var getBreValidation = '@(Url.Content("~/QSimReplacement/getBreValidation"))';
                        $.post(getBreValidation, {icno:idCardNo, thirdParty:true, ruleOverride: 'ThirdPartySIM'}, function (data)
                        {
                            var dataJson = jQuery.parseJSON(data);
                            statusMsg = dataJson;
                            $('#Plan_Error').html("Please Enter Justification For - " + statusMsg);
                        }, "text");
                    }
                    else
                    {
                        statusMsg = retainJustification;
					    if(strWavier != '')
                        {
						    var wavierText = strWavier.substring(0, strWavier.length - 1);

						    if(statusMsg != '')
                            {
							    statusMsg = statusMsg + ", " + wavierText;
						    }
						    else
                            {
							    statusMsg = wavierText;
						    }
					    }
                        $('#Plan_Error').html(statusMsg);
                    }

					$('#Plan_Error').show()
					$('#txtJustfication').focus();
					$("html, body").animate({ scrollTop: 0 }, "slow");
					return;
				}
            }

			var QId = $("#QueueNo").val();
			var intRegex1 = /^[0]+$/i;
			if (intRegex1.test(QId)) {
				$('#Plan_Error').html("All zeroes are not accepted in Queue No field.");
				$("html, body").animate({ scrollTop: 0 }, "slow")
				return false;
			}    
			var inputSIM = $('#txtSIMSerial').val();          
			var url = '@(Url.Content("~/QSIMReplacement/CheckSimSerialAndTUT"))';
			$.post(url, {sim:inputSIM, simmodel:SimModelDtls,simtut:$('#txtTUTSIMSerial').val() }, function (data) {
				if(data.toString()=="SIM") {   
					var testiem2 = @(SimReplaceType);
					$('#Plan_Error').html('@(Settings.Default.SimSerialGenericError.ToString2())');
					$('#Plan_Error').show();
					$('#txtSIMSerial').val('');
					$('#simModel').html('');
					$("html, body").animate({ scrollTop: 0 }, "slow")
					$('#txtSIMSerial').focus();
					return false;
				}
				else if('@Session["AccountType"].ToString2().ToUpper()' == "PREGSM" && data.toString()=="TUT" &&  selReasonVal!='25') {
					$('#Plan_Error').html("TUT Serial is not valid");
					$('#Plan_Error').show();
					$('#txtTUTSIMSerial').val('');
					$("html, body").animate({ scrollTop: 0 }, "slow")
					return;
				}
				else {
					$('#Plan_Error').hide()
					$('#hdnWaiverInfo').val('');
					if((parseInt($('.clsWaiver').size()) > 0)) {
						$('.clsWaiver').each(function() {
							var curValuve=$(this).attr("value");
							if($(this).attr("checked")=="checked") {
								curValuve =curValuve+"~1";
							}
							else {
								curValuve =curValuve+"~0";
							}
							if($('#hdnWaiverInfo').val()=='') {
								$('#hdnWaiverInfo').val(curValuve);
							}
							else {
								$('#hdnWaiverInfo').val($('#hdnWaiverInfo').val() + "+" + curValuve);
							}
						});
					}
				
                //20151114 - For thirdparty Upload image is mandatory
                if(ThirdParty)
                {
                    var idTypeID = $('#ThirdSIMTypeID').val()
                    if (idTypeID == "1" || idTypeID == "2" || idTypeID == "4")
					{
						if( $('#idDocumentFront').val() == '')
						{
							$('#Plan_Error').show();
								$('#Plan_Error').html("Third-party  SIM Replacement, please upload authorized Party Identification");
								$("html, body").animate({ scrollTop: 0 }, "slow");
								return false;
						}
					}
                    
                    if (idTypeID =="1")
                    {
                        if($('#idDocumentBack').val() == '')
			            {
				            $('#Plan_Error').show();
				            $('#Plan_Error').html("Third-party  SIM Replacement, please upload authorized Party Identification");
				            $("html, body").animate({ scrollTop: 0 }, "slow");
				            return false;
			            }
                    }
                }
                else
                {
                    if ("@(isUploadRequired)" == "True")
			        {
                        if('@(biometricCheck)' != 'true')
				        {
					        if (ThirdSIMTypeID == 2 || '@(idCardType)' == 3 || '@(idCardType)' == 4)
					        {
						        if( $('#idDocumentFront').val() == '')
						        {
							        $('#Plan_Error').show();
								        $('#Plan_Error').html("Please upload ID documents");
								        $("html, body").animate({ scrollTop: 0 }, "slow");
								        return false;
						        }
					        } 
					        else
					        {
						        if( $('#idDocumentFront').val() == '')
						        {
							        $('#Plan_Error').show();
								        $('#Plan_Error').html("Biometric is failed, please upload ID documents");
								        $("html, body").animate({ scrollTop: 0 }, "slow");
								        return false;
						        }

						        if( $('#idDocumentBack').val() == '')
						        {
							        $('#Plan_Error').show();
							        $('#Plan_Error').html("Biometric is failed, please upload ID documents");
							        $("html, body").animate({ scrollTop: 0 }, "slow");
							        return false;
						        }
					        }
                        }
                    }
                }

				var front = $.trim($('#idDocumentFront').val());
				var back = $.trim($('#idDocumentBack').val());
				var other = $.trim($('#otherDocuments').val());
                var thirdPartyFile = $.trim($("#thirdPartyFile").val());
				if ((front != '' && front != "No file selected.") || (back != '' && back != "No file selected.") || (other != '' && other != "No file selected.") || (thirdPartyFile != ''))
				{
					if ('@fromMobileDevice' != 'True')
					{
						$('#fromMobileDevice').val('false');
						if (front != '' && back !=''  && (front == back) || thirdPartyFile !='' && (thirdPartyFile == front || thirdPartyFile == back))
						{
							$('#Plan_Error').show();
							$('#Plan_Error').html("Same document cannot be uploaded more than once");
							$("html, body").animate({ scrollTop: 0 }, "slow");
							return false;
						}
					}else{
						$('#fromMobileDevice').val('true');
					}
				}

                if($('#cbTnC').prop("checked") != true)
			    {   
				    $('#Plan_Error').show();
				    $('#Plan_Error').html("Please select the declaration in the 'Signature' section");               
				    $("html, body").animate({ scrollTop: 0 }, "slow");
				    return false;
			    }

				var $sigdiv = $("#signature");
				var datapair = $sigdiv.jSignature("getData","svg"); 
				var isSignatureProvided=$sigdiv.jSignature("getData","svg")[1].length > 317 ? true : false;
				if( isSignatureProvided ) {
					$('#SignatureSVG').val(datapair[1]);
				}
				else {
                    //Bug 1462 - Signature is mandatory for third party sim
                    if("@(isSignatureRequired)" == "True" || ThirdParty) {
						$('#Plan_Error').show();
						$('#Plan_Error').html("Signature is required for submission");
						$("html, body").animate({ scrollTop:0 }, "slow"); 
						return false;
					}
				}
				$('#hdnChanges').val('false');

				$('#hdnTotalPayable').val($('#spnTotalPayable').html());
				$('#submit1').val('SubmitReg');
				$('#CustImageUpload').removeAttr("accept");
				$('#CustImageUpload2').removeAttr("accept");
				$('#CustImageUpload3').removeAttr("accept");

				document.getElementById('frmQSimReplacement').submit();
			}
		});
	}

	function onChkClick() {
		if($('#chkWaiver').attr('checked')) {
			var val =  $('#spnSimCharge').text();
			if(!isNaN(val)) {
				$("#hdnwaiver").val("true");
				$('#spnSimCharge').text('0.00');            
			}
		} 
		else {
			var val =  $('#spnSimCharge').text();
			$("#hdnwaiver").val("false");
			if(!isNaN(val)) {
				$("#hdnwaiver").val("false");
				$('#spnSimCharge').text(parseFloat($('#hdnprice').val()).toFixed(2));
			}
		}
		$('#hdnwaiverAmount').val(parseFloat($('#hdnprice').val()).toFixed(2)); 
	}


	function SimReplacementReasonChange(showError) {
		var selReasonVal = $("#SimReplReasonCode").val();
		var selrea = $('#SimReplReasonCode>option:selected').text();
		$("#hdnwaiver").val("false");
		if('@Session["AccountType"].ToString2().ToUpper()' == "PREGSM" && selReasonVal==25) {
			$('#tutpregsm').hide();
		}
		else {
			$('#tutpregsm').show();
		}
		if( '@Session["AccountType"].ToString2().ToUpper()' != "PREGSM" && selrea.toString().toLowerCase() == "Replacement".toLowerCase()) {
			if (!(selReasonVal == '' || selReasonVal == '\t')) {
				$("#Price").text('RM 0.00');
			}
		}
		else if( '@Session["AccountType"].ToString2().ToUpper()' == "PREGSM" && selrea.toString().toLowerCase() == "Replacement".toLowerCase()) {
			if (!(selReasonVal == '' || selReasonVal == '\t')) {
				$("#Price").text('RM 0.00');
			}
		}
		else {
			var priVal = @(lblStaticPrice);
			if (!(selReasonVal == '' || selReasonVal == '\t')) {
				$("#Price").text('RM ' + parseFloat(priVal).toFixed(2));
			}
		}
		$('#chkWaiver').removeAttr("checked");
		if ((selReasonVal == '' || selReasonVal == '\t')) {
			$("#SimReplacementReasonDetail_PenaltyAmount").val(0);
			$("#spnWaiverMessage").text('');
			$('#chkWaiver').attr('disabled','disabled');
			$('#chkWaiver').removeAttr("checked");
			$('#spnSimCharge').text(parseFloat("0.00").toFixed(2));
			$('#hdnprice').val(0);

			if(showError==undefined) {
				$('#Plan_Error').show();
				$('#Plan_Error').html('Please select a reason');
				$("html, body").animate({ scrollTop: 0 }, "slow");
			}
			return false;
		}
		var ActiveDt = $('#hdnActiveDt').val();
		if (!(SimModelDtls == '' || SimModelDtls == '\t' || SimModelDtls == '0')) {
			var url = '@(Url.Content("~/QSIMReplacement/GetReasonDetails"))';
			var _isDealer= '@Session["IsDealer"].ToBool()';
			$.post(url, { strReasonId: selReasonVal, activateDate: ActiveDt, strSimModelDtls: SimModelDtls }, function (data) {
				if (data != "0") {
					if (!(selReasonVal == '' || selReasonVal == '\t')) {
						$("#Price").text('RM ' + parseFloat(data.Price).toFixed(2));
					}
					$("#SimReplacementReasonDetail_PenaltyAmount").val(data.Price);
					$('#hdnprice').val(data.Price);
					$('#spnSimCharge').text(parseFloat($("#hdnprice").val()).toFixed(2));
					if ($("#hdnAccountType").val() != "PREGSM") { 
                        $('#spnTotalPayable').text('0.00');
                        $('#spnTotalUpfront').text('0.00');
						$("#spnWaiverMessage").text(parseInt($("#hdnprice").val()) > 0 ? $("#hdnMsg").val('') : "");
						if(data.Price > 0) {
							$('#chkWaiver').removeAttr("disabled");
						}

						if(selrea.toString().toLowerCase() == "Replacement".toLowerCase()) {
							var val =  $('#spnSimCharge').text();
							if(!isNaN(val)) {
								if (!(selReasonVal == '' || selReasonVal == '\t')) {
									$("#Price").text('RM 0.00');
								}
								$("#hdnwaiver").val("true");
								$('#spnSimCharge').text('0.00');            
							} 
							$('#hdnwaiverAmount').val(parseFloat($('#hdnprice').val()).toFixed(2));
						}
					}
					else {
						if(_isDealer== 'False') {
							$('#spnTotalPayable').html((parseFloat(totalPrice)+parseFloat($("#hdnprice").val())).toFixed(2));
                            $('#spnTotalUpfront').html((parseFloat(totalPrice)+parseFloat($("#hdnprice").val())).toFixed(2));
						}
						$("#spnWaiverMessage").text("");
					}
				} 
				else {
					$("#spnWaiverMessage").text('');
					$('#Plan_Error').show();
					$('#Plan_Error').html("Selected SIM Replacement Reason is not Available.Please select another Reason ");
					$("html, body").animate({ scrollTop: 0 }, "slow");
				}
			});
		} 
		else {
			$("#SimReplacementReasonDetail_PenaltyAmount").val(0);
			$('#hdnprice').val(0);
			$('#chkWaiver').attr('disabled','disabled');
			$("#spnWaiverMessage").text('');
		}
	}

</script>
}
