﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using System.Configuration;
@model Online.Registration.Web.RegistrationSvc.LnkRegDetailsReq
@{
    ViewBag.Title = "Submit Registration";
    Layout = "~/Views/Shared/_SubmitLayout.cshtml";

    int ReadyForPaymentStatusID = 31;

    bool isDealer = Session["IsDealer"].ToBool();
    var interval = ConfigurationManager.AppSettings["DealerTimerIntervel"].ToString();

}
@*@model int*@
@using (Html.BeginForm("MobileRegAccCreated", "QSimReplacement", FormMethod.Post, new { id = "frmMobileRegAccCreated" }))
{
<div class="success-header">
    <table width="100%">
        <tr>
            <td style="width: 580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
if (isDealer == true)
{
     @Html.Hidden("OrderId", Model.LnkDetails.RegId.ToString2())
   @* <div id="dvDealer">
    <div id="divRegSubInProgress">
        <b>@ConfigurationManager.AppSettings["DealerRegInProgress"].ToString()</b>
    </div>
    <div id="divRegSuccess">
        <h3>
            @ConfigurationManager.AppSettings["DealerRegSubmitSuccess"].ToString()</h3>*@
        @*<h4>
        Click
        @Html.ActionLink("HERE", "customerSummary", new { regID = Model.LnkDetails.RegId }, new { style = "color:#5fb848;font-weight:bold;text-decoration:none" })
        to view registration or
        @if (Model.LnkDetails.AccountType.ToString2() == "POSTGSM")
        {
            <a href="@(Url.Content("~/QSimReplacement/CofServiceFormPrint?id=" + Model.LnkDetails.RegId))" target="_blank" style="text-decoration:none" >
                <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                Print </a>
        }
        else
        {
            <a href="@(Url.Content("~/QSimReplacement/SimReplacementPrint?id=" + Model.LnkDetails.RegId))" target="_blank" style="text-decoration:none" >
                <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                Print </a>
        }
        the registration form.
    </h4>*@
    @*</div>*@    
     <div id="dvDealer">
        <div id="divRegSuccess">
        <h4>
           Registration has been submitted successfully.</h4>      
        </div>
      @*  @if (!Roles.IsUserInRole("MREG_DSV"))
        {*@
        <h4>
        Click
        @Html.ActionLink("HERE", "customerSummary", new { regID = Model.LnkDetails.RegId }, new { style = "color:#5fb848;font-weight:bold;text-decoration:none" })
        to view registration or
        @if (Model.LnkDetails.AccountType.ToString2() == "POSTGSM")
        {
            <a href="@(Url.Content("~/QSimReplacement/CofServiceFormPrint?id=" + Model.LnkDetails.RegId))" target="_blank" style="text-decoration:none" >
                <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                Print </a>
        }
        else
        {
            <a href="@(Url.Content("~/QSimReplacement/SimReplacementPrint?id=" + Model.LnkDetails.RegId))" target="_blank" style="text-decoration:none" >
                <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                Print </a>
        }
        the registration form.
        </h4>
       @* }*@
    
    @*<div id="divLoading" style="text-align: center;">
        <img id="imgloading" src="../../Content/img/shared/loading.gif" width="50" height="50" /></div>*@
   @* @if (Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("MREG_DAC"))
    {*@
    <div style="text-align: right; padding: 20px;">
        <input id="btnReadyforpayment" type="button" class="submitButton" value="Back To Inventory" onclick="redirectToPage('@(string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Registration/StoreKeeper")))')" />
    </div>
    @*}*@
    </div>
}
else
{
<div>
    <h4>
        SIM replacement request has been sent successfully.</h4>
    <h4>
        Click
        @Html.ActionLink("HERE", "customerSummary", new { regID = Model.LnkDetails.RegId }, new { style = "color:#5fb848;font-weight:bold;text-decoration:none" })
        to view registration or
        @if (Model.LnkDetails.AccountType.ToString2() == "POSTGSM")
        {
            <a href="@(Url.Content("~/QSimReplacement/CofServiceFormPrint?id=" + Model.LnkDetails.RegId))" target="_blank" style="text-decoration:none" >
                <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                Print </a>
        }
        else
        {
            <a href="@(Url.Content("~/QSimReplacement/SimReplacementPrint?id=" + Model.LnkDetails.RegId))" target="_blank" style="text-decoration:none" >
                <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                Print </a>
        }
        the registration form.
    </h4>
      @if (@TempData["CMSSCaseStatus"].ToString2() != string.Empty && @TempData["CMSSCaseStatus"].ToString2() == "Success")
      {
          <h4 style="color:#CC1122">CMSS case has been created successfully. CMSS Case Id: @TempData["CMSSCaseID"].ToString2() </h4>
      }
      else if (@TempData["CMSSCaseStatus"].ToString2() != string.Empty && @TempData["CMSSCaseStatus"].ToString2() == "Fail")
      {
          <h4 style="color:#CC1122">CMSS case creation failed.</h4>
      }
   
</div>
}
}
@*@section Scripts{
    <script type="text/javascript" language="javascript">
        if ('@(isDealer)' == "True") {
            $(document).ready(function () {


                $("#divRegSuccess").hide();

                $(document).ajaxStart(function () {
                    $.unblockUI();
                    //$("#divLoading").show();
                    $('#dvDealer').addClass('statusload');
                }).ajaxStop(function () {
                    //$("#divLoading").hide();
                    $('#dvDealer').removeClass('statusload');
                });

                ajaxcall();

            });

            var url = '@(Url.Content("~/Registration/GetRegStatus"))';

            function ajaxcall() {
                $.ajax({
                    url: url,
                    data: { 'regId': '@Model.LnkDetails.RegId' },
                    type: 'GET',
                    dataType: 'json',
                    success: function (result) {
                        if (result != '@ReadyForPaymentStatusID') {
                            setTimeout(ajaxcall, '@interval');
                        }
                        else {
                            $("#divRegSubInProgress").hide();
                            $("#divRegSuccess").show();
                            $("#btnReadyforpayment").removeAttr("disabled");
                            $('#btnReadyforpayment').removeClass('disabled');
                            $('#btnReadyforpayment').addClass('submitButton');
                        }
                    }
                });
            }

            $("#btnReadyforpayment").click(function () {
                alert("submit");
            });
        }
    </script>
}
*@