﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.Properties;
@model Online.Registration.Web.ViewModels.RegDetailsObjVM
<script type="text/javascript">
<!--
    if (window.history.forward(1) != null) {
        window.history.forward(1);
    }
//-->  
</script>
@*@model Online.Registration.Web.RegistrationSvc.LnkRegDetailsReq*@
@{
    ViewBag.Title = "Submit Registration";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    var fromIpad = Request.Headers["User-Agent"].ToLower().Contains("ipad");
    var containerClass = fromIpad ? "container-fluid ipad-container" : "container";

    var viewOrderURL = Url.Action("CustomerSummary", "QSimReplacement", new { regID = Model.LnkRegDetailsReq.LnkDetails.RegId });
    //var printOrderURL = Url.Content("~/QSimReplacement/CofServiceFormPrint?id=" + Model.LnkRegDetailsReq.LnkDetails.RegId);
    var printOrderURL = string.Empty;
    if (Model.LnkRegDetailsReq.LnkDetails.AccountType == "PREGSM")
    {
        printOrderURL = Url.Action("SimReplacementPrint", "QSimReplacement") + "?id=" + Model.LnkRegDetailsReq.LnkDetails.RegId;
    }
    else
    {
        printOrderURL = Url.Action("CofServiceFormPrint", "QSimReplacement") + "?id=" + Model.LnkRegDetailsReq.LnkDetails.RegId;
    }
    var homeURL = Url.Action("IndexNew", "Home");

    var IsDealer = Session["IsDealer"].ToBool();
    var IsCDPU = false;

    if (Util.isCDPUUser())
    {
        IsDealer = false;
        IsCDPU = true;
    }
}

@*
@model int*@

<div class="@containerClass">
        <div class="isell-base">
        @{
            var viewBagVal = new ViewDataDictionary();
            viewBagVal.Add("headerLabel", "SIM Replacement:");
            Html.RenderPartial("_AccountHolderName", viewBagVal);
        }
        <div class="row">
            <div class="col-sm-12 green-bg">
                <p class="font-24">SIM Replacement</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 success">
                @if (System.Configuration.ConfigurationManager.AppSettings["ToEmail"].ToString2() == "Y")
                {
                    <h1>Registration has been submitted successfully and an email has been sent to you…</h1>
                }
                else
                {
                    <h1>Registration has been submitted successfully.</h1>
                }
            </div>
            <ul class="col-sm-11 home">
                <li id="viewOrder" class="col-sm-4">
                    <div class="option-box">
                        <div class="view-order"></div>
                        <h2>View Order</h2>
                    </div>
                </li>
                <li id="printOrder" class="col-sm-4">
                    <div class="option-box">
                        <div class="print"></div>
                        <h2>Print Order</h2>
                    </div>
                </li>
                <li id="home" class="col-sm-4">
                    <div class="option-box">
                        <div class="back-home"></div>
                        <h2>Home</h2>
                    </div>
                </li>
            </ul>
        </div>

        
        </div>
    </div>
<div class="@containerClass">
    @{
        if (!IsDealer && !IsCDPU) {
            var viewBagValue = new ViewDataDictionary();
            viewBagValue.Add("regID", Model.RegID);
            Html.RenderPartial("_PegaRecommendationMiniDashboard", Model.PegaVM, viewBagValue);
        }
    }
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#viewOrder').click(function (e) {
            e.preventDefault();
            window.location.href = '@viewOrderURL';
        });
        $('#printOrder').click(function (e) {
            e.preventDefault();
            var win = window.open('@printOrderURL', '_blank');
            win.focus();
        });
        $('#home').click(function (e) {
            e.preventDefault();
            if ('@IsDealer' == 'True' || '@IsCDPU' == 'True') {
            window.location.href = '@homeURL';
            }
            else{
            cancelTransaction();
            }
        });
    });
</script>
