﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@model Online.Registration.Web.RegistrationSvc.LnkRegDetailsReq
@{
    ViewBag.Title = "Close Registration"; Layout = "~/Views/Shared/_SubmitLayout.cshtml";
}
@*@model int*@
<div>
    <table width="100%">
        <tr>
            <td style="width: 580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<div>
    <h3>
        Sim Replacement Request has been closed Successfully.</h3>
    <h4>
        @if (Model.LnkDetails.AccountType.ToString2() == "POSTGSM")
        {
            <a href="@(Url.Content("~/QSimReplacement/CofServiceFormPrint?id=" + Model.LnkDetails.RegId))" target="_blank" style="text-decoration:none" >
                <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                Print </a> 
        }
        else
        {
     
            <a href="@(Url.Content("~/QSimReplacement/SimReplacementPrint?id=" + Model.LnkDetails.RegId))" target="_blank" style="text-decoration:none" >
                <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                Print </a> 
        }
        the registration form.
    </h4>
</div>
