﻿@using SNT.Utility;
@model Online.Registration.Web.ViewModels.SimReplacementPaymentRecvd
@{
    ViewBag.Title = "Payment Received";
    Layout = "~/Views/Shared/_SubmitLayout.cshtml";
}
<div>
    <table width="100%">
        <tr>
            <td style="width: 580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<div>
    @Html.ValidationSummary(true, string.Empty)
    @using (Html.BeginForm())
    {
        <h3>
            Payment Received Successfully !<br />
        </h3>
        
        <h4>
            @if (Model.AccountType.ToString2() == "POSTGSM")
            {
                  <h4>            
            Click
            @Html.ActionLink("HERE", "customerSummary", new { regID = Model.RegId }, new { style = "color:#5fb848;font-weight:bold;text-decoration:none" })
            to view registration or <a href="@(Url.Content("~/QSimReplacement/CofServiceFormPrint?id=" + Model.RegId))" target="_blank" style="text-decoration:none" >
                <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                Print </a>the registration form.
        </h4>
            
            }
            else
            {
                      <h4>
            Click
            @Html.ActionLink("HERE", "customerSummary", new { regID = Model.RegId }, new { style = "color:#5fb848;font-weight:bold;text-decoration:none" })
            to view registration or <a href="@(Url.Content("~/QSimReplacement/SimReplacementPrint?id=" + Model.RegId))" target="_blank" style="text-decoration:none" >
                <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                Print </a>the registration form.
        </h4>
            }
           
        </h4>
        
    }
</div>
