﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.Models;
@model Online.Registration.Web.ViewModels.ValueAddedServicesVM
@{
    ViewBag.Title = "Select Data Component";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    string arVasGroupIds = string.Empty;
    string sessionSimType = string.Empty;
    var dataContractGroupId = System.Configuration.ConfigurationManager.AppSettings["DataContractGroupId"].ToString2();
    var bundleGroupId = System.Configuration.ConfigurationManager.AppSettings["BundleGroupId"].ToString2();
    var bundleGroupComponentId = System.Configuration.ConfigurationManager.AppSettings["BundleGroupComponentId"].ToString2();
    var dataContractGroupComponentId = System.Configuration.ConfigurationManager.AppSettings["DataContractGroupComponentId"].ToString2();
    var selCompIds = Session["SelectedComponents"].ToString2();
    var orderVM = new OrderSummaryVM();
    if ((OrderSummaryVM)Session["RegMobileReg_OrderSummary"] != null)
    {
        orderVM = (OrderSummaryVM)Session["RegMobileReg_OrderSummary"];
    }
    List<string> dataCompIdsList = new List<string>();
    using (var proxy = new RegistrationServiceProxy())
    {
        dataCompIdsList = proxy.GetDataPlanComponentsForMISM();
    }
    var dataCompIds = string.Empty;
    foreach (string item in dataCompIdsList)
    {
        dataCompIds += item + ',';
    }
    var mandatoryDataKenanCodes = Session["MandatoryVasKenanIds"].ToString2();
    var simtype = "MISM";
    string curSelecteKenanCodes = string.Empty;
   
}

<div class="container ipad-container">
    <div class="isell-base">
    @using (Html.BeginForm("SelectVAS", "QSimReplacement", FormMethod.Post, new { id = "frmSelectVAS", @class = "overlayonsubmit", processmsg = "Loading" }))
    {
        <input type="hidden" id="hdnContractAssociatedVASID" name="hdnContractAssociatedVASID" />
        <input type="hidden" id="hdnContractkenanVASID" name="hdnContractkenanVASID" />
        @Html.HiddenFor(a => a.SelectedVasIDs)
        @Html.HiddenFor(a => a.SelectedContractID)
        @Html.HiddenFor(a => a.uomCode)
        @Html.HiddenFor(a => a.price)
        @Html.HiddenFor(a => a.hdnGroupIds)
        @Html.HiddenFor(a => a.SelectedKenanCodes)
        @Html.HiddenFor(a => a.TabNumber)

        
            var viewBagValue = new ViewDataDictionary();
            viewBagValue.Add("headerLabel", "SIM Replacement:");
            Html.RenderPartial("_AccountHolderName", viewBagValue);
        
        <div class="row">
            <div class="col-sm-12 green-bg">
                <p class="font-24">SIM Replacement</p>
            </div>
        </div>

        <div class="row">
			<div class="col-sm-12">
				<ul class="steps">
					<li class="shownum">
						<div class="num">1</div>
						<p>Account & SIM type selection</p>
					</li>
					<li>
						<div class="line"></div>
					</li>
					<li class="shownum">
						<div class="selected">2</div>
						<p>Primary VAS</p>
					</li>
					<li>
						<div class="line"></div>
					</li>
                    <li class="shownum">
						<div class="num">3</div>
						<p>Order Summary</p>
					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 grey-bg">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs line-tab" role="tablist">
					<li class="active"><a href="#principle" role="tab" data-toggle="tab">
						SIM Replacement
					</a><span
						class="active-green-arrow"></span></li>
				</ul>
			</div>
		</div>

        <div class="row">
			<div class="col-sm-12">
				<p class="device-title" style="margin-top: 0px; margin-bottom: 0px;">
				    <span>Select Data Component</span>
                </p>
                <div class="content_white" style="height: 30px; padding: 20px; display:none; color:Red;">
                    Please select more than or equal to 2GB data component
                </div>
                
                <div id="Plan_Error" class="ErrorClass" style="padding-left: 20px; padding-bottom: 5px;">
				    @Html.ValidationSummary(true)
			    </div>
			    <div id="divError" style="color: Red;">
				    @Html.ValidationSummary(false)
			    </div>
				<p class="font-16">@(ViewBag.GSTnotif)</p>
			</div>
			
		</div>
        <div class="row">
            <div class="col-sm-9 del-left-pad" id="show-plan" style="width:70% !important">
                <div id="divError" style="color: Red;">
                    @Html.ValidationSummary(false)
                </div>
                <div id="Plan_Error" style="color:Red;"></div>
                
                <div class="col-sm-12 vas-list" @*style="overflow-y:hidden"*@>
                    <div class="col-sm-12 data-list">
                        <h3>Primary Vas</h3>
                        <ul class="col-sm-12 data-list">
                            @{
                                if (Model.DataVASes != null && Model.DataVASes.Count > 0)
                                {
                                    foreach (var comp in Model.DataVASes)
                                    {
                                        var groupId = (comp.GroupId != null ? comp.GroupId : -1);
                                        string kenanCode = (comp.KenanCode != null ? comp.KenanCode : "-1");
                                        var btnVASID = "btnVAS_" + comp.PgmBdlPkgCompID + "_" + kenanCode;
                                        string compId = comp.PgmBdlPkgCompID.ToString();

                                        if (kenanCode != "40090")
                                        {
                                            <div class="plan-outerbox">
                                            @if (selCompIds.Contains(compId) == true)
                                            {
                                                curSelecteKenanCodes = curSelecteKenanCodes + kenanCode + ",";
                                                <li style="width: 150px" class="col-sm-2 selected-vas" id="@btnVASID" data-is-selectable="true" onclick="SelectedNewVAS('@btnVASID','@comp.PgmBdlPkgCompID','@groupId');">
                                                    @comp.ComponentName
                                                </li>
                                            }
                                            else
                                            {
                                                <li style="width: 150px" class="col-sm-2" id="@btnVASID" data-is-selectable="true" onclick="SelectedNewVAS('@btnVASID','@comp.PgmBdlPkgCompID','@groupId');">
                                                    @comp.ComponentName
                                                </li>
                                            }
                                            </div>
                                        }
                                        
                                    }
                                }
                                else
                                {
                                    <div>&nbsp;Not Available</div>
                                }
                            }
                        </ul>
                    </div>
                </div>
                                    
            </div>

            <div class="col-sm-3" style="width:28%;">
				@Html.Partial("_OrderSummaryNew",(OrderSummaryVM)Session["RegMobileReg_OrderSummary"], viewBagValue)
			</div>
        </div>
        
        
        <div class="row">
            <div class="col-sm-12 process-btn">
                <footer>
                    <navi>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-1" id="back">
                                <div class="btn isell-btn" id="btnNext" onclick="$('#TabNumber').val(@SIMReplacementStep.AccountDetails.ToInt());$('#frmSelectVAS').submit();">< Back</div>
                            </div>
                            <div class="col-sm-9" id="cancel">
                                <div class="btn isell-btn"  id="btnNext" data-toggle="modal" data-target="#cancel-pop">< Cancel</div>
                            </div>

                            <div class="col-sm-2">
                                <div class="btn isell-next" id="btnNext" onclick="$('#TabNumber').val(@MobileRegistrationSteps.MobileNo.ToInt());getDependencyComponents();" >Next <span>></span></div>   
                            </div>
                            </div>
                        </div>
                    </navi>
                </footer>
            </div>
        </div>
    }
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
//        jQuery(function () {
//            jQuery("#ui-plan").accordion({
//                autoHeight: false
//            });
//            $("#ui-plan").accordion("option", "icons",
//        		{ 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });
//        });

        if ('@(curSelecteKenanCodes)' != '') {
            $('#SelectedKenanCodes').val('@(curSelecteKenanCodes)');
        }

        if ('@(selCompIds)' != '') {
            // selCompIds
            $('#SelectedVasIDs').val('@(selCompIds)');
        }

        function SelectedNewVAS(objBtnId, objvasID, objGroupId) {debugger;
            var curKenanCode = objBtnId.toString().split('_')[2]
            var vasFound = false;
            var kenanFound = false;
            var arrVasID = $('#SelectedVasIDs').val().split(',');
            var arrKenanID = $('#SelectedKenanCodes').val().split(',');
            if ($.isArray(arrVasID)) {
                arrVasID = jQuery.grep(arrVasID, function (value) {
                    if (value == objvasID) {
                        vasFound = true;
                    }
                    return value != objvasID;
                });
            }
            if ($.isArray(arrKenanID)) {
                arrKenanID = jQuery.grep(arrKenanID, function (value) {
                    if (value == curKenanCode) {
                        kenanFound = true;
                    }
                    return value != curKenanCode;
                });
            }
            if (vasFound) {
                $('#' + objBtnId).removeClass('selected-vas');
                var modGroupIds = $('#hdnGroupIds').val().toString().replace(objGroupId + ",", "");
                $('#hdnGroupIds').val(modGroupIds);
                var newVasIDs = '';
                var newKenanIDs = '';
                $.each(arrVasID, function (index, value) {
                    if (value != "" && value != ',') {
                        newVasIDs = newVasIDs + value + ',';
                    }
                });
                $.each(arrKenanID, function (index, value) {
                    if (value != "" && value != ',') {
                        newKenanIDs = newKenanIDs + value + ',';
                    }
                });
                $('#SelectedVasIDs').val(newVasIDs);
                $('#SelectedKenanCodes').val(newKenanIDs);
            }
            else {
                if ($('#hdnContractAssociatedVASID').val().indexOf(objGroupId) != -1) {
                    $('#Plan_Error').show();
                    $('#Plan_Error').html("Dependency Check Fail: Duplicate of Product Mobile – APN=UNET/3G Found, please unselect it from the Data Components section.")
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return;
                }
                var curbtnBorder = $('#' + objBtnId).css('border-style');
                //  alert($('#' + objBtnId).css('border-style'));
                //alert($('#' + objBtnId).css('background'));
                if (objGroupId == -1) {
                    if ($('#' + objBtnId).hasClass("selected-vas").toString() == "true") {
                        $('#' + objBtnId).removeClass('selected-vas');
                        //Remove Vas Ids
                        var curVasIds = $('#SelectedVasIDs').val();
                        curVasIds = curVasIds.toString().replace(objvasID + ",", "");
                        $('#SelectedVasIDs').val(curVasIds);
                        //Remove kenan ids
                        var curKenanIds = $('#SelectedKenanCodes').val();
                        curKenanIds = curKenanIds.toString().replace(curKenanCode + ",", "");
                        $('#SelectedKenanCodes').val(curKenanIds);
                    }
                    else {
                        $('#' + objBtnId).addClass('selected-vas');
                        $('#SelectedVasIDs').val($('#SelectedVasIDs').val() + objvasID + ',');
                        $('#SelectedKenanCodes').val($('#SelectedKenanCodes').val() + curKenanCode + ',');
                    }
                    return;
                }
                var CurGroupIds = $('#hdnGroupIds').val();
                if ($('#' + objBtnId).hasClass("selected-vas").toString() == "true") {
                    // $('#'+objBtnId).css("border-style", "none");
                    $('#' + objBtnId).removeClass('selected-vas');
                    //Remove Group Ids
                    CurGroupIds = CurGroupIds.toString().replace(objGroupId + ",", "");
                    $('#hdnGroupIds').val(CurGroupIds);
                    //Remove Vas Ids
                    var curVasIds = $('#SelectedVasIDs').val();
                    curVasIds = curVasIds.toString().replace(objvasID + ",", "");
                    $('#SelectedVasIDs').val(curVasIds);
                    var curkenanIds = $('#SelectedKenanCodes').val();
                    curkenanIds = curkenanIds.toString().replace(curKenanCode + ",", "");
                    $('#SelectedKenanCodes').val(curkenanIds);
                    return;
                }
                if (CurGroupIds != '') {
                    if (CurGroupIds.indexOf(objGroupId) == -1) {
                        CurGroupIds += objGroupId + ",";
                    }
                    else {
                        $('#Plan_Error').show();
                        $('#Plan_Error').html("Please Select only one Component from Each Group");
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                        return;
                    }
                }
                else {
                    CurGroupIds = objGroupId + ",";
                }
                $('#' + objBtnId).addClass('selected-vas');
                $('#hdnGroupIds').val(CurGroupIds);
                //alert($('#SelectedVasIDs').val());
                if (!checkDuplicate($('#SelectedVasIDs').val(), objvasID)) {
                    $('#SelectedVasIDs').val($('#SelectedVasIDs').val() + objvasID + ',');
                }
                if (!checkDuplicate($('#SelectedKenanCodes').val(), curKenanCode)) {
                    $('#SelectedKenanCodes').val($('#SelectedKenanCodes').val() + curKenanCode + ',');
                }
            }
        }

        function checkDuplicate(arrVasID, objvasID) {
            //alert(arrVasID +"_"+objvasID);
            if ($.isArray(arrVasID)) {
                arrVasID = jQuery.grep(arrVasID, function (value) {
                    if (value == objvasID) {
                        return true;
                    }
                    return value != objvasID;
                });
            }
        }

        function checkDataComponent(objvasID) {
            var count = 0;
            var mandatoryDataKenanCodes = '@(mandatoryDataKenanCodes)' + ',' + $('#SelectedKenanCodes').val() + $('#hdnContractkenanVASID').val();
            var things = mandatoryDataKenanCodes.split(',');
            for (var i = 0; i < things.length; i++) {
                if (things[i] == objvasID) {
                    count++;
                }
            }
            if (count > 0) {
                return true;
            }
            else {
                return false;
            }

        }

        function SetComponentIds() {
            $('#SelectedVasIDs').val('');
            $('[id^="btnVAS_"]').each(function (i) {
                var curBtnId = $(this).attr("id");
                var curbtnBorder = document.getElementById(curBtnId).style.borderStyle;
                var curKenanCode = curBtnId.toString().split('_')[2]
                var curCompId = curBtnId.toString().split('_')[1]
                if ($('#' + curBtnId).hasClass("selected-vas").toString() == "true") {
                    $('#SelectedVasIDs').val($('#SelectedVasIDs').val() + curCompId + ",");
                }
            });
        }

        function getDependencyComponents() {debugger;
            var variable2 = 2; // plan only
            SetComponentIds();
            var result = 0;
            var compIds = $('#SelectedVasIDs').val();
            if ('@(simtype)' == 'MISM') {
                var dataCompids = '@(dataCompIds)'.split(',');
                var things = dataCompids;
                for (var i = 0; i < things.length - 1; i++) {
                    //Do things with things[i]
                    result = checkDataComponent(things[i]);
                    if (result)
                        break;
                }debugger;
                if (!result) {
                    $('#Plan_Error').show();
                    $('#Plan_Error').html('Please select more than or equal to 2GB data component.');
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                }
            }
            var url = '@(Url.Content("~/Registration/GetDepenedencyComponents"))';
            $.post(url, { componentIds: compIds }, function (data) {
                if (data.toString() != "") {
                    $('#SelectedVasIDs').val(data);
                }
                //document.forms["frmSelectVAS"].submit();
                $("#frmSelectVAS").submit();
            });

        }        
    </script>
}
