﻿@*-----------------------------------------------------------------------------------
    Date Created: 11 October 2015
    Developer   : Ashley Ow
    View Name   : _BillSeparationNewOrderSummary.cshtml
    Purpose     : Partial view to display the summary for Bill Separation Service Request
    Version Control:
    Version     Date        Change Made
    1.0         11 Oct 2015  View created
    -----------------------------------------------------------------------------------*@
@using Online.Registration.Web.Helper
@using Online.Registration.Web.CustomExtension
@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.BillSeparationNewOrderSmVM

@Html.Partial("_NewOrderSummaryDetailCustInfo",Model.NewOrder)

<div class="row details paddingbtm">
    <div class="col-sm-6">
        <div class="col-sm-12 kill-padding">
            <p class="inner-title">Service Information</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">MSISDN</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.NewOrder.Msisdn)</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">From Account No</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.NewOrder.AccNum)</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">To Account No</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.NewOrder.ExistAccountNumber)</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-12 kill-padding">
            <p class="inner-title">Billing Address</p>
        </div>
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Primary Address</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">
                @CustomHtmlHelper.RenderAddress(
                    Html,
                    Model.NewOrder.NewAddrLine1,
                    Model.NewOrder.NewAddrLine2,
                    Model.NewOrder.NewAddrLine3,
                    Model.NewOrder.NewAddrPostCode,
                    Model.NewOrder.NewAddrCity,
                    Model.NewOrder.NewAddrState
                )
            </p>
        </div>
    </div>
</div>
<!--Start Term and condition-->
<div class="row border-top">
    @Html.EditorFor(n=>n.TermAndCondition,"TermAndCondition")
</div>
<!--Start SignatureBox-->
<div class="row border-bottom">
    <div class="col-sm-12">
        @Html.EditorFor(n => n.Signature, "SignatureBox")
    </div>
</div>