﻿@*-----------------------------------------------------------------------------------
    Date Created: 11 October 2015
    Developer   : Ashley Ow
    View Name   : _BillSeparation.cshtml
    Purpose     : Partial view to capture the details for Bill Separation Service Request
    Version Control:
    Version     Date        Change Made
    1.0         11 Oct 2015  View created
    -----------------------------------------------------------------------------------*@

@using Online.Registration.Web.ViewModels.Common;
@using Online.Registration.Web.CustomExtension;
@using Newtonsoft.Json
@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.BillSeparationNewOrderVM

@functions{
    object getTbHtmlAttribute()
    {
        return new { @class = "form-control search-num" };
    }
    object getReadOnlyTbHtmlAttribute()
    {
        return new { @class = "form-control search-num readonly", @readonly = "readonly" };
    }
}
@Html.HiddenFor(n=>n.OnlyOneAccNum)
<div class="row border-top even">
    <div class="col-sm-12 form paddingOverall">
        <!-- Start Customer Name -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Name</p>
            </div>
            <div class="col-sm-4">
                <p class="inner-content">@Html.TextBoxFor(model => model.CustName, @getReadOnlyTbHtmlAttribute())</p>
            </div>
        </div>

        <!-- Start Identity Type -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Identification</p>
            </div>
            <div class="col-sm-4">
                <div class="input-group-btn number-type">
                    @Html.CustomDropDownListFor(model => model.IdType, StaticListVM.Instance.IdTypList, new { disabled = "disabled" })
                </div>
            </div>
            <!-- Start Identity Number -->
            <div class="col-sm-2">
                <p class="inner-label">*Number</p>
            </div>
            <div class="col-sm-3">
                <p class="inner-content">
                    @Html.TextBoxFor(model => model.IdNum, @getReadOnlyTbHtmlAttribute())
                </p>
            </div>
        </div>
        <!-- Start MSISDN -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*MSISDN</p>
            </div>
            <div class="col-sm-4">
                <div class="input-group-btn number-type">
                    @Html.CustomDropDownListFor(model => model.Msisdn, Model.MSISDNList.ToSelectList())
                </div>
            </div>
        </div>

        <!-- Start Current Plan -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">Current Plan</p>
            </div>
            <div class="col-sm-9">
                <p class="inner-content">@Html.TextBoxFor(model => model.Plan, @getReadOnlyTbHtmlAttribute())</p>
            </div>
        </div>

        <!-- Start Account Number -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Account No</p>
            </div>
            <div class="col-sm-4">
                <p class="inner-content">@Html.TextBoxFor(model => model.AccNum, @getReadOnlyTbHtmlAttribute())</p>
            </div>
        </div>
    </div>

    <!-- Start Billing Address -->
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <p class="device-title">Billing Address</p>
            </div>
            <!-- Account type - existing or new -->
            <div class="row form paddingOverall">
                <div class="col-sm-3">
                    <p class="inner-label">*Separated To</p>
                </div>
                <div class="col-sm-4 inner-content">
                    @Html.RadioButtonFor(model => model.IsSplitNewAcc, false, new { onchange = "toggleAccountType(this.value);", id = "rbExistingFlag", @checked = "True", @class = "form-radio alert" }) <label for="rbExistingFlag" class="stock-label">Existing Account</label>
                    @Html.RadioButtonFor(model => model.IsSplitNewAcc, true, new { onchange = "toggleAccountType(this.value);", id = "rbNewFlag", @class = "form-radio alert" }) <label for="rbNewFlag" class="stock-label">New Account</label>
                    @Html.HiddenFor(n=>n.IsSplitNewAcc)
                </div>
            </div>

            <div class="row form paddingOverall" id="existingAcSection">
                <!-- Existing Account MSISDN -->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="inner-label">*MSISDN</p>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group-btn number-type">
                                @Html.CustomDropDownListFor(model => model.ExistMSISDN, Model.MSISDNList.ToSelectList())
                            </div>
                        </div>
                    </div>

                    <!-- Existing Account Number-->
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="inner-label">*Account No</p>
                        </div>
                        <div class="col-sm-4">
                            <p class="inner-content">@Html.TextBoxFor(model => model.ExistAccountNumber, @getReadOnlyTbHtmlAttribute())</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form paddingOverall">
                <!--capture billing address line 1-->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="inner-label">*Address</p>
                        </div>
                        <div class="col-sm-4">
                            <p class="inner-content">@Html.TextBoxFor(model => model.NewAddrLine1,new {@class = "form-control" })</p>
                        </div>
                    </div>

                    <!--capture billing address line 2-->
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-4">
                            <p class="inner-content">@Html.TextBoxFor(model => model.NewAddrLine2,new {@class = "form-control" })</p>
                        </div>
                    </div>

                    <!--capture billing address line 3-->
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-4">
                            <p class="inner-content">@Html.TextBoxFor(model => model.NewAddrLine3,new {@class = "form-control" })</p>
                        </div>
                    </div>

                    <!--capture billing post code-->
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="inner-label">*Postcode</p>
                        </div>
                        <div class="col-sm-3">
                            <p class="inner-content">@Html.TextBoxFor(model => model.NewAddrPostCode,new {@class = "form-control" })</p>
                        </div>
                        <div class="col-sm-3">
                            <p class="inner-content" id="PostcodeValidationMessage"></p>
                        </div>
                    </div>

                    <!--capture billing city-->
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="inner-label">*City</p>
                        </div>
                        <div class="col-sm-4">
                            <p class="inner-content">@Html.TextBoxFor(model => model.NewAddrCity, new { @readonly = "readonly", @class = "readonly form-control" })</p>
                        </div>
                    </div>

                    <!--capture billing state-->
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="inner-label">*State</p>
                        </div>
                        <div class="col-sm-4">
                            <p class="inner-content">@Html.TextBoxFor(model => model.NewAddrState, new { @readonly = "readonly", @class = "readonly form-control" })</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row border-top">
    @Html.EditorFor(model=>model.UploadDoc,"UploadDocuments")
</div>
<script type="text/javascript">
    var msisdnServiceInfo = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.MsisdnServiceInfoMap))');
    var idIsSplitNewAcc = "#@Html.IdFor(n=>n.IsSplitNewAcc)";
    var idExistAccountNumber = '#@Html.IdFor(m=>m.ExistAccountNumber)';
    var idExistMSISDN = '#@Html.IdFor(m=>m.ExistMSISDN)';
    var idExistMSISDNTxt = "#@Html.IdFor(m=>m.ExistMSISDN)Txt";
    var idOnlyOneAccNum = '#@Html.IdFor(n=>n.OnlyOneAccNum)';
    //reset hidden section
    toggleAccountType($("#@Html.IdFor(n=>n.IsSplitNewAcc)").val());
    //trigger checking postcode when refresh
    AutoPopulate();

    function toggleAccountType(flag) {
        $(idIsSplitNewAcc).val(flag);
        if (flag == "False") {
            if ($(idOnlyOneAccNum).val() == "True") {
                alert("There is no available existing Kenan account for bill separation. Please choose New Account to proceed.");
                $("#rbNewFlag").prop("checked", true)
                return;
            }
            enableAddress(false);
            $("#existingAcSection").show();
            $(idExistMSISDN).val($(idExistMSISDNTxt).text());
            setAddressInfo(msisdnServiceInfo[$(idExistMSISDN).val()]);
        }
        else {
            enableAddress(true);
            $(idExistMSISDN).val('');
            $(idExistAccountNumber).val('');
            $("#existingAcSection").hide();
        }
    }

    function enableAddress(enable) {
        var inputsEl = $("#@Html.IdFor(n=>n.NewAddrLine1),#@Html.IdFor(n=>n.NewAddrLine2),#@Html.IdFor(n=>n.NewAddrLine3),#@Html.IdFor(n=>n.NewAddrPostCode)");
        if (enable) inputsEl.removeAttr("readonly");
        else inputsEl.attr("readonly", "readonly");
    };

    function AutoPopulate() {
        var postcode = $('#@Html.IdFor(n=>n.NewAddrPostCode)').val();
        var IsReadOnly = $('#@Html.IdFor(n=>n.NewAddrPostCode)').is('[readonly]');

        if (postcode != "" && IsReadOnly.toString() == 'false') {
            var url = '@(Url.Content("~/Home/GenerateStateCityByPostCode"))';
            $.post(url, { postcode: postcode }, function (data) {

                if (data.postCode != "") {
                    $("#PostcodeValidationMessage").css("color", "green");
                    $('#PostcodeValidationMessage').text('Valid Postcode');
                    $('#PostcodeValidationMessage').attr('style', 'display: block; color: green');
                    $('#@Html.IdFor(n=>n.NewAddrCity)').val(data.city);
                    $('#@Html.IdFor(n=>n.NewAddrState)').attr('value', data.state);
                    $('#@Html.IdFor(n=>n.NewAddrState)').val(data.state);
                    $('#@Html.IdFor(n=>n.NewAddrStateID)').val(data.stateID);
                }
                else {
                    $("#PostcodeValidationMessage").css("color", "red");
                    $('#PostcodeValidationMessage').text('Invalid Postcode');
                    $('#PostcodeValidationMessage').attr('style', 'display: block; color: red');
                    $('#@Html.IdFor(n=>n.NewAddrCity)').val('');
                    $('#@Html.IdFor(n=>n.NewAddrState)').val('');
                    $('#@Html.IdFor(n=>n.NewAddrState)').attr('value', '');
                    $('#@Html.IdFor(n=>n.NewAddrState)').val('');
                    $('#@Html.IdFor(n=>n.NewAddrStateID)').val(data.stateID);
                }
            });
        }
        $('#ValidatedPostcode').val(postcode);
    }

    $(document).ready(function () {
        //Address
        $('#@Html.IdFor(n=>n.NewAddrPostCode)').blur(function () {
            clearAddMsg();
            AutoPopulate();
        });
        // disable post code validation message
        clearAddMsg();
        $('#@Html.IdFor(m=>m.Msisdn)').change(function () {
            $("#@Html.IdFor(m=>m.AccNum)").val(msisdnServiceInfo[this.value].AccNum);
            $("#@Html.IdFor(m=>m.Plan)").val(msisdnServiceInfo[this.value].Plan);
        });
        $('#@Html.IdFor(m=>m.ExistMSISDN)').change(function () {
            var d = msisdnServiceInfo[this.value];
            setAddressInfo(d);
        });
    });
    function clearAddMsg() {
        $('#PostcodeValidationMessage').attr('readonly', true);
        $('#PostcodeValidationMessage').attr('style', 'display: none');
    };
    function setAddressInfo(d) {
        $("#@Html.IdFor(m=>m.ExistAccountNumber)").val(d.AccNum);
        $('#@Html.IdFor(n=>n.NewAddrLine1)').val(d.BillAddLine1);
        $('#@Html.IdFor(n=>n.NewAddrLine2)').val(d.BillAddLine2);
        $('#@Html.IdFor(n=>n.NewAddrLine3)').val(d.BillAddLine3);
        $('#@Html.IdFor(n=>n.NewAddrPostCode)').val(d.BillAddPostCode);
        $('#@Html.IdFor(n=>n.NewAddrCity)').val(d.BillAddCity);
        $('#@Html.IdFor(n=>n.NewAddrState)').val(d.BillAddState);
        $('#@Html.IdFor(n=>n.NewAddrStateID)').val(d.BillAddStateId);
        //Trigger postcode change to validate postcode
        clearAddMsg();
        AutoPopulate();
    };
</script>
