﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.CustomExtension;

@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.BillSeparationViewOrderVM

@Html.Partial("_ViewOrderDetailCustInfo", Model)

<div class="row details paddingbtm">
    <div class="col-sm-6">
        <div class="col-sm-12 kill-padding">
            <p class="inner-title">Service Information</p>
        </div>
        <div class="clearfix"></div>
        <!--Start MSISDN-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">MSISDN</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.Service_MSISDN)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start From Account number-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">From Account No.</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.Service_AccountNumber)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start To Account number-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">To Account No.</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.NewAccountNo)</p>
        </div>
    </div>
    <!--Start PostCode, City, State-->
    <div class="col-sm-6">
        <div class="col-sm-12 kill-padding">
            <p class="inner-title">Billing Address</p>
        </div>
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Primary Address</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">
                @CustomHtmlHelper.RenderAddress(
                    Html,
                    Model.Service_BillAddressLine1,
                    Model.Service_BillAddressLine2,
                    Model.Service_BillAddressLine3,
                    Model.Service_BillAddressPostCode,
                    Model.Service_BillAddressCity,
                    Model.Service_BillAddressState
                )
            </p>
        </div>
    </div>
</div>