﻿@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "_Billing";
}

@model Online.Registration.Web.ViewModels.PersonalDetailsVM
               
<table width="500px">
    <tr>
        <td><b>@Html.LabelFor(model => model.Customer.PayModeID)</b></td>
        <td>@(Html.Telerik().DropDownListFor(model => model.Customer.PayModeID).BindTo(Util.GetList(RefType.PaymentMode, defaultValue: "")).ClientEvents(events => events.OnChange("paymodeChanged")))</td> 
    </tr>
</table>
