﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@using Online.Registration.Web.SubscriberICService;
@{
    ViewBag.Title = "Customer";
    var idCardTypeID = Model.Customer.IDCardTypeID;

    var minAge = Session["RegMobileReg_ProgramMinAge"].ToInt();
    int CustomerTitleIDfromConfig = System.Configuration.ConfigurationManager.AppSettings["CustomerTitleID"] != null ? Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CustomerTitleID"]) : 0;
    var NRICType = Util.GetIDCardTypeID(IDCARDTYPE.NRIC);
    //RST
    int idCardTypeId = (!ReferenceEquals(Model.Customer.IDCardTypeID, null)) ? Model.Customer.IDCardTypeID : 0;
    
    string idCardNo = (!ReferenceEquals(Model.Customer.IDCardNo, null)) ? Model.Customer.IDCardNo.ToString2() : "";
    //End RST
    var msisdn = Session["ExternalID"].ToString2();
    ///GET THE retrieveAcctListByICResponse TYPE OF OBJECT FROM SESSION IF PPID="E" FOLLOWING SHOULD BE AVAILABLE    
    ///Check Session["PPID"] IF IT CONTAINS 'E' IF EXISTING SET IsExistingUser TO TRUE AGAIN CHECK IF AcctListByICResponse IS NULL THEN SET IT TO FALSE AS NO DATA TO DISPLAY

    CustomizedCustomer CustomerPersonalInfo = null;
    if (!ReferenceEquals(Session["AllServiceDetails"], null))
    {
        CustomerPersonalInfo = WebHelper.Instance.constructPersonalInformationForView(msisdn);
    }
    
    string hyphen = " - ";   
}
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
<div class="form-row">
    <div class="form-label">
        Title
    </div>
    <div>
        :
        @Html.Raw(CustomerPersonalInfo.Title)
        @if (CustomerPersonalInfo != null && string.IsNullOrWhiteSpace(CustomerPersonalInfo.Title))
        {
            //if (CustomerPersonalInfo.CustomerTitleID != null)
            if (!string.IsNullOrWhiteSpace(CustomerPersonalInfo.Title))
            {
                Online.Registration.Web.RegistrationSvc.RegistrationServiceClient client = new Online.Registration.Web.RegistrationSvc.RegistrationServiceClient();
                int titleID = client.GetIdByTitleName(CustomerPersonalInfo.Title);
                Model.Customer.CustomerTitleID = titleID;
            }
            else
            {
                Model.Customer.CustomerTitleID = CustomerTitleIDfromConfig;
            }
        }
        else
        {
            Model.Customer.CustomerTitleID = CustomerTitleIDfromConfig;
        }
        @Html.HiddenFor(model => model.Customer.CustomerTitleID)
    </div>
    <div style="display: none;">
        @if (Model.Customer.Gender.ToString2() != "")
        {
            @Html.Label("Male") @Html.RadioButtonFor(model => model.Customer.Gender, "M", new { onclick = "setGender(this);", display = "none" })
            @Html.Label("Female") @Html.RadioButtonFor(model => model.Customer.Gender, "F", new { onclick = "setGender(this);", display = "none" })
        }
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        Full Name
    </div>
    <div>
        :
        @CustomerPersonalInfo.CustomerName
    </div>
    <div style="display: none;">
        @if (CustomerPersonalInfo != null)
        {
            if (CustomerPersonalInfo.CustomerName != null)
            {
            @Html.HiddenFor(model => model.Customer.FullName, new { @Value = CustomerPersonalInfo.CustomerName })
                // @Html.TextBoxFor(model => model.Customer.FullName, new { style = "width:300px;",  @class = "uppercase", onchange = "toUpperCase(this)", @Value = CustomerPersonalInfo.CustomerName })
            }
            else
            {
            @Html.HiddenFor(model => model.Customer.FullName)
            }
        }
        else
        {
            @Html.HiddenFor(model => model.Customer.FullName)
        }
    </div>
</div>
<div class="form-row">
    <div class="form-label">
        ID No</div>
    <div>
        : @Util.GetNameByID(RefType.IDCardType, Model.Customer.IDCardTypeID) @hyphen @Model.Customer.IDCardNo
        
    </div>
    @Html.HiddenFor(model => model.InputIDCardTypeID)
    @Html.HiddenFor(model => model.InputIDCardNo)
    @Html.HiddenFor(model => model.Customer.NationalityID)
    @Html.HiddenFor(model => model.Customer.IDCardTypeID)
    @Html.HiddenFor(model => model.Customer.IDCardNo)
    <div style="float: left; padding-left: 2px; display: none;">
        
    </div>
</div>
@if (CustomerPersonalInfo.Dob.Length > 0)
{
    try
    {
        string dd = CustomerPersonalInfo.Dob.Substring(6, 2);
        string mm = CustomerPersonalInfo.Dob.Substring(4, 2);
        string yy = CustomerPersonalInfo.Dob.Substring(0, 4);

        <div class="form-row">
        <div class="form-label">
            DOB
        </div>
        <div>
            :
            @CustomerPersonalInfo.Dob.Substring(6, 2) -
            @CustomerPersonalInfo.Dob.Substring(4, 2) -
            @CustomerPersonalInfo.Dob.Substring(0, 4)
            <div style="display: none">
                @if (CustomerPersonalInfo != null)
                {
                    //Changes made by chetan
                    if ((CustomerPersonalInfo.Dob != null) && (CustomerPersonalInfo.Dob != "") && CustomerPersonalInfo.Dob.Length >= 8)
                    {
                        /*@(Html.Telerik().DropDownListFor(model => model.DOBDay).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetDayList(selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(6, 2)).ToString())).Enable(false))  
                                                @(Html.Telerik().DropDownListFor(model => model.DOBMonth).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetMonthList(selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(4, 2)).ToString())).Enable(false))   
                                                @(Html.Telerik().DropDownListFor(model => model.DOBYear).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetYearList(18, selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(0, 4)).ToString())).Enable(false))   */
                        Model.DOBDay = (CustomerPersonalInfo.Dob.Substring(6, 2)).ToInt();
                        Model.DOBMonth = (CustomerPersonalInfo.Dob.Substring(4, 2)).ToInt();
                        Model.DOBYear = (CustomerPersonalInfo.Dob.Substring(0, 4)).ToInt();

                    }

                    if (CustomerPersonalInfo.Dob.Length >= 8)
                    {
                        Model.DOBDay = (CustomerPersonalInfo.Dob.Substring(6, 2)).ToInt();
                        Model.DOBMonth = (CustomerPersonalInfo.Dob.Substring(4, 2)).ToInt();
                        Model.DOBYear = (CustomerPersonalInfo.Dob.Substring(0, 4)).ToInt();
                    }
                    else
                    {
                        if (!string.IsNullOrEmpty(CustomerPersonalInfo.NewIC))
                        {
                            CustomerPersonalInfo.Dob = CustomerPersonalInfo.NewIC;
                            int year = Session["IDCardNo"].ToString().Substring(0, 2).ToInt();
                            int CurrYear = DateTime.Now.Year;
                            string PreYear = "19" + year.ToString();

                            if (CurrYear - PreYear.ToInt() <= 100)
                            {
                                Model.DOBYear = PreYear.ToInt();
                            }
                            else
                            {
                                PreYear = "20" + year.ToString();
                                Model.DOBYear = PreYear.ToInt();
                            }


                            Model.DOBDay = (CustomerPersonalInfo.Dob.Substring(4, 2)).ToInt();
                            Model.DOBMonth = (CustomerPersonalInfo.Dob.Substring(2, 2)).ToInt();
                            //Model.DOBYear = (CustomerPersonalInfo.Dob.Substring(0, 4)).ToInt();

                            /*@(Html.Telerik().DropDownListFor(model => model.DOBDay).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetDayList(selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(6, 2)).ToString())).Enable(false))  
                                                    @(Html.Telerik().DropDownListFor(model => model.DOBMonth).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetMonthList(selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(4, 2)).ToString())).Enable(false))   
                                                    @(Html.Telerik().DropDownListFor(model => model.DOBYear).HtmlAttributes(new { style = "width: 60px;" }).BindTo(Util.GetYearList(18, selectedValue: Convert.ToInt32(CustomerPersonalInfo.Dob.Substring(0, 4)).ToString())).Enable(false))   */
                        }
                    }


                    Model.Customer.CustomerTitleID = CustomerPersonalInfo.CustomerTitleID;


                }
            </div>
            @Html.HiddenFor(model => model.DOBDay)
            @Html.HiddenFor(model => model.DOBMonth)
            @Html.HiddenFor(model => model.DOBYear)
        </div>
    </div>
    }
    catch
    {
        <div class="form-row">
            <div class="form-label">DOB</div>
            <div>:</div>
        </div>
    }

}
<div class="form-row">
    <div class="form-label">
        Contact No
    </div>
    <div>
        : @*        @msisdn*@
        @Html.Raw(CustomerPersonalInfo.Cbr.ToString2() != string.Empty ? CustomerPersonalInfo.Cbr.ToString2() : string.Empty)
        <div style="display: none;">
            @if (CustomerPersonalInfo != null)
            {
                if ( !string.IsNullOrEmpty(CustomerPersonalInfo.Cbr) )
                {
                    CustomerPersonalInfo.Cbr = CustomerPersonalInfo.Cbr;
                }
                else
                {
                    CustomerPersonalInfo.Cbr = Session["MSISDN"].ToString2();
                }
                @(CustomerPersonalInfo.Cbr != null ? Html.HiddenFor(model => model.Customer.ContactNo, new { @Value = CustomerPersonalInfo.Cbr.Replace("-", string.Empty) }) : Html.HiddenFor(model => model.Customer.ContactNo, new { @Readonly = "Readonly" }))
            }
            else
            {
                @Html.HiddenFor(model => model.Customer.ContactNo)      
            }
        </div>
    </div>
</div>
<div id="divCreditCheckMsg" style="display: none;">
    <div id="lblCreditCheck" style="font-weight: bold; color: Red; display: none;">
        Credit Check Failed.</div>
</div>
