﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.SubscriberICService;
@using Telerik.Web.Mvc.UI;
@using Online.Registration.Web.Areas.CRP.CRPViewModels;
@model Online.Registration.Web.ViewModels.ContractVM
@{
    ViewBag.Title = "Choose Add Contract option";
    Layout = "~/Views/Shared/_NewLayout.cshtml";

    var prevButton = AddContractRegSteps.AccountList.ToInt();
    var nextButtonDevice = AddContractRegSteps.DevicePlan.ToInt();
    var nextButtonAccessory = AddContractRegSteps.Accessory.ToInt();
    var fromIpad = Request.Headers["User-Agent"].ToLower().Contains("ipad");
    var containerClass = fromIpad ? "container-fluid ipad-container" : "container";

    string contractExtend = string.Empty;
    string isTerminate = string.Empty;

    if (Model != null && Model.ContractDetails != null && Model.ContractDetails.ComponentDesc != null)
    {
        contractExtend = Model.ContractDetails.ContractExtend.ToString();
    }

    string contractType = string.Empty;
    string penality = string.Empty;

    if (Model != null && Model.ContractType != null)
    {
        contractType = Model.ContractType;
        penality = Model.Penality;
    }
    decimal penaltyAmt = Model.Penality == null || Model.Penality == string.Empty || Model.Penality == "0" ? Convert.ToDecimal("0.00") : Convert.ToDecimal(Model.Penality.ToString());


    decimal ContractPenaltyWaiveOff = Model.ContractDetailsList != null ? Model.ContractDetailsList.Sum(a => a.PenaltyWaiveOff) : 0;

    int CDuration = 0;
    List<int> waivedContractDurations = new List<int>();
    int NoOfContracts = 0;
    int NoOfContractsWaived = 0;
    if (Model.ContractDetailsList != null && Model.ContractDetailsList.Count > 0)
    {
        NoOfContracts = Model.ContractDetailsList.Count;
        NoOfContractsWaived = Model.ContractDetailsList.Where(c => c.PenaltyWaiveOff > 0).Count();
        waivedContractDurations = Model.ContractDetailsList.Where(c => c.PenaltyWaiveOff > 0).Select(c => c.ContractDuration).Distinct().ToList();
        if (waivedContractDurations.Count > 0) { CDuration = waivedContractDurations[0]; }
    }

    List<Online.Registration.Web.SubscriberICService.PackageModel> packages = (List<Online.Registration.Web.SubscriberICService.PackageModel>)Session["Package"];

    bool hascontracts = false;
    bool hasContractsKenan = false;
    bool othercontracts = false;
    RegistrationServiceProxy proxy = new RegistrationServiceProxy();
    IEnumerable<string> lstContracts = proxy.GetContractsList().ToList().Select(c => c.KenanCode);
    IEnumerable<string> lstContractsKenan = proxy.GetContractsList().Where(c => c.IsDeviceContract == 1).ToList().Select(c => c.KenanCode);

    List<Online.Registration.DAL.Models.RestrictedComponent> restrictcomps = new List<Online.Registration.DAL.Models.RestrictedComponent>();
    using (CatalogServiceProxy prox = new CatalogServiceProxy())
    {
        restrictcomps = prox.GetAllRestrictedComponents();
    }

    List<Online.Registration.DAL.Models.Contracts> contracts = proxy.GetContractsList();


    if (packages != null)
    {
        foreach (var contract in packages)
        {

            for (int i = 0; i < contract.compList.Count; i++)
            {
                List<int> duration = contracts.Where(a => a.KenanCode == contract.compList[i].componentId).Select(a => a.Duration).ToList();
                string date = contract.compList[i].componentActiveDt;
                DateTime newdateTime = new DateTime();

                DateTime dateTime = DateTime.ParseExact(date.Substring(0, 8), "yyyyMMdd", null);
                if (duration.Count() > 0)
                {
                    newdateTime = dateTime.AddMonths(duration[0]);
                }
                if (lstContracts.Contains(contract.compList[i].componentId) && DateTime.Compare(newdateTime, DateTime.Now) > 0)
                {
                    hascontracts = true;
                }
                else
                {
                    othercontracts = true;
                }
                if (lstContractsKenan.Contains(contract.compList[i].componentId))
                {
                    hasContractsKenan = true;
                }

                if (hascontracts && othercontracts && hasContractsKenan)
                {
                    goto ExitNestedLoop;//doesn't need to check again
                }
            }
        }
    }
ExitNestedLoop:


    bool contractK2DFExist = false;
    bool contractAFExist = false;

    if (Model.contractGroupDetails != null)
    {
        var k2DFContractType = new List<string>(new string[] { "AF", "DF" });
        contractK2DFExist = Model.contractGroupDetails.Where(x => x.contractGroup == "DF").Any();
        contractAFExist = Model.contractGroupDetails.Where(x => x.contractGroup == "AF").Any();

        contractK2DFExist = contractK2DFExist == false ? Model.contractGroupDetails.Where(x => !k2DFContractType.Contains(x.contractGroup)).Any() : contractK2DFExist;
    }

    bool bothContractExist = contractK2DFExist && contractAFExist;

    string assignOrTerminateDeviceOnly = Constants.TERMINATEASSIGN_DEVICE_ONLY;
    string assignOrTerminateAccOnly = Constants.TERMINATEASSIGN_ACC_ONLY;
    string assignOrTerminateAll = Constants.TERMINATEASSIGN_ALL;

    var IsDealer = Session["IsDealer"].ToBool();
    var IsCDPU = Util.isCDPUUser();
    var hideAccOnly = IsDealer && !IsCDPU;    
}
<div class="@containerClass">
    <div class="isell-base">
    @{
        var viewBagValue = new ViewDataDictionary();
        viewBagValue.Add("headerLabel", "Add Contract / Zerolution:");
        Html.RenderPartial("_AccountHolderName", viewBagValue);
    }
    
    <div class="row">
        <div class="col-sm-12 green-bg">
            <p class="font-24">Add Contract / Zerolution</p>
        </div>
    </div>

    @using (Html.BeginForm("ContractCheck", "AddContract", FormMethod.Post, new { id = "frmContractCheck", defaultbutton = "Continue", @class = "overlayonsubmit", processmsg = "Loading" }))
    {
        @Html.Hidden("TabNumber");
        @Html.Hidden("FormAction");
        @Html.HiddenFor(a => a.Packages)
        @Html.HiddenFor(a => a.ContractDetails)
        @Html.HiddenFor(a => a.AccountType)
        @Html.HiddenFor(a => a.ContractType)
        @Html.HiddenFor(a => a.SubscriberNo)
        @Html.HiddenFor(a => a.SubscriberNoResets)
        @Html.HiddenFor(a => a.AccountNumber)
        @Html.HiddenFor(a => a.penaltybyMSISDN)
        @Html.HiddenFor(a => a.MSISDN)
        @Html.HiddenFor(a => a.PackageDesc)
        @Html.HiddenFor(a => a.PackageId)
        @Html.HiddenFor(a => a.ContractRemainingMonths)
        @Html.HiddenFor(a => a.VasComponents)
        @Html.HiddenFor(a => a.KenanAccountNo)
        @Html.HiddenFor(a => a.Penality)
        @Html.HiddenFor(a => a.VasNames)
        @Html.HiddenFor(a => a.Package)
        @Html.HiddenFor(a => a.contractExtend)
        @Html.HiddenFor(a => a.SimType)
        @Html.HiddenFor(a => a.ParentAction)
        @Html.HiddenFor(a => a.SubAction)
        @Html.Hidden("hasK2Contracts", hasContractsKenan);

                                                         for (var i = 0; i < Model.ContractDetailsList.Count; i++)
                                                         {
            @Html.HiddenFor(m => m.ContractDetailsList[i].ActiveDate)
            @Html.HiddenFor(m => m.ContractDetailsList[i].CMSSID)
            @Html.HiddenFor(m => m.ContractDetailsList[i].ComponentDesc)
            @Html.HiddenFor(m => m.ContractDetailsList[i].ContractDuration)
            @Html.HiddenFor(m => m.ContractDetailsList[i].ContractEndDate)
            @Html.HiddenFor(m => m.ContractDetailsList[i].ContractExtend)
            @Html.HiddenFor(m => m.ContractDetailsList[i].ContractExtendType)
            @Html.HiddenFor(m => m.ContractDetailsList[i].ContractRemaining)
            @Html.HiddenFor(m => m.ContractDetailsList[i].ContractStartDate)
            @Html.HiddenFor(m => m.ContractDetailsList[i].ContractTerimnate)
            @Html.HiddenFor(m => m.ContractDetailsList[i].EndDate)
            @Html.HiddenFor(m => m.ContractDetailsList[i].Penalty)
            @Html.HiddenFor(m => m.ContractDetailsList[i].PenaltyWaiveOff)
            @Html.HiddenFor(m => m.ContractDetailsList[i].Waived)
            @Html.HiddenFor(m => m.ContractDetailsList[i].isellContractGroup)
                                                             if (Model.ContractDetailsList[i].paramLists != null)
                                                             {
                                                                 for (var j = 0; j < Model.ContractDetailsList[i].paramLists.Count; j++)
                                                                 {
                                                                    @Html.HiddenFor(m => m.ContractDetailsList[i].paramLists[j].paramID)
                                                                    @Html.HiddenFor(m => m.ContractDetailsList[i].paramLists[j].paramName)
                                                                    @Html.HiddenFor(m => m.ContractDetailsList[i].paramLists[j].paramValue)
                                                                 }
                                                             }
                                                         }
        
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="content search-header">
                        <div class="search-header-box">
                            <div class="search-hdr-title"><p class="device-title">@ViewBag.Title</p></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="content_white">
                        <div id="Plan_Error" class="ErrorClass" style="font-size: 15px">@Model.ErrMsg</div>
                    </div>
                </div>

                @if (Model.ContractDetailsList != null && Model.ContractDetailsList.Count > 0)
                {
                    if (!string.IsNullOrEmpty(Model.ContractType))
                    {
                        foreach (var currContract in Model.contractGroupDetails)
                        {
                            if (currContract.contractGroup == "DF")
                            {
                                var totalPenalty = currContract.contracts.Sum(od => od.Penalty);
                                <div class="col-sm-12 col-xs-12 kill-padding">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="content_white">
                                            <div id="contract_label" style="font-size: 15px; font-weight: bold">@Constants.SUBHEADER_K2</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-xs-12">
                                        @{
                                        Html.Telerik().Grid(currContract.contracts)
                                        .Name("gvwcontractcheck")
                                        .Footer(false).Scrollable(a => a.Enabled(false).Height("auto"))
                                        .TableHtmlAttributes(new { style = "" })
                                        .NoRecordsTemplate("No records to display")
                                        .Columns(cols =>
                                        {
                                            cols.Bound(m => m.ComponentDesc).Title("Contract Name").Width("25%");
                                            cols.Bound(m => m.ContractStartDate).Title("Start Date").Width("15.5%");
                                            cols.Bound(m => m.ContractEndDate).Title("End Date").Width("15.5%");
                                            cols.Bound(m => m.ContractRemaining).Title("Contract Remaining").Width("17%");
                                            cols.Bound(m => m.Penalty).Title("Remaining Payment").Width("15.5%");
                                        }).Render();   
                                         }
                                    </div>
                                    <table width="100%" id="table-penalty-DF" hidden>
                                        @if (totalPenalty > 0)
                                        {
                                        <tr>
                                            <td style="color: #ff0000; font-weight: bold; padding-left:15px; font-size: 14px;">@Constants.TERMINATION_MSG_DF</td>
                                        </tr>
                                        <tr style="font-size: 15px;">
                                            <td colspan="2" style="padding-left: 15px">
                                               <b>Remaining device instalment amount is
                                                    @if (totalPenalty == 0)
                                                    {   <b>RM 0.00</b> }
                                                    else
                                                    {
                                                        <b>RM @(totalPenalty)</b>
                                                    }, which has to be paid in full. Do you want to continue?</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <table class="iselltable" style="width: 600px">
                                                    <tr>
                                                        <th>
                                                            <b>Device Model:</b>
                                                        </th>
                                                        <th>
                                                            <b>IMEI:</b>
                                                        </th>
                                                        <th>
                                                            <b>Upgrade Fee:</b>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td>@Model.PenaltyDeviceModel
                                                        </td>
                                                        <td>@Model.PenaltyDeviceIMEI
                                                        </td>
                                                        @if (!string.IsNullOrEmpty(Model.PenaltyUpgradeFee.ToString2()))
                                                        {
                                                            <td>
                                                                RM @Model.PenaltyUpgradeFee.ToString2().ToDecimal().ToString("0.00")
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                RM 0.00
                                                            </td>
                                                        }
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        }

                                    </table>
                                </div>
                            }
                            else if (currContract.contractGroup == "AF")
                            {
                                var totalPenalty = currContract.contracts.Sum(od => od.Penalty);
                                <div class="col-sm-12 col-xs-12 kill-padding">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="content_white">
                                            <div id="contract_label" style="font-size: 15px; font-weight: bold">@Constants.SUBHEADER_AF</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-xs-12">
                                        @{
                                        Html.Telerik().Grid(currContract.contracts)
                                        .Name("gvwcontractcheck")
                                        .Footer(false).Scrollable(a => a.Enabled(false).Height("auto"))
                                        .TableHtmlAttributes(new { style = "" })
                                        .NoRecordsTemplate("No records to display")
                                        .Columns(cols =>
                                        {
                                            cols.Bound(m => m.ComponentDesc).Title("Contract Name").Width("25%");
                                            cols.Bound(m => m.ContractStartDate).Title("Start Date").Width("15.5%");
                                            cols.Bound(m => m.ContractEndDate).Title("End Date").Width("15.5%");
                                            cols.Bound(m => m.ContractRemaining).Title("Contract Remaining").Width("17%");
                                            cols.Bound(m => m.Penalty).Title("Remaining Payment").Width("15.5%");
                                        }).Render();   
                                         }
                                    </div>
                                    <table width="100%" id="table-penalty-AF" hidden>
                                        @if (totalPenalty > 0)
                                        {
                                        <tr>
                                            <td style="color: #ff0000; font-weight: bold; padding-left:15px; font-size: 14px;">@Constants.TERMINATION_MSG_DF</td>
                                        </tr>
                                        <tr style="font-size: 15px;">
                                            <td colspan="2" style="padding-left: 15px">
                                               <b>Remaining accessories instalment amount is
                                                    @if (totalPenalty == 0)
                                                    {   <b>RM 0.00</b> }
                                                    else
                                                    {
                                                        <b>RM @(totalPenalty)</b>
                                                    }, which has to be paid in full. Do you want to continue?</b>
                                            </td>
                                        </tr>
                                            
                                            //var extendedData = currContract.contracts.Where(x => x.paramLists != null).ToList().FirstOrDefault().paramLists;
                                            //if (extendedData != null && extendedData.Count() > 0)
                                            if (currContract != null && currContract.contracts != null && currContract.contracts.Where(x => x.paramLists != null).Any())
                                            {
                                                var extendedData = currContract.contracts.Where(x => x.paramLists != null).ToList().FirstOrDefault().paramLists;
                                                <tr>
                                                    <td colspan="2">
                                                        <table class="iselltable" style="width: 600px">
                                                            <tr>
                                                                <th>
                                                                    <b>No.</b>
                                                                </th>
                                                                <th>
                                                                    <b>Accessories Details</b>
                                                                </th>
                                                            </tr>
                                                            @{
                                                            int number = 1;
                                                    

                                                            for (var i = 0; i < extendedData.Count(); i++)
                                                            { 
                                                                    <tr>
                                                                    <td>
                                                                    @number
                                                                    </td>
                                                
                                                                    <td>
                                                                    @extendedData[i].paramValue
                                                                    </td>
                                                                    </tr>
                                                                number++;
                                                            }  
                                                              }
                                                    
                                                        </table>
                                                    </td>
                                                </tr>
                                            }
                                             
                                        
                                        }
                                    </table>    


                                </div>
                            }
                            else
                            {
                                var totalPenalty = currContract.contracts.Sum(od => od.Penalty);
                                var totalPenaltyWaiveOff = currContract.contracts.Sum(od => od.PenaltyWaiveOff);
                                <div class="col-sm-12 col-xs-12 kill-padding">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="content_white">
                                            <div id="contract_label" style="font-size: 15px; font-weight: bold">@Constants.SUBHEADER_K2</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-xs-12">
                                        @{
                                            Html.Telerik().Grid(currContract.contracts)
                                            .Name("gvwcontractcheck")
                                            .Footer(false).Scrollable(a => a.Enabled(false).Height("auto"))
                                            .NoRecordsTemplate("No records to display")
                                            .Columns(cols =>
                                            {
                                                cols.Bound(m => m.ComponentDesc).Title("Contract Name").Width("18%");
                                                cols.Bound(m => m.ContractStartDate).Title("Start Date").Width("15.5%");
                                                cols.Bound(m => m.ContractEndDate).Title("End Date").Width("15.5%");
                                                cols.Bound(m => m.ContractRemaining).Title("Contract Remaining").Width("17%");
                                                cols.Bound(m => m.Penalty).Title("Early Termination Fee").Width("19%");
                                                cols.Bound(m => m.PenaltyWaiveOff).Title("Early Termination Fee Waive Off").Width("20%");
                                                cols.Template(
                                                    @<text>
                                                        @if (@item.Waived == true)
                                                        {
                                                            <input type="checkbox" checked="checked" disabled="disabled"/> 
                                                        }
                                                        else
                                                        {
                                                        <input type="checkbox" disabled="disabled"/> 
                                                        }
                                                        </text>).Title("Waived");
                                            }).Render();
                                         }
                                    </div>
                                    <table width="100%" id="table-penalty-other" hidden>
                                        @if (totalPenalty > 0)
                                        {
                                        <tr>
                                            <td style="color: #ff0000; font-weight: bold; padding-left:15px; font-size: 14px;">@Constants.TERMINATION_MSG_K2</td>
                                        </tr>
                                        <tr style="font-size: 15px;">
                                            <td colspan="2" style="padding-left: 15px">
                                               <b>The Early Termination Fee Amount is
                                                    @if (totalPenalty == 0)
                                                    { <b>RM 0.00</b> }
                                                    else
                                                    {
                                                        if (Session["ContractType"] == "StoPrinciple" || Session["ContractType"] == "PtoSupline")
                                                        {
                                                            <b>RM @(totalPenalty)</b>
                                                        }
                                                        else
                                                        { 
                                                            <b>RM @((totalPenalty - totalPenaltyWaiveOff))</b>
                                                        }
                                                    }, do you want to continue?</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <table class="iselltable" style="width: 600px">
                                                    <tr>
                                                        <th>
                                                            <b>Phone Model:</b>
                                                        </th>
                                                        <th>
                                                            <b>RRP:</b>
                                                        </th>
                                                        <th>
                                                            <b>Upfront Payment:</b>
                                                        </th>
                                                        <th>
                                                            <b>Admin Fee:</b>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <td>@Model.PenaltyPhoneModel
                                                        </td>
                                                        @if (!string.IsNullOrEmpty(Model.PenaltyRRP.ToString2()))
                                                        {
                                                            <td>
                                                                RM @Model.PenaltyRRP.ToString2().ToDecimal().ToString("0.00")
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                RM 0.00
                                                            </td>
                                                        }
                                                        @if (!string.IsNullOrEmpty(Model.Upfrontpayment.ToString2()))
                                                        {
                                                            <td>
                                                                RM @Model.Upfrontpayment.ToString2().ToDecimal().ToString("0.00")
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                RM 0.00
                                                            </td>
                                                        }
                                                        <td>
                                                            RM @Model.PenaltyAdminFee.ToString2()
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        }

                                    </table>
                                
                                </div>
                            }

                        }

                    }
                    else
                    {// this is for no action
                        foreach (var currContract in Model.contractGroupDetails)
                        {
                            if (currContract.contractGroup == "DF")
                            {
                                <div class="col-sm-12 col-xs-12 kill-padding">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="content_white">
                                            <div id="contract_label" style="font-size: 15px; font-weight: bold">@Constants.SUBHEADER_K2</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-xs-12">
                                        @{
                                        Html.Telerik().Grid(currContract.contracts)
                                        .Name("gvwcontractcheck")
                                        .Footer(false).Scrollable(a => a.Enabled(false))
                                        .TableHtmlAttributes(new { style = "" })
                                        .NoRecordsTemplate("No records to display")
                                        .Columns(cols =>
                                        {
                                            cols.Bound(m => m.ComponentDesc).Title("Contract Name").Width("25%");
                                            cols.Bound(m => m.ContractStartDate).Title("Start Date").Width("15.5%");
                                            cols.Bound(m => m.ContractEndDate).Title("End Date").Width("15.5%");
                                            cols.Bound(m => m.ContractRemaining).Title("Contract Remaining").Width("17%");
                                            cols.Bound(m => m.Penalty).Title("Remaining Payment").Width("15.5%");

                                        })
                                        .Render();
                                         }
                                     </div>
                                </div>
                            }
                            else if (currContract.contractGroup == "AF")
                            {
                                <div class="col-sm-12 col-xs-12 kill-padding">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="content_white">
                                            <div id="contract_label" style="font-size: 15px; font-weight: bold">@Constants.SUBHEADER_AF</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-xs-12">
                                        @{
                                        Html.Telerik().Grid(currContract.contracts)
                                        .Name("gvwcontractcheck")
                                        .Footer(false).Scrollable(a => a.Enabled(false))
                                        .TableHtmlAttributes(new { style = "" })
                                        .NoRecordsTemplate("No records to display")
                                        .Columns(cols =>
                                        {
                                            cols.Bound(m => m.ComponentDesc).Title("Contract Name").Width("25%");
                                            cols.Bound(m => m.ContractStartDate).Title("Start Date").Width("15.5%");
                                            cols.Bound(m => m.ContractEndDate).Title("End Date").Width("15.5%");
                                            cols.Bound(m => m.ContractRemaining).Title("Contract Remaining").Width("17%");
                                            cols.Bound(m => m.Penalty).Title("Remaining Payment").Width("15.5%");
                                        })
                                        .Render();
                                         }
                                     </div>
                                </div>
                            }
                            else
                            { 
                                <div class="col-sm-12 col-xs-12 kill-padding">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="content_white">
                                            <div id="contract_label" style="font-size: 15px; font-weight: bold">@Constants.SUBHEADER_K2</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-xs-12">
                                        @{
                                        Html.Telerik().Grid(currContract.contracts)
                                        .Name("gvwcontractcheck")
                                        .Footer(false).Scrollable(a => a.Enabled(false))
                                        .TableHtmlAttributes(new { style = "" })
                                        .NoRecordsTemplate("No records to display")
                                        .Columns(cols =>
                                        {
                                            cols.Bound(m => m.ComponentDesc).Title("Contract Name").Width("25%");
                                            cols.Bound(m => m.ContractStartDate).Title("Start Date").Width("15.5%");
                                            cols.Bound(m => m.ContractEndDate).Title("End Date").Width("15.5%");
                                            cols.Bound(m => m.ContractRemaining).Title("Contract Remaining").Width("17%");
                                            cols.Bound(m => m.Penalty).Title("Remaining Payment").Width("15.5%");
                                        })
                                        .Render();
                                         }
                                     </div>
                                </div>    
                            
                            }

                        }
                    }

                }


            
                
                @if (true)
                {
                    string assignContractLabel = "Assign Contract";
                    string terminateContractLabel = "Terminate & Assign New";
                    string terminationLabel = "Assign Contract";
                    var parentActionAssign = Model.ParentAction == "Assign" ? "selected-action" : "";
                    var parentActionTerminate = Model.ParentAction == "Terminate" ? "selected-action" : "";
                    var selected = Model.ContractType == "Terminate" ? "selected-action" : "";
                    if (Model != null && Model.ContractDetailsList != null && Model.ContractDetailsList.Count > 0 && Model.ContractDetailsList[Model.ContractDetailsList.Count - 1].ComponentDesc != null)
                    {
                        terminationLabel = "Terminate & Assign New";
                    }
                    if (contractK2DFExist == true && contractAFExist == false && !hideAccOnly)
                    {
                        selected = Model.ContractType == Constants.TERMINATEASSIGN_ACC_ONLY ? "selected-action" : "";
                        <ul class="col-sm-12 col-xs-12">
                            <li class="col-sm-3 col-xs-3 action-button @parentActionAssign" data-action="Terminate" data-ParentAction="Assign">@assignContractLabel</li>
                            @if (!string.IsNullOrEmpty(parentActionAssign))
                            {
                                <li class="col-sm-1 col-xs-1 arrowButtonContractCheck glyphicon glyphicon-chevron-right"></li>
                                <li class="col-sm-3 col-xs-3 action-button @selected" data-SubAction="@Constants.TERMINATEASSIGN_ACC_ONLY">Accessories Only</li>
                            }
                        </ul>
                    }
                    else if (contractK2DFExist == false && contractAFExist == false)
                    {
                        string deviceOnlySelected = Model.ContractType == Constants.TERMINATEASSIGN_ALL ? "selected-action" : "";
                        string accOnlySelected = Model.ContractType == Constants.TERMINATEASSIGN_ACC_ONLY ? "selected-action" : "";
                        <ul class="col-sm-12 col-xs-12">
                            <li class="col-sm-3 col-xs-3 action-button @parentActionAssign" data-action="Terminate" data-ParentAction="Assign">@assignContractLabel</li>
                            @if (!string.IsNullOrEmpty(parentActionAssign))
                            {
                                <li class="col-sm-1 col-xs-1 arrowButtonContractCheck glyphicon glyphicon-chevron-right"></li>
                                <li class="col-sm-3 col-xs-3 action-button @deviceOnlySelected" data-SubAction="@Constants.TERMINATEASSIGN_ALL">Device (with/without Accessories)</li>
                            }
                            
                        </ul>
                            if (!string.IsNullOrEmpty(parentActionAssign) && !hideAccOnly)
                            {
                            <ul class="col-sm-12 col-xs-12">
                                <li class="col-sm-3 col-xs-3" style="border: none;"></li>
                                <li class="col-sm-1 col-xs-1 arrowButtonContractCheck glyphicon glyphicon-chevron-right"></li>
                                <li class="col-sm-3 col-xs-3 action-button @accOnlySelected" data-SubAction="@Constants.TERMINATEASSIGN_ACC_ONLY">Accessories Only</li>
                            </ul>  
                            }

                    }

                    if (contractK2DFExist == true && contractAFExist == false)
                    {
                        selected = Model.ContractType == Constants.TERMINATEASSIGN_ALL ? "selected-action" : "";
                        <ul class="col-sm-12 col-xs-12">
                            <li class="col-sm-3 col-xs-3 action-button @parentActionTerminate" data-action="Terminate" data-ParentAction="Terminate">@terminateContractLabel</li>
                            @if (!string.IsNullOrEmpty(parentActionTerminate))
                            { 
                                <li class="col-sm-1 col-xs-1 arrowButtonContractCheck glyphicon glyphicon-chevron-right"></li>
                                <li class="col-sm-3 col-xs-3 action-button @selected" data-SubAction="@Constants.TERMINATEASSIGN_ALL">Device (with/without Accessories)</li>
                            }
                        </ul>
                    }
                    else if (contractK2DFExist == false && contractAFExist == true)
                    {
                        //selected = Model.ContractType == Constants.TERMINATEASSIGN_ACC_ONLY ? "selected-action" : "";
                        string deviceOnlySelected = Model.ContractType == Constants.TERMINATEASSIGN_ALL ? "selected-action" : "";
                        string accOnlySelected = Model.ContractType == Constants.TERMINATEASSIGN_ACC_ONLY ? "selected-action" : "";
                        <ul class="col-sm-12 col-xs-12">
                            <li class="col-sm-3 col-xs-3 action-button @parentActionAssign" data-action="Terminate" data-ParentAction="Assign">@assignContractLabel</li>
                            @if (!string.IsNullOrEmpty(parentActionAssign))
                            {
                                <li class="col-sm-1 col-xs-1 arrowButtonContractCheck glyphicon glyphicon-chevron-right"></li>
                                <li class="col-sm-3 col-xs-3 action-button @deviceOnlySelected" data-SubAction="@Constants.TERMINATEASSIGN_DEVICE_ONLY">Device (with/without Accessories)</li>
                            }
                            
                        </ul>
                        if (!hideAccOnly)
                        { 
                            <ul class="col-sm-12 col-xs-12">
                            <li class="col-sm-3 col-xs-3 action-button @parentActionTerminate" data-action="Terminate" data-ParentAction="Terminate">@terminateContractLabel</li>
                            @if (!string.IsNullOrEmpty(parentActionTerminate))
                            {
                                <li class="col-sm-1 col-xs-1 arrowButtonContractCheck glyphicon glyphicon-chevron-right"></li>
                                <li class="col-sm-3 col-xs-3 action-button @accOnlySelected" data-SubAction="@Constants.TERMINATEASSIGN_ACC_ONLY">Accessories Only</li>
                            }
                        </ul>
                        }
                        
                    }
                    else if (contractK2DFExist == true && contractAFExist == true || bothContractExist == true)
                    {
                        string deviceOnlySelected = Model.ContractType == Constants.TERMINATEASSIGN_DEVICE_ONLY ? "selected-action" : "";
                        string accOnlySelected = Model.ContractType == Constants.TERMINATEASSIGN_ACC_ONLY ? "selected-action" : "";
                        string bothSelected = Model.ContractType == Constants.TERMINATEASSIGN_ALL ? "selected-action" : "";
                        <ul class="col-sm-12 col-xs-12">
                            <li class="col-sm-3 col-xs-3 action-button @parentActionTerminate" data-action="Terminate" data-ParentAction="Terminate">@terminateContractLabel</li>
                            @if (!string.IsNullOrEmpty(parentActionTerminate))
                            { 
                                <li class="col-sm-1 col-xs-1 arrowButtonContractCheck glyphicon glyphicon-chevron-right"></li>
                                <li class="col-sm-3 col-xs-3 action-button @deviceOnlySelected" data-SubAction="@Constants.TERMINATEASSIGN_DEVICE_ONLY">Device Only</li>
                            }
                        </ul>
                            if (!string.IsNullOrEmpty(parentActionTerminate))
                            {
                                if (!hideAccOnly)
                                { 
                                <ul class="col-sm-12 col-xs-12">
                                    <li class="col-sm-3 col-xs-3" style="border: none;"></li>
                                    <li class="col-sm-1 col-xs-1 arrowButtonContractCheck glyphicon glyphicon-chevron-right"></li>
                                    <li class="col-sm-3 col-xs-3 action-button @accOnlySelected" data-SubAction="@Constants.TERMINATEASSIGN_ACC_ONLY">Accessories Only</li>
                                </ul>
                                }
                            <ul class="col-sm-12 col-xs-12">
                                <li class="col-sm-3 col-xs-3" style="border: none;"></li>
                                <li class="col-sm-1 col-xs-1 arrowButtonContractCheck glyphicon glyphicon-chevron-right"></li>
                                <li class="col-sm-3 col-xs-3 action-button @bothSelected" data-SubAction="@Constants.TERMINATEASSIGN_ALL">Both</li>
                            </ul>
                            }

                    }

                }
                

            </div>
        
            <div class="row">
                <div class="col-sm-12 process-btn">
                    <div class="container-fluid">
                        <div class="row">
					        <div class="col-sm-10" id="cancel">
						        <button type="button" class="btn isell-btn" id="btnCancel" data-toggle="modal" data-target="#cancel-pop" style="background-color: transparent;">< Cancel</button>
					        </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn isell-next" id="btnNext" onclick="nextButton();">Next <span>></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    }
    </div>
</div>
@section Scripts{
    <script type="text/javascript">

        $('#tdError').html('');
      
//        if (@(penaltyAmt) > 0 )
//        {
//            $('#tdError').html('Early Termination Fee amount indicated is an estimated amount. Please refer to Kenan CC for the correct Early Termination Fee amount.');
//            $('#tdErrorDF').html('No Early Termination Fee applicable, only remaining instalment fees applies.');
//        }
        if((@(penaltyAmt) > 0) && (@(ContractPenaltyWaiveOff)>0) && ('@contractType' == 'Terminate') && (@(penaltyAmt) != @(ContractPenaltyWaiveOff)))
        {
            if((@(NoOfContractsWaived) > 0) && ( @(NoOfContracts) > @(NoOfContractsWaived)))
            {
                if(@(CDuration)==12)
                {
                    $('#tdErrorPenaltyWaiveOff').html('Early Termination Fee is waived off only for contract with remaining 2 months for 12 month contract');
                }
                else if(@(CDuration)==24)
                {
                    $('#tdErrorPenaltyWaiveOff').html('Early Termination Fee is waived off only for contract with remaining 4 months for 24 month contract');
                }
            }
        }

        $(document).ready(function () {

            $('#ContractType').val('@contractType');
            $('#Penality').val('@penality');

            $('form li').click(function () {

                if ( $(this).attr('data-action') != undefined  )
                {
                    if ( $(this).attr('data-ParentAction') != undefined )
                    {
                        $('#ParentAction').val( $(this).attr('data-ParentAction') );
                    }
                    $('#SubAction').val('');
                    var action = $(this).attr('data-action');
                    submitForm(action);
                }
                else
                {
                    if ( $(this).attr('data-SubAction') != undefined  )
                    {
                        if( $(this).hasClass('selected-action') )
                        {
                            $('[data-subaction]').removeClass('selected-action');
                            $(this).addClass('selected-action');
                            $('#SubAction').val( $(this).attr('data-SubAction') );
                            if ($('#ContractType').val() != ''){
                                expandPenaltyTable( $(this).attr('data-SubAction') );
                            }   
                        }
                        else
                        {
                            $('[id^=table-penalty]').hide();
                            $('#SubAction').val('');
                        }
                    }
                    
                }
            });

        });

        var ButtonKeys = { "EnterKey": 13 }; $(function () {
            $("#frmContractCheck").keypress(function (e) {
                if (e.which == ButtonKeys.EnterKey) {
                    var defaultButtonId = $(this).attr("defaultbutton");
                    $("#" + defaultButtonId).click();
                    return false;
                }
            });
        });

        function submitForm(actionType) {
            $('#FormAction').val(actionType);
            $('#frmContractCheck').submit();
        }

        function nextButton() {
            if ( $('#SubAction').val() == '' )
            {
                $('#Plan_Error').html('Please check your selection');
                $('html, body').animate({ scrollTop: 0 }, "slow");
                return false;
            }
            else
            {
                if ($('#SubAction').val() != '' && $('#SubAction').val() == 'AssignOrTerminateAccOnly')
                {
                    $('#TabNumber').val('@nextButtonAccessory');
                }else
                {
                    $('#TabNumber').val('@nextButtonDevice');
                }
                $('#Plan_Error').html('');
                $('#ContractType').val('Terminate');
                $('#frmContractCheck').submit();
            }
        }

        function expandPenaltyTable(subaction)
        {
            switch(subaction) {
                case '@assignOrTerminateDeviceOnly':
                    $('[id^=table-penalty]').hide();
                    $('#table-penalty-DF').show();
                    $('#table-penalty-other').show();
                    break;
                case '@assignOrTerminateAccOnly':
                    $('[id^=table-penalty]').hide();
                    $('#table-penalty-AF').show();
                    break;
                case '@assignOrTerminateAll':
                    $('[id^=table-penalty]').show();
                    break;
                default:
                    break;
            }
        }

    </script>
}
