﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using System.Configuration;
@{
    if (Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DSV"))
    {
        ViewBag.Title = "Submit Registration";
    }
    else
    {
        ViewBag.Title = "Add Contract";
    }

    Layout = "~/Views/Shared/_SubmitLayout.cshtml";
    int ReadyForPaymentStatusID = ConfigurationManager.AppSettings["ReadyForPaymentStatusID"].ToInt();

    bool isDealer = Session["IsDealer"].ToBool();
    var interval = ConfigurationManager.AppSettings["DealerTimerIntervel"].ToString();
}
@model int
@using (Html.BeginForm("MobileRegAccCreated", "Registration", FormMethod.Post, new { id = "frmMobileRegAccCreated", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    <div class="success-header">
        <table width="100%">
            <tr>
                <td style="width: 580px">
                    <div>@ViewBag.Title</div>
                </td>
            </tr>
        </table>
    </div>
    if (isDealer == true && !Roles.IsUserInRole("MREG_DSK") && !Roles.IsUserInRole("MREG_DSA"))
    {
    @Html.Hidden("OrderId", Model.ToString2())
    <div id="dvDealer" class="success-body">
        <div id="divRegSubInProgress">
            <h4>
                @if (Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DSV"))
                {
                    @ConfigurationManager.AppSettings["DealerRegSubInProgress"].ToString() <img src= "@Url.Content("~/Content/img/shared/processing.gif")" alt="....." class="inprogressimg" />
                }
                else
                {
                    @ConfigurationManager.AppSettings["DealerAccInProgress"].ToString() <img src= "@Url.Content("~/Content/img/shared/processing.gif")" alt="....." class="inprogressimg" />
                }
            </h4>
        </div>
        <div id="divRegSuccess" style="display:none;">
            <h3>
                @if (Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DSV"))
                {
                    @ConfigurationManager.AppSettings["DealerRegSubmitSuccess"].ToString()
                }
                else
                {
                    <div>Service activation request has been sent successfully.</div>
                    @*@ConfigurationManager.AppSettings["DealerAccCreatedSuccess"].ToString()*@
                }
                
            </h3>
            <h4>
                Click
                @Html.ActionLink("HERE", "MobileRegSummary", new { regID = Html.DisplayForModel() }, new { Area = "CRP", style = "color:#5fb848;font-weight:bold;text-decoration:none" })
                to view registration or <a href="@(Url.Content("~/AddContract/PrintContractDetails?id=" + Model))" target="_blank" style="text-decoration:none" >
                    <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                    Print </a>the registration form.
            </h4>
        </div>
        @*<div id="divLoading" style="text-align: center;">
        <img id="imgloading" src="../../Content/img/shared/loading.gif" width="50" height="50" /></div>*@
        @if (User.IsInRole("MREG_DAC") || User.IsInRole("MREG_DIC") || User.IsInRole("MREG_DSV") || User.IsInRole("MREG_DCH"))
        {
            <div style="text-align: right; padding: 20px;">
                <input id="btnReadyforpayment" class="submitButton" type="button" value="Back To Inventory" onclick="redirectToPage('@(string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~/Registration/StoreKeeper")))')" />
            </div>
        }
    </div>
    }
    else
    {
               
    <div class="success-body">
        <h3>
            Inventory has been submitted Successfully. Kindly proceed with payment.</h3>
        <h4>
            Click
            @Html.ActionLink("HERE", "MobileRegSummary", new { regID = Html.DisplayForModel() }, new { Area = "CRP", style = "color:#5fb848;font-weight:bold;text-decoration:none" })
            to view registration or <a href="@(Url.Content("~/AddContract/PrintContractDetails?id=" + Model))" target="_blank" style="text-decoration:none" >
                <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                Print </a>the registration form.
        </h4>
    </div>
    }
}
@section Scripts{
    <script type="text/javascript" language="javascript">
        if ('@(isDealer)' == "True") {
            $(document).ready(function () {
                $("#divRegSuccess").hide();
                ajaxcall();
            });

            var url = '@(Url.Content("~/Registration/GetRegStatus"))';

            function ajaxcall() {
                $.ajax({
                    url: url,
                    data: { 'regId': '@Model' },
                    type: 'GET',
                    dataType: 'json',
                    success: function (result) {
                        if (result != '@ReadyForPaymentStatusID') {
                            setTimeout(ajaxcall, '@interval');
                        }
                        else {
                            $("#divRegSubInProgress").hide();
                            $("#divRegSuccess").show();
//                            $("#btnReadyforpayment").removeAttr("disabled");
//                            $('#btnReadyforpayment').removeClass('disabled');
//                            $('#btnReadyforpayment').addClass('submitButton');
                        }
                    }
                });
            }

            $("#btnReadyforpayment").click(function () {
                //alert("submit");
            });
        }
    </script>
}
