﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.Properties;
@model Online.Registration.Web.ViewModels.RegDetailsObjVM
<script type="text/javascript">
<!--
    if (window.history.forward(1) != null) {
        window.history.forward(1);
    }
//-->  
</script>
@{
    ViewBag.Title = "Submit Registration";

    //Layout = "~/Views/Shared/_SubmitLayout.cshtml";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    var fromIpad = Request.Headers["User-Agent"].ToLower().Contains("ipad");
    var containerClass = fromIpad ? "container-fluid ipad-container" : "container";
    
    bool documentUploaded = ViewBag.documentUploaded != null ? ViewBag.documentUploaded : false;

    var IsDealer = Session["IsDealer"].ToBool();
    var IsCDPU = false;

    if (Util.isCDPUUser())
    {
        IsDealer = false;
        IsCDPU = true;
    }

    var emailAddress = (string)Session[Online.Registration.Web.CommonEnum.SessionKey.Email.ToString()];
    var queueNo = (string)Session[Online.Registration.Web.CommonEnum.SessionKey.QueueNo.ToString()];
    var customerFullName = (string)Session[Online.Registration.Web.CommonEnum.SessionKey.FullName.ToString()];

    var viewOrderURL = Url.Action("MobileRegSummary", "AddContract", new { regID = Model.RegID });
    var printOrderURL = Url.Action("PrintContractDetails", "AddContract") + "?id=" + Model.RegID;
    var homeURL = Url.Action("IndexNew", "Home");
}

@using (Html.BeginForm("MobileRegSuccess", "AddContract", FormMethod.Post, new { id = "frmMobileRegSummary", enctype = "multipart/form-data", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    @Html.Hidden("frontPhoto")
    @Html.Hidden("frontPhotoFileName")
    @Html.HiddenFor(m => m.reg.ID)

    if (documentUploaded)
    {
        <div class="@(containerClass)" id="new-cus">
            <div class="isell-base-2">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Add Contract / Zerolution:</h2>
                        <h4>@customerFullName</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 green-bg">
                        <p class="font-24">Add Contract / Zerolution</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 success">
                        <h1>Document has been successfully uploaded.</h1>
                        @if (!string.IsNullOrEmpty(emailAddress) && !Roles.IsUserInRole("MREG_CUSR"))
                        {
                            <p>We will send a confirmation email upon payment received to <span>@emailAddress</span></p>
                        }
                        else
                        {
                            <p>Registration has been submitted successfully.</p>
                        }
                        @if (!string.IsNullOrEmpty(queueNo))
                        {
                            <p class="bold-16">Your queue number is:</p>
                            <p class="num-q">@queueNo</p>
                        }
                    </div>
                    <ul class="col-sm-11 home">
                        <li id="viewOrder" class="col-sm-4">
                            <div class="option-box">
                                <div class="view-order"></div>
                                <h2>View Order</h2>
                            </div>
                        </li>
                        <li id="printOrder" class="col-sm-4">
                            <div class="option-box">
                                <div class="print"></div>
                                <h2>Print Order</h2>
                            </div>
                        </li>
                        <li id="home" class="col-sm-4">
                            <div class="option-box">
                                <div class="back-home"></div>
                                <h2>Home</h2>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        @*<h3>Document has been successfully uploaded.</h3>
        <h4>
            Click
            @Html.ActionLink("HERE", "MobileRegSummary", new { regID = Model.LnkRegDetailsReq.LnkDetails.RegId }, new { style = "color:#5fb848;font-weight:bold;text-decoration:none" }) 
            to view registration or 
            <a href="@(Url.Content("~/AddContract/PrintContractDetails?id=" + Model.LnkRegDetailsReq.LnkDetails.RegId))" target="_blank" style="text-decoration:none" >
                <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                Print 
            </a>
            the registration form.
        </h4>*@
    }
    else
    {
        if (string.IsNullOrEmpty(Model.reg.SignatureSVG))
        {
            <div class="@(containerClass)" id="new-cus">
                <div class="isell-base-2">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Add Contract / Zerolution:</h2>
                            <h4>@customerFullName</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 green-bg">
                            <p class="font-24">Add Contract / Zerolution</p>
                        </div>
                        <div class="col-sm-12 success">
                            <h1>Registration is missing signature. Please print and upload the registration form.</h1>
                            @if (!string.IsNullOrEmpty(emailAddress) && !Roles.IsUserInRole("MREG_CUSR"))
                            {
                                <p>We will send a confirmation email upon payment received to <span>@emailAddress</span></p>
                            }
                            else
                            {
                                <p>Registration has been submitted successfully.</p>
                            }

                            @if (!string.IsNullOrEmpty(queueNo))
                            {
                                <p class="bold-16">Your queue number is:</p>
                                <p class="num-q">@queueNo</p>
                            }
                        </div>
                        <ul class="col-sm-11 home">
                            <li id="printOrder" class="col-sm-4">
                                <div class="option-box">
                                    <div class="print"></div>
                                    <h2>Print Order</h2>
                                </div>
                            </li>
                            <li class="col-sm-4">
                                <div class="option-box" style="height: 135px;">
                                    <label class="fileLabel" style="display: none; margin-top: 78px;">
                                        <div style="display: none">
										    @Html.TextBoxFor(m => m.idDocumentFront, new { type = "file", @accept = "image/jpg, image/png, image/gif, image/jpeg, image/bmp, image/tiff, image/pdf;capture=camera" }) 
									    </div>
									    <div class="upload-btn" id="btnUpload" style="height: 133px;margin-top: -100px;">
										    <h2 style="cursor: pointer;">
                                                <img alt="Print" src='@Url.Content("~/Content/images/UploadDrop4.png")' style="border:0;width: 55px;margin-top: 23px;" /><br /><br />
											    Upload the registration form.
                                            </h2>
									    </div>
								    </label>
                                </div>
                            </li>
                            <li class="col-sm-4">
                            <div class="option-box" style="height: 135px;background:none; border:0">
                                <div id="id-upload-filesFront" style="width: auto; padding-top: 5px;">
                                    <p class="file-label" id="frontFileName-container" style="display: none; width: auto; white-space: nowrap;font-family: 'frutigerroman';font-size: 18px;">
                                        <label id="frontFileName" style="display: inline-block;margin-top: 10px;max-width:none;"></label>
                                        <img onclick="clearFrontUploadDoc();" class="removeUploadedDoc" id="btnClearFrontDoc" />
                                    </p>
                               </div>
                                @if (Model.idDocumentFront == null)
                                {
                                    <input type="hidden" id="hiddenIDDocumentFront"/>
                                }
                                else
                                {
                                    <input type="hidden" id="hiddenIDDocumentFront"/>
                                    @Html.Hidden("submit1")
                                    <input id="submitDocument" class="btn orderSummBtn" type="button" value="Submit" onclick="submitRegForm();" style="display: inline-block; width: 155px; margin-top: 15px; font-size:15px;"/>
                                }
                                @Html.Hidden("submit1")
                                <input id="submitDocument" class="btn orderSummBtn" type="button" value="Submit" onclick="submitRegForm();" style="display: inline-block; width: 155px; margin-top: 15px; font-size:15px;"/>
                            
                               <div class="clearfix">
                               </div>
                            </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            @*<h3>Registration is missing signature. Please print and upload the registration form.</h3>
                <h4>
                    <a href="@(Url.Content("~/AddContract/PrintContractDetails?id=" + Model.LnkRegDetailsReq.LnkDetails.RegId))" target="_blank" style="text-decoration:none" >
                    <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                    Print </a>the registration form.
                </h4>
                <h4>
                <div class="col-sm-3" style="padding-left:0;">
             <label class="fileLabel" style="display: block !important">
                <div class="upload-btn" style="display:none">
                    @Html.TextBoxFor(m => m.idDocumentFront, new { type = "file", @accept = "image/jpg, image/png, image/gif, image/jpeg, image/bmp, image/tiff, image/pdf;capture=camera" }) 
                </div>
                <div class="upload-btn" id="btnUpload">
                    <h4 style="font-size:18px;cursor: pointer;">
                        <img alt="Print" src='@Url.Content("~/Content/images/Upload.png")' style="border:0" />
                        <text style="color:#77dd00">Upload </text>the registration form.
                    </h4>
                </div>
            </label>
            
                    @if (Model.idDocumentFront == null)
                    {
                        <input type="hidden" id="hiddenIDDocumentFront"/>
                    }
                    else
                    {
                        <input type="hidden" id="hiddenIDDocumentFront"/>
                        @Html.Hidden("submit1")
                        <input id="submitDocument" class="submitButton" type="button" value="Submit" onclick="submitRegForm();" style="display: inline-block; width: 5em;  margin-left: 21px;margin-top: 0;padding-left: 4%;padding-top: 2%;height: 2em;"/>
                    }
                    @Html.Hidden("submit1")
                        <input id="submitDocument" class="submitButton" type="button" value="Submit" onclick="submitRegForm();" style="display: inline-block; width: 5em;  margin-left: 21px;margin-top: 0;padding-left: 4%;padding-top: 2%;height: 2em;"/>
                </div>
                <div id="id-upload-filesFront" style="width: auto; padding-top: 5px;">
                    <p class="file-label" id="frontFileName-container" style="display: none; width: auto; white-space: nowrap;font-family: 'frutigerroman';font-size: 18px;">
                       <label id="frontFileName" style="display: inline-block;"></label>
                       <img onclick="clearFrontUploadDoc();" class="removeUploadedDoc" id="btnClearFrontDoc" style="/* margin-left:92px; */ /* margin-top:-41px; */"/>
                    </p>
                </div>
                 <div class="clearfix">
                </div>
                    
                </h4>*@
        }
        else
        {
            <div class="@(containerClass)" id="new-cus">
                <div class="isell-base-2">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>
                                Add Contract / Zerolution:
                            </h2>
                            <h4>
                                @customerFullName</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 green-bg">
                            @{
                                <p class="font-24">Add Contract / Zerolution</p>
                             }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 success">
                            <h1>Your Order has been submitted.</h1>
                            @if (!string.IsNullOrEmpty(emailAddress) && !Roles.IsUserInRole("MREG_CUSR"))
                            {
                                <p>We will send a confirmation email upon payment received to <span>@emailAddress</span></p>
                            }
                            else
                            {
                                <p>Registration has been submitted successfully.</p>
                            }
                            @if (!string.IsNullOrEmpty(queueNo))
                            {
                                <p class="bold-16">
                                    Your queue number is:</p>
                                <p class="num-q">
                                    @queueNo</p>
                            }
                        </div>
                        <ul class="col-sm-11 home">
                            <li id="viewOrder" class="col-sm-4">
                                <div class="option-box">
                                    <div class="view-order">
                                    </div>
                                    <h2>
                                        View Order</h2>
                                </div>
                            </li>
                            <li id="printOrder" class="col-sm-4">
                                <div class="option-box">
                                    <div class="print">
                                    </div>
                                    <h2>
                                        Print Order</h2>
                                </div>
                            </li>
                            <li id="home" class="col-sm-4">
                                <div class="option-box">
                                    <div class="back-home">
                                    </div>
                                    <h2>
                                        Home</h2>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            @*if (System.Configuration.ConfigurationManager.AppSettings["ToEmail"].ToString2() == "Y" && !Roles.IsUserInRole("MREG_CUSR"))
            {
                <h3>Registration has been submitted successfully and an email has been sent to you…</h3>
            }
            else
            {
                <h3>Registration has been submitted successfully.</h3>
            }
            <h4>
                Click
                @Html.ActionLink("HERE", "MobileRegSummary", new { regID = Model.LnkRegDetailsReq.LnkDetails.RegId }, new { style = "color:#5fb848;font-weight:bold;text-decoration:none" }) 
                to view registration or 
                <a href="@(Url.Content("~/AddContract/PrintContractDetails?id=" + Model.LnkRegDetailsReq.LnkDetails.RegId))" target="_blank" style="text-decoration:none" >
                    <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
                    Print 
                </a>
                the registration form.
            </h4>*@
        }
    }

}
<div class="@(containerClass)">
@{
    if (!IsDealer && !IsCDPU) { 
        var viewBagValue = new ViewDataDictionary();
        viewBagValue.Add("regID", Model.RegID);
        Html.RenderPartial("_PegaRecommendationMiniDashboard", Model.PegaVM, viewBagValue);
    }
}
</div>

@*20151405 - Edited By Samuel*@
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js2/Html5ImageUpload.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submitDocument").hide();

        $('#viewOrder').click(function (e) {
            e.preventDefault();
            window.location.href = '@viewOrderURL';
        });
        $('#printOrder').click(function (e) {
            e.preventDefault();
            var win = window.open('@printOrderURL', '_blank');
            win.focus();
        });
        $('#home').click(function (e) {
            e.preventDefault();
            if ('@IsDealer' == 'True' || '@IsCDPU' == 'True') {
                window.location.href = '@homeURL';
            }
            else {
                cancelTransaction();
            }
        });

        function handleFileSelect(evt) {
            var files = evt.target.files;

            if (this.id == "idDocumentFront")
                var f = files[0];
            if (!f.type.match("image.*")) {
                return;
            }
            var reader = new FileReader();
            reader.onload = function (e) {
                var src = e.target.result;
            }
            reader.readAsDataURL(f);
        }

        if ($("#idDocumentFront").length > 0) {
            document.getElementById('idDocumentFront').addEventListener('change', handleFileSelect, false);
        }

        $(function () {

            var url = '@(Url.Content("~/Registration/UploadImageNew"))';
            var formdata = false;

            $("#idDocumentFront").change(function (event) {
                debugger;
                //validation for upload images -ram
                var ext = $('#idDocumentFront').val().split('.').pop().toLowerCase();
                if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg', 'tiff', 'bmp', 'pdf']) == -1) {
                    event.preventDefault();
                    alert('Please upload valid image!');
                    clearFrontUploadDoc.apply;
                    return false;
                }

                if (window.FormData !== undefined) {
                    var i = 0,
                        len = this.files.length,
                        img, reader, file;
                    formdata = false;
                    ///Check for FormData support in browser
                    if (window.FormData) {
                        formdata = new FormData();
                    }
                    ///Check if length greater than 0 then only proceed
                    if (len > 0) {
                        file = this.files[0];

                        if (window.FileReader) {
                            ///Append the file object to post the file request to server side
                            if (formdata) {
                                formdata.append("default_export_filename", file);
                            }
                            if (ext == 'pdf') {
                                ///Post the file details to server side script
                                if (formdata) {
                                    $.ajax({
                                        url: url,
                                        type: "POST",
                                        data: formdata,
                                        processData: false,
                                        contentType: false,
                                        success: function (Data) {
                                            //Assign the processed imageUrl returned from the server side to imgCustPhoto img
                                            $("#idDocumentFront").attr("src", Data.imageUrl).fadeIn();
                                            $("#idDocumentFront").data("name", file.name);
                                            $("#frontPhoto").val(Data.imageUrl);
                                            $('#frontFileName-container').css('display', 'block');
                                            $('#frontFileName').text(file.name);
                                            $('#frontPhotoFileName').val(file.name);
                                            $("#submitDocument").show();
                                        },
                                        error: function (xhr, err) {
                                            ///WHOEVER INTEGRATES THE CODE PLEASE UNCOMMENT THE BELOW CODE IN CASE OF UNEXPECTED RESULTS.                        
                                            //alert("readyState: "+xhr.readyState+"\nstatus: "+xhr.status);
                                            //alert("responseText: "+xhr.responseText);
                                        }
                                    });
                                }
                            }else {
                                if (window.FormData !== undefined) {
                                    var img = new Image;
                                    img.src = URL.createObjectURL(file);

                                    img.onload = function () {
                                        // hardcoded to FRONT since only 1 file applicable on this page.
                                        var result = startProcess(img, file, 'FRONT');
                                        //debugger;
                                    };
                                }
                            }
                        }
                    }
                }
            }); // EOF

        });

    });
    function clearFrontUploadDoc() {
        $('#hiddenIDDocumentFront').val('');
        $('#idDocumentFront').val('');
        $('#frontFileName-container').css('display', 'none');
        $("#frontPhoto").val('');
        $('#frontFileName').text('');
        $('#submitDocument').css('display', 'none');
    }

    function submitRegForm() {

        document.getElementById('frmMobileRegSummary').submit();
    }

</script>

