﻿@using System.Configuration;
@using System.Web.Script.Serialization;
@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.CommonEnum;
@using System.Text.RegularExpressions;
@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.SubscriberICService;
@model Online.Registration.Web.ViewModels.DeviceVM
@{
    bool isDealer = Session["IsDealer"].ToBool();
    ViewBag.Title = "Step 01: Please select a device";
    Layout = "~/Views/Shared/_NewLayout.cshtml";

    bool isSupp = Session[SessionKey.IsSuppleNewAccount.ToString()].ToBool();
    List<SelectListItem> listOfAvailableBrand = Util.GetList(RefType.Brand, defaultValue: string.Empty, defaultText: "Select a brand");
    List<SelectListItem> listOfCapacity = Util.GetList(RefType.Capacity, defaultValue: string.Empty, defaultText: "All");
    List<SelectListItem> listOfPrice = Util.GetList(RefType.PriceRange, defaultValue: string.Empty, defaultText: "All");
    Dictionary<string, decimal> lowestDeviceContractPrice = (Dictionary<string, decimal>)Session["DeviceLowestContractPrice"];
    List<int> modelList = new List<int>();
    bool IsExistingUser = false;
    retrieveAcctListByICResponse AcctListByICResponse = null;
    if (SessionManager.Get("PPIDInfo") != null)
    {
        AcctListByICResponse = (retrieveAcctListByICResponse)SessionManager.Get("PPIDInfo");
    }
    if (SessionManager.Get("PPID") != null && !string.IsNullOrWhiteSpace(Convert.ToString(SessionManager.Get("PPID"))))
    {
        IsExistingUser = "E".Equals(Convert.ToString(SessionManager.Get("PPID"))) ? true : false;
    }

    //19052015 - Enhance to keep the query filter in UI - Lus
    string priceRangeSelected = !string.IsNullOrEmpty(Model.PriceRangeSelected) ? Model.PriceRangeSelected : "All";
    string priceRangeValue = !string.IsNullOrEmpty(Model.PriceRangeValue) ? Model.PriceRangeValue : "";
    string brandSelectedName = !string.IsNullOrEmpty(Model.BrandSelected) ? Model.BrandSelected : "Select a brand";
    string modelSelectedName = !string.IsNullOrEmpty(Model.ModelSelected) ? Model.ModelSelected : "Select a model";
    string capacitySelectedName = !string.IsNullOrEmpty(Model.CapacitySelected) ? Model.CapacitySelected : "All";
    var viewBagValue = new ViewDataDictionary();
    int inputBrandSelected = Model.inputBrandSelected;
    int inputCapacitySelected = Model.inputCapacitySelected;
    int inputDeviceTypeSelected = Model.inputDeviceTypeSelected;
    string inputModelSelected = Model.inputModelSelected;

    var prevButton = AddContractRegSteps.ContractCheck.ToInt();
    var nextButton = AddContractRegSteps.VAS.ToInt();
    var fromIpad = Request.Headers["User-Agent"].ToLower().Contains("ipad");
    var containerClass = fromIpad ? "container-fluid ipad-container" : "container";
    var packageDisplay = "";
    if (Model.PackageDesc.Contains("-"))
    {
        string[] curPackage = Model.PackageDesc.Trim().Split('-');
        packageDisplay = curPackage[0].Trim();

        //Cut String "Mobile"
        string mobileString = "mobile";
        if (packageDisplay.ToLower().Contains(mobileString))
        {
            packageDisplay = packageDisplay.Substring(mobileString.Length + 1);
        }
    }
    else
    {
        packageDisplay = Model.PackageDesc;
    }
    JavaScriptSerializer serializer = new JavaScriptSerializer();
    string contractList = serializer.Serialize((object)Model.ContractList);
}
@using (Html.BeginForm("IndexNew", "Home", FormMethod.Post, new { id = "btnBackPage", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    var searchby = Session["SearchBy"].ToString2();
    var cardNum = Session["cardNumber"].ToString2();
    var accstat = Session["AcctStat"].ToString2();
}
@using (Html.BeginForm("SelectDevice", "AddContract", FormMethod.Post, new { id = "frmSelectDevice", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    @Html.Hidden("deviceTypeSelected");
    @Html.Hidden("deviceRRP");
    @Html.Hidden("deviceOfferPrice");
    @Html.Hidden("selectedArticleID");
    @Html.Hidden("selectedModelID");
    @Html.Hidden("selectedPlan");
    @Html.Hidden("selectedKenanCode");
    @Html.Hidden("selectedPackageCode");
    @Html.HiddenFor(a => a.Phone.SelectedModelImageID)
    @Html.Hidden("selectedPackageName");
    @Html.Hidden("selectedContractLength");
    @Html.Hidden("contractList", contractList);
// filter part
    @Html.Hidden("brandFilter");
    @Html.Hidden("modelFilter");
    @Html.Hidden("capacityFilter");
    @Html.Hidden("priceFilter");
    @Html.Hidden("submitType");
    @Html.Hidden("availableChecked");
    @Html.Hidden("limitedStockChecked");
    @Html.Hidden("sellingFastChecked");
    @Html.Hidden("outOfStockChecked");
    
    @Html.HiddenFor(a => a.Phone.TabNumber)
    @Html.HiddenFor(a => a.Phone.SelectedModelImageID)
    @Html.HiddenFor(a => a.PackageDesc)
    @Html.HiddenFor(a => a.PackageId)
    @Html.HiddenFor(a => a.AccountType)
    @Html.HiddenFor(a => a.ContractType)
    @Html.HiddenFor(a => a.MSISDN)
    @Html.HiddenFor(a => a.ContractRemainingMonths)
    @Html.HiddenFor(a => a.VasComponents)
    @Html.HiddenFor(a => a.SubscriberNo)
    @Html.HiddenFor(a => a.SubscriberNoResets)
    @Html.HiddenFor(a => a.AccountNumber)
    @Html.HiddenFor(a => a.KenanAccountNo)
    @Html.HiddenFor(a => a.SelectedOptionId)
    @Html.HiddenFor(a => a.SelectedOptionType)
    @Html.HiddenFor(a => a.Penality)
    @Html.HiddenFor(a => a.VasNames)
    @Html.HiddenFor(a => a.Package)
    @Html.HiddenFor(a => a.SimType)
    @Html.HiddenFor(a => a.SimSize)
    @Html.HiddenFor(a => a.isSimRequired)
    @Html.HiddenFor(a => a.subAction)

    <div class="@containerClass">
        <div class="isell-base">
            @{
                viewBagValue.Add("headerLabel", "Add Contract / Zerolution:");
                Html.RenderPartial("_AccountHolderName", viewBagValue);
            }
            <div class="row">
                <div class="col-sm-12 green-bg">
                    <p class="font-24">
                        Add Contract / Zerolution
                    </p>
                </div>
            </div>
            @{ 
                Html.RenderPartial("_OrderFlow");
            }
            <div class="row">
                <div class="col-sm-12 grey-bg">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs line-tab" role="tablist">
                        <li class="active"><a href="#principle" role="tab" data-toggle="tab">Add Contract</a><span
                            class="active-green-arrow"></span></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="principle">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="device-title">
                                        @ViewBag.Title
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="font-16">@(ViewBag.GSTnotif)</p>
                                </div>
                            </div>
                            <div class="col-sm-10 error-msg">
                                <p id="errorMsgPanel" style="padding-left:15px;color:#ff0000;">@(ViewBag.SelectDevicePlanError)</p>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="row device-type">
                                        <div class="col-sm-12">
                                            <h5>
                                                Filter Options</h5>
                                            <p>
                                                Device type</p>
                                            <ul class="nav nav-tabs" role="tablist" id="device">
                                                <li class="active"><a href="#phone" role="tab" data-toggle="tab" onclick="SetDeviceType(1)">
                                                    <div class="phone-type phone-type-selected" id="the-phone">
                                                    </div>
                                                </a></li>
                                                <li><a href="#tablet" role="tab" data-toggle="tab" onclick="SetDeviceType(2)">
                                                    <div class="tablet" id="the-tablet">
                                                    </div>
                                                </a></li>
                                            </ul>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <!-- Tab panes -->
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="phone">
                                                            <!-- filter by brand -->
                                                            <p>
                                                                Brand</p>
                                                            <div class="input-group drop-down">
                                                                <!-- dropdown select brand -->
                                                                <div class="input-group-btn">
                                                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby filter-device"
                                                                        type="button">
                                                                        <span id="btnBrandSelected">@brandSelectedName</span><span class="drop-arrow"></span></button>
                                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                                        @{
                                                                            foreach (var brand in listOfAvailableBrand)
                                                                            {
                                                                                string btnBrand = "BR_" + brand.Value;
                                                                                <li><a onclick="SetDropdown('btnBrandSelected', '@brand.Value', '@brand.Text'); return false" href="" id="@btnBrand">@brand.Text</a></li>
                                                                            }
                                                                        }
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <!-- dropdown select model -->
                                                            <div class="input-group-btn drop-down" style="display:inline;">@*Anthony: [#2150] Firefox issue (version 24.x.x) in select model list*@
                                                                <button data-toggle="dropdown" id="selectModelButton" class="btn btn-default dropdown-toggle selectby filter-device model" disabled="disabled"
                                                                    type="button">
                                                                    <span id="btnModelSelected">@modelSelectedName</span><span id="dropdownmodel" class="drop-arrow-disable"></span></button>
                                                                <select id="modelName" class="dropdown-menu">
                                                                </select>
                                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="modelUL">
                                                                </ul>
                                                            </div>
                                                            <!-- filter by capacity -->
                                                            <p>
                                                                Capacity</p>
                                                            <div class="input-group drop-down">
                                                                <!-- dropdown select capacity -->
                                                                <div class="input-group-btn">
                                                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby filter-device"
                                                                        type="button">
                                                                        <span id="all-capacity">@capacitySelectedName</span><span class="drop-arrow"></span></button>
                                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                                        @{
                                     foreach (var capacity in listOfCapacity)
                                     {
                                         string btnCapacity = "CP_" + capacity.Value;
                                                                            <li><a onclick="SetDropdown('all-capacity', '@capacity.Value', '@capacity.Text'); return false" href="" id="@btnCapacity">@capacity.Text</a></li>
                                     }
                                                                        }
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <!-- filter by price -->
                                                            <p>
                                                               Selling Price</p>
                                                            <div class="input-group drop-down">
                                                                <!-- dropdown select price -->
                                                                <div class="input-group-btn">
                                                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby filter-device"
                                                                        type="button">
                                                                        <span id="lowest-price">@priceRangeSelected</span><span class="drop-arrow"></span></button>
                                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                                        @{
                                     foreach (var price in listOfPrice)
                                     {
                                         string btnPriceRange = price.Value;
                                                                            <li><a onclick="SetDropdown('lowest-price', '@price.Value', '@price.Text'); return false" href="" id="@btnPriceRange">@price.Text</a></li>
                                     }
                                                                        }
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <!-- check stock -->
                                                            <p>
                                                                In-stock status</p>
                                                            <!-- dropdown select base on in-stock -->
                                                            <ul class="col-sm-12 kill-padding">
                                                                <li>
                                                                    <input id="type-stock-1" class="stock-checkbox" type="checkbox" />
                                                                    <label for="type-stock-1" name="stock-lbl-1" class="stock-label">@Constants.AVAILABLE</label>
                                                                </li>
                                                                <li>
                                                                    <input id="type-stock-2" class="stock-checkbox" type="checkbox" />
                                                                    <label for="type-stock-2" name="stock-lbl-2" class="stock-label">@Constants.SELLING_FAST</label>
                                                                </li>
                                                                <li>
                                                                    <input id="type-stock-3" class="stock-checkbox" type="checkbox" />
                                                                    <label for="type-stock-3" name="stock-lbl-3" class="stock-label">@Constants.LIMITED_STOCK</label>
                                                                </li>
                                                                <li>
                                                                    <input id="type-stock-4" class="stock-checkbox" type="checkbox" />
                                                                    <label for="type-stock-4" name="stock-lbl-4" class="stock-label">@Constants.OUT_OF_STOCK</label>
                                                                </li>
                                                            </ul>
                                                            <!-- filter button -->
                                                            <div class="col-sm-12">
                                                                <div class="btn filter-btn2" id="btnFilter" >Filter <span>&gt;</span></div>
                                                            </div>
                                                        </div>
                                                        @*
                                                    <div class="tab-pane" id="tablet">dddd</div>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 del-left-pad" style="width:47%;">
                                    @if (Model.Phone.ModelImages.Count == 0)
                                    {
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h2 class="font-20">
                                                    We could not find any devices matching these criteria.</h2>
                                                <h2 class="font-20">
                                                    Please try again.</h2>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <ul class="device-list">
                                            @{
                                        int currIndex = 0;
                                        foreach (var model in Model.Phone.ModelImages)
                                        {
                                            string curDeviceName = Util.GetNameByID(RefType.Model, model.BrandArticle.ModelID);
                                            var rrpPrice = model.RetailPrice;

                                            if (!modelList.Contains(model.BrandArticle.ModelID))
                                            {
                                                modelList.Add(model.BrandArticle.ModelID);
                                                currIndex++;
                                                string selDevice = "sel-device-" + currIndex;
                                                string device = "device-" + currIndex;
                                                string phoneMoreButton = "#phone-more" + currIndex;
                                                string planMoreButton = "#plan-more" + currIndex;
                                                string phoneMore = "phone-more" + currIndex;
                                                string planMore = "plan-more" + currIndex;
                                                string color = "color" + currIndex;
                                                string plan = "plan" + currIndex;
                                                string contractUL = "contractUL" + currIndex;
                                                string contract = "contract" + currIndex;
                                                string btnContract = "btnContract" + currIndex;
                                                Dictionary<string, int> deviceStock = new Dictionary<string, int>();
                                            
                                                <li class="devices">
                                                    <div class="card">
                                                        <div class="front">
                                                            <div class="device-select">
                                                                <span class="row"><span style="text-align:center" class="col-sm-12">
                                                                    @* <img height="176px" src="@Url.Content(model.BrandArticle.ImagePath)" />*@
                                                                    <label for="@selDevice" name="@device" onclick="ClearCardFlipAddContract('@selDevice','@color', '@plan','@contract','flip');">
                                                                        <img height="176px" src="@Url.Content(model.BrandArticle.ImagePath)" style="cursor:pointer;"/></label>
                                                                </span><span class="col-sm-10 phone-details">
                                                                    <h2>@curDeviceName</h2>
                                                                    @*<h2>16GB</h2>*@
                                                                    @*<h4>
                                                                        &nbsp;</h4>*@
                                                                </span><span class="col-sm-2 kill-padding">
                                                                    <button data-url='@Url.Content(string.Format("~/Registration/DevicePlanDetails/?articleId={0}&modelId={1}", @model.BrandArticle.ArticleID, @model.BrandArticle.ModelID))' data-target="#ViewDeviceDetails" data-toggle="modal" class="btn-info btn-info-device-detail">
                                                                        <span>i</span>
                                                                    </button>
                                                                </span>
                                                                @if (model.dfdeviceEligibility)
                                                                { 
                                                                <span class="col-sm-8" style="padding-top: 5px">
                                                                    <img alt="" src="@Url.Content("~/Content/images/zerolution_logo.jpg")" />
                                                                    @*<p style="background-color:red; color:white" align="center">ZEROLUTION</p>*@
                                                                </span>
                                                                }
                                                                <span class="col-sm-12">
                                                                    <p class="frm-price">
                                                                        From</p>
                                                                </span><span class="col-sm-12">
                                                                    <p class="startprice">
                                                                        RM @(lowestDeviceContractPrice.ContainsKey(model.BrandArticle.ModelID.ToString2()) ? lowestDeviceContractPrice[model.BrandArticle.ModelID.ToString2()].ToString2() : "N/A")</p>
                                                                </span><span class="col-sm-10">
                                                                    <p class="rrp">
                                                                        RRP RM @rrpPrice</p>
                                                                </span><span class="col-sm-2 kill-padding">
                                                                    <input id="@selDevice" class="device-checkbox" type="checkbox" name="sel-device"/>
                                                                    @*Gregory PN 2484 Adding onclick*@
                                                                    <label for="@selDevice" name="@device" class="stock-label adjust-checkbox" onclick="ClearCardFlipAddContract('@selDevice','@color', '@plan','@contract','noFlip');">
                                                                        &nbsp;</label>
                                                                </span></span>
                                                            </div>
                                                        </div>
                                                        <div class="back">
                                                            <span class="device-details"><span class="row"><span class="col-sm-12"><a href="#"
                                                                class="back-btn">< back</a> </span><span class="col-sm-12">
                                                                    <!-- colours -->
                                                                    <p>
                                                                        Colours</p>
                                                                    <span class="input-group drop-down">
                                                                        <!-- dropdown select capacity -->
                                                                        <span class="input-group-btn">
                                                                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby filter-device"
                                                                                type="button">
                                                                                <span id="@color">Color <span class="in-stock" id="lblstockStatus"></span></span>
                                                                                <span class="drop-arrow"></span>
                                                                            </button>
                                                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                                                @{
                                                                string stockStatus = "";
                                                                foreach (var modelImages in Model.Phone.ModelImages.Where(a => a.ModelCode == model.ModelCode))
                                                                {
                                                                    int btnStockStatus = modelImages.Count;
                                                                    if (modelImages.Count <= 0)
                                                                    {
                                                                        stockStatus = Constants.NOT_AVAILABLE;
                                                                                    <li id="@modelImages.Count"><a href="#"> @modelImages.ColorDescription - <span class="out-stock">@stockStatus</span> </a></li>
                                                                    }
                                                                    else if (modelImages.Count >= 1 && modelImages.Count <= 4)
                                                                    {
                                                                        stockStatus = Constants.LIMITED_STOCK;
                                                                                    <li id="@modelImages.Count"><a onclick="SetDropdownAndDevice('@currIndex', '@color', '@modelImages.BrandArticle.ArticleID', '@modelImages.ColorDescription','@(model.BrandArticle.ModelID)','@curDeviceName','@rrpPrice', '@(model.BrandArticle.ID)');return false" href="" id="btnColorStock">@modelImages.ColorDescription
                                                                                        - <span class="limited">@stockStatus</span></a></li>
                                                                    }
                                                                    else if (modelImages.Count >= 5 && modelImages.Count <= 7)
                                                                    {
                                                                        stockStatus = Constants.SELLING_FAST;
                                                                                    <li id="@modelImages.Count"><a onclick="SetDropdownAndDevice('@currIndex', '@color', '@modelImages.BrandArticle.ArticleID', '@modelImages.ColorDescription','@(model.BrandArticle.ModelID)','@curDeviceName','@rrpPrice', '@(model.BrandArticle.ID)');return false" href="" id="btnColorStock">@modelImages.ColorDescription
                                                                                        - <span class="selling-fast">@stockStatus</span></a></li>
                                                                    }
                                                                    else if (modelImages.Count > 7)
                                                                    {
                                                                        stockStatus = Constants.AVAILABLE;
                                                                                    <li id="@modelImages.Count"><a onclick="SetDropdownAndDevice('@currIndex', '@color', '@modelImages.BrandArticle.ArticleID', '@modelImages.ColorDescription','@(model.BrandArticle.ModelID)','@curDeviceName','@rrpPrice', '@(model.BrandArticle.ID)');return false" href="" id="btnColorStock">@modelImages.ColorDescription
                                                                                        - <span class="in-stock">@stockStatus</span></a></li>
                                                                    }
                                                                }
                                                                                }
                                                                            </ul>
                                                                        </span></span></span><span class="col-sm-12">
                                                                            <!-- plan -->
                                                                            <p>
                                                                                Plan</p>
                                                                            <span class="input-group drop-down">
                                                                                <!-- dropdown select capacity -->
                                                                                <span class="input-group-btn">
                                                                                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby2 filter-device"
                                                                                        type="button" style="padding-bottom:0px;padding-top:0px;height:37px;" disabled="disabled">
                                                                                        <span id="@plan">@packageDisplay</span>
                                                                                        <span class="drop-arrow"></span>
                                                                                    </button>
                                                                                </span></span></span>
                                                                                <span class="col-sm-12">
                                                                                        <!-- contract length -->
                                                                                        <p>
                                                                                            Contract Length</p>
                                                                                        <span class="input-group drop-down">
                                                                                            <!-- dropdown select price -->
                                                                                            <span class="input-group-btn">
                                                                                                <button id="@btnContract" data-toggle="dropdown" class="btn btn-default dropdown-toggle selectby filter-device" type="button" disabled="disabled">
                                                                                                    <span id="@contract">Contract</span><span class="drop-arrow"></span></button>
                                                                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="@contractUL">
                                                                                                </ul>
                                                                                            </span></span></span></span></span>
                                                        </div>
                                                    </div>
                                                </li>
                                    
                                                <!-- Modal Phone details-->
                                                <div class="modal fade" id="@phoneMore" tabindex="-1" role="dialog" aria-labelledby="phone-details" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">
                                                                    <span class="close-btn">Close</span></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="col-sm-3 phone-only">
                                                                    <img src="@Url.Content(model.BrandArticle.ImagePath)" style="height: 172px"/>
                                                                </div>
                                                                <div class="col-sm-9">
                                                                    <div class="col-sm-12 border-bottom">
                                                                        <h4 class="modal-title" id="phone-details">@curDeviceName</h4>
                                                                    </div>
                                                                    <div class="col-sm-3 phone-name">
                                                                        @*<div class="col-sm-12">
                                                            <p>Available</p>
                                                        </div>*@
                                                                        <div class="col-sm-12">
                                                                            <p class="frm-price">
                                                                                From</p>
                                                                        </div>
                                                                        <div class="col-sm-12">
                                                                            <p class="startprice">
                                                                                RM @(lowestDeviceContractPrice.ContainsKey(model.BrandArticle.ModelID.ToString2()) ? lowestDeviceContractPrice[model.BrandArticle.ModelID.ToString2()].ToString2() : "N/A")</p>
                                                                        </div>
                                                                        <div class="col-sm-10">
                                                                            <p class="rrp">
                                                                                RRP RM @rrpPrice</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-9 phone-specs">
                                                                        <ul class="spec">
                                                                        @{
                                                                string finaldesc = "";
                                                                foreach (var m in Model.Phone.ModelImages)
                                                                {
                                                                    if (model.BrandArticle.ArticleID == m.BrandArticle.ArticleID)
                                                                    {
                                                                        string description = m.BrandArticle.Description;
                                                                        Match match = Regex.Match(description, "<li>.*?.*</li>");
                                                                        finaldesc = match.Success ? match.Value : description;
                                                                        break;
                                                                    }
                                                                }
                                                                        }
                                                                        @Html.Raw(finaldesc);
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                            }
                                        </ul>
                                    }
                                </div>

                                <div class="col-sm-3" style="width:28%;">
                                    @{
                                    viewBagValue.Add("GSTMark", ViewBag.GSTMark);
                                    viewBagValue.Add("ControllerName", "AddContract");
                                    Html.RenderPartial("_OrderSummaryNew", viewBagValue);
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-6">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="suplimentary">
                            ...</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <span hidden id="getColorId"></span>
                <span hidden id="getPelanId"></span>
                <span hidden id="getContractId"></span>
                <span hidden id="colorSelected"></span>
                <span hidden id="pelanSelected">@Model.PackageId</span>
                <span hidden id="contractSelected"></span>
                <span hidden id="flowType">Add Contract</span>
                <div class="col-sm-12 process-btn">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-1" id="back">
						        <button type="submit" class="btn isell-btn" id="btnPrev" onclick="$('#submitType').val(@prevButton);" style="background-color: transparent;">< Back</button>
					        </div>
					        <div class="col-sm-9" id="cancel">
						        <button type="button" class="btn isell-btn" id="btnCancel" data-toggle="modal" data-target="#cancel-pop" style="background-color: transparent;">< Cancel</button>
					        </div>
                            <div class="col-sm-2">
                                <button type="button" class="btn isell-next" id="btnNext" onclick="$('#submitType').val(@nextButton);">Next <span>></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="modal fade" id="ViewPlanDetailsModal" tabindex="-1" role="dialog" aria-labelledby="ViewPlanDetailsModal"
    aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span class="close-btn">Close</span></button>
            </div>
            <div class="modal-body planViewDetail">
                <div class="planViewDetail-list">
                    <table width="100%">
                        <tr>
                            <td>
                                <img alt="" id="imgPlanDetails" src="@Url.Content("~/Content/images/Plan/MobileReg_.gif")" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ViewDeviceDetails" tabindex="-1" role="dialog" aria-labelledby="ViewDeviceDetails"
    aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span class="close-btn">Close</span></button>
            </div>
            <div class="modal-body ViewDeviceDetails">
                <div class="ViewDeviceDetails-list" style="overflow: auto; -webkit-overflow-scrolling: touch;">
                    <div id="deviceIframe">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@{
    viewBagValue.Add("SimType", Model.SimType);
    Html.RenderPartial("_SimRequiredWindow", viewBagValue);
}

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            //debugger;
            $('#deviceTypeSelected').val(1); // start with SmartPhone
            // check all stock filter
            //$('#type-stock-1').attr('checked', true);
            //$('#type-stock-2').attr('checked', true);
            //$('#type-stock-3').attr('checked', true);
            //$('#type-stock-4').attr('checked', false);
            // disabled all contact button at first. --> not applicable for Add Contract
            //$('button[id^="btnContract"]').attr('disabled', true)
            //populateCheckbox();
            ClearPrice();

            $('.btn-info-device-detail').click(function (e) {
                //debugger;
                e.preventDefault();
                $('#deviceIframe').html('<iframe src="' + $(this).data('url') + ' "width="100%" height="567"></iframe>');
            });

            //21052015 - Use cookie to retain stock checkbox after refresh page - Lus
            function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1);
                    if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
                }
                return "";
            }
            //debugger;
            var stock1 = getCookie("availablestock");
            document.cookie = "availablestock=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
            var stock2 = getCookie("sellingfaststock");
            document.cookie = "sellingfaststock=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
            var stock3 = getCookie("limitedstock");
            document.cookie = "limitedstock=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
            var stock4 = getCookie("outofstock");
            document.cookie = "outofstock=; expires=Thu, 01 Jan 1970 00:00:00 UTC";

            if (stock1 != null && stock1 != "") {
                if (stock1 == "false") {
                    $('#type-stock-1').removeAttr('checked');
                }
                else {
                    $('#type-stock-1').prop('checked', true);
                }
            }
            else {
                $('#type-stock-1').prop('checked', true);
            }

            if (stock2 != null && stock2 != "") {
                if (stock2 == "false") {
                    $('#type-stock-2').removeAttr('checked');
                }
                else {
                    $('#type-stock-2').prop('checked', true);
                }
            }
            else {
                $('#type-stock-2').prop('checked', true);
            }

            if (stock3 != null && stock3 != "") {
                if (stock3 == "false") {
                    $('#type-stock-3').removeAttr('checked');
                }
                else {
                    $('#type-stock-3').prop('checked', true);
                }
            }
            else {
                $('#type-stock-3').prop('checked', true);
            }
            //            debugger;
            if (stock4 != null && stock4 != "") {
                if (stock4 == "false") {
                    $('#type-stock-4').removeAttr('checked');
                }
                else {
                    $('#type-stock-4').prop('checked', true);
                }
            }
            else {
                $('#type-stock-4').removeAttr('checked');
            }

            if ('@inputBrandSelected' != '0') {
                $('#selectModelDDL').removeClass().addClass('drop-arrow');
                $('#btnModel').removeClass('disable-select');
                getModelName('@inputBrandSelected');
            }

            retainFilterValue();

        });
        
        var checkboxes = $("input[type='checkbox']");
        //debugger;
        checkboxes.click(function () {
            var showOutOfStock = $('#type-stock-4').is(":checked");
            var showAvailable = $('#type-stock-1').is(":checked");
            var showLimitedStock = $('#type-stock-3').is(":checked");
            var showSellingFast = $('#type-stock-2').is(":checked");

            if (!checkboxes.is(":checked")) {
                alert("Please select at least 1 filter");
                return false;
            }
        });

        $('#btnNext').click(function () {
            if (checkSelection()) {
                $('#simRequired-pop').modal('show');
            } else {
                alert("Please check your selection")
            }
        });

        function submitForm() {
            $('#frmSelectDevice').submit();
        }

        function checkSelection() {
            if ($('#selectedContractLength').val() != '' && $('#selectedArticleID').val() != '') {
                return true;
            }
            return false;
        }

        $('#btnFilter').click(function () {
            // need mandatory checking ?
            // var brand = $('#brandFilter').val();
            // var model = $('#modelFilter').val();
            // check all stock filter
            populateCheckbox();

            $('#submitType').val('filter');
            $('#frmSelectDevice').submit();
        });

        function retainFilterValue() {
            //        debugger;
            var modelTrimmed = $.trim('@inputModelSelected');
            SetFilterCriteria('btnBrandSelected', $.trim('@inputBrandSelected'));
            SetFilterCriteria('btnModelSelected', modelTrimmed);
            SetFilterCriteria('all-capacity', $.trim('@inputCapacitySelected'));
            SetFilterCriteria('lowest-price', $.trim('@priceRangeValue'));

            // 1 phone, 2 tablet
            if ('@inputDeviceTypeSelected' == '2') {
                SetDeviceType('@inputDeviceTypeSelected');
                $('#the-tablet').click();
            }
            if ('@inputDeviceTypeSelected' == '1') {
                SetDeviceType('@inputDeviceTypeSelected');
                $('#the-phone').click();
            }

        }

        function checkMandatoryBrandModel(brand, model) {
            if (brand == "" || model == "") {
                alert('Check Brand & Model');
                return false;
            }
            return true;
        }
        //RST
        function goback(value) {
            $("#btnBackPage").submit();
        }
        //End RSt
        function populateCheckbox() {
            //debugger;
            $('#outOfStockChecked').val($('#type-stock-4').is(":checked"));
            $('#availableChecked').val($('#type-stock-1').is(":checked"));
            $('#limitedStockChecked').val($('#type-stock-3').is(":checked"));
            $('#sellingFastChecked').val($('#type-stock-2').is(":checked"));
            //debugger;
            document.cookie = "outofstock" + "=" + $('#type-stock-4').is(":checked");
            document.cookie = "availablestock" + "=" + $('#type-stock-1').is(":checked");
            document.cookie = "limitedstock" + "=" + $('#type-stock-3').is(":checked");
            document.cookie = "sellingfaststock" + "=" + $('#type-stock-2').is(":checked");
        }

        function getModelName(selectedValue) {
            var deviceTypeID = $('#deviceTypeSelected').val();
            if (selectedValue != 0) {
                $.ajax({
                    url: '@Url.Action("GetModelFromBrand", "Registration")',
                    type: 'POST',
                    data: { "brandSelected": selectedValue, "deviceTypeID": deviceTypeID },
                    dataType: 'json',
                    success: function (response) {
                        var items = "";
                        $('#modelUL').html('');
                        $('#modelFilter').val('');
                        $.each(response.ModelList, function (i, item) {
                            $('#modelUL').append('<li><a href="" onclick="SetDropdown(\'btnModelSelected\',\'' + item.modelID + '\',\'' + item.modelName + '\');return false">' + item.modelName + '</a></li>');
                        });
                    },
                    error: function (error) {
                    }
                });
            }
        }


        function ClearCardFlipAddContract(id, color, plan, contract, flipOnly) {
            //Applicable for Add Contract flow only where the plan information is already fix

            colorId = document.getElementById("getColorId");
            planId = document.getElementById("getPelanId");
            contractId = document.getElementById("getContractId");
            colorcheck = document.getElementById("colorSelected");
            plancheck = document.getElementById("pelanSelected");
            contractcheck = document.getElementById("contractSelected");

            //20151020 - Samuel Bug 1319 (Error while selecting colour)
            $('#selectedArticleID').val('');
            $('#selectedContractLength').val('');

            //if different device is clicked, clear all value
            if (colorId.innerHTML != color && contractId.innerHTML != contract) {
                var planInfo = $("span[id^='plan']");
                if (planInfo.size() > 0) {
                    for (var x = 1; x <= planInfo.size(); x++) {
                        $('#plan' + x).html("Select Plan");
                        $('#color' + x).text('Color');
                        $('#contract' + x).text('Contract');
                    }
                }
                $('#colorSelected').empty();
                $('#contractSelected').empty();
                $('#getColorId').empty();
                $('#getPelanId').empty();
                $('#getContractId').empty();

            }
            if (colorcheck.innerHTML != "" && contractcheck.innerHTML != "" && flipOnly == 'noFlip') {
                var planInfo = $("span[id^='plan']");
                if (planInfo.size() > 0) {
                    for (var x = 1; x <= planInfo.size(); x++) {
                        $('#plan' + x).html("Select Plan");
                        $('#color' + x).text('Color');
                        $('#contract' + x).text('Contract');
                    }
                }
                $('#colorSelected').empty();
                $('#contractSelected').empty();
                $('#getColorId').empty();
                $('#getPelanId').empty();
                $('#getContractId').empty();
            }

            //Extra logic for Add Contract
            SetDropdown(plan, 0, '@packageDisplay');
        }

        function updatePackageAndContractOptions(currentIndex, articleID, modelID, kenanCode, pgmBdlPkgCompID, idPlan, price, packageDisplay) {
            //debugger;
            var contractList = $.parseJSON($('#contractList').val());
            var items = "";
            $('#contractUL' + currentIndex).html('');
            $.each(contractList[articleID], function (i, item) {
                $('#contractUL' + currentIndex).append('<li><a href="" onclick="SetContract(\'contract\',\'' + item + '\',\'' + item + ' Months' + '\',\'contract' + currentIndex + '\');return false">' + item + ' Months' + '</a></li>');
            });
            // reset contract
            $('#contract' + currentIndex).html('Contract');
            setSummaryDevicePrice($('#deviceRRP').val());
            //SetDropdown(idPlan, price, packageDisplay);
            $('#summaryPlan').html(packageDisplay);
            $('#summaryPlan').val(packageDisplay);
            $('#selectedModelID').val(modelID);
            $('#selectedKenanCode').val(kenanCode);
            $('#PackageVM_SelectedPgmBdlPkgCompID').val(pgmBdlPkgCompID);
            $('#selectedPackageName').val(packageDisplay);
            var btnContract = "btnContract" + currentIndex;
            $('#' + btnContract).attr('disabled', false);
            $('#selectedContractLength').val('');

            //for selection display
            $('#getPelanId').html(idPlan);
            $('#pelanSelected').html(packageDisplay);
        }

        function SetMenuOption(navUrl, objCurParentMenu) {
            //Post the menu id
            //debugger;
            var postUrl = '@(Url.Content("~/Home/SaveMenuOption"))';
            $.post(postUrl, { curMenu: objCurParentMenu }, function (data) {
                if (data.isMenuSuccess) {
                    window.location = navUrl;
                }
                // window.location = navUrl;
            });

        }
        function SetDropdown(dropDownID, value, displayText) {
            //debugger;
            if (dropDownID.indexOf("plan") > -1) {
                $('#' + dropDownID).html("<marquee scrolldelay='125' style='height:auto;padding-top:4px;'>" + displayText + "</marquee>");
            }
            else {
                $('#' + dropDownID).html(displayText);
            }
            $('#' + dropDownID).val(value);
            if (dropDownID == "btnBrandSelected") {
                getModelName(value);
                $('#btnModelSelected').html('Select a model');
                $('#btnModelSelected').val('');
            }
            SetSummary(dropDownID, value, displayText);
            SetFilterCriteria(dropDownID, value);

            if (dropDownID == "btnBrandSelected") {
                if (value != '') {
                    $('#dropdownmodel').removeClass().addClass('drop-arrow');
                    $('#selectModelButton').removeAttr('disabled');
                }
                else {
                    $('#dropdownmodel').removeClass().addClass('drop-arrow-disable');
                    $('#selectModelButton').attr('disabled', true);
                    //$('#modelUL').html('');
                }
            }
            return false;
        }

        function SetFilterCriteria(type, value) {
            if ("btnBrandSelected" == type) {
                $('#brandFilter').val(value);
            }
            if ("btnModelSelected" == type) {
                $('#modelFilter').val(value);
            }
            if ("all-capacity" == type) {
                $('#capacityFilter').val(value);
            }
            if ("lowest-price" == type) {
                $('#priceFilter').val(value);
            }
            return false;
        }
        //SetContract('contract','12','12 Months','contractUL2');return false
        function SetContract(dropDownID, value, displayText, dropDownIDUL) {
            //debugger;
            $('#' + dropDownIDUL).html(displayText);
            $('#' + dropDownIDUL).val(value);
            // get pricing here
            var articleID = $('#selectedArticleID').val();
            var modelID = $('#selectedModelID').val();
            var kenanCode = $('#selectedKenanCode').val();
            var packageCode = $('#selectedPackageCode').val();
            var pgmBdlPkgCompID = $('#PackageVM_SelectedPgmBdlPkgCompID').val();
            var packageDisplay = $('#selectedPackageName').val();
            var contractLength = value;
            //for selection display
            $('#getContractId').html(dropDownIDUL);
            $('#contractSelected').html(displayText);

            //20151020 - Samuel Bug 1319 (Error while selecting colour)
            $('#selectedContractLength').val(contractLength);

            return false;
        }

        function SetDropdownAndDevice(currIndex, dropDownColorID, articleID, colorDisplayText, modelID, deviceDisplayText, rrpPrice, modelImageID) {
            //debugger;
            $('#' + dropDownColorID).html(colorDisplayText);
            $('#' + dropDownColorID).val(articleID);
            $('#summaryDevice').html(deviceDisplayText);
            $('#summaryDevice').val(modelID);
            SetSummary('color', articleID, colorDisplayText);
            // for pricing
            $('#selectedModelID').val(modelID);
            $('#selectedArticleID').val(articleID);
            setSummaryDevicePrice(rrpPrice);
            $('#deviceRRP').val(rrpPrice);
            $('#Phone_SelectedModelImageID').val(modelImageID);
            //for selection display
            $('#colorSelected').html(colorDisplayText);
            $('#getColorId').html(dropDownColorID);
            updateDeviceOrderSummary(colorDisplayText, deviceDisplayText, rrpPrice);
            CalculatePrice();

            //Extra logic for Add Contract
            updatePackageAndContractOptions(currIndex, articleID, modelID, '@(Model.Package)', '@Model.PackageId', 'plan' + currIndex, 0 , '@packageDisplay');
            return false;
        }

        function SetDevice(deviceName, modelID) {
            //debugger;
            $('#summaryDevice').html(deviceName);
            $('#summaryDevice').value(modelID);
            return false;
        }

        function SetSummary(dropDownID, value, displayText) {
            //debugger;
            if (dropDownID == 'plan') {
                $('#summaryPlan').html(displayText);
                setSummaryPlanPrice(value);
            }
            if (dropDownID == 'color') {
                $('#summaryColor').html(displayText);
                $('#summaryColor').val(value);
            }
            return false;
        }

        function SetDeviceType(deviceType) {
            //debugger;
            // smartphone = 1 ; tablet = 2
            $('#deviceTypeSelected').val(deviceType);
            return false;
        }

        function CalculatePrice() {
            //debugger;
            var devicePrice = Number($('#summaryDevicePrice').val());
            var planPrice = Number($('#summaryPlanPrice').val());
            var planAdvancePrice = Number($('#summaryPlanAdvancePrice').val());
            var deposit = Number($('#summaryDepositPrice').val());
            var deviceAdvance = Number($('#summaryDeviceAdvancePrice').val());

            // exclude plan price, because plan price is recurring
            var subTotal = Number(devicePrice + planAdvancePrice + deposit + deviceAdvance);
            $('#summarySubTotalPrice').html('RM' + subTotal);
            $('#summarySubTotalPrice').val(subTotal);
            var total = Number(subTotal);
            $('#summaryGrandTotalPrice').html('RM' + total);
            $('#summaryGrandTotalPrice').val(total);

        }

        function setSummaryDevicePrice(value) {
            //debugger;
            $('#summaryDevicePrice').val(value);
            $('#summaryDevicePrice').html('RM ' + value);
            $('#deviceOfferPrice').val(value);
            CalculatePrice();
        }
        function setSummaryPlanPrice(value) {
            //debugger;
            $('#summaryPlanPrice').val(value);
            $('#summaryPlanPrice').html('RM ' + value);
            CalculatePrice();
        }
        function setSummaryPlanAdvancePrice(value) {
            //debugger;
            $('#summaryPlanAdvancePrice').val(value);
            $('#summaryPlanAdvancePrice').html('RM ' + value);
            CalculatePrice();
        }
        function setSummaryRegistrationPrice(value) {
            //debugger;
            $('#summaryRegistrationPrice').val(value);
            $('#summaryRegistrationPrice').html('RM ' + value);
            CalculatePrice();
        }
        function setSummaryDepositPrice(value) {
            //debugger;
            $('#summaryDepositPrice').val(value);
            $('#summaryDepositPrice').html('RM ' + value);
            CalculatePrice();
        }
        function setSummaryDeviceAdvancePrice(value) {
            //debugger;
            $('#summaryDeviceAdvancePrice').val(value);
            $('#summaryDeviceAdvancePrice').html('RM ' + value);
            CalculatePrice();
        }

        function ClearPrice() {
            //debugger;
            $('#summaryDevicePrice').val('');
            $('#summaryDevicePrice').html('');
            $('#summaryPlanPrice').val('');
            $('#summaryPlanPrice').html('');
            $('#summaryPlanAdvancePrice').val('');
            $('#summaryPlanAdvancePrice').html('-');
            $('#summaryDepositPrice').val('');
            $('#summaryDepositPrice').html('-');
            $('#summaryDeviceAdvancePrice').val('');
            $('#summaryDeviceAdvancePrice').html('-');
            $('#summarySubTotalPrice').val('0');
            $('#summarySubTotalPrice').html('RM' + '0');
            $('#summaryGrandTotalPrice').val('0');
            $('#summaryGrandTotalPrice').html('RM' + '0');
        }



        $('#btnBrandSelected').change(function () {
            //debugger;
            if ($('#btnBrandSelected').val() == '' || $('#btnBrandSelected').html() == 'Select a brand') {
                $('#btnModelSelected').html('Select a model');
                $('#btnModelSelected').val('');
                $('#modelUL').html('');
                $('#modelUL').val('');
            }
        });
                    

    </script>
}
