﻿@using Online.Registration.Web.ViewModels
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@{
    ViewBag.Title = "Add Contract / Zerolution";
    Layout = Url.Content("~/Views/Shared/_Layout.cshtml");

    int modelImagesCount = Model.Phone.ModelImages.Count();
    int availableDevicesCount = Model.Phone.ModelImages.Where(d => d.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockLower).Count();
    //string isIMEIeligibleInDevicePage = "0";
    string simType = string.Empty;
    //if (!ReferenceEquals(MNPPrimaryPlanStorage, null))
    //{
    //    MNPPrimaryPlanStorage.SimType = "Normal";
    //}
    //simType = IsMNPWithMultpleLines ? MNPPrimaryPlanStorage.SimType : Convert.ToString(Session["SimType"]);
    simType = Session["SimType"].ToString2();
    simType = "Normal";
}
@model Online.Registration.Web.ViewModels.DeviceVM
<link  href="@Url.Content("~/Content/bootstrap2/bootstrap-switch.css")" rel="stylesheet" type="text/css"/>
<style type="text/css">
    .switch-wrapper
    {
        display: inline-block;
        position: relative;
        top: 3px;
    }
</style>
<div id="center">
    @using (Html.BeginForm("SelectDeviceCatalog", "AddContract", FormMethod.Post, new { id = "frmSelectDeviceCatalog", @class = "overlayonsubmit", processmsg = "Loading" }))
    {
        @Html.HiddenFor(a => a.Phone.TabNumber)
        @Html.HiddenFor(a => a.Phone.SelectedModelImageID)
        @Html.HiddenFor(a => a.PackageDesc)
        @Html.HiddenFor(a => a.PackageId)
        @Html.HiddenFor(a => a.AccountType)
        @Html.HiddenFor(a => a.ContractType)
        @Html.HiddenFor(a => a.MSISDN)
        @Html.HiddenFor(a => a.ContractRemainingMonths)
        @Html.HiddenFor(a => a.VasComponents)
        @Html.HiddenFor(a => a.SubscriberNo)
        @Html.HiddenFor(a => a.SubscriberNoResets)
         @Html.HiddenFor(a => a.AccountNumber)
          @Html.HiddenFor(a => a.KenanAccountNo)
           @Html.HiddenFor(a => a.SelectedOptionId)
          @Html.HiddenFor(a => a.SelectedOptionType)
          @Html.HiddenFor(a => a.Penality)
          @Html.HiddenFor(a => a.VasNames)
          @Html.HiddenFor(a => a.Package)
          @Html.HiddenFor(a => a.SimType)

        //if (Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("DSupervisor") || Roles.IsUserInRole("MREG_DIC") || Roles.IsUserInRole("MREG_DAI"))
        //{
        //    isIMEIeligibleInDevicePage = "1";
        //}
        //else
        //{
        //    isIMEIeligibleInDevicePage = "0";
        //}
        
        <div class="header-title">
            @ViewBag.Title</div>
        <div class="row top=border">
            <div class="col-sm-12">
                <p class="font-16 gst-notif">@(ViewBag.GSTnotif)</p>
            </div>
        </div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        <li style="display: table-cell; float: none;" class="selected">Device</li>
                        <li style="display: table-cell; float: none;">Offer</li>
                        <li style="display: table-cell; float: none;">Customer</li>
                        <li style="display: table-cell; float: none;">Summary</li>
                    </ul>
                </div>
                <div class="content_white" style="padding: 1px 1px 1px 1px">
                    @Html.ValidationSummary(false)
                    <div id="ValiadationErs" class="validation-summary-errors"></div>
                </div>
            </div>
            <div class="content" style="border-top: 1px solid #cccccc;" id="showAllDevicesDiv">
                <div class="list_carousel responsive">
                    <ul id="phones">
                        @if (Model != null)
                        {
                            foreach (var modelImage in Model.Phone.ModelImages)
                            {
                                var articleId = modelImage.BrandArticle.ArticleID;
                                var modelId = modelImage.BrandArticle.ModelID;
                                var btnModelImageID = "btnModelImageID_" + modelImage.BrandArticle.ID;
                                var btnModelDetails = "btnModelDetails_" + modelImage.ModelCode;
                                string clickEvent = "phone(this,'" + modelImage.BrandArticle.ID + "');";
                                if (modelImage.Count <= 0)
                                {
                                    clickEvent = string.Empty;
                                }
                                string curDeviceName = Util.GetNameByID(RefType.Model, modelImage.BrandArticle.ModelID);
                            <li>
                                <div style="position: relative;">
                                    <div class="carousel-content" id='@btnModelImageID' onclick="@clickEvent" style="height:225px">
                                        <img alt='@curDeviceName' src="@Url.Content(modelImage.BrandArticle.ImagePath)" />
                                            @if (modelImage.dfdeviceEligibility)
                                            { 
                                              @*<span><label class="col-sm-6" style="background-color:red; color:white" align="center">
                                                  ZEROLUTION</label></span>*@
                                                <br />
                                                <span><img style="height: 25px; float: left;margin-left: 15px;" alt="" src="@Url.Content("~/Content/images/zerolution_logo.jpg")" /></span>
                                            }
                                    </div>
                                    <div style="padding-top: 7px;">
                                        <a href="@Url.Content(string.Format("~/Registration/DevicePlanDetails/?articleId={0}&modelId={1}", articleId, modelId))" class="phone cboxElement" id="popup-message">@Html.Raw(curDeviceName)
                                            @Html.Raw(modelImage.BrandArticle.ColourID > 0 ? Util.GetNameByID(RefType.Colour, modelImage.BrandArticle.ColourID) : "")</a>
                                    </div>
                                    @if (modelImage.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockLower)
                                    {

                                        <div class="ribbon-wrapper-red">
                                            <div class="devices ribbon-red">
                                                Out of Stock</div>
                                        </div>
                                    }
                                    else
                                        if (modelImage.Count > Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockLower && modelImage.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockHigher)
                                        {
                                        <div class="ribbon-wrapper-yellow">
                                            <div class="devices ribbon-yellow">
                                                Fast Selling</div>
                                        </div>
                                        }
                                        else if (modelImage.Count > Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_LimitedStockLower && modelImage.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_LimitedStockHigher)
                                        {
                                        <div class="ribbon-wrapper-amber">
                                            <div class="devices ribbon-amber">
                                                Limited Stock</div>
                                        </div>
                                        }
                                        else if (modelImage.Count > Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_AvailableStockLower)
                                        {
                                        <div class="ribbon-wrapper-green">
                                            <div class="devices ribbon-green">
                                                Available</div>
                                        </div>
                                        }
                                </div>
                            </li>
                            }
                        }
                        @if (modelImagesCount == availableDevicesCount)
                        {
                        <div id="dvNoDevices">
                            &nbsp;There are no eligible devices for this plan.</div>
                        }
                    </ul>
                    <div class="clearfix">
                    </div>
                    <div class="arrow_position">
                        <a id="prev3" class="prev" href="#">
                            <img src="@Url.Content("~/content/img/shared/iSELL-Mobility-LeftGrey-Arrow.png")" alt="Previous" /></a>
                        <a id="next3" class="next" href="#">
                            <img src="@Url.Content("~/content/img/shared/iSELL-Mobility-RightGrey-Arrow.png")" alt="Next" /></a>
                    </div>
                </div>
            </div>
            <div class="content" style="border-top: 1px solid #cccccc;">
                <div id="dvError" style="display: none; color: #ff0000; font-weight: bold;">
                    <ul>
                        <li>Out of Stock- No devices available.</li></ul>
                </div>
                <div class="list_carousel responsive" id="showAvailableDevicesDiv">
                    <div >
                        <ul id="phone">
                            @if (Model != null)
                            {
                                foreach (var modelImage in Model.Phone.ModelImages)
                                {
                                    var outofstockFlag = false;
                                    var articleId = modelImage.BrandArticle.ArticleID;
                                    var modelId = modelImage.BrandArticle.ModelID;
                                    var btnModelImageID1 = "btnModelImageID1_" + modelImage.BrandArticle.ID;
                                    var btnModelDetails = "btnModelDetails_" + modelImage.ModelCode;
                                    string clickEvent = "phone(this,'" + modelImage.BrandArticle.ID + "');";
                                    if (modelImage.Count <= 0)
                                    {
                                        clickEvent = string.Empty;
                                    }
                                    if (modelImage.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockLower)
                                    {
                                        outofstockFlag = true;
                                    }
                                    string curDeviceName = Util.GetNameByID(RefType.Model, modelImage.BrandArticle.ModelID);
                                    if (!outofstockFlag)
                                    {
                                <li>
                                    <div style="position: relative;">
                                        <div class="carousel-content" id='@btnModelImageID1' onclick="@clickEvent" style="height:225px" >
                                            <img alt='@curDeviceName' src="@Url.Content(modelImage.BrandArticle.ImagePath)" />
                                            @if (modelImage.dfdeviceEligibility)
                                            { 
                                              @*<span><label class="col-sm-6" style="background-color:red; color:white" align="center">
                                                  ZEROLUTION</label></span>*@
                                                <br />
                                                <span><img style="height: 25px; float: left;margin-left: 15px;" alt="" src="@Url.Content("~/Content/images/zerolution_logo.jpg")" /></span>
                                            }
                                        </div>
                                        <div style="padding-top: 7px;">
                                            <a href="@Url.Content(string.Format("~/Registration/DevicePlanDetails/?articleId={0}&modelId={1}", articleId, modelId))" class="phone cboxElement" id="popup-message">@Html.Raw(curDeviceName)
                                                @Html.Raw(modelImage.BrandArticle.ColourID > 0 ? Util.GetNameByID(RefType.Colour, modelImage.BrandArticle.ColourID) : "")</a>
                                        </div>
                                        @if (modelImage.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockLower)
                                        {

                                            <div class="ribbon-wrapper-red">
                                                <div class="devices ribbon-red">
                                                    Out of Stock</div>
                                            </div>
                                        }
                                        else
                                            if (modelImage.Count > Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockLower && modelImage.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockHigher)
                                            {

                                            <div class="ribbon-wrapper-yellow">
                                                <div class="devices ribbon-yellow">
                                                    Fast Selling</div>
                                            </div>
                                            }
                                            else if (modelImage.Count > Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_LimitedStockLower && modelImage.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_LimitedStockHigher)
                                            {

                                            <div class="ribbon-wrapper-amber">
                                                <div class="devices ribbon-amber">
                                                    Limited Stock</div>
                                            </div>
                                            }
                                            else if (modelImage.Count > Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_AvailableStockLower)
                                            {

                                            <div class="ribbon-wrapper-green">
                                                <div class="devices ribbon-green">
                                                    Available</div>
                                            </div>
                                            }
                                    </div>
                                </li>
                                    }
                                }
                            }
                            @if (modelImagesCount == availableDevicesCount)
                            {
                            <div>
                                &nbsp;There are no eligible devices for this plan.</div>
                            }
                        </ul>
                    </div>
                    <div class="clearfix">
                    </div>
                    <div class="arrow_position">
                        <a id="prev4" class="prev" href="#">
                            <img src="@Url.Content("~/content/img/shared/iSELL-Mobility-LeftGrey-Arrow.png")" alt="Previous" /></a>
                        <a id="next4" class="next" href="#">
                            <img src="@Url.Content("~/content/img/shared/iSELL-Mobility-RightGrey-Arrow.png")" alt="Next" /></a>
                    </div>
                </div>
            </div>
            <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
                <div style="float: left;" id="dvOutOfStock">
                    <br />
                    <div class="switch-wrapper" id="checkbox1">
                        <span class="txt-16-grey-normal">Out of stock :</span>
                        <input type="checkbox" id="showAvailableDevicesCheckBox" name="showAvailableDevicesCheckBox" /></div>
                </div>
                <div style="float: right;">
                    <input type="button" class="button-back cancel backButton" style="width:53px" value="<" onclick="window.location.href = '@(Url.Content("~/AddContract/SelectDevice/"))';" />
                    @if (Model.Phone != null)
                    {
                        //if (Model.Phone.ModelImages.Count > 0)
                        //{
                        if ((from item in Model.Phone.ModelImages
                             where item.Count > 0
                             select item).Count() > 0)
                        {
                            @*if (isIMEIeligibleInDevicePage == "1")
                            {
                                <input class="button-continue submitButton" id="btnSubmitImei" type="button" value="IMEI" />
                            }
                            *@
                        
                            <input class="button-continue submitButton" id="btnSubmit" type="submit" value="Next Step: Contract" onclick="$('#Phone_TabNumber').val(2);" />
                        }
                    }
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
    }
    @Html.Partial("_footer")
</div>
<div id="right">
<div id="right-box">
    @{
        var viewBagValue = new ViewDataDictionary();
        viewBagValue.Add("GSTMark", ViewBag.GSTMark);
    }
    @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"], viewBagValue)
</div></div>
@{

    Html.Telerik().Window()
                        .Name("devicePlanDetailsWindow")
                        .Title("Device Details")


                        .Width(1000)
.Height(600)
                        .Content(@<text>
    </text>)
                        .Modal(true)
                        .Visible(false)


                        .Render();


    Html.Telerik().ScriptRegistrar()
        .OnDocumentReady(@<text> $('#btnVwSubline') .click(function(e) { e.preventDefault();
    $('#sublineWindow').data('tWindow').center().open(); });
    </text>); 
}
@{
    Html.Telerik().Window()
        .Name("devicesDetailsWindow")
        .Title("Devices Details")
        .Width(850)
        .Height(700)
        .Content(@<text>
    <table width="100%">
        <tr>
            <td>
                <img alt="" id="imgDevicesDetails" src="@Url.Content("~/Content/images/devices/Devices_.jpg")" />
            </td>
        </tr>
    </table>
    </text>)
        .Modal(true)
        .Visible(false)
        .Render();
}

@{
 
    if (simType == "Normal")
    {
        Html.Telerik().Window()
            .Name("imeiWindow")
            .Title("IMEI Number")
            .Width(325).Height(120)
            .Content(@<text>
    @using (Html.BeginForm("SelectDeviceCatalog", "AddContract", FormMethod.Post, new { onSubmit = "return PoputateIMEI(this);" }))
    {
        @Html.HiddenFor(a => a.Phone.TabNumber)
        <table width="100%">
            <tr>
                <td colspan="2">
                    <div id="dvIMEIError" class="ErrorClass">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="ErrorClass">
                        @*@Html.ValidationMessageFor(model => model.CapturedIMEINumber)*@
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.PersonalDetails.CapturedIMEINumber)
                </td>
                <td>@Html.TextBoxFor(model => model.PersonalDetails.CapturedIMEINumber)
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    @*  <button id="btnSaveIMEI1" class="button-SaveIMEI" type="submit">
                    </button>*@
                    <input id="btnSaveIMEI" value="Save" class="submitButton" type="button" onclick="return PoputateIMEI(this)" />
                </td>
            </tr>
        </table>
    }
    </text>)
            .Modal(true)
            .Visible(false)
            .ClientEvents(events => events.OnOpen("IMEIWindowOnOpen"))
            .Height(150)
            .Render();
    }
       
 }

@section Scripts{
    <script language="javascript" src="@Url.Content("~/scripts/bootstrap-switch.js")"  type="text/javascript"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/js/jquery.carouFredSel-6.2.1-packed.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/js/jquery.colorbox.js")" ></script>
    <script type="text/javascript" language="javascript">

        $(window).load(function () {
            $("#showAllDevicesDiv").hide();
        });

        $(document).ready(function () {
            if ($('#dvNoDevices').css('display') == 'block') {
                $("#dvOutOfStock").css("display", "none");
                $('#btnSubmit').hide()
            }
            $('#phones').carouFredSel({
                width: '100%',
                height: '350px',
                prev: '#prev3',
                next: '#next3',
                auto: false,
                easing: "elastic",
                swipe: {
                    onTouch: true,
                    onMouse: false
                }

            });



            $('a#popup-message').colorbox({ iframe: true, innerWidth: 1020, innerHeight: 500 });

            $("[name='showAvailableDevicesCheckBox']").bootstrapSwitch();

            $('#showAvailableDevicesCheckBox').on('switch-change', function (e, data) {
                var chk = $('#showAvailableDevicesCheckBox').is(':checked');

                if (chk == true) {

                    $("#showAllDevicesDiv").show();
                    $("#showAvailableDevicesDiv").hide();
                }
                else {
                    $("#showAllDevicesDiv").hide();
                    $("#showAvailableDevicesDiv").show();
                }

            });
        });

        $(document).ready(function () {

            $('#phone').carouFredSel({
                width: '100%',
                height: '350px',
                prev: '#prev4',
                next: '#next4',
                auto: false,
                easing: "elastic",
                swipe: {
                    onTouch: true,
                    onMouse: false
                }

            });

            $('a#popup-message').colorbox({ iframe: true, innerWidth: 1020, innerHeight: 500 });


            //Highlight selected device
            var modelImageID = $('#Phone_SelectedModelImageID').val();
            if (modelImageID != 0) {
                $('#btnModelImageID_' + modelImageID).addClass('focus');
                $('#btnModelImageID1_' + modelImageID).addClass('focus');
            }
        });
        function phone(target2, modelImageID) {
            $(".carousel-content").removeClass('focus');
            $(target2).addClass('focus');
            $('#Phone_SelectedModelImageID').val(modelImageID);
        }

        function detailsDevices_OnClick(articleId, modelId) {

            var window123 = $('#devicePlanDetailsWindow').data('tWindow');

            var url = '@(Url.Content("~/Registration/DevicePlanDetails"))';
            window123.ajaxRequest(url, { articleId: articleId, modelId: modelId });
            window123.center().open();


        }

        function IMEIWindowOnOpen() {
        }

//        $('#btnSubmit').click(function () {
//            if(isIMEIeligibleInDevicePage == "1"){
//                var inputIMEI = $('#PersonalDetails_CapturedIMEINumber').val();
//                if (inputIMEI == "") {
//                    $('#ValiadationErs').html('Please enter IMEI for selected device.');
//                    return false;
//                }
//                else {
//                    $('#ValiadationErs').html('');
//                }
//            }

//        });
        $('#btnSubmitImei').click(function () {

            var imageID = $('#Phone_SelectedModelImageID').val();
            //alert(imageID);
            if (imageID == "") {
                $('#ValiadationErs').html('Please choose a preferred device to enter IMEI.');
                //alert('Please choose a preferred device to enter IMEI.');
            }
            else {
                $('#imeiWindow').data('tWindow').center().open()
            }

        });
        function PoputateIMEI(form) {
            $('#dvIMEIError').html('');
            $('#dvIMEIError').hide();
            if (form != null && $(form).valid() == false) {
                return false;
            }
            var inputIMEI = $('#PersonalDetails_CapturedIMEINumber').val();
            var regex = /^[0-9]{0,}$/;
            if (inputIMEI == '') {
                $('#dvIMEIError').html("Please enter IMEI number.");
                $('#dvIMEIError').show();
                $('#PersonalDetails_CapturedIMEINumber').val('');
                $('#PersonalDetails_CapturedIMEINumber').focus();
                return false;
            }
            else if ($("#PersonalDetails_CapturedIMEINumber").val().length < '@(System.Configuration.ConfigurationManager.AppSettings["IMEIMin"])') {
                $('#dvIMEIError').html("IMEI number length must be greater than " + '@(System.Configuration.ConfigurationManager.AppSettings["IMEIMin"])');
                $('#dvIMEIError').show();
                return false;
            }
            else if (!regex.test(inputIMEI)) {
            $('#dvIMEIError').html("IMEI Number must be a number.");
                $('#dvIMEIError').show();
                return false;
            }
            else {
                $('#dvIMEIError').html("");
            }
            var regID = $('#RegID').val();
            var modelID = $('#Phone_SelectedModelImageID').val();
            var url = '@(Url.Content("~/Registration/CheckIMEIStatusForDealer"))';
            $.post(url, {
                modelID: modelID,
                imei: inputIMEI
            }, function (data) {
                if (data.toString() == "False") {
                    $('#dvIMEIError').html("IMEI not valid for the selected device");
                    $('#dvIMEIError').show();
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    //alert("IMEI not valid for the selected device");
                    $('#PersonalDetails_CapturedIMEINumber').val('');
                    $('#PersonalDetails_CapturedIMEINumber').focus();
                    return false;

                }
                else {
                    // alert('Imei correct');
                    $('#imeiWindow').data('tWindow').close();
                }


            });



        }
    </script>
}
