﻿@using Online.Registration.Admin.Models;
@using Online.Registration.Web.Helper;
@using Online.Registration.DAL.Models;

@model SearchViewModelStatus

@{
    ViewBag.Title = "Status";
    string strForm = "frmStatus";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
    <a class="t-button t-button-icontext" href="@Url.Action("Create")"><span class="t-icon t-add">
    </span>Add New</a>
</div>
<br />
@using (Html.BeginForm("Index", "Status", FormMethod.Post, new { id = strForm, name = strForm }))
{
    <fieldset runat="server">
        <legend style="margin-right: 500px;">Search:</legend>
        <table>
            <tr>
                <td>
                    <div style="width: 100px">
                       @Html.LabelFor(m => m.SearchCriterias.Code)</div>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.SearchCriterias.Code)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.SearchCriterias.StatusTypeID)
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(m => m.SearchCriterias.StatusTypeID)
                        .BindTo(Util.GetList(RefType.StatusType, defaultText: "ALL"))
                        )
                </td>
            </tr>
        </table>
    </fieldset>
@*</div>*@
   <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icontext" type="submit" value="Search" name="Search">
            <span class="t-icon t-search"></span>Search</button>
            <button class="t-button t-button-icontext" type="button" value="Reset" onclick="Reset();">
            <span class="t-icon t-cancel"></span>Reset
        </button>
   </div>
   <br /> 
    @*if (State == null || State.SearchResults == null || State.SearchResults.Count == 0)
    {
        <p>
            No Record Found!</p>
    }*@
    <text><b>Search Result:</b></text>   
    Html.Telerik().Grid<StatusSearchResults>(Model.SearchResults).Name("gvwStatus")
        .Sortable()
        .Columns(cols => 
        {
            cols.Command(command => command
                .Custom("Edit")
                .Text("Edit")
                .DataRouteValues(route => route.Add(a => a.StatusID).RouteKey("id"))
                .SendState(false)
                .Action("Edit", "Status"))
                .HtmlAttributes(new { style = "text-align: center" })
                .Width(90)          
                .Title("Action");
                cols.Bound(m => m.Code).Title("Code").Width(10);
                cols.Bound(m => m.Description).Title("Name").Width(200);
                //cols.Bound(m => m.StatusType).Title("StatusType");
                cols.Bound(m => m.ActiveCheckBox).Title("Active").Width(10).Encoded(false);
                cols.Bound(m => m.CreateDT).Title("Created On");
                cols.Bound(m => m.LastUpdateDT).Title("Last Updated");
                cols.Bound(m => m.LastAccessID).Title("Last Access");
            })
            .DataBinding(binding => binding.Ajax().OperationMode(GridOperationMode.Client))
            .Pageable(paging => paging.PageSize(Util.GridRowsPerPage))
            .Render();
 }
@section scripts
{
    <script type="text/javascript">
        function Reset() {
            var code = $('#SearchCriterias_Code');
            var statusTypeID = $('#SearchCriterias_statusTypeID');
            code.val('');
            statusTypeID.val('');
        }
    </script>
}