﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Controllers;
@model Online.Registration.Web.Models.PrincipalAndSupplementaryDetails
@{
    ViewBag.Title = "Change Rate Plan";
    var isBlacklisted = ViewBag.isBlacklisted;
    var resultMsg = Session["RegMobileReg_ResultMessage"].ToString2();
    var hardStop = Session["HardStopCRP"].ToString2();
    bool newUser = true;
    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        newUser = false;
    }
    if (ReferenceEquals(Model, null))
    {
        newUser = true;
    }

    List<string> allowedPrefixes = new List<string>();
    if (System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"] != null)
    {
        allowedPrefixes = System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"].ToString2().Split(',').ToList();
    }
}
<div id="center">
    <div class="center_box">
        @using (Html.BeginForm("CRPPlan", "Registration", FormMethod.Post, new { id = "frmChangeRatePlan", @class = "overlayonsubmit", processmsg = "Loading" }))
        { 
            <div class="content search-header">
                <div class="search-header-box">
                    <div class="search-hdr-title">@ViewBag.Title</div>
                </div>
            </div>
            <div style="clear: both;">
            </div>
    
            <input type="hidden" name="principalDetails" value='@Model.principalDetails.Count' />
            @Html.ValidationSummary()
            <div class="content_white">
                <div id="dvError" style="color: #ff0000; font-weight: bold; text-align: left; padding-left: 20px;
                    padding-top: 5px; font-size: 14px;">
                </div>
                <div id="DVResultDisplay">
                    <div style="font-size: large; font-weight: bold; padding-left: 20px; padding-top: 5px;">
                        Principal Account
                    </div>
                    <table width="100%" style="text-align: center;" border="0">
                        <tr>
                            <td colspan="2">
                                @if (!newUser && Model.principalDetails.Count > 0)
                                {
                                    <div id="Grid" class="crp-wrapper">
                                        <table width="100%" cellpadding="0" cellspacing="0" border="0" id="tblprin" style="margin-top: 20px;">
                                            <tbody>
                                                <tr class="row-bold-header">
                                                    <td align="center">
                                                        Action
                                                    </td>
                                                    <td>
                                                        Name
                                                    </td>
                                                    <td>
                                                        ID No
                                                    </td>
                                                    <td>
                                                        MSISDN
                                                    </td>
                                                    <td>
                                                        Account Number
                                                    </td>
                                                    <td>
                                                        IS MISM
                                                    </td>
                                                </tr>
                                                @{int rowCount = 0;}
                                                @foreach (var Acd in Model.principalDetails)
                                                {
                                                    if (allowedPrefixes.Contains(Acd.externalId.Substring(0, 3)))
                                                    {
                                                    <tr class="row-body">
                                                        @{  rowCount = rowCount + 1;
                                                        }
                                                        <td align="center">@Html.RadioButton("SelectAccountDtls", Acd.accountIntId + "," + Acd.externalId + "," + Acd.accountExtId + "," + Acd.AccountNumber + "," + Acd.outstandingAmount + "," + Acd.AccountStatus + "," + Convert.ToInt16(Acd.Plan) + "," + Acd.SubscribeNo.ToString2() + "," + Acd.SubscribeNoResets.ToString2() + "," + Acd.IsMISM.ToString2(), rowCount == 1 ? true : false, new { id = "SelectRadioButton" })
                                                        </td>
                                                        <td>
                                                            <label>@Html.Raw(Acd.Holder)</label>
                                                        </td>
                                                        <td>@Html.Label(Acd.IDNumber)
                                                        </td>
                                                        <td>@Html.Label(Acd.externalId)
                                                        </td>
                                                        <td>@Html.Label(Acd.accountExtId)
                                                        </td>
                                                        @{if (Acd.IsMISM == true)
                                                          {
                                                            <td>
                                                                YES
                                                            </td>
                                                          }
                                                          else
                                                          {
                                                            <td>
                                                                NO
                                                            </td>  
                                                          }
                                                        }
                                                    </tr>
                                                    }

                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                }
                                else
                                {
                                    <div id="DVShowNewUSerMsg">
                                        No Principal accounts exists for the user</div>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%;">
                                @*<button class="button-skip" type="submit" value="Skip" onclick="$('#submit').val('skip');">*@
                                @if (!newUser && Model.principalDetails.Count > 0)
                                {       
                              
                                    <input type="button" class="submitButton" value="Principal-to-Principal" onclick="$('#btnsubmit').val('next,1');return P2SValidation('0');" />
                              
                                }
                            </td>
                            <td style="width: 50%;">
                                @Html.Hidden("btnsubmit")
                                @if (!newUser && Model.principalDetails.Count > 0)
                                {
                                    <div id="DVResultButtonDisplay">
                                        <input type="button" value="Principal-to-Supplimentary" class="submitButton" onclick="$('#btnsubmit').val('continue,2'); return P2SValidation('2');" />
                                    </div>
                                }
                            </td>
                        </tr>
                    </table>
                    @if (Model.supplementaryDetails.Count > 0)
                    {
                        <hr />
                        <div style="font-size: large; font-weight: bold; padding-left: 20px; padding-top: 5px;">
                            Supplementary Account
                        </div>
                        <table width="100%" style="text-align: center;" border="0">
                            <tr>
                                <td colspan="2">
                                    @if (Model.supplementaryDetails.Count > 0)
                                    {
                                        <div id="Grid1" class="crp-wrapper">
                                            <table width="100%" cellpadding="0" cellspacing="0" border="0" id="search-table">
                                                <tbody>
                                                    <tr class="row-bold-header">
                                                        <td align="center">
                                                            Action
                                                        </td>
                                                        <td>
                                                            Name
                                                        </td>
                                                        <td>
                                                            MSISDN
                                                        </td>
                                                        <td>
                                                            Account Number
                                                        </td>
                                                        @*<td>
                                                Subscribe No
                                            </td>*@
                                                        <td>
                                                            Prin/Primary MSISDN
                                                        </td>
                                                    </tr>
                                                    @{int rowCount = 0;}
                                                    @foreach (var Acd in Model.supplementaryDetails)
                                                    {
                                                        if ((Acd.CompanyName == Acd.externalId) && (Acd.externalId != null))
                                                        {

                                                        }
                                                        else
                                                        {
                                                        <tr class="row-body">
                                                            @{ rowCount = rowCount + 1;}
                                                            <td align="center">@Html.RadioButton("SelectAccountDtls1", Acd.accountIntId + "," + Acd.IDNumber + "," + Acd.accountExtId + "," + Acd.AccountNumber + "," + Acd.SubscribeNo.ToString2() + "," + Acd.SubscribeNoResets.ToString2() + "," + Acd.outstandingAmount.ToString2() + "," + Acd.AccountStatus.ToString2() + "," + Acd.Category.ToString(), rowCount == 1 ? true : false, new { id = "SelectRadioButton1" })
                                                            </td>
                                                            @* <td align="center">@Html.RadioButton("SelectAccountDtls1", Acd.accountIntId + "," + Acd.IDNumber + "," + Acd.accountExtId + "," + Acd.AccountNumber + "," + Acd.SubscribeNo.ToString2() + "," + Acd.SubscribeNoResets.ToString2() + "," + Acd.outstandingAmount.ToString2() + "," + Acd.AccountStatus.ToString2(), rowCount == 1 ? true : false, new { id = "SelectRadioButton1" })
                                                            </td>*@
                                                            <td>
                                                                <label>@Html.Raw(Acd.AccountName)</label>
                                                            </td>
                                                            <td>@Html.Label(Acd.IDNumber)
                                                            </td>
                                                            <td>@Html.Label(Acd.accountExtId)
                                                            </td>
                                                            <td>@Html.Label(Acd.Category)
                                                            </td>
                                                        </tr>
                                                        }

                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="DVShowNewUSerMsg1">
                                            No Supplementary accounts Found</div>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 50%;">
                                    @if (!newUser && Model.supplementaryDetails.Count > 0)
                                    {
                                        <div id="DVResultButtonDisplay">
                                            <input type="button" class="submitButton" value="Supplimentary-to-Supplimentary"
                                                onclick="$('#btnsubmit').val('next,3');return SuppOotstandingAmountValidation('0')" />
                                        </div>
                                    }
                                </td>
                                <td style="width: 50%;">
                                    @if (!newUser && Model.supplementaryDetails.Count > 0)
                                    {
                                        <div id="DVResultButtonDisplay">
                                            <input type="button" class="submitButton" value="Supplimentary-to-Principal" onclick="$('#btnsubmit').val('next,4');return SuppOotstandingAmountValidation('4')" />
                                        </div>
                                    }
                                </td>
                            </tr>
                        </table>
                    }
                </div>
            </div>
    
    
  
   
            <div id="jqxgrid">
            </div>
                    Html.Telerik().Window()
                                                                      .Name("PenaltyWindow")
                                                                      .Title("Penalty")
                                                                      .Width(500).Height(150)
                                                                      .Content(@<text>
            <div id="dvPenaltyValue">
            </div>
            <div style="clear: both; text-align: center;">
                <input id="btnSavePenalty" type="button" class="submitButton" value="Save" tabindex="1" />
                <input id="btnCancelPenalty" type="button" class="submitButton" value="Cancel" tabindex="1" />
            </div>
            </text>)
                                                                      .Modal(true)
                                                                      .Visible(false)
                                                                      .Render();


        }
    </div>
    @Html.Partial("_footer")
</div>
@section Scripts{
    <script type="text/javascript">

        function AllValidation(value) {
            var selectedVal = "";
            var selectedVal = $('input[name=SelectAccountDtls]:checked').val();
            var valNew = [];
            valNew = selectedVal.split(',');
            var outstandingAmount = valNew[4].replace('R', '').replace('M', '');
            var childsCount = valNew[6];

            if (parseInt(outstandingAmount) > parseInt(0)) {
                $('#dvError').html("Outstanding Amount Could not be Proceed to next level");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            if (valNew[5] != "A") {
                var status = "";
                if (valNew[5] == "S") {
                    status = 'Suspend';
                }
                else if (valNew[5] == "B") {
                    status = 'Barred';
                }
                else if (valNew[5] == "D") {
                    status = 'Deactive';
                }
                $('#dvError').html("Your Number is on " + status + " status");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }

            //checkDataContractPenalty(selectedVal, '', value);


            return true;

        }


        function SuppOotstandingAmountValidation(value) {
            var selectedVal = "";
            var selectedVal = $('input[name=SelectAccountDtls1]:checked').val();
            var valNew = [];
            // var isHardStop = false;

            valNew = selectedVal.split(',');
            var outstandingAmount = valNew[6].replace('R', '').replace('M', '');
            //            var childsCount = valNew[6];

            if (parseInt(outstandingAmount) > parseInt(0)) {
                $('#dvError').html("Outstanding Amount Could not be Proceed to next level");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            if (valNew[7] != "A") {
                var status = "";
                if (valNew[7] == "S") {
                    status = 'Suspend';
                }
                else if (valNew[7] == "B") {
                    status = 'Barred';
                }
                else if (valNew[7] == "D") {
                    status = 'Deactive';
                }
                $('#dvError').html("Your Number is on " + status + " status");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }

            //return true;
            //document.forms["frmSelectComponents"].submit();
            //            if (isHardStop == false) {
            //               
            //            }

            if (value == "4") {
                var url = '@(Url.Content("~/CRPPlan/checkCRPHardStop"))';
                $.post(url, { pMsisdn: valNew[8], action: "S2P", sMsisdn: valNew[1] },
                    function (data) {
                        if (data.toString() != '') {
                            if (data == '0') {
                                $('#dvError').html("You cannot perform CRP on the selected Supplementary Line, as it is breaking the eligibility criteria rule of Mobile - SM30 RM15x12mth Component Rule check");
                                $("html, body").animate({ scrollTop: 0 }, "slow");
                                //isHardStop = true;
                            }
                        }
                        else {
                            // isHardStop = false;
                            checkDataContractPenalty(selectedVal, '', value);
                            //document.forms["frmChangeRatePlan"].submit();
                        }
                    });

            }
            else {
                //document.forms["frmChangeRatePlan"].submit();
                $("#frmChangeRatePlan").submit();
            }

        }
        $(document).ready(function () {

            $('input[name=SelectRadioButton]:radio:checked');

        });
        function Validation() {
            if (!$("input:radio[name='SelectAc']").is(":checked")) {
                $('#dvError').html('Select your option');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            $('#btnsubmit').val('next');
            //return true;
            //document.forms["frmChangeRatePlan"].submit();
            $("#frmChangeRatePlan").submit();
        }
        function BindSuplementaryGrid(e) {
            var url = '@(Url.Content("~/CRP/GetSupplementaryDetails"))';
            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",

                data: {},
                success: function (data) {
                    var myJSONObject = data;

                    for (var i = 0; i < myJSONObject.Groups.length; i++) {
                        $("<tr />")
             .append($("<td />").text(myJSONObject[i]["Address"]))
             .append($("<td />").text(myJSONObject[i]["Address"]))
             .append($("<td />").text(myJSONObject[i]["Address"]))

             .appendTo("#Table1");
                    }

                },
                error: function () {
                    $('#dvError').html('error');
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                }
            });
        }

        function ChildsCountValidation(value) {
            var outstandingAmount;
            var count = 0;
            var childsCount = 0;
            var rowCount = $('#tblprin tr').length;
            var selectedVal = $('input[name=SelectAccountDtls]:checked').val();
            var a = selectedVal.split(',');
            childsCount = a[6];

            if (childsCount > 0 && value == '2') {
                $('#dvError').html("Few Supplementary accounts found for this Account. You cannot proceed.");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            else {
                return true;
                //document.forms["frmChangeRatePlan"].submit();
            }
        }

        function P2SValidation(value) {
            var selectedVal = "";
            var selectedVal = $('input[name=SelectAccountDtls]:checked').val();
            var valNew = [];
            valNew = selectedVal.split(',');

            if (valNew[9] == "True") {
                $('#dvError').html("Principal to supplementary not allowed for MISM type");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }

            //             if (valNew[10] == "1") {
            //                alert("This account has k2 contract, principle to supplemetory not allowed");
            //                return false;
            //            }

            var result;
            result = AllValidation(value)

            if (result == true) {
                result = ChildsCountValidation(value);
                if (result == true) {
                    checkDataContractPenalty(selectedVal, '', value);
                }
            }
            else {
                return false;

            }
            if (result == true) {
                var outstandingAmount;
                var count = 0;
                var rowCount = $('#tblprin tr').length;
                $('#tblprin tbody tr input[type=radio]').each(function () {
                    var row = $(this).val();
                    var splitrow = row.split(',');
                    var oa = splitrow[4];
                    if (oa == "0") {
                        count = count + 1;
                    }
                });

                if (count < 2) {
                    $('#dvError').html("Atleast two Principal lines should be there to change Principal to Supplementary plan");
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                }
                else {
                    //return true;
                    //document.forms["frmChangeRatePlan"].submit();
                    $("#frmChangeRatePlan").submit();
                }
            }
            else {
                return false
            }


        }
        function checkDataContractPenalty(inputAddVas, inputRemoveVas, inputChangeFlag) {
            //return true;
            //document.forms["frmChangeRatePlan"].submit();
            var url = '@(Url.Content("~/Registration/retrievePenalty"))';
            $.post(url, { addedVas: inputAddVas, removedVas: inputRemoveVas, changeFlag: inputChangeFlag },
            function (data) {
                if (data != null && data > 0.0) {
                    //                    $('#dvPenaltyValue').html('Rebate contract termination penalty amount is RM ' + data + '. Do you want still continue ?');
                    $('#dvPenaltyValue').html('The penalty amount is RM ' + data + '. Do you want to continue?<br/>Note:Penalty amount indicated is an estimated amount. Actual amount will be calculated upon bill cycle');
                    $('#PenaltyWindow').data('tWindow').center().open();
                    return false;
                }
                else {
                    //document.forms["frmChangeRatePlan"].submit();
                    $("#frmChangeRatePlan").submit();
                }
            });
        }
        $('#btnSavePenalty').click(function () {
            //$('#frmChangeRatePlan')[0].submit;
            //document.forms["frmChangeRatePlan"].submit();
            $("#frmChangeRatePlan").submit();
        });
        $('#btnCancelPenalty').click(function () {
            $('#PenaltyWindow').data('tWindow').center().close();
        }); 
    </script>
}
