﻿@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "Address";
}
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
                  
<table width="500px">
    <tr>
        <td><b>@Html.Label("Address") *</b></td>
        <td><input type="text" name="Address" value='@Session["Address"].ToString()' id="Address" style = "width:300px" /></td>
    </tr>
    <tr>
        <td><b></b></td>
        <td><input type="text" name="addLine2" value='@Session["addLine2"].ToString()' id="addLine2" style = "width:300px"  /></td>
    </tr>
    <tr>
        <td><b>@Html.Label("Town") *</b></td>
        <td><input type="text" name="Town" id="Town" value='@Session["Town"].ToString()' /></td>
    </tr>
    <tr>
        <td><b>@Html.Label("PostCode") *</b></td>
        <td><input type="text" name="PostCode" class="numbersonly" maxlength="7" value='@Session["PostCode"].ToString()' id="PostCode" /></td>
    </tr>
    <tr>
        <td><b>@Html.Label("State") *</b></td>
        <td>
            <select name="State" id="State">
                <option value="">--Please Select--</option>
                <option value="Kuala Lumpur" @(Session["State"].ToString() == "Kuala Lumpur" ? "Selected" : "")>Kuala Lumpur</option>
                <option value="Johor Bahru" @(Session["State"].ToString() == "Johor Bahru" ? "Selected" : "")>Johor Bahru</option>
            </select>
        </td> 
    </tr>
</table>