﻿@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "_Billing";
}

@model Online.Registration.Web.ViewModels.PersonalDetailsVM
               
<table width="500px">
    <tr>
        <td><b>@Html.Label("Payment Mode") *</b></td>
        <td>
            <select name="PaymentMode" id="PaymentMode">
                <option value="">--Please Select--</option>
                <option value="Cash" @(Session["PaymentMode"].ToString() == "Cash" ? "Selected" : "")>Cash</option>
                <option value="Auto Billing" @(Session["PaymentMode"].ToString() == "Auto Billing" ? "Selected" : "")>Auto Billing</option>
            </select>
        </td> 
    </tr>
      @*
    <tr>
        <td><div class="autoBilling" style="display:none"><b>@Html.Label("Card Type") *</b></div></td>
        <td>
            <div class="autoBilling" style="display:none">
                <select name="CardType" id="CardType">
                    <option value="">--Please Select--</option>
                    <option value="Master" @(Session["CardType"].ToString() == "Master" ? "Selected" : "")>Master</option>
                    <option value="Visa" @(Session["CardType"].ToString() == "Visa" ? "Selected" : "")>Visa</option>
                </select>
            </div>
        </td> 
    </tr>
    <tr>
        <td><div class="autoBilling" style="display:none"><b>@Html.Label("Card No") *</b></div></td>
        <td><div class="autoBilling" style="display:none"><input type="text" value='@Session["CardNo"].ToString()' maxlength="16" name="CardNo" id="CardNo" class="numbersonly" />&nbsp;&nbsp;eg.4234990256302271 </div></td>
    </tr>
    <tr>
        <td><div class="autoBilling" style="display:none"><b>@Html.Label("Expiry Date") *</b></div></td>
        <td><div class="autoBilling" style="display:none"><input type="text" value='@Session["CardExpiryDate"].ToString()' maxlength="4" class="numbersonly" name="CardExpiryDate" id="CardExpiryDate" /> &nbsp;&nbsp;eg. MMYY</div></td>
    </tr>
    <tr>
        <td><div class="autoBilling" style="display:none"><b>@Html.Label("Name On Card") *</b></div></td>
        <td><div class="autoBilling" style="display:none"><input type="text" value='@Session["NameOnCard"].ToString()' name="NameOnCard" id="NameOnCard" class = "uppercase", onchange = "toUpperCase(this)" /></div></td>
    </tr>
    *@
</table>