﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@{
    ViewBag.Title = "Customer";
}
           
<table width="500px">
    <tr>
        <td><b>@Html.Label("Title") *</b></td>
        <td>
            <select name="Title" id="Title">
                <option value="">--Please Select--</option>
                <option value="Mr." @(Session["Title"].ToString() == "Mr." ? "Selected" : "")>Mr.</option>
                <option value="Mrs." @(Session["Title"].ToString() == "Mrs." ? "Selected" : "")>Mrs.</option>
                <option value="Mdm" @(Session["Title"].ToString() == "Mdm" ? "Selected" : "")>Mdm</option>
                <option value="Dr" @(Session["Title"].ToString() == "Dr" ? "Selected" : "")>Dr</option>
                <option value="Miss" @(Session["Title"].ToString() == "Miss" ? "Selected" : "")>Miss</option>
                <option value="Capt." @(Session["Title"].ToString() == "Capt." ? "Selected" : "")>Capt.</option>
                <option value="Insp" @(Session["Title"].ToString() == "Insp" ? "Selected" : "")>Insp</option>
                <option value="Major" @(Session["Title"].ToString() == "Major" ? "Selected" : "")>Major</option>
            </select>
        </td> 
        <td><b>@Html.Label("Gender") *</b></td>
        <td>
            @Html.Label("Male") @Html.RadioButton("Gender", "M", new { onclick = "setGender(this);" })
            @Html.Label("Female") @Html.RadioButton("Gender", "F", new { onclick = "setGender(this);" })
        </td>
    </tr>
    <tr>
        <td><b>@Html.Label("FullName") *</b></td>
        <td colspan="3"><input type="text" name="FullName" id="FullName" value='@Session["FullName"].ToString()' style = "width:300px" class = "uppercase" onchange = "toUpperCase(this)" /></td>
    </tr>
    <tr>
        <td><b>@Html.Label("IDCardNo") *</b></td>
        <td colspan="3" valign="top">
            <div style="float:left">
                @Util.GetNameByID(RefType.IDCardType,@Session["RegMobileReg_IDCardType"].ToInt()) - @Html.Label(@Session["RegMobileReg_IDCardNo"].ToString())
            </div>
        </td>
    </tr>
    <tr>
        <td><b>@Html.Label("DOB") *</b></td>
        <td colspan = "3">
            @Html.DropDownList("DOBDay", Util.GetDayList(), new { onChange = "populateDOB()" })
            @Html.DropDownList("DOBMonth", Util.GetMonthList(), new { onChange = "populateDOB()" })
            @Html.DropDownList("DOBYear", Util.GetYearList(18), new { onChange = "populateDOB()" })
            @{  }
        </td>
    </tr>
    <tr>
        <td><b>@Html.Label("Mobile") *</b></td>
        <td>@Html.Label(@Session["RegMobileReg_MSISDN"].ToString())</td> 
        <td><b>@Html.Label("Language") *</b></td>
        <td>
            <select name="Language" id="Language">
                <option value="">--Please Select--</option>
                <option value="English" @(Session["Language"].ToString() == "English" ? "Selected" : "")>English</option>
                <option value="Malay" @(Session["Language"].ToString() == "Malay" ? "Selected" : "")>Malay</option>
            </select>
        </td>
    </tr>
    <tr>
        <td><b>@Html.Label("Alt ContactNo")</b></td>
        <td><input type="text" name="AlternateContactNo" id="AlternateContactNo" value="" /></td> 
        <td><b>@Html.Label("Nationality") *</b></td>
        <td>
            <select name="Nationality" id="Nationality">
                <option value="">--Please Select--</option>
                <option value="Afghani" @(Session["Nationality"].ToString() == "Afghani" ? "Selected" : "")>Afghani</option>
                <option value="American" @(Session["Nationality"].ToString() == "American" ? "Selected" : "")>American</option>
                <option value="Indian" @(Session["Nationality"].ToString() == "Indian" ? "Selected" : "")>Indian</option>
                <option value="Malaysian" @(Session["Nationality"].ToString() == "Malaysian" ? "Selected" : "")>Malaysian</option>
                <option value="Mexican" @(Session["Nationality"].ToString() == "Mexican" ? "Selected" : "")>Mexican</option>
            </select>
        </td>
    </tr>
    <tr>
        <td><b>@Html.Label("Email") *</b></td>
        <td><input type="text" name="Email" id="Email" value='@Session["Email"].ToString()' /></td>
        <td><b>@Html.Label("Race") *</b></td>
        <td>
            <select name="Race" id="Race">
                <option value="">--Please Select--</option>
                <option value="Chinese" @(Session["Race"].ToString() == "Chinese" ? "Selected" : "")>Chinese</option>
                <option value="Indian" @(Session["Race"].ToString() == "Indian" ? "Selected" : "")>Indian</option>
                <option value="Malay" @(Session["Race"].ToString() == "Malay" ? "Selected" : "")>Malay</option>
            </select>
        </td>
    </tr>
</table>