﻿@using Online.Registration.Web.Helper;
@model Online.Registration.Web.ViewModels.OrderSummaryVM

@{
<div class="orderSummary">
    <table>
        <tr>
            <td class="header">
                <text>Order Summary</text>
            </td>
        </tr>
        <tr>
            <td style="padding: 0;">
                <table class="content">
                    <tr><td colspan="2" valign="top" style="height:20px;font-size:larger;font-weight:bold">Plan</td></tr>
                    <tr style="height:20px;">
                        <td colspan="2" valign="top">
                            <div style="float: left;">
                                <img alt="" src='@Url.Content("~/Content/images/simcard.png")' width="60px" height="60px" />
                            </div>
                            <div style="float:left">
                                <b>@(Session["Bundle"].ToString()) : </b><br />@(Session["TabValue"].ToString())
                            </div><br /><br />
                            <div style="float:left">
                                <b>Price: </b>RM104.00
                            </div>
                                    
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="height:20px;font-size:larger;font-weight:bold">VAS</td>
                    </tr>
                    <tr>
                        <td valign="top" align="left" style="height:20px">
                            <button class="cancel" type="button" id="btnVwVAS" 
                                style="height:80px;width:85px;background-image:url(@(Url.Content("~/Content/images/VAS.png")));background-repeat:no-repeat;border-style:none;
                                        cursor:pointer; vertical-align:baseline"> 
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" valign="top">
                            <br />
                            <div style="float:left">
                                <b>Total Price: </b>RM104.00 <br />
                                <b>Total Payable Now: </b>RM104.00
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>   
</div> 
    }