﻿@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
@{
    ViewBag.Title = "Credit Check";
    var NewICCardTypeID = Util.GetIDByCode(RefType.IDCardType, Settings.Default.IDCardType_NRIC);
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
}

@using (Html.BeginForm("BlacklistChecking", "MNP", FormMethod.Post, new { id = "frmBlacklistChecking", @class = "overlayonsubmit", processmsg = "Loading" }))
{ 
    <div class="vwHeader">
        <table width="100%">
            <tr>
                <td>
                    <div>@ViewBag.Title</div>
                    <div class="vwSubHeader">@ViewBag.Title</div>
                </td>
                @*<td align="right">
                    <button class="button-continue" type="submit" value="Next">
                    </button>
                </td>*@
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
            <div style="font-size:x-large;padding:10px 0px 10px 0px;">@ViewBag.Title</div>
            @*<div class="divNumpad">
                @Html.Partial("_Numpad")
            </div>*@
            @Html.ValidationSummary(false)
            <table>
                <tr>
                    <td><b>@Html.LabelFor(model => model.Customer.IDCardTypeID)</b></td>
                    <td>@(Html.Telerik().DropDownListFor(model => model.Customer.IDCardTypeID).BindTo(Util.GetList(RefType.IDCardType, defaultValue: "")))</td> 
                </tr>
                <tr>
                    <td><b>@Html.LabelFor(model => model.Customer.IDCardNo)</b></td>
                    <td>@Html.TextBoxFor(model => model.Customer.IDCardNo)</td>
                </tr>
                <tr>
                    <td>
                        <button value="Submit" type="button" onclick="submitNumpad()">Submit
                        </button>
                    </td>
                </tr>
            </table>
    </div>
}

@section Scripts{
    <script type="text/javascript">
        var isNumpadTooltipOn;
        var tooltip = "Enter IC Number";

        $(document).ready(function () {

            $(".numbersonly").keypress(function (e) {
                return numbersonly(e, false);
            });

            var numpadInput = $("#numpadText");

            isNumpadTooltipOn = true;
            numpadInput.val(tooltip);
            numpadInput.addClass("tooltip");

            numpadInput.focus(function () {
                if (numpadInput.val() == tooltip) {
                    numpadInput.val("");
                    numpadInput.removeClass("tooltip");
                    isNumpadTooltipOn = false;
                }
            });

            numpadInput.focusout(function () {
                if (numpadInput.val() == "") {
                    numpadInput.val(tooltip);
                    numpadInput.addClass("tooltip");
                    isNumpadTooltipOn = true;
                }
            });

            $(".numpad button").click(function () {
                if (numpadInput.val() == "") {
                    numpadInput.val(tooltip);
                    numpadInput.addClass("tooltip");
                    isNumpadTooltipOn = true;
                }
                else if (isNumpadTooltipOn) {
                    numpadInput.val(numpadInput.val().replace(tooltip, ''));
                    numpadInput.removeClass("tooltip");
                    isNumpadTooltipOn = false;
                }

                if (numpadInput.val() == "") {
                    numpadInput.val(tooltip);
                    numpadInput.addClass("tooltip");
                    isNumpadTooltipOn = true;
                }
            });
            
            $(".button-continue").css("display", "none");

            
            $('#menuPlanMNP').css("background-image", $('#menuPlanMNP').css("background-image").replace(".png", "_hover.png"));
        });

        function submitNumpad(msisdn) {
            //var url = '@(Util.GetAbsoluteAppPath("/Registration/BlacklistChecking"))';
            var idCardNo = $('#Customer_IDCardNo').val();
            var idCardTypeID = $('#Customer_IDCardTypeID').val();

            var form = $("#frmBlacklistChecking");
            form.validate();

            if (form.valid()) {
                if(@(NewICCardTypeID) == idCardTypeID){
                
                    if($('#Customer_IDCardNo').val().length != 12){
                        alert('New IC must be 12 number.');
                        return false;
                    }
                }

                var url = '@(Url.Content("~/Registration/BlacklistChecking"))';
                $.post(url, { idCardNo: idCardNo, idCardTypeID: idCardTypeID }, function (data) {

                    window.location.href = '@(Url.Content("~/MNP/BlacklistResult?result="))' + data;

                });
            }
        }

    </script>
}

@section Styles{
    <style type="text/css">
        .divNumpad
        {
            position: relative;
            left: 50%;   
            top: 50%;
            margin-left: -20%;
            margin-top: 5%;
        }
        
    </style>
}