﻿@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.SubscriberICService;
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.Title = "Select Donor and Enter MSISDN";

    retrieveAcctListByICResponse AcctListByICResponse = null;
    bool IsExistingUser = false;
    string CustomerName = string.Empty;
    string CompanyName = string.Empty;
    string AccountNumber = string.Empty;
    string supp = string.Empty;
    string MSISDN = string.Empty;
    string index = string.Empty;

    if (!ReferenceEquals(SessionManager.Get("PPIDInfo"), null))
    {
        AcctListByICResponse = (retrieveAcctListByICResponse)SessionManager.Get("PPIDInfo");
    }

    if (!ReferenceEquals(SessionManager.Get("PPID"), null) && !string.IsNullOrWhiteSpace(Convert.ToString(SessionManager.Get("PPID"))))
    {
        IsExistingUser = "E".Equals(Convert.ToString(SessionManager.Get("PPID"))) ? true : false;
    }
    if (IsExistingUser && AcctListByICResponse != null)
    {
        CustomerName = AcctListByICResponse.itemList.Where(c => c.Account != null).ToList().Count() > 0 ? AcctListByICResponse.itemList.Where(c => c.Account != null).ToList().FirstOrDefault().Account.Holder : string.Empty;
        CompanyName = AcctListByICResponse.itemList.Where(c => c.Account != null).ToList().Count() > 0 ? AcctListByICResponse.itemList.Where(c => c.Account != null).ToList().FirstOrDefault().Account.CompanyName : string.Empty;
        AccountNumber = AcctListByICResponse.itemList.Where(c => c.Account != null).ToList().Count() > 0 ? @AcctListByICResponse.itemList.Where(c => c.Account != null).ToList().FirstOrDefault().Account.IDNumber : string.Empty;
    }

    var IsConsumer = ViewBag.IsConsumer;
    var mnpCreationStatus = "RdPlanOnly";
    if (ViewBag.MNPCreationStatus == MNPCreationStatus.CreateNewAccount)
    {
        mnpCreationStatus = "RdPlanOnly";
    }
    else if (ViewBag.MNPCreationStatus == MNPCreationStatus.AddSuppToExistingAccount)
    {
        mnpCreationStatus = "RdSuppLine";
    }
    else if (ViewBag.MNPCreationStatus == MNPCreationStatus.AddToExistingAccount)
    {
        mnpCreationStatus = "RdNewLine";
    }
    
    var donorIDList = Util.GetList(RefType.Doners, defaultValue: "");
    bool isDedicatedSuppFlow = Session["DedicatedSuppFlow"].ToBool();
}
@using (Html.BeginForm("EnterDetailsNew", "MNP", FormMethod.Post, new { id = "frmDonerDetails", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    @Html.Hidden("hdnMNPMaxSupplineToPort", !ReferenceEquals(ViewBag.MNPMaxSupplineToPort, null) ? (Object)Convert.ToString(ViewBag.MNPMaxSupplineToPort) : 0)
    @Html.Hidden("hdnDonorID")
    @Html.Hidden("hdnDealerFlow")
    @Html.Hidden("hdnMNPFlowType")
    @Html.Hidden("hdnMNPKenanAccountID")
    @Html.Hidden("MSISDN")
    @Html.Hidden("hdnCustomerName")

    
    <div class="container" id="new-cus">
        <div class="isell-base-2">
            <div class="row">
                <div class="col-sm-12">
                    <h2>
                        Switch to Maxis: Pre-Validation Check (MNP)</h2>
                    @if (!string.IsNullOrEmpty(CustomerName))
                    {
                        <h4><span>@AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList().FirstOrDefault().Customer.Title</span> @CustomerName</h4>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 switch-to-maxis border-bottom" id="mnpValidation">
                    <div class="col-sm-3 success">
                        <p class="bold-16">
                            Please enter your name</p>
                        <div class="form-group">
                            <input type="text" class="form-control search-box-2 search-num" name="CustomerName" value="@(CustomerName)" id="CustomerName" maxlength="200">
                        </div>
                    </div>
                    <div class="col-sm-3 success">
                        <p class="bold-16">
                            Please select donor</p>
                        <div class="input-group ">
                            <div class="input-group-btn number-type">
                                <button type="button" class="btn btn-default dropdown-toggle selectby filter-device" id="btnDonor"
                                    data-toggle="dropdown">
                                    <span id="donorSpan">Please select</span><span class="drop-arrow"></span></button>
                                <ul aria-labelledby="dLabel" role="menu" class="dropdown-menu">
                                    @for (var donorIndex = 1; donorIndex < donorIDList.Count; donorIndex++)
                                    {
                                        <li><a href="#" class="donorIdItem" data-value='@donorIDList[donorIndex].Value' data-selected='@donorIDList[donorIndex].Selected'>@donorIDList[donorIndex].Text</a></li>
                                    }
                                </ul>
                                @Html.HiddenFor(model => model.DonorID);
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 success">
                        <p class="bold-16">
                            Please enter your number</p>
                        <div class="form-group">
                            <input type="text" class="form-control search-box-2 search-num numbersonly" name="MSISDN"
                                id="MSISDNfield" maxlength="12" onpaste="Javascript:return false;" value="@(MSISDN)">
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 border-bottom validate">
                    <div class="col-sm-12">
                        <div id="companyNameDiv">
                            <p class="bold-16">
                                Company Name</p>
                            <div class="form-group">
                                <input type="text" class="form-control search-box search-num" name="Company Name" value="@(CompanyName)" id="CompanyName" maxlength="200" />
                            </div>
                        </div>
                        @{
                                    if (!isDedicatedSuppFlow)
                                    {
                            
                        <p class="bold-16">
                            Would you like to include any <strong>SUPPLEMENTARY LINES</strong>?</p>
                        <div class="input-group drop-down-num">
                            <div class="input-group-btn number-type">
                                <button type="button" class="btn btn-default dropdown-toggle selectby filter-device" id ="btnAddMultiSupp"
                                    data-toggle="dropdown">
                                    <span id="addSuppTxt">No</span><span class="drop-arrow"></span></button>
                                <ul aria-labelledby="dLabel" role="menu" class="dropdown-menu">
                                    <li><a class="suppIdItem" href="#" data-value="0">No</a></li>
                                    <li><a class="suppIdItem" href="#" data-value="1">Yes</a></li>
                                </ul>
                                @Html.Hidden("addSupplementary")
                            </div>
                        </div>
                        <div id="multiPortIn">
                            <p class="bold-16">
                                How many?</p>
                            <div class="input-group drop-down-num">
                                <div class="input-group-btn number-type">
                                    @{
                                        int maxNumber = !ReferenceEquals(ViewBag.MNPMaxSupplineToPort, null) ? int.Parse(Convert.ToString(ViewBag.MNPMaxSupplineToPort)) : 0;
                                        var portNumberList = Util.getListOfNumber(maxNumber);
                                    }
                                    <button type="button" class="btn btn-default dropdown-toggle selectby filter-device" id="btnSuppQty"
                                        data-toggle="dropdown">
                                        <span id="portNumber">1</span><span class="drop-arrow"></span></button>
                                    <ul aria-labelledby="dLabel" role="menu" class="dropdown-menu">
                                        @for (var portIndex = 0; portIndex < portNumberList.Count; portIndex++)
                                        {
                                            <li><a href="#" class="portIdItem" data-value='@portNumberList[portIndex].Value' data-selected='@portNumberList[portIndex].Selected'>@portNumberList[portIndex].Text</a></li>
                                        }
                                    </ul>
                                    @Html.HiddenFor(model => model.suppQty);
                                </div>
                            </div>
                            @if (portNumberList.Count > 0)
                            {
                                <p class="bold-16 enterNumber">
                                    Enter your number
                                </p> 
                                @*<p class="bold-16 enterNumber">
                                    @if (!Session["isDealer"].ToBool())
                                    {
                                        <input type="checkbox" id="chkOlo" name="chkOlo" />@Html.Raw("&nbsp;&nbsp;OLO with 'Call Conferencing'")
                                    }
                                    <input type="hidden" id="hdnOlo" name="hdnOlo" value="0" />
                                </p> *@
                                for (var portIndex = 1; portIndex <= portNumberList.Count; portIndex++)
                                {
                                       
                                <div class="portSuppIndex">
                                    <div class="col-sm-1 numbering">
                                        @portIndex.ToString("0#")
                                    </div>
                                    <div class="col-sm-11 kill-padding">
                                        <div class="form-group">
                                            <input type="text" name="supp" class="form-control search-box search-num mnpNumber numbersonly" maxlength="12" onpaste="Javascript:return false;" value="@(supp)">
                                        </div>
                                    </div>
                                </div>
                                }
                            }
                        </div>
                                    }
                            }
                   </div>
                </div>
            </div>
            <footer>
    <navi>
      <div class="container-fluid">
        <div class="row validate">
          <div class="col-sm-8" id="">
             <p id="Plan_Error"></p>
          </div>
          <div class="col-sm-2">
            <div class="btn isell-next" id="refreshButton" onclick="location.reload(true);">Refresh</div>
          </div>
          <div class="col-sm-2">
            <div class="btn isell-next" id="validateButton">Validate <span>></span></div>
            <div class="btn isell-next" id="continueButton" onclick="return submitNumpad();">Continue <span>></span></div>
          </div>
        </div>
      </navi>
    </footer>
        </div>
    </div>

}
<script type="text/javascript">
    var isConsumer = '@IsConsumer';
    var mnpCreationStatus = '@mnpCreationStatus';
    function clearMNPNumber() {
        $('.mnpNumber').each(function (i, e) {
            $(this).val('');
        });
    }

    function hideExtraSupp(index) {
        $('.portSuppIndex').each(function (i, e) {
            if (i >= index) {
                $(this).find('.mnpNumber').val('');
                $(this).hide();
            } else {
                $(this).show();
            }
        });
        $('.enterNumber').show();
    }

    function submit() {
        $('#Plan_Error').hide();
        var url = '@(Url.Content("~/MNP/PortInBusinessRuleChecks"))';
        var donor = $('#DonorID').val();
        var MSISDN = $('#MSISDNfield').val();
        var IsConsumer = '@(ViewBag.IsConsumer)';
        var CustomerName = $('#CustomerName').val();
        var CompanyName = $('#CompanyName').val();
        var Supp = [];
        var mobregex = /^60[0-9]{8,10}$/;

        var IsError = false;
        var ErrorMsg = "";

        if (donor == '') {
            IsError = true;
            ErrorMsg = 'Donor field is required.';
        }
        else if (!(MSISDN.length >= 11 && MSISDN.length <= 12)) {
            IsError = true;
            ErrorMsg = 'MSISDN must be of 11 or 12 numbers.';
        }
        else if (MSISDN.substring(0, 3) != "601") {
            IsError = true;
            ErrorMsg = 'MSISDN numbers should start with series 601.';
        }
        else if (!mobregex.test(MSISDN)) {
            IsError = true;
            ErrorMsg = 'Please enter valid MSISDN number. eg. 60xxxxxxxxx';
        }
        else if (IsConsumer == "Y") {
            if ($.trim(CustomerName) == '') {
                IsError = true;
                ErrorMsg = 'Customer name is required.';
            }
        }
        else if (IsConsumer == "N") {
            if (CompanyName == '') {
                IsError = true;
                ErrorMsg = 'Company name is required.';
            }
        }

        if ($('#addSupplementary').val() == 1) {
            $('input[name="supp"]').each(function () {
            //debugger;
            var value = $(this).val();
                if (value.length <= 0)
                {
                    return true;
                }
               else if (!($(this).val().length >= 11 && $(this).val().length <= 12)) {
                    IsError = true;
                    ErrorMsg = 'Supplementary MSISDN must be of 11 or 12 numbers.';
                    $(this).focus();
                   
                }
                else if ($(this).val().length != 0 && $(this).val().substring(0, 3) != "601") {
                    IsError = true;
                    ErrorMsg = 'MSISDN numbers should start with series 601.';
                    $(this).focus();

                }
                else if ($(this).val().length != 0 && !mobregex.test($(this).val())) {
                    IsError = true;
                    ErrorMsg = 'Please enter valid MSISDN number. eg. 60xxxxxxxxx';
                    $(this).focus();
                }
                else if ($(this).val().length != 0 && MSISDN.length != 0) {
                    if ($(this).val() == MSISDN) {
                        IsError = true;
                        ErrorMsg = 'Primary line and supplementary line MSISDN should be unique.';
                        $(this).focus();
                    }
                }
            });

            $('input[name="supp"]').each(function () {
                if ($(this).val().length != 0)
                    Supp.push($(this).val());
            });

            if (has_duplicates(Supp)) {
                IsError = true;
                ErrorMsg = 'Please enter unique MSISDN';
            }
        }
        if (IsError) {
            $('#Plan_Error').show();
            $('#Plan_Error').html(ErrorMsg);
            return false;
        }

        var randomNumber = Math.floor(Math.random() * 101)
        var unExpectedErrNoPart;
        var staticException = " Unexpected error occured, please try after sometime.";
        var staticExceptionforRegionCode = " MSISDN is not belongs to the system, Please enter another MSISDN.";
        var staticExceptionforTimeout = " Server busy, please try after sometime";

        $.ajax({
            type: "POST",
            dataType: "json",
            url: url,
            traditional: true,
            data: { DonorID: donor, MSISDN: MSISDN, CustomerName: CustomerName, CompanyName: CompanyName, Supp: Supp, RandomNumber: randomNumber.toString() },
            success: function (Data) {
                if (Data.isError) {
                    if (Data.ErrorMsg.search("regionCode") > -1) {
                        unExpectedErrNoPart = Data.ErrorMsg.substring(0, 1 + Data.ErrorMsg.search(":"));
                        $("#Plan_Error").html(unExpectedErrNoPart + staticExceptionforRegionCode);
                    }
                    else if (Data.ErrorMsg.search("timeout") > -1) {
                        unExpectedErrNoPart = Data.ErrorMsg.substring(0, 1 + Data.ErrorMsg.search(":"));
                        $("#Plan_Error").html(staticExceptionforTimeout);
                    }
                    else if (Data.ErrorMsg.search("Soap fault occured.") > -1) {
                        unExpectedErrNoPart = Data.ErrorMsg.substring(0, 1 + Data.ErrorMsg.search(":"));
                        $("#Plan_Error").html(unExpectedErrNoPart + staticException);
                    }
                    else {
                        $("#Plan_Error").html(Data.ErrorMsg);
                    }
                }
                else {
                //debugger;
                    $("#Plan_Error").html('Mobile Number Portability </b>Business Rule Check Success, Please click continue.');
                    $("#hdnDonorID").val($('#DonorID').val());
                    $('#MSISDN').val($('#MSISDNfield').val());
                    $('#hdnCustomerName').val($('#CustomerName').val());
                    $('#validateButton').hide();
                    $('#continueButton').show();
                    // to disable donor & msisdn field so cannot be edit after port in checking success
                    disableAllInput();
                    $('#refreshButton').show();
                }
                $("#Plan_Error").show();
            },
            error: function (xhr, err) {
            }
        });

    }

    function disableAllInput()
    {
        $('#btnDonor').attr('disabled','disabled');
        $('#MSISDNfield').attr('disabled','disabled');
        $('#CustomerName').attr('disabled','disabled');
        $('#btnAddMultiSupp').attr('disabled','disabled');
        $('input[name="supp"]').attr('disabled','disabled');
        $('#btnSuppQty').attr('disabled','disabled');
    }

    $(document).ready(function () {

    if( /iPad/i.test(navigator.userAgent) ) {
        $('#mnpValidation').children().each(function(i,e){
            $(this).removeClass('col-sm-3').addClass('col-sm-4');
        });
    }



        if ('@isDedicatedSuppFlow' == 'True')
        {
            $('#hdnDealerFlow').val('true');
                $('#hdnMNPFlowType').val('ASL'); //add suppline only

        }
        $('#hdnMNPKenanAccountID').val('@ViewBag.KenanAccount');
        $('#addSupplementary').val(0);
        if( isConsumer == 'Y' ){
            $('#companyNameDiv').hide();
        }

        $('#continueButton').hide();
        $('#refreshButton').hide();

        $('#validateButton').click(function(e){
            e.preventDefault();
            submit();
        });

        $('#multiPortIn').hide();
        $('.portSuppIndex').hide();
        $('.enterNumber').hide();
        $('.portIdItem').each(function (i, e) {
            $(this).click(function (e) {
                e.preventDefault();
                $('#portNumber').text($(this).text());
                $('#suppQty').val($(this).data('value'));
                hideExtraSupp($(this).data('value'));
            });
        });

        $('.donorIdItem').each(function (i, e) {
            $(this).click(function (e) {
                e.preventDefault();
                $('#donorSpan').text($(this).text());
                $('#DonorID').val($(this).data('value'));
                //hideExtraSupp($(this).data('value'));
            });
        });

        $('.suppIdItem').each(function (i, e) {
            $(this).click(function (e) {
                e.preventDefault();
                var dataValue = $(this).data('value');
                if (dataValue == 1) {
                    $('#multiPortIn').show();
                    hideExtraSupp(1);
                }
                else {
                    $('#multiPortIn').hide();
                    clearMNPNumber();
                }
                $('#addSuppTxt').text($(this).text());
                $('#addSupplementary').val(dataValue);
            });
        });

        $('#Plan_Error').hide();
        $("#divContinue").hide();
        $("#divNewBlock").hide();

        var CustomerName = $('#CustomerName').val();

        if (CustomerName != 0 || CustomerName != '') {
            $('#CustomerName').attr('readonly', true);
        }
    });

    $("#btnSubmit").click(function () {
        submit();
    });

    $(".numbersonly").keypress(function (e) {
        return numbersonly(e, false);
    });

    $("input:text").keypress(function (e) {
        if (e.keyCode == 13) {
            return false;
        }
    });

    

    function has_duplicates(arr) {
        var x = {}, len = arr.length;
        for (var i = 0; i < len; i++) {
            if (x[arr[i]] === true) {
                return true;
            }
            x[arr[i]] = true;
        }
        return false;
    }

    function submitNumpad() {
    //debugger;
        $('#Plan_Error').hide();
        var donor = $('#DonorID').val();
        var MSISDN = $('#MSISDNfield').val();
        var CustomerName = $('#CustomerName').val();
        var mobregex = /^60[0-9]{8,10}$/;
        var IsError = false;
        var ErrorMsg = "";

        if ((!(MSISDN.length >= 11 && MSISDN.length <= 12)) || (donor == '') || (CustomerName == '')) {
            ErrorMsg = 'All fields are required.';
            IsError = true;
        }
        else if (MSISDN.substring(0, 3) != "601") {
            IsError = true;
            ErrorMsg = 'MSISDN numbers should start with series 601.';
        }

        if ($('#addSupplementary').val() == 1) {
            $('input[name="supp"]').each(function () {
            //debugger;
                var value = $(this).val();
                if (value.length <= 0)
                {
                    return true;
                }
                else if (!($(this).val().length >= 11 && $(this).val().length <= 12)) {
                    ErrorMsg = 'Supplementary MSISDN must be of 11 or 12 numbers.';
                    $(this).focus();
                    IsError = true;
                }
                else if ($(this).val().length != 0 && $(this).val().substring(0, 3) != "601") {
                    IsError = true;
                    ErrorMsg = 'MSISDN numbers should start with series 601.';
                    $(this).focus();
                }
                else if ($(this).val().length != 0 && !mobregex.test($(this).val())) {
                    IsError = true;
                    $(this).focus();
                    ErrorMsg = 'Please enter valid MSISDN number. eg. 60xxxxxxxxx';
                }
            });
        }
        if (IsError) {
            $('#Plan_Error').show();
            $('#Plan_Error').html(ErrorMsg);
            return false;
        }

                if ($('#chkOlo').attr("checked") == "checked") {
                    $('#hdnOlo').val('1');
                }
                else {
                    $('#hdnOlo').val('0');
                }

        if ($('#addSupplementary').val() == "0") {
            $('#hdnDealerFlow').val('true');
            if ( mnpCreationStatus == "RdPlanOnly") {
                $('#hdnMNPFlowType').val('APL'); //add plan only
            }
            else if (mnpCreationStatus == "RdSuppLine") {
                $('#hdnMNPFlowType').val('ASL'); //add suppline only
            }
            else if (mnpCreationStatus == "RdNewLine") {
                $('#hdnMNPFlowType').val('ANL'); //add newline only
            }
            else {
                $('#Plan_Error').html('Please select the Plan/suppline/newline type');
                $('#Plan_Error').show();
                return false;
            }
        }
        else if ($('#addSupplementary').val() == 1) {
            $('#hdnDealerFlow').val('true');
            if (mnpCreationStatus == "RdNewLine") {
                $('#hdnMNPFlowType').val('ANL'); //add newline only
            }
            else {
                $('#hdnDealerFlow').val('false');
                $('#hdnMNPFlowType').val('APL'); //add plan only
            }
        }
        $('#frmDonerDetails').submit();
    }

    $(".image-radio img").click(function () {
        $('.image-radio img').each(function () {
            $(this).attr('src', '@(Url.Content("~/content/images/uncheck.jpg"))');

        });
        $(this).prev().attr('checked', true);
        $(this).attr('src', '@(Url.Content("~/content/images/checked.jpg"))');
    })

</script>
