﻿@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.SubscriberICService;
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
@{
    //ViewBag.Title = "Select a Port-In Type, Donor and Enter MSISDN";
    ViewBag.Title = "Select Donor and Enter MSISDN";
    ///GET THE retrieveAcctListByICResponse TYPE OF OBJECT FROM SESSION IF PPID="E" FOLLOWING SHOULD BE AVAILABLE    
    retrieveAcctListByICResponse AcctListByICResponse = null;
    bool IsExistingUser = false;
    string CustomerName = string.Empty;
    string CompanyName = string.Empty;
    string AccountNumber = string.Empty;

    if (!ReferenceEquals(SessionManager.Get("PPIDInfo"), null))
    {
        AcctListByICResponse = (retrieveAcctListByICResponse)SessionManager.Get("PPIDInfo");
    }
    ///Check Session["PPID"] IF IT CONTAINS 'E' IF EXISTING SET IsExistingUser TO TRUE AGAIN CHECK IF AcctListByICResponse IS NULL THEN SET IT TO FALSE AS NO DATA TO DISPLAY    
    if (!ReferenceEquals(SessionManager.Get("PPID"), null) && !string.IsNullOrWhiteSpace(Convert.ToString(SessionManager.Get("PPID"))))
    {
        IsExistingUser = "E".Equals(Convert.ToString(SessionManager.Get("PPID"))) ? true : false;
    }
    if (IsExistingUser)
    {
        //CustomerName,CompanyName,AccountNumber        
        CustomerName = AcctListByICResponse.itemList.Where(c => c.Account != null).ToList().Count() > 0 ? AcctListByICResponse.itemList.Where(c => c.Account != null).ToList().FirstOrDefault().Account.Holder : string.Empty;
        CompanyName = AcctListByICResponse.itemList.Where(c => c.Account != null).ToList().Count() > 0 ? AcctListByICResponse.itemList.Where(c => c.Account != null).ToList().FirstOrDefault().Account.CompanyName : string.Empty;
        AccountNumber = AcctListByICResponse.itemList.Where(c => c.Account != null).ToList().Count() > 0 ? @AcctListByICResponse.itemList.Where(c => c.Account != null).ToList().FirstOrDefault().Account.IDNumber : string.Empty;
    }
}
<style type="text/css">
 span.image-radio input[type="radio"]:checked + img{
    @*border:1px solid red;*@
}   
</style>
<div id="center">
    @using (Html.BeginForm("EnterDetails", "MNP", FormMethod.Post, new { id = "frmDonerDetails", @class = "overlayonsubmit", processmsg = "Loading" }))
    {
        <div class="header-title">
            <span>MNP Pre-Validation Check</span>
        </div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 15px;">
                <div class="steps-nav">
                    <ul id="table">
                        <li class="selected" style="display: table-cell; float: none;">MNP Service ID & Pre-Porting
                            Validation </li>
                    </ul>
                </div>
            </div>
            <div class="content_white">
                <div style="padding: 0px 10px 10px 30px">
                    <div id="Plan_Error" style="color: #ff0000; font-weight: bold; text-align: left;">
                    </div>
                    @Html.ValidationSummary(false)
                    <div id="divSuccess" style="display: none; font-weight: bold; font-size: 15px; color: Green;
                        margin-bottom: 15px">
                        <b>Mobile Number Portability </b>Business Rule Check Success, Please click continue.
                    </div>
                    <div id="divFailure" style="display: none; margin-bottom: 15px;">
                        <label id="labFailure" style="font-weight: bold; font-size: 15px; color: #ff0000">
                        </label>
                    </div>
                    <div id="divHiddenValues">
                        @Html.Hidden("hdnMNPMaxSupplineToPort", !ReferenceEquals(ViewBag.MNPMaxSupplineToPort, null) ? (Object)Convert.ToString(ViewBag.MNPMaxSupplineToPort) : 0)
                        @Html.Hidden("hdnDonorID")
                        @Html.Hidden("hdnDealerFlow")
                        @Html.Hidden("hdnMNPFlowType")
                    </div>
                    <div class="form-row">
                        <div class="form-label" style="width: 25%">@Html.Label("Porting Channel")</div>
                        <div class="form-field" style="width: 50%">
                            <label>@Html.RadioButton("PortInCre", 1, true, new { id = "RdSin" }) Single Port In</label>
                            <label>@Html.RadioButton("PortInCre", 2, false, new { id = "RdMul" })Multi Port In</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-label" style="width: 25%">
                            @*@Html.LabelFor(model => model.DonorID)*@
                            @Html.Label("Donor *")
                        </div>
                        <div class="form-field" style="width: auto;">
                            @(Html.DropDownListFor(model => model.DonorID, Util.GetList(RefType.Doners, defaultValue: "")))
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-label" style="width: 25%">
                            @Html.Label("MSISDN *")
                        </div>
                        <div class="form-field" style="width: auto;">
                            <input type="text" class="numbersonly" name="MSISDN" id="MSISDN" maxlength="12" onpaste="Javascript:return false;" />
                        </div>
                    </div>
                    <div id="TdMnpSuppLine" class="form-row" style="display: none">
                        <div class="form-label" style="width: 25%">
                            @Html.Label("Supplementary MSISDN *")
                        </div>
                        <div class="form-field" style="">
                            <div id="inputcontainer" style="border-width: 2px; border-style: none; border-color: black;">
                                <input type="text" class="numbersonly" name="Supp" id="Supp1" maxlength="12" />
                                <input type="button" value="+" id="btnAdd" title="Add Another" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-label" style="width: 25%">
                            @Html.Label("Customer Name *")
                        </div>
                        <div class="form-field" style="width: auto;">
                            <input type="text" name="Customer Name" value="@(CustomerName)" id="CustomerName" maxlength="200" />
                        </div>
                    </div>
                    @{var IsConsumer = ViewBag.IsConsumer;}
                    @if ("N".Equals(IsConsumer))
                    {
                        <div class="form-row">
                            <div class="form-label" style="width: 25%">@Html.Label("Company Name")</div>
                            <div class="form-field" style="width: auto;">
                                <input type="text" name="Company Name" value="@(CompanyName)" id="CompanyName" maxlength="200" /></div>
                        </div>
                    }
                    else
                    {
                        <div class="form-row" style="display: none;">
                            <div class="form-label" style="width: 25%">@Html.Label("Company Name")</div>
                            <div class="form-field" style="width: auto;">
                                <input type="text" name="Company Name" value="@(CompanyName)" id="CompanyName" maxlength="200" /></div>
                        </div>
                    }
                    @*<div style="padding-left:25%;margin-bottom:40px;vertical-align:middle;width:40%;" >*@
                    <div class="form-row">
                        <div class="form-label" style="width: 25%">
                            &nbsp;</div>
                        <div class="form-field">
                            @if(!Session["isDealer"].ToBool())
                            {
                                <input type="checkbox" id="chkOlo" name="chkOlo" />@Html.Raw("&nbsp;&nbsp;OLO with 'Call Conferencing'")
                            }
                            <input type="hidden" id="hdnOlo" name="hdnOlo" value="0" />
                        </div>
                    </div>
                    @*@if(Roles.IsUserInRole("DREG_SV") || Roles.IsUserInRole("DSupervisor") || Roles.IsUserInRole("MREG_DIC") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("MREG_DAI"))*@
                    @if (true)
                    {
                        <div id="divNewBlock" style="display: none">
                            <div class="form-row">
                                <div class="form-label" style="width: 25%">
                                    &nbsp;</div>
                                <div class="form-field">
                                    @if (IsExistingUser)
                                    {
                                        @*<label>@Html.RadioButton("PortInNavigation", 1, false, new { id = "RdPlanOnly" }) Plan </label>*@
                                        <div style="float: left">
                                            <span class="image-radio">
                                                <input type="radio" name="PortInNavigation" style="display:none"  id="RdPlanOnly" />
                                                <img  src='@(Url.Content("~/Content/images/uncheck.jpg"))' width="30px" alt="" />
                                            </span>
                                        </div>
                                        <div style="float: left; padding-left: 20px; padding-top: 10px; padding-right: 140px;
                                            font-family: 'frutigerlight';">
                                            New Account</div>
                                    }
                                    else
                                    { 
                                        @*<label>@Html.RadioButton("PortInNavigation", 1, true, new { id = "RdPlanOnly" }) Plan </label>*@
                                        <div style="float: left">
                                            <span class="image-radio">
                                                <input type="radio" name="PortInNavigation" style="display:none" checked="checked" id="RdPlanOnly" />
                                                <img  src='@(Url.Content("~/Content/images/checked.jpg"))' width="30px" alt="" />
                                            </span>
                                        </div>
                                        <div style="float: left; padding-top: 10px; padding-right: 140px; font-family: 'frutigerlight';">
                                            New Account</div>
                                    }
                                </div>
                            </div>
                            @if (IsExistingUser)
                            {
                                <div class="form-row">
                                    <div class="form-label" style="width: 25%">
                                        &nbsp;</div>
                                    <div class="form-field">
                                        @*<label>@Html.RadioButton("PortInNavigation", 2, false, new { id = "RdSuppLine" }) Add Supplimentary</label>*@
                                        <div style="float: left">
                                            <span class="image-radio">
                                                <input type="radio" name="PortInNavigation" style="display:none"  id="RdSuppLine" />
                                                <img  src='@(Url.Content("~/Content/images/uncheck.jpg"))' width="30px" alt="" />
                                            </span>
                                        </div>
                                        <div style="float: left; padding-left: 20px; padding-top: 10px; padding-right: 140px;
                                            font-family: 'frutigerlight';">
                                            Add Supplementary / Secondary line to Existing Account </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label" style="width: 25%">
                                        &nbsp;</div>
                                    <div class="form-field">
                                        @*<label>@Html.RadioButton("PortInNavigation", 2, false, new { id = "RdNewLine" }) Add New Line</label>*@
                                        <div style="float: left">
                                            <span class="image-radio">
                                                <input type="radio" name="PortInNavigation" style="display:none" id="RdNewLine" />
                                                <img  src='@(Url.Content("~/Content/images/uncheck.jpg"))' width="30px" alt="" />
                                            </span>
                                        </div>
                                        <div style="float: left; padding-left: 20px; padding-top: 10px; padding-right: 140px;
                                            font-family: 'frutigerlight';">
                                            Existing Account </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    @*height:65px;display:inline;vertical-align:middle;*@
                    <div id="divContinue" class="form-row" style="display: none; height: 70px">
                        <div class="form-label" style="">
                        </div>
                        <div class="form-field" style="width: auto;">
                            <input type="submit" value="Continue" class="submitButton" onclick="return submitNumpad();" />
                        </div>
                    </div>
                    @*height:65px;display:inline;vertical-align:middle;*@
                    <div id="divSubmit" class="form-row" style="height: 70px">
                        <div class="form-label" style="">
                        </div>
                        <div class="form-field" style="width: auto;">
                            <input type="button" value="Submit" id="btnSubmit" class="submitButton" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @Html.Partial("_footer")
</div>
@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#Plan_Error').hide();
            $("#divContinue").hide();
            $("#divNewBlock").hide();
            if ($('#menuMNPPortIn').length) {
                // $('#menuMNPPortIn').css("background-image", $('#menuMNPPortIn').css("background-image").replace(".png", "_hover.png"));
            }
            ///CLICKING ON THE SINGLE PORT MNP RADIO HIDE THE MULTIPORTIN OPTIONS
            $("#RdSin").click(function () {
                ///PREPARE ARRAY OF SUPPLEMENTARY MSISDN'S
                $('input[name="Supp"]').each(function () {
                    if ($(this).val().length != 0)
                        $(this).val("");
                });
                $('#TdMnpSuppLine').hide('slow');
            });
            ///CLICKING ON THE MULTI PORT MNP RADIO SHOW THE MULTIPORTIN OPTIONS
            $("#RdMul").click(function () {
                $('#TdMnpSuppLine').show('slow');
            });

            var CustomerName = $('#CustomerName').val();

            if (CustomerName != 0 || CustomerName != '') {
                $('#CustomerName').attr('readonly', true);
                //                $('#CustomerName').css({ "background-color": '#F2F2F2' });
            }
        });

        $("#btnSubmit").click(function () {
            submit();
        });

        $(".numbersonly").keypress(function (e) {
            return numbersonly(e, false);
        });

        /*DISABLE THE ENTER KEY ON ALL INPUT TYPES*/
        $("input:text").keypress(function (e) {
            if (e.keyCode == 13) {
                return false;
            }
        });

        function submit() {
            $('#Plan_Error').hide();
            var url = '@(Url.Content("~/MNP/PortInBusinessRuleChecks"))';
            var donor = $('#DonorID').val();
            var MSISDN = $('#MSISDN').val();
            var IsConsumer = '@(ViewBag.IsConsumer)';
            var CustomerName = $('#CustomerName').val();
            var CompanyName = $('#CompanyName').val();
            var Supp = [];
            var mobregex = /^60[0-9]{8,10}$/;

            var IsError = false;
            var ErrorMsg = "";

            if (donor == '') {
                IsError = true;
                ErrorMsg = 'Donor field is required.';
            }
            else if (!(MSISDN.length >= 11 && MSISDN.length <= 12)) {
                IsError = true;
                ErrorMsg = 'MSISDN must be of 11 or 12 numbers.';
            }
            else if (MSISDN.substring(0, 3) != "601") {
                IsError = true;
                ErrorMsg = 'MSISDN numbers should start with series 601.';
            }
            else if (!mobregex.test(MSISDN)) {
                IsError = true;
                ErrorMsg = 'Please enter valid MSISDN number. eg. 60xxxxxxxxx';
            }
            else if (IsConsumer == "Y") {
                if ($.trim(CustomerName) == '') {
                    IsError = true;
                    ErrorMsg = 'Customer name is required.';
                }
                //if (/[^a-zA-Z0-9 ]/.test($.trim(CustomerName))) {
                //    IsError = true;
                //    ErrorMsg = 'Please enter proper name.';
                //}
            }
            else if (IsConsumer == "N") {
                if (CompanyName == '') {
                    IsError = true;
                    ErrorMsg = 'Company name is required.';
                }
            }
            ///CHECK EACH SUPPLEMENTARY MSISDN NUMBER'S IF THEY ARE NOT BLANK THEN CHECK IF THEIR LENGTH IS NOT LESS THAN 11 OR 12 NUMBERS. ALSO CHECK WHETHER SUPPLEMENTARY LINE MSISDN AND PRIMARY LINE MSISDN ARE UNIQUE
            if ($('#RdMul').attr("checked") == "checked") {
                $('input[name="Supp"]').each(function () {
                    if (!($(this).val().length >= 11 && $(this).val().length <= 12)) {
                        IsError = true;
                        ErrorMsg = 'Supplementary MSISDN must be of 11 or 12 numbers.';
                        $(this).focus();
                    }
                    else if ($(this).val().length != 0 && $(this).val().substring(0, 3) != "601") {
                        IsError = true;
                        ErrorMsg = 'MSISDN numbers should start with series 601.';
                        $(this).focus();
                    }
                    else if ($(this).val().length != 0 && !mobregex.test($(this).val())) {
                        IsError = true;
                        ErrorMsg = 'Please enter valid MSISDN number. eg. 60xxxxxxxxx';
                        $(this).focus();
                    }
                    else if ($(this).val().length != 0 && MSISDN.length != 0) {
                        if ($(this).val() == MSISDN) {
                            IsError = true;
                            ErrorMsg = 'Primary line and supplementary line MSISDN should be unique.';
                            $(this).focus();
                        }
                    }
                });

                ///PREPARE ARRAY OF SUPPLEMENTARY MSISDN'S
                $('input[name="Supp"]').each(function () {
                    if ($(this).val().length != 0)
                        Supp.push($(this).val());
                });

                ///CHECK IF ALL ENTRIES ARE UNIQUE
                if (has_duplicates(Supp)) {
                    IsError = true;
                    ErrorMsg = 'Please enter unique MSISDN';
                }
            }
            if (IsError) {
                $('#Plan_Error').show();
                $('#Plan_Error').html(ErrorMsg);
                return false;
            }

            ///GENERATE RANDOM NUMBER TO PASS TO AJAX CALLS, FOR THE PURPOSE OF EVERYTIME GENERATING NEW REQUEST INSTEAD OF TAKING RESULT FROM BROWSER CACHE
            var randomNumber = Math.floor(Math.random() * 101)
            var unExpectedErrNoPart;
            var staticException = " Unexpected error occured, please try after sometime.";
            var staticExceptionforRegionCode = " MSISDN is not belongs to the system, Please enter another MSISDN.";
            var staticExceptionforTimeout = " Server busy, please try after sometime";

            $("#divSucc").show();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: url,
                traditional: true,
                data: { DonorID: donor, MSISDN: MSISDN, CustomerName: CustomerName, CompanyName: CompanyName, Supp: Supp, RandomNumber: randomNumber.toString() },
                success: function (Data) {
                    if (Data.isError) {
                        //                        alert("failed");
                        $("#divFailure").show();
                        $("#divSuccess").hide();
                        $("#divContinue").hide();
                        $("#divNewBlock").hide();
                        ///FRIENDLY MESSAGE DISPLAY WHEN ENTER MSISDN IS NOT CORRECT
                        if (Data.ErrorMsg.search("regionCode") > -1) {
                            unExpectedErrNoPart = Data.ErrorMsg.substring(0, 1 + Data.ErrorMsg.search(":"));
                            $("#labFailure").html(unExpectedErrNoPart + staticExceptionforRegionCode);
                        }
                        ///FRIENDLY MESSAGE DISPLAY WHEN TIMEOUT IS RETURNED FROM SERVICE
                        else if (Data.ErrorMsg.search("timeout") > -1) {
                            unExpectedErrNoPart = Data.ErrorMsg.substring(0, 1 + Data.ErrorMsg.search(":"));
                            $("#labFailure").html(staticExceptionforTimeout);
                        }
                        ///FRIENDLY MESSAGE DISPLAY WHEN SOAP ERROR IS RETURNED FROM SERVICE
                        else if (Data.ErrorMsg.search("Soap fault occured.") > -1) {
                            unExpectedErrNoPart = Data.ErrorMsg.substring(0, 1 + Data.ErrorMsg.search(":"));
                            $("#labFailure").html(unExpectedErrNoPart + staticException);
                        }
                        else {
                            $("#labFailure").html(Data.ErrorMsg);
                        }

                        //UNCOMMENT THE BELOW CODE FOR TESTING MODE
                        //$("#divSuccess").show();
                        //$("#divFailure").hide();
                        //                        $("#divContinue").show();
                        //                        alert("failed reached end");
                    }
                    else {
                        //alert($('#RdMul').val());
                        $("#divSuccess").show();
                        $("#divFailure").hide();
                        $("#divContinue").show();
                        if ($('#RdMul').attr("checked") == "checked") {
                            $("#divNewBlock").hide();
                        }
                        else {
                            $("#divNewBlock").show();
                        }
                        $("#divSubmit").hide();
                        $("#hdnDonorID").val($('#DonorID').val());
                        //                        alert($("#hdnDonorID").val());
                    }
                },
                error: function (xhr, err) {
                    ///WHOEVER INTEGRATES THE CODE PLEASE UNCOMMENT THE BELOW CODE IN CASE OF UNEXPECTED / NORESULT.                    
                    //                    alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    //                    alert("responseText: " + xhr.responseText);
                }
            });

        }

        ///FUNCTION ACCEPTS ARRAY OF INPUTS AND CHECK FOR DUPLICATE ENTRIES
        function has_duplicates(arr) {

            var x = {}, len = arr.length;
            for (var i = 0; i < len; i++) {
                if (x[arr[i]] === true) {
                    return true;
                }
                x[arr[i]] = true;
            }
            return false;

        }

        function submitNumpad() {
            $('#Plan_Error').hide();
            //var portInType = $('#portInType').val();
            var donor = $('#DonorID').val();
            var MSISDN = $('#MSISDN').val();
            var CustomerName = $('#CustomerName').val();
            var mobregex = /^60[0-9]{8,10}$/;
            var IsError = false;
            var ErrorMsg = "";

            if ((!(MSISDN.length >= 11 && MSISDN.length <= 12)) || (donor == '') || (CustomerName == '')) {
                ErrorMsg = 'All fields are required.';
                IsError = true;
            }
            else if (MSISDN.substring(0, 3) != "601") {
                IsError = true;
                ErrorMsg = 'MSISDN numbers should start with series 601.';
            }

            ///CHECK EACH SUPPLEMENTARY MSISDN NUMBER'S IF THEY ARE NOT BLANK THEN CHECK IF THEIR LENGTH IS NOT LESS THAN 11 OR 12 NUMBERS
            if ($('#RdMul').attr("checked") == "checked") {
                $('input[name="Supp"]').each(function () {
                    if (!($(this).val().length >= 11 && $(this).val().length <= 12)) {
                        ErrorMsg = 'Supplementary MSISDN must be of 11 or 12 numbers.';
                        $(this).focus();
                        IsError = true;

                    }
                    else if ($(this).val().length != 0 && $(this).val().substring(0, 3) != "601") {
                        IsError = true;
                        ErrorMsg = 'MSISDN numbers should start with series 601.';
                        $(this).focus();
                    }
                    else if ($(this).val().length != 0 && !mobregex.test($(this).val())) {
                        IsError = true;
                        $(this).focus();
                        ErrorMsg = 'Please enter valid MSISDN number. eg. 60xxxxxxxxx';
                    }
                });
            }
            if (IsError) {
                $('#Plan_Error').show();
                $('#Plan_Error').html(ErrorMsg);
                return false;
            }
            if ($('#chkOlo').attr("checked") == "checked") {
                $('#hdnOlo').val('1');
            }
            else {
                $('#hdnOlo').val('0');
            }

//            if (('@(Roles.IsUserInRole("DREG_SV"))' == 'True' || '@(Roles.IsUserInRole("DSupervisor"))' == 'True' || '@(Roles.IsUserInRole("MREG_DIC"))' == 'True' || '@Roles.IsUserInRole("MREG_DSV")' == 'True' || '@(Roles.IsUserInRole("MREG_DAI"))' == 'True')) {
                if ($('#RdSin').attr("checked") == "checked") {
                    //alert('in dealer login2');
                    $('#hdnDealerFlow').val('true');
                    if ($('#RdPlanOnly').attr("checked") == "checked") {
                        $('#hdnMNPFlowType').val('APL'); //add plan only
                    }
                    else if ($('#RdSuppLine').attr("checked") == "checked") {
                        $('#hdnMNPFlowType').val('ASL'); //add suppline only
                    }
                    else if ($('#RdNewLine').attr("checked") == "checked") {
                        $('#hdnMNPFlowType').val('ANL'); //add newline only
                    }
                    else {
                        $('#Plan_Error').html('Please select the Plan/suppline/newline type');
                        $('#Plan_Error').show();
                        return false;
                    }
                }
                else if ($('#RdMul').attr("checked") == "checked") {
                    $('#hdnDealerFlow').val('false');
                    $('#hdnMNPFlowType').val('APL'); //add plan only
                }

//            }
            var url = '@(Url.Content("~/MNP/EnterDetails"))';
            $.post(url, { DonorID: donor, MSISDN: MSISDN }, function (data) {
            });
        }
        ///THE NUMBER OF DYNAMIC CONTROLS RENDERED TILL NOW STARTS WITH 1 NOT 0. PLEASE NOTE THAT THE BELOW currentindex WORKING LIKE A STATIC VARIABLE IT'S STORING
        ///THE LAST ADDED CONTROL INDEX
        var currentindex = 1;
        $("#btnAdd").click(function () {
            $('#Plan_Error').hide();
            var lineBreak = document.createElement('BR');
            var lineSpace = document.createTextNode('\u00A0');
            var lastinput = $('#supp' + currentindex);
            var hdnMNPMaxSupplineToPort = $('#hdnMNPMaxSupplineToPort').val();
            var currentAvalIndex;
            if (currentindex < hdnMNPMaxSupplineToPort) {
                if (lastinput.value != '') {
                    var container = document.getElementById('inputcontainer');
                    var mainDiv = document.getElementById('TdMnpSuppLine');
                    var divPaddingValue = document.getElementById('TdMnpSuppLine').style.paddingBottom.replace("px", "");
                    if (divPaddingValue == '') {
                        //                        alert("value empty");
                        divPaddingValue = 0;
                    }
                    else {
                        //                        alert(document.getElementById('TdMnpSuppLine').style.paddingBottom.replace("px", ""));
                    }

                    /*START DYNAMIC SUPPLEMENTARY MSISDN ADD TEXTBOX*/
                    var newinput = document.createElement('input');
                    currentindex++;

                    ///POPULATE currentAvalIndex WITH RANDOM NUMBER
                    currentAvalIndex = Math.floor(Math.random() * 101);
                    ///CHECK IF ANY CONTROL WITH SAME ID IS ALREADY AVAILABLE. FOR THE TIME BEING ONLY ONE CHECK HAS BEEN IMPLEMENTED, BUT IT SHOULD BE IN LOOP
                    ///IT SHOULD LOOP UNTIL THE NUMBER GENERATED ISN'T UNIQUE
                    if ($('#Supp' + currentAvalIndex).length) {
                        currentAvalIndex = Math.floor(Math.random() * 101);
                    }

                    newinput.type = "text";
                    newinput.className = "numbersonly";
                    newinput.setAttribute('maxlength', 12);
                    //newinput.name = 'Supp' + currentindex;
                    newinput.name = 'Supp';
                    newinput.id = 'Supp' + currentAvalIndex;
                    ///ASSIGN THE ABOVE LINEBREAK ONE ID
                    lineBreak.id = 'LineBreak' + currentAvalIndex;
                    var divValu = parseInt(divPaddingValue, 0);
                    divValu += 40;
                    mainDiv.style.paddingBottom = divValu + "px";
                    container.appendChild(lineBreak);
                    container.appendChild(newinput);
                    /*END DYNAMIC SUPPLEMENTARY MSISDN TEXTBOX*/

                    /*START DYNAMIC SUPPLEMENTARY REMOVE BUTTON*/
                    var newbutton = document.createElement('button');
                    newbutton.appendChild(document.createTextNode("-"));
                    newbutton.name = 'Supprem';
                    newbutton.id = 'Supprem' + currentAvalIndex;
                    ///ATTACHING EVENT TO DELETE THE ADDED CONTROLS WHEN '-' BUTTON CLICKED
                    newbutton.onclick = function () {
                        var mainDiv = document.getElementById('TdMnpSuppLine');
                        var divPaddingValue = document.getElementById('TdMnpSuppLine').style.paddingBottom.replace("px", "");
                        if (divPaddingValue == '') {
                            //                            alert("value empty");
                            divPaddingValue = 0;
                        }
                        else {
                            //                            alert(document.getElementById('TdMnpSuppLine').style.paddingBottom.replace("px", ""));
                        }
                        ///GET newbutton.id 
                        var idLastCharacter = this.id;
                        ///GET 'm' FROM SUPPREM AND GET AFTER THE NUMERIC PART WHICH WOULD BE THE SAME NUMERIC PART FOR #LineBreak
                        idLastCharacter = idLastCharacter.substring(idLastCharacter.indexOf("m") + 1);
                        var divValu = parseInt(divPaddingValue, 0);
                        divValu -= 40;
                        if (divValu >= 0) {
                            mainDiv.style.paddingBottom = divValu + "px";
                        }
                        this.parentElement.removeChild(newinput);
                        this.parentElement.removeChild(this);
                        ///REMOVE THE LAST LINEBREAK
                        $("#LineBreak" + idLastCharacter).remove();
                        ///DECREASE THE NUMBER OF DYNAMIC CONTROLS RENDERED
                        currentindex--;
                    };
                    container.appendChild(lineSpace);
                    container.appendChild(newbutton);
                    /*END DYNAMIC SUPPLEMENTARY REMOVE BUTTON*/

                    ///RESTRICT USER TO ENTER ONLY NUMERIC                   
                    $('#Supp' + currentAvalIndex).keydown(function (event) {
                        // Prevent shift key since its not needed
                        if (event.shiftKey == true) {
                            event.preventDefault();
                        }
                        // Allow Only: keyboard 0-9, numpad 0-9, backspace, tab, left arrow, right arrow, delete
                        if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46) {
                            // Allow normal operation
                        } else {
                            // Prevent the rest
                            event.preventDefault();
                        }
                    });
                }
            }
            else {
                $('#Plan_Error').show();
                $('#Plan_Error').html('No more supplementary lines are allowed');
            }
        });

        $(".image-radio img").click(function () {
            //alert($(this).attr('src'));
            $('.image-radio img').each(function () {
                $(this).attr('src', '@(Url.Content("~/content/images/uncheck.jpg"))');

            });
            $(this).prev().attr('checked', true);
            $(this).attr('src', '@(Url.Content("~/content/images/checked.jpg"))');
        })
        
    </script>
}

