﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;

@{
    ViewBag.Title = "Customer Details";
}

@using (Html.BeginForm("PersonalDetails", "MNP", FormMethod.Post, new { id = "frmPersonalDetails", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    <div class="vwHeader">
        <table width="100%">
            <tr>
                <td style="width:580px">
                    <div>@ViewBag.Title</div>
                    <div class="vwSubHeader">
                        <label style="font-weight:bold;font-size:12px;">
                        Select a Port-In Type, Donor and Enter MSISDN > Select a Maxis Plan > Select a Contract and Optional VAS > @ViewBag.Title</label> > Customer Order Summary 
                    </div>
                </td>
                <td align="right">
                    <button class="button-back cancel" type="submit" value="Back" onclick="$('#Page').val('SelectVAS');">
                    </button>
                    <button class="button-continue" type="button" value="Next" onclick="checkForm();"></button>
                </td>
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
        <div style="float: left;">
            <div style="font-size:x-large;padding:10px 0px 10px 0px;">Step 4: @ViewBag.Title</div>
            <div id="PD_error" style="color:red;font-weight:bold;margin-left:30px;"></div>
            <input type="hidden" name="Page" id="Page" value="" />
            <table>
                <tr>
                    <td valign="top">
                        <br />
                        @{
                            Html.Telerik().PanelBar()
                                .Name("pnlPersonalDetails")
                                .ExpandAll(false).ExpandMode(Telerik.Web.Mvc.UI.PanelBarExpandMode.Single)
                                .Items(pbItem =>
                                {
                                    pbItem.Add()
                                        .Expanded(true)
                                        .Text("CUSTOMER INFORMATION")
                                        .LinkHtmlAttributes(new { @class = "panel-header" })
                                        .ContentHtmlAttributes(new { @class = "panel-content" })
                                        .HtmlAttributes(new { width = "400px" })
                                        .Content(
                                        @<text>
                                            @Html.Partial("_Customer")          
                                        </text>);
                                    pbItem.Add()
                                        .Text("BILLING ADDRESS")
                                        .LinkHtmlAttributes(new { @class = "panel-header" })
                                        .ContentHtmlAttributes(new { @class = "panel-content" })
                                        .HtmlAttributes(new { width = "400px" })
                                        .Content(
                                        @<text>
                                            @Html.Partial("_Address")          
                                        </text>);
                                    pbItem.Add()
                                        .Text("MONTHLY BILL SETTLEMENT PREFERENCE")
                                        .LinkHtmlAttributes(new { @class = "panel-header" })
                                        .ContentHtmlAttributes(new { @class = "panel-content" })
                                        .HtmlAttributes(new { width = "400px" })
                                        .Content(
                                        @<text>
                                            @Html.Partial("_Billing")        
                                        </text>);
                                    pbItem.Add()
                                        .Text("Additional Charges")
                                        .LinkHtmlAttributes(new { @class = "panel-header" })
                                        .ContentHtmlAttributes(new { @class = "panel-content" })
                                        .HtmlAttributes(new { width = "400px" })
                                        .Content(
                                        @<text>
                                            <table width="500px">
                                                <tr>
                                                    <td><b>@Html.Label("Advance Payment/Monthly Deposit") *</b></td>
                                                    <td><input type="text" value='@Session["Deposit"].ToString()' name="Deposit" id="Deposit" value="" /></td>
                                                </tr>
                                            </table>          
                                        </text>);
                                }).Render(); 
                        }
                    </td>
                </tr>   
            </table>
        </div>
        <div style="float: right;">
            @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
        </div>
    </div>
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".numbersonly").keypress(function (e) {
                return numbersonly(e, false);
            });

            $('#PaymentMode').change(function () {
                if ($('#PaymentMode').val() == "Auto Billing") {
                    $('.autoBilling').show();
                } else {
                    $('.autoBilling').hide();
                }
            });

            $('#menuPlanMNP').css("background-image", $('#menuPlanMNP').css("background-image").replace(".png", "_hover.png"));
        });

        function checkForm() {
            var Title = $('#Title').val();
            var Gender = $('input:radio[name=Gender]:checked').val();
            var FullName = $('#FullName').val();
            var DOBDay = $('#DOBDay').val();
            var DOBMonth = $('#DOBMonth').val();
            var DOBYear = $('#DOBYear').val();
            var Language = $('#Language').val();
            var AlternateContactNo = $('#AlternateContactNo').val();
            var Email = $('#Email').val();
            var Race = $('#Race').val();
            var Address = $('#Address').val();
            var addLine2 = $('#addLine2').val();
            var Town = $('#Town').val();
            var PostCode = $('#PostCode').val();
            var State = $('#State').val();
            var Nationality = $('#Nationality').val();
            var PaymentMode = $('#PaymentMode').val();
            var CardType = $('#CardType').val();
            var CardNo = $('#CardNo').val();
            var CardExpiryDate = $('#CardExpiryDate').val();
            var NameOnCard = $('#NameOnCard').val();
            var Deposit = $('#Deposit').val();
            var DOB = "";

            $('#Page').val('Summary');
            $('#PD_error').empty();

            if (Title == "") {
                $('#PD_error').append("<div>&#8226; The Title Field is required.</div>");
            }
            if (Gender == "" || Gender == null) {
                $('#PD_error').append("<div>&#8226; The Gender Field is required.</div>");
            }
            if (FullName == "") {
                $('#PD_error').append("<div>&#8226; The FullName Field is required.</div>");
            }
            if (DOBDay == "" || DOBMonth == "" || DOBYear == "") {
                $('#PD_error').append("<div>&#8226; The DOB Field is required.</div>");
            } else {
                DOB = DOBMonth + "/" + DOBDay + "/" + DOBYear;
            }
            if (Language == "") {
                $('#PD_error').append("<div>&#8226; The Language Field is required.</div>");
            }
            if (Nationality == "") {
                $('#PD_error').append("<div>&#8226; The Nationality Field is required.</div>");
            }
            if (Email == "") {
                $('#PD_error').append("<div>&#8226; The Email Field is required.</div>");
            }
            if (Race == "") {
                $('#PD_error').append("<div>&#8226; The Race Field is required.</div>");
            }
            if (Address == "") {
                $('#PD_error').append("<div>&#8226; The Address Field is required.</div>");
            }
            if (Town == "") {
                $('#PD_error').append("<div>&#8226; The Town Field is required.</div>");
            }
            if (PostCode == "") {
                $('#PD_error').append("<div>&#8226; The PostCode Field is required.</div>");
            }
            if (State == "") {
                $('#PD_error').append("<div>&#8226; The State Field is required.</div>");
            }
            if (PaymentMode == "") {
                $('#PD_error').append("<div>&#8226; The PaymentMode Field is required.</div>");
            }
            if (Deposit == "") {
                $('#PD_error').append("<div>&#8226; The Deposit Field is required.</div>");
            }

            var CT = "";
            var CN = "";
            var CED = "";
            var NOC = "";

            if ($('#PaymentMode').val() == "Auto Billing") {
                if (CardType == "") {
                    $('#PD_error').append("<div>&#8226; The Card Type Field is required.</div>");
                    CT = 0;
                }
                if (CardNo == "") {
                    $('#PD_error').append("<div>&#8226; The Card No Field is required.</div>");
                    CN = 0;
                }
                if (CardExpiryDate == "") {
                    $('#PD_error').append("<div>&#8226; The Expiry Date Field is required.</div>");
                    CED = 0;
                }
                if (NameOnCard == "") {
                    $('#PD_error').append("<div>&#8226; The Name On Card Field is required.</div>");
                    NOC = 0;
                }
            }

            if (Title == "" || Gender == "" || FullName == "" || DOB == "" || Language == "" ||
            Email == "" || Race == "" || Address == "" || Town == "" || PostCode == "" || State == "" || Nationality == "" ||
            PaymentMode == "" || Deposit == "" || CT != "" || CN != "" || CED != "" || NOC != "") {
                /*alert(Title + " + " + Gender + " + " + FullName + " + " + DOB + +" + " + Language + " + " + Email
                + " + " + Race + " + " + Address + " + " + Town + " + " + PostCode + " + " + State + " + " + Nationality
                + " + " + PaymentMode + " + " + Deposit + " + " + CT + " + " + CN + " + " + CED + " + " + NOC);*/
                return false;
            }

            var Page = $('#Page').val();
            var url = '@(Url.Content("~/MNP/PersonalDetails"))';
            $.post(url, { Title: Title, Gender: Gender, FullName: FullName, DOB: DOB, Language: Language, Email: Email,
                Race: Race, Address: Address, AlternateContactNo: AlternateContactNo, addLine2: addLine2, Town: Town, PostCode: PostCode,
                State: State, Nationality: Nationality, PaymentMode: PaymentMode, CardType: CardType, CardNo: CardNo,
                CardExpiryDate: CardExpiryDate, NameOnCard:NameOnCard, Page: Page, Deposit: Deposit
            }, function (data) {

                window.location.href = '@(Url.Content("~/MNP/Summary"))';

            });
        }
    </script>
}

@section Styles{
    <style type="text/css">
        
        #pnlPersonalDetails .panel-header
        {
            line-height: 30px;
            text-transform: uppercase;
            color: #7cb44f;
            font-weight: bold;   
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));  
        }
        
        #pnlPersonalDetails .panel-content
        {
            padding: 5px;
            background-color: #f5f5f5;
        }
        
        #pnlPersonalDetails .panel-content fieldset 
        { 
            border-radius: 5px; 
            padding: 0;
            background-color: White;
            border-color: Grey;
        }
        
        #pnlPersonalDetails .panel-content fieldset table { width: 100%; }
        
        #pnlPersonalDetails .panel-content fieldset table td
        {   
            padding: 10px;
            border-bottom: 1px solid LightGrey;
        }
        
        #pnlPersonalDetails .panel-content .label
        {
            width: 150px;
            font-weight: bold;
        }
        
        #pnlPersonalDetails .panel-content .last { border-bottom: none; }
        
        .personalDetails-table .td
        {
            vertical-align:top;
        }
    </style>
}
