﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.PackageVM
@{
    ViewBag.Title = "Select a Maxis Plan";
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
}

@using (Html.BeginForm("SelectPlan", "MNP", FormMethod.Post, new { id = "frmSelectPlan", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    <div class="vwHeader">
        <table width="100%">
            <tr>
                <td style="width:580px">
                    <div>@ViewBag.Title</div>
                    <div class="vwSubHeader">
                        <label style="font-weight:bold;font-size:12px;">
                        Select a Port-In Type, Donor and Enter MSISDN > @ViewBag.Title</label> > Select a Contract and Optional VAS > Customer Details > Customer Order Summary 
                    </div>
                </td>
                <td align="right">
                    <button class="button-back cancel" type="submit" value="Back" onclick="$('#Page').val('EnterDetails');"></button>
                    <button class="button-continue" type="button" value="Next" onclick="checkForm()"></button>
                </td>
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
        <div style="float: left;">
            <div style="font-size:x-large;padding:10px 0px 10px 0px;">Step 2: @ViewBag.Title</div>
            <div id="Plan_Error" style="color:Red;font-weight:bold;font-size:16px;font-style:italic"></div>
            <table width="500px">
                <tr>
                    <td style="padding-right:30px" valign="middle">
                        <table>
                            <tr>
                                <td>
                                    <input type="hidden" name="TabNumber" id="TabNumber" value='@Session["TabNumber"].ToString()' />
                                    <input type="hidden" name="TabValue" id="TabValue" value='@Session["TabValue"].ToString()' />
                                    <input type="hidden" name="Bundle" id="Bundle" value="" />
                                    <input type="hidden" name="Page" id="Page" value="" />
                                    <label style=" font-size:large;font-weight:bold;">@(Session["RegMobileReg_portInType"].ToString()): iValue </label>
                                    <a href="#" id="next_0" class="ui-carousel-next"><span></span></a>
                                    <div id="container_0" class="container">
                                        <div id="carousel_0" class="carousel">
                                            <div>
                                                <div style="float:left">
                                                    <button id="btnPlan_0" class="cancel btnPlanSelection iValue" style="width:420px;height:55px; padding:0" type="button" onclick="SelectedPlan(0);" >
                                                        Mobile New iValue 0 - 01 Mandatory Package
                                                    </button>
                                                </div>
                                                <div style="float:right">
                                                    <button id="btnPlnDetails_0" style="width:30px;height:55px;" type="button" onclick="detailsPlans_OnClick('btnPlnDetails_0')"
                                                        class="button-plan-details">
                                                    </button>
                                                </div>
                                            </div>
                                            <div>
                                                <div style="float:left">
                                                    <button id="btnPlan_1" class="cancel btnPlanSelection iValue" style="width:420px;height:55px; padding:0" type="button" onclick="SelectedPlan(1);" >
                                                        Mobile New iValue 1 - 01 Mandatory Package
                                                    </button>
                                                </div>
                                                <div style="float:right">
                                                    <button id="btnPlnDetails_1" style="width:30px;height:55px;" type="button" onclick="detailsPlans_OnClick('btnPlnDetails_1')"
                                                        class="button-plan-details">
                                                    </button>
                                                </div>
                                            </div>
                                            <div>
                                                <div style="float:left">
                                                    <button id="btnPlan_2" class="cancel btnPlanSelection iValue" style="width:420px;height:55px; padding:0" type="button" onclick="SelectedPlan(2);" >
                                                        Mobile New iValue 2 - 01 Mandatory Package
                                                    </button>
                                                </div>
                                                <div style="float:right">
                                                    <button id="btnPlnDetails_2" style="width:30px;height:55px;" type="button" onclick="detailsPlans_OnClick('btnPlnDetails_2')"
                                                        class="button-plan-details">
                                                    </button>
                                                </div>
                                            </div>
                                            <div>
                                                <div style="float:left">
                                                    <button id="btnPlan_3" class="cancel btnPlanSelection iValue" style="width:420px;height:55px; padding:0" type="button" onclick="SelectedPlan(3);" >
                                                        Mobile New iValue 3 - 01 Mandatory Package
                                                    </button>
                                                </div>
                                                <div style="float:right">
                                                    <button id="btnPlnDetails_3" style="width:30px;height:55px;" type="button" onclick="detailsPlans_OnClick('btnPlnDetails_3')"
                                                        class="button-plan-details">
                                                    </button>
                                                </div>
                                            </div>
                                            <div>
                                                <div style="float:left">
                                                    <button id="btnPlan_4" class="cancel btnPlanSelection iValue" style="width:420px;height:55px; padding:0" type="button" onclick="SelectedPlan(4);" >
                                                        Mobile New iValue 4 - 01 Mandatory Package
                                                    </button>
                                                </div>
                                                <div style="float:right">
                                                    <button id="btnPlnDetails_4" style="width:30px;height:55px;" type="button" onclick="detailsPlans_OnClick('btnPlnDetails_4')"
                                                        class="button-plan-details">
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" id="prev_0" class="ui-carousel-prev"><span></span></a>
                                    <br /><br />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label style=" font-size:large;font-weight:bold;">@(Session["RegMobileReg_portInType"].ToString()): Value Plans </label>
                                    <a href="#" id="next_1" class="ui-carousel-next"><span></span></a>
                                    <div id="container_1" class="container">
                                        <div id="carousel_1" class="carousel">
                                            <div>
                                                <div style="float:left">
                                                    <button id="btnPlan_10" name="" class="cancel btnPlanSelection Value_Plans" style="width:420px;height:55px; padding:0" type="button" onclick="SelectedPlan(10);" >
                                                        Mobile Blackberry Voice and Data Plan - 01 Mandatory Package
                                                    </button>
                                                </div>
                                                <div style="float:right">
                                                    <button id="btnPlnDetails_10" style="width:30px;height:55px;" type="button" onclick="detailsPlans_OnClick('btnPlnDetails_10')"
                                                        class="button-plan-details">
                                                    </button>
                                                </div>
                                            </div>
                                            <div>
                                                <div style="float:left">
                                                    <button id="btnPlan_11" class="cancel btnPlanSelection Value_Plans" style="width:420px;height:55px; padding:0" type="button" onclick="SelectedPlan(11);" >
                                                        Mobile Data Bundle Plan - 01 Mandatory Package
                                                    </button>
                                                </div>
                                                <div style="float:right">
                                                    <button id="btnPlnDetails_11" style="width:30px;height:55px;" type="button" onclick="detailsPlans_OnClick('btnPlnDetails_11')"
                                                        class="button-plan-details">
                                                    </button>
                                                </div>
                                            </div>
                                            <div>
                                                <div style="float:left">
                                                    <button id="btnPlan_12" class="cancel btnPlanSelection Value_Plans" style="width:420px;height:55px; padding:0" type="button" onclick="SelectedPlan(12);" >
                                                        Mobile Data Plan - 01 Mandatory Package
                                                    </button>
                                                </div>
                                                <div style="float:right">
                                                    <button id="btnPlnDetails_12" style="width:30px;height:55px;" type="button" onclick="detailsPlans_OnClick('btnPlnDetails_12')"
                                                        class="button-plan-details">
                                                    </button>
                                                </div>
                                            </div>
                                            <div>
                                                <div style="float:left">
                                                    <button id="btnPlan_13" class="cancel btnPlanSelection Value_Plans" style="width:420px;height:55px; padding:0" type="button" onclick="SelectedPlan(13);" >
                                                        Mobile Internet Value Plan 48 - 01 Mandatory Package
                                                    </button>
                                                </div>
                                                <div style="float:right">
                                                    <button id="btnPlnDetails_13" style="width:30px;height:55px;" type="button" onclick="detailsPlans_OnClick('btnPlnDetails_13')"
                                                        class="button-plan-details">
                                                    </button>
                                                </div>
                                            </div>
                                            <div>
                                                <div style="float:left">
                                                    <button id="btnPlan_14" class="cancel btnPlanSelection Value_Plans" style="width:420px;height:55px; padding:0" type="button" onclick="SelectedPlan(14);" >
                                                        Mobile New Statndard Plan - 01 Mandatory Package
                                                    </button>
                                                </div>
                                                <div style="float:right">
                                                    <button id="btnPlnDetails_14" style="width:30px;height:55px;" type="button" onclick="detailsPlans_OnClick('btnPlnDetails_14')"
                                                        class="button-plan-details">
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#" id="prev_1" class="ui-carousel-prev"><span></span></a>
                                    <br /><br />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div style="float: right;">
            @if (Session["TabNumber"].ToString() != "")
            {
                @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
            }
        </div>
    </div>
}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var planID = $('#TabNumber').val();
            $('#' + planID).css({ "border": "2px solid #14F24D" });

            var total = 5;

            for (var i = 0; i < total; i++) {

                $('#carousel_' + i).rcarousel({
                    orientation: "vertical", step: 3, speed: 200, visible: 4, width: 450, height: 55,
                    navigation: { prev: "#next_" + i, next: "#prev_" + i }
                });
            }

            $(".ui-carousel-next")
			    .add(".ui-carousel-prev")
			    .hover(
				    function () {
				        $(this).css("opacity", 0.7);
				    },
				    function () {
				        $(this).css("opacity", 1.0);
				    }
			    );

            $('#menuPlanMNP').css("background-image", $('#menuPlanMNP').css("background-image").replace(".png", "_hover.png"));
        });

        function checkForm() {
            var TabNumber = $('#TabNumber').val();
            var TabValue = $('#TabValue').val();
            var Bundle = $('#Bundle').val();

            if (TabNumber == '' || TabValue == '') {
                $('#Plan_Error').html("Please select a Plan.");
                return false;
            }

            $('#Page').val("SelectVAS");

            var Page = $('#Page').val();
            var url = '@(Url.Content("~/MNP/SelectPlan"))';
            $.post(url, { TabNumber: TabNumber, TabValue: TabValue, Page: Page, Bundle: Bundle }, function (data) {
                                window.location.href = '@(Url.Content("~/MNP/SelectVAS"))';
            });
        }

        function SelectedPlan(planID) {
            $('button[id^="btnPlan_"]').css("border-style", "none");
            $('#btnPlan_' + planID).css({ "border": "2px solid #14F24D" });

            $('#TabNumber').val("btnPlan_" + planID);
            $('#TabValue').val($.trim($('#btnPlan_' + planID).text()));

            if ($('#btnPlan_' + planID).hasClass('iValue')) {
                $('#Bundle').val('iValue');
            } else {
                $('#Bundle').val('Value Plans');
            }
        }
      
    </script>
}
