﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;

@{
    ViewBag.Title = "Select a Contract and Optional VAS";
}

@using (Html.BeginForm("SelectVAS", "MNP", FormMethod.Post, new { id = "frmSelectVAS", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    <div class="vwHeader">
        <table width="100%">
            <tr>
                <td style="width:580px">
                    <div>@ViewBag.Title</div>
                    <div class="vwSubHeader">
                        <label style="font-weight:bold;font-size:12px;">
                        Select a Port-In Type, Donor and Enter MSISDN > Select a Maxis Plan > @ViewBag.Title</label> > Customer Details > Customer Order Summary 
                    </div>
                </td>
                <td align="right">
                    <button class="button-back cancel" type="submit" value="Back" onclick="$('#Page').val('SelectPlan');">
                    </button>
                    <button class="button-continue" type="button" value="Next" onclick="checkForm();">
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
        <div style="float: left;">
            <div style="font-size:x-large;padding:10px 0px 10px 0px;">Step 3: @ViewBag.Title</div>    
            <table>
                <tr>
                    <td valign="top">
                        <h3>Contract</h3>
                        <div id="c_error" style="color:Red;font-weight:bold;font-size:16px;font-style:italic"></div>
                        <div class="divContractSelection">
                            <input type="hidden" name="contract_number" id="contract_number" value='@Session["contract_number"].ToString2()' />
                            <input type="hidden" name="contract_value" id="contract_value" value='@Session["contract_value"].ToString2()' />
                            <input type="hidden" name="Page" id="Page" value="" />
                            <div style="border:1px solid #cccccc;float:left;width:220px;margin:0px 5px 10px 0px;">
                                <button class="cancel btnSelection" style="width:220px;height:60px" type="button" id="btnConVAS_0" onclick="SelectedConVAS(0);" >
                                    Mobile - Reducing Early Termination Fee amount per month (for 12 months contract)
                                </button>
                            </div>
                            <div style="border:1px solid #cccccc;float:left;width:220px;margin:0px 5px 10px 0px;">
                                <button class="cancel btnSelection" style="width:220px;height:60px" type="button" id="btnConVAS_1" onclick="SelectedConVAS(1);" >
                                    Mobile - Reducing Early Termination Fee amount per month (for 24 months contract)
                                </button>
                            </div>
                        </div>
                        <br />
                        <h3>VAS</h3>
                        <div id="v_error" style="color:Red;font-weight:bold;font-size:16px;font-style:italic"></div>
                        <div class="divSelection">
                            <input type="hidden" name="vas_number" id="vas_number" value='@Session["vas_number"].ToString2()' />
                            <input type="hidden" name="vas_value" id="vas_value" value='@Session["vas_value"].ToString2()' />
                            <div style="border:1px solid #cccccc;float:left;width:220px;margin:0px 9px 10px 0px;">
                                <button class="cancel btnSelection" style="width:220px;height:60px" type="button" id="btnVAS_0" onclick="SelectedVAS(0);" >
                                    Mobile - Access IDD Calls
                                </button>
                            </div>
                            <div style="border:1px solid #cccccc;float:left;width:220px;margin:0px 9px 10px 0px;">
                                <button class="cancel btnSelection" style="width:220px;height:60px" type="button" id="btnVAS_1" onclick="SelectedVAS(1);" >
                                    Mobile - Short Message Service (MO)
                                </button>
                            </div>
                            <div style="border:1px solid #cccccc;float:left;width:220px;margin:0px 9px 10px 0px;">
                                <button class="cancel btnSelection" style="width:220px;height:60px" type="button" id="btnVAS_2" onclick="SelectedVAS(2);" >
                                    Mobile - CLIP-Caller Line ID Pres
                                </button>
                            </div>
                            <div style="border:1px solid #cccccc;float:left;width:220px;margin:0px 9px 10px 0px;">
                                <button class="cancel btnSelection" style="width:220px;height:60px" type="button" id="btnVAS_3" onclick="SelectedVAS(3);" >
                                    Mobile - Call Waiting
                                </button>
                            </div>
                        </div>
                        <br /><br /><br />
                    </td>
                </tr>
            </table>
        </div>
        <div style="float: right;">
            @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
        </div>
    </div>
}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var contractID = $('#contract_number').val();
            $('#' + contractID).css({ "border": "2px solid #14F24D" });

            var vasID = $('#vas_number').val();
            $('#' + vasID).css({ "border": "2px solid #14F24D" });

            $('#menuPlanMNP').css("background-image", $('#menuPlanMNP').css("background-image").replace(".png", "_hover.png"));
        });

        function checkForm() {
            var contractNumber = $('#contract_number').val();
            var contractValue = $('#contract_value').val();
            var vasNumber = $('#vas_number').val();
            var vasValue = $('#vas_value').val();

            $('#Page').val("PersonalDetails");

            var Page = $('#Page').val();
            var url = '@(Url.Content("~/MNP/SelectVAS"))';
            $.post(url, { contractNumber: contractNumber, contractValue: contractValue, Page: Page, vasNumber: vasNumber, vasValue: vasValue }, function (data) {

                window.location.href = '@(Url.Content("~/MNP/PersonalDetails"))';

            });
        }
        function SelectedConVAS(vasID) {
            if ($('#btnConVAS_' + vasID).hasClass('bordered')) {
                $('#btnConVAS_' + vasID).removeClass('bordered');
                $('#btnConVAS_' + vasID).css("border-style", "none");
            } else {
                $('button[id^="btnConVAS_"]').css("border-style", "none");
                $('button[id^="btnConVAS_"]').removeClass('bordered');
                $('#btnConVAS_' + vasID).addClass('bordered');
            }

            $('.bordered').css({ "border": "2px solid #14F24D" });

            // $('#contract_number').val("btnConVAS_" + vasID);
            //  $('#contract_value').val($.trim($('#btnConVAS_' + vasID).text()));
        }

        function SelectedVAS(vasID) {
          /*  $('button[id^="btnVAS_"]').css("border-style", "none");
            $('#btnVAS_' + vasID).css({ "border": "2px solid #14F24D" }); */

           // $('#vas_number').val("btnVAS_" + vasID);
           // $('#vas_value').val($.trim($('#btnVAS_' + vasID).text())); 

            if ($('#btnVAS_' + vasID).hasClass('bordered')) {
                $('button[id^="btnVAS_"]').css("border-style", "none");
                $('#btnVAS_' + vasID).removeClass('bordered');
            } else {
                $('#btnVAS_' + vasID).addClass('bordered');
            }

            $('.bordered').css({ "border": "2px solid #14F24D" });
        }
    </script>
}