﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Controllers;
@using Online.Registration.Web.SubscriberICService;
@model Online.Registration.Web.ViewModels.StatusTrackingVM
@{
    ViewBag.Title = "StatusTrackingNew";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    ViewBag.SimReplaced = "Y";
}
<div class="container">
    @using (@Html.BeginForm("StatusTrackingNew", "MNP", FormMethod.Post, new { id = "frmStatusTracking", @class = "overlayonsubmit", processmsg = "Loading" }))
    { 
        <div class="isell-base-2">
            <div class="row">
                <div class="col-sm-3">
                    <h2>
                        Enter an MSISDN to track</h2>
                </div>
                <div class="col-sm-9">
                    <form role="search" class="navbar-form">
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.MSISDN, new { maxlength = "12", @class = "form-control search-box numbersonly", @id = "MSISDN", @placeholder = "Number" })
                        <button class="btn btn-defadivt search-icon" type="submit">
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    }
    <div class="isell-base-2">
        <div class="row">
      
            @if (!ReferenceEquals(Model, null) && !ReferenceEquals(Model.MNPReqList, null) && Model.MNPReqList.Count() > 0)
            {
                if (null != @ViewBag.DisplayMessage)
                  { 
               <div class="col-sm-12">
                    <p>@ViewBag.DisplayMessage <br/><br/></p>
                </div>
                  }    
                <div class="col-sm-12">
                    <h3 class="mnp">
                        Order status for @Model.MSISDN</h3>
                    <h5 style="color : Black">Note: N/A - MNP order not submitted via iSell. Please check in Kenan.</h5>
                </div>
                <div class="col-sm-12"><font size = "9px"><strong>
                    <div class="col-sm-1 result-lbl" >
                        Port in Time</div>
                    <div class="col-sm-1 result-lbl" text-align = "center">
                        Account ID</div>
                    @*25052015 Add customer and Rate plan information in UI - Lus*@
                    <div class="col-sm-2 result-lbl">
                        Name</div>
                    <div class="col-sm-2 result-lbl">
                        Rate Plan</div>
                    <div class="col-sm-1 result-lbl">
                        Status</div>
                    <div class="col-sm-2 result-lbl" text-align = "center">
                        Rejection Reason</div>
                    <div class="col-sm-1 result-lbl">
                        Type</div>
                    <div class="col-sm-1 result-lbl">
                    </div>
                    <div class="col-sm-1 result-lbl"></div>
                </strong></font></div>
                var currentIndex = 0;
                var totalLine = Model.MNPReqList.Count();
                foreach (var modelItem in Model.MNPReqList)
                {
                <div class="col-sm-12 result-list">
                    <div class="col-sm-1 result-lbl" text-align = "left"><font size = "2px">
                        @DateTime.ParseExact(modelItem.PortInitiatedDt, "yyyy-MM-dd HH:mm:ss", null).ToString("dd/MM/yyyy HH:mm:ss")</font></div>
                    <div class="col-sm-1 result-lbl" text-align = "center"><font size = "2px">
                        @modelItem.AccountNo</font></div>
                    <div class="col-sm-2 result-lbl"><font size = "2px">
                        @Model.CustomerName</font></div>
                    <div class="col-sm-2 result-lbl"><font size = "2px">
                        @Model.MnpRegDet.RatePlan</font></div>
                    <div class="col-sm-1 result-lbl"><font size = "2px">
                        @modelItem.MsisdnStatus</font></div>
                    <div class="col-sm-2 result-lbl" text-align="center"><font size="2px">
                        @(modelItem.ErrorCode + " - " + modelItem.ErrorReason)</font></div>
                        @*@if (modelItem.ErrorReason != null && !modelItem.ErrorReason.Contains("null"))
                        { 
                        <div class="col-sm-2 result-lbl" text-align="center">
                            <font size="2px">
                                @(modelItem.ErrorCode + " - " + modelItem.ErrorReason.Replace("[]", "."))</font></div>
                        }
                        else
                        { <div class="col-sm-2 result-lbl" text-align="center">
                            <font size="2px">
                                @(modelItem.ErrorCode)</font></div>
                        }*@
                    <div class="col-sm-1 result-lbl"><font size = "2px">
                        @Model.MnpRegDet.Type</font></div>
                    <div class="col-sm-2 result-lbl">
                    @if (totalLine >= 1 && currentIndex == 0)
                    {
                        if ((Model.getMNPRes != null && Model.getMNPRes.Code == "0") ||
                            (!string.IsNullOrEmpty(@modelItem.MsisdnStatus) &&
                            (@modelItem.MsisdnStatus == "Rejected" || @modelItem.MsisdnStatus == "Rejected with order cancelled")))
                        {
                            string isROC = (!string.IsNullOrEmpty(@modelItem.MsisdnStatus) && @modelItem.MsisdnStatus == "Rejected with order cancelled") ? "true" : "false";
                            //string isROC = "false";
                            <div id="resubmitMNP" class="btn isell-next" onclick="reSubmitMNP(@modelItem.Msisdn,@isROC)">Resubmit <span>&gt;</span></div>
                        }
                        currentIndex++;
                    } 
                    </div>
                    <div class="col-sm-1 result-lbl"></div>
                </div>
                }
                  
                <div class="col-sm-12 white-space">
                </div>
            }
            else
            {
                <div class="col-sm-12">
                    <div class="alert alert-warning" role="alert"><h2><i>@ViewBag.ErrorMessage</i></h2></div>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    function reSubmitMNP(msisdn, isROC) {
        var url = '@(Url.Content("~/MNP/ResubmitMNP"))';
        $.post(url, { msisdn: msisdn, isROC: isROC }, function (data) {
            if (data == "success") {
                $("#resubmitMNP").hide();
                alert("Resubmit order created");
            } else {
                if (data == "failed") {
                    alert("Technical problem occured, Resubmit order failed");
                } else {
                    alert(data);
                }
            }
        });
    }

    $(document).ready(function () {
    });

    $(".numbersonly").keypress(function (e) {
        return numbersonly(e, false);
    });


    function showStatus() {
        var trackMsisdn = $('#MSISDN').val();
        if (trackMsisdn.length < 10) {
            alert('Msisdn cannot be less that 10 digits');
            return false;
        }
        if (trackMsisdn.length > 15) {
            alert('Msisdn cannot allow more than 15 digits');
            return false;
        }
        if (trackMsisdn == '') {
            alert('Msisdn cannot be empty');
            return false;
        }
    }

</script>
