﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Controllers;
@using Online.Registration.Web.SubscriberICService;
@model Online.Registration.Web.ViewModels.StatusTrackingVM
@{

    ViewBag.Title = "Status Tracking";
    ViewBag.SimReplaced = "Y";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
<!-- Centre column area -->
<div id="center">
    <div class="center_box">
        @using (@Html.BeginForm("StatusTracking", "MNP", FormMethod.Post, new { id = "frmStatusTracking", @class = "overlayonsubmit", processmsg = "Loading" }))
        {    
    
            <div class="content search-header">
                <div class="search-header-box">
                    <div class="search-hdr-title">
                        MNP Status Tracking</div>
                </div>
            </div>
            <div style="clear: both;">
            </div>
    
    
            <div class="content_white">
                <div id="dvMsisdn" align="center">
                    <table style="width: 30%;">
                        <tr>
                            <td style="white-space: nowrap;">
                                Enter MSISDN:
                            </td>
                            <td>@Html.TextBoxFor(x => x.MSISDN, new { maxlength = "12", @class = "numbersonly" })
                            </td>
                            <td>
                            <input style="cursor:pointer;" title="Search" type="image"  id="btnSearch" src='@Url.Content("~/Content/img/shared/iSELL-Search-Button.jpg")' class="search-button" onclick="return showStatus();"/>

                            </td>
                        </tr>
                    </table>
                    <a href="#" onclick="reSubmitMNP(123456)">RESUBMIT</a>
                </div>
                @if (!ReferenceEquals(Model, null) && !ReferenceEquals(Model.MNPReqList, null) && Model.MNPReqList.Count() > 0)
                {           
                    <div id="divStatus" style="display: block" class="crp-wrapper">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" id="search-table">
                            <tbody>
                                <tr class="row-header">
                                    <td>
                                        Account No
                                    </td>
                                    <td>
                                        MSISDN
                                    </td>
                                    <td>
                                        Status
                                    </td>
                                    <td>
                                        Initated Date
                                    </td>
                                    <td>
                                        Description
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                @foreach (var modelItem in Model.MNPReqList)
                                {
                       
                                    <tr class="row-body">
                                        <td>
                                            @modelItem.AccountNo
                                        </td>
                                        <td>
                                            @modelItem.Msisdn
                                        </td>
                                        <td>
                                            @modelItem.MsisdnStatus
                                        </td>
                                        <td>
                                            @modelItem.PortInitiatedDt
                                        </td>
                                        <td>
                                            ERROR DETAILS
                                        </td>
                                        <td>

                                        
                                        </td>
                                    </tr>           
                                }
                            </tbody>
                        </table>
                    </div>           
                }
                else
                {
                    <table>
                        <tr>
                            <td>
                                <label for="FriendlyMessage">@ViewBag.ErrorMessage</label>
                            </td>
                        </tr>
                    </table>
                }
            </div>
        }
    </div>
    @Html.Partial("_footer")
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
        });

        $(".numbersonly").keypress(function (e) {
            return numbersonly(e, false);
        });


        function showStatus() {
            var trackMsisdn = $('#MSISDN').val();
            $('#divStatus').show();
            if (trackMsisdn.length < 10) {
                alert('Msisdn cannot be less that 10 digits');
                return false;
            }
            if (trackMsisdn.length > 15) {
                alert('Msisdn cannot allow more than 15 digits');
                return false;
            }
            if (trackMsisdn == '') {
                alert('Msisdn cannot be empty');
                return false;
            }
        }

        function reSubmitMNP(msisdn) {
            var url = '@(Url.Content("~/MNP/ResubmitMNP"))';
            $.post(url, { msisdn: msisdn }, function (data) {
                if (data == "success") {
                    alert("resubmit success");
                } else {
                    alert(data);
                }
            });
        }
    
    </script>
}
