﻿@using Online.Registration.Web.ViewModels
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;

@{
    ViewBag.Title = "Customer Order Summary";
}

@using (Html.BeginForm("Summary", "MNP", FormMethod.Post, new { id = "frmMobileRegSummary", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    <div class="vwHeader">
        <table width="100%">
            <tr>
                <td style="width:580px">
                    <div>@ViewBag.Title</div>
                    <div class="vwSubHeader">
                        <label style="font-weight:bold;font-size:12px;">
                        Select a Port-In Type, Donor and Enter MSISDN > Select a Maxis Plan > Select a Contract and Optional VAS > Customer Details > @ViewBag.Title </label>
                    </div>
                </td>
                <td align="right">
                    <button class="button-back cancel" type="submit" value="Back" onclick="$('#Page').val('PersonalDetails');">
                    </button>
                    <button class="button-continue" type="submit" value="Next" onclick="$('#Page').val('Success');">
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
        <div style="float: left; width: 516px;">
            <div >
                <div style="font-size:x-large;float:left;">@ViewBag.Title</div>
                <div style="float:right;"></div>
                <input type="hidden" name="Page" id="Page" value="" />
            </div>
            <table width="100%">
                <tr>
                    <td>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <div class="title">A. Customer Information
                                <div style="float:right;margin:-5px 0px 0px 0px;">
                                    @Html.Label("Queue No") 
                                    <input type="text" name="QueueNo" id="QueueNo" style = "width:80px" />
                                </div>
                            </div>
                        </div>
                        <table style="padding:0px; border: 0;">
                            <tr>
                                <td><b>@Html.Label("FullName")</b></td>
                                <td>@Session["Title"].ToString() @Session["FullName"].ToString()</td>
                                <td></td>
                                <td><b>@Html.Label("Gender")</b></td>
                                <td>@(Session["Language"].ToString() == "M" ? "Male" : "Female")</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><b>@Html.Label("ID Card Type")</b></td>
                                <td>@Util.GetNameByID(RefType.IDCardType, Session["RegMobileReg_IDCardType"].ToInt())</td>
                                <td></td>
                                <td><b>@Html.Label("IDCardNo")</b></td>
                                <td>@Session["RegMobileReg_IDCardNo"].ToString()</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><b>@Html.Label("DOB")</b></td>
                                <td>@Session["DOB"].ToString()</td>
                                <td></td>
                                <td><b>@Html.Label("Language")</b></td>
                                <td>@Session["Language"].ToString()</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><b>@Html.Label("Mobile No")</b></td>
                                <td>@Session["RegMobileReg_MSISDN"].ToString()</td>
                                <td></td>
                                <td><b>@Html.Label("Nationality")</b></td>
                                <td>@Session["Nationality"].ToString()</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><b>@Html.Label("Alt Contact No")</b></td>
                                <td>@Session["AlternateContactNo"].ToString()</td>
                                <td></td>
                                <td><b>@Html.Label("Race")</b></td>
                                <td>@Session["Race"].ToString()</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><b>@Html.Label("Email")</b></td>
                                <td>@Session["Email"].ToString()</td>
                                <td></td>
                                <td><b>@Html.Label("Status")</b></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><b>@Html.Label("Port-In Type")</b></td>
                                <td>@Session["RegMobileReg_portInType"].ToString()</td>
                                <td></td>
                                <td><b>@Html.Label("Donor")</b></td>
                                <td>@Session["RegMobileReg_donor"].ToString()</td>
                                <td></td>
                            </tr>
                        </table>
                        <div class="title">B. Billing Address</div>
                        <table  style="padding:0px">
                            <tr>
                                <td><b>@Html.Label("Address")</b></td>
                                <td colspan="4">@Session["Address"].ToString()</td>
                                <td></td>
                            </tr>
                            @if (!string.IsNullOrEmpty(Session["addLine2"].ToString()))
                            { 
                                <tr>
                                    <td><b>@Html.Label("Address 2")</b></td>
                                    <td colspan="4">@Session["addLine2"].ToString()</td>
                                    <td></td>
                                </tr>
                            }
                            <tr>
                                <td><b>@Html.Label("Town")</b></td>
                                <td>@Session["Town"].ToString()</td>
                                <td></td>
                                <td><b>@Html.Label("Postcode")</b></td>
                                <td>@Session["Postcode"].ToString()</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><b>@Html.Label("State")</b></td>
                                <td>@Session["State"].ToString()</td> 
                                <td></td>
                            </tr>
                        </table>
                        <div class="title">C. Monthly Bill Settlement Preference</div>
                        <table  style="padding:0px">
                            @if (@Session["PaymentMode"].ToString() == "Cash")
                            { 
                                <tr>
                                    <td><b>@Html.Label("Payment Mode")</b></td>
                                    <td>@Session["PaymentMode"].ToString()</td> 
                                    <td></td>
                                </tr>
                            }
                            else if (@Session["PaymentMode"].ToString() == "Auto Billing")
                            { 
                                <tr>
                                    <td><b>@Html.Label("Card Type")</b></td>
                                    <td>@Session["CardType"].ToString()</td> 
                                    <td></td>
                                    <td><b>@Html.Label("Card No")</b></td>
                                    <td>@Session["CardNo"].ToString()</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><b>@Html.Label("Card Expiry Date")</b></td>
                                    <td>@Session["CardExpiryDate"].ToString()</td>
                                    <td></td>
                                    <td><b>@Html.Label("Name On Card")</b></td>
                                    <td>@Session["NameOnCard"].ToString()</td>
                                    <td></td>
                                </tr>
                            }
                        </table>
                        <div class="title">D. Validation</div>
                        <table  style="padding:0px">
                            <tr>
                                <td><b>@Html.Label("Internal")</b></td>
                                <td>Passed</td>
                            </tr>
                            <tr>
                                <td><b>@Html.Label("External")</b></td>
                                <td>Passed</td>
                            </tr>
                            <tr>
                                <td><b>@Html.Label("Biometric Verification")</b></td>
                                <td>Failed</td>
                            </tr>
                        </table>
                        <div class="title">E. Signature</div>
                        <table>
                            <tr>
                                <td>
                                    <div style="width:400px;height:170px;border:3px dotted lightgray;float:left">
                                        <div id="signature" style="width:300px;height:150px"></div>
                                    </div> &nbsp
                                    <button id="btnClear" type="button" class="button-signatureClear" onclick="ClearSign()"></button>
                                </td>
                            </tr>
                        </table>
                        <div class="title">F. Photo</div>
                        <table>
                            <tr>
                                <td>
			                        <div class="latest">
				                        <img alt="" />
			                        </div>
                                    <input id="CustImageUpload" type="file" accept="image/*;capture=camera" class="cancel" /> 
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div style="float: right;">
            @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
        </div>
    </div>
}
@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#menuPlanMNP').css("background-image", $('#menuPlanMNP').css("background-image").replace(".png", "_hover.png"));
        });

        function checkForm() {
            var contractNumber = $('#contract_number').val();
            var contractValue = $('#contract_value').val();
            var vasNumber = $('#vas_number').val();
            var vasValue = $('#vas_value').val();
        }


        $("#QueueNo").keypress(function (e) {
            if (e.keyCode == 13) {
                return false;
            }
            else {
                return numbersonly(e, false);
            }
        });
       
    </script>
}

@section Styles{
    <style type="text/css">
    
        .title
        {
            text-transform:uppercase;
            width:500px;
            border-bottom: 1px solid lightgray;
            font-weight:bold;
            color: #7cb44f;
            padding: 10px 0px 5px 0px;
        }
    </style>
}