﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@model Online.Registration.DAL.Models.ModelGroup

@{
    ViewBag.Title = "Add Model Group";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Add:</legend>
        <table>
            <tr>
                <td class="editor-label">
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.Code)
                    </div>
                </td>
                <td class="editor-field">
                    @Html.TextBoxFor(model => model.Code, new { @style = "width:100px" })
                    @Html.ValidationMessageFor(model => model.Code)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </td>
                <td class="editor-field">
                    @Html.TextBoxFor(model => model.Name, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.Description)
                </td>
                <td class="editor-field">
                    @Html.TextBoxFor(model => model.Description, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Description)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.Type)
                </td>
                <td class="editor-field">
                    @Html.TextBoxFor(model => model.Type, new { @style = "width:100px" })
                    @Html.ValidationMessageFor(model => model.Type)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px;">
                        @Html.LabelFor(model => model.PgmBdlPckComponentID)</div>
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => model.PgmBdlPckComponentID).BindTo(Util.GetPkgCompList(Settings.Default.Bundle_Package, defaultValue:"")))
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponentID)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.MinModel)
                </td>
                <td>
                    @Html.Telerik().IntegerTextBoxFor(model => model.MinModel).InputHtmlAttributes(new { @style = "width:50px" })
                    @Html.ValidationMessageFor(model => model.MinModel)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.IsMandatory)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.IsMandatory)
                    @Html.ValidationMessageFor(model => model.IsMandatory)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <input type="hidden" id="submit" name="submit" />
        <button runat="server" class="t-button t-button-icontext" type="submit" value="Add" onclick="$('#submit').val('Save');">
           <span class="t-icon t-update"></span>Save
        </button>
        <button class="t-button t-button-icontext cancel" type="submit" value="Cancel" onclick="$('#submit').val('Cancel');">
            <span class="t-icon t-cancel cancel"></span>Cancel
        </button>
    </div>
}
