﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using Online.Registration.Admin.Models;
@model UpdateViewModelGroup

@{
    ViewBag.Title = "Edit Model Group";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Edit:</legend>
        @Html.HiddenFor(model => model.ModelGroup.ID)
        <table>
            <tr>
                <td>@Html.LabelFor(model => model.ModelGroup.ID)</td>
                <td>@Html.DisplayFor(model => model.ModelGroup.ID)</td>
            </tr>
            <tr>
                <td class="editor-label">
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.ModelGroup.Code)
                    </div>
                </td>
                <td class="editor-field">
                    @Html.TextBoxFor(model => model.ModelGroup.Code, new { @style = "width:100px" })
                    @Html.ValidationMessageFor(model => model.ModelGroup.Code)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.ModelGroup.Name)
                </td>
                <td class="editor-field">
                    @Html.TextBoxFor(model => model.ModelGroup.Name, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.ModelGroup.Name)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.ModelGroup.Description)
                </td>
                <td class="editor-field">
                    @Html.TextBoxFor(model => model.ModelGroup.Description, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.ModelGroup.Description)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.ModelGroup.Type)
                </td>
                <td class="editor-field">
                    @Html.TextBoxFor(model => model.ModelGroup.Type, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.ModelGroup.Type)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px;">
                        @Html.LabelFor(model => model.ModelGroup.PgmBdlPckComponentID)</div>
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => model.ModelGroup.PgmBdlPckComponentID).BindTo(Util.GetPkgCompList(Settings.Default.Bundle_Package, defaultValue: "")))
                    @Html.ValidationMessageFor(model => model.ModelGroup.PgmBdlPckComponentID)
                    @Html.HiddenFor(model => model.ModelGroup.PgmBdlPckComponentID)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ModelGroup.MinModel)
                </td>
                <td>
                    @Html.Telerik().IntegerTextBoxFor(model => model.ModelGroup.MinModel).InputHtmlAttributes(new { @style = "width:50px" })
                    @Html.ValidationMessageFor(model => model.ModelGroup.MinModel)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ModelGroup.IsMandatory)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.ModelGroup.IsMandatory)
                    @Html.ValidationMessageFor(model => model.ModelGroup.IsMandatory)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ModelGroup.CreateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ModelGroup.CreateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.ModelGroup.CreateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ModelGroup.LastUpdateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ModelGroup.LastUpdateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.ModelGroup.LastUpdateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ModelGroup.LastAccessID)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ModelGroup.LastAccessID, new { @readonly = true, @disabled = true, @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ModelGroup.Active)
                </td>
                <td class="editor-field">
                    @Html.CheckBoxFor(model => model.ModelGroup.Active) 
                    @Html.ValidationMessageFor(model => model.ModelGroup.Active)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <input type="hidden" id="submit" name="submit" />
        <button runat="server" class="t-button t-button-icontext" type="submit" value="Add" onclick="$('#submit').val('Save');">
           <span class="t-icon t-update"></span>Save
        </button>
        <button class="t-button t-button-icontext cancel" type="submit" value="Cancel" onclick="$('#submit').val('Cancel');">
            <span class="t-icon t-cancel cancel"></span>Cancel
        </button>
    </div>
    if (Model.ModelGroup.Active == true)
    {
    <br />
    <div class="header">
        <h3>Model Group Model List</h3>
    </div>
    <a class="t-button t-button-icontext" href="@Url.Action("Create", "ModelGroupModel", new { modelGroupID = Model.ModelGroup.ID, type = RefType.ModelGroup })">
        <span class="t-icon t-add"></span>Add New</a>
    <br /><br />
    @Html.HiddenFor(model => model.ModelGroup.ID)
        Html.Telerik().Grid<ModelGroupModelSearchResults>(Model.ModelGroupModel).Name("gvwMGM")
            .Sortable()
            .Columns(cols =>
            {
                cols.Command(command => command
                    .Custom("Edit")
                    .Text("Edit")
                    .DataRouteValues(route => route.Add(a => a.ModelGroupModelID).RouteKey("id"))
                    .DataRouteValues(route => route.Add(a => a.Type).RouteKey("type"))
                    .SendState(false)
                    .Action("Edit", "ModelGroupModel"))
                    .HtmlAttributes(new { style = "text-align: center" })
                    .Width(90)
                    .Title("Action");
                cols.Bound(m => m.Name).Title("Name").Width(200);
                cols.Bound(m => m.Model).Title("Model");
                cols.Bound(m => m.ActiveCheckBox).Title("Active").Width(8).Encoded(false);
                cols.Bound(m => m.CreateDT).Title("Created On");
                cols.Bound(m => m.LastUpdateDT).Title("Last Updated");
                cols.Bound(m => m.LastAccessID).Title("Last Access");
            })
            .DataBinding(binding => binding.Ajax().OperationMode(GridOperationMode.Client))
            .Pageable(paging => paging.PageSize(Util.GridRowsPerPage))
            .Render();
    }
}
