﻿@using Online.Registration.Admin.Models;
@using Online.Registration.Web.Helper;
@using Online.Registration.DAL.Models;

@model SearchViewPackageTypeModel

@{
    ViewBag.Title = "Package Type";
    string strForm = "frmPackageType";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
    <a class="t-button t-button-icontext" href="@Url.Action("Create")"><span class="t-icon t-add">
    </span>Add New</a>
</div>
<br />
@using (Html.BeginForm("Index", "PackageType", FormMethod.Post, new { id = strForm, name = strForm }))
{
    <fieldset runat="server">
        <legend style="margin-right: 500px">Search:</legend>
        <table>
            <tr>
                <td class="label-field">
                    <div style="width: 100px">
                        @Html.LabelFor(m => m.SearchCriterias.Code)</div>
                </td>
                <td colspan="2">
                    @Html.TextBoxFor(m => m.SearchCriterias.Code, new { @style = "width:200px" })
                </td>
            </tr>
            <tr>
                <td class="label-field">
                    @Html.LabelFor(m => m.SearchCriterias.Name)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.SearchCriterias.Name, new { @style = "width:200px" })
                </td>
            </tr>
        </table>
    </fieldset>
@*</div>*@
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icontext" type="submit" value="Search" name="Search">
            <span class="t-icon t-search"></span>Search</button>
            <button class="t-button t-button-icontext" type="button" value="Reset" onclick="Reset();">
            <span class="t-icon t-cancel"></span>Reset</button>
    </div>
    <br />
    
    <text><b>Search Result:</b></text>
        Html.Telerik().Grid<PackageTypeSearchResults>(Model.SearchResults).Name("gvwPT")
        .Sortable()
        .Columns(cols =>
        {
            cols.Command(command => command
              .Custom("Edit")
              .Text("Edit")
              .DataRouteValues(route => route.Add(a => a.PackageTypeID).RouteKey("id"))
              .SendState(false)
              .Action("Edit", "PackageType"))
              .HtmlAttributes(new { style = "text-align: center" })
              .Title("Action")
              .Width(90);
            cols.Bound(m => m.Code).Title("Code");
            cols.Bound(m => m.Name).Title("Name");
            cols.Bound(m => m.ActiveCheckBox).Title("Active").Encoded(false);
            cols.Bound(m => m.CreateDT).Title("Created On");
            cols.Bound(m => m.LastUpdateDT).Title("Last Updated");
            cols.Bound(m => m.LastAccessID).Title("Last Access");
        })
        .DataBinding(binding => binding.Ajax().OperationMode(GridOperationMode.Client))
        .Pageable(paging => paging.PageSize(Util.GridRowsPerPage))
        .Render();
}
@section scripts
{
     <script language="javascript" type="text/javascript">
         function Reset() {
             var code = $('#SearchCriterias_Code');
             var name = $('#SearchCriterias_Name');

             code.val('');
             name.val('');
         }
     </script>
}
