﻿@* Import view for Service Request css and js *@
<link rel="stylesheet" href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")">
<link rel="stylesheet" href="@Url.Content("~/Content/assets/stylesheets/datatables.min.css")">
<link rel="stylesheet" href="@Url.Content("~/Content/assets/stylesheets/srstyles.css")">
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/jquery-migrate-1.2.1.min.js")"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/jquery-ui-1.8.21.min.js")"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Content/assets/js/vendor/datatables.min.js")"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Content/assets/js/vendor/jquery.maskedinput.min.js")"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/jSignature.min.js")"></script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Content/assets/js/srscript.js")"></script>