﻿@using Online.Registration.Web.CustomExtension
@using Online.Registration.Web.Helper
@using Online.Registration.Web.ViewModels.Inteface

@model Online.Registration.Web.ViewModels.Inteface.INetworkPrint
<div class="modal fade" id="networkPrint-pop" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    @Html.HiddenFor(n=>n.PrintOrderId)
    @Html.HiddenFor(n=>n.PrinterName)
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span class="close-btn">Close</span>
                </button>
            </div>
            <div id="network-print">
                <div class="modal-body">
                    <div class="sm-col-12">
                        <div>Select your printer</div>
                    </div>
                    <div class="sm-col-12">
                        <p class="inner-label">&nbsp;</p>
                    </div>
                    <div class="sm-col-12">
                        <div class="input-group-btn">
                            @Html.CustomDropDownListFor(m => m.PrinterId, Model.GetPrinters)
                        </div>
                    </div>
                    <ul class="sm-col-12 kill-padding cancel-step">
                        <a href="#" class="pop-btn" onclick="networkPrint()">
                            <li class="sm-col-6">Print</li>
                        </a>
                    </ul>
                </div>
                <div class="modal-footer">
                </div>
            </div>
            <div id="network-print-success" style="display:none">
                <div class="modal-body">
                    <h2>
                        Successfully Printed at printer <span id="printerName"></span>
                    </h2>
                </div>
            </div>
            <div id="network-print-fail" style="display:none">
                <div class="modal-body">
                    <h2>
                        <p id="errorMsg" style="color:red"></p>
                        <span>Please </span>
                        <a style="color: Blue" href="@Model.PreviewPrintUrl" target="_blank">click here
                        </a><span>to print via Print Preview </span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#networkPrint-pop').on('hidden.bs.modal', function () {
        resetForm();
    })
    function resetForm() {
        //Reset form for next action
        $("#network-print").show();
        $("#network-print-fail").hide();
        $("#network-print-success").hide();
        $("#errorMsg").text("");
        var first = $($("#@Html.IdFor(n=>n.PrinterId)Button + ul.dropdown-menu a").first());
        window["select" + "@Html.IdFor(n=>n.PrinterId)" + "Value"](first)
        $("#@Html.IdFor(n=>n.PrinterName)").val("");
    }
    function networkPrint() {
        if ($("#@Html.IdFor(n=>n.PrinterId)").val() == "") {
            alert('Please select the printer');
            return;
        }
        var Url = "@Model.NetworkPrintUrl";
        var printerName = $("#@Html.IdFor(n=>n.PrinterId)Button").text();
        //Pass to server
        $("#@Html.IdFor(n=>n.PrinterName)").val(printerName);
        //Display name in success message
        $("#printerName").text(printerName);
        $.ajax({
            type: "POST",
            data: $("#networkPrint-pop :input").serialize(),
            url: Url,
            success: function (data) {
                if (data.Success) {
                    $("#network-print").hide();
                    $("#network-print-success").show();
                } else {
                    $("#errorMsg").text(data.ErrorMessage);
                    $("#network-print").hide();
                    $("#network-print-fail").show();
                }
            },
            error: function (request, status, err) {
                $("#network-print").hide();
                $("#network-print-fail").show();
            }
        });
    };
</script>
