﻿<div class="modal fade" id="cancel-pop" tabindex="-1" role="dialog" aria-labelledby="plan-details" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content cancel-step">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span class="close-btn">Close</span></button>
            </div>
            <div class="modal-body">
                <div class="sm-col-12">
                    Do you want to cancel this order ?
                </div>
                <ul class="sm-col-12 kill-padding">
                    <a href="#" class="pop-btn" onclick="window.location.href='@Url.Action("NewOrderSummaryCancel")'">
                        <li class="sm-col-6">Yes </li>
                    </a>
                    <a href="#" class="pop-btn" onclick="$('#cancel-pop').modal('hide');">
                        <li class="sm-col-6">No </li>
                    </a>
                </ul>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
