﻿@using Online.Registration.Web.CustomExtension
@using Online.Registration.Web.ViewModels.Common
@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.Base.SRViewOrderVM

@functions{
    object getStatusDropdownHtmlAttr()
    {
        if (!Model.CanEdit)
            return new { @disabled = "disabled" };
        return null;
    }
    object getInputHtmlAttr(){
        if (!Model.CanEdit)
            return new { @class = "form-control", @disabled = "disabled" };
        return new { @class = "form-control" };
    }
    object getStatusDisplayCss(){
        if (Model.LockByOther)
            return "redfront";
        return "";
    }
    object getLockLabelCss(){
        if (Model.LockByOther || Model.CanEdit)
            return "redfront";
        return "";
    }
}
@helper renderEditMode(){
    <div class="row">
        <div class="col-sm-12 border-top">
            <p class="details-title">Update Order Status</p>
        </div>
        <div class="col-sm-2">
            <p class="inner-label">Lock Status</p>
        </div>
        <div class="col-sm-3">
            <p class="inner-content">: &nbsp; 
                <span class="@getStatusDisplayCss()">@Html.DisplayFor(n => n.LockStatusDisplay)</span>
            </p>
        </div>
        <div class="col-sm-1">
            <p class="inner-label">&nbsp;</p>
        </div>
        <div class="col-sm-6">
            <p class="inner-content stock-checkbox-container">
                &nbsp;
                @Html.CheckBoxFor(n=>n.IsLocked,new {@onchange="changeLock()",@class="stock-checkbox"})
                <label for="@Html.IdFor(n=>n.IsLocked)" class="stock-label @getLockLabelCss()">@Model.IsLockedLabel</label>
                <input type="submit" id="checkboxSubmit" value="submit" style="display:none;" />
            </p>
        </div>
        <div class="col-sm-2">
            <p class="inner-label">Update Order Status</p>
        </div>
        <div class="col-sm-4">
            <div class="inner-content">
            : &nbsp; <div class="input-group-btn" style="display:inline-block; width:150px;">
                @Html.CustomDropDownListFor(model => model.Status, StaticListVM.Instance.SRStatusList, @getStatusDropdownHtmlAttr())</div>
            </div>
        </div>
        <div class="col-sm-1">
            <p class="inner-label">Remarks</p>
        </div>
        <div class="col-sm-5">
            <div class="inner-content" style="display:flex">
            : &nbsp; @Html.TextAreaFor(m => m.Remarks, @getInputHtmlAttr())
            </div>
        </div>
        <div class="clearfix"></div>
        @Html.Partial("_ViewOrderEditStatusAccountNo",Model)
        <div class="col-sm-12">&nbsp;</div>
    </div>
}
@if(Model.IsNew){
    @renderEditMode()
}
<script type="text/javascript">
    function changeLock() {
        //change action to changeLock
        injectFormSubmit($('form'),"@Url.Action("ChangeLock")", function () {
            $("#checkboxSubmit").click();
        });
    };
</script>