﻿@using Online.Registration.Web.CustomExtension
@using Online.Registration.Web.Helper

@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.Base.SRViewOrderWithCustVM

<div class="row details">
    <div class="col-sm-6">
        <div class="col-sm-12 kill-padding">
            <p class="inner-title">Customer Information</p>
        </div>
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Name</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.CustName)</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">ID Type</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Model.CustIDTypeId.ToIdCardTypeDesc()</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">ID Num</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.CustIDCardNumber)</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">DOB</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Util.FormatDate(Model.CustDateOfBirth)</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Gender</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Model.CustGender.ToGenderDesc()</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Preferred Language</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Model.CustLanguageId.ToLangaugeDesc()</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Nationality</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Model.CustNationalityId.ToNationalityDesc()</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Race</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Model.CustRaceId.ToRaceDesc()</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Email</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.CustEmail)</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Contact Number</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">(P) @Html.DisplayFor(n => n.CustContactNumber)</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">&nbsp</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">(S) @Html.DisplayFor(n => n.CustAltContactNumber)</p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-12 kill-padding">
            <p class="inner-title">Billing Address</p>
        </div>
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Primary Address</p>
        </div>
        <div class="col-sm-2 hidden-xs">:</div>
        <div class="col-sm-6">
            <p class="inner-content">
                @CustomHtmlHelper.RenderAddress(
                    Html,
                    Model.CustAddressLine1,
                    Model.CustAddressLine2,
                    Model.CustAddressLine3,
                    Model.CustAddressPostCode,
                    Model.CustAddressCity,
                    Model.CustAddressState
                )
            </p>
        </div>
    </div>
</div>