﻿@using Online.Registration.Web.Helper
@using Online.Registration.Web.CustomExtension
@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.Base.SRSummaryVM

@using (Html.BeginForm("NewOrderSummary", Model.CurrentController, FormMethod.Post, new { id = "frmCorpSimRepNewOrderSummary", enctype = "multipart/form-data", autocomplete = "off", autoCompleteType = "disable", @class = "overlayonsubmit", processmsg = "Loading" })){
<div class="container ipad-container">
    <div class="isell-base">
        <div class="row">
            <div class="col-sm-10">
                <h2 style="padding-left: 15px;">New Registration:</h2>
                <h4 style="padding-left: 15px;">@Html.DisplayFor(n => n.HeaderCustName)</h4>
            </div>
            <div class="col-sm-1" style="right: 5px;">
                @Html.DisplayFor(n => n.NewOrder.BreErrors, "BreTooltip")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 green-bg">
                <p class="font-24">@Model.RequestTypeDisplay</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="steps" style="width: 300px;">
                    <li class="shownum">
                        <div class="num">1</div>
                        <p>My Details</p>
                    </li>
                    <li>
                        <div class="line"></div>
                    </li>
                    <li class="shownum">
                        <div  class="selected">2</div>
                        <p>Summary</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 border-top">
                <p class="summary-title">Summary</p>
                @Html.Partial("_ValidationSummary")
            </div>
        </div>
        <div class="row"></div>
        <!--Start Summary Detail-->
        @Html.Partial("_NewOrderSummaryDetail", Model)
        <!--Start Navigation-->
        <footer class="nav-footer">
            <navi>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-1" id="back">
                            <div class="btn isell-btn" onclick="window.location.href='@Url.Action("NewOrderSummaryBack")'">&lt; Back</div>
                        </div>
                        <div class="col-sm-9" id="cancel">
                            <div class="btn isell-btn" data-toggle="modal" data-target="#cancel-pop">&lt; Cancel</div>
                        </div>
                        <div class="col-sm-2">
                            <div class="btn isell-next" id="nextButton" onclick="$('#submitBtn').click()">Submit<span>&gt;</span></div>
                            <input type="submit" value="Next" id="submitBtn" class="btn btn-default" style="display:none;" />
                        </div>
                    </div>
                </div>
            </navi>
        </footer>
    </div>
</div>
<!--Start modal section-->
@*<div class="modal" id="@Html.IdFor(n=>n.TermAndCondition.Agreed)_Modal" tabindex="-1" role="dialog" aria-labelledby="@Html.IdFor(n=>n.TermAndCondition.Agreed)_Modal" aria-hidden="true">
    @Html.EditorFor(n=>n.TermAndCondition,"TermAndCondition")
</div>*@
@Html.Partial("_SummaryCancelModel")
<!--End modal section-->
}
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/col.css")"  media="all" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/4cols.css")" media="all" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/tabcontent.css")" media="all" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/jquery-ui/jquery.ui.all.css")" />