﻿@using Online.Registration.Web.CustomExtension

@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.Common.SRSubmitResultUploadVM

@helper RenderQueueNoMsg()
{
    if (!String.IsNullOrEmpty(Model.QueueNo)){
        <p class="bold-16">Your queue number is:</p>
        <p class="num-q">@Model.QueueNo</p>
    }
}
@helper renderPrintButton(){
    if (Model.AllowPrint)
    {
    <li id="printOrder" class="col-sm-4" onclick="window.open('@Url.Action("PrintOrder", new { id = @Model.OrderId })','_blank')">
        <div class="option-box">
            <div class="print"></div>
            <h2>Print Order</h2>
        </div>
    </li>
    }
}
@using (Html.BeginForm("NewOrderSuccessUpload", "Common", FormMethod.Post, new { id = "frmNewOrderSuccessUpload", enctype = "multipart/form-data", autocomplete = "off", autoCompleteType = "disable", @class = "overlayonsubmit", processmsg = "Loading" })){
    @Html.HiddenFor(n=>n.OrderId)
    @Html.HiddenFor(n=>n.RegFormFile)
    @Html.HiddenFor(n=>n.RegFormFileName)
    @Html.HiddenFor(n=>n.RequestType)
    <div class="container" id="new-cus">
        <div class="isell-base-2">
            <div class="row">
                <div class="col-sm-12">
                    <h2>New registration:</h2>
                    <h4></h4>
                    @Html.ValidationSummary(false,"", new {@class="err-container" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 green-bg">
                    <p class="font-24">@Html.DisplayFor(n=>n.HeaderName)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 success">
                    <h1>Registration is missing signature. Please print and upload the registration form.</h1>
                    <p>Registration has been submitted successfully.</p>
                    @RenderQueueNoMsg()
                </div>
                <ul class="col-sm-11 home">
                    @renderPrintButton()
                    <li class="col-sm-4">
                        <div class="option-box" style="height: 135px;">
                            <label class="fileLabel" style="display: none; margin-top: 78px;">
                                    <div style="display: none">
                                        <input accept="jpg|png|gif|jpeg|bmp|tiff;capture=camera"
                                            id="UploadDoc_regFrmFileSelector" 
                                            file-store-id="@Html.IdFor(n=>n.RegFormFile)" 
                                            file-name-id="@Html.IdFor(n=>n.RegFormFileName)" 
                                            file-name-display-id="regFormFileName"
                                            name="UploadDoc.OtherIdFile" type="file">
									</div>
								<div class="upload-btn" id="btnUpload" style="height: 133px;margin-top: -100px;">
									<h2 style="cursor: pointer;">
                                    <img alt="Print" src='@Url.Content("~/Content/images/UploadDrop4.png")' style="border:0;width: 55px;margin-top: 23px;" /><br /><br />
                                        Upload the registration form.</h2>
								</div>
							</label>
                        </div>
                    </li>
                    <li class="col-sm-4">
                        <div class="option-box" style="height: 135px; background: none; border: 0">
                            <div id="id-upload-filesFront" style="width: auto; padding-top: 5px;">
                                <p class="file-label" id="regFormFileName-container" style="display: none; text-align:left; width: auto; white-space: nowrap; font-family: 'frutigerroman'; font-size: 18px;">
                                    <label id="regFormFileName" style="display: inline-block; margin-top: 10px; max-width: none;"></label>
                                    <img onclick="clearUploadDoc($('#UploadDoc_regFrmFileSelector'));" class="removeUploadedDoc" id="btnClearFrontDoc" />
                                </p>
                            </div>
                            <input id="submitDocument" class="btn orderSummBtn" type="submit" value="Submit" style="display: none; width: 155px; margin-top: 15px; font-size: 15px;" />
                            <div class="clearfix">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}
@section Scripts{
    <script type="text/javascript">
       $(document).ready(function () {
            $(function () {
                var url = '@(Url.Content("~/Registration/UploadImageNew"))';
                var formdata = false;
                $("#UploadDoc_regFrmFileSelector").change(function (event) {
                    debugger;
                    var fileStoreElement = $("#" + $(this).attr("file-store-id"));
                    var fileNameElement = $("#" + $(this).attr("file-name-id"));
                    var fileNameDisplayElement = $("#" + $(this).attr("file-name-display-id"));
                    var containerElement = $("#" + $(this).attr("file-name-display-id") + "-container");
                    //validation for upload images -ram
                    var ext = $(this).val().split('.').pop().toLowerCase();
                    if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg', 'tiff', 'bmp']) == -1) {
                        event.preventDefault();
                        alert('Please upload valid image!');
                        clearUploadDoc($(this));
                        return false;
                    }

                    if (window.FormData !== undefined) {
                        var i = 0,
                            len = this.files.length,
                            img, reader, file;
                        formdata = false;
                        ///Check for FormData support in browser
                        if (window.FormData) {
                            formdata = new FormData();
                        }
                        ///Check if length greater than 0 then only proceed
                        if (len > 0) {
                            file = this.files[0];

                            if (window.FileReader) {
                                ///Append the file object to post the file request to server side
                                if (formdata) {
                                    formdata.append("default_export_filename", file);
                                }

                                ///Post the file details to server side script
                                if (formdata) {
                                    $.ajax({
                                        url: url,
                                        type: "POST",
                                        data: formdata,
                                        processData: false,
                                        contentType: false,
                                        success: function (Data) {
                                            //Assign the processed imageUrl returned from the server side to imgCustPhoto img
                                            $(this).attr("src", Data.imageUrl).fadeIn();
                                            fileStoreElement.val(Data.imageUrl);
                                            fileNameElement.val(file.name);
                                            fileNameDisplayElement.text(file.name);
                                            containerElement.css('display', 'block');
                                            $("#submitDocument").css('display', 'block');
                                        },
                                        error: function (xhr, err) {
                                            ///WHOEVER INTEGRATES THE CODE PLEASE UNCOMMENT THE BELOW CODE IN CASE OF UNEXPECTED RESULTS.                        
                                            //alert("readyState: "+xhr.readyState+"\nstatus: "+xhr.status);
                                            //alert("responseText: "+xhr.responseText);
                                        }
                                    });
                                }
                            }
                        }
                    }
                }); // EOF
            });
       });
        function clearUploadDoc(e) {
            var fileStoreElement = $("#" + e.attr("file-store-id"));
            var fileNameElement = $("#" + e.attr("file-name-id"));
            var fileNameDisplayElement = $("#" + e.attr("file-name-display-id"));
            var containerElement = $("#" + e.attr("file-name-display-id") + "-container");
            fileStoreElement.val('');
            fileNameElement.val('');
            containerElement.css('display', 'none');
            fileNameDisplayElement.text('');
            $("#submitDocument").hide();
        }
        $("#UploadDoc_regFrmFileSelector").each(function (index) {
            var fileNameElement = $("#" + $(this).attr("file-name-id"));
            var fileNameDisplayElement = $("#" + $(this).attr("file-name-display-id"));
            var containerElement = $("#" + $(this).attr("file-name-display-id") + "-container");
            //Display file name if hidden value shown value
            if (fileNameElement.val() != "") {
                fileNameDisplayElement.text(fileNameElement.val());
                containerElement.css('display', 'block');
                $("#submitDocument").css('display', 'block');
            }
        });
    </script>
}