﻿@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.Common.SRSubmitResultVM

@helper renderPrintButton(){
    if (Model.AllowPrint)
    {
    <li id="printOrder" class="col-sm-4" onclick="window.open('@Url.Action("PrintOrder", new { id = @Model.OrderId })','_blank')">
        <div class="option-box">
            <div class="print"></div>
            <h2>Print Order</h2>
        </div>
    </li>
    }
}
@using (Html.BeginForm("NewOrderSuccess", "Common", FormMethod.Post, new { id = "frmNewOrderSuccess", enctype = "multipart/form-data", autocomplete = "off", autoCompleteType = "disable", @class = "overlayonsubmit", processmsg = "Loading" }))
{
<div class="container" id="new-cus">
    <div class="isell-base-2">
        <div class="row">
            <div class="col-sm-12">
                <h2>New registration:</h2>
                <h4></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 green-bg">
                <p class="font-24">@Html.DisplayFor(n => n.HeaderName)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 success">
                <h1>Your Order has been submitted.</h1>
            </div>
            <ul class="col-sm-11 home">
                <li id="viewOrder" class="col-sm-4" onclick="window.location.href='@Url.Action("ViewOrder", new { id = @Model.OrderId })'">
                    <div class="option-box">
                        <div class="view-order"></div>
                        <h2>View Order</h2>
                    </div>
                </li>
                @renderPrintButton()
                <li id="home" class="col-sm-4" onclick="window.location.href='@Url.Action("index", "Home", new { area = "" })'">
                    <div class="option-box">
                        <div class="back-home"></div>
                        <h2>Home</h2>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
}