﻿@using Online.Registration.Web.CustomExtension

@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.Base.SRViewOrderVM

@helper renderSubmitButton(){
    if(Model.CanEdit){
        <div class="btn isell-next" onclick="clickSubmit(event)">Submit<span>&gt;</span></div>
        <div id="submitPopup" data-toggle="modal" data-target="#submit-confirm-pop" style="display:none"></div>
        <script type="text/javascript">
            function clickSubmit(e) {
                if ($("form").valid()) {
                    e.preventDefault();
                    $("#submitPopup").click();
                } else {
                    $('#submitBtn').click();//trigger error
                }
            }
        </script>
    }
}

@helper renderDownloadDocButton(){
    if(Model.HasDocument){
        <div class="col-sm-12">&nbsp;</div>
        <div class="col-sm-3"><p class="inner-label">Customer ID & Other Documents</p></div>
        <div class="col-sm-9">
            : &nbsp;<div class="btn isell-btn" onclick="downloadDoc()">Download Document</div>
        </div>
        <input type="submit" id="downloadDoc" value="submit" style="display:none;" />
        <script type="text/javascript">
            function downloadDoc() {
                injectFormSubmit($('form'), "@Url.Action("DownloadDocuments",new {id=Model.OrderId})", function () {
                    $("#downloadDoc").click();
                    var tm = setTimeout(function () {
                        $.unblockUI();
                        clearTimeout(tm);
                    }, 1000);
                });
            }
        </script>
    }
}

@helper renderPrintButton(){
    if (Model.CanPrint)
    {
    <div class="col-sm-6" style="text-align: right;">
        <div style="padding:0 15px;width:104px;" class="btn isell-btn" onclick="window.open('@Url.Action("PrintOrder", new { id = @Model.OrderId })','_blank')">
            <div class="print"></div>
            Print
        </div>
        <div style="padding: 0 15px; width: 167px;" class="btn isell-btn" data-toggle="modal" data-target="#networkPrint-pop">
            <div class="print"></div>
            Network Print
        </div>
    </div>
    }
}
@using (Html.BeginForm("ViewOrder",Model.CurrentController, FormMethod.Post, new { id = "frmSRViewOrder", enctype = "multipart/form-data", autocomplete = "off", autoCompleteType = "disable", @class = "overlayonsubmit", processmsg = "Loading" }))
{   
    <div class="container ipad-container" id="fullForm">
        <div class="isell-base sr-theme">
            <div class="row">
                <div class="col-sm-10">
                    <h2 style="padding-left: 15px;">New Registration:</h2>
                    <h4 style="padding-left: 15px;">@Html.DisplayFor(n => n.HeaderCustName)</h4>
                </div>
                <div class="col-sm-1" style="right: 5px;">
                    @*@Html.DisplayFor(n=>n.BreErrors,"BreTooltip")*@
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 green-bg">
                    <p class="font-24">@Model.RequestTypeDisplay</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @Html.Partial("_ValidationSummary")
                </div>
            </div>
            <!--Start Customer Order Summary-->
            <div class="row">
                <div class="col-sm-12 nopadding">
                    <div class="col-sm-12">
                        <div class="col-sm-6 nopadding">
                            <p class="details-title">Customer Order Summary</p>
                        </div>
                        @renderPrintButton()
                    </div>
                    <div class="col-sm-2">
                        <p class="inner-label">SR No.</p>
                    </div>
                    <div class="col-sm-4">
                        <p class="inner-content">: &nbsp; @Html.DisplayFor(n => n.OrderId)</p>
                    </div>
                    <div class="col-sm-2">
                        <p class="inner-label">Queue No.</p>
                    </div>
                    <div class="col-sm-4">
                        <p class="inner-content">: &nbsp; @Model.QueueNo</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-2">
                        <p class="inner-label">Order Status</p>
                    </div>
                    <div class="col-sm-10">
                        <p class="inner-content">: &nbsp; @Model.StatusDisplay</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-2">
                        <p class="inner-label">Remarks</p>
                    </div>
                    <div class="col-sm-10">
                        <p class="inner-content">: &nbsp; @Model.Remarks</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12">&nbsp;</div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--End Customer Order Summary-->
            <!--Start Update Section-->
            @Html.Partial("_ViewOrderEditStatus",Model)
            <!--End Update Section-->

            @Html.Partial("_ViewOrderDisplayContent",Model)

            <!--Start Customer documents-->
            <div class="row">
                <div class="col-sm-12 border-top">
                    <p class="details-title">
                        Customer ID and Documents
                    </p>
                </div>
                <div class="col-sm-3">
                    <p class="inner-label">Justification</p>
                </div>
                <div class="col-sm-9">
                    <p class="inner-content">
                        : &nbsp; @Model.Justification
                    </p>
                </div>
                @renderDownloadDocButton()
            </div>
            <!--End Customer documents-->
            <div class="col-sm-12">&nbsp;</div>
            <div class="clearfix"></div>
            <!--Start Footer-->
            <div class="row">
                <div class="col-sm-12 process-btn-2">
                    <footer>
                        <navi>
                            <div class="container-fluid">
                                <div class="row">
                                <div class="col-sm-10" id="cancel">
                                    <div class="btn isell-btn" onclick="location.href='@Url.Action("ViewRequestList", "Dashboard")'">&lt; Back</div>
                                </div>
                                <div class="col-sm-2">
                                    @renderSubmitButton()
                                </div>
                                </div>
                            </div>
                        </navi>
                    </footer>
                </div>
            </div>
            <!--End Footer-->
        </div>
    </div>
    <!--Start modal section-->
    @Html.Partial("_SubmitConfirmModel")
    @Html.Partial("_NetworkPrintModel")
}
<script type="text/javascript">
    $(document).ready(function () {
        $('form').on('keyup keypress', function (e) {
            //prevent form submit on key enter
            var code = e.keyCode || e.which;
            if (code == 13) {
                e.preventDefault();
                return false;
            }
        });
    });
</script>