﻿@using Online.Registration.Web.Helper;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

@{
    Html.Telerik().StyleSheetRegistrar()
        .DefaultGroup(g => g
            .Add("telerik.common.css")
            .Add("telerik.office2010silver.min.css")
            .Add("Site.css")
        ).Render();
}

    @RenderSection("Styles", false)
</head>
<body>
    <div id="leftMenuBar">
        <div>
            @Html.ActionLink("Plan", "SelectPlan", "Registration", new { fromMenu = true }, null)
            @Html.ActionLink("Device - Plan", "SelectPhone", "Registration", new { fromMenu = true }, null)
        </div>
    </div>
    <div id="viewBody">
        @RenderBody()
    </div>

    @{                    
        Html.Telerik()
            .ScriptRegistrar()
            .DefaultGroup(grp => grp
                .Add("jquery.validate.min.js")
                .Add("jquery.validate.unobtrusive.min.js")
                .Add("jquery.unobtrusive-ajax.js")
                .Add("jquery-ui-1.8.20.min.js")
                .Add("modernizr-2.5.3.js")
            ).Render();
    }

    <script type="text/javascript">
        function numbersonly(e, decimal) {
            var key;
            var keychar;

            if (window.event) {
                key = window.event.keyCode;
            }
            else if (e) {
                key = e.which;
            }
            else {
                return true;
            }
            keychar = String.fromCharCode(key);

            if ((key == null) || (key == 0) || (key == 8) || (key == 9) || (key == 13) || (key == 27)) {
                return true;
            }
            else if ((("0123456789").indexOf(keychar) > -1)) {
                return true;
            }
            else if (decimal && (keychar == ".")) {
                return true;
            }
            else {
                return false;
            }
        }

        function isNumber(s) {
            return /^-?\d+$/.test(s);
        }
    </script>

    @RenderSection("Scripts", false)
</body>
</html>
