﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Admin.Models

@model StatusReasonCodeViewModel

@{
    ViewBag.Title = "Add Status Reason Code";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Add:</legend>
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.StatusReasonCode.StatusID)
                </td>
                <td>
                    @if (RefType.StatusReason == Model.Type)
                    {
                        @(Html.Telerik().DropDownListFor(model => model.StatusReasonCode.StatusID).BindTo(Util.GetList(RefType.Status, defaultValue:"")))
                        @Html.ValidationMessageFor(model => model.StatusReasonCode.StatusID)
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.StatusID, new { @disabled = true, @Value = Util.GetNameByID(RefType.Status, Model.StatusID), @style = "width:250px" }) 
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.StatusReasonCode.ReasonCodeID)
                </td>
                <td>
                    @if (RefType.Status == Model.Type)
                    {
                        @(Html.Telerik().DropDownListFor(model => model.StatusReasonCode.ReasonCodeID).BindTo(Util.GetList(RefType.StatusReason, defaultValue: "")))
                        @Html.ValidationMessageFor(model => model.StatusReasonCode.ReasonCodeID)
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.StatusReasonID, new { @disabled = true, @Value = Util.GetNameByID(RefType.StatusReason, Model.StatusReasonID), @style = "width:250px" }) 
                    }
                </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.StatusReasonCode.Remark)
                </td>
                <td>
                    @Html.TextAreaFor(model => model.StatusReasonCode.Remark, new { style = "width:250px" }) 
                    @Html.ValidationMessageFor(model => model.StatusReasonCode.Remark)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" name="submit" value="Save">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
}