﻿@using Online.Registration.Admin.Models;
@using Online.Registration.Web.Helper;
@using Online.Registration.DAL.Models;

@model SearchViewModelStatusReasonCode

@{
    ViewBag.Title = "Status Reason Code";
    string strForm = "frmStatusReasonCode";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
    <a class="t-button t-button-icontext" href="@Url.Action("Create")"><span class="t-icon t-add">
    </span>Add New</a>
</div>
<br />
@using (Html.BeginForm("Index", "StatusReasonCode", FormMethod.Post, new { id = strForm, name = strForm }))
{
    <fieldset runat="server">
        <legend style="margin-right: 500px;">Search:</legend>
        <table>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(m => m.SearchCriterias.StatusID)</div>
                </td>
                <td>
                   @(Html.Telerik().DropDownListFor(model => Model.SearchCriterias.StatusID).BindTo(Util.GetList(RefType.Status)))
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px">
                       @Html.LabelFor(m => m.SearchCriterias.ReasonCodeID)</div>
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => Model.SearchCriterias.ReasonCodeID).BindTo(Util.GetList(RefType.StatusReason)))
                </td>
            </tr>
        </table>
    </fieldset>
@*</div>*@
   <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icontext" type="submit" value="Search" name="Search">
            <span class="t-icon t-search"></span>Search</button>
            <button class="t-button t-button-icontext" type="button" value="Reset" onclick="Reset();">
            <span class="t-icon t-cancel"></span>Reset
        </button>
   </div>
   <br /> 

    <text><b>Search Result:</b></text>   
    Html.Telerik().Grid<StatusReasonCodeSearchResults>(Model.SearchResults).Name("gvwStatusReasonCode")
        .Sortable()
        .Columns(cols => 
        {
            cols.Command(command => command
                .Custom("Edit")
                .Text("Edit")
                .DataRouteValues(route => route.Add(a => a.StatusReasonCodeID).RouteKey("id"))
                .SendState(false)
                .Action("Edit", "StatusReasonCode"))
                .HtmlAttributes(new { style = "text-align: center" })
                .Width(90)          
                .Title("Action");
                cols.Bound(m => m.Status).Title("Status").Width(200);
                cols.Bound(m => m.ReasonCode).Title("Reason Code");
                cols.Bound(m => m.Remark).Title("Remark");
                cols.Bound(m => m.ActiveCheckBox).Title("Active").Width(8).Encoded(false);
                cols.Bound(m => m.CreateDT).Title("Created On");
                cols.Bound(m => m.LastUpdateDT).Title("Last Updated");
                cols.Bound(m => m.LastAccessID).Title("Last Access");
            }).DataBinding(databinding => databinding.Ajax().Select("IndexPaging", "StatusReasonCode", new
            {
                StatusID = Model.SearchCriterias.StatusID,
                ReasonCodeID = Model.SearchCriterias.ReasonCodeID
            }))
            .Pageable(paging => paging.PageSize(Util.GridRowsPerPage))
                .Render();
 }
@section scripts
{
    <script type="text/javascript">

        function Reset() {
            var StatusID = $("#SearchCriterias_StatusID").data("tDropDownList");
            var ReasonCodeID = $("#SearchCriterias_ReasonCodeID").data("tDropDownList");
            StatusID.select(0);
            ReasonCodeID.select(0);
        }
    </script>
}