﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;

@model Online.Registration.DAL.Models.Brand

@{
    ViewBag.Title = "Edit Brand";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Edit:</legend>
        @Html.HiddenFor(model => model.ID)
        <table>
            <tr>
                <td>
                    <div style="width: 100px;">
                        @Html.LabelFor(model => model.ID)</div>
                </td>
                <td>
                     @Html.DisplayFor(model => model.ID)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.Code)
                    </div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Code, new { @style = "width:100px;" })
                    @Html.ValidationMessageFor(model => model.Code)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.Name)
                    </div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Name, new { @style = "width:250px;" })
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.Description)
                    </div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Description, new { @style = "width:250px;" })
                    @Html.ValidationMessageFor(model => model.Description)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px;">
                        @Html.LabelFor(model => model.ImagePath)</div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ImagePath, new { @style = "width:250px;" })
                    @Html.ValidationMessageFor(model => model.ImagePath)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.CategoryID)
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => Model.CategoryID).BindTo(Util.GetList(RefType.Category)))
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.CreateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.CreateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.CreateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.LastUpdateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.LastUpdateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.LastUpdateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.LastAccessID)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.LastAccessID, new { @readonly = true, @disabled = true, @style = "width:250px" })
                </td>
            </tr>
           <tr>
                <td>
                    @Html.LabelFor(model => model.Active)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Active) 
                    @Html.ValidationMessageFor(model => model.Active)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" name="submit" value="Save">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
}