﻿@*-----------------------------------------------------------------------------------
    Date Created: 6 October 2015
    Developer   : Ashley Ow
    View Name   : PrepaidToPostpaid.cshtml
    Purpose     : To capture the order details for Prepaid To Postpaid Service Request
    Version Control:
    Version     Date        Change Made
    1.0         6 Oct 2015  View created
    -----------------------------------------------------------------------------------*@
@using Newtonsoft.Json;
@using Online.Registration.Web.ViewModels.Common;
@using Online.Registration.Web.CustomExtension;
@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.PrepaidToPostpaidNewOrderVM

@functions{
    object getTbHtmlAttribute()
    {
        return new { @class = "form-control search-num" };
    }
    object getReadOnlyTbHtmlAttribute()
    {
        return new { @class = "form-control search-num readonly", @readonly = "readonly" };
    }
}
<div class="row border-top even">
    <div class="col-sm-12 form paddingOverall">
    <!-- Start Customer Name field -->
    <div class="row">
        <div class="col-sm-3">
            <p class="inner-label">*Name</p>
        </div>
        <div class="col-sm-4">
            <p class="inner-content">@Html.TextBoxFor(model => model.CustName, @getTbHtmlAttribute())</p>
        </div>
    </div>

    <!-- Start Identity Type -->
    <div class="row">
        <div class="col-sm-3">
            <p class="inner-label">*Identification</p>
        </div>
        <div class="col-sm-4">
            <div class="input-group-btn number-type">
                @Html.CustomDropDownListFor(model => model.IdType, StaticListVM.Instance.IdTypList, new { disabled = "disabled" })
            </div>
        </div>
        <!-- Start Identity Number -->
        <div class="col-sm-2">
            <p class="inner-label">*Number</p>
        </div>
        <div class="col-sm-3">
            <p class="inner-content">
                @Html.TextBoxFor(model => model.IdNum, @getReadOnlyTbHtmlAttribute())
            </p>
        </div>
    </div>

    <!-- Start Customer MSISDN field -->
    <div class="row">
        <div class="col-sm-3">
            <p class="inner-label">*MSISDN</p>
        </div>
        <div class="col-sm-4">
            <div class="input-group-btn number-type">
                @Html.CustomDropDownListFor(model => model.Msisdn,Model.MSISDNList.ToSelectList())
            </div>
        </div>
    </div>

    <!-- Start Customer Account Number -->
    <div class="row">
        <div class="col-sm-3">
            <p class="inner-label">*Account No</p>
        </div>
        <div class="col-sm-4">
            <p class="inner-content">@Html.TextBoxFor(model => model.AccNum, @getReadOnlyTbHtmlAttribute())</p>
        </div>
    </div>

    <!-- Start Postpaid SIM serial number -->
    <div class="row">
        <div class="col-sm-3">
            <p class="inner-label">*Postpaid SIM Number</p>
        </div>
        <div class="col-sm-4">
            <p class="inner-content">@Html.TextBoxFor(model => model.PostpaidSIMNumber,@getTbHtmlAttribute())</p>
        </div>
    </div>

    <!-- Start postpaid Rate Plan -->
    <div class="row">
        <div class="col-sm-3">
            <p class="inner-label">*Rate Plan</p>
        </div>
        <div class="col-sm-4">
            <div class="input-group-btn">
                @Html.CustomDropDownListFor(model => model.PostpaidPlanId, StaticListVM.Instance.PostpaidPlanSelectList)
            </div>
        </div>
    </div>

    <!-- Declaration -->
    <div class="row">
        <div class="col-sm-12">
            <p class="inner-label">
                I hereby declare a) that I wish to subscribe for the Services provided by MMSSB; b) that the above information provided is true and correct; c) that I have read and agree to be bound by the Terms and Conditions printed hereto and any amendment made thereto.
            </p>
        </div>
    </div>

    <!-- Billing Address -->
    <div class="row">
        <div class="col-sm-12">
            <p class="device-title">Billing Address</p>
        </div>
    </div>
    
    <!-- Start billing address line 1-->
    <div class="row">
        <div class="col-sm-3">
            <p class="inner-label">*Address</p>
        </div>
        <div class="col-sm-4">
            <p class="inner-content">@Html.TextBoxFor(model => model.CustBillAddLine1,@getTbHtmlAttribute())</p>
        </div>
    </div>

    <!-- Start billing address line 2-->
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-4">
            <p class="inner-content">@Html.TextBoxFor(model => model.CustBillAddLine2,@getTbHtmlAttribute())</p>
        </div>
    </div>

    <!-- Start billing address line 3-->
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-4">
            <p class="inner-content">
                @Html.TextBoxFor(model => model.CustBillAddLine3,@getTbHtmlAttribute())
            </p>
        </div>
    </div>

    <!-- Start billing post code-->
    <div class="row">
        <div class="col-sm-3">
            <p class="inner-label">*Postcode</p>
        </div>
        <div class="col-sm-3">
            <p class="inner-content">
                @Html.TextBoxFor(model => model.CustBillPostCode,@getTbHtmlAttribute())
            </p>
        </div>
        <div class="col-sm-3">
            <p class="inner-content" id="PostcodeValidationMessage"></p>
        </div>
    </div>
                                    
    <!-- Start billing city-->
    <div class="row">
        <div class="col-sm-3">
            <p class="inner-label">*City</p>
        </div>
        <div class="col-sm-4">
            <p class="inner-content">
                @Html.TextBoxFor(model => model.CustBillCity, new { @readonly = "readonly", @class = "readonly form-control" })
            </p>
        </div>
    </div>

    <!-- Start billing state-->
    <div class="row">
        <div class="col-sm-3">
            <p class="inner-label">*State</p>
        </div>
        <div class="col-sm-4">
            <p class="inner-content">
                @Html.TextBoxFor(model => model.CustBillState, new { @readonly = "readonly", @class = "readonly form-control" })
            </p>
        </div>
    </div>
</div>
</div>

<div class="row border-top">
    @Html.EditorFor(model=>model.UploadDoc,"UploadDocuments")
</div>

<script type="text/javascript">

    var msisdnServiceInfo = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.MsisdnServiceInfoMap))');

    function AutoPopulate() {
        var postcode = $('#@Html.IdFor(n=>n.CustBillPostCode)').val();
        var IsReadOnly = $('#@Html.IdFor(n=>n.CustBillPostCode)').is('[readonly]');

        if (postcode != "" && IsReadOnly.toString() == 'false') {
            var url = '@(Url.Content("~/Home/GenerateStateCityByPostCode"))';
            $.post(url, { postcode: postcode }, function (data) {
                if (data.postCode != "") {
                    $("#PostcodeValidationMessage").css("color", "green");
                    $('#PostcodeValidationMessage').text('Valid Postcode');
                    $('#PostcodeValidationMessage').attr('style', 'display: block; color: green');
                    $('#@Html.IdFor(n=>n.CustBillCity)').val(data.city);
                    $('#@Html.IdFor(n=>n.CustBillState)').val(data.state);
                }
                else {
                    $("#PostcodeValidationMessage").css("color", "red");
                    $('#PostcodeValidationMessage').text('Invalid Postcode');
                    $('#PostcodeValidationMessage').attr('style', 'display: block; color: red');
                    $('#@Html.IdFor(n=>n.CustBillCity)').val('');
                    $('#@Html.IdFor(n=>n.CustBillState)').val('');
                }
            });
        }
        $('#ValidatedPostcode').val(postcode);
    }

    $(document).ready(function () {
        $('#PostcodeValidationMessage').attr('readonly', true);
        $('#PostcodeValidationMessage').attr('style', 'display: none');
        $('#@Html.IdFor(n=>n.CustBillPostCode)').blur(function () { AutoPopulate(); });
        $('#@Html.IdFor(m=>m.Msisdn)').change(function () {
            setMsisinfo(msisdnServiceInfo[this.value]);
        });
    });
    function setMsisinfo(d) {
        $("#@Html.IdFor(m=>m.AccNum)").val(d.AccNum);
    };
    AutoPopulate();
</script>

