﻿@*-----------------------------------------------------------------------------------
    Date Created: 11 October 2015
    Developer   : Ashley Ow
    View Name   : _PrepaidToPostpaidNewOrderSummary.cshtml
    Purpose     : Partial view to display the summary for Prepaid To Postpaid Summary Service Request
    Version Control:
    Version     Date        Change Made
    1.0         11 Oct 2015  View created
    -----------------------------------------------------------------------------------*@
@using Online.Registration.Web.Helper
@using Online.Registration.Web.CustomExtension
@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.PrepaidToPostpaidNewOrderSmVM

@Html.Partial("_NewOrderSummaryDetailCustInfo", Model.NewOrder)

<div class="row details paddingbtm">
    <div class="col-sm-12">
        <!--Start Service Information-->
        <div class="col-sm-12 kill-padding">
            <p class="inner-title">Service Information</p>
        </div>
        <!--Start MSISDN-->
        <div class="col-sm-2 kill-padding">
            <p class="inner-label">MSISDN</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-3 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n=>n.NewOrder.Msisdn)</p>
        </div>
        <div class="clearfix"></div>
        <!--Start Prepaid Account Number-->
        <div class="col-sm-2 kill-padding">
            <p class="inner-label">Prepaid Account No</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-3 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n=>n.NewOrder.AccNum)</p>
        </div>
        <div class="clearfix"></div>
        <!-- Start Postpaid Account Number -->
        <div class="col-sm-2 kill-padding">
            <p class="inner-label">Postpaid Account No</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-3 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n=>n.NewOrder.PostpaidAccNumber)</p>
        </div>
        <div class="clearfix"></div>
        <!--Postpaid SIM Serial Number-->
        <div class="col-sm-2 kill-padding">
            <p class="inner-label">Postpaid SIM Serial Number</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-3 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n=>n.NewOrder.PostpaidSIMNumber)</p>
        </div>
        <div class="clearfix"></div>
        <!--Rate plan-->
        <div class="col-sm-2 kill-padding">
            <p class="inner-label">Postpaid Plan</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-3 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n=>n.PostplanName)</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-12">&nbsp</div>
        <!--Start Declaration-->
        <div class="col-sm-12 kill-padding">
            <p class="inner-label">I hereby declare a) that I wish to subscribe for the Services provided by MMSSB; b) that the above information provided is true and correct; c) that I have read and agree to be bound by the Terms and Conditions printed hereto and any amendment made thereto.</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-12">&nbsp</div>
    </div>
</div>
<!--Start Term and condition-->
<div class="row border-top">
    @Html.EditorFor(n=>n.TermAndCondition,"TermAndCondition")
</div>
<!--Start SignatureBox-->
<div class="row border-bottom">
    <div class="col-sm-12">
        @Html.EditorFor(n => n.Signature, "SignatureBox")
    </div>
</div>