﻿@using Online.Registration.Web.CustomExtension
@using Online.Registration.Web.ViewModels.Common
@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.PrepaidToPostpaidViewOrderVM

@functions{
    object getInputHtmlAttr()
    {
        if (!Model.CanEdit)
            return new { @class = "form-control", @disabled = "disabled" };
        return new { @class = "form-control", @maxlength = "10" };
    }
}
<div class="col-sm-2">
    <p class="inner-label">New Postpaid Account No</p>
</div>
<div class="col-sm-3">
    <div class="inner-content" style="display:flex">
        : &nbsp; @Html.TextBoxFor(m => m.NewAccountNo, @getInputHtmlAttr())
    </div>
</div>