﻿@model Online.Registration.Web.Models.LogOnModel

@{
    ViewBag.Title = "LogOnNew";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@using (Html.BeginForm("LogOn", "Account", FormMethod.Post, new { @id = "frmLogon", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    <div class="container">
        <div class="isell-base-2">
            <div class="row">
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="paddingOverall">
                                <div class="loginFont">
                                    MAXIS iSELL RETAIL PORTAL</div>
                                <div class="loginFont-grey lineHeight-16">
                                    Enhancing Customer Connections</div>
                                    <div class="loginFont-message MarginTop-30 alert alert-danger errorMsg" id="mainErrorMsg"></div>
                                    @Html.ValidationSummary(true, "", new { @class = "loginFont-message MarginTop-30 alert alert-danger", @style = "display: none;" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="LoginGreyBox">
                                <div class="form-group" id="divloginuser">
                                <input style="display:none" type="text" name="fakeusernameremembered"/>
                                <input style="display:none" type="password" name="fakepasswordremembered"/>
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control search-box", placeholder = "Enter username" })
                                <div class="MarginTop-10 alert alert-danger errorMsg" id="usernameError">Username is required</div>
                                </div>
                                <div class="form-group" id="divlogin-pass"> 
                                @Html.HiddenFor(m => m.Password)
                                        <input type="password" id="vpassword" class="form-control search-box" placeholder="Password"/>
                                        <input type="text" id="passworddecoy" class="form-control search-box" placeholder="Password" style="display:none"/> 
                                        <div class="MarginTop-10 alert alert-danger errorMsg" id="passwordError">Password is required</div>
                                </div>
                                <button id="submitButton" type="button" class="btn loginBtn paddingRight-60 paddingLeft-60 text-center">
                                    Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function CheckLogin() {
            if ($.trim($('#UserName').val()) == '') {
                $('#usernameError').show();
                return false;
            } else {
                $('#usernameError').hide();
            }

            if ($.trim($('#vpassword').val()) == '') {
                $('#passwordError').show();
                return false;
            } else {
                $('#passwordError').hide();
            }
            return true;
        }

        function submitlogon() {
            if (CheckLogin()) {
                $("#Password").val($("#vpassword").val());
                $("#vpassword").remove();
                $("#passworddecoy").css("display", "inline");
                $('#frmLogon').submit();
            }
        }

        $(document).ready(function () {
            $('.errorMsg').hide();
            $('.menu').hide();
            $('.breadcrumb').hide();

            var postbackErrorLength = $('.validation-summary-errors').length;
            if (postbackErrorLength > 0) {
                var errorMsg = $('.validation-summary-errors').eq(0).find('ul li').eq(0).text();
                $('#mainErrorMsg').text(errorMsg);
                $('#mainErrorMsg').show();
            }

            $('#submitButton').click(function (e) {
                e.preventDefault();
                submitlogon();
            });

            $("#vpassword,#UserName").keypress(function (e) {
                if (e.which == 13) {
                    submitlogon();
                }
            });
        });
    </script>
}