﻿@model Online.Registration.Web.Models.LogOnModel
@{
    ViewBag.Title = "Maxis iSELL PORTAL";
    Layout = null;
   
}
<!DOCTYPE html>
<!-- HTML5 Mobile Boilerplate -->
<!--[if IEMobile 7]><html class="no-js iem7"><![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Maxis iSELL</title>
    <meta name="description" content="This is the Responsive Grid System, a quick, easy and flexible way to create a responsive web site.">
    <meta name="keywords" content="responsive, grid, system, web design">
    <meta name="author" content="">
    <meta http-equiv="cleartype" content="on">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Responsive and mobile friendly stuff -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheets -->
    <!--[if lt IE 9]>
<link rel="stylesheet" href="@Url.Content("~/Content/css/ie.css")" media="screen" />
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/html5reset.css")" media="all">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/responsivegridsystem.css")" media="all">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/tabcontent.css")" media="all">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery-ui/jquery.ui.all.css")">
    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/owl.carousel.css")" />
    <!-- Default Theme -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/owl.theme.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.css")" />
    <!-- Responsive Stylesheets -->
    <!-- Responsive Stylesheets -->
    <link rel="stylesheet" type="text/css" media="only screen and (max-width: 1024px)" href="@Url.Content("~/Content/css/1024.css")" />
    <link rel="stylesheet" type="text/css" media="only screen and (max-width: 768px)" href="@Url.Content("~/Content/css/768.css")" >
    @{Html.Telerik().StyleSheetRegistrar()
        .DefaultGroup(g => g
            .Add("telerik.common.css")
            .Add("telerik.office2010silver.min.css")
        ).Render();
    }
    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements and feature detects -->
    <script language="javascript" type="text/javascript">
        // iOS viewport scaling bug fix, by @@mathias, @@cheeaun and @@jdalton
        (function (doc) { var addEvent = 'addEventListener', type = 'gesturestart', qsa = 'querySelectorAll', scales = [1, 1], meta = qsa in doc ? doc[qsa]('meta[name=viewport]') : []; function fix() { meta.content = 'width=device-width,minimum-scale=' + scales[0] + ',maximum-scale=' + scales[1]; doc.removeEventListener(type, fix, true); } if ((meta = meta[meta.length - 1]) && addEvent in doc) { fix(); scales = [.25, 1.6]; doc[addEvent](type, fix, true); } } (document));
    </script>
    <script src="@Url.Content("~/scripts/js/modernizr-2.5.3-min.js")" language="javascript" type="text/javascript" ></script>
</head>
<body class="login">
    <div id="wrapper">
        <div id="headcontainer">
            <div class="isell-logo">
                <a href="javascript:void(0);" >
                    <img src="@Url.Content("~/content/img/shared/iSELL-Logo-Maxis.png")" alt="Maxis" />
                </a>
            </div>
            <div class="topbar-menu">
                <div class="about-txt">
                    <img src="@Url.Content("~/Content/img/shared/iSELL-Icon-About.png")" alt="About" />
                    <a href="javascript:void(0);" id="ancInfo">About</a></div>
            </div>
        </div>
        <div id="logincontainer">
            <div class="login-header-bar">
                <div class="login-header-box">
                    <div class="login-header-text">
                        Maxis iSELL Retail Portal</div>
                </div>
            </div>
            <div class="login-content-box">
                <div class="session-expired-panel-content">
                    @using (Html.BeginForm())
                {
                    <div class="session-expired-text">
                        @{Session.Abandon(); Session.Clear(); Session.RemoveAll();}
                        @if (ViewData["logged"] != null)
                        {
                            if (!string.IsNullOrEmpty(ViewData["logged"].ToString()))
                            {
                         
                            
                              <text> <div class="t1"> @ViewData["logged"] </div> <div class="t2">Please @Html.ActionLink("click here", "LogOn")
                            to login again.</div> </text>
                            }
                        }
                        else
                        {
                            <text> <div class="t1">Your session has expired.</div> <div class="t2">Please @Html.ActionLink("click here", "LogOn")
                            to login again.</div> </text>
                        }
                    </div>
                }
                </div>
                <div class="login-panel session-expired-panel">
                 @if (ViewData["logged"] != null)
                        {
                     <div class="logout-panel-bg"></div>
                        }
                 else
                 {
                    <div class="session-expired-panel-bg"></div>
                 }
                </div>
            </div>
            <div style="height: 300px;text-align: center;padding: 50px 0 0 0">
                
            </div>
            <div style="height: 30px;">
            </div>
            <div style="width: 100%; height: 50px; border-top: 1px solid #CCCCCC;">
                <span class="copyright">Copyright &copy; 2013 Maxis. All rights reserved.</span>
            </div>
        </div>
    </div>
    @{
            
        Html.Telerik().Window()
            .Name("infoWindow")
            .Title("iSELL V1.1b.0")
            .Width(505)
            .Content(@<text>
        <div class="aboutus-content">
            <div class="aboutus-inn">
                <p>
                    iSELL Retail is an initiative from Maxis ISD for equipping the Maxis retail centers
                    with software that eases and speeds up the process of registrations. The feature
                    list for first release V1.1b.0 is:</p>
                <ul>
                    <li>New Registrations</li>
                    <ul>
                        <li>Plan</li>
                        <li>Plan with Device</li>
                        <li>New Lines</li>
                    </ul>
                    <li>Eligibility Checks</li>
                    <li>Personal identification checks</li>
                    <li>Retention Services</li>
                </ul>
                <p>
                    iSELL has been designed and developed by Maxis ISD in partnership with ValueLabs</p>
            </div>
        </div>
        </text>)
        .Modal(true)
        .Visible(false)
        .Height(270)
        .Render();        
    }
    <!-- JavaScript at the bottom for fast page loading -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>*@
    <script>        window.jQuery || document.write('<script src="@Url.Content("~/scripts/js/jquery-1.8.2.min.js")"><\/script>')</script>
    @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>*@
    <!--<script src="js/ui/jquery.ui.core.js"></script>
	<script src="js/ui/jquery.ui.widget.js"></script>
	<script src="js/ui/jquery.ui.accordion.js"></script>-->
    <!--[if (lt IE 9) & (!IEMobile)]>
	<script src="@Url.Content("~/scripts/js/selectivizr-min.js")" type="text/javascript" language="javascript" ></script>
	<![endif]-->
    <!-- More Scripts-->
    <!--<script src="js/responsivegridsystem.js"></script>-->
    <script type="text/javascript"  language="javascript"   src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script type="text/javascript"  language="javascript"   src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script type="text/javascript"  language="javascript"   src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js/jquery.carouFredSel-6.2.1-packed.js")"></script>
    <!-- optionally include helper plugins -->
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js/helper-plugins/jquery.mousewheel.min.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js/helper-plugins/jquery.touchSwipe.min.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js/helper-plugins/jquery.transit.min.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js/helper-plugins/jquery.ba-throttle-debounce.min.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js/tabcontent.js")"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js/jquery.horizontalNav.js")"></script>
    @{                    
        Html.Telerik()
            .ScriptRegistrar()
           .Render();
    }
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('#ancInfo').click(function () {
                $('#infoWindow').data('tWindow').center().open();
            });
        });

     
    </script>
</body>
</html>
