﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.SubscriberICService;
@{
    ViewBag.Title = "Address";
    #region VLT ADDED CODE
    ///GET THE retrieveAcctListByICResponse TYPE OF OBJECT FROM SESSION IF PPID="E" FOLLOWING SHOULD BE AVAILABLE    
    ///Check Session["PPID"] IF IT CONTAINS 'E' IF EXISTING SET IsExistingUser TO TRUE AGAIN CHECK IF AcctListByICResponse IS NULL THEN SET IT TO FALSE AS NO DATA TO DISPLAY
    retrieveAcctListByICResponse AcctListByICResponse = null;
    CustomizedCustomer CustomerPersonalInfo = null;
    bool IsExistingUser = false;
    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        if (!ReferenceEquals(Session["PPIDInfo"], null))
        {
            ///CHECK IF EXISTING USER THEN ONLY RETRIEVE CUSTOMER INFORMATION
            AcctListByICResponse = (retrieveAcctListByICResponse)Session["PPIDInfo"];
            ///CHECK IF CUSTOMER INFORMATION IS THERE OR NOT
            if (!ReferenceEquals(AcctListByICResponse, null) && !ReferenceEquals(AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList(), null))
            {
                //CustomerPersonalInfo = AcctListByICResponse.itemList.Where(c => c.Customer != null).ToList().FirstOrDefault().Customer;
                CustomerPersonalInfo = Util.GetCustomerList(AcctListByICResponse,Session["ExternalID"]!=null?Session["ExternalID"].ToString():"0");
                IsExistingUser = true;
            }
        }
    }
    #endregion VLT ADDED CODE  
    
    
}
@model Online.Registration.Web.ViewModels.PersonalDetailsVM
<h3>
    Billing Address</h3>
<div style="width: 100%; border-left: 1px solid #ccc;">
    <div style="padding: 20px 15px 50px 15px;">
        <div class="form-row">
            <div class="form-label">Address</div>
            <div>:
                @CustomerPersonalInfo.Address1
            </div>
        </div>
        @if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address2))
        {
            
            <div class="form-row">
                <div class="form-label">
                    </div>
                <div style="padding-left: 20%;">
                :
                   @CustomerPersonalInfo.Address2
                </div>
            </div>
        }
        @if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address3))
        {
            <div class="form-row">
                <div class="form-label">
                    </div>
                <div style="padding-left: 20%;">
                :
                    @CustomerPersonalInfo.Address3
                </div>
            </div>
        }
        <div class="form-row">
            <div class="form-label">Postcode</div>
            <div>
              :  @CustomerPersonalInfo.PostCode
            </div>
        </div>
        <div class="form-row">
            <div class="form-label" >Town/City Name</div>
            <div >
              :  @CustomerPersonalInfo.City
            </div>
        </div>
        <div class="form-row">
            <div class="form-label" >State/Province</div>
            <div >
               : @CustomerPersonalInfo.State
            </div>
        </div>
    </div>
    <div style="clear: both;">
    </div>
    @if (CustomerPersonalInfo != null)
    {
        if (!string.IsNullOrEmpty(CustomerPersonalInfo.City))
        {
        @Html.HiddenFor(model => model.Address.Town, new { @Value = CustomerPersonalInfo.City })
        }
        else
        {
        @Html.HiddenFor(model => model.Address.Town)
        }

        if (!string.IsNullOrEmpty(CustomerPersonalInfo.PostCode))
        {
            if (!string.IsNullOrEmpty(CustomerPersonalInfo.State))
            {
        @Html.HiddenFor(model => model.Address.Postcode, new { @Value = CustomerPersonalInfo.PostCode })                    
            }
            else
            {
        @Html.HiddenFor(model => model.Address.Postcode, new { @Value = "51100" })
            }
        }
        else
        {
        @Html.HiddenFor(model => model.Address.Postcode)
        }


    }
    else
    {
        @Html.HiddenFor(model => model.Address.Town)
        @Html.HiddenFor(model => model.Address.Postcode)
    }
</div>

 <div style="clear: both;display:none;" >
    </div>
<div style="display:none">
            @if (CustomerPersonalInfo != null)
            {

                if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address1))
                {
                @Html.TextBoxFor(model => model.Address.Line1, new { style = "width:300px", @Value = CustomerPersonalInfo.Address1 })
                }
                else
                {
                @Html.TextBoxFor(model => model.Address.Line1, new { style = "width:300px" })
                }

                if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address2))
                {
                @Html.TextBoxFor(model => model.Address.Line2, new { style = "width:300px", @Value = CustomerPersonalInfo.Address2 })
                }
                else
                {
                @Html.TextBoxFor(model => model.Address.Line2, new { style = "width:300px" })
                }

                if (!string.IsNullOrEmpty(CustomerPersonalInfo.Address3))
                {
                @Html.TextBoxFor(model => model.Address.Line3, new { style = "width:300px", @Value = CustomerPersonalInfo.Address3 })
                }
                else
                {
                @Html.TextBoxFor(model => model.Address.Line3, new { style = "width:300px" })
                }
                if (!string.IsNullOrEmpty(CustomerPersonalInfo.PostCode))
                {
                    if (!string.IsNullOrEmpty(CustomerPersonalInfo.State))
                    {
                        @Html.TextBoxFor(model => model.Address.Postcode, new { @Value = CustomerPersonalInfo.PostCode })                    
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.Address.Postcode, new { @Value = "51100" })
                    }
                }
                else
                {
                @Html.TextBoxFor(model => model.Address.Postcode)
                }
                
                if (!string.IsNullOrEmpty(CustomerPersonalInfo.City))
                {
                @Html.TextBoxFor(model => model.Address.Town, new { @Value = CustomerPersonalInfo.City })
                }
                else
                {
                @Html.TextBoxFor(model => model.Address.Town)
                }
              
                 if (!string.IsNullOrEmpty(CustomerPersonalInfo.State))
                {
                    
                @*@(Html.Telerik().DropDownListFor(model => model.Address.StateID).BindTo(Util.GetList(RefType.State, defaultValue: "", selectedValue: IsExistingUser ? CustomerPersonalInfo.State : "")))*@
               @* @Html.DropDownListFor(model =>  model.Address.StateID, Util.GetList(RefType.State, defaultValue:string.Empty, selectedValue: IsExistingUser ? CustomerPersonalInfo.State :string.Empty))*@
                  List<SelectListItem> objStateList = Util.GetList(RefType.State);
                 List<SelectListItem> curStateId = objStateList.Where(e =>e.Text==CustomerPersonalInfo.State).ToList();
                 if (curStateId.Count() > 0)
                 {
                     Model.Address.StateID = Convert.ToInt32(curStateId[0].Value);

                 }
                 else
                 {
                     Model.Address.StateID = 20;
                 }
              
                @Html.HiddenFor(model => model.Address.StateID);
                }
                 else
                 {
                
               @* @(Html.Telerik().DropDownListFor(model => model.Address.StateID).BindTo(Util.GetList(RefType.State, defaultValue: "20")))*@
               @*  @Html.DropDownListFor(model => model.Address.StateID, Util.GetList(RefType.State, defaultValue: "20"))*@
                
                     Model.Address.StateID = 20;
                @Html.HiddenFor(model => model.Address.StateID);

                 }
            }
            else
            {
                 @Html.TextBoxFor(model => model.Address.Line1, new { style = "width:300px" })
                @Html.TextBoxFor(model => model.Address.Line2, new { style = "width:300px" })
                  @Html.TextBoxFor(model => model.Address.Line3, new { style = "width:300px" })
                   @Html.TextBoxFor(model => model.Address.Postcode)
                    @Html.TextBoxFor(model => model.Address.Town)
                     @* @(Html.Telerik().DropDownListFor(model => model.Address.StateID).BindTo(Util.GetList(RefType.State, defaultValue: "20")))   *@
               Model.Address.StateID = 20;
                 @Html.HiddenFor(model => model.Address.StateID);
               @* @Html.DropDownListFor(model => model.Address.StateID, Util.GetList(RefType.State, defaultValue: "20"))*@
            }

           
            </div>
