﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.CommonEnum;
@using Online.Registration.DAL.Models;
@model Online.Registration.Web.ViewModels.OrderSummaryVM
@{
    string GSTMark = ViewData["GSTMark"] != null ? ViewData["GSTMark"].ToString2() : "";
    var viewBagValue = new ViewDataDictionary();
    viewBagValue.Add("GSTMark", GSTMark);
    
    if (Session["RegMobileReg_MainDevicePrice"] != null)
    {
        Model.TotalPrice = Convert.ToDecimal(Session["RegMobileReg_MainDevicePrice"]);
        Model.ModelPrice = Convert.ToDecimal(Session["RegMobileReg_MainDevicePrice"]);
        Model.ItemPrice = Convert.ToDecimal(Session["RegMobileReg_MainDevicePrice"]);
    }
    
}
@{
    <div id="wrapper">
        <div id="maincontentcontainer">
            <div id="right">
                <ul class="tabs">
                    @if (Session["SelectedTab"] == null)
                    {
                        <li style="background:#eeeeee;"><a id="aValidation" href="#view1">Validation</a></li>
                        <li style="background:#eeeeee;"><a id="aOrder" href="#view2">Order Summary</a></li>
                    }
                    else if (Session["SelectedTab"].ToString2() == "Validation")
                    {
                        <li class="selected" style="background:#eeeeee;"><a id="aValidation" href="#view1">Validation</a></li>
                        <li style="background:#eeeeee;"><a id="aOrder" href="#view2">Order Summary</a></li>
                    }
                    else if (Session["SelectedTab"].ToString2() == "OrderSummary")
                    {
                        <li style="background:#eeeeee;"><a id="aValidation" href="#view1">Validation</a></li>
                        <li class="selected" style="background:#eeeeee;"><a id="aOrder" href="#view2">Order Summary</a></li>
                    }
                </ul>
                <div class="tabcontents">
                    <div id="view1">
                    @{
                        Html.RenderPartial("_TabContentBREValidation", Model);   
                    }
                    </div>
                   <div id="view2">
                    @{
                        Html.RenderPartial("_TabContentOrderSummary", Model, viewBagValue);   
                    }
                    </div>
                </div>
            </div>
        </div>
    </div> 
                                    }
