﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Controllers;
@model Online.Registration.Web.Models.SupplementaryListAccounts
@{
    ViewBag.Title = "Customer Account(s)";
    var isBlacklisted = ViewBag.isBlacklisted;
    var resultMsg = Session["RegMobileReg_ResultMessage"].ToString2();
    bool newUser = true;
    var isUserCCCAbove = WebHelper.Instance.IsUserCCCAbove();

    var idCardTypeName = Session["PPIDSearchIDType"].ToString2();
    var isDealer = Session["IsDealer"].ToBool();
    var dealerMsidnSearch = System.Web.Configuration.WebConfigurationManager.AppSettings["DealerMsidnSearch"].ToString2() + " Add New Line";

    List<string> allowedPrefixes = new List<string>();
    if (System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"] != null)
    {
        allowedPrefixes = System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"].ToString2().Split(',').ToList();
    }
    else
    {
        allowedPrefixes = new List<string>() { "601" };
    }
    if (!ReferenceEquals(Session["PPID"], null) && "E".Equals(Convert.ToString(Session["PPID"])))
    {
        newUser = false;
    }
    if (ReferenceEquals(Model, null))
    {
        newUser = true;
    }
    
}
<div id="center">
    <div class="center_box">
        @using (Html.BeginForm("AddNewLine", "NewLine", FormMethod.Post, new { id = "frmAddNewLine", @class = "overlayonsubmit", processmsg = "Loading" }))
        { 
            @Html.Hidden("submit")
            
            <div class="content_white">
                @Html.ValidationSummary()
                <div id="dvDealers" style="display: none; width: 100%; azimuth: center;">
                    <div class="content search-header">
                        <div id="dvMsisdnSearch" class="search-hdr-body" style="width: 100%">
                            <table width="100%">
                                <tr>
                                    <td align="center">
                                        <b>@(dealerMsidnSearch)</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <b>MSISDN:</b>
                                        @Html.TextBox("MSISDN")
                                        <button class="cancel" type="button" value="Search" style="cursor: pointer;background-image: url(@(Url.Content("~/Content/img/shared/iSELL-Search-Button.jpg")));background-repeat: none;width: 38px;height: 35px;border: medium none;vertical-align: middle;margin-left: 8px;border-radius:8px" onclick="showdivAccDtls();">
                                        </button>
                                    </td>
                                </tr>
                            </table>
                            @*<input style="cursor:pointer;" title="Search/Biometric" type="image"  
                                src='@Url.Content("~/Content/img/shared/iSELL-Search-Button.jpg")' class="search-button" onclick="return showdivAccDtls(this.value);"/>*@
                            @* <button class="cancel" type="button" value="Search" style="cursor: pointer" onclick="showdivAccDtls(this.value);">
                                    <img alt="" src='@Url.Content("~/Content/img/shared/iSELL-Search-Button.jpg")' class="search-button"/>
                                </button>*@
                        </div>
                    </div>
                </div>
                <div class="content_white">
                    <div id="Dealer_Error" class="ErrorClass">
                    </div>
                </div>
                <div id="DVResultDisplay">
                    <div class="content search-header">
                        <div class="search-header-box">
                            <div class="search-hdr-title">@ViewBag.Title</div>
                        </div>
                    </div>
                    <div style="clear: both;">
                    </div>
                    <div class="content_white" style="height: 15px;">
                        <div id="Plan_Error" class="ErrorClass">
                        </div>
                    </div>
                    @if (!newUser && Model.SuppListAccounts.Count > 0)
                    {
                        var icount = 0;
                        if (isDealer == true)
                            {
                                if (idCardTypeName != "MSISDN")
                                {
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tr style="font-size:15px;">
                                <td>
                                    <b>ID No :</b>
                                    @foreach (var Acd in Model.SuppListAccounts)
                                    {
                                        @Acd.IDNumber
                                   break;
                                    }
                                </td>
                            </tr>
                        </table> 
                                }
                        }   
                        else
                        {
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tr style="font-size:15px;">
                                <td>
                                    <b>ID No :</b>
                                    @foreach (var Acd in Model.SuppListAccounts)
                                    {
                                        @Acd.IDNumber
                                   break;
                                    }
                                </td>
                            </tr>
                        </table> 
                        }  
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" id="search-table">
                            <tbody>
                                <tr class="row-bold-header" id="tblheader">
                                    <td align="center">
                                        Action
                                    </td>
                                    <td>
                                        Name
                                    </td>
                                    @* <td>
                                        ID No
                                    </td>*@
                                    <td>
                                        MSISDN
                                    </td>
                                    
                                    @if (isDealer.ToString2() == "False")
                                    {
                                        <td>
                                        Account Number
                                    </td>
                                        <td>
                                            Account Type
                                        </td>                                        
                                        <td>
                                            Status
                                        </td>
                                    }
                                    
                                </tr>
                                @foreach (var Acd in Model.SuppListAccounts)
                                {
                                    bool checkedState = (icount == 0 && idCardTypeName == "MSISDN" && (isDealer == true || isUserCCCAbove == false)) ? true : false;
                                    icount++;
                                    
                                    checkedState = Model.SuppListAccounts.Count > 1 ? false : checkedState;
                                    
                                    if (Acd.externalId != null && Acd.externalId.Length > 3)
                                    {
                                        if (allowedPrefixes.Contains(Acd.externalId.Substring(0, 3)))
                                        {
                                            string curSimType = " - " + Acd.AccountType;
                                            if (!Acd.IsMISM)
                                            {
                                                curSimType = Acd.AccountName + curSimType;
                                            }
                                            else
                                            {
                                                curSimType = "MISM" + curSimType;
                                            }
                                            string AccountStatuses = "Not Available";
                                            switch (Acd.AccountStatus)
                                            {
                                                case "B":
                                                    AccountStatuses = "Barred";
                                                    break;
                                                case "S":
                                                    AccountStatuses = "Suspended";
                                                    break;
                                                case "T":
                                                    AccountStatuses = "Terminated";
                                                    break;
                                                case "A":
                                                    AccountStatuses = "Active";
                                                    break;
                                                case "D":
                                                    AccountStatuses = "Deactive";
                                                    break;
                                                default:
                                                    AccountStatuses = "Active";
                                                    break;
                                            }
                                    <tr class="row-body" id="@Acd.externalId">
                                        <td align="center">@Html.RadioButton("SelectAccountDtls", Acd.accountIntId + "," + Acd.externalId + "," + Acd.accountExtId + "," + Acd.AccountNumber + "," + Acd.IsMISM + "," + Acd.Category + "," + Acd.MarketCode + "," + Acd.ParentID, checkedState)
                                        </td>
                                        <td>@Acd.Holder
                                        </td>
                                        @*<td>@Acd.IDNumber
                                        </td>*@
                                        <td>@Acd.externalId
                                        </td>                                        
                                        @if (isDealer.ToString2() == "False")
                                        {
                                            <td>@Acd.AccountNumber
                                        </td> 
                                            <td>
                                                @curSimType
                                            </td>
                                        <td>@AccountStatuses
                                            </td>    
                                        }
                                        
                                    </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                               
                    }
                    else
                    {
                        <div id="DVShowNewUSerMsg" class="ErrorClass">
                            No Principal accounts exists for the user</div>
                    }
                </div>
                <div style="height: 80px;" class="content_white">
                    <div style="float: right; padding-right: 32px" id="divHeader">
                        @if (!newUser && Model.SuppListAccounts.Count > 0)
                        {
                            <input class="submitButton" type="submit" value="Continue" onclick="$('#submit').val('next');return Validation();" />
                        }
                    </div>
                </div>
            </div>
   
           
           
        }
    </div>
    @Html.Partial("_footer")
</div>
@section Scripts{
<script src="@Url.Content("~/Scripts/js/tablefilter_all_min.js")" type="text/javascript"></script>

    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            //if ('@(isDealer)' == "False") {
            //    $("#SelectAccountDtls:first").prop('checked', 'checked');
            //}
            var accDetailsCount = $('input[name=SelectAccountDtls]').length;

            if ('@(idCardTypeName)' == "MSISDN" && accDetailsCount > 1) {
                $('input[name=SelectAccountDtls]').prop('checked', false);
            }
            $('#Dealer_Error').hide();
            if ('@(isDealer)' == "True") {
                if ('@(idCardTypeName)' != "MSISDN") {
                    $('#DVResultDisplay').hide();
                    $('#dvDealers').show();
                    $('#divHeader').hide();
                }
            }
        });
        function showdivAccDtls() {
            var msisdnno = $('#MSISDN').val();
            var mobregex = /^60[0-9]{8,10}$/;
            $('#Dealer_Error').hide();

            if (msisdnno == "") {
                $('#Dealer_Error').show();
                $('#Dealer_Error').html('Please Enter MSISDN.');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            else if (msisdnno != "") {
                if (!mobregex.test(msisdnno)) {
                    $('#Dealer_Error').show();
                    $('#Dealer_Error').html("Please enter valid MSISDN number");
                    return false;
                }
            }
            if ($('#' + msisdnno).length > 0) {
                $('#dvDealers').hide();
                $('#DVResultDisplay').show();
                $('#search-table tr').hide();

                $('#tblheader').show();
                $('#' + msisdnno).show();
                $('#divHeader').show();
                $('#' + msisdnno).find('#SelectAccountDtls').prop('checked', 'checked')
            }
            else {
                $('#Dealer_Error').show();
                //$('#Dealer_Error').html("Please enter Valid Principal/Primary MSISDN");
                $('#Dealer_Error').html("Please enter Valid Principal/Primary MSISDN ");
                return false;
            }

            // $('#dvMsisdnSearch').show();

            return true;
        }
        function Validation() {
            if (!$("input:radio[name='SelectAccountDtls']").is(":checked") && !$("input:radio[name='SelectSecoAccountDtls']").is(":checked")) {
                $('#Plan_Error').show();
                $('#Plan_Error').html("Please select an account to proceed further");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                //alert('Please select an account to proceed further.');
                return false;
            }
            return true;

            //$('#submit').val('next');
            //            if (!$("input:radio[name='SelectAc']").is(":checked")) {
            //                alert('Select your option');
            //                return false;
            //            }
            //            $('#submit').val('next');
            //            return true;
        }
        var table_Props = {
            stylesheet: '@Url.Content("~/Content/css/filtergrid.css")',
            on_keyup: true, 
            on_keyup_delay: 100, 
            col_0: "none",
            col_1: "none",
            col_3: "select",
            col_4: "select",
            col_5: "select",
            display_all_text: "[All]"
        };
        var tf = setFilterGrid("search-table", table_Props);

    </script>
}
