﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.Properties;
@{
    ViewBag.Title = "MobileRegSuccessNew";
    Layout = "~/Views/Shared/_NewLayout.cshtml";

    var emailAddress = (string)Session[Online.Registration.Web.CommonEnum.SessionKey.Email.ToString()];
    var queueNo = (string) Session[Online.Registration.Web.CommonEnum.SessionKey.QueueNo.ToString()];
    var customerFullName = (string)Session[Online.Registration.Web.CommonEnum.SessionKey.FullName.ToString()];
    

    var viewOrderURL = Url.Action("MobileRegSummary", "Registration", new { regID = Html.DisplayForModel() });
    var printOrderURL = Url.Action("PrintContractDetails", "Registration") + "?id=" + Html.DisplayForModel();
    var homeURL = Url.Action("IndexNew", "Home");
    
}
<div class="container" id="new-cus">
    <div class="isell-base-2">
        <div class="row">
            <div class="col-sm-12">
                <h2>
                    New registration:
                </h2>
                <h4>
                    @customerFullName</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 green-bg">
                <p class="font-24">
                    Add a Plan & Device</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 success">
                <h1>Your Order has been submitted.</h1>
                @if (!string.IsNullOrEmpty(emailAddress) && !Roles.IsUserInRole("MREG_CUSR"))
                {
                    <p>We will send a confirmation email upon payment received to <span>@emailAddress</span></p>
                }
                else
                {
                    <p>Registration has been submitted successfully.</p>
                }
                @if (!string.IsNullOrEmpty(queueNo))
                {
                    <p class="bold-16">
                        Your queue number is:</p>
                    <p class="num-q">
                        @queueNo</p>
                }
            </div>
            <ul class="col-sm-11 home">
                <li id="viewOrder" class="col-sm-4">
                    <div class="option-box">
                        <div class="view-order">
                        </div>
                        <h2>
                            View Order</h2>
                    </div>
                </li>
                <li id="printOrder" class="col-sm-4">
                    <div class="option-box">
                        <div class="print">
                        </div>
                        <h2>
                            Print Order</h2>
                    </div>
                </li>
                <li id="home" class="col-sm-4">
                    <div class="option-box">
                        <div class="back-home">
                        </div>
                        <h2>
                            Home</h2>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#viewOrder').click(function (e) {
            e.preventDefault();
            window.location.href = '@viewOrderURL';
        });
        $('#printOrder').click(function (e) {
            e.preventDefault();
            var win = window.open('@printOrderURL', '_blank');
            win.focus();
        });
        $('#home').click(function (e) {
            e.preventDefault();
            window.location.href = '@homeURL';
        });
    });
</script>
