﻿@using Online.Registration.Web.ViewModels
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@using Online.Registration.DAL.Models;
@using System;
@using System.Text;

@model Online.Registration.Web.ViewModels.RegistrationFormVM
@{
    ViewBag.Title = "Print Mobile Registration";
    Layout = "";
    var colour = Session["RegMobileReg_OrderSummary"] == null ? Session["RegMobileReg_DeviceColour"] == null ? string.Empty : Session["RegMobileReg_DeviceColour"].ToString2() : ((OrderSummaryVM)Session["RegMobileReg_OrderSummary"]).ColourName;
    List<SelectListItem> objSimModelsList = Util.GetList(RefType.AllSimModelType, simType: Session["SimType"] != null ? Session["SimType"].ToString() : string.Empty);
    List<SelectListItem> objSimModels = objSimModelsList.Where(a => Convert.ToInt32(a.Value.Split(',')[0]) == Model.Registration.SimModelId && a.Value != "0").ToList();
    List<SelectListItem> objSimModelsMISM = null;
    if(Model.RegistrationSec!=null)
    {
    objSimModelsMISM = objSimModelsList.Where(a => Convert.ToInt32(a.Value.Split(',')[0]) == Model.RegistrationSec.SimModelId && a.Value != "0").ToList();
    }
    Int32 MnpSuppCounter = 1;
    int crpPlan = Model.Registration.RegTypeID;

    decimal _penalty = 0;
    decimal _rebatePenalty = 0; 

    if (Model.Registration != null && Model.Registration.PenaltyAmount != null && Model.Registration.PenaltyAmount > 0)
    {
        _penalty = Model.Registration.PenaltyAmount;

    }
    else
    {
        _penalty = 0;
    }
    if (Session["penalty"] != null)
    {
        _rebatePenalty = Convert.ToDecimal(Session["penalty"].ToString());
    }
    else
    {
        //_penalty = 0;
        if (Model.Registration != null)
        {
            if (Model.Registration.ID.ToInt() > 0)
            {
                using (var proxy = new RegistrationServiceProxy())
                {

                    var resultPenaltyAmount = proxy.getRebateDatacontractPenalty(Model.Registration.ID.ToInt());
                    foreach (var v in resultPenaltyAmount)
                    {
                        _rebatePenalty = _rebatePenalty + Convert.ToDecimal(v.Penalty);
                    }
                }
            }
        }
    }

    var TermsAndConditions = (ReferenceEquals(Session["TsCs"], null) ? string.Empty : Session["TsCs"].ToString());
    var ContractTsCs = (ReferenceEquals(Session["ConTsCs"], null) ? string.Empty : Session["ConTsCs"].ToString2());
    var VoiceTsCs = (ReferenceEquals(Session["VoiceAddendums"], null) ? string.Empty : Session["VoiceAddendums"].ToString2());
    //Waiver CR Total Payable by ravi on 1 Oct 2013
    decimal totalPayable = 0;
    decimal checkedAmt = 0;

    System.Text.StringBuilder strWaiverTbl = new System.Text.StringBuilder();
    System.Text.StringBuilder strWaiverTblSec = new System.Text.StringBuilder();
    bool isMsim = false;
    List<Online.Registration.DAL.Models.WaiverComponents> objWaiverComponents = new List<Online.Registration.DAL.Models.WaiverComponents>();
    List<Online.Registration.DAL.Models.WaiverComponents> objWaiverCompsMultiMnp = new List<Online.Registration.DAL.Models.WaiverComponents>();

    int regStatusID = 0;
    using (var proxy = new RegistrationServiceProxy())
    {
        regStatusID = proxy.RegStatusFind(new RegStatusFind()
        {
            RegStatus = new RegStatus()
            {
                RegID = Model.Registration.ID
            },
            Active = true
        }).SingleOrDefault();
        regStatusID = proxy.RegStatusGet(new int[] { regStatusID }).SingleOrDefault().StatusID;

    }
    
    using (var proxy = new Online.Registration.Web.Helper.RegistrationServiceProxy())
    {
        objWaiverComponents = proxy.GetWaiverComponentsbyRegID(Model.Registration.ID.ToInt());
        objWaiverComponents = objWaiverComponents.Where(c => c.MismType != "c").ToList();
        var objWaiverComps = objWaiverComponents.Where(e => e.ComponentID != 0).ToList();

        objWaiverCompsMultiMnp = objWaiverComps.Where(e => (e.MismType.ToUpper().Contains("MP") || e.MismType.ToUpper().Contains("MS"))).ToList();

        if (Model.Registration.RegTypeID == (int)MobileRegType.RegType_MNPPlanWithMultiSuppline)
        {
            objWaiverComps = objWaiverComponents;
        }

        foreach (var comp in objWaiverComps)
        {
            string price = comp.price.ToString();
            if (comp.IsWaived == true)
            {
                checkedAmt += comp.price;
               // price = comp.price + " (Waived)";  Need to display only waived instead of 300 (Waived)
                price = "Waived";
            }
            // else
            // {
            if (objWaiverCompsMultiMnp.Count > 0)
            {
                isMsim = true;
                if (comp.MismType.ToUpper() == "MP")
                {
                    if (strWaiverTbl.Length <= 0)
                    {
                        strWaiverTbl.Append("<tr class='title'><td style='color: Black; font-weight: bolder; font-size: small;'>Primary MSISDN</td></tr>");
                    }
                    strWaiverTbl.Append("<tr><td><B>" + comp.ComponentName + " (RM) </b></td><td>" + price + "</td></tr>");
                }
                else
                {
                    //Supplementary Lines
                    for (int supleMsisdnsCnt = 1; supleMsisdnsCnt <= 4; supleMsisdnsCnt++)
                    {
                        //bool isHeaderAdded = false
                        var curMsisdn = "MS" + supleMsisdnsCnt.ToString();

                        if (comp.MismType.ToUpper() == curMsisdn)
                        {
                            if (strWaiverTblSec.ToString().Contains("Supp MSISDN " + supleMsisdnsCnt.ToString()) == false)
                            {
                                strWaiverTblSec.Append("<tr class='title'><td style='color: Black; font-weight: bolder; font-size: small;'>Supp MSISDN " + supleMsisdnsCnt.ToString() + "</td></tr>");
                            }
                            strWaiverTblSec.Append("<tr><td><B>" + comp.ComponentName + " (RM) </b></td><td>" + price + "</td></tr>");
                            break;
                        }
                    }
                }
            }
            else
            {
                switch (comp.MismType.ToUpper())
                {
                    case "P":
                        strWaiverTbl.Append("<tr><td valign='top'><b>" + comp.ComponentName + " (RM) </b></td><td colspan='3' valign='top'>" + price + "</td></tr>");
                        break;
                    case "S":
                        strWaiverTblSec.Append("<tr><td valign='top'><b>" + comp.ComponentName + " (RM) </b></td><td colspan='3' valign='top'>" + price + "</td></tr>");
                        break;
                    default:
                        if (comp.MismType.Contains("MS"))
                        {
                            strWaiverTbl.Append("<tr><td valign='top'><B> SuppLine " + comp.MismType.Substring(2) + " " + comp.ComponentName + " (RM) </B></td><td colspan='3' valign='top'>" + price + "</td></tr>");
                        }
                        else if (comp.MismType.Contains("MP"))
                        {
                            strWaiverTbl.Append("<tr><td valign='top'><B>" + comp.ComponentName + " (RM) </B></td><td colspan='3' valign='top'>" + price + "</td></tr>");
                        }
                        else
                        {
                            isMsim = true;
                            strWaiverTbl.Append("<tr><td valign='top'><b>" + comp.ComponentName + " (RM) </b></td><td colspan='3' valign='top'>" + price + "</td></tr>");
                        }
                        break;
                }
            }

            // }
            totalPayable += comp.price;
        }


    }
    string strFinalTbl = string.Empty;
    if (strWaiverTbl.Length > 0)
    {
        if (isMsim == false)
        {
            strFinalTbl += "<tr ><td colspan='4' style='color: Black; font-weight: bolder; font-size: small;'>Primary</td></tr>";
        }
        strFinalTbl += strWaiverTbl;
    }
    if (strWaiverTblSec.Length > 0)
    {
        if (isMsim == false)
        {
            strFinalTbl += "<tr ><td colspan='4' style='color: Black; font-weight: bolder; font-size: small;'>Secondary</td></tr>";
        }
        strFinalTbl += strWaiverTblSec;
    }

    strFinalTbl += "<tr ><td colspan='4'>&nbsp;</td></tr>";

    bool isRegDepositWaived = (objWaiverComponents.Where(e => (((e.ComponentName.ToUpper() == "PRIMARY PLAN REGISTRATION DEPOSIT" || e.ComponentName.ToUpper() == "REGISTRATION DEPOSIT") && e.ComponentID == 0)) && (e.IsWaived == true)).ToList()).Count > 0 ? true : false;
    bool isPlanAdvanceWaived = (objWaiverComponents.Where(e => (((e.ComponentName.ToUpper() == "PLAN ADVANCE" || e.ComponentName.ToUpper() == "PRIMARY PLAN ADVANCE") && e.ComponentID == 0)) && (e.IsWaived == true)).ToList()).Count > 0 ? true : false;
    bool isDevDepositWaived = (objWaiverComponents.Where(e => (((e.ComponentName == Constants.IVALUE_ADVANCE || e.ComponentName.ToUpper() == "PRIMARY ADVANCE PYMT (IVALUE)") && e.ComponentID == 0)) && (e.IsWaived == true)).ToList()).Count > 0 ? true : false;
    bool isDevAdvanceWaived = (objWaiverComponents.Where(e => (((e.ComponentName.ToUpper() == "DEVICE ADVANCE") && e.ComponentID == 0)) && (e.IsWaived == true)).ToList()).Count > 0 ? true : false;
    bool isRegDepositSecWaived = (objWaiverComponents.Where(e => (((e.ComponentName.ToUpper() == "SECONDARY PLAN REGISTRATION DEPOSIT") && e.ComponentID == 0)) && (e.IsWaived == true)).ToList()).Count > 0 ? true : false;
    bool isPlanAdvSecWavied = (objWaiverComponents.Where(e => (((e.ComponentName.ToUpper() == "SECONDARY PLAN ADVANCE") && e.ComponentID == 0)) && (e.IsWaived == true)).ToList()).Count > 0 ? true : false;
    bool isUpfrontPaymentWavied = (objWaiverComponents.Where(e => (((e.ComponentName.ToUpper() == "UPFRONT PAYMENT") && e.ComponentID == 0)) && (e.IsWaived == true)).ToList()).Count > 0 ? true : false;
    string SalesStoreCode = String.Empty;
    var isDealer = Util.SessionAccess.User.isDealer;
    string dealerCodeLabel = string.Empty;
    string salescodelabel = string.Empty;
    string staffCodelabel = string.Empty;
    dealerCodeLabel = isDealer ? "*Dealer Outlet Code" : "*Sales Code - Dealer Outlet";
    salescodelabel = isDealer ? "Dealer Sales Code *" : "Sales Code - On Behalf *";
    staffCodelabel = isDealer ? "Sales Staff Code" : " *Sales Staff Code";
            //Waiver CR Total Payable by ravi on 1 Oct 2013 ends here
    if (ReferenceEquals(ViewBag.GSTMark, null) || Equals(ViewBag.GSTMark, ""))
    
    {
        ViewBag.GSTMark = Settings.Default.GSTMark.ToString2();
    }
    if (ReferenceEquals(ViewBag.GSTnotif, null) || Equals(ViewBag.GSTnotif, ""))
    {
        List<String> LabelReplace = new List<String>();
        LabelReplace.Add("GSTMark");
        ViewBag.GSTnotif = WebHelper.GenerateLabelString(Settings.Default.GSTNotif, LabelReplace);
    }

      // this is for PDF generation, for iContract no need to show Inventory Chit
    bool showInventorySection = Model.showInventorySection; 
}
@Html.Action("PrintContractDetails", "Registration", new { id = Model.Registration.ID, showInventorySection = false })