﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.SubscriberICService;
@model Online.Registration.Web.ViewModels.PackageVM
@{
    ViewBag.Title = "Select a Maxis Plan";
    Layout = "~/Views/Shared/_NewLayout.cshtml";

    var orderVM = new OrderSummaryVM();

    if ((OrderSummaryVM)Session["RegMobileReg_OrderSummary"] != null)
    {
        orderVM = (OrderSummaryVM)Session["RegMobileReg_OrderSummary"];
    }
    Session["GuidedSales_Type"] = string.Empty;
    var planId = Session["SelectedPlanID"].ToString2();
    var IsDelar = Convert.ToBoolean(Session["IsDealer"]);
    var personalDetails = Model.PersonalDetailsVM;
    var pgmBdls = (orderVM.BrandID <= 0) ? Model.AvailablePackages.Where(a => a.BundleName.Contains("iV").Equals(false)).Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList() : Model.AvailablePackages.Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList();
    var bundleNames = (orderVM.BrandID <= 0) ? Model.AvailablePackages.Where(a => a.BundleName.Contains("iV").Equals(false)).Select(a => a.BundleName).Distinct().ToList() : Model.AvailablePackages.Select(a => a.BundleName).Distinct().ToList();

    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" : string.Empty;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var vasPrimary = Session["SimType"].ToString2() == "MISM" ? "Value Added Services-Primary" : "Value Added Services";
    var vasSecondary = Session["SimType"].ToString2() == "MISM" ? "Value Added Services-Secondary" : "Value Added Services";
    bool IsMNPWithMultpleLines = ReferenceEquals(Session["IsMNPWithMultpleLines"], null) ? false : Convert.ToBoolean(Session["IsMNPWithMultpleLines"]);
    retrieveAcctListByICResponse AcctListByICResponse = null;
    bool IsExistingUser = false;
    if (SessionManager.Get("PPIDInfo") != null)
    {
        AcctListByICResponse = (retrieveAcctListByICResponse)SessionManager.Get("PPIDInfo");
    }
    if (SessionManager.Get("PPID") != null && !string.IsNullOrWhiteSpace(Convert.ToString(SessionManager.Get("PPID"))))
    {
        IsExistingUser = "E".Equals(Convert.ToString(SessionManager.Get("PPID"))) ? true : false;
    }
}
@using (Html.BeginForm("IndexNew", "Home", FormMethod.Post, new { id = "backrepost", @class = "overlayonsubmit", processmsg = "Loading" }))
	{
		var searchby = Session["SearchBy"].ToString2();
		var cardNum = Session["cardNumber"].ToString2();
		var accstat = Session["AcctStat"].ToString2();
		}
<div class="container ipad-container">
    <div class="isell-base">
        <div class="row">
            @{
                Html.RenderPartial("_AccountHolderName");
            }
        </div>
        <div class="row">
            <div class="col-sm-12 green-bg">
                <p class="font-24">
                    Add a Plan</p>
            </div>
        </div>
        @{ 
            Html.RenderPartial("_OrderFlow");
        }
        @using (Html.BeginForm("SelectPlanNew", "NewLine", FormMethod.Post, new { id = "frmSelectPlan", @class = "overlayonsubmit", processmsg = "Loading" }))
        { 
            @Html.Hidden("SIMModelSelected", string.Empty)
            @Html.Hidden("SimCardTypeSelected", "")
            @Html.Hidden("PrimarySimSerial", "")
            @Html.Hidden("SecondarySimSerial", "")
            @Html.Hidden("SimSerialSelected", "")
            @Html.HiddenFor(a => a.TabNumber)
            @Html.HiddenFor(a => a.SelectedPgmBdlPkgCompID)
            @Html.HiddenFor(a => a.SimType)
            
            
            <div class="row">
                <div class="col-sm-12 grey-bg">
                    <ul class="nav nav-tabs line-tab" role="tablist" id="line-type">
                        <li class="active"><a href="#principle" role="tab" data-toggle="tab">Principle Line<span
                            class="active-green-arrow"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="tab-content">
                        <div class="tab-pane active" id="principle">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="device-title">
                                        <span>Step 01:</span> Please select a plan</p>
                                </div>
                                <div class="col-sm-12">
                                    <p class="device-title" id="Plan_Error">
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="font-16">@(ViewBag.GSTnotif)</p>
                                </div>
                            </div>
                            <div class="row border-top">
                                <div class="col-sm-9 del-left-pad" id="show-plan">
                                    <ul class="col-sm-12 plan-list">
                                        @foreach (var bundleName in bundleNames)
                                        {
                                            int index = 0;
                                            var packages = Model.AvailablePackages.Where(a => a.BundleName == bundleName).ToList();
                                            foreach (var package in packages)
                                            {
                                                var btnPlanID = package.PgmBdlPkgCompID;
                                                var btnPlanDetails = "btnPlnDetails_" + package.PackageCode;
                                                string currentPackageOnly = package.PackageName;

                                                if (package.PackageName.Contains("-"))
                                                {
                                                    string[] curPackage = package.PackageName.Trim().Split('-');
                                                    currentPackageOnly = curPackage[0].Trim();
                                                }
                                                //Highlisht Plan -- RST
                                                var id_plan = "plan_id_" + btnPlanID;
                                                var plan_class = "col-sm-12 plan-details";
                                                var checkbox_plan_class = "checkbox-plan";
                                                if (planId != "" && planId == btnPlanID.ToString2())
                                                {
                                                    plan_class = plan_class + " selected-vas";
                                                    checkbox_plan_class = checkbox_plan_class + " checkbox-plan-active";
                                                }
                                                //end 
                                                 
                                            <li class="@plan_class" onclick="SelectedPackage('@btnPlanID');">
                                                <ul class="col-sm-12">
                                                    <li class="col-sm-10">
                                                        <h2>@currentPackageOnly</h2>
                                                    </li>
                                                    <li class="col-sm-1 kill-padding">
                                                        <button data-target="#plan-more" onclick="detailsPlans_OnClick('@btnPlanDetails', '@currentPackageOnly')" data-toggle="modal" class="btn-info">
                                                            <span>i</span>
                                                        </button>
                                                    </li>
                                                    <li class="col-sm-1 kill-padding">
                                                        <div class="@checkbox_plan_class">
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            }
                                        }
                                    </ul>
                                    <div class="modal fade" id="plan-more" tabindex="-1" role="dialog" aria-labelledby="plan-details"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">
                                                        <span class="close-btn">Close</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="col-sm-12">
                                                        <h4 class="modal-title" id="phone-details">
                                                        </h4>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <img alt=""  src="@Url.Content("~/Content/images/Plan/MobileReg_.gif")" id="imgPlanDetails" />
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3" style="width:28%">
                                    @{
                                        var viewBagValue = new ViewDataDictionary();
                                        viewBagValue.Add("GSTMark", ViewBag.GSTMark);
                                        Html.RenderPartial("_OrderSummaryNew",viewBagValue);
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-6">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 process-btn">
                    <footer>
								<navi>
									<div class="container-fluid">
										<div class="row">
											<div class="col-sm-1" id="back">
                                                <div id="backrepost"class="btn isell-btn"  onclick="goback();" >< Back</div>
											</div>
											<div class="col-sm-9" id="cancel">
												<div class="btn isell-btn"  data-toggle="modal" data-target="#cancel-pop" >< Cancel</div>
											</div>
                                            @if (!ReferenceEquals(Session["FromMNP"], null) && Convert.ToBoolean(Session["FromMNP"]))
                                            {
                                                <div class="col-sm-2" onclick="$('#TabNumber').val(@MobileRegistrationSteps.Vas.ToInt());getDependenciesMNP();">
												    <div class="btn isell-next">Next <span>></span></div>
                                                   
											    </div>
                                            }
                                            else
                                            {
                                                <div class="col-sm-2" onclick="$('#TabNumber').val(@MobileRegistrationSteps.Vas.ToInt());getDependencies();">
												    <div class="btn isell-next">Next <span>></span></div>
											    </div>
                                            }
										</div>
                                        </div>
									</navi>
								</footer>
                    
                </div>
            </div>
        }
    </div>
</div>
<div style="display: none;">
    <select id="ddlSimType" name="SimType">
        <option value="0" selected="selected">Normal</option>
        <option value="1">MISM</option>
    </select>
</div>
</div>
@section Scripts{
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js2/sel-plan-device.js")" ></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@planId' != '0') {
                $('#SelectedPgmBdlPkgCompID').val('@planId')

                $('#' + '@planId').addClass('focus');
            }
        });
    </script>
}
<script type="text/javascript">
    function goback(value) {
        $("#backrepost").submit();
    }
    function detailsPlans_OnClick(btnPlanDetails, packageName) {
        console.log(btnPlanDetails);
        var code = btnPlanDetails.substring(14);
        var src = $('#imgPlanDetails').attr("src");
        var indexFrom = src.indexOf("MobileReg_") + 10;
        var indexTo = src.indexOf(".gif");
        var oldCode = src.substring(indexFrom, indexTo);

        src = src.replace(oldCode, "");
        src = src.replace("MobileReg_", "MobileReg_" + code);

        $('#imgPlanDetails').attr("src", src);
        $('#phone-details').text(packageName);
    }

    function getDependenciesMNP() {
        debugger;
        $('#Plan_Error').html("");
        var planID = $('#SelectedPgmBdlPkgCompID').val();
        if (planID != 0 & planID != '/') {
            $("#frmSelectPlan").submit();
        }
        else {
            $('#Plan_Error').html("Please select a Plan.");
            $("html, body").animate({ scrollTop: 0 }, "slow");
            $('#TabNumber').val(3);
            $('#Plan_Error').show();
            return false;
        }
    }

    function getDependencies() {
        var planID = $('#SelectedPgmBdlPkgCompID').val();
        debugger;

        if (planID != 0 & planID != '/') {
           
                $("#frmSelectPlan").submit();
            }
        else {
            $('#Plan_Error').html("Please select a Plan.");
            $("html, body").animate({ scrollTop: 0 }, "slow");
            $('#Plan_Error').show();
            $('#TabNumber').val(3);
            return false;
        }
    }

    function CancelPopUp() {
        $('#cancel-pop').modal('hide');
    }

    function SelectedPackage(planID) {
        $('#SelectedPgmBdlPkgCompID').val(planID);
    }

</script>
