﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.ValueAddedServicesVM 
@{
    
    ViewBag.Title = Session["SimType"].ToString2() == "MISM" ? "Select a Contract and Optional VAS - Primary" : "Select a Contract and Optional VAS";
    var extraTenCount = 0;
    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" : string.Empty;
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var sessionSimType = Session["SimType"].ToString2(); 

    var dataContractGroupId = string.Empty;
    if (System.Configuration.ConfigurationManager.AppSettings["DataContractGroupId"] != null)
    {
        dataContractGroupId = System.Configuration.ConfigurationManager.AppSettings["DataContractGroupId"].ToString();
    }
    var bundleGroupId = string.Empty;
    if (System.Configuration.ConfigurationManager.AppSettings["BundleGroupId"] != null)
    {
        bundleGroupId = System.Configuration.ConfigurationManager.AppSettings["BundleGroupId"];
    }

    var bundleGroupComponentId = string.Empty;
    if (System.Configuration.ConfigurationManager.AppSettings["BundleGroupComponentId"] != null)
    {
        bundleGroupComponentId = System.Configuration.ConfigurationManager.AppSettings["BundleGroupComponentId"];
    }

    var dataContractGroupComponentId = string.Empty;
    if (System.Configuration.ConfigurationManager.AppSettings["DatacontractGroupComponentId"] != null)
    {
        dataContractGroupComponentId = System.Configuration.ConfigurationManager.AppSettings["DataContractGroupComponentId"];
    }
    var selCompIds = Session["SelectedComponents"].ToString2();
    var selContr = Session["RegMobileReg_ContractID"].ToString2();
    var listPrevExtraTenMSISDNs = Session["ExtratenMobilenumbers"].ToString2();
    string extraTenKenanCode = System.Configuration.ConfigurationManager.AppSettings["ExtraTenKenanCode"].ToString2();
    var vasPrimary = Session["SimType"].ToString2() == "MISM" ? "Value Added Services-Primary" : "Value Added Services";
    var vasSecondary = Session["SimType"].ToString2() == "MISM" ? "Value Added Services-Secondary" : "Value Added Services";
    List<string> dataCompIdsList = new List<string>();
    using (var proxy = new RegistrationServiceProxy())
    {
        dataCompIdsList = proxy.GetDataPlanComponentsForMISM();
    }
    var dataCompIds = String.Empty;
    foreach (string item in dataCompIdsList)
    {
        dataCompIds += item + ',';
    }
    var mandatoryDataKenanCodes = Session["MandatoryVasKenanIds"].ToString2();
    var simtype = Session["SimType"].ToString2();

    string[] componentsArray = new string[] { "Main Components", "Data Components", "Extra Components", "Promotional Components" };

    string curSelecteKenanCodes = string.Empty;
    
}
<!-- Centre column area -->
<div id="center">
    @using (Html.BeginForm("SelectVAS", "NewLine", FormMethod.Post, new { id = "frmSelectVAS", @class = "overlayonsubmit", processmsg = "Loading" }))
    { 
        <input type="hidden" id="hdnExtraTenGroupId" />
        <input type="hidden" id="hdnContractAssociatedVASID" />
        <input type="hidden" id="hdnContractkenanVASID" name="hdnContractkenanVASID" />
        
        <input type="hidden" id="hdnSelectsim" name="hdnSelectsim" />
        
        @Html.HiddenFor(a => a.TabNumber)
        @Html.HiddenFor(a => a.OfferId)
        @Html.HiddenFor(a => a.SelectedVasIDs)
        @Html.HiddenFor(a => a.ExtraTenMobileNumbers)
        @Html.HiddenFor(a => a.SelectedContractID)
        @Html.HiddenFor(a => a.uomCode)
        @Html.HiddenFor(a => a.price)
        @Html.HiddenFor(a => a.DeviceType)
        @Html.HiddenFor(a => a.hdnGroupIds)
        @Html.HiddenFor(a => a.SelectedKenanCodes)
        

        <input type="hidden" id="hdnExtraTenFlag" />
        <input type="hidden" id="hdnExtraTenMSISDNs" />
        <input type="hidden" id="hdnExtraTenCount" value="10" />
    
    
        <div class="header-title">
        @if (!ReferenceEquals(Session["FromMNP"], null) && Convert.ToBoolean(Session["FromMNP"]))
        {
             @:MNP New Line - Plan
            }
            else if (Session["SimType"].ToString2() == "MISM")
            {
                  @:MISM New Line - Plan
            }
        else
        {
             @:New Line - Plan
            }
        </div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                @if (!ReferenceEquals(Session["FromMNP"], null) && Convert.ToBoolean(Session["FromMNP"]))
                { 
                      <ul id="table">
                            <li style="display: table-cell; float: none;" class="preselected">Plan</li>
                            <li style="display: table-cell; float: none;" class="selected">VAS</li>
                            <li style="display: table-cell; float: none;">Customer</li>
                            <li style="display: table-cell; float: none;">Summary</li>
                            </ul>
                }
                else if (Session["SimType"].ToString2() == "MISM")
                {
                     <ul id="table">
                       
                        <li style="display: table-cell; float: none;" class="preselected" >Plan</li>
                        <li style="display: table-cell; float: none;" class="selected" >Contract/VAS</li>
                        <li style="display: table-cell; float: none;" >Secondary Plan</li>
                        <li style="display: table-cell; float: none;">Secondary VAS</li>
                        <li style="display: table-cell; float: none;">Number</li>
                        <li style="display: table-cell; float: none;">Customer</li>
                        <li style="display: table-cell; float: none;">Summary</li>
                    </ul>
                }
                else
                {
                 <ul id="table">
                        <li style="display: table-cell; float: none;" class="preselected">Plan</li>
                        <li style="display: table-cell; float: none;" class="selected">Contract / VAS</li>
                        <li style="display: table-cell; float: none;">Number</li>
                        <li style="display: table-cell; float: none;">Customer</li>
                        <li style="display: table-cell; float: none;">Summary</li>
                    </ul>
                }
                   
                   

                </div>
            </div>

            <div class="content_white" style="padding:1px 1px 10px 40px">
              
                    @Html.ValidationSummary(false)
               
            </div>
            <div class="content_white">
                <div style="display: block; padding: 0px 20px; margin: 0px auto;">
                    <div id="Plan_Error" class="ErrorClass">
                    </div>
                    <div id="ui-plan">
                        @{string strSelArray = Session["SelectedComponents"].ToString2();}
                        @foreach (var component in componentsArray)
                        {

                            List<Online.Registration.Web.ViewModels.AvailableVAS> components = new List<Online.Registration.Web.ViewModels.AvailableVAS>();
                            string curComponent = component.ToString();
                            switch (curComponent)
                            {
                                case "Main Components":
                                    components = Model.AvailableVASes;
                                    break;
                                case "Data Components":
                                    components = Model.DataVASes;
                                    break;
                                case "Extra Components":
                                    components = Model.ExtraComponents;
                                    break;
                                case "Promotional Components":
                                    components = Model.PramotionalComponents;
                                    break;
                                default: break;
                            }
                        
                       
                            <h3>@curComponent</h3>
                            <div style="width: 100%; border-left: 1px solid #ccc;">
                                @if (components != null && components.Count > 0)
                                {

                                    foreach (var comp in components)
                                    {
                                        var groupId = (comp.GroupId != null ? comp.GroupId : -1);
                                        string kenanCode = (comp.KenanCode != null ? comp.KenanCode : "-1");
                                        string compId = comp.PgmBdlPkgCompID.ToString();
                                        var btnVASID = "btnVAS_" + compId + "_" + kenanCode;
                                        int isDefault = comp.isDefault;
                                
                                        if (kenanCode != "40090")
                                        {
                                                <div class="plan-outerbox">
                                                    @if (strSelArray.Contains(compId) == true)
                                                    {
                                                        curSelecteKenanCodes = curSelecteKenanCodes+kenanCode+",";
                                                        <div   data-method="SelectedNewVAS('@btnVASID','@comp.PgmBdlPkgCompID','@groupId');"  data-isDefault="@isDefault"  class="plan-innerbox focus"  id='@btnVASID' onclick="SelectedNewVAS('@btnVASID','@comp.PgmBdlPkgCompID','@groupId');"  style="cursor:pointer;">
                                                            <p class="contract-title" style="word-wrap:break-word;width:128px">@comp.ComponentName</p>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div data-method="SelectedNewVAS('@btnVASID','@comp.PgmBdlPkgCompID','@groupId');"  data-isDefault="@isDefault"  class="plan-innerbox" id='@btnVASID' onclick="SelectedNewVAS('@btnVASID','@comp.PgmBdlPkgCompID','@groupId');"  style="cursor:pointer;">
                                                            <p class="contract-title" style="word-wrap:break-word;width:128px">@comp.ComponentName</p>
                                                        </div>
                                                    }
                                                </div>
                                        }                                   
                                    }
                                }
                                else
                                {
                                    <div>
                                        &nbsp;Not Available</div>
                                }
                                <div style="clear: both;">
                                </div>
                            </div>
                        
                    
                        }
                    </div>
                </div>
                <div style="height: 20px;">
                </div>
            </div>
            
            <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
                <div style="float: right; padding-right: 20px;">
                    @if (Session["GuidedSales_Type"].ToString2() != string.Empty)
                    {
                        if (Convert.ToInt32(Session["GuidedSales_Type"]) != MobileRegType.PlanOnly.ToInt())
                        {
                        <input class="cancel backButton" type="submit" value="<" causesvalidation="false" disableValidation="true" onclick="$('#TabNumber').val(@MobileRegistrationSteps.CustomerPersonalDetails.ToInt());" />
                        
                        }
                    }
                    else
                    {
                        <input class="cancel backButton" type="submit" value="<" causesvalidation="false" disableValidation="true" onclick="$('#TabNumber').val(@RegistrationSteps.Plan.ToInt());" />
                        
                    }
                    @if (sessionRegType == (int)MobileRegType.DevicePlan && Session["SimType"].ToString2() == "MISM")
                    {
                        <input class="submitButton" type="button" value="continue" onclick="callcantract();" />
                          
                       
                    }
                    else if (sessionRegType == (int)MobileRegType.PlanOnly && Session["SimType"].ToString2() == "MISM")
                    {
                        <input class="submitButton" type="button" value="Secondary Plan" onclick="$('#TabNumber').val(@RegistrationSteps.SecoPlan.ToInt());getDependencyComponents();" />
                           
                    }
                    else if (sessionRegType != (int)MobileRegType.PlanOnly)
                    {
                        <input class="submitButton" type="button" value="Next Step: Number" onclick="callcantract();" />
                        
                    }
                    else
                    {
                        if (!ReferenceEquals(Session["FromMNP"], null) && Convert.ToBoolean(Session["FromMNP"]))
                        {
                            <input class="submitButton" type="button" value="Next Step: Customer" onclick="$('#TabNumber').val(@MobileRegistrationSteps.MobileNo.ToInt());getDependencyComponents();" />
                        }
                        else
                        {
                        <input class="submitButton" type="button" value="Next Step: Number" onclick="$('#TabNumber').val(@MobileRegistrationSteps.MobileNo.ToInt());getDependencyComponents();" />
                        }

                    }
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
     @Html.Partial("_footer")
    
    
    
    
                   
    }
</div>
<!-- Right column area -->
<div id="right">
    @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
</div>
<style type="text/css">
.t-window-content
{
  height: auto !important;
}
</style>
@{
   

   

    Html.Telerik().ScriptRegistrar()
        .OnDocumentReady(@<text> 
    $('#btnExtraTen').click(function(e) { e.preventDefault(); $('#extraTenWindow').data('tWindow').center().open();$('#ExtratenPlan_Error').html('');});
   
    </text>);




    Html.Telerik().Window()
   .Name("extraTenWindow")
   .Title("Extra Ten")
   .Width(360)


   .Content(@<text>
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td>
            <div class="ErrorClass" style="display: block;" id="ExtratenPlan_Error"></div>
                <div id="divExtraTen">
                    @for (int i = 0; i < 10; i++)
                    {

                        var divId = "divExtraTen_" + i;
                        var txtId = "txtExtraTen_" + i;
                        var delbtnId = "btnDeleteExtraTen_" + i;

                        var lblSnoId = "lblSno_" + i;

                        extraTenCount++;
                    
                        <div id='@divId' style="padding-bottom:10px;" >
                            @*<label class="NumL" id=@lblSnoId>@extraTenCount</label>*@
                           <span style="width:20px; display:inline-block; text-align:center;">  @extraTenCount.ToString()</span>
                            <input class="TxtBox" type="text" id=@txtId tabindex="1" />
                            <input class="DelBtn" style="display:none;" type="button" onclick='deleteExtraTen(this);' id=@delbtnId value="" />
                        </div>
                    
                    }
                </div>
                <div class="Controller" style="display: none;">
                    <input type="button" class="AddMoreBtn" id="btnAddMore" tabindex="1" onclick="addExtraTenDiv();"
                        value="" />
                </div>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="white-space: nowrap;" align="center">
                <input id="btnSaveExtraTen" type="button" class="submitButton" value="Save" tabindex="1"
                    onclick="return validateExtraTen();" />
                <input type="button" class="submitButton" id="btnCancelExtraTen" tabindex="1" onclick="cancelExtraTen();"
                    value="Cancel" />
            </td>
        </tr>
    </table>
    </text>
   )
   .Modal(true)
   .Visible(false)
   .ClientEvents(events => events.OnOpen("extraTenWindowOnOpen"))
   .Render();
}
@section Scripts{
    <script type="text/javascript">


        jQuery(function () {
            jQuery("#ui-plan").accordion({
                autoHeight: false
            });
            $("#ui-plan").accordion("option", "icons",
        		{ 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });
        });

        $(document).ready(function () {
            var arrVasID = $('#SelectedVasIDs').val().split(',');
            if (arrVasID == "") {
                var listitems = $('.plan-outerbox > .plan-innerbox');
                for (var i = 0; i < listitems.length; i++) {
                    var method = $(listitems[i]).attr('data-method')
                    var isdefault = $(listitems[i]).attr('data-isDefault')
                    if (isdefault == '1')
                        eval(method);
                }
            }
            $('#Plan_Error').hide();

            if ('@Session["SelectedKenanCodes"].ToString2()' != '') {
                $('#SelectedKenanCodes').val('@Session["SelectedKenanCodes"].ToString2()');
            }

            $("#btnSaveDeviceType").click(function () {
                $('#DeviceType').val("Seco_WithDevice");
                //document.forms['frmSelectVAS'].submit();
                $("#frmSelectVAS").submit();
            });

            $("#btnCancelDeviceType").click(function () {
                $('#DeviceType').val("Seco_NoDevice");
                //document.forms['frmSelectVAS'].submit();
                $("#frmSelectVAS").submit();
            });

            //Highlight selected VAS
            var arrVasID = $('#SelectedVasIDs').val().split(',');
            $.each(arrVasID, function (index, value) {
                if (value != ' ' || value != ',') {
                    $('#btnVAS_' + value).css("border-style", "solid");
                }





            });


            if ('@(listPrevExtraTenMSISDNs)' != '') {

                $('#ExtraTenMobileNumbers').val('@(listPrevExtraTenMSISDNs)');
                $('#hdnExtraTenFlag').val('true');

                var panel = $("#divExtraTen");
                var childDivs = panel.find("div");
                var objListMSISDNs = $('#ExtraTenMobileNumbers').val().split(',');
                $('#hdnExtraTenCount').val(childDivs.length);
                if (objListMSISDNs.length <= childDivs.length) {

                    for (var i = 0; i < childDivs.length; i++) {

                        var txtElement = $('#' + childDivs[i].id).find('input[type="text"]');
                        if (txtElement != null)
                            txtElement.val(objListMSISDNs[i]);

                    }

                }
                else {

                    for (var i = 0; i < (objListMSISDNs.length - childDivs.length); i++) {
                        var index = parseInt($('#hdnExtraTenCount').val()) + 1;
                        var divId = "divExtraTen_" + index;
                        var txtId = "txtExtraTen_" + index;
                        var delbtnId = "btnDeleteExtraTen_" + index;
                        var lblSnoId = "lblSno_" + childDivs.length + 1;
                        //$("#divExtraTen").append("<div id='"+divId+"' ><input type='text' id='"+txtId+"' /> <input type='button'  onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");;
                        $("#divExtraTen").append("<div class='Controller Row' id='" + divId + "' ><label class='NumL' id='" + lblSnoId + "'>" + (parseInt(childDivs.length + 1)) + "</label><input class='TxtBox' type='text' id='" + txtId + "' tabindex='1' /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='" + delbtnId + "' /></div>");
                        $('#hdnExtraTenCount').val(index + 1);

                    }
                    childDivs = panel.find("div");
                    for (var i = 0; i < childDivs.length; i++) {

                        var txtElement = $('#' + childDivs[i].id).find('input[type="text"]');
                        if (txtElement != null)
                            txtElement.val(objListMSISDNs[i]);

                    }


                }

            }

            var contractID = $('#SelectedContractID').val();
            if (contractID != ' ' || contractID != '') {
                $('#btnConVAS_' + contractID).css("border-style", "solid");
            }

        });


        function addExtraTenDiv() {
            var index = parseInt($('#hdnExtraTenCount').val()) + 1;
            var divId = "divExtraTen_" + index;
            var txtId = "txtExtraTen_" + index;
            var delbtnId = "btnDeleteExtraTen_" + index;
            //$("#divExtraTen").append("<div id='"+divId+"' ><input type='text' id='"+txtId+"' /> <input type='button' value='X' onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");;

            var panel = $("#divExtraTen");
            var childDivs = panel.find("div");
            var lblSnoId = "lblSno_" + childDivs.length + 1;
            $("#divExtraTen").append("<div class='Controller Row' id='" + divId + "' ><label class='NumL' id='" + lblSnoId + "'>" + (childDivs.length + 1) + "</label><input class='TxtBox' type='text' id='" + txtId + "' tabindex='1' /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='" + delbtnId + "' /></div>");
            $('#hdnExtraTenCount').val(parseInt(index) + 1);

        }

        function deleteExtraTen(delbtn) {
            var delbtnId = delbtn.id;


            var panel = $("#divExtraTen");
            var childDivs = panel.find("div");

            if (childDivs.length > 1) {
                $('#' + delbtnId).parent().remove();

            }
            else {
                alert("Atleast one mobile number has to be entered for Extra Ten");
                return false;
            }

            ResetSerialNo();

        }



        function ResetSerialNo() {
            var panel = $("#divExtraTen");
            var childDivs = panel.find("div");
            for (var i = 0; i < childDivs.length; i++) {
                //alert($('#'+childDivs[i].id).children(':first-child').html());
                var curDivId = childDivs[i].id;
                $('#' + curDivId).children(':first-child').html(i + 1)

                //           $('#'+curDivId).removeAttr('class');
                //           if(i%2==0)
                //           {
                //            $('#'+curDivId).addClass('Controller AltRow');
                //              
                //           }
                //           else
                //           {
                //             $('#'+curDivId).addClass('Controller Row');
                //           }


            }
        }


        function cancelExtraTen() {

            //        if(confirm("Are you sure you want to cancel Extra Ten"))
            //        {
            //          var value='2239';

            //          var objGroupId=$('#hdnExtraTenGroupId').val();
            //             $("#btnVAS_2239").css("border-style", "none");
            //               var  modGroupIds =$('#hdnGroupIds').val().toString().replace(objGroupId+",","");
            //            $('#hdnGroupIds').val(modGroupIds);
            //            var arrVasID = $('#SelectedVasIDs').val().split(',');
            //            var newVasIDs='';
            //                for(var i=0;i<arrVasID.length;i++)
            //                {

            //                if(arrVasID[i].toString()!="")
            //                {
            //                  if(arrVasID[i].toString()!=value)
            //                   {
            //                     if(newVasIDs=="")
            //                      newVasIDs=arrVasID[i];
            //                     else
            //                      newVasIDs=newVasIDs+","+arrVasID[i];
            //                    }
            //                }
            //                

            //                
            //                }
            //               

            //                 $('#SelectedVasIDs').val(newVasIDs);
            // $('#ExtraTenMobileNumbers').val("");
            // $('#hdnExtraTenFlag').val('false');
            $('#extraTenWindow').data('tWindow').close();

            // }

        }



        function extraTenWindowOnOpen() {



        }

        function validateExtraTen() {
            var panel = $("#divExtraTen");
            var childDivs = panel.find("div");



            var objListMSISDNs = "";
            var mobregex = /^60[0-9]{8,10}$/;
            for (var i = 0; i < childDivs.length; i++) {

                var txtElement = $('#' + childDivs[i].id).find('input[type="text"]');
                if (txtElement.val() != "") {
                    if (!mobregex.test(txtElement.val())) {
                        $('#ExtratenPlan_Error').show();
                        $('#ExtratenPlan_Error').html("Please enter valid MSISDN number");
                        return false;
                    }
                }





                if (txtElement.val() != "") {
                    if (objListMSISDNs.indexOf(txtElement.val()) == -1) {
                        if (objListMSISDNs != "")
                            objListMSISDNs = objListMSISDNs + "," + txtElement.val();
                        else
                            objListMSISDNs = txtElement.val();
                    }
                    else {
                        $('#ExtratenPlan_Error').show();
                        $('#ExtratenPlan_Error').html("Please enter unique mobile numbers");
                        return false;
                    }


                }



            }

            //          if(parseInt(objListMSISDNs.split(',').length)>10)
            //            {
            //            if(confirm("Extra Ten limit has exceeded. You will have to pay additional charges.")==false)
            //            {
            //              return false;
            //            }
            //            }
            // $('#ExtraTenMobileNumbers').val(objListMSISDNs);
            //Validation

            var url = '@(Url.Content("~/Registration/validateExtraTenMSISDN"))';

            $.post(url, { arrMSISDNs: objListMSISDNs }, function (data) {
                if (data.toString() != '') {
                    $('#ExtratenPlan_Error').show();
                    $('#ExtratenPlan_Error').html("Please enter valid maxis mobile number for " + data.toString());
                    return false;
                }
                else if (data.toString() == '') {

                    // $('#ExtraTenMobileNumbers').val(objListMSISDNs);


                    var url1 = '@(Url.Content("~/Registration/validateExtraTenMSISDNAgainstAccount"))';

                    $.post(url1, { arrMSISDNs: objListMSISDNs }, function (data) {

                        if (data.toString() != '') {
                            $('#Plan_Error').show();
                            $('#Plan_Error').html(data.toString() + " is already part of your account !");
                            $("html, body").animate({ scrollTop: 0 }, "slow");
                            return false;
                        }
                        else if (data.toString() == '') {

                            $('#ExtraTenMobileNumbers').val(objListMSISDNs);

                            SetComponentIds();

                            var compIds = $('#SelectedVasIDs').val();
                            var url = '@(Url.Content("~/Registration/GetDepenedencyComponents"))';
                            $.post(url, { componentIds: compIds }, function (data) {
                                if (data.toString() != "") {
                                    $('#SelectedVasIDs').val(data);


                                }
                                $('#extraTenWindow').data('tWindow').close();
                                $('#TabNumber').val(4);
                                //document.forms["frmSelectVAS"].submit();
                                $("#frmSelectVAS").submit();
                            });



                        }

                    }, "text");

                    // $('#extraTenWindow').data('tWindow').close();
                }

            }, "text");
















        }

        function OfferWindowOnOpen() {

            $('#OrderId').val('');
        }

        function validateOffer() {
            var selOfferVal = $("#tlkddlDetOffers").data("tDropDownList").value();
            if (selOfferVal == -1) {
                $('#Plan_Error').show();
                $('#Plan_Error').html("Please Select Offer");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            else {
                SetComponentIds();
                var simtype = '@Session["SimType"].ToString2()';
                if (simtype == "MISM") {
                    $('#DeviceWindow').data('tWindow').center().open();
                }
                else {
                    //document.forms['frmSelectVAS'].submit();
                    $("#frmSelectVAS").submit();
                }

                return true;
            }
        }



        function SelectedOffer() {

            var selOfferVal = $("#tlkddlDetOffers").data("tDropDownList").value();

            if (selOfferVal != "-1") {
                $('#OfferId').val(selOfferVal.toString().split(',')[0]);
                $('#price').val(selOfferVal.toString().split(',')[1]);
                $('#uomCode').val(selOfferVal.toString().split(',')[2]);

            }
        }

        function callcantract() {
            //get dependency components and add them to the final list


            var compIds = $('#SelectedVasIDs').val();


            if (compIds == null) {
                compIds = ""
            }
            var url = '@(Url.Content("~/Registration/GetDepenedencyComponents"))';
            $.post(url, { componentIds: compIds }, function (data) {
                if (data.toString() != "") {
                    $('#SelectedVasIDs').val(data);

                }

            });

            //get dependency components and add them to the final list

            var contractID = $('#SelectedContractID').val();
            if (contractID == '' || contractID == ' ' || contractID == undefined) {
                $('#Plan_Error').show();
                $('#Plan_Error').html('Please Select a Contract');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $('#TabNumber').val(3);
                return false;
            }
            else if (contractID != '') {
                $('#TabNumber').val(4);
            }
            var offersUrl = '@(Url.Content("~/Registration/OfferByDevicePlanAndContractNoId"))';
            $.post(offersUrl, { contractId: contractID }, function (data) {

                var dropDownList = $('#tlkddlDetOffers').data('tDropDownList');
                dropDownList.dataBind(data);

                dropDownList.select(0);

            }, "json");

            $('#offerDetailsWindow').data('tWindow').center().open();


        }


        function SubmitForm(sequenceNo) {

            $('#submit1').val(sequenceNo);
            //document.forms['frmSelectVAS'].submit();
            $("#frmSelectVAS").submit();
        }


        if ('@(selCompIds)' != '') {
            // selCompIds
            $('#SelectedVasIDs').val('@(selCompIds)');
        }
        if('@(curSelecteKenanCodes)'!='')
                {
                    $('#SelectedKenanCodes').val('@(curSelecteKenanCodes)');
                }
        function SelectedConVAS(btnConVASID, vasID) {

            if ($('#SelectedContractID').val() == vasID) {
                $('#SelectedContractID').val('');
                $(btnConVASID).css("border-style", "none");
                $('#hdnContractAssociatedVASID').val('');
            }
            else {


                var url = '@(Url.Content("~/Registration/GetGroupIdForAutoBoundContractComponent"))';
                $.post(url, { contractId: vasID }, function (data) {
                    if (data.toString() != "") {

                        var CurGroupIds = $('#hdnGroupIds').val();
                        if (CurGroupIds != '') {
                            if (CurGroupIds.indexOf(data) == -1) {

                                $('#SelectedContractID').val(vasID);
                                $('button[id^="btnConVAS_"]').css("border-style", "none");
                                $(btnConVASID).css("border-style", "solid");
                                $('#hdnContractAssociatedVASID').val(data);


                            }
                            else {
                                   alert("Contract has an associated VAS which belongs to same group of the components selected.")
//                                $('#Plan_Error').show();
//                                $('#Plan_Error').html("Please first select the contract and then the data component.");
                                return;
                            }
                        }
                        else {
                            $('#SelectedContractID').val(vasID);
                            $('button[id^="btnConVAS_"]').css("border-style", "none");
                            $(btnConVASID).css("border-style", "solid");
                            $('#hdnContractAssociatedVASID').val(data);



                        }





                    }
                    else {
                        $('#SelectedContractID').val(vasID);
                        $('button[id^="btnConVAS_"]').css("border-style", "none");
                        $(btnConVASID).css("border-style", "solid");
                        $('#hdnContractAssociatedVASID').val(data);



                    }




                });




            }


        }

        if ('@(selCompIds)' != '') {
            $('#SelectedVasIDs').val('@(selCompIds)');
        }
        if ('@(selContr)' != '') {
            $('#SelectedContractID').val('@(selContr)');
            var url = '@(Url.Content("~/Registration/GetGroupIdForAutoBoundContractComponent"))';
            $.post(url, { contractId: $('#SelectedContractID').val() }, function (data) {
                if (data.toString() != "") {
                    $('#hdnContractAssociatedVASID').val(data);
                }
            });
        }

        function SetComponentIds() {
            $('#SelectedVasIDs').val('');
            // alert($('.cancel btnSelection').size())
            $('div[id^="btnVAS_"]').each(function (i) {
                // alert($(this).attr("style"));
                var curBtnId = $(this).attr("id");
                //alert(document.getElementById(curBtnId).style.borderStyle);
                var curbtnBorder = document.getElementById(curBtnId).style.borderStyle;
                //  var objArray= curBtnId.toString().split('_')[1];

                var curKenanCode = curBtnId.toString().split('_')[2]
                var curCompId = curBtnId.toString().split('_')[1]
                if ($('#' + curBtnId).hasClass("focus").toString() == "true") {
                    $('#SelectedVasIDs').val($('#SelectedVasIDs').val() +","+ curCompId + ",");
                    if (curKenanCode == '@(extraTenKenanCode)') {
                        $('#hdnExtraTenFlag').val('true');
                    }
                }



            });
        }
        function getDependencyComponents() {

            SetComponentIds();
            var result = 0;
            var compIds = $('#SelectedVasIDs').val();
            if ('@(simtype)' == 'MISM') {
                var dataCompids = '@(dataCompIds)'.split(',');
                var things = dataCompids;
                for (var i = 0; i < things.length - 1; i++) {
                    //Do things with things[i]
                    result = checkDataComponent(things[i]);
                    if (result)
                        break;
                }
                if (!result) {
                    $('#Plan_Error').show();
                    $('#Plan_Error').html('Please select more than or equal to 2GB data component');
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                }
            }
            var url = '@(Url.Content("~/Registration/GetDepenedencyComponents"))';
            $.post(url, { componentIds: compIds }, function (data) {
                if (data.toString() != "") {
                    $('#SelectedVasIDs').val(data);


                }
                if ($('#hdnExtraTenFlag').val() == 'true') {
                    $('#extraTenWindow').data('tWindow').center().open();
                }
                else {
                    //$('#offerWindow').data('tWindow').center().open();
                    //document.forms["frmSelectVAS"].submit();
                    $("#frmSelectVAS").submit();
                }
            });

        }


        {

        }

        function getComponents() {

            callcantract();
            $('#DeviceWindow').data('tWindow').center().open();
            //document.forms['frmSelectVAS'].submit();
            $("#frmSelectVAS").submit();
        }

        //New Javascript Function By VLT For Grouping of Components Check on APR 21 2013
        function SelectedNewVAS(objBtnId, objvasID, objGroupId) {
            var curKenanCode = objBtnId.toString().split('_')[2]
            if (curKenanCode == '@(extraTenKenanCode)') {
                $("#hdnExtraTenGroupId").val(objGroupId);
            }
            var vasFound = false;
            var arrVasID = $('#SelectedVasIDs').val().split(',');
            var arrKenanID = $('#SelectedKenanCodes').val().split(',');
            if ($.isArray(arrVasID)) {
                arrVasID = jQuery.grep(arrVasID, function (value) {
                    if (value == objvasID) {
                        vasFound = true;
                    }
                    return value != objvasID;
                });
            }
            if ($.isArray(arrKenanID)) {
                arrKenanID = jQuery.grep(arrKenanID, function (value) {
                    if (value == curKenanCode) {
                        kenanFound = true;
                    }
                    return value != curKenanCode;
                });
            }
            if (vasFound) {
                if (curKenanCode == '@(extraTenKenanCode)') {

                    $('#hdnExtraTenFlag').val('');
                    $('#ExtraTenMobileNumbers').val('');

                }
                //$('#'+objBtnId).css("border-style", "none");
                $('#' + objBtnId).removeClass('focus');
                var modGroupIds = $('#hdnGroupIds').val().toString().replace(objGroupId + ",", "");
                $('#hdnGroupIds').val(modGroupIds);
                var newVasIDs = '';
                var newKenanIDs = '';
                $.each(arrVasID, function (index, value) {
                    if (value != "" && value != ',') {
                        newVasIDs = newVasIDs + value + ',';
                    }
                });
                $.each(arrKenanID, function (index, value) {
                    if (value != "" && value != ',') {
                        newKenanIDs = newKenanIDs + value + ',';
                    }
                });
                $('#SelectedVasIDs').val(newVasIDs);
                $('#SelectedKenanCodes').val(newKenanIDs);
            }
            else {
                if (curKenanCode == '@(extraTenKenanCode)') {

                    $('#hdnExtraTenFlag').val('true');

                }


                if ($('#hdnContractAssociatedVASID').val().indexOf(objGroupId) != -1) {
                    $('#Plan_Error').show();
                    $('#Plan_Error').html("Dependency Check Fail: Duplicate of Product Mobile – APN=UNET/3G Found, please unselect it from the Data Components section.")
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return;

                }
                var curbtnBorder = $('#' + objBtnId).css('border-style');
                if (objGroupId == -1) {
                    if ($('#' + objBtnId).hasClass("focus").toString() == "true") {
                        // $('#'+objBtnId).css("border-style", "none");
                        $('#' + objBtnId).removeClass('focus');

                        //Remove Vas Ids
                        var curVasIds = $('#SelectedVasIDs').val();
                        curVasIds = curVasIds.toString().replace(objvasID + ",", "");
                        $('#SelectedVasIDs').val(curVasIds);

                        //Remove kenan ids
                        var curKenanIds = $('#SelectedKenanCodes').val();
                        curKenanIds = curKenanIds.toString().replace(curKenanCode + ",", "");
                        $('#SelectedKenanCodes').val(curKenanIds);

                    }
                    else {
                        // $('#'+objBtnId).css("border-style", "solid");
                        $('#' + objBtnId).addClass('focus');
                        $('#SelectedVasIDs').val($('#SelectedVasIDs').val() + ","+objvasID + ',');
                        $('#SelectedKenanCodes').val($('#SelectedKenanCodes').val() +","+ curKenanCode + ',');
                    }

                    return;
                }

                var CurGroupIds = $('#hdnGroupIds').val();
                if ($('#' + objBtnId).hasClass("focus").toString() == "true") {

                    // $('#'+objBtnId).css("border-style", "none");
                    $('#' + objBtnId).removeClass('focus');

                    //Remove Group Ids
                    CurGroupIds = CurGroupIds.toString().replace(objGroupId + ",", "");
                    $('#hdnGroupIds').val(CurGroupIds);

                    //Remove Vas Ids
                    var curVasIds = $('#SelectedVasIDs').val();
                    curVasIds = curVasIds.toString().replace(objvasID + ",", "");
                    $('#SelectedVasIDs').val(curVasIds);

                    var curkenanIds = $('#SelectedKenanCodes').val();
                    curkenanIds = curkenanIds.toString().replace(curKenanCode + ",", "");
                    $('#SelectedKenanCodes').val(curkenanIds);
                    return;
                }
                if (CurGroupIds != '') {
                    if (CurGroupIds.indexOf(objGroupId) == -1) {
                        CurGroupIds += objGroupId + ",";
                    }
                    else {
                        $('#Plan_Error').show();
                        $('#Plan_Error').html("Please Select only one Component from Each Group")
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                        return;
                    }
                }
                else {
                    CurGroupIds = objGroupId + ",";
                }
                // $('#'+objBtnId).css("border-style", "solid");
                $('#' + objBtnId).addClass('focus');
                $('#hdnGroupIds').val(CurGroupIds);

                if (!checkDuplicate($('#SelectedVasIDs').val(), objvasID)) {
                    $('#SelectedVasIDs').val($('#SelectedVasIDs').val() + objvasID + ',');
                }
                if (!checkDuplicate($('#SelectedKenanCodes').val(), curKenanCode)) {

                    $('#SelectedKenanCodes').val($('#SelectedKenanCodes').val() + curKenanCode + ',');
                }


            }



        }
        function checkDataComponent(objvasID) {
            var count = 0;
            var mandatoryDataKenanCodes = '@(mandatoryDataKenanCodes)' + ',' + $('#SelectedKenanCodes').val();
            var things = mandatoryDataKenanCodes.split(',');
            for (var i = 0; i < things.length; i++) {
                if (things[i] == objvasID) {
                    count++;
                }
            }
            if (count > 0) {
                return true;
            }
            else {
                return false;
            }

        }

        function checkDuplicate(arrVasID, objvasID) {
            if ($.isArray(arrVasID)) {
                arrVasID = jQuery.grep(arrVasID, function (value) {
                    if (value == objvasID) {
                        return true;
                    }
                    return value != objvasID;
                });
            }
        }
        //End of New Javascript Function By VLT For Grouping of Components Check on APR 21 2013

   
    </script>
}
