﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.Properties;
@model Online.Registration.Web.ViewModels.PackageVM
@{
    ViewBag.Title = "Select a Maxis Plan - Secondary";
    var orderVM = new OrderSummaryVM();
    if ((OrderSummaryVM)Session["RegMobileReg_OrderSummary"] != null)
    {
        orderVM = (OrderSummaryVM)Session["RegMobileReg_OrderSummary"];
    }
    var extraTenCount = 0;
    var listPrevExtraTenMSISDNs = Session["ExtratenMobilenumbers"].ToString2();
    Session["GuidedSales_Type"] = "";
    var planId = "";
    if (Session["SelectedPlanID_Seco"] != null)
    {
        planId = Session["SelectedPlanID_Seco"].ToString();
    }
    var pgmBdls = (orderVM.BrandID <= 0) ? Model.AvailablePackages.Where(a => a.BundleName.Contains("iV").Equals(false)).Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList() : Model.AvailablePackages.Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList();
    var bundleNames = (orderVM.BrandID <= 0) ? Model.AvailablePackages.Where(a => a.BundleName.Contains("iV").Equals(false)).Select(a => a.BundleName).Distinct().ToList() : Model.AvailablePackages.Select(a => a.BundleName).Distinct().ToList();

    //var pgmBdls = (orderVM.BrandID <= 0) ? Model.AvailablePackages.Where(a => a.BundleName.Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList() : Model.AvailablePackages.Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList();
    //var bundleNames = (orderVM.BrandID <= 0) ? Model.AvailablePackages.Where(a => a.BundleName.Select(a => a.BundleName).Distinct().ToList() : Model.AvailablePackages.Select(a => a.BundleName).Distinct().ToList();
    var SecSimType = Session["SimType"].ToString2();
    
    var IsDelar = Convert.ToBoolean(Session["IsDealer"]);
    var devicePath = Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan ? " Device >" : "";
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    var sessionRegType = Session["RegMobileReg_Type"].ToInt();
    var vasPrimary = Session["SimType"].ToString2() == "MISM" ? "Value Added Services-Primary" : "Value Added Services";
    var vasSecondary = Session["SimType"].ToString2() == "MISM" ? "Value Added Services-Secondary" : "Value Added Services";
}
<div id="center">
@using (Html.BeginForm("SelectSecondaryPlan", "NewLine", FormMethod.Post, new { id = "frmSelectPlan", @class = "overlayonsubmit", processmsg = "Loading" }))
{
    @Html.HiddenFor(a => a.ExtraTenMobileNumbers)
    @Html.HiddenFor(a => a.TabNumber)
    @Html.HiddenFor(a => a.TabNumberSeco)
    @Html.HiddenFor(a => a.SelectedSecondaryPgmBdlPkgCompID)
    @Html.HiddenFor(a => a.SimType)
    @Html.Hidden("SIMModelSelected", string.Empty)
    @Html.Hidden("SimCardTypeSelected", "")
    @Html.Hidden("PrimarySimSerial", "")
    @Html.Hidden("SecondarySimSerial", "")
    @Html.Hidden("SimSerialSelected", "")
    <input type="hidden" id="hdnSelectedPlans"  value='@planId' />
    <div class="header-title">
        @ViewBag.Title
    </div>
    <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        @if (Session["RegMobileReg_Type"].ToInt() == (int)MobileRegType.DevicePlan)
                        {
                            <li style="display: table-cell; float: none;">Device</li>
                        }
                        <li style="display: table-cell; float: none;">Plan</li>
                        <li style="display: table-cell; float: none;" class="preselected">Contract/VAS</li>
                        <li style="display: table-cell; float: none;" class="selected">Secondary Plan</li>
                        <li style="display: table-cell; float: none;">Secondary VAS</li>
                        <li style="display: table-cell; float: none;">Number</li>
                        <li style="display: table-cell; float: none;">Customer</li>
                        <li style="display: table-cell; float: none;">Summary</li>
                    </ul>
                </div>
            </div>

             <div class="content_white" style="padding:1px 1px 10px 40px">
              
                    @Html.ValidationSummary(false)
               
            </div>
            <div class="content_white">
                <div style="display: block; padding: 0px 20px; margin: 0px auto;">
                    <div id="Plan_Error" class="ErrorClass">
                    </div>
                    <div id="ui-plan">
                    @if (Model.AvailablePackages.Count > 0)
                    {
                        foreach (var bundleName in bundleNames)
                        {
                            int index = 0;
                            var packages = Model.AvailablePackages.Where(a => a.BundleName == bundleName).ToList();
                            <h3>@pgmBdls.Where(a => a.bundleName == bundleName).SingleOrDefault().programName.ToUpper():
                                <span class="txt-18-black-normal">@bundleName</span></h3>
                            <div style="width: 100%; border-left: 1px solid #ccc;">
                                @foreach (var package in packages)
                                {
                                    var btnPlanID = package.PgmBdlPkgCompID;
                                    var btnPlanDetails = "btnPlnDetails_" + package.PackageCode;
                                    <div class="plan-outerbox">
                                        <div  id="@btnPlanID" class="plan-innerbox" onclick="SelectedPackage(this,'@btnPlanID');" style="cursor:pointer;">
                                            @if (package.PackageName.Contains("-") == true)
                                            {
                                                string[] curPackage = package.PackageName.Trim().Split('-');
                                                <p class="plan-title">@curPackage[0].Trim()</p>
                                                <p class="plan-status">@curPackage[1].Trim()</p>
                                            }
                                            else
                                            {
                                                <p class="plan-title">@package.PackageName</p>
                                            }

                                            <div class="plan-viewmore">
                                                <a href="javascript:detailsPlans_OnClick('@btnPlanDetails')" id="popup-message" class="cboxElement">
                                                    View Plan</a></div>
                                        </div>
                                    </div>
                                                                                     index += 1;
                                                                                     if (index == packages.Count())
                                                                                     { 
                                    <div style="clear: both;">
                                    </div>
                                                                                     }
                                }
                            </div>
                        
                        }
                    }
                    </div>
                </div>
                <div style="height: 20px;">
                </div>
            </div>
            <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
                <div style="float: right; padding-right: 20px;">                 
                    @*@if (Session["DeviceType"].ToString2() == "Seco_WithDevice")
                    {
                        <input class="cancel backButton" type="submit" value="<" disableValidation="true" onclick="$('#TabNumber').val(@RegistrationSteps.DeviceCatalogSeco.ToInt());" />
                    }
                    else
                    {*@ 
                        <input class="cancel backButton" type="submit" value="<" onclick="$('#TabNumber').val(@RegistrationSteps.Vas.ToInt());" />
                    @*}*@
                    @if (Roles.IsUserInRole("MREG_DIC") || Roles.IsUserInRole("MREG_DAI") || Roles.IsUserInRole("MREG_DSV") || Roles.IsUserInRole("DSupervisor") || Roles.IsUserInRole("DREG_SV"))
                 {
                <input id="btnSIM" class="submitButton" type="button" value="SIM" />
                 }
                    <input class="submitButton" type="submit" value="Next Step: Contract/VAS" onclick="javascript:return getDependencies();" />
                </div>
                <div style="clear: both;">
                </div>
            </div>
    </div>
    <div class="footer-text">
   </div>
               
}
</div>
<div id="right">
    @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
</div>
@{
   

  
    Html.Telerik().Window()
   .Name("extraTenWindow")
   .Title("Extra Ten")
   .Width(360)
   .Height(470)

   .Content(@<text>
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td colspan="2">
                <div id="divExtraTen">
                    @for (int i = 0; i < 10; i++)
                    {

                        var divId = "divExtraTen_" + i;
                        var txtId = "txtExtraTen_" + i;
                        var delbtnId = "btnDeleteExtraTen_" + i;

                        var lblSnoId = "lblSno_" + i;

                        extraTenCount++;
                        //var rowClass = "Controller Row";

                        // if(i%2==0)
                        // {
                        //     rowClass ="Controller AltRow";
                        // }
                        //else
                        // {
                        //     rowClass = "Controller Row";
                        // }    
                    
           
                        
                       <div id='@divId' style="padding-bottom:10px;" >
                            @*<label class="NumL" id=@lblSnoId>@extraTenCount</label>*@
                           <span style="width:20px; display:inline-block; text-align:center;">  @extraTenCount.ToString()</span>
                            <input class="TxtBox" type="text" id=@txtId />
                            <input class="DelBtn" type="button" onclick='deleteExtraTen(this);' id=@delbtnId value=""  style="display:none" />
                        </div>
                    
                    }
                </div>
                <div class="Controller"  style="display:none">
                    <input type="button" class="AddMoreBtn" id="btnAddMore" onclick="addExtraTenDiv();"
                        value="" />
                </div>
              
            </td>
        </tr>
        <tr>
            <td>
                <input id="btnSaveExtraTen" type="button" class="submitButton" value="Save" onclick="return validateExtraTen();" />
                <input type="button" class="submitButton" id="btnCancelExtraTen" onclick="cancelExtraTen();"
                    value="Cancel" />
            </td>
        </tr>
    </table>
    </text>
   )
   .Modal(true)
   .Visible(false)
   .ClientEvents(events => events.OnOpen("extraTenWindowOnOpen"))
   .Render();

    Html.Telerik().ScriptRegistrar()
        .OnDocumentReady(@<text> 
    

    $('#btnExtraTen') .click(function(e) { e.preventDefault(); $('#extraTenWindow').data('tWindow').center().open();});
    </text>); 
}
@{
    Html.Telerik().Window()
        .Name("planDetailsWindow")
        .Title("Plan Details")
        .Width(700)
        .Height(600)
        .ClientEvents(events => events.OnActivate("PlanWindow_popup"))
        .Content(@<text>
    <table width="100%">
        <tr>
            <td>
                <img alt="" id="imgPlanDetails" src="@Url.Content("~/Content/images/Plan/MobileReg_.gif")" />
            </td>
            @*<td><img alt="" id="imgPlanDetails" src="../../Content/images/Plan/MobileReg_.gif" /></td>*@
        </tr>
    </table>
    </text>)
        .Modal(true)
        .Visible(false)
        .Render();
}
@{
    Html.Telerik().Window()
             .Name("simWindow")
             .Title("SIM Serial")
             .Width(350).Height(120)
             .ClientEvents(events => events.OnActivate("WindowSim_onActivate"))
             .Content(@<text>
    @using (Html.BeginForm("SelectPlan", "NewLine", FormMethod.Post, new { onSubmit = "return UpdateSIMData(this);" }))
    {
           <div class="ErrorClass" id="dvSimSerial_Error"></div>
        <table>
            <tr>
                <td colspan="2" class="ErrorClass" >
                    @Html.ValidationMessageFor(model => model.PersonalDetailsVM.CapturedSIMSerial)
                </td>
            </tr>

             <tr>
                <td>@Html.LabelFor(model => model.PersonalDetailsVM.SIMCardType)
                </td>
                <td>
                    @Html.DropDownListFor(model => model.PersonalDetailsVM.SIMCardType, Util.GetList(RefType.SIMCardType, defaultValue: Model.PersonalDetailsVM.SIMCardType), new { style = string.Format("font-size:15px;width:{0}px",250) })
                    @*@(Html.Telerik().DropDownListFor(model => model.PersonalDetailsVM.SIMCardType).BindTo(Util.GetList(RefType.SIMCardType, selectedValue: Model.PersonalDetailsVM.SIMCardType)).ClientEvents(events => events.OnChange("SimCardTypeChange")).HtmlAttributes(new { style = string.Format("font-size:12px;width:{0}px", 250) }))*@
                     
                </td>
             </tr>

            @*Added by VLT for Sim Model Type on 10 Apr 2013*@
            @*<tr>
                <td>@Html.LabelFor(model => model.PersonalDetailsVM.SIMModel)
                </td>
                <td>
                   
                    <label id="simModel">
                     </label>
                </td>
            </tr>*@
            @*End by VLT for Sim Model Type on 10 Apr 2013*@
            <tr>
                <td>@Html.LabelFor(model => model.PersonalDetailsVM.CapturedSIMSerial)
                </td>
                <td>
                   
                    <input type="text" id="CapturedSIMSerial" name="CapturedSIMSerial" style="width:238px;" />
                
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center" >
                    <input id="btnSaveSIM" type="submit" value="Save"  class="submitButton" />
                </td>
            </tr>
        </table>
       
    }
    </text>)
             .Modal(true)
             .Visible(false)
             .ClientEvents(events => events.OnOpen("SIMWindowOnOpen"))
             .Render();

    Html.Telerik().ScriptRegistrar()
        .OnDocumentReady(@<text>$('#btnSIM')
    .click(function(e) { $('#dvSimSerial_Error').text(''); e.preventDefault(); $('#simWindow').data('tWindow').center().open()});
    </text>);
}
@section Scripts{
    <script type="text/javascript">

    $("#PersonalDetailsVM_SIMCardType").live("change",function(){
        SimCardTypeChange();
    });

    function PlanWindow_popup() {
            $('#planDetailsWindow').data('t-window').center();
        }

        function SimCardTypeChange() {

            //var selSimTypeVal = $("#PersonalDetailsVM_SIMCardType").data("tDropDownList").value();
            //            var selSimTypeVal = $("#SIMCardType").arguments.value();
            var selSimTypeVal = $("#PersonalDetailsVM_SIMCardType").val();
            $("#SimCardTypeSelected").val(selSimTypeVal);
            //$('#simModel').html('');
            $('#CapturedSIMSerial').val('');
        }

        function SIMWindowOnOpen() {

            //$('#CapturedSIMSerial').val('');
            //$('#simModel').html('');
        }

        function UpdateSIMData(form) {

            if (form != null && $(form).valid() == false) {
                return false;
            }
            var inputSIM = $('#CapturedSIMSerial').val();
            var regID = $('#RegID').val();

            //var selSimTypeValue = $("#PersonalDetailsVM_SIMCardType").data("tDropDownList").value();
            var selSimTypeValue = $("#PersonalDetailsVM_SIMCardType").val();

            if (selSimTypeValue == 0) {
                $('#dvSimSerial_Error').html("Please Select SIM Type");
                $('#dvSimSerial_Error').show();
                return false;
            }

            $('#dvSimSerial_Error').html('');
            var inputSIM = $('#CapturedSIMSerial').val();

            if (inputSIM == '') {
                $('#dvSimSerial_Error').html("Please enter SIM Serial");
                $('#dvSimSerial_Error').show();
                return false;
            }

            else if (inputSIM != '') {
                //var url = '@(Url.Content("~/Registration/CheckSimModel"))';
                var url = '@(Url.Content("~/StoreKeeper/StoreKeeper/CheckSimModel"))';

                var tempregid = 0;
                //$.post(url, { regID: regID, sim: inputSIM, simCardType: selSimTypeValue }, function (data) {
                $.post(url, { sim: inputSIM, simCardType: selSimTypeValue, SIMType: '@SecSimType' }, function (data) {   

                    if (data != '') {

                        $('#SimSerialSelected').val('Clicked');
                        var url = '@(Url.Content("~/Registration/UpdateSecondarySIMModelDataForDelear"))';

                        $.post(url, { sim: inputSIM, simCardType: selSimTypeValue }, function (data) {
                            var window = $('#simWindow').data('tWindow');
                            window.close();
                        });

                    }
                    else {

                        $('#IsError').val('true');
                        //$('#simModel').html('');
                        $('#dvSimSerial_Error').html('@(Settings.Default.SimSerialGenericError.ToString2())');
                        $('#SimSerialSelected').val('');
                        return false;
                    }

                }, "text");
            }

            return false;

            //            var window = $('#simWindow').data('tWindow');
            //            window.close();
            //            return false;

        }

//        $("#CapturedSIMSerial").focusout(function () {

//           
//            $('#dvSimSerial_Error').html('');
//            var inputSIM = $('#CapturedSIMSerial').val();

//            var selSimTypeVal = $("#PersonalDetailsVM_SIMCardType").data("tDropDownList").value();

//            if (inputSIM != '') {
//                //var url = '@(Url.Content("~/Registration/CheckSimModel"))';
//                //$.post(url, { sim: inputSIM, simCardType: selSimTypeVal }, function (data) {
//                var url = '@(Url.Content("~/StoreKeeper/StoreKeeper/CheckSimModel"))';
//                $.post(url, { sim: inputSIM, simCardType: selSimTypeVal, SIMType: '@SecSimType' }, function (data) {

//                    if (data != '') {
//                        $('#SimSerialSelected').val('Clicked');
//                        $('#simModel').html(data.toString().split('ä')[0]);
//                        $('#IsError').val('false');

//                    }
//                    else {
//                        $('#simModel').html('');
//                        $('#dvSimSerial_Error').html('SIM Serial is not matching with the SIM Type, please ensure you have selected the correct SIM Type');
//                        $('#IsError').val('true');
//                    }

//                }, "text");
//            }

//        });
        function SelectedPackage(target, planID) {
            $(".plan-innerbox").removeClass('focus');
            $(target).addClass('focus');
            $('#SelectedSecondaryPgmBdlPkgCompID').val(planID);
            $('#Plan_Error').hide();
        }
        jQuery(function () {
            jQuery("#ui-plan").accordion({
                autoHeight: false
            });
            $("#ui-plan").accordion("option", "icons",
        		{ 'header': 'ui-icon-down', 'headerSelected': 'ui-icon-up' });
        });

        $.validator.methods.number = function (n, t) {
        return true;
        }

        $(document).ready(function () {
       
          //Highlight selected plan
            if ('@planId' != '0') {
                $('#SelectedSecondaryPgmBdlPkgCompID').val('@planId')

                $('#' + '@planId').addClass('focus');
            }
            
            var planId= $('#hdnSelectedPlans').val();
            if(planId!="")
            $('#SelectedSecondaryPgmBdlPkgCompID').val(planId);      
        jQuery("#popup-message").colorbox({ iframe: true, innerWidth: 988, innerHeight: 500 });
                
           
        });

       

        function detailsPlans_OnClick(btnPlanDetails) {
            var code = btnPlanDetails.substring(14);
            var src = $('#imgPlanDetails').attr("src");
            var indexFrom = src.indexOf("MobileReg_") + 10;
            var indexTo = src.indexOf(".gif");
            var oldCode = src.substring(indexFrom, indexTo);

            src = src.replace(oldCode, "");
            src = src.replace("MobileReg_", "MobileReg_" + code);
            $('#imgPlanDetails').attr("src", src);
            
            $('#planDetailsWindow').data('tWindow').center().open();
        }
    
function extraTenWindowOnOpen()
        {
        
        
        
        }

        function validateExtraTen()
        {

        var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        var objListMSISDNs="";
        var mobregex = /^60[0-9]{8,10}$/;
        for(var i=0;i<childDivs.length;i++)
        {
        
        var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
         if(txtElement.val() !="")
         {
         if (!mobregex.test(txtElement.val())) 
         {
         alert("Please enter valid MSISDN number");
         return false;
         }
         }

         
         
         

        if(txtElement.val() !="")
        {
        if(objListMSISDNs.indexOf(txtElement.val()) ==-1)
         {
        if(objListMSISDNs!="")
        objListMSISDNs=objListMSISDNs+","+txtElement.val();
        else
        objListMSISDNs=txtElement.val();
        }
        else
         {
         alert("Please enter unique mobile numbers");
         return false;
         }


        }

       
        
        }
        // $('#ExtraTenMobileNumbers').val(objListMSISDNs);
         //Validation

         var url = '@(Url.Content("~/Registration/validateExtraTenMSISDN"))';
           
            $.post(url,{arrMSISDNs:objListMSISDNs},function (data) {
            if(data.toString()!='')
            {
            alert("Please enter valid maxis mobile number for "+data.toString());
            return false;
            }
            else  if(data.toString()=='')
            {
              
             // $('#ExtraTenMobileNumbers').val(objListMSISDNs);


  var url1 = '@(Url.Content("~/Registration/validateExtraTenMSISDNAgainstAccount"))';
           
            $.post(url1,{arrMSISDNs:objListMSISDNs},function (data) {

            if(data.toString()!='')
            {
            alert("Please renter "+data.toString()+" as these are already part of your account");
            return false;
            }
            else if(data.toString()=='')
            {
              
              $('#ExtraTenMobileNumbers').val(objListMSISDNs);
            
               $('#extraTenWindow').data('tWindow').close();

              //  document.forms["frmSelectPlan"].submit();
            }
            
            }, "text");
            
              // $('#extraTenWindow').data('tWindow').close();
            }
            
            }, "text");

       
        
        }

        function WindowSim_onActivate(){
            var containerwidth = $("#simWindow .t-content").width();
            $("#simWindow .t-content #dvSimSerial_Error").width(containerwidth);
        }


        function cancelExtraTen()
        {


                   $('#extraTenWindow').data('tWindow').close();
        

        }

         if('@(listPrevExtraTenMSISDNs)'!='')
    {

   $('#ExtraTenMobileNumbers').val('@(listPrevExtraTenMSISDNs)');

    var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        var objListMSISDNs=$('#ExtraTenMobileNumbers').val().split(',');
        $('#hdnExtraTenCount').val(childDivs.length);
        if(objListMSISDNs.length<=childDivs.length)
        {

        for(var i=0;i<childDivs.length;i++)
        {

         var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
         if(txtElement!=null)
         txtElement.val(objListMSISDNs[i]);
         
        }

        }
        else
        {
        
        for(var i=0;i<(objListMSISDNs.length-childDivs.length);i++)
        {
        var index=parseInt($('#hdnExtraTenCount').val())+1;
        var divId = "divExtraTen_"+ index ;
        var txtId = "txtExtraTen_" + index ;
        var delbtnId = "btnDeleteExtraTen_" + index;
         var lblSnoId = "lblSno_" + childDivs.length+1;
         //$("#divExtraTen").append("<div id='"+divId+"' ><input type='text' id='"+txtId+"' /> <input type='button'  onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");;
         $("#divExtraTen").append("<div class='Controller Row' id='"+divId+"' ><label class='NumL' id='"+lblSnoId+"'>"+(parseInt(childDivs.length+1))+"</label><input class='TxtBox' type='text' id='"+txtId+"' /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");
        $('#hdnExtraTenCount').val(index+1);
        
        }
        childDivs = panel.find("div");
        for(var i=0;i<childDivs.length;i++)
        {

         var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
         if(txtElement!=null)
         txtElement.val(objListMSISDNs[i]);
         
        }
        
        
        }

    }
        function getDependencies()
        {
         var planID = $('#SelectedSecondaryPgmBdlPkgCompID').val();
                if (planID == 0 || planID=='') 
                {
                 $('#Plan_Error').html("Please Select a Secondary Plan.");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $('#TabNumber').val(3);
                return false;
                }
               else if ((($('#SimSerialSelected').val()) == '')  && ('@(Roles.IsUserInRole("DREG_SV"))' == 'True' || '@(Roles.IsUserInRole("DSupervisor"))' == 'True' || '@(Roles.IsUserInRole("MREG_DIC"))' == 'True' || '@Roles.IsUserInRole("MREG_DSV")'=='True' || '@(Roles.IsUserInRole("MREG_DAI"))' == 'True')) {
                $('#Plan_Error').html("Please select the Sim Serial No.");
                $('#Plan_Error').show();
                return false;
            }
         
              else
              {
               $('#TabNumber').val(3);
                $('#TabNumberSeco').val(5);
                //document.forms['frmSelectPlan'].submit();
                $("#frmSelectPlan").submit();
               
              } 
        }

        jQuery(function ($) {

            var total = @(bundleNames.Count());
            
            for(var i = 0; i< total; i++){

                $('#carousel_'+i).rcarousel({
                    orientation: "vertical", step: 3, speed:200, visible: 4, width: 450, height: 55, 
                    navigation: { prev: "#next_"+i, next: "#prev_"+i }
                });

                
            }
            
            $(".ui-carousel-next")
			    .add(".ui-carousel-prev")
			    .hover(
				    function () {
					    $(this).css("opacity", 0.7);
				    },
				    function () {
					    $(this).css("opacity", 1.0);
				    }
			    );
        });

    </script>
}
