﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.MobileNoVM
@{
    ViewBag.Title = Session["SimType"].ToString2() == "MISM" ? "Select a Preferred Number - Primary" : "Select a Preferred Number";
    /*For checking the MSISDN whether valid or not valid by chetan*/
    var invchk = !ReferenceEquals(Request.QueryString["invchk"], null) ? Request.QueryString["invchk"] : "True";

    var extraTenCount = 0;
    var listPrevExtraTenMSISDNs = Session["ExtratenMobilenumbers"].ToString2();
}
<!-- Centre column area -->
<div id="center">
    @using (Html.BeginForm("SelectMobileNo", "NewLine", FormMethod.Post, new { id = "frmSelectMobileNo", @class = "overlayonsubmit", processmsg = "Loading" }))
    { 
        @Html.HiddenFor(a => a.TabNumber)
        @Html.Hidden("submit1")
        @Html.HiddenFor(a => a.ExtraTenMobileNumbers)
        <input type="hidden" id="hdnExtraTenCount" value="10" />
        <input type="hidden" name="hdnNumberType" id="hdnNumberType" value="n" />
        <div class="header-title">
            @if (Session["SimType"].ToString2() == "MISM")
            {
                @:MISM New Line - Plan
            }
            else
            {
                @:New Line - Plan
                                                                        }
        </div>
    
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    @if (Session["SimType"].ToString2() == "MISM")
                    {
                        <ul id="table">
                            <li style="display: table-cell; float: none;">Plan</li>
                            <li style="display: table-cell; float: none;">Contract/VAS</li>
                            <li style="display: table-cell; float: none;">Secondary Plan</li>
                            <li style="display: table-cell; float: none;" class="preselected">Secondary VAS</li>
                            <li style="display: table-cell; float: none;" class="selected">Number</li>
                            <li style="display: table-cell; float: none;">Customer</li>
                            <li style="display: table-cell; float: none;">Summary</li>
                        </ul>
                    }
                    else
                    {
                        <ul id="table">
                            <li style="display: table-cell; float: none;">Plan</li>
                            <li style="display: table-cell; float: none;" class="preselected">Contract / VAS</li>
                            <li style="display: table-cell; float: none;" class="selected">Number</li>
                            <li style="display: table-cell; float: none;">Customer</li>
                            <li style="display: table-cell; float: none;">Summary</li>
                        </ul>
                    }
                </div>
            </div>
            <div class="content_white" style="padding: 1px 1px 10px 40px">
                @Html.ValidationSummary(false)
                <div id="dvError" class="ErrorClass">
                </div>
            </div>
            <div class="content_white">
                @if (invchk == "False")
                {
                    <text>
                    <div id="dvMSISDNErr" style="display: block; color: #ff0000; font-weight: bold; margin-left: 30px;">
                        Selected MSISDN is already reserved, please select an another number !</div></text>
                }
                <div class="number-search" style="padding-left:20px;" >
                    <table>
                            <tr>
                            <td id="tdPrefix" style="white-space:nowrap;"  >
                                <span class="txt-16-grey-normal" style="font-size:14px">Prefix</span>
                                &nbsp;
                                <select id="ddlPrefix" name="ddlPrefix" style="height:31px" >
                                        <option value="-1">&nbsp;&nbsp;</option>
                                        <option value="11">011</option>
                                        <option value="12">012</option>
                                        <option value="14">014</option>
                                        <option value="17">017</option>
                                    </select>
                            </td>
                          
                                <td>
                                 <span id="spnDesireTitle" class="txt-16-grey-normal" style="font-size:14px">Desire No (3-7 digits):</span>&nbsp;
                                    <input type="text" maxlength="12" onkeypress="return isNumberKey(event);" name="DesireNo"
                                        class="search-number" id="DesireNo" style="width:113px; font-size:11px" />
                                    <img  onclick="return ValidateDesireNo();"  src='@Url.Content("~/Content/img/shared/iSELL-Search-Button.jpg")' title="Search" id="btnSearch" alt="Search" style="cursor:pointer; vertical-align:top; margin-top:0px ! important;" />
                                </td>
                           
                                <td style="padding: 0 0 0 0 !important;width:50px;">
                                    <button type="button" id="btnReserved" name="btnReserved" style="border-style: none;
                                        background: none repeat scroll 0% 0% transparent;">
                                        <img src='@Url.Content("~/content/images/uncheck.jpg")'  alt="" /></button>
                                       
                                </td>
                                <td style="vertical-align: middle; padding: 0 0 0 0 !important">
                                    <span class="txt-16-grey-normal" style="font-size:14px">Reserved</span>
                                </td>
                                <td style="padding: 0 0 0 0 !important;width:50px;">
                                    <button type="button" id="btnGolden" name="btnGolden" style="border-style: none;
                                        background: none repeat scroll 0% 0% transparent;">
                                        <img src='@Url.Content("~/content/images/uncheck.jpg")' alt="" /></button>
                                         
                                </td>
                                <td style="vertical-align: middle; padding-right: 15px;">
                                     <span class="txt-16-grey-normal" style="font-size:14px">Golden / Special</span>
                                </td>
                            </tr>
                        </table>
                </div>
                <div style="height: 20px;">
                </div>
                <div style="display: block; padding: 0px 20px; margin: 0px auto;" id="dvMsisdnPnl" >
                    <div style="width: 100%; border-left: 1px solid #ccc; max-height: 500px; overflow: auto;">
                        @Html.HiddenFor(model => model.SelectedMobileNo)
                        @{
                   foreach (var mobileNo in Model.AvailableMobileNos)
                   {
                       var btnMobileNoID = "btnMobileNo_" + mobileNo;
                            <div class="number-outerbox">
                                <div id="@btnMobileNoID" class="number-innerbox" onclick="SelectedMobile(this,'@mobileNo');" style="cursor: pointer;">
                                    <p class="number">@mobileNo</p>
                                </div>
                            </div>
                         
                   }
                        }
                        <div style="clear: both;">
                        </div>
                    </div>
                </div>
                <div style="clear: both;">
                </div>
            </div>
            <div class="content_white" style="height: 80px;">
                <div style="float: right; padding-right: 20px;">
                    @if (Session["SimType"].ToString2() == "MISM")
                    {
                        <input class="cancel backButton" type="submit" value="<" disableValidation="true" onclick="$('#TabNumber').val(@RegistrationSteps.SecoVas.ToInt());" />
                      
                    }
                    else
                    {
                        <input class="cancel backButton" type="submit" value="<" onclick="$('#TabNumber').val(3);" />
                    }
                    @if (Model!=null && Model.AvailableMobileNos.Count > 0)
                    {
                    <input class="submitButton" type="submit" value="Next Step: Customer" id="btnContinue" />
                    }
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
        @Html.Partial("_footer")
  

    
                   
    }
</div>
<div id="right">
    @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_OrderSummary"])
</div>
<style type="text/css">
    .t-window-content
    {
        height: auto !important;
    }
</style>
@{
   

   

    Html.Telerik().Window()
   .Name("extraTenWindow")
   .Title("Extra Ten")

   .Width(360)


   .Content(@<text>
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td>
                <div style="color: Red; font-weight: bold; font-size: 16px; display: block;" id="ExtratenPlan_Error">
                </div>
                <div id="divExtraTen">
                    @for (int i = 0; i < 10; i++)
                    {

                        var divId = "divExtraTen_" + i;
                        var txtId = "txtExtraTen_" + i;
                        var delbtnId = "btnDeleteExtraTen_" + i;

                        var lblSnoId = "lblSno_" + i;

                        extraTenCount++;
                        
                    
                        <div id='@divId' style="padding-bottom:10px;" >
                            @*<label class="NumL" id=@lblSnoId>@extraTenCount</label>*@ <span style="width: 20px;
                                display: inline-block; text-align: center;">@extraTenCount.ToString()</span>
                            <input class="TxtBox" type="text" id=@txtId tabindex="1" />
                            <input style="display:none;" class="DelBtn" type="button" onclick='deleteExtraTen(this);' id=@delbtnId value="" />
                        </div>
                    
                    }
                </div>
                <div class="Controller" style="display: none;">
                    <input type="button" class="AddMoreBtn" id="btnAddMore" tabindex="1" onclick="addExtraTenDiv();"
                        value="" />
                </div>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="white-space: nowrap;" align="center">
                <input id="btnSaveExtraTen" type="button" class="submitButton" value="Save" tabindex="1"
                    onclick="return validateExtraTen();" />
                <input type="button" tabindex="1" class="submitButton" id="btnCancelExtraTen" onclick="cancelExtraTen();"
                    value="Cancel" />
            </td>
        </tr>
    </table>
    </text>
  )
   .Modal(true)
   .Visible(false)
   .ClientEvents(events => events.OnOpen("extraTenWindowOnOpen"))
   .Render();


    Html.Telerik().ScriptRegistrar().OnDocumentReady(@<text> $('#btnExtraTen') .click(function(e)
    { e.preventDefault(); $('#extraTenWindow').data('tWindow').center().open();$('#ExtratenPlan_Error').html('');});
    </text>); 
}
@section Scripts{
    <script type="text/javascript">
        
        var numberType ='@Request.QueryString["numberType"].ToString2()';    
        function SelectedMobile(target,mobileNo) {

            $(".number-innerbox").removeClass('focus');
            $(target).addClass('focus');
            $('#SelectedMobileNo').val(mobileNo);
        }



        $(document).ready(function () {

         if($("#tdPrefix").show())
         {
            $("#DesireNo").attr("maxlength","7");
         }              
                      
        if(numberType=="r" || numberType=="g")
        {
         $("#DesireNo").attr("maxlength","12");
         $('#spnDesireTitle').html('Desire MSISDN (10-12 digits):');
         $('#tdPrefix').hide();
         if(numberType=="r")
         {
          setImageSource('btnReserved');
         }
         else
         {
          setImageSource('btnGolden');
         }
         $('.number-outerbox:first div').click();
         
        }

        $("#DesireNo").val('@Request.QueryString["desireNo"].ToString2()');

         var noPrefix ='@Request.QueryString["prefix"].ToString2()'; 
         if(noPrefix=='')
         {
          //noPrefix ="12";
         }
          $('#ddlPrefix').val(noPrefix);


             //Code added by vlt for selecting Mobile No
             $('#btnContinue').click(function()
            {
           
               if($('#SelectedMobileNo').val().length==0)
               {
                   $('#dvError').html("Please select a number.");
                   $("html, body").animate({ scrollTop: 0 }, "slow");
                   $('#dvMSISDNErr').hide();
                  return false;
               }
                $('#dvError').html('');
                 var curReserSrc =$('#btnReserved:first img').attr('src');
            var curGoldSrc =$('#btnGolden:first img').attr('src');

            if((curReserSrc.toString().indexOf('checked.jpg')!=-1))
            {
                $('#hdnNumberType').val('r');
            }
            else if(curGoldSrc.toString().indexOf('checked.jpg')!=-1)
            {
              $('#hdnNumberType').val('g');
            }
            else
            {
                $('#hdnNumberType').val('n');
            }
                $('#TabNumber').val(@(Convert.ToString(Session["SimType"]) == "MISM" ? RegistrationSteps.PersonalDetails.ToInt() : MobileRegistrationSteps.PersonalDetails.ToInt()));
               return true;
            });
            //End of Code added by vlt for selecting Mobile No
        });

        if('@(listPrevExtraTenMSISDNs)'!='')
    {

   $('#ExtraTenMobileNumbers').val('@(listPrevExtraTenMSISDNs)');

    var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        var objListMSISDNs=$('#ExtraTenMobileNumbers').val().split(',');
        $('#hdnExtraTenCount').val(childDivs.length);
        if(objListMSISDNs.length<=childDivs.length)
        {

        for(var i=0;i<childDivs.length;i++)
        {

         var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
         if(txtElement!=null)
         txtElement.val(objListMSISDNs[i]);
         
        }

        }
        else
        {
        
        for(var i=0;i<(objListMSISDNs.length-childDivs.length);i++)
        {
        var index=parseInt($('#hdnExtraTenCount').val())+1;
        var divId = "divExtraTen_"+ index ;
        var txtId = "txtExtraTen_" + index ;
        var delbtnId = "btnDeleteExtraTen_" + index;
         var lblSnoId = "lblSno_" + childDivs.length+1;
         //$("#divExtraTen").append("<div id='"+divId+"' ><input type='text' id='"+txtId+"' /> <input type='button'  onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");;
         $("#divExtraTen").append("<div class='Controller Row' id='"+divId+"' ><label class='NumL' id='"+lblSnoId+"'>"+(parseInt(childDivs.length+1))+"</label><input class='TxtBox' type='text' id='"+txtId+"' tabindex='1' /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");
        $('#hdnExtraTenCount').val(index+1);
        
        }
        childDivs = panel.find("div");
        for(var i=0;i<childDivs.length;i++)
        {

         var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
         if(txtElement!=null)
         txtElement.val(objListMSISDNs[i]);
         
        }
        
        
        }

    }

      function addExtraTenDiv()
        {
        var index=parseInt($('#hdnExtraTenCount').val())+1;
        var divId = "divExtraTen_"+ index;
        var txtId = "txtExtraTen_" + index ; 
        var delbtnId = "btnDeleteExtraTen_" + index ;
        //$("#divExtraTen").append("<div id='"+divId+"' ><input type='text' id='"+txtId+"' /> <input type='button' value='X' onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");;

        var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        var lblSnoId = "lblSno_" + childDivs.length+1;
        $("#divExtraTen").append("<div class='Controller Row' id='"+divId+"' ><label class='NumL' id='"+lblSnoId+"'>"+(childDivs.length+1)+"</label><input class='TxtBox' type='text' id='"+txtId+"' tabindex='1' /> <input class='DelBtn' type='button'  onclick='deleteExtraTen(this);' id='"+delbtnId+"' /></div>");
        $('#hdnExtraTenCount').val(parseInt(index)+1);
        
        }

        function deleteExtraTen(delbtn)
        {
        var delbtnId=delbtn.id;


         var panel= $("#divExtraTen");
         var childDivs = panel.find("div");

         if(childDivs.length>1)
         {
          $('#'+delbtnId).parent().remove();

         }
        else
        {
        alert("Atleast one mobile number has to be entered for Extra Ten");
        return false;
        }


        ResetSerialNo();
        
        }


        
        function ResetSerialNo()
        {
        var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        for(var i=0;i<childDivs.length;i++)
        {
          //alert($('#'+childDivs[i].id).children(':first-child').html());
          var curDivId=childDivs[i].id;
          $('#'+curDivId).children(':first-child').html(i+1)

//           $('#'+curDivId).removeAttr('class');
//           if(i%2==0)
//           {
//            $('#'+curDivId).addClass('Controller AltRow');
//              
//           }
//           else
//           {
//             $('#'+curDivId).addClass('Controller Row');
//           }


        }
        }


        function cancelExtraTen()
        {

//        if(confirm("Are you sure you want to cancel Extra Ten"))
//        {
//          var value='2239';

//          var objGroupId=$('#hdnExtraTenGroupId').val();
//             $("#btnVAS_2239").css("border-style", "none");
//               var  modGroupIds =$('#hdnGroupIds').val().toString().replace(objGroupId+",","");
//            $('#hdnGroupIds').val(modGroupIds);
//            var arrVasID = $('#SelectedVasIDs').val().split(',');
//            var newVasIDs='';
//                for(var i=0;i<arrVasID.length;i++)
//                {

//                if(arrVasID[i].toString()!="")
//                {
//                  if(arrVasID[i].toString()!=value)
//                   {
//                     if(newVasIDs=="")
//                      newVasIDs=arrVasID[i];
//                     else
//                      newVasIDs=newVasIDs+","+arrVasID[i];
//                    }
//                }
//                

//                
//                }
               

                // $('#SelectedVasIDs').val(newVasIDs);
                  //$('#ExtraTenMobileNumbers').val("");
                  //$('#hdnExtraTenFlag').val('false');
                   $('#extraTenWindow').data('tWindow').close();
        
        //}

        }



        function extraTenWindowOnOpen()
        {
        
        
        
        }

        function validateExtraTen()
        {

        var panel= $("#divExtraTen");
        var childDivs = panel.find("div");
        var objListMSISDNs="";
        var mobregex = /^60[0-9]{8,10}$/;
        for(var i=0;i<childDivs.length;i++)
        {
        
        var txtElement = $('#'+childDivs[i].id).find('input[type="text"]');
         if(txtElement.val() !="")
         {
         if (!mobregex.test(txtElement.val())) 
         {
         $('#ExtratenPlan_Error').show();
                        $('#ExtratenPlan_Error').html("Please enter valid MSISDN number");
         return false;
         }
         }

         
         
         

        if(txtElement.val() !="")
        {
        if(objListMSISDNs.indexOf(txtElement.val()) ==-1)
         {
        if(objListMSISDNs!="")
        objListMSISDNs=objListMSISDNs+","+txtElement.val();
        else
        objListMSISDNs=txtElement.val();
        }
        else
         {
         $('#ExtratenPlan_Error').show();
                        $('#ExtratenPlan_Error').html("Please enter unique mobile numbers");
         return false;
         }


        }

       
        
        }
        // $('#ExtraTenMobileNumbers').val(objListMSISDNs);
         //Validation

//          if(parseInt(objListMSISDNs.split(',').length)>10)
//            {
//            if(confirm("Extra Ten limit has exceeded. You will have to pay additional charges.")==false)
//            {
//              return false;
//            }
//            }

         var url = '@(Url.Content("~/Registration/validateExtraTenMSISDN"))';
           
            $.post(url,{arrMSISDNs:objListMSISDNs},function (data) {

            if(data.toString()!='')
            {
            $('#ExtratenPlan_Error').show();
                        $('#ExtratenPlan_Error').html("Please enter valid maxis mobile number for "+data.toString());
            return false;
            }
            else  if(data.toString()=='')
            {
              
             // $('#ExtraTenMobileNumbers').val(objListMSISDNs);


  var url1 = '@(Url.Content("~/Registration/validateExtraTenMSISDNAgainstAccount"))';
           
            $.post(url1,{arrMSISDNs:objListMSISDNs},function (data) {

            if(data.toString()!='')
            {
            $('#ExtratenPlan_Error').show();
                        $('#ExtratenPlan_Error').html(data.toString()+ " is already part of your account !");
            return false;
            }
            else if(data.toString()=='')
            {
              
              $('#ExtraTenMobileNumbers').val(objListMSISDNs);
            
               $('#extraTenWindow').data('tWindow').close();

            }
            
             }, "text");
            
            }
            
            }, "text");
                    
        }


        function SubmitForm(sequenceNo) {
            
            $('#submit1').val(sequenceNo);
            //document.forms['frmSelectMobileNo'].submit();
            $("#frmSelectMobileNo").submit();
        }

        // Begin Code added by VLT on 13 apr 2013
        function isNumberKey(evt)
          {
             var charCode = (evt.which) ? evt.which : event.keyCode
             if (charCode > 31 && (charCode < 48 || charCode > 57))
             {
                 $('#dvError').html("Please Enter Only Numbers.");
                 $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
             }
             $('#dvError').html('');
             return true;
          }
        // End Code added by VLT on 13 apr 2013

       

        //SUTAN ADDED CODE 7ThMarch 2013
        function ValidateDesireNo()
        {
            var length = $("#DesireNo").val().length;

            //Number type changes on Mar 27 2014 by ravi 
            var curReserSrc =$('#btnReserved:first img').attr('src');
            var curGoldSrc =$('#btnGolden:first img').attr('src');

            if((curReserSrc.toString().indexOf('checked.jpg')!=-1))
            {
                $('#hdnNumberType').val('r');
            }
            else if(curGoldSrc.toString().indexOf('checked.jpg')!=-1)
            {
              $('#hdnNumberType').val('g');
            }
            else
            {
                $('#hdnNumberType').val('n');
            }
            //Number type changes on Mar 27 2014 by ravi 
            var isValidMsisdn = true;
            var errorMessage = "";

             if($('#hdnNumberType').val().toString()=="r" || $('#hdnNumberType').val().toString()=="g")
              {
                if(length<10 || length>12)
                {
                  isValidMsisdn= false;
                  errorMessage="Please Enter Complete MSISDN Number."
                }
              }
              else
              {
               isValidMsisdn =((length < 3 && length != 0)?false:true);
                errorMessage ='Desire No must have at least 3 digits.' 
              }

            if(isValidMsisdn==false)
            {
                 $('#dvError').html(errorMessage);
                 $("#DesireNo").focus();
                 $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            else
            {
                 $('#submit1').val('search');
                 $('#dvError').html('');
                 //document.forms['frmSelectMobileNo'].submit();
                 $("#frmSelectMobileNo").submit();
            }
        }
        //END SUTAN ADDED CODE 7ThMarch 2013

        $("#DesireNo").keypress(function(e){
            //key code 13 is "enter", 
            if(e.keyCode==13){  
                $('#submit1').val('search');
            }
        });       


        $('#btnReserved').click(function()
        {
         setImageSource('btnReserved');
         CheckImgSource('btnGolden');
         ChangeLabelTitle();

        });
        $('#btnGolden').click(function()
        {
          setImageSource('btnGolden');
          CheckImgSource('btnReserved');
          ChangeLabelTitle();
        });

        function setImageSource(objBtnId)
        {
        var curSrc =$('#' + objBtnId + ':first img').attr('src');
        if(curSrc.toString().indexOf('checked.jpg')==-1)
        {
          curSrc = curSrc.toString().replace('uncheck.jpg','checked.jpg');
        }
        else
        {
        curSrc = curSrc.toString().replace('checked.jpg','uncheck.jpg');
        }
        $('#' + objBtnId + ':first img').attr('src',curSrc)

        }

        function CheckImgSource(objBtnId)
        {
            var curSrc =$('#' + objBtnId + ':first img').attr('src');
            if(curSrc.toString().indexOf('checked.jpg')!=-1)
            {
              curSrc = curSrc.toString().replace('checked.jpg','uncheck.jpg');
               $('#' + objBtnId + ':first img').attr('src',curSrc)
            }
        }

        function ChangeLabelTitle()
        {
            var curReserSrc =$('#btnReserved:first img').attr('src');
            var curGoldSrc =$('#btnGolden:first img').attr('src');
            if((curReserSrc.toString().indexOf('checked.jpg')!=-1)||(curGoldSrc.toString().indexOf('checked.jpg')!=-1))
            {
                $('#DesireNo').attr('maxlength','12');
                $('#DesireNo').val('');
                $('#spnDesireTitle').html('Desire MSISDN (10-12 digits):');
                 $('#tdPrefix').hide();
                //document.getElementById('tdPrefix').style.visibility='hidden';
                 $('#dvMsisdnPnl').hide();
            }
            else
            {
                $('#DesireNo').attr('maxlength','7');
                $('#DesireNo').val('');
                $('#spnDesireTitle').html('Desire No (3-7 digits):');
                $('#tdPrefix').show();
                $('#dvMsisdnPnl').show();
               // document.getElementById('tdPrefix').style.visibility='visible';
            }

              $('#dvError').html('');
        }
         if(parseInt('@Model.AvailableMobileNos.Count')<=0 && (numberType=="n" || numberType==""))
        {
           $('#dvError').html('No MSISDN(s) found for the below criteria.');
           $("html, body").animate({ scrollTop: 0 }, "slow");
           //$('#btnContinue').hide();
        }

    </script>
}
