﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@{
    ViewBag.Title = "Submit Registration";    
}

<div class="vwHeader">
    <table width="100%">
        <tr>
            <td style="width:580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<div class="viewInnerBody">            
    <h2>Registration has been submitted successfully.</h2>
</div>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#menuAddService').css("background-image", $('#menuAddService').css("background-image").replace(".png", "_hover.png"));
        });
    </script>
}