﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.SublinePackageVM
@{
    ViewBag.Title = "New Line Plan";
    var pgmBdls = Model.PackageVM.AvailablePackages.Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList();
    var bundleNames = Model.PackageVM.AvailablePackages.Select(a => a.BundleName).Distinct().ToList();
    var PlanOnly = (int)MobileRegType.PlanOnly;
    var DeviceOnly = (int)MobileRegType.DeviceOnly;
    //var sessionRegType = (int)Session["RegMobileReg_Type"];
}

@using (Html.BeginForm("NewLinePlan", "NewLine", FormMethod.Post, new { id = "frmNewLinePlan", @class = "overlayonsubmit", processmsg = "Loading" }))
{ 
    <div class="vwHeader">
        @Html.Hidden("submit1")
        <table width="100%">
            <tr>
                <td>
                    <div>@ViewBag.Title</div>
                    <div class="vwSubHeader">@ViewBag.Title</div>
                </td>
                <td align="right">
                    <button class="button-back cancel" type="submit" value="Back" onclick="$('#submit1').val('Back');">
                    </button>
                    <button class="button-continue" type="submit" value="Next" onclick="$('#submit1').val('Next');">
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
        <div style="float: left;">
            <div style="font-size:x-large;padding:10px 0px 10px 0px;">@ViewBag.Title</div>
            @Html.ValidationSummary(false)
            @Html.Hidden("submit")
           @* <table>
                @for (int i = 0; i < Model.NoOfDesireMobileNo; i++)
                {
                    var mobileNo = Model.SelectedMobileNumber.Count() > i ? Model.SelectedMobileNumber[i].ToString2() : "";
                    <tr>
                        <td><b>@Html.Label(string.Format("Desire Supplementary Mobile Number {0}:", i + 1))</b></td>
                        <td>@(Html.Telerik().NumericTextBox()
                                .Name("txtMobileNo_" + i)
                                .InputHtmlAttributes(new { style = "width:105px;height:20px;font-size:1.2em", maxlength =11 })
                                .DecimalDigits(0)
                                .NumberGroupSize(11)
                                .EmptyMessage("")
                            ) (eg. 123387123)
                        </td>
                    </tr>
                }
            </table>*@
            <table width="500px">
                <tr>
                    <td style="padding-right:30px" valign="middle">
                        @{
                            var j = 1;   
                        }
                        
                        @Html.HiddenFor(a => a.PackageVM.SelectedPgmBdlPkgCompID)
                        @foreach (var bundleName in bundleNames)
                        { 
                            <div align="center" class="planContent" @if (j % 2 == 0)
                                                                    { <text>style="float: right;"</text> }>
                                <div style="height:70px">
                                    <br />
                                    <div class="header">@pgmBdls.Where(a => a.bundleName == bundleName).SingleOrDefault().programName</div>
                                    <div class="subheader">@bundleName</div>
                                </div>
                                @{
                                    foreach (var package in Model.PackageVM.AvailablePackages.Where(a => a.BundleName == bundleName).ToList())
                                    {
                                        var btnPlanID = "btnPlan_" + package.PgmBdlPkgCompID;
                                        var btnPlanDetails = "btnPlnDetails_" + package.PackageCode;
                                        <div style="float:left">
                                            <button id="@btnPlanID" class="cancel btnSelection" style="width:187px;height:55px;" type="button" onclick="SelectedPlan(@btnPlanID,@package.PgmBdlPkgCompID);" >
                                                @package.PackageName
                                            </button>
                                        </div>
                                        <div style="float:right">
                                            <button id="@btnPlanDetails" style="width:33px;height:55px;" type="button" onclick="detailsPlans_OnClick('@btnPlanDetails')"
                                                class="button-plan-details">
                                            </button>
                                        </div>
                                    }
                                }
                            </div>
                            
                                                                    if (j % 2 == 0)
                                                                    { <br /><br /> }
                                                                    j++;
                        }
                    </td>
                </tr>
            </table>
        </div>
       @* <div style="float: right;">
            @Html.Partial("_OrderSummary", (OrderSummaryVM)Session["RegMobileReg_SublineSummary"])
        </div>*@
    </div>
}

@{
    Html.Telerik().Window()
        .Name("planDetailsWindow")
        .Title("Plan Details")
        .Width(700)
        .Height(600)
        .ClientEvents(events => events.OnActivate("PlanWindow_popup"))
        .Content(@<text>
                    <table width="100%">
                        <tr>
                            <td><img alt="" id="imgPlanDetails" src="@Url.Content("~/Content/images/Plan/MobileReg_.gif")" /></td>
                        </tr>
                    </table>
                    
                </text>)
        .Modal(true)
        .Visible(false)
        .Render();
}

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            //Highlight selected plan
            var planID = $('#PackageVM_SelectedPgmBdlPkgCompID').val();
            if (planID != 0) {
                $('#btnPlan_' + planID).css("border-style", "solid");
            }

        });

        function SelectedPlan(btnPlanID, planID) {
            $('#PackageVM_SelectedPgmBdlPkgCompID').val(planID);
            $('button[id^="btnPlan_"]').css("border-style", "none");
            $(btnPlanID).css("border-style", "solid");
        }

        function detailsPlans_OnClick(btnPlanDetails) {
            var code = btnPlanDetails.substring(14);
            var src = $('#imgPlanDetails').attr("src");
            var indexFrom = src.indexOf("MobileReg_") + 10;
            var indexTo = src.indexOf(".gif");
            var oldCode = src.substring(indexFrom, indexTo);

            src = src.replace(oldCode, "");
            src = src.replace("MobileReg_", "MobileReg_" + code);
            $('#imgPlanDetails').attr("src", src);

            $('#planDetailsWindow').data('tWindow').center().open();
        }

        function PlanWindow_popup() {
            $('#planDetailsWindow').data('t-window').center();
        }
    </script>
}