﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using Online.Registration.Admin.Models

@model PgmBdlPkgComponentViewModel

@{
    ViewBag.Title = "Add Program Bundle";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Add:</legend>
        @Html.HiddenFor(model => model.PgmBdlPckComponent.LinkType, new { @Value = Settings.Default.Program_Bundle })
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.ParentID)
                </td>
                <td>
                    @if (Model.ProgramID == 0)
                    { 
                        @(Html.Telerik().DropDownListFor(model => model.PgmBdlPckComponent.ParentID).BindTo(Util.GetList(RefType.Program, defaultValue:"")))
                        @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.ParentID)
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.ProgramID, new { @disabled = true, @Value = Util.GetNameByID(RefType.Program, Model.ProgramID) }) 
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.ChildID)
                </td>
                <td>
                    @if (Model.BundleID == 0)
                    { 
                        @(Html.Telerik().DropDownListFor(model => model.PgmBdlPckComponent.ChildID).BindTo(Util.GetList(RefType.Bundle, defaultValue: "")))
                        @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.ChildID)
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.BundleID, new { @disabled = true, @Value = Util.GetNameByID(RefType.Bundle, Model.BundleID) }) 
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.PgmBdlPckComponent.PlanType)
                    </div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PgmBdlPckComponent.PlanType, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.PlanType)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.PgmBdlPckComponent.Code)
                    </div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PgmBdlPckComponent.Code, new { @style = "width:100px" })
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.Code)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.Name)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PgmBdlPckComponent.Name, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.Description)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PgmBdlPckComponent.Description, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.Description)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.Price)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PgmBdlPckComponent.Price, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.Price)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.Value)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PgmBdlPckComponent.Value, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.Value)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.FilterOrgType)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PgmBdlPckComponent.FilterOrgType, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.FilterOrgType)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.KenanCode)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PgmBdlPckComponent.KenanCode, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.KenanCode)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.NeedCoverage)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.PgmBdlPckComponent.NeedCoverage)
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.NeedCoverage)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.NeedProvision)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.PgmBdlPckComponent.NeedProvision)
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.NeedProvision)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.NeedActivation)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.PgmBdlPckComponent.NeedActivation)
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.NeedActivation)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.StartDate)
                </td>
                <td>
                    @Html.Telerik().DatePickerFor(model => model.PgmBdlPckComponent.StartDate).Format(Util.GetDateFormatString()).InputHtmlAttributes(new { @readonly = true })
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.StartDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.EndDate)
                </td>
                <td>
                    @Html.Telerik().DatePickerFor(model => model.PgmBdlPckComponent.EndDate).Format(Util.GetDateFormatString()).InputHtmlAttributes(new { @readonly = true })
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.EndDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.RetailPrice)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PgmBdlPckComponent.RetailPrice, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.RetailPrice)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.IsMandatory)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.PgmBdlPckComponent.IsMandatory) 
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.IsMandatory)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.BillingCode)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PgmBdlPckComponent.BillingCode, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.BillingCode)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" name="submit" value="Save">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
}