﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Admin.Models
@using Online.Registration.Web.Properties;

@model EditViewPgmBdlPckComponentModel

@{
    ViewBag.Title = "Edit Bundle Package";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Edit:</legend>
        @Html.HiddenFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.ID)
        <table>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.ID)
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.ID)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.ParentID)
                </td>
                <td>
                    @if (Model.PgmBdlPckComponent.Type == RefType.Bundle)
                    {
                        @Html.TextBoxFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.ParentID, new { @disabled = true, @Value = Util.GetNameByID(RefType.Bundle, Model.PgmBdlPckComponent.PgmBdlPckComponent.ParentID) }) 
                        @Html.HiddenFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.ParentID)
                    }
                    else
                    {
                        @(Html.Telerik().DropDownListFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.ParentID).BindTo(Util.GetList(RefType.Bundle)))
                        @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.ParentID)
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.ChildID)
                </td>
                <td>
                    @if (Model.PgmBdlPckComponent.Type == RefType.Package)
                    {
                        @Html.TextBoxFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.ChildID, new { @disabled = true, @Value = Util.GetNameByID(RefType.Package, Model.PgmBdlPckComponent.PgmBdlPckComponent.ChildID) }) 
                        @Html.HiddenFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.ChildID)
                    }
                    else
                    {
                        @(Html.Telerik().DropDownListFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.ChildID).BindTo(Util.GetList(RefType.Package)))
                        @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.ChildID)
                    }
                </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.PlanType)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.PlanType, new { style = "width:250px" }) 
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.PlanType)
                </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.Code)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.Code, new { style = "width:100px" }) 
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.Code)
                </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.Name)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.Name, new { style = "width:250px" }) 
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.Name)
                </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.Description)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.Description, new { style = "width:250px" }) 
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.Description)
                </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.Price)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.Price, new { style = "width:250px" }) 
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.Price)
                </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.Value)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.Value, new { style = "width:250px" }) 
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.Value)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.FilterOrgType)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.FilterOrgType, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.FilterOrgType)
                </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.KenanCode)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.KenanCode, new { style = "width:250px" }) 
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.KenanCode)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.NeedCoverage)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.NeedCoverage) 
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.NeedCoverage)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.NeedProvision)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.NeedProvision) 
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.NeedProvision)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.NeedActivation)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.NeedActivation) 
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.NeedActivation)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.StartDate)
                </td>
                <td>
                    @Html.Telerik().DatePickerFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.StartDate).Format(Util.GetDateFormatString()).InputHtmlAttributes(new { @readonly = true })
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.StartDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.EndDate)
                </td>
                <td>
                    @Html.Telerik().DatePickerFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.EndDate).Format(Util.GetDateFormatString()).InputHtmlAttributes(new { @readonly = true })
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.EndDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.RetailPrice)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.RetailPrice, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.RetailPrice)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.IsMandatory)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.IsMandatory) 
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.IsMandatory)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.BillingCode)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.BillingCode, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.BillingCode)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.CreateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.CreateDT, new { @style = "width:250px", @disabled = true })
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.CreateDT)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.LastUpdateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.LastUpdateDT, new { @style = "width:250px", @disabled = true })
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.LastUpdateDT)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.LastAccessID)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.LastAccessID, new { @style = "width:250px", @disabled = true })
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.LastAccessID)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.Active)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.Active) 
                    @Html.ValidationMessageFor(model => model.PgmBdlPckComponent.PgmBdlPckComponent.Active)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" name="submit" value="Save">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
    <br />
    if (Model.PgmBdlPckComponent.PgmBdlPckComponent.Active == true)
    {
        <div class="header">
            <h3>Bundle Package Item Price List </h3>
        </div>
        <a class="t-button t-button-icontext" href="@Url.Action("Add", "ItemPrice", new { bundlePackageID = Model.PgmBdlPckComponent.PgmBdlPckComponent.ID, type = Settings.Default.Bundle_Package })">
            <span class="t-icon t-add"></span>Add New</a>
        <br /><br />
    
        Html.Telerik().Grid<ItemPriceSearchResults>(Model.ItemPrices)
            .Name("gvwItemPrice")
            .Sortable()
            .Columns(cols =>
            {
                cols.Command(command => command
                    .Custom("Edit")
                    .Text("Edit")
                    .DataRouteValues(route => route.Add(a => a.ItemPriceID).RouteKey("id"))
                    .DataRouteValues(route => route.Add(a => a.Type).RouteKey("type"))
                    .SendState(false)
                    .Action("Edit", "ItemPrice"))
                    .HtmlAttributes(new { style = "text-align: center" })
                    .Width(90)
                    .Title("Action");
                cols.Bound(m => m.PkgCompID).Title("Package Comp");
                cols.Bound(m => m.Model).Title("Model");
                cols.Bound(m => m.ActiveCheckBox).Title("Active").Encoded(false);
                cols.Bound(m => m.CreateDT).Title("Created On");
                cols.Bound(m => m.LastUpdateDT).Title("Last Updated");
                cols.Bound(m => m.LastAccessID).Title("Last Access");
            })
            .DataBinding(binding => binding.Ajax().OperationMode(GridOperationMode.Client))
            .Pageable(paging => paging.PageSize(Util.GridRowsPerPage))
            .Render();
            <br />
    }
}