﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using Online.Registration.DAL.Models;
@using Online.Registration.Admin.Models;
@using SNT.Utility;
@model ComplaintIssuesGroupViewModel

@{
    ViewBag.Title = "Add Complaint Issues Group";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Add:</legend>
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ComplaintIssuesGroup.ProductID)
                </td>
                <td>
                @if (Model.Type == Settings.Default.ComplaintIssues_Product)
                {
                    @Html.TextBoxFor(model => model.ComplaintIssuesGroup.ProductID, new { @disabled = true, @Value = Util.GetNameByID(RefType.ComplaintIssues, Model.ComplaintIssueID), @style = "width:250px" }) 
                    @Html.HiddenFor(model => model.ComplaintIssueID)
                }
                else
                {
                @(Html.Telerik().DropDownListFor(model => model.ComplaintIssuesGroup.ProductID)
                                    .HtmlAttributes(new { style = "width: 250px;" })
            .BindTo(Util.GetList(RefType.ComplaintIssues, defaultText: "-- Select Complaint Issues --", defaultValue: "", orgID: 0, complaintIssueCode: Settings.Default.ComplaintIssues_Product)))
                    @Html.ValidationMessageFor(model => model.ComplaintIssuesGroup.ProductID);
                }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ComplaintIssuesGroup.Reason1ID)
                </td>
                <td>
                @if (Model.Type == Settings.Default.ComplaintIssues_Reason1)
                {
                    @Html.TextBoxFor(model => model.ComplaintIssuesGroup.Reason1ID, new { @disabled = true, @Value = Util.GetNameByID(RefType.ComplaintIssues, Model.ComplaintIssueID), @style = "width:250px" }) 
                    @Html.HiddenFor(model => model.ComplaintIssueID)
                }
                else
                {
                    @(Html.Telerik().DropDownListFor(model => model.ComplaintIssuesGroup.Reason1ID)
                    .HtmlAttributes(new { style = "width: 250px;" })
                    .BindTo(Util.GetList(RefType.ComplaintIssues, defaultText: "-- Select Reason 1 --", defaultValue: "", orgID: 0, complaintIssueCode: Settings.Default.ComplaintIssues_Reason1)))
                    @Html.ValidationMessageFor(model => model.ComplaintIssuesGroup.Reason1ID);
                }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ComplaintIssuesGroup.Reason2ID)
                </td>
                <td>
                @if (Model.Type == Settings.Default.ComplaintIssues_Reason2)
                {
                    @Html.TextBoxFor(model => model.ComplaintIssuesGroup.Reason2ID, new { @disabled = true, @Value = Util.GetNameByID(RefType.ComplaintIssues, Model.ComplaintIssueID), @style = "width:250px" }) 
                    @Html.HiddenFor(model => model.ComplaintIssueID)
                }
                else
                {
                    @(Html.Telerik().DropDownListFor(model => model.ComplaintIssuesGroup.Reason2ID)
                        .HtmlAttributes(new { style = "width: 250px;" })
                        .BindTo(Util.GetList(RefType.ComplaintIssues, defaultText: "-- Select Reason 2 --", defaultValue: "", orgID: 0, complaintIssueCode: Settings.Default.ComplaintIssues_Reason2)))
                    @Html.ValidationMessageFor(model => model.ComplaintIssuesGroup.Reason2ID);
                }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ComplaintIssuesGroup.Reason3ID)
                </td>
                <td>
                @if (Model.Type == Settings.Default.ComplaintIssues_Reason3)
                {
                    @Html.TextBoxFor(model => model.ComplaintIssuesGroup.Reason3ID, new { @disabled = true, @Value = Util.GetNameByID(RefType.ComplaintIssues, Model.ComplaintIssueID), @style = "width:250px" }) 
                    @Html.HiddenFor(model => model.ComplaintIssueID)
                }
                else
                {
                    @(Html.Telerik().DropDownListFor(model => model.ComplaintIssuesGroup.Reason3ID)
                        .HtmlAttributes(new { style = "width: 250px;" })
                        .BindTo(Util.GetList(RefType.ComplaintIssues, defaultText: "-- Select Reason 3 --", defaultValue: "", orgID: 0, complaintIssueCode: Settings.Default.ComplaintIssues_Reason3)))
                    @Html.ValidationMessageFor(model => model.ComplaintIssuesGroup.Reason3ID);
                }
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" name="submit" value="Save">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
}