﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Admin.Models;
@using SNT.Utility;

@model UpdateViewColourModel

@{
    ViewBag.Title = "Edit Colour"; 
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Edit:</legend>
        @Html.HiddenFor(model => model.Colour.ID)
        <table>
            <tr>
                <td>
                    <div style="width: 100px;">
                        @Html.LabelFor(model => model.Colour.ID)</div>
                </td>
                <td>
                     @Html.DisplayFor(model => model.Colour.ID)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.Colour.Code)
                    </div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Colour.Code, new { @style = "width:100px;" })
                    @Html.ValidationMessageFor(model => model.Colour.Code)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Colour.Name)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Colour.Name, new { @style = "width:250px;" })
                    @Html.ValidationMessageFor(model => model.Colour.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Colour.Description)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Colour.Description, new { @style = "width:250px;" }) 
                    @Html.ValidationMessageFor(model => model.Colour.Description)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Colour.ModelID)
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => Model.Colour.ModelID).BindTo(Util.GetList(RefType.Model)))
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Colour.CreateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Colour.CreateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.Colour.CreateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Colour.LastUpdateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Colour.LastUpdateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.Colour.LastUpdateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Colour.LastAccessID)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Colour.LastAccessID, new { @readonly = true, @disabled = true, @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Colour.Active)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Colour.Active) 
                    @Html.ValidationMessageFor(model => model.Colour.Active)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" name="submit" value="Save">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
    <br />
    <div class="header">
        <h3>Model Image List</h3>
    </div>
    <a class="t-button t-button-icontext" href="@Url.Action("Create", "ModelImage", new { colourID = Model.Colour.ID, type = RefType.Colour })">
        <span class="t-icon t-add"></span>Add New</a>
    <br /><br />
    @Html.HiddenFor(model => model.Colour.ID)
    Html.Telerik().Grid<ModelImageSearchResults>(Model.ModelImageSearchResults).Name("gvwMGM")
        .Sortable()
        .Columns(cols =>
        {
            cols.Command(command => command
                .Custom("Edit")
                .Text("Edit")
                .DataRouteValues(route => route.Add(a => a.ModelImageID).RouteKey("id"))
                .DataRouteValues(route => route.Add(a => a.Type).RouteKey("type"))
                .SendState(false)
                .Action("Edit", "ModelImage"))
                .HtmlAttributes(new { style = "text-align: center" })
                .Width(90)
                .Title("Action");
            cols.Bound(m => m.Model).Title("Model").Width(200);
            cols.Bound(m => m.ActiveCheckBox).Title("Active").Width(8).Encoded(false);
            cols.Bound(m => m.CreateDT).Title("Created On");
            cols.Bound(m => m.LastUpdateDT).Title("Last Updated");
            cols.Bound(m => m.LastAccessID).Title("Last Access");
        })
        .DataBinding(binding => binding.Ajax().OperationMode(GridOperationMode.Client))
        .Pageable(paging => paging.PageSize(Util.GridRowsPerPage))
        .Render();
}
