﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@model Online.Registration.Web.ViewModels.GuidedSalesVM
@{
    ViewBag.Title = "Guided Sales";    
}
<div class="vwHeader">
    <table width="100%">
        <tr>
            <td>
                <div>@ViewBag.Title</div>
            </td>
            <td align="right">
                <button class="button-continue" id="btnNext" type="submit" value="Next">
                </button>
            </td>
        </tr>
    </table>
</div>
<div class="viewInnerBody">
    @using (Html.BeginForm("Index", "GuidedSales", FormMethod.Post, new { id = "frmPlan" }))
    { @Html.Hidden("submit1")
        
        <table>
            <tr>
                <td>             
                    <input type="radio" id="PlanSearch" name="rdSearch" onclick="$('#submit1').val('PlanSearch');"/>
                </td>
                <td style="font-size:14px">
                    @Html.LabelFor(model => model.DevicePropertyVM.PlanSearch)
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" id="Search" name="rdSearch" onclick="$('#submit1').val('Search');" />
                </td>
                <td style="font-size:14px">               
                    @Html.LabelFor(model => model.DevicePropertyVM.DeviceSearch)
               
                </td>
            </tr>
           @* <tr>
                <td>              
                    <input type="radio" id="PlanAndDeviceSearch" name="rdSearch" onclick="$('#submit1').val('PlanAndDeviceSearch');" />
                </td>
                <td style="font-size:14px">
                    @Html.LabelFor(model => model.DevicePropertyVM.PlanAndDeviceSearch)
                </td>
            </tr>*@
        </table>
    }
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
           
            $("#menuPlan").attr("disabled", "disabled");
            $("#menuDevicePlan").attr("disabled", "disabled");
            $("#menuSuppline").attr("disabled", "disabled");
            $("#menuGuidedSales").attr("disabled", "disabled");
            $("#menuPlanMNP").attr("disabled", "disabled");

            $("#btnNext").click(function () {
              
                if ($('#submit1').val() == 'PlanSearch') {
                    $('#submit1').val('PlanSearch');
                    window.location.href = "PlanSearch";

                }
                else if ($('#submit1').val() == 'Search') {
                    $('#submit1').val('Search');
                    window.location.href = "DeviceSearch";

                }
                else if ($('#submit1').val() == 'PlanAndDeviceSearch') {
                    $('#submit1').val('PlanAndDeviceSearch');
                    window.location.href = "GuidedSales/PlanAndDevice";
                }
                else {
                    alert("Select atleast one search radio button!");
                    return false;
                }
            });
        });
      
        function submitform() {
            document.myform.submit();
        } 
    </script>
}
