﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@model Online.Registration.Web.ViewModels.GuidedSalesVM
@{
    ViewBag.Title = "Guided Sales";

    var isSearch = Model.IsSearch;
    var selectedModelId = string.Empty;
    if(Session["GuidedSales_SelectedModelImageID"] !=null)
    {
        selectedModelId=Session["GuidedSales_SelectedModelImageID"].ToString();
    }
    //var pgmBdls = Model.PlanPropertyVM.AvailablePackages.Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList();
    //var bundleNames = Model.PlanPropertyVM.AvailablePackages.Select(a => a.BundleName).Distinct().ToList();

    var pgmBdls = Model.PlanPropertyVM.AvailablePackages.Where(a => a.BundleName.Contains("iV").Equals(false)).Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList();
    var bundleNames = Model.PlanPropertyVM.AvailablePackages.Where(a => a.BundleName.Contains("iV").Equals(false)).Select(a => a.BundleName).Distinct().ToList();
}
<div class="vwHeader">
    <table width="100%">
        <tr>
            <td>
                <div>@ViewBag.Title</div>
            </td>
            <td align="right">
                @if ((Model.PlanPropertyVM.AvailablePackages.Count() > 0 || Model.DevicePropertyVM.AvailableModelImage.Count() > 0) && (Session["Searchstatus"] == "PlanSearch" || Session["Searchstatus"] == "DeviceSearch"))
                { 
                    <button class="button-continue" id="btnNext" type="submit" value="Next">
                    </button>
                }
            </td>
        </tr>
    </table>
</div>
<div class="viewInnerBody">
<input type="hidden" id="hdnSelectedModelId" />
    @*<div class="button-menuType">
        @using (Html.BeginForm("Index", "GuidedSales", FormMethod.Post, new { id = "frmGuidedSales" }))
        { 
            @Html.Hidden("submit1")
            <table>
                <tr>
                    <td>
                        <button class="menuGuidedPlanSales button-menuType" type="submit" value="" onclick="$('#submit1').val('plan');">
                        </button>
                    </td>
                    <td>
                        <button class="menuGuidedDeviceSales button-menuType" type="submit" value="" onclick="$('#submit1').val('device');">
                        </button>
                    </td>
                </tr>
            </table>
        }
    </div>*@
    @using (Html.BeginForm("Plan", "GuidedSales", FormMethod.Post, new { id = "frmPlan2" }))
    {     
        @Html.ValidationSummary(false)
        @Html.HiddenFor(model => model.PlanPropertyVM.SelectedPgmBdlPkgComp.PgmBdlPkgCompID)
    }
    @using (Html.BeginForm("Device", "GuidedSales", FormMethod.Post, new { id = "frmDevice2" }))
    {     
        @Html.ValidationSummary(false)
        @Html.HiddenFor(model => model.DevicePropertyVM.SelectedModel.ImageID)
    }
    @using (Html.BeginForm("Index", "GuidedSales", FormMethod.Post, new { id = "frmGuidedSales" }))
    {
        @Html.ValidationSummary(false)
        @Html.HiddenFor(model => model.SelectedCriterias)
        @Html.Hidden("submit1")

        @(Html.Telerik().PanelBar()
            .ClientEvents(e => e.OnSelect("PanelBar_onSelect"))
            .Name("pnlCriteria")
            .ExpandAll(true)
            .ExpandMode(Telerik.Web.Mvc.UI.PanelBarExpandMode.Single)
            .HtmlAttributes(new { @class = "" })
            .Items(parent =>
            {
                parent.Add()
                    .Expanded(true)
                    .Text("PLAN SEARCH FILTER")
                    .LinkHtmlAttributes(new { style = "height:30px;font-size:16px;font-weight:bold;" })
                    //.SpriteCssClasses("icon-account-info")
                    //.ContentHtmlAttributes(new { style = "z-index:1900;" })

                    .Content(
                        @<text>
        <table width="720px">
            <tr>
                @* VLT ADDED CODE by Rajeswari on 27th Feb for plan search range values for usages*@
                <td>
                    <div class="box">
                        <b>Voice Usage (Minutes)</b></div>
                    @(Html.Telerik().SliderFor(model => model.PlanPropertyVM.PlanOption.VoiceUsage)
.Min(int.Parse(Session["VoiceUsageMin"].ToString()))
.Max(int.Parse(Session["VoiceUsageMax"].ToString())).TickPlacement(SliderTickPlacement.Both)
.Orientation(SliderOrientation.Horizontal)
.ShowButtons(true).HtmlAttributes(new { style = "width:250px;margin-left:50px" }))
                </td>
                <td>
                    <div class="box">
                        <b>Data Usage (MB)</b></div>
                    @(Html.Telerik().SliderFor(model => model.PlanPropertyVM.PlanOption.DataUsage)
.Min(int.Parse(Session["DataUsageMin"].ToString()))
.Max(int.Parse(Session["DataUsageMax"].ToString())).TickPlacement(SliderTickPlacement.Both)
.Orientation(SliderOrientation.Horizontal)
.ShowButtons(true).HtmlAttributes(new { style = "width:250px;margin-left:50px" }))
                </td>
            </tr>
            @* Begin Code Added by VLT for per Unit value display on 12th Apr 2013*@
            <tr>
                @*<td align="right" style="font-size:x-small;font-style:italic"> <b> 1 Unit - @(((int.Parse(Session["VoiceUsageMax"].ToString())) - (int.Parse(Session["VoiceUsageMin"].ToString()))) / 10) <text> Minutes </text></b></td>
                <td align="right" style="font-size:x-small;font-style:italic"> <b> 1 Unit - @(((int.Parse(Session["DataUsageMax"].ToString())) - (int.Parse(Session["DataUsageMin"].ToString()))) / 10) <text> MB </text></b></td>*@
                <td align="right" style="font-size:x-small;font-style:italic"> <b> 1 Unit - 240  Minutes</b></td>
                <td align="right" style="font-size:x-small;font-style:italic"> <b> 1 Unit - 600 MB </b></td>
            </tr>
             @* End Code Added by VLT for per Unit value display on 12th Apr 2013*@
            <tr>
                <td>
                    <div class="box">
                        <b>SMS Usage (Count) </b>
                    </div>
                    @(Html.Telerik().SliderFor(model => model.PlanPropertyVM.PlanOption.SMSUsage)
.Min(int.Parse(Session["smsUsageMin"].ToString()))
.Max(int.Parse(Session["smsUsageMax"].ToString())).TickPlacement(SliderTickPlacement.Both)
.Orientation(SliderOrientation.Horizontal)
.ShowButtons(true).HtmlAttributes(new { style = "width:250px;margin-left:50px" }))
                </td>
                <td>
                    <div class="box">
                        <b>Monthly Commitment (RM)</b></div>
                    @(Html.Telerik().SliderFor(model => model.PlanPropertyVM.PlanOption.Price)
.Min(int.Parse(Session["PriceMin"].ToString()))
.Max(int.Parse(Session["PriceMax"].ToString())).TickPlacement(SliderTickPlacement.Both)
.Orientation(SliderOrientation.Horizontal)
.ShowButtons(true).HtmlAttributes(new { style = "width:250px;margin-left:50px" }))
                </td>
                @* VLT ADDED CODE ends here by Rajeswari on 27th Feb for plan search range values for usages*@
            </tr>
            @* Begin Code Added by VLT for per Unit value display on 12th Apr 2013*@
            <tr>
                @*<td align="right" style="font-size:x-small;font-style:italic"> <b> 1 Unit - @(((int.Parse(Session["smsUsageMax"].ToString())) - (int.Parse(Session["smsUsageMin"].ToString()))) / 10) <text> Count </text></b></td>
                <td align="right" style="font-size:x-small;font-style:italic"> <b> 1 Unit - @(((int.Parse(Session["PriceMax"].ToString())) - (int.Parse(Session["PriceMin"].ToString()))) / 10) <text> RM </text></b></td>*@
                <td align="right" style="font-size:x-small;font-style:italic"> <b> 1 Unit - 70 Count </b></td>
                <td align="right" style="font-size:x-small;font-style:italic"> <b> 1 Unit - 50 RM </b></td>
            </tr>
             @* End Code Added by VLT for per Unit value display on 12th Apr 2013*@
            <tr>
                <td colspan="4" align="center" style="padding-bottom: 20px; padding-top: 20px;">
                    <button class="Srch_button cancel" style="width: 620px;" type="submit" value="Search"
                        onclick="$('#submit1').val('PlanSearch');">
                        Search
                    </button>
                </td>
            </tr>
        </table>
        </text>
                    );

                parent.Add()
                    .Expanded(true)
                    .Text("DEVICE SEARCH FILTER")
                    .LinkHtmlAttributes(new { style = "height:30px;font-size:16px;font-weight:bold;" })
                    //.SpriteCssClasses("icon-account-info")
                    //.ContentHtmlAttributes(new { @class = "panel-content" })
                    .Content(
                        @<text>
        <table width="850px">
            <tr>
                <td>
                    @foreach (var deviceOption in Model.DevicePropertyVM.DeviceOptions)
                    { 
                        <div class="box">
                            <b>@deviceOption.PropertyName</b></div>
                        <div class="boxContent">
                            @foreach (var criteria in deviceOption.Criterias)
                            {
                                var chkID = string.Format("chk_{0}_{1}", deviceOption.PropertyID, criteria.Key);
                                var lblID = string.Format("lbl_{0}_{1}", deviceOption.PropertyID, criteria.Key);
                                
                                <input type="checkbox" id="@chkID" value="@chkID" style="margin-left:50px;" class="CheckBoxClass" />
                                <label id="@lblID" for="@chkID" class="CheckBoxLabelClass">
                                </label>
                                @Html.Raw(criteria.Value)
                            }
                        </div>
                    }
                    @*<div class="box"><b>Camera</b></div>
                                        <div class="boxContent">
                                            @Html.HiddenFor(model => model.DevicePropertyVM.HasCamera)
                                            <input type="checkbox" id="chkYesCamera" value="@Model.DevicePropertyVM.HasCamera" style="margin-left:50px;" class="CheckBoxClass" />
                                            <label id="lblYesCamera" for="chkYesCamera" class="CheckBoxLabelClass"></label> Yes
                                            <input type="checkbox" id="chkNoCamera" value="@Model.DevicePropertyVM.HasCamera" style="margin-left:50px;" class="CheckBoxClass" />
                                            <label id="lblNoCamera" for="chkNoCamera" class="CheckBoxLabelClass"></label> No
                                        </div>*@
                </td>
            </tr>
            <tr>
                <td align="center" style="padding-bottom: 20px">
                    <button class="Srch_button cancel" style="width: 620px;" type="submit" value="Search"
                        onclick="$('#submit1').val('DeviceSearch');">
                        Search
                    </button>
                </td>
            </tr>
        </table>
        </text>
                    );

            }))
    }
    @if ((Model.PlanPropertyVM.AvailablePackages.Count() > 0) && (Session["Searchstatus"] == "PlanSearch"))
    { 
        
        
        <table width="500px" style="margin-left: 130px" id="tblPlan">
        <tr><td> <h2>Search Results</h2>  </td></tr>
            <tr>
                <td style="padding-right: 30px" align="center" valign="middle">
                    @{ var i = 0; }
                    <table>
                        @foreach (var bundleName in bundleNames)
                        {
                            var containerName = "container_" + i;
                            var carouselName = "carousel_" + i;
                            var carouselPkgCount = string.Format("pkgCount{0}", i);
                            <tr>
                                <td>
                                    @Html.Hidden(carouselPkgCount, Model.PlanPropertyVM.AvailablePackages.Where(a => a.BundleName == bundleName).ToList().Count())
                                    <label style="font-size: large; font-weight: bold;">@(pgmBdls.Where(a => a.bundleName == bundleName).SingleOrDefault().programName.ToUpper()):
                                    </label>
                                    <label style="font-size: larger; font-weight: bold;">@(bundleName)</label>
                                    <br />
                                    <br />
                                    <a href="#" id='@("next_" + i)' class="ui-carousel-next"><span></span></a>
                                    <div id="@(containerName)" class="container">
                                        <div id="@(carouselName)" class="carousel">
                                            @{
                            foreach (var package in Model.PlanPropertyVM.AvailablePackages.Where(a => a.BundleName == bundleName).ToList())
                            {
                                var btnPlanID = "btnPlan_" + package.PgmBdlPkgCompID;
                                var btnPlanDetails = "btnPlnDetails_" + package.PackageCode;
                                                <div>
                                                    <div style="float: left">
                                                        <button id="@btnPlanID" class="cancel btnPlanSelection" style="width:420px;height:55px; padding:0" type="button" onclick="SelectedPlan('@btnPlanID',@package.PgmBdlPkgCompID);" >
                                                            @package.PackageName
                                                        </button>
                                                    </div>
                                                    <div style="float: right">
                                                        <button id="@btnPlanDetails" style="width:30px;height:55px;" type="button" onclick="detailsPlans_OnClick('@btnPlanDetails')"
                                                            class="button-plan-details">
                                                        </button>
                                                    </div>
                                                </div>
                            }
                                            }
                                        </div>
                                    </div>
                                    <a href="#" id='@("prev_" + i)' class="ui-carousel-prev"><span></span></a>
                                    <br />
                                    <br />
                                </td>
                            </tr>
                            i++;
                        }
                    </table>
                </td>
            </tr>
        </table>
    }
    else if ((Model.DevicePropertyVM.AvailableModelImage.Count() > 0) && (Session["Searchstatus"] == "DeviceSearch"))
    {
        #region Model Images
        <br />
        int count = 1;
        
        
        if(Model.DevicePropertyVM.AvailableModelImage.Count > 0)
        {
              <div id="dvSearchTitle"><h2>Search Results</h2> </div>
            foreach (var modelImage in Model.DevicePropertyVM.AvailableModelImage)
            {
                //var btnModelImageID = "btnModelImageID_" + modelImage.ModelImage.ID;
                //var btnModelDetails = "btnModelDetails_" + modelImage.ModelCode;

                var btnModelImageID = "btnModelImageID_" + modelImage.BrandArticle.ID;
                var btnModelDetails = "btnModelDetails_" + modelImage.ModelCode;
           
        <div style="float: left; padding-bottom: 30px;">
            <div style="height: 180px; width: 145px; float: left; padding-bottom: 40px;">
                @*<button class="cancel btnSelection" style="background-size:170px 175px; margin:0px;" typaae="button" id="@btnModelImageID" name="divDevice" onclick="SelectedModelImage(@btnModelImageID,@modelImage.ModelImage.ID);" >*@
                <button class="cancel btnSelection" style="background-size:170px 175px; margin:0px;" typaae="button" id="@btnModelImageID" name="divDevice" onclick="SelectedModelImage(@btnModelImageID,@modelImage.BrandArticle.ID);" >
                    <table>
                        <tr>
                            <td style="font-weight: bold;" align="center" valign="top">@*style="border:1px solid #eaebed;"*@
                                 <div style="float:left">
														    @*<img alt="Image Not Available" src="@Url.Content(modelImage.ModelImage.ImagePath)" width="120px" height="120px" /><br />*@
                                                            <img alt="Image Not Available" src="@Url.Content(modelImage.BrandArticle.ImagePath)" width="120px" height="120px" /><br />
														    @*@Html.Raw(Util.GetNameByID(RefType.Model, modelImage.ModelImage.ModelID))<br />*@
                                                            @Html.Raw(Util.GetNameByID(RefType.Model, modelImage.BrandArticle.ModelID))<br />
														    @*@Html.Raw(modelImage.ModelImage.ColourID.HasValue ? Util.GetNameByID(RefType.Colour, modelImage.ModelImage.ColourID.Value) : "")<br />*@
                                                            @Html.Raw(modelImage.BrandArticle.ColourID > 0 ? Util.GetNameByID(RefType.Colour, modelImage.BrandArticle.ColourID) : "")<br />
                                                             
                                                        </div>
                                                          
                                
                                              
                                              
                            </td>
                        </tr>
                    </table>
                     @* Start Added by Narayanareddy*@

                                            @if (modelImage.Count < Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockHigher)
                                            {
                                            <table><tr><td style="color:Red;font-weight:bold;">Fast Selling</td></tr></table>
                                            }
                                            else if (modelImage.Count >= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_LimitedStockLower && modelImage.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_LimitedStockHigher)
                                            {
                                            <table><tr><td style="color:Orange;font-weight:bold;">Limited Stock</td></tr></table>
                                            }
                                            else if (modelImage.Count >= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_AvailableStockLower)
                                            {
                                            <table><tr><td style="color:Green;font-weight:bold;">Available</td></tr></table>
                                            }
                                            @* End Added by Narayanareddy*@
                </button>
            </div>
            <div style="width: 170px">
                <button id="@btnModelDetails" style="width:145px;height:40px;" type="button" onclick="detailsDevices_OnClick('@btnModelDetails')"
					        class="button-device-details">
                    <b>View Details</b>
                </button>
                
            </div>
        </div>
   
                                                                                                                         if (count == 4)
                                                                                                                         {
                                                                                                                             count = 1;
        <div style="float: left; height: 100px; clear: both;">
        </div>
        <br />
        <br />
@*<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />*@
                                                                                                                         }
                                                                                                                         else
                                                                                                                         {
                                                                                                                             count++;
                                                                                                                         }
            }
        }
        else
        {
            <h2> No devices available !</h2>    
        }


        #endregion
    }
    //Code Added by VLT for displaying message for no serch Results
    else if ((Model.DevicePropertyVM.AvailableModelImage.Count() <= 0) && (Session["Searchstatus"] == "DeviceSearch"))
    {
       <div id="dvDeviceRes"><h2> No devices available !</h2></div>
    }
    else if ((Model.PlanPropertyVM.AvailablePackages.Count() <= 0) && (Session["Searchstatus"] == "PlanSearch"))
    {
       <div id="dvDataRes"> <h2> No data available !</h2></div>
    }
    @* Code Added by VLT for displaying message for no serch Results*@
</div>
@{
    Html.Telerik().Window()
        .Name("planDetailsWindow")
        .Title("Plan Details")
        .Width(700)
        .Height(600)
        .ClientEvents(events => events.OnActivate("PlanWindow_popup"))
        .Content(@<text>
    <table width="100%">
        <tr>
            <td>
                <img alt="" id="imgPlanDetails" src="@Url.Content("~/Content/images/Plan/MobileReg_.gif")" />
            </td>
            @*<td><img alt="" id="imgPlanDetails" src="../../Content/images/Plan/MobileReg_.gif" /></td>*@
        </tr>
    </table>
    </text>)
        .Modal(true)
        .Visible(false)
        .Render();

    Html.Telerik().Window()
        .Name("devicesDetailsWindow")
        .Title("Devices Details")
        .Width(750)
        .Height(700)
        .Content(@<text>
    <table width="100%">
        <tr>
            <td>
                <img alt="" id="imgDevicesDetails" src="@Url.Content("~/Content/images/devices/Devices_.jpg")" />
            </td>
        </tr>
    </table>
    </text>)
        .Modal(true)
        .Visible(false)
        .Render();
}
@section Scripts{
    <script type="text/javascript">
        // handling the OnSelect event
        function PanelBar_onSelect(e) {

            var item = $(e.item);


            $("#tblPlan").css("display", "none");
            //document.getElementById("divDevice").style.display = "none";
            //   $('#divDevice').css('display') == 'none';
            $('button[name^="divDevice"]').hide();
            $('button[id^="btnModelDetails_"]').hide();
            $("#divDevice1").hide();
            $("#btnModelDetails_").hide();

            $("#btnNext").css("display", "none");


            if (document.getElementById('dvDeviceRes') != null) {
                $("#dvDeviceRes").css("display", "none");
            }
            if (document.getElementById('dvDataRes') != null) {
                $("#dvDataRes").css("display", "none");
            }

            if (document.getElementById('dvSearchTitle') != null) {
                $("#dvSearchTitle").css("display", "none");
            }
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".CheckBoxClass").change(function () {

            //VLT ADDED CODE by Rajeswari on 11th March

             if($(this).attr('id') == 'chk_3_15'){ 
               if ($('#chk_3_15').is(":checked"))  {                      
//                     $('#input:checkbox[id=chk_3_15]').attr('checked', true);
                     $('#chk_3_15').next("label").addClass("LabelSelected");
                     $('#input:checkbox[id=chk_3_16]').attr('checked', false);
                     $('#chk_3_16').next("label").removeClass("LabelSelected");
                     }
              }              
              if($(this).attr('id') == 'chk_3_16'){   
                if ($('#chk_3_16').is(":checked"))  { 
//                     $('#input:checkbox[id=chk_3_16]').attr('checked', true);
                     $('#chk_3_16').next("label").addClass("LabelSelected");
                     $('#input:checkbox[id=chk_3_15]').attr('checked', false);     
                     $('#chk_3_15').next("label").removeClass("LabelSelected"); 
                     }
               }

                if ($(this).is(":checked")) {
                    $(this).next("label").addClass("LabelSelected");
                    $('#SelectedCriterias').val($('#SelectedCriterias').val() + $(this).val() + ',');
                } else {
                    $('#SelectedCriterias').val($('#SelectedCriterias').val().replace($(this).val() + ',', ''));
                    $(this).next("label").removeClass("LabelSelected");
                }
           
               if($(this).attr('id') == 'chk_4_17'){ 
                if ($('#chk_4_17').is(":checked"))  {                    
//                     $('#input:checkbox[id=chk_4_17]').attr('checked', true);
                     $('#chk_4_17').next("label").addClass("LabelSelected");
                     $('#input:checkbox[id=chk_4_18]').attr('checked', false);
                     $('#chk_4_18').next("label").removeClass("LabelSelected");
                     }
               }              
               if($(this).attr('id') == 'chk_4_18'){   
                if ($('#chk_4_18').is(":checked"))  {               
//                     $('#input:checkbox[id=chk_4_18]').attr('checked', true);
                     $('#chk_4_18').next("label").addClass("LabelSelected");
                     $('#input:checkbox[id=chk_4_17]').attr('checked', false);     
                     $('#chk_4_17').next("label").removeClass("LabelSelected");  
                     }
               }

               if($(this).attr('id') == 'chk_5_19'){  
               if ($('#chk_5_19').is(":checked"))  {                 
//                     $('#input:checkbox[id=chk_5_19]').attr('checked', true);
                     $('#chk_5_19').next("label").addClass("LabelSelected");
                     $('#input:checkbox[id=chk_5_20]').attr('checked', false);
                     $('#chk_5_20').next("label").removeClass("LabelSelected");
                     }
               }              
               if($(this).attr('id') == 'chk_5_20'){ 
              
                   if ($('#chk_5_20').is(":checked")) {   
//                     $('#input:checkbox[id=chk_5_20]').attr('checked', true);
                     $('#chk_5_20').next("label").addClass("LabelSelected");
                     $('#input:checkbox[id=chk_5_19]').attr('checked', false);     
                     $('#chk_5_19').next("label").removeClass("LabelSelected");  
                     }
               }

               if($(this).attr('id') == 'chk_6_21'){   
                 if ($('#chk_6_21').is(":checked"))  {                     
//                     $('#input:checkbox[id=chk_6_21]').attr('checked', true);
                     $('#chk_6_21').next("label").addClass("LabelSelected");
                     $('#input:checkbox[id=chk_6_22]').attr('checked', false);
                     $('#chk_6_22').next("label").removeClass("LabelSelected");
                     }
               }              
               if($(this).attr('id') == 'chk_6_22'){   
                 if ($('#chk_6_22').is(":checked"))  {    
//                     $('#input:checkbox[id=chk_6_22]').attr('checked', true);
                     $('#chk_6_22').next("label").addClass("LabelSelected");
                     $('#input:checkbox[id=chk_6_21]').attr('checked', false);     
                     $('#chk_6_21').next("label").removeClass("LabelSelected");  
                     }
               }

                if($(this).attr('id') == 'chk_8_25'){  
                   if ($('#chk_8_25').is(":checked"))  {                      
//                     $('#input:checkbox[id=chk_8_25]').attr('checked', true);
                     $('#chk_8_25').next("label").addClass("LabelSelected");
                     $('#input:checkbox[id=chk_8_26]').attr('checked', false);
                     $('#chk_8_26').next("label").removeClass("LabelSelected");
                     }
               }              
               if($(this).attr('id') == 'chk_8_26'){   
                   if ($('#chk_8_26').is(":checked"))  {     
//                     $('#input:checkbox[id=chk_8_26]').attr('checked', true);
                     $('#chk_8_26').next("label").addClass("LabelSelected");
                     $('#input:checkbox[id=chk_8_25]').attr('checked', false);     
                     $('#chk_8_25').next("label").removeClass("LabelSelected");  
                     }
               }

               if($(this).attr('id') == 'chk_7_23'){     
                  if ($('#chk_7_23').is(":checked"))  {                    
//                     $('#input:checkbox[id=chk_7_23]').attr('checked', true);
                     $('#chk_7_23').next("label").addClass("LabelSelected");  
                     }                  
               }  

                if($(this).attr('id') == 'chk_7_24'){     
                   if ($('#chk_7_24').is(":checked"))  {                
//                     $('#input:checkbox[id=chk_7_24]').attr('checked', true);
                     $('#chk_7_24').next("label").addClass("LabelSelected");  
                     }                  
               }  

                if($(this).attr('id') == 'chk_1_1'){      
                 if ($('#chk_1_1').is(":checked"))  {                 
//                     $('#input:checkbox[id=chk_1_1]').attr('checked', true);
                     $('#chk_1_1').next("label").addClass("LabelSelected");  
                     }                  
               }  
                if($(this).attr('id') == 'chk_1_2'){  
                  if ($('#chk_1_2').is(":checked"))  {                     
//                     $('#input:checkbox[id=chk_1_2]').attr('checked', true);
                     $('#chk_1_2').next("label").addClass("LabelSelected");  
                     }                  
               }  
                if($(this).attr('id') == 'chk_1_3'){   
                 if ($('#chk_1_3').is(":checked"))  {                  
//                     $('#input:checkbox[id=chk_1_3]').attr('checked', true);
                     $('#chk_1_3').next("label").addClass("LabelSelected");   
                     }                 
               }  
               if($(this).attr('id') == 'chk_1_4'){  
                if ($('#chk_1_4').is(":checked"))  {                      
//                     $('#input:checkbox[id=chk_1_4]').attr('checked', true);
                     $('#chk_1_4').next("label").addClass("LabelSelected");  
                     }                  
               }
                if($(this).attr('id') == 'chk_2_10'){   
                  if ($('#chk_2_10').is(":checked"))  {                  
//                     $('#input:checkbox[id=chk_2_10]').attr('checked', true);
                     $('#chk_2_10').next("label").addClass("LabelSelected");   
                     $('#input:checkbox[id=chk_2_11]').attr('checked', false);
                     $('#chk_2_11').next("label").removeClass("LabelSelected");     
                     $('#input:checkbox[id=chk_2_12]').attr('checked', false);
                     $('#chk_2_12').next("label").removeClass("LabelSelected");  
                     $('#input:checkbox[id=chk_2_13]').attr('checked', false);
                     $('#chk_2_13').next("label").removeClass("LabelSelected");              
                     $('#input:checkbox[id=chk_2_14]').attr('checked', false);
                     $('#chk_2_14').next("label").removeClass("LabelSelected"); 
                     }  
                } 
                if($(this).attr('id') == 'chk_2_11'){    
                 if ($('#chk_2_11').is(":checked"))  {                  
//                     $('#input:checkbox[id=chk_2_11]').attr('checked', true);
                     $('#chk_2_11').next("label").addClass("LabelSelected");   
                     $('#input:checkbox[id=chk_2_10]').attr('checked', false);
                     $('#chk_2_10').next("label").removeClass("LabelSelected");     
                     $('#input:checkbox[id=chk_2_12]').attr('checked', false);
                     $('#chk_2_12').next("label").removeClass("LabelSelected");  
                     $('#input:checkbox[id=chk_2_13]').attr('checked', false);
                     $('#chk_2_13').next("label").removeClass("LabelSelected");              
                     $('#input:checkbox[id=chk_2_14]').attr('checked', false);
                     $('#chk_2_14').next("label").removeClass("LabelSelected");    
                     }
                } 
                 if($(this).attr('id') == 'chk_2_12'){    
                   if ($('#chk_2_12').is(":checked"))  {                    
//                     $('#input:checkbox[id=chk_2_12]').attr('checked', true);
                     $('#chk_2_12').next("label").addClass("LabelSelected");   
                     $('#input:checkbox[id=chk_2_10]').attr('checked', false);
                     $('#chk_2_10').next("label").removeClass("LabelSelected");     
                     $('#input:checkbox[id=chk_2_11]').attr('checked', false);
                     $('#chk_2_11').next("label").removeClass("LabelSelected");  
                     $('#input:checkbox[id=chk_2_13]').attr('checked', false);
                     $('#chk_2_13').next("label").removeClass("LabelSelected");              
                     $('#input:checkbox[id=chk_2_14]').attr('checked', false);
                     $('#chk_2_14').next("label").removeClass("LabelSelected"); 
                     }   
                } 

                if($(this).attr('id') == 'chk_2_13'){     
                 if ($('#chk_2_13').is(":checked"))  {                 
//                     $('#input:checkbox[id=chk_2_13]').attr('checked', true);
                     $('#chk_2_13').next("label").addClass("LabelSelected");   
                     $('#input:checkbox[id=chk_2_11]').attr('checked', false);
                     $('#chk_2_11').next("label").removeClass("LabelSelected");     
                     $('#input:checkbox[id=chk_2_12]').attr('checked', false);
                     $('#chk_2_12').next("label").removeClass("LabelSelected");  
                     $('#input:checkbox[id=chk_2_10]').attr('checked', false);
                     $('#chk_2_10').next("label").removeClass("LabelSelected");              
                     $('#input:checkbox[id=chk_2_14]').attr('checked', false);
                     $('#chk_2_14').next("label").removeClass("LabelSelected");  
                     }  
                } 

                if($(this).attr('id') == 'chk_2_14'){    
                  if ($('#chk_2_14').is(":checked"))  {                  
//                     $('#input:checkbox[id=chk_2_14]').attr('checked', true);
                     $('#chk_2_14').next("label").addClass("LabelSelected");   
                     $('#input:checkbox[id=chk_2_11]').attr('checked', false);
                     $('#chk_2_11').next("label").removeClass("LabelSelected");     
                     $('#input:checkbox[id=chk_2_12]').attr('checked', false);
                     $('#chk_2_12').next("label").removeClass("LabelSelected");  
                     $('#input:checkbox[id=chk_2_10]').attr('checked', false);
                     $('#chk_2_10').next("label").removeClass("LabelSelected");              
                     $('#input:checkbox[id=chk_2_13]').attr('checked', false);
                     $('#chk_2_13').next("label").removeClass("LabelSelected"); 
                     }   
                } 
               //VLT ADDED CODE ENDS HERE by Rajeswari on 11th March


//              VLT COMMENTED CODE
//                if ($(this).attr('id') == 'chkYesCamera' || $(this).attr('id') == 'chkNoCamera') {
//                    $('#chkNoCamera').next("label").removeClass("LabelSelected");
//                    $('#chkYesCamera').next("label").removeClass("LabelSelected");
//                }
//                //alert($('#chkYesCamera').is(":checked") + '|' + $('#chkNoCamera').is(":checked") + '|' + $('#HasCamera').val());
//                
//                if ($(this).attr('id') == 'chkYesCamera') {
//                    if ($('#chkYesCamera').is(":checked")) { // hasCamera has checked
//                        $('#DevicePropertyVM_HasCamera').val('1');
//                        $('#chkYesCamera').next("label").addClass("LabelSelected");
//                        $('#chkNoCamera').prop('checked', false);
//                    }
//                    else {
//                        $('#HasCamera').val('');
//                    }
//                }
//                else if ($(this).attr('id') == 'chkNoCamera') {
//                    if ($('#chkNoCamera').is(":checked")) { // hasCamera has checked
//                        $('#DevicePropertyVM_HasCamera').val('0');
//                        $('#chkNoCamera').next("label").addClass("LabelSelected");
//                        $('#chkYesCamera').prop('checked', false);
//                    }
//                    else {
//                        $('#DevicePropertyVM_HasCamera').val('');
//                    }
//                }
//                else {
//                    if ($(this).is(":checked")) {
//                        $(this).next("label").addClass("LabelSelected");
//                        $('#SelectedCriterias').val($('#SelectedCriterias').val() + $(this).val() + ',');
//                    } else {
//                        $('#SelectedCriterias').val($('#SelectedCriterias').val().replace($(this).val() + ',', ''));
//                        $(this).next("label").removeClass("LabelSelected");
//                    }
//                }
//                //alert($('#chkYesCamera').is(":checked") + '|' + $('#chkNoCamera').is(":checked") + '|' + $('#HasCamera').val());
//VLT COMMENTED CODE ENDS HERE

            });

            if ('@(isSearch)' == 'True') {
                var panelBar = $("#pnlCriteria").data("tPanelBar");

                var item1 = $("> li", panelBar.element)[0];
                panelBar.collapse(item1);

                var item2 = $("> li", panelBar.element)[1];
                panelBar.collapse(item2);

                   $('#SelectedCriterias').val('');
            }


            
            $("#btnNext").click(function () {
                $('#submit1').val('Next');
               
                if ($('#PlanPropertyVM_SelectedPgmBdlPkgComp_PgmBdlPkgCompID').val() != '' && $('#DevicePropertyVM_SelectedModel_ImageID').val()=='') {
               
                    $("#frmPlan2").submit();
                }
                else if ($('#DevicePropertyVM.SelectedModel.ImageID').val() != '') {
                 
                    $("#frmDevice2").submit();
                }
            });

            //Highlight selected Plan
            var planID = $('#PlanPropertyVM_SelectedPgmBdlPkgComp_PgmBdlPkgCompID').val();
            if (planID != 0) {
                $('#btnPlan_' + planID).css("border-style", "solid");
            }

            //Highlight selected model
            var modelImageID = $('#DevicePropertyVM_SelectedModel_ImageID').val();
            
           
            if (modelImageID != 0) {
                $('#btnModelImageID_' + modelImageID).css("border-style", "solid");
            }
            else {
                $('#DevicePropertyVM_SelectedModel_ImageID').val('');
            }
            $('#hdnSelectedModelId').val(@(selectedModelId));
            
            
            if ($('#hdnSelectedModelId').val() != "") {
                $('#btnModelImageID_' + $('#hdnSelectedModelId').val()).css("border-style", "solid");
                $('#DevicePropertyVM_SelectedModel_ImageID').val($('#hdnSelectedModelId').val());
            }
            

//            $('#menuGuidedSales').css("background-image", $('#menuGuidedSales').css("background-image").replace(".png", "_hover.png"));
        });

        function SelectedModelImage(btnModelImageID, modelImageID) {
            $('#DevicePropertyVM_SelectedModel_ImageID').val(modelImageID);
            $('button[id^="btnModelImageID_"]').css("border-style", "none");
            $(btnModelImageID).css("border-style", "solid");
        }

        function detailsDevices_OnClick(btnModelDetails) {
            var code = btnModelDetails.substring(16);
            var src = $('#imgDevicesDetails').attr("src");
            var indexFrom = src.indexOf("Devices_") + 8;
            var indexTo = src.indexOf(".jpg");
            var oldCode = src.substring(indexFrom, indexTo);

            src = src.replace(oldCode, "");
            src = src.replace("Devices_", "Devices_" + code);
            $('#imgDevicesDetails').attr("src", src);

            $('#devicesDetailsWindow').data('tWindow').center().open();
        }

        function SelectedPlan(btnPlanID, planID) {
            $('#PlanPropertyVM_SelectedPgmBdlPkgComp_PgmBdlPkgCompID').val(planID);
            $('button[id^="btnPlan_"]').css("border-style", "none");
            $('#'+btnPlanID).css("border-style", "solid");
        }

        function detailsPlans_OnClick(btnPlanDetails) {
            var code = btnPlanDetails.substring(14);
            var src = $('#imgPlanDetails').attr("src");
            var indexFrom = src.indexOf("MobileReg_") + 10;
            var indexTo = src.indexOf(".gif");
            var oldCode = src.substring(indexFrom, indexTo);

            src = src.replace(oldCode, "");
            src = src.replace("MobileReg_", "MobileReg_" + code);
            $('#imgPlanDetails').attr("src", src);
            
            $('#planDetailsWindow').data('tWindow').center().open();
        }

        function PlanWindow_popup() {
            $('#planDetailsWindow').data('t-window').center();
        }

        jQuery(function ($) {

            var total = @(bundleNames.Count());
            
            for(var i = 0; i< total; i++){

                var hdfName = '#pkgCount'+i;
                var hdfVal = parseInt($(hdfName).val());

                 if(hdfVal > 4){
                    hdfVal = 4;
                }

                $('#carousel_'+i).rcarousel({
                    orientation: "vertical", step: 3, speed:200, visible: hdfVal, width: 450, height: 55, 
                    navigation: { prev: "#next_"+i, next: "#prev_"+i }
                });
            }
            
            $(".ui-carousel-next")
			    .add(".ui-carousel-prev")
			    .hover(
				    function () {
					    $(this).css("opacity", 0.7);
				    },
				    function () {
					    $(this).css("opacity", 1.0);
				    }
			    );
        });
        //Code Added by VLT for showing menu maxis and Log Out ON Apr 04 2013
        $('#leftMenuBar').html('<div class="left-inner-menu" style="margin:60px 0px 0px 0px"><a style="margin:-60px 0px 0px 0px" href="../Home/Index" id="menuHome">Home</a><a href="../Account/LogOff" id="menuLogout" style="width:90px;height:32px;">Logout</a><div>');
        //End of Code Added by VLT ON Apr 04 2013
    </script>
}
