﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@model Online.Registration.Web.ViewModels.PlanPropertyVM
@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "Plan Builder";
    var isSearch = Model.IsSearch;
    var hasSearchPnl = Session["GuidedSales_Type"].ToInt() == MobileRegType.PlanOnly.ToInt();

    var pgmBdls = Model.AvailablePackages.Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList();
    var bundleNames = Model.AvailablePackages.Select(a => a.BundleName).Distinct().ToList();
    if (Session["GuidedSales_Type"].ToInt() != MobileRegType.DevicePlan.ToInt())
    { 
     pgmBdls = Model.AvailablePackages.Where(a => a.BundleName.Contains("iV").Equals(false)).Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList();
     bundleNames = Model.AvailablePackages.Where(a => a.BundleName.Contains("iV").Equals(false)).Select(a => a.BundleName).Distinct().ToList();
    }
    
    
    var totalPlans = Model.AvailablePackages.Count() > 4 ? 4 : Model.AvailablePackages.Count();
}

<div class="vwHeader">
    <table width="100%">
        <tr>
            <td>
                <div>@ViewBag.Title</div>
                <div class="vwSubHeader">Choose Your Plan</div>
            </td>
            <td align="right">
                @if (Session["GuidedSales_Type"].ToInt() == MobileRegType.DevicePlan.ToInt())
                { 
                    <button class="button-back cancel" id="btnBack" type="submit" value="Back" >
                    </button>
                }
                <button class="button-continue" id="btnNext" type="submit" value="Next" >
                </button>
            </td>
        </tr>
    </table>
</div>
<div class="viewInnerBody">
@using (Html.BeginForm("Plan", "GuidedSales", FormMethod.Post, new { id = "frmPlan2" }))
{     
    @Html.ValidationSummary(false)
    @Html.HiddenFor(model => model.SelectedPgmBdlPkgComp.PgmBdlPkgCompID)
}

@using (Html.BeginForm("Plan", "GuidedSales", FormMethod.Post, new { id = "frmPlan" }))
{
    @Html.ValidationSummary(false)
    @Html.Hidden("submit1")
    if (hasSearchPnl)
    { 
        @(Html.Telerik().PanelBar()
            .Name("pnlCriteria")
            .ExpandAll(false)
            .ExpandMode(Telerik.Web.Mvc.UI.PanelBarExpandMode.Multiple)
            .HtmlAttributes(new { @class = "" })
            .Items(parent =>
            {
                parent.Add()
                    .Expanded(true)
                    .Text("SEARCH FILTER")
                    .LinkHtmlAttributes(new { style = "height:30px;font-size:16px;font-weight:bold;" })
                    //.SpriteCssClasses("icon-account-info")
                    //.ContentHtmlAttributes(new { style = "z-index:1900;" })
                    .Content(
                        @<text>
                            <table width="720px">
                                <tr>
                                    @*<td>Voice Usage</td>*@
                                    <td>
                                        <div class="box"><b>Voice Usage</b></div>
                                        @(Html.Telerik().SliderFor(model => model.PlanOption.VoiceUsage)
                                                .Min(0)
                                                .Max(10).TickPlacement(SliderTickPlacement.Both)
                                                .Orientation(SliderOrientation.Horizontal)
                                                .ShowButtons(true).HtmlAttributes(new { style = "width:250px;margin-left:50px" }))
                                    </td>
                                    <td>
                                        <div class="box"><b>Data Usage</b></div>
                                        @(Html.Telerik().SliderFor(model => model.PlanOption.DataUsage)
                                                .Min(0)
                                                .Max(10).TickPlacement(SliderTickPlacement.Both)
                                                .Orientation(SliderOrientation.Horizontal)
                                                .ShowButtons(true).HtmlAttributes(new { style = "width:250px;margin-left:50px" }))
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="box"><b>SMS Usage</b></div>
                                        @(Html.Telerik().SliderFor(model => model.PlanOption.SMSUsage)
                                                .Min(0)
                                                .Max(10).TickPlacement(SliderTickPlacement.Both)
                                                .Orientation(SliderOrientation.Horizontal)
                                                .ShowButtons(true).HtmlAttributes(new { style = "width:250px;margin-left:50px" }))
                                    </td>
                                    <td>
                                        <div class="box"><b>Monthly Commitment</b></div>
                                        @(Html.Telerik().SliderFor(model => model.PlanOption.Price)
                                                .Min(0)
                                                .Max(10).TickPlacement(SliderTickPlacement.Both)
                                                .Orientation(SliderOrientation.Horizontal)
                                                .ShowButtons(true).HtmlAttributes(new { style = "width:250px;margin-left:50px" }))
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" align="center" style="padding-bottom:20px;padding-top:20px;">
                                        <button class="Srch_button cancel" style="width:620px;" type="submit" value="Search" onclick="$('#submit1').val('Search');"> Search
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </text>
                    );
            }))
    }
    
    <table width="500px" style="margin-left: 130px">
        <tr>
            <td style="padding-right:30px" align="center" valign="middle">
                @{ var i = 0; }
                <table>
                @foreach (var bundleName in bundleNames)
                {
                    var containerName = "container_" + i;
                    var carouselName = "carousel_" + i;
                    var carouselPkgCount = string.Format("pkgCount{0}", i);
                    <tr>
                        <td>
                            @Html.Hidden(carouselPkgCount, Model.AvailablePackages.Where(a => a.BundleName == bundleName).ToList().Count())
                            <label style=" font-size:large;font-weight:bold;">@(pgmBdls.Where(a => a.bundleName == bundleName).SingleOrDefault().programName.ToUpper()): </label>
                            <label style=" font-size:larger;font-weight:bold;">@(bundleName)</label>
                            <br /><br />
                            <a href="#" id='@("next_" + i)' class="ui-carousel-next"><span></span></a>
                            <div id="@(containerName)" class="container">
				                <div id="@(carouselName)" class="carousel">
                                    @{
                                        foreach (var package in Model.AvailablePackages.Where(a => a.BundleName == bundleName).ToList())
                                        {
                                            var btnPlanID = "btnPlan_" + package.PgmBdlPkgCompID;
                                            var btnPlanDetails = "btnPlnDetails_" + package.PackageCode;
                                            <div>
                                                <div style="float:left">
                                                    <button id="@btnPlanID" class="cancel btnPlanSelection" style="width:420px;height:55px; padding:0" type="button" onclick="SelectedPlan(@btnPlanID,@package.PgmBdlPkgCompID);" >
                                                        @package.PackageName
                                                    </button>
                                                </div>
                                                <div style="float:right">
                                                    <button id="@btnPlanDetails" style="width:30px;height:55px;" type="button" onclick="detailsPlans_OnClick('@btnPlanDetails')"
                                                        class="button-plan-details">
                                                    </button>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
				            <a href="#" id='@("prev_" + i)' class="ui-carousel-prev"><span></span></a>
                            <br /><br />
                        </td>
                    </tr>
                    i++;
                }
                </table>
            </td>
        </tr>
    </table>
}
</div>

@{
    Html.Telerik().Window()
        .Name("planDetailsWindow")
        .Title("Plan Details")
        .Width(700)
        .Height(600)
        .ClientEvents(events => events.OnActivate("PlanWindow_popup"))
        .Content(@<text>
                    <table width="100%">
                        <tr>
                            <td><img alt="" id="imgPlanDetails" src="@Url.Content("~/Content/images/Plan/MobileReg_.gif")" /></td>
                            @*<td><img alt="" id="imgPlanDetails" src="../../Content/images/Plan/MobileReg_.gif" /></td>*@
                        </tr>
                    </table>
                    
                </text>)
        .Modal(true)
        .Visible(false)
        .Render();
}

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            
            var planID = $('#SelectedPgmBdlPkgComp_PgmBdlPkgCompID').val();
            if (planID != 0) {
                $('#btnPlan_' + planID).css("border-style", "solid");
            }

            if ('@(hasSearchPnl)' == 'True') {
                if ('@(isSearch)' == 'True') {
                    var panelBar = $("#pnlCriteria").data("tPanelBar");
                    var item = $("> li", panelBar.element)[0];
                    panelBar.collapse(item);
                }
            }

            $("#btnNext").click(function () {
                $('#submit1').val('Next');
                $("#frmPlan2").submit();
            });

            $("#btnBack").click(function () {
                $("#frmPlan").submit();
            });

            $('#menuGuidedSales').css("background-image", $('#menuGuidedSales').css("background-image").replace(".png", "_hover.png"));

        });

        function PlanWindow_popup() {
            $('#planDetailsWindow').data('t-window').center();
        }

        function SelectedPlan(btnPlanID, planID) {
            $('#SelectedPgmBdlPkgComp_PgmBdlPkgCompID').val(planID);
            $('button[id^="btnPlan_"]').css("border-style", "none");
            $(btnPlanID).css("border-style", "solid");
        }

        function detailsPlans_OnClick(btnPlanDetails) {
            var code = btnPlanDetails.substring(14);
            var src = $('#imgPlanDetails').attr("src");
            var indexFrom = src.indexOf("MobileReg_") + 10;
            var indexTo = src.indexOf(".gif");
            var oldCode = src.substring(indexFrom, indexTo);

            src = src.replace(oldCode, "");
            src = src.replace("MobileReg_", "MobileReg_" + code);
            $('#imgPlanDetails').attr("src", src);
            
            $('#planDetailsWindow').data('tWindow').center().open();
        }

        jQuery(function ($) {

            var planCount = @(totalPlans);
            var total = @(bundleNames.Count());
            
            for(var i = 0; i< total; i++){

                var hdfName = '#pkgCount'+i;
                var hdfVal = $(hdfName).val();
                var visibleVal = 4;

                if(hdfVal<4)
                {
                    visibleVal = hdfVal;
                }
                

                $('#carousel_'+i).rcarousel({
                    orientation: "vertical", step: 3, speed:200, visible: visibleVal, width: 450, height: 55, 
                    navigation: { prev: "#next_"+i, next: "#prev_"+i }
                });
            }
            
            $(".ui-carousel-next")
			    .add(".ui-carousel-prev")
			    .hover(
				    function () {
					    $(this).css("opacity", 0.7);
				    },
				    function () {
					    $(this).css("opacity", 1.0);
				    }
			    );
        });
    </script>
}