﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@model Online.Registration.Web.ViewModels.GuidedSalesVM
@{
    ViewBag.Title = "Guided Sales";

    var isSearch = Model.IsSearch;

    var pgmBdls = Model.PlanPropertyVM.AvailablePackages.Where(a => a.BundleName.Contains("iV").Equals(false)).Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList();
    var bundleNames = Model.PlanPropertyVM.AvailablePackages.Where(a => a.BundleName.Contains("iV").Equals(false)).Select(a => a.BundleName).Distinct().ToList();
}
<div class="vwHeader">
    <table width="100%">
        <tr>
            <td>
                <div>@ViewBag.Title</div>
            </td>
            <td align="right">
                <button class="button-back cancel" id="btnBack" type="submit" value="Back">
                </button>
            </td>
        </tr>
    </table>
</div>
<div class="viewInnerBody">
    @using (Html.BeginForm("Plan", "GuidedSales", FormMethod.Post, new { id = "frmPlan2" }))
    {     
        @Html.ValidationSummary(false)
        @Html.HiddenFor(model => model.PlanPropertyVM.SelectedPgmBdlPkgComp.PgmBdlPkgCompID)
    }
    
    @using (Html.BeginForm("PlanSearch", "GuidedSales", FormMethod.Post, new { id = "frmGuidedSales" }))
    {
        @Html.ValidationSummary(false)
        @Html.HiddenFor(model => model.SelectedCriterias)
        @Html.Hidden("submit1")

        @(Html.Telerik().PanelBar()
            .Name("pnlCriteria")
            .ExpandAll(false)
            .ExpandMode(Telerik.Web.Mvc.UI.PanelBarExpandMode.Single)
            .HtmlAttributes(new { @class = "" })
            .Items(parent =>
            {
                parent.Add()
                    .Expanded(true)
                    .Text("PLAN SEARCH FILTER")
                    .LinkHtmlAttributes(new { style = "height:30px;font-size:16px;font-weight:bold;" })
                    .Content(
                        @<text>
                            <table width="720px">
            <tr>
                <td>
                    <div class="box">
                        <b>Voice Usage (Minutes)</b></div>
                    @(Html.Telerik().SliderFor(model => model.PlanPropertyVM.PlanOption.VoiceUsage)
                                                .Min(int.Parse(ViewBag.VoiceUsageMin))
                                                .Max(int.Parse(ViewBag.VoiceUsageMax)).TickPlacement(SliderTickPlacement.Both)
                                                .Orientation(SliderOrientation.Horizontal)
                                                .ShowButtons(true).HtmlAttributes(new { style = "width:250px;margin-left:50px" }))
                </td>
                <td>
                    <div class="box">
                        <b>Data Usage (MB)</b></div>
                    @(Html.Telerik().SliderFor(model => model.PlanPropertyVM.PlanOption.DataUsage)
                                                .Min(int.Parse(ViewBag.DataUsageMin))
                                                .Max(int.Parse(ViewBag.DataUsageMax)).TickPlacement(SliderTickPlacement.Both)
                                                .Orientation(SliderOrientation.Horizontal)
                                                .ShowButtons(true).HtmlAttributes(new { style = "width:250px;margin-left:50px" }))
                </td>
            </tr>
            <tr>
                <td>
                    <div class="box">
                        <b>SMS Usage (Count) </b>
                    </div>
                    @(Html.Telerik().SliderFor(model => model.PlanPropertyVM.PlanOption.SMSUsage)
                                                .Min(int.Parse(ViewBag.smsUsageMin))
                                                .Max(int.Parse(ViewBag.smsUsageMax)).TickPlacement(SliderTickPlacement.Both)
                                                .Orientation(SliderOrientation.Horizontal)
                                                .ShowButtons(true).HtmlAttributes(new { style = "width:250px;margin-left:50px" }))
                </td>
                <td>
                    <div class="box">
                        <b>Monthly Commitment (RM)</b></div>
                    @(Html.Telerik().SliderFor(model => model.PlanPropertyVM.PlanOption.Price)
                                                .Min(int.Parse(ViewBag.PriceMin))
                                                .Max(int.Parse(ViewBag.PriceMax)).TickPlacement(SliderTickPlacement.Both)
                                                .Orientation(SliderOrientation.Horizontal)
                                                .ShowButtons(true).HtmlAttributes(new { style = "width:250px;margin-left:50px" }))
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center" style="padding-bottom: 20px; padding-top: 20px;">
                    <button class="Srch_button cancel" style="width: 620px;" type="submit" value="Search"
                        onclick="$('#submit1').val('PlanSearch');">
                        Search
                    </button>
                </td>
            </tr>
        </table>
                        </text>
                    );
            }))
    }
    
    @section Scripts{
        <script type="text/javascript">
        $(document).ready(function () {

            $(".CheckBoxClass").change(function () {

                if ($(this).attr('id') == 'chkYesCamera' || $(this).attr('id') == 'chkNoCamera') {
                    $('#chkNoCamera').next("label").removeClass("LabelSelected");
                    $('#chkYesCamera').next("label").removeClass("LabelSelected");
                }
                //alert($('#chkYesCamera').is(":checked") + '|' + $('#chkNoCamera').is(":checked") + '|' + $('#HasCamera').val());

                if ($(this).attr('id') == 'chkYesCamera') {
                    if ($('#chkYesCamera').is(":checked")) { // hasCamera has checked
                        $('#DevicePropertyVM_HasCamera').val('1');
                        $('#chkYesCamera').next("label").addClass("LabelSelected");
                        $('#chkNoCamera').prop('checked', false);
                    }
                    else {
                        $('#HasCamera').val('');
                    }
                }
                else if ($(this).attr('id') == 'chkNoCamera') {
                    if ($('#chkNoCamera').is(":checked")) { // hasCamera has checked
                        $('#DevicePropertyVM_HasCamera').val('0');
                        $('#chkNoCamera').next("label").addClass("LabelSelected");
                        $('#chkYesCamera').prop('checked', false);
                    }
                    else {
                        $('#DevicePropertyVM_HasCamera').val('');
                    }
                }
                else {
                    if ($(this).is(":checked")) {
                        $(this).next("label").addClass("LabelSelected");
                        $('#SelectedCriterias').val($('#SelectedCriterias').val() + $(this).val() + ',');
                    } else {
                        $('#SelectedCriterias').val($('#SelectedCriterias').val().replace($(this).val() + ',', ''));
                        $(this).next("label").removeClass("LabelSelected");
                    }
                }

            });

            if ('@(isSearch)' == 'True') {
                var panelBar = $("#pnlCriteria").data("tPanelBar");

                var item1 = $("> li", panelBar.element)[0];
                panelBar.collapse(item1);

                var item2 = $("> li", panelBar.element)[1];
                panelBar.collapse(item2);
            }
            //code added by VLT
              $("#btnBack").click(function () {           
               $('#submit1').val('Back');
              var url=window.location.href;           
              var finalURL=url.substring(0, url.length - 11);             
               window.location.href=finalURL;            
              });

              //VLT code ends here
            $("#btnNext").click(function () {
                $('#submit1').val('Next');
                if ($('#PlanPropertyVM_SelectedPgmBdlPkgComp_PgmBdlPkgCompID').val() != '') {
                
                    $("#frmPlan2").submit();
                }
                else if ($('#DevicePropertyVM.SelectedModel.ImageID').val() != '') {
                    $("#frmDevice2").submit();
                }
            });

            //Highlight selected Plan
            var planID = $('#PlanPropertyVM_SelectedPgmBdlPkgComp_PgmBdlPkgCompID').val();
            if (planID != 0) {
                $('#btnPlan_' + planID).css("border-style", "solid");
            }

            //Highlight selected model
            var modelImageID = $('#DevicePropertyVM_SelectedModel_ImageID').val();
            if (modelImageID != 0) {
                $('#btnModelImageID_' + modelImageID).css("border-style", "solid");
            }
            else {
                $('#DevicePropertyVM_SelectedModel_ImageID').val('');
            }

            $('#menuGuidedSales').css("background-image", $('#menuGuidedSales').css("background-image").replace(".png", "_hover.png"));
        });

        function SelectedModelImage(btnModelImageID, modelImageID) {
            $('#DevicePropertyVM_SelectedModel_ImageID').val(modelImageID);
            $('button[id^="btnModelImageID_"]').css("border-style", "none");
            $(btnModelImageID).css("border-style", "solid");
        }

        function detailsDevices_OnClick(btnModelDetails) {
            var code = btnModelDetails.substring(16);
            var src = $('#imgDevicesDetails').attr("src");
            var indexFrom = src.indexOf("Devices_") + 8;
            var indexTo = src.indexOf(".jpg");
            var oldCode = src.substring(indexFrom, indexTo);

            src = src.replace(oldCode, "");
            src = src.replace("Devices_", "Devices_" + code);
            $('#imgDevicesDetails').attr("src", src);

            $('#devicesDetailsWindow').data('tWindow').center().open();
        }

        function SelectedPlan(btnPlanID, planID) {
            $('#PlanPropertyVM_SelectedPgmBdlPkgComp_PgmBdlPkgCompID').val(planID);
            $('button[id^="btnPlan_"]').css("border-style", "none");
            $(btnPlanID).css("border-style", "solid");
        }

        function detailsPlans_OnClick(btnPlanDetails) {
            var code = btnPlanDetails.substring(14);
            var src = $('#imgPlanDetails').attr("src");
            var indexFrom = src.indexOf("MobileReg_") + 10;
            var indexTo = src.indexOf(".gif");
            var oldCode = src.substring(indexFrom, indexTo);

            src = src.replace(oldCode, "");
            src = src.replace("MobileReg_", "MobileReg_" + code);
            $('#imgPlanDetails').attr("src", src);
            
            $('#planDetailsWindow').data('tWindow').center().open();
        }

        jQuery(function ($) {

            var total = @(bundleNames.Count());
            
            for(var i = 0; i< total; i++){

                var hdfName = '#pkgCount'+i;
                var hdfVal = parseInt($(hdfName).val());

                 if(hdfVal > 4){
                    hdfVal = 4;
                }

                $('#carousel_'+i).rcarousel({
                    orientation: "vertical", step: 3, speed:200, visible: hdfVal, width: 450, height: 55, 
                    navigation: { prev: "#next_"+i, next: "#prev_"+i }
                });
            }
            
            $(".ui-carousel-next")
			    .add(".ui-carousel-prev")
			    .hover(
				    function () {
					    $(this).css("opacity", 0.7);
				    },
				    function () {
					    $(this).css("opacity", 1.0);
				    }
			    );
        });
        </script>
    }