﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@model Online.Registration.Web.ViewModels.GuidedSalesVM
@{
    ViewBag.Title = "Guided Sales";

    var isSearch = Model.IsSearch;
    
    //var pgmBdls = Model.PlanPropertyVM.AvailablePackages.Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList();
    //var bundleNames = Model.PlanPropertyVM.AvailablePackages.Select(a => a.BundleName).Distinct().ToList();

    var pgmBdls = Model.PlanPropertyVM.AvailablePackages.Where(a => a.BundleName.Contains("iV").Equals(false)).Select(a => new { programName = a.ProgramName, bundleName = a.BundleName }).Distinct().ToList();
    var bundleNames = Model.PlanPropertyVM.AvailablePackages.Where(a => a.BundleName.Contains("iV").Equals(false)).Select(a => a.BundleName).Distinct().ToList();
}

<div class="vwHeader">
    <table width="100%">
        <tr>
            <td>
                <div>@ViewBag.Title</div>
            </td>
            <td align="right">
             <button class="button-back cancel" id="btnBack" type="submit" value="Back" >
                    </button>
               @* <button class="button-continue" id="btnNext" type="submit" value="Next" >
                </button>*@
            </td>
        </tr>
    </table>
</div>
<div class="viewInnerBody">
    @*<div class="button-menuType">
        @using (Html.BeginForm("Index", "GuidedSales", FormMethod.Post, new { id = "frmGuidedSales" }))
        { 
            @Html.Hidden("submit1")
            <table>
                <tr>
                    <td>
                        <button class="menuGuidedPlanSales button-menuType" type="submit" value="" onclick="$('#submit1').val('plan');">
                        </button>
                    </td>
                    <td>
                        <button class="menuGuidedDeviceSales button-menuType" type="submit" value="" onclick="$('#submit1').val('device');">
                        </button>
                    </td>
                </tr>
            </table>
        }
    </div>*@
    @using (Html.BeginForm("Plan", "GuidedSales", FormMethod.Post, new { id = "frmPlan2" }))
    {     
        @Html.ValidationSummary(false)
        @Html.HiddenFor(model => model.PlanPropertyVM.SelectedPgmBdlPkgComp.PgmBdlPkgCompID)
    }
    @using (Html.BeginForm("Device", "GuidedSales", FormMethod.Post, new { id = "frmDevice2" }))
    {     
        @Html.ValidationSummary(false)
        @Html.HiddenFor(model => model.DevicePropertyVM.SelectedModel.ImageID)
    }

    @using (Html.BeginForm("DeviceSearch", "GuidedSales", FormMethod.Post, new { id = "frmGuidedSales" }))
    {
        @Html.ValidationSummary(false)
        @Html.HiddenFor(model => model.SelectedCriterias)
        @Html.Hidden("submit1")

        @(Html.Telerik().PanelBar()
            .Name("pnlCriteria")
            .ExpandAll(false)
            .ExpandMode(Telerik.Web.Mvc.UI.PanelBarExpandMode.Single)
            .HtmlAttributes(new { @class = "" })
            .Items(parent =>
            {
                parent.Add()
                    .Expanded(true)
                    .Text("PLAN AND DEVICE SEARCH FILTER")
                    .LinkHtmlAttributes(new { style = "height:30px;font-size:16px;font-weight:bold;" })
                    //.SpriteCssClasses("icon-account-info")
                    //.ContentHtmlAttributes(new { style = "z-index:1900;" })
                    .Content(
                        @<text>
                            <table width="720px">
                                <tr>
                                    @*<td>Voice Usage</td>*@
                                    <td>
                                        <div class="box"><b>Voice Usage (Minutes)</b></div>
                                        @(Html.Telerik().SliderFor(model => model.PlanPropertyVM.PlanOption.VoiceUsage)
                                                .Min(0)
                                                .Max(10).TickPlacement(SliderTickPlacement.Both)
                                                .Orientation(SliderOrientation.Horizontal)
                                                .ShowButtons(true).HtmlAttributes(new { style = "width:190px;margin-left:50px" }))
                                    </td>
                                    <td>
                                        <div class="box"><b>Data Usage (MB)</b></div>
                                        @(Html.Telerik().SliderFor(model => model.PlanPropertyVM.PlanOption.DataUsage)
                                                .Min(0)
                                                .Max(10).TickPlacement(SliderTickPlacement.Both)
                                                .Orientation(SliderOrientation.Horizontal)
                                                                .ShowButtons(true).HtmlAttributes(new { style = "width:190px;margin-left:50px" }))
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="box"><b>SMS Usage (Count)</b></div>
                                        @(Html.Telerik().SliderFor(model => model.PlanPropertyVM.PlanOption.SMSUsage)
                                                .Min(0)
                                                .Max(10).TickPlacement(SliderTickPlacement.Both)
                                                .Orientation(SliderOrientation.Horizontal)
                                                                .ShowButtons(true).HtmlAttributes(new { style = "width:190px;margin-left:50px" }))
                                    </td>
                                    <td>
                                        <div class="box"><b>Monthly Commitment (RM)</b></div>
                                        @(Html.Telerik().SliderFor(model => model.PlanPropertyVM.PlanOption.Price)
                                                .Min(0)
                                                .Max(10).TickPlacement(SliderTickPlacement.Both)
                                                .Orientation(SliderOrientation.Horizontal)
                                                                .ShowButtons(true).HtmlAttributes(new { style = "width:190px;margin-left:50px" }))
                                    </td>
                                </tr>
                               @* <tr>
                                    <td colspan="4" align="center" style="padding-bottom:20px;padding-top:20px;">
                                        <button class="Srch_button cancel" style="width:620px;" type="submit" value="Search" onclick="$('#submit1').val('PlanSearch');"> Search
                                        </button>
                                    </td>
                                </tr>*@
                           @* </table>
                        </text>
                    );*@

             @*   parent.Add()
                    .Expanded(false)
                    .Text("DEVICE SEARCH FILTER")
                    .LinkHtmlAttributes(new { style = "height:30px;font-size:16px;font-weight:bold;" })
                    //.SpriteCssClasses("icon-account-info")
                    //.ContentHtmlAttributes(new { @class = "panel-content" })
                    .Content(
                        @<text>
                            <table width="720px">*@
                                <tr>
                                    <td>
                                        @foreach (var deviceOption in Model.DevicePropertyVM.DeviceOptions)
                                        { 
                                            <div class="box"><b>@deviceOption.PropertyName</b></div>
                                            <div class="boxContent">
                                            @foreach (var criteria in deviceOption.Criterias)
                                            {
                                                var chkID = string.Format("chk_{0}_{1}", deviceOption.PropertyID, criteria.Key);
                                                var lblID = string.Format("lbl_{0}_{1}", deviceOption.PropertyID, criteria.Key);
                                
                                                <input type="checkbox" id="@chkID" value="@chkID" style="margin-left:50px;" class="CheckBoxClass" />
                                                <label id="@lblID" for="@chkID" class="CheckBoxLabelClass"></label>
                                                @Html.Raw(criteria.Value)
                                            }
                                            </div>
                                        }
                                        <div class="box"><b>Camera</b></div>
                                        <div class="boxContent">
                                            @Html.HiddenFor(model => model.DevicePropertyVM.HasCamera)
                                            <input type="checkbox" id="chkYesCamera" value="@Model.DevicePropertyVM.HasCamera" style="margin-left:50px;" class="CheckBoxClass" />
                                            <label id="lblYesCamera" for="chkYesCamera" class="CheckBoxLabelClass"></label> Yes
                                            <input type="checkbox" id="chkNoCamera" value="@Model.DevicePropertyVM.HasCamera" style="margin-left:50px;" class="CheckBoxClass" />
                                            <label id="lblNoCamera" for="chkNoCamera" class="CheckBoxLabelClass"></label> No
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding-bottom:20px">
                                        <button class="Srch_button cancel" style="width:620px;" type="submit" value="Search" onclick="$('#submit1').val('DeviceSearch');"> Search
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </text>
                    );
            }))
    }

    @if (Model.PlanPropertyVM.AvailablePackages.Count() > 0)
    { 
        <table width="500px" style="margin-left: 130px">
            <tr>
                <td style="padding-right:30px" align="center" valign="middle">
                    @{ var i = 0; }
                    <table>
                    @foreach (var bundleName in bundleNames)
                    {
                        var containerName = "container_" + i;
                        var carouselName = "carousel_" + i;
                        var carouselPkgCount = string.Format("pkgCount{0}", i);
                        <tr>
                            <td>
                                @Html.Hidden(carouselPkgCount, Model.PlanPropertyVM.AvailablePackages.Where(a => a.BundleName == bundleName).ToList().Count())
                                <label style=" font-size:large;font-weight:bold;">@(pgmBdls.Where(a => a.bundleName == bundleName).SingleOrDefault().programName.ToUpper()): </label>
                                <label style=" font-size:larger;font-weight:bold;">@(bundleName)</label>
                                <br /><br />
                                <a href="#" id='@("next_" + i)' class="ui-carousel-next"><span></span></a>
                                <div id="@(containerName)" class="container">
				                    <div id="@(carouselName)" class="carousel">
                                        @{
                                            foreach (var package in Model.PlanPropertyVM.AvailablePackages.Where(a => a.BundleName == bundleName).ToList())
                                            {
                                                var btnPlanID = "btnPlan_" + package.PgmBdlPkgCompID;
                                                var btnPlanDetails = "btnPlnDetails_" + package.PackageCode;
                                                <div>
                                                    <div style="float:left">
                                                        <button id="@btnPlanID" class="cancel btnPlanSelection" style="width:420px;height:55px; padding:0" type="button" onclick="SelectedPlan(@btnPlanID,@package.PgmBdlPkgCompID);" >
                                                            @package.PackageName
                                                        </button>
                                                    </div>
                                                    <div style="float:right">
                                                        <button id="@btnPlanDetails" style="width:30px;height:55px;" type="button" onclick="detailsPlans_OnClick('@btnPlanDetails')"
                                                            class="button-plan-details">
                                                        </button>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
				                <a href="#" id='@("prev_" + i)' class="ui-carousel-prev"><span></span></a>
                                <br /><br />
                            </td>
                        </tr>
                        i++;
                    }
                    </table>
                </td>
            </tr>
        </table>
    }
    else if (Model.DevicePropertyVM.AvailableModelImage.Count() > 0)
    {
        #region Model Images
        <br />
        int count = 1;
        foreach (var modelImage in Model.DevicePropertyVM.AvailableModelImage)
        {
            var btnModelImageID = "btnModelImageID_" + modelImage.ModelImage.ID;
            var btnModelDetails = "btnModelDetails_" + modelImage.ModelCode;
                <div style="float:left;padding-bottom:30px">
			        <div style="height:170px;width:145px;float:left;padding-bottom:3px;">
				        <button class="cancel btnSelection" style="background-size:170px 175px; margin:0px;" type="button" id="@btnModelImageID" onclick="SelectedModelImage(@btnModelImageID,@modelImage.ModelImage.ID);" >
					        <table>
						        <tr>
							        <td style="font-weight:bold;" align="center" valign="top">@*style="border:1px solid #eaebed;"*@
                                        <div style="float:left">
								            <img alt="Image Not Available" src="@Url.Content(modelImage.ModelImage.ImagePath)" width="120px" height="120px" /><br />
								            @Html.Raw(Util.GetNameByID(RefType.Model, modelImage.ModelImage.ModelID))<br />
								            @Html.Raw(modelImage.ModelImage.ColourID.HasValue ? Util.GetNameByID(RefType.Colour, modelImage.ModelImage.ColourID.Value) : "")<br />
                                        </div>
                                        @if (modelImage.ModelCode == "IP516GB")
                                        {
                                            <div style="position:absolute;padding: 0px 0px 0px 50px"><img src='@Url.Content("~/Content/images/devices/soldout.png")' width="77px" height="39px" /></div>
                                        }
                                        else if (modelImage.ModelCode == "IP532GB")
                                        {
                                            <div style="position:absolute;padding: 0px 0px 0px 50px"><img src='@Url.Content("~/Content/images/devices/limited.png")' width="77px" height="39px" /></div>
                                        }
                                        else if (modelImage.ModelCode == "IP564GB")
                                        {
                                            <div style="position:absolute;padding: 0px 0px 0px 50px"><img src='@Url.Content("~/Content/images/devices/New.png")' width="77px" height="55px" /></div>
                                        }
							        </td>
						        </tr>
					        </table>
				        </button>
			        </div>
			        <div style="width:170px">
				        <button id="@btnModelDetails" style="width:145px;height:40px;" type="button" onclick="detailsDevices_OnClick('@btnModelDetails')"
					        class="button-device-details"> <b>View Details</b>
				        </button>
			        </div>
                </div>
                                        if (count == 4)
                                        {
                                            count = 1;
			        <div style="float:left;height:100px;clear:both;"></div>
			        <br /><br />
                    @*<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />*@
                                        }
                                        else
                                        {
                                            count++;
                                        }
        }

        #endregion
    }
</div>

@{
    Html.Telerik().Window()
        .Name("planDetailsWindow")
        .Title("Plan Details")
        .Width(700)
        .Height(600)
        .ClientEvents(events => events.OnActivate("PlanWindow_popup"))
        .Content(@<text>
                    <table width="100%">
                        <tr>
                            <td><img alt="" id="imgPlanDetails" src="@Url.Content("~/Content/images/Plan/MobileReg_.gif")" /></td>
                            @*<td><img alt="" id="imgPlanDetails" src="../../Content/images/Plan/MobileReg_.gif" /></td>*@
                        </tr>
                    </table>
                    
                </text>)
        .Modal(true)
        .Visible(false)
        .Render();

    Html.Telerik().Window()
        .Name("devicesDetailsWindow")
        .Title("Devices Details")
        .Width(750)
        .Height(700)
        .Content(@<text>
                    <table width="100%">
                        <tr>
                            <td><img alt="" id="imgDevicesDetails" src="@Url.Content("~/Content/images/devices/Devices_.jpg")" /></td>
                        </tr>
                    </table>
                </text>)
        .Modal(true)
        .Visible(false)
        .Render();
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $(".CheckBoxClass").change(function () {

                if ($(this).attr('id') == 'chkYesCamera' || $(this).attr('id') == 'chkNoCamera') {
                    $('#chkNoCamera').next("label").removeClass("LabelSelected");
                    $('#chkYesCamera').next("label").removeClass("LabelSelected");
                }
                //alert($('#chkYesCamera').is(":checked") + '|' + $('#chkNoCamera').is(":checked") + '|' + $('#HasCamera').val());

                if ($(this).attr('id') == 'chkYesCamera') {
                    if ($('#chkYesCamera').is(":checked")) { // hasCamera has checked
                        $('#DevicePropertyVM_HasCamera').val('1');
                        $('#chkYesCamera').next("label").addClass("LabelSelected");
                        $('#chkNoCamera').prop('checked', false);
                    }
                    else {
                        $('#HasCamera').val('');
                    }
                }
                else if ($(this).attr('id') == 'chkNoCamera') {
                    if ($('#chkNoCamera').is(":checked")) { // hasCamera has checked
                        $('#DevicePropertyVM_HasCamera').val('0');
                        $('#chkNoCamera').next("label").addClass("LabelSelected");
                        $('#chkYesCamera').prop('checked', false);
                    }
                    else {
                        $('#DevicePropertyVM_HasCamera').val('');
                    }
                }
                else {
                    if ($(this).is(":checked")) {
                        $(this).next("label").addClass("LabelSelected");
                        $('#SelectedCriterias').val($('#SelectedCriterias').val() + $(this).val() + ',');
                    } else {
                        $('#SelectedCriterias').val($('#SelectedCriterias').val().replace($(this).val() + ',', ''));
                        $(this).next("label").removeClass("LabelSelected");
                    }
                }
                //alert($('#chkYesCamera').is(":checked") + '|' + $('#chkNoCamera').is(":checked") + '|' + $('#HasCamera').val());

            });

            if ('@(isSearch)' == 'True') {
                var panelBar = $("#pnlCriteria").data("tPanelBar");

                var item1 = $("> li", panelBar.element)[0];
                panelBar.collapse(item1);

                var item2 = $("> li", panelBar.element)[1];
                panelBar.collapse(item2);
            }
            //code added by VLT
              $("#btnBack").click(function () {           
               $('#submit1').val('Back');
              var url=window.location.href;           
              var finalURL=url.substring(0, url.length - 14);             
               window.location.href=finalURL;            
              });

              //VLT code ends here
            $("#btnNext").click(function () {
                $('#submit1').val('Next');

                if ($('#PlanPropertyVM_SelectedPgmBdlPkgComp_PgmBdlPkgCompID').val() != '') {
                    $("#frmPlan2").submit();
                }
                else if ($('#DevicePropertyVM.SelectedModel.ImageID').val() != '') {
                    $("#frmDevice2").submit();
                }
            });

            //Highlight selected Plan
            var planID = $('#PlanPropertyVM_SelectedPgmBdlPkgComp_PgmBdlPkgCompID').val();
            if (planID != 0) {
                $('#btnPlan_' + planID).css("border-style", "solid");
            }

            //Highlight selected model
            var modelImageID = $('#DevicePropertyVM_SelectedModel_ImageID').val();
            if (modelImageID != 0) {
                $('#btnModelImageID_' + modelImageID).css("border-style", "solid");
            }
            else {
                $('#DevicePropertyVM_SelectedModel_ImageID').val('');
            }

            $('#menuGuidedSales').css("background-image", $('#menuGuidedSales').css("background-image").replace(".png", "_hover.png"));
        });

        function PlanWindow_popup() {
            $('#planDetailsWindow').data('t-window').center();
        }

        function SelectedModelImage(btnModelImageID, modelImageID) {
            $('#DevicePropertyVM_SelectedModel_ImageID').val(modelImageID);
            $('button[id^="btnModelImageID_"]').css("border-style", "none");
            $(btnModelImageID).css("border-style", "solid");
        }

        function detailsDevices_OnClick(btnModelDetails) {
            var code = btnModelDetails.substring(16);
            var src = $('#imgDevicesDetails').attr("src");
            var indexFrom = src.indexOf("Devices_") + 8;
            var indexTo = src.indexOf(".jpg");
            var oldCode = src.substring(indexFrom, indexTo);

            src = src.replace(oldCode, "");
            src = src.replace("Devices_", "Devices_" + code);
            $('#imgDevicesDetails').attr("src", src);

            $('#devicesDetailsWindow').data('tWindow').center().open();
        }

        function SelectedPlan(btnPlanID, planID) {
            $('#PlanPropertyVM_SelectedPgmBdlPkgComp_PgmBdlPkgCompID').val(planID);
            $('button[id^="btnPlan_"]').css("border-style", "none");
            $(btnPlanID).css("border-style", "solid");
        }

        function detailsPlans_OnClick(btnPlanDetails) {
            var code = btnPlanDetails.substring(14);
            var src = $('#imgPlanDetails').attr("src");
            var indexFrom = src.indexOf("MobileReg_") + 10;
            var indexTo = src.indexOf(".gif");
            var oldCode = src.substring(indexFrom, indexTo);

            src = src.replace(oldCode, "");
            src = src.replace("MobileReg_", "MobileReg_" + code);
            $('#imgPlanDetails').attr("src", src);
            
            $('#planDetailsWindow').data('tWindow').center().open();
        }

        jQuery(function ($) {

            var total = @(bundleNames.Count());
            
            for(var i = 0; i< total; i++){

                var hdfName = '#pkgCount'+i;
                var hdfVal = parseInt($(hdfName).val());

                 if(hdfVal > 4){
                    hdfVal = 4;
                }

                $('#carousel_'+i).rcarousel({
                    orientation: "vertical", step: 3, speed:200, visible: hdfVal, width: 450, height: 55, 
                    navigation: { prev: "#next_"+i, next: "#prev_"+i }
                });
            }
            
            $(".ui-carousel-next")
			    .add(".ui-carousel-prev")
			    .hover(
				    function () {
					    $(this).css("opacity", 0.7);
				    },
				    function () {
					    $(this).css("opacity", 1.0);
				    }
			    );
        });
    </script>
}