﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Admin.Models

@model ModelGroupModelViewModel

@{
    ViewBag.Title = "Add Model Group Model";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Add:</legend>
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ModelGroupModel.ModelID)
                </td>
                <td>
                    @if (Model.ModelID == 0)
                    {
                        @(Html.Telerik().DropDownListFor(model => model.ModelGroupModel.ModelID).BindTo(Util.GetList(RefType.Model,defaultValue:"")))
                        @Html.ValidationMessageFor(model => model.ModelGroupModel.ModelID)
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.ModelID, new { @disabled = true, @Value = Util.GetNameByID(RefType.Model, Model.ModelID), @style = "width:250px" }) 
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ModelGroupModel.ModelGroupID)
                </td>
                <td>
                    @if (Model.ModelGroupID == 0)
                    {
                        @(Html.Telerik().DropDownListFor(model => model.ModelGroupModel.ModelGroupID).BindTo(Util.GetList(RefType.ModelGroup, defaultValue: "")))
                        @Html.ValidationMessageFor(model => model.ModelGroupModel.ModelGroupID)
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.ModelGroupID, new { @disabled = true, @Value = Util.GetNameByID(RefType.ModelGroup, Model.ModelGroupID), @style = "width:250px" }) 
                    }
                </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.ModelGroupModel.Code)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ModelGroupModel.Code, new { style = "width:100px" }) 
                        @Html.ValidationMessageFor(model => model.ModelGroupModel.Code)
                </td>
            </tr> 
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.ModelGroupModel.Name)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ModelGroupModel.Name, new { style = "width:250px" }) 
                    @Html.ValidationMessageFor(model => model.ModelGroupModel.Name)
                </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.ModelGroupModel.StartDate)
                </td>
                <td>
                    @Html.Telerik().DatePickerFor(model => model.ModelGroupModel.StartDate).Format(Util.GetDateFormatString()).InputHtmlAttributes(new { @readonly = true, @style="width:100px" })
                    @Html.ValidationMessageFor(model => model.ModelGroupModel.StartDate)
                </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.ModelGroupModel.EndDate)
                </td>
                <td>
                    @Html.Telerik().DatePickerFor(model => model.ModelGroupModel.EndDate).Format(Util.GetDateFormatString()).InputHtmlAttributes(new { @readonly = true, @style = "width:100px" })
                    @Html.ValidationMessageFor(model => model.ModelGroupModel.EndDate)
                </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.ModelGroupModel.RetailPrice)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ModelGroupModel.RetailPrice, new { style = "width:250px" }) 
                    @Html.ValidationMessageFor(model => model.ModelGroupModel.RetailPrice)
                </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.ModelGroupModel.DealerPrice)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ModelGroupModel.DealerPrice, new { style = "width:250px" }) 
                    @Html.ValidationMessageFor(model => model.ModelGroupModel.DealerPrice)
                </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.ModelGroupModel.WarrantyPeriod)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ModelGroupModel.WarrantyPeriod, new { style = "width:250px" }) 
                    @Html.ValidationMessageFor(model => model.ModelGroupModel.WarrantyPeriod)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ModelGroupModel.NeedRecovery)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.ModelGroupModel.NeedRecovery) 
                    @Html.ValidationMessageFor(model => model.ModelGroupModel.NeedRecovery)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ModelGroupModel.IsMandatory)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.ModelGroupModel.IsMandatory) 
                    @Html.ValidationMessageFor(model => model.ModelGroupModel.IsMandatory)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" name="submit" value="Save">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
}