﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;

@model Online.Registration.DAL.Models.User
           
@{
    ViewBag.Title = "Edit User";
}

<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Edit:</legend>
        @Html.HiddenFor(model => model.ID)
        <table>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.ID)
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(model => model.ID)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.FullName)
                    </div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.FullName, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.FullName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.IDCardTypeID)
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => Model.IDCardTypeID).BindTo(Util.GetList(RefType.IDCardType)))
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.IDCardNo)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.IDCardNo, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.IDCardNo)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.MobileNo)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.MobileNo, new { @style = "width:250px", @maxlength = "15"})
                    @Html.ValidationMessageFor(model => model.MobileNo)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.EmailAddr)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.EmailAddr, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.EmailAddr)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.OrgID)
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => Model.OrgID).BindTo(Util.GetList(RefType.Organization)))
                    @Html.ValidationMessageFor(model => model.OrgID)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.CreateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.CreateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.CreateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.LastUpdateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.LastUpdateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.LastUpdateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.LastAccessID)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.LastAccessID, new { @readonly = true, @disabled = true, @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Active)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Active) 
                    @Html.ValidationMessageFor(model => model.Active)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" name="submit" value="Save">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
}
