﻿@using Online.Registration.Admin.Models;
@using Online.Registration.Web.Helper;
@using Online.Registration.DAL.Models;

@model SearchViewModelUser

@{
    ViewBag.Title = "User";
    string strForm = "frmUser";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
    <a class="t-button t-button-icontext" href="@Url.Action("Create")"><span class="t-icon t-add">
    </span>Add New</a>
</div>
<br />
@using (Html.BeginForm("Index", "User", FormMethod.Post, new { id = strForm, name = strForm }))
{
    <fieldset runat="server">
        <legend style="margin-right: 500px">Search:</legend>
        <table>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(m => m.SearchCriterias.FullName)</div>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.SearchCriterias.FullName, new { @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.SearchCriterias.MobileNo)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.SearchCriterias.MobileNo, new { @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.SearchCriterias.EmailAddr)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.SearchCriterias.EmailAddr, new { @style = "width:250px" })
                </td>
            </tr>
        </table>
    </fieldset>
@*</div>*@
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icontext" type="submit" value="Search" name="Search">
            <span class="t-icon t-search"></span>Search</button>
            <button class="t-button t-button-icontext" type="button" value="Reset" onclick="Reset();">
            <span class="t-icon t-cancel"></span>Reset
        </button>
    </div>
    <br />
    @*if (User == null || User.SearchResults == null || User.SearchResults.Count() == 0)
    { 
    <p>
        No Record Found!</p>
    }*@
    <text><b>Search Result:</b></text>
        Html.Telerik().Grid<UserSearchResults>(Model.SearchResults).Name("gvwUser")
            .Sortable()
        .Columns(cols =>
        {
            cols.Command(command => command
            .Custom("Edit")
            .Text("Edit")
            .DataRouteValues(route => route.Add(a => a.UserID).RouteKey("id"))
            .SendState(false)
            .Action("Edit", "User"))
            .HtmlAttributes(new { style = "text-align: center" })
            .Width(90)          
            .Title("Action");
            cols.Bound(m => m.FullName).Title("Full Name").Width(80);
            cols.Bound(m => m.IDCardNo).Title("ID Card No.").Width(200);
            //cols.Bound(m => m.MobileNo).Title("Mobile").Width(200);
            cols.Bound(m => m.ActiveCheckBox).Title("Active").Width(50).Encoded(false);
            cols.Bound(m => m.CreateDT).Title("Created On");
            cols.Bound(m => m.LastUpdateDT).Title("Last Updated");
            cols.Bound(m => m.LastAccessID).Title("Last Access");
        })
        .DataBinding(binding => binding.Ajax().OperationMode(GridOperationMode.Client))
        .Pageable(paging => paging.PageSize(Util.GridRowsPerPage))
        .Render();
        <br />
}
@section scripts
{
    <script type="text/javascript">
        function Reset() {
            var fullName = $('#SearchCriterias_FullName');
            var mobileNo = $('#SearchCriterias_MobileNo');
            var emailAddr = $('#SearchCriterias_EmailAddr');
            fullName.val('');
            mobileNo.val('');
            emailAddr.val('');
        }
    </script>
}