@*-----------------------------------------------------------------------------------
//  Developer   : Jazz Tong
//  File Name   : SignatureBase64.cshtml
//  Purpose     : Display template for string type to show image, string must come from 64base string
//  Version Control:
//  Version     Date         Change Made
//  1.0         22 Oct 2015  Init
//---------------------------------------------------------------------------------*@
@model string
@{
    var htmlData = "";
    if (Model != null)
    {
        htmlData = Uri.UnescapeDataString(Model);
    }
    if (string.IsNullOrEmpty(Model)){
        <span style="font-size:18px">No signature capture</span>
    }else{
        if(!htmlData.StartsWith("<")){
            <img src="data:image/svg+xml;base64,@Model" style="max-height:100%;"/>
        }else{
            @Html.Raw(htmlData)
        }
    }

}