﻿@*-----------------------------------------------------------------------------------
//  Developer   : Jazz Tong
//  File Name   : SignatureBox.cshtml
//  Purpose     : Display template for SignatureVM type to display signature info
//  Version Control:
//  Version     Date         Change Made
//  1.0         29 Oct 2015  Init
//---------------------------------------------------------------------------------*@
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.CustomExtension;

@model Online.Registration.Web.ViewModels.Common.SignatureVM
<div class="white-space" id="digitalSignatureBox">
    <table border="0px">
        <tr>
            <td height="200px" width="400px" valign="middle" align="center" 
            style="vertical-align: middle;background-image: url('@Url.Content("~/Content/images/maxis_use_only_s.png")');border-bottom:solid 1px black;">
                @Html.DisplayFor(n => n.SignSvg, "SignatureBase64")
            </td>
        </tr>
        <tr>
            <td>
                <div id="summary-label" align="left" class="signaturefooter">
                    <span>Applicant's Signature</span><br />
                    <span>Date @Util.FormatDateTime(DateTime.Now)</span>
                </div>
            </td>
        </tr>
    </table>
</div>
