﻿@*-----------------------------------------------------------------------------------
//  Developer   : Jazz Tong
//  File Name   : TermAndCondition.cshtml
//  Purpose     : Display template for TermAndConditionVM type to diplay only
//  Version Control:
//  Version     Date         Change Made
//  1.0         29 Oct 2015  Init
//---------------------------------------------------------------------------------*@

@using Online.Registration.Web.CustomExtension
@model Online.Registration.Web.ViewModels.Common.TermAndConditionVMBase

<ul class="col-sm-12 tnc-check">
    <li>
        <input id="@Html.IdFor(n=>n.Agreed)" class="stock-checkbox" @Html.Raw(Model.Agreed.ToCheckboxHtmlAttr())
                type="checkbox" disabled="disabled">
        <label for="@Html.IdFor(n=>n.Agreed)" name="stock-lbl-1" class="stock-label">
            By checking this box, I acknowledge that I have read, understood and agreed to Maxis'
            <span data-target="#@Html.IdFor(n=>n.Agreed)_Modal" data-toggle="modal">Terms and Conditions</span>. I hereby consent to the collection and processing of my personal data and verify that all information provided are accurate and correct.
        </label>
    </li>
</ul>
<div class="modal" id="@Html.IdFor(n=>n.Agreed)_Modal" tabindex="-1" role="dialog" aria-labelledby="@Html.IdFor(n=>n.Agreed)_Modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="close-btn">Close</span></button>
                <h4 class="modal-title usage-title">General T&C</h4>
            </div>
            <div class="modal-body tnc">
                <div class="tnc-list">
                    @Html.Raw(Model.Statements)
                    <label style="cursor: pointer;margin-top:40px;margin-left: 20px;">
                        @Html.CheckBoxFor(n=>n.Agreed,new {onclick="clickAgree($(this))"})
                        I acknowledge that I have been provided with and have read and understood the Agreement in its entirety, and I agree to the terms and conditions of the Agreement.
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>