﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;

@model Online.Registration.DAL.Models.Program

@{
    ViewBag.Title = "Add Program";
}

<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@{Html.EnableClientValidation(true);}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Add:</legend>
        <table>
            <tr>
                <td>
                    <div style="width: 90px">
                        @Html.LabelFor(model => model.Code)
                    </div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Code, new { @style = "width:100px" })
                    @Html.ValidationMessageFor(model => model.Code)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Name)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Name, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Description)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Description, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Description)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.MinAge)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.MinAge, new { @style = "width:100px" })
                    @Html.ValidationMessageFor(model => model.MinAge)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.StartDate)
                </td>
                <td>
                    @*@Html.EditorFor(model => model.StartDate, new { @class = "date-pick" })*@
                    @Html.Telerik().DatePickerFor(model => model.StartDate).Format(Util.GetDateFormatString()).OpenOnFocus(true)
                    @*.InputHtmlAttributes(new { @readonly = true })*@
                    @Html.ValidationMessageFor(model => model.StartDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.EndDate)
                </td>
                <td>
                    @*@Html.EditorFor(model => model.EndDate, new { @class = "date-pick" })*@
                    @Html.Telerik().DatePickerFor(model => model.EndDate).Format(Util.GetDateFormatString()).OpenOnFocus(true)
                    @*.InputHtmlAttributes(new { @readonly = true })*@
                    @Html.ValidationMessageFor(model => model.EndDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.IsOutrightSales)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.IsOutrightSales) 
                    @Html.ValidationMessageFor(model => model.IsOutrightSales)
                </td>
            </tr>
            @*<tr>
                <td>
                </td>
                <td>
                    <button class="t-button t-button-icon" type="submit" value="Save" name="submit">
                        <span class="t-icon t-update"></span>Save</button>
                    <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
                        <span class="t-icon t-cancel"></span>Cancel</button>
                </td>
            </tr>*@
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <input type="hidden" id="submit" name="submit" />
        <button runat="server" class="t-button t-button-icontext" type="submit" value="Add" onclick="$('#submit').val('Save');">
           <span class="t-icon t-update"></span>Save
        </button>
        <button class="t-button t-button-icontext cancel" type="submit" value="Cancel" onclick="$('#submit').val('Cancel');">
            <span class="t-icon t-cancel cancel"></span>Cancel
        </button>
    </div>
}
