﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.DAL.Models;
@using Online.Registration.Admin.Models;

@model UpdateViewProgramModel

@{
    ViewBag.Title = "Edit Program";
}

<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Edit:</legend>
        @Html.HiddenFor(model => model.Program.ID)
        <table>
            <tr>
                <td class="editor-label">
                    <div style="width: 90px">
                        @Html.LabelFor(model => model.Program.ID)
                    </div>
                </td>
                <td class="editor-field">
                    @Html.DisplayFor(model => model.Program.ID)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.Program.Code)
                </td>
                <td class="editor-field">
                    @Html.TextBoxFor(model => model.Program.Code, new { @style = "width:100px" })
                    @Html.ValidationMessageFor(model => model.Program.Code)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.Program.Name)
                </td>
                <td class="editor-field">
                    @Html.TextBoxFor(model => model.Program.Name, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Program.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Program.Description)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Program.Description, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Program.Description)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Program.MinAge)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Program.MinAge, new { @style = "width:100px" })
                    @Html.ValidationMessageFor(model => model.Program.MinAge)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.Program.StartDate)
                </td>
                <td class="editor-field">
                    @*@Html.EditorFor(model => model.Program.StartDate, new { @class = "date-pick" })*@
                    @Html.Telerik().DatePickerFor(model => model.Program.StartDate).Format(Util.GetDateFormatString()).InputHtmlAttributes(new{@readonly= true})
                    @Html.ValidationMessageFor(model => model.Program.StartDate)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.Program.EndDate):
                </td>
                <td class="editor-field">
                    @*@Html.EditorFor(model => model.Program.EndDate, new { @class = "date-pick" })*@
                    @Html.Telerik().DatePickerFor(model => model.Program.EndDate).Format(Util.GetDateFormatString()).InputHtmlAttributes(new { @readonly = true })
                    @Html.ValidationMessageFor(model => model.Program.EndDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Program.IsOutrightSales)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Program.IsOutrightSales) 
                    @Html.ValidationMessageFor(model => model.Program.IsOutrightSales)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Program.CreateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Program.CreateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.Program.CreateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Program.LastUpdateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Program.LastUpdateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.Program.LastUpdateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Program.LastAccessID)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Program.LastAccessID, new { @readonly = true, @disabled = true, @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Program.Active) 
                </td>
                <td class="editor-field">
                    @Html.CheckBoxFor(model => model.Program.Active) 
                    @Html.ValidationMessageFor(model => model.Program.Active)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <input type="hidden" id="submit" name="submit" />
        <button runat="server" class="t-button t-button-icontext" type="submit" value="Add" onclick="$('#submit').val('Save');">
           <span class="t-icon t-update"></span>Save
        </button>
        <button class="t-button t-button-icontext cancel" type="submit" value="Cancel" onclick="$('#submit').val('Cancel');">
            <span class="t-icon t-cancel cancel"></span>Cancel
        </button>
    </div>
    <br />
    if (Model.Program.Active == true)
    {
        <div class="header">
            <h3>Program Bundle List </h3>
        </div>
        <a class="t-button t-button-icontext" href="@Url.Action("AddPgmBdl", "PgmBdlPkgComp", new { programID = Model.Program.ID, type = RefType.Program })">
            <span class="t-icon t-add"></span>Add New</a>
        <br /><br />
        @Html.HiddenFor(model => model.Program.ID)
        Html.Telerik().Grid<PgmBdlPckComponentSearchResults>(Model.PgmBdlPckComponents)
            .Name("gvwPgmBdlPckComponent")
            .Sortable()
            .Columns(cols =>
            {
                cols.Command(command => command
                    .Custom("Edit")
                    .Text("Edit")
                    .DataRouteValues(route => route.Add(a => a.PgmBdlPckComponentID).RouteKey("id"))
                    .DataRouteValues(route => route.Add(a => a.Type).RouteKey("type"))
                    .SendState(false)
                    .Action("EditPgmBdl", "PgmBdlPkgComp"))
                    .HtmlAttributes(new { style = "text-align: center" })
                    .Width(90)
                    .Title("Action");
                cols.Bound(m => m.Bundle);
                cols.Bound(m => m.StartDate).Title("Start Date");
                cols.Bound(m => m.EndDate).Title("End Date");
                cols.Bound(m => m.ActiveCheckBox).Title("Active").Encoded(false);
                cols.Bound(m => m.CreateDT).Title("Created On");
                cols.Bound(m => m.LastUpdateDT).Title("Last Updated");
                cols.Bound(m => m.LastAccessID).Title("Last Access");
            })
            .DataBinding(binding => binding.Ajax().OperationMode(GridOperationMode.Client))
            .Pageable(paging => paging.PageSize(Util.GridRowsPerPage))
            .Render();
    }
}

