﻿@model Online.Registration.Web.Models.SalesCreateModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("New", "Sales", FormMethod.Post, new { onsubmit = "disableSubmit(this);" }))
{ 
    @Html.ValidationSummary()
    <fieldset>
        <legend>Customer Details</legend>
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Name)
                </td>
                <td>
                    @Html.EditorFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.MSISDN)
                </td>
                <td>
                    @Html.EditorFor(model => model.MSISDN)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ICNumber)
                </td>
                <td>
                    @Html.EditorFor(model => model.ICNumber)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Address)
                </td>
                <td>
                    @Html.EditorFor(model => model.Address)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Remark)
                </td>
                <td>
                    @Html.EditorFor(model => model.Remark)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="k-button k-button-icontext" type="submit" value="Submit" name="Submit">
            Submit
        </button>
    </div>
}


@section Scripts{
<script type="text/javascript">
    function disableSubmit(form) {
        if ($(form).valid()) {
            $('input[type="submit"]').addClass("k-state-disabled").attr('disabled', true);
        }
    }

    function onSelect(e) {
        var grid = $('#grdResult').data('kendoGrid');
        var regID = $(grid.select()[0].cells[0]).html();

        window.location.href = '@(Url.Action("Create"))/' + regID;
    }
</script>
}
