﻿@using SNT.Utility
@model Online.Registration.Web.Models.SalesNewModel

@{
    ViewBag.Title = "New Sales";
}

<h2>New Sales</h2>

@using (Html.BeginForm("New", "Sales", FormMethod.Post, new { onsubmit = "disableSubmit(this);" }))
{
    @Html.ValidationSummary()
    @Html.Partial("_RegistrationSearch", Model.SearchCriteria)
                
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icontext" type="submit" value="Search" name="Search">
            Search
        </button>
    </div>
}

@if (!Model.SearchResults.IsEmpty())
{
    <br />
    <div class="gridDiv">
        @(Html.Telerik().Grid(Model.SearchResults)
            .Name("grdResult")
            .Columns(a =>
            {
                a.Bound(m => m.RegID);
                a.Bound(m => m.FirstName);
                a.Bound(m => m.LastName);
                a.Bound(m => m.ICNumber);
                a.Bound(m => m.MSISDN);
                a.Bound(m => m.CreatedDate);
            })
            .DataBinding(dataBinding => dataBinding
                .Ajax()
                .OperationMode(GridOperationMode.Client))
            .Selectable()
            .Footer(false)
            .ClientEvents(a => a.OnRowSelect("onSelect")))
    </div>
}

@section Scripts{
<script type="text/javascript">
    function disableSubmit(form) {
        if ($(form).valid()) {
            $('input[type="submit"]').addClass("t-state-disabled").attr('disabled', true);
        }
    }

    function onSelect(e) {
        var grid = $('#grdResult').data('tGrid');
        //var regID = $(grid.select()[0].cells[0]).html();
        var regID = e.row.cells[0].innerHTML;

        window.location.href = '@(Url.Action("Create"))/' + regID;        
    }
</script>
}


