/* RESPONSIVE GRID SYSTEM =============================================================================  */

/*  FONTS  ============================================================================= */

/*
@font-face {
    font-family: 'frutigerlight';
    src: url('fonts/ftl____.pfb-webfont.eot');
    src: url('fonts/ftl____.pfb-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ftl____.pfb-webfont.woff') format('woff'),
         url('fonts/ftl____.pfb-webfont.ttf') format('truetype'),
         url('fonts/ftl____.pfb-webfont.svg#frutigerlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'frutigerroman';
    src: url('fonts/ftr____.pfb-webfont.eot');
    src: url('fonts/ftr____.pfb-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ftr____.pfb-webfont.woff') format('woff'),
         url('fonts/ftr____.pfb-webfont.ttf') format('truetype'),
         url('fonts/ftr____.pfb-webfont.svg#frutigerroman') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/

/* BASIC PAGE SETUP ============================================================================= */

body { 
margin : 0 auto;
padding : 0;
font : 100%/1.4 Arial, Helvetica, sans-serif; 	
color : #000; 
text-align: left;
/*background: #4d4d4d ;*/
background: #eeeeee ;
}

button, 
input, 
select, 
textarea { 
font-family : Arial, Helvetica, sans-serif; 
color : #333; }

/*  HEADINGS  ============================================================================= */

h1, h2, h3, h4, h5, h6 {
font-family:  'frutigerroman';
font-weight : normal;
margin-top: 10px;
letter-spacing: -1px;
}

h1 { 
font-family:  'frutigerroman';
color: #000;
margin-bottom : 0.2em;
font-size : 6em; /* 96 / 16 */
line-height : 1.4;
}


h2 { 
color: #222;
margin-bottom : .5em;
margin-top : .5em;
font-size : 2.75em; /* 40 / 16 */
line-height : 1.2;
}

h3 { 
color: #333;
margin-bottom : 0.3em;
letter-spacing: -1px;
font-size : 1.75em; /* 28 / 16 */
line-height : 1.3; }


h4 { 
color: #444;
margin-bottom : 0.5em;
font-size : 1.5em; /* 24 / 16  */
line-height : 1.25; }

	footer h4 { 
		color: #ccc;
	}

h5 { 
color: #555;
margin-bottom : 1.25em;
font-size : 1em; /* 20 / 16 */ }

h6 { 
color: #666;
font-size : 1em; /* 16 / 16  */ }

/*  TYPOGRAPHY  ============================================================================= */

p, ol, ul, dl, address { 
/*margin-bottom : 1.5em; */
font-size : 1em; /* 16 / 16 = 1 */ }

p {
hyphens : auto;  }


p.introtext {
font-family: arial, helvetica, helve, sans-serif;
font-size : 2.5em; /* 40 / 16 */
color: #333;
line-height: 1.4em;
letter-spacing: -1px;
margin-bottom: 0.5em;
}


p.handwritten {
font-family:  arial, helvetica, helve, sans-serif; 
font-size: 1.375em; /* 24 / 16 */
line-height: 1.8em;
margin-bottom: 0.3em;
color: #666;
}

p.center {
text-align: center;
}


.and {
font-family: arial, helvetica, helve, sans-serif;
font-size: 1.5em; /* 24 / 16 */
}

.heart {
font-size: 1.5em; /* 24 / 16 */
}

ul, 
ol { 
/*margin : 0 0 1.5em 0;*/ 
/*padding : 0 0 0 24px;*/ 
padding : 0px;
}

li ul, 
li ol { 
margin : 0;
font-size : 1em; /* 16 / 16 = 1 */ }

dl, 
dd { 
margin-bottom : 1.5em; }

dt { 
font-weight : normal; }

b, strong { 
font-weight : bold; }

hr { 
display : block; 
margin : 1em 0; 
padding : 0;
height : 1px; 
border : 0; 
border-top : 1px solid #ccc;
}

small { 
font-size : 1em; /* 16 / 16 = 1 */ }

sub, sup { 
font-size : 75%; 
line-height : 0; 
position : relative; 
vertical-align : baseline; }

sup { 
top : -.5em; }

sub { 
bottom : -.25em; }

.subtext {
	color: #666;
	}

/* LINKS =============================================================================  */

a { 
color : #cc1122;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
text-decoration: none;
}

a:visited { 
color : #ee3344; }

a:focus { 
outline : thin dotted; 
color : rgb(0,0,0); }

a:hover, 
a:active { 
outline : 0;
color : #dd2233;
}


footer a { 
color : #ffffff;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

footer a:visited { 
color : #fff; }

footer a:focus { 
outline : thin dotted; 
color : rgb(0,0,0); }

footer a:hover, 
footer a:active { 
outline : 0;
color : #fff;
}


/* IMAGES ============================================================================= */

img {
border : 0;
max-width: 100%;
height: auto;
width: auto\9; /* ie8 */
}

img.floatleft { float: left; margin: 0 10px 0 0; }
img.floatright { float: right; margin: 0 0 0 10px; }


/* TABLES ============================================================================= */

table { 
border-collapse : collapse;
border-spacing : 0;
margin-bottom : 1.4em; 
width : 100%; }

th, td, caption { 
padding : .25em 10px .25em 5px; }

tfoot { 
font-style : italic; }

caption { 
background-color : transparent; }

/* FORMS ============================================================================= */

form { 
margin : 0; }

fieldset { 
margin-bottom : 1.5em; 
padding : 0; 
border-width : 0; }

legend { 
*margin-left : -7px; 
padding : 0; 
border-width : 0; }

label{
font-weight : normal;
cursor : pointer;
display:block;
margin:0;
position:relative;
top:0;
left:0;
}

	label.inline{
	display:inline;
	margin:0;
	}
	
	label span{
	color:#666;
	font-size:0.9em;
	}
	
	label span.right{
	position:absolute;
	bottom:0;
	right:1em;
	text-align:right;
	}
	
	label.disabled{
	color:#ccc;
	}


button, 
search,
input, 
select, 
textarea { 
font-size : 100%; 
margin : 0; 
vertical-align : baseline; 
*vertical-align : middle; }

button, input { 
line-height : normal; 
*overflow : visible; }

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] { 
padding: 0.5em 1em;
margin: 0;
cursor : pointer; 
text-shadow:0 1px 0 #fff;
}

input[type="checkbox"], 
input[type="radio"] { 
box-sizing : border-box; }

input[type="search"] { 
	box-sizing : content-box;
}

button::-moz-focus-inner, 
input::-moz-focus-inner { 
padding : 0;
border : 0;  }

input{
margin:0;
border:0px solid #ccc;
font-size:1em;
padding:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
background:#fff;
-moz-box-shadow:inset 0px 0px 6px #ccc;
-webkit-box-shadow:inset 0px 1px 6px #ccc;
box-shadow:inset 0px 1px 6px #ccc;
}

	input::-webkit-input-placeholder,
	input:-moz-placeholder,
	.placeholder{
	color:#bbb;
	}
	
	input::-moz-focus-inner {border:0;}

	input[disabled="disabled"], input.disabled{
	color:#999;
	background:#f5f5f5;
	-moz-box-shadow:inset 0px 0px 2px #ddd;
	-webkit-box-shadow:inset 0px 1px 2px #ddd;
	box-shadow:inset 0px 1px 2px #ddd;
	}


/* Colors for form validity */
input:valid, 
textarea:valid   {  
/* Styles */ }

input:invalid, 
textarea:invalid {
-webkit-box-shadow : 0 0 2px #f00; 
-moz-box-shadow : 0 0 2px #f00;
box-shadow : 0 0 2px #f00; }

.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid {
background-color : #ccc; }



/*  MAIN LAYOUT	============================================================================= */

#skiptomain { display: none; }
#wrapper{width:100%; background-color:#4d4d4d;}


	#headcontainer {
		width: 100%;
		height:50px;
		background-color:#4d4d4d;
	}
	#maincontentcontainer {
		width: 100%;
		position:relative;
		min-height:983px;
	}
	
	#left{width:182px;position:relative;float:left; background-color:#4d4d4d;}
	#center{position:absolute;top:0px;left:182px;right:249px;bottom:0px;background: #e6e6e6;}
	#right{position:absolute;float:right;width:249px;top:0px;right:0px;bottom:0px;background:#ffffff;border-left:1px solid #cccccc;}
	
	.center_box{
		width:95%;
		border-left:1px solid #a7a7a7; 
		border-right:1px solid #a7a7a7; 
		border-bottom:1px solid #a7a7a7; 
		margin:18px auto;
		/*-moz-border-radius-bottomright: 5px;
 		border-bottom-right-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
 		border-bottom-left-radius: 5px;*/
		}
		
	.center_box-2{
		width:95%;
		border-left:1px solid #a7a7a7; 
		border-right:1px solid #a7a7a7; 
		border-bottom:1px solid #a7a7a7; 
		margin:1px auto;
		/*-moz-border-radius-bottomright: 5px;
 		border-bottom-right-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
 		border-bottom-left-radius: 5px;*/
		}
		
	.content{padding:0px; }
	.content_white{padding:0px; background-color:#FFFFFF; }
		.standardcontainer {
			
		}
		
		.darkcontainer {
			background: rgba(102, 102, 102, 0.05);
		}

		.lightcontainer {
			background: rgba(255, 255, 255, 0.33);
		}
		
			#maincontent{
				clear: both;
				/*width: 80%;*/ /* 1000px / 1250px */
				width: 100%;
				font-size: 0.8125em; /* 13 / 16 */
				/*max-width: 92.3em;*/ /* 1200px / 13 */
				max-width: 100%;
				margin: 0 auto;
				padding: 1em 0px;
				color: #333;
				line-height: 1.5em;
				position: relative;
			}
		
			.maincontent{
				clear: both;
				width: 80%; /* 1000px / 1250px */
				font-size: 0.8125em; /* 13 / 16 */
				max-width: 92.3em; /* 1200px / 13 */
				margin: 0 auto;
				padding: 1em 0px;
				color: #333;
				line-height: 1.5em;
				position: relative;
			}

	#footercontainer {
		width: 100%;	
		border-top: 1px solid #000;
		background: #222 url(/images/footerback.png) left top;
	}
	
		footer {
			clear: both;
			/*width: 80%;*/ /* 1000px / 1250px */
			width: 100%;
			font-size: 0.8125em; /* 13 / 16 */
			/*max-width: 92.3em;*/ /* 1200px / 13 */
			max-width: 100%;
			margin: 0 auto;
			padding: 20px 0px 10px 0px;
			color: #999;
		}

		footer strong {
			font-size: 1.077em; /* 14 / 13 */
			color: #aaa;
		}


		footer a:link, footer a:visited { color: #999; text-decoration: underline; }
		footer a:hover { color: #fff; text-decoration: underline; }

		ul.pagefooterlist, ul.pagefooterlistimages {
			display: block;
			float: left;
			margin: 0px;
			padding: 0px;
			list-style: none;
		}

		ul.pagefooterlist li, ul.pagefooterlistimages li {
			clear: left;
			margin: 0px;
			padding: 0px 0px 3px 0px;
			display: block;
			line-height: 1.5em;
			font-weight: normal;
			background: none;

		}

		ul.pagefooterlistimages li {
			height: 34px;
		}


		ul.pagefooterlistimages li img {
			padding: 5px 5px 5px 0px;
			vertical-align: middle;
			opacity: 0.75;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
			filter: alpha( opacity  = 75);
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}

		ul.pagefooterlistimages li a
		{
			text-decoration: none;
		}

		ul.pagefooterlistimages li a:hover img {
			opacity: 1.0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha( opacity  = 100);
		}

			#smallprint {
				margin-top: 20px;
				line-height: 1.4em;
				text-align: center;
				color: #999;
				font-size: 0.923em; /* 12 / 13 */
			}

			#smallprint p{
				vertical-align: middle;
			}

			#smallprint .twitter-follow-button{
				margin-left: 1em;
				vertical-align: middle;
			}

			#smallprint img {
				margin: 0px 10px 15px 0px;
				vertical-align: middle;
				opacity: 0.5;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
				filter: alpha( opacity  = 50);
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}


			#smallprint a:hover img {
				opacity: 1.0;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				filter: alpha( opacity  = 100);
			}

			#smallprint a:link, #smallprint a:visited { color: #999; text-decoration: none; }
			#smallprint a:hover { color: #999; text-decoration: underline; }


/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding-top: 10px;
	margin: 0px;
}

	
/*  CODE  ============================================================================= */

pre.code {
	padding: 0;
	margin: 0;
	font-family: monospace;
	white-space: pre-wrap;
	font-size: 1.1em;
}

strong.code {
	font-weight: normal;
	font-family: monospace;
	font-size: 1.2em;
}


/*  EXAMPLE  ============================================================================= */

#example .col {
	background: #ccc;
	background: rgba(204, 204, 204, 0.85);

}

/*  SAMPLE  ============================================================================= */

#sample .col {
	background: #ccc;
	padding: 1em 0;
	background: rgba(204, 204, 204, 0.85);

}

/*  CALCUATIONS  ============================================================================= */

#calculated .col {
	background: #ccc;
	padding: 1em 0;
	background: rgba(204, 204, 204, 0.85);

}

/*  NOTES  ============================================================================= */


.note {
	position:relative;
	padding:1em 1.5em;
	margin: 0 0 1em 0;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	overflow:hidden;
}

.note:before {
	content:"";
	position:absolute;
	top:0;
	right:0;
	border-width:0 16px 16px 0;
	border-style:solid;
	border-color:transparent transparent #cccccc #cccccc;
	background:#cccccc;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	display:block; width:0; /* Firefox 3.0 damage limitation */
}

.note.rounded {
	-webkit-border-radius:5px 0 5px 5px;
	-moz-border-radius:5px 0 5px 5px;
	border-radius:5px 0 5px 5px;
}

.note.rounded:before {
	border-width:8px;
	border-color:#ff #ff transparent transparent;
	background: url(/images/bodyback.png);
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius:0 0 0 5px;
	border-radius:0 0 0 5px;
}

/*  SCREENS  ============================================================================= */

.siteimage {
	max-width: 90%;
	padding: 5%;
	margin: 0 0 1em 0;
	background: transparent url(/images/stripe-bg.png);
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;
}

.siteimage:hover {
	background: #bbb url(/images/stripe-bg.png);
	position: relative;
	top: -2px;
	
}

/*  COLUMNS  ============================================================================= */

.twocolumns{
	-moz-column-count: 2;
	-moz-column-gap: 2em;
	-webkit-column-count: 2;
	-webkit-column-gap: 2em;
	column-count: 2;
	column-gap: 2em;
  }

/*  BUTTONS  ============================================================================= */


.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	color: #fff;
	padding: .5em 1em;
	margin: 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: #cc1122 url(/images/glass.png) repeat-x 0 50%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-size : 1.1em;
				
}
.button:hover {
	background: #dd2233 url(/images/glass.png) repeat-x 0 50%;
	color: #fff;
	text-decoration: none;
}
.button:active {
	background: #dd2233 url(/images/glass.png) repeat-x 0 50%;
	color: #fff;
	position: relative;
	top: 1px;
}
.button:visited { 
	color : #fff;
}

input.submitButton {
  margin-top: 13px;
  padding: 8px 30px;
  background-color: #77bf53;
  color: #fff;
  /*text-transform: uppercase;*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: normal;
  font-family: 'frutigerroman';
  /*border: 1px solid #4a7f2c;*/
}
input.submitButton:hover {
  cursor: pointer;
  background-color: #343434;
  /*border: 1px solid #000000;*/
  color: #fff;
}



/*  GLOBAL OBJECTS ============================================================================= */

.breaker { clear: both; }

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}


.floatleft {
    float: left;
}

.floatright {
    float: right;
}


/* MAIN MENU =================================================================================== */

.is-menu{
    padding: 0;
    margin: 0px auto;
    width: 182px;
}
.is-menu li{
    width: 182px;
    height: 50px;
    overflow: hidden;
    display: block;
    background: #808282;
    -webkit-text-shadow: 1px 1px 0px #000;
    -moz-text-shadow:  1px 1px 0px #000;
    text-shadow:  1px 1px 0px #000;
    border-top:1px solid #aaaaaa;
	border-bottom:1px solid #4d4d4d;
}
.is-menu li:last-child{
    margin-bottom: 0px;
}
.is-menu li a{
    text-align: left;
    display: block;
    width: 100%;
    height: 100%;
    color: #ced3d6;
    position:relative;
}
.is-menu li a:hover, .is-menu li a.selected{
    text-align: left;
    display: block;
    width: 100%;
    height: 100%;
    background: #90c74b;
    position:relative;
	border-top:1px solid #cccccc;
	color:#ffffff;
}
.is-icon {
	position: absolute;
    width: 29px;
	height:24px;
	top:13px;
    left: 12px;
	text-align: center;
}

a .is-icon.dashboard{
	background:url(../img/shared/iSELL-Icon-Navigation-Dashboard-Up.gif) no-repeat;
}
a .is-icon.mobilty-service{
	background:url(../img/shared/iSELL-Icon-Navigation-Mobility-Up.gif) no-repeat;
}
a .is-icon.guided-sales{
	background:url(../img/shared/iSELL-Icon-Navigation-Sales-Up.gif) no-repeat;
}
a .is-icon.inventory{
	background:url(../img/shared/iSELL-Icon-Navigation-Inventory-Up.gif) no-repeat;
}
a .is-icon.cashier{
	background:url(../img/shared/iSELL-Icon-Navigation-Cashier-Up.gif) no-repeat;
} 

/* menu icon hover */
.is-menu li a:hover .is-icon.dashboard, .is-menu li a.selected .is-icon.dashboard {
	background:url(../img/shared/iSELL-Icon-Navigation-Dashboard-Over.gif) no-repeat;
}
.is-menu li a:hover .is-icon.mobilty-service, .is-menu li a.selected .is-icon.mobilty-service{
	background:url(../img/shared/iSELL-Icon-Navigation-Mobility-Over.gif) no-repeat;
}
.is-menu li a:hover .is-icon.guided-sales, .is-menu li a.selected .is-icon.guided-sales{
	background:url(../img/shared/iSELL-Icon-Navigation-Sales-Over.gif) no-repeat;
}
.is-menu li a:hover .is-icon.inventory, .is-menu li a.selected .is-icon.inventory{
	background:url(../img/shared/iSELL-Icon-Navigation-Inventory-Over.gif) no-repeat;
}
.is-menu li a:hover .is-icon.cashier, .is-menu li a.selected .is-icon.cashier{
	background:url(../img/shared/iSELL-Icon-Navigation-Cashier-Over.gif) no-repeat;
} 
.is-content{
    position: absolute;
    left: 48px;
    width: 158px;
    height: 50px;
    top: 12px;
}

.is-menu-tab{display:none;} /* not display mobile menu on desktop */



/* Product menu */
.horizontal-nav {
	border-radius: 6px;
}
.horizontal-nav ul {
	background: #808282;
	float: left;
	text-align: center;
	border-radius: 3px;
	
}
.horizontal-nav ul li {
	float: left;
	
}
.horizontal-nav ul li:first-child {
	border-left: 0 none;
}
.horizontal-nav ul li a {
	display: block;
	padding: 10px 20px;
	color: #ced3d6;
	font-family: 'frutigerlight';
	font-size:18px;
	border-top: 1px solid rgba(255,255,255, 0.25);
	border-left: 1px solid rgba(255,255,255, 0.25);
}
.horizontal-nav ul li:first-child a {
	border-left: 0 none;
}
.horizontal-nav ul li a:hover {
	background: #90c74b;
	color:#fff;
}
.horizontal-nav ul li a.selected {
	background: #90c74b;
	color:#fff;
}

.horizontal-nav ul li:first-child a {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.horizontal-nav ul li:last-child a {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}


/* Steps Wizard */

.steps-nav{background: #a7a7a7;color: #ffffff; font-size: 11px; font-weight: normal;  font-family:Arial, Helvetica, sans-serif; text-align:center;height:26px;}
.steps-nav ul#table {display: table; float: none; width: 100%;}

.steps-nav li.selected{background: #90c74d url(../img/shared/iSELL-Arrow-Style01.jpg) center right no-repeat;height:21px;padding-top:5px;}
.steps-nav li{background: #a7a7a7 url(../img/shared/iSELL-Arrow-Style02.jpg) center right no-repeat;height:21px;padding-top:5px;}
.steps-nav li:last-child{background: #a7a7a7; }

/* Footer */
.footer-text{width:95%;margin:10px auto;font-size:11px;font-family:Arial, Helvetica, sans-serif;color:#767676;}

/* ACCORDIAN RIGHT COLUMN ====================================================================== */
/*#accordion {
	width: 249px;
	margin: 0px auto;
}
#accordion .ui-accordion-header {
	background-color: #ffffff;
	margin: 0px;
	padding:20px 0px 20px 10px;
	border-bottom:1px solid #999999;
}
#accordion .ui-accordion-header a {
	color: #fff;
	line-height: 42px;
	display: block;
	font-size: 12pt;
	width: 100%;
	
}
#accordion .ui-accordion-content {
	width: 95%;
	background-color: #ffffff;
	color: #777;
	font-size: 10pt;
	line-height: 16pt;
	border-bottom:1px solid #999999;
	padding:10px 0px 10px 10px;
}
#accordion .ui-accordion-content > * {
	margin: 0;
	/*padding: 20px;*/
}
#accordion .ui-accordion-content a {
	color: #777;
}*/

/* VENDOR-SPECIFIC ============================================================================= */

html { 
-webkit-overflow-scrolling : touch; 
-webkit-tap-highlight-color : rgb(52,158,219); 
-webkit-text-size-adjust : 100%; 
-ms-text-size-adjust : 100%; }

.clearfix { 
zoom : 1; }

::-webkit-selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

::-moz-selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

::selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] { 
-webkit-appearance : button; }

::-webkit-input-placeholder {
font-size : .875em; 
line-height : 1.4; }

input:-moz-placeholder { 
font-size : .875em; 
line-height : 1.4; }

.ie7 img,
.iem7 img { 
-ms-interpolation-mode : bicubic; }

input[type="checkbox"], 
input[type="radio"] { 
box-sizing : border-box; }

input[type="search"] { 
-webkit-box-sizing : content-box;
-moz-box-sizing : content-box; }

button::-moz-focus-inner, 
input::-moz-focus-inner { 
padding : 0;
border : 0; }

p {
/* http://www.w3.org/TR/css3-text/#hyphenation */
-webkit-hyphens : auto;
-webkit-hyphenate-character : "\2010";
-webkit-hyphenate-limit-after : 1;
-webkit-hyphenate-limit-before : 3;
-moz-hyphens : auto; }

/* CAROUSEL STYLING ===========================================================================*/
.list_carousel {
	background-color: #e6e6e6;
	margin: 0 0 0px 60px;
	width: 360px;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	font-size: 16px;
	font-family: 'frutigerlight';
	color: #4d4d4d;
	text-align: center;
	background-color: #eee;
	width: 50px;
	height: 50px;
	padding: 15px 0 0 0 ;
	margin: 6px;
	display: block;
	float: left;
	background:url(../img/shared/iSELL-Prod-ImgFrame.png) no-repeat;
	
}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
	height:250px;
}
.clearfix {
	float: none;
	clear: both;
}
.prev {
	float: left;
	margin-left: 0px;
}
.next {
	float: right;
	margin-right: 0px;
}
.arrow_position{position:relative;top:-160px;z-index:1000;}
.OkCancelButton {
  margin-top: 13px;
  padding: 8px 30px;
  background-color: #77bf53;
  color: #fff;
  /*text-transform: uppercase;*/
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: normal;
  font-family: 'frutigerroman';
  /*border: 1px solid #4a7f2c;*/
}
 .OkCancelButton:hover {
  cursor: pointer;
  background-color: #343434;
  /*border: 1px solid #000000;*/
  color: #fff;
}

