/*  MAKE LAYOUT RESPONSIVE at 1024px FOR SMALLER SCREENS ================================================================ */
	
		header {
			width: 93.75%; /* 960px / 1024px */
		}

		#maincontent{
					width: 93.75%; /* 960px / 1024px */
		}
		
		.maincontent{
			width: 93.75%; /* 960px / 1024px */
		}

		footer {
			width: 93.75%; /* 960px / 1024px */
		}
		#left {
			width:48px;
			min-width:48px;
		}
		/*#center{position:absolute;top:0px;left:48px;right:249px;bottom:0px;background: #e6e6e6;}*/
		#center{min-width:50px;	background-color:#e6e6e6;}
		
		#headcontainer {
		width: 100%;
		height:50px;
		background-color:#ff000;
		}
		
		.plan-outerbox{width:24.81%; height:150px; float:left;position:relative;display:table-cell;text-align:center;border-bottom:1px solid #ccc;border-right:1px solid #ccc; }
		
		.content.search-header{
		background:#cccccc;
		/*height:89px;*/ /* Height commented - PN Fix*/
		border-top:1px solid #a7a7a7
	}
		.search-hdr-bodyMessage{font-family: 'frutigerlight';font-size:13px;color:#444;padding-top:8px;clear:both;/*clear both added - PN Fix*/}
		/* MOBILE NAVI WITH TOOL TIPS ======================================================*/
		.is-menu{display:none;}
		.is-menu-tab{
			padding: 0;
			margin: 0px auto;
			width: 48px;
			display:inline-block;
			/*background: #808282;*/
		}

		.is-menu-tab li{
			width: 48px;
			height: 50px;
			display: block;
			background: #808282;
			border-top:1px solid #aaaaaa;
			border-bottom:1px solid #4d4d4d;
			overflow:visible;
		}
		.is-menu-tab li:last-child{
			margin-bottom: 0px;
		}
		.is-menu-tab li a{
			text-align: center;
			display: block;
			width: 100%;
			height: 100%;
			color: #ffffff;
			position:relative;
		}

		.wrappers{background-color:#808282;width:48px; height:50px;}
		
		.wrappers.captureimage,
       .wrappers.printDME {position:relative;text-align: center;background-color:#808282;width:48px;height:50px;}
		.wrappers.search, .wrappers.services, .wrappers.smeiservices, .wrappers.smart, 
          .wrappers.inventory, .wrappers.cashier, 
        .wrappers.DashBoard,.wrappers.miscellaneous {position:relative;text-align: center;background-color:#808282;width:48px;height:50px;}
		
		.wrappers.miscellaneous:hover, .wrappers.miscellaneous.selected, .wrappers.miscellaneous.focus,.wrappers.printDME:hover, .wrappers.printDME.selected, .wrappers.printDME.focus,.wrappers.captureimage:hover, .wrappers.captureimage.selected, .wrappers.captureimage.focus,.wrappers.search:hover, .wrappers.search.selected, .wrappers.search.focus, .wrappers.services:hover, .wrappers.services.selected, .wrappers.services.focus, .wrappers.smart:hover, .wrappers.smart.selected, .wrappers.smart.focus, .wrappers.inventory:hover, .wrappers.inventory.selected, .wrappers.inventory.focus, .wrappers.cashier:hover, .wrappers.cashier.selected, .wrappers.cashier.focus {background:#90c74b ;width:48px; height:50px;}
		.wrappers.search:hover, .wrappers.search.selected, .wrappers.search.focus, .wrappers.services:hover, 
        .wrappers.services.selected, .wrappers.services.focus, .wrappers.smart:hover, .wrappers.smart.selected, 
        .wrappers.smart.focus, .wrappers.inventory:hover, .wrappers.inventory.selected, .wrappers.inventory.focus, 
        .wrappers.cashier:hover, .wrappers.cashier.selected, .wrappers.cashier.focus, .wrappers.DashBoard:hover, 
        .wrappers.DashBoard.selected, .wrappers.DashBoard.focus {background:#90c74b ;width:48px; height:50px;}
		
		/* ICON UP STATUS */
		.is-icon-tab {
					position: absolute;
					width: 29px;
					height:24px;
					top:13px;
					left: 12px;
					text-align: center;
				}
		
		.is-icon-tab.search{
					background:url(../img/shared/iSELL-Icon-Navigation-Search-Up.gif) no-repeat;
				}
		.is-icon-tab.services{
					background:url(../img/shared/iSELL-Icon-Navigation-Mobility-Up.gif) no-repeat;
				}
				.is-icon-tab.smeiservices {
    background: url("../img/shared/iSELL-Icon-Navigation-Mobility-Up.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
		.is-icon-tab.smart{
					background:url(../img/shared/iSELL-Icon-Navigation-Smart-Up.gif) no-repeat;
				}		
		.is-icon-tab.inventory{
					background:url(../img/shared/iSELL-Icon-Navigation-Inventory-Up.gif) no-repeat;
				}
		.is-icon-tab.cashier{
					background:url(../img/shared/iSELL-Icon-Navigation-Cashier-Up.gif) no-repeat;
				}	
				.is-icon-tab.captureimage{
					background:url(../img/shared/iSELL-Icon-Navigation-Search-Up.gif) no-repeat;
				}	
				
				.is-icon-tab.printDME{
					background:url(../img/shared/Isell_printer.gif) no-repeat;
				}				
			.is-icon-tab.DashBoard{
					background:url(../img/shared/iSELL-Icon-Navigation-Dashboard-Up.gif) no-repeat;
				}	
					.is-icon-tab.miscellaneous{
					background:url(../img/shared/iSELL-Icon-Navigation-Cashier-Up.gif) no-repeat;
				}
		/* ICON HOVER & SELECTED STATUS */		
		.is-menu-tab li:hover .is-icon-tab.search, .is-menu-tab li.wrappers.search.selected  .is-icon-tab.search, .is-menu-tab li.wrappers.search.focus  .is-icon-tab.search{
					background:url(../img/shared/iSELL-Icon-Navigation-Search-Over.gif) no-repeat;
				}
		.is-menu-tab li:hover .is-icon-tab.captureimage, .is-menu-tab li.wrappers.captureimage.selected  .is-icon-tab.captureimage, .is-menu-tab li.wrappers.captureimage.focus  .is-icon-tab.captureimage{
					background:url(../img/shared/iSELL-Icon-Navigation-Search-Over.gif) no-repeat;
				}
				
				.is-menu-tab li:hover .is-icon-tab.printDME, .is-menu-tab li.wrappers.printDME.selected  .is-icon-tab.printDME, .is-menu-tab li.wrappers.printDME.focus  .is-icon-tab.printDME{
					background:url(../img/shared/Isell_printer.gif) no-repeat;
				}
		.is-menu-tab li:hover .is-icon-tab.services, .is-menu-tab li.wrappers.services.selected  .is-icon-tab.services, .is-menu-tab li.wrappers.services.focus  .is-icon-tab.services{
					background:url(../img/shared/iSELL-Icon-Navigation-Mobility-Over.gif) no-repeat;
				}
		.is-menu-tab li:hover .is-icon-tab.smart, .is-menu-tab li.wrappers.smart.selected  .is-icon-tab.smart, .is-menu-tab li.wrappers.smart.focus  .is-icon-tab.smart{
					background:url(../img/shared/iSELL-Icon-Navigation-Smart-Over.gif) no-repeat;
				}				
		
		.is-menu-tab li:hover .is-icon-tab.inventory, .is-menu-tab li.wrappers.inventory.selected  .is-icon-tab.inventory, .is-menu-tab li.wrappers.inventory.focus  .is-icon-tab.inventory{
					background:url(../img/shared/iSELL-Icon-Navigation-Inventory-Over.gif) no-repeat;
				}
		.is-menu-tab li:hover .is-icon-tab.cashier, .is-menu-tab li.wrappers.cashier.selected  .is-icon-tab.cashier, .is-menu-tab li.wrappers.cashier.focus  .is-icon-tab.cashier{
					background:url(../img/shared/iSELL-Icon-Navigation-Cashier-Over.gif) no-repeat;
				}
				.is-menu-tab li:hover .is-icon-tab.miscellaneous, .is-menu-tab li.wrappers.miscellaneous.selected  .is-icon-tab.miscellaneous, .is-menu-tab li.wrappers.miscellaneous.focus  .is-icon-tab.miscellaneous{
					background:url(../img/shared/iSELL-Icon-Navigation-Cashier-Over.gif) no-repeat;
				}
		
		.is-menu-tab li:hover .is-icon-tab.DashBoard, .is-menu-tab li.wrappers.DashBoard.selected  .is-icon-tab.DashBoard, .is-menu-tab li.wrappers.DashBoard.focus  .is-icon-tab.DashBoard{
					background:url(../img/shared/iSELL-Icon-Navigation-Dashboard-Over.gif) no-repeat;
				}
		.tooltip2{display:none;z-index:9999;}
		
		.tooltip2.focus {z-index:9999; width:180px;position:relative;left:48px;top:-52px; display: block;background: #808282;border-top:1px solid #aaaaaa;
	border-bottom:1px solid #4d4d4d;text-align:left;float:left;height:50px;-webkit-text-shadow: 1px 1px 0px #000;color:#fff;
    -moz-text-shadow:  1px 1px 0px #000;
    text-shadow:  1px 1px 0px #000;}
		
		.tooltip2 a{color:#ced3d6;}
		.tooltip2.focus  a:hover{display:block;background: #90c74b;border-top:1px solid #cccccc;color:#fff;}
		.is-submenu-text{padding:15px 0 15px 15px;}
		
		/* IE can just show/hide with no transition */
		.lte8 .wrappers .tooltip {
		  display: none;
		}
		
		.lte8 .wrappers:hover .tooltip {
		  display: block;
		}
		/* PRODUCT MENU =========================================================================*/
		.horizontal-nav ul li a {
			font-size:16px;
		}
		
		/* CAROUSEL =============================================================================*/
		.list_carousel li {
			font-size: 15px;
			font-family: 'frutigerlight';
			color: #4d4d4d;
			text-align: center;
			width: 204px;
			height: 246px;
			padding: 15px 0 0 0 ;
			margin: 6px;
			display: block;
			float: left;
			
		}
		
		.carousel-content{
			width:204px;
			height:200px;
			border:1px solid #999999;
			background-color:#FFFFFF;
			padding:25px 0 0 0;
			-webkit-border-radius:5px 5px 5px 5px;
			-moz-border-radius:5px 5px 5px 5px;
			border-radius:5px 5px 5px 5px;
			z-index:9;
			position:relative;
		}
		.carousel-content.focus{
			width:204px;
			height:200px;
			border:1px solid #0184c1;
			background-color:#41a0cc;
			padding:25px 0 0 0;
			-webkit-border-radius:5px 5px 5px 5px;
			-moz-border-radius:5px 5px 5px 5px;
			border-radius:5px 5px 5px 5px;
			z-index:9;
			position:relative;
		}
		
		/* Mobility services - Summary style ========================== */
		
		td#summary-label{width:110px;font-family: 'frutigerblack';font-size:14px;color:#4d4d4d;}
		td#summary-seperator{width:10px;}
		td#summary-data{width:180px;font-family: 'frutigerlight';font-size:16px;color:#7f7e7e;}
		td#summary-data-nowidth{font-family: 'frutigerlight';font-size:16px;color:#7f7e7e;}
		
