/*  GRID OF TWELVE   ============================================================================= */

.span_12_of_12 {
	/*width: 100%;*/
	width: 97%;
}

.span_11_of_12 {
	/*width: 91.53%;*/
	width: 88.666%;
}

.span_10_of_12 {
	/*width: 83.06%;*/
	width: 80.333%;
}

.span_9_of_12 {
	/*width: 74.6%;*/
	width: 72%;
}

.span_8_of_12 {
	/*width: 66.13%;*/
	width: 63.666%;
}

.span_7_of_12 {
	/*width: 57.66%; */
	width: 55.333%;
}

.span_6_of_12 {
	/*width: 49.2%; */
	width: 47%;
}

.span_5_of_12 {
	/*width: 40.73%; */
	width: 38.666%;
}

.span_4_of_12 {
	/*width: 32.26%; */
	width: 30.333%;
}

.span_3_of_12 {
	/*width: 23.8%;*/
	width: 22%;
}

.span_2_of_12 {
	/*width: 15.33%; */
	width: 13.666%;
}

.span_1_of_12 {
	/*width: 6.86%;*/ 
	width: 5.333%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_12_of_12 {
		width: 100%; 
	}
	.span_11_of_12 {
		width: 100%; 
	}
	.span_10_of_12 {
		width: 100%; 
	}
	.span_9_of_12 {
		width: 100%; 
	}
	.span_8_of_12 {
		width: 100%; 
	}
	.span_7_of_12 {
		width: 100%; 
	}
	.span_6_of_12 {
		width: 100%; 
	}
	.span_5_of_12 {
		width: 100%; 
	}
	.span_4_of_12 {
		width: 100%; 
	}
	.span_3_of_12 {
		width: 100%; 
	}
	.span_2_of_12 {
		width: 100%; 
	}
	.span_1_of_12 {
		width: 100%; 
	}
}