/*  GRID OF THREE   ============================================================================= */

	
.span_3_of_3 {
	/*width: 100%;*/ 
	width: 249px;
	height:auto;
	min-height:100%;
}

.span_2_of_3 {
	width: 70%; 
	height:auto;
	min-height:100%;
}

.span_1_of_3 {
	/*width: 32.26%; */
	width:182px;
	height:auto;
	min-height:100%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
}