 ul.isell-menu {
	margin:0px;
	
}
ul.isell-menu li {
    /*background:#555;*/
    height:50px;
	width:182px;
	line-height:26px;
	list-style:none;
	padding-left:35px;
	border-top:#fff solid;
	border-bottom:#fff solid;
	border-width:1px;
	cursor:pointer;
	
	margin-top:3px;
}

ul.isell-menu li a {
	color:#FFF;
	text-decoration:none;
	text-transform:uppercase;
}
ul.isell-menu li:hover {
	background-color:#a1a1a1;
	position:relative;
}
ul.isell-menu ul {
	display:none;
	position:absolute;
	left:182px;
	top:5px;
	z-index:100;
}
ul.isell-menu li:hover ul {
	display:block;
}
ul.isell-menu ul li {
	width:150px;
	float:left;
	display:inline;
	border:none;
    margin-top:3px;
}
ul.isell-menu ul li:hover {
	text-decoration:none;
	border:none;
}
.home {
    background: #64a72c url('http://4.bp.blogspot.com/-X9kP7_RF4ao/UezVD2qNZuI/AAAAAAAAA48/lKv3226KDHo/s1600/Create+Responsive+Vertical+Dropdown+Navigation+Menu+home.png') no-repeat;
	color:#FFF;
	padding-top:5px;
	padding-left:55px;
	text-decoration:none;
	text-transform:uppercase;
	background-size:45px 40px;
	
}
.about{
    background: #2c64a7 url('http://1.bp.blogspot.com/-dvnFgJtmzeA/UezVJqa7-7I/AAAAAAAAA5E/xirusMIRJcY/s1600/Create+Responsive+Vertical+Dropdown+Navigation+Menu+about.png') no-repeat;
	color:#FFF;
	padding-top:5px;
	padding-left:55px;
	text-decoration:none;
	text-transform:uppercase;
	background-size:45px 40px;
	
}
.services{
    background: #e65100 url('http://4.bp.blogspot.com/-e1Nc6y7k170/UezVPRTYt9I/AAAAAAAAA5M/zMlHUeNtm-w/s1600/Create+Responsive+Vertical+Dropdown+Navigation+Menu+services.png') no-repeat;
	color:#FFF;
	padding-top:5px;
	padding-left:55px;
	text-decoration:none;
	text-transform:uppercase;
	background-size:45px 40px;
	
}
.contact{
    background: #a72c64 url('http://4.bp.blogspot.com/-k9c7ySpxM_o/UezVVf9l5dI/AAAAAAAAA5U/VF3rmGXS5ZA/s1600/Create+Responsive+Vertical+Dropdown+Navigation+Menu+contact.png') no-repeat;
	color:#FFF;
	padding-top:5px;
	padding-left:55px;
	text-decoration:none;
	text-transform:uppercase;
	background-size:45px 40px;
	
}

.isell-submenu {
    background: #0095e6;
	height:35px;
	background-size:28px 28px;
    background-position:5px 5px;
    padding-top:5px;
    padding-left:38px;
}

.about1 {
    background: #0095e6 url('http://2.bp.blogspot.com/-21k0tiY6Q8s/UezVdu6zauI/AAAAAAAAA5c/CV1Niz0qefE/s320/Create+Responsive+Vertical+Dropdown+Navigation+Menu+about+1.png') no-repeat;
	height:35px;
	background-size:28px 28px;
    background-position:5px 5px;
    padding-top:5px;
    padding-left:38px;
}


.services1 {
    background: #e65100 url('http://3.bp.blogspot.com/-GAqHVCBGHTs/UezVi3XcDUI/AAAAAAAAA5k/eFm82CMuEg0/s1600/Create+Responsive+Vertical+Dropdown+Navigation+Menu+services+1.png') no-repeat;
	height:35px;
	background-size:24px 24px;
    background-position:5px 5px;
    padding-top:5px;
}
.services2 {
    background: #e65100 url('http://3.bp.blogspot.com/-GAqHVCBGHTs/UezVi3XcDUI/AAAAAAAAA5k/eFm82CMuEg0/s1600/Create+Responsive+Vertical+Dropdown+Navigation+Menu+services+1.png') no-repeat;
	height:55px;
	background-size:24px 24px;
    background-position:5px 13px;
}
.services3 {
    background: #e65100 url('http://3.bp.blogspot.com/-GAqHVCBGHTs/UezVi3XcDUI/AAAAAAAAA5k/eFm82CMuEg0/s1600/Create+Responsive+Vertical+Dropdown+Navigation+Menu+services+1.png') no-repeat;
	height:75px;
	background-size:24px 24px;
    background-position:5px 28px;
}
.contact1 {
    background: #ca3b7d url('http://3.bp.blogspot.com/-tDJVGZI4t8M/UezVrO1ISQI/AAAAAAAAA5s/GrsMUjXaSQA/s1600/Create+Responsive+Vertical+Dropdown+Navigation+Menu+contact+1.png') no-repeat;
	height:35px;
	background-size:24px 24px;
    background-position:5px 5px;
    padding-top:5px;
}