﻿.rfTableSk
{
    width: 670px;
    border-spacing: 0px;
}
.GeneralTd td
{
    vertical-align: top;
    font-size: 0.7em;
    font-family: Arial, Tahoma, sans-serif;
}
.rfTableSk td
{
    vertical-align: top;
    font-size: x-small;
    font-family: Arial, Tahoma, sans-serif;
}

.rfTableContr
{
    width: 670px;
    border-spacing: 0px;

}
.rfTableContr td
{
 /*   vertical-align: top;*/
    font-size: x-small;
    font-family: Arial, Tahoma, sans-serif;
}
.rfTable
{
    width: 670px;
    border-spacing: 0px;
            
}
.rfTable td
{
  /*  vertical-align: top;*/
    font-size: x-small;
    font-family: Arial, Tahoma, sans-serif;
}
        
.rfTermsTable
{
    width: 670px;
    border-spacing: 0px;           
}     
.rfTermsTable td
{
    vertical-align: top; /*font-size:0.7em;*/ /* font-size:x-small;*/
    font-size: 0.7em; /*font-family: Arial, Tahoma, sans-serif;*/
    font-family: Arial;
    padding: 0;
}
.rfTable .tdHeader
{
    background-color: Black;
    color: White;
    text-transform: uppercase;
}
.pageBreak
{
    page-break-before: always;
}
.pageBreak2
{
    page-break-after: always;
}
/*.signature-backgound
{
	width:100%;
	height:200px;
	float:left;
	background-image:url(../images/maxis_use_only_s.png);
    background-repeat:no-repeat;
}
.signature-after-sign
{
	text-align: center; 
	vertical-align: middle;
	transform: translate(50%, 100%);
}*/
.signature-backgound
	{
	    height:200px;
	    display:inline-flex;
	    width:400px;
	    /*float:left;*/
	    background-image:url(../images/maxis_use_only_s.png);
        background-repeat:no-repeat;        
	}
	
	.signature-after-sign
	{
	text-align: center; 
    vertical-align: middle;
    margin: auto;
	}