/* RESPONSIVE GRID SYSTEM =============================================================================  */

/*  FONTS  ============================================================================= */

@font-face {
    font-family: 'frutigerlight';
    src: url('fonts/ftl____.pfb-webfont.eot');
    src: url('fonts/ftl____.pfb-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ftl____.pfb-webfont.woff') format('woff'),
         url('fonts/ftl____.pfb-webfont.ttf') format('truetype'),
         url('fonts/ftl____.pfb-webfont.svg#frutigerlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'frutigerroman';
    src: url('fonts/ftr____.pfb-webfont.eot');
    src: url('fonts/ftr____.pfb-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ftr____.pfb-webfont.woff') format('woff'),
         url('fonts/ftr____.pfb-webfont.ttf') format('truetype'),
         url('fonts/ftr____.pfb-webfont.svg#frutigerroman') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'frutigerblack';
    src: url('fonts/ftbl___.eot');
    src: url('fonts/ftbl___.eot?#iefix') format('embedded-opentype'),
         url('fonts/ftbl___.woff') format('woff'),
         url('fonts/ftbl___.ttf') format('truetype'),
         url('fonts/ftbl___.svg#frutigerroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

  /* Loader */
  
  .busyLoader
  {
      background:url(../img/shared/iSELL-loading.gif) no-repeat;
  }
  
  
/* Tool Tip */
/* 
	Required Styles
*/
#aToolTip {
	position: absolute;
	display: none;
	z-index: 50000;
}

	#aToolTip .aToolTipContent {
		position:relative;
		margin:0;
		padding:0;
	}
/* 
	END: Required Styles
*/
/**
	Default Theme
*/
.defaultTheme {
	border:2px solid #444;
	background:#E6E6E6;
	color:#000;
	margin:0;
	padding:6px 12px;	
	font-family: 'frutigerlight';
	-moz-border-radius: 12px 12px 12px 0;
	-webkit-border-radius: 12px 12px 12px 0;
	-khtml-border-radius: 12px 12px 12px 0;
	border-radius: 12px 12px 12px 0;
	
	-moz-box-shadow: 2px 2px 5px #111; /* for Firefox 3.5+ */
	-webkit-box-shadow: 2px 2px 5px #111; /* for Safari and Chrome */
	box-shadow: 2px 2px 5px #111; /* for Safari and Chrome */
}
	
	.defaultTheme #aToolTipCloseBtn {
		display:block;
		height:18px;
		width:18px;
		background:url(../images/closeBtn.png) no-repeat;
		text-indent:-9999px;
		outline:none;
		position:absolute;
		top:-20px;
		right:-15px;
		margin:2px;
		padding:4px;
	}

/* End of Tool tip Css */
/* BASIC PAGE SETUP ============================================================================= */

body { 
margin : 0 auto;
padding : 0;
font : 100%/1.4 Arial, Helvetica, sans-serif; 	
color : #000; 
text-align: left;
background: #4D4D4D ;
}
body.login{background:#e6e6e6;}



button, 
input,
textarea { 
font-family : frutigerlight, Arial, Helvetica, sans-serif; 
color : #333; }

select{display: inline-block;
height: 30px;
line-height: 30px;
border: 1px solid #aaa;
padding: 5px 10px 5px 10px;
color: #333;
}
select { 
font-family : Arial, Helvetica, sans-serif; 
color : #333; }

select{display: inline-block;
height: 33px;
line-height: 30px;
border: 1px solid #aaa;
padding: 5px 10px 5px 10px;
color: #333;
}

/*  HEADINGS  ============================================================================= */

h1, h2, h3, h4, h5, h6 {
font-family:  'frutigerroman';
font-weight : normal;
margin-top: 10px;
letter-spacing: -1px;
}

h1 { 
font-family:  'frutigerroman';
color: #000;
margin-bottom : 0.2em;
font-size : 6em; /* 96 / 16 */
line-height : 1.4;
}


h2 { 
color: #222;
margin-bottom : .5em;
margin-top : .5em;
font-size : 2.75em; /* 40 / 16 */
line-height : 1.2;
}

h3 { 
color: #333;
margin-bottom : 0.3em;
letter-spacing: -1px;
font-size : 1.75em; /* 28 / 16 */
line-height : 1.3; }


h4 { 
color: #444;
margin-bottom : 0.5em;
font-size : 1.5em; /* 24 / 16  */
line-height : 1.25; }

	footer h4 { 
		color: #ccc;
	}

h5 { 
color: #555;
margin-bottom : 1.25em;
font-size : 1em; /* 20 / 16 */ }

h6 { 
color: #666;
font-size : 1em; /* 16 / 16  */ }

/*  TYPOGRAPHY  ============================================================================= */

p, ol, ul, dl, address { 
/*margin-bottom : 1.5em; */
font-size : 1em; /* 16 / 16 = 1 */ }

p {
hyphens : auto;  }


p.introtext {
font-family: arial, helvetica, helve, sans-serif;
font-size : 2.5em; /* 40 / 16 */
color: #333;
line-height: 1.4em;
letter-spacing: -1px;
margin-bottom: 0.5em;
}


p.handwritten {
font-family:  arial, helvetica, helve, sans-serif; 
font-size: 1.375em; /* 24 / 16 */
line-height: 1.8em;
margin-bottom: 0.3em;
color: #666;
}

p.center {
text-align: center;
}


.and {
font-family: arial, helvetica, helve, sans-serif;
font-size: 1.5em; /* 24 / 16 */
}

.heart {
font-size: 1.5em; /* 24 / 16 */
}

ul, 
ol { 
/*margin : 0 0 1.5em 0;*/ 
/*padding : 0 0 0 24px;*/ 
padding : 0px;
}

li ul, 
li ol { 
margin : 0;
font-size : 1em; /* 16 / 16 = 1 */ }

dl, 
dd { 
margin-bottom : 1.5em; }

dt { 
font-weight : normal; }

b, strong { 
font-weight : bold;
font-family: 'frutigerroman';
 }

hr { 
display : block; 
margin : 1em 0; 
padding : 0;
height : 1px; 
border : 0; 
border-top : 1px solid #ccc;
}

small { 
font-size : 1em; /* 16 / 16 = 1 */ }

sub, sup { 
font-size : 75%; 
line-height : 0; 
position : relative; 
vertical-align : baseline; }

sup { 
top : -.5em; }

sub { 
bottom : -.25em; }

.subtext {
	color: #666;
	}


/* LINKS =============================================================================  */

a { 
color : #cc1122;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
text-decoration: none;
}

a:visited { 
color : #ee3344; }

a:focus { 
outline : thin dotted; 
color : rgb(0,0,0); }

a:hover, 
a:active { 
outline : 0;
color : #dd2233;
}


footer a { 
color : #ffffff;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

footer a:visited { 
color : #fff; }

footer a:focus { 
outline : thin dotted; 
color : rgb(0,0,0); }

footer a:hover, 
footer a:active { 
outline : 0;
color : #fff;
}


/* IMAGES ============================================================================= */

img {
border : 0;
max-width: 100%;
height: auto;
width: auto\9; /* ie8 */
}

img.floatleft { float: left; margin: 0 10px 0 0; }
img.floatright { float: right; margin: 0 0 0 10px; }


/* TABLES ============================================================================= */

table { 
border-collapse : collapse;
border-spacing : 0;
/*margin-bottom : 1.4em; */
width : 100%; }

th, td, caption { 
padding : .25em 10px .25em 5px; }

tfoot { 
font-style : italic; }

caption { 
background-color : transparent; }

/* FORMS ============================================================================= */

form { 
margin : 0; }

fieldset { 
margin-bottom : 1.5em; 
padding : 0; 
border-width : 0; }

label{
font-weight : bold;
/*cursor : pointer;*/
display:block;
margin:0;
position:relative;
top:0;
left:0;

font-size:13px;
color:#4d4d4d;
/*line-height:2.0em;*/
}

	label.inline{
	display:inline;
	margin:0;
	}
	
	label span{
	color:#666;
	font-size:0.9em;
	}
	
	label span.right{
	position:absolute;
	bottom:0;
	right:1em;
	text-align:right;
	}
	
	label.disabled{
	color:#ccc;
	}


button, 
search,
input, 
select, 
textarea { 
font-size : 100%; 
margin : 0; 
vertical-align : baseline; 
*vertical-align : middle; }

button, input { 
line-height : normal; 
*overflow : visible; }

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] { 
padding: 0.5em 1em;
margin: 0;
cursor : pointer; 
text-shadow:0 1px 0 #fff;
}


input[type="checkbox"], 
input[type="radio"] { 
box-sizing : border-box; }

input[type="search"] { 
	box-sizing : content-box;
}

button::-moz-focus-inner, 
input::-moz-focus-inner { 
padding : 0;
border : 0;  }

input{
margin:0;
border:1px solid #ccc;
font-size:1em;
padding:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
background:#fff;

/*-moz-box-shadow:inset 0px 0px 6px #ccc;
-webkit-box-shadow:inset 0px 1px 6px #ccc;
box-shadow:inset 0px 1px 6px #ccc;*/
}

	input::-webkit-input-placeholder,
	input:-moz-placeholder,
	.placeholder{
	color:#bbb;
	}
	
	input::-moz-focus-inner {border:0;}

	input[disabled="disabled"], input.disabled{
	color:#999;
	background:#f5f5f5;
	/*-moz-box-shadow:inset 0px 0px 2px #ddd;
	-webkit-box-shadow:inset 0px 1px 2px #ddd;
	box-shadow:inset 0px 1px 2px #ddd;*/
	}


/* Colors for form validity */
input:valid, 
textarea:valid   {  
/* Styles */ }

input:invalid, 
textarea:invalid {
-webkit-box-shadow : 0 0 2px #f00; 
-moz-box-shadow : 0 0 2px #f00;
box-shadow : 0 0 2px #f00; }

.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid {
background-color : #ccc; }

/* placeholder */
::-webkit-input-placeholder { color:#cccccc; }
::-moz-placeholder { color:#cccccc; } /* firefox 19+ */
:-ms-input-placeholder { color:#cccccc; } /* ie */
input:-moz-placeholder { color:#cccccc; }



/*  MAIN LAYOUT	============================================================================= */

#skiptomain { display: none; }
.isell-logo{padding-left:15px;float:left;}
.topbar-menu{float:right;padding-right:20px;}
.about-txt {float:left;color:#b9bdc0;font-size:13px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;padding:13px 30px 0 0;}
.announcement-txt {float:left;color:#b9bdc0;font-size:13px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;padding:15px 30px 0 0;}
.help-txt {float:left;color:#b9bdc0;font-size:13px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;padding:12px 30px 0 0;}
.account-txt{float:left;color:#b9bdc0;font-size:13px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;padding:15px 20px 0 0;}

.about-txt a, .account-txt a, .announcement-txt a, .help-txt a{color:#b9bdc0;}
.about-txt a:hover, .account-txt a:hover, .announcement-txt a:hover, .help-txt a:hover{color:#b9bdc0; text-decoration:underline;}

/*#maincontentcontainer, #wrapper{width:100%;
    min-height:300px;
    padding:0;
    margin:0;
    position:relative; background-color:#4d4d4d;}*/

#coverage-check-overlay a h2, #inventory-dashboard-overlay a h2, #icatalogue-overlay a h2, #backHome-overlay a h2{
    font-size: 16px;
    font-family: "aaux_nextbold",Arial,sans-serif;
    margin: 0px;
    line-height: 1.1;
    font-weight: 500;
}

#coverage-check-overlay a h2, #icatalogue-overlay a h2, #inventory-dashboard-overlay a h2, #backHome-overlay a h2{
    color: rgb(66, 139, 202);
}

#wrapper{
    width:100%;
    background-color:#4d4d4d;
}
	#headcontainer {
		width: 100%;
		height:50px;
		background-color:#4d4d4d;
	}
	#maincontentcontainer {
		display:table;
		width:100%;
	}
	#maincontentcontainer > div{
		display:table-cell;
	   
	}
	#logincontainer{
		display:table;
		width:100%;
		background-color:#e6e6e6;
	}	
	
	#left {
		width:182px;
		min-width:182px;
		background-color:#4d4d4d;
		vertical-align:top;
	}
	
	#center {
		min-width:50px;
		background-color:#e6e6e6;
		vertical-align:top;
	}
	
	#center-2 {
		min-width:50px;
		background-color:#e6e6e6;
		vertical-align:top;
		margin-left:104px;
		margin-right:104px;
	}
	
	#right {
		width:251px;
		min-width:249px;
		background-color:#fff;
		vertical-align:top;
		height: 100%;
	}
	#right-box{
		background-color:#e6e6e6;
		padding-top:110px;
		height: 100%;
	}
	#right-box-frame{
		border-top:1px solid #a7a7a7;
		border-left:1px solid #a7a7a7;
	}
	.center_box{
		width:95%;
		border-left:1px solid #a7a7a7; 
		border-right:1px solid #a7a7a7; 
		border-bottom:1px solid #a7a7a7; 
		margin:18px auto;
	}
	.content{padding:0px; }
	.content_white{padding:0px; background-color:#FFFFFF; }
		.standardcontainer {
			
		}
		
		.darkcontainer {
			background: rgba(102, 102, 102, 0.05);
		}

		.lightcontainer {
			background: rgba(255, 255, 255, 0.33);
		}
		
			#maincontent{
				clear: both;
				width: 100%;
				font-size: 0.8125em; /* 13 / 16 */
				max-width: 100%;
				margin: 0 auto;
				padding: 1em 0px;
				color: #333;
				line-height: 1.5em;
				position: relative;
			}
		
			.maincontent{
				clear: both;
				width: 80%; /* 1000px / 1250px */
				font-size: 0.8125em; /* 13 / 16 */
				max-width: 92.3em; /* 1200px / 13 */
				margin: 0 auto;
				padding: 1em 0px;
				color: #333;
				line-height: 1.5em;
				position: relative;
			}

	#footercontainer {
		width: 100%;	
		border-top: 1px solid #000;
		background: #222 url(/images/footerback.png) left top;
	}
	
		footer {
			clear: both;
			width: 100%;
			font-size: 0.8125em; /* 13 / 16 */
			max-width: 100%;
			margin: 0 auto;
			padding: 20px 0px 10px 0px;
			color: #999;
		}

		footer strong {
			font-size: 1.077em; /* 14 / 13 */
			color: #aaa;
		}

		footer a:link, footer a:visited { color: #999; text-decoration: underline; }
		footer a:hover { color: #fff; text-decoration: underline; }
	
	/* Text styles ===================================================*/		
	.header-title{font-family: 'frutigerblack';font-size:30px;color:#4e4e4e;width:95%;margin:15px auto;}
	.gst-notif{width: 95%;margin: auto;}
	.cdpu-takelock{width: 95%;margin: auto;}
	.txt-18-black-normal{font-family:Arial, Helvetica, sans-serif;font-size:18px;color:#57575b;font-weight:normal;}
	.txt-14-black-bold{font-family:'frutigerroman';font-size:14px;color:#000;font-weight:bold;}
	.txt-14-grey-normal{font-family: 'frutigerlight';font-size:14px;color:#7f7e7e;font-weight:normal;}
	.txt-15-grey-normal{font-family: 'frutigerlight';font-size:15px;color:#7f7e7e;font-weight:normal;}
	.txt-15-grey-bold{font-family: 'frutigerroman';font-size:15px;color:#4d4d4d;font-weight:normal;}
	.txt-16-grey-bold{font-family: 'frutigerroman';font-size:16px;color:#4d4d4d;font-weight:normal;}
	.txt-16-grey-normal{font-family: 'frutigerlight';font-size:16px;color:#4d4d4d;font-weight:normal;}
	.txt-16-red-bold{font-family:'frutigerroman';font-size:16px;color:#ff0000;font-weight:normal;}
	.txt-16-green-bold{font-family:'frutigerroman';font-size:16px;color:#33CC00;font-weight:normal;}
	.txt-16-amber-bold{font-family:'frutigerroman';font-size:16px;color:#FFC200;font-weight:normal;}
	.txt-12-black-bold{font-size:11px;font-weight:bold;color:#000;font-family:'frutigerlight';}
	.txt-14-black-normal{font-family:'frutigerlight';font-size:14px;color:#4d4d4d;font-weight:normal;}
	.txt-11-grey-normal{font-family:'frutigerlight';font-size:13px;color:#7a7a7a;font-weight:normal;}
	.txt-11-grey-bold{font-family:'frutigerlight';font-size:13px;font-weight:normal;color:#7a7a7a;float:left;}
	.txt-17-grey-normal{font-family:Arial, Helvetica, sans-serif;font-size:17px;color:#57575b;font-weight:normal;}
	 .plan-outerbox .plan-title{font-family:Arial, Helvetica, sans-serif;font-size:x-large;color:#505865;font-weight:normal;text-align:center;width:100%; -webkit-hyphens:manual; -moz-hyphens:manual; hyphens:manual;}
		 .plan-outerbox .plan-status{font-size:12px;font-weight:normal;color:#7a7a7a;font-family:Arial, Helvetica, sans-serif;text-align:center;}
	.contract-title{font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#505865;font-weight:bold;text-align:center;width:100%; -webkit-hyphens:manual; -moz-hyphens:manual; hyphens:manual;}
	.contract-status{font-size:12px;font-weight:normal;color:#7a7a7a;font-family:Arial, Helvetica, sans-serif;text-align:center;}
	
	.plan-innerbox.focus .contract-title{font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#fff;font-weight:bold;text-align:center;width:100%;}
	.txt-12-black-bold .service-payable-label, .txt-12-black-bold.PriceClass{font-size:12px;}
	/* Span styles ================================================*/
	.service-device-label{display:block;float:left;} /*width:60px;*/
	.service-device-devider{width:10px;display:block;float:left;}
	.service-payable-label{width:160px;display:block;float:left;}
   .service-payable-labelComp{width:150px;display:block;float:left;}
	.service-payable-devider{width:10px;display:block;float:left;}
	.service-gst-label{width:16px;display:block;float:right;}
	
	/* Login style =================================================*/
	.login-panel{width:410px;float:left;position:relative;top:-130px;}
	.login-panel-bg{/*background:url(../img/shared/iSELL-Login-BGImage.png) no-repeat;*/ background-color:#E6E6E6; box-shadow:0 1px 2px #888888; padding-bottom:10px; width:410px;/*height:263px;*/}
	.login-box{display:block; vertical-align:middle;width:300px;margin:0px auto;padding-top:25px;}
	.logo-box{display:block; vertical-align:middle;width:365px;margin:60px auto;text-align:center;}
	.login-header-bar{width:100%;height:170px;background-color:#90c748;}
	.login-header-box{width:980px; margin:0 auto;height:170px;}
	.login-header-text{vertical-align:middle;line-height:170px;font-family:'frutigerlight';font-size:48px;color:#fff;padding-left:15px;}
	.login-content-box{width:980px; margin:0 auto;}
	.login-announcement{width:260px;float:left;padding:30px 10px 0 15px;}
	.login-announcement-title{font-family:Arial, Helvetica, sans-serif;font-size:18px;font-weight:bold;color:#57575b;}
	.login-announcement-box{padding-top:20px;}
	.login-announcement-date{font-family:'frutigerroman';font-size:11px;color:#999;}
	.login-announcement-text a{font-family:'frutigerlight';font-size:13px;color:#184894;}
	.login-announcement-text a:hover{font-family:'frutigerlight';font-size:13px;color:#184894;text-decoration:underline;}
	.login-contact-box{width:270px;float:left;padding-top:30px;}
	.login-contact-title{font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:14px;color:#57575b;}
	.login-contact-text{font-family:'frutigerlight';font-size:20px;color:#4d4d4d;}
	.reset-contact{font-family:'frutigerlight';font-size:13px;color:#000;padding-left:30px;}
	.reset-contact a {color:#000;}
	.reset-contact a:hover {text-decoration:underline;}
	input.contact, textarea.contact{
	margin:0px 0px 10px 0px;
	border:1px solid #ccc;
	font-size:1em;
	padding:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:#fff;
	width:250px;
	}
	
	input.login{
	margin:0px 0px 10px 0px;
	border:1px solid #ccc;
	font-size:1.2em;
	padding:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background:#fff;
	width:300px;height:35px;
	}
	.change-password{font-family:'frutigerlight';font-size:15px;color:#505865;padding-left:30px;}
	.change-password a {color:#505865;}
	.change-password a:hover {text-decoration:underline;}
	.login-text-35{text-align:right;font-family:'frutigerlight';font-size:35px;color:#666;padding-top:20px;}
	
	.copyright{font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#626262;padding-left:20px;}
	.copyright a {color:#505865;}
	.copyright a:hover {text-decoration:underline;}
	
	/* Mobility services - Plan style =================================*/
	.plan-outerbox{width:19.86%; height:210px; float:left;position:relative;display:table-cell;text-align:center;border-bottom:1px solid #ccc;border-right:1px solid #ccc;overflow:hidden; }
	.plan-innerbox{display: table-cell;vertical-align: middle;height:210px;text-align:center;width:inherit;padding:0 5px 0 5px;overflow:visible;}
	
	/* Mobility services - Number style ===============================*/
	.number-search{margin:0px auto;display:block;text-align:center;font-size:13px;font-family:Arial, Helvetica, sans-serif;color:#505865;font-weight:bold;}
	input.search-number{padding:10px;font-size:16px;}
	.number-outerbox{width:16.5%; height:50px; float:left;position:relative;display:table-cell;text-align:center;border-bottom:1px solid #ccc;border-right:1px solid #ccc;background:#f2f2f2; }
	.number-innerbox{display: table-cell;vertical-align: middle;height:50px;text-align:center;width:inherit;}
	.number{font-size:16px;font-family:Arial, Helvetica, sans-serif;color:#505865;font-weight:bold;}

	/* Mobility services - Devices style ==============================*/
	.device-wrap{padding:0 20px 10px 0; float:left;}
	.device-content{
		width:125px;
		height:125px;
		border:1px solid #999999;
		background-color:#FFFFFF;
		-webkit-border-radius:5px 5px 5px 5px;
		-moz-border-radius:5px 5px 5px 5px;
		border-radius:5px 5px 5px 5px;
		z-index:9;
		display:table-cell;
		text-align:center;
		vertical-align:middle;
		cursor:pointer;
	}
	.device-content.focus{
		width:125px;
		height:125px;
		border:1px solid #0184c1;
		background-color:#41a0cc;
		-webkit-border-radius:5px 5px 5px 5px;
		-moz-border-radius:5px 5px 5px 5px;
		border-radius:5px 5px 5px 5px;
		z-index:9;
		display:table-cell;
		text-align:center;
		vertical-align:middle;
	}
	/* Mobility services - Customer style .signature-box */
	 .form-row{height:50px;width:100%; /*New styles added -->*/ font-family:'frutigerlight'; font-size:15px;}
	 .form-label{float:left;width:20%;font-weight:bold;font-family: 'frutigerblack'; color:#4d4d4d; /*line-height:2.0em; font-size:13px;*/ /*New styles replaced -->*/line-height:normal;font-size:13px; }
	 .td-label{font-family: 'frutigerblack'; color:#4d4d4d; /*line-height:2.0em; font-size:13px;*/ /*New styles replaced -->*/line-height:normal;font-size:13px; }
	 .form-field{float:left;padding-right:10px;}
	 .long-text-field{width:50%;}
	 input[type="text"].customer-form,select.customer-form {width:50%;}
	 input[type="image"].biometric-button {border:0px solid;background-color:transparent;padding:0px;}
	.form-row .form-label label /*New styles added for label inside form-label class-->*/
	{
	    font-size:15px; line-height:normal;
	}
	/* Mobility services - Summary style ========================== */
	.summary-queue{margin:0px auto;display:block;text-align:center;font-family: 'frutigerlight';font-size:16px;color:#4d4d4d;padding-top:0.5%;padding-bottom:0.5%;}
	.summary-title-bar{background-color:#f2f2f2;padding:10px 0 10px 20px;font-family:'frutigerblack';font-weight:normal;font-size:18px;color:#57575b;}
	td#summary-label{width:130px;font-family: 'frutigerblack';font-size:13px;color:#4d4d4d;font-weight:bold;}
	td#summary-seperator{width:10px;}
	

	td#summary-data{width:200px;font-family: 'frutigerlight';font-size:14px;color:#7f7e7e;/*padding-top: 6px;*/}
	td#summary-data-nowidth{font-family: 'frutigerlight';font-size:14px;color:#7f7e7e;/*padding-top: 6px;*/}
	#summary-label{font-family: 'frutigerblack';font-size:14px;color:#4d4d4d;}
	.image-box{border:0px solid #ddd;margin-top:15px;width:287px; /*width:80%; height:250px;*/ }
	
	.signature-box
	{
	    width:402px;
	    height:202px;
	    float:left;
	    border:1px dashed #ddd;
	}
	
	.signature-backgound
	{
	    /*inline flex to centering signature inside signature box <Evan> */
	    height:200px;
	    display:inline-flex;
	    width:400px;
	    /*float:left;*/
	    background-image:url(../images/maxis_use_only_s.png);
        background-repeat:no-repeat;       
	}
	
	.signature-before-sign
	{
	    text-align: center; 
	    vertical-align: middle;
	    margin: 0 auto; 
	    background-image:url(../images/maxis_use_only_s.png);
	    float: left; 
	    width: 400px; 
	    height: 200px;
	}
	
	.signature-after-sign
	{
	    position:inherit;
	    margin: auto;
    text-align: center;
    vertical-align:middle;
	}
	
	.signatureDiv
	{
	    display: inline-flex;
	    /*width: 90%;*/
	    width: 400px;
	    height: 200px;
	    text-align: center;
	    overflow: hidden;
	    /*margin: auto;*/
	    /*vertical-align: baseline;*/
	    /* remove padding, for mobileRegSummary, to make the signature in center of the box*/
        /* padding-top:50px; */
	}
	
	/*signature on Views\SuppLine\SecondarylineRegSummary.cshtml line 1118*/
	.signature-draw
	{
	    display: block;
        overflow: auto;
        margin: auto;
	}
	
	/* Search result page style ====================================*/
	.content.search-header{
		background:#cccccc;
		height:89px;
		border-top:1px solid #a7a7a7
	}
	.content.ppidsearch-header{
		background:#cccccc;
		height:89px;
		border-top:1px solid #a7a7a7
	}
	.search-header-box{padding:14px 25px;}
	.search-result-wrapper{padding:20px;margin:0px auto;}
	.search-result-body{width:100%;margin-bottom:70px;}
	.search-hdr-title{font-family:'frutigerroman';font-size:23px;color:#57575b;font-weight:normal;float:left;padding-right:50px;}
	.search-hdr-body{float:left;font-family: 'frutigerlight';font-size:16px;color:#444;padding-right:15px;padding-top:8px;}
	.search-hdr-bodyMessage{font-family: 'frutigerlight';font-size:13px;color:#444;padding-top:8px;/*clear:both;clear both added - PN Fix*/}
	.idType-select{padding-right:25px;float:left;height:45px;width:150px;}
	input.search-input {
	 float:left;margin-right:15px;
	}
	input.search-button {
	  padding:0px;
	
	}
	.search-status-box{float:right;background:#c7e3a5;-webkit-border-radius:5px 5px 5px 5px-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;padding:10px 20px 10px 20px;font-family: 'frutigerroman';font-size:17px;color:#57575b;}
	.search-status-active{color:#2f8a01;}
	#search-table{margin-top:20px;}
	.row-header{background:#dddddd;font-family: 'frutigerlight';font-size:15px;color:#7f7e7e;font-weight:normal;}
	.row-bold-header{background:#fff;font-family: 'frutigerroman';font-size:15px;color:#4d4d4d;font-weight:bold;}
	.row-body{background:#fff;font-family: 'frutigerroman';font-size:15px;color:#4d4d4d;font-weight:normal;}
	
	/* Inentory page style ====================================*/
	.content.inventory-dheader{
		background:#cccccc;
		height:180px;
		border-top:1px solid #a7a7a7
	}
	.content.inventory-header{
		background:#cccccc;
		height:150px;
		border-top:1px solid #a7a7a7
	}
	.inventory-header-box{padding:20px 25px;}
	.inventory-result-wrapper{padding:20px;margin:0px auto;position:relative;}
	.inventory-result-body{width:100%;margin-bottom:70px;}
	.inventory-hdr-title{font-family:Arial, Helvetica, sans-serif;font-size:23px;color:#57575b;font-weight:bold;float:left;padding-right:50px;}
	.inventory-hdr-body{float:left;font-family: 'frutigerlight';font-size:14px;color:#4d4d4d;padding-right:15px;padding-top:8px;width:100%;}
	input.inventory-input {
	 float:left;margin-right:5px;
	}
	/*#inventory-table{margin-top:20px;}*/
	.inventory-row-header{background:#dbdfe3;font-family: 'frutigerroman';font-size:14px;color:#4d4d4d;}
	.inventory-row-body{background:#fff;font-family: 'frutigerlight';font-size:15px;color:#4d4d4d;}
	tr.inventory-row-body:nth-child(even) {background: #f1f2f4;}
	tr.inventory-row-body:nth-child(odd) {background: #fff;}
	/*tbody.inventory-tbody{display: block;
	height: 300px;
	overflow: auto;
	width:100%;
	}*/
	.table-scroll {
	  height:350px;
	  overflow:auto;  
	  margin-top:20px;
	}
	.inventory-result-wrapper table {
	  width:100%;
		
	}
	
	
/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	margin: 0px;
	padding-top: 10px
}
	

/*  COLUMNS  ============================================================================= */

.twocolumns{
	-moz-column-count: 2;
	-moz-column-gap: 2em;
	-webkit-column-count: 2;
	-webkit-column-gap: 2em;
	column-count: 2;
	column-gap: 2em;
  }

/*  BUTTONS  ============================================================================= */


.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	color: #fff;
	padding: .5em 1em;
	margin: 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: #cc1122 url(/images/glass.png) repeat-x 0 50%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-size : 1.1em;
				
}
.button:hover {
	background: #dd2233 url(/images/glass.png) repeat-x 0 50%;
	color: #fff;
	text-decoration: none;
}
.button:active {
	background: #dd2233 url(/images/glass.png) repeat-x 0 50%;
	color: #fff;
	position: relative;
	top: 1px;
}
.button:visited { 
	color : #fff;
}

input.submitButton {
  margin-top: 13px;
  padding: 14px 30px;
  background-color: #77bf53;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: normal;
  font-family: 'frutigerroman';
  
}
input.submitButton:hover {
  cursor: pointer;
  background-color: #343434;
  color: #fff;
}

input.submitButtondummy {
  margin-top: 13px;
  padding: 14px 30px;
  background-color: #343434;
  color: #FFFFFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: normal;
  
  
}

input.submitButtonSmall {
  margin-top: 13px;
  
  background-color: #77bf53;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: normal;
  font-family: 'frutigerroman';
  width: 65px;
  height: 45px;
  
}
input.submitButton:hover {
  cursor: pointer;
  background-color: #343434;
  color: #fff;
}


input.backButton {
  margin-top: 13px;
  padding: 14px 20px;
  background-color: #a7a7a7;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: normal;
  font-family: 'frutigerroman';
  
}
input.backButton:hover {
  cursor: pointer;
  background-color: #343434;
  color: #fff;
}
input.img-button {
  padding:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	-moz-box-shadow:inset 0px 0px 0px #ccc;
	-webkit-box-shadow:inset 0px 0px 0px #ccc;
	box-shadow:inset 0px 0px 0px #ccc;
  position:relative;
  top:10px;
}


/*  GLOBAL OBJECTS ============================================================================= */

.breaker { clear: both; }

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}


.floatleft {
    float: left;
}

.floatright {
    float: right;
}


/* MAIN MENU =================================================================================== */

.is-menu{
    padding: 0;
    margin: 0px auto;
    width: 182px;
}
.is-menu > li{
    width: 182px;
    height: 50px;
    /*overflow: hidden;*/
    display: block;
    background: #808282;
    -webkit-text-shadow: 1px 1px 0px #000;
    -moz-text-shadow:  1px 1px 0px #000;
    text-shadow:  1px 1px 0px #000;
    border-top:1px solid #aaaaaa;
	border-bottom:1px solid #4d4d4d;
	position:relative;
}
.is-menu li:last-child{
    margin-bottom: 0px;
}
.is-menu > li a{
    text-align: left;
    display: block;
    width: 100%;
    height: 100%;
    color: #ced3d6;
    position:relative;
}
.is-menu > li a:hover, .is-menu li a.selected{
    text-align: left;
    display: block;
    width: 100%;
    height: 100%;
    background: #90c74b;
    position:relative;
	border-top:1px solid #cccccc;
	color:#ffffff;
	position:relative;
}
.is-icon {
	position: absolute;
    width: 29px;
	height:24px;
	top:13px;
    left: 12px;
	text-align: center;
}

a .is-icon.search{
	background:url(../img/shared/iSELL-Icon-Navigation-Search-Up.gif) no-repeat;
}
a .is-icon.mobilty-service{
	background:url(../img/shared/iSELL-Icon-Navigation-Mobility-Up.gif) no-repeat;
}
a .is-icon.guided-sales{
	background:url(../img/shared/iSELL-Icon-Navigation-Sales-Up.gif) no-repeat;
}
a .is-icon.inventory{
	background:url(../img/shared/iSELL-Icon-Navigation-Inventory-Up.gif) no-repeat;
}
a .is-icon.cashier{
	background:url(../img/shared/iSELL-Icon-Navigation-Cashier-Up.gif) no-repeat;
} 

a .is-icon.smart{
	background:url(../img/shared/iSELL-Icon-Navigation-Smart-Up.gif) no-repeat;
} 
a .is-icon.CustomerSer{
	background:url(../img/shared/CustomerService.png) no-repeat;
} 
a .is-icon.DashBoard{
	background:url(../img/shared/iSELL-Icon-Navigation-Dashboard-Up.gif) no-repeat;
}
/* menu icon hover */
.is-menu li a:hover .is-icon.search, .is-menu li a.selected .is-icon.search {
	background:url(../img/shared/iSELL-Icon-Navigation-Search-Over.gif) no-repeat;
}
.is-menu li a:hover .is-icon.mobilty-service, .is-menu li a.selected .is-icon.mobilty-service{
	background:url(../img/shared/iSELL-Icon-Navigation-Mobility-Over.gif) no-repeat;
}
.is-menu li a:hover .is-icon.guided-sales, .is-menu li a.selected .is-icon.guided-sales{
	background:url(../img/shared/iSELL-Icon-Navigation-Sales-Over.gif) no-repeat;
}
.is-menu li a:hover .is-icon.inventory, .is-menu li a.selected .is-icon.inventory{
	background:url(../img/shared/iSELL-Icon-Navigation-Inventory-Over.gif) no-repeat;
}
.is-menu li a:hover .is-icon.cashier, .is-menu li a.selected .is-icon.cashier{
	background:url(../img/shared/iSELL-Icon-Navigation-Cashier-Over.gif) no-repeat;
} 

.is-menu li a:hover .is-icon.smart, .is-menu li a.selected .is-icon.smart{
	background:url(../img/shared/iSELL-Icon-Navigation-Smart-Over.gif) no-repeat;
} 
.is-menu li a:hover .is-icon.DashBoard, .is-menu li a.selected .is-icon.DashBoard{
	background:url(../img/shared/iSELL-Icon-Navigation-Dashboard-Over.gif) no-repeat;
} 
.is-content{
    position: relative;
    left: 48px;
    width: 158px;
    height: 50px;
    top: 12px;
}
/*ul.is-menu li a:hover {
	background-color:#a1a1a1;
	position:relative;
}*/
ul.is-menu ul {
	display:none;
	position:absolute;
	left:182px;
	top:0px;
	z-index:1001;
}
ul.is-menu li:hover ul {
	display:block;
}
ul.is-menu ul li.is-submenu {
	width:180px;
	float:left;
	display:block;
	border-top:1px solid #aaaaaa;
	border-bottom:1px solid #4d4d4d;
	height:62px;
	background: #5f5c5c;
}
ul.is-menu ul li.is-submenu a{
    text-align: left;
    display: block;
    width: 100%;
    height: 100%;
    color: #ced3d6;
    position:relative;
	
}

ul.is-menu ul li.is-submenu a:hover{
    text-align: left;
    display: block;
    width: 100%;
    height: 100%;
    background: #90c74b;
    position:relative;
	border-top:1px solid #cccccc;
	color:#ffffff;
	position:relative;
}
.is-submenu-text{padding:15px 0px 15px 15px;}

.is-menu-tab{display:none;} /* not display mobile menu on desktop */



/* PRODUCT MENU ===============================================================================*/
.horizontal-nav {
	border-radius: 6px;
}
.horizontal-nav ul {
	background: #808282;
	float: left;
	text-align: center;
	border-radius: 3px;
	
}
.horizontal-nav ul li {
	float: left;
	
}
.horizontal-nav ul li:first-child {
	border-left: 0 none;
}
.horizontal-nav ul li a {
	display: block;
	padding: 10px 20px;
	color: #ced3d6;
	font-family: 'frutigerlight';
	font-size:18px;
	border-top: 1px solid rgba(255,255,255, 0.25);
	border-left: 1px solid rgba(255,255,255, 0.25);
}
.horizontal-nav ul li:first-child a {
	border-left: 0 none;
}
.horizontal-nav ul li a:hover {
	background: #90c74b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4C7019), to(#90c74b));
	background-image: -webkit-linear-gradient(top, #4C7019 9%, #8FC74B 70%, #90c74b 100%);
	background-image: -moz-linear-gradient(top, #4C7019 9%, #8FC74B 70%, #90c74b 100%);
	background-image: -ms-linear-gradient(top, #4C7019 9%, #8FC74B 70%, #90c74b 100%);
	background-image: -o-linear-gradient(top, #4C7019 9%, #8FC74B 70%, #90c74b 100%);
	color:#fff;
}
.horizontal-nav ul li a.selected {
	background: #90c74b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4C7019 ), to(#90c74b));
	background-image: -webkit-linear-gradient(top, #4C7019 9%, #8FC74B 70%, #90c74b 100%);
	background-image: -moz-linear-gradient(top, #4C7019 9%, #8FC74B 70%, #90c74b 100%);
	background-image: -ms-linear-gradient(top, #4C7019 9%, #8FC74B 70%, #90c74b 100%);
	background-image: -o-linear-gradient(top, #4C7019 9%, #8FC74B 70%, #90c74b 100%);
	
	color:#fff;
}

.horizontal-nav ul li:first-child a {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.horizontal-nav ul li:last-child a {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}


/* STEPS WIZARD ================================================================================*/

.steps-nav{background: #a7a7a7;color: #ffffff; font-size: 12px; font-weight: normal;  font-family:Arial, Helvetica, sans-serif; text-align:center;/*height:26px;*/}
.steps-nav ul#table {display: table; float: none; width: 100%;}

.steps-nav li.preselected{background: #a7a7a7 url(../img/shared/iSELL-Arrow-Style03.jpg) center right no-repeat;height:21px;padding-top:5px;}
.steps-nav li.selected{background: #90c74d url(../img/shared/iSELL-Arrow-Style01.jpg) center right no-repeat;height:21px;padding-top:5px;}
.steps-nav li{background: #a7a7a7 url(../img/shared/iSELL-Arrow-Style02.jpg) center right no-repeat;height:21px;padding-top:5px;padding-left:3px;padding-right:10px;}
.steps-nav li:last-child{background: #a7a7a7; }
.steps-nav li:last-child.selected{background: #90c74d; }

/* Footer */
.footer-text{width:95%;margin:10px auto;font-size:11px;font-family:Arial, Helvetica, sans-serif;color:#767676;}


/* VENDOR-SPECIFIC ============================================================================= */

html { 
-webkit-overflow-scrolling : touch; 
-webkit-tap-highlight-color : rgb(52,158,219); 
-webkit-text-size-adjust : 100%; 
-ms-text-size-adjust : 100%; }

.clearfix { 
zoom : 1; }

::-webkit-selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

::-moz-selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

::selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] { 
-webkit-appearance : button; }

::-webkit-input-placeholder {
font-size : .875em; 
line-height : 1.4; }

input:-moz-placeholder { 
font-size : .875em; 
line-height : 1.4; }

.ie7 img,
.iem7 img { 
-ms-interpolation-mode : bicubic; }

input[type="checkbox"], 
input[type="radio"] { 
box-sizing : border-box; }

input[type="search"] { 
-webkit-box-sizing : content-box;
-moz-box-sizing : content-box; }

button::-moz-focus-inner, 
input::-moz-focus-inner { 
padding : 0;
border : 0; }

p {
/* http://www.w3.org/TR/css3-text/#hyphenation */
-webkit-hyphens : auto;
-webkit-hyphenate-character : "\2010";
-webkit-hyphenate-limit-after : 1;
-webkit-hyphenate-limit-before : 3;
-moz-hyphens : auto; }

/* DEVICES CAROUSEL STYLING ===========================================================================*/
.list_carousel {
	background-color: #e6e6e6;
	margin: 0 0 0px 60px;
	width: 360px;
}
.list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	font-size: 16px;
	font-family: 'frutigerlight';
	color: #4d4d4d;
	text-align: center;
	width: 232px;
	/*height: 246px;*/
	height:auto;
	padding: 15px 0 0 0 ;
	margin: 6px;
	display: block;
	float: left;
	position:relative;
}

.carousel-content{
	width:232px;
	height:200px;
	border:1px solid #919191;
	background-color:#FFFFFF;
	padding:25px 0 0 0;
	-webkit-border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	cursor:pointer;
	
}
.carousel-content.focus{
	width:232px;
	height:200px;
	border:1px solid #0184c1;
	background-color:#41a0cc;
	padding:25px 0 0 0;
	-webkit-border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
}


.list_carousel.responsive {
	width: auto;
	margin-left: 0;
	/*height:290px;*/
	height:auto;
	z-index: -1;
}
.clearfix {
	float: none;
	clear: both;
}
.prev {
	float: left;
	margin-left: 0px;
}
.next {
	float: right;
	margin-right: 0px;
}
.arrow_position{position:relative;top:-160px;z-index:1000;}
a.phone{color: #41a0cc; line-height:36px;}
a.phone:hover{color: #41a0cc; text-decoration:underline;}
/* DEVICES RIBBON */
.ribbon-wrapper-green {
  width: 88px;
  height: 113px;
  overflow: hidden;
  position: absolute;
  top: -5px;
  right: -6px;
  z-index:10;
}

.devices.ribbon-green {
  
	font: normal 11px Arial;
	color: #ffffff;
	text-align: center;
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	position: relative;
	padding: 5px 0;
	left: 1px;
	top: 20px;
	width: 111px;
	background-color: #90c74d;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#90c74d), to(#8EBF45));
	background-image: -webkit-linear-gradient(top, #90c74d, #8EBF45);
	background-image: -moz-linear-gradient(top, #90c74d, #8EBF45);
	background-image: -ms-linear-gradient(top, #90c74d, #8EBF45);
	background-image: -o-linear-gradient(top, #90c74d, #8EBF45);
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.devices.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.devices.ribbon-green:before {
  left: 0;
}
.devices.ribbon-green:after {
  right: 0;
}

.ribbon-wrapper-red {
  width: 88px;
  height: 113px;
  overflow: hidden;
  position: absolute;
  top: -5px;
  right: -6px;
  z-index:10;
}

.devices.ribbon-red {
  
	font: normal 11px Arial;
	color: #ffffff;
	text-align: center;
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	position: relative;
	padding: 5px 0;
	left: 1px;
	top: 20px;
	width: 111px;
	background-color: #ba131a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ba131a), to(#97080e));
	background-image: -webkit-linear-gradient(top, #ba131a, #97080e);
	background-image: -moz-linear-gradient(top, #ba131a, #97080e);
	background-image: -ms-linear-gradient(top, #ba131a, #97080e);
	background-image: -o-linear-gradient(top, #ba131a, #97080e);
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.devices.ribbon-red:before, .ribbon-red:after {
  content: "";
  border-top:   3px solid #4e0508;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.devices.ribbon-red:before {
  left: 0;
}
.devices.ribbon-red:after {
  right: 0;
}

.ribbon-wrapper-yellow { 
  width: 88px;
  height: 113px;
  overflow: hidden;
  position: absolute;
  top: -5px;
  right: -6px;
  z-index:10;
}

.devices.ribbon-yellow {
font: normal 11px Arial;
color: #000000;
text-align: center;
text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
position: relative;
padding: 5px 0;
left: 1px;
top: 20px;
width: 111px;
background-color: rgba(87, 1, 1, 0.82);
background-image: -webkit-gradient(linear, left top, left bottom, from(#f4fc0f), to(#D9EC06));
background-image: -webkit-linear-gradient(top, #f4fc0f, #E0F120);
background-image: -moz-linear-gradient(top, #f4fc0f, #f4fc0f);
background-image: -ms-linear-gradient(top, #f4fc0f, #f4fc0f);
background-image: -o-linear-gradient(top, #f4fc0f, #f4fc0f);
-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.devices.ribbon-yellow:before, .ribbon-yellow:after {
  content: "";
  border-top:   3px solid #4E0508;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.devices.ribbon-yellow:before {
  left: 0;
}

.devices.ribbon-yellow:after {
  right: 0;
}

.focus
{
    border:solid 1px #0184c1;
    background:#41a0cc;
}

.plan-innerbox.focus .plan-title{font-family:Arial, Helvetica, sans-serif;font-size:x-large;color:#ffffff;font-weight:normal;text-align:center;width:100%;}
.plan-innerbox.focus .plan-status{font-size:12px;font-weight:normal;color:#fff;font-family:Arial, Helvetica, sans-serif;text-align:center;}



.VPlans {
    margin-bottom: 10px;
    clear:both;
    display:block;
}
.caret-right {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-left: 4px solid #7F7E7E;
  border-right:0 none;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  content: "";
  margin-top:4px;
}
.txt-16-orange-bold{font-family:'frutigerroman';font-size:16px;color:#FFA500;font-weight:normal;}

.carousel-content img
{
    height:170px;
}
.inventory-hdr-body label
{
    font-family:'frutigerlight';
    font-size:14px;
}
plan-viewmore {
float: center;
padding-top: 10px;
}
.plan-viewmore a {
color: #41a0cc;
}
.plan-viewmore a:hover{color:#41a0cc;text-decoration:underline;}
	.plan-innerbox.focus .plan-viewmore a{color:#fff;}
	.plan-innerbox.focus .plan-viewmore a:hover{color:#fff;text-decoration:underline;}
	
.ribbon-wrapper-amber {
  width: 88px;
  height: 113px;
  overflow: hidden;
  position: absolute;
  top: -5px;
  right: -6px;
  z-index:10;
}
.devices.ribbon-amber {
  
	font: normal 11px Arial;
	color: #ffffff;
	text-align: center;
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	position: relative;
	padding: 5px 0;
	left: 1px;
	top: 20px;
	width: 111px;
	background-color: #ff7e00;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7e00), to(#f07700));
	background-image: -webkit-linear-gradient(top, #ff7e00, #f07700);
	background-image: -moz-linear-gradient(top, #ff7e00, #f07700);
	background-image: -ms-linear-gradient(top, #ff7e00, #f07700);
	background-image: -o-linear-gradient(top, #ff7e00, #f07700);
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.devices.ribbon-amber:before, .ribbon-amber:after {
  content: "";
  border-top:   3px solid #4e0508;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.devices.ribbon-amber:before {
  left: 0;
}
.devices.ribbon-amber:after {
  right: 0;
}
a.phone {
    color: #41A0CC;
    line-height: 25px;
}
.OrderSmry
{
    margin-left:-15px;
    float: left;
}
.OrderSmryData
{
    float:left;
    width:172px;
}
.label-width-80
{
    width:80px;
}
.label-width-110
{
    width:110px;
}
.label-width-70
{
    width:70px;
}
.ResetLabel
{
    line-height:normal;
    display:inline;
}
legend {
    font-size: 1.2em;
    font-weight: bold;
}
.buttongr
{
    background: #808282;
    font-family:'frutigerroman';
    font-size:18px;
    font-weight:normal;
    text-shadow:none !important;
    color:#fff;
}
.buttongr:hover
{
    text-decoration: none;
    color:#fff;
	background: #90c74b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5A871F), to(#90c74b));
	background-image: -webkit-linear-gradient(top, #5A871F, #90c74b);
	background-image: -moz-linear-gradient(top, #5A871F, #90c74b);
	background-image: -ms-linear-gradient(top, #5A871F, #90c74b);
	background-image: -o-linear-gradient(top, #5A871F, #90c74b);
}
.session-expired-panel-content
{
    float: left;
    padding: 30px 10px 0 15px;
    width:500px;
}
.session-expired-panel-content .session-expired-text
{
    float:left;
}
.session-expired-panel-content .session-expired-text .t1
{
    clear:both;
    color:#C20000;
    font-size:40px;
    float:left;
    width:100%;
    text-align:right;
}
.session-expired-panel-content .session-expired-text .t2
{
    clear:both;
    color:#4D4D4D;
    font-size:24px;
    float:left;
    width:100%;
    text-align:right;
}
.session-expired-text a
{
    color:#41a0cc;
}
.session-expired-panel
{
    float:right;
    top:-112px;
}
.session-expired-panel-bg{background:url(../img/shared/logout-img.png) no-repeat;width:312px;height:277px;}
.logout-panel-bg{background:url(../img/shared/logout-successful-img.png) no-repeat;width:312px;height:277px;}

/* Change rate plan - customer =================================================*/
	.crp-wrapper{padding:20px;}
	.crp-wrapper .row-header{background:#dbdfe3;font-family: 'frutigerblack';font-size:13px;color:#4d4d4d;}
	.crp-wrapper .row-body{background:#fff;font-family: 'frutigerlight';font-size:15px;color:#4d4d4d;font-weight:normal;}
	.crp-wrapper tr.row-body:nth-child(odd) {background: #f1f2f4;}
	.crp-wrapper tr.row-body:nth-child(even) {background: #fff;}
	
	
		/* Change rate plan - component ===================================== */
	.component-header{font-family:Arial, Helvetica, sans-serif; font-size:22px; font-weight:bold;color:#57575b;}
	.component-title-bar{background-color:#f2f2f2;padding:10px 20px 10px 20px;height:25px;}
	.component-label{font-family: 'frutigerlight';font-size:14px;color:#7f7e7e;}
	.component-field{font-family: 'frutigerroman';font-size:16px;color:#4d4d4d;}
	.component-bill-plan{font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:18px;color:#57575b;}
	.crp-comp-wrapper{padding:20px;}
	.crp-comp-wrapper .row-body{background:#fff;font-family: 'frutigerlight';font-size:15px;color:#4d4d4d;font-weight:normal;padding-left:5px;}
	.crp-comp-wrapper tr.row-body:nth-child(odd) {background: #f1f2f4;}
	.crp-comp-wrapper tr.row-body:nth-child(even) {background: #fff;}
	.crp-comp-wrapper tr.row-body:last-child{border-bottom:1px solid #d7d7d7;}
	.crp-comp-wrapper td { 
padding : .35em 0px .25em 9px; }
	.space{height:10px;}
/*.login-panel-bg .submitButton
{
    margin-top:0px;
    margin-bottom:5px;
}
.login-panel-bg .validation-summary-errors ul li
{
    list-style-type:none;
    background:url(../img/shared/bullet-icon.jpg) no-repeat left 6px;
    padding-left:10px;
}*/
.button-SuppLine {
	cursor: pointer;
border-style: none;
background-image: url(../images/Btn_AddLine.png);
background-repeat: no-repeat;
background-color: #fff;
width: 187px;
height: 32px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
color: transparent;
background: transparent url(../images/Btn_AddLine.png) no-repeat scroll 0 0;
overflow: hidden;
text-indent: -999px;
}



.button-SuppLineDisable {
	cursor:pointer;
    border-style:none;
    background-image:url(../images/Btn_AddLine_disable.png);
    background-repeat:no-repeat;
    background-color:White;
    width:187px;
    height:32px;    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;    
    color: transparent;
    background: transparent url(../images/Btn_AddLine_disable.png) no-repeat scroll 0 0;
    overflow: hidden;
    text-indent: -999px;
}

table.tab-plan tr td label
{
    line-height:normal;
}
.summary-title-bar a
{
    margin-left:10px;
}
#simWindow .t-window-content, #mismsimWindow .t-window-content , #simRequired .t-window-content
{
    overflow:hidden !important;
    height:auto !important;
}
#simWindow .t-combobox
{
    width:100% !important;
}
#mismsimWindow .t-combobox
{
    width:100% !important;
}
.t-picker-wrap
{
    padding-right:28px !important;
}

.PriceClass
{
  width:52px;
  text-align:right;
  display:inline-block;
}
.isell-logo img.iSELL-Logo
{
    float:left;
}
.HomeLogo
{
    float:left;
    margin-top:20px;
}

.inventory-hdr-body table tr td
{
    padding:0px;
}

.ErrorClass
{
    color: #ff0000;
     font-weight: bold;
      text-align: left;
      font-size: 14px;
}
.SuccessClass
{
    color: Green;
    font-weight: bold;
    text-align: left;
    font-size: 14px;
}
.RM
{
    width:215px;
    text-align:right;
    float:left;
}
/*.carousel-content
{
    width:228px;
}
.ribbon-wrapper-green
{
    right:-3px;
}
.list_carousel li
{
    width:232px;
}*/


/* iPads (portrait) ----------- */
/*@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) */
@media (min-width: 768px) and (max-width: 979px)
{
  .SearchControlls
    {
        float:left;
        width:100%;
    } 
    .content.ppidsearch-header
    {
        height:auto;
    }
    /* your css rules for ipad portrait */
}
@media (max-width: 767px)
{
    .SearchControlls
    {
        float:left;
        width:100%;
    }
    .SearchControlls > div
    {
        clear:both;
    }
    .content_white .SearchControlls
    {
        display:inline-block;
        float:none;
    }
}
/*.plan-boxrow
{
    display:table-row;
}
.plan-boxrow .plan-outerbox
{
    height:auto;
    float:none;
    vertical-align: middle;
}
.plan-boxrow .plan-innerbox
{
    height:100%;
}*/
