﻿@model Online.Registration.Web.Models.InquiryAccountSummaryModel

@{
    ViewBag.Title = "Account Summary";

    var value1 = Model.EBPSLinkUrl;
}

<div class="vwHeader">
    <table>
        <tr>
            <td>
                <div>@ViewBag.Title</div>
                <div class="vwSubHeader">Home > Inquiry > @ViewBag.Title</div>
            </td>
            <td class="vwHeaderButtonsCell">
                <button class="button-account-selected" type="submit" id="btnAccountSummary"></button>
                <button class="button-service" type="submit" id="btnServices"></button>
            </td>
        </tr>
    </table>
</div>
<div class="viewInnerBody">
    <div class="viewFormTitle">
        @ViewBag.Title

        <div class="div-ebps">
        <button class="t-button t-button-icontext" type="button" id="btnLaunchEBPS" onclick="launchEBPS('@value1');">Launch EBPS</button>
           @* <a class="t-button t-button-icontext" target="_blank" href="#" onclick="doSomething();">
                Launch EBPS
            </a>*@
        </div>
    </div>
    <div>
        <table style="width: 100%;">
            <tr>
                <td style="width: 70px;">
                    <img alt="" src='@Url.Content("~/Content/images/activeHead.png")' />
                </td>
                <td style="width: 200px;">
                    <div><b>@Model.AccountInfo.Holder</b></div>
                    <div>@Model.AccountInfo.AccountNumber</div>
                </td>
                <td style="text-align: right; padding-right: 0;">
                    <table style="display: inline-block;">
                        <tr>
                            <td>
                                 <div class="bill-summary">
                                    <table>
                                        <tr>
                                            <td class="top-cell">
                                                Current Billed
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="lower-cell">
                                                @Model.BillingInfo.CurrentBilled
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td>
                                <div class="bill-summary">
                                    <table>
                                        <tr>
                                            <td class="top-cell">
                                                Due Date
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="lower-cell">
                                                @if (Model.BillingInfo.DueDate == "")
                                                {
                                                <text>not available</text>   
                                                }
                                                else
                                                {
                                               @Model.BillingInfo.DueDate
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td style="padding-right: 0;">
                                <div class="bill-summary">
                                    <table>
                                        <tr>
                                            <td class="top-cell">
                                                Credit Limit
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="lower-cell">
                                                @Model.BillingInfo.CreditLimit
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table> 
    </div>
    
@{
    Html.Telerik().PanelBar()
        .Name("pnlAccountSummary")
        .ExpandAll(false)
        .ExpandMode(Telerik.Web.Mvc.UI.PanelBarExpandMode.Single)
        .HtmlAttributes(new { @class = "" })
        .Items(parent =>
        {
            parent.Add()
                .Expanded(true)
                .Text("ACCOUNT INFO")
                .LinkHtmlAttributes(new { @class = "panel-header" })
                //.SpriteCssClasses("icon-account-info")
                .ContentHtmlAttributes(new { @class = "panel-content" })
                .Content(
                @<text>
                    <fieldset>
                        <table>
                            <tr>
                                <td class="label">
                                    Account Number
                                </td>
                                <td style="width: 160px;">
                                    @Model.AccountInfo.AccountNumber
                                </td>
                                <td class="label">
                                    Company Name
                                </td>
                                <td>
                                    @Model.AccountInfo.CompanyName
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Account Holder
                                </td>
                                <td>
                                    @Model.AccountInfo.Holder
                                </td>
                                <td class="label">
                                    ID Number
                                </td>
                                <td>
                                    @Model.AccountInfo.IDNumber
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Account Active Date
                                </td>
                                <td>
                                    @Model.AccountInfo.ActiveDate
                                </td>
                                <td class="label">
                                    ID Type
                                </td>
                                <td>
                                    @Model.AccountInfo.IDType
                                </td>
                            </tr>
                            <tr>
                                <td class="label">
                                    Account Category
                                </td>
                                <td>
                                    @Model.AccountInfo.Category
                                </td>
                                <td class="label">
                                    Address
                                </td>
                                <td>
                                    @Model.AccountInfo.Address
                                </td>
                            </tr>
                            <tr>
                                <td class="label borderless">
                                    Market Code
                                </td>
                                <td class="last">
                                    @Model.AccountInfo.MarketCode
                                </td>
                                <td class="label borderless">
                                    Plan Package
                                </td>
                                <td class="borderless">
                                    @Model.AccountInfo.Plan
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </text>);

            parent.Add()
                .Text("PAYMENT STATUS")
                .LinkHtmlAttributes(new { @class = "panel-header" })
                .ContentHtmlAttributes(new { @class = "panel-content" })
                .Content(
                @<text>
                    <fieldset>
                        <table>
                            <tr>
                                <td class="label">
                                    Status
                                </td>
                                <td class="label">
                                    Due Date
                                </td>
                                <td class="label">
                                    Amount
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total Outstanding
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    @Model.BillingInfo.TotalOutstanding
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Unbilled
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    @Model.BillingInfo.Unbilled
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Current Bill
                                </td>
                                <td>
                                    @Model.BillingInfo.DueDate
                                </td>
                                <td>
                                    @Model.BillingInfo.CurrentBilled
                                </td>
                            </tr>
                            <tr><td class="borderless"></td><td class="borderless"></td><td class="borderless"></td></tr>
                            <tr>
                                <td class="label borderless">
                                    Balance Forward:
                                </td>
                                <td class="borderless">
                                    @Model.BillingInfo.BalanceForward
                                </td>
                                <td class="borderless"></td>
                            </tr>
                        </table>
                    </fieldset>    
                </text>);

            parent.Add()
                .Text("PAYMENT HISTORY")
                .LinkHtmlAttributes(new { @class = "panel-header" })
                .ContentHtmlAttributes(new { @class = "panel-content" })
                .Content(
                @<text>
                    <fieldset>
                        <table>
                            <tr>
                                <td class="label">
                                    Payment History
                                </td>
                                <td class="label">
                                    Payment Date
                                </td>
                                <td class="label">
                                    Amount
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Last Payment
                                </td>
                                <td>
                                    @Model.BillingInfo.LastPayment.TransactionDate
                                </td>
                                <td>
                                    @Model.BillingInfo.LastPayment.Amount
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2nd Last Payment
                                </td>
                                <td>
                                    @Model.BillingInfo.Last2ndPayment.TransactionDate
                                </td>
                                <td>
                                    @Model.BillingInfo.Last2ndPayment.Amount
                                </td>
                            </tr>
                            <tr>
                                <td class="borderless">
                                    3rd Last Payment
                                </td>
                                <td class="borderless">
                                    @Model.BillingInfo.Last3rdPayment.TransactionDate
                                </td>
                                <td class="borderless">
                                    @Model.BillingInfo.Last3rdPayment.Amount
                                </td>
                            </tr>
                        </table>
                    </fieldset>    
                </text>);
        }).Render(); 
}
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnAccountSummary").click(function () {
                window.location.href = '@(Url.Action("AccountSummary", new { msisdn = Model.MSISDN }))';
            });

            $("#btnServices").click(function () {
                window.location.href = '@(Url.Action("Services", new { msisdn = Model.MSISDN, subscribeNo = Model.AccountInfo.SubscribeNo, subscribeNoResets = Model.AccountInfo.SubscribeNoResets }))';
            });
            $('#menuInquiry').css("background-image", $('#menuInquiry').css("background-image").replace(".png", "_hover.png"));
        });

        function launchEBPS(ebpsVal) {

            popupWin = window.open(ebpsVal, 'open_window', 'height=480,width=480');
//            popupWin = window.open(ebpsVal,
// 'open_window',
// 'menubar, toolbar, location, directories, status, scrollbars, resizable, dependent, width=640, height=480, left=0, top=0')
        }

    </script>
}

@section Styles{
    <style type="text/css">
        .viewFormTitle { line-height: 45px; }
        
        .viewFormTitle .div-ebps
        {
            float: right; 
            position: relative; 
            bottom: 5px;
            font-size: 0.6em;
        }
        
        .bill-summary
        {
            width: 120px; 
            border-radius: 5px; 
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border: 1px solid Gray; 
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));   
        }
        
        .bill-summary > table
        {
            text-align: center; 
            width: 120px;
        }
        
        .bill-summary .top-cell 
        { 
            border-bottom: 1px solid Grey; 
            font-weight: bold;
        }
        
        .bill-summary .lower-cell { color: Blue; }
        
        #pnlAccountSummary .panel-header
        {
            line-height: 30px;
            text-transform: uppercase;
            color: #7cb44f;
            font-weight: bold;   
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));  
        }
        
        /*
        #pnlAccountSummary .icon-account-info
        {
            background: url(/Content/images/Circle_01.png) no-repeat;
            background-size: contain;
        }*/
        
        #pnlAccountSummary .panel-content
        {
            padding: 5px;
            background-color: #f5f5f5;
        }
        
        #pnlAccountSummary .panel-content fieldset 
        { 
            border-radius: 5px; 
            padding: 0;
            background-color: White;
            border-color: Gray;
        }
        
        #pnlAccountSummary .panel-content fieldset table { width: 100%; }
        
        #pnlAccountSummary .panel-content fieldset table td
        {   
            padding: 10px;
            border-bottom: 1px solid LightGray;
        }
        
        #pnlAccountSummary .panel-content .label
        {
            width: 150px;
            font-weight: bold;
        }
        
        #pnlAccountSummary .panel-content .borderless { border-bottom: none; }
        
    </style>
}