﻿@model Online.Registration.Web.Models.InquiryIndexModel

@{
    ViewBag.Title = "Inquiry";
}

<div class="vwHeader">
    <table>
        <tr>
            <td>
                <div>@ViewBag.Title</div>
                <div class="vwSubHeader">Home > @ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>

<div class="viewInnerBody">
    <div class="divNumpad">
        @Html.Partial("_Numpad")
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var isNumpadTooltipOn;
        var tooltip = "Enter MSISDN";

        $(document).ready(function () {

            $('#menuInquiry').css("background-image", $('#menuInquiry   ').css("background-image").replace(".png", "_hover.png"));

            $(".numbersonly").keypress(function (e) {
                return numbersonly(e, false);
            });

            var numpadInput = $("#numpadText");

            isNumpadTooltipOn = true;
            numpadInput.val(tooltip);
            numpadInput.addClass("tooltip");

            numpadInput.focus(function () {
                if (numpadInput.val() == tooltip) {
                    numpadInput.val("");
                    numpadInput.removeClass("tooltip");
                    isNumpadTooltipOn = false;
                }
            });

            numpadInput.focusout(function () {
                if (numpadInput.val() == "") {
                    numpadInput.val(tooltip);
                    numpadInput.addClass("tooltip");
                    isNumpadTooltipOn = true;
                }
            });

            $(".numpad button").click(function () {
                if (numpadInput.val() == "") {
                    numpadInput.val(tooltip);
                    numpadInput.addClass("tooltip");
                    isNumpadTooltipOn = true;
                }
                else if (isNumpadTooltipOn) {
                    numpadInput.val(numpadInput.val().replace(tooltip, ''));
                    numpadInput.removeClass("tooltip");
                    isNumpadTooltipOn = false;
                }

                if (numpadInput.val() == "") {
                    numpadInput.val(tooltip);
                    numpadInput.addClass("tooltip");
                    isNumpadTooltipOn = true;
                }
            });
        });

        // _Numpad function
        function submitNumpad(numpadInput) {
            var msisdn = numpadInput.val();
            if (!isNumber(msisdn)) {
                alert("Invalid MSISDN.");
                numpadInput.focus();

                return ;
            }

            window.location.href = '@(Url.Action("AccountSummary"))' + "?msisdn=" + msisdn;
        }
    </script>
}

@section Styles{
    <style type="text/css">
        .divNumpad
        {
            position: relative;
            left: 50%;   
            top: 50%;
            margin-left: -20%;
            margin-top: -50%;
        }
        
    </style>
}
