﻿@using Online.Registration.Web.Models;
@model Online.Registration.Web.Models.InquiryServicesModel

@{
    ViewBag.Title = "Services";
}

<div class="vwHeader">
    <table>
        <tr>
            <td>
                <div>@ViewBag.Title</div>
                <div class="vwSubHeader">Home > Inquiry > @ViewBag.Title</div>
            </td>
            <td class="vwHeaderButtonsCell">
                <button class="button-account" type="submit" id="btnAccountSummary"></button>
                <button class="button-service-selected" type="submit" id="btnServices"></button>
            </td>
        </tr>
    </table>
</div>
<div class="viewInnerBody">
    
@{
    var contracts = new List<InquiryContract>();
    var vases = new List<InquiryVAS>();
    
    if (Model.Contracts != null) 
    {
        contracts = Model.Contracts.ToList();
    }

    if (Model.VAS != null)
    {
        vases = Model.VAS.ToList();
    }
    
    Html.Telerik().PanelBar()
        .Name("pnlServices")
        .ExpandAll(false)
        .ExpandMode(Telerik.Web.Mvc.UI.PanelBarExpandMode.Single)
        .HtmlAttributes(new { @class = "" })
        .Items(parent =>
        {
            parent.Add()
                .Expanded(true)
                .Text("CONTRACT")
                .LinkHtmlAttributes(new { @class = "panel-header" })
                //.SpriteCssClasses("icon-account-info")
                .ContentHtmlAttributes(new { @class = "panel-content" })
                .Content(
                @<text>
                    <fieldset>
                        <table>
                            <tr>
                                <td class="label">
                                    Contract ID
                                </td>
                                <td class="label">
                                    Contract Name
                                </td>
                               @* <td class="label">
                                    Contract Type
                                </td>*@
                                <td class="label">
                                    Start Date
                                </td>
                            </tr>
                            @foreach (var contract in contracts) 
                            { 
                                <tr>
                                    <td>
                                        @contract.ContractID
                                    </td>
                                    <td>
                                        @contract.ContractName
                                    </td>
                                   @* <td>
                                        @contract.ContractType
                                    </td>*@
                                    <td>
                                        @contract.StartDate
                                    </td>
                                </tr>
                            }
                        </table>
                    </fieldset>
                </text>);
            parent.Add()
                .Expanded(true)
                .Text("Value Added Services")
                .LinkHtmlAttributes(new { @class = "panel-header" })
                //.SpriteCssClasses("icon-account-info")
                .ContentHtmlAttributes(new { @class = "panel-content" })
                .Content(
                @<text>
                    <fieldset>
                        <table>
                            <tr>
                                <td class="label">
                                    Component ID
                                </td>
                                <td class="label">
                                    Component Description
                                </td>
                                <td class="label">
                                    Activation Date
                                </td>
                            </tr>
                            @foreach (var vas in vases) 
                            {
                                <tr>
                                    <td>
                                        @vas.ComponentID
                                    </td>
                                    <td>
                                        @vas.ComponentDescription
                                    </td>
                                    <td>
                                        @vas.ActiveDate
                                    </td>
                                </tr>
                            }
                        </table>
                    </fieldset>
                </text>);
        }).Render(); 
}
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnAccountSummary").click(function () {
                window.location.href = '@(Url.Action("AccountSummary", new { msisdn = Model.MSISDN }))';
            });

            $("#btnServices").click(function () {
                window.location.href = '@(Url.Action("Services", new { msisdn = Model.MSISDN, subscribeNo = Model.SubscribeNo, subscribeNoResets = Model.SubscribeNoResets }))';
            });
            $('#menuInquiry').css("background-image", $('#menuInquiry').css("background-image").replace(".png", "_hover.png"));
        });
    </script>
}

@section Styles{
    <style type="text/css">
        #pnlServices .panel-header
        {
            line-height: 30px;
            text-transform: uppercase;
            color: #7cb44f;
            font-weight: bold;   
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));  
        }
        
        /*
        #pnlServices .icon-account-info
        {
            background: url(/Content/images/Circle_01.png) no-repeat;
            background-size: contain;
        }*/
        
        #pnlServices .panel-content
        {
            padding: 5px;
            background-color: #f5f5f5;
        }
        
        #pnlServices .panel-content fieldset 
        { 
            border-radius: 5px; 
            padding: 0;
            background-color: White;
            border-color: Gray;
        }
        
        #pnlServices .panel-content fieldset table { width: 100%; }
        
        #pnlServices .panel-content fieldset table td
        {   
            padding: 10px;
            border-bottom: 1px solid LightGray;
        }
        
        #pnlServices .panel-content .label
        {
            width: 150px;
            font-weight: bold;
        }
        
        #pnlServices .panel-content .borderless { border-bottom: none; }
    </style>
}
