﻿@using Online.Registration.Web.ViewModels.Common
@using Online.Registration.Web.CustomExtension
@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.CorpSimRepNewOrderVM

@functions{
    object getTbHtmlAttribute()
    {
        if (!Model.AllowEditPersonalInfo){
            return new { @class = "form-control search-num", @readonly = "readonly" };
        }
        return new { @class = "form-control search-num" };
    }
}
<div class="row border-top even">
    <div class="col-sm-12 form paddingOverall">
        <!-- Start Name -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Name</p>
            </div>
            <div class="col-sm-4">
                <p class="inner-content">
                    @Html.TextBoxFor(model => model.CustName, @getTbHtmlAttribute())
                </p>
            </div>
        </div>
        <!-- Start Identity Type -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Identification</p>
            </div>
            <div class="col-sm-4">
                <div class="input-group-btn number-type">
                    @Html.CustomDropDownListFor(model => model.IdType, StaticListVM.Instance.IdTypList, new { @disabled = "disabled" })
                </div>
            </div>
            <div class="col-sm-2">
                <p class="inner-label">*Number</p>
            </div>
            <div class="col-sm-3">
                <p class="inner-content">
                    @Html.TextBoxFor(model => model.IdNum,new { @class = "form-control search-num", @readonly = "readonly" })
                </p>
            </div>
        </div>
        <!-- Start Number -->
        <!-- Start Company Name -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Company Name</p>
            </div>
            <div class="col-sm-4">
                <p class="inner-content">
                    @Html.TextBoxFor(model => model.CompName, new { @class = "form-control search-num" })
                </p>
            </div>
        </div>
        <!-- Start BRE Number -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*BRN Number</p>
            </div>
            <div class="col-sm-4">
                <p class="inner-content">
                    @Html.TextBoxFor(model => model.BrnNum, new { @class = "form-control search-num" })
                </p>
            </div>
        </div>
        <!-- Start MSISDN -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*MSISDN</p>
            </div>
            <div class="col-sm-4">
                <p class="inner-content">
                    @Html.TextBoxFor(model => model.Msisdn, new { @class = "form-control search-num" })
                </p>
            </div>
        </div>
        <!-- Start Account Number -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">Account No</p>
            </div>
            <div class="col-sm-4">
                <p class="inner-content">
                    @Html.TextBoxFor(model => model.AccNum, new { @class = "form-control search-num" })
                </p>
            </div>
        </div>
        <!-- Start SIM Card Number -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*SIM Type</p>
            </div>
            <div class="col-sm-4">
                <div class="input-group-btn number-type">
                    @Html.CustomDropDownListFor(m => m.NewSimTypeCode, StaticListVM.Instance.SimTypeList)
                </div>
            </div>
            <div class="col-sm-2">
                <p class="inner-label">*New SIM Serial</p>
            </div>
            <div class="col-sm-3">
                <p class="inner-content">
                    @Html.TextBoxFor(model => model.NewSimSerial, new { @class = "form-control search-num" })
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row border-top">
    @Html.EditorFor(model=>model.UploadDoc,"UploadDocuments")
</div>