﻿@using Online.Registration.Web.Helper

@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.CorpSimRepPrintOrderVM
<!--Start _CorpSimRepPrintOrderDetail -->
<div>
    <table align="center" class="rfTable" width="670px">
        <tbody>
            <tr>
                <td colspan="4">
                    <div style="font-size: large; font-weight: bolder; text-align: center; padding: 0;">
                        CORPORATE SIM REPLACEMENT FORM
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <img alt="" src="@Url.Content("~/Content/images/maxislogo.png")" width="70px" height="30px">
                    </div>
                </td>
            </tr>
            <tr class="trSectionGap">
                <td colspan="4">&nbsp;</td>
            </tr>
            <tr>
                <td style="background-color: Black; color: White; text-transform: uppercase; font-weight: bolder; font-size: small;" colspan="4">A. CUSTOMER INFORMATION
                </td>
            </tr>
            <tr>
                <td style="width: 18%;">
                    <b>Full Name *</b>
                </td>
                <td style="width: 35%">@Html.DisplayFor(n=>n.PicName)
                </td>
                <td style="width: 15%">
                    &nbsp;
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <b>ID Card Type</b>
                </td>
                <td>@Html.DisplayFor(n=>n.IdType)</td>
                <td>
                    <b><label for="Customer_IDCardNo">ID No *</label></b>
                </td>
                <td>@Html.DisplayFor(n=>n.IdNo)</td>
            </tr>
            <tr>
                <td>
                    <b><label for="Customer_ContactNo">Company Name*</label></b>
                </td>
                <td>@Html.DisplayFor(n=>n.CompName)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <b><label for="Customer_Race">Company BRN*</label></b>
                </td>
                <td>@Html.DisplayFor(n=>n.CompBrn)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <b><label for="Customer_Race">Biometric Verification</label></b>
                </td>
                <td>@Html.DisplayFor(n=>n.BiometricDisplay)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
            </tr>
            <tr class="trSectionGap">
                <td colspan="4">&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <table align="center" class="rfTable" width="670px">
        <tbody>
            <tr>
                <td colspan="4" style="background-color: Black; color: White; text-transform: uppercase; font-weight: bolder; font-size: small;">
                    B. SERVICE DETAILS
                </td>
            </tr>
            <tr>
                <td style="width: 120px">
                    <b><label for="Addresses_0__Line1">MSISDN*</label></b>
                </td>
                <td style="width: 35%">@Html.DisplayFor(n=>n.Msisdn)</td>
                <td style="width: 15%">&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <b><label for="Addresses_0__Line2">Account No.</label></b>
                </td>
                <td>@Html.DisplayFor(n=>n.AccNo)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td style="width: 120px">
                    <b><label>New SIM Type</label></b>
                </td>
                <td>@Html.DisplayFor(n=>n.NewSimTypeCode)</td>
                <td style="width: 120px">
                    <b><label>New SIM Serial</label></b>
                </td>
                <td>@Html.DisplayFor(n=>n.NewSimSerial)</td>
            </tr>
            <tr class="trSectionGap">
                <td colspan="4">&nbsp;</td>
            </tr>
        </tbody>
    </table>
    <table align="center" class="rfTable" width="670px">
        <tbody>
            <tr>
                <td colspan="4" style="background-color: Black; color: White; text-transform: uppercase; font-weight: bolder; font-size: small;">
                    <div>C. DECLARATION</div>
                </td>
            </tr>
            <tr>
                <td style="width: 4%;">
                    <b>I.</b>
                </td>
                <td>I hereby authorize the person named above to act on my behalf in respoect of the Account No. and maxis mobile number mentioned above.
                </td>
            </tr>
            <tr>
                <td>
                    <b>II.</b>
                </td>
                <td>I understand that the transactions below are NOT ALLOWED to be carried out by the below authorized 3rd party: Change of address, Suspension/Termination request, reset password for MOA, print bill, and new registration.
                </td>
            </tr>
            <tr>
                <td>
                    <b>III.</b>
                </td>
                <td>I acknowledge and accept that the terms &amp; conditions in the Maxis Privacy Statement forms an integral part of the terms and conditions of the Agreement and/or the Privacy Statement by submitting my personal information for purposes of this letter of authorization and for usage of the Services/ I hereby consent to the use of my personal information in the manner set out in the Maxis.
                </td>
            </tr>
            <tr>
                <td>
                    <b>IV.</b>
                </td>
                <td>The the above information provided is true and correct.
                </td>
            </tr>
            <tr>
                <td>
                    <b>V.</b>
                </td>
                <td>That I/We have read and agree to be bound by the contract erms herewith and all othe terms &amp; conditions printed and/or attached here to and any ammendments make thereto.
                </td>
            </tr>
                        <tr class="trSectionGap">
                <td colspan="4">&nbsp;
                </td>
            </tr>
        </tbody>
    </table>
    @Html.Partial("_PrintOrderDetailSignature",Model,new ViewDataDictionary { { "OrderLabel", "D" } })
</div>
<!--End _CorpSimRepPrintOrderDetail -->
