﻿@using Online.Registration.Web.CustomExtension;

@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.CorpSimRepViewOrderVM

<div class="row details">
    <div class="col-sm-8">
        <div class="col-sm-12 kill-padding">
            <p class="inner-title">Customer Information</p>
        </div>
        <!--Start Authorized Person's Name-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Name</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-7 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n=>n.PicName)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Id Card Type-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">ID Card Type</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-7 kill-padding">
            <p class="inner-content">@Model.IdType.ToIdCardTypeDesc()</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Id No Type-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">ID No</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-7 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n=>n.IdNo)</p>
        </div>
        <div class=" clearfix"></div>
        <!-- Start Company Name -->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Company Name</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-7 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n=>n.CompName)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start BRE Number-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Company BRN</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-7 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n=>n.BrnNum)</p>
        </div>
        <div class=" clearfix"></div>
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>
</div>
<div class="row details border-top">
    <div class="col-sm-8">
        <div class="col-sm-12 kill-padding">
            <p class="inner-title">Service Information</p>
        </div>
        <!--Start MSISDN-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">MSISDN</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-7 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n=>n.Msisdn)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start Account number-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Account No.</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-7 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n=>n.NewAccountNo)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start SIM Card Type-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">New SIM Type</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-7 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n=>n.NewSimTypeCode)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start SIM Card Number-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">New SIM Serial</p>
        </div>
        <div class="col-sm-1">:</div>
        <div class="col-sm-7 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.NewSimSerial)</p>
        </div>
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>
</div>