﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>@ViewBag.Title</title>
    <link rel="icon" 
      type="image/png" 
      href= "@Url.Content("~/Content/images/maxis_s.png")" />

@{
    var menuType = Session["MenuType"] == null ? 0 : Session["MenuType"].ToInt();
    Html.Telerik().StyleSheetRegistrar()
        .DefaultGroup(g => g
            .Add("telerik.common.css")
            .Add("telerik.office2010silver.min.css")
            .Add("/themes/base/jquery-ui.css")
            .Add("/themes/base/jquery-ui-timepicker-addon.css")
            .Add("Site.css")
            .Add("rcarousel.css")
        ).Render();
}

    @RenderSection("Styles", false)

    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/jquery.validate.min.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/jquery.validate.unobtrusive.min.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/jquery.blockUI.js")" ></script>

</head>

<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">

    <div id="leftMenuBar">
        <div class="left-inner-menu" style="margin:60px 0px 0px 0px">
        @{


        if (Session["ApiMessages"] != null)
        {
        @Html.ActionLink("Home", "Index", "Home", new { Area = "" }, new { id = "menuHome", Style = "margin:-60px 0px 0px 0px" });
        }
        else
        {
        @Html.ActionLink("Home", "LogOn", "Account", new { Area = "" }, new { id = "menuHome", Style = "margin:-60px 0px 0px 0px" });

        }
        } 
        
        
            @if (menuType == (int)MenuType.MNPRegistration)
            {
                if (Roles.IsUserInRole("MREG_C") || Roles.IsUserInRole("MREG_W"))
                {
                    @Html.ActionLink("Plan", "SelectPlan", "Registration", new { type = (int)MobileRegType.PlanOnly, Area = "" }, new { id = "menuPlan" })
                    @Html.ActionLink("Suppline", "AddSuppLine", "Suppline", new { Area = "" }, new { id = "menuSuppline" })
                    @Html.ActionLink("New Line", "AddNewLine", "NewLine", new { Area = "" }, new { id = "menuNewLine" })
                }
            }


            @if (menuType == (int)MenuType.MobileRegistration)
            {
                if (Roles.IsUserInRole("MREG_C") || Roles.IsUserInRole("MREG_W"))
                {
                    @Html.ActionLink("Plan", "SelectPlan", "Registration", new { type = (int)MobileRegType.PlanOnly, Area = "" }, new { id = "menuPlan" })
                    @Html.ActionLink("Device - Plan", "SelectDevice", "Registration", new { type = (int)MobileRegType.DevicePlan, Area = "" }, new { id = "menuDevicePlan" })                   
                   
                     @Html.ActionLink("New Line", "AddNewLine", "NewLine", new { Area = "" }, new { id = "menuNewLine" })
                    @Html.ActionLink("Guided Sales", "Index", "GuidedSales", new {type =1, Area = "" }, new { id = "menuGuidedSales" })
                }
            }
            
            @if (menuType == (int)MenuType.SearchOrder)
            {
                if (Roles.IsUserInRole("MREG_R") || Roles.IsUserInRole("MREG_RA"))
                {
                    @Html.ActionLink("Search", "SearchRegistration", "Registration", new { Area = "" }, new { id = "menuPlanSearch" })
                }
            }
            
             @if (menuType == (int)MenuType.StoreKeeper)
             {
                 if (Roles.IsUserInRole("MREG_SK"))
                 {
                    @Html.ActionLink("Search", "StoreKeeper", "Registration", new { Area = "" }, new { id = "menuPlanSearch" })
                 }
             }
             @if (!Session["IsDealer"].ToBool())
             {
                 if (menuType == (int)MenuType.Cashier)
                 {
                     if (Roles.IsUserInRole("MREG_CH"))
                     {
                        @Html.ActionLink("Search", "Cashier", "Registration", new { Area = "" }, new { id = "menuPlanSearch" })
                     }
                 }
             }
             else {
                //need to be updated into new role access
                if (menuType == (int)MenuType.OrderStatusReport)
                {
                    if (Roles.IsUserInRole("SMRT_MANAGER") || Roles.IsUserInRole("SMRT_CAS") || Roles.IsUserInRole("MREG_CH"))
                    {
                        @Html.ActionLink("Search", "OrderStatusReport", "Registration", new { Area = "" }, new { id = "menuPlanSearch" })
                    }
                }
            }
            @if (menuType == (int)MenuType.HomeRegistration)
            {
                if (Roles.IsUserInRole("HREG_C") || Roles.IsUserInRole("HREG_W"))
                { 
                    @Html.ActionLink("Home Registration", "BlacklistChecking", "HomeRegistration", new { Area = "" }, new { id = "menuHomeReg" })
                }

                if (Roles.IsUserInRole("HREG_R") || Roles.IsUserInRole("HREG_RA") || Roles.IsUserInRole("HREG_LOGC"))
                {
                    @Html.ActionLink("Search", "SearchRegistration", "HomeRegistration", new { Area = "" }, new { id = "menuHomeSearch" })
                }
            }
            
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Logout", "Logoff", "Account", new { Area = "" }, new { id = "menuLogout", style = "width:90px;height:32px;" })
            }
        </div>
    </div>
    <div id="viewBody">
        @RenderBody()
    </div>

    @{                    
        Html.Telerik()
            .ScriptRegistrar()
            .DefaultGroup(grp => grp
                .Add("jquery.validate.min.js")
                .Add("jquery.validate.unobtrusive.min.js")
                .Add("jquery.unobtrusive-ajax.js")
                .Add("jquery-ui-1.8.20.min.js")
                .Add("ZeroClipboard.js")
                .Add("jquery.blockUI.js")
                .Add("modernizr-2.5.3.js")
                .Add("jquery-ui-timepicker-addon.js")
                .Add("flashcanvas.js")
                .Add("jSignature.min.js")
                .Add("jquery.ui.core.js")
                .Add("jquery.ui.widget.js")
                .Add("jquery.ui.rcarousel.js")
            ).Render();
    }

    <script type="text/javascript">
        function numbersonly(e, decimal) {
            var key;
            var keychar;

            if (window.event) {
                key = window.event.keyCode;
            }
            else if (e) {
                key = e.which;
            }
            else {
                return true;
            }
            keychar = String.fromCharCode(key);

            if ((key == null) || (key == 0) || (key == 8) || (key == 9) || (key == 13) || (key == 27)) {
                return true;
            }
            else if ((("0123456789").indexOf(keychar) > -1)) {
                return true;
            }
            else if (decimal && (keychar == ".")) {
                return true;
            }
            else {
                return false;
            }
        }

        function isNumber(s) {
            return /^-?\d+$/.test(s);
        }

        $(document).ready(function () {

            /**/
            var urlSession = '@(Url.Content("~/SetSession/SetVariable"))';

            $('#aValidation').click(function () {
                $.post(urlSession,
           { value: 'Validation' }, function (data) {
               return false;
           });

            });


            $('#aOrder').click(function () {
                $.post(urlSession,
            { value: 'OrderSummary' }, function (data) {
                //alert("Success " + data.success);
                return false;
            });

            });
        /**/

        var LoadImgPath = '@Url.Content("~/Content/img/shared/iSELL-loading.gif")';
        var isonformsubmit = "False";

        $(document).ajaxStart(function () {
            $.blockUI({
                baseZ: 11000,
                message: '<div class="LoderDiv"><img id="imgloading" src=' + LoadImgPath + ' /><br><span style="font-family: Verdana,Geneva,sans-serif;font-size: 20px;">Loading...</span></div>'
            });
            setTimeout("$('#imgloading').attr('src', '" + LoadImgPath + "' );", 1);
        }).ajaxStop(function () {
            if (isonformsubmit == "False") {                
                $.unblockUI();
            }
        });

        $(".overlayonsubmit").on("submit", function () {
            if ($(this).valid()) {
                $.blockUI({
                    baseZ: 11000,
                    message: '<div class="LoderDiv"><img id="imgloading" src=' + LoadImgPath + ' /><br><span style="font-family: Verdana,Geneva,sans-serif;font-size: 20px;">' + $(this).attr("processmsg") + '</span></div>'
                });
                setTimeout("$('#imgloading').attr('src', '" + LoadImgPath + "' );", 1);
                isonformsubmit = "True";
            }
        });
        $('.cancel').click(function () {
            $.data($(this).parents('form')[0], 'validator', null);
        });

            if ($("#viewBody").length > 0 && $(".viewInnerBody").length > 0) {
                $('.viewInnerBody').height($('#viewBody').height() + 90);

                if ($(".orderSummary .content").length > 0) {
                    $('.orderSummary .content').height($('.viewInnerBody').height() - 50);
                }
            }

            $("#menuLogout").click(function () {
                if (confirm("Are you sure do you want to logout!")) {
                    return true;
                }
                else {
                    return false;
                }
            });

            //added by VLT to disable MNP button
            $("#menuPlanMNP").click(function () {
                return false;
            });
        });


        //VLT Code For Disable Back  on  Apr 04 2013
        window.history.forward();
        function noBack() { window.history.forward(); }
        //End of VLT Code For Disable Back on  Apr 04 2013

    </script>
    
    @RenderSection("Scripts", false)
</body>
</html>
