﻿@using System.Configuration;
@using Online.Registration.Web.Helper;
@using System.Web.Security;
@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Models;
@using Online.Registration.DAL.Models;
@using SNT.Utility;
@model Online.Registration.Web.SmartViewModels.PegaRecommendationsVM
@{
     
    Layout = null;
    ViewBag.Title = "Smart Recommendations Status";
    bool pegaRecommendationFlag = ConfigurationManager.AppSettings["PegaRecommendationFlag"].ToBool();
    
    int RecordsCount = 0;
    if (pegaRecommendationFlag)
    {
        RecordsCount = Model.PegaRecommendationsSearchResult == null ? 0 : Model.PegaRecommendationsSearchResult.Count();
    }

    var RegId = ViewData["regID"].ToBool();
    
    var pegaOfferList = (PegaOfferVM)Session["PegaOfferList"];
    var searchmsisdn = "0";
    var searchid = pegaOfferList == null ? "0" : pegaOfferList.idCardNumber;

    string notif1 = "You have selected ";
    string notif2 = " row(s) to be updated. Please click 'Confirm' to proceed.";
    string notif3 = "If you click 'Cancel', no changes will be saved.";
    
    string hideDashboard = pegaRecommendationFlag ? "" : "hidden";
}
<!-- Centre column area -->

<div class="content_white @hideDashboard" id="PegaMinidashboardId" style="padding-top: 20px; background-image: linear-gradient(to bottom, #e6e6e6, #e6e6e6);">
    <div id="maincontentcontainer">
            
        <div id="center" >
            @using (Html.BeginForm("PegaRecommendationDashboard", "Registration", FormMethod.Post, new { id = "frmSupervisor", @class = "overlayonsubmit", processmsg = "Loading" }))
            {   
                <div class="col-sm-12 success">
                    <h1>@ViewBag.Title</h1>
                </div>
                if (RecordsCount == 0)
                {
                    <div style="margin-left: 15px;">
                        <div style='font-weight: bold'>
                               <h3>No recommendations accepted</h3>
                        </div>
                    </div>
                }
                else
                {
                <div>
                    @Html.HiddenFor(model => model.PegaRecommendationsSearchCriteria.MSISDN)   
                    @Html.HiddenFor(model => model.PegaRecommendationsSearchCriteria.SelectedId)  
                    @Html.HiddenFor(model => model.PegaRecommendationsSearchCriteria.SelectedIdTotalRec)
                    @Html.HiddenFor(model => model.PegaRecommendationsSearchCriteria.SelectedRecs)

                    
                    <div class="content_white" style="padding: 0px 20px;">
                        
                        <div class="tabcontents">
                                <div align="right" style="font-size:13px">
                                    <img alt="Tick" id="btnTickInfo" src='@Url.Content("~/Content/images/checked.jpg")' style="height:15px" />  Tick rows to be updated 
                                </div>
                                </ br>
                                @{
                    Html.Telerik().Grid(Model.PegaRecommendationsSearchResult)
                        .Name("smartpegarecommendation")
                        .Footer(true).Scrollable(a => a.Enabled(true).Height(380))
            .HtmlAttributes(new { style = "width:100%; margin-top: 10px;" })
            .TableHtmlAttributes(new { id = "tblResults", style = "border-radius:10px; font-size:13px; border-color:black", border = "1" })
            .Selectable().DataKeys(a => a.Add("ID"))
            .Sortable(sorting => sorting
            .OrderBy(sortOrder => sortOrder.Add(m => m.AcceptedDate).Descending()))
            .Pageable(pager => pager.PageSize(10))
            .Columns(cols =>
            {
                cols.Bound(m => m.ID).Hidden();
                cols.Bound(m => m.ProductName).Title("Recommendation").Width("8%").HeaderHtmlAttributes(new { style = "font-size:15px; font-weight: bold;" });
                cols.Bound(m => m.MSISDN).Title("MSISDN").Width("5%").HeaderHtmlAttributes(new { style = "font-size:15px; font-weight: bold;" });
                cols.Bound(m => m.AcceptedDate).Title("Accepted Date").Width("8%").Format("{0:dd/MM/yyyy hh:mm:ss tt}").HeaderHtmlAttributes(new { style = "font-size:15px; font-weight: bold;" });
                cols.Bound(m => m.CapturedById).Title("Captured By").Width("5%").HeaderHtmlAttributes(new { style = "font-size:15px; font-weight: bold;" });
                cols.Bound(m => m.Status).Title("Status").Width("7%").HeaderHtmlAttributes(new { style = "font-size:15px; font-weight: bold;" }).
                    Template(
                        @<text>
                                @Html.DropDownListFor(x => item.Status, Util.GetList(RefType.PegaStatusRule, defaultText: item.Status), new { id = "row-" + @item.ID, @disabled = true, @onchange = "GetStatusUpdated(this)", @class = "dashboard-dropdown", @style = "background-color: #F2F2F2" })
                            </text>
                    );
                cols.Bound(m => m.ID).Title("").Width("2%").Template(@<text>
                        <p >
                            <input name="checkedOperations" id="@item.ID" type="checkbox" class='chksaved' value="@item.ID" onclick="return EnableStatus(this);"
                                        title="Approve" /></p>
                        </text>);
            })

                        .Resizable(resizing => resizing.Columns(false))
                        .Render();
                                                                
                                }
                                
                                    <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td align="right">
                                                        <input id="btnApprove" class="submitButton" type="button" value="Save" onclick="return populateCountSave();" />
                                                    </td>
                                                </tr>
                                    </table>
                            </div>
                            </div>
                        </div>
                }
                        <div class="modal" id="confirmsave-pop" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content ">
                                    <div class="modal-header" style="font-weight:bold">
                                        <h3>Confirm Saved?</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                                <div class="col-sm-12 usage-title">
                                                    <p class="usage-title">@notif1 <text id="prompt_total" style="display:inline-block; font-weight:bold"></text> @notif2</p>
                                                </div>
                                            <div class="col-sm-12" style="margin-bottom: 10px;">
                                                <br />
                                                <p class="usage-title">@notif3</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="sm-col-12 kill-padding">
                                            <div class="row">
                                                <div class="col-sm-9" id="Prompt_confirm">
												    <div class="btn isell-submit center-block" style="width: 25%; margin-right: 0px;" onclick="return SaveRecords();">Confirm</div>
											    </div>
                                                <div class="col-sm-3" id="Prompt_cancel">
												    <div class="btn isell-submit center-block" data-dismiss="modal">Cancel</div>
											    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>   
            }
        </div>
    </div>
</div>

<link type="text/css" href="@Url.Content("~/Content/2012.2.607/telerik.common.min.css")" rel="stylesheet"/>
<link type="text/css" href="@Url.Content("~/Content/2012.2.607/telerik.office2010silver.min.css")" rel="stylesheet"/>

<script type="text/javascript">
    var baseUrl = '@Url.Content("~/")';
    if (baseUrl == '') {
        baseUrl = '/';
    }

    var selectedRec = '';
    var countArray = 0;
    var sCompIds = "";
    var sValue = "";
    var chkcount = 0;

    $(document).ready(function () {
        $('.t-status').hide();
    });

    $(document).keypress(function (e) {

        if (e.which == 13) {
            var activeid = $(document.activeElement).attr("id");
            if (activeid == 'PegaRecommendationsSearchCriteria_IDCardNo' || activeid == 'PegaRecommendationsSearchCriteria_MSISDN') {
                $("#btnSearch").click();
                return false;
            }

            else if (activeid == 'chktoday') {
                $("#btnAdvSearch").click();
                return false;
            }


            else if (activeid == 'btnApprove') {
                $("#btnApprove").click();
                return false;
            }

            else {
                $("#divError").html("");
                return false;

            }
        }
    });


    function GetStatusUpdated(obj) {
        var recordID = obj.id;
        var IDsplit = recordID.split("-");
        //var currentStatusID = IDsplit[2];
        var updateStatus = $("#" + recordID + " :selected").text();

        selectedRec = selectedRec + '|' + countArray + ',' + recordID + ',' + updateStatus;
        countArray = countArray + 1;
    }


    function EnableStatus(obj) {
        var recId = "row-" + obj.id;
        if ($('#row-3 :selected').text() != "Complete" || $('#row-3 :selected').text() != "Cancelled") {
            if (obj.checked) {
                $("#" + recId).removeAttr("disabled");
                $("#" + recId).css({ "background-color": 'white' });
            }
            else {
                $("#" + recId).attr("disabled", true);
                $("#" + recId).css({ "background-color": '#F2F2F2' });
            }
        }
    }

    function populateCountSave() {
        chkcount = 0;
        sCompIds = "";
        $('input[name=checkedOperations]').each(function () {
            if (this.checked) {
                sValue = $(this).val();
                chkcount = parseInt(chkcount) + 1
                sCompIds += sValue + ",";
            }
        });
        $('#PegaRecommendationsSearchCriteria_SelectedIdTotalRec').val(chkcount);

        if (parseInt(chkcount) <= 0) {
            alert('Please select record to update');
            return false;
        }
        else {
            $('#prompt_total').html(chkcount);
            $('#confirmsave-pop').modal('show')
        }
    }

    function SaveRecords() {
        var urlPega = '@(Url.Content("~/Registration/UpdatePegaRecord"))';

        $.ajax({
            type: "POST",
            dataType: "json",
            url: urlPega,
            async: true,
            data: { SelectedId: sCompIds, SelectedRecs: selectedRec },
            success: function (data) {
                debugger;
                if (data.ResultMessage == "0") {
                    alert('Update failed, please try again!')
                }
                else {
                    $('#confirmsave-pop').modal('hide');
                    $.ajax({
                        type: "POST",
                        url: '@(Url.Content("~/Retention/Retention/RefreshPegaRecord"))',
                        async: true,
                        data: { msisdn: '@searchmsisdn', idCardNo: '@searchid', type: "1" },
                        success: function (data) {
                            $('#PegaMinidashboardId').html(data);
                            var eachID = sCompIds.split(",");

                            for (var i = 0, len = eachID.length; i < len; i++) {
                                $("#" + eachID[i]).removeAttr("checked");
                                $("#" + "row-" + eachID[i]).attr("disabled", true);
                            }
                        }
                    });

                }
            }
        });

    }

</script>