﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Admin.Models

@model ModelImageViewModel

@{
    ViewBag.Title = "Add Model Image";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Add:</legend>
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ModelImage.ModelID)
                </td>
                <td>
                    @if (Model.ModelID == 0)
                    {
                        @(Html.Telerik().DropDownListFor(model => model.ModelImage.ModelID).BindTo(Util.GetList(RefType.Model, defaultValue:"")))
                        @Html.ValidationMessageFor(model => model.ModelImage.ModelID)
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.ModelID, new { @disabled = true, @Value = Util.GetNameByID(RefType.Model, Model.ModelID), @style="width:250px" }) 
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ModelImage.ColourID)
                </td>
                <td>
                    @if (Model.ColourID == 0)
                    {
                        @(Html.Telerik().DropDownListFor(model => model.ModelImage.ColourID).BindTo(Util.GetList(RefType.Colour, defaultValue: "")))
                        @Html.ValidationMessageFor(model => model.ModelImage.ColourID)
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.ColourID, new { @disabled = true, @Value = Util.GetNameByID(RefType.Colour, Model.ColourID), @style = "width:250px" }) 
                    }
                </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.ModelImage.ImagePath)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ModelImage.ImagePath, new { style = "width:250px" }) 
                        @Html.ValidationMessageFor(model => model.ModelImage.ImagePath)
                </td>
            </tr> 
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" name="submit" value="Save">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
}