﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Admin.Models

@model ModelImageViewModel

@{
    ViewBag.Title = "Edit Model Image";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Edit:</legend>
         @Html.HiddenFor(model => model.ModelImage.ID)
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ModelImage.ModelID)
                </td>
                <td>
                    @if (Model.Type != RefType.Model)
                    {
                        @(Html.Telerik().DropDownListFor(model => model.ModelImage.ModelID).BindTo(Util.GetList(RefType.Model, defaultValue:"")))
                        @Html.ValidationMessageFor(model => model.ModelImage.ModelID)
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.ModelImage.ModelID, new { @disabled = true, @Value = Util.GetNameByID(RefType.Model, Model.ModelImage.ModelID), @style="width:250px" }) 
                        @Html.HiddenFor(model => model.ModelImage.ModelID)
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ModelImage.ColourID)
                </td>
                <td>
                    @if (Model.Type != RefType.Colour)
                    {
                        @(Html.Telerik().DropDownListFor(model => model.ModelImage.ColourID).BindTo(Util.GetList(RefType.Colour, defaultValue:"")))
                        @Html.ValidationMessageFor(model => model.ModelImage.ColourID)
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.ModelImage.ColourID, new { @disabled = true, @Value = Util.GetNameByID(RefType.Colour, Model.ModelImage.ColourID.ToInt()), @style="width:250px" }) 
                        @Html.HiddenFor(model => model.ModelImage.ColourID)
                    }
                </td>
            </tr>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.ModelImage.ImagePath)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ModelImage.ImagePath, new { style = "width:250px" }) 
                        @Html.ValidationMessageFor(model => model.ModelImage.ImagePath)
                </td>
            </tr> 
            <tr>
                <td>
                    @Html.LabelFor(model => model.ModelImage.CreateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ModelImage.CreateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.ModelImage.CreateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ModelImage.LastUpdateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ModelImage.LastUpdateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.ModelImage.LastUpdateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ModelImage.LastAccessID)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ModelImage.LastAccessID, new { @readonly = true, @disabled = true, @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ModelImage.Active)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.ModelImage.Active) 
                    @Html.ValidationMessageFor(model => model.ModelImage.Active)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" name="submit" value="Save">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
}