﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Admin.Models

@model StatusChangeViewModel

@{
    ViewBag.Title = "Add Status Change";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Add:</legend>
        
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.FromStatusID)
                </td>
                <td>
                    @if (Model.FromStatusID == 0)
                    {
                        @(Html.Telerik().DropDownListFor(model => model.StatusChange.FromStatusID).BindTo(Util.GetList(RefType.Status, defaultValue:"")))
                        @Html.ValidationMessageFor(model => model.StatusChange.FromStatusID)
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.FromStatusID, new { @disabled = true, @Value = Util.GetNameByID(RefType.Status, Model.FromStatusID), @style="width:250px" }) 
                        @Html.HiddenFor(model => model.FromStatusID)
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ToStatusID)
                </td>
                <td>
                    @if (Model.ToStatusID == 0)
                    {
                        @(Html.Telerik().DropDownListFor(model => model.StatusChange.ToStatusID).BindTo(Util.GetList(RefType.Status, defaultValue: "")))
                        @Html.ValidationMessageFor(model => model.StatusChange.ToStatusID)
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.ToStatusID, new { @disabled = true, @Value = Util.GetNameByID(RefType.Status, Model.ToStatusID), @style = "width:250px" }) 
                        @Html.HiddenFor(model => model.ToStatusID)
                    }
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" name="submit" value="Save">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
}