﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Admin.Models

@model StatusChangeViewModel

@{
    ViewBag.Title = "Edit Status Change";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Edit:</legend>
        @Html.HiddenFor(model => model.StatusChange.ID)
        <table>
            <tr>
                <td>@Html.LabelFor(model => model.StatusChange.ID)</td>
                <td>@Html.DisplayFor(model => model.StatusChange.ID)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.StatusChange.FromStatusID)
                </td>
                <td>
                    @if (Model.Type == "fromStatus")
                    {
                        @Html.TextBoxFor(model => model.StatusChange.FromStatusID, new { @disabled = true, @Value = Util.GetNameByID(RefType.Status, Model.StatusChange.FromStatusID), @style="width:250px" })
                        @Html.HiddenFor(model => model.StatusChange.FromStatusID)
                    }
                    else
                    {
                        @(Html.Telerik().DropDownListFor(model => model.StatusChange.FromStatusID).BindTo(Util.GetList(RefType.Status, defaultValue:"")))
                        @Html.ValidationMessageFor(model => model.StatusChange.FromStatusID)
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.StatusChange.ToStatusID)
                </td>
                <td>
                    @if (Model.Type == "toStatus")
                    {
                        @Html.TextBoxFor(model => model.StatusChange.ToStatusID, new { @disabled = true, @Value = Util.GetNameByID(RefType.Status, Model.StatusChange.ToStatusID), @style="width:250px" })
                        @Html.HiddenFor(model => model.StatusChange.ToStatusID)
                    }
                    else
                    {
                        @(Html.Telerik().DropDownListFor(model => model.StatusChange.ToStatusID).BindTo(Util.GetList(RefType.Status, defaultValue: "")))
                        @Html.ValidationMessageFor(model => model.StatusChange.ToStatusID)
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.StatusChange.CreateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.StatusChange.CreateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.StatusChange.CreateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.StatusChange.LastUpdateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.StatusChange.LastUpdateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.StatusChange.LastUpdateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.StatusChange.LastAccessID)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.StatusChange.LastAccessID, new { @readonly = true, @disabled = true, @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.StatusChange.Active)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.StatusChange.Active) 
                    @Html.ValidationMessageFor(model => model.StatusChange.Active)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" name="submit" value="Save">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
}