﻿@using Online.Registration.DAL.ReportModels;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.ViewModels;

@model SearchViewAgingReportModel

@{
    ViewBag.Title = "Aging Report";
    int centerId = 0;
    if (ViewBag.CenterOrgID != null)
    {
        centerId = ViewBag.CenterOrgID;
    }
}

@using (Html.BeginForm())
{
    <h2>Aging Report</h2>
    <fieldset>
    @*<legend style="font-weight:bold">Stock Order Report</legend>*@
        <table>
            <tr>
                    <td>
                       @Html.LabelFor(m => m.SearchCriterias.RegDateFrom)
                    </td>
                    <td>
                        @Html.Telerik().DatePickerFor(m => m.SearchCriterias.RegDateFrom).Value(DateTime.Now.Date).Format(Util.GetDateFormatString()).InputHtmlAttributes(new { @readonly = true })
                    </td>
                    <td>
                       @Html.LabelFor(m => m.SearchCriterias.RegDateTo)
                    </td>
                    <td>
                        @Html.Telerik().DatePickerFor(m => m.SearchCriterias.RegDateTo).Value(DateTime.Now.Date).Format(Util.GetDateFormatString()).InputHtmlAttributes(new { @readonly = true })
                    </td>
            </tr>
            @*<tr>
                <td>
                    @Html.LabelFor(model => model.SearchCriterias.CenterOrgID)
                </td>
                <td>
                     @if (centerId > 0)
                     {
                        @Html.Raw(Util.GetNameByID(RefType.Organization, (Util.SessionAccess.tblUser.OrgID)))  
                     }
                     else
                     {
                        @Html.Telerik().DropDownListFor(model => model.SearchCriterias.CenterOrgID).BindTo(Util.GetList(RefType.Organization, defaultText: "-- Please select --"))
                     }
                </td>
            </tr>*@
            <tr>
                <td>
                    @Html.LabelFor(m => m.SearchCriterias.CenterTypeID)
                </td>
                <td>
                    @Html.Telerik().DropDownListFor(model => model.SearchCriterias.CenterTypeID).BindTo(Util.GetList(RefType.OrgType, defaultText: "-- Please select --"))
                    @*@Html.Telerik().DropDownListFor(model => model.SearchCriterias.CenterTypeID).ClientEvents(events => events.OnChange("populateCenter")).BindTo(Util.GetList(RefType.OrgType, defaultText: "-- Please select --"))*@
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.SearchCriterias.CenterOrgID)
                </td>
                <td>
                    @Html.Telerik().DropDownListFor(model => model.SearchCriterias.CenterOrgID).BindTo(Util.GetList(RefType.Organization, defaultText: "-- Please select --"))
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.SearchCriterias.StatusID)
                </td>
                <td>
                    @Html.Telerik().DropDownListFor(model => model.SearchCriterias.StatusID).BindTo(Util.GetStatusList(STATUSTYPE.Home, defaultText: "-- Please select --"))
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.SearchCriterias.ICNo)</td>
                <td>@Html.TextBoxFor(model => model.SearchCriterias.ICNo)</td>

                <td>@Html.LabelFor(model => model.SearchCriterias.MSISDN)</td>
                <td>@Html.TextBoxFor(model => model.SearchCriterias.MSISDN)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.SearchCriterias.CreatedBy)</td>
                <td>@Html.TextBoxFor(model => model.SearchCriterias.CreatedBy)</td>

                <td>@Html.LabelFor(model => model.SearchCriterias.LastUpdatedBy)</td>
                <td>@Html.TextBoxFor(model => model.SearchCriterias.LastUpdatedBy)</td>
            </tr>
            @*<tr>
                <td>
                    @Html.LabelFor(model => model.SearchCriterias.IsSerialize)
                </td>
                <td>
                    @Html.Telerik().DropDownListFor(model => model.SearchCriterias.IsSerialize).BindTo(Model.Type)
                </td>
            </tr>*@
            <tr>
                <td>
                    Report Format
                </td>
                <td>
                    @Html.RadioButtonFor(model => model.Format, ReportFormat.Web, new { @checked = "checked" }) Web
                    &nbsp;&nbsp;
                    @Html.RadioButtonFor(model => model.Format, ReportFormat.Excel) Excel
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icontext" type="submit" value="Search" name="Search">
            <span class="t-icon t-search"></span>
            Generate Report
        </button>
    </div>
}

@section Scripts
{
<script type = "text/javascript">

    $(document).ready(function () {
        @if (centerId <= 0)
        {
            <text>
            $('#SearchCriterias_CenterOrgID').data('tDropDownList').value('0');
            </text>
        }    
        $('#SearchCriterias_StatusID').data('tDropDownList').value('0');
        $('#SearchCriterias_CategoryID').data('tDropDownList').value('0');
        $('#SearchCriterias_BrandID').data('tDropDownList').value('0');
        $('#SearchCriterias_ModelID').data('tDropDownList').value('0');
        $('#SearchCriterias_BizUnitID').data('tDropDownList').value('0');
        $('#SearchCriterias_ItemTypeID').data('tDropDownList').value('0');
        $('#SearchCriterias_IsSerialize').data('tDropDownList').value('0');
    })

    function populateBrand() {
        var categoryDropDown = $(this).data('tDropDownList');
        var categoryID = categoryDropDown.value();
        var ddlBrand = $('#SearchCriterias_BrandID').data('tDropDownList');
        var lstBrand = $('#lstBrand');

        //select nothing for Category
        if (categoryID == "" || categoryID == 0) {
            var dataSource =
                [
                    { Text: "-- Please select --", Value: "" }
                ];

            ddlBrand.dataBind(dataSource);
            ddlBrand.select(0);
        }
        else {
            var url = '@(Url.Content("~/Report/GetBrandByCategory"))';
            $.post(url, { categoryID: categoryID }, function (data) {
                var ddlBrand = $('#SearchCriterias_BrandID').data('tDropDownList');

                var dataSource = $.map(data, function (item) {
                    return { Text: item.Text, Value: item.Value }
                });

                ddlBrand.dataBind(dataSource);
                ddlBrand.select(0);
            });
        }
    }

    function populateModel() {
        var brandDropDown = $(this).data('tDropDownList');
        var brandID = brandDropDown.value();
        var ddlModel = $('#SearchCriterias_ModelID').data('tDropDownList');
        var lstModel = $('#lstModel');

        //select nothing for Brand
        if (brandID == "" || brandID == 0) {
            var dataSource =
                [
                    { Text: "-- Please select --", Value: "" }
                ];

            ddlModel.dataBind(dataSource);
            ddlModel.select(0);
        }
        else {
            var url = '@(Url.Content("~/Report/GetModelByBrand"))';
            $.post(url, { brandID: brandID }, function (data) {
                var ddlModel = $('#SearchCriterias_ModelID').data('tDropDownList');

                var dataSource = $.map(data, function (item) {
                    return { Text: item.Text, Value: item.Value }
                });

                ddlModel.dataBind(dataSource);
                ddlModel.select(0);
            });
        }
    }
</script>
}
