﻿@using Online.Registration.DAL.ReportModels;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.ViewModels;

@model SearchViewBiometricsReportModel

@{
    ViewBag.Title = "Biometrics Report";
    int centerId = 0;
    if (ViewBag.CenterOrgID != null)
    {
        centerId = ViewBag.CenterOrgID;
    }
}

@using (Html.BeginForm())
{
    <h2>@ViewBag.Title</h2>
    <fieldset>
        <table>
            <tr>
                <td>@Html.LabelFor(model => model.SearchCriterias.IDCardNo)</td>
                <td>@Html.TextBoxFor(model => model.SearchCriterias.IDCardNo)</td>

                <td>@Html.LabelFor(model => model.SearchCriterias.Name)</td>
                <td>@Html.TextBoxFor(model => model.SearchCriterias.Name)</td>
            </tr>
            <tr>
                <td>
                    Report Format
                </td>
                <td>
                    @Html.RadioButtonFor(model => model.Format, ReportFormat.Web, new { @checked = "checked" }) Web
                    &nbsp;&nbsp;
                    @Html.RadioButtonFor(model => model.Format, ReportFormat.Excel) Excel
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icontext" type="submit" value="Search" name="Search">
            <span class="t-icon t-search"></span>
            Generate Report
        </button>
    </div>
}
