﻿@using Online.Registration.DAL.ReportModels;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.ViewModels;

@model List<BiometricsReport>

@{
    ViewBag.Title = "Biometrics Report Result";
    Layout = "";
    var format = (ReportFormat)ViewBag.Format;

    if (format == ReportFormat.Excel)
    {
        Response.ContentType = "application/vnd.ms-excel";
        Response.AddHeader("content-disposition", "inline; filename=BiometricsReport.xls");
    }
}
<html>
    <head>
        <title>@ViewBag.Title</title>
        @if (format == ReportFormat.Web)
        {
            <link href="@Url.Content("~/Content/SiteReport.css")" rel="stylesheet" type="text/css" media="all" />
        }  
    </head>
    <body>
         <table border="0" cellspacing="0" cellpadding="0" width="100%" bordercolor="white">
            <tr><td>&nbsp;</td></tr>
            <tr>
                <td width="100" height="100" align="center" colspan="1">
                    <img alt="" src='@(Util.GetAbsoluteAppPath("/Content/images/maxislogo.png"))' width="70px" height="30px" />
                </td>
                <td align="center" colspan="6" width="80%">
                    <font class="reporttitle"><b>@ViewBag.Title</b></font>
                </td>
                <td valign="bottom" align="right" colspan="1">
                    <font class="tabletxt" align="right">
                        <br />@Util.FormatDateTime(DateTime.Now)
                    </font>
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <table border="1" style="border-color: Gray" width="100%" cellspacing="0" class="reportHeader">
	                    <tr>
	                        <th>Reg ID</th>
                            <th>Name</th>
	                        <th>New IC</th>
	                        <th>Old IC</th>
                            <th>Gender</th>
	                        <th>DOB</th>
                            <th>Nationality</th>
                            <th>Race</th>
	                        <th>Religion</th>
	                        <th>Address</th>
                            <th>Finger Match</th>
                            <th>Finger Thumb</th>
                            <th>Last Updated By</th>
	                    </tr>
   
                        @{
                            var intTot = 0;
                            if (@Model != null)
                            {
                                foreach (var item in @Model)
                                {
                                    intTot++;
                                    <tr class="tabletxt">
                                        <td>@item.RegID</td>
                                        <td>@item.Name</td>
                                        <td>@item.NewIC</td>
                                        <td>@item.OldIC</td>
                                        <td>@item.Gender</td>
                                        <td>@item.DOB</td>
                                        <td>@item.Nationality</td>
                                        <td>@item.Race</td>
                                        <td>@item.Religion</td>
                                        <td>@item.Address1 @item.Address2 @item.Address3 @item.Postcode @item.City @item.State</td>
                                        <td>@item.FingerMatch</td>
                                        <td>@item.FingerThumb</td>
                                        <td>@item.LastUpdatedBy</td>
                                    </tr>
                                }
                            }
                        }    
                    </table> <font class="tabletxt">Total Record(s): @intTot</font>
                </td>
            </tr>
        </table>
        
	    
    </body>
</html>