﻿@using System.Configuration;
@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "FailTranHistory";
    var interval = ConfigurationManager.AppSettings["TimerInterval"].ToString();
}
@model  Online.Registration.DAL.ReportModels.FailedTransHistoryDetails
@using (Html.BeginForm("FailTranHistory", "Reports", FormMethod.Post, new { id = "frmFailTranRegHistory" }))
{    
    <div class="vwHeader">
        <table width="100%">
            <tr>
                <td>
                    <div>@ViewBag.Title</div>
                    @*<div class="vwSubHeader">@ViewBag.Title</div>*@
                    <div class="vwSubHeader">
                    </div>
                </td>
                <td align="right">
                </td>
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
        <br />
        @{
                    Html.Telerik().PanelBar()
        .Name("pnlMainComponents")
        .ExpandAll(false)
        .ExpandMode(Telerik.Web.Mvc.UI.PanelBarExpandMode.Single)
        .HtmlAttributes(new { @class = "" })
        .Items(parent =>
        {
            parent.Add()
               .Expanded(true)
               .Text("Registration History")
               .LinkHtmlAttributes(new { style = "height:30px;font-size:16px;font-weight:bold;" })
               .ContentHtmlAttributes(new { @class = "panel-content" })
               .Content(@<text>
            <div class="divRegHistory">
                @{
                            Html.Telerik().Grid(Model.RegHistoryDetails)
                                .Name("gvwRegistrationHistory")
                                .Footer(false).Scrollable(a => a.Enabled(true).Height(380))
                                .HtmlAttributes(new { style = "width:800px;" })
                                .TableHtmlAttributes(new { style = "border-radius:10px;" })
                                .Selectable().DataKeys(a => a.Add("RegID"))
                                .NoRecordsTemplate("No records to display")
                                .Sortable(sorting => sorting
                                .OrderBy(sortOrder => sortOrder.Add(m => m.CreateDT).Descending()))
                                .Columns(cols =>
                                {
                                    cols.Bound(m => m.RegStatus).Title("Reg Status");
                                    cols.Bound(m => m.LastAccessID).Title("Last Access ID");
                                    cols.Bound(m => m.CreateDT).Title("Created Date");

                                })
                                .Render();
                }
            </div>
            </text>);
            parent.Add()
         .Expanded(true)
         .Text("KenanLogs")
         .LinkHtmlAttributes(new { style = "height:30px;font-size:16px;font-weight:bold;" })
         .ContentHtmlAttributes(new { @class = "panel-content" })
         .Content(@<text>
            <div class="divKenanLogs">
                @{
                    Html.Telerik().Grid(Model.KenanLogDetails)
                        .Name("gvwKenanLogs")
                        .Footer(false).Scrollable(a => a.Enabled(true).Height(380))
                        .HtmlAttributes(new { style = "width:800px;" })
                        .TableHtmlAttributes(new { style = "border-radius:10px;" })
                        .NoRecordsTemplate("No records to display")
                        .Sortable(sorting => sorting
                        .OrderBy(sortOrder => sortOrder.Add(m => m.RegID).Descending()))
                        .Columns(cols =>
                        {
                            cols.Bound(m => m.KenanXmlReq).Title("Kenan Xml Request").Width(280).HtmlAttributes(new { style = "overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" });
                            cols.Bound(m => m.KenanXmlRes).Title("Kenan Xml Response").Width(280).HtmlAttributes(new { style = "overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" });
                            //cols.Bound(m => m.MessageDesc).Title("Messaga Description");

                        })
                     .Render();
                }
            </div>
            </text>);
        }).Render();

    Html.Telerik().Window()
    .Name("simWindow")
    .Title("SIM Serial")
    .Width(325).Height(120)
    .Content(@<text>
            @using (Html.BeginForm("MobileRegSummary", "Registration", FormMethod.Post, new { onSubmit = "return PoputateKenanLog(this);" }))
    {
                <table> <tr> <td>@Html.LabelFor(model => model.KenanLogDetails)
                </td> <td>
                @Html.LabelFor(model => model.KenanLogDetails)
            </td> </tr> </table>
    }
            </text>)
            .Modal(true)
            .Visible(false)
            .Render();
        }
    </div>
    
    
    
}
@section Scripts{
    <script type="text/javascript">


        function displayPoup(d) {
            alert(d);
        }
    </script>
}
