﻿@using System.Configuration;
@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "Fail Transction Report";
    var interval = ConfigurationManager.AppSettings["TimerInterval"].ToString();
}
@model Online.Registration.Web.ViewModels.SearchViewFailedTranReportModel

@using (Html.BeginForm("FailTransctionReport", "Reports", FormMethod.Post, new { id = "frmFailTransctionReport" }))
{    
    <div class="vwHeader">
        <table width="100%">
            <tr>
                <td>
                    <div>@ViewBag.Title</div>
                    @*<div class="vwSubHeader">@ViewBag.Title</div>*@
                    <div class="vwSubHeader"></div>
                </td>
                <td align="right">
                  <button class="button-back cancel" type="button" value="Back" id="btnBack"></button>
                </td>
            </tr>
        </table>
    </div>
    <div class="viewInnerBody">
    @*    <div style="font-size:x-large;padding:10px 0px 10px 0px;">@ViewBag.Title</div>*@
        <table>
            <tr>
                <td><b>@Html.LabelFor(model => model.FailTransactionReportSearchCriteria.RegID)</b></td>
                <td><b>@Html.LabelFor(model => model.FailTransactionReportSearchCriteria.IDCardNo)</b></td>
                <td><b>@Html.LabelFor(model => model.FailTransactionReportSearchCriteria.RegDateFrom)</b></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(model => model.FailTransactionReportSearchCriteria.RegID)</td>
                 <td>@Html.TextBoxFor(model => model.FailTransactionReportSearchCriteria.IDCardNo)</td>
               <td>@Html.Telerik().DatePickerFor(m => m.FailTransactionReportSearchCriteria.RegDateFrom).Value("").Format(Util.GetDateFormatString()).InputHtmlAttributes(new { @readonly = true })</td>
                <td>
                    <button class="" type="submit" value="Search" style=" text-align:center;width:50px;height:45px;border-style:none;background-color:White;cursor:pointer">
                        <img alt="" src='@Url.Content("~/Content/images/icon_srch.png")' width="40px" height="40px" />
                    </button>
                </td>
            </tr>
        </table>
        <br /> 
            @*<div style="width:719px;height:380px;overflow-y:auto;border:1px solid lightgray;">*@
                @{
                    Html.Telerik().Grid(Model.FailTransactionReportSearchResults)
                        .Name("gvwRegistration")
                        .Footer(false).Scrollable(a => a.Enabled(true).Height(380))
                        .HtmlAttributes(new { style = "width:800px;" })
                        .TableHtmlAttributes(new { style = "border-radius:10px;" })
                        .Selectable().DataKeys(a => a.Add("RegID"))
                        .ClientEvents(events => events.OnRowSelect("onRowSelected"))
                        .NoRecordsTemplate("No records to display")
                        @*VLT ADDED CODE by Rajeswari on 22nd Feb FOR SORTING REGDATE DESC ORDER *@
                        .Sortable(sorting => sorting
                        .OrderBy(sortOrder => sortOrder.Add(m => m.RegDate).Descending()))
                        @*VLT ADDED CODE ENDS by Rajeswari on 22nd Feb FOR SORTING REGDATE DESC ORDER *@
                        .Columns(cols =>
                        {
                            cols.Bound(m => m.RegType).Hidden();
                            cols.Bound(m => m.RegTypeDescription).Title("Registration Type");
                            cols.Bound(m => m.RegID).Title("ID");                                         
                            cols.Bound(m => m.CustomerName).Title("Customer");
                            cols.Bound(m => m.IDCardNo).Title("ID Card No");
                            cols.Bound(m => m.QueueNo).Title("Queue No");
                            cols.Bound(m => m.RegDate).Title("Created Date"); @* Added by VLT for RegDate Sorting *@
                            @*cols.Template(@<text>@Util.FormatDate(item.RegDate)</text>).Title("Create Date");*@ @* Commented by VLT*@ 
                            cols.Bound(m => m.Status).Title("Status");
                            cols.Bound(m => m.LastAccessID).Title("Last Access ID");

                        })
                        .Render();
                }
            @*</div>*@
    </div>
    
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnBack").click(function () {
                document.location = '@(Url.Action("ReportsMain","Reports"))';
                // window.location.href = '@Url.Content("~/Reports/ReportsMain")';
            });
        });
        
        function onRowSelected(e) {
            var ordersGrid = $('#gvwRegistration').data('tGrid');
            regTypeID = e.row.cells[0].innerHTML;
            regID = e.row.cells[2].innerHTML;

           // window.location.href = '@(Url.Content("~/Reports/FailTranHistory/"))' + regID;

         window.location.href = '@(Url.Content("~/Reports/RegistrationHistory/"))' + regID;

        }
</script>
  
}
