﻿@using System.Configuration;
@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "Registration and Kenan History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Online.Registration.Web.ViewModels.RegistrationHistory
@{
    var selId = 0; 
}
<div class="vwHeader">
        <table width="100%">
            <tr>
                <td>
                    <div>@ViewBag.Title</div>
                    @*<div class="vwSubHeader">@ViewBag.Title</div>*@
                    <div class="vwSubHeader"></div>
                </td>
                <td align="right">
                  <button class="button-back cancel" type="button" value="Back" id="btnBack"></button>
                </td>
            </tr>
        </table>
    </div>
<div class="viewInnerBody">
    <div style="float: left;">
        @*<div style="font-size:x-large;padding:10px 0px 10px 0px;">Step @(Session["RegStepNo"].ToInt()): @ViewBag.Title</div>*@
        <table>
            <tr>
                <td valign="top">
                    @Html.ValidationSummary(false)
                    <br />
                    @{
                        Html.Telerik().PanelBar()
                            .Name("pnlFailedRegHistory")
                            .ExpandAll(false).ExpandMode(Telerik.Web.Mvc.UI.PanelBarExpandMode.Single)
                            .Items(pbItem =>
                            {
                                pbItem.Add()
                                   .Expanded(true)
                                   .Text("Registration History")
                                   .LinkHtmlAttributes(new { style = "height:30px;font-size:16px;font-weight:bold;" })
                                   .ContentHtmlAttributes(new { @class = "panel-content" })
                                   .HtmlAttributes(new { width = "400px" })
                                   .Content(
                                    @<text>
                                    @RenderRegistrationHistory()
                                    </text>);

                                pbItem.Add()
                                   .Expanded(true)
                                   .Text("Kenan Call History")
                                   .LinkHtmlAttributes(new { style = "height:30px;font-size:16px;font-weight:bold;" })
                                   .ContentHtmlAttributes(new { @class = "panel-content" })
                                   .HtmlAttributes(new { width = "400px" })
                                   .Content(
                                        @<text>
                                        @RenderKenanCallHistory()
                                        </text>);
                            }).Render();

                        Html.Telerik().Window()
                        .Name("xmlRequestWindow")
                        .Title("Kenan Call")
                        .Width(600)
                        .Height(300)
                        .Content(@<text>
                        <table>
                            <tr>
                                <td colspan="2">
                                   <div id="divXmlHeader" style="font-weight:bold">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div id="divXmlRequest">
                                    </div>
                                    <div id="divXmlResponse">
                                    </div>
                                </td>
                            </tr>
                        </table>
                        </text>)
                        .Modal(true)
                        .Visible(false)
                        .Render();
                    }
                    @helper RenderKenanCallHistory()
                        {
                        <br />
                        <table>
                            <tr>
                                <td>
                                    @{
                                        Html.Telerik().Grid(Model.KenanCallHistory)
                                            .Name("gvwKenancallHistory")
                                            .Footer(false).Scrollable(a => a.Enabled(true).Height(380))
                                            .HtmlAttributes(new { style = "width:800px;" })
                                            .TableHtmlAttributes(new { style = "border-radius:10px;" })
                                            .Selectable().DataKeys(a => a.Add("RegID"))
                                            .NoRecordsTemplate("No records to display")
                                            .Sortable(sorting => sorting
                                            .OrderBy(sortOrder => sortOrder.Add(m => m.RegID).Descending()))
                                            .Columns(cols =>
                                             {
                                                 cols.Bound(m => m.RegID).Hidden();
                                                 cols.Bound(m => m.RegID).Title("ID").Width(50).HtmlAttributes(new { style = "overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" }); ;
                                                 cols.Bound(m => m.MethodName).Title("Method Name").Width(100).HtmlAttributes(new { style = "overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" });
                                                 cols.Bound(m => m.MessageCode).Title("Message Code").Width(100).HtmlAttributes(new { style = "overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" });
                                                 cols.Bound(m => m.MessageDesc).Title("Message Desc").Width(100).HtmlAttributes(new { style = "overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" });
                                                                                           
                                                 cols.Bound(m => m.KenanXmlReq).Title("Kenan Xml Request").Width(100).HtmlAttributes(new { style = "overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" }).Template(@<text><a href="#" onclick='openRequestPopup(this.innerHTML);'>@item.KenanXmlReq</a>
                                                                        </text>);
                                                 cols.Bound(m => m.KenanXmlRes).Title("Kenan Xml Response").Width(100).HtmlAttributes(new { style = "overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" }).Template(@<text><a href="#" onclick='openResponsePopup(this.innerHTML);'>@item.KenanXmlRes</a>
                                                                        </text>);
                                             })
                                            .Render();
                                       }
                                </td>
                            </tr>
                        </table>
                     }
                     @helper RenderRegistrationHistory()
                         {
                             <br />
                            <div class="divRegHistory">
                            @{
                                Html.Telerik().Grid(Model.RegIstrationHistoryDetail)
                                .Name("gvwRegistrationHistory")
                                .Footer(false).Scrollable(a => a.Enabled(true).Height(380))
                                .HtmlAttributes(new { style = "width:800px;" })
                                .TableHtmlAttributes(new { style = "border-radius:10px;" })
                                .Selectable().DataKeys(a => a.Add("RegID"))
                                .NoRecordsTemplate("No records to display")
                                .Sortable(sorting => sorting
                                .OrderBy(sortOrder => sortOrder.Add(m => m.CreateDT).Descending()))
                                .Columns(cols =>
                                {
                                    cols.Bound(m => m.RegStatus).Title("Reg Status");
                                    cols.Bound(m => m.LastAccessID).Title("Last Access ID");
                                    cols.Bound(m => m.CreateDT).Title("Created Date");

                                })
                                .Render();
                            }
                    </div>
                     }
                </td>
            </tr>
        </table>
        <input type="hidden" id="hdnXmlReqResp" runat="server" />
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
    function openRequestPopup(data) {
        $("#divXmlHeader").html("Kenan Xml Request");

        $("#divXmlRequest").html(data);

        $("#divXmlRequest").show();

        $("#divXmlResponse").hide();

        $('#xmlRequestWindow').data('tWindow').center().open();
    }

    function openResponsePopup(data) {
        $("#divXmlHeader").html("Kenan Xml Response");
        $("#divXmlResponse").html(data);

        $("#divXmlResponse").show();

        $("#divXmlRequest").hide();

        $('#xmlRequestWindow').data('tWindow').center().open();
    }
    $(document).ready(function () {
        $("#btnBack").click(function () {
            //document.location = '@(Url.Action("ReportsMain","Reports"))';
            window.location.href = '@Url.Content("~/Reports/FailTransctionReport")';
        });
    });
    </script>
}
