﻿@using System.Configuration;
@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "Available Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="vwHeader">
        <table width="100%">
            <tr>
                <td>
                    <div>@ViewBag.Title</div>
                    @*<div class="vwSubHeader">@ViewBag.Title</div>*@
                    <div class="vwSubHeader"></div>
                </td>
                <td align="right">
                  
                </td>
            </tr>
        </table>
    </div>
<div class="viewInnerBody">
<table>
    <tr>
        <td><b> @Html.ActionLink("Failed Transaction Report", "FailTransctionReport", "Reports")</b></td>
    </tr>
</table>
</div>
