﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using Online.Registration.DAL.Models;
@using Online.Registration.Admin.Models;
@using SNT.Utility;
@model IssuesGroupDispatchQViewModel

@{
    ViewBag.Title = "Add Issue Group Dispatch Queue";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Add:</legend>
        @Html.HiddenFor(model => model.ComplaintIssueGroupID)
        <table>
            <tr>
                <td>@Html.LabelFor(model => model.ComplaintIssuesGroup.ProductID)</td>
                <td>
                @Html.TextBoxFor(model => model.ComplaintIssuesGroup.ProductID, new { @disabled = true, @Value = Util.GetNameByID(RefType.ComplaintIssues, Model.ComplaintIssuesGroup.ProductID), @style = "width:250px" }) 
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.ComplaintIssuesGroup.Reason1ID)</td>
                <td>
                @Html.TextBoxFor(model => model.ComplaintIssuesGroup.Reason1ID, new { @disabled = true, @Value = Util.GetNameByID(RefType.ComplaintIssues, Model.ComplaintIssuesGroup.Reason1ID), @style = "width:250px" }) 
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.ComplaintIssuesGroup.Reason2ID)</td>
                <td>
                @Html.TextBoxFor(model => model.ComplaintIssuesGroup.Reason2ID, new { @disabled = true, @Value = Util.GetNameByID(RefType.ComplaintIssues, Model.ComplaintIssuesGroup.Reason2ID), @style = "width:250px" }) 
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.ComplaintIssuesGroup.Reason3ID)</td>
                <td>
                @Html.TextBoxFor(model => model.ComplaintIssuesGroup.Reason3ID, new { @disabled = true, @Value = Util.GetNameByID(RefType.ComplaintIssues, Model.ComplaintIssuesGroup.Reason3ID), @style = "width:250px" }) 
                </td>
            </tr>
            
            <tr>
                <td>
                    @Html.LabelFor(model => model.IssueGrpDispatchQ.CaseDispatchQID)
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => model.IssueGrpDispatchQ.CaseDispatchQID)
                    .HtmlAttributes(new { style = "width: 250px;" }).BindTo(Util.GetList(RefType.ComplaintIssues, defaultValue:"")))
                    @Html.ValidationMessageFor(model => model.IssueGrpDispatchQ.CaseDispatchQID)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" name="submit" value="Save">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
}