﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.CommonEnum;
@using Online.Registration.DAL.Models;
@model Online.Registration.Web.ViewModels.OrderSummaryVM
@{
    var GSTMark = ViewData["GSTMark"] != null ? ViewData["GSTMark"].ToString2() : "";
    var regAccessory = new List<Online.Registration.Web.ViewModels.RegAccessoryVM>();
    var dropObj = Session[Online.Registration.Web.CommonEnum.SessionKey.DropFourObj.ToString()] as Online.Registration.Web.Models.DropFourObj ?? new Online.Registration.Web.Models.DropFourObj();
    var mainFlow = dropObj.mainFlow;
    decimal devicePrice = 0;
    decimal accessoryPrice = 0;
    decimal totalAccessoryPrice = 0;
    decimal totalUpfront = 0;
    bool hasAccessory = false;
    string imgUrl = string.Empty;
    
    if (Session["RegMobileReg_MainDevicePrice"] != null)
    {
        Model.TotalPrice = Convert.ToDecimal(Session["RegMobileReg_MainDevicePrice"]);
        Model.ModelPrice = Convert.ToDecimal(Session["RegMobileReg_MainDevicePrice"]);
        Model.ItemPrice = Convert.ToInt32(Session["RegMobileReg_MainDevicePrice"]);
    }
    
    Online.Registration.Web.ViewModels.PersonalDetailsVM MobileRegOrderSummary = new Online.Registration.Web.ViewModels.PersonalDetailsVM();
    if (!ReferenceEquals(Model.PersonalDetailsVM, null))
    {
        MobileRegOrderSummary = Model.PersonalDetailsVM;
    }

    if (Model.PersonalDetailsVM != null)
    {
        regAccessory = Model.PersonalDetailsVM.objRegAccessory;
    }
    
    if (mainFlow != null)
    {
        hasAccessory = mainFlow.SelectedAccessory != null && mainFlow.SelectedAccessory.Count > 0;
    }                
}
@{
<div id="right-box-frame" style="margin-top:2.5px;">
    <div id="wrapper">
        <div id="maincontentcontainer">
            <div id="right">
                @*<ul class="tabs">
                    @if (Session["SelectedTab"] == null)
                    {
                        <li><a id="aValidation" href="#view1">Validation</a></li>
                        <li><a id="aOrder" href="#view2">Order Summary</a></li>
                    }
                    else if (Session["SelectedTab"].ToString2() == "Validation")
                    {
                        <li class="selected"><a id="aValidation" href="#view1">Validation</a></li>
                        <li><a id="aOrder" href="#view2">Order Summary</a></li>
                    }
                    else if (Session["SelectedTab"].ToString2() == "OrderSummary")
                    {
                        <li><a id="aValidation" href="#view1">Validation</a></li>
                        <li class="selected"><a id="aOrder" href="#view2">Order Summary</a></li>
                    }
                </ul>*@
                @*<ul class="tabs">
                    <li><a id="aOrder" href="#view2">Order Summary</a></li>
                </ul>*@
                <div style="background-color:rgb(144, 199, 77); margin-top:-10px; height:40px;">
                    <h3 style="text-align:center; color:white; padding-top:10px;">Order Summary</h3>
                </div>
                <div class="tabcontents">
                    <div id="view2">
                        <div id="ui-accordion">
                            <h3 id="Deviceaccordion1">
                                Device
                            </h3>
                            <div id="Deviceaccordion2" style="overflow:hidden;padding-bottom:20px;padding-top:20px;">
                                <div style="float: left; padding-right: 15px">
                                    @if ((!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0))
                                    {
                                        if (!string.IsNullOrEmpty(Model.ModelImageUrl.ToString2()))
                                        {
                                            imgUrl = Url.Content(Model.ModelImageUrl.ToString2());
                                        }
                                    }
                                    else if (!string.IsNullOrEmpty(Model.ModelImageUrl.ToString2()))
                                    {
                                        imgUrl = Url.Content(Model.ModelImageUrl.ToString2());
                                    }
                                        @Html.HiddenFor(m => m.ModelImageUrl)
                                    <img src="@imgUrl" alt="" width="80px" height="80px" id="imgDevice" />
                                </div>
                                <div>
                                    <span class="txt-14-black-bold" id="spnBrand"><b>@Model.BrandName.ToString2()</b>
                                    </span>
                                    <br />
                                    <span class="txt-11-grey-normal"><span id="spnModelName">@Model.ModelName.ToString2()</span>
                                        <span id="spnColorName">@Model.ColourName.ToString2()</span><br />
                                        <br />
                                    </span>
                                </div>
                                <br />
                                <div style="float: left; padding-left: 60px;">
                                    <div class="txt-12-black-bold">
                                        <span class="txt-11-grey-normal ">Device RRP : </span>
                                        <br />
                                        <span class="txt-12-black-bold" id="spnPrice">
                                            @if ((!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0))
                                            {
                                                devicePrice += Model.TotalPrice;
                                                totalUpfront += Model.TotalPrice;
                                                @:RM @(Model.TotalPrice.ToDecimal().ToString("0.00"))
                                                
                                            }
                                            else if (MobileRegOrderSummary != null && Model.TotalPrice.ToInt() > 0)
                                            {
                                                devicePrice += Model.TotalPrice;
                                                totalUpfront += Model.TotalPrice;
                                                @:RM @(Model.TotalPrice.ToDecimal().ToString("0.00"))
                                            }
                                            else if (Model.ModelPrice > 0)
                                            {
                                                devicePrice += Model.ModelPrice;
                                                totalUpfront += Model.ModelPrice;
                                                @:RM @(Model.ModelPrice.ToDecimal().ToString("0.00"))
                                            }
                                            else
                                            {
                                                @:RM 0.00
                                                                                                                                                                                }
                                        </span>
                                    </div>
                                    @if ((!ReferenceEquals(MobileRegOrderSummary, null) && MobileRegOrderSummary.RegID > 0) && (Roles.IsUserInRole("SMRT_MANAGER") || Roles.IsUserInRole("SMRT_CAS") || Roles.IsUserInRole("MREG_CH") || Roles.IsUserInRole("MREG_SV") || Roles.IsUserInRole("SMRT_SK") || Roles.IsUserInRole("MREG_SK")))
                                    {
                                        <div class="txt-12-black-bold">
                                            <span class="txt-11-grey-normal">IMEI : </span>
                                            <br />
                                            <span class="txt-12-black-bold" id="lblIMEI">@(string.IsNullOrEmpty(MobileRegOrderSummary.RegIMEINumber) ? "Not available" : MobileRegOrderSummary.RegIMEINumber)</span>
                                        </div>
                                    }
                                </div>
                                    <div style="clear: both;">
                                </div>
                            </div>
                            
                            @if (regAccessory != null && regAccessory.Count > 0)
                            {
                                var principalAccessory = regAccessory.Where(x => x.supplineID == null).ToList();

                                if (principalAccessory != null && principalAccessory.Count > 0)
                                {
                                    var lastPrincipalRecord = principalAccessory.Last();
                                    <h3 id="h3accessoryHeader">Accessories</h3>
                                    <div id="h3accessoryDetails" style="width:100%; height:100%; display:inline-block;">
                                        <div class="col-sm-12 kill-padding">
                                            @foreach (var acc in principalAccessory)
                                            {
                                                var totalPrice = acc.offerPrice * acc.quantity;
                                                accessoryPrice += totalPrice;
                                                totalAccessoryPrice += totalPrice;
                                                <div class="col-sm-8 kill-padding" style="width:63%;">
                                                    <span class="txt-11-grey-normal">@acc.Name</span>
                                                    @if (!string.IsNullOrEmpty(acc.AttributeName))
                                                    { 
                                                        @(" - ")<span class="txt-11-grey-normal">@acc.AttributeName (@(acc.quantity))</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="txt-11-grey-normal">(@(acc.quantity))</span>
                                                    }
                                                </div>
                                                <span class="txt-11-grey-normal" style='float: right; padding-right: 20px; padding-top: 6px;'>@("RM" + totalPrice)</span> <br />

                                                if (!acc.Equals(lastPrincipalRecord))
                                                {
                                                    <br />
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <h3 id="h3accessoryHeader">Accessories</h3>
                                <div id="h3accessoryDetails" style="width:100%; height:100%; display:inline-block;">
                                    @if (hasAccessory && mainFlow != null && mainFlow.SelectedAccessory != null)
                                    {
                                        foreach (var accessory in mainFlow.SelectedAccessory)
                                        {
                                            decimal offerPrice = 0;
                                            var idAccessory = "summary-accessory_" + accessory.articleID + "_" + accessory.index;
                                            var attributeName = string.IsNullOrEmpty(accessory.AttributeName.ToString2())
                                                                    ? ""
                                                                    : " - " + accessory.AttributeName.ToString2();
                                            var offerSelected = accessory.offerDetail.Where(x => x.isSelected == true).ToList();

                                            if (offerSelected != null && offerSelected.Count > 0)
                                            {
                                                offerPrice = offerSelected.FirstOrDefault().offerPrice;
                                                accessoryPrice = offerPrice * accessory.quantity;
                                                totalAccessoryPrice += accessoryPrice;
                                            } 
                                        
                                            <div class="col-sm-12 kill-padding" id="@idAccessory">
                                                <div class="col-sm-8 kill-padding" style="width:63%;">
                                                    <span class="txt-11-grey-normal">@accessory.Name</span>
                                                    <span class="txt-11-grey-normal">@attributeName (@accessory.quantity)</span>
                                                </div>
                                                <span class="txt-11-grey-normal" style="float: right; padding-right: 20px; padding-top: 6px;">@("RM" + accessoryPrice)</span><br />
                                            </div>
                                        }
                                    }
                                </div>
                            }

                            <h3 id="h3PayableSec">
                                Payable
                            </h3>
                            <div id="h3PayableSec2" style="width:100%; height:100%;">
                                <div class="txt-14-black-normal RM" >
                                    RM
                                </div>
                                <br />
                                <div class="txt-11-grey-bold">
                                    <span class="service-payable-label">Device Price</span> 
                                    <span class="service-payable-devider">:</span>
                                    <span class="txt-11-grey-normal PriceClass" id="spnDevicePrice">@(devicePrice.ToString("0.00"))</span>
                                    <div id="payableItemDetails">
                                        @if (regAccessory != null && regAccessory.Count > 0)
                                        {
                                            totalUpfront += totalAccessoryPrice;
                                            <span class='service-payable-label'>Accessories Price</span>
                                            <span class='service-payable-devider'>:</span>
                                            <span class='txt-11-grey-normal PriceClass' id='spnDevicePrice'>@(totalAccessoryPrice.ToString("0.00"))</span>
                                        }
                                        else if (hasAccessory && mainFlow != null && mainFlow.SelectedAccessory != null)
                                        {
                                            totalUpfront += totalAccessoryPrice;
                                            <span class='service-payable-label'>Accessories Price</span>
                                            <span class='service-payable-devider'>:</span>
                                            <span class='txt-11-grey-normal PriceClass' id='spnDevicePrice'>@(totalAccessoryPrice.ToString("0.00"))</span>
                                        }
                                    </div>
                                </div>
                                <div class="txt-12-black-bold section">
                                    <span class="service-payable-label" >Total Upfront</span>
                                    <span class="service-payable-devider">:</span>
                                    <span class="txt-12-black-bold PriceClass" id="spnTotalPrice">@(totalUpfront.ToString("0.00"))</span>
                                    <span class="service-gst-label">@(GSTMark.ToString2())</span>
                                </div>
                                <div style="clear: both;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @{
                    if (ReferenceEquals(MobileRegOrderSummary, null) || MobileRegOrderSummary.RegID == 0)
                    {
                        var viewBagAcceptedOffer = new ViewDataDictionary();
                        viewBagAcceptedOffer.Add("_MSISDN", Session[SessionKey.MSISDN.ToString()].ToString2());
                        viewBagAcceptedOffer.Add("_OutRightDevice", true);
                        viewBagAcceptedOffer.Add("_ServiceFlow", true);
                        Html.RenderPartial("_PegaAcceptedOffer", viewBagAcceptedOffer);
                    }   
                }
            </div>
        </div>
    </div>
</div>
}
