﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Controllers;
@model Online.Registration.Web.Models.SupplementaryListAccounts
@{
    ViewBag.Title = "Customer Account";
    var isBlacklisted = ViewBag.isBlacklisted;
    bool newUser = true;
    //if (!ReferenceEquals(Session["SR_PPID"], null) && "E".Equals(Convert.ToString(Session["SR_PPID"])))
    if (!ReferenceEquals(Session["SR_PPID"], null))
    {
        newUser = false;
    }
    if (ReferenceEquals(Model, null))
    {
        newUser = true;
    }
    string accountLOB = "";
    //List<string> allowedPrefixes = new List<string>();
    //if (System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"] != null)
    //{
    //    allowedPrefixes = System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"].ToString2().Split(',').ToList();
    //}
    var idCardTypeName = Session["PPIDSearchIDType"].ToString2();
    var isDealer = Session["IsDealer"].ToBool();
    var dealerMsidnSearch = System.Web.Configuration.WebConfigurationManager.AppSettings["DealerMsidnSearch"].ToString2() + " Device Sales";


            //List<string> allowedPrefixes = new List<string>();
            //if (System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"] != null)
            //{
            //    allowedPrefixes = System.Configuration.ConfigurationManager.AppSettings["AllowedMSISDNPrefixes"].ToString2().Split(',').ToList();
            //}
}
<div id="center">
    <div class="center_box">
        @using (Html.BeginForm("Accounts", "DeviceSales", FormMethod.Post, new { id = "frmAccounts", @class = "overlayonsubmit", processmsg = "Loading" }))
        { 
            @Html.Hidden("submitType")
            <input type="hidden" name="SelectedAccountDtls" id="hdnSelectedAccountDtls" />
            <div class="content_white">
                <div id="dvDealers" style="display: none; width: 100%; azimuth: center;">
                    <div class="content search-header">
                        <div id="dvMsisdnSearch" class="search-hdr-body" style="width: 100%">
                            <table width="100%">
                                <tr>
                                    <td align="center">
                                        <b>@(dealerMsidnSearch)</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <b>MSISDN:</b>
                                        @Html.TextBox("MSISDN")
                                        <button class="cancel" type="button" value="Search" style="cursor: pointer;background-image: url(@(Url.Content("~/Content/img/shared/iSELL-Search-Button.jpg")));background-repeat: none;width: 38px;height: 35px;border: medium none;vertical-align: middle;margin-left: 8px;border-radius:8px" onclick="showdivAccDtls();">
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="content_white">
                    <div id="Dealer_Error" class="ErrorClass">
                    </div>
                </div>
                <div id="DVResultDisplay" class="crp-wrapper">
                    @Html.ValidationSummary()
                    <div class="content search-header">
                        <div class="search-header-box">
                            <div class="search-hdr-title">@ViewBag.Title</div>
                        </div>
                    </div>
                    <div style="clear: both;">
                    </div>
                    <div id="dvError" class="ErrorClass" style="padding-left: 10px; padding-top: 5px;">
                    </div>
                    @if (!newUser && Model.SuppListAccounts.Count > 0)
                    {
                        if (isDealer.ToString2() == "False")
                        {
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td>
                                    <b>ID No :</b>
                                    @foreach (var Acd in Model.SuppListAccounts)
                                    {
                                        @Acd.IDNumber
                                        
                                        break;
                                    }
                                </td>
                            </tr>
                        </table>
                        }
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" id="search-table">
                            <tbody>
                                <tr class="row-bold-header" id="tblheader">
                                    <td>
                                        Action
                                    </td>
                                    <td>
                                        Name
                                    </td>
                                    @* <td>
                                        ID No
                                    </td>*@
                                    <td>
                                        MSISDN
                                    </td>
                                    @* <td>
                                        SIM Serial
                                    </td>*@
                                    <td>
                                        Account Number
                                    </td>
                                    @if (isDealer.ToString2() == "False")
                                    {
                                        <td>
                                            Prin/Primary MSISDN
                                        </td>
                                        <td>
                                            Account Type
                                        </td>
                                        <td>
                                            Status
                                        </td>
                                    }
                                </tr>
                                @foreach (var Acd in Model.SuppListAccounts)
                                {
                                    //  if (allowedPrefixes.Contains(Acd.externalId.Substring(0, 3)))
                                    // {
                                    if (Acd.AccountName == "PREGSM")
                                    {
                                        accountLOB = Acd.AccountName;
                                    }
                                    string curSimType = " - " + Acd.AccountType;
                                    if (!Acd.IsMISM)
                                    {
                                        curSimType = Acd.AccountName + curSimType;
                                    }
                                    else
                                    {
                                        curSimType = "MISM" + curSimType;
                                    }
                                    string AccountStatuses = "Not Available";
                                    switch (Acd.AccountStatus)
                                    {
                                        case "B":
                                            AccountStatuses = "Barred";
                                            break;
                                        case "S":
                                            AccountStatuses = "Suspended";
                                            break;
                                        case "T":
                                            AccountStatuses = "Terminated";
                                            break;
                                        case "A":
                                            AccountStatuses = "Active";
                                            break;
                                        case "D":
                                            AccountStatuses = "Deactive";
                                            break;
                                        case "Active":
                                            AccountStatuses = "Active";
                                            break;
                                        case "Recycle":
                                            AccountStatuses = "Recycle";
                                            break;
                                        case "Grace":
                                            AccountStatuses = "Grace";
                                            break;
                                        default:
                                            AccountStatuses = Acd.AccountStatus;
                                            break;
                                    }
                                    <tr class="row-body" id="@Acd.externalId">
                                        <td align="center">
                                            @Html.RadioButton("SelectAccountDtls", Acd.accountIntId + "," + Acd.externalId + "," + Acd.accountExtId + "," + Acd.AccountNumber + "," + Acd.SubscribeNo + "," + Acd.SubscribeNoResets + "," + Acd.AccountName + "," + Acd.IsMISM + "," + Acd.AccountStatus + "," + Acd.AccountType)
                                        </td>
                                        <td>@Acd.Holder
                                        </td>
                                        @*<td>@Acd.IDNumber
                                        </td>*@
                                        <td>
                                            @if (string.IsNullOrEmpty(Acd.SimSerial))
                                            {
                                                @Acd.externalId
                                            }
                                            else
                                            {
                                                @:&nbsp;
                                                                                                                                                                                                                                                                            }
                                        </td>
                                        @* <td>@Acd.SimSerial
                                        </td>*@
                                        <td>@Acd.AccountNumber
                                        </td>
                                        @if (isDealer.ToString2() == "False")
                                        {
                                            <td>@Acd.PrinMsisdn
                                            </td>
                                            <td>
                                                @curSimType
                                            </td>
                                            <td>
                                                @AccountStatuses
                                            </td>
                                        }
                                    </tr>
                                    //}
                                }
                            </tbody>
                        </table>
                        <div style="clear: both;">
                        </div>
                    }
                    else
                    {
                        <div id="DVShowNewUSerMsg">
                            No accounts exists for the user</div>
                    }
                </div>
            </div>
            <div style="height: 80px;" class="content_white">
                <div style="float: right; padding-right: 20px" id="divHeader">
                    @if (!newUser && Model.SuppListAccounts.Count > 0)
                    {
                        <input class="button-continue submitButton" type="submit" value="Continue" onclick="$('#submitType').val('next'); return AllValidation();" />
                    }
                </div>
                <div style="clear: both;">
                </div>
            </div>
           
        }
    </div>
    @Html.Partial("_footer")
</div>
@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            if ('@(isDealer)' == "False") {
                $("#SelectAccountDtls:first").prop('checked', 'checked');
            }
            $('#Dealer_Error').hide();
            if ('@(isDealer)' == "True") {
                if ('@(idCardTypeName)' != "MSISDN") {
                    $('#DVResultDisplay').hide();
                    $('#dvDealers').show();
                    $('#divHeader').hide();
                }
            }
        });
        function showdivAccDtls() {
            debugger;
            var msisdnno = $('#MSISDN').val();
            var mobregex = /^60[0-9]{8,10}$/;
            $('#Dealer_Error').hide();

            if (msisdnno == "") {
                $('#Dealer_Error').show();
                $('#Dealer_Error').html('Please Enter MSISDN.');
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            else if (msisdnno != "") {
                if (!mobregex.test(msisdnno)) {
                    $('#Dealer_Error').show();
                    $('#Dealer_Error').html("Please enter valid MSISDN number");
                    return false;
                }
            }
            if ($('#' + msisdnno).length > 0) {
                $('#dvDealers').hide();
                $('#DVResultDisplay').show();
                $('#search-table tr').hide();

      

                $('#tblheader').show();
                $('#' + msisdnno).show();
                $('#divHeader').show();
            }
            else {
                $('#Dealer_Error').show();
                $('#Dealer_Error').html("Please enter Valid Principal/Primary MSISDN");
                return false;
            }

  $("#ancMenu_Mobility,[parentid='ancMenu_Mobility']").click(function () {
            if ('@Session["WrfAlertMessage"]' != '') {
                alert('@Session["WrfAlertMessage"]'.toString());
                return true;
            }
        });
        }
        function AllValidation() {

            if ($("input[type='radio']:checked").length == 0) {
                $('#dvError').html("Please select the Account Line");
                $("html, body").animate({ scrollTop: 0 }, "slow");
                return false;
            }
            var selectedVal = $('input[name=SelectAccountDtls]:checked').val();
            var valNew = [];
            valNew = selectedVal.split(',');

            if (valNew[8] != "A") {
                if ((valNew[8].toLowerCase() != "active") && (valNew[8].toLowerCase() != "grace") && valNew[6] == "PREGSM") {
                    $('#dvError').html("The selected MSISDN is classified as Pre-Active/Recycle, Outright device sales is not allowed");
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                }
                else {
                                    var status = "";
                                    if (valNew[8] == "T") {
                                        status = 'Terminated';
                                        $('#dvError').html("Your Number is on " + status + " status");
                                        $("html, body").animate({ scrollTop: 0 }, "slow");
                                        return false;
                                    }
                }
            }
            $('#hdnSelectedAccountDtls').val(selectedVal);
            return true;
        }
        

    </script>
}
