﻿@using Online.Registration.Web.ViewModels
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using SNT.Utility;
@using Online.Registration.Web.Models;
@model Online.Registration.Web.ViewModels.OrderSummaryVM
@{
    if (Model == null)
    {
        return;
    }

    ViewBag.Title = "Customer Order Summary";
    var prevButton = DeviceSaleSteps.PersonalDetails.ToInt();
    var dropObj = (Online.Registration.Web.Models.DropFourObj)Session[Online.Registration.Web.CommonEnum.SessionKey.DropFourObj.ToString()];
    var hasAccessory = false;
    Online.Registration.Web.UserSvc.GetAPIStatusMessagesResp ApiMessages = null;
    if (!ReferenceEquals(Session["ApiMessages"], null))
    {
        ApiMessages = (Online.Registration.Web.UserSvc.GetAPIStatusMessagesResp)Session["ApiMessages"];
    }
    string language = string.Empty;
    string raceName = string.Empty;
    var printsuccess = Session["printsuccess"].ToString2();
    Session["printsuccess"] = null;
    var selectedPrinter = Session["selectedPrinter"].ToString2();
    Session["selectedPrinter"] = null;
    var printErrorMsg = Session[Online.Registration.Web.CommonEnum.SessionKey.PrintErrorMsg.ToString()].ToString2();
    Session[Online.Registration.Web.CommonEnum.SessionKey.PrintErrorMsg.ToString()] = null;
    if (Model.PersonalDetailsVM == null)
    { 
        Model.PersonalDetailsVM = new PersonalDetailsVM();
    }

    if (dropObj.mainFlow != null && Model.PersonalDetailsVM.RegID == 0)
    {
        hasAccessory = dropObj.mainFlow.SelectedAccessory != null && dropObj.mainFlow.SelectedAccessory.Count > 0;
    }
    else if (Model.PersonalDetailsVM != null)
    {
        hasAccessory = Model.PersonalDetailsVM.objRegAccessory != null && Model.PersonalDetailsVM.objRegAccessory.Count > 0;
    }

    var hasSerializeAccessory = hasAccessory ? Model.PersonalDetailsVM.objRegAccessory.Where(x => x.isKnockOffRequired == true).Any() : false;
}
<!-- Centre column area -->
<div id="center">
    @using (Html.BeginForm("CustomerSummary", "DeviceSales", FormMethod.Post, new { id = "frmRegSummary", @class = "overlayonsubmit", processmsg = "Loading" }))
    { 
        @Html.Hidden("TabNumber");
        <input type="hidden" name="hdnReasonCancel" id="hdnReasonCancel" />
        <input type="hidden" name="submit1" id="submit1" />
        <input type="hidden" name="RegIMEINumber" id="RegIMEINumber" />
        <input type="hidden" name="RegistrationId" id="RegistrationId" value='@Model.PersonalDetailsVM.RegID' />
        @Html.HiddenFor(model => model.PersonalDetailsVM.OutletCode)
        @Html.HiddenFor(model => model.PersonalDetailsVM.OutletChannelId)
        @Html.HiddenFor(model => model.PersonalDetailsVM.SalesCode)
        @Html.HiddenFor(model => model.PersonalDetailsVM.SalesStaffCode)

        <div class="header-title">
            @ViewBag.Title
        </div>
        <div class="row top=border">
            <div class="col-sm-12">
                <p class="font-16 gst-notif">@(ViewBag.GSTnotif)</p>
            </div>
        </div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc;">
                @Html.ValidationSummary(false)
                <div style="display: block;">
                    <div class="summary-title-bar">
                        A. Customer Information
                        @if (Model.PersonalDetailsVM.RegID != 0)
                        {
                            if (Request.Headers["User-Agent"].ToLower().Contains("ipad"))
                            {                     
                                <a href="#" style="text-decoration: none; border: 0;" onclick="DMESAVE()">
                                    <img alt="" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />Print Queue
                                </a>
                                         
                                var print = "DeviceSales/PrintDeviceSale?id=" + Model.PersonalDetailsVM.RegID + "&status=" + Model.PersonalDetailsVM.StatusID + "";
                                @Html.Partial("_NetworkPrintPartial", print)
                            }
                            else
                            {
                                <a id="printPreviewURL" href="@(Url.Content("~/DeviceSales/PrintDeviceSale?id=" + Model.PersonalDetailsVM.RegID + "&status=" + Model.PersonalDetailsVM.StatusID))" target="_blank" style="text-decoration:none; border:0;" >
                                    <img alt="" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" /> Print 
                                </a>
                                         
                                var print = "DeviceSales/PrintDeviceSale?id=" + Model.PersonalDetailsVM.RegID + "&status=" + Model.PersonalDetailsVM.StatusID + "";
                                @Html.Partial("_NetworkPrintPartial", print)
                            }

                            if (Roles.IsUserInRole("MREG_SK") && Model.PersonalDetailsVM.StatusCode == Settings.Default.Status_RegNew)
                            {
                                <input class="buttongr" id="btnIMEI" type="button" value="IMEI" />                 
                            }

                            if (hasAccessory && hasSerializeAccessory)
                            { 
                                <input class="buttongr" id="btnAccessory" type="button" value="SERIAL" /> 
                            }
                        }
                    </div>
                    <div style="width: 95%; margin: 0 auto; padding: 20px;">
                        <table align="center">
                            @if (Model.PersonalDetailsVM.RegID != 0)
                            { 
                                <tr valign="top">
                                    <td id="summary-label">@Html.LabelFor(model => Model.PersonalDetailsVM.RegID)
                                    </td>
                                    <td id="summary-seperator">
                                        :
                                    </td>
                                    <td id="summary-data">
                                        @(Model.PersonalDetailsVM.RegID == 0 ? string.Empty : Model.PersonalDetailsVM.RegID.ToString2())
                                    </td>

                                    <td id="summary-label">@Html.LabelFor(model => Model.PersonalDetailsVM.QueueNo)
                                    </td>
                                    <td id="summary-seperator">
                                        :
                                    </td>
                                    <td id="summary-data-nowidth">
                                        @(string.IsNullOrEmpty(Model.PersonalDetailsVM.QueueNo) ? "-" : Model.PersonalDetailsVM.QueueNo)
                                    </td>
                                </tr>
                            }

                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => Model.PersonalDetailsVM.Customer.FullName)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@Util.GetNameByID(RefType.CustomerTitle, Model.PersonalDetailsVM.Customer.CustomerTitleID)
                                    @Model.PersonalDetailsVM.Customer.FullName
                                </td>
                                <td id="summary-label">@Html.LabelFor(model => Model.PersonalDetailsVM.Customer.IDCardNo)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data-nowidth">@Model.PersonalDetailsVM.Customer.IDCardNo
                                </td>
                            </tr>
                            <tr valign="top">
                                <td id="summary-label">
                                    @Html.LabelFor(model => Model.PersonalDetailsVM.Customer.IDCardType)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">
                                    @Util.GetNameByID(RefType.IDCardType, Model.PersonalDetailsVM.Customer.IDCardTypeID)
                                </td>
                                <td id="summary-label">
                                    @Html.LabelFor(model => Model.PersonalDetailsVM.Customer.ContactNo)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data-nowidth">
                                    @if (!string.IsNullOrEmpty(Model.PersonalDetailsVM.Customer.ContactNo.ToString2()))
                                    { 
                                        @Model.PersonalDetailsVM.Customer.ContactNo.ToString2()
                                    }
                                    else
                                    { 
                                        @Model.PersonalDetailsVM.MSISDN1.ToString2();
                                    }
                                </td>
                            </tr>
                            <tr valign="top">
                                <td id="summary-label">
                                    @Html.LabelFor(model => Model.PersonalDetailsVM.Customer.EmailAddr)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data-nowidth">
                                    @if (!string.IsNullOrEmpty(Model.PersonalDetailsVM.Customer.EmailAddr.ToString2()))
                                    { 
                                        @Model.PersonalDetailsVM.Customer.EmailAddr.ToString2()
                                    }
                                    else if (!string.IsNullOrEmpty(Model.PersonalDetailsVM.EmailAddress.ToString2()))
                                    { 
                                        @Model.PersonalDetailsVM.EmailAddress.ToString2();
                                    }
                                    else
                                    { 
                                        @("Not Available")
                                    }
                                </td>
                            </tr>
                            @*<tr valign="top">
                                <td id="summary-label">
                                    @Html.LabelFor(model => Model.PersonalDetailsVM.Customer.DateOfBirth)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">
                                    @if ((Model.PersonalDetailsVM.DOBDay == 0 && Model.PersonalDetailsVM.DOBMonth == 0 && Model.PersonalDetailsVM.DOBYear == 0) || (Model.PersonalDetailsVM.DOBDay == null && Model.PersonalDetailsVM.DOBMonth == null && Model.PersonalDetailsVM.DOBYear == null))
                                    {
                                        if (DateTime.MinValue != Model.PersonalDetailsVM.Customer.DateOfBirth)
                                        {
                                        @Util.FormatDate(Model.PersonalDetailsVM.Customer.DateOfBirth)
                                        }
                                    }
                                    else
                                    {
                                        @Html.Raw(Model.PersonalDetailsVM.DOBDay + "/" + Model.PersonalDetailsVM.DOBMonth + "/" + Model.PersonalDetailsVM.DOBYear)
                                    }
                                </td>
                            </tr>*@
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => Model.PersonalDetailsVM.StatusID)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@Util.GetNameByID(RefType.Status, Model.PersonalDetailsVM.StatusID)
                                </td>
                            </tr>
                            @if (!ReferenceEquals(Model.PersonalDetailsVM.MessageCode, string.Empty))
                            {
                                if (!ReferenceEquals(Model.PersonalDetailsVM.MessageDesc, null))
                                {
                                <tr valign="top">
                                    @if (Model.PersonalDetailsVM.StatusID == 21)
                                    {
                                         
                                        <td id="summary-label">@Html.LabelFor(model => Model.PersonalDetailsVM.MessageDesc)
                                        </td>
                                        <td id="summary-seperator">
                                            :
                                        </td>
                                        <td id="summary-data">
                                            <div style="width:150px; word-wrap:break-word;" title="@Model.PersonalDetailsVM.MessageDesc">
                                                @if (@Model.PersonalDetailsVM.MessageDesc.ToString().Length > 45)
                                                {
                                                    @Model.PersonalDetailsVM.MessageDesc.Substring(0, 45) @Html.Raw("..")
                                                }
                                                else
                                                {
                                                    @Model.PersonalDetailsVM.MessageDesc
                                                }</div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td id="summary-label">
                                            <b>@Html.LabelFor(model => Model.PersonalDetailsVM.MessageDesc)</b>
                                        </td>
                                        <td id="summary-seperator">
                                            :
                                        </td>
                                        <td id="summary-data">@Model.PersonalDetailsVM.MessageDesc.Split('|')[0]
                                        </td>
                                    }
                                </tr>
                                }
                            }
                            
                            
                                @if (Model.PersonalDetailsVM.CBRNo != null && Model.PersonalDetailsVM.CBRNo != string.Empty)
                                {
                                    <tr valign="top">
		                                <td id="summary-label">
			                                <b><label for="MessageDesc">New CBR No</label></b>
		                                </td>
		                                <td id="summary-seperator">:</td>
		                                <td id="summary-data">@Model.PersonalDetailsVM.CBRNo</td>
                                    </tr>
                                    <tr valign="top">
		                                <td id="summary-label" style="white-space: nowrap;">
			                                <b><label for="MessageDesc">CMSS Case Creation</label></b>
		                                </td>
		                                <td id="summary-seperator">:</td>
		                                <td id="summary-data">@Model.PersonalDetailsVM.CMSSCaseStatus</td>
                                    </tr>
                                    <tr valign="top">
		                                <td id="summary-label">
			                                <b><label for="MessageDesc">CMSS Id</label></b>
		                                </td>
		                                <td id="summary-seperator">:</td>
		                                <td id="summary-data">@Model.PersonalDetailsVM.CMSSID</td>
                                    </tr>
                                }
                        </table>
                    </div>
                    <div class="summary-title-bar">
                        B. Billing Address
                    </div>
                    <div style="width: 95%; margin: 0 auto; padding: 20px;">
                        <table align="center">
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => Model.PersonalDetailsVM.Address.Line1)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td colspan="4" id="summary-data-nowidth">@Html.Raw(Model.PersonalDetailsVM.Address.Line1)
                                    @if (!string.IsNullOrEmpty(Model.PersonalDetailsVM.Address.Line2))
                                    { 
                                        <br />@Html.Raw(Model.PersonalDetailsVM.Address.Line2)
                                    }
                                    @if (!string.IsNullOrEmpty(Model.PersonalDetailsVM.Address.Line3))
                                    { 
                                        <br />@Html.LabelFor(model => Model.PersonalDetailsVM.Address.Line3)
                                        
                                    }
                                </td>
                            </tr>
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => Model.PersonalDetailsVM.Address.Postcode)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@Html.Raw(Model.PersonalDetailsVM.Address.Postcode)
                                </td>
                                <td id="summary-label">
                                </td>
                                <td id="summary-seperator">
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr valign="top">
                                <td id="summary-label">@Html.LabelFor(model => Model.PersonalDetailsVM.Address.StateID)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data">@Html.Raw(Util.GetNameByID(RefType.State, Model.PersonalDetailsVM.Address.StateID))
                                </td>
                                <td id="summary-label" style="white-space:nowrap; ">@Html.LabelFor(model => Model.PersonalDetailsVM.Address.Town)
                                </td>
                                <td id="summary-seperator">
                                    :
                                </td>
                                <td id="summary-data-nowidth">@Html.Raw(Model.PersonalDetailsVM.Address.Town)
                                </td>
                            </tr>
                        </table>
                    </div>
                    @if (Model.PersonalDetailsVM.RegID > 0)
                    { 
                        <div class="summary-title-bar">
                            C. Other Details
                        </div>
                        <div style="width: 95%; margin: 0 auto; padding: 20px;">
                            <table style="width:100%;">
                                <tr>
                                    <td style="width:21%;"></td>
                                    <td style="width:1%;"></td>
                                    <td></td>
                                </tr>
                                @Html.Partial("_EnterSalesCodes", Model.PersonalDetailsVM)
                            </table>
                        </div>
                    }
                </div>
                <div style="clear: both;"></div>
            </div>

            @if (Model.PersonalDetailsVM.StatusCode == Settings.Default.Status_RegNew && Roles.IsUserInRole("MREG_SK"))
            {
                <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;" align="right">
                    <div style="padding-right:3%;">
                        <input  id="btnCancelEoff" class="submitButton" type="submit" value="Cancel" />
                        &nbsp;&nbsp;
                        <div id="divAccEoff" style="display:none;float:right;">
                            <input class="submitButton" type="submit" value="Submit" onclick="$('#submit1').val('createAcc');" />
                        </div>
                    </div>
                </div>
            }
            else if (Model.PersonalDetailsVM.StatusCode == Settings.Default.Status_ReadyForPayment && (Roles.IsUserInRole("MREG_CH") || Roles.IsUserInRole("MREG_SK")))
            {
                <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
                    <div style="float: right; padding-right: 20px;">
                        <input class="submitButton" type="submit" value="Close" onclick="$('#submit1').val('close');" />
                    </div>
                </div>
            }
            else if (Model.PersonalDetailsVM.RegID == 0)
            { 
                <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc; margin-top:-4px; padding-right:18px;">
                    <div style="float: right;">
                        <input class="cancel backButton" type="submit" value="<" onclick="$('#TabNumber').val(@(prevButton));" />
                        <input class="submitButton" id="btnSubmit" type="button" value="Submit" onclick="$('#submit1').val('submit'); SubmitRegForm();" />
                    </div>
                    <div style="clear: both;">
                    </div>
                </div>
            }
        </div>
        @Html.Partial("_footer")
    }
</div>
<!-- Right column area -->
<div id="right">
<div id="right-box">
    @{
        OrderSummaryVM objSummary = new OrderSummaryVM();
        var orderSummary = dropObj.mainFlow.orderSummary;
        var viewBagValue = new ViewDataDictionary();
        viewBagValue.Add("GSTMark", ViewBag.GSTMark);

        if (dropObj.mainFlow != null && orderSummary != null && Model.PersonalDetailsVM.RegID == 0)
        {
            objSummary = orderSummary;
        }
        else
        {
            objSummary = Model;
        }
    }
    @Html.Partial("_OrderSummary", objSummary, viewBagValue)
</div></div>
@{
    if (hasAccessory)
    {
        
        Html.Telerik().Window()
		    .Name("accessoryWindow")
		    .Title("Accessories Serial")
		    .Width(700).Height(120)
            .Content(@<text>
			    @using (Html.BeginForm("MobileRegSummary", "Registration", FormMethod.Post, new { onSubmit = "return validateAccessory(this);" }))
                {
                    Html.RenderPartial("_InventoryWindow", Model.PersonalDetailsVM, viewBagValue);
                }
		    </text>)
            .Modal(true)
            .Visible(false)
            .ClientEvents(events => events.OnOpen("accessoryWindowOnOpen"))
            .Render();
        
        Html.Telerik().ScriptRegistrar()
            .OnDocumentReady(@<text>
                $('#btnAccessory').click(function(e) {
                    e.preventDefault();
                    $('#accessoryWindow').data('tWindow').center().open();
                });
            </text>);
    }
    
    Html.Telerik().Window()
        .Name("imeiWindow")
        .Title("IMEI Number")
        .Width(325).Height(120)
        .Content(@<text>
    @using (Html.BeginForm("CustomerSummary", "DeviceSales", FormMethod.Post, new { onSubmit = "return PoputateIMEI(this);" }))
    {
        <table width="100%">
            <tr>
                <td colspan="2">
                    <div id="dvIMEIError" class="ErrorClass">
                    </div>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => Model.PersonalDetailsVM.CapturedIMEINumber)
                </td>
                <td>
                    <input type="text" id="CapturedIMEINumber" name="CapturedIMEINumber" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="txt-11-grey-normal"><span id="spnModelName">@Model.ModelName.ToString2()</span>
                        <span id="spnColorName">@Model.ColourName.ToString2()</span><br />
                        <br />
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input id="btnSaveImei" value="Save" class="submitButton" type="submit" />
                </td>
            </tr>
        </table>
    }
    </text>)
        .Modal(true)
        .Visible(false)
        .ClientEvents(events => events.OnOpen("IMEIWindowOnOpen"))
        .Render();

    Html.Telerik().Window()
   .Name("SelectPrinterWindow")
   .Title("Printer Window")
   .Width(325).Height(120)
   .Content(@<text>
    @using (Html.BeginForm("PrintMobileRegSummary", "DeviceSales", FormMethod.Post, new { id = "frmMobileRegSummaryPrint" }))
    {
        <table style="width: 100%">
            <tr>
                <td>
                    <b>@Html.LabelFor(model => model.PersonalDetailsVM.Printers)</b>
                </td>
                <td>
                    @(Html.Telerik().DropDownList().Name("Printers").HtmlAttributes(new { style = "width: 200px;" }).BindTo(Util.GetPrinters()))
                    <input type="hidden" name="RegID" id="RegID" value='@Model.PersonalDetailsVM.RegID' />
                    <input type="hidden" name="StatusID" id ="StatusID" value='@Model.PersonalDetailsVM.StatusID' />
                    <input type="hidden" name="PrintMobileRegsummary" id="PrintMobileRegsummary" value='@Model.PersonalDetailsVM.PrintMobileRegsummary' />
                    <input type="hidden" name="PrintURL" id="PrintURL" value='@Model.PersonalDetailsVM.PrintURL' />
                    <input type="hidden" name="PrintName" id ="PrintName" value='@Model.PersonalDetailsVM.PrintName' />
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input id="btnNwPrint" value="Print" class="submitButton" type="button" onclick="Print();" />
                </td>
            </tr>
        </table>
    }
    </text>)
   .Modal(true)
   .Visible(false)
   .ClientEvents(events => events.OnOpen("SelectPrinterWindow"))
   .Render();

    Html.Telerik().Window()
    .Name("AlertPrint")
    .Title("Network Printing")
    .Width(325).Height(135)
    .Content(@<text>
    <table style="width: 100%">
        <tr>
            <td>
                <b>Print Status</b>
            </td>
        </tr>
        <tr>
            <td id="Success" style="display: none; width: 100%">
                <span id="lblsucess"></span>
            </td>
        </tr>
        <tr>
            <td id="Fail" style="display: none">
                <div>
                    <span>Please </span><a id="ancfail" style="color: Blue" target="_blank">click here
                    </a><span>to print via Print Preview </span>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input id="btnClose" value="Close" class="submitButton" type="button" onclick="closealert()" />
                <br />
            </td>
        </tr>
    </table>
    </text>)
    .Modal(true)
    .Visible(false)
    .ClientEvents(events => events.OnOpen("AlertPrint"))
    .Render();

    Html.Telerik().ScriptRegistrar()
        .OnDocumentReady(@<text> $('#btnIMEI') .click(function(e) { e.preventDefault();$('#imeiWindow').data('tWindow').center().open();});
    </text>);

    
}
<style type="text/css">
    .t-window-content
    {
        height: auto !important;
    }
</style>
<script type="text/javascript" language="javascript">

    function SubmitRegForm() {
        $('#frmRegSummary').submit();
    }

    function DMESAVE()
    {
           var postUrl = '@(Url.Content("~/Registration/PrintDMEOrder"))';
            $.post(postUrl, { regId: '@Model.PersonalDetailsVM.RegID' }, function (data) {

            if(data.toString()!="0")
            {
    alert("Order Id Saved Sucessfully");
     
                }
                else{
    alert("This order is already Saved for Print");

                }
            });

    }

    function SelectPrinterWindow() {
    }
    function AlertPrint() {
    }

    $(document).ready(function () {

        if('@Model.PersonalDetailsVM.RegIMEINumber.ToString2()'!='')
        {
            $('#divAccEoff').show();
        }

        var Success = 'Successfully Printed at ' + '@(selectedPrinter)';
        var Fail = 'Printing was unsuccessful at ' + '@(selectedPrinter)' + ' – @(printErrorMsg)';
        if ('@(printsuccess)' == 'PrintSuccessfullyCompleted') {
            $('#lblsucess').text(Success);
            $('#Success').attr('style', 'display: block');
            $('#Success').attr('style', 'color: #7CB44F');
            $('#Fail').attr('style', 'display: none');
            $('#AlertPrint').data('tWindow').center().open();
        }
        else if ('@(printErrorMsg)' != '') {

            $('#lblsucess').text(Fail);
            $('#Success').attr('style', 'display: block');
            $('#Fail').attr('style', 'display: block');
            $('#Fail').attr('style', 'color: #FF0000');
            $('#Success').attr('style', 'color: #FF0000');
            $('#AlertPrint').data('tWindow').center().open();
            $('#ancfail').attr('href', $('#printPreviewURL').attr('href'));
        }
                        
        var pageName = '@Request.QueryString["pageName"]';
        if (pageName == 'supwavoff') {
            $('#btnCancelEoff').hide();
        }

        ///FOLLOWING LINE OF CODE SELECTS THE CONTENT OF THE INPUT WHENEVER FOCUS IS ON THE INPUT
        ///$("input:text").focus(function() { $(this).select(); } );
        
        $("#QueueNo").keypress(function (e) {
        if(e.keyCode == 13)
        {
            return false;
        }
        else
        {
            return numbersonly(e, false);
        }
        });
        $("#Remarks").keypress(function (e) {
        if(e.keyCode == 13)
        {
            return false;
        }
        });

        var path = '@(Util.GetAbsoluteAppPath("/Flash/ZeroClipboard.swf"))';
        ZeroClipboard.setMoviePath(path);
        var btns = $('button[id^="btnCopy_"]');

        $.each(btns, function (index, btn) {

            var clip = new ZeroClipboard.Client();

            clip.addEventListener('mousedown', function () {
                clip.setText($(btn).prev().val());
            });

            clip.glue($(btn).attr("id"));

        });

        $("#btnCancelEoff").click(function () {
            if (confirm("Are you sure you wish to Cancel?")) {
                // var reason=prompt("Please enter the reason for cancelation","No reason provided.");
                reason = prompt("Please enter the reason for cancelation. \n (Maximum Length 150 Characters)", "No reason provided.");
                if (reason == null) {
                    return false;
                }
                if (reason.length > 150) {
                    alert('Enterd Cancel reason length exceeds \n more than 150 characters');
                    reason = prompt("Please enter the reason for cancelation. \n (Maximum Length 150 Characters)", "No reason provided.");

                }

                if (reason) {
                    $('#hdnReasonCancel').val(reason);
                    $('#submit1').val('cancel');
                } else if (reason == '') {
                    $('#submit1').val('cancel');
                } else if (reason == null) {
                    return false;
                }
            } else {
                return false;
            }
        });

        if ($('#h3accessoryHeader').html() != null && '@(hasAccessory)' == "False") {
            $('#h3accessoryHeader').hide();
            $('#h3accessoryDetails').hide();
        }
    });

    $("#CapturedIMEINumber").keypress(function (e) {
        //key code 13 is "enter", 
        if (e.keyCode == 13) {
            PoputateIMEI();
        }
    });


    function IMEIWindowOnOpen() {
        $('#imeiWindow').data('tWindow').refresh();
        //$('#CapturedIMEINumber').val('');
    }


    function PoputateIMEI(form) {
          $('#dvIMEIError').html('');
          $('#dvIMEIError').hide();
        if (form != null && $(form).valid() == false) {
            return false;
        }
        var inputIMEI = $('#CapturedIMEINumber').val();

        if($.trim(inputIMEI)=='')
        {
               $('#dvIMEIError').html("Please Enter IMEI");
               $('#dvIMEIError').show();
               $('#CapturedIMEINumber').focus();
               return false;
        }
        else if ($("#CapturedIMEINumber").val().length < '@(System.Configuration.ConfigurationManager.AppSettings["IMEIMin"])') {
               $('#dvIMEIError').html("IMEI number length must be greater than " + '@(System.Configuration.ConfigurationManager.AppSettings["IMEIMin"])');
               $('#dvIMEIError').show();
               return false;
        }
        else
        {
                $('#dvIMEIError').html("");
        }

        var regID = '@Model.PersonalDetailsVM.RegID';
        var url = '@(Url.Content("~/Registration/CheckIMEIStatus"))';
        $.post(url, {
            regID: regID,
            imei: inputIMEI
        }, function (data) {
            if (data.toString() == "False") {
                $('#dvIMEIError').html("IMEI not valid for the selected device");
                $('#dvIMEIError').show();
                $('#CapturedIMEINumber').val('');
                $('#CapturedIMEINumber').focus();
                return false;

            } else {
                url = '@(Url.Content("~/Registration/UpdateIMEI"))';
                $.post(url, {
                    regID: regID,
                    imei: inputIMEI
                }, function (data) {

                    if (data == '') {
                        $('#RegIMEINumber').val(inputIMEI);
                        $('#lblIMEI').text(inputIMEI);

                                if ($('#CapturedIMEINumber').val() != '' && checkAccessoryButton()) {
                                    $('#divAccEoff').show();
                                } else {
                                    $('#divAccEoff').hide();
                                }


                    } 
                });

                var window = $('#imeiWindow').data('tWindow');
                window.close();
            }
        });
        return false;


    }

    function checkAccessoryButton() {
        var hasAccessory = $('#btnAccessory').val() != null;
        var hasSerializeAccessory = $('#hasSerializeAccessory').val();
        var hasSerialNumber = $('#hasSerialNumber').val();

        if (hasAccessory == true && hasSerializeAccessory == true && (hasSerialNumber == null || (hasSerialNumber != null && hasSerialNumber == "False"))) {
            return false;
        }
        return true;
    }

    //      End Sutan Added code 6Th March 2013
    /********** GENERIC FUNCTIONALITY **********/

    $.fn.replace = function () {
        var $el = $(this).fadeOut();
        $el.clone().insertBefore($el).fadeIn();
        $el.remove();
    }

    $.fn.fly = function (target, callback) {
        var callback = callback || function () {};
        var $target = $(target);
        target = $target.get(0);
        return $(this).each(function (i, el) {
            var $el = $(el);
            var $clone = $el
                .clone()
                .css({
                    position: "absolute",
                    left: el.offsetLeft,
                    top: el.offsetTop,
                    width: el.offsetWidth,
                    height: el.offsetHeight,
                    padding: 0,
                    margin: 0
                })
                .appendTo("body");
            var targetStyle = target ? {
                width: target.offsetWidth,
                height: target.offsetHeight,
                top: target.offsetTop,
                left: target.offsetLeft
            } : {
                width: 0,
                height: 0,
                opacity: 0.4,
                top: 0,
            };

            var isLast = (i == $(this).length - 1);
            $clone.animate(targetStyle, function () {
                $clone.remove();
                if (isLast) callback();
            });
        });
    }

    $.fn.disappear = function () {
        $(this).css("visibility", "hidden");
    }
    $.fn.appear = function () {
        $(this).css("visibility", "visible");
    }

    // http://ejohn.org/blog/javascript-array-remove/
    Array.prototype.remove = function (from, to) {
        var rest = this.slice((to || from) + 1 || this.length);
        this.length = from < 0 ? this.length + from : from;
        return this.push.apply(this, rest);
    };
    if (window.history.forward(1) != null) {
        window.history.forward(1);
    }
</script>
