﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.ViewModels
@using SNT.Utility;
@{
    ViewBag.Title = "Outright Device";
    var isDealer = Session["IsDealer"].ToBool();
    var nextButton = DeviceSaleSteps.Device.ToInt();
    
}
@model Online.Registration.Web.ViewModels.DeviceOptionVM
<!-- Centre column area -->
<div id="center">
    @using (Html.BeginForm("DeviceBrand", "DeviceSales", FormMethod.Post, new { id = "frmSelectDevice", @class = "overlayonsubmit", processmsg = "Loading" }))
    {
        @Html.HiddenFor(a => a.TabNumber)
        @Html.HiddenFor(a => a.SelectedDeviceOption)
        <div class="header-title">
            Outright Device</div>
        <div class="row top=border">
            <div class="col-sm-12">
                <p class="font-16 gst-notif">@(ViewBag.GSTnotif)</p>
            </div>
        </div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        <li style="display: table-cell; float: none; width:20%;" class="selected-list">Brand</li>
                        <li style="display: table-cell; float: none; width:20%;">Device</li>
                        <li style="display: table-cell; float: none; width:20%;">Accessory</li>
                        <li style="display: table-cell; float: none; width:20%;">Customer</li>
                        <li style="display: table-cell; float: none; width:20%;">Summary</li>
                    </ul>
                </div>
                <div class="content_white" style="padding: 1px 1px 0px 1px">
                    @Html.ValidationSummary(false)
                </div>
            </div>
            <div class="content" style="border-top: 1px solid #cccccc; padding: 30px;">
                @if (Model != null)
                {
                    foreach (var brand in Model.AvailableBrands)
                    {
                        var btnDvcOptID = "btnDvcOpt_" + (int)MobileRegDeviceOption.Brand + "_" + brand.ID;
                    <div class="device-wrap">
                        <div class="device-content" id='@btnDvcOptID' onclick="SelectBrand(this,'@btnDvcOptID');">
                            <img title='@brand.Name' alt='@brand.Name' src="@Url.Content(brand.ImagePath)" />
                        </div>
                    </div>
                    }

                }
                <div style="clear: both;">
                </div>
            </div>
            <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
                <div style="float: right; padding-right: 20px;">
                    <input class="submitButton" type="submit" value="Continue" onclick="$('#TabNumber').val(@(nextButton));" />
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
        @Html.Partial("_footer")
    
    }
</div>
<div id="right">
<div id="right-box">
    @{  OrderSummaryVM objSummary = new OrderSummaryVM();
        var viewBagValue = new ViewDataDictionary();
        viewBagValue.Add("GSTMark", ViewBag.GSTMark);
    }
    @Html.Partial("_OrderSummary", objSummary, viewBagValue)
</div></div>

@section Scripts{
    <script type="text/javascript" language="javascript">

        $(document).ready(function () {

            //Highlight selected Brand
            var btnDvcOptID = $('#SelectedDeviceOption').val();
            if (btnDvcOptID != '') {
                $('#' + btnDvcOptID).addClass('focus');
                $('#spnBrand').html($('#' + btnDvcOptID + ':first img').attr('title'));
            }

            if ($('#ModelImageUrl').val() == '') {
                $('#Deviceaccordion1').hide();
                $('#Deviceaccordion2').hide();
                $('#h3accessoryHeader').hide();
                $('#h3accessoryDetails').hide();
            }

        });

        function SelectBrand(target3, btnDvcOptID) {
            jQuery(".device-content").removeClass('focus');
            jQuery(target3).addClass('focus');
            $('#SelectedDeviceOption').val(btnDvcOptID);
            $('#spnBrand').html($('#' + btnDvcOptID + ':first img').attr('title'));
        }
    </script>
}

