﻿@using Online.Registration.Web.ViewModels
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@{
    ViewBag.Title = "Outright Device";
    string brandName = Model.ModelImages.Count > 0 ? Util.GetNameByID(RefType.Brand, Session["RegMobileReg_SelectedOptionID"].ToInt()) : string.Empty;

    int modelImagesCount = Model.ModelImages.Count();
    int availableDevicesCount = Model.ModelImages.Where(d => d.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockLower).Count();
    
    var dropObj = (Online.Registration.Web.Models.DropFourObj)Session[Online.Registration.Web.CommonEnum.SessionKey.DropFourObj.ToString()];
    var selectedDevice = Session[Online.Registration.Web.CommonEnum.SessionKey.RegMobileReg_SelectedModelImageID.ToString()].ToInt();
    var prevButton = DeviceSaleSteps.Brand.ToInt();
    var nextButton = DeviceSaleSteps.Accessory.ToInt();
}
@model Online.Registration.Web.ViewModels.PhoneVM
<!-- Centre column area -->
<link  href="@Url.Content("~/Content/bootstrap2/bootstrap-switch.css")" rel="stylesheet" type="text/css"/>
<style type="text/css">
    .switch-wrapper
    {
        display: inline-block;
        position: relative;
        top: 3px;
    }
</style>
<div id="center">
    @using (Html.BeginForm("Device", "DeviceSales", FormMethod.Post, new { id = "frmDevice", @class = "overlayonsubmit", processmsg = "Loading" }))
    {
        @Html.HiddenFor(a => a.TabNumber)
        @Html.HiddenFor(a => a.SelectedModelImageID)
        @Html.HiddenFor(a => a.ModelID)
        @Html.HiddenFor(a => a.DeviceArticleId)
        @Html.HiddenFor(a => a.DeviceRRPPrice)
    
        <div class="header-title">
            Outright Device</div>
        <div class="row top=border">
            <div class="col-sm-12">
                <p class="font-16 gst-notif">@(ViewBag.GSTnotif)</p>
            </div>
        </div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        <li style="display: table-cell; float: none; width:20%;" class="preselected">Brand</li>
                        <li style="display: table-cell; float: none; width:20%;" class="selected-list">Device</li>
                        <li style="display: table-cell; float: none; width:20%;">Accessory</li>
                        <li style="display: table-cell; float: none; width:20%;">Customer</li>
                        <li style="display: table-cell; float: none; width:20%;">Summary</li>
                    </ul>
                </div>
                <div class="content_white" style="padding: 1px 1px 10px 40px">
                    @Html.ValidationSummary(false)
                    <div id="Plan_Error" style="color:#ff0000; font-weight:bold; text-align:left; padding-left:20px; padding-bottom:5px;">
                    </div>
                </div>
            </div>
            <div>
            @*@if (modelImagesCount != availableDevicesCount)
            {
                if (Session["AllowSimReplacement"].ToString2() == "True")
                {
                    <div>  
                        CBR No :  @Html.TextBoxFor(a => a.CBRNo)
                    </div>
                }
            }*@
            </div>
            <div class="content" style="border-top: 1px solid #cccccc;" id="showAllDevicesDiv">
                <div class="list_carousel responsive">
                    <ul id="phones">
                        @if (Model != null)
                        {

                            foreach (var modelImage in Model.ModelImages)
                            {
                                var outofstockFlag = false;
                                var articleId = modelImage.BrandArticle.ArticleID;
                                var modelId = modelImage.BrandArticle.ModelID;
                                var btnModelImageID = "btnModelImageID_" + modelImage.BrandArticle.ID;
                                var btnModelDetails = "btnModelDetails_" + modelImage.ModelCode;
                                string curDeviceColorName = (modelImage.BrandArticle.ColourID > 0 ? Util.GetNameByID(RefType.Colour, modelImage.BrandArticle.ColourID) : string.Empty);
                                string curDeviceName = Util.GetNameByID(RefType.Model, modelImage.BrandArticle.ModelID);
                                string clickEvent = "phone(this,'" + articleId + "','" + modelId + "','" + modelImage.RetailPrice.ToString2() + "','" + curDeviceName + " " + curDeviceColorName + "','" + modelImage.BrandArticle.ID + "');";
                                if (modelImage.Count <= 0)
                                {
                                    clickEvent = string.Empty;
                                }
                                 
                            <li>
                                <div style="position: relative;">
                                    <div class="carousel-content" id='@btnModelImageID' onclick="@clickEvent" >
                                        <img title='@curDeviceName @curDeviceColorName' alt='@curDeviceName' src="@Url.Content(modelImage.BrandArticle.ImagePath)" />
                                    </div>
                                    <div style="padding-top: 7px;">
                                        <a href="@Url.Content(string.Format("~/Registration/DevicePlanDetails/?articleId={0}&modelId={1}", articleId, modelId))" class="phone cboxElement" id="popup-message">@Html.Raw(curDeviceName)
                                            @curDeviceColorName</a>
                                    </div>
                                     @if (modelImage.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockLower)
                                     {

                                        <div class="ribbon-wrapper-red">
                                            <div class="devices ribbon-red">
                                               Out of Stock</div>
                                        </div>
                                     }
                                    @if (modelImage.Count > Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockLower && modelImage.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockHigher)
                                    {
                                        <div class="ribbon-wrapper-yellow"> 
                                            <div class="devices ribbon-yellow">
                                                Fast Selling</div>
                                        </div>
                                    }
                                    else if (modelImage.Count > Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_LimitedStockLower && modelImage.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_LimitedStockHigher)
                                    {
                                        <div class="ribbon-wrapper-red">
                                            <div class="devices ribbon-red">
                                                Limited Stock</div>
                                        </div>
                                    }
                                    else if (modelImage.Count > Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_AvailableStockLower)
                                    {

                                        <div class="ribbon-wrapper-green">
                                            <div class="devices ribbon-green">
                                                Available</div>
                                        </div>
                                        
                                    }
                                </div>
                            </li>     
                            }

                            if (modelImagesCount == availableDevicesCount)
                            {
                            <div>
                                &nbsp;No Devices Available</div>
                            }

                        }
                    </ul>
                    <div class="clearfix">
                    </div>
                    <div class="arrow_position">
                        <a id="prev3" class="prev" href="#">
                            <img src="@Url.Content("~/content/img/shared/iSELL-Mobility-LeftGrey-Arrow.png")" alt="Previous" /></a>
                        <a id="next3" class="next" href="#">
                            <img src="@Url.Content("~/content/img/shared/iSELL-Mobility-RightGrey-Arrow.png")" alt="Next" /></a>
                    </div>
                </div>
            </div>
            <div class="content" style="border-top: 1px solid #cccccc;">
                <div class="list_carousel responsive" id="showAvailableDevicesDiv">
                    <ul id="phone">
                        @if (Model != null)
                        {

                            foreach (var modelImage in Model.ModelImages)
                            {
                                var outofstockFlag = false;
                                var articleId = modelImage.BrandArticle.ArticleID;
                                var modelId = modelImage.BrandArticle.ModelID;
                                var btnModelImageID = "btnModelImageID1_" + modelImage.BrandArticle.ID;
                                var btnModelDetails = "btnModelDetails_" + modelImage.ModelCode;
                                string curDeviceColorName = (modelImage.BrandArticle.ColourID > 0 ? Util.GetNameByID(RefType.Colour, modelImage.BrandArticle.ColourID) : string.Empty);
                                string curDeviceName = Util.GetNameByID(RefType.Model, modelImage.BrandArticle.ModelID);
                                string clickEvent = "phone(this,'" + articleId + "','" + modelId + "','" + modelImage.RetailPrice.ToString2() + "','" + curDeviceName + " " + curDeviceColorName + "','" + modelImage.BrandArticle.ID + "');";
                                if (modelImage.Count <= 0)
                                {
                                    clickEvent = string.Empty;
                                }
                                if (modelImage.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockLower)
                                {
                                    outofstockFlag = true;
                                }
                                if (outofstockFlag == false)
                                {    
                                
                            <li>
                                <div style="position: relative;">
                                    <div class="carousel-content" id='@btnModelImageID' onclick="@clickEvent" >
                                        <img title='@curDeviceName @curDeviceColorName' alt='@curDeviceName' src="@Url.Content(modelImage.BrandArticle.ImagePath)" />
                                    </div>
                                    <div style="padding-top: 7px;">
                                        <a href="@Url.Content(string.Format("~/Registration/DevicePlanDetails/?articleId={0}&modelId={1}", articleId, modelId))" class="phone cboxElement" id="popup-message">@Html.Raw(curDeviceName)
                                            @curDeviceColorName</a>
                                    </div>
                                    @*  @if (modelImage.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockLower)
                                    {

                                        <div class="ribbon-wrapper-red">
                                            <div class="devices ribbon-red">
                                               Out of Stock</div>
                                        </div>
                                    }*@
                                    @if (modelImage.Count > Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockLower && modelImage.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_OutOfStockHigher)
                                    {

                                        
                                        <div class="ribbon-wrapper-yellow">
                                            <div class="devices ribbon-yellow">
                                                Fast Selling</div>
                                        </div>
                                    }
                                    else if (modelImage.Count > Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_LimitedStockLower && modelImage.Count <= Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_LimitedStockHigher)
                                    {

                                        <div class="ribbon-wrapper-red">
                                            <div class="devices ribbon-red">
                                                Limited Stock</div>
                                        </div>
                                    }
                                    else if (modelImage.Count > Online.Registration.Web.Helper.Util.SessionAccess.User.Org.Inventry_AvailableStockLower)
                                    {

                                        <div class="ribbon-wrapper-green">
                                            <div class="devices ribbon-green">
                                                Available</div>
                                        </div>
                                        
                                    }
                                </div>
                            </li>     
                                }
                            }

                            if (modelImagesCount == availableDevicesCount)
                            {
                            <div>
                                &nbsp;No Devices Available</div>
                            }

                        }
                    </ul>
                    <div class="clearfix">
                    </div>
                    <div class="arrow_position">
                        <a id="prev4" class="prev" href="#">
                            <img src="@Url.Content("~/content/img/shared/iSELL-Mobility-LeftGrey-Arrow.png")" alt="Previous" /></a>
                        <a id="next4" class="next" href="#">
                            <img src="@Url.Content("~/content/img/shared/iSELL-Mobility-RightGrey-Arrow.png")" alt="Next" /></a>
                    </div>
                </div>
            </div>
           
            <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc;">
           
             
            
                <div style="float: left;">
                    <br />
                    <div class="switch-wrapper" id="checkbox1">
                        <span class="txt-16-grey-normal">Out of stock :</span>
                        <input type="checkbox" id="showAvailableDevicesCheckBox" name="showAvailableDevicesCheckBox" /></div>
                       
                </div>
                
                <div style="float: right;">
                    <input class="cancel backButton" type="submit" value="<" onclick="$('#TabNumber').val(@(prevButton));" />
                    @if (modelImagesCount != availableDevicesCount)
                    {
                        <input class="submitButton" id="btnSubmit" type="button" value="Next" onclick="$('#TabNumber').val(@(nextButton)); SubmitRegForm();" />
                       
                    }
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
        @Html.Partial("_footer")
    
    }
</div>
<div id="right">
<div id="right-box">
    @{
        OrderSummaryVM objSummary = new OrderSummaryVM();
        var orderSummary = dropObj.mainFlow.orderSummary;
        var viewBagValue = new ViewDataDictionary();
        viewBagValue.Add("GSTMark", ViewBag.GSTMark);

        if (dropObj.mainFlow != null && orderSummary != null)
        { 
            objSummary = orderSummary;
        }
    }
    @Html.Partial("_OrderSummary", objSummary, viewBagValue)
</div></div>
@{

    Html.Telerik().Window()
        .Name("devicePlanDetailsWindow")
        .Title("Device Details")


        .Width(1000)
.Height(600)
        .Content(@<text>
    </text>)
        .Modal(true)
        .Visible(false)


        .Render();
}
@section Scripts{
<script language="javascript" src="@Url.Content("~/scripts/bootstrap-switch.js")"  type="text/javascript"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/js/jquery.carouFredSel-6.2.1-packed.js")" ></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/scripts/js/jquery.colorbox.js")" ></script>
    <script type="text/javascript" language="javascript">

        $(window).load(function () {
            $("#showAllDevicesDiv").hide();
        });
        var selectedDevice = @(selectedDevice);
        $(document).ready(function () {

            $('#spnBrand').html('@brandName');

            debugger;
            if(selectedDevice > 0) {
                var phoneID = "btnModelImageID1_" + selectedDevice;
                $('#' + phoneID).click();
            }

            jQuery(function () {
                //	Fuild layout, centering the items
                jQuery('#phones').carouFredSel({
                    width: '100%',
                    height: '350px',
                    prev: '#prev3',
                    next: '#next3',
                    auto: false,
                    swipe: {
                        onTouch: true,
                        onMouse: false
                    }

                });

            });

            $("[name='showAvailableDevicesCheckBox']").bootstrapSwitch();

            $('#showAvailableDevicesCheckBox').on('switch-change', function (e, data) {
                var chk = $('#showAvailableDevicesCheckBox').is(':checked');

                if (chk == true) {

                    $("#showAllDevicesDiv").show();
                    $("#showAvailableDevicesDiv").hide();
                }
                else {
                    $("#showAllDevicesDiv").hide();
                    $("#showAvailableDevicesDiv").show();
                }

            });
            $('a#popup-message').colorbox({ iframe: true, innerWidth: 1020, innerHeight: 500 });
        });

        $(document).ready(function () {


            jQuery(function () {
                //	Fuild layout, centering the items
                jQuery('#phone').carouFredSel({
                    width: '100%',
                    height: '350px',
                    prev: '#prev4',
                    next: '#next4',
                    auto: false,
                    swipe: {
                        onTouch: true,
                        onMouse: false
                    }

                });

            });
            $('a#popup-message').colorbox({ iframe: true, innerWidth: 1020, innerHeight: 500 });

            $('a#popup-message').colorbox({ iframe: true, innerWidth: 1020, innerHeight: 500 });

        });

        function phone(target2, articleId, modelId, price, deviceColor, modelImageID) {
            jQuery(".carousel-content").removeClass('focus');

            $('#SelectedModelImageID').val(modelImageID);
            $('#spnColorName').html(deviceColor);
            $('#spnPrice').html("RM " + price);
            $('#spnDevicePrice').html(price);
            $('#spnTotalPrice').html(price);
            $('#DeviceArticleId').val(articleId);
            $('#ModelID').val(modelId);
            $('#DeviceRRPPrice').val(price);
            var curDivId = $(target2).attr("id");
            $('#imgDevice').attr("src", $('#' + curDivId + ':first img').attr('src'));
            jQuery(target2).addClass('focus');
            $('#Deviceaccordion1').click();
            $('#Deviceaccordion1').show();
            $('#Deviceaccordion2').show();
            $('#Deviceaccordion2').attr('style', 'height:auto');
            //alert($('#h3PayableSec2').length);
            $('#h3PayableSec2').hide();

        }

        $(document).ready(function () {

            $('.t-icon t-close').click(function (e) {
                //e.preventDefault();
                $('#devicePlanDetailsWindow').data('tWindow').center().close();
            });

            if ($('#ModelImageUrl').val() == '' && $('#DeviceArticleId').val() == '') {
                $('#Deviceaccordion1').hide();
                $('#Deviceaccordion2').hide();
            }
            else
            {
                $('#h3PayableSec2').show();
            }
            $('#h3accessoryHeader').hide();
            $('#h3accessoryDetails').hide();
        });

        //Highlight selected plan
        if ('@Session["RegMobileReg_SelectedModelImageID"].ToString2()' != '') {
            $('#SelectedModelImageID').val('@Session["RegMobileReg_SelectedModelImageID"].ToString2()')
        }
        var modelImageID = $('#SelectedModelImageID').val();
        if (modelImageID != 0) {
            $('#btnModelImageID_' + modelImageID).addClass('focus');
            $('#btnModelImageID1_' + modelImageID).addClass('focus');
        }


        function detailsDevices_OnClick(articleId, modelId) {
            //var code = btnModelDetails.substring(16);
            //var src = $('#imgDevicesDetails').attr("src");
            //var indexFrom = src.indexOf("Devices_") + 8;
            //var indexTo = src.indexOf(".jpg");
            //var oldCode = src.substring(indexFrom, indexTo);
            //src = src.replace(oldCode, "");
            //src = src.replace("Devices_", "Devices_" + code);
            //$('#imgDevicesDetails').attr("src", src);
            //$('#devicesDetailsWindow').data('tWindow').center().open();
            var window123 = $('#devicePlanDetailsWindow').data('tWindow');
            var url = '@(Url.Content("~/Registration/DevicePlanDetails"))';
            window123.ajaxRequest(url, { articleId: articleId, modelId: modelId });
            window123.center().open();
        }
        
          function SubmitRegForm()
        {
    
            //Code for SRWWO by chetan
//            if ('@Session["AllowSimReplacement"]' == 'True' || '@Session["WriteOffHardstop"]' == 'True') {

//                if ($('#CBRNo').val().trim() == '')
//            {
//                $('#Plan_Error').html("Please Enter value for new cbr number");
//                $('#Plan_Error').show();
//                $("html, body").animate({ scrollTop: 0 }, "slow")
//                $('#CBRNo').val('');
//                $('#CBRNo').focus();
//                return false;
//            }
//            else if (isNaN($('#CBRNo').val()) && $('#CBRNo').length > 0)
//            {
//                $('#Plan_Error').html("New CBR Number must be numbers only");
//                $('#Plan_Error').show();
//                $("html, body").animate({ scrollTop: 0 }, "slow")
//                $('#CBRNo').val('');
//                $('#CBRNo').focus();
//                return false;
//            }
//            else if ($('#CBRNo').val().substring(0, 2) != "60" || $('#CBRNo').val().length < 10 || $('#CBRNo').val().length > 12) {
//                $('#Plan_Error').show();
//                $('#Plan_Error').html("Please enter valid CBR Number ");
//                $("html, body").animate({ scrollTop: 0 }, "slow");
//                $('#CBRNo').val('');
//                $('#CBRNo').focus();
//                return false;
//            }
//        }
        //document.forms['frmDevice'].submit();
        $("#frmDevice").submit();
            }
    </script>
}
