﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.Properties;
@model Online.Registration.Web.ViewModels.RegDetailsObjVM
<script type="text/javascript">
<!--
    if (window.history.forward(1) != null) {
        window.history.forward(1);
    }
//-->  
</script>
@{
    ViewBag.Title = "Submit Registration";
    Layout = "~/Views/Shared/_SubmitLayout.cshtml";

    var IsDealer = Session["IsDealer"].ToBool();
    var IsCDPU = false;

    if (Util.isCDPUUser())
    {
        IsDealer = false;
        IsCDPU = true;
    }
}
<div>
    <table width="100%">
        <tr>
            <td style="width: 580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<div>
    @if (System.Configuration.ConfigurationManager.AppSettings["ToEmail"].ToString2() == "Y")
    {
        if (Model.RegID != null)
        { }
@*VLT CHANGED CODE 21stFEB *@
        <h4>
            Registration has been submitted successfully and an email has been sent to you…</h4>
@*VLT CHANGED CODE 21stFEB *@
    }
    else
    {
        <h4>
            Registration has been submitted successfully.</h4>
    }
    <h4>
        Click
        @Html.ActionLink("HERE", "CustomerSummary", new { regID = Model.RegID }, new { style = "color:#5fb848;font-weight:bold;text-decoration:none" })
        to view registration or <a href="@(Url.Content("~/DeviceSales/PrintDeviceSale?id=" + Model.RegID))" target="_blank" style="text-decoration:none" >
            <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
            Print </a>the registration form.
    </h4>
        @if (@TempData["CMSSCaseStatus"].ToString2() != string.Empty && @TempData["CMSSCaseStatus"].ToString2() == "Success")
         {
          <h4 style="color:#CC1122">CMSS case has been created successfully. CMSS Case Id: @TempData["CMSSCaseID"].ToString2() </h4>
         }
          else if (@TempData["CMSSCaseStatus"].ToString2() != string.Empty && @TempData["CMSSCaseStatus"].ToString2() == "Fail")
          {
          <h4 style="color:#CC1122">CMSS case creation failed.</h4>
          }
</div>

@{
    if (!IsDealer && !IsCDPU) { 
    var viewBagValue = new ViewDataDictionary();
    viewBagValue.Add("regID", Model.RegID);
    Html.RenderPartial("_PegaRecommendationMiniDashboard_2", Model.PegaVM, viewBagValue);
    }
}