﻿@using Online.Registration.Web.Helper;
@{
    ViewBag.Title = "Outright Device Failed";
    Layout = "~/Views/Shared/_SubmitLayout.cshtml";
}
@model int
<div>
    <table width="100%">
        <tr>
            <td style="width: 580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>


<div>
   
        <h3>
         IMPOS File creation failed</h3>
   
    <h4>
       @* Click
        @Html.ActionLink("HERE", "CustomerSummary", new { regID = Html.DisplayForModel() }, new { style = "color:#5fb848;font-weight:bold;text-decoration:none" })
        to view registration or <a href="@(Url.Content("~/DeviceSales/PrintDeviceSale?id=" + Model))" target="_blank" style="text-decoration:none" >
            <img alt="Print" src='@Url.Content("~/Content/images/Print.gif")' style="border:0" />
            Print </a>the registration form.*@
    </h4>
</div>
