﻿@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Web.Models;
@using Online.Registration.Web.CommonEnum;
@using Online.Registration.DAL.Models;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.SubscriberICService;
@model Online.Registration.Web.ViewModels.PersonalDetailsVM

@{
    ViewBag.Title = "Personal Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var prevButton = DeviceSaleSteps.Accessory.ToInt();
    var nextButton = DeviceSaleSteps.CustomerSummary.ToInt();
    var GSTnotif = ViewData["GSTnotif"].ToString2();
    var GSTMark = ViewData["GSTMark"].ToString2();
    var viewBagValue = new ViewDataDictionary();
    viewBagValue.Add("GSTMark", GSTMark);
    viewBagValue.Add("adjustColumn", "col-sm-9");
    var dropObj = (DropFourObj)Session[SessionKey.DropFourObj.ToString()];
    var malaysianID = Util.GetNationalityID(NATIONALITY.Malaysian);
    var NRICType = Util.GetIDCardTypeID(IDCARDTYPE.NRIC);
    var minAge = Session["RegMobileReg_ProgramMinAge"].ToInt();
    var idCardNoForNewUser = Session[SessionKey.IDCardNo.ToString()].ToString2();
    var idCardTypeForNewUser = Session[SessionKey.IDCardTypeID.ToString()];
    var idCardTypeName = Session[Online.Registration.Web.CommonEnum.SessionKey.IDCardTypeName.ToString2()].ToString2();
    var kadInfoResp = (Online.Registration.Web.AMRSvc.RetrieveMyKadInfoRp)Session[Online.Registration.Web.CommonEnum.SessionKey.BiometricResponse.ToString()];
    var biometricCheck = Session["RegMobileReg_BiometricVerify"].ToString2().ToLower();
    var existingUser = Session[SessionKey.PPID.ToString()] == "E";
    var hasAccessory = false;
    
    if (dropObj.mainFlow != null)
    {
        hasAccessory = dropObj.mainFlow.SelectedAccessory != null && dropObj.mainFlow.SelectedAccessory.Count > 0;
    }
}
<div id="center">
    @using (Html.BeginForm("PersonalDetails", "DeviceSales", FormMethod.Post, new { id = "frmPersonalDetails", enctype = "multipart/form-data", autocomplete = "off", autoCompleteType = "disable" }))
    {
        @Html.HiddenFor(a => a.TabNumber)
        @Html.HiddenFor(model => model.OutletCode)
        @Html.HiddenFor(model => model.OutletChannelId)
        @Html.HiddenFor(model => model.SalesCode)
        @Html.HiddenFor(model => model.SalesStaffCode)

        <div class="header-title">
            Outright Device
        </div>
        <div class="row top=border">
            <div class="col-sm-12">
                <p class="font-16 gst-notif">@(ViewBag.GSTnotif)</p>
            </div>
        </div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        <li style="display: table-cell; float: none; width:20%;">Brand</li>
                        <li style="display: table-cell; float: none; width:20%;">Device</li>
                        <li style="display: table-cell; float: none; width:20%;" class="preselected">Accessory</li>
                        <li style="display: table-cell; float: none; width:20%;" class="selected-list">Customer</li>
                        <li style="display: table-cell; float: none; width:20%;">Summary</li>
                    </ul>
                </div>
            </div>
            <div class="content_white" style="padding: 0px 1px 10px 20px">
                <div id="Plan_Error" style="color:#ff0000; font-weight:bold; text-align:left; padding-bottom:5px; font-size:16px;">
                    @ViewBag.ErrorMessage
                </div>
            </div>
            <div class="content" style="border-top: 1px solid #cccccc; display:inline-block; background-color:White; font-size:16px; padding-left:14px;">
                <p class="details-title" style="margin-left:6px; ">
                    Please key in your details
                </p>
                @{
                    @*Html.RenderPartial("_CustomerDetailsNew", Model, viewBagValue);*@
                    Html.RenderPartial("_PersonalDetailsForOutright", Model, viewBagValue);
                }
            </div>
            <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc; margin-top:0px; padding-right:18px;">
                <div style="float: right;">
                    <input class="cancel backButton" type="submit" value="<" onclick="$('#TabNumber').val(@(prevButton));" />
                    <input class="submitButton" id="btnSubmit" type="button" value="Next" onclick="$('#TabNumber').val(@(nextButton)); SubmitRegForm();" />
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        @Html.Partial("_footer")

        <div class="modal fade" id="BiometricInfoOverwrite" tabindex="-1" role="dialog" aria-labelledby="plan-details" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content cancel-step">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span class="close-btn">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="sm-col-12">
                            Do you want to overwrite the existing data with Biometric data ?</div>
                        <ul class="sm-col-12 kill-padding">
                            <a href="#" class="pop-btn" id="btnOverwriteYes">
                                <li class="sm-col-6">Yes </li>
                            </a>
                            <a href="#" class="pop-btn" data-dismiss="modal">
                                <li class="sm-col-6" class="close">No </li>
                            </a>
                        </ul>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div id="right">
    <div id="right-box">
        @{
            OrderSummaryVM objSummary = new OrderSummaryVM();
            var orderSummary = dropObj.mainFlow.orderSummary;

            if (dropObj.mainFlow != null && orderSummary != null)
            {
                objSummary = orderSummary;
            }
        }
        @Html.Partial("_OrderSummary", objSummary, viewBagValue)
    </div>
</div>

<script type="text/javascript" language="javascript">
    function SubmitRegForm() {
        var result = validatePersonalData();

        if(result == true)
        {
            $("#frmPersonalDetails").submit();
        }
    }

    $(document).ready(function () {
        var hasAccessory = '@(hasAccessory)';

        if (hasAccessory == "False") {
            $('#h3accessoryHeader').hide();
            $('#h3accessoryDetails').hide();
        }
    });
</script>


