﻿@using Online.Registration.Web.ViewModels
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties; 
@using Online.Registration.DAL.Models;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.RegistrationFormVM
@{
    ViewBag.Title = "Print Mobile Registration";
    Layout = string.Empty;
    string SalesStoreCode = String.Empty;
    var isDealer = Util.SessionAccess.User.isDealer;
    string dealerCodeLabel = string.Empty;
    string salescodelabel = string.Empty;
    string staffCodelabel = string.Empty;
    dealerCodeLabel = isDealer ? "*Dealer Outlet Code" : "*Sales Code - Dealer Outlet";
    salescodelabel = isDealer ? "Dealer Sales Code *" : "Sales Code - On Behalf *";
    staffCodelabel = isDealer ? "Sales Staff Code" : " *Sales Staff Code";
    string color = Session["ColourName"].ToString2();
    decimal totalAccessoryPrice = 0;
}
<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        .rfTableSk
        {
            width: 670px;
            border-spacing: 0px;
            page-break-after: auto;
        }
        .GeneralTd td
        {
            vertical-align: top;
            font-size: 0.7em;
            font-family: Arial, Tahoma, sans-serif;
        }
        .rfTableSk td
        {
            vertical-align: top;
            font-size: x-small;
            font-family: Arial, Tahoma, sans-serif;
        }
        
        
        
      
        .rfTable
        {
            width: 670px;
            border-spacing: 0px;
            page-break-after: always;
        }
        .rfTable td
        {
            vertical-align: top;
            font-size: x-small;
            font-family: Arial, Tahoma, sans-serif;
        }
        
       
        
        
    </style>
</head>
<body>
    <table align="center" class="rfTable" width="670px"  >
        <tr>
            <td colspan="4">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div style="font-size: large; font-weight: bolder; text-align: center; padding: 0;">
                    OUTRIGHT DEVICE REGISTRATION FORM &nbsp;&nbsp;&nbsp;&nbsp;
                    <img alt="" src='@Url.Content("~/Content/images/maxislogo.png")' width="70px" height="30px" /></div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td style="background-color: Black; color: White; text-transform: uppercase; font-weight: bolder;
                font-size: small;" colspan="4">
                A. Individual
            </td>
        </tr>
        <tr>
            <td style="width: 20%;">
                <b>Full Name *</b>
            </td>
            <td style="width: 35%">@Util.GetNameByID(RefType.CustomerTitle, Model.Customer.CustomerTitleID)
                @Model.Customer.FullName
            </td>
            <td style="width: 20%">
                <b>@Html.LabelFor(model => model.Customer.IDCardNo)</b>
            </td>
            <td style="width: 35%">@Model.Customer.IDCardNo
            </td>
        </tr>
        <tr>
            <td>
                <b>ID Card Type</b>
            </td>
            <td>@Util.GetNameByID(RefType.IDCardType, Model.Customer.IDCardTypeID)
            </td>
            <td>
                <b>@Html.LabelFor(model => model.Customer.ContactNo)</b>
            </td>
            <td>@Model.Customer.ContactNo.ToString2()
            </td>
        </tr>
        <tr>
            <td>
                <b>@Html.LabelFor(model => model.Customer.EmailAddr)</b>
            </td>
            <td>
                @(!string.IsNullOrEmpty(Model.Customer.EmailAddr.ToString2()) ? Model.Customer.EmailAddr.ToString2() : "Not Available")
            </td>
        </tr>
        <tr>
            <td colspan="4">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="4" style="background-color: Black; color: White; text-transform: uppercase;
                font-weight: bolder; font-size: small;">
                B. Address
            </td>
        </tr>
        @foreach (var address in Model.Addresses)
        {
            <tr>
                <td style="width: 120px">
                    <b>@Html.LabelFor(model => model.Addresses[0].Line1)</b>
                </td>
                <td>@Html.Raw(address.Line1)
                </td>
            </tr>
            <tr>
                <td style="width: 120px">
                    <b>@Html.LabelFor(model => model.Addresses[0].Line2)</b>
                </td>
                <td>@Html.Raw(address.Line2)
                </td>
            </tr>
            <tr>
                <td style="width: 120px">
                    <b>@Html.LabelFor(model => model.Addresses[0].Line3)</b>
                </td>
                <td>@Html.Raw(address.Line3)
                </td>
            </tr>
            <tr>
                <td style="width: 120px">
                    <b>@Html.LabelFor(model => model.Addresses[0].Postcode)</b>
                </td>
                <td>@Html.Raw(address.Postcode)
                </td>
            </tr>
            <tr>
                <td style="width: 120px">
                    <b>@Html.LabelFor(model => model.Addresses[0].Town)</b>
                </td>
                <td>@Html.Raw(address.Town)
                </td>
            </tr>
            <tr>
                <td style="width: 120px">
                    <b>@Html.LabelFor(model => model.Addresses[0].StateID)</b>
                </td>
                <td>@Html.Raw(Util.GetNameByID(RefType.State, address.StateID))
                </td>
            </tr>
        }
        <tr>
            <td colspan="4">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="4" style="background-color: Black; color: White; text-transform: uppercase;
                font-weight: bolder; font-size: small;">
                C. Device Details
            </td>
        </tr>

        
        @if (Model.Registration.ID != null && Model.Registration.ID != 0)
        { 
            <tr>
                <td valign="top" style="width: 60px">
                    <b>Registration ID</b>
                </td>
                <td valign="top">
                    @Model.Registration.ID
                </td>
            </tr>                              
        }
        @if (!string.IsNullOrEmpty(Model.Registration.MSISDN1))
        { 
            <tr>
                <td valign="top" style="width: 15%">
                    <b>MSISDN</b>
                </td>
                <td valign="top">
                    @Model.Registration.MSISDN1
                </td>
            </tr>
        }
      
        @if (Model.Registration.ID != null && Model.Registration.ID != 0 && (!ReferenceEquals(Model.Registration.IMPOSFileName, null)))
        {
            if (Model.Registration.IMPOSFileName != string.Empty && Model.Registration.IMPOSFileName.ToString().ToUpper().Trim() != "NOT AVIALABLE")
            {
            <tr>
                <td valign="top" style="width: 60px">
                    <b>IMPOS File Name</b>
                </td>
                <td valign="top" style="width: 400px" colspan="3">
                    @Html.Raw(Util.Barcodes(Model.Registration.IMPOSFileName))
                    <br />
                    @Model.Registration.IMPOSFileName
                </td>
            </tr>
            }

        }
        @if (Model.DeviceForms.Count() > 0)
        {
            if (ReferenceEquals(ViewBag.GSTMark, null) || Equals(ViewBag.GSTMark, ""))
            {
                ViewBag.GSTMark = Settings.Default.GSTMark.ToString2();
            }
            if (ReferenceEquals(ViewBag.GSTnotif, null) || Equals(ViewBag.GSTnotif, ""))
            {
                List<String> LabelReplace = new List<String>();
                LabelReplace.Add("GSTMark");
                ViewBag.GSTnotif = WebHelper.GenerateLabelString(Settings.Default.GSTNotif, LabelReplace);
            }
            
            <tr>
                <td valign="top" style="width: 60px">
                    <b>Device</b>
                </td>
                <td valign="top" colspan="3">
                    @Model.DeviceForms[0].Brand - @Model.DeviceForms[0].Model - @color - RM @(Model.DeviceForms[0].Price.ToString("0.00"))
                </td>
            </tr>
            
            if (Model.RegAccessory != null && Model.RegAccessory.Count > 0)
            {
                var principalAccessories = Model.RegAccessory.Where(x => x.supplineID == null).ToList();
                decimal accessoryPrice = 0;
                        
                <tr>
                    <td valign="top" style="width: 60px">
                        <b>Accessories</b>
                    </td>
                            
                    <td valign="top" colspan="3">
                        @foreach (var principalAccessory in principalAccessories)
                        {
                            var totalPrice = principalAccessory.offerPrice * principalAccessory.quantity;
                            totalAccessoryPrice += totalPrice;
                            var attributeName = !string.IsNullOrEmpty(principalAccessory.AttributeName)
                                                    ? " - " + principalAccessory.AttributeName.ToString2()
                                                    : principalAccessory.AttributeName.ToString2();
                            
                            @(principalAccessory.Name + attributeName + " (" + principalAccessory.quantity + ") - RM" + totalPrice)
                            <br />
                        }
                    </td>        
                </tr>
            }
			                        
            <tr>
                <td valign="top" style="width: 60px; white-space: nowrap;">
                    <b>Total Payable&nbsp;(RM) </b>
                </td>
                <td valign="top" colspan="3">
                    @((Model.DeviceForms[0].Price + totalAccessoryPrice).ToString("0.00")) @ViewBag.GSTMark
                </td>
            </tr>
            
            <tr>
                <td>
                    <b>IMEI</b>
                </td>
                <td>
                    @if (string.IsNullOrEmpty(Model.Registration.IMEINumber))
                    {
                        <text>Not Available</text>
                    }
                    else
                    {
                        <text>
                        @Model.Registration.IMEINumber
                        </text>
                    }
                </td>
            </tr>
                                    
        }
        <tr>
            <td colspan="2" class="row">
                <div class="col-sm-12">
                    <p class="font-16 gst-notif">@(ViewBag.GSTnotif)</p>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="4" style="background-color: Black; color: White; text-transform: uppercase;
                font-weight: bolder; font-size: small;">
                <div>
                    D. Declaration</div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                (a) I/We hereby declare that I/we wish to subscribe for the Services provided by
                Maxis Mobile Services Sdn Bhd.
            </td>
        </tr>
        <tr>
            <td colspan="4">
                (b) That the above information provided is true and correct.
            </td>
        </tr>
        <tr>
            <td colspan="4">
                (c) That I/we have read and agree to be bound by the contract terms herewith and
                all other terms & conditions printed and/or attached hereto and any amendments made
                thereto.
            </td>
        </tr>
        <tr>
            <td colspan="4">
                (d) that I/we hereby consent to the collection and processing of my personal information
                in accordance with the Maxis Privacy Statement (at www.maxis.com.my/pdpa). I/we
                further agree and accept that the terms and conditions in the Maxis Privacy Statement
                forms an integral part of the terms and conditions for use of the Services.
            </td>
        </tr>
         <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
        <tr>
            <td colspan="2">
                ____________________________________
                <br />
                Applicant's Signature 
                <br />
                @Html.Raw("Date ")@Util.FormatDateTime(Model.Registration.RFSalesDT)
            </td>
            @*<td colspan="2">
                ____________________________________
                <br />
                Date
            </td>*@
        </tr>
        <tr>
            <td colspan="4">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="4" style="background-color: Black; color: White; text-transform: uppercase;
                font-weight: bolder; font-size: small;">
                <div>
                    E. For Office Use Only</div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table>
                    <tr>
                        <td style="width:175px">
                            <b>@dealerCodeLabel</b>
                        </td>
                        <td>
                            @if (!ReferenceEquals(Model.Registration, null) && !ReferenceEquals(Model.Registration.CenterOrg, null))
                            {
                                @Html.Raw(!String.IsNullOrEmpty(Model.Registration.CenterOrg.Name) ?
                                (Model.Registration.CenterOrg.Name + " " + (!String.IsNullOrEmpty(Model.Registration.CenterOrg.DealerCode) ? "(" + Model.Registration.CenterOrg.DealerCode + ")" : String.Empty))
                                : !String.IsNullOrEmpty(Model.Registration.CenterOrg.DealerCode) ? Model.Registration.CenterOrg.DealerCode : String.Empty);
                            }
                            else
                            {
                                @Html.Raw(String.Empty);
                            }
                        </td>
                    </tr>
                    @if (@isDealer)
                    {
                        <tr>
                            <td>
                                <b>@salescodelabel</b>
                            </td>
                            <td>
                                @if (!ReferenceEquals(Model.RegAttributes, null) &&
                                    WebHelper.Instance.InitiateSalesCode(ref SalesStoreCode, Model.RegAttributes, RegAttributes.ATTRIB_KENAN_SALESCODE.ToString2()))
                                {
                                    @Html.Raw(SalesStoreCode);
                                }
                                else
                                {
                                    @Html.Raw(String.Empty);
                                }
                                @(SalesStoreCode = String.Empty)
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <b>@staffCodelabel</b>
                        </td>
                        <td>
                            @if ((!ReferenceEquals(Model.RegAttributes, null) &&
                                WebHelper.Instance.InitiateSalesCode(ref SalesStoreCode, Model.RegAttributes, RegAttributes.ATTRIB_KENAN_SALESSTAFFCODE.ToString2())) ||
                                !ReferenceEquals(Model.Registration, null))
                            {
                                @Html.Raw(!ReferenceEquals(Model.Registration, null) && !String.IsNullOrEmpty(Model.Registration.SalesPerson) && !String.IsNullOrEmpty(SalesStoreCode) ?
                                (Model.Registration.SalesPerson + " (" + SalesStoreCode + ")") : (!ReferenceEquals(Model.Registration, null) && !String.IsNullOrEmpty(Model.Registration.SalesPerson) ?
                                Model.Registration.SalesPerson : SalesStoreCode));
                            }
                            else
                            {
                                @Html.Raw(String.Empty);
                            }
                            @(SalesStoreCode = String.Empty)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                &nbsp;
            </td>
        </tr>
    </table>
  
    @*if (Model.Registration.ID > 0 && (Roles.IsUserInRole("MREG_CH") == true || Roles.IsUserInRole("MREG_SK") == true))
    {
       <br />
        <br />
        <table class="rfTableSk" width="670px" align="center" >
            <tr>
                <td colspan="3" align="center">
                    <div style="font-size: large; font-weight: bolder;">
                        INVENTORY CONTROLLER CHIT</div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    Isell Order Id
                </td>
                <td>
                    :
                </td>
                <td>@Convert.ToString(Request.QueryString["id"])
                </td>
            </tr>
            <tr>
                <td>
                    Store
                </td>
                <td>
                    :
                </td>
                <td>@Model.Registration.OrganisationId
                    <div style="float: right;">
                        Date/Time : @DateTime.Now.ToString("dd/MM/yyyy hh:mm tt")</div>
                </td>
            </tr>
            <tr>
                <td>
                    Service Type
                </td>
                <td>
                    :
                </td>
                <td>
                    Outright Device
                </td>
            </tr>
            <tr>
                <td>
                    Inventory Controller Id
                </td>
                <td>
                    :
                </td>
                <td>
                    @Util.SessionAccess.UserName
                </td>
            </tr>
            <tr>
                <td>
                    Customer Name
                </td>
                <td>
                    :
                </td>
                <td>
                    @Util.GetNameByID(RefType.CustomerTitle, Model.Customer.CustomerTitleID) @Model.Customer.FullName
                </td>
            </tr>
            <tr>
                <td>
                    ID No
                </td>
                <td>
                    :
                </td>
                <td>@Model.Customer.IDCardNo
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    &nbsp;
                </td>
            </tr>
            @if (!string.IsNullOrEmpty(Model.Registration.ArticleID))
            {               
                <tr>
                    <td>
                        Article ID
                    </td>
                    <td>
                        :
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(Model.Registration.ArticleID))
                        {
                            @Model.Registration.ArticleID
                        }
                        else
                        { <text>Not Available</text> }
                    </td>
                </tr>
            }
            @if (Model.Registration.RegTypeID == Util.GetIDByCode(RefType.RegType, Settings.Default.RegType_DevicePlan))
            {
                <tr>
                    <td>
                        Device Description
                    </td>
                    <td>
                        :
                    </td>
                    <td>
                        @if (@Model.DeviceForms.Count() > 0)
                        {
                            string deviceModel = Model.DeviceForms[0].Brand + " - " + Model.DeviceForms[0].Model;
                                
                           
                            @deviceModel

                              
                        }
                        else
                        { 
                            <text>Not Available</text>
                        }
                    </td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(Model.Registration.IMEINumber))
            {
                <tr>
                    <td>
                        IMEI
                    </td>
                    <td>
                        :
                    </td>
                    <td>
                        @if (string.IsNullOrEmpty(Model.Registration.IMEINumber))
                        {
                            <text>Not Available</text>
                        }
                        else
                        {
                            <text>
                            @Model.Registration.IMEINumber
                            </text>
                        }
                    </td>
                </tr>
            }
            <tr>
                <td colspan="3">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <table width="100%">
                        <tr>
                            <td style="width: 50%;">
                                <div style="border-bottom-style: dotted; border-bottom-color: Black; border-bottom-width: 2px;">
                                </div>
                                <br />
                                Signature<br />
                                Inventory Controller
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td style="width: 50%;">
                                <div style="border-bottom-style: dotted; border-bottom-color: Black; border-bottom-width: 2px;">
                                </div>
                                <br />
                                Signature<br />
                                Cashier
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    }*@
</body>
</html>
