﻿@using Online.Registration.Web.ViewModels
@using Online.Registration.Web.Helper;
@using SNT.Utility;
@model Online.Registration.Web.ViewModels.AccessoriesVM

@{
    ViewBag.Title = "Select Accessory";
    //Layout = "~/Views/Shared/_NewLayout.cshtml";
    var viewBagAccessory = new ViewDataDictionary();
    viewBagAccessory.Add("imageURLForAccessory", ViewBag.imageURLForAccessory);
    viewBagAccessory.Add("FromOutrightPurchase", true);
    var dropObj = (Online.Registration.Web.Models.DropFourObj)Session[Online.Registration.Web.CommonEnum.SessionKey.DropFourObj.ToString()];
    var prevButton = DeviceSaleSteps.Device.ToInt();
    var nextButton = DeviceSaleSteps.PersonalDetails.ToInt();
}
<!-- Centre column area -->
<link  href="@Url.Content("~/Content/bootstrap2/bootstrap-switch.css")" rel="stylesheet" type="text/css"/>
<style type="text/css">
    .switch-wrapper
    {
        display: inline-block;
        position: relative;
        top: 3px;
    }
    
    td
    {
        padding:0;
    }
    
    .btnQty
    {
        padding-left: 12px;    
    }
</style>
<div id="center">
    @using (Html.BeginForm("SelectAccessory", "DeviceSales", FormMethod.Post, new { id = "frmAccessory", @class = "overlayonsubmit", processmsg = "Loading" }))
    {
        @Html.Hidden("TabNumber");
        @Html.Hidden("ButtonClicked");
        @Html.Hidden("isOutrightDevice", true);
                                               
        <div class="header-title">
            Outright Device
        </div>
        <div class="row top=border">
            <div class="col-sm-12">
                <p class="font-16 gst-notif">@(ViewBag.GSTnotif)</p>
            </div>
        </div>
        <div class="center_box">
            <div class="content_white" style="border-top: 1px solid #cccccc; padding: 20px;">
                <div class="steps-nav">
                    <ul id="table">
                        <li style="display: table-cell; float: none; width:20%;">Brand</li>
                        <li style="display: table-cell; float: none; width:20%;" class="preselected">Device</li>
                        <li style="display: table-cell; float: none; width:20%;" class="selected-list">Accessory</li>
                        <li style="display: table-cell; float: none; width:20%;">Customer</li>
                        <li style="display: table-cell; float: none; width:20%;">Summary</li>
                    </ul>
                </div>
            </div>
            <div class="content_white" style="padding: 0px 1px 10px 20px">
                @Html.ValidationSummary(false)
                <div id="Plan_Error" style="color:#ff0000; font-weight:bold; text-align:left; padding-bottom:5px; font-size:16px;">
                </div>
            </div>
            <div class="content" style="border-top: 1px solid #cccccc; display:inline-block; width:100%; background-color:White;">
                <div class="col-sm-9" style="display:inline-block; width:100%; font-size:16px;">
                    @Html.Partial("_SearchAccessory", Model, viewBagAccessory)
                </div>
            </div>
            <div class="content_white" style="height: 80px; border-top: 1px solid #cccccc; margin-top:-4px; padding-right:18px;">
                <div style="float: right;">
                    <input class="cancel backButton" type="submit" value="<" onclick="$('#TabNumber').val(@(prevButton));" />
                    <input class="submitButton" id="btnSubmit" type="button" value="Next" onclick="$('#TabNumber').val(@(nextButton)); SubmitRegForm();" />
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
        @Html.Partial("_footer")
    }
</div>
<div id="right">
    <div id="right-box">
        @{
            OrderSummaryVM objSummary = new OrderSummaryVM();
            var orderSummary = dropObj.mainFlow.orderSummary;
            var viewBagValue = new ViewDataDictionary();
            viewBagValue.Add("GSTMark", ViewBag.GSTMark);

            if (dropObj.mainFlow != null && orderSummary != null)
            {
                objSummary = orderSummary;
            }
        }
        @Html.Partial("_OrderSummary", objSummary, viewBagValue)
    </div>
</div>

@section Scripts{
<script type="text/javascript">
    var searchAccessoryURL = '@(Url.Content("~/Registration/SearchAccessory"))';
    var addAccessoryURL = '@(Url.Content("~/Registration/AddAccessory"))';
    var removeAccessoryURL = '@(Url.Content("~/Registration/removeAccessory"))';
    var loadAccessoryURL = '@(Url.Content("~/Registration/LoadAccessory"))';

    $(document).ready(function () {
        if ($('#ModelImageUrl').val() == '') {
            $('#Deviceaccordion1').hide();
            $('#Deviceaccordion2').hide();
        }
    });

    function SubmitRegForm() {
        $("#frmAccessory").submit();
    }
</script>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js2/accessory.js")"></script>
}