﻿@using Online.Registration.Web.Controllers;
@using Online.Registration.Web.CommonEnum;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.SubscriberICService;
@using SNT.Utility;
@model  Online.Registration.Web.ViewModels.BRNVm
@{
    ViewBag.Title = "BRN / Company Search";
    var selectedValue = string.Empty;
    var isparentLoaded = "0";

    Online.Registration.Web.ViewModels.BRNVm objCompanyInfoResponse = null;
    if (Session[SessionKey.CompanyInfoResponse.ToString2()] != null)
    {
        objCompanyInfoResponse = (Online.Registration.Web.ViewModels.BRNVm)Session[SessionKey.CompanyInfoResponse.ToString2()];
        //if (objCompanyInfoResponse.SearchType.ToString2() == "Master")
        //{
        //    //value='@company.companyNameField,@company.brnField,@company.fxAcctNoField,@company.fxAcctExtIdField'  />
        //    selectedValue = objCompanyInfoResponse.CompanyName + "," + objCompanyInfoResponse.BRN.ToString2() + "," + objCompanyInfoResponse.CorpMasterID + "," + objCompanyInfoResponse.CorpMasterExtId;
        //}
        if (objCompanyInfoResponse.CorpParentExtId.ToString2() != string.Empty)
        {
            //value='@company.companyNameField,@company.mktCodeField,@company.fxAcctNoField,@company.fxAcctExtIdField' />
            selectedValue = objCompanyInfoResponse.CompanyName + "," + objCompanyInfoResponse.MarketCode.ToString2() + "," + objCompanyInfoResponse.CorpParentID + "," + objCompanyInfoResponse.CorpParentExtId;
        }

    }
}
<style type='text/css'>
    /*table
    {
        width: 40em;
        margin: 2em auto;
    }*/
    
   .paginated th
    {
       font-weight:bold;
       font-family:frutigerroman;
    }
    
   /* td
    {
        width: 10em;
        padding: 0.3em;
    }
    
    tbody
    {
        background: #ccc;
    }*/
    .search-result-wrapper {
    margin: 0 auto;
    padding-left: 8px;
    }
    
    div.pager
    {
        text-align: right;
        margin-right:2px;
        margin: 1em 0;
    }
    
    div.pager span
    {
        display: inline-block;
        width: 1.8em;
        height: 1.8em;
        line-height: 1.8;
        text-align: center;
        cursor: pointer;
        background: #000;
        color: #fff;
        margin-right: 0.5em;
    }
    
    div.pager span.active
    {
        background: #90C74B;
    }
</style>
<div id="wrapper">
    <div id="maincontentcontainer">
        <div id="center">
            <div class="center_box">
                @using (Html.BeginForm("BRNSearch", "Home", FormMethod.Post, new { id = "frmBRNSearch", @class = "overlayonsubmit", processmsg = "Loading" }))
                {
                        
                    <input type="hidden" id="hdnSelectCompanyDtls" name="hdnSelectCompanyDtls" />
                    <input type="hidden" id="hdnSelectedBRN" name="SelectedBRN" value="" />
                    <input type="hidden" id="hdnSubmitType" name="SumbitType" />
                    <input type="hidden" id="hdnRegType" name="hdnRegType" value="@Request.QueryString["type"].ToString2()" />
                    <div class="content search-header">
                        <div class="search-header-box">
                            <div class="search-hdr-title">
                                SMEI/CI Services</div>
                        </div>
                    </div>
                    <div style="clear: both;">
                    </div>               
               
                    <div class="content_white">
                     <div id="dvError" class="ErrorClass" style="padding-left: 20px; padding-bottom: 5px;padding-top:5px;" >
                </div>
                        <div class="search-header-box">
                            <div class="search-hdr-title">
                                Search Corporate</div>
                                <div class="SearchControlls">
                            <div class="search-hdr-body">
                                Type*</div>
                            <div class="idType-select">
                                @Html.Telerik().DropDownList().Name("SearchType").BindTo(new List<SelectListItem> { 
                                                                        new SelectListItem{Text="-- Please Select --", Value="0", Selected=true},
                                                                        new SelectListItem{Text=CorpType.BRN.ToString(), Value=CorpType.BRN.ToString()},  
                                                                        new SelectListItem{Text="Company Name", Value=CorpType.NAME.ToString()},
                                                                        new SelectListItem{Text="Master Acct", Value=CorpType.MASTERACCT.ToString()},
                                                                        new SelectListItem{Text="Parent Acct", Value=CorpType.PARENTACCT.ToString()}})
                                </div>
                                <div class="search-hdr-body">
                                    Value*</div>
                                <div>
                                    @Html.TextBox("SearchValue", null, new Dictionary<string, object> { { "data-val", false }, { "class", "search-input" } })
                                </div>
                                <div>
                                    <input style="cursor:pointer;" title="BRN/Company Search" type="image"  id="btnSearch" src='@Url.Content("~/Content/img/shared/iSELL-Search-Button.jpg")' class="search-button" onclick="return SubmitSearch(this.value);"/>
                                </div>
                            </div>
                        </div>
                        <div style="padding-left: 4%;">
                            @Html.ValidationSummary()</div>
                    </div>
                    
                    <div style="clear: both">
                    </div>
                    if (Model != null)
                    {
                    <div class="content_white">
                        <div class="search-result-wrapper">
                            <div class="crp-wrapper" id="dvGrid">
                                @if (Model.BRN.ToString2() != string.Empty)
                                {
                                    <div class="content_white">
                                        <b>BRN :</b> <b>@Model.BRN</b>
                                    </div>  
                                }
                                <table class="paginated" width="100%" cellpadding="20" cellspacing="0" border="0"
                                    id="search-table">
                                    <thead>
                                        <tr class="row-bold-header">
                                            <th scope="col" align="center">
                                                Action
                                            </th>
                                            <th scope="col" nowrap>
                                                Company Name
                                            </th>
                                            @if (objCompanyInfoResponse != null && objCompanyInfoResponse.SearchType.ToString2() == "Master" && Model.MasterList != null)
                                            {
                                                <th scope="col">
                                                    BRN
                                                </th>
                                            }
                                            @if (objCompanyInfoResponse != null && Online.Registration.Web.Helper.Util.getSearchCorporateType(objCompanyInfoResponse.SearchType.ToString2()) == CorpType.PARENTACCT)
                                            {
                                                <th scope="col" nowrap>
                                                    Master Internal Acct
                                                </th>
                                            }
                                            else
                                            {
                                                <th scope="col" nowrap>
                                                    Master Acct
                                                </th> 
                                            }
                                            @if (objCompanyInfoResponse != null && (objCompanyInfoResponse.SearchType.ToString2() == "Parent" || Online.Registration.Web.Helper.Util.getSearchCorporateType(objCompanyInfoResponse.SearchType.ToString2()) == CorpType.PARENTACCT) && Model.ParentList != null)
                                            {                           
                                                <th scope="col" nowrap>
                                                    Parent Acct
                                                </th>
                                                <th scope="col" nowrap>
                                                   Company Type
                                                </th>
                                                <th scope="col" nowrap>
                                                    Company Address
                                                </th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            
                                            if (objCompanyInfoResponse != null)
                                            {
                                                if ((objCompanyInfoResponse.SearchType.ToString2() == "Master" ) && Model.MasterList != null)
                                                {
                                                    foreach (var company in Model.MasterList)
                                                    {
                                            <tr class="row-body">
                                                <td align="center">
                                                    <input type="radio" name="SelectCompanyDtls" value='@company.companyNameField,@company.brnField,@company.fxAcctNoField,@company.fxAcctExtIdField'  />
                                                </td>
                                                <td>
                                                    @company.companyNameField.ToString2().Trim()
                                                </td>
                                                <td>
                                                    @company.brnField
                                                </td>
                                                <td>
                                                    @company.fxAcctExtIdField
                                                </td>
                                            </tr>
                                                    }
                                                }
                                                else if ((objCompanyInfoResponse.SearchType.ToString2() == "Parent" || Online.Registration.Web.Helper.Util.getSearchCorporateType(objCompanyInfoResponse.SearchType.ToString2()) == CorpType.PARENTACCT) && Model.ParentList != null)
                                                {

                                                    foreach (var company in Model.ParentList)
                                                    {
                                                        isparentLoaded = "1";
                                                        string strValue = company.companyNameField + "," + company.mktCodeField + "," + company.fxAcctNoField + "," + company.fxAcctExtIdField;
                                            <tr class="row-body">
                                                <td align="center">
                                                    <input type="radio" name="SelectCompanyDtls" onclick="javascript:SetParentInfo('@strValue')" value='@strValue' />
                                                </td>
                                                <td valign="top">@company.companyNameField
                                                </td>
                                                <td  valign="top">
                                                    @objCompanyInfoResponse.CorpMasterExtId
                                                </td>
                                                <td  valign="top">
                                                    @company.fxAcctExtIdField
                                                </td>
                                                <td valign="top">
                                                    @company.noBillField
                                                </td>
                                                <td  valign="top">
                                                    @company.billAddr1Field.ToString2() @company.billAddr2Field.ToString2()
                                                </td>
                                            </tr>
                                                    }
                                                }

                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div style="height: 80px;" class="content_white">
                                <div style="float: right; padding-right: 32px" id="divHeader">
                                  @if (isparentLoaded=="1")
                                  {
                                         <input class="cancel backButton" type="button" value="<" id="btnBack"   />
                                  }
                                        <input id="btnContinue" class="submitButton" type="submit" value="Continue" onclick="GetSelectedCompanyInfo();" />
                                  
                                </div>
                            </div>
                        </div>
                    </div> 
                    }
                }
            </div>
            @Html.Partial("_footer")
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">


    // Making Search Default button 
    $(document).keypress(function (e) {
        if (e.which == 13) {
            document.getElementById('btnSearch').click();
            return false;
        } else {
            return true;
        }
    });
    // End code added by VLT


    $(document).ready(function () {

        var _SearchType = $("#SearchType").val();
        var _SearchValue = $.trim($('#SearchValue').val());
        $("#btnBack").click(function () {
            $("#SearchType").data("tDropDownList").value(_SearchType)
            $('#SearchValue').val(_SearchValue);
            // $('#hdnSubmitType').val('Search');
            //document.getElementById('btnSearch').click();
            $("#btnSearch").click();
            //SubmitSearch($(this));
        });

        var selectedValue = '@selectedValue';

        if (selectedValue == "") {
            $('input[name=SelectCompanyDtls]:first').prop('checked', 'checked');
        }
        else {
            $('input[name=SelectCompanyDtls][value="' + selectedValue + '"]').prop('checked', 'checked');
        }

        //        $("#SearchValue").keypress(function (e) {
        //            if (e.which == 32) {
        //                alert("spaces are not allowed");
        //                return false;
        //            }
        //        });



    });

    function SubmitSearch(initiator) {

        var SearchType = $("#SearchType").data("tDropDownList").value();
        var SearchValue = $.trim($('#SearchValue').val());
        $('#SearchValue').val(SearchValue);

        if (checkMandetoryFields(SearchValue, SearchType) == true) {

            $('#hdnSubmitType').val('Search');
            $("#frmBRNSearch").submit();
        }
        return false;
    }

    function checkMandetoryFields(SearchValue, SearchType) {

        if (SearchType == 0 && SearchValue == "") {
            //alert("Please Select Type.\nThe Value field is required.");
            $('#dvError').html('Please Select Type.\nThe Value field is required.');
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        }
        else if (SearchType == 0) {
            //alert("Please Select Type.");
            $('#dvError').html('Please Select Type');
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        }
        else if (SearchValue == "") {
           // alert("The Value field is required.");
            $('#dvError').html('The Value field is required.');
            $("html, body").animate({ scrollTop: 0 }, "slow");
            $('#SearchValue').focus();
            return false;
        }
        $('#dvError').html('');
        return true;
    }

    function GetSelectedCompanyInfo() {
        var selectedVal = $('input[name=SelectCompanyDtls]:checked').val();
        $('#hdnSelectedBRN').val(selectedVal.toString().split(',')[1]);
        $('#hdnSubmitType').val('Continue');
        $('#hdnSelectCompanyDtls').val(selectedVal);
    }

    if ($('.validation-summary-errors').length > 0) {
        $('#btnContinue').hide();
        $('#dvGrid').hide();
    }

    $(function () {
        if ($('table.paginated tbody tr').length > 10) {
            $('table.paginated').each(function () {
                var currentPage = 0;
                var numPerPage = 10;
                var $table = $(this);
                $table.bind('repaginate', function () {
                    $table.find('tbody tr').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
                });
                $table.trigger('repaginate');
                var numRows = $table.find('tbody tr').length;
                var numPages = Math.ceil(numRows / numPerPage);

                var $pager = $('<div class="pager"><label style="display:inline">Page</label> :</div>');
                for (var page = 0; page < numPages; page++) {
                    $('<span class="page-number"></span>').text(page + 1).bind('click', {
                        newPage: page
                    }, function (event) {
                        currentPage = event.data['newPage'];
                        $table.trigger('repaginate');
                        $(this).addClass('active').siblings().removeClass('active');
                    }).appendTo($pager).addClass('clickable');
                }
                $pager.insertAfter($table).find('span.page-number:first').addClass('active');
            });
        }
    });

    function SetParentInfo(objValue) {


        $('#hdnSelectCompanyDtls').val(objValue);
//        var url = '@(Url.Content("~/Home/SetParentInfo"))';
//        $.post(url, { ParentInfo: objValue }, function (data) {

//        }, "text");

    }
    
</script>
