@using Online.Registration.Web.Helper
@{
    var error = ViewBag.Title;
ViewBag.Title = "Error";

}


<table width="984" height="363" border="0" align="center" cellpadding="0" cellspacing="0">
 
  <tr>
    <td height="141" align="center" valign="middle"><p><img src='@Url.Content("~/Content/images/error_icon.png")'  alt="Image" width="120" height="89" /><br />
    @if (TempData["KenanMethod"]!=null && TempData["KenanMethod"]!="")
{
        @*<b>@TempData["KenanMethod"]</b>
        <br />
 <text>Response code :</text> 
        @TempData["ResponseCode"]*@
<br />
      @*  <text>Response Description :</text> *@
<b>@TempData["ResponseDescription"]</b>
<br />

}
    else
    {
<text>
Sorry, an error occurred while processing your request.
</text>
<br />
    
    }

@*<p>
<input type="submit" value="Click to Continue" onclick="@Url.Action("ErrorLogout")"/>
</p>*@
    </td>
  </tr>
  

  <tr>
    <td height="60" align="center" valign="middle">
        <a class="t-button t-button-icontext" href="@Url.Action("Index")">Click to Continue</a>
   </td>
  </tr>

  <tr>
    <td height="18" align="center" valign="middle"><p class="foot"></p></td>
  </tr>
  <tr>
    <td height="26" align="center" valign="middle">&nbsp;</td>
  </tr>
</table>
