﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Controllers;
@using Online.Registration.Web.SubscriberICService;
@using SNT.Utility;
@using Online.Registration.Web.CommonEnum;
@using Online.Registration.DAL.Models;
@model Online.Registration.Web.Models.InquiryAccountSummaryModel
@{
    ViewBag.Title = "IndexNew";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    var msisdnOffer = ViewBag.MSISDNForQuotaShare as List<string>;
    bool hasPopUpMessage = msisdnOffer != null && msisdnOffer.Count > 0;
    
    var msisdnMessage = ViewBag.MSISDNMessage as List<ViewPopUpMessage>;
    hasPopUpMessage = (!ReferenceEquals(msisdnMessage, null) && msisdnMessage.Count > 0) ? true : hasPopUpMessage;
    
    var NewICCardTypeID = Settings.Default.IDCardType_NRIC;
    var Passport = Settings.Default.IDCardType_NRPP;
    var OldICCardTypeID = Settings.Default.IDCardType_NROIC;
    var MSISDNCardTypeID = Settings.Default.IDCardType_NRMSISDN;
    var accountNumberCardTypeId = "AC";

    List<SelectListItem> lstIds = Util.GetList(RefType.IdCardTypes, defaultValue: string.Empty, defaultText: string.Empty);
      
    lstIds.Add(new SelectListItem { Text = "Account Number", Value = "AC,1001" });
    //if ((Roles.IsUserInRole("MREG_NEW")) && (!Roles.IsUserInRole("MREG_TL")))
    //{
    //    lstIds.Remove(lstIds.Where(a => a.Text == "MSISDN").ToArray()[0]);
    //}
    var IsDealer = !ReferenceEquals(Session["IsDealer"], null) ? Session["IsDealer"].ToBool() : false;
    var PPIdCheck = Session["PPID"].ToString2();
    bool breCheckFailed = false;
    retrieveAcctListByICResponse AcctListByICResponse = null;
    string breCheckFailedMsg = "BRE Check is failed, please try again later.";
    string accountSearchError = "Customer details not found with Account Number search, Please search with ID details.";
    string MSISDNSearchError = "Customer details not found with MSISDN Number search, Please search with ID details.";
    string SystemSearchError = "Unable to retrieve customer information due to unavailability of backend system"; // Lus bugzilla #679
    
    bool IsExistingUser = false;

    if (SessionManager.Get("PPIDInfo") != null)
    {
        AcctListByICResponse = (retrieveAcctListByICResponse)SessionManager.Get("PPIDInfo");
    }

    string FxInternalCheckMessage = ViewData["FxInternalCheckMessage"].ToString2();
    bool isCorporateExist = ViewData["isCorporateExist"].ToBool();
    bool isCorporateSMEExist = ViewData["isCorporateSMEExist"].ToBool();
    bool isCorpIndividualOnly = Session[SessionKey.IsCorpIndividualOnly.ToString()].ToBool();
    bool isSMEIndividualOnly = Session[SessionKey.IsSMEIndividualOnly.ToString()].ToBool();
    string searchType = Session[SessionKey.PPIDSearchIDType.ToString()].ToString2();

    if (!string.IsNullOrEmpty(FxInternalCheckMessage) && FxInternalCheckMessage == "System Internal Error")
    {
        FxInternalCheckMessage = "Not Available";
        breCheckFailed = true;
    }
    else if (!string.IsNullOrEmpty(FxInternalCheckMessage) && FxInternalCheckMessage == "Please specify IC Type")
    {
        IsExistingUser = true;
        PPIdCheck = "E";
    }
    else
    {
        FxInternalCheckMessage = string.Empty;
        breCheckFailed = false;
    }
    Session["AcctStat"] = FxInternalCheckMessage;

    string UserStop = (!(Request.QueryString["UserStop"] != null) ? Request.QueryString["UserStop"] : "");

    
    if (SessionManager.Get("PPID") != null && !string.IsNullOrWhiteSpace(Convert.ToString(SessionManager.Get("PPID"))))
    {
        IsExistingUser = "E".Equals(Convert.ToString(SessionManager.Get("PPID"))) ? true : false;
    }
    else if (string.IsNullOrEmpty(Convert.ToString(SessionManager.Get("PPID"))))
    {
        IsExistingUser = false;
    }

    //if (!string.IsNullOrEmpty(FxInternalCheckMessage) && FxInternalCheckMessage == "Please specify IC Type" && (!ReferenceEquals(isCorporate, null) ? isCorporate : false))
    //{
    //    IsExistingUser = true;
    //    PPIdCheck = "E";
    //}
    var classContainer = "";
    
    if (IsExistingUser == false)
    {
        classContainer = "container2";
    }
    else
    {   
        classContainer = "container";
    }
   
    bool isFraud = !string.IsNullOrEmpty(FxInternalCheckMessage) ? FxInternalCheckMessage.ToLower().Contains("fraud") : false;
    
    string ageCheckFailed = ViewData["ageCheckFailed"].ToString2();
}
<div class='@classContainer' id="new-cus">
    <div class="isell-base">
        <section class="search-bar">
        @using (Html.BeginForm("IndexNew", "Home", FormMethod.Post, new { id = "frmHome", @class = "overlayonsubmit", processmsg = "Loading" }))
        {
            
            <div class="row">

            @Html.Hidden("submit1")
            @Html.Hidden("hdnaccountSelected")
            @Html.Hidden("SelectExternalId")
            @Html.Hidden("hdnIsSupplineNew")
            @Html.Hidden("hdnIsDeviceRequired")

            @Html.Hidden("idCardTypeIDSTR")
            @Html.Hidden("idCardTypeIDINT")
            @Html.Hidden("idCardNo")
            

              <div class="col-sm-3">
                <p class="text-right" style="text-align: center;">Find a customer</p>
              </div>
              <div class="col-sm-2" id="srch-txt">
                <p class="text-right paddingRight">Search by</p>
              </div>
              <div style="width:20%" class="col-sm-2">
                <div class="input-group">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-defadivt dropdown-toggle selectby search-drop" data-toggle="dropdown">
                        <span id="filterText">Please Select</span><span class="drop-arrow"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" id="searchOptions">
                        @{
            foreach (var listItem in lstIds)
            {
                if (!string.IsNullOrEmpty(listItem.Value))
                {
                                    <li><a href="#" data-value="@(listItem.Value)">@(listItem.Text)</a></li>
                }
            }   
                        }
                    </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="navbar-form" role="search">
                    <div class="form-group">
                      <input type="text" class="form-control search-box" id="Customer_IDCardNo" placeholder="" >
                      <button type="submit" class="btn btn-defadivt search-icon" onclick="return submitNumpad();"></button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 error-msg">
                    <p id="errorMsgPanel" style="padding-left:15px;color:#ff0000;">@(ViewBag.ICValidationError)</p>
                </div>
              </div>
        }
        </section>
    </div>

    @if (IsExistingUser)
    {
        if (AcctListByICResponse == null && breCheckFailed)
        {
            <div class="alert alert-warning" role="alert"><h2><i>@breCheckFailedMsg</i></h2></div>
        }
    }

    @if (isCorporateExist || isCorporateSMEExist)
    {
        <div class="alert alert-warning" role="alert"><h2><i>This is a corporate account. Please use Kenan to search for more details</i></h2></div>
    }
    else if (IsDealer && (searchType == "ACCT" || searchType == "MSISDN") && (isCorpIndividualOnly || isSMEIndividualOnly))
    {
        <div class="alert alert-warning" role="alert"><h2><i>This is an SMEI/CI account. Unable to proceed in iSell</i></h2></div>
    }
    else if (!string.IsNullOrEmpty(PPIdCheck))
    {
        if (PPIdCheck.Equals("IU"))
        {
            if (@Session["SearchBy"].ToString2() == "MSISDN")
            {
            <div class="alert alert-warning" role="alert"><h2><i>@MSISDNSearchError</i></h2></div>   
            }
            else
            { 
            <div class="alert alert-warning" role="alert"><h2><i>@accountSearchError</i></h2></div>   
            }
        }
        else if (PPIdCheck.Equals("TO"))
        {
            <div class="alert alert-warning" role="alert"><h2><i>@SystemSearchError</i></h2></div> 
        }
        else
        { 
        <div class="isell-base-2">
            @{
            var viewBagValue = new ViewDataDictionary();
            viewBagValue.Add("FxInternalCheckMessage", ViewBag.FxInternalCheckMessage == null ? "" : ViewBag.FxInternalCheckMessage);
            viewBagValue.Add("SearchBy", ViewBag.SearchBy == null ? "" : ViewBag.SearchBy);
            viewBagValue.Add("SearchValue", ViewBag.SearchValue == null ? "" : ViewBag.SearchValue);
            viewBagValue.Add("SearchNumber", ViewBag.SearchNumber == null ? "" : ViewBag.SearchNumber);
            viewBagValue.Add("isCorporateExist", ViewBag.isCorporateExist == null ? false.ToString2() : ViewBag.isCorporateExist);
            viewBagValue.Add("isCorporateSMEExist", ViewBag.isCorporateSMEExist == null ? false.ToString2() : ViewBag.isCorporateSMEExist);
            Html.RenderPartial("_DisplayUserDetails", Model, viewBagValue);
            }
        </div>
        }
    }
    else
    {
        if (string.IsNullOrEmpty(PPIdCheck))
        { 
            <div class="isell-base-2">
            @{
            Html.RenderPartial("_UserLandingPage");
            }
            </div>
        }
    }

</div>

<div class="modal fade" id="isDeviceReqWindow" tabindex="-1" role="dialog" aria-labelledby="isDeviceReqWindow" aria-hidden="true">
	<div class="modal-dialog  modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span class="close-btn">Close</span></button>
				<h4 class="modal-title usage-title">Is Device Required?</h4>
			</div>
			<div class="modal-body login-box">
				<div class="sm-col-12">
					<ul class="select-sim">
						<li class="col-sm-3">
							<div class="sim-list" id="btnYes"><div style="width:60px; height: 10px"></div>Yes</div>
						</li>
						<li class="col-sm-3">
							<div class="sim-list"id="btnNo"><div style="width:60px; height: 10px"></div>No</div>
						</li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>

@if (hasPopUpMessage)
{ 
<div class="modal fade" id="maxisONEShareOfferWindow" tabindex="-1" role="dialog" aria-labelledby="maxisONEShareOfferWindow" aria-hidden="true">
	<div class="modal-dialog  modal-md" style="width:73%;">
		<div class="modal-content" style="font-size:18px;border-radius: 10px;">
			<div class="modal-header" style="text-align:center;padding-top:5%;padding-bottom:1%;border-bottom:none;">
				<!--button type="button" class="close" data-dismiss="modal"><span class="close-btn">&times;</span></button-->
				<!--h4 class="modal-title usage-title">Is Device Required?</h4-->
                <span>Recommendations for the following MSISDN(s):</span><br/>
			</div>
			<div class="modal-body login-box" style="max-height:250px;overflow-y:scroll;padding-top:0%;">
                <center>
                    <table class="table table-bordered" style="min-width:40%;margin-top:0%;">
                        <tr>
                            <!--th style="background-color:#77dd00;text-align:center;">MSISDN</th-->
                            <th style="background-color:#77dd00;">MSISDN</th>
                            @*<th style="background-color:#77dd00;">Plan</th>*@
                            <th style="background-color:#77dd00;">Message</th>
                            <th style="background-color:#77dd00;">Action</th>
                        </tr>
                        @if (msisdnOffer != null && msisdnOffer.Count > 0)
                        {
                            foreach (var msisdn in msisdnOffer)
                            { 
                        <tr>
                            <td style="background-color:#EEEEEE;white-space: nowrap;">
                                @(msisdn.Split('#')[0])
                            </td>
                            @*<td style="background-color:#EEEEEE;">
                                @(msisdn.Split('#')[1].TrimEnd(' '))
                            </td>*@
                            <td style="background-color:#EEEEEE;">
                                <!--Please offer MaxisONE Share Plan-->
                                Eligible for MaxisONE Share
                            </td>
                            <td style="background-color:#EEEEEE;" />
                        </tr>
                            }
                        }
                        @if (!ReferenceEquals(msisdnMessage,null) && msisdnMessage.Count > 0)
                        {
                            foreach (var msisdn in msisdnMessage)
                            {
                        <tr id="@msisdn.ID">
                            <td style="background-color:#EEEEEE;white-space: nowrap;">
                                @(msisdn.MSISDN)
                            </td>
                            @*<td style="background-color:#EEEEEE;">
                                @(msisdn.PlanName)
                            </td>*@
                            <td style="background-color:#EEEEEE;">
                                @(msisdn.Message)
                            </td>
                            <td style="background-color:#EEEEEE;white-space: nowrap;">
                                <div id="accept" class="btn isell-next" style="width:49%" onclick="UpdateMsg(@msisdn.ID,this.id)">Accept</div>
                                <div id="reject" class="btn isell-btn" style="width:49%" onclick="UpdateMsg(@msisdn.ID,this.id)">Reject</div>
                            </td>
                        </tr>
                            }
                        }
                    </table>
                </center>
			</div>
            <div class="modal-footer" styse="float:none;border-top:none;">
                <center>
                    <button type="button" class="" data-dismiss="modal" style="background-color:#77dd00;width:20%;height:42px;border-radius:10px">
                        <span class="close-btn">OK</span>
                    </button>
                </center>
            </div>
		</div>
	</div>
</div>
}
@{
    //var _vd = new ViewDataDictionary();
    //_vd.Add("ApprovalType", "WO");
    //_vd.Add("FromCustomerSearch", "True");
    //Html.RenderPartial("_SpvApproval", _vd);
 }


<script type="text/javascript">
    var idCardTypeID = '';

    function UpdateMsg(ID, Action) {
        var TR = document.getElementById(ID)
        var postUrl = '@(Url.Content("~/Home/UpdatePopUpMessage"))';
        $.post(postUrl, { ID: ID, Action: Action },
                function (data) {
                    if (data == "Success") {
                        debugger;
                        TR.style.display = "none";
                        
                        return false;
                    }
                    else {
                        alert(data);
                    }
                }
            );
        return false;
    };

    $(document).ready(function () {
        if ('@hasPopUpMessage' == 'True') {
            $('#maxisONEShareOfferWindow').modal('show');
        }
        initCheckMandetoryFields('@(Passport)', '@(OldICCardTypeID)', '@(NewICCardTypeID)', '@(MSISDNCardTypeID)', '@(accountNumberCardTypeId)');

        $('#searchOptions li a').click(function (e) {
            e.preventDefault();
            $('#filterText').text($(this).text());
            idCardTypeID = $(this).data('value');
            var idType = idCardTypeID.split(',')[0];
            var idTypeID = idCardTypeID.split(',')[1];
            console.log(idTypeID);
            IdTypeChange('errorMsgPanel', idType);
            $('#idCardTypeIDSTR').val(idType);
            $('#idCardTypeIDINT').val(idTypeID);
        });

        $("input").attr("autocomplete", "off");

        if ('True' == '@ageCheckFailed') {
            alert("Age Check Failed, Customer should be at least 18 years to do registration.")
        }
    });


    function submitNumpad() {
        var postUrl = '@(Url.Content("~/Home/GetPPIDCount"))';
        var PPIDCount = '@System.Web.Configuration.WebConfigurationManager.AppSettings["PPIDCount"].ToString2()';
        var PPIDSearchErrorMsg = '@System.Web.Configuration.WebConfigurationManager.AppSettings["PPIDCountAlertMsg"].ToString2()';

        var idCardNo = $('#Customer_IDCardNo').val();
        idCardNo = $.trim(idCardNo);
        $('#Customer_IDCardNo').val(idCardNo);
        $('#idCardNo').val(idCardNo);

        var form = $("#frmHome");
        if (checkMandetoryFields(idCardNo, idCardTypeID) == true) {
            $.post(postUrl, function (data) {
                if (parseInt(data.toString()) == 1) {
                    alert(PPIDSearchErrorMsg);
                    return false;
                }
                else {
                    $('#submit1').val('searchCustIDNumber');
                    $("#frmHome").submit();
                }
            });
        }
        return false;
    }

    function IdTypeChange(id, val) {
        if (val == "MSISDN" || val == "AC") {
            $('#' + id).html('<i>Biometric check will be performed if MSISDN/Account No belongs to New IC</i>');
            $('#' + id).addClass('alert alert-info');
        }
        else {
            $('#' + id).html('');
            $('#' + id).removeClass('alert alert-info');
        }
    }


    function validateData(id, selectedid) {
    
        $('#SelectExternalId').val(selectedid);
        $('#submit1').val(id);

        var result = 'True';

        //Post the menu id
//            var postUrl = '@(Url.Content("~/Home/SaveMenuOption"))';
//            $.post(postUrl, { curMenu: "ancMenu_Mobility" }, function (data) {
//                if ('@IsDealer' == 'True') {
//                    if (!data.BREStatus && data.isMenuSuccess) {
//                        result = 'True';
//                    }
//                    else if (data.BREStatus) {
//                        var BREFailedRules = data.BREFailedRules;
//                        alert(BREFailedRules + " failed. You cannot proceed with the Registration");
//                        var postUrl1 = '@(Url.Content("~/Home/Index"))';
//                        return false;
//                    }
//                }
//                else if (data.isMenuSuccess) {
//                    result = 'True';
//                }
//            });

        if (result == 'True') {
            $.ajax({
                type: "POST",
                url: "../Home/ValidationLinesAjax",
                data: $('#frmHome').serialize(),
                datatype: "JSON",
                success: function (returndata) {
                    if (returndata.success) {
                        if (returndata.supplementaryline) {
                            if (returndata.cdpuuser == false) {
                                $('#isDeviceReqWindow').modal('show');
                            } else {
                                $('#hdnIsDeviceRequired').val('Yes');
                                $("#frmHome").submit();
                            }
                        }
                        else {
                            $("#frmHome").submit();
                        }
                    }
                    else {
                        alert("ERROR : " + returndata.message);
                    }
                }
            });
        }
    }

    $("#btnYes").click(function () {
        $('#hdnIsDeviceRequired').val('Yes');
        $("#frmHome").submit();
    });

    $("#btnNo").click(function () {
        $('#hdnIsDeviceRequired').val('No');
        $("#frmHome").submit();
    });

</script>
