﻿@model Online.Registration.Web.ViewModels.RegistrationHistory
@{
    ViewBag.Title = "ISELL Internal Kenan Logs";
    Layout = "~/Views/Shared/_NewLayout.cshtml";

    bool gotResult = false;

    gotResult = Model.KenanCallHistory != null && Model.KenanCallHistory.Count() > 0 ? true : false;
    
}
<div class="container" id="new-cus">
    <div class="isell-base">
        <section class="search-bar">
        @using (Html.BeginForm("ISellKenanLogs", "Home", FormMethod.Post, new { id = "frmHome", @class = "overlayonsubmit", processmsg = "Loading" }))
        {
            
                <div class="col-sm-12 error-msg">
                        <p id="errorMsgPanel" style="padding-left:15px;color:#ff0000;">@(ViewBag.iSellKenanError)</p>
                    </div>
                <div class="col-sm-3">
                    <p class="text-right" style="text-align: center;">Key in the Order-ID</p>
                  </div>
                <div class="col-sm-5">
                    <div class="navbar-form" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control search-box" id="inputOrderID"/>
                        @Html.HiddenFor(m => m.orderID)
                        <button type="submit" class="btn btn-defadivt search-icon" onclick="return submitNumpad();"></button>
                        <p id="errmsg"/>
                    </div>
                    </div>
                </div>
                <div class="col-sm-4">
                </div>
            
        }
        </section>
    </div>
    @if (Model.orderID > 0)
    {
            <div class="">
                    
                @if (!gotResult)
                {
                    <div class="row">
                        <div class="col-xs-12 new-user-error">
                            <h1>No result found for order ID : </h1><h3>@Model.orderID</h3>
                        </div>
                    </div>
                }
                else
                { 
                    <div class="row">
                        <div class="col-xs-12">
                        <h1>Search result for order ID : </h1><h3>@Model.orderID</h3>
                        </div>
                        <table id="kenan-log-detail-tbl"class="table table-striped table-bordered table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Ext_Order_ID</th>
                                    <th>Method</th>
                                    <th>Request</th>
                                    <th>Response</th>
                                </tr>
                                </thead>
                            <tbody>
                                @{
                                        foreach (var kenanDetails in Model.KenanCallHistory)
                                        {
                                            var rowClass = kenanDetails.MessageCode != "0" ? "danger" : "";
                                            var rowsHeight = kenanDetails.KenanXmlReq.Count() < 750 ? "18" : kenanDetails.KenanXmlReq.Count() < 1000 ? "30" : "50";
                                            <tr id = "kenan-log-detail-tr" class="@rowClass">
                                                <td>@kenanDetails.MessageCode</td>
                                                <td>@kenanDetails.MessageDesc</td>
                                                <td>@kenanDetails.EXT_ORDER_ID</td>   
                                                <td>@kenanDetails.MethodName</td>
                                                <td><textarea class="xml-format" style="resize:none" rows="@rowsHeight" cols="75" readonly>@kenanDetails.KenanXmlReq</textarea></td>
                                                <td><textarea class="xml-format" style="resize:none" rows="@rowsHeight" cols="65" readonly>@kenanDetails.KenanXmlRes</textarea></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                        </table>
                    </div>
                }
            </div>
        
    }
    
</div>
<script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/js/vkbeautify.js")"></script>
<script type="text/javascript">

    function submitNumpad() {
        //debugger;
        var orderID = $('#inputOrderID').val();
        if (orderID == null || orderID == '') {
            alert('Please check your order id');
            return false;
        }else {
            $('#orderID').val(orderID);
            return true;
        }
    }

    $(document).ready(function () {
        //called when key is pressed in textbox
        $('#inputOrderID').keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && e.which != 13 && (e.which < 48 || e.which > 57)) {
                //display error message
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });

        $('.xml-format').each(function (i, e) {
            debugger;
            var unformatted = $(this).text();
            var newformat = vkbeautify.xml(unformatted);
            $(this).text(newformat);
        });
    });

</script>
