﻿@{
    ViewBag.Title = "Media Gallery";
}

<div class="vwHeader">
    <table width="100%">
        <tr>
            <td>
                <div>@ViewBag.Title</div>
                <div class="vwSubHeader">@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<div class="viewInnerBody">
    <div style="font-size:x-large;padding:10px 0px 10px 0px;">TV Commercials</div>
    @*<div style="font-size:large;padding:10px 0px 10px 0px;">Maxis Postpaid Plans TVC 2012</div>*@
    <iframe width="640" height="360" src="http://www.youtube.com/embed/k1t-i5CXrQQ?feature=player_profilepage" frameborder="0" ></iframe>
    <br /><br /><br />
    <div style="font-size:x-large;padding:10px 0px 10px 0px;">Product Information</div>
    @*<div style="font-size:large;padding:10px 0px 10px 0px;">Apple iPhone 4S Official Commercial</div>*@
    <iframe width="640" height="360" src="http://www.youtube.com/embed/KxvRvry09Yo" frameborder="0" ></iframe>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#menuMediaGallery').css("background-image", $('#menuMediaGallery').css("background-image").replace(".png", "_hover.png"));
        });
    </script>
}
