﻿@{
    ViewBag.Title = "Mobility Services";
}
<div class="vwHeader">
    <table width="100%">
        <tr>
            <td style="width: 580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<div class="viewInnerBody">
    <center>
        <h2>
            <img src="@Url.Content("~/Content/images/MobilityServices_Landing.jpg")" alt="Mobility Services" />
        </h2>
    </center>
</div>
