﻿

<div class="modal-content">
<div class="modal-body">
    <form>
    <div class="form-group">
        <label for="queueNumber" class="control-label">
            Queue Number:</label>
        <textarea class="form-control" id="qNumber" style="resize:none"></textarea>
    </div>
    <div class="form-group">
        <label for="msisdnNumber" class="control-label">
            MSISDN:</label>
        <textarea class="form-control" id="mNumber" style="resize:none"></textarea>
    </div>
    <div class="form-group">
        <label for="customerName" class="control-label">
            Name:</label>
        <textarea class="form-control" id="custName" style="resize:none"></textarea>
    </div>
    <div class="form-group">
        <label for="visitingReason" class="control-label">
            Reason:</label>
        <textarea class="form-control" id="visitReason" style="resize:none"></textarea>
    </div>
    </form>
        <button type="button" class="btn btn-primary" id="submit">Submit</button>
        @*<button type="button" class="btn btn-primary" id="send123">Submit</button>*@
</div>


<script type="text/javascript">

    window.onload = function () {
        debugger;

        function receiveMessage(e) {
            debugger;
            if (e.origin !== "http://localhost:998") {
                return;
            }

            var queueNo = e.data.split('|')[1];
            var msisdnNo = e.data.split('|')[2];
            var custName = e.data.split('|')[3];
            var visitReason = e.data.split('|')[4];

            document.getElementById("qNumber").innerHTML = queueNo.toString();
            document.getElementById("mNumber").innerHTML = msisdnNo.toString();
            document.getElementById("custName").innerHTML = custName.toString();
            document.getElementById("visitReason").innerHTML = visitReason.toString();

        }

        window.addEventListener('message', receiveMessage);

    };

    //        window.location.reload(false);

//    $(document).ready(function () {

//        debugger;

//        var parameters = window.location.search;
//        if (parameters != '') {
//            parameters = parameters.split("%20").join(" ");
//            var queueNo = parameters.split('|')[1];
//            var msisdnNo = parameters.split('|')[2];
//            var custName = parameters.split('|')[3];
//            var visitReason = parameters.split('|')[4];

//            var url = '@(Url.Content("~/Registration/storeQMSParam"))';
//            $.post(url, {
//                queueNo: queueNo,
//                msisdnNo: msisdnNo,
//                custName: custName,
//                visitReason: visitReason
//            }, function (data) {
//                debugger;

//                var test = data;
//                var test2 = data.msisdnNo;
//                var dataJson = jQuery.parseJSON(data);
//                var qNumber = dataJson[0];
//                var mNumber = dataJson[1];
//                var custName = dataJson[2];
//                var visitReason = dataJson[3];

//                //            $('#qNumber').html("Please Enter Justification For - " + qNumber);
//                //            $('#mNumber').html(mNumber);
//                //            $('#custName').html(custName);
//                //            $('#visitReason').html(visitReason);

//                document.getElementById("qNumber").innerHTML = "this is your queue " + qNumber;
//                document.getElementById("mNumber").innerHTML = mNumber;
//                document.getElementById("custName").innerHTML = custName;
//                document.getElementById("visitReason").innerHTML = visitReason;

//            }, "text");
//        }

//    });

</script>
