﻿@using Online.Registration.Web.Helper
@{
ViewBag.Title = "Store Error";
}
<table>
<tr>
<td>
@*<p class='alerttitle'>@Html.Raw(Util.SessionErrMsg.Replace(Environment.NewLine, "<br />"))</p>
@{ Util.SessionErrMsg = ""; }*@

Sorry, Unable to recieve Device Information from Store, Try after some time or try with other options.
<br />
@*<p>
<input type="submit" value="Click to Continue" onclick="@Url.Action("ErrorLogout")"/>
</p>*@
</td>
</tr>
</table>