﻿@using Online.Registration.Web.Helper;
@using Online.Registration.Web.Properties;
@using Online.Registration.Web.Controllers;
@using Online.Registration.Web.Helper;
@using Online.Registration.Web.CommonEnum;
@{
    ViewBag.Title = "SupplementaryLinePopUp";
    ///GET THE retrieveAcctListByICResponse TYPE OF OBJECT FROM SESSION IF PPID="E" FOLLOWING SHOULD BE AVAILABLE    
    retrieveAcctListByICResponse AcctListByICResponse = null;
    if (!ReferenceEquals( Session[SessionKey.PPIDInfo.ToString()], null))
    {
        AcctListByICResponse = (retrieveAcctListByICResponse) Session[SessionKey.PPIDInfo.ToString()];
    }
    ///Check  Session[SessionKey.PPID.ToString()] IF IT CONTAINS 'E' IF EXISTING SET IsExistingUser TO TRUE AGAIN CHECK IF AcctListByICResponse IS NULL THEN SET IT TO FALSE AS NO DATA TO DISPLAY
    bool IsExistingUser = false;
    if (!ReferenceEquals( Session[SessionKey.PPID.ToString()], null) && !string.IsNullOrWhiteSpace(Convert.ToString( Session[SessionKey.PPID.ToString()])))
    {
        IsExistingUser = "E".Equals(Convert.ToString( Session[SessionKey.PPID.ToString()])) ? true : false;
        IsExistingUser = !ReferenceEquals( Session[SessionKey.PPIDInfo.ToString()], null) ? true : false;
    }
    string msnid = string.Empty;
    string accid = string.Empty;
    if (!ReferenceEquals(ViewBag.msnid, null))
    {
        msnid = ViewBag.msnid;
    }
    if(!ReferenceEquals(ViewBag.accid,null))
    {
        accid = ViewBag.accid;
    }
}
<h2>
    Supplementary Lines</h2>
@if (IsExistingUser && !string.IsNullOrWhiteSpace(msnid))
{
    int count = 0;
    if (!ReferenceEquals(AcctListByICResponse, null) && !ReferenceEquals(AcctListByICResponse.itemList.Where(c => c.PrinSuppResponse != null).ToList(), null))
    {
        ///GET THE MATCHING ACCOUNTS WITH MSISDN AND DISPLAY CORRESPONDING SUPPLEMENTARY LIST FROM ATTACHED OBJECTS
        foreach (var v in AcctListByICResponse.itemList.Where(c => c.ExternalId == msnid).ToList().Select(i => i.PrinSuppResponse.itemList.ToList()))
        {

            for (int i = 0; i <= v.Count - 1; i++)
            {    
                <pre>
                A/c Number :@accid
                Customer Name :@v[i].cust_nmField         
                Msisdn :@v[i].msisdnField
                Print Supp ind :@v[i].prinsupp_indField
                Subscriber No :@v[i].subscr_noField
                <br />
                </pre>
                count++;
            }

        }

        if (count == 0)
        {
            <pre>Only Principle Account Exists
            <br />No Supplementary Line Available for this User
            </pre>
        }
    }

}
else
{
    <pre> No Supplementary Lines Exists</pre>
}
@*Subscriber No of resets:@v[i].subscr_no_resetsField
Subscriber Status:@v[i].subscr_statusField
*@ 