﻿@using SNT.Utility;
@using System.Configuration;
@using Online.Registration.Web.Helper;
@using System.Web.Security;
@using Online.Registration.Web.ViewModels;
@using Online.Registration.Web.Models;
@using Online.Registration.DAL.Models;
@model Online.Registration.Web.ViewModels.TacAuditLogVM
@{
    ViewBag.Title = "ISELL Internal TAC Audit Log";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    var fromIpad = Request.Headers["User-Agent"].ToLower().Contains("ipad");
    var containerClass = fromIpad ? "container-fluid ipad-container" : "container";
    var rowCount = System.Configuration.ConfigurationManager.AppSettings.Get("TacAuditLogRowCount").ToInt();
}

<div class="@containerClass">
    <div class="isell-base">
    <h5>Showing : @rowCount record(s)</h5>
    <div class="row">
        <table id="kenan-log-detail-tbl"class="table table-striped table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>MSISDN</th>
                    <th>TAC Number</th>
                    <th>Time stamp</th>
                    <th>Requested By</th>
                </tr>
                </thead>
            <tbody>
                @{
                        foreach (var tacDetails in Model.TacAuditLogList)
                        {
                            <tr id = "kenan-log-detail-tr">
                                <td>@tacDetails.CustomerID</td>
                                <td>@tacDetails.MSISDN</td>
                                <td>@tacDetails.Tac</td>   
                                <td>@tacDetails.TacGeneratedDT</td>
                                <td>@tacDetails.PerformedBy</td>
                            </tr>
                        }
                    }
                </tbody>
        </table>

    </div>

    </div>
</div>