﻿@{
    ViewBag.Title = "Transaction status";
    Layout = "~/Views/Shared/_SubmitLayout.cshtml";
}
@model int
<div>
    <table width="100%">
        <tr>
            <td style="width: 580px">
                <div>@ViewBag.Title</div>
            </td>
        </tr>
    </table>
</div>
<div>
    @using (Html.BeginForm())
    {
        if(Model==1)
        {
           <h3>
            Transaction has been Aborted<br />            
        </h3> 
        }
        else if (Model == 2)
        {
            <h3>
            Error to process the request<br />            
        </h3>
        }
        else if (Model == 3)
        {
            <h3>
            Transaction has been Voided.<br />            
        </h3>
        }
        else if(Model==4)
        {            
            <h3>
            Transaction has been Retrned.<br />            
        </h3>
        }
        else 
        {
            <h3>
            Error to process the request<br />            
        </h3>
        }
        
        
    }
</div>
