﻿@using Online.Registration.Web.Helper;
@using SNT.Utility;
@using Online.Registration.Admin.Models

@model UpdateViewStatusReasonModel

@{
    ViewBag.Title = "Edit Status Reason";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Edit:</legend>
        @Html.HiddenFor(model => model.StatusReason.ID)
        <table>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.StatusReason.ID)
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(model => model.StatusReason.ID)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.StatusReason.Code)
                    </div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.StatusReason.Code, new { @style = "width:100px" })
                    @Html.ValidationMessageFor(model => model.StatusReason.Code)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px">
                        @Html.LabelFor(model => model.StatusReason.Name)
                    </div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.StatusReason.Name, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.StatusReason.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.StatusReason.CreateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.StatusReason.CreateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.StatusReason.CreateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.StatusReason.LastUpdateDT)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.StatusReason.LastUpdateDT, new { @readonly = true, @disabled = true, @Value = Util.FormatDateTime(Model.StatusReason.LastUpdateDT), @style = "width:250px" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.StatusReason.LastAccessID)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.StatusReason.LastAccessID, new { @readonly = true, @disabled = true, @style = "width:250px" })
                </td>
            </tr>
           <tr>
                <td>
                    @Html.LabelFor(model => model.StatusReason.Active)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.StatusReason.Active) 
                    @Html.ValidationMessageFor(model => model.StatusReason.Active)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" name="submit" value="Save">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
    if (Model.StatusReason.Active == true)
    {
<br />
    <div class="header">
        <h3>Status Reason Code List</h3>
    </div>
    <a class="t-button t-button-icontext" href="@Url.Action("Create", "StatusReasonCode", new { statusReasonID = Model.StatusReason.ID, type = RefType.StatusReason })">
        <span class="t-icon t-add"></span>Add New</a>
    <br /><br />
    @Html.HiddenFor(model => model.StatusReason.ID)
        Html.Telerik().Grid<StatusReasonCodeSearchResults>(Model.StatusReasonCode).Name("gvwStatusReasonCode")
            .Sortable()
            .Columns(cols =>
            {
                cols.Command(command => command
                    .Custom("Edit")
                    .Text("Edit")
                    .DataRouteValues(route => route.Add(a => a.StatusReasonCodeID).RouteKey("id"))
                    .DataRouteValues(route => route.Add(a => a.Type).RouteKey("type"))
                    .SendState(false)
                    .Action("Edit", "StatusReasonCode"))
                    .HtmlAttributes(new { style = "text-align: center" })
                    .Width(90)
                    .Title("Action");
                cols.Bound(m => m.Status).Title("Status").Width(200);
                //cols.Bound(m => m.ReasonCode).Title("Reason Code");
                //cols.Bound(m => m.Remark).Title("Remark");
                cols.Bound(m => m.ActiveCheckBox).Title("Active").Width(8).Encoded(false);
                cols.Bound(m => m.CreateDT).Title("Created On");
                cols.Bound(m => m.LastUpdateDT).Title("Last Updated");
                cols.Bound(m => m.LastAccessID).Title("Last Access");
            })
            .DataBinding(binding => binding.Ajax().OperationMode(GridOperationMode.Client))
            .Pageable(paging => paging.PageSize(Util.GridRowsPerPage))
            .Render();
    }
}