﻿<table width="750" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
  <tr>
    <td>[Logo]</td>
  </tr>
  <tr>
    <td><table width="750" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333; line-height:18px;">
               <table width="500" border="0" cellspacing="0" cellpadding="0" style="font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:13px; color:#000000; line-height:18px; margin-left:120px;">
                   <tr>
                     <td width="190">
                        <strong>Your Service</strong>
                           </td>
                             <td width="242"></td>
                                </tr>
                                <tr><td>Customer Name	:</td><td>[Salutation] [CustomerName]</td></tr>
                                <tr><td>Maxis Mobile Phone No.	:</td><td><strong>[MobileNumber]</strong></td></tr>
                                <tr><td>Billing Address	:</td><td>[Address1]</td></tr>
                                [Address2]
                                [Address3]
                                <tr><td>&nbsp;</td><td>[Postcode] [City]</td></tr>

                                <tr><td>&nbsp;</td><td>[State]</td></tr>
                                <tr><td>&nbsp;</td><td></td></tr>          
                                <tr><td><strong>Your Account</strong></td><td></td></tr>
                                <tr><td>Account No.	:</td><td><strong>[KenanAccountNumber]</strong></td></tr>
                                <tr><td>Smart card (SIM) Serial No.	:</td><td>[SimSerialNumber]</td></tr>
                                <tr><td>Credit Limit :</td><td>[CreditLimit]</td></tr>
                                <tr><td>&nbsp;</td><td></td></tr>
                                <tr><td><strong>Your Rate Plan	:</strong></td><td><strong>[PlanName]</strong><br /></td></tr>                
                                <tr><td>Monthly commitment fees (RM)	:</td><td>[MonthlySubscription]*</td></tr>
                                <tr><td>Subscription tenure (months)	:</td><td>[TenureLength]</td></tr>                    
                                <tr><td>Start Date	:</td><td>[ActivationDate]</td></tr>   
                            </table>
        </td>
        </tr>
	    <tr>
		    <td>
			    <table cellspacing="0" cellpadding="0" border="0" width="100%">
		        <tbody><tr>
                <td>&nbsp;</td>
                <td align="center" valign="top">&nbsp;</td>
                <td>&nbsp;</td>
                </tr>
		            <tr>
                <td>&nbsp;</td>
                <td align="center" valign="top">&nbsp;</td>
                <td>&nbsp;</td>
                </tr>
		            <tr>
                <td>&nbsp;</td>
                <td align="center" valign="top"><img src="[ECMDomainURL]Email/images/content2.jpg" width="604" height="308" alt=""/></td>
                <td>&nbsp;</td>
                </tr>
		            <tr>
                <td>&nbsp;</td>
                <td align="center" valign="top">		<tr>
            <td colspan="3">
				<table cellspacing="0" cellpadding="0" border="0" width="100%">
					<tbody>
					<tr>
						<td width="78" valign="bottom" align="left"><img src="[ECMDomainURL]Email/images/bg5.jpg" /></td>
						<td width="580" valign="top"><table cellspacing="0" cellpadding="0" border="0" width="100%">
						  <tbody><tr>
							<td><table cellspacing="0" cellpadding="0" border="0" width="100%">
							  <tbody><tr style="font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:13px; color:#000000;">
								<td width="225"><b>Your Service</b></td>
								<td></td>
							  </tr>
							</tbody></table></td>
						  </tr>
						  <tr>
							<td valign="bottom" style="font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#1d1d1b">
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
							  <tbody><tr>
								<td width="14" height="15"><img width="14" height="15" alt="" src="[ECMDomainURL]Email/images/left-top.gif"></td>
								<td style="border-top:1px solid #50ff2c"><img width="1" height="1" alt="" src="[ECMDomainURL]Email/images/spacer.gif"></td>
								<td width="14"><img width="14" height="15" alt="" src="[ECMDomainURL]Email/images/right-top.gif"></td>
								<td width="14">&nbsp;</td>
							  </tr>
                              <tr>
								<td style="border-left:1px solid #50ff2c">&nbsp;</td>
								<td valign="top">
									<table style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
										<tr>
											<td valign="top" width="33%">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tbody style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
                                                        <tr>
                                                          <td colspan="2"><strong>Call Services</strong></td>
                                                        </tr>
                                                        [CallServices]

                                                    </tbody>
                                                </table>
												<br>
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tbody style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
                                                        <tr>
                                                          <td colspan="2"><strong>Value Extras</strong></td>
                                                        </tr>
                                                        [ValueExtras]

                                                    </tbody>
                                                </table>											
                                                <br/>
											</td>
											<td valign="top" width="33%">												
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tbody style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
                                                        <tr>
                                                          <td colspan="2"><strong>Call Management Services</strong></td>
                                                        </tr>
                                                        [CallManagementServices]

                                                    </tbody>
                                                </table>											
                                                <br>
											</td>
											<td valign="top">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <tbody style="font-family:Arial, Helvetica, sans-serif; font-size:12px;">
                                                        <tr>
                                                          <td colspan="2"><strong>Data Services</strong></td>
                                                        </tr>
                                                        [DataServices]

                                                    </tbody>
                                                </table>											
                                                <br/>
											</td>
										</tr>
									</table>
								</td>
								<td style="border-right:1px solid #50ff2c">&nbsp;</td>
								<td width="100px">&nbsp;</td>
							  </tr>
                              <tr>
								<td height="15"><img width="14" height="15" alt="" src="[ECMDomainURL]Email/images/left-bot.gif"></td>
								<td style="border-bottom:1px solid #50ff2c"><img width="1" height="1" alt="" src="[ECMDomainURL]Email/images/spacer.gif"></td>
								<td><img width="14" height="15" alt="" src="[ECMDomainURL]Email/images/right-bot.gif"/></td>
								<td>&nbsp;</td>
							  </tr>
                              <tr>
								<td height="15">&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							  </tr>
                              <tr>
								<td height="15">&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							  </tr>
                              <tr>
								<td height="15">&nbsp;</td>
								<td><span style="font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:13px; color:#000000; line-height:18px;">Please don’t hesitate to share your feedback with us as we continue on this journey together. We look forward to delivering the best customer experience for you.<br><br>

Thank you for choosing Maxis.<br />
                                    <br />
                                    <br />
                                    </span></td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							  </tr>
                              <tr>
								<td height="15">&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							  </tr>
							</tbody></table>
                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                    <tbody>
                                        <tr height="122">
                                            <td colspan="3" valign="bottom">
                                                <img src="[ECMDomainURL]Email/images/bg6.jpg" />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
						  </tr>
						</tbody></table></td>
						<td>&nbsp;</td>
					  </tr>
					</tbody>
				</table>
			</td>
		</tr>

		        </tbody>
                </table>
            </td>
        </tr>

    </table>
    </td>
  </tr>
</table>