﻿@using SNT.Utility;
@using Online.Registration.Web.Helper;

@model Online.Registration.DAL.Models.Organization

@{
    ViewBag.Title = "Add Organization";
}
<div class="header">
    <h2>
        @ViewBag.Title
    </h2>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend style="margin-right: 500px">Add:</legend>
        <table>
            <tr>
                <td>
                    <div style="width: 100px;">
                        @Html.LabelFor(model => model.OrgTypeID)</div>
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => Model.OrgTypeID).BindTo(Util.GetList(RefType.OrgType, defaultValue:"")))
                    @Html.ValidationMessageFor(model => model.OrgTypeID)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px;">@Html.LabelFor(model => model.Code)</div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Code, new { @style = "width:100px" })
                    @Html.ValidationMessageFor(model => model.Code)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px;">
                        @Html.LabelFor(model => model.DealerCode)</div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.DealerCode, new { @style = "width:100px" })
                    @Html.ValidationMessageFor(model => model.DealerCode)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px;">
                        @Html.LabelFor(model => model.Name)</div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Name, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px;">
                        @Html.LabelFor(model => model.Description)</div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Description, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.Description)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px;">
                        @Html.LabelFor(model => model.AddrLine1)</div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.AddrLine1, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.AddrLine1)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px;">
                        @Html.LabelFor(model => model.AddrLine2)</div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.AddrLine2, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.AddrLine2)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px;">
                        @Html.LabelFor(model => model.Postcode)</div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Postcode, new { @style = "width:100px" })
                    @Html.ValidationMessageFor(model => model.Postcode)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px;">
                        @Html.LabelFor(model => model.TownCity)</div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.TownCity, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.TownCity)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.StateID)
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => Model.StateID).BindTo(Util.GetList(RefType.State, defaultValue:"")))
                    @Html.ValidationMessageFor(model => model.StateID)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.CountryID)
                </td>
                <td>
                    @(Html.Telerik().DropDownListFor(model => Model.CountryID).BindTo(Util.GetList(RefType.Country, defaultValue:"")))
                    @Html.ValidationMessageFor(model => model.CountryID)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px;">
                        @Html.LabelFor(model => model.PersonInCharge)</div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.PersonInCharge, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.PersonInCharge)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px;">
                        @Html.LabelFor(model => model.ContactNo)</div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.ContactNo, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.ContactNo)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px;">
                        @Html.LabelFor(model => model.FaxNo)</div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.FaxNo, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.FaxNo)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px;">
                        @Html.LabelFor(model => model.MobileNo)</div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.MobileNo, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.MobileNo)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px;">
                        @Html.LabelFor(model => model.EmailAddr)</div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.EmailAddr, new { @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.EmailAddr)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px;">
                        @Html.LabelFor(model => model.SAPBranchCode)</div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.SAPBranchCode, new { @style = "width:100px" })
                    @Html.ValidationMessageFor(model => model.SAPBranchCode)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px;">
                        @Html.LabelFor(model => model.KenanRegCode)</div>
                </td>
                <td>
                    @Html.TextBoxFor(model => model.KenanRegCode, new { @style = "width:100px" })
                    @Html.ValidationMessageFor(model => model.KenanRegCode)
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100px;">
                        @Html.LabelFor(model => model.IsHQ)</div>
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.IsHQ)
                    @Html.ValidationMessageFor(model => model.IsHQ)
                </td>
            </tr>
        </table>
    </fieldset>
    <div style="margin: 10px 0px 0px 20px;">
        <button class="t-button t-button-icon" type="submit" name="submit" value="Save">
            <span class="t-icon t-update"></span>Save</button>
        <button class="t-button t-button-icon cancel" type="submit" value="Cancel" name="submit">
            <span class="t-icon t-cancel"></span>Cancel</button>
    </div>
}