﻿@using Online.Registration.Web.CustomExtension

@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.ChangeMSISDNNewOrderSmVM

@Html.Partial("_NewOrderSummaryDetailCustInfo", Model.NewOrder)

<div class="row details paddingbtm">
    <div class="col-sm-6">
        <div class="col-sm-12 kill-padding">
            <p class="inner-title">Service Information</p>
        </div>
        <!--Start Account number-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">Account No.</p>
        </div>
        <div class="col-sm-2">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n => n.NewOrder.AccNum)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start From MSISDN-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">From MSISDN</p>
        </div>
        <div class="col-sm-2">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n=>n.NewOrder.Msisdn)</p>
        </div>
        <div class=" clearfix"></div>
        <!--Start New MSISDN-->
        <div class="col-sm-4 kill-padding">
            <p class="inner-label">New MSISDN</p>
        </div>
        <div class="col-sm-2">:</div>
        <div class="col-sm-6 kill-padding">
            <p class="inner-content">@Html.DisplayFor(n=>n.NewOrder.NewMSISDN)</p>
        </div>
        <div class="col-sm-12">
            &nbsp;
        </div>
    </div>
</div>
<!--Start Term and condition-->
<div class="row border-top">
    @Html.EditorFor(n=>n.TermAndCondition,"TermAndCondition")
</div>
