﻿@using Online.Registration.Web.ViewModels.Common
@using Online.Registration.Web.CustomExtension
@model Online.Registration.Web.Areas.ServiceRequest.ViewModels.ChangeMSISDNNewOrderVM
@functions{
    object getReadOnlyTbHtmlAttribute()
    {
        return new { @class = "form-control search-num", @readonly = "readonly" };
    }
    object getTbHtmlAttribute()
    {
        return new { @class = "form-control search-num" };
    }
}
<div class="row border-top even">
    <div class="col-sm-12 form paddingOverall">
        <!-- Start Name -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Name</p>
            </div>
            <div class="col-sm-4">
                <p class="inner-content">
                    @Html.TextBoxFor(model => model.CustName, @getReadOnlyTbHtmlAttribute())
                </p>
            </div>
        </div>
        <!-- Start Identity Type -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*Identification</p>
            </div>
            <div class="col-sm-4">
                <div class="input-group-btn number-type">
                    @Html.CustomDropDownListFor(model => model.IdType, StaticListVM.Instance.IdTypList, new { @disabled = "disabled" })
                </div>
            </div>
            <div class="col-sm-2">
                <p class="inner-label">*Number</p>
            </div>
            <div class="col-sm-3">
                <p class="inner-content">
                    @Html.TextBoxFor(model => model.IdNum, @getReadOnlyTbHtmlAttribute())
                </p>
            </div>
        </div>
        <!-- Start From MSISDN -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*From MSISDN</p>
            </div>
            <div class="col-sm-4">
                <div class="input-group-btn number-type">
                    @Html.CustomDropDownListFor(model => model.Msisdn, Model.MSISDNList.ToSelectList())
                </div>
            </div>
        </div>
        <!-- Start New MSISDN -->
        <div class="row">
            <div class="col-sm-3">
                <p class="inner-label">*New MSISDN</p>
            </div>
            <div class="col-sm-4">
                <p class="inner-content">
                    @Html.TextBoxFor(model => model.NewMSISDN, @getTbHtmlAttribute())
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row border-top">
    @Html.EditorFor(model => model.UploadDoc, "UploadDocuments")
</div>
